{
  "swagger": "2.0",
  "info": {
    "title": "AzureStackHCI",
    "description": "The Microsoft.AzureStackHCI Rest API spec.",
    "version": "2024-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/networkInterfaces/{networkInterfaceName}": {
      "get": {
        "operationId": "NetworkInterfaces_Get",
        "description": "Gets a network interface",
        "x-ms-examples": {
          "GetNetworkInterface": {
            "$ref": "./examples/GetNetworkInterface.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkInterfaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaces"
            }
          }
        }
      },
      "put": {
        "operationId": "NetworkInterfaces_CreateOrUpdate",
        "description": "The operation to create or update a network interface. Please note some properties can be set only during network interface creation.",
        "x-ms-examples": {
          "PutNetworkInterface": {
            "$ref": "./examples/PutNetworkInterface.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkInterfaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkInterfaces",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkInterfaces"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaces"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaces"
            }
          }
        }
      },
      "delete": {
        "operationId": "NetworkInterfaces_Delete",
        "description": "The operation to delete a network interface.",
        "x-ms-examples": {
          "DeleteNetworkInterface": {
            "$ref": "./examples/DeleteNetworkInterface.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkInterfaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No content"
          }
        }
      },
      "patch": {
        "operationId": "NetworkInterfaces_Update",
        "description": "The operation to update a network interface.",
        "x-ms-examples": {
          "UpdateNetworkInterface": {
            "$ref": "./examples/UpdateNetworkInterface.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkInterfaceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "networkInterfaces",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkInterfacesUpdateRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkInterfaces"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_List",
        "description": "Lists all of the network interfaces in the specified resource group. Use the nextLink property in the response to get the next page of network interfaces.",
        "x-ms-examples": {
          "ListNetworkInterfaceByResourceGroup": {
            "$ref": "./examples/ListNetworkInterfaceByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkInterfacesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureStackHCI/networkInterfaces": {
      "get": {
        "operationId": "NetworkInterfaces_ListAll",
        "description": "Lists all of the network interfaces in the specified subscription. Use the nextLink property in the response to get the next page of network interfaces.",
        "x-ms-examples": {
          "ListNetworkInterfaceBySubscription": {
            "$ref": "./examples/ListNetworkInterfaceBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/NetworkInterfacesListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "InterfaceDNSSettings": {
      "type": "object",
      "properties": {
        "dnsServers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of DNS server IP Addresses for the interface"
        }
      }
    },
    "NetworkInterfaceProperties": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "ipConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPConfiguration"
          },
          "description": "IPConfigurations - A list of IPConfigurations of the network interface.",
          "x-ms-identifiers": []
        },
        "macAddress": {
          "type": "string",
          "description": "MacAddress - The MAC address of the network interface."
        },
        "dnsSettings": {
          "$ref": "#/definitions/InterfaceDNSSettings",
          "description": "DNS Settings for the interface"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the network interface.",
          "readOnly": true,
          "enum": [
            "Succeeded",
            "Failed",
            "InProgress",
            "Accepted",
            "Deleting",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningStateEnum",
            "modelAsString": true
          }
        },
        "status": {
          "$ref": "#/definitions/NetworkInterfaceStatus"
        }
      },
      "description": "Properties under the network interface resource"
    },
    "NetworkInterfaceStatus": {
      "type": "object",
      "x-ms-client-flatten": true,
      "readOnly": true,
      "properties": {
        "errorCode": {
          "type": "string",
          "description": "NetworkInterface provisioning error code"
        },
        "errorMessage": {
          "type": "string",
          "description": "Descriptive error message"
        },
        "provisioningStatus": {
          "type": "object",
          "properties": {
            "operationId": {
              "type": "string",
              "description": "The ID of the operation performed on the network interface"
            },
            "status": {
              "type": "string",
              "description": "The status of the operation performed on the network interface [Succeeded, Failed, InProgress]",
              "enum": [
                "Succeeded",
                "Failed",
                "InProgress"
              ],
              "x-ms-enum": {
                "name": "Status",
                "modelAsString": true
              }
            }
          }
        }
      },
      "description": "The observed state of network interfaces"
    },
    "IPConfiguration": {
      "type": "object",
      "x-ms-client-flatten": true,
      "properties": {
        "name": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,78}[_a-zA-Z0-9]$",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "description": "Name - The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "properties": {
          "type": "object",
          "properties": {
            "gateway": {
              "type": "string",
              "readOnly": true,
              "description": "Gateway for network interface"
            },
            "prefixLength": {
              "type": "string",
              "readOnly": true,
              "description": "prefixLength for network interface"
            },
            "privateIPAddress": {
              "type": "string",
              "description": "PrivateIPAddress - Private IP address of the IP configuration."
            },
            "subnet": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID - The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/..."
                }
              },
              "description": "Subnet - Name of Subnet bound to the IP configuration."
            }
          },
          "description": "InterfaceIPConfigurationPropertiesFormat properties of IP configuration."
        }
      },
      "description": "InterfaceIPConfiguration iPConfiguration in a network interface."
    },
    "NetworkInterfaces": {
      "type": "object",
      "description": "The network interface resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkInterfaceProperties"
        },
        "extendedLocation": {
          "$ref": "./common.json#/definitions/ExtendedLocation",
          "description": "The extendedLocation of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NetworkInterfacesUpdateRequest": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "description": "The network interface resource patch definition."
    },
    "NetworkInterfacesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkInterfaces"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "NetworkInterfaceNameParameter": {
      "name": "networkInterfaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-._a-zA-Z0-9]{0,78}[_a-zA-Z0-9]$",
      "x-ms-parameter-location": "method",
      "maxLength": 80,
      "minLength": 1,
      "description": "Name of the network interface"
    }
  }
}
