{
  "swagger": "2.0",
  "info": {
    "title": "FeatureManagementClient",
    "description": "Feature provider",
    "version": "2020-09-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Features/featureProviderNamespaces/{providerNamespace}/featureConfigurations/{featureName}": {
      "get": {
        "description": "Returns a feature configuration",
        "operationId": "FeatureConfigurations_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/FeatureNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature Configuration.",
            "schema": {
              "$ref": "#/definitions/FeatureConfiguration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a feature registration": {
            "$ref": "./examples/FeatureConfiguration/FeatureConfigurationGET.json"
          }
        }
      },
      "put": {
        "description": "Create or update a feature configuration.",
        "operationId": "FeatureConfigurations_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/FeatureNameParameter"
          },
          {
            "name": "FeatureConfiguration",
            "description": "Feature Configuration details.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/FeatureConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The feature configuration is created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/FeatureConfiguration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates a feature registration": {
            "$ref": "./examples/FeatureConfiguration/FeatureConfigurationPUT.json"
          }
        }
      },
      "delete": {
        "description": "Deletes a feature configuration",
        "operationId": "FeatureConfigurations_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          },
          {
            "$ref": "#/parameters/FeatureNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The feature configuration has been deleted successfully."
          },
          "204": {
            "description": "The feature configuration has been deleted already."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a feature registration": {
            "$ref": "./examples/FeatureConfiguration/FeatureConfigurationDELETE.json"
          }
        }
      }
    },
    "/providers/Microsoft.Features/featureProviderNamespaces/{providerNamespace}/featureConfigurations": {
      "get": {
        "description": "Returns feature configurations for given provider namespace.",
        "operationId": "FeatureConfigurations_ListByProviderNamespace",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProviderNamespaceParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Feature Configurations.",
            "schema": {
              "$ref": "#/definitions/FeatureConfigurationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets a list of feature registrations": {
            "$ref": "./examples/FeatureConfiguration/FeatureConfigurationLIST.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ProxyResource": {
      "description": "An Azure proxy resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "FeatureConfiguration": {
      "type": "object",
      "description": "Feature configuration details",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "properties": {
            "provisioningState": {
              "type": "string",
              "readOnly": true,
              "description": "The provisioning state."
            },
            "providerNamespace": {
              "type": "string",
              "readOnly": true,
              "description": "The provider namespace."
            },
            "featureName": {
              "type": "string",
              "readOnly": true,
              "description": "The feature name."
            },
            "displayName": {
              "type": "string",
              "description": "The featureDisplayName."
            },
            "featureNotes": {
              "type": "string",
              "description": "The featureNotes."
            },
            "ownerEmails": {
              "type": "string",
              "description": "The ownerEmails."
            },
            "featureScope": {
              "description": "The featureScope.",
              "enum": [
                "Subscription",
                "Tenant"
              ],
              "x-ms-enum": {
                "name": "FeatureConfigurationFeatureScope",
                "modelAsString": true
              }
            },
            "featureRequiredClaims": {
              "type": "string",
              "description": "The featureRequiredClaims."
            },
            "description": {
              "type": "string",
              "maxLength": 1000,
              "description": "The feature description."
            },
            "allowedTenantIds": {
              "type": "string",
              "maxLength": 1000,
              "description": "The feature whitelist tenant ids."
            },
            "documentationLink": {
              "type": "string",
              "maxLength": 1000,
              "description": "The feature documentation link."
            },
            "shouldFeatureDisplayInPortal": {
              "type": "boolean",
              "default": false,
              "description": "Indicates whether feature should be displayed in Portal."
            },
            "shouldFeatureUnregistrationRequiresApproval": {
              "type": "boolean",
              "default": false,
              "description": "Indicates whether feature unregistration requires manual approval."
            },
            "enrollmentDetails": {
              "$ref": "#/definitions/EnrollmentDetails"
            },
            "featureOwners": {
              "description": "The feature owners.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/FeatureOwner"
              }
            }
          },
          "type": "object"
        }
      }
    },
    "EnrollmentDetails": {
      "description": "Enrollment Details",
      "properties": {
        "enrollmentType": {
          "description": "The EnrollmentType.",
          "enum": [
            "AutoEnroll",
            "AutoApprove",
            "ManualApprove",
            "ApplicationOwnedFeature"
          ],
          "x-ms-enum": {
            "name": "FeatureConfigurationEnrollmentType",
            "modelAsString": true
          }
        },
        "maximumEnrollment": {
          "type": "integer",
          "minimum": 1,
          "maximum": 10000000,
          "description": "The maximum enrollment."
        },
        "signupStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "SignupStartDate"
        },
        "signupEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "SignupEndDate"
        }
      }
    },
    "FeatureOwner": {
      "description": "Feature Owner",
      "properties": {
        "applicationId": {
          "type": "string",
          "maxLength": 1000,
          "description": "The application id."
        }
      }
    },
    "FeatureConfigurationList": {
      "description": "The list of feature configurations.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of subscription feature registrations list.",
          "type": "string"
        },
        "value": {
          "description": "The list of subscription feature registrations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FeatureConfiguration"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          }
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version.",
      "x-ms-parameter-location": "method"
    },
    "ProviderNamespaceParameter": {
      "name": "providerNamespace",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The provider namespace.",
      "x-ms-parameter-location": "client"
    },
    "FeatureNameParameter": {
      "name": "featureName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The feature name.",
      "x-ms-parameter-location": "method"
    }
  }
}
