{
  "swagger": "2.0",
  "info": {
    "title": "Azure Compute resource management API.",
    "version": "2023-07-03",
    "description": "Compute Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Galleries"
    },
    {
      "name": "GalleryApplications"
    },
    {
      "name": "GalleryApplicationVersions"
    },
    {
      "name": "GalleryImages"
    },
    {
      "name": "GalleryImageVersions"
    },
    {
      "name": "SharedGalleries"
    },
    {
      "name": "SharedGalleryImages"
    },
    {
      "name": "SharedGalleryImageVersions"
    },
    {
      "name": "CommunityGalleries"
    },
    {
      "name": "CommunityGalleryImages"
    },
    {
      "name": "CommunityGalleryImageVersions"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/galleries": {
      "get": {
        "operationId": "Galleries_List",
        "tags": [
          "Galleries"
        ],
        "description": "List galleries under a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GalleryList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list galleries in a subscription.": {
            "$ref": "./examples/galleryExamples/Gallery_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}": {
      "get": {
        "operationId": "CommunityGalleries_Get",
        "tags": [
          "CommunityGalleries"
        ],
        "description": "Get a community gallery by gallery public name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publicGalleryName",
            "in": "path",
            "description": "The public name of the community gallery.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunityGallery"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a community gallery.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGallery_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images": {
      "get": {
        "operationId": "CommunityGalleryImages_List",
        "tags": [
          "CommunityGalleryImages"
        ],
        "description": "List community gallery images inside a gallery.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publicGalleryName",
            "in": "path",
            "description": "The public name of the community gallery.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CommunityGalleryImageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list community gallery images.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGalleryImage_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}": {
      "get": {
        "operationId": "CommunityGalleryImages_Get",
        "tags": [
          "CommunityGalleryImages"
        ],
        "description": "Get a community gallery image.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publicGalleryName",
            "in": "path",
            "description": "The public name of the community gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the community gallery image definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunityGalleryImage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a community gallery image.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGalleryImage_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}/versions": {
      "get": {
        "operationId": "CommunityGalleryImageVersions_List",
        "tags": [
          "CommunityGalleryImageVersions"
        ],
        "description": "List community gallery image versions inside an image.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publicGalleryName",
            "in": "path",
            "description": "The public name of the community gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the community gallery image definition.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CommunityGalleryImageVersionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list community gallery image versions.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGalleryImageVersion_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/communityGalleries/{publicGalleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}": {
      "get": {
        "operationId": "CommunityGalleryImageVersions_Get",
        "tags": [
          "CommunityGalleryImageVersions"
        ],
        "description": "Get a community gallery image version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publicGalleryName",
            "in": "path",
            "description": "The public name of the community gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the community gallery image definition.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the community gallery image version. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommunityGalleryImageVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a community gallery image version.": {
            "$ref": "./examples/communityGalleryExamples/CommunityGalleryImageVersion_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries": {
      "get": {
        "operationId": "SharedGalleries_List",
        "tags": [
          "SharedGalleries"
        ],
        "description": "List shared galleries by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "sharedTo",
            "in": "query",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "required": false,
            "type": "string",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true,
              "values": [
                {
                  "name": "tenant",
                  "value": "tenant"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SharedGalleryList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list shared galleries.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGallery_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}": {
      "get": {
        "operationId": "SharedGalleries_Get",
        "tags": [
          "SharedGalleries"
        ],
        "description": "Get a shared gallery by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedGallery"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a shared gallery.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGallery_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images": {
      "get": {
        "operationId": "SharedGalleryImages_List",
        "tags": [
          "SharedGalleryImages"
        ],
        "description": "List shared gallery images by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sharedTo",
            "in": "query",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "required": false,
            "type": "string",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true,
              "values": [
                {
                  "name": "tenant",
                  "value": "tenant"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list shared gallery images.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImages_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}": {
      "get": {
        "operationId": "SharedGalleryImages_Get",
        "tags": [
          "SharedGalleryImages"
        ],
        "description": "Get a shared gallery image by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a shared gallery image.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImage_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}/versions": {
      "get": {
        "operationId": "SharedGalleryImageVersions_List",
        "tags": [
          "SharedGalleryImageVersions"
        ],
        "description": "List shared gallery image versions by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sharedTo",
            "in": "query",
            "description": "The query parameter to decide what shared galleries to fetch when doing listing operations.",
            "required": false,
            "type": "string",
            "enum": [
              "tenant"
            ],
            "x-ms-enum": {
              "name": "SharedToValues",
              "modelAsString": true,
              "values": [
                {
                  "name": "tenant",
                  "value": "tenant"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageVersionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list shared gallery image versions.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImageVersions_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/sharedGalleries/{galleryUniqueName}/images/{galleryImageName}/versions/{galleryImageVersionName}": {
      "get": {
        "operationId": "SharedGalleryImageVersions_Get",
        "tags": [
          "SharedGalleryImageVersions"
        ],
        "description": "Get a shared gallery image version by subscription id or tenant id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "galleryUniqueName",
            "in": "path",
            "description": "The unique name of the Shared Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the Shared Gallery Image Definition from which the Image Versions are to be listed.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be created. Needs to follow semantic version name pattern: The allowed characters are digit and period. Digits must be within the range of a 32-bit integer. Format: <MajorVersion>.<MinorVersion>.<Patch>",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharedGalleryImageVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a shared gallery image version.": {
            "$ref": "./examples/sharedGalleryExamples/SharedGalleryImageVersion_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries": {
      "get": {
        "operationId": "Galleries_ListByResourceGroup",
        "tags": [
          "Galleries"
        ],
        "description": "List galleries under a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GalleryList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list galleries in a resource group.": {
            "$ref": "./examples/galleryExamples/Gallery_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}": {
      "get": {
        "operationId": "Galleries_Get",
        "tags": [
          "Galleries"
        ],
        "description": "Retrieves information about a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The select expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "Permissions"
            ],
            "x-ms-enum": {
              "name": "SelectPermissions",
              "modelAsString": true,
              "values": [
                {
                  "name": "Permissions",
                  "value": "Permissions"
                }
              ]
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand query option to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "SharingProfile/Groups"
            ],
            "x-ms-enum": {
              "name": "GalleryExpandParams",
              "modelAsString": true,
              "values": [
                {
                  "name": "SharingProfile/Groups",
                  "value": "SharingProfile/Groups"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a community gallery.": {
            "$ref": "./examples/galleryExamples/CommunityGallery_Get.json"
          },
          "get a gallery with expand sharingProfile groups.": {
            "$ref": "./examples/galleryExamples/Gallery_Get_WithExpandSharingProfileGroups.json"
          },
          "get a gallery with select permissions.": {
            "$ref": "./examples/galleryExamples/Gallery_Get_WithSelectPermissions.json"
          },
          "get a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Galleries_CreateOrUpdate",
        "tags": [
          "Galleries"
        ],
        "description": "Create or update a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "gallery",
            "in": "body",
            "description": "Parameters supplied to the create or update Shared Image Gallery operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Gallery' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "201": {
            "description": "Resource 'Gallery' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gallery"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Gallery"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "create a community gallery.": {
            "$ref": "./examples/galleryExamples/CommunityGallery_Create.json"
          },
          "create or update a simple gallery with sharing profile.": {
            "$ref": "./examples/galleryExamples/Gallery_Create_WithSharingProfile.json"
          },
          "create or update a simple gallery with soft deletion enabled.": {
            "$ref": "./examples/galleryExamples/Gallery_Create_SoftDeletionEnabled.json"
          },
          "create or update a simple gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Galleries_Update",
        "tags": [
          "Galleries"
        ],
        "description": "Update a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "gallery",
            "in": "body",
            "description": "Parameters supplied to the update Shared Image Gallery operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gallery"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "update a simple gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Galleries_Delete",
        "tags": [
          "Galleries"
        ],
        "description": "Delete a Shared Image Gallery.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications": {
      "get": {
        "operationId": "GalleryApplications_ListByGallery",
        "tags": [
          "GalleryApplications"
        ],
        "description": "List gallery Application Definitions in a gallery.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list gallery Applications in a gallery.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_ListByGallery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}": {
      "get": {
        "operationId": "GalleryApplications_Get",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Retrieves information about a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryApplications_CreateOrUpdate",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Create or update a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplication",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery Application operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GalleryApplication' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "201": {
            "description": "Resource 'GalleryApplication' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "create or update a simple gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Create.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryApplications_Update",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Update a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplication",
            "in": "body",
            "description": "Parameters supplied to the update gallery Application operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GalleryApplication"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "update a simple gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryApplications_Delete",
        "tags": [
          "GalleryApplications"
        ],
        "description": "Delete a gallery Application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery Application.": {
            "$ref": "./examples/galleryExamples/GalleryApplication_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions": {
      "get": {
        "operationId": "GalleryApplicationVersions_ListByGalleryApplication",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "List gallery Application Versions in a gallery Application Definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list gallery Application Versions in a gallery Application Definition.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_ListByGalleryApplication.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/applications/{galleryApplicationName}/versions/{galleryApplicationVersionName}": {
      "get": {
        "operationId": "GalleryApplicationVersions_Get",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Retrieves information about a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "ReplicationStatus",
              "UefiSettings"
            ],
            "x-ms-enum": {
              "name": "ReplicationStatusTypes",
              "modelAsString": true,
              "values": [
                {
                  "name": "ReplicationStatus",
                  "value": "ReplicationStatus"
                },
                {
                  "name": "UefiSettings",
                  "value": "UefiSettings"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a gallery Application Version with replication status.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Get_WithReplicationStatus.json"
          },
          "get a gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryApplicationVersions_CreateOrUpdate",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Create or update a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersion",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery Application Version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GalleryApplicationVersion' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "201": {
            "description": "Resource 'GalleryApplicationVersion' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "create or update a simple gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryApplicationVersions_Update",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Update a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersion",
            "in": "body",
            "description": "Parameters supplied to the update gallery Application Version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GalleryApplicationVersion"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "update a simple gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryApplicationVersions_Delete",
        "tags": [
          "GalleryApplicationVersions"
        ],
        "description": "Delete a gallery Application Version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationName",
            "in": "path",
            "description": "The name of the gallery Application Definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryApplicationVersionName",
            "in": "path",
            "description": "The name of the gallery Application Version to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery Application Version.": {
            "$ref": "./examples/galleryExamples/GalleryApplicationVersion_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images": {
      "get": {
        "operationId": "GalleryImages_ListByGallery",
        "tags": [
          "GalleryImages"
        ],
        "description": "List gallery image definitions in a gallery.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GalleryImageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list gallery images in a gallery.": {
            "$ref": "./examples/galleryExamples/GalleryImage_ListByGallery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}": {
      "get": {
        "operationId": "GalleryImages_Get",
        "tags": [
          "GalleryImages"
        ],
        "description": "Retrieves information about a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryImages_CreateOrUpdate",
        "tags": [
          "GalleryImages"
        ],
        "description": "Create or update a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImage",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery image operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GalleryImage' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "201": {
            "description": "Resource 'GalleryImage' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "create or update a simple gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryImages_Update",
        "tags": [
          "GalleryImages"
        ],
        "description": "Update a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImage",
            "in": "body",
            "description": "Parameters supplied to the update gallery image operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GalleryImage"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "update a simple gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryImages_Delete",
        "tags": [
          "GalleryImages"
        ],
        "description": "Delete a gallery image.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery image.": {
            "$ref": "./examples/galleryExamples/GalleryImage_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions": {
      "get": {
        "operationId": "GalleryImageVersions_ListByGalleryImage",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "List gallery image versions in a gallery image definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "list gallery image versions in a gallery image definition.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_ListByGalleryImage.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/images/{galleryImageName}/versions/{galleryImageVersionName}": {
      "get": {
        "operationId": "GalleryImageVersions_Get",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Retrieves information about a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "ReplicationStatus",
              "UefiSettings"
            ],
            "x-ms-enum": {
              "name": "ReplicationStatusTypes",
              "modelAsString": true,
              "values": [
                {
                  "name": "ReplicationStatus",
                  "value": "ReplicationStatus"
                },
                {
                  "name": "UefiSettings",
                  "value": "UefiSettings"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "get a gallery image version with replication status.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithReplicationStatus.json"
          },
          "get a gallery image version with snapshots as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithSnapshotsAsSource.json"
          },
          "get a gallery image version with vhd as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get_WithVhdAsSource.json"
          },
          "get a gallery image version.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GalleryImageVersions_CreateOrUpdate",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Create or update a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersion",
            "in": "body",
            "description": "Parameters supplied to the create or update gallery image version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GalleryImageVersion' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "201": {
            "description": "Resource 'GalleryImageVersion' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "create or update a simple Gallery Image Version using VM as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVmAsSource.json"
          },
          "create or update a simple Gallery Image Version using community gallery image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithCommunityImageVersionAsSource.json"
          },
          "create or update a simple Gallery Image Version using managed image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create.json"
          },
          "create or update a simple Gallery Image Version using mix of disks and snapshots as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithSnapshotsAsSource.json"
          },
          "create or update a simple Gallery Image Version using shallow replication mode.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithShallowReplicationMode.json"
          },
          "create or update a simple Gallery Image Version using shared image as source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithImageVersionAsSource.json"
          },
          "create or update a simple Gallery Image Version using vhd as a source with custom UEFI keys.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVHD_UefiSettings.json"
          },
          "create or update a simple Gallery Image Version using vhd as a source.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithVHD.json"
          },
          "create or update a simple gallery image version with target extended locations specified.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Create_WithTargetExtendedLocations.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GalleryImageVersions_Update",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Update a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersion",
            "in": "body",
            "description": "Parameters supplied to the update gallery image version operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GalleryImageVersionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GalleryImageVersion"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "update a simple Gallery Image Version (Managed Image as source).": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Update.json"
          },
          "update a simple Gallery Image Version without source id.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Update_WithoutSourceId.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GalleryImageVersions_Delete",
        "tags": [
          "GalleryImageVersions"
        ],
        "description": "Delete a gallery image version.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageName",
            "in": "path",
            "description": "The name of the gallery image definition to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "name": "galleryImageVersionName",
            "in": "path",
            "description": "The name of the gallery image version to be retrieved.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "delete a gallery image version.": {
            "$ref": "./examples/galleryExamples/GalleryImageVersion_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/galleries/{galleryName}/share": {
      "post": {
        "operationId": "GallerySharingProfile_Update",
        "tags": [
          "Galleries"
        ],
        "description": "Update sharing profile of a gallery.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "galleryName",
            "in": "path",
            "description": "The name of the Shared Image Gallery.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sharingUpdate",
            "in": "body",
            "description": "Parameters supplied to the update gallery sharing profile.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "schema": {
              "$ref": "#/definitions/SharingUpdate"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "add sharing id to the sharing profile of a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_AddToSharingProfile.json"
          },
          "reset sharing profile of a gallery.": {
            "$ref": "./examples/galleryExamples/Gallery_ResetSharingProfile.json"
          },
          "share a gallery to community.": {
            "$ref": "./examples/galleryExamples/Gallery_EnableCommunityGallery.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
[...]
