{
  "swagger": "2.0",
  "info": {
    "version": "2020-03-15-preview",
    "title": "StoragePoolManagement"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "StoragePoolOperations",
      "description": ""
    },
    {
      "name": "DiskPools",
      "description": ""
    },
    {
      "name": "IscsiTargets",
      "description": ""
    }
  ],
  "paths": {
    "/providers/Microsoft.StoragePool/operations": {
      "get": {
        "tags": [
          "StoragePoolOperations"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of StoragePool operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved RP operations",
            "schema": {
              "$ref": "#/definitions/StoragePoolOperationListResult"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.StoragePool/diskPools": {
      "get": {
        "tags": [
          "DiskPools"
        ],
        "operationId": "DiskPools_ListBySubscription",
        "description": "Gets a list of Disk Pools in a subscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully; retrieved diskPools by subscription",
            "schema": {
              "$ref": "#/definitions/DiskPoolListResult"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Disk Pools by subscription": {
            "$ref": "./examples/DiskPools_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StoragePool/diskPools": {
      "get": {
        "tags": [
          "DiskPools"
        ],
        "operationId": "DiskPools_ListByResourceGroup",
        "description": "Gets a list of DiskPools.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully; retrieved diskPools by resource group",
            "schema": {
              "$ref": "#/definitions/DiskPoolListResult"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Disk Pools": {
            "$ref": "./examples/DiskPools_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StoragePool/diskPools/{diskPoolName}": {
      "put": {
        "tags": [
          "DiskPools"
        ],
        "operationId": "DiskPools_CreateOrUpdate",
        "description": "Create or Update Disk Pool",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/DiskPool"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned when the diskPool was already created from a previous request with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/DiskPool"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/DiskPool"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create or Update a Disk Pool": {
            "$ref": "./examples/DiskPools_Put.json"
          }
        }
      },
      "patch": {
        "tags": [
          "DiskPools"
        ],
        "operationId": "DiskPools_Update",
        "description": "Update a Disk Pool",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/DiskPoolUpdate"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned when the diskPool was already created from a previous request with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/DiskPool"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/DiskPool"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Update Disk Pool": {
            "$ref": "./examples/DiskPools_Patch.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "DiskPools"
        ],
        "operationId": "DiskPools_Delete",
        "description": "Delete a Disk Pool",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete operation completed successfully."
          },
          "204": {
            "description": "Resource does not exist in the subscription."
          },
          "202": {
            "description": "Delete request accepted; operation will complete asynchronously."
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update Disk Pool": {
            "$ref": "./examples/DiskPools_Delete.json"
          }
        }
      },
      "get": {
        "tags": [
          "DiskPools"
        ],
        "operationId": "DiskPools_Get",
        "description": "Get a Disk Pool",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully; retrieved diskPool",
            "schema": {
              "$ref": "#/definitions/DiskPool"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get a diskPool": {
            "$ref": "./examples/DiskPools_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StoragePool/diskPools/{diskPoolName}/iscsiTargets": {
      "get": {
        "tags": [
          "IscsiTargets"
        ],
        "description": "Get iSCSI Targets within a Disk Pool",
        "operationId": "IscsiTargets_ListByDiskPool",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully; retrieved iscsiTargets for a diskPool",
            "schema": {
              "$ref": "#/definitions/IscsiTargetList"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Disk Pools by Resource Group": {
            "$ref": "./examples/IscsiTargets_ListByDiskPool.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StoragePool/diskPools/{diskPoolName}/iscsiTargets/{iscsiTargetName}": {
      "put": {
        "tags": [
          "IscsiTargets"
        ],
        "description": "Create or Update an iSCSI target",
        "operationId": "IscsiTargets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/IscsiTargetName"
          },
          {
            "$ref": "#/parameters/IscsiTarget"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned when the iscsiTarget was already created from a previous request with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/IscsiTarget"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/IscsiTarget"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create or Update an iSCSI Target": {
            "$ref": "./examples/IscsiTargets_Put.json"
          }
        }
      },
      "patch": {
        "tags": [
          "IscsiTargets"
        ],
        "description": "Update an iSCSI target",
        "operationId": "IscsiTargets_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/IscsiTargetName"
          },
          {
            "$ref": "#/parameters/IscsiTargetUpdate"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned when the iscsiTarget was already created from a previous request with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/IscsiTarget"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/IscsiTarget"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update an iSCSI Target": {
            "$ref": "./examples/IscsiTargets_Patch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "IscsiTargets"
        ],
        "description": "Deletes an iSCSI Target",
        "operationId": "IscsiTargets_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/IscsiTargetName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete operation completed successfully."
          },
          "204": {
            "description": "Resource does not exist in the subscription."
          },
          "202": {
            "description": "Delete request accepted; operation will complete asynchronously."
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete an iscsiTarget": {
            "$ref": "./examples/IscsiTargets_Delete.json"
          }
        }
      },
      "get": {
        "tags": [
          "IscsiTargets"
        ],
        "description": "Gets an iSCSI Target.",
        "operationId": "IscsiTargets_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DiskPoolName"
          },
          {
            "$ref": "#/parameters/IscsiTargetName"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed successfully; retrieved iscsiTarget",
            "schema": {
              "$ref": "#/definitions/IscsiTarget"
            }
          },
          "default": {
            "description": "Error from the RP",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Get an iscsiTarget": {
            "$ref": "./examples/IscsiTargets_Get.json"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the target subscription.",
      "minLength": 1
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for this operation.",
      "minLength": 1
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group. The name is case insensitive.",
      "pattern": "^[-\\w\\._]*[0-9A-Za-z]$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "DiskPoolName": {
      "name": "diskPoolName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._]+$",
      "minLength": 1,
      "maxLength": 90,
      "description": "The name of the Disk Pool.",
      "x-ms-parameter-location": "method"
    },
    "IscsiTargetName": {
      "name": "iscsiTargetName",
      "type": "string",
      "required": true,
      "in": "path",
      "description": "The name of the iSCSI target.",
      "x-ms-parameter-location": "method"
    },
    "DiskPool": {
      "name": "diskPoolPayload",
      "required": true,
      "in": "body",
      "description": "Request payload for Disk Pool operations.",
      "schema": {
        "$ref": "#/definitions/DiskPool"
      },
      "x-ms-parameter-location": "method"
    },
    "DiskPoolUpdate": {
      "name": "diskPoolUpdatePayload",
      "required": true,
      "in": "body",
      "description": "Request payload for Disk Pool operations.",
      "schema": {
        "$ref": "#/definitions/DiskPoolUpdate"
      },
      "x-ms-parameter-location": "method"
    },
    "IscsiTarget": {
      "name": "iscsiTargetPayload",
      "required": true,
      "in": "body",
      "description": "Request payload for iSCSI target operations.",
      "schema": {
        "$ref": "#/definitions/IscsiTarget"
      },
      "x-ms-parameter-location": "method"
    },
    "IscsiTargetUpdate": {
      "name": "iscsiTargetUpdatePayload",
      "required": true,
      "in": "body",
      "description": "Request payload for iSCSI target operations.",
      "schema": {
        "$ref": "#/definitions/IscsiTargetUpdate"
      },
      "x-ms-parameter-location": "method"
    },
    "OperationId": {
      "name": "operationId",
      "type": "string",
      "required": true,
      "in": "path",
      "description": "The unique uuid of an operation.",
      "x-ms-parameter-location": "method"
    },
    "Location": {
      "name": "location",
      "type": "string",
      "required": true,
      "in": "path",
      "description": "The location of the resource.",
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "StoragePoolOperationDisplay": {
      "type": "object",
      "required": [
        "provider",
        "resource",
        "operation",
        "description"
      ],
      "description": "Metadata about an operation.",
      "additionalProperties": false,
      "properties": {
        "provider": {
          "type": "string",
          "description": "Localized friendly form of the resource provider name."
        },
        "resource": {
          "type": "string",
          "description": "Localized friendly form of the resource type related to this action/operation."
        },
        "operation": {
          "type": "string",
          "description": "Localized friendly name for the operation, as it should be shown to the user."
        },
        "description": {
          "type": "string",
          "description": "Localized friendly description for the operation, as it should be shown to the user."
        }
      }
    },
    "StoragePoolRPOperation": {
      "type": "object",
      "required": [
        "name",
        "isDataAction",
        "display"
      ],
      "description": "Description of a StoragePool RP Operation",
      "additionalProperties": false,
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the operation being performed on this particular object"
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "actionType": {
          "type": "string",
          "description": "Indicates the action type."
        },
        "display": {
          "description": "Additional metadata about RP operation.",
          "$ref": "#/definitions/StoragePoolOperationDisplay"
        },
        "origin": {
          "type": "string",
          "description": "The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX."
        }
      }
    },
    "StoragePoolOperationListResult": {
      "type": "object",
      "required": [
        "value"
      ],
      "description": "List of operations supported by the RP.",
      "additionalProperties": false,
      "properties": {
        "value": {
          "type": "array",
          "description": "An array of operations supported by the StoragePool RP.",
          "items": {
            "$ref": "#/definitions/StoragePoolRPOperation"
          }
        },
        "nextLink": {
          "description": "URI to fetch the next section of the paginated response.",
          "type": "string"
        }
      }
    },
    "DiskPoolListResult": {
      "type": "object",
      "required": [
        "value"
      ],
      "description": "List of Disk Pools",
      "additionalProperties": false,
      "properties": {
        "value": {
          "description": "An array of Disk Pool objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiskPool"
          }
        },
        "nextLink": {
          "description": "URI to fetch the next section of the paginated response.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DiskPool": {
      "type": "object",
      "description": "Request payload for Create or Update Disk Pool requests.",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "RP defined properties for Disk Pool operations.",
          "$ref": "#/definitions/DiskPoolProperties"
        },
        "systemData": {
          "description": "Resource metadata required by ARM RPC",
          "readOnly": true,
          "$ref": "#/definitions/SystemMetadata"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "DiskPoolUpdate": {
      "type": "object",
      "description": "Request payload for Create or Update Disk Pool requests.",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "RP defined properties for Disk Pool operations.",
          "$ref": "#/definitions/DiskPoolUpdateProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        }
      }
    },
    "AvailabilityZone": {
      "type": "string",
      "description": "Availability zone"
    },
    "DiskPoolProperties": {
      "type": "object",
      "description": "Properties section of the Disk Pool request payload.",
      "required": [
        "availabilityZones",
        "subnetId"
      ],
      "properties": {
        "provisioningState": {
          "description": "State of the operation on the resource",
          "type": "string",
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "availabilityZones": {
          "type": "array",
          "description": "Logical zone for DiskPool resource.",
          "items": {
            "$ref": "#/definitions/AvailabilityZone"
          }
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Invalid",
            "Unknown",
            "Healthy",
            "Unhealthy"
          ],
          "x-ms-enum": {
            "name": "OperationalStatus",
            "modelAsString": true
          },
          "description": "Operational status of the Disk pool"
        },
        "disks": {
          "type": "array",
          "description": "List of Azure managed disks to attach to a DiskPool",
          "items": {
            "$ref": "#/definitions/Disk"
          },
          "minLength": 1,
          "maxLength": 15
        },
        "subnetId": {
          "type": "string",
          "description": "Azure resource id of the subnet for the DiskPool",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "additionalCapabilities": {
          "type": "array",
          "description": "List of additional capabilities to enable or disable for a Disk Pool",
          "items": {
            "$ref": "#/definitions/AdditionalCapability"
          }
        }
      }
    },
    "DiskPoolUpdateProperties": {
      "type": "object",
      "description": "Properties section of the Disk Pool request payload.",
      "properties": {
        "disks": {
          "type": "array",
          "description": "List of Azure managed disks to attach to a Disk Pool",
          "items": {
            "$ref": "#/definitions/Disk"
          },
          "minLength": 1,
          "maxLength": 15
        },
        "additionalCapabilities": {
          "type": "array",
          "description": "List of additional capabilities to enable or disable for a Disk Pool",
          "items": {
            "$ref": "#/definitions/AdditionalCapability"
          }
        }
      }
    },
    "Disk": {
      "type": "object",
      "description": "Managed disk to attach to the DiskPool",
      "required": [
        "id"
      ],
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique Azure resource id of the managed disk. Required."
        }
      }
    },
    "AdditionalCapability": {
      "type": "string",
      "description": "Enables or disables a capability on the Disk Pool"
    },
    "IscsiTargetList": {
      "type": "object",
      "required": [
        "value"
      ],
      "description": "List of iSCSI Targets.",
      "additionalProperties": false,
      "properties": {
        "value": {
          "type": "array",
          "description": "An array of iSCSI targets within a Disk Pool",
          "items": {
            "$ref": "#/definitions/IscsiTarget"
          }
        },
        "nextLink": {
          "description": "URI to fetch the next section of the paginated response.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IscsiTarget": {
      "type": "object",
      "description": "Payload for iSCSI Target Create or Update requests.",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "RP defined properties for iSCSI Target operations.",
          "$ref": "#/definitions/IscsiTargetProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "IscsiTargetUpdate": {
      "type": "object",
      "description": "Payload for iSCSI Target Create or Update requests.",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "RP defined properties for iSCSI Target operations.",
          "$ref": "#/definitions/IscsiTargetUpdateProperties"
        }
      }
    },
    "IscsiTargetProperties": {
      "type": "object",
      "description": "Properties of iSCSI Target request payload.",
      "required": [
        "tpgs",
        "targetIqn"
      ],
      "properties": {
        "provisioningState": {
          "description": "State of the operation on the resource",
          "type": "string",
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enum": [
            "Invalid",
            "Unknown",
            "Healthy",
            "Unhealthy"
          ],
          "x-ms-enum": {
            "name": "OperationalStatus",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "Operational status of the Disk pool"
        },
        "tpgs": {
          "type": "array",
          "description": "list of iSCSI target portal groups",
          "items": {
            "$ref": "#/definitions/TargetPortalGroup"
          },
          "maxLength": 1,
          "minLength": 1
        },
        "targetIqn": {
          "type": "string",
          "description": "iSCSI target iqn (iSCSI Qualified Name); example: iqn.2005-03.org.iscsi:server"
        }
      }
    },
    "IscsiTargetUpdateProperties": {
      "type": "object",
      "description": "Properties of iSCSI Target request payload.",
      "required": [
        "tpgs"
      ],
      "properties": {
        "provisioningState": {
          "description": "State of the operation on the resource",
          "type": "string",
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "enum": [
            "Invalid",
            "Unknown",
            "Healthy",
            "Unhealthy"
          ],
          "x-ms-enum": {
            "name": "OperationalStatus",
            "modelAsString": true
          },
          "readOnly": true,
          "description": "Operational status of the Disk pool"
        },
        "tpgs": {
          "type": "array",
          "description": "list of iSCSI target portal groups",
          "items": {
            "$ref": "#/definitions/TargetPortalGroup"
          },
          "maxLength": 1,
          "minLength": 1
        }
      }
    },
    "TargetPortalGroup": {
      "type": "object",
      "description": "iSCSI target portal group",
      "required": [
        "luns",
        "acls",
        "attributes"
      ],
      "properties": {
        "luns": {
          "type": "array",
          "description": "Lun list to be exposed through the iSCSI target. Required",
          "items": {
            "$ref": "#/definitions/IscsiLun"
          },
          "minLength": 1,
          "maxLength": 8
        },
        "acls": {
          "type": "array",
          "description": "Access Control List (ACL) for an iSCSI target lun",
          "items": {
            "$ref": "#/definitions/Acl"
          }
        },
        "attributes": {
          "description": "Attributes of an iSCSI target",
          "$ref": "#/definitions/Attributes"
        },
        "endpoints": {
          "description": "list of public ip addresses to connect to the iSCSI target",
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read"
          ],
          "readOnly": true
        },
        "tag": {
          "type": "integer",
          "format": "int32",
          "description": "The tag associated with the iSCSI target portal group",
          "x-ms-mutability": [
            "read"
          ],
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port at which the iSCSI target is available",
          "x-ms-mutability": [
            "read"
          ],
          "readOnly": true
        }
      }
    },
    "Acl": {
      "type": "object",
      "description": "Access Control List (ACL) for an iSCSI target lun",
      "required": [
        "initiatorIqn",
        "mappedLuns"
      ],
      "properties": {
        "initiatorIqn": {
          "type": "string",
          "description": "iSCSI initiator iqn (iSCSI Qualified Name); example: iqn.2005-03.org.iscsi:client"
        },
        "mappedLuns": {
          "type": "array",
          "description": "Array of lun names mapped to the ACL",
          "items": {
            "type": "string"
          }
        },
        "credentials": {
          "description": "CHAP credentials for iSCSI target.",
          "x-ms-client-flatten": true,
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create"
          ],
          "$ref": "#/definitions/IscsiTargetCredentials"
        }
      }
    },
    "Attributes": {
      "type": "object",
      "description": "Attributes of a target portal group",
      "required": [
        "authentication",
        "prodModeWriteProtect"
      ],
      "properties": {
        "authentication": {
          "type": "boolean",
          "description": "Indicates whether or not authentication is enabled on the ACL."
        },
        "prodModeWriteProtect": {
          "type": "boolean",
          "description": "Indicates whether or not write protect is enabled on the luns."
        }
      },
      "x-ms-mutability": [
        "read",
        "create",
        "update"
      ]
    },
    "IscsiTargetCredentials": {
      "type": "object",
      "required": [
        "username",
        "password"
      ],
      "description": "CHAP credentials for an iSCSI target for a specific initiator",
      "properties": {
        "username": {
          "type": "string",
          "description": "Username for Challenge Handshake Authentication Protocol (CHAP) authentication",
          "minLength": 7,
          "maxLength": 128
        },
        "password": {
          "type": "string",
          "description": "Password for Challenge Handshake Authentication Protocol (CHAP) authentication",
          "minLength": 12,
          "maxLength": 512
        }
      }
    },
    "IscsiLun": {
      "type": "object",
      "required": [
        "name",
        "managedDiskAzureResourceId"
      ],
      "description": "Lun to expose the ManagedDisk",
      "additionalProperties": false,
      "properties": {
        "name": {
          "type": "string",
          "minimum": 7,
          "maximum": 12,
          "description": "User defined name for iSCSI Lun; ex: \"lun0\""
        },
        "managedDiskAzureResourceId": {
          "type": "string",
          "description": "Unique Azure resource id of the managed disk. Required."
        }
      }
    },
    "Error": {
      "type": "object",
      "description": "The resource management error response.",
      "properties": {
        "error": {
          "type": "object",
          "description": "RP error response",
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "Invalid",
        "Succeeded",
        "Failed",
        "Canceled",
        "Pending",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningStates",
        "modelAsString": true
      },
      "description": "State of provisioning of the iSCSI target",
      "readOnly": true
    },
    "SystemMetadata": {
      "type": "object",
      "description": "Resource metadata required by ARM RPC",
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "A string identifier for the identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource: user, application, managedIdentity"
        },
        "createdAt": {
          "type": "string",
          "description": "The timestamp of resource creation (UTC)"
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "A string identifier for the identity that last modified the resource"
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource: user, application, managedIdentity"
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "The timestamp of resource last modification (UTC)"
        }
      }
    },
    "TrackedResource": {
      "description": "The resource model definition for a ARM tracked top level resource",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Resource": {
      "description": "ARM resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "description": "The resource model definition for a ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ErrorAdditionalInfo": {
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "ErrorResponse": {
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "The error code."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "The error message."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "The error target."
        },
        "details": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorResponse"
          },
          "description": "The error details."
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "description": "The error additional info."
        }
      },
      "description": "The resource management error response."
    }
  }
}
