{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Elastic",
    "version": "2020-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Elastic/operations": {
      "get": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "List all operations provided by Microsoft.Elastic.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Elastic/monitors": {
      "get": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "List all monitors under the specified subscription.",
        "operationId": "Monitors_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResourceListResponse"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Monitors_List": {
            "$ref": "./examples/Monitors_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors": {
      "get": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "List all monitors under the specified resource group.",
        "operationId": "Monitors_ListByResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResourceListResponse"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Monitors_ListByResourceGroup": {
            "$ref": "./examples/Monitors_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Elastic/monitors/{monitorName}": {
      "get": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "Get the properties of a specific monitor resource.",
        "operationId": "Monitors_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Get": {
            "$ref": "./examples/Monitors_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "Create a monitor resource.",
        "operationId": "Monitors_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Elastic monitor resource model",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Monitors_Create": {
            "$ref": "./examples/Monitors_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "Update a monitor resource.",
        "operationId": "Monitors_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Elastic reource model update parameters.",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResourceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ElasticMonitorResource"
            }
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Monitors_Update": {
            "$ref": "./examples/Monitors_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MonitorsResource"
        ],
        "summary": "Delete a monitor resource.",
        "operationId": "Monitors_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/MonitorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Default error response.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderDefaultErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Monitors_Delete": {
            "$ref": "./examples/Monitors_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponseBody": {
      "description": "Error response body.",
      "title": "ErrorResponseBody",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string"
        },
        "message": {
          "description": "Error message.",
          "type": "string"
        },
        "target": {
          "description": "Error target.",
          "type": "string"
        },
        "details": {
          "description": "Error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorResponseBody"
          }
        }
      }
    },
    "ResourceProviderDefaultErrorResponse": {
      "description": "RP default error response.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Response body of Error",
          "readOnly": true,
          "$ref": "#/definitions/ErrorResponseBody"
        }
      }
    },
    "OperationDisplay": {
      "description": "The object that represents the operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Service provider, i.e., Microsoft.Elastic.",
          "type": "string"
        },
        "resource": {
          "description": "Type on which the operation is performed, e.g., 'monitors'.",
          "type": "string"
        },
        "operation": {
          "description": "Operation type, e.g., read, write, delete, etc.",
          "type": "string"
        },
        "description": {
          "description": "Description of the operation, e.g., 'Write monitors'.",
          "type": "string"
        }
      }
    },
    "OperationResult": {
      "description": "A Microsoft.Elastic REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name, i.e., {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "$ref": "#/definitions/OperationDisplay"
        }
      }
    },
    "OperationListResult": {
      "description": "Result of GET request to list the Microsoft.Elastic operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of operations supported by the Microsoft.Elastic provider.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationResult"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string"
        }
      }
    },
    "ResourceSku": {
      "description": "Microsoft.Elastic SKU.",
      "required": [
        "name"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the SKU.",
          "type": "string"
        }
      }
    },
    "ProvisioningState": {
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "type": "string",
      "description": "Provisioning state of Elastic RP.",
      "title": "ProvisioningState",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      }
    },
    "ElasticOrganizationProperties": {
      "description": "Elastic Resource Properties.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Id of the Elastic organization.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UserInfo": {
      "description": "User Information.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the user",
          "maxLength": 50,
          "type": "string"
        },
        "emailAddress": {
          "description": "Email of the user used by Elastic for contacting them if needed",
          "pattern": "^\\w+@[a-zA-Z_]+?\\.[a-zA-Z]{2,3}$",
          "type": "string"
        },
        "phoneNumber": {
          "description": "Phone number of the user used by Elastic for contacting them if needed",
          "pattern": "^(\\+\\d{1,2}\\s)?\\(?\\d{3}\\)?[\\s.-]?\\d{3}[\\s.-]?\\d{4}$",
          "type": "string"
        }
      }
    },
    "MonitorProperties": {
      "description": "Properties specific to the monitor resource.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provision states for elastic RP.",
          "$ref": "#/definitions/ProvisioningState",
          "readOnly": true
        },
        "elasticOrganizationProperties": {
          "description": "Elastic organization properties.",
          "$ref": "#/definitions/ElasticOrganizationProperties"
        },
        "userInfo": {
          "description": "User information.",
          "$ref": "#/definitions/UserInfo",
          "x-ms-mutability": [
            "create"
          ]
        }
      }
    },
    "ManagedIdentityTypes": {
      "enum": [
        "SystemAssigned"
      ],
      "type": "string",
      "description": "Managed Identity types.",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ManagedIdentityTypes"
      }
    },
    "IdentityProperties": {
      "description": "Identity properties.",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The identity ID.",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "The tenant ID of resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Managed identity type.",
          "$ref": "#/definitions/ManagedIdentityTypes"
        }
      }
    },
    "ElasticMonitorResource": {
      "description": "Monitor resource.",
      "required": [
        "location"
      ],
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "ARM id of the monitor resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Name of the monitor resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the monitor resource.",
          "type": "string",
          "readOnly": true
        },
        "sku": {
          "description": "SKU of the monitor resource.",
          "$ref": "#/definitions/ResourceSku"
        },
        "properties": {
          "description": "Properties of the monitor resource.",
          "$ref": "#/definitions/MonitorProperties",
          "x-ms-client-flatten": false
        },
        "identity": {
          "description": "Identity properties of the monitor resource.",
          "$ref": "#/definitions/IdentityProperties"
        },
        "tags": {
          "description": "The tags of the monitor resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "description": "The location of the monitor resource",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "ElasticMonitorResourceListResponse": {
      "description": "Response of a list operation.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Results of a list operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticMonitorResource"
          }
        },
        "nextLink": {
          "description": "Link to the next set of results, if any.",
          "type": "string"
        }
      }
    },
    "ElasticMonitorResourceUpdateParameters": {
      "description": "Monitor resource update prameters.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "elastic monitor resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to be used with the HTTP request.",
      "required": true,
      "type": "string",
      "enum": [
        "2020-07-01-preview"
      ]
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
      "required": true,
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group to which the Elastic resource belongs.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "MonitorNameParameter": {
      "in": "path",
      "name": "monitorName",
      "description": "Monitor resource name",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
