{
  "swagger": "2.0",
  "info": {
    "version": "2017-10-01-preview",
    "title": "IoTSpacesClient",
    "description": "Use this API to manage the IoTSpaces service instances in your Azure subscription.",
    "x-ms-code-generation-settings": {
      "header": "MICROSOFT_MIT_NO_VERSION"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "IoTSpacesProperties": {
      "description": "The properties of an IoTSpaces instance.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state.",
          "enum": [
            "Provisioning",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "provisioningState",
            "modelAsString": true
          }
        },
        "managementApiUrl": {
          "description": "The management Api endpoint.",
          "type": "string",
          "readOnly": true
        },
        "webPortalUrl": {
          "description": "The management UI endpoint.",
          "type": "string",
          "readOnly": true
        },
        "storageContainer": {
          "description": "The properties of the designated storage container.",
          "$ref": "#/definitions/StorageContainerProperties"
        }
      }
    },
    "StorageContainerProperties": {
      "description": "The properties of the Azure Storage Container for file archive.",
      "type": "object",
      "properties": {
        "connectionString": {
          "description": "The connection string of the storage account.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "The subscription identifier of the storage account.",
          "type": "string"
        },
        "resourceGroup": {
          "description": "The name of the resource group of the storage account.",
          "type": "string"
        },
        "containerName": {
          "description": "The name of storage container in the storage account.",
          "type": "string"
        }
      }
    },
    "IoTSpacesSkuInfo": {
      "description": "Information about the SKU of the IoTSpaces instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the SKU.",
          "enum": [
            "F1",
            "S1",
            "S2",
            "S3"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IoTSpacesSku",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name"
      ]
    },
    "IoTSpacesDescription": {
      "description": "The description of the IoTSpaces service.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "The common properties of a IoTSpaces service.",
          "$ref": "#/definitions/IoTSpacesProperties"
        },
        "sku": {
          "description": "A valid instance SKU.",
          "$ref": "#/definitions/IoTSpacesSkuInfo"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "sku"
      ]
    },
    "IoTSpacesPatchDescription": {
      "description": "The description of the IoTSpaces service.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Instance tags",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "The common properties of an IoTSpaces service.",
          "$ref": "#/definitions/IoTSpacesProperties"
        }
      }
    },
    "Resource": {
      "description": "The common properties of an IoTSpaces service.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource identifier."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The resource name.",
          "pattern": "^(?![0-9]+$)(?!-)[a-zA-Z0-9-]{2,49}[a-zA-Z0-9]$"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type."
        },
        "location": {
          "type": "string",
          "description": "The resource location.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      },
      "x-ms-azure-resource": true,
      "required": [
        "location"
      ]
    },
    "ErrorDetails": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The error message.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IoTSpacesDescriptionListResult": {
      "description": "A list of IoTSpaces description objects with a next link.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of IoTSpaces description objects.",
          "type": "string"
        },
        "value": {
          "description": "A list of IoTSpaces description objects.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IoTSpacesDescription"
          }
        }
      }
    },
    "OperationListResult": {
      "description": "A list of IoTSpaces service operations. It contains a list of operations and a URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of IoTSpaces description objects.",
          "type": "string"
        },
        "value": {
          "description": "A list of IoT spaces operations supported by the Microsoft.IoTSpaces resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        }
      }
    },
    "Operation": {
      "description": "IoTSpaces service REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {provider}/{resource}/{read | write | action | delete}"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay"
        }
      }
    },
    "OperationDisplay": {
      "description": "The object that represents the operation.",
      "type": "object",
      "properties": {
        "provider": {
          "readOnly": true,
          "type": "string",
          "description": "Service provider: Microsoft IoTSpaces"
        },
        "resource": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Type: IoTSpaces"
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "Name of the operation"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Friendly description for the operation,"
        }
      }
    },
    "OperationInputs": {
      "description": "Input values.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the IoTSpaces service instance to check.",
          "type": "string"
        }
      },
      "required": [
        "name"
      ]
    },
    "IoTSpacesNameAvailabilityInfo": {
      "description": "The properties indicating whether a given IoTSpaces service name is available.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "The value which indicates whether the provided name is available.",
          "type": "boolean",
          "readOnly": true
        },
        "reason": {
          "description": "The reason for unavailability.",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "IoTSpacesNameUnavailabilityReason",
            "modelAsString": false
          }
        },
        "message": {
          "description": "The detailed reason message.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription identifier.",
      "required": true,
      "type": "string",
      "format": "uuid"
    },
    "api-version": {
      "name": "api-version",
      "enum": [
        "2017-10-01-preview"
      ],
      "in": "query",
      "description": "The version of the API.",
      "required": true,
      "type": "string",
      "minLength": 10
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group that contains the IoTSpaces instance.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "minLength": 1,
      "maxLength": 64
    },
    "resourceName": {
      "name": "resourceName",
      "in": "path",
      "description": "The name of the IoTSpaces instance.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "minLength": 1,
      "maxLength": 64
    }
  }
}
