{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2020-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}": {
      "delete": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_Delete",
        "description": "Deletes the specified load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "200": {
            "description": "Delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete load balancer": {
            "$ref": "./examples/LoadBalancerDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_Get",
        "description": "Gets the specified load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting LoadBalancer resource.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get load balancer": {
            "$ref": "./examples/LoadBalancerGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_CreateOrUpdate",
        "description": "Creates or updates a load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            },
            "description": "Parameters supplied to the create or update load balancer operation."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Create successful. The operation returns the resulting LoadBalancer resource.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          },
          "200": {
            "description": "Update successful. The operation returns the resulting LoadBalancer resource.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create load balancer": {
            "$ref": "./examples/LoadBalancerCreate.json"
          },
          "Create load balancer with Standard SKU": {
            "$ref": "./examples/LoadBalancerCreateStandardSku.json"
          },
          "Create load balancer with Frontend IP in Zone 1": {
            "$ref": "./examples/LoadBalancerCreateWithZones.json"
          },
          "Create load balancer with inbound nat pool": {
            "$ref": "./examples/LoadBalancerCreateWithInboundNatPool.json"
          },
          "Create load balancer with outbound rules": {
            "$ref": "./examples/LoadBalancerCreateWithOutboundRules.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_UpdateTags",
        "description": "Updates a load balancer tags.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./network.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update load balancer tags."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting LoadBalancer resource.",
            "schema": {
              "$ref": "#/definitions/LoadBalancer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update load balancer tags": {
            "$ref": "./examples/LoadBalancerUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_ListAll",
        "description": "Gets all the load balancers in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all load balancers": {
            "$ref": "./examples/LoadBalancerListAll.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancers_List",
        "description": "Gets all the load balancers in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List load balancers in resource group": {
            "$ref": "./examples/LoadBalancerList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerBackendAddressPools_List",
        "description": "Gets all the load balancer backed address pools.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer BackendAddressPool resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerBackendAddressPoolListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerBackendAddressPoolList": {
            "$ref": "./examples/LoadBalancerBackendAddressPoolList.json"
          },
          "Load balancer with BackendAddressPool containing BackendAddresses": {
            "$ref": "./examples/LBBackendAddressPoolListWithBackendAddressesPoolType.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/backendAddressPools/{backendAddressPoolName}": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerBackendAddressPools_Get",
        "description": "Gets load balancer backend address pool.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "backendAddressPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the backend address pool."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns LoadBalancer BackendAddressPool resource.",
            "schema": {
              "$ref": "#/definitions/BackendAddressPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerBackendAddressPoolGet": {
            "$ref": "./examples/LoadBalancerBackendAddressPoolGet.json"
          },
          "LoadBalancer with BackendAddressPool with BackendAddresses": {
            "$ref": "./examples/LBBackendAddressPoolWithBackendAddressesGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerBackendAddressPools_CreateOrUpdate",
        "description": "Creates or updates a load balancer backend address pool.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "backendAddressPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the backend address pool."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackendAddressPool"
            },
            "description": "Parameters supplied to the create or update load balancer backend address pool operation."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Create successful. The operation returns the resulting BackendAddressPool resource.",
            "schema": {
              "$ref": "#/definitions/BackendAddressPool"
            }
          },
          "200": {
            "description": "Update successful. The operation returns the resulting BackendAddressPool resource.",
            "schema": {
              "$ref": "#/definitions/BackendAddressPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update load balancer backend pool with backend addresses containing virtual network and  IP address.": {
            "$ref": "./examples/LBBackendAddressPoolWithBackendAddressesPut.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerBackendAddressPools_Delete",
        "description": "Deletes the specified load balancer backend address pool.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "backendAddressPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the backend address pool."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "200": {
            "description": "Delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BackendAddressPoolDelete": {
            "$ref": "./examples/LoadBalancerBackendAddressPoolDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/frontendIPConfigurations": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerFrontendIPConfigurations_List",
        "description": "Gets all the load balancer frontend IP configurations.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer FrontendIPConfiguration resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerFrontendIPConfigurationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerFrontendIPConfigurationList": {
            "$ref": "./examples/LoadBalancerFrontendIPConfigurationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/frontendIPConfigurations/{frontendIPConfigurationName}": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerFrontendIPConfigurations_Get",
        "description": "Gets load balancer frontend IP configuration.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "frontendIPConfigurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the frontend IP configuration."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns LoadBalancer FrontendIPConfiguration resource.",
            "schema": {
              "$ref": "#/definitions/FrontendIPConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerFrontendIPConfigurationGet": {
            "$ref": "./examples/LoadBalancerFrontendIPConfigurationGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatRules": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "InboundNatRules_List",
        "description": "Gets all the inbound nat rules in a load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer InboundNatRule resources.",
            "schema": {
              "$ref": "#/definitions/InboundNatRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "InboundNatRuleList": {
            "$ref": "./examples/InboundNatRuleList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/inboundNatRules/{inboundNatRuleName}": {
      "delete": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "InboundNatRules_Delete",
        "description": "Deletes the specified load balancer inbound nat rule.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "inboundNatRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the inbound nat rule."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously."
          },
          "200": {
            "description": "Delete successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "InboundNatRuleDelete": {
            "$ref": "./examples/InboundNatRuleDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "InboundNatRules_Get",
        "description": "Gets the specified load balancer inbound nat rule.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "inboundNatRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the inbound nat rule."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Expands referenced resources."
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting InboundNatRule resource.",
            "schema": {
              "$ref": "#/definitions/InboundNatRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "InboundNatRuleGet": {
            "$ref": "./examples/InboundNatRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "InboundNatRules_CreateOrUpdate",
        "description": "Creates or updates a load balancer inbound nat rule.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "inboundNatRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the inbound nat rule."
          },
          {
            "name": "inboundNatRuleParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InboundNatRule"
            },
            "description": "Parameters supplied to the create or update inbound nat rule operation."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Create successful. The operation returns the resulting InboundNatRule resource.",
            "schema": {
              "$ref": "#/definitions/InboundNatRule"
            }
          },
          "200": {
            "description": "Update successful. The operation returns the resulting InboundNatRule resource.",
            "schema": {
              "$ref": "#/definitions/InboundNatRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "InboundNatRuleCreate": {
            "$ref": "./examples/InboundNatRuleCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerLoadBalancingRules_List",
        "description": "Gets all the load balancing rules in a load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer LoadBalancingRule resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerLoadBalancingRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LoadBalancerLoadBalancingRuleList": {
            "$ref": "./examples/LoadBalancerLoadBalancingRuleList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/loadBalancingRules/{loadBalancingRuleName}": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerLoadBalancingRules_Get",
        "description": "Gets the specified load balancer load balancing rule.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "loadBalancingRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancing rule."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting LoadBalancingRule resource.",
            "schema": {
              "$ref": "#/definitions/LoadBalancingRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerLoadBalancingRuleGet": {
            "$ref": "./examples/LoadBalancerLoadBalancingRuleGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/outboundRules": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerOutboundRules_List",
        "description": "Gets all the outbound rules in a load balancer.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer OutboundRule resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerOutboundRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LoadBalancerOutboundRuleList": {
            "$ref": "./examples/LoadBalancerOutboundRuleList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/outboundRules/{outboundRuleName}": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerOutboundRules_Get",
        "description": "Gets the specified load balancer outbound rule.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "outboundRuleName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the outbound rule."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting OutboundRule resource.",
            "schema": {
              "$ref": "#/definitions/OutboundRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerOutboundRuleGet": {
            "$ref": "./examples/LoadBalancerOutboundRuleGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/networkInterfaces": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerNetworkInterfaces_List",
        "description": "Gets associated load balancer network interfaces.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of NetworkInterface resources.",
            "schema": {
              "$ref": "./networkInterface.json#/definitions/NetworkInterfaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerNetworkInterfaceListVmss": {
            "$ref": "./examples/LoadBalancerNetworkInterfaceListVmss.json"
          },
          "LoadBalancerNetworkInterfaceListSimple": {
            "$ref": "./examples/LoadBalancerNetworkInterfaceListSimple.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/probes": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerProbes_List",
        "description": "Gets all the load balancer probes.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of LoadBalancer Probe resources.",
            "schema": {
              "$ref": "#/definitions/LoadBalancerProbeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerProbeList": {
            "$ref": "./examples/LoadBalancerProbeList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/loadBalancers/{loadBalancerName}/probes/{probeName}": {
      "get": {
        "tags": [
          "LoadBalancers"
        ],
        "operationId": "LoadBalancerProbes_Get",
        "description": "Gets load balancer probe.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "loadBalancerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the load balancer."
          },
          {
            "name": "probeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the probe."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns LoadBalancer Probe resource.",
            "schema": {
              "$ref": "#/definitions/Probe"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "LoadBalancerProbeGet": {
            "$ref": "./examples/LoadBalancerProbeGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "LoadBalancerSku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of a load balancer SKU.",
          "enum": [
            "Basic",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "LoadBalancerSkuName",
            "modelAsString": true
          }
        }
      },
      "description": "SKU of a load balancer."
    },
    "FrontendIPConfigurationPropertiesFormat": {
      "properties": {
        "inboundNatRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "An array of references to inbound rules that use this frontend IP."
        },
        "inboundNatPools": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "An array of references to inbound pools that use this frontend IP."
        },
        "outboundRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "An array of references to outbound rules that use this frontend IP."
        },
        "loadBalancingRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "An array of references to load balancing rules that use this frontend IP."
        },
        "privateIPAddress": {
          "type": "string",
          "description": "The private IP address of the IP configuration."
        },
        "privateIPAllocationMethod": {
          "$ref": "./network.json#/definitions/IPAllocationMethod",
          "description": "The Private IP allocation method."
        },
        "privateIPAddressVersion": {
          "$ref": "./network.json#/definitions/IPVersion",
          "description": "Whether the specific ipconfiguration is IPv4 or IPv6. Default is taken as IPv4."
        },
        "subnet": {
          "$ref": "./virtualNetwork.json#/definitions/Subnet",
          "description": "The reference to the subnet resource."
        },
        "publicIPAddress": {
          "$ref": "./publicIpAddress.json#/definitions/PublicIPAddress",
          "description": "The reference to the Public IP resource."
        },
        "publicIPPrefix": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "The reference to the Public IP Prefix resource."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the frontend IP configuration resource."
        }
      },
      "description": "Properties of Frontend IP Configuration of the load balancer."
    },
    "FrontendIPConfiguration": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FrontendIPConfigurationPropertiesFormat",
          "description": "Properties of the load balancer probe."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of frontend IP configurations used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of the resource."
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of availability zones denoting the IP allocated for the resource needs to come from."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "Frontend IP address of the load balancer."
    },
    "LoadBalancerBackendAddressPropertiesFormat": {
      "properties": {
        "virtualNetwork": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "Reference to an existing virtual network."
        },
        "ipAddress": {
          "type": "string",
          "description": "IP Address belonging to the referenced virtual network.",
          "x-ms-azure-resource": false
        },
        "networkInterfaceIPConfiguration": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/SubResource",
          "description": "Reference to IP address defined in network interfaces."
        }
      },
      "description": "Properties of the load balancer backend addresses."
    },
    "LoadBalancerBackendAddress": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LoadBalancerBackendAddressPropertiesFormat",
          "description": "Properties of load balancer backend address pool."
        },
        "name": {
          "type": "string",
          "description": "Name of the backend address."
        }
      },
      "description": "Load balancer backend addresses."
    },
    "BackendAddressPoolPropertiesFormat": {
      "properties": {
        "loadBalancerBackendAddresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadBalancerBackendAddress"
          },
          "description": "An array of backend addresses."
        },
        "backendIPConfigurations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./networkInterface.json#/definitions/NetworkInterfaceIPConfiguration"
          },
          "description": "An array of references to IP addresses defined in network interfaces."
        },
        "loadBalancingRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "An array of references to load balancing rules that use this backend address pool."
        },
        "outboundRule": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/SubResource",
          "description": "A reference to an outbound rule that uses this backend address pool."
        },
        "outboundRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "An array of references to outbound rules that use this backend address pool."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the backend address pool resource."
        }
      },
      "description": "Properties of the backend address pool."
    },
    "BackendAddressPool": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BackendAddressPoolPropertiesFormat",
          "description": "Properties of load balancer backend address pool."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of backend address pools used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "Pool of backend IP addresses."
    },
    "LoadBalancingRulePropertiesFormat": {
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "backendAddressPool": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "A reference to a pool of DIPs. Inbound traffic is randomly load balanced across IPs in the backend IPs."
        },
        "probe": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "The reference to the load balancer probe used by the load balancing rule."
        },
        "protocol": {
          "$ref": "#/definitions/TransportProtocol",
          "description": "The reference to the transport protocol used by the load balancing rule."
        },
        "loadDistribution": {
          "type": "string",
          "description": "The load distribution policy for this rule.",
          "enum": [
            "Default",
            "SourceIP",
            "SourceIPProtocol"
          ],
          "x-ms-enum": {
            "name": "LoadDistribution",
            "modelAsString": true
          }
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values are between 0 and 65534. Note that value 0 enables \"Any Port\"."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for internal connections on the endpoint. Acceptable values are between 0 and 65535. Note that value 0 enables \"Any Port\"."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "disableOutboundSnat": {
          "type": "boolean",
          "description": "Configures SNAT for the VMs in the backend pool to use the publicIP address specified in the frontend of the load balancing rule."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the load balancing rule resource."
        }
      },
      "required": [
        "protocol",
        "frontendPort"
      ],
      "description": "Properties of the load balancer."
    },
    "LoadBalancingRule": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LoadBalancingRulePropertiesFormat",
          "description": "Properties of load balancer load balancing rule."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of load balancing rules used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "A load balancing rule for a load balancer."
    },
    "ProbePropertiesFormat": {
      "properties": {
        "loadBalancingRules": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "The load balancer rules that use this probe."
        },
        "protocol": {
          "type": "string",
          "description": "The protocol of the end point. If 'Tcp' is specified, a received ACK is required for the probe to be successful. If 'Http' or 'Https' is specified, a 200 OK response from the specifies URI is required for the probe to be successful.",
          "enum": [
            "Http",
            "Tcp",
            "Https"
          ],
          "x-ms-enum": {
            "name": "ProbeProtocol",
            "modelAsString": true
          }
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port for communicating the probe. Possible values range from 1 to 65535, inclusive."
        },
        "intervalInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "The interval, in seconds, for how frequently to probe the endpoint for health status. Typically, the interval is slightly less than half the allocated timeout period (in seconds) which allows two full probes before taking the instance out of rotation. The default value is 15, the minimum value is 5."
        },
        "numberOfProbes": {
          "type": "integer",
          "format": "int32",
          "description": "The number of probes where if no response, will result in stopping further traffic from being delivered to the endpoint. This values allows endpoints to be taken out of rotation faster or slower than the typical times used in Azure."
        },
        "requestPath": {
          "type": "string",
          "description": "The URI used for requesting health status from the VM. Path is required if a protocol is set to http. Otherwise, it is not allowed. There is no default value."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the probe resource."
        }
      },
      "required": [
        "protocol",
        "port"
      ],
      "description": "Load balancer probe resource."
    },
    "Probe": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProbePropertiesFormat",
          "description": "Properties of load balancer probe."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of probes used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "A load balancer probe."
    },
    "InboundNatRulePropertiesFormat": {
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "backendIPConfiguration": {
          "readOnly": true,
          "$ref": "./networkInterface.json#/definitions/NetworkInterfaceIPConfiguration",
          "description": "A reference to a private IP address defined on a network interface of a VM. Traffic sent to the frontend port of each of the frontend IP configurations is forwarded to the backend IP."
        },
        "protocol": {
          "$ref": "#/definitions/TransportProtocol",
          "description": "The reference to the transport protocol used by the load balancing rule."
        },
        "frontendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for the internal endpoint. Acceptable values range from 1 to 65535."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the inbound NAT rule resource."
        }
      },
      "description": "Properties of the inbound NAT rule."
    },
    "InboundNatRule": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InboundNatRulePropertiesFormat",
          "description": "Properties of load balancer inbound nat rule."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of inbound NAT rules used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "Inbound NAT rule of the load balancer."
    },
    "InboundNatPoolPropertiesFormat": {
      "properties": {
        "frontendIPConfiguration": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "A reference to frontend IP addresses."
        },
        "protocol": {
          "$ref": "#/definitions/TransportProtocol",
          "description": "The reference to the transport protocol used by the inbound NAT pool."
        },
        "frontendPortRangeStart": {
          "type": "integer",
          "format": "int32",
          "description": "The first port number in the range of external ports that will be used to provide Inbound Nat to NICs associated with a load balancer. Acceptable values range between 1 and 65534."
        },
        "frontendPortRangeEnd": {
          "type": "integer",
          "format": "int32",
          "description": "The last port number in the range of external ports that will be used to provide Inbound Nat to NICs associated with a load balancer. Acceptable values range between 1 and 65535."
        },
        "backendPort": {
          "type": "integer",
          "format": "int32",
          "description": "The port used for internal connections on the endpoint. Acceptable values are between 1 and 65535."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP."
        },
        "enableFloatingIP": {
          "type": "boolean",
          "description": "Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint."
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the inbound NAT pool resource."
        }
      },
      "required": [
        "protocol",
        "frontendPortRangeStart",
        "frontendPortRangeEnd",
        "backendPort"
      ],
      "description": "Properties of Inbound NAT pool."
    },
    "InboundNatPool": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InboundNatPoolPropertiesFormat",
          "description": "Properties of load balancer inbound nat pool."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of inbound NAT pools used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "Inbound NAT pool of the load balancer."
    },
    "OutboundRulePropertiesFormat": {
      "properties": {
        "allocatedOutboundPorts": {
          "type": "integer",
          "format": "int32",
          "description": "The number of outbound ports to be used for NAT."
        },
        "frontendIPConfigurations": {
          "type": "array",
          "items": {
            "$ref": "./network.json#/definitions/SubResource"
          },
          "description": "The Frontend IP addresses of the load balancer."
        },
        "backendAddressPool": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "A reference to a pool of DIPs. Outbound traffic is randomly load balanced across IPs in the backend IPs."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the outbound rule resource."
        },
        "protocol": {
          "type": "string",
          "description": "The protocol for the outbound rule in load balancer.",
          "enum": [
            "Tcp",
            "Udp",
            "All"
          ],
          "x-ms-enum": {
            "name": "LoadBalancerOutboundRuleProtocol",
            "modelAsString": true
          }
        },
        "enableTcpReset": {
          "type": "boolean",
          "description": "Receive bidirectional TCP Reset on TCP flow idle timeout or unexpected connection termination. This element is only used when the protocol is set to TCP."
        },
        "idleTimeoutInMinutes": {
          "type": "integer",
          "description": "The timeout for the TCP idle connection."
        }
      },
      "required": [
        "backendAddressPool",
        "frontendIPConfigurations",
        "protocol"
      ],
      "description": "Outbound rule of the load balancer."
    },
    "OutboundRule": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OutboundRulePropertiesFormat",
          "description": "Properties of load balancer outbound rule."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within the set of outbound rules used by the load balancer. This name can be used to access the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/SubResource"
        }
      ],
      "description": "Outbound rule of the load balancer."
    },
    "LoadBalancerPropertiesFormat": {
      "properties": {
        "frontendIPConfigurations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FrontendIPConfiguration"
          },
          "description": "Object representing the frontend IPs to be used for the load balancer."
        },
        "backendAddressPools": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BackendAddressPool"
          },
          "description": "Collection of backend address pools used by a load balancer."
        },
        "loadBalancingRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadBalancingRule"
          },
          "description": "Object collection representing the load balancing rules Gets the provisioning."
        },
        "probes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Probe"
          },
          "description": "Collection of probe objects used in the load balancer."
        },
        "inboundNatRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InboundNatRule"
          },
          "description": "Collection of inbound NAT Rules used by a load balancer. Defining inbound NAT rules on your load balancer is mutually exclusive with defining an inbound NAT pool. Inbound NAT pools are referenced from virtual machine scale sets. NICs that are associated with individual virtual machines cannot reference an Inbound NAT pool. They have to reference individual inbound NAT rules."
        },
        "inboundNatPools": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InboundNatPool"
          },
          "description": "Defines an external port range for inbound NAT to a single backend port on NICs associated with a load balancer. Inbound NAT rules are created automatically for each NIC associated with the Load Balancer using an external port from this range. Defining an Inbound NAT pool on your Load Balancer is mutually exclusive with defining inbound Nat rules. Inbound NAT pools are referenced from virtual machine scale sets. NICs that are associated with individual virtual machines cannot reference an inbound NAT pool. They have to reference individual inbound NAT rules."
        },
        "outboundRules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutboundRule"
          },
          "description": "The outbound rules."
        },
        "resourceGuid": {
          "readOnly": true,
          "type": "string",
          "description": "The resource GUID property of the load balancer resource."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the load balancer resource."
        }
      },
      "description": "Properties of the load balancer."
    },
    "LoadBalancer": {
      "properties": {
        "sku": {
          "$ref": "#/definitions/LoadBalancerSku",
          "description": "The load balancer SKU."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LoadBalancerPropertiesFormat",
          "description": "Properties of load balancer."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "LoadBalancer resource."
    },
    "LoadBalancerListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadBalancer"
          },
          "description": "A list of load balancers in a resource group."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListLoadBalancers API service call."
    },
    "InboundNatRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InboundNatRule"
          },
          "description": "A list of inbound nat rules in a load balancer."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListInboundNatRule API service call."
    },
    "LoadBalancerBackendAddressPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BackendAddressPool"
          },
          "description": "A list of backend address pools in a load balancer."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListBackendAddressPool API service call."
    },
    "LoadBalancerFrontendIPConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FrontendIPConfiguration"
          },
          "description": "A list of frontend IP configurations in a load balancer."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListFrontendIPConfiguration API service call."
    },
    "LoadBalancerLoadBalancingRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoadBalancingRule"
          },
          "description": "A list of load balancing rules in a load balancer."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListLoadBalancingRule API service call."
    },
    "LoadBalancerOutboundRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OutboundRule"
          },
          "description": "A list of outbound rules in a load balancer."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListOutboundRule API service call."
    },
    "LoadBalancerProbeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Probe"
          },
          "description": "A list of probes in a load balancer."
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for ListProbe API service call."
    },
    "TransportProtocol": {
      "type": "string",
      "description": "The transport protocol for the endpoint.",
      "enum": [
        "Udp",
        "Tcp",
        "All"
      ],
      "x-ms-enum": {
        "name": "TransportProtocol",
        "modelAsString": true
      }
    }
  }
}
