{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2024-03-03-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AssessmentProjectsOperations"
    },
    {
      "name": "AssessmentProjectSummaryOperations"
    },
    {
      "name": "PrivateEndpointConnectionOperations"
    },
    {
      "name": "PrivateLinkResourceOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "operationId": "AssessmentProjectsOperations_ListBySubscription",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "List AssessmentProject resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_ListBySubscription": {
            "$ref": "./examples/AssessmentProjectsOperations_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects": {
      "get": {
        "operationId": "AssessmentProjectsOperations_ListByParent",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "List AssessmentProject resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_ListByParent": {
            "$ref": "./examples/AssessmentProjectsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}": {
      "get": {
        "operationId": "AssessmentProjectsOperations_Get",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Get a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Get": {
            "$ref": "./examples/AssessmentProjectsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AssessmentProjectsOperations_Create",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Create a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AssessmentProject' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "201": {
            "description": "Resource 'AssessmentProject' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Create": {
            "$ref": "./examples/AssessmentProjectsOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AssessmentProjectsOperations_Update",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Update a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssessmentProjectUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProject"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Update": {
            "$ref": "./examples/AssessmentProjectsOperations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "AssessmentProjectsOperations_Delete",
        "tags": [
          "AssessmentProjectsOperations"
        ],
        "description": "Delete a AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectsOperations_Delete": {
            "$ref": "./examples/AssessmentProjectsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnectionOperations_ListByParent",
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "description": "List PrivateEndpointConnection resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionOperations_ListByParent": {
            "$ref": "./examples/PrivateEndpointConnectionOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnectionOperations_Get",
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "description": "Get a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionOperations_Get": {
            "$ref": "./examples/PrivateEndpointConnectionOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnectionOperations_Update",
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "description": "Create a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionOperations_Update": {
            "$ref": "./examples/PrivateEndpointConnectionOperations_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrivateEndpointConnectionOperations_Delete",
        "tags": [
          "PrivateEndpointConnectionOperations"
        ],
        "description": "Delete a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionOperations_Delete": {
            "$ref": "./examples/PrivateEndpointConnectionOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResourceOperations_ListByParent",
        "tags": [
          "PrivateLinkResourceOperations"
        ],
        "description": "List PrivateLinkResource resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResourceOperations_ListByParent": {
            "$ref": "./examples/PrivateLinkResourceOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "operationId": "PrivateLinkResourceOperations_Get",
        "tags": [
          "PrivateLinkResourceOperations"
        ],
        "description": "Get a PrivateLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "privateLinkResourceName",
            "in": "path",
            "description": "Private link resource ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResourceOperations_Get": {
            "$ref": "./examples/PrivateLinkResourceOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/projectSummary": {
      "get": {
        "operationId": "AssessmentProjectSummaryOperations_ListByParent",
        "tags": [
          "AssessmentProjectSummaryOperations"
        ],
        "description": "List AssessmentProjectSummary resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectSummaryOperations_ListByParent": {
            "$ref": "./examples/AssessmentProjectSummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/projectSummary/{projectSummaryName}": {
      "get": {
        "operationId": "AssessmentProjectSummaryOperations_Get",
        "tags": [
          "AssessmentProjectSummaryOperations"
        ],
        "description": "Get a AssessmentProjectSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "projectSummaryName",
            "in": "path",
            "description": "Assessment project summary resource.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessmentProjectSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessmentProjectSummaryOperations_Get": {
            "$ref": "./examples/AssessmentProjectSummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AssessmentProject": {
      "type": "object",
      "description": "An Assessment project site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AssessmentProjectListResult": {
      "type": "object",
      "description": "The response of a AssessmentProject list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessmentProject items on this page",
          "items": {
            "$ref": "#/definitions/AssessmentProject"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessmentProjectSummary": {
      "type": "object",
      "description": "Assessment project summary resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessmentProjectSummaryProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessmentProjectSummaryListResult": {
      "type": "object",
      "description": "The response of a AssessmentProjectSummary list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessmentProjectSummary items on this page",
          "items": {
            "$ref": "#/definitions/AssessmentProjectSummary"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessmentProjectSummaryProperties": {
      "type": "object",
      "description": "Assessment project summary properties class.",
      "properties": {
        "errorSummaryAffectedEntities": {
          "type": "array",
          "description": "Gets the Error summary by feature. Contains number of affected Entities per\nfeature.",
          "items": {
            "$ref": "#/definitions/ErrorSummary"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "numberOfPrivateEndpointConnections": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of private endpoint connections.",
          "readOnly": true
        },
        "numberOfGroups": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of groups created in this project.",
          "readOnly": true
        },
        "numberOfMachines": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of machines part of this project.",
          "readOnly": true
        },
        "numberOfImportMachines": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of import machines part of this project.",
          "readOnly": true
        },
        "numberOfAssessments": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the number of assessments created in this project.",
          "readOnly": true
        },
        "lastAssessmentTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets the last assessment timestamp.",
          "readOnly": true
        }
      }
    },
    "AssessmentProjectUpdate": {
      "type": "object",
      "description": "An Assessment project site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "AssessmentSizingCriterion": {
      "type": "string",
      "description": "Assessment Sizing Criteria.",
      "enum": [
        "PerformanceBased",
        "AsOnPremises"
      ],
      "x-ms-enum": {
        "name": "AssessmentSizingCriterion",
        "modelAsString": true,
        "values": [
          {
            "name": "PerformanceBased",
            "value": "PerformanceBased",
            "description": "Performance Data based Sizing."
          },
          {
            "name": "AsOnPremises",
            "value": "AsOnPremises",
            "description": "As On Premises or Static Data based Sizing."
          }
        ]
      }
    },
    "AssessmentStatus": {
      "type": "string",
      "description": "Assessment Status.",
      "enum": [
        "Created",
        "Updated",
        "Running",
        "Completed",
        "Invalid",
        "OutOfSync",
        "OutDated",
        "Deleted",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AssessmentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Assessment is Created."
          },
          {
            "name": "Updated",
            "value": "Updated",
            "description": "Assessment is Updated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Assessment is currently running."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Assessment is Completed or Ready."
          },
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Assessment is Failed i.e. it is now invalid."
          },
          {
            "name": "OutOfSync",
            "value": "OutOfSync",
            "description": "Assessment is Out of Sync."
          },
          {
            "name": "OutDated",
            "value": "OutDated",
            "description": "Assessment is Out Dated."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Assessment is Deleted."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Assessment has Failed."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "AzureCurrency": {
      "type": "string",
      "description": "Currency for Azure.",
      "enum": [
        "Unknown",
        "USD",
        "DKK",
        "CAD",
        "IDR",
        "JPY",
        "KRW",
        "NZD",
        "NOK",
        "RUB",
        "SAR",
        "ZAR",
        "SEK",
        "TRY",
        "GBP",
        "MXN",
        "MYR",
        "INR",
        "HKD",
        "BRL",
        "TWD",
        "EUR",
        "CHF",
        "ARS",
        "AUD",
        "CNY"
      ],
      "x-ms-enum": {
        "name": "AzureCurrency",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Currency for Azure"
          },
          {
            "name": "USD",
            "value": "USD",
            "description": "USD Currency for Azure"
          },
          {
            "name": "DKK",
            "value": "DKK",
            "description": "DKK Currency for Azure"
          },
          {
            "name": "CAD",
            "value": "CAD",
            "description": "CAD Currency for Azure"
          },
          {
            "name": "IDR",
            "value": "IDR",
            "description": "IDR Currency for Azure"
          },
          {
            "name": "JPY",
            "value": "JPY",
            "description": "JPY Currency for Azure"
          },
          {
            "name": "KRW",
            "value": "KRW",
            "description": "KRW Currency for Azure"
          },
          {
            "name": "NZD",
            "value": "NZD",
            "description": "NZD Currency for Azure"
          },
          {
            "name": "NOK",
            "value": "NOK",
            "description": "NOK Currency for Azure"
          },
          {
            "name": "RUB",
            "value": "RUB",
            "description": "RUB Currency for Azure"
          },
          {
            "name": "SAR",
            "value": "SAR",
            "description": "SAR Currency for Azure"
          },
          {
            "name": "ZAR",
            "value": "ZAR",
            "description": "ZAR Currency for Azure"
          },
          {
            "name": "SEK",
            "value": "SEK",
            "description": "SEK Currency for Azure"
          },
          {
            "name": "TRY",
            "value": "TRY",
            "description": "TRY Currency for Azure"
          },
          {
            "name": "GBP",
            "value": "GBP",
            "description": "GBP Currency for Azure"
          },
          {
            "name": "MXN",
            "value": "MXN",
            "description": "MXN Currency for Azure"
          },
          {
            "name": "MYR",
            "value": "MYR",
            "description": "MYR Currency for Azure"
          },
          {
            "name": "INR",
            "value": "INR",
            "description": "INR Currency for Azure"
          },
          {
            "name": "HKD",
            "value": "HKD",
            "description": "HKD Currency for Azure"
          },
          {
            "name": "BRL",
            "value": "BRL",
            "description": "BRL Currency for Azure"
          },
          {
            "name": "TWD",
            "value": "TWD",
            "description": "TWD Currency for Azure"
          },
          {
            "name": "EUR",
            "value": "EUR",
            "description": "EUR Currency for Azure"
          },
          {
            "name": "CHF",
            "value": "CHF",
            "description": "CHF Currency for Azure"
          },
          {
            "name": "ARS",
            "value": "ARS",
            "description": "ARS Currency for Azure"
          },
          {
            "name": "AUD",
            "value": "AUD",
            "description": "AUD Currency for Azure"
          },
          {
            "name": "CNY",
            "value": "CNY",
            "description": "CNY Currency for Azure"
          }
        ]
      }
    },
    "AzureLocation": {
      "type": "string",
      "description": "Location for Azure.",
      "enum": [
        "Unknown",
        "EastAsia",
        "SoutheastAsia",
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CanadaCentral",
        "CanadaEast",
        "WestEurope",
        "NorthEurope",
        "CentralIndia",
        "SouthIndia",
        "WestIndia",
        "JapanEast",
        "JapanWest",
        "KoreaCentral",
        "KoreaSouth",
        "UkWest",
        "UkSouth",
        "NorthCentralUs",
        "EastUs",
        "WestUs2",
        "SouthCentralUs",
        "CentralUs",
        "EastUs2",
        "WestUs",
        "WestCentralUs",
        "GermanyCentral",
        "GermanyNortheast",
        "ChinaNorth",
        "ChinaEast",
        "USGovArizona",
        "USGovTexas",
        "USGovIowa",
        "USGovVirginia",
        "USDoDCentral",
        "USDoDEast",
        "FranceCentral",
        "AustraliaCentral",
        "SouthAfricaNorth",
        "FranceSouth",
        "AustraliaCentral2",
        "SouthAfricaWest",
        "GermanyNorth",
        "GermanyWestCentral",
        "NorwayEast",
        "NorwayWest",
        "ChinaEast2",
        "ChinaNorth2",
        "SwitzerlandNorth",
        "SwitzerlandWest",
        "UAENorth",
        "UAECentral",
        "UsNatEast",
        "UsNatWest",
        "UsSecEast",
        "UsSecCentral",
        "UsSecWest",
        "SwedenCentral",
        "QatarCentral",
        "JioIndiaWest",
        "ItalyNorth",
        "PolandCentral",
        "IsraelCentral",
        "MexicoCentral",
        "NewZealandNorth",
        "SpainCentral"
      ],
      "x-ms-enum": {
        "name": "AzureLocation",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Location for Azure"
          },
          {
            "name": "EastAsia",
            "value": "EastAsia",
            "description": "EastAsia Location for Azure"
          },
          {
            "name": "SoutheastAsia",
            "value": "SoutheastAsia",
            "description": "SoutheastAsia Location for Azure"
          },
          {
            "name": "AustraliaEast",
            "value": "AustraliaEast",
            "description": "AustraliaEast Location for Azure"
          },
          {
            "name": "AustraliaSoutheast",
            "value": "AustraliaSoutheast",
            "description": "AustraliaSoutheast Location for Azure"
          },
          {
            "name": "BrazilSouth",
            "value": "BrazilSouth",
            "description": "BrazilSouth Location for Azure"
          },
          {
            "name": "CanadaCentral",
            "value": "CanadaCentral",
            "description": "CanadaCentral Location for Azure"
          },
          {
            "name": "CanadaEast",
            "value": "CanadaEast",
            "description": "CanadaEast Location for Azure"
          },
          {
            "name": "WestEurope",
            "value": "WestEurope",
            "description": "WestEurope Location for Azure"
          },
          {
            "name": "NorthEurope",
            "value": "NorthEurope",
            "description": "NorthEurope Location for Azure"
          },
          {
            "name": "CentralIndia",
            "value": "CentralIndia",
            "description": "CentralIndia Location for Azure"
          },
          {
            "name": "SouthIndia",
            "value": "SouthIndia",
            "description": "SouthIndia Location for Azure"
          },
          {
            "name": "WestIndia",
            "value": "WestIndia",
            "description": "WestIndia Location for Azure"
          },
          {
            "name": "JapanEast",
            "value": "JapanEast",
            "description": "JapanEast Location for Azure"
          },
          {
            "name": "JapanWest",
            "value": "JapanWest",
            "description": "JapanWest Location for Azure"
          },
          {
            "name": "KoreaCentral",
            "value": "KoreaCentral",
            "description": "KoreaCentral Location for Azure"
          },
          {
            "name": "KoreaSouth",
            "value": "KoreaSouth",
            "description": "KoreaSouth Location for Azure"
          },
          {
            "name": "UkWest",
            "value": "UkWest",
            "description": "UkWest Location for Azure"
          },
          {
            "name": "UkSouth",
            "value": "UkSouth",
            "description": "UkSouth Location for Azure"
          },
          {
            "name": "NorthCentralUs",
            "value": "NorthCentralUs",
            "description": "NorthCentralUs Location for Azure"
          },
          {
            "name": "EastUs",
            "value": "EastUs",
            "description": "EastUs Location for Azure"
          },
          {
            "name": "WestUs2",
            "value": "WestUs2",
            "description": "WestUs2 Location for Azure"
          },
          {
            "name": "SouthCentralUs",
            "value": "SouthCentralUs",
            "description": "SouthCentralUs Location for Azure"
          },
          {
            "name": "CentralUs",
            "value": "CentralUs",
            "description": "CentralUs Location for Azure"
          },
          {
            "name": "EastUs2",
            "value": "EastUs2",
            "description": "EastUs2 Location for Azure"
          },
          {
            "name": "WestUs",
            "value": "WestUs",
            "description": "WestUs Location for Azure"
          },
          {
            "name": "WestCentralUs",
            "value": "WestCentralUs",
            "description": "WestCentralUs Location for Azure"
          },
          {
            "name": "GermanyCentral",
            "value": "GermanyCentral",
            "description": "GermanyCentral Location for Azure"
          },
          {
            "name": "GermanyNortheast",
            "value": "GermanyNortheast",
            "description": "GermanyNortheast Location for Azure"
          },
          {
            "name": "ChinaNorth",
            "value": "ChinaNorth",
            "description": "ChinaNorth Location for Azure"
          },
          {
            "name": "ChinaEast",
            "value": "ChinaEast",
            "description": "ChinaEast Location for Azure"
          },
          {
            "name": "USGovArizona",
            "value": "USGovArizona",
            "description": "USGovArizona Location for Azure"
          },
          {
            "name": "USGovTexas",
            "value": "USGovTexas",
            "description": "USGovTexas Location for Azure"
          },
          {
            "name": "USGovIowa",
            "value": "USGovIowa",
            "description": "USGovIowa Location for Azure"
          },
          {
            "name": "USGovVirginia",
            "value": "USGovVirginia",
            "description": "USGovVirginia Location for Azure"
          },
          {
            "name": "USDoDCentral",
            "value": "USDoDCentral",
            "description": "USDoDCentral Location for Azure"
          },
          {
            "name": "USDoDEast",
            "value": "USDoDEast",
            "description": "USDoDEast Location for Azure"
          },
          {
            "name": "FranceCentral",
            "value": "FranceCentral",
            "description": "FranceCentral Location for Azure"
          },
          {
            "name": "AustraliaCentral",
            "value": "AustraliaCentral",
            "description": "AustraliaCentral Location for Azure"
          },
          {
            "name": "SouthAfricaNorth",
            "value": "SouthAfricaNorth",
            "description": "SouthAfricaNorth Location for Azure"
          },
          {
            "name": "FranceSouth",
            "value": "FranceSouth",
            "description": "FranceSouth Location for Azure"
          },
          {
            "name": "AustraliaCentral2",
            "value": "AustraliaCentral2",
            "description": "AustraliaCentral2 Location for Azure"
          },
          {
            "name": "SouthAfricaWest",
            "value": "SouthAfricaWest",
            "description": "SouthAfricaWest Location for Azure"
          },
          {
            "name": "GermanyNorth",
            "value": "GermanyNorth",
            "description": "GermanyNorth Location for Azure"
          },
          {
            "name": "GermanyWestCentral",
            "value": "GermanyWestCentral",
            "description": "GermanyWestCentral Location for Azure"
          },
          {
            "name": "NorwayEast",
            "value": "NorwayEast",
            "description": "NorwayEast Location for Azure"
          },
          {
            "name": "NorwayWest",
            "value": "NorwayWest",
            "description": "NorwayWest Location for Azure"
          },
          {
            "name": "ChinaEast2",
            "value": "ChinaEast2",
            "description": "ChinaEast2 Location for Azure"
          },
          {
            "name": "ChinaNorth2",
            "value": "ChinaNorth2",
            "description": "ChinaNorth2 Location for Azure"
          },
          {
            "name": "SwitzerlandNorth",
            "value": "SwitzerlandNorth",
            "description": "SwitzerlandNorth Location for Azure"
          },
          {
            "name": "SwitzerlandWest",
            "value": "SwitzerlandWest",
            "description": "SwitzerlandWest Location for Azure"
          },
          {
            "name": "UAENorth",
            "value": "UAENorth",
            "description": "UAENorth Location for Azure"
          },
          {
            "name": "UAECentral",
            "value": "UAECentral",
            "description": "UAECentral Location for Azure"
          },
          {
            "name": "UsNatEast",
            "value": "UsNatEast",
            "description": "UsNatEast Location for Azure"
          },
          {
            "name": "UsNatWest",
            "value": "UsNatWest",
            "description": "UsNatWest Location for Azure"
          },
          {
            "name": "UsSecEast",
            "value": "UsSecEast",
            "description": "UsSecEast Location for Azure"
          },
          {
            "name": "UsSecCentral",
            "value": "UsSecCentral",
            "description": "UsSecCentral Location for Azure"
          },
          {
            "name": "UsSecWest",
            "value": "UsSecWest",
            "description": "UsSecWest Location for Azure"
          },
          {
            "name": "SwedenCentral",
            "value": "SwedenCentral",
            "description": "SwedenCentral Location for Azure"
          },
          {
            "name": "QatarCentral",
            "value": "QatarCentral",
            "description": "QatarCentral Location for Azure"
          },
          {
            "name": "JioIndiaWest",
            "value": "JioIndiaWest",
            "description": "JioIndiaWest Location for Azure"
          },
          {
            "name": "ItalyNorth",
            "value": "ItalyNorth",
            "description": "ItalyNorth Location for Azure"
          },
          {
            "name": "PolandCentral",
            "value": "PolandCentral",
            "description": "PolandCentral Location for Azure"
          },
          {
            "name": "IsraelCentral",
            "value": "IsraelCentral",
            "description": "IsraelCentral Location for Azure"
          },
          {
            "name": "MexicoCentral",
            "value": "MexicoCentral",
            "description": "MexicoCentral Location for Azure"
          },
          {
            "name": "NewZealandNorth",
            "value": "NewZealandNorth",
            "description": "NewZealandNorth Location for Azure"
          },
          {
            "name": "SpainCentral",
            "value": "SpainCentral",
            "description": "SpainCentral Location for Azure"
          }
        ]
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "AzureWebAppTier": {
      "type": "string",
      "description": "Wep App Tier.",
      "enum": [
        "Unknown",
        "Free",
        "Shared",
        "Basic",
        "Standard",
        "Premium",
        "PremiumV2",
        "Isolated"
      ],
      "x-ms-enum": {
        "name": "AzureWebAppTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown. Indicates Missing Data."
          },
          {
            "name": "Free",
            "value": "Free",
            "description": "Free Tier."
          },
          {
            "name": "Shared",
            "value": "Shared",
            "description": "Shared Tier."
          },
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic Tier."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard Tier."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium Tier."
          },
          {
            "name": "PremiumV2",
            "value": "PremiumV2",
            "description": "PremiumV2 Tier."
          },
          {
            "name": "Isolated",
            "value": "Isolated",
            "description": "Isolated Tier."
          }
        ]
      }
    },
    "CloudSuitability": {
      "type": "string",
      "description": "Cloud Suitability for Azure.",
      "enum": [
        "Unknown",
        "NotSuitable",
        "Suitable",
        "ConditionallySuitable",
        "ReadinessUnknown"
      ],
      "x-ms-enum": {
        "name": "CloudSuitability",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown. Indicates missing data."
          },
          {
            "name": "NotSuitable",
            "value": "NotSuitable",
            "description": "Not Suitable for Azure."
          },
          {
            "name": "Suitable",
            "value": "Suitable",
            "description": "Suitable for Azure."
          },
          {
            "name": "ConditionallySuitable",
            "value": "ConditionallySuitable",
            "description": "Conditionally Suitable for Azure."
          },
          {
            "name": "ReadinessUnknown",
            "value": "ReadinessUnknown",
            "description": "Unknown Readiness for Azure."
          }
        ]
      }
    },
    "ErrorSummary": {
      "type": "object",
      "description": "Error summary containing affected entities for each type of assessment.",
      "properties": {
        "assessmentType": {
          "type": "string",
          "description": "Gets the assessment type.",
          "readOnly": true
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the affected entity count.",
          "readOnly": true
        }
      }
    },
    "LicensingProgram": {
      "type": "string",
      "description": "The licensing program.",
      "enum": [
        "Retail",
        "Unknown",
        "EA",
        "MCA"
      ],
      "x-ms-enum": {
        "name": "LicensingProgram",
        "modelAsString": true,
        "values": [
          {
            "name": "Retail",
            "value": "Retail",
            "description": "Retail/Pay as you go."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Not known"
          },
          {
            "name": "EA",
            "value": "EA",
            "description": "Enterprise agreement."
          },
          {
            "name": "MCA",
            "value": "MCA",
            "description": "Microsoft customer agreement."
          }
        ]
      }
    },
    "Percentile": {
      "type": "string",
      "description": "Percentile for Performance Data.",
      "enum": [
        "Percentile50",
        "Percentile90",
        "Percentile95",
        "Percentile99",
        "PercentileUnknown"
      ],
      "x-ms-enum": {
        "name": "Percentile",
        "modelAsString": true,
        "values": [
          {
            "name": "Percentile50",
            "value": "Percentile50",
            "description": "Percentile 50."
          },
          {
            "name": "Percentile90",
            "value": "Percentile90",
            "description": "Percentile 90."
          },
          {
            "name": "Percentile95",
            "value": "Percentile95",
            "description": "Percentile 95."
          },
          {
            "name": "Percentile99",
            "value": "Percentile99",
            "description": "Percentile 99."
          },
          {
            "name": "PercentileUnknown",
            "value": "PercentileUnknown",
            "description": "Percentile unknown."
          }
        ]
      }
    },
    "PremiumDiskSupport": {
      "type": "string",
      "description": "Premium Disk Support",
      "enum": [
        "PremiumDiskSupported",
        "PremiumDiskNotSupported"
      ],
      "x-ms-enum": {
        "name": "PremiumDiskSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "PremiumDiskSupported",
            "value": "PremiumDiskSupported",
            "description": "Premium Disk Supported"
          },
          {
            "name": "PremiumDiskNotSupported",
            "value": "PremiumDiskNotSupported",
            "description": "Premium Disk Not Supported"
          }
        ]
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "Private endpoint connection resource.",
      "properties": {
        "properties": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The response of a PrivateEndpointConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateEndpointConnection items on this page",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "Private link resource.",
      "properties": {
        "properties": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateLinkResourceListResult": {
      "type": "object",
      "description": "The response of a PrivateLinkResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateLinkResource items on this page",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProjectProperties": {
      "type": "object",
      "description": "Properties of a project.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was created. Date-Time represented in ISO-8601 format.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Time when this project was last updated. Date-Time represented in ISO-8601\nformat.",
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Endpoint at which the collector agent can call agent REST API.",
          "readOnly": true
        },
        "assessmentSolutionId": {
          "type": "string",
          "description": "Assessment solution ARM id tracked by Microsoft.Migrate/migrateProjects."
        },
        "projectStatus": {
          "$ref": "#/definitions/ProjectStatus",
          "description": "Assessment project status."
        },
        "customerWorkspaceId": {
          "type": "string",
          "description": "The ARM id of service map workspace created by customer."
        },
        "customerWorkspaceLocation": {
          "type": "string",
          "description": "Location of service map workspace created by customer."
        },
        "publicNetworkAccess": {
          "type": "string",
          "description": "This value can be set to 'enabled' to avoid breaking changes on existing\ncustomer resources and templates. If set to 'disabled', traffic over public\ninterface is not allowed, and private endpoint connections would be the\nexclusive access method."
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "The list of private endpoint connections to the project.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "customerStorageAccountArmId": {
          "type": "string",
          "description": "The ARM id of the storage account used for interactions when public access is\ndisabled."
        }
      }
    },
    "ProjectStatus": {
      "type": "string",
      "description": "Project Status.",
      "enum": [
        "Active",
        "Inactive"
      ],
      "x-ms-enum": {
        "name": "ProjectStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active Status."
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "Inactive Status."
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource provisioning Successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource provisioning Failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource provisioning Canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Resource is being Provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being Updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being Deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource is being Accepted."
          }
        ]
      },
      "readOnly": true
    },
    "SavingsOptions": {
      "type": "string",
      "description": "The savings options.",
      "enum": [
        "None",
        "RI1Year",
        "RI3Year",
        "SavingsPlan1Year",
        "SavingsPlan3Year",
        "CustomAzureOfferCode"
      ],
      "x-ms-enum": {
        "name": "SavingsOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No savings options."
          },
          {
            "name": "RI1Year",
            "value": "RI1Year",
            "description": "Reserved Instance for 1 year."
          },
          {
            "name": "RI3Year",
            "value": "RI3Year",
            "description": "Reserved Instance for 3 years."
          },
          {
            "name": "SavingsPlan1Year",
            "value": "SavingsPlan1Year",
            "description": "The savings plan for 1 year."
          },
          {
            "name": "SavingsPlan3Year",
            "value": "SavingsPlan3Year",
            "description": "The savings plan for 3  years."
          },
          {
            "name": "CustomAzureOfferCode",
            "value": "CustomAzureOfferCode",
            "description": "Custom azure offer code."
          }
        ]
      }
    },
    "TimeRange": {
      "type": "string",
      "description": "Time Range for Performance Data.",
      "enum": [
        "Day",
        "Week",
        "Month",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "TimeRange",
        "modelAsString": true,
        "values": [
          {
            "name": "Day",
            "value": "Day",
            "description": "Daily."
          },
          {
            "name": "Week",
            "value": "Week",
            "description": "Weekly."
          },
          {
            "name": "Month",
            "value": "Month",
            "description": "Monthly."
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Custom Time Range."
          }
        ]
      }
    },
    "WebAppType": {
      "type": "string",
      "description": "Web App Type.",
      "enum": [
        "Unknown",
        "ASP.Net",
        "Java"
      ],
      "x-ms-enum": {
        "name": "WebAppType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown. Indicates Missing Data."
          },
          {
            "name": "ASPNET",
            "value": "ASP.Net",
            "description": "ASP.NET Web App."
          },
          {
            "name": "Java",
            "value": "Java",
            "description": "Java Web App."
          }
        ]
      }
    },
    "WebServerType": {
      "type": "string",
      "description": "Web Server Type.",
      "enum": [
        "Unknown",
        "IIS",
        "Tomcat"
      ],
      "x-ms-enum": {
        "name": "WebServerType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown. Indicates Missing Data."
          },
          {
            "name": "IIS",
            "value": "IIS",
            "description": "ASP.NET Web App."
          },
          {
            "name": "Tomcat",
            "value": "Tomcat",
            "description": "Java Web App."
          }
        ]
      }
    }
  },
  "parameters": {}
}
