{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2024-03-03-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "BusinessCaseOperations"
    },
    {
      "name": "BusinessCaseIaasSummaryOperations"
    },
    {
      "name": "BusinessCasePaasSummaryOperations"
    },
    {
      "name": "BusinessCaseOverviewSummaryOperations"
    },
    {
      "name": "BusinessCaseAvsSummaryOperations"
    },
    {
      "name": "EvaluatedMachinesOperations"
    },
    {
      "name": "EvaluatedSqlEntitiesOperations"
    },
    {
      "name": "EvaluatedWebAppsOperations"
    },
    {
      "name": "EvaluatedAvsMachinesOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases": {
      "get": {
        "operationId": "BusinessCaseOperations_ListByParent",
        "tags": [
          "BusinessCaseOperations"
        ],
        "description": "List BusinessCase resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessCaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}": {
      "get": {
        "operationId": "BusinessCaseOperations_Get",
        "tags": [
          "BusinessCaseOperations"
        ],
        "description": "Get a BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_Get_MaximumSet": {
            "$ref": "./examples/BusinessCaseOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "BusinessCaseOperations_Create",
        "tags": [
          "BusinessCaseOperations"
        ],
        "description": "Create a BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BusinessCase' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            }
          },
          "201": {
            "description": "Resource 'BusinessCase' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BusinessCase"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_Create_MaximumSet": {
            "$ref": "./examples/BusinessCaseOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "BusinessCaseOperations_Delete",
        "tags": [
          "BusinessCaseOperations"
        ],
        "description": "Delete a BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOperations_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/avsSummaries": {
      "get": {
        "operationId": "BusinessCaseAvsSummaryOperations_ListByParent",
        "tags": [
          "BusinessCaseAvsSummaryOperations"
        ],
        "description": "List AvsSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseAvsSummaryOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/BusinessCaseAvsSummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/avsSummaries/{avsSummaryName}": {
      "get": {
        "operationId": "BusinessCaseAvsSummaryOperations_Get",
        "tags": [
          "BusinessCaseAvsSummaryOperations"
        ],
        "description": "Get a AvsSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "avsSummaryName",
            "in": "path",
            "description": "Gets the Name of the Avs Summary.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AvsSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseAvsSummaryOperations_Get_MaximumSet": {
            "$ref": "./examples/BusinessCaseAvsSummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/compareSummary": {
      "post": {
        "operationId": "BusinessCaseOperations_CompareSummary",
        "tags": [
          "BusinessCaseOperations"
        ],
        "summary": "Get Compare summary report for Business case.",
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CompareSummary"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Compare summary report for Business case.": {
            "$ref": "./examples/BusinessCaseOperations_CompareSummary_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedAvsMachines": {
      "get": {
        "operationId": "EvaluatedAvsMachinesOperations_ListByParent",
        "tags": [
          "EvaluatedAvsMachinesOperations"
        ],
        "description": "List EvaluatedAvsMachine resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedAvsMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedAvsMachinesOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/EvaluatedAvsMachinesOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedAvsMachines/{evaluatedAvsMachineName}": {
      "get": {
        "operationId": "EvaluatedAvsMachinesOperations_Get",
        "tags": [
          "EvaluatedAvsMachinesOperations"
        ],
        "description": "Get a EvaluatedAvsMachine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "evaluatedAvsMachineName",
            "in": "path",
            "description": "Business case Evaluated AVS machine ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedAvsMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedAvsMachinesOperations_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/EvaluatedAvsMachinesOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedMachines": {
      "get": {
        "operationId": "EvaluatedMachinesOperations_ListByParent",
        "tags": [
          "EvaluatedMachinesOperations"
        ],
        "description": "List EvaluatedMachine resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedMachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedMachinesOperations_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/EvaluatedMachinesOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedMachines/{evaluatedMachineName}": {
      "get": {
        "operationId": "EvaluatedMachinesOperations_Get",
        "tags": [
          "EvaluatedMachinesOperations"
        ],
        "description": "Get a EvaluatedMachine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "evaluatedMachineName",
            "in": "path",
            "description": "Business case Evaluated machine ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedMachine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedMachinesOperations_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/EvaluatedMachinesOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedSqlEntities": {
      "get": {
        "operationId": "EvaluatedSqlEntitiesOperations_ListByParent",
        "tags": [
          "EvaluatedSqlEntitiesOperations"
        ],
        "description": "List EvaluatedSqlEntity resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedSqlEntityListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedSqlEntitiesOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/EvaluatedSqlEntitiesOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedSqlEntities/{evaluatedSqlEntityName}": {
      "get": {
        "operationId": "EvaluatedSqlEntitiesOperations_Get",
        "tags": [
          "EvaluatedSqlEntitiesOperations"
        ],
        "description": "Get a EvaluatedSqlEntity",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "evaluatedSqlEntityName",
            "in": "path",
            "description": "Business case Evaluated sql entity ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedSqlEntity"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedSqlEntitiesOperations_Get_MaximumSet": {
            "$ref": "./examples/EvaluatedSqlEntitiesOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedWebApps": {
      "get": {
        "operationId": "EvaluatedWebAppsOperations_ListByParent",
        "tags": [
          "EvaluatedWebAppsOperations"
        ],
        "description": "List EvaluatedWebApp resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedWebAppListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedWebAppsOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/EvaluatedWebAppsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedWebApps/{evaluatedWebAppName}": {
      "get": {
        "operationId": "EvaluatedWebAppsOperations_Get",
        "tags": [
          "EvaluatedWebAppsOperations"
        ],
        "description": "Get a EvaluatedWebApp",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "evaluatedWebAppName",
            "in": "path",
            "description": "Business case Evaluated web App ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EvaluatedWebApp"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EvaluatedWebAppsOperations_Get_MaximumSet": {
            "$ref": "./examples/EvaluatedWebAppsOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/getReportDownloadUrl": {
      "post": {
        "operationId": "BusinessCaseOperations_GetReportDownloadUrl",
        "tags": [
          "BusinessCaseOperations"
        ],
        "summary": "Get download URL for the business case report.",
        "description": "Get the URL for downloading the business case in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReportDownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get download URL for the business case report. - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseOperations_GetReportDownloadUrl_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/iaasSummaries": {
      "get": {
        "operationId": "BusinessCaseIaasSummaryOperations_ListByParent",
        "tags": [
          "BusinessCaseIaasSummaryOperations"
        ],
        "description": "List IaasSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IaasSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseIaasSummaryOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/BusinessCaseIaasSummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/iaasSummaries/{iaasSummaryName}": {
      "get": {
        "operationId": "BusinessCaseIaasSummaryOperations_Get",
        "tags": [
          "BusinessCaseIaasSummaryOperations"
        ],
        "description": "Get a IaasSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "iaasSummaryName",
            "in": "path",
            "description": "Gets the Name of the Iaas Summary.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IaasSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseIaasSummaryOperations_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseIaasSummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/overviewSummaries": {
      "get": {
        "operationId": "BusinessCaseOverviewSummaryOperations_ListByParent",
        "tags": [
          "BusinessCaseOverviewSummaryOperations"
        ],
        "description": "List OverviewSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OverviewSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOverviewSummaryOperations_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseOverviewSummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/overviewSummaries/{overviewSummaryName}": {
      "get": {
        "operationId": "BusinessCaseOverviewSummaryOperations_Get",
        "tags": [
          "BusinessCaseOverviewSummaryOperations"
        ],
        "description": "Get a OverviewSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "overviewSummaryName",
            "in": "path",
            "description": "Gets the Name of the Overview Summary.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OverviewSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCaseOverviewSummaryOperations_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCaseOverviewSummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/paasSummaries": {
      "get": {
        "operationId": "BusinessCasePaasSummaryOperations_ListByParent",
        "tags": [
          "BusinessCasePaasSummaryOperations"
        ],
        "description": "List PaasSummary resources by BusinessCase",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaasSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCasePaasSummaryOperations_ListByParent_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/BusinessCasePaasSummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/paasSummaries/{paasSummaryName}": {
      "get": {
        "operationId": "BusinessCasePaasSummaryOperations_Get",
        "tags": [
          "BusinessCasePaasSummaryOperations"
        ],
        "description": "Get a PaasSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "businessCaseName",
            "in": "path",
            "description": "Business case ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "paasSummaryName",
            "in": "path",
            "description": "Gets the Name of the Paas Summary.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PaasSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BusinessCasePaasSummaryOperations_Get_MaximumSet": {
            "$ref": "./examples/BusinessCasePaasSummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AppServiceSku": {
      "type": "object",
      "description": "The app service SKU with corresponding cost.",
      "properties": {
        "skuName": {
          "type": "string",
          "description": "The SKU name.",
          "readOnly": true
        },
        "cost": {
          "type": "number",
          "format": "float",
          "description": "The cost details.",
          "readOnly": true
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "The number of service plans recommended.",
          "readOnly": true
        }
      }
    },
    "AssessmentProject": {
      "type": "object",
      "description": "An Assessment project site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AssessmentSizingCriterion": {
      "type": "string",
      "description": "Assessment Sizing Criteria.",
      "enum": [
        "PerformanceBased",
        "AsOnPremises"
      ],
      "x-ms-enum": {
        "name": "AssessmentSizingCriterion",
        "modelAsString": true,
        "values": [
          {
            "name": "PerformanceBased",
            "value": "PerformanceBased",
            "description": "Performance Data based Sizing."
          },
          {
            "name": "AsOnPremises",
            "value": "AsOnPremises",
            "description": "As On Premises or Static Data based Sizing."
          }
        ]
      }
    },
    "AssessmentStatus": {
      "type": "string",
      "description": "Assessment Status.",
      "enum": [
        "Created",
        "Updated",
        "Running",
        "Completed",
        "Invalid",
        "OutOfSync",
        "OutDated",
        "Deleted",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AssessmentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Assessment is Created."
          },
          {
            "name": "Updated",
            "value": "Updated",
            "description": "Assessment is Updated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Assessment is currently running."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Assessment is Completed or Ready."
          },
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Assessment is Failed i.e. it is now invalid."
          },
          {
            "name": "OutOfSync",
            "value": "OutOfSync",
            "description": "Assessment is Out of Sync."
          },
          {
            "name": "OutDated",
            "value": "OutDated",
            "description": "Assessment is Out Dated."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Assessment is Deleted."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Assessment has Failed."
          }
        ]
      }
    },
    "AvsNodeSummary": {
      "type": "object",
      "description": "Azure Avs Node summary.",
      "properties": {
        "serversSuitableForMigration": {
          "type": "integer",
          "format": "int32",
          "description": "Servers suitable for migration.",
          "readOnly": true
        },
        "totalNumberOfServers": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of servers.",
          "readOnly": true
        },
        "cores": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of Avs VM cores.",
          "readOnly": true
        },
        "memoryGb": {
          "type": "number",
          "format": "float",
          "description": "The total memory in GB.",
          "readOnly": true
        },
        "avsNodeCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "estimatedCost": {
          "type": "number",
          "format": "float",
          "description": "Estimated cost.",
          "readOnly": true
        },
        "osLicensingCost": {
          "type": "number",
          "format": "float",
          "description": "OS licensing cost.",
          "readOnly": true
        },
        "estimatedCostByRecommendedOffer": {
          "type": "array",
          "description": "Estimated cost by offer.",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendedAvsNodeTypeSummary": {
          "type": "array",
          "description": "The recommended VM family summary.",
          "items": {
            "$ref": "#/definitions/RecommendedAvsNodeTypeSummary"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "estimatedExternalStorage": {
          "type": "array",
          "description": "Estimated External Storage",
          "items": {
            "$ref": "#/definitions/EstimatedExternalStorage"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "estimatedNetwork": {
          "type": "array",
          "description": "Estimated Network",
          "items": {
            "$ref": "#/definitions/EstimatedNetwork"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "estimatedCostWithVcfByol": {
          "type": "number",
          "format": "float",
          "description": "Estimated Cost With VCF BYOL",
          "readOnly": true
        },
        "errors": {
          "type": "array",
          "description": "Represents errors which might have occurred while calculating AVS Node Summary",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "AvsSummary": {
      "type": "object",
      "description": "Avs summary REST resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AvsSummaryProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AvsSummaryListResult": {
      "type": "object",
      "description": "The response of a AvsSummary list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AvsSummary items on this page",
          "items": {
            "$ref": "#/definitions/AvsSummary"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AvsSummaryProperties": {
      "type": "object",
      "description": "Avs summary properties class.",
      "properties": {
        "azureAvsSummary": {
          "$ref": "#/definitions/AzureAvsSummary",
          "description": "The Azure Avs summary.",
          "readOnly": true
        },
        "onPremisesAvsSummary": {
          "$ref": "#/definitions/OnPremisesIaasSummary",
          "description": "The on premises IaaS summary.",
          "readOnly": true
        }
      }
    },
    "AzureAppServiceContainerSummary": {
      "type": "object",
      "description": "Shows Azure App Service Container summary.",
      "properties": {
        "estimatedCostByOffer": {
          "type": "array",
          "description": "Estimated cost by recommendation offer.",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "distributionBySku": {
          "type": "array",
          "description": "Distribution by SKU.",
          "items": {
            "$ref": "#/definitions/WebAppTargetSku"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "distributionByApp": {
          "type": "array",
          "description": "Distribution by application type.",
          "items": {
            "$ref": "#/definitions/WebAppDistribution"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "AzureAppServiceSummary": {
      "type": "object",
      "description": "Shows Azure App Service summary.",
      "properties": {
        "estimatedCostByOffer": {
          "type": "array",
          "description": "Estimated cost by recommendation offer.",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "distributionBySku": {
          "type": "array",
          "description": "Distribution by SKU.",
          "items": {
            "$ref": "#/definitions/AppServiceSku"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "distributionByApp": {
          "type": "array",
          "description": "Distribution by application type.",
          "items": {
            "$ref": "#/definitions/WebAppDistribution"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "AzureArcManagementSettings": {
      "type": "object",
      "description": "Azure Arc Management settings.",
      "properties": {
        "monitoringSettings": {
          "$ref": "#/definitions/AzureArcMonitoringSettings",
          "description": "Gets the azure arc monitoring settings."
        }
      },
      "required": [
        "monitoringSettings"
      ]
    },
    "AzureArcMonitoringSettings": {
      "type": "object",
      "description": "Azure Arc Monitoring settings.",
      "properties": {
        "logsVolumeInGB": {
          "type": "number",
          "format": "float",
          "description": "Logs volume settings."
        },
        "alertRulesCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of alert rules settings."
        }
      },
      "required": [
        "logsVolumeInGB",
        "alertRulesCount"
      ]
    },
    "AzureArcSettings": {
      "type": "object",
      "description": "Azure arc settings for a business case.",
      "properties": {
        "azureArcState": {
          "$ref": "#/definitions/AzureArcState",
          "description": "AzureArc state indicates whether to include azure arc related costs in on-premises or not."
        },
        "laborCostPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets Azure arc labour cost percentage.",
          "minimum": 0,
          "maximum": 100
        },
        "managementSettings": {
          "$ref": "#/definitions/AzureArcManagementSettings",
          "description": "Management settings."
        }
      },
      "required": [
        "azureArcState"
      ]
    },
    "AzureArcState": {
      "type": "string",
      "description": "AzureArc state values.",
      "enum": [
        "Disabled",
        "Enabled",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "AzureArcState",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "AzureArc state disabled."
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "AzureArc state enabled."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "AzureArc state unknown."
          }
        ]
      }
    },
    "AzureAvsSummary": {
      "type": "object",
      "description": "The Azure AVS summary.",
      "properties": {
        "yearOnYearEstimates": {
          "$ref": "#/definitions/YearOnYearEstimates",
          "description": "Shows the year-on-year cost overall.",
          "readOnly": true
        },
        "avsNodeSummary": {
          "$ref": "#/definitions/AvsNodeSummary",
          "description": "Avs virtual machine summary.",
          "readOnly": true
        },
        "avsCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "azureAvsSustainabilityDetails": {
          "$ref": "#/definitions/CarbonEmissionsDetails",
          "description": "The AVS Azure Sustainability Details.",
          "readOnly": true
        }
      }
    },
    "AzureCurrency": {
      "type": "string",
      "description": "Currency for Azure.",
      "enum": [
        "Unknown",
        "USD",
        "DKK",
        "CAD",
        "IDR",
        "JPY",
        "KRW",
        "NZD",
        "NOK",
        "RUB",
        "SAR",
        "ZAR",
        "SEK",
        "TRY",
        "GBP",
        "MXN",
        "MYR",
        "INR",
        "HKD",
        "BRL",
        "TWD",
        "EUR",
        "CHF",
        "ARS",
        "AUD",
        "CNY"
      ],
      "x-ms-enum": {
        "name": "AzureCurrency",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Currency for Azure"
          },
          {
            "name": "USD",
            "value": "USD",
            "description": "USD Currency for Azure"
          },
          {
            "name": "DKK",
            "value": "DKK",
            "description": "DKK Currency for Azure"
          },
          {
            "name": "CAD",
            "value": "CAD",
            "description": "CAD Currency for Azure"
          },
          {
            "name": "IDR",
            "value": "IDR",
            "description": "IDR Currency for Azure"
          },
          {
            "name": "JPY",
            "value": "JPY",
            "description": "JPY Currency for Azure"
          },
          {
            "name": "KRW",
            "value": "KRW",
            "description": "KRW Currency for Azure"
          },
          {
            "name": "NZD",
            "value": "NZD",
            "description": "NZD Currency for Azure"
          },
          {
            "name": "NOK",
            "value": "NOK",
            "description": "NOK Currency for Azure"
          },
          {
            "name": "RUB",
            "value": "RUB",
            "description": "RUB Currency for Azure"
          },
          {
            "name": "SAR",
            "value": "SAR",
            "description": "SAR Currency for Azure"
          },
          {
            "name": "ZAR",
            "value": "ZAR",
            "description": "ZAR Currency for Azure"
          },
          {
            "name": "SEK",
            "value": "SEK",
            "description": "SEK Currency for Azure"
          },
          {
            "name": "TRY",
            "value": "TRY",
            "description": "TRY Currency for Azure"
          },
          {
            "name": "GBP",
            "value": "GBP",
            "description": "GBP Currency for Azure"
          },
          {
            "name": "MXN",
            "value": "MXN",
            "description": "MXN Currency for Azure"
          },
          {
            "name": "MYR",
            "value": "MYR",
            "description": "MYR Currency for Azure"
          },
          {
            "name": "INR",
            "value": "INR",
            "description": "INR Currency for Azure"
          },
          {
            "name": "HKD",
            "value": "HKD",
            "description": "HKD Currency for Azure"
          },
          {
            "name": "BRL",
            "value": "BRL",
            "description": "BRL Currency for Azure"
          },
          {
            "name": "TWD",
            "value": "TWD",
            "description": "TWD Currency for Azure"
          },
          {
            "name": "EUR",
            "value": "EUR",
            "description": "EUR Currency for Azure"
          },
          {
            "name": "CHF",
            "value": "CHF",
            "description": "CHF Currency for Azure"
          },
          {
            "name": "ARS",
            "value": "ARS",
            "description": "ARS Currency for Azure"
          },
          {
            "name": "AUD",
            "value": "AUD",
            "description": "AUD Currency for Azure"
          },
          {
            "name": "CNY",
            "value": "CNY",
            "description": "CNY Currency for Azure"
          }
        ]
      }
    },
    "AzureIaasSqlSummary": {
      "type": "object",
      "description": "Azure Iaas sql server summary.",
      "properties": {
        "totalSqlEntities": {
          "type": "integer",
          "format": "int32",
          "description": "Total SQL entities.",
          "readOnly": true
        },
        "suitableSqlEntities": {
          "type": "integer",
          "format": "int32",
          "description": "Suitable SQL entities.",
          "readOnly": true
        },
        "azureSqlCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "estimatedCost": {
          "type": "number",
          "format": "float",
          "description": "Estimated cost.",
          "readOnly": true
        },
        "osLicensingCost": {
          "type": "number",
          "format": "float",
          "description": "OS licensing cost.",
          "readOnly": true
        },
        "estimatedCostByRecommendedOffer": {
          "type": "array",
          "description": "Estimated cost by offer.",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendedVmFamilySummary": {
          "type": "array",
          "description": "The recommended VM family summary.",
          "items": {
            "$ref": "#/definitions/RecommendedVmFamilySummary"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "costByStorageType": {
          "type": "array",
          "description": "The cost by storage type.",
          "items": {
            "$ref": "#/definitions/CostByStorageType"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "AzureIaasSummary": {
      "type": "object",
      "description": "The Azure IaaS summary.",
      "properties": {
        "yearOnYearEstimates": {
          "$ref": "#/definitions/YearOnYearEstimates",
          "description": "Shows the year-on-year cost overall.",
          "readOnly": true
        },
        "azureIaasVmSummary": {
          "$ref": "#/definitions/AzureIaasVmSummary",
          "description": "Azure Iaas virtual machine summary.",
          "readOnly": true
        },
        "azureIaasSqlSummary": {
          "$ref": "#/definitions/AzureIaasSqlSummary",
          "description": "Azure Iaas sql server summary.",
          "readOnly": true
        },
        "azureIaasCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "azureIaasSustainabilityDetails": {
          "$ref": "#/definitions/CarbonEmissionsDetails",
          "description": "The azure Iaas sustainability details.",
          "readOnly": true
        }
      }
    },
    "AzureIaasVmSummary": {
      "type": "object",
      "description": "Azure Iaas virtual machine summary.",
      "properties": {
        "serversSuitableForMigration": {
          "type": "integer",
          "format": "int32",
          "description": "Servers suitable for migration.",
          "readOnly": true
        },
        "totalNumberOfServers": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of servers.",
          "readOnly": true
        },
        "cores": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of IaaS VM cores.",
          "readOnly": true
        },
        "memoryGB": {
          "type": "number",
          "format": "float",
          "description": "The total memory in GB.",
          "readOnly": true
        },
        "azureVmCostDetails": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "estimatedCost": {
          "type": "number",
          "format": "float",
          "description": "Estimated cost.",
          "readOnly": true
        },
        "osLicensingCost": {
          "type": "number",
          "format": "float",
          "description": "OS licensing cost.",
          "readOnly": true
        },
        "estimatedCostByRecommendedOffer": {
          "type": "array",
          "description": "Estimated cost by offer.",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendedVmFamilySummary": {
          "type": "array",
          "description": "The recommended VM family summary.",
          "items": {
            "$ref": "#/definitions/RecommendedVmFamilySummary"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "costByStorageType": {
          "type": "array",
          "description": "The cost by storage type.",
          "items": {
            "$ref": "#/definitions/CostByStorageType"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "AzureKubernetesServiceSummary": {
      "type": "object",
      "description": "Shows Azure Kubernetes Service summary.",
      "properties": {
        "estimatedCostByOffer": {
          "type": "array",
          "description": "Estimated cost by recommendation offer.",
          "items": {
            "$ref": "#/definitions/EstimatedCostByOffer"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "distributionBySku": {
          "type": "array",
          "description": "Distribution by SKU.",
          "items": {
            "$ref": "#/definitions/WebAppTargetSku"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "distributionByApp": {
          "type": "array",
          "description": "Distribution by application type.",
          "items": {
            "$ref": "#/definitions/WebAppDistribution"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "AzureLocation": {
      "type": "string",
      "description": "Location for Azure.",
      "enum": [
        "Unknown",
        "EastAsia",
        "SoutheastAsia",
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CanadaCentral",
        "CanadaEast",
        "WestEurope",
        "NorthEurope",
        "CentralIndia",
        "SouthIndia",
        "WestIndia",
        "JapanEast",
        "JapanWest",
        "KoreaCentral",
        "KoreaSouth",
        "UkWest",
        "UkSouth",
        "NorthCentralUs",
        "EastUs",
        "WestUs2",
        "SouthCentralUs",
        "CentralUs",
        "EastUs2",
        "WestUs",
        "WestCentralUs",
        "GermanyCentral",
        "GermanyNortheast",
        "ChinaNorth",
        "ChinaEast",
        "USGovArizona",
        "USGovTexas",
        "USGovIowa",
        "USGovVirginia",
        "USDoDCentral",
        "USDoDEast",
        "FranceCentral",
        "AustraliaCentral",
        "SouthAfricaNorth",
        "FranceSouth",
        "AustraliaCentral2",
        "SouthAfricaWest",
        "GermanyNorth",
        "GermanyWestCentral",
        "NorwayEast",
        "NorwayWest",
        "ChinaEast2",
        "ChinaNorth2",
        "SwitzerlandNorth",
        "SwitzerlandWest",
        "UAENorth",
        "UAECentral",
        "UsNatEast",
        "UsNatWest",
        "UsSecEast",
        "UsSecCentral",
        "UsSecWest",
        "SwedenCentral",
        "QatarCentral",
        "JioIndiaWest",
        "ItalyNorth",
        "PolandCentral",
        "IsraelCentral",
        "MexicoCentral",
        "NewZealandNorth",
        "SpainCentral"
      ],
      "x-ms-enum": {
        "name": "AzureLocation",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Location for Azure"
          },
          {
            "name": "EastAsia",
            "value": "EastAsia",
            "description": "EastAsia Location for Azure"
          },
          {
            "name": "SoutheastAsia",
            "value": "SoutheastAsia",
            "description": "SoutheastAsia Location for Azure"
          },
          {
            "name": "AustraliaEast",
            "value": "AustraliaEast",
            "description": "AustraliaEast Location for Azure"
          },
          {
            "name": "AustraliaSoutheast",
            "value": "AustraliaSoutheast",
            "description": "AustraliaSoutheast Location for Azure"
          },
          {
            "name": "BrazilSouth",
            "value": "BrazilSouth",
            "description": "BrazilSouth Location for Azure"
          },
          {
            "name": "CanadaCentral",
            "value": "CanadaCentral",
            "description": "CanadaCentral Location for Azure"
          },
          {
            "name": "CanadaEast",
            "value": "CanadaEast",
            "description": "CanadaEast Location for Azure"
          },
          {
            "name": "WestEurope",
            "value": "WestEurope",
            "description": "WestEurope Location for Azure"
          },
          {
            "name": "NorthEurope",
            "value": "NorthEurope",
            "description": "NorthEurope Location for Azure"
          },
          {
            "name": "CentralIndia",
            "value": "CentralIndia",
            "description": "CentralIndia Location for Azure"
          },
          {
            "name": "SouthIndia",
            "value": "SouthIndia",
            "description": "SouthIndia Location for Azure"
          },
          {
            "name": "WestIndia",
            "value": "WestIndia",
            "description": "WestIndia Location for Azure"
          },
          {
            "name": "JapanEast",
            "value": "JapanEast",
            "description": "JapanEast Location for Azure"
          },
          {
            "name": "JapanWest",
            "value": "JapanWest",
            "description": "JapanWest Location for Azure"
          },
          {
            "name": "KoreaCentral",
            "value": "KoreaCentral",
            "description": "KoreaCentral Location for Azure"
          },
          {
            "name": "KoreaSouth",
            "value": "KoreaSouth",
            "description": "KoreaSouth Location for Azure"
          },
          {
            "name": "UkWest",
            "value": "UkWest",
            "description": "UkWest Location for Azure"
          },
          {
            "name": "UkSouth",
            "value": "UkSouth",
            "description": "UkSouth Location for Azure"
          },
          {
            "name": "NorthCentralUs",
            "value": "NorthCentralUs",
            "description": "NorthCentralUs Location for Azure"
          },
          {
            "name": "EastUs",
            "value": "EastUs",
            "description": "EastUs Location for Azure"
          },
          {
            "name": "WestUs2",
            "value": "WestUs2",
            "description": "WestUs2 Location for Azure"
          },
          {
            "name": "SouthCentralUs",
            "value": "SouthCentralUs",
            "description": "SouthCentralUs Location for Azure"
          },
          {
            "name": "CentralUs",
            "value": "CentralUs",
            "description": "CentralUs Location for Azure"
          },
          {
            "name": "EastUs2",
            "value": "EastUs2",
            "description": "EastUs2 Location for Azure"
          },
          {
            "name": "WestUs",
            "value": "WestUs",
            "description": "WestUs Location for Azure"
          },
          {
            "name": "WestCentralUs",
            "value": "WestCentralUs",
            "description": "WestCentralUs Location for Azure"
          },
          {
            "name": "GermanyCentral",
            "value": "GermanyCentral",
            "description": "GermanyCentral Location for Azure"
          },
          {
            "name": "GermanyNortheast",
            "value": "GermanyNortheast",
            "description": "GermanyNortheast Location for Azure"
          },
          {
            "name": "ChinaNorth",
            "value": "ChinaNorth",
            "description": "ChinaNorth Location for Azure"
          },
          {
            "name": "ChinaEast",
            "value": "ChinaEast",
            "description": "ChinaEast Location for Azure"
          },
          {
            "name": "USGovArizona",
            "value": "USGovArizona",
            "description": "USGovArizona Location for Azure"
          },
          {
            "name": "USGovTexas",
            "value": "USGovTexas",
            "description": "USGovTexas Location for Azure"
          },
          {
            "name": "USGovIowa",
            "value": "USGovIowa",
            "description": "USGovIowa Location for Azure"
          },
          {
            "name": "USGovVirginia",
            "value": "USGovVirginia",
            "description": "USGovVirginia Location for Azure"
          },
          {
            "name": "USDoDCentral",
            "value": "USDoDCentral",
            "description": "USDoDCentral Location for Azure"
          },
          {
            "name": "USDoDEast",
            "value": "USDoDEast",
            "description": "USDoDEast Location for Azure"
          },
          {
            "name": "FranceCentral",
            "value": "FranceCentral",
            "description": "FranceCentral Location for Azure"
          },
          {
            "name": "AustraliaCentral",
            "value": "AustraliaCentral",
            "description": "AustraliaCentral Location for Azure"
          },
          {
            "name": "SouthAfricaNorth",
            "value": "SouthAfricaNorth",
            "description": "SouthAfricaNorth Location for Azure"
          },
          {
            "name": "FranceSouth",
            "value": "FranceSouth",
            "description": "FranceSouth Location for Azure"
          },
          {
            "name": "AustraliaCentral2",
            "value": "AustraliaCentral2",
            "description": "AustraliaCentral2 Location for Azure"
          },
          {
            "name": "SouthAfricaWest",
            "value": "SouthAfricaWest",
            "description": "SouthAfricaWest Location for Azure"
          },
          {
            "name": "GermanyNorth",
            "value": "GermanyNorth",
            "description": "GermanyNorth Location for Azure"
          },
          {
            "name": "GermanyWestCentral",
            "value": "GermanyWestCentral",
            "description": "GermanyWestCentral Location for Azure"
          },
          {
            "name": "NorwayEast",
            "value": "NorwayEast",
            "description": "NorwayEast Location for Azure"
          },
          {
            "name": "NorwayWest",
            "value": "NorwayWest",
            "description": "NorwayWest Location for Azure"
          },
          {
            "name": "ChinaEast2",
            "value": "ChinaEast2",
            "description": "ChinaEast2 Location for Azure"
          },
          {
            "name": "ChinaNorth2",
            "value": "ChinaNorth2",
            "description": "ChinaNorth2 Location for Azure"
          },
          {
            "name": "SwitzerlandNorth",
            "value": "SwitzerlandNorth",
            "description": "SwitzerlandNorth Location for Azure"
          },
          {
            "name": "SwitzerlandWest",
            "value": "SwitzerlandWest",
            "description": "SwitzerlandWest Location for Azure"
          },
          {
            "name": "UAENorth",
            "value": "UAENorth",
            "description": "UAENorth Location for Azure"
          },
          {
            "name": "UAECentral",
            "value": "UAECentral",
            "description": "UAECentral Location for Azure"
          },
          {
            "name": "UsNatEast",
            "value": "UsNatEast",
            "description": "UsNatEast Location for Azure"
          },
          {
            "name": "UsNatWest",
            "value": "UsNatWest",
            "description": "UsNatWest Location for Azure"
          },
          {
            "name": "UsSecEast",
            "value": "UsSecEast",
            "description": "UsSecEast Location for Azure"
          },
          {
            "name": "UsSecCentral",
            "value": "UsSecCentral",
            "description": "UsSecCentral Location for Azure"
          },
          {
            "name": "UsSecWest",
            "value": "UsSecWest",
            "description": "UsSecWest Location for Azure"
          },
          {
            "name": "SwedenCentral",
            "value": "SwedenCentral",
            "description": "SwedenCentral Location for Azure"
          },
          {
            "name": "QatarCentral",
            "value": "QatarCentral",
            "description": "QatarCentral Location for Azure"
          },
          {
            "name": "JioIndiaWest",
            "value": "JioIndiaWest",
            "description": "JioIndiaWest Location for Azure"
          },
          {
            "name": "ItalyNorth",
            "value": "ItalyNorth",
            "description": "ItalyNorth Location for Azure"
          },
          {
            "name": "PolandCentral",
            "value": "PolandCentral",
            "description": "PolandCentral Location for Azure"
          },
          {
            "name": "IsraelCentral",
            "value": "IsraelCentral",
            "description": "IsraelCentral Location for Azure"
          },
          {
            "name": "MexicoCentral",
            "value": "MexicoCentral",
            "description": "MexicoCentral Location for Azure"
          },
          {
            "name": "NewZealandNorth",
            "value": "NewZealandNorth",
            "description": "NewZealandNorth Location for Azure"
          },
          {
            "name": "SpainCentral",
            "value": "SpainCentral",
            "description": "SpainCentral Location for Azure"
          }
        ]
      }
    },
    "AzurePaasSummary": {
      "type": "object",
      "description": "Shows the PaaS Azure summary.",
      "properties": {
        "totalSqlEntities": {
          "type": "integer",
          "format": "int32",
          "description": "Number of Sql instances.",
          "readOnly": true
        },
        "suitableSqlEntities": {
          "type": "integer",
          "format": "int32",
          "description": "Suitable Sql instances.",
          "readOnly": true
        },
        "totalWebApps": {
          "type": "integer",
          "format": "int32",
          "description": "Number of web applications.",
          "readOnly": true
        },
        "suitableWebApps": {
          "type": "integer",
          "format": "int32",
          "description": "Suitable web applications.",
          "readOnly": true
        },
        "cores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of cores.",
          "readOnly": true
        },
        "memory": {
          "type": "number",
          "format": "float",
          "description": "Memory Utilization.",
          "readOnly": true
        },
        "storage": {
          "type": "number",
          "format": "float",
          "description": "Storage Utilization.",
          "readOnly": true
        },
        "estimatedCostByTarget": {
          "$ref": "#/definitions/EstimatedCostByTarget",
          "description": "Shows the estimated cost by target.",
          "readOnly": true
        },
        "estimatedSqlServerLicensingCost": {
          "type": "number",
          "format": "float",
          "description": "estimated SQL Server licensing cost.",
          "readOnly": true
        },
        "azureSqlSummary": {
          "$ref": "#/definitions/AzureSqlSummary",
          "description": "Shows the Azure SQL details.",
          "readOnly": true
        },
        "azureAppServiceSummary": {
          "$ref": "#/definitions/AzureAppServiceSummary",
          "description": "Shows Azure App Service summary.",
          "readOnly": true
        },
        "azureAppServiceContainerSummary": {
          "$ref": "#/definitions/AzureAppServiceContainerSummary",
          "description": "Shows Azure App Service Container summary.",
          "readOnly": true
        },
        "azureKubernetesServiceSummary": {
          "$ref": "#/definitions/AzureKubernetesServiceSummary",
          "description": "Shows Azure Kubernetes Service summary.",
          "readOnly": true
        },
        "totalAzurePaasCost": {
          "$ref": "#/definitions/CostDetails",
          "description": "The on premises PaaS cost.",
          "readOnly": true
        },
        "azurePaasSustainabilityDetails": {
          "$ref": "#/definitions/CarbonEmissionsDetails",
          "description": "The Azure PaaS Sustainability Emissions Details.",
          "readOnly": true
        }
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "AzureSettings": {
      "type": "object",
      "description": "Azure settings for a business case.",
      "properties": {
        "targetLocation": {
          "type": "string",
          "description": "Gets or sets azure location."
        },
        "discountPercentage": {
          "type": "number",
          "format": "float",
          "description": "Gets azure Discount percentage.",
          "minimum": 0,
          "maximum": 100
        },
        "currency": {
          "type": "string",
          "description": "Business case Currency.",
          "default": "USD",
          "enum": [
            "Unknown",
            "USD",
            "DKK",
            "CAD",
            "IDR",
            "JPY",
            "KRW",
            "NZD",
            "NOK",
            "RUB",
            "SAR",
            "ZAR",
            "SEK",
            "TRY",
            "GBP",
            "MXN",
            "MYR",
            "INR",
            "HKD",
            "BRL",
            "TWD",
            "EUR",
            "CHF",
            "ARS",
            "AUD",
            "CNY"
          ],
          "x-ms-enum": {
            "name": "BusinessCaseCurrency",
            "modelAsString": true,
            "values": [
              {
                "name": "Unknown",
                "value": "Unknown",
                "description": "Currency Unknown."
              },
              {
                "name": "USD",
                "value": "USD",
                "description": "Currency USD."
              },
              {
                "name": "DKK",
                "value": "DKK",
                "description": "Currency DKK."
              },
              {
                "name": "CAD",
                "value": "CAD",
                "description": "Currency CAD."
              },
              {
                "name": "IDR",
                "value": "IDR",
                "description": "Currency IDR."
              },
              {
                "name": "JPY",
                "value": "JPY",
                "description": "Currency JPY."
              },
              {
                "name": "KRW",
                "value": "KRW",
                "description": "Currency KRW."
              },
              {
                "name": "NZD",
                "value": "NZD",
                "description": "Currency NZD."
              },
              {
                "name": "NOK",
                "value": "NOK",
                "description": "Currency NOK."
              },
              {
                "name": "RUB",
                "value": "RUB",
                "description": "Currency RUB."
              },
              {
                "name": "SAR",
                "value": "SAR",
                "description": "Currency SAR."
              },
              {
                "name": "ZAR",
                "value": "ZAR",
                "description": "Currency ZAR."
              },
              {
                "name": "SEK",
                "value": "SEK",
                "description": "Currency SEK."
              },
[...]
