{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2024-03-03-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MachineAssessmentsV2Operations"
    },
    {
      "name": "AssessedMachinesV2Operations"
    },
    {
      "name": "MachineAssessmentV2SummaryOperations"
    },
    {
      "name": "MachineGraphAssessmentOptionsOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions": {
      "get": {
        "operationId": "MachineGraphAssessmentOptionsOperations_ListByParent",
        "tags": [
          "MachineGraphAssessmentOptionsOperations"
        ],
        "description": "List MachineGraphAssessmentOptions resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineGraphAssessmentOptionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineGraphAssessmentOptionsOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/MachineGraphAssessmentOptionsOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessmentOptions/default": {
      "get": {
        "operationId": "MachineGraphAssessmentOptionsOperations_Get",
        "tags": [
          "MachineGraphAssessmentOptionsOperations"
        ],
        "description": "Get a MachineGraphAssessmentOptions",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineGraphAssessmentOptions"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineGraphAssessmentOptionsOperations_Get_MaximumSet": {
            "$ref": "./examples/MachineGraphAssessmentOptionsOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments": {
      "get": {
        "operationId": "MachineAssessmentsV2Operations_ListByParent",
        "tags": [
          "MachineAssessmentsV2Operations"
        ],
        "description": "List MachineAssessmentV2 resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineAssessmentV2ListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineAssessmentsV2Operations_ListByParent_MaximumSet": {
            "$ref": "./examples/MachineAssessmentsV2Operations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments/{assessmentName}": {
      "get": {
        "operationId": "MachineAssessmentsV2Operations_Get",
        "tags": [
          "MachineAssessmentsV2Operations"
        ],
        "description": "Get a MachineAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment V2 ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineAssessmentV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineAssessmentsV2Operations_Get_MaximumSet": {
            "$ref": "./examples/MachineAssessmentsV2Operations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "MachineAssessmentsV2Operations_Create",
        "tags": [
          "MachineAssessmentsV2Operations"
        ],
        "description": "Create a MachineAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment V2 ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineAssessmentV2"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MachineAssessmentV2' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MachineAssessmentV2"
            }
          },
          "201": {
            "description": "Resource 'MachineAssessmentV2' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MachineAssessmentV2"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineAssessmentsV2Operations_Create_MaximumSet": {
            "$ref": "./examples/MachineAssessmentsV2Operations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MachineAssessmentsV2Operations_Delete",
        "tags": [
          "MachineAssessmentsV2Operations"
        ],
        "description": "Delete a MachineAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment V2 ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineAssessmentsV2Operations_Delete_MaximumSet": {
            "$ref": "./examples/MachineAssessmentsV2Operations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments/{assessmentName}/assessedMachines": {
      "get": {
        "operationId": "AssessedMachinesV2Operations_ListByParent",
        "tags": [
          "AssessedMachinesV2Operations"
        ],
        "description": "List AssessedMachineV2 resources by MachineAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter query.",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Optional parameter for page size.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "continuationToken",
            "in": "query",
            "description": "Optional parameter for continuation token.",
            "required": false,
            "type": "string"
          },
          {
            "name": "totalRecordCount",
            "in": "query",
            "description": "Total record count.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment V2 ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedMachineV2ListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedMachinesV2Operations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedMachinesV2Operations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments/{assessmentName}/assessedMachines/{assessedMachineName}": {
      "get": {
        "operationId": "AssessedMachinesV2Operations_Get",
        "tags": [
          "AssessedMachinesV2Operations"
        ],
        "description": "Get a AssessedMachineV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment V2 ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedMachineName",
            "in": "path",
            "description": "Machine assessment V2 Assessed Machine ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedMachineV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedMachinesV2Operations_Get_MaximumSet": {
            "$ref": "./examples/AssessedMachinesV2Operations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments/{assessmentName}/downloadUrl": {
      "post": {
        "operationId": "MachineAssessmentsV2Operations_DownloadUrl",
        "tags": [
          "MachineAssessmentsV2Operations"
        ],
        "summary": "Get download URL for the assessment report.",
        "description": "Get the URL for downloading the assessment in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment V2 ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get download URL for the assessment report.": {
            "$ref": "./examples/MachineAssessmentsV2Operations_DownloadUrl_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments/{assessmentName}/summaries": {
      "get": {
        "operationId": "MachineAssessmentV2SummaryOperations_ListByParent",
        "tags": [
          "MachineAssessmentV2SummaryOperations"
        ],
        "description": "List MachineAssessmentV2Summary resources by MachineAssessmentV2",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment V2 ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineAssessmentV2SummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineAssessmentV2SummaryOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/MachineAssessmentV2SummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/assessments/{assessmentName}/summaries/{summaryName}": {
      "get": {
        "operationId": "MachineAssessmentV2SummaryOperations_Get",
        "tags": [
          "MachineAssessmentV2SummaryOperations"
        ],
        "description": "Get a MachineAssessmentV2Summary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Machine Assessment V2 ARM name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "summaryName",
            "in": "path",
            "description": "Gets the Name of the Machine Summary.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineAssessmentV2Summary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MachineAssessmentV2SummaryOperations_Get_MaximumSet": {
            "$ref": "./examples/MachineAssessmentV2SummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AppSvcContainerSettings": {
      "type": "object",
      "description": "App service container settings.",
      "properties": {
        "isolationRequired": {
          "type": "boolean",
          "description": "Gets or sets the isolation required."
        }
      },
      "required": [
        "isolationRequired"
      ]
    },
    "AppSvcNativeSettings": {
      "type": "object",
      "description": "App service native settings.",
      "properties": {
        "isolationRequired": {
          "type": "boolean",
          "description": "Gets or sets the isolation required."
        }
      },
      "required": [
        "isolationRequired"
      ]
    },
    "AssessedDiskDataV3": {
      "type": "object",
      "description": "Assessed disk data for normalized contract.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The disk display name.",
          "readOnly": true
        },
        "gigabytesProvisioned": {
          "type": "number",
          "format": "float",
          "description": "Gets the gigabytes provisioned."
        },
        "megabytesPerSecondOfRead": {
          "type": "number",
          "format": "float",
          "description": "Gets the megabytes per second of read."
        },
        "megabytesPerSecondOfWrite": {
          "type": "number",
          "format": "float",
          "description": "Gets the megabytes per second of write."
        },
        "numberOfReadOperationsPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Gets the number of read operations per second."
        },
        "numberOfWriteOperationsPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Gets the number of write operations per second."
        }
      }
    },
    "AssessedMachineExtendedDetails": {
      "type": "object",
      "description": "The assessed machine extended details.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display Name of the Machine.",
          "readOnly": true
        },
        "productSupportStatus": {
          "$ref": "#/definitions/ProductSupportStatus",
          "description": "Gets the product support status related details.",
          "readOnly": true
        },
        "disks": {
          "type": "array",
          "description": "Dictionary of disks attached to the machine. Key is ID of disk. Value is a disk object.",
          "items": {
            "$ref": "#/definitions/AssessedDiskDataV3"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "hostProcessor": {
          "$ref": "#/definitions/ProcessorInfo",
          "description": "Gets or sets the processor details of the host."
        },
        "networkAdapters": {
          "type": "array",
          "description": "List of Network Adapters that were assessed as part of this machine's\nassessment.",
          "items": {
            "$ref": "#/definitions/AssessedMachineNetworkAdaptersV3"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "assessedMachineType": {
          "$ref": "#/definitions/AssessedMachineType",
          "description": "Assessed machine type.",
          "readOnly": true
        },
        "bootType": {
          "$ref": "#/definitions/MachineBootType",
          "description": "Boot type of machine discovered in private data center.",
          "readOnly": true
        },
        "operatingSystemType": {
          "type": "string",
          "description": "Operating system as reported by datacenter management solution.",
          "readOnly": true
        },
        "operatingSystemName": {
          "type": "string",
          "description": "Operating system as reported by datacenter management solution.",
          "readOnly": true
        },
        "operatingSystemVersion": {
          "type": "string",
          "description": "Operating system version as reported by datacenter management solution.",
          "readOnly": true
        },
        "operatingSystemArchitecture": {
          "$ref": "#/definitions/GuestOperatingSystemArchitecture",
          "description": "Operating system architecture as reported by datacenter management solution.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Description for the machine.",
          "readOnly": true
        },
        "megabytesOfMemory": {
          "type": "number",
          "format": "float",
          "description": "Megabytes of memory found allocated for the machine in private data center.",
          "readOnly": true
        },
        "numberOfCores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of CPU cores found on the machine.",
          "readOnly": true
        },
        "percentageCoresUtilization": {
          "type": "number",
          "format": "float",
          "description": "Percentile of Percentage of Cores Utilized noted during time period T.\n   Here N and T are settings on Assessment.",
          "readOnly": true
        },
        "percentageMemoryUtilization": {
          "type": "number",
          "format": "float",
          "description": "Percentile of Percentage of Memory Utilized noted during time period T.\n    Here N and T are settings on Assessment.",
          "readOnly": true
        },
        "errors": {
          "type": "array",
          "description": "List of errors for this machine.",
          "items": {
            "$ref": "#/definitions/Error"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "AssessedMachineNetworkAdaptersV3": {
      "type": "object",
      "description": "Assessed network adapter data for normalized contract for sql machines.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name.",
          "readOnly": true
        },
        "netGigabytesTransmittedPerMonth": {
          "type": "number",
          "format": "float",
          "description": "Gets the net gigabytes transmitted per month."
        },
        "macAddress": {
          "type": "string",
          "description": "Gets the mac address."
        },
        "ipAddresses": {
          "type": "array",
          "description": "Gets the ip addresses.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "megabytesPerSecondRecieved": {
          "type": "number",
          "format": "float",
          "description": "Gets the megabytes per second received."
        },
        "megabytesPerSecondTransmitted": {
          "type": "number",
          "format": "float",
          "description": "Gets the megabytes per second transmitted."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the Machine.",
          "readOnly": true
        }
      }
    },
    "AssessedMachineType": {
      "type": "string",
      "description": "Assessed machine type",
      "enum": [
        "Unknown",
        "AssessedMachine",
        "AvsAssessedMachine",
        "SqlAssessedMachine"
      ],
      "x-ms-enum": {
        "name": "AssessedMachineType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Assessed machine type"
          },
          {
            "name": "AssessedMachine",
            "value": "AssessedMachine",
            "description": "AssessedMachine - Assessed machine type"
          },
          {
            "name": "AvsAssessedMachine",
            "value": "AvsAssessedMachine",
            "description": "AvsAssessedMachine - Assessed machine type"
          },
          {
            "name": "SqlAssessedMachine",
            "value": "SqlAssessedMachine",
            "description": "SqlAssessedMachine - Assessed machine type"
          }
        ]
      }
    },
    "AssessedMachineV2": {
      "type": "object",
      "description": "Machine assessment V2 Assessed Machine resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessedMachineV2Properties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessedMachineV2ListResult": {
      "type": "object",
      "description": "The response of a AssessedMachineV2 list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessedMachineV2 items on this page",
          "items": {
            "$ref": "#/definitions/AssessedMachineV2"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessedMachineV2Properties": {
      "type": "object",
      "description": "Assessed machine properties class.",
      "properties": {
        "workloadType": {
          "$ref": "#/definitions/MigrateWorkloadType",
          "description": "The workload type",
          "readOnly": true
        },
        "linkages": {
          "type": "array",
          "description": "The linkages list.",
          "items": {
            "$ref": "#/definitions/Linkages"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendations": {
          "type": "array",
          "description": "The recommendation list.",
          "items": {
            "$ref": "#/definitions/MachineAssessmentRecommendation"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "extendedDetails": {
          "$ref": "#/definitions/AssessedMachineExtendedDetails",
          "description": "The assessed machine extended details.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was machine first created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was machine last updated.",
          "readOnly": true
        }
      }
    },
    "AssessedNetworkAdaptersV3": {
      "type": "object",
      "description": "Assessed network adapter data for normalized contract.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name.",
          "readOnly": true
        },
        "netGigabytesTransmittedPerMonth": {
          "type": "number",
          "format": "float",
          "description": "Gets the net gigabytes transmitted per month."
        },
        "macAddress": {
          "type": "string",
          "description": "Gets the mac address."
        },
        "ipAddresses": {
          "type": "array",
          "description": "Gets the ip addresses.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "megabytesPerSecondRecieved": {
          "type": "number",
          "format": "float",
          "description": "Gets the megabytes per second received."
        },
        "megabytesPerSecondTransmitted": {
          "type": "number",
          "format": "float",
          "description": "Gets the megabytes per second transmitted."
        }
      }
    },
    "AssessmentDetails": {
      "type": "object",
      "description": "Assessment details class.",
      "properties": {
        "confidenceRatingInPercentage": {
          "type": "number",
          "format": "float",
          "description": "Confidence Rating in Percentage.",
          "readOnly": true
        },
        "pricesTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Last time when rates were queried.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Date and Time when assessment was created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Date and Time when assessment was last updated.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/AssessmentStatus",
          "description": "Whether assessment is in valid state and all machines have been assessed.",
          "readOnly": true
        }
      }
    },
    "AssessmentOptionsOutboundEdgeGroupBase": {
      "type": "object",
      "description": "The assessment options outbound edge group base.",
      "properties": {
        "targetLocations": {
          "type": "array",
          "description": "Gets or sets the Azure Locations.",
          "items": {
            "$ref": "#/definitions/AzureLocation"
          }
        },
        "currencies": {
          "type": "array",
          "description": "Gets or sets the Azure Currency.",
          "items": {
            "$ref": "#/definitions/AzureCurrency"
          }
        },
        "savingsOptions": {
          "type": "array",
          "description": "Gets or sets the Assessment Savings Options.",
          "items": {
            "$ref": "#/definitions/SavingsOptions"
          }
        },
        "licensingProgram": {
          "type": "array",
          "description": "Gets or sets the Licensing Program.",
          "items": {
            "$ref": "#/definitions/LicensingProgram"
          }
        }
      },
      "required": [
        "targetLocations",
        "currencies",
        "savingsOptions",
        "licensingProgram"
      ]
    },
    "AssessmentProject": {
      "type": "object",
      "description": "An Assessment project site resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ProjectProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AssessmentSettings": {
      "type": "object",
      "description": "Assessment settings class.",
      "properties": {
        "azureLocation": {
          "type": "string",
          "description": "Azure Location or Azure region where to which the machines will be migrated."
        },
        "currency": {
          "$ref": "#/definitions/AzureCurrency",
          "description": "Currency in which prices should be reported."
        },
        "scalingFactor": {
          "type": "number",
          "format": "float",
          "description": "Percentage of buffer that user wants on performance metrics when recommending\nAzure sizes."
        },
        "discountPercentage": {
          "type": "number",
          "format": "float",
          "description": "Custom discount percentage."
        },
        "sizingCriterion": {
          "$ref": "#/definitions/AssessmentSizingCriterion",
          "description": "Assessment sizing criterion."
        },
        "performanceData": {
          "$ref": "#/definitions/PerformanceData",
          "description": "Gets or sets the performance data."
        },
        "savingsSettings": {
          "$ref": "#/definitions/SavingsSettings",
          "description": "Gets or sets the savings settings."
        },
        "billingSettings": {
          "$ref": "#/definitions/BillingSettings",
          "description": "Gets or sets the billing settings."
        },
        "environmentType": {
          "$ref": "#/definitions/EnvironmentType",
          "description": "Gets or sets user configurable setting to display the environment type."
        }
      }
    },
    "AssessmentSizingCriterion": {
      "type": "string",
      "description": "Assessment Sizing Criteria.",
      "enum": [
        "PerformanceBased",
        "AsOnPremises"
      ],
      "x-ms-enum": {
        "name": "AssessmentSizingCriterion",
        "modelAsString": true,
        "values": [
          {
            "name": "PerformanceBased",
            "value": "PerformanceBased",
            "description": "Performance Data based Sizing."
          },
          {
            "name": "AsOnPremises",
            "value": "AsOnPremises",
            "description": "As On Premises or Static Data based Sizing."
          }
        ]
      }
    },
    "AssessmentSource": {
      "type": "string",
      "description": "Assessment Source",
      "enum": [
        "Unknown",
        "Machine",
        "IIS",
        "TomCat",
        "OracleServer",
        "OracleDatabase",
        "SAPInstance",
        "SpringbootApplication",
        "MySQLServer",
        "SqlInstance",
        "SqlDatabase",
        "WebApps"
      ],
      "x-ms-enum": {
        "name": "AssessmentSource",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Assessment Source"
          },
          {
            "name": "Machine",
            "value": "Machine",
            "description": "Machine - Assessment Source"
          },
          {
            "name": "IIS",
            "value": "IIS",
            "description": "IIS - Assessment Source"
          },
          {
            "name": "TomCat",
            "value": "TomCat",
            "description": "TomCat - Assessment Source"
          },
          {
            "name": "OracleServer",
            "value": "OracleServer",
            "description": "OracleServer - Assessment Source"
          },
          {
            "name": "OracleDatabase",
            "value": "OracleDatabase",
            "description": "OracleDatabase - Assessment Source"
          },
          {
            "name": "SAPInstance",
            "value": "SAPInstance",
            "description": "SAPInstance - Assessment Source"
          },
          {
            "name": "SpringbootApplication",
            "value": "SpringbootApplication",
            "description": "SpringbootApplication - Assessment Source"
          },
          {
            "name": "MySQLServer",
            "value": "MySQLServer",
            "description": "MySQLServer - Assessment Source"
          },
          {
            "name": "SqlInstance",
            "value": "SqlInstance",
            "description": "SqlInstance - Assessment Source"
          },
          {
            "name": "SqlDatabase",
            "value": "SqlDatabase",
            "description": "SqlDatabase - Assessment Source"
          },
          {
            "name": "WebApps",
            "value": "WebApps",
            "description": "WebApps - Assessment Source"
          }
        ]
      }
    },
    "AssessmentStatus": {
      "type": "string",
      "description": "Assessment Status.",
      "enum": [
        "Created",
        "Updated",
        "Running",
        "Completed",
        "Invalid",
        "OutOfSync",
        "OutDated",
        "Deleted",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "AssessmentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Assessment is Created."
          },
          {
            "name": "Updated",
            "value": "Updated",
            "description": "Assessment is Updated."
          },
          {
            "name": "Running",
            "value": "Running",
            "description": "Assessment is currently running."
          },
          {
            "name": "Completed",
            "value": "Completed",
            "description": "Assessment is Completed or Ready."
          },
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Assessment is Failed i.e. it is now invalid."
          },
          {
            "name": "OutOfSync",
            "value": "OutOfSync",
            "description": "Assessment is Out of Sync."
          },
          {
            "name": "OutDated",
            "value": "OutDated",
            "description": "Assessment is Out Dated."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Assessment is Deleted."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Assessment has Failed."
          }
        ]
      }
    },
    "AzureCurrency": {
      "type": "string",
      "description": "Currency for Azure.",
      "enum": [
        "Unknown",
        "USD",
        "DKK",
        "CAD",
        "IDR",
        "JPY",
        "KRW",
        "NZD",
        "NOK",
        "RUB",
        "SAR",
        "ZAR",
        "SEK",
        "TRY",
        "GBP",
        "MXN",
        "MYR",
        "INR",
        "HKD",
        "BRL",
        "TWD",
        "EUR",
        "CHF",
        "ARS",
        "AUD",
        "CNY"
      ],
      "x-ms-enum": {
        "name": "AzureCurrency",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Currency for Azure"
          },
          {
            "name": "USD",
            "value": "USD",
            "description": "USD Currency for Azure"
          },
          {
            "name": "DKK",
            "value": "DKK",
            "description": "DKK Currency for Azure"
          },
          {
            "name": "CAD",
            "value": "CAD",
            "description": "CAD Currency for Azure"
          },
          {
            "name": "IDR",
            "value": "IDR",
            "description": "IDR Currency for Azure"
          },
          {
            "name": "JPY",
            "value": "JPY",
            "description": "JPY Currency for Azure"
          },
          {
            "name": "KRW",
            "value": "KRW",
            "description": "KRW Currency for Azure"
          },
          {
            "name": "NZD",
            "value": "NZD",
            "description": "NZD Currency for Azure"
          },
          {
            "name": "NOK",
            "value": "NOK",
            "description": "NOK Currency for Azure"
          },
          {
            "name": "RUB",
            "value": "RUB",
            "description": "RUB Currency for Azure"
          },
          {
            "name": "SAR",
            "value": "SAR",
            "description": "SAR Currency for Azure"
          },
          {
            "name": "ZAR",
            "value": "ZAR",
            "description": "ZAR Currency for Azure"
          },
          {
            "name": "SEK",
            "value": "SEK",
            "description": "SEK Currency for Azure"
          },
          {
            "name": "TRY",
            "value": "TRY",
            "description": "TRY Currency for Azure"
          },
          {
            "name": "GBP",
            "value": "GBP",
            "description": "GBP Currency for Azure"
          },
          {
            "name": "MXN",
            "value": "MXN",
            "description": "MXN Currency for Azure"
          },
          {
            "name": "MYR",
            "value": "MYR",
            "description": "MYR Currency for Azure"
          },
          {
            "name": "INR",
            "value": "INR",
            "description": "INR Currency for Azure"
          },
          {
            "name": "HKD",
            "value": "HKD",
            "description": "HKD Currency for Azure"
          },
          {
            "name": "BRL",
            "value": "BRL",
            "description": "BRL Currency for Azure"
          },
          {
            "name": "TWD",
            "value": "TWD",
            "description": "TWD Currency for Azure"
          },
          {
            "name": "EUR",
            "value": "EUR",
            "description": "EUR Currency for Azure"
          },
          {
            "name": "CHF",
            "value": "CHF",
            "description": "CHF Currency for Azure"
          },
          {
            "name": "ARS",
            "value": "ARS",
            "description": "ARS Currency for Azure"
          },
          {
            "name": "AUD",
            "value": "AUD",
            "description": "AUD Currency for Azure"
          },
          {
            "name": "CNY",
            "value": "CNY",
            "description": "CNY Currency for Azure"
          }
        ]
      }
    },
    "AzureDiskSize": {
      "type": "string",
      "description": "Azure Disk size",
      "enum": [
        "Unknown",
        "Standard_S4",
        "Standard_S6",
        "Standard_S10",
        "Standard_S15",
        "Standard_S20",
        "Standard_S30",
        "Standard_S40",
        "Standard_S50",
        "Standard_S60",
        "Standard_S70",
        "Standard_S80",
        "Premium_P4",
        "Premium_P6",
        "Premium_P10",
        "Premium_P15",
        "Premium_P20",
        "Premium_P30",
        "Premium_P40",
        "Premium_P50",
        "Premium_P60",
        "Premium_P70",
        "Premium_P80",
        "StandardSSD_E10",
        "StandardSSD_E15",
        "StandardSSD_E20",
        "StandardSSD_E30",
        "StandardSSD_E40",
        "StandardSSD_E50",
        "StandardSSD_E60",
        "StandardSSD_E70",
        "StandardSSD_E80",
        "StandardSSD_E4",
        "StandardSSD_E6",
        "StandardSSD_E1",
        "StandardSSD_E2",
        "StandardSSD_E3",
        "Premium_P1",
        "Premium_P2",
        "Premium_P3",
        "Ultra",
        "PremiumV2"
      ],
      "x-ms-enum": {
        "name": "AzureDiskSize",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Azure Disk size"
          },
          {
            "name": "StandardS4",
            "value": "Standard_S4",
            "description": "Standard_S4"
          },
          {
            "name": "StandardS6",
            "value": "Standard_S6",
            "description": "Standard_S6"
          },
          {
            "name": "StandardS10",
            "value": "Standard_S10",
            "description": "Standard_S10"
          },
          {
            "name": "StandardS15",
            "value": "Standard_S15",
            "description": "Standard_S15"
          },
          {
            "name": "StandardS20",
            "value": "Standard_S20",
            "description": "Standard_S20"
          },
          {
            "name": "StandardS30",
            "value": "Standard_S30",
            "description": "Standard_S30"
          },
          {
            "name": "StandardS40",
            "value": "Standard_S40",
            "description": "Standard_S40"
          },
          {
            "name": "StandardS50",
            "value": "Standard_S50",
            "description": "Standard_S50"
          },
          {
            "name": "StandardS60",
            "value": "Standard_S60",
            "description": "Standard_S60"
          },
          {
            "name": "StandardS70",
            "value": "Standard_S70",
            "description": "Standard_S70"
          },
          {
            "name": "StandardS80",
            "value": "Standard_S80",
            "description": "Standard_S80"
          },
          {
            "name": "PremiumP4",
            "value": "Premium_P4",
            "description": "Premium_P4"
          },
          {
            "name": "PremiumP6",
            "value": "Premium_P6",
            "description": "Premium_P6"
          },
          {
            "name": "PremiumP10",
            "value": "Premium_P10",
            "description": "Premium_P10"
          },
          {
            "name": "PremiumP15",
            "value": "Premium_P15",
            "description": "Premium_P15"
          },
          {
            "name": "PremiumP20",
            "value": "Premium_P20",
            "description": "Premium_P20"
          },
          {
            "name": "PremiumP30",
            "value": "Premium_P30",
            "description": "Premium_P30"
          },
          {
            "name": "PremiumP40",
            "value": "Premium_P40",
            "description": "Premium_P40"
          },
          {
            "name": "PremiumP50",
            "value": "Premium_P50",
            "description": "Premium_P50"
          },
          {
            "name": "PremiumP60",
            "value": "Premium_P60",
            "description": "Premium_P60"
          },
          {
            "name": "PremiumP70",
            "value": "Premium_P70",
            "description": "Premium_P70"
          },
          {
            "name": "PremiumP80",
            "value": "Premium_P80",
            "description": "Premium_P80"
          },
          {
            "name": "StandardSSDE10",
            "value": "StandardSSD_E10",
            "description": "StandardSSD_E10"
          },
          {
            "name": "StandardSSDE15",
            "value": "StandardSSD_E15",
            "description": "StandardSSD_E15"
          },
          {
            "name": "StandardSSDE20",
            "value": "StandardSSD_E20",
            "description": "StandardSSD_E20"
          },
          {
            "name": "StandardSSDE30",
            "value": "StandardSSD_E30",
            "description": "StandardSSD_E30"
          },
          {
            "name": "StandardSSDE40",
            "value": "StandardSSD_E40",
            "description": "StandardSSD_E40"
          },
          {
            "name": "StandardSSDE50",
            "value": "StandardSSD_E50",
            "description": "StandardSSD_E50"
          },
          {
            "name": "StandardSSDE60",
            "value": "StandardSSD_E60",
            "description": "StandardSSD_E60"
          },
          {
            "name": "StandardSSDE70",
            "value": "StandardSSD_E70",
            "description": "StandardSSD_E70"
          },
          {
            "name": "StandardSSDE80",
            "value": "StandardSSD_E80",
            "description": "StandardSSD_E80"
          },
          {
            "name": "StandardSSDE4",
            "value": "StandardSSD_E4",
            "description": "StandardSSD_E4"
          },
          {
            "name": "StandardSSDE6",
            "value": "StandardSSD_E6",
            "description": "StandardSSD_E6"
          },
          {
            "name": "StandardSSDE1",
            "value": "StandardSSD_E1",
            "description": "StandardSSD_E1"
          },
          {
            "name": "StandardSSDE2",
            "value": "StandardSSD_E2",
            "description": "StandardSSD_E2"
          },
          {
            "name": "StandardSSDE3",
            "value": "StandardSSD_E3",
            "description": "StandardSSD_E3"
          },
          {
            "name": "PremiumP1",
            "value": "Premium_P1",
            "description": "Premium_P1"
          },
          {
            "name": "PremiumP2",
            "value": "Premium_P2",
            "description": "Premium_P2"
          },
          {
            "name": "PremiumP3",
            "value": "Premium_P3",
            "description": "Premium_P3"
          },
          {
            "name": "Ultra",
            "value": "Ultra",
            "description": "Ultra - Azure Disk size"
          },
          {
            "name": "PremiumV2",
            "value": "PremiumV2",
            "description": "PremiumV2 - Azure Disk size"
          }
        ]
      }
    },
    "AzureDiskType": {
      "type": "string",
      "description": "Azure Disk Type",
      "enum": [
        "Unknown",
        "Standard",
        "StandardSSD",
        "Premium",
        "StandardOrPremium",
        "Ultra",
        "PremiumV2"
      ],
      "x-ms-enum": {
        "name": "AzureDiskType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Azure Disk Type"
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard Azure Disk Type"
          },
          {
            "name": "StandardSSD",
            "value": "StandardSSD",
            "description": "StandardSSD Azure Disk Type"
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium Azure Disk Type"
          },
          {
            "name": "StandardOrPremium",
            "value": "StandardOrPremium",
            "description": "StandardOrPremium Azure Disk Type"
          },
          {
            "name": "Ultra",
            "value": "Ultra",
            "description": "Ultra Azure Disk Type"
          },
          {
            "name": "PremiumV2",
            "value": "PremiumV2",
            "description": "PremiumV2 Azure Disk Type"
          }
        ]
      }
    },
    "AzureHybridUseBenefit": {
      "type": "string",
      "description": "Azure Hybrid Use Benefit",
      "enum": [
        "Unknown",
        "Yes",
        "No"
      ],
      "x-ms-enum": {
        "name": "AzureHybridUseBenefit",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Azure Hybrid Use Benefit"
          },
          {
            "name": "Yes",
            "value": "Yes",
            "description": "Yes Azure Hybrid Use Benefit"
          },
          {
            "name": "No",
            "value": "No",
            "description": "No Azure Hybrid Use Benefit"
          }
        ]
      }
    },
    "AzureLocation": {
      "type": "string",
      "description": "Location for Azure.",
      "enum": [
        "Unknown",
        "EastAsia",
        "SoutheastAsia",
        "AustraliaEast",
        "AustraliaSoutheast",
        "BrazilSouth",
        "CanadaCentral",
        "CanadaEast",
        "WestEurope",
        "NorthEurope",
        "CentralIndia",
        "SouthIndia",
        "WestIndia",
        "JapanEast",
        "JapanWest",
        "KoreaCentral",
        "KoreaSouth",
        "UkWest",
        "UkSouth",
        "NorthCentralUs",
        "EastUs",
        "WestUs2",
        "SouthCentralUs",
        "CentralUs",
        "EastUs2",
        "WestUs",
        "WestCentralUs",
        "GermanyCentral",
        "GermanyNortheast",
        "ChinaNorth",
        "ChinaEast",
        "USGovArizona",
        "USGovTexas",
        "USGovIowa",
        "USGovVirginia",
        "USDoDCentral",
        "USDoDEast",
        "FranceCentral",
        "AustraliaCentral",
        "SouthAfricaNorth",
        "FranceSouth",
        "AustraliaCentral2",
        "SouthAfricaWest",
        "GermanyNorth",
        "GermanyWestCentral",
        "NorwayEast",
        "NorwayWest",
        "ChinaEast2",
        "ChinaNorth2",
        "SwitzerlandNorth",
        "SwitzerlandWest",
        "UAENorth",
        "UAECentral",
        "UsNatEast",
        "UsNatWest",
        "UsSecEast",
        "UsSecCentral",
        "UsSecWest",
        "SwedenCentral",
        "QatarCentral",
        "JioIndiaWest",
        "ItalyNorth",
        "PolandCentral",
        "IsraelCentral",
        "MexicoCentral",
        "NewZealandNorth",
        "SpainCentral"
      ],
      "x-ms-enum": {
        "name": "AzureLocation",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Location for Azure"
          },
          {
            "name": "EastAsia",
            "value": "EastAsia",
            "description": "EastAsia Location for Azure"
          },
          {
            "name": "SoutheastAsia",
            "value": "SoutheastAsia",
            "description": "SoutheastAsia Location for Azure"
          },
          {
            "name": "AustraliaEast",
            "value": "AustraliaEast",
            "description": "AustraliaEast Location for Azure"
          },
          {
            "name": "AustraliaSoutheast",
            "value": "AustraliaSoutheast",
            "description": "AustraliaSoutheast Location for Azure"
          },
          {
            "name": "BrazilSouth",
            "value": "BrazilSouth",
            "description": "BrazilSouth Location for Azure"
          },
          {
            "name": "CanadaCentral",
            "value": "CanadaCentral",
            "description": "CanadaCentral Location for Azure"
          },
          {
            "name": "CanadaEast",
            "value": "CanadaEast",
            "description": "CanadaEast Location for Azure"
          },
          {
            "name": "WestEurope",
            "value": "WestEurope",
            "description": "WestEurope Location for Azure"
          },
          {
            "name": "NorthEurope",
            "value": "NorthEurope",
            "description": "NorthEurope Location for Azure"
          },
          {
            "name": "CentralIndia",
            "value": "CentralIndia",
            "description": "CentralIndia Location for Azure"
          },
          {
            "name": "SouthIndia",
            "value": "SouthIndia",
            "description": "SouthIndia Location for Azure"
          },
          {
            "name": "WestIndia",
            "value": "WestIndia",
            "description": "WestIndia Location for Azure"
          },
          {
            "name": "JapanEast",
            "value": "JapanEast",
            "description": "JapanEast Location for Azure"
          },
          {
            "name": "JapanWest",
            "value": "JapanWest",
            "description": "JapanWest Location for Azure"
          },
          {
            "name": "KoreaCentral",
            "value": "KoreaCentral",
            "description": "KoreaCentral Location for Azure"
          },
          {
            "name": "KoreaSouth",
            "value": "KoreaSouth",
            "description": "KoreaSouth Location for Azure"
          },
          {
            "name": "UkWest",
            "value": "UkWest",
            "description": "UkWest Location for Azure"
          },
          {
            "name": "UkSouth",
            "value": "UkSouth",
            "description": "UkSouth Location for Azure"
          },
          {
            "name": "NorthCentralUs",
            "value": "NorthCentralUs",
            "description": "NorthCentralUs Location for Azure"
          },
          {
            "name": "EastUs",
            "value": "EastUs",
            "description": "EastUs Location for Azure"
          },
          {
            "name": "WestUs2",
            "value": "WestUs2",
            "description": "WestUs2 Location for Azure"
          },
          {
            "name": "SouthCentralUs",
            "value": "SouthCentralUs",
            "description": "SouthCentralUs Location for Azure"
          },
          {
            "name": "CentralUs",
            "value": "CentralUs",
            "description": "CentralUs Location for Azure"
          },
          {
            "name": "EastUs2",
            "value": "EastUs2",
            "description": "EastUs2 Location for Azure"
          },
          {
            "name": "WestUs",
            "value": "WestUs",
            "description": "WestUs Location for Azure"
          },
          {
            "name": "WestCentralUs",
            "value": "WestCentralUs",
            "description": "WestCentralUs Location for Azure"
          },
          {
            "name": "GermanyCentral",
            "value": "GermanyCentral",
            "description": "GermanyCentral Location for Azure"
          },
          {
            "name": "GermanyNortheast",
            "value": "GermanyNortheast",
            "description": "GermanyNortheast Location for Azure"
          },
          {
            "name": "ChinaNorth",
            "value": "ChinaNorth",
            "description": "ChinaNorth Location for Azure"
          },
          {
            "name": "ChinaEast",
            "value": "ChinaEast",
            "description": "ChinaEast Location for Azure"
          },
          {
            "name": "USGovArizona",
            "value": "USGovArizona",
            "description": "USGovArizona Location for Azure"
          },
          {
            "name": "USGovTexas",
            "value": "USGovTexas",
            "description": "USGovTexas Location for Azure"
          },
          {
            "name": "USGovIowa",
            "value": "USGovIowa",
            "description": "USGovIowa Location for Azure"
          },
          {
            "name": "USGovVirginia",
            "value": "USGovVirginia",
            "description": "USGovVirginia Location for Azure"
          },
          {
            "name": "USDoDCentral",
            "value": "USDoDCentral",
            "description": "USDoDCentral Location for Azure"
          },
          {
            "name": "USDoDEast",
            "value": "USDoDEast",
            "description": "USDoDEast Location for Azure"
          },
          {
            "name": "FranceCentral",
            "value": "FranceCentral",
            "description": "FranceCentral Location for Azure"
          },
          {
            "name": "AustraliaCentral",
            "value": "AustraliaCentral",
            "description": "AustraliaCentral Location for Azure"
          },
          {
            "name": "SouthAfricaNorth",
            "value": "SouthAfricaNorth",
            "description": "SouthAfricaNorth Location for Azure"
          },
          {
            "name": "FranceSouth",
            "value": "FranceSouth",
            "description": "FranceSouth Location for Azure"
          },
          {
            "name": "AustraliaCentral2",
            "value": "AustraliaCentral2",
            "description": "AustraliaCentral2 Location for Azure"
          },
          {
            "name": "SouthAfricaWest",
            "value": "SouthAfricaWest",
            "description": "SouthAfricaWest Location for Azure"
          },
          {
            "name": "GermanyNorth",
            "value": "GermanyNorth",
            "description": "GermanyNorth Location for Azure"
          },
          {
            "name": "GermanyWestCentral",
            "value": "GermanyWestCentral",
            "description": "GermanyWestCentral Location for Azure"
          },
          {
            "name": "NorwayEast",
            "value": "NorwayEast",
            "description": "NorwayEast Location for Azure"
          },
          {
            "name": "NorwayWest",
            "value": "NorwayWest",
            "description": "NorwayWest Location for Azure"
          },
          {
            "name": "ChinaEast2",
            "value": "ChinaEast2",
            "description": "ChinaEast2 Location for Azure"
          },
          {
            "name": "ChinaNorth2",
            "value": "ChinaNorth2",
            "description": "ChinaNorth2 Location for Azure"
          },
          {
            "name": "SwitzerlandNorth",
            "value": "SwitzerlandNorth",
            "description": "SwitzerlandNorth Location for Azure"
          },
          {
            "name": "SwitzerlandWest",
            "value": "SwitzerlandWest",
            "description": "SwitzerlandWest Location for Azure"
          },
          {
            "name": "UAENorth",
            "value": "UAENorth",
            "description": "UAENorth Location for Azure"
          },
          {
            "name": "UAECentral",
            "value": "UAECentral",
            "description": "UAECentral Location for Azure"
          },
          {
            "name": "UsNatEast",
            "value": "UsNatEast",
            "description": "UsNatEast Location for Azure"
          },
          {
            "name": "UsNatWest",
            "value": "UsNatWest",
            "description": "UsNatWest Location for Azure"
          },
          {
            "name": "UsSecEast",
            "value": "UsSecEast",
            "description": "UsSecEast Location for Azure"
          },
          {
            "name": "UsSecCentral",
            "value": "UsSecCentral",
            "description": "UsSecCentral Location for Azure"
          },
          {
            "name": "UsSecWest",
            "value": "UsSecWest",
            "description": "UsSecWest Location for Azure"
          },
          {
            "name": "SwedenCentral",
            "value": "SwedenCentral",
            "description": "SwedenCentral Location for Azure"
          },
          {
            "name": "QatarCentral",
            "value": "QatarCentral",
            "description": "QatarCentral Location for Azure"
          },
          {
            "name": "JioIndiaWest",
            "value": "JioIndiaWest",
            "description": "JioIndiaWest Location for Azure"
          },
          {
            "name": "ItalyNorth",
            "value": "ItalyNorth",
            "description": "ItalyNorth Location for Azure"
          },
          {
            "name": "PolandCentral",
            "value": "PolandCentral",
            "description": "PolandCentral Location for Azure"
          },
          {
            "name": "IsraelCentral",
            "value": "IsraelCentral",
            "description": "IsraelCentral Location for Azure"
          },
          {
            "name": "MexicoCentral",
            "value": "MexicoCentral",
            "description": "MexicoCentral Location for Azure"
          },
          {
            "name": "NewZealandNorth",
            "value": "NewZealandNorth",
            "description": "NewZealandNorth Location for Azure"
          },
          {
            "name": "SpainCentral",
            "value": "SpainCentral",
            "description": "SpainCentral Location for Azure"
          }
        ]
      }
    },
    "AzureManagedDiskSkuDto": {
      "type": "object",
      "description": "Class representing an Azure Managed Disk SKU.",
      "properties": {
        "diskType": {
          "$ref": "#/definitions/AzureManagedDiskSkuDtoDiskType",
          "description": "Gets the Type (\"tier\") of disk - e.g. standard, premium, ultra.",
          "readOnly": true
        },
        "diskSize": {
          "$ref": "#/definitions/AzureDiskSize",
          "description": "Gets the Size of the managed disk - e.g. P30, P40.",
          "readOnly": true
        },
        "diskRedundancy": {
          "$ref": "#/definitions/AzureManagedDiskSkuDtoDiskRedundancy",
          "description": "Gets disk redundancy - e.g. LRS, ZRS.",
          "readOnly": true
        },
        "storageCost": {
          "type": "number",
          "format": "float",
          "description": "Gets the managed disk storage cost.",
          "readOnly": true
        },
        "recommendedSizeInGib": {
          "type": "number",
          "format": "float",
          "description": "Gets the recommended in GB of the managed disk.",
          "readOnly": true
        },
        "recommendedThroughputInMbps": {
          "type": "number",
          "format": "float",
          "description": "Gets the recommended throughput in MBPS of the managed disk.",
          "readOnly": true
        },
        "recommendedIops": {
          "type": "number",
          "format": "float",
          "description": "Gets the recommended IOPS of the managed disk.",
          "readOnly": true
        }
      }
    },
    "AzureManagedDiskSkuDtoDiskRedundancy": {
      "type": "string",
      "description": "Azure Managed Disk Sku Dto Disk Redundancy",
      "enum": [
        "Unknown",
        "LRS",
        "ZRS"
      ],
      "x-ms-enum": {
        "name": "AzureManagedDiskSkuDtoDiskRedundancy",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Azure Managed Disk Sku Dto Disk Redundancy"
          },
          {
            "name": "LRS",
            "value": "LRS",
            "description": "LRS - Azure Managed Disk Sku Dto Disk Redundancy"
          },
          {
            "name": "ZRS",
            "value": "ZRS",
            "description": "ZRS - Azure Managed Disk Sku Dto Disk Redundancy"
          }
        ]
      }
    },
    "AzureManagedDiskSkuDtoDiskType": {
      "type": "string",
      "description": "Azure Managed Disk Sku Dto Disk Type",
      "enum": [
        "Unknown",
        "Standard",
        "StandardSSD",
        "Premium",
        "StandardOrPremium",
        "Ultra",
        "PremiumV2"
      ],
      "x-ms-enum": {
        "name": "AzureManagedDiskSkuDtoDiskType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Azure Managed Disk Sku Dto Disk Type"
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard - Azure Managed Disk Sku Dto Disk Type"
          },
          {
            "name": "StandardSSD",
            "value": "StandardSSD",
            "description": "StandardSSD - Azure Managed Disk Sku Dto Disk Type"
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "Premium - Azure Managed Disk Sku Dto Disk Type"
          },
          {
            "name": "StandardOrPremium",
            "value": "StandardOrPremium",
            "description": "StandardOrPremium - Azure Managed Disk Sku Dto Disk Type"
          },
          {
            "name": "Ultra",
            "value": "Ultra",
            "description": "Ultra - Azure Managed Disk Sku Dto Disk Type"
          },
          {
            "name": "PremiumV2",
            "value": "PremiumV2",
            "description": "PremiumV2 - Azure Managed Disk Sku Dto Disk Type"
          }
        ]
      }
    },
    "AzureManagementOfferingType": {
      "type": "string",
      "description": "Azure management Offering type",
      "enum": [
        "No",
        "SCOMMI",
        "AzMon",
        "AUM",
        "AzureBackup"
      ],
      "x-ms-enum": {
        "name": "AzureManagementOfferingType",
        "modelAsString": true,
        "values": [
          {
            "name": "No",
            "value": "No",
            "description": "No - Azure management Offering type"
          },
          {
            "name": "SCOMMI",
            "value": "SCOMMI",
            "description": "SCOMMI - Azure management Offering type"
          },
          {
            "name": "AzMon",
            "value": "AzMon",
            "description": "AzMon - Azure management Offering type"
          },
          {
            "name": "AUM",
            "value": "AUM",
            "description": "AUM - Azure management Offering type"
          },
          {
            "name": "AzureBackup",
            "value": "AzureBackup",
            "description": "AzureBackup - Azure management Offering type"
          }
        ]
      }
    },
    "AzureOffer": {
      "type": "string",
      "description": "Azure Offer",
      "enum": [
        "Unknown",
        "MSAZR0003P",
        "MSAZR0023P",
        "MSMCAZR0044P",
        "MSMCAZR0059P",
        "MSMCAZR0060P",
        "MSMCAZR0063P",
        "MSAZRUSGOV0003P",
        "EA",
        "SavingsPlan1Year",
        "SavingsPlan3Year"
      ],
      "x-ms-enum": {
        "name": "AzureOffer",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Azure Offer"
          },
          {
            "name": "Msazr0003P",
            "value": "MSAZR0003P",
            "description": "MSAZR0003P Azure Offer"
          },
          {
            "name": "Msazr0023P",
            "value": "MSAZR0023P",
            "description": "MSAZR0023P Azure Offer"
          },
          {
            "name": "Msmcazr0044P",
            "value": "MSMCAZR0044P",
            "description": "MSMCAZR0044P Azure Offer"
          },
          {
            "name": "Msmcazr0059P",
            "value": "MSMCAZR0059P",
            "description": "MSMCAZR0059P Azure Offer"
          },
          {
            "name": "Msmcazr0060P",
            "value": "MSMCAZR0060P",
            "description": "MSMCAZR0060P Azure Offer"
          },
          {
            "name": "Msmcazr0063P",
            "value": "MSMCAZR0063P",
            "description": "MSMCAZR0063P Azure Offer"
          },
          {
            "name": "Msazrusgov0003P",
            "value": "MSAZRUSGOV0003P",
            "description": "MSAZRUSGOV0003P Azure Offer"
          },
          {
            "name": "EA",
            "value": "EA",
            "description": "EA Azure Offer"
          },
          {
            "name": "SavingsPlan1Year",
            "value": "SavingsPlan1Year",
            "description": "SavingsPlan1Year Azure Offer"
          },
          {
            "name": "SavingsPlan3Year",
            "value": "SavingsPlan3Year",
            "description": "SavingsPlan3Year Azure Offer"
          }
        ]
      }
    },
    "AzurePricingTier": {
      "type": "string",
      "description": "Azure Pricing Tier",
      "enum": [
        "Standard",
        "Basic"
      ],
      "x-ms-enum": {
        "name": "AzurePricingTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard Azure Pricing Tier"
          },
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic Azure Pricing Tier"
          }
        ]
      }
    },
    "AzureQuorumWitnessDto": {
      "type": "object",
      "description": "Quorum Witness.",
      "properties": {
        "quorumWitnessType": {
          "$ref": "#/definitions/AzureQuorumWitnessDtoQuorumWitnessType",
          "description": "Gets quorum witness type.",
          "readOnly": true
        }
      }
    },
    "AzureQuorumWitnessDtoQuorumWitnessType": {
      "type": "string",
      "description": "Azure Quorum Witness Dto Quorum Witness Type",
      "enum": [
        "Unknown",
        "Cloud",
        "Disk"
      ],
      "x-ms-enum": {
        "name": "AzureQuorumWitnessDtoQuorumWitnessType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Quorum Witness Type"
          },
          {
            "name": "Cloud",
            "value": "Cloud",
            "description": "Cloud Quorum Witness Type"
          },
          {
            "name": "Disk",
            "value": "Disk",
            "description": "Disk Quorum Witness Type"
          }
        ]
      }
    },
    "AzureResourceProperties": {
      "type": "object",
      "description": "Common properties for all azure tracked and proxy resources.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "AzureSecurityOfferingType": {
      "type": "string",
      "description": "Azure Security Offering Type",
      "enum": [
        "NO",
        "MDC"
      ],
      "x-ms-enum": {
        "name": "AzureSecurityOfferingType",
        "modelAsString": true,
        "values": [
          {
            "name": "NO",
            "value": "NO",
            "description": "NO - Azure Security Offering Type"
          },
          {
            "name": "MDC",
            "value": "MDC",
            "description": "MDC - Azure Security Offering Type"
          }
        ]
      }
    },
    "AzureStorageRedundancy": {
      "type": "string",
      "description": "Azure Storage Redundancy",
      "enum": [
        "Unknown",
        "LocallyRedundant",
        "ZoneRedundant",
        "GeoRedundant",
        "ReadAccessGeoRedundant"
      ],
      "x-ms-enum": {
        "name": "AzureStorageRedundancy",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown Azure Storage Redundancy"
          },
          {
            "name": "LocallyRedundant",
            "value": "LocallyRedundant",
            "description": "LocallyRedundant Azure Storage Redundancy"
          },
          {
            "name": "ZoneRedundant",
            "value": "ZoneRedundant",
            "description": "ZoneRedundant Azure Storage Redundancy"
          },
          {
            "name": "GeoRedundant",
            "value": "GeoRedundant",
            "description": "GeoRedundant Azure Storage Redundancy"
          },
          {
            "name": "ReadAccessGeoRedundant",
            "value": "ReadAccessGeoRedundant",
            "description": "ReadAccessGeoRedundant Azure Storage Redundancy"
          }
        ]
      }
    },
    "AzureTarget": {
      "type": "string",
      "description": "Azure Target",
      "enum": [
        "Unknown",
        "SqlDatabase",
        "SqlMI",
        "FlexServerPG",
        "OracleIaasVM",
        "AzureSpringApps",
        "SAPAzureInstance",
        "AKS",
        "MySQLAzureFlexServer",
        "AzureSQLVM",
        "AzureVM",
        "AzureAppService",
        "AzureAppServiceContainer",
        "Avs"
      ],
      "x-ms-enum": {
        "name": "AzureTarget",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Azure Target"
          },
          {
            "name": "SqlDatabase",
            "value": "SqlDatabase",
            "description": "SqlDatabase - Azure Target"
          },
          {
            "name": "SqlMI",
            "value": "SqlMI",
            "description": "SqlMI - Azure Target"
          },
          {
            "name": "FlexServerPG",
            "value": "FlexServerPG",
            "description": "FlexServerPG - Azure Target"
          },
          {
            "name": "OracleIaasVM",
            "value": "OracleIaasVM",
            "description": "OracleIaasVM - Azure Target"
          },
          {
            "name": "AzureSpringApps",
            "value": "AzureSpringApps",
            "description": "AzureSpringApps - Azure Target"
          },
          {
            "name": "SAPAzureInstance",
            "value": "SAPAzureInstance",
            "description": "SAPAzureInstance - Azure Target"
          },
          {
            "name": "AKS",
            "value": "AKS",
            "description": "AKS - Azure Target"
          },
          {
            "name": "MySQLAzureFlexServer",
            "value": "MySQLAzureFlexServer",
            "description": "MySQLAzureFlexServer - Azure Target"
          },
          {
            "name": "AzureSQLVM",
            "value": "AzureSQLVM",
            "description": "AzureSQLVM - Azure Target"
          },
          {
            "name": "AzureVM",
            "value": "AzureVM",
            "description": "AzureVM - Azure Target"
          },
          {
            "name": "AzureAppService",
            "value": "AzureAppService",
            "description": "AzureAppService - Azure Target"
          },
          {
            "name": "AzureAppServiceContainer",
            "value": "AzureAppServiceContainer",
            "description": "AzureAppServiceContainer - Azure Target"
          },
          {
            "name": "Avs",
            "value": "Avs",
            "description": "Avs - Azure Target"
          }
        ]
      }
    },
    "AzureVirtualMachineSkuDto": {
      "type": "object",
      "description": "Azure Virtual Machine SKU.",
      "properties": {
        "azureVmFamily": {
          "$ref": "#/definitions/AzureVmFamily",
          "description": "Gets the Virtual Machine Family, for example : standardMSFamily.",
          "readOnly": true
        },
        "cores": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the Compute Size in vCores.",
          "readOnly": true
        },
        "azureSkuName": {
          "$ref": "#/definitions/AzureVmSize",
          "description": "Gets the Virtual Machine SKU name,: E.g. : Standard_F16s.",
          "readOnly": true
        },
        "availableCores": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the Available vCores. This can be less than the vCores in the Constrained\nvCPU VM Sizes.",
          "readOnly": true
        },
        "maxNetworkInterfaces": {
          "type": "integer",
          "format": "int32",
          "description": "Gets the Max network interfaces.",
          "readOnly": true
        }
      }
    },
    "AzureVmFamily": {
      "type": "string",
      "description": "Azure VM Family",
      "enum": [
        "Unknown",
        "Basic_A0_A4",
        "Standard_A0_A7",
        "Standard_A8_A11",
        "Av2_series",
        "D_series",
        "Dv2_series",
        "DS_series",
        "DSv2_series",
        "F_series",
        "Fs_series",
        "G_series",
        "GS_series",
        "H_series",
        "Ls_series",
        "Dsv3_series",
        "Dv3_series",
        "Fsv2_series",
        "Ev3_series",
        "Esv3_series",
        "M_series",
        "DC_Series",
        "Lsv2_series",
        "Ev4_series",
        "Esv4_series",
        "Edv4_series",
        "Edsv4_series",
        "Dv4_series",
        "Dsv4_series",
        "Ddv4_series",
        "Ddsv4_series",
        "Easv4_series",
        "Dasv4_series",
        "Mv2_series",
        "Eav4_series",
        "Dav4_series",
        "Msv2_series",
        "Mdsv2_series",
        "Dv5_series",
        "Dsv5_series",
        "Ddv5_series",
        "Ddsv5_series",
        "Dasv5_series",
        "Dadsv5_series",
        "Ev5_series",
        "Esv5_series",
        "Edv5_series",
        "Edsv5_series",
        "Easv5_series",
        "Eadsv5_series",
        "Ebsv5_series",
        "Ebdsv5_series"
      ],
      "x-ms-enum": {
        "name": "AzureVmFamily",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Azure VM Family"
          },
          {
            "name": "BasicA0A4",
            "value": "Basic_A0_A4",
            "description": "Basic_A0_A4"
          },
          {
            "name": "StandardA0A7",
            "value": "Standard_A0_A7",
            "description": "Standard_A0_A7"
          },
          {
            "name": "StandardA8A11",
            "value": "Standard_A8_A11",
            "description": "Standard_A8_A11"
          },
          {
            "name": "Av2Series",
            "value": "Av2_series",
            "description": "Av2_series"
          },
          {
            "name": "DSeries",
            "value": "D_series",
            "description": "D_series"
          },
          {
            "name": "Dv2Series",
            "value": "Dv2_series",
            "description": "Dv2_series"
          },
          {
            "name": "DSSeries",
            "value": "DS_series",
            "description": "DS_series"
          },
          {
            "name": "DSv2Series",
            "value": "DSv2_series",
            "description": "DSv2_series"
          },
          {
            "name": "FSeries",
            "value": "F_series",
            "description": "F_series"
          },
          {
            "name": "FsSeries",
            "value": "Fs_series",
            "description": "Fs_series"
          },
          {
            "name": "GSeries",
            "value": "G_series",
            "description": "G_series"
          },
          {
            "name": "GSSeries",
            "value": "GS_series",
            "description": "GS_series"
          },
          {
            "name": "HSeries",
            "value": "H_series",
            "description": "H_series"
          },
          {
            "name": "LsSeries",
            "value": "Ls_series",
            "description": "Ls_series"
          },
          {
            "name": "Dsv3Series",
            "value": "Dsv3_series",
            "description": "Dsv3_series"
          },
          {
            "name": "Dv3Series",
            "value": "Dv3_series",
            "description": "Dv3_series"
          },
          {
            "name": "Fsv2Series",
            "value": "Fsv2_series",
            "description": "Fsv2_series"
          },
          {
            "name": "Ev3Series",
            "value": "Ev3_series",
            "description": "Ev3_series"
          },
          {
            "name": "Esv3Series",
            "value": "Esv3_series",
            "description": "Esv3_series"
          },
          {
            "name": "MSeries",
            "value": "M_series",
            "description": "M_series"
          },
          {
            "name": "DCSeries",
            "value": "DC_Series",
            "description": "DC_Series"
          },
          {
            "name": "Lsv2Series",
            "value": "Lsv2_series",
            "description": "Lsv2_series"
          },
          {
            "name": "Ev4Series",
            "value": "Ev4_series",
            "description": "Ev4_series"
          },
          {
            "name": "Esv4Series",
            "value": "Esv4_series",
            "description": "Esv4_series"
          },
          {
            "name": "Edv4Series",
            "value": "Edv4_series",
            "description": "Edv4_series"
          },
          {
            "name": "Edsv4Series",
            "value": "Edsv4_series",
            "description": "Edsv4_series"
          },
          {
            "name": "Dv4Series",
            "value": "Dv4_series",
            "description": "Dv4_series"
          },
          {
            "name": "Dsv4Series",
            "value": "Dsv4_series",
            "description": "Dsv4_series"
          },
          {
            "name": "Ddv4Series",
            "value": "Ddv4_series",
            "description": "Ddv4_series"
          },
          {
            "name": "Ddsv4Series",
            "value": "Ddsv4_series",
            "description": "Ddsv4_series"
          },
          {
            "name": "Easv4Series",
            "value": "Easv4_series",
            "description": "Easv4_series"
          },
          {
            "name": "Dasv4Series",
            "value": "Dasv4_series",
            "description": "Dasv4_series"
          },
          {
            "name": "Mv2Series",
            "value": "Mv2_series",
            "description": "Mv2_series"
          },
          {
            "name": "Eav4Series",
            "value": "Eav4_series",
            "description": "Eav4_series"
          },
          {
            "name": "Dav4Series",
            "value": "Dav4_series",
            "description": "Dav4_series"
          },
          {
            "name": "Msv2Series",
            "value": "Msv2_series",
            "description": "Msv2_series"
          },
          {
            "name": "Mdsv2Series",
            "value": "Mdsv2_series",
            "description": "Mdsv2_series"
          },
          {
            "name": "Dv5Series",
            "value": "Dv5_series",
            "description": "Dv5_series"
          },
          {
            "name": "Dsv5Series",
            "value": "Dsv5_series",
            "description": "Dsv5_series"
          },
          {
            "name": "Ddv5Series",
            "value": "Ddv5_series",
            "description": "Ddv5_series"
          },
          {
            "name": "Ddsv5Series",
            "value": "Ddsv5_series",
            "description": "Ddsv5_series"
          },
          {
            "name": "Dasv5Series",
            "value": "Dasv5_series",
            "description": "Dasv5_series"
          },
          {
            "name": "Dadsv5Series",
            "value": "Dadsv5_series",
            "description": "Dadsv5_series"
          },
          {
            "name": "Ev5Series",
            "value": "Ev5_series",
            "description": "Ev5_series"
          },
          {
            "name": "Esv5Series",
            "value": "Esv5_series",
            "description": "Esv5_series"
          },
          {
            "name": "Edv5Series",
            "value": "Edv5_series",
            "description": "Edv5_series"
          },
          {
            "name": "Edsv5Series",
            "value": "Edsv5_series",
            "description": "Edsv5_series"
          },
          {
            "name": "Easv5Series",
            "value": "Easv5_series",
            "description": "Easv5_series"
          },
          {
            "name": "Eadsv5Series",
            "value": "Eadsv5_series",
            "description": "Eadsv5_series"
          },
          {
            "name": "Ebsv5Series",
            "value": "Ebsv5_series",
            "description": "Ebsv5_series"
          },
          {
            "name": "Ebdsv5Series",
            "value": "Ebdsv5_series",
            "description": "Ebdsv5_series"
          }
        ]
      }
    },
    "AzureVmSecuritySuitabilityDetail": {
      "type": "string",
      "description": "Azure Vm Security Suitability Detail",
      "enum": [
        "Unknown",
        "NotApplicable",
        "GuestOperatingSystemNotSupported",
        "BootTypeNotSupported",
        "DiskSizeLarge",
        "AllDiskSizeExceeds4TB",
        "AnyDiskSizeExceeds4TB",
        "AnyDiskSizeExceeds4TBConditional",
        "OSNotSupported",
        "StandardReady",
        "TVMReady",
        "StandardNotReadyOSNotSupported",
        "TVMNotReadyOSNotSupported",
        "StandardNotReady2TBBiosBoot",
        "AllDiskSizeExceeds2TB",
        "DiskSize2TBConditionalReadyBiosBoot",
        "TVMCannotMigrateOSNotSupported",
        "StandardCannotMigrateOSNotSupported",
        "StandardCanMigrate",
        "TVMCanMigrateConditional",
        "OSNameCannotBeRead",
        "TVMNotSupportedForBiosBoot"
      ],
      "x-ms-enum": {
        "name": "AzureVmSecuritySuitabilityDetail",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown - Azure Vm Security Suitability Detail"
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
[...]
