{
  "swagger": "2.0",
  "info": {
    "title": "Azure Tenant Action Groups API",
    "version": "2023-05-01-preview",
    "description": "Monitor Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [],
  "paths": {
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Insights/tenantActionGroups": {
      "get": {
        "operationId": "TenantActionGroups_ListByManagementGroupId",
        "description": "Get a list of all tenant action groups in a management group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "x-ms-client-tenant-id",
            "in": "header",
            "description": "The tenant ID of the client making the request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TenantActionGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List tenant action groups at management group level": {
            "$ref": "./examples/listTenantActionGroups.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Insights/tenantActionGroups/{tenantActionGroupName}": {
      "get": {
        "operationId": "TenantActionGroups_Get",
        "description": "Get a tenant action group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "tenantActionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 260,
            "pattern": "^[A-Za-z][A-Za-z0-9]*$"
          },
          {
            "name": "x-ms-client-tenant-id",
            "in": "header",
            "description": "The tenant ID of the client making the request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TenantActionGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an action group": {
            "$ref": "./examples/getTenantActionGroup.json"
          }
        }
      },
      "put": {
        "operationId": "TenantActionGroups_CreateOrUpdate",
        "description": "Create a new tenant action group or update an existing one.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "tenantActionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 260,
            "pattern": "^[A-Za-z][A-Za-z0-9]*$"
          },
          {
            "name": "x-ms-client-tenant-id",
            "in": "header",
            "description": "The tenant ID of the client making the request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionGroup",
            "in": "body",
            "description": "The tenant action group to create or use for the update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TenantActionGroupResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TenantActionGroupResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TenantActionGroupResource"
            }
          },
          "201": {
            "description": "Resource 'TenantActionGroupResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/TenantActionGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a tenant action group": {
            "$ref": "./examples/createOrUpdateTenantActionGroup.json"
          }
        }
      },
      "patch": {
        "operationId": "TenantActionGroups_Update",
        "description": "Updates an existing tenant action group's tags. To update other fields use the CreateOrUpdate method.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "tenantActionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 260,
            "pattern": "^[A-Za-z][A-Za-z0-9]*$"
          },
          {
            "name": "x-ms-client-tenant-id",
            "in": "header",
            "description": "The tenant ID of the client making the request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tenantActionGroupPatch",
            "in": "body",
            "description": "Parameters supplied to the operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionGroupPatchBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TenantActionGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch a tenant action group": {
            "$ref": "./examples/patchTenantActionGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "TenantActionGroups_Delete",
        "description": "Delete a tenant action group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "tenantActionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 260,
            "pattern": "^[A-Za-z][A-Za-z0-9]*$"
          },
          {
            "name": "x-ms-client-tenant-id",
            "in": "header",
            "description": "The tenant ID of the client making the request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Microsoft.Common.ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a tenant action group": {
            "$ref": "./examples/deleteTenantActionGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Insights/tenantActionGroups/{tenantActionGroupName}/createNotifications": {
      "post": {
        "operationId": "CreateNotificationsAtTenantActionGroupResourceLevel",
        "description": "Send test notifications to a set of provided receivers",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group ID.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "tenantActionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 260,
            "pattern": "^[A-Za-z][A-Za-z0-9]*$"
          },
          {
            "name": "x-ms-client-tenant-id",
            "in": "header",
            "description": "The tenant ID of the client making the request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "notificationRequest",
            "in": "body",
            "description": "The notification request body which includes the contact details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TenantNotificationRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestNotificationDetailsResponse"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create notifications at tenant action group level": {
            "$ref": "./examples/postTestNotificationsAtTenantActionGroupResourceLevel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/TestNotificationDetailsResponse"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/microsoft.Management/managementGroups/{managementGroupId}/providers/microsoft.Insights/tenantActionGroups/{tenantActionGroupName}/notificationStatus/{notificationId}": {
      "get": {
        "operationId": "GetTestNotificationsAtTenantActionGroupResourceLevel",
        "description": "Get the test notifications by the notification id",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "managementGroupId",
            "in": "path",
            "description": "The management group id.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tenantActionGroupName",
            "in": "path",
            "description": "The name of the action group.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 260,
            "pattern": "^[A-Za-z][A-Za-z0-9]*$"
          },
          {
            "name": "notificationId",
            "in": "path",
            "description": "The notification id",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-ms-client-tenant-id",
            "in": "header",
            "description": "The tenant ID of the client making the request.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TestNotificationDetailsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get notification details at tenant action group level": {
            "$ref": "./examples/getTestNotificationsAtTenantActionGroupResourceLevel.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ActionDetail": {
      "type": "object",
      "description": "The action detail",
      "properties": {
        "mechanismType": {
          "type": "string",
          "description": "The mechanism type"
        },
        "name": {
          "type": "string",
          "description": "The name of the action"
        },
        "status": {
          "type": "string",
          "description": "The status of the action"
        },
        "subState": {
          "type": "string",
          "description": "The substatus of the action"
        },
        "sendTime": {
          "type": "string",
          "description": "The send time"
        },
        "message": {
          "type": "string",
          "description": "The detail of the friendly error message"
        }
      }
    },
    "ActionGroupPatch": {
      "type": "object",
      "description": "A tenant action group for patch operations.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether this tenant action group is enabled. If a tenant action group is not enabled, then none of its actions will be activated.",
          "default": true
        }
      }
    },
    "ActionGroupPatchBody": {
      "type": "object",
      "description": "A tenant action group object for the body of patch operations.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ActionGroupPatch",
          "description": "The action group settings for an update operation.",
          "x-ms-client-flatten": true
        }
      }
    },
    "AzureAppPushReceiver": {
      "type": "object",
      "description": "The Azure mobile App push notification receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Azure mobile app push receiver. Names must be unique across all receivers within a tenant action group."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address registered for the Azure mobile app."
        }
      },
      "required": [
        "name",
        "emailAddress"
      ]
    },
    "Context": {
      "type": "object",
      "description": "The context info",
      "properties": {
        "notificationSource": {
          "type": "string",
          "description": "The source of the notification request"
        },
        "contextType": {
          "type": "string",
          "description": "The context id type"
        }
      }
    },
    "EmailReceiver": {
      "type": "object",
      "description": "An email receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the email receiver. Names must be unique across all receivers within a tenant action group."
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of this receiver."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        },
        "status": {
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The receiver status of the e-mail.",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "emailAddress"
      ]
    },
    "Microsoft.Common.ErrorResponse": {
      "type": "object",
      "description": "Describes the format of Error response.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code"
        },
        "message": {
          "type": "string",
          "description": "Error message indicating why the operation failed."
        }
      }
    },
    "ReceiverStatus": {
      "type": "string",
      "description": "Indicates the status of the receiver. Receivers that are not Enabled will not receive any communications.",
      "enum": [
        "NotSpecified",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ReceiverStatus",
        "modelAsString": false,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "SmsReceiver": {
      "type": "object",
      "description": "An SMS receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SMS receiver. Names must be unique across all receivers within a tenant action group."
        },
        "countryCode": {
          "type": "string",
          "description": "The country code of the SMS receiver."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the SMS receiver."
        },
        "status": {
          "$ref": "#/definitions/ReceiverStatus",
          "description": "The status of the receiver.",
          "readOnly": true
        }
      },
      "required": [
        "name",
        "countryCode",
        "phoneNumber"
      ]
    },
    "TenantActionGroup": {
      "type": "object",
      "description": "A tenant  action group.",
      "properties": {
        "groupShortName": {
          "type": "string",
          "description": "The short name of the action group. This will be used in SMS messages.",
          "maxLength": 12
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether this tenant action group is enabled. If a tenant action group is not enabled, then none of its receivers will receive communications.",
          "default": true
        },
        "emailReceivers": {
          "type": "array",
          "description": "The list of email receivers that are part of this tenant action group.",
          "items": {
            "$ref": "#/definitions/EmailReceiver"
          },
          "x-ms-identifiers": [
            "emailAddress"
          ]
        },
        "smsReceivers": {
          "type": "array",
          "description": "The list of SMS receivers that are part of this tenant action group.",
          "items": {
            "$ref": "#/definitions/SmsReceiver"
          },
          "x-ms-identifiers": [
            "phoneNumber"
          ]
        },
        "webhookReceivers": {
          "type": "array",
          "description": "The list of webhook receivers that are part of this tenant action group.",
          "items": {
            "$ref": "#/definitions/WebhookReceiver"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "azureAppPushReceivers": {
          "type": "array",
          "description": "The list of AzureAppPush receivers that are part of this tenant action group.",
          "items": {
            "$ref": "#/definitions/AzureAppPushReceiver"
          },
          "x-ms-identifiers": [
            "emailAddress"
          ]
        },
        "voiceReceivers": {
          "type": "array",
          "description": "The list of voice receivers that are part of this tenant action group.",
          "items": {
            "$ref": "#/definitions/VoiceReceiver"
          },
          "x-ms-identifiers": [
            "phoneNumber"
          ]
        }
      },
      "required": [
        "groupShortName",
        "enabled"
      ]
    },
    "TenantActionGroupList": {
      "type": "object",
      "description": "A list of tenant action groups.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The TenantActionGroupResource items on this page",
          "items": {
            "$ref": "#/definitions/TenantActionGroupResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "TenantActionGroupResource": {
      "type": "object",
      "description": "A tenant action group resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TenantActionGroup",
          "description": "The tenant action groups properties of the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "TenantNotificationRequestBody": {
      "type": "object",
      "description": "The request body which contain contact detail metadata",
      "properties": {
        "alertType": {
          "type": "string",
          "description": "The value of the supported alert type. Supported alert type value is: servicehealth",
          "maxLength": 30
        },
        "emailReceivers": {
          "type": "array",
          "description": "The list of email receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/EmailReceiver"
          },
          "x-ms-identifiers": []
        },
        "smsReceivers": {
          "type": "array",
          "description": "The list of SMS receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/SmsReceiver"
          },
          "x-ms-identifiers": []
        },
        "webhookReceivers": {
          "type": "array",
          "description": "The list of webhook receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/WebhookReceiver"
          },
          "x-ms-identifiers": []
        },
        "azureAppPushReceivers": {
          "type": "array",
          "description": "The list of AzureAppPush receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/AzureAppPushReceiver"
          },
          "x-ms-identifiers": []
        },
        "voiceReceivers": {
          "type": "array",
          "description": "The list of voice receivers that are part of this action group.",
          "items": {
            "$ref": "#/definitions/VoiceReceiver"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "alertType"
      ]
    },
    "TestNotificationDetailsResponse": {
      "type": "object",
      "description": "The details of the test notification results.",
      "properties": {
        "context": {
          "$ref": "#/definitions/Context",
          "description": "The context info"
        },
        "state": {
          "type": "string",
          "description": "The overall state"
        },
        "completedTime": {
          "type": "string",
          "description": "The completed time"
        },
        "createdTime": {
          "type": "string",
          "description": "The created time"
        },
        "actionDetails": {
          "type": "array",
          "description": "The list of action detail",
          "items": {
            "$ref": "#/definitions/ActionDetail"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "state"
      ]
    },
    "VoiceReceiver": {
      "type": "object",
      "description": "A voice receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the voice receiver. Names must be unique across all receivers within a tenant action group."
        },
        "countryCode": {
          "type": "string",
          "description": "The country code of the voice receiver."
        },
        "phoneNumber": {
          "type": "string",
          "description": "The phone number of the voice receiver."
        }
      },
      "required": [
        "name",
        "countryCode",
        "phoneNumber"
      ]
    },
    "WebhookReceiver": {
      "type": "object",
      "description": "A webhook receiver.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the webhook receiver. Names must be unique across all receivers within a tenant action group."
        },
        "serviceUri": {
          "type": "string",
          "description": "The URI where webhooks should be sent."
        },
        "useCommonAlertSchema": {
          "type": "boolean",
          "description": "Indicates whether to use common alert schema.",
          "default": false
        },
        "useAadAuth": {
          "type": "boolean",
          "description": "Indicates whether or not use AAD authentication.",
          "default": false
        },
        "objectId": {
          "type": "string",
          "description": "Indicates the webhook app object Id for aad auth."
        },
        "identifierUri": {
          "type": "string",
          "description": "Indicates the identifier uri for aad auth."
        },
        "tenantId": {
          "type": "string",
          "description": "Indicates the tenant id for aad auth."
        }
      },
      "required": [
        "name",
        "serviceUri"
      ]
    }
  },
  "parameters": {}
}
