{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Edge",
    "version": "2024-02-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Updates"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Edge/updates": {
      "get": {
        "operationId": "Updates_List",
        "tags": [
          "Updates"
        ],
        "description": "List Update resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpdateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates_List": {
            "$ref": "./examples/Updates_List_MinimumSet_Gen.json"
          },
          "Updates_List_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Updates_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Edge/updates/{updateName}": {
      "get": {
        "operationId": "Updates_Get",
        "tags": [
          "Updates"
        ],
        "description": "Get a Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "updateName",
            "in": "path",
            "description": "Name of update",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates_Get": {
            "$ref": "./examples/Updates_Get_MinimumSet_Gen.json"
          },
          "Updates_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Updates_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Updates_CreateOrModify",
        "tags": [
          "Updates"
        ],
        "description": "Create an Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "updateName",
            "in": "path",
            "description": "Name of update",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Update"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Update' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "201": {
            "description": "Resource 'Update' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Update"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates_CreateOrUpdate_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Updates_CreateOrModify_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Updates_Modify",
        "tags": [
          "Updates"
        ],
        "description": "Update a Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "updateName",
            "in": "path",
            "description": "Name of update",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Update"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Updates_Modify_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Updates_Delete",
        "tags": [
          "Updates"
        ],
        "description": "Delete an Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "updateName",
            "in": "path",
            "description": "Name of update",
            "required": true,
            "type": "string",
            "pattern": "^[a-z0-9]([-a-z0-9]*[a-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/Updates_Delete_MaximumSet_Gen.json"
          },
          "Updates_Delete_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/Updates_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ModifyUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Update.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModifyUpdateProperties",
          "description": "The updatable properties of the Update.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ModifyUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Update.",
      "properties": {
        "status": {
          "$ref": "#/definitions/UpdateStatus",
          "description": "The Status"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The ProvisioningState",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Update": {
      "type": "object",
      "description": "An Edge Aggregation resource for update",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UpdateProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "UpdateListResult": {
      "type": "object",
      "description": "The response of a Update list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Update items on this page",
          "items": {
            "$ref": "#/definitions/Update"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "UpdateProperties": {
      "type": "object",
      "description": "Update properties",
      "properties": {
        "status": {
          "$ref": "#/definitions/UpdateStatus",
          "description": "The Status"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "UpdateStatus": {
      "type": "string",
      "description": "The Status",
      "enum": [
        "Unknown",
        "UpdateAvailable",
        "UptoDate",
        "UpdateInProgress",
        "NeedsAttention"
      ],
      "x-ms-enum": {
        "name": "UpdateStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The device is in Unknown state"
          },
          {
            "name": "UpdateAvailable",
            "value": "UpdateAvailable",
            "description": "The device is in UpdateAvailable state"
          },
          {
            "name": "UptoDate",
            "value": "UptoDate",
            "description": "The device is in UptoDate state"
          },
          {
            "name": "UpdateInProgress",
            "value": "UpdateInProgress",
            "description": "The device is in UpdateInProgress state"
          },
          {
            "name": "NeedsAttention",
            "value": "NeedsAttention",
            "description": "The device is in NeedsAttention state"
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
