{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud - private links",
    "description": "API specification for Microsoft.Security (Microsoft Defender for Cloud) private links resource provider. This API enables customers to create and manage private endpoint connections to Defender for Cloud services, providing secure connectivity without exposing traffic to the public internet. private links support private connectivity to Defender APIs and regional data endpoints.",
    "version": "2025-09-01-preview",
    "contact": {
      "name": "Microsoft Defender for Cloud Support",
      "url": "https://docs.microsoft.com/azure/defender-for-cloud/"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/privateLinks": {
      "get": {
        "x-ms-examples": {
          "List private links by subscription": {
            "$ref": "./examples/PrivateLinks/PrivateLinks_ListBySubscription.json"
          }
        },
        "tags": [
          "PrivateLinks"
        ],
        "description": "Lists all the private links in the specified subscription. private links enable secure, private connectivity to Microsoft Defender for Cloud services without exposing traffic to the public internet. Use the 'nextLink' property in the response to get the next page of private links for the specified subscription.",
        "operationId": "PrivateLinks_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateLinksList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/privateLinks": {
      "get": {
        "x-ms-examples": {
          "List private links": {
            "$ref": "./examples/PrivateLinks/PrivateLinks_List.json"
          }
        },
        "tags": [
          "PrivateLinks"
        ],
        "description": "Lists all the private links in the specified resource group. private links enable secure, private connectivity to Microsoft Defender for Cloud services without exposing traffic to the public internet. Use the 'nextLink' property in the response to get the next page of private links for the specified resource group.",
        "operationId": "PrivateLinks_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateLinksList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/privateLinks/{privateLinkName}": {
      "get": {
        "x-ms-examples": {
          "Get private link": {
            "$ref": "./examples/PrivateLinks/PrivateLinks_Get.json"
          }
        },
        "tags": [
          "PrivateLinks"
        ],
        "description": "Get a private link resource. Returns the configuration and status of private endpoint connectivity for Microsoft Defender for Cloud services in the specified region.",
        "operationId": "PrivateLinks_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "head": {
        "description": "Checks whether private link exists.",
        "operationId": "PrivateLinks_Head",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          }
        ],
        "responses": {
          "200": {
            "description": "private link exists."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Checks whether private link exists": {
            "$ref": "./examples/PrivateLinks/PrivateLinks_Head.json"
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create private link": {
            "$ref": "./examples/PrivateLinks/PrivateLinks_Create.json"
          }
        },
        "tags": [
          "PrivateLinks"
        ],
        "description": "Create a private link resource. This operation creates the necessary infrastructure to enable private endpoint connections to Microsoft Defender for Cloud services. For updates to existing resources, use the PATCH operation. The operation is asynchronous and may take several minutes to complete.",
        "operationId": "PrivateLinks_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          },
          {
            "name": "privateLink",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            },
            "description": "Private link request payload containing the resource information for create operations."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Resource already exists",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "x-ms-examples": {
          "Update private link": {
            "$ref": "./examples/PrivateLinks/PrivateLinks_Update.json"
          }
        },
        "tags": [
          "PrivateLinks"
        ],
        "description": "Update specific properties of a private link resource. Use this operation to update mutable properties like tags without affecting the entire resource configuration.",
        "operationId": "PrivateLinks_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          },
          {
            "name": "privateLink",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateLinkUpdate"
            },
            "description": "private link update payload containing only the properties to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Updated successfully",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete private link": {
            "$ref": "./examples/PrivateLinks/PrivateLinks_Delete.json"
          }
        },
        "tags": [
          "PrivateLinks"
        ],
        "description": "Delete a private link resource. This operation will remove the private link infrastructure and disconnect all associated private endpoints. This operation is asynchronous and may take several minutes to complete.",
        "operationId": "PrivateLinks_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Delete operation started",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content - Resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/privateLinks/{privateLinkName}/privateLinkResources": {
      "get": {
        "x-ms-examples": {
          "List private link resources": {
            "$ref": "./examples/PrivateLinkResources/PrivateLinkResources_ListByPrivateLink.json"
          }
        },
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "List all private link resources in a private link.",
        "operationId": "PrivateLinkResources_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/privateLinks/{privateLinkName}/privateLinkResources/{groupId}": {
      "get": {
        "x-ms-examples": {
          "Get private link resource": {
            "$ref": "./examples/PrivateLinkResources/PrivateLinkResources_Get.json"
          }
        },
        "tags": [
          "PrivateLinkResources"
        ],
        "description": "Get the specified private link resource associated with the private link.",
        "operationId": "PrivateLinkResources_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          },
          {
            "$ref": "#/parameters/GroupIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/privateLinks/{privateLinkName}/privateEndpointConnections": {
      "get": {
        "x-ms-examples": {
          "List private endpoint connections": {
            "$ref": "./examples/PrivateEndpointConnections/PrivateEndpointConnections_List.json"
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets all private endpoint connections for a private link. Returns the list of private endpoints that are connected or in the process of connecting to this private link.",
        "operationId": "PrivateEndpointConnections_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/privateLinks/{privateLinkName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "x-ms-examples": {
          "Get private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections/PrivateEndpointConnections_Get.json"
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Gets the specified private endpoint connection associated with the private link. Returns the connection details, status, and configuration for a specific private endpoint.",
        "operationId": "PrivateEndpointConnections_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections/PrivateEndpointConnections_CreateOrUpdate.json"
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Update the state of specified private endpoint connection associated with the private link. This operation is typically used to approve or reject pending private endpoint connections.",
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "description": "The private endpoint connection resource.",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Updated",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections/PrivateEndpointConnections_Delete.json"
          }
        },
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes the specified private endpoint connection associated with the private link. This operation will disconnect the private endpoint and remove the connection configuration.",
        "operationId": "PrivateEndpointConnections_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateLinkName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted - Delete operation started",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content - Resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "definitions": {
    "PrivateLinksList": {
      "type": "object",
      "description": "Paginated list of private link resources. Contains an array of private links and optional pagination information.",
      "properties": {
        "value": {
          "description": "Collection of private links in this page",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page of private links. Present only when there are additional results available.",
          "format": "uri"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "A private link resource that enables secure, private connectivity to Microsoft Defender for Cloud services. This resource manages the lifecycle of private endpoint connections and provides the necessary infrastructure for private connectivity.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PrivateLinkProperties",
          "description": "Properties specific to the private link resource"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "PrivateLinkUpdate": {
      "type": "object",
      "description": "Request payload for updating a private link resource. Used in PATCH operations to update specific mutable properties without affecting the entire resource configuration.",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      }
    },
    "PrivateLinkProperties": {
      "type": "object",
      "description": "Properties of a private link resource. These properties control the behavior and configuration of private endpoint connectivity to Defender services.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The current provisioning state of the private link resource. Indicates whether the resource is being created, updated, deleted, or has completed successfully.",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections associated with this private link. Each connection represents a private endpoint from a customer's virtual network.",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "privateLinkResources": {
          "type": "array",
          "description": "List of private link resources available for connection. For Defender services, this typically includes the 'containers' group with 'api' and regional data endpoints.",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResource"
          },
          "readOnly": true
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state of the resource. Indicates the status of the last operation performed on the resource.",
      "enum": [
        "Succeeded",
        "Creating",
        "Updating",
        "Deleting",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "value": "Succeeded",
            "description": "The resource has been successfully provisioned and is ready for use."
          },
          {
            "value": "Creating",
            "description": "The resource is being created. This is a transitional state."
          },
          {
            "value": "Updating",
            "description": "The resource is being updated. This is a transitional state."
          },
          {
            "value": "Deleting",
            "description": "The resource is being deleted. This is a transitional state."
          },
          {
            "value": "Failed",
            "description": "The last operation on the resource failed. Check the error details for more information."
          },
          {
            "value": "Canceled",
            "description": "The operation was canceled before completion."
          }
        ]
      }
    }
  },
  "parameters": {
    "PrivateLinkName": {
      "name": "privateLinkName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the private link resource. Must be unique within the resource group and follow Azure naming conventions.",
      "x-ms-parameter-location": "method",
      "pattern": "^[A-Za-z0-9]+(?:-[A-Za-z0-9]+)*$",
      "minLength": 3,
      "maxLength": 63,
      "x-ms-parameter-grouping": {
        "name": "private-link-parameters"
      }
    },
    "PrivateLinkResourceName": {
      "name": "privateLinkResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the private link resource. For Defender services, this is typically 'containers' representing the main connection group.",
      "x-ms-parameter-location": "method",
      "pattern": "^[a-zA-Z0-9_-]+$",
      "minLength": 1,
      "maxLength": 64
    },
    "PrivateEndpointConnectionProxyName": {
      "name": "privateEndpointConnectionProxyName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the private endpoint connection proxy.",
      "x-ms-parameter-location": "method",
      "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9\\._-])*[a-zA-Z0-9_]$",
      "minLength": 1,
      "maxLength": 64
    },
    "GroupIdParameter": {
      "name": "groupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The group ID of the private link resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
