{
  "swagger": "2.0",
  "info": {
    "title": "Secret Management Test Service",
    "version": "2022-08-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Forecasts"
    }
  ],
  "paths": {
    "/providers/Microsoft.SecretManagementSampleProvider/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SecretManagementSampleProvider/forecasts": {
      "get": {
        "operationId": "Forecasts_ListBySubscription",
        "tags": [
          "Forecasts"
        ],
        "description": "List WeatherForecastResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WeatherForecastResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Forecasts_ListBySub_MaximumSet": {
            "$ref": "./examples/Forecasts_ListBySub_MaximumSet.json"
          },
          "Forecasts_ListBySub_MinimumSet": {
            "$ref": "./examples/Forecasts_ListBySub_MinimumSet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecretManagementSampleProvider/forecasts": {
      "get": {
        "operationId": "Forecasts_ListByResourceGroup",
        "tags": [
          "Forecasts"
        ],
        "description": "List WeatherForecastResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WeatherForecastResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Forecasts_ListByRG_MaximumSet": {
            "$ref": "./examples/Forecasts_ListByRG_MaximumSet.json"
          },
          "Forecasts_ListByRG_MinimumSet": {
            "$ref": "./examples/Forecasts_ListByRG_MinimumSet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SecretManagementSampleProvider/forecasts/{weatherForecastResourceName}": {
      "get": {
        "operationId": "Forecasts_Get",
        "tags": [
          "Forecasts"
        ],
        "description": "Get a WeatherForecastResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "weatherForecastResourceName",
            "in": "path",
            "description": "Weather forecast resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WeatherForecastResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Forecasts_Get_MaximumSet": {
            "$ref": "./examples/Forecasts_Get_MaximumSet.json"
          },
          "Forecasts_Get_MinimumSet": {
            "$ref": "./examples/Forecasts_Get_MinimumSet.json"
          }
        }
      },
      "put": {
        "operationId": "Forecasts_CreateOrUpdate",
        "tags": [
          "Forecasts"
        ],
        "description": "Create a WeatherForecastResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "weatherForecastResourceName",
            "in": "path",
            "description": "Weather forecast resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WeatherForecastResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'WeatherForecastResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/WeatherForecastResource"
            }
          },
          "201": {
            "description": "Resource 'WeatherForecastResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/WeatherForecastResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Forecasts_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/Forecasts_CreateOrUpdate_MaximumSet.json"
          },
          "Forecasts_CreateOrUpdate_MinimumSet": {
            "$ref": "./examples/Forecasts_CreateOrUpdate_MinimumSet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Forecasts_Update",
        "tags": [
          "Forecasts"
        ],
        "description": "Update a WeatherForecastResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "weatherForecastResourceName",
            "in": "path",
            "description": "Weather forecast resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WeatherForecastResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WeatherForecastResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Forecasts_Update_MaximumSet": {
            "$ref": "./examples/Forecasts_Update_MaximumSet.json"
          },
          "Forecasts_Update_MinimumSet": {
            "$ref": "./examples/Forecasts_Update_MinimumSet.json"
          }
        }
      },
      "delete": {
        "operationId": "Forecasts_Delete",
        "tags": [
          "Forecasts"
        ],
        "description": "Delete a WeatherForecastResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "weatherForecastResourceName",
            "in": "path",
            "description": "Weather forecast resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Forecasts_Delete_MaximumSet": {
            "$ref": "./examples/Forecasts_Delete_MaximumSet.json"
          },
          "Forecasts_Delete_MinimumSet": {
            "$ref": "./examples/Forecasts_Delete_MinimumSet.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource is accepted"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          }
        ]
      },
      "readOnly": true
    },
    "WeatherForecastProperties": {
      "type": "object",
      "description": "The properties of WeatherForecast",
      "properties": {
        "city": {
          "type": "string",
          "description": "City name for the forecast"
        },
        "date": {
          "type": "string",
          "description": "Date of the forecast"
        },
        "highTemperatureF": {
          "type": "integer",
          "format": "int32",
          "description": "High temperature in Fahrenheit"
        },
        "lowTemperatureF": {
          "type": "integer",
          "format": "int32",
          "description": "Low temperature in Fahrenheit"
        },
        "summary": {
          "type": "string",
          "description": "Summary of the weather"
        }
      },
      "required": [
        "city",
        "date",
        "highTemperatureF",
        "lowTemperatureF"
      ]
    },
    "WeatherForecastResource": {
      "type": "object",
      "description": "A WeatherForecastResource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WeatherForecastResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "WeatherForecastResourceListResult": {
      "type": "object",
      "description": "The response of a WeatherForecastResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The WeatherForecastResource items on this page",
          "items": {
            "$ref": "#/definitions/WeatherForecastResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "WeatherForecastResourceProperties": {
      "type": "object",
      "description": "The properties of WeatherForecastResource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource",
          "readOnly": true
        },
        "weatherForecastProperties": {
          "type": "array",
          "description": "Collection of weather forecasts",
          "items": {
            "$ref": "#/definitions/WeatherForecastProperties"
          },
          "x-ms-identifiers": [
            "city"
          ]
        }
      },
      "required": [
        "weatherForecastProperties"
      ]
    },
    "WeatherForecastResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the WeatherForecastResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/WeatherForecastResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "WeatherForecastResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the WeatherForecastResource.",
      "properties": {
        "weatherForecastProperties": {
          "type": "array",
          "description": "Collection of weather forecasts",
          "items": {
            "$ref": "#/definitions/WeatherForecastProperties"
          },
          "x-ms-identifiers": [
            "city"
          ]
        }
      }
    }
  },
  "parameters": {}
}
