{
  "swagger": "2.0",
  "info": {
    "version": "2020-12-15-privatepreview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources and logs for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsListByBillingAccount": {
            "$ref": "./examples/EnrollmentAccountsListByBillingAccount.json"
          },
          "EnrollmentAccountsListByBillingAccountWithExpand": {
            "$ref": "./examples/EnrollmentAccountsListByBillingAccountWithExpand.json"
          }
        },
        "operationId": "EnrollmentAccounts_ListByBillingAccountName",
        "description": "Lists the enrollment accounts for a billing account. The operation is supported only for billing accounts with agreement type Enterprise Agreement.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the department.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by account name. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value are separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/enrollmentAccounts/{enrollmentAccountName}": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccount": {
            "$ref": "./examples/EnrollmentAccount.json"
          },
          "EnrollmentAccountWithExpand": {
            "$ref": "./examples/EnrollmentAccountWithExpand.json"
          }
        },
        "operationId": "EnrollmentAccounts_GetByEnrollmentAccountId",
        "description": "Gets an enrollment account by ID. The operation is supported only for billing accounts with agreement type Enterprise Agreement.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the department.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by account name. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value are separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "AddEnrollmentAccount": {
            "$ref": "./examples/AddEnrollmentAccount.json"
          },
          "UpdateEnrollmentAccount": {
            "$ref": "./examples/UpdateEnrollmentAccount.json"
          }
        },
        "operationId": "EnrollmentAccounts_Update",
        "description": "Update an enrollment account to an enrollment or department",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountRequest"
            },
            "description": "Request parameters that are provided to update enrollment account parameters."
          }
        ],
        "responses": {
          "200": {
            "description": "Account modified successfully",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "DeleteEnrollmentAccount": {
            "$ref": "./examples/DeleteEnrollmentAccount.json"
          }
        },
        "operationId": "EnrollmentAccounts_Delete",
        "description": "Delete the given enrollment account",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified enrollment account is deleted",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "204": {
            "description": "The specified enrollment account is deleted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/{departmentName}/enrollmentAccounts": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsListByDepartment": {
            "$ref": "./examples/EnrollmentAccountsListByDepartment.json"
          },
          "EnrollmentAccountsListByDepartmentWithExpand": {
            "$ref": "./examples/EnrollmentAccountsListByDepartmentWithExpand.json"
          }
        },
        "operationId": "EnrollmentAccounts_ListByDepartmentName",
        "description": "Lists the enrollment accounts for a department. The operation is supported only for billing accounts with agreement type Enterprise Agreement.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/departmentNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the department.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by account name. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value are separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/departments/{departmentName}/enrollmentAccounts/{enrollmentAccountName}": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountByDepartment": {
            "$ref": "./examples/EnrollmentAccountByDepartment.json"
          },
          "EnrollmentAccountByDepartmentWithExpand": {
            "$ref": "./examples/EnrollmentAccountByDepartmentWithExpand.json"
          }
        },
        "operationId": "EnrollmentAccounts_GetByEnrollmentAccountIdByDepartment",
        "description": "Gets an enrollment account by Department. The operation is supported only for billing accounts with agreement type Enterprise Agreement.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/departmentNameParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountNameParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the department.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by account name. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value are separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "AddEnrollmentAccountByDepartment": {
            "$ref": "./examples/AddEnrollmentAccountByDepartment.json"
          },
          "UpdateEnrollmentAccountByDepartment": {
            "$ref": "./examples/UpdateEnrollmentAccountByDepartment.json"
          }
        },
        "operationId": "EnrollmentAccounts_UpdateByDepartment",
        "description": "Update an enrollment account to an enrollment or department",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/departmentNameParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountRequest"
            },
            "description": "Request parameters that are provided to update enrollment account parameters."
          }
        ],
        "responses": {
          "200": {
            "description": "Account modified successfully",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "DeleteEnrollmentAccountByDepartment": {
            "$ref": "./examples/DeleteEnrollmentAccountByDepartment.json"
          }
        },
        "operationId": "EnrollmentAccountsByDepartment_Delete",
        "description": "Delete the given enrollment account",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/departmentNameParameter"
          },
          {
            "$ref": "#/parameters/enrollmentAccountNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified enrollment account is deleted",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "204": {
            "description": "The specified enrollment account is deleted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Department": {
      "description": "A department.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A department.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DepartmentProperties"
        }
      }
    },
    "DepartmentProperties": {
      "description": "The properties of a department.",
      "properties": {
        "departmentName": {
          "description": "The name of the department.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center associated with the department.",
          "type": "string"
        },
        "status": {
          "description": "The status of the department.",
          "type": "string"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "The sub details of the error.",
          "readOnly": true,
          "$ref": "#/definitions/ErrorSubDetails"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorSubDetails": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string",
            "readOnly": true
          },
          "target": {
            "description": "The target of the particular error.",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "EnrollmentAccountListResult": {
      "description": "The list of enrollment accounts.",
      "properties": {
        "value": {
          "description": "The list of enrollment accounts.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentAccount": {
      "description": "An enrollment account.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The properties of an enrollment account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnrollmentAccountProperties"
        }
      }
    },
    "EnrollmentAccountProperties": {
      "description": "The properties of an enrollment account.",
      "properties": {
        "accountName": {
          "description": "The name of the enrollment account.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center associated with the enrollment account.",
          "type": "string"
        },
        "accountOwner": {
          "description": "The owner of the enrollment account.",
          "type": "string"
        },
        "status": {
          "description": "The status of the enrollment account.",
          "type": "string"
        },
        "startDate": {
          "description": "The start date of the enrollment account.",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "The end date of the enrollment account.",
          "type": "string",
          "format": "date-time"
        },
        "department": {
          "description": "Associated department. By default this is not populated, unless it's specified in $expand.",
          "$ref": "#/definitions/Department"
        }
      }
    },
    "EnrollmentAccountRequest": {
      "type": "object",
      "description": "Request parameters to create an account.",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "Name of the account"
        },
        "accountOwner": {
          "type": "string",
          "description": "Email address of account owner. This cannot be edited once set."
        },
        "authType": {
          "type": "string",
          "description": "Type of authentication to be supported. This cannot be edited once set.",
          "enum": [
            "MicrosoftAccount",
            "WorkOrSchoolAccount"
          ],
          "x-ms-enum": {
            "name": "authType",
            "modelAsString": true
          }
        },
        "costCenter": {
          "type": "string",
          "description": "Cost Center associated to account"
        },
        "departmentName": {
          "type": "string",
          "description": "Department Id to which account should be associated. This is optional while adding at the department scope. Only Enrollment Administrators will be able to set this."
        },
        "devTest": {
          "type": "boolean",
          "description": "Provides information on whether Enterprise dev test offer is enabled or not. Only Enrollment Administrators will be able to enable or disable this. This is optional field. By default it is false."
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The version of the API to be used with the client request. The current version is 2020-12-15-privatepreview."
    },
    "billingAccountNameParameter": {
      "name": "billingAccountName",
      "in": "path",
      "description": "The ID that uniquely identifies a billing account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "enrollmentAccountNameParameter": {
      "name": "enrollmentAccountName",
      "in": "path",
      "description": "The ID that uniquely identifies an enrollment account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "departmentNameParameter": {
      "name": "departmentName",
      "in": "path",
      "description": "The ID that uniquely identifies a department.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "operationIdParameter": {
      "name": "operationId",
      "in": "path",
      "description": "Operation Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
