{
  "swagger": "2.0",
  "info": {
    "version": "2020-12-15-privatepreview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources and logs for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/initiatePayNow": {
      "post": {
        "tags": [
          "PayNow"
        ],
        "summary": "Initiates a pay now request. The operation is supported only for billing accounts with agreement type Enterprise Agreement.",
        "operationId": "payNow_Initiate",
        "x-ms-examples": {
          "InitiateTransfer": {
            "$ref": "./examples/InitiatePayNow.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiatePayNowRequest"
            },
            "description": "Request parameters that are provided to the initiated pay now operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the initiated pay now.",
            "schema": {
              "$ref": "#/definitions/PayNowDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/payNow": {
      "get": {
        "tags": [
          "PayNow"
        ],
        "x-ms-examples": {
          "PayNowListByBillingAccount": {
            "$ref": "./examples/PayNowListByBillingAccount.json"
          }
        },
        "operationId": "PayNow_ListByBillingAccount",
        "description": "Lists the pay nows that are initiated for the billing account. The operation is supported only for billing accounts with agreement type Enterprise Agreement..",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter the list of pay nows.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PayNowListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/payNow/{payNowName}": {
      "get": {
        "tags": [
          "PayNow"
        ],
        "description": "Gets a pay now request by ID. The operation is supported only for billing accounts with agreement type Enterprise Agreement.",
        "operationId": "PayNow_Get",
        "x-ms-examples": {
          "PayNowGet": {
            "$ref": "./examples/GetPayNow.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/payNowNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of pay now.",
            "schema": {
              "$ref": "#/definitions/PayNowDetails"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/payableOverage": {
      "get": {
        "tags": [
          "PayNow"
        ],
        "description": "Get the payable overage amount for payNow. The operation is supported only for billing accounts with agreement type Enterprise Agreement.",
        "operationId": "PayNow_GetPayableOverage",
        "x-ms-examples": {
          "PayNowGet": {
            "$ref": "./examples/GetPayableOverage.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InitiatePayNowRequest"
            },
            "description": "Request parameters that are provided to the initiated pay now operation."
          }
        ],
        "responses": {
          "200": {
            "description": "The payable overage amount for payNow.",
            "schema": {
              "$ref": "#/definitions/PayableOverage"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Amount": {
      "description": "The amount.",
      "properties": {
        "currency": {
          "description": "The currency for the amount value.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Amount value.",
          "type": "number"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "The sub details of the error.",
          "readOnly": true,
          "$ref": "#/definitions/ErrorSubDetails"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorSubDetails": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string",
            "readOnly": true
          },
          "target": {
            "description": "The target of the particular error.",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "InitiatePayNowRequest": {
      "type": "object",
      "description": "Request parameters to initiate pay now.",
      "properties": {
        "properties": {
          "description": "Request parameters to initiate pay now.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InitiatePayNowProperties"
        }
      }
    },
    "InitiatePayNowProperties": {
      "type": "object",
      "description": "Request parameters to initiate pay now.",
      "properties": {
        "invoiceName": {
          "type": "string",
          "description": "The ID that uniquely identifies an invoice which is being paid off."
        },
        "payOffBillingAccountName": {
          "type": "string",
          "description": "The ID of the billing account whose pre-payment balance will be used to pay off the overage.. Currently only within billing account pay-off is supported."
        },
        "payOffDate": {
          "type": "string",
          "description": "The date used to get the pre-payment balance from pay off billing account. The date should be specified in MM-DD-YYYY format."
        }
      }
    },
    "PayNowDetails": {
      "type": "object",
      "description": "Details of the pay now.",
      "properties": {
        "properties": {
          "description": "Details of the pay now.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PayNowProperties"
        }
      }
    },
    "PayNowProperties": {
      "type": "object",
      "description": "Request parameters to initiate pay now.",
      "properties": {
        "createdTime": {
          "type": "string",
          "format": "date-time",
          "description": "The time at which the pay now request was created.",
          "readOnly": true
        },
        "errorCode": {
          "description": "The error code for failed pay now.",
          "readOnly": true,
          "type": "string"
        },
        "errorMessage": {
          "description": "The error message for failed pay now.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "The pay now operation id for the initiated pay now.",
          "readOnly": true,
          "type": "string"
        },
        "initiatorEmailAddress": {
          "description": "The email ID of the user who initiated the pay now request.",
          "readOnly": true,
          "type": "string"
        },
        "invoiceName": {
          "description": "The invoice number being paid off.",
          "readOnly": true,
          "type": "string"
        },
        "overageAmount": {
          "description": "The total pre-payment eligible overage amount.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "payOffBillingAccountName": {
          "type": "string",
          "readOnly": true,
          "description": "The ID of the billing account whose pre-payment balance will be used to pay off the overage."
        },
        "payOffDate": {
          "type": "string",
          "readOnly": true,
          "description": "The effective date used to get the pre-payment balance from pay off billing account."
        },
        "percentComplete": {
          "description": "The percent of operation completed.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifiedOn": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The time at which the pay now request was last modified."
        },
        "state": {
          "description": "Identifies the state of the pay now operation.",
          "type": "string",
          "enum": [
            "Pending",
            "InProgress",
            "Completed",
            "Failed"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "PayNowState",
            "modelAsString": true
          }
        }
      }
    },
    "PayNowListResult": {
      "description": "The list of pay nows initiated.",
      "properties": {
        "value": {
          "description": "The list of pay nows initiated.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/PayNowDetails"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PayableOverage": {
      "description": "The latest Azure payable overage amount for pay now.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PayableOverageProperties",
          "title": "Available payable overage properties"
        }
      }
    },
    "PayableOverageProperties": {
      "description": "The properties of payable overage.",
      "properties": {
        "amount": {
          "description": "Overage amount.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The version of the API to be used with the client request. The current version is 2020-12-15-privatepreview."
    },
    "billingAccountNameParameter": {
      "name": "billingAccountName",
      "in": "path",
      "description": "The ID that uniquely identifies a billing account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "payNowNameParameter": {
      "name": "payNowName",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID that uniquely identifies a pay now request."
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
