{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2021-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Security/customAssessmentAutomations/{customAssessmentAutomationName}": {
      "get": {
        "description": "Get a single Custom Assessment Automation by name for the provided subscription and resource group.",
        "tags": [
          "customAssessmentAutomations"
        ],
        "operationId": "CustomAssessmentAutomations_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/customAssessmentAutomationName"
          }
        ],
        "x-ms-examples": {
          "Get a Custom Assessment Automation": {
            "$ref": "./examples/CustomAssessmentAutomations/customAssessmentAutomationGet_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/customAssessmentAutomation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "description": "Create or update a Custom Assessment Automation for the provided subscription. Please note that providing an existing Custom Assessment Automation will replace the existing record.",
        "tags": [
          "customAssessmentAutomations"
        ],
        "operationId": "CustomAssessmentAutomations_Create",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/customAssessmentAutomationName"
          },
          {
            "$ref": "#/parameters/customAssessmentAutomationBody"
          }
        ],
        "x-ms-examples": {
          "Create a Custom Assessment Automation": {
            "$ref": "./examples/CustomAssessmentAutomations/customAssessmentAutomationCreate_example.json"
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/customAssessmentAutomation"
            }
          },
          "200": {
            "description": "OK - Updated",
            "schema": {
              "$ref": "#/definitions/customAssessmentAutomation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "description": "Delete a Custom Assessment Automation by name for a provided subscription",
        "tags": [
          "customAssessmentAutomations"
        ],
        "operationId": "CustomAssessmentAutomations_Delete",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/customAssessmentAutomationName"
          }
        ],
        "x-ms-examples": {
          "Delete a Custom Assessment Automation": {
            "$ref": "./examples/CustomAssessmentAutomations/customAssessmentAutomationDelete_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK - Custom Assessment Automation was deleted"
          },
          "204": {
            "description": "No Content - Custom Assessment Automation does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/customAssessmentAutomations": {
      "get": {
        "tags": [
          "customAssessmentAutomations"
        ],
        "operationId": "CustomAssessmentAutomations_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "x-ms-examples": {
          "List Custom Assessment Automations": {
            "$ref": "./examples/CustomAssessmentAutomations/customAssessmentAutomationList_example.json"
          }
        },
        "responses": {
          "200": {
            "description": "OK - Returns a collection of Custom Assessment Automations",
            "schema": {
              "$ref": "#/definitions/customAssessmentAutomationsListResult"
            }
          },
          "default": {
            "description": "Error response that describes why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "customAssessmentAutomationsListResult": {
      "type": "object",
      "description": "A list of Custom Assessment Automations",
      "properties": {
        "value": {
          "description": "Collection of Custom Assessment Automations",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/customAssessmentAutomation"
          }
        }
      }
    },
    "customAssessmentAutomation": {
      "type": "object",
      "description": "Custom Assessment Automation",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "describes Custom Assessment Automation properties.",
          "$ref": "#/definitions/customAssessmentAutomationProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "customAssessmentAutomationProperties": {
      "type": "object",
      "description": "describes the Custom Assessment Automation properties",
      "properties": {
        "compressedQuery": {
          "description": "GZip encoded KQL query representing the assessment automation results required.",
          "type": "string"
        },
        "supportedCloud": {
          "description": "Relevant cloud for the custom assessment automation.",
          "type": "string",
          "enum": [
            "AWS"
          ]
        },
        "severity": {
          "description": "The severity to relate to the assessments generated by this assessment automation.",
          "type": "string",
          "enum": [
            "High",
            "Medium",
            "Low"
          ]
        },
        "description": {
          "description": "The description to relate to the assessments generated by this assessment automation.",
          "type": "string"
        },
        "remediationDescription": {
          "description": "The remediation description to relate to the assessments generated by this assessment automation.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "customAssessmentAutomationName": {
      "name": "customAssessmentAutomationName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the Custom Assessment Automation.",
      "x-ms-parameter-location": "method"
    },
    "customAssessmentAutomationBody": {
      "name": "customAssessmentAutomationBody",
      "in": "body",
      "description": "Custom Assessment Automation body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/customAssessmentAutomation"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
