{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2021-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityConnector": {
      "get": {
        "x-ms-examples": {
          "List all security connectors of a specified subscription": {
            "$ref": "./examples/SecurityConnectors/GetSecurityConnectorsSubscription_example.json"
          }
        },
        "tags": [
          "SecurityConnector"
        ],
        "description": "Lists all the security connectors in the specified subscription. Use the 'nextLink' property in the response to get the next page of security connectors for the specified subscription.",
        "operationId": "SecurityConnector_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/securityConnectorList"
            }
          },
          "default": {
            "description": "Error response that describes why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnector": {
      "get": {
        "x-ms-examples": {
          "List all security connectors of a specified resource group": {
            "$ref": "./examples/SecurityConnectors/GetSecurityConnectorsResourceGroup_example.json"
          }
        },
        "tags": [
          "SecurityConnector"
        ],
        "description": "Lists all the security connectors in the specified resource group. Use the 'nextLink' property in the response to get the next page of security connectors for the specified resource group.",
        "operationId": "SecurityConnector_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/securityConnectorList"
            }
          },
          "default": {
            "description": "Error response that describes why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnector/{securityConnectorName}": {
      "get": {
        "x-ms-examples": {
          "Retrieve a security connector": {
            "$ref": "./examples/SecurityConnectors/GetSecurityConnectorResourceGroup_example.json"
          }
        },
        "tags": [
          "SecurityConnector"
        ],
        "description": "Retrieves information about the model of a security connectors.",
        "operationId": "SecurityConnector_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/securityConnectorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/securityConnector"
            }
          },
          "default": {
            "description": "Error response that describes why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update a security connector": {
            "$ref": "./examples/SecurityConnectors/PutSecurityConnector_example.json"
          }
        },
        "tags": [
          "SecurityConnector"
        ],
        "description": "Creates or updates a security connector. If a security connector is already created and a subsequent request is issued for the same security connector id, then it will be updated.",
        "operationId": "SecurityConnector_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/securityConnectorName"
          },
          {
            "$ref": "#/parameters/securityConnectorInBody"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/securityConnector"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/securityConnector"
            }
          },
          "default": {
            "description": "Error response that describes why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete a security connector": {
            "$ref": "./examples/SecurityConnectors/DeleteSecurityConnector_example.json"
          }
        },
        "tags": [
          "SecurityConnector"
        ],
        "operationId": "SecurityConnector_Delete",
        "description": "Deletes a security connector.",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/securityConnectorName"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response that describes why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "securityConnectorList": {
      "description": "List of security connectors response.",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of security connectors under the given scope.",
          "items": {
            "$ref": "#/definitions/securityConnector"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page."
        }
      }
    },
    "securityConnector": {
      "type": "object",
      "description": "The security connector resource.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Security connector data",
          "$ref": "#/definitions/securityConnectorProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "securityConnectorProperties": {
      "type": "object",
      "description": "A set of properties that defines the security connector configuration.",
      "properties": {
        "hierarchyId": {
          "type": "string",
          "description": "The multi cloud resource identifier (account id in case of AWS connector)."
        },
        "multiCloudName": {
          "type": "string",
          "description": "The multi cloud resource's cloud name.",
          "enum": [
            "Azure",
            "AWS",
            "GCP"
          ],
          "x-ms-enum": {
            "name": "multiCloudName",
            "modelAsString": true
          }
        },
        "offerings": {
          "type": "array",
          "description": "A collection of offerings for the security connector.",
          "items": {
            "$ref": "#/definitions/multiCloudOffering"
          }
        }
      }
    },
    "multiCloudOffering": {
      "type": "object",
      "description": "The security offering details",
      "discriminator": "offeringType",
      "required": [
        "offeringType"
      ],
      "properties": {
        "offeringType": {
          "type": "string",
          "description": "The type of the security offering.",
          "enum": [
            "monitoringAWS"
          ],
          "x-ms-enum": {
            "name": "offeringType",
            "modelAsString": true,
            "values": [
              {
                "value": "monitoringAWS"
              }
            ]
          }
        },
        "description": {
          "type": "string",
          "description": "The offering description.",
          "readOnly": true
        }
      }
    },
    "monitoringAWSOffering": {
      "type": "object",
      "description": "The monitoring for AWS offering configurations",
      "x-ms-discriminator-value": "monitoringAWS",
      "allOf": [
        {
          "$ref": "#/definitions/multiCloudOffering"
        }
      ],
      "properties": {
        "nativeCloudConnection" : {
          "type": "object", 
          "description": "The native cloud connection configuration",
          "properties": {
            "cloudRoleArn": {
              "type": "string",
              "description": "The cloud role ARN in AWS for this feature"
            }, 
            "policies": {
              "type": "array",
              "description": "The list of the required policies on the multi cloud roles for the offering.",
              "items": {
                "type": "string",
                "description": "multi cloud role"
              },
              "readOnly": true
            }
          }
        }
      }
    }
  },
  "parameters": {
    "securityConnectorName": {
      "name": "securityConnectorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The security connector name.",
      "x-ms-parameter-location": "method"
    },
    "securityConnectorInBody": {
      "name": "securityConnector",
      "in": "body",
      "required": true,
      "description": "The security connector resource",
      "schema": {
        "$ref": "#/definitions/securityConnector"
      },
      "x-ms-parameter-location": "method"
    }
  }
}