{
  "swagger": "2.0",
  "info": {
    "title": "MicrosoftAzurePurviewInsightsClient",
    "description": "Creates a Microsoft.Azure.Purview.Insights management client.",
    "version": "2022-03-01-preview"
  },
  "host": "purview.azure.com",
  "basePath": "/insights",
  "schemes": [
    "https"
  ],
  "paths": {
    "/assets/snapshots": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List asset snapshots",
        "description": "List asset snapshots",
        "operationId": "AssetSnapshots_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "kind",
            "description": "The asset type.",
            "required": true,
            "type": "string",
            "enum": [
              "ActiveUsersTrend",
              "AssetFilesAggregation",
              "AssetDistribution",
              "DataEstateHealth",
              "FilesWithoutResourceSet",
              "AllAssetsDistribution",
              "AssetCurationDistribution",
              "DeletedAssetsDistribution",
              "MostViewedAssets",
              "NetNewAssetsDistribution",
              "TopSearchedKeywords",
              "Tags",
              "TrendsAndGaps"
            ],
            "x-ms-enum": {
              "name": "AssetType",
              "modelAsString": true
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Snapshots"
            }
          },
          "default": {
            "description": "An error response received from the Insights Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "The error code"
              }
            }
          }
        },
        "x-ms-examples": {
          "AssetSnapshots_List": {
            "$ref": "./examples/AssetSnapshots_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/assets/details": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List asset details",
        "description": "List asset details",
        "operationId": "AssetDetails_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "orderby",
            "description": "The order of the entries.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "skip",
            "description": "The number of entries that should be ignored at the beginning of a collection.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "top",
            "description": "The maximum number of entries that should be returned.",
            "type": "integer",
            "format": "int32"
          },
          {
            "in": "query",
            "name": "kind",
            "description": "The type of asset.",
            "required": true,
            "type": "string",
            "enum": [
              "ActiveUsersTrend",
              "AssetFilesAggregation",
              "AssetDistribution",
              "DataEstateHealth",
              "FilesWithoutResourceSet",
              "AllAssetsDistribution",
              "AssetCurationDistribution",
              "DeletedAssetsDistribution",
              "MostViewedAssets",
              "NetNewAssetsDistribution",
              "TopSearchedKeywords",
              "Tags",
              "TrendsAndGaps"
            ],
            "x-ms-enum": {
              "name": "AssetType",
              "modelAsString": true
            }
          },
          {
            "in": "query",
            "name": "classification",
            "description": "The classification name.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "classificationCategory",
            "description": "The classification category.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "dataOwner",
            "description": "The data owner.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "instance",
            "description": "The instance.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "sourceType",
            "description": "The source type.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "collectionNames",
            "description": "The collection names.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Details"
            }
          },
          "default": {
            "description": "An error response received from the Insights Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "The error code"
              }
            }
          }
        },
        "x-ms-examples": {
          "AssetDetails_List": {
            "$ref": "./examples/AssetDetails_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/assets/details/filters": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get asset details filters",
        "description": "Get asset details filters",
        "operationId": "AssetDetailsFilters_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "kind",
            "description": "The type of asset.",
            "required": true,
            "type": "string",
            "enum": [
              "ActiveUsersTrend",
              "AssetFilesAggregation",
              "AssetDistribution",
              "DataEstateHealth",
              "FilesWithoutResourceSet",
              "AllAssetsDistribution",
              "AssetCurationDistribution",
              "DeletedAssetsDistribution",
              "MostViewedAssets",
              "NetNewAssetsDistribution",
              "TopSearchedKeywords",
              "Tags",
              "TrendsAndGaps"
            ],
            "x-ms-enum": {
              "name": "AssetType",
              "modelAsString": true
            }
          },
          {
            "in": "query",
            "name": "classification",
            "description": "The classification.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "classificationCategory",
            "description": "The classification categories.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "collectionNames",
            "description": "The collection names.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dataOwner",
            "description": "The data owner.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "instance",
            "description": "The instance.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "sourceType",
            "description": "The source type.",
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssetInsightsDetailsFilters"
            }
          },
          "default": {
            "description": "An error response received from the Insights Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "The error code"
              }
            }
          }
        },
        "x-ms-examples": {
          "AssetDetailsFilters_Get": {
            "$ref": "./examples/AssetDetailsFilters_Get.json"
          }
        }
      }
    },
    "/assets/timeSeries/tags": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List classification and label tags time series",
        "description": "List classification and label tags time series",
        "operationId": "AssetTagsTimeSeries_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TagsTimeSeries"
            }
          },
          "default": {
            "description": "An error response received from the Insights Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "The error code"
              }
            }
          }
        },
        "x-ms-examples": {
          "AssetTagsTimeSeries_List": {
            "$ref": "./examples/AssetTagsTimeSeries_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/assets/timeSeries/filesAggregation": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "List file type size time series",
        "description": "List file type size time series",
        "operationId": "AssetFilesAggregationTimeSeries_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FilesAggregationTimeSeries"
            }
          },
          "default": {
            "description": "An error response received from the Insights Service",
            "schema": {
              "$ref": "#/definitions/ErrorResponseModel"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "The error code"
              }
            }
          }
        },
        "x-ms-examples": {
          "AssetFilesAggregationTimeSeries_List": {
            "$ref": "./examples/AssetFilesAggregationTimeSeries_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SnapshotRecord": {
      "description": "Snapshot record",
      "required": [
        "kind"
      ],
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of asset",
          "enum": [
            "ActiveUsersTrend",
            "AssetFilesAggregation",
            "AssetDistribution",
            "DataEstateHealth",
            "FilesWithoutResourceSet",
            "AllAssetsDistribution",
            "AssetCurationDistribution",
            "DeletedAssetsDistribution",
            "MostViewedAssets",
            "NetNewAssetsDistribution",
            "TopSearchedKeywords",
            "Tags",
            "TrendsAndGaps"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AssetType",
            "modelAsString": true
          }
        },
        "snapshotTime": {
          "format": "date-time",
          "description": "The Snapshot time",
          "type": "string"
        }
      },
      "discriminator": "kind"
    },
    "Snapshots": {
      "description": "Snapshots",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "format": "date-time",
          "description": "The snapshot time.",
          "type": "string"
        },
        "value": {
          "description": "Collection of items of type results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SnapshotRecord"
          }
        },
        "nextLink": {
          "description": "The Url of next result page.",
          "type": "string"
        }
      }
    },
    "ErrorModel": {
      "description": "Default error model",
      "type": "object",
      "properties": {
        "code": {
          "description": "Gets or sets the error code.",
          "type": "string"
        },
        "message": {
          "description": "Gets or sets the messages.",
          "type": "string"
        },
        "target": {
          "description": "Gets or sets the target.",
          "type": "string"
        },
        "details": {
          "description": "Gets or sets the details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorModel"
          }
        }
      }
    },
    "ErrorResponseModel": {
      "description": "Default error response model",
      "type": "object",
      "properties": {
        "error": {
          "description": "Gets or sets the error.",
          "allOf": [
            {
              "$ref": "#/definitions/ErrorModel"
            }
          ]
        }
      }
    },
    "DetailsRecord": {
      "required": [
        "kind"
      ],
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of asset",
          "enum": [
            "ActiveUsersTrend",
            "AssetFilesAggregation",
            "AssetDistribution",
            "DataEstateHealth",
            "FilesWithoutResourceSet",
            "AllAssetsDistribution",
            "AssetCurationDistribution",
            "DeletedAssetsDistribution",
            "MostViewedAssets",
            "NetNewAssetsDistribution",
            "TopSearchedKeywords",
            "Tags",
            "TrendsAndGaps"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AssetType",
            "modelAsString": true
          }
        },
        "snapshotTime": {
          "format": "date-time",
          "type": "string"
        }
      },
      "discriminator": "kind"
    },
    "Details": {
      "description": "Asset details",
      "type": "object",
      "properties": {
        "snapshotTime": {
          "format": "date-time",
          "description": "The snapshot time.",
          "type": "string"
        },
        "totalResultCount": {
          "format": "int64",
          "description": "Total result count.",
          "type": "integer"
        },
        "value": {
          "description": "Collection of items of type results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DetailsRecord"
          }
        },
        "nextLink": {
          "description": "The Url of next result page.",
          "type": "string"
        }
      }
    },
    "AssetInsightsDetailsFilters": {
      "description": "API response structure for filters on asset insights details page",
      "type": "object",
      "properties": {
        "classifications": {
          "description": "Classifications on the asset",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classificationCategories": {
          "description": "Classification categories",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collectionNames": {
          "description": "Collection to which the assets belongs\r\nThis is the 6 character unique collection name/id",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataOwners": {
          "description": "Asset data owners",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instances": {
          "description": "Instance[SQL server/Blob account]",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sourceTypes": {
          "description": "Data Source Types",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TagValuesByTime": {
      "type": "object",
      "properties": {
        "time": {
          "format": "date-time",
          "type": "string"
        },
        "sources": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "TagsTimesSeriesRecord": {
      "type": "object",
      "properties": {
        "sourceType": {
          "type": "string"
        },
        "tagType": {
          "type": "string"
        },
        "series": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagValuesByTime"
          }
        }
      }
    },
    "TagsTimeSeries": {
      "description": "Tags time series",
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of items of type results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagsTimesSeriesRecord"
          }
        },
        "nextLink": {
          "description": "The Url of next result page.",
          "type": "string"
        }
      }
    },
    "FileTypeValuesByTime": {
      "type": "object",
      "properties": {
        "time": {
          "format": "date-time",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "integer"
        },
        "bytes": {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "FilesAggregationTimesSeriesRecord": {
      "type": "object",
      "properties": {
        "sourceType": {
          "type": "string"
        },
        "fileType": {
          "type": "string"
        },
        "series": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FileTypeValuesByTime"
          }
        }
      }
    },
    "FilesAggregationTimeSeries": {
      "description": "Files aggregation time series",
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of items of type results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilesAggregationTimesSeriesRecord"
          }
        },
        "nextLink": {
          "description": "The Url of next result page.",
          "type": "string"
        }
      }
    },
    "AllAssetsDistributionDetailsRecord": {
      "description": "All assets distribution details",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DetailsRecord"
        }
      ],
      "properties": {
        "assetDisplayName": {
          "description": "Asset display name",
          "type": "string"
        },
        "classifications": {
          "description": "Classifications on the asset",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classificationCategories": {
          "description": "Classification categories",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collectionName": {
          "description": "Collection to which the assets belongs\r\nThis is the 6 character unique collection name/id",
          "type": "string"
        },
        "dataOwners": {
          "description": "Asset data owners",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "guid": {
          "description": "Asset guid - used to uniquely identify assets in the catalog",
          "type": "string"
        },
        "instance": {
          "description": "Instance/account to which the asset belongs[azure blob account, sql server, etc.]",
          "type": "string"
        },
        "objectType": {
          "description": "Object Type of the asset. Every atlas entity type is mapped to an object type",
          "type": "string"
        },
        "qualifiedName": {
          "description": "Asset FQN[Fully Qualified Name]",
          "type": "string"
        },
        "sourceType": {
          "description": "Data Source Type",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AllAssetsDistribution"
    },
    "AssetCurationDistributionDetailsRecord": {
      "description": "Asset curation distribution details",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DetailsRecord"
        }
      ],
      "properties": {
        "assetDisplayName": {
          "description": "Asset display name",
          "type": "string"
        },
        "classifications": {
          "description": "Classifications on the asset",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collectionName": {
          "description": "Collection to which the assets belongs\r\nThis is the 6 character unique collection name/id",
          "type": "string"
        },
        "dataOwners": {
          "description": "Asset data owners",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "guid": {
          "description": "Asset guid - used to uniquely identify assets in the catalog",
          "type": "string"
        },
        "description": {
          "description": "Asset description",
          "type": "string"
        },
        "instance": {
          "description": "Instance/account to which the asset belongs[azure blob account, sql server, etc.]",
          "type": "string"
        },
        "qualifiedName": {
          "description": "Asset FQN[Fully Qualified Name]",
          "type": "string"
        },
        "sourceType": {
          "description": "Data Source Type",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "AssetCurationDistribution"
    },
    "DeletedAssetsDistributionDetailsRecord": {
      "description": "Deleted assets distribution details",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DetailsRecord"
        }
      ],
      "properties": {
        "classifications": {
          "description": "Classifications on the asset",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classificationCategories": {
          "description": "Classification categories",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collectionName": {
          "description": "Collection to which the assets belongs\r\nThis is the 6 character unique collection name/id",
          "type": "string"
        },
        "count": {
          "description": "Asset Count",
          "type": "string"
        },
        "dataOwners": {
          "description": "Asset data owners",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "instance": {
          "description": "Instance/account to which the asset belongs[azure blob account, sql server, etc.]",
          "type": "string"
        },
        "objectType": {
          "description": "Object Type of the asset. Every atlas entity type is mapped to an object type",
          "type": "string"
        },
        "sourceType": {
          "description": "Data Source Type",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "DeletedAssetsDistribution"
    },
    "NetNewAssetsDistributionDetailsRecord": {
      "description": "Net new assets distribution details",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DetailsRecord"
        }
      ],
      "properties": {
        "assetDisplayName": {
          "description": "Asset display name",
          "type": "string"
        },
        "classifications": {
          "description": "Classifications on the asset",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classificationCategories": {
          "description": "Classification categories",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "collectionName": {
          "description": "Collection to which the assets belongs\r\nThis is the 6 character unique collection name/id",
          "type": "string"
        },
        "dataOwners": {
          "description": "Asset data owners",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "guid": {
          "description": "Asset guid - used to uniquely identify assets in the catalog",
          "type": "string"
        },
        "instance": {
          "description": "Instance/account to which the asset belongs[azure blob account, sql server, etc.]",
          "type": "string"
        },
        "objectType": {
          "description": "Object Type of the asset. Every atlas entity type is mapped to an object type",
          "type": "string"
        },
        "qualifiedName": {
          "description": "Asset FQN[Fully Qualified Name]",
          "type": "string"
        },
        "sourceType": {
          "description": "Data Source Type",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "NetNewAssetsDistribution"
    },
    "ActiveUsersTrendDataPoint": {
      "type": "object",
      "properties": {
        "assetEditsUserCount": {
          "format": "int64",
          "description": "Count of distinct users making asset edits",
          "type": "integer"
        },
        "datamapPopulationUserCount": {
          "format": "int64",
          "description": "Count of distinct users populating the datamap",
          "type": "integer"
        },
        "searchAndBrowseUserCount": {
          "format": "int64",
          "description": "Count of distinct users doing search and browse activities",
          "type": "integer"
        },
        "totalUserCount": {
          "format": "int64",
          "description": "Number of all active users",
          "type": "integer"
        },
        "timePoint": {
          "format": "date-time",
          "description": "Time for the data point",
          "type": "string"
        }
      }
    },
    "ActiveUsersTrendSnapshotRecord": {
      "description": "Active users trend snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "activeUsersTrendPerDateRange": {
          "description": "date range to data points map",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ActiveUsersTrendDataPoint"
            }
          }
        }
      },
      "x-ms-discriminator-value": "ActiveUsersTrend"
    },
    "AllAssetsDistributionSnapshotRecord": {
      "description": "All assets distribution snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "classification": {
          "description": "Asset Classification",
          "type": "string"
        },
        "classificationCategory": {
          "description": "Classification category",
          "type": "string"
        },
        "collectionName": {
          "description": "Collection to which the asset belongs\r\nThis is the 6 character unique collection name/id",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Asset count",
          "type": "integer"
        },
        "dataOwnerAssigned": {
          "description": "Is data owner assigned",
          "type": "boolean"
        },
        "unclassifiedCount": {
          "format": "int64",
          "description": "Count of unclassified assets",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "AllAssetsDistribution"
    },
    "AssetCurationDistributionSnapshotRecord": {
      "description": "Asset curation distribution snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "collectionName": {
          "description": "Collection to which the asset belongs\r\nThis is the 6 character unique collection name/id",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Count of all assets",
          "type": "integer"
        },
        "fullyCurated": {
          "format": "int64",
          "description": "Count of fully curated assets",
          "type": "integer"
        },
        "partiallyCurated": {
          "format": "int64",
          "description": "Count of partially curated assets",
          "type": "integer"
        },
        "notCurated": {
          "format": "int64",
          "description": "Count of not curated assets",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "AssetCurationDistribution"
    },
    "AssetDistributionSnapshotRecord": {
      "description": "Asset distribution snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "sourceType": {
          "type": "string"
        },
        "collectionName": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "classificationCategory": {
          "type": "string"
        },
        "classification": {
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "AssetDistribution"
    },
    "AssetFilesAggregationSnapshotRecord": {
      "description": "Asset files aggregation snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "sourceType": {
          "type": "string"
        },
        "fileType": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "collection": {
          "type": "string"
        },
        "prev7dBytes": {
          "format": "int64",
          "type": "integer"
        },
        "prev30dBytes": {
          "format": "int64",
          "type": "integer"
        },
        "currBytes": {
          "format": "int64",
          "type": "integer"
        },
        "prev7dCount": {
          "format": "int64",
          "type": "integer"
        },
        "prev30dCount": {
          "format": "int64",
          "type": "integer"
        },
        "currCount": {
          "format": "int64",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "AssetFilesAggregation"
    },
    "DataEstateHealthSnapshotRecord": {
      "description": "Data estate health snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "collectionName": {
          "description": "The collection name",
          "type": "string"
        },
        "total": {
          "format": "int64",
          "description": "The total number of assets in this collection.",
          "type": "integer"
        },
        "financialClassifiedAssets": {
          "format": "int64",
          "description": "The count of financial classified assets.",
          "type": "integer"
        },
        "fullyCuratedAssets": {
          "format": "int64",
          "description": "The count of fully curated assets",
          "type": "integer"
        },
        "dataOwnerAssigned": {
          "format": "int64",
          "description": "The count of assets with data owner assigned.",
          "type": "integer"
        },
        "netNewAssets": {
          "format": "int64",
          "description": "The count of net new assets.",
          "type": "integer"
        },
        "staleAssets": {
          "format": "int64",
          "description": "The count of stale assets.",
          "type": "integer"
        },
        "unclassified": {
          "format": "int64",
          "description": "The count of unclassified assets.",
          "type": "integer"
        },
        "updated": {
          "format": "int64",
          "description": "The count of updated assets.",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "DataEstateHealth"
    },
    "DeletedAssetsDistributionSnapshotRecord": {
      "description": "Deleted assets distribution snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "classification": {
          "description": "Asset Classification",
          "type": "string"
        },
        "classificationCategory": {
          "description": "Classification category",
          "type": "string"
        },
        "collectionName": {
          "description": "Collection to which the asset belongs\r\nThis is the 6 character unique collection name/id",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Asset count",
          "type": "integer"
        },
        "dataOwnerAssigned": {
          "description": "Is data owner assigned",
          "type": "boolean"
        },
        "unclassifiedCount": {
          "format": "int64",
          "description": "Count of unclassified assets",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "DeletedAssetsDistribution"
    },
    "FilesWithoutResourceSetSnapshotRecord": {
      "description": "Files without resource set snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "sourceType": {
          "type": "string"
        },
        "collectionName": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "integer"
        },
        "resourceSetCount": {
          "format": "int64",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "FilesWithoutResourceSet"
    },
    "TrendsAndGapsDataPoint": {
      "description": "Trends and gaps data point",
      "type": "object",
      "properties": {
        "total": {
          "format": "int64",
          "description": "The total number of assets in this collection.",
          "type": "integer"
        },
        "unclassifiedAssets": {
          "format": "int64",
          "description": "The count of unclassified assets.",
          "type": "integer"
        },
        "uncuratedAssets": {
          "format": "int64",
          "description": "The count of uncurated assets",
          "type": "integer"
        },
        "unassignedDataOwnerAssets": {
          "format": "int64",
          "description": "The count of assets without data owner assigned.",
          "type": "integer"
        },
        "timePoint": {
          "format": "date-time",
          "description": "The time point at which this datapoint was calculated.",
          "type": "string"
        }
      }
    },
    "TrendsAndGapsSnapshotRecord": {
      "description": "Trends and gaps snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "collectionName": {
          "description": "The collection name",
          "type": "string"
        },
        "trend": {
          "description": "The dictionary of trending by different date ranges.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/TrendsAndGapsDataPoint"
            }
          }
        }
      },
      "x-ms-discriminator-value": "TrendsAndGaps"
    },
    "MostViewedAssetsSnapshotRecord": {
      "description": "Most viewed assets snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "assetDisplayName": {
          "description": "Asset display name",
          "type": "string"
        },
        "curationLevel": {
          "description": "Asset curation level [Full, Partial, Uncurated]",
          "type": "string"
        },
        "guid": {
          "description": "Asset guid - used to uniquely identify assets in the catalog",
          "type": "string"
        },
        "numberOfViews": {
          "format": "int64",
          "description": "Number of views for the asset",
          "type": "integer"
        },
        "qualifiedName": {
          "description": "Asset FQN[Fully Qualified Name]",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "MostViewedAssets"
    },
    "NetNewAssetsDistributionSnapshotRecord": {
      "description": "Net new assets distribution snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "classification": {
          "description": "Asset Classification",
          "type": "string"
        },
        "classificationCategory": {
          "description": "Classification category",
          "type": "string"
        },
        "collectionName": {
          "description": "Collection to which the asset belongs",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "Asset count",
          "type": "integer"
        },
        "dataOwnerAssigned": {
          "description": "Is data owner assigned",
          "type": "boolean"
        },
        "unclassifiedCount": {
          "format": "int64",
          "description": "Count of unclassified assets",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "NetNewAssetsDistribution"
    },
    "TagsSnapshotRecord": {
      "description": "Tags snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "sourceType": {
          "description": "The data source type.",
          "type": "string"
        },
        "tagType": {
          "description": "The type of tag.",
          "type": "string"
        },
        "group": {
          "description": "The classification group.",
          "type": "string"
        },
        "name": {
          "description": "The tag name.",
          "type": "string"
        },
        "subscriptions": {
          "format": "int32",
          "description": "The number of subscriptions.",
          "type": "integer"
        },
        "sources": {
          "format": "int32",
          "description": "The number of data sources with tags.",
          "type": "integer"
        },
        "files": {
          "format": "int64",
          "description": "The number of files with tags.",
          "type": "integer"
        },
        "tables": {
          "format": "int64",
          "description": "The number of tables with tags.",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "Tags"
    },
    "TopSearchedKeywordsSnapshotRecord": {
      "description": "Top searched keywords snapshot record",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/SnapshotRecord"
        }
      ],
      "properties": {
        "numberOfSearches": {
          "format": "int64",
          "description": "Number of searches for the search term",
          "type": "integer"
        },
        "searchTerm": {
          "description": "Search term",
          "type": "string"
        },
        "searchWithResults": {
          "description": "Search produced results or not",
          "type": "boolean"
        }
      },
      "x-ms-discriminator-value": "TopSearchedKeywords"
    }
  },
  "parameters": {
    "api-version": {
      "in": "query",
      "name": "api-version",
      "description": "The api version to use.",
      "required": true,
      "type": "string",
      "x-ms-client-name": "ApiVersion"
    },
    "Endpoint": {
      "in": "path",
      "name": "Endpoint",
      "description": "The endpoint of your purview account. Example: https://{accountName}.purview.azure.com",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client",
      "x-ms-skip-url-encoding": true
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
