{
  "swagger": "2.0",
  "info": {
    "title": "GraphRbacManagementClient",
    "version": "1.6-internal",
    "description": "The Graph RBAC Management Client"
  },
  "host": "graph.windows.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{tenantID}/getObjectsByObjectIds": {
      "post": {
        "tags": [
          "Objects"
        ],
        "operationId": "Objects_GetObjectsByObjectIds",
        "description": "Gets AD group membership for the specified AD object IDs.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetObjectsParameters"
            },
            "description": "Objects filtering parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetObjectsResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Objects_GetObjectsByObjectIdsNext"
        }
      }
    }
  },
  "x-ms-paths": {
    "/{tenantID}/{nextLink}?Objects_GetObjectsByObjectIdsNext": {
      "post": {
        "tags": [
          "Objects"
        ],
        "operationId": "Objects_GetObjectsByObjectIdsNext",
        "description": "Gets AD group membership for the specified AD object IDs.",
        "parameters": [
          {
            "name": "nextLink",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Next link for the list operation.",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation was successful.",
            "schema": {
              "$ref": "#/definitions/GetObjectsResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Objects_GetObjectsByObjectIdsNext"
        }
      }
    }
  },
  "definitions": {
    "GetObjectsParameters": {
      "properties": {
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The requested object IDs."
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The requested object types."
        },
        "includeDirectoryObjectReferences": {
          "type": "boolean",
          "description": "If true, also searches for object IDs in the partner tenant."
        }
      },
      "required": [
        "includeDirectoryObjectReferences"
      ],
      "description": "Request parameters for the GetObjectsByObjectIds API."
    },
    "AADObject": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "The ID of the object."
        },
        "objectType": {
          "type": "string",
          "description": "The type of AAD object."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the object."
        },
        "userPrincipalName": {
          "type": "string",
          "description": "The principal name of the object."
        },
        "mail": {
          "type": "string",
          "description": "The primary email address of the object."
        },
        "mailEnabled": {
          "type": "boolean",
          "description": "Whether the AAD object is mail-enabled."
        },
        "securityEnabled": {
          "type": "boolean",
          "description": "Whether the AAD object is security-enabled."
        },
        "signInName": {
          "type": "string",
          "description": "The sign-in name of the object."
        },
        "servicePrincipalNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A collection of service principal names associated with the object."
        },
        "userType": {
          "type": "string",
          "description": "The user type of the object."
        }
      },
      "description": "The properties of an Active Directory object."
    },
    "GetObjectsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AADObject"
          },
          "description": "A collection of Active Directory objects."
        },
        "odata.nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "The response to an Active Directory object inquiry API request."
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "tenantIDInPath": {
      "name": "tenantID",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The tenant ID."
    }
  }
}