{
  "swagger": "2.0",
  "info": {
    "title": "GraphRbacManagementClient",
    "version": "1.6-internal",
    "description": "The Graph RBAC Management Client"
  },
  "host": "graph.windows.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{tenantID}/getObjectsByObjectIds": {
      "post": {
        "tags": [
          "Objects"
        ],
        "operationId": "Objects_GetObjectsByObjectIds",
        "description": "Gets AD group membership by provided AD object Ids",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetObjectsParameters"
            },
            "description": "Objects filtering parameters."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetObjectsResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Objects_GetObjectsByObjectIdsNext"
        }
      }
    }
  },
  "x-ms-paths": {
    "/{tenantID}/{nextLink}?Objects_GetObjectsByObjectIdsNext": {
      "post": {
        "tags": [
          "Objects"
        ],
        "operationId": "Objects_GetObjectsByObjectIdsNext",
        "description": "Gets AD group membership by provided AD object Ids",
        "parameters": [
          {
            "name": "nextLink",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Next link for list operation.",
            "x-ms-skip-url-encoding": true
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/tenantIDInPath"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetObjectsResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink",
          "operationName": "Objects_GetObjectsByObjectIdsNext"
        }
      }
    }
  },
  "definitions": {
    "GetObjectsParameters": {
      "properties": {
        "objectIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Requested object Ids"
        },
        "types": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Requested object types"
        },
        "includeDirectoryObjectReferences": {
          "type": "boolean",
          "description": "If true, also searches for object ids in the partner tenant"
        }
      },
      "required": [
        "includeDirectoryObjectReferences"
      ],
      "description": "Request parameters for GetObjectsByObjectIds API call"
    },
    "AADObject": {
      "properties": {
        "objectId": {
          "type": "string",
          "description": "object Id"
        },
        "objectType": {
          "type": "string",
          "description": "object type"
        },
        "displayName": {
          "type": "string",
          "description": "object display name"
        },
        "userPrincipalName": {
          "type": "string",
          "description": "principal name"
        },
        "mail": {
          "type": "string",
          "description": "mail"
        },
        "mailEnabled": {
          "type": "boolean",
          "description": "MailEnabled field"
        },
        "securityEnabled": {
          "type": "boolean",
          "description": "SecurityEnabled field"
        },
        "signInName": {
          "type": "string",
          "description": "signIn name"
        },
        "servicePrincipalNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "the list of service principal names."
        },
        "userType": {
          "type": "string",
          "description": "the user type"
        }
      },
      "description": "Active Directory object information"
    },
    "GetObjectsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AADObject"
          },
          "description": "Collection of Active Directory object"
        },
        "odata.nextLink": {
          "type": "string",
          "description": "the URL to get the next set of results."
        }
      },
      "description": "Server response for Active Directory objects inquiry API calls"
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "tenantIDInPath": {
      "name": "tenantID",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "the tenant Id."
    }
  }
}