{
  "swagger": "2.0",
  "info": {
    "title": "portal",
    "version": "2022-12-01-preview",
    "description": "Allows creation and deletion of Tenant Configurations for Azure Shared Dashboards.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "TenantConfigurations"
    },
    {
      "name": "ListTenantConfigurationViolationsOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Portal/listTenantConfigurationViolations": {
      "post": {
        "operationId": "ListTenantConfigurationViolationsOperations_List",
        "tags": [
          "ListTenantConfigurationViolationsOperations"
        ],
        "description": "Gets list of items that violate tenant's configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedViolation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Portal/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Portal/tenantConfigurations": {
      "get": {
        "operationId": "TenantConfigurations_ListByTenant",
        "tags": [
          "TenantConfigurations"
        ],
        "description": "Gets list of the tenant configurations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TenantConfigurationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get list of Tenant configurations": {
            "$ref": "./examples/TenantConfigurations_ListByTenant.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Portal/tenantConfigurations/{configurationName}": {
      "get": {
        "operationId": "TenantConfigurations_Get",
        "tags": [
          "TenantConfigurations"
        ],
        "description": "Gets the tenant configuration.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name. Value must be 'default'",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "ConfigurationName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The default configuration name"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TenantConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Tenant configuration": {
            "$ref": "./examples/TenantConfigurations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "TenantConfigurations_Create",
        "tags": [
          "TenantConfigurations"
        ],
        "description": "Create the tenant configuration. If configuration already exists - update it. User has to be a Tenant Admin for this operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name. Value must be 'default'",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "ConfigurationName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The default configuration name"
                }
              ]
            }
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The parameters required to create or update tenant configuration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TenantConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TenantConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TenantConfiguration"
            }
          },
          "201": {
            "description": "Resource 'TenantConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/TenantConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update Tenant configuration": {
            "$ref": "./examples/TenantConfigurations_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "TenantConfigurations_Delete",
        "tags": [
          "TenantConfigurations"
        ],
        "description": "Delete the tenant configuration. User has to be a Tenant Admin for this operation.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "configurationName",
            "in": "path",
            "description": "The configuration name. Value must be 'default'",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "ConfigurationName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The default configuration name"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Tenant configuration": {
            "$ref": "./examples/TenantConfigurations_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "PagedViolation": {
      "type": "object",
      "description": "List of list of items that violate tenant's configuration.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Violation items on this page",
          "items": {
            "$ref": "#/definitions/Violation"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "TenantConfiguration": {
      "type": "object",
      "description": "The configuration resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TenantConfigurationPropertiesWithProvisioningState",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "TenantConfigurationListResult": {
      "type": "object",
      "description": "The response of a TenantConfiguration list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The TenantConfiguration items on this page",
          "items": {
            "$ref": "#/definitions/TenantConfiguration"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "TenantConfigurationPropertiesWithProvisioningState": {
      "type": "object",
      "description": "Dashboard Properties with Provisioning state",
      "properties": {
        "enforcePrivateMarkdownStorage": {
          "type": "boolean",
          "description": "When flag is set to true Markdown tile will require external storage configuration (URI). The inline content configuration will be prohibited."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Violation": {
      "type": "object",
      "description": "Violation information.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Id of the item that violates tenant configuration.",
          "readOnly": true
        },
        "userId": {
          "type": "string",
          "description": "Id of the user who owns violated item.",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "Error message.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
