{
  "swagger": "2.0",
  "info": {
    "title": "Chaos Management",
    "description": "Azure Chaos Resource Provider REST API",
    "version": "2021-09-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/experiments": {
      "get": {
        "description": "Get a list of Experiment resources in a subscription.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_ListAll",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/experiments.json#/parameters/runningFilter"
          },
          {
            "$ref": "./types/common.json#/parameters/continuationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Experiment resources returned if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experimentListResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all Experiments in a subscription.": {
            "$ref": "./examples/ListExperimentsInASubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments": {
      "get": {
        "description": "Get a list of Experiment resources in a resource group.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_List",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/runningFilter"
          },
          {
            "$ref": "./types/common.json#/parameters/continuationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Experiment resources returned if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experimentListResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all Experiments in a resource group.": {
            "$ref": "./examples/ListExperimentsInAResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}": {
      "delete": {
        "description": "Delete a Experiment resource.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_Delete",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          }
        ],
        "responses": {
          "200": {
            "description": "Request was successful."
          },
          "204": {
            "description": "Request was successful."
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Experiment in a resource group.": {
            "$ref": "./examples/DeleteAExperiment.json"
          }
        }
      },
      "get": {
        "description": "Get a Experiment resource.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_Get",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment resource returned if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experiment"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Experiment in a resource group.": {
            "$ref": "./examples/GetAExperiment.json"
          }
        }
      },
      "put": {
        "description": "Create or update a Experiment resource.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        },
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          },
          {
            "name": "experiment",
            "description": "Experiment resource to be created or updated.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experiment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Experiment resource returned if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experiment"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create/update a Experiment in a resource group.": {
            "$ref": "./examples/CreateOrUpdateAExperiment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/cancel": {
      "post": {
        "description": "Cancel a running Experiment resource.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_Cancel",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        },
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          }
        ],
        "responses": {
          "202": {
            "description": "Operation result returned if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experimentCancelOperationResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Cancel a running Experiment.": {
            "$ref": "./examples/CancelAExperiment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/start": {
      "post": {
        "description": "Start a Experiment resource.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_Start",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          }
        ],
        "responses": {
          "202": {
            "description": "Operation result returned if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experimentStartOperationResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start a Experiment.": {
            "$ref": "./examples/StartAExperiment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/statuses": {
      "get": {
        "description": "Get a list of statuses of a Experiment resource.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_ListAllStatuses",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          }
        ],
        "responses": {
          "200": {
            "description": "List of statuses returned if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experimentStatusListResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all statuses of a Experiment.": {
            "$ref": "./examples/ListExperimentStatuses.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/statuses/{statusId}": {
      "get": {
        "description": "Get a status of a Experiment resource.",
        "tags": [
          "Experiments"
        ],
        "operationId": "Experiments_GetStatus",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/statusId"
          }
        ],
        "responses": {
          "200": {
            "description": "Status returned if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experimentStatus"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the status of a Experiment.": {
            "$ref": "./examples/GetAExperimentStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/executionDetails": {
      "get": {
        "tags": [
          "Experiments"
        ],
        "description": "Get a list of execution details of a Experiment resource.",
        "operationId": "Experiments_ListExecutionDetails",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          }
        ],
        "responses": {
          "200": {
            "description": "Execution detail if request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experimentExecutionDetailsListResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List experiment executions details": {
            "$ref": "./examples/ListExperimentExecutionsDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Chaos/experiments/{experimentName}/executionDetails/{executionDetailsId}": {
      "get": {
        "tags": [
          "Experiments"
        ],
        "description": "Get an execution detail of a Experiment resource.",
        "operationId": "Experiments_GetExecutionDetails",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/experimentName"
          },
          {
            "$ref": "./types/experiments.json#/parameters/executionDetailsId"
          }
        ],
        "responses": {
          "200": {
            "description": "List of execution details in request was successful.",
            "schema": {
              "$ref": "./types/experiments.json#/definitions/experimentExecutionDetails"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get experiment execution details": {
            "$ref": "./examples/GetAExperimentExecutionDetails.json"
          }
        }
      }
    }
  }
}
