{
  "swagger": "2.0",
  "info": {
    "title": "PostgreSQLManagementClient",
    "description": "The Azure Database for PostgreSQL management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, network configuration, security alert policies, log files and configurations with new business model.",
    "version": "2025-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Microsoft Entra OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}": {
      "get": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningOptions_Get",
        "x-ms-examples": {
          "Get the tuning options of a flexible server.": {
            "$ref": "./examples/Tuning_GetTuningOption.json"
          }
        },
        "description": "Gets the tuning options of a flexible server.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TuningOptionsResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/recommendations": {
      "get": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningIndex_ListRecommendations",
        "x-ms-examples": {
          "List available recommendations produced by index tuning.": {
            "$ref": "./examples/TuningIndex_GetRecommendations.json"
          },
          "List available recommendations produced by index tuning, exclusively those of create index type.": {
            "$ref": "./examples/TuningIndex_GetFilteredRecommendations.json"
          }
        },
        "description": "Lists available recommendations produced by index tuning.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          },
          {
            "$ref": "#/parameters/RecommendationTypeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/IndexRecommendationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/enable": {
      "post": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningConfiguration_Enable",
        "x-ms-examples": {
          "TuningConfiguration_Enable": {
            "$ref": "./examples/TuningConfiguration_Enable.json"
          }
        },
        "description": "Enables the config tuning.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/disable": {
      "post": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningConfiguration_Disable",
        "x-ms-examples": {
          "TuningConfiguration_Disable": {
            "$ref": "./examples/TuningConfiguration_Disable.json"
          }
        },
        "description": "Disables the config tuning.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/startSession": {
      "post": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningConfiguration_StartSession",
        "x-ms-examples": {
          "TuningConfiguration_StartSession": {
            "$ref": "./examples/TuningConfiguration_StartSession.json"
          }
        },
        "description": "Starts up the config tuning session.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          },
          {
            "name": "configTuningRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigTuningRequestParameter"
            },
            "description": "The parameters for tuning request."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/stopSession": {
      "post": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningConfiguration_StopSession",
        "x-ms-examples": {
          "TuningConfiguration_StopSession": {
            "$ref": "./examples/TuningConfiguration_StopSession.json"
          }
        },
        "description": "Stops the config tuning session.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/sessions": {
      "get": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningConfiguration_ListSessions",
        "x-ms-examples": {
          "TuningConfiguration_ListSessions": {
            "$ref": "./examples/TuningConfiguration_ListSessions.json"
          }
        },
        "description": "Gets up the config tuning session status.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SessionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions/{tuningOption}/sessionDetails": {
      "get": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningConfiguration_ListSessionDetails",
        "x-ms-examples": {
          "TuningConfiguration_ListSessionDetails": {
            "$ref": "./examples/TuningConfiguration_ListSessionDetails.json"
          }
        },
        "description": "Gets the session details of a config tuning session.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/TuningOptionParameter"
          },
          {
            "$ref": "#/parameters/SessionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SessionDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{serverName}/tuningOptions": {
      "get": {
        "tags": [
          "TuningOptions"
        ],
        "operationId": "TuningOptions_ListByServer",
        "x-ms-examples": {
          "List the tuning options of a flexible server.": {
            "$ref": "./examples/Tuning_ListTuningOptions.json"
          }
        },
        "description": "Lists the tuning options of a flexible server.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../types/common-types.json#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TuningOptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ImpactRecord": {
      "type": "object",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Dimension name."
        },
        "unit": {
          "type": "string",
          "description": "Dimension unit."
        },
        "queryId": {
          "type": "integer",
          "format": "int64",
          "description": "Optional property that can be used to store the identifier of the query, if the metric is for a specific query."
        },
        "absoluteValue": {
          "type": "number",
          "format": "double",
          "description": "Absolute value."
        }
      },
      "description": "Impact on some metric if this recommended action is applied."
    },
    "IndexRecommendationDetails": {
      "type": "object",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "Database name."
        },
        "schema": {
          "type": "string",
          "description": "Schema name."
        },
        "table": {
          "type": "string",
          "description": "Table name."
        },
        "indexType": {
          "type": "string",
          "description": "Index type."
        },
        "indexName": {
          "type": "string",
          "description": "Index name."
        },
        "indexColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Index columns."
        },
        "includedColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Index included columns."
        }
      },
      "description": "Recommendation details for the recommended action.",
      "readOnly": true
    },
    "IndexRecommendationResourceProperties": {
      "type": "object",
      "properties": {
        "initialRecommendedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Creation time (UTC) of this recommendation."
        },
        "lastRecommendedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last time (UTC) that this recommendation was produced."
        },
        "timesRecommended": {
          "format": "int32",
          "type": "integer",
          "description": "Number of times this recommendation has been produced."
        },
        "improvedQueryIds": {
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int64"
          },
          "description": "List of identifiers for all queries identified as targets for improvement if the recommendation is applied. The list is only populated for CREATE INDEX recommendations."
        },
        "recommendationReason": {
          "type": "string",
          "description": "Reason for this recommendation."
        },
        "recommendationType": {
          "type": "string",
          "enum": [
            "CreateIndex",
            "DropIndex",
            "ReIndex"
          ],
          "x-ms-enum": {
            "name": "RecommendationTypeEnum",
            "modelAsString": true
          },
          "description": "Type for this recommendation."
        },
        "implementationDetails": {
          "type": "object",
          "properties": {
            "method": {
              "type": "string",
              "description": "Method of implementation for recommended action."
            },
            "script": {
              "type": "string",
              "description": "Implementation script for the recommended action."
            }
          },
          "description": "Implementation details for the recommended action."
        },
        "analyzedWorkload": {
          "type": "object",
          "properties": {
            "startTime": {
              "type": "string",
              "format": "date-time",
              "description": "Start time (UTC) of the workload analyzed."
            },
            "endTime": {
              "type": "string",
              "format": "date-time",
              "description": "End time (UTC) of the workload analyzed."
            },
            "queryCount": {
              "format": "int32",
              "type": "integer",
              "description": "Number of queries from the workload that were examined to produce this recommendation. For DROP INDEX recommendations it's 0 (zero)."
            }
          },
          "description": "Workload information for the recommended action."
        },
        "estimatedImpact": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImpactRecord"
          },
          "x-ms-identifiers": [
            "dimensionName"
          ],
          "readOnly": true,
          "description": "Estimated impact of this recommended action."
        },
        "details": {
          "$ref": "#/definitions/IndexRecommendationDetails",
          "description": "Recommendation details for the recommended action."
        }
      },
      "description": "Index recommendation properties.",
      "readOnly": true
    },
    "IndexRecommendationResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IndexRecommendationResourceProperties",
          "x-ms-client-flatten": true,
          "description": "Properties of IndexRecommendationResource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Index recommendation properties."
    },
    "IndexRecommendationListResult": {
      "description": "List of available index recommendations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of available index recommendations.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/IndexRecommendationResource"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "description": "Link used to get the next page of results.",
          "type": "string"
        }
      }
    },
    "TuningOptionsResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Impact on some metric if this recommended action is applied."
    },
    "TuningOptionsListResult": {
      "description": "List of server tuning options.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of available tuning options.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/TuningOptionsResource"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "description": "Link used to get the next page of results.",
          "type": "string"
        }
      }
    },
    "SessionResource": {
      "type": "object",
      "properties": {
        "sessionStartTime": {
          "type": "string",
          "description": "Start time of the tuning session."
        },
        "sessionId": {
          "type": "string",
          "description": "Identifier of the tuning session."
        },
        "status": {
          "type": "string",
          "description": "Status of the tuning session."
        },
        "preTuningAqr": {
          "type": "string",
          "description": "Average query runtime before tuning starts."
        },
        "postTuningAqr": {
          "type": "string",
          "description": "Average query runtime after tuning completes."
        },
        "preTuningTps": {
          "type": "string",
          "description": "Transactions per second before tuning starts."
        },
        "postTuningTps": {
          "type": "string",
          "description": "Transactions per second after tuning completes."
        }
      },
      "description": "Session resource properties."
    },
    "SessionsListResult": {
      "description": "List of tuning configuration sessions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of tuning configuration sessions.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SessionResource"
          },
          "x-ms-identifiers": [
            "sessionId"
          ]
        },
        "nextLink": {
          "description": "Link used to get the next page of results.",
          "type": "string"
        }
      }
    },
    "SessionDetailsResource": {
      "type": "object",
      "properties": {
        "iterationId": {
          "type": "string",
          "description": "Iteration id."
        },
        "sessionId": {
          "type": "string",
          "description": "Session id."
        },
        "appliedConfiguration": {
          "type": "string",
          "description": "Applied configuration for the iteration."
        },
        "iterationStartTime": {
          "type": "string",
          "description": "Iteration start time."
        },
        "averageQueryRuntimeMs": {
          "type": "string",
          "description": "The aqr for the iteration."
        },
        "transactionsPerSecond": {
          "type": "string",
          "description": "The tps for the iteration."
        }
      },
      "description": "Session details properties."
    },
    "SessionDetailsListResult": {
      "description": "A list of tuning configuration sessions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of details of the session.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SessionDetailsResource"
          },
          "x-ms-identifiers": [
            "iterationId"
          ]
        },
        "nextLink": {
          "description": "Link used to get the next page of results.",
          "type": "string"
        }
      }
    },
    "ConfigTuningRequestParameter": {
      "type": "object",
      "properties": {
        "serverName": {
          "type": "string",
          "description": "The name of server."
        },
        "allowServerRestarts": {
          "type": "boolean",
          "description": "Indicates whether PG should be restarted during a tuning session."
        },
        "targetImprovementMetric": {
          "type": "string",
          "description": "The target metric the tuning session is trying to improve."
        },
        "configTuningUsageMode": {
          "type": "boolean",
          "description": "The mode with which the feature will be enabled."
        }
      },
      "description": "Config tuning request parameters."
    }
  },
  "parameters": {
    "TuningOptionParameter": {
      "name": "tuningOption",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "index",
        "configuration"
      ],
      "description": "Name of the tuning option.",
      "x-ms-enum": {
        "name": "TuningOptionEnum",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method"
    },
    "RecommendationTypeParameter": {
      "name": "recommendationType",
      "in": "query",
      "required": false,
      "type": "string",
      "enum": [
        "CreateIndex",
        "DropIndex"
      ],
      "description": "Recommendations list filter. Retrieves recommendations based on type.",
      "x-ms-enum": {
        "name": "RecommendationType",
        "modelAsString": true
      },
      "x-ms-parameter-location": "method"
    },
    "SessionIdParameter": {
      "name": "sessionId",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Guid of the objectId for the session.",
      "x-ms-parameter-location": "method"
    }
  }
}
