{
  "swagger": "2.0",
  "info": {
    "version": "2019-09-26-preview",
    "title": "Doinc",
    "description": "Microsoft Delivery Optimization In network cache REST API version 2019-09-26-preview.",
    "x-ms-code-generation-settings": {
      "name": "DeliveryOptimizationInNetworkCache"
    }
  },
  "host": "management.azure.com",
  "schemes": [ "https" ],
  "consumes": [ "application/json" ],
  "produces": [ "application/json" ],
  "security": [
    {
      "azure_auth": [ "user_impersonation" ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Doinc/operations": {
      "get": {
        "tags": [ "Operations" ],
        "operationId": "Operations_List",
        "description": "Retrieves a list of available API operations",
        "summary": "Retrieves a list of available API operations under this Resource Provider.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of operations under Microsoft.Doinc resource provider.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Doinc does not exist.)",
            "schema": {
              "$ref": "#/definitions/DoincErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DoincGet": {
            "$ref": "./examples/OperationGroupGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      },
      "delete": {
        "tags": [ "Doinc" ],
        "summary": "Deletes a Transparent cache Node resource.",
        "description": "Deletes an existing Transparent Cache Node.",
        "operationId": "Operations_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the Transparent Cache Node is deleted."
          },
          "204": {
            "description": "The request was successful; Transparent Cache Node does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 409 - Conflict" 
          },
          "x-ms-examples": {
          }
        }
      },
      "patch": {
      "tags": [
        "Doinc"
      ],
      "summary": "updates an existing Transparent Cache Node resource",
      "description": "updates an existing Transparent Cache Node.",
      "operationId": "Operations_Patch",
      "parameters": [
      ],
      "responses": {
        "200": {
          "description": "The request was successful; response contains the updated Transparent Cache node.",
          "schema": {
            "$ref": "#/definitions/Doinc"
          }
        },
        "201": {
          "description": "The request was successful; response contains the updated Transparent Cache node.",
          "schema": {
            "$ref": "#/definitions/Doinc"
          }
        },
        "default": {
          "description": "Error response describing the reason for operation failure. 404 - NotFound (Transparent Cache Node does not exist.)",
          "schema": {
            "$ref": "#/definitions/DoincErrorResponse"
          }
        }
      }
    }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Doinc/accounts/{accountName}": {
      "get": {
        "tags": [
          "Doinc"
        ],
        "summary": "Retrieves information about a Doinc resource.",
        "description": "Retrieves the properties of a Doinc.",
        "operationId": "Account_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AcctNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Doinc",
            "schema": {
              "$ref": "#/definitions/Doinc"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Doinc does not exist.)",
            "schema": {
              "$ref": "#/definitions/DoincErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DoincGet": {
            "$ref": "./examples/DoincGet_example.json"
          }
        }
      },
      "put": {
        "tags": [
          "Doinc"
        ],
        "summary": "Creates a Doinc resource.",
        "description": "Creates a Doinc with the specified create parameters.",
        "operationId": "Account_Create",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AcctNameParameter"
          },
          {
            "name": "Doinc",
            "in": "body",
            "description": "Doinc create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Doinc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Doinc",
            "schema": {
              "$ref": "#/definitions/Doinc"
            }
          },
           "201": {
              "description": "The request was successful; response contains the updated Transparent Cache node.",
              "schema": {
                "$ref": "#/definitions/Doinc"
              }
            },
            "default": {
              "description": "Error response describing the reason for operation failure. 404 - NotFound (Doinc could not be created/updated)",
              "schema": {
                "$ref": "#/definitions/DoincErrorResponse"
              }
            }
          },
          "x-ms-examples": {
            "DoincCreate": null
          }
        }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Doinc/accounts/": {
      "get": {
        "tags": [
          "Doinc"
        ],
        "summary": "Retrieves information about all Doinc resources under the given subscription and resource group",
        "description": "Retrieves the properties of all Doinc.",
        "operationId": "Account_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Doinc",
            "schema": {
              "$ref": "#/definitions/DoincList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Doinc does not exist.)",
            "schema": {
              "$ref": "#/definitions/DoincErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DoincGet": {
            "$ref": "./examples/DoincListGet_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Doinc/accounts/": {
      "get": {
        "tags": [
          "Doinc"
        ],
        "summary": "Retrieves information about all Doinc resources under the given subscription",
        "description": "Retrieves the properties of all Doincs.",
        "operationId": "Account_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of Doinc resources",
            "schema": {
              "$ref": "#/definitions/DoincList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Doinc does not exist.)",
            "schema": {
              "$ref": "#/definitions/DoincErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }        
        }
      }
  },
  "definitions": {    
    "DoincErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Fully qualified resource Id for the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "Tags for the Doinc",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "location": {
          "description": "Region where the Azure resource is located.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "x-ms-azure-resource": true
    },
    "Doinc": {
      "type": "object",
      "description": "Doinc Resource. Represents the high level account needed to provision CacheNode resources.",
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Additional Doinc properties.",
          "title": "Doinc Additional properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CacheNode"
        }
      }
    },  
    "CacheNode": {
      "type": "object",
      "description": "Model representing Cache Node for Doinc resource",
      "required": ["name"],
      "properties": {
        "name": {
          "description": "The name of the Cache Node for Doinc resource",         
          "type": "string"
        }
        }
    },
    "ResourceProviderOperationList": {
      "description": "List containing this Resource Provider's available operations.",
      "properties": {
        "value": {
          "description": "Resource provider operations list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperationDefinition"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next page for list of Azure operations.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceProviderOperationDefinition": {
      "description": "Describes the Resource Provider Operation.",
      "properties": {
        "name": {
          "description": "Resource provider operation name.",
          "type": "string"
        },
        "display": {
          "description": "Resource provider display properties.",
          "$ref": "#/definitions/ResourceProviderOperationDisplay"
        }
      }
    },
    "ResourceProviderOperationDisplay": {
      "description": "Describes the properties of the Operation.",
      "properties": {
        "provider": {
          "description": "Name of the resource provider.",
          "type": "string"
        },
        "resource": {
          "description": "Name of the resource type.",
          "type": "string"
        },
        "operation": {
          "description": "Name of the resource provider operation.",
          "type": "string"
        },
        "description": {
          "description": "Description of the resource provider operation.",
          "type": "string"
        }
      }
    },
    "DoincList": {
      "description": "Object that includes an array of MDoinc and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Doinc resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Doinc"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "maxLength": 90,
      "minLength": 1,
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "AcctNameParameter": {
      "name": "accountName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the Doinc",
      "pattern": "^[a-zA-Z0-9]",
      "x-ms-parameter-location": "method"
    }
  }
}
