{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "version": "2024-05-01-preview",
    "description": "Mobile Network Management API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AttachedDataNetworks"
    },
    {
      "name": "PacketCoreDataPlanes"
    },
    {
      "name": "PacketCoreControlPlanes"
    },
    {
      "name": "AttachedWifiSsids"
    },
    {
      "name": "DataNetworks"
    },
    {
      "name": "MobileNetworks"
    },
    {
      "name": "DiagnosticsPackages"
    },
    {
      "name": "EdgeNetworkSecurityGroups"
    },
    {
      "name": "EdgeVirtualNetworks"
    },
    {
      "name": "PacketCaptures"
    },
    {
      "name": "RoutingInfoModels"
    },
    {
      "name": "PacketCoreControlPlaneVersions"
    },
    {
      "name": "PacketCoreControlPlaneVersionsTenantResource"
    },
    {
      "name": "RadioAccessNetworks"
    },
    {
      "name": "Services"
    },
    {
      "name": "Sims"
    },
    {
      "name": "SimGroups"
    },
    {
      "name": "SimPolicies"
    },
    {
      "name": "Sites"
    },
    {
      "name": "Slices"
    },
    {
      "name": "ExtendedUeInfos"
    },
    {
      "name": "Ues"
    },
    {
      "name": "WifiSsids"
    },
    {
      "name": "AmfDeployments"
    },
    {
      "name": "ClusterServices"
    },
    {
      "name": "NssfDeployments"
    },
    {
      "name": "NrfDeployments"
    },
    {
      "name": "ObservabilityServices"
    },
    {
      "name": "SmfDeployments"
    },
    {
      "name": "UpfDeployments"
    }
  ],
  "paths": {
    "/providers/Microsoft.MobileNetwork/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Registration Operations": {
            "$ref": "./examples/OperationList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.MobileNetwork/packetCoreControlPlaneVersions": {
      "get": {
        "operationId": "PacketCoreControlPlaneVersionsTenantResource_ListByTenant",
        "tags": [
          "PacketCoreControlPlaneVersionsTenantResource"
        ],
        "description": "Lists all supported packet core control planes versions.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get supported packet core control plane versions": {
            "$ref": "./examples/PacketCoreControlPlaneVersionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.MobileNetwork/packetCoreControlPlaneVersions/{versionName}": {
      "get": {
        "operationId": "PacketCoreControlPlaneVersionsTenantResource_Get",
        "tags": [
          "PacketCoreControlPlaneVersionsTenantResource"
        ],
        "description": "Gets information about the specified packet core control plane version.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "The name of the packet core control plane version.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packet core control plane version": {
            "$ref": "./examples/PacketCoreControlPlaneVersionGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/amfDeployments": {
      "get": {
        "operationId": "AmfDeployments_ListBySubscription",
        "tags": [
          "AmfDeployments"
        ],
        "description": "List all Access and Mobility Function Deployments by Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AmfDeploymentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AmfDeployments_ListBySubscription": {
            "$ref": "./examples/AmfDeployment_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/clusterServices": {
      "get": {
        "operationId": "ClusterServices_ListBySubscription",
        "tags": [
          "ClusterServices"
        ],
        "description": "List all Cluster Services by Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterServices_ListBySubscription": {
            "$ref": "./examples/ClusterService_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/mobileNetworks": {
      "get": {
        "operationId": "MobileNetworks_ListBySubscription",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Lists all the mobile networks in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MobileNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile networks in a subscription": {
            "$ref": "./examples/MobileNetworkListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/nrfDeployments": {
      "get": {
        "operationId": "NrfDeployments_ListBySubscription",
        "tags": [
          "NrfDeployments"
        ],
        "description": "List all Network Repository Function Deployments by Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NrfDeploymentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NrfDeployments_ListBySubscription": {
            "$ref": "./examples/NrfDeployment_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/nssfDeployments": {
      "get": {
        "operationId": "NssfDeployments_ListBySubscription",
        "tags": [
          "NssfDeployments"
        ],
        "description": "List all Network Slice Selection Function Deployments by Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NssfDeploymentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NssfDeployments_ListBySubscription": {
            "$ref": "./examples/NssfDeployment_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/observabilityServices": {
      "get": {
        "operationId": "ObservabilityServices_ListBySubscription",
        "tags": [
          "ObservabilityServices"
        ],
        "description": "List all Observability Services by Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ObservabilityServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ObservabilityServices_ListBySubscription": {
            "$ref": "./examples/ObservabilityService_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/packetCoreControlPlaneVersions": {
      "get": {
        "operationId": "PacketCoreControlPlaneVersions_ListBySubscription",
        "tags": [
          "PacketCoreControlPlaneVersions"
        ],
        "description": "Lists all supported packet core control planes versions.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneVersionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get supported packet core control plane versions by subscription": {
            "$ref": "./examples/PacketCoreControlPlaneVersionListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/packetCoreControlPlaneVersions/{versionName}": {
      "get": {
        "operationId": "PacketCoreControlPlaneVersions_GetBySubscription",
        "tags": [
          "PacketCoreControlPlaneVersions"
        ],
        "description": "Gets information about the specified packet core control plane version.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "versionName",
            "in": "path",
            "description": "The name of the packet core control plane version.",
            "required": true,
            "type": "string",
            "pattern": ".*"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packet core control plane version by subscription": {
            "$ref": "./examples/PacketCoreControlPlaneVersionGetBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes": {
      "get": {
        "operationId": "PacketCoreControlPlanes_ListBySubscription",
        "tags": [
          "PacketCoreControlPlanes"
        ],
        "description": "Lists all the packet core control planes in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PacketCoreControlPlaneListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet core control planes in a subscription": {
            "$ref": "./examples/PacketCoreControlPlaneListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/radioAccessNetworks": {
      "get": {
        "operationId": "RadioAccessNetworks_ListBySubscription",
        "tags": [
          "RadioAccessNetworks"
        ],
        "description": "Gets all the radio access networks in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RadioAccessNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List radio access networks in a subscription": {
            "$ref": "./examples/RadioAccessNetworkListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/simGroups": {
      "get": {
        "operationId": "SimGroups_ListBySubscription",
        "tags": [
          "SimGroups"
        ],
        "description": "Gets all the SIM groups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SimGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SIM groups in a subscription": {
            "$ref": "./examples/SimGroupListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/smfDeployments": {
      "get": {
        "operationId": "SmfDeployments_ListBySubscription",
        "tags": [
          "SmfDeployments"
        ],
        "description": "List all Session Management Function Deployments by Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SmfDeploymentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SmfDeployments_ListBySubscription": {
            "$ref": "./examples/SmfDeployment_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MobileNetwork/upfDeployments": {
      "get": {
        "operationId": "UpfDeployments_ListBySubscription",
        "tags": [
          "UpfDeployments"
        ],
        "description": "List all User Plane Function Deployments by Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UpfDeploymentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpfDeployments_ListBySubscription": {
            "$ref": "./examples/UpfDeployment_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/amfDeployments": {
      "get": {
        "operationId": "AmfDeployments_ListByResourceGroup",
        "tags": [
          "AmfDeployments"
        ],
        "description": "List all Access and Mobility Function Deployments by Resource Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AmfDeploymentResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AmfDeployments_ListByResourceGroup": {
            "$ref": "./examples/AmfDeployment_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/amfDeployments/{amfDeploymentName}": {
      "get": {
        "operationId": "AmfDeployments_Get",
        "tags": [
          "AmfDeployments"
        ],
        "description": "Get a AmfDeploymentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "amfDeploymentName",
            "in": "path",
            "description": "The name of the AMF Deployment",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AmfDeploymentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AmfDeployments_Get": {
            "$ref": "./examples/AmfDeployment_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AmfDeployments_CreateOrUpdate",
        "tags": [
          "AmfDeployments"
        ],
        "description": "Create a AmfDeploymentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "amfDeploymentName",
            "in": "path",
            "description": "The name of the AMF Deployment",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmfDeploymentResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM resource update successful",
            "schema": {
              "$ref": "#/definitions/AmfDeploymentResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AmfDeploymentResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AmfDeployments_CreateOrUpdate": {
            "$ref": "./examples/AmfDeployment_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AmfDeployments_UpdateTags",
        "tags": [
          "AmfDeployments"
        ],
        "description": "Update a AmfDeploymentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "amfDeploymentName",
            "in": "path",
            "description": "The name of the AMF Deployment",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmfDeploymentResourceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AmfDeploymentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AmfDeployments_UpdateTags": {
            "$ref": "./examples/AmfDeployment_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "AmfDeployments_Delete",
        "tags": [
          "AmfDeployments"
        ],
        "description": "Delete a AmfDeploymentResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "amfDeploymentName",
            "in": "path",
            "description": "The name of the AMF Deployment",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AmfDeployments_Delete": {
            "$ref": "./examples/AmfDeployment_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/clusterServices": {
      "get": {
        "operationId": "ClusterServices_ListByResourceGroup",
        "tags": [
          "ClusterServices"
        ],
        "description": "List all Cluster Services by Resource Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterServiceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterServices_ListByResourceGroup": {
            "$ref": "./examples/ClusterService_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/clusterServices/{clusterServiceName}": {
      "get": {
        "operationId": "ClusterServices_Get",
        "tags": [
          "ClusterServices"
        ],
        "description": "Get a ClusterServiceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterServiceName",
            "in": "path",
            "description": "The name of the Cluster Service",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterServices_Get": {
            "$ref": "./examples/ClusterService_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ClusterServices_CreateOrUpdate",
        "tags": [
          "ClusterServices"
        ],
        "description": "Create a ClusterServiceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterServiceName",
            "in": "path",
            "description": "The name of the Cluster Service",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM resource update successful",
            "schema": {
              "$ref": "#/definitions/ClusterServiceResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterServiceResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterServices_CreateOrUpdate": {
            "$ref": "./examples/ClusterService_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ClusterServices_UpdateTags",
        "tags": [
          "ClusterServices"
        ],
        "description": "Update a ClusterServiceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterServiceName",
            "in": "path",
            "description": "The name of the Cluster Service",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterServiceResourceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterServiceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterServices_UpdateTags": {
            "$ref": "./examples/ClusterService_UpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "ClusterServices_Delete",
        "tags": [
          "ClusterServices"
        ],
        "description": "Delete a ClusterServiceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterServiceName",
            "in": "path",
            "description": "The name of the Cluster Service",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-]+[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ClusterServices_Delete": {
            "$ref": "./examples/ClusterService_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks": {
      "get": {
        "operationId": "MobileNetworks_ListByResourceGroup",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Lists all the mobile networks in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MobileNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List mobile networks in resource group": {
            "$ref": "./examples/MobileNetworkListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}": {
      "get": {
        "operationId": "MobileNetworks_Get",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Gets information about the specified mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get mobile network": {
            "$ref": "./examples/MobileNetworkGet.json"
          }
        }
      },
      "put": {
        "operationId": "MobileNetworks_CreateOrUpdate",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Creates or updates a mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters supplied to the create or update mobile network operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MobileNetwork' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            }
          },
          "201": {
            "description": "Resource 'MobileNetwork' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create mobile network": {
            "$ref": "./examples/MobileNetworkCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MobileNetworks_UpdateTags",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Updates mobile network tags and managed identity.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Parameters supplied to update mobile network tags and/or identity.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityAndTagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MobileNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update mobile network tags": {
            "$ref": "./examples/MobileNetworkUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "MobileNetworks_Delete",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Deletes the specified mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete mobile network": {
            "$ref": "./examples/MobileNetworkDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/dataNetworks": {
      "get": {
        "operationId": "DataNetworks_ListByMobileNetwork",
        "tags": [
          "DataNetworks"
        ],
        "description": "Lists all data networks in the mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List data networks in a mobile network": {
            "$ref": "./examples/DataNetworkListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/dataNetworks/{dataNetworkName}": {
      "get": {
        "operationId": "DataNetworks_Get",
        "tags": [
          "DataNetworks"
        ],
        "description": "Gets information about the specified data network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "description": "The name of the data network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get data network": {
            "$ref": "./examples/DataNetworkGet.json"
          }
        }
      },
      "put": {
        "operationId": "DataNetworks_CreateOrUpdate",
        "tags": [
          "DataNetworks"
        ],
        "description": "Creates or updates a data network. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "description": "The name of the data network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters supplied to the create or update data network operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataNetwork' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          },
          "201": {
            "description": "Resource 'DataNetwork' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create data network": {
            "$ref": "./examples/DataNetworkCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DataNetworks_UpdateTags",
        "tags": [
          "DataNetworks"
        ],
        "description": "Updates data network tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "description": "The name of the data network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Parameters supplied to update data network tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update data network tags": {
            "$ref": "./examples/DataNetworkUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "DataNetworks_Delete",
        "tags": [
          "DataNetworks"
        ],
        "description": "Deletes the specified data network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "description": "The name of the data network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete data network": {
            "$ref": "./examples/DataNetworkDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/edgeNetworkSecurityGroups": {
      "get": {
        "operationId": "EdgeNetworkSecurityGroups_ListByMobileNetwork",
        "tags": [
          "EdgeNetworkSecurityGroups"
        ],
        "description": "Lists all Edge Network Security Groups in the mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeNetworkSecurityGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Edge Network Security Groups in a mobile network": {
            "$ref": "./examples/EdgeNetworkSecurityGroupListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/edgeNetworkSecurityGroups/{edgeNetworkSecurityGroupName}": {
      "get": {
        "operationId": "EdgeNetworkSecurityGroups_Get",
        "tags": [
          "EdgeNetworkSecurityGroups"
        ],
        "description": "Gets information about the specified Edge Network Security Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "edgeNetworkSecurityGroupName",
            "in": "path",
            "description": "The name of the Edge Network Security Group.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeNetworkSecurityGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Edge Network Security Group": {
            "$ref": "./examples/EdgeNetworkSecurityGroupsGet.json"
          }
        }
      },
      "put": {
        "operationId": "EdgeNetworkSecurityGroups_CreateOrUpdate",
        "tags": [
          "EdgeNetworkSecurityGroups"
        ],
        "description": "Creates or updates a Edge Network Security Group. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "edgeNetworkSecurityGroupName",
            "in": "path",
            "description": "The name of the Edge Network Security Group.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters supplied to the create or update Edge Network Security Group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EdgeNetworkSecurityGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EdgeNetworkSecurityGroup' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeNetworkSecurityGroup"
            }
          },
          "201": {
            "description": "Resource 'EdgeNetworkSecurityGroup' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EdgeNetworkSecurityGroup"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Edge Network Security Group": {
            "$ref": "./examples/EdgeNetworkSecurityGroupCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EdgeNetworkSecurityGroups_Update",
        "tags": [
          "EdgeNetworkSecurityGroups"
        ],
        "description": "Updates Edge Network Security Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "edgeNetworkSecurityGroupName",
            "in": "path",
            "description": "The name of the Edge Network Security Group.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Parameters supplied to update Edge Network Security Group tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EdgeNetworkSecurityGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Edge Network Security Group": {
            "$ref": "./examples/EdgeNetworkSecurityGroupUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "EdgeNetworkSecurityGroups_Delete",
        "tags": [
          "EdgeNetworkSecurityGroups"
        ],
        "description": "Deletes the specified Edge Network Security Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "edgeNetworkSecurityGroupName",
            "in": "path",
            "description": "The name of the Edge Network Security Group.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Edge Network Security Group": {
            "$ref": "./examples/EdgeNetworkSecurityGroupsDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/listSimGroups": {
      "post": {
        "operationId": "MobileNetworks_ListSimGroups",
        "tags": [
          "MobileNetworks"
        ],
        "description": "Gets all the SIM groups assigned to a mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SimGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SIM groups in a mobile network": {
            "$ref": "./examples/SimGroupListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/services": {
      "get": {
        "operationId": "Services_ListByMobileNetwork",
        "tags": [
          "Services"
        ],
        "description": "Gets all the services in a mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List services in a mobile network": {
            "$ref": "./examples/ServiceListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/services/{serviceName}": {
      "get": {
        "operationId": "Services_Get",
        "tags": [
          "Services"
        ],
        "description": "Gets information about the specified service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get service": {
            "$ref": "./examples/ServiceGet.json"
          }
        }
      },
      "put": {
        "operationId": "Services_CreateOrUpdate",
        "tags": [
          "Services"
        ],
        "description": "Creates or updates a service. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters supplied to the create or update service operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Service"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Service' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          },
          "201": {
            "description": "Resource 'Service' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Service"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create service": {
            "$ref": "./examples/ServiceCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Services_UpdateTags",
        "tags": [
          "Services"
        ],
        "description": "Updates service tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "Parameters supplied to update service tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Service"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update service tags": {
            "$ref": "./examples/ServiceUpdateTags.json"
          }
        }
      },
      "delete": {
        "operationId": "Services_Delete",
        "tags": [
          "Services"
        ],
        "description": "Deletes the specified service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete service": {
            "$ref": "./examples/ServiceDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/simPolicies": {
      "get": {
        "operationId": "SimPolicies_ListByMobileNetwork",
        "tags": [
          "SimPolicies"
        ],
        "description": "Gets all the SIM policies in a mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SimPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List SIM policies in a mobile network": {
            "$ref": "./examples/SimPolicyListByMobileNetwork.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/mobileNetworks/{mobileNetworkName}/simPolicies/{simPolicyName}": {
      "get": {
        "operationId": "SimPolicies_Get",
        "tags": [
          "SimPolicies"
        ],
        "description": "Gets information about the specified SIM policy.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "description": "The name of the SIM policy.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SIM policy": {
            "$ref": "./examples/SimPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "SimPolicies_CreateOrUpdate",
        "tags": [
          "SimPolicies"
        ],
        "description": "Creates or updates a SIM policy. Must be created in the same location as its parent mobile network.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "description": "The name of the SIM policy.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters supplied to the create or update SIM policy operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SimPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            }
          },
          "201": {
            "description": "Resource 'SimPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SimPolicy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SIM policy": {
            "$ref": "./examples/SimPolicyCreate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SimPolicies_UpdateTags",
        "tags": [
          "SimPolicies"
        ],
        "description": "Updates SIM policy tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mobileNetworkName",
            "in": "path",
            "description": "The name of the mobile network.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "simPolicyName",
            "in": "path",
            "description": "The name of the SIM policy.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
          },
          {
            "name": "properties",
            "in": "body",
[...]
