{
  "swagger": "2.0",
  "info": {
    "version": "2021-06-01",
    "title": "marketplacecatalog",
    "description": "Public API to browse Marketplace offers",
    "x-ms-code-generation-settings": {
      "name": "marketplacecatalogClient"
    }
  },
  "host": "catalogapi.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/offers/{id}": {
      "get": {
        "tags": [
          "Public-Offers-Single"
        ],
        "operationId": "SinglePublicOffer_Get",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "default": "2021-06-01",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "default": "US",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "includeStopSoldPlans",
            "in": "query",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a single public or preview offer",
            "schema": {
              "$ref": "#/definitions/CatalogItem"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "In case offer does not exist",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "tags": [
          "Public-Offers-Single"
        ],
        "operationId": "SinglePublicOffer_Get2",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "default": "2021-06-01",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "market",
            "in": "query",
            "default": "US",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "includeStopSoldPlans",
            "in": "query",
            "default": false,
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a single public or preview offer",
            "schema": {
              "$ref": "#/definitions/CatalogItem"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "In case offer does not exist",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/offers": {
      "get": {
        "tags": [
          "Public-Offers-Listing"
        ],
        "operationId": "PublicOffers_Get",
        "parameters": [
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "default": "2021-06-01",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of public or preview offers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CatalogItem"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "In case request malformed",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "In case offer does not exist.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Public-Offers-Listing"
        ],
        "operationId": "PublicOffers_Get2",
        "parameters": [
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "default": "2021-06-01",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "language",
            "in": "query",
            "default": "en",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "hideKeys",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of public or preview offers",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CatalogItem"
              }
            }
          },
          "400": {
            "x-nullable": false,
            "description": "In case request malformed",
            "schema": {
              "type": "string"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "In case offer does not exist.",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CatalogItem": {
      "allOf": [
        {
          "$ref": "#/definitions/GalleryItemEntity"
        },
        {
          "type": "object",
          "properties": {
            "searchScore": {
              "type": "number",
              "format": "double"
            }
          }
        }
      ]
    },
    "GalleryItemEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/ResourceEntity"
        },
        {
          "type": "object",
          "required": [
            "language",
            "hasStandardContractAmendments",
            "offerId",
            "legacyId",
            "standardContractAmendmentsRevisionId",
            "offerType",
            "isPrivate",
            "isPreview",
            "isStopSell",
            "fulfillBeforeChargeEligible",
            "bigId",
            "legalTermsType",
            "isDeleted",
            "isThirdParty",
            "popularity",
            "hasFreeTrials",
            "isByol",
            "isMacc",
            "hasFreePlans",
            "isQuantifiable",
            "hasPaygPlans",
            "isReseller",
            "isExcludedFromSearch",
            "offerEnvironment",
            "excludeFromBootstrap",
            "disableSendEmailOnPurchase",
            "hideFromSaasBlade",
            "integratedWithMicrosoftGraphApi"
          ],
          "properties": {
            "language": {
              "type": "string"
            },
            "displayName": {
              "type": "string"
            },
            "hasStandardContractAmendments": {
              "type": "boolean"
            },
            "publisherMpnId": {
              "type": "string"
            },
            "sellerId": {
              "type": "string"
            },
            "publisherId": {
              "type": "string"
            },
            "partnerCenterId": {
              "type": "string"
            },
            "publisherDisplayName": {
              "type": "string"
            },
            "offerId": {
              "type": "string"
            },
            "legacyId": {
              "type": "string"
            },
            "determinedStorefronts": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Store"
              }
            },
            "standardContractAmendmentsRevisionId": {
              "type": "string",
              "format": "guid"
            },
            "summary": {
              "type": "string"
            },
            "longSummary": {
              "type": "string"
            },
            "description": {
              "type": "string"
            },
            "offerType": {
              "$ref": "#/definitions/OfferType"
            },
            "isPrivate": {
              "type": "boolean"
            },
            "isPreview": {
              "type": "boolean"
            },
            "isStopSell": {
              "type": "boolean"
            },
            "fulfillBeforeChargeEligible": {
              "type": "boolean"
            },
            "marketingMaterial": {
              "$ref": "#/definitions/MarketingMaterial"
            },
            "markets": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "isvContactDetails": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "bigId": {
              "type": "string"
            },
            "ocpSolutionId": {
              "type": "string"
            },
            "legalTermsUri": {
              "type": "string"
            },
            "cspLegalTermsUri": {
              "type": "string"
            },
            "legalTermsType": {
              "$ref": "#/definitions/LegalTermsType"
            },
            "privacyPolicyUri": {
              "type": "string"
            },
            "helpLink": {
              "type": "string"
            },
            "supportUri": {
              "type": "string"
            },
            "version": {
              "type": "string"
            },
            "uiDefinitionUri": {
              "type": "string"
            },
            "categoryIds": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "marketCode": {
              "type": "string"
            },
            "marketStates": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "industryIds": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "cloudIndustryCategories": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "primaryProduct": {
              "type": "string"
            },
            "supportedProducts": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "applicableProducts": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "serviceType": {
              "type": "string"
            },
            "competencies": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Competency"
              }
            },
            "hasPrices": {
              "type": "boolean"
            },
            "duration": {
              "$ref": "#/definitions/Duration"
            },
            "marketPricingDetails": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MarketPricingDetailsItem"
              }
            },
            "pricing": {
              "$ref": "#/definitions/Pricing"
            },
            "solutionAreas": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "screenshotUris": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "links": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LinkProperties"
              }
            },
            "filters": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Filter"
              }
            },
            "iconFileUris": {
              "type": "object",
              "x-dictionaryKey": {
                "$ref": "#/definitions/IconKind"
              },
              "additionalProperties": {
                "type": "string"
              }
            },
            "artifacts": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Artifact"
              }
            },
            "metadata": {
              "$ref": "#/definitions/OfferMetadata"
            },
            "properties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "images": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ImageGroup"
              }
            },
            "videos": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProductVideo"
              }
            },
            "plans": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Plan"
              }
            },
            "resourceGroupName": {
              "type": "string"
            },
            "definitionTemplates": {
              "$ref": "#/definitions/DefinitionTemplates"
            },
            "additionalProperties": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            },
            "restrictedAudience": {
              "$ref": "#/definitions/RestrictedAudience"
            },
            "isDeleted": {
              "type": "boolean"
            },
            "isThirdParty": {
              "type": "boolean"
            },
            "groupId": {
              "type": "string"
            },
            "hideKeys": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "keywords": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "popularity": {
              "type": "number",
              "format": "double"
            },
            "pricingDetailsUri": {
              "type": "string"
            },
            "hasFreeTrials": {
              "type": "boolean"
            },
            "isByol": {
              "type": "boolean"
            },
            "isMacc": {
              "type": "boolean"
            },
            "hasFreePlans": {
              "type": "boolean"
            },
            "isQuantifiable": {
              "type": "boolean"
            },
            "altStackReference": {
              "type": "string"
            },
            "hasPaygPlans": {
              "type": "boolean"
            },
            "isReseller": {
              "type": "boolean"
            },
            "ttl": {
              "type": "integer",
              "format": "int32"
            },
            "isExcludedFromSearch": {
              "type": "boolean"
            },
            "applicableStoreFronts": {
              "$ref": "#/definitions/StoreFrontOptions"
            },
            "offerVersion": {
              "type": "string"
            },
            "isMicrosoftProduct": {
              "type": "boolean"
            },
            "productOwnershipSellingMotion": {
              "type": "string"
            },
            "documentLinks": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LinkProperties"
              }
            },
            "offerEnvironment": {
              "$ref": "#/definitions/EnvironmentInfo"
            },
            "linkedAddIns": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "excludeFromBootstrap": {
              "type": "boolean"
            },
            "hydrationNotificationRecivedAt": {
              "type": "string",
              "format": "date-time"
            },
            "bigCatLastModifiedDate": {
              "type": "string",
              "format": "date-time"
            },
            "disableSendEmailOnPurchase": {
              "type": "boolean"
            },
            "hideFromSaasBlade": {
              "type": "boolean"
            },
            "integratedWithMicrosoftGraphApi": {
              "type": "boolean"
            },
            "multiTenantAadAppId": {
              "type": "string"
            },
            "licenseManagementType": {
              "type": "string"
            },
            "licenseModel": {
              "type": "string"
            },
            "pbiServicePrincipalIds": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "isCoreVm": {
              "type": "boolean"
            },
            "m365CertificationInfo": {
              "$ref": "#/definitions/M365CertificationInfo"
            },
            "downloadLink": {
              "type": "string"
            },
            "downloadSampleLink": {
              "type": "string"
            },
            "omexAssetId": {
              "type": "string"
            },
            "mixProductId": {
              "type": "string"
            },
            "appFreeType": {
              "type": "string"
            },
            "storeFrontPricings": {
              "type": "object",
              "x-dictionaryKey": {
                "$ref": "#/definitions/Store"
              },
              "additionalProperties": {
                "$ref": "#/definitions/UIPricing"
              }
            }
          }
        }
      ]
    },
    "Store": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell"
      ],
      "enum": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell"
      ]
    },
    "OfferType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "None",
        "DevService",
        "ManagedApplication",
        "VirtualMachine",
        "AzureApplication",
        "Container",
        "SaaS",
        "SolutionTemplate",
        "IotEdgeModules",
        "ManagedServices",
        "ContainerApps",
        "VisualStudioExtension",
        "DynamicsOps",
        "DynamicsCE",
        "DynamicsBC",
        "PowerBI",
        "ConsultingServices",
        "CosellOnly",
        "CoreVirtualMachine",
        "PowerBIVisuals"
      ],
      "enum": [
        "None",
        "DevService",
        "ManagedApplication",
        "VirtualMachine",
        "AzureApplication",
        "Container",
        "SaaS",
        "SolutionTemplate",
        "IotEdgeModules",
        "ManagedServices",
        "ContainerApps",
        "VisualStudioExtension",
        "DynamicsOps",
        "DynamicsCE",
        "DynamicsBC",
        "PowerBI",
        "ConsultingServices",
        "CosellOnly",
        "CoreVirtualMachine",
        "PowerBIVisuals"
      ]
    },
    "MarketingMaterial": {
      "type": "object",
      "properties": {
        "path": {
          "type": "string"
        },
        "learnUri": {
          "type": "string"
        }
      }
    },
    "LegalTermsType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "None",
        "EA"
      ],
      "enum": [
        "None",
        "EA"
      ]
    },
    "Competency": {
      "type": "object",
      "properties": {
        "competencyName": {
          "type": "string"
        },
        "competencyLevel": {
          "type": "string"
        }
      }
    },
    "Duration": {
      "type": "object",
      "required": [
        "durationValue",
        "durationUnit"
      ],
      "properties": {
        "durationValue": {
          "type": "integer",
          "format": "int64"
        },
        "durationUnit": {
          "$ref": "#/definitions/ServiceDurationUnit"
        }
      }
    },
    "ServiceDurationUnit": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Days",
        "Hours",
        "Weeks"
      ],
      "enum": [
        "Days",
        "Hours",
        "Weeks"
      ]
    },
    "MarketPricingDetailsItem": {
      "type": "object",
      "properties": {
        "pricing": {
          "$ref": "#/definitions/Pricing"
        },
        "marketCode": {
          "type": "string"
        },
        "marketStates": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Pricing": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string"
        },
        "planPrices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanPrice"
          }
        }
      }
    },
    "PlanPrice": {
      "type": "object",
      "required": [
        "currencyDecorator",
        "price"
      ],
      "properties": {
        "planId": {
          "type": "string"
        },
        "currencyDecorator": {
          "$ref": "#/definitions/CurrencyDecorator"
        },
        "price": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "CurrencyDecorator": {
      "type": "integer",
      "description": "",
      "x-enumNames": [
        "Fixed",
        "Estimated"
      ],
      "enum": [
        0,
        1
      ]
    },
    "LinkProperties": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "Filter": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "IconKind": {
      "type": "integer",
      "description": "",
      "x-enumNames": [
        "Small",
        "Medium",
        "Large",
        "Wide",
        "Hero"
      ],
      "enum": [
        0,
        1,
        2,
        3,
        4
      ]
    },
    "Artifact": {
      "type": "object",
      "required": [
        "type"
      ],
      "properties": {
        "name": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/ArtifactType"
        }
      }
    },
    "ArtifactType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Template",
        "Fragment",
        "Custom",
        "Metadata"
      ],
      "enum": [
        "Template",
        "Fragment",
        "Custom",
        "Metadata"
      ]
    },
    "OfferMetadata": {
      "type": "object",
      "properties": {
        "leadGeneration": {
          "$ref": "#/definitions/LeadGeneration"
        },
        "testDrive": {
          "$ref": "#/definitions/TestDrive"
        }
      }
    },
    "LeadGeneration": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string"
        }
      }
    },
    "TestDrive": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string"
        },
        "userManual": {
          "type": "string"
        },
        "testDriveDuration": {
          "type": "string"
        },
        "accessInformation": {
          "type": "string"
        },
        "orchestrationType": {
          "type": "string"
        },
        "labId": {
          "type": "string"
        },
        "demoId": {
          "type": "string"
        },
        "video": {
          "$ref": "#/definitions/ProductVideo"
        },
        "powerBiDashboardLink": {
          "type": "string"
        }
      }
    },
    "ProductVideo": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string"
        },
        "uri": {
          "type": "string",
          "format": "uri"
        },
        "videoPurpose": {
          "type": "string"
        },
        "previewImage": {
          "$ref": "#/definitions/PreviewImage"
        }
      }
    },
    "PreviewImage": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string"
        },
        "uri": {
          "type": "string",
          "format": "uri"
        },
        "imagePurpose": {
          "type": "string"
        }
      }
    },
    "ImageGroup": {
      "type": "object",
      "properties": {
        "context": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Image"
          }
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Plan": {
      "type": "object",
      "required": [
        "type",
        "isPrivate",
        "isHidden",
        "hasFreeTrials",
        "isByol",
        "isFree",
        "isPayg",
        "isStopSell",
        "cspState",
        "isQuantifiable"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "restrictedAudience": {
          "$ref": "#/definitions/RestrictedAudience"
        },
        "skuId": {
          "type": "string"
        },
        "planId": {
          "type": "string"
        },
        "legacyPlanId": {
          "type": "string"
        },
        "keywords": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "$ref": "#/definitions/OfferType"
        },
        "leadGeneration": {
          "$ref": "#/definitions/LeadGeneration"
        },
        "testDrive": {
          "$ref": "#/definitions/TestDrive"
        },
        "availabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailabilityEntity"
          }
        },
        "categoryIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "conversionPaths": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "$ref": "#/definitions/OpenProperty"
        },
        "operatingSystem": {
          "$ref": "#/definitions/OperatingSystem"
        },
        "uiDefinitionUri": {
          "type": "string"
        },
        "artifacts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Artifact"
          }
        },
        "version": {
          "type": "string"
        },
        "itemName": {
          "type": "string"
        },
        "isPrivate": {
          "type": "boolean"
        },
        "isHidden": {
          "type": "boolean"
        },
        "hasFreeTrials": {
          "type": "boolean"
        },
        "isByol": {
          "type": "boolean"
        },
        "isFree": {
          "type": "boolean"
        },
        "isPayg": {
          "type": "boolean"
        },
        "isStopSell": {
          "type": "boolean"
        },
        "altStackReference": {
          "type": "string"
        },
        "stackType": {
          "type": "string"
        },
        "cspState": {
          "$ref": "#/definitions/CSPState"
        },
        "resourceProviderNamespace": {
          "type": "string"
        },
        "resourceType": {
          "type": "string"
        },
        "minQuantity": {
          "type": "integer",
          "format": "int32"
        },
        "maxQuantity": {
          "type": "integer",
          "format": "int32"
        },
        "isQuantifiable": {
          "type": "boolean"
        },
        "callToAction": {
          "type": "string"
        },
        "redirectUrl": {
          "type": "string"
        },
        "serviceIdentifier": {
          "type": "string"
        },
        "vmSecuritytype": {
          "$ref": "#/definitions/VmSecurityType"
        },
        "displayRank": {
          "type": "string"
        }
      }
    },
    "RestrictedAudience": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tenants": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "users": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AvailabilityEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/ResourceEntity"
        },
        {
          "type": "object",
          "required": [
            "isPIRequired",
            "pricingAudience",
            "isStopSell",
            "hasFreeTrials",
            "displayRank",
            "remediationRequired"
          ],
          "properties": {
            "actions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "market": {
              "type": "string"
            },
            "isPIRequired": {
              "type": "boolean"
            },
            "appId": {
              "type": "string"
            },
            "planID": {
              "type": "string"
            },
            "meterId": {
              "type": "string"
            },
            "meter": {
              "$ref": "#/definitions/Meter"
            },
            "pricingAudience": {
              "$ref": "#/definitions/PricingAudience"
            },
            "terms": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Term"
              }
            },
            "piFilter": {
              "$ref": "#/definitions/PIFilter"
            },
            "isStopSell": {
              "type": "boolean"
            },
            "hasFreeTrials": {
              "type": "boolean"
            },
            "assetBehaviors": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "consumptionUnitType": {
              "type": "string"
            },
            "displayRank": {
              "type": "integer",
              "format": "int32"
            },
            "partitionKey": {
              "type": "string"
            },
            "remediationRequired": {
              "type": "boolean"
            },
            "remediations": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Remediation"
              }
            },
            "startDate": {
              "type": "integer",
              "format": "int32"
            },
            "endDate": {
              "type": "integer",
              "format": "int32"
            },
            "planAvailabilities": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AvailabilityEntity"
              }
            }
          }
        }
      ]
    },
    "Meter": {
      "type": "object",
      "properties": {
        "meterId": {
          "type": "string"
        },
        "partNumber": {
          "type": "string"
        },
        "consumptionResourceId": {
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/Price"
        },
        "type": {
          "type": "string"
        },
        "includedQuantityProperties": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IncludedQuantityProperty"
          }
        }
      }
    },
    "Price": {
      "type": "object",
      "required": [
        "isPIRequired",
        "listPrice",
        "msrp"
      ],
      "properties": {
        "currencyCode": {
          "type": "string"
        },
        "isPIRequired": {
          "type": "boolean"
        },
        "listPrice": {
          "type": "number",
          "format": "decimal"
        },
        "msrp": {
          "type": "number",
          "format": "decimal"
        }
      }
    },
    "IncludedQuantityProperty": {
      "allOf": [
        {
          "$ref": "#/definitions/IncludedQuantityProperty2"
        },
        {
          "type": "object"
        }
      ]
    },
    "IncludedQuantityProperty2": {
      "type": "object",
      "properties": {
        "termId": {
          "type": "string"
        },
        "quantity": {
          "type": "string"
        }
      }
    },
    "PricingAudience": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "None",
        "DirectCommercial",
        "PartnerCommercial",
        "Custom",
        "IndirectCommercial",
        "IndirectGov",
        "DirectChk",
        "DirectBlue"
      ],
      "enum": [
        "None",
        "DirectCommercial",
        "PartnerCommercial",
        "Custom",
        "IndirectCommercial",
        "IndirectGov",
        "DirectChk",
        "DirectBlue"
      ]
    },
    "Term": {
      "type": "object",
      "properties": {
        "termDescriptionParameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TermDescriptionParameter"
          }
        },
        "termId": {
          "type": "string"
        },
        "termUnits": {
          "type": "string"
        },
        "prorationPolicy": {
          "$ref": "#/definitions/ProrationPolicy"
        },
        "termDescription": {
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/Price"
        },
        "renewTermId": {
          "type": "string"
        },
        "renewTermUnits": {
          "type": "string"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        }
      }
    },
    "TermDescriptionParameter": {
      "type": "object",
      "properties": {
        "parameter": {
          "type": "string"
        },
        "value": {
          "type": "string"
        }
      }
    },
    "ProrationPolicy": {
      "type": "object",
      "properties": {
        "minimumProratedUnits": {
          "type": "string"
        }
      }
    },
    "BillingPlan": {
      "type": "object",
      "properties": {
        "billingPeriod": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "price": {
          "$ref": "#/definitions/Price"
        }
      }
    },
    "PIFilter": {
      "type": "object",
      "properties": {
        "exclusionProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inclusionProperties": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Remediation": {
      "type": "object",
      "properties": {
        "remediationId": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "ResourceEntity": {
      "allOf": [
        {
          "$ref": "#/definitions/ResourceBase"
        },
        {
          "type": "object"
        }
      ]
    },
    "ResourceBase": {
      "type": "object",
      "x-abstract": true,
      "required": [
        "_ts"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "partitionKey": {
          "type": "string"
        },
        "_ts": {
          "type": "integer",
          "format": "int64"
        },
        "_etag": {
          "type": "string"
        }
      }
    },
    "OpenProperty": {
      "type": "object",
      "properties": {
        "generation": {
          "type": "string"
        },
        "properties": {
          "type": "object",
          "additionalProperties": {}
        }
      }
    },
    "OperatingSystem": {
      "type": "object",
      "properties": {
        "family": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "CSPState": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "OptIn",
        "OptOut",
        "Terminated",
        "SelectiveOptIn"
      ],
      "enum": [
        "OptIn",
        "OptOut",
        "Terminated",
        "SelectiveOptIn"
      ]
    },
    "VmSecurityType": {
      "type": "string",
      "description": "",
      "x-enumFlags": true,
      "x-enumNames": [
        "None",
        "Trusted",
        "Confidential"
      ],
      "enum": [
        "None",
        "Trusted",
        "Confidential"
      ]
    },
    "DefinitionTemplates": {
      "type": "object",
      "properties": {
        "uiDefinitionFileUri": {
          "type": "string"
        },
        "defaultDeploymentTemplateId": {
          "type": "string"
        },
        "deploymentTemplateFileUris": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "deploymentFragmentFileUris": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "StoreFrontOptions": {
      "type": "integer",
      "description": "",
      "x-enumFlags": true,
      "x-enumNames": [
        "None",
        "Azure",
        "AMP",
        "AppSource"
      ],
      "enum": [
        0,
        1,
        2,
        4
      ]
    },
    "EnvironmentInfo": {
      "type": "integer",
      "description": "",
      "x-enumNames": [
        "DogFood",
        "Canary",
        "Production",
        "FairFax",
        "Unknown"
      ],
      "enum": [
        1,
        2,
        3,
        4,
        5
      ]
    },
    "M365CertificationInfo": {
      "type": "object",
      "required": [
        "m365CertificationType"
      ],
      "properties": {
        "m365CertificationType": {
          "$ref": "#/definitions/CertificationType"
        },
        "m365CertificationDetailsUrl": {
          "type": "string"
        },
        "m365CertificationId": {
          "type": "string"
        }
      }
    },
    "CertificationType": {
      "type": "integer",
      "description": "",
      "x-enumNames": [
        "Undefined",
        "None",
        "SelfAttested",
        "MicrosoftCertified"
      ],
      "enum": [
        0,
        1,
        2,
        3
      ]
    },
    "UIPricing": {
      "type": "object",
      "required": [
        "pricingOptions"
      ],
      "properties": {
        "pricingOptions": {
          "$ref": "#/definitions/PricingOptions"
        },
        "hasPrices": {
          "type": "boolean"
        }
      }
    },
    "PricingOptions": {
      "type": "integer",
      "description": "",
      "x-enumFlags": true,
      "x-enumNames": [
        "None",
        "Free",
        "FreeTrial",
        "Paid",
        "Byol"
      ],
      "enum": [
        0,
        1,
        2,
        4,
        8
      ]
    }
  }
}
