{
  "swagger": "2.0",
  "info": {
    "title": "Visual Search Client",
    "description": "Visual Search API lets you discover insights about an image such as visually similar images, shopping sources, and related searches. The API can also perform text recognition, identify entities (people, places, things), return other topical content for the user to explore, and more. For more information, see [Visual Search Overview](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview).  **NOTE:** To comply with the new EU Copyright Directive in France, the Bing Visual Search API must omit some content from certain EU News sources for French users. The removed content may include thumbnail images and videos, video previews, and snippets which accompany search results from these sources. As a consequence, the Bing APIs may serve fewer results with thumbnail images and videos, video previews, and snippets to French users.",
    "version": "1.0"
  },
  "parameters": {
    "x-bingapis-sdk": {
      "name": "X-BingApis-SDK",
      "description": "Activate swagger compliance.",
      "x-ms-parameter-location": "method",
      "required": true,
      "type": "string",
      "in": "header",
      "x-ms-enum": {
        "name": "XBingApisSDK",
        "modelAsString": true
      },
      "enum": [
        "true"
      ]
    }
  },
  "host": "api.bing.microsoft.com",
  "basePath": "/v7.0",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "apiKeyHeader": {
      "name": "Ocp-Apim-Subscription-Key",
      "type": "apiKey",
      "in": "header"
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    }
  ],
  "paths": {
    "/images/visualsearch": {
      "post": {
        "summary": "Visual Search API lets you discover insights about an image such as visually similar images, shopping sources, and related searches. The API can also perform text recognition, identify entities (people, places, things), return other topical content for the user to explore, and more. For more information, see [Visual Search Overview](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview).",
        "operationId": "Images_VisualSearch",
        "tags": [
          "ImageVisualSearch"
        ],
        "consumes": [
          "multipart/form-data",
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/x-bingapis-sdk"
          },
          {
            "name": "Accept",
            "in": "header",
            "description": "The default media type is application/json. To specify that the response use [JSON-LD](http://json-ld.org/), set the Accept header to application/ld+json.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Accept-Language",
            "x-ms-client-name": "AcceptLanguage",
            "in": "header",
            "description": "A comma-delimited list of one or more languages to use for user interface strings. The list is in decreasing order of preference. For additional information, including expected format, see [RFC2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). This header and the [setLang](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview) query parameter are mutually exclusive; do not specify both. If you set this header, you must also specify the [cc](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview) query parameter. To determine the market to return results for, Bing uses the first supported language it finds from the list and combines it with the cc parameter value. If the list does not include a supported language, Bing finds the closest language and market that supports the request or it uses an aggregated or default market for the results. To determine the market that Bing used, see the BingAPIs-Market header. Use this header and the cc query parameter only if you specify multiple languages. Otherwise, use the [mkt](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview) and [setLang](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview) query parameters. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Any links to Bing.com properties in the response objects apply the specified language.",
            "required": false,
            "type": "string"
          },
          {
            "name": "Content-Type",
            "x-ms-client-name": "ContentType",
            "in": "header",
            "description": "Must be set to multipart/form-data and include a boundary parameter (for example, multipart/form-data; boundary=<boundary string>). For more details, see [Content form types](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview).",
            "required": false,
            "type": "string"
          },
          {
            "name": "User-Agent",
            "x-ms-client-name": "UserAgent",
            "in": "header",
            "description": "The user agent originating the request. Bing uses the user agent to provide mobile users with an optimized experience. Although optional, you are encouraged to always specify this header. The user-agent should be the same string that any commonly used browser sends. For information about user agents, see [RFC 2616](http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html). The following are examples of user-agent strings. Windows Phone: Mozilla/5.0 (compatible; MSIE 10.0; Windows Phone 8.0; Trident/6.0; IEMobile/10.0; ARM; Touch; NOKIA; Lumia 822). Android: Mozilla / 5.0 (Linux; U; Android 2.3.5; en - us; SCH - I500 Build / GINGERBREAD) AppleWebKit / 533.1 (KHTML; like Gecko) Version / 4.0 Mobile Safari / 533.1. iPhone: Mozilla / 5.0 (iPhone; CPU iPhone OS 6_1 like Mac OS X) AppleWebKit / 536.26 (KHTML; like Gecko) Mobile / 10B142 iPhone4; 1 BingWeb / 3.03.1428.20120423. PC: Mozilla / 5.0 (Windows NT 6.3; WOW64; Trident / 7.0; Touch; rv:11.0) like Gecko. iPad: Mozilla / 5.0 (iPad; CPU OS 7_0 like Mac OS X) AppleWebKit / 537.51.1 (KHTML, like Gecko) Version / 7.0 Mobile / 11A465 Safari / 9537.53.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-MSEdge-ClientID",
            "x-ms-client-name": "ClientId",
            "in": "header",
            "description": "Bing uses this header to provide users with consistent behavior across Bing API calls. Bing often flights new features and improvements, and it uses the client ID as a key for assigning traffic on different flights. If you do not use the same client ID for a user across multiple requests, then Bing may assign the user to multiple conflicting flights. Being assigned to multiple conflicting flights can lead to an inconsistent user experience. For example, if the second request has a different flight assignment than the first, the experience may be unexpected. Also, Bing can use the client ID to tailor web results to that client ID’s search history, providing a richer experience for the user. Bing also uses this header to help improve result rankings by analyzing the activity generated by a client ID. The relevance improvements help with better quality of results delivered by Bing APIs and in turn enables higher click-through rates for the API consumer. IMPORTANT: Although optional, you should consider this header required. Persisting the client ID across multiple requests for the same end user and device combination enables 1) the API consumer to receive a consistent user experience, and 2) higher click-through rates via better quality of results from the Bing APIs. Each user that uses your application on the device must have a unique, Bing generated client ID. If you do not include this header in the request, Bing generates an ID and returns it in the X-MSEdge-ClientID response header. The only time that you should NOT include this header in a request is the first time the user uses your app on that device. Use the client ID for each Bing API request that your app makes for this user on the device. Persist the client ID. To persist the ID in a browser app, use a persistent HTTP cookie to ensure the ID is used across all sessions. Do not use a session cookie. For other apps such as mobile apps, use the device's persistent storage to persist the ID. The next time the user uses your app on that device, get the client ID that you persisted. Bing responses may or may not include this header. If the response includes this header, capture the client ID and use it for all subsequent Bing requests for the user on that device. ATTENTION: You must ensure that this Client ID is not linkable to any authenticatable user account information. If you include the X-MSEdge-ClientID, you must not include cookies in the request.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-MSEdge-ClientIP",
            "x-ms-client-name": "ClientIp",
            "in": "header",
            "description": "The IPv4 or IPv6 address of the client device. The IP address is used to discover the user's location. Bing uses the location information to determine safe search behavior. Although optional, you are encouraged to always specify this header and the X-Search-Location header. Do not obfuscate the address (for example, by changing the last octet to 0). Obfuscating the address results in the location not being anywhere near the device's actual location, which may result in Bing serving erroneous results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "X-Search-Location",
            "x-ms-client-name": "Location",
            "in": "header",
            "description": "A semicolon-delimited list of key/value pairs that describe the client's geographical location. Bing uses the location information to determine safe search behavior and to return relevant local content. Specify the key/value pair as <key>:<value>. The following are the keys that you use to specify the user's location. lat (required): The latitude of the client's location, in degrees. The latitude must be greater than or equal to -90.0 and less than or equal to +90.0. Negative values indicate southern latitudes and positive values indicate northern latitudes. long (required): The longitude of the client's location, in degrees. The longitude must be greater than or equal to -180.0 and less than or equal to +180.0. Negative values indicate western longitudes and positive values indicate eastern longitudes. re (required): The radius, in meters, which specifies the horizontal accuracy of the coordinates. Pass the value returned by the device's location service. Typical values might be 22m for GPS/Wi-Fi, 380m for cell tower triangulation, and 18,000m for reverse IP lookup. ts (optional): The UTC UNIX timestamp of when the client was at the location. (The UNIX timestamp is the number of seconds since January 1, 1970.) head (optional): The client's relative heading or direction of travel. Specify the direction of travel as degrees from 0 through 360, counting clockwise relative to true north. Specify this key only if the sp key is nonzero. sp (optional): The horizontal velocity (speed), in meters per second, that the client device is traveling. alt (optional): The altitude of the client device, in meters. are (optional): The radius, in meters, that specifies the vertical accuracy of the coordinates. Specify this key only if you specify the alt key. Although many of the keys are optional, the more information that you provide, the more accurate the location results are. Although optional, you are encouraged to always specify the user's geographical location. Providing the location is especially important if the client's IP address does not accurately reflect the user's physical location (for example, if the client uses VPN). For optimal results, you should include this header and the X-MSEdge-ClientIP header, but at a minimum, you should include this header.",
            "required": false,
            "type": "string"
          },
          {
            "name": "mkt",
            "x-ms-client-name": "Market",
            "in": "query",
            "description": "The market where the results come from. Typically, mkt is the country where the user is making the request from. However, it could be a different country if the user is not located in a country where Bing delivers results. The market must be in the form <language code>-<country code>. For example, en-US. The string is case insensitive. For a list of possible market values, see [Market Codes](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview). NOTE: If known, you are encouraged to always specify the market. Specifying the market helps Bing route the request and return an appropriate and optimal response. If you specify a market that is not listed in [Market Codes](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview), Bing uses a best fit market code based on an internal mapping that is subject to change.",
            "required": false,
            "type": "string"
          },
          {
            "name": "safeSearch",
            "x-ms-client-name": "SafeSearch",
            "in": "query",
            "description": "Filter the image results in actions with type 'VisualSearch' for adult content. The following are the possible filter values. Off: May return images with adult content. Moderate: Do not return images with adult content. Strict: Do not return images with adult content. The default is Moderate. If the request comes from a market that Bing's adult policy requires that safeSearch is set to Strict, Bing ignores the safeSearch value and uses Strict. If you use the site: filter in the knowledge request, there is the chance that the response may contain adult content regardless of what the safeSearch query parameter is set to. Use site: only if you are aware of the content on the site and your scenario supports the possibility of adult content.",
            "required": false,
            "type": "string",
            "enum": [
              "Off",
              "Moderate",
              "Strict"
            ],
            "x-ms-enum": {
              "name": "SafeSearch",
              "modelAsString": true
            }
          },
          {
            "name": "setLang",
            "x-ms-client-name": "SetLang",
            "in": "query",
            "description": "The language to use for user interface strings. Specify the language using the ISO 639-1 2-letter language code. For example, the language code for English is EN. The default is EN (English). Although optional, you should always specify the language. Typically, you set setLang to the same language specified by mkt unless the user wants the user interface strings displayed in a different language. A user interface string is a string that's used as a label in a user interface. There are few user interface strings in the JSON response objects. Also, any links to Bing.com properties in the response objects apply the specified language.",
            "required": false,
            "type": "string"
          },
          {
            "name": "knowledgeRequest",
            "x-ms-client-name": "VisualSearchRequest",
            "in": "formData",
            "description": "The form data is a JSON object that identifies the image using an insights token or URL to the image. The object may also include an optional crop area that identifies an area of interest in the image. The insights token and URL are mutually exclusive – do not specify both. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only (it must not include an insights token or URL).",
            "required": false,
            "type": "string"
          },
          {
            "name": "image",
            "x-ms-client-name": "Image",
            "in": "formData",
            "description": "The form data is an image binary. The Content-Disposition header's name parameter must be set to \"image\". You must specify an image binary if you do not use knowledgeRequest form data to specify the image; you may not use both forms to specify an image. You may specify knowledgeRequest form data and image form data in the same request only if knowledgeRequest form data specifies the cropArea field only  (it must not include an insights token or URL).",
            "required": false,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/ImageKnowledge"
            }
          },
          "default": {
            "description": "An error has occurred. Check the response type and/or status code for more details.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful visual search": {
            "$ref": "./examples/SuccessfulVisualSearchRequest.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ImageKnowledge": {
      "description": "Defines a visual search API response.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "tags": {
          "description": "A list of visual search tags.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageTag"
          }
        },
        "image": {
          "description": "Image object containing metadata about the requested image.",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        }
      }
    },
    "Response": {
      "description": "Defines a response. All schemas that return at the root of the response must inherit from this object.",
      "allOf": [
        {
          "$ref": "#/definitions/Identifiable"
        }
      ],
      "type": "object",
      "properties": {
        "readLink": {
          "description": "The URL that returns this resource. To use the URL, append query parameters as appropriate and include the Ocp-Apim-Subscription-Key header.",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL to Bing's search result for this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ImageTag": {
      "description": "A visual search tag.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name for this tag. For the default tag, the display name is empty.",
          "readOnly": true,
          "type": "string"
        },
        "boundingBox": {
          "description": "The bounding box for this tag. For the default tag, there is no bounding box.",
          "$ref": "#/definitions/ImageTagRegion",
          "readOnly": true
        },
        "actions": {
          "description": "Actions within this tag. The order of the items denotes the default ranking order of these actions, with the first action being the most likely user intent.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageAction"
          }
        }
      }
    },
    "ImageObject": {
      "description": "Defines an image.",
      "allOf": [
        {
          "$ref": "#/definitions/MediaObject"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnail": {
          "description": "The URL to a thumbnail of the image.",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        },
        "imageInsightsToken": {
          "description": "The token that you use in a subsequent call to Visual Search API to get additional information about the image. For information about using this token, see the imageInsightsToken field inside the knowledgeRequest request parameter.",
          "readOnly": true,
          "type": "string"
        },
        "insightsMetadata": {
          "description": "A count of the number of websites where you can shop or perform other actions related to the image. For example, if the image is of an apple pie, this object includes a count of the number of websites where you can buy an apple pie. To indicate the number of offers in your UX, include badging such as a shopping cart icon that contains the count. When the user clicks on the icon, use imageInsightsToken in a subsequent Visual Search API call to get the list of shopping websites.",
          "$ref": "#/definitions/ImagesImageMetadata",
          "readOnly": true
        },
        "imageId": {
          "description": "Unique Id for the image.",
          "readOnly": true,
          "type": "string"
        },
        "accentColor": {
          "description": "A three-byte hexadecimal number that represents the color that dominates the image. Use the color as the temporary background in your client until the image is loaded.",
          "readOnly": true,
          "type": "string"
        },
        "visualWords": {
          "description": "For internal use only.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Identifiable": {
      "description": "Defines the identity of a resource.",
      "allOf": [
        {
          "$ref": "#/definitions/ResponseBase"
        }
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "A String identifier.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "The top-level response that represents a failed request.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "required": [
        "errors"
      ],
      "properties": {
        "errors": {
          "description": "A list of errors that describe the reasons why the request failed.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Thing": {
      "description": "Defines a thing.",
      "allOf": [
        {
          "$ref": "#/definitions/Response"
        }
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "description": "The URL to get more information about the thing represented by this object.",
          "readOnly": true,
          "type": "string"
        },
        "image": {
          "description": "An image of the item.",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        },
        "description": {
          "description": "A short description of the item.",
          "readOnly": true,
          "type": "string"
        },
        "alternateName": {
          "description": "An alias for the item.",
          "readOnly": true,
          "type": "string"
        },
        "bingId": {
          "description": "An ID that uniquely identifies this item.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Action": {
      "description": "Defines an action.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "result": {
          "description": "The result produced in the action.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thing"
          }
        },
        "displayName": {
          "description": "A display name for the action.",
          "readOnly": true,
          "type": "string"
        },
        "isTopAction": {
          "description": "A Boolean representing whether this result is the top action.",
          "readOnly": true,
          "type": "boolean"
        },
        "serviceUrl": {
          "description": "Use this URL to get additional data to determine how to take the appropriate action. For example, the serviceUrl might return JSON along with an image URL.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ImageTagRegion": {
      "description": "Defines an image region relevant to the ImageTag.",
      "type": "object",
      "required": [
        "queryRectangle",
        "displayRectangle"
      ],
      "properties": {
        "queryRectangle": {
          "description": "A rectangle that outlines the area of interest for this tag.",
          "$ref": "#/definitions/NormalizedQuadrilateral"
        },
        "displayRectangle": {
          "description": "A recommended rectangle to show to the user.",
          "$ref": "#/definitions/NormalizedQuadrilateral"
        }
      }
    },
    "ImageAction": {
      "description": "Defines an image action.",
      "allOf": [
        {
          "$ref": "#/definitions/Action"
        }
      ],
      "type": "object",
      "properties": {
        "actionType": {
          "description": "A string representing the type of action.",
          "readOnly": true,
          "type": "string"
        },
        "_type": {
          "type": "string",
          "description": "Specifies the sub-class of the action.",
          "enum": [
            "ImageEntityAction",
            "ImageModuleAction",
            "ImageRecipesAction",
            "ImageRelatedSearchesAction",
            "ImageShoppingSourcesAction"
          ]
        }
      }
    },
    "MediaObject": {
      "description": "Defines a media object.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "contentUrl": {
          "description": "Original URL to retrieve the source (file) for the media object (e.g., the source URL for the image).",
          "readOnly": true,
          "type": "string"
        },
        "hostPageUrl": {
          "description": "URL of the page that hosts the media object.",
          "readOnly": true,
          "type": "string"
        },
        "contentSize": {
          "description": "Size of the media object content. Use format \"value unit\" (e.g., \"1024 B\").",
          "readOnly": true,
          "type": "string"
        },
        "encodingFormat": {
          "description": "Encoding format (e.g., png, gif, jpeg, etc).",
          "readOnly": true,
          "type": "string"
        },
        "hostPageDisplayUrl": {
          "description": "Display URL of the page that hosts the media object.",
          "readOnly": true,
          "type": "string"
        },
        "width": {
          "description": "The width of the media object, in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "The height of the media object, in pixels.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ImagesImageMetadata": {
      "description": "Defines a count of the number of websites where you can shop or perform other actions related to the image.",
      "x-ms-discriminator-value": "Images/ImageMetadata",
      "type": "object",
      "properties": {
        "shoppingSourcesCount": {
          "description": "The number of websites that sell the products seen in the image.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "recipeSourcesCount": {
          "description": "The number of websites that offer recipes of the food seen in the image.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "aggregateOffer": {
          "description": "A summary of the online offers of products found in the image. For example, if the image is of a dress, the offer might identify the lowest price and the number of offers found. Only visually similar products insights include this field. The offer includes the following fields: Name, AggregateRating, OfferCount, and LowPrice.",
          "$ref": "#/definitions/AggregateOffer",
          "readOnly": true
        }
      }
    },
    "ResponseBase": {
      "description": "Response base.",
      "type": "object",
      "properties": {
        "_type": {
          "type": "string"
        }
      }
    },
    "Error": {
      "description": "Defines the error that occurred.",
      "type": "object",
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "description": "The error code that identifies the category of error.",
          "type": "string",
          "default": "None",
          "enum": [
            "None",
            "ServerError",
            "InvalidRequest",
            "RateLimitExceeded",
            "InvalidAuthorization",
            "InsufficientAuthorization"
          ],
          "x-ms-enum": {
            "name": "ErrorCode",
            "modelAsString": true
          }
        },
        "subCode": {
          "description": "The error code that further helps to identify the error.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "UnexpectedError",
            "ResourceError",
            "NotImplemented",
            "ParameterMissing",
            "ParameterInvalidValue",
            "HttpNotAllowed",
            "Blocked",
            "AuthorizationMissing",
            "AuthorizationRedundancy",
            "AuthorizationDisabled",
            "AuthorizationExpired"
          ],
          "x-ms-enum": {
            "name": "ErrorSubCode",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A description of the error.",
          "type": "string"
        },
        "moreDetails": {
          "description": "A description that provides additional information about the error.",
          "readOnly": true,
          "type": "string"
        },
        "parameter": {
          "description": "The parameter in the request that caused the error.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The parameter's value in the request that was not valid.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreativeWork": {
      "description": "The most generic kind of creative work, including books, movies, photographs, software programs, etc.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "thumbnailUrl": {
          "description": "The URL to a thumbnail of the item.",
          "readOnly": true,
          "type": "string"
        },
        "provider": {
          "description": "The source of the creative work.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Thing"
          }
        },
        "datePublished": {
          "description": "The date on which the CreativeWork was published.",
          "readOnly": true,
          "type": "string"
        },
        "text": {
          "description": "Text content of this creative work.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Offer": {
      "description": "Defines a merchant's offer.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "seller": {
          "description": "Seller for this offer.",
          "$ref": "#/definitions/Organization",
          "readOnly": true
        },
        "price": {
          "description": "The item's price.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        },
        "priceCurrency": {
          "description": "The monetary currency. For example, USD.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "USD",
            "CAD",
            "GBP",
            "EUR",
            "COP",
            "JPY",
            "CNY",
            "AUD",
            "INR",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYR",
            "BZD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "FJD",
            "FKP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XCD",
            "XOF",
            "XPF",
            "YER",
            "ZAR",
            "ZMW"
          ],
          "x-ms-enum": {
            "name": "Currency",
            "modelAsString": true
          }
        },
        "availability": {
          "description": "The item's availability. The following are the possible values: Discontinued, InStock, InStoreOnly, LimitedAvailability, OnlineOnly, OutOfStock, PreOrder, SoldOut.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "Discontinued",
            "InStock",
            "InStoreOnly",
            "LimitedAvailability",
            "OnlineOnly",
            "OutOfStock",
            "PreOrder",
            "SoldOut"
          ],
          "x-ms-enum": {
            "name": "ItemAvailability",
            "modelAsString": true
          }
        },
        "aggregateRating": {
          "description": "An aggregated rating that indicates how well the product has been rated by others.",
          "$ref": "#/definitions/AggregateRating",
          "readOnly": true
        },
        "lastUpdated": {
          "description": "The last date that the offer was updated. The date is in the form YYYY-MM-DD.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Organization": {
      "description": "Defines an organization.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {}
    },
    "Person": {
      "description": "Defines a person.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object",
      "properties": {
        "jobTitle": {
          "description": "The person's job title.",
          "readOnly": true,
          "type": "string"
        },
        "twitterProfile": {
          "description": "The URL of the person's twitter profile.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Intangible": {
      "description": "A utility class that serves as the umbrella for a number of 'intangible' things such as quantities, structured values, etc.",
      "allOf": [
        {
          "$ref": "#/definitions/Thing"
        }
      ],
      "type": "object"
    },
    "NormalizedQuadrilateral": {
      "description": "Defines a region of an image. The region is a convex quadrilateral defined by coordinates of its top left, top right, bottom left, and bottom right points. The coordinates are fractional values of the original image's width and height in the range 0.0 through 1.0.",
      "allOf": [
        {
          "$ref": "#/definitions/StructuredValue"
        }
      ],
      "type": "object",
      "required": [
        "topLeft",
        "topRight",
        "bottomRight",
        "bottomLeft"
      ],
      "properties": {
        "topLeft": {
          "description": "The top left corner coordinate.",
          "$ref": "#/definitions/Point2D"
        },
        "topRight": {
          "description": "The top right corner coordinate.",
          "$ref": "#/definitions/Point2D"
        },
        "bottomRight": {
          "description": "The bottom right corner coordinate.",
          "$ref": "#/definitions/Point2D"
        },
        "bottomLeft": {
          "description": "The bottom left corner coordinate.",
          "$ref": "#/definitions/Point2D"
        }
      }
    },
    "ImageEntityAction": {
      "description": "Defines an entity action.",
      "allOf": [
        {
          "$ref": "#/definitions/ImageAction"
        }
      ],
      "type": "object",
      "x-ms-discriminator-value": "ImageEntityAction"
    },
    "ImageModuleAction": {
      "description": "Defines an image list action.",
      "allOf": [
        {
          "$ref": "#/definitions/ImageAction"
        }
      ],
      "type": "object",
      "x-ms-discriminator-value": "ImageModuleAction",
      "properties": {
        "data": {
          "description": "A list of images.",
          "$ref": "#/definitions/ImagesModule",
          "readOnly": true
        }
      }
    },
    "ImageRecipesAction": {
      "description": "Defines an recipe action.",
      "allOf": [
        {
          "$ref": "#/definitions/ImageAction"
        }
      ],
      "type": "object",
      "x-ms-discriminator-value": "ImageRecipesAction",
      "properties": {
        "data": {
          "description": "A list of recipes related to the image.",
          "$ref": "#/definitions/RecipesModule",
          "readOnly": true
        }
      }
    },
    "ImageRelatedSearchesAction": {
      "description": "Defines an related search action.",
      "allOf": [
        {
          "$ref": "#/definitions/ImageAction"
        }
      ],
      "type": "object",
      "x-ms-discriminator-value": "ImageRelatedSearchesAction",
      "properties": {
        "data": {
          "description": "A list of queries related to the image.",
          "$ref": "#/definitions/RelatedSearchesModule",
          "readOnly": true
        }
      }
    },
    "ImageShoppingSourcesAction": {
      "description": "Defines a shopping sources action.",
      "allOf": [
        {
          "$ref": "#/definitions/ImageAction"
        }
      ],
      "type": "object",
      "x-ms-discriminator-value": "ImageShoppingSourcesAction",
      "properties": {
        "data": {
          "description": "A list of merchants that offer items related to the image.",
          "$ref": "#/definitions/AggregateOffer",
          "readOnly": true
        }
      }
    },
    "AggregateOffer": {
      "description": "Defines a list of offers from merchants that are related to the image.",
      "allOf": [
        {
          "$ref": "#/definitions/Offer"
        }
      ],
      "type": "object",
      "properties": {
        "offers": {
          "description": "A list of offers from merchants that have offerings related to the image.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Offer"
          }
        }
      }
    },
    "Query": {
      "description": "Defines a search query.",
      "type": "object",
      "required": [
        "text"
      ],
      "properties": {
        "text": {
          "description": "The query string. Use this string as the query term in a new search request.",
          "type": "string"
        },
        "displayText": {
          "description": "The display version of the query term.",
          "readOnly": true,
          "type": "string"
        },
        "webSearchUrl": {
          "description": "The URL that takes the user to the Bing search results page for the query.",
          "readOnly": true,
          "type": "string"
        },
        "searchLink": {
          "description": "The URL that you use to get the results of the related search. Before using the URL, you must append query parameters as appropriate and include the Ocp-Apim-Subscription-Key header. Use this URL if you're displaying the results in your own user interface. Otherwise, use the webSearchUrl URL.",
          "readOnly": true,
          "type": "string"
        },
        "thumbnail": {
          "description": "The URL to a thumbnail of a related image.",
          "$ref": "#/definitions/ImageObject",
          "readOnly": true
        }
      }
    },
    "Recipe": {
      "description": "Defines a cooking recipe.",
      "allOf": [
        {
          "$ref": "#/definitions/CreativeWork"
        }
      ],
      "type": "object",
      "properties": {
        "cookTime": {
          "description": "The amount of time the food takes to cook. For example, PT25M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        },
        "prepTime": {
          "description": "The amount of time required to prepare the ingredients. For example, PT15M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        },
        "totalTime": {
          "description": "The total amount of time it takes to prepare and cook the recipe. For example, PT45M. For information about the time format, see http://en.wikipedia.org/wiki/ISO_8601#Durations.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AggregateRating": {
      "description": "Defines the metrics that indicate how well an item was rated by others.",
      "allOf": [
        {
          "$ref": "#/definitions/Rating"
        }
      ],
      "type": "object",
      "properties": {
        "reviewCount": {
          "description": "The number of times the recipe has been rated or reviewed.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "StructuredValue": {
      "allOf": [
        {
          "$ref": "#/definitions/Intangible"
        }
      ],
      "type": "object"
    },
    "PropertiesItem": {
      "description": "Defines an item.",
      "x-ms-discriminator-value": "Properties/Item",
      "discriminator": "_type",
      "type": "object",
      "required": [
        "_type"
      ],
      "properties": {
        "text": {
          "description": "Text representation of an item.",
          "readOnly": true,
          "type": "string"
        },
        "_type": {
          "type": "string"
        }
      }
    },
    "Point2D": {
      "description": "Defines a 2D point with X and Y coordinates.",
      "allOf": [
        {
          "$ref": "#/definitions/StructuredValue"
        }
      ],
      "type": "object",
      "required": [
        "x",
        "y"
      ],
      "properties": {
        "x": {
          "description": "The x-coordinate of the point.",
          "type": "number",
          "format": "float"
        },
        "y": {
          "description": "The y-coordinate of the point.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "ImagesModule": {
      "description": "Defines a list of images.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of images.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageObject"
          }
        }
      }
    },
    "RecipesModule": {
      "description": "Defines a list of recipes.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of recipes.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Recipe"
          }
        }
      }
    },
    "RelatedSearchesModule": {
      "description": "Defines a list of related searches.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A list of related searches.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Query"
          }
        }
      }
    },
    "Rating": {
      "description": "Defines a rating.",
      "allOf": [
        {
          "$ref": "#/definitions/PropertiesItem"
        }
      ],
      "type": "object",
      "required": [
        "ratingValue"
      ],
      "properties": {
        "ratingValue": {
          "description": "The mean (average) rating. The possible values are 1.0 through 5.0.",
          "type": "number",
          "format": "float"
        },
        "bestRating": {
          "description": "The highest rated review. The possible values are 1.0 through 5.0.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      }
    },
    "VisualSearchRequest": {
      "description": "A JSON object that contains information about the image to get insights of. Specify this object only in a knowledgeRequest form data.",
      "type": "object",
      "properties": {
        "imageInfo": {
          "description": "A JSON object that identities the image to get insights of.",
          "$ref": "#/definitions/ImageInfo"
        },
        "knowledgeRequest": {
          "description": "A JSON object containing information about the request, such as filters, or a description.",
          "$ref": "#/definitions/KnowledgeRequest"
        }
      }
    },
    "ImageInfo": {
      "description": "A JSON object that identities the image to get insights of . It also includes the optional crop area that you use to identify the region of interest in the image.",
      "type": "object",
      "properties": {
        "imageInsightsToken": {
          "description": "An image insights token. To get the insights token, call one of the Image Search APIs (for example, /images/search). In the search results, the [Image](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview) object's [imageInsightsToken](https://docs.microsoft.com/en-us/bing/bing-visual-search/overview) field contains the token. The imageInsightsToken and url fields mutually exclusive; do not specify both. Do not specify an insights token if the request includes the image form data.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the input image. The imageInsightsToken and url fields are mutually exclusive; do not specify both. Do not specify the URL if the request includes the image form data.",
          "type": "string"
        },
        "cropArea": {
          "description": "A JSON object consisting of coordinates specifying the four corners of a cropped rectangle within the input image. Use the crop area to identify the region of interest in the image. You can apply the crop area to the images specified using the imageInsightsToken or url fields, or an image binary specified in an image form data.",
          "$ref": "#/definitions/CropArea"
        }
      }
    },
    "CropArea": {
      "description": "A JSON object consisting of coordinates specifying the four corners of a cropped rectangle within the input image.",
      "type": "object",
      "required": [
        "top",
        "bottom",
        "left",
        "right"
      ],
      "properties": {
        "top": {
          "description": "The top coordinate of the region to be cropped. The coordinate is a fractional value of the original image's height and is measured from the top edge of the image. Specify the coordinate as a value from 0.0 through 1.0.",
          "type": "number",
          "format": "float"
        },
        "bottom": {
          "description": "The bottom coordinate of the region to be cropped. The coordinate is a fractional value of the original image's height and is measured from the top edge of the image. Specify the coordinate as a value from 0.0 through 1.0.",
          "type": "number",
          "format": "float"
        },
        "left": {
          "description": "The left coordinate of the region to be cropped. The coordinate is a fractional value of the original image's width and is measured from the left edge of the image. Specify the coordinate as a value from 0.0 through 1.0.",
          "type": "number",
          "format": "float"
        },
        "right": {
          "description": "The right coordinate of the region to be cropped. The coordinate is a fractional value of the original image's width and is measured from the left edge of the image. Specify the coordinate as a value from 0.0 through 1.0.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "KnowledgeRequest": {
      "description": "A JSON object containing information about the request, such as filters for the resulting actions.",
      "type": "object",
      "properties": {
        "filters": {
          "description": "A key-value object consisting of filters that may be specified to limit the results returned by the API.",
          "$ref": "#/definitions/Filters"
        }
      }
    },
    "Filters": {
      "description": "A key-value object consisting of filters that may be specified to limit the results returned by the API. Current available filters: site.",
      "type": "object",
      "properties": {
        "site": {
          "description": "The URL of the site to return similar images and similar products from. (e.g., \"www.bing.com\", \"bing.com\").",
          "type": "string"
        }
      }
    }
  }
}
