{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ChangeSafety management service",
    "version": "2025-03-01-preview",
    "description": "Microsoft.ChangeSafety Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StageMaps"
    },
    {
      "name": "ChangeStates"
    },
    {
      "name": "StageProgressions"
    }
  ],
  "paths": {
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/changeStates": {
      "get": {
        "operationId": "ChangeStates_ListByManagementGroup",
        "tags": [
          "ChangeStates"
        ],
        "description": "List ChangeState resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_ListByManagementGroup_MaximumSet": {
            "$ref": "./examples/ChangeStates_ListByManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}": {
      "get": {
        "operationId": "ChangeStates_GetAtManagementGroupLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Get a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_GetAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_GetAtManagementGroupLevel.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeStates_CreateOrUpdateAtManagementGroupLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Create a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeState' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "201": {
            "description": "Resource 'ChangeState' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_CreateOrUpdateAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_CreateOrUpdateAtManagementGroupLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeStates_UpdateAtManagementGroupLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Update a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_UpdateAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_UpdateAtManagementGroupLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeStates_DeleteAtManagementGroupLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Delete a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_DeleteAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_DeleteAtManagementGroupLevel.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/retrieveNextStages": {
      "post": {
        "operationId": "ChangeStates_RetrieveNextStagesAtManagementGroupLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Gets list of next stages that are eligible to put in 'InProgress' state in a changestate resource at management group level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveNextStagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_RetrieveNextStagesAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_RetrieveNextStagesAtManagementGroupLevel.json"
          }
        }
      }
    },
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions": {
      "get": {
        "operationId": "StageProgressions_ListByParentAtManagementGroupLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "List StageProgression resources by ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgressionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_ListByParentAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_ListByParentAtManagementGroupLevel.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions/{stageProgressionName}": {
      "put": {
        "operationId": "StageProgressions_CreateOrUpdateAtManagementGroupLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Create a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageProgression' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "201": {
            "description": "Resource 'StageProgression' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_CreateOrUpdateAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_CreateOrUpdateAtManagementGroupLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "StageProgressions_UpdateAtManagementGroupLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Update a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgressionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_UpdateAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_UpdateAtManagementGroupLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "StageProgressions_DeleteAtManagementGroupLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Delete a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_DeleteAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_DeleteAtManagementGroupLevel.json"
          }
        }
      }
    },
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/verifyChangeValidity": {
      "post": {
        "operationId": "ChangeStates_VerifyChangeValidityAtManagementGroupLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Verify the change validity at management group level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyChangeValidityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VerifyChangeValidityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_VerifyChangeValidityAtManagementGroupLevel": {
            "$ref": "./examples/ChangeStates_VerifyChangeValidityAtManagementGroupLevel.json"
          }
        }
      }
    },
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/stageMaps": {
      "get": {
        "operationId": "StageMaps_ListByManagementGroup",
        "tags": [
          "StageMaps"
        ],
        "description": "List StageMap resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_ListByManagementGroup_MaximumSet": {
            "$ref": "./examples/StageMaps_ListByManagementGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/managementGroups/{managementGroupName}/providers/Microsoft.ChangeSafety/stageMaps/{stageMapName}": {
      "get": {
        "operationId": "StageMaps_GetAtManagementGroupLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Get a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_GetAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/StageMaps_GetAtManagementGroupLevel.json"
          }
        }
      },
      "put": {
        "operationId": "StageMaps_CreateOrUpdateAtManagementGroupLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Create a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageMap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "201": {
            "description": "Resource 'StageMap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_CreateOrUpdateAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/StageMaps_CreateOrUpdateAtManagementGroupLevel.json"
          }
        }
      },
      "patch": {
        "operationId": "StageMaps_UpdateAtManagementGroupLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Update a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMapUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_UpdateAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/StageMaps_UpdateAtManagementGroupLevel.json"
          }
        }
      },
      "delete": {
        "operationId": "StageMaps_DeleteAtManagementGroupLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Delete a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ManagementGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_DeleteAtManagementGroupLevel_MaximumSet": {
            "$ref": "./examples/StageMaps_DeleteAtManagementGroupLevel.json"
          }
        }
      }
    },
    "/providers/Microsoft.ChangeSafety/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates": {
      "get": {
        "operationId": "ChangeStates_ListBySubscription",
        "tags": [
          "ChangeStates"
        ],
        "description": "List ChangeState resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_ListBySubscription_MaximumSet": {
            "$ref": "./examples/ChangeStates_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}": {
      "get": {
        "operationId": "ChangeStates_GetAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Get a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_GetAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_GetAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeStates_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Create a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeState' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "201": {
            "description": "Resource 'ChangeState' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_CreateOrUpdateAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_CreateOrUpdateAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeStates_UpdateAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Update a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_UpdateAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_UpdateAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeStates_DeleteAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Delete a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_DeleteAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_DeleteAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/retrieveNextStages": {
      "post": {
        "operationId": "ChangeStates_RetrieveNextStagesAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Gets list of next stages that are eligible to put in 'InProgress' state in a changestate resource at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveNextStagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_RetrieveNextStagesAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_RetrieveNextStagesAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions": {
      "get": {
        "operationId": "StageProgressions_ListByParentAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "List StageProgression resources by ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgressionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_ListByParentAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_ListByParentAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions/{stageProgressionName}": {
      "put": {
        "operationId": "StageProgressions_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Create a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageProgression' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "201": {
            "description": "Resource 'StageProgression' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_CreateOrUpdateAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_CreateOrUpdateAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "StageProgressions_UpdateAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Update a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgressionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_UpdateAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_UpdateAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "StageProgressions_DeleteAtSubscriptionLevel",
        "tags": [
          "StageProgressions"
        ],
        "description": "Delete a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_DeleteAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageProgressions_DeleteAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/verifyChangeValidity": {
      "post": {
        "operationId": "ChangeStates_VerifyChangeValidityAtSubscriptionLevel",
        "tags": [
          "ChangeStates"
        ],
        "description": "Verify the change validity at subscription level.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyChangeValidityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VerifyChangeValidityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_VerifyChangeValidityAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/ChangeStates_VerifyChangeValidityAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/stageMaps": {
      "get": {
        "operationId": "StageMaps_ListBySubscription",
        "tags": [
          "StageMaps"
        ],
        "description": "List StageMap resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_ListBySubscription_MaximumSet": {
            "$ref": "./examples/StageMaps_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ChangeSafety/stageMaps/{stageMapName}": {
      "get": {
        "operationId": "StageMaps_GetAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Get a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_GetAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageMaps_GetAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "StageMaps_CreateOrUpdateAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Create a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageMap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "201": {
            "description": "Resource 'StageMap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_CreateOrUpdateAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageMaps_CreateOrUpdateAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "StageMaps_UpdateAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Update a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMapUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_UpdateAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageMaps_UpdateAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "StageMaps_DeleteAtSubscriptionLevel",
        "tags": [
          "StageMaps"
        ],
        "description": "Delete a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_DeleteAtSubscriptionLevel_MaximumSet": {
            "$ref": "./examples/StageMaps_DeleteAtSubscriptionLevel_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates": {
      "get": {
        "operationId": "ChangeStates_ListByResourceGroup",
        "tags": [
          "ChangeStates"
        ],
        "description": "List ChangeState resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/ChangeStates_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}": {
      "get": {
        "operationId": "ChangeStates_Get",
        "tags": [
          "ChangeStates"
        ],
        "description": "Get a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Get_MaximumSet": {
            "$ref": "./examples/ChangeStates_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "ChangeStates_CreateOrUpdate",
        "tags": [
          "ChangeStates"
        ],
        "description": "Create a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ChangeState' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "201": {
            "description": "Resource 'ChangeState' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/ChangeStates_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "ChangeStates_Update",
        "tags": [
          "ChangeStates"
        ],
        "description": "Update a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ChangeStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ChangeState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Update_MaximumSet": {
            "$ref": "./examples/ChangeStates_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "ChangeStates_Delete",
        "tags": [
          "ChangeStates"
        ],
        "description": "Delete a ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_Delete_MaximumSet": {
            "$ref": "./examples/ChangeStates_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/retrieveNextStages": {
      "post": {
        "operationId": "ChangeStates_RetrieveNextStages",
        "tags": [
          "ChangeStates"
        ],
        "description": "Gets list of next stages that are eligible to put in 'InProgress' state in a changestate resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveNextStagesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_RetrieveNextStages_MaximumSet": {
            "$ref": "./examples/ChangeStates_RetrieveNextStages_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions": {
      "get": {
        "operationId": "StageProgressions_ListByParent",
        "tags": [
          "StageProgressions"
        ],
        "description": "List StageProgression resources by ChangeState",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgressionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_ListByParent_MaximumSet": {
            "$ref": "./examples/StageProgressions_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/stageProgressions/{stageProgressionName}": {
      "get": {
        "operationId": "StageProgressions_Get",
        "tags": [
          "StageProgressions"
        ],
        "description": "Get a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Get_MaximumSet": {
            "$ref": "./examples/StageProgressions_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "StageProgressions_CreateOrUpdate",
        "tags": [
          "StageProgressions"
        ],
        "description": "Create a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageProgression' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "201": {
            "description": "Resource 'StageProgression' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/StageProgressions_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "StageProgressions_Update",
        "tags": [
          "StageProgressions"
        ],
        "description": "Update a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageProgressionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageProgression"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Update_MaximumSet": {
            "$ref": "./examples/StageProgressions_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "StageProgressions_Delete",
        "tags": [
          "StageProgressions"
        ],
        "description": "Delete a StageProgression",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "stageProgressionName",
            "in": "path",
            "description": "name of the stageProgression",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-|]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageProgressions_Delete_MaximumSet": {
            "$ref": "./examples/StageProgressions_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/changeStates/{changeStateName}/verifyChangeValidity": {
      "post": {
        "operationId": "ChangeStates_VerifyChangeValidity",
        "tags": [
          "ChangeStates"
        ],
        "description": "Verify the change validity.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "changeStateName",
            "in": "path",
            "description": "The name of the ChangeState resource.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VerifyChangeValidityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VerifyChangeValidityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ChangeStates_VerifyChangeValidity_MaximumSet": {
            "$ref": "./examples/ChangeStates_VerifyChangeValidity_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/stageMaps": {
      "get": {
        "operationId": "StageMaps_ListByResourceGroup",
        "tags": [
          "StageMaps"
        ],
        "description": "List StageMap resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_ListByResourceGroup_MaximumSet": {
            "$ref": "./examples/StageMaps_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ChangeSafety/stageMaps/{stageMapName}": {
      "get": {
        "operationId": "StageMaps_Get",
        "tags": [
          "StageMaps"
        ],
        "description": "Get a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Get_MaximumSet": {
            "$ref": "./examples/StageMaps_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "StageMaps_CreateOrUpdate",
        "tags": [
          "StageMaps"
        ],
        "description": "Create a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StageMap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "201": {
            "description": "Resource 'StageMap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_CreateOrUpdate_MaximumSet": {
            "$ref": "./examples/StageMaps_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "StageMaps_Update",
        "tags": [
          "StageMaps"
        ],
        "description": "Update a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StageMapUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StageMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Update_MaximumSet": {
            "$ref": "./examples/StageMaps_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "StageMaps_Delete",
        "tags": [
          "StageMaps"
        ],
        "description": "Delete a StageMap",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "stageMapName",
            "in": "path",
            "description": "The name of the StageMap",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 100,
            "pattern": "^[a-zA-Z0-9-]{3,100}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StageMaps_Delete_MaximumSet": {
            "$ref": "./examples/StageMaps_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ArmOperation": {
      "type": "string",
      "description": "Supported ARM Operations.",
      "enum": [
        "DELETE",
        "PUT",
        "PATCH"
      ],
      "x-ms-enum": {
        "name": "ArmOperation",
        "modelAsString": true,
        "values": [
          {
            "name": "DELETE",
            "value": "DELETE",
            "description": "DELETE ARM Operation."
          },
          {
            "name": "PUT",
            "value": "PUT",
            "description": "PUT ARM Operation."
          },
          {
            "name": "PATCH",
            "value": "PATCH",
            "description": "PATCH ARM Operation."
          }
        ]
      }
    },
    "ArmOperationArtifactContent": {
      "type": "object",
      "description": "Artifact model when artifactType is ArmOperation.",
      "properties": {
        "operations": {
          "type": "array",
          "description": "Arm Operation Array.",
          "items": {
            "$ref": "#/definitions/ArmResourceOperation"
          },
          "x-ms-identifiers": [
            "uri"
          ],
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "operations"
      ]
    },
    "ArmOperationChangeArtifact": {
      "type": "object",
      "description": "Describes the change payload for artifactType='ArmOperation'",
      "properties": {
        "artifactPayload": {
          "$ref": "#/definitions/ArmOperationArtifactContent",
          "description": "The actual payload content.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "artifactPayload"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ChangeArtifact"
        }
      ],
      "x-ms-discriminator-value": "ArmOperation"
    },
    "ArmResourceOperation": {
      "type": "object",
      "description": "Artifact content model for Inline ArmOperations.",
      "properties": {
        "uri": {
          "type": "string",
          "format": "uri",
          "description": "The uri of the operation.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "httpMethod": {
          "$ref": "#/definitions/ArmOperation",
          "description": "The http method of the operation.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "content": {
          "$ref": "#/definitions/OperationContent",
          "description": "The resource operation content.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "uri",
        "httpMethod"
      ]
    },
    "ArtifactType": {
      "type": "string",
      "description": "Defines the type of change artifact.",
      "enum": [
        "InlineArmTemplate",
        "InlineBicep",
        "ArmOperation",
        "ExternalArmTemplate",
        "ExternalBicep",
        "TemplateSpec"
      ],
      "x-ms-enum": {
        "name": "ArtifactType",
        "modelAsString": true,
        "values": [
          {
            "name": "InlineArmTemplate",
            "value": "InlineArmTemplate",
            "description": "Artifact is in the format of an ARM template specified inline."
          },
          {
            "name": "InlineBicep",
            "value": "InlineBicep",
            "description": "Artifact is in the format of inline Bicep file."
          },
          {
            "name": "ArmOperation",
            "value": "ArmOperation",
            "description": "Artifact is in the format of ARM API operations."
          },
          {
            "name": "ExternalArmTemplate",
            "value": "ExternalArmTemplate",
            "description": "Artifact is in the format of URI to an ArmTemplate stored in blob or other location."
          },
          {
            "name": "ExternalBicep",
            "value": "ExternalBicep",
            "description": "Artifact is in the format of URI to an Bicep stored in blob or other location."
          },
          {
            "name": "TemplateSpec",
            "value": "TemplateSpec",
            "description": "Artifact is in the format of TemplateSpec."
          }
        ]
      }
    },
    "ChangeArtifact": {
      "type": "object",
      "description": "Base type for the ChangeArtifact, which is polymorphic based on ArtifactType",
      "properties": {
        "name": {
          "type": "string",
          "description": "Artifact label.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "artifactType": {
          "$ref": "#/definitions/ArtifactType",
          "description": "The type of the artifact.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "discriminator": "artifactType",
      "required": [
        "name",
        "artifactType"
      ]
    },
    "ChangeState": {
      "type": "object",
      "description": "Resource allows the user to define the change that they intended to execute & indicate the progression it will use.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ChangeStateProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ChangeStateListResult": {
      "type": "object",
      "description": "The response of a ChangeState list operation.",
      "properties": {
        "value": {
[...]
