{
  "swagger": "2.0",
  "info": {
    "version": "2020-05-01",
    "title": "Microsoft.Azure.AMH.WebRole.V2020_05_01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "parameters": {
    "migrateProjectName": {
      "name": "migrateProjectName",
      "description": "Migrate project name.",
      "in": "path",
      "x-ms-parameter-location": "method",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9-]{3,24}$"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}": {
      "get": {
        "summary": "Get a specific project.",
        "description": "Get information related to a specific migrate project. Returns a json object of type 'migrateProject' as specified in the models section.",
        "tags": [
          "MigrateProjectsController"
        ],
        "operationId": "MigrateProjectsController_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProject_Get": {
            "$ref": "./examples/migrateProject_Get.json"
          },
          "MigrateProjectsController_Get_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Get_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_Get_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Get_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "MigrateProjectsController"
        ],
        "summary": "Create or update a new project with specified settings.",
        "description": "Create or update a new project by sending a json object of type 'migrateproject' as given in Models section as part of the Request Body. The project name is unique.\n\nThis operation is Idempotent.\n",
        "operationId": "MigrateProjectsController_Create",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "body",
            "description": "Migrate project body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          "201": {
            "description": "ARM create or update operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProject_Put": {
            "$ref": "./examples/migrateProject_Create.json"
          },
          "MigrateProjectsController_Create_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Create_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_Create_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Create_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "MigrateProjectsController"
        ],
        "summary": "Delete the project",
        "description": "Delete the migrate project. It deletes summary of the project.",
        "operationId": "MigrateProjectsController_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No content. No project with specified name was found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProject_Delete": {
            "$ref": "./examples/migrateProject_Delete.json"
          },
          "MigrateProjectsController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Delete_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Delete_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "MigrateProjectsController"
        ],
        "summary": "Update project.",
        "description": "Update a project with specified name. Supports partial updates, for example only tags can be provided.",
        "operationId": "MigrateProjectsController_Update",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "body",
            "description": "Migrate project body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrateProject"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MigrateProject_Patch": {
            "$ref": "./examples/migrateProject_Patch.json"
          },
          "MigrateProjectsController_Update_MaximumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Update_MaximumSet_Gen.json"
          },
          "MigrateProjectsController_Update_MinimumSet_Gen": {
            "$ref": "./examples/MigrateProjectsController_Update_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "summary": "Get the private endpoint connections.",
        "description": "Get all the private endpoint connections under a migrate project.",
        "operationId": "PrivateEndpointConnectionController_ListPrivateEndpointConnections",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_ListByProject": {
            "$ref": "./examples/PrivateEndpointConnections_ListByProject.json"
          },
          "PrivateEndpointConnectionController_ListPrivateEndpointConnections_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_ListPrivateEndpointConnections_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionController_ListPrivateEndpointConnections_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_ListPrivateEndpointConnections_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnections/{peConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "summary": "Get the private endpoint.",
        "description": "Get the private endpoint with the specified name.",
        "operationId": "PrivateEndpointConnectionController_GetPrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Get": {
            "$ref": "./examples/PrivateEndpointConnection_Get.json"
          },
          "PrivateEndpointConnectionController_GetPrivateEndpointConnection_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_GetPrivateEndpointConnection_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionController_GetPrivateEndpointConnection_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_GetPrivateEndpointConnection_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "summary": "Create or update private endpoint.",
        "description": "Create or update a private endpoint with specified name. If a private endpoint already exists, update it.",
        "operationId": "PrivateEndpointConnectionController_PutPrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Modify connection state body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ModifyConnectionStateBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "ARM create or update operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Put": {
            "$ref": "./examples/PrivateEndpointConnections_Create.json"
          },
          "PrivateEndpointConnectionController_PutPrivateEndpointConnection_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_PutPrivateEndpointConnection_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionController_PutPrivateEndpointConnection_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_PutPrivateEndpointConnection_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnectionController"
        ],
        "summary": "Delete the endpoint",
        "description": "Delete the private endpoint. Deleting non-existent private endpoint is a no-operation.",
        "operationId": "PrivateEndpointConnectionController_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "peConnectionName",
            "description": "Private endpoint connection name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No content. No private endpoint with specified name was found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Delete": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          },
          "PrivateEndpointConnectionController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_Delete_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionController_Delete_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnectionProxies": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Get the private endpoint connection proxies.",
        "description": "Get all the private endpoint connections proxies under a migrate project.",
        "operationId": "PrivateEndpointConnectionProxyController_ListPrivateEndpointConnectionProxies",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnectionProxies/{pecProxyName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Get the list of private link proxy resources.",
        "description": "Get the list of private link proxy resources.",
        "operationId": "PrivateEndpointConnectionProxyController_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "pecProxyName",
            "description": "Private link proxy name.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_Get": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Get.json"
          },
          "PrivateEndpointConnectionProxyController_Get_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Get_MaximumSet_Gen.json"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Create or update private endpoint proxy.",
        "description": "Create or update a private endpoint proxy with specified name. If a private endpoint already exists, update it.",
        "operationId": "PrivateEndpointConnectionProxyController_Create",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "pecProxyName",
            "description": "Private endpoint proxy name.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Modify private endpoint proxy state body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM create or update operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "201": {
            "description": "ARM create or update operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_Create": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Create.json"
          },
          "PrivateEndpointConnectionProxyController_Create_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Create_MaximumSet_Gen.json"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Delete the private endpoint proxy",
        "description": "Delete the private endpoint proxy. Deleting non-existent private endpoint proxy is a no-operation.",
        "operationId": "PrivateEndpointConnectionProxyController_Delete",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "pecProxyName",
            "description": "Private endpoint proxy name.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No content. No private endpoint proxy with specified name was found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_Delete": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Delete.json"
          },
          "PrivateEndpointConnectionProxyController_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Delete_MaximumSet_Gen.json"
          },
          "PrivateEndpointConnectionProxyController_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Delete_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateEndpointConnectionProxies/{pecProxyName}/validate": {
      "post": {
        "tags": [
          "PrivateEndpointConnectionProxyController"
        ],
        "summary": "Validates private endpoint connection proxy.",
        "description": "Validates private endpoint connection proxy",
        "operationId": "PrivateEndpointConnectionProxyController_Validate",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "pecProxyName",
            "description": "Private link proxy name.",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Validate proxy connection state body.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyRequestBody"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnectionProxyController_Validate": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Validate.json"
          },
          "PrivateEndpointConnectionProxyController_Validate_MaximumSet_Gen": {
            "$ref": "./examples/PrivateEndpointConnectionProxyController_Validate_MaximumSet_Gen.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "tags": [
          "PrivateLinkResourceController"
        ],
        "summary": "Get the private link resource.",
        "description": "Get the private link resource with the specified name.",
        "operationId": "PrivateLinkResourceController_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "name": "privateLinkResourceName",
            "description": "Private Link resource name.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_Get": {
            "$ref": "./examples/PrivateLinkResources_Get.json"
          },
          "PrivateLinkResourceController_Get_MaximumSet_Gen": {
            "$ref": "./examples/PrivateLinkResourceController_Get_MaximumSet_Gen.json"
          },
          "PrivateLinkResourceController_Get_MinimumSet_Gen": {
            "$ref": "./examples/PrivateLinkResourceController_Get_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResourceController"
        ],
        "summary": "Get the list of private link resources.",
        "description": "Get the list of private link resources.",
        "operationId": "PrivateLinkResourceController_ListPrivateLinkResources",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/migrateProjectName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PrivateLinkResources_ListBySite": {
            "$ref": "./examples/PrivateLinkResources_ListByProject.json"
          },
          "PrivateLinkResourceController_ListPrivateLinkResources_MaximumSet_Gen": {
            "$ref": "./examples/PrivateLinkResourceController_ListPrivateLinkResources_MaximumSet_Gen.json"
          },
          "PrivateLinkResourceController_ListPrivateLinkResources_MinimumSet_Gen": {
            "$ref": "./examples/PrivateLinkResourceController_ListPrivateLinkResources_MinimumSet_Gen.json"
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Migrate/migrateProjects": {
      "get": {
        "summary": "Get all migrate projects.",
        "description": "Get all the migrate projects in the subscription.",
        "operationId": "Projects_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/ProjectResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Projects_ListBySubscription": {
            "$ref": "./examples/migrateProjectsInSubscription_List.json"
          },
          "Projects_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Projects_ListBySubscription_MaximumSet_Gen.json"
          },
          "Projects_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Projects_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects": {
      "get": {
        "summary": "Get all migrate projects.",
        "description": "Get all the migrate projects in the resource group.",
        "operationId": "Projects_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/ProjectResultList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Projects_List": {
            "$ref": "./examples/migrateProjects_List.json"
          },
          "Projects_List_MaximumSet_Gen": {
            "$ref": "./examples/Projects_List_MaximumSet_Gen.json"
          },
          "Projects_List_MinimumSet_Gen": {
            "$ref": "./examples/Projects_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/Microsoft.Migrate/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Get list of operations supported in the API.",
        "description": "Get a list of REST API supported by Microsoft.Migrate provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          },
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "MigrateProject": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "Migrate project.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrateProjectProperties"
        },
        "eTag": {
          "type": "string",
          "description": "For optimistic concurrency control."
        },
        "location": {
          "type": "string",
          "description": "Azure location in which project is created.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "id": {
          "type": "string",
          "description": "Path reference to this project /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{projectName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the project.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of the object = [Microsoft.Migrate/migrateProjects].",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "MigrateProjectProperties": {
      "type": "object",
      "description": "Properties of a migrate project.",
      "properties": {
        "registeredTools": {
          "type": "array",
          "description": "Register tools inside project.",
          "items": {
            "enum": [
              "ServerDiscovery",
              "ServerAssessment",
              "ServerMigration",
              "Cloudamize",
              "Turbonomic",
              "Zerto",
              "CorentTech",
              "ServerAssessmentV1",
              "ServerMigration_Replication",
              "Carbonite",
              "DataMigrationAssistant",
              "DatabaseMigrationService",
              "Device42",
              "JetStream",
              "RackWare",
              "UnifyCloud",
              "Flexera",
              "ServerDiscovery_Import",
              "Lakeside",
              "AppServiceMigrationAssistant",
              "Movere",
              "CloudSphere",
              "Unknown"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "items",
              "modelAsString": true
            }
          },
          "readOnly": true
        },
        "serviceEndpoint": {
          "type": "string",
          "description": "Service endpoint."
        },
        "summary": {
          "type": "object",
          "description": "Project summary.",
          "additionalProperties": {
            "$ref": "#/definitions/ProjectSummary"
          },
          "readOnly": true
        },
        "lastSummaryRefreshedTime": {
          "format": "date-time",
          "type": "string",
          "description": "Last summary refresh time.",
          "readOnly": true
        },
        "refreshSummaryState": {
          "enum": [
            "Started",
            "InProgress",
            "Completed",
            "Failed"
          ],
          "type": "string",
          "description": "Refresh summary state.",
          "readOnly": true,
          "x-ms-enum": {
            "name": "refreshSummaryState",
            "modelAsString": true
          }
        },
        "utilityStorageAccountId": {
          "type": "string",
          "description": "Utility storage account id."
        },
        "publicNetworkAccess": {
          "description": "Gets or sets the state of public network access.",
          "enum": [
            "NotSpecified",
            "Enabled",
            "Disabled"
          ],
          "type": "string"
        },
        "privateEndpointConnections": {
          "description": "Gets the private endpoint connections.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnection": {
      "description": "REST model used to encapsulate the user visible state of a PrivateEndpoint.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "Relative URL to get this Sites.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Gets the name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Gets the resource type.",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "description": "Gets the tag for optimistic concurrency control.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Gets the properties of the object.",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/systemData",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of a private endpoint connection.",
      "properties": {
        "provisioningState": {
          "enum": [
            "Accepted",
            "InProgress",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "description": "Provisioning state.",
          "readOnly": true
        },
        "privateEndpoint": {
          "$ref": "#/definitions/ResourceId",
          "readOnly": true
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "Gets the properties of the object."
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "Private endpoint connection state.",
      "properties": {
        "status": {
          "enum": [
            "Approved",
            "Pending",
            "Rejected",
            "Disconnected"
          ],
          "type": "string",
          "description": "Private link connection state.",
          "x-ms-enum": {
            "name": "status",
            "modelAsString": true
          }
        },
        "description": {
          "type": "string",
          "description": "Description of the object."
        },
        "actionsRequired": {
          "type": "string",
          "description": "Action required."
        }
      }
    },
    "ResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionCollection": {
      "description": "Collection of PrivateLink resources.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of machines.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Gets the value of next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "Private link resource.",
      "properties": {
        "id": {
          "description": "Relative URL to get this Sites.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Gets the name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Gets the resource type.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "Gets nested properties.",
          "readOnly": true
        }
      }
    },
    "PrivateLinkResourceCollection": {
      "description": "Collection of private link resources.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of private links.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Value of next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ProjectSummary": {
      "type": "object",
      "description": "Project summary.",
      "properties": {
        "instanceType": {
          "type": "string",
          "description": "Instance type.",
          "readOnly": true
        },
        "refreshSummaryState": {
          "enum": [
            "Started",
            "InProgress",
            "Completed",
            "Failed"
          ],
          "type": "string",
          "description": "Refresh summary state."
        },
        "lastSummaryRefreshedTime": {
          "format": "date-time",
          "type": "string",
          "description": "Last summary refresh time."
        },
        "extendedSummary": {
          "type": "object",
          "description": "Extended summary.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ModifyConnectionStateBody": {
      "type": "object",
      "description": "Modify connection state body.",
      "properties": {
        "eTag": {
          "description": "Gets the tag for optimistic concurrency control.",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/ConnectionStateRequestBodyProperties"
        }
      }
    },
    "ConnectionStateRequestBodyProperties": {
      "type": "object",
      "description": "Properties of Connection state request.",
      "properties": {
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState"
        }
      }
    },
    "PrivateEndpointConnectionProxyCollection": {
      "description": "Collection of PrivateLink proxy resources.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets the list of PrivateLink proxy resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnectionProxy"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Gets the value of next link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnectionProxy": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "type": "string"
        },
        "properties": {
          "remotePrivateEndpoint": {
            "$ref": "#/definitions/PrivateEndpointDetails",
            "readOnly": true
          },
          "status": {
            "enum": [
              "Succeeded",
              "Failed",
              "Cancelled",
              "Running"
            ],
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "PrivateEndpointConnectionProxyRequestBody": {
      "type": "object",
      "properties": {
        "remotePrivateEndpoint": {
          "$ref": "#/definitions/PrivateEndpointDetails"
        }
      }
    },
    "PrivateEndpointDetails": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "manualPrivateLinkServiceConnections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          }
        },
        "privateLinkServiceConnections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          }
        },
        "privateLinkServiceProxies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceProxy"
          }
        },
        "connectionDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IpConfiguration"
          }
        }
      }
    },
    "PrivateLinkServiceConnection": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "groupIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestMessage": {
          "type": "string"
        }
      }
    },
    "PrivateLinkServiceProxy": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "groupConnectivityInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupConnectivityInformation"
          }
        },
        "remotePrivateEndpointConnection": {
          "$ref": "#/definitions/ResourceId"
        },
        "remotePrivateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState"
        }
      }
    },
    "IpConfiguration": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "privateIpAddress": {
          "type": "string"
        },
        "linkIdentifier": {
          "type": "string"
        },
        "groupId": {
          "type": "string"
        },
        "memberName": {
          "type": "string"
        }
      }
    },
    "GroupConnectivityInformation": {
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string"
        },
        "memberName": {
          "type": "string"
        },
        "customerVisibleFqdns": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "internalFqdn": {
          "type": "string"
        },
        "redirectMapId": {
          "type": "string"
        },
        "privateLinkServiceArmRegion": {
          "type": "string"
        }
      }
    },
    "AvailableOperations": {
      "description": "Available operations of the service",
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of available operation details",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationDetail"
          }
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "OperationDetail": {
      "description": "Operation detail payload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Resource of the operation",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "PrivateLinkResourceProperties": {
      "type": "object",
      "description": "Properties of private link resource.",
      "properties": {
        "requiredMembers": {
          "type": "array",
          "description": "Required members.",
          "items": {
            "type": "string"
          }
        },
        "requiredZoneNames": {
          "type": "array",
          "description": "Required zone names.",
          "items": {
            "type": "string"
          }
        },
        "groupId": {
          "description": "Group id.",
          "type": "string"
        }
      }
    },
    "ProjectResultList": {
      "type": "object",
      "description": "List of projects.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of projects.",
          "items": {
            "$ref": "#/definitions/MigrateProject"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "systemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The type of identity that last modified the resource."
        }
      }
    }
  }
}