{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB - Managed Cassandra",
    "description": "Azure Cosmos DB Database Service Managed Cassandra REST API",
    "version": "2022-11-15"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
"paths": {
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairStatus": {
    "post": {
      "tags": [
        "ClusterRepairStatus"
      ],
      "operationId": "GetRepairClusterStatus",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraReaperClusterStatus"
              }
            }
          }
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairTables": {
    "post": {
      "tags": [
        "ClusterRepairTableStatus"
      ],
      "operationId": "GetRepairTableStatus",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns": {
    "post": {
      "tags": [
        "RepairRunCreate"
      ],
      "operationId": "CreateRepairRun",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "requestBody": {
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/CassandraClusterRepairPublicResource"
            }
          },
          "text/json": {
            "schema": {
              "$ref": "#/components/schemas/CassandraClusterRepairPublicResource"
            }
          },
          "application/*+json": {
            "schema": {
              "$ref": "#/components/schemas/CassandraClusterRepairPublicResource"
            }
          }
        }
      },
      "responses": {
        "200": {
          "description": "Success",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraReaperRunStatus"
              }
            }
          }
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns/{repairRunId}": {
    "delete": {
      "tags": [
        "RepairRunDelete"
      ],
      "operationId": "DeleteRepairRun",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repairRunId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns/list": {
    "post": {
      "tags": [
        "RepairRunList"
      ],
      "operationId": "ListRepairRuns",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraReaperRunStatusResourceFeedResponse"
              }
            }
          }
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns/{repairRunId}/pause": {
    "post": {
      "tags": [
        "RepairRunPause"
      ],
      "operationId": "PauseRepairRun",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repairRunId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns/{repairRunId}/resume": {
    "post": {
      "tags": [
        "RepairRunResume"
      ],
      "operationId": "ResumeRepairRun",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repairRunId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns/{repairRunId}/segments": {
    "post": {
      "tags": [
        "RepairRunSegmentsList"
      ],
      "operationId": "ListRepairSegments",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repairRunId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraRepairSegmentResourceFeedResponse"
              }
            }
          }
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns/{repairRunId}/show": {
    "post": {
      "tags": [
        "RepairRunShow"
      ],
      "operationId": "ShowRepairRun",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repairRunId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CassandraReaperRunStatus"
              }
            }
          }
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns/{repairRunId}/segments/{segmentId}/abort": {
    "post": {
      "tags": [
        "RepairSegmentAbort"
      ],
      "operationId": "AbortSegment",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repairRunId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "segmentId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success"
        }
      }
    }
  },
  "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/cassandraClusters/{cassandraClusterResource}/repairRuns/{repairRunId}/intensity/{intensityValue}": {
    "post": {
      "tags": [
        "RepairUpdateIntensity"
      ],
      "operationId": "UpdateRepairIntensity",
      "parameters": [
        {
          "name": "subscriptionId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "resourceGroupName",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "cassandraClusterResource",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "repairRunId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "intensityValue",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "responses": {
        "200": {
          "description": "Success"
        }
      }
    }
  }
},
"components": {
  "schemas": {
    "CassandraClusterRepairPublicProperties": {
      "type": "object",
      "properties": {
        "keyspace": {
          "type": "string",
          "nullable": true
        },
        "owner": {
          "type": "string",
          "nullable": true
        },
        "cause": {
          "type": "string",
          "nullable": true
        },
        "tables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "segmentCount": {
          "type": "integer",
          "format": "int32",
          "nullable": true
        },
        "repairParallelism": {
          "type": "string",
          "nullable": true
        },
        "intensity": {
          "type": "number",
          "format": "double",
          "nullable": true
        },
        "incrementalRepair": {
          "type": "boolean",
          "nullable": true
        },
        "nodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "dataCenters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "blackListedTables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "repairThreadCount": {
          "type": "integer",
          "format": "int32",
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraClusterRepairPublicResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "nullable": true
        },
        "name": {
          "type": "string",
          "nullable": true
        },
        "type": {
          "type": "string",
          "nullable": true
        },
        "properties": {
          "$ref": "#/components/schemas/CassandraClusterRepairPublicProperties"
        }
      },
      "additionalProperties": false
    },
    "CassandraReaperClusterStatus": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "nullable": true
        },
        "jmxUserName": {
          "type": "string",
          "nullable": true
        },
        "jmxPasswordIsSet": {
          "type": "boolean"
        },
        "seedHosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "repairRuns": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CassandraReaperRunStatus"
          },
          "nullable": true
        },
        "repairSchedules": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CassandraReaperScheduleStatus"
          },
          "nullable": true
        },
        "nodesStatus": {
          "$ref": "#/components/schemas/CassandraReaperNodeStatus"
        }
      },
      "additionalProperties": false
    },
    "CassandraReaperEndpointState": {
      "type": "object",
      "properties": {
        "endpoint": {
          "type": "string",
          "nullable": true
        },
        "hostId": {
          "type": "string",
          "nullable": true
        },
        "dataCenter": {
          "type": "string",
          "nullable": true
        },
        "rack": {
          "type": "string",
          "nullable": true
        },
        "status": {
          "type": "string",
          "nullable": true
        },
        "severity": {
          "type": "number",
          "format": "double"
        },
        "releaseVersion": {
          "type": "string",
          "nullable": true
        },
        "tokens": {
          "type": "string",
          "nullable": true
        },
        "load": {
          "type": "number",
          "format": "double"
        },
        "type": {
          "type": "string",
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraReaperGossipInfo": {
      "type": "object",
      "properties": {
        "sourceNode": {
          "type": "string",
          "nullable": true
        },
        "endpoints": {
          "type": "object",
          "additionalProperties": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CassandraReaperEndpointState"
              }
            }
          },
          "nullable": true
        },
        "totalLoad": {
          "type": "number",
          "format": "double"
        },
        "endpointNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraReaperNodeStatus": {
      "type": "object",
      "properties": {
        "endpointStates": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CassandraReaperGossipInfo"
          },
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraReaperRunStatus": {
      "type": "object",
      "properties": {
        "cause": {
          "type": "string",
          "nullable": true
        },
        "owner": {
          "type": "string",
          "nullable": true
        },
        "id": {
          "type": "string",
          "nullable": true
        },
        "clusterName": {
          "type": "string",
          "nullable": true
        },
        "columnFamilies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "keyspaceName": {
          "type": "string",
          "nullable": true
        },
        "repairState": {
          "type": "string",
          "nullable": true
        },
        "intensity": {
          "type": "number",
          "format": "double"
        },
        "incrementalRepair": {
          "type": "boolean"
        },
        "totalSegments": {
          "type": "integer",
          "format": "int32"
        },
        "repairParallelism": {
          "type": "string",
          "nullable": true
        },
        "segmentsRepaired": {
          "type": "integer",
          "format": "int32"
        },
        "lastEvent": {
          "type": "string",
          "nullable": true
        },
        "duration": {
          "type": "string",
          "nullable": true
        },
        "nodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "datacenters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "blacklistedTables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "repairThreadCount": {
          "type": "integer",
          "format": "int32"
        },
        "repairUnitId": {
          "type": "string",
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraReaperRunStatusResourceFeedResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CassandraReaperRunStatus"
          },
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraReaperScheduleStatus": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "nullable": true
        },
        "owner": {
          "type": "string",
          "nullable": true
        },
        "state": {
          "type": "string",
          "nullable": true
        },
        "intensity": {
          "type": "number",
          "format": "double"
        },
        "clusterName": {
          "type": "string",
          "nullable": true
        },
        "keyspaceName": {
          "type": "string",
          "nullable": true
        },
        "columnFamilies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "repairParallelism": {
          "type": "string",
          "nullable": true
        },
        "incrementalRepair": {
          "type": "boolean"
        },
        "scheduledDaysBetween": {
          "type": "integer",
          "format": "int32"
        },
        "nodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "datacenters": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "blacklistedTables": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "nullable": true
        },
        "segmentCountPerNode": {
          "type": "integer",
          "format": "int32"
        },
        "repairThreadCount": {
          "type": "integer",
          "format": "int32"
        },
        "repairUnitId": {
          "type": "string",
          "nullable": true
        },
        "nextActivation": {
          "type": "string",
          "nullable": true
        },
        "creationTime": {
          "type": "string",
          "nullable": true
        },
        "pauseTime": {
          "type": "string",
          "nullable": true
        },
        "segmentTimeout": {
          "type": "integer",
          "format": "int32"
        },
        "adaptive": {
          "type": "boolean"
        },
        "percentUnrepairedThreshold": {
          "type": "integer",
          "format": "int32"
        }
      },
      "additionalProperties": false
    },
    "CassandraRepairRingRange": {
      "type": "object",
      "properties": {
        "start": {
          "type": "string",
          "nullable": true
        },
        "end": {
          "type": "string",
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraRepairSegment": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "nullable": true
        },
        "runId": {
          "type": "string",
          "nullable": true
        },
        "repairUnitId": {
          "type": "string",
          "nullable": true
        },
        "tokenRange": {
          "$ref": "#/components/schemas/CassandraRepairTokenRange"
        },
        "failCount": {
          "type": "integer",
          "format": "int32"
        },
        "state": {
          "type": "string",
          "nullable": true
        },
        "coordinatorHost": {
          "type": "string",
          "nullable": true
        },
        "startTime": {
          "type": "string",
          "nullable": true
        },
        "endTime": {
          "type": "string",
          "nullable": true
        },
        "replicas": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraRepairSegmentResourceFeedResponse": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CassandraRepairSegment"
          },
          "nullable": true
        }
      },
      "additionalProperties": false
    },
    "CassandraRepairTokenRange": {
      "type": "object",
      "properties": {
        "baseRange": {
          "$ref": "#/components/schemas/CassandraRepairRingRange"
        },
        "tokenRanges": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CassandraRepairRingRange"
          },
          "nullable": true
        },
        "replicas": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "nullable": true
        }
      },
      "additionalProperties": false
    }
  }
}
}