{
  "swagger": "2.0",
  "info": {
    "title": "Experimentation",
    "description": "Rest API for Experimentation Service.",
    "version": "2019-11-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Experimentation/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists all of the available Experimentation resource provider API operations.",
        "description": "Get the list of available Experimentation resource provider API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The version of the Experimentation resouce provider API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Experimentation/experimentWorkspaces/{experimentWorkspaceName}": {
      "put": {
        "tags": [
            "ExperimentWorkspace"
          ],
        "operationId": "experimentWorkspaces_CreateOrUpdate",
        "summary": "Create or update an experimentation workspace.",
        "description": "Create an experiment workspace, or update an existing workspace",
        "x-ms-examples": {
          "PutWorkspaces": {
            "$ref": "./examples/ExperimentWorkspacePut.json"
          }
        },
        "parameters": [
          { "$ref": "#/parameters/subscriptionIdParameter" },
          { "$ref": "#/parameters/experimentWorkspaceParameter" },
          { "$ref": "#/parameters/apiVersionParameter" },
          { "$ref": "#/parameters/resourceGroupNameParameter" },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "properties": {
                "location": {
                  "description": "Region for the resource to be created.",
                  "type": "string",
                }
              }
            },
            "description": "Parameters supplied to the CreateOrUpdate experiment workspace operation."
          }
        ],
        "responses": {
          "201": {
              "description": "The request to create the experiment workspace is accepted and is running asynchoronously",
              "schema": {
                "$ref": "#/definitions/ExperimentWorkspace"
              }
          },
          "200": {
            "description": "The request to update the experiment workspace is accepted and is running asynchoronously",
            "schema": {
              "$ref": "#/definitions/ExperimentWorkspace"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ExperimentWorkspace"
        ],
        "operationId": "experimentWorkspaces_Patch",
        "summary": "Patch an experimentation workspace.",
        "description": "Patch an experiment workspace",
        "parameters": [
          { "$ref": "#/parameters/subscriptionIdParameter" },
          { "$ref": "#/parameters/experimentWorkspaceParameter" },
          { "$ref": "#/parameters/apiVersionParameter" },
          { "$ref": "#/parameters/resourceGroupNameParameter" },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "description": "Tag for experiment workspace.",
              "properties": {
                "tags": {
                  "description": "Resource tags.",
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "x-ms-mutability": [
                    "create",
                    "update"
                  ]
                }
              }
            },
            "description": "Parameters supplied to the Patch experiment workspace operation."
          }
        ],
        "responses": {
          "200": {
            "description": "The experiment workspace is patched",
            "schema": {
              "$ref": "#/definitions/ExperimentWorkspace"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ExperimentWorkspace"
        ],
        "operationId": "experimentWorkspaces_Delete",
        "summary": "Delete an experimentation workspace.",
        "description": "Deletes an experiment workspace",
        "x-ms-examples": {
          "DeleteWorkspaces": {
            "$ref": "./examples/ExperimentWorkspaceDelete.json"
          }
        },
        "parameters": [
          { "$ref": "#/parameters/subscriptionIdParameter" },                   
          { "$ref": "#/parameters/experimentWorkspaceParameter" },
          { "$ref": "#/parameters/apiVersionParameter" },
          { "$ref": "#/parameters/resourceGroupNameParameter" }
        ],
        "responses": {
          "202": {
            "description": "The request to delete the experiment workspace is accepted and is running asynchoronously"
          },
          "204": {
            "description": "The experiment Workspace doesn't exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ExperimentWorkspace"
        ],
        "operationId": "experimentWorkspaces_Get",
        "summary": "Get an experimentation workspace.",
        "description": "Get an experiment workspace",
        "x-ms-examples": {
          "GetWorkspaces": {
            "$ref": "./examples/ExperimentWorkspaceGet.json"
          }
        },
        "parameters": [
          { "$ref": "#/parameters/subscriptionIdParameter" },
          { "$ref": "#/parameters/experimentWorkspaceParameter" },
          { "$ref": "#/parameters/apiVersionParameter" },
          { "$ref": "#/parameters/resourceGroupNameParameter" }
        ],
        "responses": {
          "200": {
            "description": "Get the experiment workspace for the specified name",
            "schema": {
              "$ref": "#/definitions/ExperimentWorkspace"
            }
          },
          "404": {
            "description": "The experiment workspace doesn't exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Experimentation/experimentWorkspaces": {
      "get": {
        "tags": [
          "ExperimentWorkspace"
        ],
        "operationId": "experimentWorkspaces_ListByResourceGroup",
        "summary": "Get all experiment workspaces in a resource group.",
        "description": "Get all experiment workspaces in a resource group.",
        "parameters": [
          { "$ref": "#/parameters/subscriptionIdParameter" },
          { "$ref": "#/parameters/apiVersionParameter" },
          { "$ref": "#/parameters/resourceGroupNameParameter" }
        ],
        "responses": {
          "200": {
            "description": "Get all the experiment workspaces in the specified resource group",
            "schema": {
              "$ref": "#/definitions/ExperimentWorkspaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Experimentation/experimentWorkspaces": {
      "get": {
        "tags": [
          "ExperimentWorkspace"
        ],
        "operationId": "experimentWorkspaces_List",
        "summary": "Get all experiment workspaces in the specified subscription.",
        "description": "Get all experiment workspaces in the specified subscription.",
        "parameters": [
          { "$ref": "#/parameters/subscriptionIdParameter" },
          { "$ref": "#/parameters/apiVersionParameter" }
        ],
        "responses": {
          "200": {
            "description": "Get all the experiment workspaces in the specified subscription",
            "schema": {
              "$ref": "#/definitions/ExperimentWorkspaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "TrackedResource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Fully qualified resource Id for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource. Ex- Microsoft.Compute/virtualMachines or Microsoft.Storage/storageAccounts."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "An ETag property is used for optimistic concurrency during updates."
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ],
          "description": "Resource tags."
        },
      },
      "x-ms-azure-resource": true
    },
    "ExperimentWorkspace": {
      "description": "An experiment workspace.",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An experiment workspace properties.",
          "x-ms-client-flatten": true,
          "properties": {
            "expWorkspaceId": {
              "description": "The id for experiment workspace",
              "type": "string",
              "readOnly": true
            },
            "AfdTasUrl": {
              "description": "The url for corresponding TAS cluster",
              "type": "string",
              "readOnly": true
            },
            "provisioningState": {
              "description": "The provisioning state for the resource",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "ExperimentWorkspaceListResult": {
      "description": "The response of list experiment workspace operation.",
      "properties": {
        "value": {
          "description": "Results of the list operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExperimentWorkspace"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link for next set of locations."
        }
      }
    },
    "OperationListResult": {
      "description": "Describes the result of the request to list Service Fabric operations.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Experimentation operations supported by the Microsoft.Experimentation resource provider.",
          "items": {
            "description": "Available operation list result",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the operation."
              },
              "origin": {
                "type": "string",
                "description": "Origin result"
              },
              "display": {
                "description": "The object that represents the operation.",
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "The name of the provider."
                  },
                  "resource": {
                    "type": "string",
                    "description": "The resource on which the operation is performed"
                  },
                  "operation": {
                    "type": "string",
                    "description": "The operation that can be performed."
                  },
                  "description": {
                    "type": "string",
                    "description": "Operation description"
                  }
                }
              }
            }
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link for next set of locations."
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "Error message indicating why the operation failed.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request."
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "experimentWorkspaceParameter": {
      "name": "experimentWorkspaceName",
      "in": "path",
      "description": "The name of the experimentation workspace.",
      "required": true,
      "type": "string"
    }
  }
}