{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database Backup",
    "description": "Provides read functionality for Azure SQL Database Backups",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases/{databaseName}": {
      "get": {
        "tags": [
          "RecoverableDatabases"
        ],
        "operationId": "RecoverableDatabases_Get",
        "description": "Gets a recoverable database, which is a resource representing a database's geo backup",
        "x-ms-examples": {
          "Get a recoverable database": {
            "$ref": "./examples/RecoverableDatabaseGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecoverableDatabase"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/recoverableDatabases": {
      "get": {
        "tags": [
          "RecoverableDatabases"
        ],
        "operationId": "RecoverableDatabases_ListByServer",
        "description": "Gets a list of recoverable databases",
        "x-ms-examples": {
          "Get list of restorable dropped databases": {
            "$ref": "./examples/RecoverableDatabaseList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecoverableDatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases/{restorableDroppededDatabaseId}": {
      "get": {
        "tags": [
          "RestorableDroppedDatabases"
        ],
        "operationId": "RestorableDroppedDatabases_Get",
        "description": "Gets a deleted database that can be restored",
        "x-ms-examples": {
          "Get a restorable dropped database": {
            "$ref": "./examples/RestorableDroppedDatabaseGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "restorableDroppededDatabaseId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the deleted database in the form of databaseName,deletionTimeInFileTimeFormat"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorableDroppedDatabase"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases": {
      "get": {
        "tags": [
          "RestorableDroppedDatabases"
        ],
        "operationId": "RestorableDroppedDatabases_ListByServer",
        "description": "Gets a list of deleted databases that can be restored",
        "x-ms-examples": {
          "Get list of restorable dropped databases": {
            "$ref": "./examples/RestorableDroppedDatabaseList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorableDroppedDatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "RecoverableDatabaseProperties": {
      "properties": {
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the database"
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The service level objective name of the database"
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The elastic pool name of the database"
        },
        "lastAvailableBackupDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The last available backup date of the database (ISO8601 format)"
        }
      },
      "description": "The properties of a recoverable database"
    },
    "RecoverableDatabase": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecoverableDatabaseProperties",
          "description": "The properties of a recoverable database",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A recoverable database"
    },
    "RecoverableDatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RecoverableDatabase"
          },
          "description": "A list of recoverable databases"
        }
      },
      "required": [
        "value"
      ],
      "description": "The response to a list recoverable databases request"
    },
    "RestorableDroppedDatabaseProperties": {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the database"
        },
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the database"
        },
        "maxSizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "The max size in bytes of the database"
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The service level objective name of the database"
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The elastic pool name of the database"
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the database (ISO8601 format)"
        },
        "deletionDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The deletion date of the database (ISO8601 format)"
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The earliest restore date of the database (ISO8601 format)"
        }
      },
      "description": "The properties of a restorable dropped database"
    },
    "RestorableDroppedDatabase": {
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "$ref": "#/definitions/RestorableDroppedDatabaseProperties",
          "description": "The properties of a restorable dropped database",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A restorable dropped database"
    },
    "RestorableDroppedDatabaseListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableDroppedDatabase"
          },
          "description": "A list of restorable dropped databases"
        }
      },
      "required": [
        "value"
      ],
      "description": "The response to a list restorable dropped databases request"
    }
  },
  "parameters": {
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseExpandParameter": {
      "name": "$expand",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
