{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database",
    "description": "Provides create, read, update and delete functionality Azure SQL server communication links.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks/{communicationLinkName}": {
      "delete": {
        "tags": [
          "ServerCommunicationLinks"
        ],
        "operationId": "ServerCommunicationLinks_Delete",
        "description": "Deletes a server communication link.",
        "x-ms-examples": {
          "Delete a server communication link": {
            "$ref": "./examples/ServerCommunicationLinkDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "communicationLinkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the server communication link."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "get": {
        "tags": [
          "ServerCommunicationLinks"
        ],
        "operationId": "ServerCommunicationLinks_Get",
        "description": "Returns a server communication link.",
        "x-ms-examples": {
          "Get a server communication link": {
            "$ref": "./examples/ServerCommunicationLinkGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "communicationLinkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the server communication link."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerCommunicationLink"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ServerCommunicationLinks"
        ],
        "operationId": "ServerCommunicationLinks_CreateOrUpdate",
        "description": "Creates a server communication link.",
        "x-ms-examples": {
          "Create a server communication link": {
            "$ref": "./examples/ServerCommunicationLinkCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "communicationLinkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the server communication link."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerCommunicationLink"
            },
            "description": "The required parameters for creating a server communication link."
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ServerCommunicationLink"
            }
          },
          "202": {
            "description": "Accepted"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/communicationLinks": {
      "get": {
        "tags": [
          "ServerCommunicationLinks"
        ],
        "operationId": "ServerCommunicationLinks_ListByServer",
        "description": "Gets a list of server communication links.",
        "x-ms-examples": {
          "List server communication links": {
            "$ref": "./examples/ServerCommunicationLinkList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServerCommunicationLinkListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "ServerCommunicationLinkProperties": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The state."
        },
        "partnerServer": {
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ],
          "description": "The name of the partner server."
        }
      },
      "required": [
        "partnerServer"
      ],
      "description": "The properties of a server communication link."
    },
    "ServerCommunicationLink": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerCommunicationLinkProperties",
          "description": "The properties of resource.",
          "x-ms-client-flatten": true
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Communication link location."
        },
        "kind": {
          "type": "string",
          "readOnly": true,
          "description": "Communication link kind.  This property is used for Azure Portal metadata."
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Server communication link."
    },
    "ServerCommunicationLinkListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServerCommunicationLink"
          },
          "description": "The list of server communication links."
        }
      },
      "description": "A list of server communication links."
    }
  },
  "parameters": {
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
