{
  "swagger": "2.0",
  "info": {
    "title": "Azure SQL Database",
    "description": "Provides create, read, update and delete functionality for Azure SQL Database resources including recommendations and operations.",
    "version": "2014-04-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolActivity": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPoolActivities_ListByElasticPool",
        "description": "Returns elastic pool activities.",
        "x-ms-examples": {
          "List Elastic pool activity": {
            "$ref": "./examples/ElasticPoolActivityList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the elastic pool for which to get the current activity."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPoolActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/elasticPoolDatabaseActivity": {
      "get": {
        "tags": [
          "ElasticPools"
        ],
        "operationId": "ElasticPoolDatabaseActivities_ListByElasticPool",
        "description": "Returns activity on databases inside of an elastic pool.",
        "x-ms-examples": {
          "List elastic pool database activity": {
            "$ref": "./examples/ElasticPoolDatabaseActivityList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the elastic pool."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ElasticPoolDatabaseActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors/{serviceTierAdvisorName}": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "ServiceTierAdvisors_Get",
        "description": "Gets a service tier advisor.",
        "x-ms-examples": {
          "Get a service tier advisor": {
            "$ref": "./examples/ServiceTierAdvisorGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          },
          {
            "name": "serviceTierAdvisorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of service tier advisor."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisor"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/serviceTierAdvisors": {
      "get": {
        "tags": [
          "ServiceTierAdvisors"
        ],
        "operationId": "ServiceTierAdvisors_ListByDatabase",
        "description": "Returns service tier advisors for specified database.",
        "x-ms-examples": {
          "Get a list of a service tier advisors": {
            "$ref": "./examples/ServiceTierAdvisorList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of database."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ServiceTierAdvisorListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}": {
      "put": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "TransparentDataEncryptions_CreateOrUpdate",
        "description": "Creates or updates a database's transparent data encryption configuration.",
        "x-ms-examples": {
          "Create or update a database's transparent data encryption configuration": {
            "$ref": "./examples/DatabaseTransparentDataEncryptionCreateOrUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database for which setting the transparent data encryption applies."
          },
          {
            "$ref": "#/parameters/TransparentDataEncryptionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            },
            "description": "The required parameters for creating or updating transparent data encryption."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      },
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "TransparentDataEncryptions_Get",
        "description": "Gets a database's transparent data encryption configuration.",
        "x-ms-examples": {
          "Get a database's transparent data encryption configuration": {
            "$ref": "./examples/DatabaseTransparentDataEncryptionGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database for which the transparent data encryption applies."
          },
          {
            "$ref": "#/parameters/TransparentDataEncryptionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryption"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/transparentDataEncryption/{transparentDataEncryptionName}/operationResults": {
      "get": {
        "tags": [
          "TransparentDataEncryption"
        ],
        "operationId": "TransparentDataEncryptionActivities_ListByConfiguration",
        "description": "Returns a database's transparent data encryption operation result.",
        "x-ms-examples": {
          "List a database's transparent data encryption activities": {
            "$ref": "./examples/DatabaseTransparentDataEncryptionActivityList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the database for which the transparent data encryption applies."
          },
          {
            "$ref": "#/parameters/TransparentDataEncryptionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TransparentDataEncryptionActivityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "ElasticPoolActivityProperties": {
      "properties": {
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished (ISO8601 format)."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The unique operation ID.",
          "x-nullable": false
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedDatabaseDtuMax": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested max DTU per database if available."
        },
        "requestedDatabaseDtuMin": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested min DTU per database if available."
        },
        "requestedDtu": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested DTU for the pool if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The requested name for the elastic pool if available."
        },
        "requestedStorageLimitInGB": {
          "readOnly": true,
          "type": "integer",
          "format": "int64",
          "description": "The requested storage limit for the pool in GB if available."
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the elastic pool."
        },
        "serverName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the server the elastic pool is in."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation started (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The current state of the operation."
        },
        "requestedStorageLimitInMB": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested storage limit in MB."
        },
        "requestedDatabaseDtuGuarantee": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested per database DTU guarantee."
        },
        "requestedDatabaseDtuCap": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested per database DTU cap."
        },
        "requestedDtuGuarantee": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The requested DTU guarantee."
        }
      },
      "description": "Represents the properties of an elastic pool."
    },
    "ElasticPoolActivity": {
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "$ref": "#/definitions/ElasticPoolActivityProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Represents the activity on an elastic pool."
    },
    "ElasticPoolActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPoolActivity"
          },
          "description": "The list of elastic pool activities."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list elastic pool activity request."
    },
    "ElasticPoolDatabaseActivityProperties": {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "The database name."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation finished (ISO8601 format)."
        },
        "errorCode": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error code if available."
        },
        "errorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "The error message if available."
        },
        "errorSeverity": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The error severity if available."
        },
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "The operation name."
        },
        "operationId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "The unique operation ID.",
          "x-nullable": false
        },
        "percentComplete": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "The percentage complete if available."
        },
        "requestedElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name for the elastic pool the database is moving into if available."
        },
        "currentElasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the current elastic pool the database is in if available."
        },
        "currentServiceObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the current service objective if available."
        },
        "requestedServiceObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the requested service objective if available."
        },
        "serverName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the server the elastic pool is in."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The time the operation started (ISO8601 format)."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "The current state of the operation."
        }
      },
      "description": "Represents the properties of an elastic pool database activity."
    },
    "ElasticPoolDatabaseActivity": {
      "properties": {
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "$ref": "#/definitions/ElasticPoolDatabaseActivityProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Represents the activity on an elastic pool."
    },
    "ElasticPoolDatabaseActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ElasticPoolDatabaseActivity"
          },
          "description": "The list of elastic pool database activities."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list elastic pool database activity request."
    },
    "RecommendedIndexProperties": {
      "properties": {
        "action": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Create",
            "Drop",
            "Rebuild"
          ],
          "description": "The proposed index action. You can create a missing index, drop an unused index, or rebuild an existing index to improve its performance.",
          "x-ms-enum": {
            "name": "RecommendedIndexAction"
          }
        },
        "state": {
          "readOnly": true,
          "enum": [
            "Active",
            "Pending",
            "Executing",
            "Verifying",
            "Pending Revert",
            "Reverting",
            "Reverted",
            "Ignored",
            "Expired",
            "Blocked",
            "Success"
          ],
          "type": "string",
          "description": "The current recommendation state.",
          "x-ms-enum": {
            "name": "RecommendedIndexState"
          }
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC datetime showing when this resource was created (ISO8601 format)."
        },
        "lastModified": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC datetime of when was this resource last changed (ISO8601 format)."
        },
        "indexType": {
          "readOnly": true,
          "enum": [
            "CLUSTERED",
            "NONCLUSTERED",
            "COLUMNSTORE",
            "CLUSTERED COLUMNSTORE"
          ],
          "type": "string",
          "description": "The type of index (CLUSTERED, NONCLUSTERED, COLUMNSTORE, CLUSTERED COLUMNSTORE)",
          "x-ms-enum": {
            "name": "RecommendedIndexType"
          }
        },
        "schema": {
          "readOnly": true,
          "type": "string",
          "description": "The schema where table to build index over resides"
        },
        "table": {
          "readOnly": true,
          "type": "string",
          "description": "The table on which to build index."
        },
        "columns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Columns over which to build index"
        },
        "includedColumns": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of column names to be included in the index"
        },
        "indexScript": {
          "readOnly": true,
          "type": "string",
          "description": "The full build index script"
        },
        "estimatedImpact": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationImpact"
          },
          "description": "The estimated impact of doing recommended index action."
        },
        "reportedImpact": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationImpact"
          },
          "description": "The values reported after index action is complete."
        }
      },
      "description": "Represents the properties of a database recommended index."
    },
    "RecommendedIndex": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/RecommendedIndexProperties",
          "readOnly": true,
          "x-ms-client-flatten": true,
          "description": "The properties representing the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a database recommended index."
    },
    "TransparentDataEncryptionProperties": {
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the database transparent data encryption.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "TransparentDataEncryptionStatus"
          }
        }
      },
      "description": "Represents the properties of a database transparent data encryption."
    },
    "TransparentDataEncryption": {
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Resource location."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransparentDataEncryptionProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a database transparent data encryption configuration."
    },
    "ServiceTierAdvisorProperties": {
      "properties": {
        "observationPeriodStart": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "observationPeriodEnd": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The observation period start (ISO8601 format)."
        },
        "activeTimeRatio": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The activeTimeRatio for service tier advisor."
        },
        "minDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets minDtu for service tier advisor."
        },
        "avgDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets avgDtu for service tier advisor."
        },
        "maxDtu": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets maxDtu for service tier advisor."
        },
        "maxSizeInGB": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets maxSizeInGB for service tier advisor."
        },
        "serviceLevelObjectiveUsageMetrics": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SloUsageMetric"
          },
          "description": "Gets or sets serviceLevelObjectiveUsageMetrics for the service tier advisor."
        },
        "currentServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets currentServiceLevelObjective for service tier advisor."
        },
        "currentServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets currentServiceLevelObjectiveId for service tier advisor."
        },
        "usageBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets usageBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "usageBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets usageBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "databaseSizeBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "databaseSizeBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets databaseSizeBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "disasterPlanBasedRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets disasterPlanBasedRecommendationServiceLevelObjective for service tier advisor."
        },
        "disasterPlanBasedRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets disasterPlanBasedRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "overallRecommendationServiceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "Gets or sets overallRecommendationServiceLevelObjective for service tier advisor."
        },
        "overallRecommendationServiceLevelObjectiveId": {
          "readOnly": true,
          "type": "string",
          "format": "uuid",
          "description": "Gets or sets overallRecommendationServiceLevelObjectiveId for service tier advisor."
        },
        "confidence": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "Gets or sets confidence for service tier advisor.",
          "x-nullable": false
        }
      },
      "description": "Represents the properties of a Service Tier Advisor."
    },
    "ServiceTierAdvisor": {
      "properties": {
        "properties": {
          "readOnly": true,
          "$ref": "#/definitions/ServiceTierAdvisorProperties",
          "description": "The properties representing the resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a Service Tier Advisor."
    },
    "SloUsageMetric": {
      "properties": {
        "serviceLevelObjective": {
          "type": "string",
          "description": "The serviceLevelObjective for SLO usage metric.",
          "enum": [
            "System",
            "System0",
            "System1",
            "System2",
            "System3",
            "System4",
            "System2L",
            "System3L",
            "System4L",
            "Free",
            "Basic",
            "S0",
            "S1",
            "S2",
            "S3",
            "S4",
            "S6",
            "S7",
            "S9",
            "S12",
            "P1",
            "P2",
            "P3",
            "P4",
            "P6",
            "P11",
            "P15",
            "PRS1",
            "PRS2",
            "PRS4",
            "PRS6",
            "DW100",
            "DW200",
            "DW300",
            "DW400",
            "DW500",
            "DW600",
            "DW1000",
            "DW1200",
            "DW1000c",
            "DW1500",
            "DW1500c",
            "DW2000",
            "DW2000c",
            "DW3000",
            "DW2500c",
            "DW3000c",
            "DW6000",
            "DW5000c",
            "DW6000c",
            "DW7500c",
            "DW10000c",
            "DW15000c",
            "DW30000c",
            "DS100",
            "DS200",
            "DS300",
            "DS400",
            "DS500",
            "DS600",
            "DS1000",
            "DS1200",
            "DS1500",
            "DS2000",
            "ElasticPool"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ServiceObjectiveName"
          },
          "readOnly": true
        },
        "serviceLevelObjectiveId": {
          "type": "string",
          "format": "uuid",
          "description": "The serviceLevelObjectiveId for SLO usage metric.",
          "readOnly": true,
          "x-nullable": false
        },
        "inRangeTimeRatio": {
          "type": "number",
          "format": "double",
          "description": "Gets or sets inRangeTimeRatio for SLO usage metric.",
          "readOnly": true,
          "x-nullable": false
        }
      },
      "description": "A Slo Usage Metric."
    },
    "OperationImpact": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the impact dimension."
        },
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "The unit in which estimated impact to dimension is measured."
        },
        "changeValueAbsolute": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The absolute impact to dimension."
        },
        "changeValueRelative": {
          "readOnly": true,
          "type": "number",
          "format": "double",
          "description": "The relative impact to dimension (null if not applicable)"
        }
      },
      "description": "The impact of an operation, both in absolute and relative terms."
    },
    "ServiceTierAdvisorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceTierAdvisor"
          },
          "description": "The list of service tier advisors for specified database."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list service tier advisor request."
    },
    "TransparentDataEncryptionActivityProperties": {
      "properties": {
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the database.",
          "enum": [
            "Encrypting",
            "Decrypting"
          ],
          "x-ms-enum": {
            "name": "TransparentDataEncryptionActivityStatus",
            "modelAsString": true
          }
        },
        "percentComplete": {
          "readOnly": true,
          "type": "number",
          "format": "float",
          "description": "The percent complete of the transparent data encryption scan for a database."
        }
      },
      "description": "Represents the properties of a database transparent data encryption Scan."
    },
    "TransparentDataEncryptionActivity": {
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "Resource location."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TransparentDataEncryptionActivityProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Represents a database transparent data encryption Scan."
    },
    "TransparentDataEncryptionActivityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TransparentDataEncryptionActivity"
          },
          "description": "The list of database transparent data encryption activities."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents the response to a list database transparent data encryption activity request."
    }
  },
  "parameters": {
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    },
    "DatabaseExpandParameter": {
      "name": "$expand",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "A comma separated list of child objects to expand in the response. Possible properties: serviceTierAdvisors, transparentDataEncryption.",
      "x-ms-parameter-location": "method"
    },
    "TransparentDataEncryptionNameParameter": {
      "name": "transparentDataEncryptionName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "current"
      ],
      "description": "The name of the transparent data encryption configuration.",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "TransparentDataEncryptionName"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
