{
  "swagger": "2.0",
  "info": {
    "version": "2016-05-06",
    "title": "AzureAnalysisServices",
    "description": "The Azure Analysis Services Web API provides a RESTful set of web services that enables users to create, retrieve, update, and delete servers",
    "x-ms-code-generation-settings": {
      "name": "AnalysisServicesClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [ "https" ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers/{analysisServerName}": {
      "get": {
        "description": "Gets details about the specified Analysis Services server",
        "tags": [ "Servers" ],
        "operationId": "Servers_GetDetails",
        "parameters": [
          {
            "name": "analysisServerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Analysis Services server"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AnalysisServicesResource" }
          }
        }
      },
      "put": {
        "description": "Provisions the specified Analysis Services server based on the configuration specified in the request",
        "tags": [ "Servers" ],
        "operationId": "Servers_Create",
        "parameters": [
          {
            "name": "provisionRequest",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AnalysisServicesResourceCreateParameters" },
            "description": "Request body for provisioning"
          },
          {
            "name": "analysisServerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Analysis Services server"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AnalysisServicesResource" }
          },
          "201": {
            "description": "InProgress",
            "schema": { "$ref": "#/definitions/AnalysisServicesResource" }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "description": "Deletes the specified Analysis Services server.",
        "tags": [ "Servers" ],
        "operationId": "Servers_Delete",
        "parameters": [
          {
            "name": "analysisServerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Analysis Services server"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AnalysisServicesResource" }
          },
          "204": {
            "description": "No Content"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "description": "Updates the current state of the specified Analysis Services server as specified by the request",
        "tags": [ "Servers" ],
        "operationId": "Servers_Update",
        "parameters": [
          {
            "name": "analysisServerName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Name of the Analysis Services server"
          },
          {
            "name": "updateRequest",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/AnalysisServicesResourceParameters" },
            "description": "Request object for updating the server"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AnalysisServicesResource" }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AnalysisServices/servers": {
      "get": {
        "description": "Gets all the Analysis Services servers for the given resource group",
        "tags": [ "Servers" ],
        "operationId": "Servers_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AnalysisServicesResources" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/servers": {
      "get": {
        "description": "List all the Analysis Services servers for the given subscription",
        "tags": [ "Servers" ],
        "operationId": "Servers_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/AnalysisServicesResources" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationstatuses/{operationId}": {
      "get": {
        "description": "Gets status of the specified operation.",
        "tags": [ "OperationDetails" ],
        "operationId": "OperationDetails_Get",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Identifier for the operation for which to get status"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Region in which the server operation was executed"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": { "$ref": "#/definitions/OperationDetail" }
          },
          "202": {
            "description": "Accepted",
            "schema": { "$ref": "#/definitions/OperationDetail" }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AnalysisServices/locations/{location}/operationresults/{operationId}": {
      "get": {
        "description": "Gets completion result of the specified operation",
        "tags": [ "OperationResults" ],
        "operationId": "OperationResults_Get",
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Identifier for the operation for which to get status"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true,
            "description": "Region in which the server operation was executed"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "definitions": {
    "AnalysisServicesResourceCreateParameters": {
      "description": "Analysis Services creation parameters",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the Analysis Services resource"
        },
        "sku": {
          "$ref": "#/definitions/ResourceSkuTier",
          "description": "Sku of the Analysis Services resource"
        },
        "tags": {
          "type": "object",
          "additionalProperties": { "type": "string" },
          "description": "Key value pairs of additional properties that can ebe specified"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AnalysisServicesResourceProperties",
          "description": "Provision request properties"
        }
      },
      "required": [
        "location",
        "sku",
        "tags",
        "properties"
      ]
    },
    "AnalysisServicesResourceParameters": {
      "description": "Provision request specification",
      "type": "object",
      "properties": {
        "location": {
          "type": "string",
          "description": "Location of the Analysis Services resource"
        },
        "sku": {
          "$ref": "#/definitions/ResourceSkuTier",
          "description": "Sku of the Analysis Services resource"
        },
        "tags": {
          "type": "object",
          "additionalProperties": { "type": "string" },
          "description": "Key value pairs of additional properties that can ebe specified"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AnalysisServicesResourceProperties",
          "description": "Provision request properties"
        }
      }
    },
    "AnalysisServicesResource": {
      "description": "Represents an instance of Analysis Services resource",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Identifier that represents the Analysis Services resource"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the Analysis Services resource"
        },
        "resourceType": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the type of Analysis Services resource"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AnalysisServicesResourceParameters"
        }
      ],
      "x-ms-azure-resource": true
    },
    "AnalysisServicesResources": {
      "description": "A collection of Analysis Services resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": { "$ref": "#/definitions/AnalysisServicesResource" },
          "description": "The collection of Analysis Services resources"
        }
      },
      "required": [
        "value"
      ]
    },
    "AnalysisServicesResourceProperties": {
      "description": "Properties of Analysis Services resource",
      "type": "object",
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "description": "The current deployment state of Analysis Services resource"
        },
        "serverFullName": {
          "type": "string",
          "readOnly": true,
          "description": "Full name of the Analysis Services resource"
        },
        "asAdministrators": {
          "$ref": "#/definitions/ServerAdministrators",
          "description": "List of users that are administrators on the Analysis Services resource"
        }
      }
    },
    "ResourceSkuTier": {
      "description": "Represents the SKU name and tier for Analysis Services resource",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "enum": [
            "S1",
            "S2",
            "S4"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          },
          "description": "Name of the Sku level for the server being provisioned."
        },
        "tier": {
          "type": "string",
          "enum": [
            "Developer",
            "Standard"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          },
          "description": "Name of the tier to which the Sku applies."
        }
      },
      "required": [
        "name",
        "tier"
      ]
    },
    "ServerAdministrators": {
      "description": "Array of administrator user identities",
      "type": "object",
      "properties": {
        "members": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "UPN of the user. Example johnsmith@contoso.com."
          },
          "description": "Collection of administrator user identities"
        }
      }
    },
    "ExceptionData": {
      "description": "Details of an error in the operation",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "readOnly": true,
          "description": "Error code"
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Detailed message describing the error"
        }
      }
    },
    "OperationDetail": {
      "description": "Details of the operation specified by the operation id",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Identifier for the operation"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the operation"
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "HTTP status code for the operation"
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The UTC time at which the operation started"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The UTC time at which the operation ended"
        },
        "error": {
          "$ref": "#/definitions/ExceptionData",
          "readOnly": true,
          "description": "Object that specifies details of the error"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "A unique identifier of a Microsoft Azure subscription. The subscription id forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Name of the Azure Resource group which a given Analysis Services server is part of."
    }
  }
}
