{
  "swagger": "2.0",
  "info": {
    "title": "WANDisco Fusion",
    "description": "WANDisco Fusion",
    "version": "2023-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Wandisco.Fusion/migrators": {
      "get": {
        "tags": [
          "migrators"
        ],
        "description": "Returns list of migrators under subscription.",
        "operationId": "Migrators_ListBySubscription",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrators details.",
            "schema": {
              "$ref": "#/definitions/MigratorList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get list of migrators": {
            "$ref": "./examples/LiveDataMigrator/MigratorsListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators": {
      "get": {
        "tags": [
          "migrator"
        ],
        "description": "Returns list of Migrators.",
        "operationId": "Migrators_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrator details.",
            "schema": {
              "$ref": "#/definitions/MigratorList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Migrators list": {
            "$ref": "./examples/LiveDataMigrator/MigratorList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}": {
      "get": {
        "tags": [
          "migrator"
        ],
        "description": "Returns a given Migrator.",
        "operationId": "Migrators_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrator details.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migrator by name": {
            "$ref": "./examples/LiveDataMigrator/MigratorGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "migrator"
        ],
        "description": "Creates a Migrator.",
        "operationId": "Migrators_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "name": "Migrator",
            "description": "migrator details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          }
        ],
        "x-ms-examples": {
          "Create Migrator": {
            "$ref": "./examples/LiveDataMigrator/MigratorCreate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Updating Migrator.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "201": {
            "description": "Creating Migrator.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "migrator"
        ],
        "description": "Updates a given Migrator.",
        "operationId": "Migrators_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "name": "MigratorUpdate",
            "description": "migrator update details.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MigratorUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Migrator.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "202": {
            "description": "Updating Migrator.",
            "schema": {
              "$ref": "#/definitions/Migrator"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Successful Migrator Tags Patch": {
            "$ref": "./examples/LiveDataMigrator/MigratorTagPatch.json"
          },
          "Successful Bandwidth Patch": {
            "$ref": "./examples/LiveDataMigrator/MigratorBandwidthPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "migrator"
        ],
        "description": "Deletes a given Migrator.",
        "operationId": "Migrators_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Migrator was successfully deleted"
          },
          "202": {
            "description": "The Migrator was accepted for deletion",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Migrator was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful migrator delete": {
            "$ref": "./examples/LiveDataMigrator/MigratorDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/getInstallKey": {
      "post": {
        "tags": [
          "migrator"
        ],
        "description": "Get the install key of a Migrator",
        "operationId": "Migrators_GetInstallKey",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "x-ms-examples": {
          "Refresh Migrator Install Key": {
            "$ref": "./examples/LiveDataMigrator/MigratorGetInstallKey.json"
          }
        },
        "responses": {
          "200": {
            "description": "Create config archive request completed.",
            "schema": {
              "$ref": "#/definitions/MigratorInstallKey"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations": {
      "get": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "List migrations in the migrator",
        "operationId": "LiveDataMigrations_ListByMigrator",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigrationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List LiveData Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations/{migrationName}": {
      "get": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Read a migrator migration",
        "operationId": "LiveDataMigrations_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get LiveData Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Create a Migrator migration",
        "operationId": "LiveDataMigrations_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          },
          {
            "name": "migration",
            "description": "migration details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          },
          "201": {
            "description": "Creating LiveDataMigration.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create LiveData Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Delete a Migrator migration",
        "operationId": "LiveDataMigrations_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "202": {
            "description": "The migration was accepted for deletion.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The migration was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete LiveData Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Updates a given LiveDataMigration.",
        "operationId": "LiveDataMigrations_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          },
          {
            "name": "LiveDataMigration",
            "description": "LiveDataMigration update properties.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LiveDataMigrationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating LiveDataMigration",
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          },
          "202": {
            "description": "Updating LiveDataMigration",
            "schema": {
              "$ref": "#/definitions/LiveDataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Successful Migration Tags Patch": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationTagsPatch.json"
          },
          "Successful Exclusions Patch": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationExclusionsPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations/{migrationName}/start": {
      "post": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Start an existing migrator migration",
        "operationId": "LiveDataMigrations_Start",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigrationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationStart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations/{migrationName}/stop": {
      "post": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Stop a migrator migration",
        "operationId": "LiveDataMigrations_Stop",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigrationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Stop Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationStop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/liveDataMigrations/{migrationName}/reset": {
      "post": {
        "tags": [
          "LiveDataMigrations"
        ],
        "description": "Reset a migrator migration",
        "operationId": "LiveDataMigrations_Reset",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          },
          {
            "name": "LiveDataMigration",
            "description": "Live Data Migration reset properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LiveDataMigrationReset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LiveDataMigrationStatusResponse"
            }
          },
          "202": {
            "description": "Resetting live data migration.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Reset Migration": {
            "$ref": "./examples/LiveDataMigrator/LiveDataMigrationReset.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/verifications": {
      "get": {
        "tags": [
          "verifications"
        ],
        "description": "Returns list of Migration Verifications.",
        "operationId": "Verifications_ListByMigrator",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migration verification details.",
            "schema": {
              "$ref": "#/definitions/MigrationVerificationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Migrators list": {
            "$ref": "./examples/LiveDataMigrator/VerificationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/verifications/{verificationName}": {
      "get": {
        "tags": [
          "verifications"
        ],
        "description": "Return a Migration Verification.",
        "operationId": "Verifications_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/VerificationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migration verification details.",
            "schema": {
              "$ref": "#/definitions/MigrationVerification"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migrator by name": {
            "$ref": "./examples/LiveDataMigrator/VerificationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "verifications"
        ],
        "description": "Create a Migration Verification.",
        "operationId": "Verifications_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/VerificationNameParameter"
          },
          {
            "name": "verification",
            "description": "migration verification details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationVerification"
            }
          }
        ],
        "x-ms-examples": {
          "Create Migration Verification": {
            "$ref": "./examples/LiveDataMigrator/VerificationCreate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Update Migration Verification.",
            "schema": {
              "$ref": "#/definitions/MigrationVerification"
            }
          },
          "201": {
            "description": "Create Migration Verification.",
            "schema": {
              "$ref": "#/definitions/MigrationVerification"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "verifications"
        ],
        "description": "Update a Migration Verification.",
        "operationId": "Verifications_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/VerificationNameParameter"
          },
          {
            "name": "LiveDataMigrationUpdate",
            "description": "migration verification update details.",
            "in": "body",
            "schema": {
              "$ref": "./commonTypes.json#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Migration Verification.",
            "schema": {
              "$ref": "#/definitions/MigrationVerification"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful Migration Verification Patch": {
            "$ref": "./examples/LiveDataMigrator/VerificationPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "verifications"
        ],
        "description": "Delete a Migration Verification.",
        "operationId": "Verifications_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/VerificationNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Migration Verification was accepted for deletion",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Migration Verification was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful migrator delete": {
            "$ref": "./examples/LiveDataMigrator/VerificationDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/verifications/{verificationName}/cancel": {
      "post": {
        "tags": [
          "verifications"
        ],
        "description": "Cancel an existing migration verification",
        "operationId": "Verifications_Cancel",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/VerificationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request to cancel Migration Verification has succeeded.",
            "schema": {
              "$ref": "#/definitions/VerificationStatusResponse"
            }
          },
          "202": {
            "description": "The request to cancel Migration Verification was accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Cancel Verification": {
            "$ref": "./examples/LiveDataMigrator/VerificationCancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/targets": {
      "get": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Returns list of Migrator Targets.",
        "operationId": "Targets_ListByMigrator",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrator details.",
            "schema": {
              "$ref": "#/definitions/MigratorTargetList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Migrator Targets list": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/targets/{migratorTargetName}": {
      "get": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Returns a given Migrator Target.",
        "operationId": "Targets_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigratorTargetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "migrator target details.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migrator Target by name": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Creates a Migrator Target.",
        "operationId": "Targets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigratorTargetNameParameter"
          },
          {
            "name": "MigratorTarget",
            "description": "migrator target details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          }
        ],
        "x-ms-examples": {
          "Create Migrator Target": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetCreate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Updating Migrator Target.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "201": {
            "description": "Creating Migrator Target.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Updates a given Migrator Target.",
        "operationId": "Targets_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigratorTargetNameParameter"
          },
          {
            "name": "Migrator Target",
            "description": "migrator target update details.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MigratorTargetUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Migrator Target.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "202": {
            "description": "Updating Migrator Target.",
            "schema": {
              "$ref": "#/definitions/MigratorTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Successful Migrator Target Patch": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "migratorTarget"
        ],
        "description": "Deletes a given Migrator Target.",
        "operationId": "Targets_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigratorTargetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Migrator Target was successfully deleted"
          },
          "202": {
            "description": "The Migrator Target was accepted for deletion",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Migrator Target was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful migrator target delete": {
            "$ref": "./examples/LiveDataMigrator/MigratorTargetDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/pathMappings": {
      "get": {
        "tags": [
          "LiveDataPathMappings"
        ],
        "description": "Returns a list of LiveDataPathMappings",
        "operationId": "PathMappings_ListByMigrator",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of LiveDataPathMapping Details",
            "schema": {
              "$ref": "#/definitions/LiveDataPathMappingList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get LiveDataPathMappings": {
            "$ref": "./examples/LiveDataMigrator/PathMappingList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/pathMappings/{pathMappingName}": {
      "get": {
        "tags": [
          "LiveDataPathMappings"
        ],
        "description": "Returns an LiveDataPathMapping",
        "operationId": "PathMappings_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/LiveDataPathMappingsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "LiveDataPathMappingDetails",
            "schema": {
              "$ref": "#/definitions/LiveDataPathMapping"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get LiveDataPathMapping": {
            "$ref": "./examples/LiveDataMigrator/PathMappingGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "LiveDataPathMappings"
        ],
        "description": "Creates an LiveDataPathMapping",
        "operationId": "PathMappings_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/LiveDataPathMappingsNameParameter"
          },
          {
            "name": "pathMapping",
            "description": "LiveDataPathMapping details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LiveDataPathMapping"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created LiveDataPathMapping.",
            "schema": {
              "$ref": "#/definitions/LiveDataPathMapping"
            }
          },
          "201": {
            "description": "Creating LiveDataPathMapping.",
            "schema": {
              "$ref": "#/definitions/LiveDataPathMapping"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creating LiveDataPathMapping": {
            "$ref": "./examples/LiveDataMigrator/PathMappingCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "LiveDataPathMappings"
        ],
        "description": "Update an LiveDataPathMapping",
        "operationId": "PathMappings_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/LiveDataPathMappingsNameParameter"
          },
          {
            "name": "pathMapping",
            "description": "pathMapping update details",
            "in": "body",
            "schema": {
              "$ref": "./commonTypes.json#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating LiveDataPathMapping.",
            "schema": {
              "$ref": "#/definitions/LiveDataPathMapping"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch LiveDataPathMapping": {
            "$ref": "./examples/LiveDataMigrator/PathMappingPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LiveDataPathMappings"
        ],
        "description": "Deletes a given LiveDataPathMapping.",
        "operationId": "PathMappings_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/LiveDataPathMappingsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The LiveDataPathMapping was successfully deleted"
          },
          "202": {
            "description": "The LiveDataPathMapping was accepted for deletion",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The LiveDataPathMapping was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful path mapping delete": {
            "$ref": "./examples/LiveDataMigrator/PathMappingDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/exclusionTemplates": {
      "get": {
        "tags": [
          "ExclusionTemplates"
        ],
        "description": "Returns a list of Exclusion Templates",
        "operationId": "ExclusionTemplates_ListByMigrator",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Exclusion Template Details",
            "schema": {
              "$ref": "#/definitions/ExclusionTemplateList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Exclusion Templates": {
            "$ref": "./examples/LiveDataMigrator/ExclusionTemplateList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/exclusionTemplates/{exclusionTemplateName}": {
      "get": {
        "tags": [
          "ExclusionTemplates"
        ],
        "description": "Returns an Exclusion Template",
        "operationId": "ExclusionTemplates_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/ExclusionTemplateNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ExclusionTemplateDetails",
            "schema": {
              "$ref": "#/definitions/ExclusionTemplate"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Exclusion": {
            "$ref": "./examples/LiveDataMigrator/ExclusionTemplateGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "ExclusionTemplates"
        ],
        "description": "Creates an Exclusion Template",
        "operationId": "ExclusionTemplates_Create",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/ExclusionTemplateNameParameter"
          },
          {
            "name": "exclusion",
            "description": "Exclusion Template details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExclusionTemplate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created Exclusion Template.",
            "schema": {
              "$ref": "#/definitions/ExclusionTemplate"
            }
          },
          "201": {
            "description": "Creating Exclusion Template.",
            "schema": {
              "$ref": "#/definitions/ExclusionTemplate"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creating Exclusion": {
            "$ref": "./examples/LiveDataMigrator/ExclusionTemplateCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "ExclusionTemplates"
        ],
        "description": "Update an Exclusion",
        "operationId": "ExclusionTemplates_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/ExclusionTemplateNameParameter"
          },
          {
            "name": "exclusion",
            "description": "exclusion template update details",
            "in": "body",
            "schema": {
              "$ref": "./commonTypes.json#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Exclusion Template.",
            "schema": {
              "$ref": "#/definitions/ExclusionTemplate"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Exclusion": {
            "$ref": "./examples/LiveDataMigrator/ExclusionTemplatePatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ExclusionTemplates"
        ],
        "description": "Deletes a given Exclusion Template.",
        "operationId": "ExclusionTemplates_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/ExclusionTemplateNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Exclusion Template was successfully deleted"
          },
          "202": {
            "description": "The Exclusion Template was accepted for deletion",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Exclusion Template was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful exclusion template delete": {
            "$ref": "./examples/LiveDataMigrator/ExclusionTemplateDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/metadataTargets": {
      "get": {
        "tags": [
          "metadataTarget"
        ],
        "description": "Returns list of Metadata Targets.",
        "operationId": "MetadataTargets_ListByMigrator",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Metadata Targets for specified Migrator.",
            "schema": {
              "$ref": "#/definitions/MetadataTargetList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Metadata Target list": {
            "$ref": "./examples/LiveDataMigrator/MetadataTargetList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/metadataTargets/{metadataTargetName}": {
      "get": {
        "tags": [
          "metadataTarget"
        ],
        "description": "Returns a given Metadata Target.",
        "operationId": "MetadataTargets_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MetadataTargetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "metadata target details.",
            "schema": {
              "$ref": "#/definitions/MetadataTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migrator Metadata Target by name": {
            "$ref": "./examples/LiveDataMigrator/MetadataTargetGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "metadataTarget"
        ],
        "description": "Creates a Metadata Target.",
        "operationId": "MetadataTargets_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MetadataTargetNameParameter"
          },
          {
            "name": "MetadataTarget",
            "description": "metadata target details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MetadataTarget"
            }
          }
        ],
        "x-ms-examples": {
          "Create Metadata Target": {
            "$ref": "./examples/LiveDataMigrator/MetadataTargetCreate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Updating Metadata Target.",
            "schema": {
              "$ref": "#/definitions/MetadataTarget"
            }
          },
          "201": {
            "description": "Creating Metadata Target.",
            "schema": {
              "$ref": "#/definitions/MetadataTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "metadataTarget"
        ],
        "description": "Updates a given Metadata Target.",
        "operationId": "MetadataTargets_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MetadataTargetNameParameter"
          },
          {
            "name": "Metadata Target",
            "description": "Metadata target update details.",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/MetadataTargetUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metadata Target Updated.",
            "schema": {
              "$ref": "#/definitions/MetadataTarget"
            }
          },
          "202": {
            "description": "Metadata Target update accepted.",
            "schema": {
              "$ref": "#/definitions/MetadataTarget"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Successful Migrator Metadata Target Patch": {
            "$ref": "./examples/LiveDataMigrator/MetadataTargetPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "metadataTarget"
        ],
        "description": "Deletes a given Metadata Target.",
        "operationId": "MetadataTargets_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MetadataTargetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Metadata Target was successfully deleted"
          },
          "202": {
            "description": "The Metadata Target was accepted for deletion",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Metadata Target was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful metadata target delete": {
            "$ref": "./examples/LiveDataMigrator/MetadataTargetDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/metadataMigrations": {
      "get": {
        "tags": [
          "metadataMigration"
        ],
        "description": "Returns list of Metadata Migrations.",
        "operationId": "MetadataMigrations_ListByMigrator",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Metadata Migrations for specified Migrator.",
            "schema": {
              "$ref": "#/definitions/MetadataMigrationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Migrator Metadata Migrations list": {
            "$ref": "./examples/LiveDataMigrator/MetadataMigrationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/metadataMigrations/{migrationName}": {
      "get": {
        "tags": [
          "metadataMigration"
        ],
        "description": "Returns a given Metadata Migration.",
        "operationId": "MetadataMigrations_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MetadataMigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "metadata migration details.",
            "schema": {
              "$ref": "#/definitions/MetadataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migrator Metadata Migration by name": {
            "$ref": "./examples/LiveDataMigrator/MetadataMigrationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "metadataMigration"
        ],
        "description": "Creates a Metadata Migration.",
        "operationId": "MetadataMigrations_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MetadataMigrationNameParameter"
          },
          {
            "name": "MetadataMigration",
            "description": "metadata migration details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MetadataMigration"
            }
          }
        ],
        "x-ms-examples": {
          "Create Metadata Migration": {
            "$ref": "./examples/LiveDataMigrator/MetadataMigrationCreate.json"
          }
        },
        "responses": {
          "200": {
            "description": "Metadata Migration Created.",
            "schema": {
              "$ref": "#/definitions/MetadataMigration"
            }
          },
          "201": {
            "description": "Creating Metadata Migration.",
            "schema": {
              "$ref": "#/definitions/MetadataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "metadataMigration"
        ],
        "description": "Updates a given Metadata Migration.",
        "operationId": "MetadataMigrations_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MetadataMigrationNameParameter"
          },
          {
            "name": "Metadata Migration",
            "description": "Metadata migration update details.",
            "in": "body",
            "schema": {
              "$ref": "./commonTypes.json#/definitions/TagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updating Metadata Migration.",
            "schema": {
              "$ref": "#/definitions/MetadataMigration"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful Metadata Migration Patch": {
            "$ref": "./examples/LiveDataMigrator/MetadataMigrationPatch.json"
          }
        }
      },
      "delete": {
        "tags": [
          "metadataMigration"
        ],
        "description": "Deletes a given Metadata Migration.",
        "operationId": "MetadataMigrations_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MetadataMigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Metadata Migration was successfully deleted"
          },
          "202": {
            "description": "The Metadata Migration was accepted for deletion",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Metadata Migration was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Successful metadata migration delete": {
            "$ref": "./examples/LiveDataMigrator/MetadataMigrationDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/metadataMigrations/{migrationName}/start": {
      "post": {
        "tags": [
          "metadataMigration"
        ],
        "description": "Start an existing metadata migration",
        "operationId": "MetadataMigrations_Start",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MetadataMigrationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start Metadata Migration": {
            "$ref": "./examples/LiveDataMigrator/MetadataMigrationStart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/metadataMigrations/{migrationName}/stop": {
      "post": {
        "tags": [
          "metadataMigration"
        ],
        "description": "Stop a metadata migration",
        "operationId": "MetadataMigrations_Stop",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MetadataMigrationStatusResponse"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Stop Metadata Migration": {
            "$ref": "./examples/LiveDataMigrator/MetadataMigrationStop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/dataTransferAgents": {
      "get": {
        "tags": [
          "dataTransferAgent"
        ],
        "description": "Returns a list of Data Transfer Agents for the specified Migrator",
        "operationId": "DataTransferAgents_ListByMigrator",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Data Transfer Agents",
            "schema": {
              "$ref": "#/definitions/DataTransferAgentList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get data transfer agents by migrator name": {
            "$ref": "./examples/LiveDataMigrator/DataTransferAgentsGetList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Wandisco.Fusion/migrators/{migratorName}/dataTransferAgents/{dataTransferAgentName}": {
      "get": {
        "tags": [
          "dataTransferAgent"
        ],
        "description": "Returns a given Data Transfer Agent",
        "operationId": "DataTransferAgents_Get",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/DataTransferAgentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Data Transfer Agent details",
            "schema": {
              "$ref": "#/definitions/DataTransferAgent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Get DTA by name": {
            "$ref": "./examples/LiveDataMigrator/DataTransferAgentsGetByName.json"
          }
        }
      },
      "put": {
        "tags": [
          "dataTransferAgent"
        ],
        "description": "Create or Update data transfer agent",
        "operationId": "DataTransferAgents_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/DataTransferAgentNameParameter"
          },
          {
            "name": "DataTransferAgent",
            "description": "Data Transfer Agent details",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataTransferAgent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Data Transfer Agent details",
            "schema": {
              "$ref": "#/definitions/DataTransferAgent"
            }
          },
          "201": {
            "description": "Created Data Transfer Agent details",
            "schema": {
              "$ref": "#/definitions/DataTransferAgent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "CreateDTA by name": {
            "$ref": "./examples/LiveDataMigrator/DataTransferAgentsCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "patch": {
        "tags": [
          "dataTransferAgent"
        ],
        "description": "Updates a given Data Transfer Agent",
        "operationId": "DataTransferAgents_Update",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/DataTransferAgentNameParameter"
          },
          {
            "name": "DataTransferAgent",
            "description": "data transfer agent update details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataTransferAgentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Data Transfer Agent",
            "schema": {
              "$ref": "#/definitions/DataTransferAgent"
            }
          },
          "202": {
            "description": "Data Transfer Agent update accepted",
            "schema": {
              "$ref": "#/definitions/DataTransferAgent"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "Patch DTA bandwidth": {
            "$ref": "./examples/LiveDataMigrator/DataTransferAgentsPatchBandwidth.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "delete": {
        "tags": [
          "dataTransferAgent"
        ],
        "description": "Delete data transfer agent",
        "operationId": "DataTransferAgents_Delete",
        "parameters": [
          {
            "$ref": "./commonTypes.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonTypes.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/MigratorNameParameter"
          },
          {
            "$ref": "#/parameters/DataTransferAgentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Data Transfer Agent was successfully deleted"
          },
          "202": {
            "description": "The Data Transfer Agent was accepted for deletion",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Data Transfer Agent was not found"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "deprecated": false,
        "x-ms-examples": {
          "Delete DTA bandwidth": {
            "$ref": "./examples/LiveDataMigrator/DataTransferAgentsDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "LiveDataMigrationUpdate": {
      "description": "Fields patchable on LiveDataMigration",
      "type": "object",
      "allOf": [
        {
          "$ref": "./commonTypes.json#/definitions/TagsUpdate"
        }
      ],
      "properties": {
        "properties": {
          "title": "properties",
          "description": "LiveDataMigrationUpdate properties",
          "x-ms-client-flatten": true,
          "type": "object",
          "properties": {
            "exclusions": {
              "type": "array",
              "readOnly": false,
              "description": "List exclusions to be applied to the migration",
              "items": {
                "$ref": "#/definitions/LDMExclusion"
              },
              "x-ms-identifiers": []
            },
            "recurringPeriodSeconds": {
              "type": "integer",
              "format": "int32",
              "description": "Minimum number of seconds from start of first scan until the next. Default is 0",
              "minimum": 0,
              "default": 0
            },
            "priority": {
              "description": "Assign a priority of High, Normal, or Low to your migration based on how time-critical the data transfer is",
              "$ref": "#/definitions/LiveDataMigrationPriority"
            }
          }
        }
      }
    },
    "LiveDataPathMapping": {
      "description": "LiveDataPathMapping Resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "./commonTypes.json#/definitions/FrpResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "LiveDataPathMapping Properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/LiveDataPathMappingProperties"
        }
      }
    },
    "LiveDataPathMappingDetails": {
      "description": "LiveDataPathMapping details Resource",
      "type": "object",
      "properties": {
        "sourcePath": {
          "type": "string",
          "description": "Source FileSystem path"
        },
        "targetId": {
          "type": "string",
          "description": "Target FileSystem resource Id"
        },
        "targetPath": {
          "type": "string",
          "description": "Target FileSystem path"
        },
        "pathMappingId": {
          "type": "string",
          "description": "Path Mapping resourceId"
        },
        "description": {
          "type": "string",
          "description": "Explains what this pathMapping does"
        }
      }
    },
    "LiveDataPathMappingList": {
      "description": "The list of LiveDataPathMappings.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of LiveDataPathMappings list.",
          "type": "string"
        },
        "value": {
          "description": "The list of LiveDataPathMappings.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LiveDataPathMapping"
          }
        }
      }
    },
    "LiveDataPathMappingProperties": {
      "description": "LiveDataPathMapping Properties",
      "type": "object",
      "properties": {
        "provisioningState": {
          "title": "ProvisioningState",
          "description": "Provisioning State of resource",
          "$ref": "./commonTypes.json#/definitions/ProvisioningState",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Explains what this pathMapping does"
        },
        "sourceFileSystem": {
          "type": "string",
          "description": "Source FileSystem type"
        },
        "sourcePath": {
          "type": "string",
          "description": "Source FileSystem path"
        },
        "targetId": {
          "type": "string",
          "description": "Target FileSystem type"
        },
        "targetPath": {
          "type": "string",
          "description": "Target FileSystem path"
        }
      },
      "required": [
        "sourcePath",
        "targetId",
        "targetPath"
      ]
    },
    "ExclusionTemplate": {
      "description": "Exclusion Template Resource",
      "type": "object",
      "allOf": [
        {
          "$ref": "./commonTypes.json#/definitions/FrpResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Exclusion Template Representation",
          "x-ms-client-flatten": false,
          "$ref": "#/definitions/ExclusionRepresentation"
        }
      },
      "required": [
        "properties"
      ],
      "x-ms-azure-resource": true
    },
    "ExclusionTemplateList": {
      "description": "The list of Exclusion Templates.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Exclusion Templates list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Exclusion Templates.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExclusionTemplate"
          }
        }
      }
    },
    "LDMExclusion": {
      "description": "LDM Exclusion",
      "type": "object",
      "properties": {
        "isFsRestriction": {
          "type": "boolean",
          "description": "Indicates whether this Exclusion is a Default Exclusion bounded by FileSystem limitation."
        },
        "isDefault": {
          "type": "boolean",
          "description": "Indicates whether this Exclusion is a Default Exclusion or a User Defined Exclusion from Exclusion Template."
        },
        "name": {
          "description": "The name of the exclusion. If it is User Defined Exclusion, then name would be the same as referenced Exclusion Template's name",
          "type": "string"
        },
        "details": {
          "type": "object",
          "$ref": "#/definitions/LDMExclusionDetail",
          "description": "The details of the exclusion"
        }
      },
      "required": [
        "name"
      ]
    },
    "LDMExclusionDetail": {
      "description": "LDM Exclusion",
      "type": "object",
      "discriminator": "exclusionKind",
      "properties": {
        "exclusionKind": {
          "$ref": "#/definitions/ExclusionKind",
          "description": "The kind of Exclusion."
        },
        "description": {
          "type": "string",
          "description": "Explains what this exclusion does"
        }
      },
      "required": [
        "exclusionKind"
      ]
    },
    "LDMDateExclusion": {
      "description": "Live Data Migrator Exclusion based on Date",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LDMExclusionDetail"
        }
      ],
      "properties": {
        "dateForExclusion": {
          "description": "Any file with a date earlier than dateForExclusion will be excluded",
          "type": "string",
          "format": "date-time"
        }
      },
      "required": [
        "dateForExclusion"
      ],
      "x-ms-discriminator-value": "DateExclusion"
    },
    "LDMFileSizeExclusion": {
      "description": "Live Date Migrator Exclusion based on File Size",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LDMExclusionDetail"
        }
      ],
      "properties": {
        "maxFileSizeBytes": {
          "description": "Any file with a file size greater than maxFileSizeBytes will be excluded",
          "type": "integer",
          "format": "int64"
        }
      },
      "required": [
        "maxFileSizeBytes"
      ],
      "x-ms-discriminator-value": "FileSizeExclusion"
    },
    "LDMPatternExclusion": {
      "description": "Live Data Migrator Exclusion based on Pattern",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/LDMExclusionDetail"
        }
      ],
      "properties": {
        "pattern": {
          "description": "Any file path matching the pattern in pattern will be excluded",
          "type": "string"
        },
        "patternType": {
          "description": "Pattern type.",
          "type": "string"
        }
      },
      "required": [
        "pattern",
        "patternType"
      ],
      "x-ms-discriminator-value": "PatternExclusion"
    },
    "ExclusionRepresentation": {
      "description": "Exclusion Representation",
      "type": "object",
      "discriminator": "exclusionKind",
      "properties": {
        "exclusionKind": {
          "$ref": "#/definitions/ExclusionKind",
          "description": "The kind of Exclusion."
        },
        "provisioningState": {
          "title": "ProvisioningState",
          "description": "Provisioning State of resource",
          "$ref": "./commonTypes.json#/definitions/ProvisioningState",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Explains what this exclusion does"
        }
      },
      "required": [
        "exclusionKind"
      ]
    },
    "ExclusionKind": {
      "type": "string",
      "description": "The kind of Exclusion.",
      "enum": [
        "DateExclusion",
        "FileSizeExclusion",
        "PatternExclusion"
      ],
      "x-ms-enum": {
[...]
