{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.MachineLearningServices management service",
    "version": "2024-01-01-preview",
    "description": "Microsoft.MachineLearningServices Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Indexes"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/indexes": {
      "get": {
        "operationId": "Indexes_ListByResourceGroup",
        "tags": [
          "Indexes"
        ],
        "description": "List Index resources by resource group",
        "parameters": [
          {
            "$ref": "#/parameters/CustomLatestQueryParameter"
          },
          {
            "$ref": "#/parameters/CustomIncludeAllVersionsQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.TopQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.SkipQueryParameter"
          },
          {
            "$ref": "#/parameters/Azure.Core.MaxPageSizeQueryParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IndexListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Indexes_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Indexes_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Indexes_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Indexes_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/indexes/{indexName}": {
      "get": {
        "operationId": "Indexes_Get",
        "tags": [
          "Indexes"
        ],
        "description": "Get a Index.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "indexName",
            "in": "path",
            "description": "Name of the index",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Index"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Indexes_Get_MaximumSet_Gen": {
            "$ref": "./examples/Indexes_Get_MaximumSet_Gen.json"
          },
          "Indexes_Get_MinimumSet_Gen": {
            "$ref": "./examples/Indexes_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Indexes_CreateOrUpdate",
        "tags": [
          "Indexes"
        ],
        "description": "Create a Index.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "indexName",
            "in": "path",
            "description": "Name of the index",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Index"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Index"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Indexes_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Indexes_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Indexes_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Indexes_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Indexes_Delete",
        "tags": [
          "Indexes"
        ],
        "description": "Delete a Index.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "indexName",
            "in": "path",
            "description": "Name of the index",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Indexes_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Indexes_Delete_MaximumSet_Gen.json"
          },
          "Indexes_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Indexes_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Index": {
      "type": "object",
      "description": "Index resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IndexProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "IndexListResult": {
      "type": "object",
      "description": "The response of a Index list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Index items on this page",
          "items": {
            "$ref": "#/definitions/Index"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IndexProperties": {
      "type": "object",
      "description": "Index properties",
      "properties": {
        "previousVersionIndexId": {
          "type": "string",
          "description": "Reference to the Index this index was versioned off of. Null implies creation of a new versioned set."
        },
        "storageUri": {
          "type": "string",
          "description": "Default workspace blob storage Uri. Should work across storage types and auth scenarios."
        },
        "version": {
          "type": "string",
          "description": "Set by system: format {Major-Version}.{Minor-Version}. Example 3.5, major version 3 minor version 5.",
          "readOnly": true
        },
        "indexConfigurations": {
          "type": "object",
          "description": "Placeholder for extras.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "previousVersionIndexId",
        "storageUri",
        "version",
        "indexConfigurations"
      ]
    }
  },
  "parameters": {
    "Azure.Core.MaxPageSizeQueryParameter": {
      "name": "maxpagesize",
      "in": "query",
      "description": "The maximum number of result items per page.",
      "required": false,
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.SkipQueryParameter": {
      "name": "skip",
      "in": "query",
      "description": "The number of result items to skip.",
      "required": false,
      "type": "integer",
      "format": "int32",
      "default": 0,
      "x-ms-parameter-location": "method"
    },
    "Azure.Core.TopQueryParameter": {
      "name": "top",
      "in": "query",
      "description": "The number of result items to return.",
      "required": false,
      "type": "integer",
      "format": "int32",
      "x-ms-parameter-location": "method"
    },
    "CustomIncludeAllVersionsQueryParameter": {
      "name": "$includeAllVersions",
      "in": "query",
      "description": "Return all the versions.",
      "required": false,
      "type": "boolean",
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "includeAllVersions"
    },
    "CustomLatestQueryParameter": {
      "name": "$latest",
      "in": "query",
      "description": "If set to true, $latest provides the latest of each index.",
      "required": false,
      "type": "boolean",
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "latest"
    }
  }
}
