{
  "swagger": "2.0",
  "info": {
    "title": "Security Insights",
    "description": "API spec for Microsoft.SecurityInsights (Azure Security Insights) resource provider",
    "version": "2019-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
	  "/providers/Microsoft.SecurityInsights/operations": {
		"get": {
			"operationId": "Operations_List",
			"description": "Lists all operations available Azure Security Insights Resource Provider.",
			"parameters": [
				{
					"$ref": "#/parameters/ApiVersion"
				}
			],
			"produces": [
				"application/json"
			],
			"responses": {
				"200": {
					"description": "OK. Succesfully retrieved operations list.",
					"schema": {
						"$ref": "#/definitions/operationsList"
					}
				}
			},
			"x-ms-pageable": {
				"nextLinkName": "nextLink"
			}
		}
	},
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}": {
      "get": {
        "x-ms-examples": {
          "Get an alert rule.": {
            "$ref": "./examples/GetAlertRuleById.json"
          }
        },
        "tags": [
          "Alert Rules"
        ],
        "description": "Gets an alert rule.",
        "operationId": "AlertRules_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
			"$ref": "#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/RuleId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AlertRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "creates or updates an alert rule.": {
            "$ref": "./examples/CreateAlertRule.json"
          }
        },
        "tags": [
          "Alert Rules"
        ],
        "description": "Creates or updates the alert rule.",
        "operationId": "AlertRules_Create",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
			"$ref": "#/parameters/OperationalInsightsResourceProvider"
          },
          {
            "$ref": "#/parameters/WorkspaceName"
          },
          {
            "$ref": "#/parameters/RuleId"
          },
          {
            "$ref": "#/parameters/AlertRule"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AlertRule"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AlertRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
	  "operation": {
		"description": "Operation provided by provider",
		"properties": {
			"name": {
				"type": "string",
				"description": "Name of the operation"
			},
			"display": {
				"type": "object",
				"description": "Properties of the operation",
				"properties": {
					"provider": {
						"type": "string",
						"description": "Provider name"
					},
					"resource": {
						"type": "string",
						"description": "Resource name"
					},
					"operation": {
						"type": "string",
						"description": "Operation name"
					},
					"description": {
						"type": "string",
						"description": "Description of the operation"
					}
				}
			}
		}
	},
	"operationsList": {
		"description": "Lists the operations available in the SecurityInsights RP.",
		"properties": {
			"nextLink": {
				"description": "URL to fetch the next set of alerts.",
				"type": "string"
			},
			"value": {
				"description": "Array of operations",
				"type": "array",
				"items": {
					"$ref": "#/definitions/operation"
				}
			}
		},
		"required": [
			"value"
		]
	},
    "CloudError": {
      "x-ms-external": true,
      "type": "object",
      "description": "Error response structure.",
      "properties": {
        "error": {
          "x-ms-client-flatten": true,
          "description": "Error data",
          "$ref": "#/definitions/CloudErrorBody"
        }
      }
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "type": "object",
      "description": "Error details.",
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        }
      }
    },
    "AlertRule": {
      "type": "object",
      "description": "Alert rule.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
			"x-ms-client-flatten": true,
			"description": "Alert rule properties",
			"$ref": "#/definitions/AlertRuleProperties"
        }
      }
    },
    "AlertRuleProperties": {
      "type": "object",
      "description": "Alert rule property bag.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The query that will create alerts for this rule."
        },
        "period": {
          "type": "string",
          "description": "The period that the alert will look at."
        }
      }
    },
    "Resource": {
      "x-ms-azure-resource": true,
      "description": "An azure resource object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
      "type": "string",
      "description": "Azure subscription ID"
    },
    "ResourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "ApiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "enum": [
        "2019-01-01-preview"
      ],
      "description": "API version for the operation"
    },
	"OperationalInsightsResourceProvider": {
		"name": "operationalInsightsResourceProvider",
		"in": "path",
		"required": true,
		"type": "string",
		"description": "The namespace of workspaces resource provider- Microsoft.operationalinsights.",
		"x-ms-parameter-location": "method"
	},
    "WorkspaceName": {
      "name": "workspaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the workspace.",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "RuleId": {
      "name": "ruleId",
      "in": "path",
      "required": true,
      "pattern": "^[0-9A-Fa-f]{8}-([0-9A-Fa-f]{4}-){3}[0-9A-Fa-f]{12}$",
      "type": "string",
      "description": "Alert rule ID",
	  "x-ms-parameter-location": "method"
    },
    "AlertRule": {
      "name": "alertRule",
      "in": "body",
      "description": "The alert rule",
      "required": true,
      "schema": {
        "$ref": "#/definitions/AlertRule"
      },
	  "x-ms-parameter-location": "method"
    }
  }
}