{
  "swagger": "2.0",
  "info": {
    "version": "2021-03-01",
    "title": "ContainerAppsRevisions API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/containerApps/{containerAppName}/revisions": {
      "get": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Get the Revisions for a given Container App.",
        "operationId": "ContainerAppsRevisions_ListRevisions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App for which Revisions are needed.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RevisionCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Container App's revisions": {
            "$ref": "./examples/ListRevisions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/containerApps/{containerAppName}/revisions/{name}": {
      "get": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Get a revision of a Container App.",
        "operationId": "ContainerAppsRevisions_GetRevision",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Container App Revision.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Revision"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Container App's revision": {
            "$ref": "./examples/GetRevision.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/containerApps/{containerAppName}/revisions/{name}/activate": {
      "post": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Activates a revision for a Container App",
        "operationId": "ContainerAppsRevisions_ActivateRevision",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Container App Revision to activate",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container App revision was activated"
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Activate Container App's revision": {
            "$ref": "./examples/ActivateRevision.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/containerApps/{containerAppName}/revisions/{name}/deactivate": {
      "post": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Deactivates a revision for a Container App",
        "operationId": "ContainerAppsRevisions_DeactivateRevision",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Container App Revision to deactivate",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container App revision was deactivated"
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deactivate Container App's revision": {
            "$ref": "./examples/DeactivateRevision.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/containerApps/{containerAppName}/revisions/{name}/restart": {
      "post": {
        "tags": [
          "ContainerAppsRevisions"
        ],
        "summary": "Restarts a revision for a Container App",
        "operationId": "ContainerAppsRevisions_RestartRevision",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "containerAppName",
            "in": "path",
            "description": "Name of the Container App.",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the Container App Revision to restart",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Container App revision was restarted"
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Restart Container App's revision": {
            "$ref": "./examples/RestartRevision.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Revision": {
      "description": "Container App Revision.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Revision resource specific properties",
          "type": "object",
          "properties": {
            "createdTime": {
              "format": "date-time",
              "description": "Timestamp describing when the revision was created\nby controller",
              "type": "string",
              "readOnly": true
            },
            "fqdn": {
              "description": "Fully qualified domain name of the revision",
              "type": "string",
              "readOnly": true
            },
            "template": {
              "$ref": "./CommonDefinitions.json#/definitions/Template",
              "description": "Container App Revision Template with all possible settings and the\ndefaults if user did not provide them. The defaults are populated\nas they were at the creation time",
              "readOnly": true
            },
            "active": {
              "description": "Boolean describing if the Revision is Active",
              "type": "boolean",
              "readOnly": true
            },
            "replicas": {
              "format": "int32",
              "description": "Number of pods currently running for this revision",
              "type": "integer",
              "readOnly": true
            },
            "trafficWeight": {
              "format": "int32",
              "description": "Traffic weight assigned to this revision",
              "type": "integer",
              "readOnly": true
            },
            "provisioningError": {
              "description": "Optional Field - Platform Error Message",
              "type": "string",
              "readOnly": true
            },
            "healthState": {
              "description": "Current health State of the revision",
              "enum": [
                "Healthy",
                "Unhealthy",
                "None"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "RevisionHealthState",
                "modelAsString": true
              }
            },
            "provisioningState": {
              "description": "Current provisioning State of the revision",
              "enum": [
                "Provisioning",
                "Provisioned",
                "Failed",
                "Deprovisioning",
                "Deprovisioned"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "RevisionProvisioningState",
                "modelAsString": true
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "RevisionCollection": {
      "description": "Container App Revisions collection ARM resource.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Revision"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
