{
  "swagger": "2.0",
  "info": {
    "version": "2019-10-01-preview",
    "title": "SubscriptionClient",
    "description": "Subscription client provides an interface to create and manage Azure subscriptions programmatically."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Subscription/PurchaseSupportStatus/{Id}": {
      "post": {
        "operationId": "Purchase_SupportStatus",
        "x-ms-examples": {
          "enableSubscription": {
            "$ref": "./examples/PurchaseSupportStatus.json"
          }
        },
        "description": "The operation to find out the purchase support status",
        "parameters": [
          {
            "$ref": "#/parameters/IdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/operationNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PurchaseSupportStatusResponseResult"
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Subscription/Subscriptions/{subscriptionId}/SupportPlan": {
      "get": {
        "operationId": "GetSupportPlan",
        "x-ms-examples": {
          "enableSubscription": {
            "$ref": "./examples/SupportPlan.json"
          }
        },
        "description": "The operation to find out the purchase support status",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SupportPlanResponseResult"
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Subscription/Subscriptions/{subscriptionId}/PurchaseSupport": {
      "post": {
        "operationId": "Purchase_SupportPlan",
        "x-ms-examples": {
          "enableSubscription": {
            "$ref": "./examples/PurchaseSupport.json"
          }
        },
        "description": "The operation to find out the purchase support status",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Normal response for a successful query.",
            "schema": {
              "$ref": "#/definitions/PurchaseSupportResponseResult"
            }
          },
          "202": {
            "description": "Accepted. Purchase support plan is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "CanceledSubscriptionId": {
      "description": "The ID of the canceled subscription",
      "properties": {
        "value": {
          "description": "The ID of the canceled subscription",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RenamedSubscriptionId": {
      "description": "The ID of the subscriptions that is being renamed",
      "properties": {
        "value": {
          "description": "The ID of the subscriptions that is being renamed",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnabledSubscriptionId": {
      "description": "The ID of the subscriptions that is being enabled",
      "properties": {
        "value": {
          "description": "The ID of the subscriptions that is being enabled",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SubscriptionName": {
      "type": "object",
      "description": "The new name of the subscription.",
      "properties": {
        "subscriptionName": {
          "type": "string",
          "description": "New subscription name"
        }
      }
    },
    "operationName": {
      "type": "object",
      "description": "The operation Name parameter.",
      "properties": {
        "value": {
          "description": "The operation Name",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SupportPlanResponseResult": {
      "description": "A list of containing support plan result.",
      "properties": {
        "id": {
          "type": "string",
          "description": "the Asset Id"
        },
        "offerId": {
          "type": "string",
          "description": "the support plan"
        },
        "startDate": {
          "type": "string",
          "description": "the start date"
        },
        "endDate": {
          "type": "string",
          "description": "the end date"
        },
        "productId": {
          "type": "string",
          "description": "the productId"
        },
        "skuId": {
          "type": "string",
          "description": "the skuId"
        }
      }
    },
    "PurchaseSupportStatusResponseResult": {
      "description": "A list of containing Purchase Records.",
      "properties": {
        "createdTimestamp": {
          "type": "string",
          "description": "Created timestamp"
        },
        "quoteId": {
          "type": "string",
          "description": "the Quotation Id"
        },
        "selfUrl": {
          "type": "string",
          "description": "SelfUrl"
        }
      }
    },
    "PurchaseSupportResponseResult": {
      "description": "A list of containing support plan result.",
      "properties": {
        "purchaseRecordId": {
          "type": "string",
          "description": "the purchase record Id"
        },
        "status": {
          "type": "string",
          "description": "the status"
        },
        "result": {
          "type": "string",
          "description": "the result"
        },
        "detailedErrorCode": {
          "type": "string",
          "description": "the detailed error code"
        },
        "billingTotal": {
          "type": "string",
          "description": "the billing total"
        }
      }
    },

    "OperationListResult": {
      "description": "Result of the request to list operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of operations."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Subscription",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. Current version is 2019-10-01-preview"
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription Id."
    },
    "planTypeParameter": {
      "name": "planType",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "the support planType"
    },
    "subscriptionNameParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "Subscription Name",
      "schema": {
        "$ref": "#/definitions/SubscriptionName"
      }
    },
    "IdParameter": {
      "name": "Id",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Id."
    },
    "operationNameParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "operationName",
      "schema": {
        "$ref": "#/definitions/operationName"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
