{
  "swagger": "2.0",
  "info": {
    "version": "2019-10-01-preview",
    "title": "SubscriptionClient",
    "description": "Subscription client provides an interface to create and manage Azure subscriptions programmatically."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/OperationStatus/{Id}": {
      "get": {
        "operationId": "GetOperationStatus_Get",
        "x-ms-examples": {
          "PurchaseSupportStatus": {
            "$ref": "./examples/GetOperationStatus.json"
          }
        },
        "description": "The operation to find out the purchase Operation status",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/IdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationStatusResponseResult"
            }
          },
          "202": {
            "description": "Accepted. Purchase support plan is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/SupportPlan": {
      "get": {
        "operationId": "SupportPlan_Get",
        "x-ms-examples": {
          "SupportPlan": {
            "$ref": "./examples/SupportPlanList.json"
          }
        },
        "description": "The operation to find out support plan list",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SupportPlanResponseResult"
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/SupportPlan/default": {
      "get": {
        "operationId": "SupportPlanDefault_Get",
        "x-ms-examples": {
          "SupportPlan": {
            "$ref": "./examples/SupportPlanDefault.json"
          }
        },
        "description": "The operation to find out the support plan",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DefaultSupportPlanResponseResult"
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/PurchaseSupport": {
      "post": {
        "operationId": "PurchaseSupportPlan_Post",
        "x-ms-examples": {
          "PurchaseSupport": {
            "$ref": "./examples/PurchaseSupport.json"
          }
        },
        "description": "The operation to purchase/convert/cancel support plan.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/supportPlanNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Normal response for a successful query.",
            "schema": {
              "$ref": "#/definitions/PurchaseSupportResponseResult"
            }
          },
          "202": {
            "description": "Accepted. Purchase support plan is in progress.",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "SubscriptionName": {
      "type": "object",
      "description": "The new name of the subscription.",
      "properties": {
        "subscriptionName": {
          "type": "string",
          "description": "New subscription name"
        }
      }
    },
    "planTypeEnum": {
      "type": "string",
      "description": "the planType.",
      "enum": [
        "basic_support",
        "developer_support",
        "standard_support",
        "prodirect_support"
      ]
    },
    "operationName": {
      "type": "object",
      "description": "The operation Name parameter.",
      "properties": {
        "value": {
          "description": "The operation Name",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DefaultSupportPlanResponseResult": {
      "description": "Default Support plan result.",
      "$ref": "#/definitions/SupportPlan"
    },
    "SupportPlanResponseResult": {
      "description": "Support plan result.",
      "properties": {
        "value": {
          "description": "The list of Support plan.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SupportPlan"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SupportPlan": {
      "description": "A SupportPlan resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SupportPlanProperties",
          "title": "SupportPlan properties"
        }
      }
    },
    "SupportPlanProperties": {
      "description": "The properties of the support plan.",
      "properties": {
        "planType": {
          "$ref": "#/definitions/planTypeEnum"
        },
        "endDate": {
          "type": "string",
          "description": "the end date"
        }
      }
    },
    "ProxyResource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "OperationStatusResponseResult": {
      "description": "Purchase Record result.",
      "properties": {
        "planType": {
          "$ref": "#/definitions/planTypeEnum"
        },
        "endDate": {
          "type": "string",
          "description": "the end date"
        }
      }
    },
    "SupportPlanName": {
      "type": "object",
      "description": "The supportPlan Name.",
      "properties": {
        "planType": {
          "$ref": "#/definitions/planTypeEnum"
        }
      }
    },
    "PurchaseSupportResponseResult": {
      "description": "A list of containing support plan result.",
      "properties": {
        "planType": {
          "$ref": "#/definitions/planTypeEnum"
        },
        "endDate": {
          "type": "string",
          "description": "the end date"
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of operations."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Subscription",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. Current version is 2019-10-01-preview"
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription Id."
    },
    "subscriptionNameParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "Subscription Name",
      "schema": {
        "$ref": "#/definitions/SubscriptionName"
      }
    },
    "planTypeParameter": {
      "name": "planType",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "the support planType"
    },
    "supportPlanNameParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "SupportPlan Name",
      "schema": {
        "$ref": "#/definitions/SupportPlanName"
      }
    },
    "IdParameter": {
      "name": "Id",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Id."
    },
    "operationNameParameter": {
      "name": "body",
      "x-ms-parameter-location": "method",
      "in": "body",
      "required": true,
      "description": "operationName",
      "schema": {
        "$ref": "#/definitions/operationName"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
