{
  "swagger": "2.0",
  "info": {
    "title": "ContosoManagementClient",
    "description": "The Microsoft.Contoso Rest API spec.",
    "version": "2020-01-01-preview",
    "x-ms-code-generation-settings": {
      "name": "ContosoClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Contoso/recipes": {
      "get": {
        "operationId": "recipes_ListBySubscription",
        "description": "List recipe resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/recipeListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Retrieves extension cluster resource": {
            "$ref": "examples/listRecipeBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/recipes": {
      "get": {
        "operationId": "recipes_ListByResourceGroup",
        "description": "List recipe resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/recipeListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Retrieves extension cluster resource": {
            "$ref": "examples/listRecipeByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/recipes/{recipeName}": {
      "get": {
        "operationId": "recipes_Get",
        "description": "Get a recipe",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/recipe.recipe"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/recipe"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves extension cluster resource": {
            "$ref": "examples/getRecipe.json"
          }
        }
      },
      "put": {
        "operationId": "recipes_CreateOrUpdate",
        "description": "Create a recipe",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/recipe.recipe"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/recipe"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/recipe"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            },
            "schema": {
              "$ref": "#/definitions/recipe"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create or update Recipe resource": {
            "$ref": "examples/createOrUpdateRecipe.json"
          }
        }
      },
      "patch": {
        "operationId": "recipes_Update",
        "description": "Update a recipe",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/recipe.recipe"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/recipeUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/recipe"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/recipe"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update extension clusters resource": {
            "$ref": "examples/updateRecipe.json"
          }
        }
      },
      "delete": {
        "operationId": "recipes_Delete",
        "description": "Delete a recipe",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/recipe.recipe"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Deletes the extension cluster resource": {
            "$ref": "examples/deleteRecipe.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Contoso/recipes/{recipeName}/shareRecipe": {
      "post": {
        "operationId": "recipes_post",
        "description": "Post or share a recipe",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/recipe.recipe"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource Post parameters.",
            "schema": {
              "$ref": "#/definitions/shareRecipe"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/shareRecipe"
            }
          },
          "202": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patches extension cluster resource": {
            "$ref": "examples/postRecipe.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "shareRecipe": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9-]{3,44}$"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "recipe": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/recipeProperties"
        },
        "name": {
          "type": "string",
          "pattern": "^[a-zA-Z0-9-]{3,44}$",
          "readOnly": true
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "description": "A recipe resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "recipeProperties": {
      "type": "object",
      "properties": {
        "origin": {
          "type": "string",
          "description": "Recipe origin.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "dishType": {
          "type": "string",
          "description": "what dish type is this Recipe?",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "Which group does this recipe fall into curry, snack, rice, bread etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "ingredients": {
          "type": "object",
          "description": "What all the main ingredients of the recipe.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "recipeUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags."
        },
        "properties": {
          "$ref": "#/definitions/recipeUpdateProperties"
        },
        "extendedLocation": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "The extended location type."
            },
            "name": {
              "type": "string",
              "description": "The extended location name."
            }
          }
        }
      },
      "description": "The type used for update operations of the recipe."
    },
    "recipeUpdateProperties": {
      "type": "object",
      "properties": {
        "origin": {
          "type": "string",
          "description": "Recipe origin.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "dishType": {
          "type": "string",
          "description": "what dish type is this Recipe?",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "group": {
          "type": "string",
          "description": "Which group does this recipe fall into curry, snack, rice, bread etc...",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        },
        "ingredients": {
          "type": "object",
          "description": "What all the main ingredients of the recipe.",
          "minLength": 1,
          "pattern": "^[A-Za-z0-9-._]+$"
        }
      },
      "description": "The updatable properties of the recipe."
    },
    "recipeListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/recipe"
          },
          "x-cadl-name": "recipe[]",
          "description": "The recipe items on this page"
        },
        "nextLink": {
          "type": "string",
          "description": "The link to the next page of items"
        }
      },
      "description": "The response of a recipe list operation."
    }
  },
  "parameters": {
    "recipe.recipe": {
      "name": "recipeName",
      "in": "path",
      "required": true,
      "pattern": "^[a-zA-Z0-9-]{3,60}$",
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
