{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Operations API",
    "description": "Lists all of the possible operations available for the Azure Monitor resource provider.",
    "version": "2023-10-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Insights/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available operations from Microsoft.Insights provider.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Get a list of operations for a resource provider": {
            "$ref": "./examples/OperationList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "BadRequest",
            "schema": {
              "$ref": "./commonMonitoringTypes.json#/definitions/ErrorContract"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "A list of REST API operations supported by the Microsoft.Insights Azure Resource Provider. It contains an URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "List of operations supported by the Microsoft.Insights provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results (if there are any)."
        }
      }
    },
    "Operation": {
      "title": "REST API Operation",
      "description": "Details of a REST API operation, returned from the Microsoft.Insights Operations API",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the operation, as per Resource-Based Access Control (RBAC). Examples: \"Microsoft.Insights/components/write\", \"Microsoft.Insights/metrics/read\"",
          "type": "string"
        },
        "isDataAction": {
          "description": "Whether the operation applies to data-plane. This is \"true\" for data-plane operations and \"false\" for ARM/control-plane operations.",
          "type": "boolean"
        },
        "display": {
          "description": "Localized display information for this particular operation.",
          "type": "object",
          "properties": {
            "publisher": {
              "description": "The publisher of this operation.",
              "type": "string"
            },
            "provider": {
              "description": "The localized friendly form of the resource provider name, e.g. \"Microsoft Azure Monitor\".",
              "type": "string"
            },
            "resource": {
              "description": "The localized friendly name of the resource type related to this operation. E.g. \"Application insights components\" or \"Log Definitions\".",
              "type": "string"
            },
            "operation": {
              "description": "The concise, localized friendly name for the operation; suitable for dropdowns. E.g. \"Reading an application insights component configuration\", \"Application Insights component metrics read\".",
              "type": "string"
            },
            "description": {
              "description": "The short, localized friendly description of the operation; suitable for tool tips and detailed views.",
              "type": "string"
            }
          }
        },
        "origin": {
          "description": "The intended executor of the operation; as in Resource Based Access Control (RBAC) and audit logs UX. Default value is \"user,system\"",
          "type": "string",
          "readOnly": true,
          "enum": [
            "user",
            "system",
            "user,system"
          ],
          "x-ms-enum": {
            "name": "Origin",
            "modelAsString": true
          }
        },
        "actionType": {
          "description": "Enum. Indicates the action type. \"Internal\" refers to actions that are for internal only APIs.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "Internal"
          ],
          "x-ms-enum": {
            "name": "ActionType",
            "modelAsString": true
          }
        },
        "properties": {
          "description": "Properties of operation, include log and metric specifications.",
          "x-ms-client-flatten": true,
          "x-ms-client-name": "OperationProperties",
          "$ref": "#/definitions/OperationProperties"
        }
      }
    },
    "OperationProperties": {
      "description": "Properties of operation, include metric specifications.",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "One property of operation, include metric specifications."
        }
      }
    },
    "ServiceSpecification": {
      "description": "One property of operation, include log specifications.",
      "type": "object",
      "properties": {
        "logSpecifications": {
          "description": "Log specifications of operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogSpecification"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "metricSpecifications": {
          "description": "Metric specifications of operation.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSpecification"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "legacyMetricSpecifications": {
          "description": "Legacy Metric specifications for operation. Deprecated, do not use.",
          "type": "object"
        }
      }
    },
    "LogSpecification": {
      "description": "Log specification of operation.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of log specification."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of log specification."
        },
        "blobDuration": {
          "type": "string",
          "description": "Blob duration of specification."
        }
      }
    },
    "MetricSpecification": {
      "description": "Metric specification of operation.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the metric."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the metric."
        },
        "displayDescription": {
          "type": "string",
          "description": "Display description of the metric."
        },
        "unit": {
          "type": "string",
          "description": "The metric unit. Possible values include: Count,Bytes,Seconds,Percent,CountPerSecond,BytesPerSecond,MilliSeconds,ByteSeconds,Unspecified,BitsPerSecond,Cores,MilliCores,NanoCores"
        },
        "aggregationType": {
          "type": "string",
          "description": "The default metric aggregation type. Possible values include: Total,Average,Maximum,Minimum,Count"
        },
        "supportedAggregationTypes": {
          "type": "array",
          "description": "The supported aggregation types for the metrics.",
          "items": {
            "type": "string"
          }
        },
        "supportedTimeGrainTypes": {
          "type": "array",
          "description": "The supported time grain types for the metrics.",
          "items": {
            "type": "string"
          }
        },
        "availabilities": {
          "type": "array",
          "description": "The supported time grain types for the metrics.",
          "items": {
            "type": "string"
          }
        },
        "lockAggregationType": {
          "type": "string",
          "description": "The metric lock aggregation type."
        },
        "category": {
          "type": "string",
          "description": "Category or type of metric."
        },
        "dimensions": {
          "type": "array",
          "description": "The dimensions of metric.",
          "items": {
            "$ref": "#/definitions/DimensionProperties"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "fillGapWithZero": {
          "type": "boolean",
          "description": "Property to specify whether to fill empty gaps with zero."
        },
        "internalMetricName": {
          "type": "string",
          "description": "The internal metric name."
        }
      }
    },
    "DimensionProperties": {
      "description": "Type of operation: get, read, delete, etc.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of dimension."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of dimension."
        },
        "toBeExportedForShoebox": {
          "type": "boolean",
          "description": "Legacy usage, should not set."
        },
        "isHidden": {
          "type": "boolean",
          "description": "When set, the dimension is hidden from the customer, used in conjunction with the defaultDimensionValues field below"
        },
        "defaultDimensionValues": {
          "type": "object",
          "description": "Default dimension value to be sent down for the hidden dimension during query"
        }
      }
    }
  }
}
