{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Metrics Data API",
    "description": "Provides APIs for getting the metric data for Azure resources.",
    "version": "2023-10-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/metricDefinitions": {
      "get": {
        "tags": [
          "MetricDefinitions"
        ],
        "operationId": "MetricDefinitions_ListAtSubscriptionScope",
        "description": "Lists the metric definitions for the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/RegionParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/MetricNamespaceParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./commonMonitoringTypes.json#/definitions/MetricsErrorContract"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric definitions",
            "schema": {
              "$ref": "#/definitions/SubscriptionScopeMetricDefinitionCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Get Subscription level Metric Definitions without filter": {
            "$ref": "./examples/GetMultiResourceMetricDefinitions.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Insights/metricDefinitions": {
      "get": {
        "tags": [
          "MetricDefinitions"
        ],
        "operationId": "MetricDefinitions_List",
        "description": "Lists the metric definitions for the resource.",
        "parameters": [
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/MetricNamespaceParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric definitions",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Get Metric Definitions without filter": {
            "$ref": "./examples/GetMetricDefinitions.json"
          },
          "Get Application Insights Metric Definitions without filter": {
            "$ref": "./examples/GetMetricDefinitionsApplicationInsights.json"
          },
          "Get StorageCache Metric Definitions with metric class": {
            "$ref": "./examples/GetMetricDefinitionsMetricClass.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/metrics": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "operationId": "Metrics_ListAtSubscriptionScope",
        "description": "**Lists the metric data for a subscription**.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/RegionParameter"
          },
          {
            "$ref": "#/parameters/TimespanParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/IntervalParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/MetricNamesParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/AggregationsParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/TopParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/OrderByParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionScopeResultTypeParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/MetricNamespaceParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/AutoAdjustTimegrain"
          },
          {
            "$ref": "#/parameters/ValidateDimensions"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./commonMonitoringTypes.json#/definitions/MetricsErrorContract"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric values.",
            "schema": {
              "$ref": "#/definitions/SubscriptionScopeMetricResponse"
            }
          }
        },
        "x-ms-odata": "#/definitions/MetadataValue",
        "x-ms-examples": {
          "Get subscription level metric data": {
            "$ref": "./examples/GetMultiResourceMetric.json"
          },
          "Get subscription level metric metadata": {
            "$ref": "./examples/GetMultiResourceMetricMetadata.json"
          }
        }
      },
      "post": {
        "tags": [
          "Metrics"
        ],
        "operationId": "Metrics_ListAtSubscriptionScopePost",
        "description": "**Lists the metric data for a subscription**. Parameters can be specified on either query params or the body.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/RegionParameter"
          },
          {
            "$ref": "#/parameters/TimespanParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/IntervalParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/MetricNamesParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/AggregationsParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/TopParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/OrderByParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionScopeResultTypeParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/MetricNamespaceParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/AutoAdjustTimegrain"
          },
          {
            "$ref": "#/parameters/ValidateDimensions"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Parameters serialized in the body",
            "schema": {
              "$ref": "#/definitions/SubscriptionScopeMetricsRequestBodyParameters"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./commonMonitoringTypes.json#/definitions/MetricsErrorContract"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric values.",
            "schema": {
              "$ref": "#/definitions/SubscriptionScopeMetricResponse"
            }
          }
        },
        "x-ms-odata": "#/definitions/MetadataValue",
        "x-ms-examples": {
          "Post request for subscription level metric data": {
            "$ref": "./examples/GetMultiResourceMetric.json"
          },
          "Post request for subscription level metric data using body params": {
            "$ref": "./examples/PostMultiResourceMetricBody.json"
          },
          "Post request for subscription level metric metadata": {
            "$ref": "./examples/GetMultiResourceMetricMetadata.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Insights/metrics": {
      "get": {
        "tags": [
          "Metrics"
        ],
        "operationId": "Metrics_List",
        "description": "**Lists the metric values for a resource**.",
        "parameters": [
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "#/parameters/TimespanParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/IntervalParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/MetricNamesParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/AggregationsParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/TopParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/OrderByParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/ResultTypeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/MetricNamespaceParameter"
          },
          {
            "$ref": "./commonMonitoringTypes.json#/parameters/AutoAdjustTimegrain"
          },
          {
            "$ref": "#/parameters/ValidateDimensions"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric values.",
            "schema": {
              "$ref": "#/definitions/ResourceScopeMetricResponse"
            }
          }
        },
        "x-ms-odata": "#/definitions/MetadataValue",
        "x-ms-examples": {
          "Get Metric for data": {
            "$ref": "./examples/GetMetric.json"
          },
          "Get Metric for metadata": {
            "$ref": "./examples/GetMetricMetadata.json"
          },
          "Get Metric with error": {
            "$ref": "./examples/GetMetricError.json"
          }
        }
      }
    }
  },
  "definitions": {
    "MetricAvailability": {
      "type": "object",
      "properties": {
        "timeGrain": {
          "type": "string",
          "format": "duration",
          "description": "the time grain specifies the aggregation interval for the metric. Expressed as a duration 'PT1M', 'P1D', etc."
        },
        "retention": {
          "type": "string",
          "format": "duration",
          "description": "the retention period for the metric at the specified timegrain.  Expressed as a duration 'PT1M', 'P1D', etc."
        }
      },
      "description": "Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain."
    },
    "AggregationType": {
      "type": "string",
      "description": "the aggregation type of the metric.",
      "enum": [
        "None",
        "Average",
        "Count",
        "Minimum",
        "Maximum",
        "Total"
      ],
      "x-ms-enum": {
        "name": "AggregationType",
        "modelAsString": false
      }
    },
    "MetricAggregationType": {
      "type": "string",
      "description": "the aggregation type of the metric.",
      "enum": [
        "None",
        "Average",
        "Count",
        "Minimum",
        "Maximum",
        "Total"
      ],
      "x-ms-enum": {
        "name": "MetricAggregationType",
        "modelAsString": true
      }
    },
    "MetricClass": {
      "type": "string",
      "description": "The class of the metric.",
      "enum": [
        "Availability",
        "Transactions",
        "Errors",
        "Latency",
        "Saturation"
      ],
      "x-ms-enum": {
        "name": "MetricClass",
        "modelAsString": true
      }
    },
    "MetricDefinition": {
      "type": "object",
      "properties": {
        "isDimensionRequired": {
          "type": "boolean",
          "description": "Flag to indicate whether the dimension is required."
        },
        "resourceId": {
          "type": "string",
          "description": "the resource identifier of the resource that emitted the metric."
        },
        "namespace": {
          "type": "string",
          "description": "the namespace the metric belongs to."
        },
        "name": {
          "$ref": "./commonMonitoringTypes.json#/definitions/LocalizableString",
          "description": "the name and the display name of the metric, i.e. it is a localizable string."
        },
        "displayDescription": {
          "type": "string",
          "description": "Detailed description of this metric."
        },
        "category": {
          "type": "string",
          "description": "Custom category name for this metric."
        },
        "metricClass": {
          "$ref": "#/definitions/MetricClass",
          "description": "The class of the metric."
        },
        "unit": {
          "$ref": "./commonMonitoringTypes.json#/definitions/MetricUnit",
          "description": "the unit of the metric."
        },
        "primaryAggregationType": {
          "$ref": "#/definitions/AggregationType",
          "description": "the primary aggregation type value defining how to use the values for display."
        },
        "supportedAggregationTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AggregationType"
          },
          "description": "the collection of what aggregation types are supported."
        },
        "metricAvailabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricAvailability"
          },
          "description": "the collection of what aggregation intervals are available to be queried."
        },
        "id": {
          "type": "string",
          "description": "the resource identifier of the metric definition."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "./commonMonitoringTypes.json#/definitions/LocalizableString"
          },
          "description": "the name and the display name of the dimension, i.e. it is a localizable string."
        }
      },
      "description": "Metric definition class specifies the metadata for a metric."
    },
    "MetricDefinitionCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDefinition"
          },
          "description": "the values for the metric definitions."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of metric definitions (if there are any).",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents collection of metric definitions."
    },
    "SubscriptionScopeMetricDefinition": {
      "type": "object",
      "description": "Metric definition class specifies the metadata for a metric.",
      "properties": {
        "isDimensionRequired": {
          "type": "boolean",
          "description": "Flag to indicate whether the dimension is required."
        },
        "resourceId": {
          "type": "string",
          "description": "the resource identifier of the resource that emitted the metric."
        },
        "namespace": {
          "type": "string",
          "description": "the namespace the metric belongs to."
        },
        "name": {
          "$ref": "./commonMonitoringTypes.json#/definitions/LocalizableString",
          "description": "the name and the display name of the metric, i.e. it is a localizable string."
        },
        "displayDescription": {
          "type": "string",
          "description": "Detailed description of this metric."
        },
        "category": {
          "type": "string",
          "description": "Custom category name for this metric."
        },
        "metricClass": {
          "$ref": "#/definitions/MetricClass",
          "description": "The class of the metric."
        },
        "unit": {
          "$ref": "./commonMonitoringTypes.json#/definitions/MetricUnit",
          "description": "the unit of the metric."
        },
        "primaryAggregationType": {
          "$ref": "#/definitions/MetricAggregationType",
          "description": "the primary aggregation type value defining how to use the values for display."
        },
        "supportedAggregationTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricAggregationType"
          },
          "description": "the collection of what aggregation types are supported."
        },
        "metricAvailabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricAvailability"
          },
          "description": "the collection of what aggregation intervals are available to be queried."
        },
        "id": {
          "type": "string",
          "description": "the resource identifier of the metric definition."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "./commonMonitoringTypes.json#/definitions/LocalizableString"
          },
          "description": "the name and the display name of the dimension, i.e. it is a localizable string."
        }
      }
    },
    "SubscriptionScopeMetricDefinitionCollection": {
      "type": "object",
      "description": "Represents collection of metric definitions.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionScopeMetricDefinition"
          },
          "description": "The values for the metric definitions."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of metric definitions (if there are any).",
          "readOnly": true
        }
      },
      "required": [
        "value"
      ]
    },
    "SubscriptionScopeMetricsRequestBodyParameters": {
      "description": "Query parameters can also be specified in the body, specifying the same parameter in both the body and query parameters will result in an error.",
      "type": "object",
      "properties": {
        "timespan": {
          "description": "The timespan of the query. It is a string with the following format 'startDateTime_ISO/endDateTime_ISO'.",
          "type": "string"
        },
        "interval": {
          "description": "The interval (i.e. timegrain) of the query.",
          "type": "string",
          "format": "duration"
        },
        "metricNames": {
          "description": "The names of the metrics (comma separated) to retrieve.",
          "type": "string"
        },
        "aggregation": {
          "description": "The list of aggregation types (comma separated) to retrieve.",
          "type": "string"
        },
        "filter": {
          "description": "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric contains metadata A, B and C.<br>- Return all time series of C where A = a1 and B = b1 or b2<br>**$filter=A eq ‘a1’ and B eq ‘b1’ or B eq ‘b2’ and C eq ‘*’**<br>- Invalid variant:<br>**$filter=A eq ‘a1’ and B eq ‘b1’ and C eq ‘*’ or B = ‘b2’**<br>This is invalid because the logical or operator cannot separate two different metadata names.<br>- Return all time series where A = a1, B = b1 and C = c1:<br>**$filter=A eq ‘a1’ and B eq ‘b1’ and C eq ‘c1’**<br>- Return all time series where A = a1<br>**$filter=A eq ‘a1’ and B eq ‘*’ and C eq ‘*’**.",
          "type": "string"
        },
        "top": {
          "description": "The maximum number of records to retrieve.\nValid only if $filter is specified.\nDefaults to 10.",
          "type": "integer",
          "format": "int32"
        },
        "orderBy": {
          "description": "The aggregation to use for sorting results and the direction of the sort.\nOnly one order can be specified.\nExamples: sum asc.",
          "type": "string"
        },
        "rollUpBy": {
          "description": "Dimension name(s) to rollup results by. For example if you only want to see metric values with a filter like 'City eq Seattle or City eq Tacoma' but don't want to see separate values for each city, you can specify 'RollUpBy=City' to see the results for Seattle and Tacoma rolled up into one timeseries.",
          "type": "string"
        },
        "resultType": {
          "description": "Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.",
          "type": "string",
          "enum": [
            "Data",
            "Metadata"
          ],
          "x-ms-enum": {
            "name": "MetricResultType",
            "modelAsString": true
          }
        },
        "metricNamespace": {
          "description": "Metric namespace where the metrics you want reside.",
          "type": "string"
        },
        "autoAdjustTimegrain": {
          "description": "When set to true, if the timespan passed in is not supported by this metric, the API will return the result using the closest supported timespan. When set to false, an error is returned for invalid timespan parameters. Defaults to false.",
          "type": "boolean"
        },
        "validateDimensions": {
          "description": "When set to false, invalid filter parameter values will be ignored. When set to true, an error is returned for invalid filter parameters. Defaults to true.",
          "type": "boolean"
        }
      }
    },
    "ResourceScopeMetricResponse": {
      "type": "object",
      "description": "The response to a metrics query.",
      "properties": {
        "cost": {
          "type": "number",
          "format": "int32",
          "minimum": 0,
          "description": "The integer value representing the relative cost of the query."
        },
        "timespan": {
          "type": "string",
          "description": "The timespan for which the data was retrieved. Its value consists of two datetimes concatenated, separated by '/'.  This may be adjusted in the future and returned back from what was originally requested."
        },
        "interval": {
          "type": "string",
          "format": "duration",
          "description": "The interval (window size) for which the metric data was returned in.  This may be adjusted in the future and returned back from what was originally requested.  This is not present if a metadata request was made."
        },
        "namespace": {
          "type": "string",
          "description": "The namespace of the metrics being queried"
        },
        "resourceregion": {
          "type": "string",
          "description": "The region of the resource being queried for metrics."
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceScopeMetric"
          },
          "description": "the value of the collection."
        }
      },
      "required": [
        "timespan",
        "value"
      ]
    },
    "ResourceScopeMetric": {
      "type": "object",
      "description": "The result data of a query.",
      "properties": {
        "id": {
          "type": "string",
          "description": "the metric Id."
        },
        "type": {
          "type": "string",
          "description": "the resource type of the metric resource."
        },
        "name": {
          "$ref": "./commonMonitoringTypes.json#/definitions/LocalizableString",
          "description": "the name and the display name of the metric, i.e. it is localizable string."
        },
        "displayDescription": {
          "type": "string",
          "description": "Detailed description of this metric."
        },
        "errorCode": {
          "type": "string",
          "description": "'Success' or the error details on query failures for this metric."
        },
        "errorMessage": {
          "type": "string",
          "description": "Error message encountered querying this specific metric."
        },
        "unit": {
          "$ref": "./commonMonitoringTypes.json#/definitions/Unit",
          "description": "The unit of the metric."
        },
        "timeseries": {
          "type": "array",
          "items": {
            "$ref": "./commonMonitoringTypes.json#/definitions/TimeSeriesElement"
          },
          "description": "the time series returned when a data query is performed."
        }
      },
      "required": [
        "id",
        "type",
        "name",
        "unit",
        "timeseries"
      ]
    },
    "SubscriptionScopeMetricResponse": {
      "type": "object",
      "description": "The response to a subscription scope metrics query.",
      "properties": {
        "cost": {
          "type": "number",
          "format": "int32",
          "minimum": 0,
          "description": "The integer value representing the relative cost of the query."
        },
        "timespan": {
          "type": "string",
          "description": "The timespan for which the data was retrieved. Its value consists of two datetimes concatenated, separated by '/'.  This may be adjusted in the future and returned back from what was originally requested."
        },
        "interval": {
          "type": "string",
          "format": "duration",
          "description": "The interval (window size) for which the metric data was returned in.  This may be adjusted in the future and returned back from what was originally requested.  This is not present if a metadata request was made."
        },
        "namespace": {
          "type": "string",
          "description": "The namespace of the metrics being queried"
        },
        "resourceregion": {
          "type": "string",
          "description": "The region of the resource being queried for metrics."
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "./commonMonitoringTypes.json#/definitions/SubscriptionScopeMetric"
          },
          "description": "the value of the collection."
        }
      },
      "required": [
        "timespan",
        "value"
      ]
    }
  },
  "parameters": {
    "TimespanParameter": {
      "name": "timespan",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The timespan of the query. It is a string with the following format 'startDateTime_ISO/endDateTime_ISO'.",
      "x-ms-parameter-location": "method"
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "type": "string",
      "description": "The **$filter** is used to reduce the set of metric data returned.<br>Example:<br>Metric contains metadata A, B and C.<br>- Return all time series of C where A = a1 and B = b1 or b2<br>**$filter=A eq ‘a1’ and B eq ‘b1’ or B eq ‘b2’ and C eq ‘*’**<br>- Invalid variant:<br>**$filter=A eq ‘a1’ and B eq ‘b1’ and C eq ‘*’ or B = ‘b2’**<br>This is invalid because the logical or operator cannot separate two different metadata names.<br>- Return all time series where A = a1, B = b1 and C = c1:<br>**$filter=A eq ‘a1’ and B eq ‘b1’ and C eq ‘c1’**<br>- Return all time series where A = a1<br>**$filter=A eq ‘a1’ and B eq ‘*’ and C eq ‘*’**.",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "SubscriptionScopeResultTypeParameter": {
      "name": "resultType",
      "in": "query",
      "type": "string",
      "enum": [
        "Data",
        "Metadata"
      ],
      "x-ms-enum": {
        "name": "MetricResultType",
        "modelAsString": true
      },
      "description": "Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.",
      "x-ms-parameter-location": "method",
      "required": false
    },
    "ResultTypeParameter": {
      "name": "resultType",
      "in": "query",
      "type": "string",
      "enum": [
        "Data",
        "Metadata"
      ],
      "x-ms-enum": {
        "name": "ResultType",
        "modelAsString": false
      },
      "description": "Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.",
      "x-ms-parameter-location": "method",
      "required": false
    },
    "ValidateDimensions": {
      "name": "ValidateDimensions",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "When set to false, invalid filter parameter values will be ignored. When set to true, an error is returned for invalid filter parameters. Defaults to true.",
      "x-ms-parameter-location": "method"
    }
  }
}
