{
  "swagger": "2.0",
  "info": {
    "version": "2022-09-08-preview",
    "title": "ConfidentialLedger",
    "description": "Microsoft Azure Confidential Compute Ledger Managed CCF Control Plane REST API version 2022-09-08-preview."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConfidentialLedger/managedCCF/{appName}": {
      "get": {
        "tags": [
          "Managed CCF"
        ],
        "summary": "Retrieves information about a Managed CCF resource.",
        "description": "Retrieves the properties of a Managed CCF app.",
        "operationId": "Mccf_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ManagedCCFNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Managed CCF",
            "schema": {
              "$ref": "#/definitions/ManagedCCF"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ManagedCCFGet": {
            "$ref": "./examples/Mccf_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Managed CCF"
        ],
        "summary": "Deletes a Managed CCF resource.",
        "description": "Deletes an existing Managed CCF.",
        "operationId": "Mccf_Delete",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ManagedCCFNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the Managed CCF is deleted."
          },
          "202": {
            "description": "The Managed CCF resource will be deleted asynchronously"
          },
          "204": {
            "description": "The request was successful; Managed CCF does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfidentialLedgerDelete": {
            "$ref": "./examples/Mccf_Delete.json"
          }
        }
      },
      "put": {
        "tags": [
          "Managed CCF"
        ],
        "summary": "Creates a Managed CCF.",
        "description": "Creates a Managed CCF with the specified Managed CCF parameters.",
        "operationId": "Mccf_Create",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ManagedCCFNameParameter"
          },
          {
            "name": "ManagedCCF",
            "in": "body",
            "description": "Managed CCF Create Request Body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedCCF"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and ledger was created; response contains the Managed CCF",
            "schema": {
              "$ref": "#/definitions/ManagedCCF"
            }
          },
          "201": {
            "description": "The Managed CCF resource will be created asynchronously"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ManagedCCFCreate": {
            "$ref": "./examples/Mccf_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Managed CCF"
        ],
        "summary": "Update Managed CCF properties",
        "description": "Updates properties of Managed CCF",
        "operationId": "Mccf_Update",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ManagedCCFNameParameter"
          },
          {
            "name": "ManagedCCF",
            "in": "body",
            "description": "Managed CCF request body for Updating MCCF App",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedCCF"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful and ledger was recovered; response contains the Managed CCF",
            "schema": {
              "$ref": "#/definitions/ManagedCCF"
            }
          },
          "202": {
            "description": "The Managed CCF resource will be updated asynchronously"
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ManagedCCFUpdate": {
            "$ref": "./examples/Mccf_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ConfidentialLedger/managedCCF": {
      "get": {
        "tags": [
          "Managed CCF"
        ],
        "summary": "Retrieves information about all Managed CCF resources under the given subscription and resource group",
        "description": "Retrieves the properties of all Managed CCF apps.",
        "operationId": "Mccf_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "type": "string",
            "description": "The filter to apply on the list operation. eg. $filter=ledgerType eq 'Public'",
            "name": "$filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Managed CCF",
            "schema": {
              "$ref": "#/definitions/ManagedCCFList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ManagedCCFList": {
            "$ref": "./examples/Mccf_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ConfidentialLedger/managedCCF/": {
      "get": {
        "tags": [
          "Managed CCF"
        ],
        "summary": "Retrieves information about all Managed CCF resources under the given subscription",
        "description": "Retrieves the properties of all Managed CCF.",
        "operationId": "Mccf_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "type": "string",
            "description": "The filter to apply on the list operation. eg. $filter=ledgerType eq 'Public'",
            "name": "$filter",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of Managed CCF",
            "schema": {
              "$ref": "#/definitions/ManagedCCFList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Managed CCF does not exist.)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ManagedCCFListBySub": {
            "$ref": "./examples/Mccf_ListBySub.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ResourceLocation": {
      "description": "Location of the Azure Resource",
      "type": "object",
      "properties": {
        "location": {
          "description": "The Azure location where the Confidential Ledger is running.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      }
    },
    "Tags": {
      "description": "Tags for Confidential Ledger Resource",
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Additional tags for Confidential Ledger",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Object representing ProvisioningState for Confidential Ledger.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ManagedCCFProperties": {
      "type": "object",
      "description": "Additional Managed CCF properties.",
      "title": "ManagedCCFProperties",
      "properties": {
        "appName": {
          "readOnly": true,
          "type": "string",
          "description": "Unique name for the Managed CCF."
        },
        "appUri": {
          "type": "string",
          "readOnly": true,
          "description": "Endpoint for calling Managed CCF Service."
        },
        "identityServiceUri": {
          "type": "string",
          "readOnly": true,
          "description": "Endpoint for accessing network identity."
        },
        "appSourceUri": {
          "type": "string",
          "readOnly": false,
          "description": "Source Uri containing mccf code"
        },
        "memberIdentityCertificate": {
          "type": "string",
          "readOnly": false,
          "description": "Public Key of the member identity certificate"
        },
        "provisioningState": {
          "description": "Provisioning state of Ledger Resource",
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "ManagedCCF": {
      "type": "object",
      "description": "Managed CCF. Contains the properties of Managed CCF Resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Properties of Managed CCF Resource.",
          "$ref": "#/definitions/ManagedCCFProperties"
        }
      }
    },
    "ManagedCCFList": {
      "description": "Object that includes an array of Managed CCF and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Managed CCF",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagedCCF"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ManagedCCFNameParameter": {
      "name": "appName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the Managed CCF",
      "pattern": "^[a-zA-Z0-9]",
      "x-ms-parameter-location": "method"
    }
  }
}
