{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ModSimWorkbench",
    "description": "Microsoft.ModSimWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{name}/start": {
      "post": {
        "tags": [
          "connectors_Start"
        ],
        "summary": "Perform Start operation.",
        "operationId": "connectors_Start",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "type": "string",
            "description": "Name of the resource group"
          },
          {
            "in": "path",
            "name": "workbenchName",
            "required": true,
            "type": "string",
            "description": "Name of the workbench"
          },
          {
            "in": "path",
            "name": "chamberName",
            "description": "the chamber name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string",
            "description": "Name of the connector"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Connectors Start": {
            "$ref": "./examples/ConnectorsStart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{name}/stop": {
      "post": {
        "tags": [
          "connectors_Stop"
        ],
        "summary": "Perform Stop operation.",
        "operationId": "connectors_Stop",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "resourceGroup",
            "description": "the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "workbenchName",
            "description": "the workbench name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "description": "the chamber name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "the connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Connectors stop": {
            "$ref": "./examples/ConnectorsStop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{name}/restart": {
      "post": {
        "tags": [
          "connectors_Restart"
        ],
        "summary": "Perform Restart operation.",
        "operationId": "connectors_Restart",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "resourceGroup",
            "description": "the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "workbenchName",
            "description": "the workbench name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "description": "the chamber name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "name",
            "description": "the connector name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Connectors Restart": {
            "$ref": "./examples/ConnectorsRestart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{connectorName}": {
      "put": {
        "tags": [
          "connectors_CreateOrUpdate"
        ],
        "operationId": "connectors_CreateOrUpdate",
        "description": "Creates or updates the specified connector.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "workbenchName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the workbench."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update connector operation.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Connector resource.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting Connector resource.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create Connector": {
            "$ref": "./examples/ConnectorsCreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "connectors_Update"
        ],
        "operationId": "connectors_Update",
        "description": "Updates the specified connectors.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "workbenchName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the workbench."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update connector operation.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting Connector resource.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting Connector resource.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Update Connector": {
            "$ref": "./examples/ConnectorsPatch.json"
          }
        }
      },
      "get": {
        "tags": [
          "connectors_Get"
        ],
        "operationId": "connectors_Get",
        "description": "Gets information about the specified connector.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "workbenchName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the workbench."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the specified connector.",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-examples": {
          "Get Connector": {
            "$ref": "./examples/ConnectorsGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "connectors_Delete"
        ],
        "operationId": "connectors_Delete",
        "description": "Deletes the specified connector.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "workbenchName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the workbench."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          },
          {
            "name": "connectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed successfully",
            "schema": {
              "$ref": "#/definitions/Connector"
            }
          },
          "204": {
            "description": "Request is successful. Resource with the specified name does not exist."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete Connector": {
            "$ref": "./examples/ConnectorsDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors": {
      "get": {
        "tags": [
          "connectors_List"
        ],
        "operationId": "connectors_List",
        "description": "Lists all connectors.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroup",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "workbenchName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the workbench."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all connectors",
            "schema": {
              "$ref": "#/definitions/ConnectorPageableList"
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all connectors": {
            "$ref": "./examples/ConnectorsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/connectors/{name}/licenseAdd": {
      "post": {
        "tags": [
          "connectors_LicenseAdd"
        ],
        "description": "Add license to an ModSim Workbench connector.",
        "operationId": "connectors_LicenseAdd",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "path",
            "name": "resourceGroup",
            "required": true,
            "type": "string",
            "description": "The name of the resource group"
          },
          {
            "in": "path",
            "name": "workbenchName",
            "required": true,
            "type": "string",
            "description": "The name of the workbench"
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          },
          {
            "in": "path",
            "name": "name",
            "required": true,
            "type": "string",
            "description": "The name of the connector."
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "License key parameters",
            "schema": {
              "$ref": "#/definitions/LicenseKeyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Connectors License Add": {
            "$ref": "./examples/ConnectorsLicenseAdd.json"
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "RemoteDesktop": {
      "type": "object",
      "description": "Remote Desktop properties.",
      "properties": {
        "etx": {
          "$ref": "#/definitions/Etx",
          "description": "The etx object."
        }
      }
    },
    "Etx": {
      "type": "object",
      "properties": {
        "connectionNodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "The connection node count."
        },
        "licenseActivated": {
          "description": "The license activated.",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "licenseActivated",
            "modelAsString": true
          }
        },
        "replyUrlEtx": {
          "description": "The reply URL of ETX Server for Azure AD app.",
          "type": "string"
        },
        "replyUrlOtds": {
          "description": "The reply URL of OTDS for Azure AD app.",
          "type": "string"
        },
        "licenseKeyUri": {
          "description": "The license key uri.",
          "type": "string"
        }
      },
      "description": "Etx properties."
    },
    "AccessConfiguration": {
      "type": "object",
      "description": "Access configuration properties.",
      "properties": {
        "accessType": {
          "description": "Gets or sets the AccessType.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "GUI"
          ],
          "x-ms-enum": {
            "name": "AccessType",
            "modelAsString": true
          }
        },
        "gatewayType": {
          "description": "Gets or sets the GatewayType.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "ExpressRoute",
            "None",
            "Vpn"
          ],
          "x-ms-enum": {
            "name": "GatewayType",
            "modelAsString": true
          }
        },
        "gatewayVnetId": {
          "type": "string",
          "description": "Gets or sets the GatewayVnetId."
        },
        "accessUrl": {
          "type": "string",
          "description": "Gets or sets the AccessUrl."
        },
        "ipAddress": {
          "type": "string",
          "description": "Gets or sets the IpAddress."
        }
      }
    },
    "NetworkAcls": {
      "type": "object",
      "description": "Access configuration properties.",
      "properties": {
        "allowedAddressSpaces": {
          "type": "array",
          "description": "Gets or sets the AllowedAddressSpaces.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [
            "allowedAddressSpaces"
          ]
        }
      }
    },
    "ConnectorPageableList": {
      "description": "Microsoft.Sdw.Core.ResourceMetadata.PageableList implementation specific to pageable lists of Microsoft.Sdw.Core.ResourceMetadata.AzureResource`1.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Gets or sets the URL (link) to the next result set.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the values to emit from this list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Connector"
          },
          "x-ms-identifiers": [
            "value"
          ]
        }
      }
    },
    "ConnectorPropertiesFormat": {
      "type": "object",
      "properties": {
        "accessConfigurations": {
          "type": "object",
          "items": {
            "$ref": "#/definitions/AccessConfiguration"
          },
          "description": "Gets or sets the Access Configuration."
        },
        "remoteDesktop": {
          "type": "object",
          "items": {
            "$ref": "#/definitions/RemoteDesktop"
          },
          "description": "Gets or sets the Remote Desktop."
        },
        "networkAcls": {
          "type": "object",
          "items": {
            "$ref": "#/definitions/NetworkAcls"
          },
          "description": "Specifies set of source IP address ranges to allow access the ModSim Workbench workbench."
        },
        "provisioningState": {
          "$ref": "./modsimworkbench.json#/definitions/ProvisioningState",
          "description": "Gets the status of the connector at the time the operation was called"
        }
      },
      "description": "Connector properties."
    },
    "Connector": {
      "description": "Connector resource",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConnectorPropertiesFormat",
          "description": "Connector properties.",
          "type": "object"
        }
      },
      "allOf": [
        {
          "$ref": "./modsimworkbench.json#/definitions/Resource"
        }
      ]
    },
    "LicenseKeyParameters": {
      "type": "object",
      "description": "License Key Parameters",
      "properties": {
        "licenseKey": {
          "x-ms-secret": true,
          "description": "Value of License Key",
          "type": "string"
        }
      }
    }
  }
}
