{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ModSimWorkbench",
    "description": "Microsoft.ModSimWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/fileRequests/{requestName}": {
      "get": {
        "tags": [
          "fileRequests_Get"
        ],
        "operationId": "fileRequests_Get",
        "summary": "Get a specific ModSim Workbench chamber data pipeline file request resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "workbenchName",
            "description": "the workbench name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "description": "the chamber name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "requestName",
            "description": "the request name.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Request"
            }
          },
          "default": {
            "description": "Default error response",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-examples": {
          "Request Get": {
            "$ref": "./examples/FileRequestsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/fileRequests/{requestName}/manage": {
      "post": {
        "tags": [
          "fileRequestsName_manage"
        ],
        "summary": "Manage download file requests in an ModSim Workbench chamber Data pipeline.",
        "operationId": "fileRequests_manage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "workbenchName",
            "description": "the workbench name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "description": "the chamber name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "requestName",
            "description": "the file request name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Manage download file requests parameters.",
            "schema": {
              "$ref": "#/definitions/FileRequestsManageParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileRequestsManage"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Files Data Inbound Sync": {
            "$ref": "./examples/FileRequestsManage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/fileRequests/{requestName}/getDownloadUri": {
      "post": {
        "tags": [
          "fileRequest_getDownloadUri"
        ],
        "summary": "Get SAS URI to download a file from an ModSim Workbench chamber data pipeline.",
        "operationId": "fileRequest_getDownloadUri",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "workbenchName",
            "description": "the workbench name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "description": "the chamber name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "requestName",
            "description": "the file request name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FileDownloadSasUri"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Files Data Inbound Sync": {
            "$ref": "./examples/FileRequestsGetDownloadUri.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/fileRequests": {
      "get": {
        "tags": [
          "fileRequests_List"
        ],
        "operationId": "fileRequests_List",
        "description": "Get ModSim Workbench chamber data pipeline file request resource collection.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "workbenchName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the workbench."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all files",
            "schema": {
              "$ref": "#/definitions/RequestPageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all files": {
            "$ref": "./examples/RequestList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RequestPageableList": {
      "description": "Microsoft.Sdw.Core.ResourceMetadata.PageableList implementation specific to pageable lists of Microsoft.Sdw.Core.ResourceMetadata.AzureResource`1.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Gets or sets the URL (link) to the next result set.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the values to emit from this list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Request"
          },
          "x-ms-identifiers": [
            "value"
          ]
        }
      }
    },
    "FileRequestsManage": {
      "description": "Manage download file requests in an chamber Data pipeline.",
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Manage download file requests in an chamber Data pipeline action"
        }
      }
    },
    "FileDownloadSasUri": {
      "description": "Get SAS URI to download a file from an chamber data pipeline.",
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Get SAS URI to download a file action"
        }
      }
    },
    "FileRequestsManageParameters": {
      "description": "Manage files in an ModSim Workbench chamber data pipeline.",
      "type": "object",
      "properties": {
        "action": {
          "description": "Specifies the file management action.",
          "type": "string",
          "enum": [
            "Approve",
            "Reject"
          ],
          "x-ms-enum": {
            "name": "FileRequestsAction",
            "modelAsString": true
          }
        },
        "description": {
          "description": "Specifies the reason for the action.",
          "type": "string"
        }
      }
    },
    "RequestPropertiesFormat": {
      "description": "File requests properties.",
      "type": "object",
      "properties": {
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp for the resource creation."
        },
        "fileId": {
          "type": "string",
          "description": "FileId for the operation"
        },
        "requestUserId": {
          "type": "string",
          "description": "Specifies the principal ID of Azure Active Directory User who requested to download."
        },
        "linuxUsername": {
          "type": "string",
          "description": "The ModSim Workbench chamber workloads local username used when login."
        },
        "status": {
          "type": "string",
          "description": "The status of ModSim Workbench chamber data pipeline request."
        },
        "description": {
          "type": "string",
          "description": "Description for the operation"
        },
        "approve": {
          "type": "object",
          "properties": {
            "id": {
              "x-ms-client-flatten": true,
              "type": "string",
              "description": "The globally unique identifier for the approval."
            },
            "description": {
              "x-ms-client-flatten": true,
              "type": "string",
              "description": "Description of approval"
            },
            "userId": {
              "x-ms-client-flatten": true,
              "type": "string",
              "description": "Specifies the principal ID of Azure Active Directory User who approved to download."
            },
            "timestamp": {
              "x-ms-client-flatten": true,
              "type": "string",
              "format": "date-time",
              "description": "The timestamp for the approval"
            }
          }
        },
        "download": {
          "type": "object",
          "properties": {
            "location": {
              "x-ms-client-flatten": true,
              "type": "string",
              "description": "Download destination location."
            },
            "startTime": {
              "x-ms-client-flatten": true,
              "type": "string",
              "format": "date-time",
              "description": "The timestamp for the start of download."
            },
            "completeTime": {
              "x-ms-client-flatten": true,
              "type": "string",
              "format": "date-time",
              "description": "The timestamp for the completion of download."
            }
          }
        },
        "internalMetadata": {
          "type": "object",
          "properties": {
            "sasUriId": {
              "x-ms-client-flatten": true,
              "type": "string",
              "description": "sas uri id"
            }
          }
        },
        "provisioningState": {
          "$ref": "./modsimworkbench.json#/definitions/ProvisioningState",
          "description": "Gets the status of the request at the time the operation was called"
        }
      }
    },
    "Request": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RequestPropertiesFormat",
          "description": "Request properties",
          "type": "object"
        }
      },
      "allOf": [
        {
          "$ref": "./modsimworkbench.json#/definitions/Resource"
        }
      ],
      "description": "Request resource"
    }
  }
}
