{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ModSimWorkbench",
    "description": "Microsoft.ModSimWorkbench resource provider OpenAPI Spec",
    "version": "2021-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/instances/{instanceName}/chambers/{chamberName}/files/{fileName}": {
      "get": {
        "tags": [
          "files_Get"
        ],
        "summary": "Get a specific ModSim Workbench chamber data pipeline file resource.",
        "operationId": "files_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fileName",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "security": [
          {
            "azure_auth": [
              "user_impersonation"
            ]
          }
        ],
        "x-ms-examples": {
          "Files Get": {
            "$ref": "./examples/FilesGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/instances/{instanceName}/chambers/{chamberName}/files/{fileName}/manage": {
      "post": {
        "tags": [
          "fileChamber_manage"
        ],
        "summary": "Manage files in an ModSim Workbench chamber data pipeline.",
        "operationId": "file_manage",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "description": "the instance name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "description": "the chamber name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fileName",
            "description": "the file name.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Manage download file parameters.",
            "schema": {
              "$ref": "#/definitions/FilesManageParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FilesManage"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Files Data Inbound Sync": {
            "$ref": "./examples/FilesManage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/instances/{instanceName}/chambers/{chamberName}/files/{fileName}/downloadRequest": {
      "post": {
        "tags": [
          "filesChamber_downloadRequest"
        ],
        "summary": "Request to download files from an ModSim Workbench chamber data pipeline.",
        "operationId": "files_downloadRequest",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "instanceName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "chamberName",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "fileName",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "the file download request parameters.",
            "schema": {
              "$ref": "#/definitions/FilesDownloadRequestParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DownloadRequest"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Files downloadRequest": {
            "$ref": "./examples/FilesDownloadRequest.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/instances/{instanceName}/chambers/{chamberName}/files": {
      "get": {
        "tags": [
          "files_List"
        ],
        "summary": "Get ModSim Workbench chamber data pipeline file resource collection.",
        "operationId": "files_List",
        "description": "Lists all files.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "instanceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the instance."
          },
          {
            "name": "chamberName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the chamber."
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the list of all files",
            "schema": {
              "$ref": "#/definitions/FilePageableList"
            }
          },
          "default": {
            "description": "Default Error Response",
            "schema": {
              "$ref": "./modsimworkbench.json#/definitions/ErrorResponse"
            },
            "x-ms-error-response": true
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all files": {
            "$ref": "./examples/FileList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "FilePageableList": {
      "description": "Microsoft.Sdw.Core.ResourceMetadata.PageableList implementation specific to pageable lists of Microsoft.Sdw.Core.ResourceMetadata.AzureResource`1.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Gets or sets the URL (link) to the next result set.",
          "type": "string"
        },
        "value": {
          "description": "Gets or sets the values to emit from this list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/File"
          },
          "x-ms-identifiers": [
            "value"
          ]
        }
      }
    },
    "FilesManage": {
      "description": "Manage files in an chamber data pipeline.",
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Manage files in an ModSim Workbench chamber data pipeline action"
        }
      }
    },
    "DownloadRequest": {
      "description": "Request to download files from an chamber data pipeline.",
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Request to download files from an ModSim Workbench chamber data pipeline action"
        }
      }
    },
    "FilePropertiesFormat": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "./modsimworkbench.json#/definitions/ProvisioningState",
          "description": "Gets the status of the file at the time the operation was called"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "The modified timestamp of the file."
        },
        "dataPipeline": {
          "type": "string",
          "description": "The direction of ModSim Workbench chamber data pipeline where the file located."
        },
        "requestId": {
          "type": "string",
          "description": "The resource ID of ModSim Workbench chamber data pipeline request Works and required only if requested is true."
        },
        "filePath": {
          "type": "string",
          "description": "The Linux File System path for the ModSim Workbench chamber data pipeline file."
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "description": "The size of the file.",
          "example": 1073741824
        },
        "checksum": {
          "type": "string",
          "description": "The MD5 hash of the file."
        }
      },
      "description": "File properties."
    },
    "File": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FilePropertiesFormat",
          "description": "File properties",
          "type": "object"
        }
      },
      "allOf": [
        {
          "$ref": "./modsimworkbench.json#/definitions/Resource"
        }
      ],
      "description": "File resource"
    },
    "FilesManageParameters": {
      "description": "Manage files in an ModSim Workbench chamber data pipeline.",
      "type": "object",
      "properties": {
        "dataPipeline": {
          "description": "Inbound or outbound of the ModSim Workbench chamber Data pipeline.",
          "type": "string",
          "enum": [
            "Inbound",
            "Outbound"
          ],
          "x-ms-enum": {
            "name": "dataPipeline",
            "modelAsString": true
          }
        },
        "action": {
          "description": "Specifies the file management action.",
          "type": "string",
          "enum": [
            "Delete",
            "Archive"
          ],
          "x-ms-enum": {
            "name": "action",
            "modelAsString": true
          }
        },
        "force": {
          "description": "Specifies whether to force delete. Works if action is Delete",
          "type": "string",
          "enum": [
            "True",
            "False"
          ],
          "x-ms-enum": {
            "name": "force",
            "modelAsString": true
          }
        }
      }
    },
    "FilesDownloadRequestParameters": {
      "description": "Request to download files from an ModSim Workbench chamber data pipeline.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Specifies the reason for the download request.",
          "type": "string"
        }
      }
    }
  }
}
