{
  "swagger": "2.0",
  "info": {
    "title": "Azure Migrate Assessment Service",
    "version": "2026-02-02-preview",
    "description": "Azure Migrate Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkAssessmentOperations"
    },
    {
      "name": "NetworkAssessmentSummaryOperations"
    },
    {
      "name": "AssessedNetworkTopologyOperations"
    },
    {
      "name": "AssessedVirtualNetworkOperations"
    },
    {
      "name": "AssessedSubnetOperations"
    },
    {
      "name": "AssessedLoadBalancerOperations"
    },
    {
      "name": "AssessedLbRuleOperations"
    },
    {
      "name": "AssessedNetworkSecurityGroupOperations"
    },
    {
      "name": "AssessedNsgRuleOperations"
    },
    {
      "name": "AssessedInboundNatRuleOperations"
    },
    {
      "name": "AssessedApplicationGatewayOperations"
    },
    {
      "name": "AssessedAppGwRoutingRuleOperations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments": {
      "get": {
        "operationId": "NetworkAssessmentOperations_ListByParent",
        "tags": [
          "NetworkAssessmentOperations"
        ],
        "description": "List NetworkAssessment resources by AssessmentProject",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkAssessmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkAssessmentOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/NetworkAssessmentOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}": {
      "get": {
        "operationId": "NetworkAssessmentOperations_Get",
        "tags": [
          "NetworkAssessmentOperations"
        ],
        "description": "Get a NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkAssessment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkAssessmentOperations_Get_MaximumSet": {
            "$ref": "./examples/NetworkAssessmentOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "NetworkAssessmentOperations_Create",
        "tags": [
          "NetworkAssessmentOperations"
        ],
        "description": "Create a NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkAssessment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'NetworkAssessment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkAssessment"
            }
          },
          "201": {
            "description": "Resource 'NetworkAssessment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/NetworkAssessment"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkAssessmentOperations_Create_MaximumSet": {
            "$ref": "./examples/NetworkAssessmentOperations_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "NetworkAssessmentOperations_Delete",
        "tags": [
          "NetworkAssessmentOperations"
        ],
        "description": "Delete a NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkAssessmentOperations_Delete_MaximumSet": {
            "$ref": "./examples/NetworkAssessmentOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedApplicationGateways": {
      "get": {
        "operationId": "AssessedApplicationGatewayOperations_ListByParent",
        "tags": [
          "AssessedApplicationGatewayOperations"
        ],
        "description": "List AssessedApplicationGateway resources by NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedApplicationGatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedApplicationGatewayOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedApplicationGatewayOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedApplicationGateways/{assessedApplicationGatewayName}": {
      "get": {
        "operationId": "AssessedApplicationGatewayOperations_Get",
        "tags": [
          "AssessedApplicationGatewayOperations"
        ],
        "description": "Get a AssessedApplicationGateway",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedApplicationGatewayName",
            "in": "path",
            "description": "Network assessment assessed application gateway ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedApplicationGateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedApplicationGatewayOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedApplicationGatewayOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedApplicationGateways/{assessedApplicationGatewayName}/assessedAppGwRoutingRules": {
      "get": {
        "operationId": "AssessedAppGwRoutingRuleOperations_ListByParent",
        "tags": [
          "AssessedAppGwRoutingRuleOperations"
        ],
        "description": "List AssessedAppGwRoutingRule resources by AssessedApplicationGateway",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedApplicationGatewayName",
            "in": "path",
            "description": "Network assessment assessed application gateway ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedAppGwRoutingRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedAppGwRoutingRuleOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedAppGwRoutingRuleOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedApplicationGateways/{assessedApplicationGatewayName}/assessedAppGwRoutingRules/{assessedAppGwRoutingRuleName}": {
      "get": {
        "operationId": "AssessedAppGwRoutingRuleOperations_Get",
        "tags": [
          "AssessedAppGwRoutingRuleOperations"
        ],
        "description": "Get a AssessedAppGwRoutingRule",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedApplicationGatewayName",
            "in": "path",
            "description": "Network assessment assessed application gateway ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedAppGwRoutingRuleName",
            "in": "path",
            "description": "Network assessment assessed application gateway routing rule ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedAppGwRoutingRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedAppGwRoutingRuleOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedAppGwRoutingRuleOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedLoadBalancers": {
      "get": {
        "operationId": "AssessedLoadBalancerOperations_ListByParent",
        "tags": [
          "AssessedLoadBalancerOperations"
        ],
        "description": "List AssessedLoadBalancer resources by NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedLoadBalancerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedLoadBalancerOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedLoadBalancerOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedLoadBalancers/{assessedLoadBalancerName}": {
      "get": {
        "operationId": "AssessedLoadBalancerOperations_Get",
        "tags": [
          "AssessedLoadBalancerOperations"
        ],
        "description": "Get a AssessedLoadBalancer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedLoadBalancerName",
            "in": "path",
            "description": "Network assessment assessed load balancer ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedLoadBalancer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedLoadBalancerOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedLoadBalancerOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedLoadBalancers/{assessedLoadBalancerName}/assessedInboundNatRules": {
      "get": {
        "operationId": "AssessedInboundNatRuleOperations_ListByParent",
        "tags": [
          "AssessedInboundNatRuleOperations"
        ],
        "description": "List AssessedInboundNatRule resources by AssessedLoadBalancer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedLoadBalancerName",
            "in": "path",
            "description": "Network assessment assessed load balancer ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedInboundNatRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedInboundNatRuleOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedInboundNatRuleOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedLoadBalancers/{assessedLoadBalancerName}/assessedInboundNatRules/{assessedInboundNatRuleName}": {
      "get": {
        "operationId": "AssessedInboundNatRuleOperations_Get",
        "tags": [
          "AssessedInboundNatRuleOperations"
        ],
        "description": "Get a AssessedInboundNatRule",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedLoadBalancerName",
            "in": "path",
            "description": "Network assessment assessed load balancer ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedInboundNatRuleName",
            "in": "path",
            "description": "Network assessment assessed inbound NAT rule ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedInboundNatRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedInboundNatRuleOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedInboundNatRuleOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedLoadBalancers/{assessedLoadBalancerName}/assessedLbRules": {
      "get": {
        "operationId": "AssessedLbRuleOperations_ListByParent",
        "tags": [
          "AssessedLbRuleOperations"
        ],
        "description": "List AssessedLbRule resources by AssessedLoadBalancer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedLoadBalancerName",
            "in": "path",
            "description": "Network assessment assessed load balancer ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedLbRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedLbRuleOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedLbRuleOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedLoadBalancers/{assessedLoadBalancerName}/assessedLbRules/{assessedLbRuleName}": {
      "get": {
        "operationId": "AssessedLbRuleOperations_Get",
        "tags": [
          "AssessedLbRuleOperations"
        ],
        "description": "Get a AssessedLbRule",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedLoadBalancerName",
            "in": "path",
            "description": "Network assessment assessed load balancer ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedLbRuleName",
            "in": "path",
            "description": "Network assessment assessed load balancer rule ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedLbRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedLbRuleOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedLbRuleOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedNetworkSecurityGroups": {
      "get": {
        "operationId": "AssessedNetworkSecurityGroupOperations_ListByParent",
        "tags": [
          "AssessedNetworkSecurityGroupOperations"
        ],
        "description": "List AssessedNetworkSecurityGroup resources by NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedNetworkSecurityGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedNetworkSecurityGroupOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedNetworkSecurityGroupOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedNetworkSecurityGroups/{assessedNetworkSecurityGroupName}": {
      "get": {
        "operationId": "AssessedNetworkSecurityGroupOperations_Get",
        "tags": [
          "AssessedNetworkSecurityGroupOperations"
        ],
        "description": "Get a AssessedNetworkSecurityGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedNetworkSecurityGroupName",
            "in": "path",
            "description": "Network assessment assessed network security group ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedNetworkSecurityGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedNetworkSecurityGroupOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedNetworkSecurityGroupOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedNetworkSecurityGroups/{assessedNetworkSecurityGroupName}/assessedNsgRules": {
      "get": {
        "operationId": "AssessedNsgRuleOperations_ListByParent",
        "tags": [
          "AssessedNsgRuleOperations"
        ],
        "description": "List AssessedNsgRule resources by AssessedNetworkSecurityGroup",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedNetworkSecurityGroupName",
            "in": "path",
            "description": "Network assessment assessed network security group ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedNsgRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedNsgRuleOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedNsgRuleOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedNetworkSecurityGroups/{assessedNetworkSecurityGroupName}/assessedNsgRules/{assessedNsgRuleName}": {
      "get": {
        "operationId": "AssessedNsgRuleOperations_Get",
        "tags": [
          "AssessedNsgRuleOperations"
        ],
        "description": "Get a AssessedNsgRule",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedNetworkSecurityGroupName",
            "in": "path",
            "description": "Network assessment assessed network security group ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedNsgRuleName",
            "in": "path",
            "description": "Network assessment assessed network security group rule ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedNsgRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedNsgRuleOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedNsgRuleOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedNetworkTopologies": {
      "get": {
        "operationId": "AssessedNetworkTopologyOperations_ListByParent",
        "tags": [
          "AssessedNetworkTopologyOperations"
        ],
        "description": "List AssessedNetworkTopology resources by NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedNetworkTopologyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedNetworkTopologyOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedNetworkTopologyOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedNetworkTopologies/{assessedNetworkTopologyName}": {
      "get": {
        "operationId": "AssessedNetworkTopologyOperations_Get",
        "tags": [
          "AssessedNetworkTopologyOperations"
        ],
        "description": "Get a AssessedNetworkTopology",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedNetworkTopologyName",
            "in": "path",
            "description": "Network assessment assessed topology ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedNetworkTopology"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedNetworkTopologyOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedNetworkTopologyOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedVirtualNetworks": {
      "get": {
        "operationId": "AssessedVirtualNetworkOperations_ListByParent",
        "tags": [
          "AssessedVirtualNetworkOperations"
        ],
        "description": "List AssessedVirtualNetwork resources by NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedVirtualNetworkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedVirtualNetworkOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedVirtualNetworkOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedVirtualNetworks/{assessedVirtualNetworkName}": {
      "get": {
        "operationId": "AssessedVirtualNetworkOperations_Get",
        "tags": [
          "AssessedVirtualNetworkOperations"
        ],
        "description": "Get a AssessedVirtualNetwork",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedVirtualNetworkName",
            "in": "path",
            "description": "Network assessment assessed virtual network ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedVirtualNetwork"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedVirtualNetworkOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedVirtualNetworkOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedVirtualNetworks/{assessedVirtualNetworkName}/assessedSubnets": {
      "get": {
        "operationId": "AssessedSubnetOperations_ListByParent",
        "tags": [
          "AssessedSubnetOperations"
        ],
        "description": "List AssessedSubnet resources by AssessedVirtualNetwork",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.filter"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.pageSize"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.continuationToken"
          },
          {
            "$ref": "#/parameters/AssessedResourceListQueryParameters.totalRecordCount"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedVirtualNetworkName",
            "in": "path",
            "description": "Network assessment assessed virtual network ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSubnetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedSubnetOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/AssessedSubnetOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/assessedVirtualNetworks/{assessedVirtualNetworkName}/assessedSubnets/{assessedSubnetName}": {
      "get": {
        "operationId": "AssessedSubnetOperations_Get",
        "tags": [
          "AssessedSubnetOperations"
        ],
        "description": "Get a AssessedSubnet",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedVirtualNetworkName",
            "in": "path",
            "description": "Network assessment assessed virtual network ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessedSubnetName",
            "in": "path",
            "description": "Network assessment assessed subnet ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssessedSubnet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AssessedSubnetOperations_Get_MaximumSet": {
            "$ref": "./examples/AssessedSubnetOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/downloadUrl": {
      "post": {
        "operationId": "NetworkAssessmentOperations_DownloadUrl",
        "tags": [
          "NetworkAssessmentOperations"
        ],
        "summary": "Get download URL for the assessment report.",
        "description": "Get the URL for downloading the assessment in a report format.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DownloadUrl"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get download URL for the assessment report.": {
            "$ref": "./examples/NetworkAssessmentOperations_DownloadUrl_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/summaries": {
      "get": {
        "operationId": "NetworkAssessmentSummaryOperations_ListByParent",
        "tags": [
          "NetworkAssessmentSummaryOperations"
        ],
        "description": "List NetworkAssessmentSummary resources by NetworkAssessment",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkAssessmentSummaryListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkAssessmentSummaryOperations_ListByParent_MaximumSet": {
            "$ref": "./examples/NetworkAssessmentSummaryOperations_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/networkAssessments/{assessmentName}/summaries/{summaryName}": {
      "get": {
        "operationId": "NetworkAssessmentSummaryOperations_Get",
        "tags": [
          "NetworkAssessmentSummaryOperations"
        ],
        "description": "Get a NetworkAssessmentSummary",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Assessment Project Name",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "assessmentName",
            "in": "path",
            "description": "Network Assessment ARM name.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          },
          {
            "name": "summaryName",
            "in": "path",
            "description": "Gets the Name of the Network Assessment Summary.",
            "required": true,
            "type": "string",
            "pattern": "^[^<>&:\\?/#]{1,260}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkAssessmentSummary"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkAssessmentSummaryOperations_Get_MaximumSet": {
            "$ref": "./examples/NetworkAssessmentSummaryOperations_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AppGwAutoscaleConfiguration": {
      "type": "object",
      "description": "Application gateway autoscale configuration.",
      "properties": {
        "minCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Lower bound on number of Application Gateway capacity.",
          "readOnly": true
        },
        "maxCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Upper bound on number of Application Gateway capacity.",
          "readOnly": true
        }
      }
    },
    "AppGwBackendAddressPool": {
      "type": "object",
      "description": "Application gateway backend address pool.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the backend address pool.",
          "readOnly": true
        },
        "workloadIds": {
          "type": "array",
          "description": "ARM resource IDs of the backend targets (VMs, VMSS instances, or App Services) in this pool.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "AppGwBackendSettings": {
      "type": "object",
      "description": "Application gateway backend settings.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the backend settings.",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The destination port on the backend.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "#/definitions/AppGwProtocol",
          "description": "The protocol used to communicate with the backend.",
          "readOnly": true
        },
        "requestTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "Request timeout in seconds. Acceptable values are from 1 second to 86400 seconds.",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "Host header to be sent to the backend servers.",
          "readOnly": true
        }
      }
    },
    "AppGwFrontendIpConfig": {
      "type": "object",
      "description": "Application gateway frontend IP configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the frontend IP configuration.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/AppGwType",
          "description": "The type of the frontend IP configuration indicating public or private.",
          "readOnly": true
        },
        "publicIpName": {
          "type": "string",
          "description": "The name of the public IP resource associated with this frontend IP configuration. Applicable for public frontends.",
          "readOnly": true
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address of the frontend IP configuration. For public frontends this is the public IP; for private frontends this is the private IP allocated from the application gateway's dedicated subnet.",
          "readOnly": true
        }
      }
    },
    "AppGwHealthProbe": {
      "type": "object",
      "description": "Application gateway health probe.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the health probe.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "#/definitions/AppGwProtocol",
          "description": "The protocol used for the probe.",
          "readOnly": true
        },
        "host": {
          "type": "string",
          "description": "Host name to send the probe to.",
          "readOnly": true
        },
        "path": {
          "type": "string",
          "description": "Relative path of the probe. Valid path starts from '/'.",
          "readOnly": true
        },
        "interval": {
          "type": "integer",
          "format": "int32",
          "description": "The probing interval in seconds.",
          "readOnly": true
        },
        "timeout": {
          "type": "integer",
          "format": "int32",
          "description": "The probe timeout in seconds.",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Custom port used for probing the backend servers.",
          "readOnly": true
        }
      }
    },
    "AppGwListener": {
      "type": "object",
      "description": "Application gateway listener.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the listener.",
          "readOnly": true
        },
        "frontendIpConfiguration": {
          "$ref": "#/definitions/AppGwFrontendIpConfig",
          "description": "The frontend IP configuration associated with this listener.",
          "readOnly": true
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The frontend port number.",
          "readOnly": true
        },
        "protocol": {
          "$ref": "#/definitions/AppGwProtocol",
          "description": "Protocol of the listener.",
          "readOnly": true
        },
        "hostName": {
          "type": "string",
          "description": "Host name of the listener.",
          "readOnly": true
        }
      }
    },
    "AppGwProtocol": {
      "type": "string",
      "description": "Application gateway protocol.",
      "enum": [
        "Http",
        "Https",
        "Tcp",
        "Tls"
      ],
      "x-ms-enum": {
        "name": "AppGwProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "Http",
            "value": "Http",
            "description": "HTTP protocol."
          },
          {
            "name": "Https",
            "value": "Https",
            "description": "HTTPS protocol."
          },
          {
            "name": "Tcp",
            "value": "Tcp",
            "description": "TCP protocol."
          },
          {
            "name": "Tls",
            "value": "Tls",
            "description": "TLS protocol."
          }
        ]
      }
    },
    "AppGwRequestRoutingRuleType": {
      "type": "string",
      "description": "Application gateway request routing rule type.",
      "enum": [
        "Basic",
        "PathBasedRouting"
      ],
      "x-ms-enum": {
        "name": "AppGwRequestRoutingRuleType",
        "modelAsString": true,
        "values": [
          {
            "name": "Basic",
            "value": "Basic",
            "description": "Basic routing rule."
          },
          {
            "name": "PathBasedRouting",
            "value": "PathBasedRouting",
            "description": "Path based routing rule."
          }
        ]
      }
    },
    "AppGwRoutingRuleExtendedDetails": {
      "type": "object",
      "description": "Application gateway routing rule extended details.",
      "properties": {
        "ruleType": {
          "$ref": "#/definitions/AppGwRequestRoutingRuleType",
          "description": "Rule type.",
          "readOnly": true
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of the request routing rule.",
          "readOnly": true
        },
        "listener": {
          "$ref": "#/definitions/AppGwListener",
          "description": "The listener associated with this rule.",
          "readOnly": true
        },
        "backendAddressPool": {
          "type": "string",
          "description": "The name of the backend address pool associated with this rule.",
          "readOnly": true
        },
        "backendSettings": {
          "$ref": "#/definitions/AppGwBackendSettings",
          "description": "The backend settings associated with this rule.",
          "readOnly": true
        }
      }
    },
    "AppGwSku": {
      "type": "string",
      "description": "Name of an application gateway SKU.",
      "enum": [
        "Standard_v2",
        "WAF_v2"
      ],
      "x-ms-enum": {
        "name": "AppGwSku",
        "modelAsString": true,
        "values": [
          {
            "name": "Standard_v2",
            "value": "Standard_v2",
            "description": "Standard v2 SKU."
          },
          {
            "name": "WAF_v2",
            "value": "WAF_v2",
            "description": "WAF v2 SKU."
          }
        ]
      }
    },
    "AppGwType": {
      "type": "string",
      "description": "Scope of the application gateway indicating external (Public) or internal (Private).",
      "enum": [
        "Public",
        "Private"
      ],
      "x-ms-enum": {
        "name": "AppGwType",
        "modelAsString": true,
        "values": [
          {
            "name": "Public",
            "value": "Public",
            "description": "Public application gateway."
          },
          {
            "name": "Private",
            "value": "Private",
            "description": "Private application gateway."
          }
        ]
      }
    },
    "AppSvcContainerSettings": {
      "type": "object",
      "description": "App service container settings.",
      "properties": {
        "isolationRequired": {
          "type": "boolean",
          "description": "Gets or sets the isolation required."
        }
      },
      "required": [
        "isolationRequired"
      ]
    },
    "AppSvcNativeSettings": {
      "type": "object",
      "description": "App service native settings.",
      "properties": {
        "isolationRequired": {
          "type": "boolean",
          "description": "Gets or sets the isolation required."
        }
      },
      "required": [
        "isolationRequired"
      ]
    },
    "ApplicationGatewayExtendedDetails": {
      "type": "object",
      "description": "Application gateway extended details.",
      "properties": {
        "sku": {
          "$ref": "#/definitions/AppGwSku",
          "description": "The name of the application gateway SKU.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/AppGwType",
          "description": "The scope of the application gateway indicating external (Public) or internal (Private).",
          "readOnly": true
        },
        "subnetName": {
          "type": "string",
          "description": "The dedicated subnet name for the application gateway.",
          "readOnly": true
        },
        "frontendIpConfigurations": {
          "type": "array",
          "description": "Frontend IP configurations of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/AppGwFrontendIpConfig"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "backendAddressPools": {
          "type": "array",
          "description": "Backend address pools of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/AppGwBackendAddressPool"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "backendSettingsCollection": {
          "type": "array",
          "description": "Backend settings of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/AppGwBackendSettings"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "listeners": {
          "type": "array",
          "description": "Listeners of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/AppGwListener"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "probes": {
          "type": "array",
          "description": "Health probes of the application gateway resource.",
          "items": {
            "$ref": "#/definitions/AppGwHealthProbe"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "autoscaleConfiguration": {
          "$ref": "#/definitions/AppGwAutoscaleConfiguration",
          "description": "Autoscale configuration of the application gateway resource.",
          "readOnly": true
        }
      }
    },
    "AssessedAppGwRoutingRule": {
      "type": "object",
      "description": "Assessed application gateway routing rule web model class.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessedAppGwRoutingRuleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessedAppGwRoutingRuleListResult": {
      "type": "object",
      "description": "The response of a AssessedAppGwRoutingRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessedAppGwRoutingRule items on this page",
          "items": {
            "$ref": "#/definitions/AssessedAppGwRoutingRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessedAppGwRoutingRuleProperties": {
      "type": "object",
      "description": "Assessed application gateway routing rule properties web model.",
      "properties": {
        "workloadType": {
          "$ref": "#/definitions/MigrateWorkloadType",
          "description": "The workload type",
          "readOnly": true
        },
        "linkages": {
          "type": "array",
          "description": "The linkages list.",
          "items": {
            "$ref": "#/definitions/Linkages"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendations": {
          "type": "array",
          "description": "The recommendation list.",
          "items": {
            "$ref": "#/definitions/NetworkEntityRecommendations"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name.",
          "readOnly": true
        },
        "extendedDetails": {
          "$ref": "#/definitions/AppGwRoutingRuleExtendedDetails",
          "description": "The application gateway routing rule extended details.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed application gateway routing rule first created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed application gateway routing rule last updated.",
          "readOnly": true
        }
      }
    },
    "AssessedApplicationGateway": {
      "type": "object",
      "description": "Assessed application gateway web model class.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessedApplicationGatewayProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessedApplicationGatewayListResult": {
      "type": "object",
      "description": "The response of a AssessedApplicationGateway list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessedApplicationGateway items on this page",
          "items": {
            "$ref": "#/definitions/AssessedApplicationGateway"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessedApplicationGatewayProperties": {
      "type": "object",
      "description": "Assessed application gateway properties web model.",
      "properties": {
        "workloadType": {
          "$ref": "#/definitions/MigrateWorkloadType",
          "description": "The workload type",
          "readOnly": true
        },
        "linkages": {
          "type": "array",
          "description": "The linkages list.",
          "items": {
            "$ref": "#/definitions/Linkages"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendations": {
          "type": "array",
          "description": "The recommendation list.",
          "items": {
            "$ref": "#/definitions/NetworkEntityRecommendations"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name.",
          "readOnly": true
        },
        "extendedDetails": {
          "$ref": "#/definitions/ApplicationGatewayExtendedDetails",
          "description": "The application gateway extended details.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed application gateway first created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed application gateway last updated.",
          "readOnly": true
        }
      }
    },
    "AssessedDiskDataV3": {
      "type": "object",
      "description": "Assessed disk data for normalized contract.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The disk display name.",
          "readOnly": true
        },
        "gigabytesProvisioned": {
          "type": "number",
          "format": "float",
          "description": "Gets the gigabytes provisioned."
        },
        "megabytesPerSecondOfRead": {
          "type": "number",
          "format": "float",
          "description": "Gets the megabytes per second of read."
        },
        "megabytesPerSecondOfWrite": {
          "type": "number",
          "format": "float",
          "description": "Gets the megabytes per second of write."
        },
        "numberOfReadOperationsPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Gets the number of read operations per second."
        },
        "numberOfWriteOperationsPerSecond": {
          "type": "number",
          "format": "float",
          "description": "Gets the number of write operations per second."
        }
      }
    },
    "AssessedInboundNatRule": {
      "type": "object",
      "description": "Assessed load balancer inbound NAT rule web model class.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessedInboundNatRuleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessedInboundNatRuleListResult": {
      "type": "object",
      "description": "The response of a AssessedInboundNatRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessedInboundNatRule items on this page",
          "items": {
            "$ref": "#/definitions/AssessedInboundNatRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessedInboundNatRuleProperties": {
      "type": "object",
      "description": "Assessed inbound NAT rule properties web model.",
      "properties": {
        "workloadType": {
          "$ref": "#/definitions/MigrateWorkloadType",
          "description": "The workload type",
          "readOnly": true
        },
        "linkages": {
          "type": "array",
          "description": "The linkages list.",
          "items": {
            "$ref": "#/definitions/Linkages"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendations": {
          "type": "array",
          "description": "The recommendation list.",
          "items": {
            "$ref": "#/definitions/NetworkEntityRecommendations"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name.",
          "readOnly": true
        },
        "extendedDetails": {
          "$ref": "#/definitions/InboundNatRuleExtendedDetails",
          "description": "The inbound NAT rule extended details.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed inbound NAT rule first created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed inbound NAT rule last updated.",
          "readOnly": true
        }
      }
    },
    "AssessedLbRule": {
      "type": "object",
      "description": "Assessed load balancer rule web model class.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessedLbRuleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessedLbRuleListResult": {
      "type": "object",
      "description": "The response of a AssessedLbRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessedLbRule items on this page",
          "items": {
            "$ref": "#/definitions/AssessedLbRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessedLbRuleProperties": {
      "type": "object",
      "description": "Assessed load balancer rule properties web model.",
      "properties": {
        "workloadType": {
          "$ref": "#/definitions/MigrateWorkloadType",
          "description": "The workload type",
          "readOnly": true
        },
        "linkages": {
          "type": "array",
          "description": "The linkages list.",
          "items": {
            "$ref": "#/definitions/Linkages"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendations": {
          "type": "array",
          "description": "The recommendation list.",
          "items": {
            "$ref": "#/definitions/NetworkEntityRecommendations"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name.",
          "readOnly": true
        },
        "extendedDetails": {
          "$ref": "#/definitions/LbRuleExtendedDetails",
          "description": "The load balancer rule extended details.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed load balancer rule first created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed load balancer rule last updated.",
          "readOnly": true
        }
      }
    },
    "AssessedLoadBalancer": {
      "type": "object",
      "description": "Assessed load balancer web model class.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssessedLoadBalancerProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssessedLoadBalancerListResult": {
      "type": "object",
      "description": "The response of a AssessedLoadBalancer list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AssessedLoadBalancer items on this page",
          "items": {
            "$ref": "#/definitions/AssessedLoadBalancer"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssessedLoadBalancerProperties": {
      "type": "object",
      "description": "Assessed load balancer properties web model.",
      "properties": {
        "workloadType": {
          "$ref": "#/definitions/MigrateWorkloadType",
          "description": "The workload type",
          "readOnly": true
        },
        "linkages": {
          "type": "array",
          "description": "The linkages list.",
          "items": {
            "$ref": "#/definitions/Linkages"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "recommendations": {
          "type": "array",
          "description": "The recommendation list.",
          "items": {
            "$ref": "#/definitions/NetworkEntityRecommendations"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "resourceName": {
          "type": "string",
          "description": "The resource name.",
          "readOnly": true
        },
        "extendedDetails": {
          "$ref": "#/definitions/LoadBalancerExtendedDetails",
          "description": "The load balancer extended details.",
          "readOnly": true
        },
        "createdTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed load balancer first created.",
          "readOnly": true
        },
        "updatedTimestamp": {
          "type": "string",
          "format": "date-time",
          "description": "When was assessed load balancer last updated.",
          "readOnly": true
        }
      }
    },
    "AssessedNetworkAdaptersV3": {
      "type": "object",
      "description": "Assessed network adapter data for normalized contract.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk name.",
          "readOnly": true
        },
        "netGigabytesTransmittedPerMonth": {
          "type": "number",
          "format": "float",
          "description": "Gets the net gigabytes transmitted per month."
        },
        "macAddress": {
          "type": "string",
          "description": "Gets the mac address."
        },
        "ipAddresses": {
          "type": "array",
[...]
