{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-01-preview",
    "title": "SynapseManagementClient",
    "description": "Azure Synapse Analytics APIs"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "type": "oauth2",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/enableInteractiveQuery": {
      "post": {
        "operationId": "IntegrationRuntimeInteractiveQueries_Enable",
        "summary": "Enable interactive query",
        "description": "Enable interactive query in an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Enable interactive query": {
            "$ref": "./examples/IntegrationRuntimes_EnableInteractiveQuery_placeholder.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/{actionName}/operationResults/{operationId}": {
      "get": {
        "operationId": "IntegrationRuntimeOperationResults_Get",
        "summary": "Get integration runtime operation result",
        "description": "Get the result of an operation in an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          },
          {
            "type": "string",
            "in": "path",
            "name": "actionName",
            "description": "Integration runtime action",
            "required": true
          },
          {
            "type": "string",
            "in": "path",
            "name": "operationId",
            "description": "Integration runtime operation ID",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get operation result": {
            "$ref": "./examples/IntegrationRuntimes_GetOperationResult_placeholder.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/removeLinks": {
      "post": {
        "operationId": "IntegrationRuntimeLinks_Remove",
        "summary": "Remove links from integration runtime",
        "description": "Remove links from an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Remove links": {
            "$ref": "./examples/IntegrationRuntimes_RemoveLinks.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}": {
      "patch": {
        "operationId": "IntegrationRuntimes_Update",
        "summary": "Update integration runtime",
        "description": "Update an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Update integration runtime": {
            "$ref": "./examples/IntegrationRuntimes_Update.json"
          }
        }
      },
      "get": {
        "operationId": "IntegrationRuntimes_Get",
        "summary": "Get integration runtime",
        "description": "Get an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          },
          "default": {
            "schema": {
              "$ref": "./workspace.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get integration runtime": {
            "$ref": "./examples/IntegrationRuntimes_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IntegrationRuntimes_Create",
        "summary": "Create integration runtime",
        "description": "Create an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "FIXME"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Create integration runtime": {
            "$ref": "./examples/IntegrationRuntimes_Create.json"
          }
        }
      },
      "delete": {
        "operationId": "IntegrationRuntimes_Delete",
        "summary": "Delete integration runtime",
        "description": "Delete an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Delete integration runtime": {
            "$ref": "./examples/IntegrationRuntimes_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/nodes/{nodeName}/ipAddress": {
      "post": {
        "operationId": "IntegrationRuntimeNodeIpAddress_Get",
        "summary": "Get integration runtime node IP address",
        "description": "Get the IP address of an integration runtime node",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          },
          {
            "type": "string",
            "in": "path",
            "name": "nodeName",
            "description": "Integration runtime node name",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get integration runtime node IP address": {
            "$ref": "./examples/IntegrationRuntimeNodes_GetIpAddress.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/upgrade": {
      "post": {
        "operationId": "IntegrationRuntimes_Upgrade",
        "summary": "Upgrade integration runtime",
        "description": "Upgrade an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Upgrade integration runtime": {
            "$ref": "./examples/IntegrationRuntimes_Upgrade.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/{actionName}/operationStatuses/{operationId}": {
      "get": {
        "operationId": "IntegrationRuntimeOperationStatus_List",
        "summary": "Get integration runtime operation status",
        "description": "Get the status of an operation runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          },
          {
            "type": "string",
            "in": "path",
            "name": "actionName",
            "description": "Integration runtime action",
            "required": true
          },
          {
            "type": "string",
            "in": "path",
            "name": "operationId",
            "description": "Integration runtime operation ID",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get operation status": {
            "$ref": "./examples/IntegrationRuntimes_GetOperationStatus_placeholder.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/getObjectMetadata": {
      "post": {
        "operationId": "IntegrationRuntimeObjectMetadata_Get",
        "summary": "Get integration runtime object metadata",
        "description": "Get object metadata from an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get integration runtime object metadata": {
            "$ref": "./examples/IntegrationRuntimeObjectMetadata_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/nodes/{nodeName}": {
      "get": {
        "operationId": "IntegrationRuntimeNodes_Get",
        "summary": "Get integration runtime node",
        "description": "Get an integration runtime node",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          },
          {
            "type": "string",
            "in": "path",
            "name": "nodeName",
            "description": "Integration runtime node name",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get integration runtime node": {
            "$ref": "./examples/IntegrationRuntimeNodes_Get.json"
          }
        }
      },
      "patch": {
        "operationId": "IntegrationRuntimeNodes_Update",
        "summary": "Create integration runtime node",
        "description": "Create an integration runtime node",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          },
          {
            "type": "string",
            "in": "path",
            "name": "nodeName",
            "description": "Integration runtime node name",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Update integration runtime node": {
            "$ref": "./examples/IntegrationRuntimeNodes_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "IntegrationRuntimeNodes_Delete",
        "summary": "Delete integration runtime node",
        "description": "Delete an integration runtime node",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          },
          {
            "type": "string",
            "in": "path",
            "name": "nodeName",
            "description": "Integration runtime node name",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Delete integration runtime node": {
            "$ref": "./examples/IntegrationRuntimeNodes_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/syncCredentials": {
      "post": {
        "operationId": "IntegrationRuntimeCredentials_Sync",
        "summary": "Sync integration runtime credentials",
        "description": "Sync the integration runtime credentials",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Sync credentials": {
            "$ref": "./examples/IntegrationRuntimes_SyncCredentials.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/disableInteractiveQuery": {
      "post": {
        "operationId": "IntegrationRuntimeInteractiveQueries_Disable",
        "summary": "Disable integration runtime interactive query",
        "description": "Disable interactive query on an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Disable interactive query": {
            "$ref": "./examples/IntegrationRuntimes_DisableInteractiveQuery_placeholder.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes": {
      "get": {
        "operationId": "IntegrationRuntimes_ListByWorkspace",
        "summary": "List integration runtimes",
        "description": "List all integration runtimes",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "List integration runtimes": {
            "$ref": "./examples/IntegrationRuntimes_ListByFactory.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/getConnectionInfo": {
      "post": {
        "operationId": "IntegrationRuntimeConnectionInfos_Get",
        "summary": "Get integration runtime connection info",
        "description": "Get connection info for an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get connection info": {
            "$ref": "./examples/IntegrationRuntimes_GetConnectionInfo.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/removeNode": {
      "post": {
        "operationId": "IntegrationRuntimeNodes_Remove",
        "summary": "Remove integration runtime node",
        "description": "Remove an integration runtime node",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Remove integration runtime node": {
            "$ref": "./examples/IntegrationRuntimes_RemoveNode_placeholder.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/start": {
      "post": {
        "operationId": "IntegrationRuntimes_Start",
        "summary": "Start integration runtime",
        "description": "Start an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Start integration runtime": {
            "$ref": "./examples/IntegrationRuntimes_Start.json"
          }
        }

      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/regenerateAuthKey": {
      "post": {
        "operationId": "IntegrationRuntimeAuthKeys_Regenerate",
        "summary": "Regenerate integration runtime authentication key",
        "description": "Regenerate the authentication key for an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Regenerate auth key": {
            "$ref": "./examples/IntegrationRuntimes_RegenerateAuthKey.json"
          }
        }

      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/listAuthKeys": {
      "post": {
        "operationId": "IntegrationRuntimeAuthKeys_List",
        "summary": "List integration runtime authentication keys",
        "description": "List authentication keys in an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "List auth keys": {
            "$ref": "./examples/IntegrationRuntimes_ListAuthKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/monitoringData": {
      "post": {
        "operationId": "IntegrationRuntimeMonitoringData_Get",
        "summary": "Get integration runtime monitoring data",
        "description": "Get monitoring data for an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get monitoring data": {
            "$ref": "./examples/IntegrationRuntimes_GetMonitoringData.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/stop": {
      "post": {
        "operationId": "IntegrationRuntimes_Stop",
        "summary": "Stop integration runtime",
        "description": "Stop an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Stop integration runtime": {
            "$ref": "./examples/IntegrationRuntimes_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/refreshObjectMetadata": {
      "post": {
        "operationId": "IntegrationRuntimeObjectMetadata_Refresh",
        "summary": "Refresh integration runtime object metadata",
        "description": "Refresh the object metadata in an integration runtime",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Refresh object metadata": {
            "$ref": "./examples/IntegrationRuntimeObjectMetadata_Refresh.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/getStatus": {
      "post": {
        "operationId": "IntegrationRuntimeStatus_Get",
        "summary": "Get integration runtime status",
        "description": "Get the integration runtime status",
        "tags": [
          "IntegrationRuntime"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./workspace.json#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/IntegrationRuntimeNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get status": {
            "$ref": "./examples/IntegrationRuntimes_GetStatus.json"
          }
        }
      }
    }
  },
  "definitions": {
  },
  "parameters": {
    "IntegrationRuntimeNameParameter": {
      "name": "integrationRuntimeName",
      "type": "string",
      "required": true,
      "in": "path",
      "description": "Integration runtime name",
      "x-ms-parameter-location": "method"
    }
  }
}
