{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-01-preview",
    "title": "SynapseManagementClient",
    "description": "Azure Synapse Analytics APIs"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "type": "oauth2",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHub": {
      "get": {
        "operationId": "PrivateLinkHubs_ListByResourceGroup",
        "description": "Returns a list of privateLinkHubs in a resource group",
        "tags": [
          "PrivateLinkHubs"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/PrivateLinkHubInfoListResult"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List privateLinkHubs in resource group": {
            "$ref": "./examples/ListPrivateLinkHubsInResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs/{privateLinkHubName}": {
      "get": {
        "operationId": "PrivateLinkHubs_Get",
        "description": "Gets a privateLinkHub",
        "tags": [
          "PrivateLinkHubs"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/privateLinkHubNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/PrivateLinkHub"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get a privateLinkHub": {
            "$ref": "./examples/GetPrivateLinkHub.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateLinkHubs_CreateOrUpdate",
        "description": "Creates or updates a privateLinkHub",
        "tags": [
          "PrivateLinkHubs"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/privateLinkHubNameParameter"
          },
          {
            "description": "PrivateLinkHub create or update request properties",
            "schema": {
              "$ref": "#/definitions/PrivateLinkHub"
            },
            "in": "body",
            "name": "privateLinkHubInfo",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/PrivateLinkHub"
            },
            "description": ""
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/PrivateLinkHub"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Create or update a privateLinkHub": {
            "$ref": "./examples/CreateOrUpdatePrivateLinkHub.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateLinkHubs_Delete",
        "description": "Deletes a privateLinkHub",
        "tags": [
          "PrivateLinkHubs"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/privateLinkHubNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Delete a privateLinkHub": {
            "$ref": "./examples/DeletePrivateLinkHub.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Synapse/privateLinkHubs": {
      "get": {
        "operationId": "PrivateLinkHubs_List",
        "description": "Returns a list of privateLinkHubs in a subscription",
        "tags": [
          "PrivateLinkHubs"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/PrivateLinkHubInfoListResult"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List privateLinkHubs in subscription": {
            "$ref": "./examples/ListPrivateLinkHubsInSubscription.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorDetail": {
      "description": "Error details",
      "type": "object",
      "properties": {
        "message": {
          "description": "Error message",
          "type": "string"
        },
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "target": {
          "description": "Error target",
          "type": "string"
        }
      }
    },
    "ErrorContract": {
      "title": "Error details.",
      "description": "Contains details when the response code indicates an error.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error details.",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
        }
      }
    },
    "PrivateLinkHubInfoListResult": {
      "description": "List of privateLinkHubs",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Link to the next page of results",
          "type": "string"
        },
        "value": {
          "description": "List of privateLinkHubs",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkHub"
          }
        }
      }
    },
    "PrivateLinkHub": {
      "description": "A privateLinkHub",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "PrivateLinkHub resource properties",
          "$ref": "#/definitions/PrivateLinkHubProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateLinkHubProperties": {
      "description": "PrivateLinkHub properties",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "PrivateLinkHub provisioning state",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "privateLinkHubNameParameter": {
      "name": "privateLinkHubName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the privateLinkHub",
      "x-ms-parameter-location": "method"
    }
  }
}