{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-01-preview",
    "title": "SynapseManagementClient",
    "description": "Azure Synapse Analytics APIs"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "type": "oauth2",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyName}/validate": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
        },
        {
          "$ref": "../../../../common/v1/privateEndpointConnection.json#/parameters/PrivateEndpointConnectionProxyNameParameter"
        }
      ],
      "post": {
        "operationId": "ValidatePrivateEndpointConnectionProxyForWorskpace",
        "description": "Validate PrivateEndpointConnectionProxy for workspace",
        "tags": [
          "PrivateEndpointConnectionProxy"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "PrivateEndpointConnectionProxy as JSON request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidatePrivateEndpointConnectionProxyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ValidatePrivateEndpointConnectionProxyResponse"
            },
            "description": "OK"
          },
          "400": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": "Bad request"
          },
          "404": {
            "description": "Workspace not found."
          },
          "409": {
            "description": "Authentication error."
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Validate PrivateEndPointConnectionProxy object": {
            "$ref": "./examples/ValidatePrivateEndpointConnectionProxyForWorskpace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyName}": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
        },
        {
          "$ref": "../../../../common/v1/privateEndpointConnection.json#/parameters/PrivateEndpointConnectionProxyNameParameter"
        }
      ],
      "put": {
        "operationId": "CreatePrivateEndpointConnectionProxy",
        "description": "Create PrivateEndpointConnectionProxy",
        "tags": [
          "PrivateEndpointConnectionProxy"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "PrivateEndpointConnectionProxy as JSON request",
            "required": true,
            "schema": {
              "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "202": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/OperationResource_Common"
            },
            "description": "Accepted"
          },
          "409": {
            "description": "Authentication error."
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create PrivateEndPointConnectionProxy in workspace": {
            "$ref": "./examples/CreatePrivateEndpointConnectionProxy.json"
          }
        }
      },
      "get": {
        "operationId": "GetPrivateEndpointConnectionProxyByName",
        "description": "Get PrivateEndpointConnectionProxy by name in the workspace",
        "tags": [
          "PrivateEndpointConnectionProxy"
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "schema": {
              "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnectionProxy"
            },
            "description": "Managed identity by name in workspace."
          },
          "404": {
            "description": "Workspace or PrivateEndpointConnectionProxy not found"
          },
          "409": {
            "description": "Authorization error"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get PrivateEndpointConnectionProxy by name in the workspace": {
            "$ref": "./examples/GetPrivateEndpointConnectionProxyByName.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs/{privateLinkHubName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyName}/validate": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../../../common/v1/types.json#/parameters/PrivateLinkHubNameParameter"
        },
        {
          "$ref": "../../../../common/v1/privateEndpointConnection.json#/parameters/PrivateEndpointConnectionProxyNameParameter"
        }
      ],
      "post": {
        "operationId": "ValidatePrivateEndpointConnectionForPrivateLinkHubProxy",
        "description": "Validate PrivateEndpointConnectionProxy for PrivateLinkHub",
        "tags": [
          "PrivateEndpointConnectionProxy"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "PrivateEndpointConnectionProxy as JSON request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidatePrivateEndpointConnectionForPrivateLinkHubProxyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ValidatePrivateEndpointConnectionForPrivateLinkHubProxyResponse"
            },
            "description": "OK"
          },
          "404": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": "Bad request"
          },
          "409": {
            "description": "Not authenticated"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Validate PrivateEndPointConnectionProxy object": {
            "$ref": "./examples/ValidatePrivateEndpointConnectionForPrivateLinkHubProxy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/privateLinkHubs/{privateLinkHubName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyName}": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "../../../../common/v1/types.json#/parameters/PrivateLinkHubNameParameter"
        },
        {
          "$ref": "../../../../common/v1/privateEndpointConnection.json#/parameters/PrivateEndpointConnectionProxyNameParameter"
        }
      ],
      "get": {
        "operationId": "GetPrivateEndpointConnectionProxyForPrivateLinkHub",
        "description": "Get PrivateEndpointConnectionProxy for PrivateLinkHub",
        "tags": [
          "PrivateEndpointConnectionProxy"
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnectionForPrivateLinkHubProxy"
            }
          },
          "409": {
            "description": "Authorization failed"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create PrivateEndPointConnectionProxy in PrivateLinkHub": {
            "$ref": "./examples/GetPrivateEndpointConnectionProxyForPrivateLinkHub.json"
          }
        }
      },
      "delete": {
        "operationId": "DeletePrivateEndpointConnectionForPrivateLinkHubProxy",
        "description": "Delete PrivateEndpointConnectionProxy for PrivateLinkHub",
        "tags": [
          "PrivateEndpointConnectionProxy"
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "description": ""
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/OperationResource_Common"
            }
          },
          "204": {
            "description": ""
          },
          "409": {
            "description": "Authorization failed"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create PrivateEndPointConnectionProxy in PrivateLinkHub": {
            "$ref": "./examples/DeletePrivateEndpointConnectionForPrivateLinkHubProxy.json"
          }
        }
      },
      "put": {
        "operationId": "CreatePrivateEndpointConnectionForPrivateLinkHubProxy",
        "description": "Create PrivateEndpointConnection for PrivateLinkHubProxy",
        "tags": [
          "PrivateEndpointConnectionProxy"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "PrivateEndpointConnectionProxy as JSON request",
            "required": true,
            "schema": {
              "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnectionForPrivateLinkHubProxy"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/OperationResource_Common"
            }
          },
          "400": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": "Bad request."
          },
          "409": {
            "description": "Authentication error"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create PrivateEndPointConnectionProxy in PrivateLinkHub": {
            "$ref": "./examples/CreatePrivateEndpointConnectionForPrivateLinkHubProxy.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ValidatePrivateEndpointConnectionProxy": {
      "description": "Base type of PrivateEndpointConnectionProxy validate operations",
      "allOf": [
        {
          "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnectionProxy"
        }
      ]
    },
    "ValidatePrivateEndpointConnectionProxyRequest": {
      "description": "PrivateEndpointConnectionProxy validate request",
      "allOf": [
        {
          "$ref": "#/definitions/ValidatePrivateEndpointConnectionProxy"
        }
      ]
    },
    "ValidatePrivateEndpointConnectionProxyResponse": {
      "description": "PrivateEndpointConnectionProxy validate response",
      "allOf": [
        {
          "$ref": "#/definitions/ValidatePrivateEndpointConnectionProxy"
        }
      ]
    },
    "ValidatePrivateEndpointConnectionForPrivateLinkHubProxyRequest": {
      "description": "PrivateEndpointConnectionProxy for PrivateLinkHub validate request",
      "allOf": [
        {
          "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnectionForPrivateLinkHubProxy"
        }
      ]
    },
    "ValidatePrivateEndpointConnectionForPrivateLinkHubProxyResponse": {
      "description": "PrivateEndpointConnectionProxy for PrivateLinkHub validate response",
      "allOf": [
        {
          "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnectionForPrivateLinkHubProxy"
        }
      ]
    }
  }
}
