{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-01-preview",
    "title": "SynapseManagementClient",
    "description": "Azure Synapse Analytics APIs"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "type": "oauth2",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces": {
      "get": {
        "operationId": "Workspaces_ListByResourceGroup",
        "description": "Returns a list of workspaces in a resource group",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceInfoListResult"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List workspaces in resource group": {
            "$ref": "./examples/ListWorkspacesInResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}": {
      "get": {
        "operationId": "Workspaces_Get",
        "description": "Gets a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get a workspace": {
            "$ref": "./examples/GetWorkspace.json"
          }
        }
      },
      "patch": {
        "operationId": "Workspaces_Update",
        "description": "Updates a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "schema": {
              "$ref": "#/definitions/WorkspacePatchInfo"
            },
            "in": "body",
            "name": "workspacePatchInfo",
            "required": true,
            "description": "Workspace patch request properties"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Update a workspace": {
            "$ref": "./examples/UpdateWorkspace.json"
          }
        }
      },
      "put": {
        "operationId": "Workspaces_CreateOrUpdate",
        "description": "Creates or updates a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "description": "Workspace create or update request properties",
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "in": "body",
            "name": "workspaceInfo",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update a workspace": {
            "$ref": "./examples/CreateOrUpdateWorkspace.json"
          }
        }
      },
      "delete": {
        "operationId": "Workspaces_Delete",
        "description": "Deletes a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          },
          "202": {
            "schema": {
              "type": "object"
            },
            "description": ""
          },
          "204": {
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete a workspace": {
            "$ref": "./examples/DeleteWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Synapse/workspaces": {
      "get": {
        "operationId": "Workspaces_List",
        "description": "Returns a list of workspaces in a subscription",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceInfoListResult"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List workspaces in subscription": {
            "$ref": "./examples/ListWorkspacesInSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/administrators/activeDirectory": {
      "get": {
        "operationId": "WorkspaceAadAdmins_Get",
        "description": "Gets a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            },
            "description": "OK"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get workspace active directory admin": {
            "$ref": "./examples/GetWorkspaceAadAdmin.json"
          }
        }
      },
      "put": {
        "operationId": "WorkspaceAadAdmins_CreateOrUpdate",
        "description": "Creates or updates a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "description": "Workspace active directory administrator properties",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            },
            "in": "body",
            "name": "aadAdminInfo",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            }
          },
          "202": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update workspace active directory admin": {
            "$ref": "./examples/CreateOrUpdateWorkspaceAadAdmin.json"
          }
        }
      },
      "delete": {
        "operationId": "WorkspaceAadAdmins_Delete",
        "description": "Deletes a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "204": {
            "description": "Accepted"
          },
          "202": {
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete workspace active directory admin": {
            "$ref": "./examples/DeleteWorkspaceAadAdmin.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/scopePools/{scopePoolName}": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/workspaceNameParameter"
        },
        {
          "$ref": "#/parameters/scopePoolNameParameter"
        }
      ],
      "get": {
        "operationId": "GetScopePool",
        "description": "Get scope pool by name",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ScopePoolResourceInfo"
            },
            "description": "OK"
          },
          "403": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": "User subscription or tenant not allowed"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get scope pool by name": {
            "$ref": "./examples/GetScopePool.json"
          }
        }
      },
      "put": {
        "operationId": "CreateOrUpdateScopePool",
        "description": "Create or update scope pool in workspace",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "body",
            "name": "scopePoolInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScopePoolResourceInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "TODO REMOVE THIS! Code doesn't return 200"
          },
          "202": {
            "schema": {
              "$ref": "#/definitions/ScopePoolResourceInfo"
            },
            "description": ""
          },
          "400": {
            "description": "Malformed request or key sub-resource not available in region",
            "schema": {
              "$ref": "../../../../common/v1/types.json../../../../common/v1/types.json#/definitions/ErrorContract"
            }
          },
          "403": {
            "description": "Forbidden or scope pool limit reached",
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            }
          },
          "404": {
            "description": "Workspace not found"
          },
          "409": {
            "description": "Scope pool with same name already exists in non-final state",
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update scope pool by name in the workspace": {
            "$ref": "./examples/CreateOrUpdateScopePool.json"
          }
        }
      },
      "delete": {
        "operationId": "DeleteScopePool",
        "description": "Deletes a scope pool",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/scopePoolNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "TODO REMOVE THIS! Code doesn't return 200"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No content"
          },
          "403": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": "Not allowed to operate on this tenant and subscription"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete scope pool in workspace": {
            "$ref": "./examples/DeleteScopePool.json"
          }
        }
      },
      "patch": {
        "operationId": "PatchScopePool",
        "description": "Update scope pool in workspace",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/scopePoolNameParameter"
          },
          {
            "in": "body",
            "name": "scopePoolInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScopePoolPatchInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/ScopePoolResourceInfo"
            },
            "description": ""
          },
          "403": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": "Not allowed"
          },
          "409": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/ManagedIdentitySqlControlSettingsModel"
            },
            "description": "Created"
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Update scope pool by name in the workspace": {
            "$ref": "./examples/PatchScopePool.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/restorableDroppedSqlPools/{restorableDroppedSqlPoolId}": {
      "get": {
        "tags": [
          "RestorableDroppedSqlPools"
        ],
        "operationId": "RestorableDroppedSqlPools_Get",
        "description": "Gets a deleted sql pool that can be restored",
        "x-ms-examples": {
          "Get a restorable dropped Sql pool": {
            "$ref": "./examples/RestorableDroppedSqlPoolGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "name": "restorableDroppedSqlPoolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The id of the deleted Sql Pool in the form of sqlPoolName,deletionTimeInFileTimeFormat"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorableDroppedSqlPool"
            }
          },
          "default": {
            "schema": {
              "$ref": "./workspace.json#/definitions/ErrorContract"
            },
            "description": "Error"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/restorableDroppedSqlPools": {
      "get": {
        "tags": [
          "RestorableDroppedSqlPools"
        ],
        "operationId": "RestorableDroppedSqlPools_ListByWorkspace",
        "description": "Gets a list of deleted Sql pools that can be restored",
        "x-ms-examples": {
          "Get list of restorable dropped Sql pools": {
            "$ref": "./examples/RestorableDroppedSqlpoolList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorableDroppedSqlPoolListResult"
            }
          },
          "default": {
            "schema": {
              "$ref": "./workspace.json#/definitions/ErrorContract"
            },
            "description": "Error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/scopePools": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/workspaceNameParameter"
        }
      ],
      "get": {
        "operationId": "ScopePoolsInWorkspace_List",
        "description": "Get all scope pools in workspace",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ResourceCollectionResponse_ScopePoolResourceInfo"
            },
            "description": "OK"
          },
          "403": {
            "description": "User subscription or tenant not allowed",
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get scope pool by name": {
            "$ref": "./examples/ScopePoolsInWorkspace_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AadAdminProperties": {
      "description": "Workspace active directory administrator properties",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "Tenant ID of the workspace active directory administrator",
          "type": "string"
        },
        "login": {
          "description": "Login of the workspace active directory administrator",
          "type": "string"
        },
        "administratorType": {
          "description": "Workspace active directory administrator type",
          "type": "string"
        },
        "sid": {
          "description": "Object ID of the workspace active directory administrator",
          "type": "string"
        }
      }
    },
    "WorkspaceInfoListResult": {
      "description": "List of workspaces",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Link to the next page of results",
          "type": "string"
        },
        "value": {
          "description": "List of workspaces",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workspace"
          }
        }
      }
    },
    "DataLakeStorageAccountDetails": {
      "description": "Details of the data lake storage account associated with the workspace",
      "type": "object",
      "properties": {
        "accountUrl": {
          "description": "Account URL",
          "type": "string"
        },
        "filesystem": {
          "description": "Filesystem name",
          "type": "string"
        }
      }
    },
    "EncryptionDetails": {
      "description": "Details of the encryption associated with the workspace",
      "type": "object",
      "properties": {
        "doubleEncryptionEnabled": {
          "description": "Double Encryption enabled",
          "type": "boolean",
          "readOnly": true
        },
        "cmk": {
          "description": "Customer Managed Key Details",
          "$ref": "#/definitions/CustomerManagedKeyDetails"
        }
      }
    },
    "CustomerManagedKeyDetails": {
      "description": "Details of the customer managed key associated with the workspace",
      "type": "object",
      "properties": {
        "status": {
          "description": "The customer managed key status on the workspace",
          "type": "string",
          "readOnly": true
        },
        "key": {
          "description": "The key object of the workspace",
          "$ref": "#/definitions/WorkspaceKeyDetails"
        }
      }
    },
    "WorkspaceKeyDetails": {
      "description": "Details of the customer managed key associated with the workspace",
      "type": "object",
      "properties": {
        "name": {
          "description": "Workspace Key sub-resource name",
          "type": "string"
        },
        "keyVaultUrl": {
          "description": "Workspace Key sub-resource key vault url",
          "type": "string"
        }
      }
    },
    "ManagedIdentity": {
      "description": "The workspace managed identity",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The principal ID of the workspace managed identity",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "The tenant ID of the workspace managed identity",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "type": {
          "description": "The type of managed identity for the workspace",
          "enum": [
            "None",
            "SystemAssigned"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        }
      }
    },
    "VirtualNetworkProfile": {
      "description": "Virtual Network Profile",
      "type": "object",
      "properties": {
        "computeSubnetId": {
          "description": "Subnet ID used for computes in workspace",
          "type": "string"
        }
      }
    },
    "ManagedVirtualNetworkSettings": {
      "description": "Managed Virtual Network Settings",
      "type": "object",
      "properties": {
        "preventDataExfiltration": {
          "description": "Prevent Data Exfiltration",
          "type": "boolean"
        },
        "linkedAccessCheckOnTargetResource": {
          "description": "Linked Access Check On Target Resource",
          "type": "boolean"
        },
        "allowedAadTenantIdsForLinking": {
          "description": "Allowed Aad Tenant Ids For Linking",
          "type": "array",
          "items": {
            "type": "string",
            "description": "Tenant Id"
          }
        }
      }
    },
    "BabylonConfiguration": {
      "description": "Babylon Configuration",
      "type": "object",
      "properties": {
        "babylonResourceId": {
          "description": "Babylon Resource ID",
          "type": "string"
        }
      }
    },
    "WorkspaceAadAdminInfo": {
      "description": "Workspace active directory administrator",
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Workspace active directory administrator properties",
          "$ref": "#/definitions/AadAdminProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "Workspace": {
      "description": "A workspace",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Workspace resource properties",
          "$ref": "#/definitions/WorkspaceProperties",
          "x-ms-client-flatten": true
        },
        "identity": {
          "description": "Identity of the workspace",
          "$ref": "#/definitions/ManagedIdentity"
        }
      },
      "x-ms-azure-resource": true
    },
    "WorkspaceProperties": {
      "description": "Workspace properties",
      "type": "object",
      "properties": {
        "defaultDataLakeStorage": {
          "description": "Workspace default data lake storage account details",
          "$ref": "#/definitions/DataLakeStorageAccountDetails"
        },
        "sqlAdministratorLoginPassword": {
          "description": "SQL administrator login password",
          "type": "string"
        },
        "managedResourceGroupName": {
          "description": "Workspace managed resource group. The resource group name uniquely identifies the resource group within the user subscriptionId. The resource group name must be no longer than 90 characters long, and must be alphanumeric characters (Char.IsLetterOrDigit()) and '-', '_', '(', ')' and'.'. Note that the name cannot end with '.'",
          "type": "string"
        },
        "provisioningState": {
          "description": "Resource provisioning state",
          "type": "string",
          "readOnly": true
        },
        "sqlAdministratorLogin": {
          "description": "Login for workspace SQL active directory administrator",
          "type": "string"
        },
        "virtualNetworkProfile": {
          "description": "Virtual Network profile",
          "$ref": "#/definitions/VirtualNetworkProfile"
        },
        "connectivityEndpoints": {
          "description": "Connectivity endpoints",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "managedVirtualNetwork": {
          "description": "Setting this to 'default' will ensure that all compute for this workspace is in a virtual network managed on behalf of the user.",
          "type": "string"
        },
        "privateEndpointConnections": {
          "description": "Private endpoint connections to the workspace",
          "type": "array",
          "items": {
            "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnection"
          }
        },
        "encryption": {
          "description": "The encryption details of the workspace",
          "$ref": "#/definitions/EncryptionDetails"
        },
        "workspaceUID": {
          "description": "The workspace unique identifier",
          "type": "string",
          "readOnly": true,
          "format": "uuid"
        },
        "extraProperties": {
          "description": "Workspace level configs and feature flags",
          "additionalProperties": {
            "type": "object"
          },
          "type": "object",
          "readOnly": true
        },
        "managedVirtualNetworkSettings": {
          "description": "Managed Virtual Network Settings",
          "$ref": "#/definitions/ManagedVirtualNetworkSettings"
        },
        "babylonConfiguration": {
          "description": "Babylon Configuration",
          "$ref": "#/definitions/BabylonConfiguration"
        }
      }
    },
    "WorkspacePatchInfo": {
      "description": "Workspace patch details",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "identity": {
          "description": "The identity of the workspace",
          "$ref": "#/definitions/ManagedIdentity"
        },
        "properties": {
          "description": "Workspace patch properties",
          "$ref": "#/definitions/WorkspacePatchProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "WorkspacePatchProperties": {
      "description": "Workspace patch properties",
      "type": "object",
      "properties": {
        "sqlAdministratorLoginPassword": {
          "description": "SQL administrator login password",
          "type": "string"
        },
        "managedVirtualNetworkSettings": {
          "description": "Managed Virtual Network Settings",
          "$ref": "#/definitions/ManagedVirtualNetworkSettings"
        },
        "babylonConfiguration": {
          "description": "Babylon Configuration",
          "$ref": "#/definitions/BabylonConfiguration"
        },
        "provisioningState": {
          "description": "Resource provisioning state",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ManagedIdentitySqlControlSettingsModel": {
      "type": "object",
      "title": "Managed Identity Sql Control Settings",
      "description": "Sql Control Settings for workspace managed identity",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "title": "Managed Identity Sql Control Settings",
          "description": "Sql Control Settings for workspace managed identity",
          "properties": {
            "grantSqlControlToManagedIdentity": {
              "type": "object",
              "description": "Grant sql control to managed identity",
              "properties": {
                "desiredState": {
                  "description": "Desired state",
                  "type": "string",
                  "enum": [
                    "Enabled",
                    "Disabled"
                  ]
                },
                "actualState": {
                  "description": "Actual state",
                  "type": "string",
                  "enum": [
                    "Enabling",
                    "Enabled",
                    "Disabling",
                    "Disabled",
                    "Unknown"
                  ],
                  "readOnly": true
                }
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "RestorableDroppedSqlPoolProperties": {
      "properties": {
        "databaseName": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the database"
        },
        "edition": {
          "readOnly": true,
          "type": "string",
          "description": "The edition of the database"
        },
        "maxSizeBytes": {
          "readOnly": true,
          "type": "string",
          "description": "The max size in bytes of the database"
        },
        "serviceLevelObjective": {
          "readOnly": true,
          "type": "string",
          "description": "The service level objective name of the database"
        },
        "elasticPoolName": {
          "readOnly": true,
          "type": "string",
          "description": "The elastic pool name of the database"
        },
        "creationDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the database (ISO8601 format)"
        },
        "deletionDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The deletion date of the database (ISO8601 format)"
        },
        "earliestRestoreDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The earliest restore date of the database (ISO8601 format)"
        }
      },
      "description": "The properties of a restorable dropped Sql pool"
    },
    "RestorableDroppedSqlPool": {
      "properties": {
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "The geo-location where the resource lives"
        },
        "properties": {
          "$ref": "#/definitions/RestorableDroppedSqlPoolProperties",
          "description": "The properties of a restorable dropped Sql pool",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "A restorable dropped Sql pool"
    },
    "RestorableDroppedSqlPoolListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableDroppedSqlPool"
          },
          "description": "A list of restorable dropped Sql pools"
        }
      },
      "required": [
        "value"
      ],
      "description": "The response to a list restorable dropped Sql pools request"
    },
    "ScopePoolResourceProperties": {
      "allOf": [
        {
          "$ref": "../../../../common/v1/types.json#/definitions/ResourcePropertiesBase"
        },
        {
          "type": "object",
          "properties": {
            "creationDate": {
              "type": "string",
              "format": "date-time "
            },
            "maxQueuedJobs": {
              "type": "integer",
              "format": "int32"
            },
            "maxRunningJobs": {
              "type": "integer",
              "format": "int32"
            },
            "extendedProperties": {
              "type": "string"
            }
          }
        }
      ]
    },
    "ScopePoolResourceInfo": {
      "allOf": [
        {
          "$ref": "../../../../common/v1/types.json#/definitions/WorkspaceSubResource"
        },
        {
          "type": "object",
          "properties": {
            "properties": {
              "type": "object",
              "$ref": "#/definitions/ScopePoolResourceProperties"
            }
          }
        }
      ]
    },
    "ResourceCollectionResponse_ScopePoolResourceInfo": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScopePoolResourceInfo"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ScopePoolPatchInfo": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "workspaceNameParameter": {
      "name": "workspaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the workspace",
      "x-ms-parameter-location": "method"
    },
    "scopePoolNameParameter": {
      "name": "scopePoolName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the scope pool",
      "x-ms-parameter-location": "method"
    }
  }
}
