{
  "swagger": "2.0",
  "info": {
    "version": "2019-06-01-preview",
    "title": "SynapseManagementClient",
    "description": "Azure Synapse Analytics APIs"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "type": "oauth2",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces": {
      "get": {
        "operationId": "Workspaces_ListByResourceGroup",
        "description": "Returns a list of workspaces in a resource group",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceInfoListResult"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List workspaces in resource group": {
            "$ref": "./examples/ListWorkspacesInResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}": {
      "get": {
        "operationId": "Workspaces_Get",
        "description": "Gets a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get a workspace": {
            "$ref": "./examples/GetWorkspace.json"
          }
        }
      },
      "patch": {
        "operationId": "Workspaces_Update",
        "description": "Updates a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "schema": {
              "$ref": "#/definitions/WorkspacePatchInfo"
            },
            "in": "body",
            "name": "workspacePatchInfo",
            "required": true,
            "description": "Workspace patch request properties"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Update a workspace": {
            "$ref": "./examples/UpdateWorkspace.json"
          }
        }
      },
      "put": {
        "operationId": "Workspaces_CreateOrUpdate",
        "description": "Creates or updates a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "description": "Workspace create or update request properties",
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "in": "body",
            "name": "workspaceInfo",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "201": {
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update a workspace": {
            "$ref": "./examples/CreateOrUpdateWorkspace.json"
          }
        }
      },
      "delete": {
        "operationId": "Workspaces_Delete",
        "description": "Deletes a workspace",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object"
            },
            "description": "OK"
          },
          "202": {
            "schema": {
              "type": "object"
            },
            "description": ""
          },
          "204": {
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete a workspace": {
            "$ref": "./examples/DeleteWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Synapse/workspaces": {
      "get": {
        "operationId": "Workspaces_List",
        "description": "Returns a list of workspaces in a subscription",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceInfoListResult"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List workspaces in subscription": {
            "$ref": "./examples/ListWorkspacesInSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/administrators/activeDirectory": {
      "get": {
        "operationId": "WorkspaceAadAdmins_Get",
        "description": "Gets a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            },
            "description": "OK"
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get workspace active directory admin": {
            "$ref": "./examples/GetWorkspaceAadAdmin.json"
          }
        }
      },
      "put": {
        "operationId": "WorkspaceAadAdmins_CreateOrUpdate",
        "description": "Creates or updates a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "description": "Workspace active directory administrator properties",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            },
            "in": "body",
            "name": "aadAdminInfo",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            }
          },
          "202": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/WorkspaceAadAdminInfo"
            }
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update workspace active directory admin": {
            "$ref": "./examples/CreateOrUpdateWorkspaceAadAdmin.json"
          }
        }
      },
      "delete": {
        "operationId": "WorkspaceAadAdmins_Delete",
        "description": "Deletes a workspace active directory admin",
        "tags": [
          "Workspaces"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "202": {
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete workspace active directory admin": {
            "$ref": "./examples/DeleteWorkspaceAadAdmin.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/sqlAdministrators/activeDirectory": {
      "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.Synapse~1workspaces~1%7BworkspaceName%7D~1administrators~1activeDirectory"
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/scopePools/{scopePoolName}": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/workspaceNameParameter"
        },
        {
          "$ref": "#/parameters/scopePoolNameParameter"
        }
      ],
      "get": {
        "operationId": "GetScopePool",
        "description": "Get scope pool by name",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ScopePoolResourceInfo"
            },
            "description": "OK"
          },
          "403": {
            "description": "User subscription or tenant not allowed"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get scope pool by name": {
            "$ref": "./examples/GetScopePool.json"
          }
        }
      },
      "put": {
        "operationId": "CreateOrUpdateScopePool",
        "description": "Create or update scope pool in workspace",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "parameters": [
          {
            "in": "body",
            "name": "scopePoolInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScopePoolResourceInfo"
            }
          }
        ],
        "responses": {
          "202": {
            "schema": {
              "$ref": "#/definitions/ScopePoolResourceInfo"
            },
            "description": ""
          },
          "400": {
            "description": "Malformed request or key sub-resource not available in region"
          },
          "403": {
            "description": "Forbidden or scope pool limit reached",
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            }
          },
          "404": {
            "description": "Workspace not found"
          },
          "409": {
            "description": "Scope pool with same name already exists in non-final state",
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            }
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Create or update scope pool by name in the workspace": {
            "$ref": "./examples/CreateOrUpdateScopePool.json"
          }
        }
      },
      "delete": {
        "operationId": "DeleteScopePool",
        "description": "Deletes a scope pool",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/workspaceNameParameter"
          },
          {
            "$ref": "#/parameters/scopePoolNameParameter"
          }
        ],
        "responses": {
          "202": {
            "schema": {
              "type": "object"
            },
            "description": ""
          },
          "204": {
            "description": "No content"
          },
          "403": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": "Not allowed to operate on this tenant and subscription"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete scope pool in workspace": {
            "$ref": "./examples/DeleteScopePool.json"
          }
        }
      },
      "patch": {
        "operationId": "PatchScopePool",
        "description": "Update scope pool in workspace",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../common/v1/types.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/scopePoolNameParameter"
          },
          {
            "in": "body",
            "name": "scopePoolInfo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScopePoolPatchInfo"
            }
          }
        ],
        "responses": {
          "202": {
            "schema": {
              "$ref": "#/definitions/ScopePoolResourceInfo"
            },
            "description": ""
          },
          "403": {
            "description": "Not allowed"
          },
          "409": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          },
          "default": {
            "schema": {
              "$ref": "../../../../common/v1/types.json#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Update scope pool by name in the workspace": {
            "$ref": "./examples/PatchScopePool.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Synapse/workspaces/{workspaceName}/scopePools": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/workspaceNameParameter"
        }
      ],
      "get": {
        "operationId": "GetScopePoolsInWorkspace",
        "description": "Get all scope pools in workspace",
        "tags": [
          "ScopePools"
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "$ref": "#/definitions/ResourceCollectionResponse_ScopePoolResourceInfo"
            },
            "description": "OK"
          },
          "403": {
            "description": "User subscription or tenant not allowed"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get scope pool by name": {
            "$ref": "./examples/GetScopePoolsInWorkspace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Synapse/workspaces/{workspaceName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "parameters": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/workspaceNameParameter"
        },
        {
          "$ref": "../../../../common/v1/privateEndpointConnection.json#/parameters/PrivateEndpointConnectionNameParameter"
        }
      ],
      "get": {
        "operationId": "GetPrivateEndpointConnectionInWorkspace",
        "description": "Get PrivateEndpointConnection by name in workspace",
        "tags": [
          "Workspace",
          "PrivateEndpointConnection"
        ],
        "deprecated": false,
        "responses": {
          "200": {
            "schema": {
              "$ref": "../../../../common/v1/privateEndpointConnection.json#/definitions/PrivateEndpointConnection"
            },
            "description": "OK"
          },
          "404": {
            "description": "Not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/ErrorContract"
            },
            "description": ""
          }
        },
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get PrivateEndpointConnection by name in workspace": {
            "$ref": "./examples/GetPrivateEndpointConnectionInWorkspace.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorDetail": {
      "description": "Error details",
      "type": "object",
      "properties": {
        "message": {
          "description": "Error message",
          "type": "string"
        },
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "target": {
          "description": "Error target",
          "type": "string"
        }
      }
    },
    "ErrorContract": {
      "title": "Error details.",
      "description": "Contains details when the response code indicates an error.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The error details.",
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
        }
      }
    },
    "AadAdminProperties": {
      "description": "Workspace active directory administrator properties",
      "type": "object",
      "properties": {
        "tenantId": {
          "description": "Tenant ID of the workspace active directory administrator",
          "type": "string"
        },
        "login": {
          "description": "Login of the workspace active directory administrator",
          "type": "string"
        },
        "administratorType": {
          "description": "Workspace active directory administrator type",
          "type": "string"
        },
        "sid": {
          "description": "Object ID of the workspace active directory administrator",
          "type": "string"
        }
      }
    },
    "WorkspaceInfoListResult": {
      "description": "List of workspaces",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Link to the next page of results",
          "type": "string"
        },
        "value": {
          "description": "List of workspaces",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workspace"
          }
        }
      }
    },
    "DataLakeStorageAccountDetails": {
      "description": "Details of the data lake storage account associated with the workspace",
      "type": "object",
      "properties": {
        "accountUrl": {
          "description": "Account URL",
          "type": "string"
        },
        "filesystem": {
          "description": "Filesystem name",
          "type": "string"
        }
      }
    },
    "ManagedIdentity": {
      "description": "The workspace managed identity",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "The principal ID of the workspace managed identity",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "The tenant ID of the workspace managed identity",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of managed identity for the workspace",
          "enum": [
            "None",
            "SystemAssigned"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        }
      }
    },
    "VirtualNetworkProfile": {
      "description": "Virtual Network Profile",
      "type": "object",
      "properties": {
        "computeSubnetId": {
          "description": "Subnet ID used for computes in workspace",
          "type": "string"
        }
      }
    },
    "ManagedVirtualNetworkSettings": {
      "description": "Managed Virtual Network Settings",
      "type": "object",
      "properties": {
        "preventDataExfiltration": {
          "description": "Prevent Data Exfiltration",
          "type": "boolean"
        },
        "linkedAccessCheckOnTargetResource": {
          "description": "Linked Access Check On Target Resource",
          "type": "boolean"
        },
        "allowedAadTenantIdsForLinking": {
          "description": "Allowed Aad Tenant Ids For Linking",
          "type": "array",
          "items": {
            "type": "string",
            "description": "Tenant Id"
          }
        }
      }
    },
    "WorkspaceAadAdminInfo": {
      "description": "Workspace active directory administrator",
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Workspace active directory administrator properties",
          "$ref": "#/definitions/AadAdminProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "Workspace": {
      "description": "A workspace",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Workspace resource properties",
          "$ref": "#/definitions/WorkspaceProperties",
          "x-ms-client-flatten": true
        },
        "identity": {
          "description": "Identity of the workspace",
          "$ref": "#/definitions/ManagedIdentity"
        }
      }
    },
    "WorkspaceProperties": {
      "description": "Workspace properties",
      "type": "object",
      "properties": {
        "defaultDataLakeStorage": {
          "description": "Workspace default data lake storage account details",
          "$ref": "#/definitions/DataLakeStorageAccountDetails"
        },
        "sqlAdministratorLoginPassword": {
          "description": "SQL administrator login password",
          "type": "string"
        },
        "managedResourceGroupName": {
          "description": "Workspace managed resource group. The resource group name uniquely identifies the resource group within the user subscriptionId. The resource group name must be no longer than 90 characters long, and must be alphanumeric characters (Char.IsLetterOrDigit()) and '-', '_', '(', ')' and'.'. Note that the name cannot end with '.'",
          "type": "string"
        },
        "provisioningState": {
          "description": "Resource provisioning state",
          "type": "string",
          "readOnly": true
        },
        "sqlAdministratorLogin": {
          "description": "Login for workspace SQL active directory administrator",
          "type": "string"
        },
        "virtualNetworkProfile": {
          "description": "Virtual Network profile",
          "$ref": "#/definitions/VirtualNetworkProfile"
        },
        "connectivityEndpoints": {
          "description": "Connectivity endpoints",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "managedVirtualNetwork": {
          "description": "Setting this to 'default' will ensure that all compute for this workspace is in a virtual network managed on behalf of the user.",
          "type": "string"
        },
        "privateEndpointConnections": {
          "description": "Private endpoint connections to the workspace",
          "type": "array",
          "items": {
            "$ref": "./privateEndpointConnections.json#/definitions/PrivateEndpointConnection"
          }
        },
        "extraProperties": {
          "description": "Workspace level configs and feature flags",
          "additionalProperties": {
            "type": "object"
          },
          "type": "object",
          "readOnly": true
        },
        "managedVirtualNetworkSettings": {
          "description": "Managed Virtual Network Settings",
          "$ref": "#/definitions/ManagedVirtualNetworkSettings"
        }
      }
    },
    "WorkspacePatchInfo": {
      "description": "Workspace patch details",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "identity": {
          "description": "The identity of the workspace",
          "$ref": "#/definitions/ManagedIdentity"
        },
        "managedVirtualNetworkSettings": {
          "description": "Managed Virtual Network Settings",
          "type": "object",
          "properties": {
            "preventDataExfiltration": {
              "description": "Prevent Data Exfiltration",
              "type": "boolean"
            },
            "linkedAccessCheckOnTargetResource": {
              "description": "Linked Access Check On Target Resource",
              "type": "boolean"
            },
            "allowedAadTenantIdsForLinking": {
              "description": "Allowed Aad Tenant Ids For Linking",
              "type": "array",
              "items": {
                "type": "string",
                "description": "Tenant Id"
              }
            }
          }
        },
        "properties": {
          "description": "Workspace patch properties",
          "$ref": "#/definitions/WorkspacePatchProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "WorkspacePatchProperties": {
      "description": "Workspace patch properties",
      "type": "object",
      "properties": {
        "sqlAdministratorLoginPassword": {
          "description": "SQL administrator login password",
          "type": "string"
        },
        "provisioningState": {
          "description": "Resource provisioning state",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ManagedIdentitySqlControlSettingsModel": {
      "type": "object",
      "title": "Managed Identity Sql Control Settings",
      "description": "Sql Control Settings for workspace managed identity",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "title": "Managed Identity Sql Control Settings",
          "description": "Sql Control Settings for workspace managed identity",
          "properties": {
            "grantSqlControlToManagedIdentity": {
              "type": "object",
              "description": "Grant sql control to managed identity",
              "properties": {
                "desiredState": {
                  "description": "Desired state",
                  "type": "string",
                  "enum": [
                    "Enabled",
                    "Disabled"
                  ]
                },
                "actualState": {
                  "description": "Actual state",
                  "type": "string",
                  "enum": [
                    "Enabling",
                    "Enabled",
                    "Disabling",
                    "Disabled",
                    "Unknown"
                  ],
                  "readOnly": true
                }
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "ScopePoolResourceProperties": {
      "allOf": [
        {
          "$ref": "../../../../common/v1/types.json#/definitions/ResourcePropertiesBase"
        },
        {
          "type": "object",
          "properties": {
            "creationDate": {
              "type": "string",
              "format": "date-time "
            },
            "maxQueuedJobs": {
              "type": "integer",
              "format": "int32"
            },
            "maxRunningJobs": {
              "type": "integer",
              "format": "int32"
            },
            "extendedProperties": {
              "type": "string"
            }
          }
        }
      ]
    },
    "ScopePoolResourceInfo": {
      "allOf": [
        {
          "$ref": "../../../../common/v1/types.json#/definitions/WorkspaceSubResource"
        },
        {
          "type": "object",
          "properties": {
            "properties": {
              "type": "object",
              "$ref": "#/definitions/ScopePoolResourceProperties"
            }
          }
        }
      ]
    },
    "ResourceCollectionResponse_ScopePoolResourceInfo": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ScopePoolResourceInfo"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "ScopePoolPatchInfo": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {
    "workspaceNameParameter": {
      "name": "workspaceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the workspace",
      "x-ms-parameter-location": "method"
    },
    "scopePoolNameParameter": {
      "name": "scopePoolName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the scope pool",
      "x-ms-parameter-location": "method"
    }
  }
}
