{
  "swagger": "2.0",
  "info": {
    "version": "2020-07-01-preview",
    "title": "azureADHealth",
    "description": "Metrics and Alerts for Azure Active Directory."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/microsoft.aadiam/azureADHealth/{azureADHealthName}": {
      "put": {
        "tags": [
          "azureADHealth"
        ],
        "operationId": "azureADHealth_Create",
        "x-ms-long-running-operation": true,
        "description": "Creates a azureADHealth instance.",
        "x-ms-examples": {
          "azureADHealthCreate": {
            "$ref": "./examples/AzureADHealthCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/azureADHealthNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "azureADHealthConfig",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/azureADHealthConfig"
            },
            "description": "AzureADHealth definition supplied to the operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Created -- AzureADHealth instance created.",
            "schema": {
              "$ref": "#/definitions/azureADHealthConfig"
            }
          },
          "201": {
            "description": "OK -- AzureADHealth instance is updated.",
            "schema": {
              "$ref": "#/definitions/azureADHealthConfig"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "azureADHealth"
        ],
        "operationId": "azureADHealth_Update",
        "description": "Updates azureADHealth tags with specified values.",
        "x-ms-examples": {
          "azureADHealthUpdate": {
            "$ref": "./examples/AzureADHealthUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/azureADHealthNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "azureADHealthConfig",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/azureADHealthUpdateParameter"
            },
            "description": "AzureADHealth resource with the tags to be updated."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- AzureADHealth tags are updated.",
            "schema": {
              "$ref": "#/definitions/azureADHealth"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "azureADHealth"
        ],
        "operationId": "azureADHealth_Get",
        "description": "Gets a azureADHealth instance with a given name.",
        "x-ms-examples": {
          "azureADHealthGet": {
            "$ref": "./examples/AzureADHealthGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/azureADHealthNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Returns information about the azureADHealth resource.",
            "schema": {
              "$ref": "#/definitions/azureADHealthConfig"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "azureADHealth"
        ],
        "operationId": "azureADHealth_Delete",
        "description": "Deletes a AzureADHealth resource. When operation completes, status code 200 returned without content.",
        "x-ms-examples": {
          "azureADHealthDelete": {
            "$ref": "./examples/AzureADHealthDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/azureADHealthNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- azureADHealth resource deleted."
          },
          "204": {
            "description": "azureADHealth does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/microsoft.aadiam/azureADHealth": {
      "get": {
        "tags": [
          "azureADHealth"
        ],
        "operationId": "azureADHealth_ListBySubscription",
        "description": "Lists all AzureADHealth resources in the given subscription.",
        "x-ms-examples": {
          "azureADHealthListBySubscription": {
            "$ref": "./examples/AzureADHealthListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Returns a list azureADHealth resources.",
            "schema": {
              "$ref": "#/definitions/azureADHealthListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.aadiam/azureADHealth": {
      "get": {
        "tags": [
          "azureADHealth"
        ],
        "operationId": "azureADHealth_List",
        "x-ms-examples": {
          "azureADHealthGetList": {
            "$ref": "./examples/AzureADHealthList.json"
          }
        },
        "description": "Operation to return the list of AzureADHealth resources scoped to the resourceGroup.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get list of AzureADHealth resources For AzureAD.",
            "schema": {
              "$ref": "#/definitions/azureADHealthListResult"
            }
          },
          "default": {
            "description": "Error, failed to get list of AzureADHealth resources.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "azureADHealthListResult": {
      "description": "A list of AzureADHealth resources",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "Array of AzureADHealth resources.",
          "items": {
            "$ref": "#/definitions/azureADHealthConfig"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of operations.",
          "type": "string"
        }
      }
    },
    "azureADHealthConfig": {
      "description": "AzureADHealth resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the AzureADHealth configuration object.",
          "type": "string"
        },
        "ownerTenantId": {
          "description": "Guid of the owner tenant",
          "type": "string"
        },
        "resourceName": {
          "description": "Name of the AzureAdHealth resource",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Subscription Identifier",
          "type": "string"
        },
        "resourceGroup": {
          "description": "Name of the resource group",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AzureResourceBase"
        }
      ]
    },
    "AzureResourceBase": {
      "x-ms-azure-resource": true,
      "type": "object",
      "description": "Common properties for all Azure resources.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "String Id used to locate any resource on Azure."
        },
        "name": {
          "readOnly": false,
          "type": "string",
          "description": "Name of this resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Type of this resource."
        }
      }
    },
    "azureADHealthUpdateParameter": {
      "type": "object",
      "description": "AzureADHealth parameters to be updated. ",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags to be updated.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure subscription ID.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "client",
      "description": "Version of the API to be used with the client request."
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method",
      "description": "Name of an Azure resource group."
    },
    "azureADHealthNameParameter": {
      "name": "azureADHealthName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Name of the azureADHealth instance."
    }
  }
}
