{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Monitor",
    "version": "2025-03-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Slis"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Monitor/slis": {
      "get": {
        "operationId": "Slis_ListByParent",
        "tags": [
          "Slis"
        ],
        "description": "Lists all SLI resources under a parent resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SliListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SlisListByParent": {
            "$ref": "./examples/Slis_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Monitor/slis/{name}": {
      "get": {
        "operationId": "Slis_Get",
        "tags": [
          "Slis"
        ],
        "description": "Gets an SLI resources",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the SLI that is given by the user.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_()~]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Sli"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetSli": {
            "$ref": "./examples/Slis_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Slis_CreateOrUpdate",
        "tags": [
          "Slis"
        ],
        "description": "Creates or updates an SLI resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the SLI that is given by the user.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_()~]{3,64}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Sli"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Sli' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Sli"
            }
          },
          "201": {
            "description": "Resource 'Sli' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Sli"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateSli": {
            "$ref": "./examples/Slis_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Slis_Delete",
        "tags": [
          "Slis"
        ],
        "description": "Deletes an SLI resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the SLI that is given by the user.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_()~]{3,64}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteSli": {
            "$ref": "./examples/Slis_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AggregationType": {
      "type": "string",
      "description": "Defines the available aggregation types.",
      "enum": [
        "Average",
        "Min",
        "Max",
        "Sum",
        "Count"
      ],
      "x-ms-enum": {
        "name": "AggregationType",
        "modelAsString": true,
        "values": [
          {
            "name": "Average",
            "value": "Average",
            "description": "Average value."
          },
          {
            "name": "Min",
            "value": "Min",
            "description": "Minimum value."
          },
          {
            "name": "Max",
            "value": "Max",
            "description": "Maximum value."
          },
          {
            "name": "Sum",
            "value": "Sum",
            "description": "Summation."
          },
          {
            "name": "Count",
            "value": "Count",
            "description": "Count of occurrences."
          }
        ]
      }
    },
    "AmwAccount": {
      "type": "object",
      "description": "Represents an Azure Monitor Workspace (AMW) account used for emitting metrics.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ARM resource ID of the account where metrics are emitted."
        },
        "identity": {
          "type": "string",
          "description": "The ARM resource ID of the managed identity with access to the source account."
        }
      },
      "required": [
        "resourceId",
        "identity"
      ]
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Category": {
      "type": "string",
      "description": "Defines the category of an SLI",
      "enum": [
        "Availability",
        "Latency"
      ],
      "x-ms-enum": {
        "name": "Category",
        "modelAsString": true,
        "values": [
          {
            "name": "Availability",
            "value": "Availability",
            "description": "Indicates availability-related metrics."
          },
          {
            "name": "Latency",
            "value": "Latency",
            "description": "Indicates latency-related metrics."
          }
        ]
      }
    },
    "ComplianceCalculationType": {
      "type": "string",
      "description": "Specifies the method for compliance calculation.",
      "enum": [
        "CalendarDays",
        "RollingDays"
      ],
      "x-ms-enum": {
        "name": "ComplianceCalculationType",
        "modelAsString": true,
        "values": [
          {
            "name": "CalendarDays",
            "value": "CalendarDays",
            "description": "Calculates compliance based on a fixed calendar period."
          },
          {
            "name": "RollingDays",
            "value": "RollingDays",
            "description": "Calculates compliance using a rolling time window."
          }
        ]
      }
    },
    "Condition": {
      "type": "object",
      "description": "Represents a filtering condition.",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "Dimension name used in filtering."
        },
        "scalarFunction": {
          "$ref": "#/definitions/ScalarFunction",
          "description": "Scalar function applied for filtering."
        },
        "samplingType": {
          "$ref": "#/definitions/SamplingType",
          "description": "Defines the sampling type."
        },
        "operator": {
          "$ref": "#/definitions/ConditionOperator",
          "description": "Operator used in the filtering condition."
        },
        "value": {
          "type": "string",
          "description": "Value used in filtering."
        }
      },
      "required": [
        "operator",
        "value"
      ]
    },
    "ConditionOperator": {
      "type": "string",
      "description": "Defines operators used in filter conditions.",
      "enum": [
        "eq",
        "ne",
        "lt",
        "lte",
        "gt",
        "gte",
        "@in",
        "notin",
        "startswith",
        "notstartswith",
        "contains",
        "notcontains"
      ],
      "x-ms-enum": {
        "name": "ConditionOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "eq",
            "value": "eq",
            "description": "Equal to."
          },
          {
            "name": "ne",
            "value": "ne",
            "description": "Not equal to."
          },
          {
            "name": "lt",
            "value": "lt",
            "description": "Less than."
          },
          {
            "name": "lte",
            "value": "lte",
            "description": "Less than or equal to."
          },
          {
            "name": "gt",
            "value": "gt",
            "description": "Greater than."
          },
          {
            "name": "gte",
            "value": "gte",
            "description": "Greater than or equal to."
          },
          {
            "name": "in",
            "value": "@in",
            "description": "In operator."
          },
          {
            "name": "!in",
            "value": "notin",
            "description": "Not in."
          },
          {
            "name": "startswith",
            "value": "startswith",
            "description": "Starts with."
          },
          {
            "name": "!startswith",
            "value": "notstartswith",
            "description": "Does not start with."
          },
          {
            "name": "contains",
            "value": "contains",
            "description": "Contains the value."
          },
          {
            "name": "!contains",
            "value": "notcontains",
            "description": "Does not contain the value."
          }
        ]
      }
    },
    "EvaluationType": {
      "type": "string",
      "description": "Specifies how the SLI is evaluated.",
      "enum": [
        "WindowBased",
        "RequestBased"
      ],
      "x-ms-enum": {
        "name": "EvaluationType",
        "modelAsString": true,
        "values": [
          {
            "name": "WindowBased",
            "value": "WindowBased",
            "description": "Evaluates SLI based on time windows."
          },
          {
            "name": "RequestBased",
            "value": "RequestBased",
            "description": "Evaluates SLI based on request counts."
          }
        ]
      }
    },
    "ExecutionState": {
      "type": "object",
      "description": "Represents the current execution state of an SLI.",
      "properties": {
        "state": {
          "type": "string",
          "description": "The execution state value."
        },
        "message": {
          "type": "string",
          "description": "A descriptive message related to the execution state."
        }
      },
      "required": [
        "state",
        "message"
      ]
    },
    "Filter": {
      "type": "object",
      "description": "Defines a filter model for signals.",
      "properties": {
        "logic": {
          "$ref": "#/definitions/Logic",
          "description": "Logical operator for filtering."
        },
        "conditions": {
          "type": "array",
          "description": "Conditions applied to the filter.",
          "items": {
            "$ref": "#/definitions/Condition"
          },
          "x-ms-identifiers": [
            "dimensionName",
            "value",
            "operator"
          ]
        }
      },
      "required": [
        "logic",
        "conditions"
      ]
    },
    "Logic": {
      "type": "string",
      "description": "Defines logical operators used in filtering.",
      "enum": [
        "AND",
        "OR"
      ],
      "x-ms-enum": {
        "name": "Logic",
        "modelAsString": true,
        "values": [
          {
            "name": "AND",
            "value": "AND",
            "description": "Logical AND operation."
          },
          {
            "name": "OR",
            "value": "OR",
            "description": "Logical OR operation."
          }
        ]
      }
    },
    "Metric": {
      "type": "object",
      "description": "Defines a metric in the destination AMW account.",
      "properties": {
        "metricNamespace": {
          "type": "string",
          "description": "The namespace of the metric."
        },
        "metricName": {
          "type": "string",
          "description": "The name of the metric."
        }
      },
      "required": [
        "metricNamespace",
        "metricName"
      ]
    },
    "ProvisioningState": {
      "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
      "x-nullable": false
    },
    "SamplingType": {
      "type": "string",
      "description": "Defines the available sampling types.",
      "enum": [
        "max",
        "min",
        "avg",
        "sum"
      ],
      "x-ms-enum": {
        "name": "SamplingType",
        "modelAsString": true,
        "values": [
          {
            "name": "max",
            "value": "max",
            "description": "Maximum value."
          },
          {
            "name": "min",
            "value": "min",
            "description": "Minimum value."
          },
          {
            "name": "avg",
            "value": "avg",
            "description": "Average value."
          },
          {
            "name": "sum",
            "value": "sum",
            "description": "Summation."
          }
        ]
      }
    },
    "ScalarFunction": {
      "type": "string",
      "description": "Defines scalar functions used in filtering.",
      "enum": [
        "max",
        "min",
        "avg",
        "sum"
      ],
      "x-ms-enum": {
        "name": "ScalarFunction",
        "modelAsString": true,
        "values": [
          {
            "name": "max",
            "value": "max",
            "description": "Maximum value."
          },
          {
            "name": "min",
            "value": "min",
            "description": "Minimum value."
          },
          {
            "name": "avg",
            "value": "avg",
            "description": "Average value."
          },
          {
            "name": "sum",
            "value": "sum",
            "description": "Summation."
          }
        ]
      }
    },
    "Signal": {
      "type": "object",
      "description": "Represents a signal model used in SLI calculations.",
      "properties": {
        "signalSources": {
          "type": "array",
          "description": "Sources of metrics used for SLIs.",
          "items": {
            "$ref": "#/definitions/SignalSource"
          },
          "x-ms-identifiers": [
            "signalSourceId"
          ]
        },
        "signalFormula": {
          "type": "string",
          "description": "Mathematical formula used to combine multiple metrics."
        }
      },
      "required": [
        "signalSources",
        "signalFormula"
      ]
    },
    "SignalSource": {
      "type": "object",
      "description": "Represents a signal source used in SLIs.",
      "properties": {
        "signalSourceId": {
          "type": "string",
          "description": "Unique identifier for the signal source."
        },
        "sourceAmwAccountManagedIdentity": {
          "type": "string",
          "description": "Managed identity for authenticating the signal source."
        },
        "sourceAmwAccountResourceId": {
          "type": "string",
          "description": "Resource ID of the source AMW account."
        },
        "metricNamespace": {
          "type": "string",
          "description": "Namespace of the metric."
        },
        "metricName": {
          "type": "string",
          "description": "Name of the metric."
        },
        "filters": {
          "type": "array",
          "description": "Filters applied to modify signal values.",
          "items": {
            "$ref": "#/definitions/Filter"
          },
          "x-ms-identifiers": [
            "logic",
            "conditions"
          ]
        },
        "spatialAggregation": {
          "$ref": "#/definitions/SpatialAggregation",
          "description": "Defines how measurements are aggregated across multiple time series."
        },
        "temporalAggregation": {
          "$ref": "#/definitions/TemporalAggregation",
          "description": "Defines how measurements are aggregated over a specific time window within the same time series."
        }
      },
      "required": [
        "signalSourceId",
        "sourceAmwAccountManagedIdentity",
        "sourceAmwAccountResourceId",
        "metricNamespace",
        "metricName",
        "filters",
        "spatialAggregation"
      ]
    },
    "Sli": {
      "type": "object",
      "description": "Represents an SLI resource within the ProviderHub.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SliResource",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SliListResult": {
      "type": "object",
      "description": "The response of a Sli list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Sli items on this page",
          "items": {
            "$ref": "#/definitions/Sli"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SliProperties": {
      "type": "object",
      "description": "Defines the properties of an SLI.",
      "properties": {
        "goodSignals": {
          "$ref": "#/definitions/Signal",
          "description": "Represents good signals used in request-based SLI calculations."
        },
        "totalSignals": {
          "$ref": "#/definitions/Signal",
          "description": "Represents total signals used in request-based SLI calculations."
        },
        "signals": {
          "$ref": "#/definitions/Signal",
          "description": "Signals used for window-based SLI calculations."
        },
        "windowUptimeCriteria": {
          "$ref": "#/definitions/WindowUptimeCriteria",
          "description": "Defines the uptime criteria for window-based SLIs."
        }
      }
    },
    "SliResource": {
      "type": "object",
      "description": "Defines the root level properties of an SLI resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Indicates the provisioning status of the last operation.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "A user-provided description of the SLI, with a maximum length of 1000 characters.",
          "pattern": "^.{3,1000}$"
        },
        "category": {
          "$ref": "#/definitions/Category",
          "description": "Specifies the category of the SLI, used to classify signals such as Availability and Latency."
        },
        "evaluationType": {
          "$ref": "#/definitions/EvaluationType",
          "description": "Determines how the SLI is evaluated—either based on request counts or time windows."
        },
        "executionState": {
          "$ref": "#/definitions/ExecutionState",
          "description": "Indicates the current execution status of the SLI resource in ARM responses.",
          "readOnly": true
        },
        "destinationAmwAccounts": {
          "type": "array",
          "description": "Destination AMW accounts.",
          "items": {
            "$ref": "#/definitions/AmwAccount"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        },
        "destinationMetrics": {
          "type": "array",
          "description": "The destination Azure Monitor Workspace (AMW) accounts where the SLI emits metrics.",
          "items": {
            "$ref": "#/definitions/Metric"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "metricNamespace",
            "metricName"
          ]
        },
        "sloProperties": {
          "$ref": "#/definitions/SloProperties",
          "description": "Defines the SLO properties associated with the SLI."
        },
        "sliProperties": {
          "$ref": "#/definitions/SliProperties",
          "description": "Defines the SLI properties associated with the SLI."
        }
      },
      "required": [
        "description",
        "category",
        "evaluationType",
        "executionState",
        "destinationAmwAccounts",
        "destinationMetrics",
        "sloProperties",
        "sliProperties"
      ]
    },
    "SloProperties": {
      "type": "object",
      "description": "Defines the properties of an SLO.",
      "properties": {
        "target": {
          "$ref": "#/definitions/SloTarget",
          "description": "Defines the SLO target, which is compared against the SLI value to determine compliance."
        }
      },
      "required": [
        "target"
      ]
    },
    "SloTarget": {
      "type": "object",
      "description": "Defines the target parameters for an SLO.",
      "properties": {
        "value": {
          "type": "number",
          "format": "float",
          "description": "The user-defined or Azure-defined target value used for comparison against the SLI value.",
          "minimum": 0,
          "maximum": 100
        },
        "compliancePeriodDays": {
          "type": "integer",
          "format": "int32",
          "description": "The time frame (in days) used for SLI evaluation.",
          "minimum": 1,
          "maximum": 90
        },
        "complianceCalculationType": {
          "$ref": "#/definitions/ComplianceCalculationType",
          "description": "Specifies how compliance is calculated, either based on calendar days or a rolling window."
        },
        "comparator": {
          "$ref": "#/definitions/TargetComparator",
          "description": "Defines the operator used to compare the SLI value against the target."
        }
      },
      "required": [
        "value",
        "compliancePeriodDays",
        "complianceCalculationType",
        "comparator"
      ]
    },
    "SpatialAggregation": {
      "type": "object",
      "description": "Represents the spatial aggregation model.",
      "properties": {
        "type": {
          "$ref": "#/definitions/AggregationType",
          "description": "Type of spatial aggregation."
        },
        "dimensions": {
          "type": "array",
          "description": "Dimensions considered for spatial aggregation.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "type",
        "dimensions"
      ]
    },
    "TargetComparator": {
      "type": "string",
      "description": "Defines comparison operators for evaluating an SLI against an SLO target.",
      "enum": [
        "lt",
        "gt",
        "lte",
        "gte"
      ],
      "x-ms-enum": {
        "name": "TargetComparator",
        "modelAsString": true,
        "values": [
          {
            "name": "lt",
            "value": "lt",
            "description": "Less than the target value."
          },
          {
            "name": "gt",
            "value": "gt",
            "description": "Greater than the target value."
          },
          {
            "name": "lte",
            "value": "lte",
            "description": "Less than or equal to the target value."
          },
          {
            "name": "gte",
            "value": "gte",
            "description": "Greater than or equal to the target value."
          }
        ]
      }
    },
    "TemporalAggregation": {
      "type": "object",
      "description": "Represents temporal aggregation settings.",
      "properties": {
        "type": {
          "$ref": "#/definitions/AggregationType",
          "description": "Type of temporal aggregation."
        },
        "windowSizeMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Time window size for aggregation, in minutes."
        }
      },
      "required": [
        "type",
        "windowSizeMinutes"
      ]
    },
    "WindowUptimeCriteria": {
      "type": "object",
      "description": "Represents criteria for determining uptime in window-based SLIs.",
      "properties": {
        "target": {
          "type": "number",
          "format": "float",
          "description": "Threshold value used to determine uptime.",
          "minimum": 0
        },
        "comparator": {
          "$ref": "#/definitions/WindowUptimeCriteriaComparator",
          "description": "Comparison operator used for uptime evaluation."
        }
      },
      "required": [
        "target",
        "comparator"
      ]
    },
    "WindowUptimeCriteriaComparator": {
      "type": "string",
      "description": "Defines comparison operators for window uptime criteria.",
      "enum": [
        "lt",
        "gt",
        "lte",
        "gte"
      ],
      "x-ms-enum": {
        "name": "WindowUptimeCriteriaComparator",
        "modelAsString": true,
        "values": [
          {
            "name": "lt",
            "value": "lt",
            "description": "Less than the target value."
          },
          {
            "name": "gt",
            "value": "gt",
            "description": "Greater than the target value."
          },
          {
            "name": "lte",
            "value": "lte",
            "description": "Less than or equal to the target value."
          },
          {
            "name": "gte",
            "value": "gte",
            "description": "Greater than or equal to the target value."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
