{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.SupercomputerInfrastructure",
    "version": "2025-07-01-preview",
    "description": "Supercomputer Infrastructure Management Plane API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Links"
    },
    {
      "name": "Supercomputers"
    },
    {
      "name": "Nics"
    },
    {
      "name": "Racks"
    },
    {
      "name": "Clusters"
    },
    {
      "name": "Nodes"
    },
    {
      "name": "Ports"
    },
    {
      "name": "Switches"
    }
  ],
  "paths": {
    "/providers/Microsoft.SupercomputerInfrastructure/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SupercomputerInfrastructure/supercomputers": {
      "get": {
        "operationId": "Supercomputers_ListBySubscription",
        "tags": [
          "Supercomputers"
        ],
        "description": "List Supercomputer resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SupercomputerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Supercomputers_ListBySubscription": {
            "$ref": "./examples/Supercomputers_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers": {
      "get": {
        "operationId": "Supercomputers_ListByResourceGroup",
        "tags": [
          "Supercomputers"
        ],
        "description": "List Supercomputer resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SupercomputerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Supercomputers_ListByResourceGroup": {
            "$ref": "./examples/Supercomputers_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}": {
      "get": {
        "operationId": "Supercomputers_Get",
        "tags": [
          "Supercomputers"
        ],
        "description": "Get a Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Supercomputer"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Supercomputers_Get": {
            "$ref": "./examples/Supercomputers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Supercomputers_CreateOrUpdate",
        "tags": [
          "Supercomputers"
        ],
        "description": "Create a Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Supercomputer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Supercomputer' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Supercomputer"
            }
          },
          "201": {
            "description": "Resource 'Supercomputer' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Supercomputer"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Supercomputers_CreateOrUpdate": {
            "$ref": "./examples/Supercomputers_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Supercomputers_Update",
        "tags": [
          "Supercomputers"
        ],
        "description": "Update a Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SupercomputerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Supercomputer"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Supercomputers_Update": {
            "$ref": "./examples/Supercomputers_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Supercomputers_Delete",
        "tags": [
          "Supercomputers"
        ],
        "description": "Delete a Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Supercomputers_Delete": {
            "$ref": "./examples/Supercomputers_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/clusters": {
      "get": {
        "operationId": "Clusters_ListBySupercomputer",
        "tags": [
          "Clusters"
        ],
        "description": "List Cluster resources by Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_ListBySupercomputer": {
            "$ref": "./examples/Clusters_ListBySupercomputer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/clusters/{clusterName}": {
      "get": {
        "operationId": "Clusters_Get",
        "tags": [
          "Clusters"
        ],
        "description": "Get a Cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the Cluster",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clusters_Get": {
            "$ref": "./examples/Clusters_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/links": {
      "get": {
        "operationId": "Links_ListBySupercomputer",
        "tags": [
          "Links"
        ],
        "description": "List Link resources by Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LinkListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Links_ListBySupercomputer": {
            "$ref": "./examples/Links_ListBySupercomputer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/links/{linkName}": {
      "get": {
        "operationId": "Links_Get",
        "tags": [
          "Links"
        ],
        "description": "Get a Link",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "linkName",
            "in": "path",
            "description": "The name of the Link",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Link"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Links_Get": {
            "$ref": "./examples/Links_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/ports": {
      "get": {
        "operationId": "Ports_ListBySupercomputer",
        "tags": [
          "Ports"
        ],
        "description": "List Port resources by Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PortListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ports_ListBySupercomputer": {
            "$ref": "./examples/Ports_ListBySupercomputer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/ports/{portName}": {
      "get": {
        "operationId": "Ports_Get",
        "tags": [
          "Ports"
        ],
        "description": "Get a Port",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "portName",
            "in": "path",
            "description": "The name of the Port",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Port"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ports_Get": {
            "$ref": "./examples/Ports_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/racks": {
      "get": {
        "operationId": "Racks_ListBySupercomputer",
        "tags": [
          "Racks"
        ],
        "description": "List Rack resources by Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RackListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Racks_ListBySupercomputer": {
            "$ref": "./examples/Racks_ListBySupercomputer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/racks/{rackName}": {
      "get": {
        "operationId": "Racks_Get",
        "tags": [
          "Racks"
        ],
        "description": "Get a Rack",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "rackName",
            "in": "path",
            "description": "The name of the Rack",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Rack"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Racks_Get": {
            "$ref": "./examples/Racks_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/racks/{rackName}/nics": {
      "get": {
        "operationId": "Nics_ListByRack",
        "tags": [
          "Nics"
        ],
        "description": "List Nic resources by Rack",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "rackName",
            "in": "path",
            "description": "The name of the Rack",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NicListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Nics_ListByRack_MaximumSet": {
            "$ref": "./examples/Nics_ListByRack.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/racks/{rackName}/nics/{nicName}": {
      "get": {
        "operationId": "Nics_Get",
        "tags": [
          "Nics"
        ],
        "description": "Get a Nic",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "rackName",
            "in": "path",
            "description": "The name of the Rack",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "nicName",
            "in": "path",
            "description": "The name of the Nic",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Nic"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Nics_Get": {
            "$ref": "./examples/Nics_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/racks/{rackName}/nodes": {
      "get": {
        "operationId": "Nodes_ListByRack",
        "tags": [
          "Nodes"
        ],
        "description": "List Node resources by Rack",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "rackName",
            "in": "path",
            "description": "The name of the Rack",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NodeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Nodes_ListByRack": {
            "$ref": "./examples/Nodes_ListByRack.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/racks/{rackName}/nodes/{nodeName}": {
      "get": {
        "operationId": "Nodes_Get",
        "tags": [
          "Nodes"
        ],
        "description": "Get a Node",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "rackName",
            "in": "path",
            "description": "The name of the Rack",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "nodeName",
            "in": "path",
            "description": "The name of the Node",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Node"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Nodes_Get": {
            "$ref": "./examples/Nodes_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/switches": {
      "get": {
        "operationId": "Switches_ListBySupercomputer",
        "tags": [
          "Switches"
        ],
        "description": "List Switch resources by Supercomputer",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SwitchListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Switches_ListBySupercomputer": {
            "$ref": "./examples/Switches_ListBySupercomputer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/switches/{switchName}": {
      "get": {
        "operationId": "Switches_Get",
        "tags": [
          "Switches"
        ],
        "description": "Get a Switch",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "switchName",
            "in": "path",
            "description": "The name of the Switch",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Switch"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Switches_Get": {
            "$ref": "./examples/Switches_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SupercomputerInfrastructure/supercomputers/{supercomputerName}/switches/{switchName}/retrieveData": {
      "post": {
        "operationId": "Switches_RetrieveData",
        "tags": [
          "Switches"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "supercomputerName",
            "in": "path",
            "description": "The name of the Supercomputer",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "switchName",
            "in": "path",
            "description": "The name of the Switch",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RetrieveDataRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RetrieveDataResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Switches_RetrieveData": {
            "$ref": "./examples/Switches_RetrieveData.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "Cluster": {
      "type": "object",
      "description": "A logical cluster within a datacenter.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ClusterListResult": {
      "type": "object",
      "description": "The response of a Cluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Cluster items on this page",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ClusterProperties": {
      "type": "object",
      "description": "The properties of a cluster.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/TopologicalProvisioningState",
          "description": "The status of the last operation on this rack.",
          "readOnly": true
        }
      }
    },
    "Link": {
      "type": "object",
      "description": "A network link between two devices within a datacenter.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LinkProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "LinkListResult": {
      "type": "object",
      "description": "The response of a Link list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Link items on this page",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LinkProperties": {
      "type": "object",
      "description": "The properties of a link.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/TopologicalProvisioningState",
          "description": "The status of the last operation on this link",
          "readOnly": true
        },
        "deviceOneId": {
          "type": "string",
          "description": "The ARM resource ID of the first device connected via this network link."
        },
        "portOneId": {
          "type": "string",
          "description": "The ARM resource ID of the port that this network link is connected to the first device."
        },
        "deviceTwoId": {
          "type": "string",
          "description": "The ARM resource ID of the second device connected via this network link."
        },
        "portTwoId": {
          "type": "string",
          "description": "The ARM resource ID of the port that this network link is connected to the second device."
        },
        "planeId": {
          "type": "string",
          "description": "The ID of the plane that this link is associated with."
        },
        "clusterId": {
          "type": "string",
          "description": "The cluster that the link is associated with, if any."
        }
      },
      "required": [
        "deviceOneId",
        "portOneId",
        "deviceTwoId",
        "portTwoId",
        "planeId"
      ]
    },
    "NetworkType": {
      "type": "string",
      "description": "The type of the network the switch resides in.",
      "enum": [
        "Backend"
      ],
      "x-ms-enum": {
        "name": "NetworkType",
        "modelAsString": true,
        "values": [
          {
            "name": "Backend",
            "value": "Backend",
            "description": "The switch is within a backend network."
          }
        ]
      }
    },
    "Nic": {
      "type": "object",
      "description": "A NIC (Network Interface Card) within a rack.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NicProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NicListResult": {
      "type": "object",
      "description": "The response of a Nic list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Nic items on this page",
          "items": {
            "$ref": "#/definitions/Nic"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NicProperties": {
      "type": "object",
      "description": "The properties of a NIC.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/TopologicalProvisioningState",
          "description": "The status of the last operation on this NIC.",
          "readOnly": true
        },
        "parentDeviceId": {
          "type": "string",
          "description": "The ID of the device that the NIC resides within."
        }
      },
      "required": [
        "parentDeviceId"
      ]
    },
    "Node": {
      "type": "object",
      "description": "A node (baremetal compute resource) within a rack.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NodeProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NodeListResult": {
      "type": "object",
      "description": "The response of a Node list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Node items on this page",
          "items": {
            "$ref": "#/definitions/Node"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "NodeProperties": {
      "type": "object",
      "description": "The properties of a node.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/TopologicalProvisioningState",
          "description": "The status of the last operation on this node.",
          "readOnly": true
        }
      }
    },
    "Port": {
      "type": "object",
      "description": "A port that resides on a device in the network.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PortProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PortListResult": {
      "type": "object",
      "description": "The response of a Port list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Port items on this page",
          "items": {
            "$ref": "#/definitions/Port"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PortProperties": {
      "type": "object",
      "description": "The properties of a port.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/TopologicalProvisioningState",
          "description": "The status of the last operation on this port.",
          "readOnly": true
        },
        "device": {
          "type": "string",
          "description": "The device this port resides on."
        },
        "nameOnDevice": {
          "type": "string",
          "description": "The port's name on the device."
        },
        "link": {
          "type": "string",
          "description": "The link that the port is interfaced with."
        },
        "clusterId": {
          "type": "string",
          "description": "The cluster that the port is associated with, if any."
        }
      },
      "required": [
        "device",
        "nameOnDevice"
      ]
    },
    "Rack": {
      "type": "object",
      "description": "A rack within a datacenter.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RackProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RackListResult": {
      "type": "object",
      "description": "The response of a Rack list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Rack items on this page",
          "items": {
            "$ref": "#/definitions/Rack"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RackProperties": {
      "type": "object",
      "description": "The properties of a rack.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/TopologicalProvisioningState",
          "description": "The status of the last operation on this rack.",
          "readOnly": true
        },
        "clusterId": {
          "type": "string",
          "description": "The cluster that the rack is associated with, if any."
        }
      }
    },
    "RetrieveDataOutput": {
      "type": "object",
      "description": "The output of a retrieve data action over a switch.",
      "properties": {
        "path": {
          "type": "string",
          "description": "The gNMI path of the read operation."
        },
        "value": {
          "type": "string",
          "description": "The value of the read operation."
        }
      },
      "required": [
        "path",
        "value"
      ]
    },
    "RetrieveDataRequest": {
      "type": "object",
      "description": "The request body a retrieve data action over a switch.",
      "properties": {
        "paths": {
          "type": "array",
          "description": "The gNMI paths of the read operation.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "paths"
      ]
    },
    "RetrieveDataResponse": {
      "type": "object",
      "description": "The response of a retrieve data action over a switch.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The value of the retrieve data action.",
          "items": {
            "$ref": "#/definitions/RetrieveDataOutput"
          },
          "x-ms-identifiers": [
            "path",
            "value"
          ]
        }
      },
      "required": [
        "value"
      ]
    },
    "Supercomputer": {
      "type": "object",
      "description": "A supercomputer composed of topological entities.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SupercomputerProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SupercomputerListResult": {
      "type": "object",
      "description": "The response of a Supercomputer list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Supercomputer items on this page",
          "items": {
            "$ref": "#/definitions/Supercomputer"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SupercomputerProperties": {
      "type": "object",
      "description": "The properties of a supercomputer.",
      "properties": {
        "siteId": {
          "type": "string",
          "description": "The identifier of the physical site where the supercomputer hardware is located.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/SupercomputerProvisioningState",
          "description": "The status of the last operation on the supercomputer.",
          "readOnly": true
        }
      },
      "required": [
        "siteId"
      ]
    },
    "SupercomputerPropertiesUpdate": {
      "type": "object",
      "description": "The properties of a supercomputer."
    },
    "SupercomputerProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Provisioning",
        "Validating",
        "Updating",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "SupercomputerProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource operation has been accepted."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is currently being provisioned."
          },
          {
            "name": "Validating",
            "value": "Validating",
            "description": "The resource is currently being validated."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is currently being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is currently being deleted."
          }
        ]
      },
      "readOnly": true
    },
    "SupercomputerUpdate": {
      "type": "object",
      "description": "A supercomputer composed of topological entities.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SupercomputerPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Switch": {
      "type": "object",
      "description": "A switch in the network.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SwitchProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SwitchListResult": {
      "type": "object",
      "description": "The response of a Switch list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Switch items on this page",
          "items": {
            "$ref": "#/definitions/Switch"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SwitchProperties": {
      "type": "object",
      "description": "The properties of a switch.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/TopologicalProvisioningState",
          "description": "The status of the last operation on this switch",
          "readOnly": true
        },
        "networkType": {
          "$ref": "#/definitions/NetworkType",
          "description": "The network type of the switch."
        },
        "clusterId": {
          "type": "string",
          "description": "The cluster that the switch is associated with, if any."
        }
      },
      "required": [
        "networkType"
      ]
    },
    "TopologicalProvisioningState": {
      "type": "string",
      "description": "The provisioning state for any topological element in a supercomputer",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "TopologicalProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is currently being updated"
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
