{
  "swagger": "2.0",
  "info": {
    "title": "PaloAltoNetworks.Cloudngfw",
    "version": "2022-07-07-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Firewalls"
    },
    {
      "name": "GlobalRulestack"
    },
    {
      "name": "LocalRulestacks"
    },
    {
      "name": "LocalRules"
    },
    {
      "name": "PreRules"
    },
    {
      "name": "PostRules"
    },
    {
      "name": "PrefixListLocalRulestack"
    },
    {
      "name": "PrefixListGlobalRulestack"
    },
    {
      "name": "FqdnListLocalRulestack"
    },
    {
      "name": "FqdnListGlobalRulestack"
    },
    {
      "name": "CertificateObjectLocalRulestack"
    },
    {
      "name": "CertificateObjectGlobalRulestack"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/PaloAltoNetworks.Cloudngfw/certificates": {
      "get": {
        "tags": [
          "CertificateObjectGlobalRulestack"
        ],
        "operationId": "CertificateObjectGlobalRulestack_List",
        "description": "List CertificateObjectGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CertificateObjectGlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_List_MaximumSet_Gen.json"
          },
          "CertificateObjectGlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/fqdnlists": {
      "get": {
        "tags": [
          "FqdnListGlobalRulestack"
        ],
        "operationId": "FqdnListGlobalRulestack_List",
        "description": "List FqdnListGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "FqdnListGlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_List_MaximumSet_Gen.json"
          },
          "FqdnListGlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks": {
      "get": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_List",
        "description": "List GlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_List_MaximumSet_Gen.json"
          },
          "GlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}": {
      "get": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_Get",
        "description": "Get a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_CreateOrUpdate",
        "description": "Create a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "GlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_Update",
        "description": "Update a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_Update_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Update_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Update_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_Delete",
        "description": "Delete a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/certificates/{name}": {
      "get": {
        "tags": [
          "CertificateObjectGlobalRulestack"
        ],
        "operationId": "CertificateObjectGlobalRulestack_Get",
        "description": "Get a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/CertificateObjectGlobalRulestackResource.name"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CertificateObjectGlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "CertificateObjectGlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "CertificateObjectGlobalRulestack"
        ],
        "operationId": "CertificateObjectGlobalRulestack_CreateOrUpdate",
        "description": "Create a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/CertificateObjectGlobalRulestackResource.name"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CertificateObjectGlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "CertificateObjectGlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "CertificateObjectGlobalRulestack"
        ],
        "operationId": "CertificateObjectGlobalRulestack_Delete",
        "description": "Delete a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/CertificateObjectGlobalRulestackResource.name"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CertificateObjectGlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "CertificateObjectGlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/commit": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_commit",
        "description": "Commit rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "202": {
            "description": "The request has been received but not yet acted upon."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "GlobalRulestack_commit_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_commit_MaximumSet_Gen.json"
          },
          "GlobalRulestack_commit_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_commit_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/fqdnlists/{name}": {
      "get": {
        "tags": [
          "FqdnListGlobalRulestack"
        ],
        "operationId": "FqdnListGlobalRulestack_Get",
        "description": "Get a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/FqdnListGlobalRulestackResource.name"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FqdnListGlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "FqdnListGlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "FqdnListGlobalRulestack"
        ],
        "operationId": "FqdnListGlobalRulestack_CreateOrUpdate",
        "description": "Create a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/FqdnListGlobalRulestackResource.name"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "FqdnListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "FqdnListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "FqdnListGlobalRulestack"
        ],
        "operationId": "FqdnListGlobalRulestack_Delete",
        "description": "Delete a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/FqdnListGlobalRulestackResource.name"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "FqdnListGlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "FqdnListGlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/getChangeLog": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_getChangeLog",
        "description": "Get changelog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Changelog"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_getChangeLog_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getChangeLog_MaximumSet_Gen.json"
          },
          "GlobalRulestack_getChangeLog_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getChangeLog_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listAdvancedSecurityObjects": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listAdvancedSecurityObjects",
        "description": "Get the list of advanced security objects",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "urlCustom",
              "feeds"
            ],
            "x-ms-enum": {
              "name": "AdvSecurityObjectTypeEnum",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/advSecurityObjectListResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listAdvancedSecurityObjects_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listAdvancedSecurityObjects_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listAdvancedSecurityObjects_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listAdvancedSecurityObjects_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listCountries": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listCountries",
        "description": "List of countries for Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listCountries_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listCountries_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listCountries_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listCountries_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listFirewalls": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listFirewalls",
        "description": "List of Firewalls associated with Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ListFirewallsResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listFirewalls_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listFirewalls_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listFirewalls_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listFirewalls_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listPredefinedUrlCategories": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listPredefinedUrlCategories",
        "description": "List predefined URL categories for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PredefinedUrlCategoriesResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listPredefinedUrlCategories_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listPredefinedUrlCategories_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listPredefinedUrlCategories_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listPredefinedUrlCategories_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listSecurityServices": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_listSecurityServices",
        "description": "List the security services for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "antiSpyware",
              "antiVirus",
              "ipsVulnerability",
              "URLFiltering",
              "fileBlocking",
              "dnsSubscription"
            ],
            "x-ms-enum": {
              "name": "SecurityServicesTypeEnum",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/securityServicesResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listSecurityServices_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listSecurityServices_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listSecurityServices_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listSecurityServices_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}": {
      "get": {
        "tags": [
          "PostRules"
        ],
        "operationId": "PostRules_Get",
        "description": "Get a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PostRulesResource.priority"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostRulesResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_Get_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_Get_MaximumSet_Gen.json"
          },
          "PostRules_Get_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "PostRules"
        ],
        "operationId": "PostRules_CreateOrUpdate",
        "description": "Create a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PostRulesResource.priority"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PostRulesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostRulesResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostRulesResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PostRules_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "PostRules_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PostRules"
        ],
        "operationId": "PostRules_Delete",
        "description": "Delete a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PostRulesResource.priority"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PostRules_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_Delete_MaximumSet_Gen.json"
          },
          "PostRules_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/getCounters": {
      "post": {
        "tags": [
          "PostRules"
        ],
        "operationId": "PostRules_getCounters",
        "description": "Get counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PostRulesResource.priority"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleCounter"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_getCounters_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_getCounters_MaximumSet_Gen.json"
          },
          "PostRules_getCounters_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_getCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/refreshCounters": {
      "post": {
        "tags": [
          "PostRules"
        ],
        "operationId": "PostRules_refreshCounters",
        "description": "Refresh counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PostRulesResource.priority"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_refreshCounters_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_refreshCounters_MaximumSet_Gen.json"
          },
          "PostRules_refreshCounters_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_refreshCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/resetCounters": {
      "post": {
        "tags": [
          "PostRules"
        ],
        "operationId": "PostRules_resetCounters",
        "description": "Reset counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PostRulesResource.priority"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleCounterReset"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_resetCounters_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_resetCounters_MaximumSet_Gen.json"
          },
          "PostRules_resetCounters_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_resetCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/prefixlists/{name}": {
      "get": {
        "tags": [
          "PrefixListGlobalRulestack"
        ],
        "operationId": "PrefixListGlobalRulestack_Get",
        "description": "Get a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PrefixListGlobalRulestackResource.name"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrefixListGlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "PrefixListGlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrefixListGlobalRulestack"
        ],
        "operationId": "PrefixListGlobalRulestack_CreateOrUpdate",
        "description": "Create a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PrefixListGlobalRulestackResource.name"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PrefixListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "PrefixListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrefixListGlobalRulestack"
        ],
        "operationId": "PrefixListGlobalRulestack_Delete",
        "description": "Delete a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PrefixListGlobalRulestackResource.name"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PrefixListGlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "PrefixListGlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}": {
      "get": {
        "tags": [
          "PreRules"
        ],
        "operationId": "PreRules_Get",
        "description": "Get a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PreRulesResource.priority"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreRulesResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_Get_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_Get_MaximumSet_Gen.json"
          },
          "PreRules_Get_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "PreRules"
        ],
        "operationId": "PreRules_CreateOrUpdate",
        "description": "Create a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PreRulesResource.priority"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/PreRulesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreRulesResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreRulesResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PreRules_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "PreRules_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PreRules"
        ],
        "operationId": "PreRules_Delete",
        "description": "Delete a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PreRulesResource.priority"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "PreRules_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_Delete_MaximumSet_Gen.json"
          },
          "PreRules_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/getCounters": {
      "post": {
        "tags": [
          "PreRules"
        ],
        "operationId": "PreRules_getCounters",
        "description": "Get counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PreRulesResource.priority"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleCounter"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_getCounters_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_getCounters_MaximumSet_Gen.json"
          },
          "PreRules_getCounters_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_getCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/refreshCounters": {
      "post": {
        "tags": [
          "PreRules"
        ],
        "operationId": "PreRules_refreshCounters",
        "description": "Refresh counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PreRulesResource.priority"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_refreshCounters_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_refreshCounters_MaximumSet_Gen.json"
          },
          "PreRules_refreshCounters_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_refreshCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/resetCounters": {
      "post": {
        "tags": [
          "PreRules"
        ],
        "operationId": "PreRules_resetCounters",
        "description": "Reset counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          },
          {
            "$ref": "#/parameters/PreRulesResource.priority"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RuleCounterReset"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_resetCounters_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_resetCounters_MaximumSet_Gen.json"
          },
          "PreRules_resetCounters_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_resetCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/revert": {
      "post": {
        "tags": [
          "GlobalRulestack"
        ],
        "operationId": "GlobalRulestack_revert",
        "description": "Revert rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/GlobalRulestackResource.globalRulestackName"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_revert_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_revert_MaximumSet_Gen.json"
          },
          "GlobalRulestack_revert_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_revert_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/listCountries": {
      "post": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_listCountries",
        "description": "List of countries for Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_listCountries_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listCountries_MaximumSet_Gen.json"
          },
          "LocalRulestacks_listCountries_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_listCountries_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/postRules": {
      "get": {
        "tags": [
          "PostRules"
        ],
        "operationId": "PostRules_List",
        "description": "List PostRulesResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostRulesResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PostRules_List_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_List_MaximumSet_Gen.json"
          },
          "PostRules_List_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/prefixlists": {
      "get": {
        "tags": [
          "PrefixListGlobalRulestack"
        ],
        "operationId": "PrefixListGlobalRulestack_List",
        "description": "List PrefixListGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PrefixListGlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_List_MaximumSet_Gen.json"
          },
          "PrefixListGlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/preRules": {
      "get": {
        "tags": [
          "PreRules"
        ],
        "operationId": "PreRules_List",
        "description": "List PreRulesResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreRulesResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PreRules_List_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_List_MaximumSet_Gen.json"
          },
          "PreRules_List_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_ListBySubscription",
        "description": "List FirewallResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Firewalls_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MaximumSet_Gen.json"
          },
          "Firewalls_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks": {
      "get": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_ListBySubscription",
        "description": "List LocalRulestackResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LocalRulestacks_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListBySubscription_MaximumSet_Gen.json"
          },
          "LocalRulestacks_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_ListByResourceGroup",
        "description": "List FirewallResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Firewalls_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Firewalls_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}": {
      "get": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Get",
        "description": "Get a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_Get_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MaximumSet_Gen.json"
          },
          "Firewalls_Get_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_CreateOrUpdate",
        "description": "Create a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Firewalls_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Firewalls_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Update",
        "description": "Update a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_Update_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Update_MaximumSet_Gen.json"
          },
          "Firewalls_Update_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_Delete",
        "description": "Delete a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Firewalls_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Delete_MaximumSet_Gen.json"
          },
          "Firewalls_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}/getLogProfile": {
      "post": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_getLogProfile",
        "description": "Log Profile for Firewall",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LogSettings"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_getLogProfile_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_getLogProfile_MaximumSet_Gen.json"
          },
          "Firewalls_getLogProfile_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_getLogProfile_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}/saveLogProfile": {
      "post": {
        "tags": [
          "Firewalls"
        ],
        "operationId": "Firewalls_saveLogProfile",
        "description": "Log Profile for Firewall",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FirewallResource.firewallName"
          },
          {
            "name": "logSettings",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/LogSettings"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_saveLogProfile_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_saveLogProfile_MaximumSet_Gen.json"
          },
          "Firewalls_saveLogProfile_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_saveLogProfile_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks": {
      "get": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_ListByResourceGroup",
        "description": "List LocalRulestackResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "LocalRulestacks_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "LocalRulestacks_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}": {
      "get": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_Get",
        "description": "Get a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_Get_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Get_MaximumSet_Gen.json"
          },
          "LocalRulestacks_Get_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_CreateOrUpdate",
        "description": "Create a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "LocalRulestacks_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "LocalRulestacks_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_Update",
        "description": "Update a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResource"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_Update_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Update_MaximumSet_Gen.json"
          },
          "LocalRulestacks_Update_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "LocalRulestacks"
        ],
        "operationId": "LocalRulestacks_Delete",
        "description": "Delete a LocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "LocalRulestacks_Delete_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Delete_MaximumSet_Gen.json"
          },
          "LocalRulestacks_Delete_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/certificates": {
      "get": {
        "tags": [
          "CertificateObjectLocalRulestack"
        ],
        "operationId": "CertificateObjectLocalRulestack_ListByLocalRulestacks",
        "description": "List CertificateObjectLocalRulestackResource resources by LocalRulestacks",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateObjectLocalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CertificateObjectLocalRulestack_ListByLocalRulestacks_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectLocalRulestack_ListByLocalRulestacks_MaximumSet_Gen.json"
          },
          "CertificateObjectLocalRulestack_ListByLocalRulestacks_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectLocalRulestack_ListByLocalRulestacks_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks/{localRulestackName}/certificates/{name}": {
      "get": {
        "tags": [
          "CertificateObjectLocalRulestack"
        ],
        "operationId": "CertificateObjectLocalRulestack_Get",
        "description": "Get a CertificateObjectLocalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/LocalRulestackResource.localRulestackName"
          },
          {
[...]
