{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [],
  "paths": {},
  "definitions": {
    "AdministratorName": {
      "type": "string",
      "enum": [
        "ActiveDirectory"
      ],
      "x-ms-enum": {
        "name": "AdministratorName",
        "modelAsString": true,
        "values": [
          {
            "name": "ActiveDirectory",
            "value": "ActiveDirectory",
            "description": "ActiveDirectory"
          }
        ]
      }
    },
    "AdministratorType": {
      "type": "string",
      "description": "Type of the sever administrator.",
      "enum": [
        "ActiveDirectory"
      ],
      "x-ms-enum": {
        "name": "AdministratorType",
        "modelAsString": true,
        "values": [
          {
            "name": "ActiveDirectory",
            "value": "ActiveDirectory",
            "description": "ActiveDirectory"
          }
        ]
      }
    },
    "AdvancedThreatProtectionName": {
      "type": "string",
      "enum": [
        "Default"
      ],
      "x-ms-enum": {
        "name": "AdvancedThreatProtectionName",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "AdvancedThreatProtectionState": {
      "type": "string",
      "description": "Specifies the state of the Advanced Threat Protection, whether it is enabled or disabled or a state has not been applied yet on the specific database or server.",
      "enum": [
        "New",
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "AdvancedThreatProtectionState",
        "modelAsString": false,
        "values": [
          {
            "name": "New",
            "value": "New",
            "description": "New"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "AdvisorStatus": {
      "type": "string",
      "description": "Gets the status of availability of this advisor to customers. Possible values are 'GA', 'PublicPreview', 'LimitedPublicPreview' and 'PrivatePreview'.",
      "enum": [
        "GA",
        "PublicPreview",
        "LimitedPublicPreview",
        "PrivatePreview"
      ],
      "x-ms-enum": {
        "name": "AdvisorStatus",
        "modelAsString": false,
        "values": [
          {
            "name": "GA",
            "value": "GA",
            "description": "GA"
          },
          {
            "name": "PublicPreview",
            "value": "PublicPreview",
            "description": "PublicPreview"
          },
          {
            "name": "LimitedPublicPreview",
            "value": "LimitedPublicPreview",
            "description": "LimitedPublicPreview"
          },
          {
            "name": "PrivatePreview",
            "value": "PrivatePreview",
            "description": "PrivatePreview"
          }
        ]
      }
    },
    "AggregationFunctionType": {
      "type": "string",
      "enum": [
        "avg",
        "min",
        "max",
        "stdev",
        "sum"
      ],
      "x-ms-enum": {
        "name": "AggregationFunctionType",
        "modelAsString": true,
        "values": [
          {
            "name": "avg",
            "value": "avg",
            "description": "avg"
          },
          {
            "name": "min",
            "value": "min",
            "description": "min"
          },
          {
            "name": "max",
            "value": "max",
            "description": "max"
          },
          {
            "name": "stdev",
            "value": "stdev",
            "description": "stdev"
          },
          {
            "name": "sum",
            "value": "sum",
            "description": "sum"
          }
        ]
      }
    },
    "AlwaysEncryptedEnclaveType": {
      "type": "string",
      "description": "Type of enclave requested on the database i.e. Default or VBS enclaves.",
      "enum": [
        "Default",
        "VBS"
      ],
      "x-ms-enum": {
        "name": "AlwaysEncryptedEnclaveType",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "VBS",
            "value": "VBS",
            "description": "VBS"
          }
        ]
      }
    },
    "AuthMetadataLookupModes": {
      "type": "string",
      "description": "The managed instance's authentication metadata lookup mode.",
      "enum": [
        "AzureAD",
        "Paired",
        "Windows"
      ],
      "x-ms-enum": {
        "name": "AuthMetadataLookupModes",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureAD",
            "value": "AzureAD",
            "description": "AzureAD"
          },
          {
            "name": "Paired",
            "value": "Paired",
            "description": "Paired"
          },
          {
            "name": "Windows",
            "value": "Windows",
            "description": "Windows"
          }
        ]
      }
    },
    "AuthenticationName": {
      "type": "string",
      "enum": [
        "Default"
      ],
      "x-ms-enum": {
        "name": "AuthenticationName",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "AutoExecuteStatus": {
      "type": "string",
      "description": "Gets the auto-execute status (whether to let the system execute the recommendations) of this advisor. Possible values are 'Enabled' and 'Disabled'",
      "enum": [
        "Enabled",
        "Disabled",
        "Default"
      ],
      "x-ms-enum": {
        "name": "AutoExecuteStatus",
        "modelAsString": false,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "AutoExecuteStatusInheritedFrom": {
      "type": "string",
      "description": "Gets the resource from which current value of auto-execute status is inherited. Auto-execute status can be set on (and inherited from) different levels in the resource hierarchy. Possible values are 'Subscription', 'Server', 'ElasticPool', 'Database' and 'Default' (when status is not explicitly set on any level).",
      "enum": [
        "Default",
        "Subscription",
        "Server",
        "ElasticPool",
        "Database"
      ],
      "x-ms-enum": {
        "name": "AutoExecuteStatusInheritedFrom",
        "modelAsString": false,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "Subscription",
            "value": "Subscription",
            "description": "Subscription"
          },
          {
            "name": "Server",
            "value": "Server",
            "description": "Server"
          },
          {
            "name": "ElasticPool",
            "value": "ElasticPool",
            "description": "ElasticPool"
          },
          {
            "name": "Database",
            "value": "Database",
            "description": "Database"
          }
        ]
      }
    },
    "AutomaticTuningDisabledReason": {
      "type": "string",
      "description": "Reason description if desired and actual state are different.",
      "enum": [
        "Default",
        "Disabled",
        "AutoConfigured",
        "InheritedFromServer",
        "QueryStoreOff",
        "QueryStoreReadOnly",
        "NotSupported"
      ],
      "x-ms-enum": {
        "name": "AutomaticTuningDisabledReason",
        "modelAsString": false,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "AutoConfigured",
            "value": "AutoConfigured",
            "description": "AutoConfigured"
          },
          {
            "name": "InheritedFromServer",
            "value": "InheritedFromServer",
            "description": "InheritedFromServer"
          },
          {
            "name": "QueryStoreOff",
            "value": "QueryStoreOff",
            "description": "QueryStoreOff"
          },
          {
            "name": "QueryStoreReadOnly",
            "value": "QueryStoreReadOnly",
            "description": "QueryStoreReadOnly"
          },
          {
            "name": "NotSupported",
            "value": "NotSupported",
            "description": "NotSupported"
          }
        ]
      }
    },
    "AutomaticTuningMode": {
      "type": "string",
      "description": "Automatic tuning desired state.",
      "enum": [
        "Inherit",
        "Custom",
        "Auto",
        "Unspecified"
      ],
      "x-ms-enum": {
        "name": "AutomaticTuningMode",
        "modelAsString": false,
        "values": [
          {
            "name": "Inherit",
            "value": "Inherit",
            "description": "Inherit"
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Custom"
          },
          {
            "name": "Auto",
            "value": "Auto",
            "description": "Auto"
          },
          {
            "name": "Unspecified",
            "value": "Unspecified",
            "description": "Unspecified"
          }
        ]
      }
    },
    "AutomaticTuningOptionModeActual": {
      "type": "string",
      "description": "Automatic tuning option actual state.",
      "enum": [
        "Off",
        "On"
      ],
      "x-ms-enum": {
        "name": "AutomaticTuningOptionModeActual",
        "modelAsString": false,
        "values": [
          {
            "name": "Off",
            "value": "Off",
            "description": "Off"
          },
          {
            "name": "On",
            "value": "On",
            "description": "On"
          }
        ]
      }
    },
    "AutomaticTuningOptionModeDesired": {
      "type": "string",
      "description": "Automatic tuning option desired state.",
      "enum": [
        "Off",
        "On",
        "Default"
      ],
      "x-ms-enum": {
        "name": "AutomaticTuningOptionModeDesired",
        "modelAsString": false,
        "values": [
          {
            "name": "Off",
            "value": "Off",
            "description": "Off"
          },
          {
            "name": "On",
            "value": "On",
            "description": "On"
          },
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "AutomaticTuningServerMode": {
      "type": "string",
      "description": "Automatic tuning desired state.",
      "enum": [
        "Custom",
        "Auto",
        "Unspecified"
      ],
      "x-ms-enum": {
        "name": "AutomaticTuningServerMode",
        "modelAsString": false,
        "values": [
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Custom"
          },
          {
            "name": "Auto",
            "value": "Auto",
            "description": "Auto"
          },
          {
            "name": "Unspecified",
            "value": "Unspecified",
            "description": "Unspecified"
          }
        ]
      }
    },
    "AutomaticTuningServerReason": {
      "type": "string",
      "description": "Reason description if desired and actual state are different.",
      "enum": [
        "Default",
        "Disabled",
        "AutoConfigured"
      ],
      "x-ms-enum": {
        "name": "AutomaticTuningServerReason",
        "modelAsString": false,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "AutoConfigured",
            "value": "AutoConfigured",
            "description": "AutoConfigured"
          }
        ]
      }
    },
    "AvailabilityZoneType": {
      "type": "string",
      "description": "Specifies the availability zone the database is pinned to.",
      "enum": [
        "NoPreference",
        "1",
        "2",
        "3"
      ],
      "x-ms-enum": {
        "name": "AvailabilityZoneType",
        "modelAsString": true,
        "values": [
          {
            "name": "NoPreference",
            "value": "NoPreference",
            "description": "NoPreference"
          },
          {
            "name": "1",
            "value": "1",
            "description": "1"
          },
          {
            "name": "2",
            "value": "2",
            "description": "2"
          },
          {
            "name": "3",
            "value": "3",
            "description": "3"
          }
        ]
      }
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "BackupStorageAccessTier": {
      "type": "string",
      "description": "The BackupStorageAccessTier for the LTR backup",
      "enum": [
        "Hot",
        "Archive"
      ],
      "x-ms-enum": {
        "name": "BackupStorageAccessTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Hot",
            "value": "Hot",
            "description": "Hot"
          },
          {
            "name": "Archive",
            "value": "Archive",
            "description": "Archive"
          }
        ]
      }
    },
    "BackupStorageRedundancy": {
      "type": "string",
      "description": "The storage account type used to store backups for this database.",
      "enum": [
        "Geo",
        "Local",
        "Zone",
        "GeoZone"
      ],
      "x-ms-enum": {
        "name": "BackupStorageRedundancy",
        "modelAsString": true,
        "values": [
          {
            "name": "Geo",
            "value": "Geo",
            "description": "Geo"
          },
          {
            "name": "Local",
            "value": "Local",
            "description": "Local"
          },
          {
            "name": "Zone",
            "value": "Zone",
            "description": "Zone"
          },
          {
            "name": "GeoZone",
            "value": "GeoZone",
            "description": "GeoZone"
          }
        ]
      }
    },
    "BaselineName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "BaselineName",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "default"
          }
        ]
      }
    },
    "BlobAuditingPolicyName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "BlobAuditingPolicyName",
        "modelAsString": false,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "default"
          }
        ]
      }
    },
    "BlobAuditingPolicyState": {
      "type": "string",
      "description": "Specifies the state of the audit. If state is Enabled, storageEndpoint or isAzureMonitorTargetEnabled are required.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "BlobAuditingPolicyState",
        "modelAsString": false,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "CapabilityGroup": {
      "type": "string",
      "enum": [
        "supportedEditions",
        "supportedElasticPoolEditions",
        "supportedManagedInstanceVersions",
        "supportedInstancePoolEditions",
        "supportedManagedInstanceEditions",
        "supportedJobAgentVersions"
      ],
      "x-ms-enum": {
        "name": "CapabilityGroup",
        "modelAsString": true,
        "values": [
          {
            "name": "supportedEditions",
            "value": "supportedEditions",
            "description": "supportedEditions"
          },
          {
            "name": "supportedElasticPoolEditions",
            "value": "supportedElasticPoolEditions",
            "description": "supportedElasticPoolEditions"
          },
          {
            "name": "supportedManagedInstanceVersions",
            "value": "supportedManagedInstanceVersions",
            "description": "supportedManagedInstanceVersions"
          },
          {
            "name": "supportedInstancePoolEditions",
            "value": "supportedInstancePoolEditions",
            "description": "supportedInstancePoolEditions"
          },
          {
            "name": "supportedManagedInstanceEditions",
            "value": "supportedManagedInstanceEditions",
            "description": "supportedManagedInstanceEditions"
          },
          {
            "name": "supportedJobAgentVersions",
            "value": "supportedJobAgentVersions",
            "description": "supportedJobAgentVersions"
          }
        ]
      }
    },
    "CapabilityStatus": {
      "type": "string",
      "description": "The status of the capability.",
      "enum": [
        "Visible",
        "Available",
        "Default",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "CapabilityStatus",
        "modelAsString": false,
        "values": [
          {
            "name": "Visible",
            "value": "Visible",
            "description": "Visible"
          },
          {
            "name": "Available",
            "value": "Available",
            "description": "Available"
          },
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "CatalogCollationType": {
      "type": "string",
      "description": "Collation of the metadata catalog.",
      "enum": [
        "DATABASE_DEFAULT",
        "SQL_Latin1_General_CP1_CI_AS"
      ],
      "x-ms-enum": {
        "name": "CatalogCollationType",
        "modelAsString": true,
        "values": [
          {
            "name": "DATABASE_DEFAULT",
            "value": "DATABASE_DEFAULT",
            "description": "DATABASE_DEFAULT"
          },
          {
            "name": "SQL_Latin1_General_CP1_CI_AS",
            "value": "SQL_Latin1_General_CP1_CI_AS",
            "description": "SQL_Latin1_General_CP1_CI_AS"
          }
        ]
      }
    },
    "CheckNameAvailabilityReason": {
      "type": "string",
      "description": "The reason code explaining why the name is unavailable. Will be undefined if the name is available.",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "CheckNameAvailabilityReason",
        "modelAsString": false,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Invalid"
          },
          {
            "name": "AlreadyExists",
            "value": "AlreadyExists",
            "description": "AlreadyExists"
          }
        ]
      }
    },
    "CheckNameAvailabilityResourceType": {
      "type": "string",
      "enum": [
        "Microsoft.Sql/servers"
      ],
      "x-ms-enum": {
        "name": "CheckNameAvailabilityResourceType",
        "modelAsString": false,
        "values": [
          {
            "name": "Microsoft.Sql/servers",
            "value": "Microsoft.Sql/servers",
            "description": "Microsoft.Sql/servers"
          }
        ]
      }
    },
    "ClientClassificationSource": {
      "type": "string",
      "enum": [
        "None",
        "Native",
        "Recommended",
        "MIP"
      ],
      "x-ms-enum": {
        "name": "ClientClassificationSource",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Native",
            "value": "Native",
            "description": "Native"
          },
          {
            "name": "Recommended",
            "value": "Recommended",
            "description": "Recommended"
          },
          {
            "name": "MIP",
            "value": "MIP",
            "description": "MIP"
          }
        ]
      }
    },
    "ColumnDataType": {
      "type": "string",
      "description": "The column data type.",
      "enum": [
        "image",
        "text",
        "uniqueidentifier",
        "date",
        "time",
        "datetime2",
        "datetimeoffset",
        "tinyint",
        "smallint",
        "int",
        "smalldatetime",
        "real",
        "money",
        "datetime",
        "float",
        "sql_variant",
        "ntext",
        "bit",
        "decimal",
        "numeric",
        "smallmoney",
        "bigint",
        "hierarchyid",
        "geometry",
        "geography",
        "varbinary",
        "varchar",
        "binary",
        "char",
        "timestamp",
        "nvarchar",
        "nchar",
        "xml",
        "sysname"
      ],
      "x-ms-enum": {
        "name": "ColumnDataType",
        "modelAsString": true,
        "values": [
          {
            "name": "image",
            "value": "image",
            "description": "image"
          },
          {
            "name": "text",
            "value": "text",
            "description": "text"
          },
          {
            "name": "uniqueidentifier",
            "value": "uniqueidentifier",
            "description": "uniqueidentifier"
          },
          {
            "name": "date",
            "value": "date",
            "description": "date"
          },
          {
            "name": "time",
            "value": "time",
            "description": "time"
          },
          {
            "name": "datetime2",
            "value": "datetime2",
            "description": "datetime2"
          },
          {
            "name": "datetimeoffset",
            "value": "datetimeoffset",
            "description": "datetimeoffset"
          },
          {
            "name": "tinyint",
            "value": "tinyint",
            "description": "tinyint"
          },
          {
            "name": "smallint",
            "value": "smallint",
            "description": "smallint"
          },
          {
            "name": "int",
            "value": "int",
            "description": "int"
          },
          {
            "name": "smalldatetime",
            "value": "smalldatetime",
            "description": "smalldatetime"
          },
          {
            "name": "real",
            "value": "real",
            "description": "real"
          },
          {
            "name": "money",
            "value": "money",
            "description": "money"
          },
          {
            "name": "datetime",
            "value": "datetime",
            "description": "datetime"
          },
          {
            "name": "float",
            "value": "float",
            "description": "float"
          },
          {
            "name": "sql_variant",
            "value": "sql_variant",
            "description": "sql_variant"
          },
          {
            "name": "ntext",
            "value": "ntext",
            "description": "ntext"
          },
          {
            "name": "bit",
            "value": "bit",
            "description": "bit"
          },
          {
            "name": "decimal",
            "value": "decimal",
            "description": "decimal"
          },
          {
            "name": "numeric",
            "value": "numeric",
            "description": "numeric"
          },
          {
            "name": "smallmoney",
            "value": "smallmoney",
            "description": "smallmoney"
          },
          {
            "name": "bigint",
            "value": "bigint",
            "description": "bigint"
          },
          {
            "name": "hierarchyid",
            "value": "hierarchyid",
            "description": "hierarchyid"
          },
          {
            "name": "geometry",
            "value": "geometry",
            "description": "geometry"
          },
          {
            "name": "geography",
            "value": "geography",
            "description": "geography"
          },
          {
            "name": "varbinary",
            "value": "varbinary",
            "description": "varbinary"
          },
          {
            "name": "varchar",
            "value": "varchar",
            "description": "varchar"
          },
          {
            "name": "binary",
            "value": "binary",
            "description": "binary"
          },
          {
            "name": "char",
            "value": "char",
            "description": "char"
          },
          {
            "name": "timestamp",
            "value": "timestamp",
            "description": "timestamp"
          },
          {
            "name": "nvarchar",
            "value": "nvarchar",
            "description": "nvarchar"
          },
          {
            "name": "nchar",
            "value": "nchar",
            "description": "nchar"
          },
          {
            "name": "xml",
            "value": "xml",
            "description": "xml"
          },
          {
            "name": "sysname",
            "value": "sysname",
            "description": "sysname"
          }
        ]
      }
    },
    "ConnectionPolicyName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "ConnectionPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "default"
          }
        ]
      }
    },
    "CreateMode": {
      "type": "string",
      "description": "Specifies the mode of database creation.\n\nDefault: regular database creation.\n\nCopy: creates a database as a copy of an existing database. sourceDatabaseId must be specified as the resource ID of the source database.\n\nSecondary: creates a database as a secondary replica of an existing database. sourceDatabaseId must be specified as the resource ID of the existing primary database.\n\nPointInTimeRestore: Creates a database by restoring a point in time backup of an existing database. sourceDatabaseId must be specified as the resource ID of the existing database, and restorePointInTime must be specified.\n\nRecovery: Creates a database by restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable database resource ID to restore.\n\nRestore: Creates a database by restoring a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId is the database's original resource ID, then sourceDatabaseDeletionDate must be specified. Otherwise sourceDatabaseId must be the restorable dropped database resource ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified to restore from an earlier point in time.\n\nRestoreLongTermRetentionBackup: Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId must be specified as the recovery point resource ID.\n\nCopy, Secondary, and RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.",
      "enum": [
        "Default",
        "Copy",
        "Secondary",
        "PointInTimeRestore",
        "Restore",
        "Recovery",
        "RestoreExternalBackup",
        "RestoreExternalBackupSecondary",
        "RestoreLongTermRetentionBackup",
        "OnlineSecondary"
      ],
      "x-ms-enum": {
        "name": "CreateMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "Copy",
            "value": "Copy",
            "description": "Copy"
          },
          {
            "name": "Secondary",
            "value": "Secondary",
            "description": "Secondary"
          },
          {
            "name": "PointInTimeRestore",
            "value": "PointInTimeRestore",
            "description": "PointInTimeRestore"
          },
          {
            "name": "Restore",
            "value": "Restore",
            "description": "Restore"
          },
          {
            "name": "Recovery",
            "value": "Recovery",
            "description": "Recovery"
          },
          {
            "name": "RestoreExternalBackup",
            "value": "RestoreExternalBackup",
            "description": "RestoreExternalBackup"
          },
          {
            "name": "RestoreExternalBackupSecondary",
            "value": "RestoreExternalBackupSecondary",
            "description": "RestoreExternalBackupSecondary"
          },
          {
            "name": "RestoreLongTermRetentionBackup",
            "value": "RestoreLongTermRetentionBackup",
            "description": "RestoreLongTermRetentionBackup"
          },
          {
            "name": "OnlineSecondary",
            "value": "OnlineSecondary",
            "description": "OnlineSecondary"
          }
        ]
      }
    },
    "CreatedByType": {
      "type": "string",
      "description": "The type of identity that created the resource.",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User",
            "description": "User"
          },
          {
            "name": "Application",
            "value": "Application",
            "description": "Application"
          },
          {
            "name": "ManagedIdentity",
            "value": "ManagedIdentity",
            "description": "ManagedIdentity"
          },
          {
            "name": "Key",
            "value": "Key",
            "description": "Key"
          }
        ]
      }
    },
    "CurrentSensitivityLabelSource": {
      "type": "string",
      "enum": [
        "current"
      ],
      "x-ms-enum": {
        "name": "CurrentSensitivityLabelSource",
        "modelAsString": false,
        "values": [
          {
            "name": "current",
            "value": "current",
            "description": "current"
          }
        ]
      }
    },
    "DNSRefreshOperationStatus": {
      "type": "string",
      "description": "The status of the DNS refresh operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "DNSRefreshOperationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress"
          }
        ]
      }
    },
    "DataMaskingFunction": {
      "type": "string",
      "description": "The masking function that is used for the data masking rule.",
      "enum": [
        "Default",
        "CCN",
        "Email",
        "Number",
        "SSN",
        "Text"
      ],
      "x-ms-enum": {
        "name": "DataMaskingFunction",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "CCN",
            "value": "CCN",
            "description": "CCN"
          },
          {
            "name": "Email",
            "value": "Email",
            "description": "Email"
          },
          {
            "name": "Number",
            "value": "Number",
            "description": "Number"
          },
          {
            "name": "SSN",
            "value": "SSN",
            "description": "SSN"
          },
          {
            "name": "Text",
            "value": "Text",
            "description": "Text"
          }
        ]
      }
    },
    "DataMaskingPolicyName": {
      "type": "string",
      "enum": [
        "Default"
      ],
      "x-ms-enum": {
        "name": "DataMaskingPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "DataMaskingRuleState": {
      "type": "string",
      "description": "The rule state. Used to delete a rule. To delete an existing rule, specify the schemaName, tableName, columnName, maskingFunction, and specify ruleState as disabled. However, if the rule doesn't already exist, the rule will be created with ruleState set to enabled, regardless of the provided value of ruleState.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DataMaskingRuleState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "DataMaskingState": {
      "type": "string",
      "description": "The state of the data masking policy.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DataMaskingState",
        "modelAsString": false,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "DataSyncParticipantIdentityType": {
      "type": "string",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssignedUserAssigned"
      ],
      "x-ms-enum": {
        "name": "DataSyncParticipantIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "UserAssigned"
          },
          {
            "name": "SystemAssignedUserAssigned",
            "value": "SystemAssignedUserAssigned",
            "description": "SystemAssignedUserAssigned"
          }
        ]
      }
    },
    "DataWarehouseUserActivityName": {
      "type": "string",
      "enum": [
        "current"
      ],
      "x-ms-enum": {
        "name": "DataWarehouseUserActivityName",
        "modelAsString": true,
        "values": [
          {
            "name": "current",
            "value": "current",
            "description": "current"
          }
        ]
      }
    },
    "DatabaseIdentityType": {
      "type": "string",
      "description": "The identity type",
      "enum": [
        "None",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "DatabaseIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "UserAssigned"
          }
        ]
      }
    },
    "DatabaseKeyType": {
      "type": "string",
      "description": "The database key type. Only supported value is 'AzureKeyVault'.",
      "enum": [
        "AzureKeyVault"
      ],
      "x-ms-enum": {
        "name": "DatabaseKeyType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureKeyVault",
            "value": "AzureKeyVault",
            "description": "AzureKeyVault"
          }
        ]
      }
    },
    "DatabaseLicenseType": {
      "type": "string",
      "description": "The license type to apply for this database. `LicenseIncluded` if you need a license, or `BasePrice` if you have a license and are eligible for the Azure Hybrid Benefit.",
      "enum": [
        "LicenseIncluded",
        "BasePrice"
      ],
      "x-ms-enum": {
        "name": "DatabaseLicenseType",
        "modelAsString": true,
        "values": [
          {
            "name": "LicenseIncluded",
            "value": "LicenseIncluded",
            "description": "LicenseIncluded"
          },
          {
            "name": "BasePrice",
            "value": "BasePrice",
            "description": "BasePrice"
          }
        ]
      }
    },
    "DatabaseReadScale": {
      "type": "string",
      "description": "The state of read-only routing. If enabled, connections that have application intent set to readonly in their connection string may be routed to a readonly secondary replica in the same region. Not applicable to a Hyperscale database within an elastic pool.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "DatabaseReadScale",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "DatabaseSecurityAlertPolicyName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "DatabaseSecurityAlertPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "default"
          }
        ]
      }
    },
    "DatabaseState": {
      "type": "string",
      "enum": [
        "All",
        "Live",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "DatabaseState",
        "modelAsString": true,
        "values": [
          {
            "name": "All",
            "value": "All",
            "description": "All"
          },
          {
            "name": "Live",
            "value": "Live",
            "description": "Live"
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "Deleted"
          }
        ]
      }
    },
    "DatabaseStatus": {
      "type": "string",
      "description": "The status of the database.",
      "enum": [
        "Online",
        "Restoring",
        "RecoveryPending",
        "Recovering",
        "Suspect",
        "Offline",
        "Standby",
        "Shutdown",
        "EmergencyMode",
        "AutoClosed",
        "Copying",
        "Creating",
        "Inaccessible",
        "OfflineSecondary",
        "Pausing",
        "Paused",
        "Resuming",
        "Scaling",
        "OfflineChangingDwPerformanceTiers",
        "OnlineChangingDwPerformanceTiers",
        "Disabled",
        "Stopping",
        "Stopped",
        "Starting"
      ],
      "x-ms-enum": {
        "name": "DatabaseStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Online",
            "value": "Online",
            "description": "Online"
          },
          {
            "name": "Restoring",
            "value": "Restoring",
            "description": "Restoring"
          },
          {
            "name": "RecoveryPending",
            "value": "RecoveryPending",
            "description": "RecoveryPending"
          },
          {
            "name": "Recovering",
            "value": "Recovering",
            "description": "Recovering"
          },
          {
            "name": "Suspect",
            "value": "Suspect",
            "description": "Suspect"
          },
          {
            "name": "Offline",
            "value": "Offline",
            "description": "Offline"
          },
          {
            "name": "Standby",
            "value": "Standby",
            "description": "Standby"
          },
          {
            "name": "Shutdown",
            "value": "Shutdown",
            "description": "Shutdown"
          },
          {
            "name": "EmergencyMode",
            "value": "EmergencyMode",
            "description": "EmergencyMode"
          },
          {
            "name": "AutoClosed",
            "value": "AutoClosed",
            "description": "AutoClosed"
          },
          {
            "name": "Copying",
            "value": "Copying",
            "description": "Copying"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating"
          },
          {
            "name": "Inaccessible",
            "value": "Inaccessible",
            "description": "Inaccessible"
          },
          {
            "name": "OfflineSecondary",
            "value": "OfflineSecondary",
            "description": "OfflineSecondary"
          },
          {
            "name": "Pausing",
            "value": "Pausing",
            "description": "Pausing"
          },
          {
            "name": "Paused",
            "value": "Paused",
            "description": "Paused"
          },
          {
            "name": "Resuming",
            "value": "Resuming",
            "description": "Resuming"
          },
          {
            "name": "Scaling",
            "value": "Scaling",
            "description": "Scaling"
          },
          {
            "name": "OfflineChangingDwPerformanceTiers",
            "value": "OfflineChangingDwPerformanceTiers",
            "description": "OfflineChangingDwPerformanceTiers"
          },
          {
            "name": "OnlineChangingDwPerformanceTiers",
            "value": "OnlineChangingDwPerformanceTiers",
            "description": "OnlineChangingDwPerformanceTiers"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          },
          {
            "name": "Stopping",
            "value": "Stopping",
            "description": "Stopping"
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Stopped"
          },
          {
            "name": "Starting",
            "value": "Starting",
            "description": "Starting"
          }
        ]
      }
    },
    "DayOfWeek": {
      "type": "string",
      "description": "Day of maintenance window.",
      "enum": [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday"
      ],
      "x-ms-enum": {
        "name": "DayOfWeek",
        "modelAsString": true,
        "values": [
          {
            "name": "Sunday",
            "value": "Sunday",
            "description": "Sunday"
          },
          {
            "name": "Monday",
            "value": "Monday",
            "description": "Monday"
          },
          {
            "name": "Tuesday",
            "value": "Tuesday",
            "description": "Tuesday"
          },
          {
            "name": "Wednesday",
            "value": "Wednesday",
            "description": "Wednesday"
          },
          {
            "name": "Thursday",
            "value": "Thursday",
            "description": "Thursday"
          },
          {
            "name": "Friday",
            "value": "Friday",
            "description": "Friday"
          },
          {
            "name": "Saturday",
            "value": "Saturday",
            "description": "Saturday"
          }
        ]
      }
    },
    "DevOpsAuditingSettingsName": {
      "type": "string",
      "enum": [
        "Default"
      ],
      "x-ms-enum": {
        "name": "DevOpsAuditingSettingsName",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "DiffBackupIntervalInHours": {
      "type": "number",
      "description": "The differential backup interval in hours. This is how many interval hours between each differential backup will be supported. This is only applicable to live databases but not dropped databases.",
      "enum": [
        12,
        24
      ],
      "x-ms-enum": {
        "name": "DiffBackupIntervalInHours",
        "modelAsString": true,
        "values": [
          {
            "name": "12",
            "value": 12,
            "description": "12"
          },
          {
            "name": "24",
            "value": 24,
            "description": "24"
          }
        ]
      }
    },
    "DtcName": {
      "type": "string",
      "enum": [
        "current"
      ],
      "x-ms-enum": {
        "name": "DtcName",
        "modelAsString": true,
        "values": [
          {
            "name": "current",
            "value": "current",
            "description": "current"
          }
        ]
      }
    },
    "ElasticPoolLicenseType": {
      "type": "string",
      "description": "The license type to apply for this elastic pool.",
      "enum": [
        "LicenseIncluded",
        "BasePrice"
      ],
      "x-ms-enum": {
        "name": "ElasticPoolLicenseType",
        "modelAsString": true,
        "values": [
          {
            "name": "LicenseIncluded",
            "value": "LicenseIncluded",
            "description": "LicenseIncluded"
          },
          {
            "name": "BasePrice",
            "value": "BasePrice",
            "description": "BasePrice"
          }
        ]
      }
    },
    "ElasticPoolState": {
      "type": "string",
      "description": "The state of the elastic pool.",
      "enum": [
        "Creating",
        "Ready",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ElasticPoolState",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating"
          },
          {
            "name": "Ready",
            "value": "Ready",
            "description": "Ready"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "EncryptionProtectorName": {
      "type": "string",
      "enum": [
        "current"
      ],
      "x-ms-enum": {
        "name": "EncryptionProtectorName",
        "modelAsString": true,
        "values": [
          {
            "name": "current",
            "value": "current",
            "description": "current"
          }
        ]
      }
    },
    "ErrorType": {
      "type": "string",
      "description": "Error type (e.g. None, User).",
      "enum": [
        "None",
        "User"
      ],
      "x-ms-enum": {
        "name": "ErrorType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "User",
            "value": "User",
            "description": "User"
          }
        ]
      }
    },
    "ExternalGovernanceStatus": {
      "type": "string",
      "description": "Status of external governance.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ExternalGovernanceStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "FailoverGroupDatabasesSecondaryType": {
      "type": "string",
      "description": "Databases secondary type on partner server.",
      "enum": [
        "Geo",
        "Standby"
      ],
      "x-ms-enum": {
        "name": "FailoverGroupDatabasesSecondaryType",
        "modelAsString": true,
        "values": [
          {
            "name": "Geo",
            "value": "Geo",
            "description": "Geo"
          },
          {
            "name": "Standby",
            "value": "Standby",
            "description": "Standby"
          }
        ]
      }
    },
    "FailoverGroupReplicationRole": {
      "type": "string",
      "description": "Local replication role of the failover group instance.",
      "enum": [
        "Primary",
        "Secondary"
      ],
      "x-ms-enum": {
        "name": "FailoverGroupReplicationRole",
        "modelAsString": true,
        "values": [
          {
            "name": "Primary",
            "value": "Primary",
            "description": "Primary"
          },
          {
            "name": "Secondary",
            "value": "Secondary",
            "description": "Secondary"
          }
        ]
      }
    },
    "FailoverModeType": {
      "type": "string",
      "description": "The link failover mode - can be Manual if intended to be used for two-way failover with a supported SQL Server, or None for one-way failover to Azure.",
      "enum": [
        "None",
        "Manual"
      ],
      "x-ms-enum": {
        "name": "FailoverModeType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "Manual",
            "value": "Manual",
            "description": "Manual"
          }
        ]
      }
    },
    "FailoverType": {
      "type": "string",
      "description": "The failover type, can be ForcedAllowDataLoss or Planned.",
      "enum": [
        "ForcedAllowDataLoss",
        "Planned"
      ],
      "x-ms-enum": {
        "name": "FailoverType",
        "modelAsString": true,
        "values": [
          {
            "name": "ForcedAllowDataLoss",
            "value": "ForcedAllowDataLoss",
            "description": "ForcedAllowDataLoss"
          },
          {
            "name": "Planned",
            "value": "Planned",
            "description": "Planned"
          }
        ]
      }
    },
    "Features": {
      "type": "string",
      "enum": [
        "BackupShortTermRetentionPolicies",
        "BlobAuditing",
        "DatabaseAdvancedThreatProtectionSettings",
        "DatabaseAdvisors",
        "DatabaseAutomaticTuning",
        "DatabaseColumns",
        "DatabaseEncryptionProtectorRevalidate",
        "DatabaseEncryptionProtectorRevert",
        "DatabaseExtensions",
        "DatabaseOperations",
        "DatabaseRecommendedActions",
        "Databases",
        "DatabaseSchemas",
        "DatabaseSecurityAlertPolicies",
        "DatabaseSqlVulnerabilityAssessmentBaselines",
        "DatabaseSqlVulnerabilityAssessmentExecuteScan",
        "DatabaseSqlVulnerabilityAssessmentRuleBaselines",
        "DatabaseSqlVulnerabilityAssessmentScanResult",
        "DatabaseSqlVulnerabilityAssessmentScans",
        "DatabaseSqlVulnerabilityAssessmentsSettings",
        "DatabaseTables",
        "DatabaseUsages",
        "DatabaseVulnerabilityAssessmentRuleBaselines",
        "DatabaseVulnerabilityAssessments",
        "DatabaseVulnerabilityAssessmentScans",
        "DataMaskingPolicies",
        "DataMaskingRules",
        "DataWarehouseUserActivities",
        "DeletedServers",
        "DistributedAvailabilityGroups",
        "ElasticPoolOperations",
        "ElasticPools",
        "EncryptionProtectors",
        "EndpointCertificates",
        "FailoverGroups",
        "FirewallRules",
        "GeoBackupPolicies",
        "InstanceFailoverGroups",
        "InstancePoolOperations",
        "InstancePools",
        "IPv6FirewallRules",
        "JobAgents",
        "JobCredentials",
        "JobExecutions",
        "JobPrivateEndpoints",
        "Jobs",
        "JobStepExecutions",
        "JobSteps",
        "JobTargetExecutions",
        "JobTargetGroups",
        "JobVersions",
        "LedgerDigestUploads",
        "LocationCapabilities",
        "LongTermRetentionBackups",
        "LongTermRetentionManagedInstanceBackups",
        "LongTermRetentionPolicies",
        "MaintenanceWindowOptions",
        "MaintenanceWindows",
        "ManagedBackupShortTermRetentionPolicies",
        "ManagedDatabaseAdvancedThreatProtectionSettings",
        "ManagedDatabaseColumns",
        "ManagedDatabaseMoveOperations",
        "ManagedDatabaseQueries",
        "ManagedDatabaseRestoreDetails",
        "ManagedDatabases",
        "ManagedDatabaseSchemas",
        "ManagedDatabaseSecurityAlertPolicies",
        "ManagedDatabaseSecurityEvents",
        "ManagedDatabaseSensitivityLabels",
        "ManagedDatabaseTables",
        "ManagedDatabaseTransparentDataEncryption",
        "ManagedDatabaseVulnerabilityAssessmentRuleBaselines",
        "ManagedDatabaseVulnerabilityAssessments",
        "ManagedDatabaseVulnerabilityAssessmentScans",
        "ManagedInstanceAdministrators",
        "ManagedInstanceAdvancedThreatProtectionSettings",
        "ManagedInstanceAzureADOnlyAuthentications",
        "ManagedInstanceDtcs",
        "ManagedInstanceEncryptionProtectors",
        "ManagedInstanceKeys",
        "ManagedInstanceLongTermRetentionPolicies",
        "ManagedInstanceOperations",
        "ManagedInstancePrivateEndpointConnections",
        "ManagedInstancePrivateLinkResources",
        "ManagedInstances",
        "ManagedInstanceTdeCertificates",
        "ManagedInstanceVulnerabilityAssessments",
        "ManagedLedgerDigestUploads",
        "ManagedRestorableDroppedDatabaseBackupShortTermRetentionPolicies",
        "ManagedServerDnsAliases",
        "ManagedServerSecurityAlertPolicies",
        "NetworkSecurityPerimeterConfigurations",
        "Operations",
        "OutboundFirewallRules",
        "PrivateEndpointConnections",
        "PrivateLinkResources",
        "RecoverableDatabases",
        "RecoverableManagedDatabases",
        "ReplicationLinks",
        "RestorableDroppedDatabases",
        "RestorableDroppedManagedDatabases",
        "RestorePoints",
        "SensitivityLabels",
        "ServerAdvancedThreatProtectionSettings",
        "ServerAdvisors",
        "ServerAutomaticTuning",
        "ServerAzureADAdministrators",
        "ServerAzureADOnlyAuthentications",
        "ServerConfigurationOptions",
        "ServerConnectionPolicies",
        "ServerDevOpsAudit",
        "ServerDnsAliases",
        "ServerKeys",
        "ServerOperations",
        "Servers",
        "ServerSecurityAlertPolicies",
        "ServerTrustCertificates",
        "ServerTrustGroups",
        "ServerUsages",
        "ServerVulnerabilityAssessments",
        "SqlAgent",
        "SqlVulnerabilityAssessmentBaseline",
        "SqlVulnerabilityAssessmentExecuteScan",
        "SqlVulnerabilityAssessmentRuleBaseline",
        "SqlVulnerabilityAssessmentScanResult",
        "SqlVulnerabilityAssessmentScans",
        "SqlVulnerabilityAssessmentsSettings",
        "StartStopManagedInstanceSchedules",
        "SubscriptionUsages",
        "SynapseLinkWorkspaces",
        "SyncAgents",
        "SyncGroups",
        "SyncMembers",
        "TdeCertificates",
        "TimeZones",
        "TransparentDataEncryptions",
        "Usages",
        "VirtualClusters",
        "VirtualNetworkRules",
        "WorkloadClassifiers",
        "WorkloadGroups"
      ],
      "x-ms-enum": {
        "name": "Features",
        "modelAsString": false
      }
    },
    "FreeLimitExhaustionBehavior": {
      "type": "string",
      "description": "Specifies the behavior when monthly free limits are exhausted for the free database.\n\nAutoPause: The database will be auto paused upon exhaustion of free limits for remainder of the month.\n\nBillForUsage: The database will continue to be online upon exhaustion of free limits and any overage will be billed.",
      "enum": [
        "AutoPause",
        "BillOverUsage"
      ],
      "x-ms-enum": {
        "name": "FreeLimitExhaustionBehavior",
        "modelAsString": true,
        "values": [
          {
            "name": "AutoPause",
            "value": "AutoPause",
            "description": "AutoPause"
          },
          {
            "name": "BillOverUsage",
            "value": "BillOverUsage",
            "description": "BillOverUsage"
          }
        ]
      }
    },
    "GeoBackupPolicyName": {
      "type": "string",
      "enum": [
        "Default"
      ],
      "x-ms-enum": {
        "name": "GeoBackupPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "GeoBackupPolicyState": {
      "type": "string",
      "description": "The state of the geo backup policy.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "GeoBackupPolicyState",
        "modelAsString": false,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "HybridSecondaryUsage": {
      "type": "string",
      "description": "Hybrid secondary usage. Possible values are 'Active' (default value) and 'Passive' (customer uses the secondary as Passive DR).",
      "enum": [
        "Active",
        "Passive"
      ],
      "x-ms-enum": {
        "name": "HybridSecondaryUsage",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active"
          },
          {
            "name": "Passive",
            "value": "Passive",
            "description": "Passive"
          }
        ]
      }
    },
    "HybridSecondaryUsageDetected": {
      "type": "string",
      "description": "Hybrid secondary usage detected. Possible values are 'Active' (customer does not meet the requirements to use the secondary as Passive DR) and 'Passive' (customer meets the requirements to use the secondary as Passive DR).",
      "enum": [
        "Active",
        "Passive"
      ],
      "x-ms-enum": {
        "name": "HybridSecondaryUsageDetected",
        "modelAsString": true,
        "values": [
          {
            "name": "Active",
            "value": "Active",
            "description": "Active"
          },
          {
            "name": "Passive",
            "value": "Passive",
            "description": "Passive"
          }
        ]
      }
    },
    "IdentityType": {
      "type": "string",
      "description": "The identity type. Set this to 'SystemAssigned' in order to automatically create and assign an Azure Active Directory principal for the resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "UserAssigned"
          },
          {
            "name": "SystemAssigned,UserAssigned",
            "value": "SystemAssigned,UserAssigned",
            "description": "SystemAssigned,UserAssigned"
          }
        ]
      }
    },
    "ImplementationMethod": {
      "type": "string",
      "description": "Gets the method in which this recommended action can be manually implemented. e.g., TSql, AzurePowerShell.",
      "enum": [
        "TSql",
        "AzurePowerShell"
      ],
      "x-ms-enum": {
        "name": "ImplementationMethod",
        "modelAsString": false,
        "values": [
          {
            "name": "TSql",
            "value": "TSql",
            "description": "TSql"
          },
          {
            "name": "AzurePowerShell",
            "value": "AzurePowerShell",
            "description": "AzurePowerShell"
          }
        ]
      }
    },
    "InaccessibilityReason": {
      "type": "string",
      "description": "Root cause kind. Allowed values are “TransparentDataEncryption”, “DatabaseReplication”, and “Unknown”.",
      "enum": [
        "Unknown",
        "TransparentDataEncryption",
        "DatabaseReplication"
      ],
      "x-ms-enum": {
        "name": "InaccessibilityReason",
        "modelAsString": true,
        "values": [
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Unknown"
          },
          {
            "name": "TransparentDataEncryption",
            "value": "TransparentDataEncryption",
            "description": "TransparentDataEncryption"
          },
          {
            "name": "DatabaseReplication",
            "value": "DatabaseReplication",
            "description": "DatabaseReplication"
          }
        ]
      }
    },
    "InstanceFailoverGroupReplicationRole": {
      "type": "string",
      "description": "Local replication role of the failover group instance.",
      "enum": [
        "Primary",
        "Secondary"
      ],
      "x-ms-enum": {
        "name": "InstanceFailoverGroupReplicationRole",
        "modelAsString": true,
        "values": [
          {
            "name": "Primary",
            "value": "Primary",
            "description": "Primary"
          },
          {
            "name": "Secondary",
            "value": "Secondary",
            "description": "Secondary"
          }
        ]
      }
    },
    "InstancePoolLicenseType": {
      "type": "string",
      "description": "The license type. Possible values are 'LicenseIncluded' (price for SQL license is included) and 'BasePrice' (without SQL license price).",
      "enum": [
        "LicenseIncluded",
        "BasePrice"
      ],
      "x-ms-enum": {
        "name": "InstancePoolLicenseType",
        "modelAsString": true,
        "values": [
          {
            "name": "LicenseIncluded",
            "value": "LicenseIncluded",
            "description": "LicenseIncluded"
          },
          {
            "name": "BasePrice",
            "value": "BasePrice",
            "description": "BasePrice"
          }
        ]
      }
    },
    "InstanceRole": {
      "type": "string",
      "description": "New role of managed instance in a distributed availability group, can be Primary or Secondary.",
      "enum": [
        "Primary",
        "Secondary"
      ],
      "x-ms-enum": {
        "name": "InstanceRole",
        "modelAsString": true,
        "values": [
          {
            "name": "Primary",
            "value": "Primary",
            "description": "Primary"
          },
          {
            "name": "Secondary",
            "value": "Secondary",
            "description": "Secondary"
          }
        ]
      }
    },
    "IsRetryable": {
      "type": "string",
      "description": "Gets whether the error could be ignored and recommended action could be retried. Possible values are: Yes/No",
      "enum": [
        "Yes",
        "No"
      ],
      "x-ms-enum": {
        "name": "IsRetryable",
        "modelAsString": false,
        "values": [
          {
            "name": "Yes",
            "value": "Yes",
            "description": "Yes"
          },
          {
            "name": "No",
            "value": "No",
            "description": "No"
          }
        ]
      }
    },
    "JobAgentIdentityType": {
      "type": "string",
      "description": "The job agent identity type",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssignedUserAssigned"
      ],
      "x-ms-enum": {
        "name": "JobAgentIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "SystemAssigned"
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "UserAssigned"
          },
          {
            "name": "SystemAssignedUserAssigned",
            "value": "SystemAssignedUserAssigned",
            "description": "SystemAssignedUserAssigned"
          }
        ]
      }
    },
    "JobAgentState": {
      "type": "string",
      "description": "The state of the job agent.",
      "enum": [
        "Creating",
        "Ready",
        "Updating",
        "Deleting",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "JobAgentState",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating"
          },
          {
            "name": "Ready",
            "value": "Ready",
            "description": "Ready"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "JobExecutionLifecycle": {
      "type": "string",
      "description": "The detailed state of the job execution.",
      "enum": [
        "Created",
        "InProgress",
        "WaitingForChildJobExecutions",
        "WaitingForRetry",
        "Succeeded",
        "SucceededWithSkipped",
        "Failed",
        "TimedOut",
        "Canceled",
        "Skipped"
      ],
      "x-ms-enum": {
        "name": "JobExecutionLifecycle",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Created"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress"
          },
          {
            "name": "WaitingForChildJobExecutions",
            "value": "WaitingForChildJobExecutions",
            "description": "WaitingForChildJobExecutions"
          },
          {
            "name": "WaitingForRetry",
            "value": "WaitingForRetry",
            "description": "WaitingForRetry"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "SucceededWithSkipped",
            "value": "SucceededWithSkipped",
            "description": "SucceededWithSkipped"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "TimedOut",
            "value": "TimedOut",
            "description": "TimedOut"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled"
          },
          {
            "name": "Skipped",
            "value": "Skipped",
            "description": "Skipped"
          }
        ]
      }
    },
    "JobScheduleType": {
      "type": "string",
      "description": "Schedule interval type",
      "enum": [
        "Once",
        "Recurring"
      ],
      "x-ms-enum": {
        "name": "JobScheduleType",
        "modelAsString": false,
        "values": [
          {
            "name": "Once",
            "value": "Once",
            "description": "Once"
          },
          {
            "name": "Recurring",
            "value": "Recurring",
            "description": "Recurring"
          }
        ]
      }
    },
    "JobStepActionSource": {
      "type": "string",
      "description": "The source of the action to execute.",
      "enum": [
        "Inline"
      ],
      "x-ms-enum": {
        "name": "JobStepActionSource",
        "modelAsString": true,
        "values": [
          {
            "name": "Inline",
            "value": "Inline",
            "description": "Inline"
          }
        ]
      }
    },
    "JobStepActionType": {
      "type": "string",
      "description": "Type of action being executed by the job step.",
      "enum": [
        "TSql"
      ],
      "x-ms-enum": {
        "name": "JobStepActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "TSql",
            "value": "TSql",
            "description": "TSql"
          }
        ]
      }
    },
    "JobStepOutputType": {
      "type": "string",
      "description": "The output destination type.",
      "enum": [
        "SqlDatabase"
      ],
      "x-ms-enum": {
        "name": "JobStepOutputType",
        "modelAsString": true,
        "values": [
          {
            "name": "SqlDatabase",
            "value": "SqlDatabase",
            "description": "SqlDatabase"
          }
        ]
      }
    },
    "JobTargetGroupMembershipType": {
      "type": "string",
      "description": "Whether the target is included or excluded from the group.",
      "enum": [
        "Include",
        "Exclude"
      ],
      "x-ms-enum": {
        "name": "JobTargetGroupMembershipType",
        "modelAsString": false,
        "values": [
          {
            "name": "Include",
            "value": "Include",
            "description": "Include"
          },
          {
            "name": "Exclude",
            "value": "Exclude",
            "description": "Exclude"
          }
        ]
      }
    },
    "JobTargetType": {
      "type": "string",
      "description": "The type of the target.",
      "enum": [
        "TargetGroup",
        "SqlDatabase",
        "SqlElasticPool",
        "SqlShardMap",
        "SqlServer"
      ],
      "x-ms-enum": {
        "name": "JobTargetType",
        "modelAsString": true,
        "values": [
          {
            "name": "TargetGroup",
            "value": "TargetGroup",
            "description": "TargetGroup"
          },
          {
            "name": "SqlDatabase",
            "value": "SqlDatabase",
            "description": "SqlDatabase"
          },
          {
            "name": "SqlElasticPool",
            "value": "SqlElasticPool",
            "description": "SqlElasticPool"
          },
          {
            "name": "SqlShardMap",
            "value": "SqlShardMap",
            "description": "SqlShardMap"
          },
          {
            "name": "SqlServer",
            "value": "SqlServer",
            "description": "SqlServer"
          }
        ]
      }
    },
    "LedgerDigestUploadsName": {
      "type": "string",
      "enum": [
        "current"
      ],
      "x-ms-enum": {
        "name": "LedgerDigestUploadsName",
        "modelAsString": true,
        "values": [
          {
            "name": "current",
            "value": "current",
            "description": "current"
          }
        ]
      }
    },
    "LedgerDigestUploadsState": {
      "type": "string",
      "description": "Specifies the state of ledger digest upload.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "LedgerDigestUploadsState",
        "modelAsString": false,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "LinkRole": {
      "type": "string",
      "description": "SQL server side link role",
      "enum": [
        "Primary",
        "Secondary"
      ],
      "x-ms-enum": {
        "name": "LinkRole",
        "modelAsString": true,
        "values": [
          {
            "name": "Primary",
            "value": "Primary",
            "description": "Primary"
          },
          {
            "name": "Secondary",
            "value": "Secondary",
            "description": "Secondary"
          }
        ]
      }
    },
    "LogSizeUnit": {
      "type": "string",
      "description": "The units that the limit is expressed in.",
      "enum": [
        "Megabytes",
        "Gigabytes",
        "Terabytes",
        "Petabytes",
        "Percent"
      ],
      "x-ms-enum": {
        "name": "LogSizeUnit",
        "modelAsString": true,
        "values": [
          {
            "name": "Megabytes",
            "value": "Megabytes",
            "description": "Megabytes"
          },
          {
            "name": "Gigabytes",
            "value": "Gigabytes",
            "description": "Gigabytes"
          },
          {
            "name": "Terabytes",
            "value": "Terabytes",
            "description": "Terabytes"
          },
          {
            "name": "Petabytes",
            "value": "Petabytes",
            "description": "Petabytes"
          },
          {
            "name": "Percent",
            "value": "Percent",
            "description": "Percent"
          }
        ]
      }
    },
    "LongTermRetentionPolicyName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "LongTermRetentionPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "default"
          }
        ]
      }
    },
    "ManagedDatabaseCreateMode": {
      "type": "string",
      "description": "Managed database create mode. PointInTimeRestore: Create a database by restoring a point in time backup of an existing database. SourceDatabaseName, SourceManagedInstanceName and PointInTime must be specified. RestoreExternalBackup: Create a database by restoring from external backup files. Collation, StorageContainerUri and StorageContainerSasToken must be specified. Recovery: Creates a database by restoring a geo-replicated backup. RecoverableDatabaseId must be specified as the recoverable database resource ID to restore. RestoreLongTermRetentionBackup: Create a database by restoring from a long term retention backup (longTermRetentionBackupResourceId required).",
      "enum": [
        "Default",
        "RestoreExternalBackup",
        "PointInTimeRestore",
        "Recovery",
        "RestoreLongTermRetentionBackup"
      ],
      "x-ms-enum": {
        "name": "ManagedDatabaseCreateMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "RestoreExternalBackup",
            "value": "RestoreExternalBackup",
            "description": "RestoreExternalBackup"
          },
          {
            "name": "PointInTimeRestore",
            "value": "PointInTimeRestore",
            "description": "PointInTimeRestore"
          },
          {
            "name": "Recovery",
            "value": "Recovery",
            "description": "Recovery"
          },
          {
            "name": "RestoreLongTermRetentionBackup",
            "value": "RestoreLongTermRetentionBackup",
            "description": "RestoreLongTermRetentionBackup"
          }
        ]
      }
    },
    "ManagedDatabaseSecurityAlertPolicyName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "ManagedDatabaseSecurityAlertPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "default"
          }
        ]
      }
    },
    "ManagedDatabaseStatus": {
      "type": "string",
      "description": "Status of the database.",
      "enum": [
        "Online",
        "Offline",
        "Shutdown",
        "Creating",
        "Inaccessible",
        "Restoring",
        "Updating",
        "Stopping",
        "Stopped",
        "Starting",
        "DbMoving",
        "DbCopying"
      ],
      "x-ms-enum": {
        "name": "ManagedDatabaseStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Online",
            "value": "Online",
            "description": "Online"
          },
          {
            "name": "Offline",
            "value": "Offline",
            "description": "Offline"
          },
          {
            "name": "Shutdown",
            "value": "Shutdown",
            "description": "Shutdown"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Creating"
          },
          {
            "name": "Inaccessible",
            "value": "Inaccessible",
            "description": "Inaccessible"
          },
          {
            "name": "Restoring",
            "value": "Restoring",
            "description": "Restoring"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating"
          },
          {
            "name": "Stopping",
            "value": "Stopping",
            "description": "Stopping"
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Stopped"
          },
          {
            "name": "Starting",
            "value": "Starting",
            "description": "Starting"
          },
          {
            "name": "DbMoving",
            "value": "DbMoving",
            "description": "DbMoving"
          },
          {
            "name": "DbCopying",
            "value": "DbCopying",
            "description": "DbCopying"
          }
        ]
      }
    },
    "ManagedInstanceAdministratorType": {
      "type": "string",
      "description": "Type of the managed instance administrator.",
      "enum": [
        "ActiveDirectory"
      ],
      "x-ms-enum": {
        "name": "ManagedInstanceAdministratorType",
        "modelAsString": true,
        "values": [
          {
            "name": "ActiveDirectory",
            "value": "ActiveDirectory",
            "description": "ActiveDirectory"
          }
        ]
      }
    },
    "ManagedInstanceDatabaseFormat": {
      "type": "string",
      "description": "Specifies the internal format of instance databases specific to the SQL engine version.",
      "enum": [
        "AlwaysUpToDate",
        "SQLServer2022",
        "SQLServer2025"
      ],
      "x-ms-enum": {
        "name": "ManagedInstanceDatabaseFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "AlwaysUpToDate",
            "value": "AlwaysUpToDate",
            "description": "AlwaysUpToDate"
          },
          {
            "name": "SQLServer2022",
            "value": "SQLServer2022",
            "description": "SQLServer2022"
          },
          {
            "name": "SQLServer2025",
            "value": "SQLServer2025",
            "description": "SQLServer2025"
          }
        ]
      }
    },
    "ManagedInstanceLicenseType": {
      "type": "string",
      "description": "The license type. Possible values are 'LicenseIncluded' (regular price inclusive of a new SQL license) and 'BasePrice' (discounted AHB price for bringing your own SQL licenses).",
      "enum": [
        "LicenseIncluded",
        "BasePrice"
      ],
      "x-ms-enum": {
        "name": "ManagedInstanceLicenseType",
        "modelAsString": true,
        "values": [
          {
            "name": "LicenseIncluded",
            "value": "LicenseIncluded",
            "description": "LicenseIncluded"
          },
          {
            "name": "BasePrice",
            "value": "BasePrice",
            "description": "BasePrice"
          }
        ]
      }
    },
    "ManagedInstanceLongTermRetentionPolicyName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "ManagedInstanceLongTermRetentionPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "default"
          }
        ]
      }
    },
    "ManagedInstanceProxyOverride": {
      "type": "string",
      "description": "Connection type used for connecting to the instance.",
      "enum": [
        "Proxy",
        "Redirect",
        "Default"
      ],
      "x-ms-enum": {
        "name": "ManagedInstanceProxyOverride",
        "modelAsString": true,
        "values": [
          {
            "name": "Proxy",
            "value": "Proxy",
            "description": "Proxy"
          },
          {
            "name": "Redirect",
            "value": "Redirect",
            "description": "Redirect"
          },
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "ManagedLedgerDigestUploadsName": {
      "type": "string",
      "enum": [
        "current"
      ],
      "x-ms-enum": {
        "name": "ManagedLedgerDigestUploadsName",
        "modelAsString": true,
        "values": [
          {
            "name": "current",
            "value": "current",
            "description": "current"
          }
        ]
      }
    },
    "ManagedLedgerDigestUploadsState": {
      "type": "string",
      "description": "Specifies the state of ledger digest upload.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "ManagedLedgerDigestUploadsState",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Disabled"
          }
        ]
      }
    },
    "ManagedServerCreateMode": {
      "type": "string",
      "description": "Specifies the mode of database creation.\n\nDefault: Regular instance creation.\n\nRestore: Creates an instance by restoring a set of backups to specific point in time. RestorePointInTime and SourceManagedInstanceId must be specified.",
      "enum": [
        "Default",
        "PointInTimeRestore"
      ],
      "x-ms-enum": {
        "name": "ManagedServerCreateMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "PointInTimeRestore",
            "value": "PointInTimeRestore",
            "description": "PointInTimeRestore"
          }
        ]
      }
    },
    "ManagedServerSecurityAlertPolicyName": {
      "type": "string",
      "enum": [
        "Default"
      ],
      "x-ms-enum": {
        "name": "ManagedServerSecurityAlertPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          }
        ]
      }
    },
    "ManagedShortTermRetentionPolicyName": {
      "type": "string",
      "enum": [
        "default"
      ],
      "x-ms-enum": {
        "name": "ManagedShortTermRetentionPolicyName",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default",
            "description": "default"
          }
        ]
      }
    },
    "ManagementOperationState": {
      "type": "string",
      "description": "The operation state.",
      "enum": [
        "Pending",
        "InProgress",
        "Succeeded",
        "Failed",
        "CancelInProgress",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "ManagementOperationState",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Pending"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "CancelInProgress",
            "value": "CancelInProgress",
            "description": "CancelInProgress"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Cancelled"
          }
        ]
      }
    },
    "MaxSizeUnit": {
      "type": "string",
      "description": "The units that the limit is expressed in.",
      "enum": [
        "Megabytes",
        "Gigabytes",
        "Terabytes",
        "Petabytes"
      ],
      "x-ms-enum": {
        "name": "MaxSizeUnit",
        "modelAsString": true,
        "values": [
          {
            "name": "Megabytes",
            "value": "Megabytes",
            "description": "Megabytes"
          },
          {
            "name": "Gigabytes",
            "value": "Gigabytes",
            "description": "Gigabytes"
          },
          {
            "name": "Terabytes",
            "value": "Terabytes",
            "description": "Terabytes"
          },
          {
            "name": "Petabytes",
            "value": "Petabytes",
            "description": "Petabytes"
          }
        ]
      }
    },
    "MetricType": {
      "type": "string",
      "enum": [
        "cpu",
        "io",
        "logIo",
        "duration",
        "dtu"
      ],
      "x-ms-enum": {
        "name": "MetricType",
        "modelAsString": true,
        "values": [
          {
            "name": "cpu",
            "value": "cpu",
            "description": "cpu"
          },
          {
            "name": "io",
            "value": "io",
            "description": "io"
          },
          {
            "name": "logIo",
            "value": "logIo",
            "description": "logIo"
          },
          {
            "name": "duration",
            "value": "duration",
            "description": "duration"
          },
          {
            "name": "dtu",
            "value": "dtu",
            "description": "dtu"
          }
        ]
      }
    },
    "MinimalTlsVersion": {
      "type": "string",
      "description": "Minimal TLS version. Allowed values: 'None', 1.0', '1.1', '1.2', '1.3'",
      "enum": [
        "None",
        "1.0",
        "1.1",
        "1.2",
        "1.3"
      ],
      "x-ms-enum": {
        "name": "MinimalTlsVersion",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          },
          {
            "name": "1.0",
            "value": "1.0",
            "description": "1.0"
          },
          {
            "name": "1.1",
            "value": "1.1",
            "description": "1.1"
          },
          {
            "name": "1.2",
            "value": "1.2",
            "description": "1.2"
          },
          {
            "name": "1.3",
            "value": "1.3",
            "description": "1.3"
          }
        ]
      }
    },
    "MoveOperationMode": {
      "type": "string",
      "description": "Operation mode.",
      "enum": [
        "Move",
        "Copy"
      ],
      "x-ms-enum": {
        "name": "MoveOperationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Move",
            "value": "Move",
            "description": "Move"
          },
          {
            "name": "Copy",
            "value": "Copy",
            "description": "Copy"
          }
        ]
      }
    },
    "OperationMode": {
      "type": "string",
      "description": "Operation mode of the operation: Import, Export, or PolybaseImport.",
      "enum": [
        "PolybaseImport",
        "Import",
        "Export"
      ],
      "x-ms-enum": {
        "name": "OperationMode",
        "modelAsString": true,
        "values": [
          {
            "name": "PolybaseImport",
            "value": "PolybaseImport",
            "description": "PolybaseImport"
          },
          {
            "name": "Import",
            "value": "Import",
            "description": "Import"
          },
          {
            "name": "Export",
            "value": "Export",
            "description": "Export"
          }
        ]
      }
    },
    "OperationOrigin": {
      "type": "string",
      "description": "The intended executor of the operation.",
      "enum": [
        "user",
        "system"
      ],
      "x-ms-enum": {
        "name": "OperationOrigin",
        "modelAsString": true,
        "values": [
          {
            "name": "user",
            "value": "user",
            "description": "user"
          },
          {
            "name": "system",
            "value": "system",
            "description": "system"
          }
        ]
      }
    },
    "PauseDelayTimeUnit": {
      "type": "string",
      "description": "Unit of time that delay is expressed in",
      "enum": [
        "Minutes"
      ],
      "x-ms-enum": {
        "name": "PauseDelayTimeUnit",
        "modelAsString": true,
        "values": [
          {
            "name": "Minutes",
            "value": "Minutes",
            "description": "Minutes"
          }
        ]
      }
    },
    "PerformanceLevelUnit": {
      "type": "string",
      "description": "Unit type used to measure performance level.",
      "enum": [
        "DTU",
        "VCores"
      ],
      "x-ms-enum": {
        "name": "PerformanceLevelUnit",
        "modelAsString": true,
        "values": [
          {
            "name": "DTU",
            "value": "DTU",
            "description": "DTU"
          },
          {
            "name": "VCores",
            "value": "VCores",
            "description": "VCores"
          }
        ]
      }
    },
    "Phase": {
      "type": "string",
      "description": "The operation phase.",
      "enum": [
        "LogTransitionInProgress",
        "Copying",
        "BuildingHyperscaleComponents",
        "Catchup",
        "WaitingForCutover",
        "CutoverInProgress"
      ],
      "x-ms-enum": {
        "name": "Phase",
        "modelAsString": true,
        "values": [
          {
            "name": "LogTransitionInProgress",
            "value": "LogTransitionInProgress",
            "description": "LogTransitionInProgress"
          },
          {
            "name": "Copying",
            "value": "Copying",
            "description": "Copying"
          },
          {
            "name": "BuildingHyperscaleComponents",
            "value": "BuildingHyperscaleComponents",
            "description": "BuildingHyperscaleComponents"
          },
          {
            "name": "Catchup",
            "value": "Catchup",
            "description": "Catchup"
          },
          {
            "name": "WaitingForCutover",
            "value": "WaitingForCutover",
            "description": "WaitingForCutover"
          },
          {
            "name": "CutoverInProgress",
            "value": "CutoverInProgress",
            "description": "CutoverInProgress"
          }
        ]
      }
    },
    "PricingModel": {
      "type": "string",
      "description": "Pricing model of Managed Instance.",
      "enum": [
        "Regular",
        "Freemium"
      ],
      "x-ms-enum": {
        "name": "PricingModel",
        "modelAsString": true,
        "values": [
          {
            "name": "Regular",
            "value": "Regular",
            "description": "Regular"
          },
          {
            "name": "Freemium",
            "value": "Freemium",
            "description": "Freemium"
          }
        ]
      }
    },
    "PrincipalType": {
      "type": "string",
      "description": "Principal Type of the sever administrator.",
      "enum": [
        "User",
        "Group",
        "Application"
      ],
      "x-ms-enum": {
        "name": "PrincipalType",
        "modelAsString": true,
        "values": [
          {
            "name": "User",
            "value": "User",
            "description": "User"
          },
          {
            "name": "Group",
            "value": "Group",
            "description": "Group"
          },
          {
            "name": "Application",
            "value": "Application",
            "description": "Application"
          }
        ]
      }
    },
    "PrivateEndpointProvisioningState": {
      "type": "string",
      "description": "State of the private endpoint connection.",
      "enum": [
        "Approving",
        "Ready",
        "Dropping",
        "Failed",
        "Rejecting"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Approving",
            "value": "Approving",
            "description": "Approving"
          },
          {
            "name": "Ready",
            "value": "Ready",
            "description": "Ready"
          },
          {
            "name": "Dropping",
            "value": "Dropping",
            "description": "Dropping"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Rejecting",
            "value": "Rejecting",
            "description": "Rejecting"
          }
        ]
      }
    },
    "PrivateLinkServiceConnectionStateActionsRequire": {
      "type": "string",
      "description": "The actions required for private link service connection.",
      "enum": [
        "None"
      ],
      "x-ms-enum": {
        "name": "PrivateLinkServiceConnectionStateActionsRequire",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "None"
          }
        ]
      }
    },
    "PrivateLinkServiceConnectionStateStatus": {
      "type": "string",
      "description": "The private link service connection status.",
      "enum": [
        "Approved",
        "Pending",
        "Rejected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "PrivateLinkServiceConnectionStateStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Approved",
            "value": "Approved",
            "description": "Approved"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Pending"
          },
          {
            "name": "Rejected",
            "value": "Rejected",
            "description": "Rejected"
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "Disconnected"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The ARM provisioning state of the job execution.",
      "enum": [
        "Created",
        "InProgress",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Created",
            "value": "Created",
            "description": "Created"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "InProgress"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled"
          }
        ]
      }
    },
    "QueryMetricUnitType": {
      "type": "string",
      "description": "The unit of the metric.",
      "enum": [
        "percentage",
        "KB",
        "microseconds",
        "count"
[...]
