{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DatabaseSqlVulnerabilityAssessmentScanResult"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}/scanResults": {
      "get": {
        "operationId": "DatabaseSqlVulnerabilityAssessmentScanResult_ListByScan",
        "tags": [
          "DatabaseSqlVulnerabilityAssessmentScanResult"
        ],
        "description": "Gets a vulnerability assessment scan record of a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the SQL Vulnerability Assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "SqlVulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "scanId",
            "in": "path",
            "description": "The scan id of the SQL Vulnerability Assessment scan to retrieve result from.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SQLVulnerabilityAssessmentScanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List database SQL Vulnerability Assessment scan results for scan id": {
            "$ref": "./examples/DatabaseSqlVulnerabilityAssessmentListScansResults.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}/scans/{scanId}/scanResults/{scanResultId}": {
      "get": {
        "operationId": "DatabaseSqlVulnerabilityAssessmentScanResult_Get",
        "tags": [
          "DatabaseSqlVulnerabilityAssessmentScanResult"
        ],
        "description": "Gets a vulnerability assessment scan record of a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the SQL Vulnerability Assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "SqlVulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "scanId",
            "in": "path",
            "description": "The scan id of the SQL Vulnerability Assessment scan to retrieve result from.",
            "required": true,
            "type": "string"
          },
          {
            "name": "scanResultId",
            "in": "path",
            "description": "The scan result id of the specific result to retrieve.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlVulnerabilityAssessmentScanResults"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a database SQL Vulnerability Assessment scan result for scan id and scan result id": {
            "$ref": "./examples/DatabaseSqlVulnerabilityAssessmentScansResults.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Baseline": {
      "type": "object",
      "description": "SQL Vulnerability Assessment baseline Details",
      "properties": {
        "expectedResults": {
          "type": "array",
          "description": "SQL Vulnerability Assessment baseline expected results",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readOnly": true
        },
        "updatedTime": {
          "type": "string",
          "format": "date-time",
          "description": "SQL Vulnerability Assessment baseline update time (UTC)",
          "readOnly": true
        }
      }
    },
    "BaselineAdjustedResult": {
      "type": "object",
      "description": "SQL Vulnerability Assessment baseline adjusted results",
      "properties": {
        "baseline": {
          "$ref": "#/definitions/Baseline",
          "description": "SQL Vulnerability Assessment baseline details",
          "readOnly": true
        },
        "status": {
          "$ref": "./common.json#/definitions/RuleStatus",
          "description": "SQL Vulnerability Assessment baseline status",
          "readOnly": true
        },
        "resultsNotInBaseline": {
          "type": "array",
          "description": "SQL Vulnerability Assessment results that are not in baseline",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readOnly": true
        },
        "resultsOnlyInBaseline": {
          "type": "array",
          "description": "SQL Vulnerability Assessment results that are in baseline.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readOnly": true
        }
      }
    },
    "BenchmarkReference": {
      "type": "object",
      "description": "SQL Vulnerability Assessment benchmark reference",
      "properties": {
        "benchmark": {
          "type": "string",
          "description": "SQL Vulnerability Assessment benchmark name",
          "readOnly": true
        },
        "reference": {
          "type": "string",
          "description": "SQL Vulnerability Assessment benchmark reference.",
          "readOnly": true
        }
      }
    },
    "QueryCheck": {
      "type": "object",
      "description": "SQL Vulnerability Assessment query check object.",
      "properties": {
        "query": {
          "type": "string",
          "description": "SQL Vulnerability Assessment rule query.",
          "readOnly": true
        },
        "expectedResult": {
          "type": "array",
          "description": "SQL Vulnerability Assessment query expected result.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readOnly": true
        },
        "columnNames": {
          "type": "array",
          "description": "SQL Vulnerability Assessment column names of query expected result.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "Remediation": {
      "type": "object",
      "description": "SQL Vulnerability Assessment remediation Details.",
      "properties": {
        "description": {
          "type": "string",
          "description": "SQL Vulnerability Assessment remediation description.",
          "readOnly": true
        },
        "scripts": {
          "type": "array",
          "description": "SQL Vulnerability Assessment remediation script.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "automated": {
          "type": "boolean",
          "description": "SQL Vulnerability Assessment is remediation automated.",
          "readOnly": true
        },
        "portalLink": {
          "type": "string",
          "description": "SQL Vulnerability Assessment optional link to remediate in Azure Portal.",
          "readOnly": true
        }
      }
    },
    "SQLVulnerabilityAssessmentScanListResult": {
      "type": "object",
      "description": "A list of vulnerability assessment scan results.",
      "properties": {
        "value": {
          "type": "array",
          "description": "Array of results.",
          "items": {
            "$ref": "#/definitions/SqlVulnerabilityAssessmentScanResults"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "Link to retrieve next page of results.",
          "readOnly": true
        }
      }
    },
    "SqlVulnerabilityAssessmentScanResultProperties": {
      "type": "object",
      "description": "SQL Vulnerability Assessment scan result properties for a single rule.",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "SQL Vulnerability Assessment rule Id.",
          "readOnly": true
        },
        "status": {
          "$ref": "./common.json#/definitions/RuleStatus",
          "description": "SQL Vulnerability Assessment rule result status.",
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "SQL Vulnerability Assessment error message.",
          "readOnly": true
        },
        "isTrimmed": {
          "type": "boolean",
          "description": "SQL Vulnerability Assessment is the query results trimmed.",
          "readOnly": true
        },
        "queryResults": {
          "type": "array",
          "description": "SQL Vulnerability Assessment query results that was run.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "readOnly": true
        },
        "remediation": {
          "$ref": "#/definitions/Remediation",
          "description": "SQL Vulnerability Assessment the remediation details.",
          "readOnly": true
        },
        "baselineAdjustedResult": {
          "$ref": "#/definitions/BaselineAdjustedResult",
          "description": "SQL Vulnerability Assessment rule result adjusted with baseline.",
          "readOnly": true
        },
        "ruleMetadata": {
          "$ref": "#/definitions/VaRule",
          "description": "SQL Vulnerability Assessment rule metadata.",
          "readOnly": true
        }
      }
    },
    "SqlVulnerabilityAssessmentScanResults": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlVulnerabilityAssessmentScanResultProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "VaRule": {
      "type": "object",
      "description": "SQL Vulnerability Assessment rule metadata details.",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "SQL Vulnerability Assessment rule Id.",
          "readOnly": true
        },
        "severity": {
          "$ref": "./common.json#/definitions/RuleSeverity",
          "description": "SQL Vulnerability Assessment rule severity.",
          "readOnly": true
        },
        "category": {
          "type": "string",
          "description": "SQL Vulnerability Assessment rule category.",
          "readOnly": true
        },
        "ruleType": {
          "$ref": "./common.json#/definitions/RuleType",
          "description": "SQL Vulnerability Assessment rule type.",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "SQL Vulnerability Assessment rule title.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "SQL Vulnerability Assessment rule description.",
          "readOnly": true
        },
        "rationale": {
          "type": "string",
          "description": "SQL Vulnerability Assessment rule rationale.",
          "readOnly": true
        },
        "queryCheck": {
          "$ref": "#/definitions/QueryCheck",
          "description": "SQL Vulnerability Assessment rule query details.",
          "readOnly": true
        },
        "benchmarkReferences": {
          "type": "array",
          "description": "SQL Vulnerability Assessment benchmark references.",
          "items": {
            "$ref": "#/definitions/BenchmarkReference"
          },
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
