{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Databases"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases": {
      "get": {
        "operationId": "Databases_ListByServer",
        "tags": [
          "Databases"
        ],
        "description": "Gets a list of databases.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of elements to return from the collection.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of elements in the collection to skip.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData filter expression that filters elements in the collection.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "How the results should be ordered.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of databases configured with enclave type.": {
            "$ref": "./examples/ListVCoreDatabasesEnclaveTypeByServer.json"
          },
          "Gets a list of databases with OData filtering.": {
            "$ref": "./examples/ListVCoreDatabasesByServerWithOdata.json"
          },
          "Gets a list of databases.": {
            "$ref": "./examples/ListVCoreDatabasesByServer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}": {
      "get": {
        "operationId": "Databases_Get",
        "tags": [
          "Databases"
        ],
        "description": "Gets a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The child resources to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData filter expression that filters elements in the collection.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a database configured with Default enclave type.": {
            "$ref": "./examples/GetVCoreDatabaseDefaultEnclave.json"
          },
          "Gets a database configured with VBS enclave type.": {
            "$ref": "./examples/GetVCoreDatabaseVBSEnclave.json"
          },
          "Gets a database with Availability zone specified.": {
            "$ref": "./examples/GetDatabaseWithAvailabilityZone.json"
          },
          "Gets a database with database level keys expanded using versionless keys.": {
            "$ref": "./examples/GetVCoreDatabaseWithExpandEqualsKeysWithVersionlessKeys.json"
          },
          "Gets a database with database level keys expanded.": {
            "$ref": "./examples/GetVCoreDatabaseWithExpandEqualsKeys.json"
          },
          "Gets a database.": {
            "$ref": "./examples/GetVCoreDatabase.json"
          }
        }
      },
      "put": {
        "operationId": "Databases_CreateOrUpdate",
        "tags": [
          "Databases"
        ],
        "description": "Creates a new database or updates an existing database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The requested database resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Database"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Database' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "201": {
            "description": "Resource 'Database' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Database"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates a VCore database by specifying service objective name.": {
            "$ref": "./examples/CreateVCoreDatabaseByServiceObjective.json"
          },
          "Creates a VCore database by specifying sku name and capacity.": {
            "$ref": "./examples/CreateVCoreDatabaseBySkuNameCapacity.json"
          },
          "Creates a data warehouse database as a cross-subscription restore from a backup of a dropped database.": {
            "$ref": "./examples/CreateDwDatabaseCrossSubscriptionRestore.json"
          },
          "Creates a data warehouse database as a cross-subscription restore from a geo-backup.": {
            "$ref": "./examples/CreateDwDatabaseCrossSubscriptionRecovery.json"
          },
          "Creates a data warehouse database as a cross-subscription restore from a restore point of an existing database.": {
            "$ref": "./examples/CreateDwDatabaseCrossSubscriptionPITR.json"
          },
          "Creates a database as a copy.": {
            "$ref": "./examples/CreateDatabaseCopyMode.json"
          },
          "Creates a database as a standby secondary.": {
            "$ref": "./examples/CreateDatabaseStandbyMode.json"
          },
          "Creates a database as an on-line secondary.": {
            "$ref": "./examples/CreateDatabaseSecondaryMode.json"
          },
          "Creates a database as named replica secondary.": {
            "$ref": "./examples/CreateDatabaseNamedReplica.json"
          },
          "Creates a database from PointInTimeRestore.": {
            "$ref": "./examples/CreateDatabasePITRMode.json"
          },
          "Creates a database with Default enclave type.": {
            "$ref": "./examples/CreateDatabaseDefaultEnclave.json"
          },
          "Creates a database with VBS enclave type.": {
            "$ref": "./examples/CreateDatabaseVBSEnclave.json"
          },
          "Creates a database with availability zone specified.": {
            "$ref": "./examples/CreateDatabaseWithAvailabilityZone.json"
          },
          "Creates a database with database-level customer managed keys.": {
            "$ref": "./examples/CreateDatabaseDefaultModeWithKeysAndEncryptionProtector.json"
          },
          "Creates a database with database-level versionless customer managed keys.": {
            "$ref": "./examples/CreateDatabaseDefaultModeWithVersionlessKeysAndVersionlessEncryptionProtector.json"
          },
          "Creates a database with default mode.": {
            "$ref": "./examples/CreateDatabaseDefaultMode.json"
          },
          "Creates a database with encryption protector auto rotation.": {
            "$ref": "./examples/CreateDatabaseWithEncryptionProtectorAutoRotation.json"
          },
          "Creates a database with ledger on.": {
            "$ref": "./examples/CreateDatabaseLedger.json"
          },
          "Creates a database with minimum number of parameters.": {
            "$ref": "./examples/CreateDatabaseMin.json"
          },
          "Creates a database with preferred maintenance window.": {
            "$ref": "./examples/CreateDatabaseMaintenanceConfiguration.json"
          },
          "Creates a database with specified backup storage redundancy.": {
            "$ref": "./examples/CreateDatabaseConfiguredBackupStorageRedundancy.json"
          },
          "Updates a database to Hyperscale SLO with manual cutover": {
            "$ref": "./examples/UpdateDatabaseHyperscaleMigrationWithManualCutover.json"
          },
          "Updates a database to Hyperscale tier by triggering manual cutover during Migration workflow": {
            "$ref": "./examples/UpdateDatabaseHyperscaleMigrationPerformCutover.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Database"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Databases_Update",
        "tags": [
          "Databases"
        ],
        "description": "Updates an existing database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The requested database resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Assigns maintenance window to a database.": {
            "$ref": "./examples/PatchVCoreDatabaseAssignMaintenanceConfiguration.json"
          },
          "Patch a database with database-level customer managed keys.": {
            "$ref": "./examples/PatchVCoreDatabaseWithKeysAndEncryptionProtector.json"
          },
          "Resets maintenance window of a database to default.": {
            "$ref": "./examples/PatchVCoreDatabaseResetMaintenanceConfiguration.json"
          },
          "Updates a database with Default enclave type.": {
            "$ref": "./examples/PatchDatabaseDefaultEnclave.json"
          },
          "Updates a database with VBS enclave type.": {
            "$ref": "./examples/PatchDatabaseVBSEnclave.json"
          },
          "Updates a database.": {
            "$ref": "./examples/PatchVCoreDatabase.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Database"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Databases_Delete",
        "tags": [
          "Databases"
        ],
        "description": "Deletes the database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a database.": {
            "$ref": "./examples/DeleteDatabase.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/export": {
      "post": {
        "operationId": "Databases_Export",
        "tags": [
          "Databases"
        ],
        "description": "Exports a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The database export request parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportDatabaseDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json#/definitions/ImportExportOperationResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Exports a database, using Managed Identity to communicate with SQL server and storage account.": {
            "$ref": "./examples/ExportDatabaseWithManagedIdentity.json"
          },
          "Exports a database, using private link to communicate with SQL server and storage account.": {
            "$ref": "./examples/ExportDatabaseWithNetworkIsolation.json"
          },
          "Exports a database.": {
            "$ref": "./examples/ExportDatabase.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json#/definitions/ImportExportOperationResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/failover": {
      "post": {
        "operationId": "Databases_Failover",
        "tags": [
          "Databases"
        ],
        "description": "Failovers a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "replicaType",
            "in": "query",
            "description": "The type of replica to be failed over.",
            "required": false,
            "type": "string",
            "enum": [
              "Primary",
              "ReadableSecondary"
            ],
            "x-ms-enum": {
              "name": "ReplicaType",
              "modelAsString": true,
              "values": [
                {
                  "name": "Primary",
                  "value": "Primary",
                  "description": "Primary"
                },
                {
                  "name": "ReadableSecondary",
                  "value": "ReadableSecondary",
                  "description": "ReadableSecondary"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Failover an database": {
            "$ref": "./examples/FailoverDatabase.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/import": {
      "post": {
        "operationId": "Databases_Import",
        "tags": [
          "Databases"
        ],
        "description": "Imports a bacpac into a new database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The database import request parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ImportExistingDatabaseDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json#/definitions/ImportExportOperationResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Imports to an existing empty database, using Managed Identity to communicate with SQL server and storage account.": {
            "$ref": "./examples/ImportDatabaseWithManagedIdentity.json"
          },
          "Imports to an existing empty database, using private link to communicate with SQL server and storage account.": {
            "$ref": "./examples/ImportDatabaseWithNetworkIsolation.json"
          },
          "Imports to an existing empty database.": {
            "$ref": "./examples/ImportDatabase.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "./common.json#/definitions/ImportExportOperationResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/move": {
      "post": {
        "operationId": "Databases_Rename",
        "tags": [
          "Databases"
        ],
        "description": "Renames a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The resource move definition for renaming this database.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceMoveDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Renames a database.": {
            "$ref": "./examples/RenameDatabase.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/pause": {
      "post": {
        "operationId": "Databases_Pause",
        "tags": [
          "Databases"
        ],
        "description": "Pauses a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Pauses a database.": {
            "$ref": "./examples/PauseDatabase.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Database"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/resume": {
      "post": {
        "operationId": "Databases_Resume",
        "tags": [
          "Databases"
        ],
        "description": "Resumes a database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Database"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resumes a database.": {
            "$ref": "./examples/ResumeDatabase.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Database"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/upgradeDataWarehouse": {
      "post": {
        "operationId": "Databases_UpgradeDataWarehouse",
        "tags": [
          "Databases"
        ],
        "description": "Upgrades a data warehouse.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Upgrades a data warehouse.": {
            "$ref": "./examples/UpgradeDataWarehouse.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/elasticPools/{elasticPoolName}/databases": {
      "get": {
        "operationId": "Databases_ListByElasticPool",
        "tags": [
          "Databases"
        ],
        "description": "Gets a list of databases in an elastic pool.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "elasticPoolName",
            "in": "path",
            "description": "The name of the elastic pool.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of databases in an elastic pool.": {
            "$ref": "./examples/ListDatabasesByElasticPool.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/inaccessibleDatabases": {
      "get": {
        "operationId": "Databases_ListInaccessibleByServer",
        "tags": [
          "Databases"
        ],
        "description": "Gets a list of inaccessible databases in a logical server",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of inaccessible databases in a logical server": {
            "$ref": "./examples/ListVCoreInaccessibleDatabasesByServer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Database": {
      "type": "object",
      "description": "A database resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "./common.json#/definitions/Sku",
          "description": "The database SKU.\n\nThe list of SKUs may vary by region and support offer. To determine the SKUs (including the SKU name, tier/edition, family, and capacity) that are available to your subscription in an Azure region, use the `Capabilities_ListByLocation` REST API or one of the following commands:\n\n```azurecli\naz sql db list-editions -l <location> -o table\n```\n\n```powershell\nGet-AzSqlServerServiceObjective -Location <location>\n```"
        },
        "kind": {
          "type": "string",
          "description": "Kind of database. This is metadata used for the Azure portal experience.",
          "readOnly": true
        },
        "managedBy": {
          "type": "string",
          "description": "Resource that manages the database.",
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/DatabaseIdentity",
          "description": "The Azure Active Directory identity of the database.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DatabaseIdentity": {
      "type": "object",
      "description": "Azure Active Directory identity configuration for a resource.",
      "properties": {
        "type": {
          "$ref": "./common.json#/definitions/DatabaseIdentityType",
          "description": "The identity type"
        },
        "tenantId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "The Azure Active Directory tenant id.",
          "readOnly": true
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The resource ids of the user assigned identities to use",
          "additionalProperties": {
            "$ref": "#/definitions/DatabaseUserIdentity"
          }
        }
      }
    },
    "DatabaseListResult": {
      "type": "object",
      "description": "The response of a Database list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Database items on this page",
          "items": {
            "$ref": "#/definitions/Database"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DatabaseProperties": {
      "type": "object",
      "description": "The database's properties.",
      "properties": {
        "createMode": {
          "$ref": "./common.json#/definitions/CreateMode",
          "description": "Specifies the mode of database creation.\n\nDefault: regular database creation.\n\nCopy: creates a database as a copy of an existing database. sourceDatabaseId must be specified as the resource ID of the source database.\n\nSecondary: creates a database as a secondary replica of an existing database. sourceDatabaseId must be specified as the resource ID of the existing primary database.\n\nPointInTimeRestore: Creates a database by restoring a point in time backup of an existing database. sourceDatabaseId must be specified as the resource ID of the existing database, and restorePointInTime must be specified.\n\nRecovery: Creates a database by restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable database resource ID to restore.\n\nRestore: Creates a database by restoring a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId is the database's original resource ID, then sourceDatabaseDeletionDate must be specified. Otherwise sourceDatabaseId must be the restorable dropped database resource ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified to restore from an earlier point in time.\n\nRestoreLongTermRetentionBackup: Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId must be specified as the recovery point resource ID.\n\nCopy, Secondary, and RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "collation": {
          "type": "string",
          "description": "The collation of the database.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "maxSizeBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The max size of the database expressed in bytes."
        },
        "sampleName": {
          "$ref": "./common.json#/definitions/SampleName",
          "description": "The name of the sample schema to apply when creating this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "elasticPoolId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the elastic pool containing this database.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sql/servers/elasticPools"
              }
            ]
          }
        },
        "sourceDatabaseId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the source database associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "status": {
          "$ref": "./common.json#/definitions/DatabaseStatus",
          "description": "The status of the database.",
          "readOnly": true
        },
        "databaseId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "The ID of the database.",
          "readOnly": true
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the database (ISO8601 format).",
          "readOnly": true
        },
        "currentServiceObjectiveName": {
          "type": "string",
          "description": "The current service level objective name of the database.",
          "readOnly": true
        },
        "requestedServiceObjectiveName": {
          "type": "string",
          "description": "The requested service level objective name of the database.",
          "readOnly": true
        },
        "defaultSecondaryLocation": {
          "type": "string",
          "description": "The default secondary region for this database.",
          "readOnly": true
        },
        "failoverGroupId": {
          "type": "string",
          "description": "Failover Group resource identifier that this database belongs to.",
          "readOnly": true
        },
        "restorePointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "Specifies the point in time (ISO8601 format) of the source database that will be restored to create the new database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "sourceDatabaseDeletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Specifies the time that the database was deleted.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "recoveryServicesRecoveryPointId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the recovery point associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "longTermRetentionBackupResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the long term retention backup associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sql/locations/longTermRetentionBackups"
              }
            ]
          }
        },
        "recoverableDatabaseId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the recoverable database associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "restorableDroppedDatabaseId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the restorable dropped database associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "catalogCollation": {
          "$ref": "./common.json#/definitions/CatalogCollationType",
          "description": "Collation of the metadata catalog.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "zoneRedundant": {
          "type": "boolean",
          "description": "Whether or not this database is zone redundant, which means the replicas of this database will be spread across multiple availability zones."
        },
        "licenseType": {
          "$ref": "./common.json#/definitions/DatabaseLicenseType",
          "description": "The license type to apply for this database. `LicenseIncluded` if you need a license, or `BasePrice` if you have a license and are eligible for the Azure Hybrid Benefit."
        },
        "maxLogSizeBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The max log size for this database.",
          "readOnly": true
        },
        "earliestRestoreDate": {
          "type": "string",
          "format": "date-time",
          "description": "This records the earliest start date and time that restore is available for this database (ISO8601 format).",
          "readOnly": true
        },
        "readScale": {
          "$ref": "./common.json#/definitions/DatabaseReadScale",
          "description": "The state of read-only routing. If enabled, connections that have application intent set to readonly in their connection string may be routed to a readonly secondary replica in the same region. Not applicable to a Hyperscale database within an elastic pool.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "highAvailabilityReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of secondary replicas associated with the Business Critical, Premium, or Hyperscale edition database that are used to provide high availability. Not applicable to a Hyperscale database within an elastic pool."
        },
        "secondaryType": {
          "$ref": "./common.json#/definitions/SecondaryType",
          "description": "The secondary type of the database if it is a secondary.  Valid values are Geo, Named and Standby."
        },
        "currentSku": {
          "$ref": "./common.json#/definitions/Sku",
          "description": "The name and tier of the SKU.",
          "readOnly": true
        },
        "autoPauseDelay": {
          "type": "integer",
          "format": "int32",
          "description": "Time in minutes after which database is automatically paused. A value of -1 means that automatic pause is disabled"
        },
        "currentBackupStorageRedundancy": {
          "$ref": "./common.json#/definitions/BackupStorageRedundancy",
          "description": "The storage account type used to store backups for this database.",
          "readOnly": true
        },
        "requestedBackupStorageRedundancy": {
          "$ref": "./common.json#/definitions/BackupStorageRedundancy",
          "description": "The storage account type to be used to store backups for this database."
        },
        "minCapacity": {
          "type": "number",
          "format": "double",
          "description": "Minimal capacity that database will always have allocated, if not paused"
        },
        "pausedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when database was paused by user configuration or action(ISO8601 format). Null if the database is ready.",
          "readOnly": true
        },
        "resumedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when database was resumed by user action or database login (ISO8601 format). Null if the database is paused.",
          "readOnly": true
        },
        "maintenanceConfigurationId": {
          "type": "string",
          "description": "Maintenance configuration id assigned to the database. This configuration defines the period when the maintenance updates will occur."
        },
        "isLedgerOn": {
          "type": "boolean",
          "description": "Whether or not this database is a ledger database, which means all tables in the database are ledger tables. Note: the value of this property cannot be changed after the database has been created."
        },
        "isInfraEncryptionEnabled": {
          "type": "boolean",
          "description": "Infra encryption is enabled for this database.",
          "readOnly": true
        },
        "federatedClientId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "The Client id used for cross tenant per database CMK scenario"
        },
        "keys": {
          "type": "object",
          "description": "The resource ids of the user assigned identities to use",
          "additionalProperties": {
            "$ref": "./common.json#/definitions/DatabaseKey"
          }
        },
        "encryptionProtector": {
          "type": "string",
          "description": "The azure key vault URI of the database if it's configured with per Database Customer Managed Keys."
        },
        "preferredEnclaveType": {
          "$ref": "./common.json#/definitions/AlwaysEncryptedEnclaveType",
          "description": "Type of enclave requested on the database i.e. Default or VBS enclaves."
        },
        "useFreeLimit": {
          "type": "boolean",
          "description": "Whether or not the database uses free monthly limits. Allowed on one database in a subscription."
        },
        "freeLimitExhaustionBehavior": {
          "$ref": "./common.json#/definitions/FreeLimitExhaustionBehavior",
          "description": "Specifies the behavior when monthly free limits are exhausted for the free database.\n\nAutoPause: The database will be auto paused upon exhaustion of free limits for remainder of the month.\n\nBillForUsage: The database will continue to be online upon exhaustion of free limits and any overage will be billed."
        },
        "sourceResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the source associated with the create operation of this database.\n\nThis property is only supported for DataWarehouse edition and allows to restore across subscriptions.\n\nWhen sourceResourceId is specified, sourceDatabaseId, recoverableDatabaseId, restorableDroppedDatabaseId and sourceDatabaseDeletionDate must not be specified and CreateMode must be PointInTimeRestore, Restore or Recover.\n\nWhen createMode is PointInTimeRestore, sourceResourceId must be the resource ID of the existing database or existing sql pool, and restorePointInTime must be specified.\n\nWhen createMode is Restore, sourceResourceId must be the resource ID of restorable dropped database or restorable dropped sql pool.\n\nWhen createMode is Recover, sourceResourceId must be the resource ID of recoverable database or recoverable sql pool.\n\nWhen source subscription belongs to a different tenant than target subscription, “x-ms-authorization-auxiliary” header must contain authentication token for the source tenant. For more details about “x-ms-authorization-auxiliary” header see https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/authenticate-multi-tenant",
          "x-ms-mutability": [
            "create"
          ]
        },
        "manualCutover": {
          "type": "boolean",
          "description": "Whether or not customer controlled manual cutover needs to be done during Update Database operation to Hyperscale tier.\n\nThis property is only applicable when scaling database from Business Critical/General Purpose/Premium/Standard tier to Hyperscale tier.\n\nWhen manualCutover is specified, the scaling operation will wait for user input to trigger cutover to Hyperscale database.\n\nTo trigger cutover, please provide 'performCutover' parameter when the Scaling operation is in Waiting state."
        },
        "performCutover": {
          "type": "boolean",
          "description": "To trigger customer controlled manual cutover during the wait state while Scaling operation is in progress.\n\nThis property parameter is only applicable for scaling operations that are initiated along with 'manualCutover' parameter.\n\nThis property is only applicable when scaling database from Business Critical/General Purpose/Premium/Standard tier to Hyperscale tier is already in progress.\n\nWhen performCutover is specified, the scaling operation will trigger cutover and perform role-change to Hyperscale database."
        },
        "availabilityZone": {
          "$ref": "./common.json#/definitions/AvailabilityZoneType",
          "description": "Specifies the availability zone the database is pinned to."
        },
        "encryptionProtectorAutoRotation": {
          "type": "boolean",
          "description": "The flag to enable or disable auto rotation of database encryption protector AKV key."
        },
        "provisioningState": {
          "type": "string",
          "description": "Specifies the provisioning state for this resource",
          "readOnly": true
        }
      }
    },
    "DatabaseUpdate": {
      "type": "object",
      "description": "A database update resource.",
      "properties": {
        "sku": {
          "$ref": "./common.json#/definitions/Sku",
          "description": "The name and tier of the SKU."
        },
        "identity": {
          "$ref": "#/definitions/DatabaseIdentity",
          "description": "Database identity"
        },
        "properties": {
          "$ref": "#/definitions/DatabaseUpdateProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DatabaseUpdateProperties": {
      "type": "object",
      "description": "A database update properties.",
      "properties": {
        "createMode": {
          "$ref": "./common.json#/definitions/CreateMode",
          "description": "Specifies the mode of database creation.\n\nDefault: regular database creation.\n\nCopy: creates a database as a copy of an existing database. sourceDatabaseId must be specified as the resource ID of the source database.\n\nSecondary: creates a database as a secondary replica of an existing database. sourceDatabaseId must be specified as the resource ID of the existing primary database.\n\nPointInTimeRestore: Creates a database by restoring a point in time backup of an existing database. sourceDatabaseId must be specified as the resource ID of the existing database, and restorePointInTime must be specified.\n\nRecovery: Creates a database by restoring a geo-replicated backup. sourceDatabaseId must be specified as the recoverable database resource ID to restore.\n\nRestore: Creates a database by restoring a backup of a deleted database. sourceDatabaseId must be specified. If sourceDatabaseId is the database's original resource ID, then sourceDatabaseDeletionDate must be specified. Otherwise sourceDatabaseId must be the restorable dropped database resource ID and sourceDatabaseDeletionDate is ignored. restorePointInTime may also be specified to restore from an earlier point in time.\n\nRestoreLongTermRetentionBackup: Creates a database by restoring from a long term retention vault. recoveryServicesRecoveryPointResourceId must be specified as the recovery point resource ID.\n\nCopy, Secondary, and RestoreLongTermRetentionBackup are not supported for DataWarehouse edition.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "collation": {
          "type": "string",
          "description": "The collation of the database.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "maxSizeBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The max size of the database expressed in bytes."
        },
        "sampleName": {
          "$ref": "./common.json#/definitions/SampleName",
          "description": "The name of the sample schema to apply when creating this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "elasticPoolId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the elastic pool containing this database.",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sql/servers/elasticPools"
              }
            ]
          }
        },
        "sourceDatabaseId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the source database associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "status": {
          "$ref": "./common.json#/definitions/DatabaseStatus",
          "description": "The status of the database.",
          "readOnly": true
        },
        "databaseId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "The ID of the database.",
          "readOnly": true
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the database (ISO8601 format).",
          "readOnly": true
        },
        "currentServiceObjectiveName": {
          "type": "string",
          "description": "The current service level objective name of the database.",
          "readOnly": true
        },
        "requestedServiceObjectiveName": {
          "type": "string",
          "description": "The requested service level objective name of the database.",
          "readOnly": true
        },
        "defaultSecondaryLocation": {
          "type": "string",
          "description": "The default secondary region for this database.",
          "readOnly": true
        },
        "failoverGroupId": {
          "type": "string",
          "description": "Failover Group resource identifier that this database belongs to.",
          "readOnly": true
        },
        "restorePointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "Specifies the point in time (ISO8601 format) of the source database that will be restored to create the new database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "sourceDatabaseDeletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "Specifies the time that the database was deleted.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "recoveryServicesRecoveryPointId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the recovery point associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "longTermRetentionBackupResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the long term retention backup associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ],
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.Sql/locations/longTermRetentionBackups"
              }
            ]
          }
        },
        "recoverableDatabaseId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the recoverable database associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "restorableDroppedDatabaseId": {
          "type": "string",
          "format": "arm-id",
          "description": "The resource identifier of the restorable dropped database associated with create operation of this database.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "catalogCollation": {
          "$ref": "./common.json#/definitions/CatalogCollationType",
          "description": "Collation of the metadata catalog.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "zoneRedundant": {
          "type": "boolean",
          "description": "Whether or not this database is zone redundant, which means the replicas of this database will be spread across multiple availability zones."
        },
        "licenseType": {
          "$ref": "./common.json#/definitions/DatabaseLicenseType",
          "description": "The license type to apply for this database. `LicenseIncluded` if you need a license, or `BasePrice` if you have a license and are eligible for the Azure Hybrid Benefit."
        },
        "maxLogSizeBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The max log size for this database.",
          "readOnly": true
        },
        "earliestRestoreDate": {
          "type": "string",
          "format": "date-time",
          "description": "This records the earliest start date and time that restore is available for this database (ISO8601 format).",
          "readOnly": true
        },
        "readScale": {
          "$ref": "./common.json#/definitions/DatabaseReadScale",
          "description": "The state of read-only routing. If enabled, connections that have application intent set to readonly in their connection string may be routed to a readonly secondary replica in the same region. Not applicable to a Hyperscale database within an elastic pool.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "highAvailabilityReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of secondary replicas associated with the Business Critical, Premium, or Hyperscale edition database that are used to provide high availability. Not applicable to a Hyperscale database within an elastic pool."
        },
        "secondaryType": {
          "$ref": "./common.json#/definitions/SecondaryType",
          "description": "The secondary type of the database if it is a secondary.  Valid values are Geo, Named and Standby."
        },
        "currentSku": {
          "$ref": "./common.json#/definitions/Sku",
          "description": "The name and tier of the SKU.",
          "readOnly": true
        },
        "autoPauseDelay": {
          "type": "integer",
          "format": "int32",
          "description": "Time in minutes after which database is automatically paused. A value of -1 means that automatic pause is disabled"
        },
        "currentBackupStorageRedundancy": {
          "$ref": "./common.json#/definitions/BackupStorageRedundancy",
          "description": "The storage account type used to store backups for this database.",
          "readOnly": true
        },
        "requestedBackupStorageRedundancy": {
          "$ref": "./common.json#/definitions/BackupStorageRedundancy",
          "description": "The storage account type to be used to store backups for this database."
        },
        "minCapacity": {
          "type": "number",
          "format": "double",
          "description": "Minimal capacity that database will always have allocated, if not paused"
        },
        "pausedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when database was paused by user configuration or action(ISO8601 format). Null if the database is ready.",
          "readOnly": true
        },
        "resumedDate": {
          "type": "string",
          "format": "date-time",
          "description": "The date when database was resumed by user action or database login (ISO8601 format). Null if the database is paused.",
          "readOnly": true
        },
        "maintenanceConfigurationId": {
          "type": "string",
          "description": "Maintenance configuration id assigned to the database. This configuration defines the period when the maintenance updates will occur."
        },
        "isLedgerOn": {
          "type": "boolean",
          "description": "Whether or not this database is a ledger database, which means all tables in the database are ledger tables. Note: the value of this property cannot be changed after the database has been created."
        },
        "isInfraEncryptionEnabled": {
          "type": "boolean",
          "description": "Infra encryption is enabled for this database.",
          "readOnly": true
        },
        "federatedClientId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "The Client id used for cross tenant per database CMK scenario"
        },
        "keys": {
          "type": "object",
          "description": "The resource ids of the user assigned identities to use",
          "additionalProperties": {
            "$ref": "./common.json#/definitions/DatabaseKey"
          }
        },
        "encryptionProtector": {
          "type": "string",
          "description": "The azure key vault URI of the database if it's configured with per Database Customer Managed Keys."
        },
        "preferredEnclaveType": {
          "$ref": "./common.json#/definitions/AlwaysEncryptedEnclaveType",
          "description": "Type of enclave requested on the database i.e. Default or VBS enclaves."
        },
        "useFreeLimit": {
          "type": "boolean",
          "description": "Whether or not the database uses free monthly limits. Allowed on one database in a subscription."
        },
        "freeLimitExhaustionBehavior": {
          "$ref": "./common.json#/definitions/FreeLimitExhaustionBehavior",
          "description": "Specifies the behavior when monthly free limits are exhausted for the free database.\n\nAutoPause: The database will be auto paused upon exhaustion of free limits for remainder of the month.\n\nBillForUsage: The database will continue to be online upon exhaustion of free limits and any overage will be billed."
        },
        "manualCutover": {
          "type": "boolean",
          "description": "Whether or not customer controlled manual cutover needs to be done during Update Database operation to Hyperscale tier.\n\nThis property is only applicable when scaling database from Business Critical/General Purpose/Premium/Standard tier to Hyperscale tier.\n\nWhen manualCutover is specified, the scaling operation will wait for user input to trigger cutover to Hyperscale database.\n\nTo trigger cutover, please provide 'performCutover' parameter when the Scaling operation is in Waiting state."
        },
        "performCutover": {
          "type": "boolean",
          "description": "To trigger customer controlled manual cutover during the wait state while Scaling operation is in progress.\n\nThis property parameter is only applicable for scaling operations that are initiated along with 'manualCutover' parameter.\n\nThis property is only applicable when scaling database from Business Critical/General Purpose/Premium/Standard tier to Hyperscale tier is already in progress.\n\nWhen performCutover is specified, the scaling operation will trigger cutover and perform role-change to Hyperscale database."
        },
        "encryptionProtectorAutoRotation": {
          "type": "boolean",
          "description": "The flag to enable or disable auto rotation of database encryption protector AKV key."
        },
        "provisioningState": {
          "type": "string",
          "description": "Specifies the provisioning state for this resource",
          "readOnly": true
        }
      }
    },
    "DatabaseUserIdentity": {
      "type": "object",
      "description": "Azure Active Directory identity configuration for a resource.",
      "properties": {
        "principalId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "The Azure Active Directory principal id.",
          "readOnly": true
        },
        "clientId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "The Azure Active Directory client id.",
          "readOnly": true
        }
      }
    },
    "ExportDatabaseDefinition": {
      "type": "object",
      "description": "Contains the information necessary to perform export database operation.",
      "properties": {
        "storageKeyType": {
          "$ref": "./common.json#/definitions/StorageKeyType",
          "description": "Storage key type: StorageAccessKey, SharedAccessKey, or ManagedIdentity.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "storageKey": {
          "type": "string",
          "description": "Storage key for the storage account. If StorageKeyType is ManagedIdentity, this field should specify the Managed Identity's resource ID.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "storageUri": {
          "type": "string",
          "description": "Storage Uri.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "administratorLogin": {
          "type": "string",
          "description": "Administrator login name. If AuthenticationType is ManagedIdentity, this field should specify the Managed Identity's resource ID.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "Administrator login password. If AuthenticationType is ManagedIdentity, this field should not be specified.",
          "x-ms-mutability": [
            "create"
          ],
          "x-ms-secret": true
        },
        "authenticationType": {
          "type": "string",
          "description": "Type of credentials provided for access to the target SQL server: SQL, ADPassword or ManagedIdentity.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "networkIsolation": {
          "$ref": "./common.json#/definitions/NetworkIsolationSettings",
          "description": "Optional resource information to enable network isolation for request.",
          "x-ms-mutability": [
            "create"
          ]
        }
      },
      "required": [
        "storageKeyType",
        "storageKey",
        "storageUri",
        "administratorLogin"
      ]
    },
    "ImportExistingDatabaseDefinition": {
      "type": "object",
      "description": "Contains the information necessary to perform import operation for existing database.",
      "properties": {
        "storageKeyType": {
          "$ref": "./common.json#/definitions/StorageKeyType",
          "description": "Storage key type: StorageAccessKey, SharedAccessKey, or ManagedIdentity.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "storageKey": {
          "type": "string",
          "description": "Storage key for the storage account. If StorageKeyType is ManagedIdentity, this field should specify the Managed Identity's resource ID.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "storageUri": {
          "type": "string",
          "description": "Storage Uri.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "administratorLogin": {
          "type": "string",
          "description": "Administrator login name. If AuthenticationType is ManagedIdentity, this field should specify the Managed Identity's resource ID.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "Administrator login password. If AuthenticationType is ManagedIdentity, this field should not be specified.",
          "x-ms-mutability": [
            "create"
          ],
          "x-ms-secret": true
        },
        "authenticationType": {
          "type": "string",
          "description": "Type of credentials provided for access to the target SQL server: SQL, ADPassword or ManagedIdentity.",
          "x-ms-mutability": [
            "create"
          ]
        },
        "networkIsolation": {
          "$ref": "./common.json#/definitions/NetworkIsolationSettings",
          "description": "Optional resource information to enable network isolation for request.",
          "x-ms-mutability": [
            "create"
          ]
        }
      },
      "required": [
        "storageKeyType",
        "storageKey",
        "storageUri",
        "administratorLogin"
      ]
    },
    "ResourceMoveDefinition": {
      "type": "object",
      "description": "Contains the information necessary to perform a resource move (rename).",
      "properties": {
        "id": {
          "type": "string",
          "description": "The target ID for the resource"
        }
      },
      "required": [
        "id"
      ]
    }
  },
  "parameters": {}
}
