{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DatabaseSqlVulnerabilityAssessmentBaselines"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}/baselines": {
      "get": {
        "operationId": "DatabaseSqlVulnerabilityAssessmentBaselines_ListBySqlVulnerabilityAssessment",
        "tags": [
          "DatabaseSqlVulnerabilityAssessmentBaselines"
        ],
        "description": "Gets a list of database's sql vulnerability assessment rule baselines.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseSqlVulnerabilityAssessmentBaselineSetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of database's sql vulnerability assessment rule baselines.": {
            "$ref": "./examples/DatabaseSqlVulnerabilityAssessmentBaselineListBySqlVulnerabilityAssessment.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/sqlVulnerabilityAssessments/{vulnerabilityAssessmentName}/baselines/{baselineName}": {
      "get": {
        "operationId": "DatabaseSqlVulnerabilityAssessmentBaselines_Get",
        "tags": [
          "DatabaseSqlVulnerabilityAssessmentBaselines"
        ],
        "description": "Gets a list of database's sql vulnerability assessment rule baselines.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "baselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "BaselineName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseSqlVulnerabilityAssessmentBaselineSet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of database's sql vulnerability assessment rule baselines.": {
            "$ref": "./examples/DatabaseSqlVulnerabilityAssessmentBaselineGet.json"
          }
        }
      },
      "put": {
        "operationId": "DatabaseSqlVulnerabilityAssessmentBaselines_CreateOrUpdate",
        "tags": [
          "DatabaseSqlVulnerabilityAssessmentBaselines"
        ],
        "description": "Add a database's vulnerability assessment rule baseline list.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vulnerabilityAssessmentName",
            "in": "path",
            "description": "The name of the vulnerability assessment.",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "VulnerabilityAssessmentName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "baselineName",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "BaselineName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "default"
                }
              ]
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The requested rule baseline resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseSqlVulnerabilityAssessmentRuleBaselineListInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DatabaseSqlVulnerabilityAssessmentBaselineSet' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DatabaseSqlVulnerabilityAssessmentBaselineSet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Add a database's vulnerability assessment rule baseline from the latest scan result.": {
            "$ref": "./examples/DatabaseSqlVulnerabilityAssessmentBaselineAddLatest.json"
          },
          "Add a database's vulnerability assessment rule baseline list.": {
            "$ref": "./examples/DatabaseSqlVulnerabilityAssessmentBaselineAdd.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DatabaseSqlVulnerabilityAssessmentBaselineSet": {
      "type": "object",
      "description": "A database sql vulnerability assessment baseline set.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseSqlVulnerabilityAssessmentBaselineSetProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DatabaseSqlVulnerabilityAssessmentBaselineSetListResult": {
      "type": "object",
      "description": "The response of a DatabaseSqlVulnerabilityAssessmentBaselineSet list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DatabaseSqlVulnerabilityAssessmentBaselineSet items on this page",
          "items": {
            "$ref": "#/definitions/DatabaseSqlVulnerabilityAssessmentBaselineSet"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DatabaseSqlVulnerabilityAssessmentBaselineSetProperties": {
      "type": "object",
      "description": "Properties of a database Sql Vulnerability Assessment baseline set.",
      "properties": {
        "results": {
          "type": "object",
          "description": "The baseline set result",
          "additionalProperties": {
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "type": "array"
          }
        }
      },
      "required": [
        "results"
      ]
    },
    "DatabaseSqlVulnerabilityAssessmentRuleBaselineListInput": {
      "type": "object",
      "description": "A database sql vulnerability assessment rule baseline list input.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DatabaseSqlVulnerabilityAssessmentRuleBaselineListInputProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DatabaseSqlVulnerabilityAssessmentRuleBaselineListInputProperties": {
      "type": "object",
      "description": "Properties of a database Sql Vulnerability Assessment rule baseline.",
      "properties": {
        "latestScan": {
          "type": "boolean",
          "description": "The latest scan flag"
        },
        "results": {
          "type": "object",
          "description": "The rule baseline result list",
          "additionalProperties": {
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "type": "array"
          }
        }
      },
      "required": [
        "latestScan",
        "results"
      ]
    }
  },
  "parameters": {}
}
