{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "JobTargetExecutions"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}/targets": {
      "get": {
        "operationId": "JobTargetExecutions_ListByStep",
        "tags": [
          "JobTargetExecutions"
        ],
        "description": "Lists the target executions of a job step execution.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAgentName",
            "in": "path",
            "description": "The name of the job agent.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobExecutionId",
            "in": "path",
            "description": "The unique id of the job execution",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "stepName",
            "in": "path",
            "description": "The name of the step.",
            "required": true,
            "type": "string"
          },
          {
            "name": "createTimeMin",
            "in": "query",
            "description": "If specified, only job executions created at or after the specified time are included.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createTimeMax",
            "in": "query",
            "description": "If specified, only job executions created before the specified time are included.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTimeMin",
            "in": "query",
            "description": "If specified, only job executions completed at or after the specified time are included.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTimeMax",
            "in": "query",
            "description": "If specified, only job executions completed before the specified time are included.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "If specified, only active or only completed job executions are included.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of elements in the collection to skip.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of elements to return from the collection.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json#/definitions/JobExecutionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List job step target executions": {
            "$ref": "./examples/ListJobExecutionTargetsByStep.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/steps/{stepName}/targets/{targetId}": {
      "get": {
        "operationId": "JobTargetExecutions_Get",
        "tags": [
          "JobTargetExecutions"
        ],
        "description": "Gets a target execution.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAgentName",
            "in": "path",
            "description": "The name of the job agent.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobExecutionId",
            "in": "path",
            "description": "The unique id of the job execution",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "stepName",
            "in": "path",
            "description": "The name of the step.",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetId",
            "in": "path",
            "description": "The target id.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json#/definitions/JobExecution"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a job step target execution": {
            "$ref": "./examples/GetJobExecutionTarget.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAgents/{jobAgentName}/jobs/{jobName}/executions/{jobExecutionId}/targets": {
      "get": {
        "operationId": "JobTargetExecutions_ListByJobExecution",
        "tags": [
          "JobTargetExecutions"
        ],
        "description": "Lists target executions for all steps of a job execution.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAgentName",
            "in": "path",
            "description": "The name of the job agent.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobExecutionId",
            "in": "path",
            "description": "The id of the job execution",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "createTimeMin",
            "in": "query",
            "description": "If specified, only job executions created at or after the specified time are included.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "createTimeMax",
            "in": "query",
            "description": "If specified, only job executions created before the specified time are included.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTimeMin",
            "in": "query",
            "description": "If specified, only job executions completed at or after the specified time are included.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "endTimeMax",
            "in": "query",
            "description": "If specified, only job executions completed before the specified time are included.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "isActive",
            "in": "query",
            "description": "If specified, only active or only completed job executions are included.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "The number of elements in the collection to skip.",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of elements to return from the collection.",
            "required": false,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "./common.json#/definitions/JobExecutionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List job step target executions": {
            "$ref": "./examples/ListJobExecutionTargetsByExecution.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}
