{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ManagedInstanceAdministrators"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/administrators": {
      "get": {
        "operationId": "ManagedInstanceAdministrators_ListByInstance",
        "tags": [
          "ManagedInstanceAdministrators"
        ],
        "description": "Gets a list of managed instance administrators.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "managedInstanceName",
            "in": "path",
            "description": "The name of the managed instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedInstanceAdministratorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List administrators of managed instance": {
            "$ref": "./examples/ManagedInstanceAdministratorListByInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/administrators/{administratorName}": {
      "get": {
        "operationId": "ManagedInstanceAdministrators_Get",
        "tags": [
          "ManagedInstanceAdministrators"
        ],
        "description": "Gets a managed instance administrator.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "managedInstanceName",
            "in": "path",
            "description": "The name of the managed instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "administratorName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "ActiveDirectory"
            ],
            "x-ms-enum": {
              "name": "AdministratorName",
              "modelAsString": true,
              "values": [
                {
                  "name": "ActiveDirectory",
                  "value": "ActiveDirectory",
                  "description": "ActiveDirectory"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedInstanceAdministrator"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get administrator of managed instance": {
            "$ref": "./examples/ManagedInstanceAdministratorGet.json"
          }
        }
      },
      "put": {
        "operationId": "ManagedInstanceAdministrators_CreateOrUpdate",
        "tags": [
          "ManagedInstanceAdministrators"
        ],
        "description": "Creates or updates a managed instance administrator.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "managedInstanceName",
            "in": "path",
            "description": "The name of the managed instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "administratorName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "ActiveDirectory"
            ],
            "x-ms-enum": {
              "name": "AdministratorName",
              "modelAsString": true,
              "values": [
                {
                  "name": "ActiveDirectory",
                  "value": "ActiveDirectory",
                  "description": "ActiveDirectory"
                }
              ]
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The requested administrator parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedInstanceAdministrator"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ManagedInstanceAdministrator' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ManagedInstanceAdministrator"
            }
          },
          "201": {
            "description": "Resource 'ManagedInstanceAdministrator' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ManagedInstanceAdministrator"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create administrator of managed instance": {
            "$ref": "./examples/ManagedInstanceAdministratorCreate.json"
          },
          "Update administrator of managed instance": {
            "$ref": "./examples/ManagedInstanceAdministratorUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ManagedInstanceAdministrator"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ManagedInstanceAdministrators_Delete",
        "tags": [
          "ManagedInstanceAdministrators"
        ],
        "description": "Deletes a managed instance administrator.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "managedInstanceName",
            "in": "path",
            "description": "The name of the managed instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "administratorName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string",
            "enum": [
              "ActiveDirectory"
            ],
            "x-ms-enum": {
              "name": "AdministratorName",
              "modelAsString": true,
              "values": [
                {
                  "name": "ActiveDirectory",
                  "value": "ActiveDirectory",
                  "description": "ActiveDirectory"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete administrator of managed instance": {
            "$ref": "./examples/ManagedInstanceAdministratorDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ManagedInstanceAdministrator": {
      "type": "object",
      "description": "An Azure SQL managed instance administrator.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ManagedInstanceAdministratorProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ManagedInstanceAdministratorListResult": {
      "type": "object",
      "description": "The response of a ManagedInstanceAdministrator list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ManagedInstanceAdministrator items on this page",
          "items": {
            "$ref": "#/definitions/ManagedInstanceAdministrator"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ManagedInstanceAdministratorProperties": {
      "type": "object",
      "description": "The properties of a managed instance administrator.",
      "properties": {
        "administratorType": {
          "$ref": "./common.json#/definitions/ManagedInstanceAdministratorType",
          "description": "Type of the managed instance administrator."
        },
        "login": {
          "type": "string",
          "description": "Login name of the managed instance administrator."
        },
        "sid": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "SID (object ID) of the managed instance administrator."
        },
        "tenantId": {
          "$ref": "./common.json#/definitions/Azure.Core.uuid",
          "description": "Tenant ID of the managed instance administrator."
        }
      },
      "required": [
        "administratorType",
        "login",
        "sid"
      ]
    }
  },
  "parameters": {}
}
