{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "RestorableDroppedDatabases"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases": {
      "get": {
        "operationId": "RestorableDroppedDatabases_ListByServer",
        "tags": [
          "RestorableDroppedDatabases"
        ],
        "description": "Gets a list of restorable dropped databases.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableDroppedDatabaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of restorable dropped databases.": {
            "$ref": "./examples/ListRestorableDroppedDatabasesByServer.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/restorableDroppedDatabases/{restorableDroppedDatabaseId}": {
      "get": {
        "operationId": "RestorableDroppedDatabases_Get",
        "tags": [
          "RestorableDroppedDatabases"
        ],
        "description": "Gets a restorable dropped database.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "restorableDroppedDatabaseId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The child resources to include in the response.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An OData filter expression that filters elements in the collection.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RestorableDroppedDatabase"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a restorable dropped database with expand equals keys.": {
            "$ref": "./examples/GetRestorableDroppedDatabaseWithExpandEqualsKeys.json"
          },
          "Gets a restorable dropped database.": {
            "$ref": "./examples/GetRestorableDroppedDatabase.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RestorableDroppedDatabase": {
      "type": "object",
      "description": "A restorable dropped database resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RestorableDroppedDatabaseProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "./common.json#/definitions/Sku",
          "description": "The name and tier of the SKU."
        },
        "location": {
          "type": "string",
          "description": "Resource location.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RestorableDroppedDatabaseListResult": {
      "type": "object",
      "description": "The response of a RestorableDroppedDatabase list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The RestorableDroppedDatabase items on this page",
          "items": {
            "$ref": "#/definitions/RestorableDroppedDatabase"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RestorableDroppedDatabaseProperties": {
      "type": "object",
      "description": "The restorable dropped database's properties.",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "The name of the database.",
          "readOnly": true
        },
        "maxSizeBytes": {
          "type": "integer",
          "format": "int64",
          "description": "The max size of the database expressed in bytes.",
          "readOnly": true
        },
        "creationDate": {
          "type": "string",
          "format": "date-time",
          "description": "The creation date of the database (ISO8601 format).",
          "readOnly": true
        },
        "deletionDate": {
          "type": "string",
          "format": "date-time",
          "description": "The deletion date of the database (ISO8601 format).",
          "readOnly": true
        },
        "earliestRestoreDate": {
          "type": "string",
          "format": "date-time",
          "description": "The earliest restore date of the database (ISO8601 format).",
          "readOnly": true
        },
        "backupStorageRedundancy": {
          "$ref": "./common.json#/definitions/BackupStorageRedundancy",
          "description": "The storage account type used to store backups for this database.",
          "readOnly": true
        },
        "keys": {
          "type": "object",
          "description": "The resource ids of the user assigned identities to use",
          "additionalProperties": {
            "$ref": "./common.json#/definitions/DatabaseKey"
          }
        }
      }
    }
  },
  "parameters": {}
}
