{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "ServerConfigurationOptions"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/serverConfigurationOptions": {
      "get": {
        "operationId": "ServerConfigurationOptions_ListByManagedInstance",
        "tags": [
          "ServerConfigurationOptions"
        ],
        "description": "Gets a list of managed instance server configuration options.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "managedInstanceName",
            "in": "path",
            "description": "The name of the managed instance.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerConfigurationOptionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a list of managed instance server configuration options.": {
            "$ref": "./examples/ServerConfigurationOptionList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/managedInstances/{managedInstanceName}/serverConfigurationOptions/{serverConfigurationOptionName}": {
      "get": {
        "operationId": "ServerConfigurationOptions_Get",
        "tags": [
          "ServerConfigurationOptions"
        ],
        "description": "Gets managed instance server configuration option.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "managedInstanceName",
            "in": "path",
            "description": "The name of the managed instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverConfigurationOptionName",
            "in": "path",
            "description": "The name of the server configuration option.",
            "required": true,
            "type": "string",
            "enum": [
              "allowPolybaseExport"
            ],
            "x-ms-enum": {
              "name": "ServerConfigurationOptionName",
              "modelAsString": true,
              "values": [
                {
                  "name": "allowPolybaseExport",
                  "value": "allowPolybaseExport",
                  "description": "allowPolybaseExport"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServerConfigurationOption"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets managed instance server configuration option.": {
            "$ref": "./examples/ServerConfigurationOptionGet.json"
          }
        }
      },
      "put": {
        "operationId": "ServerConfigurationOptions_CreateOrUpdate",
        "tags": [
          "ServerConfigurationOptions"
        ],
        "description": "Updates managed instance server configuration option.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "managedInstanceName",
            "in": "path",
            "description": "The name of the managed instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverConfigurationOptionName",
            "in": "path",
            "description": "The name of the server configuration option.",
            "required": true,
            "type": "string",
            "enum": [
              "allowPolybaseExport"
            ],
            "x-ms-enum": {
              "name": "ServerConfigurationOptionName",
              "modelAsString": true,
              "values": [
                {
                  "name": "allowPolybaseExport",
                  "value": "allowPolybaseExport",
                  "description": "allowPolybaseExport"
                }
              ]
            }
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Server configuration option parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerConfigurationOption"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ServerConfigurationOption"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates managed instance server configuration option.": {
            "$ref": "./examples/ServerConfigurationOptionUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/ServerConfigurationOption"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ServerConfigurationOption": {
      "type": "object",
      "description": "A server configuration option",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerConfigurationOptionProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServerConfigurationOptionListResult": {
      "type": "object",
      "description": "The response of a ServerConfigurationOption list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ServerConfigurationOption items on this page",
          "items": {
            "$ref": "#/definitions/ServerConfigurationOption"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServerConfigurationOptionProperties": {
      "type": "object",
      "description": "The properties of server configuration option.",
      "properties": {
        "serverConfigurationOptionValue": {
          "type": "integer",
          "format": "int32",
          "description": "Value of the server configuration option.",
          "x-ms-mutability": [
            "read",
            "update"
          ]
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "Provisioning state of server configuration option.",
          "readOnly": true
        }
      },
      "required": [
        "serverConfigurationOptionValue"
      ]
    }
  },
  "parameters": {}
}
