{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "version": "2025-02-01-preview",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "WorkloadClassifiers"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/workloadGroups/{workloadGroupName}/workloadClassifiers": {
      "get": {
        "operationId": "WorkloadClassifiers_ListByWorkloadGroup",
        "tags": [
          "WorkloadClassifiers"
        ],
        "description": "Gets the list of workload classifiers for a workload group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workloadGroupName",
            "in": "path",
            "description": "The name of the workload group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadClassifierListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the list of workload classifiers for a workload group": {
            "$ref": "./examples/GetWorkloadClassifierList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/workloadGroups/{workloadGroupName}/workloadClassifiers/{workloadClassifierName}": {
      "get": {
        "operationId": "WorkloadClassifiers_Get",
        "tags": [
          "WorkloadClassifiers"
        ],
        "description": "Gets a workload classifier",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workloadGroupName",
            "in": "path",
            "description": "The name of the workload group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workloadClassifierName",
            "in": "path",
            "description": "The name of the workload classifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkloadClassifier"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a workload classifier for a data warehouse": {
            "$ref": "./examples/GetWorkloadClassifier.json"
          }
        }
      },
      "put": {
        "operationId": "WorkloadClassifiers_CreateOrUpdate",
        "tags": [
          "WorkloadClassifiers"
        ],
        "description": "Creates or updates a workload classifier.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workloadGroupName",
            "in": "path",
            "description": "The name of the workload group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workloadClassifierName",
            "in": "path",
            "description": "The name of the workload classifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The properties of the workload classifier.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkloadClassifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'WorkloadClassifier' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/WorkloadClassifier"
            }
          },
          "201": {
            "description": "Resource 'WorkloadClassifier' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/WorkloadClassifier"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a workload group with all properties specified.": {
            "$ref": "./examples/CreateOrUpdateWorkloadClassifierMax.json"
          },
          "Create a workload group with the required properties specified.": {
            "$ref": "./examples/CreateOrUpdateWorkloadClassifierMin.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/WorkloadClassifier"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "WorkloadClassifiers_Delete",
        "tags": [
          "WorkloadClassifiers"
        ],
        "description": "Deletes a workload classifier.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the server.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the database.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workloadGroupName",
            "in": "path",
            "description": "The name of the workload group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "workloadClassifierName",
            "in": "path",
            "description": "The name of the workload classifier.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a workload classifier": {
            "$ref": "./examples/DeleteWorkloadClassifier.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "WorkloadClassifier": {
      "type": "object",
      "description": "Workload classifier operations for a data warehouse",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkloadClassifierProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "WorkloadClassifierListResult": {
      "type": "object",
      "description": "The response of a WorkloadClassifier list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The WorkloadClassifier items on this page",
          "items": {
            "$ref": "#/definitions/WorkloadClassifier"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "WorkloadClassifierProperties": {
      "type": "object",
      "description": "Workload classifier definition. For more information look at sys.workload_management_workload_classifiers (DMV).",
      "properties": {
        "memberName": {
          "type": "string",
          "description": "The workload classifier member name."
        },
        "label": {
          "type": "string",
          "description": "The workload classifier label."
        },
        "context": {
          "type": "string",
          "description": "The workload classifier context."
        },
        "startTime": {
          "type": "string",
          "description": "The workload classifier start time for classification."
        },
        "endTime": {
          "type": "string",
          "description": "The workload classifier end time for classification."
        },
        "importance": {
          "type": "string",
          "description": "The workload classifier importance."
        }
      },
      "required": [
        "memberName"
      ]
    }
  },
  "parameters": {}
}
