{
  "swagger": "2.0",
  "info": {
    "version": "2020-07-01-preview",
    "title": "SourceControlConfigurationClient",
    "description": "Use these APIs to create Source Control Configuration resources through ARM, for Kubernetes Clusters."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/sourceControlConfigurations/{sourceControlConfigurationName}": {
      "get": {
        "tags": [
          "SourceControlConfiguration"
        ],
        "description": "Gets details of the Source Control Configuration.",
        "operationId": "SourceControlConfigurations_Get",
        "x-ms-examples": {
          "Get Source Control Configuration": {
            "$ref": "./examples/GetSourceControlConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/SourceControlConfigurationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SourceControlConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SourceControlConfiguration"
        ],
        "description": "Create a new Kubernetes Source Control Configuration.",
        "operationId": "SourceControlConfigurations_CreateOrUpdate",
        "x-ms-examples": {
          "Create Source Control Configuration": {
            "$ref": "./examples/CreateSourceControlConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/SourceControlConfigurationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "sourceControlConfiguration",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SourceControlConfiguration"
            },
            "description": "Properties necessary to Create KubernetesConfiguration."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SourceControlConfiguration"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/SourceControlConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "SourceControlConfiguration"
        ],
        "description": "This will delete the YAML file used to set up the Source control configuration, thus stopping future sync from the source repo.",
        "operationId": "SourceControlConfigurations_Delete",
        "x-ms-examples": {
          "Delete Source Control Configuration": {
            "$ref": "./examples/DeleteSourceControlConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/SourceControlConfigurationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.  The request has been completed successfully."
          },
          "204": {
            "description": "No Content.  The request has been accepted but the configuration was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/sourceControlConfigurations": {
      "get": {
        "tags": [
          "SourceControlConfiguration"
        ],
        "description": "List all Source Control Configurations.",
        "operationId": "SourceControlConfigurations_List",
        "x-ms-examples": {
          "List Source Control Configuration": {
            "$ref": "./examples/ListSourceControlConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SourceControlConfigurationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.KubernetesConfiguration/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "BatchAccountDelete": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "description": "List all the available operations the KubernetesConfiguration resource provider supports.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions/{extensionInstanceName}": {
      "put": {
        "tags": [
          "Extensions",
          "ClusterExtensions"
        ],
        "description": "Create a new Kubernetes Cluster Extension Instance.",
        "operationId": "Extensions_Create",
        "x-ms-examples": {
          "Create Extension": {
            "$ref": "./examples/CreateExtension.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "extensionInstance",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionInstance"
            },
            "description": "Properties necessary to Create an Extension Instance."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Extensions",
          "ClusterExtensions"
        ],
        "description": "Gets details of the Kubernetes Cluster Extension Instance.",
        "operationId": "Extensions_Get",
        "x-ms-examples": {
          "Get Extension": {
            "$ref": "./examples/GetExtension.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Extensions",
          "ClusterExtensions"
        ],
        "description": "Update an existing Kubernetes Cluster Extension Instance.",
        "operationId": "Extensions_Update",
        "x-ms-examples": {
          "Create Extension": {
            "$ref": "./examples/UpdateExtension.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "extensionInstance",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExtensionInstanceUpdate"
            },
            "description": "Properties to Update in the Extension Instance."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionInstance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Extensions",
          "ClusterExtensions"
        ],
        "description": "Delete a Kubernetes Cluster Extension Instance. This will cause the Agent to Uninstall the extension instance from the cluster.",
        "operationId": "Extensions_Delete",
        "x-ms-examples": {
          "Get Extension": {
            "$ref": "./examples/DeleteExtension.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ExtensionInstanceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.  The request has been completed successfully."
          },
          "204": {
            "description": "No Content.  The request has been accepted but the extension instance was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{clusterRp}/{clusterResourceName}/{clusterName}/providers/Microsoft.KubernetesConfiguration/extensions": {
      "get": {
        "tags": [
          "Extensions",
          "ClusterExtensions"
        ],
        "description": "List all Source Control Configurations.",
        "operationId": "SourceControlConfigurations_List",
        "x-ms-examples": {
          "List Source Control Configuration": {
            "$ref": "./examples/ListSourceControlConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterRpParameter"
          },
          {
            "$ref": "#/parameters/ClusterResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExtensionInstanceForList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The Resource model definition.",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "Result": {
      "description": "Sample result definition",
      "properties": {
        "sampleProperty": {
          "type": "string",
          "description": "Sample property of type string"
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "description": "Error definition.",
          "$ref": "#/definitions/Error"
        }
      }
    },
    "Error": {
      "description": "Error definition.",
      "readOnly": true,
      "required": [
        "message",
        "code"
      ],
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "minimum": 100,
          "maximum": 600
        },
        "message": {
          "description": "Description of the error.",
          "type": "string"
        }
      }
    },
    "ComplianceStatus": {
      "description": "Compliance Status details",
      "type": "object",
      "readOnly": true,
      "properties": {
        "complianceState": {
          "description": "The compliance state of the configuration.",
          "$ref": "#/definitions/ComplianceState",
          "readOnly": true
        },
        "lastConfigApplied": {
          "description": "Datetime the configuration was last applied.",
          "type": "string",
          "format": "date-time"
        },
        "message": {
          "description": "Message from when the configuration was applied.",
          "type": "string"
        },
        "messageLevel": {
          "description": "Level of the message.",
          "type": "string",
          "enum": [
            "Error",
            "Warning",
            "Information"
          ],
          "x-ms-enum": {
            "name": "messageLevel",
            "modelAsString": true
          }
        }
      }
    },
    "ComplianceState": {
      "description": "The compliance state of the configuration.",
      "type": "string",
      "readOnly": true,
      "x-ms-enum": {
        "name": "complianceState",
        "modelAsString": true
      },
      "enum": [
        "Pending",
        "Compliant",
        "Noncompliant",
        "Installed",
        "Failed"
      ]
    },
    "ChartVersion": {
      "description": "Version of the operator Helm chart.",
      "type": "string"
    },
    "ChartValues": {
      "description": "Values override for the operator Helm chart.",
      "type": "string"
    },
    "HelmOperatorProperties": {
      "description": "Properties for Helm operator.",
      "type": "object",
      "properties": {
        "chartVersion": {
          "description": "Version of the operator Helm chart.",
          "$ref": "#/definitions/ChartVersion"
        },
        "chartValues": {
          "description": "Values override for the operator Helm chart.",
          "$ref": "#/definitions/ChartValues"
        }
      }
    },
    "SourceControlConfiguration": {
      "tags": [
        "SourceControlConfiguration"
      ],
      "description": "The SourceControl Configuration object.",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Properties to create a Source Control Configuration resource",
          "properties": {
            "repositoryUrl": {
              "type": "string",
              "description": "Url of the SourceControl Repository."
            },
            "operatorNamespace": {
              "description": "The namespace to which this operator is installed to. Maximum of 253 lower case alphanumeric characters, hyphen and period only.",
              "type": "string",
              "default": "default"
            },
            "operatorInstanceName": {
              "description": "Instance name of the operator - identifying the specific configuration.",
              "type": "string"
            },
            "operatorType": {
              "description": "Type of the operator",
              "type": "string",
              "enum": [
                "Flux"
              ],
              "x-ms-enum": {
                "name": "operatorType",
                "modelAsString": true
              }
            },
            "operatorParams": {
              "description": "Any Parameters for the Operator instance in string format.",
              "type": "string"
            },
            "operatorScope": {
              "description": "Scope at which the operator will be installed.",
              "type": "string",
              "enum": [
                "cluster",
                "namespace"
              ],
              "default": "cluster",
              "x-ms-enum": {
                "name": "operatorScope",
                "modelAsString": true
              }
            },
            "repositoryPublicKey": {
              "description": "Public Key associated with this SourceControl configuration (either generated within the cluster or provided by the user).",
              "type": "string",
              "readOnly": true
            },
            "enableHelmOperator": {
              "description": "Option to enable Helm Operator for this git configuration.",
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "x-ms-enum": {
                "name": "enableHelmOperator",
                "modelAsString": true
              }
            },
            "helmOperatorProperties": {
              "description": "Properties for Helm operator.",
              "type": "object",
              "$ref": "#/definitions/HelmOperatorProperties"
            },
            "provisioningState": {
              "type": "string",
              "description": "The provisioning state of the resource provider.",
              "readOnly": true,
              "x-ms-enum": {
                "modelAsString": true,
                "name": "ProvisioningState"
              },
              "enum": [
                "Accepted",
                "Deleting",
                "Running",
                "Succeeded",
                "Failed"
              ]
            },
            "complianceStatus": {
              "type": "object",
              "description": "Compliance Status of the Configuration",
              "readOnly": true,
              "$ref": "#/definitions/ComplianceStatus"
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "SourceControlConfigurationList": {
      "description": "Result of the request to list Source Control Configurations.  It contains a list of SourceControlConfiguration objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SourceControlConfiguration"
          },
          "description": "List of Source Control Configurations within a Kubernetes cluster."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "URL to get the next set of configuration objects, if any."
        }
      }
    },
    "ResourceProviderOperation": {
      "description": "Supported operation of this resource provider.",
      "readOnly": true,
      "properties": {
        "name": {
          "description": "Operation name, in format of {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "Display metadata associated with the operation.",
          "properties": {
            "provider": {
              "description": "Resource provider: Microsoft KubernetesConfiguration.",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed.",
              "type": "string"
            },
            "operation": {
              "description": "Type of operation: get, read, delete, etc.",
              "type": "string"
            },
            "description": {
              "description": "Description of this operation.",
              "type": "string"
            }
          }
        }
      }
    },
    "ResourceProviderOperationList": {
      "description": "Result of the request to list operations.",
      "readOnly": true,
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          },
          "description": "List of operations supported by this resource provider."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "URL to the next set of results, if any."
        }
      }
    },
    "ExtensionConfigurationSettings": {
      "description": "Name-value pairs for configuring the extensionInstance",
      "additionalProperties": {
        "type": "string"
      }
    },
    "ExtensionConfigurationProtectedSettings": {
      "description": "Name-value pairs of protected configuration settings for the extensionInstance",
      "additionalProperties": {
        "type": "string"
      }
    },
    "ExtensionAutoUpgrade": {
      "description": "Flag to note if this instance participates in Extension Lifecylce Management or not.",
      "type": "string",
      "enum": [
        "true",
        "false"
      ],
      "default": "true",
      "x-ms-enum": {
        "name": "autoUpgradeType",
        "modelAsString": true
      }
    },
    "ExtensionReleaseTrain": {
      "description": "Upgrade releaseTrain this extension instance participates in - only if autoUpgrade is 'true'.",
      "type": "string",
      "enum": [
        "Stable",
        "Preview"
      ],
      "default": "Stable",
      "x-ms-enum": {
        "name": "releaseTrainType",
        "modelAsString": true
      }
    },
    "ExtensionScope": {
      "description": "Scope at which the extension instance is installed.",
      "type": "string",
      "enum": [
        "cluster",
        "namespace"
      ],
      "default": "namespace",
      "x-ms-enum": {
        "name": "extensionScope",
        "modelAsString": true
      }
    },
    "InstallStatus": {
      "description": "Status of installation of this instance of the extension.",
      "type": "string",
      "readOnly": true,
      "enum": [
        "InstallPending",
        "Installed",
        "InstallFailed"
      ]
    },
    "ExtensionStatus": {
      "description": "Status from this instance of the extension.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "Status code provided by the Extension"
        },
        "displayStatus": {
          "type": "string",
          "description": "Short description of status of this instanace of the extension."
        },
        "level": {
          "type": "string",
          "description": "Level of the status.",
          "enum": [
            "Error",
            "Warning",
            "Information"
          ]
        },
        "message": {
          "type": "string",
          "description": "Detailed message of the status from the Extension instance."
        },
        "time": {
          "type": "string",
          "description": "DateLiteral (per ISO8601) noting the time of installation status."
        }
      }
    },
    "ExtensionInstance": {
      "tags": [
        "ClusterExtensions",
        "Extensions"
      ],
      "description": "The Extension Instance object.",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Properties of an Extension Instance resource",
          "properties": {
            "extensionType": {
              "type": "string",
              "description": "Type of the Extension, of which this resource is an instance of.  It must be one of the Extension Types registered with Microsoft.KubernetesConfiguration by the Extension publisher.",
              "required": true
            },
            "autoUpgrade": {
              "description": "Flag to note if this instance participates in Extension Lifecylce Management or not.",
              "$ref": "#/definitions/ExtensionAutoUpgrade"
            },
            "releaseTrain": {
              "description": "Upgrade releaseTrain this extension instance participates in - only if autoUpgrade is 'true'.",
              "$ref": "#/definitions/ExtensionReleaseTrain"
            },
            "version": {
              "description": "Version of the extension for this extension instance, if it is 'pinned' to a specific version.",
              "type": "string"
            },
            "scope": {
              "description": "Scope at which the extension instance is installed.",
              "$ref": "#/definitions/ExtensionScope"
            },
            "namespace": {
              "description": "The namespace to which this extension is installed.",
              "type": "string",
              "default": "default"
            },
            "configurationSettings": {
              "description": "Configuration settings, as name-value pairs for configuring this instance of the extension..",
              "type": "object",
              "$ref": "#/definitions/ExtensionConfigurationSettings"
            },
            "configurationProtectedSettings": {
              "description": "Configuration settings that are sensitive, as name-value pairs for configuring this instance of the extension..",
              "type": "object",
              "$ref": "#/definitions/ExtensionConfigurationProtectedSettings"
            },
            "installStatus": {
              "type": "string",
              "description": "Status of installation of this instance of the extension.",
              "$ref": "#/definitions/InstallStatus"
            },
            "statuses": [
              {
                "type": "object",
                "description": "Status from this instance of the extension.",
                "$ref": "#/definitions/ExtensionStatus"
              }
            ],
            "creationTime": {
              "type": "string",
              "description": "DateLiteral (per ISO8601) noting the time the resource was created by the client (user).",
              "readOnly": true
            },
            "lastModifiedTime": {
              "type": "string",
              "description": "DateLiteral (per ISO8601) noting the time the resource was modified by the client (user).",
              "readOnly": true
            },
            "lastStatusTime": {
              "type": "string",
              "description": "DateLiteral (per ISO8601) noting the time of last status from the agent.",
              "readOnly": true
            },
            "error": {
              "type": "object",
              "description": "Error information from the Agent for errors during installation.",
              "readOnly": true,
              "$ref": "#/definitions/Error"
            }
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/ProxyResource"
          }
        ]
      }
    },
    "ExtensionInstanceForList": {
      "description": "The Extension Instance object.",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Properties of an Extension Instance resource",
          "readOnly": true,
          "properties": {
            "extensionType": {
              "type": "string",
              "description": "Type of the Extension, of which this resource is an instance of.  It must be one of the Extension Types registered with Microsoft.KubernetesConfiguration by the Extension publisher."
            },
            "autoUpgrade": {
              "description": "Flag to note if this instance participates in Extension Lifecylce Management or not.",
              "$ref": "#/definitions/ExtensionAutoUpgrade"
            },
            "releaseTrain": {
              "description": "Upgrade releaseTrain this extension instance participates in - only if autoUpgrade is 'true'.",
              "$ref": "#/definitions/ExtensionReleaseTrain"
            },
            "version": {
              "description": "Version of the extension for this extension instance, if it is 'pinned' to a specific version.",
              "type": "string"
            },
            "scope": {
              "description": "Scope at which the extension instance is installed.",
              "$ref": "#/definitions/ExtensionScope"
            },
            "namespace": {
              "description": "The namespace to which this extension is installed.",
              "type": "string",
              "default": "default"
            },
            "installStatus": {
              "type": "string",
              "description": "Status of installation of this instance of the extension.",
              "$ref": "#/definitions/InstallStatus"
            },
            "statuses": [
              {
                "type": "object",
                "description": "Status from this instance of the extension.",
                "$ref": "#/definitions/ExtensionStatus"
              }
            ],
            "creationTime": {
              "type": "string",
              "description": "DateLiteral (per ISO8601) noting the time the resource was created by the client (user).",
              "readOnly": true
            },
            "lastModifiedTime": {
              "type": "string",
              "description": "DateLiteral (per ISO8601) noting the time the resource was modified by the client (user).",
              "readOnly": true
            },
            "lastStatusTime": {
              "type": "string",
              "description": "DateLiteral (per ISO8601) noting the time of last status from the agent.",
              "readOnly": true
            },
            "error": {
              "type": "object",
              "description": "Error information from the Agent for errors during installation.",
              "readOnly": true,
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "ExtenionInstancesList": {
      "description": "Result of the request to list Extension Instances.  It contains a list of ExtensionInstance objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ExtensionInstance"
          },
          "description": "List of Extension Instances within a Kubernetes cluster."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "URL to get the next set of extension instanace objects, if any."
        }
      }
    },
    "ExtensionInstanceUpdate": {
      "description": "Update Extension Instance request object.",
      "properties": {
        "properties": {
          "type": "object",
          "x-ms-client-flatten": true,
          "description": "Properties to update an Extension Instance resource",
          "properties": {
            "autoUpgrade": {
              "description": "Flag to note if this instance participates in Extension Lifecylce Management or not.",
              "$ref": "#/definitions/ExtensionAutoUpgrade"
            },
            "releaseTrain": {
              "description": "Upgrade releaseTrain this extension instance participates in - only if autoUpgrade is 'true'.",
              "$ref": "#/definitions/ExtensionReleaseTrain"
            },
            "version": {
              "description": "Version number of extension, to 'pin' to a specific version.  autoUpgrade must be 'false'.",
              "type": "string"
            }
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/ProxyResource"
          }
        ]
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ClusterRpParameter": {
      "name": "clusterRp",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "Microsoft.ContainerService",
        "Microsoft.Kubernetes"
      ],
      "description": "The Kubernetes cluster RP - either Microsoft.ContainerService (for AKS clusters) or Microsoft.Kubernetes (for OnPrem K8S clusters).",
      "x-ms-parameter-location": "method"
    },
    "ClusterResourceNameParameter": {
      "name": "clusterResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "enum": [
        "managedClusters",
        "connectedClusters"
      ],
      "description": "The Kubernetes cluster resource name - either managedClusters (for AKS clusters) or connectedClusters (for OnPrem K8S clusters).",
      "x-ms-parameter-location": "method"
    },
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the kubernetes cluster.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "SourceControlConfigurationNameParameter": {
      "name": "sourceControlConfigurationName",
      "in": "path",
      "description": "Name of the Source Control Configuration.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ExtensionInstanceNameParameter": {
      "name": "extensionInstanceName",
      "in": "path",
      "description": "Name of an instance of the Extension.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}