{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Accounts Control Plane API",
    "version": "2023-04-03",
    "description": "Monitor Management Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "AzureMonitorWorkspaceResources"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaceResources_ListBySubscription",
        "tags": [
          "AzureMonitorWorkspaceResources"
        ],
        "description": "Lists all Azure Monitor Workspaces in the specified subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts": {
      "get": {
        "operationId": "AzureMonitorWorkspaceResources_ListByResourceGroup",
        "tags": [
          "AzureMonitorWorkspaceResources"
        ],
        "description": "Lists all Azure Monitor Workspaces in the specified resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Monitor/accounts/{azureMonitorWorkspaceName}": {
      "get": {
        "operationId": "AzureMonitorWorkspaceResources_Get",
        "tags": [
          "AzureMonitorWorkspaceResources"
        ],
        "description": "Returns the specified Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "AzureMonitorWorkspaceResources_Create",
        "tags": [
          "AzureMonitorWorkspaceResources"
        ],
        "description": "Creates or updates an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Properties that need to be specified to create a new Azure Monitor Workspace",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AzureMonitorWorkspaceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "201": {
            "description": "Resource 'AzureMonitorWorkspaceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "AzureMonitorWorkspaceResources_Update",
        "tags": [
          "AzureMonitorWorkspaceResources"
        ],
        "description": "Updates part of an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResourceForUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AzureMonitorWorkspaceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "AzureMonitorWorkspaceResources_Delete",
        "tags": [
          "AzureMonitorWorkspaceResources"
        ],
        "description": "Deletes an Azure Monitor Workspace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "azureMonitorWorkspaceName",
            "in": "path",
            "description": "The name of the Azure Monitor Workspace. The name is case insensitive",
            "required": true,
            "type": "string",
            "pattern": "^(?!-)[a-zA-Z0-9-]+[^-]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AzureMonitorWorkspace": {
      "type": "object",
      "description": "Properties of an Azure Monitor Workspace",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The immutable Id of the Azure Monitor Workspace. This property is read-only.",
          "readOnly": true
        },
        "metrics": {
          "$ref": "#/definitions/AzureMonitorWorkspaceMetrics",
          "description": "Properties related to the metrics container in the Azure Monitor Workspace",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the Azure Monitor Workspace. Set to Succeeded if everything is healthy.",
          "readOnly": true
        },
        "defaultIngestionSettings": {
          "$ref": "#/definitions/AzureMonitorWorkspaceDefaultIngestionSettings",
          "description": "The Data Collection Rule and Endpoint used for ingestion by default.",
          "readOnly": true
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "List of private endpoint connections",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ]
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccess",
          "description": "Gets or sets allow or disallow public network access to Azure Monitor Workspace",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "AzureMonitorWorkspaceDefaultIngestionSettings": {
      "type": "object",
      "description": "The Data Collection Rule and Endpoint used for ingestion by default.",
      "allOf": [
        {
          "$ref": "#/definitions/IngestionSettings"
        }
      ]
    },
    "AzureMonitorWorkspaceMetrics": {
      "type": "object",
      "description": "Properties related to the metrics container in the Azure Monitor Workspace",
      "allOf": [
        {
          "$ref": "#/definitions/Metrics"
        }
      ]
    },
    "AzureMonitorWorkspaceResource": {
      "type": "object",
      "description": "An Azure Monitor Workspace definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureMonitorWorkspaceResourceProperties",
          "description": "Resource properties"
        },
        "etag": {
          "type": "string",
          "description": "Resource entity tag (ETag)",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AzureMonitorWorkspaceResourceForUpdate": {
      "type": "object",
      "description": "Definition of ARM tracked top level resource properties for the Update operation",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AzureMonitorWorkspaceResourceListResult": {
      "type": "object",
      "description": "A pageable list of resources",
      "properties": {
        "value": {
          "type": "array",
          "description": "The AzureMonitorWorkspaceResource items on this page",
          "items": {
            "$ref": "#/definitions/AzureMonitorWorkspaceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AzureMonitorWorkspaceResourceProperties": {
      "type": "object",
      "description": "Resource properties",
      "allOf": [
        {
          "$ref": "#/definitions/AzureMonitorWorkspace"
        }
      ]
    },
    "IngestionSettings": {
      "type": "object",
      "description": "Settings for data ingestion",
      "properties": {
        "dataCollectionRuleResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection rule for this Azure Monitor Workspace.",
          "readOnly": true
        },
        "dataCollectionEndpointResourceId": {
          "type": "string",
          "description": "The Azure resource Id of the default data collection endpoint for this Azure Monitor Workspace.",
          "readOnly": true
        }
      }
    },
    "Metrics": {
      "type": "object",
      "description": "Properties related to the metrics container in the Azure Monitor Workspace",
      "properties": {
        "prometheusQueryEndpoint": {
          "type": "string",
          "description": "The Prometheus query endpoint for the Azure Monitor Workspace",
          "readOnly": true
        },
        "internalId": {
          "type": "string",
          "description": "An internal identifier for the metrics container. Only to be used by the system",
          "readOnly": true
        }
      }
    },
    "PrivateEndpoint": {
      "type": "object",
      "description": "The Private Endpoint resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM identifier for Private Endpoint",
          "readOnly": true
        }
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "The Private Endpoint Connection resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Resource properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of the PrivateEndpointConnectProperties.",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The resource of private end point."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        },
        "provisioningState": {
          "$ref": "#/definitions/PrivateEndpointConnectionProvisioningState",
          "description": "The provisioning state of the private endpoint connection resource.",
          "readOnly": true
        }
      },
      "required": [
        "privateLinkServiceConnectionState"
      ]
    },
    "PrivateEndpointConnectionProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Deleting",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointConnectionProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded"
          },
          {
            "name": "Creating",
            "value": "Creating"
          },
          {
            "name": "Deleting",
            "value": "Deleting"
          },
          {
            "name": "Failed",
            "value": "Failed"
          }
        ]
      },
      "readOnly": true
    },
    "PrivateEndpointServiceConnectionStatus": {
      "type": "string",
      "description": "The private endpoint connection status.",
      "enum": [
        "Pending",
        "Approved",
        "Rejected"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointServiceConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending"
          },
          {
            "name": "Approved",
            "value": "Approved"
          },
          {
            "name": "Rejected",
            "value": "Rejected"
          }
        ]
      }
    },
    "PrivateLinkServiceConnectionState": {
      "type": "object",
      "description": "A collection of information about the state of the connection between service consumer and provider.",
      "properties": {
        "status": {
          "$ref": "#/definitions/PrivateEndpointServiceConnectionStatus",
          "description": "Indicates whether the connection has been Approved/Rejected/Removed by the owner of the service."
        },
        "description": {
          "type": "string",
          "description": "The reason for approval/rejection of the connection."
        },
        "actionsRequired": {
          "type": "string",
          "description": "A message indicating if changes on the service provider require any updates on the consumer."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the Azure Monitor Workspace. Set to Succeeded if everything is healthy.",
      "enum": [
        "Creating",
        "Succeeded",
        "Deleting",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded"
          },
          {
            "name": "Deleting",
            "value": "Deleting"
          },
          {
            "name": "Failed",
            "value": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled"
          }
        ]
      },
      "readOnly": true
    },
    "PublicNetworkAccess": {
      "type": "string",
      "description": "Gets or sets allow or disallow public network access to Azure Monitor Workspace",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "PublicNetworkAccess",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled"
          },
          {
            "name": "Disabled",
            "value": "Disabled"
          }
        ]
      }
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
