{
  "swagger": "2.0",
  "info": {
    "version": "2020-11-01",
    "title": "ContainerInstanceManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/containerGroups": {
      "get": {
        "operationId": "ContainerGroups_List",
        "x-ms-examples": {
          "ContainerGroupsList": {
            "$ref": "./examples/ContainerGroupsList.json"
          }
        },
        "summary": "Get a list of container groups in the specified subscription.",
        "description": "Get a list of container groups in the specified subscription. This operation returns properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups": {
      "get": {
        "operationId": "ContainerGroups_ListByResourceGroup",
        "x-ms-examples": {
          "ContainerGroupsListByResourceGroup": {
            "$ref": "./examples/ContainerGroupsListByResourceGroup.json"
          }
        },
        "summary": "Get a list of container groups in the specified subscription and resource group.",
        "description": "Get a list of container groups in a specified subscription and resource group. This operation returns properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}": {
      "get": {
        "operationId": "ContainerGroups_Get",
        "x-ms-examples": {
          "ContainerGroupsGet_Succeeded": {
            "$ref": "./examples/ContainerGroupsGet_Succeeded.json"
          },
          "ContainerGroupsGet_Failed": {
            "$ref": "./examples/ContainerGroupsGet_Failed.json"
          }
        },
        "summary": "Get the properties of the specified container group.",
        "description": "Gets the properties of the specified container group in the specified subscription and resource group. The operation returns the properties of each container group including containers, image registry credentials, restart policy, IP address type, OS type, state, and volumes.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "operationId": "ContainerGroups_CreateOrUpdate",
        "x-ms-examples": {
          "ContainerGroupsCreateOrUpdate": {
            "$ref": "./examples/ContainerGroupsCreateOrUpdate.json"
          }
        },
        "summary": "Create or update container groups.",
        "description": "Create or update container groups with specified configurations.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "containerGroup",
            "description": "The properties of the container group to be created or updated.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "201": {
            "description": "Created - the container group is created.",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ContainerGroups_Update",
        "x-ms-examples": {
          "ContainerGroupsUpdate": {
            "$ref": "./examples/ContainerGroupsUpdate.json"
          }
        },
        "summary": "Update container groups.",
        "description": "Updates container group tags with specified values.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "Resource",
            "description": "The container group resource with just the tags to be updated.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "operationId": "ContainerGroups_Delete",
        "x-ms-examples": {
          "ContainerGroupsDelete": {
            "$ref": "./examples/ContainerGroupsDelete.json"
          }
        },
        "summary": "Delete the specified container group.",
        "description": "Delete the specified container group in the specified subscription and resource group. The operation does not delete other resources provided by the user, such as volumes.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerGroup"
            }
          },
          "202": {
            "description": "Delete started."
          },
          "204": {
            "description": "No Content - the specified container group was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/restart": {
      "post": {
        "operationId": "ContainerGroups_Restart",
        "x-ms-examples": {
          "ContainerRestart": {
            "$ref": "./examples/ContainerGroupsRestart.json"
          }
        },
        "summary": "Restarts all containers in a container group.",
        "description": "Restarts all containers in a container group in place. If container image has updates, new image will be downloaded.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/stop": {
      "post": {
        "operationId": "ContainerGroups_Stop",
        "x-ms-examples": {
          "ContainerStop": {
            "$ref": "./examples/ContainerGroupsStop.json"
          }
        },
        "summary": "Stops all containers in a container group.",
        "description": "Stops all containers in a container group. Compute resources will be deallocated and billing will stop.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/start": {
      "post": {
        "operationId": "ContainerGroups_Start",
        "x-ms-examples": {
          "ContainerStart": {
            "$ref": "./examples/ContainerGroupsStart.json"
          }
        },
        "summary": "Starts all containers in a container group.",
        "description": "Starts all containers in a container group. Compute resources will be allocated and billing will start.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.ContainerInstance/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "description": "List the operations for Azure Container Instance service.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/usages": {
      "get": {
        "operationId": "Location_ListUsage",
        "x-ms-examples": {
          "ContainerUsage": {
            "$ref": "./examples/ContainerGroupUsage.json"
          }
        },
        "description": "Get the usage for a subscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UsageListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/logs": {
      "get": {
        "operationId": "Containers_ListLogs",
        "x-ms-examples": {
          "ContainerListLogs": {
            "$ref": "./examples/ContainerListLogs.json"
          }
        },
        "summary": "Get the logs for a specified container instance.",
        "description": "Get the logs for a specified container instance in a specified resource group and container group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the container instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tail",
            "in": "query",
            "description": "The number of lines to show from the tail of the container instance log. If not provided, all available logs are shown up to 4mb.",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Logs"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/containerGroups/{containerGroupName}/containers/{containerName}/exec": {
      "post": {
        "operationId": "Containers_ExecuteCommand",
        "x-ms-examples": {
          "ContainerExec": {
            "$ref": "./examples/ContainerExec.json"
          }
        },
        "summary": "Executes a command in a specific container instance.",
        "description": "Executes a command for a specific container instance in a specified resource group and container group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerGroupNameParameter"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the container instance.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerExecRequest",
            "in": "body",
            "description": "The request for the exec command.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerExecRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ContainerExecResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/cachedImages": {
      "get": {
        "operationId": "Location_ListCachedImages",
        "x-ms-examples": {
          "CachedImages": {
            "$ref": "./examples/CachedImagesList.json"
          }
        },
        "summary": "Get the list of cached images.",
        "description": "Get the list of cached images on specific OS type for a subscription in a region.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CachedImagesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerInstance/locations/{location}/capabilities": {
      "get": {
        "operationId": "Location_ListCapabilities",
        "x-ms-examples": {
          "GetCapabilities": {
            "$ref": "./examples/CapabilitiesList.json"
          }
        },
        "summary": "Get the list of capabilities of the location.",
        "description": "Get the list of CPU/memory/GPU capabilities of a region.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapabilitiesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Container": {
      "description": "A container instance.",
      "type": "object",
      "required": [
        "properties",
        "name"
      ],
      "properties": {
        "name": {
          "description": "The user-provided name of the container instance.",
          "type": "string"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "The properties of the container instance.",
          "$ref": "#/definitions/ContainerProperties"
        }
      }
    },
    "ContainerProperties": {
      "description": "The container instance properties.",
      "type": "object",
      "required": [
        "image",
        "resources"
      ],
      "properties": {
        "image": {
          "description": "The name of the image used to create the container instance.",
          "type": "string"
        },
        "command": {
          "description": "The commands to execute within the container instance in exec form.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ports": {
          "description": "The exposed ports on the container instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerPort"
          }
        },
        "environmentVariables": {
          "description": "The environment variables to set in the container instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentVariable"
          }
        },
        "instanceView": {
          "description": "The instance view of the container instance. Only valid in response.",
          "readOnly": true,
          "type": "object",
          "properties": {
            "restartCount": {
              "readOnly": true,
              "type": "integer",
              "description": "The number of times that the container instance has been restarted."
            },
            "currentState": {
              "readOnly": true,
              "description": "Current container instance state.",
              "$ref": "#/definitions/ContainerState"
            },
            "previousState": {
              "readOnly": true,
              "description": "Previous container instance state.",
              "$ref": "#/definitions/ContainerState"
            },
            "events": {
              "readOnly": true,
              "description": "The events of the container instance.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          }
        },
        "resources": {
          "description": "The resource requirements of the container instance.",
          "$ref": "#/definitions/ResourceRequirements"
        },
        "volumeMounts": {
          "description": "The volume mounts available to the container instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VolumeMount"
          }
        },
        "livenessProbe": {
          "description": "The liveness probe.",
          "$ref": "#/definitions/ContainerProbe"
        },
        "readinessProbe": {
          "description": "The readiness probe.",
          "$ref": "#/definitions/ContainerProbe"
        }
      }
    },
    "ContainerState": {
      "description": "The container instance state.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "The state of the container instance."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The date-time when the container instance state started."
        },
        "exitCode": {
          "type": "integer",
          "readOnly": true,
          "description": "The container instance exit codes correspond to those from the `docker run` command."
        },
        "finishTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The date-time when the container instance state finished."
        },
        "detailStatus": {
          "type": "string",
          "readOnly": true,
          "description": "The human-readable status of the container instance state."
        }
      }
    },
    "Event": {
      "description": "A container group or container instance event.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "count": {
          "type": "integer",
          "readOnly": true,
          "description": "The count of the event."
        },
        "firstTimestamp": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The date-time of the earliest logged event."
        },
        "lastTimestamp": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "The date-time of the latest logged event."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The event name."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The event message."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The event type."
        }
      }
    },
    "ResourceRequirements": {
      "description": "The resource requirements.",
      "type": "object",
      "required": [
        "requests"
      ],
      "properties": {
        "requests": {
          "description": "The resource requests of this container instance.",
          "$ref": "#/definitions/ResourceRequests"
        },
        "limits": {
          "description": "The resource limits of this container instance.",
          "$ref": "#/definitions/ResourceLimits"
        }
      }
    },
    "ResourceRequests": {
      "description": "The resource requests.",
      "type": "object",
      "required": [
        "memoryInGB",
        "cpu"
      ],
      "properties": {
        "memoryInGB": {
          "description": "The memory request in GB of this container instance.",
          "type": "number",
          "format": "double"
        },
        "cpu": {
          "description": "The CPU request of this container instance.",
          "type": "number",
          "format": "double"
        },
        "gpu": {
          "description": "The GPU request of this container instance.",
          "$ref": "#/definitions/GpuResource"
        }
      }
    },
    "ResourceLimits": {
      "description": "The resource limits.",
      "type": "object",
      "properties": {
        "memoryInGB": {
          "description": "The memory limit in GB of this container instance.",
          "type": "number",
          "format": "double"
        },
        "cpu": {
          "description": "The CPU limit of this container instance.",
          "type": "number",
          "format": "double"
        },
        "gpu": {
          "description": "The GPU limit of this container instance.",
          "$ref": "#/definitions/GpuResource"
        }
      }
    },
    "GpuResource": {
      "description": "The GPU resource.",
      "type": "object",
      "required": [
        "count",
        "sku"
      ],
      "properties": {
        "count": {
          "description": "The count of the GPU resource.",
          "type": "integer",
          "format": "int32"
        },
        "sku": {
          "type": "string",
          "description": "The SKU of the GPU resource.",
          "enum": [
            "K80",
            "P100",
            "V100"
          ],
          "x-ms-enum": {
            "name": "GpuSku",
            "modelAsString": true
          }
        }
      }
    },
    "AzureFileVolume": {
      "description": "The properties of the Azure File volume. Azure File shares are mounted as volumes.",
      "type": "object",
      "required": [
        "shareName",
        "storageAccountName"
      ],
      "properties": {
        "shareName": {
          "description": "The name of the Azure File share to be mounted as a volume.",
          "type": "string"
        },
        "readOnly": {
          "description": "The flag indicating whether the Azure File shared mounted as a volume is read-only.",
          "type": "boolean"
        },
        "storageAccountName": {
          "description": "The name of the storage account that contains the Azure File share.",
          "type": "string"
        },
        "storageAccountKey": {
          "description": "The storage account access key used to access the Azure File share.",
          "type": "string"
        }
      }
    },
    "EmptyDirVolume": {
      "description": "The empty directory volume.",
      "type": "object",
      "properties": {}
    },
    "SecretVolume": {
      "description": "The secret volume.",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      }
    },
    "GitRepoVolume": {
      "description": "Represents a volume that is populated with the contents of a git repository",
      "required": [
        "repository"
      ],
      "properties": {
        "directory": {
          "description": "Target directory name. Must not contain or start with '..'.  If '.' is supplied, the volume directory will be the git repository.  Otherwise, if specified, the volume will contain the git repository in the subdirectory with the given name.",
          "type": "string"
        },
        "repository": {
          "description": "Repository URL",
          "type": "string"
        },
        "revision": {
          "description": "Commit hash for the specified revision.",
          "type": "string"
        }
      }
    },
    "Volume": {
      "description": "The properties of the volume.",
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "description": "The name of the volume.",
          "type": "string"
        },
        "azureFile": {
          "description": "The Azure File volume.",
          "$ref": "#/definitions/AzureFileVolume"
        },
        "emptyDir": {
          "description": "The empty directory volume.",
          "$ref": "#/definitions/EmptyDirVolume"
        },
        "secret": {
          "description": "The secret volume.",
          "$ref": "#/definitions/SecretVolume"
        },
        "gitRepo": {
          "description": "The git repo volume.",
          "$ref": "#/definitions/GitRepoVolume"
        }
      }
    },
    "VolumeMount": {
      "description": "The properties of the volume mount.",
      "type": "object",
      "required": [
        "name",
        "mountPath"
      ],
      "properties": {
        "name": {
          "description": "The name of the volume mount.",
          "type": "string"
        },
        "mountPath": {
          "description": "The path within the container where the volume should be mounted. Must not contain colon (:).",
          "type": "string"
        },
        "readOnly": {
          "description": "The flag indicating whether the volume mount is read-only.",
          "type": "boolean"
        }
      }
    },
    "ContainerExec": {
      "type": "object",
      "description": "The container execution command, for liveness or readiness probe",
      "properties": {
        "command": {
          "description": "The commands to execute within the container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ContainerHttpGet": {
      "type": "object",
      "description": "The container Http Get settings, for liveness or readiness probe",
      "properties": {
        "path": {
          "description": "The path to probe.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "description": "The port number to probe.",
          "format": "int32"
        },
        "scheme": {
          "description": "The scheme.",
          "type": "string",
          "enum": [
            "http",
            "https"
          ],
          "x-ms-enum": {
            "name": "Scheme",
            "modelAsString": true
          }
        }
      },
      "required": [
        "port"
      ]
    },
    "ContainerProbe": {
      "type": "object",
      "description": "The container probe, for liveness or readiness",
      "properties": {
        "exec": {
          "description": "The execution command to probe",
          "$ref": "#/definitions/ContainerExec"
        },
        "httpGet": {
          "description": "The Http Get settings to probe",
          "$ref": "#/definitions/ContainerHttpGet"
        },
        "initialDelaySeconds": {
          "description": "The initial delay seconds.",
          "type": "integer",
          "format": "int32"
        },
        "periodSeconds": {
          "description": "The period seconds.",
          "type": "integer",
          "format": "int32"
        },
        "failureThreshold": {
          "description": "The failure threshold.",
          "type": "integer",
          "format": "int32"
        },
        "successThreshold": {
          "description": "The success threshold.",
          "type": "integer",
          "format": "int32"
        },
        "timeoutSeconds": {
          "description": "The timeout seconds.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContainerGroup": {
      "description": "A container group.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "type": "object",
          "required": [
            "properties"
          ],
          "properties": {
            "identity": {
              "$ref": "#/definitions/ContainerGroupIdentity",
              "description": "The identity of the container group, if configured."
            },
            "properties": {
              "x-ms-client-flatten": true,
              "type": "object",
              "description": "The container group properties",
              "properties": {
                "provisioningState": {
                  "readOnly": true,
                  "type": "string",
                  "description": "The provisioning state of the container group. This only appears in the response."
                },
                "containers": {
                  "type": "array",
                  "description": "The containers within the container group.",
                  "items": {
                    "$ref": "#/definitions/Container"
                  }
                },
                "imageRegistryCredentials": {
                  "type": "array",
                  "description": "The image registry credentials by which the container group is created from.",
                  "items": {
                    "$ref": "#/definitions/ImageRegistryCredential"
                  }
                },
                "restartPolicy": {
                  "type": "string",
                  "description": "Restart policy for all containers within the container group. \n- `Always` Always restart\n- `OnFailure` Restart on failure\n- `Never` Never restart\n",
                  "enum": [
                    "Always",
                    "OnFailure",
                    "Never"
                  ],
                  "x-ms-enum": {
                    "name": "ContainerGroupRestartPolicy",
                    "modelAsString": true
                  }
                },
                "ipAddress": {
                  "description": "The IP address type of the container group.",
                  "$ref": "#/definitions/IpAddress"
                },
                "osType": {
                  "type": "string",
                  "description": "The operating system type required by the containers in the container group.",
                  "enum": [
                    "Windows",
                    "Linux"
                  ],
                  "x-ms-enum": {
                    "name": "OperatingSystemTypes",
                    "modelAsString": true
                  }
                },
                "volumes": {
                  "type": "array",
                  "description": "The list of volumes that can be mounted by containers in this container group.",
                  "items": {
                    "$ref": "#/definitions/Volume"
                  }
                },
                "instanceView": {
                  "description": "The instance view of the container group. Only valid in response.",
                  "readOnly": true,
                  "type": "object",
                  "properties": {
                    "events": {
                      "description": "The events of this container group.",
                      "readOnly": true,
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Event"
                      }
                    },
                    "state": {
                      "readOnly": true,
                      "type": "string",
                      "description": "The state of the container group. Only valid in response."
                    }
                  }
                },
                "diagnostics": {
                  "description": "The diagnostic information for a container group.",
                  "$ref": "#/definitions/ContainerGroupDiagnostics"
                },
                "networkProfile": {
                  "description": "The network profile information for a container group.",
                  "$ref": "#/definitions/ContainerGroupNetworkProfile"
                },
                "dnsConfig": {
                  "description": "The DNS config information for a container group.",
                  "$ref": "#/definitions/DnsConfiguration"
                },
                "sku": {
                  "description": "The SKU for a container group.",
                  "$ref": "#/definitions/ContainerGroupSku"
                },
                "encryptionProperties": {
                  "description": "The encryption properties for a container group.",
                  "$ref": "#/definitions/EncryptionProperties"
                },
                "initContainers": {
                  "type": "array",
                  "description": "The init containers for a container group.",
                  "items": {
                    "$ref": "#/definitions/InitContainerDefinition"
                  }
                }
              },
              "required": [
                "containers",
                "osType"
              ]
            }
          }
        }
      ]
    },
    "ContainerGroupIdentity": {
      "description": "Identity for the container group.",
      "properties": {
        "principalId": {
          "readOnly": true,
          "type": "string",
          "description": "The principal id of the container group identity. This property will only be provided for a system assigned identity."
        },
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "The tenant id associated with the container group. This property will only be provided for a system assigned identity."
        },
        "type": {
          "type": "string",
          "description": "The type of identity used for the container group. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the container group.",
          "enum": [
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned",
            "None"
          ],
          "x-ms-enum": {
            "name": "ResourceIdentityType",
            "modelAsString": false
          }
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with the container group. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "type": "object",
            "properties": {
              "principalId": {
                "readOnly": true,
                "type": "string",
                "description": "The principal id of user assigned identity."
              },
              "clientId": {
                "readOnly": true,
                "type": "string",
                "description": "The client id of user assigned identity."
              }
            }
          }
        }
      }
    },
    "ImageRegistryCredential": {
      "description": "Image registry credential.",
      "type": "object",
      "properties": {
        "server": {
          "type": "string",
          "description": "The Docker image registry server without a protocol such as \"http\" and \"https\"."
        },
        "username": {
          "type": "string",
          "description": "The username for the private registry."
        },
        "password": {
          "type": "string",
          "description": "The password for the private registry."
        }
      },
      "required": [
        "server",
        "username"
      ]
    },
    "ContainerGroupDiagnostics": {
      "description": "Container group diagnostic information.",
      "type": "object",
      "properties": {
        "logAnalytics": {
          "description": "Container group log analytics information.",
          "$ref": "#/definitions/LogAnalytics"
        }
      }
    },
    "LogAnalytics": {
      "description": "Container group log analytics information.",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "The workspace id for log analytics",
          "type": "string"
        },
        "workspaceKey": {
          "description": "The workspace key for log analytics",
          "type": "string"
        },
        "logType": {
          "type": "string",
          "description": "The log type to be used.",
          "enum": [
            "ContainerInsights",
            "ContainerInstanceLogs"
          ],
          "x-ms-enum": {
            "name": "LogAnalyticsLogType",
            "modelAsString": true
          }
        },
        "metadata": {
          "type": "object",
          "description": "Metadata for log analytics.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "workspaceId",
        "workspaceKey"
      ]
    },
    "ContainerGroupNetworkProfile": {
      "description": "Container group network profile information.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The identifier for a network profile.",
          "type": "string"
        }
      },
      "required": [
        "id"
      ]
    },
    "IpAddress": {
      "description": "IP address for the container group.",
      "type": "object",
      "properties": {
        "ports": {
          "type": "array",
          "description": "The list of ports exposed on the container group.",
          "items": {
            "$ref": "#/definitions/Port"
          }
        },
        "type": {
          "type": "string",
          "description": "Specifies if the IP is exposed to the public internet or private VNET.",
          "enum": [
            "Public",
            "Private"
          ],
          "x-ms-enum": {
            "name": "ContainerGroupIpAddressType",
            "modelAsString": true
          }
        },
        "ip": {
          "type": "string",
          "description": "The IP exposed to the public internet."
        },
        "dnsNameLabel": {
          "type": "string",
          "description": "The Dns name label for the IP."
        },
        "fqdn": {
          "readOnly": true,
          "type": "string",
          "description": "The FQDN for the IP."
        }
      },
      "required": [
        "ports",
        "type"
      ]
    },
    "Port": {
      "description": "The port exposed on the container group.",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string",
          "description": "The protocol associated with the port.",
          "enum": [
            "TCP",
            "UDP"
          ],
          "x-ms-enum": {
            "name": "ContainerGroupNetworkProtocol",
            "modelAsString": true
          }
        },
        "port": {
          "type": "integer",
          "description": "The port number.",
          "format": "int32"
        }
      },
      "required": [
        "port"
      ]
    },
    "ContainerPort": {
      "description": "The port exposed on the container instance.",
      "type": "object",
      "properties": {
        "protocol": {
          "type": "string",
          "description": "The protocol associated with the port.",
          "enum": [
            "TCP",
            "UDP"
          ],
          "x-ms-enum": {
            "name": "ContainerNetworkProtocol",
            "modelAsString": true
          }
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port number exposed within the container group."
        }
      },
      "required": [
        "port"
      ]
    },
    "EnvironmentVariable": {
      "description": "The environment variable to set within the container instance.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the environment variable."
        },
        "value": {
          "type": "string",
          "description": "The value of the environment variable."
        },
        "secureValue": {
          "type": "string",
          "description": "The value of the secure environment variable."
        }
      },
      "required": [
        "name"
      ]
    },
    "OperationListResult": {
      "description": "The operation list response that contains all operations for Azure Container Instance service.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "The list of operations."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of operations."
        }
      }
    },
    "Operation": {
      "description": "An operation for Azure Container Instance service.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the operation."
        },
        "display": {
          "description": "The display information of the operation.",
          "type": "object",
          "properties": {
            "provider": {
              "description": "The name of the provider of the operation.",
              "type": "string"
            },
            "resource": {
              "type": "string",
              "description": "The name of the resource type of the operation."
            },
            "operation": {
              "description": "The friendly name of the operation.",
              "type": "string"
            },
            "description": {
              "description": "The description of the operation.",
              "type": "string"
            }
          }
        },
        "properties": {
          "type": "object",
          "description": "The additional properties.",
          "x-ms-client-flatten": true
        },
        "origin": {
          "type": "string",
          "description": "The intended executor of the operation.",
          "enum": [
            "User",
            "System"
          ],
          "x-ms-enum": {
            "name": "ContainerInstanceOperationsOrigin",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name",
        "display"
      ]
    },
    "UsageListResult": {
      "description": "The response containing the usage data",
      "type": "object",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "description": "The usage data.",
          "items": {
            "$ref": "#/definitions/Usage"
          }
        }
      }
    },
    "Usage": {
      "description": "A single usage result",
      "type": "object",
      "properties": {
        "unit": {
          "readOnly": true,
          "type": "string",
          "description": "Unit of the usage result"
        },
        "currentValue": {
          "readOnly": true,
          "type": "integer",
          "description": "The current usage of the resource"
        },
        "limit": {
          "readOnly": true,
          "type": "integer",
          "description": "The maximum permitted usage of the resource."
        },
        "name": {
          "readOnly": true,
          "type": "object",
          "description": "The name object of the resource",
          "properties": {
            "value": {
              "readOnly": true,
              "type": "string",
              "description": "The name of the resource"
            },
            "localizedValue": {
              "readOnly": true,
              "type": "string",
              "description": "The localized name of the resource"
            }
          }
        }
      }
    },
    "ContainerGroupListResult": {
      "description": "The container group list response that contains the container group properties.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerGroup"
          },
          "description": "The list of container groups."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of container groups."
        }
      }
    },
    "Logs": {
      "description": "The logs.",
      "type": "object",
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the log."
        }
      }
    },
    "ContainerExecRequest": {
      "description": "The container exec request.",
      "type": "object",
      "properties": {
        "command": {
          "type": "string",
          "description": "The command to be executed."
        },
        "terminalSize": {
          "type": "object",
          "description": "The size of the terminal.",
          "properties": {
            "rows": {
              "type": "integer",
              "description": "The row size of the terminal"
            },
            "cols": {
              "type": "integer",
              "description": "The column size of the terminal"
            }
          }
        }
      }
    },
    "ContainerExecResponse": {
      "description": "The information for the container exec command.",
      "type": "object",
      "properties": {
        "webSocketUri": {
          "type": "string",
          "description": "The uri for the exec websocket."
        },
        "password": {
          "type": "string",
          "description": "The password to start the exec command."
        }
      }
    },
    "DnsConfiguration": {
      "description": "DNS configuration for the container group.",
      "type": "object",
      "required": [
        "nameServers"
      ],
      "properties": {
        "nameServers": {
          "description": "The DNS servers for the container group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "searchDomains": {
          "description": "The DNS search domains for hostname lookup in the container group.",
          "type": "string"
        },
        "options": {
          "description": "The DNS options for the container group.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "type": "object",
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type."
        },
        "location": {
          "type": "string",
          "description": "The resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The resource tags."
        }
      },
      "x-ms-azure-resource": true
    },
    "CachedImagesListResult": {
      "description": "The response containing cached images.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/cachedImages"
          },
          "description": "The list of cached images."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of cached images."
        }
      }
    },
    "cachedImages": {
      "description": "The cached image and OS type.",
      "type": "object",
      "required": [
        "osType",
        "image"
      ],
      "properties": {
        "osType": {
          "type": "string",
          "description": "The OS type of the cached image."
        },
        "image": {
          "type": "string",
          "description": "The cached image name."
        }
      }
    },
    "CapabilitiesListResult": {
      "description": "The response containing list of capabilities.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Capabilities"
          },
          "description": "The list of capabilities."
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of capabilities."
        }
      }
    },
    "Capabilities": {
      "description": "The regional capabilities.",
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "readOnly": true,
          "description": "The resource type that this capability describes."
        },
        "osType": {
          "type": "string",
          "readOnly": true,
          "description": "The OS type that this capability describes."
        },
        "location": {
          "type": "string",
          "readOnly": true,
          "description": "The resource location."
        },
        "ipAddressType": {
          "type": "string",
          "readOnly": true,
          "description": "The ip address type that this capability describes."
        },
        "gpu": {
          "type": "string",
          "readOnly": true,
          "description": "The GPU sku that this capability describes."
        },
        "capabilities": {
          "type": "object",
          "readOnly": true,
          "description": "The supported capabilities.",
          "properties": {
            "maxMemoryInGB": {
              "type": "number",
              "readOnly": true,
              "description": "The maximum allowed memory request in GB."
            },
            "maxCpu": {
              "type": "number",
              "readOnly": true,
              "description": "The maximum allowed CPU request in cores."
            },
            "maxGpuCount": {
              "type": "number",
              "readOnly": true,
              "description": "The maximum allowed GPU count."
            }
          }
        }
      }
    },
    "ContainerGroupSku": {
      "description": "The container group SKU.",
      "type": "string",
      "enum": [
        "Standard",
        "Dedicated"
      ],
      "x-ms-enum": {
        "name": "ContainerGroupSku",
        "modelAsString": true
      }
    },
    "EncryptionProperties": {
      "description": "The container group encryption properties.",
      "type": "object",
      "properties": {
        "vaultBaseUrl": {
          "description": "The keyvault base url.",
          "type": "string"
        },
        "keyName": {
          "description": "The encryption key name.",
          "type": "string"
        },
        "keyVersion": {
          "description": "The encryption key version.",
          "type": "string"
        }
      },
      "required": [
        "vaultBaseUrl",
        "keyName",
        "keyVersion"
      ]
    },
    "InitContainerDefinition": {
      "description": "The init container definition.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name for the init container.",
          "type": "string"
        },
        "properties": {
          "description": "The properties for the init container.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InitContainerPropertiesDefinition"
        }
      },
      "required": [
        "name",
        "properties"
      ]
    },
    "InitContainerPropertiesDefinition": {
      "description": "The init container definition properties.",
      "type": "object",
      "properties": {
        "image": {
          "description": "The image of the init container.",
          "type": "string"
        },
        "command": {
          "description": "The command to execute within the init container in exec form.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "environmentVariables": {
          "description": "The environment variables to set in the init container.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EnvironmentVariable"
          }
        },
        "instanceView": {
          "description": "The instance view of the init container. Only valid in response.",
          "readOnly": true,
          "type": "object",
          "properties": {
            "restartCount": {
              "readOnly": true,
              "type": "integer",
              "description": "The number of times that the init container has been restarted."
            },
            "currentState": {
              "readOnly": true,
              "description": "The current state of the init container.",
              "$ref": "#/definitions/ContainerState"
            },
            "previousState": {
              "readOnly": true,
              "description": "The previous state of the init container.",
              "$ref": "#/definitions/ContainerState"
            },
            "events": {
              "readOnly": true,
              "description": "The events of the init container.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/Event"
              }
            }
          }
        },
        "volumeMounts": {
          "description": "The volume mounts available to the init container.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/VolumeMount"
          }
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the Container Instance service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Container Instance service."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "x-ms-parameter-location": "client"
    },
    "LocationParameter": {
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The identifier for the physical azure location.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version",
      "x-ms-parameter-location": "client"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ContainerGroupNameParameter": {
      "name": "containerGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the container group.",
      "x-ms-parameter-location": "method"
    },
    "OperationIdParameter": {
      "name": "operationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The operation Id.",
      "x-ms-parameter-location": "method"
    }
  }
}
