{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "version": "2024-02-15-preview",
    "description": "Self service experience for Azure Network Fabric API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "InternetGatewayRules"
    }
  ],
  "paths": {
    "/providers/Microsoft.ManagedNetworkFabric/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen_Maximum": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet_Gen_Minimum": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/internetGatewayRules": {
      "get": {
        "operationId": "InternetGatewayRules_ListBySubscription",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "List all Internet Gateway rules in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_ListBySubscription_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/InternetGatewayRules_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/internetGatewayRules": {
      "get": {
        "operationId": "InternetGatewayRules_ListByResourceGroup",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "Implements Internet Gateway Rules list by resource group GET method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_ListByResourceGroup_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/InternetGatewayRules_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/internetGatewayRules/{internetGatewayRuleName}": {
      "get": {
        "operationId": "InternetGatewayRules_Get",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "Gets an Internet Gateway Rule resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayRuleName",
            "in": "path",
            "description": "Name of the Internet Gateway rule.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_Get_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/InternetGatewayRules_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "InternetGatewayRules_Create",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "Creates an Internet Gateway rule resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayRuleName",
            "in": "path",
            "description": "Name of the Internet Gateway rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request payload.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            },
            "x-ms-client-name": "Request payload body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'InternetGatewayRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            }
          },
          "201": {
            "description": "Resource 'InternetGatewayRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_Create_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/InternetGatewayRules_Create_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "InternetGatewayRules_Update",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "API to update certain properties of the Internet Gateway Rule resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayRuleName",
            "in": "path",
            "description": "Name of the Internet Gateway rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Internet Gateway Rule properties to update.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InternetGatewayRulePatch"
            },
            "x-ms-client-name": "Internet Gateway Rule properties to update body"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/InternetGatewayRule"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_Update_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/InternetGatewayRules_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "InternetGatewayRules_Delete",
        "tags": [
          "InternetGatewayRules"
        ],
        "description": "Implements Internet Gateway Rules DELETE method.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "internetGatewayRuleName",
            "in": "path",
            "description": "Name of the Internet Gateway rule.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "InternetGatewayRules_Delete_MaximumSet_Gen - generated by [MaximumSet] rule": {
            "$ref": "./examples/InternetGatewayRules_Delete_MaximumSet_Gen.json"
          },
          "InternetGatewayRules_Delete_MaximumSet_Gen - generated by [MinimumSet] rule": {
            "$ref": "./examples/InternetGatewayRules_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AnnotationResource": {
      "type": "object",
      "description": "Switch configuration entries require a description to discern between configuration groups.",
      "properties": {
        "annotation": {
          "type": "string",
          "description": "Switch configuration description."
        }
      }
    },
    "Condition": {
      "type": "string",
      "description": "Specify condition.",
      "enum": [
        "and",
        "or"
      ],
      "x-ms-enum": {
        "name": "Condition",
        "modelAsString": true,
        "values": [
          {
            "name": "and",
            "value": "and",
            "description": "and condition for all proxy rules"
          },
          {
            "name": "or",
            "value": "or",
            "description": "or condition for all proxy rules"
          }
        ]
      }
    },
    "InternetGatewayRule": {
      "type": "object",
      "description": "The Internet Gateway Rule resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/InternetGatewayRuleProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "InternetGatewayRuleListResult": {
      "type": "object",
      "description": "The response of a InternetGatewayRule list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The InternetGatewayRule items on this page",
          "items": {
            "$ref": "#/definitions/InternetGatewayRule"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "InternetGatewayRulePatch": {
      "type": "object",
      "description": "The Internet Gateway Rules patch resource definition.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "InternetGatewayRuleProperties": {
      "type": "object",
      "description": "Internet Gateway Rule Properties defines the resource properties.",
      "properties": {
        "annotation": {
          "type": "string",
          "description": "Switch configuration description."
        },
        "ruleProperties": {
          "$ref": "#/definitions/RuleProperties",
          "description": "Rules for the InternetGateways"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "internetGatewayIds": {
          "type": "array",
          "description": "List of Internet Gateway resource Id.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "required": [
        "ruleProperties"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Accepted",
        "Succeeded",
        "Updating",
        "Deleting",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Requested provisioning state has been accepted"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Requested provisioning state has been successfully applied"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Requested provisioning state is being applied"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Requested provisioning state is deleting a resource"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Requested provisioning state could not be applied"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Requested provisioning state has been has been canceled"
          }
        ]
      },
      "readOnly": true
    },
    "RuleProperties": {
      "type": "object",
      "description": "Rules for the InternetGateways",
      "properties": {
        "action": {
          "$ref": "#/definitions/action",
          "description": "Specify action."
        },
        "condition": {
          "$ref": "#/definitions/Condition",
          "description": "Specify condition."
        },
        "destinationAddressList": {
          "type": "array",
          "description": "List of Addresses to be allowed or denied.",
          "items": {
            "type": "string"
          }
        },
        "sourceAddressList": {
          "type": "array",
          "description": "List of source remote ip to be allowed or denied.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "action",
        "condition"
      ]
    },
    "TagsUpdate": {
      "type": "object",
      "description": "Base tracked resource type for PATCH updates.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-02-15-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_02_15",
            "value": "2024-02-15-preview",
            "description": "The 2024-02-15-preview API version."
          }
        ]
      }
    },
    "action": {
      "type": "string",
      "description": "Specify action.",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "action",
        "modelAsString": true,
        "values": [
          {
            "name": "Allow",
            "value": "Allow",
            "description": "This will allow the HTTP requests"
          },
          {
            "name": "Deny",
            "value": "Deny",
            "description": "This will not allow the HTTP requests"
          }
        ]
      }
    }
  },
  "parameters": {}
}
