{
  "swagger": "2.0",
  "info": {
    "title": "Azure Network Fabric Management Service API",
    "description": "Self service experience for Azure Network Tap Rule API.",
    "version": "2024-02-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTapRules/{networkTapRuleName}": {
      "put": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Create",
        "summary": "Create Network Tap Rule.",
        "description": "Create Network Tap Rule resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NetworkTapRuleNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The URL to retrieve the status of the asynchronous operation."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "NetworkTapRules_Create_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Create_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Get",
        "summary": "Gets a Network Tap Rule.",
        "description": "Get Network Tap Rule resource details.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NetworkTapRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkTapRules_Get_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Get_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Update",
        "summary": "Updates a Network Tap Rule.",
        "description": "Update certain properties of the Network Tap Rule resource.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NetworkTapRuleNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Network Tap Rule properties to update.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRulePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/NetworkTapRule"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkTapRules_Update_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Delete",
        "summary": "Deletes a Network Tap Rule.",
        "description": "Delete Network Tap Rule resource.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NetworkTapRuleNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkTapRules_Delete_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTapRules": {
      "get": {
        "operationId": "NetworkTapRules_ListByResourceGroup",
        "summary": "List Network Tap Rules by resource group.",
        "description": "List all the Network Tap Rule resources in the given resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all Network Tap Rules under the resource group.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRulesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkTapRules_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ManagedNetworkFabric/networkTapRules": {
      "get": {
        "operationId": "NetworkTapRules_ListBySubscription",
        "summary": "List NetworkTapRules by subscription.",
        "description": "List all the Network Tap Rule resources in the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Lists all NetworkTapRules under the subscription.",
            "schema": {
              "$ref": "#/definitions/NetworkTapRulesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkTapRules_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTapRules/{networkTapRuleName}/updateAdministrativeState": {
      "post": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_UpdateAdministrativeState",
        "summary": "Updates administrative state of  Network Tap Rules.",
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NetworkTapRuleNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Request payload.",
            "schema": {
              "$ref": "./common.json#/definitions/UpdateAdministrativeState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkTapRules_UpdateAdministrativeState_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_UpdateAdministrativeState_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTapRules/{networkTapRuleName}/resync": {
      "post": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_Resync",
        "summary": "Resync the Network Tap Rule.",
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NetworkTapRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/CommonPostActionResponseForStateUpdate"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkTapRules_Resync_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_Resync_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/networkTapRules/{networkTapRuleName}/validateConfiguration": {
      "post": {
        "tags": [
          "NetworkTapRules"
        ],
        "operationId": "NetworkTapRules_ValidateConfiguration",
        "summary": "Validates the configuration of the Network Tap Rule.",
        "description": "Implements the operation to the underlying resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NetworkTapRuleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "./common.json#/definitions/ValidateConfigurationResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "./common.json#/definitions/ValidateConfigurationResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkTapRules_ValidateConfiguration_MaximumSet_Gen": {
            "$ref": "./examples/NetworkTapRules_ValidateConfiguration_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkTapRulePatchableProperties": {
      "title": "Network Tap Rule updatable properties.",
      "type": "object",
      "properties": {
        "configurationType": {
          "type": "string",
          "description": "Input method to configure Network Tap Rule.",
          "enum": [
            "File",
            "Inline"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "ConfigurationType"
          }
        },
        "tapRulesUrl": {
          "type": "string",
          "description": "Network Tap Rules file URL.",
          "format": "uri",
          "minLength": 1
        },
        "matchConfigurations": {
          "type": "array",
          "description": "List of match configurations.",
          "minItems": 1,
          "items": {
            "description": "Match configuration.",
            "$ref": "#/definitions/NetworkTapRuleMatchConfiguration"
          }
        },
        "dynamicMatchConfigurations": {
          "type": "array",
          "description": "List of dynamic match configurations.",
          "minItems": 1,
          "items": {
            "description": "Dynamic match configuration object.",
            "$ref": "./common.json#/definitions/CommonDynamicMatchConfiguration"
          }
        }
      }
    },
    "NetworkTapRuleProperties": {
      "type": "object",
      "allOf": [
        {
          "$ref": "./common.json#/definitions/AnnotationResource",
          "description": "Common properties for annotated type."
        },
        {
          "description": "Network Tap Rule Patchable properties.",
          "$ref": "#/definitions/NetworkTapRulePatchableProperties"
        }
      ],
      "properties": {
        "networkTapId": {
          "type": "string",
          "description": "The ARM resource Id of the NetworkTap.",
          "readOnly": true
        },
        "pollingIntervalInSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Polling interval in seconds.",
          "default": 30,
          "enum": [
            30,
            60,
            90,
            120
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "PollingIntervalInSeconds"
          }
        },
        "lastSyncedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The last sync timestamp.",
          "readOnly": true
        },
        "configurationState": {
          "description": "Configuration state of the resource.",
          "$ref": "./common.json#/definitions/ConfigurationState"
        },
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "$ref": "./common.json#/definitions/ProvisioningState"
        },
        "administrativeState": {
          "description": "Administrative state of the resource.",
          "$ref": "./common.json#/definitions/AdministrativeState"
        }
      },
      "required": [
        "configurationType"
      ],
      "description": "Network Tap Rule Properties defines the resource properties."
    },
    "NetworkTapRule": {
      "type": "object",
      "x-ms-azure-resource": true,
      "description": "The NetworkTapRule resource definition.",
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/NetworkTapRuleProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "NetworkTapRulePatch": {
      "type": "object",
      "description": "The NetworkTapRule resource definition.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Network Tap Rule Patch properties.",
          "type": "object",
          "allOf": [
            {
              "$ref": "./common.json#/definitions/AnnotationResource"
            },
            {
              "$ref": "#/definitions/NetworkTapRulePatchableProperties"
            }
          ]
        }
      },
      "allOf": [
        {
          "description": "Azure resource tags that will replace the existing ones.",
          "$ref": "./common.json#/definitions/TagsUpdate"
        }
      ]
    },
    "NetworkTapRulesListResult": {
      "type": "object",
      "description": "List of NetworkTapRules.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of NetworkTapRule resources.",
          "items": {
            "$ref": "#/definitions/NetworkTapRule"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "NetworkTapRuleMatchConfiguration": {
      "type": "object",
      "description": "Defines the match configuration that are supported to filter the traffic.",
      "properties": {
        "matchConfigurationName": {
          "type": "string",
          "description": "The name of the match configuration.",
          "minLength": 1
        },
        "sequenceNumber": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "Sequence Number of the match configuration.."
        },
        "ipAddressType": {
          "description": "Type of IP Address. IPv4 or IPv6",
          "$ref": "./common.json#/definitions/IPAddressTypeEnumProperty"
        },
        "matchConditions": {
          "type": "array",
          "description": "List of the match conditions.",
          "minItems": 1,
          "items": {
            "description": "Defines the match condition that is supported to filter the traffic.",
            "$ref": "#/definitions/NetworkTapRuleMatchCondition"
          }
        },
        "actions": {
          "type": "array",
          "description": "List of actions that need to be performed for the matched conditions.",
          "minItems": 1,
          "items": {
            "description": "Action that needs to performed.",
            "$ref": "#/definitions/NetworkTapRuleAction"
          }
        }
      }
    },
    "NetworkTapRuleMatchCondition": {
      "type": "object",
      "description": "Defines the match condition that is supported to filter the traffic.",
      "properties": {
        "encapsulationType": {
          "type": "string",
          "description": "Encapsulation Type that needs to be matched.",
          "default": "None",
          "minLength": 1,
          "enum": [
            "None",
            "GTPv1"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "EncapsulationType"
          }
        },
        "portCondition": {
          "description": "Defines the port condition that needs to be matched.",
          "$ref": "./common.json#/definitions/PortCondition"
        }
      },
      "allOf": [
        {
          "$ref": "./common.json#/definitions/CommonMatchConditions"
        }
      ]
    },
    "NetworkTapRuleAction": {
      "type": "object",
      "description": "Action that need to performed.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of actions that can be performed.",
          "minLength": 1,
          "enum": [
            "Drop",
            "Count",
            "Log",
            "Replicate",
            "Goto",
            "Redirect",
            "Mirror"
          ],
          "x-ms-enum": {
            "modelAsString": true,
            "name": "TapRuleActionType"
          }
        },
        "truncate": {
          "type": "string",
          "minLength": 1,
          "description": "Truncate. 0 indicates do not truncate."
        },
        "isTimestampEnabled": {
          "description": "The parameter to enable or disable the timestamp.",
          "$ref": "./common.json#/definitions/BooleanEnumProperty"
        },
        "destinationId": {
          "type": "string",
          "description": "Destination Id. The ARM resource Id may be either Network To Network Interconnect or NeighborGroup.",
          "format": "arm-id",
          "x-ms-arm-id-details": {
            "allowedResources": [
              {
                "type": "Microsoft.ManagedNetworkFabric/neighborGroups"
              },
              {
                "type": "Microsoft.ManagedNetworkFabric/networkFabrics/networkToNetworkInterconnects"
              }
            ]
          },
          "example": "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ManagedNetworkFabric/neighborGroups/{neighborGroupName}"
        },
        "matchConfigurationName": {
          "type": "string",
          "minLength": 1,
          "description": "The name of the match configuration. This is used when Goto type is provided. If Goto type is selected and no match configuration name is provided. It goes to next configuration."
        }
      }
    }
  },
  "parameters": {
    "NetworkTapRuleNameParameter": {
      "type": "string",
      "description": "Name of the Network Tap Rule.",
      "in": "path",
      "name": "networkTapRuleName",
      "required": true,
      "x-ms-parameter-location": "method"
    }
  }
}
