{
  "swagger": "2.0",
  "info": {
    "title": "PostgreSQLServerManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.",
    "version": "2020-11-05-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "description": "Azure Active Directory OAuth2 Flow",
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationId}": {
      "put": {
        "tags": [
          "Migrations"
        ],
        "operationId": "Migrations_Create",
        "x-ms-examples": {
          "CreateMigration": {
            "$ref": "./examples/MigrationCreate.json"
          }
        },
        "description": "Creates a new migration.",
        "parameters": [
          {
            "$ref": "#/parameters/TargetDBServerSubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationResource"
            },
            "description": "The required parameters for creating a migration."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrationResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/MigrationResource"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Migrations"
        ],
        "operationId": "Migrations_Read",
        "x-ms-examples": {
          "GetMigration": {
            "$ref": "./examples/MigrationGet.json"
          }
        },
        "description": "Gets details of a migration.",
        "parameters": [
          {
            "$ref": "#/parameters/TargetDBServerSubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrationDetailsResource"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Migrations"
        ],
        "operationId": "Migrations_Update",
        "x-ms-examples": {
          "UpdateMigration": {
            "$ref": "./examples/MigrationUpdate.json"
          }
        },
        "description": "Updates an existing migration. The request body can contain one to many of the mutable properties present in the migration definition. Certain property updates initiate migration state transitions.",
        "parameters": [
          {
            "$ref": "#/parameters/TargetDBServerSubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationResource"
            },
            "description": "The required parameters for updating a migration."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrationResource"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Migrations"
        ],
        "operationId": "Migrations_Delete",
        "x-ms-examples": {
          "DeleteMigration": {
            "$ref": "./examples/MigrationDelete.json"
          }
        },
        "description": "Deletes a migration.",
        "parameters": [
          {
            "$ref": "#/parameters/TargetDBServerSubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerNameParameter"
          },
          {
            "$ref": "#/parameters/MigrationIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MigrationResource"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations": {
      "get": {
        "tags": [
          "Migrations"
        ],
        "operationId": "Migrations_ListByTargetServer",
        "x-ms-examples": {
          "ListMigrationsByTargetServer": {
            "$ref": "./examples/MigrationsListByTargetServer.json"
          }
        },
        "description": "List all the migrations on a given target server.",
        "parameters": [
          {
            "$ref": "#/parameters/TargetDBServerSubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/TargetDBServerNameParameter"
          },
          {
            "name": "migrationListFilter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MigrationSummaryResourceListResult"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "500": {
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MigrationResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrationCreateRequest",
          "description": "Migration resource properties.",
          "x-ms-client-flatten": true
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
          }
        ]
      },
      "description": "Represents a migration resource."
    },
    "MigrationCreateRequest": {
      "type": "object",
      "properties": {
        "sourceDBServerResourceId": {
          "pattern": "subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{Microsoft.DBforPostgreSQL|Microsoft.DBforMySQL}/{serverType}/{serverName}",
          "type": "string"
        },
        "targetDBServerSubnetResourceId": {
          "type": "string"
        },
        "dBsToMigrate": {
          "maxItems": 8,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "migrationResourceGroup": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationResourceGroup"
            }
          ]
        },
        "secretParameters": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationSecretParameters"
            }
          ]
        },
        "setupLogicalReplicationOnSourceDBIfNeeded": {
          "type": "boolean"
        },
        "overwriteDBsInTarget": {
          "type": "boolean"
        },
        "migrationWindowStartTimeInUtc": {
          "format": "date-time",
          "type": "string"
        },
        "startDataMigration": {
          "type": "boolean"
        },
        "triggerCutover": {
          "type": "boolean"
        },
        "cancel": {
          "type": "boolean"
        }
      }
    },
    "MigrationCreateFullRequest": {
      "required": [
        "targetDBServerResourceId"
      ],
      "type": "object",
      "properties": {
        "sourceDBServerResourceId": {
          "type": "string"
        },
        "secretParameters": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationSecretParameters"
            }
          ]
        },
        "targetDBServerResourceId": {
          "type": "string"
        },
        "targetDBServerSubnetResourceId": {
          "type": "string"
        },
        "dBsToMigrate": {
          "maxItems": 8,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "migrationResourceGroup": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationResourceGroup"
            }
          ]
        },
        "setupLogicalReplicationOnSourceDBIfNeeded": {
          "type": "boolean"
        },
        "overwriteDBsInTarget": {
          "type": "boolean"
        },
        "migrationWindowStartTimeInUtc": {
          "format": "date-time",
          "type": "string"
        },
        "startDataMigration": {
          "type": "boolean"
        },
        "triggerCutover": {
          "type": "boolean"
        },
        "cancel": {
          "type": "boolean"
        }
      }
    },
    "MigrationDetailsResource": {
      "type": "object",
      "properties": {
        "properties": {
          "properties": {
            "$ref": "#/definitions/MigrationDetails",
            "description": "Migration details resource properties.",
            "x-ms-client-flatten": true
          }
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
          }
        ]
      },
      "description": "Represents a migration details resource."
    },
    "MigrationDetails": {
      "type": "object",
      "properties": {
        "migrationId": {
          "format": "uuid",
          "type": "string"
        },
        "migrationDetailsLevel": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationDetailsLevel"
            }
          ]
        },
        "currentStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationStatus"
            }
          ]
        },
        "sourceDBServerMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/DBServerMetadata"
            }
          ]
        },
        "targetDBServerMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/DBServerMetadata"
            }
          ]
        },
        "migrationCreateFullRequest": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationCreateFullRequest"
            }
          ]
        }
      }
    },
    "MigrationSummaryResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MigrationSummary",
          "description": "Migration summary resource properties.",
          "x-ms-client-flatten": true
        },
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
          }
        ]
      },
      "description": "Represents a migration summary resource."
    },
    "MigrationSummaryResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MigrationSummaryResource"
          },
          "description": "The list of migration summary resources"
        }
      },
      "description": "A list of migration summary resources."
    },
    "MigrationSummary": {
      "type": "object",
      "properties": {
        "migrationId": {
          "format": "uuid",
          "type": "string"
        },
        "migrationDetailsLevel": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationDetailsLevel"
            }
          ]
        },
        "currentStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationStatus"
            }
          ]
        },
        "sourceDBServerMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/DBServerMetadata"
            }
          ]
        },
        "targetDBServerMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/DBServerMetadata"
            }
          ]
        }
      }
    },
    "MigrationResourceGroup": {
      "required": [
        "resourceId"
      ],
      "type": "object",
      "properties": {
        "resourceId": {
          "pattern": "subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}",
          "type": "string"
        },
        "location": {
          "maxLength": 128,
          "type": "string"
        }
      }
    },
    "MigrationSecretParameters": {
      "required": [
        "aadApp",
        "adminCredentials"
      ],
      "type": "object",
      "properties": {
        "adminCredentials": {
          "x-ms-secret": true,
          "x-ms-external": true,
          "allOf": [
            {
              "$ref": "#/definitions/AdminCredentials"
            }
          ]
        },
        "aadApp": {
          "x-ms-secret": true,
          "x-ms-external": true,
          "allOf": [
            {
              "$ref": "#/definitions/AADApp"
            }
          ]
        }
      }
    },
    "AADApp": {
      "type": "object",
      "required": [
        "aadSecret",
        "clientId",
        "tenantId"
      ],
      "properties": {
        "aadSecret": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-external": true
        },
        "clientId": {
          "type": "string",
          "format": "uuid"
        },
        "tenantId": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "AdminCredentials": {
      "type": "object",
      "required": [
        "sourceServerPassword",
        "targetServerPassword"
      ],
      "properties": {
        "sourceServerPassword": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-external": true
        },
        "targetServerPassword": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-external": true
        }
      }
    },
    "DBServerMetadata": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "storageMB": {
          "format": "int32",
          "type": "integer"
        },
        "sku": {
          "allOf": [
            {
              "$ref": "#/definitions/Sku"
            }
          ]
        }
      }
    },
    "MigrationDetailsLevel": {
      "enum": [
        "Default",
        "Summary",
        "Full"
      ],
      "type": "string",
      "description": "Migration details level.",
      "x-ms-enum": {
        "name": "MigrationDetailsLevel",
        "modelAsString": true
      }
    },
    "MigrationListFilter": {
      "enum": [
        "Active",
        "All"
      ],
      "type": "string",
      "description": "Migration list filter.",
      "x-ms-enum": {
        "name": "MigrationListFilter",
        "modelAsString": true
      }
    },
    "MigrationState": {
      "enum": [
        "InProgress",
        "WaitingForUserAction",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "type": "string",
      "description": "Migration state.",
      "x-ms-enum": {
        "name": "MigrationState",
        "modelAsString": true
      }
    },
    "MigrationStatus": {
      "type": "object",
      "properties": {
        "state": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationState"
            }
          ]
        },
        "error": {
          "type": "string"
        },
        "currentSubStateDetails": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationSubStateDetails"
            }
          ]
        }
      }
    },
    "MigrationSubState": {
      "enum": [
        "PerformingPreRequisiteSteps",
        "WaitingForLogicalReplicationSetupRequestOnSourceDB",
        "WaitingForDBsToMigrateSpecification",
        "WaitingForTargetDBOverwriteConfirmation",
        "WaitingForDataMigrationScheduling",
        "WaitingForDataMigrationWindow",
        "MigratingData",
        "WaitingForCutoverTrigger",
        "CompletingMigration",
        "Completed"
      ],
      "type": "string",
      "description": "Migration sub state.",
      "x-ms-enum": {
        "name": "MigrationSubState",
        "modelAsString": true
      }
    },
    "MigrationSubStateDetails": {
      "type": "object",
      "properties": {
        "currentSubState": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationSubState"
            }
          ]
        }
      }
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the sku, typically, tier + family + cores, e.g. Standard_D4s_v3."
        },
        "tier": {
          "type": "string",
          "description": "The tier of the particular SKU, e.g. Burstable.",
          "enum": [
            "Burstable",
            "GeneralPurpose",
            "MemoryOptimized"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name",
        "tier"
      ],
      "description": "Sku information related properties of a server."
    },
    "InvalidInput": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InvalidInputDetails"
          }
        },
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "InvalidInputDetails": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "InternalServerError": {
      "type": "object",
      "properties": {
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/UnknownError"
            }
          ]
        }
      }
    },
    "UnknownError": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
        }
      },
      "description": "An error response from the Batch service."
    }
  },
  "parameters": {
    "TargetDBServerSubscriptionIdParameter": {
      "name": "targetDBServerSubscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription ID of the target database server.",
      "x-ms-parameter-location": "method"
    },
    "TargetDBServerResourceGroupNameParameter": {
      "name": "targetDBServerResourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The resource group name of the target database server.",
      "x-ms-parameter-location": "method"
    },
    "TargetDBServerNameParameter": {
      "name": "targetDBServerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the target database server.",
      "x-ms-parameter-location": "method"
    },
    "MigrationIdParameter": {
      "name": "migrationId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "uuid",
      "description": "The name of the migration.",
      "x-ms-parameter-location": "method"
    }
  }
}
