{
  "swagger": "2.0",
  "info": {
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure PostgreSQL resources including servers, databases, firewall rules, VNET rules, security alert policies, log files and configurations with new business model.",
    "version": "2020-11-05-preview",
    "title": "PostgreSQLServerManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "description": "Azure Active Directory OAuth2 Flow",
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations": {
      "get": {
        "tags": [
          "Migrations"
        ],
        "operationId": "Migrations_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "targetDBServerSubscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "targetDBServerResourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetDBServerName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "migrationListFilter",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MigrationSummary"
              }
            }
          },
          "400": {
            "x-ms-error-response": true,
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "500": {
            "x-ms-error-response": true,
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Migrations"
        ],
        "operationId": "Migrations_Post",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "targetDBServerSubscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "targetDBServerResourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetDBServerName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/MigrationCreateRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          "400": {
            "x-ms-error-response": true,
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "500": {
            "x-ms-error-response": true,
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationId}": {
      "get": {
        "tags": [
          "Migrations"
        ],
        "operationId": "MigrationId_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "targetDBServerSubscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "targetDBServerResourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetDBServerName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "migrationId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "migrationDetailsLevel",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MigrationDetails"
            }
          },
          "400": {
            "x-ms-error-response": true,
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "500": {
            "x-ms-error-response": true,
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{targetDBServerSubscriptionId}/resourceGroups/{targetDBServerResourceGroupName}/providers/Microsoft.DBforPostgreSQL/flexibleServers/{targetDBServerName}/migrations/{migrationId}": {
      "post": {
        "tags": [
          "Migrations"
        ],
        "operationId": "TargetState_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "targetDBServerSubscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "targetDBServerResourceGroupName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetDBServerName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "migrationId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationStateTransitionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/MigrationDetails"
            }
          },
          "400": {
            "x-ms-error-response": true,
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/InvalidInput"
            }
          },
          "500": {
            "x-ms-error-response": true,
            "description": "Server Error",
            "schema": {
              "$ref": "#/definitions/InternalServerError"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AADApp": {
      "type": "object",
      "required": [
        "aadSecret",
        "clientId",
        "tenantId"
      ],
      "properties": {
        "aadSecret": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-external": true
        },
        "clientId": {
          "type": "string",
          "format": "uuid"
        },
        "tenantId": {
          "type": "string",
          "format": "uuid"
        }
      },
      "additionalProperties": {

      },
      "x-ms-external": true,
      "x-ms-secret": true
    },
    "AdminCredentials": {
      "type": "object",
      "required": [
        "sourceServerPassword",
        "targetServerPassword"
      ],
      "properties": {
        "sourceServerPassword": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-external": true
        },
        "targetServerPassword": {
          "type": "string",
          "x-ms-secret": true,
          "x-ms-external": true
        }
      },
      "additionalProperties": {

      },
      "x-ms-external": true,
      "x-ms-secret": true
    },
    "DBServerMetadata": {
      "type": "object",
      "properties": {
        "location": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "storageMB": {
          "format": "int32",
          "type": "integer"
        },
        "sku": {
          "allOf": [
            {
              "$ref": "#/definitions/Sku"
            }
          ]
        }
      }
    },
    "DBsToMigrateSpecificationRequest": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MigrationStateTransitionRequest"
        }
      ],
      "properties": {
        "dBsToMigrate": {
          "maxItems": 8,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DMSDBDataMigrationDetails": {
      "type": "object",
      "properties": {
        "fullLoadErroredTables": {
          "format": "int64",
          "type": "integer"
        },
        "fullLoadQueuedTables": {
          "format": "int64",
          "type": "integer"
        },
        "fullLoadLoadingTables": {
          "format": "int64",
          "type": "integer"
        },
        "fullLoadCompletedTables": {
          "format": "int64",
          "type": "integer"
        },
        "cdcUpdateCounter": {
          "format": "int64",
          "type": "integer"
        },
        "cdcDeleteCounter": {
          "format": "int64",
          "type": "integer"
        },
        "cdcInsertCounter": {
          "format": "int64",
          "type": "integer"
        },
        "appliedChanges": {
          "format": "int64",
          "type": "integer"
        },
        "incomingChanges": {
          "format": "int64",
          "type": "integer"
        },
        "migrationState": {
          "type": "string"
        },
        "endedOn": {
          "format": "date-time",
          "type": "string"
        },
        "startedOn": {
          "format": "date-time",
          "type": "string"
        },
        "databaseName": {
          "type": "string"
        },
        "initializationCompleted": {
          "type": "boolean"
        },
        "latency": {
          "format": "int64",
          "type": "integer"
        }
      }
    },
    "DataMigrationSubStateDetails": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MigrationSubStateDetails"
        }
      ],
      "properties": {
        "dbDetails": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DMSDBDataMigrationDetails"
          },
          "readOnly": true
        }
      }
    },
    "InternalServerError": {
      "type": "object",
      "properties": {
        "error": {
          "allOf": [
            {
              "$ref": "#/definitions/CloudError"
            }
          ]
        }
      }
    },
    "InvalidInput": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/InvalidInputDetails"
          }
        },
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "InvalidInputDetails": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "MigrationCreateRequest": {
      "required": [
        "sourceDBServerResourceId"
      ],
      "type": "object",
      "properties": {
        "sourceDBServerResourceId": {
          "pattern": "subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{Microsoft.DBforPostgreSQL|Microsoft.DBforMySQL}/{serverType}/{serverName}",
          "type": "string"
        },
        "secretParameters": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationSecretParameters"
            }
          ]
        },
        "targetDBServerSubnetResourceId": {
          "type": "string"
        },
        "dBsToMigrate": {
          "maxItems": 8,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "migrationResourceGroup": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationResourceGroup"
            }
          ]
        },
        "setupLogicalReplicationOnSourceDBIfNeeded": {
          "type": "boolean"
        },
        "overwriteDBsInTarget": {
          "type": "boolean"
        },
        "migrationWindowStartTimeInUtc": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "MigrationCreateRequestBase": {
      "required": [
        "sourceDBServerResourceId"
      ],
      "type": "object",
      "properties": {
        "sourceDBServerResourceId": {
          "type": "string"
        },
        "targetDBServerSubnetResourceId": {
          "type": "string"
        },
        "dBsToMigrate": {
          "maxItems": 8,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "migrationResourceGroup": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationResourceGroup"
            }
          ]
        },
        "setupLogicalReplicationOnSourceDBIfNeeded": {
          "type": "boolean"
        },
        "overwriteDBsInTarget": {
          "type": "boolean"
        },
        "migrationWindowStartTimeInUtc": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "MigrationDetails": {
      "type": "object",
      "properties": {
        "migrationId": {
          "format": "uuid",
          "type": "string"
        },
        "migrationDetailsLevel": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationDetailsLevel"
            }
          ]
        },
        "currentStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationStatus"
            }
          ]
        },
        "sourceDBServerMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/DBServerMetadata"
            }
          ]
        },
        "targetDBServerMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/DBServerMetadata"
            }
          ]
        },
        "migrationCreateRequest": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationCreateRequestBase"
            }
          ]
        }
      }
    },
    "MigrationDetailsLevel": {
      "enum": [
        "Default",
        "Summary",
        "Full"
      ],
      "type": "string"
    },
    "MigrationListFilter": {
      "enum": [
        "Active",
        "All"
      ],
      "type": "string"
    },
    "MigrationResourceGroup": {
      "required": [
        "resourceId"
      ],
      "type": "object",
      "properties": {
        "resourceId": {
          "pattern": "subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}",
          "type": "string"
        },
        "location": {
          "maxLength": 128,
          "type": "string"
        }
      }
    },
    "MigrationSchedulingRequest": {
      "required": [
        "migrationWindowStartTimeInUtc"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MigrationStateTransitionRequest"
        }
      ],
      "properties": {
        "migrationWindowStartTimeInUtc": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "MigrationSecretParameters": {
      "required": [
        "aadApp",
        "adminCredentials"
      ],
      "type": "object",
      "properties": {
        "adminCredentials": {
          "allOf": [
            {
              "$ref": "#/definitions/AdminCredentials"
            }
          ]
        },
        "aadApp": {
          "allOf": [
            {
              "$ref": "#/definitions/AADApp"
            }
          ]
        }
      }
    },
    "MigrationState": {
      "enum": [
        "InProgress",
        "WaitingForUserAction",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "type": "string"
    },
    "MigrationStateTransitionRequest": {
      "required": [
        "targetState"
      ],
      "type": "object",
      "properties": {
        "targetState": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTargetState"
            }
          ]
        }
      }
    },
    "MigrationStatus": {
      "type": "object",
      "properties": {
        "state": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationState"
            }
          ]
        },
        "error": {
          "type": "string"
        },
        "currentSubStateDetails": {

        }
      }
    },
    "MigrationSubState": {
      "enum": [
        "PerformingPreRequisiteSteps",
        "WaitingForLogicalReplicationSetupRequestOnSourceDB",
        "WaitingForDBsToMigrateSpecification",
        "WaitingForTargetDBOverwriteConfirmation",
        "WaitingForDataMigrationScheduling",
        "WaitingForDataMigrationWindow",
        "MigratingData",
        "WaitingForCutoverTrigger",
        "CompletingMigration",
        "Completed"
      ],
      "type": "string"
    },
    "MigrationSubStateDetails": {
      "type": "object",
      "properties": {
        "currentSubState": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationSubState"
            }
          ]
        }
      }
    },
    "MigrationSummary": {
      "type": "object",
      "properties": {
        "migrationId": {
          "format": "uuid",
          "type": "string"
        },
        "migrationDetailsLevel": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationDetailsLevel"
            }
          ]
        },
        "currentStatus": {
          "allOf": [
            {
              "$ref": "#/definitions/MigrationStatus"
            }
          ]
        },
        "sourceDBServerMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/DBServerMetadata"
            }
          ]
        },
        "targetDBServerMetadata": {
          "allOf": [
            {
              "$ref": "#/definitions/DBServerMetadata"
            }
          ]
        }
      }
    },
    "MigrationTargetState": {
      "enum": [
        "LogicalReplicationSetupOnSourceDBTriggered",
        "DBsToMigrateSpecified",
        "TargetDBOverwriteConfirmed",
        "DataMigrationScheduled",
        "DataMigrationInitiated",
        "CutoverTriggered",
        "Canceled"
      ],
      "type": "string"
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the sku, typically, tier + family + cores, e.g. Standard_D4s_v3."
        },
        "tier": {
          "type": "string",
          "description": "The tier of the particular SKU, e.g. Burstable.",
          "enum": [
            "Burstable",
            "GeneralPurpose",
            "MemoryOptimized"
          ],
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        }
      },
      "required": [
        "name",
        "tier"
      ],
      "description": "Sku information related properties of a server."
    },
    "TargetDBOverwriteConfirmationSubStateDetails": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/MigrationSubStateDetails"
        }
      ],
      "properties": {
        "dBsThatAlreadyExistOnTarget": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ErrorResponse"
        }
      },
      "description": "An error response from the Batch service."
    }
  }
}
