{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "version": "2023-12-01-preview",
    "description": "The workload SAP monitor Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Monitors"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "operationId": "Monitors_List",
        "tags": [
          "Monitors"
        ],
        "description": "Gets a list of SAP monitors in the specified subscription. The operations returns various properties of each SAP monitor.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all SAP monitors in a subscription": {
            "$ref": "./examples/Monitors_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors": {
      "get": {
        "operationId": "Monitors_ListByResourceGroup",
        "tags": [
          "Monitors"
        ],
        "description": "Gets a list of SAP monitors in the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MonitorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all SAP monitors in a resource group": {
            "$ref": "./examples/Monitors_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}": {
      "get": {
        "operationId": "Monitors_Get",
        "tags": [
          "Monitors"
        ],
        "description": "Gets properties of a SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get properties of a SAP monitor": {
            "$ref": "./examples/Monitors_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Monitors_Create",
        "tags": [
          "Monitors"
        ],
        "description": "Creates a SAP monitor for the specified subscription, resource group, and resource name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Request body representing a SAP monitor",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Monitor' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Monitor"
            }
          },
          "201": {
            "description": "Resource 'Monitor' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Monitor"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a SAP monitor": {
            "$ref": "./examples/Monitors_Create_Create_A_Sap_Monitor.json"
          },
          "Create a SAP monitor with system assigned identity": {
            "$ref": "./examples/Monitors_Create_Create_A_Sap_Monitor_With_System_Assigned_Identity.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Monitors_Delete",
        "tags": [
          "Monitors"
        ],
        "description": "Patches the Tags field of a SAP monitor for the specified subscription, resource group, and SAP monitor name.Deletes a SAP monitor with the specified subscription, resource group, and SAP monitor name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "monitorName",
            "in": "path",
            "description": "Name of the SAP monitor resource.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-_]+$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a SAP monitor": {
            "$ref": "./examples/Monitors_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AppServicePlanConfiguration": {
      "type": "object",
      "description": "Configuration details of app service plan",
      "properties": {
        "tier": {
          "$ref": "#/definitions/AppServicePlanTier",
          "description": "The App Service plan tier."
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "The number of workers in app service plan. If this is not set or set to 0, auto scale will be configured for the app service plan, otherwise, instance count is set to this number.",
          "minimum": 0
        }
      }
    },
    "AppServicePlanTier": {
      "type": "string",
      "description": "The App Service plan tier.",
      "enum": [
        "ElasticPremium",
        "PremiumV3"
      ],
      "x-ms-enum": {
        "name": "AppServicePlanTier",
        "modelAsString": true,
        "values": [
          {
            "name": "ElasticPremium",
            "value": "ElasticPremium",
            "description": "Elastic Premium plan"
          },
          {
            "name": "PremiumV3",
            "value": "PremiumV3",
            "description": "Dedicated Premium V3 plan"
          }
        ]
      }
    },
    "ManagedResourceGroupConfiguration": {
      "type": "object",
      "description": "Managed resource group configuration",
      "properties": {
        "name": {
          "type": "string",
          "description": "Managed resource group name"
        }
      }
    },
    "Monitor": {
      "type": "object",
      "description": "SAP monitor info on Azure (ARM properties and SAP monitor properties)",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MonitorProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MonitorListResult": {
      "type": "object",
      "description": "The response of a Monitor list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Monitor items on this page",
          "items": {
            "$ref": "#/definitions/Monitor"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MonitorProperties": {
      "type": "object",
      "description": "Describes the properties of a SAP monitor.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/WorkloadMonitorProvisioningState",
          "description": "State of provisioning of the SAP monitor.",
          "readOnly": true
        },
        "errors": {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorDetail",
          "description": "Defines the SAP monitor errors.",
          "readOnly": true
        },
        "appLocation": {
          "type": "string",
          "description": "The SAP monitor resources will be deployed in the SAP monitoring region. The subnet region should be same as the SAP monitoring region."
        },
        "routingPreference": {
          "$ref": "#/definitions/RoutingPreference",
          "description": "Sets the routing preference of the SAP monitor. By default only RFC1918 traffic is routed to the customer VNET."
        },
        "zoneRedundancyPreference": {
          "type": "string",
          "description": "Sets the preference for zone redundancy on resources created for the SAP monitor. By default resources will be created which do not support zone redundancy."
        },
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupConfiguration",
          "description": "Managed resource group configuration"
        },
        "logAnalyticsWorkspaceArmId": {
          "type": "string",
          "description": "The ARM ID of the Log Analytics Workspace that is used for SAP monitoring."
        },
        "monitorSubnet": {
          "type": "string",
          "description": "The subnet which the SAP monitor will be deployed in"
        },
        "appServicePlanConfiguration": {
          "$ref": "#/definitions/AppServicePlanConfiguration",
          "description": "App service plan configuration"
        },
        "msiArmId": {
          "type": "string",
          "description": "The ARM ID of the MSI used for SAP monitoring.",
          "readOnly": true
        },
        "storageAccountArmId": {
          "type": "string",
          "description": "The ARM ID of the Storage account used for SAP monitoring.",
          "readOnly": true
        }
      }
    },
    "RoutingPreference": {
      "type": "string",
      "description": "Sets the routing preference of the SAP monitor.",
      "enum": [
        "Default",
        "RouteAll"
      ],
      "x-ms-enum": {
        "name": "RoutingPreference",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "Default",
            "description": "Default routing preference. Only RFC1918 traffic is routed to the customer VNET."
          },
          {
            "name": "RouteAll",
            "value": "RouteAll",
            "description": "Route all traffic to the customer VNET."
          }
        ]
      }
    },
    "WorkloadMonitorProvisioningState": {
      "type": "string",
      "description": "State of provisioning of the SAP monitor.",
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Failed",
        "Succeeded",
        "Deleting",
        "Migrating",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "WorkloadMonitorProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource request has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource creation failed."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource creation has succeeded."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Migrating",
            "value": "Migrating",
            "description": "The resource is being migrated."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The resource operation was canceled."
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
