{
  "swagger": "2.0",
  "info": {
    "title": "customLocations",
    "version": "2021-08-31-preview",
    "description": "The customLocations Rest API spec.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "customLocations"
    },
    {
      "name": "resourceSyncRules"
    }
  ],
  "paths": {
    "/providers/Microsoft.ExtendedLocation/operations": {
      "get": {
        "operationId": "CustomLocations_ListOperations",
        "tags": [
          "customLocations"
        ],
        "description": "Lists all available Custom Locations operations.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/customLocationOperationsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Custom Locations operations": {
            "$ref": "./examples/CustomLocationsListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ExtendedLocation/customLocations": {
      "get": {
        "operationId": "CustomLocations_ListBySubscription",
        "tags": [
          "customLocations"
        ],
        "summary": "Gets a list of Custom Locations in a subscription.",
        "description": "Gets a list of Custom Locations in the specified subscription. The operation returns properties of each Custom Location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/customLocationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Custom Locations by subscription": {
            "$ref": "./examples/CustomLocationsListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations": {
      "get": {
        "operationId": "CustomLocations_ListByResourceGroup",
        "tags": [
          "customLocations"
        ],
        "summary": "Gets a list of Custom Locations in the specified subscription and resource group.",
        "description": "Gets a list of Custom Locations in the specified subscription and resource group. The operation returns properties of each Custom Location.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/customLocationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Custom Locations by resource group": {
            "$ref": "./examples/CustomLocationsListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}": {
      "get": {
        "operationId": "CustomLocations_Get",
        "tags": [
          "customLocations"
        ],
        "summary": "Gets a Custom Location.",
        "description": "Gets the details of the customLocation with a specified resource group and name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/customLocation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Custom Location": {
            "$ref": "./examples/CustomLocationsGet.json"
          }
        }
      },
      "put": {
        "operationId": "CustomLocations_CreateOrUpdate",
        "tags": [
          "customLocations"
        ],
        "summary": "Creates or updates a Custom Location.",
        "description": "Creates or updates a Custom Location in the specified Subscription and Resource Group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to create or update a Custom Location.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customLocation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'customLocation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/customLocation"
            }
          },
          "201": {
            "description": "Resource 'customLocation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/customLocation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create/Update Custom Location": {
            "$ref": "./examples/CustomLocationsCreate_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/customLocation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CustomLocations_Update",
        "tags": [
          "customLocations"
        ],
        "summary": "Updates a Custom Location.",
        "description": "Updates a Custom Location with the specified Resource Name in the specified Resource Group and Subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The updatable fields of an existing Custom Location.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchableCustomLocations"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/customLocation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Custom Location": {
            "$ref": "./examples/CustomLocationsPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "CustomLocations_Delete",
        "tags": [
          "customLocations"
        ],
        "summary": "Deletes a Custom Location.",
        "description": "Deletes the Custom Location with the specified Resource Name, Resource Group, and Subscription Id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Custom Location": {
            "$ref": "./examples/CustomLocationsDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}/enabledResourceTypes": {
      "get": {
        "operationId": "CustomLocations_ListEnabledResourceTypes",
        "tags": [
          "customLocations"
        ],
        "summary": "Gets the list of Enabled Resource Types.",
        "description": "Gets the list of the Enabled Resource Types.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnabledResourceTypesListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Custom Location": {
            "$ref": "./examples/CustomLocationsListEnabledResourceTypes.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}/findTargetResourceGroup": {
      "post": {
        "operationId": "CustomLocations_FindTargetResourceGroup",
        "tags": [
          "customLocations"
        ],
        "summary": "Gets matching target resource group for resource sync.",
        "description": "Returns the target resource group associated with the resource sync rules of the Custom Location that match the rules passed in with the Find Target Resource Group Request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters of the find target resource group request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/customLocationFindTargetResourceGroupProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/customLocationFindTargetResourceGroupResult"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Post Custom Location Find Target Resource Group": {
            "$ref": "./examples/CustomLocationsFindTargetResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}/resourceSyncRules": {
      "get": {
        "operationId": "ResourceSyncRules_ListByCustomLocationID",
        "tags": [
          "resourceSyncRules"
        ],
        "summary": "Lists all Resource Sync Rules in a Custom Location.",
        "description": "Gets a list of Resource Sync Rules in the specified subscription. The operation returns properties of each Resource Sync Rule",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/resourceSyncRuleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Resource Sync Rules by subscription": {
            "$ref": "./examples/ResourceSyncRulesListByCustomLocationID.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ExtendedLocation/customLocations/{resourceName}/resourceSyncRules/{childResourceName}": {
      "get": {
        "operationId": "ResourceSyncRules_Get",
        "tags": [
          "resourceSyncRules"
        ],
        "summary": "Gets a Resource Sync Rule.",
        "description": "Gets the details of the resourceSyncRule with a specified resource group, subscription id Custom Location resource name and Resource Sync Rule name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "childResourceName",
            "in": "path",
            "description": "Resource Sync Rule name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/resourceSyncRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Custom Location": {
            "$ref": "./examples/ResourceSyncRulesGet.json"
          }
        }
      },
      "put": {
        "operationId": "ResourceSyncRules_CreateOrUpdate",
        "tags": [
          "resourceSyncRules"
        ],
        "summary": "Creates or updates a Resource Sync Rule.",
        "description": "Creates or updates a Resource Sync Rule in the parent Custom Location, Subscription Id and Resource Group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "childResourceName",
            "in": "path",
            "description": "Resource Sync Rule name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to create or update a Resource Sync Rule.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/resourceSyncRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'resourceSyncRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/resourceSyncRule"
            }
          },
          "201": {
            "description": "Resource 'resourceSyncRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/resourceSyncRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create/Update Resource Sync Rule": {
            "$ref": "./examples/ResourceSyncRulesCreate_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/resourceSyncRule"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ResourceSyncRules_Update",
        "tags": [
          "resourceSyncRules"
        ],
        "summary": "Updates a Resource Sync Rule.",
        "description": "Updates a Resource Sync Rule with the specified Resource Sync Rule name in the specified Resource Group, Subscription and Custom Location name.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "childResourceName",
            "in": "path",
            "description": "Resource Sync Rule name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The updatable fields of an existing Resource Sync Rule.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchableResourceSyncRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/resourceSyncRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Resource Sync Rule": {
            "$ref": "./examples/ResourceSyncRulesPatch.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/resourceSyncRule"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ResourceSyncRules_Delete",
        "tags": [
          "resourceSyncRules"
        ],
        "summary": "Deletes a Resource Sync Rule.",
        "description": "Deletes the Resource Sync Rule with the specified Resource Sync Rule Name, Custom Location Resource Name, Resource Group, and Subscription Id.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "Custom Locations name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          },
          {
            "name": "childResourceName",
            "in": "path",
            "description": "Resource Sync Rule name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]$|^[a-zA-Z0-9][-_a-zA-Z0-9]{0,61}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Resource Sync Rule": {
            "$ref": "./examples/ResourceSyncRulesDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "EnabledResourceType": {
      "type": "object",
      "description": "EnabledResourceType definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnabledResourceTypeProperties",
          "description": "The set of properties for EnabledResourceType specific to a Custom Location",
          "x-ms-client-flatten": true
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EnabledResourceTypeProperties": {
      "type": "object",
      "description": "Properties for EnabledResourceType of a custom location.",
      "properties": {
        "clusterExtensionId": {
          "type": "string",
          "description": "Cluster Extension ID"
        },
        "extensionType": {
          "type": "string",
          "description": "Cluster Extension Type"
        },
        "typesMetadata": {
          "type": "array",
          "description": "Metadata of the Resource Type",
          "items": {
            "$ref": "#/definitions/EnabledResourceTypePropertiesTypesMetadataItem"
          },
          "x-ms-identifiers": [
            "apiVersion",
            "resourceType",
            "resourceProviderNamespace"
          ]
        }
      }
    },
    "EnabledResourceTypePropertiesTypesMetadataItem": {
      "type": "object",
      "description": "Metadata of the Resource Type.",
      "properties": {
        "apiVersion": {
          "type": "string",
          "description": "Api Version of Resource Type"
        },
        "resourceProviderNamespace": {
          "type": "string",
          "description": "Resource Provider Namespace of Resource Type"
        },
        "resourceType": {
          "type": "string",
          "description": "Resource Type"
        }
      }
    },
    "EnabledResourceTypesListResult": {
      "type": "object",
      "description": "List of EnabledResourceTypes definition.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results.",
          "readOnly": true
        },
        "value": {
          "type": "array",
          "description": "The list of EnabledResourceTypes available for a customLocation.",
          "items": {
            "$ref": "#/definitions/EnabledResourceType"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "HostType": {
      "type": "string",
      "description": "Type of host the Custom Locations is referencing (Kubernetes, etc...).",
      "enum": [
        "Kubernetes"
      ],
      "x-ms-enum": {
        "name": "HostType",
        "modelAsString": true,
        "values": [
          {
            "name": "Kubernetes",
            "value": "Kubernetes",
            "description": "Kubernetes"
          }
        ]
      }
    },
    "Identity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/ResourceIdentityType",
          "description": "The identity type."
        }
      }
    },
    "ResourceIdentityType": {
      "type": "string",
      "description": "The identity type.",
      "enum": [
        "SystemAssigned",
        "None"
      ],
      "x-ms-enum": {
        "name": "ResourceIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "SystemAssigned"
          },
          {
            "name": "None",
            "value": "None",
            "description": "None"
          }
        ]
      }
    },
    "ResourceSyncRulePropertiesSelector": {
      "type": "object",
      "description": "A label selector is composed of two parts, matchLabels and matchExpressions. The first part, matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is 'key', the operator is 'In', and the values array contains only 'value'. The second part, matchExpressions is a list of resource selector requirements. Valid operators include In, NotIn, Exists, and DoesNotExist. The values set must be non-empty in the case of In and NotIn. The values set must be empty in the case of Exists and DoesNotExist. All of the requirements, from both matchLabels and matchExpressions must all be satisfied in order to match.",
      "properties": {
        "matchExpressions": {
          "type": "array",
          "description": "MatchExpressions is a list of resource selector requirements. Valid operators include In, NotIn, Exists, and DoesNotExist. The values set must be non-empty in the case of In and NotIn. The values set must be empty in the case of Exists and DoesNotExist.",
          "items": {
            "$ref": "#/definitions/matchExpressionsProperties"
          },
          "x-ms-client-flatten": true,
          "x-ms-identifiers": []
        },
        "matchLabels": {
          "type": "object",
          "description": "MatchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is 'key', the operator is 'In', and the values array contains only 'value'.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "customLocation": {
      "type": "object",
      "description": "Custom Locations definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/customLocationProperties",
          "description": "The set of properties specific to a Custom Location",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "Identity for the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "customLocationFindTargetResourceGroupProperties": {
      "type": "object",
      "description": "The Find Target Resource Group operation request.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Labels of the custom resource, this is a map of {key,value} pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "customLocationFindTargetResourceGroupResult": {
      "type": "object",
      "description": "The Find Target Resource Group operation response.",
      "properties": {
        "matchedResourceSyncRule": {
          "type": "string",
          "description": "The matching resource sync rule is the particular resource sync rule that matched the match expressions and labels and had lowest priority. This is the rule responsible for mapping the target resource to the target resource group.",
          "readOnly": true
        },
        "targetResourceGroup": {
          "type": "string",
          "description": "The target resource group of matching resource sync rule. The labels from the request will be used to find out matching resource sync rule against the selector property of the resource sync rule. The one with highest priority will be returned if there are multiple matching rules.",
          "readOnly": true
        }
      }
    },
    "customLocationListResult": {
      "type": "object",
      "description": "The List Custom Locations operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results.",
          "readOnly": true
        },
        "value": {
          "type": "array",
          "description": "The list of Custom Locations.",
          "items": {
            "$ref": "#/definitions/customLocation"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "customLocationOperation": {
      "type": "object",
      "description": "Custom Locations operation.",
      "properties": {
        "display": {
          "$ref": "#/definitions/customLocationOperationValueDisplay",
          "description": "Describes the properties of a Custom Locations Operation Value Display.",
          "x-ms-client-flatten": true
        },
        "isDataAction": {
          "type": "boolean",
          "description": "Is this Operation a data plane operation",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the compute operation.",
          "readOnly": true
        },
        "origin": {
          "type": "string",
          "description": "The origin of the compute operation.",
          "readOnly": true
        }
      }
    },
    "customLocationOperationValueDisplay": {
      "type": "object",
      "description": "Describes the properties of a Custom Locations Operation Value Display.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the operation.",
          "readOnly": true
        },
        "operation": {
          "type": "string",
          "description": "The display name of the compute operation.",
          "readOnly": true
        },
        "provider": {
          "type": "string",
          "description": "The resource provider for the operation.",
          "readOnly": true
        },
        "resource": {
          "type": "string",
          "description": "The display name of the resource the operation applies to.",
          "readOnly": true
        }
      }
    },
    "customLocationOperationsList": {
      "type": "object",
      "description": "Collection of CustomLocationOperation items",
      "properties": {
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        },
        "value": {
          "type": "array",
          "description": "The CustomLocationOperation items",
          "items": {
            "$ref": "#/definitions/customLocationOperation"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      },
      "required": [
        "value"
      ]
    },
    "customLocationProperties": {
      "type": "object",
      "description": "Properties for a custom location.",
      "properties": {
        "authentication": {
          "$ref": "#/definitions/customLocationPropertiesAuthentication",
          "description": "This is optional input that contains the authentication that should be used to generate the namespace."
        },
        "clusterExtensionIds": {
          "type": "array",
          "description": "Contains the reference to the add-on that contains charts to deploy CRDs and operators.",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the Custom Locations location."
        },
        "hostResourceId": {
          "type": "string",
          "description": "Connected Cluster or AKS Cluster. The Custom Locations RP will perform a checkAccess API for listAdminCredentials permissions."
        },
        "hostType": {
          "$ref": "#/definitions/HostType",
          "description": "Type of host the Custom Locations is referencing (Kubernetes, etc...)."
        },
        "namespace": {
          "type": "string",
          "description": "Kubernetes namespace that will be created on the specified cluster."
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning State for the Custom Location."
        }
      }
    },
    "customLocationPropertiesAuthentication": {
      "type": "object",
      "description": "This is optional input that contains the authentication that should be used to generate the namespace.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the Custom Locations authentication"
        },
        "value": {
          "type": "string",
          "format": "password",
          "description": "The kubeconfig value.",
          "x-ms-mutability": [
            "update",
            "create"
          ],
          "x-ms-secret": true
        }
      }
    },
    "matchExpressionsProperties": {
      "type": "object",
      "description": "Resource Sync Rules matchExpression property definition.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key is the label key that the selector applies to."
        },
        "operator": {
          "type": "string",
          "description": "The Operator field represents a key's relationship to a set of values. Valid operators are In, NotIn, Exists and DoesNotExist."
        },
        "values": {
          "type": "array",
          "description": "The label value",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "patchableCustomLocations": {
      "type": "object",
      "description": "The Custom Locations patchable resource definition.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "Identity for the resource."
        },
        "properties": {
          "$ref": "#/definitions/customLocationProperties",
          "description": "The Custom Locations patchable properties.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "patchableResourceSyncRule": {
      "type": "object",
      "description": "The Resource Sync Rules patchable resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/resourceSyncRuleProperties",
          "description": "The Resource Sync Rules patchable properties.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "resourceSyncRule": {
      "type": "object",
      "description": "Resource Sync Rules definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/resourceSyncRuleProperties",
          "description": "The set of properties specific to a Resource Sync Rule",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "resourceSyncRuleListResult": {
      "type": "object",
      "description": "The List Resource Sync Rules operation response.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results.",
          "readOnly": true
        },
        "value": {
          "type": "array",
          "description": "The list of Resource Sync Rules.",
          "items": {
            "$ref": "#/definitions/resourceSyncRule"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "resourceSyncRuleProperties": {
      "type": "object",
      "description": "Properties for a resource sync rule. For an unmapped custom resource, its labels will be used to find out matching resource sync rules using the selector property of the resource sync rule. If this resource sync rule has highest priority among all matching rules, then the unmapped custom resource will be projected to the target resource group associated with this resource sync rule.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority represents a priority of the Resource Sync Rule"
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning State for the Resource Sync Rule.",
          "readOnly": true
        },
        "selector": {
          "$ref": "#/definitions/ResourceSyncRulePropertiesSelector",
          "description": "A label selector is composed of two parts, matchLabels and matchExpressions. The first part, matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels map is equivalent to an element of matchExpressions, whose key field is 'key', the operator is 'In', and the values array contains only 'value'. The second part, matchExpressions is a list of resource selector requirements. Valid operators include In, NotIn, Exists, and DoesNotExist. The values set must be non-empty in the case of In and NotIn. The values set must be empty in the case of Exists and DoesNotExist. All of the requirements, from both matchLabels and matchExpressions must all be satisfied in order to match."
        },
        "targetResourceGroup": {
          "type": "string",
          "description": "For an unmapped custom resource, its labels will be used to find matching resource sync rules. If this resource sync rule is one of the matching rules with highest priority, then the unmapped custom resource will be projected to the target resource group associated with this resource sync rule. The user creating this resource sync rule should have write permissions on the target resource group and this write permission will be validated when creating the resource sync rule."
        }
      }
    }
  },
  "parameters": {}
}
