{
  "swagger": "2.0",
  "info": {
    "title": "StorageManagementClient",
    "description": "The Azure Storage Management API.",
    "version": "2022-09-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Storage/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Storage Rest API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/skus": {
      "get": {
        "tags": [
          "Skus"
        ],
        "operationId": "Skus_List",
        "description": "Lists the available SKUs supported by Microsoft.Storage for given subscription.",
        "x-ms-examples": {
          "SkuList": {
            "$ref": "./examples/SKUList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List of storage SKUs in the given subscription retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageSkuListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/checkNameAvailability": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_CheckNameAvailability",
        "description": "Checks that the storage account name is valid and is not already in use.",
        "x-ms-examples": {
          "StorageAccountCheckNameAvailability": {
            "$ref": "./examples/StorageAccountCheckNameAvailability.json"
          }
        },
        "parameters": [
          {
            "name": "accountName",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccountCheckNameAvailabilityParameters"
            },
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Operation to check the storage account name availability was successful.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}": {
      "put": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_Create",
        "description": "Asynchronously creates a new storage account with the specified parameters. If an account is already created and a subsequent create request is issued with different properties, the account properties will be updated. If an account is already created and a subsequent create or update request is issued with the exact same set of properties, the request will succeed.",
        "x-ms-examples": {
          "StorageAccountCreate": {
            "$ref": "./examples/StorageAccountCreate.json"
          },
          "NfsV3AccountCreate": {
            "$ref": "./examples/NfsV3AccountCreate.json"
          },
          "StorageAccountCreateUserAssignedEncryptionIdentityWithCMK": {
            "$ref": "./examples/StorageAccountCreateUserAssignedEncryptionIdentityWithCMK.json"
          },
          "StorageAccountCreateWithImmutabilityPolicy": {
            "$ref": "./examples/StorageAccountCreateWithImmutabilityPolicy.json"
          },
          "StorageAccountCreateDisallowPublicNetworkAccess": {
            "$ref": "./examples/StorageAccountCreateDisallowPublicNetworkAccess.json"
          },
          "StorageAccountCreateEnablePublicNetworkAccess": {
            "$ref": "./examples/StorageAccountCreateEnablePublicNetworkAccess.json"
          },
          "StorageAccountCreateUserAssignedIdentityWithFederatedIdentityClientId.": {
            "$ref": "./examples/StorageAccountCreateUserAssignedIdentityWithFederatedIdentityClientId.json"
          },
          "StorageAccountCreateAllowedCopyScopeToPrivateLink": {
            "$ref": "./examples/StorageAccountCreateAllowedCopyScopeToPrivateLink.json"
          },
          "StorageAccountCreateAllowedCopyScopeToAAD": {
            "$ref": "./examples/StorageAccountCreateAllowedCopyScopeToAAD.json"
          },
          "StorageAccountCreatePremiumBlockBlobStorage": {
            "$ref": "./examples/StorageAccountCreatePremiumBlockBlobStorage.json"
          },
          "StorageAccountCreateDnsEndpointTypeToAzureDnsZone": {
            "$ref": "./examples/StorageAccountCreateDnsEndpointTypeToAzureDnsZone.json"
          },
          "StorageAccountCreateDnsEndpointTypeToStandard": {
            "$ref": "./examples/StorageAccountCreateDnsEndpointTypeToStandard.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccountCreateParameters"
            },
            "description": "The parameters to provide for the created account."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned when the storage account was already created from a previous request with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_Delete",
        "description": "Deletes a storage account in Microsoft Azure.",
        "x-ms-examples": {
          "StorageAccountDelete": {
            "$ref": "./examples/StorageAccountDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- storage account deleted successfully."
          },
          "204": {
            "description": "NoContent -- account does not exist in the subscription."
          }
        }
      },
      "get": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_GetProperties",
        "description": "Returns the properties for the specified storage account including but not limited to name, SKU name, location, and account status. The ListKeys operation should be used to retrieve storage keys.",
        "x-ms-examples": {
          "StorageAccountGetProperties": {
            "$ref": "./examples/StorageAccountGetProperties.json"
          },
          "StorageAccountGetPropertiesCMKEnabled": {
            "$ref": "./examples/StorageAccountGetPropertiesCMKEnabled.json"
          },
          "StorageAccountGetAsyncSkuConversionStatus": {
            "$ref": "./examples/StorageAccountGetAsyncSkuConversionStatus.json"
          },
          "StorageAccountGetPropertiesCMKVersionExpirationTime": {
            "$ref": "./examples/StorageAccountGetPropertiesCMKVersionExpirationTime.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties within account's properties. By default, data is not included when fetching properties. Currently we only support geoReplicationStats and blobRestoreStatus.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "geoReplicationStats",
              "blobRestoreStatus"
            ],
            "x-ms-enum": {
              "name": "StorageAccountExpand",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- properties retrieved successfully for the storage account.",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_Update",
        "description": "The update operation can be used to update the SKU, encryption, access tier, or tags for a storage account. It can also be used to map the account to a custom domain. Only one custom domain is supported per storage account; the replacement/change of custom domain is not supported. In order to replace an old custom domain, the old value must be cleared/unregistered before a new value can be set. The update of multiple properties is supported. This call does not change the storage keys for the account. If you want to change the storage account keys, use the regenerate keys operation. The location and name of the storage account cannot be changed after creation.",
        "x-ms-examples": {
          "StorageAccountUpdate": {
            "$ref": "./examples/StorageAccountUpdate.json"
          },
          "StorageAccountEnableAD": {
            "$ref": "./examples/StorageAccountEnableAD.json"
          },
          "StorageAccountEnableCMK": {
            "$ref": "./examples/StorageAccountEnableCMK.json"
          },
          "StorageAccountUpdateUserAssignedEncryptionIdentityWithCMK": {
            "$ref": "./examples/StorageAccountUpdateUserAssignedEncryptionIdentityWithCMK.json"
          },
          "StorageAccountUpdateDisablePublicNetworkAccess": {
            "$ref": "./examples/StorageAccountUpdateDisablePublicNetworkAccess.json"
          },
          "StorageAccountUpdateWithImmutabilityPolicy": {
            "$ref": "./examples/StorageAccountUpdateWithImmutabilityPolicy.json"
          },
          "StorageAccountUpdateUserAssignedIdentityWithFederatedIdentityClientId": {
            "$ref": "./examples/StorageAccountUpdateUserAssignedIdentityWithFederatedIdentityClientId.json"
          },
          "StorageAccountUpdateAllowedCopyScopeToAAD": {
            "$ref": "./examples/StorageAccountUpdateAllowedCopyScopeToAAD.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccountUpdateParameters"
            },
            "description": "The parameters to provide for the updated account."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- storage account properties updated successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccount"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/deletedAccounts": {
      "get": {
        "tags": [
          "DeletedAccounts"
        ],
        "operationId": "DeletedAccounts_List",
        "description": "Lists deleted accounts under the subscription.",
        "x-ms-examples": {
          "DeletedAccountList": {
            "$ref": "./examples/DeletedAccountList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List of deleted accounts was retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/deletedAccounts/{deletedAccountName}": {
      "get": {
        "tags": [
          "DeletedAccounts"
        ],
        "operationId": "DeletedAccounts_Get",
        "description": "Get properties of specified deleted account resource.",
        "x-ms-examples": {
          "DeletedAccountGet": {
            "$ref": "./examples/DeletedAccountGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/DeletedAccountName"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location of the deleted storage account."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- properties retrieved and returned successfully for the deleted account.",
            "schema": {
              "$ref": "#/definitions/DeletedAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/storageAccounts": {
      "get": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_List",
        "description": "Lists all the storage accounts available under the subscription. Note that storage keys are not returned; use the ListKeys operation for this.",
        "x-ms-examples": {
          "StorageAccountList": {
            "$ref": "./examples/StorageAccountList.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List of storage accounts was retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts": {
      "get": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_ListByResourceGroup",
        "description": "Lists all the storage accounts available under the given resource group. Note that storage keys are not returned; use the ListKeys operation for this.",
        "x-ms-examples": {
          "StorageAccountListByResourceGroup": {
            "$ref": "./examples/StorageAccountListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List of storage accounts in the given resource group retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/listKeys": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_ListKeys",
        "description": "Lists the access keys or Kerberos keys (if active directory enabled) for the specified storage account.",
        "x-ms-examples": {
          "StorageAccountListKeys": {
            "$ref": "./examples/StorageAccountListKeys.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "kerb"
            ],
            "x-ms-enum": {
              "name": "ListKeyExpand"
            },
            "description": "Specifies type of the key to be listed. Possible value is kerb."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- list of keys retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountListKeysResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/regenerateKey": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_RegenerateKey",
        "description": "Regenerates one of the access keys or Kerberos keys for the specified storage account.",
        "x-ms-examples": {
          "StorageAccountRegenerateKey": {
            "$ref": "./examples/StorageAccountRegenerateKey.json"
          },
          "StorageAccountRegenerateKerbKey": {
            "$ref": "./examples/StorageAccountRegenerateKerbKey.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "name": "regenerateKey",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StorageAccountRegenerateKeyParameters"
            },
            "description": "Specifies name of the key which should be regenerated -- key1, key2, kerb1, kerb2."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- specified key regenerated successfully.",
            "schema": {
              "$ref": "#/definitions/StorageAccountListKeysResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Storage/locations/{location}/usages": {
      "get": {
        "tags": [
          "LocationUsage"
        ],
        "operationId": "Usages_ListByLocation",
        "description": "Gets the current usage count and the limit for the resources of the location under the subscription.",
        "x-ms-examples": {
          "UsageList": {
            "$ref": "./examples/StorageAccountListLocationUsage.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location of the Azure Storage resource."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- current usage count and limit retrieved and returned successfully.",
            "schema": {
              "$ref": "#/definitions/UsageListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListAccountSas": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_ListAccountSAS",
        "description": "List SAS credentials of a storage account.",
        "x-ms-examples": {
          "StorageAccountListAccountSAS": {
            "$ref": "./examples/StorageAccountListAccountSAS.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSasParameters"
            },
            "description": "The parameters to provide to list SAS credentials for the storage account."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned the account SAS created for the storage account requested.",
            "schema": {
              "$ref": "#/definitions/ListAccountSasResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/ListServiceSas": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_ListServiceSAS",
        "description": "List service SAS credentials of a specific resource.",
        "x-ms-examples": {
          "StorageAccountListServiceSAS": {
            "$ref": "./examples/StorageAccountListServiceSAS.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceSasParameters"
            },
            "description": "The parameters to provide to list service SAS credentials."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned the service SAS created for the storage service requested.",
            "schema": {
              "$ref": "#/definitions/ListServiceSasResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/failover": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_Failover",
        "description": "A failover request can be triggered for a storage account in the event a primary endpoint becomes unavailable for any reason. The failover occurs from the storage account's primary cluster to the secondary cluster for RA-GRS accounts. The secondary cluster will become primary after failover and the account is converted to LRS. In the case of a Planned Failover, the primary and secondary clusters are swapped after failover and the account remains geo-replicated. Failover should continue to be used in the event of availability issues as Planned failover is only available while the primary and secondary endpoints are available. The primary use case of a Planned Failover is disaster recovery testing drills. This type of failover is invoked by setting FailoverType parameter to 'Planned'. Learn more about the failover options here- https://learn.microsoft.com/en-us/azure/storage/common/storage-disaster-recovery-guidance",
        "x-ms-examples": {
          "StorageAccountFailover": {
            "$ref": "./examples/StorageAccountFailover.json"
          },
          "StorageAccountFailoverPlanned": {
            "$ref": "./examples/StorageAccountFailoverPlanned.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "failoverType",
            "description": "The parameter is set to 'Planned' to indicate whether a Planned failover is requested.",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Planned"
            ],
            "x-ms-enum": {
              "name": "failoverType",
              "modelAsString": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Returned when the storage account failover is completed, and the secondary cluster has become primary."
          },
          "202": {
            "description": "Accepted -- Failover request accepted; operation will complete asynchronously."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/hnsonmigration": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_HierarchicalNamespaceMigration",
        "description": "Live Migration of storage account to enable Hns",
        "x-ms-examples": {
          "StorageAccountHierarchicalNamespaceMigration": {
            "$ref": "./examples/StorageAccountHierarchicalNamespaceMigration.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "requestType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Required. Hierarchical namespace migration type can either be a hierarchical namespace validation request 'HnsOnValidationRequest' or a hydration request 'HnsOnHydrationRequest'. The validation request will validate the migration whereas the hydration request will migrate the account."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Returned when the storage account migration to hierarchical namespace is completed."
          },
          "202": {
            "description": "Accepted -- Hierarchical namespace migration request accepted; operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/aborthnsonmigration": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_AbortHierarchicalNamespaceMigration",
        "description": "Abort live Migration of storage account to enable Hns",
        "x-ms-examples": {
          "StorageAccountAbortHierarchicalNamespaceMigration": {
            "$ref": "./examples/StorageAccountAbortHierarchicalNamespaceMigration.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Returned when the storage account migration to hierarchical namespace is aborted."
          },
          "202": {
            "description": "Accepted -- Abort hierarchical namespace migration request accepted; operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/restoreBlobRanges": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_RestoreBlobRanges",
        "description": "Restore blobs in the specified blob ranges",
        "x-ms-examples": {
          "BlobRangesRestore": {
            "$ref": "./examples/BlobRangesRestore.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobRestoreParameters"
            },
            "description": "The parameters to provide for restore blob ranges."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned when blob ranges are restored completely with the same properties specified in the request body.",
            "schema": {
              "$ref": "#/definitions/BlobRestoreStatus"
            }
          },
          "202": {
            "description": "Accepted -- Blob restore request accepted; operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/BlobRestoreStatus"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/managementPolicies/{managementPolicyName}": {
      "get": {
        "tags": [
          "ManagementPolicies"
        ],
        "operationId": "ManagementPolicies_Get",
        "description": "Gets the managementpolicy associated with the specified storage account.",
        "x-ms-examples": {
          "StorageAccountGetManagementPolicies": {
            "$ref": "./examples/StorageAccountGetManagementPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ManagementPolicyName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the managementpolicy successfully.",
            "schema": {
              "$ref": "#/definitions/ManagementPolicy"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ManagementPolicies"
        ],
        "operationId": "ManagementPolicies_CreateOrUpdate",
        "description": "Sets the managementpolicy to the specified storage account.",
        "x-ms-examples": {
          "StorageAccountSetManagementPolicies": {
            "$ref": "./examples/StorageAccountSetManagementPolicy.json"
          },
          "StorageAccountSetManagementPolicy_LastAccessTimeBasedBlobActions": {
            "$ref": "./examples/StorageAccountSetManagementPolicy_LastAccessTimeBasedBlobActions.json"
          },
          "StorageAccountSetManagementPolicyWithSnapshotAndVersion": {
            "$ref": "./examples/StorageAccountSetManagementPolicyWithSnapshotAndVersion.json"
          },
          "StorageAccountSetManagementPolicyForBlockAndAppendBlobs": {
            "$ref": "./examples/StorageAccountSetManagementPolicyForBlockAndAppendBlobs.json"
          },
          "StorageAccountSetManagementPolicy_LastTierChangeTimeActions": {
            "$ref": "./examples/StorageAccountSetManagementPolicy_LastTierChangeTimeActions.json"
          },
          "StorageAccountSetManagementPolicy_BaseBlobDaysAfterCreationActions": {
            "$ref": "./examples/StorageAccountSetManagementPolicy_BaseBlobDaysAfterCreationActions.json"
          },
          "StorageAccountSetManagementPolicyColdTierActions": {
            "$ref": "./examples/StorageAccountSetManagementPolicyColdTierActions.json"
          },
          "StorageAccountSetManagementPolicyHotTierActions": {
            "$ref": "./examples/StorageAccountSetManagementPolicyHotTierActions.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ManagementPolicyName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagementPolicy"
            },
            "description": "The ManagementPolicy set to a storage account."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Put managementpolicy successfully.",
            "schema": {
              "$ref": "#/definitions/ManagementPolicy"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ManagementPolicies"
        ],
        "operationId": "ManagementPolicies_Delete",
        "description": "Deletes the managementpolicy associated with the specified storage account.",
        "x-ms-examples": {
          "StorageAccountDeleteManagementPolicies": {
            "$ref": "./examples/StorageAccountDeleteManagementPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ManagementPolicyName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete the managementpolicy successfully."
          },
          "204": {
            "description": "No Content -- The managementpolicy does not exist."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/inventoryPolicies/{blobInventoryPolicyName}": {
      "get": {
        "tags": [
          "BlobInventoryPolicies"
        ],
        "operationId": "BlobInventoryPolicies_Get",
        "description": "Gets the blob inventory policy associated with the specified storage account.",
        "x-ms-examples": {
          "StorageAccountGetBlobInventoryPolicy": {
            "$ref": "./examples/StorageAccountGetBlobInventoryPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/BlobInventoryPolicyName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the blob inventory policy successfully.",
            "schema": {
              "$ref": "#/definitions/BlobInventoryPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BlobInventoryPolicies"
        ],
        "operationId": "BlobInventoryPolicies_CreateOrUpdate",
        "description": "Sets the blob inventory policy to the specified storage account.",
        "x-ms-examples": {
          "StorageAccountSetBlobInventoryPolicy": {
            "$ref": "./examples/StorageAccountSetBlobInventoryPolicy.json"
          },
          "StorageAccountSetBlobInventoryPolicyIncludeDeleteAndNewSchemaForHnsAccount": {
            "$ref": "./examples/StorageAccountSetBlobInventoryPolicyIncludeDeleteAndNewSchemaForHnsAccount.json"
          },
          "StorageAccountSetBlobInventoryPolicyIncludeDeleteAndNewSchemaForNonHnsAccount": {
            "$ref": "./examples/StorageAccountSetBlobInventoryPolicyIncludeDeleteAndNewSchemaForNonHnsAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/BlobInventoryPolicyName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobInventoryPolicy"
            },
            "description": "The blob inventory policy set to a storage account."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Put blob inventory policy successfully.",
            "schema": {
              "$ref": "#/definitions/BlobInventoryPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BlobInventoryPolicies"
        ],
        "operationId": "BlobInventoryPolicies_Delete",
        "description": "Deletes the blob inventory policy associated with the specified storage account.",
        "x-ms-examples": {
          "StorageAccountDeleteBlobInventoryPolicy": {
            "$ref": "./examples/StorageAccountDeleteBlobInventoryPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/BlobInventoryPolicyName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete the blob inventory policy successfully."
          },
          "204": {
            "description": "No Content -- The blob inventory policy does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/inventoryPolicies": {
      "get": {
        "tags": [
          "BlobInventoryPolicies"
        ],
        "operationId": "BlobInventoryPolicies_List",
        "description": "Gets the blob inventory policy associated with the specified storage account.",
        "x-ms-examples": {
          "StorageAccountGetBlobInventoryPolicy": {
            "$ref": "./examples/StorageAccountListBlobInventoryPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the blob inventory policies successfully.",
            "schema": {
              "$ref": "#/definitions/ListBlobInventoryPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_List",
        "description": "List all the private endpoint connections associated with the storage account.",
        "x-ms-examples": {
          "StorageAccountListPrivateEndpointConnections": {
            "$ref": "./examples/StorageAccountListPrivateEndpointConnections.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Successfully retrieved private endpoint connections.",
            "schema": {
              "$ref": "./privatelinks.json#/definitions/PrivateEndpointConnectionListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Get",
        "description": "Gets the specified private endpoint connection associated with the storage account.",
        "x-ms-examples": {
          "StorageAccountGetPrivateEndpointConnection": {
            "$ref": "./examples/StorageAccountGetPrivateEndpointConnection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the private endpoint connection properties successfully.",
            "schema": {
              "$ref": "./privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Put",
        "description": "Update the state of specified private endpoint connection associated with the storage account.",
        "x-ms-examples": {
          "StorageAccountPutPrivateEndpointConnection": {
            "$ref": "./examples/StorageAccountPutPrivateEndpointConnection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./privatelinks.json#/definitions/PrivateEndpointConnection"
            },
            "description": "The private endpoint connection properties."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Update the private endpoint connection properties successfully.",
            "schema": {
              "$ref": "./privatelinks.json#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Delete",
        "description": "Deletes the specified private endpoint connection associated with the storage account.",
        "x-ms-examples": {
          "StorageAccountDeletePrivateEndpointConnection": {
            "$ref": "./examples/StorageAccountDeletePrivateEndpointConnection.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete the private endpoint connection successfully."
          },
          "204": {
            "description": "No Content -- The private endpoint connection does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "operationId": "PrivateLinkResources_ListByStorageAccount",
        "description": "Gets the private link resources that need to be created for a storage account.",
        "x-ms-examples": {
          "StorageAccountListPrivateLinkResources": {
            "$ref": "./examples/StorageAccountListPrivateLinkResources.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private link resources.",
            "schema": {
              "$ref": "./privatelinks.json#/definitions/PrivateLinkResourceListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/objectReplicationPolicies": {
      "get": {
        "tags": [
          "ObjectReplicationPolicies"
        ],
        "operationId": "ObjectReplicationPolicies_List",
        "description": "List the object replication policies associated with the storage account.",
        "x-ms-examples": {
          "StorageAccountListObjectReplicationPolicies": {
            "$ref": "./examples/StorageAccountListObjectReplicationPolicies.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List object replication policies successfully.",
            "schema": {
              "$ref": "#/definitions/ObjectReplicationPolicies"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/objectReplicationPolicies/{objectReplicationPolicyId}": {
      "get": {
        "tags": [
          "ObjectReplicationPolicies"
        ],
        "operationId": "ObjectReplicationPolicies_Get",
        "description": "Get the object replication policy of the storage account by policy ID.",
        "x-ms-examples": {
          "StorageAccountGetObjectReplicationPolicies": {
            "$ref": "./examples/StorageAccountGetObjectReplicationPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ObjectReplicationPolicyId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the object replication policy successfully.",
            "schema": {
              "$ref": "#/definitions/ObjectReplicationPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ObjectReplicationPolicies"
        ],
        "operationId": "ObjectReplicationPolicies_CreateOrUpdate",
        "description": "Create or update the object replication policy of the storage account.",
        "x-ms-examples": {
          "StorageAccountCreateObjectReplicationPolicyOnDestination": {
            "$ref": "./examples/StorageAccountCreateObjectReplicationPolicyOnDestination.json"
          },
          "StorageAccountCreateObjectReplicationPolicyOnSource": {
            "$ref": "./examples/StorageAccountCreateObjectReplicationPolicyOnSource.json"
          },
          "StorageAccountUpdateObjectReplicationPolicyOnDestination": {
            "$ref": "./examples/StorageAccountUpdateObjectReplicationPolicyOnDestination.json"
          },
          "StorageAccountUpdateObjectReplicationPolicyOnSource": {
            "$ref": "./examples/StorageAccountUpdateObjectReplicationPolicyOnSource.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ObjectReplicationPolicyId"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ObjectReplicationPolicy"
            },
            "description": "The object replication policy set to a storage account. A unique policy ID will be created if absent."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Put object replication policy successfully.",
            "schema": {
              "$ref": "#/definitions/ObjectReplicationPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ObjectReplicationPolicies"
        ],
        "operationId": "ObjectReplicationPolicies_Delete",
        "description": "Deletes the object replication policy associated with the specified storage account.",
        "x-ms-examples": {
          "StorageAccountDeleteObjectReplicationPolicies": {
            "$ref": "./examples/StorageAccountDeleteObjectReplicationPolicy.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ObjectReplicationPolicyId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete the object replication policy successfully."
          },
          "204": {
            "description": "No Content -- The object replication policy does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/revokeUserDelegationKeys": {
      "post": {
        "tags": [
          "StorageAccounts"
        ],
        "operationId": "StorageAccounts_RevokeUserDelegationKeys",
        "description": "Revoke user delegation keys.",
        "x-ms-examples": {
          "StorageAccountRevokeUserDelegationKeys": {
            "$ref": "./examples/StorageAccountRevokeUserDelegationKeys.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the storage account within the specified resource group. Storage account names must be between 3 and 24 characters in length and use numbers and lower-case letters only.",
            "maxLength": 24,
            "minLength": 3
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- revoke user delegation keys succeeded."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers": {
      "get": {
        "tags": [
          "LocalUsers"
        ],
        "operationId": "LocalUsers_List",
        "description": "List the local users associated with the storage account.",
        "x-ms-examples": {
          "ListLocalUsers": {
            "$ref": "./examples/LocalUsersList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List local users successfully.",
            "schema": {
              "$ref": "#/definitions/LocalUsers"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers/{username}": {
      "get": {
        "tags": [
          "LocalUsers"
        ],
        "operationId": "LocalUsers_Get",
        "description": "Get the local user of the storage account by username.",
        "x-ms-examples": {
          "GetLocalUser": {
            "$ref": "./examples/LocalUserGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/Username"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the local user properties successfully.",
            "schema": {
              "$ref": "#/definitions/LocalUser"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "LocalUsers"
        ],
        "operationId": "LocalUsers_CreateOrUpdate",
        "description": "Create or update the properties of a local user associated with the storage account",
        "x-ms-examples": {
          "CreateLocalUser": {
            "$ref": "./examples/LocalUserCreate.json"
          },
          "UpdateLocalUser": {
            "$ref": "./examples/LocalUserUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/Username"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LocalUser"
            },
            "description": "The local user associated with a storage account."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Put local user successfully.",
            "schema": {
              "$ref": "#/definitions/LocalUser"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "LocalUsers"
        ],
        "operationId": "LocalUsers_Delete",
        "description": "Deletes the local user associated with the specified storage account.",
        "x-ms-examples": {
          "DeleteLocalUser": {
            "$ref": "./examples/LocalUserDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/Username"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete the local user successfully."
          },
          "204": {
            "description": "No content -- Delete the local user successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers/{username}/listKeys": {
      "post": {
        "tags": [
          "LocalUsers"
        ],
        "operationId": "LocalUsers_ListKeys",
        "description": "List SSH authorized keys and shared key of the local user.",
        "x-ms-examples": {
          "ListLocalUserKeys": {
            "$ref": "./examples/LocalUserListKeys.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/Username"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get the local user keys successfully.",
            "schema": {
              "$ref": "#/definitions/LocalUserKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/localUsers/{username}/regeneratePassword": {
      "post": {
        "tags": [
          "LocalUsers"
        ],
        "operationId": "LocalUsers_RegeneratePassword",
        "description": "Regenerate the local user SSH password.",
        "x-ms-examples": {
          "RegenerateLocalUserPassword": {
            "$ref": "./examples/LocalUserRegeneratePassword.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/Username"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Regenerate local user password successfully.",
            "schema": {
              "$ref": "#/definitions/LocalUserRegeneratePasswordResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes/{encryptionScopeName}": {
      "put": {
        "tags": [
          "EncryptionScopes"
        ],
        "operationId": "EncryptionScopes_Put",
        "description": "Synchronously creates or updates an encryption scope under the specified storage account. If an encryption scope is already created and a subsequent request is issued with different properties, the encryption scope properties will be updated per the specified request.",
        "x-ms-examples": {
          "StorageAccountPutEncryptionScope": {
            "$ref": "./examples/StorageAccountPutEncryptionScope.json"
          },
          "StorageAccountPutEncryptionScopeWithInfrastructureEncryption": {
            "$ref": "./examples/StorageAccountPutEncryptionScopeWithInfrastructureEncryption.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/EncryptionScopeName"
          },
          {
            "name": "encryptionScope",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            },
            "description": "Encryption scope properties to be used for the create or update."
          }
        ],
        "responses": {
          "201": {
            "description": "Created -- Create encryption scope operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          },
          "200": {
            "description": "OK -- Update encryption scope operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "EncryptionScopes"
        ],
        "operationId": "EncryptionScopes_Patch",
        "description": "Update encryption scope properties as specified in the request body. Update fails if the specified encryption scope does not already exist.",
        "x-ms-examples": {
          "StorageAccountPatchEncryptionScope": {
            "$ref": "./examples/StorageAccountPatchEncryptionScope.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/EncryptionScopeName"
          },
          {
            "name": "encryptionScope",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            },
            "description": "Encryption scope properties to be used for the update."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Update encryption scope operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "EncryptionScopes"
        ],
        "operationId": "EncryptionScopes_Get",
        "description": "Returns the properties for the specified encryption scope.",
        "x-ms-examples": {
          "StorageAccountGetEncryptionScope": {
            "$ref": "./examples/StorageAccountGetEncryptionScope.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/EncryptionScopeName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get encryption scope operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptionScope"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/encryptionScopes": {
      "get": {
        "tags": [
          "EncryptionScopes"
        ],
        "operationId": "EncryptionScopes_List",
        "description": "Lists all the encryption scopes available under the specified storage account.",
        "x-ms-examples": {
          "StorageAccountEncryptionScopeList": {
            "$ref": "./examples/StorageAccountEncryptionScopeList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "type": "integer",
            "minimum": 1,
            "maximum": 5000,
            "format": "int32",
            "description": "Optional, specifies the maximum number of encryption scopes that will be included in the list response."
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Optional. When specified, only encryption scope names starting with the filter will be listed."
          },
          {
            "name": "$include",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "All",
              "Enabled",
              "Disabled"
            ],
            "x-ms-enum": {
              "name": "ListEncryptionScopesInclude",
              "modelAsString": true
            },
            "description": "Optional, when specified, will list encryption scopes with the specific state. Defaults to All"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List encryption scopes operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EncryptionScopeListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices": {
      "get": {
        "tags": [
          "BlobService"
        ],
        "operationId": "BlobServices_List",
        "x-ms-examples": {
          "ListBlobServices": {
            "$ref": "./examples/BlobServicesList.json"
          }
        },
        "description": "List blob services of storage account. It returns a collection of one object named default.",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List blob services operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobServiceItems"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/{BlobServicesName}": {
      "put": {
        "tags": [
          "BlobService"
        ],
        "operationId": "BlobServices_SetServiceProperties",
        "x-ms-examples": {
          "PutBlobServices": {
            "$ref": "./examples/BlobServicesPut.json"
          },
          "BlobServicesPutLastAccessTimeBasedTracking": {
            "$ref": "./examples/BlobServicesPutLastAccessTimeBasedTracking.json"
          },
          "BlobServicesPutAllowPermanentDelete": {
            "$ref": "./examples/BlobServicesPutAllowPermanentDelete.json"
          }
        },
        "description": "Sets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules. ",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/BlobServicesName"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobServiceProperties"
            },
            "description": "The properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Sets The properties of a storage account’s Blob service successfully.",
            "schema": {
              "$ref": "#/definitions/BlobServiceProperties"
            }
          }
        }
      },
      "get": {
        "tags": [
          "BlobService"
        ],
        "operationId": "BlobServices_GetServiceProperties",
        "x-ms-examples": {
          "GetBlobServices": {
            "$ref": "./examples/BlobServicesGet.json"
          }
        },
        "description": "Gets the properties of a storage account’s Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/BlobServicesName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- returned the properties of a storage account’s Blob service.",
            "schema": {
              "$ref": "#/definitions/BlobServiceProperties"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers": {
      "get": {
        "tags": [
          "BlobContainers"
        ],
        "operationId": "BlobContainers_List",
        "x-ms-examples": {
          "ListContainers": {
            "$ref": "./examples/BlobContainersList.json"
          },
          "ListDeletedContainers": {
            "$ref": "./examples/DeletedBlobContainersList.json"
          }
        },
        "description": "Lists all containers and does not support a prefix like data plane. Also SRP today does not return continuation token.",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$maxpagesize",
            "in": "query",
            "type": "string",
            "description": "Optional. Specified maximum number of containers that can be included in the list."
          },
          {
            "name": "$filter",
            "in": "query",
            "type": "string",
            "description": "Optional. When specified, only container names starting with the filter will be listed."
          },
          {
            "name": "$include",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "deleted"
            ],
            "x-ms-enum": {
              "name": "ListContainersInclude",
              "modelAsString": true
            },
            "description": "Optional, used to include the properties for soft deleted blob containers."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- List Container operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListContainerItems"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}": {
      "put": {
        "tags": [
          "BlobContainers"
        ],
        "operationId": "BlobContainers_Create",
        "x-ms-examples": {
          "PutContainers": {
            "$ref": "./examples/BlobContainersPut.json"
          },
          "PutContainerWithDefaultEncryptionScope": {
            "$ref": "./examples/BlobContainersPutDefaultEncryptionScope.json"
          },
          "PutContainerWithObjectLevelWorm": {
            "$ref": "./examples/BlobContainersPutObjectLevelWorm.json"
          }
        },
        "description": "Creates a new container under the specified account as described by request body. The container resource includes metadata and properties for that container. It does not include a list of the blobs contained by the container. ",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/ContainerName"
          },
          {
            "name": "blobContainer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            },
            "description": "Properties of the blob container to create."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created -- Create Container operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          },
          "200": {
            "description": "OK -- The Container is already created.",
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "BlobContainers"
        ],
        "operationId": "BlobContainers_Update",
        "x-ms-examples": {
          "UpdateContainers": {
            "$ref": "./examples/BlobContainersPatch.json"
          }
        },
        "description": "Updates container properties as specified in request body. Properties not mentioned in the request will be unchanged. Update fails if the specified container doesn't already exist. ",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/ContainerName"
          },
          {
            "name": "blobContainer",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            },
            "description": "Properties to update for the blob container."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Update Container operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobContainer",
              "description": "Properties of the updated blob container."
            }
          }
        }
      },
      "get": {
        "tags": [
          "BlobContainers"
        ],
        "operationId": "BlobContainers_Get",
        "x-ms-examples": {
          "GetContainers": {
            "$ref": "./examples/BlobContainersGet.json"
          },
          "GetBlobContainersGetWithAllowProtectedAppendWritesAll": {
            "$ref": "./examples/BlobContainersGetWithAllowProtectedAppendWritesAll.json"
          }
        },
        "description": "Gets properties of a specified container. ",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Get Container operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BlobContainer"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BlobContainers"
        ],
        "operationId": "BlobContainers_Delete",
        "x-ms-examples": {
          "DeleteContainers": {
            "$ref": "./examples/BlobContainersDelete.json"
          }
        },
        "description": "Deletes specified container under its account.",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Delete Container operation completed successfully."
          },
          "204": {
            "description": "No Content -- The Container not exist."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/setLegalHold": {
      "post": {
        "tags": [
          "BlobContainers"
        ],
        "operationId": "BlobContainers_SetLegalHold",
        "x-ms-examples": {
          "SetLegalHoldContainers": {
            "$ref": "./examples/BlobContainersSetLegalHold.json"
          },
          "SetLegalHoldContainersWithAllowProtectedAppendWritesAll": {
            "$ref": "./examples/BlobContainersSetLegalHoldAllowProtectedAppendWritesAll.json"
          }
        },
        "description": "Sets legal hold tags. Setting the same tag results in an idempotent operation. SetLegalHold follows an append pattern and does not clear out the existing tags that are not specified in the request.",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "LegalHold",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LegalHold"
            },
            "description": "The LegalHold property that will be set to a blob container."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Set legal hold tags for Container completed successfully.",
            "schema": {
              "$ref": "#/definitions/LegalHold"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Storage/storageAccounts/{accountName}/blobServices/default/containers/{containerName}/clearLegalHold": {
      "post": {
        "tags": [
          "BlobContainers"
        ],
        "operationId": "BlobContainers_ClearLegalHold",
        "x-ms-examples": {
          "ClearLegalHoldContainers": {
            "$ref": "./examples/BlobContainersClearLegalHold.json"
          }
        },
        "description": "Clears legal hold tags. Clearing the same or non-existent tag results in an idempotent operation. ClearLegalHold clears out only the specified tags in the request.",
        "parameters": [
          {
            "$ref": "./storage.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "./storage.json#/parameters/StorageAccountName"
          },
          {
            "$ref": "#/parameters/ContainerName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "LegalHold",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LegalHold"
            },
            "description": "The LegalHold property that will be clear from a blob container."
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Clear legal hold tags for Container completed successfully.",
            "schema": {
              "$ref": "#/definitions/LegalHold"
            }
          }
        }
      }
    },
[...]
