{
  "swagger": "2.0",
  "info": {
    "version": "2020-06-16-alpha",
    "title": "CodespacesClient",
    "description": "Microsoft Codespaces REST API version 2020-06-16-alpha.",
    "x-ms-code-generation-settings": {
      "name": "CodespacesClient"
    }
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Codespaces/operations": {
      "get": {
        "tags": ["Operations"],
        "operationId": "Operations_List",
        "description": "Retrieves a list of available API operations",
        "summary": "Retrieves a list of available API operations under this Resource Provider.",
        "parameters": [{
          "$ref": "#/parameters/ApiVersionParameter"
        }],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of operations under Microsoft.Codespaces resource provider.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound.",
            "schema": {
              "$ref": "#/definitions/CodespacesOperationsErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesOperationsGet": {
            "$ref": "./examples/OperationGroupGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Codespaces/plans/{planName}": {
      "get": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Retrieves information about a Codespaces Plan resource.",
        "description": "Retrieves the properties of a Codespaces Plan.",
        "operationId": "Plan_Get",
        "parameters": [{
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlanNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Codespaces Plan",
            "schema": {
              "$ref": "#/definitions/CodespacesPlan"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesPlanGet": {
            "$ref": "./examples/CodespacesPlanGet_example.json"
          }
        }
      },
      "delete": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Deletes a Codespaces Plan resource.",
        "description": "Deletes an existing Codespaces Plan.",
        "operationId": "Plan_Delete",
        "parameters": [{
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlanNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the Codespaces Plan is deleted."
          },
          "204": {
            "description": "The request was successful; Codespaces Plan does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 409 - Conflict(Codespaces Plan is in a non-terminal state due to an ongoing operation.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesPlanDelete": {
            "$ref": "./examples/CodespacesPlanDelete_example.json"
          }
        }
      },
      "put": {
        "tags": [
          "codespacesPlan"
        ],
        "summary": "Creates a Codespaces Plan.",
        "description": "Creates a Codespaces Plan with the specified create parameters.",
        "operationId": "Plan_Create",
        "parameters": [{
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlanNameParameter"
          },
          {
            "name": "codespacesPlan",
            "in": "body",
            "description": "Codespaces Plan create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodespacesPlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Codespaces Plan",
            "schema": {
              "$ref": "#/definitions/CodespacesPlan",
              "x-ms-azure-resource": true
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan could not be created/updated)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesPlanCreate": {
            "$ref": "./examples/CodespacesPlanCreate_example.json"
          }
        }
      },
      "patch": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Updates a Codespaces Plan.",
        "description": "Updates the properties of an existing Codespaces Plan with the specified update parameters.",
        "operationId": "Plan_Update",
        "parameters": [{
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlanNameParameter"
          },
          {
            "name": "codespacesPlanUpdateParameters",
            "in": "body",
            "description": "Parameters for updating the Codespaces Plan.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodespacesPlanUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the updated Codespaces Plan.",
            "schema": {
              "$ref": "#/definitions/CodespacesPlan",
              "x-ms-azure-resource": true
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesPlanUpdate": {
            "$ref": "./examples/CodespacesPlanUpdate_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Codespaces/plans/{planName}/readAllCodespaces": {
      "post": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Get Codespaces Plan read codespaces access token.",
        "description": "Get Codespaces Plan access token which allows listing all codespaces in the Plan.",
        "operationId": "Plan_ReadAllCodespacesAction",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlanNameParameter"
          },
          {
            "$ref": "#/parameters/PlanAccessTokenExpirationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the access token.",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanAccessToken",
              "x-ms-azure-resource": false
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesPlanActions_ReadAllCodespaces": {
            "$ref": "./examples/CodespacesPlanActions_AccessToken_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Codespaces/plans/{planName}/writeCodespaces": {
      "post": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Get Codespaces Plan write codespaces access token.",
        "description": "Get Codespaces Plan access token which allows creating, updating, deleting and connecting to codespaces owned by the user.",
        "operationId": "Plan_WriteCodespacesAction",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlanNameParameter"
          },
          {
            "$ref": "#/parameters/PlanAccessTokenExpirationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the access token.",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanAccessToken",
              "x-ms-azure-resource": false
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesPlanActions_WriteCodespaces": {
            "$ref": "./examples/CodespacesPlanActions_AccessToken_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Codespaces/plans/{planName}/deleteAllCodespaces": {
      "post": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Get Codespaces Plan read and delete codespaces access token.",
        "description": "Get Codespaces Plan access token which allows reading and deleting all codespaces in the Plan.",
        "operationId": "Plan_DeleteAllCodespacesAction",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlanNameParameter"
          },
          {
            "$ref": "#/parameters/PlanAccessTokenExpirationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the access token.",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanAccessToken",
              "x-ms-azure-resource": false
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesPlanActions_DeleteAllCodespaces": {
            "$ref": "./examples/CodespacesPlanActions_AccessToken_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Codespaces/plans/{planName}/writeDelegates": {
      "post": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Get Codespaces Plan delegated write codespaces access token.",
        "description": "Get Codespaces Plan delegated access token which allows creating, updating, deleting and connecting to codespaces owned by the user.",
        "operationId": "Plan_WriteDelegatesAction",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/PlanNameParameter"
          },
          {
            "name": "delegateRequest",
            "in": "body",
            "description": "Codespaces Plan delegate access token parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodespacesDelegateAccessTokenRequestBody"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the access token.",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanAccessToken",
              "x-ms-azure-resource": false
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodespacesPlanActions_WriteCodespacesDelegate": {
            "$ref": "./examples/CodespacesPlanActions_DelegatedAccessToken_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Codespaces/plans/": {
      "get": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Retrieves information about all Codespaces Plan resources under the given subscription and resource group",
        "description": "Retrieves the properties of all Codespaces Plans.",
        "operationId": "Plan_ListByResourceGroup",
        "parameters": [{
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the Codespaces Plan",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CodespacesPlanGet": {
            "$ref": "./examples/CodespacesPlanListGet_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Codespaces/plans/": {
      "get": {
        "tags": [
          "CodespacesPlan"
        ],
        "summary": "Retrieves information about all Codespaces Plan resources under the given subscription",
        "description": "Retrieves the properties of all Codespaces Plans.",
        "operationId": "Plan_ListBySubscription",
        "parameters": [{
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of Codespaces Plans",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (Codespaces Plan does not exist.)",
            "schema": {
              "$ref": "#/definitions/CodespacesPlanErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CodespacesPlanGet": {
            "$ref": "./examples/CodespacesPlanListBySub_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CodespacesOperationsErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the sub status for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "CodespacesPlanErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Fully qualified resource Id for the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "tags": {
          "description": "Tags for the Codespaces Plan",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        },
        "location": {
          "description": "Region where the Azure resource is located.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "x-ms-azure-resource": true
    },
    "Sku": {
      "type": "object",
      "description": "Model representing SKU for Codespaces Plan.",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "description": "The name of the SKU for Codespaces Plan.",
          "enum": [
            "Free"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": true
          }
        },
        "tier": {
          "description": "The tier of the SKU for Codespaces Plan.",
          "enum": [
            "Standard"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuTier",
            "modelAsString": true
          }
        }
      }
    },
    "Identity": {
      "type": "object",
      "description": "Model representing Identity for Codespaces Plan.",
      "required": [
        "type"
      ],
      "properties": {
        "type": {
          "description": "The type of identity",
          "type": "string"
        }
      }
    },
    "VnetProperties": {
      "type": "object",
      "description": "Model representing Vnet Injection properties for Codespaces Plan.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "The ARM resource identifier of the virtual network subnet which the codespaces of the Codespaces Plan will join. This is of the form /subscriptions/{subscription}/resourceGroups/{group}/providers/{provider}/virtualNetworks/{network}/subnets/{subnet}.The virtual network must be in the same region and subscription as the Codespaces Plan."
         }
      }
    },
    "ResourceProviderOperationList": {
      "description": "List containing this Resource Provider's available operations.",
      "properties": {
        "value": {
          "description": "Resource provider operations list.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperationDefinition"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next page for list of Azure operations.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ResourceProviderOperationDefinition": {
      "description": "Describes the Resource Provider Operation.",
      "properties": {
        "name": {
          "description": "Resource provider operation name.",
          "type": "string"
        },
        "display": {
          "description": "Resource provider display properties.",
          "$ref": "#/definitions/ResourceProviderOperationDisplay"
        }
      }
    },
    "ResourceProviderOperationDisplay": {
      "description": "Describes the properties of the Operation.",
      "properties": {
        "provider": {
          "description": "Name of the resource provider.",
          "type": "string"
        },
        "resource": {
          "description": "Name of the resource type.",
          "type": "string"
        },
        "operation": {
          "description": "Name of the resource provider operation.",
          "type": "string"
        },
        "description": {
          "description": "Description of the resource provider operation.",
          "type": "string"
        }
      }
    },
    "CodespacesPlanUpdateParameters": {
      "type": "object",
      "description": "Parameters for updating a Codespaces Plan.",
      "properties": {
        "tags": {
          "description": "Tags for the Codespaces Plan.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "SKU of the service."
        },
        "properties": {
          "type": "object",
          "description": "Additional Codespaces Plan properties.",
          "properties": {
            "defaultAutoSuspendDelayMinutes": {
              "description": "Specifies auto suspend interval for codespaces in this plan.",
              "type": "integer",
              "format": "int64"
            },
            "defaultCodespaceSku": {
              "description": "Specifies the default codespace sku name for this plan.",
              "type": "string"
            },
            "vnetProperties":{
              "$ref": "#/definitions/VnetProperties",
              "description": "Specifies the vnet injection properties for this plan."
            }
          }
        }
      }
    },
    "CodespacesPlan": {
      "type": "object",
      "description": "Codespaces Plan. Represents the high level Plan needed to provision Codespaces resources.",
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "SKU of the service."
        },
        "identity":{
          "$ref": "#/definitions/Identity",
          "description": "The type of identity used for the resource. "
        },
        "properties":{
          "type": "object",
          "description": "Additional Codespaces Plan properties.",
          "title": "Codespaces Additional properties",
          "properties": {
            "defaultAutoSuspendDelayMinutes": {
              "description": "Specifies auto suspend interval for codespaces in this plan.",
              "type": "integer",
              "format": "int64"
            },
            "defaultCodespaceSku": {
              "description": "Specifies the default codespace sku name for this plan.",
              "type": "string"
            },
            "vnetProperties":{
              "$ref": "#/definitions/VnetProperties",
              "description": "Specifies the vnet injection properties for this plan."
            }
          }
        }
      }
    },
    "CodespacesPlanList": {
      "description": "Object that includes an array of Codespaces Plans and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Codespaces Plans",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodespacesPlan"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).",
          "type": "string"
        }
      }
    },
    "CodespacesPlanAccessToken": {
      "description": "Object that includes a Codespaces Plans access token.",
      "type": "object",
      "properties": {
        "accessToken": {
          "type": "string",
          "readOnly": true,
          "description": "The Codespaces Plan access token."
        }
      }
    },
    "CodespacesDelegateAccessTokenRequestBody": {
      "description": "Object that includes a Codespaces Plans delegate access token request parameters.",
      "type": "object",
      "required": [
        "scope",
        "identity"
      ],
      "properties": {
        "scope": {
          "type": "string",
          "description": "The requested scopes for the Codespaces Plan access token."
        },
        "expiration": {
          "type": "integer",
          "description": "The requested expiration timestamp for the Codespaces Plan access token.",
          "format": "int64"
        },
        "identity": {
          "$ref": "#/definitions/CodespacesDelegateIdentity",
          "description": "The identity of the user of the Codespaces Plan access token."
        },
        "environmentIds": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "An codespace Id."
          },
          "description": "A subset of codespaces within the Codespaces Plan which the returned token will grant access to.  If not provided the token will be applicable for all codespaces."
        }
      }
    },
    "CodespacesDelegateIdentity": {
      "description": "Object that includes the identity of the user of a delegated access token.",
      "type": "object",
      "required": [
        "username",
        "displayName",
        "id"
      ],
      "properties": {
        "username": {
          "type": "string",
          "description": "The user's user name."
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name."
        },
        "id": {
          "type": "string",
          "description": "The user's unique identifier which should never change."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "maxLength": 90,
      "minLength": 1,
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "PlanNameParameter": {
      "name": "planName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the Codespaces Plan",
      "pattern": "^[a-zA-Z0-9]",
      "x-ms-parameter-location": "method"
    },
    "PlanAccessTokenExpirationParameter": {
      "name": "expiration",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int64",
      "x-nullable": false,
      "description": "The requested expiration of a Codespaces Plan access token.",
      "x-ms-parameter-location": "method"
    }
  }
}
