{
  "swagger": "2.0",
  "info": {
    "title": "Azure Communication Service Call Automation APIs",
    "description": "Azure Communication Service Call Automation APIs",
    "version": "2026-03-12"
  },
  "host": "contoso.communication.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/calling/callConnections": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "CreateCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "createCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCallRequest"
            },
            "description": "The create call request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "201": {
            "description": "Returns details of the call properties once the CreateCall request is received by service. You will receive CallConnected event at your specified callback URI, once the call is connected.",
            "schema": {
              "$ref": "#/definitions/CallConnectionProperties"
            }
          }
        },
        "x-ms-examples": {
          "CreateCall": {
            "$ref": "./examples/CreateCall.json"
          }
        },
        "summary": "Create an outbound call.",
        "description": "Create an outbound call."
      }
    },
    "/calling/callConnections:answer": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "AnswerCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "answerCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnswerCallRequest"
            },
            "description": "The answer call request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns details of the call properties once the AnswerCall request is received by service. You will receive CallConnected event at your specified callback URI, once the call is connected.",
            "schema": {
              "$ref": "#/definitions/CallConnectionProperties"
            }
          }
        },
        "x-ms-examples": {
          "AnswerCall": {
            "$ref": "./examples/AnswerCall.json"
          }
        },
        "summary": "Answer a Call.",
        "description": "Answer a call using the IncomingCallContext from Event Grid."
      }
    },
    "/calling/callConnections:redirect": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "RedirectCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "redirectCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedirectCallRequest"
            },
            "description": "The redirect call request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "The service has redirected the call to specified endpoint."
          }
        },
        "x-ms-examples": {
          "RedirectCall": {
            "$ref": "./examples/RedirectCall.json"
          }
        },
        "summary": "Redirect a call.",
        "description": "Redirect a call."
      }
    },
    "/calling/callConnections:reject": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "RejectCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "rejectCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RejectCallRequest"
            },
            "description": "The reject call request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "The service has rejected the call."
          }
        },
        "x-ms-examples": {
          "RejectCall": {
            "$ref": "./examples/RejectCall.json"
          }
        },
        "summary": "Reject the call.",
        "description": "Reject the call."
      }
    },
    "/calling/callConnections:connect": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "Connect",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "connectRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectRequest"
            },
            "description": "The create connection request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns connection to a callLocator",
            "schema": {
              "$ref": "#/definitions/CallConnectionProperties"
            }
          }
        },
        "x-ms-examples": {
          "Connect": {
            "$ref": "./examples/Connect.json"
          }
        },
        "summary": "Create a Connection to a CallLocator.",
        "description": "Create a connection to a CallLocator."
      }
    },
    "/calling/callConnections/{callConnectionId}": {
      "get": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_GetCall",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns details of the call properties.",
            "schema": {
              "$ref": "#/definitions/CallConnectionProperties"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_GetCall": {
            "$ref": "./examples/CallConnection_GetCall.json"
          }
        },
        "summary": "Get the detail properties of an ongoing call."
      },
      "delete": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_HangupCall",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "Call automation service has left the call."
          }
        },
        "x-ms-examples": {
          "CallConnection_HangupCall": {
            "$ref": "./examples/CallConnection_HangupCall.json"
          }
        },
        "summary": "Hang up call automation service from the call. This will make call automation service leave the call, but does not terminate if there are more than 1 caller in the call.",
        "description": "Hang up call automation service from the call. This will make call automation service leave the call, but does not terminate if there are more than 1 caller in the call."
      }
    },
    "/calling/callConnections/{callConnectionId}:terminate": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_TerminateCall",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "The call is terminated."
          }
        },
        "x-ms-examples": {
          "CallConnection_TerminateCall": {
            "$ref": "./examples/CallConnection_TerminateCall.json"
          }
        },
        "summary": "Terminate a call using CallConnectionId.",
        "description": "Terminate a call using CallConnectionId."
      }
    },
    "/calling/callConnections/{callConnectionId}:transferToParticipant": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_TransferToParticipant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "transferToParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferToParticipantRequest"
            },
            "description": "The transfer to participant request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the transfer request and will begin processing it. You will receive either CallTransferAccepted or CallTransferFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/TransferCallResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_TransferToParticipant": {
            "$ref": "./examples/CallConnection_TransferToParticipant.json"
          }
        },
        "summary": "Transfer the call to a participant.",
        "description": "Transfer the call to a participant."
      }
    },
    "/calling/callConnections/{callConnectionId}:play": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_Play",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "playRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlayRequest"
            },
            "description": "play request payload."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the play request and will begin processing it. You will receive either PlayCompleted or PlayFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_Play": {
            "$ref": "./examples/CallMedia_Play.json"
          }
        },
        "summary": "Plays audio to participants in the call.",
        "description": "Plays audio to participants in the call."
      }
    },
    "/calling/callConnections/{callConnectionId}:startTranscription": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StartTranscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "startTranscriptionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartTranscriptionRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the start transcription request and will begin processing it. You will receive either TranscriptionStarted or TranscriptionFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_StartTranscription": {
            "$ref": "./examples/CallMedia_StartTranscription.json"
          }
        },
        "summary": "Starts transcription in the call",
        "description": "Starts transcription in the call"
      }
    },
    "/calling/callConnections/{callConnectionId}:stopTranscription": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StopTranscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "stopTranscriptionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopTranscriptionRequest"
            },
            "description": "stop transcription request payload."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the stop transcription request and will begin processing it. You will receive either TranscriptionStopped event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_StopTranscription": {
            "$ref": "./examples/CallMedia_StopTranscription.json"
          }
        },
        "summary": "Stops transcription in the call.",
        "description": "Stops transcription in the call."
      }
    },
    "/calling/callConnections/{callConnectionId}:updateTranscription": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_UpdateTranscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "updateTranscriptionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTranscriptionRequest"
            },
            "description": "The UpdateTranscription request"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "Returns the update transcription response"
          }
        },
        "x-ms-examples": {
          "CallMedia_UpdateTranscription": {
            "$ref": "./examples/CallMedia_UpdateTranscription.json"
          }
        },
        "summary": "UpdateTranscription Api.",
        "description": "API to change transcription language."
      }
    },
    "/calling/callConnections/{callConnectionId}:summarizeCall": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_SummarizeCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "summarizeCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SummarizeCallRequest"
            },
            "description": "The SummarizeCall request"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the summarize call request and will begin processing it. You will receive TranscriptionCallSummaryUpdated event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_SummarizeCall": {
            "$ref": "./examples/CallMedia_SummarizeCall.json"
          }
        },
        "summary": "API to trigger a summary of the call so far.",
        "description": "API to trigger a summary of the call so far."
      }
    },
    "/calling/callConnections/{callConnectionId}:cancelAllMediaOperations": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_CancelAllMediaOperations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the cancel request and will begin processing it. You will receive the RecognizeCanceled and/or PlayCanceled event at your specified callback URI to update you on the status of the request, based on which media operation has been canceled by it."
          }
        },
        "x-ms-examples": {
          "CallMedia_CancelAllMediaOperations": {
            "$ref": "./examples/CallMedia_CancelAllMediaOperations.json"
          }
        },
        "summary": "Cancel all media operations in a call.",
        "description": "Cancel all media operations in a call."
      }
    },
    "/calling/callConnections/{callConnectionId}:recognize": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_Recognize",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "recognizeRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecognizeRequest"
            },
            "description": "The media recognize request"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the recognize request and will begin processing it. You will receive either RecognizeCompleted or RecognizeFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_Recognize": {
            "$ref": "./examples/CallMedia_Recognize.json"
          }
        },
        "summary": "Recognize media from call.",
        "description": "Recognize media from call."
      }
    },
    "/calling/callConnections/{callConnectionId}:startContinuousDtmfRecognition": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StartContinuousDtmfRecognition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "continuousDtmfRecognitionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContinuousDtmfRecognitionRequest"
            },
            "description": "The continuous recognize request"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "The service has started continuous dtmf recognition. You will receive either the ContinuousDtmfRecognitionToneReceived, ContinuousDtmfRecognitionToneFailed or ContinuousDtmfRecognitionStopped event at your specified callback URI. Continuous dtmf recognition can run in parallel with other media operations. For example if the Recognize operation is also active and a dtmf is detected, both ContinuousDtmfRecognitionToneReceived and RecognizeCompleted events will be received."
          }
        },
        "x-ms-examples": {
          "CallMedia_StartContinuousDtmfRecognition": {
            "$ref": "./examples/CallMedia_StartContinuousDtmfRecognition.json"
          }
        },
        "summary": "Start continuous Dtmf recognition by subscribing to tones."
      }
    },
    "/calling/callConnections/{callConnectionId}:stopContinuousDtmfRecognition": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StopContinuousDtmfRecognition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "continuousDtmfRecognitionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContinuousDtmfRecognitionRequest"
            },
            "description": "The continuous recognize request"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "The service has stopped continuous dtmf recognition. If continuous dtmf recognition was previously started, you will receive the ContinuousDtmfRecognitionStopped event at your specified callback URI."
          }
        },
        "x-ms-examples": {
          "CallMedia_StopContinuousDtmfRecognition": {
            "$ref": "./examples/CallMedia_StopContinuousDtmfRecognition.json"
          }
        },
        "summary": "Stop continuous Dtmf recognition by unsubscribing to tones."
      }
    },
    "/calling/callConnections/{callConnectionId}:sendDtmfTones": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_SendDtmfTones",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "sendDtmfTonesRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendDtmfTonesRequest"
            },
            "description": "The send dtmf tones request"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the send dtmf tones request and will begin processing it. You will receive either the SendDtmfTonesCompleted or the SendDtmfTonesFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/SendDtmfTonesResult"
            }
          }
        },
        "x-ms-examples": {
          "CallMedia_SendDtmfTones": {
            "$ref": "./examples/CallMedia_SendDtmfTones.json"
          }
        },
        "summary": "Send dtmf tones.",
        "description": "Send dtmf tones."
      }
    },
    "/calling/callConnections/{callConnectionId}:hold": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_Hold",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "holdRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HoldRequest"
            },
            "description": "The participants to be hold from the call."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the hold participant response"
          }
        },
        "x-ms-examples": {
          "CallMedia_Hold": {
            "$ref": "./examples/CallMedia_Hold.json"
          }
        },
        "summary": "Hold participant from the call using identifier.",
        "description": "Hold participant from the call using identifier."
      }
    },
    "/calling/callConnections/{callConnectionId}:unhold": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_Unhold",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "unholdRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnholdRequest"
            },
            "description": "The participants to be hold from the call."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the unhold participant response"
          }
        },
        "x-ms-examples": {
          "CallMedia_Unhold": {
            "$ref": "./examples/CallMedia_Unhold.json"
          }
        },
        "summary": "Unhold participants from the call using identifier.",
        "description": "Unhold participants from the call using identifier."
      }
    },
    "/calling/callConnections/{callConnectionId}:startMediaStreaming": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StartMediaStreaming",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "startMediaStreamingRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartMediaStreamingRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the start media streaming request and will begin processing it. You will receive either MediaStreamingStarted or MediaStreamingFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_StartMediaStreaming": {
            "$ref": "./examples/CallMedia_StartMediaStreaming.json"
          }
        },
        "summary": "Starts media streaming in the call",
        "description": "Starts media streaming in the call."
      }
    },
    "/calling/callConnections/{callConnectionId}:stopMediaStreaming": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StopMediaStreaming",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "stopMediaStreamingRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopMediaStreamingRequest"
            },
            "description": "stop media streaming request payload."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the stop media streaming request and will begin processing it. You will receive either MediaStreamingStopped or MediaStreamingFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_StopMediaStreaming": {
            "$ref": "./examples/CallMedia_StopMediaStreaming.json"
          }
        },
        "summary": "Stops media streaming in the call",
        "description": "Stops media streaming in the call."
      }
    },
    "/calling/callConnections/{callConnectionId}/participants": {
      "get": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_GetParticipants",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the get participants response.",
            "schema": {
              "$ref": "#/definitions/GetParticipantsResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_GetParticipants": {
            "$ref": "./examples/CallConnection_GetParticipants.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink",
          "itemName": "value"
        },
        "summary": "Get participants from a call. Recording and transcription bots are omitted from this list.",
        "description": "Get participants from a call. Recording and transcription bots are omitted from this list."
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:add": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_AddParticipant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "addParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddParticipantRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the add participant request and will begin processing it. You will receive either AddParticipantSucceeded or AddParticipantFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/AddParticipantResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_AddParticipant": {
            "$ref": "./examples/CallConnection_AddParticipant.json"
          }
        },
        "summary": "Add a participant to the call.",
        "description": "Add a participant to the call."
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:remove": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_RemoveParticipant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "removeParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveParticipantRequest"
            },
            "description": "The participant to be removed from the call."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the remove participant request and will begin processing it. You will receive either RemoveParticipantSucceeded or RemoveParticipantFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/RemoveParticipantResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_RemoveParticipant": {
            "$ref": "./examples/CallConnection_RemoveParticipant.json"
          }
        },
        "summary": "Remove a participant from the call using identifier.",
        "description": "Remove a participant from the call using identifier."
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:mute": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_Mute",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "muteParticipantsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MuteParticipantsRequest"
            },
            "description": "The participants to be muted from the call."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the mute participants response",
            "schema": {
              "$ref": "#/definitions/MuteParticipantsResult"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_Mute": {
            "$ref": "./examples/CallConnection_Mute.json"
          }
        },
        "summary": "Mute participants from the call using identifier.",
        "description": "Mute participants from the call using identifier."
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:cancelAddParticipant": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_CancelAddParticipant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "cancelAddParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelAddParticipantRequest"
            },
            "description": "Cancellation request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "Returns the cancelAddParticipant response",
            "schema": {
              "$ref": "#/definitions/CancelAddParticipantResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_CancelAddParticipant": {
            "$ref": "./examples/CallConnection_CancelAddParticipant.json"
          }
        },
        "summary": "Cancel add participant operation.",
        "description": "Cancel add participant operation."
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:moveHere": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_MoveParticipants",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "moveParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoveParticipantsRequest"
            },
            "description": "The move participants request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the move participant request and will begin processing it. You will receive either MoveParticipantSucceeded or MoveParticipantFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/MoveParticipantsResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_MoveParticipants": {
            "$ref": "./examples/CallConnection_MoveParticipants.json"
          }
        },
        "summary": "Add a participant to the call.",
        "description": "Add a participant to the call."
      }
    },
    "/calling/callConnections/{callConnectionId}/participants/{participantRawId}": {
      "get": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_GetParticipant",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "participantRawId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the detail of the requested participant.",
            "schema": {
              "$ref": "#/definitions/CallParticipant"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_GetParticipant": {
            "$ref": "./examples/CallConnection_GetParticipant.json"
          }
        },
        "summary": "Get participant from a call.",
        "description": "Get participant from a call."
      }
    },
    "/calling/recordings": {
      "post": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_StartRecording",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "startCallRecording",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartCallRecordingRequest"
            },
            "description": "The request body of start call recording request."
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the start call recording response.",
            "schema": {
              "$ref": "#/definitions/RecordingStateResponse"
            }
          },
          "202": {
            "description": "The service has accepted the StartCallRecording request and will begin processing it. You will receive either a StartRecordingFailed event or RecordingStateChanged event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/RecordingStateResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallRecording_StartRecording": {
            "$ref": "./examples/CallRecording_StartRecording.json"
          }
        },
        "summary": "Start recording the call."
      }
    },
    "/calling/recordings/{recordingId}": {
      "get": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_GetRecordingProperties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "recordingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the recording properties.",
            "schema": {
              "$ref": "#/definitions/RecordingStateResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallRecording_GetRecordingProperties": {
            "$ref": "./examples/CallRecording_GetRecordingProperties.json"
          }
        },
        "summary": "Get call recording properties."
      },
      "delete": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_StopRecording",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "recordingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "Returns the stop call recording response."
          }
        },
        "x-ms-examples": {
          "CallRecording_StopRecording": {
            "$ref": "./examples/CallRecording_StopRecording.json"
          }
        },
        "summary": "Stop recording the call."
      }
    },
    "/calling/recordings/{recordingId}:pause": {
      "post": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_PauseRecording",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "recordingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the pause request and will begin processing it."
          }
        },
        "x-ms-examples": {
          "CallRecording_PauseRecording": {
            "$ref": "./examples/CallRecording_PauseRecording.json"
          }
        },
        "summary": "Pause recording the call."
      }
    },
    "/calling/recordings/{recordingId}:resume": {
      "post": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_ResumeRecording",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "recordingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the resume request and will begin processing it."
          }
        },
        "x-ms-examples": {
          "CallRecording_ResumeRecording": {
            "$ref": "./examples/CallRecording_ResumeRecording.json"
          }
        },
        "summary": "Resume recording the call."
      }
    }
  },
  "definitions": {
    "AddParticipantFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "participant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        }
      },
      "additionalProperties": false,
      "description": "The failed to add participants event."
    },
    "AddParticipantRequest": {
      "required": [
        "participantToAdd"
      ],
      "type": "object",
      "properties": {
        "sourceCallerIdNumber": {
          "$ref": "#/definitions/PhoneNumberIdentifierModel"
        },
        "sourceDisplayName": {
          "type": "string",
          "description": "(Optional) The display name of the source that is associated with this invite operation when\r\nadding a PSTN participant or teams user.  Note: Will not update the display name in the roster."
        },
        "participantToAdd": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "invitationTimeoutInSeconds": {
          "format": "int32",
          "maximum": 180,
          "minimum": 0,
          "type": "integer",
          "description": "Gets or sets the timeout to wait for the invited participant to pickup.\r\nThe maximum value of this is 180 seconds"
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "operationCallbackUri": {
          "type": "string",
          "description": "Set a callback URI that overrides the default callback URI set by CreateCall/AnswerCall for this operation.\r\nThis setup is per-action. If this is not set, the default callback URI set by CreateCall/AnswerCall will be used."
        },
        "customCallingContext": {
          "$ref": "#/definitions/CustomCallingContext"
        }
      },
      "additionalProperties": false,
      "description": "The request payload for adding participant to the call."
    },
    "AddParticipantResponse": {
      "type": "object",
      "properties": {
        "participant": {
          "$ref": "#/definitions/CallParticipant"
        },
        "operationContext": {
          "type": "string",
          "description": "The operation context provided by client."
        },
        "invitationId": {
          "type": "string",
          "description": "Invitation ID used to add a participant."
        }
      },
      "additionalProperties": false,
      "description": "The response payload for adding participants to the call."
    },
    "AddParticipantSucceeded": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "participant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        }
      },
      "additionalProperties": false,
      "description": "The participants successfully added event."
    },
    "AnswerCallRequest": {
      "required": [
        "callbackUri",
        "incomingCallContext"
      ],
      "type": "object",
      "properties": {
        "incomingCallContext": {
          "type": "string",
          "description": "The context associated with the call."
        },
        "callbackUri": {
          "type": "string",
          "description": "The callback uri."
        },
        "operationContext": {
          "type": "string",
          "description": "A customer set value used to track the answering of a call."
        },
        "callIntelligenceOptions": {
          "$ref": "#/definitions/CallIntelligenceOptions"
        },
        "answeredBy": {
          "$ref": "#/definitions/CommunicationUserIdentifierModel"
        },
        "mediaStreamingOptions": {
          "$ref": "#/definitions/MediaStreamingOptions"
        },
        "transcriptionOptions": {
          "$ref": "#/definitions/TranscriptionOptions"
        },
        "enableLoopbackAudio": {
          "type": "boolean",
          "description": "Enables loopback audio functionality for the call."
        }
      },
      "additionalProperties": false,
      "description": "The request payload for answering the call."
    },
    "AnswerFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false,
      "description": "The failed to answer call event."
    },
    "AudioFormat": {
      "enum": [
        "pcm16KMono",
        "pcm24KMono"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "AudioFormat",
        "modelAsString": true
      }
    },
    "CallConnected": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false,
      "description": "The call connected event."
    },
    "CallConnectionProperties": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "The call connection id."
        },
        "serverCallId": {
          "type": "string",
          "description": "The server call id."
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunicationIdentifierModel"
          },
          "description": "The targets of the call."
        },
        "callConnectionState": {
          "$ref": "#/definitions/CallConnectionStateModel"
        },
        "callbackUri": {
          "type": "string",
          "description": "The callback URI."
        },
        "sourceCallerIdNumber": {
          "$ref": "#/definitions/PhoneNumberIdentifierModel"
        },
        "sourceDisplayName": {
          "type": "string",
          "description": "Display name of the call if dialing out to a pstn number."
        },
        "source": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "correlationId": {
          "type": "string",
          "description": "The correlation ID."
        },
        "answeredBy": {
          "$ref": "#/definitions/CommunicationUserIdentifierModel"
        },
        "mediaStreamingSubscription": {
          "$ref": "#/definitions/MediaStreamingSubscription"
        },
        "transcriptionSubscription": {
          "$ref": "#/definitions/TranscriptionSubscription"
        },
        "answeredFor": {
          "$ref": "#/definitions/PhoneNumberIdentifierModel"
        }
      },
      "additionalProperties": false,
      "description": "Properties of a call connection"
    },
    "CallConnectionStateModel": {
      "enum": [
        "unknown",
        "connecting",
        "connected",
        "transferring",
        "transferAccepted",
        "disconnecting",
        "disconnected"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "CallConnectionStateModel",
        "modelAsString": true
      },
      "description": "The states of a call connection."
    },
    "CallDisconnected": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false,
      "description": "The call disconnected event."
    },
    "CallIntelligenceOptions": {
      "type": "object",
      "properties": {
        "cognitiveServicesEndpoint": {
          "type": "string",
          "description": "The identifier of the Cognitive Service resource assigned to this call."
        }
      },
      "additionalProperties": false,
      "description": "AI options for the call."
    },
    "CallLocator": {
      "type": "object",
      "properties": {
        "groupCallId": {
          "type": "string",
          "description": "The group call id"
        },
        "serverCallId": {
          "type": "string",
          "description": "The server call id."
        },
        "roomId": {
          "type": "string",
          "description": "The Acs room id. (Not supported for Start Recording)"
        },
        "kind": {
          "$ref": "#/definitions/CallLocatorKind"
        }
      },
      "additionalProperties": false,
      "description": "The locator used for joining or taking action on a call"
    },
    "CallLocatorKind": {
      "enum": [
        "groupCallLocator",
        "serverCallLocator",
        "roomCallLocator"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "CallLocatorKind",
        "modelAsString": true
      },
      "description": "The call locator kind"
    },
    "CallParticipant": {
      "type": "object",
      "properties": {
        "identifier": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "isMuted": {
          "type": "boolean",
          "description": "Is participant muted"
        },
        "isOnHold": {
          "type": "boolean",
          "description": "Is participant on hold."
        }
      },
      "additionalProperties": false,
      "description": "A call participant."
    },
    "CallRejectReason": {
      "enum": [
        "none",
        "busy",
        "forbidden"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "CallRejectReason",
        "modelAsString": true
      },
      "description": "Reason of rejecting a call"
    },
    "CallTransferAccepted": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "transferTarget": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "transferee": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        }
      },
      "additionalProperties": false,
      "description": "The call transfer accepted event."
    },
    "CallTransferFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false,
      "description": "The call transfer failed event."
    },
    "CancelAddParticipantFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "invitationId": {
          "type": "string",
          "description": "Invitation ID used to cancel the request."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false,
      "description": "Failed cancel add participant event."
    },
    "CancelAddParticipantRequest": {
      "required": [
        "invitationId"
      ],
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Invitation ID used to add a participant."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "operationCallbackUri": {
          "type": "string",
          "description": "Set a callback URI that overrides the default callback URI set by CreateCall/AnswerCall for this operation.\r\nThis setup is per-action. If this is not set, the default callback URI set by CreateCall/AnswerCall will be used."
        }
      },
      "additionalProperties": false,
      "description": "Request payload for cancelling add participant request."
    },
    "CancelAddParticipantResponse": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string",
          "description": "Invitation ID used to cancel the add participant action."
        },
        "operationContext": {
          "type": "string",
          "description": "The operation context provided by client."
        }
      },
      "additionalProperties": false,
      "description": "Response payload for cancel add participant request."
    },
    "CancelAddParticipantSucceeded": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "invitationId": {
          "type": "string",
          "description": "Invitation ID used to cancel the request."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false,
      "description": "Successful cancel add participant event."
    },
    "ChannelAffinity": {
      "required": [
        "participant"
      ],
      "type": "object",
      "properties": {
        "channel": {
          "format": "int32",
          "maximum": 4,
          "minimum": 0,
          "type": "integer",
          "description": "Channel number to which bitstream from a particular participant will be written."
        },
        "participant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        }
      },
      "additionalProperties": false,
      "description": "Channel affinity for a participant"
    },
    "Choice": {
      "required": [
        "label",
        "phrases"
      ],
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "Identifier for a given choice"
        },
        "phrases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of phrases to recognize"
        },
        "tone": {
          "$ref": "#/definitions/Tone"
        }
      },
      "additionalProperties": false
    },
    "ChoiceResult": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "Label is the primary identifier for the choice detected"
        },
        "recognizedPhrase": {
          "type": "string",
          "description": "Phrases are set to the value if choice is selected via phrase detection.\r\nIf Dtmf input is recognized, then Label will be the identifier for the choice detected and phrases will be set to null"
        },
        "confidence": {
          "format": "double",
          "type": "number",
          "description": "The confidence level of the recognized speech, if available, ranges from 0.0 to 1.0"
        },
        "languageIdentified": {
          "type": "string",
          "description": "The identified language for a spoken phrase."
        },
        "sentimentAnalysisResult": {
          "$ref": "#/definitions/SentimentAnalysisResult"
        }
      },
      "additionalProperties": false
    },
    "CommunicationError": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/CommunicationError"
    },
    "CommunicationErrorResponse": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/CommunicationErrorResponse"
    },
    "CommunicationIdentifierModel": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/CommunicationIdentifierModel"
    },
    "CommunicationUserIdentifierModel": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/CommunicationUserIdentifierModel"
    },
    "ConnectFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false,
      "description": "The ConnectFailed event."
    },
    "ConnectRequest": {
      "required": [
        "callbackUri",
        "callLocator"
      ],
      "type": "object",
      "properties": {
        "callLocator": {
          "$ref": "#/definitions/CallLocator"
        },
        "callbackUri": {
          "type": "string",
          "description": "The callback URI."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers to correlate the request to the response event."
        },
        "callIntelligenceOptions": {
          "$ref": "#/definitions/CallIntelligenceOptions"
        },
        "mediaStreamingOptions": {
          "$ref": "#/definitions/MediaStreamingOptions"
        },
        "transcriptionOptions": {
          "$ref": "#/definitions/TranscriptionOptions"
        },
        "enableLoopbackAudio": {
          "type": "boolean",
          "description": "Enables loopback audio functionality for the call."
        }
      },
      "additionalProperties": false,
      "description": "The request payload for creating a connection to a CallLocator."
    },
    "ContinuousDtmfRecognitionRequest": {
      "required": [
        "targetParticipant"
      ],
      "type": "object",
      "properties": {
        "targetParticipant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "operationContext": {
          "type": "string",
          "description": "The value to identify context of the operation."
        },
        "operationCallbackUri": {
          "type": "string",
          "description": "Set a callback URI that overrides the default callback URI set by CreateCall/AnswerCall for this operation.\r\nThis setup is per-action. If this is not set, the default callback URI set by CreateCall/AnswerCall will be used."
        }
      },
      "additionalProperties": false
    },
    "ContinuousDtmfRecognitionStopped": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "ContinuousDtmfRecognitionToneFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        }
      },
      "additionalProperties": false
    },
    "ContinuousDtmfRecognitionToneReceived": {
      "type": "object",
      "properties": {
        "sequenceId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "The sequence id which can be used to determine if the same tone was played multiple times or if any tones were missed."
        },
        "tone": {
          "$ref": "#/definitions/Tone"
        },
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "CreateCallFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false,
      "description": "The create call failed event."
    },
    "CreateCallRequest": {
      "required": [
        "callbackUri",
        "targets"
      ],
      "type": "object",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunicationIdentifierModel"
          },
          "description": "The targets of the call."
        },
        "sourceCallerIdNumber": {
          "$ref": "#/definitions/PhoneNumberIdentifierModel"
        },
        "sourceDisplayName": {
          "type": "string",
          "description": "Display name of the call if dialing out to a pstn number"
        },
        "source": {
          "$ref": "#/definitions/CommunicationUserIdentifierModel"
        },
        "operationContext": {
          "type": "string",
          "description": "A customer set value used to track the answering of a call."
        },
        "callbackUri": {
          "type": "string",
          "description": "The callback URI."
        },
        "callIntelligenceOptions": {
          "$ref": "#/definitions/CallIntelligenceOptions"
        },
        "mediaStreamingOptions": {
          "$ref": "#/definitions/MediaStreamingOptions"
        },
        "transcriptionOptions": {
          "$ref": "#/definitions/TranscriptionOptions"
        },
        "teamsAppSource": {
          "$ref": "#/definitions/MicrosoftTeamsAppIdentifierModel"
        },
        "enableLoopbackAudio": {
          "type": "boolean",
          "description": "Enables loopback audio functionality for the call."
        }
      },
      "additionalProperties": false,
      "description": "The request payload for creating the call."
    },
    "CustomCallingContext": {
      "type": "object",
      "properties": {
        "voipHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom calling context VoiP headers"
        },
        "sipHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom calling context SIP headers"
        },
        "teamsPhoneCallDetails": {
          "$ref": "#/definitions/TeamsPhoneCallDetails"
        }
      },
      "additionalProperties": false,
      "description": "The custom calling context which will be sent to the target"
    },
    "DtmfOptions": {
      "type": "object",
      "properties": {
        "interToneTimeoutInSeconds": {
          "format": "int32",
          "maximum": 60,
          "minimum": 1,
          "type": "integer",
          "description": "Time to wait between DTMF inputs to stop recognizing."
        },
        "maxTonesToCollect": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of DTMF tones to be collected."
        },
        "stopTones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tone"
          },
          "description": "List of tones that will stop recognizing."
        }
      },
      "additionalProperties": false,
      "description": "Options for DTMF recognition"
    },
    "DtmfResult": {
      "type": "object",
      "properties": {
        "tones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tone"
          },
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "ExternalStorage": {
      "required": [
        "recordingStorageKind"
      ],
      "type": "object",
      "properties": {
        "recordingStorageKind": {
          "$ref": "#/definitions/RecordingStorageKind"
        },
        "recordingDestinationContainerUrl": {
          "format": "uri",
          "type": "string",
          "description": "Uri of a container or a location within a container"
        }
      },
      "additionalProperties": false
    },
    "FileSource": {
      "required": [
        "uri"
      ],
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Uri for the audio file to be played"
        }
      },
      "additionalProperties": false
    },
    "GetParticipantsResponse": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallParticipant"
          },
          "description": "List of the current participants in the call."
        },
        "nextLink": {
          "type": "string",
          "description": "Continue of the list of participants"
        }
      },
      "additionalProperties": false,
      "description": "The response payload for getting participants of the call."
    },
    "HoldFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string",
          "description": "Call connection ID."
        },
        "serverCallId": {
          "type": "string",
          "description": "Server call ID."
        },
        "correlationId": {
          "type": "string",
          "description": "Correlation ID for event to call correlation. Also called ChainId for skype chain ID."
        },
        "operationContext": {
          "type": "string",
          "description": "Used by customers when calling mid-call actions to correlate the request to the response event."
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
[...]
