{
  "swagger": "2.0",
  "info": {
    "title": "Azure Communication Service Call Automation APIs",
    "description": "Azure Communication Service Call Automation APIs",
    "version": "2026-03-12"
  },
  "host": "contoso.communication.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/calling/callConnections": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "CreateCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "createCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateCallRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "201": {
            "description": "Returns details of the call properties once the CreateCall request is received by service. You will receive CallConnected event at your specified callback URI, once the call is connected.",
            "schema": {
              "$ref": "#/definitions/CallConnectionProperties"
            }
          }
        },
        "x-ms-examples": {
          "CreateCall": {
            "$ref": "./examples/CreateCall.json"
          }
        }
      }
    },
    "/calling/callConnections:answer": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "AnswerCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "answerCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AnswerCallRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns details of the call properties once the AnswerCall request is received by service. You will receive CallConnected event at your specified callback URI, once the call is connected.",
            "schema": {
              "$ref": "#/definitions/CallConnectionProperties"
            }
          }
        },
        "x-ms-examples": {
          "AnswerCall": {
            "$ref": "./examples/AnswerCall.json"
          }
        }
      }
    },
    "/calling/callConnections:redirect": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "RedirectCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "redirectCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RedirectCallRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "The service has redirected the call to specified endpoint."
          }
        },
        "x-ms-examples": {
          "RedirectCall": {
            "$ref": "./examples/RedirectCall.json"
          }
        }
      }
    },
    "/calling/callConnections:reject": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "RejectCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "rejectCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RejectCallRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "The service has rejected the call."
          }
        },
        "x-ms-examples": {
          "RejectCall": {
            "$ref": "./examples/RejectCall.json"
          }
        }
      }
    },
    "/calling/callConnections:connect": {
      "post": {
        "tags": [
          "PreConnections"
        ],
        "operationId": "Connect",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "connectRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns connection to a callLocator",
            "schema": {
              "$ref": "#/definitions/CallConnectionProperties"
            }
          }
        },
        "x-ms-examples": {
          "Connect": {
            "$ref": "./examples/Connect.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}": {
      "get": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_GetCall",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns details of the call properties.",
            "schema": {
              "$ref": "#/definitions/CallConnectionProperties"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_GetCall": {
            "$ref": "./examples/CallConnection_GetCall.json"
          }
        }
      },
      "delete": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_HangupCall",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "Call automation service has left the call."
          }
        },
        "x-ms-examples": {
          "CallConnection_HangupCall": {
            "$ref": "./examples/CallConnection_HangupCall.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:terminate": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_TerminateCall",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "The call is terminated."
          }
        },
        "x-ms-examples": {
          "CallConnection_TerminateCall": {
            "$ref": "./examples/CallConnection_TerminateCall.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:transferToParticipant": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_TransferToParticipant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "transferToParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TransferToParticipantRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the transfer request and will begin processing it. You will receive either CallTransferAccepted or CallTransferFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/TransferCallResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_TransferToParticipant": {
            "$ref": "./examples/CallConnection_TransferToParticipant.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:play": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_Play",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "playRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PlayRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the play request and will begin processing it. You will receive either PlayCompleted or PlayFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_Play": {
            "$ref": "./examples/CallMedia_Play.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:startTranscription": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StartTranscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "startTranscriptionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartTranscriptionRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the start transcription request and will begin processing it. You will receive either TranscriptionStarted or TranscriptionFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_StartTranscription": {
            "$ref": "./examples/CallMedia_StartTranscription.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:stopTranscription": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StopTranscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "stopTranscriptionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopTranscriptionRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the stop transcription request and will begin processing it. You will receive either TranscriptionStopped event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_StopTranscription": {
            "$ref": "./examples/CallMedia_StopTranscription.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:updateTranscription": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_UpdateTranscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "updateTranscriptionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateTranscriptionRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "Returns the update transcription response"
          }
        },
        "x-ms-examples": {
          "CallMedia_UpdateTranscription": {
            "$ref": "./examples/CallMedia_UpdateTranscription.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:summarizeCall": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_SummarizeCall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "summarizeCallRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SummarizeCallRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the summarize call request and will begin processing it. You will receive TranscriptionCallSummaryUpdated event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_SummarizeCall": {
            "$ref": "./examples/CallMedia_SummarizeCall.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:cancelAllMediaOperations": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_CancelAllMediaOperations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the cancel request and will begin processing it. You will receive the RecognizeCanceled and/or PlayCanceled event at your specified callback URI to update you on the status of the request, based on which media operation has been canceled by it."
          }
        },
        "x-ms-examples": {
          "CallMedia_CancelAllMediaOperations": {
            "$ref": "./examples/CallMedia_CancelAllMediaOperations.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:recognize": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_Recognize",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "recognizeRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RecognizeRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the recognize request and will begin processing it. You will receive either RecognizeCompleted or RecognizeFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_Recognize": {
            "$ref": "./examples/CallMedia_Recognize.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:startContinuousDtmfRecognition": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StartContinuousDtmfRecognition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "continuousDtmfRecognitionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContinuousDtmfRecognitionRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "The service has started continuous dtmf recognition. You will receive either the ContinuousDtmfRecognitionToneReceived, ContinuousDtmfRecognitionToneFailed or ContinuousDtmfRecognitionStopped event at your specified callback URI. Continuous dtmf recognition can run in parallel with other media operations. For example if the Recognize operation is also active and a dtmf is detected, both ContinuousDtmfRecognitionToneReceived and RecognizeCompleted events will be received."
          }
        },
        "x-ms-examples": {
          "CallMedia_StartContinuousDtmfRecognition": {
            "$ref": "./examples/CallMedia_StartContinuousDtmfRecognition.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:stopContinuousDtmfRecognition": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StopContinuousDtmfRecognition",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "continuousDtmfRecognitionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContinuousDtmfRecognitionRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "The service has stopped continuous dtmf recognition. If continuous dtmf recognition was previously started, you will receive the ContinuousDtmfRecognitionStopped event at your specified callback URI."
          }
        },
        "x-ms-examples": {
          "CallMedia_StopContinuousDtmfRecognition": {
            "$ref": "./examples/CallMedia_StopContinuousDtmfRecognition.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:sendDtmfTones": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_SendDtmfTones",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "sendDtmfTonesRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SendDtmfTonesRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the send dtmf tones request and will begin processing it. You will receive either the SendDtmfTonesCompleted or the SendDtmfTonesFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/SendDtmfTonesResult"
            }
          }
        },
        "x-ms-examples": {
          "CallMedia_SendDtmfTones": {
            "$ref": "./examples/CallMedia_SendDtmfTones.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:hold": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_Hold",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "holdRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HoldRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the hold participant response"
          }
        },
        "x-ms-examples": {
          "CallMedia_Hold": {
            "$ref": "./examples/CallMedia_Hold.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:unhold": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_Unhold",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "unholdRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UnholdRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the unhold participant response"
          }
        },
        "x-ms-examples": {
          "CallMedia_Unhold": {
            "$ref": "./examples/CallMedia_Unhold.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:startMediaStreaming": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StartMediaStreaming",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "startMediaStreamingRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartMediaStreamingRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the start media streaming request and will begin processing it. You will receive either MediaStreamingStarted or MediaStreamingFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_StartMediaStreaming": {
            "$ref": "./examples/CallMedia_StartMediaStreaming.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}:stopMediaStreaming": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallMedia_StopMediaStreaming",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "stopMediaStreamingRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopMediaStreamingRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the stop media streaming request and will begin processing it. You will receive either MediaStreamingStopped or MediaStreamingFailed event at your specified callback URI to update you on the status of the request."
          }
        },
        "x-ms-examples": {
          "CallMedia_StopMediaStreaming": {
            "$ref": "./examples/CallMedia_StopMediaStreaming.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}/participants": {
      "get": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_GetParticipants",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the get participants response.",
            "schema": {
              "$ref": "#/definitions/GetParticipantsResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_GetParticipants": {
            "$ref": "./examples/CallConnection_GetParticipants.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink",
          "itemName": "value"
        }
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:add": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_AddParticipant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "addParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddParticipantRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the add participant request and will begin processing it. You will receive either AddParticipantSucceeded or AddParticipantFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/AddParticipantResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_AddParticipant": {
            "$ref": "./examples/CallConnection_AddParticipant.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:remove": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_RemoveParticipant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "removeParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoveParticipantRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the remove participant request and will begin processing it. You will receive either RemoveParticipantSucceeded or RemoveParticipantFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/RemoveParticipantResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_RemoveParticipant": {
            "$ref": "./examples/CallConnection_RemoveParticipant.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:mute": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_Mute",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "muteParticipantsRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MuteParticipantsRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the mute participants response",
            "schema": {
              "$ref": "#/definitions/MuteParticipantsResult"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_Mute": {
            "$ref": "./examples/CallConnection_Mute.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:cancelAddParticipant": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_CancelAddParticipant",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "cancelAddParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancelAddParticipantRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "Returns the cancelAddParticipant response",
            "schema": {
              "$ref": "#/definitions/CancelAddParticipantResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_CancelAddParticipant": {
            "$ref": "./examples/CallConnection_CancelAddParticipant.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}/participants:moveHere": {
      "post": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_MoveParticipants",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "moveParticipantRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MoveParticipantsRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the move participant request and will begin processing it. You will receive either MoveParticipantSucceeded or MoveParticipantFailed event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/MoveParticipantsResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_MoveParticipants": {
            "$ref": "./examples/CallConnection_MoveParticipants.json"
          }
        }
      }
    },
    "/calling/callConnections/{callConnectionId}/participants/{participantRawId}": {
      "get": {
        "tags": [
          "MidConnections"
        ],
        "operationId": "CallConnection_GetParticipant",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "callConnectionId",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "participantRawId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the detail of the requested participant.",
            "schema": {
              "$ref": "#/definitions/CallParticipant"
            }
          }
        },
        "x-ms-examples": {
          "CallConnection_GetParticipant": {
            "$ref": "./examples/CallConnection_GetParticipant.json"
          }
        }
      }
    },
    "/calling/recordings": {
      "post": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_StartRecording",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "header",
            "name": "Repeatability-Request-ID",
            "description": "If specified, the client directs that the request is repeatable; that is, that the client can make the request multiple times with the same Repeatability-Request-Id and get back an appropriate response without the server executing the request multiple times. The value of the Repeatability-Request-Id is an opaque string representing a client-generated unique identifier for the request. It is a version 4 (random) UUID.",
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "header",
            "name": "Repeatability-First-Sent",
            "description": "If Repeatability-Request-ID header is specified, then Repeatability-First-Sent header must also be specified. The value should be the date and time at which the request was first created, expressed using the IMF-fixdate form of HTTP-date. Example: Sun, 06 Nov 1994 08:49:37 GMT.",
            "type": "string",
            "format": "date-time-rfc1123"
          },
          {
            "in": "body",
            "name": "startCallRecording",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartCallRecordingRequest"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the start call recording response.",
            "schema": {
              "$ref": "#/definitions/RecordingStateResponse"
            }
          },
          "202": {
            "description": "The service has accepted the StartCallRecording request and will begin processing it. You will receive either a StartRecordingFailed event or RecordingStateChanged event at your specified callback URI to update you on the status of the request.",
            "schema": {
              "$ref": "#/definitions/RecordingStateResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallRecording_StartRecording": {
            "$ref": "./examples/CallRecording_StartRecording.json"
          }
        }
      }
    },
    "/calling/recordings/{recordingId}": {
      "get": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_GetRecordingProperties",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "recordingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "200": {
            "description": "Returns the recording properties.",
            "schema": {
              "$ref": "#/definitions/RecordingStateResponse"
            }
          }
        },
        "x-ms-examples": {
          "CallRecording_GetRecordingProperties": {
            "$ref": "./examples/CallRecording_GetRecordingProperties.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_StopRecording",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "recordingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "204": {
            "description": "Returns the stop call recording response."
          }
        },
        "x-ms-examples": {
          "CallRecording_StopRecording": {
            "$ref": "./examples/CallRecording_StopRecording.json"
          }
        }
      }
    },
    "/calling/recordings/{recordingId}:pause": {
      "post": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_PauseRecording",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "recordingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the pause request and will begin processing it."
          }
        },
        "x-ms-examples": {
          "CallRecording_PauseRecording": {
            "$ref": "./examples/CallRecording_PauseRecording.json"
          }
        }
      }
    },
    "/calling/recordings/{recordingId}:resume": {
      "post": {
        "tags": [
          "Recording"
        ],
        "operationId": "CallRecording_ResumeRecording",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "in": "path",
            "name": "recordingId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/CommunicationErrorResponse"
            }
          },
          "202": {
            "description": "The service has accepted the resume request and will begin processing it."
          }
        },
        "x-ms-examples": {
          "CallRecording_ResumeRecording": {
            "$ref": "./examples/CallRecording_ResumeRecording.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AddParticipantFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "participant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        }
      },
      "additionalProperties": false
    },
    "AddParticipantRequest": {
      "required": [
        "participantToAdd"
      ],
      "type": "object",
      "properties": {
        "sourceCallerIdNumber": {
          "$ref": "#/definitions/PhoneNumberIdentifierModel"
        },
        "sourceDisplayName": {
          "type": "string"
        },
        "participantToAdd": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "invitationTimeoutInSeconds": {
          "format": "int32",
          "maximum": 180,
          "minimum": 0,
          "type": "integer"
        },
        "operationContext": {
          "type": "string"
        },
        "operationCallbackUri": {
          "type": "string"
        },
        "customCallingContext": {
          "$ref": "#/definitions/CustomCallingContext"
        }
      },
      "additionalProperties": false
    },
    "AddParticipantResponse": {
      "type": "object",
      "properties": {
        "participant": {
          "$ref": "#/definitions/CallParticipant"
        },
        "operationContext": {
          "type": "string"
        },
        "invitationId": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "AddParticipantSucceeded": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "participant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        }
      },
      "additionalProperties": false
    },
    "AnswerCallRequest": {
      "required": [
        "callbackUri",
        "incomingCallContext"
      ],
      "type": "object",
      "properties": {
        "incomingCallContext": {
          "type": "string"
        },
        "callbackUri": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "callIntelligenceOptions": {
          "$ref": "#/definitions/CallIntelligenceOptions"
        },
        "answeredBy": {
          "$ref": "#/definitions/CommunicationUserIdentifierModel"
        },
        "mediaStreamingOptions": {
          "$ref": "#/definitions/MediaStreamingOptions"
        },
        "transcriptionOptions": {
          "$ref": "#/definitions/TranscriptionOptions"
        },
        "enableLoopbackAudio": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "AnswerFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "AudioFormat": {
      "enum": [
        "pcm16KMono",
        "pcm24KMono"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "AudioFormat",
        "modelAsString": true
      }
    },
    "CallConnected": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "CallConnectionProperties": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "targets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunicationIdentifierModel"
          }
        },
        "callConnectionState": {
          "$ref": "#/definitions/CallConnectionStateModel"
        },
        "callbackUri": {
          "type": "string"
        },
        "sourceCallerIdNumber": {
          "$ref": "#/definitions/PhoneNumberIdentifierModel"
        },
        "sourceDisplayName": {
          "type": "string"
        },
        "source": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "correlationId": {
          "type": "string"
        },
        "answeredBy": {
          "$ref": "#/definitions/CommunicationUserIdentifierModel"
        },
        "mediaStreamingSubscription": {
          "$ref": "#/definitions/MediaStreamingSubscription"
        },
        "transcriptionSubscription": {
          "$ref": "#/definitions/TranscriptionSubscription"
        },
        "answeredFor": {
          "$ref": "#/definitions/PhoneNumberIdentifierModel"
        }
      },
      "additionalProperties": false
    },
    "CallConnectionStateModel": {
      "enum": [
        "unknown",
        "connecting",
        "connected",
        "transferring",
        "transferAccepted",
        "disconnecting",
        "disconnected"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "CallConnectionStateModel",
        "modelAsString": true
      }
    },
    "CallDisconnected": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "CallIntelligenceOptions": {
      "type": "object",
      "properties": {
        "cognitiveServicesEndpoint": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CallLocator": {
      "type": "object",
      "properties": {
        "groupCallId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "roomId": {
          "type": "string"
        },
        "kind": {
          "$ref": "#/definitions/CallLocatorKind"
        }
      },
      "additionalProperties": false
    },
    "CallLocatorKind": {
      "enum": [
        "groupCallLocator",
        "serverCallLocator",
        "roomCallLocator"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "CallLocatorKind",
        "modelAsString": true
      }
    },
    "CallParticipant": {
      "type": "object",
      "properties": {
        "identifier": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "isMuted": {
          "type": "boolean"
        },
        "isOnHold": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "CallRejectReason": {
      "enum": [
        "none",
        "busy",
        "forbidden"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "CallRejectReason",
        "modelAsString": true
      }
    },
    "CallTransferAccepted": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "transferTarget": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "transferee": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        }
      },
      "additionalProperties": false
    },
    "CallTransferFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "CancelAddParticipantFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "invitationId": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "CancelAddParticipantRequest": {
      "required": [
        "invitationId"
      ],
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "operationCallbackUri": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CancelAddParticipantResponse": {
      "type": "object",
      "properties": {
        "invitationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CancelAddParticipantSucceeded": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "invitationId": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "ChannelAffinity": {
      "required": [
        "participant"
      ],
      "type": "object",
      "properties": {
        "channel": {
          "format": "int32",
          "maximum": 4,
          "minimum": 0,
          "type": "integer"
        },
        "participant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        }
      },
      "additionalProperties": false
    },
    "Choice": {
      "required": [
        "label",
        "phrases"
      ],
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "phrases": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "tone": {
          "$ref": "#/definitions/Tone"
        }
      },
      "additionalProperties": false
    },
    "ChoiceResult": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string"
        },
        "recognizedPhrase": {
          "type": "string"
        },
        "confidence": {
          "format": "double",
          "type": "number"
        },
        "languageIdentified": {
          "type": "string"
        },
        "sentimentAnalysisResult": {
          "$ref": "#/definitions/SentimentAnalysisResult"
        }
      },
      "additionalProperties": false
    },
    "CommunicationError": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/CommunicationError"
    },
    "CommunicationErrorResponse": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/CommunicationErrorResponse"
    },
    "CommunicationIdentifierModel": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/CommunicationIdentifierModel"
    },
    "CommunicationUserIdentifierModel": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/CommunicationUserIdentifierModel"
    },
    "ConnectFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "ConnectRequest": {
      "required": [
        "callbackUri",
        "callLocator"
      ],
      "type": "object",
      "properties": {
        "callLocator": {
          "$ref": "#/definitions/CallLocator"
        },
        "callbackUri": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "callIntelligenceOptions": {
          "$ref": "#/definitions/CallIntelligenceOptions"
        },
        "mediaStreamingOptions": {
          "$ref": "#/definitions/MediaStreamingOptions"
        },
        "transcriptionOptions": {
          "$ref": "#/definitions/TranscriptionOptions"
        },
        "enableLoopbackAudio": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "ContinuousDtmfRecognitionRequest": {
      "required": [
        "targetParticipant"
      ],
      "type": "object",
      "properties": {
        "targetParticipant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "operationContext": {
          "type": "string"
        },
        "operationCallbackUri": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ContinuousDtmfRecognitionStopped": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "ContinuousDtmfRecognitionToneFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "operationContext": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ContinuousDtmfRecognitionToneReceived": {
      "type": "object",
      "properties": {
        "sequenceId": {
          "format": "int32",
          "type": "integer",
          "readOnly": true
        },
        "tone": {
          "$ref": "#/definitions/Tone"
        },
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "CreateCallFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "CreateCallRequest": {
      "required": [
        "callbackUri",
        "targets"
      ],
      "type": "object",
      "properties": {
        "targets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunicationIdentifierModel"
          }
        },
        "sourceCallerIdNumber": {
          "$ref": "#/definitions/PhoneNumberIdentifierModel"
        },
        "sourceDisplayName": {
          "type": "string"
        },
        "source": {
          "$ref": "#/definitions/CommunicationUserIdentifierModel"
        },
        "operationContext": {
          "type": "string"
        },
        "callbackUri": {
          "type": "string"
        },
        "callIntelligenceOptions": {
          "$ref": "#/definitions/CallIntelligenceOptions"
        },
        "mediaStreamingOptions": {
          "$ref": "#/definitions/MediaStreamingOptions"
        },
        "transcriptionOptions": {
          "$ref": "#/definitions/TranscriptionOptions"
        },
        "teamsAppSource": {
          "$ref": "#/definitions/MicrosoftTeamsAppIdentifierModel"
        },
        "enableLoopbackAudio": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "CustomCallingContext": {
      "type": "object",
      "properties": {
        "voipHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sipHeaders": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "teamsPhoneCallDetails": {
          "$ref": "#/definitions/TeamsPhoneCallDetails"
        }
      },
      "additionalProperties": false
    },
    "DtmfOptions": {
      "type": "object",
      "properties": {
        "interToneTimeoutInSeconds": {
          "format": "int32",
          "maximum": 60,
          "minimum": 1,
          "type": "integer"
        },
        "maxTonesToCollect": {
          "format": "int32",
          "type": "integer"
        },
        "stopTones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tone"
          }
        }
      },
      "additionalProperties": false
    },
    "DtmfResult": {
      "type": "object",
      "properties": {
        "tones": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tone"
          },
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "ExternalStorage": {
      "required": [
        "recordingStorageKind"
      ],
      "type": "object",
      "properties": {
        "recordingStorageKind": {
          "$ref": "#/definitions/RecordingStorageKind"
        },
        "recordingDestinationContainerUrl": {
          "format": "uri",
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "FileSource": {
      "required": [
        "uri"
      ],
      "type": "object",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "GetParticipantsResponse": {
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallParticipant"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "HoldFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "HoldRequest": {
      "required": [
        "targetParticipant"
      ],
      "type": "object",
      "properties": {
        "targetParticipant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "playSourceInfo": {
          "$ref": "#/definitions/PlaySource"
        },
        "operationContext": {
          "type": "string"
        },
        "operationCallbackUri": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "IncomingCall": {
      "type": "object",
      "properties": {
        "to": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "from": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "callerDisplayName": {
          "type": "string",
          "readOnly": true
        },
        "serverCallId": {
          "type": "string",
          "readOnly": true
        },
        "customContext": {
          "$ref": "#/definitions/CustomCallingContext"
        },
        "incomingCallContext": {
          "type": "string",
          "readOnly": true
        },
        "onBehalfOfCallee": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "correlationId": {
          "type": "string",
          "readOnly": true
        }
      },
      "additionalProperties": false
    },
    "MediaStreamingAudioChannelType": {
      "enum": [
        "mixed",
        "unmixed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "MediaStreamingAudioChannelTypeDto",
        "modelAsString": true
      }
    },
    "MediaStreamingContentType": {
      "enum": [
        "audio"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "MediaStreamingContentTypeDto",
        "modelAsString": true
      }
    },
    "MediaStreamingFailed": {
      "type": "object",
      "properties": {
        "mediaStreamingUpdate": {
          "$ref": "#/definitions/MediaStreamingUpdate"
        },
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "MediaStreamingOptions": {
      "description": "Options for media streaming.",
      "required": [
        "audioChannelType",
        "transportType"
      ],
      "type": "object",
      "properties": {
        "transportType": {
          "$ref": "#/definitions/StreamingTransportType"
        },
        "audioChannelType": {
          "$ref": "#/definitions/MediaStreamingAudioChannelType"
        }
      },
      "discriminator": "transportType"
    },
    "MediaStreamingStarted": {
      "type": "object",
      "properties": {
        "mediaStreamingUpdate": {
          "$ref": "#/definitions/MediaStreamingUpdate"
        },
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "MediaStreamingStatus": {
      "enum": [
        "mediaStreamingStarted",
        "mediaStreamingFailed",
        "mediaStreamingStopped",
        "unspecifiedError"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "MediaStreamingStatus",
        "modelAsString": true
      }
    },
    "MediaStreamingStatusDetails": {
      "enum": [
        "subscriptionStarted",
        "streamConnectionReestablished",
        "streamConnectionUnsuccessful",
        "streamUrlMissing",
        "serviceShutdown",
        "streamConnectionInterrupted",
        "speechServicesConnectionError",
        "subscriptionStopped",
        "unspecifiedError",
        "authenticationFailure",
        "badRequest",
        "tooManyRequests",
        "forbidden",
        "serviceTimeout",
        "initialWebSocketConnectionFailed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "MediaStreamingStatusDetails",
        "modelAsString": true
      }
    },
    "MediaStreamingStopped": {
      "type": "object",
      "properties": {
        "mediaStreamingUpdate": {
          "$ref": "#/definitions/MediaStreamingUpdate"
        },
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "MediaStreamingSubscription": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "state": {
          "$ref": "#/definitions/MediaStreamingSubscriptionState"
        },
        "subscribedContentTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MediaStreamingContentType"
          }
        }
      },
      "additionalProperties": false
    },
    "MediaStreamingSubscriptionState": {
      "enum": [
        "disabled",
        "inactive",
        "active"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "MediaStreamingSubscriptionStateDto",
        "modelAsString": true
      }
    },
    "MediaStreamingUpdate": {
      "type": "object",
      "properties": {
        "contentType": {
          "type": "string"
        },
        "mediaStreamingStatus": {
          "$ref": "#/definitions/MediaStreamingStatus"
        },
        "mediaStreamingStatusDetails": {
          "$ref": "#/definitions/MediaStreamingStatusDetails"
        }
      },
      "additionalProperties": false
    },
    "MicrosoftTeamsAppIdentifierModel": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/MicrosoftTeamsAppIdentifierModel"
    },
    "MicrosoftTeamsUserIdentifierModel": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/MicrosoftTeamsUserIdentifierModel"
    },
    "MoveParticipantFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "participant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "fromCall": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "MoveParticipantSucceeded": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "participant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "fromCall": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "MoveParticipantsRequest": {
      "required": [
        "fromCall",
        "targetParticipants"
      ],
      "type": "object",
      "properties": {
        "targetParticipants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunicationIdentifierModel"
          }
        },
        "operationContext": {
          "type": "string"
        },
        "operationCallbackUri": {
          "type": "string"
        },
        "fromCall": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "MoveParticipantsResponse": {
      "type": "object",
      "properties": {
        "participants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallParticipant"
          }
        },
        "operationContext": {
          "type": "string"
        },
        "fromCall": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "MuteParticipantsRequest": {
      "required": [
        "targetParticipants"
      ],
      "type": "object",
      "properties": {
        "targetParticipants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunicationIdentifierModel"
          }
        },
        "operationContext": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "MuteParticipantsResult": {
      "type": "object",
      "properties": {
        "operationContext": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "ParticipantsUpdated": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "sequenceNumber": {
          "format": "int32",
          "type": "integer"
        },
        "participants": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CallParticipant"
          }
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "PhoneNumberIdentifierModel": {
      "$ref": "../../../Common/stable/2025-06-30/common.json#/definitions/PhoneNumberIdentifierModel"
    },
    "PiiRedactionOptions": {
      "type": "object",
      "properties": {
        "enable": {
          "type": "boolean"
        },
        "redactionType": {
          "$ref": "#/definitions/RedactionType"
        }
      },
      "additionalProperties": false
    },
    "PlayCanceled": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "PlayCompleted": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "PlayFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "failedPlaySourceIndex": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "PlayOptions": {
      "required": [
        "loop"
      ],
      "type": "object",
      "properties": {
        "loop": {
          "type": "boolean"
        }
      },
      "additionalProperties": false
    },
    "PlayRequest": {
      "required": [
        "playSources"
      ],
      "type": "object",
      "properties": {
        "playSources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlaySource"
          }
        },
        "playTo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunicationIdentifierModel"
          }
        },
        "interruptCallMediaOperation": {
          "type": "boolean"
        },
        "playOptions": {
          "$ref": "#/definitions/PlayOptions"
        },
        "operationContext": {
          "type": "string"
        },
        "operationCallbackUri": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "PlaySource": {
      "required": [
        "kind"
      ],
      "type": "object",
      "properties": {
        "kind": {
          "$ref": "#/definitions/PlaySourceType"
        },
        "playSourceCacheId": {
          "type": "string"
        },
        "file": {
          "$ref": "#/definitions/FileSource"
        },
        "text": {
          "$ref": "#/definitions/TextSource"
        },
        "ssml": {
          "$ref": "#/definitions/SsmlSource"
        }
      },
      "additionalProperties": false
    },
    "PlaySourceType": {
      "enum": [
        "file",
        "text",
        "ssml"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "PlaySourceType",
        "modelAsString": true
      }
    },
    "PlayStarted": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "RecognitionType": {
      "enum": [
        "dtmf",
        "speech",
        "choices"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "RecognitionType",
        "modelAsString": true
      }
    },
    "RecognizeCanceled": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        }
      },
      "additionalProperties": false
    },
    "RecognizeCompleted": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "recognitionType": {
          "$ref": "#/definitions/RecognitionType"
        },
        "dtmfResult": {
          "$ref": "#/definitions/DtmfResult"
        },
        "choiceResult": {
          "$ref": "#/definitions/ChoiceResult"
        },
        "speechResult": {
          "$ref": "#/definitions/SpeechResult"
        }
      },
      "additionalProperties": false
    },
    "RecognizeFailed": {
      "type": "object",
      "properties": {
        "callConnectionId": {
          "type": "string"
        },
        "serverCallId": {
          "type": "string"
        },
        "correlationId": {
          "type": "string"
        },
        "operationContext": {
          "type": "string"
        },
        "resultInformation": {
          "$ref": "#/definitions/ResultInformation"
        },
        "failedPlaySourceIndex": {
          "format": "int32",
          "type": "integer"
        }
      },
      "additionalProperties": false
    },
    "RecognizeInputType": {
      "enum": [
        "dtmf",
        "speech",
        "speechOrDtmf",
        "choices"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "RecognizeInputType",
        "modelAsString": true
      }
    },
    "RecognizeOptions": {
      "required": [
        "targetParticipant"
      ],
      "type": "object",
      "properties": {
        "interruptPrompt": {
          "type": "boolean"
        },
        "initialSilenceTimeoutInSeconds": {
          "format": "int32",
          "maximum": 300,
          "minimum": 0,
          "type": "integer"
        },
        "targetParticipant": {
          "$ref": "#/definitions/CommunicationIdentifierModel"
        },
        "speechLanguage": {
          "type": "string"
        },
        "speechLanguages": {
          "type": "array",
          "items": {
[...]
