{
	"swagger": "2.0",
	"info": {
		"version": "2016-07-12-preview",
		"title": "AdvisorManagementClient",
		"description": "REST APIs for Azure Advisor"
	},
	"host": "management.azure.com",
	"schemes": ["https"],
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"paths": {
		"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations": {
			"post": {
				"tags": ["GenerateRecommendations"],
				"description": "Initiates the recommendation generation/computation process for a subscription. This is an asynchronous operation. The generated recommendations are stored in a cache in the Advisor service.",
				"operationId": "GenerateRecommendations_GenerateRecommendations",
				"parameters": [{
					"$ref": "#/parameters/subscriptionIdParameter"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"202": {
						"description": "Accepted",
						"headers": {
							"Location": {
								"description": "The URL where the status of the long-running operation can be checked.",
								"type": "string"
							},
							"Retry-After": {
								"description": "The delay that the client should use when checking for the status of the operation. The value is in seconds.",
								"type": "string"
							}
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"GenerateRecommendations": {
						"$ref": "../examples/GenerateRecommendations.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}": {
			"get": {
				"tags": ["GenerateRecommendations"],
				"description": "Get generate recommendations status. As generate recommendation operation is an asynchronous operation. This is the method to get generate recommendation status.",
				"operationId": "GenerateRecommendations_GetGenerateRecommendationsStatus",
				"parameters": [{
					"$ref": "#/parameters/subscriptionIdParameter"
				},
				{
					"name": "operationId",
					"in": "path",
					"description": "The operation Id.",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"202": {
						"description": "Generate recommendation hasn't finished."
					},
					"204": {
						"description": "Generate recommendation has finished."
					},
					"404": {
						"description": "The operationId cannot be found."
					}
				},
				"deprecated": false
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations": {
			"get": {
				"tags": ["GetRecommendations"],
				"description": "Obtains cached recommendations for a subscription. The recommendations are generated/computed by invoking generateRecommendations.",
				"operationId": "GetRecommendations_ListRecommendations",
				"parameters": [{
					"$ref": "#/parameters/subscriptionIdParameter"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				},
				{
					"name": "$filter",
					"in": "query",
					"description": "The filter to apply on listing recommendations",
					"required": true,
					"type": "string"
				},
				{
					"name": "$top",
					"in": "query",
					"description": "The top used to listing recommendations.",
					"required": true,
					"type": "integer"
				},
				{
					"name": "$skipToken",
					"in": "query",
					"description": "The skipToken used to list recommendations.",
					"required": true,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CollectionResponse[ResourceRecommendationBase20160506]"
						}
					}
				},
				"deprecated": false,
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
				"x-ms-examples": {
					"istRecommendations": {
						"$ref": "../examples/ListRecommendations.json"
					}
				}
			}
		},
		"/{recommendationId}/suppressions/{name}": {
			"put": {
				"tags": ["Suppression"],
				"description": "Provides the ability to snooze a recommendation. The snooze attribute of a recommendation is referred to as a suppression. Use this API to create or update the snooze status of a recommendation.",
				"operationId": "Suppression_Create",
				"parameters": [{
					"name": "recommendationId",
					"in": "path",
					"description": "The recommendation Id",
					"required": true,
					"type": "string"
				},
				{
					"name": "name",
					"in": "path",
					"description": "The suppression name.",
					"required": true,
					"type": "string"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Suppression"
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"CreateSuppression": {
						"$ref": "../examples/CreateSuppression.json"
					}
				}
			},
			"delete": {
				"tags": ["Suppression"],
				"description": "Provides the ability to dismiss a recommendation. The dismiss attribute of a recommendation is referred to as a suppression. Use this API to create or update the dismiss status of a recommendation.",
				"operationId": "Suppression_Delete",
				"parameters": [{
					"name": "recommendationId",
					"in": "path",
					"description": "The recommendation Id",
					"required": true,
					"type": "string"
				},
				{
					"name": "name",
					"in": "path",
					"description": "The suppression name.",
					"required": true,
					"type": "string"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"204": {
						"description": "Delete suppression is done."
					},
					"404": {
						"description": "The suppresion cannot be found."
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"DeleteSuppression": {
						"$ref": "../examples/DeleteSuppression.json"
					}
				}
			}
		},
		"/{recommendationId}": {
			"get": {
				"tags": ["GetRecommendations"],
				"description": "Obtains details of a cached recommendation.",
				"operationId": "GetRecommendations_GetRecommendationDetail",
				"parameters": [{
					"name": "recommendationId",
					"in": "path",
					"description": "The recommendation Id",
					"required": true,
					"type": "string"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResourceRecommendationBase20160506"
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"GetRecommendationDetail": {
						"$ref": "../examples/GetRecommendationDetail.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions": {
			"get": {
				"tags": ["Suppression"],
				"summary": "",
				"description": "Retrieves the list of snoozed/dismissed recommendations for a subscription. The snooze/dismiss attribute of a recommendation is referred to as a suppression.",
				"operationId": "Suppression_ListSuppressions",
				"parameters": [{
					"$ref": "#/parameters/subscriptionIdParameter"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Suppression"
							}
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"ListSuppressions": {
						"$ref": "../examples/ListSuppressions.json"
					}
				}
			}
		}
	},
	"definitions": {
		"CollectionResponse[ResourceRecommendationBase20160506]": {
			"description": "Recommendation Collection",
			"type": "object",
			"properties": {
				"nextLink": {
					"description": "The next link used to get next page of recommendations",
					"type": "string"
				},
				"value": {
					"description": "The recommendation List",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ResourceRecommendationBase20160506"
					}
				}
			}
		},
		"ResourceRecommendationBase20160506": {
			"description": "Advisor Recommendation",
			"type": "object",
			"properties": {
				"id": {
					"description": "The recommendation Id.",
					"type": "string"
				},
				"name": {
					"description": "The recommendation name.",
					"type": "string"
				},
				"properties": {
					"$ref": "#/definitions/RecommendationProperties20160506",
					"description": "The recommendation properties."
				},
				"suppressionIds": {
					"description": "The suppression Lists.",
					"type": "array",
					"items": {
						"format": "uuid",
						"type": "string"
					}
				},
				"type": {
					"description": "The recommendation Type.",
					"type": "string"
				},
				"hardwareDetails": {
					"$ref": "#/definitions/ResourceHardwareDetails",
					"description": "The hardware details used to get potential cost."
				}
			}
		},
		"RecommendationProperties20160506": {
			"description": "The recommendation properties",
			"type": "object",
			"properties": {
				"category": {
					"description": "The recommendation category.",
					"enum": ["HighAvailability",
					"Security",
					"Performance",
					"Cost"],
					"type": "string",
					"x-ms-enum": {
						"name": "category",
						"modelAsString": true
					}
				},
				"impact": {
					"description": "The recommendation impact.",
					"enum": ["High",
					"Medium",
					"Low"],
					"type": "string",
					"x-ms-enum": {
						"name": "impact",
						"modelAsString": true
					}
				},
				"impactedField": {
					"description": "The recommendation impacted field.",
					"type": "string"
				},
				"impactedValue": {
					"description": "The recommendation impacted value.",
					"type": "string"
				},
				"lastUpdated": {
					"format": "date-time",
					"description": "The recommendation last updated time.",
					"type": "string"
				},
				"metadata": {
					"description": "The recommendation meta data.",
					"type": "object",
					"additionalProperties": {
						"type": "object"
					}
				},
				"recommendationTypeId": {
					"description": "The recommendation Type Id.",
					"type": "string"
				},
				"risk": {
					"description": "The recommendation risk level.",
					"enum": ["Error",
					"Warning",
					"None"],
					"type": "string",
					"x-ms-enum": {
						"name": "risk",
						"modelAsString": true
					}
				},
				"shortDescription": {
					"$ref": "#/definitions/ShortDescription",
					"description": "The recommendation short description."
				}
			}
		},
		"ResourceHardwareDetails": {
			"description": "The hardware details used to get potential cost.",
			"type": "object",
			"properties": {
				"resourceId": {
					"description": "The resource Id.",
					"type": "string"
				},
				"size": {
					"description": "The size.",
					"type": "string"
				}
			}
		},
		"ShortDescription": {
			"description": "The short description of recommendation.",
			"type": "object",
			"properties": {
				"problem": {
					"description": "The problem of recommendation.",
					"type": "string"
				},
				"solution": {
					"description": "The solution of the recommendation.",
					"type": "string"
				}
			}
		},
		"SuppressionContract": {
			"description": "The suppression contract used for creating/updating suppression",
			"type": "object",
			"properties": {
				"id": {
					"description": "The recommmendation id.",
					"type": "string"
				},
				"suppressionId": {
					"description": "The suppression id.",
					"type": "string"
				},
				"name": {
					"description": "The suppression name.",
					"type": "string"
				},
				"type": {
					"description": "The suppresion type.",
					"type": "string"
				},
				"ttl": {
					"description": "The suppression ttl.",
					"type": "string"
				}
			}
		},
		"Suppression": {
			"description": "The suppression.",
			"type": "object",
			"properties": {
				"subscriptionId": {
					"format": "uuid",
					"description": "The subcription id.",
					"type": "string"
				},
				"suppressionId": {
					"description": "The suppression GUID.",
					"type": "string"
				},
				"ttl": {
					"format": "int32",
					"description": "The suppression ttl.",
					"type": "integer"
				},
				"expirationTimeStamp": {
					"format": "date-time",
					"description": "The suppression expiration timestamp.",
					"type": "string"
				},
				"stableId": {
					"description": "The suppression stableId.",
					"type": "string"
				},
				"id": {
					"format": "uuid",
					"description": "The full path of suppression id.",
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"subscriptionIdParameter": {
			"name": "subscriptionId",
			"in": "path",
			"description": "Azure Subscription ID.",
			"required": true,
			"type": "string"
		},
		"apiVersionParameter": {
			"name": "api-version",
			"in": "query",
			"description": "Version of the API to be used with the client request.",
			"required": true,
			"type": "string"
		}
	}
}