{
	"swagger": "2.0",
	"info": {
		"version": "2016-07-12-preview",
		"title": "AdvisorManagementClient",
		"description": "REST APIs for Azure Advisor"
	},
	"host": "management.azure.com",
	"schemes": ["https"],
	"consumes": ["application/json"],
	"produces": ["application/json"],
	"paths": {
		"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations": {
			"post": {
				"tags": ["GenerateRecommendations"],
				"description": "Initiates the recommendation generation/computation process for a subscription. This is an asynchronous operation. The generated recommendations are stored in a cache in the Advisor service.",
				"operationId": "Recommentations_Generate",
				"parameters": [{
					"$ref": "#/parameters/subscriptionIdParameter"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"202": {
						"description": "Accepted",
						"headers": {
							"Location": {
								"description": "The URL where the status of the asynchronous operation can be checked.",
								"type": "string"
							},
							"Retry-After": {
								"description": "The delay to use while checking the status of the operation. The value is in seconds.",
								"type": "string"
							}
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"GenerateRecommendations": {
						"$ref": "../examples/GenerateRecommendations.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/generateRecommendations/{operationId}": {
			"get": {
				"tags": ["GenerateRecommendations"],
				"description": "Retrieves the status of the recommendation computation/generation process. Invoke this API after calling generation recommendation. The Uri of this API is returned in the Location field of the response header.",
				"operationId": "Recommentations_GetGenerateRecommendationsStatus",
				"parameters": [{
					"$ref": "#/parameters/subscriptionIdParameter"
				},
				{
					"name": "operationId",
					"in": "path",
					"description": "The operation Id can be found from the Location field in generate recommendation response header.",
					"required": true,
					"type": "string",
					"format": "uuid"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"202": {
						"description": "Recommendation generation is in progress."
					},
					"204": {
						"description": "Recommendation generation has completed."
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"PollGenerateRecommendationsStatus": {
						"$ref": "../examples/PollGenerateRecommendationsStatus.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/recommendations": {
			"get": {
				"tags": ["GetRecommendations"],
				"description": "Obtains cached recommendations for a subscription. The recommendations are generated/computed by invoking generateRecommendations.",
				"operationId": "Recommendations_List",
				"parameters": [{
					"$ref": "#/parameters/subscriptionIdParameter"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				},
				{
					"name": "$filter",
					"in": "query",
					"description": "The filter to apply on the recommendations.",
					"required": false,
					"type": "string"
				},
				{
					"name": "$top",
					"in": "query",
					"description": "The number of recommendations per page if using paged version of this API.",
					"required": false,
					"type": "integer"
				},
				{
					"name": "$skipToken",
					"in": "query",
					"description": "The page continuation token if using paged version of this API.",
					"required": false,
					"type": "string"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CollectionResponse[ResourceRecommendationBase]"
						}
					}
				},
				"deprecated": false,
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				},
				"x-ms-examples": {
					"ListRecommendations": {
						"$ref": "../examples/ListRecommendations.json"
					}
				}
			}
		},
		"/providers/Microsoft.Advisor/operations": {
			"get": {
				"tags": ["Operations"],
				"description": "Lists all of the available Advisor REST API operations",
				"operationId": "Operations_List",
				"parameters": [{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/CollectionResponse[OperationEntity]"
						}
					}
				},
				"deprecated": false,
				"x-ms-pageable": {
					"nextLinkName": "nextLink"
				}
			}
		},
		"/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}/suppressions/{name}": {
			"get": {
				"tags": ["Suppressions"],
				"description": "Obtains detail of a suppression",
				"operationId": "Suppressions_Get",
				"parameters": [{
					"name": "resourceUri",
					"in": "path",
					"description": "The fully qualified arm identifier of the resource for which the recommendation applies.",
					"required": true,
					"type": "string"
				},
				{
					"name": "recommendationId",
					"in": "path",
					"description": "The recommendation Id",
					"required": true,
					"type": "string"
				},
				{
					"name": "name",
					"in": "path",
					"description": "The suppression name.",
					"required": true,
					"type": "string"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Suppression"
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"GetSuppressionDetail": {
						"$ref": "../examples/GetSuppressionDetail.json"
					}
				}
			},
			"put": {
				"tags": ["Suppressions"],
				"description": "Provides the ability to snoozed/dismissed a recommendation. The snoozed/dismissed attribute of a recommendation is referred to as a suppression. Use this API to create or update the snoozed/dismissed status of a recommendation.",
				"operationId": "Suppressions_Create",
				"parameters": [{
					"name": "resourceUri",
					"in": "path",
					"description": "The fully qualified arm identifier of the resource for which the recommendation applies.",
					"required": true,
					"type": "string"
				},
				{
					"name": "recommendationId",
					"in": "path",
					"description": "The recommendation Id",
					"required": true,
					"type": "string"
				},
				{
					"name": "name",
					"in": "path",
					"description": "The suppression name.",
					"required": true,
					"type": "string"
				},
				{
					"name": "suppressionContract",
					"in": "body",
					"description": "The snoozed/dismissed attributes, eg, the snooze duration.",
					"required": true,
					"schema": {
						"$ref": "#/definitions/SuppressionContract"
					}
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/SuppressionContract"
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"CreateSuppression": {
						"$ref": "../examples/CreateSuppression.json"
					}
				}
			},
			"delete": {
				"tags": ["Suppressions"],
				"description": "Provides the ability to activate a snoozed/dismissed recommendation. The snoozed/dismissed attribute of a recommendation is referred to as a suppression.",
				"operationId": "Suppressions_Delete",
				"parameters": [{
					"name": "resourceUri",
					"in": "path",
					"description": "The fully qualified arm identifier of the resource for which the recommendation applies.",
					"required": true,
					"type": "string"
				},
				{
					"name": "recommendationId",
					"in": "path",
					"description": "The recommendation Id",
					"required": true,
					"type": "string"
				},
				{
					"name": "name",
					"in": "path",
					"description": "The suppression name.",
					"required": true,
					"type": "string"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"204": {
						"description": "The recommendation has been activated."
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"DeleteSuppression": {
						"$ref": "../examples/DeleteSuppression.json"
					}
				}
			}
		},
		"/{resourceUri}/providers/Microsoft.Advisor/recommendations/{recommendationId}": {
			"get": {
				"tags": ["GetRecommendations"],
				"description": "Obtains details of a cached recommendation.",
				"operationId": "Recommendations_Get",
				"parameters": [{
					"name": "resourceUri",
					"in": "path",
					"description": "The fully qualified arm identifier of the resource for which the recommendation applies.",
					"required": true,
					"type": "string"
				},
				{
					"name": "recommendationId",
					"in": "path",
					"description": "The recommendation Id.",
					"required": true,
					"type": "string"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/ResourceRecommendationBase"
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"GetRecommendationDetail": {
						"$ref": "../examples/GetRecommendationDetail.json"
					}
				}
			}
		},
		"/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/suppressions": {
			"get": {
				"tags": ["Suppressions"],
				"summary": "",
				"description": "Retrieves the list of snoozed/dismissed suppressions for a subscription. The snooze/dismiss attribute of a recommendation is referred to as a suppression.",
				"operationId": "Suppressions_List",
				"parameters": [{
					"$ref": "#/parameters/subscriptionIdParameter"
				},
				{
					"$ref": "#/parameters/apiVersionParameter"
				}],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Suppression"
							}
						}
					}
				},
				"deprecated": false,
				"x-ms-examples": {
					"ListSuppressions": {
						"$ref": "../examples/ListSuppressions.json"
					}
				}
			}
		}
	},
	"definitions": {
		"CollectionResponse[ResourceRecommendationBase]": {
			"description": "response entity collection",
			"type": "object",
			"properties": {
				"nextLink": {
					"description": "The next link used to get next page of entities.",
					"type": "string"
				},
				"value": {
					"description": "The list of entities.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ResourceRecommendationBase"
					}
				}
			}
		},
		"ResourceRecommendationBase": {
			"description": "Advisor Recommendation",
			"type": "object",
			"properties": {
				"id": {
					"description": "The recommendation Id.",
					"type": "string"
				},
				"name": {
					"description": "The recommendation name.",
					"type": "string"
				},
				"properties": {
					"$ref": "#/definitions/RecommendationProperties",
					"description": "The recommendation properties.",
					"x-ms-client-flatten": true
				},
				"suppressionIds": {
					"description": "The list of suppression ids.",
					"type": "array",
					"items": {
						"format": "uuid",
						"type": "string"
					}
				},
				"type": {
					"description": "The recommendation type.",
					"type": "string"
				},
				"hardwareDetails": {
					"$ref": "#/definitions/ResourceHardwareDetails",
					"description": "The hardware details used to get potential cost."
				}
			}
		},
		"RecommendationProperties": {
			"description": "The recommendation properties",
			"type": "object",
			"properties": {
				"category": {
					"description": "The recommendation category.",
					"enum": ["HighAvailability",
					"Security",
					"Performance",
					"Cost"],
					"type": "string",
					"x-ms-enum": {
						"name": "category",
						"modelAsString": true
					}
				},
				"impact": {
					"description": "The recommendation impact.",
					"enum": ["High",
					"Medium",
					"Low"],
					"type": "string",
					"x-ms-enum": {
						"name": "impact",
						"modelAsString": true
					}
				},
				"impactedField": {
					"description": "The recommendation impacted field.",
					"type": "string"
				},
				"impactedValue": {
					"description": "The recommendation impacted value.",
					"type": "string"
				},
				"lastUpdated": {
					"format": "date-time",
					"description": "The recommendation last updated time.",
					"type": "string"
				},
				"metadata": {
					"description": "The recommendation meta data.",
					"type": "object",
					"additionalProperties": {
						"type": "object"
					}
				},
				"recommendationTypeId": {
					"description": "The recommendation Type Id.",
					"type": "string"
				},
				"risk": {
					"description": "The recommendation risk level.",
					"enum": ["Error",
					"Warning",
					"None"],
					"type": "string",
					"x-ms-enum": {
						"name": "risk",
						"modelAsString": true
					}
				},
				"shortDescription": {
					"$ref": "#/definitions/ShortDescription",
					"description": "The recommendation short description."
				}
			}
		},
		"ResourceHardwareDetails": {
			"description": "The hardware details used to get potential cost.",
			"type": "object",
			"properties": {
				"resourceId": {
					"description": "The resource Id.",
					"type": "string"
				},
				"size": {
					"description": "The size.",
					"type": "string"
				}
			}
		},
		"ShortDescription": {
			"description": "The short description of recommendation.",
			"type": "object",
			"properties": {
				"problem": {
					"description": "The problem of recommendation.",
					"type": "string"
				},
				"solution": {
					"description": "The solution of the recommendation.",
					"type": "string"
				}
			}
		},
		"CollectionResponse[OperationEntity]": {
			"description": "response entity collection",
			"type": "object",
			"properties": {
				"nextLink": {
					"description": "The next link used to get next page of entities.",
					"type": "string"
				},
				"value": {
					"description": "The list of entities.",
					"type": "array",
					"items": {
						"$ref": "#/definitions/OperationEntity"
					}
				}
			}
		},
		"OperationEntity": {
			"description": "Advisor operation.",
			"type": "object",
			"properties": {
				"name": {
					"description": "The operation Name.",
					"type": "string"
				},
				"display": {
					"$ref": "#/definitions/OperationDisplayInfo",
					"description": "The operation display information."
				}
			}
		},
		"OperationDisplayInfo": {
			"description": "Advisor operation display information.",
			"type": "object",
			"properties": {
				"description": {
					"description": "The operation description.",
					"type": "string"
				},
				"operation": {
					"description": "The operation.",
					"type": "string"
				},
				"provider": {
					"description": "The provider.",
					"type": "string"
				},
				"resource": {
					"description": "The resource name.",
					"type": "string"
				}
			}
		},
		"SuppressionContract": {
			"description": "The suppression contract used for creating/updating suppression",
			"type": "object",
			"properties": {
				"id": {
					"description": "The recommmendation id.",
					"type": "string"
				},
				"suppressionId": {
					"description": "The suppression id.",
					"type": "string"
				},
				"name": {
					"description": "The suppression name.",
					"type": "string"
				},
				"type": {
					"description": "The suppresion type.",
					"type": "string"
				},
				"ttl": {
					"description": "The suppression ttl.",
					"type": "string"
				}
			}
		},
		"Suppression": {
			"description": "The suppression.",
			"type": "object",
			"properties": {
				"subscriptionId": {
					"format": "uuid",
					"description": "The subcription id.",
					"type": "string"
				},
				"suppressionId": {
					"description": "The suppression GUID.",
					"type": "string"
				},
				"ttl": {
					"format": "int32",
					"description": "The suppression ttl.",
					"type": "integer"
				},
				"expirationTimeStamp": {
					"format": "date-time",
					"description": "The suppression expiration timestamp.",
					"type": "string"
				},
				"stableId": {
					"description": "The suppression stableId.",
					"type": "string"
				},
				"id": {
					"format": "uuid",
					"description": "The full path of suppression id.",
					"type": "string"
				}
			}
		}
	},
	"parameters": {
		"subscriptionIdParameter": {
			"name": "subscriptionId",
			"in": "path",
			"description": "Azure Subscription ID.",
			"required": true,
			"type": "string"
		},
		"apiVersionParameter": {
			"name": "api-version",
			"in": "query",
			"description": "Version of the API to be used with the client request.",
			"required": true,
			"type": "string"
		}
	}
}