{
  "swagger": "2.0",
  "info": {
    "version": "2023-08-01-preview",
    "title": "AppConfigurationManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/configurationStores": {
      "get": {
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Lists the configuration stores for a given subscription.",
        "operationId": "ConfigurationStores_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_List": {
            "$ref": "./examples/ConfigurationStoresList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores": {
      "get": {
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Lists the configuration stores for a given resource group.",
        "operationId": "ConfigurationStores_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_ListByResourceGroup": {
            "$ref": "./examples/ConfigurationStoresListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}": {
      "get": {
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Gets the properties of the specified configuration store.",
        "operationId": "ConfigurationStores_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_Get": {
            "$ref": "./examples/ConfigurationStoresGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Creates a configuration store with the specified parameters.",
        "operationId": "ConfigurationStores_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "configStoreCreationParameters",
            "in": "body",
            "description": "The parameters for creating a configuration store.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          },
          "201": {
            "description": "The create request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_Create": {
            "$ref": "./examples/ConfigurationStoresCreate.json"
          },
          "ConfigurationStores_Create_With_Identity": {
            "$ref": "./examples/ConfigurationStoresCreateWithIdentity.json"
          },
          "ConfigurationStores_Create_With_Local_Auth_Disabled": {
            "$ref": "./examples/ConfigurationStoresCreateWithLocalAuthDisabled.json"
          },
          "ConfigurationStores_Create_With_Data_Plane_Proxy": {
            "$ref": "./examples/ConfigurationStoresCreateWithDataPlaneProxy.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Deletes a configuration store.",
        "operationId": "ConfigurationStores_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_Delete": {
            "$ref": "./examples/ConfigurationStoresDelete.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Updates a configuration store with the specified parameters.",
        "operationId": "ConfigurationStores_Update",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "configStoreUpdateParameters",
            "in": "body",
            "description": "The parameters for updating a configuration store.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationStoreUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/ConfigurationStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_Update": {
            "$ref": "./examples/ConfigurationStoresUpdate.json"
          },
          "ConfigurationStores_Update_With_Identity": {
            "$ref": "./examples/ConfigurationStoresUpdateWithIdentity.json"
          },
          "ConfigurationStores_Update_Disable_Local_Auth": {
            "$ref": "./examples/ConfigurationStoresUpdateDisableLocalAuth.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/checkNameAvailability": {
      "post": {
        "tags": [
          "Operations"
        ],
        "description": "Checks whether the configuration store name is available for use.",
        "operationId": "Operations_CheckNameAvailability",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "checkNameAvailabilityParameters",
            "in": "body",
            "description": "The object containing information for the availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_CheckNameAvailable": {
            "$ref": "./examples/CheckNameAvailable.json"
          },
          "ConfigurationStores_CheckNameNotAvailable": {
            "$ref": "./examples/CheckNameNotAvailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/listKeys": {
      "post": {
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Lists the access key for the specified configuration store.",
        "operationId": "ConfigurationStores_ListKeys",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ApiKeyListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_ListKeys": {
            "$ref": "./examples/ConfigurationStoresListKeys.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/regenerateKey": {
      "post": {
        "tags": [
          "ConfigurationStores"
        ],
        "description": "Regenerates an access key for the specified configuration store.",
        "operationId": "ConfigurationStores_RegenerateKey",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "regenerateKeyParameters",
            "in": "body",
            "description": "The parameters for regenerating an access key.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ApiKey"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_RegenerateKey": {
            "$ref": "./examples/ConfigurationStoresRegenerateKey.json"
          }
        }
      }
    },
    "/providers/Microsoft.AppConfiguration/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists the operations available from this provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/OperationDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_ListByConfigurationStore",
        "description": "Lists all private endpoint connections for a configuration store.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_List": {
            "$ref": "./examples/ConfigurationStoresListPrivateEndpointConnections.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_Get",
        "description": "Gets the specified private endpoint connection associated with the configuration store.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_GetConnection": {
            "$ref": "./examples/ConfigurationStoresGetPrivateEndpointConnection.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "operationId": "PrivateEndpointConnections_CreateOrUpdate",
        "description": "Update the state of the specified private endpoint connection associated with the configuration store. This operation cannot be used to create a private endpoint connection. Private endpoint connections must be created with the Network resource provider.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name",
            "required": true,
            "type": "string"
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "description": "The private endpoint connection properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "The create request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnection_Update": {
            "$ref": "./examples/ConfigurationStoresUpdatePrivateEndpointConnection.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes a private endpoint connection.",
        "operationId": "PrivateEndpointConnections_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "privateEndpointConnectionName",
            "in": "path",
            "description": "Private endpoint connection name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateEndpointConnections_Delete": {
            "$ref": "./examples/ConfigurationStoresDeletePrivateEndpointConnection.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "operationId": "PrivateLinkResources_ListByConfigurationStore",
        "description": "Gets the private link resources that need to be created for a configuration store.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_ListGroupIds": {
            "$ref": "./examples/PrivateLinkResourcesListByConfigurationStore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/privateLinkResources/{groupName}": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "operationId": "PrivateLinkResources_Get",
        "description": "Gets a private link resource that need to be created for a configuration store.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "The name of the private link resource group.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkResources_Get": {
            "$ref": "./examples/PrivateLinkResourceGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/keyValues/{keyValueName}": {
      "get": {
        "tags": [
          "KeyValues"
        ],
        "description": "Gets the properties of the specified key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "operationId": "KeyValues_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "keyValueName",
            "in": "path",
            "description": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/KeyValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyValues_Get": {
            "$ref": "./examples/ConfigurationStoresGetKeyValue.json"
          }
        }
      },
      "put": {
        "tags": [
          "KeyValues"
        ],
        "description": "Creates a key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "operationId": "KeyValues_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "keyValueName",
            "in": "path",
            "description": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional.",
            "required": true,
            "type": "string"
          },
          {
            "name": "keyValueParameters",
            "in": "body",
            "description": "The parameters for creating a key-value.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/KeyValue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/KeyValue"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyValues_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationStoresCreateKeyValue.json"
          }
        }
      },
      "delete": {
        "tags": [
          "KeyValues"
        ],
        "description": "Deletes a key-value. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration key-values the data plane API should be used instead.",
        "operationId": "KeyValues_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "keyValueName",
            "in": "path",
            "description": "Identifier of key and label combination. Key and label are joined by $ character. Label is optional.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KeyValues_Delete": {
            "$ref": "./examples/ConfigurationStoresDeleteKeyValue.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/deletedConfigurationStores": {
      "get": {
        "tags": [
          "DeletedConfigurationStores"
        ],
        "operationId": "ConfigurationStores_ListDeleted",
        "description": "Gets information about the deleted configuration stores in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved information about all deleted configuration stores in a subscription.",
            "schema": {
              "$ref": "#/definitions/DeletedConfigurationStoreListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletedConfigurationStores_List": {
            "$ref": "./examples/DeletedConfigurationStoresList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/deletedConfigurationStores/{configStoreName}": {
      "get": {
        "tags": [
          "DeletedConfigurationStores"
        ],
        "operationId": "ConfigurationStores_GetDeleted",
        "description": "Gets a deleted Azure app configuration store.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved information about the deleted configuration store.",
            "schema": {
              "$ref": "#/definitions/DeletedConfigurationStore"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletedConfigurationStores_Get": {
            "$ref": "./examples/DeletedConfigurationStoresGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/deletedConfigurationStores/{configStoreName}/purge": {
      "post": {
        "tags": [
          "DeletedConfigurationStores"
        ],
        "operationId": "ConfigurationStores_PurgeDeleted",
        "x-ms-long-running-operation": true,
        "description": "Permanently deletes the specified configuration store.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Purge a deleted configuration store": {
            "$ref": "./examples/DeletedConfigurationStoresPurge.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppConfiguration/locations/{location}/checkNameAvailability": {
      "post": {
        "tags": [
          "Operations"
        ],
        "description": "Checks whether the configuration store name is available for use.",
        "operationId": "Operations_RegionalCheckNameAvailability",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "checkNameAvailabilityParameters",
            "in": "body",
            "description": "The object containing information for the availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationStores_CheckNameAvailable": {
            "$ref": "./examples/RegionalCheckNameAvailable.json"
          },
          "ConfigurationStores_CheckNameNotAvailable": {
            "$ref": "./examples/RegionalCheckNameNotAvailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas": {
      "get": {
        "tags": [
          "Replicas"
        ],
        "description": "Lists the replicas for a given configuration store.",
        "operationId": "Replicas_ListByConfigurationStore",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "A skip token is used to continue retrieving items after an operation returns a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/ReplicaListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replicas_ListByConfigurationStore": {
            "$ref": "./examples/ConfigurationStoresListReplicas.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/replicas/{replicaName}": {
      "get": {
        "tags": [
          "Replicas"
        ],
        "description": "Gets the properties of the specified replica.",
        "operationId": "Replicas_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the replica.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replicas_Get": {
            "$ref": "./examples/ConfigurationStoresGetReplica.json"
          }
        }
      },
      "put": {
        "tags": [
          "Replicas"
        ],
        "description": "Creates a replica with the specified parameters.",
        "operationId": "Replicas_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the replica.",
            "required": true,
            "type": "string"
          },
          {
            "name": "replicaCreationParameters",
            "in": "body",
            "description": "The parameters for creating a replica.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "201": {
            "description": "The create request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/Replica"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replicas_Create": {
            "$ref": "./examples/ConfigurationStoresCreateReplica.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "Replicas"
        ],
        "description": "Deletes a replica.",
        "operationId": "Replicas_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the replica.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successful; the operation will complete asynchronously.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Replicas_Delete": {
            "$ref": "./examples/ConfigurationStoresDeleteReplica.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppConfiguration/configurationStores/{configStoreName}/snapshots/{snapshotName}": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "description": "Gets the properties of the specified snapshot. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration snapshots the data plane API should be used instead.",
        "operationId": "Snapshots_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/SnapshotNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Snapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Snapshots_Get": {
            "$ref": "./examples/ConfigurationStoresGetSnapshot.json"
          }
        }
      },
      "put": {
        "tags": [
          "Snapshots"
        ],
        "description": "Creates a snapshot. NOTE: This operation is intended for use in ARM Template deployments. For all other scenarios involving App Configuration snapshots the data plane API should be used instead.",
        "operationId": "Snapshots_Create",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigStoreNameParameter"
          },
          {
            "$ref": "#/parameters/SnapshotNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The parameters for creating a snapshot.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Snapshot"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Snapshot"
            }
          },
          "201": {
            "description": "The create request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/Snapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Snapshots_Create": {
            "$ref": "./examples/ConfigurationStoresCreateSnapshot.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "definitions": {
    "ConfigurationStoreListResult": {
      "description": "The result of a request to list configuration stores.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationStore"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "ConfigurationStore": {
      "description": "The configuration store along with all resource properties. The Configuration Store will have all information to begin utilizing it.",
      "required": [
        "location",
        "sku"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "#/definitions/ResourceIdentity",
          "description": "The managed identity information, if configured."
        },
        "properties": {
          "$ref": "#/definitions/ConfigurationStoreProperties",
          "description": "The properties of a configuration store.",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The sku of the configuration store."
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata."
        }
      }
    },
    "ConfigurationStoreProperties": {
      "description": "The properties of a configuration store.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the configuration store.",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "creationDate": {
          "format": "date-time",
          "description": "The creation date of configuration store.",
          "type": "string",
          "readOnly": true
        },
        "endpoint": {
          "description": "The DNS endpoint where the configuration store API will be available.",
          "type": "string",
          "readOnly": true
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "The encryption settings of the configuration store."
        },
        "privateEndpointConnections": {
          "description": "The list of private endpoint connections that are set up for this resource.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnectionReference"
          }
        },
        "publicNetworkAccess": {
          "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "PublicNetworkAccess",
            "modelAsString": true
          }
        },
        "disableLocalAuth": {
          "type": "boolean",
          "default": false,
          "description": "Disables all authentication methods other than AAD authentication."
        },
        "softDeleteRetentionInDays": {
          "type": "integer",
          "format": "int32",
          "default": 7,
          "description": "The amount of time in days that the configuration store will be retained when it is soft deleted."
        },
        "enablePurgeProtection": {
          "type": "boolean",
          "default": false,
          "description": "Property specifying whether protection against purge is enabled for this configuration store."
        },
        "dataPlaneProxy": {
          "$ref": "#/definitions/DataPlaneProxyProperties",
          "description": "Property specifying the configuration of data plane proxy for Azure Resource Manager (ARM)."
        },
        "createMode": {
          "type": "string",
          "description": "Indicates whether the configuration store need to be recovered.",
          "enum": [
            "Recover",
            "Default"
          ],
          "x-ms-enum": {
            "name": "CreateMode",
            "modelAsString": false
          },
          "x-ms-mutability": [
            "create"
          ]
        }
      }
    },
    "EncryptionProperties": {
      "type": "object",
      "description": "The encryption settings for a configuration store.",
      "properties": {
        "keyVaultProperties": {
          "$ref": "#/definitions/KeyVaultProperties",
          "description": "Key vault properties."
        }
      }
    },
    "PrivateEndpointConnectionReference": {
      "type": "object",
      "description": "A reference to a related private endpoint connection.",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "The properties of a private endpoint connection.",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataPlaneProxyProperties": {
      "type": "object",
      "description": "The data plane proxy settings for a configuration store.",
      "properties": {
        "authenticationMode": {
          "description": "The data plane proxy authentication mode. This property manages the authentication mode of request to the data plane resources.",
          "enum": [
            "Local",
            "Pass-through"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "AuthenticationMode",
            "modelAsString": true,
            "values": [
              {
                "value": "Local",
                "description": "The local authentication mode. Users are not required to have data plane permissions if local authentication is not disabled."
              },
              {
                "value": "Pass-through",
                "description": "The pass-through authentication mode. User identity will be passed through from ARM, requiring user to have data plane action permissions (Available via App Configuration Data Owner/ App Configuration Data Reader)."
              }
            ]
          }
        },
        "privateLinkDelegation": {
          "description": "The data plane proxy private link delegation. This property manages if a request from delegated ARM private link is allowed when the data plane resource requires private link.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "PrivateLinkDelegation",
            "modelAsString": true,
            "values": [
              {
                "value": "Enabled",
                "description": "ARM private endpoint is required if the resource requires private link."
              },
              {
                "value": "Disabled",
                "description": "Request is denied if the resource requires private link."
              }
            ]
          }
        }
      }
    },
    "KeyVaultProperties": {
      "type": "object",
      "description": "Settings concerning key vault encryption for a configuration store.",
      "properties": {
        "keyIdentifier": {
          "description": "The URI of the key vault key used to encrypt data.",
          "type": "string"
        },
        "identityClientId": {
          "description": "The client id of the identity which will be used to access key vault.",
          "type": "string"
        }
      }
    },
    "ConfigurationStoreUpdateParameters": {
      "description": "The parameters for updating a configuration store.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationStorePropertiesUpdateParameters",
          "description": "The properties for updating a configuration store.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/ResourceIdentity",
          "description": "The managed identity information for the configuration store."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the configuration store."
        },
        "tags": {
          "description": "The ARM resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ConfigurationStorePropertiesUpdateParameters": {
      "description": "The properties for updating a configuration store.",
      "type": "object",
      "properties": {
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "The encryption settings of the configuration store."
        },
        "disableLocalAuth": {
          "type": "boolean",
          "description": "Disables all authentication methods other than AAD authentication."
        },
        "publicNetworkAccess": {
          "description": "Control permission for data plane traffic coming from public networks while private endpoint is enabled.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "PublicNetworkAccess",
            "modelAsString": true
          }
        },
        "enablePurgeProtection": {
          "type": "boolean",
          "description": "Property specifying whether protection against purge is enabled for this configuration store."
        },
        "dataPlaneProxy": {
          "$ref": "#/definitions/DataPlaneProxyProperties",
          "description": "Property specifying the configuration of data plane proxy for Azure Resource Manager (ARM)."
        }
      }
    },
    "CheckNameAvailabilityParameters": {
      "description": "Parameters used for checking whether a resource name is available.",
      "required": [
        "name",
        "type"
      ],
      "type": "object",
      "properties": {
        "name": {
          "description": "The name to check for availability.",
          "type": "string"
        },
        "type": {
          "description": "The resource type to check for name availability.",
          "enum": [
            "Microsoft.AppConfiguration/configurationStores"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ConfigurationResourceType",
            "modelAsString": true
          }
        }
      }
    },
    "NameAvailabilityStatus": {
      "description": "The result of a request to check the availability of a resource name.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "The value indicating whether the resource name is available.",
          "type": "boolean",
          "readOnly": true
        },
        "message": {
          "description": "If any, the error message that provides more detail for the reason that the name is not available.",
          "type": "string",
          "readOnly": true
        },
        "reason": {
          "description": "If any, the reason that the name is not available.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ApiKeyListResult": {
      "description": "The result of a request to list API keys.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApiKey"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "ApiKey": {
      "description": "An API key used for authenticating with a configuration store endpoint.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The key ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "A name for the key describing its usage.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The value of the key that is used for authentication purposes.",
          "type": "string",
          "readOnly": true
        },
        "connectionString": {
          "description": "A connection string that can be used by supporting clients for authentication.",
          "type": "string",
          "readOnly": true
        },
        "lastModified": {
          "format": "date-time",
          "description": "The last time any of the key's properties were modified.",
          "type": "string",
          "readOnly": true
        },
        "readOnly": {
          "description": "Whether this key can only be used for read operations.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "RegenerateKeyParameters": {
      "description": "The parameters used to regenerate an API key.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The id of the key to regenerate.",
          "type": "string"
        }
      }
    },
    "KeyValueListResult": {
      "description": "The result of a request to list key-values.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/KeyValue"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "KeyValue": {
      "description": "The key-value resource along with all resource properties.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/KeyValueProperties",
          "description": "All key-value properties.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-azure-resource": true
    },
    "KeyValueProperties": {
      "description": "All key-value properties.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The primary identifier of a key-value.\r\nThe key is used in unison with the label to uniquely identify a key-value.",
          "type": "string",
          "readOnly": true
        },
        "label": {
          "description": "A value used to group key-values.\r\nThe label is used in unison with the key to uniquely identify a key-value.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "The value of the key-value.",
          "type": "string"
        },
        "contentType": {
          "description": "The content type of the key-value's value.\r\nProviding a proper content-type can enable transformations of values when they are retrieved by applications.",
          "type": "string"
        },
        "eTag": {
          "description": "An ETag indicating the state of a key-value within a configuration store.",
          "type": "string",
          "readOnly": true
        },
        "lastModified": {
          "format": "date-time",
          "description": "The last time a modifying operation was performed on the given key-value.",
          "type": "string",
          "readOnly": true
        },
        "locked": {
          "description": "A value indicating whether the key-value is locked.\r\nA locked key-value may not be modified until it is unlocked.",
          "type": "boolean",
          "readOnly": true
        },
        "tags": {
          "description": "A dictionary of tags that can help identify what a key-value may be applicable for.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "OperationDefinitionListResult": {
      "description": "The result of a request to list configuration store operations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationDefinition"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "OperationDefinition": {
      "description": "The definition of a configuration store operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "$ref": "#/definitions/OperationDefinitionDisplay",
          "description": "The display information for the configuration store operation."
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/OperationProperties",
          "description": "Properties of the operation"
        }
      }
    },
    "OperationDefinitionDisplay": {
      "description": "The display information for a configuration store operation.",
      "type": "object",
      "properties": {
        "provider": {
          "description": "The resource provider name: Microsoft App Configuration.\"",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "The resource on which the operation is performed.",
          "type": "string"
        },
        "operation": {
          "description": "The operation that users can perform.",
          "type": "string"
        },
        "description": {
          "description": "The description for the operation.",
          "type": "string"
        }
      }
    },
    "OperationProperties": {
      "description": "Extra Operation properties",
      "type": "object",
      "properties": {
        "serviceSpecification": {
          "$ref": "#/definitions/ServiceSpecification",
          "description": "Service specifications of the operation"
        }
      }
    },
    "ServiceSpecification": {
      "description": "Service specification payload",
      "type": "object",
      "properties": {
        "logSpecifications": {
          "description": "Specifications of the Log for Azure Monitoring",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogSpecification"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "metricSpecifications": {
          "description": "Specifications of the Metrics for Azure Monitoring",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricSpecification"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "LogSpecification": {
      "description": "Specifications of the Log for Azure Monitoring",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the log",
          "type": "string"
        },
        "displayName": {
          "description": "Localized friendly display name of the log",
          "type": "string"
        },
        "blobDuration": {
          "description": "Blob duration of the log",
          "type": "string"
        }
      }
    },
    "MetricSpecification": {
      "description": "Specifications of the Metrics for Azure Monitoring",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the metric",
          "type": "string"
        },
        "displayName": {
          "description": "Localized friendly display name of the metric",
          "type": "string"
        },
        "displayDescription": {
          "description": "Localized friendly description of the metric",
          "type": "string"
        },
        "unit": {
          "description": "Unit that makes sense for the metric",
          "type": "string"
        },
        "aggregationType": {
          "description": "Only provide one value for this field. Valid values: Average, Minimum, Maximum, Total, Count.",
          "type": "string"
        },
        "internalMetricName": {
          "description": "Internal metric name.",
          "type": "string"
        },
        "dimensions": {
          "description": "Dimensions of the metric",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDimension"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "fillGapWithZero": {
          "description": "Optional. If set to true, then zero will be returned for time duration where no metric is emitted/published.",
          "type": "boolean"
        }
      }
    },
    "MetricDimension": {
      "description": "Specifications of the Dimension of metrics",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the dimension",
          "type": "string"
        },
        "displayName": {
          "description": "Localized friendly display name of the dimension",
          "type": "string"
        },
        "internalName": {
          "description": "Internal name of the dimension.",
          "type": "string"
        }
      }
    },
    "ResourceIdentity": {
      "type": "object",
      "description": "An identity that can be associated with a resource.",
      "properties": {
        "type": {
          "description": "The type of managed identity used. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user-assigned identities. The type 'None' will remove any identities.",
          "enum": [
            "None",
            "SystemAssigned",
            "UserAssigned",
            "SystemAssigned, UserAssigned"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "IdentityType",
            "modelAsString": true
          }
        },
        "userAssignedIdentities": {
          "description": "The list of user-assigned identities associated with the resource. The user-assigned identity dictionary keys will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/UserIdentity"
          }
        },
        "principalId": {
          "description": "The principal id of the identity. This property will only be provided for a system-assigned identity.",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "The tenant id associated with the resource's identity. This property will only be provided for a system-assigned identity.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UserIdentity": {
      "type": "object",
      "description": "A resource identity that is managed by the user of the service.",
      "properties": {
        "principalId": {
          "description": "The principal ID of the user-assigned identity.",
          "type": "string",
          "readOnly": true
        },
        "clientId": {
          "description": "The client ID of the user-assigned identity.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Sku": {
      "type": "object",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "description": "The SKU name of the configuration store.",
          "type": "string"
        }
      },
      "description": "Describes a configuration store SKU."
    },
    "ErrorDetails": {
      "type": "object",
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "additionalInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "x-ms-identifiers": [],
          "description": "The error additional info."
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The additional info type."
        },
        "info": {
          "readOnly": true,
          "type": "object",
          "description": "The additional info."
        }
      },
      "description": "The resource management error additional info."
    },
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "A list of private endpoint connections",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "PrivateEndpointConnection": {
      "description": "A private endpoint connection",
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "The properties of a private endpoint.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-azure-resource": true
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "description": "Properties of a private endpoint connection.",
      "properties": {
        "provisioningState": {
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "description": "The provisioning status of the private endpoint connection.",
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "The resource of private endpoint."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        }
      },
      "required": [
        "privateLinkServiceConnectionState"
      ]
    },
    "PrivateEndpoint": {
      "type": "object",
      "description": "Private endpoint which a connection belongs to.",
      "properties": {
        "id": {
          "description": "The resource Id for private endpoint",
          "type": "string"
        }
      }
    },
    "PrivateLinkServiceConnectionState": {
      "description": "The state of a private link service connection.",
      "type": "object",
      "properties": {
        "status": {
          "enum": [
            "Pending",
            "Approved",
            "Rejected",
            "Disconnected"
          ],
          "type": "string",
          "description": "The private link service connection status.",
          "x-ms-enum": {
            "name": "ConnectionStatus",
            "modelAsString": true
          }
        },
        "description": {
          "type": "string",
          "description": "The private link service connection description."
        },
        "actionsRequired": {
          "enum": [
            "None",
            "Recreate"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Any action that is required beyond basic workflow (approve/ reject/ disconnect)",
          "x-ms-enum": {
            "name": "ActionsRequired",
            "modelAsString": true
          }
        }
      }
    },
    "PrivateLinkResourceListResult": {
      "type": "object",
      "description": "A list of private link resources.",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "A resource that supports private link capabilities.",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "Private link resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateLinkResourceProperties": {
      "type": "object",
      "properties": {
        "groupId": {
          "description": "The private link resource group id.",
          "type": "string",
          "readOnly": true
        },
        "requiredMembers": {
          "description": "The private link resource required member names.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredZoneNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "The list of required DNS zone names of the private link resource."
        }
      },
      "description": "Properties of a private link resource."
    },
    "DeletedConfigurationStore": {
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The resource ID for the deleted configuration store."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the configuration store."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type of the configuration store."
        },
        "properties": {
          "$ref": "#/definitions/DeletedConfigurationStoreProperties",
          "description": "Properties of the deleted configuration store",
          "x-ms-client-flatten": true
        }
      },
      "description": "Deleted configuration store information with extended details."
    },
    "DeletedConfigurationStoreProperties": {
      "type": "object",
      "properties": {
        "configurationStoreId": {
          "readOnly": true,
          "type": "string",
          "description": "The resource id of the original configuration store."
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "The location of the original configuration store."
        },
        "deletionDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The deleted date."
        },
        "scheduledPurgeDate": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The scheduled purged date."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags of the original configuration store."
        },
        "purgeProtectionEnabled": {
          "readOnly": true,
          "type": "boolean",
          "description": "Purge protection status of the original configuration store."
        }
      },
      "description": "Properties of the deleted configuration store."
    },
    "DeletedConfigurationStoreListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeletedConfigurationStore"
          },
          "description": "The list of deleted configuration store."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of deleted configuration stores."
        }
      },
      "description": "List of deleted configuration stores"
    },
    "ReplicaListResult": {
      "description": "The result of a request to list replicas.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Replica"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "Replica": {
      "description": "The replica resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the replica.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The location of the replica.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/ReplicaProperties",
          "description": "All replica properties.",
          "x-ms-client-flatten": true,
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "ReplicaProperties": {
      "description": "All replica properties.",
      "type": "object",
      "properties": {
        "endpoint": {
          "description": "The URI of the replica where the replica API will be available.",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "description": "The provisioning state of the replica.",
          "enum": [
            "Creating",
            "Succeeded",
            "Deleting",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ReplicaProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "Snapshot": {
      "description": "The snapshot resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the snapshot.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/SnapshotProperties",
          "description": "All snapshot properties.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-azure-resource": true
    },
    "SnapshotProperties": {
      "description": "All snapshot properties.",
      "type": "object",
      "required": [
        "filters"
      ],
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the snapshot.",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The current status of the snapshot.",
          "enum": [
            "Provisioning",
            "Ready",
            "Archived",
            "Failed"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "SnapshotStatus",
            "modelAsString": true
          }
        },
        "filters": {
          "description": "A list of filters used to filter the key-values included in the snapshot.",
          "type": "array",
          "minItems": 1,
          "maxItems": 3,
          "items": {
            "$ref": "#/definitions/KeyValueFilter"
          },
          "x-ms-identifiers": []
        },
        "compositionType": {
          "description": "The composition type describes how the key-values within the snapshot are composed. The 'key' composition type ensures there are no two key-values containing the same key. The 'key_label' composition type ensures there are no two key-values containing the same key and label.",
          "type": "string",
          "enum": [
            "Key",
            "Key_Label"
          ],
          "x-ms-enum": {
            "name": "CompositionType",
            "modelAsString": true
          }
        },
        "created": {
          "description": "The time that the snapshot was created.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "expires": {
          "description": "The time that the snapshot will expire.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "retentionPeriod": {
          "description": "The amount of time, in seconds, that a snapshot will remain in the archived state before expiring. This property is only writable during the creation of a snapshot. If not specified, the default lifetime of key-value revisions will be used.",
          "type": "integer",
          "minimum": 3600,
          "maximum": 7776000,
          "format": "int64",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "size": {
          "description": "The size in bytes of the snapshot.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "itemsCount": {
          "description": "The amount of key-values in the snapshot.",
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "tags": {
          "description": "The tags of the snapshot. NOTE: These are data plane tags, not ARM tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "description": "A value representing the current state of the snapshot.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "KeyValueFilter": {
      "description": "Enables filtering of key-values.",
      "type": "object",
      "required": [
        "key"
      ],
      "properties": {
        "key": {
          "description": "Filters key-values by their key field.",
          "type": "string"
        },
        "label": {
          "description": "Filters key-values by their label field.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Microsoft Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group to which the container registry belongs.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ConfigStoreNameParameter": {
      "name": "configStoreName",
      "in": "path",
      "description": "The name of the configuration store.",
      "required": true,
      "type": "string",
      "maxLength": 50,
      "minLength": 5,
      "pattern": "^[a-zA-Z0-9_-]*$",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The client API version.",
      "required": true,
      "type": "string"
    },
    "LocationParameter": {
      "name": "location",
      "in": "path",
      "description": "The location in which uniqueness will be verified.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SnapshotNameParameter": {
      "name": "snapshotName",
      "in": "path",
      "description": "The name of the snapshot.",
      "required": true,
      "type": "string",
      "pattern": "^[^\\x00-\\x1F\\x7F]+$",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
