{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "description": "The Compute Management Client.",
    "version": "2021-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Compute/operations": {
      "get": {
        "tags": [
          "ComputeOperations"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of compute operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ComputeOperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/compute/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/compute/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}": {
      "put": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_CreateOrUpdate",
        "description": "Create or update an availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the availability set."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            },
            "description": "Parameters supplied to the Create Availability Set operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create an availability set.": {
            "$ref": "./examples/compute/CreateAnAvailabilitySet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_Update",
        "description": "Update an availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the availability set."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySetUpdate"
            },
            "description": "Parameters supplied to the Update Availability Set operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_Update_MaximumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_Update_MaximumSet_Gen.json"
          },
          "AvailabilitySets_Update_MinimumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_Delete",
        "description": "Delete an availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the availability set."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_Delete_MaximumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_Delete_MaximumSet_Gen.json"
          },
          "AvailabilitySets_Delete_MinimumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_Get",
        "description": "Retrieves information about an availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the availability set."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "AvailabilitySets_Get_MaximumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_Get_MaximumSet_Gen.json"
          },
          "AvailabilitySets_Get_MinimumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets": {
      "get": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_ListBySubscription",
        "description": "Lists all availability sets in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply to the operation. Allowed values are 'instanceView'."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List availability sets in a subscription.": {
            "$ref": "./examples/compute/ListAvailabilitySetsInASubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets": {
      "get": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_List",
        "description": "Lists all availability sets in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvailabilitySets_List_MaximumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_List_MaximumSet_Gen.json"
          },
          "AvailabilitySets_List_MinimumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes": {
      "get": {
        "tags": [
          "AvailabilitySets"
        ],
        "operationId": "AvailabilitySets_ListAvailableSizes",
        "description": "Lists all available virtual machine sizes that can be used to create a new virtual machine in an existing availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the availability set."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineSizeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "AvailabilitySets_ListAvailableSizes_MaximumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_ListAvailableSizes_MaximumSet_Gen.json"
          },
          "AvailabilitySets_ListAvailableSizes_MinimumSet_Gen": {
            "$ref": "./examples/compute/AvailabilitySets_ListAvailableSizes_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/proximityPlacementGroups/{proximityPlacementGroupName}": {
      "put": {
        "tags": [
          "ProximityPlacementGroups"
        ],
        "operationId": "ProximityPlacementGroups_CreateOrUpdate",
        "description": "Create or update a proximity placement group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "proximityPlacementGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the proximity placement group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroup"
            },
            "description": "Parameters supplied to the Create Proximity Placement Group operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a proximity placement group.": {
            "$ref": "./examples/compute/CreateOrUpdateAProximityPlacementGroup.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ProximityPlacementGroups"
        ],
        "operationId": "ProximityPlacementGroups_Update",
        "description": "Update a proximity placement group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "proximityPlacementGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the proximity placement group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroupUpdate"
            },
            "description": "Parameters supplied to the Update Proximity Placement Group operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a proximity placement group.": {
            "$ref": "./examples/compute/PatchAProximityPlacementGroup.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ProximityPlacementGroups"
        ],
        "operationId": "ProximityPlacementGroups_Delete",
        "description": "Delete a proximity placement group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "proximityPlacementGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the proximity placement group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a proximity placement group.": {
            "$ref": "./examples/compute/DeleteAProximityPlacementGroup.json"
          }
        }
      },
      "get": {
        "tags": [
          "ProximityPlacementGroups"
        ],
        "operationId": "ProximityPlacementGroups_Get",
        "description": "Retrieves information about a proximity placement group .",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "proximityPlacementGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the proximity placement group."
          },
          {
            "name": "includeColocationStatus",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "includeColocationStatus=true enables fetching the colocation status of all the resources in the proximity placement group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a proximity placement group.": {
            "$ref": "./examples/compute/GetAProximityPlacementGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/proximityPlacementGroups": {
      "get": {
        "tags": [
          "ProximityPlacementGroups"
        ],
        "operationId": "ProximityPlacementGroups_ListBySubscription",
        "description": "Lists all proximity placement groups in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Create a proximity placement group.": {
            "$ref": "./examples/compute/ListProximityPlacementGroupsInASubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/proximityPlacementGroups": {
      "get": {
        "tags": [
          "ProximityPlacementGroups"
        ],
        "operationId": "ProximityPlacementGroups_ListByResourceGroup",
        "description": "Lists all proximity placement groups in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Create a proximity placement group.": {
            "$ref": "./examples/compute/ListProximityPlacementGroupsInAResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}": {
      "put": {
        "tags": [
          "DedicatedHostGroups"
        ],
        "operationId": "DedicatedHostGroups_CreateOrUpdate",
        "description": "Create or update a dedicated host group. For details of Dedicated Host and Dedicated Host Groups please see [Dedicated Host Documentation] (https://go.microsoft.com/fwlink/?linkid=2082596)",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            },
            "description": "Parameters supplied to the Create Dedicated Host Group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a dedicated host group.": {
            "$ref": "./examples/compute/CreateOrUpdateADedicatedHostGroup.json"
          }
        }
      },
      "patch": {
        "tags": [
          "DedicatedHostGroups"
        ],
        "operationId": "DedicatedHostGroups_Update",
        "description": "Update an dedicated host group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupUpdate"
            },
            "description": "Parameters supplied to the Update Dedicated Host Group operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHostGroups_Update_MaximumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHostGroups_Update_MaximumSet_Gen.json"
          },
          "DedicatedHostGroups_Update_MinimumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHostGroups_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DedicatedHostGroups"
        ],
        "operationId": "DedicatedHostGroups_Delete",
        "description": "Delete a dedicated host group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHostGroups_Delete_MaximumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHostGroups_Delete_MaximumSet_Gen.json"
          },
          "DedicatedHostGroups_Delete_MinimumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHostGroups_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "DedicatedHostGroups"
        ],
        "operationId": "DedicatedHostGroups_Get",
        "description": "Retrieves information about a dedicated host group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the dedicated hosts under the dedicated host group. 'UserData' is not supported for dedicated host group.",
            "enum": [
              "instanceView",
              "userData"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": false
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a dedicated host group.": {
            "$ref": "./examples/compute/GetADedicatedHostGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups": {
      "get": {
        "tags": [
          "DedicatedHostGroups"
        ],
        "operationId": "DedicatedHostGroups_ListByResourceGroup",
        "description": "Lists all of the dedicated host groups in the specified resource group. Use the nextLink property in the response to get the next page of dedicated host groups.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DedicatedHostGroups_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHostGroups_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "DedicatedHostGroups_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHostGroups_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/hostGroups": {
      "get": {
        "tags": [
          "DedicatedHostGroups"
        ],
        "operationId": "DedicatedHostGroups_ListBySubscription",
        "description": "Lists all of the dedicated host groups in the subscription. Use the nextLink property in the response to get the next page of dedicated host groups.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DedicatedHostGroups_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHostGroups_ListBySubscription_MaximumSet_Gen.json"
          },
          "DedicatedHostGroups_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHostGroups_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}": {
      "put": {
        "tags": [
          "DedicatedHosts"
        ],
        "operationId": "DedicatedHosts_CreateOrUpdate",
        "description": "Create or update a dedicated host .",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host ."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            },
            "description": "Parameters supplied to the Create Dedicated Host."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a dedicated host .": {
            "$ref": "./examples/compute/CreateOrUpdateADedicatedHost.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "DedicatedHosts"
        ],
        "operationId": "DedicatedHosts_Update",
        "description": "Update an dedicated host .",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host ."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHostUpdate"
            },
            "description": "Parameters supplied to the Update Dedicated Host operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DedicatedHosts_Update_MaximumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHosts_Update_MaximumSet_Gen.json"
          },
          "DedicatedHosts_Update_MinimumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHosts_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DedicatedHosts"
        ],
        "operationId": "DedicatedHosts_Delete",
        "description": "Delete a dedicated host.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DedicatedHosts_Delete_MaximumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHosts_Delete_MaximumSet_Gen.json"
          },
          "DedicatedHosts_Delete_MinimumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHosts_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "DedicatedHosts"
        ],
        "operationId": "DedicatedHosts_Get",
        "description": "Retrieves information about a dedicated host.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "name": "hostName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the dedicated host. 'UserData' is not supported for dedicated host.",
            "enum": [
              "instanceView",
              "userData"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": false
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a dedicated host.": {
            "$ref": "./examples/compute/GetADedicatedHost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts": {
      "get": {
        "tags": [
          "DedicatedHost"
        ],
        "operationId": "DedicatedHosts_ListByHostGroup",
        "description": "Lists all of the dedicated hosts in the specified dedicated host group. Use the nextLink property in the response to get the next page of dedicated hosts.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the dedicated host group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DedicatedHosts_ListByHostGroup_MaximumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHosts_ListByHostGroup_MaximumSet_Gen.json"
          },
          "DedicatedHosts_ListByHostGroup_MinimumSet_Gen": {
            "$ref": "./examples/compute/DedicatedHosts_ListByHostGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/sshPublicKeys": {
      "get": {
        "tags": [
          "SshPublicKeys"
        ],
        "operationId": "SshPublicKeys_ListBySubscription",
        "description": "Lists all of the SSH public keys in the subscription. Use the nextLink property in the response to get the next page of SSH public keys.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeysGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SshPublicKeys_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/compute/SshPublicKeys_ListBySubscription_MaximumSet_Gen.json"
          },
          "SshPublicKeys_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/compute/SshPublicKeys_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys": {
      "get": {
        "tags": [
          "SshPublicKeys"
        ],
        "operationId": "SshPublicKeys_ListByResourceGroup",
        "description": "Lists all of the SSH public keys in the specified resource group. Use the nextLink property in the response to get the next page of SSH public keys.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeysGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SshPublicKeys_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/compute/SshPublicKeys_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "SshPublicKeys_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/compute/SshPublicKeys_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}": {
      "put": {
        "tags": [
          "SshPublicKeys"
        ],
        "operationId": "SshPublicKeys_Create",
        "description": "Creates a new SSH public key resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the SSH public key."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            },
            "description": "Parameters supplied to create the SSH public key."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a new SSH public key resource.": {
            "$ref": "./examples/compute/CreateAnSshPublicKey.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SshPublicKeys"
        ],
        "operationId": "SshPublicKeys_Update",
        "description": "Updates a new SSH public key resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the SSH public key."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SshPublicKeyUpdateResource"
            },
            "description": "Parameters supplied to update the SSH public key."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SshPublicKeys_Update_MaximumSet_Gen": {
            "$ref": "./examples/compute/SshPublicKeys_Update_MaximumSet_Gen.json"
          },
          "SshPublicKeys_Update_MinimumSet_Gen": {
            "$ref": "./examples/compute/SshPublicKeys_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SshPublicKeys"
        ],
        "operationId": "SshPublicKeys_Delete",
        "description": "Delete an SSH public key.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the SSH public key."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SshPublicKeys_Delete_MaximumSet_Gen": {
            "$ref": "./examples/compute/SshPublicKeys_Delete_MaximumSet_Gen.json"
          },
          "SshPublicKeys_Delete_MinimumSet_Gen": {
            "$ref": "./examples/compute/SshPublicKeys_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "SshPublicKeys"
        ],
        "operationId": "SshPublicKeys_Get",
        "description": "Retrieves information about an SSH public key.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the SSH public key."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get an ssh public key.": {
            "$ref": "./examples/compute/GetAnSshPublicKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}/generateKeyPair": {
      "post": {
        "tags": [
          "SshPublicKeys"
        ],
        "operationId": "SshPublicKeys_GenerateKeyPair",
        "description": "Generates and returns a public/private key pair and populates the SSH public key resource with the public key. The length of the key will be 3072 bits. This operation can only be performed once per SSH public key resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the SSH public key."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyGenerateKeyPairResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Generate an SSH key pair.": {
            "$ref": "./examples/compute/GenerateSshKeyPair.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}": {
      "get": {
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "operationId": "VirtualMachineExtensionImages_Get",
        "description": "Gets a virtual machine extension image.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtensionImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineExtensionImages_Get_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensionImages_Get_MaximumSet_Gen.json"
          },
          "VirtualMachineExtensionImages_Get_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensionImages_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types": {
      "get": {
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "operationId": "VirtualMachineExtensionImages_ListTypes",
        "description": "Gets a list of virtual machine extension image types.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineExtensionImage"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineExtensionImages_ListTypes_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensionImages_ListTypes_MaximumSet_Gen.json"
          },
          "VirtualMachineExtensionImages_ListTypes_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensionImages_ListTypes_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions": {
      "get": {
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "operationId": "VirtualMachineExtensionImages_ListVersions",
        "description": "Gets a list of virtual machine extension image versions.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineExtensionImage"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-odata": "#/definitions/VirtualMachineExtensionImage",
        "x-ms-examples": {
          "VirtualMachineExtensionImages_ListVersions_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensionImages_ListVersions_MaximumSet_Gen.json"
          },
          "VirtualMachineExtensionImages_ListVersions_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensionImages_ListVersions_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions/{vmExtensionName}": {
      "put": {
        "tags": [
          "VirtualMachineExtensions"
        ],
        "operationId": "VirtualMachineExtensions_CreateOrUpdate",
        "description": "The operation to create or update the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine where the extension should be created or updated."
          },
          {
            "name": "vmExtensionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine extension."
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            },
            "description": "Parameters supplied to the Create Virtual Machine Extension operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VirtualMachineExtensions_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensions_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualMachineExtensions_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensions_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "VirtualMachineExtensions"
        ],
        "operationId": "VirtualMachineExtensions_Update",
        "description": "The operation to update the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine where the extension should be updated."
          },
          {
            "name": "vmExtensionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine extension."
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtensionUpdate"
            },
            "description": "Parameters supplied to the Update Virtual Machine Extension operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update VM extension.": {
            "$ref": "./examples/compute/UpdateVMExtension.json"
          }
        }
      },
      "delete": {
        "tags": [
          "VirtualMachineExtensions"
        ],
        "operationId": "VirtualMachineExtensions_Delete",
        "description": "The operation to delete the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine where the extension should be deleted."
          },
          {
            "name": "vmExtensionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine extension."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VirtualMachineExtensions_Delete_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensions_Delete_MaximumSet_Gen.json"
          },
          "VirtualMachineExtensions_Delete_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensions_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "VirtualMachineExtensions"
        ],
        "operationId": "VirtualMachineExtensions_Get",
        "description": "The operation to get the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine containing the extension."
          },
          {
            "name": "vmExtensionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine extension."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply on the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineExtensions_Get_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensions_Get_MaximumSet_Gen.json"
          },
          "VirtualMachineExtensions_Get_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensions_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions": {
      "get": {
        "tags": [
          "VirtualMachineExtensions"
        ],
        "operationId": "VirtualMachineExtensions_List",
        "description": "The operation to get all extensions of a Virtual Machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "vmName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the virtual machine containing the extension."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply on the operation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineExtensions_List_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensions_List_MaximumSet_Gen.json"
          },
          "VirtualMachineExtensions_List_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineExtensions_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_Get",
        "description": "Gets a virtual machine image.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "name": "skus",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU."
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU version."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImages_Get_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_Get_MaximumSet_Gen.json"
          },
          "VirtualMachineImages_Get_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_List",
        "description": "Gets a list of all virtual machine image versions for the specified location, publisher, offer, and SKU.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "name": "skus",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImages_List_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_List_MaximumSet_Gen.json"
          },
          "VirtualMachineImages_List_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_ListOffers",
        "description": "Gets a list of virtual machine image offers for the specified location and publisher.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImages_ListOffers_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_ListOffers_MaximumSet_Gen.json"
          },
          "VirtualMachineImages_ListOffers_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_ListOffers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_ListPublishers",
        "description": "Gets a list of virtual machine image publishers for the specified Azure location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImages_ListPublishers_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_ListPublishers_MaximumSet_Gen.json"
          },
          "VirtualMachineImages_ListPublishers_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_ListPublishers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImages_ListSkus",
        "description": "Gets a list of virtual machine image SKUs for the specified location, publisher, and offer.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImages_ListSkus_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_ListSkus_MaximumSet_Gen.json"
          },
          "VirtualMachineImages_ListSkus_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImages_ListSkus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImagesEdgeZone_Get",
        "description": "Gets a virtual machine image in an edge zone.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "edgeZone",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the edge zone."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "name": "skus",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU."
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU version."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImagesEdgeZone_Get_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_Get_MaximumSet_Gen.json"
          },
          "VirtualMachineImagesEdgeZone_Get_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImagesEdgeZone_List",
        "description": "Gets a list of all virtual machine image versions for the specified location, edge zone, publisher, offer, and SKU.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "edgeZone",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the edge zone."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "name": "skus",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image SKU."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The expand expression to apply on the operation."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "An integer value specifying the number of images to return that matches supplied values."
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Specifies the order of the results returned. Formatted as an OData query."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImagesEdgeZone_List_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_List_MaximumSet_Gen.json"
          },
          "VirtualMachineImagesEdgeZone_List_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImagesEdgeZone_ListOffers",
        "description": "Gets a list of virtual machine image offers for the specified location, edge zone and publisher.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "edgeZone",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the edge zone."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImagesEdgeZone_ListOffers_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_ListOffers_MaximumSet_Gen.json"
          },
          "VirtualMachineImagesEdgeZone_ListOffers_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_ListOffers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImagesEdgeZone_ListPublishers",
        "description": "Gets a list of virtual machine image publishers for the specified Azure location and edge zone.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "edgeZone",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the edge zone."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImagesEdgeZone_ListPublishers_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_ListPublishers_MaximumSet_Gen.json"
          },
          "VirtualMachineImagesEdgeZone_ListPublishers_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_ListPublishers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus": {
      "get": {
        "tags": [
          "VirtualMachineImages"
        ],
        "operationId": "VirtualMachineImagesEdgeZone_ListSkus",
        "description": "Gets a list of virtual machine image SKUs for the specified location, edge zone, publisher, and offer.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of a supported Azure region."
          },
          {
            "name": "edgeZone",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the edge zone."
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher."
          },
          {
            "name": "offer",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "A valid image publisher offer."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineImagesEdgeZone_ListSkus_MaximumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_ListSkus_MaximumSet_Gen.json"
          },
          "VirtualMachineImagesEdgeZone_ListSkus_MinimumSet_Gen": {
            "$ref": "./examples/compute/VirtualMachineImagesEdgeZone_ListSkus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages": {
      "get": {
        "tags": [
          "Usage"
        ],
        "operationId": "Usage_List",
        "description": "Gets, for the specified location, the current compute resource usage information as well as the limits for compute resources under the subscription.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location for which resource usage is queried.",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsagesResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Usage_List_MaximumSet_Gen": {
            "$ref": "./examples/compute/Usage_List_MaximumSet_Gen.json"
          },
          "Usage_List_MinimumSet_Gen": {
            "$ref": "./examples/compute/Usage_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines": {
      "get": {
        "tags": [
          "VirtualMachines"
        ],
        "operationId": "VirtualMachines_ListByLocation",
        "description": "Gets all the virtual machines under the specified subscription for the specified location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location for which virtual machines under the subscription are queried.",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Lists all the virtual machines under the specified subscription for the specified location.": {
            "$ref": "./examples/compute/ListVirtualMachinesInASubscriptionByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachineScaleSets": {
      "get": {
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "operationId": "VirtualMachineScaleSets_ListByLocation",
        "description": "Gets all the VM scale sets under the specified subscription for the specified location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location for which VM scale sets under the subscription are queried.",
            "pattern": "^[-\\w\\._]+$"
          },
          {
[...]
