{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "version": "2024-07-01",
    "description": "The Compute Management Client."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/capacityReservationGroups": {
      "get": {
        "operationId": "CapacityReservationGroups_ListBySubscription",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "Lists all of the capacity reservation groups in the subscription. Use the nextLink property in the response to get the next page of capacity reservation groups.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.",
            "required": false,
            "type": "string",
            "enum": [
              "virtualMachineScaleSetVMs/$ref",
              "virtualMachines/$ref"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForGetCapacityReservationGroups",
              "modelAsString": true
            }
          },
          {
            "name": "resourceIdsOnly",
            "in": "query",
            "description": "The query option to fetch Capacity Reservation Group Resource Ids. <br> 'CreatedInSubscription' enables fetching Resource Ids for all capacity reservation group resources created in the subscription. <br> 'SharedWithSubscription' enables fetching Resource Ids for all capacity reservation group resources shared with the subscription. <br> 'All' enables fetching Resource Ids for all capacity reservation group resources shared with the subscription and created in the subscription.",
            "required": false,
            "type": "string",
            "enum": [
              "CreatedInSubscription",
              "SharedWithSubscription",
              "All"
            ],
            "x-ms-enum": {
              "name": "ResourceIdOptionsForGetCapacityReservationGroups",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List capacity reservation groups in subscription.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_ListBySubscription.json"
          },
          "List capacity reservation groups with resource Ids only in subscription.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_ListBySubscriptionWithResourceIdsQuery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups": {
      "get": {
        "operationId": "CapacityReservationGroups_ListByResourceGroup",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "Lists all of the capacity reservation groups in the specified resource group. Use the nextLink property in the response to get the next page of capacity reservation groups.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.",
            "required": false,
            "type": "string",
            "enum": [
              "virtualMachineScaleSetVMs/$ref",
              "virtualMachines/$ref"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForGetCapacityReservationGroups",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List capacity reservation groups in resource group.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}": {
      "get": {
        "operationId": "CapacityReservationGroups_Get",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation that retrieves information about a capacity reservation group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the capacity reservations under the capacity reservation group which is a snapshot of the runtime properties of a capacity reservation that is managed by the platform and can change outside of control plane operations.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "CapacityReservationGroupInstanceViewTypes",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a capacity reservation Group.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CapacityReservationGroups_CreateOrUpdate",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to create or update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create capacity reservation Group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a capacity reservation group.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "CapacityReservationGroups_Update",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update capacity reservation Group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CapacityReservationGroup_Update_MaximumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Update_MaximumSet_Gen.json"
          },
          "CapacityReservationGroup_Update_MinimumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "CapacityReservationGroups_Delete",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to delete a capacity reservation group. This operation is allowed only if all the associated resources are disassociated from the reservation group and all capacity reservations under the reservation group have also been deleted. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CapacityReservationGroup_Delete_MaximumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Delete_MaximumSet_Gen.json"
          },
          "CapacityReservationGroup_Delete_MinimumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations": {
      "get": {
        "operationId": "CapacityReservations_ListByCapacityReservationGroup",
        "tags": [
          "CapacityReservation"
        ],
        "description": "Lists all of the capacity reservations in the specified capacity reservation group. Use the nextLink property in the response to get the next page of capacity reservations.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List capacity reservations in reservation group.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_ListByReservationGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations/{capacityReservationName}": {
      "get": {
        "operationId": "CapacityReservations_Get",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation that retrieves information about the capacity reservation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' retrieves a snapshot of the runtime properties of the capacity reservation that is managed by the platform and can change outside of control plane operations.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "CapacityReservationInstanceViewTypes",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a capacity reservation.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CapacityReservations_CreateOrUpdate",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to create or update a capacity reservation. Please note some properties can be set only during capacity reservation creation. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create capacity reservation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a capacity reservation .": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CapacityReservations_Update",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to update a capacity reservation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update capacity reservation operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CapacityReservation_Update_MaximumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_Update_MaximumSet_Gen.json"
          },
          "CapacityReservation_Update_MinimumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CapacityReservations_Delete",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to delete a capacity reservation. This operation is allowed only when all the associated resources are disassociated from the capacity reservation. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CapacityReservation_Delete_MaximumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_Delete_MaximumSet_Gen.json"
          },
          "CapacityReservation_Delete_MinimumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "CapacityReservation": {
      "type": "object",
      "description": "Specifies information about the capacity reservation.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CapacityReservationProperties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "./computeRPCommon.json#/definitions/Sku",
          "description": "SKU of the resource for which capacity needs be reserved. The SKU name and capacity is required to be set. Currently VM Skus with the capability called 'CapacityReservationSupported' set to true are supported. Refer to List Microsoft.Compute SKUs in a region (https://docs.microsoft.com/rest/api/compute/resourceskus/list) for supported values."
        },
        "zones": {
          "type": "array",
          "description": "Availability Zone to use for this capacity reservation. The zone has to be single value and also should be part for the list of zones specified during the capacity reservation group creation. The zone can be assigned only during creation. If not provided, the reservation supports only non-zonal deployments. If provided, enforces VM/VMSS using this capacity reservation to be in same zone.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "CapacityReservationGroup": {
      "type": "object",
      "description": "Specifies information about the capacity reservation group that the capacity reservations should be assigned to. Currently, a capacity reservation can only be added to a capacity reservation group at creation time. An existing capacity reservation cannot be added or moved to another capacity reservation group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CapacityReservationGroupProperties",
          "x-ms-client-flatten": true
        },
        "zones": {
          "type": "array",
          "description": "Availability Zones to use for this capacity reservation group. The zones can be assigned only during creation. If not provided, the group supports only regional resources in the region. If provided, enforces each capacity reservation in the group to be in one of the zones.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "CapacityReservationGroupInstanceView": {
      "type": "object",
      "properties": {
        "capacityReservations": {
          "type": "array",
          "description": "List of instance view of the capacity reservations under the capacity reservation group.",
          "items": {
            "$ref": "#/definitions/CapacityReservationInstanceViewWithName"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name"
          ]
        },
        "sharedSubscriptionIds": {
          "type": "array",
          "description": "List of the subscriptions that the capacity reservation group is shared with. **Note:** Minimum api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing for more details.",
          "items": {
            "$ref": "../../../common-types/v1/common.json#/definitions/SubResourceReadOnly"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "CapacityReservationGroupListResult": {
      "type": "object",
      "description": "The List capacity reservation group with resource group response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of capacity reservation groups",
          "items": {
            "$ref": "#/definitions/CapacityReservationGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of capacity reservation groups. Call ListNext() with this URI to fetch the next page of capacity reservation groups."
        }
      },
      "required": [
        "value"
      ]
    },
    "CapacityReservationGroupProperties": {
      "type": "object",
      "description": "capacity reservation group Properties.",
      "properties": {
        "capacityReservations": {
          "type": "array",
          "description": "A list of all capacity reservation resource ids that belong to capacity reservation group.",
          "items": {
            "$ref": "../../../common-types/v1/common.json#/definitions/SubResourceReadOnly"
          },
          "readOnly": true
        },
        "virtualMachinesAssociated": {
          "type": "array",
          "description": "A list of references to all virtual machines associated to the capacity reservation group.",
          "items": {
            "$ref": "../../../common-types/v1/common.json#/definitions/SubResourceReadOnly"
          },
          "readOnly": true
        },
        "instanceView": {
          "$ref": "#/definitions/CapacityReservationGroupInstanceView",
          "description": "The capacity reservation group instance view which has the list of instance views for all the capacity reservations that belong to the capacity reservation group.",
          "readOnly": true
        },
        "sharingProfile": {
          "$ref": "#/definitions/ResourceSharingProfile",
          "description": "Specifies the settings to enable sharing across subscriptions for the capacity reservation group resource. Pls. keep in mind the capacity reservation group resource generally can be shared across subscriptions belonging to a single azure AAD tenant or cross AAD tenant if there is a trust relationship established between the AAD tenants. **Note:** Minimum api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing for more details."
        }
      }
    },
    "CapacityReservationGroupUpdate": {
      "type": "object",
      "description": "Specifies information about the capacity reservation group. Only tags can be updated.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CapacityReservationGroupProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./computeRPCommon.json#/definitions/UpdateResource"
        }
      ]
    },
    "CapacityReservationInstanceView": {
      "type": "object",
      "description": "The instance view of a capacity reservation that provides as snapshot of the runtime properties of the capacity reservation that is managed by the platform and can change outside of control plane operations.",
      "properties": {
        "utilizationInfo": {
          "$ref": "#/definitions/CapacityReservationUtilization",
          "description": "Unutilized capacity of the capacity reservation."
        },
        "statuses": {
          "type": "array",
          "description": "The resource status information.",
          "items": {
            "$ref": "./computeRPCommon.json#/definitions/InstanceViewStatus"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CapacityReservationInstanceViewWithName": {
      "type": "object",
      "description": "The instance view of a capacity reservation that includes the name of the capacity reservation. It is used for the response to the instance view of a capacity reservation group.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the capacity reservation.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CapacityReservationInstanceView"
        }
      ]
    },
    "CapacityReservationListResult": {
      "type": "object",
      "description": "The list capacity reservation operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of capacity reservations",
          "items": {
            "$ref": "#/definitions/CapacityReservation"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of capacity reservations. Call ListNext() with this URI to fetch the next page of capacity reservations."
        }
      },
      "required": [
        "value"
      ]
    },
    "CapacityReservationProperties": {
      "type": "object",
      "description": "Properties of the Capacity reservation.",
      "properties": {
        "reservationId": {
          "type": "string",
          "description": "A unique id generated and assigned to the capacity reservation by the platform which does not change throughout the lifetime of the resource.",
          "readOnly": true
        },
        "platformFaultDomainCount": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the value of fault domain count that Capacity Reservation supports for requested VM size. **Note:** The fault domain count specified for a resource (like virtual machines scale set) must be less than or equal to this value if it deploys using capacity reservation. Minimum api-version: 2022-08-01.",
          "readOnly": true
        },
        "virtualMachinesAssociated": {
          "type": "array",
          "description": "A list of all virtual machine resource ids that are associated with the capacity reservation.",
          "items": {
            "$ref": "../../../common-types/v1/common.json#/definitions/SubResourceReadOnly"
          },
          "readOnly": true
        },
        "provisioningTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date time when the capacity reservation was last updated.",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state, which only appears in the response.",
          "readOnly": true
        },
        "instanceView": {
          "$ref": "#/definitions/CapacityReservationInstanceView",
          "description": "The Capacity reservation instance view.",
          "readOnly": true
        },
        "timeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "Specifies the time at which the Capacity Reservation resource was created. Minimum api-version: 2021-11-01.",
          "readOnly": true
        }
      }
    },
    "CapacityReservationUpdate": {
      "type": "object",
      "description": "Specifies information about the capacity reservation. Only tags and sku.capacity can be updated.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CapacityReservationProperties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "./computeRPCommon.json#/definitions/Sku",
          "description": "SKU of the resource for which capacity needs be reserved. The SKU name and capacity is required to be set. Currently VM Skus with the capability called 'CapacityReservationSupported' set to true are supported. Refer to List Microsoft.Compute SKUs in a region (https://docs.microsoft.com/rest/api/compute/resourceskus/list) for supported values."
        }
      },
      "allOf": [
        {
          "$ref": "./computeRPCommon.json#/definitions/UpdateResource"
        }
      ]
    },
    "CapacityReservationUtilization": {
      "type": "object",
      "description": "Represents the capacity reservation utilization in terms of resources allocated.",
      "properties": {
        "currentCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "The value provides the current capacity of the VM size which was reserved successfully and for which the customer is getting billed. Minimum api-version: 2022-08-01.",
          "readOnly": true
        },
        "virtualMachinesAllocated": {
          "type": "array",
          "description": "A list of all virtual machines resource ids allocated against the capacity reservation.",
          "items": {
            "$ref": "../../../common-types/v1/common.json#/definitions/SubResourceReadOnly"
          },
          "readOnly": true
        }
      }
    },
    "ResourceSharingProfile": {
      "type": "object",
      "properties": {
        "subscriptionIds": {
          "type": "array",
          "description": "Specifies an array of subscription resource IDs that capacity reservation group is shared with. **Note:** Minimum api-version: 2023-09-01. Please refer to https://aka.ms/computereservationsharing for more details.",
          "items": {
            "$ref": "../../../common-types/v1/common.json#/definitions/SubResource"
          }
        }
      }
    }
  }
}