{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "version": "2024-07-01",
    "description": "The Compute Management Client."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Compute/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "ComputeOperations"
        ],
        "description": "Gets a list of compute operations.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ComputeOperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "operations_List_MaximumSet_Gen": {
            "$ref": "./examples/computeRPCommonExamples/Operations_List_MaximumSet_Gen.json"
          },
          "operations_List_MinimumSet_Gen": {
            "$ref": "./examples/computeRPCommonExamples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/availabilitySets": {
      "get": {
        "operationId": "AvailabilitySets_ListBySubscription",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Lists all availability sets in a subscription.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply to the operation. Allowed values are 'instanceView'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list availability sets in a subscription.": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/capacityReservationGroups": {
      "get": {
        "operationId": "CapacityReservationGroups_ListBySubscription",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "Lists all of the capacity reservation groups in the subscription. Use the nextLink property in the response to get the next page of capacity reservation groups.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.",
            "required": false,
            "type": "string",
            "enum": [
              "virtualMachineScaleSetVMs/$ref",
              "virtualMachines/$ref"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForGetCapacityReservationGroups",
              "modelAsString": true
            }
          },
          {
            "name": "resourceIdsOnly",
            "in": "query",
            "description": "The query option to fetch Capacity Reservation Group Resource Ids. <br> 'CreatedInSubscription' enables fetching Resource Ids for all capacity reservation group resources created in the subscription. <br> 'SharedWithSubscription' enables fetching Resource Ids for all capacity reservation group resources shared with the subscription. <br> 'All' enables fetching Resource Ids for all capacity reservation group resources shared with the subscription and created in the subscription.",
            "required": false,
            "type": "string",
            "enum": [
              "CreatedInSubscription",
              "SharedWithSubscription",
              "All"
            ],
            "x-ms-enum": {
              "name": "ResourceIdOptionsForGetCapacityReservationGroups",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list capacity reservation groups in subscription.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_ListBySubscription.json"
          },
          "list capacity reservation groups with resource Ids only in subscription.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_ListBySubscriptionWithResourceIdsQuery.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/hostGroups": {
      "get": {
        "operationId": "DedicatedHostGroups_ListBySubscription",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Lists all of the dedicated host groups in the subscription. Use the nextLink property in the response to get the next page of dedicated host groups.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "dedicatedHostGroup_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_ListBySubscription_MaximumSet_Gen.json"
          },
          "dedicatedHostGroup_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/images": {
      "get": {
        "operationId": "Images_List",
        "tags": [
          "Images"
        ],
        "description": "Gets the list of Images in the subscription. Use nextLink property in the response to get the next page of Images. Do this till nextLink is null to fetch all the Images.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ImageListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list all virtual machine images in a subscription.": {
            "$ref": "./examples/imageExamples/Image_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_ListPublishers",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of virtual machine image publishers for the specified Azure location and edge zone.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImagesEdgeZone_ListPublishers_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListPublishers_MaximumSet_Gen.json"
          },
          "virtualMachineImagesEdgeZone_ListPublishers_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListPublishers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_ListOffers",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of virtual machine image offers for the specified location, edge zone and publisher.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImagesEdgeZone_ListOffers_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListOffers_MaximumSet_Gen.json"
          },
          "virtualMachineImagesEdgeZone_ListOffers_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListOffers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_ListSkus",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of virtual machine image SKUs for the specified location, edge zone, publisher, and offer.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImagesEdgeZone_ListSkus_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListSkus_MaximumSet_Gen.json"
          },
          "virtualMachineImagesEdgeZone_ListSkus_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListSkus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_List",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of all virtual machine image versions for the specified location, edge zone, publisher, offer, and SKU.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An integer value specifying the number of images to return that matches supplied values.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Specifies the order of the results returned. Formatted as an OData query.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImagesEdgeZone_List_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_List_MaximumSet_Gen.json"
          },
          "virtualMachineImagesEdgeZone_List_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}": {
      "get": {
        "operationId": "VirtualMachineImagesEdgeZone_Get",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a virtual machine image in an edge zone.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "A valid image SKU version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImagesEdgeZone_Get_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_Get_MaximumSet_Gen.json"
          },
          "virtualMachineImagesEdgeZone_Get_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/edgeZones/{edgeZone}/vmimages": {
      "get": {
        "operationId": "VirtualMachineImages_ListByEdgeZone",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of all virtual machine image versions for the specified edge zone",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "edgeZone",
            "in": "path",
            "description": "The name of the edge zone.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VmImagesInEdgeZoneListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImagesEdgeZone_ListByEdgeZone_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListByEdgeZone_MaximumSet_Gen.json"
          },
          "virtualMachineImagesEdgeZone_ListByEdgeZone_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImagesEdgeZone_ListByEdgeZone_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getRequestRateByInterval": {
      "post": {
        "operationId": "LogAnalytics_ExportRequestRateByInterval",
        "tags": [
          "LogAnalytics"
        ],
        "description": "Export logs that show Api requests made by this subscription in the given time window to show throttling activities.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the LogAnalytics getRequestRateByInterval Api.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestRateByIntervalInput"
            }
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location upon which virtual-machine-sizes is queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogAnalyticsOperationResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "export logs which contain all Api requests made to Compute Resource Provider within the given time period broken down by intervals.": {
            "$ref": "./examples/logAnalyticExamples/LogAnalytics_RequestRateByInterval.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getThrottledRequests": {
      "post": {
        "operationId": "LogAnalytics_ExportThrottledRequests",
        "tags": [
          "LogAnalytics"
        ],
        "description": "Export logs that show total throttled Api requests for this subscription in the given time window.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the LogAnalytics getThrottledRequests Api.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThrottledRequestsInput"
            }
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location upon which virtual-machine-sizes is queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogAnalyticsOperationResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "export logs which contain all throttled Api requests made to Compute Resource Provider within the given time period.": {
            "$ref": "./examples/logAnalyticExamples/LogAnalytics_ThrottledRequests.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers": {
      "get": {
        "operationId": "VirtualMachineImages_ListPublishers",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of virtual machine image publishers for the specified Azure location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImage_ListPublishers_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_ListPublishers_MaximumSet_Gen.json"
          },
          "virtualMachineImage_ListPublishers_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_ListPublishers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types": {
      "get": {
        "operationId": "VirtualMachineExtensionImages_ListTypes",
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "description": "Gets a list of virtual machine extension image types.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineExtensionImage"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineExtensionImage_ListTypes_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExtensionImageExamples/VirtualMachineExtensionImage_ListTypes_MaximumSet_Gen.json"
          },
          "virtualMachineExtensionImage_ListTypes_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExtensionImageExamples/VirtualMachineExtensionImage_ListTypes_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions": {
      "get": {
        "operationId": "VirtualMachineExtensionImages_ListVersions",
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "description": "Gets a list of virtual machine extension image versions.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineExtensionImage"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineExtensionImage_ListVersions_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExtensionImageExamples/VirtualMachineExtensionImage_ListVersions_MaximumSet_Gen.json"
          },
          "virtualMachineExtensionImage_ListVersions_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExtensionImageExamples/VirtualMachineExtensionImage_ListVersions_MinimumSet_Gen.json"
          }
        },
        "x-ms-odata": "#/definitions/VirtualMachineExtensionImage"
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmextension/types/{type}/versions/{version}": {
      "get": {
        "operationId": "VirtualMachineExtensionImages_Get",
        "tags": [
          "VirtualMachineExtensionImages"
        ],
        "description": "Gets a virtual machine extension image.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtensionImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineExtensionImage_Get_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExtensionImageExamples/VirtualMachineExtensionImage_Get_MaximumSet_Gen.json"
          },
          "virtualMachineExtensionImage_Get_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExtensionImageExamples/VirtualMachineExtensionImage_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers": {
      "get": {
        "operationId": "VirtualMachineImages_ListOffers",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of virtual machine image offers for the specified location and publisher.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImage_ListOffers_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_ListOffers_MaximumSet_Gen.json"
          },
          "virtualMachineImage_ListOffers_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_ListOffers_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus": {
      "get": {
        "operationId": "VirtualMachineImages_ListSkus",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of virtual machine image SKUs for the specified location, publisher, and offer.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImage_ListSkus_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_ListSkus_MaximumSet_Gen.json"
          },
          "virtualMachineImage_ListSkus_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_ListSkus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions": {
      "get": {
        "operationId": "VirtualMachineImages_List",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a list of all virtual machine image versions for the specified location, publisher, offer, and SKU.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VirtualMachineImageResource"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImage_List_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_List_MaximumSet_Gen.json"
          },
          "virtualMachineImage_List_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/publishers/{publisherName}/artifacttypes/vmimage/offers/{offer}/skus/{skus}/versions/{version}": {
      "get": {
        "operationId": "VirtualMachineImages_Get",
        "tags": [
          "VirtualMachineImages"
        ],
        "description": "Gets a virtual machine image.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The name of a supported Azure region.",
            "required": true,
            "type": "string"
          },
          {
            "name": "publisherName",
            "in": "path",
            "description": "A valid image publisher.",
            "required": true,
            "type": "string"
          },
          {
            "name": "offer",
            "in": "path",
            "description": "A valid image publisher offer.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skus",
            "in": "path",
            "description": "A valid image SKU.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "A valid image SKU version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineImage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineImage_Get_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_Get_MaximumSet_Gen.json"
          },
          "virtualMachineImage_Get_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineImageExamples/VirtualMachineImage_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands": {
      "get": {
        "operationId": "VirtualMachineRunCommands_List",
        "tags": [
          "VirtualMachineRunCommands"
        ],
        "description": "Lists all available run commands for a subscription in a location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location upon which run commands is queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunCommandListResult"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineRunCommandList": {
            "$ref": "./examples/runCommandExamples/RunCommand_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/runCommands/{commandId}": {
      "get": {
        "operationId": "VirtualMachineRunCommands_Get",
        "tags": [
          "VirtualMachineRunCommands"
        ],
        "description": "Gets specific run command for a subscription in a location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location upon which run commands is queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "commandId",
            "in": "path",
            "description": "The command id.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RunCommandDocument"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineRunCommandGet": {
            "$ref": "./examples/runCommandExamples/RunCommand_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/usages": {
      "get": {
        "operationId": "Usage_List",
        "tags": [
          "Usage"
        ],
        "description": "Gets, for the specified location, the current compute resource usage information as well as the limits for compute resources under the subscription.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location for which resource usage is queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListUsagesResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "usage_List_MaximumSet_Gen": {
            "$ref": "./examples/computeRPCommonExamples/Usage_List_MaximumSet_Gen.json"
          },
          "usage_List_MinimumSet_Gen": {
            "$ref": "./examples/computeRPCommonExamples/Usage_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachineScaleSets": {
      "get": {
        "operationId": "VirtualMachineScaleSets_ListByLocation",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets all the VM scale sets under the specified subscription for the specified location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location for which VM scale sets under the subscription are queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "lists all the VM scale sets under the specified subscription for the specified location.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ListBySubscription_ByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListByLocation",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Gets all the virtual machines under the specified subscription for the specified location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location for which virtual machines under the subscription are queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "lists all the virtual machines under the specified subscription for the specified location.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ListBySubscription_ByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/vmSizes": {
      "get": {
        "operationId": "VirtualMachineSizes_List",
        "tags": [
          "VirtualMachineSizes"
        ],
        "description": "This API is deprecated. Use [Resources Skus](https://docs.microsoft.com/rest/api/compute/resourceskus/list)",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location upon which virtual-machine-sizes is queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineSizeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineSizes_List_MaximumSet_Gen": {
            "$ref": "./examples/computeRPCommonExamples/VirtualMachineSizes_List_MaximumSet_Gen.json"
          },
          "virtualMachineSizes_List_MinimumSet_Gen": {
            "$ref": "./examples/computeRPCommonExamples/VirtualMachineSizes_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/proximityPlacementGroups": {
      "get": {
        "operationId": "ProximityPlacementGroups_ListBySubscription",
        "tags": [
          "ProximityPlacementGroups"
        ],
        "description": "Lists all proximity placement groups in a subscription.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProximityPlacementGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list proximity placement groups.": {
            "$ref": "./examples/proximityPlacementGroupExamples/ProximityPlacementGroup_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/restorePointCollections": {
      "get": {
        "operationId": "RestorePointCollections_ListAll",
        "tags": [
          "RestorePointCollections"
        ],
        "description": "Gets the list of restore point collections in the subscription. Use nextLink property in the response to get the next page of restore point collections. Do this till nextLink is not null to fetch all the restore point collections.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RestorePointCollectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "gets the list of restore point collections in a subscription": {
            "$ref": "./examples/restorePointExamples/RestorePointCollection_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/sshPublicKeys": {
      "get": {
        "operationId": "SshPublicKeys_ListBySubscription",
        "tags": [
          "SshPublicKeys"
        ],
        "description": "Lists all of the SSH public keys in the subscription. Use the nextLink property in the response to get the next page of SSH public keys.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeysGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "sshPublicKey_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_ListBySubscription_MaximumSet_Gen.json"
          },
          "sshPublicKey_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets": {
      "get": {
        "operationId": "VirtualMachineScaleSets_ListAll",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets a list of all VM Scale Sets in the subscription, regardless of the associated resource group. Use nextLink property in the response to get the next page of VM Scale Sets. Do this till nextLink is null to fetch all the VM Scale Sets.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListWithLinkResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachineScaleSet_ListAll_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ListAll_MaximumSet_Gen.json"
          },
          "virtualMachineScaleSet_ListAll_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ListAll_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListAll",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Lists all of the virtual machines in the specified subscription. Use the nextLink property in the response to get the next page of virtual machines.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "statusOnly",
            "in": "query",
            "description": "statusOnly=true enables fetching run time status of all Virtual Machines in the subscription.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The system query option to filter VMs returned in the response. Allowed value is 'virtualMachineScaleSet/id' eq /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on operation. 'instanceView' enables fetching run time status of all Virtual Machines, this can only be specified if a valid $filter option is specified",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForListVMs",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "virtualMachine_ListAll_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ListAll_MaximumSet_Gen.json"
          },
          "virtualMachine_ListAll_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ListAll_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets": {
      "get": {
        "operationId": "AvailabilitySets_List",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Lists all availability sets in a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "availabilitySet_List_MaximumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_List_MaximumSet_Gen.json"
          },
          "availabilitySet_List_MinimumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}": {
      "get": {
        "operationId": "AvailabilitySets_Get",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Retrieves information about an availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "availabilitySet_Get_MaximumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_Get_MaximumSet_Gen.json"
          },
          "availabilitySet_Get_MinimumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "AvailabilitySets_CreateOrUpdate",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Create or update an availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Availability Set operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create an availability set with Scheduled Event Policy.": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_Create_WithScheduledEventProfile.json"
          },
          "create an availability set.": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "AvailabilitySets_Update",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Update an availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update Availability Set operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailabilitySetUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AvailabilitySet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "availabilitySet_Update_MaximumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_Update_MaximumSet_Gen.json"
          },
          "availabilitySet_Update_MinimumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "AvailabilitySets_Delete",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Delete an availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "availabilitySet_Delete_MaximumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_Delete_MaximumSet_Gen.json"
          },
          "availabilitySet_Delete_MinimumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/availabilitySets/{availabilitySetName}/vmSizes": {
      "get": {
        "operationId": "AvailabilitySets_ListAvailableSizes",
        "tags": [
          "AvailabilitySets"
        ],
        "description": "Lists all available virtual machine sizes that can be used to create a new virtual machine in an existing availability set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilitySetName",
            "in": "path",
            "description": "The name of the availability set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./computeRPCommon.json#/definitions/VirtualMachineSizeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "availabilitySet_ListAvailableSizes_MaximumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_ListAvailableSizes_MaximumSet_Gen.json"
          },
          "availabilitySet_ListAvailableSizes_MinimumSet_Gen": {
            "$ref": "./examples/availabilitySetExamples/AvailabilitySet_ListAvailableSizes_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups": {
      "get": {
        "operationId": "CapacityReservationGroups_ListByResourceGroup",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "Lists all of the capacity reservation groups in the specified resource group. Use the nextLink property in the response to get the next page of capacity reservation groups.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. Based on the expand param(s) specified we return Virtual Machine or ScaleSet VM Instance or both resource Ids which are associated to capacity reservation group in the response.",
            "required": false,
            "type": "string",
            "enum": [
              "virtualMachineScaleSetVMs/$ref",
              "virtualMachines/$ref"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForGetCapacityReservationGroups",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list capacity reservation groups in resource group.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}": {
      "get": {
        "operationId": "CapacityReservationGroups_Get",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation that retrieves information about a capacity reservation group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the capacity reservations under the capacity reservation group which is a snapshot of the runtime properties of a capacity reservation that is managed by the platform and can change outside of control plane operations.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "CapacityReservationGroupInstanceViewTypes",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a capacity reservation Group.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CapacityReservationGroups_CreateOrUpdate",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to create or update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create capacity reservation Group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update a capacity reservation group.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "CapacityReservationGroups_Update",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to update a capacity reservation group. When updating a capacity reservation group, only tags and sharing profile may be modified.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update capacity reservation Group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroupUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "capacityReservationGroup_Update_MaximumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Update_MaximumSet_Gen.json"
          },
          "capacityReservationGroup_Update_MinimumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "CapacityReservationGroups_Delete",
        "tags": [
          "CapacityReservationGroups"
        ],
        "description": "The operation to delete a capacity reservation group. This operation is allowed only if all the associated resources are disassociated from the reservation group and all capacity reservations under the reservation group have also been deleted. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "capacityReservationGroup_Delete_MaximumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Delete_MaximumSet_Gen.json"
          },
          "capacityReservationGroup_Delete_MinimumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservationGroup_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations": {
      "get": {
        "operationId": "CapacityReservations_ListByCapacityReservationGroup",
        "tags": [
          "CapacityReservation"
        ],
        "description": "Lists all of the capacity reservations in the specified capacity reservation group. Use the nextLink property in the response to get the next page of capacity reservations.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "list capacity reservations in reservation group.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_ListByReservationGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/capacityReservationGroups/{capacityReservationGroupName}/capacityReservations/{capacityReservationName}": {
      "get": {
        "operationId": "CapacityReservations_Get",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation that retrieves information about the capacity reservation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' retrieves a snapshot of the runtime properties of the capacity reservation that is managed by the platform and can change outside of control plane operations.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "CapacityReservationInstanceViewTypes",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "get a capacity reservation.": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CapacityReservations_CreateOrUpdate",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to create or update a capacity reservation. Please note some properties can be set only during capacity reservation creation. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create capacity reservation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "create or update a capacity reservation .": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CapacityReservations_Update",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to update a capacity reservation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update capacity reservation operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CapacityReservationUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CapacityReservation"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "capacityReservation_Update_MaximumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_Update_MaximumSet_Gen.json"
          },
          "capacityReservation_Update_MinimumSet_Gen": {
            "$ref": "./examples/capacityReservationExamples/CapacityReservation_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CapacityReservations_Delete",
        "tags": [
          "CapacityReservations"
        ],
        "description": "The operation to delete a capacity reservation. This operation is allowed only when all the associated resources are disassociated from the capacity reservation. Please refer to https://aka.ms/CapacityReservation for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationGroupName",
            "in": "path",
            "description": "The name of the capacity reservation group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "capacityReservationName",
            "in": "path",
            "description": "The name of the capacity reservation.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
[...]
