{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "version": "2024-07-01",
    "description": "The Compute Management Client."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/hostGroups": {
      "get": {
        "operationId": "DedicatedHostGroups_ListBySubscription",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Lists all of the dedicated host groups in the subscription. Use the nextLink property in the response to get the next page of dedicated host groups.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHostGroup_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_ListBySubscription_MaximumSet_Gen.json"
          },
          "DedicatedHostGroup_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups": {
      "get": {
        "operationId": "DedicatedHostGroups_ListByResourceGroup",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Lists all of the dedicated host groups in the specified resource group. Use the nextLink property in the response to get the next page of dedicated host groups.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHostGroup_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "DedicatedHostGroup_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}": {
      "get": {
        "operationId": "DedicatedHostGroups_Get",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Retrieves information about a dedicated host group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the dedicated hosts under the dedicated host group. 'UserData' is not supported for dedicated host group.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView",
              "userData"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": false
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a dedicated host group.": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_Get.json"
          },
          "Create an ultraSSDEnabled dedicated host group.": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_Get_UltraSSDEnabledDedicatedHostGroup.json"
          }
        }
      },
      "put": {
        "operationId": "DedicatedHostGroups_CreateOrUpdate",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Create or update a dedicated host group. For details of Dedicated Host and Dedicated Host Groups please see [Dedicated Host Documentation] (https://go.microsoft.com/fwlink/?linkid=2082596)",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Dedicated Host Group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a dedicated host group with Ultra SSD support.": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_CreateOrUpdate_WithUltraSSD.json"
          },
          "Create or update a dedicated host group.": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "DedicatedHostGroups_Update",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Update an dedicated host group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update Dedicated Host Group operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroupUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostGroup"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHostGroup_Update_MaximumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_Update_MaximumSet_Gen.json"
          },
          "DedicatedHostGroup_Update_MinimumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DedicatedHostGroups_Delete",
        "tags": [
          "DedicatedHostGroups"
        ],
        "description": "Delete a dedicated host group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHostGroup_Delete_MaximumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_Delete_MaximumSet_Gen.json"
          },
          "DedicatedHostGroup_Delete_MinimumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHostGroup_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts": {
      "get": {
        "operationId": "DedicatedHosts_ListByHostGroup",
        "tags": [
          "DedicatedHost"
        ],
        "description": "Lists all of the dedicated hosts in the specified dedicated host group. Use the nextLink property in the response to get the next page of dedicated hosts.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHost_ListByHostGroup_MaximumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_ListByHostGroup_MaximumSet_Gen.json"
          },
          "DedicatedHost_ListByHostGroup_MinimumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_ListByHostGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}": {
      "get": {
        "operationId": "DedicatedHosts_Get",
        "tags": [
          "DedicatedHosts"
        ],
        "description": "Retrieves information about a dedicated host.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the list of instance views of the dedicated host. 'UserData' is not supported for dedicated host.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView",
              "userData"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": false
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a dedicated host.": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DedicatedHosts_CreateOrUpdate",
        "tags": [
          "DedicatedHosts"
        ],
        "description": "Create or update a dedicated host .",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host .",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Dedicated Host.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a dedicated host .": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DedicatedHosts_Update",
        "tags": [
          "DedicatedHosts"
        ],
        "description": "Update a dedicated host .",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host .",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update Dedicated Host operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DedicatedHostUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHost"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHost_Update_MaximumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_Update_MaximumSet_Gen.json"
          },
          "DedicatedHost_Update_MinimumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_Update_MinimumSet_Gen.json"
          },
          "DedicatedHost_Update_Resize": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_Update_Resize.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DedicatedHosts_Delete",
        "tags": [
          "DedicatedHosts"
        ],
        "description": "Delete a dedicated host.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DedicatedHost_Delete_MaximumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_Delete_MaximumSet_Gen.json"
          },
          "DedicatedHost_Delete_MinimumSet_Gen": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}/hostSizes": {
      "get": {
        "operationId": "DedicatedHosts_ListAvailableSizes",
        "tags": [
          "DedicatedHost"
        ],
        "description": "Lists all available dedicated host sizes to which the specified dedicated host can be resized. NOTE: The dedicated host sizes provided can be used to only scale up the existing dedicated host.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DedicatedHostSizeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Available Dedicated Host Sizes.": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_ListAvailableSizes.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}/redeploy": {
      "post": {
        "operationId": "DedicatedHosts_Redeploy",
        "tags": [
          "DedicatedHost"
        ],
        "description": "Redeploy the dedicated host. The operation will complete successfully once the dedicated host has migrated to a new node and is running. To determine the health of VMs deployed on the dedicated host after the redeploy check the Resource Health Center in the Azure Portal. Please refer to https://docs.microsoft.com/azure/service-health/resource-health-overview for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Redeploy Dedicated Host.": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_Redeploy.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/hostGroups/{hostGroupName}/hosts/{hostName}/restart": {
      "post": {
        "operationId": "DedicatedHosts_Restart",
        "tags": [
          "DedicatedHost"
        ],
        "description": "Restart the dedicated host. The operation will complete successfully once the dedicated host has restarted and is running. To determine the health of VMs deployed on the dedicated host after the restart check the Resource Health Center in the Azure Portal. Please refer to https://docs.microsoft.com/azure/service-health/resource-health-overview for more details.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostGroupName",
            "in": "path",
            "description": "The name of the dedicated host group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostName",
            "in": "path",
            "description": "The name of the dedicated host.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Restart Dedicated Host.": {
            "$ref": "./examples/dedicatedHostExamples/DedicatedHost_Restart.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "DedicatedHost": {
      "description": "Specifies information about the Dedicated host.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DedicatedHostProperties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "./computeRPCommon.json#/definitions/Sku",
          "description": "SKU of the dedicated host for Hardware Generation and VM family. Only name is required to be set. List Microsoft.Compute SKUs for a list of possible values."
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "DedicatedHostAllocatableVM": {
      "description": "Represents the dedicated host unutilized capacity in terms of a specific VM size.",
      "properties": {
        "vmSize": {
          "type": "string",
          "description": "VM size in terms of which the unutilized capacity is represented."
        },
        "count": {
          "type": "number",
          "format": "double",
          "description": "Maximum number of VMs of size vmSize that can fit in the dedicated host's remaining capacity."
        }
      }
    },
    "DedicatedHostAvailableCapacity": {
      "description": "Dedicated host unutilized capacity.",
      "properties": {
        "allocatableVMs": {
          "type": "array",
          "description": "The unutilized capacity of the dedicated host represented in terms of each VM size that is allowed to be deployed to the dedicated host.",
          "items": {
            "$ref": "#/definitions/DedicatedHostAllocatableVM"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DedicatedHostGroup": {
      "description": "Specifies information about the dedicated host group that the dedicated hosts should be assigned to. Currently, a dedicated host can only be added to a dedicated host group at creation time. An existing dedicated host cannot be added to another dedicated host group.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DedicatedHostGroupProperties",
          "x-ms-client-flatten": true
        },
        "zones": {
          "type": "array",
          "description": "Availability Zone to use for this host group. Only single zone is supported. The zone can be assigned only during creation. If not provided, the group supports all zones in the region. If provided, enforces each host in the group to be in the same zone.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "DedicatedHostGroupInstanceView": {
      "properties": {
        "hosts": {
          "type": "array",
          "description": "List of instance view of the dedicated hosts under the dedicated host group.",
          "items": {
            "$ref": "#/definitions/DedicatedHostInstanceViewWithName"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "DedicatedHostGroupListResult": {
      "description": "The List Dedicated Host Group with resource group response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of dedicated host groups",
          "items": {
            "$ref": "#/definitions/DedicatedHostGroup"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of Dedicated Host Groups. Call ListNext() with this URI to fetch the next page of Dedicated Host Groups."
        }
      },
      "required": [
        "value"
      ]
    },
    "DedicatedHostGroupProperties": {
      "description": "Dedicated Host Group Properties.",
      "properties": {
        "platformFaultDomainCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of fault domains that the host group can span.",
          "minimum": 1
        },
        "hosts": {
          "type": "array",
          "description": "A list of references to all dedicated hosts in the dedicated host group.",
          "items": {
            "$ref": "../../../common-types/v1/common.json#/definitions/SubResourceReadOnly"
          },
          "readOnly": true
        },
        "instanceView": {
          "$ref": "#/definitions/DedicatedHostGroupInstanceView",
          "description": "The dedicated host group instance view, which has the list of instance view of the dedicated hosts under the dedicated host group.",
          "readOnly": true
        },
        "supportAutomaticPlacement": {
          "type": "boolean",
          "description": "Specifies whether virtual machines or virtual machine scale sets can be placed automatically on the dedicated host group. Automatic placement means resources are allocated on dedicated hosts, that are chosen by Azure, under the dedicated host group. The value is defaulted to 'false' when not provided. Minimum api-version: 2020-06-01."
        },
        "additionalCapabilities": {
          "type": "object",
          "description": "Enables or disables a capability on the dedicated host group. Minimum api-version: 2022-03-01.",
          "properties": {
            "ultraSSDEnabled": {
              "type": "boolean",
              "description": "The flag that enables or disables a capability to have UltraSSD Enabled Virtual Machines on Dedicated Hosts of the Dedicated Host Group. For the Virtual Machines to be UltraSSD Enabled, UltraSSDEnabled flag for the resource needs to be set true as well. The value is defaulted to 'false' when not provided. Please refer to https://docs.microsoft.com/en-us/azure/virtual-machines/disks-enable-ultra-ssd for more details on Ultra SSD feature. **Note:** The ultraSSDEnabled setting can only be enabled for Host Groups that are created as zonal. Minimum api-version: 2022-03-01."
            }
          }
        }
      },
      "required": [
        "platformFaultDomainCount"
      ]
    },
    "DedicatedHostGroupUpdate": {
      "description": "Specifies information about the dedicated host group that the dedicated host should be assigned to. Only tags may be updated.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DedicatedHostGroupProperties",
          "x-ms-client-flatten": true
        },
        "zones": {
          "type": "array",
          "description": "Availability Zone to use for this host group. Only single zone is supported. The zone can be assigned only during creation. If not provided, the group supports all zones in the region. If provided, enforces each host in the group to be in the same zone.",
          "items": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "./computeRPCommon.json#/definitions/UpdateResource"
        }
      ]
    },
    "DedicatedHostInstanceView": {
      "description": "The instance view of a dedicated host.",
      "properties": {
        "assetId": {
          "type": "string",
          "description": "Specifies the unique id of the dedicated physical machine on which the dedicated host resides.",
          "readOnly": true
        },
        "availableCapacity": {
          "$ref": "#/definitions/DedicatedHostAvailableCapacity",
          "description": "Unutilized capacity of the dedicated host."
        },
        "statuses": {
          "type": "array",
          "description": "The resource status information.",
          "items": {
            "$ref": "./computeRPCommon.json#/definitions/InstanceViewStatus"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DedicatedHostInstanceViewWithName": {
      "description": "The instance view of a dedicated host that includes the name of the dedicated host. It is used for the response to the instance view of a dedicated host group.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the dedicated host.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DedicatedHostInstanceView"
        }
      ]
    },
    "DedicatedHostLicenseType": {
      "type": "string",
      "description": "Specifies the software license type that will be applied to the VMs deployed on the dedicated host. Possible values are: **None,** **Windows_Server_Hybrid,** **Windows_Server_Perpetual.** The default value is: **None.**",
      "enum": [
        "None",
        "Windows_Server_Hybrid",
        "Windows_Server_Perpetual"
      ],
      "x-ms-enum": {
        "name": "DedicatedHostLicenseTypes",
        "modelAsString": false
      }
    },
    "DedicatedHostListResult": {
      "description": "The list dedicated host operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of dedicated hosts",
          "items": {
            "$ref": "#/definitions/DedicatedHost"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of dedicated hosts. Call ListNext() with this URI to fetch the next page of dedicated hosts."
        }
      },
      "required": [
        "value"
      ]
    },
    "DedicatedHostProperties": {
      "description": "Properties of the dedicated host.",
      "properties": {
        "platformFaultDomain": {
          "type": "integer",
          "format": "int32",
          "description": "Fault domain of the dedicated host within a dedicated host group.",
          "minimum": 0
        },
        "autoReplaceOnFailure": {
          "type": "boolean",
          "description": "Specifies whether the dedicated host should be replaced automatically in case of a failure. The value is defaulted to 'true' when not provided."
        },
        "hostId": {
          "type": "string",
          "description": "A unique id generated and assigned to the dedicated host by the platform. Does not change throughout the lifetime of the host.",
          "readOnly": true
        },
        "virtualMachines": {
          "type": "array",
          "description": "A list of references to all virtual machines in the Dedicated Host.",
          "items": {
            "$ref": "../../../common-types/v1/common.json#/definitions/SubResourceReadOnly"
          },
          "readOnly": true
        },
        "licenseType": {
          "$ref": "#/definitions/DedicatedHostLicenseType",
          "description": "Specifies the software license type that will be applied to the VMs deployed on the dedicated host. Possible values are: **None,** **Windows_Server_Hybrid,** **Windows_Server_Perpetual.** The default value is: **None.**"
        },
        "provisioningTime": {
          "type": "string",
          "format": "date-time",
          "description": "The date when the host was first provisioned.",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state, which only appears in the response.",
          "readOnly": true
        },
        "instanceView": {
          "$ref": "#/definitions/DedicatedHostInstanceView",
          "description": "The dedicated host instance view.",
          "readOnly": true
        },
        "timeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "Specifies the time at which the Dedicated Host resource was created. Minimum api-version: 2021-11-01.",
          "readOnly": true
        }
      }
    },
    "DedicatedHostSizeListResult": {
      "type": "object",
      "description": "The List Dedicated Host sizes operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of dedicated host sizes.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "DedicatedHostUpdate": {
      "type": "object",
      "description": "Specifies information about the dedicated host. Only tags, autoReplaceOnFailure and licenseType may be updated.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DedicatedHostProperties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "./computeRPCommon.json#/definitions/Sku",
          "description": "[List all available dedicated host sizes for resizing] (https://docs.microsoft.com/rest/api/compute/dedicated-hosts/listavailablesizes). Resizing can be only used to scale up DedicatedHost. Only name is required to be set. "
        }
      },
      "allOf": [
        {
          "$ref": "./computeRPCommon.json#/definitions/UpdateResource"
        }
      ]
    }
  }
}