{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "version": "2024-07-01",
    "description": "The Compute Management Client."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/sshPublicKeys": {
      "get": {
        "operationId": "SshPublicKeys_ListBySubscription",
        "tags": [
          "SshPublicKeys"
        ],
        "description": "Lists all of the SSH public keys in the subscription. Use the nextLink property in the response to get the next page of SSH public keys.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeysGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SshPublicKey_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_ListBySubscription_MaximumSet_Gen.json"
          },
          "SshPublicKey_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys": {
      "get": {
        "operationId": "SshPublicKeys_ListByResourceGroup",
        "tags": [
          "SshPublicKeys"
        ],
        "description": "Lists all of the SSH public keys in the specified resource group. Use the nextLink property in the response to get the next page of SSH public keys.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeysGroupListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SshPublicKey_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "SshPublicKey_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}": {
      "get": {
        "operationId": "SshPublicKeys_Get",
        "tags": [
          "SshPublicKeys"
        ],
        "description": "Retrieves information about an SSH public key.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "description": "The name of the SSH public key.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get an ssh public key.": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SshPublicKeys_Create",
        "tags": [
          "SshPublicKeys"
        ],
        "description": "Creates a new SSH public key resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "description": "The name of the SSH public key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to create the SSH public key.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a new SSH public key resource.": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_Create.json"
          }
        }
      },
      "patch": {
        "operationId": "SshPublicKeys_Update",
        "tags": [
          "SshPublicKeys"
        ],
        "description": "Updates a new SSH public key resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "description": "The name of the SSH public key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update the SSH public key.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SshPublicKeyUpdateResource"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SshPublicKey_Update_MaximumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_Update_MaximumSet_Gen.json"
          },
          "SshPublicKey_Update_MinimumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "SshPublicKeys_Delete",
        "tags": [
          "SshPublicKeys"
        ],
        "description": "Delete an SSH public key.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "description": "The name of the SSH public key.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "SshPublicKey_Delete_MaximumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_Delete_MaximumSet_Gen.json"
          },
          "SshPublicKey_Delete_MinimumSet_Gen": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{sshPublicKeyName}/generateKeyPair": {
      "post": {
        "operationId": "SshPublicKeys_GenerateKeyPair",
        "tags": [
          "SshPublicKeys"
        ],
        "description": "Generates and returns a public/private key pair and populates the SSH public key resource with the public key. The length of the key will be 3072 bits. This operation can only be performed once per SSH public key resource.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sshPublicKeyName",
            "in": "path",
            "description": "The name of the SSH public key.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to generate the SSH public key.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SshGenerateKeyPairInputParameters"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SshPublicKeyGenerateKeyPairResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Generate an SSH key pair with Ed25519 encryption.": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_GenerateKeyPair_EncryptionWithEd25519.json"
          },
          "Generate an SSH key pair with RSA encryption.": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_GenerateKeyPair_EncryptionWithRSA.json"
          },
          "Generate an SSH key pair.": {
            "$ref": "./examples/sshPublicKeyExamples/SshPublicKey_GenerateKeyPair.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SshGenerateKeyPairInputParameters": {
      "type": "object",
      "description": "Parameters for GenerateSshKeyPair.",
      "properties": {
        "encryptionType": {
          "type": "string",
          "description": "The encryption type of the SSH keys to be generated. See SshEncryptionTypes for possible set of values. If not provided, will default to RSA",
          "enum": [
            "RSA",
            "Ed25519"
          ],
          "x-ms-enum": {
            "name": "SshEncryptionTypes",
            "modelAsString": true
          }
        }
      }
    },
    "SshPublicKeyGenerateKeyPairResult": {
      "description": "Response from generation of an SSH key pair.",
      "properties": {
        "privateKey": {
          "type": "string",
          "description": "Private key portion of the key pair used to authenticate to a virtual machine through ssh. The private key is returned in RFC3447 format and should be treated as a secret."
        },
        "publicKey": {
          "type": "string",
          "description": "Public key portion of the key pair used to authenticate to a virtual machine through ssh. The public key is in ssh-rsa format."
        },
        "id": {
          "type": "string",
          "description": "The ARM resource id in the form of /subscriptions/{SubscriptionId}/resourceGroups/{ResourceGroupName}/providers/Microsoft.Compute/sshPublicKeys/{SshPublicKeyName}"
        }
      },
      "required": [
        "privateKey",
        "publicKey",
        "id"
      ]
    },
    "SshPublicKeyResource": {
      "description": "Specifies information about the SSH public key.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SshPublicKeyResourceProperties",
          "description": "Properties of the SSH public key.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "SshPublicKeyResourceProperties": {
      "description": "Properties of the SSH public key.",
      "properties": {
        "publicKey": {
          "type": "string",
          "description": "SSH public key used to authenticate to a virtual machine through ssh. If this property is not initially provided when the resource is created, the publicKey property will be populated when generateKeyPair is called. If the public key is provided upon resource creation, the provided public key needs to be at least 2048-bit and in ssh-rsa format."
        }
      }
    },
    "SshPublicKeyUpdateResource": {
      "description": "Specifies information about the SSH public key.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SshPublicKeyResourceProperties",
          "description": "Properties of the SSH public key.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "./computeRPCommon.json#/definitions/UpdateResource"
        }
      ]
    },
    "SshPublicKeysGroupListResult": {
      "description": "The list SSH public keys operation response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of SSH public keys",
          "items": {
            "$ref": "#/definitions/SshPublicKeyResource"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page of SSH public keys. Call ListNext() with this URI to fetch the next page of SSH public keys."
        }
      },
      "required": [
        "value"
      ]
    }
  }
}