{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "version": "2024-07-01",
    "description": "The Compute Management Client."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListByLocation",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Gets all the virtual machines under the specified subscription for the specified location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location for which virtual machines under the subscription are queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Lists all the virtual machines under the specified subscription for the specified location.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ListBySubscription_ByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_ListAll",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Lists all of the virtual machines in the specified subscription. Use the nextLink property in the response to get the next page of virtual machines.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "statusOnly",
            "in": "query",
            "description": "statusOnly=true enables fetching run time status of all Virtual Machines in the subscription.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The system query option to filter VMs returned in the response. Allowed value is 'virtualMachineScaleSet/id' eq /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on operation. 'instanceView' enables fetching run time status of all Virtual Machines, this can only be specified if a valid $filter option is specified",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForListVMs",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_ListAll_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ListAll_MaximumSet_Gen.json"
          },
          "VirtualMachine_ListAll_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ListAll_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines": {
      "get": {
        "operationId": "VirtualMachines_List",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Lists all of the virtual machines in the specified resource group. Use the nextLink property in the response to get the next page of virtual machines.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The system query option to filter VMs returned in the response. Allowed value is 'virtualMachineScaleSet/id' eq /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmssName}'",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on operation. 'instanceView' enables fetching run time status of all Virtual Machines, this can only be specified if a valid $filter option is specified",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "ExpandTypeForListVMs",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_List_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_List_MaximumSet_Gen.json"
          },
          "VirtualMachine_List_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}": {
      "get": {
        "operationId": "VirtualMachines_Get",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Retrieves information about the model view or the instance view of a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' retrieves a snapshot of the runtime properties of the virtual machine that is managed by the platform and can change outside of control plane operations. 'UserData' retrieves the UserData property as part of the VM model view that was provided by the user during the VM Create/Update operation.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView",
              "userData"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": false
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a Virtual Machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Get.json"
          },
          "Get a virtual machine placed on a dedicated host group through automatic placement": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Get_AutoPlacedOnDedicatedHostGroup.json"
          },
          "Get a virtual machine with Disk Controller Type Properties": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Get_WithDiskControllerType.json"
          },
          "Get a virtual machine with VM Size Properties": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Get_WithVMSizeProperties.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualMachines_CreateOrUpdate",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to create or update a virtual machine. Please note some properties can be set only during virtual machine creation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Virtual Machine operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a Linux vm with a patch setting assessmentMode of ImageDefault.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_LinuxVmWithPatchSettingAssessmentModeOfImageDefault.json"
          },
          "Create a Linux vm with a patch setting patchMode of AutomaticByPlatform and AutomaticByPlatformSettings.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_LinuxVmWithAutomaticByPlatformSettings.json"
          },
          "Create a Linux vm with a patch setting patchMode of ImageDefault.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_LinuxVmWithPatchSettingModeOfImageDefault.json"
          },
          "Create a Linux vm with a patch settings patchMode and assessmentMode set to AutomaticByPlatform.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_LinuxVmWithPatchSettingModesOfAutomaticByPlatform.json"
          },
          "Create a VM from a community gallery image": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_FromACommunityGalleryImage.json"
          },
          "Create a VM from a shared gallery image": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_FromASharedGalleryImage.json"
          },
          "Create a VM with Disk Controller Type": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithDiskControllerType.json"
          },
          "Create a VM with HibernationEnabled": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithHibernationEnabled.json"
          },
          "Create a VM with ProxyAgent Settings of enabled and mode.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithProxyAgentSettings.json"
          },
          "Create a VM with Uefi Settings of secureBoot and vTPM.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithUefiSettings.json"
          },
          "Create a VM with UserData": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithUserData.json"
          },
          "Create a VM with VM Size Properties": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithVMSizeProperties.json"
          },
          "Create a VM with encryption identity": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithEncryptionIdentity.json"
          },
          "Create a VM with network interface configuration": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithNetworkInterfaceConfiguration.json"
          },
          "Create a VM with network interface configuration with public ip address dns settings": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithNetworkInterfaceConfigurationDnsSettings.json"
          },
          "Create a VM with securityType ConfidentialVM with Customer Managed Keys": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithSecurityTypeConfidentialVMWithCustomerManagedKeys.json"
          },
          "Create a VM with securityType ConfidentialVM with NonPersistedTPM securityEncryptionType": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithSecurityTypeConfidentialVMWithNonPersistedTPM.json"
          },
          "Create a VM with securityType ConfidentialVM with Platform Managed Keys": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithSecurityTypeConfidentialVM.json"
          },
          "Create a Windows vm with a patch setting assessmentMode of ImageDefault.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WindowsVmWithPatchSettingAssessmentModeOfImageDefault.json"
          },
          "Create a Windows vm with a patch setting patchMode of AutomaticByOS.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WindowsVmWithPatchSettingModeOfAutomaticByOS.json"
          },
          "Create a Windows vm with a patch setting patchMode of AutomaticByPlatform and AutomaticByPlatformSettings.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WindowsVmWithAutomaticByPlatformSettings.json"
          },
          "Create a Windows vm with a patch setting patchMode of AutomaticByPlatform and enableHotpatching set to true.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WindowsVmWithPatchSettingModeOfAutomaticByPlatformAndEnableHotPatchingTrue.json"
          },
          "Create a Windows vm with a patch setting patchMode of Manual.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WindowsVmWithPatchSettingModeOfManual.json"
          },
          "Create a Windows vm with patch settings patchMode and assessmentMode set to AutomaticByPlatform.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WindowsVmWithPatchSettingModesOfAutomaticByPlatform.json"
          },
          "Create a custom-image vm from an unmanaged generalized os image.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_CustomImageVmFromAnUnmanagedGeneralizedOsImage.json"
          },
          "Create a platform-image vm with unmanaged os and data disks.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_PlatformImageVmWithUnmanagedOsAndDataDisks.json"
          },
          "Create a vm from a custom image.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_FromACustomImage.json"
          },
          "Create a vm from a generalized shared image.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_FromAGeneralizedSharedImage.json"
          },
          "Create a vm from a specialized shared image.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_FromASpecializedSharedImage.json"
          },
          "Create a vm in a Virtual Machine Scale Set with customer assigned platformFaultDomain.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_InAVmssWithCustomerAssignedPlatformFaultDomain.json"
          },
          "Create a vm in an availability set.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_InAnAvailabilitySet.json"
          },
          "Create a vm with Application Profile.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithApplicationProfile.json"
          },
          "Create a vm with DiskEncryptionSet resource id in the os disk and data disk.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithDiskEncryptionSetResource.json"
          },
          "Create a vm with Host Encryption using encryptionAtHost property.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithEncryptionAtHost.json"
          },
          "Create a vm with Scheduled Events Profile": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithScheduledEventsProfile.json"
          },
          "Create a vm with a marketplace image plan.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithAMarketplaceImagePlan.json"
          },
          "Create a vm with an extensions time budget.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithExtensionsTimeBudget.json"
          },
          "Create a vm with boot diagnostics.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithBootDiagnostics.json"
          },
          "Create a vm with data disks using 'Copy' and 'Restore' options.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithDataDisksFromSourceResource.json"
          },
          "Create a vm with empty data disks.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithEmptyDataDisks.json"
          },
          "Create a vm with ephemeral os disk provisioning in Cache disk using placement property.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithADiffOsDiskUsingDiffDiskPlacementAsCacheDisk.json"
          },
          "Create a vm with ephemeral os disk provisioning in Nvme disk using placement property.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithADiffOsDiskUsingDiffDiskPlacementAsNvmeDisk.json"
          },
          "Create a vm with ephemeral os disk provisioning in Resource disk using placement property.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithADiffOsDiskUsingDiffDiskPlacementAsResourceDisk.json"
          },
          "Create a vm with ephemeral os disk.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithADiffOsDisk.json"
          },
          "Create a vm with managed boot diagnostics.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithManagedBootDiagnostics.json"
          },
          "Create a vm with password authentication.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithPasswordAuthentication.json"
          },
          "Create a vm with premium storage.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithPremiumStorage.json"
          },
          "Create a vm with ssh authentication.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithSshAuthentication.json"
          },
          "Create or update a VM with capacity reservation": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Create_WithCapacityReservation.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualMachines_Update",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to update a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update Virtual Machine operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachine"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update a VM by detaching data disk": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Update_DetachDataDiskUsingToBeDetachedProperty.json"
          },
          "Update a VM by force-detaching data disk": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Update_ForceDetachDataDisk.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualMachines_Delete",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to delete a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forceDeletion",
            "in": "query",
            "description": "Optional parameter to force delete virtual machines.",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Force delete a VM": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Delete_Force.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/assessPatches": {
      "post": {
        "operationId": "VirtualMachines_AssessPatches",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Assess patches on the VM.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineAssessPatchesResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Assess patch state of a virtual machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_AssessPatches.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/attachDetachDataDisks": {
      "post": {
        "operationId": "VirtualMachines_AttachDetachDataDisks",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Attach and detach data disks to/from the virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the attach and detach data disks operation on the virtual machine.",
            "required": true,
            "schema": {
              "$ref": "./computeRPCommon.json#/definitions/AttachDetachDataDisksRequest"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./computeRPCommon.json#/definitions/StorageProfile"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_AttachDetachDataDisks_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_AttachDetachDataDisks_MaximumSet_Gen.json"
          },
          "VirtualMachine_AttachDetachDataDisks_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_AttachDetachDataDisks_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/capture": {
      "post": {
        "operationId": "VirtualMachines_Capture",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Captures the VM by copying virtual hard disks of the VM and outputs a template that can be used to create similar VMs.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Capture Virtual Machine operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineCaptureParameters"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineCaptureResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_Capture_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Capture_MaximumSet_Gen.json"
          },
          "VirtualMachine_Capture_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Capture_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/convertToManagedDisks": {
      "post": {
        "operationId": "VirtualMachines_ConvertToManagedDisks",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Converts virtual machine disks from blob-based to managed disks. Virtual machine must be stop-deallocated before invoking this operation.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_ConvertToManagedDisks_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ConvertToManagedDisks_MaximumSet_Gen.json"
          },
          "VirtualMachine_ConvertToManagedDisks_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ConvertToManagedDisks_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/deallocate": {
      "post": {
        "operationId": "VirtualMachines_Deallocate",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Shuts down the virtual machine and releases the compute resources. You are not billed for the compute resources that this virtual machine uses.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hibernate",
            "in": "query",
            "description": "Optional parameter to hibernate a virtual machine.",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_Deallocate_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Deallocate_MaximumSet_Gen.json"
          },
          "VirtualMachine_Deallocate_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Deallocate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions": {
      "get": {
        "operationId": "VirtualMachineExtensions_List",
        "tags": [
          "VirtualMachineExtensions"
        ],
        "description": "The operation to get all extensions of a Virtual Machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine containing the extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtensionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineExtension_List_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_List_MaximumSet_Gen.json"
          },
          "VirtualMachineExtension_List_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/extensions/{vmExtensionName}": {
      "get": {
        "operationId": "VirtualMachineExtensions_Get",
        "tags": [
          "VirtualMachineExtensions"
        ],
        "description": "The operation to get the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine containing the extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmExtensionName",
            "in": "path",
            "description": "The name of the virtual machine extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineExtension_Get_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_Get_MaximumSet_Gen.json"
          },
          "VirtualMachineExtension_Get_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualMachineExtensions_CreateOrUpdate",
        "tags": [
          "VirtualMachineExtensions"
        ],
        "description": "The operation to create or update the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine where the extension should be created or updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmExtensionName",
            "in": "path",
            "description": "The name of the virtual machine extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "description": "Parameters supplied to the Create Virtual Machine Extension operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineExtension_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualMachineExtension_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualMachineExtensions_Update",
        "tags": [
          "VirtualMachineExtensions"
        ],
        "description": "The operation to update the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine where the extension should be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmExtensionName",
            "in": "path",
            "description": "The name of the virtual machine extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "description": "Parameters supplied to the Update Virtual Machine Extension operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtensionUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update VM extension.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_Update.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualMachineExtensions_Delete",
        "tags": [
          "VirtualMachineExtensions"
        ],
        "description": "The operation to delete the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine where the extension should be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmExtensionName",
            "in": "path",
            "description": "The name of the virtual machine extension.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineExtension_Delete_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_Delete_MaximumSet_Gen.json"
          },
          "VirtualMachineExtension_Delete_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachineExtension_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/generalize": {
      "post": {
        "operationId": "VirtualMachines_Generalize",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Sets the OS state of the virtual machine to generalized. It is recommended to sysprep the virtual machine before performing this operation. For Windows, please refer to [Create a managed image of a generalized VM in Azure](https://docs.microsoft.com/azure/virtual-machines/windows/capture-image-resource). For Linux, please refer to [How to create an image of a virtual machine or VHD](https://docs.microsoft.com/azure/virtual-machines/linux/capture-image).",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Generalize a Virtual Machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Generalize.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/installPatches": {
      "post": {
        "operationId": "VirtualMachines_InstallPatches",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Installs patches on the VM.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "installPatchesInput",
            "in": "body",
            "description": "Input for InstallPatches as directly received by the API",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstallPatchesParameters"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstallPatchesResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Install patch state of a virtual machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_InstallPatches.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/instanceView": {
      "get": {
        "operationId": "VirtualMachines_InstanceView",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Retrieves information about the run-time state of a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineInstanceView"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Virtual Machine Instance View.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Get_InstanceView.json"
          },
          "Get instance view of a virtual machine placed on a dedicated host group through automatic placement.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Get_InstanceViewAutoPlacedOnDedicatedHostGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/performMaintenance": {
      "post": {
        "operationId": "VirtualMachines_PerformMaintenance",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to perform maintenance on a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_PerformMaintenance_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_PerformMaintenance_MaximumSet_Gen.json"
          },
          "VirtualMachine_PerformMaintenance_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_PerformMaintenance_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/powerOff": {
      "post": {
        "operationId": "VirtualMachines_PowerOff",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to power off (stop) a virtual machine. The virtual machine can be restarted with the same provisioned resources. You are still charged for this virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "skipShutdown",
            "in": "query",
            "description": "The parameter to request non-graceful VM shutdown. True value for this flag indicates non-graceful shutdown whereas false indicates otherwise. Default value for this flag is false if not specified",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_PowerOff_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_PowerOff_MaximumSet_Gen.json"
          },
          "VirtualMachine_PowerOff_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_PowerOff_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/reapply": {
      "post": {
        "operationId": "VirtualMachines_Reapply",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to reapply a virtual machine's state.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Reapply the state of a virtual machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Reapply.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/redeploy": {
      "post": {
        "operationId": "VirtualMachines_Redeploy",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Shuts down the virtual machine, moves it to a new node, and powers it back on.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_Redeploy_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Redeploy_MaximumSet_Gen.json"
          },
          "VirtualMachine_Redeploy_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Redeploy_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/reimage": {
      "post": {
        "operationId": "VirtualMachines_Reimage",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Reimages (upgrade the operating system) a virtual machine which don't have a ephemeral OS disk, for virtual machines who have a ephemeral OS disk the virtual machine is reset to initial state. NOTE: The retaining of old OS disk depends on the value of deleteOption of OS disk. If deleteOption is detach, the old OS disk will be preserved after reimage. If deleteOption is delete, the old OS disk will be deleted after reimage. The deleteOption of the OS disk should be updated accordingly before performing the reimage.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Reimage Virtual Machine operation.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineReimageParameters"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Reimage a Non-Ephemeral Virtual Machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Reimage_NonEphemeralVMs.json"
          },
          "Reimage a Virtual Machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Reimage.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/restart": {
      "post": {
        "operationId": "VirtualMachines_Restart",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to restart a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_Restart_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Restart_MaximumSet_Gen.json"
          },
          "VirtualMachine_Restart_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Restart_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/retrieveBootDiagnosticsData": {
      "post": {
        "operationId": "VirtualMachines_RetrieveBootDiagnosticsData",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to retrieve SAS URIs for a virtual machine's boot diagnostic logs.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "sasUriExpirationTimeInMinutes",
            "in": "query",
            "description": "Expiration duration in minutes for the SAS URIs with a value between 1 to 1440 minutes. **Note:** If not specified, SAS URIs will be generated with a default expiration duration of 120 minutes.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RetrieveBootDiagnosticsDataResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "RetrieveBootDiagnosticsData of a virtual machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_RetrieveBootDiagnosticsData.json"
          }
        },
        "x-ms-long-running-operation": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/simulateEviction": {
      "post": {
        "operationId": "VirtualMachines_SimulateEviction",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to simulate the eviction of spot virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Simulate Eviction a virtual machine.": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_SimulateEviction.json"
          }
        },
        "x-ms-long-running-operation": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/start": {
      "post": {
        "operationId": "VirtualMachines_Start",
        "tags": [
          "VirtualMachines"
        ],
        "description": "The operation to start a virtual machine.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachine_Start_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Start_MaximumSet_Gen.json"
          },
          "VirtualMachine_Start_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_Start_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachines/{vmName}/vmSizes": {
      "get": {
        "operationId": "VirtualMachines_ListAvailableSizes",
        "tags": [
          "VirtualMachines"
        ],
        "description": "Lists all available virtual machine sizes to which the specified virtual machine can be resized.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmName",
            "in": "path",
            "description": "The name of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./computeRPCommon.json#/definitions/VirtualMachineSizeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Lists all available virtual machine sizes to which the specified virtual machine can be resized": {
            "$ref": "./examples/virtualMachineExamples/VirtualMachine_ListAvailableVmSizes.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "AvailablePatchSummary": {
      "description": "Describes the properties of an virtual machine instance view for available patch summary.",
      "properties": {
        "status": {
          "type": "string",
          "description": "The overall success or failure status of the operation. It remains \"InProgress\" until the operation completes. At that point it will become \"Unknown\", \"Failed\", \"Succeeded\", or \"CompletedWithWarnings.\"",
          "enum": [
            "Unknown",
            "InProgress",
            "Failed",
            "Succeeded",
            "CompletedWithWarnings"
          ],
          "x-ms-enum": {
            "name": "PatchOperationStatus",
            "modelAsString": true
          },
          "readOnly": true
        },
        "assessmentActivityId": {
          "type": "string",
          "description": "The activity ID of the operation that produced this result. It is used to correlate across CRP and extension logs.",
          "readOnly": true
        },
        "rebootPending": {
          "type": "boolean",
          "description": "The overall reboot status of the VM. It will be true when partially installed patches require a reboot to complete installation but the reboot has not yet occurred.",
          "readOnly": true
        },
        "criticalAndSecurityPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of critical or security patches that have been detected as available and not yet installed.",
          "readOnly": true
        },
        "otherPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of all available patches excluding critical and security.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC timestamp when the operation began.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC timestamp when the operation began.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../common-types/v1/common.json#/definitions/ApiError",
          "description": "The errors that were encountered during execution of the operation. The details array contains the list of them.",
          "readOnly": true
        }
      }
    },
    "LastPatchInstallationSummary": {
      "description": "Describes the properties of the last installed patch summary.",
      "properties": {
        "status": {
          "type": "string",
          "description": "The overall success or failure status of the operation. It remains \"InProgress\" until the operation completes. At that point it will become \"Unknown\", \"Failed\", \"Succeeded\", or \"CompletedWithWarnings.\"",
          "enum": [
            "Unknown",
            "InProgress",
            "Failed",
            "Succeeded",
            "CompletedWithWarnings"
          ],
          "x-ms-enum": {
            "name": "PatchOperationStatus",
            "modelAsString": true
          },
          "readOnly": true
        },
        "installationActivityId": {
          "type": "string",
          "description": "The activity ID of the operation that produced this result. It is used to correlate across CRP and extension logs.",
          "readOnly": true
        },
        "maintenanceWindowExceeded": {
          "type": "boolean",
          "description": "Describes whether the operation ran out of time before it completed all its intended actions",
          "readOnly": true
        },
        "notSelectedPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of all available patches but not going to be installed because it didn't match a classification or inclusion list entry.",
          "readOnly": true
        },
        "excludedPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of all available patches but excluded explicitly by a customer-specified exclusion list match.",
          "readOnly": true
        },
        "pendingPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of all available patches expected to be installed over the course of the patch installation operation.",
          "readOnly": true
        },
        "installedPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The count of patches that successfully installed.",
          "readOnly": true
        },
        "failedPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The count of patches that failed installation.",
          "readOnly": true
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC timestamp when the operation began.",
          "readOnly": true
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC timestamp when the operation began.",
          "readOnly": true
        },
        "error": {
          "$ref": "../../../common-types/v1/common.json#/definitions/ApiError",
          "description": "The errors that were encountered during execution of the operation. The details array contains the list of them.",
          "readOnly": true
        }
      }
    },
    "LinuxParameters": {
      "description": "Input for InstallPatches on a Linux VM, as directly received by the API",
      "properties": {
        "classificationsToInclude": {
          "type": "array",
          "description": "The update classifications to select when installing patches for Linux.",
          "items": {
            "type": "string",
            "enum": [
              "Critical",
              "Security",
              "Other"
            ],
            "x-ms-enum": {
              "name": "VMGuestPatchClassification_Linux",
              "modelAsString": true
            }
          }
        },
        "packageNameMasksToInclude": {
          "type": "array",
          "description": "packages to include in the patch operation. Format: packageName_packageVersion",
          "items": {
            "type": "string"
          }
        },
        "packageNameMasksToExclude": {
          "type": "array",
          "description": "packages to exclude in the patch operation. Format: packageName_packageVersion",
          "items": {
            "type": "string"
          }
        },
        "maintenanceRunId": {
          "type": "string",
          "description": "This is used as a maintenance run identifier for Auto VM Guest Patching in Linux."
        }
      }
    },
    "OSProfileProvisioningData": {
      "type": "object",
      "description": "Additional parameters for Reimaging Non-Ephemeral Virtual Machine.",
      "properties": {
        "adminPassword": {
          "type": "string",
          "description": "Specifies the password of the administrator account. <br><br> **Minimum-length (Windows):** 8 characters <br><br> **Minimum-length (Linux):** 6 characters <br><br> **Max-length (Windows):** 123 characters <br><br> **Max-length (Linux):** 72 characters <br><br> **Complexity requirements:** 3 out of 4 conditions below need to be fulfilled <br> Has lower characters <br>Has upper characters <br> Has a digit <br> Has a special character (Regex match [\\W_]) <br><br> **Disallowed values:** \"abc@123\", \"P@$$w0rd\", \"P@ssw0rd\", \"P@ssword123\", \"Pa$$word\", \"pass@word1\", \"Password!\", \"Password1\", \"Password22\", \"iloveyou!\" <br><br> For resetting the password, see [How to reset the Remote Desktop service or its login password in a Windows VM](https://docs.microsoft.com/troubleshoot/azure/virtual-machines/reset-rdp) <br><br> For resetting root password, see [Manage users, SSH, and check or repair disks on Azure Linux VMs using the VMAccess Extension](https://docs.microsoft.com/troubleshoot/azure/virtual-machines/troubleshoot-ssh-connection)",
          "x-ms-secret": true
        },
        "customData": {
          "type": "string",
          "description": "Specifies a base-64 encoded string of custom data. The base-64 encoded string is decoded to a binary array that is saved as a file on the Virtual Machine. The maximum length of the binary array is 65535 bytes. **Note: Do not pass any secrets or passwords in customData property.** This property cannot be updated after the VM is created. The property customData is passed to the VM to be saved as a file, for more information see [Custom Data on Azure VMs](https://azure.microsoft.com/blog/custom-data-and-cloud-init-on-windows-azure/). If using cloud-init for your Linux VM, see [Using cloud-init to customize a Linux VM during creation](https://docs.microsoft.com/azure/virtual-machines/linux/using-cloud-init)."
        }
      }
    },
    "PatchInstallationDetail": {
      "description": "Information about a specific patch that was encountered during an installation action.",
      "properties": {
        "patchId": {
          "type": "string",
          "description": "A unique identifier for the patch.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The friendly name of the patch.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "The version string of the package. It may conform to Semantic Versioning. Only applies to Linux.",
          "readOnly": true
        },
        "kbId": {
          "type": "string",
          "description": "The KBID of the patch. Only applies to Windows patches.",
          "readOnly": true
        },
        "classifications": {
          "type": "array",
          "description": "The classification(s) of the patch as provided by the patch publisher.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "installationState": {
          "type": "string",
          "description": "The state of the patch after the installation operation completed.",
          "enum": [
            "Unknown",
            "Installed",
            "Failed",
            "Excluded",
            "NotSelected",
            "Pending"
          ],
          "x-ms-enum": {
            "name": "PatchInstallationState",
            "modelAsString": true
          },
          "readOnly": true
        }
      }
    },
    "RetrieveBootDiagnosticsDataResult": {
      "description": "The SAS URIs of the console screenshot and serial log blobs.",
      "properties": {
        "consoleScreenshotBlobUri": {
          "type": "string",
          "description": "The console screenshot blob URI",
          "readOnly": true
        },
        "serialConsoleLogBlobUri": {
          "type": "string",
          "description": "The serial console log blob URI.",
          "readOnly": true
        }
      }
    },
    "VirtualMachine": {
      "description": "Describes a Virtual Machine.",
      "properties": {
        "plan": {
          "$ref": "./computeRPCommon.json#/definitions/Plan",
          "description": "Specifies information about the marketplace image used to create the virtual machine. This element is only used for marketplace images. Before you can use a marketplace image from an API, you must enable the image for programmatic use.  In the Azure portal, find the marketplace image that you want to use and then click **Want to deploy programmatically, Get Started ->**. Enter any required information and then click **Save**."
        },
        "properties": {
          "$ref": "#/definitions/VirtualMachineProperties",
          "x-ms-client-flatten": true
        },
        "resources": {
          "type": "array",
          "description": "The virtual machine child extension resources.",
          "items": {
            "$ref": "#/definitions/VirtualMachineExtension"
          },
          "readOnly": true
        },
        "identity": {
          "$ref": "#/definitions/VirtualMachineIdentity",
          "description": "The identity of the virtual machine, if configured."
        },
        "zones": {
          "type": "array",
          "description": "The virtual machine zones.",
          "items": {
            "type": "string"
          }
        },
        "extendedLocation": {
          "$ref": "../../../common-types/v1/common.json#/definitions/ExtendedLocation",
          "description": "The extended location of the Virtual Machine."
        },
        "managedBy": {
          "type": "string",
          "description": "ManagedBy is set to Virtual Machine Scale Set(VMSS) flex ARM resourceID, if the VM is part of the VMSS. This property is used by platform for internal resource group delete optimization.",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Etag is property returned in Create/Update/Get response of the VM, so that customer can supply it in the header to ensure optimistic updates.",
          "readOnly": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/Resource"
        }
      ]
    },
    "VirtualMachineAgentInstanceView": {
      "description": "The instance view of the VM Agent running on the virtual machine.",
      "properties": {
        "vmAgentVersion": {
          "type": "string",
          "description": "The VM Agent full version."
        },
        "extensionHandlers": {
          "type": "array",
          "description": "The virtual machine extension handler instance view.",
          "items": {
            "$ref": "#/definitions/VirtualMachineExtensionHandlerInstanceView"
          },
          "x-ms-identifiers": []
        },
        "statuses": {
          "type": "array",
          "description": "The resource status information.",
          "items": {
            "$ref": "./computeRPCommon.json#/definitions/InstanceViewStatus"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "VirtualMachineAssessPatchesResult": {
      "description": "Describes the properties of an AssessPatches result.",
      "properties": {
        "status": {
          "type": "string",
          "description": "The overall success or failure status of the operation. It remains \"InProgress\" until the operation completes. At that point it will become \"Unknown\", \"Failed\", \"Succeeded\", or \"CompletedWithWarnings.\"",
          "enum": [
            "Unknown",
            "InProgress",
            "Failed",
            "Succeeded",
            "CompletedWithWarnings"
          ],
          "x-ms-enum": {
            "name": "PatchOperationStatus",
            "modelAsString": true
          },
          "readOnly": true
        },
        "assessmentActivityId": {
          "type": "string",
          "description": "The activity ID of the operation that produced this result. It is used to correlate across CRP and extension logs.",
          "readOnly": true
        },
        "rebootPending": {
          "type": "boolean",
          "description": "The overall reboot status of the VM. It will be true when partially installed patches require a reboot to complete installation but the reboot has not yet occurred.",
          "readOnly": true
        },
        "criticalAndSecurityPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of critical or security patches that have been detected as available and not yet installed.",
          "readOnly": true
        },
        "otherPatchCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of all available patches excluding critical and security.",
          "readOnly": true
        },
        "startDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC timestamp when the operation began.",
          "readOnly": true
        },
        "availablePatches": {
          "type": "array",
          "description": "The list of patches that have been detected as available for installation.",
          "items": {
            "$ref": "#/definitions/VirtualMachineSoftwarePatchProperties",
            "x-ms-client-flatten": true
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "patchId"
          ]
        },
        "error": {
          "$ref": "../../../common-types/v1/common.json#/definitions/ApiError",
          "description": "The errors that were encountered during execution of the operation. The details array contains the list of them.",
          "readOnly": true
        }
      }
    },
    "VirtualMachineCaptureParameters": {
      "description": "Capture Virtual Machine parameters.",
      "properties": {
        "vhdPrefix": {
          "type": "string",
          "description": "The captured virtual hard disk's name prefix."
        },
        "destinationContainerName": {
          "type": "string",
          "description": "The destination container name."
        },
        "overwriteVhds": {
          "type": "boolean",
          "description": "Specifies whether to overwrite the destination virtual hard disk, in case of conflict."
        }
      },
      "required": [
        "vhdPrefix",
        "destinationContainerName",
        "overwriteVhds"
      ]
    },
    "VirtualMachineCaptureResult": {
      "description": "Output of virtual machine capture operation.",
      "properties": {
        "$schema": {
          "type": "string",
          "description": "the schema of the captured virtual machine",
          "readOnly": true
        },
        "contentVersion": {
          "type": "string",
          "description": "the version of the content",
          "readOnly": true
        },
        "parameters": {
          "type": "object",
          "description": "parameters of the captured virtual machine",
          "readOnly": true
        },
        "resources": {
          "type": "array",
          "description": "a list of resource items of the captured virtual machine",
          "items": {
            "type": "object",
            "description": "resource item"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/SubResource"
        }
      ],
      "x-ms-azure-resource": true
    },
    "VirtualMachineExtension": {
      "description": "Describes a Virtual Machine Extension.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/VirtualMachineExtensionProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/v1/common.json#/definitions/ResourceWithOptionalLocation"
        }
      ]
    },
    "VirtualMachineExtensionHandlerInstanceView": {
      "description": "The instance view of a virtual machine extension handler.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "status": {
          "$ref": "./computeRPCommon.json#/definitions/InstanceViewStatus",
          "description": "The extension handler status."
        }
      }
    },
    "VirtualMachineExtensionInstanceView": {
      "description": "The instance view of a virtual machine extension.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The virtual machine extension name."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "substatuses": {
          "type": "array",
          "description": "The resource status information.",
          "items": {
            "$ref": "./computeRPCommon.json#/definitions/InstanceViewStatus"
          },
          "x-ms-identifiers": []
        },
        "statuses": {
          "type": "array",
          "description": "The resource status information.",
          "items": {
            "$ref": "./computeRPCommon.json#/definitions/InstanceViewStatus"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "VirtualMachineExtensionProperties": {
      "description": "Describes the properties of a Virtual Machine Extension.",
      "properties": {
        "forceUpdateTag": {
          "type": "string",
          "description": "How the extension handler should be forced to update even if the extension configuration has not changed."
        },
        "publisher": {
          "type": "string",
          "description": "The name of the extension handler publisher."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the extension; an example is \"CustomScriptExtension\"."
        },
        "typeHandlerVersion": {
          "type": "string",
          "description": "Specifies the version of the script handler."
        },
        "autoUpgradeMinorVersion": {
          "type": "boolean",
          "description": "Indicates whether the extension should use a newer minor version if one is available at deployment time. Once deployed, however, the extension will not upgrade minor versions unless redeployed, even with this property set to true."
        },
        "enableAutomaticUpgrade": {
          "type": "boolean",
          "description": "Indicates whether the extension should be automatically upgraded by the platform if there is a newer version of the extension available."
        },
        "settings": {
          "type": "object",
          "description": "Json formatted public settings for the extension."
        },
        "protectedSettings": {
          "type": "object",
          "description": "The extension can contain either protectedSettings or protectedSettingsFromKeyVault or no protected settings at all."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state, which only appears in the response.",
          "readOnly": true
        },
        "instanceView": {
          "$ref": "#/definitions/VirtualMachineExtensionInstanceView",
[...]
