{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "version": "2024-07-01",
    "description": "The Compute Management Client."
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/virtualMachineScaleSets": {
      "get": {
        "operationId": "VirtualMachineScaleSets_ListByLocation",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets all the VM scale sets under the specified subscription for the specified location.",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "The location for which VM scale sets under the subscription are queried.",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Lists all the VM scale sets under the specified subscription for the specified location.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ListBySubscription_ByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/virtualMachineScaleSets": {
      "get": {
        "operationId": "VirtualMachineScaleSets_ListAll",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets a list of all VM Scale Sets in the subscription, regardless of the associated resource group. Use nextLink property in the response to get the next page of VM Scale Sets. Do this till nextLink is null to fetch all the VM Scale Sets.",
        "parameters": [
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListWithLinkResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_ListAll_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ListAll_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_ListAll_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ListAll_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets": {
      "get": {
        "operationId": "VirtualMachineScaleSets_List",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets a list of all VM scale sets under a resource group.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_List_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_List_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_List_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}": {
      "get": {
        "operationId": "VirtualMachineScaleSets_Get",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Display information about a virtual machine scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'UserData' retrieves the UserData property of the VM scale set that was provided by the user during the VM scale set Create/Update operation",
            "required": false,
            "type": "string",
            "enum": [
              "userData"
            ],
            "x-ms-enum": {
              "name": "ExpandTypesForGetVMScaleSets",
              "modelAsString": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get VM scale set VM with Disk Controller Type": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Get_WithDiskControllerType.json"
          },
          "Get a virtual machine scale set": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Get.json"
          },
          "Get a virtual machine scale set placed on a dedicated host group through automatic placement.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Get_AutoPlacedOnDedicatedHostGroup.json"
          },
          "Get a virtual machine scale set with UserData": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Get_WithUserData.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualMachineScaleSets_CreateOrUpdate",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Create or update a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set to create or update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The scale set object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSet"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSet"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a VMSS with an extension that has suppressFailures enabled": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithExtensionsSuppressFailuresEnabled.json"
          },
          "Create a VMSS with an extension with protectedSettingsFromKeyVault": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithProtectedSettingsFromKeyVault.json"
          },
          "Create a custom-image scale set from an unmanaged generalized os image.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_CustomImageFromAnUnmanagedGeneralizedOsImage.json"
          },
          "Create a platform-image scale set with unmanaged os disks.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_PlatformImageWithUnmanagedOsDisks.json"
          },
          "Create a scale set from a custom image.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_FromACustomImage.json"
          },
          "Create a scale set from a generalized shared image.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_FromAGeneralizedSharedImage.json"
          },
          "Create a scale set from a specialized shared image.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_FromASpecializedSharedImage.json"
          },
          "Create a scale set where nic config has DisableTcpStateTracking property": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_FromWithDisableTcpStateTrackingNetworkInterface.json"
          },
          "Create a scale set with Application Profile": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithApplicationProfile.json"
          },
          "Create a scale set with Disk Controller Type": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithDiskControllerType.json"
          },
          "Create a scale set with DiskEncryptionSet resource in os disk and data disk.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithDiskEncryptionSetResource.json"
          },
          "Create a scale set with Fpga Network Interfaces.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_FromWithFpgaNetworkInterface.json"
          },
          "Create a scale set with Host Encryption using encryptionAtHost property.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithEncryptionAtHost.json"
          },
          "Create a scale set with Network Interfaces with public ip address dns settings.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_FromWithNetworkInterfaceWithDnsSettings.json"
          },
          "Create a scale set with OS image scheduled events enabled.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithOSImageScheduledEventEnabled.json"
          },
          "Create a scale set with ProxyAgent Settings of enabled and mode.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithProxyAgentSettings.json"
          },
          "Create a scale set with Resilient VM Creation enabled": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithResilientVMCreationPolicy.json"
          },
          "Create a scale set with Resilient VM Deletion enabled": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithResilientVMDeletionPolicy.json"
          },
          "Create a scale set with Security Posture Reference": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSecurityPostureReference.json"
          },
          "Create a scale set with SecurityType as ConfidentialVM": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSecurityTypeConfidentialVM.json"
          },
          "Create a scale set with SecurityType as ConfidentialVM and NonPersistedTPM securityEncryptionType": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSecurityTypeConfidentialVMWithNonPersistedTPM.json"
          },
          "Create a scale set with Service Artifact Reference": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithServiceArtifactReference.json"
          },
          "Create a scale set with Uefi Settings of secureBoot and vTPM.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithUefiSettings.json"
          },
          "Create a scale set with a marketplace image plan.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithAMarketplaceImagePlan.json"
          },
          "Create a scale set with an azure application gateway.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithAzureApplicationGateway.json"
          },
          "Create a scale set with an azure load balancer.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithAzureLoadBalancer.json"
          },
          "Create a scale set with automatic repairs enabled": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithAutomaticRepairs.json"
          },
          "Create a scale set with boot diagnostics.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithBootDiagnostics.json"
          },
          "Create a scale set with empty data disks on each vm.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithEmptyDataDisksOnEachVm.json"
          },
          "Create a scale set with ephemeral os disk provisioning in Nvme disk using placement property.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_CreateA_WithDiffOsDiskUsingDiffDiskPlacementAsNvmeDisk.json"
          },
          "Create a scale set with ephemeral os disks using placement property.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_CreateA_WithDiffOsDiskUsingDiffDiskPlacement.json"
          },
          "Create a scale set with ephemeral os disks.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithDiffOsDisk.json"
          },
          "Create a scale set with extension time budget.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithExtensionsTimeBudget.json"
          },
          "Create a scale set with managed boot diagnostics.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithManagedBootDiagnostics.json"
          },
          "Create a scale set with password authentication.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPasswordAuthentication.json"
          },
          "Create a scale set with premium storage.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPremiumStorage.json"
          },
          "Create a scale set with priority mix policy": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithPriorityMixPolicy.json"
          },
          "Create a scale set with scaleInPolicy.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithScaleInPolicy.json"
          },
          "Create a scale set with sku profile": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSkuProfile.json"
          },
          "Create a scale set with spot restore policy": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSpotRestorePolicy.json"
          },
          "Create a scale set with ssh authentication.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithSshAuthentication.json"
          },
          "Create a scale set with terminate scheduled events enabled.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithTerminateScheduledEventEnabled.json"
          },
          "Create a scale set with userData.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithUserData.json"
          },
          "Create a scale set with virtual machines in different zones.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithVMsInDifferentZones.json"
          },
          "Create a scale set with vm size properties": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithVMSizeProperties.json"
          },
          "Create a scale set with zonalPlatformFaultDomainAlignMode as Aligned": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithZonalPlatformFaultDomainAlignMode.json"
          },
          "Create or update a scale set with capacity reservation.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Create_WithCapacityReservation.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualMachineScaleSets_Update",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Update a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set to create or update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The scale set object.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_Update_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Update_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_Update_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualMachineScaleSets_Delete",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Deletes a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forceDeletion",
            "in": "query",
            "description": "Optional parameter to force delete a VM scale set. (Feature in Preview)",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Force Delete a VM scale set.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Delete_Force.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/approveRollingUpgrade": {
      "post": {
        "operationId": "VirtualMachineScaleSets_ApproveRollingUpgrade",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Approve upgrade on deferred rolling upgrades for OS disks in the virtual machines in a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceIDs"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_ApproveRollingUpgrade": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ApproveRollingUpgrade.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/convertToSinglePlacementGroup": {
      "post": {
        "operationId": "VirtualMachineScaleSets_ConvertToSinglePlacementGroup",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Converts SinglePlacementGroup property to false for a existing virtual machine scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the virtual machine scale set to create or update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The input object for ConvertToSinglePlacementGroup API.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VMScaleSetConvertToSinglePlacementGroupInput"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_ConvertToSinglePlacementGroup_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ConvertToSinglePlacementGroup_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_ConvertToSinglePlacementGroup_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ConvertToSinglePlacementGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/deallocate": {
      "post": {
        "operationId": "VirtualMachineScaleSets_Deallocate",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Deallocates specific virtual machines in a VM scale set. Shuts down the virtual machines and releases the compute resources. You are not billed for the compute resources that this virtual machine scale set deallocates.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceIDs"
            }
          },
          {
            "name": "hibernate",
            "in": "query",
            "description": "Optional parameter to hibernate a virtual machine from the VM scale set. (This feature is available for VMSS with Flexible OrchestrationMode only)",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_Deallocate_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Deallocate_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_Deallocate_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Deallocate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/delete": {
      "post": {
        "operationId": "VirtualMachineScaleSets_DeleteInstances",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Deletes virtual machines in a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceRequiredIDs"
            }
          },
          {
            "name": "forceDeletion",
            "in": "query",
            "description": "Optional parameter to force delete virtual machines from the VM scale set. (Feature in Preview)",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_DeleteInstances_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_DeleteInstances_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_DeleteInstances_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_DeleteInstances_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/extensionRollingUpgrade": {
      "post": {
        "operationId": "VirtualMachineScaleSetRollingUpgrades_StartExtensionUpgrade",
        "tags": [
          "VirtualMachineScaleSetRollingUpgrades"
        ],
        "description": "Starts a rolling upgrade to move all extensions for all virtual machine scale set instances to the latest available extension version. Instances which are already running the latest extension versions are not affected.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Start an extension rolling upgrade.": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_RollingUpgrade.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/extensions": {
      "get": {
        "operationId": "VirtualMachineScaleSetExtensions_List",
        "tags": [
          "VirtualMachineScaleSetExtensions"
        ],
        "description": "Gets a list of all extensions in a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set containing the extension.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetExtensionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetExtension_List_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_List_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetExtension_List_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/extensions/{vmssExtensionName}": {
      "get": {
        "operationId": "VirtualMachineScaleSetExtensions_Get",
        "tags": [
          "VirtualMachineScaleSetExtensions"
        ],
        "description": "The operation to get the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set containing the extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmssExtensionName",
            "in": "path",
            "description": "The name of the VM scale set extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetExtension_Get_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_Get_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetExtension_Get_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualMachineScaleSetExtensions_CreateOrUpdate",
        "tags": [
          "VirtualMachineScaleSetExtensions"
        ],
        "description": "The operation to create or update an extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set where the extension should be create or updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmssExtensionName",
            "in": "path",
            "description": "The name of the VM scale set extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "description": "Parameters supplied to the Create VM scale set Extension operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetExtension"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetExtension"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetExtension_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetExtension_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "VirtualMachineScaleSetExtensions_Update",
        "tags": [
          "VirtualMachineScaleSetExtensions"
        ],
        "description": "The operation to update an extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set where the extension should be updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmssExtensionName",
            "in": "path",
            "description": "The name of the VM scale set extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "description": "Parameters supplied to the Update VM scale set Extension operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetExtensionUpdate"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetExtension"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetExtension"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetExtension_Update_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_Update_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetExtension_Update_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualMachineScaleSetExtensions_Delete",
        "tags": [
          "VirtualMachineScaleSetExtensions"
        ],
        "description": "The operation to delete the extension.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set where the extension should be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmssExtensionName",
            "in": "path",
            "description": "The name of the VM scale set extension.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetExtension_Delete_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_Delete_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetExtension_Delete_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetExtension_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/forceRecoveryServiceFabricPlatformUpdateDomainWalk": {
      "post": {
        "operationId": "VirtualMachineScaleSets_ForceRecoveryServiceFabricPlatformUpdateDomainWalk",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Manual platform update domain walk to update virtual machines in a service fabric virtual machine scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "platformUpdateDomain",
            "in": "query",
            "description": "The platform update domain for which a manual recovery walk is requested",
            "required": true,
            "type": "integer"
          },
          {
            "name": "zone",
            "in": "query",
            "description": "The zone in which the manual recovery walk is requested for cross zone virtual machine scale set",
            "required": false,
            "type": "string"
          },
          {
            "name": "placementGroupId",
            "in": "query",
            "description": "The placement group id for which the manual recovery walk is requested.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RecoveryWalkResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_ForceRecoveryServiceFabricPlatformUpdateDomainWalk_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ForceRecoveryServiceFabricPlatformUpdateDomainWalk_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_ForceRecoveryServiceFabricPlatformUpdateDomainWalk_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ForceRecoveryServiceFabricPlatformUpdateDomainWalk_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/instanceView": {
      "get": {
        "operationId": "VirtualMachineScaleSets_GetInstanceView",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets the status of a VM scale set instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetInstanceView"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_GetInstanceView_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_GetInstanceView_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_GetInstanceView_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_GetInstanceView_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/manualupgrade": {
      "post": {
        "operationId": "VirtualMachineScaleSets_UpdateInstances",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Upgrades one or more virtual machines to the latest SKU set in the VM scale set model.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceRequiredIDs"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_UpdateInstances_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_UpdateInstances_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_UpdateInstances_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_UpdateInstances_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/osRollingUpgrade": {
      "post": {
        "operationId": "VirtualMachineScaleSetRollingUpgrades_StartOSUpgrade",
        "tags": [
          "VirtualMachineScaleSetRollingUpgrades"
        ],
        "description": "Starts a rolling upgrade to move all virtual machine scale set instances to the latest available Platform Image OS version. Instances which are already running the latest available OS version are not affected.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetRollingUpgrade_StartOSUpgrade_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetRollingUpgrade_StartOSUpgrade_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetRollingUpgrade_StartOSUpgrade_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetRollingUpgrade_StartOSUpgrade_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/osUpgradeHistory": {
      "get": {
        "operationId": "VirtualMachineScaleSets_GetOSUpgradeHistory",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets list of OS upgrades on a VM scale set instance.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListOSUpgradeHistory"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_GetOSUpgradeHistory_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_GetOSUpgradeHistory_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_GetOSUpgradeHistory_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_GetOSUpgradeHistory_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/performMaintenance": {
      "post": {
        "operationId": "VirtualMachineScaleSets_PerformMaintenance",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Perform maintenance on one or more virtual machines in a VM scale set. Operation on instances which are not eligible for perform maintenance will be failed. Please refer to best practices for more details: https://docs.microsoft.com/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-maintenance-notifications",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceIDs"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_PerformMaintenance_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_PerformMaintenance_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_PerformMaintenance_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_PerformMaintenance_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/poweroff": {
      "post": {
        "operationId": "VirtualMachineScaleSets_PowerOff",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Power off (stop) one or more virtual machines in a VM scale set. Note that resources are still attached and you are getting charged for the resources. Instead, use deallocate to release resources and avoid charges.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceIDs"
            }
          },
          {
            "name": "skipShutdown",
            "in": "query",
            "description": "The parameter to request non-graceful VM shutdown. True value for this flag indicates non-graceful shutdown whereas false indicates otherwise. Default value for this flag is false if not specified",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_PowerOff_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_PowerOff_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_PowerOff_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_PowerOff_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/reapply": {
      "post": {
        "operationId": "VirtualMachineScaleSets_Reapply",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Reapplies the Virtual Machine Scale Set Virtual Machine Profile to the Virtual Machine Instances",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSets_Reapply_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Reapply_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSets_Reapply_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Reapply_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/redeploy": {
      "post": {
        "operationId": "VirtualMachineScaleSets_Redeploy",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Shuts down all the virtual machines in the virtual machine scale set, moves them to a new node, and powers them back on.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceIDs"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_Redeploy_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Redeploy_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_Redeploy_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Redeploy_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/reimage": {
      "post": {
        "operationId": "VirtualMachineScaleSets_Reimage",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Reimages (upgrade the operating system) one or more virtual machines in a VM scale set which don't have a ephemeral OS disk, for virtual machines who have a ephemeral OS disk the virtual machine is reset to initial state.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetReimageInput",
            "in": "body",
            "description": "Parameters for Reimaging VM ScaleSet.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetReimageParameters"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_Reimage_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Reimage_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_Reimage_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Reimage_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/reimageall": {
      "post": {
        "operationId": "VirtualMachineScaleSets_ReimageAll",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Reimages all the disks ( including data disks ) in the virtual machines in a VM scale set. This operation is only supported for managed disks.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceIDs"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_ReimageAll_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ReimageAll_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_ReimageAll_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ReimageAll_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/restart": {
      "post": {
        "operationId": "VirtualMachineScaleSets_Restart",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Restarts one or more virtual machines in a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceIDs"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_Restart_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Restart_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_Restart_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Restart_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/rollingUpgrades/cancel": {
      "post": {
        "operationId": "VirtualMachineScaleSetRollingUpgrades_Cancel",
        "tags": [
          "VirtualMachineScaleSetRollingUpgrades"
        ],
        "description": "Cancels the current virtual machine scale set rolling upgrade.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetRollingUpgrade_Cancel_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetRollingUpgrade_Cancel_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetRollingUpgrade_Cancel_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetRollingUpgrade_Cancel_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/rollingUpgrades/latest": {
      "get": {
        "operationId": "VirtualMachineScaleSetRollingUpgrades_GetLatest",
        "tags": [
          "VirtualMachineScaleSetRollingUpgrades"
        ],
        "description": "Gets the status of the latest virtual machine scale set rolling upgrade.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RollingUpgradeStatusInfo"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetRollingUpgrade_GetLatest_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetRollingUpgrade_GetLatest_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetRollingUpgrade_GetLatest_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetRollingUpgrade_GetLatest_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/setOrchestrationServiceState": {
      "post": {
        "operationId": "VirtualMachineScaleSets_SetOrchestrationServiceState",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Changes ServiceState property for a given service",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the virtual machine scale set to create or update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The input object for SetOrchestrationServiceState API.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrchestrationServiceStateInput"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_SetOrchestrationServiceState_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_SetOrchestrationServiceState_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_SetOrchestrationServiceState_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_SetOrchestrationServiceState_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/skus": {
      "get": {
        "operationId": "VirtualMachineScaleSets_ListSkus",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Gets a list of SKUs available for your VM scale set, including the minimum and maximum VM instances allowed for each SKU.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetListSkusResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_ListSkus_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ListSkus_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_ListSkus_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_ListSkus_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/start": {
      "post": {
        "operationId": "VirtualMachineScaleSets_Start",
        "tags": [
          "VirtualMachineScaleSets"
        ],
        "description": "Starts one or more virtual machines in a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmInstanceIDs",
            "in": "body",
            "description": "A list of virtual machine instance IDs from the VM scale set.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMInstanceIDs"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSet_Start_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Start_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSet_Start_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSet_Start_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{virtualMachineScaleSetName}/virtualMachines": {
      "get": {
        "operationId": "VirtualMachineScaleSetVMs_List",
        "tags": [
          "VirtualMachineScaleSetVMs"
        ],
        "description": "Gets a list of all virtual machines in a VM scale sets.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "virtualMachineScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply to the operation. Allowed values are 'startswith(instanceView/statuses/code, 'PowerState') eq true', 'properties/latestModelApplied eq true', 'properties/latestModelApplied eq false'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "The list parameters. Allowed values are 'instanceView', 'instanceView/statuses'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply to the operation. Allowed values are 'instanceView'.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVMListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetVM_List_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_List_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetVM_List_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-odata": "#/definitions/VirtualMachineScaleSetVM",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/virtualMachineScaleSets/{vmScaleSetName}/virtualMachines/{instanceId}": {
      "get": {
        "operationId": "VirtualMachineScaleSetVMs_Get",
        "tags": [
          "VirtualMachineScaleSetVMs"
        ],
        "description": "Gets a virtual machine from a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instanceId",
            "in": "path",
            "description": "The instance ID of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation. 'InstanceView' will retrieve the instance view of the virtual machine. 'UserData' will retrieve the UserData of the virtual machine.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView",
              "userData"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": false
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVM"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get VM scale set VM with UserData": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_Get_WithUserData.json"
          },
          "Get VM scale set VM with VMSizeProperties": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_Get_WithVMSizeProperties.json"
          }
        }
      },
      "put": {
        "operationId": "VirtualMachineScaleSetVMs_Update",
        "tags": [
          "VirtualMachineScaleSetVMs"
        ],
        "description": "Updates a virtual machine of a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set where the extension should be create or updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instanceId",
            "in": "path",
            "description": "The instance ID of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update Virtual Machine Scale Sets VM operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVM"
            }
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "The ETag of the transformation. Omit this value to always overwrite the current resource. Specify the last-seen ETag value to prevent accidentally overwriting concurrent changes.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfMatch"
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "description": "Set to '*' to allow a new record set to be created, but to prevent updating an existing record set. Other values will result in error from server as they are not supported.",
            "required": false,
            "type": "string",
            "x-ms-client-name": "IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVM"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/VirtualMachineScaleSetVM"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common-types/v1/common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "VirtualMachineScaleSetVM_Update_MaximumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_Update_MaximumSet_Gen.json"
          },
          "VirtualMachineScaleSetVM_Update_MinimumSet_Gen": {
            "$ref": "./examples/virtualMachineScaleSetExamples/VirtualMachineScaleSetVM_Update_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "VirtualMachineScaleSetVMs_Delete",
        "tags": [
          "VirtualMachineScaleSetVMs"
        ],
        "description": "Deletes a virtual machine from a VM scale set.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "vmScaleSetName",
            "in": "path",
            "description": "The name of the VM scale set.",
            "required": true,
            "type": "string"
          },
          {
            "name": "instanceId",
            "in": "path",
            "description": "The instance ID of the virtual machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forceDeletion",
            "in": "query",
            "description": "Optional parameter to force delete a virtual machine from a VM scale set. (Feature in Preview)",
            "required": false,
            "type": "boolean"
          },
          {
            "$ref": "../../../common-types/v1/common.json#/parameters/ApiVersionParameter"
          },
          {
[...]
