{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.PhysicalNetwork management service",
    "version": "2024-06-01-preview",
    "description": "Microsoft.PhysicalNetwork Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "NetworkDevices"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.PhysicalNetwork/locations/{location}/networkDevices": {
      "get": {
        "operationId": "NetworkDevices_List",
        "tags": [
          "NetworkDevices"
        ],
        "description": "List NetworkDeviceResources by location",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkDeviceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.PhysicalNetwork/locations/{location}/networkDevices/{deviceName}": {
      "get": {
        "operationId": "NetworkDevices_Get",
        "tags": [
          "NetworkDevices"
        ],
        "description": "Get a NetworkDeviceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "deviceName",
            "in": "path",
            "description": "The network device's name, same as Hostname.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9-._]{1,58}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkDeviceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkDevices_Get": {
            "$ref": "./examples/NetworkDevices_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.PhysicalNetwork/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NetworkDeviceProperties": {
      "type": "object",
      "description": "Network Device Properties",
      "properties": {
        "dcCode": {
          "type": "string",
          "description": "The datacenter short code"
        },
        "loopbackIpV4": {
          "type": "string",
          "description": "The device's IPv4 address"
        },
        "loopbackIpV6": {
          "type": "string",
          "description": "The device's IPv6 address"
        },
        "managementIpV4": {
          "type": "string",
          "description": "The management console's IPv4 address"
        },
        "managementIpV6": {
          "type": "string",
          "description": "The management console's IPv6 address"
        },
        "preferredIp": {
          "type": "string",
          "description": "The device's preferred IP address"
        },
        "hardwareSku": {
          "type": "string",
          "description": "The device's hardware SKU"
        },
        "deviceType": {
          "type": "string",
          "description": "The device's NgsDeviceType"
        },
        "cluster": {
          "type": "string",
          "description": "The cluster the device belongs to"
        },
        "cloudType": {
          "type": "string",
          "description": "The cloud the device is in"
        },
        "deploymentType": {
          "type": "string",
          "description": "The device's deployment type"
        },
        "dcRackLocation": {
          "type": "string",
          "description": "The device's rack location"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "dcCode",
        "loopbackIpV4",
        "loopbackIpV6",
        "managementIpV4",
        "managementIpV6",
        "preferredIp",
        "hardwareSku",
        "deviceType",
        "cluster",
        "cloudType",
        "deploymentType",
        "dcRackLocation"
      ]
    },
    "NetworkDeviceResource": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/NetworkDeviceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "NetworkDeviceResourceListResult": {
      "type": "object",
      "description": "The response of a NetworkDeviceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The NetworkDeviceResource items on this page",
          "items": {
            "$ref": "#/definitions/NetworkDeviceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state enum",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource action is successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource action has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The resource action has been cancelled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The resource has been deleted."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource status is unspecified."
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
