{
  "x-generator": "NSwag v13.15.10.0 (NJsonSchema v10.6.10.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Marketplace Search API",
    "version": "2022-02-02"
  },
  "host": "catalogapi.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/autocomplete": {
      "get": {
        "tags": [
          "Public-Search"
        ],
        "summary": "Get a list of complete terms based on partial search term",
        "operationId": "AutoComplete_Get",
        "x-ms-examples": {
          "AutoComplete_Get": {
            "$ref": "./examples/AutoComplete_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "description": "The search text. E.g. 'red hat'"
          },
          {
            "type": "integer",
            "name": "top",
            "in": "query",
            "description": "Number of items to return. Default: 20, Minimum: 0, Maximum: 100000",
            "format": "int32"
          },
          {
            "type": "array",
            "name": "languages",
            "in": "query",
            "description": "Array of languages to search by. E.g. ['en','fr']",
            "collectionFormat": "csv",
            "required": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "stores",
            "in": "query",
            "description": "Array of stores to search by. E.g. ['Ibiza']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "offerTypes",
            "in": "query",
            "description": "Array of offer types to search by. E.g. ['VirtualMachine']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "description": "Array of pricing types to search by. E.g. ['byol']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "publisherName",
            "in": "query",
            "description": "Publisher name text to search by. E.g. 'Microsoft Publ'"
          },
          {
            "type": "boolean",
            "name": "isAzureBenefitEligible",
            "in": "query",
            "description": "Define the search for only azure benefit eligible offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isMicrosoftProduct",
            "in": "query",
            "description": "Define the search for only microsoft offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isCoreVm",
            "in": "query",
            "description": "Define the search for only coreVm offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isPreferredSolution",
            "in": "query",
            "description": "Define the search for only preferred solution offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isAdditionalPurchaseRequired",
            "description": "Define the search for only additional purchase required offers. Default: False",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "isPowerBICertified",
            "in": "query",
            "description": "Define the search for only power BI certified offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isIndustryCloud",
            "in": "query",
            "description": "Define the search for only industry cloud offers. Default: False"
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "description": "Array of operating systems to search by. E.g. ['windows']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceIndustries",
            "in": "query",
            "description": "Array of app source store industries to search by. E.g. ['retailers']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceCategories",
            "in": "query",
            "description": "Array of app source store categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureIndustries",
            "in": "query",
            "description": "Array of azure store industries to search by. E.g. ['retailers']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureCategories",
            "in": "query",
            "description": "Array of azure categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azurePortalCategories",
            "in": "query",
            "description": "Array of azure portal categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "x-ms-app",
            "x-originalName": "callingApp",
            "in": "header",
            "description": "The Application named property has the name of the client application that makes the request, used for tracing. E.g. 'appsource'",
            "required": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "description": "Version of the REST API used for the request.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of complete terms based on partial search term",
            "schema": {
              "$ref": "#/definitions/AutoCompleteResponse"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 - In case request malformed.\n\n * 500 - In case internal error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "Error code"
              }
            }
          }
        }
      }
    },
    "/facets": {
      "get": {
        "tags": [
          "Public-Search"
        ],
        "summary": "Get a list of offers count per filter",
        "operationId": "Facets_Get",
        "x-ms-examples": {
          "Facets_Get": {
            "$ref": "./examples/Facets_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "description": "The search text. E.g. 'red hat'"
          },
          {
            "type": "string",
            "name": "publisherName",
            "in": "query",
            "description": "Publisher name text to search by. E.g. 'Microsoft Publ'"
          },
          {
            "type": "boolean",
            "name": "isAzureBenefitEligible",
            "in": "query",
            "description": "Define the search for only azure benefit eligible offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isMicrosoftProduct",
            "in": "query",
            "description": "Define the search for only microsoft offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isCoreVm",
            "in": "query",
            "description": "Define the search for only coreVm offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isPreferredSolution",
            "in": "query",
            "description": "Define the search for only preferred solution offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isAdditionalPurchaseRequired",
            "description": "Define the search for only additional purchase required offers. Default: False",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "isPowerBICertified",
            "in": "query",
            "description": "Define the search for only power BI certified offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isIndustryCloud",
            "in": "query",
            "description": "Define the search for only industry cloud offers. Default: False"
          },
          {
            "type": "array",
            "name": "languages",
            "in": "query",
            "description": "Array of languages to search by. E.g. ['en','fr']",
            "collectionFormat": "csv",
            "required": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "stores",
            "in": "query",
            "description": "Array of stores to search by. E.g. ['Ibiza']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "offerTypes",
            "in": "query",
            "description": "Array of offer types to search by. E.g. ['VirtualMachine']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "description": "Array of pricing types to search by. E.g. ['byol']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "description": "Array of operating systems to search by. E.g. ['windows']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceIndustries",
            "in": "query",
            "description": "Array of app source store industries to search by. E.g. ['retailers']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceCategories",
            "in": "query",
            "description": "Array of app source store categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureIndustries",
            "in": "query",
            "description": "Array of azure store industries to search by. E.g. ['retailers']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureCategories",
            "in": "query",
            "description": "Array of azure categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azurePortalCategories",
            "in": "query",
            "description": "Array of azure portal categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "facets",
            "in": "query",
            "description": "Array facets to facet by, each facet may contain parameters to customize the faceting, Valid are 'count', 'sort', 'values' and 'interval'. E.g. ['pricingTypes', 'operatingSystems,count:5']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "x-ms-app",
            "x-originalName": "callingApp",
            "in": "header",
            "description": "The Application named property has the name of the client application that makes the request, used for tracing. E.g. 'appsource'",
            "required": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "description": "Version of the REST API used for the request.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of offers count per filter",
            "schema": {
              "$ref": "#/definitions/FacetsResponse"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 - In case request malformed.\n\n * 500 - In case internal error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "Error code"
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Public-Search"
        ],
        "summary": "Get a list of azure marketplace catalog offers and total count and facets",
        "operationId": "Search_Get",
        "x-ms-examples": {
          "Search_Get": {
            "$ref": "./examples/Search_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "description": "The search text. E.g. 'red hat'"
          },
          {
            "type": "string",
            "name": "publisherName",
            "in": "query",
            "description": "The search publisher name. E.g. 'red hat'"
          },
          {
            "type": "integer",
            "name": "skip",
            "description": "Number of items to skip. Minimum: 0",
            "in": "query",
            "format": "int32",
            "required": false
          },
          {
            "type": "integer",
            "name": "top",
            "in": "query",
            "description": "Number of items to return. Default: 20, Minimum: 0, Maximum: 100000",
            "format": "int32"
          },
          {
            "type": "boolean",
            "name": "isAzureBenefitEligible",
            "in": "query",
            "description": "Define the search for only azure benefit eligible offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isMicrosoftProduct",
            "in": "query",
            "description": "Define the search for only microsoft offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isCoreVm",
            "in": "query",
            "description": "Define the search for only coreVm offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isPreferredSolution",
            "in": "query",
            "description": "Define the search for only preferred solution offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isAdditionalPurchaseRequired",
            "description": "Define the search for only additional purchase required offers. Default: False",
            "in": "query"
          },
          {
            "type": "boolean",
            "name": "isPowerBICertified",
            "in": "query",
            "description": "Define the search for only power BI certified offers. Default: False"
          },
          {
            "type": "boolean",
            "name": "isIndustryCloud",
            "in": "query",
            "description": "Define the search for only industry cloud offers. Default: False"
          },
          {
            "type": "array",
            "name": "languages",
            "in": "query",
            "description": "Array of operating systems to search by. E.g. ['windows']",
            "collectionFormat": "csv",
            "required": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "stores",
            "in": "query",
            "description": "Array of stores to search by. E.g. ['Ibiza']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "select",
            "in": "query",
            "description": "Array of fields to return. E.g. ['pricingTypes']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "sortBy",
            "in": "query",
            "description": "Array of sort by fields to order by. E.g. ['ampAppsPopularity']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "offerTypes",
            "in": "query",
            "description": "Array of offer types to search by. E.g. ['VirtualMachine']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "description": "Array of pricing types to search by. E.g. ['byol']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceIndustries",
            "in": "query",
            "description": "Array of app source store industries to search by. E.g. ['retailers']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "description": "Array of operating systems to search by. E.g. ['windows']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceCategories",
            "in": "query",
            "description": "Array of app source store categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureIndustries",
            "in": "query",
            "description": "Array of azure store industries to search by. E.g. ['retailers']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureCategories",
            "in": "query",
            "description": "Array of azure categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azurePortalCategories",
            "in": "query",
            "description": "Array of azure portal categories to search by. E.g. ['health-provider']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "facets",
            "in": "query",
            "description": "Array facets to facet by, each facet may contain parameters to customize the faceting, Valid are 'count', 'sort', 'values' and 'interval'. E.g. ['pricingTypes', 'operatingSystems,count:5']",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "x-ms-app",
            "x-originalName": "callingApp",
            "in": "header",
            "description": "The Application named property has the name of the client application that makes the request, used for tracing. E.g. 'appsource'",
            "required": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "description": "Version of the REST API used for the request.",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of azure marketplace catalog offers and total count and facets",
            "schema": {
              "$ref": "#/definitions/SearchResponse"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 - In case request malformed.\n\n * 500 - In case internal error.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "Error code"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AutoCompleteResponse": {
      "description": "AutoComplete response object",
      "type": "object",
      "properties": {
        "autoCompleteItems": {
          "description": "The autocomplete response.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutoCompleteItem"
          },
          "x-ms-identifiers": [
            "text"
          ]
        },
        "strategyUsed": {
          "description": "The strategy used for autocomplete. E.g. 'Prefix'",
          "type": "string"
        }
      }
    },
    "AutoCompleteItem": {
      "description": "The AutoComplete item object",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text to autocomplete. E.g. 'win'",
          "type": "string"
        }
      }
    },
    "ErrorResponse": {
      "description": "The search error response object",
      "type": "object",
      "properties": {
        "error": {
          "description": "The search error response details",
          "$ref": "#/definitions/ErrorResponseDetails"
        }
      }
    },
    "ErrorResponseDetails": {
      "description": "The search error response details object",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code description. E.g. 'InternalError'",
          "type": "string"
        },
        "message": {
          "description": "The strategy used for autocomplete. E.g. 'Internal server error'",
          "type": "string"
        }
      }
    },
    "Store": {
      "type": "string",
      "description": "Store name",
      "x-enumNames": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell",
        "DakotaDownstream"
      ],
      "enum": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell",
        "DakotaDownstream"
      ],
      "x-ms-enum": {
        "name": "Store",
        "modelAsString": true
      }
    },
    "PricingType": {
      "type": "string",
      "description": "Pricing type",
      "x-enumNames": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "enum": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "x-ms-enum": {
        "name": "PricingType",
        "modelAsString": true
      }
    },
    "FacetsResponse": {
      "description": "Facets response object",
      "type": "object",
      "properties": {
        "facets": {
          "description": "Facets array",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetsItem"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "FacetsItem": {
      "description": "Facets item object",
      "type": "object",
      "properties": {
        "facetName": {
          "type": "string"
        },
        "facetValues": {
          "description": "Facet values array",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetValue"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "FacetValue": {
      "description": "Facet value object",
      "type": "object",
      "properties": {
        "value": {
          "description": "Facet value",
          "type": "string"
        },
        "count": {
          "description": "Facet count",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SearchResponse": {
      "description": "Search response object",
      "type": "object",
      "properties": {
        "facets": {
          "description": "facets array",
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetsItem"
          },
          "x-ms-identifiers": []
        },
        "results": {
          "description": "Search results array",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchItem"
          },
          "x-ms-identifiers": []
        },
        "totalCount": {
          "description": "Total number of items that exist according to the given search",
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SearchItem": {
      "description": "Search item object",
      "type": "object",
      "properties": {
        "ampAppsPopularity": {
          "description": "Amp store app popularity",
          "type": "number",
          "format": "double"
        },
        "ampCsPopularity": {
          "description": "Amp store customer services popularity",
          "type": "number",
          "format": "double"
        },
        "applicableProducts": {
          "description": "Applicable products",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appSourceAppsPopularity": {
          "description": "Amp store app popularity",
          "type": "number",
          "format": "double"
        },
        "appSourceCategories": {
          "description": "Appsource store categories",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appSourceCsPopularity": {
          "description": "Appsource store customer services popularity",
          "type": "number",
          "format": "double"
        },
        "appSourceIndustries": {
          "description": "Appsource store industries",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azureCategories": {
          "description": "Azure store categories",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azurePortalCategories": {
          "description": "Azure portal categories",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azureIndustries": {
          "description": "Azure store industries",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigId": {
          "description": "Offer bigId",
          "type": "string"
        },
        "cspStates": {
          "description": "Offer csp states",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "determinedStorefronts": {
          "description": "Offer determined storefronts",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Offer display name",
          "type": "string"
        },
        "isAzureBenefitEligible": {
          "description": "Offer azure benefit eligibility",
          "type": "boolean"
        },
        "isCoreVm": {
          "description": "Offer coreVm",
          "type": "boolean"
        },
        "isPreferredSolution": {
          "description": "Offer is preferred solution",
          "type": "boolean"
        },
        "isAdditionalPurchaseRequired": {
          "description": "Offer is additional purchase required",
          "type": "boolean"
        },
        "isPowerBICertified": {
          "description": "Offer is powerBI certified",
          "type": "boolean"
        },
        "isIndustryCloud": {
          "description": "Offer is industry cloud",
          "type": "boolean"
        },
        "isMicrosoftProduct": {
          "description": "Offer is microsoft product",
          "type": "boolean"
        },
        "isPreview": {
          "description": "Offer isPreview",
          "type": "boolean"
        },
        "language": {
          "description": "Offer language",
          "type": "string"
        },
        "legacyId": {
          "description": "Offer legacyId",
          "type": "string"
        },
        "offerType": {
          "description": "Offer type",
          "type": "string"
        },
        "operatingSystems": {
          "description": "Offer supported operating systems",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "plans": {
          "description": "Offer plans",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Plan"
          },
          "x-ms-identifiers": [
            "legacyPlanId"
          ]
        },
        "pricingTypes": {
          "description": "Offer supported pricing types",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publisherDisplayName": {
          "description": "Offer publisher display name",
          "type": "string"
        },
        "summary": {
          "description": "Offer summary",
          "type": "string"
        },
        "vmGenerations": {
          "description": "Offer supported vm generations",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmImageTypes": {
          "description": "Offer supported vm image types",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmSecurityTypes": {
          "description": "Offer supported security types",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "smallIconUri": {
          "description": "Offer small icon uri",
          "type": "string"
        },
        "mediumIconUri": {
          "description": "Offer medium icon uri",
          "type": "string"
        },
        "largeIconUri": {
          "description": "Offer large icon uri",
          "type": "string"
        },
        "wideIconUri": {
          "description": "Offer wide icon uri",
          "type": "string"
        },
        "heroIconUri": {
          "description": "Offer hero icon uri",
          "type": "string"
        }
      }
    },
    "Plan": {
      "description": "Plan object",
      "type": "object",
      "properties": {
        "cspState": {
          "description": "Plan csp state",
          "type": "string"
        },
        "legacyPlanId": {
          "description": "Plan legacy id",
          "type": "string"
        },
        "displayName": {
          "description": "Plan display name",
          "type": "string"
        },
        "architectureType": {
          "description": "Plan architecture type",
          "type": "string"
        },
        "metadata": {
          "description": "Plan metadata properties",
          "$ref": "#/definitions/PlanMetadata"
        },
        "operatingSystem": {
          "description": "Plan operating system",
          "$ref": "#/definitions/OperatingSystem"
        }
      }
    },
    "PlanMetadata": {
      "description": "Plan metadata object",
      "type": "object",
      "properties": {
        "generation": {
          "description": "Plan generation",
          "type": "string"
        }
      }
    },
    "OperatingSystem": {
      "description": "Plan operating system object",
      "type": "object",
      "properties": {
        "family": {
          "description": "Operating system family",
          "type": "string"
        },
        "type": {
          "description": "Operating system type",
          "type": "string"
        },
        "name": {
          "description": "Operating system name",
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
