{
  "x-generator": "NSwag v13.15.10.0 (NJsonSchema v10.6.10.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Marketplace Search API",
    "version": "2022-02-02"
  },
  "host": "catalogapi.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "text/plain",
    "application/json",
    "text/json"
  ],
  "paths": {
    "/autocomplete": {
      "get": {
        "tags": [
          "Public-Search"
        ],
        "summary": "Get a list of complete terms based on partial search term",
        "operationId": "AutoComplete_Get",
        "x-ms-examples": {
          "AutoComplete_Get": {
            "$ref": "./examples/AutoComplete_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "take",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "array",
            "name": "languages",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "stores",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "offerTypes",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "publisherName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isAzureBenefitEligible",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isMicrosoftProduct",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isCoreVm",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isPreferredSolution",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isAdditionalPurchaseRequired",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isPowerBICertified",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isIndustryCloud",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceIndustries",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureIndustries",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azurePortalCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "x-ms-app",
            "x-originalName": "callingApp",
            "in": "header",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "default": "2022-02-02",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of complete terms based on partial search term",
            "schema": {
              "$ref": "#/definitions/AutoCompleteResponseDto"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "*** Error Responses: ***\n\n * 400 - In case request malformed.\n\n * 500 - In case internal error.",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/SearchErrorResponseDto"
            }
          }
        }
      }
    },
    "/facets": {
      "get": {
        "tags": [
          "Public-Search"
        ],
        "summary": "Get a list of offers count per filter",
        "operationId": "Facets_Get",
        "x-ms-examples": {
          "Facets_Get": {
            "$ref": "./examples/Facets_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "publisherName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isAzureBenefitEligible",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isMicrosoftProduct",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isCoreVm",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isPreferredSolution",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isAdditionalPurchaseRequired",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isPowerBICertified",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isIndustryCloud",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "languages",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "stores",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "offerTypes",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceIndustries",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureIndustries",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azurePortalCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "facets",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "x-ms-app",
            "x-originalName": "callingApp",
            "in": "header",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "default": "2022-02-02",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of offers count per filter",
            "schema": {
              "$ref": "#/definitions/FacetsResponseDto"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "*** Error Responses: ***\n\n * 400 - In case request malformed.\n\n * 500 - In case internal error.",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/SearchErrorResponseDto"
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Public-Search"
        ],
        "summary": "Get a list of azure marketplace catalog offers and total count and facets",
        "operationId": "Search_Get",
        "x-ms-examples": {
          "Search_Get": {
            "$ref": "./examples/Search_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "publisherName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "skip",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "take",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "isAzureBenefitEligible",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isMicrosoftProduct",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isCoreVm",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isPreferredSolution",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isAdditionalPurchaseRequired",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isPowerBICertified",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isIndustryCloud",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "languages",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "stores",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "select",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "sortBy",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "offerTypes",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceIndustries",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureIndustries",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azurePortalCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "facets",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "x-ms-app",
            "x-originalName": "callingApp",
            "in": "header",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "default": "2022-02-02",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of azure marketplace catalog offers and total count and facets",
            "schema": {
              "$ref": "#/definitions/SearchResponseDto"
            }
          },
          "default": {
            "x-nullable": false,
            "description": "*** Error Responses: ***\n\n * 400 - In case request malformed.\n\n * 500 - In case internal error.",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/SearchErrorResponseDto"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AutoCompleteResponseDto": {
      "type": "object",
      "properties": {
        "autoCompleteItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutoCompleteItemDto"
          },
          "x-ms-identifiers": [
            "text"
          ]
        },
        "strategyUsed": {
          "type": "string"
        }
      }
    },
    "AutoCompleteItemDto": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        }
      }
    },
    "Store": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell",
        "DakotaDownstream"
      ],
      "enum": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell",
        "DakotaDownstream"
      ],
      "x-ms-enum": {
        "name": "Store",
        "modelAsString": true
      }
    },
    "PricingType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "enum": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "x-ms-enum": {
        "name": "PricingType",
        "modelAsString": true
      }
    },
    "FacetsResponseDto": {
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetsItemDto"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "FacetsItemDto": {
      "type": "object",
      "properties": {
        "facetName": {
          "type": "string"
        },
        "facetValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetValueDto"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "FacetValueDto": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SearchResponseDto": {
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetsItemDto"
          },
          "x-ms-identifiers": []
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchItemDto"
          },
          "x-ms-identifiers": []
        },
        "totalCount": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SearchItemDto": {
      "type": "object",
      "properties": {
        "ampAppsPopularity": {
          "type": "number",
          "format": "double"
        },
        "ampCsPopularity": {
          "type": "number",
          "format": "double"
        },
        "applicableProducts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appSourceAppsPopularity": {
          "type": "number",
          "format": "double"
        },
        "appSourceCategories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appSourceCsPopularity": {
          "type": "number",
          "format": "double"
        },
        "appSourceIndustries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azureCategories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azurePortalCategories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azureIndustries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigId": {
          "type": "string"
        },
        "cspStates": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "determinedStorefronts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "isAzureBenefitEligible": {
          "type": "boolean"
        },
        "isCoreVm": {
          "type": "boolean"
        },
        "isPreferredSolution": {
          "type": "boolean"
        },
        "isAdditionalPurchaseRequired": {
          "type": "boolean"
        },
        "isPowerBICertified": {
          "type": "boolean"
        },
        "isIndustryCloud": {
          "type": "boolean"
        },
        "isMicrosoftProduct": {
          "type": "boolean"
        },
        "isPreview": {
          "type": "boolean"
        },
        "language": {
          "type": "string"
        },
        "legacyId": {
          "type": "string"
        },
        "offerType": {
          "type": "string"
        },
        "operatingSystems": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "plans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanDto"
          },
          "x-ms-identifiers": [
            "legacyPlanId"
          ]
        },
        "pricingTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publisherDisplayName": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "vmGenerations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmImageTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmSecurityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "smallIconUri": {
          "type": "string"
        },
        "mediumIconUri": {
          "type": "string"
        },
        "largeIconUri": {
          "type": "string"
        },
        "wideIconUri": {
          "type": "string"
        },
        "heroIconUri": {
          "type": "string"
        }
      }
    },
    "PlanDto": {
      "type": "object",
      "properties": {
        "cspState": {
          "type": "string"
        },
        "legacyPlanId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "architectureType": {
          "type": "string"
        },
        "metadata": {
          "$ref": "#/definitions/PlanMetadataDto"
        },
        "operatingSystem": {
          "$ref": "#/definitions/OperatingSystemDto"
        }
      }
    },
    "PlanMetadataDto": {
      "type": "object",
      "properties": {
        "generation": {
          "type": "string"
        }
      }
    },
    "OperatingSystemDto": {
      "type": "object",
      "properties": {
        "family": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
