{
    "swagger": "2.0",
    "info": {
        "title": "Azure Activity Log Alerts API",
        "description": "API for Azure Activity Log Alert rules CRUD operations.",
        "version": "2020-10-01",
        "x-ms-code-generation-settings": {
          "name": "MonitorManagementClient"
        }
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/activityLogAlerts/{alertRuleName}": {
        "put": {
          "description": "Create a new Activity Log Alert rule or update an existing one.",
          "operationId": "ActivityLogAlertRule_CreateOrUpdate",
          "x-ms-examples": {
            "Create or update an Activity Log Alert rule": {
              "$ref": "./examples/ActivityLogAlertRule_CreateOrUpdate.json"
            },
            "Create or update an Activity Log Alert rule with 'anyOf' condition": {
              "$ref": "./examples/ActivityLogAlertRule_CreateOrUpdateRuleWithAnyOfCondition.json"
            },
            "Create or update an Activity Log Alert rule with 'containsAny'": {
              "$ref": "./examples/ActivityLogAlertRule_CreateOrUpdateRuleWithContainsAny.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/AlertRuleNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "activityLogAlertRule",
              "description": "The Activity Log Alert rule to create or use for the update.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/AlertRuleResource"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "An existing Activity Log Alert rule was successfully updated.",
              "schema": {
                "$ref": "#/definitions/AlertRuleResource"
              }
            },
            "201": {
              "description": "A new Activity Log Alert rule was successfully created.",
              "schema": {
                "$ref": "#/definitions/AlertRuleResource"
              }
            },
            "default": {
              "description": "An error occurred and the Activity Log Alert rule could not be created or updated.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "get": {
          "description": "Get an Activity Log Alert rule.",
          "operationId": "ActivityLogAlertRule_Get",
          "x-ms-examples": {
            "Get an Activity Log Alert rule": {
              "$ref": "./examples/ActivityLogAlertRule_Get.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/AlertRuleNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request succeeded.",
              "schema": {
                "$ref": "#/definitions/AlertRuleResource"
              }
            },
            "default": {
              "description": "An error occurred and the Activity Log Alert rule could not be retrieved.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "description": "Delete an Activity Log Alert rule.",
          "operationId": "ActivityLogAlertRule_Delete",
          "x-ms-examples": {
            "Delete an Activity Log Alert rule": {
              "$ref": "./examples/ActivityLogAlertRule_Delete.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/AlertRuleNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The Activity Log Alert rule was successfully deleted."
            },
            "204": {
              "description": "The Activity Log Alert rule does not exist. It may have already been deleted."
            },
            "default": {
              "description": "An error occurred and the Activity Log Alert rule could not be deleted.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "patch": {
          "description": "Update an existing Activity Log Alert rule. This method is used to update the resource tags of an Alert rule or for enabling / disabling an Alert rule. To update other fields use the CreateOrUpdate method.",
          "operationId": "ActivityLogAlertRule_Update",
          "x-ms-examples": {
            "Patch an Activity Log Alert rule": {
              "$ref": "./examples/ActivityLogAlertRule_Update.json"
            }
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "#/parameters/AlertRuleNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            },
            {
              "name": "activityLogAlertRulePatch",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/AlertRulePatchObject"
              },
              "description": "Parameters supplied to the operation."
            }
          ],
          "responses": {
            "200": {
              "description": "An existing Activity Log Alert rule was successfully updated.",
              "schema": {
                "$ref": "#/definitions/AlertRuleResource"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/activityLogAlerts": {
        "get": {
          "description": "Get a list of all Activity Log Alert rules in a subscription.",
          "operationId": "ActivityLogAlertRule_GetListBySubscriptionId",
          "x-ms-examples": {
            "Get list of all Activity Log Alert rules under a subscription": {
              "$ref": "./examples/ActivityLogAlertRule_GetListBySubscriptionId.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request succeeded.",
              "schema": {
                "$ref": "#/definitions/AlertRuleList"
              }
            },
            "default": {
              "description": "An error occurred and the list of Activity Log Alert rules could not be retrieved.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/activityLogAlerts": {
        "get": {
          "description": "Get a list of all Activity Log Alert rules in a resource group.",
          "operationId": "ActivityLogAlertRule_GetListByResourceGroup",
          "x-ms-examples": {
            "List activity log alerts": {
              "$ref": "./examples/ActivityLogAlertRule_GetListByResourceGroupName.json"
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          },
          "parameters": [
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
            },
            {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "The request succeeded.",
              "schema": {
                "$ref": "#/definitions/AlertRuleList"
              }
            },
            "default": {
              "description": "An error occurred and the list of Activity Log Alert rules could not be retrieved.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
      "AlertRuleResource": {
        "description": "An Activity Log Alert rule resource.",
        "allOf": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
          }
        ],
        "properties": {
          "properties": {
            "description": "The Activity Log Alert rule properties of the resource.",
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/AlertRuleProperties"
          }
        }
      },
      "AlertRuleList": {
        "description": "A list of Activity Log Alert rules.",
        "properties": {
          "value": {
            "description": "The list of Activity Log Alert rules.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/AlertRuleResource"
            }
          },
          "nextLink": {
            "description": "Provides the link to retrieve the next set of elements.",
            "type": "string"
          }
        }
      },
      "AlertRuleProperties": {
        "description": "An Azure Activity Log Alert rule.",
        "type": "object",
        "properties": {
          "scopes": {
            "description": "A list of resource IDs that will be used as prefixes. The alert will only apply to Activity Log events with resource IDs that fall under one of these prefixes. This list must include at least one item.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "condition": {
            "description": "The condition that will cause this alert to activate.",
            "$ref": "#/definitions/AlertRuleAllOfCondition"
          },
          "actions": {
            "description": "The actions that will activate when the condition is met.",
            "$ref": "#/definitions/ActionList"
          },
          "enabled": {
            "description": "Indicates whether this Activity Log Alert rule is enabled. If an Activity Log Alert rule is not enabled, then none of its actions will be activated.",
            "type": "boolean",
            "default": true
          },
          "description": {
            "description": "A description of this Activity Log Alert rule.",
            "type": "string"            
          }
        },
        "required": [
          "scopes",
          "condition",
          "actions"
        ]
      },
      "AlertRuleAllOfCondition": {
        "description": "An Activity Log Alert rule condition that is met when all its member conditions are met.",
        "type": "object",
        "properties": {
          "allOf": {
            "description": "The list of Activity Log Alert rule conditions.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/AlertRuleAnyOfOrLeafCondition"
            }
          }
        },
        "required": [
          "allOf"
        ]
      },
      "AlertRuleAnyOfOrLeafCondition": {
        "description": "An Activity Log Alert rule condition that is met when all its member conditions are met.",
        "type": "object",
        "properties": {
          "field": {
            "description": "The name of the field that this condition will examine. The possible values for this field are (case-insensitive): 'resourceId', 'category', 'caller', 'level', 'operationName', 'resourceGroup', 'resourceProvider', 'status', 'subStatus', 'resourceType', or anything beginning with 'properties'.",
            "type": "string"
          },
          "equals": {
            "description": "The field value will be compared to this value (case-insensitive) to determine if the condition is met.",
            "type": "string"
          },
          "containsAny": {
            "description": "The field value will be compared to the values in this array (case-insensitive) to determine if the condition is met.",
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "anyOf": {
            "description": "The list of Activity Log Alert rule conditions.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/AlertRuleLeafCondition"
            }
          }
        }
      },
      "AlertRuleLeafCondition": {
        "description": "An Activity Log Alert rule condition that is met by comparing an activity log field and value.",
        "type": "object",
        "properties": {
          "field": {
            "description": "The name of the field that this condition will examine. The possible values for this field are (case-insensitive): 'resourceId', 'category', 'caller', 'level', 'operationName', 'resourceGroup', 'resourceProvider', 'status', 'subStatus', 'resourceType', or anything beginning with 'properties'.",
            "type": "string"
          },
          "equals": {
            "description": "The field value will be compared to this value (case-insensitive) to determine if the condition is met.",
            "type": "string"
          },
          "containsAny": {
            "description": "The field value will be compared to the values in this array (case-insensitive) to determine if the condition is met.",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "field"
        ]
      },
      "ActionList": {
        "description": "A list of Activity Log Alert rule actions.",
        "properties": {
          "actionGroups": {
            "description": "The list of the Action Groups.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/ActionGroup"
            }
          }
        }
      },
      "ActionGroup": {
        "description": "A pointer to an Azure Action Group.",
        "properties": {
          "actionGroupId": {
            "description": "The resource ID of the Action Group. This cannot be null or empty.",
            "type": "string"
          },
          "webhookProperties": {
            "description": "the dictionary of custom properties to include with the post operation. These data are appended to the webhook payload.",
            "additionalProperties": {
              "type": "string"
            }
          }
        },
        "required": [
          "actionGroupId"
        ]
      },
      "AlertRulePatchObject": {
        "description": "An Activity Log Alert rule object for the body of patch operations.",
        "properties": {
          "tags": {
            "description": "The resource tags",
            "additionalProperties": {
              "type": "string"
            }            
          },
          "properties": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/AlertRulePatchProperties",
            "description": "The activity log alert settings for an update operation."
          }
        }
      },
      "AlertRulePatchProperties": {
        "description": "An Activity Log Alert rule properties for patch operations.",
        "properties": {
          "enabled": {
            "description": "Indicates whether this Activity Log Alert rule is enabled. If an Activity Log Alert rule is not enabled, then none of its actions will be activated.",
            "type": "boolean",
            "default": true
          }
        }
      },
      "ErrorResponse": {
        "description": "The error response.",
        "properties": {
          "error": {
            "description": "The error object.",
            "type": "object",
            "properties": {
              "code": {
                "description": "The error code.",
                "type": "string",
                "readOnly": true
              },
              "message": {
                "description": "The error message indicating why the operation failed.",
                "type": "string",
                "readOnly": true
              }
            }
          }
        }
      }
    },
    "parameters": {
      "AlertRuleNameParameter": {
        "name": "alertRuleName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The name of the Activity Log Alert rule.",
        "x-ms-parameter-location": "method"
      }
    }
  }
  