{
  "swagger": "2.0",
  "info": {
    "version": "2023-09-01-preview",
    "title": "AppPlatformManagementClient",
    "description": "REST API for Azure Spring Apps"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a Service and its properties.",
        "operationId": "Services_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Service.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_Get": {
            "$ref": "./examples/Services_Get.json"
          },
          "Services_Get_Consumption": {
            "$ref": "./examples/Services_Get_Consumption.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create a new Service or update an exiting Service.",
        "operationId": "Services_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Service.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new Service and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Service is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "$ref": "./examples/Services_CreateOrUpdate.json"
          },
          "Services_CreateOrUpdate_VNetInjection": {
            "$ref": "./examples/Services_CreateOrUpdate_VNetInjection.json"
          },
          "Services_CreateOrUpdate_Enterprise": {
            "$ref": "./examples/Services_CreateOrUpdate_Enterprise.json"
          },
          "Services_CreateOrUpdate_Consumption": {
            "$ref": "./examples/Services_CreateOrUpdate_Consumption.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to delete a Service.",
        "operationId": "Services_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted successfully."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the resource is already deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Services_Delete": {
            "$ref": "./examples/Services_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to update an exiting Service.",
        "operationId": "Services_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Service.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Service is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Services_Update": {
            "$ref": "./examples/Services_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/listTestKeys": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List test keys for a Service.",
        "operationId": "Services_ListTestKeys",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the test keys.",
            "schema": {
              "$ref": "#/definitions/TestKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_ListTestKeys": {
            "$ref": "./examples/Services_ListTestKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/regenerateTestKey": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Regenerate a test key for a Service.",
        "operationId": "Services_RegenerateTestKey",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "regenerateTestKeyRequest",
            "in": "body",
            "description": "Parameters for the operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateTestKeyRequestPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success.",
            "schema": {
              "$ref": "#/definitions/TestKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_RegenerateTestKey": {
            "$ref": "./examples/Services_RegenerateTestKey.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/disableTestEndpoint": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable test endpoint functionality for a Service.",
        "operationId": "Services_DisableTestEndpoint",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_DisableTestEndpoint": {
            "$ref": "./examples/Services_DisableTestEndpoint.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/enableTestEndpoint": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Enable test endpoint functionality for a Service.",
        "operationId": "Services_EnableTestEndpoint",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TestKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_EnableTestEndpoint": {
            "$ref": "./examples/Services_EnableTestEndpoint.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/stop": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Stop a Service.",
        "operationId": "Services_Stop",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The response indicates the stop operation is performed in the background."
          },
          "404": {
            "description": "Not found. The response indicates the service does not exist.",
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict. The response indicates the exiting Service is now updating.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Services_Stop": {
            "$ref": "./examples/Services_Stop.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/start": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Start a Service.",
        "operationId": "Services_Start",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The response indicates the stop operation is performed in the background."
          },
          "404": {
            "description": "Not found. The response indicates the service does not exist.",
            "x-ms-error-response": true
          },
          "409": {
            "description": "Conflict. The response indicates the exiting Service is now updating.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Services_Start": {
            "$ref": "./examples/Services_Start.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/flushVirtualNetworkDnsSettings": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Flush Virtual Network DNS settings for a VNET injected Service.",
        "operationId": "Services_FlushVnetDnsSetting",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "202": {
            "description": "Accepted. The response indicates the Flush VNET DNS setting operation is performed in the background.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Services_FlushVnetDnsSetting": {
            "$ref": "./examples/Services_FlushVnetDnsSetting.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/supportedApmTypes": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List supported APM types for a Service.",
        "operationId": "Services_ListSupportedApmTypes",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the supported APM types.",
            "schema": {
              "$ref": "#/definitions/SupportedApmTypes"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Services_ListSupportedApmTypes": {
            "$ref": "./examples/Services_ListSupportedApmTypes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/listGloballyEnabledApms": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List globally enabled APMs for a Service.",
        "operationId": "Services_ListGloballyEnabledApms",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the globally enabled APMs.",
            "schema": {
              "$ref": "#/definitions/GloballyEnabledApms"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Services_ListGloballyEnabledApms": {
            "$ref": "./examples/Services_ListGloballyEnabledApms.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/enableApmGlobally": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Enable an APM globally.",
        "operationId": "Services_EnableApmGlobally",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "apm",
            "in": "body",
            "description": "The target APM for the enable operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApmReference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "202": {
            "description": "Accepted. The response indicates the APM is now enabling globally and contains a Location header to query the operation result.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Services_EnableApmGlobally": {
            "$ref": "./examples/Services_EnableApmGlobally.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/disableApmGlobally": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable an APM globally.",
        "operationId": "Services_DisableApmGlobally",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "apm",
            "in": "body",
            "description": "The target APM for the disable operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApmReference"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "202": {
            "description": "Accepted. The response indicates the APM is now disabling globally and contains a Location header to query the operation result.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Services_DisableApmGlobally": {
            "$ref": "./examples/Services_DisableApmGlobally.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apms": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get collection of APMs.",
        "operationId": "Apms_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of APMs.",
            "schema": {
              "$ref": "#/definitions/ApmResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Apms_List": {
            "$ref": "./examples/Apms_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apms/{apmName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the APM by name.",
        "operationId": "Apms_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApmNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the APM.",
            "schema": {
              "$ref": "#/definitions/ApmResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Apms_Get": {
            "$ref": "./examples/Apms_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create or update an APM.",
        "operationId": "Apms_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApmNameParameter"
          },
          {
            "name": "apmResource",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApmResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the APM updated.",
            "schema": {
              "$ref": "#/definitions/ApmResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new APM created and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ApmResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Apms_CreateOrUpdate": {
            "$ref": "./examples/Apms_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Operation to delete an APM",
        "operationId": "Apms_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApmNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Success. The response indicates the resource doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Apms_Delete": {
            "$ref": "./examples/Apms_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/apms/{apmName}/listSecretKeys": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List keys of APM sensitive properties.",
        "operationId": "Apms_ListSecretKeys",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApmNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the keys of APM sensitive properties.",
            "schema": {
              "$ref": "#/definitions/ApmSecretKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Apms_ListSecretKeys": {
            "$ref": "./examples/Apms_ListSecretKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/eurekaServers": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List the eureka server settings.",
        "operationId": "EurekaServers_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding eureka server settings.",
            "schema": {
              "$ref": "#/definitions/EurekaServerResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "EurekaServers_List_Consumption": {
            "$ref": "./examples/EurekaServers_List_Consumption.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/eurekaServers/default": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the eureka server settings.",
        "operationId": "EurekaServers_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding eureka server settings.",
            "schema": {
              "$ref": "#/definitions/EurekaServerResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "EurekaServers_Get_Consumption": {
            "$ref": "./examples/EurekaServers_Get_Consumption.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Update the eureka server settings.",
        "operationId": "EurekaServers_UpdatePut",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "eurekaServerResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EurekaServerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated eureka server settings.",
            "schema": {
              "$ref": "#/definitions/EurekaServerResource"
            }
          },
          "201": {
            "description": "Created. The response indicates the exiting eureka server settings are now updating and contain a Azure-AsyncOperation\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/EurekaServerResource"
            },
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "EurekaServers_UpdatePut_Consumption": {
            "$ref": "./examples/EurekaServers_UpdatePut_Consumption.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Update the eureka server settings.",
        "operationId": "EurekaServers_UpdatePatch",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "eurekaServerResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EurekaServerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated eureka server settings.",
            "schema": {
              "$ref": "#/definitions/EurekaServerResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting eureka server settings are now updating and contain a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/EurekaServerResource"
            },
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "EurekaServers_UpdatePatch": {
            "$ref": "./examples/EurekaServers_UpdatePatch_Consumption.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configServers/default": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the config server and its properties.",
        "operationId": "ConfigServers_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Config Server.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigServers_Get": {
            "$ref": "./examples/ConfigServers_Get.json"
          },
          "ConfigServers_Get_Consumption": {
            "$ref": "./examples/ConfigServers_Get_Consumption.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Update the config server.",
        "operationId": "ConfigServers_UpdatePut",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "configServerResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Config Server.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Config Server is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ConfigServers_UpdatePut": {
            "$ref": "./examples/ConfigServers_UpdatePut.json"
          },
          "ConfigServers_UpdatePut_Consumption": {
            "$ref": "./examples/ConfigServers_UpdatePut_Consumption.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Update the config server.",
        "operationId": "ConfigServers_UpdatePatch",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "configServerResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Config Server.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Config Server is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ConfigServerResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ConfigServers_UpdatePatch": {
            "$ref": "./examples/ConfigServers_UpdatePatch.json"
          },
          "ConfigServers_UpdatePatch_Consumption": {
            "$ref": "./examples/ConfigServers_UpdatePatch_Consumption.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configServers/validate": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Check if the config server settings are valid.",
        "operationId": "ConfigServers_Validate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "name": "configServerSettings",
            "in": "body",
            "description": "Config server settings to be validated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigServerSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the validation result of Config Server.",
            "schema": {
              "$ref": "#/definitions/ConfigServerSettingsValidateResult"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the ConfigServerSetting is validating.",
            "schema": {
              "$ref": "#/definitions/ConfigServerSettingsValidateResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ConfigServers_Validate": {
            "$ref": "./examples/ConfigServers_Validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configurationServices/{configurationServiceName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the Application Configuration Service and its properties.",
        "operationId": "ConfigurationServices_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Application Configuration Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ConfigurationServices_Get": {
            "$ref": "./examples/ConfigurationServices_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create the default Application Configuration Service or update the existing Application Configuration Service.",
        "operationId": "ConfigurationServices_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          },
          {
            "name": "configurationServiceResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Application Configuration Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new Service and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ConfigurationServices_CreateOrUpdate": {
            "$ref": "./examples/ConfigurationServices_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable the default Application Configuration Service.",
        "operationId": "ConfigurationServices_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the default Application Configuration Service has deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the default Application Configuration Service is now deleting."
          },
          "204": {
            "description": "Success. The response indicates the default Application Configuration Service doesn't exist or has deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ConfigurationServices_Delete": {
            "$ref": "./examples/ConfigurationServices_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configurationServices": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Handles requests to list all resources in a Service.",
        "operationId": "ConfigurationServices_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of configuration service in the Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ConfigurationServices_List": {
            "$ref": "./examples/ConfigurationServices_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configurationServices/{configurationServiceName}/validate": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Check if the Application Configuration Service settings are valid.",
        "operationId": "ConfigurationServices_Validate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          },
          {
            "name": "settings",
            "in": "body",
            "description": "Application Configuration Service settings to be validated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceSettings"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the validation result of Application Configuration Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceSettingsValidateResult"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the ConfigurationServiceSettings is validating.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceSettingsValidateResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ConfigurationServices_Validate": {
            "$ref": "./examples/ConfigurationServices_Validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/configurationServices/{configurationServiceName}/validateResource": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Check if the Application Configuration Service resource is valid.",
        "operationId": "ConfigurationServices_ValidateResource",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ConfigurationServiceNameParameter"
          },
          {
            "name": "configurationServiceResource",
            "in": "body",
            "description": "Application Configuration Service resource to be validated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the validation result of Application Configuration Service.",
            "schema": {
              "$ref": "#/definitions/ConfigurationServiceSettingsValidateResult"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the ConfigurationServiceSettings is validating.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ConfigurationServices_ValidateResource": {
            "$ref": "./examples/ConfigurationServices_ValidateResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/serviceRegistries/{serviceRegistryName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the Service Registry and its properties.",
        "operationId": "ServiceRegistries_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceRegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Service Registry.",
            "schema": {
              "$ref": "#/definitions/ServiceRegistryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ServiceRegistries_Get": {
            "$ref": "./examples/ServiceRegistries_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create the default Service Registry or update the existing Service Registry.",
        "operationId": "ServiceRegistries_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceRegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Service Registry.",
            "schema": {
              "$ref": "#/definitions/ServiceRegistryResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new created Service Registry and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ServiceRegistryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ServiceRegistries_CreateOrUpdate": {
            "$ref": "./examples/ServiceRegistries_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable the default Service Registry.",
        "operationId": "ServiceRegistries_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceRegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the default Service Registries has deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the default Service Registries is now deleting."
          },
          "204": {
            "description": "Success. The response indicates the default Service Registries doesn't exist or has deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ServiceRegistries_Delete": {
            "$ref": "./examples/ServiceRegistries_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/serviceRegistries": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Handles requests to list all resources in a Service.",
        "operationId": "ServiceRegistries_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Service Registry resources in the Service.",
            "schema": {
              "$ref": "#/definitions/ServiceRegistryResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ServiceRegistries_List": {
            "$ref": "./examples/ServiceRegistries_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationLiveViews": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Handles requests to list all resources in a Service.",
        "operationId": "ApplicationLiveViews_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Application Live View resources in the Service.",
            "schema": {
              "$ref": "#/definitions/ApplicationLiveViewResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ApplicationLiveViews_List": {
            "$ref": "./examples/ApplicationLiveViews_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/applicationLiveViews/{applicationLiveViewName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the Application Live  and its properties.",
        "operationId": "ApplicationLiveViews_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationLiveViewNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Application Live View.",
            "schema": {
              "$ref": "#/definitions/ApplicationLiveViewResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ApplicationLiveViews_Get": {
            "$ref": "./examples/ApplicationLiveViews_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create the default Application Live View or update the existing Application Live View.",
        "operationId": "ApplicationLiveViews_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationLiveViewNameParameter"
          },
          {
            "name": "applicationLiveViewResource",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationLiveViewResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Application Live View.",
            "schema": {
              "$ref": "#/definitions/ApplicationLiveViewResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new created Application Live View and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ApplicationLiveViewResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ApplicationLiveViews_CreateOrUpdate": {
            "$ref": "./examples/ApplicationLiveViews_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable the default Application Live View.",
        "operationId": "ApplicationLiveViews_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationLiveViewNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the default Application Live View has deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the default Application Live View is now deleting."
          },
          "204": {
            "description": "Success. The response indicates the defaultApplication Live View doesn't exist or has deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ApplicationLiveViews_Delete": {
            "$ref": "./examples/ApplicationLiveView_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/DevToolPortals": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Handles requests to list all resources in a Service.",
        "operationId": "DevToolPortals_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of Dev Tool Portal resources in the Service.",
            "schema": {
              "$ref": "#/definitions/DevToolPortalResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DevToolPortals_List": {
            "$ref": "./examples/DevToolPortals_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/DevToolPortals/{devToolPortalName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the Application Live  and its properties.",
        "operationId": "DevToolPortals_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/DevToolPortalNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Dev Tool Portal.",
            "schema": {
              "$ref": "#/definitions/DevToolPortalResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "DevToolPortals_Get": {
            "$ref": "./examples/DevToolPortals_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create the default Dev Tool Portal or update the existing Dev Tool Portal.",
        "operationId": "DevToolPortals_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/DevToolPortalNameParameter"
          },
          {
            "name": "DevToolPortalResource",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevToolPortalResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Dev Tool Portal.",
            "schema": {
              "$ref": "#/definitions/DevToolPortalResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new created Dev Tool Portal and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/DevToolPortalResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DevToolPortals_CreateOrUpdate": {
            "$ref": "./examples/DevToolPortals_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Disable the default Dev Tool Portal.",
        "operationId": "DevToolPortals_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/DevToolPortalNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the default Dev Tool Portal has deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the default Dev Tool Portal is now deleting."
          },
          "204": {
            "description": "Success. The response indicates the defaultDev Tool Portal doesn't exist or has deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DevToolPortals_Delete": {
            "$ref": "./examples/DevToolPortal_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/containerRegistries": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List container registries resource.",
        "operationId": "ContainerRegistries_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Container Registries to one Azure Spring Apps resource.",
            "schema": {
              "$ref": "#/definitions/ContainerRegistryResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ContainerRegistries_List": {
            "$ref": "./examples/ContainerRegistries_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/containerRegistries/{containerRegistryName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get the container registries resource.",
        "operationId": "ContainerRegistries_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerRegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describe the container registry.",
            "schema": {
              "$ref": "#/definitions/ContainerRegistryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "ContainerRegistries_Get": {
            "$ref": "./examples/ContainerRegistries_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create or update container registry resource.",
        "operationId": "ContainerRegistries_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerRegistryNameParameter"
          },
          {
            "name": "containerRegistryResource",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerRegistryResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describe the existed container registry updated.",
            "schema": {
              "$ref": "#/definitions/ContainerRegistryResource"
            }
          },
          "201": {
            "description": "Created. The response describes the new container registry resource created and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/ContainerRegistryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ContainerRegistries_CreateOrUpdate": {
            "$ref": "./examples/ContainerRegistries_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Delete a container registry resource.",
        "operationId": "ContainerRegistries_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerRegistryNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Success. The response indicates the resource doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ContainerRegistries_Delete": {
            "$ref": "./examples/ContainerRegistries_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/containerRegistries/{containerRegistryName}/validate": {
      "post": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Check if the container registry properties are valid.",
        "operationId": "ContainerRegistries_Validate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ContainerRegistryNameParameter"
          },
          {
            "name": "ContainerRegistryProperties",
            "in": "body",
            "description": "Parameters for the validate operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerRegistryProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describe the validation result of container registry.",
            "schema": {
              "$ref": "#/definitions/ContainerRegistryValidateResult"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the container registry properties is validating.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ContainerRegistries_Validate": {
            "$ref": "./examples/ContainerRegistries_Validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List build services resource.",
        "operationId": "BuildService_ListBuildServices",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Build Services.",
            "schema": {
              "$ref": "#/definitions/BuildServiceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildService_ListBuildServices": {
            "$ref": "./examples/BuildService_ListBuildServices.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a build service resource.",
        "operationId": "BuildService_GetBuildService",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Build Service.",
            "schema": {
              "$ref": "#/definitions/BuildService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetBuildService": {
            "$ref": "./examples/BuildService_GetBuildService.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create a build service resource.",
        "operationId": "BuildService_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "name": "buildService",
            "in": "body",
            "description": "Parameters for the create operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Build Service.",
            "schema": {
              "$ref": "#/definitions/BuildService"
            }
          },
          "201": {
            "description": "Created. The response describes the Build Service and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/BuildService"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "BuildService_CreateOrUpdate": {
            "$ref": "./examples/BuildService_CreateOrUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builds": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "List KPack builds.",
        "operationId": "BuildService_ListBuilds",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the builds.",
            "schema": {
              "$ref": "#/definitions/BuildCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildService_ListBuilds": {
            "$ref": "./examples/BuildService_ListBuilds.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builds/{buildName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a KPack build.",
        "operationId": "BuildService_GetBuild",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the Build.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_GetBuild": {
            "$ref": "./examples/BuildService_GetBuild.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create or update a KPack build.",
        "operationId": "BuildService_CreateOrUpdateBuild",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          },
          {
            "name": "build",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Build"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Build.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "201": {
            "description": "Created. The response describes the new Build and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildService_CreateOrUpdateBuild": {
            "$ref": "./examples/BuildService_CreateOrUpdateBuild.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AppPlatform"
        ],
        "description": "delete a KPack build.",
        "operationId": "BuildService_DeleteBuild",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted successfully."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Success. The response indicates the build resource doesn't exist or has deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "BuildService_DeleteBuild": {
            "$ref": "./examples/BuildService_DeleteBuild.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildpackBindings": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get collection of buildpack bindings under all builders.",
        "operationId": "BuildpackBinding_ListForCluster",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of buildpack bindings under all builders in the cluster.",
            "schema": {
              "$ref": "#/definitions/BuildpackBindingResourceCollection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildpackBinding_ListForCluster": {
            "$ref": "./examples/BuildpackBinding_ListForCluster.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/Spring/{serviceName}/buildServices/{buildServiceName}/builders/{builderName}/buildpackBindings/{buildpackBindingName}": {
      "get": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Get a buildpack binding by name.",
        "operationId": "BuildpackBinding_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildpackBindingNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes a Buildpack Binding.",
            "schema": {
              "$ref": "#/definitions/BuildpackBindingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "BuildpackBinding_Get": {
            "$ref": "./examples/BuildpackBinding_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AppPlatform"
        ],
        "description": "Create or update a buildpack binding.",
        "operationId": "BuildpackBinding_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuildServiceNameParameter"
          },
          {
            "$ref": "#/parameters/BuilderNameParameter"
          },
          {
            "$ref": "#/parameters/BuildpackBindingNameParameter"
          },
          {
            "name": "buildpackBinding",
            "in": "body",
            "description": "The target buildpack binding for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildpackBindingResource"
            }
          }
        ],
        "responses": {
          "200": {
[...]
