{
  "swagger": "2.0",
  "info": {
    "title": "Azure Database Migration Service (classic) Resource Provider",
    "version": "2025-09-01-preview",
    "description": "The SQL Migration management API provides a RESTful set of web APIs that allow users to migrate their SQL Server databases to Azure SQL.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DatabaseMigrations"
    },
    {
      "name": "DatabaseMigrationsSqlVm"
    },
    {
      "name": "MigrationServices"
    },
    {
      "name": "SqlMigrationServices"
    },
    {
      "name": "Service resource"
    },
    {
      "name": "Standard operation"
    },
    {
      "name": "GET"
    },
    {
      "name": "PUT"
    },
    {
      "name": "PATCH"
    },
    {
      "name": "DELETE"
    },
    {
      "name": "Custom operation"
    },
    {
      "name": "POST"
    },
    {
      "name": "Task resource"
    },
    {
      "name": "Service Task resource"
    },
    {
      "name": "Project resource"
    },
    {
      "name": "File resource"
    },
    {
      "name": "Fie resource"
    }
  ],
  "paths": {
    "/providers/Microsoft.DataMigration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all of the available SQL Rest API operations.": {
            "$ref": "./examples/ListOperation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/locations/{location}/checkNameAvailability": {
      "post": {
        "operationId": "Services_CheckNameAvailability",
        "tags": [
          "Standard operation",
          "POST"
        ],
        "summary": "Check name validity and availability",
        "description": "This method checks whether a proposed top-level resource name is valid and available.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_CheckNameAvailability": {
            "$ref": "./examples/Services_CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/locations/{location}/usages": {
      "get": {
        "operationId": "Usages_List",
        "tags": [
          "Standard operation",
          "GET"
        ],
        "summary": "Get resource quotas and usage information",
        "description": "This method returns region-specific quotas and resource usage information for the Azure Database Migration Service (classic).",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/QuotaList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_Usages": {
            "$ref": "./examples/Usages_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/migrationServices": {
      "get": {
        "operationId": "MigrationServices_ListBySubscription",
        "tags": [
          "MigrationServices"
        ],
        "description": "Retrieve all migration services in the subscriptions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Services in the Subscriptions.": {
            "$ref": "./examples/ListBySubscriptionMigrationService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/services": {
      "get": {
        "operationId": "Services_List",
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get services in subscription",
        "description": "The services resource is the top-level resource that represents the Azure Database Migration Service (classic). This method returns a list of service resources in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataMigrationServiceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_List": {
            "$ref": "./examples/Services_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/skus": {
      "get": {
        "operationId": "ResourceSkus_ListSkus",
        "tags": [
          "Standard operation",
          "GET"
        ],
        "summary": "Get supported SKUs",
        "description": "The skus action returns the list of SKUs that DMS (classic) supports.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ResourceSkusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "ListSkus": {
            "$ref": "./examples/ResourceSkus_ListSkus.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataMigration/sqlMigrationServices": {
      "get": {
        "operationId": "SqlMigrationServices_ListBySubscription",
        "tags": [
          "SqlMigrationServices"
        ],
        "description": "Retrieve all SQL migration services in the subscriptions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlMigrationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Services in the Subscriptions.": {
            "$ref": "./examples/ListBySubscriptionSqlMigrationService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/migrationServices": {
      "get": {
        "operationId": "MigrationServices_ListByResourceGroup",
        "tags": [
          "MigrationServices"
        ],
        "description": "Retrieve all migration services in the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migration Services in the Resource Group.": {
            "$ref": "./examples/ListByResourceGroupMigrationService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/migrationServices/{migrationServiceName}": {
      "get": {
        "operationId": "MigrationServices_Get",
        "tags": [
          "MigrationServices"
        ],
        "description": "Retrieve the Database Migration Service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "migrationServiceName",
            "in": "path",
            "description": "Name of the Migration Service.",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Migration Service.": {
            "$ref": "./examples/GetMigrationService.json"
          }
        }
      },
      "put": {
        "operationId": "MigrationServices_CreateOrUpdate",
        "tags": [
          "MigrationServices"
        ],
        "description": "Create or Update Database Migration Service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "migrationServiceName",
            "in": "path",
            "description": "Name of the Migration Service.",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Details of MigrationService resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MigrationService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          },
          "201": {
            "description": "Resource 'MigrationService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MigrationService"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Migration Service with maximum parameters.": {
            "$ref": "./examples/CreateOrUpdateMigrationServiceMAX.json"
          },
          "Create or Update Migration Service with minimum parameters.": {
            "$ref": "./examples/CreateOrUpdateMigrationServiceMIN.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/MigrationService"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MigrationServices_Update",
        "tags": [
          "MigrationServices"
        ],
        "description": "Update Database Migration Service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "migrationServiceName",
            "in": "path",
            "description": "Name of the Migration Service.",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9_-]*$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Details of MigrationService resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationServiceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MigrationService"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Migration Service.": {
            "$ref": "./examples/UpdateMigrationService.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/MigrationService"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MigrationServices_Delete",
        "tags": [
          "MigrationServices"
        ],
        "description": "Delete Database Migration Service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "migrationServiceName",
            "in": "path",
            "description": "Name of the Migration Service.",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9_-]*$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Migration Service.": {
            "$ref": "./examples/DeleteMigrationService.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataMigration/migrationServices/{migrationServiceName}/listMigrations": {
      "get": {
        "operationId": "MigrationServices_listMigrations",
        "tags": [
          "MigrationServices"
        ],
        "description": "Retrieve the List of database migrations attached to the service.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "migrationServiceName",
            "in": "path",
            "description": "Name of the Migration Service.",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9_-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseMigrationBaseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List database migrations attached to the service.": {
            "$ref": "./examples/ListMigrationsByMigrationService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services": {
      "get": {
        "operationId": "Services_ListByResourceGroup",
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get services in resource group",
        "description": "The Services resource is the top-level resource that represents the Azure Database Migration Service (classic). This method returns a list of service resources in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataMigrationServiceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_ListByResourceGroup": {
            "$ref": "./examples/Services_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}": {
      "get": {
        "operationId": "Services_Get",
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get DMS (classic) Service Instance",
        "description": "The services resource is the top-level resource that represents the Azure Database Migration Service (classic). The GET method retrieves information about a service instance.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataMigrationService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "$ref": "./examples/Services_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Services_CreateOrUpdate",
        "tags": [
          "Service resource",
          "Standard operation",
          "PUT"
        ],
        "summary": "Create or update DMS (classic) Instance",
        "description": "The services resource is the top-level resource that represents the Azure Database Migration Service (classic). The PUT method creates a new service or updates an existing one. When a service is updated, existing child resources (i.e. tasks) are unaffected. Services currently support a single kind, \"vm\", which refers to a VM-based service, although other kinds may be added in the future. This method can change the kind, SKU, and network of the service, but if tasks are currently running (i.e. the service is busy), this will fail with 400 Bad Request (\"ServiceIsBusy\"). The provider will reply when successful with 200 OK or 201 Created. Long-running operations use the provisioningState property.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the service",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMigrationService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataMigrationService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataMigrationService"
            }
          },
          "201": {
            "description": "Resource 'DataMigrationService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataMigrationService"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "$ref": "./examples/Services_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DataMigrationService"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Services_Update",
        "tags": [
          "Service resource",
          "Standard operation",
          "PATCH"
        ],
        "summary": "Create or update DMS (classic) Service Instance",
        "description": "The services resource is the top-level resource that represents the Azure Database Migration Service (classic). The PATCH method updates an existing service. This method can change the kind, SKU, and network of the service, but if tasks are currently running (i.e. the service is busy), this will fail with 400 Bad Request (\"ServiceIsBusy\").",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the service",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMigrationService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataMigrationService"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "$ref": "./examples/Services_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/DataMigrationService"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Services_Delete",
        "tags": [
          "Service resource",
          "Standard operation",
          "DELETE"
        ],
        "summary": "Delete DMS (classic) Service Instance",
        "description": "The services resource is the top-level resource that represents the Azure Database Migration Service (classic). The DELETE method deletes a service. Any running tasks will be canceled.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "deleteRunningTasks",
            "in": "query",
            "description": "Delete the resource even if it contains running tasks",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_CreateOrUpdate": {
            "$ref": "./examples/Services_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/checkNameAvailability": {
      "post": {
        "operationId": "Services_CheckChildrenNameAvailability",
        "tags": [
          "Custom operation",
          "POST"
        ],
        "summary": "Check nested resource name validity and availability",
        "description": "This method checks whether a proposed nested resource name is valid and available.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Requested name to validate",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_CheckChildrenNameAvailability": {
            "$ref": "./examples/Services_CheckChildrenNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/checkStatus": {
      "post": {
        "operationId": "Services_CheckStatus",
        "tags": [
          "Service resource",
          "Custom operation",
          "POST"
        ],
        "summary": "Check service health status",
        "description": "The services resource is the top-level resource that represents the Azure Database Migration Service (classic). This action performs a health check and returns the status of the service and virtual machine size.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataMigrationServiceStatusResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_CheckStatus": {
            "$ref": "./examples/Services_CheckStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects": {
      "get": {
        "operationId": "Projects_List",
        "tags": [
          "Project resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get projects in a service",
        "description": "The project resource is a nested resource representing a stored migration project. This method returns a list of projects owned by a service resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_List": {
            "$ref": "./examples/Projects_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}": {
      "get": {
        "operationId": "Projects_Get",
        "tags": [
          "Project resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get project information",
        "description": "The project resource is a nested resource representing a stored migration project. The GET method retrieves information about a project.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_Get": {
            "$ref": "./examples/Projects_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Projects_CreateOrUpdate",
        "tags": [
          "Project resource",
          "Standard operation",
          "PUT"
        ],
        "summary": "Create or update project",
        "description": "The project resource is a nested resource representing a stored migration project. The PUT method creates a new project or updates an existing one.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the project",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Project' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "201": {
            "description": "Resource 'Project' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_CreateOrUpdate": {
            "$ref": "./examples/Projects_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Projects_Update",
        "tags": [
          "Project resource",
          "Standard operation",
          "PATCH"
        ],
        "summary": "Update project",
        "description": "The project resource is a nested resource representing a stored migration project. The PATCH method updates an existing project.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the project",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_Update": {
            "$ref": "./examples/Projects_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Projects_Delete",
        "tags": [
          "Project resource",
          "Standard operation",
          "DELETE"
        ],
        "summary": "Delete project",
        "description": "The project resource is a nested resource representing a stored migration project. The DELETE method deletes a project.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "deleteRunningTasks",
            "in": "query",
            "description": "Delete the resource even if it contains running tasks",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Projects_Delete": {
            "$ref": "./examples/Projects_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files": {
      "get": {
        "operationId": "Files_List",
        "tags": [
          "File resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get files in a project",
        "description": "The project resource is a nested resource representing a stored migration project. This method returns a list of files owned by a project resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Files_List": {
            "$ref": "./examples/Files_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}": {
      "get": {
        "operationId": "Files_Get",
        "tags": [
          "File resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get file information",
        "description": "The files resource is a nested, proxy-only resource representing a file stored under the project resource. This method retrieves information about a file.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "Name of the File",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectFile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Files_List": {
            "$ref": "./examples/Files_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Files_CreateOrUpdate",
        "tags": [
          "Fie resource",
          "Standard operation",
          "PUT"
        ],
        "summary": "Create a file resource",
        "description": "The PUT method creates a new file or updates an existing one.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "Name of the File",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the file",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectFile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProjectFile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProjectFile"
            }
          },
          "201": {
            "description": "Resource 'ProjectFile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProjectFile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Files_CreateOrUpdate": {
            "$ref": "./examples/Files_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Files_Update",
        "tags": [
          "File resource",
          "Standard operation",
          "PATCH"
        ],
        "summary": "Update a file",
        "description": "This method updates an existing file.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "Name of the File",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the file",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectFile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectFile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Files_Update": {
            "$ref": "./examples/Files_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Files_Delete",
        "tags": [
          "File resource",
          "Standard operation",
          "DELETE"
        ],
        "summary": "Delete file",
        "description": "This method deletes a file.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "Name of the File",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Files_Delete": {
            "$ref": "./examples/Files_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}/read": {
      "post": {
        "operationId": "Files_Read",
        "tags": [
          "File resource",
          "Standard operation",
          "POST"
        ],
        "summary": "Request storage information for downloading the file content",
        "description": "This method is used for requesting storage information using which contents of the file can be downloaded.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "Name of the File",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileStorageInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Files_List": {
            "$ref": "./examples/Files_Read.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/files/{fileName}/readwrite": {
      "post": {
        "operationId": "Files_ReadWrite",
        "tags": [
          "File resource",
          "Standard operation",
          "POST"
        ],
        "summary": "Request information for reading and writing file content.",
        "description": "This method is used for requesting information for reading and writing the file content.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileName",
            "in": "path",
            "description": "Name of the File",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileStorageInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Files_List": {
            "$ref": "./examples/Files_ReadWrite.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/tasks": {
      "get": {
        "operationId": "Tasks_List",
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get tasks in a service",
        "description": "The services resource is the top-level resource that represents the Azure Database Migration Service (classic). This method returns a list of tasks owned by a service resource. Some tasks may have a status of Unknown, which indicates that an error occurred while querying the status of that task.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskType",
            "in": "query",
            "description": "Filter tasks by task type",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_List": {
            "$ref": "./examples/Tasks_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/tasks/{taskName}": {
      "get": {
        "operationId": "Tasks_Get",
        "tags": [
          "Task resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get task information",
        "description": "The tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. The GET method retrieves information about a task.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand the response",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Get": {
            "$ref": "./examples/Tasks_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Tasks_CreateOrUpdate",
        "tags": [
          "Task resource",
          "Standard operation",
          "PUT"
        ],
        "summary": "Create or update task",
        "description": "The tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. The PUT method creates a new task or updates an existing one, although since tasks have no mutable custom properties, there is little reason to update an existing one.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the task",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProjectTask' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "201": {
            "description": "Resource 'ProjectTask' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_CreateOrUpdate": {
            "$ref": "./examples/Tasks_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Tasks_Update",
        "tags": [
          "Task resource",
          "Standard operation",
          "PATCH"
        ],
        "summary": "Create or update task",
        "description": "The tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. The PATCH method updates an existing task, but since tasks have no mutable custom properties, there is little reason to do so.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the task",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Update": {
            "$ref": "./examples/Tasks_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Tasks_Delete",
        "tags": [
          "Task resource",
          "Standard operation",
          "DELETE"
        ],
        "summary": "Delete task",
        "description": "The tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. The DELETE method deletes a task, canceling it first if it's running.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "deleteRunningTasks",
            "in": "query",
            "description": "Delete the resource even if it contains running tasks",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Delete": {
            "$ref": "./examples/Tasks_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/tasks/{taskName}/cancel": {
      "post": {
        "operationId": "Tasks_Cancel",
        "tags": [
          "Task resource",
          "Custom operation",
          "POST"
        ],
        "summary": "Cancel a task",
        "description": "The tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. This method cancels a task if it's currently queued or running.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Cancel": {
            "$ref": "./examples/Tasks_Cancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/projects/{projectName}/tasks/{taskName}/command": {
      "post": {
        "operationId": "Tasks_Command",
        "tags": [
          "Task resource",
          "Custom operation",
          "POST"
        ],
        "summary": "Execute a command on a task",
        "description": "The tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. This method executes a command on a running task.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectName",
            "in": "path",
            "description": "Name of the project",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Command to execute",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommandProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CommandProperties"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Command": {
            "$ref": "./examples/Tasks_Command.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/serviceTasks": {
      "get": {
        "operationId": "ServiceTasks_List",
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get service level tasks for a service",
        "description": "The services resource is the top-level resource that represents the Azure Database Migration Service (classic). This method returns a list of service level tasks owned by a service resource. Some tasks may have a status of Unknown, which indicates that an error occurred while querying the status of that task.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskType",
            "in": "query",
            "description": "Filter tasks by task type",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TaskList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "ServiceTasks_List": {
            "$ref": "./examples/ServiceTasks_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/serviceTasks/{taskName}": {
      "get": {
        "operationId": "ServiceTasks_Get",
        "tags": [
          "Service Task resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get service task information",
        "description": "The service tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. The GET method retrieves information about a service task.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand the response",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Get": {
            "$ref": "./examples/ServiceTasks_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ServiceTasks_CreateOrUpdate",
        "tags": [
          "Service Task resource",
          "Standard operation",
          "PUT"
        ],
        "summary": "Create or update service task",
        "description": "The service tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. The PUT method creates a new service task or updates an existing one, although since service tasks have no mutable custom properties, there is little reason to update an existing one.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the task",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ProjectTask' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "201": {
            "description": "Resource 'ProjectTask' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_CreateOrUpdate": {
            "$ref": "./examples/ServiceTasks_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "ServiceTasks_Update",
        "tags": [
          "Service Task resource",
          "Standard operation",
          "PATCH"
        ],
        "summary": "Create or update service task",
        "description": "The service tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. The PATCH method updates an existing service task, but since service tasks have no mutable custom properties, there is little reason to do so.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Information about the task",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Update": {
            "$ref": "./examples/ServiceTasks_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ServiceTasks_Delete",
        "tags": [
          "Service Task resource",
          "Standard operation",
          "DELETE"
        ],
        "summary": "Delete service task",
        "description": "The service tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. The DELETE method deletes a service task, canceling it first if it's running.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          },
          {
            "name": "deleteRunningTasks",
            "in": "query",
            "description": "Delete the resource even if it contains running tasks",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Delete": {
            "$ref": "./examples/ServiceTasks_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/serviceTasks/{taskName}/cancel": {
      "post": {
        "operationId": "ServiceTasks_Cancel",
        "tags": [
          "Service Task resource",
          "Custom operation",
          "POST"
        ],
        "summary": "Cancel a service task",
        "description": "The service tasks resource is a nested, proxy-only resource representing work performed by a DMS (classic) instance. This method cancels a service task if it's currently queued or running.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          },
          {
            "name": "taskName",
            "in": "path",
            "description": "Name of the Task",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ProjectTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Tasks_Cancel": {
            "$ref": "./examples/ServiceTasks_Cancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/skus": {
      "get": {
        "operationId": "Services_ListSkus",
        "tags": [
          "Service resource",
          "Standard operation",
          "GET"
        ],
        "summary": "Get compatible SKUs",
        "description": "The services resource is the top-level resource that represents the Database Migration Service (classic). The skus action returns the list of SKUs that a service resource can be updated to.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "groupName",
            "in": "path",
            "description": "Name of the resource group",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceName",
            "in": "path",
            "description": "Name of the service",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceSkuList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Services_ListSkus": {
            "$ref": "./examples/Services_ListSkus.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{groupName}/providers/Microsoft.DataMigration/services/{serviceName}/start": {
      "post": {
        "operationId": "Services_Start",
        "tags": [
          "Service resource",
          "Custom operation",
          "POST"
        ],
[...]
