{
  "swagger": "2.0",
  "info": {
    "title": "portal",
    "version": "2020-09-01-preview",
    "description": "Allows creation and deletion of Azure Shared Dashboards.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Dashboards"
    }
  ],
  "paths": {
    "/providers/Microsoft.Portal/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List of operations.": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Portal/dashboards": {
      "get": {
        "operationId": "Dashboards_ListBySubscription",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets all the dashboards within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all custom resource providers on the subscription": {
            "$ref": "./examples/Dashboards_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards": {
      "get": {
        "operationId": "Dashboards_ListByResourceGroup",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets all the Dashboards within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all custom resource providers on the resourceGroup": {
            "$ref": "./examples/Dashboards_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Portal/dashboards/{dashboardName}": {
      "get": {
        "operationId": "Dashboards_Get",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets the Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Dashboard": {
            "$ref": "./examples/Dashboards_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Dashboards_CreateOrUpdate",
        "tags": [
          "Dashboards"
        ],
        "description": "Creates or updates a Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dashboard",
            "in": "body",
            "description": "The parameters required to create or update a dashboard.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "x-ms-client-name": "resource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Dashboard' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "201": {
            "description": "Resource 'Dashboard' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a Dashboard": {
            "$ref": "./examples/Dashboards_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Dashboards_Update",
        "tags": [
          "Dashboards"
        ],
        "description": "Updates an existing Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "dashboard",
            "in": "body",
            "description": "The updatable fields of a Dashboard.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchableDashboard"
            },
            "x-ms-client-name": "properties"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a Dashboard": {
            "$ref": "./examples/Dashboards_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Dashboards_Delete",
        "tags": [
          "Dashboards"
        ],
        "description": "Deletes the Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Dashboard": {
            "$ref": "./examples/Dashboards_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Dashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DashboardPropertiesWithProvisioningState",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DashboardLens": {
      "type": "object",
      "description": "A dashboard lens.",
      "properties": {
        "order": {
          "type": "integer",
          "format": "int32",
          "description": "The lens order."
        },
        "parts": {
          "type": "array",
          "description": "The dashboard parts.",
          "items": {
            "$ref": "#/definitions/DashboardParts"
          },
          "x-ms-identifiers": []
        },
        "metadata": {
          "type": "object",
          "description": "The dashboard len's metadata."
        }
      },
      "required": [
        "order",
        "parts"
      ]
    },
    "DashboardListResult": {
      "type": "object",
      "description": "The response of a Dashboard list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Dashboard items on this page",
          "items": {
            "$ref": "#/definitions/Dashboard"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DashboardPartMetadata": {
      "type": "object",
      "description": "A dashboard part metadata.",
      "properties": {
        "type": {
          "$ref": "#/definitions/DashboardPartMetadataType"
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "DashboardPartMetadataType": {
      "type": "string",
      "description": "The dashboard part metadata type.",
      "enum": [
        "Extension/HubsExtension/PartType/MarkdownPart"
      ],
      "x-ms-enum": {
        "name": "DashboardPartMetadataType",
        "modelAsString": true,
        "values": [
          {
            "name": "markdown",
            "value": "Extension/HubsExtension/PartType/MarkdownPart",
            "description": "The markdown part type."
          }
        ]
      }
    },
    "DashboardParts": {
      "type": "object",
      "description": "A dashboard part.",
      "properties": {
        "position": {
          "$ref": "#/definitions/DashboardPartsPosition",
          "description": "The dashboard's part position."
        },
        "metadata": {
          "$ref": "#/definitions/DashboardPartMetadata",
          "description": "The dashboard part's metadata."
        }
      },
      "required": [
        "position"
      ]
    },
    "DashboardPartsPosition": {
      "type": "object",
      "description": "The dashboard's part position.",
      "properties": {
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard's part x coordinate."
        },
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard's part y coordinate."
        },
        "rowSpan": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard's part row span."
        },
        "colSpan": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard's part column span."
        },
        "metadata": {
          "type": "object",
          "description": "The dashboard part's metadata."
        }
      },
      "required": [
        "x",
        "y",
        "rowSpan",
        "colSpan"
      ]
    },
    "DashboardProperties": {
      "type": "object",
      "description": "The shared dashboard properties.",
      "properties": {
        "lenses": {
          "type": "array",
          "description": "The dashboard lenses.",
          "items": {
            "$ref": "#/definitions/DashboardLens"
          },
          "x-ms-identifiers": []
        },
        "metadata": {
          "type": "object",
          "description": "The dashboard metadata."
        }
      }
    },
    "DashboardPropertiesWithProvisioningState": {
      "type": "object",
      "description": "Dashboard Properties with Provisioning state",
      "properties": {
        "lenses": {
          "type": "array",
          "description": "The dashboard lenses.",
          "items": {
            "$ref": "#/definitions/DashboardLens"
          },
          "x-ms-identifiers": []
        },
        "metadata": {
          "type": "object",
          "description": "The dashboard metadata."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "MarkdownPartMetadata": {
      "type": "object",
      "description": "Markdown part metadata.",
      "properties": {
        "inputs": {
          "type": "array",
          "description": "Input to dashboard part.",
          "items": {
            "type": "object"
          },
          "x-ms-identifiers": []
        },
        "settings": {
          "$ref": "#/definitions/MarkdownPartMetadataSettings",
          "description": "Markdown part settings."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardPartMetadata"
        }
      ],
      "x-ms-discriminator-value": "Extension/HubsExtension/PartType/MarkdownPart"
    },
    "MarkdownPartMetadataSettings": {
      "type": "object",
      "description": "Markdown part settings.",
      "properties": {
        "content": {
          "$ref": "#/definitions/MarkdownPartMetadataSettingsContent",
          "description": "The content of markdown part."
        }
      }
    },
    "MarkdownPartMetadataSettingsContent": {
      "type": "object",
      "description": "The content of markdown part.",
      "properties": {
        "settings": {
          "$ref": "#/definitions/MarkdownPartMetadataSettingsContentSettings",
          "description": "The setting of the content of markdown part."
        }
      }
    },
    "MarkdownPartMetadataSettingsContentSettings": {
      "type": "object",
      "description": "The setting of the content of markdown part.",
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the markdown part."
        },
        "title": {
          "type": "string",
          "description": "The title of the markdown part."
        },
        "subtitle": {
          "type": "string",
          "description": "The subtitle of the markdown part."
        },
        "markdownSource": {
          "type": "integer",
          "format": "int32",
          "description": "The source of the content of the markdown part."
        },
        "markdownUri": {
          "type": "string",
          "description": "The uri of markdown content."
        }
      }
    },
    "PatchableDashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DashboardProperties",
          "description": "The shared dashboard properties."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
