{
  "swagger": "2.0",
  "info": {
    "title": "MonitorManagementClient",
    "version": "2018-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{resourceUri}/providers/Microsoft.Insights/metricDefinitions": {
      "get": {
        "tags": [
          "MetricDefinitions"
        ],
        "operationId": "MetricDefinitions_List",
        "description": "Lists the metric definitions for the resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/MetricNamespaceParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get the list of metric definitions",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Get Metric Definitions without filter": {
            "$ref": "./examples/GetMetricDefinitions.json"
          },
          "Get Application Insights Metric Definitions without filter": {
            "$ref": "./examples/GetMetricDefinitionsApplicationInsights.json"
          },
          "Get StorageCache Metric Definitions with metric class": {
            "$ref": "./examples/GetMetricDefinitionsMetricClass.json"
          }
        }
      }
    }
  },
  "definitions": {
    "LocalizableString": {
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "string",
          "description": "the invariant value."
        },
        "localizedValue": {
          "type": "string",
          "description": "the locale specific value."
        }
      },
      "description": "The localizable string class."
    },
    "MetricAvailability": {
      "type": "object",
      "properties": {
        "timeGrain": {
          "type": "string",
          "format": "duration",
          "description": "the time grain specifies the aggregation interval for the metric. Expressed as a duration 'PT1M', 'P1D', etc."
        },
        "retention": {
          "type": "string",
          "format": "duration",
          "description": "the retention period for the metric at the specified timegrain.  Expressed as a duration 'PT1M', 'P1D', etc."
        }
      },
      "description": "Metric availability specifies the time grain (aggregation interval or frequency) and the retention period for that time grain."
    },
    "Unit": {
      "type": "string",
      "description": "The unit of the metric.",
      "enum": [
        "Count",
        "Bytes",
        "Seconds",
        "CountPerSecond",
        "BytesPerSecond",
        "Percent",
        "MilliSeconds",
        "ByteSeconds",
        "Unspecified",
        "Cores",
        "MilliCores",
        "NanoCores",
        "BitsPerSecond"
      ],
      "x-ms-enum": {
        "name": "MetricUnit",
        "modelAsString": true
      }
    },
    "AggregationType": {
      "type": "string",
      "description": "the aggregation type of the metric.",
      "enum": [
        "None",
        "Average",
        "Count",
        "Minimum",
        "Maximum",
        "Total"
      ],
      "x-ms-enum": {
        "name": "AggregationType",
        "modelAsString": false
      }
    },
    "MetricClass": {
      "type": "string",
      "description": "The class of the metric.",
      "enum": [
        "Availability",
        "Transactions",
        "Errors",
        "Latency",
        "Saturation"
      ],
      "x-ms-enum": {
        "name": "MetricClass",
        "modelAsString": true
      }
    },
    "MetricDefinition": {
      "type": "object",
      "properties": {
        "isDimensionRequired": {
          "type": "boolean",
          "description": "Flag to indicate whether the dimension is required."
        },
        "resourceId": {
          "type": "string",
          "description": "the resource identifier of the resource that emitted the metric."
        },
        "namespace": {
          "type": "string",
          "description": "the namespace the metric belongs to."
        },
        "name": {
          "$ref": "#/definitions/LocalizableString",
          "description": "the name and the display name of the metric, i.e. it is a localizable string."
        },
        "displayDescription": {
          "type": "string",
          "description": "Detailed description of this metric."
        },
        "category": {
          "type": "string",
          "description": "Custom category name for this metric."
        },
        "metricClass": {
          "$ref": "#/definitions/MetricClass",
          "description": "The class of the metric."
        },
        "unit": {
          "$ref": "#/definitions/Unit",
          "description": "The unit of the metric."
        },
        "primaryAggregationType": {
          "$ref": "#/definitions/AggregationType",
          "description": "the primary aggregation type value defining how to use the values for display."
        },
        "supportedAggregationTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AggregationType"
          },
          "description": "the collection of what aggregation types are supported."
        },
        "metricAvailabilities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricAvailability"
          },
          "x-ms-identifiers": [],
          "description": "the collection of what aggregation intervals are available to be queried."
        },
        "id": {
          "type": "string",
          "description": "the resource identifier of the metric definition."
        },
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LocalizableString"
          },
          "x-ms-identifiers": [
            "value"
          ],
          "description": "the name and the display name of the dimension, i.e. it is a localizable string."
        }
      },
      "description": "Metric definition class specifies the metadata for a metric."
    },
    "MetricDefinitionCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MetricDefinition"
          },
          "description": "the values for the metric definitions."
        }
      },
      "required": [
        "value"
      ],
      "description": "Represents collection of metric definitions."
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The identifier of the resource.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "MetricNamespaceParameter": {
      "name": "metricnamespace",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "Metric namespace to query metric definitions for.",
      "x-ms-parameter-location": "method"
    }
  }
}
