{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes/{connectionTypeName}": {
      "delete": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_Delete",
        "description": "Delete the connection type.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Delete an existing connection type": {
            "$ref": "./examples/deleteConnectionType.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connection type."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_Get",
        "description": "Retrieve the connection type identified by connection type name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Get connection type": {
            "$ref": "./examples/getConnectionType.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of connection type."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_CreateOrUpdate",
        "description": "Create a connection type.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Create or update connection type": {
            "$ref": "./examples/createOrUpdateConnectionType.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "connectionTypeName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters supplied to the create or update connection type operation."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionTypeCreateOrUpdateParameters"
            },
            "description": "The parameters supplied to the create or update connection type operation."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/ConnectionType"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/connectionTypes": {
      "get": {
        "tags": [
          "ConnectionType"
        ],
        "operationId": "ConnectionType_ListByAutomationAccount",
        "description": "Retrieve a list of connection types.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/connectiontypeoperations"
        },
        "x-ms-examples": {
          "Get connection types, first 100": {
            "$ref": "./examples/getAllConnectionTypes_First100.json"
          },
          "Get connection types, next 100": {
            "$ref": "./examples/getAllConnectionTypes_Next100.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ConnectionTypeListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "FieldDefinition": {
      "properties": {
        "isEncrypted": {
          "type": "boolean",
          "description": "Gets or sets the isEncrypted flag of the connection field definition."
        },
        "isOptional": {
          "type": "boolean",
          "description": "Gets or sets the isOptional flag of the connection field definition."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the connection field definition."
        }
      },
      "required": [
        "type"
      ],
      "description": "Definition of the connection fields."
    },
    "ConnectionTypeProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate if the connection type is global."
        },
        "fieldDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/FieldDefinition"
          },
          "readOnly": true,
          "description": "Gets the field definitions of the connection type."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Gets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Properties of the connection type."
    },
    "ConnectionType": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the id of the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the name of the connection type."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        },
        "properties": {
          "$ref": "#/definitions/ConnectionTypeProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the connection type."
        }
      },
      "description": "Definition of the connection type."
    },
    "ConnectionTypeListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConnectionType"
          },
          "description": "Gets or sets a list of connection types."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list connection type operation."
    },
    "ConnectionTypeCreateOrUpdateParameters": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the connection type."
        },
        "properties": {
          "$ref": "#/definitions/ConnectionTypeCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the value of the connection type."
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "description": "The parameters supplied to the create or update connection type operation."
    },
    "ConnectionTypeCreateOrUpdateProperties": {
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value to indicate if the connection type is global."
        },
        "fieldDefinitions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/FieldDefinition"
          },
          "description": "Gets or sets the field definitions of the connection type."
        }
      },
      "required": [
        "fieldDefinitions"
      ],
      "description": "The properties of the create connection type."
    }
  },
  "parameters": {}
}
