{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules/{jobScheduleId}": {
      "delete": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Delete",
        "description": "Delete the job schedule identified by job schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Delete a job schedule": {
            "$ref": "./examples/deleteJobSchedule.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Get",
        "description": "Retrieve the job schedule identified by job schedule name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Get a job schedule": {
            "$ref": "./examples/getJobSchedule.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_Create",
        "description": "Create a job schedule.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "Create a job schedule": {
            "$ref": "./examples/createJobSchedule.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "jobScheduleId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job schedule name."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobScheduleCreateParameters"
            },
            "description": "The parameters supplied to the create job schedule operation."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/JobSchedule"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobSchedules": {
      "get": {
        "tags": [
          "JobSchedule"
        ],
        "operationId": "JobSchedule_ListByAutomationAccount",
        "description": "Retrieve a list of job schedules.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobscheduleoperations"
        },
        "x-ms-examples": {
          "List all job schedules by automation account": {
            "$ref": "./examples/listAllJobSchedulesByAutomationAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobScheduleListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/JobSchedule"
      }
    }
  },
  "definitions": {
    "JobScheduleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobSchedule"
          },
          "description": "Gets or sets a list of job schedules."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list job schedule operation."
    },
    "JobSchedule": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the id of the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the name of the variable."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        },
        "properties": {
          "$ref": "#/definitions/JobScheduleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the job schedule."
        }
      },
      "description": "Definition of the job schedule."
    },
    "ScheduleAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the Schedule."
        }
      },
      "description": "The schedule property associated with the entity."
    },
    "RunbookAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the runbook."
        }
      },
      "description": "The runbook property associated with the entity."
    },
    "JobScheduleProperties": {
      "properties": {
        "jobScheduleId": {
          "type": "string",
          "description": "Gets or sets the id of job schedule."
        },
        "schedule": {
          "$ref": "#/definitions/ScheduleAssociationProperty",
          "description": "Gets or sets the schedule."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the hybrid worker group that the scheduled job should run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the parameters of the job schedule."
        }
      },
      "description": "Definition of job schedule parameters."
    },
    "JobScheduleCreateProperties": {
      "properties": {
        "schedule": {
          "$ref": "#/definitions/ScheduleAssociationProperty",
          "description": "Gets or sets the schedule."
        },
        "runbook": {
          "$ref": "#/definitions/RunbookAssociationProperty",
          "description": "Gets or sets the runbook."
        },
        "runOn": {
          "type": "string",
          "description": "Gets or sets the hybrid worker group that the scheduled job should run on."
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets a list of job properties."
        }
      },
      "required": [
        "schedule",
        "runbook"
      ],
      "description": "The parameters supplied to the create job schedule operation."
    },
    "JobScheduleCreateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobScheduleCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the list of job schedule properties."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create job schedule operation."
    }
  },
  "parameters": {}
}
