{
  "swagger": "2.0",
  "consumes": [
    "application/json"
  ],
  "definitions": {
    "BackupRequestBase": {
      "description": "BackupRequestBase is the base for all backup request.",
      "required": [
        "backupSettings"
      ],
      "type": "object",
      "properties": {
        "backupSettings": {
          "$ref": "#/definitions/BackupSettings",
          "description": "Backup Settings"
        }
      }
    },
    "BackupAndExportRequest": {
      "description": "BackupAndExport API Request",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BackupRequestBase"
        }
      ],
      "required": [
        "backupSettings",
        "targetDetails"
      ],
      "properties": {
        "targetDetails": {
          "$ref": "#/definitions/BackupTargetDetails",
          "description": "Backup Target Details"
        }
      }
    },
    "PreBackupRequest": {
      "description": "PreBackup API Request.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BackupRequestBase"
        }
      ]
    },
    "BackupTargetDetails": {
      "description": "BackupTargetDetails is used for scenarios where backup data is streamed/copied over to a storage destination.",
      "type": "object",
      "required": [
        "sasUriList"
      ],
      "properties": {
        "sasUriList": {
          "description": "SASUriList of storage containers where backup data is to be streamed/copied.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BackupSettings": {
      "description": "Backup Settings",
      "type": "object",
      "required": [
        "backupName"
      ],
      "properties": {
        "backupName": {
          "type": "string",
          "description": "Backup Name for the current backup"
        },
        "backupFormat": {
          "description": "Backup Format for the current backup.",
          "enum": [
            "None",
            "Mapped",
            "Raw"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BackupFormat",
            "modelAsString": true
          }
        }
      }
    },
    "PreBackupResponseProperties": {
      "description": "PreBackup Response Properties",
      "type": "object",
      "required": [
        "estimatedBackupSize"
      ],
      "properties": {
        "estimatedBackupSize": {
          "format": "int64",
          "description": "Estimated size of the resource data to be backed up.",
          "type": "integer"
        }
      }
    },
    "BackupAndExportResponseProperties": {
      "description": "BackupAndExport Response Properties",
      "type": "object",
      "required": [
        "datasourceSizeInBytes",
        "dataTransferredInBytes",
        "backupMetadata"
      ],
      "properties": {
        "datasourceSizeInBytes": {
          "format": "int64",
          "description": "Size of datasource in bytes",
          "type": "integer"
        },
        "dataTransferredInBytes": {
          "format": "int64",
          "description": "Data transferred in bytes",
          "type": "integer"
        },
        "backupMetadata": {
          "description": "Metadata related to backup to be stored for restoring resource in key-value pairs.",
          "type": "string"
        }
      }
    },
    "BackupAndExportResponse": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BackupAndExportResponseProperties",
          "x-ms-client-flatten": true,
          "description": "The response properties of an backup and export operation."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Represents BackupAndExport API Response"
    },
    "PreBackupResponse": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PreBackupResponseProperties",
          "x-ms-client-flatten": true,
          "description": "The response properties of an pre backup operation."
        }
      },
      "description": "Represents PreBackup API Response"
    },
    "CloudError": {
      "type": "object",
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse",
          "description": "The resource management error response."
        }
      },
      "description": "An error response from the Batch service."
    }
  },
  "host": "management.azure.com",
  "info": {
    "title": "MySQLManagementClient",
    "description": "The Microsoft Azure management API provides create, read, update, and delete functionality for Azure MySQL resources including servers, databases, firewall rules and configurations.",
    "version": "2022-08-01-privatepreview"
  },
  "parameters": {
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the server.",
      "x-ms-parameter-location": "method"
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/backupAndExport": {
      "post": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_BackupAndExport",
        "x-ms-examples": {
          "Create and Export Backup": {
            "$ref": "./examples/BackupAndExport.json"
          }
        },
        "description": "Exports the backup of the given server by creating a backup if not existing.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupAndExportRequest"
            },
            "description": "The required parameters for creating and exporting backup of the given server."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupAndExportResponse"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DBforMySQL/flexibleServers/{serverName}/preBackup": {
      "post": {
        "tags": [
          "Servers"
        ],
        "operationId": "Servers_PreBackup",
        "x-ms-examples": {
          "Pre Backup": {
            "$ref": "./examples/PreBackup.json"
          }
        },
        "description": "Validates if backup can be performed for given server and estimates backup size.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreBackupRequest"
            },
            "description": "The required parameters for validating if backup can be performed for given server."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PreBackupResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}