{
  "x-generator": "NSwag v13.18.2.0 (NJsonSchema v10.8.0.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Marketplace Rating And Reviews API",
    "description": "Microsoft Marketplace Rating And Reviews API",
    "version": "2023-01-01-preview"
  },
  "host": "catalogapi.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/products/{productId}/reviews": {
      "get": {
        "tags": [
          "Reviews Public API"
        ],
        "summary": "Get reviews by unique product id",
        "operationId": "Reviews_GetReviewsByOfferId",
        "x-ms-examples": {
          "Facets_Get": {
            "$ref": "./examples/GetProductReviews.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "Unique Product Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "skipToken",
            "in": "query",
            "description": "Skip token to continue getting comments from a given point",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "Maximum number of reviews to return",
            "format": "int32",
            "default": 50,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "required": true,
            "default": "2023-01-01-preview",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of reviews for the given unique product",
            "schema": {
              "$ref": "#/definitions/PageResultOfReviewDto"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "In case request is malformed",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "In case an error encountered",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/products/{productId}/reviews/{reviewId}/comments": {
      "get": {
        "tags": [
          "Reviews Public API"
        ],
        "summary": "Get the comments of a given review",
        "operationId": "ReviewComment_GetComments",
        "x-ms-examples": {
          "Facets_Get": {
            "$ref": "./examples/GetReviewComments.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "reviewId",
            "in": "path",
            "required": true,
            "description": "Review Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "Unique Product Id",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "skipToken",
            "in": "query",
            "description": "Skip token to continue getting comments from a given point",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "pageSize",
            "in": "query",
            "description": "maximum number of comments to return",
            "format": "int32",
            "default": 50,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "api-version",
            "in": "query",
            "required": true,
            "default": "2023-01-01-preview",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of comments for the given review",
            "schema": {
              "$ref": "#/definitions/PageResultOfReviewCommentDto"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "In case request structure is wrong",
            "schema": {
              "type": "string"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "In case an error has occurred in the server",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PageResultOfReviewDto": {
      "type": "object",
      "required": [
        "count"
      ],
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReviewDto"
          }
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "nextPageLink": {
          "type": "string",
          "format": "uri"
        }
      }
    },
    "ReviewDto": {
      "type": "object",
      "required": [
        "rating",
        "createdDateTime",
        "lastModifiedDateTime",
        "commentsCount",
        "helpfulCount"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "uniqueProductId": {
          "type": "string"
        },
        "rating": {
          "type": "number",
          "format": "decimal"
        },
        "title": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "source": {
          "type": "string"
        },
        "reviewerName": {
          "type": "string"
        },
        "externalReviewUrl": {
          "type": "string"
        },
        "isvReply": {
          "$ref": "#/definitions/IsvReplyDto"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "commentsCount": {
          "type": "integer",
          "format": "int32"
        },
        "helpfulCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "IsvReplyDto": {
      "type": "object",
      "required": [
        "repliedDateTime"
      ],
      "properties": {
        "content": {
          "type": "string"
        },
        "repliedDateTime": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "UserMetadataDto": {
      "type": "object",
      "required": [
        "isEligible"
      ],
      "properties": {
        "review": {
          "$ref": "#/definitions/ReviewDto"
        },
        "helpfulReviewIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "commentReviewIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isEligible": {
          "$ref": "#/definitions/EligibilityStatus"
        }
      }
    },
    "EligibilityStatus": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Eligible",
        "NotEligible",
        "PendingCheck"
      ],
      "enum": [
        "Eligible",
        "NotEligible",
        "PendingCheck"
      ]
    },
    "UpsertReviewRequest": {
      "type": "object",
      "description": "Create or update review request object for a product",
      "required": [
        "rating"
      ],
      "properties": {
        "uniqueProductId": {
          "type": "string",
          "description": "Product unique identifier"
        },
        "rating": {
          "type": "integer",
          "description": "Rating for this review. Possible values between 1 to 5",
          "format": "int32"
        },
        "title": {
          "type": "string",
          "description": "Title for this review"
        },
        "content": {
          "type": "string",
          "description": "Content for this review"
        },
        "isAnonymous": {
          "type": "boolean",
          "description": "Publish review as anonymous"
        },
        "sendEmailConsent": {
          "type": "boolean",
          "description": "Consent to use email"
        }
      }
    },
    "PageResultOfReviewCommentDto": {
      "type": "object",
      "required": [
        "count"
      ],
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ReviewCommentDto"
          }
        },
        "count": {
          "type": "integer",
          "format": "int32"
        },
        "nextPageLink": {
          "type": "string",
          "format": "uri"
        }
      }
    },
    "ReviewCommentDto": {
      "type": "object",
      "required": [
        "createdDateTime",
        "lastModifiedDateTime",
        "isDeleted",
        "isOwner"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "content": {
          "type": "string"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "customerName": {
          "type": "string"
        },
        "isDeleted": {
          "type": "boolean"
        },
        "isOwner": {
          "type": "boolean"
        }
      }
    }
  },
  "tags": [
    {
      "name": "Reviews Public API"
    }
  ]
}
