{
  "swagger": "2.0",
  "info": {
    "title": "RecoveryServicesBackupCrrClient",
    "version": "2026-07-15",
    "description": "Open API 2.0 Specs for Azure RecoveryServices Backup CRR service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "BackupResourceConfigResources"
    },
    {
      "name": "RecoveryPointResources"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupAadProperties": {
      "get": {
        "operationId": "AadProperties_Get",
        "summary": "Fetches the AAD properties from target region BCM stamp.",
        "description": "Fetches the AAD properties from target region BCM stamp.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "azureRegion",
            "in": "path",
            "description": "Azure region to hit Api",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AADPropertiesResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get AAD Properties for authentication in the third region": {
            "$ref": "./examples/AzureIaasVm/BackupAadProperties_Get.json"
          }
        },
        "x-ms-odata": "#/definitions/BMSAADPropertiesQueryObject"
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupCrossRegionRestore": {
      "post": {
        "operationId": "CrossRegionRestore_Trigger",
        "summary": "Restores the specified backed up data in a different region as compared to where the data is backed up.",
        "description": "Restores the specified backed up data in a different region as compared to where the data is backed up.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "azureRegion",
            "in": "path",
            "description": "Azure region to hit Api",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "resource cross region restore request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrossRegionRestoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Accepted (202) response for the cross region restore trigger operation."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Trigger Cross Region Restore": {
            "$ref": "./examples/AzureIaasVm/TriggerCrossRegionRestore_Post.json"
          },
          "Trigger Cross Region Restore with identityBasedRestoreDetails": {
            "$ref": "./examples/AzureIaasVm/TriggerCrossRegionRestore_IdentityBasedRestoreDetails_Post.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupCrrJob": {
      "post": {
        "operationId": "BackupCrrJobDetails_Get",
        "summary": "Get CRR job details from target region.",
        "description": "Get CRR job details from target region.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "azureRegion",
            "in": "path",
            "description": "Azure region to hit Api",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "CRR job request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrrJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Cross Region Restore Job Details in the secondary region": {
            "$ref": "./examples/AzureIaasVm/GetCrrJob_Post.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupCrrJobs": {
      "post": {
        "operationId": "BackupCrrJobs_List",
        "summary": "Gets the list of CRR jobs from the target region.",
        "description": "Gets the list of CRR jobs from the target region.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "azureRegion",
            "in": "path",
            "description": "Azure region to hit Api",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "skipToken Filter.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "CRR job request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrrJobRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Cross Region Restore Jobs in the secondary region": {
            "$ref": "./examples/AzureIaasVm/ListCrrJobs_Post.json"
          }
        },
        "x-ms-odata": "#/definitions/JobQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupCrrOperationResults/{operationId}": {
      "get": {
        "operationId": "CrrOperationResults_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "azureRegion",
            "in": "path",
            "description": "Azure region to hit Api",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Operation Results for Cross Region Restore": {
            "$ref": "./examples/AzureIaasVm/GetCrrOperationResults_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupCrrOperationsStatus/{operationId}": {
      "get": {
        "operationId": "CrrOperationStatus_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "azureRegion",
            "in": "path",
            "description": "Azure region to hit Api",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Operation Status for Cross Region Restore": {
            "$ref": "./examples/AzureIaasVm/GetCrrOperationStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints": {
      "get": {
        "operationId": "RecoveryPointsCrr_List",
        "tags": [
          "RecoveryPointResources"
        ],
        "description": "Lists the backup copies for the backed up item.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the VaultResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The name of the BackupFabricResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the ProtectionContainerResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of the ProtectedItemVirtualResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecoveryPointResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Protected Azure Vm Recovery Points": {
            "$ref": "./examples/AzureIaasVm/RecoveryPoints_List.json"
          }
        },
        "x-ms-odata": "#/definitions/BMSRPQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}": {
      "get": {
        "operationId": "RecoveryPointsCrr_Get",
        "tags": [
          "RecoveryPointResources"
        ],
        "description": "Provides the information of the backed up data identified using RecoveryPointID.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the VaultResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The name of the BackupFabricResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the ProtectionContainerResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of the ProtectedItemVirtualResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "description": "RecoveryPointID represents the backed up data to be fetched.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RecoveryPointResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Azure Vm Recovery Point Details": {
            "$ref": "./examples/AzureIaasVm/RecoveryPoints_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupFabrics/{fabricName}/protectionContainers/{containerName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointId}/accessToken": {
      "post": {
        "operationId": "RecoveryPoints_GetAccessToken",
        "tags": [
          "RecoveryPointResources"
        ],
        "description": "Returns the Access token for communication between BMS and Protection service",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the VaultResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "fabricName",
            "in": "path",
            "description": "The name of the BackupFabricResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerName",
            "in": "path",
            "description": "The name of the ProtectionContainerResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "protectedItemName",
            "in": "path",
            "description": "The name of the ProtectedItemVirtualResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "description": "RecoveryPointID represents the backed up data to be fetched.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Get Access Token request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AADPropertiesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CrrAccessTokenResource"
            }
          },
          "400": {
            "description": "BadRequest error response for the recovery point access token operation.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Access Token for Crr": {
            "$ref": "./examples/AzureIaasVm/GetAccessToken_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupProtectedItems/": {
      "get": {
        "operationId": "BackupProtectedItemsCrr_List",
        "description": "Provides a pageable list of all items that are backed up within a vault.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the recovery services vault.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "skipToken Filter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemResourceList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List protected items with backupManagementType filter as AzureIaasVm": {
            "$ref": "./examples/AzureIaasVm/BackupProtectedItems_List.json"
          }
        },
        "x-ms-odata": "#/definitions/ProtectedItemQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupUsageSummaries": {
      "get": {
        "operationId": "BackupUsageSummariesCRR_List",
        "description": "Fetches the backup management usage summaries of the vault.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the recovery services vault.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "skipToken Filter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BackupManagementUsageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Protected Containers Usages Summary": {
            "$ref": "./examples/Common/BackupProtectionContainers_UsageSummary_Get.json"
          },
          "Get Protected Items Usages Summary": {
            "$ref": "./examples/Common/BackupProtectedItem_UsageSummary_Get.json"
          }
        },
        "x-ms-odata": "#/definitions/BMSBackupSummariesQueryObject",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/backupstorageconfig/vaultstorageconfig": {
      "get": {
        "operationId": "BackupResourceStorageConfigs_Get",
        "tags": [
          "BackupResourceConfigResources"
        ],
        "description": "Fetches resource storage config.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the VaultResource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BackupResourceConfigResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Vault Storage Configuration": {
            "$ref": "./examples/Common/BackupStorageConfig_Get.json"
          }
        }
      },
      "put": {
        "operationId": "BackupResourceStorageConfigs_Update",
        "tags": [
          "BackupResourceConfigResources"
        ],
        "description": "Updates vault storage model type.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the VaultResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Vault storage config request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupResourceConfigResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BackupResourceConfigResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BackupResourceConfigResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Vault Storage Configuration": {
            "$ref": "./examples/Common/BackupStorageConfig_Put.json"
          }
        }
      },
      "patch": {
        "operationId": "BackupResourceStorageConfigs_patch",
        "tags": [
          "BackupResourceConfigResources"
        ],
        "description": "Updates vault storage model type.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "vaultName",
            "in": "path",
            "description": "The name of the VaultResource",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Vault storage config request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupResourceConfigResource"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Vault Storage Configuration": {
            "$ref": "./examples/Common/BackupStorageConfig_Patch.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AADProperties": {
      "type": "object",
      "properties": {
        "servicePrincipalClientId": {
          "type": "string"
        },
        "tenantId": {
          "type": "string"
        },
        "authority": {
          "type": "string"
        },
        "audience": {
          "type": "string"
        },
        "servicePrincipalObjectId": {
          "type": "string"
        }
      }
    },
    "AADPropertiesResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AADProperties",
          "description": "AADPropertiesResource properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "AccessTokenBadRequestResponse": {
      "type": "object",
      "description": "BadRequest error response for the recovery point access token operation."
    },
    "AzureFileShareRecoveryPoint": {
      "type": "object",
      "description": "Azure File Share workload specific backup copy.",
      "properties": {
        "recoveryPointType": {
          "type": "string",
          "description": "Type of the backup copy. Specifies whether it is a crash consistent backup or app consistent.",
          "readOnly": true
        },
        "recoveryPointTime": {
          "type": "string",
          "format": "date-time",
          "description": "Time at which this backup copy was created.",
          "readOnly": true
        },
        "fileShareSnapshotUri": {
          "type": "string",
          "description": "Contains Url to the snapshot of fileshare, if applicable",
          "readOnly": true
        },
        "recoveryPointSizeInGB": {
          "type": "integer",
          "format": "int32",
          "description": "Contains recovery point size",
          "readOnly": true
        },
        "recoveryPointProperties": {
          "$ref": "#/definitions/RecoveryPointProperties",
          "description": "Properties of Recovery Point"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/RecoveryPoint"
        }
      ],
      "x-ms-discriminator-value": "AzureFileShareRecoveryPoint"
    },
    "AzureFileShareRestoreRequest": {
      "type": "object",
      "description": "AzureFileShare Restore Request",
      "properties": {
        "recoveryType": {
          "$ref": "#/definitions/RecoveryType",
          "description": "Type of this recovery."
        },
        "sourceResourceId": {
          "type": "string",
          "description": "Source storage account ARM Id"
        },
        "copyOptions": {
          "$ref": "#/definitions/CopyOptions",
          "description": "Options to resolve copy conflicts."
        },
        "restoreRequestType": {
          "$ref": "#/definitions/RestoreRequestType",
          "description": "Restore Type (FullShareRestore or ItemLevelRestore)"
        },
        "restoreFileSpecs": {
          "type": "array",
          "description": "List of Source Files/Folders(which need to recover) and TargetFolderPath details",
          "items": {
            "$ref": "#/definitions/RestoreFileSpecs"
          }
        },
        "targetDetails": {
          "$ref": "#/definitions/TargetAFSRestoreInfo",
          "description": "Target File Share Details"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/RestoreRequest"
        }
      ],
      "x-ms-discriminator-value": "AzureFileShareRestoreRequest"
    },
    "AzureFileshareProtectedItem": {
      "type": "object",
      "description": "Azure File Share workload-specific backup item.",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of the fileshare represented by this backup item."
        },
        "protectionStatus": {
          "type": "string",
          "description": "Backup status of this backup item."
        },
        "protectionState": {
          "$ref": "#/definitions/ProtectionState",
          "description": "Backup state of this backup item."
        },
        "healthStatus": {
          "$ref": "#/definitions/HealthStatus",
          "description": "backups running status for this backup item."
        },
        "lastBackupStatus": {
          "type": "string",
          "description": "Last backup operation status. Possible values: Healthy, Unhealthy."
        },
        "lastBackupTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of the last backup operation on this backup item."
        },
        "kpisHealths": {
          "type": "object",
          "description": "Health details of different KPIs",
          "additionalProperties": {
            "$ref": "#/definitions/KPIResourceHealthDetails"
          }
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureFileshareProtectedItemExtendedInfo",
          "description": "Additional information with this backup item."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "AzureFileShareProtectedItem"
    },
    "AzureFileshareProtectedItemExtendedInfo": {
      "type": "object",
      "description": "Additional information about Azure File Share backup item.",
      "properties": {
        "oldestRecoveryPoint": {
          "type": "string",
          "format": "date-time",
          "description": "The oldest backup copy available for this item in the service."
        },
        "recoveryPointCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of available backup copies associated with this backup item."
        },
        "policyState": {
          "type": "string",
          "description": "Indicates consistency of policy object and policy applied to this backup item."
        },
        "resourceState": {
          "type": "string",
          "description": "Indicates the state of this resource. Possible values are from enum ResourceState {Invalid, Active, SoftDeleted, Deleted}",
          "readOnly": true
        },
        "resourceStateSyncTime": {
          "type": "string",
          "format": "date-time",
          "description": "The resource state sync time for this backup item.",
          "readOnly": true
        }
      }
    },
    "AzureIaaSClassicComputeVMProtectedItem": {
      "type": "object",
      "description": "IaaS VM workload-specific backup item representing the Classic Compute VM.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureIaaSVMProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.ClassicCompute/virtualMachines"
    },
    "AzureIaaSComputeVMProtectedItem": {
      "type": "object",
      "description": "IaaS VM workload-specific backup item representing the Azure Resource Manager VM.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureIaaSVMProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.Compute/virtualMachines"
    },
    "AzureIaaSVMErrorInfo": {
      "type": "object",
      "description": "Azure IaaS VM workload-specific error information.",
      "properties": {
        "errorCode": {
          "type": "integer",
          "format": "int32",
          "description": "Error code.",
          "readOnly": true
        },
        "errorTitle": {
          "type": "string",
          "description": "Title: Typically, the entity that the error pertains to.",
          "readOnly": true
        },
        "errorString": {
          "type": "string",
          "description": "Localized error string.",
          "readOnly": true
        },
        "recommendations": {
          "type": "array",
          "description": "List of localized recommendations for above error code.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "AzureIaaSVMHealthDetails": {
      "type": "object",
      "description": "Azure IaaS VM workload-specific Health Details.",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceHealthDetails"
        }
      ]
    },
    "AzureIaaSVMJob": {
      "type": "object",
      "description": "Azure IaaS VM workload-specific job object.",
      "properties": {
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Time elapsed during the execution of this job."
        },
        "actionsInfo": {
          "type": "array",
          "description": "Gets or sets the state/actions applicable on this job like cancel/retry.",
          "items": {
            "$ref": "#/definitions/JobSupportedAction"
          }
        },
        "errorDetails": {
          "type": "array",
          "description": "Error details on execution of this job.",
          "items": {
            "$ref": "#/definitions/AzureIaaSVMErrorInfo"
          }
        },
        "virtualMachineVersion": {
          "type": "string",
          "description": "Specifies whether the backup item is a Classic or an Azure Resource Manager VM."
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureIaaSVMJobExtendedInfo",
          "description": "Additional information for this job."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "AzureIaaSVMJob"
    },
    "AzureIaaSVMJobExtendedInfo": {
      "type": "object",
      "description": "Azure IaaS VM workload-specific additional information for job.",
      "properties": {
        "tasksList": {
          "type": "array",
          "description": "List of tasks associated with this job.",
          "items": {
            "$ref": "#/definitions/AzureIaaSVMJobTaskDetails"
          }
        },
        "propertyBag": {
          "type": "object",
          "description": "Job properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "internalPropertyBag": {
          "type": "object",
          "description": "Job internal properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "progressPercentage": {
          "type": "number",
          "format": "double",
          "description": "Indicates progress of the job. Null if it has not started or completed."
        },
        "estimatedRemainingDuration": {
          "type": "string",
          "description": "Time remaining for execution of this job."
        },
        "dynamicErrorMessage": {
          "type": "string",
          "description": "Non localized error message on job execution."
        }
      }
    },
    "AzureIaaSVMJobTaskDetails": {
      "type": "object",
      "description": "Azure IaaS VM workload-specific job task details.",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "The task display name."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time."
        },
        "instanceId": {
          "type": "string",
          "description": "The instanceId."
        },
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Time elapsed for task."
        },
        "status": {
          "type": "string",
          "description": "The status."
        },
        "progressPercentage": {
          "type": "number",
          "format": "double",
          "description": "Progress of the task."
        },
        "taskExecutionDetails": {
          "type": "string",
          "description": "Details about execution of the task.\neg: number of bytes transferred etc"
        }
      }
    },
    "AzureIaaSVMProtectedItem": {
      "type": "object",
      "description": "IaaS VM workload-specific backup item.",
      "properties": {
        "protectedItemType": {
          "type": "string",
          "description": "Discriminator property for AzureIaaSVMProtectedItem."
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of the VM represented by this backup item."
        },
        "virtualMachineId": {
          "type": "string",
          "description": "Fully qualified ARM ID of the virtual machine represented by this item."
        },
        "protectionStatus": {
          "type": "string",
          "description": "Backup status of this backup item."
        },
        "protectionState": {
          "$ref": "#/definitions/ProtectionState",
          "description": "Backup state of this backup item."
        },
        "healthStatus": {
          "$ref": "#/definitions/HealthStatus",
          "description": "Health status of protected item."
        },
        "healthDetails": {
          "type": "array",
          "description": "Health details on this backup item.",
          "items": {
            "$ref": "#/definitions/AzureIaaSVMHealthDetails"
          }
        },
        "kpisHealths": {
          "type": "object",
          "description": "Health details of different KPIs",
          "additionalProperties": {
            "$ref": "#/definitions/KPIResourceHealthDetails"
          }
        },
        "lastBackupStatus": {
          "type": "string",
          "description": "Last backup operation status."
        },
        "lastBackupTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of the last backup operation on this backup item."
        },
        "protectedItemDataId": {
          "type": "string",
          "description": "Data ID of the protected item."
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureIaaSVMProtectedItemExtendedInfo",
          "description": "Additional information for this backup item."
        },
        "extendedProperties": {
          "$ref": "#/definitions/ExtendedProperties",
          "description": "Extended Properties for Azure IaasVM Backup."
        }
      },
      "discriminator": "protectedItemType",
      "required": [
        "protectedItemType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ]
    },
    "AzureIaaSVMProtectedItemExtendedInfo": {
      "type": "object",
      "description": "Additional information on Azure IaaS VM specific backup item.",
      "properties": {
        "oldestRecoveryPoint": {
          "type": "string",
          "format": "date-time",
          "description": "The oldest backup copy available for this backup item."
        },
        "recoveryPointCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of backup copies available for this backup item."
        },
        "policyInconsistent": {
          "type": "boolean",
          "description": "Specifies if backup policy associated with the backup item is inconsistent."
        }
      }
    },
    "AzureSqlProtectedItem": {
      "type": "object",
      "description": "Azure SQL workload-specific backup item.",
      "properties": {
        "protectedItemDataId": {
          "type": "string",
          "description": "Internal ID of a backup item. Used by Azure SQL Backup engine to contact Recovery Services."
        },
        "protectionState": {
          "$ref": "#/definitions/ProtectedItemState",
          "description": "Backup state of the backed up item."
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureSqlProtectedItemExtendedInfo",
          "description": "Additional information for this backup item."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.Sql/servers/databases"
    },
    "AzureSqlProtectedItemExtendedInfo": {
      "type": "object",
      "description": "Additional information on Azure Sql specific protected item.",
      "properties": {
        "oldestRecoveryPoint": {
          "type": "string",
          "format": "date-time",
          "description": "The oldest backup copy available for this item in the service."
        },
        "recoveryPointCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of available backup copies associated with this backup item."
        },
        "policyState": {
          "type": "string",
          "description": "State of the backup policy associated with this backup item."
        }
      }
    },
    "AzureStorageErrorInfo": {
      "type": "object",
      "description": "Azure storage specific error information",
      "properties": {
        "errorCode": {
          "type": "integer",
          "format": "int32",
          "description": "Error code."
        },
        "errorString": {
          "type": "string",
          "description": "Localized error string."
        },
        "recommendations": {
          "type": "array",
          "description": "List of localized recommendations for above error code.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AzureStorageJob": {
      "type": "object",
      "description": "Azure storage specific job.",
      "properties": {
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Time elapsed during the execution of this job."
        },
        "actionsInfo": {
          "type": "array",
          "description": "Gets or sets the state/actions applicable on this job like cancel/retry.",
          "items": {
            "$ref": "#/definitions/JobSupportedAction"
          }
        },
        "errorDetails": {
          "type": "array",
          "description": "Error details on execution of this job.",
          "items": {
            "$ref": "#/definitions/AzureStorageErrorInfo"
          }
        },
        "storageAccountName": {
          "type": "string",
          "description": "Specifies friendly name of the storage account."
        },
        "storageAccountVersion": {
          "type": "string",
          "description": "Specifies whether the Storage account is a Classic or an Azure Resource Manager Storage account."
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureStorageJobExtendedInfo",
          "description": "Additional information about the job."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "AzureStorageJob"
    },
    "AzureStorageJobExtendedInfo": {
      "type": "object",
      "description": "Azure Storage workload-specific additional information for job.",
      "properties": {
        "tasksList": {
          "type": "array",
          "description": "List of tasks for this job",
          "items": {
            "$ref": "#/definitions/AzureStorageJobTaskDetails"
          }
        },
        "propertyBag": {
          "type": "object",
          "description": "Job properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dynamicErrorMessage": {
          "type": "string",
          "description": "Non localized error message on job execution."
        }
      }
    },
    "AzureStorageJobTaskDetails": {
      "type": "object",
      "description": "Azure storage workload specific job task details.",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "The task display name."
        },
        "status": {
          "type": "string",
          "description": "The status."
        }
      }
    },
    "AzureVmWorkloadProtectedItem": {
      "type": "object",
      "description": "Azure VM workload-specific protected item.",
      "properties": {
        "protectedItemType": {
          "type": "string",
          "description": "Discriminator property for AzureVmWorkloadProtectedItem."
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of the DB represented by this backup item."
        },
        "serverName": {
          "type": "string",
          "description": "Host/Cluster Name for instance or AG"
        },
        "parentName": {
          "type": "string",
          "description": "Parent name of the DB such as Instance or Availability Group."
        },
        "parentType": {
          "type": "string",
          "description": "Parent type of protected item, example: for a DB, standalone server or distributed"
        },
        "protectionStatus": {
          "type": "string",
          "description": "Backup status of this backup item."
        },
        "protectionState": {
          "$ref": "#/definitions/ProtectionState",
          "description": "Backup state of this backup item."
        },
        "lastBackupStatus": {
          "$ref": "#/definitions/LastBackupStatus",
          "description": "Last backup operation status. Possible values: Healthy, Unhealthy."
        },
        "lastBackupTime": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp of the last backup operation on this backup item."
        },
        "lastBackupErrorDetail": {
          "$ref": "#/definitions/ErrorDetail",
          "description": "Error details in last backup"
        },
        "protectedItemDataSourceId": {
          "type": "string",
          "description": "Data ID of the protected item."
        },
        "protectedItemHealthStatus": {
          "$ref": "#/definitions/ProtectedItemHealthStatus",
          "description": "Health status of the backup item, evaluated based on last heartbeat received"
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureVmWorkloadProtectedItemExtendedInfo",
          "description": "Additional information for this backup item."
        },
        "kpisHealths": {
          "type": "object",
          "description": "Health details of different KPIs",
          "additionalProperties": {
            "$ref": "#/definitions/KPIResourceHealthDetails"
          }
        }
      },
      "discriminator": "protectedItemType",
      "required": [
        "protectedItemType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ]
    },
    "AzureVmWorkloadProtectedItemExtendedInfo": {
      "type": "object",
      "description": "Additional information on Azure Workload for SQL specific backup item.",
      "properties": {
        "oldestRecoveryPoint": {
          "type": "string",
          "format": "date-time",
          "description": "The oldest backup copy available for this backup item."
        },
        "recoveryPointCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of backup copies available for this backup item."
        },
        "policyState": {
          "type": "string",
          "description": "Indicates consistency of policy object and policy applied to this backup item."
        }
      }
    },
    "AzureVmWorkloadSAPAseDatabaseProtectedItem": {
      "type": "object",
      "description": "Azure VM workload-specific protected item representing SAP ASE Database.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureVmWorkloadProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "AzureVmWorkloadSAPAseDatabase"
    },
    "AzureVmWorkloadSAPHanaDatabaseProtectedItem": {
      "type": "object",
      "description": "Azure VM workload-specific protected item representing SAP HANA Database.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureVmWorkloadProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "AzureVmWorkloadSAPHanaDatabase"
    },
    "AzureVmWorkloadSQLDatabaseProtectedItem": {
      "type": "object",
      "description": "Azure VM workload-specific protected item representing SQL Database.",
      "allOf": [
        {
          "$ref": "#/definitions/AzureVmWorkloadProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "AzureVmWorkloadSQLDatabase"
    },
    "AzureWorkloadErrorInfo": {
      "type": "object",
      "description": "Azure storage specific error information",
      "properties": {
        "errorCode": {
          "type": "integer",
          "format": "int32",
          "description": "Error code."
        },
        "errorString": {
          "type": "string",
          "description": "Localized error string."
        },
        "errorTitle": {
          "type": "string",
          "description": "Title: Typically, the entity that the error pertains to."
        },
        "recommendations": {
          "type": "array",
          "description": "List of localized recommendations for above error code.",
          "items": {
            "type": "string"
          }
        },
        "additionalDetails": {
          "type": "string",
          "description": "Additional details for above error code."
        }
      }
    },
    "AzureWorkloadJob": {
      "type": "object",
      "description": "Azure storage specific job.",
      "properties": {
        "workloadType": {
          "type": "string",
          "description": "Workload type of the job"
        },
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Time elapsed during the execution of this job."
        },
        "actionsInfo": {
          "type": "array",
          "description": "Gets or sets the state/actions applicable on this job like cancel/retry.",
          "items": {
            "$ref": "#/definitions/JobSupportedAction"
          }
        },
        "errorDetails": {
          "type": "array",
          "description": "Error details on execution of this job.",
          "items": {
            "$ref": "#/definitions/AzureWorkloadErrorInfo"
          }
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureWorkloadJobExtendedInfo",
          "description": "Additional information about the job."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadJob"
    },
    "AzureWorkloadJobExtendedInfo": {
      "type": "object",
      "description": "Azure VM workload-specific additional information for job.",
      "properties": {
        "tasksList": {
          "type": "array",
          "description": "List of tasks for this job",
          "items": {
            "$ref": "#/definitions/AzureWorkloadJobTaskDetails"
          }
        },
        "propertyBag": {
          "type": "object",
          "description": "Job properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dynamicErrorMessage": {
          "type": "string",
          "description": "Non localized error message on job execution."
        }
      }
    },
    "AzureWorkloadJobTaskDetails": {
      "type": "object",
      "description": "Azure VM workload specific job task details.",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "The task display name."
        },
        "status": {
          "type": "string",
          "description": "The status."
        }
      }
    },
    "AzureWorkloadPointInTimeRecoveryPoint": {
      "type": "object",
      "description": "Recovery point specific to PointInTime",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "Discriminator property for AzureWorkloadPointInTimeRecoveryPoint."
        },
        "timeRanges": {
          "type": "array",
          "description": "List of log ranges",
          "items": {
            "$ref": "#/definitions/PointInTimeRange"
          }
        }
      },
      "discriminator": "objectType",
      "required": [
        "objectType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRecoveryPoint"
        }
      ]
    },
    "AzureWorkloadPointInTimeRestoreRequest": {
      "type": "object",
      "description": "AzureWorkload SAP Hana -specific restore. Specifically for PointInTime/Log restore",
      "properties": {
        "pointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "PointInTime value"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRestoreRequest"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadPointInTimeRestoreRequest"
    },
    "AzureWorkloadRecoveryPoint": {
      "type": "object",
      "description": "Workload specific recovery point, specifically encapsulates full/diff recovery point",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "Discriminator property for AzureWorkloadRecoveryPoint."
        },
        "recoveryPointTimeInUTC": {
          "type": "string",
          "format": "date-time",
          "description": "UTC time at which recovery point was created",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/RestorePointType",
          "description": "Type of restore point",
          "readOnly": true
        },
        "recoveryPointTierDetails": {
          "type": "array",
          "description": "Recovery point tier information.",
          "items": {
            "$ref": "#/definitions/RecoveryPointTierInformation"
          }
        },
        "recoveryPointMoveReadinessInfo": {
          "type": "object",
          "description": "Eligibility of RP to be moved to another tier",
          "additionalProperties": {
            "$ref": "#/definitions/RecoveryPointMoveReadinessInfo"
          }
        },
        "recoveryPointProperties": {
          "$ref": "#/definitions/RecoveryPointProperties",
          "description": "Properties of Recovery Point"
        }
      },
      "discriminator": "objectType",
      "required": [
        "objectType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/RecoveryPoint"
        }
      ]
    },
    "AzureWorkloadRestoreRequest": {
      "type": "object",
      "description": "AzureWorkload-specific restore.",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "Discriminator property for AzureWorkloadRestoreRequest."
        },
        "recoveryType": {
          "$ref": "#/definitions/RecoveryType",
          "description": "Type of this recovery."
        },
        "sourceResourceId": {
          "type": "string",
          "description": "Fully qualified ARM ID of the VM on which workload that was running is being recovered."
        },
        "propertyBag": {
          "type": "object",
          "description": "Workload specific property bag.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "targetInfo": {
          "$ref": "#/definitions/TargetRestoreInfo",
          "description": "Details of target database"
        },
        "recoveryMode": {
          "$ref": "#/definitions/RecoveryMode",
          "description": "Defines whether the current recovery mode is file restore or database restore"
        },
        "targetVirtualMachineId": {
          "type": "string",
          "description": "This is the complete ARM Id of the target VM\nFor e.g. /subscriptions/{subId}/resourcegroups/{rg}/provider/Microsoft.Compute/virtualmachines/{vm}"
        }
      },
      "discriminator": "objectType",
      "required": [
        "objectType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/RestoreRequest"
        }
      ]
    },
    "AzureWorkloadSAPHanaPointInTimeRecoveryPoint": {
      "type": "object",
      "description": "Recovery point specific to PointInTime in SAPHana",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadPointInTimeRecoveryPoint"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadSAPHanaPointInTimeRecoveryPoint"
    },
    "AzureWorkloadSAPHanaPointInTimeRestoreRequest": {
      "type": "object",
      "description": "AzureWorkload SAP Hana -specific restore. Specifically for PointInTime/Log restore",
      "properties": {
        "pointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "PointInTime value"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadSAPHanaRestoreRequest"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadSAPHanaPointInTimeRestoreRequest"
    },
    "AzureWorkloadSAPHanaRecoveryPoint": {
      "type": "object",
      "description": "SAPHana specific recoverypoint, specifically encapsulates full/diff recoverypoints",
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRecoveryPoint"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadSAPHanaRecoveryPoint"
    },
    "AzureWorkloadSAPHanaRestoreRequest": {
      "type": "object",
      "description": "AzureWorkload SAP Hana-specific restore.",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "Discriminator property for AzureWorkloadSAPHanaRestoreRequest."
        }
      },
      "discriminator": "objectType",
      "required": [
        "objectType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRestoreRequest"
        }
      ]
    },
    "AzureWorkloadSQLPointInTimeRecoveryPoint": {
      "type": "object",
      "description": "Recovery point specific to PointInTime",
      "properties": {
        "timeRanges": {
          "type": "array",
          "description": "List of log ranges",
          "items": {
            "$ref": "#/definitions/PointInTimeRange"
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadSQLRecoveryPoint"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadSQLPointInTimeRecoveryPoint"
    },
    "AzureWorkloadSQLPointInTimeRestoreRequest": {
      "type": "object",
      "description": "AzureWorkload SQL -specific restore. Specifically for PointInTime/Log restore",
      "properties": {
        "pointInTime": {
          "type": "string",
          "format": "date-time",
          "description": "PointInTime value"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadSQLRestoreRequest"
        }
      ],
      "x-ms-discriminator-value": "AzureWorkloadSQLPointInTimeRestoreRequest"
    },
    "AzureWorkloadSQLRecoveryPoint": {
      "type": "object",
      "description": "SQL specific recoverypoint, specifically encapsulates full/diff recoverypoint along with extended info",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "Discriminator property for AzureWorkloadSQLRecoveryPoint."
        },
        "extendedInfo": {
          "$ref": "#/definitions/AzureWorkloadSQLRecoveryPointExtendedInfo",
          "description": "Extended Info that provides data directory details. Will be populated in two cases:\nWhen a specific recovery point is accessed using GetRecoveryPoint\nOr when ListRecoveryPoints is called for Log RP only with ExtendedInfo query filter"
        }
      },
      "discriminator": "objectType",
      "required": [
        "objectType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRecoveryPoint"
        }
      ]
    },
    "AzureWorkloadSQLRecoveryPointExtendedInfo": {
      "type": "object",
      "description": "Extended info class details",
      "properties": {
        "dataDirectoryTimeInUTC": {
          "type": "string",
          "format": "date-time",
          "description": "UTC time at which data directory info was captured",
          "readOnly": true
        },
        "dataDirectoryPaths": {
          "type": "array",
          "description": "List of data directory paths during restore operation.",
          "items": {
            "$ref": "#/definitions/SQLDataDirectory"
          },
          "readOnly": true
        }
      }
    },
    "AzureWorkloadSQLRestoreRequest": {
      "type": "object",
      "description": "AzureWorkload SQL -specific restore. Specifically for full/diff restore",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "Discriminator property for AzureWorkloadSQLRestoreRequest."
        },
        "shouldUseAlternateTargetLocation": {
          "type": "boolean",
          "description": "Default option set to true. If this is set to false, alternate data directory must be provided"
        },
        "isNonRecoverable": {
          "type": "boolean",
          "description": "SQL specific property where user can chose to set no-recovery when restore operation is tried"
        },
        "alternateDirectoryPaths": {
          "type": "array",
          "description": "Data directory details",
          "items": {
            "$ref": "#/definitions/SQLDataDirectoryMapping"
          }
        }
      },
      "discriminator": "objectType",
      "required": [
        "objectType"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AzureWorkloadRestoreRequest"
        }
      ]
    },
    "BEKDetails": {
      "type": "object",
      "description": "BEK is bitlocker encryption key.",
      "properties": {
        "secretUrl": {
          "type": "string",
          "description": "Secret is BEK."
        },
        "secretVaultId": {
          "type": "string",
          "description": "ID of the Key Vault where this Secret is stored."
        },
        "secretData": {
          "type": "string",
          "description": "BEK data."
        }
      }
    },
    "BMSAADPropertiesQueryObject": {
      "type": "object",
      "description": "Filters to list backup items.",
      "properties": {
        "backupManagementType": {
          "$ref": "#/definitions/BackupManagementType",
          "description": "Backup management type for the backed up item."
        }
      }
    },
    "BMSBackupSummariesQueryObject": {
      "type": "object",
      "description": "Query parameters to fetch backup summaries.",
      "properties": {
        "type": {
          "$ref": "#/definitions/Type",
          "description": "Backup management type for this container."
        }
      }
    },
    "BMSRPQueryObject": {
      "type": "object",
      "description": "Filters to list backup copies.",
      "properties": {
        "startDate": {
          "type": "string",
          "format": "date-time",
          "description": "Backup copies created after this time."
        },
        "endDate": {
          "type": "string",
          "format": "date-time",
          "description": "Backup copies created before this time."
        },
        "restorePointQueryType": {
          "$ref": "#/definitions/RestorePointQueryType",
          "description": "RestorePoint type"
        },
        "extendedInfo": {
          "type": "boolean",
          "description": "In Get Recovery Point, it tells whether extended information about recovery point is asked."
        },
        "moveReadyRPOnly": {
          "type": "boolean",
          "description": "Whether the RP can be moved to another tier"
        },
        "includeSoftDeletedRP": {
          "type": "boolean",
          "description": "Flag to indicate whether Soft Deleted RPs should be included/excluded from result."
        }
      }
    },
    "BackupFabricResource": {
      "type": "object",
      "description": "Backup Fabric virtual resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the BackupFabricResource",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ]
    },
    "BackupManagementType": {
      "type": "string",
      "description": "Backup management type to execute the current job.",
      "enum": [
        "Invalid",
        "AzureIaasVM",
        "MAB",
        "DPM",
        "AzureBackupServer",
        "AzureSql",
        "AzureStorage",
        "AzureWorkload",
        "DefaultBackup"
      ],
      "x-ms-enum": {
        "name": "BackupManagementType",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Invalid"
          },
          {
            "name": "AzureIaasVM",
            "value": "AzureIaasVM",
            "description": "AzureIaasVM"
          },
          {
            "name": "MAB",
            "value": "MAB",
            "description": "MAB"
          },
          {
            "name": "DPM",
            "value": "DPM",
            "description": "DPM"
          },
          {
            "name": "AzureBackupServer",
            "value": "AzureBackupServer",
            "description": "AzureBackupServer"
          },
          {
            "name": "AzureSql",
            "value": "AzureSql",
            "description": "AzureSql"
          },
          {
            "name": "AzureStorage",
            "value": "AzureStorage",
            "description": "AzureStorage"
          },
          {
            "name": "AzureWorkload",
            "value": "AzureWorkload",
            "description": "AzureWorkload"
          },
          {
            "name": "DefaultBackup",
            "value": "DefaultBackup",
            "description": "DefaultBackup"
          }
        ]
      }
    },
    "BackupManagementUsage": {
      "type": "object",
      "description": "Backup management usages of a vault.",
      "properties": {
        "unit": {
          "$ref": "#/definitions/UsagesUnit",
          "description": "Unit of the usage."
        },
        "quotaPeriod": {
          "type": "string",
          "description": "Quota period of usage."
        },
        "nextResetTime": {
          "type": "string",
          "format": "date-time",
          "description": "Next reset time of usage."
        },
        "currentValue": {
          "type": "integer",
          "format": "int64",
          "description": "Current value of usage."
        },
        "limit": {
          "type": "integer",
          "format": "int64",
          "description": "Limit of usage."
        },
        "name": {
          "$ref": "#/definitions/NameInfo",
          "description": "Name of usage."
        }
      }
    },
    "BackupManagementUsageList": {
      "type": "object",
      "description": "Backup management usage for vault.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of backup management usages for the given vault.",
          "items": {
            "$ref": "#/definitions/BackupManagementUsage"
          }
        }
      }
    },
    "BackupResourceConfig": {
      "type": "object",
      "description": "The resource storage details.",
      "properties": {
        "storageModelType": {
          "$ref": "#/definitions/StorageType",
          "description": "Storage type"
        },
        "storageType": {
          "$ref": "#/definitions/StorageType",
          "description": "Storage type."
        },
        "storageTypeState": {
          "$ref": "#/definitions/StorageTypeState",
          "description": "Locked or Unlocked. Once a machine is registered against a resource, the storageTypeState is always Locked."
        },
        "crossRegionRestoreFlag": {
          "type": "boolean",
          "description": "Opt in details of Cross Region Restore feature."
        }
      }
    },
    "BackupResourceConfigResource": {
      "type": "object",
      "description": "The resource storage details.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BackupResourceConfig",
          "description": "BackupResourceConfigResource properties"
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "eTag": {
          "type": "string",
          "description": "Optional ETag."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "ClientScriptForConnect": {
      "type": "object",
      "description": "Client script details for file / folder restore.",
      "properties": {
        "scriptContent": {
          "type": "string",
          "description": "File content of the client script for file / folder restore."
        },
        "scriptExtension": {
          "type": "string",
          "description": "File extension of the client script for file / folder restore - .ps1 , .sh , etc."
        },
        "osType": {
          "type": "string",
          "description": "OS type - Windows, Linux etc. for which this file / folder restore client script works."
        },
        "url": {
          "type": "string",
          "description": "URL of Executable from where to source the content. If this is not null then ScriptContent should not be used"
        },
        "scriptNameSuffix": {
          "type": "string",
          "description": "Mandatory suffix that should be added to the name of script that is given for download to user.\nIf its null or empty then , ignore it."
        }
      }
    },
    "CopyOptions": {
      "type": "string",
      "description": "Options to resolve copy conflicts.",
      "enum": [
        "Invalid",
        "CreateCopy",
        "Skip",
        "Overwrite",
        "FailOnConflict"
      ],
      "x-ms-enum": {
        "name": "CopyOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Invalid"
          },
          {
            "name": "CreateCopy",
            "value": "CreateCopy",
            "description": "CreateCopy"
          },
          {
            "name": "Skip",
            "value": "Skip",
            "description": "Skip"
          },
          {
            "name": "Overwrite",
            "value": "Overwrite",
            "description": "Overwrite"
          },
          {
            "name": "FailOnConflict",
            "value": "FailOnConflict",
            "description": "FailOnConflict"
          }
        ]
      }
    },
    "CreateMode": {
      "type": "string",
      "description": "Create mode to indicate recovery of existing soft deleted data source or creation of new data source.",
      "enum": [
        "Invalid",
        "Default",
        "Recover"
      ],
      "x-ms-enum": {
        "name": "CreateMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Invalid"
          },
          {
            "name": "Default",
            "value": "Default",
            "description": "Default"
          },
          {
            "name": "Recover",
            "value": "Recover",
            "description": "Recover"
          }
        ]
      }
    },
    "CrossRegionRestoreAcceptedResponse": {
      "type": "object",
      "description": "Accepted (202) response for the cross region restore trigger operation."
    },
    "CrossRegionRestoreRequest": {
      "type": "object",
      "properties": {
        "crossRegionRestoreAccessDetails": {
          "$ref": "#/definitions/CrrAccessToken",
          "description": "Access details for cross region restore"
        },
        "restoreRequest": {
          "$ref": "#/definitions/RestoreRequest",
          "description": "Request object for triggering restore"
        }
      }
    },
    "CrossRegionRestoreRequestResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CrossRegionRestoreRequest",
          "description": "CrossRegionRestoreRequestResource properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "CrrAccessToken": {
      "type": "object",
      "properties": {
        "objectType": {
          "type": "string",
          "description": "Type of the specific object - used for deserializing"
        },
        "accessTokenString": {
          "type": "string",
          "description": "Access token used for authentication"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id of the source vault"
        },
        "resourceGroupName": {
          "type": "string",
          "description": "Resource Group name of the source vault"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource Name of the source vault"
        },
        "resourceId": {
          "type": "string",
          "description": "Resource Id of the source vault"
        },
        "protectionContainerId": {
          "type": "integer",
          "format": "int64",
          "description": "Protected item container id"
        },
        "recoveryPointId": {
          "type": "string",
          "description": "Recovery Point Id"
        },
        "recoveryPointTime": {
          "type": "string",
          "description": "Recovery Point Time"
        },
        "containerName": {
          "type": "string",
          "description": "Container Unique name"
        },
        "containerType": {
          "type": "string",
          "description": "Container Type"
        },
        "backupManagementType": {
          "type": "string",
          "description": "Backup Management Type"
        },
        "datasourceType": {
          "type": "string",
          "description": "Datasource Type"
        },
        "datasourceName": {
          "type": "string",
          "description": "Datasource Friendly Name"
        },
        "datasourceId": {
          "type": "string",
          "description": "Datasource Id"
        },
        "datasourceContainerName": {
          "type": "string",
          "description": "Datasource Container Unique Name"
        },
        "coordinatorServiceStampId": {
          "type": "string",
          "description": "CoordinatorServiceStampId to be used by BCM in restore call"
        },
        "coordinatorServiceStampUri": {
          "type": "string",
          "description": "CoordinatorServiceStampUri to be used by BCM in restore call"
        },
        "protectionServiceStampId": {
          "type": "string",
          "description": "ProtectionServiceStampId to be used by BCM in restore call"
        },
        "protectionServiceStampUri": {
          "type": "string",
          "description": "ProtectionServiceStampUri to be used by BCM in restore call"
        },
        "tokenExtendedInformation": {
          "type": "string",
          "description": "Extended Information about the token like FileSpec etc."
        },
        "rpTierInformation": {
          "type": "object",
          "description": "Recovery point Tier Information",
          "additionalProperties": {
            "type": "string"
          }
        },
        "rpOriginalSAOption": {
          "type": "boolean",
          "description": "Recovery point information: Original SA option"
        },
        "rpIsManagedVirtualMachine": {
          "type": "boolean",
          "description": "Recovery point information: Managed virtual machine"
        },
        "rpVMSizeDescription": {
          "type": "string",
          "description": "Recovery point information: VM size description"
        },
        "bMSActiveRegion": {
          "type": "string",
          "description": "Active region name of BMS Stamp"
        }
      },
      "discriminator": "objectType",
      "required": [
        "objectType"
      ]
    },
    "CrrAccessTokenResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CrrAccessToken",
          "description": "CrrAccessTokenResource properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "CrrJobRequest": {
      "type": "object",
      "description": "Request object for fetching CRR jobs.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Entire ARM resource id of the resource"
        },
        "jobName": {
          "type": "string",
          "description": "Job Name of the job to be fetched"
        }
      }
    },
    "CrrJobRequestResource": {
      "type": "object",
      "description": "Request object for fetching CRR jobs.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CrrJobRequest",
          "description": "CrrJobRequestResource properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "DPMProtectedItem": {
      "type": "object",
      "description": "Additional information on Backup engine specific backup item.",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of the managed item"
        },
        "backupEngineName": {
          "type": "string",
          "description": "Backup Management server protecting this backup item"
        },
        "protectionState": {
          "$ref": "#/definitions/ProtectedItemState",
          "description": "Protection state of the backup engine"
        },
        "extendedInfo": {
          "$ref": "#/definitions/DPMProtectedItemExtendedInfo",
          "description": "Extended info of the backup item."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "DPMProtectedItem"
    },
    "DPMProtectedItemExtendedInfo": {
      "type": "object",
      "description": "Additional information of DPM Protected item.",
      "properties": {
        "protectableObjectLoadPath": {
          "type": "object",
          "description": "Attribute to provide information on various DBs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "protected": {
          "type": "boolean",
          "description": "To check if backup item is disk protected."
        },
        "isPresentOnCloud": {
          "type": "boolean",
          "description": "To check if backup item is cloud protected."
        },
        "lastBackupStatus": {
          "type": "string",
          "description": "Last backup status information on backup item."
        },
        "lastRefreshedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last refresh time on backup item."
        },
        "oldestRecoveryPoint": {
          "type": "string",
          "format": "date-time",
          "description": "Oldest cloud recovery point time."
        },
        "recoveryPointCount": {
          "type": "integer",
          "format": "int32",
          "description": "cloud recovery point count."
        },
        "onPremiseOldestRecoveryPoint": {
          "type": "string",
          "format": "date-time",
          "description": "Oldest disk recovery point time."
        },
        "onPremiseLatestRecoveryPoint": {
          "type": "string",
          "format": "date-time",
          "description": "latest disk recovery point time."
        },
        "onPremiseRecoveryPointCount": {
          "type": "integer",
          "format": "int32",
          "description": "disk recovery point count."
        },
        "isCollocated": {
          "type": "boolean",
          "description": "To check if backup item is collocated."
        },
        "protectionGroupName": {
          "type": "string",
          "description": "Protection group name of the backup item."
        },
        "diskStorageUsedInBytes": {
          "type": "string",
          "description": "Used Disk storage in bytes."
        },
        "totalDiskStorageSizeInBytes": {
          "type": "string",
          "description": "total Disk storage in bytes."
        }
      }
    },
    "DataSourceType": {
      "type": "string",
      "description": "Type of workload this item represents.",
      "enum": [
        "Invalid",
        "VM",
        "FileFolder",
        "AzureSqlDb",
        "SQLDB",
        "Exchange",
        "Sharepoint",
        "VMwareVM",
        "SystemState",
        "Client",
        "GenericDataSource",
        "SQLDataBase",
        "AzureFileShare",
        "SAPHanaDatabase",
        "SAPAseDatabase"
      ],
      "x-ms-enum": {
        "name": "DataSourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "Invalid",
            "value": "Invalid",
            "description": "Invalid"
          },
          {
            "name": "VM",
            "value": "VM",
            "description": "VM"
          },
          {
            "name": "FileFolder",
            "value": "FileFolder",
            "description": "FileFolder"
          },
          {
            "name": "AzureSqlDb",
            "value": "AzureSqlDb",
            "description": "AzureSqlDb"
          },
          {
            "name": "SQLDB",
            "value": "SQLDB",
            "description": "SQLDB"
          },
          {
            "name": "Exchange",
            "value": "Exchange",
            "description": "Exchange"
          },
          {
            "name": "Sharepoint",
            "value": "Sharepoint",
            "description": "Sharepoint"
          },
          {
            "name": "VMwareVM",
            "value": "VMwareVM",
            "description": "VMwareVM"
          },
          {
            "name": "SystemState",
            "value": "SystemState",
            "description": "SystemState"
          },
          {
            "name": "Client",
            "value": "Client",
            "description": "Client"
          },
          {
            "name": "GenericDataSource",
            "value": "GenericDataSource",
            "description": "GenericDataSource"
          },
          {
            "name": "SQLDataBase",
            "value": "SQLDataBase",
            "description": "SQLDataBase"
          },
          {
            "name": "AzureFileShare",
            "value": "AzureFileShare",
            "description": "AzureFileShare"
          },
          {
            "name": "SAPHanaDatabase",
            "value": "SAPHanaDatabase",
            "description": "SAPHanaDatabase"
          },
          {
            "name": "SAPAseDatabase",
            "value": "SAPAseDatabase",
            "description": "SAPAseDatabase"
          }
        ]
      }
    },
    "DiskExclusionProperties": {
      "type": "object",
      "properties": {
        "diskLunList": {
          "type": "array",
          "description": "List of Disks' Logical Unit Numbers (LUN) to be used for VM Protection.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "isInclusionList": {
          "type": "boolean",
          "description": "Flag to indicate whether DiskLunList is to be included/ excluded from backup."
        }
      }
    },
    "DiskInformation": {
      "type": "object",
      "description": "Disk information",
      "properties": {
        "lun": {
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "DpmErrorInfo": {
      "type": "object",
      "description": "DPM workload-specific error information.",
      "properties": {
        "errorString": {
          "type": "string",
          "description": "Localized error string."
        },
        "recommendations": {
          "type": "array",
          "description": "List of localized recommendations for above error code.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DpmJob": {
      "type": "object",
      "description": "DPM workload-specific job object.",
      "properties": {
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Time elapsed for job."
        },
        "dpmServerName": {
          "type": "string",
          "description": "DPM server name managing the backup item or backup job."
        },
        "containerName": {
          "type": "string",
          "description": "Name of cluster/server protecting current backup item, if any."
        },
        "containerType": {
          "type": "string",
          "description": "Type of container."
        },
        "workloadType": {
          "type": "string",
          "description": "Type of backup item."
        },
        "actionsInfo": {
          "type": "array",
          "description": "The state/actions applicable on this job like cancel/retry.",
          "items": {
            "$ref": "#/definitions/JobSupportedAction"
          }
        },
        "errorDetails": {
          "type": "array",
          "description": "The errors.",
          "items": {
            "$ref": "#/definitions/DpmErrorInfo"
          }
        },
        "extendedInfo": {
          "$ref": "#/definitions/DpmJobExtendedInfo",
          "description": "Additional information for this job."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Job"
        }
      ],
      "x-ms-discriminator-value": "DpmJob"
    },
    "DpmJobExtendedInfo": {
      "type": "object",
      "description": "Additional information on the DPM workload-specific job.",
      "properties": {
        "tasksList": {
          "type": "array",
          "description": "List of tasks associated with this job.",
          "items": {
            "$ref": "#/definitions/DpmJobTaskDetails"
          }
        },
        "propertyBag": {
          "type": "object",
          "description": "The job properties.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "dynamicErrorMessage": {
          "type": "string",
          "description": "Non localized error message on job execution."
        }
      }
    },
    "DpmJobTaskDetails": {
      "type": "object",
      "description": "DPM workload-specific job task details.",
      "properties": {
        "taskId": {
          "type": "string",
          "description": "The task display name."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "The end time."
        },
        "duration": {
          "type": "string",
          "format": "duration",
          "description": "Time elapsed for task."
        },
        "status": {
          "type": "string",
          "description": "The status."
        }
      }
    },
    "EncryptionDetails": {
      "type": "object",
      "description": "Details needed if the VM was encrypted at the time of backup.",
      "properties": {
        "encryptionEnabled": {
          "type": "boolean",
          "description": "Identifies whether this backup copy represents an encrypted VM at the time of backup."
        },
        "kekUrl": {
          "type": "string",
          "description": "Key Url."
        },
        "secretKeyUrl": {
          "type": "string",
          "description": "Secret Url."
        },
        "kekVaultId": {
          "type": "string",
          "description": "ID of Key Vault where KEK is stored."
        },
        "secretKeyVaultId": {
          "type": "string",
          "description": "ID of Key Vault where Secret is stored."
        }
      }
    },
    "ErrorDetail": {
      "type": "object",
      "description": "Error Detail class which encapsulates Code, Message and Recommendations.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Error Message related to the Code.",
          "readOnly": true
        },
        "recommendations": {
          "type": "array",
          "description": "List of recommendation strings.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "ExtendedProperties": {
      "type": "object",
      "description": "Extended Properties for Azure IaasVM Backup.",
      "properties": {
        "diskExclusionProperties": {
          "$ref": "#/definitions/DiskExclusionProperties",
          "description": "Extended Properties for Disk Exclusion."
        }
      }
    },
    "GenericProtectedItem": {
      "type": "object",
      "description": "Base class for backup items.",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of the container."
        },
        "policyState": {
          "type": "string",
          "description": "Indicates consistency of policy object and policy applied to this backup item."
        },
        "protectionState": {
          "$ref": "#/definitions/ProtectionState",
          "description": "Backup state of this backup item."
        },
        "protectedItemId": {
          "type": "integer",
          "format": "int64",
          "description": "Data Plane Service ID of the protected item."
        },
        "sourceAssociations": {
          "type": "object",
          "description": "Loosely coupled (type, value) associations (example - parent of a protected item)",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fabricName": {
          "type": "string",
          "description": "Name of this backup item's fabric."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProtectedItem"
        }
      ],
      "x-ms-discriminator-value": "GenericProtectedItem"
    },
    "GenericRecoveryPoint": {
      "type": "object",
      "description": "Generic backup copy.",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of the backup copy."
        },
        "recoveryPointType": {
          "type": "string",
          "description": "Type of the backup copy."
        },
        "recoveryPointTime": {
          "type": "string",
          "format": "date-time",
          "description": "Time at which this backup copy was created."
        },
        "recoveryPointAdditionalInfo": {
          "type": "string",
          "description": "Additional information associated with this backup copy."
        },
        "recoveryPointProperties": {
          "$ref": "#/definitions/RecoveryPointProperties",
          "description": "Properties of Recovery Point"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/RecoveryPoint"
        }
      ],
      "x-ms-discriminator-value": "GenericRecoveryPoint"
    },
    "HealthState": {
      "type": "string",
      "description": "Health State for the backed up item.",
      "enum": [
        "Passed",
        "ActionRequired",
        "ActionSuggested",
        "Invalid"
      ],
      "x-ms-enum": {
        "name": "HealthState",
        "modelAsString": true,
        "values": [
          {
            "name": "Passed",
            "value": "Passed",
            "description": "Passed"
          },
          {
            "name": "ActionRequired",
            "value": "ActionRequired",
            "description": "ActionRequired"
          },
          {
            "name": "ActionSuggested",
            "value": "ActionSuggested",
            "description": "ActionSuggested"
          },
[...]
