{
  "swagger": "2.0",
  "info": {
    "title": "Cosmos DB",
    "description": "Azure Cosmos DB Database Service Resource Provider REST API",
    "version": "2016-03-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}": {
      "get": {
        "operationId": "DatabaseAccounts_Get",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGet": {
            "$ref": "./examples/CosmosDBDatabaseAccountGet.json"
          }
        },
        "description": "Retrieves the properties of an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The database account properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccount"
            }
          }
        }
      },
      "patch": {
        "operationId": "DatabaseAccounts_Patch",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountPatch": {
            "$ref": "./examples/CosmosDBDatabaseAccountPatch.json"
          }
        },
        "description": "Patches the properties of an existing Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "updateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseAccountPatchParameters"
            },
            "description": "The tags parameter to patch for the current database account."
          }
        ],
        "responses": {
          "200": {
            "description": "The properties of the database account were patched successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccount"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_CreateOrUpdate",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountCreateMin": {
            "$ref": "./examples/CosmosDBDatabaseAccountCreateMin.json"
          },
          "CosmosDBDatabaseAccountCreateMax": {
            "$ref": "./examples/CosmosDBDatabaseAccountCreateMax.json"
          }
        },
        "description": "Creates or updates an Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "createUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseAccountCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current database account."
          }
        ],
        "responses": {
          "200": {
            "description": "The database account create or update operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccount"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseAccounts_Delete",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountDelete": {
            "$ref": "./examples/CosmosDBDatabaseAccountDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The database account delete operation will complete asynchronously."
          },
          "204": {
            "description": "The specified account does not exist in the subscription."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/failoverPriorityChange": {
      "post": {
        "operationId": "DatabaseAccounts_FailoverPriorityChange",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountFailoverPriorityChange": {
            "$ref": "./examples/CosmosDBDatabaseAccountFailoverPriorityChange.json"
          }
        },
        "description": "Changes the failover priority for the Azure Cosmos DB database account. A failover priority of 0 indicates a write region. The maximum value for a failover priority = (total number of regions - 1). Failover priority values must be unique for each of the regions in which the database account exists.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "failoverParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FailoverPolicies"
            },
            "description": "The new failover policies for the database account."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The failover policy change operation will complete asynchronously."
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DocumentDB/databaseAccounts": {
      "get": {
        "operationId": "DatabaseAccounts_List",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountList": {
            "$ref": "./examples/CosmosDBDatabaseAccountList.json"
          }
        },
        "description": "Lists all the Azure Cosmos DB database accounts available under the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts": {
      "get": {
        "operationId": "DatabaseAccounts_ListByResourceGroup",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListByResourceGroup": {
            "$ref": "./examples/CosmosDBDatabaseAccountListByResourceGroup.json"
          }
        },
        "description": "Lists all the Azure Cosmos DB database accounts available under the given resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listKeys": {
      "post": {
        "operationId": "DatabaseAccounts_ListKeys",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListKeys": {
            "$ref": "./examples/CosmosDBDatabaseAccountListKeys.json"
          }
        },
        "description": "Lists the access keys for the specified Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountListKeysResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/listConnectionStrings": {
      "post": {
        "operationId": "DatabaseAccounts_ListConnectionStrings",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListConnectionStrings": {
            "$ref": "./examples/CosmosDBDatabaseAccountListConnectionStrings.json"
          },
          "CosmosDBDatabaseAccountListConnectionStringsMongo": {
            "$ref": "./examples/CosmosDBDatabaseAccountListConnectionStringsMongo.json"
          }
        },
        "description": "Lists the connection strings for the specified Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountListConnectionStringsResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/offlineRegion": {
      "post": {
        "operationId": "DatabaseAccounts_OfflineRegion",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountOfflineRegion": {
            "$ref": "./examples/CosmosDBDatabaseAccountOfflineRegion.json"
          }
        },
        "description": "Offline the specified region for the specified Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "regionParameterForOffline",
            "in": "body",
            "required": true,
            "description": "Cosmos DB region to offline for the database account.",
            "schema": {
              "$ref": "#/definitions/RegionForOnlineOffline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The offline region operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The offline region operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/onlineRegion": {
      "post": {
        "operationId": "DatabaseAccounts_OnlineRegion",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountOnlineRegion": {
            "$ref": "./examples/CosmosDBDatabaseAccountOnlineRegion.json"
          }
        },
        "description": "Online the specified region for the specified Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "regionParameterForOnline",
            "in": "body",
            "required": true,
            "description": "Cosmos DB region to online for the database account.",
            "schema": {
              "$ref": "#/definitions/RegionForOnlineOffline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The online region operation is completed successfully."
          },
          "202": {
            "description": "Accepted. The online region operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/readonlykeys": {
      "get": {
        "operationId": "DatabaseAccounts_GetReadOnlyKeys",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListReadOnlyKeys": {
            "$ref": "./examples/CosmosDBDatabaseAccountListReadOnlyKeys.json"
          }
        },
        "description": "Lists the read-only access keys for the specified Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountListReadOnlyKeysResult"
            }
          }
        }
      },
      "post": {
        "operationId": "DatabaseAccounts_ListReadOnlyKeys",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountListReadOnlyKeys": {
            "$ref": "./examples/CosmosDBDatabaseAccountListReadOnlyKeys.json"
          }
        },
        "description": "Lists the read-only access keys for the specified Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DatabaseAccountListReadOnlyKeysResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/regenerateKey": {
      "post": {
        "operationId": "DatabaseAccounts_RegenerateKey",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegenerateKey": {
            "$ref": "./examples/CosmosDBDatabaseAccountRegenerateKey.json"
          }
        },
        "description": "Regenerates an access key for the specified Azure Cosmos DB database account.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "keyToRegenerate",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatabaseAccountRegenerateKeyParameters"
            },
            "description": "The name of the key to regenerate."
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted. The regenerate key operation will complete asynchronously."
          }
        }
      }
    },
    "/providers/Microsoft.DocumentDB/databaseAccountNames/{accountName}": {
      "head": {
        "operationId": "DatabaseAccounts_CheckNameExists",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountCheckNameExists": {
            "$ref": "./examples/CosmosDBDatabaseAccountCheckNameExists.json"
          }
        },
        "description": "Checks that the Azure Cosmos DB account name already exists. A valid account name may contain only lowercase letters, numbers, and the '-' character, and must be between 3 and 50 characters.",
        "parameters": [
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The account name is valid but is already in use."
          },
          "404": {
            "description": "Not Found. The account name is available and valid."
          }
        }
      }
    },
    "/providers/Microsoft.DocumentDB/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Cosmos DB Resource Provider operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "CosmosDBOperationsList": {
            "$ref": "./examples/CosmosDBOperationsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metrics": {
      "get": {
        "operationId": "DatabaseAccounts_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGetMetrics": {
            "$ref": "./examples/CosmosDBDatabaseAccountGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metrics": {
      "get": {
        "operationId": "Database_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseGetMetrics": {
            "$ref": "./examples/CosmosDBDatabaseGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and database.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metrics": {
      "get": {
        "operationId": "Collection_ListMetrics",
        "x-ms-examples": {
          "CosmosDBCollectionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and collection.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/metrics": {
      "get": {
        "operationId": "CollectionRegion_ListMetrics",
        "x-ms-examples": {
          "CosmosDBRegionCollectionGetMetrics": {
            "$ref": "./examples/CosmosDBRegionCollectionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account, collection and region.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/regionParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/metrics": {
      "get": {
        "operationId": "DatabaseAccountRegion_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBDatabaseAccountRegionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account and region.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/regionParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metrics for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/sourceRegion/{sourceRegion}/targetRegion/{targetRegion}/percentile/metrics": {
      "get": {
        "operationId": "PercentileSourceTarget_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPercentileSourceTargetGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given account, source and target region. This url is only for PBS and Replication Latency data",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/sourceRegionParameter"
          },
          {
            "$ref": "#/parameters/targetRegionParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The percentile metrics for the account, source and target regions were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PercentileMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/targetRegion/{targetRegion}/percentile/metrics": {
      "get": {
        "operationId": "PercentileTarget_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPercentileTargetGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given account target region. This url is only for PBS and Replication Latency data",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/targetRegionParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The percentile metrics for the account and target regions were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PercentileMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/percentile/metrics": {
      "get": {
        "operationId": "Percentile_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPercentileGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given database account. This url is only for PBS and Replication Latency data",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The percentile metrics for the account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PercentileMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics": {
      "get": {
        "operationId": "CollectionPartitionRegion_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionPartitionRegionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given collection and region, split by partition.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/regionParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The partition-level metrics for the collection and region were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/metrics": {
      "get": {
        "operationId": "CollectionPartition_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBCollectionPartitionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given collection, split by partition.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The partition-level metrics for the collection were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics": {
      "get": {
        "operationId": "PartitionKeyRangeId_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPKeyRangeIdGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given partition key range id.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/partitionKeyRangeIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The partition-level metrics for the partition key range id were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/region/{region}/databases/{databaseRid}/collections/{collectionRid}/partitionKeyRangeId/{partitionKeyRangeId}/metrics": {
      "get": {
        "operationId": "PartitionKeyRangeIdRegion_ListMetrics",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountRegionGetMetrics": {
            "$ref": "./examples/CosmosDBPKeyRangeIdRegionGetMetrics.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "description": "Retrieves the metrics determined by the given filter for the given partition key range id and region.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/regionParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/partitionKeyRangeIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/filterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The partition-level metrics for the partition key range id and region were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionMetricListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/usages": {
      "get": {
        "operationId": "DatabaseAccounts_ListUsages",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGetUsages": {
            "$ref": "./examples/CosmosDBDatabaseAccountGetUsages.json"
          }
        },
        "description": "Retrieves the usages (most recent data) for the given database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usages for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/UsagesResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/usages": {
      "get": {
        "operationId": "Database_ListUsages",
        "x-ms-examples": {
          "CosmosDBDatabaseGetUsages": {
            "$ref": "./examples/CosmosDBDatabaseGetUsages.json"
          }
        },
        "description": "Retrieves the usages (most recent data) for the given database.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usages for the database were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/UsagesResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/usages": {
      "get": {
        "operationId": "Collection_ListUsages",
        "x-ms-examples": {
          "CosmosDBCollectionGetUsages": {
            "$ref": "./examples/CosmosDBCollectionGetUsages.json"
          }
        },
        "description": "Retrieves the usages (most recent storage data) for the given collection.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usages for the collection were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/UsagesResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/partitions/usages": {
      "get": {
        "operationId": "CollectionPartition_ListUsages",
        "x-ms-examples": {
          "CosmosDBCollectionGetUsages": {
            "$ref": "./examples/CosmosDBCollectionPartitionGetUsages.json"
          }
        },
        "description": "Retrieves the usages (most recent storage data) for the given collection, split by partition.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/usageFilterParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usages for the collection, per partition were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/PartitionUsagesResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/metricDefinitions": {
      "get": {
        "operationId": "Database_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBDatabaseGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBDatabaseGetMetricDefinitions.json"
          }
        },
        "description": "Retrieves metric definitions for the given database.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metric definitions for the database were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/databases/{databaseRid}/collections/{collectionRid}/metricDefinitions": {
      "get": {
        "operationId": "Collection_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBCollectionGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBCollectionGetMetricDefinitions.json"
          }
        },
        "description": "Retrieves metric definitions for the given collection.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseRidParameter"
          },
          {
            "$ref": "#/parameters/collectionRidParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metric definitions for the collection were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/metricDefinitions": {
      "get": {
        "operationId": "DatabaseAccounts_ListMetricDefinitions",
        "x-ms-examples": {
          "CosmosDBDatabaseAccountGetMetricDefinitions": {
            "$ref": "./examples/CosmosDBDatabaseAccountGetMetricDefinitions.json"
          }
        },
        "description": "Retrieves metric definitions for the given database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The metric definitions for the database account were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MetricDefinitionsListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases": {
      "get": {
        "operationId": "DatabaseAccounts_ListSqlDatabases",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseList": {
            "$ref": "./examples/CosmosDBSqlDatabaseList.json"
          }
        },
        "description": "Lists the SQL databases under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL database properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlDatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}": {
      "get": {
        "operationId": "DatabaseAccounts_GetSqlDatabase",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseGet": {
            "$ref": "./examples/CosmosDBSqlDatabaseGet.json"
          }
        },
        "description": "Gets the SQL database under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL database property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlDatabase"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_CreateUpdateSqlDatabase",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlDatabaseCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB SQL database",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "createUpdateSqlDatabaseParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlDatabaseCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current SQL database."
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL database create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL database create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlDatabase"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseAccounts_DeleteSqlDatabase",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseDelete": {
            "$ref": "./examples/CosmosDBSqlDatabaseDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB SQL database.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL database delete operation will complete asynchronously."
          },
          "204": {
            "description": "The SQL database delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/settings/throughput": {
      "get": {
        "operationId": "DatabaseAccounts_GetSqlDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseThroughputGet": {
            "$ref": "./examples/CosmosDBSqlDatabaseThroughputGet.json"
          }
        },
        "description": "Gets the RUs per second of the SQL database under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RUs per second of the SQL database was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_UpdateSqlDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBSqlDatabaseThroughputUpdate": {
            "$ref": "./examples/CosmosDBSqlDatabaseThroughputUpdate.json"
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB SQL database",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "updateThroughputParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputUpdateParameters"
            },
            "description": "The parameters to provide for the RUs per second of the current SQL database."
          }
        ],
        "responses": {
          "202": {
            "description": "The RUs per second of the SQL database update operation will complete asynchronously."
          },
          "200": {
            "description": "The RUs per second of the SQL database update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers": {
      "get": {
        "operationId": "DatabaseAccounts_ListSqlContainers",
        "x-ms-examples": {
          "CosmosDBSqlContainerList": {
            "$ref": "./examples/CosmosDBSqlContainerList.json"
          }
        },
        "description": "Lists the SQL container under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL container properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlContainerListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers/{containerName}": {
      "get": {
        "operationId": "DatabaseAccounts_GetSqlContainer",
        "x-ms-examples": {
          "CosmosDBSqlContainerGet": {
            "$ref": "./examples/CosmosDBSqlContainerGet.json"
          }
        },
        "description": "Gets the SQL container under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The SQL container property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/SqlContainer"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_CreateUpdateSqlContainer",
        "x-ms-examples": {
          "CosmosDBSqlContainerCreateUpdate": {
            "$ref": "./examples/CosmosDBSqlContainerCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB SQL container",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "createUpdateSqlContainerParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlContainerCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current SQL container."
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL container create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The SQL container create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlContainer"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseAccounts_DeleteSqlContainer",
        "x-ms-examples": {
          "CosmosDBSqlContainerDelete": {
            "$ref": "./examples/CosmosDBSqlContainerDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB SQL container.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The SQL container delete operation will complete asynchronously."
          },
          "204": {
            "description": "The SQL container delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/sql/databases/{databaseName}/containers/{containerName}/settings/throughput": {
      "get": {
        "operationId": "DatabaseAccounts_GetSqlContainerThroughput",
        "x-ms-examples": {
          "CosmosDBSqlContainerThroughputGet": {
            "$ref": "./examples/CosmosDBSqlContainerThroughputGet.json"
          }
        },
        "description": "Gets the RUs per second of the SQL container under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RUs per second of the SQL container was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_UpdateSqlContainerThroughput",
        "x-ms-examples": {
          "CosmosDBSqlContainerThroughputUpdate": {
            "$ref": "./examples/CosmosDBSqlContainerThroughputUpdate.json"
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB SQL container",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/containerNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "updateThroughputParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputUpdateParameters"
            },
            "description": "The parameters to provide for the RUs per second of the current SQL container."
          }
        ],
        "responses": {
          "202": {
            "description": "The RUs per second of the SQL container update operation will complete asynchronously."
          },
          "200": {
            "description": "The RUs per second of the SQL container update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases": {
      "get": {
        "operationId": "DatabaseAccounts_ListMongoDBDatabases",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseList": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseList.json"
          }
        },
        "description": "Lists the MongoDB databases under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The MongoDB database properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDBDatabaseListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}": {
      "get": {
        "operationId": "DatabaseAccounts_GetMongoDBDatabase",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseGet": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseGet.json"
          }
        },
        "description": "Gets the MongoDB databases under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The MongoDB database property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDBDatabase"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_CreateUpdateMongoDBDatabase",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseCreateUpdate": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseCreateUpdate.json"
          }
        },
        "description": "Create or updates Azure Cosmos DB MongoDB database",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "createUpdateMongoDBDatabaseParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoDBDatabaseCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current MongoDB database."
          }
        ],
        "responses": {
          "202": {
            "description": "The MongoDB database create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The MongoDB database create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDBDatabase"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseAccounts_DeleteMongoDBDatabase",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseDelete": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB MongoDB database.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The MongoDB database delete operation will complete asynchronously."
          },
          "204": {
            "description": "The MongoDB database delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/settings/throughput": {
      "get": {
        "operationId": "DatabaseAccounts_GetMongoDBDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseThroughputGet": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseThroughputGet.json"
          }
        },
        "description": "Gets the RUs per second of the MongoDB database under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RUs per second of the MongoDB database was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_UpdateMongoDBDatabaseThroughput",
        "x-ms-examples": {
          "CosmosDBMongoDBDatabaseThroughputUpdate": {
            "$ref": "./examples/CosmosDBMongoDBDatabaseThroughputUpdate.json"
          }
        },
        "description": "Update RUs per second of the an Azure Cosmos DB MongoDB database",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "updateThroughputParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputUpdateParameters"
            },
            "description": "The RUs per second of the parameters to provide for the current MongoDB database."
          }
        ],
        "responses": {
          "202": {
            "description": "The RUs per second of the MongoDB database update operation will complete asynchronously."
          },
          "200": {
            "description": "The RUs per second of the MongoDB database update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections": {
      "get": {
        "operationId": "DatabaseAccounts_ListMongoDBCollections",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionList": {
            "$ref": "./examples/CosmosDBMongoDBCollectionList.json"
          }
        },
        "description": "Lists the MongoDB collection under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The MongoDB collection properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDBCollectionListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections/{collectionName}": {
      "get": {
        "operationId": "DatabaseAccounts_GetMongoDBCollection",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionGet": {
            "$ref": "./examples/CosmosDBMongoDBCollectionGet.json"
          }
        },
        "description": "Gets the MongoDB collection under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The MongoDB collection property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDBCollection"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_CreateUpdateMongoDBCollection",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionCreateUpdate": {
            "$ref": "./examples/CosmosDBMongoDBCollectionCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB MongoDB Collection",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "createUpdateMongoDBCollectionParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MongoDBCollectionCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current MongoDB Collection."
          }
        ],
        "responses": {
          "202": {
            "description": "The MongoDB Collection create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The MongoDB Collection create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/MongoDBCollection"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseAccounts_DeleteMongoDBCollection",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionDelete": {
            "$ref": "./examples/CosmosDBMongoDBCollectionDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB MongoDB Collection.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The MongoDB collection delete operation will complete asynchronously."
          },
          "204": {
            "description": "The MongoDB collection delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/mongodb/databases/{databaseName}/collections/{collectionName}/settings/throughput": {
      "get": {
        "operationId": "DatabaseAccounts_GetMongoDBCollectionThroughput",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionThroughputGet": {
            "$ref": "./examples/CosmosDBMongoDBCollectionThroughputGet.json"
          }
        },
        "description": "Gets the RUs per second of the MongoDB collection under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RUs per second of the MongoDB collection was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_UpdateMongoDBCollectionThroughput",
        "x-ms-examples": {
          "CosmosDBMongoDBCollectionThroughputUpdate": {
            "$ref": "./examples/CosmosDBMongoDBCollectionThroughputUpdate.json"
          }
        },
        "description": "Update the RUs per second of an Azure Cosmos DB MongoDB collection",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/databaseNameParameter"
          },
          {
            "$ref": "#/parameters/collectionNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "updateThroughputParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputUpdateParameters"
            },
            "description": "The RUs per second of the parameters to provide for the current MongoDB collection."
          }
        ],
        "responses": {
          "202": {
            "description": "The RUs per second of the MongoDB collection update operation will complete asynchronously."
          },
          "200": {
            "description": "The RUs per second of the MongoDB collection update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/table/tables": {
      "get": {
        "operationId": "DatabaseAccounts_ListTables",
        "x-ms-examples": {
          "CosmosDBTableList": {
            "$ref": "./examples/CosmosDBTableList.json"
          }
        },
        "description": "Lists the Tables under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Table properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/TableListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/table/tables/{tableName}": {
      "get": {
        "operationId": "DatabaseAccounts_GetTable",
        "x-ms-examples": {
          "CosmosDBTableGet": {
            "$ref": "./examples/CosmosDBTableGet.json"
          }
        },
        "description": "Gets the Tables under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/tableNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Table property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Table"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_CreateUpdateTable",
        "x-ms-examples": {
          "CosmosDBTableReplace": {
            "$ref": "./examples/CosmosDBTableCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB Table",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/tableNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "createUpdateTableParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TableCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current Table."
          }
        ],
        "responses": {
          "202": {
            "description": "The Table create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The Table create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/Table"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseAccounts_DeleteTable",
        "x-ms-examples": {
          "CosmosDBTableDelete": {
            "$ref": "./examples/CosmosDBTableDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Table.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/tableNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Table delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Table delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/table/tables/{tableName}/settings/throughput": {
      "get": {
        "operationId": "DatabaseAccounts_GetTableThroughput",
        "x-ms-examples": {
          "CosmosDBTableThroughputGet": {
            "$ref": "./examples/CosmosDBTableThroughputGet.json"
          }
        },
        "description": "Gets the RUs per second of the Table under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/tableNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RUs per second of the Table was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_UpdateTableThroughput",
        "x-ms-examples": {
          "CosmosDBTableThroughputUpdate": {
            "$ref": "./examples/CosmosDBTableThroughputUpdate.json"
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Table",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/tableNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "updateThroughputParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputUpdateParameters"
            },
            "description": "The parameters to provide for the RUs per second of the current Table."
          }
        ],
        "responses": {
          "202": {
            "description": "The RUs per second of the Table update operation will complete asynchronously."
          },
          "200": {
            "description": "The RUs per second of the Table update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces": {
      "get": {
        "operationId": "DatabaseAccounts_ListCassandraKeyspaces",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceList": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceList.json"
          }
        },
        "description": "Lists the Cassandra keyspaces under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Cassandra keyspace properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/CassandraKeyspaceListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}": {
      "get": {
        "operationId": "DatabaseAccounts_GetCassandraKeyspace",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceGet": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceGet.json"
          }
        },
        "description": "Gets the Cassandra keyspaces under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Cassandra keyspace property was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/CassandraKeyspace"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_CreateUpdateCassandraKeyspace",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceCreateUpdate": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceCreateUpdate.json"
          }
        },
        "description": "Create or update an Azure Cosmos DB Cassandra keyspace",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "createUpdateCassandraKeyspaceParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CassandraKeyspaceCreateUpdateParameters"
            },
            "description": "The parameters to provide for the current Cassandra keyspace."
          }
        ],
        "responses": {
          "202": {
            "description": "The Cassandra keyspace create or update operation will complete asynchronously."
          },
          "200": {
            "description": "The Cassandra keyspace create or update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/CassandraKeyspace"
            }
          }
        }
      },
      "delete": {
        "operationId": "DatabaseAccounts_DeleteCassandraKeyspace",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceDelete": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceDelete.json"
          }
        },
        "description": "Deletes an existing Azure Cosmos DB Cassandra keyspace.",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The Cassandra keyspace delete operation will complete asynchronously."
          },
          "204": {
            "description": "The Cassandra keyspace delete operation was completed successfully."
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/settings/throughput": {
      "get": {
        "operationId": "DatabaseAccounts_GetCassandraKeyspaceThroughput",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceThroughputGet": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceThroughputGet.json"
          }
        },
        "description": "Gets the RUs per second of the Cassandra Keyspace under an existing Azure Cosmos DB database account with the provided name.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The RUs per second of the Cassandra Keyspace was retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      },
      "put": {
        "operationId": "DatabaseAccounts_UpdateCassandraKeyspaceThroughput",
        "x-ms-examples": {
          "CosmosDBCassandraKeyspaceThroughputUpdate": {
            "$ref": "./examples/CosmosDBCassandraKeyspaceThroughputUpdate.json"
          }
        },
        "description": "Update RUs per second of an Azure Cosmos DB Cassandra Keyspace",
        "x-ms-long-running-operation": true,
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "updateThroughputParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThroughputUpdateParameters"
            },
            "description": "The RUs per second of the parameters to provide for the current Cassandra Keyspace."
          }
        ],
        "responses": {
          "202": {
            "description": "The RUs per second of the Cassandra Keyspace update operation will complete asynchronously."
          },
          "200": {
            "description": "The RUs per second of the Cassandra Keyspace update operation was completed successfully.",
            "schema": {
              "$ref": "#/definitions/Throughput"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables": {
      "get": {
        "operationId": "DatabaseAccounts_ListCassandraTables",
        "x-ms-examples": {
          "CosmosDBCassandraTableList": {
            "$ref": "./examples/CosmosDBCassandraTableList.json"
          }
        },
        "description": "Lists the Cassandra table under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/keyspaceNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Cassandra table properties were retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/CassandraTableListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}/apis/cassandra/keyspaces/{keyspaceName}/tables/{tableName}": {
      "get": {
        "operationId": "DatabaseAccounts_GetCassandraTable",
        "x-ms-examples": {
          "CosmosDBCassandraTableGet": {
            "$ref": "./examples/CosmosDBCassandraTableGet.json"
          }
        },
        "description": "Gets the Cassandra table under an existing Azure Cosmos DB database account.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/keyspaceNameParameter"
          },
[...]
