{
  "swagger": "2.0",
  "info": {
    "title": "SearchManagementClient",
    "description": "Client that can be used to manage Azure Search services and API keys.",
    "version": "2015-08-19"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listAdminKeys": {
      "post": {
        "tags": [
          "AdminKeys"
        ],
        "operationId": "AdminKeys_Get",
        "description": "Gets the primary and secondary admin API keys for the specified Azure Search service.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832685.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The admin keys were successfully retrieved and are in the response. You can use either the primary or secondary key as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform any operations on your Search service, including privileged operations. Privileged operations include managing resources like indexes and data sources as well as uploading, modifying, or deleting data in your indexes.",
            "schema": {
              "$ref": "#/definitions/AdminKeyResult"
            }
          },
          "default": {
            "description": "HTTP 404: The subscription, resource group, or Search service could not be found. HTTP 409: The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/regenerateAdminKey/{keyKind}": {
      "post": {
        "tags": [
          "AdminKeys"
        ],
        "operationId": "AdminKeys_Regenerate",
        "description": "Regenerates either the primary or secondary admin API key. You can only regenerate one key at a time.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832700.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "name": "keyKind",
            "in": "path",
            "required": true,
            "type": "string",
            "enum": [
              "primary",
              "secondary"
            ],
            "x-ms-enum": {
              "name": "AdminKeyKind",
              "modelAsString": false
            },
            "description": "Specifies which key to regenerate. Valid values include 'primary' and 'secondary'."
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The specified admin key was successfully regenerated. Both admin keys are included in the response, including the newly-regenerated key.",
            "schema": {
              "$ref": "#/definitions/AdminKeyResult"
            }
          },
          "default": {
            "description": "HTTP 404: The subscription, resource group, or Search service could not be found. HTTP 409: The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/createQueryKey/{name}": {
      "post": {
        "tags": [
          "QueryKeys"
        ],
        "operationId": "QueryKeys_Create",
        "description": "Generates a new query key for the specified Search service. You can create up to 50 query keys per service.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832690.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the new query API key."
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The query key was successfully created and is in the response. You can use the query key as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform read-only operations on your Search indexes such as querying and looking up documents by ID.",
            "schema": {
              "$ref": "#/definitions/QueryKey"
            }
          },
          "default": {
            "description": "HTTP 404: The subscription, resource group, or Search service could not be found. HTTP 409: The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/listQueryKeys": {
      "get": {
        "tags": [
          "QueryKeys"
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "operationId": "QueryKeys_ListBySearchService",
        "description": "Returns the list of query API keys for the given Azure Search service.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832701.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "All query keys for the given Search service were successfully retrieved and are in the response. You can use any of the query keys as the value of the 'api-key' parameter in the Azure Search Service REST API or SDK to perform read-only operations on your Search indexes such as querying and looking up documents by ID.",
            "schema": {
              "$ref": "#/definitions/ListQueryKeysResult"
            }
          },
          "default": {
            "description": "HTTP 404: The subscription, resource group, or Search service could not be found. HTTP 409: The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}/deleteQueryKey/{key}": {
      "delete": {
        "tags": [
          "QueryKeys"
        ],
        "operationId": "QueryKeys_Delete",
        "description": "Deletes the specified query key. Unlike admin keys, query keys are not regenerated. The process for regenerating a query key is to delete and then recreate it.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832697.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The query key to be deleted. Query keys are identified by value, not by name."
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The query key was successfully deleted."
          },
          "204": {
            "description": "The query key was successfully deleted."
          },
          "404": {
            "description": "The subscription, resource group, Search service, or query key could not be found."
          },
          "default": {
            "description": "HTTP 409: The specified subscription is disabled.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices/{searchServiceName}": {
      "put": {
        "tags": [
          "Services"
        ],
        "operationId": "Services_CreateOrUpdate",
        "description": "Creates or updates a Search service in the given resource group. If the Search service already exists, all properties will be updated with the given values.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832687.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "name": "service",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SearchService"
            },
            "description": "The properties to set or update on the Search service."
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchService"
            }
          },
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchService"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Services"
        ],
        "operationId": "Services_Get",
        "description": "Returns the Search service with the given name in the given resource group.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832694.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchService"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Services"
        ],
        "operationId": "Services_Delete",
        "description": "Deletes a Search service in the given resource group, along with its associated resources.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832692.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SearchServiceNameParameter"
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "404": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Search/searchServices": {
      "get": {
        "tags": [
          "Services"
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "operationId": "Services_ListByResourceGroup",
        "description": "Returns a list of all Search services in the given resource group.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/dn832688.aspx"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SearchServiceListResult"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Search/checkNameAvailability": {
      "post": {
        "tags": [
          "Services"
        ],
        "description": "Checks the availability of a resource name without creating the resource. This is needed for resources where name is globally unique, such as an Azure Search service.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/library/azure/mt574113.aspx"
        },
        "operationId": "Services_CheckNameAvailability",
        "parameters": [
          {
            "name": "checkNameAvailabilityInput",
            "in": "body",
            "description": "Input to check.",
            "x-ms-client-flatten": true,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityInput"
            }
          },
          {
            "$ref": "#/parameters/ClientRequestIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityOutput"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CheckNameAvailabilityInput": {
      "description": "Input of check name availability API.",
      "type": "object",
      "required": [
        "name",
        "type"
      ],
      "properties": {
        "name": {
          "description": "The resource name to validate.",
          "type": "string"
        },
        "type": {
          "description": "The type of the resource whose name is to be validated.",
          "type": "string",
          "enum": [
            "searchServices"
          ],
          "x-ms-enum": {
            "name": "ResourceType",
            "modelAsString": false
          }
        }
      }
    },
    "CheckNameAvailabilityOutput": {
      "description": "Output of check name availability API.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "x-ms-client-name": "IsNameAvailable",
          "description": "A value indicating whether the name is available.",
          "type": "boolean",
          "readOnly": true
        },
        "reason": {
          "description": "The reason why the name is not available. 'Invalid' indicates the name provided does not match the resource provider’s naming requirements (incorrect length, unsupported characters, etc.). 'AlreadyExists' indicates that the name is already in use and is therefore unavailable.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "UnavailableNameReason",
            "modelAsString": true
          }
        },
        "message": {
          "description": "A message that explains why the name is invalid and provides resource naming requirements. Available only if 'Invalid' is returned in the 'reason' property.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AdminKeyResult": {
      "properties": {
        "primaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "The primary API key of the Search service."
        },
        "secondaryKey": {
          "readOnly": true,
          "type": "string",
          "description": "The secondary API key of the Search service."
        }
      },
      "description": "Response containing the primary and secondary API keys for a given Azure Search service."
    },
    "QueryKey": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the query API key; may be empty."
        },
        "key": {
          "readOnly": true,
          "type": "string",
          "description": "The value of the query API key."
        }
      },
      "description": "Describes an API key for a given Azure Search service that has permissions for query operations only."
    },
    "ListQueryKeysResult": {
      "properties": {
        "value": {
          "x-ms-client-name": "queryKeys",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/QueryKey"
          },
          "description": "The query keys for the Azure Search service."
        }
      },
      "description": "Response containing the query API keys for a given Azure Search service."
    },
    "Sku": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU of the Search service.",
          "enum": [
            "free",
            "basic",
            "standard",
            "standard2",
            "standard3"
          ],
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsString": false
          }
        }
      },
      "description": "Defines the SKU of an Azure Search Service, which determines price tier and capacity limits."
    },
    "SearchService" : {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SearchServiceProperties",
          "description": "Properties of the Search service."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the Search Service, which determines price tier and capacity limits."
        }
      },
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Describes an Azure Search service and its current state."
    },
    "SearchServiceProperties": {
      "properties": {
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 12,
          "default": 1,
          "description": "The number of replicas in the Search service. If specified, it must be a value between 1 and 12 inclusive for standard SKUs or between 1 and 3 inclusive for basic SKU."
        },
        "partitionCount": {
          "type": "integer",
          "format": "int32",
          "minimum": 1,
          "maximum": 12,
          "default": 1,
          "description": "The number of partitions in the Search service; if specified, it can be 1, 2, 3, 4, 6, or 12. Valid only for SKUs that have more than one partition."
        },
        "hostingMode": {
          "type": "string",
          "default": "default",
          "description": "Applicable only for the standard3 SKU. You can set this property to enable a single, high density partition that allows up to 1000 indexes, which is much higher than the maximum indexes allowed for any other SKU. For the standard3 SKU, the value is either 'default' or 'highDensity'. For all other SKUs, this value must be 'default'.",
          "enum": [
            "default",
            "highDensity"
          ],
          "x-ms-enum": {
            "name": "HostingMode",
            "modelAsString": false
          }
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the Search service at the time the operation was called.",
          "enum": [
            "running",
            "provisioning",
            "deleting",
            "degraded",
            "disabled",
            "error"
          ],
          "x-ms-enum": {
            "name": "SearchServiceStatus",
            "modelAsString": false
          }
        },
        "statusDetails": {
          "readOnly": true,
          "type": "string",
          "description": "The details of the Search service status."
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The state of the last provisioning operation performed on the Search service.",
          "enum": [
            "succeeded",
            "provisioning",
            "failed"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": false
          }
        }
      },
      "description": "Properties of the Search service."
    },
    "SearchServiceListResult": {
      "properties": {
        "value": {
          "x-ms-client-name": "services",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchService"
          },
          "description": "The Search services in the resource group."
        }
      },
      "description": "Response containing a list of Azure Search services for a given resource group."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource.",
          "externalDocs": {
            "url": "https://msdn.microsoft.com/library/azure/dn857353.aspx"
          }
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The resource type."
        },
        "location": {
          "type": "string",
          "description": "The geographic location of the resource.",
          "x-ms-mutability": [
            "create", 
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Tags to help categorize the resource in the Azure Portal."
        }
      },
      "required": [
        "location"
      ],
      "description": "Base type for all Azure resources.",
      "x-ms-azure-resource": true
    },
    "CloudError": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "Contains information about an API error.",
      "x-ms-external": true
    },
    "CloudErrorBody": {
        "type": "object",
        "description": "Describes a particular API error with an error code and a message.",
        "properties": {
            "code": { 
              "type": "string"
            },
            "message": {
              "type": "string"
            },
            "target": {
              "type": "string"
            },
            "details": {
                "type": "array",
                "items": {
                  "$ref": "#/definitions/CloudErrorBody"
                }
            }
        },
        "x-ms-external": true
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the current subscription. You can obtain this value from the Azure Resource Manager API or the portal.",
      "x-ms-parameter-location": "method"
    },
    "SearchServiceNameParameter": {
      "name": "searchServiceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure Search service associated with the specified resource group.",
      "x-ms-parameter-location": "method"
    },
    "ClientRequestIdParameter": {
      "name": "x-ms-client-request-id",
      "x-ms-client-name": "clientRequestId",
      "in": "header",
      "required": false,
      "type": "string",
      "format": "uuid",
      "description": "A client-generated GUID value that identifies this request. If specified, this will be included in response information as a way to track the request.",
      "x-ms-client-request-id": true,
      "x-ms-parameter-grouping": { "name": "search-management-request-options" },
      "x-ms-parameter-location": "method"
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique identifier for a Microsoft Azure subscription. You can obtain this value from the Azure Resource Manager API or the portal."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for each request. The current version is 2015-08-19."
    }
  }
}
