{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the virtual network functions deployed using mobile network",
    "version": "2021-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "SubResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        }
      },
      "required": [
        "id"
      ],
      "description": "Reference to another sub resource.",
      "x-ms-azure-resource": true
    },
    "DataNetworkResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$",
          "description": "Data Network resource ID."
        }
      },
      "required": [
        "id"
      ],
      "description": "Reference to a Data Network resource.",
      "x-ms-azure-resource": true
    },
    "AttachedDataNetworkResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][cC][oO][nN][tT][rR][oO][lL][pP][lL][aA][nN][eE][sS]/[^/?#]+/[pP][aA][cC][kK][eE][tT][cC][oO][rR][eE][dD][aA][tT][aA][pP][lL][aA][nN][eE][sS]/[^/?#]+/[aA][tT][tT][aA][cC][hH][eE][dD][dD][aA][tT][aA][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$",
          "description": "Attached Data Network resource ID."
        }
      },
      "required": [
        "id"
      ],
      "description": "Reference to an Attached Data Network resource.",
      "x-ms-azure-resource": true
    },
    "MobileNetworkResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+$",
          "description": "Mobile Network resource ID."
        }
      },
      "required": [
        "id"
      ],
      "description": "Reference to a Mobile Network resource.",
      "x-ms-azure-resource": true
    },
    "ServiceResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][eE][rR][vV][iI][cC][eE][sS]/[^/?#]+$",
          "description": "Service resource ID."
        }
      },
      "required": [
        "id"
      ],
      "description": "Reference to a Service resource.",
      "x-ms-azure-resource": true
    },
    "SimPolicyResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][iI][mM][pP][oO][lL][iI][cC][iI][eE][sS]/[^/?#]+$",
          "description": "SIM Policy resource ID."
        }
      },
      "required": [
        "id"
      ],
      "description": "Reference to a SIM Policy resource.",
      "x-ms-azure-resource": true
    },
    "SliceResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\\.[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK]/[mM][oO][bB][iI][lL][eE][nN][eE][tT][wW][oO][rR][kK][sS]/[^/?#]+/[sS][lL][iI][cC][eE][sS]/[^/?#]+$",
          "description": "Slice resource ID."
        }
      },
      "required": [
        "id"
      ],
      "description": "Reference to a Slice resource.",
      "x-ms-azure-resource": true
    },
    "CustomLocationResourceId": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "pattern": "^/[sS][uU][bB][sS][cC][rR][iI][pP][tT][iI][oO][nN][sS]/[^/?#]+/[rR][eE][sS][oO][uU][rR][cC][eE][gG][rR][oO][uU][pP][sS]/[^/?#]+/[pP][rR][oO][vV][iI][dD][eE][rR][sS]/[mM][iI][cC][rR][oO][sS][oO][fF][tT]\\.[eE][xX][tT][eE][nN][dD][eE][dD][lL][oO][cC][aA][tT][iI][oO][nN]/[cC][uU][sS][tT][oO][mM][lL][oO][cC][aA][tT][iI][oO][nN][sS]/[^/?#]+$",
          "description": "Azure ARC custom location resource ID."
        }
      },
      "required": [
        "id"
      ],
      "description": "Reference to an Azure ARC custom location resource.",
      "x-ms-azure-resource": true
    },
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Unknown",
        "Succeeded",
        "Accepted",
        "Deleting",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "TagsObject": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    },
    "SimState": {
      "type": "string",
      "readOnly": true,
      "description": "The state of the sim resource.",
      "enum": [
        "Disabled",
        "Enabled",
        "Invalid"
      ],
      "x-ms-enum": {
        "name": "SimState",
        "modelAsString": true
      }
    },
    "ActivationState": {
      "type": "string",
      "readOnly": true,
      "description": "The current activation state of the Sim on the network.",
      "enum": [
        "NotActivated",
        "Activated",
        "Activating",
        "Deactivating",
        "Deactivated",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ActivationState",
        "modelAsString": true
      }
    },
    "InterfaceProperties": {
      "type": "object",
      "properties": {
        "ipv4Address": {
          "$ref": "./ts29571.json#/definitions/Ipv4Addr",
          "description": "The IPv4 address."
        },
        "ipv4Subnet": {
          "$ref": "./ts29571.json#/definitions/Ipv4AddrMask",
          "description": "The IPv4 subnet."
        },
        "ipv4Gateway": {
          "$ref": "./ts29571.json#/definitions/Ipv4Addr",
          "description": "The default IPv4 gateway (router)."
        }
      },
      "required": [
        "ipv4Address",
        "ipv4Subnet",
        "ipv4Gateway"
      ],
      "description": "IP address and subnet."
    }
  },
  "parameters": {
    "AttachedDataNetworkNameParameter": {
      "name": "attachedDataNetworkName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$",
      "maxLength": 64,
      "description": "The name of the attached data network.",
      "x-ms-parameter-location": "method"
    },
    "DataNetworkNameParameter": {
      "name": "dataNetworkName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*(\\.[a-zA-Z0-9]([a-zA-Z0-9-]*[a-zA-Z0-9])*)*$",
      "maxLength": 64,
      "description": "The name of the mobile network dataNetwork.",
      "x-ms-parameter-location": "method"
    },
    "MobileNetworkNameParameter": {
      "name": "mobileNetworkName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "maxLength": 64,
      "description": "The name of the mobile network.",
      "x-ms-parameter-location": "method"
    },
    "PacketCoreControlPlaneNameParameter": {
      "name": "packetCoreControlPlaneName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "maxLength": 64,
      "description": "The name of the packet core control plane.",
      "x-ms-parameter-location": "method"
    },
    "PacketCoreDataPlaneNameParameter": {
      "name": "packetCoreDataPlaneName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "maxLength": 64,
      "description": "The name of the packet core data plane.",
      "x-ms-parameter-location": "method"
    },
    "ServiceNameParameter": {
      "name": "serviceName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^(?!(default|requested|service)$)[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "maxLength": 64,
      "description": "The name of the service. You must not use any of the following reserved strings - `default`, `requested` or `service`",
      "x-ms-parameter-location": "method"
    },
    "SimNameParameter": {
      "name": "simName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "maxLength": 64,
      "description": "The name of the SIM.",
      "x-ms-parameter-location": "method"
    },
    "SimPolicyNameParameter": {
      "name": "simPolicyName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "maxLength": 64,
      "description": "The name of the SIM policy.",
      "x-ms-parameter-location": "method"
    },
    "SiteNameParameter": {
      "name": "siteName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "maxLength": 64,
      "description": "The name of the mobile network site.",
      "x-ms-parameter-location": "method"
    },
    "SliceNameParameter": {
      "name": "sliceName",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
      "maxLength": 64,
      "description": "The name of the mobile network slice.",
      "x-ms-parameter-location": "method"
    }
  }
}
