{
  "swagger": "2.0",
  "info": {
    "title": "MobileNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage packet core data plane resources",
    "version": "2021-04-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/packetCoreDataPlanes/{packetCoreDataPlaneName}": {
      "delete": {
        "tags": [
          "PacketCoreDataPlanes"
        ],
        "operationId": "PacketCoreDataPlanes_Delete",
        "description": "Deletes the specified packet core data plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreDataPlaneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete successful."
          },
          "202": {
            "description": "Accepted. Sets 'Deleting' provisioningState until the operation completes. Returns an operation URI that can be queried to find the current state of the operation."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete packet core data plane": {
            "$ref": "./examples/PacketCoreDataPlaneDelete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      },
      "get": {
        "tags": [
          "PacketCoreDataPlanes"
        ],
        "operationId": "PacketCoreDataPlanes_Get",
        "description": "Gets information about the specified packet core data plane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreDataPlaneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns the resulting packet core data plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get packet core data plane": {
            "$ref": "./examples/PacketCoreDataPlaneGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "PacketCoreDataPlanes"
        ],
        "operationId": "PacketCoreDataPlanes_CreateOrUpdate",
        "description": "Creates or updates a PacketCoreDataPlane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreDataPlaneNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            },
            "description": "Parameters supplied to the create or update packet core data plane operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting packet core data plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            }
          },
          "201": {
            "description": "Create successful. The operation returns the resulting packet core data plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create packet core data plane": {
            "$ref": "./examples/PacketCoreDataPlaneCreate.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "patch": {
        "tags": [
          "PacketCoreDataPlanes"
        ],
        "operationId": "PacketCoreDataPlanes_UpdateTags",
        "description": "Updates a PacketCoreDataPlane update tags.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreDataPlaneNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./common.json#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update PacketCoreDataPlane tags."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful. The operation returns the resulting packet core data plane resource.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlane"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update packet core data plane tags": {
            "$ref": "./examples/PacketCoreDataPlaneUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobileNetwork/packetCoreControlPlanes/{packetCoreControlPlaneName}/packetCoreDataPlanes": {
      "get": {
        "tags": [
          "PacketCoreDataPlanes"
        ],
        "operationId": "PacketCoreDataPlanes_ListByPacketCoreControlPlane",
        "description": "Lists all the packetCoreDataPlanes associated with a packetCoreControlPlane.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/PacketCoreControlPlaneNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of packet core data plane resources.",
            "schema": {
              "$ref": "#/definitions/PacketCoreDataPlaneListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List packet core data planes in a control plane": {
            "$ref": "./examples/PacketCoreDataPlaneListByPacketCoreControlPlane.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "PacketCoreDataPlane": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PacketCoreDataPlanePropertiesFormat",
          "description": "Packet core data plane Properties."
        },
        "systemData": {
          "x-ms-client-flatten": true,
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Packet core data plane resource."
    },
    "PacketCoreDataPlanePropertiesFormat": {
      "description": "PacketCoreDataPlane properties.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the packet core data plane resource."
        },
        "customLocation": {
          "$ref": "./common.json#/definitions/CustomLocationResourceId",
          "description": "Azure ARC custom location where the packet core is deployed."
        },
        "coreNetworkTechnology": {
          "$ref": "./ts29571.json#/definitions/CoreNetworkType",
          "description": "The core network technology generation."
        },
        "version": {
          "$ref": "./common.json#/definitions/SemVer2Version",
          "description": "The version of the packet core software that is deployed."
        },
        "pduSessionType": {
          "$ref": "./ts29571.json#/definitions/PduSessionType",
          "description": "The PDU session type supported by the packet core data plane resource."
        },
        "n3Interface": {
          "$ref": "./common.json#/definitions/InterfaceProperties",
          "description": "Interface configuration for N3 reference point."
        },
        "accessControlList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccessControlRule"
          },
          "uniqueItems": true,
          "description": "Access control list."
        },
        "slices": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/SliceResourceId"
          },
          "uniqueItems": true,
          "description": "List of supported network slices."
        },
        "vpnGateway": {
          "$ref": "./common.json#/definitions/SubResource",
          "description": "The VPN Gateway used to connect the N6 interface."
        }
      },
      "required": [
        "n3Interface"
      ]
    },
    "PacketCoreDataPlaneListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PacketCoreDataPlane"
          },
          "description": "A list of packet core data planes in a resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for packet core data planes API service call."
    },
    "AccessControlRule": {
      "description": "An access control list entry, manages blocking or allowing data plane traffic. Access control can be applied in four places. Source address matches are evaluated on ingress. Destination address matches are evaluated on egress.",
      "type": "object",
      "properties": {
        "action": {
          "$ref": "#/definitions/AccessControlAction",
          "description": "Whether network traffic is to be allowed or denied."
        },
        "direction": {
          "$ref": "#/definitions/AccessControlDirection",
          "description": "Direction of flow of data plane traffic."
        },
        "sourceAddressPrefixes": {
          "type": "array",
          "items": {
            "$ref": "./ts29571.json#/definitions/Ipv4AddrMask"
          },
          "uniqueItems": true,
          "description": "The CIDR or source IP ranges."
        },
        "destinationAddressPrefixes": {
          "type": "array",
          "items": {
            "$ref": "./ts29571.json#/definitions/Ipv4AddrMask"
          },
          "uniqueItems": true,
          "description": "The CIDR or source IP ranges."
        },
        "description": {
          "type": "string",
          "description": "Optional descriptive name of the access control rule."
        }
      },
      "required": [
        "action",
        "direction"
      ]
    },
    "AccessControlAction": {
      "type": "string",
      "description": "Whether the access control specifies network traffic to be allowed or denied.",
      "enum": [
        "Allow",
        "Deny"
      ],
      "x-ms-enum": {
        "name": "AccessControlAction",
        "modelAsString": true
      }
    },
    "AccessControlDirection": {
      "type": "string",
      "description": "Direction of flow of data plane traffic.",
      "enum": [
        "Uplink",
        "Downlink"
      ],
      "x-ms-enum": {
        "name": "AccessControlDirection",
        "modelAsString": true
      }
    }
  }
}
