{
  "swagger": "2.0",
  "info": {
    "title": "apisecurity",
    "version": "2021-03-01-preview",
    "description": "Description of the new service."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ApiSecurity/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "description": "Lists the operations available from this provider.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ApiSecurity/defenderSettings": {
      "get": {
        "tags": [
          "DefenderSettings"
        ],
        "operationId": "DefenderSettings_Get",
        "description": "Get list pf defender settings.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefenderSettingList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefenderSettings_Get_MaximumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Get_MaximumSet_Gen.json"
          },
          "DefenderSettings_Get_MinimumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.ApiSecurity/defenderSettings/default": {
      "get": {
        "tags": [
          "DefenderSettings"
        ],
        "operationId": "DefenderSetting_Get",
        "description": "Get a defender setting.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefenderSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DefenderSetting_Get_MaximumSet_Gen": {
            "$ref": "./examples/DefenderSetting_Get_MaximumSet_Gen.json"
          },
          "DefenderSetting_Get_MinimumSet_Gen": {
            "$ref": "./examples/DefenderSetting_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "DefenderSettings"
        ],
        "operationId": "DefenderSettings_Create",
        "description": "Creates a defender setting.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Indicates an existing resource was successfully updated.",
            "schema": {
              "$ref": "#/definitions/DefenderSetting"
            }
          },
          "201": {
            "description": "Created - Returns information about the defender setting.",
            "schema": {
              "$ref": "#/definitions/DefenderSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DefenderSettings_Create_MaximumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Create_MaximumSet_Gen.json"
          },
          "DefenderSettings_Create_MinimumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Create_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "DefenderSettings"
        ],
        "operationId": "DefenderSettings_Update",
        "description": "Updates a defender setting.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DefenderSetting"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DefenderSetting"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DefenderSettings_Patch_MaximumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Patch_MaximumSet_Gen.json"
          },
          "DefenderSettings_Update_MaximumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Update_MaximumSet_Gen.json"
          },
          "DefenderSettings_Update_MinimumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DefenderSettings"
        ],
        "operationId": "DefenderSettings_Delete",
        "description": "Deletes a defender setting.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceUriParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "DefenderSettings_Delete_MaximumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Delete_MaximumSet_Gen.json"
          },
          "DefenderSettings_Delete_MinimumSet_Gen": {
            "$ref": "./examples/DefenderSettings_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DefenderSetting": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "The defender setting ID."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The defender setting name."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The defender setting type."
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "type": "object",
          "readOnly": true,
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/systemData"
        }
      },
      "description": "Defender Settings",
      "x-ms-azure-resource": true
    },
    "DefenderSettingList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DefenderSetting"
          },
          "description": "Result of the List DefenderSetting operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if Value contains incomplete list of DefenderSetting."
        }
      },
      "description": "The response of the List DefenderSetting operation"
    }
  },
  "parameters": {
    "ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The fully qualified Azure Resource manager identifier of the resource to be connected.",
      "x-ms-skip-url-encoding": true,
      "x-ms-parameter-location": "method"
    }
  }
}
