{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Resilience management service",
    "version": "2024-03-01-preview",
    "description": "Microsoft.Resilience Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Resilience"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.Resilience/resilienceStates": {
      "get": {
        "operationId": "Resilience_List",
        "tags": [
          "Resilience"
        ],
        "description": "List ResilienceResource resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResilienceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resilience_List": {
            "$ref": "./examples/Resilience_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.Resilience/resilienceStates/{resilienceState}": {
      "get": {
        "operationId": "Resilience_Get",
        "tags": [
          "Resilience"
        ],
        "description": "Get a ResilienceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resilienceState",
            "in": "path",
            "description": "The parent resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ResilienceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Resilience_Get": {
            "$ref": "./examples/Resilience_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Resilience/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ARMResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "string"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state enum",
      "enum": [
        "Provisioning",
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "The resource action is successful."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "The resource action has failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "The resource action has been cancelled."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource provisioning has been accepted."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The resource is being created."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "The resource has been deleted."
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "The resource status is unspecified."
          }
        ]
      },
      "readOnly": true
    },
    "ResilienceProperties": {
      "type": "object",
      "description": "Resilience Properties",
      "properties": {
        "parentResourceId": {
          "$ref": "#/definitions/ARMResourceId",
          "description": "The parent resource id",
          "readOnly": true
        },
        "parentResourceType": {
          "type": "string",
          "description": "The parent resource type",
          "readOnly": true
        },
        "parentResourceLocation": {
          "type": "string",
          "description": "The parent resource location",
          "readOnly": true
        },
        "zoneResilienceState": {
          "$ref": "#/definitions/ZoneResilienceState",
          "description": "Is the resource ZoneAligned, ZoneRedundant, AlwaysAvailable, None",
          "readOnly": true
        },
        "zonesDeployed": {
          "type": "array",
          "description": "Zones where the resource is deployed",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "findings": {
          "type": "array",
          "description": "Findings of the zone resilience evaluation",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "relatedResources": {
          "type": "array",
          "description": "List of related resource Ids",
          "items": {
            "$ref": "#/definitions/ARMResourceId"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "parentResourceId",
        "parentResourceType",
        "parentResourceLocation",
        "findings",
        "relatedResources"
      ]
    },
    "ResilienceResource": {
      "type": "object",
      "description": "Resilience Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ResilienceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ResilienceResourceListResult": {
      "type": "object",
      "description": "The response of a ResilienceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ResilienceResource items on this page",
          "items": {
            "$ref": "#/definitions/ResilienceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-03-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_03_01_preview",
            "value": "2024-03-01-preview",
            "description": "2024-03-01-preview version"
          }
        ]
      }
    },
    "ZoneResilienceState": {
      "type": "string",
      "description": "Availability Zones Resilience state enum",
      "enum": [
        "ZoneAligned",
        "ZoneRedundant",
        "AlwaysAvailable",
        "NotApplicable",
        "NonResilient"
      ],
      "x-ms-enum": {
        "name": "ZoneResilienceState",
        "modelAsString": true,
        "values": [
          {
            "name": "ZoneAligned",
            "value": "ZoneAligned",
            "description": "The resource is zone-aligned."
          },
          {
            "name": "ZoneRedundant",
            "value": "ZoneRedundant",
            "description": "The resource is zone-redundant."
          },
          {
            "name": "AlwaysAvailable",
            "value": "AlwaysAvailable",
            "description": "The resource is always-available."
          },
          {
            "name": "NotApplicable",
            "value": "NotApplicable",
            "description": "The zone resilience state is not-applicable."
          },
          {
            "name": "NonResilient",
            "value": "NonResilient",
            "description": "The resource is non-resilient."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
