{
  "swagger": "2.0",
  "info": {
    "title": "Azure Monitor Cross Tenant Permissions API",
    "version": "2025-06-03-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "CrossTenantPermissionsOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Monitor/crossTenantPermissions/default": {
      "get": {
        "operationId": "CrossTenantPermissionsOperations_Get",
        "tags": [
          "CrossTenantPermissionsOperations"
        ],
        "description": "Gets the Cross Tenant Permissions resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CrossTenantPermissionsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CrossTenantPermissionsOperations_Get_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/CrossTenantPermissionsOperations_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "CrossTenantPermissionsOperations_CreateOrUpdate",
        "tags": [
          "CrossTenantPermissionsOperations"
        ],
        "description": "Creates or updates the Cross Tenant Permissions resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CrossTenantPermissionsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CrossTenantPermissionsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CrossTenantPermissionsResource"
            }
          },
          "201": {
            "description": "Resource 'CrossTenantPermissionsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CrossTenantPermissionsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CrossTenantPermissionsOperations_CreateOrUpdate_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/CrossTenantPermissionsOperations_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "CrossTenantPermissionsOperations_Delete",
        "tags": [
          "CrossTenantPermissionsOperations"
        ],
        "description": "Deletes the Cross Tenant Permissions resource.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CrossTenantPermissionsOperations_Delete_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/CrossTenantPermissionsOperations_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AllowedOutboundTenant": {
      "type": "object",
      "description": "Represents an allowed outbound tenant.",
      "properties": {
        "tenantId": {
          "$ref": "#/definitions/Azure.Core.uuid",
          "description": "The tenant ID that is allowed for outbound monitoring data. The value must be a GUID."
        }
      },
      "required": [
        "tenantId"
      ]
    },
    "Azure.Core.uuid": {
      "type": "string",
      "format": "uuid",
      "description": "Universally Unique Identifier"
    },
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "CrossTenantPermissionEnforcementType": {
      "type": "string",
      "description": "Cross tenant permission enforcement type.",
      "enum": [
        "None",
        "Strict"
      ],
      "x-ms-enum": {
        "name": "CrossTenantPermissionEnforcementType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No enforcement of cross-tenant permissions."
          },
          {
            "name": "Strict",
            "value": "Strict",
            "description": "Strict enforcement of cross-tenant permissions."
          }
        ]
      }
    },
    "CrossTenantPermissionsProperties": {
      "type": "object",
      "description": "The properties for Cross Tenant Permissions.",
      "properties": {
        "allowedOutbound": {
          "type": "array",
          "description": "The list of tenants any Azure resource can send the monitoring data it owns or generates to.",
          "items": {
            "$ref": "#/definitions/AllowedOutboundTenant"
          },
          "x-ms-identifiers": [
            "tenantId"
          ]
        },
        "enforcementType": {
          "$ref": "#/definitions/CrossTenantPermissionEnforcementType",
          "description": "The enforcement type for cross-tenant permissions."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      },
      "required": [
        "allowedOutbound",
        "enforcementType"
      ]
    },
    "CrossTenantPermissionsResource": {
      "type": "object",
      "description": "The resource for Azure Monitor Cross Tenant Permissions, including system data and tags.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CrossTenantPermissionsProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    }
  },
  "parameters": {}
}
