{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "CodeBuildSourceCredentialsInfos"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/codeBuildSourceCredentialsInfos": {
      "get": {
        "operationId": "CodeBuildSourceCredentialsInfos_ListBySubscription",
        "tags": [
          "CodeBuildSourceCredentialsInfos"
        ],
        "description": "List CodeBuildSourceCredentialsInfo resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeBuildSourceCredentialsInfoListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildSourceCredentialsInfos_ListBySubscription": {
            "$ref": "./examples/CodeBuildSourceCredentialsInfos_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/codeBuildSourceCredentialsInfos": {
      "get": {
        "operationId": "CodeBuildSourceCredentialsInfos_ListByResourceGroup",
        "tags": [
          "CodeBuildSourceCredentialsInfos"
        ],
        "description": "List CodeBuildSourceCredentialsInfo resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeBuildSourceCredentialsInfoListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildSourceCredentialsInfos_ListByResourceGroup": {
            "$ref": "./examples/CodeBuildSourceCredentialsInfos_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/codeBuildSourceCredentialsInfos/{name}": {
      "get": {
        "operationId": "CodeBuildSourceCredentialsInfos_Get",
        "tags": [
          "CodeBuildSourceCredentialsInfos"
        ],
        "description": "Get a CodeBuildSourceCredentialsInfo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CodeBuildSourceCredentialsInfo",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeBuildSourceCredentialsInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildSourceCredentialsInfos_Get": {
            "$ref": "./examples/CodeBuildSourceCredentialsInfos_Get.json"
          }
        }
      },
      "put": {
        "operationId": "CodeBuildSourceCredentialsInfos_CreateOrReplace",
        "tags": [
          "CodeBuildSourceCredentialsInfos"
        ],
        "description": "Create a CodeBuildSourceCredentialsInfo. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CodeBuildSourceCredentialsInfo",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeBuildSourceCredentialsInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CodeBuildSourceCredentialsInfo' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeBuildSourceCredentialsInfo"
            }
          },
          "201": {
            "description": "Resource 'CodeBuildSourceCredentialsInfo' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CodeBuildSourceCredentialsInfo"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildSourceCredentialsInfos_CreateOrReplace": {
            "$ref": "./examples/CodeBuildSourceCredentialsInfos_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "CodeBuildSourceCredentialsInfos_Update",
        "tags": [
          "CodeBuildSourceCredentialsInfos"
        ],
        "description": "Update a CodeBuildSourceCredentialsInfo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CodeBuildSourceCredentialsInfo",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CodeBuildSourceCredentialsInfoTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CodeBuildSourceCredentialsInfo"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildSourceCredentialsInfos_Update": {
            "$ref": "./examples/CodeBuildSourceCredentialsInfos_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CodeBuildSourceCredentialsInfos_Delete",
        "tags": [
          "CodeBuildSourceCredentialsInfos"
        ],
        "description": "Delete a CodeBuildSourceCredentialsInfo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of CodeBuildSourceCredentialsInfo",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CodeBuildSourceCredentialsInfos_Delete": {
            "$ref": "./examples/CodeBuildSourceCredentialsInfos_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AuthType": {
      "type": "string",
      "description": "AuthType enum",
      "enum": [
        "BASIC_AUTH",
        "CODECONNECTIONS",
        "OAUTH",
        "PERSONAL_ACCESS_TOKEN"
      ],
      "x-ms-enum": {
        "name": "AuthType",
        "modelAsString": true,
        "values": [
          {
            "name": "BASIC_AUTH",
            "value": "BASIC_AUTH",
            "description": "AuthType enum BASIC_AUTH"
          },
          {
            "name": "CODECONNECTIONS",
            "value": "CODECONNECTIONS",
            "description": "AuthType enum CODECONNECTIONS"
          },
          {
            "name": "OAUTH",
            "value": "OAUTH",
            "description": "AuthType enum OAUTH"
          },
          {
            "name": "PERSONAL_ACCESS_TOKEN",
            "value": "PERSONAL_ACCESS_TOKEN",
            "description": "AuthType enum PERSONAL_ACCESS_TOKEN"
          }
        ]
      }
    },
    "AuthTypeEnumValue": {
      "type": "object",
      "description": "Definition of AuthTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/AuthType",
          "description": "Property value"
        }
      }
    },
    "AwsCodeBuildSourceCredentialsInfoProperties": {
      "type": "object",
      "description": "Definition of awsCodeBuildSourceCredentialsInfo",
      "properties": {
        "arn": {
          "type": "string",
          "description": "<p> The Amazon Resource Name (ARN) of the token. </p>"
        },
        "authType": {
          "$ref": "#/definitions/AuthTypeEnumValue",
          "description": "<p> The type of authentication used by the credentials. Valid options are OAUTH, BASIC_AUTH, PERSONAL_ACCESS_TOKEN, or CODECONNECTIONS. </p>"
        },
        "resource": {
          "type": "string",
          "description": "<p>The connection ARN if your serverType type is GITLAB or GITLAB_SELF_MANAGED and your authType is CODECONNECTIONS.</p>"
        },
        "serverType": {
          "$ref": "#/definitions/ServerTypeEnumValue",
          "description": "<p> The type of source provider. The valid options are GITHUB, GITHUB_ENTERPRISE, GITLAB, GITLAB_SELF_MANAGED, or BITBUCKET. </p>"
        }
      }
    },
    "CodeBuildSourceCredentialsInfo": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeBuildSourceCredentialsInfoProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "CodeBuildSourceCredentialsInfoListResult": {
      "type": "object",
      "description": "The response of a CodeBuildSourceCredentialsInfo list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The CodeBuildSourceCredentialsInfo items on this page",
          "items": {
            "$ref": "#/definitions/CodeBuildSourceCredentialsInfo"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CodeBuildSourceCredentialsInfoProperties": {
      "type": "object",
      "description": "Definition of CodeBuildSourceCredentialsInfo",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsCodeBuildSourceCredentialsInfoProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "CodeBuildSourceCredentialsInfoTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in CodeBuildSourceCredentialsInfo resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ServerType": {
      "type": "string",
      "description": "ServerType enum",
      "enum": [
        "BITBUCKET",
        "GITHUB",
        "GITHUB_ENTERPRISE",
        "GITLAB",
        "GITLAB_SELF_MANAGED"
      ],
      "x-ms-enum": {
        "name": "ServerType",
        "modelAsString": true,
        "values": [
          {
            "name": "BITBUCKET",
            "value": "BITBUCKET",
            "description": "ServerType enum BITBUCKET"
          },
          {
            "name": "GITHUB",
            "value": "GITHUB",
            "description": "ServerType enum GITHUB"
          },
          {
            "name": "GITHUB_ENTERPRISE",
            "value": "GITHUB_ENTERPRISE",
            "description": "ServerType enum GITHUB_ENTERPRISE"
          },
          {
            "name": "GITLAB",
            "value": "GITLAB",
            "description": "ServerType enum GITLAB"
          },
          {
            "name": "GITLAB_SELF_MANAGED",
            "value": "GITLAB_SELF_MANAGED",
            "description": "ServerType enum GITLAB_SELF_MANAGED"
          }
        ]
      }
    },
    "ServerTypeEnumValue": {
      "type": "object",
      "description": "Definition of ServerTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/ServerType",
          "description": "Property value"
        }
      }
    }
  },
  "parameters": {}
}
