{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "DynamoDBTables"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/dynamoDBTables": {
      "get": {
        "operationId": "DynamoDbTables_ListBySubscription",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "List DynamoDBTable resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamoDBTableListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_ListBySubscription": {
            "$ref": "./examples/DynamoDbTables_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/dynamoDBTables": {
      "get": {
        "operationId": "DynamoDbTables_ListByResourceGroup",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "List DynamoDBTable resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamoDBTableListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_ListByResourceGroup": {
            "$ref": "./examples/DynamoDbTables_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/dynamoDBTables/{name}": {
      "get": {
        "operationId": "DynamoDbTables_Get",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "Get a DynamoDBTable",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of DynamoDBTable",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_Get": {
            "$ref": "./examples/DynamoDbTables_Get.json"
          }
        }
      },
      "put": {
        "operationId": "DynamoDbTables_CreateOrReplace",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "Create a DynamoDBTable. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of DynamoDBTable",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DynamoDBTable' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            }
          },
          "201": {
            "description": "Resource 'DynamoDBTable' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_CreateOrReplace": {
            "$ref": "./examples/DynamoDbTables_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DynamoDbTables_Update",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "Update a DynamoDBTable",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of DynamoDBTable",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamoDBTableTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DynamoDBTable"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_Update": {
            "$ref": "./examples/DynamoDbTables_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DynamoDbTables_Delete",
        "tags": [
          "DynamoDBTables"
        ],
        "description": "Delete a DynamoDBTable",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of DynamoDBTable",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DynamoDbTables_Delete": {
            "$ref": "./examples/DynamoDbTables_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AttributeDefinition": {
      "type": "object",
      "description": "Definition of AttributeDefinition",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "A name for the attribute."
        },
        "attributeType": {
          "type": "string",
          "description": "The data type for the attribute, where:  +   ``S`` - the attribute is of type String  +   ``N`` - the attribute is of type Number  +   ``B`` - the attribute is of type Binary"
        }
      }
    },
    "AwsDynamoDBTableProperties": {
      "type": "object",
      "description": "Definition of awsDynamoDBTable",
      "properties": {
        "arn": {
          "type": "string",
          "description": "Property arn"
        },
        "attributeDefinitions": {
          "type": "array",
          "description": "A list of attributes that describe the key schema for the table and indexes. This property is required to create a DDB table. Update requires: [Some interruptions](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-update-behaviors.html#update-some-interrupt). Replacement if you edit an existing AttributeDefinition.",
          "items": {
            "$ref": "#/definitions/AttributeDefinition"
          },
          "x-ms-identifiers": []
        },
        "billingMode": {
          "type": "string",
          "description": "Specify how you are charged for read and write throughput and how you manage capacity. Valid values include:  +   ``PROVISIONED`` - We recommend using ``PROVISIONED`` for predictable workloads. ``PROVISIONED`` sets the billing mode to [Provisioned Mode](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadWriteCapacityMode.html#HowItWorks.ProvisionedThroughput.Manual).  +   ``PAY_PER_REQUEST`` - We recommend using ``PAY_PER_REQUEST`` for unpredictable workloads. ``PAY_PER_REQUEST`` sets the billing mode to [On-Demand Mode](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ReadWriteCapacityMode.html#HowItWorks.OnDemand).   If not specified, the default is ``PROVISIONED``."
        },
        "contributorInsightsSpecification": {
          "$ref": "#/definitions/ContributorInsightsSpecification",
          "description": "The settings used to enable or disable CloudWatch Contributor Insights for the specified table. The settings used to enable or disable CloudWatch Contributor Insights."
        },
        "deletionProtectionEnabled": {
          "type": "boolean",
          "description": "Determines if a table is protected from deletion. When enabled, the table cannot be deleted by any user or process. This setting is disabled by default. For more information, see [Using deletion protection](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/WorkingWithTables.Basics.html#WorkingWithTables.Basics.DeletionProtection) in the *Developer Guide*."
        },
        "globalSecondaryIndexes": {
          "type": "array",
          "description": "Global secondary indexes to be created on the table. You can create up to 20 global secondary indexes.  If you update a table to include a new global secondary index, CFNlong initiates the index creation and then proceeds with the stack update. CFNlong doesn't wait for the index to complete creation because the backfilling phase can take a long time, depending on the size of the table. You can't use the index or update the table until the index's status is ``ACTIVE``. You can track its status by using the DynamoDB [DescribeTable](https://docs.aws.amazon.com/cli/latest/reference/dynamodb/describe-table.html) command. If you add or delete an index during an update, we recommend that you don't update any other resources. If your stack fails to update and is rolled back while adding a new index, you must manually delete the index.  Updates are not supported. The following are exceptions:  +  If you update either the contributor insights specification or the provisioned throughput values of global secondary indexes, you can update the table without interruption.  +  You can delete or add one global secondary index without interruption. If you do both in the same update (for example, by changing the index's logical ID), the update fails.",
          "items": {
            "$ref": "#/definitions/GlobalSecondaryIndex"
          },
          "x-ms-identifiers": []
        },
        "importSourceSpecification": {
          "$ref": "#/definitions/ImportSourceSpecification",
          "description": "Specifies the properties of data being imported from the S3 bucket source to the table.  If you specify the ``ImportSourceSpecification`` property, and also specify either the ``StreamSpecification``, the ``TableClass`` property, or the ``DeletionProtectionEnabled`` property, the IAM entity creating/updating stack must have ``UpdateTable`` permission. Specifies the properties of data being imported from the S3 bucket source to the table."
        },
        "keySchema": {
          "type": "array",
          "description": "Specifies the attributes that make up the primary key for the table. The attributes in the ``KeySchema`` property must also be defined in the ``AttributeDefinitions`` property.",
          "items": {
            "$ref": "#/definitions/KeySchema"
          },
          "x-ms-identifiers": []
        },
        "kinesisStreamSpecification": {
          "$ref": "#/definitions/KinesisStreamSpecification",
          "description": "The Kinesis Data Streams configuration for the specified table. The Kinesis Data Streams configuration for the specified table."
        },
        "localSecondaryIndexes": {
          "type": "array",
          "description": "Local secondary indexes to be created on the table. You can create up to 5 local secondary indexes. Each index is scoped to a given hash key value. The size of each hash key can be up to 10 gigabytes.",
          "items": {
            "$ref": "#/definitions/LocalSecondaryIndex"
          },
          "x-ms-identifiers": []
        },
        "pointInTimeRecoverySpecification": {
          "$ref": "#/definitions/PointInTimeRecoverySpecification",
          "description": "The settings used to enable point in time recovery. The settings used to enable point in time recovery."
        },
        "provisionedThroughput": {
          "$ref": "#/definitions/ProvisionedThroughput",
          "description": "Throughput for the specified table, which consists of values for ``ReadCapacityUnits`` and ``WriteCapacityUnits``. For more information about the contents of a provisioned throughput structure, see [Amazon DynamoDB Table ProvisionedThroughput](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ProvisionedThroughput.html).  If you set ``BillingMode`` as ``PROVISIONED``, you must specify this property. If you set ``BillingMode`` as ``PAY_PER_REQUEST``, you cannot specify this property. Throughput for the specified table, which consists of values for ``ReadCapacityUnits`` and ``WriteCapacityUnits``. For more information about the contents of a provisioned throughput structure, see [Table ProvisionedThroughput](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ProvisionedThroughput.html)."
        },
        "resourcePolicy": {
          "$ref": "#/definitions/ResourcePolicy",
          "description": "A resource-based policy document that contains permissions to add to the specified table. In a CFNshort template, you can provide the policy in JSON or YAML format because CFNshort converts YAML to JSON before submitting it to DDB. For more information about resource-based policies, see [Using resource-based policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html) and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html). When you attach a resource-based policy while creating a table, the policy creation is *strongly consistent*. For information about the considerations that you should keep in mind while attaching a resource-based policy, see [Resource-based policy considerations](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-considerations.html). Creates or updates a resource-based policy document that contains the permissions for DDB resources, such as a table, its indexes, and stream. Resource-based policies let you define access permissions by specifying who has access to each resource, and the actions they are allowed to perform on each resource. In a CFNshort template, you can provide the policy in JSON or YAML format because CFNshort converts YAML to JSON before submitting it to DDB. For more information about resource-based policies, see [Using resource-based policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html) and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html). While defining resource-based policies in your CFNshort templates, the following considerations apply:  +  The maximum size supported for a resource-based policy document in JSON format is 20 KB. DDB counts whitespaces when calculating the size of a policy against this limit.   +  Resource-based policies don't support [drift detection](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html#). If you update a policy outside of the CFNshort stack template, you'll need to update the CFNshort stack with the changes.  +  Resource-based policies don't support out-of-band changes. If you add, update, or delete a policy outside of the CFNshort template, the change won't be overwritten if there are no changes to the policy within the template. For example, say that your template contains a resource-based policy, which you later update outside of the template. If you don't make any changes to the policy in the template, the updated policy in DDB won’t be synced with the policy in the template. Conversely, say that your template doesn’t contain a resource-based policy, but you add a policy outside of the template. This policy won’t be removed from DDB as long as you don’t add it to the template. When you add a policy to the template and update the stack, the existing policy in DDB will be updated to match the one defined in the template.   For a full list of all considerations, see [Resource-based policy considerations](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-considerations.html)."
        },
        "sseSpecification": {
          "$ref": "#/definitions/SSESpecification",
          "description": "Specifies the settings to enable server-side encryption. Represents the settings used to enable server-side encryption."
        },
        "streamArn": {
          "type": "string",
          "description": "Property streamArn"
        },
        "streamSpecification": {
          "$ref": "#/definitions/StreamSpecification",
          "description": "The settings for the DDB table stream, which capture changes to items stored in the table. Represents the DynamoDB Streams configuration for a table in DynamoDB."
        },
        "tableClass": {
          "type": "string",
          "description": "The table class of the new table. Valid values are ``STANDARD`` and ``STANDARD_INFREQUENT_ACCESS``."
        },
        "tableName": {
          "type": "string",
          "description": "A name for the table. If you don't specify a name, CFNlong generates a unique physical ID and uses that ID for the table name. For more information, see [Name Type](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-name.html).  If you specify a name, you cannot perform updates that require replacement of this resource. You can perform updates that require no or some interruption. If you must replace the resource, specify a new name."
        },
        "tags": {
          "type": "array",
          "description": "An array of key-value pairs to apply to this resource. For more information, see [Tag](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-resource-tags.html).",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "timeToLiveSpecification": {
          "$ref": "#/definitions/TimeToLiveSpecification",
          "description": "Specifies the Time to Live (TTL) settings for the table.  For detailed information about the limits in DynamoDB, see [Limits in Amazon DynamoDB](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html) in the Amazon DynamoDB Developer Guide. Represents the settings used to enable or disable Time to Live (TTL) for the specified table."
        }
      }
    },
    "ContributorInsightsSpecification": {
      "type": "object",
      "description": "Definition of ContributorInsightsSpecification",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether CloudWatch Contributor Insights are to be enabled (true) or disabled (false)."
        }
      }
    },
    "Csv": {
      "type": "object",
      "description": "Definition of Csv",
      "properties": {
        "delimiter": {
          "type": "string",
          "description": "The delimiter used for separating items in the CSV file being imported."
        },
        "headerList": {
          "type": "array",
          "description": "List of the headers used to specify a common header for all source CSV files being imported. If this field is specified then the first line of each CSV file is treated as data instead of the header. If this field is not specified the the first line of each CSV file is treated as the header.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DynamoDBTable": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DynamoDBTableProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DynamoDBTableListResult": {
      "type": "object",
      "description": "The response of a DynamoDBTable list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DynamoDBTable items on this page",
          "items": {
            "$ref": "#/definitions/DynamoDBTable"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DynamoDBTableProperties": {
      "type": "object",
      "description": "Definition of DynamoDBTable",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsDynamoDBTableProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "DynamoDBTableTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in DynamoDBTable resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GlobalSecondaryIndex": {
      "type": "object",
      "description": "Definition of GlobalSecondaryIndex",
      "properties": {
        "contributorInsightsSpecification": {
          "$ref": "#/definitions/ContributorInsightsSpecification",
          "description": "The settings used to enable or disable CloudWatch Contributor Insights for the specified global secondary index. The settings used to enable or disable CloudWatch Contributor Insights."
        },
        "indexName": {
          "type": "string",
          "description": "The name of the global secondary index. The name must be unique among all other indexes on this table."
        },
        "keySchema": {
          "type": "array",
          "description": "The complete key schema for a global secondary index, which consists of one or more pairs of attribute names and key types:  +   ``HASH`` - partition key  +   ``RANGE`` - sort key    The partition key of an item is also known as its *hash attribute*. The term 'hash attribute' derives from DynamoDB's usage of an internal hash function to evenly distribute data items across partitions, based on their partition key values. The sort key of an item is also known as its *range attribute*. The term 'range attribute' derives from the way DynamoDB stores items with the same partition key physically close together, in sorted order by the sort key value.",
          "items": {
            "$ref": "#/definitions/KeySchema"
          },
          "x-ms-identifiers": []
        },
        "projection": {
          "$ref": "#/definitions/Projection",
          "description": "Represents attributes that are copied (projected) from the table into the global secondary index. These are in addition to the primary key attributes and index key attributes, which are automatically projected. Represents attributes that are copied (projected) from the table into an index. These are in addition to the primary key attributes and index key attributes, which are automatically projected."
        },
        "provisionedThroughput": {
          "$ref": "#/definitions/ProvisionedThroughput",
          "description": "Represents the provisioned throughput settings for the specified global secondary index. For current minimum and maximum provisioned throughput values, see [Service, Account, and Table Quotas](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Limits.html) in the *Amazon DynamoDB Developer Guide*. Throughput for the specified table, which consists of values for ``ReadCapacityUnits`` and ``WriteCapacityUnits``. For more information about the contents of a provisioned throughput structure, see [Table ProvisionedThroughput](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ProvisionedThroughput.html)."
        }
      }
    },
    "ImportSourceSpecification": {
      "type": "object",
      "description": "Definition of ImportSourceSpecification",
      "properties": {
        "inputCompressionType": {
          "type": "string",
          "description": "Type of compression to be used on the input coming from the imported table."
        },
        "inputFormat": {
          "type": "string",
          "description": "The format of the source data. Valid values for ``ImportFormat`` are ``CSV``, ``DYNAMODB_JSON`` or ``ION``."
        },
        "inputFormatOptions": {
          "$ref": "#/definitions/InputFormatOptions",
          "description": "Additional properties that specify how the input is formatted, The format options for the data that was imported into the target table. There is one value, CsvOption."
        },
        "s3BucketSource": {
          "$ref": "#/definitions/S3BucketSource",
          "description": "The S3 bucket that provides the source for the import. The S3 bucket that is being imported from."
        }
      }
    },
    "InputFormatOptions": {
      "type": "object",
      "description": "Definition of InputFormatOptions",
      "properties": {
        "csv": {
          "$ref": "#/definitions/Csv",
          "description": "The options for imported source files in CSV format. The values are Delimiter and HeaderList. The options for imported source files in CSV format. The values are Delimiter and HeaderList."
        }
      }
    },
    "KeySchema": {
      "type": "object",
      "description": "Definition of KeySchema",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of a key attribute."
        },
        "keyType": {
          "type": "string",
          "description": "The role that this key attribute will assume:  +   ``HASH`` - partition key  +   ``RANGE`` - sort key    The partition key of an item is also known as its *hash attribute*. The term 'hash attribute' derives from DynamoDB's usage of an internal hash function to evenly distribute data items across partitions, based on their partition key values. The sort key of an item is also known as its *range attribute*. The term 'range attribute' derives from the way DynamoDB stores items with the same partition key physically close together, in sorted order by the sort key value."
        }
      }
    },
    "KinesisStreamSpecification": {
      "type": "object",
      "description": "Definition of KinesisStreamSpecification",
      "properties": {
        "approximateCreationDateTimePrecision": {
          "$ref": "#/definitions/KinesisStreamSpecificationApproximateCreationDateTimePrecision",
          "description": "The precision for the time and date that the stream was created."
        },
        "streamArn": {
          "type": "string",
          "description": "The ARN for a specific Kinesis data stream. Length Constraints: Minimum length of 37. Maximum length of 1024."
        }
      }
    },
    "KinesisStreamSpecificationApproximateCreationDateTimePrecision": {
      "type": "string",
      "description": "KinesisStreamSpecificationApproximateCreationDateTimePrecision enum",
      "enum": [
        "MICROSECOND",
        "MILLISECOND"
      ],
      "x-ms-enum": {
        "name": "KinesisStreamSpecificationApproximateCreationDateTimePrecision",
        "modelAsString": true,
        "values": [
          {
            "name": "MICROSECOND",
            "value": "MICROSECOND",
            "description": "KinesisStreamSpecificationApproximateCreationDateTimePrecision enum MICROSECOND"
          },
          {
            "name": "MILLISECOND",
            "value": "MILLISECOND",
            "description": "KinesisStreamSpecificationApproximateCreationDateTimePrecision enum MILLISECOND"
          }
        ]
      }
    },
    "LocalSecondaryIndex": {
      "type": "object",
      "description": "Definition of LocalSecondaryIndex",
      "properties": {
        "indexName": {
          "type": "string",
          "description": "The name of the local secondary index. The name must be unique among all other indexes on this table."
        },
        "keySchema": {
          "type": "array",
          "description": "The complete key schema for the local secondary index, consisting of one or more pairs of attribute names and key types:  +   ``HASH`` - partition key  +   ``RANGE`` - sort key    The partition key of an item is also known as its *hash attribute*. The term 'hash attribute' derives from DynamoDB's usage of an internal hash function to evenly distribute data items across partitions, based on their partition key values. The sort key of an item is also known as its *range attribute*. The term 'range attribute' derives from the way DynamoDB stores items with the same partition key physically close together, in sorted order by the sort key value.",
          "items": {
            "$ref": "#/definitions/KeySchema"
          },
          "x-ms-identifiers": []
        },
        "projection": {
          "$ref": "#/definitions/Projection",
          "description": "Represents attributes that are copied (projected) from the table into the local secondary index. These are in addition to the primary key attributes and index key attributes, which are automatically projected. Represents attributes that are copied (projected) from the table into an index. These are in addition to the primary key attributes and index key attributes, which are automatically projected."
        }
      }
    },
    "PointInTimeRecoverySpecification": {
      "type": "object",
      "description": "Definition of PointInTimeRecoverySpecification",
      "properties": {
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "Indicates whether point in time recovery is enabled (true) or disabled (false) on the table."
        }
      }
    },
    "Projection": {
      "type": "object",
      "description": "Definition of Projection",
      "properties": {
        "nonKeyAttributes": {
          "type": "array",
          "description": "Represents the non-key attribute names which will be projected into the index. For local secondary indexes, the total count of ``NonKeyAttributes`` summed across all of the local secondary indexes, must not exceed 100. If you project the same attribute into two different indexes, this counts as two distinct attributes when determining the total.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "projectionType": {
          "type": "string",
          "description": "The set of attributes that are projected into the index:  +   ``KEYS_ONLY`` - Only the index and primary keys are projected into the index.  +   ``INCLUDE`` - In addition to the attributes described in ``KEYS_ONLY``, the secondary index will include other non-key attributes that you specify.  +   ``ALL`` - All of the table attributes are projected into the index.   When using the DynamoDB console, ``ALL`` is selected by default."
        }
      }
    },
    "ProvisionedThroughput": {
      "type": "object",
      "description": "Definition of ProvisionedThroughput",
      "properties": {
        "readCapacityUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of strongly consistent reads consumed per second before DynamoDB returns a ``ThrottlingException``. For more information, see [Specifying Read and Write Requirements](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html) in the *Amazon DynamoDB Developer Guide*. If read/write capacity mode is ``PAY_PER_REQUEST`` the value is set to 0."
        },
        "writeCapacityUnits": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of writes consumed per second before DynamoDB returns a ``ThrottlingException``. For more information, see [Specifying Read and Write Requirements](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ProvisionedThroughput.html) in the *Amazon DynamoDB Developer Guide*. If read/write capacity mode is ``PAY_PER_REQUEST`` the value is set to 0."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ResourcePolicy": {
      "type": "object",
      "description": "Definition of ResourcePolicy",
      "properties": {
        "policyDocument": {
          "description": "A resource-based policy document that contains permissions to add to the specified DDB table, index, or both. In a CFNshort template, you can provide the policy in JSON or YAML format because CFNshort converts YAML to JSON before submitting it to DDB. For more information about resource-based policies, see [Using resource-based policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html) and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html)."
        }
      }
    },
    "S3BucketSource": {
      "type": "object",
      "description": "Definition of S3BucketSource",
      "properties": {
        "s3Bucket": {
          "type": "string",
          "description": "The S3 bucket that is being imported from."
        },
        "s3BucketOwner": {
          "type": "string",
          "description": "The account number of the S3 bucket that is being imported from. If the bucket is owned by the requester this is optional."
        },
        "s3KeyPrefix": {
          "type": "string",
          "description": "The key prefix shared by all S3 Objects that are being imported."
        }
      }
    },
    "SSESpecification": {
      "type": "object",
      "description": "Definition of SSESpecification",
      "properties": {
        "kmsMasterKeyId": {
          "type": "string",
          "description": "The KMS key that should be used for the KMS encryption. To specify a key, use its key ID, Amazon Resource Name (ARN), alias name, or alias ARN. Note that you should only provide this parameter if the key is different from the default DynamoDB key ``alias/aws/dynamodb``."
        },
        "sseEnabled": {
          "type": "boolean",
          "description": "Indicates whether server-side encryption is done using an AWS managed key or an AWS owned key. If enabled (true), server-side encryption type is set to ``KMS`` and an AWS managed key is used (KMS charges apply). If disabled (false) or not specified, server-side encryption is set to AWS owned key."
        },
        "sseType": {
          "type": "string",
          "description": "Server-side encryption type. The only supported value is:  +   ``KMS`` - Server-side encryption that uses KMSlong. The key is stored in your account and is managed by KMS (KMS charges apply)."
        }
      }
    },
    "StreamSpecification": {
      "type": "object",
      "description": "Definition of StreamSpecification",
      "properties": {
        "resourcePolicy": {
          "$ref": "#/definitions/ResourcePolicy",
          "description": "Creates or updates a resource-based policy document that contains the permissions for DDB resources, such as a table's streams. Resource-based policies let you define access permissions by specifying who has access to each resource, and the actions they are allowed to perform on each resource. In a CFNshort template, you can provide the policy in JSON or YAML format because CFNshort converts YAML to JSON before submitting it to DDB. For more information about resource-based policies, see [Using resource-based policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html) and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html). Creates or updates a resource-based policy document that contains the permissions for DDB resources, such as a table, its indexes, and stream. Resource-based policies let you define access permissions by specifying who has access to each resource, and the actions they are allowed to perform on each resource. In a CFNshort template, you can provide the policy in JSON or YAML format because CFNshort converts YAML to JSON before submitting it to DDB. For more information about resource-based policies, see [Using resource-based policies for](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/access-control-resource-based.html) and [Resource-based policy examples](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-examples.html). While defining resource-based policies in your CFNshort templates, the following considerations apply:  +  The maximum size supported for a resource-based policy document in JSON format is 20 KB. DDB counts whitespaces when calculating the size of a policy against this limit.   +  Resource-based policies don't support [drift detection](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html#). If you update a policy outside of the CFNshort stack template, you'll need to update the CFNshort stack with the changes.  +  Resource-based policies don't support out-of-band changes. If you add, update, or delete a policy outside of the CFNshort template, the change won't be overwritten if there are no changes to the policy within the template. For example, say that your template contains a resource-based policy, which you later update outside of the template. If you don't make any changes to the policy in the template, the updated policy in DDB won’t be synced with the policy in the template. Conversely, say that your template doesn’t contain a resource-based policy, but you add a policy outside of the template. This policy won’t be removed from DDB as long as you don’t add it to the template. When you add a policy to the template and update the stack, the existing policy in DDB will be updated to match the one defined in the template.   For a full list of all considerations, see [Resource-based policy considerations](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/rbac-considerations.html)."
        },
        "streamViewType": {
          "type": "string",
          "description": "When an item in the table is modified, ``StreamViewType`` determines what information is written to the stream for this table. Valid values for ``StreamViewType`` are:  +   ``KEYS_ONLY`` - Only the key attributes of the modified item are written to the stream.  +   ``NEW_IMAGE`` - The entire item, as it appears after it was modified, is written to the stream.  +   ``OLD_IMAGE`` - The entire item, as it appeared before it was modified, is written to the stream.  +   ``NEW_AND_OLD_IMAGES`` - Both the new and the old item images of the item are written to the stream."
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the tag. Tag keys are case sensitive. Each DynamoDB table can only have up to one tag with the same key. If you try to add an existing tag (same key), the existing tag value will be updated to the new value."
        },
        "value": {
          "type": "string",
          "description": "The value of the tag. Tag values are case-sensitive and can be null."
        }
      }
    },
    "TimeToLiveSpecification": {
      "type": "object",
      "description": "Definition of TimeToLiveSpecification",
      "properties": {
        "attributeName": {
          "type": "string",
          "description": "The name of the TTL attribute used to store the expiration time for items in the table.   +  The ``AttributeName`` property is required when enabling the TTL, or when TTL is already enabled.  +  To update this property, you must first disable TTL and then enable TTL with the new attribute name."
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether TTL is to be enabled (true) or disabled (false) on the table."
        }
      }
    }
  },
  "parameters": {}
}
