{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Ec2InstanceTypeInfos"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2InstanceTypeInfos": {
      "get": {
        "operationId": "Ec2InstanceTypeInfos_ListBySubscription",
        "tags": [
          "Ec2InstanceTypeInfos"
        ],
        "description": "List Ec2InstanceTypeInfo resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2InstanceTypeInfoListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2InstanceTypeInfos_ListBySubscription": {
            "$ref": "./examples/Ec2InstanceTypeInfos_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2InstanceTypeInfos": {
      "get": {
        "operationId": "Ec2InstanceTypeInfos_ListByResourceGroup",
        "tags": [
          "Ec2InstanceTypeInfos"
        ],
        "description": "List Ec2InstanceTypeInfo resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2InstanceTypeInfoListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2InstanceTypeInfos_ListByResourceGroup": {
            "$ref": "./examples/Ec2InstanceTypeInfos_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2InstanceTypeInfos/{name}": {
      "get": {
        "operationId": "Ec2InstanceTypeInfos_Get",
        "tags": [
          "Ec2InstanceTypeInfos"
        ],
        "description": "Get a Ec2InstanceTypeInfo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2InstanceTypeInfo",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2InstanceTypeInfo"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2InstanceTypeInfos_Get": {
            "$ref": "./examples/Ec2InstanceTypeInfos_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Ec2InstanceTypeInfos_CreateOrUpdate",
        "tags": [
          "Ec2InstanceTypeInfos"
        ],
        "description": "Create a Ec2InstanceTypeInfo. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2InstanceTypeInfo",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Ec2InstanceTypeInfo"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Ec2InstanceTypeInfo' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Ec2InstanceTypeInfo"
            }
          },
          "201": {
            "description": "Resource 'Ec2InstanceTypeInfo' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Ec2InstanceTypeInfo"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2InstanceTypeInfos_CreateOrUpdate": {
            "$ref": "./examples/Ec2InstanceTypeInfos_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Ec2InstanceTypeInfos_Update",
        "tags": [
          "Ec2InstanceTypeInfos"
        ],
        "description": "Update a Ec2InstanceTypeInfo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2InstanceTypeInfo",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Ec2InstanceTypeInfoTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2InstanceTypeInfo"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2InstanceTypeInfos_Update": {
            "$ref": "./examples/Ec2InstanceTypeInfos_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Ec2InstanceTypeInfos_Delete",
        "tags": [
          "Ec2InstanceTypeInfos"
        ],
        "description": "Delete a Ec2InstanceTypeInfo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2InstanceTypeInfo",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2InstanceTypeInfos_Delete": {
            "$ref": "./examples/Ec2InstanceTypeInfos_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ArchitectureType": {
      "type": "string",
      "description": "ArchitectureType enum",
      "enum": [
        "arm64",
        "arm64_mac",
        "i386",
        "x86_64",
        "x86_64_mac"
      ],
      "x-ms-enum": {
        "name": "ArchitectureType",
        "modelAsString": true,
        "values": [
          {
            "name": "Arm64",
            "value": "arm64",
            "description": "ArchitectureType enum arm64"
          },
          {
            "name": "Arm64_mac",
            "value": "arm64_mac",
            "description": "ArchitectureType enum arm64_mac"
          },
          {
            "name": "I386",
            "value": "i386",
            "description": "ArchitectureType enum i386"
          },
          {
            "name": "X86_64",
            "value": "x86_64",
            "description": "ArchitectureType enum x86_64"
          },
          {
            "name": "X86_64_mac",
            "value": "x86_64_mac",
            "description": "ArchitectureType enum x86_64_mac"
          }
        ]
      }
    },
    "ArchitectureTypeEnumValue": {
      "type": "object",
      "description": "Definition of ArchitectureTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/ArchitectureType",
          "description": "Property value"
        }
      }
    },
    "AwsEc2InstanceTypeInfoProperties": {
      "type": "object",
      "description": "Definition of awsEc2InstanceTypeInfo",
      "properties": {
        "autoRecoverySupported": {
          "type": "boolean",
          "description": "<p>Indicates whether Amazon CloudWatch action based recovery is supported.</p>"
        },
        "bareMetal": {
          "type": "boolean",
          "description": "<p>Indicates whether the instance is a bare metal instance type.</p>"
        },
        "burstablePerformanceSupported": {
          "type": "boolean",
          "description": "<p>Indicates whether the instance type is a burstable performance T instance type. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/burstable-performance-instances.html'>Burstable performance instances</a>.</p>"
        },
        "currentGeneration": {
          "type": "boolean",
          "description": "<p>Indicates whether the instance type is current generation.</p>"
        },
        "dedicatedHostsSupported": {
          "type": "boolean",
          "description": "<p>Indicates whether Dedicated Hosts are supported on the instance type.</p>"
        },
        "ebsInfo": {
          "$ref": "#/definitions/EbsInfo",
          "description": "<p>Describes the Amazon EBS settings for the instance type.</p>"
        },
        "fpgaInfo": {
          "$ref": "#/definitions/FpgaInfo",
          "description": "<p>Describes the FPGA accelerator settings for the instance type.</p>"
        },
        "freeTierEligible": {
          "type": "boolean",
          "description": "<p>Indicates whether the instance type is eligible for the free tier.</p>"
        },
        "gpuInfo": {
          "$ref": "#/definitions/GpuInfo",
          "description": "<p>Describes the GPU accelerator settings for the instance type.</p>"
        },
        "hibernationSupported": {
          "type": "boolean",
          "description": "<p>Indicates whether On-Demand hibernation is supported.</p>"
        },
        "hypervisor": {
          "$ref": "#/definitions/InstanceTypeHypervisorEnumValue",
          "description": "<p>The hypervisor for the instance type.</p>"
        },
        "inferenceAcceleratorInfo": {
          "$ref": "#/definitions/InferenceAcceleratorInfo",
          "description": "<p>Describes the Inference accelerator settings for the instance type.</p>"
        },
        "instanceStorageInfo": {
          "$ref": "#/definitions/InstanceStorageInfo",
          "description": "<p>Describes the instance storage for the instance type.</p>"
        },
        "instanceStorageSupported": {
          "type": "boolean",
          "description": "<p>Indicates whether instance storage is supported.</p>"
        },
        "instanceType": {
          "$ref": "#/definitions/InstanceTypeEnumValue",
          "description": "<p>The instance type. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html'>Instance types</a> in the <i>Amazon EC2 User Guide</i>.</p>"
        },
        "mediaAcceleratorInfo": {
          "$ref": "#/definitions/MediaAcceleratorInfo",
          "description": "<p>Describes the media accelerator settings for the instance type.</p>"
        },
        "memoryInfo": {
          "$ref": "#/definitions/MemoryInfo",
          "description": "<p>Describes the memory for the instance type.</p>"
        },
        "networkInfo": {
          "$ref": "#/definitions/NetworkInfo",
          "description": "<p>Describes the network settings for the instance type.</p>"
        },
        "neuronInfo": {
          "$ref": "#/definitions/NeuronInfo",
          "description": "<p>Describes the Neuron accelerator settings for the instance type.</p>"
        },
        "nitroEnclavesSupport": {
          "$ref": "#/definitions/NitroEnclavesSupportEnumValue",
          "description": "<p>Indicates whether Nitro Enclaves is supported.</p>"
        },
        "nitroTpmInfo": {
          "$ref": "#/definitions/NitroTpmInfo",
          "description": "<p>Describes the supported NitroTPM versions for the instance type.</p>"
        },
        "nitroTpmSupport": {
          "$ref": "#/definitions/NitroTpmSupportEnumValue",
          "description": "<p>Indicates whether NitroTPM is supported.</p>"
        },
        "placementGroupInfo": {
          "$ref": "#/definitions/PlacementGroupInfo",
          "description": "<p>Describes the placement group settings for the instance type.</p>"
        },
        "processorInfo": {
          "$ref": "#/definitions/ProcessorInfo",
          "description": "<p>Describes the processor.</p>"
        },
        "supportedBootModes": {
          "type": "array",
          "description": "<p>The supported boot modes. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ami-boot.html'>Boot modes</a> in the <i>Amazon EC2 User Guide</i>.</p>",
          "items": {
            "$ref": "#/definitions/BootModeType"
          },
          "x-ms-identifiers": []
        },
        "supportedRootDeviceTypes": {
          "type": "array",
          "description": "<p>The supported root device types.</p>",
          "items": {
            "$ref": "#/definitions/RootDeviceType"
          },
          "x-ms-identifiers": []
        },
        "supportedUsageClasses": {
          "type": "array",
          "description": "<p>Indicates whether the instance type is offered for spot or On-Demand.</p>",
          "items": {
            "$ref": "#/definitions/UsageClassType"
          },
          "x-ms-identifiers": []
        },
        "supportedVirtualizationTypes": {
          "type": "array",
          "description": "<p>The supported virtualization types.</p>",
          "items": {
            "$ref": "#/definitions/VirtualizationType"
          },
          "x-ms-identifiers": []
        },
        "vCpuInfo": {
          "$ref": "#/definitions/VCpuInfo",
          "description": "<p>Describes the vCPU configurations for the instance type.</p>"
        }
      }
    },
    "BootModeType": {
      "type": "string",
      "description": "BootModeType enum",
      "enum": [
        "legacy-bios",
        "uefi"
      ],
      "x-ms-enum": {
        "name": "BootModeType",
        "modelAsString": true,
        "values": [
          {
            "name": "LegacyBios",
            "value": "legacy-bios",
            "description": "BootModeType enum legacy-bios"
          },
          {
            "name": "Uefi",
            "value": "uefi",
            "description": "BootModeType enum uefi"
          }
        ]
      }
    },
    "BootModeTypeEnumValue": {
      "type": "object",
      "description": "Definition of BootModeTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/BootModeType",
          "description": "Property value"
        }
      }
    },
    "CoreCount": {
      "type": "object",
      "description": "Definition of CoreCount"
    },
    "DiskInfo": {
      "type": "object",
      "description": "Definition of DiskInfo",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The number of disks with this configuration.</p>"
        },
        "sizeInGB": {
          "type": "integer",
          "format": "int64",
          "description": "<p>The size of the disk in GB.</p>"
        },
        "type": {
          "$ref": "#/definitions/DiskTypeEnumValue",
          "description": "<p>The type of disk.</p>"
        }
      }
    },
    "DiskType": {
      "type": "string",
      "description": "DiskType enum",
      "enum": [
        "hdd",
        "ssd"
      ],
      "x-ms-enum": {
        "name": "DiskType",
        "modelAsString": true,
        "values": [
          {
            "name": "Hdd",
            "value": "hdd",
            "description": "DiskType enum hdd"
          },
          {
            "name": "Ssd",
            "value": "ssd",
            "description": "DiskType enum ssd"
          }
        ]
      }
    },
    "DiskTypeEnumValue": {
      "type": "object",
      "description": "Definition of DiskTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/DiskType",
          "description": "Property value"
        }
      }
    },
    "EbsEncryptionSupport": {
      "type": "string",
      "description": "EbsEncryptionSupport enum",
      "enum": [
        "supported",
        "unsupported"
      ],
      "x-ms-enum": {
        "name": "EbsEncryptionSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "Supported",
            "value": "supported",
            "description": "EbsEncryptionSupport enum supported"
          },
          {
            "name": "Unsupported",
            "value": "unsupported",
            "description": "EbsEncryptionSupport enum unsupported"
          }
        ]
      }
    },
    "EbsEncryptionSupportEnumValue": {
      "type": "object",
      "description": "Definition of EbsEncryptionSupportEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/EbsEncryptionSupport",
          "description": "Property value"
        }
      }
    },
    "EbsInfo": {
      "type": "object",
      "description": "Definition of EbsInfo",
      "properties": {
        "ebsOptimizedInfo": {
          "$ref": "#/definitions/EbsOptimizedInfo",
          "description": "<p>Describes the optimized EBS performance for the instance type.</p>"
        },
        "ebsOptimizedSupport": {
          "$ref": "#/definitions/EbsOptimizedSupportEnumValue",
          "description": "<p>Indicates whether the instance type is Amazon EBS-optimized. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html'>Amazon EBS-optimized instances</a> in <i>Amazon EC2 User Guide</i>.</p>"
        },
        "encryptionSupport": {
          "$ref": "#/definitions/EbsEncryptionSupportEnumValue",
          "description": "<p>Indicates whether Amazon EBS encryption is supported.</p>"
        },
        "nvmeSupport": {
          "$ref": "#/definitions/EbsNvmeSupportEnumValue",
          "description": "<p>Indicates whether non-volatile memory express (NVMe) is supported.</p>"
        }
      }
    },
    "EbsNvmeSupport": {
      "type": "string",
      "description": "EbsNvmeSupport enum",
      "enum": [
        "required",
        "supported",
        "unsupported"
      ],
      "x-ms-enum": {
        "name": "EbsNvmeSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "Required",
            "value": "required",
            "description": "EbsNvmeSupport enum required"
          },
          {
            "name": "Supported",
            "value": "supported",
            "description": "EbsNvmeSupport enum supported"
          },
          {
            "name": "Unsupported",
            "value": "unsupported",
            "description": "EbsNvmeSupport enum unsupported"
          }
        ]
      }
    },
    "EbsNvmeSupportEnumValue": {
      "type": "object",
      "description": "Definition of EbsNvmeSupportEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/EbsNvmeSupport",
          "description": "Property value"
        }
      }
    },
    "EbsOptimizedInfo": {
      "type": "object",
      "description": "Definition of EbsOptimizedInfo",
      "properties": {
        "baselineBandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The baseline bandwidth performance for an EBS-optimized instance type, in Mbps.</p>"
        },
        "baselineIops": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The baseline input/output storage operations per seconds for an EBS-optimized instance type.</p>"
        },
        "baselineThroughputInMBps": {
          "type": "number",
          "format": "double",
          "description": "<p>The baseline throughput performance for an EBS-optimized instance type, in MB/s.</p>"
        },
        "maximumBandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The maximum bandwidth performance for an EBS-optimized instance type, in Mbps.</p>"
        },
        "maximumIops": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The maximum input/output storage operations per second for an EBS-optimized instance type.</p>"
        },
        "maximumThroughputInMBps": {
          "type": "number",
          "format": "double",
          "description": "<p>The maximum throughput performance for an EBS-optimized instance type, in MB/s.</p>"
        }
      }
    },
    "EbsOptimizedSupport": {
      "type": "string",
      "description": "EbsOptimizedSupport enum",
      "enum": [
        "default",
        "supported",
        "unsupported"
      ],
      "x-ms-enum": {
        "name": "EbsOptimizedSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "default",
            "description": "EbsOptimizedSupport enum default"
          },
          {
            "name": "Supported",
            "value": "supported",
            "description": "EbsOptimizedSupport enum supported"
          },
          {
            "name": "Unsupported",
            "value": "unsupported",
            "description": "EbsOptimizedSupport enum unsupported"
          }
        ]
      }
    },
    "EbsOptimizedSupportEnumValue": {
      "type": "object",
      "description": "Definition of EbsOptimizedSupportEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/EbsOptimizedSupport",
          "description": "Property value"
        }
      }
    },
    "Ec2InstanceTypeInfo": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Ec2InstanceTypeInfoProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Ec2InstanceTypeInfoListResult": {
      "type": "object",
      "description": "The response of a Ec2InstanceTypeInfo list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Ec2InstanceTypeInfo items on this page",
          "items": {
            "$ref": "#/definitions/Ec2InstanceTypeInfo"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Ec2InstanceTypeInfoProperties": {
      "type": "object",
      "description": "Definition of Ec2InstanceTypeInfo",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEc2InstanceTypeInfoProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Ec2InstanceTypeInfoTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Ec2InstanceTypeInfo resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EfaInfo": {
      "type": "object",
      "description": "Definition of EfaInfo",
      "properties": {
        "maximumEfaInterfaces": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The maximum number of Elastic Fabric Adapters for the instance type.</p>"
        }
      }
    },
    "EnaSupport": {
      "type": "string",
      "description": "EnaSupport enum",
      "enum": [
        "required",
        "supported",
        "unsupported"
      ],
      "x-ms-enum": {
        "name": "EnaSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "Required",
            "value": "required",
            "description": "EnaSupport enum required"
          },
          {
            "name": "Supported",
            "value": "supported",
            "description": "EnaSupport enum supported"
          },
          {
            "name": "Unsupported",
            "value": "unsupported",
            "description": "EnaSupport enum unsupported"
          }
        ]
      }
    },
    "EnaSupportEnumValue": {
      "type": "object",
      "description": "Definition of EnaSupportEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/EnaSupport",
          "description": "Property value"
        }
      }
    },
    "EphemeralNvmeSupport": {
      "type": "string",
      "description": "EphemeralNvmeSupport enum",
      "enum": [
        "required",
        "supported",
        "unsupported"
      ],
      "x-ms-enum": {
        "name": "EphemeralNvmeSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "Required",
            "value": "required",
            "description": "EphemeralNvmeSupport enum required"
          },
          {
            "name": "Supported",
            "value": "supported",
            "description": "EphemeralNvmeSupport enum supported"
          },
          {
            "name": "Unsupported",
            "value": "unsupported",
            "description": "EphemeralNvmeSupport enum unsupported"
          }
        ]
      }
    },
    "EphemeralNvmeSupportEnumValue": {
      "type": "object",
      "description": "Definition of EphemeralNvmeSupportEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/EphemeralNvmeSupport",
          "description": "Property value"
        }
      }
    },
    "FpgaDeviceInfo": {
      "type": "object",
      "description": "Definition of FpgaDeviceInfo",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The count of FPGA accelerators for the instance type.</p>"
        },
        "manufacturer": {
          "type": "string",
          "description": "<p>The manufacturer of the FPGA accelerator.</p>"
        },
        "memoryInfo": {
          "$ref": "#/definitions/FpgaDeviceMemoryInfo",
          "description": "<p>Describes the memory for the FPGA accelerator for the instance type.</p>"
        },
        "name": {
          "type": "string",
          "description": "<p>The name of the FPGA accelerator.</p>"
        }
      }
    },
    "FpgaDeviceMemoryInfo": {
      "type": "object",
      "description": "Definition of FpgaDeviceMemoryInfo",
      "properties": {
        "sizeInMiB": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The size of the memory available to the FPGA accelerator, in MiB.</p>"
        }
      }
    },
    "FpgaInfo": {
      "type": "object",
      "description": "Definition of FpgaInfo",
      "properties": {
        "fpgas": {
          "type": "array",
          "description": "<p>Describes the FPGAs for the instance type.</p>",
          "items": {
            "$ref": "#/definitions/FpgaDeviceInfo"
          },
          "x-ms-identifiers": []
        },
        "totalFpgaMemoryInMiB": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The total memory of all FPGA accelerators for the instance type.</p>"
        }
      }
    },
    "GpuDeviceInfo": {
      "type": "object",
      "description": "Definition of GpuDeviceInfo",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The number of GPUs for the instance type.</p>"
        },
        "manufacturer": {
          "type": "string",
          "description": "<p>The manufacturer of the GPU accelerator.</p>"
        },
        "memoryInfo": {
          "$ref": "#/definitions/GpuDeviceMemoryInfo",
          "description": "<p>Describes the memory available to the GPU accelerator.</p>"
        },
        "name": {
          "type": "string",
          "description": "<p>The name of the GPU accelerator.</p>"
        }
      }
    },
    "GpuDeviceMemoryInfo": {
      "type": "object",
      "description": "Definition of GpuDeviceMemoryInfo",
      "properties": {
        "sizeInMiB": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The size of the memory available to the GPU accelerator, in MiB.</p>"
        }
      }
    },
    "GpuInfo": {
      "type": "object",
      "description": "Definition of GpuInfo",
      "properties": {
        "gpus": {
          "type": "array",
          "description": "<p>Describes the GPU accelerators for the instance type.</p>",
          "items": {
            "$ref": "#/definitions/GpuDeviceInfo"
          },
          "x-ms-identifiers": []
        },
        "totalGpuMemoryInMiB": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The total size of the memory for the GPU accelerators for the instance type, in MiB.</p>"
        }
      }
    },
    "InferenceAcceleratorInfo": {
      "type": "object",
      "description": "Definition of InferenceAcceleratorInfo",
      "properties": {
        "accelerators": {
          "type": "array",
          "description": "<p>Describes the Inference accelerators for the instance type.</p>",
          "items": {
            "$ref": "#/definitions/InferenceDeviceInfo"
          },
          "x-ms-identifiers": []
        },
        "totalInferenceMemoryInMiB": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The total size of the memory for the inference accelerators for the instance type, in MiB.</p>"
        }
      }
    },
    "InferenceDeviceInfo": {
      "type": "object",
      "description": "Definition of InferenceDeviceInfo",
      "properties": {
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The number of Inference accelerators for the instance type.</p>"
        },
        "manufacturer": {
          "type": "string",
          "description": "<p>The manufacturer of the Inference accelerator.</p>"
        },
        "memoryInfo": {
          "$ref": "#/definitions/InferenceDeviceMemoryInfo",
          "description": "<p>Describes the memory available to the inference accelerator.</p>"
        },
        "name": {
          "type": "string",
          "description": "<p>The name of the Inference accelerator.</p>"
        }
      }
    },
    "InferenceDeviceMemoryInfo": {
      "type": "object",
      "description": "Definition of InferenceDeviceMemoryInfo",
      "properties": {
        "sizeInMiB": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The size of the memory available to the inference accelerator, in MiB.</p>"
        }
      }
    },
    "InstanceStorageEncryptionSupport": {
      "type": "string",
      "description": "InstanceStorageEncryptionSupport enum",
      "enum": [
        "required",
        "unsupported"
      ],
      "x-ms-enum": {
        "name": "InstanceStorageEncryptionSupport",
        "modelAsString": true,
        "values": [
          {
            "name": "Required",
            "value": "required",
            "description": "InstanceStorageEncryptionSupport enum required"
          },
          {
            "name": "Unsupported",
            "value": "unsupported",
            "description": "InstanceStorageEncryptionSupport enum unsupported"
          }
        ]
      }
    },
    "InstanceStorageEncryptionSupportEnumValue": {
      "type": "object",
      "description": "Definition of InstanceStorageEncryptionSupportEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/InstanceStorageEncryptionSupport",
          "description": "Property value"
        }
      }
    },
    "InstanceStorageInfo": {
      "type": "object",
      "description": "Definition of InstanceStorageInfo",
      "properties": {
        "disks": {
          "type": "array",
          "description": "<p>Describes the disks that are available for the instance type.</p>",
          "items": {
            "$ref": "#/definitions/DiskInfo"
          },
          "x-ms-identifiers": []
        },
        "encryptionSupport": {
          "$ref": "#/definitions/InstanceStorageEncryptionSupportEnumValue",
          "description": "<p>Indicates whether data is encrypted at rest.</p>"
        },
        "nvmeSupport": {
          "$ref": "#/definitions/EphemeralNvmeSupportEnumValue",
          "description": "<p>Indicates whether non-volatile memory express (NVMe) is supported.</p>"
        },
        "totalSizeInGB": {
          "type": "integer",
          "format": "int64",
          "description": "<p>The total size of the disks, in GB.</p>"
        }
      }
    },
    "InstanceType": {
      "type": "string",
      "description": "InstanceType enum",
      "enum": [
        "a1.2xlarge",
        "a1.4xlarge",
        "a1.large",
        "a1.medium",
        "a1.metal",
        "a1.xlarge",
        "c1.medium",
        "c1.xlarge",
        "c3.2xlarge",
        "c3.4xlarge",
        "c3.8xlarge",
        "c3.large",
        "c3.xlarge",
        "c4.2xlarge",
        "c4.4xlarge",
        "c4.8xlarge",
        "c4.large",
        "c4.xlarge",
        "c5.12xlarge",
        "c5.18xlarge",
        "c5.24xlarge",
        "c5.2xlarge",
        "c5.4xlarge",
        "c5.9xlarge",
        "c5.large",
        "c5.metal",
        "c5.xlarge",
        "c5a.12xlarge",
        "c5a.16xlarge",
        "c5a.24xlarge",
        "c5a.2xlarge",
        "c5a.4xlarge",
        "c5a.8xlarge",
        "c5a.large",
        "c5a.xlarge",
        "c5ad.12xlarge",
        "c5ad.16xlarge",
        "c5ad.24xlarge",
        "c5ad.2xlarge",
        "c5ad.4xlarge",
        "c5ad.8xlarge",
        "c5ad.large",
        "c5ad.xlarge",
        "c5d.12xlarge",
        "c5d.18xlarge",
        "c5d.24xlarge",
        "c5d.2xlarge",
        "c5d.4xlarge",
        "c5d.9xlarge",
        "c5d.large",
        "c5d.metal",
        "c5d.xlarge",
        "c5n.18xlarge",
        "c5n.2xlarge",
        "c5n.4xlarge",
        "c5n.9xlarge",
        "c5n.large",
        "c5n.metal",
        "c5n.xlarge",
        "c6a.12xlarge",
        "c6a.16xlarge",
        "c6a.24xlarge",
        "c6a.2xlarge",
        "c6a.32xlarge",
        "c6a.48xlarge",
        "c6a.4xlarge",
        "c6a.8xlarge",
        "c6a.large",
        "c6a.metal",
        "c6a.xlarge",
        "c6g.12xlarge",
        "c6g.16xlarge",
        "c6g.2xlarge",
        "c6g.4xlarge",
        "c6g.8xlarge",
        "c6g.large",
        "c6g.medium",
        "c6g.metal",
        "c6g.xlarge",
        "c6gd.12xlarge",
        "c6gd.16xlarge",
        "c6gd.2xlarge",
        "c6gd.4xlarge",
        "c6gd.8xlarge",
        "c6gd.large",
        "c6gd.medium",
        "c6gd.metal",
        "c6gd.xlarge",
        "c6gn.12xlarge",
        "c6gn.16xlarge",
        "c6gn.2xlarge",
        "c6gn.4xlarge",
        "c6gn.8xlarge",
        "c6gn.large",
        "c6gn.medium",
        "c6gn.xlarge",
        "c6i.12xlarge",
        "c6i.16xlarge",
        "c6i.24xlarge",
        "c6i.2xlarge",
        "c6i.32xlarge",
        "c6i.4xlarge",
        "c6i.8xlarge",
        "c6i.large",
        "c6i.metal",
        "c6i.xlarge",
        "c6id.12xlarge",
        "c6id.16xlarge",
        "c6id.24xlarge",
        "c6id.2xlarge",
        "c6id.32xlarge",
        "c6id.4xlarge",
        "c6id.8xlarge",
        "c6id.large",
        "c6id.metal",
        "c6id.xlarge",
        "c6in.12xlarge",
        "c6in.16xlarge",
        "c6in.24xlarge",
        "c6in.2xlarge",
        "c6in.32xlarge",
        "c6in.4xlarge",
        "c6in.8xlarge",
        "c6in.large",
        "c6in.metal",
        "c6in.xlarge",
        "c7a.12xlarge",
        "c7a.16xlarge",
        "c7a.24xlarge",
        "c7a.2xlarge",
        "c7a.32xlarge",
        "c7a.48xlarge",
        "c7a.4xlarge",
        "c7a.8xlarge",
        "c7a.large",
        "c7a.medium",
        "c7a.metal-48xl",
        "c7a.xlarge",
        "c7g.12xlarge",
        "c7g.16xlarge",
        "c7g.2xlarge",
        "c7g.4xlarge",
        "c7g.8xlarge",
        "c7g.large",
        "c7g.medium",
        "c7g.metal",
        "c7g.xlarge",
        "c7gd.12xlarge",
        "c7gd.16xlarge",
        "c7gd.2xlarge",
        "c7gd.4xlarge",
        "c7gd.8xlarge",
        "c7gd.large",
        "c7gd.medium",
        "c7gd.metal",
        "c7gd.xlarge",
        "c7gn.12xlarge",
        "c7gn.16xlarge",
        "c7gn.2xlarge",
        "c7gn.4xlarge",
        "c7gn.8xlarge",
        "c7gn.large",
        "c7gn.medium",
        "c7gn.xlarge",
        "c7i.12xlarge",
        "c7i.16xlarge",
        "c7i.24xlarge",
        "c7i.2xlarge",
        "c7i.48xlarge",
        "c7i.4xlarge",
        "c7i.8xlarge",
        "c7i.large",
        "c7i.metal-24xl",
        "c7i.metal-48xl",
        "c7i.xlarge",
        "cc1.4xlarge",
        "cc2.8xlarge",
        "cg1.4xlarge",
        "cr1.8xlarge",
        "d2.2xlarge",
        "d2.4xlarge",
        "d2.8xlarge",
        "d2.xlarge",
        "d3.2xlarge",
        "d3.4xlarge",
        "d3.8xlarge",
        "d3.xlarge",
        "d3en.12xlarge",
        "d3en.2xlarge",
        "d3en.4xlarge",
        "d3en.6xlarge",
        "d3en.8xlarge",
        "d3en.xlarge",
        "dl1.24xlarge",
        "dl2q.24xlarge",
        "f1.16xlarge",
        "f1.2xlarge",
        "f1.4xlarge",
        "g2.2xlarge",
        "g2.8xlarge",
        "g3.16xlarge",
        "g3.4xlarge",
        "g3.8xlarge",
        "g3s.xlarge",
        "g4ad.16xlarge",
        "g4ad.2xlarge",
        "g4ad.4xlarge",
        "g4ad.8xlarge",
        "g4ad.xlarge",
        "g4dn.12xlarge",
        "g4dn.16xlarge",
        "g4dn.2xlarge",
        "g4dn.4xlarge",
        "g4dn.8xlarge",
        "g4dn.metal",
        "g4dn.xlarge",
        "g5.12xlarge",
        "g5.16xlarge",
        "g5.24xlarge",
        "g5.2xlarge",
        "g5.48xlarge",
        "g5.4xlarge",
        "g5.8xlarge",
        "g5.xlarge",
        "g5g.16xlarge",
        "g5g.2xlarge",
        "g5g.4xlarge",
        "g5g.8xlarge",
        "g5g.metal",
        "g5g.xlarge",
        "g6.12xlarge",
        "g6.16xlarge",
        "g6.24xlarge",
        "g6.2xlarge",
        "g6.48xlarge",
        "g6.4xlarge",
        "g6.8xlarge",
        "g6.xlarge",
        "gr6.4xlarge",
        "gr6.8xlarge",
        "h1.16xlarge",
        "h1.2xlarge",
        "h1.4xlarge",
        "h1.8xlarge",
        "hi1.4xlarge",
        "hpc6a.48xlarge",
        "hpc6id.32xlarge",
        "hpc7a.12xlarge",
        "hpc7a.24xlarge",
        "hpc7a.48xlarge",
        "hpc7a.96xlarge",
        "hpc7g.16xlarge",
        "hpc7g.4xlarge",
        "hpc7g.8xlarge",
        "hs1.8xlarge",
        "i2.2xlarge",
        "i2.4xlarge",
        "i2.8xlarge",
        "i2.xlarge",
        "i3.16xlarge",
        "i3.2xlarge",
        "i3.4xlarge",
        "i3.8xlarge",
        "i3.large",
        "i3.metal",
        "i3.xlarge",
        "i3en.12xlarge",
        "i3en.24xlarge",
        "i3en.2xlarge",
        "i3en.3xlarge",
        "i3en.6xlarge",
        "i3en.large",
        "i3en.metal",
        "i3en.xlarge",
        "i4g.16xlarge",
        "i4g.2xlarge",
        "i4g.4xlarge",
        "i4g.8xlarge",
        "i4g.large",
        "i4g.xlarge",
        "i4i.12xlarge",
        "i4i.16xlarge",
        "i4i.24xlarge",
        "i4i.2xlarge",
        "i4i.32xlarge",
        "i4i.4xlarge",
        "i4i.8xlarge",
        "i4i.large",
        "i4i.metal",
        "i4i.xlarge",
        "im4gn.16xlarge",
        "im4gn.2xlarge",
        "im4gn.4xlarge",
        "im4gn.8xlarge",
        "im4gn.large",
        "im4gn.xlarge",
        "inf1.24xlarge",
        "inf1.2xlarge",
        "inf1.6xlarge",
        "inf1.xlarge",
        "inf2.24xlarge",
        "inf2.48xlarge",
        "inf2.8xlarge",
        "inf2.xlarge",
        "is4gen.2xlarge",
        "is4gen.4xlarge",
        "is4gen.8xlarge",
        "is4gen.large",
        "is4gen.medium",
        "is4gen.xlarge",
        "m1.large",
        "m1.medium",
        "m1.small",
        "m1.xlarge",
        "m2.2xlarge",
        "m2.4xlarge",
        "m2.xlarge",
        "m3.2xlarge",
        "m3.large",
        "m3.medium",
        "m3.xlarge",
        "m4.10xlarge",
        "m4.16xlarge",
        "m4.2xlarge",
        "m4.4xlarge",
        "m4.large",
        "m4.xlarge",
        "m5.12xlarge",
        "m5.16xlarge",
        "m5.24xlarge",
        "m5.2xlarge",
        "m5.4xlarge",
        "m5.8xlarge",
        "m5.large",
        "m5.metal",
        "m5.xlarge",
        "m5a.12xlarge",
        "m5a.16xlarge",
        "m5a.24xlarge",
        "m5a.2xlarge",
        "m5a.4xlarge",
        "m5a.8xlarge",
        "m5a.large",
        "m5a.xlarge",
        "m5ad.12xlarge",
        "m5ad.16xlarge",
        "m5ad.24xlarge",
        "m5ad.2xlarge",
        "m5ad.4xlarge",
        "m5ad.8xlarge",
        "m5ad.large",
        "m5ad.xlarge",
        "m5d.12xlarge",
        "m5d.16xlarge",
        "m5d.24xlarge",
        "m5d.2xlarge",
        "m5d.4xlarge",
        "m5d.8xlarge",
        "m5d.large",
        "m5d.metal",
        "m5d.xlarge",
        "m5dn.12xlarge",
        "m5dn.16xlarge",
        "m5dn.24xlarge",
        "m5dn.2xlarge",
        "m5dn.4xlarge",
        "m5dn.8xlarge",
        "m5dn.large",
        "m5dn.metal",
        "m5dn.xlarge",
        "m5n.12xlarge",
        "m5n.16xlarge",
        "m5n.24xlarge",
        "m5n.2xlarge",
        "m5n.4xlarge",
        "m5n.8xlarge",
        "m5n.large",
        "m5n.metal",
        "m5n.xlarge",
        "m5zn.12xlarge",
        "m5zn.2xlarge",
        "m5zn.3xlarge",
        "m5zn.6xlarge",
        "m5zn.large",
        "m5zn.metal",
        "m5zn.xlarge",
        "m6a.12xlarge",
        "m6a.16xlarge",
        "m6a.24xlarge",
        "m6a.2xlarge",
        "m6a.32xlarge",
        "m6a.48xlarge",
        "m6a.4xlarge",
        "m6a.8xlarge",
        "m6a.large",
        "m6a.metal",
        "m6a.xlarge",
        "m6g.12xlarge",
        "m6g.16xlarge",
        "m6g.2xlarge",
        "m6g.4xlarge",
        "m6g.8xlarge",
        "m6g.large",
        "m6g.medium",
        "m6g.metal",
        "m6g.xlarge",
        "m6gd.12xlarge",
        "m6gd.16xlarge",
        "m6gd.2xlarge",
        "m6gd.4xlarge",
        "m6gd.8xlarge",
        "m6gd.large",
        "m6gd.medium",
        "m6gd.metal",
        "m6gd.xlarge",
        "m6i.12xlarge",
        "m6i.16xlarge",
        "m6i.24xlarge",
        "m6i.2xlarge",
        "m6i.32xlarge",
        "m6i.4xlarge",
        "m6i.8xlarge",
        "m6i.large",
        "m6i.metal",
        "m6i.xlarge",
        "m6id.12xlarge",
        "m6id.16xlarge",
        "m6id.24xlarge",
        "m6id.2xlarge",
        "m6id.32xlarge",
        "m6id.4xlarge",
        "m6id.8xlarge",
        "m6id.large",
        "m6id.metal",
        "m6id.xlarge",
        "m6idn.12xlarge",
        "m6idn.16xlarge",
        "m6idn.24xlarge",
        "m6idn.2xlarge",
        "m6idn.32xlarge",
        "m6idn.4xlarge",
        "m6idn.8xlarge",
        "m6idn.large",
        "m6idn.metal",
        "m6idn.xlarge",
        "m6in.12xlarge",
        "m6in.16xlarge",
        "m6in.24xlarge",
        "m6in.2xlarge",
        "m6in.32xlarge",
        "m6in.4xlarge",
        "m6in.8xlarge",
        "m6in.large",
        "m6in.metal",
        "m6in.xlarge",
        "m7a.12xlarge",
        "m7a.16xlarge",
        "m7a.24xlarge",
        "m7a.2xlarge",
        "m7a.32xlarge",
        "m7a.48xlarge",
        "m7a.4xlarge",
        "m7a.8xlarge",
        "m7a.large",
        "m7a.medium",
        "m7a.metal-48xl",
        "m7a.xlarge",
        "m7g.12xlarge",
        "m7g.16xlarge",
        "m7g.2xlarge",
        "m7g.4xlarge",
        "m7g.8xlarge",
        "m7g.large",
        "m7g.medium",
        "m7g.metal",
        "m7g.xlarge",
        "m7gd.12xlarge",
        "m7gd.16xlarge",
        "m7gd.2xlarge",
        "m7gd.4xlarge",
        "m7gd.8xlarge",
        "m7gd.large",
        "m7gd.medium",
        "m7gd.metal",
        "m7gd.xlarge",
        "m7i-flex.2xlarge",
        "m7i-flex.4xlarge",
        "m7i-flex.8xlarge",
        "m7i-flex.large",
        "m7i-flex.xlarge",
        "m7i.12xlarge",
        "m7i.16xlarge",
        "m7i.24xlarge",
        "m7i.2xlarge",
        "m7i.48xlarge",
        "m7i.4xlarge",
        "m7i.8xlarge",
        "m7i.large",
        "m7i.metal-24xl",
        "m7i.metal-48xl",
        "m7i.xlarge",
        "mac1.metal",
        "mac2-m2.metal",
        "mac2-m2pro.metal",
        "mac2.metal",
        "p2.16xlarge",
        "p2.8xlarge",
        "p2.xlarge",
        "p3.16xlarge",
        "p3.2xlarge",
        "p3.8xlarge",
        "p3dn.24xlarge",
        "p4d.24xlarge",
        "p4de.24xlarge",
        "p5.48xlarge",
        "r3.2xlarge",
        "r3.4xlarge",
        "r3.8xlarge",
        "r3.large",
        "r3.xlarge",
        "r4.16xlarge",
        "r4.2xlarge",
        "r4.4xlarge",
        "r4.8xlarge",
        "r4.large",
        "r4.xlarge",
        "r5.12xlarge",
        "r5.16xlarge",
        "r5.24xlarge",
        "r5.2xlarge",
        "r5.4xlarge",
        "r5.8xlarge",
        "r5.large",
        "r5.metal",
        "r5.xlarge",
        "r5a.12xlarge",
        "r5a.16xlarge",
        "r5a.24xlarge",
        "r5a.2xlarge",
        "r5a.4xlarge",
        "r5a.8xlarge",
        "r5a.large",
        "r5a.xlarge",
        "r5ad.12xlarge",
        "r5ad.16xlarge",
        "r5ad.24xlarge",
        "r5ad.2xlarge",
        "r5ad.4xlarge",
        "r5ad.8xlarge",
        "r5ad.large",
        "r5ad.xlarge",
        "r5b.12xlarge",
        "r5b.16xlarge",
        "r5b.24xlarge",
        "r5b.2xlarge",
        "r5b.4xlarge",
        "r5b.8xlarge",
        "r5b.large",
        "r5b.metal",
        "r5b.xlarge",
        "r5d.12xlarge",
        "r5d.16xlarge",
        "r5d.24xlarge",
        "r5d.2xlarge",
        "r5d.4xlarge",
        "r5d.8xlarge",
        "r5d.large",
        "r5d.metal",
        "r5d.xlarge",
        "r5dn.12xlarge",
        "r5dn.16xlarge",
        "r5dn.24xlarge",
        "r5dn.2xlarge",
        "r5dn.4xlarge",
        "r5dn.8xlarge",
        "r5dn.large",
        "r5dn.metal",
        "r5dn.xlarge",
        "r5n.12xlarge",
        "r5n.16xlarge",
        "r5n.24xlarge",
        "r5n.2xlarge",
        "r5n.4xlarge",
        "r5n.8xlarge",
        "r5n.large",
        "r5n.metal",
        "r5n.xlarge",
        "r6a.12xlarge",
        "r6a.16xlarge",
        "r6a.24xlarge",
        "r6a.2xlarge",
        "r6a.32xlarge",
        "r6a.48xlarge",
        "r6a.4xlarge",
        "r6a.8xlarge",
        "r6a.large",
        "r6a.metal",
        "r6a.xlarge",
        "r6g.12xlarge",
        "r6g.16xlarge",
        "r6g.2xlarge",
        "r6g.4xlarge",
        "r6g.8xlarge",
        "r6g.large",
        "r6g.medium",
        "r6g.metal",
        "r6g.xlarge",
        "r6gd.12xlarge",
        "r6gd.16xlarge",
        "r6gd.2xlarge",
        "r6gd.4xlarge",
        "r6gd.8xlarge",
        "r6gd.large",
        "r6gd.medium",
        "r6gd.metal",
        "r6gd.xlarge",
        "r6i.12xlarge",
        "r6i.16xlarge",
        "r6i.24xlarge",
        "r6i.2xlarge",
        "r6i.32xlarge",
        "r6i.4xlarge",
        "r6i.8xlarge",
        "r6i.large",
        "r6i.metal",
        "r6i.xlarge",
        "r6id.12xlarge",
        "r6id.16xlarge",
        "r6id.24xlarge",
        "r6id.2xlarge",
        "r6id.32xlarge",
        "r6id.4xlarge",
        "r6id.8xlarge",
        "r6id.large",
        "r6id.metal",
        "r6id.xlarge",
        "r6idn.12xlarge",
        "r6idn.16xlarge",
        "r6idn.24xlarge",
        "r6idn.2xlarge",
        "r6idn.32xlarge",
        "r6idn.4xlarge",
        "r6idn.8xlarge",
        "r6idn.large",
        "r6idn.metal",
        "r6idn.xlarge",
        "r6in.12xlarge",
        "r6in.16xlarge",
        "r6in.24xlarge",
        "r6in.2xlarge",
        "r6in.32xlarge",
        "r6in.4xlarge",
        "r6in.8xlarge",
        "r6in.large",
        "r6in.metal",
        "r6in.xlarge",
        "r7a.12xlarge",
        "r7a.16xlarge",
        "r7a.24xlarge",
        "r7a.2xlarge",
        "r7a.32xlarge",
        "r7a.48xlarge",
        "r7a.4xlarge",
        "r7a.8xlarge",
        "r7a.large",
        "r7a.medium",
        "r7a.metal-48xl",
        "r7a.xlarge",
        "r7g.12xlarge",
        "r7g.16xlarge",
        "r7g.2xlarge",
        "r7g.4xlarge",
        "r7g.8xlarge",
        "r7g.large",
        "r7g.medium",
        "r7g.metal",
        "r7g.xlarge",
        "r7gd.12xlarge",
        "r7gd.16xlarge",
        "r7gd.2xlarge",
        "r7gd.4xlarge",
        "r7gd.8xlarge",
        "r7gd.large",
        "r7gd.medium",
        "r7gd.metal",
        "r7gd.xlarge",
        "r7i.12xlarge",
        "r7i.16xlarge",
        "r7i.24xlarge",
        "r7i.2xlarge",
        "r7i.48xlarge",
        "r7i.4xlarge",
        "r7i.8xlarge",
        "r7i.large",
        "r7i.metal-24xl",
        "r7i.metal-48xl",
        "r7i.xlarge",
        "r7iz.12xlarge",
        "r7iz.16xlarge",
        "r7iz.2xlarge",
        "r7iz.32xlarge",
        "r7iz.4xlarge",
        "r7iz.8xlarge",
        "r7iz.large",
        "r7iz.metal-16xl",
        "r7iz.metal-32xl",
        "r7iz.xlarge",
        "t1.micro",
        "t2.2xlarge",
        "t2.large",
        "t2.medium",
        "t2.micro",
        "t2.nano",
        "t2.small",
        "t2.xlarge",
        "t3.2xlarge",
        "t3.large",
        "t3.medium",
        "t3.micro",
        "t3.nano",
        "t3.small",
        "t3.xlarge",
        "t3a.2xlarge",
        "t3a.large",
        "t3a.medium",
        "t3a.micro",
        "t3a.nano",
        "t3a.small",
        "t3a.xlarge",
        "t4g.2xlarge",
        "t4g.large",
        "t4g.medium",
        "t4g.micro",
        "t4g.nano",
        "t4g.small",
        "t4g.xlarge",
        "trn1.2xlarge",
        "trn1.32xlarge",
        "trn1n.32xlarge",
        "u-12tb1.112xlarge",
        "u-12tb1.metal",
        "u-18tb1.112xlarge",
        "u-18tb1.metal",
        "u-24tb1.112xlarge",
        "u-24tb1.metal",
        "u-3tb1.56xlarge",
        "u-6tb1.112xlarge",
        "u-6tb1.56xlarge",
        "u-6tb1.metal",
        "u-9tb1.112xlarge",
        "u-9tb1.metal",
        "vt1.24xlarge",
        "vt1.3xlarge",
        "vt1.6xlarge",
        "x1.16xlarge",
        "x1.32xlarge",
        "x1e.16xlarge",
        "x1e.2xlarge",
        "x1e.32xlarge",
        "x1e.4xlarge",
        "x1e.8xlarge",
        "x1e.xlarge",
        "x2gd.12xlarge",
        "x2gd.16xlarge",
        "x2gd.2xlarge",
        "x2gd.4xlarge",
        "x2gd.8xlarge",
        "x2gd.large",
        "x2gd.medium",
        "x2gd.metal",
        "x2gd.xlarge",
        "x2idn.16xlarge",
        "x2idn.24xlarge",
        "x2idn.32xlarge",
        "x2idn.metal",
        "x2iedn.16xlarge",
        "x2iedn.24xlarge",
        "x2iedn.2xlarge",
        "x2iedn.32xlarge",
        "x2iedn.4xlarge",
        "x2iedn.8xlarge",
        "x2iedn.metal",
        "x2iedn.xlarge",
        "x2iezn.12xlarge",
        "x2iezn.2xlarge",
        "x2iezn.4xlarge",
        "x2iezn.6xlarge",
        "x2iezn.8xlarge",
        "x2iezn.metal",
        "z1d.12xlarge",
        "z1d.2xlarge",
        "z1d.3xlarge",
        "z1d.6xlarge",
        "z1d.large",
        "z1d.metal",
        "z1d.xlarge"
      ],
      "x-ms-enum": {
        "name": "InstanceType",
        "modelAsString": true,
        "values": [
          {
            "name": "A12xlarge",
            "value": "a1.2xlarge",
            "description": "InstanceType enum a1.2xlarge"
          },
          {
            "name": "A14xlarge",
            "value": "a1.4xlarge",
            "description": "InstanceType enum a1.4xlarge"
          },
          {
            "name": "A1Large",
            "value": "a1.large",
            "description": "InstanceType enum a1.large"
          },
          {
            "name": "A1Medium",
            "value": "a1.medium",
            "description": "InstanceType enum a1.medium"
          },
          {
            "name": "A1Metal",
            "value": "a1.metal",
            "description": "InstanceType enum a1.metal"
          },
          {
            "name": "A1Xlarge",
            "value": "a1.xlarge",
            "description": "InstanceType enum a1.xlarge"
          },
          {
            "name": "C1Medium",
            "value": "c1.medium",
            "description": "InstanceType enum c1.medium"
          },
          {
            "name": "C1Xlarge",
            "value": "c1.xlarge",
            "description": "InstanceType enum c1.xlarge"
          },
          {
            "name": "C32xlarge",
            "value": "c3.2xlarge",
            "description": "InstanceType enum c3.2xlarge"
          },
          {
            "name": "C34xlarge",
            "value": "c3.4xlarge",
            "description": "InstanceType enum c3.4xlarge"
          },
          {
            "name": "C38xlarge",
            "value": "c3.8xlarge",
            "description": "InstanceType enum c3.8xlarge"
          },
          {
            "name": "C3Large",
            "value": "c3.large",
            "description": "InstanceType enum c3.large"
          },
          {
            "name": "C3Xlarge",
            "value": "c3.xlarge",
            "description": "InstanceType enum c3.xlarge"
          },
          {
            "name": "C42xlarge",
            "value": "c4.2xlarge",
            "description": "InstanceType enum c4.2xlarge"
          },
          {
            "name": "C44xlarge",
            "value": "c4.4xlarge",
            "description": "InstanceType enum c4.4xlarge"
          },
          {
            "name": "C48xlarge",
            "value": "c4.8xlarge",
            "description": "InstanceType enum c4.8xlarge"
          },
          {
            "name": "C4Large",
            "value": "c4.large",
            "description": "InstanceType enum c4.large"
          },
          {
            "name": "C4Xlarge",
            "value": "c4.xlarge",
            "description": "InstanceType enum c4.xlarge"
          },
          {
            "name": "C512xlarge",
            "value": "c5.12xlarge",
            "description": "InstanceType enum c5.12xlarge"
          },
          {
            "name": "C518xlarge",
            "value": "c5.18xlarge",
            "description": "InstanceType enum c5.18xlarge"
          },
          {
            "name": "C524xlarge",
            "value": "c5.24xlarge",
            "description": "InstanceType enum c5.24xlarge"
          },
          {
            "name": "C52xlarge",
            "value": "c5.2xlarge",
            "description": "InstanceType enum c5.2xlarge"
          },
          {
            "name": "C54xlarge",
            "value": "c5.4xlarge",
            "description": "InstanceType enum c5.4xlarge"
          },
          {
            "name": "C59xlarge",
            "value": "c5.9xlarge",
            "description": "InstanceType enum c5.9xlarge"
          },
          {
            "name": "C5Large",
            "value": "c5.large",
            "description": "InstanceType enum c5.large"
          },
          {
            "name": "C5Metal",
            "value": "c5.metal",
            "description": "InstanceType enum c5.metal"
          },
          {
            "name": "C5Xlarge",
            "value": "c5.xlarge",
            "description": "InstanceType enum c5.xlarge"
          },
          {
            "name": "C5a12xlarge",
            "value": "c5a.12xlarge",
            "description": "InstanceType enum c5a.12xlarge"
          },
          {
            "name": "C5a16xlarge",
            "value": "c5a.16xlarge",
            "description": "InstanceType enum c5a.16xlarge"
          },
          {
            "name": "C5a24xlarge",
            "value": "c5a.24xlarge",
            "description": "InstanceType enum c5a.24xlarge"
          },
          {
            "name": "C5a2xlarge",
            "value": "c5a.2xlarge",
            "description": "InstanceType enum c5a.2xlarge"
          },
          {
            "name": "C5a4xlarge",
            "value": "c5a.4xlarge",
            "description": "InstanceType enum c5a.4xlarge"
          },
          {
            "name": "C5a8xlarge",
            "value": "c5a.8xlarge",
            "description": "InstanceType enum c5a.8xlarge"
          },
          {
            "name": "C5aLarge",
            "value": "c5a.large",
            "description": "InstanceType enum c5a.large"
          },
          {
            "name": "C5aXlarge",
            "value": "c5a.xlarge",
            "description": "InstanceType enum c5a.xlarge"
          },
          {
            "name": "C5ad12xlarge",
            "value": "c5ad.12xlarge",
            "description": "InstanceType enum c5ad.12xlarge"
          },
          {
            "name": "C5ad16xlarge",
            "value": "c5ad.16xlarge",
            "description": "InstanceType enum c5ad.16xlarge"
          },
          {
            "name": "C5ad24xlarge",
            "value": "c5ad.24xlarge",
            "description": "InstanceType enum c5ad.24xlarge"
          },
          {
            "name": "C5ad2xlarge",
            "value": "c5ad.2xlarge",
            "description": "InstanceType enum c5ad.2xlarge"
          },
          {
            "name": "C5ad4xlarge",
            "value": "c5ad.4xlarge",
            "description": "InstanceType enum c5ad.4xlarge"
          },
          {
            "name": "C5ad8xlarge",
            "value": "c5ad.8xlarge",
            "description": "InstanceType enum c5ad.8xlarge"
          },
          {
            "name": "C5adLarge",
            "value": "c5ad.large",
            "description": "InstanceType enum c5ad.large"
          },
          {
            "name": "C5adXlarge",
            "value": "c5ad.xlarge",
            "description": "InstanceType enum c5ad.xlarge"
          },
          {
            "name": "C5d12xlarge",
            "value": "c5d.12xlarge",
            "description": "InstanceType enum c5d.12xlarge"
          },
          {
            "name": "C5d18xlarge",
            "value": "c5d.18xlarge",
            "description": "InstanceType enum c5d.18xlarge"
          },
          {
            "name": "C5d24xlarge",
            "value": "c5d.24xlarge",
            "description": "InstanceType enum c5d.24xlarge"
          },
          {
            "name": "C5d2xlarge",
            "value": "c5d.2xlarge",
            "description": "InstanceType enum c5d.2xlarge"
          },
          {
            "name": "C5d4xlarge",
            "value": "c5d.4xlarge",
            "description": "InstanceType enum c5d.4xlarge"
          },
          {
            "name": "C5d9xlarge",
            "value": "c5d.9xlarge",
            "description": "InstanceType enum c5d.9xlarge"
          },
          {
            "name": "C5dLarge",
            "value": "c5d.large",
            "description": "InstanceType enum c5d.large"
          },
          {
            "name": "C5dMetal",
            "value": "c5d.metal",
            "description": "InstanceType enum c5d.metal"
          },
          {
            "name": "C5dXlarge",
            "value": "c5d.xlarge",
            "description": "InstanceType enum c5d.xlarge"
          },
          {
            "name": "C5n18xlarge",
            "value": "c5n.18xlarge",
            "description": "InstanceType enum c5n.18xlarge"
          },
          {
            "name": "C5n2xlarge",
            "value": "c5n.2xlarge",
            "description": "InstanceType enum c5n.2xlarge"
          },
          {
            "name": "C5n4xlarge",
            "value": "c5n.4xlarge",
            "description": "InstanceType enum c5n.4xlarge"
          },
          {
            "name": "C5n9xlarge",
            "value": "c5n.9xlarge",
            "description": "InstanceType enum c5n.9xlarge"
          },
          {
            "name": "C5nLarge",
            "value": "c5n.large",
            "description": "InstanceType enum c5n.large"
          },
          {
            "name": "C5nMetal",
            "value": "c5n.metal",
            "description": "InstanceType enum c5n.metal"
          },
          {
            "name": "C5nXlarge",
            "value": "c5n.xlarge",
            "description": "InstanceType enum c5n.xlarge"
          },
          {
            "name": "C6a12xlarge",
            "value": "c6a.12xlarge",
            "description": "InstanceType enum c6a.12xlarge"
          },
          {
            "name": "C6a16xlarge",
            "value": "c6a.16xlarge",
            "description": "InstanceType enum c6a.16xlarge"
          },
          {
            "name": "C6a24xlarge",
            "value": "c6a.24xlarge",
            "description": "InstanceType enum c6a.24xlarge"
          },
          {
            "name": "C6a2xlarge",
            "value": "c6a.2xlarge",
            "description": "InstanceType enum c6a.2xlarge"
          },
          {
            "name": "C6a32xlarge",
            "value": "c6a.32xlarge",
            "description": "InstanceType enum c6a.32xlarge"
          },
          {
            "name": "C6a48xlarge",
            "value": "c6a.48xlarge",
            "description": "InstanceType enum c6a.48xlarge"
          },
          {
            "name": "C6a4xlarge",
            "value": "c6a.4xlarge",
            "description": "InstanceType enum c6a.4xlarge"
          },
          {
            "name": "C6a8xlarge",
            "value": "c6a.8xlarge",
            "description": "InstanceType enum c6a.8xlarge"
          },
          {
            "name": "C6aLarge",
            "value": "c6a.large",
            "description": "InstanceType enum c6a.large"
          },
          {
            "name": "C6aMetal",
            "value": "c6a.metal",
            "description": "InstanceType enum c6a.metal"
          },
          {
            "name": "C6aXlarge",
            "value": "c6a.xlarge",
            "description": "InstanceType enum c6a.xlarge"
          },
          {
            "name": "C6g12xlarge",
            "value": "c6g.12xlarge",
            "description": "InstanceType enum c6g.12xlarge"
          },
          {
            "name": "C6g16xlarge",
            "value": "c6g.16xlarge",
            "description": "InstanceType enum c6g.16xlarge"
          },
          {
            "name": "C6g2xlarge",
            "value": "c6g.2xlarge",
            "description": "InstanceType enum c6g.2xlarge"
          },
          {
            "name": "C6g4xlarge",
            "value": "c6g.4xlarge",
            "description": "InstanceType enum c6g.4xlarge"
          },
          {
            "name": "C6g8xlarge",
            "value": "c6g.8xlarge",
            "description": "InstanceType enum c6g.8xlarge"
          },
          {
            "name": "C6gLarge",
            "value": "c6g.large",
            "description": "InstanceType enum c6g.large"
          },
          {
            "name": "C6gMedium",
            "value": "c6g.medium",
            "description": "InstanceType enum c6g.medium"
          },
          {
            "name": "C6gMetal",
            "value": "c6g.metal",
            "description": "InstanceType enum c6g.metal"
          },
          {
            "name": "C6gXlarge",
            "value": "c6g.xlarge",
            "description": "InstanceType enum c6g.xlarge"
          },
          {
            "name": "C6gd12xlarge",
            "value": "c6gd.12xlarge",
            "description": "InstanceType enum c6gd.12xlarge"
          },
          {
            "name": "C6gd16xlarge",
            "value": "c6gd.16xlarge",
            "description": "InstanceType enum c6gd.16xlarge"
          },
          {
            "name": "C6gd2xlarge",
            "value": "c6gd.2xlarge",
            "description": "InstanceType enum c6gd.2xlarge"
          },
          {
            "name": "C6gd4xlarge",
            "value": "c6gd.4xlarge",
            "description": "InstanceType enum c6gd.4xlarge"
          },
          {
            "name": "C6gd8xlarge",
            "value": "c6gd.8xlarge",
            "description": "InstanceType enum c6gd.8xlarge"
          },
          {
            "name": "C6gdLarge",
            "value": "c6gd.large",
            "description": "InstanceType enum c6gd.large"
          },
          {
            "name": "C6gdMedium",
            "value": "c6gd.medium",
            "description": "InstanceType enum c6gd.medium"
          },
          {
            "name": "C6gdMetal",
            "value": "c6gd.metal",
            "description": "InstanceType enum c6gd.metal"
          },
          {
            "name": "C6gdXlarge",
            "value": "c6gd.xlarge",
            "description": "InstanceType enum c6gd.xlarge"
          },
          {
            "name": "C6gn12xlarge",
            "value": "c6gn.12xlarge",
            "description": "InstanceType enum c6gn.12xlarge"
          },
          {
            "name": "C6gn16xlarge",
            "value": "c6gn.16xlarge",
            "description": "InstanceType enum c6gn.16xlarge"
          },
          {
            "name": "C6gn2xlarge",
            "value": "c6gn.2xlarge",
            "description": "InstanceType enum c6gn.2xlarge"
          },
          {
            "name": "C6gn4xlarge",
            "value": "c6gn.4xlarge",
            "description": "InstanceType enum c6gn.4xlarge"
          },
          {
            "name": "C6gn8xlarge",
            "value": "c6gn.8xlarge",
            "description": "InstanceType enum c6gn.8xlarge"
          },
          {
            "name": "C6gnLarge",
            "value": "c6gn.large",
            "description": "InstanceType enum c6gn.large"
          },
          {
            "name": "C6gnMedium",
            "value": "c6gn.medium",
            "description": "InstanceType enum c6gn.medium"
          },
          {
            "name": "C6gnXlarge",
            "value": "c6gn.xlarge",
            "description": "InstanceType enum c6gn.xlarge"
          },
          {
            "name": "C6i12xlarge",
            "value": "c6i.12xlarge",
            "description": "InstanceType enum c6i.12xlarge"
          },
          {
            "name": "C6i16xlarge",
            "value": "c6i.16xlarge",
            "description": "InstanceType enum c6i.16xlarge"
          },
          {
            "name": "C6i24xlarge",
            "value": "c6i.24xlarge",
            "description": "InstanceType enum c6i.24xlarge"
          },
          {
            "name": "C6i2xlarge",
            "value": "c6i.2xlarge",
            "description": "InstanceType enum c6i.2xlarge"
          },
          {
            "name": "C6i32xlarge",
            "value": "c6i.32xlarge",
            "description": "InstanceType enum c6i.32xlarge"
          },
          {
            "name": "C6i4xlarge",
            "value": "c6i.4xlarge",
            "description": "InstanceType enum c6i.4xlarge"
          },
          {
            "name": "C6i8xlarge",
            "value": "c6i.8xlarge",
            "description": "InstanceType enum c6i.8xlarge"
          },
          {
            "name": "C6iLarge",
            "value": "c6i.large",
            "description": "InstanceType enum c6i.large"
          },
          {
            "name": "C6iMetal",
            "value": "c6i.metal",
            "description": "InstanceType enum c6i.metal"
          },
          {
            "name": "C6iXlarge",
            "value": "c6i.xlarge",
            "description": "InstanceType enum c6i.xlarge"
          },
          {
            "name": "C6id12xlarge",
            "value": "c6id.12xlarge",
            "description": "InstanceType enum c6id.12xlarge"
          },
          {
            "name": "C6id16xlarge",
            "value": "c6id.16xlarge",
            "description": "InstanceType enum c6id.16xlarge"
          },
          {
            "name": "C6id24xlarge",
            "value": "c6id.24xlarge",
            "description": "InstanceType enum c6id.24xlarge"
          },
          {
            "name": "C6id2xlarge",
            "value": "c6id.2xlarge",
            "description": "InstanceType enum c6id.2xlarge"
          },
          {
            "name": "C6id32xlarge",
            "value": "c6id.32xlarge",
            "description": "InstanceType enum c6id.32xlarge"
          },
          {
            "name": "C6id4xlarge",
            "value": "c6id.4xlarge",
            "description": "InstanceType enum c6id.4xlarge"
          },
          {
            "name": "C6id8xlarge",
            "value": "c6id.8xlarge",
            "description": "InstanceType enum c6id.8xlarge"
          },
          {
            "name": "C6idLarge",
            "value": "c6id.large",
            "description": "InstanceType enum c6id.large"
          },
          {
            "name": "C6idMetal",
            "value": "c6id.metal",
            "description": "InstanceType enum c6id.metal"
          },
          {
            "name": "C6idXlarge",
            "value": "c6id.xlarge",
            "description": "InstanceType enum c6id.xlarge"
          },
          {
            "name": "C6in12xlarge",
            "value": "c6in.12xlarge",
            "description": "InstanceType enum c6in.12xlarge"
          },
          {
            "name": "C6in16xlarge",
            "value": "c6in.16xlarge",
            "description": "InstanceType enum c6in.16xlarge"
          },
          {
            "name": "C6in24xlarge",
            "value": "c6in.24xlarge",
            "description": "InstanceType enum c6in.24xlarge"
          },
          {
            "name": "C6in2xlarge",
            "value": "c6in.2xlarge",
            "description": "InstanceType enum c6in.2xlarge"
          },
          {
            "name": "C6in32xlarge",
            "value": "c6in.32xlarge",
            "description": "InstanceType enum c6in.32xlarge"
          },
          {
            "name": "C6in4xlarge",
            "value": "c6in.4xlarge",
            "description": "InstanceType enum c6in.4xlarge"
          },
          {
            "name": "C6in8xlarge",
            "value": "c6in.8xlarge",
            "description": "InstanceType enum c6in.8xlarge"
          },
          {
            "name": "C6inLarge",
            "value": "c6in.large",
            "description": "InstanceType enum c6in.large"
          },
          {
            "name": "C6inMetal",
            "value": "c6in.metal",
            "description": "InstanceType enum c6in.metal"
          },
          {
            "name": "C6inXlarge",
            "value": "c6in.xlarge",
            "description": "InstanceType enum c6in.xlarge"
          },
          {
            "name": "C7a12xlarge",
            "value": "c7a.12xlarge",
            "description": "InstanceType enum c7a.12xlarge"
          },
          {
            "name": "C7a16xlarge",
            "value": "c7a.16xlarge",
            "description": "InstanceType enum c7a.16xlarge"
          },
          {
            "name": "C7a24xlarge",
            "value": "c7a.24xlarge",
            "description": "InstanceType enum c7a.24xlarge"
          },
          {
            "name": "C7a2xlarge",
            "value": "c7a.2xlarge",
            "description": "InstanceType enum c7a.2xlarge"
          },
          {
            "name": "C7a32xlarge",
            "value": "c7a.32xlarge",
            "description": "InstanceType enum c7a.32xlarge"
          },
          {
            "name": "C7a48xlarge",
            "value": "c7a.48xlarge",
            "description": "InstanceType enum c7a.48xlarge"
          },
          {
            "name": "C7a4xlarge",
            "value": "c7a.4xlarge",
            "description": "InstanceType enum c7a.4xlarge"
          },
          {
            "name": "C7a8xlarge",
            "value": "c7a.8xlarge",
            "description": "InstanceType enum c7a.8xlarge"
          },
          {
            "name": "C7aLarge",
            "value": "c7a.large",
            "description": "InstanceType enum c7a.large"
          },
          {
            "name": "C7aMedium",
            "value": "c7a.medium",
            "description": "InstanceType enum c7a.medium"
          },
          {
            "name": "C7aMetal48xl",
            "value": "c7a.metal-48xl",
            "description": "InstanceType enum c7a.metal-48xl"
          },
          {
            "name": "C7aXlarge",
            "value": "c7a.xlarge",
            "description": "InstanceType enum c7a.xlarge"
          },
          {
            "name": "C7g12xlarge",
            "value": "c7g.12xlarge",
            "description": "InstanceType enum c7g.12xlarge"
          },
          {
            "name": "C7g16xlarge",
            "value": "c7g.16xlarge",
            "description": "InstanceType enum c7g.16xlarge"
          },
          {
            "name": "C7g2xlarge",
            "value": "c7g.2xlarge",
            "description": "InstanceType enum c7g.2xlarge"
          },
          {
            "name": "C7g4xlarge",
            "value": "c7g.4xlarge",
            "description": "InstanceType enum c7g.4xlarge"
          },
          {
            "name": "C7g8xlarge",
            "value": "c7g.8xlarge",
            "description": "InstanceType enum c7g.8xlarge"
          },
          {
            "name": "C7gLarge",
            "value": "c7g.large",
            "description": "InstanceType enum c7g.large"
          },
          {
            "name": "C7gMedium",
            "value": "c7g.medium",
            "description": "InstanceType enum c7g.medium"
          },
          {
            "name": "C7gMetal",
            "value": "c7g.metal",
            "description": "InstanceType enum c7g.metal"
          },
          {
            "name": "C7gXlarge",
            "value": "c7g.xlarge",
            "description": "InstanceType enum c7g.xlarge"
          },
          {
            "name": "C7gd12xlarge",
            "value": "c7gd.12xlarge",
            "description": "InstanceType enum c7gd.12xlarge"
          },
          {
            "name": "C7gd16xlarge",
            "value": "c7gd.16xlarge",
            "description": "InstanceType enum c7gd.16xlarge"
          },
          {
            "name": "C7gd2xlarge",
            "value": "c7gd.2xlarge",
            "description": "InstanceType enum c7gd.2xlarge"
          },
          {
            "name": "C7gd4xlarge",
            "value": "c7gd.4xlarge",
            "description": "InstanceType enum c7gd.4xlarge"
          },
          {
            "name": "C7gd8xlarge",
            "value": "c7gd.8xlarge",
            "description": "InstanceType enum c7gd.8xlarge"
          },
          {
            "name": "C7gdLarge",
            "value": "c7gd.large",
            "description": "InstanceType enum c7gd.large"
          },
          {
            "name": "C7gdMedium",
            "value": "c7gd.medium",
            "description": "InstanceType enum c7gd.medium"
          },
          {
            "name": "C7gdMetal",
            "value": "c7gd.metal",
            "description": "InstanceType enum c7gd.metal"
          },
          {
            "name": "C7gdXlarge",
            "value": "c7gd.xlarge",
            "description": "InstanceType enum c7gd.xlarge"
          },
          {
            "name": "C7gn12xlarge",
            "value": "c7gn.12xlarge",
            "description": "InstanceType enum c7gn.12xlarge"
          },
          {
            "name": "C7gn16xlarge",
            "value": "c7gn.16xlarge",
            "description": "InstanceType enum c7gn.16xlarge"
          },
          {
            "name": "C7gn2xlarge",
            "value": "c7gn.2xlarge",
            "description": "InstanceType enum c7gn.2xlarge"
          },
          {
            "name": "C7gn4xlarge",
            "value": "c7gn.4xlarge",
            "description": "InstanceType enum c7gn.4xlarge"
          },
          {
            "name": "C7gn8xlarge",
            "value": "c7gn.8xlarge",
            "description": "InstanceType enum c7gn.8xlarge"
          },
          {
            "name": "C7gnLarge",
            "value": "c7gn.large",
            "description": "InstanceType enum c7gn.large"
          },
          {
            "name": "C7gnMedium",
            "value": "c7gn.medium",
            "description": "InstanceType enum c7gn.medium"
          },
          {
            "name": "C7gnXlarge",
            "value": "c7gn.xlarge",
            "description": "InstanceType enum c7gn.xlarge"
          },
          {
            "name": "C7i12xlarge",
            "value": "c7i.12xlarge",
            "description": "InstanceType enum c7i.12xlarge"
          },
          {
            "name": "C7i16xlarge",
            "value": "c7i.16xlarge",
            "description": "InstanceType enum c7i.16xlarge"
          },
          {
            "name": "C7i24xlarge",
            "value": "c7i.24xlarge",
            "description": "InstanceType enum c7i.24xlarge"
          },
          {
            "name": "C7i2xlarge",
            "value": "c7i.2xlarge",
            "description": "InstanceType enum c7i.2xlarge"
          },
          {
            "name": "C7i48xlarge",
            "value": "c7i.48xlarge",
            "description": "InstanceType enum c7i.48xlarge"
          },
          {
            "name": "C7i4xlarge",
            "value": "c7i.4xlarge",
            "description": "InstanceType enum c7i.4xlarge"
          },
          {
            "name": "C7i8xlarge",
            "value": "c7i.8xlarge",
            "description": "InstanceType enum c7i.8xlarge"
          },
          {
            "name": "C7iLarge",
            "value": "c7i.large",
            "description": "InstanceType enum c7i.large"
          },
          {
            "name": "C7iMetal24xl",
            "value": "c7i.metal-24xl",
            "description": "InstanceType enum c7i.metal-24xl"
          },
          {
            "name": "C7iMetal48xl",
            "value": "c7i.metal-48xl",
            "description": "InstanceType enum c7i.metal-48xl"
          },
          {
            "name": "C7iXlarge",
            "value": "c7i.xlarge",
            "description": "InstanceType enum c7i.xlarge"
          },
          {
            "name": "Cc14xlarge",
            "value": "cc1.4xlarge",
            "description": "InstanceType enum cc1.4xlarge"
          },
          {
            "name": "Cc28xlarge",
            "value": "cc2.8xlarge",
            "description": "InstanceType enum cc2.8xlarge"
          },
          {
            "name": "Cg14xlarge",
            "value": "cg1.4xlarge",
            "description": "InstanceType enum cg1.4xlarge"
          },
          {
            "name": "Cr18xlarge",
            "value": "cr1.8xlarge",
            "description": "InstanceType enum cr1.8xlarge"
          },
          {
            "name": "D22xlarge",
            "value": "d2.2xlarge",
            "description": "InstanceType enum d2.2xlarge"
          },
          {
            "name": "D24xlarge",
            "value": "d2.4xlarge",
            "description": "InstanceType enum d2.4xlarge"
          },
          {
            "name": "D28xlarge",
            "value": "d2.8xlarge",
            "description": "InstanceType enum d2.8xlarge"
          },
          {
            "name": "D2Xlarge",
            "value": "d2.xlarge",
            "description": "InstanceType enum d2.xlarge"
          },
          {
            "name": "D32xlarge",
            "value": "d3.2xlarge",
            "description": "InstanceType enum d3.2xlarge"
          },
          {
            "name": "D34xlarge",
            "value": "d3.4xlarge",
            "description": "InstanceType enum d3.4xlarge"
          },
          {
            "name": "D38xlarge",
            "value": "d3.8xlarge",
            "description": "InstanceType enum d3.8xlarge"
          },
          {
            "name": "D3Xlarge",
            "value": "d3.xlarge",
            "description": "InstanceType enum d3.xlarge"
          },
          {
            "name": "D3en12xlarge",
            "value": "d3en.12xlarge",
            "description": "InstanceType enum d3en.12xlarge"
          },
          {
            "name": "D3en2xlarge",
            "value": "d3en.2xlarge",
            "description": "InstanceType enum d3en.2xlarge"
          },
          {
            "name": "D3en4xlarge",
            "value": "d3en.4xlarge",
            "description": "InstanceType enum d3en.4xlarge"
          },
          {
            "name": "D3en6xlarge",
            "value": "d3en.6xlarge",
            "description": "InstanceType enum d3en.6xlarge"
          },
          {
            "name": "D3en8xlarge",
            "value": "d3en.8xlarge",
            "description": "InstanceType enum d3en.8xlarge"
          },
          {
            "name": "D3enXlarge",
            "value": "d3en.xlarge",
            "description": "InstanceType enum d3en.xlarge"
          },
          {
            "name": "Dl124xlarge",
            "value": "dl1.24xlarge",
            "description": "InstanceType enum dl1.24xlarge"
          },
          {
            "name": "Dl2q24xlarge",
            "value": "dl2q.24xlarge",
            "description": "InstanceType enum dl2q.24xlarge"
          },
          {
            "name": "F116xlarge",
            "value": "f1.16xlarge",
            "description": "InstanceType enum f1.16xlarge"
          },
          {
            "name": "F12xlarge",
            "value": "f1.2xlarge",
            "description": "InstanceType enum f1.2xlarge"
          },
          {
            "name": "F14xlarge",
            "value": "f1.4xlarge",
            "description": "InstanceType enum f1.4xlarge"
          },
          {
            "name": "G22xlarge",
            "value": "g2.2xlarge",
            "description": "InstanceType enum g2.2xlarge"
          },
          {
            "name": "G28xlarge",
            "value": "g2.8xlarge",
            "description": "InstanceType enum g2.8xlarge"
          },
          {
            "name": "G316xlarge",
            "value": "g3.16xlarge",
            "description": "InstanceType enum g3.16xlarge"
          },
          {
            "name": "G34xlarge",
            "value": "g3.4xlarge",
            "description": "InstanceType enum g3.4xlarge"
          },
          {
            "name": "G38xlarge",
            "value": "g3.8xlarge",
            "description": "InstanceType enum g3.8xlarge"
          },
          {
            "name": "G3sXlarge",
            "value": "g3s.xlarge",
            "description": "InstanceType enum g3s.xlarge"
          },
          {
            "name": "G4ad16xlarge",
            "value": "g4ad.16xlarge",
            "description": "InstanceType enum g4ad.16xlarge"
          },
          {
            "name": "G4ad2xlarge",
            "value": "g4ad.2xlarge",
            "description": "InstanceType enum g4ad.2xlarge"
          },
          {
            "name": "G4ad4xlarge",
            "value": "g4ad.4xlarge",
            "description": "InstanceType enum g4ad.4xlarge"
          },
          {
            "name": "G4ad8xlarge",
            "value": "g4ad.8xlarge",
            "description": "InstanceType enum g4ad.8xlarge"
          },
          {
            "name": "G4adXlarge",
            "value": "g4ad.xlarge",
            "description": "InstanceType enum g4ad.xlarge"
          },
          {
            "name": "G4dn12xlarge",
            "value": "g4dn.12xlarge",
            "description": "InstanceType enum g4dn.12xlarge"
          },
          {
            "name": "G4dn16xlarge",
            "value": "g4dn.16xlarge",
            "description": "InstanceType enum g4dn.16xlarge"
          },
          {
            "name": "G4dn2xlarge",
            "value": "g4dn.2xlarge",
            "description": "InstanceType enum g4dn.2xlarge"
          },
          {
            "name": "G4dn4xlarge",
            "value": "g4dn.4xlarge",
            "description": "InstanceType enum g4dn.4xlarge"
          },
          {
            "name": "G4dn8xlarge",
            "value": "g4dn.8xlarge",
            "description": "InstanceType enum g4dn.8xlarge"
          },
          {
            "name": "G4dnMetal",
            "value": "g4dn.metal",
            "description": "InstanceType enum g4dn.metal"
          },
          {
            "name": "G4dnXlarge",
            "value": "g4dn.xlarge",
            "description": "InstanceType enum g4dn.xlarge"
          },
          {
            "name": "G512xlarge",
            "value": "g5.12xlarge",
            "description": "InstanceType enum g5.12xlarge"
          },
          {
            "name": "G516xlarge",
            "value": "g5.16xlarge",
            "description": "InstanceType enum g5.16xlarge"
          },
          {
            "name": "G524xlarge",
            "value": "g5.24xlarge",
            "description": "InstanceType enum g5.24xlarge"
          },
          {
            "name": "G52xlarge",
            "value": "g5.2xlarge",
            "description": "InstanceType enum g5.2xlarge"
          },
          {
            "name": "G548xlarge",
            "value": "g5.48xlarge",
            "description": "InstanceType enum g5.48xlarge"
          },
          {
            "name": "G54xlarge",
            "value": "g5.4xlarge",
            "description": "InstanceType enum g5.4xlarge"
          },
          {
            "name": "G58xlarge",
            "value": "g5.8xlarge",
            "description": "InstanceType enum g5.8xlarge"
          },
          {
            "name": "G5Xlarge",
            "value": "g5.xlarge",
            "description": "InstanceType enum g5.xlarge"
          },
          {
            "name": "G5g16xlarge",
            "value": "g5g.16xlarge",
            "description": "InstanceType enum g5g.16xlarge"
          },
          {
            "name": "G5g2xlarge",
            "value": "g5g.2xlarge",
            "description": "InstanceType enum g5g.2xlarge"
          },
          {
            "name": "G5g4xlarge",
            "value": "g5g.4xlarge",
            "description": "InstanceType enum g5g.4xlarge"
          },
          {
            "name": "G5g8xlarge",
            "value": "g5g.8xlarge",
            "description": "InstanceType enum g5g.8xlarge"
          },
          {
            "name": "G5gMetal",
            "value": "g5g.metal",
            "description": "InstanceType enum g5g.metal"
          },
          {
            "name": "G5gXlarge",
            "value": "g5g.xlarge",
            "description": "InstanceType enum g5g.xlarge"
          },
          {
            "name": "G612xlarge",
            "value": "g6.12xlarge",
            "description": "InstanceType enum g6.12xlarge"
          },
          {
            "name": "G616xlarge",
            "value": "g6.16xlarge",
            "description": "InstanceType enum g6.16xlarge"
          },
          {
            "name": "G624xlarge",
            "value": "g6.24xlarge",
            "description": "InstanceType enum g6.24xlarge"
          },
          {
            "name": "G62xlarge",
            "value": "g6.2xlarge",
            "description": "InstanceType enum g6.2xlarge"
          },
          {
            "name": "G648xlarge",
            "value": "g6.48xlarge",
            "description": "InstanceType enum g6.48xlarge"
          },
          {
            "name": "G64xlarge",
            "value": "g6.4xlarge",
            "description": "InstanceType enum g6.4xlarge"
          },
          {
            "name": "G68xlarge",
            "value": "g6.8xlarge",
            "description": "InstanceType enum g6.8xlarge"
          },
          {
            "name": "G6Xlarge",
            "value": "g6.xlarge",
            "description": "InstanceType enum g6.xlarge"
          },
          {
            "name": "Gr64xlarge",
            "value": "gr6.4xlarge",
            "description": "InstanceType enum gr6.4xlarge"
          },
          {
            "name": "Gr68xlarge",
            "value": "gr6.8xlarge",
            "description": "InstanceType enum gr6.8xlarge"
          },
          {
            "name": "H116xlarge",
            "value": "h1.16xlarge",
            "description": "InstanceType enum h1.16xlarge"
          },
          {
            "name": "H12xlarge",
            "value": "h1.2xlarge",
            "description": "InstanceType enum h1.2xlarge"
          },
          {
            "name": "H14xlarge",
            "value": "h1.4xlarge",
            "description": "InstanceType enum h1.4xlarge"
          },
          {
            "name": "H18xlarge",
            "value": "h1.8xlarge",
            "description": "InstanceType enum h1.8xlarge"
          },
          {
            "name": "Hi14xlarge",
            "value": "hi1.4xlarge",
            "description": "InstanceType enum hi1.4xlarge"
          },
          {
            "name": "Hpc6a48xlarge",
            "value": "hpc6a.48xlarge",
            "description": "InstanceType enum hpc6a.48xlarge"
          },
          {
            "name": "Hpc6id32xlarge",
            "value": "hpc6id.32xlarge",
            "description": "InstanceType enum hpc6id.32xlarge"
          },
          {
            "name": "Hpc7a12xlarge",
            "value": "hpc7a.12xlarge",
            "description": "InstanceType enum hpc7a.12xlarge"
          },
          {
            "name": "Hpc7a24xlarge",
            "value": "hpc7a.24xlarge",
            "description": "InstanceType enum hpc7a.24xlarge"
          },
          {
            "name": "Hpc7a48xlarge",
            "value": "hpc7a.48xlarge",
            "description": "InstanceType enum hpc7a.48xlarge"
          },
          {
            "name": "Hpc7a96xlarge",
            "value": "hpc7a.96xlarge",
            "description": "InstanceType enum hpc7a.96xlarge"
          },
          {
            "name": "Hpc7g16xlarge",
            "value": "hpc7g.16xlarge",
            "description": "InstanceType enum hpc7g.16xlarge"
          },
          {
            "name": "Hpc7g4xlarge",
            "value": "hpc7g.4xlarge",
            "description": "InstanceType enum hpc7g.4xlarge"
          },
          {
            "name": "Hpc7g8xlarge",
            "value": "hpc7g.8xlarge",
            "description": "InstanceType enum hpc7g.8xlarge"
          },
          {
            "name": "Hs18xlarge",
            "value": "hs1.8xlarge",
            "description": "InstanceType enum hs1.8xlarge"
          },
          {
            "name": "I22xlarge",
            "value": "i2.2xlarge",
            "description": "InstanceType enum i2.2xlarge"
          },
          {
            "name": "I24xlarge",
            "value": "i2.4xlarge",
            "description": "InstanceType enum i2.4xlarge"
          },
          {
            "name": "I28xlarge",
            "value": "i2.8xlarge",
            "description": "InstanceType enum i2.8xlarge"
          },
          {
            "name": "I2Xlarge",
            "value": "i2.xlarge",
            "description": "InstanceType enum i2.xlarge"
          },
          {
            "name": "I316xlarge",
            "value": "i3.16xlarge",
            "description": "InstanceType enum i3.16xlarge"
          },
          {
            "name": "I32xlarge",
            "value": "i3.2xlarge",
            "description": "InstanceType enum i3.2xlarge"
          },
          {
            "name": "I34xlarge",
[...]
