{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Ec2Ipams"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ec2Ipams": {
      "get": {
        "operationId": "Ec2Ipams_ListBySubscription",
        "tags": [
          "Ec2Ipams"
        ],
        "description": "List Ec2Ipam resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2IpamListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Ipams_ListBySubscription": {
            "$ref": "./examples/Ec2Ipams_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Ipams": {
      "get": {
        "operationId": "Ec2Ipams_ListByResourceGroup",
        "tags": [
          "Ec2Ipams"
        ],
        "description": "List Ec2Ipam resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2IpamListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Ipams_ListByResourceGroup": {
            "$ref": "./examples/Ec2Ipams_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ec2Ipams/{name}": {
      "get": {
        "operationId": "Ec2Ipams_Get",
        "tags": [
          "Ec2Ipams"
        ],
        "description": "Get a Ec2Ipam",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2Ipam",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2Ipam"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Ipams_Get": {
            "$ref": "./examples/Ec2Ipams_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Ec2Ipams_CreateOrReplace",
        "tags": [
          "Ec2Ipams"
        ],
        "description": "Create a Ec2Ipam. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2Ipam",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Ec2Ipam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Ec2Ipam' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Ec2Ipam"
            }
          },
          "201": {
            "description": "Resource 'Ec2Ipam' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Ec2Ipam"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Ipams_CreateOrReplace": {
            "$ref": "./examples/Ec2Ipams_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Ec2Ipams_Update",
        "tags": [
          "Ec2Ipams"
        ],
        "description": "Update a Ec2Ipam",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2Ipam",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Ec2IpamTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2Ipam"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Ipams_Update": {
            "$ref": "./examples/Ec2Ipams_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Ec2Ipams_Delete",
        "tags": [
          "Ec2Ipams"
        ],
        "description": "Delete a Ec2Ipam",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Ec2Ipam",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Ipams_Delete": {
            "$ref": "./examples/Ec2Ipams_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsEc2IpamProperties": {
      "type": "object",
      "description": "Definition of awsEc2Ipam",
      "properties": {
        "defaultResourceDiscoveryAssociationId": {
          "type": "string",
          "description": "<p>The IPAM's default resource discovery association ID.</p>"
        },
        "defaultResourceDiscoveryId": {
          "type": "string",
          "description": "<p>The IPAM's default resource discovery ID.</p>"
        },
        "description": {
          "type": "string",
          "description": "<p>The description for the IPAM.</p>"
        },
        "ipamArn": {
          "type": "string",
          "description": "<p>The Amazon Resource Name (ARN) of the IPAM.</p>"
        },
        "ipamId": {
          "type": "string",
          "description": "<p>The ID of the IPAM.</p>"
        },
        "ipamRegion": {
          "type": "string",
          "description": "<p>The Amazon Web Services Region of the IPAM.</p>"
        },
        "operatingRegions": {
          "type": "array",
          "description": "<p>The operating Regions for an IPAM. Operating Regions are Amazon Web Services Regions where the IPAM is allowed to manage IP address CIDRs. IPAM only discovers and monitors resources in the Amazon Web Services Regions you select as operating Regions.</p> <p>For more information about operating Regions, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/create-ipam.html'>Create an IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>.</p>",
          "items": {
            "$ref": "#/definitions/IpamOperatingRegion"
          },
          "x-ms-identifiers": []
        },
        "ownerId": {
          "type": "string",
          "description": "<p>The Amazon Web Services account ID of the owner of the IPAM.</p>"
        },
        "privateDefaultScopeId": {
          "type": "string",
          "description": "<p>The ID of the IPAM's default private scope.</p>"
        },
        "publicDefaultScopeId": {
          "type": "string",
          "description": "<p>The ID of the IPAM's default public scope.</p>"
        },
        "resourceDiscoveryAssociationCount": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The IPAM's resource discovery association count.</p>"
        },
        "scopeCount": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The number of scopes in the IPAM. The scope quota is 5. For more information on quotas, see <a href='https://docs.aws.amazon.com/vpc/latest/ipam/quotas-ipam.html'>Quotas in IPAM</a> in the <i>Amazon VPC IPAM User Guide</i>. </p>"
        },
        "state": {
          "$ref": "#/definitions/IpamStateEnumValue",
          "description": "<p>The state of the IPAM.</p>"
        },
        "stateMessage": {
          "type": "string",
          "description": "<p>The state message.</p>"
        },
        "tags": {
          "type": "array",
          "description": "<p>The key/value combination of a tag assigned to the resource. Use the tag key in the filter name and the tag value as the filter value. For example, to find all resources that have a tag with the key <code>Owner</code> and the value <code>TeamA</code>, specify <code>tag:Owner</code> for the filter name and <code>TeamA</code> for the filter value.</p>",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "tier": {
          "$ref": "#/definitions/IpamTierEnumValue",
          "description": "<p>IPAM is offered in a Free Tier and an Advanced Tier. For more information about the features available in each tier and the costs associated with the tiers, see <a href='http://aws.amazon.com/vpc/pricing/'>Amazon VPC pricing &gt; IPAM tab</a>.</p>"
        }
      }
    },
    "Ec2Ipam": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Ec2IpamProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Ec2IpamListResult": {
      "type": "object",
      "description": "The response of a Ec2Ipam list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Ec2Ipam items on this page",
          "items": {
            "$ref": "#/definitions/Ec2Ipam"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Ec2IpamProperties": {
      "type": "object",
      "description": "Definition of Ec2Ipam",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEc2IpamProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Ec2IpamTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Ec2Ipam resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "IpamOperatingRegion": {
      "type": "object",
      "description": "Definition of IpamOperatingRegion",
      "properties": {
        "regionName": {
          "type": "string",
          "description": "<p>The name of the operating Region.</p>"
        }
      }
    },
    "IpamState": {
      "type": "string",
      "description": "IpamState enum",
      "enum": [
        "create-complete",
        "create-failed",
        "create-in-progress",
        "delete-complete",
        "delete-failed",
        "delete-in-progress",
        "isolate-complete",
        "isolate-in-progress",
        "modify-complete",
        "modify-failed",
        "modify-in-progress",
        "restore-in-progress"
      ],
      "x-ms-enum": {
        "name": "IpamState",
        "modelAsString": true,
        "values": [
          {
            "name": "CreateComplete",
            "value": "create-complete",
            "description": "IpamState enum create-complete"
          },
          {
            "name": "CreateFailed",
            "value": "create-failed",
            "description": "IpamState enum create-failed"
          },
          {
            "name": "CreateInProgress",
            "value": "create-in-progress",
            "description": "IpamState enum create-in-progress"
          },
          {
            "name": "DeleteComplete",
            "value": "delete-complete",
            "description": "IpamState enum delete-complete"
          },
          {
            "name": "DeleteFailed",
            "value": "delete-failed",
            "description": "IpamState enum delete-failed"
          },
          {
            "name": "DeleteInProgress",
            "value": "delete-in-progress",
            "description": "IpamState enum delete-in-progress"
          },
          {
            "name": "IsolateComplete",
            "value": "isolate-complete",
            "description": "IpamState enum isolate-complete"
          },
          {
            "name": "IsolateInProgress",
            "value": "isolate-in-progress",
            "description": "IpamState enum isolate-in-progress"
          },
          {
            "name": "ModifyComplete",
            "value": "modify-complete",
            "description": "IpamState enum modify-complete"
          },
          {
            "name": "ModifyFailed",
            "value": "modify-failed",
            "description": "IpamState enum modify-failed"
          },
          {
            "name": "ModifyInProgress",
            "value": "modify-in-progress",
            "description": "IpamState enum modify-in-progress"
          },
          {
            "name": "RestoreInProgress",
            "value": "restore-in-progress",
            "description": "IpamState enum restore-in-progress"
          }
        ]
      }
    },
    "IpamStateEnumValue": {
      "type": "object",
      "description": "Definition of IpamStateEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/IpamState",
          "description": "Property value"
        }
      }
    },
    "IpamTier": {
      "type": "string",
      "description": "IpamTier enum",
      "enum": [
        "advanced",
        "free"
      ],
      "x-ms-enum": {
        "name": "IpamTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Advanced",
            "value": "advanced",
            "description": "IpamTier enum advanced"
          },
          {
            "name": "Free",
            "value": "free",
            "description": "IpamTier enum free"
          }
        ]
      }
    },
    "IpamTierEnumValue": {
      "type": "object",
      "description": "Definition of IpamTierEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/IpamTier",
          "description": "Property value"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "<p>The key of the tag.</p> <p>Constraints: Tag keys are case-sensitive and accept a maximum of 127 Unicode characters. May not begin with <code>aws:</code>.</p>"
        },
        "value": {
          "type": "string",
          "description": "<p>The value of the tag.</p> <p>Constraints: Tag values are case-sensitive and accept a maximum of 256 Unicode characters.</p>"
        }
      }
    }
  },
  "parameters": {}
}
