{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Ec2Instances"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.AwsConnector/ec2Instances": {
      "get": {
        "operationId": "Ec2Instances_List",
        "tags": [
          "Ec2Instances"
        ],
        "description": "List Ec2Instance resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2InstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Instances_List": {
            "$ref": "./examples/Ec2Instances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.AwsConnector/ec2Instances/default": {
      "get": {
        "operationId": "Ec2Instances_Get",
        "tags": [
          "Ec2Instances"
        ],
        "description": "Get a Ec2Instance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Ec2Instance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Instances_Get": {
            "$ref": "./examples/Ec2Instances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Ec2Instances_CreateOrReplace",
        "tags": [
          "Ec2Instances"
        ],
        "description": "Create a Ec2Instance. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Ec2Instance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Ec2Instance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Ec2Instance"
            }
          },
          "201": {
            "description": "Resource 'Ec2Instance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Ec2Instance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Instances_CreateOrReplace": {
            "$ref": "./examples/Ec2Instances_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Ec2Instances_Delete",
        "tags": [
          "Ec2Instances"
        ],
        "description": "Delete a Ec2Instance",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Instances_Delete": {
            "$ref": "./examples/Ec2Instances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.AwsConnector/ec2Instances/default/start": {
      "post": {
        "operationId": "Ec2Instances_Start",
        "tags": [
          "Ec2Instances"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Instances_Start": {
            "$ref": "./examples/Ec2Instances_Start.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{resourceUri}/providers/Microsoft.AwsConnector/ec2Instances/default/stop": {
      "post": {
        "operationId": "Ec2Instances_Stop",
        "tags": [
          "Ec2Instances"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopEc2InstanceOptions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Ec2Instances_Stop": {
            "$ref": "./examples/Ec2Instances_Stop.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AmdSevSnpSpecification": {
      "type": "string",
      "description": "AmdSevSnpSpecification enum",
      "enum": [
        "disabled",
        "enabled"
      ],
      "x-ms-enum": {
        "name": "AmdSevSnpSpecification",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "disabled",
            "description": "AmdSevSnpSpecification enum disabled"
          },
          {
            "name": "Enabled",
            "value": "enabled",
            "description": "AmdSevSnpSpecification enum enabled"
          }
        ]
      }
    },
    "AmdSevSnpSpecificationEnumValue": {
      "type": "object",
      "description": "Definition of AmdSevSnpSpecificationEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/AmdSevSnpSpecification",
          "description": "Property value"
        }
      }
    },
    "ArchitectureValues": {
      "type": "string",
      "description": "ArchitectureValues enum",
      "enum": [
        "arm64",
        "arm64_mac",
        "i386",
        "x86_64",
        "x86_64_mac"
      ],
      "x-ms-enum": {
        "name": "ArchitectureValues",
        "modelAsString": true,
        "values": [
          {
            "name": "Arm64",
            "value": "arm64",
            "description": "ArchitectureValues enum arm64"
          },
          {
            "name": "Arm64_mac",
            "value": "arm64_mac",
            "description": "ArchitectureValues enum arm64_mac"
          },
          {
            "name": "I386",
            "value": "i386",
            "description": "ArchitectureValues enum i386"
          },
          {
            "name": "X86_64",
            "value": "x86_64",
            "description": "ArchitectureValues enum x86_64"
          },
          {
            "name": "X86_64_mac",
            "value": "x86_64_mac",
            "description": "ArchitectureValues enum x86_64_mac"
          }
        ]
      }
    },
    "ArchitectureValuesEnumValue": {
      "type": "object",
      "description": "Definition of ArchitectureValuesEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/ArchitectureValues",
          "description": "Property value"
        }
      }
    },
    "AttachmentStatus": {
      "type": "string",
      "description": "AttachmentStatus enum",
      "enum": [
        "attached",
        "attaching",
        "detached",
        "detaching"
      ],
      "x-ms-enum": {
        "name": "AttachmentStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Attached",
            "value": "attached",
            "description": "AttachmentStatus enum attached"
          },
          {
            "name": "Attaching",
            "value": "attaching",
            "description": "AttachmentStatus enum attaching"
          },
          {
            "name": "Detached",
            "value": "detached",
            "description": "AttachmentStatus enum detached"
          },
          {
            "name": "Detaching",
            "value": "detaching",
            "description": "AttachmentStatus enum detaching"
          }
        ]
      }
    },
    "AttachmentStatusEnumValue": {
      "type": "object",
      "description": "Definition of AttachmentStatusEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/AttachmentStatus",
          "description": "Property value"
        }
      }
    },
    "AwsEc2InstanceProperties": {
      "type": "object",
      "description": "Definition of awsEc2Instance",
      "properties": {
        "amiLaunchIndex": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The AMI launch index, which can be used to find this instance in the launch group.</p>"
        },
        "architecture": {
          "$ref": "#/definitions/ArchitectureValuesEnumValue",
          "description": "<p>The architecture of the image.</p>"
        },
        "blockDeviceMappings": {
          "type": "array",
          "description": "<p>Any block device mapping entries for the instance.</p>",
          "items": {
            "$ref": "#/definitions/InstanceBlockDeviceMapping"
          },
          "x-ms-identifiers": []
        },
        "bootMode": {
          "$ref": "#/definitions/BootModeValuesEnumValue",
          "description": "<p>The boot mode that was specified by the AMI. If the value is <code>uefi-preferred</code>, the AMI supports both UEFI and Legacy BIOS. The <code>currentInstanceBootMode</code> parameter is the boot mode that is used to boot the instance at launch or start.</p> <note> <p>The operating system contained in the AMI must be configured to support the specified boot mode.</p> </note> <p>For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ami-boot.html'>Boot modes</a> in the <i>Amazon EC2 User Guide</i>.</p>"
        },
        "capacityReservationId": {
          "type": "string",
          "description": "<p>The ID of the Capacity Reservation.</p>"
        },
        "capacityReservationSpecification": {
          "$ref": "#/definitions/CapacityReservationSpecificationResponse",
          "description": "<p>Information about the Capacity Reservation targeting option.</p>"
        },
        "clientToken": {
          "type": "string",
          "description": "<p>The idempotency token you provided when you launched the instance, if applicable.</p>"
        },
        "cpuOptions": {
          "$ref": "#/definitions/CpuOptions",
          "description": "<p>The CPU options for the instance.</p>"
        },
        "currentInstanceBootMode": {
          "$ref": "#/definitions/InstanceBootModeValuesEnumValue",
          "description": "<p>The boot mode that is used to boot the instance at launch or start. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ami-boot.html'>Boot modes</a> in the <i>Amazon EC2 User Guide</i>.</p>"
        },
        "ebsOptimized": {
          "type": "boolean",
          "description": "<p>Indicates whether the instance is optimized for Amazon EBS I/O. This optimization provides dedicated throughput to Amazon EBS and an optimized configuration stack to provide optimal I/O performance. This optimization isn't available with all instance types. Additional usage charges apply when using an EBS Optimized instance.</p>"
        },
        "elasticGpuAssociations": {
          "type": "array",
          "description": "<p>Deprecated.</p> <note> <p>Amazon Elastic Graphics reached end of life on January 8, 2024. For workloads that require graphics acceleration, we recommend that you use Amazon EC2 G4ad, G4dn, or G5 instances.</p> </note>",
          "items": {
            "$ref": "#/definitions/ElasticGpuAssociation"
          },
          "x-ms-identifiers": []
        },
        "elasticInferenceAcceleratorAssociations": {
          "type": "array",
          "description": "<p>The elastic inference accelerator associated with the instance.</p>",
          "items": {
            "$ref": "#/definitions/ElasticInferenceAcceleratorAssociation"
          },
          "x-ms-identifiers": []
        },
        "enaSupport": {
          "type": "boolean",
          "description": "<p>Specifies whether enhanced networking with ENA is enabled.</p>"
        },
        "enclaveOptions": {
          "$ref": "#/definitions/EnclaveOptions",
          "description": "<p>Indicates whether the instance is enabled for Amazon Web Services Nitro Enclaves.</p>"
        },
        "hibernationOptions": {
          "$ref": "#/definitions/HibernationOptions",
          "description": "<p>Indicates whether the instance is enabled for hibernation.</p>"
        },
        "hypervisor": {
          "$ref": "#/definitions/HypervisorTypeEnumValue",
          "description": "<p>The hypervisor type of the instance. The value <code>xen</code> is used for both Xen and Nitro hypervisors.</p>"
        },
        "iamInstanceProfile": {
          "$ref": "#/definitions/IamInstanceProfile",
          "description": "<p>The IAM instance profile associated with the instance, if applicable.</p>"
        },
        "imageId": {
          "type": "string",
          "description": "<p>The ID of the AMI used to launch the instance.</p>"
        },
        "instanceId": {
          "type": "string",
          "description": "<p>The ID of the instance.</p>"
        },
        "instanceLifecycle": {
          "$ref": "#/definitions/InstanceLifecycleTypeEnumValue",
          "description": "<p>Indicates whether this is a Spot Instance or a Scheduled Instance.</p>"
        },
        "instanceType": {
          "$ref": "#/definitions/InstanceTypeEnumValue",
          "description": "<p>The instance type.</p>"
        },
        "ipv6Address": {
          "type": "string",
          "description": "<p>The IPv6 address assigned to the instance.</p>"
        },
        "kernelId": {
          "type": "string",
          "description": "<p>The kernel associated with this instance, if applicable.</p>"
        },
        "keyName": {
          "type": "string",
          "description": "<p>The name of the key pair, if this instance was launched with an associated key pair.</p>"
        },
        "launchTime": {
          "type": "string",
          "format": "date-time",
          "description": "<p>The time the instance was launched.</p>"
        },
        "licenses": {
          "type": "array",
          "description": "<p>The license configurations for the instance.</p>",
          "items": {
            "$ref": "#/definitions/LicenseConfiguration"
          },
          "x-ms-identifiers": []
        },
        "maintenanceOptions": {
          "$ref": "#/definitions/InstanceMaintenanceOptions",
          "description": "<p>Provides information on the recovery and maintenance options of your instance.</p>"
        },
        "metadataOptions": {
          "$ref": "#/definitions/InstanceMetadataOptionsResponse",
          "description": "<p>The metadata options for the instance.</p>"
        },
        "monitoring": {
          "$ref": "#/definitions/Monitoring",
          "description": "<p>The monitoring for the instance.</p>"
        },
        "networkInterfaces": {
          "type": "array",
          "description": "<p>The network interfaces for the instance.</p>",
          "items": {
            "$ref": "#/definitions/InstanceNetworkInterface"
          },
          "x-ms-identifiers": []
        },
        "outpostArn": {
          "type": "string",
          "description": "<p>The Amazon Resource Name (ARN) of the Outpost.</p>"
        },
        "placement": {
          "$ref": "#/definitions/Placement",
          "description": "<p>The location where the instance launched, if applicable.</p>"
        },
        "platform": {
          "$ref": "#/definitions/PlatformValuesEnumValue",
          "description": "<p>The platform. This value is <code>windows</code> for Windows instances; otherwise, it is empty.</p>"
        },
        "platformDetails": {
          "type": "string",
          "description": "<p>The platform details value for the instance. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/billing-info-fields.html'>AMI billing information fields</a> in the <i>Amazon EC2 User Guide</i>.</p>"
        },
        "privateDnsName": {
          "type": "string",
          "description": "<p>[IPv4 only] The private DNS hostname name assigned to the instance. This DNS hostname can only be used inside the Amazon EC2 network. This name is not available until the instance enters the <code>running</code> state. </p> <p>The Amazon-provided DNS server resolves Amazon-provided private DNS hostnames if you've enabled DNS resolution and DNS hostnames in your VPC. If you are not using the Amazon-provided DNS server in your VPC, your custom domain name servers must resolve the hostname as appropriate.</p>"
        },
        "privateDnsNameOptions": {
          "$ref": "#/definitions/PrivateDnsNameOptionsResponse",
          "description": "<p>The options for the instance hostname.</p>"
        },
        "privateIpAddress": {
          "type": "string",
          "description": "<p>The private IPv4 address assigned to the instance.</p>"
        },
        "productCodes": {
          "type": "array",
          "description": "<p>The product codes attached to this instance, if applicable.</p>",
          "items": {
            "$ref": "#/definitions/ProductCode"
          },
          "x-ms-identifiers": []
        },
        "publicDnsName": {
          "type": "string",
          "description": "<p>[IPv4 only] The public DNS name assigned to the instance. This name is not available until the instance enters the <code>running</code> state. This name is only available if you've enabled DNS hostnames for your VPC.</p>"
        },
        "publicIpAddress": {
          "type": "string",
          "description": "<p>The public IPv4 address, or the Carrier IP address assigned to the instance, if applicable.</p> <p>A Carrier IP address only applies to an instance launched in a subnet associated with a Wavelength Zone.</p>"
        },
        "ramdiskId": {
          "type": "string",
          "description": "<p>The RAM disk associated with this instance, if applicable.</p>"
        },
        "rootDeviceName": {
          "type": "string",
          "description": "<p>The device name of the root device volume (for example, <code>/dev/sda1</code>).</p>"
        },
        "rootDeviceType": {
          "$ref": "#/definitions/DeviceTypeEnumValue",
          "description": "<p>The root device type used by the AMI. The AMI can use an EBS volume or an instance store volume.</p>"
        },
        "securityGroups": {
          "type": "array",
          "description": "<p>The security groups for the instance.</p>",
          "items": {
            "$ref": "#/definitions/GroupIdentifier"
          },
          "x-ms-identifiers": []
        },
        "sourceDestCheck": {
          "type": "boolean",
          "description": "<p>Indicates whether source/destination checking is enabled.</p>"
        },
        "spotInstanceRequestId": {
          "type": "string",
          "description": "<p>If the request is a Spot Instance request, the ID of the request.</p>"
        },
        "sriovNetSupport": {
          "type": "string",
          "description": "<p>Specifies whether enhanced networking with the Intel 82599 Virtual Function interface is enabled.</p>"
        },
        "state": {
          "$ref": "#/definitions/InstanceState",
          "description": "<p>The current state of the instance.</p>"
        },
        "stateReason": {
          "$ref": "#/definitions/StateReason",
          "description": "<p>The reason for the most recent state transition.</p>"
        },
        "stateTransitionReason": {
          "type": "string",
          "description": "<p>The reason for the most recent state transition. This might be an empty string.</p>"
        },
        "subnetId": {
          "type": "string",
          "description": "<p>The ID of the subnet in which the instance is running.</p>"
        },
        "tags": {
          "type": "array",
          "description": "<p>Any tags assigned to the instance.</p>",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "tpmSupport": {
          "type": "string",
          "description": "<p>If the instance is configured for NitroTPM support, the value is <code>v2.0</code>. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/nitrotpm.html'>NitroTPM</a> in the <i>Amazon EC2 User Guide</i>.</p>"
        },
        "usageOperation": {
          "type": "string",
          "description": "<p>The usage operation value for the instance. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/billing-info-fields.html'>AMI billing information fields</a> in the <i>Amazon EC2 User Guide</i>.</p>"
        },
        "usageOperationUpdateTime": {
          "type": "string",
          "format": "date-time",
          "description": "<p>The time that the usage operation was last updated.</p>"
        },
        "virtualizationType": {
          "$ref": "#/definitions/VirtualizationTypeEnumValue",
          "description": "<p>The virtualization type of the instance.</p>"
        },
        "vpcId": {
          "type": "string",
          "description": "<p>The ID of the VPC in which the instance is running.</p>"
        }
      }
    },
    "BootModeValues": {
      "type": "string",
      "description": "BootModeValues enum",
      "enum": [
        "legacy-bios",
        "uefi",
        "uefi-preferred"
      ],
      "x-ms-enum": {
        "name": "BootModeValues",
        "modelAsString": true,
        "values": [
          {
            "name": "LegacyBios",
            "value": "legacy-bios",
            "description": "BootModeValues enum legacy-bios"
          },
          {
            "name": "Uefi",
            "value": "uefi",
            "description": "BootModeValues enum uefi"
          },
          {
            "name": "UefiPreferred",
            "value": "uefi-preferred",
            "description": "BootModeValues enum uefi-preferred"
          }
        ]
      }
    },
    "BootModeValuesEnumValue": {
      "type": "object",
      "description": "Definition of BootModeValuesEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/BootModeValues",
          "description": "Property value"
        }
      }
    },
    "CapacityReservationPreference": {
      "type": "string",
      "description": "CapacityReservationPreference enum",
      "enum": [
        "none",
        "open"
      ],
      "x-ms-enum": {
        "name": "CapacityReservationPreference",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "none",
            "description": "CapacityReservationPreference enum none"
          },
          {
            "name": "Open",
            "value": "open",
            "description": "CapacityReservationPreference enum open"
          }
        ]
      }
    },
    "CapacityReservationPreferenceEnumValue": {
      "type": "object",
      "description": "Definition of CapacityReservationPreferenceEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/CapacityReservationPreference",
          "description": "Property value"
        }
      }
    },
    "CapacityReservationSpecificationResponse": {
      "type": "object",
      "description": "Definition of CapacityReservationSpecificationResponse",
      "properties": {
        "capacityReservationPreference": {
          "$ref": "#/definitions/CapacityReservationPreferenceEnumValue",
          "description": "<p>Describes the instance's Capacity Reservation preferences. Possible preferences include:</p> <ul> <li> <p> <code>open</code> - The instance can run in any <code>open</code> Capacity Reservation that has matching attributes (instance type, platform, Availability Zone).</p> </li> <li> <p> <code>none</code> - The instance avoids running in a Capacity Reservation even if one is available. The instance runs in On-Demand capacity.</p> </li> </ul>"
        },
        "capacityReservationTarget": {
          "$ref": "#/definitions/CapacityReservationTargetResponse",
          "description": "<p>Information about the targeted Capacity Reservation or Capacity Reservation group.</p>"
        }
      }
    },
    "CapacityReservationTargetResponse": {
      "type": "object",
      "description": "Definition of CapacityReservationTargetResponse",
      "properties": {
        "capacityReservationId": {
          "type": "string",
          "description": "<p>The ID of the targeted Capacity Reservation.</p>"
        },
        "capacityReservationResourceGroupArn": {
          "type": "string",
          "description": "<p>The ARN of the targeted Capacity Reservation group.</p>"
        }
      }
    },
    "ConnectionTrackingSpecificationResponse": {
      "type": "object",
      "description": "Definition of ConnectionTrackingSpecificationResponse",
      "properties": {
        "tcpEstablishedTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "<p>Timeout (in seconds) for idle TCP connections in an established state. Min: 60 seconds. Max: 432000 seconds (5 days). Default: 432000 seconds. Recommended: Less than 432000 seconds.</p>",
          "default": 432000
        },
        "udpStreamTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "<p>Timeout (in seconds) for idle UDP flows classified as streams which have seen more than one request-response transaction. Min: 60 seconds. Max: 180 seconds (3 minutes). Default: 180 seconds.</p>",
          "default": 180
        },
        "udpTimeout": {
          "type": "integer",
          "format": "int32",
          "description": "<p>Timeout (in seconds) for idle UDP flows that have seen traffic only in a single direction or a single request-response transaction. Min: 30 seconds. Max: 60 seconds. Default: 30 seconds.</p>",
          "default": 30
        }
      }
    },
    "CpuOptions": {
      "type": "object",
      "description": "Definition of CpuOptions",
      "properties": {
        "amdSevSnp": {
          "$ref": "#/definitions/AmdSevSnpSpecificationEnumValue",
          "description": "<p>Indicates whether the instance is enabled for AMD SEV-SNP. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/sev-snp.html'>AMD SEV-SNP</a>.</p>"
        },
        "coreCount": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The number of CPU cores for the instance.</p>"
        },
        "threadsPerCore": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The number of threads per CPU core.</p>"
        }
      }
    },
    "DeviceType": {
      "type": "string",
      "description": "DeviceType enum",
      "enum": [
        "ebs",
        "instance-store"
      ],
      "x-ms-enum": {
        "name": "DeviceType",
        "modelAsString": true,
        "values": [
          {
            "name": "Ebs",
            "value": "ebs",
            "description": "DeviceType enum ebs"
          },
          {
            "name": "InstanceStore",
            "value": "instance-store",
            "description": "DeviceType enum instance-store"
          }
        ]
      }
    },
    "DeviceTypeEnumValue": {
      "type": "object",
      "description": "Definition of DeviceTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/DeviceType",
          "description": "Property value"
        }
      }
    },
    "EbsInstanceBlockDevice": {
      "type": "object",
      "description": "Definition of EbsInstanceBlockDevice",
      "properties": {
        "associatedResource": {
          "type": "string",
          "description": "<p>The ARN of the Amazon ECS or Fargate task to which the volume is attached.</p>"
        },
        "attachTime": {
          "type": "string",
          "format": "date-time",
          "description": "<p>The time stamp when the attachment initiated.</p>"
        },
        "deleteOnTermination": {
          "type": "boolean",
          "description": "<p>Indicates whether the volume is deleted on instance termination.</p>"
        },
        "status": {
          "$ref": "#/definitions/AttachmentStatusEnumValue",
          "description": "<p>The attachment state.</p>"
        },
        "volumeId": {
          "type": "string",
          "description": "<p>The ID of the EBS volume.</p>"
        },
        "volumeOwnerId": {
          "type": "string",
          "description": "<p>The ID of the Amazon Web Services account that owns the volume.</p> <p>This parameter is returned only for volumes that are attached to Fargate tasks.</p>"
        }
      }
    },
    "Ec2Instance": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Ec2InstanceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "Ec2InstanceListResult": {
      "type": "object",
      "description": "The response of a Ec2Instance list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Ec2Instance items on this page",
          "items": {
            "$ref": "#/definitions/Ec2Instance"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Ec2InstanceProperties": {
      "type": "object",
      "description": "Definition of Ec2Instance",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsEc2InstanceProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "ElasticGpuAssociation": {
      "type": "object",
      "description": "Definition of ElasticGpuAssociation",
      "properties": {
        "elasticGpuAssociationId": {
          "type": "string",
          "description": "<p>The ID of the association.</p>"
        },
        "elasticGpuAssociationState": {
          "type": "string",
          "description": "<p>The state of the association between the instance and the Elastic Graphics accelerator.</p>"
        },
        "elasticGpuAssociationTime": {
          "type": "string",
          "description": "<p>The time the Elastic Graphics accelerator was associated with the instance.</p>"
        },
        "elasticGpuId": {
          "type": "string",
          "description": "<p>The ID of the Elastic Graphics accelerator.</p>"
        }
      }
    },
    "ElasticInferenceAcceleratorAssociation": {
      "type": "object",
      "description": "Definition of ElasticInferenceAcceleratorAssociation",
      "properties": {
        "elasticInferenceAcceleratorArn": {
          "type": "string",
          "description": "<p> The Amazon Resource Name (ARN) of the elastic inference accelerator. </p>"
        },
        "elasticInferenceAcceleratorAssociationId": {
          "type": "string",
          "description": "<p> The ID of the association. </p>"
        },
        "elasticInferenceAcceleratorAssociationState": {
          "type": "string",
          "description": "<p> The state of the elastic inference accelerator. </p>"
        },
        "elasticInferenceAcceleratorAssociationTime": {
          "type": "string",
          "format": "date-time",
          "description": "<p> The time at which the elastic inference accelerator is associated with an instance. </p>"
        }
      }
    },
    "EnclaveOptions": {
      "type": "object",
      "description": "Definition of EnclaveOptions",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "<p>If this parameter is set to <code>true</code>, the instance is enabled for Amazon Web Services Nitro Enclaves; otherwise, it is not enabled for Amazon Web Services Nitro Enclaves.</p>"
        }
      }
    },
    "GroupIdentifier": {
      "type": "object",
      "description": "Definition of GroupIdentifier",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "<p>The ID of the security group.</p>"
        },
        "groupName": {
          "type": "string",
          "description": "<p>The name of the security group.</p>"
        }
      }
    },
    "HibernationOptions": {
      "type": "object",
      "description": "Definition of HibernationOptions",
      "properties": {
        "configured": {
          "type": "boolean",
          "description": "<p>If <code>true</code>, your instance is enabled for hibernation; otherwise, it is not enabled for hibernation.</p>"
        }
      }
    },
    "HostnameType": {
      "type": "string",
      "description": "HostnameType enum",
      "enum": [
        "ip-name",
        "resource-name"
      ],
      "x-ms-enum": {
        "name": "HostnameType",
        "modelAsString": true,
        "values": [
          {
            "name": "IpName",
            "value": "ip-name",
            "description": "HostnameType enum ip-name"
          },
          {
            "name": "ResourceName",
            "value": "resource-name",
            "description": "HostnameType enum resource-name"
          }
        ]
      }
    },
    "HostnameTypeEnumValue": {
      "type": "object",
      "description": "Definition of HostnameTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/HostnameType",
          "description": "Property value"
        }
      }
    },
    "HttpTokensState": {
      "type": "string",
      "description": "HttpTokensState enum",
      "enum": [
        "optional",
        "required"
      ],
      "x-ms-enum": {
        "name": "HttpTokensState",
        "modelAsString": true,
        "values": [
          {
            "name": "Optional",
            "value": "optional",
            "description": "HttpTokensState enum optional"
          },
          {
            "name": "Required",
            "value": "required",
            "description": "HttpTokensState enum required"
          }
        ]
      }
    },
    "HttpTokensStateEnumValue": {
      "type": "object",
      "description": "Definition of HttpTokensStateEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/HttpTokensState",
          "description": "Property value"
        }
      }
    },
    "HypervisorType": {
      "type": "string",
      "description": "HypervisorType enum",
      "enum": [
        "ovm",
        "xen"
      ],
      "x-ms-enum": {
        "name": "HypervisorType",
        "modelAsString": true,
        "values": [
          {
            "name": "Ovm",
            "value": "ovm",
            "description": "HypervisorType enum ovm"
          },
          {
            "name": "Xen",
            "value": "xen",
            "description": "HypervisorType enum xen"
          }
        ]
      }
    },
    "HypervisorTypeEnumValue": {
      "type": "object",
      "description": "Definition of HypervisorTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/HypervisorType",
          "description": "Property value"
        }
      }
    },
    "IamInstanceProfile": {
      "type": "object",
      "description": "Definition of IamInstanceProfile",
      "properties": {
        "arn": {
          "type": "string",
          "description": "<p>The Amazon Resource Name (ARN) of the instance profile.</p>"
        },
        "id": {
          "type": "string",
          "description": "<p>The ID of the instance profile.</p>"
        }
      }
    },
    "InstanceAttachmentEnaSrdSpecification": {
      "type": "object",
      "description": "Definition of InstanceAttachmentEnaSrdSpecification",
      "properties": {
        "enaSrdEnabled": {
          "type": "boolean",
          "description": "<p>Indicates whether ENA Express is enabled for the network interface.</p>"
        },
        "enaSrdUdpSpecification": {
          "$ref": "#/definitions/InstanceAttachmentEnaSrdUdpSpecification",
          "description": "<p>Configures ENA Express for UDP network traffic.</p>"
        }
      }
    },
    "InstanceAttachmentEnaSrdUdpSpecification": {
      "type": "object",
      "description": "Definition of InstanceAttachmentEnaSrdUdpSpecification",
      "properties": {
        "enaSrdUdpEnabled": {
          "type": "boolean",
          "description": "<p>Indicates whether UDP traffic to and from the instance uses ENA Express. To specify this setting, you must first enable ENA Express.</p>"
        }
      }
    },
    "InstanceAutoRecoveryState": {
      "type": "string",
      "description": "InstanceAutoRecoveryState enum",
      "enum": [
        "default",
        "disabled"
      ],
      "x-ms-enum": {
        "name": "InstanceAutoRecoveryState",
        "modelAsString": true,
        "values": [
          {
            "name": "Default",
            "value": "default",
            "description": "InstanceAutoRecoveryState enum default"
          },
          {
            "name": "Disabled",
            "value": "disabled",
            "description": "InstanceAutoRecoveryState enum disabled"
          }
        ]
      }
    },
    "InstanceAutoRecoveryStateEnumValue": {
      "type": "object",
      "description": "Definition of InstanceAutoRecoveryStateEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/InstanceAutoRecoveryState",
          "description": "Property value"
        }
      }
    },
    "InstanceBlockDeviceMapping": {
      "type": "object",
      "description": "Definition of InstanceBlockDeviceMapping",
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "<p>The device name (for example, <code>/dev/sdh</code> or <code>xvdh</code>).</p>"
        },
        "ebs": {
          "$ref": "#/definitions/EbsInstanceBlockDevice",
          "description": "<p>Parameters used to automatically set up EBS volumes when the instance is launched.</p>"
        }
      }
    },
    "InstanceBootModeValues": {
      "type": "string",
      "description": "InstanceBootModeValues enum",
      "enum": [
        "legacy-bios",
        "uefi"
      ],
      "x-ms-enum": {
        "name": "InstanceBootModeValues",
        "modelAsString": true,
        "values": [
          {
            "name": "LegacyBios",
            "value": "legacy-bios",
            "description": "InstanceBootModeValues enum legacy-bios"
          },
          {
            "name": "Uefi",
            "value": "uefi",
            "description": "InstanceBootModeValues enum uefi"
          }
        ]
      }
    },
    "InstanceBootModeValuesEnumValue": {
      "type": "object",
      "description": "Definition of InstanceBootModeValuesEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/InstanceBootModeValues",
          "description": "Property value"
        }
      }
    },
    "InstanceIpv4Prefix": {
      "type": "object",
      "description": "Definition of InstanceIpv4Prefix",
      "properties": {
        "ipv4Prefix": {
          "type": "string",
          "description": "<p>One or more IPv4 prefixes assigned to the network interface.</p>"
        }
      }
    },
    "InstanceIpv6Address": {
      "type": "object",
      "description": "Definition of InstanceIpv6Address",
      "properties": {
        "ipv6Address": {
          "type": "string",
          "description": "<p>The IPv6 address.</p>"
        },
        "isPrimaryIpv6": {
          "type": "boolean",
          "description": "<p>Determines if an IPv6 address associated with a network interface is the primary IPv6 address. When you enable an IPv6 GUA address to be a primary IPv6, the first IPv6 GUA will be made the primary IPv6 address until the instance is terminated or the network interface is detached. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_RunInstances.html'>RunInstances</a>.</p>"
        }
      }
    },
    "InstanceIpv6Prefix": {
      "type": "object",
      "description": "Definition of InstanceIpv6Prefix",
      "properties": {
        "ipv6Prefix": {
          "type": "string",
          "description": "<p>One or more IPv6 prefixes assigned to the network interface.</p>"
        }
      }
    },
    "InstanceLifecycleType": {
      "type": "string",
      "description": "InstanceLifecycleType enum",
      "enum": [
        "capacity-block",
        "scheduled",
        "spot"
      ],
      "x-ms-enum": {
        "name": "InstanceLifecycleType",
        "modelAsString": true,
        "values": [
          {
            "name": "CapacityBlock",
            "value": "capacity-block",
            "description": "InstanceLifecycleType enum capacity-block"
          },
          {
            "name": "Scheduled",
            "value": "scheduled",
            "description": "InstanceLifecycleType enum scheduled"
          },
          {
            "name": "Spot",
            "value": "spot",
            "description": "InstanceLifecycleType enum spot"
          }
        ]
      }
    },
    "InstanceLifecycleTypeEnumValue": {
      "type": "object",
      "description": "Definition of InstanceLifecycleTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/InstanceLifecycleType",
          "description": "Property value"
        }
      }
    },
    "InstanceMaintenanceOptions": {
      "type": "object",
      "description": "Definition of InstanceMaintenanceOptions",
      "properties": {
        "autoRecovery": {
          "$ref": "#/definitions/InstanceAutoRecoveryStateEnumValue",
          "description": "<p>Provides information on the current automatic recovery behavior of your instance.</p>"
        }
      }
    },
    "InstanceMetadataEndpointState": {
      "type": "string",
      "description": "InstanceMetadataEndpointState enum",
      "enum": [
        "disabled",
        "enabled"
      ],
      "x-ms-enum": {
        "name": "InstanceMetadataEndpointState",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "disabled",
            "description": "InstanceMetadataEndpointState enum disabled"
          },
          {
            "name": "Enabled",
            "value": "enabled",
            "description": "InstanceMetadataEndpointState enum enabled"
          }
        ]
      }
    },
    "InstanceMetadataEndpointStateEnumValue": {
      "type": "object",
      "description": "Definition of InstanceMetadataEndpointStateEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/InstanceMetadataEndpointState",
          "description": "Property value"
        }
      }
    },
    "InstanceMetadataOptionsResponse": {
      "type": "object",
      "description": "Definition of InstanceMetadataOptionsResponse",
      "properties": {
        "httpEndpoint": {
          "$ref": "#/definitions/InstanceMetadataEndpointStateEnumValue",
          "description": "<p>Indicates whether the HTTP metadata endpoint on your instances is enabled or disabled.</p> <p>If the value is <code>disabled</code>, you cannot access your instance metadata.</p>"
        },
        "httpProtocolIpv6": {
          "$ref": "#/definitions/InstanceMetadataProtocolStateEnumValue",
          "description": "<p>Indicates whether the IPv6 endpoint for the instance metadata service is enabled or disabled.</p> <p>Default: <code>disabled</code> </p>"
        },
        "httpPutResponseHopLimit": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The maximum number of hops that the metadata token can travel.</p> <p>Possible values: Integers from <code>1</code> to <code>64</code> </p>"
        },
        "httpTokens": {
          "$ref": "#/definitions/HttpTokensStateEnumValue",
          "description": "<p>Indicates whether IMDSv2 is required.</p> <ul> <li> <p> <code>optional</code> - IMDSv2 is optional, which means that you can use either IMDSv2 or IMDSv1.</p> </li> <li> <p> <code>required</code> - IMDSv2 is required, which means that IMDSv1 is disabled, and you must use IMDSv2.</p> </li> </ul>"
        },
        "instanceMetadataTags": {
          "$ref": "#/definitions/InstanceMetadataTagsStateEnumValue",
          "description": "<p>Indicates whether access to instance tags from the instance metadata is enabled or disabled. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#work-with-tags-in-IMDS'>Work with instance tags using the instance metadata</a>.</p>"
        },
        "state": {
          "$ref": "#/definitions/InstanceMetadataOptionsStateEnumValue",
          "description": "<p>The state of the metadata option changes.</p> <p> <code>pending</code> - The metadata options are being updated and the instance is not ready to process metadata traffic with the new selection.</p> <p> <code>applied</code> - The metadata options have been successfully applied on the instance.</p>"
        }
      }
    },
    "InstanceMetadataOptionsState": {
      "type": "string",
      "description": "InstanceMetadataOptionsState enum",
      "enum": [
        "applied",
        "pending"
      ],
      "x-ms-enum": {
        "name": "InstanceMetadataOptionsState",
        "modelAsString": true,
        "values": [
          {
            "name": "Applied",
            "value": "applied",
            "description": "InstanceMetadataOptionsState enum applied"
          },
          {
            "name": "Pending",
            "value": "pending",
            "description": "InstanceMetadataOptionsState enum pending"
          }
        ]
      }
    },
    "InstanceMetadataOptionsStateEnumValue": {
      "type": "object",
      "description": "Definition of InstanceMetadataOptionsStateEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/InstanceMetadataOptionsState",
          "description": "Property value"
        }
      }
    },
    "InstanceMetadataProtocolState": {
      "type": "string",
      "description": "InstanceMetadataProtocolState enum",
      "enum": [
        "disabled",
        "enabled"
      ],
      "x-ms-enum": {
        "name": "InstanceMetadataProtocolState",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "disabled",
            "description": "InstanceMetadataProtocolState enum disabled"
          },
          {
            "name": "Enabled",
            "value": "enabled",
            "description": "InstanceMetadataProtocolState enum enabled"
          }
        ]
      }
    },
    "InstanceMetadataProtocolStateEnumValue": {
      "type": "object",
      "description": "Definition of InstanceMetadataProtocolStateEnumValue",
      "properties": {
        "value": {
          "type": "string",
          "description": "Property value",
          "default": "disabled",
          "enum": [
            "disabled",
            "enabled"
          ],
          "x-ms-enum": {
            "name": "InstanceMetadataProtocolState",
            "modelAsString": true,
            "values": [
              {
                "name": "Disabled",
                "value": "disabled",
                "description": "InstanceMetadataProtocolState enum disabled"
              },
              {
                "name": "Enabled",
                "value": "enabled",
                "description": "InstanceMetadataProtocolState enum enabled"
              }
            ]
          }
        }
      }
    },
    "InstanceMetadataTagsState": {
      "type": "string",
      "description": "InstanceMetadataTagsState enum",
      "enum": [
        "disabled",
        "enabled"
      ],
      "x-ms-enum": {
        "name": "InstanceMetadataTagsState",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "disabled",
            "description": "InstanceMetadataTagsState enum disabled"
          },
          {
            "name": "Enabled",
            "value": "enabled",
            "description": "InstanceMetadataTagsState enum enabled"
          }
        ]
      }
    },
    "InstanceMetadataTagsStateEnumValue": {
      "type": "object",
      "description": "Definition of InstanceMetadataTagsStateEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/InstanceMetadataTagsState",
          "description": "Property value"
        }
      }
    },
    "InstanceNetworkInterface": {
      "type": "object",
      "description": "Definition of InstanceNetworkInterface",
      "properties": {
        "association": {
          "$ref": "#/definitions/InstanceNetworkInterfaceAssociation",
          "description": "<p>The association information for an Elastic IPv4 associated with the network interface.</p>"
        },
        "attachment": {
          "$ref": "#/definitions/InstanceNetworkInterfaceAttachment",
          "description": "<p>The network interface attachment.</p>"
        },
        "connectionTrackingConfiguration": {
          "$ref": "#/definitions/ConnectionTrackingSpecificationResponse",
          "description": "<p>A security group connection tracking configuration that enables you to set the timeout for connection tracking on an Elastic network interface. For more information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/security-group-connection-tracking.html#connection-tracking-timeouts'>Connection tracking timeouts</a> in the <i>Amazon Elastic Compute Cloud User Guide</i>.</p>"
        },
        "description": {
          "type": "string",
          "description": "<p>The description.</p>"
        },
        "groups": {
          "type": "array",
          "description": "<p>The security groups.</p>",
          "items": {
            "$ref": "#/definitions/GroupIdentifier"
          },
          "x-ms-identifiers": []
        },
        "interfaceType": {
          "type": "string",
          "description": "<p>The type of network interface.</p> <p>Valid values: <code>interface</code> | <code>efa</code> | <code>trunk</code> </p>"
        },
        "ipv4Prefixes": {
          "type": "array",
          "description": "<p>The IPv4 delegated prefixes that are assigned to the network interface.</p>",
          "items": {
            "$ref": "#/definitions/InstanceIpv4Prefix"
          },
          "x-ms-identifiers": []
        },
        "ipv6Addresses": {
          "type": "array",
          "description": "<p>The IPv6 addresses associated with the network interface.</p>",
          "items": {
            "$ref": "#/definitions/InstanceIpv6Address"
          },
          "x-ms-identifiers": []
        },
        "ipv6Prefixes": {
          "type": "array",
          "description": "<p>The IPv6 delegated prefixes that are assigned to the network interface.</p>",
          "items": {
            "$ref": "#/definitions/InstanceIpv6Prefix"
          },
          "x-ms-identifiers": []
        },
        "macAddress": {
          "type": "string",
          "description": "<p>The MAC address.</p>"
        },
        "networkInterfaceId": {
          "type": "string",
          "description": "<p>The ID of the network interface.</p>"
        },
        "ownerId": {
          "type": "string",
          "description": "<p>The ID of the Amazon Web Services account that created the network interface.</p>"
        },
        "privateDnsName": {
          "type": "string",
          "description": "<p>The private DNS name.</p>"
        },
        "privateIpAddress": {
          "type": "string",
          "description": "<p>The IPv4 address of the network interface within the subnet.</p>"
        },
        "privateIpAddresses": {
          "type": "array",
          "description": "<p>The private IPv4 addresses associated with the network interface.</p>",
          "items": {
            "$ref": "#/definitions/InstancePrivateIpAddress"
          },
          "x-ms-identifiers": []
        },
        "sourceDestCheck": {
          "type": "boolean",
          "description": "<p>Indicates whether source/destination checking is enabled.</p>"
        },
        "status": {
          "$ref": "#/definitions/NetworkInterfaceStatusEnumValue",
          "description": "<p>The status of the network interface.</p>"
        },
        "subnetId": {
          "type": "string",
          "description": "<p>The ID of the subnet.</p>"
        },
        "vpcId": {
          "type": "string",
          "description": "<p>The ID of the VPC.</p>"
        }
      }
    },
    "InstanceNetworkInterfaceAssociation": {
      "type": "object",
      "description": "Definition of InstanceNetworkInterfaceAssociation",
      "properties": {
        "carrierIp": {
          "type": "string",
          "description": "<p>The carrier IP address associated with the network interface.</p>"
        },
        "customerOwnedIp": {
          "type": "string",
          "description": "<p>The customer-owned IP address associated with the network interface.</p>"
        },
        "ipOwnerId": {
          "type": "string",
          "description": "<p>The ID of the owner of the Elastic IP address.</p>"
        },
        "publicDnsName": {
          "type": "string",
          "description": "<p>The public DNS name.</p>"
        },
        "publicIp": {
          "type": "string",
          "description": "<p>The public IP address or Elastic IP address bound to the network interface.</p>"
        }
      }
    },
    "InstanceNetworkInterfaceAttachment": {
      "type": "object",
      "description": "Definition of InstanceNetworkInterfaceAttachment",
      "properties": {
        "attachTime": {
          "type": "string",
          "format": "date-time",
          "description": "<p>The time stamp when the attachment initiated.</p>"
        },
        "attachmentId": {
          "type": "string",
          "description": "<p>The ID of the network interface attachment.</p>"
        },
        "deleteOnTermination": {
          "type": "boolean",
          "description": "<p>Indicates whether the network interface is deleted when the instance is terminated.</p>"
        },
        "deviceIndex": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The index of the device on the instance for the network interface attachment.</p>"
        },
        "enaSrdSpecification": {
          "$ref": "#/definitions/InstanceAttachmentEnaSrdSpecification",
          "description": "<p>Contains the ENA Express settings for the network interface that's attached to the instance.</p>"
        },
        "networkCardIndex": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The index of the network card.</p>"
        },
        "status": {
          "$ref": "#/definitions/AttachmentStatusEnumValue",
          "description": "<p>The attachment state.</p>"
        }
      }
    },
    "InstancePrivateIpAddress": {
      "type": "object",
      "description": "Definition of InstancePrivateIpAddress",
      "properties": {
        "association": {
          "$ref": "#/definitions/InstanceNetworkInterfaceAssociation",
          "description": "<p>The association information for an Elastic IP address for the network interface.</p>"
        },
        "primary": {
          "type": "boolean",
          "description": "<p>Indicates whether this IPv4 address is the primary private IP address of the network interface.</p>"
        },
        "privateDnsName": {
          "type": "string",
          "description": "<p>The private IPv4 DNS name.</p>"
        },
        "privateIpAddress": {
          "type": "string",
          "description": "<p>The private IPv4 address of the network interface.</p>"
        }
      }
    },
    "InstanceState": {
      "type": "object",
      "description": "Definition of InstanceState",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "<p>The state of the instance as a 16-bit unsigned integer. </p> <p>The high byte is all of the bits between 2^8 and (2^16)-1, which equals decimal values between 256 and 65,535. These numerical values are used for internal purposes and should be ignored.</p> <p>The low byte is all of the bits between 2^0 and (2^8)-1, which equals decimal values between 0 and 255. </p> <p>The valid values for instance-state-code will all be in the range of the low byte and they are:</p> <ul> <li> <p> <code>0</code> : <code>pending</code> </p> </li> <li> <p> <code>16</code> : <code>running</code> </p> </li> <li> <p> <code>32</code> : <code>shutting-down</code> </p> </li> <li> <p> <code>48</code> : <code>terminated</code> </p> </li> <li> <p> <code>64</code> : <code>stopping</code> </p> </li> <li> <p> <code>80</code> : <code>stopped</code> </p> </li> </ul> <p>You can ignore the high byte value by zeroing out all of the bits above 2^8 or 256 in decimal.</p>"
        },
        "name": {
          "$ref": "#/definitions/InstanceStateNameEnumValue",
          "description": "<p>The current state of the instance.</p>"
        }
      }
    },
    "InstanceStateName": {
      "type": "string",
      "description": "InstanceStateName enum",
      "enum": [
        "pending",
        "running",
        "shutting-down",
        "stopped",
        "stopping",
        "terminated"
      ],
      "x-ms-enum": {
        "name": "InstanceStateName",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "pending",
            "description": "InstanceStateName enum pending"
          },
          {
            "name": "Running",
            "value": "running",
            "description": "InstanceStateName enum running"
          },
          {
            "name": "ShuttingDown",
            "value": "shutting-down",
            "description": "InstanceStateName enum shutting-down"
          },
          {
            "name": "Stopped",
            "value": "stopped",
            "description": "InstanceStateName enum stopped"
          },
          {
            "name": "Stopping",
            "value": "stopping",
            "description": "InstanceStateName enum stopping"
          },
          {
            "name": "Terminated",
            "value": "terminated",
            "description": "InstanceStateName enum terminated"
          }
        ]
      }
    },
    "InstanceStateNameEnumValue": {
      "type": "object",
      "description": "Definition of InstanceStateNameEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/InstanceStateName",
          "description": "Property value"
        }
      }
    },
    "InstanceType": {
      "type": "string",
      "description": "InstanceType enum",
      "enum": [
        "a1.2xlarge",
        "a1.4xlarge",
        "a1.large",
        "a1.medium",
        "a1.metal",
        "a1.xlarge",
        "c1.medium",
        "c1.xlarge",
        "c3.2xlarge",
        "c3.4xlarge",
        "c3.8xlarge",
        "c3.large",
        "c3.xlarge",
        "c4.2xlarge",
        "c4.4xlarge",
        "c4.8xlarge",
        "c4.large",
        "c4.xlarge",
        "c5.12xlarge",
        "c5.18xlarge",
        "c5.24xlarge",
        "c5.2xlarge",
        "c5.4xlarge",
        "c5.9xlarge",
        "c5.large",
        "c5.metal",
        "c5.xlarge",
        "c5a.12xlarge",
        "c5a.16xlarge",
        "c5a.24xlarge",
        "c5a.2xlarge",
        "c5a.4xlarge",
        "c5a.8xlarge",
        "c5a.large",
        "c5a.xlarge",
        "c5ad.12xlarge",
        "c5ad.16xlarge",
        "c5ad.24xlarge",
        "c5ad.2xlarge",
        "c5ad.4xlarge",
        "c5ad.8xlarge",
        "c5ad.large",
        "c5ad.xlarge",
        "c5d.12xlarge",
        "c5d.18xlarge",
        "c5d.24xlarge",
        "c5d.2xlarge",
        "c5d.4xlarge",
        "c5d.9xlarge",
        "c5d.large",
        "c5d.metal",
        "c5d.xlarge",
        "c5n.18xlarge",
        "c5n.2xlarge",
        "c5n.4xlarge",
        "c5n.9xlarge",
        "c5n.large",
        "c5n.metal",
        "c5n.xlarge",
        "c6a.12xlarge",
        "c6a.16xlarge",
        "c6a.24xlarge",
        "c6a.2xlarge",
        "c6a.32xlarge",
        "c6a.48xlarge",
        "c6a.4xlarge",
        "c6a.8xlarge",
        "c6a.large",
        "c6a.metal",
        "c6a.xlarge",
        "c6g.12xlarge",
        "c6g.16xlarge",
        "c6g.2xlarge",
        "c6g.4xlarge",
        "c6g.8xlarge",
        "c6g.large",
        "c6g.medium",
        "c6g.metal",
        "c6g.xlarge",
        "c6gd.12xlarge",
        "c6gd.16xlarge",
        "c6gd.2xlarge",
        "c6gd.4xlarge",
        "c6gd.8xlarge",
        "c6gd.large",
        "c6gd.medium",
        "c6gd.metal",
        "c6gd.xlarge",
        "c6gn.12xlarge",
        "c6gn.16xlarge",
        "c6gn.2xlarge",
        "c6gn.4xlarge",
        "c6gn.8xlarge",
        "c6gn.large",
        "c6gn.medium",
        "c6gn.xlarge",
        "c6i.12xlarge",
        "c6i.16xlarge",
        "c6i.24xlarge",
        "c6i.2xlarge",
        "c6i.32xlarge",
        "c6i.4xlarge",
        "c6i.8xlarge",
        "c6i.large",
        "c6i.metal",
        "c6i.xlarge",
        "c6id.12xlarge",
        "c6id.16xlarge",
        "c6id.24xlarge",
        "c6id.2xlarge",
        "c6id.32xlarge",
        "c6id.4xlarge",
        "c6id.8xlarge",
        "c6id.large",
        "c6id.metal",
        "c6id.xlarge",
        "c6in.12xlarge",
        "c6in.16xlarge",
        "c6in.24xlarge",
        "c6in.2xlarge",
        "c6in.32xlarge",
        "c6in.4xlarge",
        "c6in.8xlarge",
        "c6in.large",
        "c6in.metal",
        "c6in.xlarge",
        "c7a.12xlarge",
        "c7a.16xlarge",
        "c7a.24xlarge",
        "c7a.2xlarge",
        "c7a.32xlarge",
        "c7a.48xlarge",
        "c7a.4xlarge",
        "c7a.8xlarge",
        "c7a.large",
        "c7a.medium",
        "c7a.metal-48xl",
        "c7a.xlarge",
        "c7g.12xlarge",
        "c7g.16xlarge",
        "c7g.2xlarge",
        "c7g.4xlarge",
        "c7g.8xlarge",
        "c7g.large",
        "c7g.medium",
        "c7g.metal",
        "c7g.xlarge",
        "c7gd.12xlarge",
        "c7gd.16xlarge",
        "c7gd.2xlarge",
        "c7gd.4xlarge",
        "c7gd.8xlarge",
        "c7gd.large",
        "c7gd.medium",
        "c7gd.metal",
        "c7gd.xlarge",
        "c7gn.12xlarge",
        "c7gn.16xlarge",
        "c7gn.2xlarge",
        "c7gn.4xlarge",
        "c7gn.8xlarge",
        "c7gn.large",
        "c7gn.medium",
        "c7gn.xlarge",
        "c7i.12xlarge",
        "c7i.16xlarge",
        "c7i.24xlarge",
        "c7i.2xlarge",
        "c7i.48xlarge",
        "c7i.4xlarge",
        "c7i.8xlarge",
        "c7i.large",
        "c7i.metal-24xl",
        "c7i.metal-48xl",
        "c7i.xlarge",
        "cc1.4xlarge",
        "cc2.8xlarge",
        "cg1.4xlarge",
        "cr1.8xlarge",
        "d2.2xlarge",
        "d2.4xlarge",
        "d2.8xlarge",
        "d2.xlarge",
        "d3.2xlarge",
        "d3.4xlarge",
        "d3.8xlarge",
        "d3.xlarge",
        "d3en.12xlarge",
        "d3en.2xlarge",
        "d3en.4xlarge",
        "d3en.6xlarge",
        "d3en.8xlarge",
        "d3en.xlarge",
        "dl1.24xlarge",
        "dl2q.24xlarge",
        "f1.16xlarge",
        "f1.2xlarge",
        "f1.4xlarge",
        "g2.2xlarge",
        "g2.8xlarge",
        "g3.16xlarge",
        "g3.4xlarge",
        "g3.8xlarge",
        "g3s.xlarge",
        "g4ad.16xlarge",
        "g4ad.2xlarge",
        "g4ad.4xlarge",
        "g4ad.8xlarge",
        "g4ad.xlarge",
        "g4dn.12xlarge",
        "g4dn.16xlarge",
        "g4dn.2xlarge",
        "g4dn.4xlarge",
        "g4dn.8xlarge",
        "g4dn.metal",
        "g4dn.xlarge",
        "g5.12xlarge",
        "g5.16xlarge",
        "g5.24xlarge",
        "g5.2xlarge",
        "g5.48xlarge",
        "g5.4xlarge",
        "g5.8xlarge",
        "g5.xlarge",
        "g5g.16xlarge",
        "g5g.2xlarge",
        "g5g.4xlarge",
        "g5g.8xlarge",
        "g5g.metal",
        "g5g.xlarge",
        "g6.12xlarge",
        "g6.16xlarge",
        "g6.24xlarge",
        "g6.2xlarge",
        "g6.48xlarge",
        "g6.4xlarge",
        "g6.8xlarge",
        "g6.xlarge",
        "gr6.4xlarge",
        "gr6.8xlarge",
        "h1.16xlarge",
        "h1.2xlarge",
        "h1.4xlarge",
        "h1.8xlarge",
        "hi1.4xlarge",
        "hpc6a.48xlarge",
        "hpc6id.32xlarge",
        "hpc7a.12xlarge",
        "hpc7a.24xlarge",
        "hpc7a.48xlarge",
        "hpc7a.96xlarge",
        "hpc7g.16xlarge",
        "hpc7g.4xlarge",
        "hpc7g.8xlarge",
        "hs1.8xlarge",
        "i2.2xlarge",
        "i2.4xlarge",
        "i2.8xlarge",
        "i2.xlarge",
        "i3.16xlarge",
        "i3.2xlarge",
        "i3.4xlarge",
        "i3.8xlarge",
        "i3.large",
        "i3.metal",
        "i3.xlarge",
        "i3en.12xlarge",
        "i3en.24xlarge",
        "i3en.2xlarge",
        "i3en.3xlarge",
        "i3en.6xlarge",
        "i3en.large",
        "i3en.metal",
        "i3en.xlarge",
        "i4g.16xlarge",
        "i4g.2xlarge",
        "i4g.4xlarge",
        "i4g.8xlarge",
        "i4g.large",
        "i4g.xlarge",
        "i4i.12xlarge",
        "i4i.16xlarge",
        "i4i.24xlarge",
        "i4i.2xlarge",
        "i4i.32xlarge",
        "i4i.4xlarge",
        "i4i.8xlarge",
        "i4i.large",
        "i4i.metal",
        "i4i.xlarge",
        "im4gn.16xlarge",
        "im4gn.2xlarge",
        "im4gn.4xlarge",
        "im4gn.8xlarge",
        "im4gn.large",
        "im4gn.xlarge",
        "inf1.24xlarge",
        "inf1.2xlarge",
        "inf1.6xlarge",
        "inf1.xlarge",
        "inf2.24xlarge",
        "inf2.48xlarge",
        "inf2.8xlarge",
        "inf2.xlarge",
        "is4gen.2xlarge",
        "is4gen.4xlarge",
        "is4gen.8xlarge",
        "is4gen.large",
        "is4gen.medium",
        "is4gen.xlarge",
        "m1.large",
        "m1.medium",
        "m1.small",
        "m1.xlarge",
        "m2.2xlarge",
        "m2.4xlarge",
        "m2.xlarge",
        "m3.2xlarge",
        "m3.large",
        "m3.medium",
        "m3.xlarge",
        "m4.10xlarge",
        "m4.16xlarge",
        "m4.2xlarge",
        "m4.4xlarge",
        "m4.large",
        "m4.xlarge",
        "m5.12xlarge",
        "m5.16xlarge",
        "m5.24xlarge",
        "m5.2xlarge",
        "m5.4xlarge",
        "m5.8xlarge",
        "m5.large",
        "m5.metal",
        "m5.xlarge",
        "m5a.12xlarge",
        "m5a.16xlarge",
        "m5a.24xlarge",
        "m5a.2xlarge",
        "m5a.4xlarge",
        "m5a.8xlarge",
        "m5a.large",
        "m5a.xlarge",
        "m5ad.12xlarge",
        "m5ad.16xlarge",
        "m5ad.24xlarge",
        "m5ad.2xlarge",
        "m5ad.4xlarge",
        "m5ad.8xlarge",
        "m5ad.large",
        "m5ad.xlarge",
        "m5d.12xlarge",
        "m5d.16xlarge",
        "m5d.24xlarge",
        "m5d.2xlarge",
        "m5d.4xlarge",
        "m5d.8xlarge",
        "m5d.large",
        "m5d.metal",
        "m5d.xlarge",
        "m5dn.12xlarge",
        "m5dn.16xlarge",
        "m5dn.24xlarge",
        "m5dn.2xlarge",
        "m5dn.4xlarge",
        "m5dn.8xlarge",
        "m5dn.large",
        "m5dn.metal",
        "m5dn.xlarge",
        "m5n.12xlarge",
        "m5n.16xlarge",
        "m5n.24xlarge",
        "m5n.2xlarge",
        "m5n.4xlarge",
        "m5n.8xlarge",
        "m5n.large",
        "m5n.metal",
        "m5n.xlarge",
        "m5zn.12xlarge",
        "m5zn.2xlarge",
        "m5zn.3xlarge",
        "m5zn.6xlarge",
        "m5zn.large",
        "m5zn.metal",
        "m5zn.xlarge",
        "m6a.12xlarge",
        "m6a.16xlarge",
        "m6a.24xlarge",
        "m6a.2xlarge",
        "m6a.32xlarge",
        "m6a.48xlarge",
        "m6a.4xlarge",
        "m6a.8xlarge",
        "m6a.large",
        "m6a.metal",
        "m6a.xlarge",
        "m6g.12xlarge",
        "m6g.16xlarge",
        "m6g.2xlarge",
        "m6g.4xlarge",
        "m6g.8xlarge",
        "m6g.large",
        "m6g.medium",
        "m6g.metal",
        "m6g.xlarge",
        "m6gd.12xlarge",
        "m6gd.16xlarge",
        "m6gd.2xlarge",
        "m6gd.4xlarge",
        "m6gd.8xlarge",
        "m6gd.large",
        "m6gd.medium",
        "m6gd.metal",
        "m6gd.xlarge",
        "m6i.12xlarge",
        "m6i.16xlarge",
        "m6i.24xlarge",
        "m6i.2xlarge",
        "m6i.32xlarge",
        "m6i.4xlarge",
        "m6i.8xlarge",
        "m6i.large",
        "m6i.metal",
        "m6i.xlarge",
        "m6id.12xlarge",
        "m6id.16xlarge",
        "m6id.24xlarge",
        "m6id.2xlarge",
        "m6id.32xlarge",
        "m6id.4xlarge",
        "m6id.8xlarge",
        "m6id.large",
        "m6id.metal",
        "m6id.xlarge",
        "m6idn.12xlarge",
        "m6idn.16xlarge",
        "m6idn.24xlarge",
        "m6idn.2xlarge",
        "m6idn.32xlarge",
        "m6idn.4xlarge",
        "m6idn.8xlarge",
        "m6idn.large",
        "m6idn.metal",
        "m6idn.xlarge",
        "m6in.12xlarge",
        "m6in.16xlarge",
        "m6in.24xlarge",
        "m6in.2xlarge",
        "m6in.32xlarge",
        "m6in.4xlarge",
        "m6in.8xlarge",
        "m6in.large",
        "m6in.metal",
        "m6in.xlarge",
        "m7a.12xlarge",
        "m7a.16xlarge",
        "m7a.24xlarge",
        "m7a.2xlarge",
        "m7a.32xlarge",
        "m7a.48xlarge",
        "m7a.4xlarge",
        "m7a.8xlarge",
        "m7a.large",
        "m7a.medium",
        "m7a.metal-48xl",
        "m7a.xlarge",
        "m7g.12xlarge",
        "m7g.16xlarge",
        "m7g.2xlarge",
        "m7g.4xlarge",
        "m7g.8xlarge",
        "m7g.large",
        "m7g.medium",
        "m7g.metal",
        "m7g.xlarge",
        "m7gd.12xlarge",
        "m7gd.16xlarge",
        "m7gd.2xlarge",
        "m7gd.4xlarge",
        "m7gd.8xlarge",
        "m7gd.large",
        "m7gd.medium",
        "m7gd.metal",
        "m7gd.xlarge",
        "m7i-flex.2xlarge",
        "m7i-flex.4xlarge",
        "m7i-flex.8xlarge",
        "m7i-flex.large",
        "m7i-flex.xlarge",
        "m7i.12xlarge",
        "m7i.16xlarge",
        "m7i.24xlarge",
        "m7i.2xlarge",
        "m7i.48xlarge",
        "m7i.4xlarge",
        "m7i.8xlarge",
        "m7i.large",
        "m7i.metal-24xl",
        "m7i.metal-48xl",
        "m7i.xlarge",
        "mac1.metal",
        "mac2-m2.metal",
        "mac2-m2pro.metal",
        "mac2.metal",
        "p2.16xlarge",
        "p2.8xlarge",
        "p2.xlarge",
        "p3.16xlarge",
        "p3.2xlarge",
        "p3.8xlarge",
        "p3dn.24xlarge",
        "p4d.24xlarge",
        "p4de.24xlarge",
        "p5.48xlarge",
        "r3.2xlarge",
        "r3.4xlarge",
        "r3.8xlarge",
        "r3.large",
        "r3.xlarge",
        "r4.16xlarge",
        "r4.2xlarge",
        "r4.4xlarge",
        "r4.8xlarge",
        "r4.large",
        "r4.xlarge",
        "r5.12xlarge",
        "r5.16xlarge",
        "r5.24xlarge",
        "r5.2xlarge",
        "r5.4xlarge",
        "r5.8xlarge",
        "r5.large",
        "r5.metal",
        "r5.xlarge",
        "r5a.12xlarge",
        "r5a.16xlarge",
        "r5a.24xlarge",
        "r5a.2xlarge",
        "r5a.4xlarge",
        "r5a.8xlarge",
        "r5a.large",
        "r5a.xlarge",
        "r5ad.12xlarge",
        "r5ad.16xlarge",
        "r5ad.24xlarge",
        "r5ad.2xlarge",
        "r5ad.4xlarge",
        "r5ad.8xlarge",
        "r5ad.large",
        "r5ad.xlarge",
        "r5b.12xlarge",
        "r5b.16xlarge",
        "r5b.24xlarge",
        "r5b.2xlarge",
        "r5b.4xlarge",
        "r5b.8xlarge",
        "r5b.large",
        "r5b.metal",
        "r5b.xlarge",
        "r5d.12xlarge",
        "r5d.16xlarge",
        "r5d.24xlarge",
        "r5d.2xlarge",
        "r5d.4xlarge",
        "r5d.8xlarge",
        "r5d.large",
        "r5d.metal",
        "r5d.xlarge",
        "r5dn.12xlarge",
        "r5dn.16xlarge",
        "r5dn.24xlarge",
        "r5dn.2xlarge",
        "r5dn.4xlarge",
        "r5dn.8xlarge",
        "r5dn.large",
        "r5dn.metal",
        "r5dn.xlarge",
        "r5n.12xlarge",
        "r5n.16xlarge",
        "r5n.24xlarge",
        "r5n.2xlarge",
        "r5n.4xlarge",
        "r5n.8xlarge",
        "r5n.large",
        "r5n.metal",
        "r5n.xlarge",
        "r6a.12xlarge",
        "r6a.16xlarge",
        "r6a.24xlarge",
        "r6a.2xlarge",
        "r6a.32xlarge",
        "r6a.48xlarge",
        "r6a.4xlarge",
        "r6a.8xlarge",
        "r6a.large",
        "r6a.metal",
        "r6a.xlarge",
        "r6g.12xlarge",
        "r6g.16xlarge",
        "r6g.2xlarge",
        "r6g.4xlarge",
        "r6g.8xlarge",
        "r6g.large",
        "r6g.medium",
        "r6g.metal",
        "r6g.xlarge",
        "r6gd.12xlarge",
        "r6gd.16xlarge",
        "r6gd.2xlarge",
        "r6gd.4xlarge",
        "r6gd.8xlarge",
        "r6gd.large",
        "r6gd.medium",
        "r6gd.metal",
        "r6gd.xlarge",
        "r6i.12xlarge",
        "r6i.16xlarge",
        "r6i.24xlarge",
        "r6i.2xlarge",
        "r6i.32xlarge",
        "r6i.4xlarge",
        "r6i.8xlarge",
        "r6i.large",
        "r6i.metal",
        "r6i.xlarge",
        "r6id.12xlarge",
        "r6id.16xlarge",
        "r6id.24xlarge",
        "r6id.2xlarge",
        "r6id.32xlarge",
        "r6id.4xlarge",
        "r6id.8xlarge",
        "r6id.large",
        "r6id.metal",
        "r6id.xlarge",
        "r6idn.12xlarge",
        "r6idn.16xlarge",
        "r6idn.24xlarge",
        "r6idn.2xlarge",
        "r6idn.32xlarge",
        "r6idn.4xlarge",
        "r6idn.8xlarge",
        "r6idn.large",
        "r6idn.metal",
        "r6idn.xlarge",
        "r6in.12xlarge",
        "r6in.16xlarge",
        "r6in.24xlarge",
        "r6in.2xlarge",
        "r6in.32xlarge",
        "r6in.4xlarge",
        "r6in.8xlarge",
        "r6in.large",
        "r6in.metal",
        "r6in.xlarge",
        "r7a.12xlarge",
        "r7a.16xlarge",
        "r7a.24xlarge",
        "r7a.2xlarge",
        "r7a.32xlarge",
        "r7a.48xlarge",
        "r7a.4xlarge",
        "r7a.8xlarge",
        "r7a.large",
        "r7a.medium",
        "r7a.metal-48xl",
        "r7a.xlarge",
        "r7g.12xlarge",
        "r7g.16xlarge",
        "r7g.2xlarge",
        "r7g.4xlarge",
        "r7g.8xlarge",
        "r7g.large",
        "r7g.medium",
        "r7g.metal",
        "r7g.xlarge",
        "r7gd.12xlarge",
        "r7gd.16xlarge",
        "r7gd.2xlarge",
        "r7gd.4xlarge",
        "r7gd.8xlarge",
        "r7gd.large",
        "r7gd.medium",
        "r7gd.metal",
        "r7gd.xlarge",
        "r7i.12xlarge",
        "r7i.16xlarge",
        "r7i.24xlarge",
        "r7i.2xlarge",
        "r7i.48xlarge",
        "r7i.4xlarge",
        "r7i.8xlarge",
        "r7i.large",
        "r7i.metal-24xl",
        "r7i.metal-48xl",
        "r7i.xlarge",
        "r7iz.12xlarge",
        "r7iz.16xlarge",
        "r7iz.2xlarge",
        "r7iz.32xlarge",
        "r7iz.4xlarge",
        "r7iz.8xlarge",
        "r7iz.large",
        "r7iz.metal-16xl",
        "r7iz.metal-32xl",
        "r7iz.xlarge",
        "t1.micro",
        "t2.2xlarge",
        "t2.large",
        "t2.medium",
        "t2.micro",
        "t2.nano",
        "t2.small",
        "t2.xlarge",
        "t3.2xlarge",
        "t3.large",
        "t3.medium",
        "t3.micro",
        "t3.nano",
        "t3.small",
        "t3.xlarge",
        "t3a.2xlarge",
        "t3a.large",
        "t3a.medium",
        "t3a.micro",
        "t3a.nano",
        "t3a.small",
        "t3a.xlarge",
        "t4g.2xlarge",
        "t4g.large",
        "t4g.medium",
        "t4g.micro",
        "t4g.nano",
        "t4g.small",
        "t4g.xlarge",
        "trn1.2xlarge",
        "trn1.32xlarge",
        "trn1n.32xlarge",
        "u-12tb1.112xlarge",
        "u-12tb1.metal",
        "u-18tb1.112xlarge",
        "u-18tb1.metal",
        "u-24tb1.112xlarge",
        "u-24tb1.metal",
        "u-3tb1.56xlarge",
        "u-6tb1.112xlarge",
        "u-6tb1.56xlarge",
        "u-6tb1.metal",
        "u-9tb1.112xlarge",
        "u-9tb1.metal",
        "vt1.24xlarge",
        "vt1.3xlarge",
        "vt1.6xlarge",
        "x1.16xlarge",
        "x1.32xlarge",
        "x1e.16xlarge",
        "x1e.2xlarge",
        "x1e.32xlarge",
        "x1e.4xlarge",
        "x1e.8xlarge",
        "x1e.xlarge",
        "x2gd.12xlarge",
        "x2gd.16xlarge",
        "x2gd.2xlarge",
        "x2gd.4xlarge",
        "x2gd.8xlarge",
        "x2gd.large",
        "x2gd.medium",
        "x2gd.metal",
        "x2gd.xlarge",
        "x2idn.16xlarge",
        "x2idn.24xlarge",
        "x2idn.32xlarge",
        "x2idn.metal",
        "x2iedn.16xlarge",
        "x2iedn.24xlarge",
        "x2iedn.2xlarge",
        "x2iedn.32xlarge",
        "x2iedn.4xlarge",
        "x2iedn.8xlarge",
        "x2iedn.metal",
        "x2iedn.xlarge",
        "x2iezn.12xlarge",
        "x2iezn.2xlarge",
        "x2iezn.4xlarge",
        "x2iezn.6xlarge",
        "x2iezn.8xlarge",
        "x2iezn.metal",
        "z1d.12xlarge",
        "z1d.2xlarge",
        "z1d.3xlarge",
        "z1d.6xlarge",
        "z1d.large",
        "z1d.metal",
        "z1d.xlarge"
      ],
      "x-ms-enum": {
        "name": "InstanceType",
        "modelAsString": true,
        "values": [
          {
            "name": "A12xlarge",
            "value": "a1.2xlarge",
            "description": "InstanceType enum a1.2xlarge"
          },
          {
            "name": "A14xlarge",
            "value": "a1.4xlarge",
            "description": "InstanceType enum a1.4xlarge"
          },
          {
            "name": "A1Large",
            "value": "a1.large",
            "description": "InstanceType enum a1.large"
          },
          {
            "name": "A1Medium",
            "value": "a1.medium",
            "description": "InstanceType enum a1.medium"
          },
          {
            "name": "A1Metal",
            "value": "a1.metal",
            "description": "InstanceType enum a1.metal"
          },
          {
            "name": "A1Xlarge",
            "value": "a1.xlarge",
            "description": "InstanceType enum a1.xlarge"
          },
          {
            "name": "C1Medium",
            "value": "c1.medium",
            "description": "InstanceType enum c1.medium"
          },
          {
            "name": "C1Xlarge",
            "value": "c1.xlarge",
            "description": "InstanceType enum c1.xlarge"
          },
          {
            "name": "C32xlarge",
            "value": "c3.2xlarge",
            "description": "InstanceType enum c3.2xlarge"
          },
          {
            "name": "C34xlarge",
            "value": "c3.4xlarge",
            "description": "InstanceType enum c3.4xlarge"
          },
          {
            "name": "C38xlarge",
            "value": "c3.8xlarge",
            "description": "InstanceType enum c3.8xlarge"
          },
          {
            "name": "C3Large",
            "value": "c3.large",
            "description": "InstanceType enum c3.large"
          },
          {
            "name": "C3Xlarge",
            "value": "c3.xlarge",
            "description": "InstanceType enum c3.xlarge"
          },
          {
            "name": "C42xlarge",
            "value": "c4.2xlarge",
            "description": "InstanceType enum c4.2xlarge"
          },
          {
            "name": "C44xlarge",
            "value": "c4.4xlarge",
            "description": "InstanceType enum c4.4xlarge"
          },
          {
            "name": "C48xlarge",
            "value": "c4.8xlarge",
            "description": "InstanceType enum c4.8xlarge"
          },
          {
            "name": "C4Large",
            "value": "c4.large",
            "description": "InstanceType enum c4.large"
          },
          {
            "name": "C4Xlarge",
            "value": "c4.xlarge",
            "description": "InstanceType enum c4.xlarge"
          },
          {
            "name": "C512xlarge",
            "value": "c5.12xlarge",
            "description": "InstanceType enum c5.12xlarge"
          },
          {
            "name": "C518xlarge",
            "value": "c5.18xlarge",
            "description": "InstanceType enum c5.18xlarge"
          },
          {
            "name": "C524xlarge",
            "value": "c5.24xlarge",
            "description": "InstanceType enum c5.24xlarge"
          },
          {
            "name": "C52xlarge",
            "value": "c5.2xlarge",
            "description": "InstanceType enum c5.2xlarge"
          },
          {
            "name": "C54xlarge",
            "value": "c5.4xlarge",
            "description": "InstanceType enum c5.4xlarge"
          },
          {
            "name": "C59xlarge",
            "value": "c5.9xlarge",
            "description": "InstanceType enum c5.9xlarge"
          },
          {
            "name": "C5Large",
            "value": "c5.large",
            "description": "InstanceType enum c5.large"
          },
          {
            "name": "C5Metal",
            "value": "c5.metal",
            "description": "InstanceType enum c5.metal"
          },
          {
            "name": "C5Xlarge",
            "value": "c5.xlarge",
            "description": "InstanceType enum c5.xlarge"
          },
          {
            "name": "C5a12xlarge",
            "value": "c5a.12xlarge",
            "description": "InstanceType enum c5a.12xlarge"
          },
          {
            "name": "C5a16xlarge",
            "value": "c5a.16xlarge",
            "description": "InstanceType enum c5a.16xlarge"
          },
          {
            "name": "C5a24xlarge",
            "value": "c5a.24xlarge",
            "description": "InstanceType enum c5a.24xlarge"
          },
          {
            "name": "C5a2xlarge",
            "value": "c5a.2xlarge",
            "description": "InstanceType enum c5a.2xlarge"
          },
          {
            "name": "C5a4xlarge",
            "value": "c5a.4xlarge",
            "description": "InstanceType enum c5a.4xlarge"
          },
          {
            "name": "C5a8xlarge",
            "value": "c5a.8xlarge",
            "description": "InstanceType enum c5a.8xlarge"
          },
          {
            "name": "C5aLarge",
            "value": "c5a.large",
            "description": "InstanceType enum c5a.large"
          },
          {
            "name": "C5aXlarge",
            "value": "c5a.xlarge",
            "description": "InstanceType enum c5a.xlarge"
          },
          {
            "name": "C5ad12xlarge",
            "value": "c5ad.12xlarge",
            "description": "InstanceType enum c5ad.12xlarge"
          },
          {
            "name": "C5ad16xlarge",
            "value": "c5ad.16xlarge",
            "description": "InstanceType enum c5ad.16xlarge"
          },
          {
            "name": "C5ad24xlarge",
            "value": "c5ad.24xlarge",
            "description": "InstanceType enum c5ad.24xlarge"
          },
          {
            "name": "C5ad2xlarge",
            "value": "c5ad.2xlarge",
            "description": "InstanceType enum c5ad.2xlarge"
          },
          {
            "name": "C5ad4xlarge",
            "value": "c5ad.4xlarge",
            "description": "InstanceType enum c5ad.4xlarge"
          },
          {
            "name": "C5ad8xlarge",
            "value": "c5ad.8xlarge",
            "description": "InstanceType enum c5ad.8xlarge"
          },
          {
            "name": "C5adLarge",
            "value": "c5ad.large",
            "description": "InstanceType enum c5ad.large"
          },
          {
            "name": "C5adXlarge",
            "value": "c5ad.xlarge",
            "description": "InstanceType enum c5ad.xlarge"
          },
          {
            "name": "C5d12xlarge",
            "value": "c5d.12xlarge",
            "description": "InstanceType enum c5d.12xlarge"
          },
          {
            "name": "C5d18xlarge",
            "value": "c5d.18xlarge",
            "description": "InstanceType enum c5d.18xlarge"
          },
          {
            "name": "C5d24xlarge",
            "value": "c5d.24xlarge",
            "description": "InstanceType enum c5d.24xlarge"
          },
          {
            "name": "C5d2xlarge",
            "value": "c5d.2xlarge",
            "description": "InstanceType enum c5d.2xlarge"
          },
          {
            "name": "C5d4xlarge",
            "value": "c5d.4xlarge",
            "description": "InstanceType enum c5d.4xlarge"
          },
          {
            "name": "C5d9xlarge",
            "value": "c5d.9xlarge",
            "description": "InstanceType enum c5d.9xlarge"
          },
          {
            "name": "C5dLarge",
            "value": "c5d.large",
            "description": "InstanceType enum c5d.large"
          },
          {
            "name": "C5dMetal",
            "value": "c5d.metal",
            "description": "InstanceType enum c5d.metal"
          },
          {
            "name": "C5dXlarge",
            "value": "c5d.xlarge",
            "description": "InstanceType enum c5d.xlarge"
          },
          {
            "name": "C5n18xlarge",
            "value": "c5n.18xlarge",
            "description": "InstanceType enum c5n.18xlarge"
          },
          {
            "name": "C5n2xlarge",
            "value": "c5n.2xlarge",
            "description": "InstanceType enum c5n.2xlarge"
          },
          {
            "name": "C5n4xlarge",
            "value": "c5n.4xlarge",
            "description": "InstanceType enum c5n.4xlarge"
          },
          {
            "name": "C5n9xlarge",
            "value": "c5n.9xlarge",
            "description": "InstanceType enum c5n.9xlarge"
          },
          {
            "name": "C5nLarge",
            "value": "c5n.large",
            "description": "InstanceType enum c5n.large"
          },
          {
            "name": "C5nMetal",
            "value": "c5n.metal",
            "description": "InstanceType enum c5n.metal"
          },
          {
            "name": "C5nXlarge",
            "value": "c5n.xlarge",
            "description": "InstanceType enum c5n.xlarge"
          },
          {
            "name": "C6a12xlarge",
            "value": "c6a.12xlarge",
            "description": "InstanceType enum c6a.12xlarge"
          },
          {
            "name": "C6a16xlarge",
            "value": "c6a.16xlarge",
            "description": "InstanceType enum c6a.16xlarge"
          },
          {
            "name": "C6a24xlarge",
            "value": "c6a.24xlarge",
            "description": "InstanceType enum c6a.24xlarge"
          },
          {
            "name": "C6a2xlarge",
            "value": "c6a.2xlarge",
            "description": "InstanceType enum c6a.2xlarge"
          },
          {
            "name": "C6a32xlarge",
            "value": "c6a.32xlarge",
            "description": "InstanceType enum c6a.32xlarge"
          },
          {
            "name": "C6a48xlarge",
            "value": "c6a.48xlarge",
            "description": "InstanceType enum c6a.48xlarge"
          },
          {
            "name": "C6a4xlarge",
            "value": "c6a.4xlarge",
            "description": "InstanceType enum c6a.4xlarge"
          },
          {
            "name": "C6a8xlarge",
            "value": "c6a.8xlarge",
            "description": "InstanceType enum c6a.8xlarge"
          },
          {
            "name": "C6aLarge",
            "value": "c6a.large",
            "description": "InstanceType enum c6a.large"
          },
          {
            "name": "C6aMetal",
            "value": "c6a.metal",
            "description": "InstanceType enum c6a.metal"
          },
          {
            "name": "C6aXlarge",
            "value": "c6a.xlarge",
            "description": "InstanceType enum c6a.xlarge"
          },
          {
            "name": "C6g12xlarge",
            "value": "c6g.12xlarge",
            "description": "InstanceType enum c6g.12xlarge"
          },
          {
            "name": "C6g16xlarge",
            "value": "c6g.16xlarge",
            "description": "InstanceType enum c6g.16xlarge"
          },
          {
            "name": "C6g2xlarge",
            "value": "c6g.2xlarge",
            "description": "InstanceType enum c6g.2xlarge"
          },
          {
            "name": "C6g4xlarge",
            "value": "c6g.4xlarge",
            "description": "InstanceType enum c6g.4xlarge"
          },
          {
            "name": "C6g8xlarge",
            "value": "c6g.8xlarge",
            "description": "InstanceType enum c6g.8xlarge"
          },
          {
            "name": "C6gLarge",
            "value": "c6g.large",
            "description": "InstanceType enum c6g.large"
          },
          {
            "name": "C6gMedium",
            "value": "c6g.medium",
            "description": "InstanceType enum c6g.medium"
          },
          {
            "name": "C6gMetal",
            "value": "c6g.metal",
            "description": "InstanceType enum c6g.metal"
          },
          {
            "name": "C6gXlarge",
            "value": "c6g.xlarge",
            "description": "InstanceType enum c6g.xlarge"
          },
          {
            "name": "C6gd12xlarge",
            "value": "c6gd.12xlarge",
            "description": "InstanceType enum c6gd.12xlarge"
          },
          {
            "name": "C6gd16xlarge",
            "value": "c6gd.16xlarge",
            "description": "InstanceType enum c6gd.16xlarge"
          },
          {
            "name": "C6gd2xlarge",
            "value": "c6gd.2xlarge",
            "description": "InstanceType enum c6gd.2xlarge"
          },
          {
            "name": "C6gd4xlarge",
            "value": "c6gd.4xlarge",
            "description": "InstanceType enum c6gd.4xlarge"
          },
          {
            "name": "C6gd8xlarge",
            "value": "c6gd.8xlarge",
            "description": "InstanceType enum c6gd.8xlarge"
          },
          {
            "name": "C6gdLarge",
            "value": "c6gd.large",
            "description": "InstanceType enum c6gd.large"
          },
          {
            "name": "C6gdMedium",
            "value": "c6gd.medium",
            "description": "InstanceType enum c6gd.medium"
          },
          {
            "name": "C6gdMetal",
            "value": "c6gd.metal",
            "description": "InstanceType enum c6gd.metal"
          },
          {
            "name": "C6gdXlarge",
            "value": "c6gd.xlarge",
            "description": "InstanceType enum c6gd.xlarge"
          },
          {
            "name": "C6gn12xlarge",
            "value": "c6gn.12xlarge",
            "description": "InstanceType enum c6gn.12xlarge"
          },
          {
            "name": "C6gn16xlarge",
            "value": "c6gn.16xlarge",
            "description": "InstanceType enum c6gn.16xlarge"
          },
          {
            "name": "C6gn2xlarge",
            "value": "c6gn.2xlarge",
            "description": "InstanceType enum c6gn.2xlarge"
[...]
