{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "GuardDutyDetectors"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/guardDutyDetectors": {
      "get": {
        "operationId": "GuardDutyDetectors_ListBySubscription",
        "tags": [
          "GuardDutyDetectors"
        ],
        "description": "List GuardDutyDetector resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuardDutyDetectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuardDutyDetectors_ListBySubscription": {
            "$ref": "./examples/GuardDutyDetectors_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/guardDutyDetectors": {
      "get": {
        "operationId": "GuardDutyDetectors_ListByResourceGroup",
        "tags": [
          "GuardDutyDetectors"
        ],
        "description": "List GuardDutyDetector resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuardDutyDetectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuardDutyDetectors_ListByResourceGroup": {
            "$ref": "./examples/GuardDutyDetectors_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/guardDutyDetectors/{name}": {
      "get": {
        "operationId": "GuardDutyDetectors_Get",
        "tags": [
          "GuardDutyDetectors"
        ],
        "description": "Get a GuardDutyDetector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of GuardDutyDetector",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuardDutyDetector"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuardDutyDetectors_Get": {
            "$ref": "./examples/GuardDutyDetectors_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GuardDutyDetectors_CreateOrReplace",
        "tags": [
          "GuardDutyDetectors"
        ],
        "description": "Create a GuardDutyDetector. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of GuardDutyDetector",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuardDutyDetector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GuardDutyDetector' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GuardDutyDetector"
            }
          },
          "201": {
            "description": "Resource 'GuardDutyDetector' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GuardDutyDetector"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuardDutyDetectors_CreateOrReplace": {
            "$ref": "./examples/GuardDutyDetectors_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GuardDutyDetectors_Update",
        "tags": [
          "GuardDutyDetectors"
        ],
        "description": "Update a GuardDutyDetector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of GuardDutyDetector",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GuardDutyDetectorTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GuardDutyDetector"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuardDutyDetectors_Update": {
            "$ref": "./examples/GuardDutyDetectors_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GuardDutyDetectors_Delete",
        "tags": [
          "GuardDutyDetectors"
        ],
        "description": "Delete a GuardDutyDetector",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of GuardDutyDetector",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GuardDutyDetectors_Delete": {
            "$ref": "./examples/GuardDutyDetectors_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsGuardDutyDetectorProperties": {
      "type": "object",
      "description": "Definition of awsGuardDutyDetector",
      "properties": {
        "dataSources": {
          "$ref": "#/definitions/CFNDataSourceConfigurations",
          "description": "Property dataSources"
        },
        "enable": {
          "type": "boolean",
          "description": "Property enable"
        },
        "features": {
          "type": "array",
          "description": "Property features",
          "items": {
            "$ref": "#/definitions/CFNFeatureConfiguration"
          },
          "x-ms-identifiers": []
        },
        "findingPublishingFrequency": {
          "type": "string",
          "description": "Property findingPublishingFrequency"
        },
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "tags": {
          "type": "array",
          "description": "Property tags",
          "items": {
            "$ref": "#/definitions/TagItem"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CFNDataSourceConfigurations": {
      "type": "object",
      "description": "Definition of CFNDataSourceConfigurations",
      "properties": {
        "kubernetes": {
          "$ref": "#/definitions/CFNKubernetesConfiguration",
          "description": "Property kubernetes"
        },
        "malwareProtection": {
          "$ref": "#/definitions/CFNMalwareProtectionConfiguration",
          "description": "Property malwareProtection"
        },
        "s3Logs": {
          "$ref": "#/definitions/CFNS3LogsConfiguration",
          "description": "Property s3Logs"
        }
      }
    },
    "CFNFeatureAdditionalConfiguration": {
      "type": "object",
      "description": "Definition of CFNFeatureAdditionalConfiguration",
      "properties": {
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "status": {
          "type": "string",
          "description": "Property status"
        }
      }
    },
    "CFNFeatureConfiguration": {
      "type": "object",
      "description": "Definition of CFNFeatureConfiguration",
      "properties": {
        "additionalConfiguration": {
          "type": "array",
          "description": "Property additionalConfiguration",
          "items": {
            "$ref": "#/definitions/CFNFeatureAdditionalConfiguration"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "status": {
          "$ref": "#/definitions/CFNFeatureConfigurationStatus",
          "description": "Property status"
        }
      }
    },
    "CFNFeatureConfigurationStatus": {
      "type": "string",
      "description": "CFNFeatureConfigurationStatus enum",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "x-ms-enum": {
        "name": "CFNFeatureConfigurationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "DISABLED",
            "value": "DISABLED",
            "description": "CFNFeatureConfigurationStatus enum DISABLED"
          },
          {
            "name": "ENABLED",
            "value": "ENABLED",
            "description": "CFNFeatureConfigurationStatus enum ENABLED"
          }
        ]
      }
    },
    "CFNKubernetesAuditLogsConfiguration": {
      "type": "object",
      "description": "Definition of CFNKubernetesAuditLogsConfiguration",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Property enable"
        }
      }
    },
    "CFNKubernetesConfiguration": {
      "type": "object",
      "description": "Definition of CFNKubernetesConfiguration",
      "properties": {
        "auditLogs": {
          "$ref": "#/definitions/CFNKubernetesAuditLogsConfiguration",
          "description": "Property auditLogs"
        }
      }
    },
    "CFNMalwareProtectionConfiguration": {
      "type": "object",
      "description": "Definition of CFNMalwareProtectionConfiguration",
      "properties": {
        "scanEc2InstanceWithFindings": {
          "$ref": "#/definitions/CFNScanEc2InstanceWithFindingsConfiguration",
          "description": "Property scanEc2InstanceWithFindings"
        }
      }
    },
    "CFNS3LogsConfiguration": {
      "type": "object",
      "description": "Definition of CFNS3LogsConfiguration",
      "properties": {
        "enable": {
          "type": "boolean",
          "description": "Property enable"
        }
      }
    },
    "CFNScanEc2InstanceWithFindingsConfiguration": {
      "type": "object",
      "description": "Definition of CFNScanEc2InstanceWithFindingsConfiguration",
      "properties": {
        "ebsVolumes": {
          "type": "boolean",
          "description": "Property ebsVolumes"
        }
      }
    },
    "GuardDutyDetector": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GuardDutyDetectorProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GuardDutyDetectorListResult": {
      "type": "object",
      "description": "The response of a GuardDutyDetector list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GuardDutyDetector items on this page",
          "items": {
            "$ref": "#/definitions/GuardDutyDetector"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GuardDutyDetectorProperties": {
      "type": "object",
      "description": "Definition of GuardDutyDetector",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsGuardDutyDetectorProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "GuardDutyDetectorTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in GuardDutyDetector resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "TagItem": {
      "type": "object",
      "description": "Definition of TagItem",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    }
  },
  "parameters": {}
}
