{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Route53RecordSets"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/route53RecordSets": {
      "get": {
        "operationId": "Route53RecordSets_ListBySubscription",
        "tags": [
          "Route53RecordSets"
        ],
        "description": "List Route53RecordSet resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Route53RecordSetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Route53RecordSets_ListBySubscription": {
            "$ref": "./examples/Route53RecordSets_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/route53RecordSets": {
      "get": {
        "operationId": "Route53RecordSets_ListByResourceGroup",
        "tags": [
          "Route53RecordSets"
        ],
        "description": "List Route53RecordSet resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Route53RecordSetListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Route53RecordSets_ListByResourceGroup": {
            "$ref": "./examples/Route53RecordSets_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/route53RecordSets/{name}": {
      "get": {
        "operationId": "Route53RecordSets_Get",
        "tags": [
          "Route53RecordSets"
        ],
        "description": "Get a Route53RecordSet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Route53RecordSet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Route53RecordSet"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Route53RecordSets_Get": {
            "$ref": "./examples/Route53RecordSets_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Route53RecordSets_CreateOrUpdate",
        "tags": [
          "Route53RecordSets"
        ],
        "description": "Create a Route53RecordSet. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Route53RecordSet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Route53RecordSet"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Route53RecordSet' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Route53RecordSet"
            }
          },
          "201": {
            "description": "Resource 'Route53RecordSet' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Route53RecordSet"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Route53RecordSets_CreateOrUpdate": {
            "$ref": "./examples/Route53RecordSets_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Route53RecordSets_Update",
        "tags": [
          "Route53RecordSets"
        ],
        "description": "Update a Route53RecordSet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Route53RecordSet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Route53RecordSetTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Route53RecordSet"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Route53RecordSets_Update": {
            "$ref": "./examples/Route53RecordSets_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Route53RecordSets_Delete",
        "tags": [
          "Route53RecordSets"
        ],
        "description": "Delete a Route53RecordSet",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Route53RecordSet",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Route53RecordSets_Delete": {
            "$ref": "./examples/Route53RecordSets_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AliasTarget": {
      "type": "object",
      "description": "Definition of AliasTarget",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "Property dnsName"
        },
        "evaluateTargetHealth": {
          "type": "boolean",
          "description": "Property evaluateTargetHealth"
        },
        "hostedZoneId": {
          "type": "string",
          "description": "Property hostedZoneId"
        }
      }
    },
    "AwsRoute53RecordSetProperties": {
      "type": "object",
      "description": "Definition of awsRoute53RecordSet",
      "properties": {
        "aliasTarget": {
          "$ref": "#/definitions/AliasTarget",
          "description": "Property aliasTarget"
        },
        "cidrRoutingConfig": {
          "$ref": "#/definitions/CidrRoutingConfig",
          "description": "Property cidrRoutingConfig"
        },
        "comment": {
          "type": "string",
          "description": "Property comment"
        },
        "failover": {
          "type": "string",
          "description": "Property failover"
        },
        "geoLocation": {
          "$ref": "#/definitions/GeoLocation",
          "description": "Property geoLocation"
        },
        "geoProximityLocation": {
          "$ref": "#/definitions/GeoProximityLocation",
          "description": "Property geoProximityLocation"
        },
        "healthCheckId": {
          "type": "string",
          "description": "Property healthCheckId"
        },
        "hostedZoneId": {
          "type": "string",
          "description": "Property hostedZoneId"
        },
        "hostedZoneName": {
          "type": "string",
          "description": "Property hostedZoneName"
        },
        "id": {
          "type": "string",
          "description": "Property id"
        },
        "multiValueAnswer": {
          "type": "boolean",
          "description": "Property multiValueAnswer"
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "region": {
          "type": "string",
          "description": "Property region"
        },
        "resourceRecords": {
          "type": "array",
          "description": "Property resourceRecords",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "setIdentifier": {
          "type": "string",
          "description": "Property setIdentifier"
        },
        "ttl": {
          "type": "string",
          "description": "Property ttl"
        },
        "type": {
          "type": "string",
          "description": "Property type"
        },
        "weight": {
          "type": "integer",
          "format": "int32",
          "description": "Property weight"
        }
      }
    },
    "CidrRoutingConfig": {
      "type": "object",
      "description": "Definition of CidrRoutingConfig",
      "properties": {
        "collectionId": {
          "type": "string",
          "description": "Property collectionId"
        },
        "locationName": {
          "type": "string",
          "description": "Property locationName"
        }
      }
    },
    "Coordinates": {
      "type": "object",
      "description": "Definition of Coordinates",
      "properties": {
        "latitude": {
          "type": "string",
          "description": "Property latitude"
        },
        "longitude": {
          "type": "string",
          "description": "Property longitude"
        }
      }
    },
    "GeoLocation": {
      "type": "object",
      "description": "Definition of GeoLocation",
      "properties": {
        "continentCode": {
          "type": "string",
          "description": "Property continentCode"
        },
        "countryCode": {
          "type": "string",
          "description": "Property countryCode"
        },
        "subdivisionCode": {
          "type": "string",
          "description": "Property subdivisionCode"
        }
      }
    },
    "GeoProximityLocation": {
      "type": "object",
      "description": "Definition of GeoProximityLocation",
      "properties": {
        "awsRegion": {
          "type": "string",
          "description": "Property awsRegion"
        },
        "bias": {
          "type": "integer",
          "format": "int32",
          "description": "Property bias"
        },
        "coordinates": {
          "$ref": "#/definitions/Coordinates",
          "description": "Property coordinates"
        },
        "localZoneGroup": {
          "type": "string",
          "description": "Property localZoneGroup"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Route53RecordSet": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Route53RecordSetProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Route53RecordSetListResult": {
      "type": "object",
      "description": "The response of a Route53RecordSet list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Route53RecordSet items on this page",
          "items": {
            "$ref": "#/definitions/Route53RecordSet"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Route53RecordSetProperties": {
      "type": "object",
      "description": "Definition of Route53RecordSet",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsRoute53RecordSetProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Route53RecordSetTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Route53RecordSet resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
