{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "S3Buckets"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/s3Buckets": {
      "get": {
        "operationId": "S3Buckets_ListBySubscription",
        "tags": [
          "S3Buckets"
        ],
        "description": "List S3Bucket resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3BucketListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_ListBySubscription": {
            "$ref": "./examples/S3Buckets_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3Buckets": {
      "get": {
        "operationId": "S3Buckets_ListByResourceGroup",
        "tags": [
          "S3Buckets"
        ],
        "description": "List S3Bucket resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3BucketListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_ListByResourceGroup": {
            "$ref": "./examples/S3Buckets_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3Buckets/{name}": {
      "get": {
        "operationId": "S3Buckets_Get",
        "tags": [
          "S3Buckets"
        ],
        "description": "Get a S3Bucket",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3Bucket",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_Get": {
            "$ref": "./examples/S3Buckets_Get.json"
          }
        }
      },
      "put": {
        "operationId": "S3Buckets_CreateOrReplace",
        "tags": [
          "S3Buckets"
        ],
        "description": "Create a S3Bucket. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3Bucket",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'S3Bucket' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            }
          },
          "201": {
            "description": "Resource 'S3Bucket' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_CreateOrReplace": {
            "$ref": "./examples/S3Buckets_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "S3Buckets_Update",
        "tags": [
          "S3Buckets"
        ],
        "description": "Update a S3Bucket",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3Bucket",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/S3BucketTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3Bucket"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_Update": {
            "$ref": "./examples/S3Buckets_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "S3Buckets_Delete",
        "tags": [
          "S3Buckets"
        ],
        "description": "Delete a S3Bucket",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3Bucket",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3Buckets_Delete": {
            "$ref": "./examples/S3Buckets_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AbortIncompleteMultipartUpload": {
      "type": "object",
      "description": "Definition of AbortIncompleteMultipartUpload",
      "properties": {
        "daysAfterInitiation": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the number of days after which Amazon S3 stops an incomplete multipart upload."
        }
      }
    },
    "AccelerateConfiguration": {
      "type": "object",
      "description": "Definition of AccelerateConfiguration",
      "properties": {
        "accelerationStatus": {
          "$ref": "#/definitions/AccelerateConfigurationAccelerationStatus",
          "description": "Specifies the transfer acceleration status of the bucket."
        }
      }
    },
    "AccelerateConfigurationAccelerationStatus": {
      "type": "string",
      "description": "AccelerateConfigurationAccelerationStatus enum",
      "enum": [
        "Enabled",
        "Suspended"
      ],
      "x-ms-enum": {
        "name": "AccelerateConfigurationAccelerationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "AccelerateConfigurationAccelerationStatus enum Enabled"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "AccelerateConfigurationAccelerationStatus enum Suspended"
          }
        ]
      }
    },
    "AccessControl": {
      "type": "string",
      "description": "AccessControl enum",
      "enum": [
        "AuthenticatedRead",
        "AwsExecRead",
        "BucketOwnerFullControl",
        "BucketOwnerRead",
        "LogDeliveryWrite",
        "Private",
        "PublicRead",
        "PublicReadWrite"
      ],
      "x-ms-enum": {
        "name": "AccessControl",
        "modelAsString": true,
        "values": [
          {
            "name": "AuthenticatedRead",
            "value": "AuthenticatedRead",
            "description": "AccessControl enum AuthenticatedRead"
          },
          {
            "name": "AwsExecRead",
            "value": "AwsExecRead",
            "description": "AccessControl enum AwsExecRead"
          },
          {
            "name": "BucketOwnerFullControl",
            "value": "BucketOwnerFullControl",
            "description": "AccessControl enum BucketOwnerFullControl"
          },
          {
            "name": "BucketOwnerRead",
            "value": "BucketOwnerRead",
            "description": "AccessControl enum BucketOwnerRead"
          },
          {
            "name": "LogDeliveryWrite",
            "value": "LogDeliveryWrite",
            "description": "AccessControl enum LogDeliveryWrite"
          },
          {
            "name": "Private",
            "value": "Private",
            "description": "AccessControl enum Private"
          },
          {
            "name": "PublicRead",
            "value": "PublicRead",
            "description": "AccessControl enum PublicRead"
          },
          {
            "name": "PublicReadWrite",
            "value": "PublicReadWrite",
            "description": "AccessControl enum PublicReadWrite"
          }
        ]
      }
    },
    "AccessControlTranslation": {
      "type": "object",
      "description": "Definition of AccessControlTranslation",
      "properties": {
        "owner": {
          "type": "string",
          "description": "Specifies the replica ownership. For default and valid values, see [PUT bucket replication](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTreplication.html) in the *Amazon S3 API Reference*."
        }
      }
    },
    "AnalyticsConfiguration": {
      "type": "object",
      "description": "Definition of AnalyticsConfiguration",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID that identifies the analytics configuration."
        },
        "prefix": {
          "type": "string",
          "description": "The prefix that an object must have to be included in the analytics results."
        },
        "storageClassAnalysis": {
          "$ref": "#/definitions/StorageClassAnalysis",
          "description": "Contains data related to access patterns to be collected and made available to analyze the tradeoffs between different storage classes. Specifies data related to access patterns to be collected and made available to analyze the tradeoffs between different storage classes for an Amazon S3 bucket."
        },
        "tagFilters": {
          "type": "array",
          "description": "The tags to use when evaluating an analytics filter. The analytics only includes objects that meet the filter's criteria. If no filter is specified, all of the contents of the bucket are included in the analysis.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AwsS3BucketProperties": {
      "type": "object",
      "description": "Definition of awsS3Bucket",
      "properties": {
        "accelerateConfiguration": {
          "$ref": "#/definitions/AccelerateConfiguration",
          "description": "Configures the transfer acceleration state for an Amazon S3 bucket. For more information, see [Amazon S3 Transfer Acceleration](https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html) in the *Amazon S3 User Guide*. Configures the transfer acceleration state for an Amazon S3 bucket. For more information, see [Amazon S3 Transfer Acceleration](https://docs.aws.amazon.com/AmazonS3/latest/dev/transfer-acceleration.html) in the *Amazon S3 User Guide*."
        },
        "accessControl": {
          "$ref": "#/definitions/AccessControl",
          "description": "This is a legacy property, and it is not recommended for most use cases. A majority of modern use cases in Amazon S3 no longer require the use of ACLs, and we recommend that you keep ACLs disabled. For more information, see [Controlling object ownership](https://docs.aws.amazon.com//AmazonS3/latest/userguide/about-object-ownership.html) in the *Amazon S3 User Guide*.  A canned access control list (ACL) that grants predefined permissions to the bucket. For more information about canned ACLs, see [Canned ACL](https://docs.aws.amazon.com/AmazonS3/latest/dev/acl-overview.html#canned-acl) in the *Amazon S3 User Guide*.  S3 buckets are created with ACLs disabled by default. Therefore, unless you explicitly set the [AWS::S3::OwnershipControls](https://docs.aws.amazon.com//AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-ownershipcontrols.html) property to enable ACLs, your resource will fail to deploy with any value other than Private. Use cases requiring ACLs are uncommon.  The majority of access control configurations can be successfully and more easily achieved with bucket policies. For more information, see [AWS::S3::BucketPolicy](https://docs.aws.amazon.com//AWSCloudFormation/latest/UserGuide/aws-properties-s3-policy.html). For examples of common policy configurations, including S3 Server Access Logs buckets and more, see [Bucket policy examples](https://docs.aws.amazon.com/AmazonS3/latest/userguide/example-bucket-policies.html) in the *Amazon S3 User Guide*."
        },
        "analyticsConfigurations": {
          "type": "array",
          "description": "Specifies the configuration and any analyses for the analytics filter of an Amazon S3 bucket.",
          "items": {
            "$ref": "#/definitions/AnalyticsConfiguration"
          },
          "x-ms-identifiers": []
        },
        "arn": {
          "type": "string",
          "description": "the Amazon Resource Name (ARN) of the specified bucket."
        },
        "bucketEncryption": {
          "$ref": "#/definitions/BucketEncryption",
          "description": "Specifies default encryption for a bucket using server-side encryption with Amazon S3-managed keys (SSE-S3), AWS KMS-managed keys (SSE-KMS), or dual-layer server-side encryption with KMS-managed keys (DSSE-KMS). For information about the Amazon S3 default encryption feature, see [Amazon S3 Default Encryption for S3 Buckets](https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html) in the *Amazon S3 User Guide*. Specifies default encryption for a bucket using server-side encryption with Amazon S3-managed keys (SSE-S3), AWS KMS-managed keys (SSE-KMS), or dual-layer server-side encryption with KMS-managed keys (DSSE-KMS). For information about the Amazon S3 default encryption feature, see [Amazon S3 Default Encryption for S3 Buckets](https://docs.aws.amazon.com/AmazonS3/latest/dev/bucket-encryption.html) in the *Amazon S3 User Guide*."
        },
        "bucketName": {
          "type": "string",
          "description": "A name for the bucket. If you don't specify a name, AWS CloudFormation generates a unique ID and uses that ID for the bucket name. The bucket name must contain only lowercase letters, numbers, periods (.), and dashes (-) and must follow [Amazon S3 bucket restrictions and limitations](https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html). For more information, see [Rules for naming Amazon S3 buckets](https://docs.aws.amazon.com/AmazonS3/latest/dev/BucketRestrictions.html#bucketnamingrules) in the *Amazon S3 User Guide*.   If you specify a name, you can't perform updates that require replacement of this resource. You can perform updates that require no or some interruption. If you need to replace the resource, specify a new name."
        },
        "corsConfiguration": {
          "$ref": "#/definitions/CorsConfiguration",
          "description": "Describes the cross-origin access configuration for objects in an Amazon S3 bucket. For more information, see [Enabling Cross-Origin Resource Sharing](https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html) in the *Amazon S3 User Guide*. Describes the cross-origin access configuration for objects in an Amazon S3 bucket. For more information, see [Enabling Cross-Origin Resource Sharing](https://docs.aws.amazon.com/AmazonS3/latest/dev/cors.html) in the *Amazon S3 User Guide*."
        },
        "domainName": {
          "type": "string",
          "description": "Property domainName"
        },
        "dualStackDomainName": {
          "type": "string",
          "description": "Property dualStackDomainName"
        },
        "intelligentTieringConfigurations": {
          "type": "array",
          "description": "Defines how Amazon S3 handles Intelligent-Tiering storage.",
          "items": {
            "$ref": "#/definitions/IntelligentTieringConfiguration"
          },
          "x-ms-identifiers": []
        },
        "inventoryConfigurations": {
          "type": "array",
          "description": "Specifies the inventory configuration for an Amazon S3 bucket. For more information, see [GET Bucket inventory](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketGETInventoryConfig.html) in the *Amazon S3 API Reference*.",
          "items": {
            "$ref": "#/definitions/InventoryConfiguration"
          },
          "x-ms-identifiers": []
        },
        "lifecycleConfiguration": {
          "$ref": "#/definitions/LifecycleConfiguration",
          "description": "Specifies the lifecycle configuration for objects in an Amazon S3 bucket. For more information, see [Object Lifecycle Management](https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lifecycle-mgmt.html) in the *Amazon S3 User Guide*. Specifies the lifecycle configuration for objects in an Amazon S3 bucket. For more information, see [Object Lifecycle Management](https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lifecycle-mgmt.html) in the *Amazon S3 User Guide*."
        },
        "loggingConfiguration": {
          "$ref": "#/definitions/LoggingConfiguration",
          "description": "Settings that define where logs are stored. Describes where logs are stored and the prefix that Amazon S3 assigns to all log object keys for a bucket. For examples and more information, see [PUT Bucket logging](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTlogging.html) in the *Amazon S3 API Reference*.  To successfully complete the ``AWS::S3::Bucket LoggingConfiguration`` request, you must have ``s3:PutObject`` and ``s3:PutObjectAcl`` in your IAM permissions."
        },
        "metricsConfigurations": {
          "type": "array",
          "description": "Specifies a metrics configuration for the CloudWatch request metrics (specified by the metrics configuration ID) from an Amazon S3 bucket. If you're updating an existing metrics configuration, note that this is a full replacement of the existing metrics configuration. If you don't include the elements you want to keep, they are erased. For more information, see [PutBucketMetricsConfiguration](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTMetricConfiguration.html).",
          "items": {
            "$ref": "#/definitions/MetricsConfiguration"
          },
          "x-ms-identifiers": []
        },
        "notificationConfiguration": {
          "$ref": "#/definitions/NotificationConfiguration",
          "description": "Configuration that defines how Amazon S3 handles bucket notifications. Describes the notification configuration for an Amazon S3 bucket.  If you create the target resource and related permissions in the same template, you might have a circular dependency. For example, you might use the ``AWS::Lambda::Permission`` resource to grant the bucket permission to invoke an AWS Lambda function. However, AWS CloudFormation can't create the bucket until the bucket has permission to invoke the function (AWS CloudFormation checks whether the bucket can invoke the function). If you're using Refs to pass the bucket name, this leads to a circular dependency. To avoid this dependency, you can create all resources without specifying the notification configuration. Then, update the stack with a notification configuration. For more information on permissions, see [AWS::Lambda::Permission](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-lambda-permission.html) and [Granting Permissions to Publish Event Notification Messages to a Destination](https://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html#grant-destinations-permissions-to-s3)."
        },
        "objectLockConfiguration": {
          "$ref": "#/definitions/ObjectLockConfiguration",
          "description": "This operation is not supported by directory buckets.  Places an Object Lock configuration on the specified bucket. The rule specified in the Object Lock configuration will be applied by default to every new object placed in the specified bucket. For more information, see [Locking Objects](https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lock.html).    +  The ``DefaultRetention`` settings require both a mode and a period.  +  The ``DefaultRetention`` period can be either ``Days`` or ``Years`` but you must select one. You cannot specify ``Days`` and ``Years`` at the same time.  +  You can enable Object Lock for new or existing buckets. For more information, see [Configuring Object Lock](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-lock-configure.html). Places an Object Lock configuration on the specified bucket. The rule specified in the Object Lock configuration will be applied by default to every new object placed in the specified bucket. For more information, see [Locking Objects](https://docs.aws.amazon.com/AmazonS3/latest/dev/object-lock.html)."
        },
        "objectLockEnabled": {
          "type": "boolean",
          "description": "Indicates whether this bucket has an Object Lock configuration enabled. Enable ``ObjectLockEnabled`` when you apply ``ObjectLockConfiguration`` to a bucket."
        },
        "ownershipControls": {
          "$ref": "#/definitions/OwnershipControls",
          "description": "Configuration that defines how Amazon S3 handles Object Ownership rules. Specifies the container element for Object Ownership rules. S3 Object Ownership is an Amazon S3 bucket-level setting that you can use to disable access control lists (ACLs) and take ownership of every object in your bucket, simplifying access management for data stored in Amazon S3. For more information, see [Controlling ownership of objects and disabling ACLs](https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html) in the *Amazon S3 User Guide*."
        },
        "publicAccessBlockConfiguration": {
          "$ref": "#/definitions/PublicAccessBlockConfiguration",
          "description": "Configuration that defines how Amazon S3 handles public access. The PublicAccessBlock configuration that you want to apply to this Amazon S3 bucket. You can enable the configuration options in any combination. For more information about when Amazon S3 considers a bucket or object public, see [The Meaning of 'Public'](https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html#access-control-block-public-access-policy-status) in the *Amazon S3 User Guide*."
        },
        "regionalDomainName": {
          "type": "string",
          "description": "Property regionalDomainName"
        },
        "replicationConfiguration": {
          "$ref": "#/definitions/ReplicationConfiguration",
          "description": "Configuration for replicating objects in an S3 bucket. To enable replication, you must also enable versioning by using the ``VersioningConfiguration`` property. Amazon S3 can store replicated objects in a single destination bucket or multiple destination buckets. The destination bucket or buckets must already exist. A container for replication rules. You can add up to 1,000 rules. The maximum size of a replication configuration is 2 MB. The latest version of the replication configuration XML is V2. For more information about XML V2 replication configurations, see [Replication configuration](https://docs.aws.amazon.com/AmazonS3/latest/userguide/replication-add-config.html) in the *Amazon S3 User Guide*."
        },
        "tags": {
          "type": "array",
          "description": "An arbitrary set of tags (key-value pairs) for this S3 bucket.",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "versioningConfiguration": {
          "$ref": "#/definitions/VersioningConfiguration",
          "description": "Enables multiple versions of all objects in this bucket. You might enable versioning to prevent objects from being deleted or overwritten by mistake or to archive objects so that you can retrieve previous versions of them. Describes the versioning state of an Amazon S3 bucket. For more information, see [PUT Bucket versioning](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html) in the *Amazon S3 API Reference*."
        },
        "websiteConfiguration": {
          "$ref": "#/definitions/WebsiteConfiguration",
          "description": "Information used to configure the bucket as a static website. For more information, see [Hosting Websites on Amazon S3](https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html). Specifies website configuration parameters for an Amazon S3 bucket."
        },
        "websiteURL": {
          "type": "string",
          "description": "Property websiteURL"
        }
      }
    },
    "BucketEncryption": {
      "type": "object",
      "description": "Definition of BucketEncryption",
      "properties": {
        "serverSideEncryptionConfiguration": {
          "type": "array",
          "description": "Specifies the default server-side-encryption configuration.",
          "items": {
            "$ref": "#/definitions/ServerSideEncryptionRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CorsConfiguration": {
      "type": "object",
      "description": "Definition of CorsConfiguration",
      "properties": {
        "corsRules": {
          "type": "array",
          "description": "A set of origins and methods (cross-origin access that you want to allow). You can add up to 100 rules to the configuration.",
          "items": {
            "$ref": "#/definitions/CorsRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CorsRule": {
      "type": "object",
      "description": "Definition of CorsRule",
      "properties": {
        "allowedHeaders": {
          "type": "array",
          "description": "Headers that are specified in the ``Access-Control-Request-Headers`` header. These headers are allowed in a preflight OPTIONS request. In response to any preflight OPTIONS request, Amazon S3 returns any requested headers that are allowed.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "allowedMethods": {
          "type": "array",
          "description": "An HTTP method that you allow the origin to run.  *Allowed values*: ``GET`` | ``PUT`` | ``HEAD`` | ``POST`` | ``DELETE``",
          "items": {
            "$ref": "#/definitions/CorsRuleAllowedMethods"
          },
          "x-ms-identifiers": []
        },
        "allowedOrigins": {
          "type": "array",
          "description": "One or more origins you want customers to be able to access the bucket from.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "exposedHeaders": {
          "type": "array",
          "description": "One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript ``XMLHttpRequest`` object).",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "id": {
          "type": "string",
          "description": "A unique identifier for this rule. The value must be no more than 255 characters."
        },
        "maxAge": {
          "type": "integer",
          "format": "int32",
          "description": "The time in seconds that your browser is to cache the preflight response for the specified resource."
        }
      }
    },
    "CorsRuleAllowedMethods": {
      "type": "string",
      "description": "CorsRuleAllowedMethods enum",
      "enum": [
        "DELETE",
        "GET",
        "HEAD",
        "POST",
        "PUT"
      ],
      "x-ms-enum": {
        "name": "CorsRuleAllowedMethods",
        "modelAsString": true,
        "values": [
          {
            "name": "DELETE",
            "value": "DELETE",
            "description": "CorsRuleAllowedMethods enum DELETE"
          },
          {
            "name": "GET",
            "value": "GET",
            "description": "CorsRuleAllowedMethods enum GET"
          },
          {
            "name": "HEAD",
            "value": "HEAD",
            "description": "CorsRuleAllowedMethods enum HEAD"
          },
          {
            "name": "POST",
            "value": "POST",
            "description": "CorsRuleAllowedMethods enum POST"
          },
          {
            "name": "PUT",
            "value": "PUT",
            "description": "CorsRuleAllowedMethods enum PUT"
          }
        ]
      }
    },
    "DataExport": {
      "type": "object",
      "description": "Definition of DataExport",
      "properties": {
        "destination": {
          "$ref": "#/definitions/Destination",
          "description": "The place to store the data for an analysis. Specifies information about where to publish analysis or configuration results for an Amazon S3 bucket."
        },
        "outputSchemaVersion": {
          "type": "string",
          "description": "The version of the output schema to use when exporting data. Must be ``V_1``."
        }
      }
    },
    "DefaultRetention": {
      "type": "object",
      "description": "Definition of DefaultRetention",
      "properties": {
        "days": {
          "type": "integer",
          "format": "int32",
          "description": "The number of days that you want to specify for the default retention period. If Object Lock is turned on, you must specify ``Mode`` and specify either ``Days`` or ``Years``."
        },
        "mode": {
          "$ref": "#/definitions/DefaultRetentionMode",
          "description": "The default Object Lock retention mode you want to apply to new objects placed in the specified bucket. If Object Lock is turned on, you must specify ``Mode`` and specify either ``Days`` or ``Years``."
        },
        "years": {
          "type": "integer",
          "format": "int32",
          "description": "The number of years that you want to specify for the default retention period. If Object Lock is turned on, you must specify ``Mode`` and specify either ``Days`` or ``Years``."
        }
      }
    },
    "DefaultRetentionMode": {
      "type": "string",
      "description": "DefaultRetentionMode enum",
      "enum": [
        "COMPLIANCE",
        "GOVERNANCE"
      ],
      "x-ms-enum": {
        "name": "DefaultRetentionMode",
        "modelAsString": true,
        "values": [
          {
            "name": "COMPLIANCE",
            "value": "COMPLIANCE",
            "description": "DefaultRetentionMode enum COMPLIANCE"
          },
          {
            "name": "GOVERNANCE",
            "value": "GOVERNANCE",
            "description": "DefaultRetentionMode enum GOVERNANCE"
          }
        ]
      }
    },
    "DeleteMarkerReplication": {
      "type": "object",
      "description": "Definition of DeleteMarkerReplication",
      "properties": {
        "status": {
          "$ref": "#/definitions/DeleteMarkerReplicationStatus",
          "description": "Indicates whether to replicate delete markers. Disabled by default."
        }
      }
    },
    "DeleteMarkerReplicationStatus": {
      "type": "string",
      "description": "DeleteMarkerReplicationStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "DeleteMarkerReplicationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "DeleteMarkerReplicationStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "DeleteMarkerReplicationStatus enum Enabled"
          }
        ]
      }
    },
    "Destination": {
      "type": "object",
      "description": "Definition of Destination",
      "properties": {
        "bucketAccountId": {
          "type": "string",
          "description": "The account ID that owns the destination S3 bucket. If no account ID is provided, the owner is not validated before exporting data.   Although this value is optional, we strongly recommend that you set it to help prevent problems if the destination bucket ownership changes."
        },
        "bucketArn": {
          "type": "string",
          "description": "The Amazon Resource Name (ARN) of the bucket to which data is exported."
        },
        "format": {
          "$ref": "#/definitions/DestinationFormat",
          "description": "Specifies the file format used when exporting data to Amazon S3.  *Allowed values*: ``CSV`` | ``ORC`` | ``Parquet``"
        },
        "prefix": {
          "type": "string",
          "description": "The prefix to use when exporting data. The prefix is prepended to all results."
        }
      }
    },
    "DestinationFormat": {
      "type": "string",
      "description": "DestinationFormat enum",
      "enum": [
        "CSV",
        "ORC",
        "Parquet"
      ],
      "x-ms-enum": {
        "name": "DestinationFormat",
        "modelAsString": true,
        "values": [
          {
            "name": "CSV",
            "value": "CSV",
            "description": "DestinationFormat enum CSV"
          },
          {
            "name": "ORC",
            "value": "ORC",
            "description": "DestinationFormat enum ORC"
          },
          {
            "name": "Parquet",
            "value": "Parquet",
            "description": "DestinationFormat enum Parquet"
          }
        ]
      }
    },
    "EncryptionConfiguration": {
      "type": "object",
      "description": "Definition of EncryptionConfiguration",
      "properties": {
        "replicaKmsKeyID": {
          "type": "string",
          "description": "Specifies the ID (Key ARN or Alias ARN) of the customer managed AWS KMS key stored in AWS Key Management Service (KMS) for the destination bucket. Amazon S3 uses this key to encrypt replica objects. Amazon S3 only supports symmetric encryption KMS keys. For more information, see [Asymmetric keys in KMS](https://docs.aws.amazon.com//kms/latest/developerguide/symmetric-asymmetric.html) in the *Key Management Service Developer Guide*."
        }
      }
    },
    "EventBridgeConfiguration": {
      "type": "object",
      "description": "Definition of EventBridgeConfiguration",
      "properties": {
        "eventBridgeEnabled": {
          "type": "boolean",
          "description": "Enables delivery of events to Amazon EventBridge.",
          "default": true
        }
      }
    },
    "FilterRule": {
      "type": "object",
      "description": "Definition of FilterRule",
      "properties": {
        "name": {
          "type": "string",
          "description": "The object key name prefix or suffix identifying one or more objects to which the filtering rule applies. The maximum length is 1,024 characters. Overlapping prefixes and suffixes are not supported. For more information, see [Configuring Event Notifications](https://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html) in the *Amazon S3 User Guide*."
        },
        "value": {
          "type": "string",
          "description": "The value that the filter searches for in object key names."
        }
      }
    },
    "IntelligentTieringConfiguration": {
      "type": "object",
      "description": "Definition of IntelligentTieringConfiguration",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID used to identify the S3 Intelligent-Tiering configuration."
        },
        "prefix": {
          "type": "string",
          "description": "An object key name prefix that identifies the subset of objects to which the rule applies."
        },
        "status": {
          "$ref": "#/definitions/IntelligentTieringConfigurationStatus",
          "description": "Specifies the status of the configuration."
        },
        "tagFilters": {
          "type": "array",
          "description": "A container for a key-value pair.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        },
        "tierings": {
          "type": "array",
          "description": "Specifies a list of S3 Intelligent-Tiering storage class tiers in the configuration. At least one tier must be defined in the list. At most, you can specify two tiers in the list, one for each available AccessTier: ``ARCHIVE_ACCESS`` and ``DEEP_ARCHIVE_ACCESS``.  You only need Intelligent Tiering Configuration enabled on a bucket if you want to automatically move objects stored in the Intelligent-Tiering storage class to Archive Access or Deep Archive Access tiers.",
          "items": {
            "$ref": "#/definitions/Tiering"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "IntelligentTieringConfigurationStatus": {
      "type": "string",
      "description": "IntelligentTieringConfigurationStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "IntelligentTieringConfigurationStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "IntelligentTieringConfigurationStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "IntelligentTieringConfigurationStatus enum Enabled"
          }
        ]
      }
    },
    "InventoryConfiguration": {
      "type": "object",
      "description": "Definition of InventoryConfiguration",
      "properties": {
        "destination": {
          "$ref": "#/definitions/Destination",
          "description": "Contains information about where to publish the inventory results. Specifies information about where to publish analysis or configuration results for an Amazon S3 bucket."
        },
        "enabled": {
          "type": "boolean",
          "description": "Specifies whether the inventory is enabled or disabled. If set to ``True``, an inventory list is generated. If set to ``False``, no inventory list is generated."
        },
        "id": {
          "type": "string",
          "description": "The ID used to identify the inventory configuration."
        },
        "includedObjectVersions": {
          "$ref": "#/definitions/InventoryConfigurationIncludedObjectVersions",
          "description": "Object versions to include in the inventory list. If set to ``All``, the list includes all the object versions, which adds the version-related fields ``VersionId``, ``IsLatest``, and ``DeleteMarker`` to the list. If set to ``Current``, the list does not contain these version-related fields."
        },
        "optionalFields": {
          "type": "array",
          "description": "Contains the optional fields that are included in the inventory results.",
          "items": {
            "$ref": "#/definitions/InventoryConfigurationOptionalFields"
          },
          "x-ms-identifiers": []
        },
        "prefix": {
          "type": "string",
          "description": "Specifies the inventory filter prefix."
        },
        "scheduleFrequency": {
          "$ref": "#/definitions/InventoryConfigurationScheduleFrequency",
          "description": "Specifies the schedule for generating inventory results."
        }
      }
    },
    "InventoryConfigurationIncludedObjectVersions": {
      "type": "string",
      "description": "InventoryConfigurationIncludedObjectVersions enum",
      "enum": [
        "All",
        "Current"
      ],
      "x-ms-enum": {
        "name": "InventoryConfigurationIncludedObjectVersions",
        "modelAsString": true,
        "values": [
          {
            "name": "All",
            "value": "All",
            "description": "InventoryConfigurationIncludedObjectVersions enum All"
          },
          {
            "name": "Current",
            "value": "Current",
            "description": "InventoryConfigurationIncludedObjectVersions enum Current"
          }
        ]
      }
    },
    "InventoryConfigurationOptionalFields": {
      "type": "string",
      "description": "InventoryConfigurationOptionalFields enum",
      "enum": [
        "BucketKeyStatus",
        "ChecksumAlgorithm",
        "ETag",
        "EncryptionStatus",
        "IntelligentTieringAccessTier",
        "IsMultipartUploaded",
        "LastModifiedDate",
        "ObjectAccessControlList",
        "ObjectLockLegalHoldStatus",
        "ObjectLockMode",
        "ObjectLockRetainUntilDate",
        "ObjectOwner",
        "ReplicationStatus",
        "Size",
        "StorageClass"
      ],
      "x-ms-enum": {
        "name": "InventoryConfigurationOptionalFields",
        "modelAsString": true,
        "values": [
          {
            "name": "BucketKeyStatus",
            "value": "BucketKeyStatus",
            "description": "InventoryConfigurationOptionalFields enum BucketKeyStatus"
          },
          {
            "name": "ChecksumAlgorithm",
            "value": "ChecksumAlgorithm",
            "description": "InventoryConfigurationOptionalFields enum ChecksumAlgorithm"
          },
          {
            "name": "ETag",
            "value": "ETag",
            "description": "InventoryConfigurationOptionalFields enum ETag"
          },
          {
            "name": "EncryptionStatus",
            "value": "EncryptionStatus",
            "description": "InventoryConfigurationOptionalFields enum EncryptionStatus"
          },
          {
            "name": "IntelligentTieringAccessTier",
            "value": "IntelligentTieringAccessTier",
            "description": "InventoryConfigurationOptionalFields enum IntelligentTieringAccessTier"
          },
          {
            "name": "IsMultipartUploaded",
            "value": "IsMultipartUploaded",
            "description": "InventoryConfigurationOptionalFields enum IsMultipartUploaded"
          },
          {
            "name": "LastModifiedDate",
            "value": "LastModifiedDate",
            "description": "InventoryConfigurationOptionalFields enum LastModifiedDate"
          },
          {
            "name": "ObjectAccessControlList",
            "value": "ObjectAccessControlList",
            "description": "InventoryConfigurationOptionalFields enum ObjectAccessControlList"
          },
          {
            "name": "ObjectLockLegalHoldStatus",
            "value": "ObjectLockLegalHoldStatus",
            "description": "InventoryConfigurationOptionalFields enum ObjectLockLegalHoldStatus"
          },
          {
            "name": "ObjectLockMode",
            "value": "ObjectLockMode",
            "description": "InventoryConfigurationOptionalFields enum ObjectLockMode"
          },
          {
            "name": "ObjectLockRetainUntilDate",
            "value": "ObjectLockRetainUntilDate",
            "description": "InventoryConfigurationOptionalFields enum ObjectLockRetainUntilDate"
          },
          {
            "name": "ObjectOwner",
            "value": "ObjectOwner",
            "description": "InventoryConfigurationOptionalFields enum ObjectOwner"
          },
          {
            "name": "ReplicationStatus",
            "value": "ReplicationStatus",
            "description": "InventoryConfigurationOptionalFields enum ReplicationStatus"
          },
          {
            "name": "Size",
            "value": "Size",
            "description": "InventoryConfigurationOptionalFields enum Size"
          },
          {
            "name": "StorageClass",
            "value": "StorageClass",
            "description": "InventoryConfigurationOptionalFields enum StorageClass"
          }
        ]
      }
    },
    "InventoryConfigurationScheduleFrequency": {
      "type": "string",
      "description": "InventoryConfigurationScheduleFrequency enum",
      "enum": [
        "Daily",
        "Weekly"
      ],
      "x-ms-enum": {
        "name": "InventoryConfigurationScheduleFrequency",
        "modelAsString": true,
        "values": [
          {
            "name": "Daily",
            "value": "Daily",
            "description": "InventoryConfigurationScheduleFrequency enum Daily"
          },
          {
            "name": "Weekly",
            "value": "Weekly",
            "description": "InventoryConfigurationScheduleFrequency enum Weekly"
          }
        ]
      }
    },
    "LambdaConfiguration": {
      "type": "object",
      "description": "Definition of LambdaConfiguration",
      "properties": {
        "event": {
          "type": "string",
          "description": "The Amazon S3 bucket event for which to invoke the LAMlong function. For more information, see [Supported Event Types](https://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html) in the *Amazon S3 User Guide*."
        },
        "filter": {
          "$ref": "#/definitions/NotificationFilter",
          "description": "The filtering rules that determine which objects invoke the AWS Lambda function. For example, you can create a filter so that only image files with a ``.jpg`` extension invoke the function when they are added to the Amazon S3 bucket. Specifies object key name filtering rules. For information about key name filtering, see [Configuring event notifications using object key name filtering](https://docs.aws.amazon.com/AmazonS3/latest/userguide/notification-how-to-filtering.html) in the *Amazon S3 User Guide*."
        },
        "function": {
          "type": "string",
          "description": "The Amazon Resource Name (ARN) of the LAMlong function that Amazon S3 invokes when the specified event type occurs."
        }
      }
    },
    "LifecycleConfiguration": {
      "type": "object",
      "description": "Definition of LifecycleConfiguration",
      "properties": {
        "rules": {
          "type": "array",
          "description": "A lifecycle rule for individual objects in an Amazon S3 bucket.",
          "items": {
            "$ref": "#/definitions/Rule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "LoggingConfiguration": {
      "type": "object",
      "description": "Definition of LoggingConfiguration",
      "properties": {
        "destinationBucketName": {
          "type": "string",
          "description": "The name of the bucket where Amazon S3 should store server access log files. You can store log files in any bucket that you own. By default, logs are stored in the bucket where the ``LoggingConfiguration`` property is defined."
        },
        "logFilePrefix": {
          "type": "string",
          "description": "A prefix for all log object keys. If you store log files from multiple Amazon S3 buckets in a single bucket, you can use a prefix to distinguish which log files came from which bucket."
        },
        "targetObjectKeyFormat": {
          "$ref": "#/definitions/TargetObjectKeyFormat",
          "description": "Amazon S3 key format for log objects. Only one format, either PartitionedPrefix or SimplePrefix, is allowed. Describes the key format for server access log file in the target bucket. You can choose between SimplePrefix and PartitionedPrefix."
        }
      }
    },
    "Metrics": {
      "type": "object",
      "description": "Definition of Metrics",
      "properties": {
        "eventThreshold": {
          "$ref": "#/definitions/ReplicationTimeValue",
          "description": "A container specifying the time threshold for emitting the ``s3:Replication:OperationMissedThreshold`` event. A container specifying the time value for S3 Replication Time Control (S3 RTC) and replication metrics ``EventThreshold``."
        },
        "status": {
          "$ref": "#/definitions/MetricsStatus",
          "description": "Specifies whether the replication metrics are enabled."
        }
      }
    },
    "MetricsConfiguration": {
      "type": "object",
      "description": "Definition of MetricsConfiguration",
      "properties": {
        "accessPointArn": {
          "type": "string",
          "description": "The access point that was used while performing operations on the object. The metrics configuration only includes objects that meet the filter's criteria."
        },
        "id": {
          "type": "string",
          "description": "The ID used to identify the metrics configuration. This can be any value you choose that helps you identify your metrics configuration."
        },
        "prefix": {
          "type": "string",
          "description": "The prefix that an object must have to be included in the metrics results."
        },
        "tagFilters": {
          "type": "array",
          "description": "Specifies a list of tag filters to use as a metrics configuration filter. The metrics configuration includes only objects that meet the filter's criteria.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "MetricsStatus": {
      "type": "string",
      "description": "MetricsStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "MetricsStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "MetricsStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "MetricsStatus enum Enabled"
          }
        ]
      }
    },
    "NoncurrentVersionExpiration": {
      "type": "object",
      "description": "Definition of NoncurrentVersionExpiration",
      "properties": {
        "newerNoncurrentVersions": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies how many noncurrent versions S3 will retain. If there are this many more recent noncurrent versions, S3 will take the associated action. For more information about noncurrent versions, see [Lifecycle configuration elements](https://docs.aws.amazon.com/AmazonS3/latest/userguide/intro-lifecycle-rules.html) in the *Amazon S3 User Guide*."
        },
        "noncurrentDays": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the number of days an object is noncurrent before S3 can perform the associated action. For information about the noncurrent days calculations, see [How Amazon S3 Calculates When an Object Became Noncurrent](https://docs.aws.amazon.com/AmazonS3/latest/dev/intro-lifecycle-rules.html#non-current-days-calculations) in the *Amazon S3 User Guide*."
        }
      }
    },
    "NoncurrentVersionTransition": {
      "type": "object",
      "description": "Definition of NoncurrentVersionTransition",
      "properties": {
        "newerNoncurrentVersions": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies how many noncurrent versions S3 will retain. If there are this many more recent noncurrent versions, S3 will take the associated action. For more information about noncurrent versions, see [Lifecycle configuration elements](https://docs.aws.amazon.com/AmazonS3/latest/userguide/intro-lifecycle-rules.html) in the *Amazon S3 User Guide*."
        },
        "storageClass": {
          "$ref": "#/definitions/NoncurrentVersionTransitionStorageClass",
          "description": "The class of storage used to store the object."
        },
        "transitionInDays": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the number of days an object is noncurrent before Amazon S3 can perform the associated action. For information about the noncurrent days calculations, see [How Amazon S3 Calculates How Long an Object Has Been Noncurrent](https://docs.aws.amazon.com/AmazonS3/latest/dev/intro-lifecycle-rules.html#non-current-days-calculations) in the *Amazon S3 User Guide*."
        }
      }
    },
    "NoncurrentVersionTransitionStorageClass": {
      "type": "string",
      "description": "NoncurrentVersionTransitionStorageClass enum",
      "enum": [
        "DEEP_ARCHIVE",
        "GLACIER",
        "GLACIER_IR",
        "INTELLIGENT_TIERING",
        "ONEZONE_IA",
        "STANDARD_IA"
      ],
      "x-ms-enum": {
        "name": "NoncurrentVersionTransitionStorageClass",
        "modelAsString": true,
        "values": [
          {
            "name": "DEEP_ARCHIVE",
            "value": "DEEP_ARCHIVE",
            "description": "NoncurrentVersionTransitionStorageClass enum DEEP_ARCHIVE"
          },
          {
            "name": "GLACIER",
            "value": "GLACIER",
            "description": "NoncurrentVersionTransitionStorageClass enum GLACIER"
          },
          {
            "name": "GLACIER_IR",
            "value": "GLACIER_IR",
            "description": "NoncurrentVersionTransitionStorageClass enum GLACIER_IR"
          },
          {
            "name": "INTELLIGENT_TIERING",
            "value": "INTELLIGENT_TIERING",
            "description": "NoncurrentVersionTransitionStorageClass enum INTELLIGENT_TIERING"
          },
          {
            "name": "ONEZONE_IA",
            "value": "ONEZONE_IA",
            "description": "NoncurrentVersionTransitionStorageClass enum ONEZONE_IA"
          },
          {
            "name": "STANDARD_IA",
            "value": "STANDARD_IA",
            "description": "NoncurrentVersionTransitionStorageClass enum STANDARD_IA"
          }
        ]
      }
    },
    "NotificationConfiguration": {
      "type": "object",
      "description": "Definition of NotificationConfiguration",
      "properties": {
        "eventBridgeConfiguration": {
          "$ref": "#/definitions/EventBridgeConfiguration",
          "description": "Enables delivery of events to Amazon EventBridge. Amazon S3 can send events to Amazon EventBridge whenever certain events happen in your bucket, see [Using EventBridge](https://docs.aws.amazon.com/AmazonS3/latest/userguide/EventBridge.html) in the *Amazon S3 User Guide*. Unlike other destinations, delivery of events to EventBridge can be either enabled or disabled for a bucket. If enabled, all events will be sent to EventBridge and you can use EventBridge rules to route events to additional targets. For more information, see [What Is Amazon EventBridge](https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-what-is.html) in the *Amazon EventBridge User Guide*"
        },
        "lambdaConfigurations": {
          "type": "array",
          "description": "Describes the LAMlong functions to invoke and the events for which to invoke them.",
          "items": {
            "$ref": "#/definitions/LambdaConfiguration"
          },
          "x-ms-identifiers": []
        },
        "queueConfigurations": {
          "type": "array",
          "description": "The Amazon Simple Queue Service queues to publish messages to and the events for which to publish messages.",
          "items": {
            "$ref": "#/definitions/QueueConfiguration"
          },
          "x-ms-identifiers": []
        },
        "topicConfigurations": {
          "type": "array",
          "description": "The topic to which notifications are sent and the events for which notifications are generated.",
          "items": {
            "$ref": "#/definitions/TopicConfiguration"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "NotificationFilter": {
      "type": "object",
      "description": "Definition of NotificationFilter",
      "properties": {
        "s3Key": {
          "$ref": "#/definitions/S3KeyFilter",
          "description": "A container for object key name prefix and suffix filtering rules. A container for object key name prefix and suffix filtering rules. For more information about object key name filtering, see [Configuring event notifications using object key name filtering](https://docs.aws.amazon.com/AmazonS3/latest/userguide/notification-how-to-filtering.html) in the *Amazon S3 User Guide*.  The same type of filter rule cannot be used more than once. For example, you cannot specify two prefix rules."
        }
      }
    },
    "ObjectLockConfiguration": {
      "type": "object",
      "description": "Definition of ObjectLockConfiguration",
      "properties": {
        "objectLockEnabled": {
          "type": "string",
          "description": "Indicates whether this bucket has an Object Lock configuration enabled. Enable ``ObjectLockEnabled`` when you apply ``ObjectLockConfiguration`` to a bucket."
        },
        "rule": {
          "$ref": "#/definitions/ObjectLockRule",
          "description": "Specifies the Object Lock rule for the specified object. Enable this rule when you apply ``ObjectLockConfiguration`` to a bucket. If Object Lock is turned on, bucket settings require both ``Mode`` and a period of either ``Days`` or ``Years``. You cannot specify ``Days`` and ``Years`` at the same time. For more information, see [ObjectLockRule](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-objectlockrule.html) and [DefaultRetention](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-defaultretention.html). Specifies the Object Lock rule for the specified object. Enable the this rule when you apply ``ObjectLockConfiguration`` to a bucket."
        }
      }
    },
    "ObjectLockRule": {
      "type": "object",
      "description": "Definition of ObjectLockRule",
      "properties": {
        "defaultRetention": {
          "$ref": "#/definitions/DefaultRetention",
          "description": "The default Object Lock retention mode and period that you want to apply to new objects placed in the specified bucket. If Object Lock is turned on, bucket settings require both ``Mode`` and a period of either ``Days`` or ``Years``. You cannot specify ``Days`` and ``Years`` at the same time. For more information about allowable values for mode and period, see [DefaultRetention](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-defaultretention.html). The container element for specifying the default Object Lock retention settings for new objects placed in the specified bucket.   +  The ``DefaultRetention`` settings require both a mode and a period.  +  The ``DefaultRetention`` period can be either ``Days`` or ``Years`` but you must select one. You cannot specify ``Days`` and ``Years`` at the same time."
        }
      }
    },
    "OwnershipControls": {
      "type": "object",
      "description": "Definition of OwnershipControls",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Specifies the container element for Object Ownership rules.",
          "items": {
            "$ref": "#/definitions/OwnershipControlsRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "OwnershipControlsRule": {
      "type": "object",
      "description": "Definition of OwnershipControlsRule",
      "properties": {
        "objectOwnership": {
          "$ref": "#/definitions/OwnershipControlsRuleObjectOwnership",
          "description": "Specifies an object ownership rule."
        }
      }
    },
    "OwnershipControlsRuleObjectOwnership": {
      "type": "string",
      "description": "OwnershipControlsRuleObjectOwnership enum",
      "enum": [
        "BucketOwnerEnforced",
        "BucketOwnerPreferred",
        "ObjectWriter"
      ],
      "x-ms-enum": {
        "name": "OwnershipControlsRuleObjectOwnership",
        "modelAsString": true,
        "values": [
          {
            "name": "BucketOwnerEnforced",
            "value": "BucketOwnerEnforced",
            "description": "OwnershipControlsRuleObjectOwnership enum BucketOwnerEnforced"
          },
          {
            "name": "BucketOwnerPreferred",
            "value": "BucketOwnerPreferred",
            "description": "OwnershipControlsRuleObjectOwnership enum BucketOwnerPreferred"
          },
          {
            "name": "ObjectWriter",
            "value": "ObjectWriter",
            "description": "OwnershipControlsRuleObjectOwnership enum ObjectWriter"
          }
        ]
      }
    },
    "PartitionedPrefix": {
      "type": "object",
      "description": "Definition of PartitionedPrefix",
      "properties": {
        "partitionDateSource": {
          "$ref": "#/definitions/PartitionedPrefixPartitionDateSource",
          "description": "Specifies the partition date source for the partitioned prefix. PartitionDateSource can be EventTime or DeliveryTime."
        }
      }
    },
    "PartitionedPrefixPartitionDateSource": {
      "type": "string",
      "description": "PartitionedPrefixPartitionDateSource enum",
      "enum": [
        "DeliveryTime",
        "EventTime"
      ],
      "x-ms-enum": {
        "name": "PartitionedPrefixPartitionDateSource",
        "modelAsString": true,
        "values": [
          {
            "name": "DeliveryTime",
            "value": "DeliveryTime",
            "description": "PartitionedPrefixPartitionDateSource enum DeliveryTime"
          },
          {
            "name": "EventTime",
            "value": "EventTime",
            "description": "PartitionedPrefixPartitionDateSource enum EventTime"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "PublicAccessBlockConfiguration": {
      "type": "object",
      "description": "Definition of PublicAccessBlockConfiguration",
      "properties": {
        "blockPublicAcls": {
          "type": "boolean",
          "description": "Specifies whether Amazon S3 should block public access control lists (ACLs) for this bucket and objects in this bucket. Setting this element to ``TRUE`` causes the following behavior:  +  PUT Bucket ACL and PUT Object ACL calls fail if the specified ACL is public.  +  PUT Object calls fail if the request includes a public ACL.  +  PUT Bucket calls fail if the request includes a public ACL.   Enabling this setting doesn't affect existing policies or ACLs."
        },
        "blockPublicPolicy": {
          "type": "boolean",
          "description": "Specifies whether Amazon S3 should block public bucket policies for this bucket. Setting this element to ``TRUE`` causes Amazon S3 to reject calls to PUT Bucket policy if the specified bucket policy allows public access.  Enabling this setting doesn't affect existing bucket policies."
        },
        "ignorePublicAcls": {
          "type": "boolean",
          "description": "Specifies whether Amazon S3 should ignore public ACLs for this bucket and objects in this bucket. Setting this element to ``TRUE`` causes Amazon S3 to ignore all public ACLs on this bucket and objects in this bucket. Enabling this setting doesn't affect the persistence of any existing ACLs and doesn't prevent new public ACLs from being set."
        },
        "restrictPublicBuckets": {
          "type": "boolean",
          "description": "Specifies whether Amazon S3 should restrict public bucket policies for this bucket. Setting this element to ``TRUE`` restricts access to this bucket to only AWS-service principals and authorized users within this account if the bucket has a public policy. Enabling this setting doesn't affect previously stored bucket policies, except that public and cross-account access within any public bucket policy, including non-public delegation to specific accounts, is blocked."
        }
      }
    },
    "QueueConfiguration": {
      "type": "object",
      "description": "Definition of QueueConfiguration",
      "properties": {
        "event": {
          "type": "string",
          "description": "The Amazon S3 bucket event about which you want to publish messages to Amazon SQS. For more information, see [Supported Event Types](https://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html) in the *Amazon S3 User Guide*."
        },
        "filter": {
          "$ref": "#/definitions/NotificationFilter",
          "description": "The filtering rules that determine which objects trigger notifications. For example, you can create a filter so that Amazon S3 sends notifications only when image files with a ``.jpg`` extension are added to the bucket. For more information, see [Configuring event notifications using object key name filtering](https://docs.aws.amazon.com/AmazonS3/latest/user-guide/notification-how-to-filtering.html) in the *Amazon S3 User Guide*. Specifies object key name filtering rules. For information about key name filtering, see [Configuring event notifications using object key name filtering](https://docs.aws.amazon.com/AmazonS3/latest/userguide/notification-how-to-filtering.html) in the *Amazon S3 User Guide*."
        },
        "queue": {
          "type": "string",
          "description": "The Amazon Resource Name (ARN) of the Amazon SQS queue to which Amazon S3 publishes a message when it detects events of the specified type. FIFO queues are not allowed when enabling an SQS queue as the event notification destination."
        }
      }
    },
    "RedirectAllRequestsTo": {
      "type": "object",
      "description": "Definition of RedirectAllRequestsTo",
      "properties": {
        "hostName": {
          "type": "string",
          "description": "Name of the host where requests are redirected."
        },
        "protocol": {
          "$ref": "#/definitions/RedirectAllRequestsToProtocol",
          "description": "Protocol to use when redirecting requests. The default is the protocol that is used in the original request."
        }
      }
    },
    "RedirectAllRequestsToProtocol": {
      "type": "string",
      "description": "RedirectAllRequestsToProtocol enum",
      "enum": [
        "http",
        "https"
      ],
      "x-ms-enum": {
        "name": "RedirectAllRequestsToProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "http",
            "value": "http",
            "description": "RedirectAllRequestsToProtocol enum http"
          },
          {
            "name": "https",
            "value": "https",
            "description": "RedirectAllRequestsToProtocol enum https"
          }
        ]
      }
    },
    "RedirectRule": {
      "type": "object",
      "description": "Definition of RedirectRule",
      "properties": {
        "hostName": {
          "type": "string",
          "description": "The host name to use in the redirect request."
        },
        "httpRedirectCode": {
          "type": "string",
          "description": "The HTTP redirect code to use on the response. Not required if one of the siblings is present."
        },
        "protocol": {
          "$ref": "#/definitions/RedirectRuleProtocol",
          "description": "Protocol to use when redirecting requests. The default is the protocol that is used in the original request."
        },
        "replaceKeyPrefixWith": {
          "type": "string",
          "description": "The object key prefix to use in the redirect request. For example, to redirect requests for all pages with prefix ``docs/`` (objects in the ``docs/`` folder) to ``documents/``, you can set a condition block with ``KeyPrefixEquals`` set to ``docs/`` and in the Redirect set ``ReplaceKeyPrefixWith`` to ``/documents``. Not required if one of the siblings is present. Can be present only if ``ReplaceKeyWith`` is not provided.  Replacement must be made for object keys containing special characters (such as carriage returns) when using XML requests. For more information, see [XML related object key constraints](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html#object-key-xml-related-constraints)."
        },
        "replaceKeyWith": {
          "type": "string",
          "description": "The specific object key to use in the redirect request. For example, redirect request to ``error.html``. Not required if one of the siblings is present. Can be present only if ``ReplaceKeyPrefixWith`` is not provided.  Replacement must be made for object keys containing special characters (such as carriage returns) when using XML requests. For more information, see [XML related object key constraints](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html#object-key-xml-related-constraints)."
        }
      }
    },
    "RedirectRuleProtocol": {
      "type": "string",
      "description": "RedirectRuleProtocol enum",
      "enum": [
        "http",
        "https"
      ],
      "x-ms-enum": {
        "name": "RedirectRuleProtocol",
        "modelAsString": true,
        "values": [
          {
            "name": "http",
            "value": "http",
            "description": "RedirectRuleProtocol enum http"
          },
          {
            "name": "https",
            "value": "https",
            "description": "RedirectRuleProtocol enum https"
          }
        ]
      }
    },
    "ReplicaModifications": {
      "type": "object",
      "description": "Definition of ReplicaModifications",
      "properties": {
        "status": {
          "$ref": "#/definitions/ReplicaModificationsStatus",
          "description": "Specifies whether Amazon S3 replicates modifications on replicas.  *Allowed values*: ``Enabled`` | ``Disabled``"
        }
      }
    },
    "ReplicaModificationsStatus": {
      "type": "string",
      "description": "ReplicaModificationsStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ReplicaModificationsStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "ReplicaModificationsStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "ReplicaModificationsStatus enum Enabled"
          }
        ]
      }
    },
    "ReplicationConfiguration": {
      "type": "object",
      "description": "Definition of ReplicationConfiguration",
      "properties": {
        "role": {
          "type": "string",
          "description": "The Amazon Resource Name (ARN) of the IAMlong (IAM) role that Amazon S3 assumes when replicating objects. For more information, see [How to Set Up Replication](https://docs.aws.amazon.com/AmazonS3/latest/dev/replication-how-setup.html) in the *Amazon S3 User Guide*."
        },
        "rules": {
          "type": "array",
          "description": "A container for one or more replication rules. A replication configuration must have at least one rule and can contain a maximum of 1,000 rules.",
          "items": {
            "$ref": "#/definitions/ReplicationRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ReplicationDestination": {
      "type": "object",
      "description": "Definition of ReplicationDestination",
      "properties": {
        "accessControlTranslation": {
          "$ref": "#/definitions/AccessControlTranslation",
          "description": "Specify this only in a cross-account scenario (where source and destination bucket owners are not the same), and you want to change replica ownership to the AWS-account that owns the destination bucket. If this is not specified in the replication configuration, the replicas are owned by same AWS-account that owns the source object. Specify this only in a cross-account scenario (where source and destination bucket owners are not the same), and you want to change replica ownership to the AWS-account that owns the destination bucket. If this is not specified in the replication configuration, the replicas are owned by same AWS-account that owns the source object."
        },
        "account": {
          "type": "string",
          "description": "Destination bucket owner account ID. In a cross-account scenario, if you direct Amazon S3 to change replica ownership to the AWS-account that owns the destination bucket by specifying the ``AccessControlTranslation`` property, this is the account ID of the destination bucket owner. For more information, see [Cross-Region Replication Additional Configuration: Change Replica Owner](https://docs.aws.amazon.com/AmazonS3/latest/dev/crr-change-owner.html) in the *Amazon S3 User Guide*. If you specify the ``AccessControlTranslation`` property, the ``Account`` property is required."
        },
        "bucket": {
          "type": "string",
          "description": "The Amazon Resource Name (ARN) of the bucket where you want Amazon S3 to store the results."
        },
        "encryptionConfiguration": {
          "$ref": "#/definitions/EncryptionConfiguration",
          "description": "Specifies encryption-related information. Specifies encryption-related information for an Amazon S3 bucket that is a destination for replicated objects."
        },
        "metrics": {
          "$ref": "#/definitions/Metrics",
          "description": "A container specifying replication metrics-related settings enabling replication metrics and events. A container specifying replication metrics-related settings enabling replication metrics and events."
        },
        "replicationTime": {
          "$ref": "#/definitions/ReplicationTime",
          "description": "A container specifying S3 Replication Time Control (S3 RTC), including whether S3 RTC is enabled and the time when all objects and operations on objects must be replicated. Must be specified together with a ``Metrics`` block. A container specifying S3 Replication Time Control (S3 RTC) related information, including whether S3 RTC is enabled and the time when all objects and operations on objects must be replicated. Must be specified together with a ``Metrics`` block."
        },
        "storageClass": {
          "$ref": "#/definitions/ReplicationDestinationStorageClass",
          "description": "The storage class to use when replicating objects, such as S3 Standard or reduced redundancy. By default, Amazon S3 uses the storage class of the source object to create the object replica.  For valid values, see the ``StorageClass`` element of the [PUT Bucket replication](https://docs.aws.amazon.com/AmazonS3/latest/API/RESTBucketPUTreplication.html) action in the *Amazon S3 API Reference*."
        }
      }
    },
    "ReplicationDestinationStorageClass": {
      "type": "string",
      "description": "ReplicationDestinationStorageClass enum",
      "enum": [
        "DEEP_ARCHIVE",
        "GLACIER",
        "GLACIER_IR",
        "INTELLIGENT_TIERING",
        "ONEZONE_IA",
        "REDUCED_REDUNDANCY",
        "STANDARD",
        "STANDARD_IA"
      ],
      "x-ms-enum": {
        "name": "ReplicationDestinationStorageClass",
        "modelAsString": true,
        "values": [
          {
            "name": "DEEP_ARCHIVE",
            "value": "DEEP_ARCHIVE",
            "description": "ReplicationDestinationStorageClass enum DEEP_ARCHIVE"
          },
          {
            "name": "GLACIER",
            "value": "GLACIER",
            "description": "ReplicationDestinationStorageClass enum GLACIER"
          },
          {
            "name": "GLACIER_IR",
            "value": "GLACIER_IR",
            "description": "ReplicationDestinationStorageClass enum GLACIER_IR"
          },
          {
            "name": "INTELLIGENT_TIERING",
            "value": "INTELLIGENT_TIERING",
            "description": "ReplicationDestinationStorageClass enum INTELLIGENT_TIERING"
          },
          {
            "name": "ONEZONE_IA",
            "value": "ONEZONE_IA",
            "description": "ReplicationDestinationStorageClass enum ONEZONE_IA"
          },
          {
            "name": "REDUCED_REDUNDANCY",
            "value": "REDUCED_REDUNDANCY",
            "description": "ReplicationDestinationStorageClass enum REDUCED_REDUNDANCY"
          },
          {
            "name": "STANDARD",
            "value": "STANDARD",
            "description": "ReplicationDestinationStorageClass enum STANDARD"
          },
          {
            "name": "STANDARD_IA",
            "value": "STANDARD_IA",
            "description": "ReplicationDestinationStorageClass enum STANDARD_IA"
          }
        ]
      }
    },
    "ReplicationRule": {
      "type": "object",
      "description": "Definition of ReplicationRule",
      "properties": {
        "deleteMarkerReplication": {
          "$ref": "#/definitions/DeleteMarkerReplication",
          "description": "Specifies whether Amazon S3 replicates delete markers. If you specify a ``Filter`` in your replication configuration, you must also include a ``DeleteMarkerReplication`` element. If your ``Filter`` includes a ``Tag`` element, the ``DeleteMarkerReplication`` ``Status`` must be set to Disabled, because Amazon S3 does not support replicating delete markers for tag-based rules. For an example configuration, see [Basic Rule Configuration](https://docs.aws.amazon.com/AmazonS3/latest/dev/replication-add-config.html#replication-config-min-rule-config).  For more information about delete marker replication, see [Basic Rule Configuration](https://docs.aws.amazon.com/AmazonS3/latest/dev/delete-marker-replication.html).   If you are using an earlier version of the replication configuration, Amazon S3 handles replication of delete markers differently. For more information, see [Backward Compatibility](https://docs.aws.amazon.com/AmazonS3/latest/dev/replication-add-config.html#replication-backward-compat-considerations). Specifies whether Amazon S3 replicates delete markers. If you specify a ``Filter`` in your replication configuration, you must also include a ``DeleteMarkerReplication`` element. If your ``Filter`` includes a ``Tag`` element, the ``DeleteMarkerReplication`` ``Status`` must be set to Disabled, because Amazon S3 does not support replicating delete markers for tag-based rules. For an example configuration, see [Basic Rule Configuration](https://docs.aws.amazon.com/AmazonS3/latest/dev/replication-add-config.html#replication-config-min-rule-config).  For more information about delete marker replication, see [Basic Rule Configuration](https://docs.aws.amazon.com/AmazonS3/latest/dev/delete-marker-replication.html).   If you are using an earlier version of the replication configuration, Amazon S3 handles replication of delete markers differently. For more information, see [Backward Compatibility](https://docs.aws.amazon.com/AmazonS3/latest/dev/replication-add-config.html#replication-backward-compat-considerations)."
        },
        "destination": {
          "$ref": "#/definitions/ReplicationDestination",
          "description": "A container for information about the replication destination and its configurations including enabling the S3 Replication Time Control (S3 RTC). A container for information about the replication destination and its configurations including enabling the S3 Replication Time Control (S3 RTC)."
        },
        "filter": {
          "$ref": "#/definitions/ReplicationRuleFilter",
          "description": "A filter that identifies the subset of objects to which the replication rule applies. A ``Filter`` must specify exactly one ``Prefix``, ``TagFilter``, or an ``And`` child element. The use of the filter field indicates that this is a V2 replication configuration. This field isn't supported in a V1 replication configuration.  V1 replication configuration only supports filtering by key prefix. To filter using a V1 replication configuration, add the ``Prefix`` directly as a child element of the ``Rule`` element. A filter that identifies the subset of objects to which the replication rule applies. A ``Filter`` must specify exactly one ``Prefix``, ``TagFilter``, or an ``And`` child element."
        },
        "id": {
          "type": "string",
          "description": "A unique identifier for the rule. The maximum value is 255 characters. If you don't specify a value, AWS CloudFormation generates a random ID. When using a V2 replication configuration this property is capitalized as 'ID'."
        },
        "prefix": {
          "type": "string",
          "description": "An object key name prefix that identifies the object or objects to which the rule applies. The maximum prefix length is 1,024 characters. To include all objects in a bucket, specify an empty string. To filter using a V1 replication configuration, add the ``Prefix`` directly as a child element of the ``Rule`` element.  Replacement must be made for object keys containing special characters (such as carriage returns) when using XML requests. For more information, see [XML related object key constraints](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html#object-key-xml-related-constraints)."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority indicates which rule has precedence whenever two or more replication rules conflict. Amazon S3 will attempt to replicate objects according to all replication rules. However, if there are two or more rules with the same destination bucket, then objects will be replicated according to the rule with the highest priority. The higher the number, the higher the priority.  For more information, see [Replication](https://docs.aws.amazon.com/AmazonS3/latest/dev/replication.html) in the *Amazon S3 User Guide*."
        },
        "sourceSelectionCriteria": {
          "$ref": "#/definitions/SourceSelectionCriteria",
          "description": "A container that describes additional filters for identifying the source objects that you want to replicate. You can choose to enable or disable the replication of these objects. A container that describes additional filters for identifying the source objects that you want to replicate. You can choose to enable or disable the replication of these objects."
        },
        "status": {
          "$ref": "#/definitions/ReplicationRuleStatus",
          "description": "Specifies whether the rule is enabled."
        }
      }
    },
    "ReplicationRuleAndOperator": {
      "type": "object",
      "description": "Definition of ReplicationRuleAndOperator",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "An object key name prefix that identifies the subset of objects to which the rule applies."
        },
        "tagFilters": {
          "type": "array",
          "description": "An array of tags containing key and value pairs.",
          "items": {
            "$ref": "#/definitions/TagFilter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ReplicationRuleFilter": {
      "type": "object",
      "description": "Definition of ReplicationRuleFilter",
      "properties": {
        "and": {
          "$ref": "#/definitions/ReplicationRuleAndOperator",
          "description": "A container for specifying rule filters. The filters determine the subset of objects to which the rule applies. This element is required only if you specify more than one filter. For example:   +  If you specify both a ``Prefix`` and a ``TagFilter``, wrap these filters in an ``And`` tag.  +  If you specify a filter based on multiple tags, wrap the ``TagFilter`` elements in an ``And`` tag. A container for specifying rule filters. The filters determine the subset of objects to which the rule applies. This element is required only if you specify more than one filter.  For example:  +  If you specify both a ``Prefix`` and a ``TagFilter``, wrap these filters in an ``And`` tag.   +  If you specify a filter based on multiple tags, wrap the ``TagFilter`` elements in an ``And`` tag"
        },
        "prefix": {
          "type": "string",
          "description": "An object key name prefix that identifies the subset of objects to which the rule applies.  Replacement must be made for object keys containing special characters (such as carriage returns) when using XML requests. For more information, see [XML related object key constraints](https://docs.aws.amazon.com/AmazonS3/latest/userguide/object-keys.html#object-key-xml-related-constraints)."
        },
        "tagFilter": {
          "$ref": "#/definitions/TagFilter",
          "description": "A container for specifying a tag key and value.  The rule applies only to objects that have the tag in their tag set. Specifies tags to use to identify a subset of objects for an Amazon S3 bucket."
        }
      }
    },
    "ReplicationRuleStatus": {
      "type": "string",
      "description": "ReplicationRuleStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ReplicationRuleStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "ReplicationRuleStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "ReplicationRuleStatus enum Enabled"
          }
        ]
      }
    },
    "ReplicationTime": {
      "type": "object",
      "description": "Definition of ReplicationTime",
      "properties": {
        "status": {
          "$ref": "#/definitions/ReplicationTimeStatus",
          "description": "Specifies whether the replication time is enabled."
        },
        "time": {
          "$ref": "#/definitions/ReplicationTimeValue",
          "description": "A container specifying the time by which replication should be complete for all objects and operations on objects. A container specifying the time value for S3 Replication Time Control (S3 RTC) and replication metrics ``EventThreshold``."
        }
      }
    },
    "ReplicationTimeStatus": {
      "type": "string",
      "description": "ReplicationTimeStatus enum",
      "enum": [
        "Disabled",
        "Enabled"
      ],
      "x-ms-enum": {
        "name": "ReplicationTimeStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "ReplicationTimeStatus enum Disabled"
          },
          {
            "name": "Enabled",
            "value": "Enabled",
            "description": "ReplicationTimeStatus enum Enabled"
          }
        ]
      }
    },
    "ReplicationTimeValue": {
      "type": "object",
      "description": "Definition of ReplicationTimeValue",
      "properties": {
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Contains an integer specifying time in minutes.   Valid value: 15"
        }
      }
    },
    "RoutingRule": {
      "type": "object",
      "description": "Definition of RoutingRule",
      "properties": {
        "redirectRule": {
          "$ref": "#/definitions/RedirectRule",
          "description": "Container for redirect information. You can redirect requests to another host, to another page, or with another protocol. In the event of an error, you can specify a different error code to return. Specifies how requests are redirected. In the event of an error, you can specify a different error code to return."
        },
        "routingRuleCondition": {
          "$ref": "#/definitions/RoutingRuleCondition",
          "description": "A container for describing a condition that must be met for the specified redirect to apply. For example, 1. If request is for pages in the ``/docs`` folder, redirect to the ``/documents`` folder. 2. If request results in HTTP error 4xx, redirect request to another host where you might process the error. A container for describing a condition that must be met for the specified redirect to apply. For example, 1. If request is for pages in the ``/docs`` folder, redirect to the ``/documents`` folder. 2. If request results in HTTP error 4xx, redirect request to another host where you might process the error."
        }
      }
    },
    "RoutingRuleCondition": {
      "type": "object",
      "description": "Definition of RoutingRuleCondition",
      "properties": {
        "httpErrorCodeReturnedEquals": {
          "type": "string",
          "description": "The HTTP error code when the redirect is applied. In the event of an error, if the error code equals this value, then the specified redirect is applied. Required when parent element ``Condition`` is specified and sibling ``KeyPrefixEquals`` is not specified. If both are specified, then both must be true for the redirect to be applied."
        },
        "keyPrefixEquals": {
          "type": "string",
          "description": "The object key name prefix when the redirect is applied. For example, to redirect requests for ``ExamplePage.html``, the key prefix will be ``ExamplePage.html``. To redirect request for all pages with the prefix ``docs/``, the key prefix will be ``/docs``, which identifies all objects in the docs/ folder. Required when the parent element ``Condition`` is specified and sibling ``HttpErrorCodeReturnedEquals`` is not specified. If both conditions are specified, both must be true for the redirect to be applied."
        }
      }
    },
    "Rule": {
      "type": "object",
      "description": "Definition of Rule",
      "properties": {
        "abortIncompleteMultipartUpload": {
          "$ref": "#/definitions/AbortIncompleteMultipartUpload",
          "description": "Specifies a lifecycle rule that stops incomplete multipart uploads to an Amazon S3 bucket. Specifies the days since the initiation of an incomplete multipart upload that Amazon S3 will wait before permanently removing all parts of the upload. For more information, see [Stopping Incomplete Multipart Uploads Using a Bucket Lifecycle Policy](https://docs.aws.amazon.com/AmazonS3/latest/dev/mpuoverview.html#mpu-abort-incomplete-mpu-lifecycle-config) in the *Amazon S3 User Guide*."
        },
        "expirationDate": {
          "type": "string",
          "description": "Indicates when objects are deleted from Amazon S3 and Amazon S3 Glacier. The date value must be in ISO 8601 format. The time is always midnight UTC. If you specify an expiration and transition time, you must use the same time unit for both properties (either in days or by date). The expiration time must also be later than the transition time. The date value in ISO 8601 format. The timezone is always UTC. (YYYY-MM-DDThh:mm:ssZ)"
        },
        "expirationInDays": {
          "type": "integer",
          "format": "int32",
[...]
