{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "S3MultiRegionAccessPointPolicies"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/s3MultiRegionAccessPointPolicies": {
      "get": {
        "operationId": "S3MultiRegionAccessPointPolicies_ListBySubscription",
        "tags": [
          "S3MultiRegionAccessPointPolicies"
        ],
        "description": "List S3MultiRegionAccessPointPolicy resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3MultiRegionAccessPointPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3MultiRegionAccessPointPolicies_ListBySubscription": {
            "$ref": "./examples/S3MultiRegionAccessPointPolicies_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3MultiRegionAccessPointPolicies": {
      "get": {
        "operationId": "S3MultiRegionAccessPointPolicies_ListByResourceGroup",
        "tags": [
          "S3MultiRegionAccessPointPolicies"
        ],
        "description": "List S3MultiRegionAccessPointPolicy resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3MultiRegionAccessPointPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3MultiRegionAccessPointPolicies_ListByResourceGroup": {
            "$ref": "./examples/S3MultiRegionAccessPointPolicies_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/s3MultiRegionAccessPointPolicies/{name}": {
      "get": {
        "operationId": "S3MultiRegionAccessPointPolicies_Get",
        "tags": [
          "S3MultiRegionAccessPointPolicies"
        ],
        "description": "Get a S3MultiRegionAccessPointPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3MultiRegionAccessPointPolicy",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3MultiRegionAccessPointPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3MultiRegionAccessPointPolicies_Get": {
            "$ref": "./examples/S3MultiRegionAccessPointPolicies_Get.json"
          }
        }
      },
      "put": {
        "operationId": "S3MultiRegionAccessPointPolicies_CreateOrUpdate",
        "tags": [
          "S3MultiRegionAccessPointPolicies"
        ],
        "description": "Create a S3MultiRegionAccessPointPolicy. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3MultiRegionAccessPointPolicy",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/S3MultiRegionAccessPointPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'S3MultiRegionAccessPointPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/S3MultiRegionAccessPointPolicy"
            }
          },
          "201": {
            "description": "Resource 'S3MultiRegionAccessPointPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/S3MultiRegionAccessPointPolicy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3MultiRegionAccessPointPolicies_CreateOrUpdate": {
            "$ref": "./examples/S3MultiRegionAccessPointPolicies_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "S3MultiRegionAccessPointPolicies_Update",
        "tags": [
          "S3MultiRegionAccessPointPolicies"
        ],
        "description": "Update a S3MultiRegionAccessPointPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3MultiRegionAccessPointPolicy",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/S3MultiRegionAccessPointPolicyTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/S3MultiRegionAccessPointPolicy"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3MultiRegionAccessPointPolicies_Update": {
            "$ref": "./examples/S3MultiRegionAccessPointPolicies_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "S3MultiRegionAccessPointPolicies_Delete",
        "tags": [
          "S3MultiRegionAccessPointPolicies"
        ],
        "description": "Delete a S3MultiRegionAccessPointPolicy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of S3MultiRegionAccessPointPolicy",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "S3MultiRegionAccessPointPolicies_Delete": {
            "$ref": "./examples/S3MultiRegionAccessPointPolicies_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsS3MultiRegionAccessPointPolicyProperties": {
      "type": "object",
      "description": "Definition of awsS3MultiRegionAccessPointPolicy",
      "properties": {
        "mrapName": {
          "type": "string",
          "description": "The name of the Multi Region Access Point to apply policy"
        },
        "policy": {
          "description": "Policy document to apply to a Multi Region Access Point"
        },
        "policyStatus": {
          "$ref": "#/definitions/PolicyStatusModelProperties",
          "description": "The Policy Status associated with this Multi Region Access Point"
        }
      }
    },
    "IsPublic": {
      "type": "string",
      "description": "IsPublic enum",
      "enum": [
        "false",
        "true"
      ],
      "x-ms-enum": {
        "name": "IsPublic",
        "modelAsString": true,
        "values": [
          {
            "name": "False",
            "value": "false",
            "description": "IsPublic enum false"
          },
          {
            "name": "True",
            "value": "true",
            "description": "IsPublic enum true"
          }
        ]
      }
    },
    "PolicyStatusModelProperties": {
      "type": "object",
      "description": "Definition of PolicyStatusModelProperties",
      "properties": {
        "isPublic": {
          "$ref": "#/definitions/IsPublic",
          "description": "Specifies whether the policy is public or not."
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "S3MultiRegionAccessPointPolicy": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/S3MultiRegionAccessPointPolicyProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "S3MultiRegionAccessPointPolicyListResult": {
      "type": "object",
      "description": "The response of a S3MultiRegionAccessPointPolicy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The S3MultiRegionAccessPointPolicy items on this page",
          "items": {
            "$ref": "#/definitions/S3MultiRegionAccessPointPolicy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "S3MultiRegionAccessPointPolicyProperties": {
      "type": "object",
      "description": "Definition of S3MultiRegionAccessPointPolicy",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsS3MultiRegionAccessPointPolicyProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "S3MultiRegionAccessPointPolicyTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in S3MultiRegionAccessPointPolicy resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
