{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "SsmInstanceInformations"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/ssmInstanceInformations": {
      "get": {
        "operationId": "SsmInstanceInformations_ListBySubscription",
        "tags": [
          "SsmInstanceInformations"
        ],
        "description": "List SsmInstanceInformation resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SsmInstanceInformationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SsmInstanceInformations_ListBySubscription": {
            "$ref": "./examples/SsmInstanceInformations_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ssmInstanceInformations": {
      "get": {
        "operationId": "SsmInstanceInformations_ListByResourceGroup",
        "tags": [
          "SsmInstanceInformations"
        ],
        "description": "List SsmInstanceInformation resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SsmInstanceInformationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SsmInstanceInformations_ListByResourceGroup": {
            "$ref": "./examples/SsmInstanceInformations_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/ssmInstanceInformations/{name}": {
      "get": {
        "operationId": "SsmInstanceInformations_Get",
        "tags": [
          "SsmInstanceInformations"
        ],
        "description": "Get a SsmInstanceInformation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SsmInstanceInformation",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SsmInstanceInformation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SsmInstanceInformations_Get": {
            "$ref": "./examples/SsmInstanceInformations_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SsmInstanceInformations_CreateOrReplace",
        "tags": [
          "SsmInstanceInformations"
        ],
        "description": "Create a SsmInstanceInformation. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SsmInstanceInformation",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SsmInstanceInformation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SsmInstanceInformation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SsmInstanceInformation"
            }
          },
          "201": {
            "description": "Resource 'SsmInstanceInformation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SsmInstanceInformation"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SsmInstanceInformations_CreateOrReplace": {
            "$ref": "./examples/SsmInstanceInformations_CreateOrReplace.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SsmInstanceInformations_Update",
        "tags": [
          "SsmInstanceInformations"
        ],
        "description": "Update a SsmInstanceInformation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SsmInstanceInformation",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SsmInstanceInformationTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SsmInstanceInformation"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SsmInstanceInformations_Update": {
            "$ref": "./examples/SsmInstanceInformations_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SsmInstanceInformations_Delete",
        "tags": [
          "SsmInstanceInformations"
        ],
        "description": "Delete a SsmInstanceInformation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of SsmInstanceInformation",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SsmInstanceInformations_Delete": {
            "$ref": "./examples/SsmInstanceInformations_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AwsSsmInstanceInformationProperties": {
      "type": "object",
      "description": "Definition of awsSsmInstanceInformation",
      "properties": {
        "activationId": {
          "type": "string",
          "description": "<p>The activation ID created by Amazon Web Services Systems Manager when the server or virtual machine (VM) was registered.</p>"
        },
        "agentVersion": {
          "type": "string",
          "description": "<p>The version of SSM Agent running on your Linux managed node. </p>"
        },
        "associationOverview": {
          "$ref": "#/definitions/InstanceAggregatedAssociationOverview",
          "description": "<p>Information about the association.</p>"
        },
        "associationStatus": {
          "type": "string",
          "description": "<p>The status of the association.</p>"
        },
        "computerName": {
          "type": "string",
          "description": "<p>The fully qualified host name of the managed node.</p>"
        },
        "ipAddress": {
          "type": "string",
          "description": "<p>The IP address of the managed node.</p>"
        },
        "iamRole": {
          "type": "string",
          "description": "<p>The Identity and Access Management (IAM) role assigned to the on-premises Systems Manager managed node. This call doesn't return the IAM role for Amazon Elastic Compute Cloud (Amazon EC2) instances. To retrieve the IAM role for an EC2 instance, use the Amazon EC2 <code>DescribeInstances</code> operation. For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a> in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a> in the <i>Amazon Web Services CLI Command Reference</i>.</p>"
        },
        "instanceId": {
          "type": "string",
          "description": "<p>The managed node ID. </p>"
        },
        "isLatestVersion": {
          "type": "boolean",
          "description": "<p>Indicates whether the latest version of SSM Agent is running on your Linux managed node. This field doesn't indicate whether or not the latest version is installed on Windows managed nodes, because some older versions of Windows Server use the EC2Config service to process Systems Manager requests.</p>"
        },
        "lastAssociationExecutionDate": {
          "type": "string",
          "format": "date-time",
          "description": "<p>The date the association was last run.</p>"
        },
        "lastPingDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "<p>The date and time when the agent last pinged the Systems Manager service. </p>"
        },
        "lastSuccessfulAssociationExecutionDate": {
          "type": "string",
          "format": "date-time",
          "description": "<p>The last date the association was successfully run.</p>"
        },
        "name": {
          "type": "string",
          "description": "<p>The name assigned to an on-premises server, edge device, or virtual machine (VM) when it is activated as a Systems Manager managed node. The name is specified as the <code>DefaultInstanceName</code> property using the <a>CreateActivation</a> command. It is applied to the managed node by specifying the Activation Code and Activation ID when you install SSM Agent on the node, as explained in <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-linux.html'>Install SSM Agent for a hybrid and multicloud environment (Linux)</a> and <a href='https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-install-managed-win.html'>Install SSM Agent for a hybrid and multicloud environment (Windows)</a>. To retrieve the <code>Name</code> tag of an EC2 instance, use the Amazon EC2 <code>DescribeInstances</code> operation. For information, see <a href='https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeInstances.html'>DescribeInstances</a> in the <i>Amazon EC2 API Reference</i> or <a href='https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-instances.html'>describe-instances</a> in the <i>Amazon Web Services CLI Command Reference</i>.</p>"
        },
        "pingStatus": {
          "$ref": "#/definitions/PingStatusEnumValue",
          "description": "<p>Connection status of SSM Agent. </p> <note> <p>The status <code>Inactive</code> has been deprecated and is no longer in use.</p> </note>"
        },
        "platformName": {
          "type": "string",
          "description": "<p>The name of the operating system platform running on your managed node. </p>"
        },
        "platformType": {
          "$ref": "#/definitions/PlatformTypeEnumValue",
          "description": "<p>The operating system platform type. </p>"
        },
        "platformVersion": {
          "type": "string",
          "description": "<p>The version of the OS platform running on your managed node. </p>"
        },
        "registrationDate": {
          "type": "string",
          "format": "date-time",
          "description": "<p>The date the server or VM was registered with Amazon Web Services as a managed node.</p>"
        },
        "resourceType": {
          "$ref": "#/definitions/ResourceTypeEnumValue",
          "description": "<p>The type of instance. Instances are either EC2 instances or managed instances. </p>"
        },
        "sourceId": {
          "type": "string",
          "description": "<p>The ID of the source resource. For IoT Greengrass devices, <code>SourceId</code> is the Thing name. </p>"
        },
        "sourceType": {
          "$ref": "#/definitions/SourceTypeEnumValue",
          "description": "<p>The type of the source resource. For IoT Greengrass devices, <code>SourceType</code> is <code>AWS::IoT::Thing</code>. </p>"
        }
      }
    },
    "InstanceAggregatedAssociationOverview": {
      "type": "object",
      "description": "Definition of InstanceAggregatedAssociationOverview",
      "properties": {
        "detailedStatus": {
          "type": "string",
          "description": "<p>Detailed status information about the aggregated associations.</p>"
        },
        "instanceAssociationStatusAggregatedCount": {
          "type": "object",
          "description": "<p>The number of associations for the managed nodes.</p>",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "PingStatus": {
      "type": "string",
      "description": "PingStatus enum",
      "enum": [
        "ConnectionLost",
        "Inactive",
        "Online"
      ],
      "x-ms-enum": {
        "name": "PingStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "ConnectionLost",
            "value": "ConnectionLost",
            "description": "PingStatus enum ConnectionLost"
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "PingStatus enum Inactive"
          },
          {
            "name": "Online",
            "value": "Online",
            "description": "PingStatus enum Online"
          }
        ]
      }
    },
    "PingStatusEnumValue": {
      "type": "object",
      "description": "Definition of PingStatusEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/PingStatus",
          "description": "Property value"
        }
      }
    },
    "PlatformType": {
      "type": "string",
      "description": "PlatformType enum",
      "enum": [
        "Linux",
        "MacOS",
        "Windows"
      ],
      "x-ms-enum": {
        "name": "PlatformType",
        "modelAsString": true,
        "values": [
          {
            "name": "Linux",
            "value": "Linux",
            "description": "PlatformType enum Linux"
          },
          {
            "name": "MacOS",
            "value": "MacOS",
            "description": "PlatformType enum MacOS"
          },
          {
            "name": "Windows",
            "value": "Windows",
            "description": "PlatformType enum Windows"
          }
        ]
      }
    },
    "PlatformTypeEnumValue": {
      "type": "object",
      "description": "Definition of PlatformTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/PlatformType",
          "description": "Property value"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "ResourceType": {
      "type": "string",
      "description": "ResourceType enum",
      "enum": [
        "EC2Instance",
        "ManagedInstance"
      ],
      "x-ms-enum": {
        "name": "ResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "EC2Instance",
            "value": "EC2Instance",
            "description": "ResourceType enum EC2Instance"
          },
          {
            "name": "ManagedInstance",
            "value": "ManagedInstance",
            "description": "ResourceType enum ManagedInstance"
          }
        ]
      }
    },
    "ResourceTypeEnumValue": {
      "type": "object",
      "description": "Definition of ResourceTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/ResourceType",
          "description": "Property value"
        }
      }
    },
    "SourceType": {
      "type": "string",
      "description": "SourceType enum",
      "enum": [
        "AWS::EC2::Instance",
        "AWS::IoT::Thing",
        "AWS::SSM::ManagedInstance"
      ],
      "x-ms-enum": {
        "name": "SourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "AWSEC2Instance",
            "value": "AWS::EC2::Instance",
            "description": "SourceType enum AWS::EC2::Instance"
          },
          {
            "name": "AWSIoTThing",
            "value": "AWS::IoT::Thing",
            "description": "SourceType enum AWS::IoT::Thing"
          },
          {
            "name": "AWSSSMManagedInstance",
            "value": "AWS::SSM::ManagedInstance",
            "description": "SourceType enum AWS::SSM::ManagedInstance"
          }
        ]
      }
    },
    "SourceTypeEnumValue": {
      "type": "object",
      "description": "Definition of SourceTypeEnumValue",
      "properties": {
        "value": {
          "$ref": "#/definitions/SourceType",
          "description": "Property value"
        }
      }
    },
    "SsmInstanceInformation": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SsmInstanceInformationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SsmInstanceInformationListResult": {
      "type": "object",
      "description": "The response of a SsmInstanceInformation list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SsmInstanceInformation items on this page",
          "items": {
            "$ref": "#/definitions/SsmInstanceInformation"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SsmInstanceInformationProperties": {
      "type": "object",
      "description": "Definition of SsmInstanceInformation",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsSsmInstanceInformationProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "SsmInstanceInformationTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in SsmInstanceInformation resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    }
  },
  "parameters": {}
}
