{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AwsConnector",
    "version": "2024-12-01",
    "description": "Microsoft.AwsConnector Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Wafv2WebACLS"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AwsConnector/wafv2WebACLS": {
      "get": {
        "operationId": "Wafv2WebAcls_ListBySubscription",
        "tags": [
          "Wafv2WebACLS"
        ],
        "description": "List Wafv2WebACL resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wafv2WebACLListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2WebAcls_ListBySubscription": {
            "$ref": "./examples/Wafv2WebAcls_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/wafv2WebACLS": {
      "get": {
        "operationId": "Wafv2WebAcls_ListByResourceGroup",
        "tags": [
          "Wafv2WebACLS"
        ],
        "description": "List Wafv2WebACL resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wafv2WebACLListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2WebAcls_ListByResourceGroup": {
            "$ref": "./examples/Wafv2WebAcls_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AwsConnector/wafv2WebACLS/{name}": {
      "get": {
        "operationId": "Wafv2WebAcls_Get",
        "tags": [
          "Wafv2WebACLS"
        ],
        "description": "Get a Wafv2WebACL",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Wafv2WebACL",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wafv2WebACL"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2WebAcls_Get": {
            "$ref": "./examples/Wafv2WebAcls_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Wafv2WebAcls_CreateOrUpdate",
        "tags": [
          "Wafv2WebACLS"
        ],
        "description": "Create a Wafv2WebACL. Please note that end user resource creation is currently restricted, but it will be enabled in the future.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Wafv2WebACL",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wafv2WebACL"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Wafv2WebACL' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Wafv2WebACL"
            }
          },
          "201": {
            "description": "Resource 'Wafv2WebACL' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Wafv2WebACL"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2WebAcls_CreateOrUpdate": {
            "$ref": "./examples/Wafv2WebAcls_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Wafv2WebAcls_Update",
        "tags": [
          "Wafv2WebACLS"
        ],
        "description": "Update a Wafv2WebACL",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Wafv2WebACL",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Wafv2WebACLTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Wafv2WebACL"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2WebAcls_Update": {
            "$ref": "./examples/Wafv2WebAcls_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Wafv2WebAcls_Delete",
        "tags": [
          "Wafv2WebACLS"
        ],
        "description": "Delete a Wafv2WebACL",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of Wafv2WebACL",
            "required": true,
            "type": "string",
            "pattern": "^(?=.{0,259}[^\\s.]$)(?!.*[<>%&\\?/#])"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Wafv2WebAcls_Delete": {
            "$ref": "./examples/Wafv2WebAcls_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AWSManagedRulesACFPRuleSet": {
      "type": "object",
      "description": "Definition of AWSManagedRulesACFPRuleSet",
      "properties": {
        "creationPath": {
          "type": "string",
          "description": "Property creationPath"
        },
        "enableRegexInPath": {
          "type": "boolean",
          "description": "Property enableRegexInPath"
        },
        "registrationPagePath": {
          "type": "string",
          "description": "Property registrationPagePath"
        },
        "requestInspection": {
          "$ref": "#/definitions/RequestInspectionACFP",
          "description": "Configures the inspection of sign-up requests"
        },
        "responseInspection": {
          "$ref": "#/definitions/ResponseInspection",
          "description": "Configures the inspection of login responses"
        }
      }
    },
    "AWSManagedRulesATPRuleSet": {
      "type": "object",
      "description": "Definition of AWSManagedRulesATPRuleSet",
      "properties": {
        "enableRegexInPath": {
          "type": "boolean",
          "description": "Property enableRegexInPath"
        },
        "loginPath": {
          "type": "string",
          "description": "Property loginPath"
        },
        "requestInspection": {
          "$ref": "#/definitions/RequestInspection",
          "description": "Configures the inspection of login requests"
        },
        "responseInspection": {
          "$ref": "#/definitions/ResponseInspection",
          "description": "Configures the inspection of login responses"
        }
      }
    },
    "AWSManagedRulesBotControlRuleSet": {
      "type": "object",
      "description": "Definition of AWSManagedRulesBotControlRuleSet",
      "properties": {
        "enableMachineLearning": {
          "type": "boolean",
          "description": "Property enableMachineLearning"
        },
        "inspectionLevel": {
          "$ref": "#/definitions/AWSManagedRulesBotControlRuleSetInspectionLevel",
          "description": "Property inspectionLevel"
        }
      }
    },
    "AWSManagedRulesBotControlRuleSetInspectionLevel": {
      "type": "string",
      "description": "AWSManagedRulesBotControlRuleSetInspectionLevel enum",
      "enum": [
        "COMMON",
        "TARGETED"
      ],
      "x-ms-enum": {
        "name": "AWSManagedRulesBotControlRuleSetInspectionLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "COMMON",
            "value": "COMMON",
            "description": "AWSManagedRulesBotControlRuleSetInspectionLevel enum COMMON"
          },
          {
            "name": "TARGETED",
            "value": "TARGETED",
            "description": "AWSManagedRulesBotControlRuleSetInspectionLevel enum TARGETED"
          }
        ]
      }
    },
    "AddressField": {
      "type": "object",
      "description": "Definition of AddressField",
      "properties": {
        "addressField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property addressField"
        }
      }
    },
    "AllowAction": {
      "type": "object",
      "description": "Definition of AllowAction",
      "properties": {
        "customRequestHandling": {
          "$ref": "#/definitions/CustomRequestHandling",
          "description": "Custom request handling."
        }
      }
    },
    "AndStatement": {
      "type": "object",
      "description": "Definition of AndStatement",
      "properties": {
        "statements": {
          "type": "array",
          "description": "Property statements",
          "items": {
            "$ref": "#/definitions/Statement"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AssociationConfig": {
      "type": "object",
      "description": "Definition of AssociationConfig",
      "properties": {
        "requestBody": {
          "type": "object",
          "description": "Map of AssociatedResourceType and RequestBodyAssociatedResourceTypeConfig",
          "additionalProperties": {
            "$ref": "#/definitions/RequestBodyAssociatedResourceTypeConfig"
          }
        }
      }
    },
    "AwsWafv2WebACLProperties": {
      "type": "object",
      "description": "Definition of awsWafv2WebACL",
      "properties": {
        "arn": {
          "type": "string",
          "description": "ARN of the WAF entity."
        },
        "associationConfig": {
          "$ref": "#/definitions/AssociationConfig",
          "description": "AssociationConfig for body inspection"
        },
        "capacity": {
          "type": "integer",
          "format": "int32",
          "description": "Property capacity"
        },
        "captchaConfig": {
          "$ref": "#/definitions/CaptchaConfig",
          "description": "Property captchaConfig"
        },
        "challengeConfig": {
          "$ref": "#/definitions/ChallengeConfig",
          "description": "Property challengeConfig"
        },
        "customResponseBodies": {
          "type": "object",
          "description": "Custom response key and body map.",
          "additionalProperties": {
            "$ref": "#/definitions/CustomResponseBody"
          }
        },
        "defaultAction": {
          "$ref": "#/definitions/DefaultAction",
          "description": "Default Action WebACL will take against ingress traffic when there is no matching Rule."
        },
        "description": {
          "type": "string",
          "description": "Description of the entity."
        },
        "id": {
          "type": "string",
          "description": "Id of the WebACL"
        },
        "labelNamespace": {
          "type": "string",
          "description": "Name of the Label."
        },
        "name": {
          "type": "string",
          "description": "Name of the WebACL."
        },
        "rules": {
          "type": "array",
          "description": "Collection of Rules.",
          "items": {
            "$ref": "#/definitions/Rule"
          },
          "x-ms-identifiers": []
        },
        "scope": {
          "$ref": "#/definitions/Scope",
          "description": "Use CLOUDFRONT for CloudFront WebACL, use REGIONAL for Application Load Balancer and API Gateway."
        },
        "tags": {
          "type": "array",
          "description": "Property tags",
          "items": {
            "$ref": "#/definitions/Tag"
          },
          "x-ms-identifiers": []
        },
        "tokenDomains": {
          "type": "array",
          "description": "List of domains to accept in web request tokens, in addition to the domain of the protected resource.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "visibilityConfig": {
          "$ref": "#/definitions/VisibilityConfig",
          "description": "Visibility Metric of the WebACL."
        }
      }
    },
    "BlockAction": {
      "type": "object",
      "description": "Definition of BlockAction",
      "properties": {
        "customResponse": {
          "$ref": "#/definitions/CustomResponse",
          "description": "Custom response."
        }
      }
    },
    "Body": {
      "type": "object",
      "description": "Definition of Body",
      "properties": {
        "oversizeHandling": {
          "$ref": "#/definitions/BodyOversizeHandling",
          "description": "Handling of requests containing oversize fields"
        }
      }
    },
    "BodyOversizeHandling": {
      "type": "string",
      "description": "BodyOversizeHandling enum",
      "enum": [
        "CONTINUE",
        "MATCH",
        "NO_MATCH"
      ],
      "x-ms-enum": {
        "name": "BodyOversizeHandling",
        "modelAsString": true,
        "values": [
          {
            "name": "CONTINUE",
            "value": "CONTINUE",
            "description": "BodyOversizeHandling enum CONTINUE"
          },
          {
            "name": "MATCH",
            "value": "MATCH",
            "description": "BodyOversizeHandling enum MATCH"
          },
          {
            "name": "NO_MATCH",
            "value": "NO_MATCH",
            "description": "BodyOversizeHandling enum NO_MATCH"
          }
        ]
      }
    },
    "ByteMatchStatement": {
      "type": "object",
      "description": "Definition of ByteMatchStatement",
      "properties": {
        "fieldToMatch": {
          "$ref": "#/definitions/FieldToMatch",
          "description": "Field of the request to match."
        },
        "positionalConstraint": {
          "$ref": "#/definitions/ByteMatchStatementPositionalConstraint",
          "description": "Position of the evaluation in the FieldToMatch of request."
        },
        "searchString": {
          "type": "string",
          "description": "String that is searched to find a match."
        },
        "searchStringBase64": {
          "type": "string",
          "description": "Base64 encoded string that is searched to find a match."
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ByteMatchStatementPositionalConstraint": {
      "type": "string",
      "description": "ByteMatchStatementPositionalConstraint enum",
      "enum": [
        "CONTAINS",
        "CONTAINS_WORD",
        "ENDS_WITH",
        "EXACTLY",
        "STARTS_WITH"
      ],
      "x-ms-enum": {
        "name": "ByteMatchStatementPositionalConstraint",
        "modelAsString": true,
        "values": [
          {
            "name": "CONTAINS",
            "value": "CONTAINS",
            "description": "ByteMatchStatementPositionalConstraint enum CONTAINS"
          },
          {
            "name": "CONTAINS_WORD",
            "value": "CONTAINS_WORD",
            "description": "ByteMatchStatementPositionalConstraint enum CONTAINS_WORD"
          },
          {
            "name": "ENDS_WITH",
            "value": "ENDS_WITH",
            "description": "ByteMatchStatementPositionalConstraint enum ENDS_WITH"
          },
          {
            "name": "EXACTLY",
            "value": "EXACTLY",
            "description": "ByteMatchStatementPositionalConstraint enum EXACTLY"
          },
          {
            "name": "STARTS_WITH",
            "value": "STARTS_WITH",
            "description": "ByteMatchStatementPositionalConstraint enum STARTS_WITH"
          }
        ]
      }
    },
    "CaptchaAction": {
      "type": "object",
      "description": "Definition of CaptchaAction",
      "properties": {
        "customRequestHandling": {
          "$ref": "#/definitions/CustomRequestHandling",
          "description": "Custom request handling."
        }
      }
    },
    "CaptchaConfig": {
      "type": "object",
      "description": "Definition of CaptchaConfig",
      "properties": {
        "immunityTimeProperty": {
          "$ref": "#/definitions/ImmunityTimeProperty",
          "description": "Property immunityTimeProperty"
        }
      }
    },
    "ChallengeAction": {
      "type": "object",
      "description": "Definition of ChallengeAction",
      "properties": {
        "customRequestHandling": {
          "$ref": "#/definitions/CustomRequestHandling",
          "description": "Custom request handling."
        }
      }
    },
    "ChallengeConfig": {
      "type": "object",
      "description": "Definition of ChallengeConfig",
      "properties": {
        "immunityTimeProperty": {
          "$ref": "#/definitions/ImmunityTimeProperty",
          "description": "Property immunityTimeProperty"
        }
      }
    },
    "CookieMatchPattern": {
      "type": "object",
      "description": "Definition of CookieMatchPattern",
      "properties": {
        "all": {
          "description": "Inspect all parts of the web request cookies."
        },
        "excludedCookies": {
          "type": "array",
          "description": "Property excludedCookies",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "includedCookies": {
          "type": "array",
          "description": "Property includedCookies",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Cookies": {
      "type": "object",
      "description": "Definition of Cookies",
      "properties": {
        "matchPattern": {
          "$ref": "#/definitions/CookieMatchPattern",
          "description": "The pattern to look for in the request cookies."
        },
        "matchScope": {
          "$ref": "#/definitions/CookiesMatchScope",
          "description": "The parts of the request to match against using the MatchPattern."
        },
        "oversizeHandling": {
          "$ref": "#/definitions/CookiesOversizeHandling",
          "description": "Handling of requests containing oversize fields"
        }
      }
    },
    "CookiesMatchScope": {
      "type": "string",
      "description": "CookiesMatchScope enum",
      "enum": [
        "ALL",
        "KEY",
        "VALUE"
      ],
      "x-ms-enum": {
        "name": "CookiesMatchScope",
        "modelAsString": true,
        "values": [
          {
            "name": "ALL",
            "value": "ALL",
            "description": "CookiesMatchScope enum ALL"
          },
          {
            "name": "KEY",
            "value": "KEY",
            "description": "CookiesMatchScope enum KEY"
          },
          {
            "name": "VALUE",
            "value": "VALUE",
            "description": "CookiesMatchScope enum VALUE"
          }
        ]
      }
    },
    "CookiesOversizeHandling": {
      "type": "string",
      "description": "CookiesOversizeHandling enum",
      "enum": [
        "CONTINUE",
        "MATCH",
        "NO_MATCH"
      ],
      "x-ms-enum": {
        "name": "CookiesOversizeHandling",
        "modelAsString": true,
        "values": [
          {
            "name": "CONTINUE",
            "value": "CONTINUE",
            "description": "CookiesOversizeHandling enum CONTINUE"
          },
          {
            "name": "MATCH",
            "value": "MATCH",
            "description": "CookiesOversizeHandling enum MATCH"
          },
          {
            "name": "NO_MATCH",
            "value": "NO_MATCH",
            "description": "CookiesOversizeHandling enum NO_MATCH"
          }
        ]
      }
    },
    "CountAction": {
      "type": "object",
      "description": "Definition of CountAction",
      "properties": {
        "customRequestHandling": {
          "$ref": "#/definitions/CustomRequestHandling",
          "description": "Custom request handling."
        }
      }
    },
    "CustomHTTPHeader": {
      "type": "object",
      "description": "Definition of CustomHTTPHeader",
      "properties": {
        "name": {
          "type": "string",
          "description": "HTTP header name."
        },
        "value": {
          "type": "string",
          "description": "HTTP header value."
        }
      }
    },
    "CustomRequestHandling": {
      "type": "object",
      "description": "Definition of CustomRequestHandling",
      "properties": {
        "insertHeaders": {
          "type": "array",
          "description": "Collection of HTTP headers.",
          "items": {
            "$ref": "#/definitions/CustomHTTPHeader"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CustomResponse": {
      "type": "object",
      "description": "Definition of CustomResponse",
      "properties": {
        "customResponseBodyKey": {
          "type": "string",
          "description": "Custom response body key."
        },
        "responseCode": {
          "type": "integer",
          "format": "int32",
          "description": "Custom response code."
        },
        "responseHeaders": {
          "type": "array",
          "description": "Collection of HTTP headers.",
          "items": {
            "$ref": "#/definitions/CustomHTTPHeader"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CustomResponseBody": {
      "type": "object",
      "description": "Definition of CustomResponseBody",
      "properties": {
        "content": {
          "type": "string",
          "description": "Response content."
        },
        "contentType": {
          "$ref": "#/definitions/CustomResponseBodyContentType",
          "description": "Valid values are TEXT_PLAIN, TEXT_HTML, and APPLICATION_JSON."
        }
      }
    },
    "CustomResponseBodyContentType": {
      "type": "string",
      "description": "CustomResponseBodyContentType enum",
      "enum": [
        "APPLICATION_JSON",
        "TEXT_HTML",
        "TEXT_PLAIN"
      ],
      "x-ms-enum": {
        "name": "CustomResponseBodyContentType",
        "modelAsString": true,
        "values": [
          {
            "name": "APPLICATION_JSON",
            "value": "APPLICATION_JSON",
            "description": "CustomResponseBodyContentType enum APPLICATION_JSON"
          },
          {
            "name": "TEXT_HTML",
            "value": "TEXT_HTML",
            "description": "CustomResponseBodyContentType enum TEXT_HTML"
          },
          {
            "name": "TEXT_PLAIN",
            "value": "TEXT_PLAIN",
            "description": "CustomResponseBodyContentType enum TEXT_PLAIN"
          }
        ]
      }
    },
    "DefaultAction": {
      "type": "object",
      "description": "Definition of DefaultAction",
      "properties": {
        "allow": {
          "$ref": "#/definitions/AllowAction",
          "description": "Allow traffic towards application."
        },
        "block": {
          "$ref": "#/definitions/BlockAction",
          "description": "Block traffic towards application."
        }
      }
    },
    "ExcludedRule": {
      "type": "object",
      "description": "Definition of ExcludedRule",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the WebACL."
        }
      }
    },
    "FieldIdentifier": {
      "type": "object",
      "description": "Definition of FieldIdentifier",
      "properties": {
        "identifier": {
          "type": "string",
          "description": "Property identifier"
        }
      }
    },
    "FieldToMatch": {
      "type": "object",
      "description": "Definition of FieldToMatch",
      "properties": {
        "allQueryArguments": {
          "description": "All query arguments of a web request."
        },
        "body": {
          "$ref": "#/definitions/Body",
          "description": "The body of a web request. This immediately follows the request headers."
        },
        "cookies": {
          "$ref": "#/definitions/Cookies",
          "description": "Includes cookies of a web request."
        },
        "headers": {
          "$ref": "#/definitions/Headers",
          "description": "Includes headers of a web request."
        },
        "jA3Fingerprint": {
          "$ref": "#/definitions/JA3Fingerprint",
          "description": "Includes the JA3 fingerprint of a web request."
        },
        "jsonBody": {
          "$ref": "#/definitions/JsonBody",
          "description": "Inspect the request body as JSON. The request body immediately follows the request headers."
        },
        "method": {
          "description": "The HTTP method of a web request. The method indicates the type of operation that the request is asking the origin to perform."
        },
        "queryString": {
          "description": "The query string of a web request. This is the part of a URL that appears after a ? character, if any."
        },
        "singleHeader": {
          "$ref": "#/definitions/SingleHeaderModelProperties",
          "description": "Property singleHeader"
        },
        "singleQueryArgument": {
          "$ref": "#/definitions/SingleQueryArgumentModelProperties",
          "description": "One query argument in a web request, identified by name, for example UserName or SalesRegion. The name can be up to 30 characters long and isn't case sensitive."
        },
        "uriPath": {
          "description": "The path component of the URI of a web request. This is the part of a web request that identifies a resource, for example, /images/daily-ad.jpg."
        }
      }
    },
    "ForwardedIPConfiguration": {
      "type": "object",
      "description": "Definition of ForwardedIPConfiguration",
      "properties": {
        "fallbackBehavior": {
          "$ref": "#/definitions/ForwardedIPConfigurationFallbackBehavior",
          "description": "Property fallbackBehavior"
        },
        "headerName": {
          "type": "string",
          "description": "Property headerName"
        }
      }
    },
    "ForwardedIPConfigurationFallbackBehavior": {
      "type": "string",
      "description": "ForwardedIPConfigurationFallbackBehavior enum",
      "enum": [
        "MATCH",
        "NO_MATCH"
      ],
      "x-ms-enum": {
        "name": "ForwardedIPConfigurationFallbackBehavior",
        "modelAsString": true,
        "values": [
          {
            "name": "MATCH",
            "value": "MATCH",
            "description": "ForwardedIPConfigurationFallbackBehavior enum MATCH"
          },
          {
            "name": "NO_MATCH",
            "value": "NO_MATCH",
            "description": "ForwardedIPConfigurationFallbackBehavior enum NO_MATCH"
          }
        ]
      }
    },
    "GeoMatchStatement": {
      "type": "object",
      "description": "Definition of GeoMatchStatement",
      "properties": {
        "countryCodes": {
          "type": "array",
          "description": "Property countryCodes",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "forwardedIPConfig": {
          "$ref": "#/definitions/ForwardedIPConfiguration",
          "description": "Property forwardedIPConfig"
        }
      }
    },
    "HeaderMatchPattern": {
      "type": "object",
      "description": "Definition of HeaderMatchPattern",
      "properties": {
        "all": {
          "description": "Inspect all parts of the web request headers."
        },
        "excludedHeaders": {
          "type": "array",
          "description": "Property excludedHeaders",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "includedHeaders": {
          "type": "array",
          "description": "Property includedHeaders",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Headers": {
      "type": "object",
      "description": "Definition of Headers",
      "properties": {
        "matchPattern": {
          "$ref": "#/definitions/HeaderMatchPattern",
          "description": "The pattern to look for in the request headers."
        },
        "matchScope": {
          "$ref": "#/definitions/HeadersMatchScope",
          "description": "The parts of the request to match against using the MatchPattern."
        },
        "oversizeHandling": {
          "$ref": "#/definitions/HeadersOversizeHandling",
          "description": "Handling of requests containing oversize fields"
        }
      }
    },
    "HeadersMatchScope": {
      "type": "string",
      "description": "HeadersMatchScope enum",
      "enum": [
        "ALL",
        "KEY",
        "VALUE"
      ],
      "x-ms-enum": {
        "name": "HeadersMatchScope",
        "modelAsString": true,
        "values": [
          {
            "name": "ALL",
            "value": "ALL",
            "description": "HeadersMatchScope enum ALL"
          },
          {
            "name": "KEY",
            "value": "KEY",
            "description": "HeadersMatchScope enum KEY"
          },
          {
            "name": "VALUE",
            "value": "VALUE",
            "description": "HeadersMatchScope enum VALUE"
          }
        ]
      }
    },
    "HeadersOversizeHandling": {
      "type": "string",
      "description": "HeadersOversizeHandling enum",
      "enum": [
        "CONTINUE",
        "MATCH",
        "NO_MATCH"
      ],
      "x-ms-enum": {
        "name": "HeadersOversizeHandling",
        "modelAsString": true,
        "values": [
          {
            "name": "CONTINUE",
            "value": "CONTINUE",
            "description": "HeadersOversizeHandling enum CONTINUE"
          },
          {
            "name": "MATCH",
            "value": "MATCH",
            "description": "HeadersOversizeHandling enum MATCH"
          },
          {
            "name": "NO_MATCH",
            "value": "NO_MATCH",
            "description": "HeadersOversizeHandling enum NO_MATCH"
          }
        ]
      }
    },
    "IPSetForwardedIPConfiguration": {
      "type": "object",
      "description": "Definition of IPSetForwardedIPConfiguration",
      "properties": {
        "fallbackBehavior": {
          "$ref": "#/definitions/IPSetForwardedIPConfigurationFallbackBehavior",
          "description": "Property fallbackBehavior"
        },
        "headerName": {
          "type": "string",
          "description": "Property headerName"
        },
        "position": {
          "$ref": "#/definitions/IPSetForwardedIPConfigurationPosition",
          "description": "Property position"
        }
      }
    },
    "IPSetForwardedIPConfigurationFallbackBehavior": {
      "type": "string",
      "description": "IPSetForwardedIPConfigurationFallbackBehavior enum",
      "enum": [
        "MATCH",
        "NO_MATCH"
      ],
      "x-ms-enum": {
        "name": "IPSetForwardedIPConfigurationFallbackBehavior",
        "modelAsString": true,
        "values": [
          {
            "name": "MATCH",
            "value": "MATCH",
            "description": "IPSetForwardedIPConfigurationFallbackBehavior enum MATCH"
          },
          {
            "name": "NO_MATCH",
            "value": "NO_MATCH",
            "description": "IPSetForwardedIPConfigurationFallbackBehavior enum NO_MATCH"
          }
        ]
      }
    },
    "IPSetForwardedIPConfigurationPosition": {
      "type": "string",
      "description": "IPSetForwardedIPConfigurationPosition enum",
      "enum": [
        "ANY",
        "FIRST",
        "LAST"
      ],
      "x-ms-enum": {
        "name": "IPSetForwardedIPConfigurationPosition",
        "modelAsString": true,
        "values": [
          {
            "name": "ANY",
            "value": "ANY",
            "description": "IPSetForwardedIPConfigurationPosition enum ANY"
          },
          {
            "name": "FIRST",
            "value": "FIRST",
            "description": "IPSetForwardedIPConfigurationPosition enum FIRST"
          },
          {
            "name": "LAST",
            "value": "LAST",
            "description": "IPSetForwardedIPConfigurationPosition enum LAST"
          }
        ]
      }
    },
    "IPSetReferenceStatement": {
      "type": "object",
      "description": "Definition of IPSetReferenceStatement",
      "properties": {
        "arn": {
          "type": "string",
          "description": "ARN of the WAF entity."
        },
        "ipSetForwardedIPConfig": {
          "$ref": "#/definitions/IPSetForwardedIPConfiguration",
          "description": "Property ipSetForwardedIPConfig"
        }
      }
    },
    "ImmunityTimeProperty": {
      "type": "object",
      "description": "Definition of ImmunityTimeProperty",
      "properties": {
        "immunityTime": {
          "type": "integer",
          "format": "int32",
          "description": "Property immunityTime"
        }
      }
    },
    "JA3Fingerprint": {
      "type": "object",
      "description": "Definition of JA3Fingerprint",
      "properties": {
        "fallbackBehavior": {
          "$ref": "#/definitions/JA3FingerprintFallbackBehavior",
          "description": "Property fallbackBehavior"
        }
      }
    },
    "JA3FingerprintFallbackBehavior": {
      "type": "string",
      "description": "JA3FingerprintFallbackBehavior enum",
      "enum": [
        "MATCH",
        "NO_MATCH"
      ],
      "x-ms-enum": {
        "name": "JA3FingerprintFallbackBehavior",
        "modelAsString": true,
        "values": [
          {
            "name": "MATCH",
            "value": "MATCH",
            "description": "JA3FingerprintFallbackBehavior enum MATCH"
          },
          {
            "name": "NO_MATCH",
            "value": "NO_MATCH",
            "description": "JA3FingerprintFallbackBehavior enum NO_MATCH"
          }
        ]
      }
    },
    "JsonBody": {
      "type": "object",
      "description": "Definition of JsonBody",
      "properties": {
        "invalidFallbackBehavior": {
          "$ref": "#/definitions/JsonBodyInvalidFallbackBehavior",
          "description": "The inspection behavior to fall back to if the JSON in the request body is invalid."
        },
        "matchPattern": {
          "$ref": "#/definitions/JsonMatchPattern",
          "description": "The pattern to look for in the JSON body."
        },
        "matchScope": {
          "$ref": "#/definitions/JsonBodyMatchScope",
          "description": "The parts of the JSON to match against using the MatchPattern."
        },
        "oversizeHandling": {
          "$ref": "#/definitions/JsonBodyOversizeHandling",
          "description": "Handling of requests containing oversize fields"
        }
      }
    },
    "JsonBodyInvalidFallbackBehavior": {
      "type": "string",
      "description": "JsonBodyInvalidFallbackBehavior enum",
      "enum": [
        "EVALUATE_AS_STRING",
        "MATCH",
        "NO_MATCH"
      ],
      "x-ms-enum": {
        "name": "JsonBodyInvalidFallbackBehavior",
        "modelAsString": true,
        "values": [
          {
            "name": "EVALUATE_AS_STRING",
            "value": "EVALUATE_AS_STRING",
            "description": "JsonBodyInvalidFallbackBehavior enum EVALUATE_AS_STRING"
          },
          {
            "name": "MATCH",
            "value": "MATCH",
            "description": "JsonBodyInvalidFallbackBehavior enum MATCH"
          },
          {
            "name": "NO_MATCH",
            "value": "NO_MATCH",
            "description": "JsonBodyInvalidFallbackBehavior enum NO_MATCH"
          }
        ]
      }
    },
    "JsonBodyMatchScope": {
      "type": "string",
      "description": "JsonBodyMatchScope enum",
      "enum": [
        "ALL",
        "KEY",
        "VALUE"
      ],
      "x-ms-enum": {
        "name": "JsonBodyMatchScope",
        "modelAsString": true,
        "values": [
          {
            "name": "ALL",
            "value": "ALL",
            "description": "JsonBodyMatchScope enum ALL"
          },
          {
            "name": "KEY",
            "value": "KEY",
            "description": "JsonBodyMatchScope enum KEY"
          },
          {
            "name": "VALUE",
            "value": "VALUE",
            "description": "JsonBodyMatchScope enum VALUE"
          }
        ]
      }
    },
    "JsonBodyOversizeHandling": {
      "type": "string",
      "description": "JsonBodyOversizeHandling enum",
      "enum": [
        "CONTINUE",
        "MATCH",
        "NO_MATCH"
      ],
      "x-ms-enum": {
        "name": "JsonBodyOversizeHandling",
        "modelAsString": true,
        "values": [
          {
            "name": "CONTINUE",
            "value": "CONTINUE",
            "description": "JsonBodyOversizeHandling enum CONTINUE"
          },
          {
            "name": "MATCH",
            "value": "MATCH",
            "description": "JsonBodyOversizeHandling enum MATCH"
          },
          {
            "name": "NO_MATCH",
            "value": "NO_MATCH",
            "description": "JsonBodyOversizeHandling enum NO_MATCH"
          }
        ]
      }
    },
    "JsonMatchPattern": {
      "type": "object",
      "description": "Definition of JsonMatchPattern",
      "properties": {
        "all": {
          "description": "Inspect all parts of the web request's JSON body."
        },
        "includedPaths": {
          "type": "array",
          "description": "Property includedPaths",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Label": {
      "type": "object",
      "description": "Definition of Label",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Label."
        }
      }
    },
    "LabelMatchStatement": {
      "type": "object",
      "description": "Definition of LabelMatchStatement",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "scope": {
          "$ref": "#/definitions/LabelMatchStatementScope",
          "description": "Property scope"
        }
      }
    },
    "LabelMatchStatementScope": {
      "type": "string",
      "description": "LabelMatchStatementScope enum",
      "enum": [
        "LABEL",
        "NAMESPACE"
      ],
      "x-ms-enum": {
        "name": "LabelMatchStatementScope",
        "modelAsString": true,
        "values": [
          {
            "name": "LABEL",
            "value": "LABEL",
            "description": "LabelMatchStatementScope enum LABEL"
          },
          {
            "name": "NAMESPACE",
            "value": "NAMESPACE",
            "description": "LabelMatchStatementScope enum NAMESPACE"
          }
        ]
      }
    },
    "ManagedRuleGroupConfig": {
      "type": "object",
      "description": "Definition of ManagedRuleGroupConfig",
      "properties": {
        "awsManagedRulesACFPRuleSet": {
          "$ref": "#/definitions/AWSManagedRulesACFPRuleSet",
          "description": "Configures how to use the Account creation fraud prevention managed rule group in the web ACL"
        },
        "awsManagedRulesATPRuleSet": {
          "$ref": "#/definitions/AWSManagedRulesATPRuleSet",
          "description": "Configures how to use the Account Takeover Prevention managed rule group in the web ACL"
        },
        "awsManagedRulesBotControlRuleSet": {
          "$ref": "#/definitions/AWSManagedRulesBotControlRuleSet",
          "description": "Configures how to use the Bot Control managed rule group in the web ACL"
        },
        "loginPath": {
          "type": "string",
          "description": "Property loginPath"
        },
        "passwordField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property passwordField"
        },
        "payloadType": {
          "$ref": "#/definitions/ManagedRuleGroupConfigPayloadType",
          "description": "Property payloadType"
        },
        "usernameField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property usernameField"
        }
      }
    },
    "ManagedRuleGroupConfigPayloadType": {
      "type": "string",
      "description": "ManagedRuleGroupConfigPayloadType enum",
      "enum": [
        "FORM_ENCODED",
        "JSON"
      ],
      "x-ms-enum": {
        "name": "ManagedRuleGroupConfigPayloadType",
        "modelAsString": true,
        "values": [
          {
            "name": "FORM_ENCODED",
            "value": "FORM_ENCODED",
            "description": "ManagedRuleGroupConfigPayloadType enum FORM_ENCODED"
          },
          {
            "name": "JSON",
            "value": "JSON",
            "description": "ManagedRuleGroupConfigPayloadType enum JSON"
          }
        ]
      }
    },
    "ManagedRuleGroupStatement": {
      "type": "object",
      "description": "Definition of ManagedRuleGroupStatement",
      "properties": {
        "excludedRules": {
          "type": "array",
          "description": "Property excludedRules",
          "items": {
            "$ref": "#/definitions/ExcludedRule"
          },
          "x-ms-identifiers": []
        },
        "managedRuleGroupConfigs": {
          "type": "array",
          "description": "Collection of ManagedRuleGroupConfig.",
          "items": {
            "$ref": "#/definitions/ManagedRuleGroupConfig"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Name of the WebACL."
        },
        "ruleActionOverrides": {
          "type": "array",
          "description": "Action overrides for rules in the rule group.",
          "items": {
            "$ref": "#/definitions/RuleActionOverride"
          },
          "x-ms-identifiers": []
        },
        "scopeDownStatement": {
          "$ref": "#/definitions/Statement",
          "description": "First level statement that contains conditions, such as ByteMatch, SizeConstraint, etc"
        },
        "vendorName": {
          "type": "string",
          "description": "Property vendorName"
        },
        "version": {
          "type": "string",
          "description": "Property version"
        }
      }
    },
    "NotStatement": {
      "type": "object",
      "description": "Definition of NotStatement",
      "properties": {
        "statement": {
          "$ref": "#/definitions/Statement",
          "description": "First level statement that contains conditions, such as ByteMatch, SizeConstraint, etc"
        }
      }
    },
    "OrStatement": {
      "type": "object",
      "description": "Definition of OrStatement",
      "properties": {
        "statements": {
          "type": "array",
          "description": "Property statements",
          "items": {
            "$ref": "#/definitions/Statement"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "OverrideAction": {
      "type": "object",
      "description": "Definition of OverrideAction",
      "properties": {
        "count": {
          "description": "Count traffic towards application."
        },
        "none": {
          "description": "Keep the RuleGroup or ManagedRuleGroup behavior as is."
        }
      }
    },
    "PhoneNumberField": {
      "type": "object",
      "description": "Definition of PhoneNumberField",
      "properties": {
        "phoneNumberField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property phoneNumberField"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "RateBasedStatement": {
      "type": "object",
      "description": "Definition of RateBasedStatement",
      "properties": {
        "aggregateKeyType": {
          "$ref": "#/definitions/RateBasedStatementAggregateKeyType",
          "description": "Property aggregateKeyType"
        },
        "customKeys": {
          "type": "array",
          "description": "Specifies the aggregate keys to use in a rate-base rule.",
          "items": {
            "$ref": "#/definitions/RateBasedStatementCustomKey"
          },
          "x-ms-identifiers": []
        },
        "evaluationWindowSec": {
          "type": "integer",
          "format": "int32",
          "description": "Property evaluationWindowSec"
        },
        "forwardedIPConfig": {
          "$ref": "#/definitions/ForwardedIPConfiguration",
          "description": "Property forwardedIPConfig"
        },
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Property limit"
        },
        "scopeDownStatement": {
          "$ref": "#/definitions/Statement",
          "description": "First level statement that contains conditions, such as ByteMatch, SizeConstraint, etc"
        }
      }
    },
    "RateBasedStatementAggregateKeyType": {
      "type": "string",
      "description": "RateBasedStatementAggregateKeyType enum",
      "enum": [
        "CONSTANT",
        "CUSTOM_KEYS",
        "FORWARDED_IP",
        "IP"
      ],
      "x-ms-enum": {
        "name": "RateBasedStatementAggregateKeyType",
        "modelAsString": true,
        "values": [
          {
            "name": "CONSTANT",
            "value": "CONSTANT",
            "description": "RateBasedStatementAggregateKeyType enum CONSTANT"
          },
          {
            "name": "CUSTOM_KEYS",
            "value": "CUSTOM_KEYS",
            "description": "RateBasedStatementAggregateKeyType enum CUSTOM_KEYS"
          },
          {
            "name": "FORWARDED_IP",
            "value": "FORWARDED_IP",
            "description": "RateBasedStatementAggregateKeyType enum FORWARDED_IP"
          },
          {
            "name": "IP",
            "value": "IP",
            "description": "RateBasedStatementAggregateKeyType enum IP"
          }
        ]
      }
    },
    "RateBasedStatementCustomKey": {
      "type": "object",
      "description": "Definition of RateBasedStatementCustomKey",
      "properties": {
        "cookie": {
          "$ref": "#/definitions/RateLimitCookie",
          "description": "Specifies a cookie as an aggregate key for a rate-based rule."
        },
        "forwardedIP": {
          "description": "Specifies the first IP address in an HTTP header as an aggregate key for a rate-based rule."
        },
        "httpMethod": {
          "description": "Specifies the request's HTTP method as an aggregate key for a rate-based rule."
        },
        "header": {
          "$ref": "#/definitions/RateLimitHeader",
          "description": "Specifies a header as an aggregate key for a rate-based rule."
        },
        "ip": {
          "description": "Specifies the IP address in the web request as an aggregate key for a rate-based rule."
        },
        "labelNamespace": {
          "$ref": "#/definitions/RateLimitLabelNamespace",
          "description": "Specifies a label namespace to use as an aggregate key for a rate-based rule."
        },
        "queryArgument": {
          "$ref": "#/definitions/RateLimitQueryArgument",
          "description": "Specifies a query argument in the request as an aggregate key for a rate-based rule."
        },
        "queryString": {
          "$ref": "#/definitions/RateLimitQueryString",
          "description": "Specifies the request's query string as an aggregate key for a rate-based rule."
        },
        "uriPath": {
          "$ref": "#/definitions/RateLimitUriPath",
          "description": "Specifies the request's URI Path as an aggregate key for a rate-based rule."
        }
      }
    },
    "RateLimitCookie": {
      "type": "object",
      "description": "Definition of RateLimitCookie",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the cookie to use."
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RateLimitHeader": {
      "type": "object",
      "description": "Definition of RateLimitHeader",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the header to use."
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RateLimitLabelNamespace": {
      "type": "object",
      "description": "Definition of RateLimitLabelNamespace",
      "properties": {
        "namespace": {
          "type": "string",
          "description": "The namespace to use for aggregation."
        }
      }
    },
    "RateLimitQueryArgument": {
      "type": "object",
      "description": "Definition of RateLimitQueryArgument",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the query argument to use."
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RateLimitQueryString": {
      "type": "object",
      "description": "Definition of RateLimitQueryString",
      "properties": {
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RateLimitUriPath": {
      "type": "object",
      "description": "Definition of RateLimitUriPath",
      "properties": {
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RegexMatchStatement": {
      "type": "object",
      "description": "Definition of RegexMatchStatement",
      "properties": {
        "fieldToMatch": {
          "$ref": "#/definitions/FieldToMatch",
          "description": "Field of the request to match."
        },
        "regexString": {
          "type": "string",
          "description": "Property regexString"
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RegexPatternSetReferenceStatement": {
      "type": "object",
      "description": "Definition of RegexPatternSetReferenceStatement",
      "properties": {
        "arn": {
          "type": "string",
          "description": "ARN of the WAF entity."
        },
        "fieldToMatch": {
          "$ref": "#/definitions/FieldToMatch",
          "description": "Field of the request to match."
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "RequestBodyAssociatedResourceTypeConfig": {
      "type": "object",
      "description": "Definition of RequestBodyAssociatedResourceTypeConfig",
      "properties": {
        "defaultSizeInspectionLimit": {
          "$ref": "#/definitions/RequestBodyAssociatedResourceTypeConfigDefaultSizeInspectionLimit",
          "description": "Property defaultSizeInspectionLimit"
        }
      }
    },
    "RequestBodyAssociatedResourceTypeConfigDefaultSizeInspectionLimit": {
      "type": "string",
      "description": "RequestBodyAssociatedResourceTypeConfigDefaultSizeInspectionLimit enum",
      "enum": [
        "KB_16",
        "KB_32",
        "KB_48",
        "KB_64"
      ],
      "x-ms-enum": {
        "name": "RequestBodyAssociatedResourceTypeConfigDefaultSizeInspectionLimit",
        "modelAsString": true,
        "values": [
          {
            "name": "KB_16",
            "value": "KB_16",
            "description": "RequestBodyAssociatedResourceTypeConfigDefaultSizeInspectionLimit enum KB_16"
          },
          {
            "name": "KB_32",
            "value": "KB_32",
            "description": "RequestBodyAssociatedResourceTypeConfigDefaultSizeInspectionLimit enum KB_32"
          },
          {
            "name": "KB_48",
            "value": "KB_48",
            "description": "RequestBodyAssociatedResourceTypeConfigDefaultSizeInspectionLimit enum KB_48"
          },
          {
            "name": "KB_64",
            "value": "KB_64",
            "description": "RequestBodyAssociatedResourceTypeConfigDefaultSizeInspectionLimit enum KB_64"
          }
        ]
      }
    },
    "RequestInspection": {
      "type": "object",
      "description": "Definition of RequestInspection",
      "properties": {
        "passwordField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property passwordField"
        },
        "payloadType": {
          "$ref": "#/definitions/RequestInspectionPayloadType",
          "description": "Property payloadType"
        },
        "usernameField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property usernameField"
        }
      }
    },
    "RequestInspectionACFP": {
      "type": "object",
      "description": "Definition of RequestInspectionACFP",
      "properties": {
        "addressFields": {
          "type": "array",
          "description": "Property addressFields",
          "items": {
            "$ref": "#/definitions/AddressField"
          },
          "x-ms-identifiers": []
        },
        "emailField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property emailField"
        },
        "passwordField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property passwordField"
        },
        "payloadType": {
          "$ref": "#/definitions/RequestInspectionACFPPayloadType",
          "description": "Property payloadType"
        },
        "phoneNumberFields": {
          "type": "array",
          "description": "Property phoneNumberFields",
          "items": {
            "$ref": "#/definitions/PhoneNumberField"
          },
          "x-ms-identifiers": []
        },
        "usernameField": {
          "$ref": "#/definitions/FieldIdentifier",
          "description": "Property usernameField"
        }
      }
    },
    "RequestInspectionACFPPayloadType": {
      "type": "string",
      "description": "RequestInspectionACFPPayloadType enum",
      "enum": [
        "FORM_ENCODED",
        "JSON"
      ],
      "x-ms-enum": {
        "name": "RequestInspectionACFPPayloadType",
        "modelAsString": true,
        "values": [
          {
            "name": "FORM_ENCODED",
            "value": "FORM_ENCODED",
            "description": "RequestInspectionACFPPayloadType enum FORM_ENCODED"
          },
          {
            "name": "JSON",
            "value": "JSON",
            "description": "RequestInspectionACFPPayloadType enum JSON"
          }
        ]
      }
    },
    "RequestInspectionPayloadType": {
      "type": "string",
      "description": "RequestInspectionPayloadType enum",
      "enum": [
        "FORM_ENCODED",
        "JSON"
      ],
      "x-ms-enum": {
        "name": "RequestInspectionPayloadType",
        "modelAsString": true,
        "values": [
          {
            "name": "FORM_ENCODED",
            "value": "FORM_ENCODED",
            "description": "RequestInspectionPayloadType enum FORM_ENCODED"
          },
          {
            "name": "JSON",
            "value": "JSON",
            "description": "RequestInspectionPayloadType enum JSON"
          }
        ]
      }
    },
    "ResponseInspection": {
      "type": "object",
      "description": "Definition of ResponseInspection",
      "properties": {
        "bodyContains": {
          "$ref": "#/definitions/ResponseInspectionBodyContains",
          "description": "Response body contents that indicate success or failure of a login request"
        },
        "header": {
          "$ref": "#/definitions/ResponseInspectionHeader",
          "description": "Response headers that indicate success or failure of a login request"
        },
        "json": {
          "$ref": "#/definitions/ResponseInspectionJson",
          "description": "Response JSON that indicate success or failure of a login request"
        },
        "statusCode": {
          "$ref": "#/definitions/ResponseInspectionStatusCode",
          "description": "Response status codes that indicate success or failure of a login request"
        }
      }
    },
    "ResponseInspectionBodyContains": {
      "type": "object",
      "description": "Definition of ResponseInspectionBodyContains",
      "properties": {
        "failureStrings": {
          "type": "array",
          "description": "Property failureStrings",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "successStrings": {
          "type": "array",
          "description": "Property successStrings",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ResponseInspectionHeader": {
      "type": "object",
      "description": "Definition of ResponseInspectionHeader",
      "properties": {
        "failureValues": {
          "type": "array",
          "description": "Property failureValues",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "name": {
          "type": "string",
          "description": "Property name"
        },
        "successValues": {
          "type": "array",
          "description": "Property successValues",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ResponseInspectionJson": {
      "type": "object",
      "description": "Definition of ResponseInspectionJson",
      "properties": {
        "failureValues": {
          "type": "array",
          "description": "Property failureValues",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        },
        "identifier": {
          "type": "string",
          "description": "Property identifier"
        },
        "successValues": {
          "type": "array",
          "description": "Property successValues",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ResponseInspectionStatusCode": {
      "type": "object",
      "description": "Definition of ResponseInspectionStatusCode",
      "properties": {
        "failureCodes": {
          "type": "array",
          "description": "Property failureCodes",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "x-ms-identifiers": []
        },
        "successCodes": {
          "type": "array",
          "description": "Property successCodes",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Rule": {
      "type": "object",
      "description": "Definition of Rule",
      "properties": {
        "action": {
          "$ref": "#/definitions/RuleAction",
          "description": "Action taken when Rule matches its condition."
        },
        "captchaConfig": {
          "$ref": "#/definitions/CaptchaConfig",
          "description": "Property captchaConfig"
        },
        "challengeConfig": {
          "$ref": "#/definitions/ChallengeConfig",
          "description": "Property challengeConfig"
        },
        "name": {
          "type": "string",
          "description": "Name of the WebACL."
        },
        "overrideAction": {
          "$ref": "#/definitions/OverrideAction",
          "description": "Override a RuleGroup or ManagedRuleGroup behavior. This can only be applied to Rule that has RuleGroupReferenceStatement or ManagedRuleGroupReferenceStatement."
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of the Rule, Rules get evaluated from lower to higher priority."
        },
        "ruleLabels": {
          "type": "array",
          "description": "Collection of Rule Labels.",
          "items": {
            "$ref": "#/definitions/Label"
          },
          "x-ms-identifiers": []
        },
        "statement": {
          "$ref": "#/definitions/Statement",
          "description": "First level statement that contains conditions, such as ByteMatch, SizeConstraint, etc"
        },
        "visibilityConfig": {
          "$ref": "#/definitions/VisibilityConfig",
          "description": "Visibility Metric of the WebACL."
        }
      }
    },
    "RuleAction": {
      "type": "object",
      "description": "Definition of RuleAction",
      "properties": {
        "allow": {
          "$ref": "#/definitions/AllowAction",
          "description": "Allow traffic towards application."
        },
        "block": {
          "$ref": "#/definitions/BlockAction",
          "description": "Block traffic towards application."
        },
        "captcha": {
          "$ref": "#/definitions/CaptchaAction",
          "description": "Checks valid token exists with request."
        },
        "challenge": {
          "$ref": "#/definitions/ChallengeAction",
          "description": "Checks that the request has a valid token with an unexpired challenge timestamp and, if not, returns a browser challenge to the client."
        },
        "count": {
          "$ref": "#/definitions/CountAction",
          "description": "Allow traffic towards application."
        }
      }
    },
    "RuleActionOverride": {
      "type": "object",
      "description": "Definition of RuleActionOverride",
      "properties": {
        "actionToUse": {
          "$ref": "#/definitions/RuleAction",
          "description": "Action taken when Rule matches its condition."
        },
        "name": {
          "type": "string",
          "description": "Name of the WebACL."
        }
      }
    },
    "RuleGroupReferenceStatement": {
      "type": "object",
      "description": "Definition of RuleGroupReferenceStatement",
      "properties": {
        "arn": {
          "type": "string",
          "description": "ARN of the WAF entity."
        },
        "excludedRules": {
          "type": "array",
          "description": "Property excludedRules",
          "items": {
            "$ref": "#/definitions/ExcludedRule"
          },
          "x-ms-identifiers": []
        },
        "ruleActionOverrides": {
          "type": "array",
          "description": "Action overrides for rules in the rule group.",
          "items": {
            "$ref": "#/definitions/RuleActionOverride"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Scope": {
      "type": "string",
      "description": "Scope enum",
      "enum": [
        "CLOUDFRONT",
        "REGIONAL"
      ],
      "x-ms-enum": {
        "name": "Scope",
        "modelAsString": true,
        "values": [
          {
            "name": "CLOUDFRONT",
            "value": "CLOUDFRONT",
            "description": "Scope enum CLOUDFRONT"
          },
          {
            "name": "REGIONAL",
            "value": "REGIONAL",
            "description": "Scope enum REGIONAL"
          }
        ]
      }
    },
    "SingleHeaderModelProperties": {
      "type": "object",
      "description": "Definition of SingleHeaderModelProperties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Property name"
        }
      }
    },
    "SingleQueryArgumentModelProperties": {
      "type": "object",
      "description": "Definition of SingleQueryArgumentModelProperties",
      "properties": {
        "name": {
          "type": "string",
          "description": "Property name"
        }
      }
    },
    "SizeConstraintStatement": {
      "type": "object",
      "description": "Definition of SizeConstraintStatement",
      "properties": {
        "comparisonOperator": {
          "$ref": "#/definitions/SizeConstraintStatementComparisonOperator",
          "description": "Property comparisonOperator"
        },
        "fieldToMatch": {
          "$ref": "#/definitions/FieldToMatch",
          "description": "Field of the request to match."
        },
        "size": {
          "type": "integer",
          "format": "int32",
          "description": "Property size"
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SizeConstraintStatementComparisonOperator": {
      "type": "string",
      "description": "SizeConstraintStatementComparisonOperator enum",
      "enum": [
        "EQ",
        "GE",
        "GT",
        "LE",
        "LT",
        "NE"
      ],
      "x-ms-enum": {
        "name": "SizeConstraintStatementComparisonOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "EQ",
            "value": "EQ",
            "description": "SizeConstraintStatementComparisonOperator enum EQ"
          },
          {
            "name": "GE",
            "value": "GE",
            "description": "SizeConstraintStatementComparisonOperator enum GE"
          },
          {
            "name": "GT",
            "value": "GT",
            "description": "SizeConstraintStatementComparisonOperator enum GT"
          },
          {
            "name": "LE",
            "value": "LE",
            "description": "SizeConstraintStatementComparisonOperator enum LE"
          },
          {
            "name": "LT",
            "value": "LT",
            "description": "SizeConstraintStatementComparisonOperator enum LT"
          },
          {
            "name": "NE",
            "value": "NE",
            "description": "SizeConstraintStatementComparisonOperator enum NE"
          }
        ]
      }
    },
    "SqliMatchStatement": {
      "type": "object",
      "description": "Definition of SqliMatchStatement",
      "properties": {
        "fieldToMatch": {
          "$ref": "#/definitions/FieldToMatch",
          "description": "Field of the request to match."
        },
        "sensitivityLevel": {
          "$ref": "#/definitions/SqliMatchStatementSensitivityLevel",
          "description": "Sensitivity Level current only used for sqli match statements."
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SqliMatchStatementSensitivityLevel": {
      "type": "string",
      "description": "SqliMatchStatementSensitivityLevel enum",
      "enum": [
        "HIGH",
        "LOW"
      ],
      "x-ms-enum": {
        "name": "SqliMatchStatementSensitivityLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "HIGH",
            "value": "HIGH",
            "description": "SqliMatchStatementSensitivityLevel enum HIGH"
          },
          {
            "name": "LOW",
            "value": "LOW",
            "description": "SqliMatchStatementSensitivityLevel enum LOW"
          }
        ]
      }
    },
    "Statement": {
      "type": "object",
      "description": "Definition of Statement",
      "properties": {
        "andStatement": {
          "$ref": "#/definitions/AndStatement",
          "description": "Property andStatement"
        },
        "byteMatchStatement": {
          "$ref": "#/definitions/ByteMatchStatement",
          "description": "Byte Match statement."
        },
        "geoMatchStatement": {
          "$ref": "#/definitions/GeoMatchStatement",
          "description": "Property geoMatchStatement"
        },
        "ipSetReferenceStatement": {
          "$ref": "#/definitions/IPSetReferenceStatement",
          "description": "Property ipSetReferenceStatement"
        },
        "labelMatchStatement": {
          "$ref": "#/definitions/LabelMatchStatement",
          "description": "Property labelMatchStatement"
        },
        "managedRuleGroupStatement": {
          "$ref": "#/definitions/ManagedRuleGroupStatement",
          "description": "Property managedRuleGroupStatement"
        },
        "notStatement": {
          "$ref": "#/definitions/NotStatement",
          "description": "Property notStatement"
        },
        "orStatement": {
          "$ref": "#/definitions/OrStatement",
          "description": "Property orStatement"
        },
        "rateBasedStatement": {
          "$ref": "#/definitions/RateBasedStatement",
          "description": "Property rateBasedStatement"
        },
        "regexMatchStatement": {
          "$ref": "#/definitions/RegexMatchStatement",
          "description": "Property regexMatchStatement"
        },
        "regexPatternSetReferenceStatement": {
          "$ref": "#/definitions/RegexPatternSetReferenceStatement",
          "description": "Property regexPatternSetReferenceStatement"
        },
        "ruleGroupReferenceStatement": {
          "$ref": "#/definitions/RuleGroupReferenceStatement",
          "description": "Property ruleGroupReferenceStatement"
        },
        "sizeConstraintStatement": {
          "$ref": "#/definitions/SizeConstraintStatement",
          "description": "Size Constraint statement."
        },
        "sqliMatchStatement": {
          "$ref": "#/definitions/SqliMatchStatement",
          "description": "Sqli Match Statement."
        },
        "xssMatchStatement": {
          "$ref": "#/definitions/XssMatchStatement",
          "description": "Xss Match Statement."
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Definition of Tag",
      "properties": {
        "key": {
          "type": "string",
          "description": "Property key"
        },
        "value": {
          "type": "string",
          "description": "Property value"
        }
      }
    },
    "TextTransformation": {
      "type": "object",
      "description": "Definition of TextTransformation",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Priority of Rule being evaluated."
        },
        "type": {
          "$ref": "#/definitions/TextTransformationType",
          "description": "Type of text transformation."
        }
      }
    },
    "TextTransformationType": {
      "type": "string",
      "description": "TextTransformationType enum",
      "enum": [
        "BASE64_DECODE",
        "BASE64_DECODE_EXT",
        "CMD_LINE",
        "COMPRESS_WHITE_SPACE",
        "CSS_DECODE",
        "ESCAPE_SEQ_DECODE",
        "HEX_DECODE",
        "HTML_ENTITY_DECODE",
        "JS_DECODE",
        "LOWERCASE",
        "MD5",
        "NONE",
        "NORMALIZE_PATH",
        "NORMALIZE_PATH_WIN",
        "REMOVE_NULLS",
        "REPLACE_COMMENTS",
        "REPLACE_NULLS",
        "SQL_HEX_DECODE",
        "URL_DECODE",
        "URL_DECODE_UNI",
        "UTF8_TO_UNICODE"
      ],
      "x-ms-enum": {
        "name": "TextTransformationType",
        "modelAsString": true,
        "values": [
          {
            "name": "BASE64_DECODE",
            "value": "BASE64_DECODE",
            "description": "TextTransformationType enum BASE64_DECODE"
          },
          {
            "name": "BASE64_DECODE_EXT",
            "value": "BASE64_DECODE_EXT",
            "description": "TextTransformationType enum BASE64_DECODE_EXT"
          },
          {
            "name": "CMD_LINE",
            "value": "CMD_LINE",
            "description": "TextTransformationType enum CMD_LINE"
          },
          {
            "name": "COMPRESS_WHITE_SPACE",
            "value": "COMPRESS_WHITE_SPACE",
            "description": "TextTransformationType enum COMPRESS_WHITE_SPACE"
          },
          {
            "name": "CSS_DECODE",
            "value": "CSS_DECODE",
            "description": "TextTransformationType enum CSS_DECODE"
          },
          {
            "name": "ESCAPE_SEQ_DECODE",
            "value": "ESCAPE_SEQ_DECODE",
            "description": "TextTransformationType enum ESCAPE_SEQ_DECODE"
          },
          {
            "name": "HEX_DECODE",
            "value": "HEX_DECODE",
            "description": "TextTransformationType enum HEX_DECODE"
          },
          {
            "name": "HTML_ENTITY_DECODE",
            "value": "HTML_ENTITY_DECODE",
            "description": "TextTransformationType enum HTML_ENTITY_DECODE"
          },
          {
            "name": "JS_DECODE",
            "value": "JS_DECODE",
            "description": "TextTransformationType enum JS_DECODE"
          },
          {
            "name": "LOWERCASE",
            "value": "LOWERCASE",
            "description": "TextTransformationType enum LOWERCASE"
          },
          {
            "name": "MD5",
            "value": "MD5",
            "description": "TextTransformationType enum MD5"
          },
          {
            "name": "NONE",
            "value": "NONE",
            "description": "TextTransformationType enum NONE"
          },
          {
            "name": "NORMALIZE_PATH",
            "value": "NORMALIZE_PATH",
            "description": "TextTransformationType enum NORMALIZE_PATH"
          },
          {
            "name": "NORMALIZE_PATH_WIN",
            "value": "NORMALIZE_PATH_WIN",
            "description": "TextTransformationType enum NORMALIZE_PATH_WIN"
          },
          {
            "name": "REMOVE_NULLS",
            "value": "REMOVE_NULLS",
            "description": "TextTransformationType enum REMOVE_NULLS"
          },
          {
            "name": "REPLACE_COMMENTS",
            "value": "REPLACE_COMMENTS",
            "description": "TextTransformationType enum REPLACE_COMMENTS"
          },
          {
            "name": "REPLACE_NULLS",
            "value": "REPLACE_NULLS",
            "description": "TextTransformationType enum REPLACE_NULLS"
          },
          {
            "name": "SQL_HEX_DECODE",
            "value": "SQL_HEX_DECODE",
            "description": "TextTransformationType enum SQL_HEX_DECODE"
          },
          {
            "name": "URL_DECODE",
            "value": "URL_DECODE",
            "description": "TextTransformationType enum URL_DECODE"
          },
          {
            "name": "URL_DECODE_UNI",
            "value": "URL_DECODE_UNI",
            "description": "TextTransformationType enum URL_DECODE_UNI"
          },
          {
            "name": "UTF8_TO_UNICODE",
            "value": "UTF8_TO_UNICODE",
            "description": "TextTransformationType enum UTF8_TO_UNICODE"
          }
        ]
      }
    },
    "VisibilityConfig": {
      "type": "object",
      "description": "Definition of VisibilityConfig",
      "properties": {
        "cloudWatchMetricsEnabled": {
          "type": "boolean",
          "description": "Property cloudWatchMetricsEnabled"
        },
        "metricName": {
          "type": "string",
          "description": "Property metricName"
        },
        "sampledRequestsEnabled": {
          "type": "boolean",
          "description": "Property sampledRequestsEnabled"
        }
      }
    },
    "Wafv2WebACL": {
      "type": "object",
      "description": "A Microsoft.AwsConnector resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/Wafv2WebACLProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "Wafv2WebACLListResult": {
      "type": "object",
      "description": "The response of a Wafv2WebACL list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Wafv2WebACL items on this page",
          "items": {
            "$ref": "#/definitions/Wafv2WebACL"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "Wafv2WebACLProperties": {
      "type": "object",
      "description": "Definition of Wafv2WebACL",
      "properties": {
        "awsProperties": {
          "$ref": "#/definitions/AwsWafv2WebACLProperties",
          "description": "AWS Properties"
        },
        "publicCloudConnectorsResourceId": {
          "type": "string",
          "description": "Public Cloud Connectors Resource ID"
        },
        "awsAccountId": {
          "type": "string",
          "description": "AWS Account ID"
        },
        "arn": {
          "type": "string",
          "description": "Amazon Resource Name (ARN)"
        },
        "publicCloudResourceName": {
          "type": "string",
          "description": "Public Cloud Resource Name"
        },
        "awsSourceSchema": {
          "type": "string",
          "description": "AWS Source Schema"
        },
        "awsRegion": {
          "type": "string",
          "description": "AWS Region"
        },
        "awsTags": {
          "type": "object",
          "description": "AWS Tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "Wafv2WebACLTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in Wafv2WebACL resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "XssMatchStatement": {
      "type": "object",
      "description": "Definition of XssMatchStatement",
      "properties": {
        "fieldToMatch": {
          "$ref": "#/definitions/FieldToMatch",
          "description": "Field of the request to match."
        },
        "textTransformations": {
          "type": "array",
          "description": "Property textTransformations",
          "items": {
            "$ref": "#/definitions/TextTransformation"
          },
          "x-ms-identifiers": []
        }
      }
    }
  },
  "parameters": {}
}
