{
    "swagger": "2.0",
    "info": {
        "description": "Alert operation endpoints and objects.",
        "title": "InfrastructureInsightsManagementClient",
        "version": "2016-05-01"
    },
    "host": "adminmanagement.local.azurestack.external",
    "schemes": [
        "https"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts": {
            "get": {
                "x-ms-examples": {
                    "List all alerts": {
                        "$ref": "./examples/Alert/AlertListOperation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Returns the list of all alerts in a given location.",
                "operationId": "Alerts_List",
                "parameters": [
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/FilterParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/AlertList"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                },
                "x-ms-odata": "#/definitions/Alert",
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.InfrastructureInsights.Admin/regionHealths/{location}/alerts/{alertName}": {
            "get": {
                "x-ms-examples": {
                    "Get an alert": {
                        "$ref": "./examples/Alert/AlertGetOperation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Get an alert.",
                "operationId": "Alerts_Get",
                "parameters": [
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/AlertNameParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Alert"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            },
            "put": {
                "x-ms-examples": {
                    "Close an alert": {
                        "$ref": "./examples/Alert/AlertCloseOperation_example.json"
                    }
                },
                "tags": [
                    "Alerts"
                ],
                "description": "Close an alert.",
                "operationId": "Alerts_Close",
                "parameters": [
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/LocationParameter"
                    },
                    {
                        "$ref": "#/parameters/AlertNameParameter"
                    },
                    {
                        "$ref": "InfrastructureInsights.json#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/UserParameter"
                    },
                    {
                        "$ref": "#/parameters/AlertParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Alert"
                        }
                    }
                },
                "produces": [
                    "application/json"
                ],
                "consumes": [
                    "application/json"
                ]
            }
        }
    },
    "definitions": {
        "Alert": {
            "description": "This class models an alert resource.",
            "properties": {
                "properties": {
                    "description": "Holds all information related to Alerts",
                    "$ref": "#/definitions/AlertModel",
                    "x-ms-client-flatten": true
                }
            },
            "allOf": [
                {
                    "$ref": "InfrastructureInsights.json#/definitions/Resource"
                }
            ]
        },
        "AlertModel": {
            "description": "Holds Alert data",
            "properties": {
                "closedTimestamp": {
                    "description": "Gets or sets the closed timestamp of the alert.",
                    "type": "string"
                },
                "createdTimestamp": {
                    "description": "Gets or sets the created timestamp of the alert.",
                    "type": "string"
                },
                "description": {
                    "description": "Gets or sets the description of the alert.",
                    "type": "array",
                    "items": {
                        "$ref": "InfrastructureInsights.json#/definitions/Dictionary"
                    }
                },
                "faultId": {
                    "description": "Gets or sets the fault id of the alert.",
                    "type": "string"
                },
                "alertId": {
                    "description": "Gets or sets the id of the alert.",
                    "type": "string"
                },
                "faultTypeId": {
                    "description": "Gets or sets the fault type id of the alert.",
                    "type": "string"
                },
                "lastUpdatedTimestamp": {
                    "description": "Gets or sets last updated timestamp of the alert.",
                    "type": "string"
                },
                "alertProperties": {
                    "description": "Gets or sets properties of the alert.",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "remediation": {
                    "description": "Gets or sets the admin friendly remediation instructions for the alert.",
                    "type": "array",
                    "items": {
                        "$ref": "InfrastructureInsights.json#/definitions/Dictionary"
                    }
                },
                "resourceRegistrationId": {
                    "description": "Gets or sets the registration id of the atomic component the alert belongs to.  This is null if not associated with a resource.",
                    "type": "string"
                },
                "resourceProviderRegistrationId": {
                    "description": "Gets or sets the registration id of the service the alert belongs to.",
                    "type": "string"
                },
                "severity": {
                    "description": "Gets or sets the severity of the alert.",
                    "type": "string"
                },
                "state": {
                    "description": "Gets or sets the state of the alert.",
                    "type": "string"
                },
                "title": {
                    "description": "Gets or sets the ResourceId for the impacted item.",
                    "type": "string"
                },
                "impactedResourceId": {
                    "description": "Gets or sets the ResourceId for the impacted item.",
                    "type": "string"
                },
                "impactedResourceDisplayName": {
                    "description": "Gets or sets the display name for the impacted item.",
                    "type": "string"
                },
                "closedByUserAlias": {
                    "description": "Gets or sets the user alias who closed the alert.",
                    "type": "string"
                }
            }
        },
        "AlertList": {
            "description": "A pageable list of Alerts",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Alert"
                    },
                    "description": "Holds all alerts in this page."
                },
                "nextLink": {
                    "type": "string",
                    "description": "Points to the next page."
                }
            }
        }
    },
    "parameters": {
        "AlertNameParameter": {
            "name": "alertName",
            "description": "Name of the alert.",
            "type": "string",
            "required": true,
            "in": "path",
            "x-ms-parameter-location": "method"
        },
        "RetentionPeriodInDaysBodyParameter": {
            "name": "retentionPeriodInDays",
            "description": "How long alerts should exist before deletion.",
            "schema": {
                "type": "integer",
                "format": "int32"
            },
            "required": true,
            "in": "body",
            "x-ms-parameter-location": "method"
        },
        "ResourceProviderRegistrationIdBodyParameter": {
            "description": "A resource provider registration id.",
            "name": "resourceProviderRegistrationId",
            "schema": {
                "type": "string"
            },
            "required": true,
            "in": "body",
            "x-ms-parameter-location": "method"
        },
        "ResourceRegistrationIdBodyParameter": {
            "description": "A resource provider id.",
            "name": "resourceRegistrationId",
            "schema": {
                "type": "string"
            },
            "required": true,
            "in": "body",
            "x-ms-parameter-location": "method"
        },
        "HeartbeatMachineNameBodyParameter": {
            "description": "Name of a heartbeat machine.",
            "name": "heartbeatMachineName",
            "schema": {
                "type": "string"
            },
            "required": true,
            "in": "body",
            "x-ms-parameter-location": "method"
        },
        "UserParameter": {
            "description": "The username used to perform the operation.",
            "name": "user",
            "type": "string",
            "required": true,
            "in": "query",
            "x-ms-parameter-location": "method"
        },
        "AlertParameter": {
            "description": "Updated Alert Parameter.",
            "name": "alert",
            "schema": {
                "$ref": "#/definitions/Alert"
            },
            "required": true,
            "in": "body",
            "x-ms-parameter-location": "method"
        }
    },
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ]
}