{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Dsts management service",
    "version": "2025-06-10-preview",
    "description": "Microsoft.Dsts Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Endpoints"
    }
  ],
  "paths": {
    "/providers/Microsoft.Dsts/locations/{location}/applications": {
      "get": {
        "operationId": "Applications_List",
        "tags": [
          "Applications"
        ],
        "summary": "Lists the specified Application resources.",
        "description": "List Application resources by TenantLocationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Applications_ListByLocation": {
            "$ref": "./examples/Applications_ListByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Dsts/locations/{location}/applications/{applicationName}": {
      "get": {
        "operationId": "Applications_Get",
        "tags": [
          "Applications"
        ],
        "summary": "Retrieves the specified Application resource.",
        "description": "Get a Application",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Applications_Get": {
            "$ref": "./examples/Applications_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Dsts/locations/{location}/endpoints": {
      "get": {
        "operationId": "Endpoints_List",
        "tags": [
          "Endpoints"
        ],
        "summary": "Lists the specified Endpoint resources.",
        "description": "List Endpoint resources by TenantLocationResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndpointListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Endpoints_ListByLocation": {
            "$ref": "./examples/Endpoints_ListByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Dsts/locations/{location}/endpoints/{endpointName}": {
      "get": {
        "operationId": "Endpoints_Get",
        "tags": [
          "Endpoints"
        ],
        "summary": "Retrieves the specified Endpoint resource.",
        "description": "Get a Endpoint",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The name of the Endpoint",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Endpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Endpoints_Get": {
            "$ref": "./examples/Endpoints_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.Dsts/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Application": {
      "type": "object",
      "description": "Application Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApplicationClaim": {
      "type": "object",
      "description": "A claim associated with an application",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the claim"
        },
        "value": {
          "type": "string",
          "description": "The value of the claim"
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "ApplicationListResult": {
      "type": "object",
      "description": "The response of a Application list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Application items on this page",
          "items": {
            "$ref": "#/definitions/Application"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplicationProperties": {
      "type": "object",
      "description": "The properties of Application",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the Application",
          "readOnly": true
        },
        "realms": {
          "type": "array",
          "description": "List of realms associated with the application",
          "items": {
            "$ref": "#/definitions/RealmReference"
          },
          "x-ms-identifiers": [
            "type"
          ]
        },
        "replyToAddresses": {
          "type": "array",
          "description": "List of reply to addresses",
          "items": {
            "type": "string"
          }
        },
        "authenticationRequirements": {
          "type": "array",
          "description": "Required authentication methods",
          "items": {
            "type": "string"
          }
        },
        "credentialsRemoved": {
          "type": "boolean",
          "description": "Whether credentials have been removed"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the application"
        },
        "owner": {
          "type": "string",
          "description": "Owner of the application"
        },
        "claimProvisionings": {
          "type": "array",
          "description": "List of claim provisioning settings",
          "items": {
            "type": "string"
          }
        },
        "accountProperties": {
          "type": "array",
          "description": "Account property settings",
          "items": {
            "type": "string"
          }
        },
        "claims": {
          "type": "array",
          "description": "Account claims",
          "items": {
            "$ref": "#/definitions/ApplicationClaim"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "accountVersion": {
          "type": "string",
          "description": "Version of the account"
        },
        "containerId": {
          "type": "string",
          "description": "Container identifier"
        },
        "trustedCertificateSubjects": {
          "type": "array",
          "description": "List of trusted certificate subjects",
          "items": {
            "type": "string"
          }
        },
        "applicationPrincipalId": {
          "type": "string",
          "description": "Application principal ID"
        },
        "objectId": {
          "type": "string",
          "description": "Object ID"
        },
        "accountType": {
          "type": "string",
          "description": "Type of account"
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Version number"
        },
        "modifiedDate": {
          "type": "string",
          "description": "Last modified date"
        },
        "createdDate": {
          "type": "string",
          "description": "Creation date"
        },
        "modifiedBy": {
          "type": "string",
          "description": "Last modifier"
        },
        "createdBy": {
          "type": "string",
          "description": "Creator",
          "readOnly": true
        }
      }
    },
    "Endpoint": {
      "type": "object",
      "description": "Endpoint Resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EndpointProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EndpointListResult": {
      "type": "object",
      "description": "The response of a Endpoint list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Endpoint items on this page",
          "items": {
            "$ref": "#/definitions/Endpoint"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EndpointProperties": {
      "type": "object",
      "description": "The properties of Endpoint",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the Endpoint",
          "readOnly": true
        },
        "hostname": {
          "type": "string",
          "description": "The hostname for the endpoint"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state for the Application",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Accepted",
        "Processing",
        "Updating",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been successfully provisioned"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource provisioning has failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource provisioning was canceled"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource provisioning request is in progress"
          },
          {
            "name": "Processing",
            "value": "Processing",
            "description": "Resource provisioning request is being processed"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource provisioning request is being updating"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Resource provisioning request status is unknown"
          }
        ]
      },
      "readOnly": true
    },
    "RealmReference": {
      "type": "object",
      "description": "Properties for a realm reference",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of realm"
        }
      },
      "required": [
        "type"
      ]
    }
  },
  "parameters": {}
}
