{
  "swagger": "2.0",
  "info": {
    "title": "WebApps API Client",
    "version": "2025-03-01",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json",
    "application/xml"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "AppServiceEnvironments"
    },
    {
      "name": "Recommendations"
    },
    {
      "name": "AppServiceEnvironmentResources"
    },
    {
      "name": "AddressResponses"
    },
    {
      "name": "CustomDnsSuffixConfigurations"
    },
    {
      "name": "AseV3NetworkingConfigurations"
    },
    {
      "name": "WorkerPoolResources"
    },
    {
      "name": "RemotePrivateEndpointConnectionARMResources"
    },
    {
      "name": "StaticSites"
    },
    {
      "name": "WebApps"
    },
    {
      "name": "RemotePrivateEndpointConnectionARMResourceOperationGroup"
    },
    {
      "name": "PrivateEndpointConnectionSlotOperationGroup"
    },
    {
      "name": "AppServicePlans"
    },
    {
      "name": "HybridConnections"
    },
    {
      "name": "HybridConnectionOperationGroup"
    },
    {
      "name": "HybridConnectionSlotOperationGroup"
    },
    {
      "name": "HybridConnectionLimitsOperationGroup"
    },
    {
      "name": "VnetInfoResources"
    },
    {
      "name": "VnetInfoResourceOperationGroup"
    },
    {
      "name": "VnetConnectionOperationGroup"
    },
    {
      "name": "VnetGateways"
    },
    {
      "name": "VnetGatewayOperationGroup"
    },
    {
      "name": "VnetConnectionGatewayOperationGroup"
    },
    {
      "name": "VnetRoutes"
    },
    {
      "name": "Certificates"
    },
    {
      "name": "SiteCertificates"
    },
    {
      "name": "CertificateOperationGroup"
    },
    {
      "name": "DeletedSites"
    },
    {
      "name": "Global"
    },
    {
      "name": "Diagnostics"
    },
    {
      "name": "DetectorResponses"
    },
    {
      "name": "DetectorResponseOperationGroup"
    },
    {
      "name": "DiagnosticCategories"
    },
    {
      "name": "DiagnosticCategoryOperationGroup"
    },
    {
      "name": "AnalysisDefinitions"
    },
    {
      "name": "AnalysisDefinitionOperationGroup"
    },
    {
      "name": "DetectorDefinitionResources"
    },
    {
      "name": "DetectorDefinitionResourceOperationGroup"
    },
    {
      "name": "KubeEnvironments"
    },
    {
      "name": "RecommendationRules"
    },
    {
      "name": "ResourceHealthMetadataOperationGroup"
    },
    {
      "name": "BySiteSlotOperationGroup"
    },
    {
      "name": "Sites"
    },
    {
      "name": "Users"
    },
    {
      "name": "SourceControls"
    },
    {
      "name": "StaticSiteARMResources"
    },
    {
      "name": "StaticSiteBuildARMResources"
    },
    {
      "name": "DatabaseConnections"
    },
    {
      "name": "DatabaseConnectionOperationGroup"
    },
    {
      "name": "StaticSiteUserProvidedFunctionAppARMResources"
    },
    {
      "name": "StaticSiteUserProvidedFunctionAppARMResourceOperationGroup"
    },
    {
      "name": "StaticSiteBasicAuthPropertiesARMResources"
    },
    {
      "name": "StaticSiteCustomDomainOverviewARMResources"
    },
    {
      "name": "StaticSiteLinkedBackendARMResources"
    },
    {
      "name": "StaticSiteLinkedBackendARMResourceOperationGroup"
    },
    {
      "name": "BackupItems"
    },
    {
      "name": "BackupItemOperationGroup"
    },
    {
      "name": "CsmPublishingCredentialsPoliciesEntities"
    },
    {
      "name": "CsmPublishingCredentialsPoliciesEntityOperationGroup"
    },
    {
      "name": "CsmPublishingCredentialsPoliciesEntityFtpAllowedSlot"
    },
    {
      "name": "CsmPublishingCredentialsPoliciesEntityScmAllowedSlot"
    },
    {
      "name": "SiteAuthSettingsV2s"
    },
    {
      "name": "SiteAuthSettingsV2OperationGroup"
    },
    {
      "name": "AppSettingKeyVaultReference"
    },
    {
      "name": "SiteConnectionStringKeyVaultReference"
    },
    {
      "name": "AppSettingKeyVaultReferenceSlot"
    },
    {
      "name": "SiteConnectionStringKeyVaultReferenceSlot"
    },
    {
      "name": "SiteLogsConfigs"
    },
    {
      "name": "SiteLogsConfigOperationGroup"
    },
    {
      "name": "SlotConfigNamesResources"
    },
    {
      "name": "SiteConfigResources"
    },
    {
      "name": "SiteConfigResourceOperationGroup"
    },
    {
      "name": "SiteConfigSlotResourceOperationGroup"
    },
    {
      "name": "SiteConfigSnapshotSlotResourceOperationGroup"
    },
    {
      "name": "ContinuousWebJobs"
    },
    {
      "name": "ContinuousWebJobOperationGroup"
    },
    {
      "name": "CsmDeploymentStatuses"
    },
    {
      "name": "CsmDeploymentStatusOperationGroup"
    },
    {
      "name": "Deployments"
    },
    {
      "name": "DeploymentOperationGroup"
    },
    {
      "name": "Identifiers"
    },
    {
      "name": "IdentifierOperationGroup"
    },
    {
      "name": "MSDeployStatuses"
    },
    {
      "name": "MSDeployStatusOperationGroup"
    },
    {
      "name": "MSDeployStatusSlotOperationGroup"
    },
    {
      "name": "InstanceMSDeployStatusOperationGroup"
    },
    {
      "name": "FunctionEnvelopes"
    },
    {
      "name": "FunctionEnvelopeOperationGroup"
    },
    {
      "name": "HostNameBindings"
    },
    {
      "name": "HostNameBindingOperationGroup"
    },
    {
      "name": "RelayServiceConnectionEntities"
    },
    {
      "name": "RelayServiceConnectionEntityOperationGroup"
    },
    {
      "name": "WebSiteInstanceStatuses"
    },
    {
      "name": "WebSiteInstanceStatusOperationGroup"
    },
    {
      "name": "ProcessInfos"
    },
    {
      "name": "ProcessInfoOperationGroup"
    },
    {
      "name": "InstanceProcessSlotOperationGroup"
    },
    {
      "name": "ProcessSlotOperationGroup"
    },
    {
      "name": "ProcessModuleInfos"
    },
    {
      "name": "ProcessModuleInfoOperationGroup"
    },
    {
      "name": "InstanceProcessModuleSlotOperationGroup"
    },
    {
      "name": "ProcessModuleSlotOperationGroup"
    },
    {
      "name": "MigrateMySqlStatuses"
    },
    {
      "name": "MigrateMySqlStatusOperationGroup"
    },
    {
      "name": "SwiftVirtualNetworks"
    },
    {
      "name": "SwiftVirtualNetworkOperationGroup"
    },
    {
      "name": "NetworkFeaturesOperationGroup"
    },
    {
      "name": "NetworkFeaturesSlotOperationGroup"
    },
    {
      "name": "PremierAddOns"
    },
    {
      "name": "PremierAddOnOperationGroup"
    },
    {
      "name": "PrivateAccesses"
    },
    {
      "name": "PrivateAccessOperationGroup"
    },
    {
      "name": "PublicCertificates"
    },
    {
      "name": "PublicCertificateOperationGroup"
    },
    {
      "name": "SiteContainers"
    },
    {
      "name": "SiteContainerOperationGroup"
    },
    {
      "name": "SiteExtensionInfos"
    },
    {
      "name": "SiteExtensionInfoOperationGroup"
    },
    {
      "name": "SiteSourceControls"
    },
    {
      "name": "SiteSourceControlOperationGroup"
    },
    {
      "name": "TriggeredWebJobs"
    },
    {
      "name": "TriggeredWebJobOperationGroup"
    },
    {
      "name": "TriggeredJobHistories"
    },
    {
      "name": "TriggeredJobHistoryOperationGroup"
    },
    {
      "name": "WebJobs"
    },
    {
      "name": "WebJobOperationGroup"
    },
    {
      "name": "WorkflowEnvelopes"
    },
    {
      "name": "WorkflowEnvelopeOperationGroup"
    },
    {
      "name": "WorkflowRuns"
    },
    {
      "name": "WorkflowRunActions"
    },
    {
      "name": "WorkflowRunActionRepetitionDefinitions"
    },
    {
      "name": "WorkflowRunActionScopeRepetitions"
    },
    {
      "name": "RequestHistories"
    },
    {
      "name": "WorkflowTriggers"
    },
    {
      "name": "WorkflowTriggerHistories"
    },
    {
      "name": "WorkflowVersions"
    }
  ],
  "paths": {
    "/providers/Microsoft.Web/availableStacks": {
      "get": {
        "operationId": "Provider_GetAvailableStacks",
        "summary": "Get available application frameworks and their versions",
        "description": "Description for Get available application frameworks and their versions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "osTypeSelected",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Windows",
              "Linux",
              "WindowsFunctions",
              "LinuxFunctions",
              "All"
            ],
            "x-ms-enum": {
              "name": "ProviderOsTypeSelected",
              "modelAsString": true,
              "values": [
                {
                  "name": "Windows",
                  "value": "Windows"
                },
                {
                  "name": "Linux",
                  "value": "Linux"
                },
                {
                  "name": "WindowsFunctions",
                  "value": "WindowsFunctions"
                },
                {
                  "name": "LinuxFunctions",
                  "value": "LinuxFunctions"
                },
                {
                  "name": "All",
                  "value": "All"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApplicationStackCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Web/functionAppStacks": {
      "get": {
        "operationId": "Provider_GetFunctionAppStacks",
        "summary": "Get available Function app frameworks and their versions",
        "description": "Description for Get available Function app frameworks and their versions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "stackOsType",
            "in": "query",
            "description": "Stack OS Type",
            "required": false,
            "type": "string",
            "enum": [
              "Windows",
              "Linux",
              "All"
            ],
            "x-ms-enum": {
              "name": "ProviderStackOsType",
              "modelAsString": true,
              "values": [
                {
                  "name": "Windows",
                  "value": "Windows"
                },
                {
                  "name": "Linux",
                  "value": "Linux"
                },
                {
                  "name": "All",
                  "value": "All"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FunctionAppStackCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Function App Stacks": {
            "$ref": "./examples/GetFunctionAppStacks.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Web/locations/{location}/functionAppStacks": {
      "get": {
        "operationId": "Provider_GetFunctionAppStacksForLocation",
        "summary": "Get available Function app frameworks and their versions for location",
        "description": "Description for Get available Function app frameworks and their versions for location",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "stackOsType",
            "in": "query",
            "description": "Stack OS Type",
            "required": false,
            "type": "string",
            "enum": [
              "Windows",
              "Linux",
              "All"
            ],
            "x-ms-enum": {
              "name": "ProviderStackOsType",
              "modelAsString": true,
              "values": [
                {
                  "name": "Windows",
                  "value": "Windows"
                },
                {
                  "name": "Linux",
                  "value": "Linux"
                },
                {
                  "name": "All",
                  "value": "All"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/FunctionAppStackCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Locations Function App Stacks": {
            "$ref": "./examples/GetFunctionAppStacksForLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Web/locations/{location}/webAppStacks": {
      "get": {
        "operationId": "Provider_GetWebAppStacksForLocation",
        "summary": "Get available Web app frameworks and their versions for location",
        "description": "Description for Get available Web app frameworks and their versions for location",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "stackOsType",
            "in": "query",
            "description": "Stack OS Type",
            "required": false,
            "type": "string",
            "enum": [
              "Windows",
              "Linux",
              "All"
            ],
            "x-ms-enum": {
              "name": "ProviderStackOsType",
              "modelAsString": true,
              "values": [
                {
                  "name": "Windows",
                  "value": "Windows"
                },
                {
                  "name": "Linux",
                  "value": "Linux"
                },
                {
                  "name": "All",
                  "value": "All"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WebAppStackCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Locations Web App Stacks": {
            "$ref": "./examples/GetWebAppStacksForLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Web/operations": {
      "get": {
        "operationId": "Provider_ListOperations",
        "tags": [
          "Operations"
        ],
        "summary": "Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions",
        "description": "Description for Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CsmOperationCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Web/publishingUsers/web": {
      "get": {
        "operationId": "GetPublishingUser",
        "tags": [
          "Users"
        ],
        "summary": "Gets publishing user",
        "description": "Description for Gets publishing user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "UpdatePublishingUser",
        "tags": [
          "Users"
        ],
        "summary": "Updates publishing user",
        "description": "Description for Updates publishing user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "userDetails",
            "in": "body",
            "description": "Details of publishing user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'User' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/User"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Web/sourcecontrols": {
      "get": {
        "operationId": "ListSourceControls",
        "tags": [
          "SourceControls"
        ],
        "summary": "Gets the source controls available for Azure websites.",
        "description": "Description for Gets the source controls available for Azure websites.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SourceControlCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Web/sourcecontrols/{sourceControlType}": {
      "get": {
        "operationId": "GetSourceControl",
        "tags": [
          "SourceControls"
        ],
        "summary": "Gets source control token",
        "description": "Description for Gets source control token",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "sourceControlType",
            "in": "path",
            "description": "Type of source control",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SourceControl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "UpdateSourceControl",
        "tags": [
          "SourceControls"
        ],
        "summary": "Updates source control token",
        "description": "Description for Updates source control token",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "sourceControlType",
            "in": "path",
            "description": "Type of source control",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestMessage",
            "in": "body",
            "description": "Source control token information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SourceControl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SourceControl' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SourceControl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Web/webAppStacks": {
      "get": {
        "operationId": "Provider_GetWebAppStacks",
        "summary": "Get available Web app frameworks and their versions",
        "description": "Description for Get available Web app frameworks and their versions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "stackOsType",
            "in": "query",
            "description": "Stack OS Type",
            "required": false,
            "type": "string",
            "enum": [
              "Windows",
              "Linux",
              "All"
            ],
            "x-ms-enum": {
              "name": "ProviderStackOsType",
              "modelAsString": true,
              "values": [
                {
                  "name": "Windows",
                  "value": "Windows"
                },
                {
                  "name": "Linux",
                  "value": "Linux"
                },
                {
                  "name": "All",
                  "value": "All"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/WebAppStackCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Web App Stacks": {
            "$ref": "./examples/GetWebAppStacks.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/aseRegions": {
      "get": {
        "operationId": "ListAseRegions",
        "summary": "Get a list of available ASE regions and its supported Skus.",
        "description": "Description for get a list of available ASE regions and its supported Skus.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AseRegionCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List aseregions": {
            "$ref": "./examples/ListAseRegions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/availableStacks": {
      "get": {
        "operationId": "Provider_GetAvailableStacksOnPrem",
        "summary": "Get available application frameworks and their versions",
        "description": "Description for Get available application frameworks and their versions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "osTypeSelected",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "Windows",
              "Linux",
              "WindowsFunctions",
              "LinuxFunctions",
              "All"
            ],
            "x-ms-enum": {
              "name": "ProviderOsTypeSelected",
              "modelAsString": true,
              "values": [
                {
                  "name": "Windows",
                  "value": "Windows"
                },
                {
                  "name": "Linux",
                  "value": "Linux"
                },
                {
                  "name": "WindowsFunctions",
                  "value": "WindowsFunctions"
                },
                {
                  "name": "LinuxFunctions",
                  "value": "LinuxFunctions"
                },
                {
                  "name": "All",
                  "value": "All"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ApplicationStackCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/billingMeters": {
      "get": {
        "operationId": "ListBillingMeters",
        "summary": "Gets a list of meters for a given location.",
        "description": "Description for Gets a list of meters for a given location.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "billingLocation",
            "in": "query",
            "description": "Azure Location of billable resource",
            "required": false,
            "type": "string"
          },
          {
            "name": "osType",
            "in": "query",
            "description": "App Service OS type meters used for",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingMeterCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates": {
      "get": {
        "operationId": "Certificates_List",
        "tags": [
          "Certificates"
        ],
        "summary": "Get all certificates for a subscription.",
        "description": "Description for Get all certificates for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Return only information specified in the filter (using OData syntax). For example: $filter=KeyVaultId eq 'KeyVaultId'",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Certificates for subscription": {
            "$ref": "./examples/ListCertificates.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability": {
      "post": {
        "operationId": "CheckNameAvailability",
        "summary": "Check if a resource name is available.",
        "description": "Description for Check if a resource name is available.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceNameAvailabilityRequest"
            },
            "x-ms-client-flatten": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ResourceNameAvailability"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/customhostnameSites": {
      "get": {
        "operationId": "ListCustomHostNameSites",
        "summary": "Get custom hostnames under this subscription",
        "description": "Get custom hostnames under this subscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "hostname",
            "in": "query",
            "description": "Specific hostname",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CustomHostnameSitesCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get custom hostnames under subscription": {
            "$ref": "./examples/ListCustomHostNameSites.json"
          },
          "Get specific custom hostname under subscription": {
            "$ref": "./examples/ListCustomSpecificHostNameSites.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites": {
      "get": {
        "operationId": "DeletedWebApps_List",
        "tags": [
          "Global"
        ],
        "summary": "Get all deleted apps for a subscription.",
        "description": "Description for Get all deleted apps for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedWebAppCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites/{deletedSiteId}": {
      "get": {
        "operationId": "Global_GetDeletedWebApp",
        "tags": [
          "Global"
        ],
        "summary": "Get deleted app for a subscription.",
        "description": "Description for Get deleted app for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deletedSiteId",
            "in": "path",
            "description": "The numeric ID of the deleted app, e.g. 12345",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Deleted Web App": {
            "$ref": "./examples/GetDeletedWebApp.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deletedSites/{deletedSiteId}/snapshots": {
      "get": {
        "operationId": "Global_GetDeletedWebAppSnapshots",
        "tags": [
          "Global"
        ],
        "summary": "Get all deleted apps for a subscription.",
        "description": "Description for Get all deleted apps for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "deletedSiteId",
            "in": "path",
            "description": "The numeric ID of the deleted app, e.g. 12345",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Snapshot"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Deleted Web App Snapshots": {
            "$ref": "./examples/GetDeletedWebAppSnapshots.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/deploymentLocations": {
      "get": {
        "operationId": "GetSubscriptionDeploymentLocations",
        "summary": "Gets list of available geo regions plus ministamps",
        "description": "Description for Gets list of available geo regions plus ministamps",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DeploymentLocations"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions": {
      "get": {
        "operationId": "ListGeoRegions",
        "summary": "Get a list of available geographical regions.",
        "description": "Description for Get a list of available geographical regions.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "sku",
            "in": "query",
            "description": "Name of SKU used to filter the regions.",
            "required": false,
            "type": "string",
            "enum": [
              "Free",
              "Shared",
              "Basic",
              "Standard",
              "Premium",
              "Dynamic",
              "Isolated",
              "IsolatedV2",
              "PremiumV2",
              "PremiumV3",
              "PremiumContainer",
              "ElasticPremium",
              "ElasticIsolated",
              "FlexConsumption"
            ],
            "x-ms-enum": {
              "name": "SkuName",
              "modelAsString": true,
              "values": [
                {
                  "name": "Free",
                  "value": "Free"
                },
                {
                  "name": "Shared",
                  "value": "Shared"
                },
                {
                  "name": "Basic",
                  "value": "Basic"
                },
                {
                  "name": "Standard",
                  "value": "Standard"
                },
                {
                  "name": "Premium",
                  "value": "Premium"
                },
                {
                  "name": "Dynamic",
                  "value": "Dynamic"
                },
                {
                  "name": "Isolated",
                  "value": "Isolated"
                },
                {
                  "name": "IsolatedV2",
                  "value": "IsolatedV2"
                },
                {
                  "name": "PremiumV2",
                  "value": "PremiumV2"
                },
                {
                  "name": "PremiumV3",
                  "value": "PremiumV3"
                },
                {
                  "name": "PremiumContainer",
                  "value": "PremiumContainer"
                },
                {
                  "name": "ElasticPremium",
                  "value": "ElasticPremium"
                },
                {
                  "name": "ElasticIsolated",
                  "value": "ElasticIsolated"
                },
                {
                  "name": "FlexConsumption",
                  "value": "FlexConsumption"
                }
              ]
            }
          },
          {
            "name": "linuxWorkersEnabled",
            "in": "query",
            "description": "Specify <code>true</code> if you want to filter to only regions that support Linux workers.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "xenonWorkersEnabled",
            "in": "query",
            "description": "Specify <code>true</code> if you want to filter to only regions that support Xenon workers.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "linuxDynamicWorkersEnabled",
            "in": "query",
            "description": "Specify <code>true</code> if you want to filter to only regions that support Linux Consumption Workers.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "customModeWorkersEnabled",
            "in": "query",
            "description": "Specify <code>true</code> if you want to filter to only regions that support App Service Plans with <code>IsCustomMode</code> set to <code>true</code>.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/GeoRegionCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments": {
      "get": {
        "operationId": "AppServiceEnvironments_List",
        "tags": [
          "AppServiceEnvironmentResources"
        ],
        "summary": "Get all App Service Environments for a subscription.",
        "description": "Description for Get all App Service Environments for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all App Service Environments for a subscription.": {
            "$ref": "./examples/AppServiceEnvironments_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/kubeEnvironments": {
      "get": {
        "operationId": "KubeEnvironments_ListBySubscription",
        "tags": [
          "KubeEnvironments"
        ],
        "summary": "Get all Kubernetes Environments for a subscription.",
        "description": "Description for Get all Kubernetes Environments for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KubeEnvironmentCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List kube environments by subscription": {
            "$ref": "./examples/KubeEnvironments_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/listSitesAssignedToHostName": {
      "post": {
        "operationId": "ListSiteIdentifiersAssignedToHostName",
        "summary": "List all apps that are assigned to a hostname.",
        "description": "Description for List all apps that are assigned to a hostname.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "nameIdentifier",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameIdentifier"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/IdentifierCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/checknameavailability": {
      "post": {
        "operationId": "RegionalCheckNameAvailability",
        "summary": "Check if a resource name is available for DNL sites.",
        "description": "Check if a resource name is available for DNL sites.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "request",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DnlResourceNameAvailabilityRequest"
            },
            "x-ms-client-flatten": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/DnlResourceNameAvailability"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites": {
      "get": {
        "operationId": "DeletedWebApps_ListByLocation",
        "tags": [
          "DeletedSites"
        ],
        "summary": "Get all deleted apps for a subscription at location",
        "description": "Description for Get all deleted apps for a subscription at location",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedWebAppCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Deleted Web App by Location": {
            "$ref": "./examples/ListDeletedWebAppsByLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/deletedSites/{deletedSiteId}": {
      "get": {
        "operationId": "DeletedWebApps_GetDeletedWebAppByLocation",
        "tags": [
          "DeletedSites"
        ],
        "summary": "Get deleted app for a subscription at location.",
        "description": "Description for Get deleted app for a subscription at location.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "deletedSiteId",
            "in": "path",
            "description": "The numeric ID of the deleted app, e.g. 12345",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeletedSite"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Deleted Web App by Location": {
            "$ref": "./examples/GetDeletedWebAppByLocation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/operations/{operationId}": {
      "get": {
        "operationId": "Global_GetSubscriptionOperationWithAsyncResponse",
        "summary": "Gets an operation in a subscription and given region",
        "description": "Description for Gets an operation in a subscription and given region",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Operation Id",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets an operation in a subscription and given region": {
            "$ref": "./examples/GetSubscriptionOperationWithAsyncResponse.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/previewStaticSiteWorkflowFile": {
      "post": {
        "operationId": "StaticSites_PreviewWorkflow",
        "summary": "Generates a preview workflow file for the static site",
        "description": "Description for Generates a preview workflow file for the static site",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "name": "staticSitesWorkflowPreviewRequest",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StaticSitesWorkflowPreviewRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/StaticSitesWorkflowPreview"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generates a preview workflow file for the static site": {
            "$ref": "./examples/GenerateStaticSiteWorkflowPreview.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/usages": {
      "get": {
        "operationId": "GetUsagesInLocation_list",
        "summary": "Lists subscription core usages for all skus used in a location, for a given type of quota.",
        "description": "List usages in cores for all skus used by a subscription in a given location, for a specific quota type.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CsmUsageQuotaCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get usages in location for subscription": {
            "$ref": "./examples/GetUsagesInLocation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers": {
      "get": {
        "operationId": "ListPremierAddOnOffers",
        "summary": "List all premier add-on offers.",
        "description": "Description for List all premier add-on offers.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PremierAddOnOfferCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations": {
      "get": {
        "operationId": "Recommendations_List",
        "summary": "List all recommendations for a subscription.",
        "description": "Description for List all recommendations for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "featured",
            "in": "query",
            "description": "Specify <code>true</code> to return only the most critical recommendations. The default is <code>false</code>, which returns all recommendations.",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter is specified by using OData syntax. Example: $filter=channel eq 'Api' or channel eq 'Notification' and startTime eq 2014-01-01T00:00:00Z and endTime eq 2014-12-31T23:59:59Z and timeGrain eq duration'[PT1H|PT1M|P1D]",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RecommendationCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/{name}/disable": {
      "post": {
        "operationId": "Recommendations_DisableRecommendationForSubscription",
        "summary": "Disables the specified rule so it will not apply to a subscription in the future.",
        "description": "Description for Disables the specified rule so it will not apply to a subscription in the future.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Rule name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations/reset": {
      "post": {
        "operationId": "Recommendations_ResetAllFilters",
        "summary": "Reset all recommendation opt-out settings for a subscription.",
        "description": "Description for Reset all recommendation opt-out settings for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/resourceHealthMetadata": {
      "get": {
        "operationId": "ResourceHealthMetadata_List",
        "summary": "List all ResourceHealthMetadata for all sites in the subscription.",
        "description": "Description for List all ResourceHealthMetadata for all sites in the subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ResourceHealthMetadataCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ResourceHealthMetadata for a subscription": {
            "$ref": "./examples/ListResourceHealthMetadataBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms": {
      "get": {
        "operationId": "AppServicePlans_List",
        "tags": [
          "AppServicePlans"
        ],
        "summary": "Get all App Service plans for a subscription.",
        "description": "Description for Get all App Service plans for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "detailed",
            "in": "query",
            "description": "Specify <code>true</code> to return all App Service plan properties. The default is <code>false</code>, which returns a subset of the properties.\nRetrieval of all properties may increase the API latency.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppServicePlanCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List App Service plans": {
            "$ref": "./examples/ListAppServicePlans.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites": {
      "get": {
        "operationId": "WebApps_List",
        "tags": [
          "Sites"
        ],
        "summary": "Get all apps for a subscription.",
        "description": "Description for Get all apps for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WebAppCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Web apps for subscription": {
            "$ref": "./examples/ListWebApps.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/skus": {
      "get": {
        "operationId": "ListSkus",
        "summary": "List all SKUs.",
        "description": "Description for List all SKUs.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SkuInfos"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/staticSites": {
      "get": {
        "operationId": "StaticSites_List",
        "tags": [
          "StaticSiteARMResources"
        ],
        "summary": "Get all Static Sites for a subscription.",
        "description": "Description for Get all Static Sites for a subscription.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StaticSiteCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all static sites in a subscription": {
            "$ref": "./examples/GetAllStaticSites.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/verifyHostingEnvironmentVnet": {
      "post": {
        "operationId": "VerifyHostingEnvironmentVnet",
        "summary": "Verifies if this VNET is compatible with an App Service Environment by analyzing the Network Security Group rules.",
        "description": "Description for Verifies if this VNET is compatible with an App Service Environment by analyzing the Network Security Group rules.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/VnetParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/VnetValidationFailureDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VerifyHostingEnvironmentVnet": {
            "$ref": "./examples/VerifyHostingEnvironmentVnet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources": {
      "post": {
        "operationId": "Move",
        "summary": "Move resources between resource groups.",
        "description": "Description for Move resources between resource groups.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "moveResourceEnvelope",
            "in": "body",
            "description": "Object that represents the resource to move.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CsmMoveResourceEnvelope"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates": {
      "get": {
        "operationId": "Certificates_ListByResourceGroup",
        "tags": [
          "Certificates"
        ],
        "summary": "Get all certificates in a resource group.",
        "description": "Description for Get all certificates in a resource group.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Certificates by resource group": {
            "$ref": "./examples/ListCertificatesByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}": {
      "get": {
        "operationId": "Certificates_Get",
        "tags": [
          "Certificates"
        ],
        "summary": "Get a certificate.",
        "description": "Description for Get a certificate.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the certificate.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Certificate": {
            "$ref": "./examples/GetCertificate.json"
          }
        }
      },
      "put": {
        "operationId": "Certificates_CreateOrUpdate",
        "tags": [
          "Certificates"
        ],
        "summary": "Create or update a certificate.",
        "description": "Description for Create or update a certificate.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the certificate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateEnvelope",
            "in": "body",
            "description": "Details of certificate, if it exists already.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Certificate' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Or Update Certificate": {
            "$ref": "./examples/CreateOrUpdateCertificate.json"
          }
        }
      },
      "patch": {
        "operationId": "Certificates_Update",
        "tags": [
          "Certificates"
        ],
        "summary": "Create or update a certificate.",
        "description": "Description for Create or update a certificate.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the certificate.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateEnvelope",
            "in": "body",
            "description": "Details of certificate, if it exists already.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificatePatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Certificate": {
            "$ref": "./examples/PatchCertificate.json"
          }
        }
      },
      "delete": {
        "operationId": "Certificates_Delete",
        "tags": [
          "Certificates"
        ],
        "summary": "Delete a certificate.",
        "description": "Description for Delete a certificate.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the certificate.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Certificate": {
            "$ref": "./examples/DeleteCertificate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments": {
      "get": {
        "operationId": "AppServiceEnvironments_ListByResourceGroup",
        "tags": [
          "AppServiceEnvironmentResources"
        ],
        "summary": "Get all App Service Environments in a resource group.",
        "description": "Description for Get all App Service Environments in a resource group.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all App Service Environments in a resource group.": {
            "$ref": "./examples/AppServiceEnvironments_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}": {
      "get": {
        "operationId": "AppServiceEnvironments_Get",
        "tags": [
          "AppServiceEnvironmentResources"
        ],
        "summary": "Get the properties of an App Service Environment.",
        "description": "Description for Get the properties of an App Service Environment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the properties of an App Service Environment.": {
            "$ref": "./examples/AppServiceEnvironments_Get.json"
          }
        }
      },
      "put": {
        "operationId": "AppServiceEnvironments_CreateOrUpdate",
        "tags": [
          "AppServiceEnvironmentResources"
        ],
        "summary": "Create or update an App Service Environment.",
        "description": "Description for Create or update an App Service Environment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostingEnvironmentEnvelope",
            "in": "body",
            "description": "Configuration details of the App Service Environment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AppServiceEnvironmentResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "201": {
            "description": "Resource 'AppServiceEnvironmentResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an App Service Environment.": {
            "$ref": "./examples/AppServiceEnvironments_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/AppServiceEnvironmentResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AppServiceEnvironments_Update",
        "tags": [
          "AppServiceEnvironmentResources"
        ],
        "summary": "Create or update an App Service Environment.",
        "description": "Description for Create or update an App Service Environment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "hostingEnvironmentEnvelope",
            "in": "body",
            "description": "Configuration details of the App Service Environment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentPatchResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "201": {
            "description": "Resource 'AppServiceEnvironmentResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/AppServiceEnvironmentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an App Service Environment.": {
            "$ref": "./examples/AppServiceEnvironments_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "AppServiceEnvironments_Delete",
        "tags": [
          "AppServiceEnvironmentResources"
        ],
        "summary": "Delete an App Service Environment.",
        "description": "Description for Delete an App Service Environment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          },
          {
            "name": "forceDelete",
            "in": "query",
            "description": "Specify <code>true</code> to force the deletion even if the App Service Environment contains resources. The default is <code>false</code>.",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an App Service Environment.": {
            "$ref": "./examples/AppServiceEnvironments_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute": {
      "get": {
        "operationId": "AppServiceEnvironments_ListCapacities",
        "tags": [
          "AppServiceEnvironmentResources"
        ],
        "summary": "Get the used, available, and total worker capacity an App Service Environment.",
        "description": "Description for Get the used, available, and total worker capacity an App Service Environment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the App Service Environment.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StampCapacityCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the used, available, and total worker capacity an App Service Environment.": {
            "$ref": "./examples/AppServiceEnvironments_ListCapacities.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip": {
      "get": {
        "operationId": "AppServiceEnvironments_GetVipInfo",
        "tags": [
          "AddressResponses"
        ],
        "summary": "Get IP addresses assigned to an App Service Environment.",
        "description": "Description for Get IP addresses assigned to an App Service Environment.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
[...]
