{
  "swagger": "2.0",
  "info": {
    "title": "ServiceBusManagementClient",
    "version": "2025-05-01-preview",
    "description": "Azure Service Bus client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DisasterRecoveryConfigs"
    },
    {
      "name": "SBNamespaces"
    },
    {
      "name": "NetworkRuleSets"
    },
    {
      "name": "SBAuthorizationRules"
    },
    {
      "name": "Queues"
    },
    {
      "name": "Topics"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "NetworkSecurityPerimeterConfigurations"
    },
    {
      "name": "ArmDisasterRecoveries"
    },
    {
      "name": "MigrationConfigs"
    },
    {
      "name": "SBQueues"
    },
    {
      "name": "SBTopics"
    },
    {
      "name": "Rules"
    },
    {
      "name": "SBSubscriptions"
    }
  ],
  "paths": {
    "/providers/Microsoft.ServiceBus/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "The API version to use for this operation.",
            "required": true,
            "type": "string",
            "minLength": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationsList": {
            "parameters": {
              "api-version": "2025-05-01-preview"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "Microsoft.ServiceBus/checkNameAvailability/action",
                      "display": {
                        "operation": "Get namespace availability.",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Non Resource Operation"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/register/action",
                      "display": {
                        "operation": "Registers the ServiceBus Resource Provider",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "ServiceBus Resource Provider"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/write",
                      "display": {
                        "operation": "Create Or Update Namespace ",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Namespace"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/read",
                      "display": {
                        "operation": "Get Namespace Resource",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Namespace"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/Delete",
                      "display": {
                        "operation": "Delete Namespace",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Namespace"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/authorizationRules/write",
                      "display": {
                        "operation": "Create or Update Namespace Authorization Rules",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/authorizationRules/read",
                      "display": {
                        "operation": "Get Namespace Authorization Rules",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/authorizationRules/delete",
                      "display": {
                        "operation": "Delete Namespace Authorization Rule",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/authorizationRules/listkeys/action",
                      "display": {
                        "operation": "Get Namespace Listkeys",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/authorizationRules/regenerateKeys/action",
                      "display": {
                        "operation": "Resource Regeneratekeys",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/queues/write",
                      "display": {
                        "operation": "Create or Update Queue",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Queue"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/queues/read",
                      "display": {
                        "operation": "Get Queue",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Queue"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/queues/Delete",
                      "display": {
                        "operation": "Delete Queue",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Queue"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/queues/authorizationRules/write",
                      "display": {
                        "operation": "Create or Update Queue Authorization Rule",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Queue AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/queues/authorizationRules/read",
                      "display": {
                        "operation": " Get Queue Authorization Rules",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Queue AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/queues/authorizationRules/delete",
                      "display": {
                        "operation": "Delete Queue Authorization Rules",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Queue AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/queues/authorizationRules/listkeys/action",
                      "display": {
                        "operation": "List Queue keys",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Queue AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/queues/authorizationRules/regenerateKeys/action",
                      "display": {
                        "operation": "Resource Regeneratekeys",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Queue AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/write",
                      "display": {
                        "operation": "Create or Update Topic",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Topic"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/read",
                      "display": {
                        "operation": "Get Topic",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Topic"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/Delete",
                      "display": {
                        "operation": "Delete Topic",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Topic"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/authorizationRules/write",
                      "display": {
                        "operation": "Create or Update Topic Authorization Rule",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Topic AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/authorizationRules/read",
                      "display": {
                        "operation": " Get Topic Authorization Rules",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Topic AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/authorizationRules/delete",
                      "display": {
                        "operation": "Delete Topic Authorization Rules",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Topic AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/authorizationRules/listkeys/action",
                      "display": {
                        "operation": "List Topic keys",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Topic AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/authorizationRules/regenerateKeys/action",
                      "display": {
                        "operation": "Resource Regeneratekeys",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Topic AuthorizationRules"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/subscriptions/write",
                      "display": {
                        "operation": "Create or Update TopicSubscription",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "TopicSubscription"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/subscriptions/read",
                      "display": {
                        "operation": "Get TopicSubscription",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "TopicSubscription"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/subscriptions/Delete",
                      "display": {
                        "operation": "Delete TopicSubscription",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "TopicSubscription"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/write",
                      "display": {
                        "operation": "Create or Update Rule",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Rule"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/read",
                      "display": {
                        "operation": "Get Rule",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Rule"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/topics/subscriptions/rules/Delete",
                      "display": {
                        "operation": "Delete Rule",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Rule"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/metricDefinitions/read",
                      "display": {
                        "operation": "Get Namespace metrics",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Namespace metrics"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/diagnosticSettings/read",
                      "display": {
                        "operation": "Get Namespace diagnostic settings",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Namespace diagnostic settings"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/diagnosticSettings/write",
                      "display": {
                        "operation": "Create or Update Namespace diagnostic settings",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Namespace diagnostic settings"
                      }
                    },
                    {
                      "name": "Microsoft.ServiceBus/namespaces/logDefinitions/read",
                      "display": {
                        "operation": "Get Namespace logs",
                        "provider": "Microsoft Azure ServiceBus",
                        "resource": "Namespace logs"
                      }
                    }
                  ]
                }
              }
            },
            "operationId": "Operations_List",
            "title": "OperationsList"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/checkNameAvailability": {
      "post": {
        "operationId": "Namespaces_CheckNameAvailability",
        "description": "Check the give namespace name availability.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/1"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailability"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceCheckNameAvailability": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "parameters": {
                "name": "sdk-Namespace-2924"
              },
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "message": "",
                  "nameAvailable": true,
                  "reason": "None"
                }
              }
            },
            "operationId": "Namespaces_CheckNameAvailability",
            "title": "NameSpaceCheckNameAvailability"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus/namespaces": {
      "get": {
        "operationId": "Namespaces_List",
        "tags": [
          "SBNamespaces"
        ],
        "description": "Gets all the available namespaces within the subscription, irrespective of the resource groups.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx"
        },
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription. The value must be an UUID.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SBNamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceList": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T02:40:17.27Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-91f08e47-2b04-4943-b0cd-a5fb02b88f20",
                        "minimumTlsVersion": "1.2",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-91f08e47-2b04-4943-b0cd-a5fb02b88f20.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T07:15:30.78Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-41dc63f4-0b08-4029-b3ef-535a131bfa65",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-41dc63f4-0b08-4029-b3ef-535a131bfa65",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T03:50:38.98Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-41dc63f4-0b08-4029-b3ef-535a131bfa65",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-41dc63f4-0b08-4029-b3ef-535a131bfa65.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T10:42:58.003Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-df52cf51-e831-4bf2-bd92-e9885f68a996",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-df52cf51-e831-4bf2-bd92-e9885f68a996",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T01:17:54.997Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-df52cf51-e831-4bf2-bd92-e9885f68a996",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-df52cf51-e831-4bf2-bd92-e9885f68a996.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T06:44:39.737Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "SBPremium",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/SBPremium",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-10-10T22:01:00.42Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbpremium",
                        "premiumMessagingPartitions": 1,
                        "provisioningState": "Created",
                        "serviceBusEndpoint": "https://SBPremium.servicebus.windows-int.net:443/",
                        "updatedAt": "2016-10-10T22:01:00.42Z"
                      },
                      "sku": {
                        "name": "Premium",
                        "capacity": 1,
                        "tier": "Premium"
                      },
                      "tags": {}
                    },
                    {
                      "name": "rrama-ns2",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/sadfsadfsadf/providers/Microsoft.ServiceBus/namespaces/rrama-ns2",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T04:14:00.013Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-ns2",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://rrama-ns2.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-03T22:53:32.927Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-20e57600-29d0-4035-ac85-74f4c54dcda1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-20e57600-29d0-4035-ac85-74f4c54dcda1",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T03:30:49.16Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-20e57600-29d0-4035-ac85-74f4c54dcda1",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-20e57600-29d0-4035-ac85-74f4c54dcda1.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T04:17:58.483Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-3e538a1a-58fb-4315-b2ce-76f5c944114c",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-3e538a1a-58fb-4315-b2ce-76f5c944114c",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T18:07:30.05Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-3e538a1a-58fb-4315-b2ce-76f5c944114c",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-3e538a1a-58fb-4315-b2ce-76f5c944114c.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T10:42:57.747Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "prem-ns123",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/prem-ns123",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-13T00:02:39.997Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:prem-ns123",
                        "premiumMessagingPartitions": 2,
                        "provisioningState": "Created",
                        "serviceBusEndpoint": "https://prem-ns123.servicebus.windows-int.net:443/",
                        "updatedAt": "2016-09-13T00:02:39.997Z"
                      },
                      "sku": {
                        "name": "Premium",
                        "capacity": 4,
                        "tier": "Premium"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T01:01:58.73Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4e1bfdf1-0cff-4e86-ae80-cdcac4873039",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-4e1bfdf1-0cff-4e86-ae80-cdcac4873039.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T03:02:59.8Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T03:22:45.327Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-6b90b7f3-7aa0-48c9-bc30-b299dcb66c03.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T06:08:01.207Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-c05e9df3-7737-44ee-a321-15f6e0545b97",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-c05e9df3-7737-44ee-a321-15f6e0545b97",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T03:29:19.75Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-c05e9df3-7737-44ee-a321-15f6e0545b97",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-c05e9df3-7737-44ee-a321-15f6e0545b97.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T08:10:35.527Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-dcb4152c-231b-4c16-a683-07cc6b38fa46",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-dcb4152c-231b-4c16-a683-07cc6b38fa46",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T03:34:35.363Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-dcb4152c-231b-4c16-a683-07cc6b38fa46",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-dcb4152c-231b-4c16-a683-07cc6b38fa46.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T05:33:00.957Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-f501f5e6-1f24-439b-8982-9af665156d40",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-f501f5e6-1f24-439b-8982-9af665156d40",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T01:25:55.707Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-f501f5e6-1f24-439b-8982-9af665156d40",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-f501f5e6-1f24-439b-8982-9af665156d40.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T07:42:59.687Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T02:32:08.227Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-fe2ed660-2cd6-46f2-a9c3-7e11551a1f30.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T06:32:57.77Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T00:54:05.103Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-8a5e3b4e-4e97-4d85-9083-cd33536c9d71",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-8a5e3b4e-4e97-4d85-9083-cd33536c9d71.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T10:43:50.313Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-6520cc09-01ac-40a3-bc09-c5c431116e92",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-6520cc09-01ac-40a3-bc09-c5c431116e92",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T01:49:59.243Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-6520cc09-01ac-40a3-bc09-c5c431116e92",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-6520cc09-01ac-40a3-bc09-c5c431116e92.servicebus.windows-int.net:443",
                        "updatedAt": "2017-02-11T08:15:36.95Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-bfba6d5c-a425-42d9-85db-0f4da770e29a",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-bfba6d5c-a425-42d9-85db-0f4da770e29a",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T03:23:32.083Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-bfba6d5c-a425-42d9-85db-0f4da770e29a",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-bfba6d5c-a425-42d9-85db-0f4da770e29a.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T09:02:57.433Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "SBPrem",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/SBPrem",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-10-10T22:16:30.87Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sbprem",
                        "premiumMessagingPartitions": 2,
                        "provisioningState": "Created",
                        "serviceBusEndpoint": "https://SBPrem.servicebus.windows-int.net:443/",
                        "updatedAt": "2016-10-10T22:16:30.87Z"
                      },
                      "sku": {
                        "name": "Premium",
                        "capacity": 1,
                        "tier": "Premium"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-43b136b4-8716-40b2-97c5-0d77cac0062c",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-43b136b4-8716-40b2-97c5-0d77cac0062c",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T03:14:50.577Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-43b136b4-8716-40b2-97c5-0d77cac0062c",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-43b136b4-8716-40b2-97c5-0d77cac0062c.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T09:23:01.067Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-7c0443de-5f88-450c-b574-83f60a097dd1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-7c0443de-5f88-450c-b574-83f60a097dd1",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T04:07:15.397Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-7c0443de-5f88-450c-b574-83f60a097dd1",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-7c0443de-5f88-450c-b574-83f60a097dd1.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T04:03:03.097Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-62dd7753-a5f9-42fd-a354-ca38a4505d69",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-62dd7753-a5f9-42fd-a354-ca38a4505d69",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T01:33:50.45Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-62dd7753-a5f9-42fd-a354-ca38a4505d69",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-62dd7753-a5f9-42fd-a354-ca38a4505d69.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T05:35:33.053Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-ae18a18c-97ab-4089-965d-8acbf4794091",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-ae18a18c-97ab-4089-965d-8acbf4794091",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T02:43:36.517Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-ae18a18c-97ab-4089-965d-8acbf4794091",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-ae18a18c-97ab-4089-965d-8acbf4794091.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T12:40:30.587Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T00:46:03.773Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-8e3b56c1-0ee8-4e13-ae88-5cadf6e2ce11.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T04:43:54.56Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T03:59:12.1Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-7ffca4b4-4728-4fb0-b2d0-1e7c016e3a44.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T06:33:52.23Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-d9337efd-9b27-454c-b2a5-dcfea56920d9",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-d9337efd-9b27-454c-b2a5-dcfea56920d9",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T03:45:09.27Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-d9337efd-9b27-454c-b2a5-dcfea56920d9",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-d9337efd-9b27-454c-b2a5-dcfea56920d9.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T06:20:31.863Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T02:34:36.447Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-ad5ae732-abea-4e62-9de0-c90de0ddec0a",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-ad5ae732-abea-4e62-9de0-c90de0ddec0a.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T06:15:31.607Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-d447fb03-c7da-40fe-b5eb-14f36888837b",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-d447fb03-c7da-40fe-b5eb-14f36888837b",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T00:53:46.697Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-d447fb03-c7da-40fe-b5eb-14f36888837b",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-d447fb03-c7da-40fe-b5eb-14f36888837b.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T11:09:41.26Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "ReproSB",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/ReproSB",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2017-02-27T19:29:34.523Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:reprosb",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://ReproSB.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-27T19:29:58.64Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-4c90097f-19a8-42e7-bb3c-4ac088994719",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-4c90097f-19a8-42e7-bb3c-4ac088994719",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T17:35:32.61Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-4c90097f-19a8-42e7-bb3c-4ac088994719",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-4c90097f-19a8-42e7-bb3c-4ac088994719.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T09:13:52.27Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "rrama-1-23-17",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-1-23-17",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2017-01-23T22:54:40.907Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-1-23-17",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://rrama-1-23-17.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-04T00:53:28.777Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T17:43:25.71Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-5191e541-8e4e-4229-9fdc-b89f6c3e7f12",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-5191e541-8e4e-4229-9fdc-b89f6c3e7f12.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T11:05:31.89Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-be903820-3533-46e8-90e4-72c132411848",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-be903820-3533-46e8-90e4-72c132411848",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T03:24:01.923Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-be903820-3533-46e8-90e4-72c132411848",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-be903820-3533-46e8-90e4-72c132411848.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T10:09:42.513Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "rrama-namespace1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-namespace1",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T00:47:22.963Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-namespace1",
                        "provisioningState": "Created",
                        "serviceBusEndpoint": "https://rrama-namespace1.servicebus.windows-int.net:443/",
                        "updatedAt": "2016-08-05T00:47:27.297Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T00:38:02.517Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-a3c38e9b-32a3-4c51-85d7-263150a8dda9",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-a3c38e9b-32a3-4c51-85d7-263150a8dda9.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T05:03:55.96Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-23T03:42:40.01Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-70d3fa25-6bbe-4a6b-a381-a52cf0d539e6.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T06:33:02.363Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T04:28:10.71Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-e6536f77-0d1b-4a6b-8f42-29cc15b2930a",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-e6536f77-0d1b-4a6b-8f42-29cc15b2930a.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T08:43:51.587Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "sdk-Namespace-2924",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2017-05-25T22:26:36.76Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-05-25T22:26:59.35Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {
                        "tag1": "value1",
                        "tag2": "value2"
                      }
                    },
                    {
                      "name": "rrama-sb1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/rrama-sb1",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2017-05-01T21:47:34.903Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:rrama-sb1",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://rrama-sb1.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-05-02T02:10:03.083Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "WhackWhack",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/RapscallionResources/providers/Microsoft.ServiceBus/namespaces/WhackWhack",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-10-10T23:39:01.347Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:whackwhack",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://WhackWhack.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-04T00:56:32.687Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-09-16T17:51:27.73Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-66ed32d6-611e-4bb0-8e1a-a6d0fc65427c.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T08:19:43.383Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2016-08-05T01:14:25.613Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:ns-e0cab401-6df8-465d-8d4a-da9a9e55cf0e",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://NS-e0cab401-6df8-465d-8d4a-da9a9e55cf0e.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-02-11T12:33:01.727Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "bn3-rrama-foo1",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo1",
                      "location": "East US 2",
                      "properties": {
                        "createdAt": "2017-04-28T23:54:26.927Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo1",
                        "provisioningState": "Created",
                        "serviceBusEndpoint": "https://bn3-rrama-foo1.servicebus.int7.windows-int.net:443/",
                        "updatedAt": "2017-04-28T23:54:26.927Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "bn3-rrama-foo3",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo3",
                      "location": "East US 2",
                      "properties": {
                        "createdAt": "2017-04-29T00:24:09.907Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo3",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://bn3-rrama-foo3.servicebus.int7.windows-int.net:443/",
                        "updatedAt": "2017-04-29T00:24:33.233Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "bn3-rrama-foo2",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/bn3-rrama-foo2",
                      "location": "East US 2",
                      "properties": {
                        "createdAt": "2017-04-28T23:57:40.82Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:bn3-rrama-foo2",
                        "provisioningState": "Created",
                        "serviceBusEndpoint": "https://bn3-rrama-foo2.servicebus.int7.windows-int.net:443/",
                        "updatedAt": "2017-04-28T23:57:40.82Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    },
                    {
                      "name": "db3-rrama-foo2",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/Default-ServiceBus-SouthCentralUS/providers/Microsoft.ServiceBus/namespaces/db3-rrama-foo2",
                      "location": "North Europe",
                      "properties": {
                        "createdAt": "2017-04-29T00:10:43.463Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:db3-rrama-foo2",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://db3-rrama-foo2.servicebus.int7.windows-int.net:443/",
                        "updatedAt": "2017-04-29T00:11:09.133Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {}
                    }
                  ]
                }
              }
            },
            "operationId": "Namespaces_List",
            "title": "NameSpaceList"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces": {
      "get": {
        "operationId": "Namespaces_ListByResourceGroup",
        "tags": [
          "SBNamespaces"
        ],
        "description": "Gets the available namespaces within a resource group.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639412.aspx"
        },
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/1"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90,
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SBNamespaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceListByResourceGroup": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "resourceGroupName": "ArunMonocle",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "value": [
                    {
                      "name": "sdk-Namespace-2924",
                      "type": "Microsoft.ServiceBus/Namespaces",
                      "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
                      "location": "South Central US",
                      "properties": {
                        "createdAt": "2017-05-25T22:26:36.76Z",
                        "disableLocalAuth": false,
                        "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
                        "provisioningState": "Succeeded",
                        "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/",
                        "updatedAt": "2017-05-25T22:26:59.35Z"
                      },
                      "sku": {
                        "name": "Standard",
                        "tier": "Standard"
                      },
                      "tags": {
                        "tag1": "value1",
                        "tag2": "value2"
                      }
                    }
                  ]
                }
              }
            },
            "operationId": "Namespaces_ListByResourceGroup",
            "title": "NameSpaceListByResourceGroup"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}": {
      "get": {
        "operationId": "Namespaces_Get",
        "tags": [
          "SBNamespaces"
        ],
        "description": "Gets a description for the specified namespace.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639379.aspx"
        },
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SBNamespace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceGet": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "sdk-Namespace-2924",
              "resourceGroupName": "ArunMonocle",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "sdk-Namespace-2924",
                  "type": "Microsoft.ServiceBus/Namespaces",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-05-25T22:26:36.76Z",
                    "disableLocalAuth": false,
                    "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
                    "minimumTlsVersion": "1.2",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "privateEndpointConnections": [
                      {
                        "name": "privateEndpointConnectionName",
                        "type": "Microsoft.EventHub/Namespaces/PrivateEndpointConnections",
                        "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ResurceGroupSample/providers/Microsoft.EventHub/namespaces/NamespaceSample/privateEndpointConnections/privateEndpointConnectionName",
                        "properties": {
                          "privateEndpoint": {
                            "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ResurceGroupSample/providers/Microsoft.Network/privateEndpoints/NamespaceSample"
                          },
                          "privateLinkServiceConnectionState": {
                            "description": "Auto-Approved",
                            "status": "Approved"
                          },
                          "provisioningState": "Succeeded"
                        }
                      }
                    ],
                    "provisioningState": "Succeeded",
                    "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/",
                    "updatedAt": "2017-05-25T22:26:59.35Z"
                  },
                  "sku": {
                    "name": "Standard",
                    "tier": "Standard"
                  },
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  }
                }
              }
            },
            "operationId": "Namespaces_Get",
            "title": "NameSpaceGet"
          }
        }
      },
      "put": {
        "operationId": "Namespaces_CreateOrUpdate",
        "tags": [
          "SBNamespaces"
        ],
        "description": "Creates or updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639408.aspx"
        },
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to create a namespace resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SBNamespace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SBNamespace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SBNamespace"
            }
          },
          "201": {
            "description": "Resource 'SBNamespace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SBNamespace"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceCreate": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "sdk-Namespace2924",
              "parameters": {
                "location": "South Central US",
                "properties": {
                  "geoDataReplication": {
                    "locations": [
                      {
                        "locationName": "eastus",
                        "roleType": "Primary"
                      },
                      {
                        "locationName": "southcentralus",
                        "roleType": "Secondary"
                      }
                    ],
                    "maxReplicationLagDurationInSeconds": 300
                  },
                  "premiumMessagingPartitions": 2
                },
                "sku": {
                  "name": "Premium",
                  "capacity": 4,
                  "tier": "Premium"
                },
                "tags": {
                  "tag1": "value1",
                  "tag2": "value2"
                }
              },
              "resourceGroupName": "ArunMonocle",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "sdk-Namespace-2924",
                  "type": "Microsoft.ServiceBus/Namespaces",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-05-25T22:26:36.76Z",
                    "geoDataReplication": {
                      "locations": [
                        {
                          "locationName": "eastus",
                          "roleType": "Primary"
                        },
                        {
                          "locationName": "southcentralus",
                          "roleType": "Secondary"
                        }
                      ],
                      "maxReplicationLagDurationInSeconds": 300
                    },
                    "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
                    "minimumTlsVersion": "1.2",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "premiumMessagingPartitions": 2,
                    "provisioningState": "Created",
                    "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/",
                    "updatedAt": "2017-05-25T22:26:36.76Z"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 4,
                    "tier": "Premium"
                  },
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  }
                }
              },
              "201": {
                "body": {
                  "name": "sdk-Namespace-2924",
                  "type": "Microsoft.ServiceBus/Namespaces",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-2924",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-05-25T22:26:36.76Z",
                    "disableLocalAuth": false,
                    "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-2924",
                    "minimumTlsVersion": "1.2",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "premiumMessagingPartitions": 2,
                    "provisioningState": "Created",
                    "serviceBusEndpoint": "https://sdk-Namespace-2924.servicebus.windows-int.net:443/",
                    "updatedAt": "2017-05-25T22:26:36.76Z"
                  },
                  "sku": {
                    "name": "Premium",
                    "capacity": 4,
                    "tier": "Premium"
                  },
                  "tags": {
                    "tag1": "value1",
                    "tag2": "value2"
                  }
                }
              },
              "202": {}
            },
            "operationId": "Namespaces_CreateOrUpdate",
            "title": "NameSpaceCreate"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/SBNamespace"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Namespaces_Update",
        "tags": [
          "SBNamespaces"
        ],
        "description": "Updates a service namespace. Once created, this namespace's resource manifest is immutable. This operation is idempotent.",
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update a namespace resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SBNamespaceUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SBNamespace"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceUpdate": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "sdk-Namespace-3285",
              "parameters": {
                "location": "South Central US",
                "tags": {
                  "tag3": "value3",
                  "tag4": "value4"
                }
              },
              "resourceGroupName": "ArunMonocle",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "sdk-Namespace-3285",
                  "type": "Microsoft.ServiceBus/Namespaces",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-3285",
                  "location": "South Central US",
                  "properties": {
                    "createdAt": "2017-05-25T23:07:58.17Z",
                    "disableLocalAuth": false,
                    "metricId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4:sdk-namespace-3285",
                    "minimumTlsVersion": "1.1",
                    "platformCapabilities": {
                      "confidentialCompute": {
                        "mode": "Disabled"
                      }
                    },
                    "provisioningState": "Updating",
                    "serviceBusEndpoint": "https://sdk-Namespace-3285.servicebus.windows-int.net:443/",
                    "updatedAt": "2017-05-25T23:08:45.497Z"
                  },
                  "sku": {
                    "name": "Standard",
                    "tier": "Standard"
                  },
                  "tags": {
                    "tag3": "value3",
                    "tag4": "value4"
                  }
                }
              },
              "202": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status",
                  "Location": "https://management.azure.com/subscriptions/SampleSubscription/resourceGroups/ResurceGroupSample/providers/Microsoft.ServiceBus/namespaces/NamespaceSample?api-version=2025-05-01-preview"
                }
              }
            },
            "operationId": "Namespaces_Update",
            "title": "NameSpaceUpdate"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/SBNamespace"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Namespaces_Delete",
        "tags": [
          "SBNamespaces"
        ],
        "description": "Deletes an existing namespace. This operation also removes all associated resources under the namespace.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639389.aspx"
        },
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceDelete": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "namespaceName": "sdk-Namespace-3285",
              "resourceGroupName": "ArunMonocle",
              "subscriptionId": "00000000-0000-0000-0000-000000000000"
            },
            "responses": {
              "200": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              },
              "202": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              },
              "204": {
                "headers": {
                  "azure-asyncoperation": "http://azure.async.operation/status"
                }
              }
            },
            "operationId": "Namespaces_Delete",
            "title": "NameSpaceDelete"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceBus/namespaces/{namespaceName}/AuthorizationRules/{authorizationRuleName}": {
      "get": {
        "operationId": "Namespaces_GetAuthorizationRule",
        "tags": [
          "SBAuthorizationRules"
        ],
        "description": "Gets an authorization rule for a namespace by rule name.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639392.aspx"
        },
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The namespace name",
            "required": true,
            "type": "string",
            "minLength": 6,
            "maxLength": 50
          },
          {
            "name": "authorizationRuleName",
            "in": "path",
            "description": "The authorization rule name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SBAuthorizationRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NameSpaceAuthorizationRuleGet": {
            "parameters": {
              "api-version": "2025-05-01-preview",
              "authorizationRuleName": "sdk-AuthRules-1788",
              "namespaceName": "sdk-Namespace-6914",
              "resourceGroupName": "ArunMonocle",
              "subscriptionId": "5f750a97-50d9-4e36-8081-c9ee4c0210d4"
            },
            "responses": {
              "200": {
                "body": {
                  "name": "sdk-AuthRules-1788",
                  "type": "Microsoft.ServiceBus/Namespaces/AuthorizationRules",
                  "id": "/subscriptions/5f750a97-50d9-4e36-8081-c9ee4c0210d4/resourceGroups/ArunMonocle/providers/Microsoft.ServiceBus/namespaces/sdk-Namespace-6914/AuthorizationRules/sdk-AuthRules-1788",
                  "properties": {
                    "rights": [
                      "Listen",
                      "Send"
                    ]
                  }
                }
              }
            },
            "operationId": "Namespaces_GetAuthorizationRule",
            "title": "NameSpaceAuthorizationRuleGet"
          }
        }
      },
      "put": {
        "operationId": "Namespaces_CreateOrUpdateAuthorizationRule",
        "tags": [
          "SBAuthorizationRules"
        ],
        "description": "Creates or updates an authorization rule for a namespace.",
        "externalDocs": {
          "url": "https://msdn.microsoft.com/en-us/library/azure/mt639410.aspx"
        },
        "parameters": [
          {
            "$ref": "#/paths/~1providers~1Microsoft.ServiceBus~1operations/get/parameters/0"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/1"
          },
          {
            "$ref": "#/paths/~1subscriptions~1%7BsubscriptionId%7D~1resourceGroups~1%7BresourceGroupName%7D~1providers~1Microsoft.ServiceBus~1namespaces/get/parameters/2"
          },
          {
            "name": "namespaceName",
            "in": "path",
            "description": "The namespace name",
            "required": true,
            "type": "string",
[...]
