{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationClient",
    "version": "2023-12-01-preview",
    "description": "ARM applications",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "PortalRegistryPackages"
    },
    {
      "name": "Operations"
    },
    {
      "name": "Applications"
    },
    {
      "name": "ApplicationDefinitions"
    },
    {
      "name": "JitRequests"
    }
  ],
  "paths": {
    "/{applicationId}": {
      "get": {
        "operationId": "Applications_GetById",
        "tags": [
          "Applications"
        ],
        "description": "Gets the managed application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "The ID of the managed application.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the managed application": {
            "$ref": "./examples/getApplicationById.json"
          }
        }
      },
      "put": {
        "operationId": "Applications_CreateOrUpdateById",
        "tags": [
          "Applications"
        ],
        "description": "Creates or updates a managed application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "The ID of the managed application.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to create or update a managed application.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Azure create operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates a managed application": {
            "$ref": "./examples/createOrUpdateApplicationById.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Application"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Applications_UpdateById",
        "tags": [
          "Applications"
        ],
        "description": "Updates an existing managed application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "The ID of the managed application.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update an existing managed application.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationPatchable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates an existing managed application": {
            "$ref": "./examples/updateApplicationById.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Application"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Applications_DeleteById",
        "tags": [
          "Applications"
        ],
        "description": "Deletes the managed application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "applicationId",
            "in": "path",
            "description": "The ID of the managed application.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes the managed application": {
            "$ref": "./examples/deleteApplicationById.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Solutions/operations": {
      "get": {
        "operationId": "ListOperations",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Solutions operations": {
            "$ref": "./examples/listSolutionsOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Solutions/portalRegistryPackage": {
      "post": {
        "operationId": "PortalRegistryPackage",
        "tags": [
          "PortalRegistryPackages"
        ],
        "description": "Generates the registry package links for Managed Applications and Solution Templates.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegistryPackagePlan"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/RegistryPackage"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generates a registry package": {
            "$ref": "./examples/portalRegistryPackage.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applicationDefinitions": {
      "get": {
        "operationId": "ApplicationDefinitions_ListBySubscription",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Lists all the application definitions within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all the application definitions within a subscription": {
            "$ref": "./examples/listApplicationDefinitionsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/applications": {
      "get": {
        "operationId": "Applications_ListBySubscription",
        "tags": [
          "Applications"
        ],
        "description": "Lists all the applications within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all the applications within a subscription": {
            "$ref": "./examples/listApplicationsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Solutions/jitRequests": {
      "get": {
        "operationId": "jitRequests_ListBySubscription",
        "tags": [
          "JitRequests"
        ],
        "description": "Lists all JIT requests within the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JitRequestDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all JIT requests within the subscription": {
            "$ref": "./examples/listJitRequestsByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions": {
      "get": {
        "operationId": "ApplicationDefinitions_ListByResourceGroup",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Lists the managed application definitions in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists the managed application definitions in a resource group": {
            "$ref": "./examples/listApplicationDefinitionsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}": {
      "get": {
        "operationId": "ApplicationDefinitions_Get",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Gets the managed application definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "description": "The name of the managed application definition.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get managed application definition": {
            "$ref": "./examples/getApplicationDefinition.json"
          }
        }
      },
      "put": {
        "operationId": "ApplicationDefinitions_CreateOrUpdate",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Creates or updates a managed application definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "description": "The name of the managed application definition.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update an managed application definition.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApplicationDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "201": {
            "description": "Resource 'ApplicationDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update managed application definition": {
            "$ref": "./examples/createOrUpdateApplicationDefinition.json"
          }
        }
      },
      "patch": {
        "operationId": "ApplicationDefinitions_Update",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Updates the managed application definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "description": "The name of the managed application definition.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the update a managed application definition.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationDefinitionPatchable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update managed application definition": {
            "$ref": "./examples/updateApplicationDefinition.json"
          }
        }
      },
      "delete": {
        "operationId": "ApplicationDefinitions_Delete",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Deletes the managed application definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "description": "The name of the managed application definition.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "delete managed application definition": {
            "$ref": "./examples/deleteApplicationDefinition.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications": {
      "get": {
        "operationId": "Applications_ListByResourceGroup",
        "tags": [
          "Applications"
        ],
        "description": "Lists all the applications within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all the applications within a resource group": {
            "$ref": "./examples/listApplicationsByResourceGroup1.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}": {
      "get": {
        "operationId": "Applications_Get",
        "tags": [
          "Applications"
        ],
        "description": "Gets the managed application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the managed application.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a managed application": {
            "$ref": "./examples/getApplication.json"
          }
        }
      },
      "put": {
        "operationId": "Applications_CreateOrUpdate",
        "tags": [
          "Applications"
        ],
        "description": "Creates or updates a managed application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the managed application.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the create or update a managed application.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Application' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Resource 'Application' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update managed application": {
            "$ref": "./examples/createOrUpdateApplication.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Application"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Applications_Update",
        "tags": [
          "Applications"
        ],
        "description": "Updates an existing managed application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the managed application.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to update an existing managed application.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationPatchable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates managed application": {
            "$ref": "./examples/updateApplication.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/Application"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Applications_Delete",
        "tags": [
          "Applications"
        ],
        "description": "Deletes the managed application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the managed application.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete managed application": {
            "$ref": "./examples/deleteApplication.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/listAllowedUpgradePlans": {
      "post": {
        "operationId": "Applications_ListAllowedUpgradePlans",
        "tags": [
          "Applications"
        ],
        "description": "List allowed upgrade plans for application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the managed application.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AllowedUpgradePlansResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List allowed upgrade plans for application": {
            "$ref": "./examples/listAllowedUpgradePlans.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/listTokens": {
      "post": {
        "operationId": "Applications_ListTokens",
        "tags": [
          "Applications"
        ],
        "description": "List tokens for application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the managed application.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body parameters to list tokens.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedIdentityTokenResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List tokens for application": {
            "$ref": "./examples/listToken.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/refreshPermissions": {
      "post": {
        "operationId": "Applications_RefreshPermissions",
        "tags": [
          "Applications"
        ],
        "description": "Refresh Permissions for application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the managed application.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Refresh managed application permissions": {
            "$ref": "./examples/refreshApplicationPermissions.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applications/{applicationName}/updateAccess": {
      "post": {
        "operationId": "Applications_UpdateAccess",
        "tags": [
          "Applications"
        ],
        "description": "Update access for application.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the managed application.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body parameters to update access.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateAccessDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "schema": {
              "$ref": "#/definitions/UpdateAccessDefinition"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update access for application": {
            "$ref": "./examples/updateAccess.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/UpdateAccessDefinition"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests": {
      "get": {
        "operationId": "jitRequests_ListByResourceGroup",
        "tags": [
          "JitRequests"
        ],
        "description": "Lists all JIT requests within the resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JitRequestDefinitionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all JIT requests within the resource group": {
            "$ref": "./examples/listJitRequestsByResourceGroup1.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/jitRequests/{jitRequestName}": {
      "get": {
        "operationId": "JitRequests_Get",
        "tags": [
          "JitRequests"
        ],
        "description": "Gets the JIT request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jitRequestName",
            "in": "path",
            "description": "The name of the JIT request.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JitRequestDefinition"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the jit request": {
            "$ref": "./examples/getJitRequest.json"
          }
        }
      },
      "put": {
        "operationId": "jitRequests_CreateOrUpdate",
        "tags": [
          "JitRequests"
        ],
        "description": "Creates or updates the JIT request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jitRequestName",
            "in": "path",
            "description": "The name of the JIT request.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 10
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the update JIT request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JitRequestDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'JitRequestDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/JitRequestDefinition"
            }
          },
          "201": {
            "description": "Resource 'JitRequestDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/JitRequestDefinition"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update jit request": {
            "$ref": "./examples/createOrUpdateJitRequest.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/JitRequestDefinition"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "JitRequests_Update",
        "tags": [
          "JitRequests"
        ],
        "description": "Updates the JIT request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jitRequestName",
            "in": "path",
            "description": "The name of the JIT request.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 10
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the update JIT request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JitRequestPatchable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/JitRequestDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update jit request": {
            "$ref": "./examples/updateJitRequest.json"
          }
        }
      },
      "delete": {
        "operationId": "jitRequests_Delete",
        "tags": [
          "JitRequests"
        ],
        "description": "Deletes the JIT request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "jitRequestName",
            "in": "path",
            "description": "The name of the JIT request.",
            "required": true,
            "type": "string",
            "minLength": 2,
            "maxLength": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete jit request": {
            "$ref": "./examples/deleteJitRequest.json"
          }
        }
      }
    }
  },
  "x-ms-paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy": {
      "get": {
        "operationId": "ApplicationDefinitions_GetById",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Gets the managed application definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "description": "The name of the managed application definition.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get managed application definition": {
            "$ref": "./examples/getApplicationDefinition1.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy&_overload=createOrUpdateById": {
      "put": {
        "operationId": "ApplicationDefinitions_CreateOrUpdateById",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Creates or updates a managed application definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "description": "The name of the managed application definition.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ApplicationDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "201": {
            "description": "Resource 'ApplicationDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update managed application definition": {
            "$ref": "./examples/createOrUpdateApplicationDefinition1.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy&_overload=deleteById": {
      "delete": {
        "operationId": "ApplicationDefinitions_DeleteById",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Deletes the managed application definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "description": "The name of the managed application definition.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "delete managed application definition": {
            "$ref": "./examples/deleteApplicationDefinition1.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Solutions/applicationDefinitions/{applicationDefinitionName}?disambiguation_dummy&_overload=updateById": {
      "patch": {
        "operationId": "ApplicationDefinitions_UpdateById",
        "tags": [
          "ApplicationDefinitions"
        ],
        "description": "Updates the managed application definition.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "applicationDefinitionName",
            "in": "path",
            "description": "The name of the managed application definition.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationDefinitionPatchable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update managed application definition": {
            "$ref": "./examples/updateApplicationDefinition1.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AllowedUpgradePlansResult": {
      "type": "object",
      "description": "The array of plan.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The array of plans.",
          "items": {
            "$ref": "#/definitions/Plan"
          }
        }
      }
    },
    "Application": {
      "type": "object",
      "description": "Information about managed application.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The managed application properties.",
          "x-ms-client-flatten": true
        },
        "plan": {
          "$ref": "#/definitions/Plan",
          "description": "The plan information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        }
      },
      "required": [
        "properties",
        "kind"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ]
    },
    "ApplicationArtifact": {
      "type": "object",
      "description": "Managed application artifact.",
      "properties": {
        "name": {
          "$ref": "#/definitions/ApplicationArtifactName",
          "description": "The managed application artifact name."
        },
        "uri": {
          "type": "string",
          "description": "The managed application artifact blob uri."
        },
        "type": {
          "$ref": "#/definitions/ApplicationArtifactType",
          "description": "The managed application artifact type."
        }
      },
      "required": [
        "name",
        "uri",
        "type"
      ]
    },
    "ApplicationArtifactName": {
      "type": "string",
      "description": "The managed application artifact name.",
      "enum": [
        "NotSpecified",
        "ViewDefinition",
        "Authorizations",
        "CustomRoleDefinition"
      ],
      "x-ms-enum": {
        "name": "ApplicationArtifactName",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "ViewDefinition",
            "value": "ViewDefinition",
            "description": "ViewDefinition"
          },
          {
            "name": "Authorizations",
            "value": "Authorizations",
            "description": "Authorizations"
          },
          {
            "name": "CustomRoleDefinition",
            "value": "CustomRoleDefinition",
            "description": "CustomRoleDefinition"
          }
        ]
      }
    },
    "ApplicationArtifactType": {
      "type": "string",
      "description": "The managed application artifact type.",
      "enum": [
        "NotSpecified",
        "Template",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "ApplicationArtifactType",
        "modelAsString": false,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "Template",
            "value": "Template",
            "description": "Template"
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "Custom"
          }
        ]
      }
    },
    "ApplicationAuthorization": {
      "type": "object",
      "description": "The managed application provider authorization.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The provider's principal identifier. This is the identity that the provider will use to call ARM to manage the managed application resources."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The provider's role definition identifier. This role will define all the permissions that the provider must have on the managed application's container resource group. This role definition cannot have permission to delete the resource group."
        }
      },
      "required": [
        "principalId",
        "roleDefinitionId"
      ]
    },
    "ApplicationBillingDetailsDefinition": {
      "type": "object",
      "description": "Managed application billing details definition.",
      "properties": {
        "resourceUsageId": {
          "type": "string",
          "description": "The managed application resource usage Id."
        }
      }
    },
    "ApplicationClientDetails": {
      "type": "object",
      "description": "The application client details to track the entity creating/updating the managed app resource.",
      "properties": {
        "oid": {
          "type": "string",
          "description": "The client Oid."
        },
        "puid": {
          "type": "string",
          "description": "The client Puid"
        },
        "applicationId": {
          "type": "string",
          "description": "The client application Id."
        }
      }
    },
    "ApplicationDefinition": {
      "type": "object",
      "description": "Information about managed application definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationDefinitionProperties",
          "description": "The managed application definition properties.",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ]
    },
    "ApplicationDefinitionArtifact": {
      "type": "object",
      "description": "Application definition artifact.",
      "properties": {
        "name": {
          "$ref": "#/definitions/ApplicationDefinitionArtifactName",
          "description": "The managed application definition artifact name."
        },
        "uri": {
          "type": "string",
          "description": "The managed application definition artifact blob uri."
        },
        "type": {
          "$ref": "#/definitions/ApplicationArtifactType",
          "description": "The managed application definition artifact type."
        }
      },
      "required": [
        "name",
        "uri",
        "type"
      ]
    },
    "ApplicationDefinitionArtifactName": {
      "type": "string",
      "description": "The managed application artifact name.",
      "enum": [
        "NotSpecified",
        "ApplicationResourceTemplate",
        "CreateUiDefinition",
        "MainTemplateParameters"
      ],
      "x-ms-enum": {
        "name": "ApplicationDefinitionArtifactName",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "ApplicationResourceTemplate",
            "value": "ApplicationResourceTemplate",
            "description": "ApplicationResourceTemplate"
          },
          {
            "name": "CreateUiDefinition",
            "value": "CreateUiDefinition",
            "description": "CreateUiDefinition"
          },
          {
            "name": "MainTemplateParameters",
            "value": "MainTemplateParameters",
            "description": "MainTemplateParameters"
          }
        ]
      }
    },
    "ApplicationDefinitionListResult": {
      "type": "object",
      "description": "The response of a ApplicationDefinition list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ApplicationDefinition items on this page",
          "items": {
            "$ref": "#/definitions/ApplicationDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplicationDefinitionPatchable": {
      "type": "object",
      "description": "Information about an application definition request.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Application definition tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationDefinitionProperties": {
      "type": "object",
      "description": "The managed application definition properties.",
      "properties": {
        "lockLevel": {
          "$ref": "#/definitions/ApplicationLockLevel",
          "description": "The managed application lock level."
        },
        "displayName": {
          "type": "string",
          "description": "The managed application definition display name."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "A value indicating whether the package is enabled or not."
        },
        "authorizations": {
          "type": "array",
          "description": "The managed application provider authorizations.",
          "items": {
            "$ref": "#/definitions/ApplicationAuthorization"
          },
          "x-ms-identifiers": [
            "principalId",
            "roleDefinitionId"
          ]
        },
        "artifacts": {
          "type": "array",
          "description": "The collection of managed application artifacts. The portal will use the files specified as artifacts to construct the user experience of creating a managed application from a managed application definition.",
          "items": {
            "$ref": "#/definitions/ApplicationDefinitionArtifact"
          },
          "x-ms-identifiers": [
            "name",
            "uri"
          ]
        },
        "description": {
          "type": "string",
          "description": "The managed application definition description."
        },
        "packageFileUri": {
          "type": "string",
          "description": "The managed application definition package file Uri. Use this element"
        },
        "storageAccountId": {
          "type": "string",
          "description": "The storage account id for bring your own storage scenario."
        },
        "mainTemplate": {
          "description": "The inline main template json which has resources to be provisioned. It can be a JObject or well-formed JSON string."
        },
        "createUiDefinition": {
          "description": "The createUiDefinition json for the backing template with Microsoft.Solutions/applications resource. It can be a JObject or well-formed JSON string."
        },
        "notificationPolicy": {
          "$ref": "#/definitions/ApplicationNotificationPolicy",
          "description": "The managed application notification policy."
        },
        "lockingPolicy": {
          "$ref": "#/definitions/ApplicationPackageLockingPolicyDefinition",
          "description": "The managed application locking policy."
        },
        "deploymentPolicy": {
          "$ref": "#/definitions/ApplicationDeploymentPolicy",
          "description": "The managed application deployment policy."
        },
        "managementPolicy": {
          "$ref": "#/definitions/ApplicationManagementPolicy",
          "description": "The managed application management policy that determines publisher's access to the managed resource group."
        },
        "policies": {
          "type": "array",
          "description": "The managed application provider policies.",
          "items": {
            "$ref": "#/definitions/ApplicationPolicy"
          },
          "x-ms-identifiers": [
            "name",
            "policyDefinitionId"
          ]
        }
      },
      "required": [
        "lockLevel"
      ]
    },
    "ApplicationDeploymentPolicy": {
      "type": "object",
      "description": "Managed application deployment policy.",
      "properties": {
        "deploymentMode": {
          "$ref": "#/definitions/DeploymentMode",
          "description": "The managed application deployment mode."
        }
      },
      "required": [
        "deploymentMode"
      ]
    },
    "ApplicationJitAccessPolicy": {
      "type": "object",
      "description": "Managed application Jit access policy.",
      "properties": {
        "jitAccessEnabled": {
          "type": "boolean",
          "description": "Whether the JIT access is enabled."
        },
        "jitApprovalMode": {
          "$ref": "#/definitions/JitApprovalMode",
          "description": "JIT approval mode."
        },
        "jitApprovers": {
          "type": "array",
          "description": "The JIT approvers",
          "items": {
            "$ref": "#/definitions/JitApproverDefinition"
          }
        },
        "maximumJitAccessDuration": {
          "type": "string",
          "description": "The maximum duration JIT access is granted. This is an ISO8601 time period value."
        }
      },
      "required": [
        "jitAccessEnabled"
      ]
    },
    "ApplicationListResult": {
      "type": "object",
      "description": "The response of a Application list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Application items on this page",
          "items": {
            "$ref": "#/definitions/Application"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplicationLockLevel": {
      "type": "string",
      "description": "The managed application lock level.",
      "enum": [
        "CanNotDelete",
        "ReadOnly",
        "None"
      ],
      "x-ms-enum": {
        "name": "ApplicationLockLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "CanNotDelete",
            "value": "CanNotDelete",
            "description": "CanNotDelete"
          },
          {
            "name": "ReadOnly",
            "value": "ReadOnly",
            "description": "ReadOnly"
          },
          {
            "name": "None",
            "value": "None",
            "description": "None"
          }
        ]
      }
    },
    "ApplicationManagementMode": {
      "type": "string",
      "description": "The management mode.",
      "enum": [
        "NotSpecified",
        "Unmanaged",
        "Managed"
      ],
      "x-ms-enum": {
        "name": "ApplicationManagementMode",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "Unmanaged",
            "value": "Unmanaged",
            "description": "Unmanaged"
          },
          {
            "name": "Managed",
            "value": "Managed",
            "description": "Managed"
          }
        ]
      }
    },
    "ApplicationManagementPolicy": {
      "type": "object",
      "description": "Managed application management policy.",
      "properties": {
        "mode": {
          "$ref": "#/definitions/ApplicationManagementMode",
          "description": "The managed application management mode."
        }
      }
    },
    "ApplicationNotificationEndpoint": {
      "type": "object",
      "description": "Managed application notification endpoint.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The managed application notification endpoint uri."
        }
      },
      "required": [
        "uri"
      ]
    },
    "ApplicationNotificationPolicy": {
      "type": "object",
      "description": "Managed application notification policy.",
      "properties": {
        "notificationEndpoints": {
          "type": "array",
          "description": "The managed application notification endpoint.",
          "items": {
            "$ref": "#/definitions/ApplicationNotificationEndpoint"
          },
          "x-ms-identifiers": [
            "uri"
          ]
        }
      },
      "required": [
        "notificationEndpoints"
      ]
    },
    "ApplicationPackageContact": {
      "type": "object",
      "description": "The application package contact information.",
      "properties": {
        "contactName": {
          "type": "string",
          "description": "The contact name."
        },
        "email": {
          "type": "string",
          "description": "The contact email."
        },
        "phone": {
          "type": "string",
          "description": "The contact phone number."
        }
      },
      "required": [
        "email",
        "phone"
      ]
    },
    "ApplicationPackageLockingPolicyDefinition": {
      "type": "object",
      "description": "Managed application locking policy.",
      "properties": {
        "allowedActions": {
          "type": "array",
          "description": "The deny assignment excluded actions.",
          "items": {
            "type": "string"
          }
        },
        "allowedDataActions": {
          "type": "array",
          "description": "The deny assignment excluded data actions.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ApplicationPackageSupportUrls": {
      "type": "object",
      "description": "The appliance package support URLs.",
      "properties": {
        "publicAzure": {
          "type": "string",
          "description": "The public azure support URL."
        },
        "governmentCloud": {
          "type": "string",
          "description": "The government cloud support URL."
        }
      }
    },
    "ApplicationPatchable": {
      "type": "object",
      "description": "Information about managed application.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The managed application properties.",
          "x-ms-client-flatten": true
        },
        "plan": {
          "$ref": "#/definitions/PlanPatchable",
          "description": "The plan information."
        },
        "kind": {
          "type": "string",
          "description": "The kind of the managed application. Allowed values are MarketPlace and ServiceCatalog.",
          "pattern": "^[-\\w\\._,\\(\\)]+$"
        },
        "identity": {
          "$ref": "#/definitions/Identity",
          "description": "The identity of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/GenericResource"
        }
      ]
    },
    "ApplicationPolicy": {
      "type": "object",
      "description": "Managed application policy.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The policy name"
        },
        "policyDefinitionId": {
          "type": "string",
          "description": "The policy definition Id."
        },
        "parameters": {
          "type": "string",
          "description": "The policy parameters."
        }
      }
    },
    "ApplicationProperties": {
      "type": "object",
      "description": "The managed application properties.",
      "properties": {
        "managedResourceGroupId": {
          "type": "string",
          "description": "The managed resource group Id."
        },
        "applicationDefinitionId": {
          "type": "string",
          "description": "The fully qualified path of managed application definition Id."
        },
        "parameters": {
          "description": "Name and value pairs that define the managed application parameters. It can be a JObject or a well formed JSON string."
        },
        "outputs": {
          "description": "Name and value pairs that define the managed application outputs.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The managed application provisioning state.",
          "readOnly": true
        },
        "billingDetails": {
          "$ref": "#/definitions/ApplicationBillingDetailsDefinition",
          "description": "The managed application billing details.",
          "readOnly": true
        },
        "jitAccessPolicy": {
          "$ref": "#/definitions/ApplicationJitAccessPolicy",
          "description": "The managed application Jit access policy."
        },
        "publisherTenantId": {
          "type": "string",
          "description": "The publisher tenant Id.",
          "readOnly": true
        },
        "authorizations": {
          "type": "array",
          "description": "The  read-only authorizations property that is retrieved from the application package.",
          "items": {
            "$ref": "#/definitions/ApplicationAuthorization"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "principalId",
            "roleDefinitionId"
          ]
        },
        "managementMode": {
          "$ref": "#/definitions/ApplicationManagementMode",
          "description": "The managed application management mode.",
          "readOnly": true
        },
        "customerSupport": {
          "$ref": "#/definitions/ApplicationPackageContact",
          "description": "The read-only customer support property that is retrieved from the application package.",
          "readOnly": true
        },
        "supportUrls": {
          "$ref": "#/definitions/ApplicationPackageSupportUrls",
          "description": "The read-only support URLs property that is retrieved from the application package.",
          "readOnly": true
        },
        "artifacts": {
          "type": "array",
          "description": "The collection of managed application artifacts.",
          "items": {
            "$ref": "#/definitions/ApplicationArtifact"
          },
          "readOnly": true,
          "x-ms-identifiers": [
            "name",
            "uri"
          ]
        },
        "createdBy": {
          "$ref": "#/definitions/ApplicationClientDetails",
          "description": "The client entity that created the JIT request.",
          "readOnly": true
        },
        "updatedBy": {
          "$ref": "#/definitions/ApplicationClientDetails",
          "description": "The client entity that last updated the JIT request.",
          "readOnly": true
        }
      }
    },
    "DeploymentMode": {
      "type": "string",
      "description": "The deployment mode.",
      "enum": [
        "NotSpecified",
        "Incremental",
        "Complete"
      ],
      "x-ms-enum": {
        "name": "DeploymentMode",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "Incremental",
            "value": "Incremental",
            "description": "Incremental"
          },
          {
            "name": "Complete",
            "value": "Complete",
            "description": "Complete"
          }
        ]
      }
    },
    "GenericResource": {
      "type": "object",
      "description": "Resource information.",
      "properties": {
        "managedBy": {
          "type": "string",
          "description": "ID of the resource that manages this resource."
        },
        "sku": {
          "$ref": "#/definitions/Sku",
          "description": "The SKU of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Identity": {
      "type": "object",
      "description": "Identity for the resource.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of resource identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of resource.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/ResourceIdentityType",
          "description": "The identity type."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The list of user identities associated with the resource. The user identity dictionary key references will be resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'.",
          "additionalProperties": {
            "$ref": "#/definitions/userAssignedResourceIdentity"
          }
        }
      }
    },
    "JitApprovalMode": {
      "type": "string",
      "description": "The Jit approval mode.",
      "enum": [
        "NotSpecified",
        "AutoApprove",
        "ManualApprove"
      ],
      "x-ms-enum": {
        "name": "JitApprovalMode",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "AutoApprove",
            "value": "AutoApprove",
            "description": "AutoApprove"
          },
          {
            "name": "ManualApprove",
            "value": "ManualApprove",
            "description": "ManualApprove"
          }
        ]
      }
    },
    "JitApproverDefinition": {
      "type": "object",
      "description": "JIT approver definition.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The approver service principal Id."
        },
        "type": {
          "$ref": "#/definitions/JitApproverType",
          "description": "The approver type."
        },
        "displayName": {
          "type": "string",
          "description": "The approver display name."
        }
      },
      "required": [
        "id"
      ]
    },
    "JitApproverType": {
      "type": "string",
      "description": "The approver type.",
      "enum": [
        "user",
        "group"
      ],
      "x-ms-enum": {
        "name": "JitApproverType",
        "modelAsString": true,
        "values": [
          {
            "name": "user",
            "value": "user",
            "description": "user"
          },
          {
            "name": "group",
            "value": "group",
            "description": "group"
          }
        ]
      }
    },
    "JitAuthorizationPolicies": {
      "type": "object",
      "description": "The JIT authorization policies.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The the principal id that will be granted JIT access."
        },
        "roleDefinitionId": {
          "type": "string",
          "description": "The role definition id that will be granted to the Principal."
        }
      },
      "required": [
        "principalId",
        "roleDefinitionId"
      ]
    },
    "JitRequestDefinition": {
      "type": "object",
      "description": "Information about JIT request definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/JitRequestProperties",
          "description": "The JIT request properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "JitRequestDefinitionListResult": {
      "type": "object",
      "description": "The response of a JitRequestDefinition list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The JitRequestDefinition items on this page",
          "items": {
            "$ref": "#/definitions/JitRequestDefinition"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "JitRequestMetadata": {
      "type": "object",
      "description": "The JIT request metadata.",
      "properties": {
        "originRequestId": {
          "type": "string",
          "description": "The origin request id."
        },
        "requestorId": {
          "type": "string",
          "description": "The requestor id."
        },
        "tenantDisplayName": {
          "type": "string",
          "description": "The publisher's tenant name."
        },
        "subjectDisplayName": {
          "type": "string",
          "description": "The subject display name."
        }
      }
    },
    "JitRequestPatchable": {
      "type": "object",
      "description": "Information about JIT request.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Jit request tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "JitRequestProperties": {
      "type": "object",
      "description": "Information about JIT request properties",
      "properties": {
        "applicationResourceId": {
          "type": "string",
          "description": "The parent application id."
        },
        "publisherTenantId": {
          "type": "string",
          "description": "The publisher tenant id.",
          "readOnly": true
        },
        "jitAuthorizationPolicies": {
          "type": "array",
          "description": "The JIT authorization policies.",
          "items": {
            "$ref": "#/definitions/JitAuthorizationPolicies"
          },
          "x-ms-identifiers": [
            "principalId",
            "roleDefinitionId"
          ]
        },
        "jitSchedulingPolicy": {
          "$ref": "#/definitions/JitSchedulingPolicy",
          "description": "The JIT request properties."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The JIT request provisioning state.",
          "readOnly": true
        },
        "jitRequestState": {
          "$ref": "#/definitions/JitRequestState",
          "description": "The JIT request state.",
          "readOnly": true
        },
        "createdBy": {
          "$ref": "#/definitions/ApplicationClientDetails",
          "description": "The client entity that created the JIT request.",
          "readOnly": true
        },
        "updatedBy": {
          "$ref": "#/definitions/ApplicationClientDetails",
          "description": "The client entity that last updated the JIT request.",
          "readOnly": true
        }
      },
      "required": [
        "applicationResourceId",
        "jitAuthorizationPolicies",
        "jitSchedulingPolicy"
      ]
    },
    "JitRequestState": {
      "type": "string",
      "description": "The JIT request state.",
      "enum": [
        "NotSpecified",
        "Pending",
        "Approved",
        "Denied",
        "Failed",
        "Canceled",
        "Expired",
        "Timeout"
      ],
      "x-ms-enum": {
        "name": "JitRequestState",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Pending"
          },
          {
            "name": "Approved",
            "value": "Approved",
            "description": "Approved"
          },
          {
            "name": "Denied",
            "value": "Denied",
            "description": "Denied"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled"
          },
          {
            "name": "Expired",
            "value": "Expired",
            "description": "Expired"
          },
          {
            "name": "Timeout",
            "value": "Timeout",
            "description": "Timeout"
          }
        ]
      }
    },
    "JitSchedulingPolicy": {
      "type": "object",
      "description": "The JIT scheduling policies.",
      "properties": {
        "type": {
          "$ref": "#/definitions/JitSchedulingType",
          "description": "The type of JIT schedule."
        },
        "duration": {
          "type": "string",
          "format": "duration",
          "title": "The required duration of the JIT request.",
          "description": "The required duration of the JIT request."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "The start time of the request."
        }
      },
      "required": [
        "type",
        "duration",
        "startTime"
      ]
    },
    "JitSchedulingType": {
      "type": "string",
      "description": "The JIT request scheduling type.",
      "enum": [
        "NotSpecified",
        "Once",
        "Recurring"
      ],
      "x-ms-enum": {
        "name": "JitSchedulingType",
        "modelAsString": true,
        "values": [
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "NotSpecified"
          },
          {
            "name": "Once",
            "value": "Once",
            "description": "Once"
          },
          {
            "name": "Recurring",
            "value": "Recurring",
            "description": "Recurring"
          }
        ]
      }
    },
    "ListTokenRequest": {
      "type": "object",
      "description": "List token request body.",
      "properties": {
        "authorizationAudience": {
          "type": "string",
          "description": "The authorization audience."
        },
        "userAssignedIdentities": {
          "type": "array",
          "description": "The user assigned identities.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ManagedIdentityToken": {
      "type": "object",
      "description": "The managed identity token for the managed app resource.",
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The requested access token."
        },
        "expiresIn": {
          "type": "string",
          "description": "The number of seconds the access token will be valid."
        },
        "expiresOn": {
          "type": "string",
          "description": "The timespan when the access token expires. This is represented as the number of seconds from epoch."
        },
        "notBefore": {
          "type": "string",
          "description": "The timespan when the access token takes effect. This is represented as the number of seconds from epoch."
        },
        "authorizationAudience": {
          "type": "string",
          "description": "The aud (audience) the access token was request for. This is the same as what was provided in the listTokens request."
        },
        "resourceId": {
          "type": "string",
          "description": "The Azure resource ID for the issued token. This is either the managed application ID or the user-assigned identity ID."
        },
        "tokenType": {
          "type": "string",
          "description": "The type of the token."
        }
      }
    },
    "ManagedIdentityTokenResult": {
      "type": "object",
      "description": "The array of managed identity tokens.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The array of managed identity tokens.",
          "items": {
            "$ref": "#/definitions/ManagedIdentityToken"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "Plan": {
      "type": "object",
      "description": "Plan for the managed application.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan name."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher ID."
        },
        "product": {
          "type": "string",
          "description": "The product code."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "version": {
          "type": "string",
          "description": "The plan's version."
        }
      },
      "required": [
        "name",
        "publisher",
        "product",
        "version"
      ]
    },
    "PlanPatchable": {
      "type": "object",
      "description": "Plan for the managed application.",
[...]
