{
  "swagger": "2.0",
  "info": {
    "title": "Azure Communication Services Management API",
    "version": "2024-01-01-preview",
    "description": "REST API for Azure Communication Services Gccm"
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Communication/operations": {
      "get": {
        "description": "Lists all of the available REST API operations of the Microsoft.Communication provider.",
        "operationId": "Operations_List",
        "summary": "List Operations",
        "tags": [
          "Operations"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/communicationServicesGccm/operationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/checkNameAvailability": {
      "post": {
        "description": "Checks that the CommunicationService name is valid and is not already in use.",
        "operationId": "CommunicationServices_CheckNameAvailability",
        "summary": "Check Name Availability",
        "tags": [
          "CommunicationServices"
        ],
        "parameters": [
          {
            "name": "nameAvailabilityParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NameAvailabilityParameters"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the name availability.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Check name availability available": {
            "$ref": "./examples/communicationServicesGccm/checkNameAvailabilityAvailable.json"
          },
          "Check name availability unavailable": {
            "$ref": "./examples/communicationServicesGccm/checkNameAvailabilityUnavailable.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServicesGccm/{communicationServiceGccmName}/linkNotificationHub": {
      "post": {
        "description": "Links an Azure Notification Hub to this communication service.",
        "operationId": "CommunicationServicesGccm_LinkNotificationHub",
        "summary": "Link Notification Hub",
        "tags": [
          "CommunicationServicesGccm"
        ],
        "parameters": [
          {
            "name": "linkNotificationHubParameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/LinkNotificationHubParameters"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CommunicationServiceGccmName"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success. The notification hub has been linked.",
            "schema": {
              "$ref": "#/definitions/LinkedNotificationHub"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Link notification hub": {
            "$ref": "./examples/communicationServicesGccm/linkNotificationHub.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Communication/communicationServicesGccm": {
      "get": {
        "description": "Handles requests to list all resources in a subscription.",
        "operationId": "CommunicationServicesGccm_ListBySubscription",
        "summary": "List By Subscription",
        "tags": [
          "CommunicationServicesGccm"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of CommunicationServices in the subscription.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List by subscription": {
            "$ref": "./examples/communicationServicesGccm/listBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServicesGccm": {
      "get": {
        "description": "Handles requests to list all resources in a resource group.",
        "operationId": "CommunicationServicesGccm_ListByResourceGroup",
        "summary": "List By Resource Group",
        "tags": [
          "CommunicationServicesGccm"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of CommunicationServices in a resourceGroup.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "List by resource group": {
            "$ref": "./examples/communicationServicesGccm/listByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServicesGccm/{communicationServiceGccmName}": {
      "patch": {
        "description": "Operation to update an existing CommunicationService.",
        "operationId": "CommunicationServicesGccm_Update",
        "summary": "Update",
        "tags": [
          "CommunicationServicesGccm"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmResourceUpdate"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CommunicationServiceGccmName"
          }
        ],
        "responses": {
          "200": {
            "description": "The update request was successful",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Update resource": {
            "$ref": "./examples/communicationServicesGccm/update.json"
          },
          "Update resource to remove identity": {
            "$ref": "./examples/communicationServicesGccm/updateRemoveSystemIdentity.json"
          },
          "Update resource to add a System Assigned managed identity": {
            "$ref": "./examples/communicationServicesGccm/updateWithSystemAssignedIdentity.json"
          },
          "Update resource to add a User Assigned managed identity": {
            "$ref": "./examples/communicationServicesGccm/updateWithUserAssignedIdentity.json"
          },
          "Update resource to add System and User managed identities": {
            "$ref": "./examples/communicationServicesGccm/updateWithSystemAndUserIdentity.json"
          }
        }
      },
      "get": {
        "description": "Get the CommunicationService and its properties.",
        "operationId": "CommunicationServicesGccm_Get",
        "summary": "Get",
        "tags": [
          "CommunicationServicesGccm"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CommunicationServiceGccmName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describe the corresponding CommunicationService service.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Get resource": {
            "$ref": "./examples/communicationServicesGccm/get.json"
          }
        }
      },
      "put": {
        "description": "Create a new CommunicationService or update an existing CommunicationService.",
        "operationId": "CommunicationServicesGccm_CreateOrUpdate",
        "summary": "Create Or Update",
        "tags": [
          "CommunicationServices"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters for the create or update operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmResource"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CommunicationServiceGccmName"
          }
        ],
        "consumes": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The create or update request was completed successfully",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmResource"
            }
          },
          "201": {
            "description": "The create or update request was accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Create or update resource": {
            "$ref": "./examples/communicationServicesGccm/createOrUpdate.json"
          },
          "Create or update resource with managed identity": {
            "$ref": "./examples/communicationServicesGccm/createOrUpdateWithSystemAssignedIdentity.json"
          }
        }
      },
      "delete": {
        "description": "Operation to delete a CommunicationService.",
        "operationId": "CommunicationServicesGccm_Delete",
        "summary": "Delete",
        "tags": [
          "CommunicationServicesGccm"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CommunicationServiceGccmName"
          }
        ],
        "responses": {
          "200": {
            "description": "The delete operation was successful."
          },
          "202": {
            "description": "The delete operation is being performed in the background.",
            "headers": {
              "location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The resource did not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Delete resource": {
            "$ref": "./examples/communicationServicesGccm/delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServicesGccm/{communicationServiceGccmName}/listKeys": {
      "post": {
        "description": "Get the access keys of the CommunicationService resource.",
        "operationId": "CommunicationServices_ListKeys",
        "summary": "List Keys",
        "tags": [
          "CommunicationServicesGccm"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CommunicationServiceGccmName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes CommunicationService access keys.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "List keys": {
            "$ref": "./examples/communicationServicesGccm/listKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Communication/communicationServicesGccm/{communicationServiceGccmName}/regenerateKey": {
      "post": {
        "description": "Regenerate CommunicationService access key. PrimaryKey and SecondaryKey cannot be regenerated at the same time.",
        "operationId": "CommunicationServices_RegenerateKey",
        "summary": "Regenerate Key",
        "tags": [
          "CommunicationServicesGccm"
        ],
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameter that describes the Regenerate Key Operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegenerateKeyParameters"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CommunicationServiceGccmName"
          }
        ],
        "responses": {
          "200": {
            "description": "Regenerate key request was completed successfully. The response contains the new key.",
            "schema": {
              "$ref": "#/definitions/CommunicationServiceGccmKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "x-ms-examples": {
          "Regenerate key": {
            "$ref": "./examples/communicationServicesGccm/regenerateKey.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NameAvailabilityParameters": {
      "description": "Data POST-ed to the nameAvailability action",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/CheckNameAvailabilityRequest"
        }
      ],
      "required": [
        "type",
        "name"
      ]
    },
    "LinkNotificationHubParameters": {
      "description": "Description of an Azure Notification Hub to link to the communication service",
      "required": [
        "resourceId",
        "connectionString"
      ],
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resource ID of the notification hub",
          "type": "string"
        },
        "connectionString": {
          "description": "Connection string for the notification hub",
          "type": "string"
        }
      }
    },
    "LinkedNotificationHub": {
      "description": "A notification hub that has been linked to the communication service",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "The resource ID of the notification hub",
          "type": "string"
        }
      }
    },
    "CommunicationServiceGccmResourceList": {
      "description": "Object that includes an array of CommunicationServices and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of CommunicationService",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CommunicationServiceGccmResource"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "CommunicationServiceGccmResource": {
      "description": "A class representing a CommunicationService resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunicationServiceGccmProperties",
          "description": "The properties of the service.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "x-ms-mutability": [
            "create",
            "read",
            "update"
          ]
        }
      }
    },
    "DomainsResourceList": {
      "description": "List of email Domain resource Ids.",
      "type": "array",
      "items": {
        "type": "string",
        "description": "Resource ID of an EmailService/Domain resource linked to this resource."
      }
    },
    "TaggedResource": {
      "description": "An ARM resource with that can accept tags",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Tags of the service which is a list of key value pairs that describe the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "create",
            "update"
          ]
        }
      }
    },
    "CommunicationServiceGccmProperties": {
      "description": "A class that describes the properties of the CommunicationService.",
      "required": [
        "dataLocation"
      ],
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "Provisioning state of the resource.",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Running",
            "Creating",
            "Updating",
            "Deleting",
            "Moving"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "CommunicationServicesGccm_ProvisioningState",
            "modelAsString": true
          }
        },
        "hostName": {
          "description": "FQDN of the CommunicationService instance.",
          "type": "string",
          "readOnly": true
        },
        "dataLocation": {
          "description": "The location where the communication service stores its data at rest.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "notificationHubId": {
          "description": "Resource ID of an Azure Notification Hub linked to this resource.",
          "type": "string",
          "readOnly": true
        },
        "version": {
          "description": "Version of the CommunicationService resource. Probably you need the same or higher version of client SDKs.",
          "type": "string",
          "readOnly": true
        },
        "immutableResourceId": {
          "description": "The immutable resource Id of the communication service.",
          "type": "string",
          "readOnly": true
        },
        "linkedDomains": {
          "$ref": "#/definitions/DomainsResourceList"
        }
      }
    },
    "CommunicationServiceGccmKeys": {
      "description": "A class representing the access keys of a CommunicationService.",
      "type": "object",
      "properties": {
        "primaryKey": {
          "description": "The primary access key.",
          "type": "string"
        },
        "secondaryKey": {
          "description": "The secondary access key.",
          "type": "string"
        },
        "primaryConnectionString": {
          "description": "CommunicationService connection string constructed via the primaryKey",
          "type": "string"
        },
        "secondaryConnectionString": {
          "description": "CommunicationService connection string constructed via the secondaryKey",
          "type": "string"
        }
      }
    },
    "RegenerateKeyParameters": {
      "description": "Parameters describes the request to regenerate access keys",
      "type": "object",
      "properties": {
        "keyType": {
          "description": "The keyType to regenerate. Must be either 'primary' or 'secondary'(case-insensitive).",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "KeyType",
            "modelAsString": false
          }
        }
      }
    },
    "CommunicationServiceGccmUpdateProperties": {
      "description": "A class that describes the properties that can be updated for CommunicationService resource.",
      "type": "object",
      "properties": {
        "linkedDomains": {
          "$ref": "#/definitions/DomainsResourceList"
        }
      }
    },
    "CommunicationServiceGccmResourceUpdate": {
      "description": "A class representing update parameters for CommunicationService resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TaggedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/CommunicationServiceGccmUpdateProperties",
          "description": "The properties of the service.",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity"
        }
      }
    }
  },
  "parameters": {
    "CommunicationServiceGccmName": {
      "name": "communicationServiceGccmName",
      "in": "path",
      "description": "The name of the CommunicationServiceGccm resource.",
      "pattern": "^[-\\w]+$",
      "minLength": 1,
      "maxLength": 63,
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
