{
  "swagger": "2.0",
  "info": {
    "version": "2021-11-01-preview",
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/ipv6FirewallRules": {
      "get": {
        "tags": [
          "IPv6FirewallRules"
        ],
        "description": "Gets a list of IPv6 firewall rules.",
        "operationId": "IPv6FirewallRules_ListByServer",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of IPv6 firewall rules.",
            "schema": {
              "$ref": "#/definitions/IPv6FirewallRuleListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List IPv6 Firewall Rules": {
            "$ref": "./examples/IPv6FirewallRuleList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/ipv6FirewallRules/{firewallRuleName}": {
      "get": {
        "tags": [
          "IPv6FirewallRules"
        ],
        "description": "Gets an IPv6 firewall rule.",
        "operationId": "IPv6FirewallRules_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the firewall rule.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the specified IPv6 firewall rule.",
            "schema": {
              "$ref": "#/definitions/IPv6 FirewallRule"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 ResourceNotFound - The requested resource was not found."
          }
        },
        "x-ms-examples": {
          "Get IPv6 Firewall Rule": {
            "$ref": "./examples/IPv6FirewallRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "IPv6FirewallRules"
        ],
        "description": "Creates or updates an IPv6 firewall rule.",
        "operationId": "IPv6FirewallRules_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the firewall rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The required parameters for creating or updating an IPv6 firewall rule.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IPv6 FirewallRule"
            }
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the IPv6 firewall rule.",
            "schema": {
              "$ref": "#/definitions/IPv6 FirewallRule"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidResourceId - Invalid resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.\n\n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.\n\n * 400 InvalidIPv6ServerFirewallRuleResourceRequest - The IPv6 server firewall rule resource request is invalid.\n\n * 400 InvalidIPv6ServerFirewallRuleResourceParameters - The IPv6 server firewall rule resource parameter is invalid.\n\n * 400 DenyPublicEndpointEnabled - Unable to create or modify firewall rules when public network interface for the server is disabled. To manage server or database level firewall rules, please enable the public network interface.\n\n * 400 IPv6FirewallRuleNameEmpty - The provided IPv6 firewall rule name is empty\n\n * 400 FirewallRuleNotIPv6Address - The provided firewall rule address is not IPv6\n\n * 400 IPv6FirewallRuleNameTooLong - The provided IPv6 firewall rule name is too long\n\n * 400 IPv6FirewallRuleInvalidRange - The specified IPv6 firewall rule range is invalid.\n\n * 400 TooManyIPv6FirewallRules - The provided IPv6 firewall rules are over the limit.\n\n * 400 IPv6EndpointDisabled - The IPv6 endpoint is disabled.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription."
          },
          "201": {
            "description": "Successfully created the IPv6 firewall rule.",
            "schema": {
              "$ref": "#/definitions/IPv6 FirewallRule"
            }
          }
        },
        "x-ms-examples": {
          "Create an IPv6 firewall rule max/min": {
            "$ref": "./examples/IPv6FirewallRuleCreate.json"
          },
          "Update an IPv6 firewall rule max/min": {
            "$ref": "./examples/IPv6FirewallRuleUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "IPv6FirewallRules"
        ],
        "description": "Deletes an IPv6 firewall rule.",
        "operationId": "IPv6FirewallRules_Delete",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the firewall rule.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the IPv6 firewall rule."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidResourceId - Invalid resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.\n\n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.\n\n * 400 InvalidIPv6ServerFirewallRuleResourceRequest - The IPv6 server firewall rule resource request is invalid.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 OperationIdNotFound - The operation with Id does not exist.\n\n * 409 OperationCancelled - The operation has been cancelled by user.\n\n * 409 OperationInterrupted - The operation on the resource could not be completed because it was interrupted by another operation on the same resource.\n\n * 500 OperationTimedOut - The operation timed out and automatically rolled back. Please retry the operation."
          },
          "204": {
            "description": "The specified IPv6 firewall rule does not exist."
          }
        },
        "x-ms-examples": {
          "Delete an IPv6 firewall rule": {
            "$ref": "./examples/IPv6FirewallRuleDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "IPv6 FirewallRule": {
      "description": "An IPv6 server firewall rule.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResourceWithWritableName"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/IPv6ServerFirewallRuleProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "IPv6FirewallRuleListResult": {
      "description": "The response to a list IPv6 firewall rules request",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/IPv6 FirewallRule"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IPv6ServerFirewallRuleProperties": {
      "description": "The properties of an IPv6 server firewall rule.",
      "type": "object",
      "properties": {
        "startIPv6Address": {
          "description": "The start IP address of the firewall rule. Must be IPv6 format.",
          "type": "string"
        },
        "endIPv6Address": {
          "description": "The end IP address of the firewall rule. Must be IPv6 format. Must be greater than or equal to startIpAddress.",
          "type": "string"
        }
      }
    },
    "ProxyResourceWithWritableName": {
      "description": "ARM proxy resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ResourceWithWritableName"
        }
      ],
      "properties": {}
    },
    "ResourceWithWritableName": {
      "description": "ARM resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "type": "string"
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "description": "The name of the server.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
