{
  "swagger": "2.0",
  "info": {
    "title": "MonitorManagementClient",
    "x-ms-code-generation-settings": {
      "name": "MonitorManagementClient"
    },
    "version": "2021-05-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Insights/diagnosticSettings/{name}": {
      "get": {
        "tags": [
          "ManagementGroupDiagnosticSettings"
        ],
        "operationId": "ManagementGroupDiagnosticSettings_Get",
        "description": "Gets the active management group diagnostic settings for the specified resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get more information about diagnostic setting.",
            "schema": {
              "$ref": "#/definitions/ManagementGroupDiagnosticSettingsResource"
            }
          }
        },
        "x-ms-examples": {
          "Gets the management group diagnostic setting": {
            "$ref": "./examples/getManagementGroupDiagnosticSetting.json"
          }
        }
      },
      "put": {
        "tags": [
          "ManagementGroupDiagnosticSettings"
        ],
        "operationId": "ManagementGroupDiagnosticSettings_CreateOrUpdate",
        "description": "Creates or updates management group diagnostic settings for the specified resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagementGroupDiagnosticSettingsResource"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/NameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to create a management group diagnostic setting",
            "schema": {
              "$ref": "#/definitions/ManagementGroupDiagnosticSettingsResource"
            }
          }
        },
        "x-ms-examples": {
          "Creates or Updates the management group diagnostic setting": {
            "$ref": "./examples/createOrUpdateManagementGroupDiagnosticSetting.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ManagementGroupDiagnosticSettings"
        ],
        "operationId": "ManagementGroupDiagnosticSettings_Delete",
        "description": "Deletes existing management group diagnostic settings for the specified resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/NameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to remove a management group diagnostic setting"
          },
          "204": {
            "description": "Successful request to remove a management group diagnostic setting"
          }
        },
        "x-ms-examples": {
          "Deletes the management group diagnostic setting": {
            "$ref": "./examples/deleteManagementGroupDiagnosticSetting.json"
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Insights/diagnosticSettings": {
      "get": {
        "tags": [
          "ManagementGroupDiagnosticSettings"
        ],
        "operationId": "ManagementGroupDiagnosticSettings_List",
        "description": "Gets the active management group diagnostic settings list for the specified management group.",
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get more information about management group diagnostic setting",
            "schema": {
              "$ref": "#/definitions/ManagementGroupDiagnosticSettingsResourceCollection"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Gets the management group diagnostic setting": {
            "$ref": "./examples/listManagementGroupDiagnosticSettings.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ManagementGroupLogSettings": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "description": "Name of a Management Group Diagnostic Log category for a resource type this setting is applied to."
        },
        "categoryGroup": {
          "type": "string",
          "description": "Name of a Management Group Diagnostic Log category group for a resource type this setting is applied to."
        },
        "enabled": {
          "type": "boolean",
          "description": "a value indicating whether this log is enabled."
        }
      },
      "required": [
        "enabled"
      ],
      "description": "Part of Management Group diagnostic setting. Specifies the settings for a particular log."
    },
    "ManagementGroupDiagnosticSettings": {
      "type": "object",
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "The resource ID of the storage account to which you would like to send Diagnostic Logs."
        },
        "serviceBusRuleId": {
          "type": "string",
          "description": "The service bus rule Id of the diagnostic setting. This is here to maintain backwards compatibility."
        },
        "eventHubAuthorizationRuleId": {
          "type": "string",
          "description": "The resource Id for the event hub authorization rule."
        },
        "eventHubName": {
          "type": "string",
          "description": "The name of the event hub. If none is specified, the default event hub will be selected."
        },
        "logs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagementGroupLogSettings"
          },
          "description": "The list of logs settings."
        },
        "workspaceId": {
          "type": "string",
          "description": "The full ARM resource ID of the Log Analytics workspace to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"
        },
        "marketplacePartnerId": {
          "type": "string",
          "description": "The full ARM resource ID of the Marketplace resource to which you would like to send Diagnostic Logs."
        }
      },
      "description": "The management group diagnostic settings."
    },
    "ManagementGroupDiagnosticSettingsResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ManagementGroupDiagnosticSettings",
          "description": "Properties of a Management Group Diagnostic Settings Resource."
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata related to this resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "description": "The management group diagnostic setting resource."
    },
    "ManagementGroupDiagnosticSettingsResourceCollection": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ManagementGroupDiagnosticSettingsResource"
          },
          "description": "The collection of management group diagnostic settings resources."
        }
      },
      "description": "Represents a collection of management group diagnostic settings resources."
    },
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ManagementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The management group id.",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    },
    "NameParameter": {
      "name": "name",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the diagnostic setting.",
      "x-ms-parameter-location": "method"
    }
  }
}
