{
  "swagger": "2.0",
  "info": {
    "version": "2019-10-01",
    "title": "ConsumptionManagementClient",
    "description": "Consumption management client provides access to consumption resources for Azure Enterprise Subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/{scope}/providers/Microsoft.Consumption/usageDetails": {
      "get": {
        "tags": [
          "UsageDetails"
        ],
        "operationId": "UsageDetails_List",
        "description": "Lists the usage details for the defined scope. Usage details are available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "UsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsList.json"
          },
          "UsageDetailsListFilterByTag-Legacy": {
            "$ref": "./examples/UsageDetailsListFilterByTag.json"
          },
          "UsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriod.json"
          },
          "UsageDetailsExpand-Legacy": {
            "$ref": "./examples/UsageDetailsExpand.json"
          },
          "UsageDetailsListByMetricActualCost-Legacy": {
            "$ref": "./examples/UsageDetailsListByMetricActualCost.json"
          },
          "UsageDetailsListByMetricAmortizedCost-Legacy": {
            "$ref": "./examples/UsageDetailsListByMetricAmortizedCost.json"
          },
          "UsageDetailsListByMetricUsage-Legacy": {
            "$ref": "./examples/UsageDetailsListByMetricUsage.json"
          },
          "BillingAccountUsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsListByBillingAccount.json"
          },
          "BillingAccountUsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByBillingAccount.json"
          },
          "DepartmentUsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsListByDepartment.json"
          },
          "DepartmentUsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByDepartment.json"
          },
          "EnrollmentAccountUsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsListByEnrollmentAccount.json"
          },
          "EnrollmentAccountUsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByEnrollmentAccount.json"
          },
          "ManagementGroupUsageDetailsList-Legacy": {
            "$ref": "./examples/UsageDetailsListByManagementGroup.json"
          },
          "ManagementGroupUsageDetailsListForBillingPeriod-Legacy": {
            "$ref": "./examples/UsageDetailsListForBillingPeriodByManagementGroup.json"
          },
          "BillingAccountUsageDetailsList-Modern": {
            "$ref": "./examples/UsageDetailsListByMCABillingAccount.json"
          },
          "BillingProfileUsageDetailsList-Modern": {
            "$ref": "./examples/UsageDetailsListByMCABillingProfile.json"
          },
          "InvoiceSectionUsageDetailsList-Modern": {
            "$ref": "./examples/UsageDetailsListByMCAInvoiceSection.json"
          },
          "CustomerUsageDetailsList-Modern": {
            "$ref": "./examples/UsageDetailsListByMCACustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeUsageDetailsParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the properties/additionalInfo or properties/meterDetails within a list of usage details. By default, these fields are not included when listing usage details.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter usageDetails by properties/resourceGroup, properties/resourceName, properties/resourceId, properties/chargeType, properties/reservationId, properties/publisherType or tags. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:). PublisherType Filter accepts two values azure and marketplace and it is currently supported for Web Direct Offer Type",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N usageDetails.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/metricParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/UsageDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/marketplaces": {
      "get": {
        "tags": [
          "Marketplaces"
        ],
        "x-ms-odata": "#/definitions/Marketplace",
        "operationId": "Marketplaces_List",
        "description": "Lists the marketplaces for a scope at the defined scope. Marketplaces are available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "SubscriptionMarketplacesList": {
            "$ref": "./examples/MarketplacesList.json"
          },
          "SubscriptionMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesListForBillingPeriod.json"
          },
          "BillingAccountMarketplacesList": {
            "$ref": "./examples/MarketplacesByBillingAccountList.json"
          },
          "BillingAccountMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesByBillingAccountListForBillingPeriod.json"
          },
          "DepartmentMarketplacesList": {
            "$ref": "./examples/MarketplacesByDepartmentList.json"
          },
          "DepartmentMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesByDepartment_ListByBillingPeriod.json"
          },
          "EnrollmentAccountMarketplacesList": {
            "$ref": "./examples/MarketplacesByEnrollmentAccountList.json"
          },
          "EnrollmentAccountMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesByEnrollmentAccounts_ListByBillingPeriod.json"
          },
          "ManagementGroupMarketplacesList": {
            "$ref": "./examples/MarketplacesByManagementGroupList.json"
          },
          "ManagementGroupMarketplacesListForBillingPeriod": {
            "$ref": "./examples/MarketplacesByManagementGroup_ListForBillingPeriod.json"
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "description": "May be used to filter marketplaces by properties/usageEnd (Utc time), properties/usageStart (Utc time), properties/resourceGroup, properties/instanceName or properties/instanceId. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N marketplaces.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/scopeMarketplaceParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MarketplacesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/budgets": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "operationId": "Budgets_List",
        "description": "Lists all budgets for the defined scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "BudgetsList": {
            "$ref": "./examples/BudgetsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeBudgetParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BudgetsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/budgets/{budgetName}": {
      "get": {
        "tags": [
          "Budgets"
        ],
        "operationId": "Budgets_Get",
        "description": "Gets the budget for the scope by budget name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "Budget": {
            "$ref": "./examples/Budget.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeBudgetParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/budgetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Budgets"
        ],
        "operationId": "Budgets_CreateOrUpdate",
        "description": "The operation to create or update a budget. Update operation requires latest eTag to be set in the request mandatorily. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "CreateOrUpdateBudget": {
            "$ref": "./examples/CreateOrUpdateBudget.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeBudgetParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/budgetNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Budget"
            },
            "description": "Parameters supplied to the Create Budget operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Budgets"
        ],
        "operationId": "Budgets_Delete",
        "description": "The operation to delete a budget.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "DeleteBudget": {
            "$ref": "./examples/DeleteBudget.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeBudgetParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/budgetNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "operationId": "Tags_Get",
        "description": "Get all available tag keys for the defined scope",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "Tags_Get": {
            "$ref": "./examples/Tags.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeTagsParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/TagsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/charges": {
      "get": {
        "tags": [
          "Charges"
        ],
        "operationId": "Charges_List",
        "description": "Lists the charges based for the defined scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ChargesListForEnrollmentAccount-Legacy": {
            "$ref": "./examples/ChargesListForEnrollmentAccountFilterByStartEndDate.json"
          },
          "ChangesForBillingPeriodByEnrollmentAccount-Legacy": {
            "$ref": "./examples/ChargesForBillingPeriodByEnrollmentAccount.json"
          },
          "ChargesListByDepartment-Legacy": {
            "$ref": "./examples/ChargesListForDepartmentFilterByStartEndDate.json"
          },
          "ChangesForBillingPeriodByDepartment-Legacy": {
            "$ref": "./examples/ChargesForBillingPeriodByDepartment.json"
          },
          "ChargesListByBillingAccount-Modern": {
            "$ref": "./examples/ChargesListByModernBillingAccount.json"
          },
          "ChargesListByBillingAccountGroupByBillingProfileId-Modern": {
            "$ref": "./examples/ChargesListByModernBillingAccountGroupByBillingProfileId.json"
          },
          "ChargesListByBillingAccountGroupByInvoiceSectionId-Modern": {
            "$ref": "./examples/ChargesListByModernBillingAccountGroupByInvoiceSectionId.json"
          },
          "ChargesListByBillingAccountGroupByCustomerId-Modern": {
            "$ref": "./examples/ChargesListByModernBillingAccountGroupByCustomerId.json"
          },
          "ChargesListByBillingProfile-Modern": {
            "$ref": "./examples/ChargesListByModernBillingProfile.json"
          },
          "ChargesListByBillingProfileInvoiceSection-Modern": {
            "$ref": "./examples/ChargesListByModernBillingProfileInvoiceSection.json"
          },
          "ChargesListByBillingProfileGroupByInvoiceSectionId-Modern": {
            "$ref": "./examples/ChargesListByModernBillingProfileGroupByInvoiceSectionId.json"
          },
          "ChargesListByInvoiceSectionId-Modern": {
            "$ref": "./examples/ChargesListByModernInvoiceSectionId.json"
          },
          "ChargesListByCustomer-Modern": {
            "$ref": "./examples/ChargesListByModernCustomer.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeChargesParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
		  {
		    "name": "startDate",
		    "in": "query",
		    "description": "Start date",
		    "required": false,
		    "type": "string",
		    "x-ms-parameter-location": "method"
		  },
		  {
		    "name": "endDate",
		    "in": "query",
		    "description": "End date",
		    "required": false,
		    "type": "string",
		    "x-ms-parameter-location": "method"
		  },
          {
            "name": "$filter",
            "description": "May be used to filter charges by properties/usageEnd (Utc time), properties/usageStart (Utc time). The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          },
 	      {
			"name": "$apply",
			"description": "May be used to group charges for billingAccount scope by properties/billingProfileId, properties/invoiceSectionId, properties/customerId (specific for Partner Led), or for billingProfile scope by properties/invoiceSectionId.",
			"in": "query",
			"required": false,
			"type": "string"
		  }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ChargesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/balances": {
      "get": {
        "tags": [
          "Balances"
        ],
        "operationId": "Balances_GetByBillingAccount",
        "description": "Gets the balances for a scope by billingAccountId. Balances are available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "Balances": {
            "$ref": "./examples/BalancesByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/balances": {
      "get": {
        "tags": [
          "Balances"
        ],
        "operationId": "Balances_GetForBillingPeriodByBillingAccount",
        "description": "Gets the balances for a scope by billing period and billingAccountId. Balances are available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "Balances": {
            "$ref": "./examples/BalancesByBillingAccountForBillingPeriod.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Balance"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationSummaries": {
      "get": {
        "tags": [
          "ReservationSummaries"
        ],
        "operationId": "ReservationsSummaries_ListByReservationOrder",
        "description": "Lists the reservations summaries for daily or monthly grain.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationSummariesDaily": {
            "$ref": "./examples/ReservationSummariesDaily.json"
          },
          "ReservationSummariesMonthly": {
            "$ref": "./examples/ReservationSummariesMonthly.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/reservationOrderIdParameter"
          },
          {
            "$ref": "#/parameters/grainParameter"
          },
          {
            "name": "$filter",
            "description": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationSummariesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationSummaries": {
      "get": {
        "tags": [
          "ReservationSummaries"
        ],
        "operationId": "ReservationsSummaries_ListByReservationOrderAndReservation",
        "description": "Lists the reservations summaries for daily or monthly grain.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationSummariesDailyWithReservationId": {
            "$ref": "./examples/ReservationSummariesDailyWithReservationId.json"
          },
          "ReservationSummariesMonthlyWithReservationId": {
            "$ref": "./examples/ReservationSummariesMonthlyWithReservationId.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/reservationOrderIdParameter"
          },
          {
            "$ref": "#/parameters/reservationIdParameter"
          },
          {
            "$ref": "#/parameters/grainParameter"
          },
          {
            "name": "$filter",
            "description": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationSummariesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/reservationSummaries": {
      "get": {
        "tags": [
          "ReservationSummaries"
        ],
        "operationId": "ReservationsSummaries_List",
        "description": "Lists the reservations summaries for the defined scope daily or monthly grain.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationSummariesDailyWithBillingAccountId": {
            "$ref": "./examples/ReservationSummariesDailyWithBillingAccountId.json"
          },
          "ReservationSummariesMonthlyWithBillingAccountId": {
            "$ref": "./examples/ReservationSummariesMonthlyWithBillingAccountId.json"
          },
          "ReservationSummariesDailyWithBillingProfileId": {
            "$ref": "./examples/ReservationSummariesDailyWithBillingProfileId.json"
          },
          "ReservationSummariesMonthlyWithBillingProfileId": {
            "$ref": "./examples/ReservationSummariesMonthlyWithBillingProfileId.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeReservationsSummariesParameter"
          },
          {
            "$ref": "#/parameters/grainParameter"
          },
		  {
		    "name": "startDate",
		    "in": "query",
		    "description": "Start date",
		    "required": false,
		    "type": "string",
		    "x-ms-parameter-location": "method"
		  },
		  {
		    "name": "endDate",
		    "in": "query",
		    "description": "End date",
		    "required": false,
		    "type": "string",
		    "x-ms-parameter-location": "method"
		  },
          {
            "name": "$filter",
            "description": "Required only for daily grain. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge'",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationSummariesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/providers/Microsoft.Consumption/reservationDetails": {
      "get": {
        "tags": [
          "ReservationDetails"
        ],
        "operationId": "ReservationsDetails_ListByReservationOrder",
        "description": "Lists the reservations details for provided date range.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationDetails": {
            "$ref": "./examples/ReservationDetails.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/reservationOrderIdParameter"
          },
          {
            "name": "$filter",
            "description": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Capacity/reservationorders/{reservationOrderId}/reservations/{reservationId}/providers/Microsoft.Consumption/reservationDetails": {
      "get": {
        "tags": [
          "ReservationDetails"
        ],
        "operationId": "ReservationsDetails_ListByReservationOrderAndReservation",
        "description": "Lists the reservations details for provided date range.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationDetailsWithReservationId": {
            "$ref": "./examples/ReservationDetailsWithReservationId.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/reservationOrderIdParameter"
          },
          {
            "$ref": "#/parameters/reservationIdParameter"
          },
          {
            "name": "$filter",
            "description": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/reservationDetails": {
      "get": {
        "tags": [
          "ReservationDetails"
        ],
        "operationId": "ReservationsDetails_List",
        "description": "Lists the reservations details for the defined scope and provided date range.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationDetailsByBillingAccountId": {
            "$ref": "./examples/ReservationDetailsByBillingAccountId.json"
          },
          "ReservationDetailsByBillingProfileId": {
            "$ref": "./examples/ReservationDetailsByBillingProfileId.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/scopeReservationDetailsParameter"
          },
  		  {
		    "name": "startDate",
		    "in": "query",
		    "description": "Start date",
		    "required": false,
		    "type": "string",
		    "x-ms-parameter-location": "method"
		  },
		  {
		    "name": "endDate",
		    "in": "query",
		    "description": "End date",
		    "required": false,
		    "type": "string",
		    "x-ms-parameter-location": "method"
		  },
          {
            "name": "$filter",
            "description": "Filter reservation details by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationDetailsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.Consumption/reservationRecommendations": {
      "get": {
        "tags": [
          "ReservationRecommendations"
        ],
        "operationId": "ReservationRecommendations_List",
        "description": "List of recommendations for purchasing reserved instances.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationRecommendationsBySubscription-Legacy": {
            "$ref": "./examples/ReservationRecommendationsBySubscription.json"
          },
          "ReservationRecommendationsFilterBySubscriptionForScopeLookBackPeriod-Legacy": {
            "$ref": "./examples/ReservationRecommendationsFilterBySubscriptionForScopeLookBackPeriod.json"
          },
		  "ReservationRecommendationsByBillingAccount-Legacy": {
            "$ref": "./examples/ReservationRecommendationsByBillingAccount.json"
          },
 		  "ReservationRecommendationsByBillingProfile-Modern": {
            "$ref": "./examples/ReservationRecommendationsByBillingProfile.json"
          }

        },
        "parameters": [
          {
            "name": "$filter",
            "description": "May be used to filter reservationRecommendations by properties/scope and properties/lookBackPeriod.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/scopeReservationRecommendationsParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationRecommendationsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.Consumption/reservationTransactions": {
      "get": {
        "tags": [
          "ReservationTransactions"
        ],
        "operationId": "ReservationTransactions_List",
        "description": "List of transactions for reserved instances on billing account scope",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ReservationTransaction": {
            "$ref": "./examples/ReservationTransactionsListByBillingAccountId.json"
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "description": "Filter reservation transactions by date range. The properties/UsageDate for start date and end date. The filter supports 'le' and  'ge' ",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReservationTransactionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/pricesheets/default": {
      "get": {
        "tags": [
          "PriceSheet"
        ],
        "operationId": "PriceSheet_Get",
        "description": "Gets the price sheet for a scope by subscriptionId. Price sheet is available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "PriceSheet": {
            "$ref": "./examples/PriceSheet.json"
          }
        },
        "parameters": [
          {
            "name": "$expand",
            "description": "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the top N results.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PriceSheetResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/providers/Microsoft.Consumption/pricesheets/default": {
      "get": {
        "tags": [
          "PriceSheet"
        ],
        "operationId": "PriceSheet_GetByBillingPeriod",
        "description": "Get the price sheet for a scope by subscriptionId and billing period. Price sheet is available via this API only for May 1, 2014 or later.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "PriceSheetForBillingPeriod": {
            "$ref": "./examples/PriceSheetForBillingPeriod.json"
          },
          "PriceSheetExpand": {
            "$ref": "./examples/PriceSheetExpand.json"
          }
        },
        "parameters": [
          {
            "name": "$expand",
            "description": "May be used to expand the properties/meterDetails within a price sheet. By default, these fields are not included when returning price sheet.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the top N results.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PriceSheetResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Consumption/forecasts": {
      "get": {
        "tags": [
          "Forecasts"
        ],
        "x-ms-odata": "#/definitions/Forecast",
        "operationId": "Forecasts_List",
        "description": "Lists the forecast charges by subscriptionId.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "ForecastsList": {
            "$ref": "./examples/ForecastsList.json"
          },
          "ForecastsListFilterByGrain": {
            "$ref": "./examples/ForecastsListFilterByGrain.json"
          },
          "ForecastsListFilterByDates": {
            "$ref": "./examples/ForecastsListFilterByDates.json"
          }
        },
        "parameters": [
          {
            "name": "$filter",
            "description": "May be used to filter forecasts by properties/usageDate (Utc time), properties/chargeType or properties/grain. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ForecastsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.Consumption/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available consumption REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Consumption/aggregatedcost": {
      "get": {
        "tags": [
          "AggregatedCost"
        ],
        "operationId": "AggregatedCost_GetByManagementGroup",
        "description": "Provides the aggregate cost of a management group and all child management groups by current billing period.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "AggregatedCostByManagementGroup": {
            "$ref": "./examples/AggregatedCostByManagementGroup.json"
          },
          "AggregatedCostByManagementGroupFilterByDate": {
            "$ref": "./examples/AggregatedCostByManagementGroupFilterByDate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/managementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter aggregated cost by properties/usageStart (Utc time), properties/usageEnd (Utc time). The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'. Tag filter is a key value pair string where key and value is separated by a colon (:).",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ManagementGroupAggregatedCostResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}/Microsoft.Consumption/aggregatedcost": {
      "get": {
        "tags": [
          "AggregatedCost"
        ],
        "operationId": "AggregatedCost_GetForBillingPeriodByManagementGroup",
        "description": "Provides the aggregate cost of a management group and all child management groups by specified billing period",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
        },
        "x-ms-examples": {
          "AggregatedCostListForBillingPeriodByManagementGroup": {
            "$ref": "./examples/AggregatedCostForBillingPeriodByManagementGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/managementGroupIdParameter"
          },
          {
            "$ref": "#/parameters/billingPeriodNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ManagementGroupAggregatedCostResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
	"/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/events": {
	  "get": {
		"tags": [
		  "Events"
		],
		"operationId": "Events_List",
		"description": "Lists the events by billingAccountId and billingProfileId for given start and end date.",
		"externalDocs": {
		  "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
		},
		"x-ms-examples": {
		  "EventsListByBillingProfile": {
			"$ref": "./examples/EventsListByBillingProfile.json"
		  }
		},
		"parameters": [
		  {
		    "$ref": "#/parameters/billingAccountIdParameter"
		  }, 
		  {
			"$ref": "#/parameters/billingProfileIdParameter"
		  }, 
		  {
			"$ref": "#/parameters/apiVersionParameter"
		  },
		  {
			"$ref": "#/parameters/startDateParameter"
		  }, 
		  {
			"$ref": "#/parameters/endDateParameter"
		  }
		],
		"responses": {
		  "200": {
			"description": "OK. The request has succeeded.",
			"schema": {
			  "$ref": "#/definitions/Events"
			  }
		  },
		  "default": {
			"description": "Error response describing why the operation failed.",
			"schema": {
			  "$ref": "#/definitions/ErrorResponse"
			}
		  }
		},
		"x-ms-pageable": {
		  "nextLinkName": "nextLink"
		}
	  }
	},
	"/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/lots": {
	  "get": {
		"tags": [
		  "Lots"
		],
		"operationId": "Lots_List",
		"description": "Lists the lots by billingAccountId and billingProfileId.",
		"externalDocs": {
		  "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
		},
		"x-ms-examples": {
		  "EventsListByBillingProfile": {
		    "$ref": "./examples/LotsListByBillingProfile.json"
		  }
		},
		"parameters": [
		  {
			"$ref": "#/parameters/billingAccountIdParameter"
		  }, 
		  {
			"$ref": "#/parameters/billingProfileIdParameter"
		  },
		  {
			"$ref": "#/parameters/apiVersionParameter"
		  }
		],
		"responses": {
		  "200": {
			"description": "OK. The request has succeeded.",
			"schema": {
			  "$ref": "#/definitions/Lots"
			}
		  },
		  "default": {
		    "description": "Error response describing why the operation failed.",
			"schema": {
			  "$ref": "#/definitions/ErrorResponse"
			}
		  }
		},
		"x-ms-pageable": {
		  "nextLinkName": "nextLink"
		}
	  }
	},
	"/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.Consumption/credits/balanceSummary": {
	  "get": {
		"tags": [
		  "Credits"
		],
		"operationId": "Credits_Get",
		"description": "The credit summary by billingAccountId and billingProfileId.",
		"externalDocs": {
		  "url": "https://docs.microsoft.com/en-us/rest/api/consumption/"
		},
		"x-ms-examples": {
		  "CreditSummaryByBillingProfile": {
			"$ref": "./examples/CreditSummaryByBillingProfile.json"
		  }
		},
		"parameters": [
		  {
			"$ref": "#/parameters/billingAccountIdParameter"
		  },
		  {
			"$ref": "#/parameters/billingProfileIdParameter"
   		  },
		  {
			"$ref": "#/parameters/apiVersionParameter"
  		  }
		],
		"responses": {
		  "200": {
		    "description": "OK. The request has succeeded.",
			"schema": {
			  "$ref": "#/definitions/CreditSummary"
			}
		  },
		  "default": {
			"description": "Error response describing why the operation failed.",
			"schema": {
			  "$ref": "#/definitions/ErrorResponse"
			}
		  }
		}
	  }
    }
  },
  "definitions": {
    "MeterDetails": {
      "description": "The properties of the meter detail.",
      "properties": {
        "meterName": {
          "description": "The name of the meter, within the given meter category",
          "type": "string",
          "readOnly": true
        },
        "meterCategory": {
          "description": "The category of the meter, for example, 'Cloud services', 'Networking', etc..",
          "type": "string",
          "readOnly": true
        },
        "meterSubCategory": {
          "description": "The subcategory of the meter, for example, 'A6 Cloud services', 'ExpressRoute (IXP)', etc..",
          "type": "string",
          "readOnly": true
        },
        "unit": {
          "description": "The unit in which the meter consumption is charged, for example, 'Hours', 'GB', etc.",
          "type": "string",
          "readOnly": true
        },
        "meterLocation": {
          "description": "The location in which the Azure service is available.",
          "type": "string",
          "readOnly": true
        },
        "totalIncludedQuantity": {
          "description": "The total included quantity associated with the offer.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "pretaxStandardRate": {
          "description": "The pretax listing price.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "serviceName": {
          "description": "The name of the service.",
          "type": "string",
          "readOnly": true
        },
        "serviceTier": {
          "description": "The service tier.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UsageDetail": {
      "type": "object",
      "discriminator": "kind",
      "description": "An usage detail resource.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "Specifies the kind of usage details.",
          "enum": [
            "legacy",
            "modern"
          ],
          "x-ms-enum": {
            "name": "UsageDetailsKind",
            "modelAsString": true
          }
        }
      },
      "required": [
        "kind"
      ]
    },
    "UsageDetailsListResult": {
      "description": "Result of listing usage details. It contains a list of available usage details in reverse chronological order by billing period.",
      "properties": {
        "value": {
          "description": "The list of usage details.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/UsageDetail"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "LegacyUsageDetail": {
      "description": "Legacy usage detail.",
      "type": "object",
      "x-ms-discriminator-value": "legacy",
      "properties": {
        "properties": {
          "description": "Properties for legacy usage details",
          "$ref": "#/definitions/LegacyUsageDetailProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UsageDetail"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "LegacyUsageDetailProperties": {
      "description": "The properties of the legacy usage detail.",
      "properties": {
        "billingAccountId": {
          "description": "Billing Account identifier.",
          "type": "string",
          "readOnly": true
        },
        "billingAccountName": {
          "description": "Billing Account Name.",
          "type": "string",
          "readOnly": true
        },
        "billingPeriodStartDate": {
          "description": "The billing period start date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "billingPeriodEndDate": {
          "description": "The billing period end date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "billingProfileId": {
          "description": "Billing Profile identifier.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileName": {
          "description": "Billing Profile Name.",
          "type": "string",
          "readOnly": true
        },
        "accountOwnerId": {
          "description": "Account Owner Id.",
          "type": "string",
          "readOnly": true
        },
        "accountName": {
          "description": "Account Name.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionId": {
          "description": "Subscription guid.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionName": {
          "description": "Subscription name.",
          "type": "string",
          "readOnly": true
        },
        "date": {
          "description": "Date for the usage record.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "product": {
          "description": "Product name for the consumed service or purchase. Not available for Marketplace.",
          "type": "string",
          "readOnly": true
        },
        "partNumber": {
          "description": "Part Number of the service used. Can be used to join with the price sheet. Not available for marketplace.",
          "type": "string",
          "readOnly": true
        },
        "meterId": {
          "description": "The meter id (GUID). Not available for marketplace. For reserved instance this represents the primary meter for which the reservation was purchased. For the actual VM Size for which the reservation is purchased see productOrderName.",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "meterDetails": {
          "description": "The details about the meter. By default this is not populated, unless it's specified in $expand.",
          "$ref": "#/definitions/MeterDetailsResponse",
          "readOnly": true
        },
        "quantity": {
          "description": "The usage quantity.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "effectivePrice": {
          "description": "Effective Price that's charged for the usage.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "cost": {
          "description": "The amount of cost before tax.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "unitPrice": {
          "description": "Unit Price is the price applicable to you. (your EA or other contract price).",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "billingCurrency": {
          "description": "Billing Currency.",
          "type": "string",
          "readOnly": true
        },
        "resourceLocation": {
          "description": "Resource Location.",
          "type": "string",
          "readOnly": true
        },
        "consumedService": {
          "description": "Consumed service name. Name of the azure resource provider that emits the usage or was purchased. This value is not provided for marketplace usage.",
          "type": "string",
          "readOnly": true
        },
        "resourceId": {
          "description": "Azure resource manager resource identifier.",
          "type": "string",
          "readOnly": true
        },
        "resourceName": {
          "description": "Resource Name.",
          "type": "string",
          "readOnly": true
        },
        "serviceInfo1": {
          "description": "Service Info 1.",
          "type": "string",
          "readOnly": true
        },
        "serviceInfo2": {
          "description": "Service Info 2.",
          "type": "string",
          "readOnly": true
        },
        "additionalInfo": {
          "description": "Additional details of this usage item. By default this is not populated, unless it's specified in $expand. Use this field to get usage line item specific details such as the actual VM Size (ServiceType) or the ratio in which the reservation discount is applied.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSection": {
          "description": "Invoice Section Name.",
          "type": "string",
          "readOnly": true
        },
        "costCenter": {
          "description": "The cost center of this department if it is a department and a cost center is provided.",
          "type": "string",
          "readOnly": true
        },
        "resourceGroup": {
          "description": "Resource Group Name.",
          "type": "string",
          "readOnly": true
        },
        "reservationId": {
          "description": "ARM resource id of the reservation. Only applies to records relevant to reservations.",
          "type": "string",
          "readOnly": true
        },
        "reservationName": {
          "description": "User provided display name of the reservation. Last known name for a particular day is populated in the daily data. Only applies to records relevant to reservations.",
          "type": "string",
          "readOnly": true
        },
        "productOrderId": {
          "description": "Product Order Id. For reservations this is the Reservation Order ID.",
          "type": "string",
          "readOnly": true
        },
        "productOrderName": {
          "description": "Product Order Name. For reservations this is the SKU that was purchased.",
          "type": "string",
          "readOnly": true
        },
        "offerId": {
          "description": "Offer Id. Ex: MS-AZR-0017P, MS-AZR-0148P.",
          "type": "string",
          "readOnly": true
        },
        "isAzureCreditEligible": {
          "description": "Is Azure Credit Eligible.",
          "type": "boolean",
          "readOnly": true
        },
        "term": {
          "description": "Term (in months). 1 month for monthly recurring purchase. 12 months for a 1 year reservation. 36 months for a 3 year reservation.",
          "type": "string",
          "readOnly": true
        },
        "publisherName": {
          "description": "Publisher Name.",
          "type": "string",
          "readOnly": true
        },
        "publisherType": {
          "description": "Publisher Type.",
          "type": "string",
          "readOnly": true
        },
        "planName": {
          "description": "Plan Name.",
          "type": "string",
          "readOnly": true
        },
        "chargeType": {
          "description": "Indicates a charge represents credits, usage, a Marketplace purchase, a reservation fee, or a refund.",
          "type": "string",
          "readOnly": true
        },
        "frequency": {
          "description": "Indicates how frequently this charge will occur. OneTime for purchases which only happen once, Monthly for fees which recur every month, and UsageBased for charges based on how much a service is used.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ModernUsageDetail": {
      "description": "Modern usage detail.",
      "type": "object",
      "x-ms-discriminator-value": "modern",
      "properties": {
        "properties": {
          "description": "Properties for modern usage details",
          "$ref": "#/definitions/ModernUsageDetailProperties",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/UsageDetail"
        }
      ],
      "required": [
        "properties"
      ]
    },
    "ModernUsageDetailProperties": {
      "description": "The properties of the usage detail.",
      "properties": {
        "billingAccountId": {
          "description": "Billing Account identifier.",
          "type": "string",
          "readOnly": true
        },
        "billingAccountName": {
          "description": "Name of the Billing Account.",
          "type": "string",
          "readOnly": true
        },
        "billingPeriodStartDate": {
          "description": "Billing Period Start Date as in the invoice.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "billingPeriodEndDate": {
          "description": "Billing Period End Date as in the invoice.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "billingProfileId": {
          "description": "Identifier for the billing profile that groups costs across invoices in the a singular billing currency across across the customers who have onboarded the Microsoft customer agreement and the customers in CSP who have made entitlement purchases like SaaS, Marketplace, RI, etc.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileName": {
          "description": "Name of the billing profile that groups costs across invoices in the a singular billing currency across across the customers who have onboarded the Microsoft customer agreement and the customers in CSP who have made entitlement purchases like SaaS, Marketplace, RI, etc.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionGuid": {
          "description": "Unique Microsoft generated identifier for the Azure Subscription.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionName": {
          "description": "Name of the Azure Subscription.",
          "type": "string",
          "readOnly": true
        },
        "date": {
          "description": "Date for the usage record.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "product": {
          "description": "Name of the product that has accrued charges by consumption or purchase as listed in the invoice. Not available for Marketplace.",
          "type": "string",
          "readOnly": true
        },
        "meterId": {
          "description": "The meter id (GUID). Not available for marketplace. For reserved instance this represents the primary meter for which the reservation was purchased. For the actual VM Size for which the reservation is purchased see productOrderName.",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "meterName": {
          "description": "Identifies the name of the meter against which consumption is measured.",
          "type": "string",
          "readOnly": true
        },
        "meterRegion": {
          "description": "Identifies the location of the datacenter for certain services that are priced based on datacenter location.",
          "type": "string",
          "readOnly": true
        },
        "meterCategory": {
          "description": "Identifies the top-level service for the usage.",
          "type": "string",
          "readOnly": true
        },
        "meterSubCategory": {
          "description": "Defines the type or sub-category of Azure service that can affect the rate.",
          "type": "string",
          "readOnly": true
        },
        "serviceFamily": {
          "description": "List the service family for the product purchased or charged (Example: Storage ; Compute).",
          "type": "string",
          "readOnly": true
        },
        "quantity": {
          "description": "Measure the quantity purchased or consumed.The amount of the meter used during the billing period.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "unitOfMeasure": {
          "description": "Identifies the Unit that the service is charged in. For example, GB, hours, 10,000 s.",
          "type": "string",
          "readOnly": true
        },
        "instanceName": {
          "description": "Instance Name.",
          "type": "string",
          "readOnly": true
        },
        "costInUSD": {
          "description": "Estimated extendedCost or blended cost before tax in USD.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "unitPrice": {
          "description": "Unit Price is the price applicable to you. (your EA or other contract price).",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "billingCurrencyCode": {
          "description": "The currency defining the billed cost.",
          "type": "string",
          "readOnly": true
        },
        "resourceLocation": {
          "description": "Name of the resource location.",
          "type": "string",
          "readOnly": true
        },
        "consumedService": {
          "description": "Consumed service name. Name of the azure resource provider that emits the usage or was purchased. This value is not provided for marketplace usage.",
          "type": "string",
          "readOnly": true
        },
        "serviceInfo1": {
          "description": "Service Info 1.",
          "type": "string",
          "readOnly": true
        },
        "serviceInfo2": {
          "description": "Service Info 2.",
          "type": "string",
          "readOnly": true
        },
        "additionalInfo": {
          "description": "Additional details of this usage item. Use this field to get usage line item specific details such as the actual VM Size (ServiceType) or the ratio in which the reservation discount is applied.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionId": {
          "description": "Identifier of the project that is being charged in the invoice. Not applicable for Microsoft Customer Agreements onboarded by partners.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionName": {
          "description": "Name of the project that is being charged in the invoice. Not applicable for Microsoft Customer Agreements onboarded by partners.",
          "type": "string",
          "readOnly": true
        },
        "costCenter": {
          "description": "The cost center of this department if it is a department and a cost center is provided.",
          "type": "string",
          "readOnly": true
        },
        "resourceGroup": {
          "description": "Name of the Azure resource group used for cohesive lifecycle management of resources.",
          "type": "string",
          "readOnly": true
        },
        "reservationId": {
          "description": "ARM resource id of the reservation. Only applies to records relevant to reservations.",
          "type": "string",
          "readOnly": true
        },
        "reservationName": {
          "description": "User provided display name of the reservation. Last known name for a particular day is populated in the daily data. Only applies to records relevant to reservations.",
          "type": "string",
          "readOnly": true
        },
        "productOrderId": {
          "description": "The identifier for the asset or Azure plan name that the subscription belongs to. For example: Azure Plan. For reservations this is the Reservation Order ID.",
          "type": "string",
          "readOnly": true
        },
        "productOrderName": {
          "description": "Product Order Name. For reservations this is the SKU that was purchased.",
          "type": "string",
          "readOnly": true
        },
        "isAzureCreditEligible": {
          "description": "Determines if the cost is eligible to be paid for using Azure credits.",
          "type": "boolean",
          "readOnly": true
        },
        "term": {
          "description": "Term (in months). Displays the term for the validity of the offer. For example. In case of reserved instances it displays 12 months for yearly term of reserved instance. For one time purchases or recurring purchases, the terms displays 1 month; This is not applicable for Azure consumption.",
          "type": "string",
          "readOnly": true
        },
        "publisherName": {
          "description": "Name of the publisher of the service including Microsoft or Third Party publishers.",
          "type": "string",
          "readOnly": true
        },
        "publisherType": {
          "description": "Type of publisher that identifies if the publisher is first party, third party reseller or third party agency.",
          "type": "string",
          "readOnly": true
        },
        "chargeType": {
          "description": "Indicates a charge represents credits, usage, a Marketplace purchase, a reservation fee, or a refund.",
          "type": "string",
          "readOnly": true
        },
        "frequency": {
          "description": "Indicates how frequently this charge will occur. OneTime for purchases which only happen once, Monthly for fees which recur every month, and UsageBased for charges based on how much a service is used.",
          "type": "string",
          "readOnly": true
        },
        "costInBillingCurrency": {
          "description": "ExtendedCost or blended cost before tax in billed currency.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        }, 
        "costInPricingCurrency": {
          "description": "ExtendedCost or blended cost before tax in pricing currency to correlate with prices.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        }, 
        "exchangeRate": {
          "description": "Exchange rate used in conversion from pricing currency to billing currency.",
          "type": "string",
          "readOnly": true
        },
        "exchangeRateDate": {
          "description": "Date on which exchange rate used in conversion from pricing currency to billing currency.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "invoiceId": {
          "description": "Invoice ID as on the invoice where the specific transaction appears.",
          "type": "string",
          "readOnly": true
        },
        "previousInvoiceId": {
          "description": "Reference to an original invoice there is a refund (negative cost). This is populated only when there is a refund.",
          "type": "string",
          "readOnly": true
        },
        "pricingCurrencyCode": {
          "description": "Pricing Billing Currency.",
          "type": "string",
          "readOnly": true
        },
        "productIdentifier": {
          "description": "Identifer for the product that has accrued charges by consumption or purchase . This is the concatenated key of productId and SKuId in partner center.",
          "type": "string",
          "readOnly": true
        },
        "resourceLocationNormalized": {
          "description": "Resource Location Normalized.",
          "type": "string",
          "readOnly": true
        },
        "servicePeriodStartDate": {
          "description": "Start date for the rating period when the service usage was rated for charges. The prices for Azure services are determined for the rating period.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "servicePeriodEndDate": {
          "description": "End date for the period when the service usage was rated for charges. The prices for Azure services are determined based on the rating period.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "customerTenantId": {
          "description": "Identifier of the customer's AAD tenant.",
          "type": "string",
          "readOnly": true
        },
        "customerName": {
          "description": "Name of the customer's AAD tenant.",
          "type": "string",
          "readOnly": true
        },
        "partnerTenantId": {
          "description": "Identifier for the partner's AAD tenant.",
          "type": "string",
          "readOnly": true
        },
        "partnerName": {
          "description": "Name of the partner' AAD tenant.",
          "type": "string",
          "readOnly": true
        },
        "resellerMpnId": {
          "description": "MPNId for the reseller associated with the subscription.",
          "type": "string",
          "readOnly": true
        },
        "resellerName": {
          "description": "Reseller Name.",
          "type": "string",
          "readOnly": true
        },
        "publisherId": {
          "description": "Publisher Id.",
          "type": "string",
          "readOnly": true
        },
        "marketPrice": {
          "description": "Market Price that's charged for the usage.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "exchangeRatePricingToBilling": {
          "description": "Exchange Rate from pricing currency to billing currency.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "paygCostInBillingCurrency": {
          "description": "The amount of PayG cost before tax in billing currency.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "paygCostInUSD": {
          "description": "The amount of PayG cost before tax in US Dollar currency.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "partnerEarnedCreditRate": {
          "description": "Rate of discount applied if there is a partner earned credit (PEC) based on partner admin link access.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "partnerEarnedCreditApplied": {
          "description": "Flag to indicate if partner earned credit has been applied or not.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Marketplace": {
      "description": "An marketplace resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MarketplaceProperties",
          "title": "Marketplace properties"
        }
      }
    },
    "MarketplacesListResult": {
      "description": "Result of listing marketplaces. It contains a list of available marketplaces in reverse chronological order by billing period.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of marketplaces.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Marketplace"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MarketplaceProperties": {
      "description": "The properties of the marketplace usage detail.",
      "type": "object",
      "properties": {
        "billingPeriodId": {
          "description": "The id of the billing period resource that the usage belongs to.",
          "type": "string",
          "readOnly": true
        },
        "usageStart": {
          "description": "The start of the date time range covered by the usage detail.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "usageEnd": {
          "description": "The end of the date time range covered by the usage detail.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "resourceRate": {
          "description": "The marketplace resource rate.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "offerName": {
          "description": "The type of offer.",
          "type": "string",
          "readOnly": true
        },
        "resourceGroup": {
          "description": "The name of resource group.",
          "type": "string",
          "readOnly": true
        },
        "orderNumber": {
          "description": "The order number.",
          "type": "string",
          "readOnly": true
        },
        "instanceName": {
          "description": "The name of the resource instance that the usage is about.",
          "type": "string",
          "readOnly": true
        },
        "instanceId": {
          "description": "The uri of the resource instance that the usage is about.",
          "type": "string",
          "readOnly": true
        },
        "currency": {
          "description": "The ISO currency in which the meter is charged, for example, USD.",
          "type": "string",
          "readOnly": true
        },
        "consumedQuantity": {
          "description": "The quantity of usage.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "unitOfMeasure": {
          "description": "The unit of measure.",
          "type": "string",
          "readOnly": true
        },
        "pretaxCost": {
          "description": "The amount of cost before tax.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "isEstimated": {
          "description": "The estimated usage is subject to change.",
          "type": "boolean",
          "readOnly": true
        },
        "meterId": {
          "description": "The meter id (GUID).",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "subscriptionGuid": {
          "description": "Subscription guid.",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "subscriptionName": {
          "description": "Subscription name.",
          "type": "string",
          "readOnly": true
        },
        "accountName": {
          "description": "Account name.",
          "type": "string",
          "readOnly": true
        },
        "departmentName": {
          "description": "Department name.",
          "type": "string",
          "readOnly": true
        },
        "consumedService": {
          "description": "Consumed service name.",
          "type": "string",
          "readOnly": true
        },
        "costCenter": {
          "description": "The cost center of this department if it is a department and a costcenter exists",
          "type": "string",
          "readOnly": true
        },
        "additionalProperties": {
          "description": "Additional details of this usage item. By default this is not populated, unless it's specified in $expand.",
          "type": "string",
          "readOnly": true
        },
        "publisherName": {
          "description": "The name of publisher.",
          "type": "string",
          "readOnly": true
        },
        "planName": {
          "description": "The name of plan.",
          "type": "string",
          "readOnly": true
        },
        "isRecurringCharge": {
          "description": "Flag indicating whether this is a recurring charge or not.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "Balance": {
      "description": "A balance resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BalanceProperties",
          "title": "Balance properties"
        }
      }
    },
    "BalanceProperties": {
      "description": "The properties of the balance.",
      "type": "object",
      "properties": {
        "currency": {
          "description": "The ISO currency in which the meter is charged, for example, USD.",
          "type": "string",
          "readOnly": true
        },
        "beginningBalance": {
          "description": "The beginning balance for the billing period.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "endingBalance": {
          "description": "The ending balance for the billing period (for open periods this will be updated daily).",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "newPurchases": {
          "description": "Total new purchase amount.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "adjustments": {
          "description": "Total adjustment amount.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "utilized": {
          "description": "Total Commitment usage.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "serviceOverage": {
          "description": "Overage for Azure services.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "chargesBilledSeparately": {
          "description": "Charges Billed separately.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "totalOverage": {
          "description": "serviceOverage + chargesBilledSeparately.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "totalUsage": {
          "description": "Azure service commitment + total Overage.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "azureMarketplaceServiceCharges": {
          "description": "Total charges for Azure Marketplace.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "billingFrequency": {
          "description": "The billing frequency.",
          "type": "string",
          "enum": [
            "Month",
            "Quarter",
            "Year"
          ],
          "x-ms-enum": {
            "name": "BillingFrequency",
            "modelAsString": true
          }
        },
        "priceHidden": {
          "description": "Price is hidden or not.",
          "type": "boolean",
          "readOnly": true
        },
        "newPurchasesDetails": {
          "description": "List of new purchases.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "the name of new purchase.",
                "type": "string",
                "readOnly": true
              },
              "value": {
                "description": "the value of new purchase.",
                "type": "number",
                "format": "decimal",
                "readOnly": true
              }
            }
          },
          "readOnly": true
        },
        "adjustmentDetails": {
          "description": "List of Adjustments (Promo credit, SIE credit etc.).",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "the name of new adjustment.",
                "type": "string",
                "readOnly": true
              },
              "value": {
                "description": "the value of new adjustment.",
                "type": "number",
                "format": "decimal",
                "readOnly": true
              }
            }
          },
          "readOnly": true
        }
      }
    },
    "ReservationSummary": {
      "description": "reservation summary resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReservationSummaryProperties",
          "title": "Reservation Summary properties"
        }
      }
    },
    "ReservationSummariesListResult": {
      "description": "Result of listing reservation summaries.",
      "properties": {
        "value": {
          "description": "The list of reservation summaries.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ReservationSummary"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ReservationSummaryProperties": {
      "description": "The properties of the reservation summary.",
      "properties": {
        "reservationOrderId": {
          "description": "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.",
          "type": "string",
          "readOnly": true
        },
        "reservationId": {
          "description": "The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.",
          "type": "string",
          "readOnly": true
        },
        "skuName": {
          "description": "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.",
          "type": "string",
          "readOnly": true
        },
        "reservedHours": {
          "description": "This is the total hours reserved. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "usageDate": {
          "description": "Data corresponding to the utilization record. If the grain of data is monthly, it will be first day of month.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "usedHours": {
          "description": "Total used hours by the reservation",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "minUtilizationPercentage": {
          "description": "This is the minimum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 10%, this field will return 10% for that day",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "avgUtilizationPercentage": {
          "description": "This is average utilization for the entire time range. (day or month depending on the grain)",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "maxUtilizationPercentage": {
          "description": "This is the maximum hourly utilization in the usage time (day or month). E.g. if usage record corresponds to 12/10/2017 and on that for hour 4 and 5, utilization was 100%, this field will return 100% for that day.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "kind": {
          "description": "The reservation kind.",
          "type": "string",
          "readOnly": true
        },
        "purchasedQuantity": {
          "description": "This is the purchased quantity for the reservationId.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "remainingQuantity": {
          "description": "This is the remaining quantity for the reservationId.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "totalReservedQuantity": {
          "description": "This is the total count of instances that are reserved for the reservationId.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "usedQuantity": {
          "description": "This is the used quantity for the reservationId.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "utilizedPercentage": {
          "description": "This is the utilized percentage for the reservation Id.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        }
      }
    },
    "ReservationDetail": {
      "description": "reservation detail resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReservationDetailProperties",
          "title": "Reservation Detail properties"
        }
      }
    },
    "ReservationDetailsListResult": {
      "description": "Result of listing reservation details.",
      "properties": {
        "value": {
          "description": "The list of reservation details.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ReservationDetail"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ReservationDetailProperties": {
      "description": "The properties of the reservation detail.",
      "properties": {
        "reservationOrderId": {
          "description": "The reservation order ID is the identifier for a reservation purchase. Each reservation order ID represents a single purchase transaction. A reservation order contains reservations. The reservation order specifies the VM size and region for the reservations.",
          "type": "string",
          "readOnly": true
        },
        "instanceFlexibilityRatio": {
          "description": "The instance Flexibility Ratio.",
          "type": "string",
          "readOnly": true
        },
        "instanceFlexibilityGroup": {
          "description": "The instance Flexibility Group.",
          "type": "string",
          "readOnly": true
        },
        "reservationId": {
          "description": "The reservation ID is the identifier of a reservation within a reservation order. Each reservation is the grouping for applying the benefit scope and also specifies the number of instances to which the reservation benefit can be applied to.",
          "type": "string",
          "readOnly": true
        },
        "skuName": {
          "description": "This is the ARM Sku name. It can be used to join with the serviceType field in additional info in usage records.",
          "type": "string",
          "readOnly": true
        },
        "reservedHours": {
          "description": "This is the total hours reserved for the day. E.g. if reservation for 1 instance was made on 1 PM, this will be 11 hours for that day and 24 hours from subsequent days.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "usageDate": {
          "description": "The date on which consumption occurred.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "usedHours": {
          "description": "This is the total hours used by the instance.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "instanceId": {
          "description": "This identifier is the name of the resource or the fully qualified Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "totalReservedQuantity": {
          "description": "This is the total count of instances that are reserved for the reservationId.",
          "type": "number",
          "format": "decimal",
          "readOnly": true
        },
        "kind": {
          "description": "The reservation kind.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ReservationRecommendationsListResult": {
      "description": "Result of listing reservation recommendations.",
      "properties": {
        "value": {
          "description": "The list of reservation recommendations.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ReservationRecommendation"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
	"ReservationRecommendation": {
      "description": "A reservation recommendation resource.",
      "type": "object",
      "discriminator": "kind",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "$ref": "#/definitions/ResourceAttributes"
        }
      ],
      "properties": {
        "kind": {
          "type": "string",
          "description": "Specifies the kind of reservation recommendation.",
[...]
