{
  "swagger": "2.0",
  "info": {
    "title": "REST API for Test Base",
    "description": "REST API for Test Base",
    "version": "2020-12-16-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.TestBase/skus": {
      "get": {
        "tags": [
          "Test Base"
        ],
        "operationId": "SKUs_List",
        "description": "Lists the available SKUs of Test Base in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestBaseSKUListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestBaseSKUsList": {
            "$ref": "./examples/TestBaseSKUsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.TestBase/testBases": {
      "get": {
        "tags": [
          "Test Base"
        ],
        "operationId": "TestBases_ListBySubscription",
        "description": "Lists all the Test Bases in a subscription. This API is required by ARM guidelines.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestBaseListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestBasesListBySubscription": {
            "$ref": "./examples/TestBasesListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases": {
      "get": {
        "tags": [
          "Test Base"
        ],
        "operationId": "TestBases_List",
        "description": "Lists all the Test Bases in a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestBaseListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestBasesList": {
            "$ref": "./examples/TestBasesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}": {
      "put": {
        "tags": [
          "Test Base"
        ],
        "operationId": "TestBase_Create",
        "description": "Create or replace (overwrite/recreate, with potential downtime) a Test Base in the specified subscription.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestBaseResource"
            },
            "description": "Parameters supplied to create a Test Base."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base was successfully created or updated.",
            "schema": {
              "$ref": "#/definitions/TestBaseResource"
            }
          },
          "201": {
            "description": "The Test Base 'create' or 'update' operation was successfully enqueued. Check provisioningState to see detailed status.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/TestBaseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseCreate": {
            "$ref": "./examples/TestBaseCreate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Test Base"
        ],
        "operationId": "TestBase_Update",
        "description": "Update an existing Test Base.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TestBaseUpdateParameters"
            },
            "description": "Parameters supplied to update a Test Base."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The existing Test Base was successfully updated.",
            "schema": {
              "$ref": "#/definitions/TestBaseResource"
            }
          },
          "202": {
            "description": "The Test Base 'update' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseUpdate": {
            "$ref": "./examples/TestBaseUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Base"
        ],
        "operationId": "TestBase_Delete",
        "description": "Deletes a Test Base.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base 'delete' operation was completed successfully."
          },
          "202": {
            "description": "The Test Base 'delete' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Test Base 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseDelete": {
            "$ref": "./examples/TestBaseDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Base"
        ],
        "operationId": "TestBase_Get",
        "description": "Gets a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base was successfully found.",
            "schema": {
              "$ref": "#/definitions/TestBaseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseGet": {
            "$ref": "./examples/TestBaseGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/usages": {
      "get": {
        "tags": [
          "Test Base"
        ],
        "operationId": "TestBaseUsage_List",
        "description": "Lists the usage data of a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The usage of the Test Base was returned.",
            "schema": {
              "$ref": "#/definitions/TestBaseUsageDataList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestBaseUsagesList": {
            "$ref": "./examples/TestBaseUsagesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/getFileUploadUrl": {
      "post": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "TestBaseGetFileUploadUrl",
        "description": "Gets the file upload URL of a Test Base.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/GetFileUploadURLParameters"
            },
            "description": "Parameters supplied to the Test Base GetFileUploadURL operation."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The file upload URL of the Test Base was returned.",
            "schema": {
              "$ref": "#/definitions/FileUploadURLResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestBaseGetFileUploadUrl": {
            "$ref": "./examples/TestBaseGetFileUploadUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/availableOSs": {
      "get": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "TestBaseAvailableOSs_List",
        "description": "Lists all the available OSs to run a package under a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/OSUpdateTypeParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/AvailableOSListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvailableOSsList": {
            "$ref": "./examples/AvailableOSsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/availableOSs/{availableOSResourceName}": {
      "get": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "TestBaseAvailableOS_Get",
        "description": "Gets an available OS to run a package under a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "name": "availableOSResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of an Available OS."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/AvailableOSResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "AvailableOSGet": {
            "$ref": "./examples/AvailableOSGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/flightingRings": {
      "get": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "TestBaseFlightingRings_List",
        "description": "Lists all the flighting rings of a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FlightingRingListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "FlightingRingsList": {
            "$ref": "./examples/FlightingRingsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/flightingRings/{flightingRingResourceName}": {
      "get": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "TestBaseFlightingRing_Get",
        "description": "Gets a flighting ring of a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "name": "flightingRingResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of a flighting ring."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FlightingRingResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FlightingRingGet": {
            "$ref": "./examples/FlightingRingGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/testTypes": {
      "get": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "TestBaseTestTypes_List",
        "description": "Lists all the test types of a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestTypeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestTypesList": {
            "$ref": "./examples/TestTypesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/testTypes/{testTypeResourceName}": {
      "get": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "TestBaseTestType_Get",
        "description": "Gets a test type of a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "name": "testTypeResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of a test type."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestTypeResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestTypeGet": {
            "$ref": "./examples/TestTypeGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/checkPackageNameAvailability": {
      "post": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "CheckPackageNameAvailability",
        "description": "Checks that the Test Base package name and version is valid and is not already in use.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageCheckNameAvailabilityParameters"
            },
            "description": "Parameters supplied to the Test Base package CheckNameAvailability operation."
          }
        ],
        "responses": {
          "200": {
            "description": "Name is available",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckPackageNameAvailability": {
            "$ref": "./examples/CheckPackageNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages": {
      "get": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "Packages_List",
        "description": "Lists all the packages under a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/PackageListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "PackagesList": {
            "$ref": "./examples/PackagesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}": {
      "put": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "Package_Create",
        "description": "Create or replace (overwrite/recreate, with potential downtime) a Test Base package.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageResource"
            },
            "description": "Parameters supplied to create a Test Base Package."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Package was successfully created or updated.",
            "schema": {
              "$ref": "#/definitions/PackageResource"
            }
          },
          "201": {
            "description": "The Test Base Package 'create' or 'update' operation was successfully enqueued. Check provisioningState to see detailed status.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/PackageResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageCreate": {
            "$ref": "./examples/PackageCreate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "Package_Update",
        "description": "Update an existing Test Base package.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PackageUpdateParameters"
            },
            "description": "Parameters supplied to update a Test Base package."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The existing Test Base package was successfully updated. Check provisioningState to see detailed status.",
            "schema": {
              "$ref": "#/definitions/PackageResource"
            }
          },
          "202": {
            "description": "The Test Base package 'update' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageUpdate": {
            "$ref": "./examples/PackageUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "Package_Delete",
        "description": "Deletes a Test Base package.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base package 'delete' operation was completed successfully."
          },
          "202": {
            "description": "The Test Base package 'delete' operation was successfully enqueued. Follow the Location header to poll for final outcome.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              },
              "Location": {
                "description": "URL to query for status of the operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "The Test Base package 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageDelete": {
            "$ref": "./examples/PackageDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "Package_Get",
        "description": "Gets a Test Base package.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base package was successfully found.",
            "schema": {
              "$ref": "#/definitions/PackageResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageGet": {
            "$ref": "./examples/PackageGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/getDownloadUrl": {
      "post": {
        "tags": [
          "Test Base package"
        ],
        "operationId": "PackageGetDownloadURL",
        "description": "Gets the download URL of a package.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The package download URL is returned.",
            "schema": {
              "$ref": "#/definitions/DownloadURLResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PackageGetDownloadURL": {
            "$ref": "./examples/PackageGetDownloadURL.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/testSummaries": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestSummaries_List",
        "description": "Lists the Test Summaries of all the packages under a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestSummaryListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestSummariesList": {
            "$ref": "./examples/TestSummariesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/testSummaries/{testSummaryName}": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestSummary_Get",
        "description": "Gets a Test Summary with specific name from all the Test Summaries of all the packages under a Test Base.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "name": "testSummaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the Test Summary."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestSummaryResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestSummaryGet": {
            "$ref": "./examples/TestSummaryGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/testResults": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestResults_List",
        "description": "Lists all the Test Results with specified OS Update type for a Test Base package. Can be filtered by osName, releaseName, flightingRing, buildVersion, buildRevision.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/OSUpdateTypeParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestResultListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "TestResultsList": {
            "$ref": "./examples/TestResultsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/testResults/{testResultName}": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestResult_Get",
        "description": "Get the Test Result by Id with specified OS Update type for a Test Base package.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/TestResultResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestResultGet": {
            "$ref": "./examples/TestResultGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/osUpdates": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "OSUpdates_List",
        "description": "Lists the OS Updates which are tested on this package.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/OSUpdateTypeParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/OSUpdateListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OSUpdatesList": {
            "$ref": "./examples/OSUpdatesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/osUpdates/{osUpdateResourceName}": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "OSUpdate_Get",
        "description": "Gets an OS Update of a package by name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "name": "osUpdateResourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The resource name of an OS Update."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/OSUpdateResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OSUpdateGet": {
            "$ref": "./examples/OSUpdateGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/favoriteProcesses": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "FavoriteProcesses_List",
        "description": "Lists the favorite processes for a specific package.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FavoriteProcessListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "FavoriteProcessesList": {
            "$ref": "./examples/FavoriteProcessesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/favoriteProcesses/{favoriteProcessResourceName}": {
      "put": {
        "tags": [
          "Test Result"
        ],
        "operationId": "FavoriteProcess_Create",
        "description": "Create or replace a favorite process for a Test Base package.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FavoriteProcessResource"
            },
            "description": "Parameters supplied to create a favorite process in a package."
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/FavoriteProcessResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The favorite processes was successfully created or updated.",
            "schema": {
              "$ref": "#/definitions/FavoriteProcessResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FavoriteProcessCreate": {
            "$ref": "./examples/FavoriteProcessCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Result"
        ],
        "operationId": "FavoriteProcess_Delete",
        "description": "Deletes a favorite process for a specific package.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/FavoriteProcessResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The package favorite process 'delete' operation was completed successfully."
          },
          "204": {
            "description": "The package favorite process 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FavoriteProcessDelete": {
            "$ref": "./examples/FavoriteProcessDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "FavoriteProcess_Get",
        "description": "Gets a favorite process for a Test Base package.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/FavoriteProcessResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/FavoriteProcessResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FavoriteProcessGet": {
            "$ref": "./examples/FavoriteProcessGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/testResults/{testResultName}/analysisResults": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "AnalysisResults_List",
        "description": "Lists the Analysis Results of a Test Result. The result collection will only contain one element as all the data will be nested in a singleton object.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "#/parameters/AnalysisResultTypeParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/AnalysisResultListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "MemoryUtilizationAnalysisResultsList": {
            "$ref": "./examples/MemoryUtilizationAnalysisResultsList.json"
          },
          "CPUUtilizationAnalysisResultsList": {
            "$ref": "./examples/CPUUtilizationAnalysisResultsList.json"
          },
          "MemoryRegressionAnalysisResultsList": {
            "$ref": "./examples/MemoryRegressionAnalysisResultsList.json"
          },
          "CPURegressionAnalysisResultsList": {
            "$ref": "./examples/CPURegressionAnalysisResultsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/testResults/{testResultName}/analysisResults/{analysisResultName}": {
      "get": {
        "tags": [
          "Test Result"
        ],
        "operationId": "AnalysisResult_Get",
        "description": "Gets an Analysis Result of a Test Result by name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "#/parameters/AnalysisResultNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/AnalysisResultSingletonResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "MemoryUtilizationAnalysisResultGet": {
            "$ref": "./examples/MemoryUtilizationAnalysisResultGet.json"
          },
          "CPUUtilizationAnalysisResultGet": {
            "$ref": "./examples/CPUUtilizationAnalysisResultGet.json"
          },
          "MemoryRegressionAnalysisResultGet": {
            "$ref": "./examples/MemoryRegressionAnalysisResultGet.json"
          },
          "CPURegressionAnalysisResultGet": {
            "$ref": "./examples/CPURegressionAnalysisResultGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBases/{testBaseName}/packages/{packageName}/testResults/{testResultName}/getDownloadUrl": {
      "post": {
        "tags": [
          "Test Result"
        ],
        "operationId": "TestResultGetDownloadURL",
        "description": "Gets the download URL or the test result.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/TestBaseNameParameter"
          },
          {
            "$ref": "#/parameters/PackageNameParameter"
          },
          {
            "$ref": "#/parameters/TestResultNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/DownloadURLResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "TestResultGetDownloadURL": {
            "$ref": "./examples/TestResultGetDownloadURL.json"
          }
        }
      }
    },
    "/providers/Microsoft.TestBase/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "description": "Lists all of the available REST API operations of the Microsoft.TestBase provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of operations.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsList": {
            "$ref": "./examples/OperationsList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The Resource definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "description": "The resource model definition for an ARM proxy resource. It will have everything other than required location and tags",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "Tags": {
      "type": "object",
      "additionalProperties": {
        "type": "string"
      },
      "description": "Resource tags."
    },
    "TrackedResource": {
      "description": "The resource model definition for an ARM tracked top level resource",
      "properties": {
        "tags": {
          "description": "The tags of the resource.",
          "$ref": "#/definitions/Tags"
        },
        "location": {
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ],
          "description": "The geo-location where the resource lives"
        }
      },
      "required": [
        "location"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ErrorResponse": {
      "description": "The error response send when an operation fails.",
      "properties": {
        "error": {
          "description": "The error info.",
          "properties": {
            "code": {
              "type": "string",
              "readOnly": true,
              "description": "error code"
            },
            "message": {
              "type": "string",
              "readOnly": true,
              "description": "error message"
            }
          }
        }
      }
    },
    "TestBaseSKUListResult": {
      "description": "A list of Test Base SKUs.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestBaseSKU"
          },
          "description": "The list of Test Base SKUs."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "TestBaseSKU": {
      "description": "Properties of the Test Base SKU.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the SKU. This is typically a letter + number code, such as A0 or P3."
        },
        "tier": {
          "type": "string",
          "description": "The tier of this particular SKU.",
          "enum": [
            "Free",
            "Paid"
          ],
          "x-ms-enum": {
            "name": "tier",
            "modelAsString": true
          }
        },
        "capabilities": {
          "type": "array",
          "description": "The capabilities of a SKU.",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/TestBaseSKUCapability"
          }
        }
      },
      "required": [
        "name",
        "tier"
      ]
    },
    "TestBaseSKUCapability": {
      "description": "Properties of the Test Base SKU Capability.",
      "properties": {
        "name": {
          "type": "string",
          "description": "An invariant to describe the feature, such as 'SLA'."
        },
        "value": {
          "type": "string",
          "description": "An invariant if the feature is measured by quantity, such as 99.9%."
        }
      },
      "required": [
        "name",
        "value"
      ]
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The type of identity that last modified the resource."
        }
      }
    },
    "TestBaseListResult": {
      "description": "A list of Test Bases.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestBaseResource"
          },
          "description": "The list of Test Bases."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "TestBaseResource": {
      "description": "The Test Base resource.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TestBaseResourceProperties",
          "description": "Properties of a Test Base."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "TestBaseResourceProperties": {
      "description": "The properties of a Test Base resource.",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the resource.",
          "$ref": "#/definitions/ProvisioningState"
        },
        "sku": {
          "description": "The SKU of the Test Base.",
          "$ref": "#/definitions/TestBaseSKU"
        },
        "testBaseStatus": {
          "type": "string",
          "description": "The status of the Test Base.",
          "enum": [
            "Ready",
            "Pending"
          ],
          "readOnly": true,
          "x-ms-enum": {
            "name": "testBaseStatus",
            "modelAsString": true
          }
        }
      },
      "required": [
        "sku"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "ARM provisioning state, see https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/Addendum.md#provisioningstate-property",
      "enum": [
        "Succeeded",
        "Failed",
        "Cancelled",
        "Creating",
        "Deleting",
        "Updating"
      ],
      "readOnly": true,
      "x-ms-enum": {
        "name": "provisioningState",
        "modelAsString": true
      }
    },
    "TestBaseUpdateParameters": {
      "description": "Parameters supplied to update a Test Base.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/TestBaseUpdateParameterProperties",
          "x-ms-client-flatten": true,
          "description": "Test Base update parameters."
        },
        "tags": {
          "description": "The tags of the Test Base.",
          "$ref": "#/definitions/Tags"
        }
      }
    },
    "TestBaseUpdateParameterProperties": {
      "description": "Parameters supplied to update a Test Base.",
      "properties": {
        "sku": {
          "description": "The SKU of the Test Base.",
          "$ref": "#/definitions/TestBaseSKU"
        }
      }
    },
    "TestBaseUsageDataList": {
      "description": "A list of Test Base usage data.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestBaseUsageData"
          },
          "description": "The list of Test Base usage data."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "TestBaseUsageData": {
      "description": "The usage data of a Test Base.",
      "properties": {
        "id": {
          "description": "Fully qualified ARM resource id",
          "type": "string"
        },
        "name": {
          "$ref": "#/definitions/TestBaseUsageName",
          "description": "Localizable String object containing the name and a localized value."
        },
        "unit": {
          "description": "Representing the units of the usage quota. Possible values are: Count, Bytes, Seconds, Percent, CountPerSecond, BytesPerSecond.",
          "type": "string"
        },
        "limit": {
          "format": "int64",
          "description": "The maximum permitted value for the usage quota. If there is no limit, this value will be -1.",
          "type": "integer"
        },
        "currentValue": {
          "format": "int64",
          "description": "Current value for the usage quota.",
          "type": "integer"
        }
      }
    },
    "TestBaseUsageName": {
      "description": "Localizable String object containing the name and a localized value.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The identifier of the usage.",
          "type": "string"
        },
        "localizedValue": {
          "description": "Localized name of the usage.",
          "type": "string"
        }
      }
    },
    "GetFileUploadURLParameters": {
      "description": "The parameters supplied to the Test Base GetFileUploadURL action.",
      "properties": {
        "blobName": {
          "type": "string",
          "description": "The custom file name of the uploaded blob."
        }
      }
    },
    "FileUploadURLResponse": {
      "description": "The URL response",
      "properties": {
        "uploadUrl": {
          "type": "string",
          "readOnly": true,
          "description": "The URL used for uploading the package."
        },
        "blobPath": {
          "type": "string",
          "readOnly": true,
          "description": "The blob path of the uploaded package. It will be used as the 'blobPath' property of PackageResource."
        }
      }
    },
    "AvailableOSListResult": {
      "description": "A list of available OSs.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AvailableOSResource"
          },
          "description": "The list of available OSs."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "AvailableOSResource": {
      "description": "The Available OS resource.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "$ref": "#/definitions/AvailableOSProperties",
          "x-ms-client-flatten": true,
          "description": "Available OS properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "AvailableOSProperties": {
      "description": "The Available OS properties.",
      "properties": {
        "actualOSName": {
          "type": "string",
          "description": "The actual name of an Available OS of a Test Base."
        }
      }
    },
    "FlightingRingListResult": {
      "description": "A list of flighting rings.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FlightingRingResource"
          },
          "description": "The list of flighting rings."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "FlightingRingResource": {
      "description": "The flighting ring resource.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "$ref": "#/definitions/FlightingRingProperties",
          "x-ms-client-flatten": true,
          "description": "Flighting Ring properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "FlightingRingProperties": {
      "description": "The Flighting Ring properties.",
      "properties": {
        "actualFlightingRingName": {
          "type": "string",
          "description": "The actual name of a flighting ring of a Test Base."
        }
      }
    },
    "TestTypeListResult": {
      "description": "A list of test types.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestTypeResource"
          },
          "description": "The list of test types."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "TestTypeResource": {
      "description": "The test type resource.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "$ref": "#/definitions/TestTypeProperties",
          "x-ms-client-flatten": true,
          "description": "Test Type properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "TestTypeProperties": {
      "description": "The Test Type properties.",
      "properties": {
        "actualTestTypeName": {
          "type": "string",
          "description": "The actual name of a test type of a Test Base."
        }
      }
    },
    "PackageCheckNameAvailabilityParameters": {
      "description": "Parameters body to pass for Test Base package name availability check.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name to verify."
        },
        "applicationName": {
          "type": "string",
          "description": "Application name to verify."
        },
        "version": {
          "type": "string",
          "description": "Version name to verify."
        },
        "type": {
          "type": "string",
          "description": "fully qualified resource type which includes provider namespace."
        }
      },
      "required": [
        "name",
        "applicationName",
        "version",
        "type"
      ]
    },
    "CheckNameAvailabilityResult": {
      "properties": {
        "nameAvailable": {
          "type": "boolean",
          "description": "Value indicating the availability of the name: true if the name is available; otherwise, false."
        },
        "reason": {
          "type": "string",
          "description": "The reason for unavailability of a name. Required if nameAvailable == false.",
          "enum": [
            "Invalid",
            "AlreadyExists"
          ],
          "x-ms-enum": {
            "name": "reason",
            "modelAsString": true
          }
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "The detailed info regarding the reason associated with the name. Required if nameAvailable == false."
        }
      },
      "description": "Description of a Check Name availability response properties."
    },
    "PackageListResult": {
      "description": "A list of Test Base packages.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageResource"
          },
          "description": "The list of Test Base packages."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "PackageResource": {
      "description": "The Test Base package resource.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "$ref": "#/definitions/PackageProperties",
          "x-ms-client-flatten": true,
          "description": "Test Base package properties."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ]
    },
    "PackageProperties": {
      "description": "The properties of the Test Base package.",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the resource.",
          "$ref": "#/definitions/ProvisioningState"
        },
        "applicationName": {
          "type": "string",
          "description": "Application name"
        },
        "version": {
          "type": "string",
          "description": "Application version"
        },
        "testTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "OOB, functional or both. OOB must be selected"
        },
        "targetOSList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TargetOSInfo"
          },
          "description": "Specifies the target OSs of specific OS Update types."
        },
        "packageStatus": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the package.",
          "enum": [
            "Unknown",
            "Registered",
            "Ready",
            "Error",
            "ValidatingPackage",
            "PreValidationCheckPass",
            "Deleted",
            "ValidationLongerThanUsual",
            "VerifyingPackage"
          ],
          "x-ms-enum": {
            "name": "packageStatus",
            "modelAsString": true
          }
        },
        "lastModifiedTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time",
          "description": "The UTC timestamp when the package was last modified."
        },
        "flightingRing": {
          "type": "string",
          "description": "The flighting ring for feature update."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Specifies whether the package is enabled. It doesn't schedule test for package which is not enabled."
        },
        "blobPath": {
          "type": "string",
          "description": "The file path of the package."
        },
        "validationResults": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/PackageValidationResult"
          },
          "description": "The validation results. There's validation on package when it's created or updated."
        },
        "tests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Test"
          },
          "description": "The detailed test information."
        }
      },
      "required": [
        "applicationName",
        "version",
        "testTypes",
        "targetOSList",
        "flightingRing",
        "blobPath",
        "tests"
      ]
    },
    "TargetOSInfo": {
      "description": "The information of the target OS to be tested.",
      "properties": {
        "osUpdateType": {
          "type": "string",
          "description": "Specifies the OS update type to test against, e.g., 'Security updates' or 'Feature updates'."
        },
        "targetOSs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the target OSs to be tested."
        }
      },
      "required": [
        "osUpdateType",
        "targetOSs"
      ]
    },
    "PackageValidationResult": {
      "description": "The validation results. There's validation on package when it's created or updated.",
      "properties": {
        "validationName": {
          "type": "string",
          "readOnly": true,
          "description": "Validation name."
        },
        "isValid": {
          "type": "boolean",
          "readOnly": true,
          "description": "Indicates whether the package passed the validation."
        },
        "errors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Error information."
        }
      }
    },
    "Test": {
      "description": "The definition of a Test.",
      "properties": {
        "testType": {
          "type": "string",
          "description": "The test type.",
          "enum": [
            "OutOfBoxTest",
            "FunctionalTest"
          ],
          "x-ms-enum": {
            "name": "testType",
            "modelAsString": true
          }
        },
        "validationRunStatus": {
          "readOnly": true,
          "type": "string",
          "description": "The status of the validation run of the package.",
          "enum": [
            "Unknown",
            "Pending",
            "Passed",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "validationRunStatus",
            "modelAsString": true
          }
        },
        "isActive": {
          "type": "boolean",
          "description": "Indicates if this test is active.It doesn't schedule test for not active Test."
        },
        "commands": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Command"
          },
          "description": "The commands used in the test."
        }
      },
      "required": [
        "testType",
        "commands"
      ]
    },
    "Command": {
      "description": "The command used in the test",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the command."
        },
        "action": {
          "type": "string",
          "description": "The action of the command.",
          "enum": [
            "Install",
            "Launch",
            "Close",
            "Uninstall",
            "Custom"
          ],
          "x-ms-enum": {
            "name": "action",
            "modelAsString": true
          }
        },
        "contentType": {
          "type": "string",
          "description": "The type of command content.",
          "enum": [
            "Inline",
            "File",
            "Path"
          ],
          "x-ms-enum": {
            "name": "contentType",
            "modelAsString": true
          }
        },
        "content": {
          "type": "string",
          "description": "The content of the command. The content depends on source type."
        },
        "runElevated": {
          "type": "boolean",
          "description": "Specifies whether to run the command as administrator."
        },
        "restartAfter": {
          "type": "boolean",
          "description": "Specifies whether to restart the VM after the command executed."
        },
        "maxRunTime": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the max run time of the command."
        },
        "runAsInteractive": {
          "type": "boolean",
          "description": "Specifies whether to run the command in interactive mode."
        },
        "alwaysRun": {
          "type": "boolean",
          "description": "Specifies whether to run the command even if a previous command is failed."
        },
        "applyUpdateBefore": {
          "type": "boolean",
          "description": "Specifies whether to apply update before the command."
        }
      },
      "required": [
        "name",
        "action",
        "contentType",
        "content"
      ]
    },
    "PackageUpdateParameters": {
      "description": "Parameters supplied to update a Test Base package.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PackageUpdateParameterProperties",
          "x-ms-client-flatten": true,
          "description": "Test Base package update parameters."
        },
        "tags": {
          "description": "The tags of the Package.",
          "$ref": "#/definitions/Tags"
        }
      }
    },
    "PackageUpdateParameterProperties": {
      "description": "Parameters supplied to update a Test Base package.",
      "properties": {
        "applicationName": {
          "type": "string",
          "description": "Application name"
        },
        "version": {
          "type": "string",
          "description": "Application version"
        },
        "testTypes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "OOB, functional or both. OOB must be selected"
        },
        "targetOSList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TargetOSInfo"
          },
          "description": "Specifies the target OSs of specific OS Update types."
        },
        "flightingRing": {
          "type": "string",
          "description": "The flighting ring for feature update."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Specifies whether the package is enabled. It doesn't schedule test for package which is not enabled."
        },
        "blobPath": {
          "type": "string",
          "description": "The file name of the package."
        },
        "tests": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Test"
          },
          "description": "The detailed test information."
        }
      }
    },
    "DownloadURLResponse": {
      "description": "The response of getting a download URL.",
      "properties": {
        "downloadUrl": {
          "type": "string",
          "readOnly": true,
          "description": "The download URL."
        },
        "expirationTime": {
          "type": "string",
          "readOnly": true,
          "format": "date-time",
          "description": "Expiry date of the download URL."
        }
      }
    },
    "TestSummaryListResult": {
      "description": "A list of Test Summaries.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestSummaryResource"
          },
          "description": "The list of Test Summaries."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "TestSummaryResource": {
      "description": "Summary of a Test.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TestSummaryProperties",
          "description": "Properties of a Test Summary."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "TestSummaryProperties": {
      "description": "Properties of a Test Summary.",
      "properties": {
        "testSummaryId": {
          "type": "string",
          "description": "The Id of the current Test Summary."
        },
        "packageId": {
          "type": "string",
          "description": "The Azure resource Id of package."
        },
        "applicationName": {
          "type": "string",
          "description": "Application name."
        },
        "applicationVersion": {
          "type": "string",
          "description": "Application version."
        },
        "executionStatus": {
          "$ref": "#/definitions/TestExecutionStatus",
          "description": "The execution status of last test."
        },
        "grade": {
          "$ref": "#/definitions/TestGrade",
          "description": "The grade of the test."
        },
        "testRunTime": {
          "type": "string",
          "description": "The run time of the last test."
        },
        "featureUpdatesTestSummary": {
          "$ref": "#/definitions/OSUpdatesTestSummary",
          "description": "The result summary of tests triggered by feature updates"
        },
        "securityUpdatesTestSummary": {
          "$ref": "#/definitions/OSUpdatesTestSummary",
          "description": "The result summary of tests triggered by security updates"
        }
      }
    },
    "TestExecutionStatus": {
      "type": "string",
      "description": "The execution status of a test.",
      "enum": [
        "None",
        "InProgress",
        "Processing",
        "Completed",
        "NotExecuted",
        "Incomplete",
        "Failed",
        "Succeeded"
      ],
      "x-ms-enum": {
        "name": "executionStatus",
        "modelAsString": true
      }
    },
    "TestGrade": {
      "type": "string",
      "description": "The grade of a test.",
      "enum": [
        "None",
        "NotAvailable",
        "Pass",
        "Fail"
      ],
      "x-ms-enum": {
        "name": "grade",
        "modelAsString": true
      }
    },
    "OSUpdatesTestSummary": {
      "description": "The summary of some tests.",
      "properties": {
        "executionStatus": {
          "$ref": "#/definitions/TestExecutionStatus",
          "description": "The status of the last test."
        },
        "grade": {
          "$ref": "#/definitions/TestGrade",
          "description": "The grade of last test."
        },
        "testRunTime": {
          "type": "string",
          "description": "The run time of the last test."
        },
        "osUpdateTestSummaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OSUpdateTestSummary"
          },
          "description": "Detailed summary for each OS update"
        }
      }
    },
    "OSUpdateTestSummary": {
      "description": "The summary of a test.",
      "properties": {
        "osName": {
          "type": "string",
          "description": "The operating system name. e.g. Windows 10 1809."
        },
        "releaseName": {
          "type": "string",
          "description": "The name of the tested release (OS update)."
        },
        "buildVersion": {
          "type": "string",
          "description": "The build version of the tested release (OS update)"
        },
        "buildRevision": {
          "type": "string",
          "description": "The build revision of the tested release (OS update)"
        },
        "flightingRing": {
          "type": "string",
          "description": "The flighting ring, only for release of feature updates."
        },
        "executionStatus": {
          "$ref": "#/definitions/TestExecutionStatus",
          "description": "The execution status of the test."
        },
        "grade": {
          "$ref": "#/definitions/TestGrade",
          "description": "The grade of the test."
        },
        "testRunTime": {
          "type": "string",
          "description": "The run time of the test."
        }
      }
    },
    "TestResultListResult": {
      "description": "A list of Test Results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestResultResource"
          },
          "description": "The list of Test Results."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "TestResultResource": {
      "description": "The Test Result Resource.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "$ref": "#/definitions/TestResultProperties",
          "x-ms-client-flatten": true,
          "description": "The properties of a Test Result."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "TestResultProperties": {
      "description": "The properties of a Test Result.",
      "properties": {
        "testResultId": {
          "type": "string",
          "description": "Id of the current test result. This is a GUID-formatted string."
        },
        "baselineTestResultId": {
          "type": "string",
          "description": "Id of the baseline test result. This is a GUID-formatted string."
        },
        "packageId": {
          "type": "string",
          "description": "Resource Id of the package."
        },
        "applicationName": {
          "type": "string",
          "description": "Application name."
        },
        "applicationVersion": {
          "type": "string",
          "description": "Application version."
        },
        "osName": {
          "type": "string",
          "description": "The operating system name, e.g. Windows 10 1809."
        },
        "releaseName": {
          "type": "string",
          "description": "The name of the tested release (OS update)."
        },
        "flightingRing": {
          "type": "string",
          "description": "The flighting ring, only for release of feature updates."
        },
        "buildVersion": {
          "type": "string",
          "description": "The build version of the tested release (OS update)."
        },
        "buildRevision": {
          "type": "string",
          "description": "The build revision of the tested release (OS update)."
        },
        "testType": {
          "type": "string",
          "description": "Test type. E.g. 'Out of box test' or 'Functional test'."
        },
        "testRunTime": {
          "type": "string",
          "description": "The run time of the test."
        },
        "isDownloadDataAvailable": {
          "type": "boolean",
          "description": "Whether download data is available."
        },
        "executionStatus": {
          "$ref": "#/definitions/TestExecutionStatus",
          "description": "The execution status of the test."
        },
        "grade": {
          "$ref": "#/definitions/TestGrade",
          "description": "The grade of the test."
        },
        "kbNumber": {
          "type": "string",
          "description": "KB number."
        },
        "packageVersion": {
          "type": "string",
          "description": "The version of the Windows update package."
        },
        "analysisSummaries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TestResultAnalysisSummary"
          },
          "description": "List of analysis summaries."
        }
      }
    },
    "TestResultAnalysisSummary": {
      "description": "The summary of a Test Analysis Result.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Metric name"
        },
        "analysisStatus": {
          "type": "string",
          "description": "The analysis status.",
          "enum": [
            "None",
            "Completed",
            "InProgress",
            "Failed",
            "Succeeded",
            "Available",
            "NotAvailable"
          ],
          "x-ms-enum": {
            "name": "analysisStatus",
            "modelAsString": true
          }
        },
        "grade": {
          "$ref": "#/definitions/TestGrade",
          "description": "The grade of the test result."
        }
      }
    },
    "OSUpdateListResult": {
      "description": "A list of OS Updates.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OSUpdateResource"
          },
          "description": "The list of OS Updates."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "OSUpdateResource": {
      "description": "An OS Update.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OSUpdateProperties",
          "description": "Properties of an OS Update."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "OSUpdateProperties": {
      "description": "Properties of an OS Update.",
      "properties": {
        "osName": {
          "type": "string",
          "description": "The name of the OS."
        },
        "release": {
          "type": "string",
          "description": "The name of tested release."
        },
        "flightingRing": {
          "type": "string",
          "description": "The flighting ring, only for release of feature updates."
        },
        "buildVersion": {
          "type": "string",
          "description": "The build version of the tested release (OS update)."
        },
        "buildRevision": {
          "type": "string",
          "description": "The build revision of the tested release (OS update)"
        },
        "type": {
          "type": "string",
          "description": "The type of this release (OS update).",
          "enum": [
            "SecurityUpdate",
            "FeatureUpdate"
          ],
          "x-ms-enum": {
            "name": "type",
            "modelAsString": true
          }
        }
      }
    },
    "FavoriteProcessListResult": {
      "description": "A list of favorite processes for a package.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FavoriteProcessResource"
          },
          "description": "The list of favorite processes for a package."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "FavoriteProcessResource": {
      "description": "A favorite process identifier.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/FavoriteProcessProperties",
          "description": "Properties of a favorite process identifier."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ]
    },
    "FavoriteProcessProperties": {
      "description": "Properties of a favorite process identifier.",
      "properties": {
        "actualProcessName": {
          "type": "string",
          "description": "The actual name of the favorite process. It will be equal to resource name except for the scenario that the process name contains characters that are not allowed in the resource name."
        }
      },
      "required": [
        "actualProcessName"
      ]
    },
    "AnalysisResultListResult": {
      "description": "A list of Analysis Results. It will only contain one element as all the data will be nested in a singleton object.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AnalysisResultSingletonResource"
          },
          "description": "The list of Analysis Results."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "AnalysisResultSingletonResource": {
      "description": "The Analysis Result Singleton Resource.",
      "properties": {
        "systemData": {
          "description": "The system metadata relating to this resource",
          "$ref": "#/definitions/SystemData"
        },
[...]
