{
  "swagger": "2.0",
  "info": {
    "title": "BatchService",
    "version": "2017-06-01.5.1",
    "description": "A client for issuing REST requests to the Azure Batch service.",
    "x-ms-code-generation-settings": {
      "name": "BatchServiceClient"
    }
  },
  "host": "batch.core.windows.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json; odata=minimalmetadata"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/applications": {
      "get": {
        "tags": [
          "Applications"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Application_List",
        "summary": "Lists all of the applications available in the specified account.",
        "description": "This operation returns only applications and versions that are available for use on compute nodes; that is, that can be used in an application package reference. For administrator information about applications and versions that are not yet available to compute nodes, use the Azure portal or the Azure Resource Manager API.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "default": 1000,
            "minimum": 1,
            "maximum": 1000,
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response. A maximum of 1000 applications can be returned.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the list of applications.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/applications/{applicationId}": {
      "get": {
        "tags": [
          "Applications"
        ],
        "operationId": "Application_Get",
        "summary": "Gets information about the specified application.",
        "description": "This operation returns only applications and versions that are available for use on compute nodes; that is, that can be used in an application package reference. For administrator information about applications and versions that are not yet available to compute nodes, use the Azure portal or the Azure Resource Manager API.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the application."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the application.",
            "schema": {
              "$ref": "#/definitions/ApplicationSummary"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/poolusagemetrics": {
      "get": {
        "tags": [
          "Pools"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Pool_ListUsageMetrics",
        "x-ms-examples": {
          "Pool list usage metrics": { "$ref": "./examples/PoolListUsageMetrics.json" }
        },
        "summary": "Lists the usage metrics, aggregated by pool across individual time intervals, for the specified account.",
        "description": "If you do not specify a $filter clause including a poolId, the response includes all pools that existed in the account in the time range of the returned aggregation intervals. If you do not specify a $filter clause including a startTime or endTime these filters default to the start and end times of the last aggregation interval currently available; that is, only the last aggregation interval is returned.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "starttime",
            "x-ms-client-name": "startTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "The earliest time from which to include metrics. This must be at least two and a half hours before the current time. If not specified this defaults to the start time of the last aggregation interval currently available.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "endtime",
            "x-ms-client-name": "endTime",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time",
            "description": "The latest time from which to include metrics. This must be at least two hours before the current time. If not specified this defaults to the end time of the last aggregation interval currently available.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause. If this is not specified the response includes all pools that existed in the account in the time range of the returned aggregation intervals.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "default": 1000,
            "minimum": 1,
            "maximum": 1000,
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response. A maximum of 1000 results will be returned.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the list of pool usage details.",
            "schema": {
              "$ref": "#/definitions/PoolListUsageMetricsResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/nodeagentskus": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Account_ListNodeAgentSkus",
        "x-ms-examples": {
          "Account list node agent skus": { "$ref": "./examples/AccountListNodeAgentSkus.json" }
        },
        "summary": "Lists all node agent SKUs supported by the Azure Batch service.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "default": 1000,
            "minimum": 1,
            "maximum": 1000,
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response. A maximum of 1000 results will be returned.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the list of node agent SKUs.",
            "schema": {
              "$ref": "#/definitions/AccountListNodeAgentSkusResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/lifetimepoolstats": {
      "get": {
        "tags": [
          "Pools"
        ],
        "operationId": "Pool_GetAllLifetimeStatistics",
        "x-ms-examples": {
          "Pool get lifetime statistics": { "$ref": "./examples/PoolGetLifetimeStatistics.json" }
        },
        "summary": "Gets lifetime summary statistics for all of the pools in the specified account.",
        "description": "Statistics are aggregated across all pools that have ever existed in the account, from account creation to the last update time of the statistics.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the pool statistics for the lifetime of the Batch account.",
            "schema": {
              "$ref": "#/definitions/PoolStatistics"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/lifetimejobstats": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Job_GetAllLifetimeStatistics",
        "x-ms-examples": {
          "Job get lifetime statistics": { "$ref": "./examples/JobGetLifetimeStatistics.json" }
        },
        "summary": "Gets lifetime summary statistics for all of the jobs in the specified account.",
        "description": "Statistics are aggregated across all jobs that have ever existed in the account, from account creation to the last update time of the statistics.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the job statistics for the lifetime of the Batch account.",
            "schema": {
              "$ref": "#/definitions/JobStatistics"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/certificates": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificate_Add",
        "x-ms-examples": {
          "Certificate add": { "$ref": "./examples/CertificateAdd.json" }
        },
        "summary": "Adds a certificate to the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "certificate",
            "in": "body",
            "description": "The certificate to be added.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateAddParameter"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData ID of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Certificates"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "Certificate_List",
        "x-ms-examples": {
          "Certificate list": { "$ref": "./examples/CertificateList.json" }
        },
        "summary": "Lists all of the certificates that have been added to the specified account.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "default": 1000,
            "minimum": 1,
            "maximum": 1000,
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response. A maximum of 1000 certificates can be returned.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the list of certificates.",
            "schema": {
              "$ref": "#/definitions/CertificateListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})/canceldelete": {
      "post": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificate_CancelDeletion",
        "x-ms-examples": {
          "Certificate cancel delete": { "$ref": "./examples/CertificateCancelDelete.json" }
        },
        "summary": "Cancels a failed deletion of a certificate from the specified account.",
        "description": "If you try to delete a certificate that is being used by a pool or compute node, the status of the certificate changes to deleteFailed. If you decide that you want to continue using the certificate, you can use this operation to set the status of the certificate back to active. If you intend to delete the certificate, you do not need to run this operation after the deletion failed. You must make sure that the certificate is not being used by any resources, and then you can try again to delete the certificate.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "thumbprintAlgorithm",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The algorithm used to derive the thumbprint parameter. This must be sha1."
          },
          {
            "name": "thumbprint",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The thumbprint of the certificate being deleted."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "204": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "DataServiceId": {
                "description": "The OData ID of the resource to which the request applied.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/certificates(thumbprintAlgorithm={thumbprintAlgorithm},thumbprint={thumbprint})": {
      "delete": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificate_Delete",
        "x-ms-examples": {
          "Certificate delete": { "$ref": "./examples/CertificateDelete.json" }
        },
        "summary": "Deletes a certificate from the specified account.",
        "description": "You cannot delete a certificate if a resource (pool or compute node) is using it. Before you can delete a certificate, you must therefore make sure that the certificate is not associated with any existing pools, the certificate is not installed on any compute nodes (even if you remove a certificate from a pool, it is not removed from existing compute nodes in that pool until they restart), and no running tasks depend on the certificate. If you try to delete a certificate that is in use, the deletion fails. The certificate status changes to deleteFailed. You can use Cancel Delete Certificate to set the status back to active if you decide that you want to continue using the certificate.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "thumbprintAlgorithm",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The algorithm used to derive the thumbprint parameter. This must be sha1."
          },
          {
            "name": "thumbprint",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The thumbprint of the certificate to be deleted."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Certificates"
        ],
        "operationId": "Certificate_Get",
        "x-ms-examples": {
          "Certificate get": { "$ref": "./examples/CertificateGet.json" }
        },
        "description": "Gets information about the specified certificate.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "thumbprintAlgorithm",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The algorithm used to derive the thumbprint parameter. This must be sha1."
          },
          {
            "name": "thumbprint",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The thumbprint of the certificate to get."
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $select clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the certificate.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}/tasks/{taskId}/files/{filePath}": {
      "delete": {
        "tags": [
          "Files"
        ],
        "operationId": "File_DeleteFromTask",
        "x-ms-examples": {
          "File delete from task": { "$ref": "./examples/FileDeleteFromTask.json" }
        },
        "summary": "Deletes the specified task file from the compute node where the task ran.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job that contains the task."
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the task whose file you want to delete."
          },
          {
            "name": "filePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the task file or directory that you want to delete."
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to delete children of a directory. If the filePath parameter represents a directory instead of a file, you can set recursive to true to delete the directory and all of the files and subdirectories in it. If recursive is false then the directory must be empty or deletion will fail."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Files"
        ],
        "operationId": "File_GetFromTask",
        "description": "Returns the content of the specified task file.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job that contains the task."
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the task whose file you want to retrieve."
          },
          {
            "name": "filePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the task file that you want to get the content of."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-range",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The byte range to be retrieved. The default is to retrieve the entire file. The format is bytes=startRange-endRange.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-creation-time": {
                "description": "The file creation time.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-batch-file-isdirectory": {
                "description": "Whether the object represents a directory.",
                "type": "boolean"
              },
              "ocp-batch-file-url": {
                "description": "The URL of the file.",
                "type": "string"
              },
              "ocp-batch-file-mode": {
                "description": "The file mode attribute in octal format.",
                "type": "string"
              },
              "Content-Type": {
                "description": "The content type of the file.",
                "type": "string"
              },
              "Content-Length": {
                "description": "The length of the file.",
                "type": "integer",
                "format": "int64"
              }
            },
            "description": "A response containing the file content.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "head": {
        "tags": [
          "Files"
        ],
        "operationId": "File_GetPropertiesFromTask",
        "x-ms-examples": {
          "File get properties from task": { "$ref": "./examples/FileGetPropertiesFromTask.json" }
        },
        "description": "Gets the properties of the specified task file.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job that contains the task."
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the task whose file you want to get the properties of."
          },
          {
            "name": "filePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the task file that you want to get the properties of."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-creation-time": {
                "description": "The file creation time.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-batch-file-isdirectory": {
                "description": "Whether the object represents a directory.",
                "type": "boolean"
              },
              "ocp-batch-file-url": {
                "description": "The URL of the file.",
                "type": "string"
              },
              "ocp-batch-file-mode": {
                "description": "The file mode attribute in octal format.",
                "type": "string"
              },
              "Content-Type": {
                "description": "The content type of the file.",
                "type": "string"
              },
              "Content-Length": {
                "description": "The length of the file.",
                "type": "integer",
                "format": "int64"
              }
            },
            "description": "A response containing the file properties."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/pools/{poolId}/nodes/{nodeId}/files/{filePath}": {
      "delete": {
        "tags": [
          "Files"
        ],
        "operationId": "File_DeleteFromComputeNode",
        "x-ms-examples": {
          "File delete from node": { "$ref": "./examples/FileDeleteFromNode.json" }
        },
        "summary": "Deletes the specified file from the compute node.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the pool that contains the compute node."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the compute node from which you want to delete the file."
          },
          {
            "name": "filePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the file or directory that you want to delete."
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to delete children of a directory. If the filePath parameter represents a directory instead of a file, you can set recursive to true to delete the directory and all of the files and subdirectories in it. If recursive is false then the directory must be empty or deletion will fail."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string"
              }
            },
            "description": "The request to the Batch service was successful."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Files"
        ],
        "operationId": "File_GetFromComputeNode",
        "description": "Returns the content of the specified compute node file.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the pool that contains the compute node."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the compute node that contains the file."
          },
          {
            "name": "filePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the compute node file that you want to get the content of."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-range",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The byte range to be retrieved. The default is to retrieve the entire file. The format is bytes=startRange-endRange.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-creation-time": {
                "description": "The file creation time.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-batch-file-isdirectory": {
                "description": "Whether the object represents a directory.",
                "type": "boolean"
              },
              "ocp-batch-file-url": {
                "description": "The URL of the file.",
                "type": "string"
              },
              "ocp-batch-file-mode": {
                "description": "The file mode attribute in octal format.",
                "type": "string"
              },
              "Content-Type": {
                "description": "The content type of the file.",
                "type": "string"
              },
              "Content-Length": {
                "description": "The length of the file.",
                "type": "integer",
                "format": "int64"
              }
            },
            "description": "The file content.",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      },
      "head": {
        "tags": [
          "Files"
        ],
        "operationId": "File_GetPropertiesFromComputeNode",
        "x-ms-examples": {
          "File get properties from node": { "$ref": "./examples/FileGetPropertiesFromNode.json" }
        },
        "description": "Gets the properties of the specified compute node file.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "poolId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the pool that contains the compute node."
          },
          {
            "name": "nodeId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the compute node that contains the file."
          },
          {
            "name": "filePath",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The path to the compute node file that you want to get the properties of."
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Modified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "If-Unmodified-Since",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "A timestamp indicating the last modified time of the resource known to the client. The operation will be performed only if the resource on the service has not been modified since the specified time.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-creation-time": {
                "description": "The file creation time.",
                "type": "string",
                "format": "date-time-rfc1123"
              },
              "ocp-batch-file-isdirectory": {
                "description": "Whether the object represents a directory.",
                "type": "boolean"
              },
              "ocp-batch-file-url": {
                "description": "The URL of the file.",
                "type": "string"
              },
              "ocp-batch-file-mode": {
                "description": "The file mode attribute in octal format.",
                "type": "string"
              },
              "Content-Type": {
                "description": "The content type of the file.",
                "type": "string"
              },
              "Content-Length": {
                "description": "The length of the file.",
                "type": "integer",
                "format": "int64"
              }
            },
            "description": "A response containing the file properties."
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/jobs/{jobId}/tasks/{taskId}/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "File_ListFromTask",
        "x-ms-examples": {
          "File list from task": { "$ref": "./examples/FileListFromTask.json" }
        },
        "summary": "Lists the files in a task's directory on its compute node.",
        "x-ms-request-id": "request-id",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the job that contains the task."
          },
          {
            "name": "taskId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the task whose files you want to list."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "An OData $filter clause.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "recursive",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Whether to list children of the task directory. This parameter can be used in combination with the filter parameter to list specific type of files."
          },
          {
            "name": "maxresults",
            "x-ms-client-name": "maxResults",
            "default": 1000,
            "minimum": 1,
            "maximum": 1000,
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response. A maximum of 1000 files can be returned.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "timeout",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 30,
            "description": "The maximum time that the server can spend processing the request, in seconds. The default is 30 seconds.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "client-request-id",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "uuid",
            "description": "The caller-generated request identity, in the form of a GUID with no decoration such as curly braces, e.g. 9C4D50EE-2D56-4CD3-8152-34347DC9F2B0.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            },
            "x-ms-client-request-id": true
          },
          {
            "name": "return-client-request-id",
            "default": false,
            "in": "header",
            "required": false,
            "type": "boolean",
            "description": "Whether the server should return the client-request-id in the response.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "name": "ocp-date",
            "in": "header",
            "required": false,
            "type": "string",
            "format": "date-time-rfc1123",
            "description": "The time the request was issued. Client libraries typically set this to the current system clock time; set it explicitly if you are calling the REST API directly.",
            "x-ms-parameter-grouping": {
              "postfix": "Options"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "headers": {
              "client-request-id": {
                "description": "The client-request-id provided by the client during the request. This will be returned only if the return-client-request-id parameter was set to true.",
                "type": "string",
                "format": "uuid"
              },
              "request-id": {
                "description": "A unique identifier for the request that was made to the Batch service. If a request is consistently failing and you have verified that the request is properly formulated, you may use this value to report the error to Microsoft. In your report, include the value of this request ID, the approximate time that the request was made, the Batch account against which the request was made, and the region that account resides in.",
                "type": "string",
                "format": "uuid"
              },
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Modified-Since, If-Unmodified-Since, If-Match or If-None-Match headers.",
                "type": "string"
              },
              "Last-Modified": {
                "description": "The time at which the resource was last modified.",
                "type": "string",
                "format": "date-time-rfc1123"
              }
            },
            "description": "A response containing the list of files.",
            "schema": {
              "$ref": "#/definitions/NodeFileListResult"
            }
          },
          "default": {
            "description": "The error from the Batch service.",
            "schema": {
              "$ref": "#/definitions/BatchError"
            }
          }
        }
      }
    },
    "/pools/{poolId}/nodes/{nodeId}/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "x-ms-pageable": {
          "nextLinkName": "odata.nextLink"
        },
        "operationId": "File_ListFromComputeNode",
        "x-ms-examples": {
[...]
