{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagerEffectiveConfiguration",
    "description": "The Microsoft Azure Network Manager effective configuration API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listNetworkManagerEffectiveConfigurations": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/VirtualNetworkNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "#/parameters/ListTopParameter"
        },
        {
          "$ref": "#/parameters/ListSkipTokenParameter"
        }
      ],
      "post": {
        "tags": [
          "NetworkManagerEffectiveConfiguration"
        ],
        "operationId": "EffectiveConfigurations_List",
        "description": "List all configurations in a virtual network.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the configurations.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerEffectiveConfigurationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List effective configuration": {
            "$ref": "./examples/NetworkManagerEffectiveConfigurationsList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "EffectiveConfiguration": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "configType": {
          "type": "string",
          "description": "Effective configuration Type."
        },
        "configurationGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkGroup"
          },
          "description": "Effective configuration groups."
        },
        "required": [
          "configType"
        ]
      },
      "discriminator": "configType",
      "description": "The network manager effective configuration"
    },
    "EffectiveConnectivityConfiguration": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "./networkManagerConnectivityConfiguration.json#/definitions/ConnectivityConfigurationProperties",
          "description": "The Network Group properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveConfiguration"
        }
      ],
      "description": "The network manager effective connectivity configuration",
      "x-ms-discriminator-value": "EffectiveConnectivityConfiguration"
    },
    "ConnectivityGroupItem": {
      "type": "object",
      "properties": {
        "networkGroupId": {
          "type": "string",
          "description": "Network group Id."
        },
        "useHubGateway": {
          "type": "boolean",
          "description": "Flag if need to use hub gateway."
        },
        "isGlobal": {
          "type": "boolean",
          "description": "Flag if global is supported."
        },
        "groupConnectivity": {
          "type": "string",
          "enum": [
            "None",
            "DirectlyConnected"
          ],
          "x-ms-enum": {
            "name": "GroupConnectivity",
            "modelAsString": true
          },
          "description": "Group connectivity type."
        }
      }
    },
    "EffectiveSecurityRuleCollection": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EffectiveSecurityRuleCollectionProperties",
          "description": "The effective security rule collection properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveConfiguration"
        }
      ],
      "description": "The network manager effective security rule collection",
      "x-ms-discriminator-value": "EffectiveSecurityRuleCollection"
    },
    "EffectiveSecurityRuleCollectionProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name of the rule collection."
        },
        "description": {
          "type": "string",
          "description": "A description of the rule collection."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EffectiveBaseRule"
          },
          "description": "Base rule List"
        },
        "appliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/NetworkManagerSecurityGroupItem"
          },
          "description": "Groups for configuration"
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        }
      },
      "description": "The network manager effective security rule collection properties"
    },
    "EffectiveBaseRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "properties": {
          "$ref": "#/definitions/EffectiveBaseRulePropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security user rule"
        }
      },
      "discriminator": "effectiveRuleType",
      "description": "Network base rule."
    },
    "EffectiveBaseRulePropertiesFormat": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the rule."
        },
        "description": {
          "type": "string",
          "description": "A description for this rule."
        },
        "effectiveRuleType": {
          "type": "string",
          "description": "Whether the rule collection is custom or default."
        },
        "protocol": {
          "type": "string",
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/RuleProtocol",
          "description": "Network protocol this rule applies to."
        },
        "source": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/AddressPrefixItem"
          },
          "description": "The CIDR or source IP ranges."
        },
        "destination": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/AddressPrefixItem"
          },
          "description": "The destination address prefixes. CIDR or destination IP ranges."
        },
        "sourcePortRanges": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "The source port."
          },
          "description": "The source port ranges."
        },
        "destinationPortRanges": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "description": "The destination port."
          },
          "description": "The destination port ranges."
        },
        "direction": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/SecurityConfigurationRuleDirection",
          "readOnly": true,
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the security Configuration resource."
        },
        "required": [
          "effectiveRuleType"
        ]
      }
    },
    "EffectiveAdminRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/EffectiveAdminPropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security admin rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseRule"
        }
      ],
      "description": "Network admin rule.",
      "x-ms-discriminator-value": "EffectiveAdminRule"
    },
    "EffectiveAdminPropertiesFormat": {
      "type": "object",
      "properties": {
        "access": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/SecurityConfigurationRuleAccess",
          "description": "Indicates the access allowed for this particular rule"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the rule. The value can be between 1 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule."
        },
        "direction": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/SecurityConfigurationRuleDirection",
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        }
      },
      "description": "Security rule resource."
    },
    "EffectiveDefaultAdminRule": {
      "properties": {
        "defaultRuleFlag": {
          "type": "string",
          "description": "Default rule flag."
        },
        "properties": {
          "$ref": "#/definitions/EffectiveDefaultAdminPropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security admin rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseRule"
        }
      ],
      "description": "Network default admin rule.",
      "x-ms-discriminator-value": "EffectiveDefaultAdminRule"
    },
    "EffectiveDefaultAdminPropertiesFormat": {
      "type": "object",
      "properties": {
        "access": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/SecurityConfigurationRuleAccess",
          "readOnly": true,
          "description": "Indicates the access allowed for this particular rule"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "The priority of the rule. The value can be between 1 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule."
        },
        "direction": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/SecurityConfigurationRuleDirection",
          "readOnly": true,
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        }
      },
      "description": "Security default rule resource."
    },
    "EffectiveUserRule": {
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseRule"
        }
      ],
      "description": "Network security default user rule.",
      "x-ms-discriminator-value": "EffectiveUserRule"
    },
    "EffectiveDefaultUserRule": {
      "properties": {
        "defaultRuleFlag": {
          "type": "string",
          "description": "Default rule flag."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseRule"
        }
      ],
      "description": "Network security default user rule.",
      "x-ms-discriminator-value": "EffectiveDefaultUserRule"
    },
    "NetworkGroup": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "./networkManagerGroup.json#/definitions/NetworkGroupProperties",
          "description": "The Network Group properties"
        }
      },
      "description": "The network group resource"
    },
    "NetworkManagerEffectiveConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EffectiveConfiguration"
          },
          "description": "Gets a page of NetworkManagerEffectiveConfiguration"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Result of the request to list networkManagerEffectiveConfiguration. It contains a list of groups and a URL link to get the next set of results."
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "VirtualNetworkNameParameter": {
      "name": "virtualNetworkName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the virtual network.",
      "x-ms-parameter-location": "method"
    },
    "ListTopParameter": {
      "name": "$top",
      "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skipToken",
      "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
