{
  "swagger": "2.0",
  "info": {
    "title": "SecurityConfiguration",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations": {
      "get": {
        "tags": [
          "SecurityConfigurations"
        ],
        "operationId": "SecurityConfigurations_List",
        "description": "Lists all the network manager security configurations in a network manager, in a paginated format.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get successful. The operation returns all security configuration resources in the specified network manager, in a paginated format",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List security configurations in a network manager": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/import": {
      "post": {
        "tags": [
          "SecurityConfigurations"
        ],
        "operationId": "SecurityConfigurations_Import",
        "description": "Imports network security rules to network manager security rules.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/SecurityConfigurationParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerSecurityConfigurationImport"
            },
            "description": "Import Security configuration parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Post successful.",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationImportResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Import NSG Rules": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationImport.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/evaluateImport": {
      "post": {
        "tags": [
          "SecurityConfigurations"
        ],
        "operationId": "SecurityConfigurations_EvaluateImport",
        "description": "The operation to evaluate import NSG to security configurations.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkManagerNameParameter"
          },
          {
            "$ref": "#/parameters/SecurityConfigurationParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerSecurityConfigurationImport"
            },
            "description": "Import security configuration parameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Post successful.",
            "schema": {
              "$ref": "#/definitions/SecurityConfigurationRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Evaluate import NSG Rules": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationEvaluateImport.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        }
      ],
      "get": {
        "tags": [
          "SecurityConfigurations"
        ],
        "description": "Retrieves a network manager security Configuration.",
        "operationId": "SecurityConfigurations_Get",
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security configurations": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "SecurityConfigurations"
        ],
        "description": "Creates or updates a network manager security Configuration.",
        "operationId": "SecurityConfigurations_CreateOrUpdate",
        "parameters": [
          {
            "name": "securityConfiguration",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            },
            "description": "The security configuration to create or update"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated Configuration",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "201": {
            "description": "Created Configuration",
            "schema": {
              "$ref": "#/definitions/SecurityConfiguration"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create network manager security Configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SecurityConfigurations"
        ],
        "description": "Deletes a network manager security Configuration.",
        "operationId": "SecurityConfigurations_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete network manager security Configuration": {
            "$ref": "./examples/NetworkManagerSecurityConfigurationDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/adminRules": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        },
        {
          "$ref": "#/parameters/ListTopParameter"
        },
        {
          "$ref": "#/parameters/ListSkipTokenParameter"
        }
      ],
      "get": {
        "tags": [
          "AdminRules"
        ],
        "description": "Retrieves a network manager security configuration admin rule.",
        "operationId": "AdminRules_List",
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/AdminRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security admin rules": {
            "$ref": "./examples/NetworkManagerAdminRulesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/adminRules/{ruleName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationsRuleParameter"
        }
      ],
      "get": {
        "tags": [
          "AdminRules"
        ],
        "description": "Gets a network manager security configuration admin rule in a subscription.",
        "operationId": "AdminRules_Get",
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/AdminRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Gets security admin rule": {
            "$ref": "./examples/NetworkManagerAdminRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "AdminRules"
        ],
        "description": "Creates or updates an admin rule.",
        "operationId": "AdminRules_CreateOrUpdate",
        "parameters": [
          {
            "name": "adminRule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminRule"
            },
            "description": "The admin rule to create or update"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated rule",
            "schema": {
              "$ref": "#/definitions/AdminRule"
            }
          },
          "201": {
            "description": "Created rule",
            "schema": {
              "$ref": "#/definitions/AdminRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create an admin rule": {
            "$ref": "./examples/NetworkManagerAdminRulePut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AdminRules"
        ],
        "description": "Deletes an admin rule.",
        "operationId": "AdminRules_Delete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an admin rule.": {
            "$ref": "./examples/NetworkManagerAdminRuleDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/userRules": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        },
        {
          "$ref": "#/parameters/ListTopParameter"
        },
        {
          "$ref": "#/parameters/ListSkipTokenParameter"
        }
      ],
      "get": {
        "tags": [
          "UserRules"
        ],
        "description": "Lists all user rules in a security configuration.",
        "operationId": "UserRules_List",
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/UserRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security user rules": {
            "$ref": "./examples/NetworkManagerUserRulesList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkManagers/{networkManagerName}/securityConfigurations/{configurationName}/userRules/{ruleName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerNameParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationParameter"
        },
        {
          "$ref": "#/parameters/SecurityConfigurationsRuleParameter"
        }
      ],
      "get": {
        "tags": [
          "UserRules"
        ],
        "description": "Gets a user rule.",
        "operationId": "UserRules_Get",
        "responses": {
          "200": {
            "description": "Successful operation",
            "schema": {
              "$ref": "#/definitions/UserRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Gets a user rule": {
            "$ref": "./examples/NetworkManagerUserRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "UserRules"
        ],
        "description": "Creates or updates a user rule.",
        "operationId": "UserRules_CreateOrUpdate",
        "parameters": [
          {
            "name": "userRule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UserRule"
            },
            "description": "The user rule to create or update"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated rule",
            "schema": {
              "$ref": "#/definitions/UserRule"
            }
          },
          "201": {
            "description": "Created rule",
            "schema": {
              "$ref": "#/definitions/UserRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a user rule": {
            "$ref": "./examples/NetworkManagerUserRulePut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "UserRules"
        ],
        "description": "Deletes a user rule.",
        "operationId": "UserRules_Delete",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "204": {
            "description": "Request successful. Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a user rule.": {
            "$ref": "./examples/NetworkManagerUserRuleDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "SecurityConfiguration": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SecurityConfigurationPropertiesFormat",
          "description": "Indicates the properties for the network manager security Configuration."
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata related to this resource.",
          "$ref": "./network.json#/definitions/SystemData"
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ProxyResource"
        }
      ],
      "description": "Defines the security Configuration"
    },
    "SecurityConfigurationPropertiesFormat": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name of the security Configuration."
        },
        "description": {
          "type": "string",
          "description": "A description of the security Configuration."
        },
        "securityType": {
          "type": "string",
          "description": "Security Type.",
          "enum": [
            "AdminPolicy",
            "UserPolicy"
          ],
          "x-ms-enum": {
            "name": "SecurityType",
            "modelAsString": true
          }
        },
        "deleteExistingNSGs": {
          "type": "boolean",
          "description": "Flag if need to delete existing network security groups."
        },
        "appliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkManagerSecurityGroupItem"
          },
          "description": "Groups for configuration"
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        }
      },
      "description": "Defines the security Configuration properties."
    },
    "SecurityConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityConfiguration"
          },
          "description": "Gets a page of security configurations"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "A list of managed network security configurations"
    },
    "AdminRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdminRule"
          },
          "description": "A list of admin rules"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Security configuration admin rule list result."
    },
    "UserRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserRule"
          },
          "description": "A list of user rules"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Security configuration user rule list result."
    },
    "SecurityConfigurationRuleListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityConfigurationRule"
          },
          "description": "A list of network manager security configuration rules"
        },
        "failedImport": {
          "$ref": "#/definitions/FailedImport",
          "description": "Failed Imports."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next set of results."
        }
      },
      "description": "Security configuration rule list result."
    },
    "AdminRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/AdminPropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security admin rule"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata related to this resource.",
          "$ref": "./network.json#/definitions/SystemData"
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ProxyResource"
        }
      ],
      "description": "Network admin rule."
    },
    "AdminPropertiesFormat": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the rule."
        },
        "description": {
          "type": "string",
          "description": "A description for this rule."
        },
        "protocol": {
          "type": "string",
          "$ref": "#/definitions/RuleProtocol",
          "description": "Network protocol this rule applies to."
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressPrefixItem"
          },
          "description": "The CIDR or source IP ranges."
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressPrefixItem"
          },
          "description": "The destination address prefixes. CIDR or destination IP ranges."
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The source port."
          },
          "description": "The source port ranges."
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The destination port."
          },
          "description": "The destination port ranges."
        },
        "access": {
          "$ref": "#/definitions/SecurityConfigurationRuleAccess",
          "description": "Indicates the access allowed for this particular rule"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the rule. The value can be between 1 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule."
        },
        "direction": {
          "$ref": "#/definitions/SecurityConfigurationRuleDirection",
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the security Configuration resource."
        },
        "appliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkManagerSecurityGroupItem"
          },
          "description": "Groups for configuration"
        }
      },
      "required": [
        "protocol",
        "access",
        "direction"
      ],
      "description": "Security rule resource."
    },
    "UserRule": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/UserRulePropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security user rule"
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata related to this resource.",
          "$ref": "./network.json#/definitions/SystemData"
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ProxyResource"
        }
      ],
      "description": "Network security admin rule."
    },
    "UserRulePropertiesFormat": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the rule."
        },
        "description": {
          "type": "string",
          "description": "A description for this rule. Restricted to 140 chars."
        },
        "protocol": {
          "type": "string",
          "$ref": "#/definitions/RuleProtocol",
          "description": "Network protocol this rule applies to."
        },
        "source": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressPrefixItem"
          },
          "description": "The CIDR or source IP ranges."
        },
        "destination": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressPrefixItem"
          },
          "description": "The destination address prefixes. CIDR or destination IP ranges."
        },
        "sourcePortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The source port."
          },
          "description": "The source port ranges."
        },
        "destinationPortRanges": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The destination port."
          },
          "description": "The destination port ranges."
        },
        "direction": {
          "$ref": "#/definitions/SecurityConfigurationRuleDirection",
          "description": "Indicates if the traffic matched against the rule in inbound or outbound."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the security Configuration resource."
        }
      },
      "required": [
        "protocol",
        "direction"
      ],
      "description": "Security rule resource."
    },
    "SecurityConfigurationRuleAccess": {
      "type": "string",
      "description": "Whether network traffic is allowed or denied.",
      "enum": [
        "Allow",
        "Deny",
        "AlwaysAllow"
      ],
      "x-ms-enum": {
        "name": "SecurityConfigurationRuleAccess",
        "modelAsString": true
      }
    },
    "SecurityConfigurationRuleDirection": {
      "type": "string",
      "description": "The direction of the rule. The direction specifies if the rule will be evaluated on incoming or outgoing traffic.",
      "enum": [
        "Inbound",
        "Outbound"
      ],
      "x-ms-enum": {
        "name": "SecurityConfigurationRuleDirection",
        "modelAsString": true
      }
    },
    "RuleProtocol": {
      "type": "string",
      "description": "Network protocol this rule applies to.",
      "enum": [
        "Tcp",
        "Udp",
        "Icmp",
        "Esp",
        "Any",
        "Ah"
      ],
      "x-ms-enum": {
        "name": "SecurityConfigurationRuleProtocol",
        "modelAsString": true
      }
    },
    "NetworkManagerSecurityGroupItem": {
      "type": "object",
      "properties": {
        "networkGroupId": {
          "type": "string",
          "description": "Network manager group Id."
        }
      },
      "description": "Network manager security group item."
    },
    "AddressPrefixItem": {
      "type": "object",
      "properties": {
        "addressPrefix": {
          "type": "string",
          "description": "Address prefix."
        },
        "addressPrefixType": {
          "type": "string",
          "description": "Address prefix type.",
          "enum": [
            "IPPrefix",
            "ServiceTag"
          ],
          "x-ms-enum": {
            "name": "AddressPrefixType",
            "modelAsString": true
          }
        }
      },
      "description": "Address prefix item."
    },
    "NetworkManagerSecurityConfigurationImport": {
      "properties": {
        "networkSecurityGroupImports": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSecurityGroupImport"
          },
          "description": "List of nsg uris."
        },
        "importDenyRulesAsAdminRules": {
          "type": "boolean",
          "description": "Flag if import deny rules as admin rules."
        },
        "adminSecurityConfigurationUri": {
          "type": "string",
          "description": "Admin security configuration Uri."
        },
        "removeAllowVnetInboundRule": {
          "type": "boolean",
          "description": "Flag if need to remove allow vnet inbound rule."
        },
        "removeAllowAzureLoadBalancerInboundRule": {
          "type": "boolean",
          "description": "Flag if need to remove allow azure load balancer inbound rule."
        },
        "removeAllowVnetOutboundRule": {
          "type": "boolean",
          "description": "Flag if need to remove allow vnet outbound rule."
        },
        "removeAllowInternetOutboundRule": {
          "type": "boolean",
          "description": "Flag if need to remove allow Internet outbound rule."
        }
      },
      "description": "Network manager security configuration import parameters."
    },
    "SecurityConfigurationImportResult": {
      "properties": {
        "userSecurityConfiguration": {
          "type": "string",
          "description": "User security configuration Id."
        },
        "adminSecurityConfiguration": {
          "type": "string",
          "description": "Admin security configuration Id."
        },
        "failedImport": {
          "$ref": "#/definitions/FailedImport",
          "description": "failed imports code and reason"
        }
      },
      "description": "Security configuration import Result."
    },
    "FailedImport": {
      "type": "object",
      "description": "Failed imports object.",
      "properties": {
        "failureCode": {
          "type": "string",
          "description": "Failure code."
        },
        "failureReason": {
          "type": "string",
          "description": "Failure reason."
        }
      }
    },
    "NetworkSecurityGroupImport": {
      "type": "object",
      "description": "Network Security Group Import.",
      "properties": {
        "networkSecurityGroupUri": {
          "type": "string",
          "description": "Network Security Group Uri."
        }
      }
    },
    "SecurityConfigurationRule": {
      "properties": {
        "securityType": {
          "type": "string",
          "enum": [
            "AdminPolicy",
            "UserPolicy"
          ],
          "x-ms-enum": {
            "name": "SecurityType",
            "modelAsString": true
          },
          "description": "Commit Type."
        },
        "securityAdminRule": {
          "$ref": "#/definitions/AdminRule",
          "description": "Security admin rule."
        },
        "securityUserRule": {
          "$ref": "#/definitions/UserRule",
          "description": "Security user rule."
        }
      },
      "description": "General security configuration Rule."
    }
  },
  "parameters": {
    "SecurityConfigurationParameter": {
      "name": "configurationName",
      "in": "path",
      "description": "The name of the network manager security Configuration.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "SecurityConfigurationsRuleParameter": {
      "name": "ruleName",
      "in": "path",
      "description": "The name of the rule.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkManagerNameParameter": {
      "name": "networkManagerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network manager.",
      "x-ms-parameter-location": "method"
    },
    "ListTopParameter": {
      "name": "$top",
      "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skipToken",
      "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
