{
  "swagger": "2.0",
  "info": {
    "title": "ScopeConnections",
    "description": "The Microsoft Azure Virtual Network Manager API provides a RESTful set of web services that interact with Microsoft Azure Network Manager service to manage your network resources.",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagerConnections/{networkManagerConnectionName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerConnectionNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "put": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "SubscriptionNetworkManagerConnections_CreateOrUpdate",
        "description": "Create a connection from this subscription to a cross tenant network manager.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the connection.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "201": {
            "description": "Created - Returns information about the connection.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Network Manager Connection": {
            "$ref": "./examples/SubscriptionNetworkManagerConnectionPut.json"
          }
        }
      },
      "get": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "SubscriptionNetworkManagerConnections_Get",
        "description": "Get a specified connection created by this subscription.",
        "responses": {
          "200": {
            "description": "OK - Returns the connection.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Network Manager Connection": {
            "$ref": "./examples/SubscriptionNetworkManagerConnectionGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "SubscriptionNetworkManagerConnections_Delete",
        "description": "Delete specified pending connection created by this subscription.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Network Manager Connection": {
            "$ref": "./examples/SubscriptionNetworkManagerConnectionDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkManagerConnections": {
      "get": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "SubscriptionNetworkManagerConnections_List",
        "description": "List all network manager connections created by this subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./networkManager.json#/parameters/ListTopParameter"
          },
          {
            "$ref": "./networkManager.json#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the network manager connection(s).",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Network Manager Connection": {
            "$ref": "./examples/SubscriptionNetworkManagerConnectionList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/listPendingScopeConnections": {
      "post": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "SubscriptionPendingScopeConnections_List",
        "description": "List all pending scope connections created by a network manager.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./networkManagerGroup.json#/definitions/QueryRequestOptions"
            },
            "description": "Parameters supplied to list correct page."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the scope connection(s).",
            "schema": {
              "$ref": "./networkManagerScopeConnections.json#/definitions/PendingScopeConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Pending Scope Connections Sent From A Network Manager": {
            "$ref": "./examples/SubscriptionNetworkManagerPendingScopeConnectionList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Network/managementGroups/{managementGroupId}/networkManagerConnections/{networkManagerConnectionName}": {
      "parameters": [
        {
          "$ref": "#/parameters/ManagementGroupIdParameter"
        },
        {
          "$ref": "#/parameters/NetworkManagerConnectionNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "put": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "ManagementGroupNetworkManagerConnections_CreateOrUpdate",
        "description": "Create a connection to a cross tenant network manager.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Returns information about the connection.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "201": {
            "description": "Created - Returns information about the connection.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Network Manager Connection": {
            "$ref": "./examples/ManagementGroupNetworkManagerConnectionPut.json"
          }
        }
      },
      "get": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "ManagementGroupNetworkManagerConnections_Get",
        "description": "Get a specified connection created by this management group.",
        "responses": {
          "200": {
            "description": "OK - Returns the connection.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Network Manager Connection": {
            "$ref": "./examples/ManagementGroupNetworkManagerConnectionGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "ManagementGroupNetworkManagerConnections_Delete",
        "description": "Delete specified pending connection created by this management group.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete Network Manager Connection": {
            "$ref": "./examples/ManagementGroupNetworkManagerConnectionDelete.json"
          }
        }
      }
    },
    "/providers/Microsoft.Network/managementGroups/{managementGroupId}/networkManagerConnections": {
      "get": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "ManagementGroupNetworkManagerConnections_List",
        "description": "List all network manager connections created by this management group.",
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./networkManager.json#/parameters/ListTopParameter"
          },
          {
            "$ref": "./networkManager.json#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the network manager connection(s).",
            "schema": {
              "$ref": "#/definitions/NetworkManagerConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List Network Manager Connection": {
            "$ref": "./examples/ManagementGroupNetworkManagerConnectionList.json"
          }
        }
      }
    },
    "/providers/Microsoft.Network/managementGroups/{managementGroupId}/listPendingScopeConnections": {
      "post": {
        "tags": [
          "NetworkManagerConnections"
        ],
        "operationId": "ManagementGroupPendingScopeConnections_List",
        "description": "List all pending scope connections created by a network manager.",
        "parameters": [
          {
            "$ref": "#/parameters/ManagementGroupIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./networkManagerGroup.json#/definitions/QueryRequestOptions"
            },
            "description": "Parameters supplied to list correct page."
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns information about the scope connection(s).",
            "schema": {
              "$ref": "./networkManagerScopeConnections.json#/definitions/PendingScopeConnectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Pending Scope Connections Sent From A Network Manager": {
            "$ref": "./examples/ManagementGroupNetworkManagerPendingScopeConnectionList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkManagerConnection": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkManagerConnectionProperties",
          "description": "The scope connection properties"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "systemData": {
          "readOnly": true,
          "description": "The system metadata related to this resource.",
          "$ref": "./network.json#/definitions/SystemData"
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/ProxyResource"
        }
      ],
      "description": "The Network Manager Connection resource"
    },
    "NetworkManagerConnectionProperties": {
      "type": "object",
      "properties": {
        "networkManagerId": {
          "type": "string",
          "description": "Network Manager Id."
        },
        "connectionState": {
          "$ref": "./networkManagerScopeConnections.json#/definitions/ConnectionState"
        },
        "description": {
          "type": "string",
          "description": "A description of the scope connection."
        }
      },
      "description": "Information about the network manager connection."
    },
    "NetworkManagerConnectionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkManagerConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "List of network manager connections."
    },
    "PendingNetworkManagerConnectionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkManagerConnection"
          }
        },
        "skipToken": {
          "type": "string",
          "description": "When present, this value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data."
        }
      },
      "description": "List of network manager connections."
    }
  },
  "parameters": {
    "ManagementGroupIdParameter": {
      "name": "managementGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The management group Id which uniquely identify the Microsoft Azure management group."
    },
    "NetworkManagerConnectionNameParameter": {
      "name": "networkManagerConnectionName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name for the network manager connection.",
      "x-ms-parameter-location": "method"
    }
  }
}
