{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagerEffectiveConfiguration",
    "description": "The Microsoft Azure Network Manager effective configuration API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listNetworkManagerEffectiveConfigurations": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/VirtualNetworkNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "name": "parameters",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "./networkManager.json#/definitions/QueryRequestOptions"
          },
          "description": "Parameters supplied to list correct page."
        }
      ],
      "post": {
        "tags": [
          "NetworkManagerEffectiveConfiguration"
        ],
        "operationId": "EffectiveConfigurations_List",
        "description": "List all configurations in a virtual network.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the configurations.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerEffectiveConfigurationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List effective configuration": {
            "$ref": "./examples/NetworkManagerEffectiveConfigurationsList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "EffectiveConfiguration": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "kind": {
          "type": "string",
          "enum": [
            "EffectiveConnectivityConfiguration",
            "EffectiveSecurityRuleCollection"
          ],
          "x-ms-enum": {
            "name": "kind",
            "modelAsString": true
          },
          "description": "Effective configuration Type."
        },
        "configurationGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationGroup"
          },
          "description": "Effective configuration groups."
        }
      },
      "required": [
        "kind"
      ],
      "discriminator": "kind",
      "description": "The network manager effective configuration"
    },
    "EffectiveConnectivityConfiguration": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "./networkManagerConnectivityConfiguration.json#/definitions/ConnectivityConfigurationProperties",
          "description": "Properties of a network manager connectivity configuration"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveConfiguration"
        }
      ],
      "description": "The network manager connectivity configuration resource",
      "x-ms-discriminator-value": "EffectiveConnectivityConfiguration"
    },
    "EffectiveSecurityRuleCollection": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EffectiveRuleCollectionProperties",
          "description": "The security rule collection properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveConfiguration"
        }
      ],
      "description": "The network manager effective security rule collection",
      "x-ms-discriminator-value": "EffectiveSecurityRuleCollection"
    },
    "EffectiveRuleCollectionProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A display name of the rule collection."
        },
        "description": {
          "type": "string",
          "description": "A description of the rule collection."
        },
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EffectiveBaseRule"
          },
          "description": "Base rule List"
        },
        "appliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/NetworkManagerSecurityGroupItem"
          },
          "description": "Groups for configuration"
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "./network.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the the resource."
        }
      },
      "description": "The network manager security rule collection properties"
    },
    "EffectiveBaseRule": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "kind": {
          "type": "string",
          "description": "Whether the rule collection is custom or default.",
          "enum": [
            "EffectiveAdminRule",
            "EffectiveUserRule",
            "EffectiveDefaultUserRule",
            "EffectiveDefaultAdminRule"
          ],
          "x-ms-enum": {
            "name": "Kind",
            "modelAsString": true
          }
        }
      },
      "required": [
        "kind"
      ],
      "discriminator": "kind",
      "description": "Network base rule."
    },
    "EffectiveAdminRule": {
      "properties": {
        "properties": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/AdminPropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security admin rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseRule"
        }
      ],
      "description": "Network admin rule.",
      "x-ms-discriminator-value": "EffectiveAdminRule"
    },
    "EffectiveDefaultAdminRule": {
      "properties": {
        "properties": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/DefaultAdminPropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security admin rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseRule"
        }
      ],
      "description": "Network default admin rule.",
      "x-ms-discriminator-value": "EffectiveDefaultAdminRule"
    },
    "EffectiveUserRule": {
      "properties": {
        "properties": {
          "$ref": "./networkManagerSecurityUserConfiguration.json#/definitions/UserRulePropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security user rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseRule"
        }
      ],
      "description": "Network security user rule.",
      "x-ms-discriminator-value": "EffectiveUserRule"
    },
    "EffectiveDefaultUserRule": {
      "properties": {
        "properties": {
          "$ref": "./networkManagerSecurityUserConfiguration.json#/definitions/DefaultUserRulePropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security default user rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseRule"
        }
      ],
      "description": "Network security default user rule.",
      "x-ms-discriminator-value": "EffectiveDefaultUserRule"
    },
    "ConfigurationGroup": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "./networkManagerGroup.json#/definitions/NetworkGroupProperties",
          "description": "The network configuration group properties"
        }
      },
      "description": "The network configuration group resource"
    },
    "NetworkManagerEffectiveConfigurationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EffectiveConfiguration"
          },
          "description": "Gets a page of NetworkManagerEffectiveConfiguration"
        },
        "totalRecords": {
          "description": "Total Records.",
          "format": "int32",
          "type": "integer"
        },
        "firstIndex": {
          "description": "First Index.",
          "format": "int32",
          "type": "integer"
        },
        "pageSize": {
          "description": "Page Size.",
          "format": "int32",
          "type": "integer"
        },
        "$skipToken": {
          "description": "When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.",
          "type": "string"
        }
      },
      "description": "Result of the request to list networkManagerEffectiveConfiguration. It contains a list of groups and a URL link to get the next set of results."
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "VirtualNetworkNameParameter": {
      "name": "virtualNetworkName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the virtual network.",
      "x-ms-parameter-location": "method"
    }
  }
}
