{
  "swagger": "2.0",
  "info": {
    "title": "NetworkSecurityPerimeter",
    "description": "The Network Security Perimeter API provides a RESTful set of web services that interact with network security perimeter resource.",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "operationId": "NetworkSecurityPerimeters_Get",
        "description": "Gets the specified network security perimeter by the name.",
        "responses": {
          "200": {
            "description": "Request is successful. Returns the resulting network security perimeter resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterGet": {
            "$ref": "./examples/NetworkSecurityPerimeterGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "operationId": "NetworkSecurityPerimeters_CreateOrUpdate",
        "description": "Creates or updates a Network Security Perimeter.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            },
            "description": "Parameter supplied to create or update the network security perimeter."
          }
        ],
        "responses": {
          "200": {
            "description": "Resource Updated. Returns the network security perimeter.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "201": {
            "description": "Resource Created. Returns the network security perimeter.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeter"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Put Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "operationId": "NetworkSecurityPerimeters_Delete",
        "description": "Deletes a network security perimeter.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSecurityPerimeterDelete": {
            "$ref": "./examples/NetworkSecurityPerimeterDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "operationId": "NetworkSecurityPerimeters_ListBySubscription",
        "description": "List all network security perimeters in a subscription.",
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. Returns the list of the network security perimeters.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "NetworkSecurityPerimetersList": {
            "$ref": "./examples/NetworkSecurityPerimeterListAll.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters": {
      "get": {
        "tags": [
          "NetworkSecurityPerimeters"
        ],
        "operationId": "NetworkSecurityPerimeters_List",
        "description": "List network security perimeters in a resource group.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. Returns a list of network security perimeters.",
            "schema": {
              "$ref": "#/definitions/NetworkSecurityPerimeterListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List Network Security Perimeter": {
            "$ref": "./examples/NetworkSecurityPerimeterList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "#/parameters/ProfileNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NspProfiles"
        ],
        "operationId": "NspProfiles_Get",
        "description": "Gets the specified NSP profile.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the NSP profile.",
            "schema": {
              "$ref": "#/definitions/NspProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspProfilesGet": {
            "$ref": "./examples/NspProfileGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NspProfiles"
        ],
        "operationId": "NspProfiles_CreateOrUpdate",
        "description": "Creates or updates a network profile.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspProfile"
            },
            "description": "Parameters that hold the NspProfile resource to be created/updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Update - Profile is immutable resource. Returns the existing profile resource.",
            "schema": {
              "$ref": "#/definitions/NspProfile"
            }
          },
          "201": {
            "description": "Create - Returns the NspProfile resource created.",
            "schema": {
              "$ref": "#/definitions/NspProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspProfilesPut": {
            "$ref": "./examples/NspProfilePut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NspProfiles"
        ],
        "operationId": "NspProfiles_Delete",
        "description": "Deletes an NSP profile.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspProfilesDelete": {
            "$ref": "./examples/NspProfileDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles": {
      "get": {
        "tags": [
          "NspProfiles"
        ],
        "operationId": "NspProfiles_List",
        "description": "Lists the NSP profiles in the specified network security perimeter.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the list of NSP profiles.",
            "schema": {
              "$ref": "#/definitions/NspProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspProfilesList": {
            "$ref": "./examples/NspProfileList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}/accessRules/{accessRuleName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "#/parameters/ProfileNameParameter"
        },
        {
          "$ref": "#/parameters/AccessRuleNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "NspAccessRules"
        ],
        "operationId": "NspAccessRules_Get",
        "description": "Gets the specified NSP access rule by name.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the NSP access rule.",
            "schema": {
              "$ref": "#/definitions/NspAccessRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRuleGet": {
            "$ref": "./examples/NspAccessRuleGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NspAccessRules"
        ],
        "operationId": "NspAccessRules_CreateOrUpdate",
        "description": "Creates or updates a network access rule.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspAccessRule"
            },
            "description": "Parameters that hold the NspAccessRule resource to be created/updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Existing access rule is updated. Returns the resource.",
            "schema": {
              "$ref": "#/definitions/NspAccessRule"
            }
          },
          "201": {
            "description": "Create - Returns the NspAccessRule resource created.",
            "schema": {
              "$ref": "#/definitions/NspAccessRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRulePut": {
            "$ref": "./examples/NspAccessRulePut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NspAccessRules"
        ],
        "operationId": "NspAccessRules_Delete",
        "description": "Deletes an NSP access rule.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRulesDelete": {
            "$ref": "./examples/NspAccessRuleDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/profiles/{profileName}/accessRules": {
      "get": {
        "tags": [
          "NspAccessRules"
        ],
        "operationId": "NspAccessRules_List",
        "description": "Lists the NSP access rules in the specified NSP profile.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
          },
          {
            "$ref": "#/parameters/ProfileNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the list of NSP access rules.",
            "schema": {
              "$ref": "#/definitions/NspAccessRuleListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAccessRulesList": {
            "$ref": "./examples/NspAccessRuleList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations/{associationName}": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
        },
        {
          "$ref": "#/parameters/AssociationNameParameter"
        }
      ],
      "get": {
        "tags": [
          "NspAssociations"
        ],
        "operationId": "NspAssociations_Get",
        "description": "Gets the specified NSP association by name.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the NSP resource association.",
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationGet": {
            "$ref": "./examples/NspAssociationGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "NspAssociations"
        ],
        "operationId": "NspAssociations_CreateOrUpdate",
        "description": "Creates or updates a NSP resource association.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            },
            "description": "Parameters that hold the NspAssociation resource to be created/updated."
          }
        ],
        "responses": {
          "200": {
            "description": "Updated - Existing resource association is updated. Returns the resource.",
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            }
          },
          "201": {
            "description": "Create - Returns the NspAssociation resource created.",
            "schema": {
              "$ref": "#/definitions/NspAssociation"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationPut": {
            "$ref": "./examples/NspAssociationPut.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NspAssociations"
        ],
        "operationId": "NspAssociations_Delete",
        "description": "Deletes an NSP association resource.",
        "responses": {
          "200": {
            "description": "Delete Succeed."
          },
          "202": {
            "description": "Delete in progress.",
            "headers": {
              "location": {
                "description": "location header",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Request successful. The resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "NspAssociationDelete": {
            "$ref": "./examples/NspAssociationDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/resourceAssociations": {
      "get": {
        "tags": [
          "NspAssociations"
        ],
        "operationId": "NspAssociations_List",
        "description": "Lists the NSP resource associations in the specified perimeter.",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSecurityPerimeterNameParameter"
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipTokenParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns the list of NSP resource associations.",
            "schema": {
              "$ref": "#/definitions/NspAssociationsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "NspAssociationList": {
            "$ref": "./examples/NspAssociationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/locations/{location}/perimeterAssociableResourceTypes": {
      "get": {
        "operationId": "PerimeterAssociableResourceTypes_List",
        "description": "Gets the list of resources that are onboarded with NSP. These resources can be associated with a network security perimeter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "./network.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location of the where the association is present."
          },
          {
            "$ref": "./network.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. Returns the list of resources that are onboarded with network security perimeter feature.",
            "schema": {
              "$ref": "#/definitions/PerimeterAssociableResourcesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Check Dns Name Availability": {
            "$ref": "./examples/PerimeterAssociableResourcesList.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkSecurityPerimeter": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkSecurityPerimeterProperties",
          "description": "The network security perimeter properties"
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "A unique read-only string that changes whenever the resource is updated."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Network security perimeter identifier."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "The Network Security Perimeter resource"
    },
    "NetworkSecurityPerimeterListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSecurityPerimeter"
          },
          "description": "Gets a page of NetworkSecurityPerimeter"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NetworkSecurityPerimeter. It contains a list of network security perimeters and a URL link to get the next set of results."
    },
    "NetworkSecurityPerimeterProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "A friendly name for the network security perimeter."
        },
        "description": {
          "type": "string",
          "description": "A description of the network security perimeter."
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/NSPProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        }
      },
      "description": "Properties of network security perimeter."
    },
    "NspProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NspProfileProperties",
          "description": "Properties of the network security perimeter profile"
        },
        "name": {
          "type": "string",
          "description": "The name of the profile resource that is unique within a perimeter. This name can be used to access the resource."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Identifier of the network security perimeter profile in ARM id format."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "The network security perimeter profile resource"
    },
    "NspProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspProfile"
          },
          "description": "Gets a page of NSP profile"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP profiles. Contains a list of NSP profiles and a URL link to get the next set of results."
    },
    "NspProfileProperties": {
      "type": "object",
      "properties": {
        "accessRulesVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Version number that increases with every update to access rules within the profile."
        },
        "enabledLogCategories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LoggingCategory"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "Gets the enabled log categories."
        }
      },
      "description": "Properties of NSP profile."
    },
    "NspAccessRule": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NspAccessRuleProperties",
          "description": "Properties of the NSP access rule."
        },
        "name": {
          "type": "string",
          "description": "The name of the access rule that is unique within a profile. This name can be used to access the resource."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "NSP access rule identifier."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "The NSP access rule resource"
    },
    "NspAccessRuleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspAccessRule"
          },
          "description": "Gets a page of NSP access rule"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP access rules. Contains a list of NSP access rules and a URL link to get the next set of results."
    },
    "NspAccessRuleProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/NSPProvisioningState",
          "description": "The provisioning state of the scope assignment resource."
        },
        "direction": {
          "type": "string",
          "enum": [
            "Inbound",
            "Outbound"
          ],
          "x-ms-enum": {
            "name": "AccessRuleDirection",
            "modelAsString": true
          },
          "description": "Direction that specifies whether the access rules is inbound/outbound."
        },
        "addressPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Inbound address prefixes (IPv4/IPv6)"
        },
        "fullyQualifiedDomainNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Outbound rules fully qualified domain name format."
        },
        "subscriptions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Subscription id in the ARM id format."
        },
        "networkSecurityPerimeters": {
          "type": "array",
          "items": {
            "x-ms-client-flatten": true,
            "$ref": "#/definitions/PerimeterBasedAccessRule"
          },
          "description": "Inbound rule specified by the perimeter id."
        }
      },
      "description": "Properties of NSP access rule."
    },
    "PerimeterBasedAccessRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "NSP id in the ARM id format."
        },
        "perimeterGuid": {
          "readOnly": true,
          "type": "string",
          "description": "Resource guid of the NSP supplied."
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "Location of the NSP supplied."
        }
      }
    },
    "NspAssociation": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NspAssociationProperties",
          "description": "Properties of the NSP resource association."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "NSP resource association identifier."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "The NSP resource association resource"
    },
    "NspAssociationsListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NspAssociation"
          },
          "description": "Gets a page of NSP resource associations"
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Result of the request to list NSP resource associations. Contains a list of NSP resource associations and a URL link to get the next set of results."
    },
    "NspAssociationProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/NSPProvisioningState",
          "description": "The provisioning state of the resource  association resource."
        },
        "privateLinkResource": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "The PaaS resource to be associated."
        },
        "profile": {
          "$ref": "./network.json#/definitions/SubResource",
          "description": "Profile id to which the PaaS resource is associated."
        },
        "accessMode": {
          "type": "string",
          "enum": [
            "Learning",
            "Enforced",
            "Audit"
          ],
          "x-ms-enum": {
            "name": "AssociationAccessMode",
            "modelAsString": true
          },
          "description": "Access mode on the association."
        },
        "hasProvisioningIssues": {
          "readOnly": true,
          "type": "string",
          "description": "Specifies if there are provisioning issues"
        }
      }
    },
    "PerimeterAssociableResource": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PerimeterAssociableResourceProperties",
          "description": "Properties of the perimeter associable resource."
        },
        "name": {
          "type": "string",
          "description": "The name of the resource that is unique within a resource group. This name can be used to access the resource."
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Identifier of the perimeter associable resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "Resource that is onboarded to use network security perimeter. Also referred as perimeter associable resource."
    },
    "PerimeterAssociableResourcesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PerimeterAssociableResource"
          },
          "description": "Gets paged list of perimeter associable resources."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets the URL to get the next page of results."
        }
      },
      "description": "Paged list of perimeter associable resources."
    },
    "PerimeterAssociableResourceProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "A friendly name for the properties of perimeter associable resources."
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type/provider name."
        },
        "publicDnsZones": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Public DNS zone names of the resources."
        }
      },
      "description": "Properties of the perimeter associable resources."
    },
    "LoggingCategory": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the logging category."
        }
      },
      "description": "Logging Category"
    },
    "NSPProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Updating",
        "Deleting",
        "Accepted",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "nspProvisioningState",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "NetworkSecurityPerimeterNameParameter": {
      "name": "networkSecurityPerimeterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the network security perimeter.",
      "x-ms-parameter-location": "method"
    },
    "ProfileNameParameter": {
      "name": "profileName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the NSP profile.",
      "x-ms-parameter-location": "method"
    },
    "AccessRuleNameParameter": {
      "name": "accessRuleName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the NSP access rule.",
      "x-ms-parameter-location": "method"
    },
    "AssociationNameParameter": {
      "name": "associationName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the NSP association.",
      "x-ms-parameter-location": "method"
    },
    "ListTopParameter": {
      "name": "$top",
      "description": "An optional query parameter which specifies the maximum number of records to be returned by the server.",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 20,
      "x-ms-parameter-location": "method"
    },
    "ListSkipTokenParameter": {
      "name": "$skipToken",
      "description": "SkipToken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skipToken parameter that specifies a starting point to use for subsequent calls.",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
