{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagerEffectiveConfiguration",
    "description": "The Microsoft Azure Network Manager effective configuration API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listNetworkManagerEffectiveConnectivityConfigurations": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/VirtualNetworkNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "name": "parameters",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "./networkManagerGroup.json#/definitions/QueryRequestOptions"
          },
          "description": "Parameters supplied to list correct page."
        }
      ],
      "post": {
        "tags": [
          "NetworkManagerEffectiveConnectivityConfiguration"
        ],
        "operationId": "EffectiveConnectivityConfigurations_List",
        "description": "List all effective connectivity configurations applied on a virtual network.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the configurations.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerEffectiveConnectivityConfigurationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List effective connectivity configuration": {
            "$ref": "./examples/NetworkManagerEffectiveConnectivityConfigurationsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/listNetworkManagerEffectiveSecurityAdminRules": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/VirtualNetworkNameParameter"
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "name": "parameters",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "./networkManagerGroup.json#/definitions/QueryRequestOptions"
          },
          "description": "Parameters supplied to list correct page."
        }
      ],
      "post": {
        "tags": [
          "NetworkManagerEffectiveSecurityAdminRules"
        ],
        "operationId": "NetworkManagerEffectiveSecurityAdminRules_List",
        "description": "List all effective security admin rules applied on a virtual network.",
        "responses": {
          "200": {
            "description": "OK - Returns information about the configurations.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerEffectiveSecurityAdminRulesListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List effective security admin rules": {
            "$ref": "./examples/NetworkManagerEffectiveSecurityAdminRulesList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}/subnets/{subnetName}/listNetworkManagerEffectiveSecurityUserRules": {
      "parameters": [
        {
          "$ref": "./network.json#/parameters/SubscriptionIdParameter"
        },
        {
          "$ref": "#/parameters/ResourceGroupNameParameter"
        },
        {
          "$ref": "#/parameters/VirtualNetworkNameParameter"
        },
        {
          "name": "subnetName",
          "in": "path",
          "required": true,
          "type": "string",
          "description": "The name of the subnet."
        },
        {
          "$ref": "./network.json#/parameters/ApiVersionParameter"
        },
        {
          "name": "parameters",
          "in": "body",
          "required": true,
          "schema": {
            "$ref": "./networkManagerGroup.json#/definitions/QueryRequestOptions"
          },
          "description": "Parameters supplied to list correct page."
        }
      ],
      "post": {
        "tags": [
          "NetworkManagerEffectiveSecurityUserRules"
        ],
        "operationId": "EffectiveSecurityUserRules_ListBySubnet",
        "description": "List all effective security user rules in a subnet.",
        "responses": {
          "200": {
            "description": "OK - Returns information about all effective configurations in a subnet.",
            "schema": {
              "$ref": "#/definitions/NetworkManagerEffectiveSecurityUserRulesListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "./network.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List effective security user rules applied on a subnet": {
            "$ref": "./examples/NetworkManagerEffectiveSecurityUserRulesListBySubnet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "NetworkManagerEffectiveConnectivityConfigurationListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EffectiveConnectivityConfiguration"
          },
          "description": "Gets a page of NetworkManagerEffectiveConnectivityConfiguration"
        },
        "$skipToken": {
          "description": "When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.",
          "type": "string"
        }
      },
      "description": "Result of the request to list networkManagerEffectiveConnectivityConfiguration. It contains a list of groups and a skiptoken to get the next set of results."
    },
    "NetworkManagerEffectiveSecurityAdminRulesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EffectiveBaseSecurityAdminRule"
          },
          "description": "Gets a page of NetworkManagerEffectiveSecurityAdminRules"
        },
        "$skipToken": {
          "description": "When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.",
          "type": "string"
        }
      },
      "description": "Result of the request to list networkManagerEffectiveSecurityAdminRules. It contains a list of groups and a skiptoken to get the next set of results."
    },
    "NetworkManagerEffectiveSecurityUserRulesListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EffectiveBaseSecurityUserRule"
          },
          "description": "Gets a page of NetworkManagerEffectiveSecurityUserRules"
        },
        "$skipToken": {
          "description": "When present, the value can be passed to a subsequent query call (together with the same query and scopes used in the current request) to retrieve the next page of data.",
          "type": "string"
        }
      },
      "description": "Result of the request to list NetworkManagerEffectiveSecurityUserRules. It contains a list of groups and a skiptoken to get the next set of results."
    },
    "EffectiveConnectivityConfiguration": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "./networkManagerConnectivityConfiguration.json#/definitions/ConnectivityConfigurationProperties",
          "description": "Properties of a network manager connectivity configuration"
        },
        "configurationGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationGroup"
          },
          "description": "Effective configuration groups."
        }
      },
      "description": "The network manager effective connectivity configuration"
    },
    "EffectiveBaseSecurityAdminRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "configurationDisplayName": {
          "type": "string",
          "description": "A display name of the security admin configuration."
        },
        "configurationDescription": {
          "type": "string",
          "description": "A description of the security admin configuration."
        },
        "ruleCollectionDisplayName": {
          "type": "string",
          "description": "A display name of the rule collection."
        },
        "ruleCollectionDescription": {
          "type": "string",
          "description": "A description of the rule collection."
        },
        "ruleCollectionAppliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/NetworkManagerSecurityGroupItem"
          },
          "description": "Groups for rule collection"
        },
        "ruleGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationGroup"
          },
          "description": "Effective configuration groups."
        },
        "kind": {
          "type": "string",
          "description": "Whether the rule is custom or default.",
          "enum": [
            "Custom",
            "Default"
          ],
          "x-ms-enum": {
            "name": "EffectiveAdminRuleKind",
            "modelAsString": true
          }
        }
      },
      "required": [
        "kind"
      ],
      "discriminator": "kind",
      "description": "Network base admin rule."
    },
    "EffectiveSecurityAdminRule": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/AdminPropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security admin rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseSecurityAdminRule"
        }
      ],
      "description": "Network admin rule.",
      "x-ms-discriminator-value": "Custom"
    },
    "EffectiveDefaultSecurityAdminRule": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/DefaultAdminPropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the default security admin rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseSecurityAdminRule"
        }
      ],
      "description": "Network default admin rule.",
      "x-ms-discriminator-value": "Default"
    },
    "EffectiveBaseSecurityUserRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "configurationDisplayName": {
          "type": "string",
          "description": "A display name of the security user configuration."
        },
        "configurationDescription": {
          "type": "string",
          "description": "A description of the security user configuration."
        },
        "ruleCollectionDisplayName": {
          "type": "string",
          "description": "A display name of the rule collection."
        },
        "ruleCollectionDescription": {
          "type": "string",
          "description": "A description of the rule collection."
        },
        "ruleCollectionAppliesToGroups": {
          "type": "array",
          "items": {
            "$ref": "./networkManagerSecurityAdminConfiguration.json#/definitions/NetworkManagerSecurityGroupItem"
          },
          "description": "Groups for rule collection"
        },
        "ruleGroups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigurationGroup"
          },
          "description": "Effective configuration groups."
        },
        "kind": {
          "type": "string",
          "description": "Whether the rule is custom or default.",
          "enum": [
            "Custom",
            "Default"
          ],
          "x-ms-enum": {
            "name": "EffectiveUserRuleKind",
            "modelAsString": true
          }
        }
      },
      "required": [
        "kind"
      ],
      "discriminator": "kind",
      "description": "Network base rule."
    },
    "EffectiveSecurityUserRule": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "./networkManagerSecurityUserConfiguration.json#/definitions/UserRulePropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security user rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseSecurityUserRule"
        }
      ],
      "description": "Network security user rule.",
      "x-ms-discriminator-value": "Custom"
    },
    "EffectiveDefaultSecurityUserRule": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "./networkManagerSecurityUserConfiguration.json#/definitions/DefaultUserRulePropertiesFormat",
          "x-ms-client-flatten": true,
          "description": "Indicates the properties of the security default user rule"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/EffectiveBaseSecurityUserRule"
        }
      ],
      "description": "Network security default user rule.",
      "x-ms-discriminator-value": "Default"
    },
    "ConfigurationGroup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "./networkManagerGroup.json#/definitions/NetworkGroupProperties",
          "description": "The network configuration group properties"
        }
      },
      "description": "The network configuration group resource"
    }
  },
  "parameters": {
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "VirtualNetworkNameParameter": {
      "name": "virtualNetworkName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the virtual network.",
      "x-ms-parameter-location": "method"
    }
  }
}
