{
  "swagger": "2.0",
  "info": {
    "title": "Azure Defender for IoT",
    "description": "API spec for Microsoft.IoTSecurity (Azure Defender for IoT) resource provider",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/onPremiseSensors": {
      "get": {
        "x-ms-examples": {
          "List on-premise IoT sensors": {
            "$ref": "./examples/OnPremiseSensors/List.json"
          }
        },
        "tags": [
          "On-Premise Sensors"
        ],
        "description": "List on-premise IoT sensors",
        "operationId": "OnPremiseSensors_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnPremiseSensorsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/onPremiseSensors/{onPremiseSensorName}": {
      "get": {
        "x-ms-examples": {
          "Get on-premise IoT sensor": {
            "$ref": "./examples/OnPremiseSensors/Get.json"
          }
        },
        "tags": [
          "On-Premise Sensors"
        ],
        "operationId": "OnPremiseSensors_Get",
        "description": "Get on-premise IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/OnPremiseSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OnPremiseSensor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create or update on-premise IoT sensor": {
            "$ref": "./examples/OnPremiseSensors/Put.json"
          }
        },
        "tags": [
          "On-Premise Sensors"
        ],
        "operationId": "OnPremiseSensors_CreateOrUpdate",
        "description": "Create or update on-premise IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/OnPremiseSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated on-premise IoT sensor",
            "schema": {
              "$ref": "#/definitions/OnPremiseSensor"
            }
          },
          "201": {
            "description": "Created on-premise IoT sensor",
            "schema": {
              "$ref": "#/definitions/OnPremiseSensor"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete on-premise IoT sensor": {
            "$ref": "./examples/OnPremiseSensors/Delete.json"
          }
        },
        "tags": [
          "On-Premise Sensors"
        ],
        "operationId": "OnPremiseSensors_Delete",
        "description": "Delete on-premise IoT sensor",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/OnPremiseSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Deleted on-premise IoT sensor"
          },
          "204": {
            "description": "On-premise IoT sensor does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/onPremiseSensors/{onPremiseSensorName}/downloadActivation": {
      "post": {
        "x-ms-examples": {
          "Download activation file": {
            "$ref": "./examples/OnPremiseSensors/DownloadActivation.json"
          }
        },
        "tags": [
          "On-Premise Sensors"
        ],
        "operationId": "OnPremiseSensors_DownloadActivation",
        "description": "Download sensor activation file",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/OnPremiseSensorName"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded activation file",
            "schema": {
              "type": "object",
              "format": "file"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTSecurity/onPremiseSensors/{onPremiseSensorName}/downloadResetPassword": {
      "post": {
        "x-ms-examples": {
          "Download file for reset password of the sensor": {
            "$ref": "./examples/OnPremiseSensors/DownloadResetPassword.json"
          }
        },
        "tags": [
          "Sensors"
        ],
        "operationId": "OnPremiseSensors_DownloadResetPassword",
        "description": "Download file for reset password of the sensor",
        "produces": [
          "application/zip"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/OnPremiseSensorName"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "description": "Input for reset password.",
            "schema": {
              "$ref": "#/definitions/ResetPasswordInput"
            },
            "x-ms-parameter-location": "method"
          }
        ],
        "responses": {
          "200": {
            "description": "Downloaded reset password file",
            "schema": {
              "type": "object",
              "format": "file"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OnPremiseSensorsList": {
      "description": "List of on-premise IoT sensors",
      "type": "object",
      "properties": {
        "value": {
          "description": "List data",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OnPremiseSensor"
          }
        }
      }
    },
    "OnPremiseSensor": {
      "type": "object",
      "description": "On-premise IoT sensor",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "On-premise IoT sensor properties",
          "$ref": "#/definitions/OnPremiseSensorProperties"
        },
        "systemData": {
          "readOnly": true,
          "type": "object",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OnPremiseSensorProperties": {
      "type": "object",
      "description": "On-premise IoT sensor properties",
      "properties": {}
    },
    "ResetPasswordInput": {
      "description": "Reset password input.",
      "type": "object",
      "properties": {
        "applianceId": {
          "description": "The appliance id of the sensor.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "OnPremiseSensorName": {
      "name": "onPremiseSensorName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the on-premise IoT sensor",
      "x-ms-parameter-location": "method"
    }
  }
}
