{
  "swagger": "2.0",
  "info": {
    "title": "BatchManagement",
    "version": "2019-04-01",
    "x-ms-code-generation-settings": {
      "name": "BatchManagementClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}": {
      "put": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_Create",
        "x-ms-examples": {
          "BatchAccountCreate_Default": {
            "$ref": "./examples/BatchAccountCreate_Default.json"
          },
          "BatchAccountCreate_BYOS": {
            "$ref": "./examples/BatchAccountCreate_BYOS.json"
          }
        },
        "description": "Creates a new Batch account with the specified parameters. Existing accounts cannot be updated with this API and should instead be updated with the Update Batch Account API.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "accountName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._]+$",
            "minLength": 3,
            "maxLength": 24,
            "description": "A name for the Batch account which must be unique within the region. Batch account names must be between 3 and 24 characters in length and must use only numbers and lowercase letters. This name is used as part of the DNS name that is used to access the Batch service in the region in which the account is created. For example: http://accountname.region.batch.azure.com/."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchAccountCreateParameters"
            },
            "description": "Additional parameters for account creation."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the Batch account entity.",
            "schema": {
              "$ref": "#/definitions/BatchAccount"
            }
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_Update",
        "x-ms-examples": {
          "BatchAccountUpdate": {
            "$ref": "./examples/BatchAccountUpdate.json"
          }
        },
        "description": "Updates the properties of an existing Batch account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchAccountUpdateParameters"
            },
            "description": "Additional parameters for account update."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the Batch account entity.",
            "schema": {
              "$ref": "#/definitions/BatchAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_Delete",
        "x-ms-examples": {
          "BatchAccountDelete": {
            "$ref": "./examples/BatchAccountDelete.json"
          }
        },
        "description": "Deletes the specified Batch account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that specifies the delay in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "NoContent -- account does not exist in the subscription."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_Get",
        "x-ms-examples": {
          "BatchAccountGet": {
            "$ref": "./examples/BatchAccountGet.json"
          }
        },
        "description": "Gets information about the specified Batch account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the Batch account entity.",
            "schema": {
              "$ref": "#/definitions/BatchAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Batch/batchAccounts": {
      "get": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_List",
        "x-ms-examples": {
          "BatchAccountList": {
            "$ref": "./examples/BatchAccountList.json"
          }
        },
        "description": "Gets information about the Batch accounts associated with the subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains a list of Batch account entities associated with the subscription.",
            "schema": {
              "$ref": "#/definitions/BatchAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts": {
      "get": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_ListByResourceGroup",
        "x-ms-examples": {
          "BatchAccountListByResourceGroup": {
            "$ref": "./examples/BatchAccountListByResourceGroup.json"
          }
        },
        "description": "Gets information about the Batch accounts associated with the specified resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains a list of Batch account entities associated with the resource group.",
            "schema": {
              "$ref": "#/definitions/BatchAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/syncAutoStorageKeys": {
      "post": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_SynchronizeAutoStorageKeys",
        "x-ms-examples": {
          "BatchAccountSynchronizeAutoStorageKeys": {
            "$ref": "./examples/BatchAccountSynchronizeAutoStorageKeys.json"
          }
        },
        "description": "Synchronizes access keys for the auto-storage account configured for the specified Batch account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The operation was successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/regenerateKeys": {
      "post": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_RegenerateKey",
        "x-ms-examples": {
          "BatchAccountRegenerateKey": {
            "$ref": "./examples/BatchAccountRegenerateKey.json"
          }
        },
        "description": "Regenerates the specified account key for the Batch account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchAccountRegenerateKeyParameters"
            },
            "description": "The type of key to regenerate."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the Batch account keys.",
            "schema": {
              "$ref": "#/definitions/BatchAccountKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/listKeys": {
      "post": {
        "tags": [
          "BatchAccount"
        ],
        "operationId": "BatchAccount_GetKeys",
        "x-ms-examples": {
          "BatchAccountGetKeys": {
            "$ref": "./examples/BatchAccountGetKeys.json"
          }
        },
        "summary": "Gets the account keys for the specified Batch account.",
        "description": "This operation applies only to Batch accounts created with a poolAllocationMode of 'BatchService'. If the Batch account was created with a poolAllocationMode of 'UserSubscription', clients cannot use access to keys to authenticate, and must use Azure Active Directory instead. In this case, getting the keys will fail.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the keys of the Batch account.",
            "schema": {
              "$ref": "#/definitions/BatchAccountKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions/{versionName}/activate": {
      "post": {
        "tags": [
          "ApplicationPackage"
        ],
        "operationId": "ApplicationPackage_Activate",
        "x-ms-examples": {
          "ApplicationPackageActivate": {
            "$ref": "./examples/ApplicationPackageActivate.json"
          }
        },
        "description": "Activates the specified application package.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivateApplicationPackageParameters"
            },
            "description": "The parameters for the request."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the application package entity.",
            "schema": {
              "$ref": "#/definitions/ApplicationPackage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}": {
      "put": {
        "tags": [
          "Application"
        ],
        "operationId": "Application_Create",
        "x-ms-examples": {
          "ApplicationCreate": {
            "$ref": "./examples/ApplicationCreate.json"
          }
        },
        "description": "Adds an application to the specified Batch account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "description": "The parameters for the request."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the application entity.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "operationId": "Application_Delete",
        "x-ms-examples": {
          "ApplicationDelete": {
            "$ref": "./examples/ApplicationDelete.json"
          }
        },
        "description": "Deletes an application.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "204": {
            "description": "The operation was successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Application"
        ],
        "operationId": "Application_Get",
        "x-ms-examples": {
          "ApplicationGet": {
            "$ref": "./examples/ApplicationGet.json"
          }
        },
        "description": "Gets information about the specified application.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the application entity.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Application"
        ],
        "operationId": "Application_Update",
        "x-ms-examples": {
          "ApplicationUpdate": {
            "$ref": "./examples/ApplicationUpdate.json"
          }
        },
        "description": "Updates settings for the specified application.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            },
            "description": "The parameters for the request."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the application entity.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions/{versionName}": {
      "put": {
        "tags": [
          "ApplicationPackage"
        ],
        "operationId": "ApplicationPackage_Create",
        "x-ms-examples": {
          "ApplicationPackageCreate": {
            "$ref": "./examples/ApplicationPackageCreate.json"
          }
        },
        "description": "Creates an application package record.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ApplicationPackage"
            },
            "description": "The parameters for the request."
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the application package entity.",
            "schema": {
              "$ref": "#/definitions/ApplicationPackage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ApplicationPackage"
        ],
        "operationId": "ApplicationPackage_Delete",
        "x-ms-examples": {
          "ApplicationPackageDelete": {
            "$ref": "./examples/ApplicationPackageDelete.json"
          }
        },
        "description": "Deletes an application package record and its associated binary file.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "204": {
            "description": "The operation was successful."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ApplicationPackage"
        ],
        "operationId": "ApplicationPackage_Get",
        "x-ms-examples": {
          "ApplicationPackageGet": {
            "$ref": "./examples/ApplicationPackageGet.json"
          }
        },
        "description": "Gets information about the specified application package.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "$ref": "#/parameters/VersionNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the application package entity.",
            "schema": {
              "$ref": "#/definitions/ApplicationPackage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications": {
      "get": {
        "tags": [
          "Application"
        ],
        "operationId": "Application_List",
        "x-ms-examples": {
          "ApplicationList": {
            "$ref": "./examples/ApplicationList.json"
          }
        },
        "description": "Lists all of the applications in the specified account.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains a list of the application entities associated with the specified account.",
            "schema": {
              "$ref": "#/definitions/ListApplicationsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/applications/{applicationName}/versions": {
      "get": {
        "tags": [
          "ApplicationPackage"
        ],
        "operationId": "ApplicationPackage_List",
        "x-ms-examples": {
          "ApplicationList": {
            "$ref": "./examples/ApplicationPackageList.json"
          }
        },
        "description": "Lists all of the application packages in the specified application.",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/ApplicationNameParameter"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains a list of the application package entities associated with the specified application.",
            "schema": {
              "$ref": "#/definitions/ListApplicationPackagesResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/quotas": {
      "get": {
        "tags": [
          "Location"
        ],
        "operationId": "Location_GetQuotas",
        "x-ms-examples": {
          "LocationGetQuotas": {
            "$ref": "./examples/LocationGetQuotas.json"
          }
        },
        "description": "Gets the Batch service quotas for the specified subscription at the given location.",
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The region for which to retrieve Batch service quotas."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the Batch service quotas for the subscription in the specified location.",
            "schema": {
              "$ref": "#/definitions/BatchLocationQuota"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Batch/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists available operations for the Microsoft.Batch provider",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the list of available operations.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Batch/locations/{locationName}/checkNameAvailability": {
      "post": {
        "operationId": "Location_CheckNameAvailability",
        "description": "Checks whether the Batch account name is available in the specified region.",
        "x-ms-examples": {
          "LocationCheckNameAvailability_Available": {
            "$ref": "./examples/LocationCheckNameAvailability_Available.json"
          },
          "LocationCheckNameAvailability_AlreadyExists": {
            "$ref": "./examples/LocationCheckNameAvailability_AlreadyExists.json"
          }
        },
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The desired region for the name check."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityParameters"
            },
            "description": "Properties needed to check the availability of a name."
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns details about whether a Batch account name is available.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates": {
      "get": {
        "tags": [
          "Certificate"
        ],
        "operationId": "Certificate_ListByBatchAccount",
        "description": "Lists all of the certificates in the specified account.",
        "x-ms-examples": {
          "ListCertificates": {
            "$ref": "./examples/CertificateList.json"
          },
          "ListCertificates - Filter and Select": {
            "$ref": "./examples/CertificateListWithFilter.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response."
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma separated list of properties that should be returned. e.g. \"properties/provisioningState\". Only top level properties under properties/ are valid for selection."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData filter expression. Valid properties for filtering are \"properties/provisioningState\", \"properties/provisioningStateTransitionTime\", \"name\"."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains a list of certificates associated with the account.",
            "schema": {
              "$ref": "#/definitions/ListCertificatesResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates/{certificateName}": {
      "put": {
        "tags": [
          "Certificate"
        ],
        "operationId": "Certificate_Create",
        "description": "Creates a new certificate inside the specified account.",
        "x-ms-examples": {
          "CreateCertificate - Minimal Pfx": {
            "$ref": "./examples/CertificateCreate_Minimal.json"
          },
          "CreateCertificate - Minimal Cer": {
            "$ref": "./examples/CertificateCreate_MinimalCer.json"
          },
          "CreateCertificate - Full": {
            "$ref": "./examples/CertificateCreate_Full.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CertificateNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateCreateOrUpdateParameters"
            },
            "description": "Additional parameters for certificate creation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The entity state (ETag) version of the certificate to update. A value of \"*\" can be used to apply the operation only if the certificate already exists. If omitted, this operation will always be applied."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Set to '*' to allow a new certificate to be created, but to prevent updating an existing certificate. Other values will be ignored."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the certificate entity.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Certificate"
        ],
        "operationId": "Certificate_Update",
        "description": "Updates the properties of an existing certificate.",
        "x-ms-examples": {
          "UpdateCertificate": {
            "$ref": "./examples/CertificateUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CertificateNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateCreateOrUpdateParameters"
            },
            "description": "Certificate entity to update."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The entity state (ETag) version of the certificate to update. This value can be omitted or set to \"*\" to apply the operation unconditionally."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the certificate entity.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Certificate"
        ],
        "operationId": "Certificate_Delete",
        "description": "Deletes the specified certificate.",
        "x-ms-examples": {
          "CertificateDelete": {
            "$ref": "./examples/CertificateDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CertificateNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "204": {
            "description": "The operation was successful."
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Certificate"
        ],
        "operationId": "Certificate_Get",
        "description": "Gets information about the specified certificate.",
        "x-ms-examples": {
          "Get Certificate": {
            "$ref": "./examples/CertificateGet.json"
          },
          "Get Certificate with Deletion Error": {
            "$ref": "./examples/CertificateGetWithDeletionError.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CertificateNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the certificate entity.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/certificates/{certificateName}/cancelDelete": {
      "post": {
        "tags": [
          "Certificate"
        ],
        "operationId": "Certificate_CancelDeletion",
        "summary": "Cancels a failed deletion of a certificate from the specified account.",
        "description": "If you try to delete a certificate that is being used by a pool or compute node, the status of the certificate changes to deleteFailed. If you decide that you want to continue using the certificate, you can use this operation to set the status of the certificate back to active. If you intend to delete the certificate, you do not need to run this operation after the deletion failed. You must make sure that the certificate is not being used by any resources, and then you can try again to delete the certificate.",
        "x-ms-examples": {
          "CertificateCancelDeletion": {
            "$ref": "./examples/CertificateCancelDeletion.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/CertificateNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the certificate entity.",
            "schema": {
              "$ref": "#/definitions/Certificate"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools": {
      "get": {
        "tags": [
          "Pool"
        ],
        "operationId": "Pool_ListByBatchAccount",
        "description": "Lists all of the pools in the specified account.",
        "x-ms-examples": {
          "ListPool": {
            "$ref": "./examples/PoolList.json"
          },
          "ListPoolWithFilter": {
            "$ref": "./examples/PoolListWithFilter.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "name": "maxresults",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "The maximum number of items to return in the response."
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Comma separated list of properties that should be returned. e.g. \"properties/provisioningState\". Only top level properties under properties/ are valid for selection."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "OData filter expression. Valid properties for filtering are:\n\n name\n properties/allocationState\n properties/allocationStateTransitionTime\n properties/creationTime\n properties/provisioningState\n properties/provisioningStateTransitionTime\n properties/lastModified\n properties/vmSize\n properties/interNodeCommunication\n properties/scaleSettings/autoScale\n properties/scaleSettings/fixedScale"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains a list of certificates associated with the account.",
            "schema": {
              "$ref": "#/definitions/ListPoolsResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}": {
      "put": {
        "tags": [
          "Pool"
        ],
        "operationId": "Pool_Create",
        "description": "Creates a new pool inside the specified account.",
        "x-ms-examples": {
          "CreatePool - Minimal CloudServiceConfiguration": {
            "$ref": "./examples/PoolCreate_MinimalCloudServiceConfiguration.json"
          },
          "CreatePool - Minimal VirtualMachineConfiguration": {
            "$ref": "./examples/PoolCreate_MinimalVirtualMachineConfiguration.json"
          },
          "CreatePool - Full Example": {
            "$ref": "./examples/PoolCreate_FullExample.json"
          },
          "CreatePool - Custom Image": {
            "$ref": "./examples/PoolCreate_CustomImage.json"
          },
          "CreatePool - Full VirtualMachineConfiguration": {
            "$ref": "./examples/PoolCreate_VirtualMachineConfiguration.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/PoolNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "description": "Additional parameters for pool creation."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The entity state (ETag) version of the pool to update. A value of \"*\" can be used to apply the operation only if the pool already exists. If omitted, this operation will always be applied."
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "Set to '*' to allow a new pool to be created, but to prevent updating an existing pool. Other values will be ignored."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the pool entity.",
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Pool"
        ],
        "operationId": "Pool_Update",
        "description": "Updates the properties of an existing pool.",
        "x-ms-examples": {
          "UpdatePool - Resize Pool": {
            "$ref": "./examples/PoolUpdate_ResizePool.json"
          },
          "UpdatePool - Enable Autoscale": {
            "$ref": "./examples/PoolUpdate_EnableAutoScale.json"
          },
          "UpdatePool - Remove Start Task": {
            "$ref": "./examples/PoolUpdate_RemoveStartTask.json"
          },
          "UpdatePool - Other Properties": {
            "$ref": "./examples/PoolUpdate_OtherProperties.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/PoolNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "description": "Pool properties that should be updated. Properties that are supplied will be updated, any property not supplied will be unchanged."
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "type": "string",
            "description": "The entity state (ETag) version of the pool to update. This value can be omitted or set to \"*\" to apply the operation unconditionally."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the pool entity.",
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Pool"
        ],
        "operationId": "Pool_Delete",
        "description": "Deletes the specified pool.",
        "x-ms-examples": {
          "DeletePool": {
            "$ref": "./examples/PoolDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/PoolNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful."
          },
          "204": {
            "description": "The operation was successful."
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Pool"
        ],
        "operationId": "Pool_Get",
        "description": "Gets information about the specified pool.",
        "x-ms-examples": {
          "GetPool": {
            "$ref": "./examples/PoolGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/PoolNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the pool entity.",
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}/disableAutoScale": {
      "post": {
        "tags": [
          "Pool"
        ],
        "operationId": "Pool_DisableAutoScale",
        "description": "Disables automatic scaling for a pool.",
        "x-ms-examples": {
          "Disable AutoScale": {
            "$ref": "./examples/PoolDisableAutoScale.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/PoolNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the pool entity.",
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Batch/batchAccounts/{accountName}/pools/{poolName}/stopResize": {
      "post": {
        "tags": [
          "Pool"
        ],
        "operationId": "Pool_StopResize",
        "summary": "Stops an ongoing resize operation on the pool.",
        "description": "This does not restore the pool to its previous state before the resize operation: it only stops any further changes being made, and the pool maintains its current state. After stopping, the pool stabilizes at the number of nodes it was at when the stop operation was done. During the stop operation, the pool allocation state changes first to stopping and then to steady. A resize operation need not be an explicit resize pool request; this API can also be used to halt the initial sizing of the pool when it is created.",
        "x-ms-examples": {
          "StopPoolResize": {
            "$ref": "./examples/PoolStopResize.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountNameParameter"
          },
          {
            "$ref": "#/parameters/PoolNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation was successful. The response contains the pool entity.",
            "schema": {
              "$ref": "#/definitions/Pool"
            },
            "headers": {
              "ETag": {
                "description": "The ETag HTTP response header. This is an opaque string. You can use it to detect whether the resource has changed between requests. In particular, you can pass the ETag to one of the If-Match or If-None-Match headers.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "AutoStorageBaseProperties": {
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "The resource ID of the storage account to be used for auto-storage account."
        }
      },
      "required": [
        "storageAccountId"
      ],
      "description": "The properties related to the auto-storage account."
    },
    "BatchAccountUpdateProperties": {
      "properties": {
        "autoStorage": {
          "$ref": "#/definitions/AutoStorageBaseProperties",
          "description": "The properties related to the auto-storage account."
        }
      },
      "description": "The properties of a Batch account."
    },
    "BatchAccountCreateProperties": {
      "properties": {
        "autoStorage": {
          "$ref": "#/definitions/AutoStorageBaseProperties",
          "description": "The properties related to the auto-storage account."
        },
        "poolAllocationMode": {
          "title": "The allocation mode to use for creating pools in the Batch account.",
          "description": "The pool allocation mode also affects how clients may authenticate to the Batch Service API. If the mode is BatchService, clients may authenticate using access keys or Azure Active Directory. If the mode is UserSubscription, clients must use Azure Active Directory. The default is BatchService.",
          "$ref": "#/definitions/PoolAllocationMode"
        },
        "keyVaultReference": {
          "$ref": "#/definitions/KeyVaultReference",
          "description": "A reference to the Azure key vault associated with the Batch account."
        }
      },
      "description": "The properties of a Batch account."
    },
    "BatchAccountCreateParameters": {
      "properties": {
        "location": {
          "type": "string",
          "description": "The region in which to create the account."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user-specified tags associated with the account."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BatchAccountCreateProperties",
          "description": "The properties of the Batch account."
        }
      },
      "required": [
        "location"
      ],
      "description": "Parameters supplied to the Create operation."
    },
    "KeyVaultReference": {
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource ID of the Azure key vault associated with the Batch account."
        },
        "url": {
          "type": "string",
          "description": "The URL of the Azure key vault associated with the Batch account."
        }
      },
      "required": [
        "id",
        "url"
      ],
      "description": "Identifies the Azure key vault associated with a Batch account."
    },
    "AutoStorageProperties": {
      "properties": {
        "lastKeySync": {
          "type": "string",
          "format": "date-time",
          "description": "The UTC time at which storage keys were last synchronized with the Batch account."
        }
      },
      "required": [
        "lastKeySync"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AutoStorageBaseProperties"
        }
      ],
      "description": "Contains information about the auto-storage account associated with a Batch account."
    },
    "VirtualMachineFamilyCoreQuota": {
      "properties": {
        "name": {
          "readOnly": true,
          "x-nullable": false,
          "type": "string",
          "description": "The Virtual Machine family name."
        },
        "coreQuota": {
          "readOnly": true,
          "x-nullable": false,
          "type": "integer",
          "format": "int32",
          "description": "The core quota for the VM family for the Batch account."
        }
      },
      "description": "A VM Family and its associated core quota for the Batch account."
    },
    "BatchAccountProperties": {
      "properties": {
        "accountEndpoint": {
          "type": "string",
          "readOnly": true,
          "description": "The account endpoint used to interact with the Batch service."
        },
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false,
          "description": "The provisioned state of the resource",
          "enum": [
            "Invalid",
            "Creating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Cancelled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": false,
            "values": [
              {
                "value": "Invalid",
                "description": "The account is in an invalid state."
              },
              {
                "value": "Creating",
                "description": "The account is being created."
              },
              {
                "value": "Deleting",
                "description": "The account is being deleted."
              },
              {
                "value": "Succeeded",
                "description": "The account has been created and is ready for use."
              },
              {
                "value": "Failed",
                "description": "The last operation for the account is failed."
              },
              {
                "value": "Cancelled",
                "description": "The last operation for the account is cancelled."
              }
            ]
          }
        },
        "poolAllocationMode": {
          "readOnly": true,
          "x-nullable": false,
          "title": "The allocation mode to use for creating pools in the Batch account.",
          "$ref": "#/definitions/PoolAllocationMode"
        },
        "keyVaultReference": {
          "title": "A reference to the Azure key vault associated with the Batch account.",
          "readOnly": true,
          "$ref": "#/definitions/KeyVaultReference"
        },
        "autoStorage": {
          "title": "The properties and status of any auto-storage account associated with the Batch account.",
          "readOnly": true,
          "$ref": "#/definitions/AutoStorageProperties"
        },
        "dedicatedCoreQuota": {
          "readOnly": true,
          "x-nullable": true,
          "type": "integer",
          "format": "int32",
          "title": "The dedicated core quota for the Batch account.",
          "description": "For accounts with PoolAllocationMode set to UserSubscription, quota is managed on the subscription so this value is not returned."
        },
        "lowPriorityCoreQuota": {
          "readOnly": true,
          "x-nullable": true,
          "type": "integer",
          "format": "int32",
          "title": "The low-priority core quota for the Batch account.",
          "description": "For accounts with PoolAllocationMode set to UserSubscription, quota is managed on the subscription so this value is not returned."
        },
        "dedicatedCoreQuotaPerVMFamily": {
          "readOnly": true,
          "x-nullable": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/VirtualMachineFamilyCoreQuota"
          },
          "description": "A list of the dedicated core quota per Virtual Machine family for the Batch account. For accounts with PoolAllocationMode set to UserSubscription, quota is managed on the subscription so this value is not returned."
        },
        "dedicatedCoreQuotaPerVMFamilyEnforced": {
          "readOnly": true,
          "x-nullable": false,
          "type": "boolean",
          "title": "A value indicating whether the core quota for the Batch Account is enforced per Virtual Machine family or not.",
          "description": "Batch is transitioning its core quota system for dedicated cores to be enforced per Virtual Machine family. During this transitional phase, the dedicated core quota per Virtual Machine family may not yet be enforced. If this flag is false, dedicated core quota is enforced via the old dedicatedCoreQuota property on the account and does not consider Virtual Machine family. If this flag is true, dedicated core quota is enforced via the dedicatedCoreQuotaPerVMFamily property on the account, and the old dedicatedCoreQuota does not apply."
        },
        "poolQuota": {
          "readOnly": true,
          "x-nullable": false,
          "type": "integer",
          "format": "int32",
          "title": "The pool quota for the Batch account."
        },
        "activeJobAndJobScheduleQuota": {
          "readOnly": true,
          "x-nullable": false,
          "type": "integer",
          "format": "int32",
          "title": "The active job and job schedule quota for the Batch account."
        }
      },
      "description": "Account specific properties."
    },
    "BatchAccount": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BatchAccountProperties",
          "description": "The properties associated with the account."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Contains information about an Azure Batch account."
    },
    "BatchAccountUpdateParameters": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The user-specified tags associated with the account."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BatchAccountUpdateProperties",
          "description": "The properties of the account."
        }
      },
      "description": "Parameters for updating an Azure Batch account."
    },
    "BatchAccountListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BatchAccount"
          },
          "description": "The collection of Batch accounts returned by the listing operation."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token."
        }
      },
      "description": "Values returned by the List operation."
    },
    "BatchAccountRegenerateKeyParameters": {
      "properties": {
        "keyName": {
          "type": "string",
          "description": "The type of account key to regenerate.",
          "enum": [
            "Primary",
            "Secondary"
          ],
          "x-ms-enum": {
            "name": "AccountKeyType",
            "modelAsString": false,
            "values": [
              {
                "value": "Primary",
                "description": "The primary account key."
              },
              {
                "value": "Secondary",
                "description": "The secondary account key."
              }
            ]
          }
        }
      },
      "required": [
        "keyName"
      ],
      "description": "Parameters supplied to the RegenerateKey operation."
    },
    "BatchAccountKeys": {
      "properties": {
        "accountName": {
          "type": "string",
          "readOnly": true,
          "description": "The Batch account name."
        },
        "primary": {
          "type": "string",
          "readOnly": true,
          "description": "The primary key associated with the account."
        },
        "secondary": {
          "type": "string",
          "readOnly": true,
          "description": "The secondary key associated with the account."
        }
      },
      "description": "A set of Azure Batch account keys."
    },
    "ActivateApplicationPackageParameters": {
      "properties": {
        "format": {
          "type": "string",
          "description": "The format of the application package binary file."
        }
      },
      "required": [
        "format"
      ],
      "description": "Parameters for an activating an application package."
    },
    "Application": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The properties associated with the Application."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Contains information about an application in a Batch account."
    },
    "ApplicationProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name for the application."
        },
        "allowUpdates": {
          "type": "boolean",
          "description": "A value indicating whether packages within the application may be overwritten using the same version string."
        },
        "defaultVersion": {
          "type": "string",
          "description": "The package to use if a client requests the application but does not specify a version. This property can only be set to the name of an existing package."
        }
      },
      "description": "The properties associated with the Application."
    },
    "ApplicationPackage": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ApplicationPackageProperties",
          "description": "The properties associated with the Application Package."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "An application package which represents a particular version of an application."
    },
    "ApplicationPackageProperties": {
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "The current state of the application package.",
          "enum": [
            "Pending",
            "Active"
          ],
          "x-ms-enum": {
            "name": "PackageState",
            "modelAsString": false,
            "values": [
              {
                "value": "Pending",
                "description": "The application package has been created but has not yet been activated."
              },
              {
                "value": "Active",
                "description": "The application package is ready for use."
              }
            ]
          }
        },
        "format": {
          "type": "string",
          "readOnly": true,
          "description": "The format of the application package, if the package is active."
        },
        "storageUrl": {
          "type": "string",
          "readOnly": true,
          "description": "The URL for the application package in Azure Storage."
        },
        "storageUrlExpiry": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The UTC time at which the Azure Storage URL will expire."
        },
        "lastActivationTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The time at which the package was last activated, if the package is active."
        }
      },
      "description": "Properties of an application package"
    },
    "ListApplicationsResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Application"
          },
          "description": "The list of applications."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "The result of performing list applications."
    },
    "ListApplicationPackagesResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationPackage"
          },
          "description": "The list of application packages."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "The result of performing list application packages."
    },
    "BatchLocationQuota": {
      "properties": {
        "accountQuota": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "The number of Batch accounts that may be created under the subscription in the specified region."
        }
      },
      "description": "Quotas associated with a Batch region for a particular subscription."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        },
        "location": {
          "readOnly": true,
          "type": "string",
          "description": "The location of the resource."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the resource."
        }
      },
      "description": "A definition of an Azure resource.",
      "x-ms-azure-resource": true
    },
    "ProxyResource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "The ID of the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "The name of the resource."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "The type of the resource."
        },
        "etag": {
          "readOnly": true,
          "type": "string",
          "description": "The ETag of the resource, used for concurrency statements."
        }
      },
      "description": "A definition of an Azure resource.",
      "x-ms-azure-resource": true
    },
    "PoolAllocationMode": {
      "type": "string",
      "description": "The allocation mode for creating pools in the Batch account.",
      "enum": [
        "BatchService",
        "UserSubscription"
      ],
      "x-ms-enum": {
        "name": "PoolAllocationMode",
        "modelAsString": false,
        "values": [
          {
            "value": "BatchService",
            "description": "Pools will be allocated in subscriptions owned by the Batch service."
          },
          {
            "value": "UserSubscription",
            "description": "Pools will be allocated in a subscription owned by the user."
          }
        ]
      }
    },
    "CertificateBaseProperties": {
      "properties": {
        "thumbprintAlgorithm": {
          "type": "string",
          "title": "The algorithm of the certificate thumbprint",
          "description": "This must match the first portion of the certificate name. Currently required to be 'SHA1'."
        },
        "thumbprint": {
          "type": "string",
          "title": "The thumbprint of the certificate",
          "description": "This must match the thumbprint from the name."
        },
        "format": {
          "type": "string",
          "x-nullable": false,
          "description": "The format of the certificate - either Pfx or Cer. If omitted, the default is Pfx.",
          "enum": [
            "Pfx",
            "Cer"
          ],
          "x-ms-enum": {
            "name": "CertificateFormat",
            "modelAsString": false,
            "values": [
              {
                "value": "Pfx",
                "description": "The certificate is a PFX (PKCS#12) formatted certificate or certificate chain."
              },
              {
                "value": "Cer",
                "description": "The certificate is a base64-encoded X.509 certificate."
              }
            ]
          }
        }
      }
    },
    "CertificateProperties": {
      "properties": {
        "provisioningState": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false,
          "title": "The provisioned state of the resource",
          "enum": [
            "Succeeded",
            "Deleting",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "CertificateProvisioningState",
            "modelAsString": false,
            "values": [
              {
                "value": "Succeeded",
                "description": "The certificate is available for use in pools."
              },
              {
                "value": "Deleting",
                "description": "The user has requested that the certificate be deleted, but the delete operation has not yet completed. You may not reference the certificate when creating or updating pools."
              },
              {
                "value": "Failed",
                "description": "The user requested that the certificate be deleted, but there are pools that still have references to the certificate, or it is still installed on one or more compute nodes. (The latter can occur if the certificate has been removed from the pool, but the node has not yet restarted. Nodes refresh their certificates only when they restart.) You may use the cancel certificate delete operation to cancel the delete, or the delete certificate operation to retry the delete."
              }
            ]
          }
        },
        "provisioningStateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the certificate entered its current state.",
          "readOnly": true
        },
        "previousProvisioningState": {
          "type": "string",
          "readOnly": true,
          "x-nullable": false,
          "description": "The previous provisioned state of the resource",
          "enum": [
            "Succeeded",
            "Deleting",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "CertificateProvisioningState",
            "modelAsString": false,
            "values": [
              {
                "value": "Succeeded",
                "description": "The certificate is available for use in pools."
              },
              {
                "value": "Deleting",
                "description": "The user has requested that the certificate be deleted, but the delete operation has not yet completed. You may not reference the certificate when creating or updating pools."
              },
              {
                "value": "Failed",
                "description": "The user requested that the certificate be deleted, but there are pools that still have references to the certificate, or it is still installed on one or more compute nodes. (The latter can occur if the certificate has been removed from the pool, but the node has not yet restarted. Nodes refresh their certificates only when they restart.) You may use the cancel certificate delete operation to cancel the delete, or the delete certificate operation to retry the delete."
              }
            ]
          }
        },
        "previousProvisioningStateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the certificate entered its previous state.",
          "readOnly": true
        },
        "publicData": {
          "type": "string",
          "readOnly": true,
          "description": "The public key of the certificate."
        },
        "deleteCertificateError": {
          "readOnly": true,
          "$ref": "#/definitions/DeleteCertificateError",
          "title": "The error which occurred while deleting the certificate",
          "description": "This is only returned when the certificate provisioningState is 'Failed'."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CertificateBaseProperties"
        }
      ],
      "description": "Certificate properties."
    },
    "CertificateCreateOrUpdateProperties": {
      "allOf": [
        {
          "$ref": "#/definitions/CertificateBaseProperties"
        }
      ],
      "properties": {
        "data": {
          "type": "string",
          "title": "The base64-encoded contents of the certificate.",
          "description": "The maximum size is 10KB."
        },
        "password": {
          "type": "string",
          "title": "The password to access the certificate's private key.",
          "description": "This is required if the certificate format is pfx and must be omitted if the certificate format is cer."
        }
      },
      "description": "Certificate properties for create operations",
      "required": [
        "data"
      ]
    },
    "Certificate": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CertificateProperties",
          "description": "The properties associated with the certificate."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Contains information about a certificate."
    },
    "CertificateCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CertificateCreateOrUpdateProperties",
          "description": "The properties associated with the certificate."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Contains information about a certificate."
    },
    "ListCertificatesResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Certificate"
          },
          "description": "The collection of returned certificates."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token."
        }
      },
      "description": "Values returned by the List operation."
    },
    "DeleteCertificateError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeleteCertificateError"
          },
          "description": "A list of additional details about the error."
        }
      },
      "required": [
        "code",
        "message"
      ],
      "description": "An error response from the Batch service."
    },
    "Pool": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PoolProperties",
          "description": "The properties associated with the pool."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ProxyResource"
        }
      ],
      "description": "Contains information about a pool."
    },
    "PoolProperties": {
      "properties": {
        "displayName": {
          "type": "string",
          "title": "The display name for the pool.",
          "description": "The display name need not be unique and can contain any Unicode characters up to a maximum length of 1024."
        },
        "lastModified": {
          "type": "string",
          "format": "date-time",
          "title": "The last modified time of the pool.",
          "description": "This is the last time at which the pool level data, such as the targetDedicatedNodes or autoScaleSettings, changed. It does not factor in node-level changes such as a compute node changing state.",
          "readOnly": true
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "title": "The creation time of the pool.",
          "readOnly": true
        },
        "provisioningState": {
          "type": "string",
          "title": "The current state of the pool.",
          "enum": [
            "Succeeded",
            "Deleting"
          ],
          "x-ms-enum": {
            "name": "PoolProvisioningState",
            "modelAsString": false,
            "values": [
              {
                "value": "Succeeded",
                "description": "The pool is available to run tasks subject to the availability of compute nodes."
              },
              {
                "value": "Deleting",
                "description": "The user has requested that the pool be deleted, but the delete operation has not yet completed."
              }
            ]
          },
          "readOnly": true
        },
        "provisioningStateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the pool entered its current state.",
          "readOnly": true
        },
        "allocationState": {
          "type": "string",
          "title": "Whether the pool is resizing.",
          "enum": [
            "Steady",
            "Resizing",
            "Stopping"
          ],
          "x-ms-enum": {
            "name": "AllocationState",
            "modelAsString": false,
            "values": [
              {
                "value": "Steady",
                "description": "The pool is not resizing. There are no changes to the number of nodes in the pool in progress. A pool enters this state when it is created and when no operations are being performed on the pool to change the number of nodes."
              },
              {
                "value": "Resizing",
                "description": "The pool is resizing; that is, compute nodes are being added to or removed from the pool."
              },
              {
                "value": "Stopping",
                "description": "The pool was resizing, but the user has requested that the resize be stopped, but the stop request has not yet been completed."
              }
            ]
          },
          "readOnly": true
        },
        "allocationStateTransitionTime": {
          "type": "string",
          "format": "date-time",
          "title": "The time at which the pool entered its current allocation state.",
          "readOnly": true
        },
        "vmSize": {
          "type": "string",
          "title": "The size of virtual machines in the pool. All VMs in a pool are the same size.",
          "description": "For information about available sizes of virtual machines for Cloud Services pools (pools created with cloudServiceConfiguration), see Sizes for Cloud Services (https://azure.microsoft.com/documentation/articles/cloud-services-sizes-specs/). Batch supports all Cloud Services VM sizes except ExtraSmall. For information about available VM sizes for pools using images from the Virtual Machines Marketplace (pools created with virtualMachineConfiguration) see Sizes for Virtual Machines (Linux) (https://azure.microsoft.com/documentation/articles/virtual-machines-linux-sizes/) or Sizes for Virtual Machines (Windows) (https://azure.microsoft.com/documentation/articles/virtual-machines-windows-sizes/). Batch supports all Azure VM sizes except STANDARD_A0 and those with premium storage (STANDARD_GS, STANDARD_DS, and STANDARD_DSV2 series)."
        },
        "deploymentConfiguration": {
          "$ref": "#/definitions/DeploymentConfiguration",
          "title": "This property describes how the pool nodes will be deployed - using Cloud Services or Virtual Machines.",
          "description": "Using CloudServiceConfiguration specifies that the nodes should be creating using Azure Cloud Services (PaaS), while VirtualMachineConfiguration uses Azure Virtual Machines (IaaS)."
        },
        "currentDedicatedNodes": {
          "type": "integer",
          "format": "int32",
          "title": "The number of compute nodes currently in the pool.",
          "readOnly": true
        },
        "currentLowPriorityNodes": {
          "type": "integer",
          "format": "int32",
          "title": "The number of low priority compute nodes currently in the pool.",
          "readOnly": true
        },
        "scaleSettings": {
          "$ref": "#/definitions/ScaleSettings",
          "title": "Settings which configure the number of nodes in the pool."
        },
        "autoScaleRun": {
          "$ref": "#/definitions/AutoScaleRun",
          "title": "The results and errors from the last execution of the autoscale formula.",
          "description": "This property is set only if the pool automatically scales, i.e. autoScaleSettings are used.",
          "readOnly": true
        },
        "interNodeCommunication": {
          "type": "string",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "InterNodeCommunicationState",
            "modelAsString": false,
            "values": [
              {
                "value": "Enabled",
                "description": "Enable network communication between virtual machines."
              },
              {
                "value": "Disabled",
                "description": "Disable network communication between virtual machines."
              }
            ]
          },
          "title": "Whether the pool permits direct communication between nodes.",
          "description": "This imposes restrictions on which nodes can be assigned to the pool. Enabling this value can reduce the chance of the requested number of nodes to be allocated in the pool. If not specified, this value defaults to 'Disabled'."
        },
        "networkConfiguration": {
          "$ref": "#/definitions/NetworkConfiguration",
          "title": "The network configuration for the pool."
        },
        "maxTasksPerNode": {
[...]
