{
  "swagger": "2.0",
  "info": {
    "version": "2020-06-01",
    "title": "PrivateLinkServicesForPowerBIClient",
    "description": "Client to manage Power BI Private Link Service resources and connection members."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.PowerBI/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Power BI RP operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Lists all of the available Power BI RP operations": {
            "$ref": "./examples/privateLinkServicesForPowerBI_ListAvailableOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AvailableOperations"
            }
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI": {
      "get": {
        "tags": [
          "privateLinkServicesForPowerBI"
        ],
        "x-ms-examples": {
          "List private link resources in a subscription": {
            "$ref": "./examples/privateLinkServicesForPowerBI_ListBySubscriptionId.json"
          }
        },
        "operationId": "privateLinkServicesForPowerBI_ListBySubscriptionId",
        "description": "Gets all the private link resources for the given subscription id.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TenantResource"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/operationResults/{operationId}": {
      "get": {
        "tags": [
          "privateLinkServicesForPowerBI"
        ],
        "operationId": "privateLinkServicesForPowerBI_GetPrivateLinkServiceResourceOperationResult",
        "x-ms-examples": {
          "Result of operation on private link resources": {
            "$ref": "./examples/privateLinkServicesForPowerBI_GetPrivateLinkServiceResourceOperationResult.json"
          }
        },
        "description": "Gets operation result of Private Link Service Resources for Power BI.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/OperationIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AsyncOperationDetail"
            },
            "headers": {}
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI": {
      "get": {
        "tags": [
          "privateLinkServicesForPowerBI"
        ],
        "operationId": "privateLinkServicesForPowerBI_ListByResourceGroup",
        "x-ms-examples": {
          "List private link resources in a resource group": {
            "$ref": "./examples/privateLinkServicesForPowerBI_ListByResourceGroup.json"
          }
        },
        "description": "Gets all the private link resources for the given resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TenantResource"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}": {
      "get": {
        "tags": [
          "privateLinkServicesForPowerBI"
        ],
        "operationId": "privateLinkServicesForPowerBI_ListByResourceName",
        "x-ms-examples": {
          "List private link resources in a Azure resource": {
            "$ref": "./examples/privateLinkServicesForPowerBI_ListByAzureResource.json"
          }
        },
        "description": "Gets all the private link resources for the given Azure resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TenantResource"
              }
            },
            "headers": {}
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "privateLinkServicesForPowerBI"
        ],
        "operationId": "privateLinkServicesForPowerBI_CreateOrUpdatePrivateLinkService",
        "x-ms-examples": {
          "Creates or updates private link service resource": {
            "$ref": "./examples/privateLinkServicesForPowerBI_CreateOrUpdatePrivateLinkService.json"
          }
        },
        "description": "Creates or updates a Private Link Service Resource for Power BI.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ClientTenantIdHeaderParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Tenant resource to be created or updated.",
            "schema": {
              "$ref": "#/definitions/TenantResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/TenantResource"
            },
            "headers": {}
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "privateLinkServicesForPowerBI"
        ],
        "operationId": "privateLinkServicesForPowerBI_DeletePrivateLinkService",
        "x-ms-examples": {
          "Deletes private link service resource": {
            "$ref": "./examples/privateLinkServicesForPowerBI_DeletePrivateLinkService.json"
          }
        },
        "description": "Deletes a Private Link Service Resource for Power BI.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {}
          },
          "204": {
            "description": "No Content."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}/privateLinkResources": {
      "get": {
        "tags": [
          "PrivateLinkResources"
        ],
        "summary": "List private link Power BI resource.",
        "description": "List private link resources under a specific Power BI resource.",
        "operationId": "PrivateLinkResources_ListByResource",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "$ref": "#/definitions/PrivateLinkResourcesListResult"
            },
            "headers": {}
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets private link resources in a Azure resource": {
            "$ref": "./examples/PrivateLinkResources_ListByResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}/privateEndpointConnectionProxies/{privateEndpointName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "operationId": "PrivateEndpointConnectionProxies_Get",
        "description": "Gets private endpoint connection proxy for Power BI by private endpoint name.",
        "summary": "Synchronous API called by NRP to get private endpoint connection proxy for Power BI by private endpoint name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            },
            "headers": {}
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets private endpoint connection proxy": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "operationId": "PrivateEndpointConnectionProxies_Create",
        "description": "Creates or updates private endpoint connection proxy for Power BI by private endpoint name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ClientTenantIdHeaderParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The PrivateEndpointConnectionProxy to be created or updated.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The Azure async operation id to poll on result."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates private endpoint connection proxy": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Create.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnectionProxies"
        ],
        "operationId": "PrivateEndpointConnectionProxies_Delete",
        "x-ms-examples": {
          "Deletes a private endpoint connection proxy": {
            "$ref": "./examples/PrivateEndpointConnectionProxies_Delete.json"
          }
        },
        "description": "Deletes a private endpoint connection proxy for Power BI by private endpoint name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed successfully."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The Azure async operation id to poll on result."
              }
            }
          },
          "204": {
            "description": "No Content."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}/privateEndpointConnectionProxies/{privateEndpointName}/validate": {
      "post": {
        "tags": [
          "privateLinkServicesForPowerBI"
        ],
        "operationId": "privateLinkServicesForPowerBI_ValidatePrivateEndpointConnectionProxy",
        "x-ms-examples": {
          "Validates a private endpoint connection": {
            "$ref": "./examples/privateLinkServicesForPowerBI_ValidatePrivateEndpointConnectionProxy.json"
          }
        },
        "description": "Validates a private endpoint connection before create or update.",
        "summary": "Synchronous API called by NRP to validate a private endpoint before create or update.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointGuidParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The PrivateEndpointConnectionProxy to be created or updated.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            },
            "headers": {}
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "summary": "Lists all private endpoint connections under a resource.",
        "description": "Gets private endpoint connection for Power BI.",
        "operationId": "PrivateEndpointConnections_ListByResource",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group within the user's subscription.",
            "required": true,
            "type": "string"
          },
          {
            "name": "azureResourceName",
            "in": "path",
            "description": "The name of the powerbi resource.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the list of private endpoint connections in the private endpoint resource.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "Gets private endpoint connections": {
            "$ref": "./examples/PrivateEndpointConnections_ListByResource.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PowerBI/privateLinkServicesForPowerBI/{azureResourceName}/privateEndpointConnections/{privateEndpointName}": {
      "get": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "summary": "Get a specific private endpoint connection.",
        "operationId": "PrivateEndpointConnections_Get",
        "description": "Get a specific private endpoint connection for Power BI by private endpoint name.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "summary": "Update a specific private endpoint connection.",
        "description": "Updates the status of Private Endpoint Connection object. Used to approve or reject a connection.",
        "operationId": "PrivateEndpointConnections_Create",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointNameParameter"
          },
          {
            "name": "privateEndpointConnection",
            "in": "body",
            "required": true,
            "description": "Private endpoint connection object to update.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates status of private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateEndpointConnections"
        ],
        "description": "Deletes a private endpoint connection for Power BI by private endpoint name.",
        "summary": "Asynchronous API to delete a private endpoint connection for Power BI by private endpoint name.",
        "operationId": "PrivateEndpointConnections_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AzureResourceNameParameter"
          },
          {
            "$ref": "#/parameters/PrivateEndpointNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The operation completed successfully."
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "The Azure async operation id to poll on result."
              }
            }
          },
          "204": {
            "description": "No Content."
          },
          "default": {
            "description": "Default Response. It will be deserialized as per the Error definition specified in the schema. Exception will be thrown.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes private endpoint connection": {
            "$ref": "./examples/PrivateEndpointConnections_Delete.json"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "definitions": {
    "AsyncOperationDetail": {
      "title": "AsyncOperationDetail",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The operation id."
        },
        "name": {
          "type": "string",
          "description": "The operation name."
        },
        "status": {
          "type": "string",
          "description": "The operation status."
        },
        "startTime": {
          "type": "string",
          "description": "The operation start time."
        },
        "endTime": {
          "type": "string",
          "description": "The operation end time."
        },
        "error": {
          "$ref": "#/definitions/Error",
          "description": "The error."
        }
      }
    },
    "TenantResource": {
      "title": "TenantResource",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the resource identifier of the resource."
        },
        "name": {
          "type": "string",
          "description": "Specifies the name of the resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the type of the resource."
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TenantProperties",
          "description": "Specifies the properties of the resource."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Specifies the tags of the resource."
        }
      },
      "x-ms-azure-resource": true
    },
    "TenantProperties": {
      "title": "TenantProperties",
      "type": "object",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Specifies the tenant id of the resource."
        },
        "privateEndpointConnections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          },
          "description": "Specifies the private endpoint connections of the resource."
        }
      }
    },
    "PrivateLinkConnectionDetail": {
      "title": "PrivateLinkConnectionDetail",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the type of the connection detail."
        },
        "memberName": {
          "type": "string",
          "description": "Specifies the member name of the connection detail."
        },
        "privateIpAddress": {
          "type": "string",
          "description": "Specifies the private ip address of the connection detail."
        },
        "linkIdentifier": {
          "type": "string",
          "description": "Specifies the link id of the connection detail."
        },
        "groupId": {
          "type": "string",
          "description": "Specifies the group id of the connection detail."
        }
      }
    },
    "GroupConnectivityInformation": {
      "title": "GroupConnectivityInformation",
      "type": "object",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "Specifies the group id of the group connectivity information."
        },
        "memberName": {
          "type": "string",
          "description": "Specifies the member name of the group connectivity information."
        },
        "internalFqdn": {
          "type": "string",
          "description": "Specifies the internal FQDN of the group connectivity information."
        },
        "customerVisibleFqdns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the customer visible FQDNs of the group connectivity information."
        },
        "privateLinkServiceArmRegion": {
          "type": "string",
          "description": "Specifies the ARM region of the group connectivity information."
        }
      }
    },
    "ConnectionState": {
      "title": "ConnectionState",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/ConnectionStatus",
          "description": "Specifies the connection status."
        },
        "description": {
          "type": "string",
          "description": "Specifies the connection status description."
        },
        "actionsRequired": {
          "$ref": "#/definitions/ActionsRequired",
          "description": "Specifies the actions required."
        }
      }
    },
    "PrivateLinkServiceProxy": {
      "title": "PrivateLinkServiceProxy",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the id of the private link service proxy."
        },
        "groupConnectivityInformation": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupConnectivityInformation"
          },
          "description": "Specifies the group connectivity information of the private link service proxy."
        },
        "remotePrivateLinkServiceConnectionState": {
          "$ref": "#/definitions/ConnectionState",
          "description": "Specifies the connection state of the private link service proxy."
        },
        "remotePrivateEndpointConnection": {
          "$ref": "#/definitions/RemotePrivateEndpointConnection",
          "description": "Specifies the private endpoint connection of the private link service proxy."
        }
      }
    },
    "PrivateLinkServiceConnection": {
      "title": "PrivateLinkServiceConnection",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Specifies the name of the private link service connection."
        },
        "groupIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Specifies the group ids of the private link service connection."
        },
        "requestMessage": {
          "type": "string",
          "description": "Specifies the request message of the private link service connection."
        }
      }
    },
    "RemotePrivateEndpoint": {
      "title": "RemotePrivateEndpoint",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the id of the private endpoint."
        },
        "manualPrivateLinkServiceConnections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          },
          "description": "Specifies the private link service connections of the private endpoint."
        },
        "privateLinkServiceConnections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          },
          "description": "Specifies the private link service connections of the private endpoint."
        },
        "privateLinkServiceProxies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceProxy"
          },
          "description": "Specifies the private link service proxies of the private endpoint."
        },
        "connectionDetails": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkConnectionDetail"
          },
          "description": "Specifies the connection details of the private endpoint."
        }
      }
    },
    "PrivateEndpointConnectionProxyResource": {
      "title": "PrivateEndpointConnectionProxyResource",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the id of the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the name of the resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the type of the resource."
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "etag": {
          "type": "string",
          "description": "Specifies the etag of the resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PrivateEndpointConnectionProxy",
          "description": "Specifies the private endpoint proxy resource."
        }
      }
    },
    "PrivateEndpointConnectionProxy": {
      "title": "PrivateEndpointConnectionProxy",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the id of the resource."
        },
        "name": {
          "type": "string",
          "description": "Specifies the name of the resource."
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the resource."
        },
        "location": {
          "type": "string",
          "description": "Specifies the location of the resource."
        },
        "etag": {
          "type": "string",
          "description": "Specifies the etag of the resource."
        },
        "remotePrivateEndpoint": {
          "$ref": "#/definitions/RemotePrivateEndpoint",
          "description": "Specifies the remote private endpoint of the resource."
        }
      }
    },
    "PrivateEndpointConnection": {
      "title": "PrivateEndpointConnection",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the id of the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the name of the resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Specifies the type of the resource."
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "readOnly": true
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "description": "Specifies the properties of the private endpoint connection."
        }
      },
      "x-ms-azure-resource": true
    },
    "PrivateEndpointConnectionListResult": {
      "title": "PrivateEndpointConnections",
      "description": "List of private endpoint connections.",
      "type": "object",
      "properties": {
        "value": {
          "title": "PrivateEndpointConnection",
          "description": "Specifies the name of the private endpoint connection.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        }
      }
    },
    "PrivateEndpointConnectionProperties": {
      "title": "PrivateEndpointConnectionProperties",
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "$ref": "#/definitions/PrivateEndpoint",
          "description": "Specifies the private endpoint."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "#/definitions/ConnectionState",
          "description": "Specifies the connection state."
        }
      }
    },
    "ActionsRequired": {
      "title": "ActionsRequired",
      "type": "string",
      "enum": [
        "None",
        "Recreate"
      ]
    },
    "PrivateEndpoint": {
      "title": "PrivateEndpoint",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the id of private endpoint."
        }
      }
    },
    "PrivateLinkResourcesListResult": {
      "title": "PrivateLinkResourcesListResult",
      "description": "Specifies the private link resource.",
      "type": "object",
      "properties": {
        "value": {
          "description": "A collection of private endpoint connection resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          }
        }
      }
    },
    "PrivateLinkResource": {
      "description": "A private link resource",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateLinkResourceProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        },
        "id": {
          "description": "Fully qualified identifier of the resource.",
          "type": "string"
        },
        "name": {
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "description": "Type of the resource.",
          "type": "string"
        }
      }
    },
    "PrivateLinkResourceProperties": {
      "type": "object",
      "properties": {
        "groupId": {
          "description": "The private link resource group id.",
          "type": "string",
          "readOnly": true
        },
        "requiredMembers": {
          "description": "The private link resource required member names.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "requiredZoneNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The private link resource Private link DNS zone name."
        }
      },
      "description": "Properties of a private link resource."
    },
    "RemotePrivateEndpointConnection": {
      "title": "RemotePrivateEndpointConnection",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Specifies the id of private endpoint connection."
        }
      }
    },
    "ConnectionStatus": {
      "title": "ConnectionStatus",
      "type": "string",
      "enum": [
        "Pending",
        "Approved",
        "Rejected",
        "Disconnected"
      ]
    },
    "AvailableOperations": {
      "description": "Available operations of the service",
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of available operation details",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationDetail"
          }
        },
        "nextLink": {
          "description": "URL client should use to fetch the next page (per server side paging).\r\nIt's null for now, added for future use.",
          "type": "string"
        }
      }
    },
    "OperationDetail": {
      "description": "Operation detail payload",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the operation",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplay",
          "description": "Display of the operation"
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        }
      }
    },
    "OperationDisplay": {
      "description": "Operation display payload",
      "type": "object",
      "properties": {
        "provider": {
          "description": "Resource provider of the operation",
          "type": "string"
        },
        "resource": {
          "description": "Resource of the operation",
          "type": "string"
        },
        "operation": {
          "description": "Localized friendly name for the operation",
          "type": "string"
        },
        "description": {
          "description": "Localized friendly description for the operation",
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "PowerBI Private link REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "type": "object",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.PowerBI.",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: private endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: create, update, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "Resource": {
      "description": "Represents an instance of an PowerBI resource.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "An identifier that represents the PowerBI resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the PowerBI resource."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The type of the PowerBI resource."
        },
        "location": {
          "type": "string",
          "description": "Location of the PowerBI resource.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Key-value pairs of additional resource provisioning properties."
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "description": "Metadata pertaining to creation and last modification of the resource."
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "Display": {
      "title": "Display",
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "The localized friendly form of the resource provider name. This form is also expected to include the publisher/company responsible. Use Title Casing. Begin with \"Microsoft\" for 1st party services."
        },
        "resource": {
          "type": "string",
          "description": "The localized friendly form of the resource type related to this action/operation. This form should match the public documentation for the resource provider. Use Title Casing. For examples, refer to the \"name\" section."
        },
        "operation": {
          "type": "string",
          "description": "The localized friendly name for the operation as shown to the user. This name should be concise (to fit in drop downs), but clear (self-documenting). Use Title Casing and include the entity/resource to which it applies."
        },
        "description": {
          "type": "string",
          "description": "The localized friendly description for the operation as shown to the user. This description should be thorough, yet concise. It will be used in tool-tips and detailed views."
        },
        "origin": {
          "type": "string",
          "description": "The intended executor of the operation; governs the display of the operation in the RBAC UX and the audit logs UX. Default value is 'user,system'"
        }
      }
    },
    "Error": {
      "title": "Error",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Specifies the error code."
        },
        "message": {
          "type": "string",
          "description": "Specifies the error message."
        },
        "target": {
          "type": "string",
          "description": "Specifies the error target."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "description": "Specifies the error details."
        }
      }
    },
    "ErrorDetail": {
      "title": "ErrorDetail",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Specifies the error code."
        },
        "message": {
          "type": "string",
          "description": "Specifies the error message."
        },
        "target": {
          "type": "string",
          "description": "Specifies the error target."
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Describes the format of Error response.",
      "properties": {
        "error": {
          "description": "The error object",
          "type": "object",
          "properties": {
            "code": {
              "type": "string",
              "description": "Error code"
            },
            "message": {
              "type": "string",
              "description": "Error message indicating why the operation failed."
            }
          }
        }
      }
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "An identifier for the identity that created the resource",
          "readOnly": true
        },
        "createdByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that created the resource",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "An identifier for the identity that last modified the resource",
          "readOnly": true
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that last modified the resource",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)",
          "readOnly": true
        }
      }
    },
    "IdentityType": {
      "description": "The type of identity that created/modified the resource.",
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "client"
    },
    "AzureResourceNameParameter": {
      "name": "azureResourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure resource.",
      "x-ms-parameter-location": "client"
    },
    "PrivateEndpointNameParameter": {
      "name": "privateEndpointName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the private endpoint.",
      "x-ms-parameter-location": "client"
    },
    "PrivateEndpointGuidParameter": {
      "name": "privateEndpointGuid",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Guid of the private endpoint. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "x-ms-parameter-location": "client"
    },
    "OperationIdParameter": {
      "name": "operationId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The id of Azure async operation.",
      "x-ms-parameter-location": "client"
    },
    "ClientTenantIdHeaderParameter": {
      "name": "x-ms-client-tenant-id",
      "in": "header",
      "description": "The client tenant id in header. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": false,
      "type": "string",
      "x-ms-client-name": "ClientTenantId",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    }
  }
}
