{
  "swagger": "2.0",
  "info": {
    "title": "Relay API",
    "description": "Use these API to manage Azure Relay resources through Azure Resource Manager.",
    "version": "2021-11-01",
    "x-ms-code-generation-settings": {
      "name": "RelayManagementClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays": {
      "get": {
        "tags": [
          "WCFRelays"
        ],
        "operationId": "WCFRelays_ListByNamespace",
        "x-ms-examples": {
          "RelayListAll": {
            "$ref": "./examples/Relay/RelayListAll.json"
          }
        },
        "description": "Lists the WCF relays within the namespace.",
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/NamespaceNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "WCF relays returned successfully.",
            "schema": {
              "$ref": "#/definitions/WcfRelaysListResult"
            }
          },
          "default": {
            "description": "Relay error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Relay/namespaces/{namespaceName}/wcfRelays/{relayName}": {
      "put": {
        "tags": [
          "WCFRelays"
        ],
        "operationId": "WCFRelays_CreateOrUpdate",
        "x-ms-examples": {
          "RelayCreate": {
            "$ref": "./examples/Relay/RelayCreate.json"
          }
        },
        "description": "Creates or updates a WCF relay. This operation is idempotent.",
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/NamespaceNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/RelayNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WcfRelay"
            },
            "description": "Parameters supplied to create a WCF relay."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request to create WCF relay succeeded.",
            "schema": {
              "$ref": "#/definitions/WcfRelay"
            }
          },
          "default": {
            "description": "Relay error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "WCFRelays"
        ],
        "operationId": "WCFRelays_Delete",
        "x-ms-examples": {
          "RelayDelete": {
            "$ref": "./examples/Relay/RelayDelete.json"
          }
        },
        "description": "Deletes a WCF relay.",
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/NamespaceNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/RelayNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "WCF relay deleted."
          },
          "204": {
            "description": "No content."
          },
          "default": {
            "description": "Relay error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "WCFRelays"
        ],
        "operationId": "WCFRelays_Get",
        "x-ms-examples": {
          "RelayGet": {
            "$ref": "./examples/Relay/RelayGet.json"
          }
        },
        "description": "Returns the description for the specified WCF relay.",
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/NamespaceNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/RelayNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved WCF relay description.",
            "schema": {
              "$ref": "#/definitions/WcfRelay"
            }
          },
          "204": {
            "description": "WCF relay not found"
          },
          "default": {
            "description": "Relay error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "WcfRelaysListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WcfRelay"
          },
          "description": "Result of the list WCF relay operation."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to the next set of results. Not empty if value contains incomplete list of WCF relays."
        }
      },
      "description": "The response of the list WCF relay operation."
    },
    "WcfRelay": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "isDynamic": {
              "readOnly": true,
              "type": "boolean",
              "description": "Returns true if the relay is dynamic; otherwise, false."
            },
            "createdAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "The time the WCF relay was created."
            },
            "updatedAt": {
              "readOnly": true,
              "format": "date-time",
              "type": "string",
              "description": "The time the namespace was updated."
            },
            "listenerCount": {
              "readOnly": true,
              "format": "int32",
              "type": "integer",
              "minimum": 0,
              "maximum": 25,
              "description": "The number of listeners for this relay. Note that min :1 and max:25 are supported."
            },
            "relayType": {
              "type": "string",
              "description": "WCF relay type.",
              "enum": [
                "NetTcp",
                "Http"
              ],
              "x-ms-enum": {
                "name": "Relaytype",
                "modelAsString": false
              }
            },
            "requiresClientAuthorization": {
              "type": "boolean",
              "description": "Returns true if client authorization is needed for this relay; otherwise, false."
            },
            "requiresTransportSecurity": {
              "type": "boolean",
              "description": "Returns true if transport security is needed for this relay; otherwise, false."
            },
            "userMetadata": {
              "type": "string",
              "description": "The usermetadata is a placeholder to store user-defined string data for the WCF Relay endpoint. For example, it can be used to store descriptive data, such as list of teams and their contact information. Also, user-defined configuration settings can be stored."
            }
          },
          "description": "Properties of the WCF relay."
        },
        "systemData": {
          "readOnly": true,
          "description": "The system meta data relating to this resource.",
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData"
        }
      },
      "description": "Description of the WCF relay resource.",
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/ProxyResource"
        }
      ]
    }
  },
  "parameters": {}
}
