{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft MaterializedViews Management Service",
    "version": "2025-04-01",
    "description": "Microsoft MaterializedViews Management Service",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MaterializedViews"
    }
  ],
  "paths": {
    "/providers/Microsoft.MaterializedViews/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.MaterializedViews/materializedViews": {
      "get": {
        "operationId": "MaterializedViews_ListBySubscription",
        "tags": [
          "MaterializedViews"
        ],
        "description": "List MaterializedViewResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaterializedViewResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MaterializedViews/materializedViews": {
      "get": {
        "operationId": "MaterializedViews_ListByResourceGroup",
        "tags": [
          "MaterializedViews"
        ],
        "description": "List MaterializedViewResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaterializedViewResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MaterializedViews/materializedViews/{materializedViewName}": {
      "get": {
        "operationId": "MaterializedViews_Get",
        "tags": [
          "MaterializedViews"
        ],
        "description": "Get a MaterializedViewResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "materializedViewName",
            "in": "path",
            "description": "MaterializedView resource name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,63}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaterializedViewResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "MaterializedViews_CreateOrUpdate",
        "tags": [
          "MaterializedViews"
        ],
        "description": "Create a MaterializedViewResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "materializedViewName",
            "in": "path",
            "description": "MaterializedView resource name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,63}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaterializedViewResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MaterializedViewResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MaterializedViewResource"
            }
          },
          "201": {
            "description": "Resource 'MaterializedViewResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MaterializedViewResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a MaterializedView": {
            "$ref": "./examples/MaterializedViews_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MaterializedViews_Update",
        "tags": [
          "MaterializedViews"
        ],
        "description": "Update a MaterializedViewResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "materializedViewName",
            "in": "path",
            "description": "MaterializedView resource name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,63}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MaterializedViewResourceTagsUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MaterializedViewResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MaterializedViews_Delete",
        "tags": [
          "MaterializedViews"
        ],
        "description": "Delete a MaterializedViewResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "materializedViewName",
            "in": "path",
            "description": "MaterializedView resource name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,63}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MaterializedViews/materializedViews/{materializedViewName}/refresh": {
      "post": {
        "operationId": "MaterializedViews_Refresh",
        "tags": [
          "MaterializedViews"
        ],
        "description": "Refresh a materialized view",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "materializedViewName",
            "in": "path",
            "description": "MaterializedView resource name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]{2,63}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "DataSourceInfo": {
      "type": "object",
      "description": "Data source information for the materialized view",
      "properties": {
        "connectionString": {
          "type": "string",
          "description": "The connection string to the data source"
        },
        "dataSourceType": {
          "$ref": "#/definitions/DataSourceType",
          "description": "The type of data source"
        }
      }
    },
    "DataSourceType": {
      "type": "string",
      "description": "Type of data source",
      "enum": [
        "SqlServer",
        "PostgreSQL",
        "AzureSqlDatabase"
      ],
      "x-ms-enum": {
        "name": "DataSourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "SqlServer",
            "value": "SqlServer",
            "description": "SQL Server data source"
          },
          {
            "name": "PostgreSQL",
            "value": "PostgreSQL",
            "description": "PostgreSQL data source"
          },
          {
            "name": "AzureSqlDatabase",
            "value": "AzureSqlDatabase",
            "description": "Azure SQL Database"
          }
        ]
      }
    },
    "MaterializedViewProperties": {
      "type": "object",
      "description": "The properties of MaterializedView resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of MaterializedView resource.",
          "readOnly": true
        },
        "viewDefinition": {
          "type": "string",
          "description": "The definition of the materialized view"
        },
        "refreshPolicy": {
          "$ref": "#/definitions/RefreshPolicy",
          "description": "The refresh policy of the materialized view"
        },
        "dataSource": {
          "$ref": "#/definitions/DataSourceInfo",
          "description": "The data source connection information"
        }
      }
    },
    "MaterializedViewResource": {
      "type": "object",
      "description": "A MaterializedView resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MaterializedViewProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MaterializedViewResourceListResult": {
      "type": "object",
      "description": "The response of a MaterializedViewResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MaterializedViewResource items on this page",
          "items": {
            "$ref": "#/definitions/MaterializedViewResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MaterializedViewResourceTagsUpdate": {
      "type": "object",
      "description": "The type used for updating tags in MaterializedViewResource resources.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "This state indicates that the resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "This state indicates that the resource is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "This state indicates that the resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "This state indicates that the operation on the resource has been accepted."
          }
        ]
      }
    },
    "RefreshPolicy": {
      "type": "object",
      "description": "Refresh policy for the materialized view",
      "properties": {
        "isAutoRefresh": {
          "type": "boolean",
          "description": "Whether the materialized view is automatically refreshed"
        },
        "refreshIntervalMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Refresh interval in minutes"
        }
      }
    }
  },
  "parameters": {}
}
