{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft NetApp",
    "description": "Microsoft NetApp Azure Resource Provider specification",
    "version": "2023-05-01",
    "x-ms-code-generation-settings": {
      "name": "AzureNetAppFilesManagementClient"
    }
  },
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.NetApp/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Describes the Resource Provider",
        "description": "Lists all of the available Microsoft.NetApp Rest API operations",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "OperationList": {
            "$ref": "examples/OperationList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkNameAvailability": {
      "post": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Check resource name availability",
        "description": "Check if a resource name is available.",
        "operationId": "NetAppResource_CheckNameAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Name availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceNameAvailabilityRequest"
            },
            "x-ms-client-flatten": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "CheckNameAvailability": {
            "$ref": "examples/CheckNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkFilePathAvailability": {
      "post": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Check file path availability",
        "description": "Check if a file path is available.",
        "operationId": "NetAppResource_CheckFilePathAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "File path availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilePathAvailabilityRequest"
            },
            "x-ms-client-flatten": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "CheckFilePathAvailability": {
            "$ref": "examples/CheckFilePathAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/checkQuotaAvailability": {
      "post": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Check quota availability",
        "description": "Check if a quota is available.",
        "operationId": "NetAppResource_CheckQuotaAvailability",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Quota availability request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuotaAvailabilityRequest"
            },
            "x-ms-client-flatten": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "CheckQuotaAvailability": {
            "$ref": "examples/CheckQuotaAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits": {
      "get": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Get quota limits",
        "description": "Get the default and current limits for quotas",
        "operationId": "NetAppResourceQuotaLimits_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionQuotaItemList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "QuotaLimits": {
            "$ref": "examples/QuotaLimits_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/quotaLimits/{quotaLimitName}": {
      "get": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Get quota limits",
        "description": "Get the default and current subscription quota limit",
        "operationId": "NetAppResourceQuotaLimits_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/QuotaLimitName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SubscriptionQuotaItem"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "QuotaLimits": {
            "$ref": "examples/QuotaLimits_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/regionInfo": {
      "get": {
        "summary": "Describes region specific information.",
        "description": "Provides storage to network proximity and logical zone mapping information.",
        "tags": [
          "NetApp Resource"
        ],
        "operationId": "NetAppResource_QueryRegionInfo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/regionInfo"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "RegionInfo_Query": {
            "$ref": "examples/RegionInfo.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/queryNetworkSiblingSet": {
      "post": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Describe a network sibling set",
        "description": "Get details of the specified network sibling set.",
        "operationId": "NetAppResource_QueryNetworkSiblingSet",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Network sibling set to query.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryNetworkSiblingSetRequest"
            },
            "x-ms-client-flatten": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/networkSiblingSet"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "NetworkSiblingSet_Query": {
            "$ref": "examples/NetworkSiblingSet_Query.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/locations/{location}/updateNetworkSiblingSet": {
      "post": {
        "tags": [
          "NetApp Resource"
        ],
        "summary": "Update the network features of a network sibling set",
        "description": "Update the network features of the specified network sibling set.",
        "operationId": "NetAppResource_UpdateNetworkSiblingSet",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "Update for the specified network sibling set.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateNetworkSiblingSetRequest"
            },
            "x-ms-client-flatten": true
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/networkSiblingSet"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "NetworkFeatures_Update": {
            "$ref": "examples/NetworkSiblingSet_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NetApp/netAppAccounts": {
      "get": {
        "summary": "Describe all NetApp Accounts in a subscription",
        "description": "List and describe all NetApp accounts in the subscription.",
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/netAppAccountList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Accounts_List": {
            "$ref": "examples/Accounts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts": {
      "get": {
        "summary": "Describe all NetApp Accounts in a resource group",
        "description": "List and describe all NetApp accounts in the resource group.",
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/netAppAccountList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Accounts_List": {
            "$ref": "examples/Accounts_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}": {
      "get": {
        "summary": "Describe a NetApp Account",
        "description": "Get the NetApp account",
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Accounts_Get": {
            "$ref": "examples/Accounts_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_CreateOrUpdate",
        "summary": "Create or update a NetApp account",
        "description": "Create or update the specified NetApp account within the resource group",
        "parameters": [
          {
            "name": "body",
            "description": "NetApp Account object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - account updated",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "201": {
            "description": "Account created",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Accounts_CreateOrUpdate": {
            "$ref": "examples/Accounts_CreateOrUpdate.json"
          },
          "Accounts_CreateOrUpdateWithActiveDirectory": {
            "$ref": "examples/Accounts_CreateOrUpdateAD.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_Delete",
        "summary": "Delete a NetApp account",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "description": "Delete the specified NetApp account",
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Accounts_Delete": {
            "$ref": "examples/Accounts_Delete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_Update",
        "summary": "Update a NetApp account",
        "description": "Patch the specified NetApp account",
        "parameters": [
          {
            "name": "body",
            "description": "NetApp Account object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/netAppAccountPatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - account updated",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/netAppAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/cloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Accounts_Update": {
            "$ref": "examples/Accounts_Update.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/renewCredentials": {
      "post": {
        "tags": [
          "NetApp Accounts"
        ],
        "operationId": "Accounts_RenewCredentials",
        "summary": "Renew identity credentials",
        "description": "Renew identity credentials that are used to authenticate to key vault, for customer-managed key encryption. If encryption.identity.principalId does not match identity.principalId, running this operation will fix it.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Accounts_RenewCredentials": {
            "$ref": "examples/Accounts_RenewCredentials.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools": {
      "get": {
        "summary": "Describe all Capacity Pools",
        "description": "List all capacity pools in the NetApp Account",
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/capacityPoolList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Pools_List": {
            "$ref": "examples/Pools_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}": {
      "get": {
        "summary": "Describe a Capacity Pool",
        "description": "Get details of the specified capacity pool",
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Pools_Get": {
            "$ref": "examples/Pools_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_CreateOrUpdate",
        "summary": "Create or Update the specified capacity pool within the resource group",
        "description": "Create or Update a capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Capacity pool object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - pool updated",
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          "201": {
            "description": "Pool created",
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Pools_CreateOrUpdate": {
            "$ref": "examples/Pools_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_Update",
        "summary": "Update a capacity pool",
        "description": "Patch the specified capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Capacity pool object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/capacityPoolPatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/capacityPool"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Pools_Update": {
            "$ref": "examples/Pools_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Capacity Pools"
        ],
        "operationId": "Pools_Delete",
        "summary": "Delete a capacity pool",
        "description": "Delete the specified capacity pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Pools_Delete": {
            "$ref": "examples/Pools_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes": {
      "get": {
        "summary": "Describe all volumes",
        "description": "List all volumes within the capacity pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_List",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volumeList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_List": {
            "$ref": "examples/Volumes_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}": {
      "get": {
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_Get",
        "summary": "Describe a volume",
        "description": "Get the details of the specified volume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_Get": {
            "$ref": "examples/Volumes_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_CreateOrUpdate",
        "summary": "Create or Update a volume",
        "description": "Create or update the specified volume within the capacity pool",
        "parameters": [
          {
            "name": "body",
            "description": "Volume object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok - volume updated",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "201": {
            "description": "Volume created",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "202": {
            "description": "Accepted -- Create request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "Volumes_CreateOrUpdate": {
            "$ref": "examples/Volumes_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_Update",
        "summary": "Update a volume",
        "description": "Patch the specified volume",
        "parameters": [
          {
            "name": "body",
            "description": "Volume object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/volumePatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/cloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_Update": {
            "$ref": "examples/Volumes_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Volumes"
        ],
        "operationId": "Volumes_Delete",
        "summary": "Delete a volume",
        "description": "Delete the specified volume",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "in": "query",
            "name": "forceDelete",
            "type": "boolean",
            "description": "An option to force delete the volume. Will cleanup resources connected to the particular volume",
            "required": false
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_Delete": {
            "$ref": "examples/Volumes_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/populateAvailabilityZone": {
      "post": {
        "tags": [
          "Volumes"
        ],
        "summary": "Populate Availability Zone",
        "description": "This operation will populate availability zone information for a volume",
        "operationId": "Volumes_PopulateAvailabilityZone",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/volume"
            }
          },
          "202": {
            "description": "Accepted -- populate availability zone accepted; operation will complete asynchronously",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_PopulateAvailabilityZones": {
            "$ref": "examples/Volumes_PopulateAvailabilityZones.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/revert": {
      "post": {
        "tags": [
          "Volumes Revert"
        ],
        "summary": "Revert a volume to one of its snapshots",
        "description": "Revert a volume to the snapshot specified in the body",
        "operationId": "Volumes_Revert",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Object for snapshot to revert supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/volumeRevert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_Revert": {
            "$ref": "examples/Volumes_Revert.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/resetCifsPassword": {
      "post": {
        "tags": [
          "Reset Cifs Password"
        ],
        "summary": "Reset cifs password",
        "description": "Reset cifs password from volume",
        "operationId": "Volumes_ResetCifsPassword",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Volumes_ResetCifsPassword": {
            "$ref": "examples/Volumes_ResetCifsPassword.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/breakFileLocks": {
      "post": {
        "tags": [
          "File Locks"
        ],
        "summary": "Break file locks",
        "description": "Break all the file locks on a volume",
        "operationId": "Volumes_BreakFileLocks",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Optional body to provide the ability to clear file locks with selected options",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/breakFileLocksRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_BreakFileLocks": {
            "$ref": "examples/Volumes_BreakFileLocks.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/getGroupIdListForLdapUser": {
      "post": {
        "tags": [
          "Group Id List for LDAP User"
        ],
        "summary": " Get Group Id List for LDAP User",
        "description": "Returns the list of group Ids for a specific LDAP User",
        "operationId": "Volumes_ListGetGroupIdListForLdapUser",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Returns group Id list for a specific LDAP user",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/getGroupIdListForLDAPUserRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/getGroupIdListForLDAPUserResponse"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "GetGroupIdListForUser": {
            "$ref": "examples/GroupIdListForLDAPUser.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/breakReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Break volume replication",
        "description": "Break the replication connection on the destination volume",
        "operationId": "Volumes_BreakReplication",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Optional body to force break the replication.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/breakReplicationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_BreakReplication": {
            "$ref": "examples/Volumes_BreakReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/reestablishReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Re-establish volume replication",
        "description": "Re-establish a previously deleted replication between 2 volumes that have a common ad-hoc or policy-based snapshots",
        "operationId": "Volumes_ReestablishReplication",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "body for the id of the source volume.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reestablishReplicationRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_ReestablishReplication": {
            "$ref": "examples/Volumes_ReestablishReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/replicationStatus": {
      "get": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Get volume replication status",
        "description": "Get the status of the replication",
        "operationId": "Volumes_ReplicationStatus",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/replicationStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_ReplicationStatus": {
            "$ref": "examples/Volumes_ReplicationStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/listReplications": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "List replications for volume",
        "description": "List all replications for a specified volume",
        "operationId": "Volumes_ListReplications",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/listReplications"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_ListReplications": {
            "$ref": "examples/Volumes_ListReplications.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/resyncReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Resync volume replication",
        "description": "Resync the connection on the destination volume. If the operation is ran on the source volume it will reverse-resync the connection and sync from destination to source.",
        "operationId": "Volumes_ResyncReplication",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_ResyncReplication": {
            "$ref": "examples/Volumes_ResyncReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/deleteReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Delete volume replication",
        "description": "Delete the replication connection on the destination volume, and send release to the source replication",
        "operationId": "Volumes_DeleteReplication",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_DeleteReplication": {
            "$ref": "examples/Volumes_DeleteReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/authorizeReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "Authorize source volume replication",
        "description": "Authorize the replication connection on the source volume",
        "operationId": "Volumes_AuthorizeReplication",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Authorize request object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/authorizeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_AuthorizeReplication": {
            "$ref": "examples/Volumes_AuthorizeReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/reinitializeReplication": {
      "post": {
        "tags": [
          "Volumes Replication"
        ],
        "summary": "ReInitialize volume replication",
        "description": "Re-Initializes the replication connection on the destination volume",
        "operationId": "Volumes_ReInitializeReplication",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_ReInitializeReplication": {
            "$ref": "examples/Volumes_ReInitializeReplication.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/poolChange": {
      "post": {
        "tags": [
          "Pool Change"
        ],
        "summary": "Change pool for volume",
        "description": "Moves volume to another pool",
        "operationId": "Volumes_PoolChange",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Move volume to the pool supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/poolChangeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Volumes_AuthorizeReplication": {
            "$ref": "examples/Volumes_PoolChange.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/relocate": {
      "post": {
        "tags": [
          "Volumes Relocation"
        ],
        "summary": "Relocate volume",
        "description": "Relocates volume to a new stamp",
        "operationId": "Volumes_Relocate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Relocate volume request",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/relocateVolumeRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Volumes_Relocate": {
            "$ref": "examples/Volumes_Relocate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/finalizeRelocation": {
      "post": {
        "tags": [
          "Volumes Relocation"
        ],
        "summary": "Finalize volume relocation",
        "description": "Finalizes the relocation of the volume and cleans up the old volume.",
        "operationId": "Volumes_FinalizeRelocation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Volumes_FinalizeRelocation": {
            "$ref": "examples/Volumes_FinalizeRelocation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/revertRelocation": {
      "post": {
        "tags": [
          "Volumes Relocation"
        ],
        "summary": "Revert volume relocation",
        "description": "Reverts the volume relocation process, cleans up the new volume and starts using the former-existing volume.",
        "operationId": "Volumes_RevertRelocation",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Volumes_RevertRelocation": {
            "$ref": "examples/Volumes_RevertRelocation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_List",
        "summary": "Describe all snapshots",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "description": "List all snapshots associated with the volume",
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Snapshots_List": {
            "$ref": "examples/Snapshots_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots/{snapshotName}": {
      "get": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_Get",
        "summary": "Describe a snapshot",
        "description": "Get details of the specified snapshot",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Snapshots_Get": {
            "$ref": "examples/Snapshots_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_Create",
        "summary": "Create a snapshot",
        "description": "Create the specified snapshot within the given volume",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshot"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Snapshot created",
            "schema": {
              "$ref": "#/definitions/snapshot"
            }
          },
          "202": {
            "description": "Accepted -- Create request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Snapshots_Create": {
            "$ref": "examples/Snapshots_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_Update",
        "summary": "Update a snapshot",
        "description": "Patch a snapshot",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshotPatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshot"
            }
          },
          "202": {
            "description": "Accepted -- Update request accepted; operation will complete asynchronously"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Snapshots_Update": {
            "$ref": "examples/Snapshots_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_Delete",
        "summary": "Delete a snapshot",
        "description": "Delete snapshot",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted -- Delete request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Snapshots_Delete": {
            "$ref": "examples/Snapshots_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/snapshots/{snapshotName}/restoreFiles": {
      "post": {
        "tags": [
          "Snapshots"
        ],
        "operationId": "Snapshots_RestoreFiles",
        "summary": "Create a new Snapshot Restore Files request",
        "description": "Restore the specified files from the specified snapshot to the active filesystem",
        "parameters": [
          {
            "name": "body",
            "description": "Restore payload supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshotRestoreFiles"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "#/parameters/SnapshotName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - terminal state"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Snapshots_SingleFileRestore": {
            "$ref": "examples/Snapshots_SingleFileRestore.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/snapshotPolicies": {
      "get": {
        "operationId": "SnapshotPolicies_List",
        "description": "List snapshot policy",
        "tags": [
          "Snapshot Policy"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "SnapshotPolicies_List": {
            "$ref": "examples/SnapshotPolicies_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/snapshotPolicies/{snapshotPolicyName}": {
      "get": {
        "operationId": "SnapshotPolicies_Get",
        "description": "Get a snapshot Policy",
        "tags": [
          "Snapshot Policy"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "SnapshotPolicies_Get": {
            "$ref": "examples/SnapshotPolicies_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SnapshotPolicies_Create",
        "description": "Create a snapshot policy",
        "tags": [
          "Snapshot Policy"
        ],
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - snapshot Policy updated",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "201": {
            "description": "Snapshot Policy created",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": false,
        "x-ms-examples": {
          "SnapshotPolicies_Create": {
            "$ref": "examples/SnapshotPolicies_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Snapshot Policy"
        ],
        "operationId": "SnapshotPolicies_Update",
        "description": "Patch a snapshot policy",
        "parameters": [
          {
            "name": "body",
            "description": "Snapshot policy object supplied in the body of the operation.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/snapshotPolicyPatch"
            }
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously",
            "schema": {
              "$ref": "#/definitions/snapshotPolicy"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SnapshotPolicies_Update": {
            "$ref": "examples/SnapshotPolicies_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SnapshotPolicies_Delete",
        "description": "Delete snapshot policy",
        "tags": [
          "Snapshot Policy"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted -- Create or update request accepted; operation will complete asynchronously"
          },
          "204": {
            "description": "NoContent -- Resource does not exist."
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "SnapshotPolicies_Delete": {
            "$ref": "examples/SnapshotPolicies_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/snapshotPolicies/{snapshotPolicyName}/volumes": {
      "get": {
        "tags": [
          "Snapshot Policy List Volumes"
        ],
        "summary": "Get volumes for snapshot policy",
        "description": "Get volumes associated with snapshot policy",
        "operationId": "SnapshotPolicies_ListVolumes",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/SnapshotPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/snapshotPolicyVolumeList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "SnapshotPolicies_ListVolumes": {
            "$ref": "examples/SnapshotPolicies_ListVolumes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/capacityPools/{poolName}/volumes/{volumeName}/restoreStatus": {
      "get": {
        "tags": [
          "Restore"
        ],
        "summary": "Get volume's restore status",
        "description": "Get the status of the restore for a volume",
        "operationId": "Backups_GetVolumeRestoreStatus",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/PoolName"
          },
          {
            "$ref": "#/parameters/VolumeName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/restoreStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Volumes_RestoreStatus": {
            "$ref": "examples/Volumes_RestoreStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupPolicies": {
      "get": {
        "tags": [
          "Backup Policy"
        ],
        "summary": "List backup policies",
        "description": "List backup policies for Netapp Account",
        "operationId": "BackupPolicies_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/backupPoliciesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed."
          }
        },
        "x-ms-examples": {
          "Backups_List": {
            "$ref": "examples/BackupPolicies_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NetApp/netAppAccounts/{accountName}/backupPolicies/{backupPolicyName}": {
      "get": {
        "tags": [
          "Backup Policy"
        ],
        "summary": "Get a backup Policy",
        "description": "Get a particular backup Policy",
        "operationId": "BackupPolicies_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/AccountName"
          },
          {
            "$ref": "#/parameters/BackupPolicyName"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
[...]
