{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.AzureCloudMetadata management service",
    "version": "2024-05-01-preview",
    "description": "Microsoft.AzureCloudMetadata Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Clouds"
    },
    {
      "name": "Geographies"
    },
    {
      "name": "Regions"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureCloudMetadata/clouds": {
      "get": {
        "operationId": "Clouds_ListByTenant",
        "tags": [
          "Clouds"
        ],
        "description": "List Cloud resources by tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CloudListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clouds_ListByTenant": {
            "$ref": "./examples/Clouds_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.AzureCloudMetadata/clouds/{cloudName}": {
      "get": {
        "operationId": "Clouds_Get",
        "tags": [
          "Clouds"
        ],
        "description": "Get a Cloud",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cloudName",
            "in": "path",
            "description": "The cloud name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Cloud"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Clouds_Get": {
            "$ref": "./examples/Clouds_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.AzureCloudMetadata/clouds/{cloudName}/geographies": {
      "get": {
        "operationId": "Geographies_ListByCloud",
        "tags": [
          "Geographies"
        ],
        "description": "List Geography resources by Cloud",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cloudName",
            "in": "path",
            "description": "The cloud name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeographyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Geographies_ListByCloud": {
            "$ref": "./examples/Geographies_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.AzureCloudMetadata/clouds/{cloudName}/geographies/{geographyShortId}": {
      "get": {
        "operationId": "Geographies_Get",
        "tags": [
          "Geographies"
        ],
        "description": "Get a Geography",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cloudName",
            "in": "path",
            "description": "The cloud name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{3,24}$"
          },
          {
            "name": "geographyShortId",
            "in": "path",
            "description": "The geography short id",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{2,5}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Geography"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Geographies_Get": {
            "$ref": "./examples/Geographies_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.AzureCloudMetadata/clouds/{cloudName}/geographies/{geographyShortId}/regions": {
      "get": {
        "operationId": "Regions_ListByGeography",
        "tags": [
          "Regions"
        ],
        "description": "List Region resources by Geography",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cloudName",
            "in": "path",
            "description": "The cloud name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{3,24}$"
          },
          {
            "name": "geographyShortId",
            "in": "path",
            "description": "The geography short id",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{2,5}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RegionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regions_ListByGeography": {
            "$ref": "./examples/Regions_ListByParent.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.AzureCloudMetadata/clouds/{cloudName}/geographies/{geographyShortId}/regions/{regionName}": {
      "get": {
        "operationId": "Regions_Get",
        "tags": [
          "Regions"
        ],
        "description": "Get a Region",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cloudName",
            "in": "path",
            "description": "The cloud name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{3,24}$"
          },
          {
            "name": "geographyShortId",
            "in": "path",
            "description": "The geography short id",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{2,5}$"
          },
          {
            "name": "regionName",
            "in": "path",
            "description": "The region name",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Region"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Regions_Get": {
            "$ref": "./examples/Regions_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.AzureCloudMetadata/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "Cloud": {
      "type": "object",
      "description": "Cloud resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CloudProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CloudListResult": {
      "type": "object",
      "description": "The response of a Cloud list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Cloud items on this page",
          "items": {
            "$ref": "#/definitions/Cloud"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "CloudProperties": {
      "type": "object",
      "description": "Cloud details.",
      "properties": {
        "guid": {
          "type": "string",
          "description": "Guid of the resource."
        },
        "shortId": {
          "type": "string",
          "description": "Short id of the resource",
          "pattern": "^[a-zA-Z-]{2,6}$"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the resource",
          "minimum": 1,
          "maximum": 9999
        },
        "environmentType": {
          "$ref": "#/definitions/EnvironmentType",
          "description": "Environment type of cloud."
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "State of cloud."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of resource.",
          "readOnly": true
        }
      },
      "required": [
        "guid",
        "shortId",
        "index",
        "environmentType",
        "state"
      ]
    },
    "EnvironmentType": {
      "type": "string",
      "description": "The cloud environment type.",
      "enum": [
        "Public",
        "Sovereign",
        "Airgapped"
      ],
      "x-ms-enum": {
        "name": "EnvironmentType",
        "modelAsString": true,
        "values": [
          {
            "name": "Public",
            "value": "Public",
            "description": "This is a Public cloud"
          },
          {
            "name": "Sovereign",
            "value": "Sovereign",
            "description": "This is a Sovereign cloud"
          },
          {
            "name": "Airgapped",
            "value": "Airgapped",
            "description": "This is an Airgapped cloud"
          }
        ]
      }
    },
    "Geography": {
      "type": "object",
      "description": "Geography resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GeographyProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "GeographyListResult": {
      "type": "object",
      "description": "The response of a Geography list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Geography items on this page",
          "items": {
            "$ref": "#/definitions/Geography"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GeographyProperties": {
      "type": "object",
      "description": "Geography details.",
      "properties": {
        "guid": {
          "type": "string",
          "description": "Guid of the resource."
        },
        "shortId": {
          "type": "string",
          "description": "Short id of the resource",
          "pattern": "^[a-zA-Z-]{2,6}$"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the resource",
          "minimum": 1,
          "maximum": 9999
        },
        "fullName": {
          "type": "string",
          "description": "Name of geography."
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "State of geography."
        },
        "cloudResourceId": {
          "$ref": "#/definitions/ParentResourceId",
          "description": "Resource Id of parent"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of resource.",
          "readOnly": true
        }
      },
      "required": [
        "guid",
        "shortId",
        "index",
        "fullName",
        "state",
        "cloudResourceId"
      ]
    },
    "ParentResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "string"
          }
        ]
      }
    },
    "Region": {
      "type": "object",
      "description": "Region resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/RegionProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "RegionListResult": {
      "type": "object",
      "description": "The response of a Region list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Region items on this page",
          "items": {
            "$ref": "#/definitions/Region"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "RegionProperties": {
      "type": "object",
      "description": "Region details.",
      "properties": {
        "guid": {
          "type": "string",
          "description": "Guid of the resource."
        },
        "shortId": {
          "type": "string",
          "description": "Short id of the resource",
          "pattern": "^[a-zA-Z-]{2,6}$"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the resource",
          "minimum": 1,
          "maximum": 9999
        },
        "friendlyName": {
          "type": "string",
          "description": "Friendly name of region"
        },
        "regionType": {
          "$ref": "#/definitions/RegionType",
          "description": "Type of region"
        },
        "state": {
          "$ref": "#/definitions/RegionState",
          "description": "State of region."
        },
        "armLocation": {
          "type": "string",
          "description": "Arm location of region."
        },
        "availabilityZoneSupport": {
          "$ref": "#/definitions/ZoneSupportState",
          "description": "Availability zone support state of region."
        },
        "supportedCustomerWorkloads": {
          "type": "string",
          "description": "Supported customer workloads of region."
        },
        "billingRegionName": {
          "type": "string",
          "description": "Billing region name of region."
        },
        "buildoutArmFeatureFlag": {
          "type": "string",
          "description": "Buildout arm feature flag of region."
        },
        "customerArmFeatureFlag": {
          "type": "string",
          "description": "Customer arm feature flag of region."
        },
        "pairRegionIds": {
          "type": "string",
          "description": "Id of paired region of region."
        },
        "recoveryRegionGuid": {
          "type": "string",
          "description": "Recovery region guid of region."
        },
        "rdfeId": {
          "type": "string",
          "description": "rdfe Id of region."
        },
        "dataBoundary": {
          "type": "string",
          "description": "Data boundary of region."
        },
        "crpServiceAccount": {
          "type": "string",
          "description": "Crp service account of region."
        },
        "dstsDns": {
          "type": "string",
          "description": "Dsts Dns of region."
        },
        "defaultBillingPolicy": {
          "type": "string",
          "description": "Default billing policy of region."
        },
        "defaultOfferType": {
          "type": "string",
          "description": "Default offer type of region."
        },
        "dnsServers": {
          "type": "string",
          "description": "Dns servers of region."
        },
        "rnmDnsName": {
          "type": "string",
          "description": "Rnm Dns name of region."
        },
        "geographyResourceId": {
          "$ref": "#/definitions/ParentResourceId",
          "description": "Resource id of region's parent geography."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of resource.",
          "readOnly": true
        }
      },
      "required": [
        "guid",
        "shortId",
        "index",
        "friendlyName",
        "regionType",
        "state",
        "armLocation",
        "availabilityZoneSupport",
        "supportedCustomerWorkloads",
        "billingRegionName",
        "geographyResourceId"
      ]
    },
    "RegionState": {
      "type": "string",
      "description": "The region state.",
      "enum": [
        "Proposed",
        "Approved",
        "Ring 0 Complete",
        "Buildout",
        "Production SLA",
        "Decommissioning",
        "Retired",
        "Cancelled",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "RegionState",
        "modelAsString": true,
        "values": [
          {
            "name": "Proposed",
            "value": "Proposed",
            "description": "The region is being proposed"
          },
          {
            "name": "Approved",
            "value": "Approved",
            "description": "The region is approved"
          },
          {
            "name": "Ring0Complete",
            "value": "Ring 0 Complete",
            "description": "The region is on ring 0 complete"
          },
          {
            "name": "Buildout",
            "value": "Buildout",
            "description": "The region is in buildout"
          },
          {
            "name": "ProductionSLA",
            "value": "Production SLA",
            "description": "The region is in production SLA"
          },
          {
            "name": "Decommissioning",
            "value": "Decommissioning",
            "description": "The region is decommissioning"
          },
          {
            "name": "Retired",
            "value": "Retired",
            "description": "The region is retired"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "The region is cancelled"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "The region state is unknown"
          }
        ]
      }
    },
    "RegionType": {
      "type": "string",
      "description": "The region type.",
      "enum": [
        "Hero",
        "Hub",
        "Micro",
        "Satellite",
        "AI_Reserve",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "RegionType",
        "modelAsString": true,
        "values": [
          {
            "name": "Hero",
            "value": "Hero",
            "description": "A hero region"
          },
          {
            "name": "Hub",
            "value": "Hub",
            "description": "A hub region"
          },
          {
            "name": "Micro",
            "value": "Micro",
            "description": "A micro region"
          },
          {
            "name": "Satellite",
            "value": "Satellite",
            "description": "A satellite region"
          },
          {
            "name": "AIReserve",
            "value": "AI_Reserve",
            "description": "A AI region"
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Region type is unknown"
          }
        ]
      }
    },
    "State": {
      "type": "string",
      "description": "Valid states for cloud or geography.",
      "enum": [
        "Proposed",
        "Approved",
        "On Hold",
        "Buildout",
        "Production SLA",
        "Decommissioning",
        "Retired",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "State",
        "modelAsString": true,
        "values": [
          {
            "name": "Proposed",
            "value": "Proposed",
            "description": "The resource is being proposed"
          },
          {
            "name": "Approved",
            "value": "Approved",
            "description": "The resource is approved"
          },
          {
            "name": "OnHold",
            "value": "On Hold",
            "description": "The resource is on hold"
          },
          {
            "name": "Buildout",
            "value": "Buildout",
            "description": "The resource is in buildout"
          },
          {
            "name": "ProductionSLA",
            "value": "Production SLA",
            "description": "The resource is ready in production with a Service-Level agreement"
          },
          {
            "name": "Decommissioning",
            "value": "Decommissioning",
            "description": "The resource is in decommissioning"
          },
          {
            "name": "Retired",
            "value": "Retired",
            "description": "The resource is retired"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "The resource is cancelled"
          }
        ]
      }
    },
    "ZoneSupportState": {
      "type": "string",
      "description": "The region's zone support state.",
      "enum": [
        "No Plan",
        "Proposed",
        "Approved",
        "On Hold",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "ZoneSupportState",
        "modelAsString": true,
        "values": [
          {
            "name": "NoPlan",
            "value": "No Plan",
            "description": "Zone support state is no plan."
          },
          {
            "name": "Proposed",
            "value": "Proposed",
            "description": "Zone support state is proposed."
          },
          {
            "name": "Approved",
            "value": "Approved",
            "description": "Zone support state is approved."
          },
          {
            "name": "OnHold",
            "value": "On Hold",
            "description": "Zone support state is on hold."
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Zone support state is cancelled."
          }
        ]
      }
    }
  },
  "parameters": {}
}
