{
  "swagger": "2.0",
  "info": {
    "version": "2024-11-18-preview",
    "title": "AdvisorManagementClient",
    "description": "REST APIs for Azure Advisor Assessments"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/assessments/{assessmentName}": {
      "delete": {
        "tags": [
          "assessments"
        ],
        "summary": "Delete existing assessment.",
        "description": "Delete a existing Azure Advisor assessment.",
        "operationId": "Assessments_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/assessmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "DeleteAssessment": {
            "$ref": "./examples/DeleteAssessment.json"
          }
        }
      },
      "get": {
        "tags": [
          "assessments"
        ],
        "summary": "Get existing assessment.",
        "description": "Get a existing Azure Advisor assessment.",
        "operationId": "Assessments_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/assessmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssessmentResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "GetAssessment": {
            "$ref": "./examples/GetAssessment.json"
          }
        }
      },
      "put": {
        "tags": [
          "assessments"
        ],
        "summary": "Create/Overwrite Azure Advisor assessment.",
        "description": "Create or Overwrite Azure Advisor assessment resource.",
        "operationId": "Assessments_Put",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "assessmentContract",
            "in": "body",
            "description": "The Azure Advisor assessment data structure.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssessmentResult"
            }
          },
          {
            "$ref": "#/parameters/assessmentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully created/update assessment.",
            "schema": {
              "$ref": "#/definitions/AssessmentResult"
            }
          },
          "201": {
            "description": "Successfully created/update assessment.",
            "schema": {
              "$ref": "#/definitions/AssessmentResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-examples": {
          "PutAssessment": {
            "$ref": "./examples/PutAssessment.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/assessments": {
      "get": {
        "tags": [
          "assessments"
        ],
        "summary": "Get list of assessment.",
        "description": "Get list of Azure Advisor assessment.",
        "operationId": "Assessments_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/$top"
          },
          {
            "$ref": "#/parameters/$skiptoken"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssessmentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListAssessments": {
            "$ref": "./examples/ListAssessments.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/assessmentTypes": {
      "get": {
        "tags": [
          "assessmentTypes"
        ],
        "summary": "Get assessment types list.",
        "description": "Get list of Azure Advisor assessment types.",
        "operationId": "AssessmentTypes_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssessmentTypeListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetAssessmentTypes": {
            "$ref": "./examples/ListAssessmentTypes.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Advisor/workloads": {
      "get": {
        "tags": [
          "workloads"
        ],
        "summary": "Get Workloads list.",
        "description": "Get list of Workloads.",
        "operationId": "Workloads_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkloadListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetWorkloads": {
            "$ref": "./examples/ListWorkloads.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AssessmentResult": {
      "description": "The Advisor assessment result data structure.",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "type": "string",
          "description": "Assessment Id",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Assessment Name",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Resource Type",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/systemData",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/AssessmentResultProperties",
          "description": "The Advisor assessment result properties structure.",
          "x-ms-client-flatten": true
        }
      }
    },
    "AssessmentResultProperties": {
      "description": "Assessment result properties.",
      "type": "object",
      "properties": {
        "workloadId": {
          "type": "string",
          "description": "Workload Id."
        },
        "workloadName": {
          "type": "string",
          "description": "Workload Name.",
          "readOnly": true
        },
        "assessmentId": {
          "type": "string",
          "readOnly": true,
          "description": "Assessment Id."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Assessment Type Description."
        },
        "typeId": {
          "type": "string",
          "description": "Assessment Type Id."
        },
        "type": {
          "type": "string",
          "description": "Assessment Type.",
          "readOnly": true
        },
        "score": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Assessment Score."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Assessment State."
        },
        "typeVersion": {
          "type": "string",
          "description": "Assessment Type Version.",
          "readOnly": true
        },
        "locale": {
          "type": "string",
          "description": "Assessment Type Locale."
        }
      }
    },
    "AssessmentListResult": {
      "description": "The Advisor assessment list result data structure.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Assessments.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssessmentResult"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of Advisor assessments, if there are any."
        }
      }
    },
    "AssessmentTypeListResult": {
      "description": "The Advisor assessment type list result data structure.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Assessments Types.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AssessmentTypeResult"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of Advisor assessments types, if there are any."
        }
      }
    },
    "AssessmentTypeResult": {
      "description": "The Advisor assessment type result data structure.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Assessment Type Id"
        },
        "title": {
          "type": "string",
          "description": "Assessment Type Title"
        },
        "description": {
          "type": "string",
          "description": "Assessment Type Description"
        },
        "locale": {
          "type": "string",
          "description": "Assessment Type Locale"
        },
        "version": {
          "type": "string",
          "description": "Assessment Type Version"
        }
      }
    },
    "WorkloadListResult": {
      "description": "The Workload list result data structure.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of Workload.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/WorkloadResult"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of Workloads, if there are any."
        }
      }
    },
    "WorkloadResult": {
      "description": "The Workload result data structure.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Workload Id"
        },
        "name": {
          "type": "string",
          "description": "Workload Name"
        },
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id"
        },
        "subscriptionName": {
          "type": "string",
          "description": "Subscription Name"
        }
      }
    }
  },
  "parameters": {
    "assessmentNameParameter": {
      "name": "assessmentName",
      "in": "path",
      "description": "Advisor assessment name.",
      "required": true,
      "type": "string",
      "pattern": "^[-0-9a-zA-Z_]{1,63}$",
      "x-ms-parameter-location": "method"
    },
    "$top": {
      "name": "$top",
      "in": "query",
      "description": "Limit the result to the specified number of rows.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "$skiptoken": {
      "name": "$skiptoken",
      "in": "query",
      "description": "The page-continuation token to use with a paged version of this API.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
