{
  "swagger": "2.0",
  "info": {
    "title": "CostManagementClient",
    "version": "2020-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules": {
      "get": {
        "tags": [
          "CostAllocation"
        ],
        "operationId": "CostAllocation_List",
        "description": "Get the list of all cost allocation rules",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CostAllocationRules_List": {
            "$ref": "./examples/CostAllocationRulesList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of cost allocation rules for the billing account.",
            "schema": {
              "$ref": "#/definitions/CostAllocationRule_list"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/checknameavailability": {
      "post": {
        "tags": [
          "CostAllocation"
        ],
        "operationId": "CostAllocation_CheckNameAvailability",
        "description": "Check if a given rule name is in use",
        "x-ms-examples": {
          "CostAllocationRuleCheckNameAvailability": {
            "$ref": "./examples/CostAllocationRuleCheckNameAvailability.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "name": "costAllocationRuleCheckNameAvailabilityRequest",
            "description": "Cost allocation rule to be created/updated",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CostAllocationRuleCheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Response of cost allocation rule name availability.",
            "schema": {
              "$ref": "#/definitions/CostAllocationRuleCheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/costAllocationRules/{ruleName}": {
      "get": {
        "tags": [
          "CostAllocation"
        ],
        "operationId": "CostAllocation_Get",
        "description": "Get the cost allocation rule by rule name.",
        "x-ms-examples": {
          "CostAllocationRules": {
            "$ref": "./examples/CostAllocationRuleGet.json"
          }
        },
        "parameters": [
          {
              "$ref": "#/parameters/apiVersionParameter"
          },
          {
              "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
              "$ref": "#/parameters/ruleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CostAllocationRuleDefinitionResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CostAllocation"
        ],
        "operationId": "CostAllocation_CreateOrUpdate",
        "description": "Create/Update cost allocation rule for billing account or enterprise enrollment.",
        "x-ms-examples": {
          "CreateWithResourceGroup": {
            "$ref": "./examples/CostAllocationRuleCreateResourceGroup.json"
          },
          "CreateWithTag": {
            "$ref": "./examples/CostAllocationRuleCreateTag.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
              "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
              "$ref": "#/parameters/ruleNameParameter"
          },
          {
            "name": "costAllocationRule",
            "description": "Cost allocation rule to be created/updated",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CostAllocationRuleDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CostAllocationRuleDefinitionResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "CostAllocation"
        ],
        "operationId": "CostAllocation_Delete",
        "description": "Delete cost allocation rule for billing account or enterprise enrollment.",
        "x-ms-examples": {
          "CostAllocationRules": {
            "$ref": "./examples/CostAllocationRuleDelete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/ruleNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code"
        },
        "message": {
          "type": "string",
          "description": "Error message with additional details."
        },
        "correlationId": {
          "type": "string",
          "description": "Tracking id for support reference"
        }
      }
    },
    "CostAllocationRule_list": {
      "type": "object",
      "description": "Result of listing cost allocation rules. It contains a list of available rules in the billing account provided.",
      "properties": {
        "value": {
          "description": "The list of cost allocation rules.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/CostAllocationRuleDefinitionResponse"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of rule list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CostAllocationRuleCheckNameAvailabilityRequest": {
      "type": "object",
      "description": "The cost allocation rule check name availability request",
      "properties": {
        "name": {
          "type": "string",
          "description": "Rule name"
        },
        "type": {
          "type": "string",
          "description": "Resource type"
        }
      }
    },
    "CostAllocationRuleCheckNameAvailabilityResponse": {
      "type": "object",
      "description": "The cost allocation rule check name availability response",
      "properties": {
        "nameAvailable": {
          "$ref": "#/definitions/NameAvailable",
          "description": "Whether this rule name is available"
        },
        "reason": {
          "$ref": "#/definitions/Reason",
          "description": "The reason this name is not available"
        },
        "message": {
          "type": "string",
          "description": "Error message if the name is not available"
        }
      }
    },
    "NameAvailable": {
      "type": "string",
      "description": "Whether this rule name is available",
      "enum": [
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "NameAvailable",
        "modelAsString": true
      }
    },
    "Reason": {
      "type": "string",
      "description": "The reason this name is not available",
      "enum": [
        "Invalid",
        "AlreadyExists"
      ],
      "x-ms-enum": {
        "name": "Reason",
        "modelAsString": true
      }
    },
    "CostAllocationRuleDefinition": {
      "type": "object",
      "description": "The cost allocation rule model definition",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Rule id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Rule name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        },
        "properties": {
          "$ref": "#/definitions/CostAllocationRuleProperties",
          "description": "Cost allocation rule properties"
        }
      },
      "x-ms-azure-resource": true
    },
    "CostAllocationRuleDefinitionResponse": {
      "type": "object",
      "description": "The cost allocation rule model definition response",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Rule id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Rule name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource type"
        },
        "properties": {
          "$ref": "#/definitions/CostAllocationRulePropertiesResponse",
          "description": "Cost allocation rule properties"
        }
      },
      "x-ms-azure-resource": true
    },
    "CostAllocationRuleProperties": {
      "type": "object",
      "description": "The properties of a cost allocation rule",
      "additionalProperties": false,
      "required": [
        "status",
        "details"
      ],
      "properties": {
        "description": {
          "description": "Description of a cost allocation rule.",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/InputRuleStatus",
          "description": "Status of the rule"
        },
        "details": {
          "description": "Resource information for the cost allocation rule",
          "$ref": "#/definitions/CostAllocationRuleDetails"
        }
      }
    },
    "CostAllocationRulePropertiesResponse": {
      "type": "object",
      "description": "The properties of a cost allocation rule response",
      "additionalProperties": false,
      "required": [
        "status",
        "details"
      ],
      "properties": {
        "description": {
          "description": "Description of a cost allocation rule.",
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/RuleStatus",
          "description": "Status of the rule"
        },
        "details": {
          "description": "Resource information for the cost allocation rule",
          "$ref": "#/definitions/CostAllocationRuleDetails"
        }
      }
    },
    "RuleStatus": {
      "type": "string",
      "description": "Current status of the rule",
      "enum": [
        "NotActive",
        "Active",
        "Processing"
      ],
      "x-ms-enum": {
        "name": "RuleStatus",
        "modelAsString": true
      }
    },
    "InputRuleStatus": {
      "type": "string",
      "description": "Current status of the rule",
      "enum": [
        "NotActive",
        "Active"
      ],
      "x-ms-enum": {
        "name": "RuleStatus",
        "modelAsString": true
      }
    },
    "CostAllocationRuleDetails": {
      "type": "object",
      "description": "Resource details of the cost allocation rule",
      "properties": {
        "sourceResources": {
          "description": "Source resources for cost allocation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SourceCostAllocationResource"
          }
        },
        "targetResources": {
          "type": "array",
          "description": "Target resources for cost allocation",
          "items": {
            "$ref": "#/definitions/TargetCostAllocationResource"
          }
        }
      }
    },
    "SourceCostAllocationResource": {
      "type": "object",
      "description": "Source resources for cost allocation",
      "required": [
        "resourceType",
        "name",
        "values"
      ],
      "properties": {
        "resourceType": {
          "description": "Type of resources contained in this cost allocation rule",
          "$ref": "#/definitions/CostAllocationResourceType"
        },
        "name": {
          "description": "If resource type is dimension, this must be either ResourceGroupName or SubscriptionId. If resource type is tag, this must be a valid Azure tag",
          "type": "string"
        },
        "values": {
          "description": "Source Resources for cost allocation",
          "type": "array",
          "items": {
            "description": "Source resource for cost allocation",
            "type": "string"
          }
        }
      }
    },
    "TargetCostAllocationResource": {
      "description": "Target resources for cost allocation",
      "allOf": [
        {
          "$ref": "#/definitions/CostAllocationResource"
        },
        {
          "type": "object",
          "description": "Target resources for cost allocation",
          "required": [
            "policyType"
          ],
          "properties": {
            "values": {
              "description": "Target resources for cost allocation",
              "type": "array",
              "items": {
                "$ref": "#/definitions/CostAllocationProportion"
              }
            },
            "policyType": {
              "description": "Method of cost allocation for the rule",
              "$ref": "#/definitions/CostAllocationPolicyType"
            }
          }
        }
      ]
    },
    "CostAllocationResourceType": {
      "type": "string",
      "description": "Category of resource to use for allocation",
      "enum": [
        "Dimension",
        "Tag"
      ],
      "x-ms-enum": {
        "name": "CostAllocationResourceType",
        "modelAsString": true
      }
    },
    "CostAllocationProportion": {
      "type": "object",
      "description" : "Target resources and allocation",
      "required": [
        "percentage",
        "name"
      ],
      "properties": {
        "name": {
          "description": "Target resource for cost allocation",
          "type": "string"
        },
        "percentage": {
          "description" : "Percentage of source cost to allocate to this resource",
          "type": "integer"
        }
      }
    },
    "CostAllocationPolicyType": {
      "type": "string",
      "description": "Method to use for allocating cost",
      "enum": [
        "FixedProportion"
      ],
      "x-ms-enum": {
        "name": "CostAllocationPolicyType",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2020-03-01-preview"
    },
    "billingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "Billing Account ID or Enterprise Enrollment",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ruleNameParameter": {
      "name": "ruleName",
      "in": "path",
      "description": "Cost allocation rule name",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
