{
  "swagger": "2.0",
  "info": {
    "version": "2024-02-01",
    "title": "Edge Ordering Service-Customer"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.EdgeOrder/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "List all the supported operations.",
        "operationId": "Operations_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The supported operations list.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/ListOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrder/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "description": "List all the addresses available under the subscription.",
        "operationId": "Addresses_ListBySubscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "$filter is supported to filter based on shipping address properties. Filter supports only equals operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of addresses, which provides the next page in the list of addresses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "$top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of addresses available under the subscription.",
            "schema": {
              "$ref": "#/definitions/AddressResourceList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListAddressesAtSubscriptionLevel": {
            "$ref": "./examples/ListAddressesAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrder/listConfigurations": {
      "post": {
        "tags": [
          "ProductsAndConfigurations"
        ],
        "description": "List configurations for the given product family, product line and product for the given subscription.",
        "operationId": "ProductsAndConfigurations_ListConfigurations",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on list of configurations, which provides the next page in the list of configurations.",
            "required": false,
            "type": "string"
          },
          {
            "name": "configurationsRequest",
            "in": "body",
            "description": "Filters for showing the configurations.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigurationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of configurations for the given product family, product line and product for the given subscription.",
            "schema": {
              "$ref": "#/definitions/Configurations"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListConfigurations": {
            "$ref": "./examples/ListConfigurations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrder/listProductFamilies": {
      "post": {
        "tags": [
          "ProductsAndConfigurations"
        ],
        "description": "List product families for the given subscription.",
        "operationId": "ProductsAndConfigurations_ListProductFamilies",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "$expand is supported on configurations parameter for product, which provides details on the configurations for the product.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on list of product families, which provides the next page in the list of product families.",
            "required": false,
            "type": "string"
          },
          {
            "name": "productFamiliesRequest",
            "in": "body",
            "description": "Filters for showing the product families.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProductFamiliesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of available product families for the given subscription.",
            "schema": {
              "$ref": "#/definitions/ProductFamilies"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListProductFamilies": {
            "$ref": "./examples/ListProductFamilies.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrder/orderItems": {
      "get": {
        "tags": [
          "OrderItems"
        ],
        "description": "List order items at subscription level.",
        "operationId": "OrderItems_ListBySubscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "$filter is supported to filter based on order id and order Item Type. Filter supports only equals operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "$expand is supported on parent device details, device details, forward shipping details and reverse shipping details parameters. Each of these can be provided as a comma separated list. Parent Device Details for order item provides details on the devices of the product, Device Details for order item provides details on the devices of the child configurations of the product, Forward and Reverse Shipping details provide forward and reverse shipping details respectively.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of order items, which provides the next page in the list of order items.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "$top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of order items available under the subscription.",
            "schema": {
              "$ref": "#/definitions/OrderItemResourceList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOrderItemsAtSubscriptionLevel": {
            "$ref": "./examples/ListOrderItemsAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrder/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "description": "List orders at subscription level.",
        "operationId": "Orders_ListBySubscription",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of orders, which provides the next page in the list of orders.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "$top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders available under the subscription.",
            "schema": {
              "$ref": "#/definitions/OrderResourceList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOrderAtSubscriptionLevel": {
            "$ref": "./examples/ListOrderAtSubscriptionLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeOrder/productFamiliesMetadata": {
      "post": {
        "tags": [
          "ProductFamilyMetadata"
        ],
        "description": "List product families metadata for the given subscription.",
        "operationId": "ProductsAndConfigurations_ListProductFamiliesMetadata",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on list of product families metadata, which provides the next page in the list of product families metadata.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of available product families for the given subscription.",
            "schema": {
              "$ref": "#/definitions/ProductFamiliesMetadata"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListProductFamiliesMetadata": {
            "$ref": "./examples/ListProductFamiliesMetadata.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/addresses": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "description": "List all the addresses available under the given resource group.",
        "operationId": "Addresses_ListByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "$filter is supported to filter based on shipping address properties. Filter supports only equals operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of addresses, which provides the next page in the list of addresses.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "$top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of addresses available under the resource group.",
            "schema": {
              "$ref": "#/definitions/AddressResourceList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListAddressesAtResourceGroupLevel": {
            "$ref": "./examples/ListAddressesAtResourceGroupLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/addresses/{addressName}": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "description": "Get information about the specified address.",
        "operationId": "Addresses_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/addressNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Address object.",
            "schema": {
              "$ref": "#/definitions/AddressResource"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetAddressByName": {
            "$ref": "./examples/GetAddressByName.json"
          }
        }
      },
      "put": {
        "tags": [
          "Addresses"
        ],
        "description": "Create a new address with the specified parameters. Existing address cannot be updated with this API and should\r\ninstead be updated with the Update address API.",
        "operationId": "Addresses_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/addressNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "addressResource",
            "in": "body",
            "description": "Address details from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Address resource object.",
            "schema": {
              "$ref": "#/definitions/AddressResource"
            }
          },
          "202": {
            "description": "Accepted request for create Address.",
            "headers": {
              "Location": {
                "description": "The URL to track the status of the long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CreateAddress": {
            "$ref": "./examples/CreateAddress.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Addresses"
        ],
        "description": "Delete an address.",
        "operationId": "Addresses_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/addressNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted request for delete address.",
            "headers": {
              "Location": {
                "description": "The URL to track the status of the long running operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No content. Address deleted."
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DeleteAddressByName": {
            "$ref": "./examples/DeleteAddressByName.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Addresses"
        ],
        "description": "Update the properties of an existing address.",
        "operationId": "Addresses_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/addressNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Defines the If-Match condition. The patch will be performed only if the ETag of the job on the server matches this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "addressUpdateParameter",
            "in": "body",
            "description": "Address update parameters from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddressUpdateParameter"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted request for address update.",
            "headers": {
              "Location": {
                "description": "The URL to track the status of the long running operation.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "Address resource object.",
            "schema": {
              "$ref": "#/definitions/AddressResource"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "UpdateAddress": {
            "$ref": "./examples/UpdateAddress.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/locations/{location}/orders/{orderName}": {
      "get": {
        "tags": [
          "Order"
        ],
        "description": "Get an order.",
        "operationId": "Orders_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "#/parameters/orderNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Order resource object.",
            "schema": {
              "$ref": "#/definitions/OrderResource"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOrderByName": {
            "$ref": "./examples/GetOrderByName.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems": {
      "get": {
        "tags": [
          "OrderItems"
        ],
        "description": "List order items at resource group level.",
        "operationId": "OrderItems_ListByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "$filter is supported to filter based on order id and order Item Type. Filter supports only equals operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "$expand is supported on parent device details, device details, forward shipping details and reverse shipping details parameters. Each of these can be provided as a comma separated list. Parent Device Details for order item provides details on the devices of the product, Device Details for order item provides details on the devices of the child configurations of the product, Forward and Reverse Shipping details provide forward and reverse shipping details respectively.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of order items, which provides the next page in the list of order items.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "$top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of order items available under the resource group.",
            "schema": {
              "$ref": "#/definitions/OrderItemResourceList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOrderItemsAtResourceGroupLevel": {
            "$ref": "./examples/ListOrderItemsAtResourceGroupLevel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}": {
      "get": {
        "tags": [
          "OrderItems"
        ],
        "description": "Get an order item.",
        "operationId": "OrderItems_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/orderItemNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "$expand is supported on parent device details, device details, forward shipping details and reverse shipping details parameters. Each of these can be provided as a comma separated list. Parent Device Details for order item provides details on the devices of the product, Device Details for order item provides details on the devices of the child configurations of the product, Forward and Reverse Shipping details provide forward and reverse shipping details respectively.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Order item object.",
            "schema": {
              "$ref": "#/definitions/OrderItemResource"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetOrderItemByName": {
            "$ref": "./examples/GetOrderItemByName.json"
          }
        }
      },
      "put": {
        "tags": [
          "OrderItems"
        ],
        "description": "Create an order item. Existing order item cannot be updated with this api and should instead be updated with the Update order item\r\nAPI.",
        "operationId": "OrderItems_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/orderItemNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "orderItemResource",
            "in": "body",
            "description": "Order item details from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderItemResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order resource object.",
            "schema": {
              "$ref": "#/definitions/OrderItemResource"
            }
          },
          "202": {
            "description": "Accepted request to create order item.",
            "headers": {
              "Location": {
                "description": "The URL to track the status of the long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "CreateOrderItem": {
            "$ref": "./examples/CreateOrderItem.json"
          }
        }
      },
      "delete": {
        "tags": [
          "OrderItems"
        ],
        "description": "Delete an order item.",
        "operationId": "OrderItems_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/orderItemNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted delete request for an order item.",
            "headers": {
              "Location": {
                "description": "The URL to track the status of the long running operation.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No content. Order item deleted."
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DeleteOrderItemByName": {
            "$ref": "./examples/DeleteOrderItemByName.json"
          }
        }
      },
      "patch": {
        "tags": [
          "OrderItems"
        ],
        "description": "Update the properties of an existing order item.",
        "operationId": "OrderItems_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/orderItemNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Defines the If-Match condition. The patch will be performed only if the ETag of the order on the server matches this value.",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderItemUpdateParameter",
            "in": "body",
            "description": "Order item update parameters from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderItemUpdateParameter"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted request for order item update.",
            "headers": {
              "Location": {
                "description": "The URL to track the status of the long running operation.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "Order item resource object.",
            "schema": {
              "$ref": "#/definitions/OrderItemResource"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "UpdateOrderItem": {
            "$ref": "./examples/UpdateOrderItem.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}/cancel": {
      "post": {
        "tags": [
          "OrderItems"
        ],
        "description": "Cancel order item.",
        "operationId": "OrderItems_Cancel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/orderItemNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "cancellationReason",
            "in": "body",
            "description": "Reason for cancellation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancellationReason"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order item cancelled."
          },
          "204": {
            "description": "No content."
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CancelOrderItem": {
            "$ref": "./examples/CancelOrderItem.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orderItems/{orderItemName}/return": {
      "post": {
        "tags": [
          "OrderItems"
        ],
        "description": "Return order item.",
        "operationId": "OrderItems_Return",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/orderItemNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "returnOrderItemDetails",
            "in": "body",
            "description": "Return order item details.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReturnOrderItemDetails"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success."
          },
          "202": {
            "description": "Return order item request accepted.",
            "headers": {
              "Location": {
                "description": "The URL to track the status of the long running operation.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "ReturnOrderItem": {
            "$ref": "./examples/ReturnOrderItem.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EdgeOrder/orders": {
      "get": {
        "tags": [
          "Order"
        ],
        "description": "List orders at resource group level.",
        "operationId": "Orders_ListByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of orders, which provides the next page in the list of orders.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "$top is supported on fetching list of resources. $top=10 means that the first 10 items in the list will be returned to the API caller.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "List of orders available under the resource group.",
            "schema": {
              "$ref": "#/definitions/OrderResourceList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOrderAtResourceGroupLevel": {
            "$ref": "./examples/ListOrderAtResourceGroupLevel.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AdditionalConfiguration": {
      "description": "Additional Configuration details.",
      "required": [
        "hierarchyInformation",
        "quantity"
      ],
      "type": "object",
      "properties": {
        "hierarchyInformation": {
          "$ref": "#/definitions/HierarchyInformation",
          "description": "Hierarchy of the product which uniquely identifies the configuration."
        },
        "quantity": {
          "format": "int32",
          "description": "Quantity of the product.",
          "type": "integer"
        },
        "provisioningDetails": {
          "description": "List Provisioning Details for Devices in Additional Config.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProvisioningDetails"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AddressClassification": {
      "description": "Type of address based on its usage context.",
      "enum": [
        "Shipping",
        "Site"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "AddressClassification",
        "modelAsString": true,
        "values": [
          {
            "value": "Shipping",
            "description": "Shipping address for the order."
          },
          {
            "value": "Site",
            "description": "Site Address."
          }
        ]
      }
    },
    "AddressDetails": {
      "description": "Address details for an order item.",
      "required": [
        "forwardAddress"
      ],
      "type": "object",
      "properties": {
        "forwardAddress": {
          "$ref": "#/definitions/AddressProperties",
          "description": "Customer address and contact details."
        },
        "returnAddress": {
          "$ref": "#/definitions/AddressProperties",
          "description": "Return shipping address.",
          "readOnly": true
        }
      }
    },
    "AddressProperties": {
      "description": "Address Properties.",
      "type": "object",
      "properties": {
        "addressClassification": {
          "$ref": "#/definitions/AddressClassification",
          "description": "Type of address based on its usage context."
        },
        "shippingAddress": {
          "$ref": "#/definitions/ShippingAddress",
          "description": "Shipping details for the address."
        },
        "contactDetails": {
          "$ref": "#/definitions/ContactDetails",
          "description": "Contact details for the address."
        },
        "addressValidationStatus": {
          "description": "Status of address validation.",
          "enum": [
            "Valid",
            "Invalid",
            "Ambiguous"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AddressValidationStatus",
            "modelAsString": true,
            "values": [
              {
                "value": "Valid",
                "description": "Address provided is valid."
              },
              {
                "value": "Invalid",
                "description": "Address provided is invalid or not supported."
              },
              {
                "value": "Ambiguous",
                "description": "Address provided is ambiguous, please choose one of the alternate addresses returned."
              }
            ]
          }
        },
        "provisioningState": {
          "description": "Provisioning state",
          "$ref": "#/definitions/ProvisioningState"
        }
      }
    },
    "AddressResource": {
      "description": "Address Resource.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddressProperties",
          "description": "Properties of an address.",
          "x-ms-client-flatten": true
        }
      }
    },
    "AddressResourceList": {
      "description": "Address Resource Collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of address resources.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/AddressResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link for the next set of job resources.",
          "type": "string"
        }
      }
    },
    "AddressUpdateParameter": {
      "description": "The Address update parameters.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddressUpdateProperties",
          "description": "Properties of an address to be updated.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "AddressUpdateProperties": {
      "description": "Address Update Properties.",
      "type": "object",
      "properties": {
        "shippingAddress": {
          "$ref": "#/definitions/ShippingAddress",
          "description": "Shipping details for the address."
        },
        "contactDetails": {
          "$ref": "#/definitions/ContactDetails",
          "description": "Contact details for the address."
        }
      }
    },
    "AutoProvisioningStatus": {
      "description": "Auto Provisioning Details.",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "AutoProvisioningStatus",
        "modelAsString": true,
        "values": [
          {
            "value": "Enabled",
            "description": "Provisioning Enabled. Will act as pre-approved, and arc extension will be enabled as soon as the device is verified to be at the right edge location."
          },
          {
            "value": "Disabled",
            "description": "Provisioning Disabled."
          }
        ]
      }
    },
    "AvailabilityInformation": {
      "description": "Availability information of a product system.",
      "type": "object",
      "properties": {
        "availabilityStage": {
          "description": "Current availability stage of the product.",
          "enum": [
            "Available",
            "Preview",
            "Signup",
            "Discoverable",
            "ComingSoon",
            "Unavailable",
            "Deprecated"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AvailabilityStage",
            "modelAsString": true,
            "values": [
              {
                "value": "Available",
                "description": "Product is available."
              },
              {
                "value": "Preview",
                "description": "Product is in preview."
              },
              {
                "value": "Signup",
                "description": "Product is available only on signup."
              },
              {
                "value": "Discoverable",
                "description": "Product is not available in our service but can be discovered from other sources."
              },
              {
                "value": "ComingSoon",
                "description": "Product is coming soon."
              },
              {
                "value": "Unavailable",
                "description": "Product is not available."
              },
              {
                "value": "Deprecated",
                "description": "Product is deprecated."
              }
            ]
          }
        },
        "disabledReason": {
          "description": "Reason why the product is disabled.",
          "enum": [
            "None",
            "Country",
            "Region",
            "Feature",
            "OfferType",
            "NoSubscriptionInfo",
            "NotAvailable",
            "OutOfStock"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DisabledReason",
            "modelAsString": true,
            "values": [
              {
                "value": "None",
                "description": "Not disabled."
              },
              {
                "value": "Country",
                "description": "Not available in the requested country."
              },
              {
                "value": "Region",
                "description": "Not available to push data to the requested Azure region."
              },
              {
                "value": "Feature",
                "description": "Required features are not enabled."
              },
              {
                "value": "OfferType",
                "description": "Subscription does not have required offer types."
              },
              {
                "value": "NoSubscriptionInfo",
                "description": "Subscription has not registered to Microsoft.DataBox and Service does not have the subscription notification."
              },
              {
                "value": "NotAvailable",
                "description": "The product is not yet available."
              },
              {
                "value": "OutOfStock",
                "description": "The product is out of stock."
              }
            ]
          }
        },
        "disabledReasonMessage": {
          "description": "Message for why the product is disabled.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BasicInformation": {
      "description": "Basic information for any product system.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display Name for the product system.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "$ref": "#/definitions/Description",
          "description": "Description related to the product system.",
          "readOnly": true
        },
        "imageInformation": {
          "description": "Image information for the product system.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageInformation"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "costInformation": {
          "$ref": "#/definitions/CostInformation",
          "description": "Cost information for the product system.",
          "readOnly": true
        },
        "availabilityInformation": {
          "$ref": "#/definitions/AvailabilityInformation",
          "description": "Availability information of the product system.",
          "readOnly": true
        },
        "hierarchyInformation": {
          "$ref": "#/definitions/HierarchyInformation",
          "description": "Hierarchy information of a product.",
          "readOnly": true
        },
        "fulfilledBy": {
          "description": "The entity responsible for fulfillment of the item at the given hierarchy level.",
          "enum": [
            "Microsoft",
            "External"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "FulfillmentType",
            "modelAsString": true,
            "values": [
              {
                "value": "Microsoft",
                "description": "The fulfillment (the whole journey of the product offering) is handled by microsoft."
              },
              {
                "value": "External",
                "description": "The fulfillment (the whole journey of the product offering) is handled by external third party entities."
              }
            ]
          }
        }
      }
    },
    "BillingMeterDetails": {
      "description": "Holds billing meter details for each type of billing.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Represents Billing type name.",
          "type": "string",
          "readOnly": true
        },
        "meterDetails": {
          "$ref": "#/definitions/MeterDetails",
          "description": "Represents MeterDetails.",
          "readOnly": true
        },
        "meteringType": {
          "description": "Represents Metering type (eg one-time or recurrent).",
          "enum": [
            "OneTime",
            "Recurring",
            "Adhoc"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "MeteringType",
            "modelAsString": true,
            "values": [
              {
                "value": "OneTime",
                "description": "One time billing."
              },
              {
                "value": "Recurring",
                "description": "Recurring billing."
              },
              {
                "value": "Adhoc",
                "description": "Adhoc billing."
              }
            ]
          }
        },
        "frequency": {
          "description": "Frequency of recurrence.",
          "type": "string",
          "readOnly": true
        },
        "termTypeDetails": {
          "description": "Represent Term Type details.",
          "$ref": "#/definitions/TermTypeDetails",
          "readOnly": true
        }
      }
    },
    "CancellationReason": {
      "description": "Reason for cancellation.",
      "required": [
        "reason"
      ],
      "type": "object",
      "properties": {
        "reason": {
          "description": "Reason for cancellation.",
          "type": "string"
        }
      }
    },
    "CategoryInformation": {
      "description": "Category related properties of a child configuration.",
      "type": "object",
      "properties": {
        "categoryName": {
          "description": "Category name of the child configuration.",
          "type": "string"
        },
        "categoryDisplayName": {
          "description": "Category display name of the child configuration.",
          "type": "string"
        },
        "description": {
          "description": "Description text for the category.",
          "type": "string"
        },
        "links": {
          "description": "Links for the category.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ChildConfiguration": {
      "description": "Child configuration object.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ChildConfigurationProperties",
          "description": "Properties of child configuration.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "ChildConfigurationFilter": {
      "description": "Child configuration filter.",
      "type": "object",
      "properties": {
        "hierarchyInformations": {
          "description": "The list of child configuration hierarchy customer wants to filter for the given configuration.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/HierarchyInformation"
          },
          "x-ms-identifiers": []
        },
        "childConfigurationTypes": {
          "description": "Filter to fetch all child configurations belonging to the given list of configuration types.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "enum": [
              "DeviceConfiguration",
              "AdditionalConfiguration"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "ChildConfigurationType",
              "modelAsString": true,
              "values": [
                {
                  "value": "DeviceConfiguration",
                  "description": "Child configuration is a device configuration."
                },
                {
                  "value": "AdditionalConfiguration",
                  "description": "Child configuration is an additional configuration."
                }
              ]
            }
          }
        }
      }
    },
    "ChildConfigurationProperties": {
      "description": "Properties of child configuration.",
      "type": "object",
      "properties": {
        "childConfigurationType": {
          "description": "Child configuration type.",
          "enum": [
            "DeviceConfiguration",
            "AdditionalConfiguration"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ChildConfigurationType",
            "modelAsString": true,
            "values": [
              {
                "value": "DeviceConfiguration",
                "description": "Child configuration is a device configuration."
              },
              {
                "value": "AdditionalConfiguration",
                "description": "Child configuration is an additional configuration."
              }
            ]
          }
        },
        "isPartOfBaseConfiguration": {
          "description": "Flag to indicate if the child configuration is part of the base configuration, which means the customer need not pass this configuration in OptInAdditionalConfigurations while placing an order, it will be shipped by default.",
          "type": "boolean",
          "readOnly": true
        },
        "minimumQuantity": {
          "format": "int32",
          "description": "Minimum quantity a customer can order while choosing this configuration.",
          "type": "integer",
          "readOnly": true
        },
        "maximumQuantity": {
          "format": "int32",
          "description": "Maximum quantity a customer can order while choosing this configuration.",
          "type": "integer",
          "readOnly": true
        },
        "specifications": {
          "description": "Specifications of the configuration.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Specification"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "dimensions": {
          "$ref": "#/definitions/Dimensions",
          "description": "Dimensions of the configuration.",
          "readOnly": true
        },
        "provisioningSupport": {
          "description": "Determining nature of provisioning that the configuration supports.",
          "$ref": "#/definitions/ProvisioningSupport",
          "readOnly": true
        },
        "childConfigurationTypes": {
          "description": "Different types of child configurations which exist for this configuration, these can be used to populate the child configuration filter.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "enum": [
              "DeviceConfiguration",
              "AdditionalConfiguration"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "ChildConfigurationType",
              "modelAsString": true,
              "values": [
                {
                  "value": "DeviceConfiguration",
                  "description": "Child configuration is a device configuration."
                },
                {
                  "value": "AdditionalConfiguration",
                  "description": "Child configuration is an additional configuration."
                }
              ]
            }
          },
          "readOnly": true
        },
        "groupedChildConfigurations": {
          "description": "Child configurations present for the configuration after applying child configuration filter, grouped by the category name of the child configuration.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupedChildConfigurations"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "supportedTermCommitmentDurations": {
          "description": "The Term Commitment Durations that are supported for a configuration.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "duration"
          },
          "readOnly": true
        },
        "filterableProperties": {
          "description": "List of filters supported for a product.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterableProperty"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "displayName": {
          "description": "Display Name for the product system.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "$ref": "#/definitions/Description",
          "description": "Description related to the product system.",
          "readOnly": true
        },
        "imageInformation": {
          "description": "Image information for the product system.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageInformation"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "costInformation": {
          "$ref": "#/definitions/CostInformation",
          "description": "Cost information for the product system.",
          "readOnly": true
        },
        "availabilityInformation": {
          "$ref": "#/definitions/AvailabilityInformation",
          "description": "Availability information of the product system.",
          "readOnly": true
        },
        "hierarchyInformation": {
          "$ref": "#/definitions/HierarchyInformation",
          "description": "Hierarchy information of a product.",
          "readOnly": true
        },
        "fulfilledBy": {
          "description": "The entity responsible for fulfillment of the item at the given hierarchy level.",
          "enum": [
            "Microsoft",
            "External"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "FulfillmentType",
            "modelAsString": true,
            "values": [
              {
                "value": "Microsoft",
                "description": "The fulfillment (the whole journey of the product offering) is handled by microsoft."
              },
              {
                "value": "External",
                "description": "The fulfillment (the whole journey of the product offering) is handled by external third party entities."
              }
            ]
          }
        }
      }
    },
    "CommonProperties": {
      "description": "Represents common properties across product hierarchy.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BasicInformation"
        }
      ],
      "properties": {
        "filterableProperties": {
          "description": "List of filters supported for a product.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterableProperty"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "Configuration": {
      "description": "Configuration object.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConfigurationProperties",
          "description": "Properties of configuration.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "ConfigurationDeviceDetails": {
      "description": "Device details for configuration.",
      "type": "object",
      "properties": {
        "displayInfo": {
          "$ref": "#/definitions/DisplayInfo",
          "description": "Display details of the product."
        },
        "hierarchyInformation": {
          "$ref": "#/definitions/HierarchyInformation",
          "description": "Hierarchy of the product which uniquely identifies the configuration.",
          "readOnly": true
        },
        "quantity": {
          "format": "int32",
          "description": "Quantity of the product.",
          "type": "integer",
          "readOnly": true
        },
        "identificationType": {
          "description": "Identification type of the configuration.",
          "enum": [
            "NotSupported",
            "SerialNumber"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "IdentificationType",
            "modelAsString": true,
            "values": [
              {
                "value": "NotSupported",
                "description": "Product does not have any explicit identifier."
              },
              {
                "value": "SerialNumber",
                "description": "Product is identifiable by serial number."
              }
            ]
          }
        },
        "deviceDetails": {
          "description": "List of device details.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeviceDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "termCommitmentInformation": {
          "description": "Term Commitment Information of the Device.",
          "$ref": "#/definitions/TermCommitmentInformation",
          "readOnly": true
        }
      }
    },
    "ConfigurationFilter": {
      "description": "Configuration filters.",
      "required": [
        "hierarchyInformation"
      ],
      "type": "object",
      "properties": {
        "hierarchyInformation": {
          "$ref": "#/definitions/HierarchyInformation",
          "description": "Product hierarchy information."
        },
        "filterableProperty": {
          "description": "Filters specific to product.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/FilterableProperty"
          },
          "x-ms-identifiers": []
        },
        "childConfigurationFilter": {
          "$ref": "#/definitions/ChildConfigurationFilter",
          "description": "Filter to fetch specific child configurations that exist in the configuration. This must be passed to either fetch a list of specific child configurations, or all child configurations of specific types of child configurations."
        }
      }
    },
    "ConfigurationProperties": {
      "description": "Properties of configuration.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CommonProperties"
        }
      ],
      "properties": {
        "specifications": {
          "description": "Specifications of the configuration.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Specification"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "dimensions": {
          "$ref": "#/definitions/Dimensions",
          "description": "Dimensions of the configuration.",
          "readOnly": true
        },
        "provisioningSupport": {
          "description": "Determining nature of provisioning that the configuration supports.",
          "$ref": "#/definitions/ProvisioningSupport",
          "readOnly": true
        },
        "childConfigurationTypes": {
          "description": "Different types of child configurations which exist for this configuration, these can be used to populate the child configuration filter.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "enum": [
              "DeviceConfiguration",
              "AdditionalConfiguration"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "ChildConfigurationType",
              "modelAsString": true,
              "values": [
                {
                  "value": "DeviceConfiguration",
                  "description": "Child configuration is a device configuration."
                },
                {
                  "value": "AdditionalConfiguration",
                  "description": "Child configuration is an additional configuration."
                }
              ]
            }
          },
          "readOnly": true
        },
        "groupedChildConfigurations": {
          "description": "Child configurations present for the configuration after applying child configuration filter, grouped by the category name of the child configuration.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/GroupedChildConfigurations"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "supportedTermCommitmentDurations": {
          "description": "The Term Commitment Durations that are supported for a configuration.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "duration"
          },
          "readOnly": true
        }
      }
    },
    "Configurations": {
      "description": "The list of configurations.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of configurations.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Configuration"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "nextLink": {
          "description": "Link for the next set of configurations.",
          "type": "string"
        }
      }
    },
    "ConfigurationsRequest": {
      "description": "Configuration request object.",
      "type": "object",
      "properties": {
        "configurationFilter": {
          "$ref": "#/definitions/ConfigurationFilter",
          "description": "Holds details about product hierarchy information and filterable property."
        },
        "customerSubscriptionDetails": {
          "$ref": "#/definitions/CustomerSubscriptionDetails",
          "description": "Customer subscription properties. Clients can display available products to unregistered customers by explicitly passing subscription details."
        }
      }
    },
    "ContactDetails": {
      "description": "Contact Details.",
      "type": "object",
      "properties": {
        "contactName": {
          "description": "Contact name of the person.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number of the contact person.",
          "type": "string"
        },
        "phoneExtension": {
          "description": "Phone extension number of the contact person.",
          "type": "string"
        },
        "mobile": {
          "description": "Mobile number of the contact person.",
          "type": "string"
        },
        "emailList": {
          "description": "List of Email-ids to be notified about job progress.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CostInformation": {
      "description": "Cost information for the product system.",
      "type": "object",
      "properties": {
        "billingMeterDetails": {
          "description": "Details on the various billing aspects for the product system.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillingMeterDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "billingInfoUrl": {
          "description": "Default url to display billing information.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CustomerSubscriptionDetails": {
      "description": "Holds Customer subscription details. Clients can display available products to unregistered customers by explicitly passing subscription details.",
      "required": [
        "quotaId"
      ],
      "type": "object",
      "properties": {
        "registeredFeatures": {
          "description": "List of registered feature flags for subscription.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/CustomerSubscriptionRegisteredFeatures"
          },
          "x-ms-identifiers": []
        },
        "locationPlacementId": {
          "description": "Location placement Id of a subscription.",
          "type": "string"
        },
        "quotaId": {
          "description": "Quota ID of a subscription.",
          "type": "string"
        }
      }
    },
    "CustomerSubscriptionRegisteredFeatures": {
      "description": "Represents subscription registered features.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of subscription registered feature.",
          "type": "string"
        },
        "state": {
          "description": "State of subscription registered feature.",
          "type": "string"
        }
      }
    },
    "Description": {
      "description": "Description related properties of a product system.",
      "type": "object",
      "properties": {
        "descriptionType": {
          "description": "Type of description.",
          "enum": [
            "Base"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DescriptionType",
            "modelAsString": true,
            "values": [
              {
                "value": "Base",
                "description": "Base description."
              }
            ]
          }
        },
        "shortDescription": {
          "description": "Short description of the product system.",
          "type": "string",
          "readOnly": true
        },
        "longDescription": {
          "description": "Long description of the product system.",
          "type": "string",
          "readOnly": true
        },
        "keywords": {
          "description": "Keywords for the product system.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "attributes": {
          "description": "Attributes for the product system.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "links": {
          "description": "Links for the product system.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "DeviceDetails": {
      "description": "Device details.",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "Device serial number.",
          "type": "string",
          "readOnly": true
        },
        "displaySerialNumber": {
          "description": "Device serial number to be displayed.",
          "type": "string",
          "readOnly": true
        },
        "managementResourceId": {
          "description": "Management Resource Id.",
          "type": "string",
          "readOnly": true
        },
        "managementResourceTenantId": {
          "description": "Management Resource Tenant ID.",
          "type": "string",
          "readOnly": true
        },
        "provisioningSupport": {
          "description": "Determining nature of provisioning that the configuration supports.",
          "$ref": "#/definitions/ProvisioningSupport",
          "readOnly": true
        },
        "provisioningDetails": {
          "$ref": "#/definitions/ProvisioningDetails",
          "description": "Provisioning Details for the device.",
          "readOnly": true
        }
      }
    },
    "DevicePresenceVerificationDetails": {
      "description": "Proof of possession details.",
      "type": "object",
      "properties": {
        "status": {
          "description": "Proof of possession status.",
          "$ref": "#/definitions/DevicePresenceVerificationStatus",
          "readOnly": true
        },
        "message": {
          "description": "Insights on current status.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DevicePresenceVerificationStatus": {
      "description": "Proof of possession status.",
      "enum": [
        "NotInitiated",
        "Completed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "DevicePresenceVerificationStatus",
        "modelAsString": true,
        "values": [
          {
            "value": "NotInitiated",
            "description": "The device has not yet been verified to be with the right edge operator or at the right location."
          },
          {
            "value": "Completed",
            "description": "Confirms that the device is verified to be with the right edge operator or at the right location."
          }
        ]
      }
    },
    "Dimensions": {
      "description": "Dimensions of a configuration.",
      "type": "object",
      "properties": {
        "length": {
          "format": "double",
          "description": "Length of the device.",
          "type": "number",
          "readOnly": true
        },
        "height": {
          "format": "double",
          "description": "Height of the device.",
          "type": "number",
          "readOnly": true
        },
        "width": {
          "format": "double",
          "description": "Width of the device.",
          "type": "number",
          "readOnly": true
        },
        "lengthHeightUnit": {
          "description": "Unit for the dimensions of length, height and width.",
          "enum": [
            "IN",
            "CM"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "LengthHeightUnit",
            "modelAsString": true,
            "values": [
              {
                "value": "IN",
                "description": "Inch, applicable for West US."
              },
              {
                "value": "CM",
                "description": "Centimeter."
              }
            ]
          }
        },
        "weight": {
          "format": "double",
          "description": "Weight of the device.",
          "type": "number",
          "readOnly": true
        },
        "depth": {
          "format": "double",
          "description": "Depth of the device.",
          "type": "number",
          "readOnly": true
        },
        "weightUnit": {
          "description": "Unit for the dimensions of weight.",
          "enum": [
            "LBS",
            "KGS"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "WeightMeasurementUnit",
            "modelAsString": true,
            "values": [
              {
                "value": "LBS",
                "description": "Pounds."
              },
              {
                "value": "KGS",
                "description": "Kilograms."
              }
            ]
          }
        }
      }
    },
    "DisplayInfo": {
      "description": "Describes product display information.",
      "type": "object",
      "properties": {
        "productFamilyDisplayName": {
          "description": "Product family display name.",
          "type": "string",
          "readOnly": true
        },
        "configurationDisplayName": {
          "description": "Configuration display name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EncryptionPreferences": {
      "description": "Preferences related to the double encryption.",
      "type": "object",
      "properties": {
        "doubleEncryptionStatus": {
          "description": "Double encryption status as entered by the customer. It is compulsory to give this parameter if the 'Deny' or 'Disabled' policy is configured.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DoubleEncryptionStatus",
            "modelAsString": true,
            "values": [
              {
                "value": "Disabled",
                "description": "Double encryption is disabled."
              },
              {
                "value": "Enabled",
                "description": "Double encryption is enabled."
              }
            ]
          }
        }
      }
    },
    "FilterableProperty": {
      "description": "Different types of filters supported and its values.",
      "required": [
        "type",
        "supportedValues"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of product filter.",
          "enum": [
            "ShipToCountries",
            "DoubleEncryptionStatus"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SupportedFilterTypes",
            "modelAsString": true,
            "values": [
              {
                "value": "ShipToCountries",
                "description": "Ship to country."
              },
              {
                "value": "DoubleEncryptionStatus",
                "description": "Double encryption status."
              }
            ]
          }
        },
        "supportedValues": {
          "description": "Values to be filtered.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ForwardShippingDetails": {
      "description": "Forward shipment details.",
      "type": "object",
      "properties": {
        "carrierName": {
          "description": "Name of the carrier.",
          "type": "string",
          "readOnly": true
        },
        "carrierDisplayName": {
          "description": "Carrier Name for display purpose. Not to be used for any processing.",
          "type": "string",
          "readOnly": true
        },
        "trackingId": {
          "description": "TrackingId of the package.",
          "type": "string",
          "readOnly": true
        },
        "trackingUrl": {
          "description": "TrackingUrl of the package.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GroupedChildConfigurations": {
      "description": "Grouped child configuration object.",
      "type": "object",
      "properties": {
        "categoryInformation": {
          "$ref": "#/definitions/CategoryInformation",
          "description": "Category information.",
          "readOnly": true
        },
        "childConfigurations": {
          "description": "List of child configurations.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/ChildConfiguration"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "HierarchyInformation": {
      "description": "Holds details about product hierarchy information.",
      "type": "object",
      "properties": {
        "productFamilyName": {
          "description": "Represents product family name that uniquely identifies product family.",
          "type": "string"
        },
        "productLineName": {
          "description": "Represents product line name that uniquely identifies product line.",
          "type": "string"
        },
        "productName": {
          "description": "Represents product name that uniquely identifies product.",
          "type": "string"
        },
        "configurationName": {
          "description": "Represents configuration name that uniquely identifies configuration.",
          "type": "string"
        },
        "configurationIdDisplayName": {
          "description": "Represents Model Display Name.",
          "type": "string"
        }
      }
    },
    "ImageInformation": {
      "description": "Image for the product.",
      "type": "object",
      "properties": {
        "imageType": {
          "description": "Type of the image.",
          "enum": [
            "MainImage",
            "BulletImage",
            "GenericImage"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ImageType",
            "modelAsString": true,
            "values": [
              {
                "value": "MainImage",
                "description": "Main image."
              },
              {
                "value": "BulletImage",
                "description": "Bullet image."
              },
              {
                "value": "GenericImage",
                "description": "Generic image."
              }
            ]
          }
        },
        "imageUrl": {
          "description": "Url of the image.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Link": {
      "description": "Returns link related to the product.",
      "type": "object",
      "properties": {
        "linkType": {
          "description": "Type of link.",
          "enum": [
            "Generic",
            "TermsAndConditions",
            "Specification",
            "Documentation",
            "KnowMore",
            "SignUp",
            "Discoverable"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "LinkType",
            "modelAsString": true,
            "values": [
              {
                "value": "Generic",
                "description": "Generic link."
              },
              {
                "value": "TermsAndConditions",
                "description": "Terms and conditions link."
              },
              {
                "value": "Specification",
                "description": "Link to product specification."
              },
              {
                "value": "Documentation",
                "description": "Link to product documentation."
              },
              {
                "value": "KnowMore",
                "description": "Link to know more."
              },
              {
                "value": "SignUp",
                "description": "Link to sign up for products."
              },
              {
                "value": "Discoverable",
                "description": "Link to order the product from another source and not from Azure Edge Hardware Center."
              }
            ]
          }
        },
        "linkUrl": {
          "description": "Url of the link.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ManagementResourcePreferences": {
      "description": "Management resource preference to link device.",
      "type": "object",
      "properties": {
        "preferredManagementResourceId": {
          "description": "Customer preferred Management resource ARM ID.",
          "type": "string"
        }
      }
    },
    "MeterDetails": {
      "description": "Holds details about billing type and its meter guids.",
      "required": [
        "billingType"
      ],
      "type": "object",
      "properties": {
        "billingType": {
          "description": "Represents billing type.",
          "enum": [
            "Pav2",
            "Purchase"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BillingType",
            "modelAsString": true,
            "values": [
              {
                "value": "Pav2",
                "description": "PaV2 billing."
              },
              {
                "value": "Purchase",
                "description": "Purchase billing."
              }
            ]
          }
        },
        "multiplier": {
          "format": "double",
          "description": "Billing unit applicable for Pav2 billing.",
          "type": "number",
          "readOnly": true
        },
        "chargingType": {
          "description": "Charging type.",
          "enum": [
            "PerOrder",
            "PerDevice"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ChargingType",
            "modelAsString": true,
            "values": [
              {
                "value": "PerOrder",
                "description": "Per order charging type."
              },
              {
                "value": "PerDevice",
                "description": "Per device charging type."
              }
            ]
          }
        }
      },
      "discriminator": "billingType"
    },
    "NotificationPreference": {
      "description": "Notification preference for a job stage.",
      "required": [
        "stageName",
        "sendNotification"
      ],
      "type": "object",
      "properties": {
        "stageName": {
          "description": "Name of the stage.",
          "enum": [
            "Shipped",
            "Delivered"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "NotificationStageName",
            "modelAsString": true,
            "values": [
              {
                "value": "Shipped",
                "description": "Notification at order item shipped from microsoft datacenter."
              },
              {
                "value": "Delivered",
                "description": "Notification at order item delivered to customer."
              }
            ]
          }
        },
        "sendNotification": {
          "description": "Notification is required or not.",
          "type": "boolean"
        }
      }
    },
    "OrderItemDetails": {
      "description": "Order item details.",
      "required": [
        "productDetails",
        "orderItemType"
      ],
      "type": "object",
      "properties": {
        "productDetails": {
          "$ref": "#/definitions/ProductDetails",
          "description": "Represents product details."
        },
        "orderItemType": {
          "description": "Order item type.",
          "enum": [
            "Purchase",
            "Rental",
            "External"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OrderItemType",
            "modelAsString": true,
            "values": [
              {
                "value": "Purchase",
                "description": "Purchase OrderItem."
              },
              {
                "value": "Rental",
                "description": "Rental OrderItem."
              },
              {
                "value": "External",
                "description": "Orders placed outside of azure."
              }
            ]
          }
        },
        "orderItemMode": {
          "description": "Defines the mode of the Order item.",
          "enum": [
            "Default",
            "DoNotFulfill"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OrderMode",
            "modelAsString": true,
            "values": [
              {
                "value": "Default",
                "description": "Default Order mode."
              },
              {
                "value": "DoNotFulfill",
                "description": "Mode in which the Order will not be fulfilled."
              }
            ]
          }
        },
        "siteDetails": {
          "$ref": "#/definitions/SiteDetails",
          "description": "Site Related Details."
        },
        "currentStage": {
          "$ref": "#/definitions/StageDetails",
          "description": "Current Order item Status.",
          "readOnly": true
        },
        "orderItemStageHistory": {
          "description": "Order item status history.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/StageDetails"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "preferences": {
          "$ref": "#/definitions/Preferences",
          "description": "Customer notification Preferences."
        },
        "forwardShippingDetails": {
          "$ref": "#/definitions/ForwardShippingDetails",
          "description": "Forward Package Shipping details.",
          "readOnly": true
        },
        "reverseShippingDetails": {
          "$ref": "#/definitions/ReverseShippingDetails",
          "description": "Reverse Package Shipping details.",
          "readOnly": true
        },
        "notificationEmailList": {
          "description": "Additional notification email list.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "cancellationReason": {
          "description": "Cancellation reason.",
          "type": "string",
          "readOnly": true
        },
        "cancellationStatus": {
          "description": "Describes whether the order item is cancellable or not.",
          "enum": [
[...]
