{
  "swagger": "2.0",
  "info": {
    "title": "Hybrid Connectivity Management API",
    "version": "2023-03-15",
    "description": "REST API for Hybrid Connectivity",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EndpointResources"
    },
    {
      "name": "ServiceConfigurationResources"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints": {
      "get": {
        "operationId": "Endpoints_List",
        "tags": [
          "EndpointResources"
        ],
        "description": "List of endpoints to the target resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EndpointsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsGet": {
            "$ref": "./examples/Endpoints_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}": {
      "get": {
        "operationId": "Endpoints_Get",
        "tags": [
          "EndpointResources"
        ],
        "description": "Gets the endpoint to the resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsGetCustom": {
            "$ref": "./examples/Endpoints_Get_Hybrid_Connectivity_Endpoints_Get_Custom.json"
          },
          "HybridConnectivityEndpointsGetDefault": {
            "$ref": "./examples/Endpoints_Get_Hybrid_Connectivity_Endpoints_Get_Default.json"
          }
        }
      },
      "put": {
        "operationId": "Endpoints_CreateOrUpdate",
        "tags": [
          "EndpointResources"
        ],
        "description": "Create or update the endpoint to the target resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "EndpointResource",
            "in": "body",
            "description": "Endpoint details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EndpointResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsPutCustom": {
            "$ref": "./examples/Endpoints_CreateOrUpdate_Hybrid_Connectivity_Endpoints_Put_Custom.json"
          },
          "HybridConnectivityEndpointsPutDefault": {
            "$ref": "./examples/Endpoints_CreateOrUpdate_Hybrid_Connectivity_Endpoints_Put_Default.json"
          }
        }
      },
      "patch": {
        "operationId": "Endpoints_Update",
        "tags": [
          "EndpointResources"
        ],
        "description": "Update the endpoint to the target resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "EndpointResource",
            "in": "body",
            "description": "Endpoint details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndpointResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsPatchDefault": {
            "$ref": "./examples/Endpoints_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Endpoints_Delete",
        "tags": [
          "EndpointResources"
        ],
        "description": "Deletes the endpoint access to the target resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsDeleteDefault": {
            "$ref": "./examples/Endpoints_Delete.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/listCredentials": {
      "post": {
        "operationId": "Endpoints_ListCredentials",
        "tags": [
          "EndpointResources"
        ],
        "description": "Gets the endpoint access credentials to the resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "expiresin",
            "in": "query",
            "description": "The is how long the endpoint access token is valid (in seconds).",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": 10800,
            "minimum": 600,
            "maximum": 10800
          },
          {
            "name": "ListCredentialsRequest",
            "in": "body",
            "description": "Object of type ListCredentialsRequest",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ListCredentialsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EndpointAccessResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsPostListCredentials": {
            "$ref": "./examples/Endpoints_ListCredentials.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/listIngressGatewayCredentials": {
      "post": {
        "operationId": "Endpoints_ListIngressGatewayCredentials",
        "tags": [
          "EndpointResources"
        ],
        "description": "Gets the ingress gateway endpoint credentials ",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "expiresin",
            "in": "query",
            "description": "The is how long the endpoint access token is valid (in seconds).",
            "required": false,
            "type": "integer",
            "format": "int64",
            "default": 10800,
            "minimum": 600,
            "maximum": 10800
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IngressGatewayResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsPostListIngressGatewayCredentials": {
            "$ref": "./examples/Endpoints_ListIngressGatewayCredentials.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/listManagedProxyDetails": {
      "post": {
        "operationId": "Endpoints_ListManagedProxyDetails",
        "tags": [
          "EndpointResources"
        ],
        "description": "Fetches the managed proxy details ",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ManagedProxyRequest",
            "in": "body",
            "description": "Object of type ManagedProxyRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagedProxyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ManagedProxyResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsPostListManagedProxyDetails": {
            "$ref": "./examples/Endpoints_ListManagedProxyDetails.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/serviceConfigurations": {
      "get": {
        "operationId": "ServiceConfigurations_ListByEndpointResource",
        "tags": [
          "ServiceConfigurationResources"
        ],
        "summary": "Lists of all the services associated with endpoint resource.",
        "description": "API to enumerate registered services in service configurations under a Endpoint Resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ServiceConfigurationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetClustersExample": {
            "$ref": "./examples/ServiceConfigurations_ListByEndpointResource.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.HybridConnectivity/endpoints/{endpointName}/serviceConfigurations/{serviceConfigurationName}": {
      "get": {
        "operationId": "ServiceConfigurations_Get",
        "tags": [
          "ServiceConfigurationResources"
        ],
        "description": "Gets the details about the service to the resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceConfigurationName",
            "in": "path",
            "description": "The service name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceConfigurationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "HybridConnectivityEndpointsServiceconfigurationsGetSSH": {
            "$ref": "./examples/ServiceConfigurations_Get_Hybrid_Connectivity_Endpoints_Serviceconfigurations_Get_Ssh.json"
          },
          "HybridConnectivityEndpointsServiceconfigurationsGetWAC": {
            "$ref": "./examples/ServiceConfigurations_Get_Hybrid_Connectivity_Endpoints_Serviceconfigurations_Get_Wac.json"
          }
        }
      },
      "put": {
        "operationId": "ServiceConfigurations_CreateOrupdate",
        "tags": [
          "ServiceConfigurationResources"
        ],
        "description": "Create or update a service in serviceConfiguration for the endpoint resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceConfigurationName",
            "in": "path",
            "description": "The service name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ServiceConfigurationResource",
            "in": "body",
            "description": "Service details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceConfigurationResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ServiceConfigurationResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceConfigurationResource"
            }
          },
          "201": {
            "description": "Resource 'ServiceConfigurationResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ServiceConfigurationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceConfigurationsPutSSH": {
            "$ref": "./examples/ServiceConfigurations_CreateOrupdate_Service_Configurations_Put_Ssh.json"
          },
          "ServiceConfigurationsPutWAC": {
            "$ref": "./examples/ServiceConfigurations_CreateOrupdate_Service_Configurations_Put_Wac.json"
          }
        }
      },
      "patch": {
        "operationId": "ServiceConfigurations_Update",
        "tags": [
          "ServiceConfigurationResources"
        ],
        "description": "Update the service details in the service configurations of the target resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceConfigurationName",
            "in": "path",
            "description": "The service name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "ServiceConfigurationResource",
            "in": "body",
            "description": "Service details",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceConfigurationResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ServiceConfigurationResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceConfigurationsPatchSSH": {
            "$ref": "./examples/ServiceConfigurations_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ServiceConfigurations_Delete",
        "tags": [
          "ServiceConfigurationResources"
        ],
        "description": "Deletes the service details to the target resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "The endpoint name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serviceConfigurationName",
            "in": "path",
            "description": "The service name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ServiceConfigurationsDeleteSSH": {
            "$ref": "./examples/ServiceConfigurations_Delete.json"
          }
        }
      }
    },
    "/providers/Microsoft.HybridConnectivity/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AADProfileProperties": {
      "type": "object",
      "description": "The AAD Profile",
      "properties": {
        "serverId": {
          "type": "string",
          "description": "The arc ingress gateway server app id."
        },
        "tenantId": {
          "type": "string",
          "description": "The target resource home tenant id."
        }
      },
      "required": [
        "serverId",
        "tenantId"
      ]
    },
    "EndpointAccessResource": {
      "type": "object",
      "description": "The endpoint access for the target resource.",
      "properties": {
        "relay": {
          "$ref": "#/definitions/RelayNamespaceAccessProperties",
          "description": "Azure relay hybrid connection access properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "EndpointProperties": {
      "type": "object",
      "description": "Endpoint details",
      "properties": {
        "type": {
          "$ref": "#/definitions/Type",
          "description": "The type of endpoint."
        },
        "resourceId": {
          "type": "string",
          "description": "The resource Id of the connectivity endpoint (optional)."
        },
        "provisioningState": {
          "type": "string",
          "description": "The resource provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "type"
      ]
    },
    "EndpointResource": {
      "type": "object",
      "description": "The endpoint for the target resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EndpointProperties",
          "description": "The endpoint properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "EndpointsList": {
      "type": "object",
      "description": "The list of endpoints.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of endpoint.",
          "items": {
            "$ref": "#/definitions/EndpointResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link used to get the next page of endpoints list."
        }
      },
      "required": [
        "value"
      ]
    },
    "IngressGatewayResource": {
      "type": "object",
      "description": "The ingress gateway access credentials",
      "properties": {
        "relay": {
          "$ref": "#/definitions/RelayNamespaceAccessProperties",
          "description": "Azure relay hybrid connection access properties",
          "x-ms-client-flatten": true
        },
        "ingress": {
          "$ref": "#/definitions/IngressProfileProperties",
          "description": "Ingress gateway profile",
          "x-ms-client-flatten": true
        }
      }
    },
    "IngressProfileProperties": {
      "type": "object",
      "description": "Ingress gateway profile",
      "properties": {
        "hostname": {
          "type": "string",
          "description": "The ingress hostname."
        },
        "aadProfile": {
          "$ref": "#/definitions/AADProfileProperties",
          "description": "The AAD Profile",
          "x-ms-client-flatten": true
        }
      },
      "required": [
        "hostname",
        "aadProfile"
      ]
    },
    "ListCredentialsRequest": {
      "type": "object",
      "description": "The details of the service for which credentials needs to be returned.",
      "properties": {
        "serviceName": {
          "$ref": "#/definitions/ServiceName",
          "description": "The name of the service. If not provided, the request will by pass the generation of service configuration token"
        }
      }
    },
    "ManagedProxyRequest": {
      "type": "object",
      "description": "Represent ManageProxy Request object.",
      "properties": {
        "service": {
          "type": "string",
          "description": "The name of the service."
        },
        "hostname": {
          "type": "string",
          "description": "The target host name."
        },
        "serviceName": {
          "$ref": "#/definitions/ServiceName",
          "description": "The name of the service. It is an optional property, if not provided, service configuration tokens issue code would be by passed."
        }
      },
      "required": [
        "service"
      ]
    },
    "ManagedProxyResource": {
      "type": "object",
      "description": "Managed Proxy",
      "properties": {
        "proxy": {
          "type": "string",
          "description": "The short lived proxy name."
        },
        "expiresOn": {
          "type": "integer",
          "format": "int64",
          "description": "The expiration time of short lived proxy name in unix epoch."
        }
      },
      "required": [
        "proxy",
        "expiresOn"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Updating",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded"
          },
          {
            "name": "Creating",
            "value": "Creating"
          },
          {
            "name": "Updating",
            "value": "Updating"
          },
          {
            "name": "Failed",
            "value": "Failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled"
          }
        ]
      },
      "readOnly": true
    },
    "RelayNamespaceAccessProperties": {
      "type": "object",
      "description": "Azure relay hybrid connection access properties",
      "properties": {
        "namespaceName": {
          "type": "string",
          "description": "The namespace name.",
          "minLength": 1,
          "maxLength": 200
        },
        "namespaceNameSuffix": {
          "type": "string",
          "description": "The suffix domain name of relay namespace.",
          "minLength": 1,
          "maxLength": 100
        },
        "hybridConnectionName": {
          "type": "string",
          "description": "Azure Relay hybrid connection name for the resource."
        },
        "accessKey": {
          "type": "string",
          "description": "Access key for hybrid connection.",
          "readOnly": true
        },
        "expiresOn": {
          "type": "integer",
          "format": "int64",
          "description": "The expiration of access key in unix time."
        },
        "serviceConfigurationToken": {
          "type": "string",
          "description": "The token to access the enabled service."
        }
      },
      "required": [
        "namespaceName",
        "namespaceNameSuffix",
        "hybridConnectionName"
      ]
    },
    "ServiceConfigurationList": {
      "type": "object",
      "description": "The paginated list of serviceConfigurations",
      "properties": {
        "value": {
          "type": "array",
          "description": "The list of service configuration",
          "items": {
            "$ref": "#/definitions/ServiceConfigurationResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to fetch the next page of connected cluster"
        }
      },
      "required": [
        "value"
      ]
    },
    "ServiceConfigurationProperties": {
      "type": "object",
      "description": "Service configuration details",
      "properties": {
        "serviceName": {
          "$ref": "#/definitions/ServiceName",
          "description": "Name of the service."
        },
        "resourceId": {
          "type": "string",
          "description": "The resource Id of the connectivity endpoint (optional)."
        },
        "port": {
          "type": "integer",
          "format": "int64",
          "description": "The port on which service is enabled."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The resource provisioning state.",
          "readOnly": true
        }
      },
      "required": [
        "serviceName"
      ]
    },
    "ServiceConfigurationPropertiesPatch": {
      "type": "object",
      "description": "Service configuration details",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int64",
          "description": "The port on which service is enabled."
        }
      }
    },
    "ServiceConfigurationResource": {
      "type": "object",
      "description": "The service configuration details associated with the target resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceConfigurationProperties",
          "description": "The service configuration properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ServiceConfigurationResourcePatch": {
      "type": "object",
      "description": "The service details under service configuration for the target endpoint resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServiceConfigurationPropertiesPatch",
          "description": "The service configuration properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "ServiceName": {
      "type": "string",
      "description": "Name of the service.",
      "enum": [
        "SSH",
        "WAC"
      ],
      "x-ms-enum": {
        "name": "ServiceName",
        "modelAsString": true,
        "values": [
          {
            "name": "SSH",
            "value": "SSH"
          },
          {
            "name": "WAC",
            "value": "WAC"
          }
        ]
      }
    },
    "Type": {
      "type": "string",
      "description": "The type of endpoint.",
      "enum": [
        "default",
        "custom"
      ],
      "x-ms-enum": {
        "name": "Type",
        "modelAsString": true,
        "values": [
          {
            "name": "default",
            "value": "default"
          },
          {
            "name": "custom",
            "value": "custom"
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.ResourceManager.ResourceUriParameter": {
      "name": "resourceUri",
      "in": "path",
      "description": "The fully qualified Azure Resource manager identifier of the resource.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "x-ms-skip-url-encoding": true
    }
  }
}
