{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.NexusIdentity management service",
    "version": "2024-02-15-preview",
    "description": "Microsoft.NexusIdentity Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "IdentityControllers"
    }
  ],
  "paths": {
    "/providers/Microsoft.NexusIdentity/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_Maximum": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_Minimum": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.NexusIdentity/identityControllers": {
      "get": {
        "operationId": "IdentityControllers_ListBySubscription",
        "tags": [
          "IdentityControllers"
        ],
        "description": "List IdentityController resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IdentityControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityControllers_ListBySubscription - generated by [MaximumSet] rule": {
            "$ref": "./examples/IdentityControllers_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NexusIdentity/identityControllers": {
      "get": {
        "operationId": "IdentityControllers_ListByResourceGroup",
        "tags": [
          "IdentityControllers"
        ],
        "description": "List IdentityController resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IdentityControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityControllers_ListByResourceGroup - generated by [MaximumSet] rule": {
            "$ref": "./examples/IdentityControllers_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.NexusIdentity/identityControllers/{name}": {
      "get": {
        "operationId": "IdentityControllers_Get",
        "tags": [
          "IdentityControllers"
        ],
        "description": "Get a IdentityController",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of IdentityController",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IdentityController"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityControllers_Get - generated by [MaximumSet] rule": {
            "$ref": "./examples/IdentityControllers_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "IdentityControllers_CreateOrUpdate",
        "tags": [
          "IdentityControllers"
        ],
        "description": "Create a IdentityController",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of IdentityController",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityController"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IdentityController' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IdentityController"
            }
          },
          "201": {
            "description": "Resource 'IdentityController' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IdentityController"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityControllers_CreateOrUpdate - generated by [MaximumSet] rule": {
            "$ref": "./examples/IdentityControllers_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "IdentityControllers_Update",
        "tags": [
          "IdentityControllers"
        ],
        "description": "Update a IdentityController",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of IdentityController",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityControllerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IdentityController"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityControllers_Update - generated by [MaximumSet] rule": {
            "$ref": "./examples/IdentityControllers_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "IdentityControllers_Delete",
        "tags": [
          "IdentityControllers"
        ],
        "description": "Delete a IdentityController",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of IdentityController",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "IdentityControllers_Delete_Max - generated by [MaximumSet] rule": {
            "$ref": "./examples/IdentityControllers_Delete_MaximumSet_Gen.json"
          },
          "IdentityControllers_Delete_Min": {
            "$ref": "./examples/IdentityControllers_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "IdentityController": {
      "type": "object",
      "description": "IdentityController resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IdentityControllerProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "IdentityControllerListResult": {
      "type": "object",
      "description": "The response of a IdentityController list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The IdentityController items on this page",
          "items": {
            "$ref": "#/definitions/IdentityController"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "IdentityControllerProperties": {
      "type": "object",
      "description": "IdentityController properties",
      "properties": {
        "onboardedApps": {
          "type": "array",
          "description": "List of onboarded apps for Nexus Identity",
          "items": {
            "$ref": "#/definitions/OnboardedApp"
          },
          "x-ms-identifiers": []
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "onboardedApps"
      ]
    },
    "IdentityControllerPropertiesUpdate": {
      "type": "object",
      "description": "IdentityController properties",
      "properties": {
        "onboardedApps": {
          "type": "array",
          "description": "List of onboarded apps for Nexus Identity",
          "items": {
            "$ref": "#/definitions/OnboardedApp"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "IdentityControllerUpdate": {
      "type": "object",
      "description": "IdentityController resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/IdentityControllerPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "OnboardedApp": {
      "type": "object",
      "description": "Onboarded app properties for Nexus Identity",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Tenant Id in which roles are to be watched"
        },
        "appId": {
          "type": "string",
          "description": "App Id which will create identity sets"
        },
        "appName": {
          "type": "string",
          "description": "App Name which will create identity sets"
        },
        "roleDefinitionIds": {
          "type": "array",
          "description": "Roles to be watched for identity sets. Role Definition Ids to be passed here \ne.g /providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "tenantId",
        "appId",
        "appName",
        "roleDefinitionIds"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The current provisioning state.",
      "enum": [
        "Accepted",
        "Succeeded",
        "Updating",
        "Deleting",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Accepted Provisioning State"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Succeeded Provisioning State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Updating Provisioning State"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Deleting Provisioning State"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Failed Provisioning State"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Canceled Provisioning State"
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
