{
    "swagger": "2.0",
    "info": {
        "title": "MicrosoftSerialConsoleClient",
        "version": "2018-05-01",
        "description": "Azure Virtual Machine Serial Console allows you to access serial console of a Virtual Machine"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/operations": {
            "get": {
                "tags": [
                    "SerialConsole"
                ],
                "operationId": "List_Operations",
                "description": "Gets a list of Serial Console API operations.",
                "x-ms-examples": {
                    "List all Serial Console management operations supported by Serial Console RP": {
                        "$ref": "./examples/GetOperationsExample.json"
                    }
                },
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - returns a JSON object",
                        "schema": {
                            "$ref": "#/definitions/SerialConsoleOperations"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/consoleServices/{default}": {
            "get": {
                "tags": [
                    "ConsoleDisabled"
                ],
                "operationId": "ListConsole_Disabled",
                "description": "Gets if Serial Console is disabled for a subscription.",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/default"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Returns a JSON object",
                        "schema": {
                            "$ref": "#/definitions/GetDisabledResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/DeploymentValidateResult"
                        }
                    }
                },
                "x-ms-examples": {
                    "Successfully get whether or not Serial Console is disabled": {
                        "$ref": "./examples/GetConsoleDisabledExamples.json"
                    },
                    "Get whether or not Serial Console is disabled and receive error": {
                        "$ref": "./examples/GetConsoleDisabledExamples.json"
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/providers/consoleServices/{default}/enableConsole": {
            "post": {
                "tags": [
                    "EnableConsole"
                ],
                "operationId": "Console_EnableConsole",
                "description": "Enables Serial Console for a VM",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/default"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Serial Console disabled",
                        "schema": {
                            "$ref": "#/definitions/SetDisabledResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/DeploymentValidateResult"
                        }
                    }
                },
                "x-ms-examples": {
                    "Enable console successfully": {
                        "$ref": "./examples/EnableConsoleExamples.json"
                    },
                    "Enable console with error": {
                        "$ref": "./examples/EnableConsoleExamples.json"
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.SerialConsole/providers/consoleServices/{default}/disableConsole": {
            "post": {
                "tags": [
                    "DisableConsole"
                ],
                "operationId": "Console_DisableConsole",
                "description": "Disables Serial Console for a VM",
                "parameters": [
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/default"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK - Serial Console disabled",
                        "schema": {
                            "$ref": "#/definitions/SetDisabledResult"
                        }
                    },
                    "default": {
                        "description": "Error response describing why the operation failed.",
                        "schema": {
                            "$ref": "#/definitions/DeploymentValidateResult"
                        }
                    }
                },
                "x-ms-examples": {
                    "Enable console successfully": {
                        "$ref": "./examples/DisableConsoleExamples.json"
                    },
                    "Disable console with error": {
                        "$ref": "./examples/DisableConsoleExamples.json"
                    }
                }
            }
        }
    },
    "definitions": {
        "SerialConsoleGetResult": {
            "title": "Serial Console GET Result",
            "description": "Returns whether or not Serial Console is disabled.",
            "properties": {
                "value": {
                    "description": "Whether or not Serial Console is disabled.",
                    "type": "boolean"
                }
            }
        },
        "GetDisabledResult": {
            "title": "Get Disabled result",
            "description": "Returns whether or not Serial Console is disabled for this given subscription",
            "properties": {
                "disabled": {
                    "description": "Disabled result",
                    "type": "boolean"
                }
            }
        },
        "SetDisabledResult": {
            "title": "Set Disabled result",
            "description": "Sets disable status and returns whether or not Serial Console is now disabled for this given subscription",
            "properties": {
                "disabled": {
                    "description": "Disabled result",
                    "type": "boolean"
                }
            }
        },
        "DeploymentValidateResult": {
            "title": "Details on Failure",
            "description": "Details on Failure",
            "properties": {
                "errorMessage": {
                    "description": "Error message",
                    "type": "string"
                }
            }
        },
        "SerialConsoleOperations": {
            "title": "Serial Console operations",
            "description": "Serial Console operations",
            "type": "object",
            "properties": {
                "value": {
                    "description": "Serial Console operations",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The ID of the target subscription."
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The API version to use for this operation."
        },
        "default" :{
            "name": "default",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Default string modeled as parameter for URL to work correctly.",
            "enum": [
                "default"
            ],
            "x-ms-parameter-location": "method"
        }
    }
}