{
  "swagger": "2.0",
  "info": {
    "title": "LogicManagementClient",
    "version": "2019-05-01",
    "description": "REST API for Azure Logic Apps.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Workflows"
    },
    {
      "name": "WorkflowVersions"
    },
    {
      "name": "WorkflowTriggers"
    },
    {
      "name": "WorkflowTriggerHistories"
    },
    {
      "name": "WorkflowRuns"
    },
    {
      "name": "WorkflowRunActions"
    },
    {
      "name": "WorkflowRunActionRepetitionDefinitions"
    },
    {
      "name": "RequestHistories"
    },
    {
      "name": "IntegrationAccounts"
    },
    {
      "name": "AssemblyDefinitions"
    },
    {
      "name": "BatchConfigurations"
    },
    {
      "name": "IntegrationAccountSchemas"
    },
    {
      "name": "IntegrationAccountMaps"
    },
    {
      "name": "IntegrationAccountPartners"
    },
    {
      "name": "IntegrationAccountAgreements"
    },
    {
      "name": "IntegrationAccountCertificates"
    },
    {
      "name": "IntegrationAccountSessions"
    },
    {
      "name": "IntegrationServiceEnvironments"
    },
    {
      "name": "ApiOperations"
    },
    {
      "name": "IntegrationServiceEnvironmentManagedApis"
    },
    {
      "name": "WorkflowsOperations"
    },
    {
      "name": "WorkflowRunsOperations"
    },
    {
      "name": "WorkflowRunActionRequestHistoriesOperations"
    },
    {
      "name": "WorkflowRunActionScopeRepetitionsOperations"
    },
    {
      "name": "WorkflowRunOperationsOperations"
    }
  ],
  "paths": {
    "/providers/Microsoft.Logic/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Microsoft.Logic operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationAccounts": {
      "get": {
        "operationId": "IntegrationAccounts_ListBySubscription",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets a list of integration accounts by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of items to be included in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List integration accounts by subscription": {
            "$ref": "./examples/IntegrationAccounts_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments": {
      "get": {
        "operationId": "IntegrationServiceEnvironments_ListBySubscription",
        "tags": [
          "IntegrationServiceEnvironments"
        ],
        "description": "Gets a list of integration service environments by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of items to be included in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironmentListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List integration service environments by subscription": {
            "$ref": "./examples/IntegrationServiceEnvironments_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}": {
      "get": {
        "operationId": "IntegrationServiceEnvironments_Get",
        "tags": [
          "IntegrationServiceEnvironments"
        ],
        "description": "Gets an integration service environment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get integration service environment by name": {
            "$ref": "./examples/IntegrationServiceEnvironments_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IntegrationServiceEnvironments_CreateOrUpdate",
        "tags": [
          "IntegrationServiceEnvironments"
        ],
        "description": "Creates or updates an integration service environment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The integration service environment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IntegrationServiceEnvironment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironment"
            }
          },
          "201": {
            "description": "Resource 'IntegrationServiceEnvironment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironment"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an integration service environment": {
            "$ref": "./examples/IntegrationServiceEnvironments_Put.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "IntegrationServiceEnvironments_Update",
        "tags": [
          "IntegrationServiceEnvironments"
        ],
        "description": "Updates an integration service environment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The integration service environment.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch an integration service environment": {
            "$ref": "./examples/IntegrationServiceEnvironments_Patch.json"
          }
        }
      },
      "delete": {
        "operationId": "IntegrationServiceEnvironments_Delete",
        "tags": [
          "IntegrationServiceEnvironments"
        ],
        "description": "Deletes an integration service environment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an integration account": {
            "$ref": "./examples/IntegrationServiceEnvironments_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis": {
      "get": {
        "operationId": "IntegrationServiceEnvironmentManagedApis_List",
        "tags": [
          "IntegrationServiceEnvironmentManagedApis"
        ],
        "description": "Gets the integration service environment managed Apis.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironmentManagedApiListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the integration service environment managed Apis": {
            "$ref": "./examples/IntegrationServiceEnvironments_ManagedApis_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis/{apiName}": {
      "get": {
        "operationId": "IntegrationServiceEnvironmentManagedApis_Get",
        "tags": [
          "IntegrationServiceEnvironmentManagedApis"
        ],
        "description": "Gets the integration service environment managed Api.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiName",
            "in": "path",
            "description": "The api name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironmentManagedApi"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the integration service environment managed Apis": {
            "$ref": "./examples/IntegrationServiceEnvironments_ManagedApis_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IntegrationServiceEnvironmentManagedApis_Put",
        "tags": [
          "IntegrationServiceEnvironmentManagedApis"
        ],
        "description": "Puts the integration service environment managed Api.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiName",
            "in": "path",
            "description": "The api name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The integration service environment managed api.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironmentManagedApi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IntegrationServiceEnvironmentManagedApi' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironmentManagedApi"
            }
          },
          "201": {
            "description": "Resource 'IntegrationServiceEnvironmentManagedApi' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironmentManagedApi"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the integration service environment managed Apis": {
            "$ref": "./examples/IntegrationServiceEnvironments_ManagedApis_Put.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "IntegrationServiceEnvironmentManagedApis_Delete",
        "tags": [
          "IntegrationServiceEnvironmentManagedApis"
        ],
        "description": "Deletes the integration service environment managed Api.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiName",
            "in": "path",
            "description": "The api name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes the integration service environment managed Apis": {
            "$ref": "./examples/IntegrationServiceEnvironments_ManagedApis_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis/{apiName}/apiOperations": {
      "get": {
        "operationId": "ApiOperations_List",
        "tags": [
          "ApiOperations"
        ],
        "description": "List ApiOperation resources by IntegrationServiceEnvironmentManagedApi",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "apiName",
            "in": "path",
            "description": "The api name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApiOperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/network": {
      "get": {
        "operationId": "IntegrationServiceEnvironments_IntegrationServiceEnvironmentNetworkHealthGet",
        "tags": [
          "IntegrationServiceEnvironments"
        ],
        "description": "Gets the integration service environment network health.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironmentNetworkHealth"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/restart": {
      "post": {
        "operationId": "IntegrationServiceEnvironments_Restart",
        "tags": [
          "IntegrationServiceEnvironments"
        ],
        "description": "Restarts an integration service environment.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Restarts an integration service environment": {
            "$ref": "./examples/IntegrationServiceEnvironments_Restart.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/skus": {
      "get": {
        "operationId": "IntegrationServiceEnvironments_List",
        "tags": [
          "IntegrationServiceEnvironments"
        ],
        "description": "Gets a list of integration service environment Skus.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "integrationServiceEnvironmentName",
            "in": "path",
            "description": "The integration service environment name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationServiceEnvironmentSkuList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/workflows": {
      "get": {
        "operationId": "Workflows_ListBySubscription",
        "tags": [
          "Workflows"
        ],
        "description": "Gets a list of workflows by subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of items to be included in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Options for filters include: State, Trigger, and ReferencedResourceId.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkflowListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all workflows in a subscription": {
            "$ref": "./examples/Workflows_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts": {
      "get": {
        "operationId": "IntegrationAccounts_ListByResourceGroup",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets a list of integration accounts by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of items to be included in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List integration accounts by resource group name": {
            "$ref": "./examples/IntegrationAccounts_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}": {
      "get": {
        "operationId": "IntegrationAccounts_Get",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get integration account by name": {
            "$ref": "./examples/IntegrationAccounts_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IntegrationAccounts_CreateOrUpdate",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Creates or updates an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The integration account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IntegrationAccount' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccount"
            }
          },
          "201": {
            "description": "Resource 'IntegrationAccount' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an integration account": {
            "$ref": "./examples/IntegrationAccounts_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "IntegrationAccounts_Update",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Updates an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The integration account.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccount"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch an integration account": {
            "$ref": "./examples/IntegrationAccounts_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "IntegrationAccounts_Delete",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Deletes an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an integration account": {
            "$ref": "./examples/IntegrationAccounts_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements": {
      "get": {
        "operationId": "IntegrationAccountAgreements_List",
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Gets a list of integration account agreements.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of items to be included in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Options for filters include: AgreementType.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreementListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get agreements by integration account name": {
            "$ref": "./examples/IntegrationAccountAgreements_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}": {
      "get": {
        "operationId": "IntegrationAccountAgreements_Get",
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Gets an integration account agreement.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "agreementName",
            "in": "path",
            "description": "The integration account agreement name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreement"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get agreement by name": {
            "$ref": "./examples/IntegrationAccountAgreements_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IntegrationAccountAgreements_CreateOrUpdate",
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Creates or updates an integration account agreement.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "agreementName",
            "in": "path",
            "description": "The integration account agreement name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The integration account agreement.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreement"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IntegrationAccountAgreement' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreement"
            }
          },
          "201": {
            "description": "Resource 'IntegrationAccountAgreement' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountAgreement"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an agreement": {
            "$ref": "./examples/IntegrationAccountAgreements_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "IntegrationAccountAgreements_Delete",
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Deletes an integration account agreement.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "agreementName",
            "in": "path",
            "description": "The integration account agreement name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an agreement": {
            "$ref": "./examples/IntegrationAccountAgreements_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/agreements/{agreementName}/listContentCallbackUrl": {
      "post": {
        "operationId": "IntegrationAccountAgreements_ListContentCallbackUrl",
        "tags": [
          "IntegrationAccountAgreements"
        ],
        "description": "Get the content callback url.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "agreementName",
            "in": "path",
            "description": "The integration account agreement name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCallbackUrlParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerCallbackUrl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the content callback url": {
            "$ref": "./examples/IntegrationAccountAgreements_ListContentCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies": {
      "get": {
        "operationId": "AssemblyDefinitions_List",
        "tags": [
          "AssemblyDefinitions"
        ],
        "description": "List the assemblies for an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssemblyCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies/{assemblyArtifactName}": {
      "get": {
        "operationId": "AssemblyDefinitions_Get",
        "tags": [
          "AssemblyDefinitions"
        ],
        "description": "Get an assembly for an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "assemblyArtifactName",
            "in": "path",
            "description": "The assembly artifact name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssemblyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "AssemblyDefinitions_CreateOrUpdate",
        "tags": [
          "AssemblyDefinitions"
        ],
        "description": "Create or update an assembly for an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "assemblyArtifactName",
            "in": "path",
            "description": "The assembly artifact name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The assembly artifact.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssemblyDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'AssemblyDefinition' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssemblyDefinition"
            }
          },
          "201": {
            "description": "Resource 'AssemblyDefinition' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/AssemblyDefinition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "AssemblyDefinitions_Delete",
        "tags": [
          "AssemblyDefinitions"
        ],
        "description": "Delete an assembly for an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "assemblyArtifactName",
            "in": "path",
            "description": "The assembly artifact name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/assemblies/{assemblyArtifactName}/listContentCallbackUrl": {
      "post": {
        "operationId": "AssemblyDefinitions_ListContentCallbackUrl",
        "tags": [
          "AssemblyDefinitions"
        ],
        "description": "Get the content callback url for an integration account assembly.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "assemblyArtifactName",
            "in": "path",
            "description": "The assembly artifact name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerCallbackUrl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations": {
      "get": {
        "operationId": "BatchConfigurations_List",
        "tags": [
          "BatchConfigurations"
        ],
        "description": "List the batch configurations for an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BatchConfigurationCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/batchConfigurations/{batchConfigurationName}": {
      "get": {
        "operationId": "BatchConfigurations_Get",
        "tags": [
          "BatchConfigurations"
        ],
        "description": "Get a batch configuration for an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "batchConfigurationName",
            "in": "path",
            "description": "The batch configuration name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BatchConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "BatchConfigurations_CreateOrUpdate",
        "tags": [
          "BatchConfigurations"
        ],
        "description": "Create or update a batch configuration for an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "batchConfigurationName",
            "in": "path",
            "description": "The batch configuration name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The batch configuration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'BatchConfiguration' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/BatchConfiguration"
            }
          },
          "201": {
            "description": "Resource 'BatchConfiguration' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/BatchConfiguration"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "BatchConfigurations_Delete",
        "tags": [
          "BatchConfigurations"
        ],
        "description": "Delete a batch configuration for an integration account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "batchConfigurationName",
            "in": "path",
            "description": "The batch configuration name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates": {
      "get": {
        "operationId": "IntegrationAccountCertificates_List",
        "tags": [
          "IntegrationAccountCertificates"
        ],
        "description": "Gets a list of integration account certificates.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of items to be included in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountCertificateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get certificates by integration account name": {
            "$ref": "./examples/IntegrationAccountCertificates_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/certificates/{certificateName}": {
      "get": {
        "operationId": "IntegrationAccountCertificates_Get",
        "tags": [
          "IntegrationAccountCertificates"
        ],
        "description": "Gets an integration account certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The integration account certificate name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountCertificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get certificate by name": {
            "$ref": "./examples/IntegrationAccountCertificates_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IntegrationAccountCertificates_CreateOrUpdate",
        "tags": [
          "IntegrationAccountCertificates"
        ],
        "description": "Creates or updates an integration account certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The integration account certificate name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The integration account certificate.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationAccountCertificate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IntegrationAccountCertificate' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountCertificate"
            }
          },
          "201": {
            "description": "Resource 'IntegrationAccountCertificate' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountCertificate"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a certificate": {
            "$ref": "./examples/IntegrationAccountCertificates_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "IntegrationAccountCertificates_Delete",
        "tags": [
          "IntegrationAccountCertificates"
        ],
        "description": "Deletes an integration account certificate.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateName",
            "in": "path",
            "description": "The integration account certificate name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a certificate": {
            "$ref": "./examples/IntegrationAccountCertificates_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listCallbackUrl": {
      "post": {
        "operationId": "IntegrationAccounts_ListCallbackUrl",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets the integration account callback URL.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The callback URL parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCallbackUrlParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CallbackUrl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List IntegrationAccount callback URL": {
            "$ref": "./examples/IntegrationAccounts_ListCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/listKeyVaultKeys": {
      "post": {
        "operationId": "IntegrationAccounts_ListKeyVaultKeys",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Gets the integration account's Key Vault keys.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The key vault parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListKeyVaultKeysDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KeyVaultKeyCollection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Integration Account callback URL": {
            "$ref": "./examples/IntegrationAccounts_ListKeyVaultKeys.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/logTrackingEvents": {
      "post": {
        "operationId": "IntegrationAccounts_LogTrackingEvents",
        "tags": [
          "IntegrationAccounts"
        ],
        "description": "Logs the integration account's tracking events.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The callback URL parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrackingEventsDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Log a tracked event": {
            "$ref": "./examples/IntegrationAccounts_LogTrackingEvents.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps": {
      "get": {
        "operationId": "IntegrationAccountMaps_List",
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Gets a list of integration account maps.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of items to be included in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Options for filters include: MapType.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountMapListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get maps by integration account name": {
            "$ref": "./examples/IntegrationAccountMaps_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}": {
      "get": {
        "operationId": "IntegrationAccountMaps_Get",
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Gets an integration account map.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "The integration account map name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get map by name": {
            "$ref": "./examples/IntegrationAccountMaps_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IntegrationAccountMaps_CreateOrUpdate",
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Creates or updates an integration account map. If the map is larger than 4 MB, you need to store the map in an Azure blob and use the blob's Shared Access Signature (SAS) URL as the 'contentLink' property value.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "The integration account map name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The integration account map.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationAccountMap"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IntegrationAccountMap' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountMap"
            }
          },
          "201": {
            "description": "Resource 'IntegrationAccountMap' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountMap"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a map": {
            "$ref": "./examples/IntegrationAccountMaps_CreateOrUpdate.json"
          },
          "Create or update a map larger than 4 MB": {
            "$ref": "./examples/IntegrationAccountLargeMaps_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "IntegrationAccountMaps_Delete",
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Deletes an integration account map.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "The integration account map name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a map": {
            "$ref": "./examples/IntegrationAccountMaps_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/maps/{mapName}/listContentCallbackUrl": {
      "post": {
        "operationId": "IntegrationAccountMaps_ListContentCallbackUrl",
        "tags": [
          "IntegrationAccountMaps"
        ],
        "description": "Get the content callback url.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "The integration account map name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetCallbackUrlParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkflowTriggerCallbackUrl"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the content callback url": {
            "$ref": "./examples/IntegrationAccountMaps_ListContentCallbackUrl.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners": {
      "get": {
        "operationId": "IntegrationAccountPartners_List",
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Gets a list of integration account partners.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "The number of items to be included in the result.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The filter to apply on the operation. Options for filters include: PartnerType.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountPartnerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get partners by integration account name": {
            "$ref": "./examples/IntegrationAccountPartners_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}": {
      "get": {
        "operationId": "IntegrationAccountPartners_Get",
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Gets an integration account partner.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partnerName",
            "in": "path",
            "description": "The integration account partner name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountPartner"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get partner by name": {
            "$ref": "./examples/IntegrationAccountPartners_Get.json"
          }
        }
      },
      "put": {
        "operationId": "IntegrationAccountPartners_CreateOrUpdate",
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Creates or updates an integration account partner.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partnerName",
            "in": "path",
            "description": "The integration account partner name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The integration account partner.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IntegrationAccountPartner"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'IntegrationAccountPartner' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountPartner"
            }
          },
          "201": {
            "description": "Resource 'IntegrationAccountPartner' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/IntegrationAccountPartner"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a partner": {
            "$ref": "./examples/IntegrationAccountPartners_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "IntegrationAccountPartners_Delete",
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Deletes an integration account partner.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "integrationAccountName",
            "in": "path",
            "description": "The integration account name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "partnerName",
            "in": "path",
            "description": "The integration account partner name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a partner": {
            "$ref": "./examples/IntegrationAccountPartners_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/integrationAccounts/{integrationAccountName}/partners/{partnerName}/listContentCallbackUrl": {
      "post": {
        "operationId": "IntegrationAccountPartners_ListContentCallbackUrl",
        "tags": [
          "IntegrationAccountPartners"
        ],
        "description": "Get the content callback url.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
[...]
