{
  "swagger": "2.0",
  "info": {
    "title": "PeeringManagementClient",
    "version": "2022-10-01",
    "description": "Peering Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "PeerAsns"
    },
    {
      "name": "PeeringRegisteredAsns"
    },
    {
      "name": "Peerings"
    },
    {
      "name": "PeeringRegisteredPrefixes"
    },
    {
      "name": "ConnectionMonitorTests"
    },
    {
      "name": "PeeringServices"
    },
    {
      "name": "PeeringServicePrefixes"
    }
  ],
  "paths": {
    "/providers/Microsoft.Peering/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/cdnPeeringPrefixes": {
      "get": {
        "operationId": "CdnPeeringPrefixesOperations_List",
        "description": "Lists all of the advertised prefixes for the specified peering location",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "peeringLocation",
            "in": "query",
            "description": "The peering location.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedCdnPeeringPrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/checkServiceProviderAvailability": {
      "post": {
        "operationId": "CheckServiceProviderAvailability",
        "description": "Checks if the peering service provider is present within 1000 miles of customer's location",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "checkServiceProviderAvailabilityInput",
            "in": "body",
            "description": "The CheckServiceProviderAvailabilityInput indicating customer location and service provider.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckServiceProviderAvailabilityInput"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/legacyPeerings": {
      "get": {
        "operationId": "LegacyPeeringsOperations_List",
        "description": "Lists all of the legacy peerings under the given subscription matching the specified kind and location.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "peeringLocation",
            "in": "query",
            "description": "The location of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "The kind of the peering.",
            "required": true,
            "type": "string",
            "enum": [
              "Direct",
              "Exchange"
            ],
            "x-ms-enum": {
              "name": "LegacyPeeringsKind",
              "modelAsString": true
            }
          },
          {
            "name": "asn",
            "in": "query",
            "description": "The ASN number associated with a legacy peering.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "directPeeringType",
            "in": "query",
            "description": "The direct peering type.",
            "required": false,
            "type": "string",
            "enum": [
              "Edge",
              "Transit",
              "Cdn",
              "Internal",
              "Ix",
              "IxRs",
              "Voice",
              "EdgeZoneForOperators"
            ],
            "x-ms-enum": {
              "name": "DirectPeeringType",
              "modelAsString": true
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PeeringListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/lookingGlass": {
      "post": {
        "operationId": "LookingGlassOperations_Invoke",
        "description": "Run looking glass functionality",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "command",
            "in": "query",
            "description": "The command to be executed: ping, traceroute, bgpRoute.",
            "required": true,
            "type": "string",
            "enum": [
              "Traceroute",
              "Ping",
              "BgpRoute"
            ],
            "x-ms-enum": {
              "name": "LookingGlassCommand",
              "modelAsString": true
            }
          },
          {
            "name": "sourceType",
            "in": "query",
            "description": "The type of the source: Edge site or Azure Region.",
            "required": true,
            "type": "string",
            "enum": [
              "EdgeSite",
              "AzureRegion"
            ],
            "x-ms-enum": {
              "name": "LookingGlassSourceType",
              "modelAsString": true
            }
          },
          {
            "name": "sourceLocation",
            "in": "query",
            "description": "The location of the source.",
            "required": true,
            "type": "string"
          },
          {
            "name": "destinationIP",
            "in": "query",
            "description": "The IP address of the destination.",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/LookingGlassOutput"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns": {
      "get": {
        "operationId": "PeerAsns_ListBySubscription",
        "tags": [
          "PeerAsns"
        ],
        "description": "Lists all of the peer ASNs under the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeerAsnListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List peer ASNs in a subscription": {
            "$ref": "./examples/PeerAsns_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerAsns/{peerAsnName}": {
      "get": {
        "operationId": "PeerAsns_Get",
        "tags": [
          "PeerAsns"
        ],
        "description": "Gets the peer ASN with the specified name under the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "peerAsnName",
            "in": "path",
            "description": "The peer ASN name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeerAsn"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a peer ASN": {
            "$ref": "./examples/PeerAsns_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PeerAsns_CreateOrUpdate",
        "tags": [
          "PeerAsns"
        ],
        "description": "Creates a new peer ASN or updates an existing peer ASN with the specified name under the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "peerAsnName",
            "in": "path",
            "description": "The peer ASN name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peerAsn",
            "in": "body",
            "description": "The peer ASN.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeerAsn"
            },
            "x-ms-client-name": "peerAsn"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PeerAsn' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeerAsn"
            }
          },
          "201": {
            "description": "Resource 'PeerAsn' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeerAsn"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a peer ASN": {
            "$ref": "./examples/PeerAsns_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "PeerAsns_Delete",
        "tags": [
          "PeerAsns"
        ],
        "description": "Deletes an existing peer ASN with the specified name under the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "peerAsnName",
            "in": "path",
            "description": "The peer ASN name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a peer ASN": {
            "$ref": "./examples/PeerAsns_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringLocations": {
      "get": {
        "operationId": "PeeringLocationsOperations_List",
        "description": "Lists all of the available peering locations for the specified kind of peering.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "kind",
            "in": "query",
            "description": "The kind of the peering.",
            "required": true,
            "type": "string",
            "enum": [
              "Direct",
              "Exchange"
            ],
            "x-ms-enum": {
              "name": "PeeringLocationsKind",
              "modelAsString": true
            }
          },
          {
            "name": "directPeeringType",
            "in": "query",
            "description": "The type of direct peering.",
            "required": false,
            "type": "string",
            "enum": [
              "Edge",
              "Transit",
              "Cdn",
              "Internal",
              "Ix",
              "IxRs",
              "Voice",
              "EdgeZoneForOperators"
            ],
            "x-ms-enum": {
              "name": "PeeringLocationsDirectPeeringType",
              "modelAsString": true
            }
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedPeeringLocation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceCountries": {
      "get": {
        "operationId": "PeeringServiceCountriesOperations_List",
        "description": "Lists all of the available countries for peering service.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedPeeringServiceCountry"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceLocations": {
      "get": {
        "operationId": "PeeringServiceLocationsOperations_List",
        "description": "Lists all of the available locations for peering service.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "country",
            "in": "query",
            "description": "The country of interest, in which the locations are to be present.",
            "required": false,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedPeeringServiceLocation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServiceProviders": {
      "get": {
        "operationId": "PeeringServiceProvidersOperations_List",
        "description": "Lists all of the available peering service locations for the specified kind of peering.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedPeeringServiceProvider"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peeringServices": {
      "get": {
        "operationId": "PeeringServices_ListBySubscription",
        "tags": [
          "PeeringServices"
        ],
        "description": "Lists all of the peerings under the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List peering services in a subscription": {
            "$ref": "./examples/PeeringServices_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Peering/peerings": {
      "get": {
        "operationId": "Peerings_ListBySubscription",
        "tags": [
          "Peerings"
        ],
        "description": "Lists all of the peerings under the given subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List peerings in a subscription": {
            "$ref": "./examples/Peerings_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices": {
      "get": {
        "operationId": "PeeringServices_ListByResourceGroup",
        "tags": [
          "PeeringServices"
        ],
        "description": "Lists all of the peering services under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List peering services in a resource group": {
            "$ref": "./examples/PeeringServices_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}": {
      "get": {
        "operationId": "PeeringServices_Get",
        "tags": [
          "PeeringServices"
        ],
        "description": "Gets an existing peering service with the specified name under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a peering service": {
            "$ref": "./examples/PeeringServices_Get.json"
          }
        }
      },
      "put": {
        "operationId": "PeeringServices_CreateOrUpdate",
        "tags": [
          "PeeringServices"
        ],
        "description": "Creates a new peering service or updates an existing peering with the specified name under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peeringService",
            "in": "body",
            "description": "The properties needed to create or update a peering service.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeeringService"
            },
            "x-ms-client-name": "peeringService"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PeeringService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          "201": {
            "description": "Resource 'PeeringService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a  peering service": {
            "$ref": "./examples/PeeringServices_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "PeeringServices_Update",
        "tags": [
          "PeeringServices"
        ],
        "description": "Updates tags for a peering service with the specified name under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "body",
            "description": "The resource tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Paths3702DwSubscriptionsSubscriptionidResourcegroupsResourcegroupnameProvidersMicrosoftPeeringPeeringservicesPeeringservicenamePatchRequestbodyContentApplicationJsonSchema"
            },
            "x-ms-client-name": "tags"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update peering service tags": {
            "$ref": "./examples/PeeringServices_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "PeeringServices_Delete",
        "tags": [
          "PeeringServices"
        ],
        "description": "Deletes an existing peering service with the specified name under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a peering service": {
            "$ref": "./examples/PeeringServices_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/connectionMonitorTests": {
      "get": {
        "operationId": "ConnectionMonitorTests_ListByPeeringService",
        "tags": [
          "ConnectionMonitorTests"
        ],
        "description": "Lists all connection monitor tests under the given subscription, resource group and peering service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionMonitorTestListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all Connection Monitor Tests associated with the peering service": {
            "$ref": "./examples/ConnectionMonitorTests_ListByPeeringService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/connectionMonitorTests/{connectionMonitorTestName}": {
      "get": {
        "operationId": "ConnectionMonitorTests_Get",
        "tags": [
          "ConnectionMonitorTests"
        ],
        "description": "Gets an existing connection monitor test with the specified name under the given subscription, resource group and peering service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionMonitorTestName",
            "in": "path",
            "description": "The name of the connection monitor test",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ConnectionMonitorTest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Connection Monitor Test": {
            "$ref": "./examples/ConnectionMonitorTests_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ConnectionMonitorTests_CreateOrUpdate",
        "tags": [
          "ConnectionMonitorTests"
        ],
        "description": "Creates or updates a connection monitor test with the specified name under the given subscription, resource group and peering service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionMonitorTestName",
            "in": "path",
            "description": "The name of the connection monitor test",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionMonitorTest",
            "in": "body",
            "description": "The properties needed to create a connection monitor test",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectionMonitorTest"
            },
            "x-ms-client-name": "connectionMonitorTest"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ConnectionMonitorTest' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionMonitorTest"
            }
          },
          "201": {
            "description": "Resource 'ConnectionMonitorTest' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ConnectionMonitorTest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update Connection Monitor Test": {
            "$ref": "./examples/ConnectionMonitorTests_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "ConnectionMonitorTests_Delete",
        "tags": [
          "ConnectionMonitorTests"
        ],
        "description": "Deletes an existing connection monitor test with the specified name under the given subscription, resource group and peering service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "connectionMonitorTestName",
            "in": "path",
            "description": "The name of the connection monitor test",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Connection Monitor Test": {
            "$ref": "./examples/ConnectionMonitorTests_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes": {
      "get": {
        "operationId": "Prefixes_ListByPeeringService",
        "tags": [
          "PeeringServicePrefixes"
        ],
        "description": "Lists all prefixes under the given subscription, resource group and peering service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The properties to be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefixListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all the prefixes associated with the peering service": {
            "$ref": "./examples/Prefixes_ListByPeeringService.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peeringServices/{peeringServiceName}/prefixes/{prefixName}": {
      "get": {
        "operationId": "Prefixes_Get",
        "tags": [
          "PeeringServicePrefixes"
        ],
        "description": "Gets an existing prefix with the specified name under the given subscription, resource group and peering service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The properties to be expanded.",
            "required": false,
            "type": "string"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prefixName",
            "in": "path",
            "description": "The name of the prefix.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a prefix associated with the peering service": {
            "$ref": "./examples/Prefixes_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Prefixes_CreateOrUpdate",
        "tags": [
          "PeeringServicePrefixes"
        ],
        "description": "Creates a new prefix with the specified name under the given subscription, resource group and peering service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prefixName",
            "in": "path",
            "description": "The name of the prefix.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peeringServicePrefix",
            "in": "body",
            "description": "The properties needed to create a prefix.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefix"
            },
            "x-ms-client-name": "peeringServicePrefix"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PeeringServicePrefix' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefix"
            }
          },
          "201": {
            "description": "Resource 'PeeringServicePrefix' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringServicePrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a prefix for the peering service": {
            "$ref": "./examples/Prefixes_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Prefixes_Delete",
        "tags": [
          "PeeringServicePrefixes"
        ],
        "description": "Deletes an existing prefix with the specified name under the given subscription, resource group and peering service.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringServiceName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prefixName",
            "in": "path",
            "description": "The name of the prefix.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a prefix associated with the peering service": {
            "$ref": "./examples/Prefixes_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings": {
      "get": {
        "operationId": "Peerings_ListByResourceGroup",
        "tags": [
          "Peerings"
        ],
        "description": "Lists all of the peerings under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List peerings in a resource group": {
            "$ref": "./examples/Peerings_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}": {
      "get": {
        "operationId": "Peerings_Get",
        "tags": [
          "Peerings"
        ],
        "description": "Gets an existing peering with the specified name under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a peering": {
            "$ref": "./examples/Peerings_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Peerings_CreateOrUpdate",
        "tags": [
          "Peerings"
        ],
        "description": "Creates a new peering or updates an existing peering with the specified name under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peering",
            "in": "body",
            "description": "The properties needed to create or update a peering.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Peering"
            },
            "x-ms-client-name": "peering"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Peering' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          "201": {
            "description": "Resource 'Peering' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a direct peering": {
            "$ref": "./examples/Peerings_CreateOrUpdate_Create_A_Direct_Peering.json"
          },
          "Create a peering with exchange route server": {
            "$ref": "./examples/Peerings_CreateOrUpdate_Create_A_Peering_With_Exchange_Route_Server.json"
          },
          "Create an exchange peering": {
            "$ref": "./examples/Peerings_CreateOrUpdate_Create_An_Exchange_Peering.json"
          }
        }
      },
      "patch": {
        "operationId": "Peerings_Update",
        "tags": [
          "Peerings"
        ],
        "description": "Updates tags for a peering with the specified name under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "body",
            "description": "The resource tags.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Paths1Sywd6ZSubscriptionsSubscriptionidResourcegroupsResourcegroupnameProvidersMicrosoftPeeringPeeringsPeeringnamePatchRequestbodyContentApplicationJsonSchema"
            },
            "x-ms-client-name": "tags"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Peering"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update peering tags": {
            "$ref": "./examples/Peerings_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Peerings_Delete",
        "tags": [
          "Peerings"
        ],
        "description": "Deletes an existing peering with the specified name under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a peering": {
            "$ref": "./examples/Peerings_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/receivedRoutes/{resourceGroupName}/{peeringName}/{subscriptionId}": {
      "get": {
        "operationId": "ReceivedRoutes_ListByPeering",
        "tags": [
          "Peerings"
        ],
        "description": "Lists the prefixes received over the specified peering under the given subscription and resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prefix",
            "in": "query",
            "description": "The optional prefix that can be used to filter the routes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "asPath",
            "in": "query",
            "description": "The optional AS path that can be used to filter the routes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "originAsValidationState",
            "in": "query",
            "description": "The optional origin AS validation state that can be used to filter the routes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "rpkiValidationState",
            "in": "query",
            "description": "The optional RPKI validation state that can be used to filter the routes.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "The optional page continuation token that is used in the event of paginated result.",
            "required": false,
            "type": "string"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedPeeringReceivedRoute"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "Lists the prefixes received over the specified peering under the given subscription and resource group.": {
            "$ref": "./examples/ReceivedRoutes_ListByPeering.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredAsns": {
      "get": {
        "operationId": "RegisteredAsns_ListByPeering",
        "tags": [
          "PeeringRegisteredAsns"
        ],
        "description": "Lists all registered ASNs under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredAsnListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all the registered ASNs associated with the peering": {
            "$ref": "./examples/RegisteredAsns_ListByPeering.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredAsns/{registeredAsnName}": {
      "get": {
        "operationId": "RegisteredAsns_Get",
        "tags": [
          "PeeringRegisteredAsns"
        ],
        "description": "Gets an existing registered ASN with the specified name under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredAsnName",
            "in": "path",
            "description": "The name of the registered ASN.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredAsn"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a registered ASN associated with the peering": {
            "$ref": "./examples/RegisteredAsns_Get.json"
          }
        }
      },
      "put": {
        "operationId": "RegisteredAsns_CreateOrUpdate",
        "tags": [
          "PeeringRegisteredAsns"
        ],
        "description": "Creates a new registered ASN with the specified name under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredAsnName",
            "in": "path",
            "description": "The name of the registered ASN.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredAsn",
            "in": "body",
            "description": "The properties needed to create a registered ASN.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredAsn"
            },
            "x-ms-client-name": "registeredAsn"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PeeringRegisteredAsn' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredAsn"
            }
          },
          "201": {
            "description": "Resource 'PeeringRegisteredAsn' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredAsn"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a registered ASN for the peering": {
            "$ref": "./examples/RegisteredAsns_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "RegisteredAsns_Delete",
        "tags": [
          "PeeringRegisteredAsns"
        ],
        "description": "Deletes an existing registered ASN with the specified name under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredAsnName",
            "in": "path",
            "description": "The name of the registered ASN.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a registered ASN associated with the peering": {
            "$ref": "./examples/RegisteredAsns_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes": {
      "get": {
        "operationId": "RegisteredPrefixes_ListByPeering",
        "tags": [
          "PeeringRegisteredPrefixes"
        ],
        "description": "Lists all registered prefixes under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredPrefixListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all the registered prefixes associated with the peering": {
            "$ref": "./examples/RegisteredPrefixes_ListByPeering.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}": {
      "get": {
        "operationId": "RegisteredPrefixes_Get",
        "tags": [
          "PeeringRegisteredPrefixes"
        ],
        "description": "Gets an existing registered prefix with the specified name under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredPrefixName",
            "in": "path",
            "description": "The name of the registered prefix.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredPrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a registered prefix associated with the peering": {
            "$ref": "./examples/RegisteredPrefixes_Get.json"
          }
        }
      },
      "put": {
        "operationId": "RegisteredPrefixes_CreateOrUpdate",
        "tags": [
          "PeeringRegisteredPrefixes"
        ],
        "description": "Creates a new registered prefix with the specified name under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredPrefixName",
            "in": "path",
            "description": "The name of the registered prefix.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredPrefix",
            "in": "body",
            "description": "The properties needed to create a registered prefix.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredPrefix"
            },
            "x-ms-client-name": "registeredPrefix"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PeeringRegisteredPrefix' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredPrefix"
            }
          },
          "201": {
            "description": "Resource 'PeeringRegisteredPrefix' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredPrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a registered prefix for the peering": {
            "$ref": "./examples/RegisteredPrefixes_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "RegisteredPrefixes_Delete",
        "tags": [
          "PeeringRegisteredPrefixes"
        ],
        "description": "Deletes an existing registered prefix with the specified name under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredPrefixName",
            "in": "path",
            "description": "The name of the registered prefix.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a registered prefix associated with the peering": {
            "$ref": "./examples/RegisteredPrefixes_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/registeredPrefixes/{registeredPrefixName}/validate": {
      "post": {
        "operationId": "RegisteredPrefixes_Validate",
        "tags": [
          "PeeringRegisteredPrefixes"
        ],
        "description": "Validates an existing registered prefix with the specified name under the given subscription, resource group and peering.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The name of the peering.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registeredPrefixName",
            "in": "path",
            "description": "The name of the registered prefix.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PeeringRegisteredPrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate a registered prefix associated with the peering": {
            "$ref": "./examples/RegisteredPrefixes_Validate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/rpUnbilledPrefixes/{resourceGroupName}/{peeringName}/{subscriptionId}": {
      "get": {
        "operationId": "RpUnbilledPrefixes_List",
        "tags": [
          "Peerings"
        ],
        "description": "Lists all of the RP unbilled prefixes for the specified peering",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The Azure resource group name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "peeringName",
            "in": "path",
            "description": "The peering name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "consolidate",
            "in": "query",
            "description": "Flag to enable consolidation prefixes",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The Azure subscription ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedRpUnbilledPrefix"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "List all the RP unbilled prefixes advertised at a particular peering location": {
            "$ref": "./examples/RpUnbilledPrefixes_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "BgpSession": {
      "type": "object",
      "description": "The properties that define a BGP session.",
      "properties": {
        "sessionPrefixV4": {
          "type": "string",
          "description": "The IPv4 prefix that contains both ends' IPv4 addresses."
        },
        "sessionPrefixV6": {
          "type": "string",
          "description": "The IPv6 prefix that contains both ends' IPv6 addresses."
        },
        "microsoftSessionIPv4Address": {
          "type": "string",
          "description": "The IPv4 session address on Microsoft's end."
        },
        "microsoftSessionIPv6Address": {
          "type": "string",
          "description": "The IPv6 session address on Microsoft's end."
        },
        "peerSessionIPv4Address": {
          "type": "string",
          "description": "The IPv4 session address on peer's end."
        },
        "peerSessionIPv6Address": {
          "type": "string",
          "description": "The IPv6 session address on peer's end."
        },
        "sessionStateV4": {
          "$ref": "#/definitions/SessionStateV4",
          "description": "The state of the IPv4 session.",
          "readOnly": true
        },
        "sessionStateV6": {
          "$ref": "#/definitions/SessionStateV6",
          "description": "The state of the IPv6 session.",
          "readOnly": true
        },
        "maxPrefixesAdvertisedV4": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of prefixes advertised over the IPv4 session."
        },
        "maxPrefixesAdvertisedV6": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of prefixes advertised over the IPv6 session."
        },
        "md5AuthenticationKey": {
          "type": "string",
          "description": "The MD5 authentication key of the session."
        }
      }
    },
    "CdnPeeringPrefix": {
      "type": "object",
      "description": "The CDN peering prefix",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CdnPeeringPrefixProperties",
          "description": "The properties that define a cdn peering prefix."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "CdnPeeringPrefixProperties": {
      "type": "object",
      "description": "The properties that define a CDN peering prefix",
      "properties": {
        "prefix": {
          "type": "string",
          "description": "The prefix.",
          "readOnly": true
        },
        "azureRegion": {
          "type": "string",
          "description": "The Azure region.",
          "readOnly": true
        },
        "azureService": {
          "type": "string",
          "description": "The Azure service.",
          "readOnly": true
        },
        "isPrimaryRegion": {
          "type": "boolean",
          "description": "The flag that indicates whether or not this is the primary region.",
          "readOnly": true
        },
        "bgpCommunity": {
          "type": "string",
          "description": "The BGP Community",
          "readOnly": true
        }
      }
    },
    "CheckServiceProviderAvailabilityInput": {
      "type": "object",
      "description": "Class for CheckServiceProviderAvailabilityInput",
      "properties": {
        "peeringServiceLocation": {
          "type": "string",
          "description": "Gets or sets the peering service location."
        },
        "peeringServiceProvider": {
          "type": "string",
          "description": "Gets or sets the peering service provider."
        }
      }
    },
    "Command": {
      "type": "string",
      "description": "Invoked command",
      "enum": [
        "Traceroute",
        "Ping",
        "BgpRoute"
      ],
      "x-ms-enum": {
        "name": "Command",
        "modelAsString": true
      }
    },
    "ConnectionMonitorTest": {
      "type": "object",
      "description": "The Connection Monitor Test class.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ConnectionMonitorTestProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ConnectionMonitorTestListResult": {
      "type": "object",
      "description": "The response of a ConnectionMonitorTest list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ConnectionMonitorTest items on this page",
          "items": {
            "$ref": "#/definitions/ConnectionMonitorTest"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ConnectionMonitorTestProperties": {
      "type": "object",
      "description": "The properties that define a Connection Monitor Test.",
      "properties": {
        "sourceAgent": {
          "type": "string",
          "description": "The Connection Monitor test source agent"
        },
        "destination": {
          "type": "string",
          "description": "The Connection Monitor test destination"
        },
        "destinationPort": {
          "type": "integer",
          "format": "int32",
          "description": "The Connection Monitor test destination port"
        },
        "testFrequencyInSec": {
          "type": "integer",
          "format": "int32",
          "description": "The Connection Monitor test frequency in seconds"
        },
        "isTestSuccessful": {
          "type": "boolean",
          "description": "The flag that indicates if the Connection Monitor test is successful or not.",
          "readOnly": true
        },
        "path": {
          "type": "array",
          "description": "The path representing the Connection Monitor test.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        }
      }
    },
    "ConnectionState": {
      "type": "string",
      "description": "The state of the connection.",
      "enum": [
        "None",
        "PendingApproval",
        "Approved",
        "ProvisioningStarted",
        "ProvisioningFailed",
        "ProvisioningCompleted",
        "Validating",
        "Active",
        "TypeChangeRequested",
        "TypeChangeInProgress"
      ],
      "x-ms-enum": {
        "name": "ConnectionState",
        "modelAsString": true
      }
    },
    "ContactDetail": {
      "type": "object",
      "description": "The contact detail class.",
      "properties": {
        "role": {
          "$ref": "#/definitions/Role",
          "description": "The role of the contact."
        },
        "email": {
          "type": "string",
          "description": "The e-mail address of the contact."
        },
        "phone": {
          "type": "string",
          "description": "The phone number of the contact."
        }
      }
    },
    "DirectConnection": {
      "type": "object",
      "description": "The properties that define a direct connection.",
      "properties": {
        "bandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "The bandwidth of the connection."
        },
        "provisionedBandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "The bandwidth that is actually provisioned.",
          "readOnly": true
        },
        "sessionAddressProvider": {
          "$ref": "#/definitions/SessionAddressProvider",
          "description": "The field indicating if Microsoft provides session ip addresses."
        },
        "useForPeeringService": {
          "type": "boolean",
          "description": "The flag that indicates whether or not the connection is used for peering service."
        },
        "microsoftTrackingId": {
          "type": "string",
          "description": "The ID used within Microsoft's peering provisioning system to track the connection",
          "readOnly": true
        },
        "peeringDBFacilityId": {
          "type": "integer",
          "format": "int32",
          "description": "The PeeringDB.com ID of the facility at which the connection has to be set up."
        },
        "connectionState": {
          "$ref": "#/definitions/ConnectionState",
          "description": "The state of the connection.",
          "readOnly": true
        },
        "bgpSession": {
          "$ref": "#/definitions/BgpSession",
          "description": "The BGP session associated with the connection."
        },
        "connectionIdentifier": {
          "type": "string",
          "description": "The unique identifier (GUID) for the connection."
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message related to the connection state, if any.",
          "readOnly": true
        }
      }
    },
    "DirectPeeringFacility": {
      "type": "object",
      "description": "The properties that define a direct peering facility.",
      "properties": {
        "address": {
          "type": "string",
          "description": "The address of the direct peering facility."
        },
        "directPeeringType": {
          "$ref": "#/definitions/DirectPeeringType",
          "description": "The type of the direct peering."
        },
        "peeringDBFacilityId": {
          "type": "integer",
          "format": "int32",
          "description": "The PeeringDB.com ID of the facility."
        },
        "peeringDBFacilityLink": {
          "type": "string",
          "description": "The PeeringDB.com URL of the facility."
        }
      }
    },
    "DirectPeeringType": {
      "type": "string",
      "description": "The type of direct peering.",
      "enum": [
        "Edge",
        "Transit",
        "Cdn",
        "Internal",
        "Ix",
        "IxRs",
        "Voice",
        "EdgeZoneForOperators"
      ],
      "x-ms-enum": {
        "name": "DirectPeeringType",
        "modelAsString": true
      }
    },
    "ExchangeConnection": {
      "type": "object",
      "description": "The properties that define an exchange connection.",
      "properties": {
        "peeringDBFacilityId": {
          "type": "integer",
          "format": "int32",
          "description": "The PeeringDB.com ID of the facility at which the connection has to be set up."
        },
        "connectionState": {
          "$ref": "#/definitions/ConnectionState",
          "description": "The state of the connection.",
          "readOnly": true
        },
        "bgpSession": {
          "$ref": "#/definitions/BgpSession",
          "description": "The BGP session associated with the connection."
        },
        "connectionIdentifier": {
          "type": "string",
          "description": "The unique identifier (GUID) for the connection."
        },
        "errorMessage": {
          "type": "string",
          "description": "The error message related to the connection state, if any.",
          "readOnly": true
        }
      }
    },
    "ExchangePeeringFacility": {
      "type": "object",
      "description": "The properties that define an exchange peering facility.",
      "properties": {
        "exchangeName": {
          "type": "string",
          "description": "The name of the exchange peering facility."
        },
        "bandwidthInMbps": {
          "type": "integer",
          "format": "int32",
          "description": "The bandwidth of the connection between Microsoft and the exchange peering facility."
        },
        "microsoftIPv4Address": {
          "type": "string",
          "description": "The IPv4 address of Microsoft at the exchange peering facility."
        },
        "microsoftIPv6Address": {
          "type": "string",
          "description": "The IPv6 address of Microsoft at the exchange peering facility."
        },
        "facilityIPv4Prefix": {
          "type": "string",
          "description": "The IPv4 prefixes associated with the exchange peering facility."
        },
        "facilityIPv6Prefix": {
          "type": "string",
          "description": "The IPv6 prefixes associated with the exchange peering facility."
        },
        "peeringDBFacilityId": {
          "type": "integer",
          "format": "int32",
          "description": "The PeeringDB.com ID of the facility."
        },
        "peeringDBFacilityLink": {
          "type": "string",
          "description": "The PeeringDB.com URL of the facility."
        }
      }
    },
    "Family": {
      "type": "string",
      "description": "The family of the peering SKU.",
      "enum": [
        "Direct",
        "Exchange"
      ],
      "x-ms-enum": {
        "name": "Family",
        "modelAsString": true
      }
    },
    "Kind": {
      "type": "string",
[...]
