{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2020-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/baselineRules/{ruleId}": {
      "put": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Creates a Baseline for a rule in a database. Will overwrite any previously existing results.",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ruleId",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workspaceId",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The baseline results for this rule.",
            "schema": {
              "$ref": "#/definitions/RuleResultsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully set the vulnerability assessment rule baseline.",
            "schema": {
              "$ref": "#/definitions/RuleResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a baseline": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Put.json"
          },
		  "Create a baseline using the latest scan results": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_PutLatest.json"
          }
        }
      },
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Gets the results for a given rule in the Baseline.",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ruleId",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workspaceId",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully got the vulnerability assessment rule baseline.",
            "schema": {
              "$ref": "#/definitions/RuleResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get the baseline": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Get.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Deletes a rule from the Baseline of a given database.",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "ruleId",
            "description": "The rule Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workspaceId",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed the database vulnerability assessment rule baseline."
          },
          "204": {
            "description": "Rule baseline doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete the baseline": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Delete.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/baselineRules": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Gets the results for all rules in the Baseline.",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "workspaceId",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed the database vulnerability assessment rule baseline.",
            "schema": {
              "$ref": "#/definitions/RulesResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List baseline for all rules": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_List.json"
          }
        }
      },
      "post": {
        "tags": [
          "Sql Vulnerability Assessment Baseline Rules"
        ],
        "summary": "Add a list of baseline rules. Will overwrite any previously existing results (for all rules).",
        "operationId": "SqlVulnerabilityAssessmentBaselineRules_Add",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "workspaceId",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceId"
          },
          {
            "in": "body",
            "name": "body",
            "description": "The baseline rules.",
            "schema": {
              "$ref": "#/definitions/RulesResultsInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully removed the database vulnerability assessment rule baseline.",
            "schema": {
              "$ref": "#/definitions/RulesResults"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a baseline for all rules": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_Add.json"
          },
		  "Create a baseline for all rules using the latest scan results": {
            "$ref": "./examples/sqlVulnerabilityAssessmentsBaselineRuleOperations/ArcMachineBaselineRules_AddLatest.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RuleResultsInput": {
      "description": "Rule results input.",
      "type": "object",
      "properties": {
        "latestScan": {
          "description": "Take results from latest scan.",
          "type": "boolean"
        },
        "results": {
          "description": "Expected results to be inserted into the baseline.\r\nLeave this field empty it LatestScan == true.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "RuleResultsProperties": {
      "description": "Rule results properties.",
      "type": "object",
      "properties": {
        "results": {
          "description": "Expected results in the baseline.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    },
    "RuleResults": {
      "description": "Rule results.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/RuleResultsProperties"
        }
      }
    },
    "RulesResults": {
      "description": "A list of rules results.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of rule results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RuleResults"
          }
        }
      }
    },
    "RulesResultsInput": {
      "description": "Rules results input.",
      "type": "object",
      "properties": {
        "latestScan": {
          "description": "Take results from latest scan.",
          "type": "boolean"
        },
        "results": {
          "description": "Expected results to be inserted into the baseline.\r\nLeave this field empty it LatestScan == true.",
          "type": "object",
          "additionalProperties": {
            "type": "array",
            "items": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}