{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2020-07-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans/{scanId}": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Scans"
        ],
        "summary": "Gets the scan details of a single scan record.",
        "operationId": "SqlVulnerabilityAssessmentScans_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "scanId",
            "description": "The scan Id. Type 'latest' to get the scan record for the latest scan.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "workspaceId",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the scan record details.",
            "schema": {
              "$ref": "#/definitions/Scan"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get scan details of a scan record": {
            "$ref": "./examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_Get.json"
          },
          "Get scan details of the latest scan record": {
            "$ref": "./examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_GetLatest.json"
          }
        }
      }
    },
    "/{resourceId}/providers/Microsoft.Security/sqlVulnerabilityAssessments/default/scans": {
      "get": {
        "tags": [
          "Sql Vulnerability Assessment Scans"
        ],
        "summary": "Gets a list of scan records.",
        "operationId": "SqlVulnerabilityAssessmentScans_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "workspaceId",
            "description": "The workspace Id.",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "api-version",
            "description": "The api version.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of scan records.",
            "schema": {
              "$ref": "#/definitions/Scans"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List scan details": {
            "$ref": "./examples/sqlVulnerabilityAssessmentScanOperations/ArcMachineScans_List.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ScanTriggerType": {
      "description": "The scan trigger type.",
      "enum": [
        "OnDemand",
        "Recurring"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ScanTriggerType",
        "modelAsString": true,
        "values": [
          {
            "value": "OnDemand",
            "description": "OnDemand"
          },
          {
            "value": "Recurring",
            "description": "Recurring"
          }
        ]
      }
    },
    "ScanState": {
      "description": "The scan status.",
      "enum": [
        "Failed",
        "FailedToRun",
        "InProgress",
        "Passed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ScanState",
        "modelAsString": true,
        "values": [
          {
            "value": "Failed",
            "description": "Failed"
          },
          {
            "value": "FailedToRun",
            "description": "FailedToRun"
          },
          {
            "value": "InProgress",
            "description": "InProgress"
          },
          {
            "value": "Passed",
            "description": "Passed"
          }
        ]
      }
    },
    "ScanProperties": {
      "description": "A vulnerability assessment scan record properties.",
      "type": "object",
      "properties": {
        "triggerType": {
          "$ref": "#/definitions/ScanTriggerType"
        },
        "state": {
          "$ref": "#/definitions/ScanState"
        },
        "server": {
          "description": "The server name.",
          "type": "string"
        },
        "database": {
          "description": "The database name.",
          "type": "string"
        },
        "sqlVersion": {
          "description": "The SQL version.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The scan start time (UTC).",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "Scan results are valid until end time (UTC).",
          "type": "string"
        },
        "highSeverityFailedRulesCount": {
          "format": "int32",
          "description": "The number of failed rules with high severity.",
          "type": "integer"
        },
        "mediumSeverityFailedRulesCount": {
          "format": "int32",
          "description": "The number of failed rules with medium severity.",
          "type": "integer"
        },
        "lowSeverityFailedRulesCount": {
          "format": "int32",
          "description": "The number of failed rules with low severity.",
          "type": "integer"
        },
        "totalPassedRulesCount": {
          "format": "int32",
          "description": "The number of total passed rules.",
          "type": "integer"
        },
        "totalFailedRulesCount": {
          "format": "int32",
          "description": "The number of total failed rules.",
          "type": "integer"
        },
        "totalRulesCount": {
          "format": "int32",
          "description": "The number of total rules assessed.",
          "type": "integer"
        },
        "isBaselineApplied": {
          "description": "Baseline created for this database, and has one or more rules.",
          "type": "boolean"
        }
      }
    },
    "Scan": {
      "description": "A vulnerability assessment scan record.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/ScanProperties"
        }
      }
    },
    "Scans": {
      "description": "A list of vulnerability assessment scan records.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of vulnerability assessment scan records.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Scan"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
