{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2022-08-08",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups/{hybridRunbookWorkerGroupName}": {
      "delete": {
        "tags": [
          "ListAllHybridRunbookWorkerGroupInAutomationAccount"
        ],
        "operationId": "HybridRunbookWorkerGroup_Delete",
        "description": "Delete a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "Delete a hybrid worker group": {
            "$ref": "./examples/deleteHybridRunbookWorkerGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The hybrid runbook worker group name"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_Get",
        "description": "Retrieve a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "Get a hybrid worker group": {
            "$ref": "./examples/getHybridRunbookWorkerGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The hybrid runbook worker group name"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_Create",
        "description": "Create a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "Create a hybrid worker group": {
            "$ref": "./examples/putHybridRunbookWorkerGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The hybrid runbook worker group name"
          },
          {
            "name": "HybridRunbookWorkerGroupCreationParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroupCreateOrUpdateParameters"
            },
            "description": "The create or update parameters for hybrid runbook worker group."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_Update",
        "description": "Update a hybrid runbook worker group.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "Update hybrid worker group": {
            "$ref": "./examples/updateHybridRunbookWorkerGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "hybridRunbookWorkerGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The hybrid runbook worker group name"
          },
          {
            "name": "HybridRunbookWorkerGroupUpdationParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroupCreateOrUpdateParameters"
            },
            "description": "The hybrid runbook worker group"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroup"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/hybridRunbookWorkerGroups": {
      "get": {
        "tags": [
          "HybridRunbookWorkerGroup"
        ],
        "operationId": "HybridRunbookWorkerGroup_ListByAutomationAccount",
        "description": "Retrieve a list of hybrid runbook worker groups.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/hybridrunbookworkergroupoperations"
        },
        "x-ms-examples": {
          "List hybrid worker groups by Automation Account": {
            "$ref": "./examples/listHybridRunbookWorkerGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HybridRunbookWorkerGroupsListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/HybridRunbookWorkerGroup"
      }
    }
  },
  "definitions": {
    "RunAsCredentialAssociationProperty": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the credential."
        }
      },
      "description": "Definition of RunAs credential to use for hybrid worker."
    },
    "HybridRunbookWorkerGroupProperties": {
      "type": "object",
      "properties": {
        "groupType": {
          "type": "string",
          "description": "Type of the HybridWorkerGroup.",
          "enum": [
            "User",
            "System"
          ],
          "x-ms-enum": {
            "name": "GroupTypeEnum",
            "modelAsString": true
          }
        },
        "credential": {
          "$ref": "#/definitions/RunAsCredentialAssociationProperty",
          "description": "Sets the credential of a worker group."
        }
      },
      "description": "Definition of hybrid runbook worker group property."
    },
    "HybridRunbookWorkerGroup": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/HybridRunbookWorkerGroupProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the hybrid worker group properties."
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "Resource system metadata."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/Resource"
        }
      ],
      "description": "Definition of hybrid runbook worker group."
    },
    "HybridRunbookWorkerGroupsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HybridRunbookWorkerGroup"
          },
          "description": "Gets or sets a list of hybrid runbook worker groups."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list hybrid runbook worker groups."
    },
    "HybridRunbookWorkerGroupCreateOrUpdateProperties": {
      "type": "object",
      "properties": {
        "credential": {
          "$ref": "#/definitions/RunAsCredentialAssociationProperty",
          "description": "Sets the credential of a worker group."
        }
      },
      "description": "The hybrid runbook worker group properties."
    },
    "HybridRunbookWorkerGroupCreateOrUpdateParameters": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HybridRunbookWorkerGroupCreateOrUpdateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets hybrid runbook worker group create or update properties."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        }
      },
      "description": "The parameters supplied to the create hybrid runbook worker group operation."
    }
  },
  "parameters": {}
}
