{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2022-08-08",
    "x-ms-code-generation-settings": {
      "useDateTimeOffset": true
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/python3Packages/{packageName}": {
      "delete": {
        "tags": [
          "Python3Package"
        ],
        "operationId": "Python3Package_Delete",
        "description": "Delete the python 3 package by name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "Delete a python 3 package": {
            "$ref": "./examples/deletePython3Package.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The python package name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Python3Package"
        ],
        "operationId": "Python3Package_Get",
        "description": "Retrieve the python 3 package identified by package name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "Get a python 3 package": {
            "$ref": "./examples/getPython3Package.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The python package name."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Module"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Python3Package"
        ],
        "operationId": "Python3Package_CreateOrUpdate",
        "description": "Create or Update the python 3 package identified by package name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "Create or update a python 3 package": {
            "$ref": "./examples/createOrUpdatePython3Package.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of python package."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PythonPackageCreateParameters"
            },
            "description": "The create or update parameters for python package."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/Module"
            }
          },
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Module"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Python3Package"
        ],
        "operationId": "Python3Package_Update",
        "description": "Update the python 3 package identified by package name.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "Update a module": {
            "$ref": "./examples/updatePython3Package.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "name": "packageName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of python package."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PythonPackageUpdateParameters"
            },
            "description": "The update parameters for python package."
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Module"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/python3Packages": {
      "get": {
        "tags": [
          "Python3Package"
        ],
        "operationId": "Python3Package_ListByAutomationAccount",
        "description": "Retrieve a list of python 3 packages.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/moduleoperations"
        },
        "x-ms-examples": {
          "List python 3 packages by automation account": {
            "$ref": "./examples/listPython3PackagesByAutomationAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/AutomationAccountNameParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../common/v1/definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModuleListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "../../common/v1/definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ActivityParameter": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity parameter."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the activity parameter."
        },
        "isMandatory": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter is required. If the value is false, the parameter is optional."
        },
        "isDynamic": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter is dynamic."
        },
        "position": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the position of the activity parameter."
        },
        "valueFromPipeline": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter can take values from the incoming pipeline objects. This setting is used if the cmdlet must access the complete input object. false indicates that the parameter cannot take values from the complete input object."
        },
        "valueFromPipelineByPropertyName": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the parameter can be filled from a property of the incoming pipeline object that has the same name as this parameter. false indicates that the parameter cannot be filled from the incoming pipeline object property with the same name. "
        },
        "valueFromRemainingArguments": {
          "type": "boolean",
          "description": "Gets or sets a Boolean value that indicates true if the cmdlet parameter accepts all the remaining command-line arguments that are associated with this parameter in the form of an array. false if the cmdlet parameter does not accept all the remaining argument values."
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description of the activity parameter."
        },
        "validationSet": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityParameterValidationSet"
          },
          "x-ms-identifiers": [],
          "description": "Gets or sets the validation set of activity parameter."
        }
      },
      "description": "Definition of the activity parameter."
    },
    "ActivityParameterSet": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity parameter set."
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityParameter"
          },
          "x-ms-identifiers": [],
          "description": "Gets or sets the parameters of the activity parameter set."
        }
      },
      "description": "Definition of the activity parameter set."
    },
    "ActivityParameterValidationSet": {
      "type": "object",
      "properties": {
        "memberValue": {
          "type": "string",
          "description": "Gets or sets the name of the activity parameter validation set member."
        }
      },
      "description": "Definition of the activity parameter validation set."
    },
    "ActivityOutputType": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the activity output type."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the activity output type."
        }
      },
      "description": "Definition of the activity output type."
    },
    "ActivityProperties": {
      "type": "object",
      "properties": {
        "definition": {
          "type": "string",
          "description": "Gets or sets the user name of the activity."
        },
        "parameterSets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityParameterSet"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "Gets or sets the parameter sets of the activity."
        },
        "outputTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivityOutputType"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "Gets or sets the output types of the activity."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        }
      },
      "description": "Properties of the activity."
    },
    "Activity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets the id of the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Gets the name of the activity."
        },
        "properties": {
          "$ref": "#/definitions/ActivityProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the properties of the activity."
        }
      },
      "description": "Definition of the activity."
    },
    "ActivityListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Activity"
          },
          "description": "Gets or sets a list of activities."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list activity operation."
    },
    "ModuleErrorInfo": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Gets or sets the error code."
        },
        "message": {
          "type": "string",
          "description": "Gets or sets the error message."
        }
      },
      "description": "Definition of the module error info type."
    },
    "ModuleListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Module"
          },
          "description": "Gets or sets a list of modules."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the next link."
        }
      },
      "description": "The response model for the list module operation."
    },
    "ContentHash": {
      "type": "object",
      "properties": {
        "algorithm": {
          "type": "string",
          "description": "Gets or sets the content hash algorithm used to hash the content."
        },
        "value": {
          "type": "string",
          "description": "Gets or sets expected hash value of the content."
        }
      },
      "required": [
        "algorithm",
        "value"
      ],
      "description": "Definition of the runbook property type."
    },
    "ContentLink": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Gets or sets the uri of the runbook content."
        },
        "contentHash": {
          "$ref": "#/definitions/ContentHash",
          "description": "Gets or sets the hash."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the content."
        }
      },
      "description": "Definition of the content link."
    },
    "PythonPackageCreateProperties": {
      "type": "object",
      "properties": {
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the module content link."
        }
      },
      "required": [
        "contentLink"
      ],
      "description": "The parameters supplied to the create or update module properties."
    },
    "PythonPackageCreateParameters": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PythonPackageCreateProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module create properties."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "required": [
        "properties"
      ],
      "description": "The parameters supplied to the create or update module operation."
    },
    "ModuleProperties": {
      "type": "object",
      "properties": {
        "isGlobal": {
          "type": "boolean",
          "description": "Gets or sets the isGlobal flag of the module."
        },
        "version": {
          "type": "string",
          "description": "Gets or sets the version of the module."
        },
        "sizeInBytes": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the size in bytes of the module."
        },
        "activityCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the activity count of the module."
        },
        "provisioningState": {
          "type": "string",
          "description": "Gets or sets the provisioning state of the module.",
          "enum": [
            "Created",
            "Creating",
            "StartingImportModuleRunbook",
            "RunningImportModuleRunbook",
            "ContentRetrieved",
            "ContentDownloaded",
            "ContentValidated",
            "ConnectionTypeImported",
            "ContentStored",
            "ModuleDataStored",
            "ActivitiesStored",
            "ModuleImportRunbookComplete",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ModuleProvisioningState",
            "modelAsString": true
          }
        },
        "contentLink": {
          "$ref": "#/definitions/ContentLink",
          "description": "Gets or sets the contentLink of the module."
        },
        "error": {
          "$ref": "#/definitions/ModuleErrorInfo",
          "description": "Gets or sets the error info of the module."
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the creation time.",
          "x-nullable": false
        },
        "lastModifiedTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last modified time.",
          "x-nullable": false
        },
        "description": {
          "type": "string",
          "description": "Gets or sets the description."
        },
        "isComposite": {
          "type": "boolean",
          "description": "Gets or sets type of module, if its composite or not."
        }
      },
      "description": "Definition of the module property type."
    },
    "PythonPackageUpdateParameters": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Gets or sets the tags attached to the resource."
        }
      },
      "description": "The parameters supplied to the update module operation."
    },
    "Module": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ModuleProperties",
          "x-ms-client-flatten": true,
          "description": "Gets or sets the module properties."
        },
        "etag": {
          "type": "string",
          "description": "Gets or sets the etag of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../common/v1/definitions.json#/definitions/TrackedResource"
        }
      ],
      "description": "Definition of the module type."
    },
    "TypeField": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the field."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the type of the field."
        }
      },
      "description": "Information about a field of a type."
    },
    "TypeFieldListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "x-ms-identifiers": [],
          "items": {
            "$ref": "#/definitions/TypeField"
          },
          "description": "Gets or sets a list of fields."
        }
      },
      "description": "The response model for the list fields operation."
    }
  },
  "parameters": {}
}
