{
  "swagger": "2.0",
  "info": {
    "title": "KX Resource Provider",
    "version": "2022-11-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "KdbInsightsEnterprise"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.KX/kdbInsightsEnterprise": {
      "get": {
        "tags": [
          "KdbInsightsEnterprise"
        ],
        "operationId": "KdbInsightsEnterprise_ListBySubscription",
        "description": "List KdbInsightsEnterpriseResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KdbInsightsEnterpriseResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "KdbInsightsEnterprise_ListBySubscription_1": {
            "$ref": "./examples/KdbInsightsEnterprise_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KX/kdbInsightsEnterprise": {
      "get": {
        "tags": [
          "KdbInsightsEnterprise"
        ],
        "operationId": "KdbInsightsEnterprise_ListByResourceGroup",
        "description": "List KdbInsightsEnterpriseResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KdbInsightsEnterpriseResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "KdbInsightsEnterprise_ListByResourceGroup_3": {
            "$ref": "./examples/KdbInsightsEnterprise_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.KX/kdbInsightsEnterprise/{kdbInsightsEnterpriseName}": {
      "get": {
        "tags": [
          "KdbInsightsEnterprise"
        ],
        "operationId": "KdbInsightsEnterprise_Get",
        "description": "Get a KdbInsightsEnterpriseResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "kdbInsightsEnterpriseName",
            "in": "path",
            "required": true,
            "description": "The name of the kdbInsightsEnterprise resource",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KdbInsightsEnterpriseResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KdbInsightsEnterprise_Get_2": {
            "$ref": "./examples/KdbInsightsEnterprise_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "KdbInsightsEnterprise"
        ],
        "operationId": "KdbInsightsEnterprise_CreateOrUpdate",
        "description": "Create a KdbInsightsEnterpriseResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "kdbInsightsEnterpriseName",
            "in": "path",
            "required": true,
            "description": "The name of the kdbInsightsEnterprise resource",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/KdbInsightsEnterpriseResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KdbInsightsEnterpriseResource"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/KdbInsightsEnterpriseResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KdbInsightsEnterprise_CreateOrUpdate_0": {
            "$ref": "./examples/KdbInsightsEnterprise_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "KdbInsightsEnterprise"
        ],
        "operationId": "KdbInsightsEnterprise_Update",
        "description": "Update a KdbInsightsEnterpriseResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "kdbInsightsEnterpriseName",
            "in": "path",
            "required": true,
            "description": "The name of the kdbInsightsEnterprise resource",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/KdbInsightsEnterpriseResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/KdbInsightsEnterpriseResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KdbInsightsEnterprise_Update_4": {
            "$ref": "./examples/KdbInsightsEnterprise_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "KdbInsightsEnterprise"
        ],
        "operationId": "KdbInsightsEnterprise_Delete",
        "description": "Delete a KdbInsightsEnterpriseResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "kdbInsightsEnterpriseName",
            "in": "path",
            "required": true,
            "description": "The name of the kdbInsightsEnterprise resource",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "KdbInsightsEnterprise_Delete_6": {
            "$ref": "./examples/KdbInsightsEnterprise_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "KdbInsightsEnterpriseProperties": {
      "type": "object",
      "properties": {
        "keyCloakPassword": {
          "$ref": "#/definitions/PasswordString",
          "description": "The password to use for KeyCloak",
          "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\\$%\\^&\\*])[a-zA-Z0-9!@#\\$%\\^&\\*]{14,320}$",
          "x-ms-mutability": [
            "create"
          ]
        },
        "uiPassword": {
          "$ref": "#/definitions/PasswordString",
          "description": "The password to use for the UI",
          "pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\\$%\\^&\\*])[a-zA-Z0-9!@#\\$%\\^&\\*]{14,320}$",
          "x-ms-mutability": [
            "create"
          ]
        },
        "emailAddress": {
          "type": "string",
          "description": "Email address for licensing and certificate registration",
          "pattern": "^(?=.{1,320}$)(?=[^@]{1,64}@)\\w+([\\.\\-\\+\\w]*)@(?=.{1,255}$)\\w+([\\.\\-]?\\w+)*(\\.\\w{2,3})+$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "uiUsername": {
          "type": "string",
          "description": "The UI user name",
          "pattern": "^[A-Za-z0-9]{8,20}$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "managedResourceGroupConfiguration": {
          "$ref": "#/definitions/ManagedResourceGroupConfiguration",
          "description": "Configuration of the managed resource group associated with the resource.",
          "readOnly": true
        }
      },
      "description": "Details of the kdbInsightsEnterprise resource."
    },
    "KdbInsightsEnterpriseResource": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/KdbInsightsEnterpriseProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A kdbInsightsEnterprise resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "KdbInsightsEnterpriseResourceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/KdbInsightsEnterpriseResource"
          },
          "x-typespec-name": "KdbInsightsEnterpriseResource[]",
          "description": "The KdbInsightsEnterpriseResource items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "Rest.ResourceLocation"
        }
      },
      "description": "The response of a KdbInsightsEnterpriseResource list operation.",
      "required": [
        "value"
      ]
    },
    "KdbInsightsEnterpriseResourceUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        }
      },
      "description": "The type used for update operations of the KdbInsightsEnterpriseResource."
    },
    "ManagedResourceGroupConfiguration": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource group name."
        },
        "location": {
          "type": "string",
          "description": "The resource group location."
        }
      },
      "description": "Configuration of the managed resource group associated with the resource.",
      "required": [
        "name",
        "location"
      ]
    },
    "PasswordString": {
      "type": "string",
      "format": "password",
      "x-ms-secret": true
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "ProvisioningStateKV": {
      "type": "string",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningStateKV",
        "modelAsString": true
      }
    }
  },
  "parameters": {}
}
