{
    "swagger": "2.0",
    "info": {
        "title": "Azure Maps",
        "version": "1.0",
        "description": "Azure Maps REST APIs"
    },
    "host": "atlas.microsoft.com",
    "schemes": [
        "https"
    ],
    "consumes": [],
    "produces": [
        "application/json",
        "application/xml"
    ],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "parameters": {
        "SubscriptionKey": {
            "name": "subscription-key",
            "description": "Azure Maps subscription key",
            "type": "string",
            "in": "query",
            "required": true,
            "x-ms-parameter-location": "client"
        },
        "ApiVersion": {
            "name": "api-version",
            "description": "Version number of Azure Maps API. Current version is 1.0",
            "type": "string",
            "in": "query",
            "required": true,
            "default": "1.0",
            "x-ms-parameter-location": "client"
        },
        "TimezoneAcceptLanguage": {
            "name": "Accept-Language",
            "in": "header",
            "description": "Specifies the language code in which the timezone names should be returned. If no language code is provided, the response will be in \"EN\". Please refer to [Supported Languages](https://docs.microsoft.com/en-us/azure/maps/supported-languages) for details.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "TimezoneOptions": {
            "name": "options",
            "in": "query",
            "description": "Alternatively, use alias \"o\". Options available for types of information returned in the result.",
            "required": false,
            "type": "string",
            "enum": [
                "none",
                "zoneInfo",
                "transitions",
                "all"
            ],
            "x-ms-enum": {
                "name": "TimezoneOptions",
                "modelAsString": false,
                "values": [
                    {
                        "value": "none",
                        "description": "Do not include zoneinfo or transitions in the result."
                    },
                    {
                        "value": "zoneInfo",
                        "description": "Include additional time zone info in the result."
                    },
                    {
                        "value": "transitions",
                        "description": "Include transition information in the result (The number of transitions is currently capped at 250)."
                    },
                    {
                        "value": "all",
                        "description": "Include both zoneinfo and transitions in the result."
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "TimezoneTimeStamp": {
            "name": "timeStamp",
            "in": "query",
            "description": "Alternatively, use alias \"stamp\", or \"s\". Reference time, if omitted, the API will use the machine time serving the request.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method",
            "format": "date-time"
        },
        "TimezoneTransitionsFrom": {
            "name": "transitionsFrom",
            "in": "query",
            "description": "Alternatively, use alias \"tf\". The start date from which daylight savings time (DST) transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method",
            "format": "date-time"
        },
        "TimezoneTransitionsYears": {
            "name": "transitionsYears",
            "in": "query",
            "description": "Alternatively, use alias \"ty\". The number of years from \"transitionsFrom\" for which DST transitions are requested, only applies when \"options\" = all or \"options\" = transitions.",
            "required": false,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "TextFormat": {
            "name": "format",
            "description": "Desired format of the response. Value can be either _json_ or _xml_.",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
                "json",
                "xml"
            ],
            "x-ms-parameter-location": "method"
        },
        "JsonFormat": {
            "name": "format",
            "description": "Desired format of the response. Only `JSON` format is supported.",
            "type": "string",
            "in": "path",
            "required": true,
            "x-ms-parameter-location": "method"
        },
        "TimeZoneFormat": {
            "name": "format",
            "description": "Desired format of the response. Possible value: json.",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
                "json"
            ],
            "x-ms-parameter-location": "method"
        },
        "RasterTileFormat": {
            "name": "format",
            "description": "Desired format of the response. Possible value: png.",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
                "png"
            ],
            "x-ms-enum": {
                "name": "RasterTileFormat",
                "modelAsString": false,
                "values": [
                    {
                        "value": "png",
                        "description": "An image in the png format. Supports zoom levels 0 through 18."
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "TileFormat": {
            "name": "format",
            "description": "Desired format of the response. Possible values are png \u0026 pbf.",
            "type": "string",
            "in": "path",
            "required": true,
            "enum": [
                "png",
                "pbf"
            ],
            "x-ms-enum": {
                "name": "TileFormat",
                "modelAsString": false,
                "values": [
                    {
                        "value": "png",
                        "description": "An image in the png format. Supports zoom levels 0 through 18."
                    },
                    {
                        "value": "pbf",
                        "description": "Vector graphic in the pbf format. Supports zoom levels 0 through 20."
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "xTileIndex": {
            "name": "x",
            "x-ms-client-name": "xTileIndex",
            "in": "query",
            "description": "X coordinate of the tile on zoom grid. Value must be in the range [0, 2\u003csup\u003e`zoom`\u003c/sup\u003e -1].\u003cbr\u003e\u003cbr\u003ePlease see [Zoom Levels and Tile Grid](https://docs.microsoft.com/en-us/azure/location-based-services/zoom-levels-and-tile-grid) for details.",
            "required": true,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "yTileIndex": {
            "name": "y",
            "x-ms-client-name": "yTileIndex",
            "in": "query",
            "description": "Y coordinate of the tile on zoom grid. Value must be in the range [0, 2\u003csup\u003e`zoom`\u003c/sup\u003e -1].\u003cbr\u003e\u003cbr\u003ePlease see [Zoom Levels and Tile Grid](https://docs.microsoft.com/en-us/azure/location-based-services/zoom-levels-and-tile-grid) for details.",
            "required": true,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "RasterZoom": {
            "name": "zoom",
            "in": "query",
            "description": "Zoom level for the desired tile. Zoom value must be in the range: 0-18 (inclusive).\u003cbr\u003e\u003cbr\u003ePlease see [Zoom Levels and Tile Grid](https://docs.microsoft.com/en-us/azure/location-based-services/zoom-levels-and-tile-grid) for details.",
            "required": true,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "VectorZoom": {
            "name": "zoom",
            "in": "query",
            "description": "Zoom level for the desired tile. Zoom value must be in the range: 0-20 (inclusive).\u003cbr\u003e\u003cbr\u003ePlease see [Zoom Levels and Tile Grid](https://docs.microsoft.com/en-us/azure/location-based-services/zoom-levels-and-tile-grid) for details.",
            "required": true,
            "type": "integer",
            "x-ms-parameter-location": "method"
        },
        "Text": {
            "name": "text",
            "in": "query",
            "description": "Yes/no value to exclude textual data from response. Only images and country names will be in response.",
            "required": false,
            "type": "string",
            "enum": [
                "yes",
                "no"
            ],
            "default": "yes",
            "x-ms-parameter-location": "method"
        },
        "Language": {
            "name": "language",
            "in": "query",
            "description": "Language in which search results should be returned. Should be one of supported IETF language tags, case insensitive. When data in specified language is not available for a specific field, default language is used. Please refer to [Supported Languages](https://docs.microsoft.com/en-us/azure/maps/supported-languages) for details.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "ExtendedPostalCodesForWith6Values": {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results.\n\nAvailable indexes are: \n\n **Addr** = Address ranges \n\n **Geo** = Geographies \n\n **PAD** = Point Addresses \n\n **POI** = Points of Interest \n\n **Str** = Streets \n\n **XStr** = Cross Streets (intersections)\n\nValue should be a comma separated list of index types (in any order) or **None** for no indexes.\n\nBy default extended postal codes are included for all indexes except Geo. Extended postal code lists for geographies can be quite long so they have to be explicitly requested when needed.\n\nUsage examples:\n\n extendedPostalCodesFor=POI \n\n extendedPostalCodesFor=PAD,Addr,POI \n\n extendedPostalCodesFor=None\n\nExtended postal code is returned as an **extendedPostalCode** property of an address. Availability is region-dependent.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "ExtendedPostalCodesForWith1Value": {
            "name": "extendedPostalCodesFor",
            "in": "query",
            "description": "Indexes for which extended postal codes should be included in the results.\n\nAvailable indexes are: \n\n **POI** = Points of Interest \n\nValue should be **POI** or **None** to disable extended postal codes.\n\nBy default extended postal codes are included.\n\nUsage examples:\n\n extendedPostalCodesFor=POI \n\n extendedPostalCodesFor=None\n\nExtended postal code is returned as an **extendedPostalCode** property of an address. Availability is region-dependent.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "OptionalBiasLat": {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased. E.g. 37.337",
            "required": false,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "OptionalBiasLon": {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased. E.g. -121.89",
            "required": false,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "RequiredBiasLat": {
            "name": "lat",
            "in": "query",
            "description": "Latitude where results should be biased. E.g. 37.337.",
            "required": true,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "RequiredBiasLon": {
            "name": "lon",
            "in": "query",
            "description": "Longitude where results should be biased. E.g. -121.89.",
            "required": true,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "Typeahead": {
            "name": "typeahead",
            "in": "query",
            "description": "Boolean. If the typeahead flag is set, the query will be interpreted as a partial input and the search will enter predictive mode",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-parameter-location": "method"
        },
        "Limit": {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of responses that will be returned. Default: 10, minimum: 1 and maximum: 100",
            "required": false,
            "type": "integer",
            "default": 10,
            "minimum": 1,
            "maximum": 100,
            "x-ms-parameter-location": "method"
        },
        "CountrySet": {
            "name": "countrySet",
            "in": "query",
            "description": "Comma separated string of country codes, e.g. FR, ES. This will limit the search to the specified countries",
            "required": false,
            "type": "array",
            "items": {
                "type": "string"
            },
            "collectionFormat": "csv",
            "x-ms-parameter-location": "method"
        },
        "Radius": {
            "name": "radius",
            "in": "query",
            "description": "The radius in meters to for the results to be constrained to the defined area",
            "required": false,
            "type": "number",
            "x-ms-parameter-location": "method"
        },
        "Query": {
            "name": "query",
            "in": "query",
            "description": "The applicable query string. Must be properly URL encoded.",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "Position": {
            "name": "query",
            "in": "query",
            "description": "The applicable query specified as a comma separated string composed by latitude followed by longitude e.g. \"47.641268, -122.125679\".",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "SearchIndexSet": {
            "name": "idxSet",
            "in": "query",
            "description": "A comma separated list of indexes which should be utilized for the search. Item order does not matter. Available indexes are: Addr = Address range interpolation, Geo = Geographies, PAD = Point Addresses, POI = Points of interest, Str = Streets, Xstr = Cross Streets (intersections)",
            "required": false,
            "type": "array",
            "items": {
                "type": "string",
                "enum": [
                    "Addr",
                    "Geo",
                    "PAD",
                    "POI",
                    "Str",
                    "Xstr"
                ],
                "x-ms-enum": {
                    "name": "SearchIndexSet",
                    "modelAsString": false,
                    "values": [
                        {
                            "value": "Addr",
                            "description": "Address range interpolation"
                        },
                        {
                            "value": "Geo",
                            "description": "Geographies"
                        },
                        {
                            "value": "PAD",
                            "description": "Point Addresses"
                        },
                        {
                            "value": "POI",
                            "description": "Points of interest"
                        },
                        {
                            "value": "Str",
                            "description": "Streets"
                        },
                        {
                            "value": "Xstr",
                            "description": "Cross Streets (Intersections)"
                        }
                    ]
                }
            },
            "collectionFormat": "csv",
            "x-ms-parameter-location": "method"
        },
        "BoundingBoxTopLeft": {
            "x-client-name": "BoundingBoxTopLeft",
            "name": "topLeft",
            "in": "query",
            "description": "Top left position of the bounding box. E.g. 37.553,-122.453",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "BoundingBoxBottomRight": {
            "x-client-name": "BoundingBoxBottomRight",
            "name": "btmRight",
            "in": "query",
            "description": "Bottom right position of the bounding box. E.g. 37.553,-122.453",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "VehicleLoadType": {
            "name": "vehicleLoadType",
            "in": "query",
            "description": "Types of cargo that may be classified as hazardous materials and restricted from some roads. Available vehicleLoadType values are US Hazmat classes 1 through 9, plus generic classifications for use in other countries. Values beginning with USHazmat are for US routing while otherHazmat should be used for all other countries. vehicleLoadType can be specified multiple times. This parameter is currently only considered for travelMode=truck.",
            "required": false,
            "type": "string",
            "enum": [
                "USHazmatClass1",
                "USHazmatClass2",
                "USHazmatClass3",
                "USHazmatClass4",
                "USHazmatClass5",
                "USHazmatClass6",
                "USHazmatClass7",
                "USHazmatClass8",
                "USHazmatClass9",
                "otherHazmatExplosive",
                "otherHazmatGeneral",
                "otherHazmatHarmfulToWater"
            ],
            "x-ms-enum": {
                "name": "VehicleLoadType",
                "modelAsString": false,
                "values": [
                    {
                        "value": "USHazmatClass1",
                        "description": "Explosives"
                    },
                    {
                        "value": "USHazmatClass2",
                        "description": "Compressed gas"
                    },
                    {
                        "value": "USHazmatClass3",
                        "description": "Flammable liquids"
                    },
                    {
                        "value": "USHazmatClass4",
                        "description": "Flammable solids"
                    },
                    {
                        "value": "USHazmatClass5",
                        "description": "Oxidizers"
                    },
                    {
                        "value": "USHazmatClass6",
                        "description": "Poisons"
                    },
                    {
                        "value": "USHazmatClass7",
                        "description": "Radioactive"
                    },
                    {
                        "value": "USHazmatClass8",
                        "description": "Corrosives"
                    },
                    {
                        "value": "USHazmatClass9",
                        "description": "Miscellaneous"
                    },
                    {
                        "value": "otherHazmatExplosive",
                        "description": "Explosives"
                    },
                    {
                        "value": "otherHazmatGeneral",
                        "description": "Miscellaneous"
                    },
                    {
                        "value": "otherHazmatHarmfulToWater",
                        "description": "Harmful to water"
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "RouteType": {
            "name": "routeType",
            "in": "query",
            "description": "The type of route requested.",
            "required": false,
            "type": "string",
            "default": "fastest",
            "enum": [
                "fastest",
                "shortest",
                "eco",
                "thrilling"
            ],
            "x-ms-enum": {
                "name": "RouteType",
                "modelAsString": false,
                "values": [
                    {
                        "value": "fastest",
                        "description": "The fastest route."
                    },
                    {
                        "value": "shortest",
                        "description": "The shortest route by distance."
                    },
                    {
                        "value": "eco",
                        "description": "A route balanced by economy and speed."
                    },
                    {
                        "value": "thrilling",
                        "description": "Includes interesting or challenging roads and uses as few motorways as possible. You can choose the level of turns included and also the degree of hilliness. See the hilliness and windingness parameters for how to set this. There is a limit of 900 km on routes planned with routeType=thrilling"
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "Windingness": {
            "name": "windingness",
            "in": "query",
            "description": "Level of turns for thrilling route. This parameter can only be used in conjunction with routeType=thrilling.",
            "required": false,
            "type": "string",
            "default": "normal",
            "enum": [
                "low",
                "normal",
                "high"
            ],
            "x-ms-enum": {
                "name": "Windingness",
                "modelAsString": false
            },
            "x-ms-parameter-location": "method"
        },
        "Hilliness": {
            "name": "hilliness",
            "in": "query",
            "description": "Degree of hilliness for thrilling route. This parameter can only be used in conjunction with routeType=thrilling.",
            "required": false,
            "type": "string",
            "default": "normal",
            "enum": [
                "low",
                "normal",
                "high"
            ],
            "x-ms-enum": {
                "name": "Hilliness",
                "modelAsString": false
            },
            "x-ms-parameter-location": "method"
        },
        "TravelMode": {
            "name": "travelMode",
            "in": "query",
            "description": "The mode of travel for the requested route. Note that the requested travelMode may not be available for the entire route. Where the requested travelMode is not available for a particular section, the travelMode element of the response for that section will be other. Note that travel modes bus, motorcycle, taxi and van are BETA functionality. Full restriction data is not available in all areas. In calculateReachableRange requests, the values bicycle and pedestrian must not be used",
            "required": false,
            "type": "string",
            "default": "car",
            "enum": [
                "car",
                "truck",
                "taxi",
                "bus",
                "van",
                "motorcycle",
                "bicycle",
                "pedestrian"
            ],
            "x-ms-enum": {
                "name": "TravelMode",
                "modelAsString": false
            },
            "x-ms-parameter-location": "method"
        },
        "Avoid": {
            "name": "avoid",
            "in": "query",
            "description": "Specifies something that the route calculation should try to avoid when determining the route. Can be specified multiple times. Possible values: (tollRoads avoids toll roads), (motorways avoids motorways), (ferries avoids ferries), (unpavedRoads avoids unpaved roads), (carpools avoids routes that require use of carpool (HOV/ High Occupancy Vehicle) lanes), (alreadyUsedRoads avoids using the same road multiple times. Most useful in conjunction with routeType=thrilling). In calculateReachableRange requests, the value alreadyUsedRoads must not be used.",
            "required": false,
            "type": "string",
            "enum": [
                "tollRoads",
                "motorways",
                "ferries",
                "unpavedRoads",
                "carpools",
                "alreadyUsedRoads"
            ],
            "x-ms-enum": {
                "name": "Avoid",
                "modelAsString": false
            },
            "x-ms-parameter-location": "method"
        },
        "VehicleEngineType": {
            "name": "vehicleEngineType",
            "in": "query",
            "description": "Engine type of the vehicle. When a detailed Consumption Model is specified, it must be consistent with the value of **vehicleEngineType**.",
            "required": false,
            "type": "string",
            "enum": [
                "combustion",
                "electric"
            ],
            "default": "combustion",
            "x-ms-enum": {
                "name": "VehicleEngineType",
                "modelAsString": false
            },
            "x-ms-parameter-location": "method"
        },
        "ConstantSpeedConsumptionInLitersPerHundredkm": {
            "name": "constantSpeedConsumptionInLitersPerHundredkm",
            "in": "query",
            "description": "\n\nSpecifies the speed-dependent component of consumption.\n\nProvided as an unordered list of colon-delimited speed \u0026 consumption-rate pairs. The list defines points on a consumption curve. Consumption rates for speeds not in the list are found as follows:\n\n * by linear interpolation, if the given speed lies in between two speeds in the list\n\n * by linear extrapolation otherwise, assuming a constant (?Consumption/?Speed) determined by the nearest two points in the list\n\nThe list must contain between 1 and 25 points (inclusive), and may not contain duplicate points for the same speed. If it only contains a single point, then the consumption rate of that point is used without further processing.\n\nConsumption specified for the largest speed must be greater than or equal to that of the penultimate largest speed. This ensures that extrapolation does not lead to negative consumption rates.\n\nSimilarly, consumption values specified for the two smallest speeds in the list cannot lead to a negative consumption rate for any smaller speed.\n\nThe valid range for the consumption values(expressed in l/100km) is between 0.01 and 100000.0.\n\nSensible Values : 50,6.3:130,11.5\n\n**Note** : This parameter is required for **The Combustion Consumption Model**.",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "CurrentFuelInLiters": {
            "name": "currentFuelInLiters",
            "in": "query",
            "description": "Specifies the current supply of fuel in liters.\n\nSensible Values : 55",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "AuxiliaryPowerInLitersPerHour": {
            "name": "auxiliaryPowerInLitersPerHour",
            "in": "query",
            "description": "Specifies the amount of fuel consumed for sustaining auxiliary systems of the vehicle, in liters per hour.\n\nIt can be used to specify consumption due to devices and systems such as AC systems, radio, heating, etc.\n\nSensible Values : 0.2",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "FuelEnergyDensityInMJoulesPerLiter": {
            "name": "fuelEnergyDensityInMJoulesPerLiter",
            "in": "query",
            "description": "Specifies the amount of chemical energy stored in one liter of fuel in megajoules (MJ). It is used in conjunction with the ***Efficiency** parameters for conversions between saved or consumed energy and fuel. For example, energy density is 34.2 MJ/l for gasoline, and 35.8 MJ/l for Diesel fuel.\n\nThis parameter is required if any ***Efficiency** parameter is set.\n\nSensible Values : 34.2",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "AccelerationEfficiency": {
            "name": "accelerationEfficiency",
            "in": "query",
            "description": "Specifies the efficiency of converting chemical energy stored in fuel to kinetic energy when the vehicle accelerates _(i.e. KineticEnergyGained/ChemicalEnergyConsumed). ChemicalEnergyConsumed_ is obtained by converting consumed fuel to chemical energy using **fuelEnergyDensityInMJoulesPerLiter**.\n\nMust be paired with **decelerationEfficiency**.\n\nThe range of values allowed are 0.0 to 1/**decelerationEfficiency**.\n\nSensible Values : for **Combustion Model** : 0.33, for **Electric Model** : 0.66",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "DecelerationEfficiency": {
            "name": "decelerationEfficiency",
            "in": "query",
            "description": "Specifies the efficiency of converting kinetic energy to saved (not consumed) fuel when the vehicle decelerates _(i.e. ChemicalEnergySaved/KineticEnergyLost). ChemicalEnergySaved_ is obtained by converting saved (not consumed) fuel to energy using **fuelEnergyDensityInMJoulesPerLiter**.\n\nMust be paired with **accelerationEfficiency**.\n\nThe range of values allowed are 0.0 to 1/**accelerationEfficiency**.\n\nSensible Values : for **Combustion Model** : 0.83, for **Electric Model** : 0.91",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "UphillEfficiency": {
            "name": "uphillEfficiency",
            "in": "query",
            "description": "Specifies the efficiency of converting chemical energy stored in fuel to potential energy when the vehicle gains elevation _(i.e. PotentialEnergyGained/ChemicalEnergyConsumed). ChemicalEnergyConsumed_ is obtained by converting consumed fuel to chemical energy using **fuelEnergyDensityInMJoulesPerLiter**.\n\nMust be paired with **downhillEfficiency**.\n\nThe range of values allowed are 0.0 to 1/**downhillEfficiency**.\n\nSensible Values : for **Combustion Model** : 0.27, for **Electric Model** : 0.74",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "DownhillEfficiency": {
            "name": "downhillEfficiency",
            "in": "query",
            "description": "Specifies the efficiency of converting potential energy to saved (not consumed) fuel when the vehicle loses elevation _(i.e. ChemicalEnergySaved/PotentialEnergyLost).ChemicalEnergySaved_ is obtained by converting saved (not consumed) fuel to energy using **fuelEnergyDensityInMJoulesPerLiter**.\n\nMust be paired with **uphillEfficiency**.\n\nThe range of values allowed are 0.0 to 1/**uphillEfficiency**.\n\nSensible Values : for **Combustion Model** : 0.51, for **Electric Model** : 0.73",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "ConstantSpeedConsumptionInkWhPerHundredkm": {
            "name": "constantSpeedConsumptionInkWhPerHundredkm",
            "in": "query",
            "description": "Specifies the speed-dependent component of consumption.\n\nProvided as an unordered list of speed/consumption-rate pairs. The list defines points on a consumption curve. Consumption rates for speeds not in the list are found as follows:\n\n* by linear interpolation, if the given speed lies in between two speeds in the list\n\n* by linear extrapolation otherwise, assuming a constant (?Consumption/?Speed) determined by the nearest two points in the list\n\nThe list must contain between 1 and 25 points (inclusive), and may not contain duplicate points for the same speed. If it only contains a single point, then the consumption rate of that point is used without further processing.\n\nConsumption specified for the largest speed must be greater than or equal to that of the penultimate largest speed. This ensures that extrapolation does not lead to negative consumption rates.\n\nSimilarly, consumption values specified for the two smallest speeds in the list cannot lead to a negative consumption rate for any smaller  speed.\n\nThe valid range for the consumption values(expressed in kWh/100km) is between 0.01 and 100000.0.\n\nSensible Values : 50,8.2:130,21.3\n\nThis parameter is required for **Electric consumption model**.",
            "required": false,
            "type": "number",
            "format": "float",
            "x-ms-parameter-location": "method"
        },
        "CurrentChargeInkWh": {
            "name": "currentChargeInkWh",
            "in": "query",
            "description": "Specifies the current electric energy supply in kilowatt hours (kWh).\n\nThis parameter co-exists with **maxChargeInkWh** parameter.\n\nThe range of values allowed are 0.0 to **maxChargeInkWh**.\n\nSensible Values : 43",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "MaxChargeInkWh": {
            "name": "maxChargeInkWh",
            "in": "query",
            "description": "Specifies the maximum electric energy supply in kilowatt hours (kWh) that may be stored in the vehicle\u0027s battery.\n\nThis parameter co-exists with **currentChargeInkWh** parameter.\n\nMinimum value has to be greater than or equal to **currentChargeInkWh**.\n\nSensible Values : 85",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "AuxiliaryPowerInkW": {
            "name": "auxiliaryPowerInkW",
            "in": "query",
            "description": "Specifies the amount of power consumed for sustaining auxiliary systems, in kilowatts (kW).\n\nIt can be used to specify consumption due to devices and systems such as AC systems, radio, heating, etc.\n\nSensible Values : 1.7",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "VehicleWeightMatrix": {
            "name": "vehicleWeight",
            "in": "query",
            "description": "Weight of the vehicle in kilograms.",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-parameter-location": "method"
        },
        "VehicleWeight": {
            "name": "vehicleWeight",
            "in": "query",
            "description": "Weight of the vehicle in kilograms.\n\n* It is mandatory if any of the *Efficiency parameters are set.\n\n* It must be strictly positive when used in the context of the Consumption Model. Weight restrictions are considered.\n\n* If no detailed **Consumption Model** is specified and the value of **vehicleWeight** is non-zero, then weight restrictions are considered.\n\n* In all other cases, this parameter is ignored.\n\nSensible Values : for **Combustion Model** : 1600, for **Electric Model** : 1900",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-parameter-location": "method"
        },
        "VehicleMaxSpeed": {
            "name": "vehicleMaxSpeed",
            "in": "query",
            "description": "Maximum speed of the vehicle in km/hour. A value of 0 means that an appropriate value for the vehicle will be determined and applied during route planning. A non-zero value may be overridden during route planning.",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-parameter-location": "method"
        },
        "VehicleLength": {
            "name": "vehicleLength",
            "in": "query",
            "description": "Length of the vehicle in meters. A value of 0 means that length restrictions are not considered.",
            "required": false,
            "type": "number",
            "format": "float",
            "default": 0,
            "x-ms-parameter-location": "method"
        },
        "VehicleHeight": {
            "name": "vehicleHeight",
            "in": "query",
            "description": "Height of the vehicle in meters. A value of 0 means that height restrictions are not considered.",
            "required": false,
            "type": "number",
            "format": "float",
            "default": 0,
            "x-ms-parameter-location": "method"
        },
        "VehicleWidth": {
            "name": "vehicleWidth",
            "in": "query",
            "description": "Width of the vehicle in meters. A value of 0 means that width restrictions are not considered.",
            "required": false,
            "type": "number",
            "format": "float",
            "default": 0,
            "x-ms-parameter-location": "method"
        },
        "VehicleAxleWeight": {
            "name": "vehicleAxleWeight",
            "in": "query",
            "description": "Weight per axle of the vehicle in kg. A value of 0 means that weight restrictions per axle are not considered.",
            "required": false,
            "type": "integer",
            "default": 0,
            "x-ms-parameter-location": "method"
        },
        "DepartAt": {
            "name": "departAt",
            "in": "query",
            "description": "The date and time of departure from the origin point. Departure times apart from now must be specified as a dateTime. When a time zone offset is not specified, it will be assumed to be that of the origin point. The departAt value must be in the future in the date-time format (1996-12-19T16:39:57-08:00).",
            "type": "string",
            "format": "date-time",
            "required": false,
            "x-ms-parameter-location": "method"
        },
        "ArriveAt": {
            "name": "arriveAt",
            "in": "query",
            "description": "The date and time of arrival at the destination point. It must be specified as a dateTime. When a time zone offset is not specified it will be assumed to be that of the destination point. The arriveAt value must be in the future. The arriveAt parameter cannot be used in conjunction with departAt, minDeviationDistance or minDeviationTime.",
            "type": "string",
            "format": "date-time",
            "required": false,
            "x-ms-parameter-location": "method"
        },
        "SectionType": {
            "name": "sectionType",
            "in": "query",
            "description": "Specifies which of the section types is reported in the route response.\n\nFor example if sectionType = pedestrian the sections which are suited for pedestrians only are returned. Multiple types can be used. The default sectionType refers to the travelMode input. By default travelMode is set to car",
            "required": false,
            "type": "string",
            "default": "travelMode",
            "enum": [
                "carTrain",
                "country",
                "ferry",
                "motorway",
                "pedestrian",
                "tollRoad",
                "tollVignette",
                "traffic",
                "travelMode",
                "tunnel"
            ],
            "x-ms-enum": {
                "name": "SectionType",
                "modelAsString": false
            },
            "x-ms-parameter-location": "method"
        },
        "ComputeBestOrder": {
            "name": "computeBestOrder",
            "in": "query",
            "description": "Re-order the route waypoints to reduce the route length. Yields best results when used in conjunction with routeType _shortest_. Possible values are true or false. True computes a better order if possible, but is not allowed to be used in conjunction with maxAlternatives value greater than 0 or in conjunction with circle waypoints. The response will include the optimized waypoint indices and can be used with a maximum of 20 route waypoints. False will use the locations in the given order and not allowed to be used in conjunction with routeRepresentation _none_.",
            "required": false,
            "type": "boolean",
            "default": false,
            "x-ms-parameter-location": "method"
        },
        "RouteRepresentation": {
            "name": "routeRepresentation",
            "in": "query",
            "description": "Specifies the representation of the set of routes provided as response. This parameter value can only be used in conjunction with computeBestOrder=true.",
            "required": false,
            "type": "string",
            "default": "polyline",
            "enum": [
                "polyline",
                "none"
            ],
            "x-ms-enum": {
                "name": "RouteRepresentation",
                "modelAsString": false,
                "values": [
                    {
                        "value": "polyline",
                        "description": "Includes route geometry in the response."
                    },
                    {
                        "value": "none",
                        "description": "Includes only the optimized waypoint indices but does not include the route geometry in the response."
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "ComputeTravelTimeFor": {
            "name": "computeTravelTimeFor",
            "in": "query",
            "description": "Specifies whether to return additional travel times using different types of traffic information (none, historic, live) as well as the default best-estimate travel time.",
            "required": false,
            "type": "string",
            "default": "none",
            "enum": [
                "none",
                "all"
            ],
            "x-ms-enum": {
                "name": "ComputeTravelTimeFor",
                "modelAsString": false,
                "values": [
                    {
                        "value": "none",
                        "description": "Does not compute additional travel times."
                    },
                    {
                        "value": "all",
                        "description": "Computes travel times for all types of traffic information and specifies all results in the fields noTrafficTravelTimeInSeconds, historicTrafficTravelTimeInSeconds and liveTrafficIncidentsTravelTimeInSeconds being included in the summaries in the route response."
                    }
                ]
            },
            "x-ms-parameter-location": "method"
        },
        "VehicleHeading": {
            "name": "vehicleHeading",
            "in": "query",
            "description": "The directional heading of the vehicle in degrees starting at true North and continuing in clockwise direction. North is 0 degrees, east is 90 degrees, south is 180 degrees, west is 270 degrees. Possible values 0-359",
            "required": false,
            "type": "integer",
            "minimum": 0,
            "maximum": 359,
            "x-ms-parameter-location": "method"
        },
        "Report": {
            "name": "report",
            "in": "query",
            "description": "Specifies which data should be reported for diagnosis purposes. The only possible value is _effectiveSettings_. Reports the effective parameters or data used when calling the API. In the case of defaulted parameters the default will be reflected where the parameter was not specified by the caller.",
            "required": false,
            "type": "string",
            "x-ms-parameter-location": "method"
        },
        "Traffic": {
            "name": "traffic",
            "in": "query",
            "description": "Possible values: (true (do consider all available traffic information during routing)), (false (ignore current traffic data during routing). Note that although the current traffic data is ignored during routing, the effect of historic traffic on effective road speeds is still incorporated).",
            "required": false,
            "type": "boolean",
            "default": true,
            "x-ms-parameter-location": "method"
        },
        "AlternativeRouteType": {
            "name": "alternativeType",
            "in": "query",
            "description": "Controls the optimality, with respect to the given planning criteria, of the calculated alternatives compared to the reference route.",
            "required": false,
            "type": "string",
            "default": "anyRoute",
            "enum": [
                "anyRoute",
                "betterRoute"
            ],
            "x-ms-enum": {
                "name": "AlternativeRouteType",
                "modelAsString": false,
                "values": [
                    {
                        "value": "anyRoute",
                        "description": "Allow any alternative route to be returned irrespective of how it compares to the reference route in terms of optimality."
                    },
                    {
                        "value": "betterRoute",
                        "description": "Return an alternative route only if it is better than the reference route according to the given planning criteria."
                    }
                ]
            }
        },
        "RouteInstructionsType": {
            "name": "instructionsType",
            "in": "query",
            "description": "If specified, guidance instructions will be returned. Note that the instructionsType parameter cannot be used in conjunction with routeRepresentation=none",
            "required": false,
            "type": "string",
            "enum": [
                "coded",
                "text",
                "tagged"
            ],
            "x-ms-enum": {
                "name": "RouteInstructionsType",
                "modelAsString": false,
                "values": [
                    {
                        "value": "coded",
                        "description": "Returns raw instruction data without human-readable messages."
                    },
                    {
                        "value": "text",
                        "description": "Returns raw instructions data with human-readable messages in plain text."
                    },
                    {
                        "value": "tagged",
                        "description": "Returns raw instruction data with tagged human-readable messages to permit formatting."
                    }
                ]
            }
        }
    },
    "responses": {
        "202": {
            "description": "Request Accepted: The request has been accepted for processing. Please use the URL in the Location Header to retry or access the results.",
            "schema": {
                "$ref": "#/definitions/Redirect"
            }
        },
        "400": {
            "description": "Bad request: one or more parameters were incorrectly specified or are mutually exclusive.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            }
        },
        "401": {
            "description": "Access denied due to invalid subscription key. Make sure to provide a valid key for an active subscription.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            }
        },
        "403": {
            "description": "Permission, capacity, or authentication issues.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            }
        },
        "404": {
            "description": "Not Found: the requested resource could not be found, but it may be available again in the future.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            }
        },
        "500": {
            "description": "An error occurred while processing the request. Please try again later.",
            "schema": {
                "$ref": "#/definitions/ErrorResponse"
            }
        }
    },
    "paths": {
        "/map/static/{format}": {
            "get": {
                "description": "The static image service renders a user-defined, rectangular image containing a map section using a zoom level from 0 to 20.\n\nThe supported resolution range for the map image is from 1x1 to 8192x8192.\n\nIf you are deciding when to use the static image service over the map tile service, you may want to consider how you would like to interact with the rendered map. If the map contents will be relatively unchanging, a static map is a good choice. If you want to support a lot of zooming, panning and changing of the map content, the map tile service would be a better choice.\n\n_Note_ : Either **center** or **bbox** parameter must be supplied to the API.",
                "operationId": "Render_GetMapImage",
                "x-ms-examples": {
                    "GetMapStaticImage": {
                        "$ref": "./examples/GetMapImage.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/RasterTileFormat"
                    },
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Map layer requested. If layer is set to labels or hybrid, the format should be png.",
                        "required": false,
                        "default": "basic",
                        "type": "string",
                        "enum": [
                            "basic",
                            "hybrid",
                            "labels"
                        ],
                        "x-ms-enum": {
                            "name": "StaticMapLayer",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "basic",
                                    "description": "Returns an image containing all map features including polygons, borders, roads and labels."
                                },
                                {
                                    "value": "hybrid",
                                    "description": "Returns an image containing borders, roads, and labels, and can be overlaid on other tiles (such as satellite imagery) to produce hybrid tiles."
                                },
                                {
                                    "value": "labels",
                                    "description": "Returns an image of just the map\u0027s label information."
                                }
                            ]
                        }
                    },
                    {
                        "name": "style",
                        "in": "query",
                        "description": "Map style to be returned. Currently, only style available is main.",
                        "required": false,
                        "default": "main",
                        "type": "string",
                        "enum": [
                            "main"
                        ]
                    },
                    {
                        "name": "zoom",
                        "in": "query",
                        "description": "Desired zoom level of the map. Zoom value must be in the range: 0-20 (inclusive). Default value is 12.\u003cbr\u003e\u003cbr\u003ePlease see [Zoom Levels and Tile Grid](https://docs.microsoft.com/en-us/azure/location-based-services/zoom-levels-and-tile-grid) for details.",
                        "required": false,
                        "default": 12,
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 20
                    },
                    {
                        "name": "center",
                        "in": "query",
                        "description": "Coordinates of the center point. Format: \u0027lon,lat\u0027. Projection used - EPSG:3857. Longitude range: -180 to 180. Latitude range: -85 to 85. Note: Either center or bbox are required parameters. They are mutually exclusive.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "bbox",
                        "in": "query",
                        "description": "Bounding box. Projection used - EPSG:3857. Format : \u0027minLon, minLat, maxLon, maxLat\u0027. Note: Either bbox or center are required parameters. They are mutually exclusive. It shouldn�t be used with height or width.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "height",
                        "in": "query",
                        "description": "Height of the resulting image in pixels. Range is 1 to 8192. Default is 512. It shouldn�t be used with bbox.",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 8192,
                        "default": 512
                    },
                    {
                        "name": "width",
                        "in": "query",
                        "description": "Width of the resulting image in pixels. Range is 1 to 8192. Default is 512. It shouldn�t be used with bbox.",
                        "required": false,
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 8192,
                        "default": 512
                    },
                    {
                        "$ref": "#/parameters/Language"
                    }
                ],
                "produces": [
                    "image/png",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MapStaticResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/tile/{format}": {
            "get": {
                "description": "Fetches map tiles in vector or raster format typically to be integrated into a new map control or SDK. By default, Azure uses vector map tiles for its web map control (see [Zoom Levels and Tile Grid](https://docs.microsoft.com/en-us/azure/location-based-services/zoom-levels-and-tile-grid))",
                "operationId": "Render_GetMapTile",
                "x-ms-examples": {
                    "GetMapTile": {
                        "$ref": "./examples/GetMapTile.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TileFormat"
                    },
                    {
                        "name": "layer",
                        "in": "query",
                        "description": "Map layer requested. Possible values are basic, hybrid and labels.",
                        "required": true,
                        "enum": [
                            "basic",
                            "hybrid",
                            "labels"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "name": "MapTileLayer",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "basic",
                                    "description": "Returns a tile containing all map features including polygons, borders, roads and labels."
                                },
                                {
                                    "value": "hybrid",
                                    "description": "Returns a tile containing borders, roads, and labels, and can be overlaid on other tiles (such as satellite imagery) to produce hybrid tiles."
                                },
                                {
                                    "value": "labels",
                                    "description": "Returns a tile of just the map\u0027s label information."
                                }
                            ]
                        }
                    },
                    {
                        "name": "style",
                        "in": "query",
                        "description": "Map style to be returned. Currently there is only one style, e.g. main.",
                        "required": true,
                        "type": "string",
                        "enum": [
                            "main"
                        ],
                        "x-ms-enum": {
                            "name": "MapTileStyle",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": "main",
                                    "description": "Azure Maps main style"
                                }
                            ]
                        }
                    },
                    {
                        "name": "zoom",
                        "in": "query",
                        "description": "Zoom level for the desired tile. For _raster_ tiles, value must be in the range: 0-18 (inclusive). For _vector_ tiles, value must be in the range: 0-20 (inclusive).\u003cbr\u003e\u003cbr\u003ePlease see [Zoom Levels and Tile Grid](https://docs.microsoft.com/en-us/azure/location-based-services/zoom-levels-and-tile-grid) for details.",
                        "required": true,
                        "type": "integer",
                        "x-ms-parameter-location": "method"
                    },
                    {
                        "$ref": "#/parameters/xTileIndex"
                    },
                    {
                        "$ref": "#/parameters/yTileIndex"
                    },
                    {
                        "name": "tileSize",
                        "in": "query",
                        "description": "The size of the returned map tile in pixels.",
                        "required": false,
                        "type": "integer",
                        "default": 256,
                        "enum": [
                            256,
                            512
                        ],
                        "x-ms-enum": {
                            "name": "MapTileSize",
                            "modelAsString": false,
                            "values": [
                                {
                                    "value": 256,
                                    "description": "Return a 256 by 256 pixel tile."
                                },
                                {
                                    "value": 512,
                                    "description": "Return a 512 by 512 pixel tile."
                                }
                            ]
                        }
                    },
                    {
                        "$ref": "#/parameters/Language"
                    }
                ],
                "produces": [
                    "image/png",
                    "image/pbf",
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/MapTileResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/copyright/caption/{format}": {
            "get": {
                "description": "Returns the a copyright string for the respective map supplier as a short string. Commonly used in scenarios where map tiles are wrapped in a new map control or SDK",
                "operationId": "Render_GetCopyrightCaption",
                "x-ms-examples": {
                    "GetCopyrightCaption": {
                        "$ref": "./examples/GetCopyrightCaption.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CopyrightCaptionResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/copyright/bounding/{format}": {
            "get": {
                "description": "Returns copyright information for a given bounding box. Bounding-box requests should specify the minimum and maximum longitude and latitude (EPSG-3857) coordinates",
                "operationId": "Render_GetCopyrightFromBoundingBox",
                "x-ms-examples": {
                    "GetCopyrightBounding": {
                        "$ref": "./examples/GetCopyrightFromBoundingBox.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "name": "mincoordinates",
                        "in": "query",
                        "description": "Minimum coordinates of bounding box in latitude longitude coordinate system. E.g. 52.41064,4.84228",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "maxcoordinates",
                        "in": "query",
                        "description": "Maximum coordinates of bounding box in latitude longitude coordinate system. E.g. 52.41064,4.84228",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/Text"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CopyrightBoundingResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/copyright/tile/{format}": {
            "get": {
                "description": "Returns the copyright information for a particular tile. To obtain the copyright information for a particular tile, the request should specify the tile\u0027s zoom level and x and y coordinates.",
                "operationId": "Render_GetCopyrightForTile",
                "x-ms-examples": {
                    "GetCopyrightTile": {
                        "$ref": "./examples/GetCopyrightForTile.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/RasterZoom"
                    },
                    {
                        "$ref": "#/parameters/xTileIndex"
                    },
                    {
                        "$ref": "#/parameters/yTileIndex"
                    },
                    {
                        "$ref": "#/parameters/Text"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CopyrightTileResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/map/copyright/world/{format}": {
            "get": {
                "description": "Returns the copyright information for the whole world. To obtain the default copyright information for the whole world, do not specify a tile or bounding box.",
                "operationId": "Render_GetCopyrightForWorld",
                "x-ms-examples": {
                    "GetCopyrightWorld": {
                        "$ref": "./examples/GetCopyrightForWorld.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Text"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CopyrightWorldResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/fuzzy/{format}": {
            "get": {
                "description": "**Free Form Search**\u003cbr\u003e\u003cbr\u003eThe basic default API is Free Form Search which handles the most fuzzy of inputs handling any combination of address or POI tokens. This search API is the canonical \u0027single line search\u0027. The Free Form Search API is a seamless combination of POI search and geocoding. The API can also be weighted with a contextual position (lat./lon. pair), or fully constrained by a coordinate and radius, or it can be executed more generally without any geo biasing anchor point.\u003cbr\u003e\u003cbr\u003eWe strongly advise you to use the \u0027countrySet\u0027 parameter to specify only the countries for which your application needs coverage, as the default behavior will be to search the entire world, potentially returning unnecessary results.\u003cbr\u003e\u003cbr\u003e E.g.: `countrySet`=US,FR \u003cbr\u003e\u003cbr\u003ePlease see [Search Coverage](https://docs.microsoft.com/en-us/azure/location-based-services/geocoding-coverage) for a complete list of all the supported countries.\u003cbr\u003e\u003cbr\u003eMost Search queries default to `maxFuzzyLevel`=2 to gain performance and also reduce unusual results. This new default can be overridden as needed per request by passing in the query param `maxFuzzyLevel`=3 or 4.",
                "operationId": "Search_GetSearchFuzzy",
                "x-ms-examples": {
                    "Search City Seattle": {
                        "$ref": "./examples/GetSearchFuzzy.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "The applicable query string (e.g., \"seattle\", \"pizza\"). Can _also_ be specified as a comma separated string composed by latitude followed by longitude (e.g., \"47.641268, -122.125679\"). Must be properly URL encoded.",
                        "required": true,
                        "type": "string",
                        "x-ms-parameter-location": "method"
                    },
                    {
                        "$ref": "#/parameters/Typeahead"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "ofs",
                        "in": "query",
                        "description": "Starting offset of the returned results within the full result set. Default: 0, minimum: 0 and maximum: 1900",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0,
                        "maximum": 1900
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLat"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxTopLeft"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxBottomRight"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "$ref": "#/parameters/ExtendedPostalCodesForWith6Values"
                    },
                    {
                        "name": "minFuzzyLevel",
                        "in": "query",
                        "description": "Minimum fuzzyness level to be used. Default: 1, minimum: 1 and maximum: 4",
                        "required": false,
                        "type": "integer",
                        "default": 1,
                        "minimum": 1,
                        "maximum": 4
                    },
                    {
                        "name": "maxFuzzyLevel",
                        "in": "query",
                        "description": "Maximum fuzzyness level to be used. Default: 2, minimum: 1 and maximum: 4",
                        "required": false,
                        "type": "integer",
                        "default": 2,
                        "minimum": 1,
                        "maximum": 4
                    },
                    {
                        "$ref": "#/parameters/SearchIndexSet"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchFuzzyResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/poi/{format}": {
            "get": {
                "description": "**Get POI by Name**\u003cbr\u003e\u003cbr\u003eIf your search use case only requires POI results, you may use the POI endpoint for searching. This endpoint will only return POI results.",
                "operationId": "Search_GetSearchPOI",
                "x-ms-examples": {
                    "Search for juice bars within 5 miles of Seattle Downtown and limit the response to 5 results": {
                        "$ref": "./examples/GetSearchPOI.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "$ref": "#/parameters/Typeahead"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "ofs",
                        "in": "query",
                        "description": "Starting offset of the returned results within the full result set. Default: 0, minimum: 0 and maximum: 1900",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0,
                        "maximum": 1900
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLat"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxTopLeft"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxBottomRight"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "$ref": "#/parameters/ExtendedPostalCodesForWith1Value"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchPoiResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/nearby/{format}": {
            "get": {
                "description": "**Nearby Search**\u003cbr\u003e\u003cbr\u003eIf you have a use case for only retrieving POI results around a specific location, the nearby search method may be the right choice. This endpoint will only return POI results, and does not take in a search query parameter.",
                "operationId": "Search_GetSearchNearby",
                "x-ms-examples": {
                    "Search for any points of interest (POI) within 5 miles of Manhattan NY and return the top 10 results": {
                        "$ref": "./examples/GetSearchNearby.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/RequiredBiasLat"
                    },
                    {
                        "$ref": "#/parameters/RequiredBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "ofs",
                        "in": "query",
                        "description": "Starting offset of returned results. Max value is 1900.",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "minimum": 0,
                        "maximum": 1900
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "name": "radius",
                        "in": "query",
                        "description": "The radius in meters to for the results to be constrained to the defined area, Min value is 1, Max Value is 50000.",
                        "required": false,
                        "type": "number"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "$ref": "#/parameters/ExtendedPostalCodesForWith6Values"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchNearbyResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/poi/category/{format}": {
            "get": {
                "description": "**Get POI by Category**\u003cbr\u003e\u003cbr\u003eIf your search use case only requires POI results filtered by category, you may use the category endpoint. This endpoint will only return POI results which are categorized as specified.\u003cbr\u003e\u003cbr\u003eList of available categories can be found [here](https://docs.microsoft.com/en-us/azure/azure-maps/search-categories).",
                "operationId": "Search_GetSearchPOICategory",
                "x-ms-examples": {
                    "Search for atm\u0027s within 2 miles of Times Square NY and return the top 3 results": {
                        "$ref": "./examples/GetSearchPOICategory.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "$ref": "#/parameters/Typeahead"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "multiplier",
                        "in": "query",
                        "description": "Multiplies the limit by this value to gather more candidate POIs, which will then be sorted by drive distance, returning only the top candidates according to the limit.",
                        "required": false,
                        "type": "integer",
                        "default": 2
                    },
                    {
                        "name": "routingTimeout",
                        "in": "query",
                        "description": "Number of milliseconds routing engine can take to give the results.",
                        "required": false,
                        "type": "integer",
                        "default": 4000
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLat"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxTopLeft"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxBottomRight"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "$ref": "#/parameters/ExtendedPostalCodesForWith6Values"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchPoiCategoryResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/address/{format}": {
            "get": {
                "description": "**Address Geocoding**\u003cbr\u003e\u003cbr\u003eIn many cases, the complete search service might be too much, for instance if you are only interested in traditional geocoding. Search can also be accessed for address look up exclusively. The geocoding is performed by hitting the geocode endpoint with just the address or partial address in question. The geocoding search index will be queried for everything above the street level data. No POIs will be returned. Note that the geocoder is very tolerant of typos and incomplete addresses. It will also handle everything from exact street addresses or street or intersections as well as higher level geographies such as city centers, counties, states etc.",
                "operationId": "Search_GetSearchAddress",
                "x-ms-examples": {
                    "Search detail address 15127 NE 24th Street, Redmond, WA 98052": {
                        "$ref": "./examples/GetSearchAddress.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Query"
                    },
                    {
                        "$ref": "#/parameters/Typeahead"
                    },
                    {
                        "$ref": "#/parameters/Limit"
                    },
                    {
                        "name": "ofs",
                        "in": "query",
                        "description": "Starting offset of the returned results within the full result set.",
                        "required": false,
                        "type": "integer",
                        "minimum": 0,
                        "default": 0
                    },
                    {
                        "$ref": "#/parameters/CountrySet"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLat"
                    },
                    {
                        "$ref": "#/parameters/OptionalBiasLon"
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxTopLeft"
                    },
                    {
                        "$ref": "#/parameters/BoundingBoxBottomRight"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    },
                    {
                        "$ref": "#/parameters/ExtendedPostalCodesForWith6Values"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchAddressResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/address/reverse/{format}": {
            "get": {
                "description": "**Reverse Geocode to an Address**\u003cbr\u003e\u003cbr\u003eThere may be times when you need to translate a coordinate (example: 37.786505, -122.3862) into a human understandable street address. Most often this is needed in tracking applications where you receive a GPS feed from the device or asset and wish to know what address where the coordinate is located. This endpoint will return address information for a given coordinate.",
                "operationId": "Search_GetSearchAddressReverse",
                "x-ms-examples": {
                    "GetSearchAddressReverse": {
                        "$ref": "./examples/GetSearchAddressReverse.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Position"
                    },
                    {
                        "name": "returnSpeedLimit",
                        "in": "query",
                        "description": "Boolean. To enable return of the posted speedlimit",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "heading",
                        "in": "query",
                        "description": "The directional heading of the vehicle in degrees, for travel along a segment of roadway. 0 is North, 90 is East and so on, values range from -360 to 360. The precision can include upto one decimal place",
                        "required": false,
                        "type": "number",
                        "minimum": -360.0,
                        "maximum": 360.0
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "name": "number",
                        "in": "query",
                        "description": "If a number is sent in along with the request, the response may include the side of the street (Left/Right) and also an offset position for that number",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "returnRoadUse",
                        "in": "query",
                        "description": "Boolean. To enable return of the road use array for reversegeocodes at street level",
                        "required": false,
                        "type": "boolean",
                        "default": false
                    },
                    {
                        "name": "roadUse",
                        "in": "query",
                        "description": "To restrict reversegeocodes to a certain type of roaduse. The road use array for reversegeocodes can be one or more of LimitedAccess, Arterial, Terminal, Ramp, Rotary, LocalStreet",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchAddressReverseResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/address/reverse/crossStreet/{format}": {
            "get": {
                "description": "**Reverse Geocode to a Cross Street**\u003cbr\u003e\u003cbr\u003eThere may be times when you need to translate a coordinate (example: 37.786505, -122.3862) into a human understandable cross street. Most often this is needed in tracking applications where you receive a GPS feed from the device or asset and wish to know what address where the coordinate is located.\u003cbr\u003e\u003cbr\u003eThis endpoint will return cross street information for a given coordinate.",
                "operationId": "Search_GetSearchAddressReverseCrossStreet",
                "x-ms-examples": {
                    "GetSearchAddressReverseCrossStreet": {
                        "$ref": "./examples/GetSearchAddressReverseCrossStreet.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionKey"
                    },
                    {
                        "$ref": "#/parameters/ApiVersion"
                    },
                    {
                        "$ref": "#/parameters/TextFormat"
                    },
                    {
                        "$ref": "#/parameters/Position"
                    },
                    {
                        "name": "heading",
                        "in": "query",
                        "description": "The directional heading of the vehicle in degrees, for travel along a segment of roadway. 0 is North, 90 is East and so on, values range from -360 to 360. The precision can include upto one decimal place",
                        "required": false,
                        "type": "number",
                        "minimum": -360.0,
                        "maximum": 360.0
                    },
                    {
                        "$ref": "#/parameters/Radius"
                    },
                    {
                        "$ref": "#/parameters/Language"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SearchAddressReverseCrossStreetResult"
                        }
                    },
                    "400": {
                        "$ref": "#/responses/400"
                    },
                    "401": {
                        "$ref": "#/responses/401"
                    },
                    "403": {
                        "$ref": "#/responses/403"
                    },
                    "404": {
                        "$ref": "#/responses/404"
                    },
                    "500": {
                        "$ref": "#/responses/500"
                    }
                }
            }
        },
        "/search/address/structured/{format}": {
            "get": {
[...]
