{
  "swagger": "2.0",
  "info": {
    "title": "NetworkManagementClient",
    "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
    "version": "2016-12-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Network/serviceCommunities": {
      "get": {
        "tags": [
          "ServiceCommunities"
        ],
        "operationId": "ServiceCommunities_List",
        "x-ms-examples": {
          "ServiceCommunityList": { "$ref": "./examples/ServiceCommunityList.json" }
        },
        "description": "Gets all the available service communities.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request successful. The operation returns a list of ServiceCommunity resources.",
            "schema": {
              "$ref": "#/definitions/ServiceCommunityListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "BGPCommunity": {
      "properties": {
        "region": {
          "type": "string",
          "description": "The region which the service support. For microsoft services, e.g. O365/CRM, it will be global, For public services, e.g. storage, it will be the region customer is using."
        },
        "communityName": {
          "type": "string",
          "description": "The name of the bgp community."
        },
        "communityVaule": {
          "type": "string",
          "description": "The value of the bgp community. It is 2 byte integer:2 byte integer, e.g. 12076:5010. All bgp community value are published publicly."
        },
        "communityPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The prefixes that the bgp community contains."
        }
      },
      "description": "Contains bgp community information offered in Service Community resources."
    },
    "ServiceCommunityPropertiesFormat": {
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "For using certain microsoft service, customer needs to go through WARM room to get special permission. If the customer subscription is not allowed to use given service, the state will be disabled, otherwise it will be enabled.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "State",
            "modelAsString": true
          }
        },
        "communities": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BGPCommunity"
          },
          "description": "Get a list of bgp communities."
        }
      },
      "description": "Properties of Service Community."
    },
    "ServiceCommunity": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ServiceCommunityPropertiesFormat"
        }
      },
      "allOf": [
        {
          "$ref": "./network.json#/definitions/Resource"
        }
      ],
      "description": "A service community object."
    },
    "ServiceCommunityListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ServiceCommunity"
          },
          "description": "A list of service community resources."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for the ListServiceCommunity API service call."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    }
  }
}
