{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2026-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/agents/{agentName}/connectors": {
      "get": {
        "tags": [
          "AgentConnectors"
        ],
        "summary": "Get all the connectors for an Agent.",
        "operationId": "AgentsConnectors_ListByAgent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "description": "The name of the Agent.",
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]{0,30}[A-Za-z0-9])$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentDataConnectorCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List agents by subscription": {
            "$ref": "./examples/AgentsConnectors_ListByAgent.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/agents/{agentName}/connectors/{dataConnectorName}": {
      "get": {
        "tags": [
          "AgentConnectors"
        ],
        "summary": "Get the properties of an Agent Connector used to connect to data sources.",
        "operationId": "AgentsConnectors_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]{0,30}[A-Za-z0-9])$"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]{0,30}[A-Za-z0-9])$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentDataConnector"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get agent connector": {
            "$ref": "./examples/AgentsConnectors_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AgentConnectors"
        ],
        "summary": "Creates or updates an Agent Connector used to connect to data sources.",
        "operationId": "AgentsConnectors_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "agentDataConnectorEnvelope",
            "in": "body",
            "description": "Details of the agent data connector.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AgentDataConnector"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentDataConnector"
            }
          },
          "201": {
            "description": "Created",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/AgentDataConnector"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an agent data connector": {
            "$ref": "./examples/AgentsConnectors_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AgentConnectors"
        ],
        "summary": "Delete an Agent Connector.",
        "operationId": "AgentsConnectors_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete operation is accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an agent data connector": {
            "$ref": "./examples/AgentsConnectors_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/agents/{agentName}/connectors/{dataConnectorName}/listSecrets": {
      "post": {
        "tags": [
          "AgentConnectors"
        ],
        "summary": "Get a Data Connector with secrets from an Agent.",
        "operationId": "AgentsConnectors_ListSecrets",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]{0,30}[A-Za-z0-9])$"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]{0,30}[A-Za-z0-9])$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentDataConnector"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List an agent data connector with secrets": {
            "$ref": "./examples/AgentsConnectors_ListSecrets.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/agents/{agentName}/listConnectorsWithSecrets": {
      "post": {
        "tags": [
          "AgentConnectors"
        ],
        "summary": "List all Data Connectors with secrets from an Agent.",
        "operationId": "AgentsConnectors_ListWithSecretsByAgent",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]{0,30}[A-Za-z0-9])$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentDataConnectorCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all agent data connectors with secrets from an agent": {
            "$ref": "./examples/AgentsConnectors_listConnectorsWithSecretsByAgent.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AgentDataConnectorCollection": {
      "description": "Collection of AgentDataConnector",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of AgentDataConnector",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AgentDataConnector"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AgentDataConnector": {
      "description": "Agent Data Connector resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Properties of the Agent Data Connector.",
          "$ref": "./CommonDefinitions.json#/definitions/AgentDataConnectorProperties"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
