{
  "swagger": "2.0",
  "info": {
    "title": "ContainerApps API Client",
    "version": "2026-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/agentSpaces/{agentSpaceName}/connectors": {
      "get": {
        "tags": [
          "AgentSpacesConnectors"
        ],
        "summary": "Get all the connectors for an Agent Space.",
        "operationId": "AgentSpacesConnectors_ListByAgentSpace",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentSpaceName",
            "in": "path",
            "description": "Name of the agent space.",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentSpaceDataConnectorCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List agent space connectors": {
            "$ref": "./examples/AgentSpacesConnectors_ListByAgentSpace.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/agentSpaces/{agentSpaceName}/connectors/{dataConnectorName}": {
      "get": {
        "tags": [
          "AgentSpacesConnectors"
        ],
        "summary": "Get the properties of an Agent Space Connector used to connect to data sources.",
        "operationId": "AgentSpacesConnectors_Get",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentSpaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])$"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]{0,30}[A-Za-z0-9])$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentSpaceDataConnector"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get an agent space connector": {
            "$ref": "./examples/AgentSpacesConnectors_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "AgentSpacesConnectors"
        ],
        "summary": "Creates or updates an Agent Space Connector used to connect to data sources.",
        "operationId": "AgentSpacesConnectors_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentSpaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "agentSpaceDataConnectorEnvelope",
            "in": "body",
            "description": "Agent Space Data Connector to be created or updated",
            "schema": {
              "$ref": "#/definitions/AgentSpaceDataConnector"
            }
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentSpaceDataConnector"
            }
          },
          "201": {
            "description": "Created",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string"
              }
            },
            "schema": {
              "$ref": "#/definitions/AgentSpaceDataConnector"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an agent space connector": {
            "$ref": "./examples/AgentSpacesConnectors_CreateOrUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AgentSpacesConnectors"
        ],
        "summary": "Delete an Agent Space Connector.",
        "operationId": "AgentSpacesConnectors_Delete",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentSpaceName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Delete operation is accepted",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an agent space connector": {
            "$ref": "./examples/AgentSpacesConnectors_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/agentSpaces/{agentSpaceName}/connectors/{dataConnectorName}/listSecrets": {
      "post": {
        "tags": [
          ""
        ],
        "summary": "List secrets for an Agent Space Connector.",
        "operationId": "AgentSpacesConnectors_ListSecrets",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentSpaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])$"
          },
          {
            "name": "dataConnectorName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]{0,30}[A-Za-z0-9])$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentSpaceDataConnector"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List secrets for an agent space connector": {
            "$ref": "./examples/AgentSpacesConnectors_ListSecrets.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/agentSpaces/{agentSpaceName}/listConnectorsWithSecrets": {
      "post": {
        "tags": [
          "AgentSpacesConnectors"
        ],
        "summary": "List all secrets for AgentSpace Connectors.",
        "operationId": "AgentSpacesConnectors_ListAllSecrets",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "agentSpaceName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z]([-A-Za-z0-9]*[A-Za-z0-9])$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AgentSpaceDataConnectorCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all secrets for agent space connectors": {
            "$ref": "./examples/AgentSpacesConnectors_ListConnectorsWithSecrets.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AgentSpaceDataConnectorCollection": {
      "description": "Collection of AgentSpaceDataConnector",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of AgentSpaceDataConnector",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AgentSpaceDataConnector"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AgentSpaceDataConnector": {
      "description": "Agent Space Data Connector resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "Properties of the Agent Space Data Connector.",
          "$ref": "./CommonDefinitions.json#/definitions/AgentSpaceDataConnectorProperties"
        }
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
