{
  "swagger": "2.0",
  "info": {
    "version": "2023-03-15-beta",
    "title": "GitHub.Network client",
    "description": "GitHub.Network Resource Provider REST API version 2023-03-15-beta"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/GitHub.Network/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Retrieves a list of available API operations",
        "summary": "Retrieves a list of available API operations under this Resource Provider.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of operations under GitHub.Network resource provider.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperationsGet": {
            "$ref": "./examples/OperationGroupGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Network/networkSettings/{networkSettingsName}": {
      "get": {
        "tags": [
          "networkSettings"
        ],
        "summary": "Retrieves information about a GitHub.Network networkSettings resource.",
        "description": "Retrieves the properties of a GitHub.Network networkSettings resource.",
        "operationId": "networkSettings_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the GitHub.Network resource",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (GitHub.Network resource does not exist.)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsGet": {
            "$ref": "./examples/ResourceGet_example.json"
          }
        }
      },
      "delete": {
        "tags": [
          "networkSettings"
        ],
        "summary": "Deletes a GitHub.Network networkSettings resource.",
        "description": "Deletes an existing GitHub.Network networkSettings resource.",
        "operationId": "networkSettings_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingsNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the GitHub.Network networkSettings resource is deleted."
          },
          "204": {
            "description": "The request was successful; GitHub.Network networkSettings resource does not exist."
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 409 - Conflict(GitHub.Network networkSettings resource is in a non-terminal state due to an ongoing operation.)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsDelete": {
            "$ref": "./examples/ResourceDelete_example.json"
          }
        }
      },
      "put": {
        "tags": [
          "networkSettings"
        ],
        "summary": "Creates a GitHub.Network networkSettings resource.",
        "description": "Creates a GitHub.Network networkSettings resource with the specified create parameters.",
        "operationId": "networkSettings_Create",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingsNameParameter"
          },
          {
            "name": "networkSettings",
            "in": "body",
            "description": "GitHub.Network networkSettings resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the GitHub.Network resource",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource",
              "x-ms-azure-resource": true
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (GitHub.Network networkSettings resource could not be created/updated)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsCreate": {
            "$ref": "./examples/ResourceCreate_example.json"
          }
        }
      },
      "patch": {
        "tags": [
          "networkSettings"
        ],
        "summary": "Updates a GitHub.Network networkSettings resource.",
        "description": "Updates the properties of an existing GitHub.Network networkSettings resource with the specified update parameters.",
        "operationId": "networkSettings_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/NetworkSettingsNameParameter"
          },
          {
            "name": "networkSettings",
            "in": "body",
            "description": "Parameters for updating the GitHub.Network resource.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the updated GitHub.Network networkSettings resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResource",
              "x-ms-azure-resource": true
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (GitHub.Network networkSettings resource does not exist.)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "networkSettingsUpdate": {
            "$ref": "./examples/ResourceUpdate_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/GitHub.Network/networkSettings": {
      "get": {
        "tags": [
          "networkSettings"
        ],
        "summary": "Retrieves information about all GitHub.Network networkSettings resources under the given subscription and resource group",
        "description": "Retrieves the properties of all GitHub.Network networkSettings resources.",
        "operationId": "networkSettings_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the GitHub.Network networkSettings resource",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResourceList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (GitHub.Network networkSettings resource does not exist.)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "networkSettingsListGet": {
            "$ref": "./examples/ResourceListGet_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/GitHub.Network/networkSettings": {
      "get": {
        "tags": [
          "networkSettings"
        ],
        "summary": "Retrieves information about all GitHub.Network networkSettings resources under the given subscription",
        "description": "Retrieves the properties of all GitHub.Network networkSettings resources.",
        "operationId": "networkSettings_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/PropertyQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; response contains the list of GitHub.Network networkSettings resources",
            "schema": {
              "$ref": "#/definitions/NetworkSettingsResourceList"
            }
          },
          "default": {
            "description": "Error response describing the reason for operation failure. 404 - NotFound (GitHub.Network networkSettings resource does not exist.)",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "networkSettingsListBySub": {
            "$ref": "./examples/ResourceListBySub_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "description": "Provisioning status of the managed application.",
      "readOnly": true,
      "enum": [
        "Failed",
        "Succeeded",
        "Canceled",
        "Accepted"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "NetworkSettingsResourceProperties": {
      "description": "NetworkSettings resource-specific properties.",
      "type": "object",
      "properties": {
        "subnetId": {
          "description": "Specifies a subnet ID for vnet-injection.",
          "type": "string"
        },
        "organizationId": {
          "description": "Specifies the organization ID to be linked to the Azure subscription.",
          "type": "string"
        },
        "targetServices": {
          "description": "Specifies a comma-separated list of service names the resource is associated with.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "provisioningState": {
          "readOnly": true,
          "$ref": "#/definitions/ProvisioningState",
          "description": "The managed application provisioning state."
        }
      }
    },
    "NetworkSettingsResource": {
      "description": "GitHub.Network networkSettings resource. Represents the network settings needed for vnet injection.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/Identity",
          "description": "The managed identity associated with the resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkSettingsResourceProperties"
        }
      }
    },
    "NetworkSettingsResourcePatch": {
      "description": "GitHub.Network networkSettings patch resource. Represents a patch version of the networkSettings resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/Identity",
          "description": "The managed identity associated with the resource."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkSettingsResourceProperties"
        }
      }
    },
    "NetworkSettingsResourceList": {
      "description": "Object that includes an array of GitHub.Network resources and a possible link for next set.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of GitHub.Network resources",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSettingsResource"
          }
        },
        "nextLink": {
          "description": "The URL the client should use to fetch the next page (per server side paging).",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
      "x-ms-parameter-location": "client"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "maxLength": 90,
      "minLength": 1,
      "x-ms-parameter-location": "method"
    },
    "NetworkSettingsNameParameter": {
      "name": "networkSettingsName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Name of the GitHub.Network resource",
      "pattern": "^[a-zA-Z0-9]",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request.",
      "x-ms-parameter-location": "client"
    },
    "PropertyQueryParameter": {
      "name": "propertyQuery",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "The organization ID to filter resources for.",
      "x-ms-parameter-location": "client"
    }
  }
}
