{
  "swagger": "2.0",
  "info": {
    "title": "Workloads Client",
    "version": "2023-10-01-preview",
    "description": "Workloads client provides access to various workload operations.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SAPVirtualInstances"
    },
    {
      "name": "SAPCentralServerInstances"
    },
    {
      "name": "SAPDatabaseInstances"
    },
    {
      "name": "SAPApplicationServerInstances"
    }
  ],
  "paths": {
    "/providers/Microsoft.Workloads/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getAvailabilityZoneDetails": {
      "post": {
        "operationId": "SAPAvailabilityZoneDetails",
        "description": "Get the recommended SAP Availability Zone Pair Details for your region.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "SAPAvailabilityZoneDetails",
            "in": "body",
            "description": "SAP Availability Zone Details Request body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SAPAvailabilityZoneDetailsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPAvailabilityZoneDetailsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPAvailabilityZoneDetails_eastus": {
            "$ref": "./examples/SAPAvailabilityZoneDetails_eastus.json"
          },
          "SAPAvailabilityZoneDetails_northeurope": {
            "$ref": "./examples/SAPAvailabilityZoneDetails_northeurope.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getDiskConfigurations": {
      "post": {
        "operationId": "SAPDiskConfigurations",
        "description": "Get the SAP Disk Configuration Layout prod/non-prod SAP System.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "SAPDiskConfigurations",
            "in": "body",
            "description": "SAP Disk Configurations Request body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SAPDiskConfigurationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPDiskConfigurationsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDiskConfigurations_NonProd": {
            "$ref": "./examples/SAPDiskConfigurations_NonProd.json"
          },
          "SAPDiskConfigurations_Prod": {
            "$ref": "./examples/SAPDiskConfigurations_Prod.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getSapSupportedSku": {
      "post": {
        "operationId": "SAPSupportedSku",
        "description": "Get a list of SAP supported SKUs for ASCS, Application and Database tier.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "SAPSupportedSku",
            "in": "body",
            "description": "SAP Supported SKU Request body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SAPSupportedSkusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPSupportedResourceSkusResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPSupportedSkus_Distributed": {
            "$ref": "./examples/SAPSupportedSkus_Distributed.json"
          },
          "SAPSupportedSkus_DistributedHA_AvSet": {
            "$ref": "./examples/SAPSupportedSkus_DistributedHA_AvSet.json"
          },
          "SAPSupportedSkus_DistributedHA_AvZone": {
            "$ref": "./examples/SAPSupportedSkus_DistributedHA_AvZone.json"
          },
          "SAPSupportedSkus_SingleServer": {
            "$ref": "./examples/SAPSupportedSkus_SingleServer.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/locations/{location}/sapVirtualInstanceMetadata/default/getSizingRecommendations": {
      "post": {
        "operationId": "SAPSizingRecommendations",
        "description": "Get SAP sizing recommendations by providing input SAPS for application tier and memory required for database tier",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "SAPSizingRecommendation",
            "in": "body",
            "description": "SAP Sizing Recommendation Request body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SAPSizingRecommendationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPSizingRecommendationResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPSizingRecommendations_S4HANA_Distributed": {
            "$ref": "./examples/SAPSizingRecommendations_S4HANA_Distributed.json"
          },
          "SAPSizingRecommendations_S4HANA_DistributedHA_AvSet": {
            "$ref": "./examples/SAPSizingRecommendations_S4HANA_HA_AvSet.json"
          },
          "SAPSizingRecommendations_S4HANA_DistributedHA_AvZone": {
            "$ref": "./examples/SAPSizingRecommendations_S4HANA_HA_AvZone.json"
          },
          "SAPSizingRecommendations_S4HANA_SingleServer": {
            "$ref": "./examples/SAPSizingRecommendations_S4HANA_SingleServer.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Workloads/sapVirtualInstances": {
      "get": {
        "operationId": "SAPVirtualInstances_ListBySubscription",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Gets all Virtual Instances for SAP solutions resources in a Subscription.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_ListBySubscription": {
            "$ref": "./examples/SAPVirtualInstances_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances": {
      "get": {
        "operationId": "SAPVirtualInstances_ListByResourceGroup",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Gets all Virtual Instances for SAP solutions resources in a Resource Group.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_ListByResourceGroup": {
            "$ref": "./examples/SAPVirtualInstances_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}": {
      "get": {
        "operationId": "SAPVirtualInstances_Get",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Gets a Virtual Instance for SAP solutions resource",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances Get With ACSS Installation Blocked": {
            "$ref": "./examples/SAPVirtualInstances_Get_Sap_Virtual_Instances_Get_With_Acss_Installation_Blocked.json"
          },
          "SAPVirtualInstances_Get": {
            "$ref": "./examples/SAPVirtualInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SAPVirtualInstances_Create",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Creates a Virtual Instance for SAP solutions (VIS) resource",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Virtual Instance for SAP solutions resource request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SAPVirtualInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "201": {
            "description": "Resource 'SAPVirtualInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Infrastructure (with OS configuration) with Azure Compute Gallery Image": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_With_Azure_Compute_Gallery_Image.json"
          },
          "Create Infrastructure (with OS configuration) with custom resource names for Distributed System": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_With_Custom_Resource_Names_For_Distributed_System.json"
          },
          "Create Infrastructure (with OS configuration) with custom resource names for HA System with Availability Set": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_With_Custom_Resource_Names_For_Ha_System_With_Availability_Set.json"
          },
          "Create Infrastructure (with OS configuration) with custom resource names for HA system with Availability Zone": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_With_Custom_Resource_Names_For_Ha_System_With_Availability_Zone.json"
          },
          "Create Infrastructure (with OS configuration) with custom resource names for Single Server System": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_With_Custom_Resource_Names_For_Single_Server_System.json"
          },
          "Create Infrastructure (with OS configuration) with trusted access enabled": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_With_Trusted_Access_Enabled.json"
          },
          "Create Infrastructure only for Distributed System": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_Only_For_Distributed_System.json"
          },
          "Create Infrastructure only for HA System with Availability Set": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_Only_For_Ha_System_With_Availability_Set.json"
          },
          "Create Infrastructure only for HA System with Availability Zone": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_Only_For_Ha_System_With_Availability_Zone.json"
          },
          "Create Infrastructure only for Single Server System": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_Only_For_Single_Server_System.json"
          },
          "Create Infrastructure with Disk and OS configuration for Distributed System (Recommended)": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Disk_And_Os_Configuration_For_Distributed_System_Recommended.json"
          },
          "Create Infrastructure with Disk and OS configuration for HA System with Availability Set (Recommended)": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Disk_And_Os_Configuration_For_Ha_System_With_Availability_Set_Recommended.json"
          },
          "Create Infrastructure with Disk and OS configuration for HA System with Availability Zone (Recommended)": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Disk_And_Os_Configuration_For_Ha_System_With_Availability_Zone_Recommended.json"
          },
          "Create Infrastructure with Disk and OS configurations for Single Server System (Recommended)": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Disk_And_Os_Configurations_For_Single_Server_System_Recommended.json"
          },
          "Create Infrastructure with OS configuration for Distributed System (Recommended)": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_For_Distributed_System_Recommended.json"
          },
          "Create Infrastructure with OS configuration for HA System with Availability Set (Recommended)": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_For_Ha_System_With_Availability_Set_Recommended.json"
          },
          "Create Infrastructure with OS configuration for HA System with Availability Zone (Recommended)": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_For_Ha_System_With_Availability_Zone_Recommended.json"
          },
          "Create Infrastructure with OS configuration for Single Server System (Recommended)": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_Os_Configuration_For_Single_Server_System_Recommended.json"
          },
          "Create Infrastructure with a new SAP Transport Directory Fileshare": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_A_New_Sap_Transport_Directory_Fileshare.json"
          },
          "Create Infrastructure with an existing SAP Transport Directory Fileshare": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_With_An_Existing_Sap_Transport_Directory_Fileshare.json"
          },
          "Create Infrastructure without a SAP Transport Directory Fileshare": {
            "$ref": "./examples/SAPVirtualInstances_Create_Create_Infrastructure_Without_A_Sap_Transport_Directory_Fileshare.json"
          },
          "Detect SAP Software Installation on a Distributed System": {
            "$ref": "./examples/SAPVirtualInstances_Create_Detect_Sap_Software_Installation_On_A_Distributed_System.json"
          },
          "Detect SAP Software Installation on a Single Server System": {
            "$ref": "./examples/SAPVirtualInstances_Create_Detect_Sap_Software_Installation_On_A_Single_Server_System.json"
          },
          "Detect SAP Software Installation on an HA System with Availability Set": {
            "$ref": "./examples/SAPVirtualInstances_Create_Detect_Sap_Software_Installation_On_An_Ha_System_With_Availability_Set.json"
          },
          "Detect SAP Software Installation on an HA System with Availability Zone": {
            "$ref": "./examples/SAPVirtualInstances_Create_Detect_Sap_Software_Installation_On_An_Ha_System_With_Availability_Zone.json"
          },
          "Install SAP Software on Distributed System": {
            "$ref": "./examples/SAPVirtualInstances_Create_Install_Sap_Software_On_Distributed_System.json"
          },
          "Install SAP Software on Single Server System": {
            "$ref": "./examples/SAPVirtualInstances_Create_Install_Sap_Software_On_Single_Server_System.json"
          },
          "Register existing SAP system as Virtual Instance for SAP solutions with optional customizations.": {
            "$ref": "./examples/SAPVirtualInstances_Create_Register_Existing_Sap_System_As_Virtual_Instance_For_Sap_Solutions_With_Optional_Customizations.json"
          },
          "Register existing SAP system as Virtual Instance for SAP solutions.": {
            "$ref": "./examples/SAPVirtualInstances_Create_Register_Existing_Sap_System_As_Virtual_Instance_For_Sap_Solutions.json"
          },
          "Register with trusted access enabled": {
            "$ref": "./examples/SAPVirtualInstances_Create_Register_With_Trusted_Access_Enabled.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SAPVirtualInstances_Update",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Updates a Virtual Instance for SAP solutions resource",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body to update a Virtual Instance for SAP solutions resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSAPVirtualInstanceRequest"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPVirtualInstance"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_TrustedAccessEnable_Update": {
            "$ref": "./examples/SAPVirtualInstances_Update_Sap_Virtual_Instances_Trusted_Access_Enable_Update.json"
          },
          "SAPVirtualInstances_Update": {
            "$ref": "./examples/SAPVirtualInstances_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SAPVirtualInstances_Delete",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Deletes a Virtual Instance for SAP solutions resource and its child resources, that is the associated Central Services Instance, Application Server Instances and Database Instance.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_Delete": {
            "$ref": "./examples/SAPVirtualInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances": {
      "get": {
        "operationId": "SAPApplicationServerInstances_List",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Lists the SAP Application Server Instance resources for a given Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPApplicationServerInstances_List": {
            "$ref": "./examples/SAPApplicationServerInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}": {
      "get": {
        "operationId": "SAPApplicationServerInstances_Get",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Gets the SAP Application Server Instance corresponding to the Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPApplicationServerInstances_Get": {
            "$ref": "./examples/SAPApplicationServerInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SAPApplicationServerInstances_Create",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Puts the SAP Application Server Instance resource. &lt;br&gt;&lt;br&gt;This will be used by service only. PUT by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The SAP Application Server Instance resource request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SAPApplicationServerInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "201": {
            "description": "Resource 'SAPApplicationServerInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SAP Application Server Instances for HA System with Availability Set": {
            "$ref": "./examples/SAPApplicationServerInstances_Create_Create_Sap_Application_Server_Instances_For_Ha_System_With_Availability_Set.json"
          },
          "SAPApplicationServerInstances_Create": {
            "$ref": "./examples/SAPApplicationServerInstances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SAPApplicationServerInstances_Update",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Updates the SAP Application server instance resource. This can be used to update tags on the resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The SAP Application Server Instance resource request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSAPApplicationInstanceRequest"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPApplicationServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPApplicationServerInstances_Update": {
            "$ref": "./examples/SAPApplicationServerInstances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SAPApplicationServerInstances_Delete",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Deletes the SAP Application Server Instance resource. &lt;br&gt;&lt;br&gt;This operation will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPApplicationServerInstances_Delete": {
            "$ref": "./examples/SAPApplicationServerInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}/start": {
      "post": {
        "operationId": "SAPApplicationServerInstances_StartInstance",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Starts the SAP Application Server Instance.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Application server instance start request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start Virtual Machine and the SAP Application Server Instance on it.": {
            "$ref": "./examples/SAPApplicationServerInstances_StartInstance_Start_Virtual_Machine_And_The_Sap_Application_Server_Instance_On_It.json"
          },
          "Start the SAP Application Server Instance.": {
            "$ref": "./examples/SAPApplicationServerInstances_StartInstance_Start_The_Sap_Application_Server_Instance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/applicationInstances/{applicationInstanceName}/stop": {
      "post": {
        "operationId": "SAPApplicationServerInstances_StopInstance",
        "tags": [
          "SAPApplicationServerInstances"
        ],
        "description": "Stops the SAP Application Server Instance.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "applicationInstanceName",
            "in": "path",
            "description": "The name of SAP Application Server instance resource.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Application server instance stop request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Stop the SAP Application Server Instance": {
            "$ref": "./examples/SAPApplicationServerInstances_StopInstance_Stop_The_Sap_Application_Server_Instance.json"
          },
          "Stop the SAP Application Server Instance and the Virtual machine": {
            "$ref": "./examples/SAPApplicationServerInstances_StopInstance_Stop_The_Sap_Application_Server_Instance_And_The_Virtual_Machine.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances": {
      "get": {
        "operationId": "SAPCentralInstances_List",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Lists the SAP Central Services Instance resource for the given Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPCentralInstances_List": {
            "$ref": "./examples/SAPCentralInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}": {
      "get": {
        "operationId": "SAPCentralInstances_Get",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Gets the SAP Central Services Instance resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPCentralInstances_Get": {
            "$ref": "./examples/SAPCentralInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SAPCentralInstances_Create",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Creates the SAP Central Services Instance resource. &lt;br&gt;&lt;br&gt;This will be used by service only. PUT operation on this resource by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The SAP Central Services Instance request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SAPCentralServerInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "201": {
            "description": "Resource 'SAPCentralServerInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SAP Central Instances for HA System with Availability Set": {
            "$ref": "./examples/SAPCentralInstances_Create_Create_Sap_Central_Instances_For_Ha_System_With_Availability_Set.json"
          },
          "SAPCentralInstances_Create": {
            "$ref": "./examples/SAPCentralInstances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SAPCentralInstances_Update",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Updates the SAP Central Services Instance resource. &lt;br&gt;&lt;br&gt;This can be used to update tags on the resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The SAP Central Services Instance resource request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSAPCentralInstanceRequest"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPCentralServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPCentralInstances_Update": {
            "$ref": "./examples/SAPCentralInstances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SAPCentralInstances_Delete",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Deletes the SAP Central Services Instance resource. &lt;br&gt;&lt;br&gt;This will be used by service only. Delete operation on this resource by end user will return a Bad Request error. You can delete the parent resource, which is the Virtual Instance for SAP solutions resource, using the delete operation on it.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPCentralInstances_Delete": {
            "$ref": "./examples/SAPCentralInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}/start": {
      "post": {
        "operationId": "SAPCentralInstances_StartInstance",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Starts the SAP Central Services Instance.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Central Services instance start request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start the SAP Central Services Instance": {
            "$ref": "./examples/SAPCentralInstances_StartInstance_Start_The_Sap_Central_Services_Instance.json"
          },
          "Start the virtual machine(s) and the SAP central services instance on it.": {
            "$ref": "./examples/SAPCentralInstances_StartInstance_Start_The_Virtual_Machine_S_And_The_Sap_Central_Services_Instance_On_It.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/centralInstances/{centralInstanceName}/stop": {
      "post": {
        "operationId": "SAPCentralInstances_StopInstance",
        "tags": [
          "SAPCentralServerInstances"
        ],
        "description": "Stops the SAP Central Services Instance.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "centralInstanceName",
            "in": "path",
            "description": "Central Services Instance resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Central Services instance stop request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Stop the SAP Central Services Instance and its underlying Virtual Machine(s)": {
            "$ref": "./examples/SAPCentralInstances_StopInstance_Stop_The_Sap_Central_Services_Instance_And_Its_Underlying_Virtual_Machine_S.json"
          },
          "Stop the SAP Central Services Instance.": {
            "$ref": "./examples/SAPCentralInstances_StopInstance_Stop_The_Sap_Central_Services_Instance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances": {
      "get": {
        "operationId": "SAPDatabaseInstances_List",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Lists the Database resources associated with a Virtual Instance for SAP solutions resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDatabaseInstances_List": {
            "$ref": "./examples/SAPDatabaseInstances_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}": {
      "get": {
        "operationId": "SAPDatabaseInstances_Get",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Gets the SAP Database Instance resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDatabaseInstances_Get": {
            "$ref": "./examples/SAPDatabaseInstances_Get.json"
          }
        }
      },
      "put": {
        "operationId": "SAPDatabaseInstances_Create",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Creates the Database resource corresponding to the Virtual Instance for SAP solutions resource. &lt;br&gt;&lt;br&gt;This will be used by service only. PUT by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Request body of Database resource of a SAP system.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SAPDatabaseInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "201": {
            "description": "Resource 'SAPDatabaseInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create SAP Database Instances for HA System with Availability Set": {
            "$ref": "./examples/SAPDatabaseInstances_Create_Create_Sap_Database_Instances_For_Ha_System_With_Availability_Set.json"
          },
          "SAPDatabaseInstances_Create": {
            "$ref": "./examples/SAPDatabaseInstances_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SAPDatabaseInstances_Update",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Updates the Database instance resource. This can be used to update tags on the resource.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Database resource update request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateSAPDatabaseInstanceRequest"
            },
            "x-ms-client-name": "body"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SAPDatabaseInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDatabaseInstances_Update": {
            "$ref": "./examples/SAPDatabaseInstances_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "SAPDatabaseInstances_Delete",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Deletes the Database resource corresponding to a Virtual Instance for SAP solutions resource. &lt;br&gt;&lt;br&gt;This will be used by service only. Delete by end user will return a Bad Request error.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPDatabaseInstances_Delete": {
            "$ref": "./examples/SAPDatabaseInstances_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}/start": {
      "post": {
        "operationId": "SAPDatabaseInstances_StartInstance",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Starts the database instance of the SAP system.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "SAP Database server instance start request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start Virtual Machine and the database instance of the SAP system on it.": {
            "$ref": "./examples/SAPDatabaseInstances_StartInstance_Start_Virtual_Machine_And_The_Database_Instance_Of_The_Sap_System_On_It.json"
          },
          "Start the database instance of the SAP system.": {
            "$ref": "./examples/SAPDatabaseInstances_StartInstance_Start_The_Database_Instance_Of_The_Sap_System.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/databaseInstances/{databaseInstanceName}/stop": {
      "post": {
        "operationId": "SAPDatabaseInstances_StopInstance",
        "tags": [
          "SAPDatabaseInstances"
        ],
        "description": "Stops the database instance of the SAP system.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "databaseInstanceName",
            "in": "path",
            "description": "Database resource name string modeled as parameter for auto generation to work correctly.",
            "required": true,
            "type": "string",
            "pattern": "^.*"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Stop request for the database instance of the SAP system.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Stop the database instance of the SAP system and the underlying Virtual Machine(s).": {
            "$ref": "./examples/SAPDatabaseInstances_StopInstance_Stop_The_Database_Instance_Of_The_Sap_System_And_The_Underlying_Virtual_Machine_S.json"
          },
          "Stop the database instance of the SAP system.": {
            "$ref": "./examples/SAPDatabaseInstances_StopInstance_Stop_The_Database_Instance_Of_The_Sap_System.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/start": {
      "post": {
        "operationId": "SAPVirtualInstances_Start",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Starts the SAP application, that is the Central Services instance and Application server instances.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Virtual Instance for SAP solutions resource start request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StartRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Start the SAP system": {
            "$ref": "./examples/SAPVirtualInstances_Start_Start_The_Sap_System.json"
          },
          "Start the virtual machines and the SAP system": {
            "$ref": "./examples/SAPVirtualInstances_Start_Start_The_Virtual_Machines_And_The_Sap_System.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/sapVirtualInstances/{sapVirtualInstanceName}/stop": {
      "post": {
        "operationId": "SAPVirtualInstances_Stop",
        "tags": [
          "SAPVirtualInstances"
        ],
        "description": "Stops the SAP Application, that is the Application server instances and Central Services instance.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sapVirtualInstanceName",
            "in": "path",
            "description": "The name of the Virtual Instances for SAP solutions resource",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9]{2}$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The Virtual Instance for SAP solutions resource stop request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StopRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationStatusResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SAPVirtualInstances_Stop": {
            "$ref": "./examples/SAPVirtualInstances_Stop.json"
          },
          "Stop the virtual machine(s) and the SAP system on it.": {
            "$ref": "./examples/SAPVirtualInstances_Stop_Stop_The_Virtual_Machine_S_And_The_Sap_System_On_It.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ApplicationServerConfiguration": {
      "type": "object",
      "description": "Gets or sets the application server configuration.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "The subnet id."
        },
        "virtualMachineConfiguration": {
          "$ref": "#/definitions/VirtualMachineConfiguration",
          "description": "Gets or sets the virtual machine configuration."
        },
        "instanceCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of app server instances."
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration",
        "instanceCount"
      ]
    },
    "ApplicationServerFullResourceNames": {
      "type": "object",
      "description": "The full resource names object for application layer resources. The number of entries in this list should be equal to the number VMs to be created for application layer.",
      "properties": {
        "virtualMachines": {
          "type": "array",
          "description": "The list of virtual machine naming details.",
          "items": {
            "$ref": "#/definitions/VirtualMachineResourceNames"
          },
          "x-ms-identifiers": []
        },
        "availabilitySetName": {
          "type": "string",
          "description": "The full name for availability set. In case name is not provided, it will be defaulted to {SID}-App-AvSet."
        }
      }
    },
    "ApplicationServerVirtualMachineType": {
      "type": "string",
      "description": "Defines the type of application server VM.",
      "enum": [
        "Active",
        "Standby",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ApplicationServerVirtualMachineType",
        "modelAsString": true
      }
    },
    "ApplicationServerVmDetails": {
      "type": "object",
      "description": "The Application Server VM Details.",
      "properties": {
        "type": {
          "$ref": "#/definitions/ApplicationServerVirtualMachineType",
          "description": "Defines the type of application server VM.",
          "readOnly": true
        },
        "virtualMachineId": {
          "type": "string",
          "readOnly": true
        },
        "storageDetails": {
          "type": "array",
          "description": "Storage details of all the Storage Accounts attached to the App Virtual Machine. For e.g. NFS on AFS Shared Storage.",
          "items": {
            "$ref": "#/definitions/StorageInformation"
          },
          "readOnly": true
        }
      }
    },
    "Azure.ResourceManager.Foundations.UserAssignedIdentity": {
      "type": "object",
      "description": "A managed identity assigned by the user.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      }
    },
    "CentralServerConfiguration": {
      "type": "object",
      "description": "Gets or sets the central server configuration.",
      "properties": {
        "subnetId": {
          "type": "string",
          "description": "The subnet id."
        },
        "virtualMachineConfiguration": {
          "$ref": "#/definitions/VirtualMachineConfiguration",
          "description": "Gets or sets the virtual machine configuration."
        },
        "instanceCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of central server VMs."
        }
      },
      "required": [
        "subnetId",
        "virtualMachineConfiguration",
        "instanceCount"
      ]
    },
    "CentralServerFullResourceNames": {
      "type": "object",
      "description": "The full resource names object for central server layer resources.",
      "properties": {
        "virtualMachines": {
          "type": "array",
          "description": "The list of names for all ASCS virtual machines to be deployed. The number of entries in this list should be equal to the number VMs to be created for ASCS layer. At maximum, there can be two virtual machines at this layer: ASCS and ERS.",
          "maxItems": 2,
          "items": {
            "$ref": "#/definitions/VirtualMachineResourceNames"
          },
          "x-ms-identifiers": []
        },
        "availabilitySetName": {
          "type": "string",
          "description": "The full name for availability set. In case name is not provided, it will be defaulted to {SID}-ASCS-AvSet."
[...]
