{
    "swagger": "2.0",
    "info": {
      "title": "CostManagementClient",
      "version": "2022-04-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "security": [
      {
        "azure_auth": [
          "user_impersonation"
        ]
      }
    ],
    "securityDefinitions": {
      "azure_auth": {
        "type": "oauth2",
        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
        "flow": "implicit",
        "description": "Azure Active Directory OAuth2 Flow.",
        "scopes": {
          "user_impersonation": "impersonate your user account"
        }
      }
    },
    "paths": {
      "/providers/Microsoft.CostManagement/oper": {
        "get": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_List",
          "description": "List all private scheduled actions.",
          "externalDocs": {
            "url": "https://docs.microsoft.com/rest/api/cost-management/"
          },
          "x-ms-examples": {
            "PrivateScheduledActionsList": {
              "$ref": "./examples/scheduledActions-list-private.json"
            },
            "PrivateScheduledActionsListFilterByViewId": {
              "$ref": "./examples/scheduledActions-listWithFilter-private.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/apiVersionParameter"
            },
            {
              "name": "$filter",
              "description": "May be used to filter scheduled actions by properties/viewId. Supported operator is 'eq'.",
              "in": "query",
              "required": false,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded.",
              "schema": {
                "$ref": "#/definitions/ScheduledActionListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/{scope}/providers/Microsoft.CostManagement/scheduledActions": {
        "get": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_ListByScope",
          "description": "List all shared scheduled actions within the given scope.",
          "externalDocs": {
            "url": "https://docs.microsoft.com/rest/api/cost-management/"
          },
          "x-ms-examples": {
            "ScheduledActionsListByScope": {
              "$ref": "./examples/scheduledActions-list-shared.json"
            },
            "ScheduledActionsListByScopeFilterByViewId": {
              "$ref": "./examples/scheduledActions-listWithFilter-shared.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scopeParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            },
            {
              "name": "$filter",
              "description": "May be used to filter scheduled actions by properties/viewId. Supported operator is 'eq'.",
              "in": "query",
              "required": false,
              "type": "string"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded.",
              "schema": {
                "$ref": "#/definitions/ScheduledActionListResult"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "nextLink"
          }
        }
      },
      "/providers/Microsoft.CostManagement/scheduledActions/{name}": {
        "put": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_CreateOrUpdate",
          "description": "Create or update a private scheduled action.",
          "x-ms-examples": {
            "CreateOrUpdatePrivateScheduledAction": {
              "$ref": "./examples/scheduledAction-createOrUpdate-private.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scheduledActionNameParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            },
            {
              "name": "scheduledAction",
              "description": "Scheduled action to be created or updated.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ScheduledAction"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded.",
              "schema": {
                "$ref": "#/definitions/ScheduledAction"
              }
            },
            "201": {
              "description": "Created.",
              "schema": {
                "$ref": "#/definitions/ScheduledAction"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "get": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_Get",
          "description": "Get the private scheduled action by name.",
          "externalDocs": {
            "url": "https://docs.microsoft.com/rest/api/cost-management/"
          },
          "x-ms-examples": {
            "PrivateScheduledAction": {
              "$ref": "./examples/scheduledAction-get-private.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scheduledActionNameParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded.",
              "schema": {
                "$ref": "#/definitions/ScheduledAction"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_Delete",
          "description": "Delete a private scheduled action.",
          "externalDocs": {
            "url": "https://docs.microsoft.com/rest/api/cost-management/"
          },
          "x-ms-examples": {
            "PrivateScheduledActionDelete": {
              "$ref": "./examples/scheduledAction-delete-private.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scheduledActionNameParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded."
            },
            "204": {
              "description": "NoContent. Resource is not available."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/{scope}/providers/Microsoft.CostManagement/scheduledActions/{name}": {
        "put": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_CreateOrUpdateByScope",
          "description": "Create or update a shared scheduled action within the given scope.",
          "x-ms-examples": {
            "CreateOrUpdateScheduledActionByScope": {
              "$ref": "./examples/scheduledAction-createOrUpdate-shared.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scopeParameter"
            },
            {
              "$ref": "#/parameters/scheduledActionNameParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            },
            {
              "name": "scheduledAction",
              "description": "Scheduled action to be created or updated.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/ScheduledAction"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded.",
              "schema": {
                "$ref": "#/definitions/ScheduledAction"
              }
            },
            "201": {
              "description": "Created.",
              "schema": {
                "$ref": "#/definitions/ScheduledAction"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "get": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_GetByScope",
          "description": "Get the shared scheduled action from the given scope by name.",
          "externalDocs": {
            "url": "https://docs.microsoft.com/rest/api/cost-management/"
          },
          "x-ms-examples": {
            "ScheduledActionByScope": {
              "$ref": "./examples/scheduledAction-get-shared.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scopeParameter"
            },
            {
              "$ref": "#/parameters/scheduledActionNameParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded.",
              "schema": {
                "$ref": "#/definitions/ScheduledAction"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        },
        "delete": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_DeleteByScope",
          "description": "Delete a scheduled action within the given scope.",
          "externalDocs": {
            "url": "https://docs.microsoft.com/rest/api/cost-management/"
          },
          "x-ms-examples": {
            "ScheduledActionDeleteByScope": {
              "$ref": "./examples/scheduledAction-delete-shared.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scopeParameter"
            },
            {
              "$ref": "#/parameters/scheduledActionNameParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded."
            },
            "204": {
              "description": "NoContent. Resource is not available."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/providers/Microsoft.CostManagement/scheduledActions/{name}/execute": {
        "post": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_Execute",
          "description": "Execute a private scheduled action.",
          "x-ms-examples": {
            "ScheduledActionExecute": {
              "$ref": "./examples/scheduledAction-execute-private.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scheduledActionNameParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded. It might take up to an hour to receive the email."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/{scope}/providers/Microsoft.CostManagement/scheduledActions/{name}/execute": {
        "post": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_ExecuteByScope",
          "description": "Execute a shared scheduled action within the given scope.",
          "x-ms-examples": {
            "ScheduledActionExecuteByScope": {
              "$ref": "./examples/scheduledAction-execute-shared.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scopeParameter"
            },
            {
              "$ref": "#/parameters/scheduledActionNameParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            }
          ],
          "responses": {
            "200": {
              "description": "OK. The request has succeeded. It might take up to an hour to receive cost analysis information."
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/providers/Microsoft.CostManagement/checkNameAvailability": {
        "post": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_CheckNameAvailability",
          "description": "Checks availability and correctness of the name for a scheduled action.",
          "x-ms-examples": {
            "ScheduledActionCheckNameAvailability": {
              "$ref": "./examples/checkNameAvailability-private-scheduledAction.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/apiVersionParameter"
            },
            {
              "name": "checkNameAvailabilityRequest",
              "description": "Scheduled action to be created or updated.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Response of scheduled action name availability.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityResponse"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      },
      "/{scope}/providers/Microsoft.CostManagement/checkNameAvailability": {
        "post": {
          "tags": [
            "ScheduledActions"
          ],
          "operationId": "ScheduledActions_CheckNameAvailabilityByScope",
          "description": "Checks availability and correctness of the name for a scheduled action within the given scope.",
          "x-ms-examples": {
            "ScheduledActionCheckNameAvailabilityByScope": {
              "$ref": "./examples/checkNameAvailability-shared-scheduledAction.json"
            }
          },
          "parameters": [
            {
              "$ref": "#/parameters/scopeParameter"
            },
            {
              "$ref": "#/parameters/apiVersionParameter"
            },
            {
              "name": "checkNameAvailabilityRequest",
              "description": "Scheduled action to be created or updated.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityRequest"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Response of scheduled action name availability.",
              "schema": {
                "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityResponse"
              }
            },
            "default": {
              "description": "Error response describing why the operation failed.",
              "schema": {
                "$ref": "#/definitions/ErrorResponse"
              }
            }
          }
        }
      }
    },
    "definitions": {
        "OperationListResult": {
            "description": "Result of listing cost management operations. It contains a list of operations and a URL link to get the next set of results.",
            "type": "object",
            "properties": {
              "value": {
                "description": "List of cost management operations supported by the Microsoft.CostManagement resource provider.",
                "type": "array",
                "readOnly": true,
                "items": {
                  "$ref": "#/definitions/Operation"
                }
              },
              "nextLink": {
                "description": "URL to get the next set of operation list results if there are any.",
                "type": "string",
                "readOnly": true
              }
            }
          },
          "Operation": {
            "description": "A Cost management REST API operation.",
            "type": "object",
            "properties": {
              "id": {
                "description": "Operation id: {provider}/{resource}/{operation}.",
                "type": "string",
                "readOnly": true
              },
              "name": {
                "description": "Operation name: {provider}/{resource}/{operation}.",
                "type": "string",
                "readOnly": true
              },
              "display": {
                "description": "The object that represents the operation.",
                "type": "object",
                "properties": {
                  "provider": {
                    "description": "Service provider: Microsoft.CostManagement.",
                    "type": "string",
                    "readOnly": true
                  },
                  "resource": {
                    "description": "Resource on which the operation is performed: Dimensions, Query.",
                    "type": "string",
                    "readOnly": true
                  },
                  "operation": {
                    "description": "Operation type: Read, write, delete, etc.",
                    "type": "string",
                    "readOnly": true
                  },
                  "description": {
                    "description": "Operation description",
                    "type": "string",
                    "readOnly": true
                  }
                }
              }
            }
          },
          "OperationStatus": {
            "description": "The status of the long running operation.",
            "type": "object",
            "properties": {
              "status": {
                "description": "The status of the long running operation.",
                "type": "string",
                "enum": [
                  "Running",
                  "Completed",
                  "Failed"
                ],
                "x-ms-enum": {
                  "name": "OperationStatusType",
                  "modelAsString": true
                }
              },
              "properties": {
                "x-ms-client-flatten": true,
                "type": "object",
                "description": "The properties of the resource generated.",
                "$ref": "#/definitions/ReportURL"
              }
            }
          }
    },
    "parameters": {
      "apiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "Version of the API to be used with the client request (e.g. '2022-02-01-preview')."
      },
      "scopeParameter": {
        "name": "scope",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "The scope associated with scheduled action operations. This includes 'subscriptions/{subscriptionId}' for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}' for InvoiceSection scope, 'providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}' for External Billing Account scope and 'providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}' for External Subscription scope.",
        "x-ms-parameter-location": "method"
      },
      "scheduledActionNameParameter": {
        "name": "name",
        "in": "path",
        "description": "Scheduled action name.",
        "required": true,
        "type": "string",
        "x-ms-parameter-location": "method"
      }
    }
  }
  