{
  "swagger": "2.0",
  "info": {
    "title": "AutomationManagement",
    "version": "2015-10-31"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/output": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetOutput",
        "description": "Retrieve the job output identified by job id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "x-ms-examples": {
          "Get Job": {
            "$ref": "./examples/getJob.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/runbookContent": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetRunbookContent",
        "description": "Retrieve the runbook content of the job identified by job id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "file"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/suspend": {
      "post": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Suspend",
        "description": "Suspend the job identified by jobId.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "x-ms-examples": {
          "Suspend job": {
            "$ref": "./examples/suspendJob.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/stop": {
      "post": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Stop",
        "description": "Stop the job identified by jobId.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "x-ms-examples": {
          "Stop job": {
            "$ref": "./examples/stopJob.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Get",
        "description": "Retrieve the job identified by job id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/Job"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Create",
        "description": "Create a job of the runbook.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "x-ms-examples": {
          "Create job": {
            "$ref": "./examples/createJob.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job id."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./definitions.json#/definitions/JobCreateParameters"
            },
            "description": "The parameters supplied to the create job operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "./definitions.json#/definitions/Job"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_ListByAutomationAccount",
        "description": "Retrieve a list of jobs.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "x-ms-examples": {
          "List jobs by automation account": {
            "$ref": "./examples/listJobsByAutomationAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/JobListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/resume": {
      "post": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Resume",
        "description": "Resume the job identified by jobId.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/joboperations"
        },
        "x-ms-examples": {
          "Resume job": {
            "$ref": "./examples/resumeJob.json"
          }
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid",
            "description": "The job id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams/{jobStreamId}": {
      "get": {
        "tags": [
          "JobStream"
        ],
        "operationId": "JobStream_Get",
        "description": "Retrieve the job stream identified by job stream id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job id."
          },
          {
            "name": "jobStreamId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job stream id."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/JobStream"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/jobs/{jobId}/streams": {
      "get": {
        "tags": [
          "JobStream"
        ],
        "operationId": "JobStream_ListByJob",
        "description": "Retrieve a list of jobs streams identified by job id.",
        "externalDocs": {
          "url": "http://aka.ms/azureautomationsdk/jobstreamoperations"
        },
        "parameters": [
          {
            "$ref": "./definitions.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationAccountName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The automation account name."
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The job Id."
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "The filter to apply on the operation."
          },
          {
            "$ref": "./definitions.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./definitions.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./definitions.json#/definitions/JobStreamListResult"
            }
          },
          "default": {
            "description": "Automation error response describing why the operation failed.",
            "schema": {
              "$ref": "./definitions.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {},
  "parameters": {}
}
