{
  "swagger": "2.0",
  "info": {
    "title": "Azure Cloud HSM Resource Provider",
    "description": "The Azure management API provides a RESTful set of web services that interact with Azure Cloud HSM RP.",
    "version": "2024-06-30-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}": {
      "put": {
        "tags": [
          "Cloud HSM Cluster - Create or Update"
        ],
        "operationId": "CloudHsmClusters_CreateOrUpdate",
        "description": "Create or Update a Cloud HSM Cluster in the specified subscription.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "x-ms-client-flatten": true,
            "schema": {
              "$ref": "#/definitions/CloudHsmCluster"
            },
            "description": "Parameters to create Cloud HSM Cluster"
          }
        ],
        "responses": {
          "200": {
            "description": "Created or Update Cloud HSM Cluster",
            "schema": {
              "$ref": "#/definitions/CloudHsmCluster"
            }
          },
          "201": {
            "description": "Created or Update Cloud HSM Cluster",
            "schema": {
              "$ref": "#/definitions/CloudHsmCluster"
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Cloud HSM Cluster - Update"
        ],
        "operationId": "CloudHsmClusters_Update",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "description": "Update a Cloud HSM Cluster in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "x-ms-client-flatten": true,
            "schema": {
              "$ref": "#/definitions/CloudHsmClusterPatchParameters"
            },
            "description": "Parameters to create Cloud HSM Cluster"
          }
        ],
        "responses": {
          "200": {
            "description": "Patched Cloud HSM Cluster",
            "schema": {
              "$ref": "#/definitions/CloudHsmCluster"
            }
          },
          "202": {
            "description": "Accepted and the operation will complete asynchronously.",
            "headers": {
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_Update_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_Update_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "Cloud HSM Cluster - Get"
        ],
        "operationId": "CloudHsmClusters_Get",
        "description": "Gets the specified Cloud HSM Cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved Cloud HSM Cluster",
            "schema": {
              "$ref": "#/definitions/CloudHsmCluster"
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_Get_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_Get_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Cloud HSM Cluster - Delete"
        ],
        "operationId": "CloudHsmClusters_Delete",
        "description": "Deletes the specified Cloud HSM Cluster",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_Delete_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters": {
      "get": {
        "tags": [
          "Cloud HSM Cluster - Get by Resource Group"
        ],
        "operationId": "CloudHsmClusters_ListByResourceGroup",
        "description": "The List operation gets information about the Cloud HSM Clusters associated with the subscription and within the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "query",
            "name": "$skiptoken",
            "type": "string",
            "required": false,
            "description": "The page-continuation token to use with a paged version of this API"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get information about all Cloud HSM Clusters in the specified resource group.",
            "schema": {
              "$ref": "#/definitions/CloudHsmClusterListResult"
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CloudHsmCluster_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters": {
      "get": {
        "tags": [
          "Cloud HSM Cluster - Get by Subscription"
        ],
        "operationId": "CloudHsmClusters_ListBySubscription",
        "description": "The List operation gets information about the Cloud HSM Clusters associated with the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "query",
            "name": "$skiptoken",
            "type": "string",
            "required": false,
            "description": "The page-continuation token to use with a paged version of this API"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get information about all Cloud HSM Clusters in the specified subscription.",
            "schema": {
              "$ref": "#/definitions/CloudHsmClusterListResult"
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CloudHsmCluster_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/privateLinkResources": {
      "get": {
        "tags": [
          "Cloud HSM Cluster Private Link - Get"
        ],
        "operationId": "CloudHsmClusterPrivateLinkResources_ListByCloudHsmCluster",
        "description": "Gets the private link resources supported for the Cloud Hsm Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved private link resources.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CloudHsmClusterPrivateLinkResources_ListByResource_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmClusterPrivateLinkResource_ListByCloudHsmCluster_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/privateEndpointConnections/{peConnectionName}": {
      "put": {
        "tags": [
          "Cloud HSM Cluster Private Endpoint - Create"
        ],
        "operationId": "CloudHsmClusterPrivateEndpointConnections_Create",
        "description": "Creates or updates the private endpoint connection for the Cloud Hsm Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/peConnectionName"
          },
          {
            "in": "body",
            "name": "properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "description": "Parameters of the PrivateEndpointConnection"
          }
        ],
        "responses": {
          "200": {
            "description": "OK -- Create or Update the private endpoint connection properties successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmClusterPrivateEndpointConnection_Create_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmClusterPrivateEndpointConnection_Create_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Cloud HSM Cluster Private Endpoint - Delete"
        ],
        "operationId": "CloudHsmClusterPrivateEndpointConnections_Delete",
        "description": "Deletes the private endpoint connection for the Cloud Hsm Cluster.",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/peConnectionName"
          }
        ],
        "responses": {
          "202": {
            "description": "The private endpoint connection is being deleted.",
            "headers": {
              "Location": {
                "description": "The URI to poll for completion status.",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "204": {
            "description": "The private endpoint connection does not exist."
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmClusterPrivateEndpointConnection_Delete_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmClusterPrivateEndpointConnection_Delete_MaximumSet_Gen.json"
          }
        }
      },
      "get": {
        "tags": [
          "Cloud HSM Cluster Private Endpoint - Get"
        ],
        "operationId": "CloudHsmClusterPrivateEndpointConnections_Get",
        "description": "Gets the private endpoint connection for the Cloud Hsm Cluster.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/peConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Private endpoint connection successfully returned.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmClusterPrivateEndpointConnection_Get_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmClusterPrivateEndpointConnection_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/privateEndpointConnections": {
      "get": {
        "tags": [
          "Cloud HSM Cluster Private Endpoint Connections - Get"
        ],
        "operationId": "PrivateEndpointConnections_ListByCloudHsmCluster",
        "description": "The List operation gets information about the private endpoint connections associated with the Cloud HSM Cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all CloudHsmCluster private endpoint connections associated with the Cloud HSM Cluster.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "The error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CloudHsmClusterPrivateEndpointConnection_ListByResource_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmClusterPrivateEndpointConnection_ListByCloudHsmCluster_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/validateBackupProperties": {
      "post": {
        "tags": [
          "Cloud HSM Cluster Validate Backup Properties"
        ],
        "operationId": "CloudHsmClusters_ValidateBackupProperties",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "Pre Backup operation to validate whether the customer can perform a backup on the Cloud HSM Cluster resource in the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "backupRequestProperties",
            "in": "body",
            "description": "Backup Operation Required properties",
            "schema": {
              "$ref": "#/definitions/BackupRequestProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Cloud HSM Cluster Backup operation API finished synchronously with Success",
            "schema": {
              "$ref": "#/definitions/BackupResult"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Queued validating pre backup operation",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status",
                "type": "string",
                "format": "uri"
              },
              "Location": {
                "description": "The URI to poll for completion status",
                "type": "string",
                "format": "uri"
              },
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "The error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_ValidateBackup_Validation_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_CreateOrValidate_Backup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/backup": {
      "post": {
        "tags": [
          "Cloud HSM Cluster Backup - Create"
        ],
        "operationId": "CloudHsmClusters_Backup",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "Create a backup of the Cloud HSM Cluster in the specified subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "backupRequestProperties",
            "in": "body",
            "description": "Azure storage Resource Uri",
            "schema": {
              "$ref": "#/definitions/BackupRequestProperties"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Cloud HSM Cluster Backup operation API finished synchronously with Success",
            "schema": {
              "$ref": "#/definitions/BackupResult"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Cloud HSM Cluster Backup operation started",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string",
                "format": "uri"
              },
              "Location": {
                "description": "The URI to poll for completion status",
                "type": "string",
                "format": "uri"
              },
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "The error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_Create_Backup_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_CreateOrValidate_Backup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/backupOperationStatus/{jobId}": {
      "get": {
        "tags": [
          "Cloud HSM Clusters Backup Operation Status - Get"
        ],
        "operationId": "CloudHsmClusterBackupStatus_Get",
        "description": "Gets the backup operation status of the specified Cloud HSM Cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/backupRestoreJobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cloud HSM Cluster Backup Operation status returned",
            "schema": {
              "$ref": "#/definitions/BackupResult"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Cloud HSM Cluster Backup Operation status returned",
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              },
              "Location": {
                "description": "The URI to poll for completion status",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "default": {
            "description": "The error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_Get_Backup_Status_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_Backup_Pending_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/validateRestoreProperties": {
      "post": {
        "tags": [
          "Validate Cloud HSM Cluster Restore Properties"
        ],
        "operationId": "CloudHsmClusters_ValidateRestoreProperties",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "Queued validating pre restore operation",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "restoreRequestProperties",
            "schema": {
              "$ref": "#/definitions/RestoreRequestProperties"
            },
            "description": "Optional Parameters to validate prior performing a restore operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Cloud HSM Cluster Restore operation API finished synchronously with Success",
            "schema": {
              "$ref": "#/definitions/RestoreResult"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Queued pre restore operation validation.",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string",
                "format": "uri"
              },
              "Location": {
                "description": "The URI to poll for completion status",
                "type": "string",
                "format": "uri"
              },
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "The error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_ValidateRestore_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_RequestOrValidate_Restore_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/restore": {
      "post": {
        "tags": [
          "Cloud HSM Clusters Restore Operation - Create"
        ],
        "operationId": "CloudHsmClusters_Restore",
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "description": "Restores all key materials of a specified Cloud HSM Cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "restoreRequestProperties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RestoreRequestProperties"
            },
            "description": "Restore Operation Required properties"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Cloud HSM Cluster Restore operation API finished synchronously with Success",
            "schema": {
              "$ref": "#/definitions/RestoreResult"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Cloud HSM Cluster Restore operation started",
            "headers": {
              "Retry-After": {
                "description": "The recommended number of seconds to wait before calling the URI specified in Azure-AsyncOperation.",
                "type": "integer",
                "format": "int32"
              },
              "Azure-AsyncOperation": {
                "description": "The URI to poll for completion status.",
                "type": "string",
                "format": "uri"
              },
              "Location": {
                "description": "The URI to poll for completion status",
                "type": "string",
                "format": "uri"
              },
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "The error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_Restore_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_RequestOrValidate_Restore_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HardwareSecurityModules/cloudHsmClusters/{cloudHsmClusterName}/restoreOperationStatus/{jobId}": {
      "get": {
        "tags": [
          "Returns Restore Operation Status"
        ],
        "operationId": "CloudHsmClusterRestoreStatus_Get",
        "description": "Gets the restore operation status of the specified Cloud HSM Cluster",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/cloudHsmClusterName"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/backupRestoreJobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Cloud HSM Cluster Backup Operation status returned",
            "schema": {
              "$ref": "#/definitions/RestoreResult"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          },
          "202": {
            "description": "Cloud HSM Cluster Restore Operation status returned",
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              },
              "Location": {
                "description": "The URI to poll for completion status",
                "type": "string",
                "format": "uri"
              }
            }
          },
          "default": {
            "description": "The error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            },
            "headers": {
              "x-ms-request-id": {
                "description": "A unique ID for the current operation, service generated. All the resource providers must return this value in the response headers to facilitate debugging.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "CloudHsmCluster_Get_Restore_Status_MaximumSet_Gen": {
            "$ref": "./examples/CloudHsmCluster_Restore_Pending_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CloudHsmProperties": {
      "type": "object",
      "description": "The Cloud HSM Properties",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "FQDN of the Cloud HSM"
        },
        "state": {
          "type": "string",
          "description": "The Cloud HSM State. Values are: Deploying, ConfiguringSlb, Starting, Starting, Failed, Failed, Deleting, DeletingSlbEntry, InitialProvisioning, Updating"
        },
        "stateMessage": {
          "type": "string",
          "description": "The Cloud HSM State message"
        }
      }
    },
    "CloudHsmCluster": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/CloudHsmClusterProperties",
          "description": "Properties of the Cloud HSM Cluster"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CloudHsmClusterResource"
        }
      ],
      "description": "Resource information with extended details.",
      "type": "object"
    },
    "CloudHsmClusterResource": {
      "properties": {
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity"
        },
        "sku": {
          "$ref": "#/definitions/CloudHsmClusterSku",
          "description": "SKU details",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Cloud HSM Cluster Resource",
      "type": "object",
      "x-ms-azure-resource": true
    },
    "CloudHsmClusterProperties": {
      "properties": {
        "activationState": {
          "type": "string",
          "description": "State of security domain activation",
          "readOnly": true,
          "enum": [
            "NotDefined",
            "NotActivated",
            "Active",
            "Failed",
            "Unknown"
          ],
          "x-ms-enum": {
            "name": "ActivationState",
            "modelAsString": true
          }
        },
        "autoGeneratedDomainNameLabelScope": {
          "type": "string",
          "description": "The Cloud HSM Cluster's auto-generated Domain Name Label Scope",
          "enum": [
            "TenantReuse",
            "SubscriptionReuse",
            "ResourceGroupReuse",
            "NoReuse"
          ],
          "x-ms-enum": {
            "name": "AutoGeneratedDomainNameLabelScope",
            "modelAsString": true
          }
        },
        "hsms": {
          "type": "array",
          "readOnly": true,
          "description": "An array of Cloud HSM Cluster's HSMs",
          "x-ms-identifiers": [
            "fqdn"
          ],
          "items": {
            "$ref": "#/definitions/CloudHsmProperties"
          }
        },
        "privateEndpointConnections": {
          "type": "array",
          "readOnly": true,
          "description": "List of private endpoint connection resources",
          "x-ms-identifiers": [
            "name"
          ],
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "The Cloud HSM Cluster's provisioningState",
          "readOnly": true,
          "enum": [
            "Provisioning",
            "Succeeded",
            "Failed",
            "Deleting",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "publicNetworkAccess": {
          "type": "string",
          "description": "The Cloud HSM Cluster public network access",
          "enum": [
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "PublicNetworkAccess",
            "modelAsString": true
          }
        },
        "statusMessage": {
          "type": "string",
          "description": "Cloud HSM Cluster status message",
          "readOnly": true
        }
      },
      "description": "Properties of a Cloud HSM Cluster.",
      "type": "object"
    },
    "CloudHsmClusterPatchParameters": {
      "properties": {
        "tags": {
          "type": "object",
          "description": "The Cloud HSM Cluster's tags",
          "additionalProperties": {
            "type": "string",
            "description": "The Cloud HSM Cluster's tag's additional properties"
          }
        },
        "identity": {
          "$ref": "../../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity"
        }
      },
      "description": "Patchable properties of the Cloud HSM Cluster",
      "type": "object"
    },
    "CloudHsmClusterSku": {
      "type": "object",
      "description": "Cloud Hsm Cluster SKU information",
      "required": [
        "name",
        "family"
      ],
      "properties": {
        "family": {
          "type": "string",
          "description": "Sku family of the Cloud HSM Cluster",
          "enum": [
            "B"
          ],
          "x-ms-client-default": "B",
          "x-ms-enum": {
            "name": "CloudHsmClusterSkuFamily",
            "modelAsString": true
          }
        },
        "name": {
          "type": "string",
          "description": "Sku name of the Cloud HSM Cluster",
          "enum": [
            "Standard_B1",
            "Standard B10"
          ],
          "x-ms-enum": {
            "name": "CloudHsmClusterSkuName",
            "modelAsString": false
          }
        },
        "capacity": {
          "format": "int32",
          "type": "integer",
          "description": "Sku capacity"
        }
      }
    },
    "CloudHsmClusterListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudHsmCluster"
          },
          "description": "The list of Cloud HSM Clusters."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of Cloud HSM Clusters."
        }
      },
      "description": "List of Cloud HSM Clusters",
      "type": "object"
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProperties",
          "x-ms-client-flatten": true,
          "description": "Resource properties."
        },
        "etag": {
          "type": "string",
          "description": "Modified whenever there is a change in the state of private endpoint connection."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "The private endpoint connection resource.",
      "x-ms-azure-resource": true
    },
    "PrivateEndpointConnectionProperties": {
      "type": "object",
      "properties": {
        "privateEndpoint": {
          "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpoint",
          "description": "The private endpoint resource."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "../../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        },
        "provisioningState": {
          "$ref": "#/definitions/PrivateEndpointConnectionProvisioningState",
          "description": "The provisioning state of the private endpoint connection resource."
        },
        "groupIds": {
          "description": "The group ids for the private endpoint resource.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "required": [
        "privateLinkServiceConnectionState"
      ],
      "description": "Properties of the private endpoint connection."
    },
    "PrivateEndpointConnectionProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Creating",
        "Deleting",
        "Failed",
        "Updating",
        "InternalError",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "PrivateEndpointConnectionProvisioningState",
        "modelAsString": true
      }
    },
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "description": "Array of private endpoint connections.",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of private endpoint connections."
        }
      },
      "description": "List of private endpoint connections associated with the specified resource."
    },
    "BackupRequestProperties": {
      "type": "object",
      "description": "Backup properties",
      "allOf": [
        {
          "$ref": "#/definitions/BackupRestoreRequestBaseProperties"
        }
      ]
    },
    "RestoreRequestProperties": {
      "type": "object",
      "description": "Cloud Hsm Cluster restore information",
      "properties": {
        "backupId": {
          "type": "string",
          "description": "An autogenerated unique string ID for labeling the backup. It contains both a UUID and a date timestamp."
        }
      },
      "required": [
        "backupId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/BackupRestoreRequestBaseProperties"
        }
      ]
    },
    "BackupRestoreRequestBaseProperties": {
      "type": "object",
      "description": "Backup and Restore Common properties",
      "properties": {
        "azureStorageBlobContainerUri": {
          "type": "string",
          "description": "The Azure blob storage container Uri which contains the backup",
          "format": "uri"
        },
        "token": {
          "type": "string",
          "description": "The SAS token pointing to an Azure blob storage container. This property is reserved for Azure Backup Service.",
          "x-ms-secret": true
        }
      },
      "required": [
        "azureStorageBlobContainerUri"
      ]
    },
    "BackupResult": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BackupResultProperties",
          "description": "Properties of the Cloud HSM Cluster"
        }
      },
      "description": "Backup operation Result"
    },
    "BackupResultProperties": {
      "type": "object",
      "description": "Properties of the Cloud HSM Cluster",
      "properties": {
        "azureStorageBlobContainerUri": {
          "type": "string",
          "description": "The Azure blob storage container Uri which contains the backup",
          "format": "uri"
        },
        "backupId": {
          "type": "string",
          "description": "The ID of the backup."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BackupRestoreBaseResultProperties"
        }
      ]
    },
    "RestoreResult": {
      "type": "object",
      "description": "Restore operation properties",
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "$ref": "#/definitions/BackupRestoreBaseResultProperties"
        }
      }
    },
    "BackupRestoreBaseResultProperties": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Status of the backup/restore operation",
          "readOnly": true,
          "enum": [
            "InProgress",
            "Succeeded",
            "Failed",
            "Cancelled"
          ],
          "x-ms-enum": {
            "name": "BackupRestoreOperationStatus",
            "modelAsString": true
          }
        },
        "statusDetails": {
          "type": "string",
          "description": "The status details of backup/restore operation"
        },
        "error": {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorDetail",
          "description": "Error encountered, if any, during the backup/restore operation."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The start time of the backup/restore operation in UTC"
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "The end time of the backup/restore operation in UTC",
          "x-nullable": true
        },
        "jobId": {
          "type": "string",
          "description": "Identifier for the backup/restore operation."
        }
      },
      "description": "Backup and Restore operation common properties"
    }
  },
  "parameters": {
    "cloudHsmClusterName": {
      "name": "cloudHsmClusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Cloud HSM Cluster within the specified resource group. Cloud HSM Cluster names must be between 3 and 23 characters in length.",
      "pattern": "^[a-zA-Z0-9-]{3,23}$",
      "maxLength": 23,
      "minLength": 3,
      "x-ms-parameter-location": "method"
    },
    "peConnectionName": {
      "description": "Name of the private endpoint connection associated with the Cloud HSM Cluster.",
      "in": "path",
      "maxLength": 24,
      "minLength": 3,
      "name": "peConnectionName",
      "pattern": "^[a-zA-Z0-9-]{3,24}$",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "backupRestoreJobId": {
      "name": "jobId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The id returned as part of the backup request",
      "x-ms-parameter-location": "method"
    }
  }
}
