{
  "swagger": "2.0",
  "info": {
    "version": "2018-02-01",
    "title": "Provider API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Web/availableStacks": {
      "get": {
        "tags": [
          "Provider"
        ],
        "summary": "Get available application frameworks and their versions",
        "description": "Get available application frameworks and their versions",
        "operationId": "Provider_GetAvailableStacks",
        "parameters": [
          {
            "name": "osTypeSelected",
            "in": "query",
            "type": "string",
            "enum": [
              "Windows",
              "Linux",
              "WindowsFunctions",
              "LinuxFunctions"
            ]
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationStackCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Web/operations": {
      "get": {
        "tags": [
          "Provider"
        ],
        "summary": "Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions",
        "description": "Gets all available operations for the Microsoft.Web resource provider. Also exposes resource metric definitions",
        "operationId": "Provider_ListOperations",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/CsmOperationCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List operations": {
            "$ref": "./examples/ListOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/availableStacks": {
      "get": {
        "tags": [
          "Provider"
        ],
        "summary": "Get available application frameworks and their versions",
        "description": "Get available application frameworks and their versions",
        "operationId": "Provider_GetAvailableStacksOnPrem",
        "parameters": [
          {
            "name": "osTypeSelected",
            "in": "query",
            "type": "string",
            "enum": [
              "Windows",
              "Linux",
              "WindowsFunctions",
              "LinuxFunctions"
            ]
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ApplicationStackCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ApplicationStack": {
      "description": "Application stack.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Application stack name.",
          "type": "string"
        },
        "display": {
          "description": "Application stack display name.",
          "type": "string"
        },
        "dependency": {
          "description": "Application stack dependency.",
          "type": "string"
        },
        "majorVersions": {
          "description": "List of major versions available.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StackMajorVersion"
          }
        },
        "frameworks": {
          "description": "List of frameworks associated with application stack.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationStack"
          }
        }
      }
    },
    "ApplicationStackCollection": {
      "description": "Collection of Application Stacks",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationStack"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StackMajorVersion": {
      "description": "Application stack major version.",
      "type": "object",
      "properties": {
        "displayVersion": {
          "description": "Application stack major version (display only).",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Application stack major version (runtime only).",
          "type": "string"
        },
        "isDefault": {
          "description": "<code>true</code> if this is the default major version; otherwise, <code>false</code>.",
          "type": "boolean"
        },
        "minorVersions": {
          "description": "Minor versions associated with the major version.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StackMinorVersion"
          }
        },
        "applicationInsights": {
          "description": "<code>true</code> if this supports Application Insights; otherwise, <code>false</code>.",
          "type": "boolean"
        }
      }
    },
    "StackMinorVersion": {
      "description": "Application stack minor version.",
      "type": "object",
      "properties": {
        "displayVersion": {
          "description": "Application stack minor version (display only).",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "Application stack minor version (runtime only).",
          "type": "string"
        },
        "isDefault": {
          "description": "<code>true</code> if this is the default minor version; otherwise, <code>false</code>.",
          "type": "boolean"
        },
        "isRemoteDebuggingEnabled": {
          "description": "<code>true</code> if this supports Remote Debugging, otherwise <code>false</code>.",
          "type": "boolean"
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
