{
  "swagger": "2.0",
  "info": {
    "title": "HybridComputeManagementClient",
    "version": "2025-09-16-preview",
    "description": "The Hybrid Compute Management Client.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Licenses"
    },
    {
      "name": "Machines"
    },
    {
      "name": "LicenseProfiles"
    },
    {
      "name": "MachineExtensions"
    },
    {
      "name": "ExtensionValues"
    },
    {
      "name": "ExtensionValueV2s"
    },
    {
      "name": "MachineRunCommands"
    },
    {
      "name": "Gateways"
    },
    {
      "name": "SettingsOperationGroup"
    },
    {
      "name": "HybridComputePrivateLinkScopes"
    },
    {
      "name": "PrivateLinkResources"
    },
    {
      "name": "PrivateEndpointConnections"
    },
    {
      "name": "NetworkSecurityPerimeterConfigurations"
    }
  ],
  "paths": {
    "/providers/Microsoft.HybridCompute/locations/{location}/publishers": {
      "get": {
        "operationId": "ExtensionPublisher_List",
        "description": "Gets all Extension publishers based on the location",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExtensionPublisherListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET a list of extension publishers": {
            "$ref": "./examples/extension/ExtensionPublisher_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes": {
      "get": {
        "operationId": "ExtensionType_List",
        "description": "Gets all Extension types based on location and publisher",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "publisher",
            "in": "path",
            "description": "The publisher of the Extension being received.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ExtensionTypeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET a list of extension types": {
            "$ref": "./examples/extension/ExtensionType_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes/{extensionType}/versions": {
      "get": {
        "operationId": "ExtensionMetadataV2_List",
        "tags": [
          "ExtensionValueV2s"
        ],
        "description": "Gets all Extension versions based on location, publisher, extensionType",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "publisher",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionType",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionValueListResultV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET a list of extension metadata": {
            "$ref": "./examples/extension/ExtensionMetadataV2_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.HybridCompute/locations/{location}/publishers/{publisher}/extensionTypes/{extensionType}/versions/{version}": {
      "get": {
        "operationId": "ExtensionMetadataV2_Get",
        "tags": [
          "ExtensionValueV2s"
        ],
        "description": "Gets an Extension Metadata based on location, publisher, extensionType and version",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "publisher",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionType",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionValueV2"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET an extension metadata": {
            "$ref": "./examples/extension/ExtensionMetadataV2_Get.json"
          }
        }
      }
    },
    "/providers/Microsoft.HybridCompute/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Hybrid Compute Provider Operations": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.HybridCompute/osType/{osType}/agentVersions": {
      "get": {
        "operationId": "AgentVersion_List",
        "description": "Gets all agent versions based on location and publisher",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "osType",
            "in": "path",
            "description": "The publisher of the agent version being received.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AgentVersionsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.HybridCompute/osType/{osType}/agentVersions/{version}": {
      "get": {
        "operationId": "AgentVersion_Get",
        "parameters": [
          {
            "name": "osType",
            "in": "path",
            "description": "The id (Guid) of the Azure Arc PrivateLinkScope resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AgentVersion"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/gateways": {
      "get": {
        "operationId": "Gateways_ListBySubscription",
        "tags": [
          "Gateways"
        ],
        "description": "The operation to get all gateways of a non-Azure machine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Gateways by Subscription": {
            "$ref": "./examples/gateway/Gateway_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/licenses": {
      "get": {
        "operationId": "Licenses_ListBySubscription",
        "tags": [
          "Licenses"
        ],
        "description": "The operation to get all licenses of a non-Azure machine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Licenses by Subscription": {
            "$ref": "./examples/license/License_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/locations/{location}/privateLinkScopes/{privateLinkScopeId}": {
      "get": {
        "operationId": "PrivateLinkScopes_GetValidationDetails",
        "description": "Returns a Azure Arc PrivateLinkScope's validation details.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "privateLinkScopeId",
            "in": "path",
            "description": "The id (Guid) of the Azure Arc PrivateLinkScope resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkScopeValidationDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeGet": {
            "$ref": "./examples/privateLinkScope/PrivateLinkScopes_GetValidation.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/machines": {
      "get": {
        "operationId": "Machines_ListBySubscription",
        "tags": [
          "Machines"
        ],
        "description": "Lists all the hybrid machines in the specified subscription. Use the nextLink property in the response to get the next page of hybrid machines.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Machines by resource group": {
            "$ref": "./examples/machine/Machines_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/privateLinkScopes": {
      "get": {
        "operationId": "PrivateLinkScopes_List",
        "tags": [
          "HybridComputePrivateLinkScopes"
        ],
        "description": "Gets a list of all Azure Arc PrivateLinkScopes within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HybridComputePrivateLinkScopeListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopesList.json": {
            "$ref": "./examples/privateLinkScope/PrivateLinkScopes_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/validateLicense": {
      "post": {
        "operationId": "Licenses_ValidateLicense",
        "description": "The operation to validate a license.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/License"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/License"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate a License": {
            "$ref": "./examples/license/License_ValidateLicense.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/License"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/versions": {
      "get": {
        "operationId": "ExtensionMetadata_List",
        "tags": [
          "ExtensionValues"
        ],
        "description": "Gets all Extension versions based on location, publisher, extensionType",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionValueListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET a list of extensions": {
            "$ref": "./examples/extension/ExtensionMetadata_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCompute/versions/{version}": {
      "get": {
        "operationId": "ExtensionMetadata_Get",
        "tags": [
          "ExtensionValues"
        ],
        "description": "Gets an Extension Metadata based on location, publisher, extensionType and version",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "version",
            "in": "path",
            "description": "The version of the Extension being received.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExtensionValue"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET an extensions metadata": {
            "$ref": "./examples/extension/ExtensionMetadata_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/gateways": {
      "get": {
        "operationId": "Gateways_ListByResourceGroup",
        "tags": [
          "Gateways"
        ],
        "description": "The operation to get all gateways of a non-Azure machine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GatewayListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Gateways by Resource Group": {
            "$ref": "./examples/gateway/Gateway_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/gateways/{gatewayName}": {
      "get": {
        "operationId": "Gateways_Get",
        "tags": [
          "Gateways"
        ],
        "description": "Retrieves information about the view of a gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the Gateway.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Gateway": {
            "$ref": "./examples/gateway/Gateway_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Gateways_CreateOrUpdate",
        "tags": [
          "Gateways"
        ],
        "description": "The operation to create or update a gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the Gateway.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create gateway operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Gateway' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "201": {
            "description": "Resource 'Gateway' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Gateway"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a Gateway": {
            "$ref": "./examples/gateway/Gateway_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Gateway"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Gateways_Update",
        "tags": [
          "Gateways"
        ],
        "description": "The operation to update a gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the Gateway.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update gateway operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GatewayUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Gateway"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a Gateway": {
            "$ref": "./examples/gateway/Gateway_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Gateways_Delete",
        "tags": [
          "Gateways"
        ],
        "description": "The operation to delete a gateway.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "gatewayName",
            "in": "path",
            "description": "The name of the Gateway.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Gateway": {
            "$ref": "./examples/gateway/Gateway_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/licenses": {
      "get": {
        "operationId": "Licenses_ListByResourceGroup",
        "tags": [
          "Licenses"
        ],
        "description": "The operation to get all licenses of a non-Azure machine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET all Machine Extensions": {
            "$ref": "./examples/license/License_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/licenses/{licenseName}": {
      "get": {
        "operationId": "Licenses_Get",
        "tags": [
          "Licenses"
        ],
        "description": "Retrieves information about the view of a license.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "licenseName",
            "in": "path",
            "description": "The name of the license.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/License"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get License": {
            "$ref": "./examples/license/License_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Licenses_CreateOrUpdate",
        "tags": [
          "Licenses"
        ],
        "description": "The operation to create or update a license.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "licenseName",
            "in": "path",
            "description": "The name of the license.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create license operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/License"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'License' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/License"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a License": {
            "$ref": "./examples/license/License_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Licenses_Update",
        "tags": [
          "Licenses"
        ],
        "description": "The operation to update a license.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "licenseName",
            "in": "path",
            "description": "The name of the license.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update license operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LicenseUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/License"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a License": {
            "$ref": "./examples/license/License_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Licenses_Delete",
        "tags": [
          "Licenses"
        ],
        "description": "The operation to delete a license.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "licenseName",
            "in": "path",
            "description": "The name of the license.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a License": {
            "$ref": "./examples/license/License_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines": {
      "get": {
        "operationId": "Machines_ListByResourceGroup",
        "tags": [
          "Machines"
        ],
        "description": "Lists all the hybrid machines in the specified resource group. Use the nextLink property in the response to get the next page of hybrid machines.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Machines by resource group": {
            "$ref": "./examples/machine/Machines_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}": {
      "get": {
        "operationId": "Machines_Get",
        "tags": [
          "Machines"
        ],
        "description": "Retrieves information about the model view or the instance view of a hybrid machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string",
            "enum": [
              "instanceView"
            ],
            "x-ms-enum": {
              "name": "InstanceViewTypes",
              "modelAsString": true,
              "values": [
                {
                  "name": "instanceView",
                  "value": "instanceView",
                  "description": "instanceView"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Machine": {
            "$ref": "./examples/machine/Machines_Get.json"
          },
          "Get Machine with License Profile Instance View": {
            "$ref": "./examples/machine/Machines_Get_LicenseProfileInstanceView.json"
          }
        }
      },
      "put": {
        "operationId": "Machines_CreateOrUpdate",
        "tags": [
          "Machines"
        ],
        "description": "The operation to create or update a hybrid machine. Please note some properties can be set only during machine creation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expands referenced resources.",
            "required": false,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create hybrid machine operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Machine' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a Machine": {
            "$ref": "./examples/machine/Machines_CreateOrUpdate.json"
          }
        }
      },
      "patch": {
        "operationId": "Machines_Update",
        "tags": [
          "Machines"
        ],
        "description": "The operation to update a hybrid machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update hybrid machine operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Machine"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a Machine": {
            "$ref": "./examples/machine/Machines_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Machines_Delete",
        "tags": [
          "Machines"
        ],
        "description": "The operation to delete a hybrid machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Machine": {
            "$ref": "./examples/machine/Machines_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/{name}/assessPatches": {
      "post": {
        "operationId": "Machines_AssessPatches",
        "tags": [
          "Machines"
        ],
        "description": "The operation to assess patches on a hybrid machine identity in Azure.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineAssessPatchesResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Assess patch state of a machine.": {
            "$ref": "./examples/machine/Machine_AssessPatches.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Azure.ResourceManager.ArmResponse%3CMachineAssessPatchesResult%3E"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/{name}/installPatches": {
      "post": {
        "operationId": "Machines_InstallPatches",
        "tags": [
          "Machines"
        ],
        "description": "The operation to install patches on a hybrid machine identity in Azure.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string"
          },
          {
            "name": "installPatchesInput",
            "in": "body",
            "description": "Input for InstallPatches as directly received by the API",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineInstallPatchesParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineInstallPatchesResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Install patch state of a machine.": {
            "$ref": "./examples/machine/Machine_InstallPatches.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Azure.ResourceManager.ArmResponse%3CMachineInstallPatchesResult%3E"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/addExtensions": {
      "post": {
        "operationId": "SetupExtensions",
        "tags": [
          "Machines"
        ],
        "description": "The operation to Setup Machine Extensions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "extensions",
            "in": "body",
            "description": "Parameters supplied to the Setup Extensions operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SetupExtensionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SetupExtensionRequest"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Setup Machine Extensions": {
            "$ref": "./examples/extension/Extension_Add.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/Azure.ResourceManager.ArmResponse%3CSetupExtensionRequest%3E"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/current": {
      "get": {
        "operationId": "PrivateLinkScopes_GetValidationDetailsForMachine",
        "tags": [
          "Machines"
        ],
        "description": "Returns a Azure Arc PrivateLinkScope's validation details for a given machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkScopeValidationDetails"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateLinkScopeGet": {
            "$ref": "./examples/privateLinkScope/PrivateLinkScopes_GetValidationForMachine.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/extensions": {
      "get": {
        "operationId": "MachineExtensions_List",
        "tags": [
          "MachineExtensions"
        ],
        "description": "The operation to get all extensions of a non-Azure machine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineExtensionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET all Machine Extensions - List": {
            "$ref": "./examples/extension/Extension_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/extensions/{extensionName}": {
      "get": {
        "operationId": "MachineExtensions_Get",
        "tags": [
          "MachineExtensions"
        ],
        "description": "The operation to get the extension.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "The name of the machine extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineExtension"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET Machine Extension": {
            "$ref": "./examples/extension/Extension_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MachineExtensions_CreateOrUpdate",
        "tags": [
          "MachineExtensions"
        ],
        "description": "The operation to create or update the extension.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "The name of the machine extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "description": "Parameters supplied to the Create Machine Extension operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineExtension"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MachineExtension' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MachineExtension"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a Machine Extension": {
            "$ref": "./examples/extension/Extension_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MachineExtensions_Update",
        "tags": [
          "MachineExtensions"
        ],
        "description": "The operation to create or update the extension.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "The name of the machine extension.",
            "required": true,
            "type": "string"
          },
          {
            "name": "extensionParameters",
            "in": "body",
            "description": "Parameters supplied to the Create Machine Extension operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineExtensionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineExtension"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a Machine Extension": {
            "$ref": "./examples/extension/Extension_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/MachineExtension"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MachineExtensions_Delete",
        "tags": [
          "MachineExtensions"
        ],
        "description": "The operation to delete the extension.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "extensionName",
            "in": "path",
            "description": "The name of the machine extension.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Machine Extension": {
            "$ref": "./examples/extension/Extension_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/licenseProfiles": {
      "get": {
        "operationId": "LicenseProfiles_List",
        "tags": [
          "LicenseProfiles"
        ],
        "description": "The operation to get all license profiles of a non-Azure machine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseProfileListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all License Profiles": {
            "$ref": "./examples/licenseProfile/LicenseProfile_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/licenseProfiles/default": {
      "get": {
        "operationId": "LicenseProfiles_Get",
        "tags": [
          "LicenseProfiles"
        ],
        "description": "Retrieves information about the view of a license profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get License Profile": {
            "$ref": "./examples/licenseProfile/LicenseProfile_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LicenseProfiles_CreateOrUpdate",
        "tags": [
          "LicenseProfiles"
        ],
        "description": "The operation to create or update a license profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create or Update license profile operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LicenseProfile"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LicenseProfile' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LicenseProfile"
            }
          },
          "201": {
            "description": "Resource 'LicenseProfile' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LicenseProfile"
            },
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a License Profile": {
            "$ref": "./examples/licenseProfile/LicenseProfile_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/LicenseProfile"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LicenseProfiles_Update",
        "tags": [
          "LicenseProfiles"
        ],
        "description": "The operation to update a license profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Update license profile operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LicenseProfileUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LicenseProfile"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a License Profile": {
            "$ref": "./examples/licenseProfile/LicenseProfile_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/LicenseProfile"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LicenseProfiles_Delete",
        "tags": [
          "LicenseProfiles"
        ],
        "description": "The operation to delete a license profile.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a License Profile": {
            "$ref": "./examples/licenseProfile/LicenseProfile_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/networkProfile": {
      "get": {
        "operationId": "NetworkProfile_Get",
        "tags": [
          "Machines"
        ],
        "description": "The operation to get network information of hybrid machine",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/NetworkProfile"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET Network Profile": {
            "$ref": "./examples/NetworkProfile_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/runCommands": {
      "get": {
        "operationId": "MachineRunCommands_List",
        "tags": [
          "MachineRunCommands"
        ],
        "description": "The operation to get all the run commands of a non-Azure machine.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "The expand expression to apply on the operation.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineRunCommandListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GET all Machine Run Commands": {
            "$ref": "./examples/runCommand/RunCommands_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/runCommands/{runCommandName}": {
      "get": {
        "operationId": "MachineRunCommands_Get",
        "tags": [
          "MachineRunCommands"
        ],
        "description": "The operation to get a run command.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "runCommandName",
            "in": "path",
            "description": "The name of the run command.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MachineRunCommand"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Run Command": {
            "$ref": "./examples/runCommand/RunCommands_Get.json"
          }
        }
      },
      "put": {
        "operationId": "MachineRunCommands_CreateOrUpdate",
        "tags": [
          "MachineRunCommands"
        ],
        "description": "The operation to create or update a run command.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "runCommandName",
            "in": "path",
            "description": "The name of the run command.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          },
          {
            "name": "runCommandProperties",
            "in": "body",
            "description": "Parameters supplied to the Create Run Command.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MachineRunCommand"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MachineRunCommand' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MachineRunCommand"
            }
          },
          "201": {
            "description": "Resource 'MachineRunCommand' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MachineRunCommand"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or Update a Run Command": {
            "$ref": "./examples/runCommand/RunCommands_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/MachineRunCommand"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "MachineRunCommands_Delete",
        "tags": [
          "MachineRunCommands"
        ],
        "description": "The operation to delete a run command.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 54,
            "pattern": "^[a-zA-Z0-9-_\\.]{1,54}$"
          },
          {
            "name": "runCommandName",
            "in": "path",
            "description": "The name of the run command.",
            "required": true,
            "type": "string",
            "pattern": "[a-zA-Z0-9-_\\.]+"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Machine Run Command": {
            "$ref": "./examples/runCommand/RunCommands_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HybridCompute/machines/{machineName}/upgradeExtensions": {
      "post": {
        "operationId": "UpgradeExtensions",
        "tags": [
          "Machines"
        ],
        "description": "The operation to Upgrade Machine Extensions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "machineName",
            "in": "path",
            "description": "The name of the hybrid machine.",
[...]
