{
  "swagger": "2.0",
  "info": {
    "version": "2024-05-01-preview",
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules": {
      "get": {
        "tags": [
          "DataMaskingRules"
        ],
        "description": "Gets a list of database data masking rules.",
        "operationId": "DataMaskingRules_ListByDatabase",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "name": "dataMaskingPolicyName",
            "in": "path",
            "description": "The name of the database for which the data masking rule applies.",
            "required": true,
            "type": "string",
            "enum": [
              "Default"
            ],
            "x-ms-enum": {
              "name": "DataMaskingPolicyName",
              "modelAsString": true
            }
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of server's Advanced Threat Protection states.",
            "schema": {
              "$ref": "#/definitions/DataMaskingRuleListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets a list of database data masking rules.": {
            "$ref": "./examples/DataMaskingRuleListByDatabase.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/dataMaskingPolicies/{dataMaskingPolicyName}/rules/{dataMaskingRuleName}": {
      "put": {
        "tags": [
          "DataMaskingRules"
        ],
        "description": "Creates or updates a database data masking rule.",
        "operationId": "DataMaskingRules_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "name": "dataMaskingPolicyName",
            "in": "path",
            "description": "The name of the database for which the data masking policy applies.",
            "required": true,
            "type": "string",
            "enum": [
              "Default"
            ],
            "x-ms-enum": {
              "name": "DataMaskingPolicyName",
              "modelAsString": true
            }
          },
          {
            "name": "dataMaskingRuleName",
            "in": "path",
            "description": "The name of the data masking rule.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The required parameters for creating or updating a data masking rule.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataMaskingRule"
            }
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully set a database data masking rule.",
            "schema": {
              "$ref": "#/definitions/DataMaskingRule"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          },
          "201": {
            "description": "Successfully created a database data masking rule.",
            "schema": {
              "$ref": "#/definitions/DataMaskingRule"
            }
          }
        },
        "x-ms-examples": {
          "Create/Update data masking rule for default max.": {
            "$ref": "./examples/DataMaskingRuleCreateOrUpdateDefaultMax.json"
          },
          "Create/Update data masking rule for default min.": {
            "$ref": "./examples/DataMaskingRuleCreateOrUpdateDefaultMin.json"
          },
          "Create/Update data masking rule for numbers.": {
            "$ref": "./examples/DataMaskingRuleCreateOrUpdateNumber.json"
          },
          "Create/Update data masking rule for text.": {
            "$ref": "./examples/DataMaskingRuleCreateOrUpdateText.json"
          }
        }
      }
    }
  },
  "definitions": {
    "DataMaskingRule": {
      "description": "A database data masking rule.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "location": {
          "description": "The location of the data masking rule.",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "description": "The kind of Data Masking Rule. Metadata, used for Azure portal.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/DataMaskingRuleProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "DataMaskingRuleListResult": {
      "description": "The list of database data masking rules.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataMaskingRule"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DataMaskingRuleProperties": {
      "description": "The properties of a database data masking rule.",
      "required": [
        "schemaName",
        "tableName",
        "columnName",
        "maskingFunction"
      ],
      "type": "object",
      "properties": {
        "id": {
          "description": "The rule Id.",
          "type": "string",
          "readOnly": true
        },
        "ruleState": {
          "description": "The rule state. Used to delete a rule. To delete an existing rule, specify the schemaName, tableName, columnName, maskingFunction, and specify ruleState as disabled. However, if the rule doesn't already exist, the rule will be created with ruleState set to enabled, regardless of the provided value of ruleState.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DataMaskingRuleState",
            "modelAsString": false
          }
        },
        "schemaName": {
          "description": "The schema name on which the data masking rule is applied.",
          "type": "string"
        },
        "tableName": {
          "description": "The table name on which the data masking rule is applied.",
          "type": "string"
        },
        "columnName": {
          "description": "The column name on which the data masking rule is applied.",
          "type": "string"
        },
        "aliasName": {
          "description": "The alias name. This is a legacy parameter and is no longer used.",
          "type": "string"
        },
        "maskingFunction": {
          "description": "The masking function that is used for the data masking rule.",
          "enum": [
            "Default",
            "CCN",
            "Email",
            "Number",
            "SSN",
            "Text"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DataMaskingFunction",
            "modelAsString": false
          }
        },
        "numberFrom": {
          "description": "The numberFrom property of the masking rule. Required if maskingFunction is set to Number, otherwise this parameter will be ignored.",
          "type": "string"
        },
        "numberTo": {
          "description": "The numberTo property of the data masking rule. Required if maskingFunction is set to Number, otherwise this parameter will be ignored.",
          "type": "string"
        },
        "prefixSize": {
          "description": "If maskingFunction is set to Text, the number of characters to show unmasked in the beginning of the string. Otherwise, this parameter will be ignored.",
          "type": "string"
        },
        "suffixSize": {
          "description": "If maskingFunction is set to Text, the number of characters to show unmasked at the end of the string. Otherwise, this parameter will be ignored.",
          "type": "string"
        },
        "replacementString": {
          "description": "If maskingFunction is set to Text, the character to use for masking the unexposed part of the string. Otherwise, this parameter will be ignored.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "DatabaseNameParameter": {
      "name": "databaseName",
      "in": "path",
      "description": "The name of the database.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "description": "The name of the server.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
