{
  "swagger": "2.0",
  "info": {
    "version": "2024-05-01-preview",
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools/{instancePoolName}/operations": {
      "get": {
        "tags": [
          "InstancePoolOperations"
        ],
        "description": "Gets a list of operations performed on the instance pool.",
        "operationId": "InstancePoolOperations_ListByInstancePool",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "name": "instancePoolName",
            "in": "path",
            "description": "The name of the managed instance pool.",
            "required": true,
            "type": "string",
            "maxLength": 127,
            "minLength": 1,
            "pattern": "^[a-z0-9]+(-*[a-z0-9]+)*$"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request for getting instance pool operations has been executed successfully.",
            "schema": {
              "$ref": "#/definitions/InstancePoolOperationListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped - Conflicting operation submitted while instance is in stopping/stopped state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted while instance is in starting state\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List the instance pool management operations with no results": {
            "$ref": "./examples/ListInstancePoolOperationsEmpty.json"
          },
          "List the instance pool management operations with some results": {
            "$ref": "./examples/ListInstancePoolOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/instancePools/{instancePoolName}/operations/{operationId}": {
      "get": {
        "tags": [
          "InstancePoolOperations"
        ],
        "description": "Gets a management operation on a instance pool.",
        "operationId": "InstancePoolOperations_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupParameter"
          },
          {
            "name": "instancePoolName",
            "in": "path",
            "description": "The name of the managed instance pool.",
            "required": true,
            "type": "string",
            "maxLength": 127,
            "minLength": 1,
            "pattern": "^[a-z0-9]+(-*[a-z0-9]+)*$"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the specified instance pool operation.",
            "schema": {
              "$ref": "#/definitions/InstancePoolOperation"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 ManagedInstanceStoppingOrStopped - Conflicting operation submitted while instance is in stopping/stopped state\n\n * 400 ManagedInstanceStarting - Conflicting operation submitted while instance is in starting state\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ServerNotInSubscriptionResourceGroup - Specified server does not exist in the specified resource group and subscription.\n\n * 404 ResourceNotFound - The requested resource was not found.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the instance pool management operation": {
            "$ref": "./examples/GetInstancePoolOperation.json"
          }
        }
      }
    }
  },
  "definitions": {
    "InstancePoolOperation": {
      "description": "A instance pool operation.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/InstancePoolOperationProperties",
          "description": "Resource properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "InstancePoolOperationListResult": {
      "description": "The response to a list instance pool operations request",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of results.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/InstancePoolOperation"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InstancePoolOperationProperties": {
      "description": "The properties of a instance pool operation.",
      "type": "object",
      "properties": {
        "instancePoolName": {
          "description": "The name of the instance pool the operation is being performed on.",
          "type": "string",
          "readOnly": true
        },
        "operation": {
          "description": "The name of operation.",
          "type": "string",
          "readOnly": true
        },
        "operationFriendlyName": {
          "description": "The friendly name of operation.",
          "type": "string",
          "readOnly": true
        },
        "percentComplete": {
          "format": "int32",
          "description": "The percentage of the operation completed.",
          "type": "integer",
          "readOnly": true
        },
        "startTime": {
          "format": "date-time",
          "description": "The operation start time.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "The operation state.",
          "enum": [
            "Pending",
            "InProgress",
            "Succeeded",
            "Failed",
            "CancelInProgress",
            "Cancelled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ManagementOperationState",
            "modelAsString": true
          }
        },
        "errorCode": {
          "format": "int32",
          "description": "The operation error code.",
          "type": "integer",
          "readOnly": true
        },
        "errorDescription": {
          "description": "The operation error description.",
          "type": "string",
          "readOnly": true
        },
        "errorSeverity": {
          "format": "int32",
          "description": "The operation error severity.",
          "type": "integer",
          "readOnly": true
        },
        "errorType": {
          "description": "Error type (e.g. None, User).",
          "enum": [
            "None",
            "User"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ErrorType",
            "modelAsString": true
          }
        },
        "estimatedCompletionTime": {
          "format": "date-time",
          "description": "The estimated completion time of the operation.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The operation description.",
          "type": "string",
          "readOnly": true
        },
        "isCancellable": {
          "description": "Whether the operation can be cancelled.",
          "type": "boolean",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {},
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
