{
    "swagger": "2.0",
    "info": {
        "version": "2015-06-01",
        "title": "CdnManagementClient",
        "description": "Use these APIs to manage Azure CDN resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure. For more information, see <a href=\"https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx\">Authenticating Azure Resource Manager requests.</a>"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Lists the CDN Profiles within a resource group",
                "operationId": "Profiles_ListProfiles",
                "parameters": [
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ProfileListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}": {
            "get": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Gets a CDN profile with the specified parameters",
                "operationId": "Profiles_GetProfile",
                "parameters": [
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Creates a new CDN Profile with the specified parameters",
                "operationId": "Profile_CreateProfile",
                "parameters": [
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileProperties",
                        "in": "body",
                        "description": "Profile properties needed for creation",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewProfileProperties"
                        }
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    },
                    "202": {
                        "description": "Accepted and  the operation will complete asynchronously",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    },
                    "409": {
                        "description": "Profile already exists and resource is not in a terminal state"
                    }
                },
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Updates an existing CDN Profile with the specified parameters",
                "operationId": "Profile_UpdateProfile",
                "parameters": [
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "tags",
                        "in": "body",
                        "description": "Profile tags to update",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "additionalProperties": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    },
                    "409": {
                        "description": "Profile already exists and resource is not in a terminal state"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Deletes an existing CDN Profile with the specified parameters. Deleting a profile will result in the deletion of all sub resources including endpoints, origins and CustomDomains",
                "operationId": "Profile_DeleteProfile",
                "parameters": [
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "409": {
                        "description": "Profile already exists and resource is not in a terminal state"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/generateSsoUri": {
            "post": {
                "tags": [
                    "Profiles"
                ],
                "summary": "Generates a dynamic SSO URI used to sign in to the CDN Supplemental Portal used for advanced management tasks, such as Country Filtering, Advanced HTTP Reports, and Real-time Stats and Alerts. The SSO URI changes approximately every 10 minutes.",
                "operationId": "Profiles_GenerateSsoUri",
                "parameters": [
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/SsoUri"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Lists existing CDN endpoints within a profile",
                "operationId": "Endpoints_ListEndpoints",
                "parameters": [
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/EndpointListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}": {
            "get": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Gets an existing CDN endpoint with the specified parameters",
                "operationId": "Endpoints_GetEndpoint",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Creates a new CDN endpoint with the specified parameters",
                "operationId": "Endpoints_CreateEndpoint",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endpointProperties",
                        "in": "body",
                        "description": "Endpoint properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewEndpointProperties"
                        }
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "202": {
                        "description": "Accepted and  the operation will complete asynchronously",
                        "schema": {
                            "$ref": "#/definitions/Profile"
                        }
                    },
                    "409": {
                        "description": "Endpoint already exists and resource is not in a terminal state"
                    }
                },
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Updates an existing CDN endpoint with the specified parameters. Only tags and OriginHostHeader can be updated after creating an endpoint. To update origins, use the Update Origin operation. To update custom domains, use the Update Custom Domain operation.",
                "operationId": "Endpoints_UpdateEndpoint",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endpointProperties",
                        "in": "body",
                        "description": "Endpoint properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/EndpointUpdateProperties"
                        }
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Accepted",
                        "schema": {
                            "$ref": "#/definitions/Endpoint"
                        }
                    },
                    "409": {
                        "description": "Endpoint already exists and resource is not in a terminal state"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "deletes an existing CDN endpoint with the specified parameters",
                "operationId": "Endpoints_DeleteEndpoint",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted"
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "409": {
                        "description": "Endpoint already exists and resource is not in a terminal state"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/Start": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Starts an existing stopped CDN endpoint",
                "operationId": "Endpoints_StartEndpoint",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/Stop": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Stops an existing running CDN endpoint",
                "operationId": "Endpoints_StopEndpoint",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/Purge": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Forcibly purges CDN endpoint content",
                "operationId": "Endpoints_PurgeEndpointContent",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contentFilePaths",
                        "in": "body",
                        "description": "The path to the content to be purged. Path can describe a file or directory.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/Load": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Forcibly pre-loads CDN endpoint content",
                "operationId": "Endpoints_LoadEndpointContent",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "contentFilePaths",
                        "in": "body",
                        "description": "The path to the content to be loaded. Path should describe a file.",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/ValidateCustomDomain": {
            "post": {
                "tags": [
                    "Endpoints"
                ],
                "summary": "Validates a Custom Domain mapping to ensure it maps to the correct CNAME in DNS",
                "operationId": "Endpoints_ValidateCustomDomain",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "customDomainProperties",
                        "in": "body",
                        "description": "Custom domain to validate",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ValidateCustomDomainInput"
                        }
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/ValidateCustomDomainOutput"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/origins": {
            "get": {
                "tags": [
                    "Origins"
                ],
                "summary": "Lists the existing CDN Origins within an Endpoint",
                "operationId": "Origins_ListOrigins",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OriginListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/origins/{originName}": {
            "get": {
                "tags": [
                    "Origins"
                ],
                "summary": "Gets an existing CDN Origin within an Endpoint",
                "operationId": "Origins_GetOrigin",
                "parameters": [
                    {
                        "name": "originName",
                        "in": "path",
                        "description": "Name of the origin, an arbitrary value but it needs to be unique under endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Origin"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Origins"
                ],
                "summary": "Creates a new CDN Origin within an Endpoint",
                "operationId": "Origins_CreateOrigin",
                "parameters": [
                    {
                        "name": "originName",
                        "in": "path",
                        "description": "Name of the origin, an arbitrary value but it needs to be unique under endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "originProperties",
                        "in": "body",
                        "description": "Origin properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OriginParameters"
                        }
                    },
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/Origin"
                        }
                    },
                    "202": {
                        "description": "Accepted and  the operation will complete asynchronously",
                        "schema": {
                            "$ref": "#/definitions/Origin"
                        }
                    },
                    "409": {
                        "description": "Origin already exists and resource is not in a terminal state"
                    }
                },
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [
                    "Origins"
                ],
                "summary": "Updates an existing CDN Origin within an Endpoint",
                "operationId": "Origins_UpdateOrigin",
                "parameters": [
                    {
                        "name": "originName",
                        "in": "path",
                        "description": "Name of the origin, an arbitrary value but it needs to be unique under endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "originProperties",
                        "in": "body",
                        "description": "Origin properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/OriginParameters"
                        }
                    },
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/Origin"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Origins"
                ],
                "summary": "Deletes an existing CDN Origin within an Endpoint",
                "operationId": "Origins_DeleteOrigin",
                "parameters": [
                    {
                        "name": "originName",
                        "in": "path",
                        "description": "Name of the origin, an arbitrary value but it needs to be unique under endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously",
                        "schema": {
                            "$ref": "#/definitions/Origin"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "409": {
                        "description": "Origin already exists and resource is not in a terminal state"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/CustomDomains": {
            "get": {
                "tags": [
                    "CustomDomains"
                ],
                "summary": "Lists the existing CDN Custom Domains within an Endpoint",
                "operationId": "CustomDomains_ListCustomDomains",
                "parameters": [
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomDomainListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/Profiles/{profileName}/endpoints/{endpointName}/CustomDomains/{customDomainName}": {
            "get": {
                "tags": [
                    "CustomDomains"
                ],
                "summary": "Gets an existing CDN Custom Domain within an Endpoint",
                "operationId": "CustomDomains_GetCustomDomain",
                "parameters": [
                    {
                        "name": "customDomainName",
                        "in": "path",
                        "description": "Name of the custom domain within an endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomDomain"
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "CustomDomains"
                ],
                "summary": "Creates a new CDN Custom Domain within an Endpoint",
                "operationId": "CustomDomains_CreateCustomDomain",
                "parameters": [
                    {
                        "name": "customDomainName",
                        "in": "path",
                        "description": "Name of the custom domain within an endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "customDomainProperties",
                        "in": "body",
                        "description": "Custom domain properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomDomainParameters"
                        }
                    },
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/CustomDomain"
                        }
                    },
                    "202": {
                        "description": "Accepted and  the operation will complete asynchronously",
                        "schema": {
                            "$ref": "#/definitions/CustomDomain"
                        }
                    },
                    "409": {
                        "description": "CustomDomain already exists and resource is not in a terminal state"
                    }
                },
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [
                    "CustomDomains"
                ],
                "summary": "Updates an existing CDN Custom Domain within an Endpoint",
                "operationId": "CustomDomains_UpdateCustomDomain",
                "parameters": [
                    {
                        "name": "customDomainName",
                        "in": "path",
                        "description": "Name of the custom domain within an endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "customDomainProperties",
                        "in": "body",
                        "description": "Custom domain properties",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CustomDomainParameters"
                        }
                    },
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CustomDomain"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "CustomDomains"
                ],
                "summary": "Deletes an existing CDN Custom Domain within an Endpoint",
                "operationId": "CustomDomains_DeleteCustomDomain",
                "parameters": [
                    {
                        "name": "customDomainName",
                        "in": "path",
                        "description": "Name of the custom domain within an endpoint",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "endpointName",
                        "in": "path",
                        "description": "Name of the endpoint within the CDN profile",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "profileName",
                        "in": "path",
                        "description": "Name of the CDN profile within the resource group",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "resourceGroupName",
                        "in": "path",
                        "description": "Name of the resource group within the Azure subscription",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "$ref": "#/parameters/subscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted and the operation will complete asynchronously",
                        "schema": {
                            "$ref": "#/definitions/Origin"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "409": {
                        "description": "CustomDomain already exists and resource is not in a terminal state"
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/providers/Microsoft.Cdn/checkNameAvailability": {
            "post": {
                "tags": [
                    "CheckNameAvailability"
                ],
                "summary": "Check the availability of a resource name. This is needed for resources where name is globally unique (ex: endpoint). With this operation checks if the name is available or not without creating the resource.",
                "operationId": "NameAvailability_CheckNameAvailability",
                "parameters": [
                    {
                        "name": "checkNameAvailabilityInput",
                        "in": "body",
                        "description": "input to check",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CheckNameAvailabilityInput"
                        }
                    },
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/CheckNameAvailabilityOutput"
                        }
                    }
                }
            }
        },
        "/providers/Microsoft.Cdn/operations": {
            "get": {
                "tags": [
                    "Operations"
                ],
                "summary": "Lists all of the available CDN REST API operations",
                "operationId": "Operations_ListOperations",
                "parameters": [
                    {
                        "$ref": "#/parameters/apiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/OperationListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": null
                }
            }
        }
    },
    "definitions": {
        "Profile": {
            "description": "CDN profile represents the top level resource and the entry point into the CDN API. This allows users to set up a logical grouping of endpoints in addition to creating shared configuration settings and selecting pricing tiers and providers.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/TrackedResource"
                }
            ],
            "properties": {
                "properties": {
                    "required": [
                        "sku"
                    ],
                    "properties": {
                        "sku": {
                            "description": "Profile sku",
                            "$ref": "#/definitions/Sku"
                        },
                        "resourceState": {
                            "description": "Resource status of the profile",
                            "readOnly": true,
                            "enum": [
                                "Creating",
                                "Active",
                                "Deleting",
                                "Disabled"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                                "name": "ProfileResourceState",
                                "modelAsString": "False"
                            }
                        },
                        "provisioningState": {
                            "description": "Provisioning status of the profile",
                            "$ref": "#/definitions/ProvisioningState"
                        }
                    }
                }
            }
        },
        "ProfileListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Profile"
                    },
                    "description": "List of CDN Profiles within a resource group"
                }
            }
        },
        "NewProfileProperties": {
            "type": "object",
            "description": "Profile properties required for profile creation",
            "required": [
                "location",
                "tags"
            ],
            "properties": {
                "location": {
                    "description": "Profile location",
                    "type": "string"
                },
                "tags": {
                    "description": "Profile tags",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "properties": {
                    "required": [
                        "sku"
                    ],
                    "properties": {
                        "sku": {
                            "description": "Profile sku",
                            "$ref": "#/definitions/Sku"
                        }
                    }
                }
            }
        },
        "SsoUri": {
            "description": "Sso uri required to login to third party web portal",
            "type": "object",
            "properties": {
                "ssoUri": {
                    "description": "The uri used to login to third party web portal",
                    "type": "string"
                }
            }
        },
        "Endpoint": {
            "description": "CDN Endpoint is the entity within a CDN Profile containing configuration information regarding caching behaviors and origins. The CDN Endpoint is exposed using the URL format <endpointname>.azureedge.net by default, but custom domains can also be created.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/TrackedResource"
                }
            ],
            "properties": {
                "properties": {
                    "required": [
                        "origins"
                    ],
                    "properties": {
                        "hostName": {
                            "description": "The host name of the endpoint {endpointName}.{DNSZone}",
                            "type": "string",
                            "readOnly": true
                        },
                        "originHostHeader": {
                            "description": "The host header CDN provider will send along with content requests to origins. The default value would be the host name of the origin.",
                            "type": "string"
                        },
                        "originPath": {
                            "description": "The path used for origin requests",
                            "type": "string"
                        },
                        "contentTypesToCompress": {
                            "description": "List of content types on which compression will be applied. The value for the elements should be Internet media type.",
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "isCompressionEnabled": {
                            "description": "Indicates whether the compression is enabled. Default value is false. If compression is enabled, the content transferred from cdn endpoint to end user will be compressed. The requested content must be larger than 1 byte and smaller than 1 MB.",
                            "type": "boolean"
                        },
                        "isHttpAllowed": {
                            "description": "Indicates whether http traffic is allowed on the endpoint. Default value is true. At least one protocol (http or https) must be allowed.",
                            "type": "boolean"
                        },
                        "isHttpsAllowed": {
                            "description": "Indicates whether https traffic is allowed on the endpoint. Default value is true. At least one protocol (http or https) must be allowed.",
                            "type": "boolean"
                        },
                        "queryStringCachingBehavior": {
                            "description": "Defines the query string caching behavior",
                            "enum": [
                                "IgnoreQueryString",
                                "BypassCaching",
                                "UseQueryString"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                                "name": "QueryStringCachingBehavior",
                                "modelAsString": "False"
                            }
                        },
                        "origins": {
                            "description": "The set of origins of the CDN endpoint. When multiple origins exist, the first origin will be used as primary and rest will be used as failover options.",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DeepCreatedOrigin"
                            }
                        },
                        "resourceState": {
                            "description": "Resource status of the endpoint",
                            "readOnly": true,
                            "enum": [
                                "Creating",
                                "Deleting",
                                "Running",
                                "Starting",
                                "Stopped",
                                "Stopping"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                                "name": "EndpointResourceState",
                                "modelAsString": "False"
                            }
                        },
                        "provisioningState": {
                            "description": "Provisioning status of the endpoint",
                            "$ref": "#/definitions/ProvisioningState"
                        }
                    }
                }
            }
        },
        "EndpointListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Endpoint"
                    },
                    "description": "List of CDN Endpoints within a profile"
                }
            }
        },
        "NewEndpointProperties": {
            "type": "object",
            "description": "Endpoint properties required for new endpoint creation",
            "required": [
                "location",
                "tags"
            ],
            "properties": {
                "location": {
                    "description": "Endpoint location",
                    "type": "string"
                },
                "tags": {
                    "description": "Endpoint tags",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "properties": {
                    "properties": {
                        "originHostHeader": {
                            "description": "The host header CDN provider will send along with content requests to origins. The default value would be the host name of the origin.",
                            "type": "string"
                        },
                        "originPath": {
                            "description": "The path used for origin requests",
                            "type": "string"
                        },
                        "contentTypesToCompress": {
                            "description": "List of content types on which compression will be applied. The value for the elements should be Internet media type.",
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "isCompressionEnabled": {
                            "description": "Indicates whether the compression is enabled. Default value is false. If compression is enabled, the content transferred from cdn endpoint to end user will be compressed. The requested content must be larger than 1 byte and smaller than 1 MB.",
                            "type": "boolean"
                        },
                        "isHttpAllowed": {
                            "description": "Indicates whether http traffic is allowed on the endpoint. Default value is true. At least one protocol (http or https) must be allowed.",
                            "type": "boolean"
                        },
                        "isHttpsAllowed": {
                            "description": "Indicates whether https traffic is allowed on the endpoint. Default value is true. At least one protocol (http or https) must be allowed.",
                            "type": "boolean"
                        },
                        "queryStringCachingBehavior": {
                            "description": "Sets query string caching behavior",
                            "enum": [
                                "IgnoreQueryString",
                                "BypassCaching",
                                "UseQueryString"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                                "name": "QueryStringCachingBehavior",
                                "modelAsString": "False"
                            }
                        },
                        "origins": {
                            "description": " The set of origins of the CDN endpoint. When multiple origins exist, the first origin will be used as primary and rest will be used as failover options.",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DeepCreatedOrigin"
                            }
                        }
                    }
                }
            }
        },
        "EndpointUpdateProperties": {
            "type": "object",
            "description": "Endpoint properties required for new endpoint creation",
            "properties": {
                "tags": {
                    "description": "Endpoint tags",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                },
                "properties": {
                    "properties": {
                        "originHostHeader": {
                            "description": "The host header CDN provider will send along with content requests to origins. The default value would be the host name of the origin.",
                            "type": "string"
                        },
                        "originPath": {
                            "description": "The path used for origin requests",
                            "type": "string"
                        },
                        "contentTypesToCompress": {
                            "description": "List of content types on which compression will be applied. The value for the elements should be Internet media type.",
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "isCompressionEnabled": {
                            "description": "Indicates whether the compression is enabled. Default value is false. If compression is enabled, the content transferred from cdn endpoint to end user will be compressed. The requested content must be larger than 1 byte and smaller than 1 MB.",
                            "type": "boolean"
                        },
                        "isHttpAllowed": {
                            "description": "Indicates whether http traffic is allowed on the endpoint. Default value is true. At least one protocol (http or https) must be allowed.",
                            "type": "boolean"
                        },
                        "isHttpsAllowed": {
                            "description": "Indicates whether https traffic is allowed on the endpoint. Default value is true. At least one protocol (http or https) must be allowed.",
                            "type": "boolean"
                        },
                        "queryStringCachingBehavior": {
                            "description": "Sets query string caching behavior",
                            "enum": [
                                "IgnoreQueryString",
                                "BypassCaching",
                                "UseQueryString"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                                "name": "QueryStringCachingBehavior",
                                "modelAsString": "False"
                            }
                        },
                        "origins": {
                            "description": " The set of origins of the CDN endpoint. When multiple origins exist, the first origin will be used as primary and rest will be used as failover options.",
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/DeepCreatedOrigin"
                            }
                        }
                    }
                }
            }
        },
        "DeepCreatedOrigin": {
            "description": "Deep created origins within a CDN endpoint",
            "type": "object",
            "required": [
                "name"
            ],
            "properties": {
                "name": {
                    "description": "Origin name",
                    "type": "string"
                },
                "properties": {
                    "properties": {
                        "properties": {
                            "$ref": "#/definitions/OriginParameters"
                        }
                    }
                }
            }
        },
        "Origin": {
            "description": "CDN Origin is the source of the content being delivered via CDN. When the edge nodes represented by an Endpoint do not have the requested content cached, they attempt to fetch it from one or more of the configured Origins.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "properties": {
                "properties": {
                    "required": [
                        "hostName"
                    ],
                    "properties": {
                        "hostName": {
                            "description": "The host name of the origin",
                            "type": "string"
                        },
                        "httpPort": {
                            "description": "The value of the http port, must be between 1 and 65535",
                            "type": "integer"
                        },
                        "httpsPort": {
                            "description": "The value of the https port, must be between 1 and 65535",
                            "type": "integer"
                        },
                        "resourceState": {
                            "description": "Resource status of the origin",
                            "readOnly": true,
                            "enum": [
                                "Creating",
                                "Active",
                                "Deleting"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                                "name": "OriginResourceState",
                                "modelAsString": "False"
                            }
                        },
                        "provisioningState": {
                            "description": "Provisioning status of the origin",
                            "$ref": "#/definitions/ProvisioningState"
                        }
                    }
                }
            }
        },
        "OriginParameters": {
            "description": "Origin properties required for origin creation or update",
            "type": "object",
            "properties": {
                "properties": {
                    "required": [
                        "hostName"
                    ],
                    "properties": {
                        "hostName": {
                            "description": "The host name of the origin",
                            "type": "string"
                        },
                        "httpPort": {
                            "description": "The value of the http port, must be between 1 and 65535",
                            "type": "integer"
                        },
                        "httpsPort": {
                            "description": "The value of the https port, must be between 1 and 65535",
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "OriginListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Origin"
                    },
                    "description": "List of CDN origins within an endpoint"
                }
            }
        },
        "CustomDomain": {
            "description": "CDN CustomDomain represents a mapping between a user specified domain name and an Endpoint. It is a common practice to use custom domain names to represent the URLs for branding purposes.",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "properties": {
                "properties": {
                    "required": [
                        "hostName"
                    ],
                    "properties": {
                        "hostName": {
                            "description": "The host name of the custom domain",
                            "type": "string"
                        },
                        "resourceState": {
                            "description": "Resource status of the custom domain",
                            "readOnly": true,
                            "enum": [
                                "Creating",
                                "Active",
                                "Deleting"
                            ],
                            "type": "string",
                            "x-ms-enum": {
                                "name": "CustomDomainResourceState",
                                "modelAsString": "False"
                            }
                        },
                        "provisioningState": {
                            "description": "Provisioning status of the custom domain",
                            "$ref": "#/definitions/ProvisioningState"
                        }
                    }
                }
            }
        },
        "CustomDomainParameters": {
            "description": "CustomDomain properties required for custom domain creation or update",
            "type": "object",
            "properties": {
                "properties": {
                    "required": [
                        "hostName"
                    ],
                    "properties": {
                        "hostName": {
                            "description": "The host name of the custom domain",
                            "type": "string"
                        }
                    }
                }
            }
        },
        "CustomDomainListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/CustomDomain"
                    },
                    "description": "List of CDN CustomDomains within an endpoint."
                }
            }
        },
        "ValidateCustomDomainInput": {
            "description": "Input of the custom domain to be validated",
            "type": "object",
            "required": [
                "hostName"
            ],
            "properties": {
                "hostName": {
                    "description": "The host name of the custom domain",
                    "type": "string"
                }
            }
        },
        "ValidateCustomDomainOutput": {
            "description": "Output of custom domain validation",
            "type": "object",
            "properties": {
                "CustomDomainValidated": {
                    "description": "Indicates whether the custom domain is validated or not",
                    "type": "boolean"
                },
                "Reason": {
                    "description": "The reason why the custom domain is not valid",
                    "type": "string"
                },
                "Message": {
                    "description": "The message on why the custom domain is not valid",
                    "type": "string"
                }
            }
        },
        "CheckNameAvailabilityInput": {
            "description": "Input of check name availability API",
            "type": "object",
            "required": [
                "name",
                "type"
            ],
            "properties": {
                "name": {
                    "description": "The resource name to validate",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the resource whose name is to be validated",
                    "$ref": "#/definitions/ResourceType"
                }
            }
        },
        "CheckNameAvailabilityOutput": {
            "description": "Output of check name availability API",
            "type": "object",
            "properties": {
                "NameAvailable": {
                    "description": "Indicates whether the name is available",
                    "type": "boolean"
                },
                "Reason": {
                    "description": "The reason why the name is not available",
                    "type": "string"
                },
                "Message": {
                    "description": "The detailed error message on why the name is not available",
                    "type": "string"
                }
            }
        },
        "ResourceType": {
            "description": "Type of CDN resource used in CheckNameAvailability",
            "readOnly": true,
            "enum": [
                "Microsoft.Cdn/profiles/endpoints"
            ],
            "type": "string",
            "x-ms-enum": {
                "name": "ResourceType",
                "modelAsString": "True"
            }
        },
        "Operation": {
            "description": "CDN REST API operation",
            "type": "object",
            "properties": {
                "name": {
                    "description": "Operation name: {provider}/{resource}/{operation}",
                    "type": "string"
                },
                "display": {
                    "properties": {
                        "provider": {
                            "description": "Service provider: Microsoft.Cdn",
                            "type": "string"
                        },
                        "resource": {
                            "description": "Resource on which the operation is performed: profile, endpoint,.. etc",
                            "type": "string"
                        },
                        "operation": {
                            "description": "Operation type: read, write, delete,.. etc",
                            "type": "string"
                        }
                    }
                }
            }
        },
        "OperationListResult": {
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Operation"
                    },
                    "description": "List of CDN operations within CDN resource provider."
                }
            }
        },
        "TrackedResource": {
            "description": "ARM tracked resource",
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/Resource"
                }
            ],
            "required": [
                "location",
                "tags"
            ],
            "properties": {
                "location": {
                    "description": "Resource location",
                    "type": "string"
                },
                "tags": {
                    "description": "Resource tags",
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "Resource": {
            "properties": {
                "id": {
                    "description": "Resource Id",
                    "readOnly": true,
                    "type": "string"
                },
                "name": {
                    "description": "Resource Name",
                    "readOnly": true,
                    "type": "string"
                },
                "type": {
                    "description": "Resource type",
                    "readOnly": true,
                    "type": "string"
                }
            },
            "x-ms-azure-resource": true
        },
        "ProvisioningState": {
            "description": "Provisioning status of the resource",
            "readOnly": true,
            "enum": [
                "Creating",
                "Succeeded",
                "Failed"
            ],
            "type": "string",
            "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": "False"
            }
        },
        "Sku": {
            "description": "Defines a pricing tier for a profile",
            "type": "object",
            "properties": {
                "name": {
                    "description": "Name of the resource sku",
                    "enum": [
                        "Standard",
                        "Premium"
                    ],
                    "type": "string",
                    "x-ms-enum": {
                        "name": "SkuName",
                        "modelAsString": "False"
                    }
                }
            }
        }
    },
        "parameters": {
            "subscriptionIdParameter": {
                "name": "subscriptionId",
                "in": "path",
                "description": "Azure Subscription ID",
                "required": true,
                "type": "string"
            },
            "apiVersionParameter": {
                "name": "api-version",
                "in": "query",
                "required": true,
                "type": "string",
                "description": "Version of the API to be used with the client request, current version is 2015-06-01"
            }
        }
    }
