{
  "swagger": "2.0",
  "info": {
    "title": "ComputeManagementClient",
    "description": "The Compute Management Client.",
    "version": "2022-03-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getRequestRateByInterval": {
      "post": {
        "tags": [
          "LogAnalytics"
        ],
        "operationId": "LogAnalytics_ExportRequestRateByInterval",
        "x-ms-examples": {
          "Export logs which contain all Api requests made to Compute Resource Provider within the given time period broken down by intervals.": {
            "$ref": "./examples/logAnalyticExamples/LogAnalytics_RequestRateByInterval.json"
          }
        },
        "description": "Export logs that show Api requests made by this subscription in the given time window to show throttling activities.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RequestRateByIntervalInput"
            },
            "description": "Parameters supplied to the LogAnalytics getRequestRateByInterval Api."
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location upon which virtual-machine-sizes is queried.",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogAnalyticsOperationResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/logAnalytics/apiAccess/getThrottledRequests": {
      "post": {
        "tags": [
          "LogAnalytics"
        ],
        "operationId": "LogAnalytics_ExportThrottledRequests",
        "x-ms-examples": {
          "Export logs which contain all throttled Api requests made to Compute Resource Provider within the given time period.": {
            "$ref": "./examples/logAnalyticExamples/LogAnalytics_ThrottledRequests.json"
          }
        },
        "description": "Export logs that show total throttled Api requests for this subscription in the given time window.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ThrottledRequestsInput"
            },
            "description": "Parameters supplied to the LogAnalytics getThrottledRequests Api."
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location upon which virtual-machine-sizes is queried.",
            "pattern": "^[-\\w\\._]+$"
          },
          {
            "$ref": "../common.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../common.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LogAnalyticsOperationResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../common.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      }
    }
  },
  "definitions": {
    "RequestRateByIntervalInput": {
      "properties": {
        "intervalLength": {
          "type": "string",
          "description": "Interval value in minutes used to create LogAnalytics call rate logs.",
          "enum": [
            "ThreeMins",
            "FiveMins",
            "ThirtyMins",
            "SixtyMins"
          ],
          "x-ms-enum": {
            "name": "IntervalInMins",
            "modelAsString": false
          }
        }
      },
      "required": [
        "intervalLength"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/LogAnalyticsInputBase"
        }
      ],
      "description": "Api request input for LogAnalytics getRequestRateByInterval Api."
    },
    "ThrottledRequestsInput": {
      "allOf": [
        {
          "$ref": "#/definitions/LogAnalyticsInputBase"
        }
      ],
      "description": "Api request input for LogAnalytics getThrottledRequests Api."
    },
    "LogAnalyticsInputBase": {
      "properties": {
        "blobContainerSasUri": {
          "type": "string",
          "description": "SAS Uri of the logging blob container to which LogAnalytics Api writes output logs to."
        },
        "fromTime": {
          "type": "string",
          "format": "date-time",
          "description": "From time of the query"
        },
        "toTime": {
          "type": "string",
          "format": "date-time",
          "description": "To time of the query"
        },
        "groupByThrottlePolicy": {
          "type": "boolean",
          "description": "Group query result by Throttle Policy applied."
        },
        "groupByOperationName": {
          "type": "boolean",
          "description": "Group query result by Operation Name."
        },
        "groupByResourceName": {
          "type": "boolean",
          "description": "Group query result by Resource Name."
        },
        "groupByClientApplicationId": {
          "type": "boolean",
          "description": "Group query result by Client Application ID."
        },
        "groupByUserAgent": {
          "type": "boolean",
          "description": "Group query result by User Agent."
        }
      },
      "required": [
        "blobContainerSasUri",
        "fromTime",
        "toTime"
      ],
      "description": "Api input base class for LogAnalytics Api."
    },
    "LogAnalyticsOperationResult": {
      "properties": {
        "properties": {
          "readOnly": true,
          "$ref": "#/definitions/LogAnalyticsOutput",
          "description": "LogAnalyticsOutput"
        }
      },
      "description": "LogAnalytics operation status response"
    },
    "LogAnalyticsOutput": {
      "properties": {
        "output": {
          "readOnly": true,
          "type": "string",
          "description": "Output file Uri path to blob container."
        }
      },
      "description": "LogAnalytics output properties"
    }
  }
}
