{
  "swagger": "2.0",
  "info": {
    "title": "Mixed Reality",
    "description": "Mixed Reality Resource Provider Spatial Anchors Resource API",
    "version": "2019-12-02-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.MixedReality/spatialAnchorsAccounts": {
      "get": {
        "operationId": "SpatialAnchorsAccounts_ListBySubscription",
        "tags": [
          "Resource",
          "Proxy"
        ],
        "description": "List Spatial Anchors Accounts by Subscription",
        "x-ms-examples": {
          "List spatial anchors accounts by subscription": {
            "$ref": "./examples/spatial-anchors/GetBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "./common.json#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccountPage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts": {
      "get": {
        "operationId": "SpatialAnchorsAccounts_ListByResourceGroup",
        "tags": [
          "Resource"
        ],
        "description": "List Resources by Resource Group",
        "x-ms-examples": {
          "List spatial anchor accounts by resource group": {
            "$ref": "./examples/spatial-anchors/GetByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "./common.json#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccountPage"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}": {
      "delete": {
        "operationId": "SpatialAnchorsAccounts_Delete",
        "tags": [
          "Resource"
        ],
        "description": "Delete a Spatial Anchors Account.",
        "x-ms-examples": {
          "Delete spatial anchors account": {
            "$ref": "./examples/spatial-anchors/Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "./common.json#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "operationId": "SpatialAnchorsAccounts_Get",
        "tags": [
          "Resource"
        ],
        "description": "Retrieve a Spatial Anchors Account.",
        "x-ms-examples": {
          "Get spatial anchors account": {
            "$ref": "./examples/spatial-anchors/Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "./common.json#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "SpatialAnchorsAccounts_Update",
        "tags": [
          "Resource"
        ],
        "description": "Updating a Spatial Anchors Account",
        "x-ms-examples": {
          "Update spatial anchors account": {
            "$ref": "./examples/spatial-anchors/Patch.json"
          }
        },
        "parameters": [
          {
            "$ref": "./common.json#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/spatialAnchorsAccountParameter"
          },
          {
            "$ref": "./common.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "SpatialAnchorsAccounts_Create",
        "tags": [
          "Resource"
        ],
        "description": "Creating or Updating a Spatial Anchors Account.",
        "x-ms-examples": {
          "Create spatial anchor account": {
            "$ref": "./examples/spatial-anchors/Put.json"
          }
        },
        "parameters": [
          {
            "$ref": "./common.json#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "#/parameters/spatialAnchorsAccountParameter"
          },
          {
            "$ref": "./common.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/SpatialAnchorsAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MixedReality/spatialAnchorsAccounts/{accountName}/keys": {
      "get": {
        "operationId": "SpatialAnchorsAccounts_GetKeys",
        "tags": [
          "Key"
        ],
        "description": "Get Both of the 2 Keys of a Spatial Anchors Account",
        "x-ms-examples": {
          "Get spatial anchor account key": {
            "$ref": "./examples/spatial-anchors/GetKeys.json"
          }
        },
        "parameters": [
          {
            "$ref": "./common.json#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common.json#/definitions/AccountKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "operationId": "SpatialAnchorsAccounts_RegenerateKeys",
        "tags": [
          "Key"
        ],
        "description": "Regenerate specified Key of a Spatial Anchors Account",
        "x-ms-examples": {
          "Regenerate spatial anchors account keys": {
            "$ref": "./examples/spatial-anchors/RegenerateKey.json"
          }
        },
        "parameters": [
          {
            "$ref": "./common.json#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/accountNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/accountKeyRegenerateParameter"
          },
          {
            "$ref": "./common.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "./common.json#/definitions/AccountKeys"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SpatialAnchorsAccount": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "SpatialAnchorsAccount Response.",
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Property bag.",
          "$ref": "./common.json#/definitions/MixedRealityAccountProperties"
        }
      }
    },
    "SpatialAnchorsAccountPage": {
      "description": "Result of the request to get resource collection. It contains a list of resources and a URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpatialAnchorsAccount"
          },
          "description": "List of resources supported by the Resource Provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of resource list results if there are any."
        }
      }
    }
  },
  "parameters": {
    "spatialAnchorsAccountParameter": {
      "name": "spatialAnchorsAccount",
      "description": "Spatial Anchors Account parameter.",
      "in": "body",
      "schema": {
        "$ref": "#/definitions/SpatialAnchorsAccount"
      },
      "required": true,
      "x-ms-parameter-location": "method"
    }
  }
}
