{
  "swagger": "2.0",
  "info": {
    "title": "CostManagementClient",
    "version": "2022-10-05-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/markupRules": {
      "get": {
        "tags": [
          "MarkupRules"
        ],
        "operationId": "MarkupRules_List",
        "description": "Retrieve all the active markup rules for the partner billing account/billing profile calling the API.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "x-ms-examples": {
          "PrivateMarkupRulesList": {
            "$ref": "./examples/markupRules-list-private.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "common-types.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/MarkupRulePagedResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "common-types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/markupRules/{name}": {
      "put": {
        "tags": [
          "MarkupRules"
        ],
        "operationId": "MarkupRules_CreateOrUpdate",
        "description": "Create or update a markup rule",
        "x-ms-examples": {
          "CreateOrUpdatePrivateMarkupRules": {
            "$ref": "./examples/markupRules-createOrUpdate-private.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/markupRuleNameParameter"
          },
          {
            "$ref": "common-types.json#/parameters/apiVersionParameter"
          },
          {
            "name": "markupRule",
            "description": "Markup rule to be created or updated.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MarkupRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded. Create or Update request processed successfully",
            "schema": {
              "$ref": "#/definitions/MarkupRule"
            }
          },
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/MarkupRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "common-types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "MarkupRules"
        ],
        "operationId": "MarkupRules_Get",
        "description": "Get a markup rule by its rule name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "x-ms-examples": {
          "PrivateMarkupRules": {
            "$ref": "./examples/markupRules-get-private.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/markupRuleNameParameter"
          },
          {
            "$ref": "common-types.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns markup rule of the requested name",
            "schema": {
              "$ref": "#/definitions/MarkupRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "common-types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "MarkupRules"
        ],
        "operationId": "MarkupRules_Delete",
        "description": "Delete a markup rule. This will not have an effect on closed month markups",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "x-ms-examples": {
          "PrivateMarkupRulesDelete": {
            "$ref": "./examples/markupRules-delete-private.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "$ref": "#/parameters/markupRuleNameParameter"
          },
          {
            "$ref": "common-types.json#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded."
          },
          "204": {
            "description": "NoContent. Resource is not available."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "common-types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MarkupRule": {
      "description": "Markup rule",
      "type": "object",
      "allOf": [
        {
          "$ref": "common-types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/MarkupRuleProperties",
          "title": "Markup rule properties"
        }
      }
    },
    "CustomerMetadata": {
      "type": "object",
      "description": "The customer billing metadata",
      "required": [
        "billingAccountId",
        "billingProfileId"
      ],
      "properties": {
        "billingAccountId": {
          "type": "string",
          "description": "Customer billing account id"
        },
        "billingProfileId": {
          "type": "string",
          "description": "Customer billing profile id"
        }
      }
    },
    "MarkupRulePagedResponse": {
      "description": "Markup rule list result. It contains a list of Markup rules.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of markup rules.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/MarkupRule"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MarkupRuleProperties": {
      "type": "object",
      "description": "The properties of the markup rule.",
      "required": [
        "percentage",
        "startDate",
        "customerDetails"
      ],
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the markup rule."
        },
        "percentage": {
          "format": "double",
          "type": "number",
          "description": "The markup percentage of the rule."
        },
        "startDate": {
          "format": "date-time",
          "type": "string",
          "description": "Starting date of the markup rule."
        },
        "endDate": {
          "format": "date-time",
          "type": "string",
          "description": "Ending date of the markup rule."
        },
        "customerDetails": {
          "$ref": "#/definitions/CustomerMetadata",
          "description": "Customer information for the markup rule."
        }
      }
    }
  },
  "parameters": {
    "markupRuleNameParameter": {
      "name": "name",
      "in": "path",
      "description": "Markup rule name.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "BillingAccount ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingProfileIdParameter": {
      "name": "billingProfileId",
      "in": "path",
      "description": "BillingProfile ID",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}
