{
  "swagger": "2.0",
  "info": {
    "title": "ProgrammableConnectivity",
    "version": "2024-01-15-preview",
    "description": "Azure Programmable Connectivity Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "OperatorApiConnections"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections": {
      "get": {
        "operationId": "OperatorApiConnections_ListBySubscription",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "List OperatorApiConnection resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiConnection' list operation on subscription ID completed.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionListResult"
            }
          },
          "default": {
            "description": "Operator API Connection error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperatorApiConnections_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/OperatorApiConnections_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections": {
      "get": {
        "operationId": "OperatorApiConnections_ListByResourceGroup",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "List OperatorApiConnection resources by resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiConnection' list operation on resource group completed.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionListResult"
            }
          },
          "default": {
            "description": "Operator API Connection error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperatorApiConnections_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/OperatorApiConnections_ListByResourceGroup_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/operatorApiConnections/{operatorApiConnectionName}": {
      "get": {
        "operationId": "OperatorApiConnections_Get",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Get an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OperatorApiConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiConnection' get by name operation completed.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "default": {
            "description": "Operator API Connection error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiConnections_Get_MaximumSet_Gen": {
            "$ref": "./examples/OperatorApiConnections_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OperatorApiConnections_CreateOrUpdate",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Create an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OperatorApiConnectionName"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Operator API Connection resource create or update request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiConnection' update operation succeeded.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "201": {
            "description": "Resource 'OperatorApiConnection' create operation succeeded.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "Operator API Connection error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "OperatorApiConnections_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/OperatorApiConnections_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "OperatorApiConnections_Update",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Update an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OperatorApiConnectionName"
          },
          {
            "name": "body",
            "in": "body",
            "description": "Operator API Connection properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OperatorApiConnectionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiConnection' update operation completed.",
            "schema": {
              "$ref": "#/definitions/OperatorApiConnection"
            }
          },
          "202": {
            "description": "Resource 'OperatorApiConnection' update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "Operator API Connection error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "OperatorApiConnections_Update_MaximumSet_Gen": {
            "$ref": "./examples/OperatorApiConnections_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "OperatorApiConnections_Delete",
        "tags": [
          "OperatorApiConnections"
        ],
        "description": "Delete an Operator API Connection.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OperatorApiConnectionName"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource doesn't exist."
          },
          "default": {
            "description": "Operator API Connection error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "OperatorApiConnections_Delete_MaximumSet_Gen": {
            "$ref": "./examples/OperatorApiConnections_Delete_MaximumSet_Gen.json"
          },
          "OperatorApiConnections_Delete_MinimumSet_Gen": {
            "$ref": "./examples/OperatorApiConnections_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountType": {
      "type": "string",
      "description": "The Account Type of the Operator API Connections.",
      "enum": [
        "AzureManaged",
        "UserManaged"
      ],
      "x-ms-enum": {
        "name": "AccountType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureManaged",
            "value": "AzureManaged",
            "description": "Managed by Azure on-behalf-of the user."
          },
          {
            "name": "UserManaged",
            "value": "UserManaged",
            "description": "Managed by the User themselves on the Operator end."
          }
        ]
      }
    },
    "AppCredentials": {
      "type": "object",
      "description": "Application credentials needed to authenticate to the operator's Network APIs in a specific country/region.",
      "properties": {
        "appId": {
          "type": "string",
          "description": "Application ID of the App Developer that is registered with the Operator in a specific country/region.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "appSecret": {
          "type": "string",
          "format": "password",
          "description": "Application secret linked to the 'appId'. This should be stored securely and is not returned back when the resource information is read.",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create"
          ]
        }
      }
    },
    "ApplicationProperties": {
      "type": "object",
      "description": "Details about the Application that would use the Operator's Network APIs.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the application. Example: Contoso App."
        },
        "applicationDescription": {
          "type": "string",
          "description": "Description of the application."
        },
        "applicationType": {
          "type": "string",
          "description": "The category that describes the application."
        },
        "legalName": {
          "type": "string",
          "description": "Legal name of the organization owning the application."
        },
        "organizationDescription": {
          "type": "string",
          "description": "A description of the organization owning the application."
        },
        "taxNumber": {
          "type": "string",
          "description": "Unique Tax Number for the user's organization in the country/region the APC Gateway is being purchased."
        },
        "privacyContactEmailAddress": {
          "type": "string",
          "description": "Email address of the Privacy contact or Data Protection officer of the organization."
        }
      }
    },
    "SaasProperties": {
      "type": "object",
      "description": "Details about the SaaS offer purchased from the marketplace.",
      "properties": {
        "saasSubscriptionId": {
          "type": "string",
          "description": "Subscription ID of the SaaS offer purchased from the marketplace."
        },
        "saasResourceId": {
          "type": "string",
          "description": "Resource ID of the SaaS offer purchased from the marketplace."
        }
      }
    },
    "OperatorApiConnection": {
      "type": "object",
      "description": "A Programmable Connectivity Operator API Connection resource",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OperatorApiConnectionProperties",
          "description": "Operator API Connection resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OperatorApiConnectionListResult": {
      "type": "object",
      "description": "The response of an Operator API Connection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OperatorApiConnection items on this page",
          "items": {
            "$ref": "#/definitions/OperatorApiConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      },
      "required": [
        "value"
      ]
    },
    "OperatorApiConnectionProperties": {
      "type": "object",
      "description": "Operator API Connection resource properties",
      "allOf": [
        {
          "$ref": "#/definitions/OperatorApiConnectionNonUpdateableProperties"
        },
        {
          "$ref": "#/definitions/OperatorApiConnectionUpdateableProperties"
        }
      ],
      "properties": {},
      "required": [
        "gatewayId",
        "accountType",
        "operatorApiPlanId"
      ]
    },
    "OperatorApiConnectionUpdateableProperties": {
      "type": "object",
      "description": "Operator API Connection resource properties that can be updated after creation.",
      "allOf": [
        {
          "$ref": "#/definitions/AppCredentials"
        }
      ],
      "properties": {
        "configuredApplication": {
          "description": "Details about the Application that would use the Operator's Network APIs.",
          "$ref": "#/definitions/ApplicationProperties",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "operatorApiPlanId": {
          "$ref": "./common.json#/definitions/OperatorApiPlanResourceId",
          "description": "Reference to the Operator API Plan Resource ID.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "saasProperties": {
          "description": "Details about the SaaS offer purchased from the marketplace.",
          "$ref": "#/definitions/SaasProperties",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "OperatorApiConnectionNonUpdateableProperties": {
      "type": "object",
      "description": "Operator API Connection resource properties that cannot be updated once a resource has been created.",
      "x-ms-mutability": [
        "read",
        "create"
      ],
      "properties": {
        "gatewayId": {
          "$ref": "./common.json#/definitions/GatewayResourceId",
          "description": "Reference to the APC Gateway resource ID."
        },
        "operatorName": {
          "type": "string",
          "description": "Name of the Operator in the linked Operator API Plan belongs to.",
          "readOnly": true
        },
        "camaraApiName": {
          "type": "string",
          "description": "The Network API for the current operator in the country/region provided in the linked Operator API Plan.",
          "readOnly": true
        },
        "accountType": {
          "$ref": "#/definitions/AccountType",
          "description": "Type of the account the user has with the Operator's Network API infrastructure. AzureManaged | UserManaged.",
          "default": "AzureManaged"
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      }
    },
    "OperatorApiConnectionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the OperatorApiConnection.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/OperatorApiConnectionUpdateableProperties",
          "x-ms-client-flatten": true
        }
      }
    }
  },
  "parameters": {
    "OperatorApiConnectionName": {
      "name": "operatorApiConnectionName",
      "in": "path",
      "description": "Azure Programmable Connectivity (APC) Operator API Connection Name.",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
    }
  }
}
