{
  "swagger": "2.0",
  "info": {
    "title": "ProgrammableConnectivity",
    "version": "2024-01-15-preview",
    "description": "Azure Programmable Connectivity Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OperatorApiPlans"
    }
  ],
  "paths": {
    "/providers/Microsoft.ProgrammableConnectivity/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/operatorApiPlans": {
      "get": {
        "operationId": "OperatorApiPlans_ListByResourceGroup",
        "tags": [
          "OperatorApiPlans"
        ],
        "description": "List OperatorApiPlan resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "An optional OData based filter expression to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "An optional query parameter which specifies the maximum number of records to be returned.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 20
          },
          {
            "name": "$skip",
            "in": "query",
            "description": "An optional query parameter which specifies the number of records to be skipped.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiPlanListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiPlans_ListByResourceGroup": {
            "$ref": "./examples/OperatorApiPlans_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ProgrammableConnectivity/operatorApiPlans/{operatorApiPlanName}": {
      "get": {
        "operationId": "OperatorApiPlans_Get",
        "tags": [
          "OperatorApiPlans"
        ],
        "description": "Get an OperatorApiPlan resource by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "operatorApiPlanName",
            "in": "path",
            "description": "APC Gateway Plan Name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperatorApiPlan"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiPlans_Get": {
            "$ref": "./examples/OperatorApiPlans_Get_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "MarketplaceProperties": {
      "type": "object",
      "description": "Azure marketplace properties for a plan.",
      "properties": {
        "offerId": {
          "type": "string",
          "description": "Azure marketplace Offer ID for this plan."
        },
        "legacyOfferId": {
          "type": "string",
          "description": "Azure marketplace Legacy Offer ID for this plan. This is used to fetch the details of the plan from the Azure marketplace."
        },
        "publisherId": {
          "type": "string",
          "description": "Azure marketplace Publisher ID for this plan."
        },
        "planId": {
          "type": "string",
          "description": "Azure marketplace Plan ID for this plan."
        },
        "termId": {
          "type": "string",
          "description": "Azure marketplace Term ID for this plan."
        }
      }
    },
    "OperatorApiPlan": {
      "type": "object",
      "description": "A Programmable Connectivity Operator API Plans resource. This is a readonly resource that indicates which Operator Network APIs are available in the user's subscription.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OperatorApiPlanProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OperatorApiPlanListResult": {
      "type": "object",
      "description": "The response of a OperatorApiPlan list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OperatorApiPlan items on this page",
          "items": {
            "$ref": "#/definitions/OperatorApiPlan"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OperatorApiPlanProperties": {
      "type": "object",
      "description": "Operator API Plan properties.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Name of the Operator this plan belongs to."
        },
        "camaraApiName": {
          "type": "string",
          "description": "Standardized Network API name defined by CAMARA specifications."
        },
        "supportedLocations": {
          "type": "array",
          "description": "List of Azure regions where this offer is supported.",
          "items": {
            "type": "string"
          }
        },
        "operatorRegions": {
          "type": "array",
          "description": "List of country/region names where this plan is being supported by the Operator.",
          "items": {
            "type": "string"
          }
        },
        "markets": {
          "type": "array",
          "description": "List of country/region names where this plan is being supported by Azure Marketplace.",
          "items": {
            "type": "string"
          }
        },
        "limits": {
          "type": "string",
          "description": "The limits, if any, will be imposed by the operator."
        },
        "marketplaceProperties": {
          "$ref": "#/definitions/MarketplaceProperties",
          "description": "Azure marketplace properties for this plan."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation on the Gateway resource.",
          "readOnly": true
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create or update request has been accepted"
          }
        ]
      },
      "readOnly": true
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-01-15-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_01_15_preview",
            "value": "2024-01-15-preview",
            "description": "The 2024-01-15-preview API version."
          }
        ]
      }
    }
  },
  "parameters": {}
}
