{
  "swagger": "2.0",
  "info": {
    "title": "ProgrammableConnectivity",
    "version": "2024-01-15-preview",
    "description": "Azure Programmable Connectivity Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "OperatorApiPlans"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiPlans/{operatorApiPlanName}": {
      "get": {
        "operationId": "OperatorApiPlans_Get",
        "tags": [
          "OperatorApiPlans"
        ],
        "description": "Get an OperatorApiPlan resource by name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/OperatorApiPlanNameParamter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiPlan' get by name operation succeeded.",
            "schema": {
              "$ref": "#/definitions/OperatorApiPlan"
            }
          },
          "default": {
            "description": "Operator API Plan error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OperatorApiPlans_Get_MaximumSet_Gen": {
            "$ref": "./examples/OperatorApiPlans_Get_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ProgrammableConnectivity/operatorApiPlans": {
      "get": {
        "operationId": "OperatorApiPlans_ListBySubscription",
        "tags": [
          "OperatorApiPlans"
        ],
        "description": "List OperatorApiPlan resources by subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/FilterParameter"
          },
          {
            "$ref": "#/parameters/ListTopParameter"
          },
          {
            "$ref": "#/parameters/ListSkipParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OperatorApiPlan' list operation on subscription ID succeeded.",
            "schema": {
              "$ref": "#/definitions/OperatorApiPlanListResult"
            }
          },
          "default": {
            "description": "Operator API Plan error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperatorApiPlans_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/OperatorApiPlans_ListBySubscription_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OperatorApiPlan": {
      "type": "object",
      "description": "A Programmable Connectivity Operator API Plans resource. This is a readonly resource that indicates which Operator Network APIs are available in the user's subscription.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OperatorApiPlanProperties",
          "description": "Operator API Plan resource properties.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "OperatorApiPlanListResult": {
      "type": "object",
      "description": "The response of a OperatorApiPlan list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OperatorApiPlan items on this page.",
          "items": {
            "$ref": "#/definitions/OperatorApiPlan"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items."
        }
      },
      "required": [
        "value"
      ]
    },
    "OperatorApiPlanProperties": {
      "type": "object",
      "description": "Operator API Plan properties.",
      "properties": {
        "operatorName": {
          "type": "string",
          "description": "Name of the Operator this plan belongs to."
        },
        "camaraApiName": {
          "type": "string",
          "description": "Standardized Network API name defined by CAMARA specifications."
        },
        "supportedLocations": {
          "type": "array",
          "description": "List of Azure regions where this offer is supported.",
          "x-ms-identifiers": [
            "supportedLocations"
          ],
          "items": {
            "type": "string"
          }
        },
        "operatorRegions": {
          "type": "array",
          "description": "List of country/region names where this plan is being supported by the Operator.",
          "x-ms-identifiers": [
            "operatorRegions"
          ],
          "items": {
            "type": "string"
          }
        },
        "markets": {
          "type": "array",
          "description": "List of country/region names where this plan is being supported by Azure Marketplace.",
          "x-ms-identifiers": [
            "markets"
          ],
          "items": {
            "type": "string"
          }
        },
        "limits": {
          "type": "string",
          "description": "The limits, if any, will be imposed by the operator."
        },
        "marketplaceProperties": {
          "$ref": "#/definitions/MarketplaceProperties",
          "description": "Azure marketplace properties for this plan."
        },
        "provisioningState": {
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The status of the last operation on the Gateway resource."
        }
      }
    },
    "MarketplaceProperties": {
      "type": "object",
      "properties": {
        "offerId": {
          "type": "string",
          "description": "Azure marketplace Offer ID for this plan."
        },
        "legacyOfferId": {
          "type": "string",
          "description": "Azure marketplace Legacy Offer ID for this plan. This is used to fetch the details of the plan from the Azure marketplace."
        },
        "publisherId": {
          "type": "string",
          "description": "Azure marketplace Publisher ID for this plan."
        },
        "planId": {
          "type": "string",
          "description": "Azure marketplace Plan ID for this plan."
        },
        "termId": {
          "type": "string",
          "description": "Azure marketplace Term ID for this plan."
        }
      }
    }
  },
  "parameters": {
    "OperatorApiPlanNameParamter": {
      "name": "operatorApiPlanName",
      "in": "path",
      "description": "APC Gateway Plan Name.",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z]{1}[a-zA-Z0-9-_]{2,127}$"
    },
    "FilterParameter": {
      "name": "$filter",
      "in": "query",
      "required": false,
      "type": "string",
      "description": "An optional OData based filter expression to apply on the operation. Valid properties for filtering are `name, properties/provisioningState, properties/operatorName, properties/offerName, properties/region, properties/operatorRegion`."
    },
    "ListTopParameter": {
      "name": "$top",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 1,
      "maximum": 20,
      "description": "An optional query parameter which specifies the maximum number of records to be returned."
    },
    "ListSkipParameter": {
      "name": "$skip",
      "in": "query",
      "required": false,
      "type": "integer",
      "format": "int32",
      "minimum": 0,
      "description": "An optional query parameter which specifies the number of records to be skipped."
    }
  }
}
