{
  "swagger": "2.0",
  "info": {
    "version": "2018-02-01-preview",
    "title": "ContainerRegistryManagementClient"
  },
  "host": "management.azure.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildDefinitions": {
      "get": {
        "tags": [
          "BuildDefinitions"
        ],
        "summary": "Lists all the build definitions for a specified container registry.",
        "operationId": "BuildDefinitions_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The build definition filter to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on get list of build definitions, which provides the next page in the list of definitions.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildDefinitionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-odata": "#/definitions/BuildDefinitionFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildDefinitions_List": {
            "$ref": "./examples/BuildDefinitionsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildDefinitions/{buildDefinitionName}": {
      "get": {
        "tags": [
          "BuildDefinitions"
        ],
        "summary": "Get the properties of a specified build definition.",
        "operationId": "BuildDefinitions_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "BuildDefinitions_Get": {
            "$ref": "./examples/BuildDefinitionsGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "BuildDefinitions"
        ],
        "summary": "Creates a build definition for a container registry with the specified parameters.",
        "operationId": "BuildDefinitions_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "name": "buildDefinitionCreateParameters",
            "in": "body",
            "description": "The parameters for creating a build definition.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BuildDefinitions_Create": {
            "$ref": "./examples/BuildDefinitionsCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "BuildDefinitions"
        ],
        "summary": "Deletes a specified build definition.",
        "operationId": "BuildDefinitions_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content - the specified resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BuildDefinitions_Delete": {
            "$ref": "./examples/BuildDefinitionsDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "BuildDefinitions"
        ],
        "summary": "Updates a build definition with the specified parameters.",
        "operationId": "BuildDefinitions_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "name": "buildDefinitionUpdateParameters",
            "in": "body",
            "description": "The parameters for updating a build definition.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildDefinitionUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/BuildDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BuildDefinitions_Update": {
            "$ref": "./examples/BuildDefinitionsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/builds": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "Gets all the builds for a registry.",
        "operationId": "Builds_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "The builds filter to apply on the operation.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "$top is supported for get list of builds, which limits the maximum number of builds to return.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on get list of builds, which provides the next page in the list of builds.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-odata": "#/definitions/BuildFilter",
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Builds_List": {
            "$ref": "./examples/BuildsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/builds/{buildId}": {
      "get": {
        "tags": [
          "Builds"
        ],
        "summary": "Gets the detailed information for a given build.",
        "operationId": "Builds_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "The build ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/build doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Builds_Get": {
            "$ref": "./examples/BuildsGet.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Builds"
        ],
        "summary": "Patch the build properties.",
        "operationId": "Builds_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "The build ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "buildUpdateParameters",
            "in": "body",
            "description": "The build update properties.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/Build"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/build doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Builds_Update": {
            "$ref": "./examples/BuildsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/builds/{buildId}/getLogLink": {
      "post": {
        "tags": [
          "Builds"
        ],
        "summary": "Gets a link to download the build logs.",
        "operationId": "Builds_GetLogLink",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "The build ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildGetLogResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/build doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Builds_GetLogLink": {
            "$ref": "./examples/BuildsGetLogLink.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/builds/{buildId}/cancel": {
      "post": {
        "tags": [
          "Builds"
        ],
        "summary": "Cancel an existing build.",
        "operationId": "Builds_Cancel",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "buildId",
            "in": "path",
            "description": "The build ID.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/build doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Builds_Cancel": {
            "$ref": "./examples/BuildsCancel.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildDefinitions/{buildDefinitionName}/steps": {
      "get": {
        "tags": [
          "BuildSteps"
        ],
        "summary": "List all the build steps for a given build definition.",
        "operationId": "BuildSteps_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildStepList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "BuildSteps_List": {
            "$ref": "./examples/BuildStepsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildDefinitions/{buildDefinitionName}/steps/{stepName}": {
      "get": {
        "tags": [
          "BuildSteps"
        ],
        "summary": "Gets the build step for a build definition.",
        "operationId": "BuildSteps_Get",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "$ref": "#/parameters/stepNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildStep"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/step doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "BuildSteps_Get": {
            "$ref": "./examples/BuildStepsGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "BuildSteps"
        ],
        "summary": "Creates a build step for a build definition.",
        "operationId": "BuildSteps_Create",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "$ref": "#/parameters/stepNameParameter"
          },
          {
            "name": "buildStepCreateParameters",
            "in": "body",
            "description": "The parameters for creating a build step.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildStep"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildStep"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/BuildStep"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry doesn't exist, 404 (Not found) is returned.If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BuildSteps_Create": {
            "$ref": "./examples/BuildStepsCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "BuildSteps"
        ],
        "summary": "Deletes a build step from the build definition.",
        "operationId": "BuildSteps_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "$ref": "#/parameters/stepNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly."
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BuildSteps_Delete": {
            "$ref": "./examples/BuildStepsDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "BuildSteps"
        ],
        "summary": "Updates a build step in a build definition.",
        "operationId": "BuildSteps_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "$ref": "#/parameters/stepNameParameter"
          },
          {
            "name": "buildStepUpdateParameters",
            "in": "body",
            "description": "The parameters for updating a build step.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BuildStepUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildStep"
            }
          },
          "201": {
            "description": "The request was successfully accepted; the operation will complete asynchronously. The provisioning state of the resource should indicate the current state of the resource.",
            "schema": {
              "$ref": "#/definitions/BuildStep"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/step doesn't exist, 404 (Not found) is returned.If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "BuildSteps_Update": {
            "$ref": "./examples/BuildStepsUpdate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildDefinitions/{buildDefinitionName}/steps/{stepName}/listBuildArguments": {
      "post": {
        "tags": [
          "BuildSteps"
        ],
        "summary": "List the build arguments for a step including the secret arguments.",
        "operationId": "BuildSteps_ListBuildArguments",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "$ref": "#/parameters/stepNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildArgumentList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/step doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "BuildSteps_ListBuildArguments": {
            "$ref": "./examples/BuildStepsListBuildArguments.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildDefinitions/{buildDefinitionName}/steps/{stepName}/listBaseImageDependencies": {
      "post": {
        "tags": [
          "BuildSteps"
        ],
        "summary": "List all the base image dependencies for a step if available.",
        "operationId": "BuildSteps_ListBaseImageDependencies",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "$ref": "#/parameters/stepNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BaseImageDependencyList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/step doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "BuildSteps_ListBaseImageDependencies": {
            "$ref": "./examples/BuildStepsListBaseImageDependencies.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/buildDefinitions/{buildDefinitionName}/steps/{stepName}/updateBaseImageDependency": {
      "post": {
        "tags": [
          "BuildSteps"
        ],
        "summary": "Updates the base image dependency.",
        "operationId": "BuildSteps_UpdateBaseImageDependency",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/buildDefinitionNameParameter"
          },
          {
            "$ref": "#/parameters/stepNameParameter"
          },
          {
            "name": "imageDependency",
            "in": "body",
            "description": "The properties of a base image dependency.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseImageDependency"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BaseImageDependency"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/step doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "BuildSteps_UpdateBaseImageDependency": {
            "$ref": "./examples/BuildStepsUpdateBaseImageDependency.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/queueBuild": {
      "post": {
        "tags": [
          "Registries"
        ],
        "summary": "Creates a new build based on the request parameters and add it to the build queue.",
        "operationId": "Registries_QueueBuild",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "buildRequest",
            "in": "body",
            "description": "The parameters of a build that needs to queued.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueueBuildRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/BuildBaseProperties"
            }
          },
          "202": {
            "description": "The request was successfully accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/build doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Registries_QueueBuild": {
            "$ref": "./examples/RegistriesQueueBuild.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerRegistry/registries/{registryName}/getBuildSourceUploadUrl": {
      "post": {
        "tags": [
          "Registries"
        ],
        "summary": "Get the upload location for the user to be able to upload the source.",
        "operationId": "Registries_GetBuildSourceUploadUrl",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/registryNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful; the request was well-formed and received properly.",
            "schema": {
              "$ref": "#/definitions/SourceUploadDefinition"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the registry/build doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "x-ms-examples": {
          "Registries_GetBuildSourceUploadUrl": {
            "$ref": "./examples/RegistriesGetBuildSourceUploadUrl.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BuildDefinitionListResult": {
      "description": "The collection of build definitions.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildDefinition"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "BuildDefinition": {
      "description": "The build defintion that has the resource properties and all build items. The build definition will have all information to schedule a build against it.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuildDefinitionProperties",
          "description": "The properties of a build definition.",
          "x-ms-client-flatten": true
        }
      }
    },
    "BuildDefinitionProperties": {
      "description": "The properties of a build definition.",
      "required": [
        "alias",
        "sourceRepository",
        "platform"
      ],
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the build definition.",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "creationDate": {
          "format": "date-time",
          "description": "The creation date of build definition.",
          "type": "string",
          "readOnly": true
        },
        "alias": {
          "description": "The alternative updatable name for a build definition.",
          "type": "string"
        },
        "status": {
          "description": "The current status of build definition.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BuildDefinitionStatus",
            "modelAsString": true
          }
        },
        "sourceRepository": {
          "$ref": "#/definitions/SourceRepositoryProperties",
          "description": "The properties that describes the source(code) for the build definition."
        },
        "platform": {
          "$ref": "#/definitions/PlatformProperties",
          "description": "The platform properties against which the build has to happen."
        },
        "timeout": {
          "format": "int32",
          "description": "Build timeout in seconds.",
          "type": "integer"
        }
      }
    },
    "SourceRepositoryProperties": {
      "description": "The properties of the source code repository.",
      "required": [
        "sourceControlType",
        "repositoryUrl"
      ],
      "type": "object",
      "properties": {
        "sourceControlType": {
          "description": "The type of source control service.",
          "enum": [
            "Github",
            "VisualStudioTeamService"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SourceControlType",
            "modelAsString": true
          }
        },
        "repositoryUrl": {
          "description": "The full URL to the source code respository",
          "type": "string"
        },
        "isCommitTriggerEnabled": {
          "description": "The value of this property indicates whether the source control commit trigger is enabled or not.",
          "default": false,
          "type": "boolean"
        },
        "sourceControlAuthProperties": {
          "$ref": "#/definitions/SourceControlAuthInfo",
          "description": "The authorization properties for accessing the source code repository."
        }
      }
    },
    "PlatformProperties": {
      "description": "The platform properties against which the build has to happen.",
      "required": [
        "osType"
      ],
      "type": "object",
      "properties": {
        "osType": {
          "description": "The operating system type required for the build.",
          "enum": [
            "Windows",
            "Linux"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "OsType",
            "modelAsString": true
          }
        },
        "cpu": {
          "format": "int32",
          "description": "The CPU configuration in terms of number of cores required for the build.",
          "type": "integer"
        }
      }
    },
    "SourceControlAuthInfo": {
      "description": "The authorization properties for accessing the source code repository.",
      "required": [
        "token"
      ],
      "type": "object",
      "properties": {
        "tokenType": {
          "description": "The type of Auth token.",
          "enum": [
            "PAT",
            "OAuth"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TokenType",
            "modelAsString": true
          }
        },
        "token": {
          "description": "The access token used to access the source control provider.",
          "type": "string"
        },
        "refreshToken": {
          "description": "The refresh token used to refresh the access token.",
          "type": "string"
        },
        "scope": {
          "description": "The scope of the access token.",
          "type": "string"
        },
        "expiresIn": {
          "format": "int32",
          "description": "Time in seconds that the token remains valid",
          "type": "integer"
        }
      }
    },
    "BuildDefinitionFilter": {
      "description": "The filter that can be used for listing build definitions.",
      "type": "object",
      "properties": {
        "alias": {
          "description": "The alternative name for build definition.",
          "type": "string"
        }
      }
    },
    "BuildDefinitionUpdateParameters": {
      "description": "The parameters for updating a build definition.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuildDefinitionPropertiesUpdateParameters",
          "description": "The properties for updating a build definition.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "The ARM resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BuildDefinitionPropertiesUpdateParameters": {
      "description": "The properties for updating a build definition.",
      "type": "object",
      "properties": {
        "alias": {
          "description": "The alternative updatable name for a build definition.",
          "type": "string"
        },
        "status": {
          "description": "The current status of build definition.",
          "enum": [
            "Disabled",
            "Enabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BuildDefinitionStatus",
            "modelAsString": true
          }
        },
        "platform": {
          "$ref": "#/definitions/PlatformProperties",
          "description": "The platform properties against which the build has to happen."
        },
        "timeout": {
          "format": "int32",
          "description": "Build timeout in seconds.",
          "type": "integer"
        },
        "isBaseImageTriggersEnabled": {
          "description": "The value of this property indicates whether auto triggers of the build items trigger a build against this definition.",
          "default": false,
          "type": "boolean"
        },
        "sourceRepository": {
          "$ref": "#/definitions/SourceRepositoryUpdateParameters",
          "description": "The properties that describes the source(code) for the build definition."
        }
      }
    },
    "SourceRepositoryUpdateParameters": {
      "description": "The properties for updating the source code repository configuration.",
      "type": "object",
      "properties": {
        "sourceControlAuthProperties": {
          "$ref": "#/definitions/SourceControlAuthInfo",
          "description": "The authorization properties for accessing the source code repository."
        },
        "isCommitTriggerEnabled": {
          "description": "The value of this property indicates whether the source control commit trigger is enabled or not.",
          "default": false,
          "type": "boolean"
        }
      }
    },
    "BuildListResult": {
      "description": "Collection of builds.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Build"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "Build": {
      "description": "Build resource properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuildProperties",
          "description": "The properties of a build.",
          "x-ms-client-flatten": true
        }
      }
    },
    "BuildProperties": {
      "description": "The properties for a build.",
      "type": "object",
      "properties": {
        "buildId": {
          "description": "The unique identifier for the build.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the build.",
          "enum": [
            "Queued",
            "Started",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BuildStatus",
            "modelAsString": true
          }
        },
        "lastUpdatedTime": {
          "format": "date-time",
          "description": "The last updated time for the build.",
          "type": "string"
        },
        "buildType": {
          "description": "The type of build.",
          "enum": [
            "AutoBuild",
            "QuickBuild"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BuildType",
            "modelAsString": true
          }
        },
        "createTime": {
          "format": "date-time",
          "description": "The time the build was created.",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The time the build started.",
          "type": "string"
        },
        "finishTime": {
          "format": "date-time",
          "description": "The time the build finished.",
          "type": "string"
        },
        "outputImages": {
          "description": "The list of all images that were generated from the build.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ImageDescriptor"
          }
        },
        "buildDefinition": {
          "description": "All the properties of the build definition with which the build was started.",
          "type": "string"
        },
        "trigger": {
          "description": "The trigger that caused the build.",
          "type": "string"
        },
        "isArchiveEnabled": {
          "description": "The value that indicates whether archiving is enabled or not.",
          "type": "boolean"
        },
        "platform": {
          "$ref": "#/definitions/PlatformProperties",
          "description": "The platform properties against which the build will happen."
        },
        "provisioningState": {
          "description": "The provisioning state of a build.",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "ImageDescriptor": {
      "description": "Properties that describes a Docker image.",
      "required": [
        "repositoryName",
        "digest"
      ],
      "type": "object",
      "properties": {
        "repositoryName": {
          "description": "Name of the repository.",
          "type": "string"
        },
        "tag": {
          "description": "The tag name.",
          "type": "string"
        },
        "digest": {
          "description": "The image digest. Example: SHA256 based digest.",
          "type": "string"
        }
      }
    },
    "BuildFilter": {
      "description": "Properties that are enabled for Odata querying.",
      "type": "object",
      "properties": {
        "buildId": {
          "description": "The unique identifier for the build.",
          "type": "string"
        },
        "buildType": {
          "description": "The type of build.",
          "enum": [
            "AutoBuild",
            "QuickBuild"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BuildType",
            "modelAsString": true
          }
        },
        "status": {
          "description": "The current status of the build.",
          "enum": [
            "Queued",
            "Started",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BuildStatus",
            "modelAsString": true
          }
        },
        "createTime": {
          "format": "date-time",
          "description": "The create time for a build.",
          "type": "string"
        },
        "finishTime": {
          "format": "date-time",
          "description": "The time the build finished.",
          "type": "string"
        },
        "outputImageNames": {
          "description": "The list of all images that were generated from the build.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isArchiveEnabled": {
          "description": "The value that indicates whether archiving is enabled or not.",
          "type": "boolean"
        },
        "buildDefinitionName": {
          "description": "The name of the build definition that the build corresponds to.",
          "type": "string"
        }
      }
    },
    "BuildUpdateParameters": {
      "description": "The set of build properties that can be updated.",
      "type": "object",
      "properties": {
        "isArchiveEnabled": {
          "description": "The value that indicates whether archiving is enabled or not.",
          "type": "boolean"
        }
      }
    },
    "BuildGetLogResult": {
      "description": "The result of get log link operation.",
      "type": "object",
      "properties": {
        "logLink": {
          "description": "The link to logs for a azure container registry build.",
          "type": "string"
        }
      }
    },
    "BuildStepList": {
      "description": "The collection of build items.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildStep"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "BuildStep": {
      "description": "Build step resource properties",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuildStepProperties",
          "description": "The properties of a build step.",
          "x-ms-client-flatten": true
        }
      }
    },
    "BuildStepProperties": {
      "description": "Base properties for any  build step.",
      "type": "object",
      "properties": {
        "provisioningState": {
          "description": "The provisioning state of the build step.",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "type": {
          "description": "The type of the step.",
          "enum": [
            "Docker"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "BuildStepType",
            "modelAsString": true
          }
        }
      },
      "discriminator": "type"
    },
    "BuildStepUpdateParameters": {
      "description": "The parameters for updating a build step.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BuildStepPropertiesUpdateParameters",
          "description": "The properties for updating a build step.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "The ARM resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BuildStepPropertiesUpdateParameters": {
      "description": "The properties for updating a build step.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the step.",
          "enum": [
            "Docker"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "BuildStepType",
            "modelAsString": true
          }
        }
      }
    },
    "BuildArgumentList": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildArgument"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "BuildArgument": {
      "description": "Properties of a build argument.",
      "required": [
        "type",
        "name",
        "value"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the argument.",
          "enum": [
            "DockerBuildArgument"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BuildArgumentType",
            "modelAsString": true
          }
        },
        "name": {
          "description": "The name of the argument.",
          "type": "string"
        },
        "value": {
          "description": "The value of the argument.",
          "type": "string"
        },
        "isSecret": {
          "description": "Flag to indicate whether the argument represents a secret and want to be removed from build logs.",
          "default": false,
          "type": "boolean"
        }
      }
    },
    "BaseImageDependencyList": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The collection value.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BaseImageDependency"
          }
        },
        "nextLink": {
          "description": "The URI that can be used to request the next set of paged results.",
          "type": "string"
        }
      }
    },
    "BaseImageDependency": {
      "description": "Properties that describe a base image dependency.",
      "required": [
        "repositoryName",
        "digest"
      ],
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the base image dependency.",
          "enum": [
            "BuildTime",
            "RunTime"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BaseImageDependencyType",
            "modelAsString": true
          }
        },
        "isAutoTriggerEnabled": {
          "description": "The value of this flag indicates if build has to be auto triggered when this image is updated.",
          "default": false,
          "type": "boolean"
        },
        "repositoryName": {
          "description": "Name of the repository.",
          "type": "string"
        },
        "tag": {
          "description": "The tag name.",
          "type": "string"
        },
        "digest": {
          "description": "The image digest. Example: SHA256 based digest.",
          "type": "string"
        }
      }
    },
    "QueueBuildRequest": {
      "description": "The queue build request parameters.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the build request.",
          "type": "string",
          "readOnly": true
        }
      },
      "discriminator": "type"
    },
    "BuildBaseProperties": {
      "description": "The basic properties about a build.",
      "type": "object",
      "properties": {
        "buildId": {
          "description": "The unique identifier for the build.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the build.",
          "enum": [
            "Queued",
            "Started",
            "Running",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "BuildStatus",
            "modelAsString": true
          }
        },
        "lastUpdatedTime": {
          "format": "date-time",
          "description": "The last updated time for the build.",
          "type": "string"
        },
        "provisioningState": {
          "description": "The provisioning state of a build.",
          "enum": [
            "Creating",
            "Updating",
            "Deleting",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "SourceUploadDefinition": {
      "description": "The properties of a response to source upload request.",
      "type": "object",
      "properties": {
        "uploadUrl": {
          "description": "The URL where the client can upload the source.",
          "type": "string"
        },
        "relativePath": {
          "description": "The relative path to the source. This is used to submit the subsequent queue build request.",
          "type": "string"
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "required": [
        "location"
      ],
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The location of the resource. This cannot be changed after the resource is created.",
          "type": "string",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "description": "The tags of the resource.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "Error": {
      "description": "Azure container registry build API error object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ErrorBody",
          "description": "Azure container registry build API error body."
        }
      }
    },
    "ErrorBody": {
      "description": "Azure container registry build API error body.",
      "properties": {
        "properties": {
          "description": "Azure container registry build API error body.",
          "required": [
            "code",
            "message"
          ],
          "properties": {
            "code": {
              "description": "error code.",
              "type": "string"
            },
            "message": {
              "description": "error message.",
              "type": "string"
            }
          }
        }
      }
    },
    "DockerBuildStep": {
      "description": "The Docker build step.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/BuildStepProperties"
        }
      ],
      "properties": {
        "branch": {
          "description": "The repository branch name.",
          "type": "string"
        },
        "imageName": {
          "description": "The full qualified name of the image including the repository and tag.",
          "type": "string"
        },
        "isPushEnabled": {
          "description": "The value of this property indicate whether the image built should be pushed to the registry or not.",
          "default": false,
          "type": "boolean"
        },
        "dockerFilePath": {
          "description": "The Docker file path relative to the source control root.",
          "type": "string"
        },
        "contextPath": {
          "description": "The relative context path for a docker build in the source.",
          "type": "string"
        },
        "buildArguments": {
          "description": "The custom arguments for building this build step.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildArgument"
          }
        },
        "baseImageDependencies": {
          "description": "The collection of base image dependencies that got generated by the latest build against this build item.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BaseImageDependency"
          }
        }
      },
      "x-ms-discriminator-value": "Docker"
    },
    "BuildDefinitionBuildRequest": {
      "description": "The queue build parameters based on a build definition.",
      "required": [
        "type",
        "buildDefinitionName"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/QueueBuildRequest"
        }
      ],
      "properties": {
        "buildDefinitionName": {
          "description": "The name of build definition against which build has to be queued.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "BuildDefinition"
    },
    "QuickBuildRequest": {
      "description": "The queue build request parameters for a quick build.",
      "required": [
        "type",
        "sourceLocation",
        "platform",
        "buildParameters"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/QueueBuildRequest"
        }
      ],
      "properties": {
        "imageName": {
          "description": "The fully qualified image name with the tag that the build tags it.",
          "type": "string"
        },
        "sourceLocation": {
          "description": "The URL(absolute or relative) of the source that needs to be built. For Docker build, it can be an URL to a tar or github repoistory as supported by Docker.\r\nIf it is relative URL, the relative path should be obtained from calling getSourceUploadUrl API.",
          "type": "string"
        },
        "buildArguments": {
          "description": "The collection of build arguments to be used.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/BuildArgument"
          }
        },
        "isPushEnabled": {
          "description": "The value of this property indicate whether the image built should be pushed to the registry or not.",
          "default": false,
          "type": "boolean"
        },
        "timeout": {
          "format": "int32",
          "description": "Build timeout in seconds.",
          "type": "integer"
        },
        "platform": {
          "$ref": "#/definitions/PlatformProperties",
          "description": "The platform properties against which the build will happen."
        },
        "buildParameters": {
          "$ref": "#/definitions/QueueBuildParameters",
          "description": "The build parameters depending on the type of the build."
        }
      },
      "x-ms-discriminator-value": "QuickBuild"
    },
    "QueueBuildParameters": {
      "description": "The properties of a quick build.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of the build parameters.",
          "type": "string",
          "readOnly": true
        }
      },
      "discriminator": "type"
    },
    "DockerBuildParameters": {
      "description": "Build parameters for a docker build.",
      "required": [
        "type",
        "dockerFilePath"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/QueueBuildParameters"
        }
      ],
      "properties": {
        "dockerFilePath": {
          "description": "The Docker file path relative to the source control root.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "Docker"
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The Microsoft Azure subscription ID.",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the resource group to which the container registry belongs.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "registryNameParameter": {
      "name": "registryName",
      "in": "path",
      "description": "The name of the container registry.",
      "required": true,
      "type": "string",
      "maxLength": 50,
      "minLength": 5,
      "pattern": "^[a-zA-Z0-9]*$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The client API version.",
      "required": true,
      "type": "string"
    },
    "buildDefinitionNameParameter": {
      "name": "buildDefinitionName",
      "in": "path",
      "description": "The name of the container registry build definition.",
      "required": true,
      "type": "string",
      "maxLength": 50,
      "minLength": 5,
      "pattern": "^[a-zA-Z0-9]*$",
      "x-ms-parameter-location": "method"
    },
    "stepNameParameter": {
      "name": "stepName",
      "in": "path",
      "description": "The name of a build step for a container registry build definition.",
      "required": true,
      "type": "string",
      "maxLength": 50,
      "minLength": 5,
      "pattern": "^[a-zA-Z0-9]*$",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}