{
  "swagger": "2.0",
  "info": {
    "version": "2020-11-01",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingSubscriptions": {
      "get": {
        "tags": [
          "BillingSubscriptions"
        ],
        "operationId": "BillingSubscriptions_ListByBillingAccount",
        "description": "Lists the subscriptions for a billing account. The operation is supported for billing accounts with agreement type Microsoft Customer Agreement or Microsoft Partner Agreement or Microsoft Online Services Program Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingSubscriptionsListByLegacyBillingAccount": {
            "$ref": "./examples/BillingSubscriptionsListByLegacyBillingAccount.json"
          },
          "BillingSubscriptionsListByBillingAccount": {
            "$ref": "./examples/BillingSubscriptionsListByBillingAccount.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/billingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingSubscriptionsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "BillingSubscriptionsListResult": {
      "description": "The list of billing subscriptions.",
      "properties": {
        "value": {
          "description": "The list of billing subscriptions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingSubscription"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingSubscription": {
      "description": "A billing subscription.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingSubscriptionProperties",
          "title": "Billing subscription properties"
        }
      }
    },
    "BillingSubscriptionProperties": {
      "description": "The billing properties of a subscription.",
      "properties": {
        "displayName": {
          "description": "The name of the subscription.",
          "type": "string",
          "readOnly": true
        },
        "subscriptionId": {
          "description": "The ID of the subscription.",
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "subscriptionBillingStatus": {
          "description": "The current billing status of the subscription.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "Abandoned",
            "Deleted",
            "Warning"
          ],
          "x-ms-enum": {
            "name": "BillingSubscriptionStatus",
            "modelAsString": true
          }
        },
        "suspensionReasons": {
          "description": "The suspension reasons for current subscription.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SubscriptionSuspensionReason"
          }
        },
        "lastMonthCharges": {
          "description": "The last month charges.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "monthToDateCharges": {
          "description": "The current month to date charges.",
          "readOnly": true,
          "$ref": "#/definitions/Amount"
        },
        "billingProfileId": {
          "description": "The ID of the billing profile to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "The name of the billing profile to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "costCenter": {
          "description": "The cost center applied to the subscription.",
          "type": "string"
        },
        "customerId": {
          "description": "The ID of the customer for whom the subscription was created. The field is applicable only for Microsoft Partner Agreement billing account.",
          "type": "string",
          "readOnly": true
        },
        "customerDisplayName": {
          "description": "The name of the customer for whom the subscription was created. The field is applicable only for Microsoft Partner Agreement billing account.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionId": {
          "description": "The ID of the invoice section to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionDisplayName": {
          "description": "The name of the invoice section to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "reseller": {
          "description": "Reseller for this subscription.",
          "readOnly": true,
          "$ref": "#/definitions/Reseller"
        },
        "skuId": {
          "description": "The sku ID of the Azure plan for the subscription.",
          "type": "string"
        },
        "skuDescription": {
          "description": "The sku description of the Azure plan for the subscription.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Amount": {
      "description": "The amount.",
      "properties": {
        "currency": {
          "description": "The currency for the amount value.",
          "type": "string",
          "readOnly": true
        },
        "value": {
          "description": "Amount value.",
          "type": "number"
        }
      }
    },
    "Reseller": {
      "description": "Details of the reseller.",
      "properties": {
        "resellerId": {
          "description": "The MPN ID of the reseller.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The name of the reseller.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SubscriptionSuspensionReason": {
      "description": "The subscription state reason.",
      "properties": {
        "value": {
          "description": "Subscription suspension reason.",
          "type": "string",
          "enum": [
            "Canceled",
            "PastDue",
            "SuspiciousActivity",
            "Other",
            "Transferred",
            "PolicyViolation",
            "SpendingLimitReached",
            "Expired"
          ],
          "x-ms-enum": {
            "name": "SubscriptionSuspensionReason",
            "modelAsString": true
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "The sub details of the error.",
          "readOnly": true,
          "$ref": "#/definitions/ErrorSubDetails"
        }
      }
    },
    "ErrorSubDetails": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "code": {
            "description": "Error code.",
            "type": "string",
            "readOnly": true
          },
          "message": {
            "description": "Error message indicating why the operation failed.",
            "type": "string",
            "readOnly": true
          },
          "target": {
            "description": "The target of the particular error.",
            "type": "string",
            "readOnly": true
          }
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The version of the API to be used with the client request. The current version is 2020-11-01."
    },
    "billingAccountNameParameter": {
      "name": "billingAccountName",
      "in": "path",
      "description": "The ID that uniquely identifies a billing account.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
