{
  "swagger": "2.0",
  "info": {
    "version": "2020-11-01",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingProperty/default": {
      "get": {
        "tags": [
          "BillingProperties"
        ],
        "operationId": "BillingProperty_Get",
        "description": "Get the billing properties for a subscription. This operation is not supported for billing accounts with agreement type Enterprise Agreement.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/billing/"
        },
        "x-ms-examples": {
          "BillingProperty": {
            "$ref": "./examples/BillingProperty.json"
          }
        },
        "parameters": [{
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProperty"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "BillingProperties"
        ],
        "operationId": "BillingProperty_Update",
        "description": "Updates the billing property of a subscription. Currently, cost center can be updated. The operation is supported only for billing accounts with agreement type Microsoft Customer Agreement.",
        "x-ms-examples": {
          "UpdateBillingProperty": {
            "$ref": "./examples/UpdateBillingProperty.json"
          }
        },
        "parameters": [{
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingProperty"
            },
            "description": "Request parameters that are provided to the update billing property operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProperty"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BillingProperty": {
      "description": "A billing property.",
      "type": "object",
      "allOf": [{
        "$ref": "#/definitions/Resource"
      }],
      "properties": {
        "properties": {
          "description": "A billing property.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingPropertyProperties"
        }
      }
    },
    "BillingPropertyProperties": {
      "description": "The billing property.",
      "properties": {
        "accountAdminNotificationEmailAddress": {
          "description": "The email address on which the account admin gets all Azure notifications.",
          "type": "string",
          "readOnly": true
        },
        "billingTenantId": {
          "description": "The Azure AD tenant ID of the billing account for the subscription.",
          "type": "string",
          "readOnly": true
        },
        "billingAccountId": {
          "description": "The ID of the billing account to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingAccountDisplayName": {
          "description": "The name of the billing account to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileId": {
          "description": "The ID of the billing profile to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileDisplayName": {
          "description": "The name of the billing profile to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "billingProfileStatus": {
          "description": "The status of the billing profile.",
          "enum": [
            "Active",
            "Disabled",
            "Warned"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileStatus",
            "modelAsString": true
          }
        },
        "billingProfileStatusReasonCode": {
          "description": "Reason for the specified billing profile status.",
          "enum": [
            "PastDue",
            "SpendingLimitReached",
            "SpendingLimitExpired"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileStatusReasonCode",
            "modelAsString": true
          }
        },
        "billingProfileSpendingLimit": {
          "description": "The billing profile spending limit.",
          "enum": [
            "Off",
            "On"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "BillingProfileSpendingLimit",
            "modelAsString": true
          }
        },
        "costCenter": {
          "description": "The cost center applied to the subscription.",
          "type": "string"
        },
        "invoiceSectionId": {
          "description": "The ID of the invoice section to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "invoiceSectionDisplayName": {
          "description": "The name of the invoice section to which the subscription is billed.",
          "type": "string",
          "readOnly": true
        },
        "isAccountAdmin": {
          "description": "Indicates whether user is the account admin.",
          "type": "boolean",
          "readOnly": true
        },
        "productId": {
          "description": "The product ID of the Azure plan.",
          "type": "string",
          "readOnly": true
        },
        "productName": {
          "description": "The product name of the Azure plan.",
          "type": "string",
          "readOnly": true
        },
        "skuId": {
          "description": "The sku ID of the Azure plan for the subscription.",
          "type": "string",
          "readOnly": true
        },
        "skuDescription": {
          "description": "The sku description of the Azure plan for the subscription.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  }
}
