{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.Orbital.AOPC",
    "version": "2025-02-11-preview",
    "description": "MPC Pro Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "GeoCatalogs"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Orbital/geoCatalogs": {
      "get": {
        "operationId": "GeoCatalogs_ListBySubscription",
        "tags": [
          "GeoCatalogs"
        ],
        "description": "List GeoCatalog resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoCatalogListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoCatalogs_ListBySubscription": {
            "$ref": "./examples/GeoCatalogs_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs": {
      "get": {
        "operationId": "GeoCatalogs_ListByResourceGroup",
        "tags": [
          "GeoCatalogs"
        ],
        "description": "List GeoCatalog resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoCatalogListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoCatalogs_ListByResourceGroup": {
            "$ref": "./examples/GeoCatalogs_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Orbital/geoCatalogs/{catalogName}": {
      "get": {
        "operationId": "GeoCatalogs_Get",
        "tags": [
          "GeoCatalogs"
        ],
        "description": "Get a GeoCatalog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "description": "The name of the catalog",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoCatalog"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoCatalogs_Get": {
            "$ref": "./examples/GeoCatalogs_Get.json"
          }
        }
      },
      "put": {
        "operationId": "GeoCatalogs_Create",
        "tags": [
          "GeoCatalogs"
        ],
        "description": "Create a GeoCatalog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "description": "The name of the catalog",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeoCatalog"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GeoCatalog' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GeoCatalog"
            }
          },
          "201": {
            "description": "Resource 'GeoCatalog' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GeoCatalog"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoCatalogs_Create": {
            "$ref": "./examples/GeoCatalogs_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GeoCatalogs_Update",
        "tags": [
          "GeoCatalogs"
        ],
        "description": "Update a GeoCatalog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "description": "The name of the catalog",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeoCatalogUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GeoCatalog"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoCatalogs_Update": {
            "$ref": "./examples/GeoCatalogs_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "GeoCatalogs_Delete",
        "tags": [
          "GeoCatalogs"
        ],
        "description": "Delete a GeoCatalog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "catalogName",
            "in": "path",
            "description": "The name of the catalog",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GeoCatalogs_Delete": {
            "$ref": "./examples/GeoCatalogs_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AutoGeneratedDomainNameLabelScope": {
      "type": "string",
      "description": "The scope at which the auto-generated domain name label is generated and at which the resource name can be reused.",
      "enum": [
        "NoReuse",
        "TenantReuse",
        "SubscriptionReuse",
        "ResourceGroupReuse"
      ],
      "x-ms-enum": {
        "name": "AutoGeneratedDomainNameLabelScope",
        "modelAsString": true,
        "values": [
          {
            "name": "NoReuse",
            "value": "NoReuse",
            "description": "The domain name label is randomly generated. The resource name cannot be reused within the same region."
          },
          {
            "name": "TenantReuse",
            "value": "TenantReuse",
            "description": "The domain name label is deterministically generated using the resource name and tenant id. The resource name cannot be reused within the same region and tenant."
          },
          {
            "name": "SubscriptionReuse",
            "value": "SubscriptionReuse",
            "description": "The domain name label is deterministically generated using the resource name, tenant id, and subscription id. The resource name cannot be reused within the same region and subscription."
          },
          {
            "name": "ResourceGroupReuse",
            "value": "ResourceGroupReuse",
            "description": "The domain name label is deterministically generated using the resource name, tenant id, subscription id, and resource group name. The resource name cannot be reused within the same resource group."
          }
        ]
      }
    },
    "CatalogTier": {
      "type": "string",
      "description": "The Microsoft Planetary Computer Pro GeoCatalog tier",
      "enum": [
        "Basic"
      ],
      "x-ms-enum": {
        "name": "CatalogTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Basic",
            "value": "Basic",
            "description": "The basic tier that utilizes shared resources across catalog instances"
          }
        ]
      }
    },
    "GeoCatalog": {
      "type": "object",
      "description": "A MPC Pro catalog resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/GeoCatalogProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentity",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "GeoCatalogListResult": {
      "type": "object",
      "description": "The response of a GeoCatalog list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The GeoCatalog items on this page",
          "items": {
            "$ref": "#/definitions/GeoCatalog"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "GeoCatalogProperties": {
      "type": "object",
      "description": "Details of the MPC Pro GeoCatalog.",
      "properties": {
        "tier": {
          "type": "string",
          "description": "Tier of the catalog. This cannot be changed after the catalog is created. If not provided, defaults to Basic.",
          "default": "Basic",
          "enum": [
            "Basic"
          ],
          "x-ms-enum": {
            "name": "CatalogTier",
            "modelAsString": true,
            "values": [
              {
                "name": "Basic",
                "value": "Basic",
                "description": "The basic tier that utilizes shared resources across catalog instances"
              }
            ]
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "catalogUri": {
          "type": "string",
          "description": "The URI of the catalog management UI.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "autoGeneratedDomainNameLabelScope": {
          "type": "string",
          "description": "The scope of the auto-generated domain name label. If not provided, defaults to TenantReuse.",
          "default": "TenantReuse",
          "enum": [
            "NoReuse",
            "TenantReuse",
            "SubscriptionReuse",
            "ResourceGroupReuse"
          ],
          "x-ms-enum": {
            "name": "AutoGeneratedDomainNameLabelScope",
            "modelAsString": true,
            "values": [
              {
                "name": "NoReuse",
                "value": "NoReuse",
                "description": "The domain name label is randomly generated. The resource name cannot be reused within the same region."
              },
              {
                "name": "TenantReuse",
                "value": "TenantReuse",
                "description": "The domain name label is deterministically generated using the resource name and tenant id. The resource name cannot be reused within the same region and tenant."
              },
              {
                "name": "SubscriptionReuse",
                "value": "SubscriptionReuse",
                "description": "The domain name label is deterministically generated using the resource name, tenant id, and subscription id. The resource name cannot be reused within the same region and subscription."
              },
              {
                "name": "ResourceGroupReuse",
                "value": "ResourceGroupReuse",
                "description": "The domain name label is deterministically generated using the resource name, tenant id, subscription id, and resource group name. The resource name cannot be reused within the same resource group."
              }
            ]
          },
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      }
    },
    "GeoCatalogUpdate": {
      "type": "object",
      "description": "Patch request workaround for Swagger LintDiff. Typespec Bug: https://github.com/Azure/typespec-azure/issues/383",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/ManagedServiceIdentityUpdate",
          "description": "Updatable managed service identity"
        }
      }
    },
    "ManagedServiceIdentityUpdate": {
      "type": "object",
      "description": "The template for adding optional properties.",
      "properties": {
        "type": {
          "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/ManagedServiceIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "allOf": [
              {
                "$ref": "../../../../../common-types/resource-management/v5/managedidentity.json#/definitions/UserAssignedIdentity"
              }
            ],
            "type": "object",
            "x-nullable": true
          }
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The catalog is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The catalog is being updated."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The catalog is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The catalog request has been accepted."
          }
        ]
      }
    }
  },
  "parameters": {}
}
