{
  "swagger": "2.0",
  "info": {
    "title": "ObjectStore ResourceProvider",
    "description": "ObjectStore namespace provider",
    "version": "2021-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ObjectStore/osNamespaces/{osNamespace}": {
      "get": {
        "tags": [
          "OSNamespaces"
        ],
        "description": "Returns OSNamespace resource for a given name.",
        "operationId": "OSNamespaces_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OSNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OSNamespace details.",
            "schema": {
              "$ref": "#/definitions/OSNamespace"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OSNamespaceGet": {
            "$ref": "./examples/OSNamespaceGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "OSNamespaces"
        ],
        "description": "Create or update OSNamespace resource.",
        "operationId": "OSNamespaces_CreateAndUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OSNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "OSNamespaceParameters",
            "description": "OSNamespace details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OSNamespace"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/OSNamespace"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OSNamespacePost": {
            "$ref": "./examples/OSNamespacePost.json"
          }
        }
      },
      "delete": {
        "tags": [
          "OSNamespaces"
        ],
        "operationId": "OSNamespaces_Delete",
        "description": "Deletes an existing Azure OSNamespace resource",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OSNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful"
          },
          "204": {
            "description": "The specified OSNamespace resource does not exist in the subscription."
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OSNamespaceDelete": {
            "$ref": "./examples/OSNamespaceDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "OSNamespaces"
        ],
        "operationId": "OSNamespaces_UpdateTags",
        "description": "Updates the specified resource tags.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/OSNamespaceParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "description": "Parameters supplied to update resource tags."
          }
        ],
        "responses": {
          "200": {
            "description": "Update successful.",
            "schema": {
              "$ref": "#/definitions/OSNamespace"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update resource tags": {
            "$ref": "./examples/OSNamespaceUpdateTags.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ObjectStore/osNamespaces": {
      "get": {
        "tags": [
          "OSNamespaces"
        ],
        "description": "Lists all of the OSNamespaces under the given subscription.",
        "operationId": "OSNamespaces_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OSNamespaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List resources in a resource group": {
            "$ref": "./examples/ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ObjectStore/osNamespaces": {
      "get": {
        "tags": [
          "OSNamespaces"
        ],
        "description": "Lists all of the OSNamespaces under the given subscription.",
        "operationId": "OSNamespaces_ListBySubscription",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Client Api Version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OSNamespaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation has failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List resources in a subscription": {
            "$ref": "./examples/ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.ObjectStore/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available API operations for OSNamespace resources.",
        "operationId": "ListOperations",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "description": "Client Api Version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Resource Provider error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ObjectStore operations": {
            "$ref": "./examples/ListObjectStoreOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "type": "object",
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "Azure resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure resource name. Preferably the name of namespace",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string"
        },
        "tags": {
          "description": "resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "OSNamespace": {
      "type": "object",
      "description": "OSNamespace details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "required": [
        "properties"
      ],
      "properties": {
        "properties": {
          "type": "object",
          "required": [
            "osNamespaceName"
          ],
          "properties": {
            "osNamespaceName": {
              "type": "string",
              "description": "Namespace name in ObjectStore backend or OSPortal"
            },
            "provisioningState": {
              "type": "string",
              "enum": [
                "Succeeded",
                "Failed",
                "Canceled",
                "Accepted",
                "Provisioning"
              ],
              "x-ms-enum": {
                "name": "ProvisioningState",
                "modelAsString": true
              },
              "readOnly": true
            }
          }
        }
      }
    },
    "OSNamespaceListResult": {
      "description": "The paginated list of OSNamespaces",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of OSNamespaces",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OSNamespace"
          }
        },
        "nextLink": {
          "description": "The link to fetch the next page of OSNamespaces",
          "type": "string"
        }
      }
    },
    "TagsObject": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    },
    "Operation": {
      "type": "object",
      "description": "The ObjectStore API operation",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Operation name: {Microsoft.ObjectStore}/{resource}/{operation}"
        },
        "display": {
          "$ref": "#/definitions/Operation_display"
        },
        "origin": {
          "description": "The intended executor of the operation.",
          "enum": [
            "user",
            "system"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "OperationOrigin",
            "modelAsString": true
          }
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        }
      }
    },
    "OperationListResult": {
      "type": "object",
      "description": "The paginated list of ObjectStore API operations.",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "The list of ObjectStore API operations."
        },
        "nextLink": {
          "type": "string",
          "description": "The link to fetch the next page of ObjectStore API operations."
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "error": {
          "description": "The error response that indicates why an operation has failed.",
          "type": "object",
          "properties": {
            "code": {
              "description": "The error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "The error message.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Operation_display": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Service provider: Microsoft.ObjectStore"
        },
        "resource": {
          "type": "string",
          "description": "ObjectStore Resource on which the operation is performed"
        },
        "operation": {
          "type": "string",
          "description": "Operation type: Read, write, delete, etc."
        },
        "description": {
          "type": "string",
          "description": "Description of the operation."
        }
      },
      "description": "The object that represents the operation / action."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "OSNamespaceParameter": {
      "name": "osNamespace",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ObjectStore namespace resource.",
      "x-ms-parameter-location": "method"
    }
  }
}
