{
  "swagger": "2.0",
  "info": {
    "version": "2018-03-01-preview",
    "title": "BillingManagementClient",
    "description": "Billing client provides access to billing resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Billing/enrollmentAccounts": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsList": {
            "$ref": "./examples/EnrollmentAccountsList.json"
          }
        },
        "operationId": "EnrollmentAccounts_List",
        "description": "Lists the enrollment accounts the caller has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/enrollmentAccounts/{name}": {
      "get": {
        "tags": [
          "EnrollmentAccounts"
        ],
        "x-ms-examples": {
          "EnrollmentAccountsGet": {
            "$ref": "./examples/EnrollmentAccountsGet.json"
          }
        },
        "operationId": "EnrollmentAccounts_Get",
        "description": "Gets a enrollment account by name.",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "Enrollment Account name.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/EnrollmentAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods": {
      "get": {
        "tags": [
          "BillingPeriods"
        ],
        "operationId": "BillingPeriods_List",
        "description": "Lists the available billing periods for a subscription in reverse chronological order. This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=844490"
        },
        "x-ms-examples": {
          "BillingPeriodsList": {
            "$ref": "./examples/BillingPeriodsList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter billing periods by billingPeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N billing periods.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPeriodsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/billingPeriods/{billingPeriodName}": {
      "get": {
        "tags": [
          "BillingPeriods"
        ],
        "operationId": "BillingPeriods_Get",
        "description": "Gets a named billing period.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "BillingPeriodsGet": {
            "$ref": "./examples/BillingPeriodsGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "billingPeriodName",
            "description": "The name of a BillingPeriod resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingPeriod"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_List",
        "description": "Lists the available invoices for a subscription in reverse chronological order beginning with the most recent invoice. In preview, invoices are available via this API only for invoice periods which end December 1, 2016 or later.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=842057"
        },
        "x-ms-examples": {
          "InvoicesList": {
            "$ref": "./examples/InvoicesList.json"
          },
          "InvoicesExpand": {
            "$ref": "./examples/InvoicesExpand.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$expand",
            "description": "May be used to expand the downloadUrl property within a list of invoices. This enables download links to be generated for multiple invoices at once. By default, downloadURLs are not included when listing invoices.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$filter",
            "description": "May be used to filter invoices by invoicePeriodEndDate. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "description": "May be used to limit the number of results to the most recent N invoices.",
            "in": "query",
            "required": false,
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/InvoicesListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/{invoiceName}": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_Get",
        "description": "Gets a named invoice resource. When getting a single invoice, the downloadUrl property is expanded automatically.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "InvoicesGet": {
            "$ref": "./examples/InvoicesGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "invoiceName",
            "description": "The name of an invoice resource.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Billing/invoices/latest": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "operationId": "Invoices_GetLatest",
        "description": "Gets the most recent invoice. When getting a single invoice, the downloadUrl property is expanded automatically.  This is only supported for Azure Web-Direct subscriptions. Other subscription types which were not purchased directly through the Azure web portal are not supported through this preview API.",
        "x-ms-examples": {
          "InvoicesGetLatest": {
            "$ref": "./examples/InvoicesGetLatest.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Invoice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available billing REST API operations.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/entities": {
      "get": {
        "tags": [
          "Entities"
        ],
        "x-ms-examples": {
          "EntitiesList": {
            "$ref": "./examples/EntitiesList.json"
          }
        },
        "operationId": "Entities_List",
        "description": "Lists all billing entities for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingEntityListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts": {
      "get": {
        "tags": [
          "BillingAccounts"
        ],
        "x-ms-examples": {
          "BillingAccountsList": {
            "$ref": "./examples/BillingAccountsList.json"
          }
        },
        "operationId": "BillingAccounts_List",
        "description": "Lists all billing accounts for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingAccountListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}": {
      "get": {
        "tags": [
          "BillingAccounts"
        ],
        "x-ms-examples": {
          "BillingAccounts": {
            "$ref": "./examples/BillingAccount.json"
          }
        },
        "operationId": "BillingAccounts_Get",
        "description": "Get the billing account by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingAccount"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles": {
      "get": {
        "tags": [
          "BillingProfiles"
        ],
        "x-ms-examples": {
          "BillingProfilesListByBillingAccountId": {
            "$ref": "./examples/BillingProfilesListByBillingAccountId.json"
          }
        },
        "operationId": "BillingProfiles_ListByBillingAccountId",
        "description": "Lists all billing profiles for a user which that user has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "BillingProfiles_Create",
        "description": "The operation to create a billing profile.",
        "x-ms-examples": {
          "CreateBillingProfile": {
            "$ref": "./examples/CreateBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            },
            "description": "Parameters supplied to the Create Billing Profile operation."
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingProfiles": {
      "get": {
        "tags": [
          "BillingProfiles"
        ],
        "x-ms-examples": {
          "BillingProfilesList": {
            "$ref": "./examples/BillingProfilesList.json"
          }
        },
        "operationId": "BillingProfiles_List",
        "description": "Lists all billing profiles for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingProfiles/{billingProfileId}": {
      "get": {
        "tags": [
          "BillingProfiles"
        ],
        "x-ms-examples": {
          "BillingProfile": {
            "$ref": "./examples/BillingProfile.json"
          }
        },
        "operationId": "BillingProfiles_Get",
        "description": "Get the billing profile by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BillingProfiles"
        ],
        "operationId": "BillingProfiles_Update",
        "description": "The operation to update a billing profile.",
        "x-ms-examples": {
          "UpdateBillingProfile": {
            "$ref": "./examples/UpdateBillingProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingProfileIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            },
            "description": "Parameters supplied to the update billing profile operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/BillingProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "x-ms-examples": {
          "ProjectsListByBillingAccountId": {
            "$ref": "./examples/ProjectsListByBillingAccountId.json"
          }
        },
        "operationId": "Projects_ListByBillingAccountId",
        "description": "Lists all projects for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProjectListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "operationId": "Projects_Create",
        "description": "The operation to create a project.",
        "x-ms-examples": {
          "CreateProject": {
            "$ref": "./examples/CreateProject.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            },
            "description": "Parameters supplied to the Create Project operation."
          }
        ],
        "responses": {
          "201": {
            "description": "Created.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "x-ms-examples": {
          "ProjectsList": {
            "$ref": "./examples/ProjectsList.json"
          }
        },
        "operationId": "Projects_List",
        "description": "Lists all projects for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProjectListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "x-ms-examples": {
          "Project": {
            "$ref": "./examples/Project.json"
          }
        },
        "operationId": "Projects_Get",
        "description": "Get the project by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/projectIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Projects"
        ],
        "operationId": "Projects_Update",
        "description": "The operation to update a project.",
        "x-ms-examples": {
          "UpdateProject": {
            "$ref": "./examples/UpdateProject.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/projectIdParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Project"
            },
            "description": "Parameters supplied to the Create Project operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },    
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "x-ms-examples": {
          "AssetsListByBillingAccountId": {
            "$ref": "./examples/AssetsListByBillingAccountId.json"
          }
        },
        "operationId": "Assets_ListByBillingAccountId",
        "description": "Lists all assets for specified billing account id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AssetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/assets/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "x-ms-examples": {
          "AssetByIdAndBillingAccount": {
            "$ref": "./examples/AssetByIdAndBillingAccount.json"
          }
        },
        "operationId": "Assets_GetByIdAndBillingAccount",
        "description": "Get the asset by id and billing account id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          },
          {
            "$ref": "#/parameters/assetIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/assets": {
      "get": {
        "tags": [
          "Assets"
        ],
        "x-ms-examples": {
          "AssetsList": {
            "$ref": "./examples/AssetsList.json"
          }
        },
        "operationId": "Assets_List",
        "description": "Lists all assets for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitionsAssetListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/assets/{assetId}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "x-ms-examples": {
          "Asset": {
            "$ref": "./examples/Asset.json"
          }
        },
        "operationId": "Assets_Get",
        "description": "Get the asset by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/assetIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Asset"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "x-ms-examples": {
          "SubscriptionsListByBillingAccountId": {
            "$ref": "./examples/SubscriptionsListByBillingAccountId.json"
          }
        },
        "operationId": "Subscriptions_ListByBillingAccountId",
        "description": "Lists all subscriptions for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "x-ms-examples": {
          "SubscriptionsList": {
            "$ref": "./examples/SubscriptionsList.json"
          }
        },
        "operationId": "Subscriptions_List",
        "description": "Lists all subscriptions for a user which he has access to.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/billingAccountIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SubscriptionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Billing/subscriptions/{subscriptionId}": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "x-ms-examples": {
          "Subscription": {
            "$ref": "./examples/Subscription.json"
          }
        },
        "operationId": "Subscriptions_Get",
        "description": "Get the subscription by id.",
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Subscription"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "BillingEntityListResult": {
      "description": "Result of listing billing entities.",
      "properties": {
        "value": {
          "description": "The list of billing entities.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingEntity"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingEntity": {
      "description": "A billing entity resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing entity.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingEntityProperties"
        }
      }
    },
    "BillingEntityProperties": {
      "description": "The properties of the billing entity.",
      "properties": {
        "entityId": {
          "description": "Id of the billing entity.",
          "type": "string",
          "readOnly": true
        },
        "entityType": {
          "description": "Type of the billing entity.",
          "type": "string",
          "enum": [
            "BillingAccount",
            "Project",
            "BillingProfile"
          ],
          "x-ms-enum": {
            "name": "EntityType",
            "modelAsString": true
          },
          "readOnly": true
        },
        "country": {
          "description": "Country for the billing entity.",
          "type": "string",
          "readOnly": true
        },
        "startDate": {
          "description": "The billing entity start date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "endDate": {
          "description": "The billing entity end date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "status": {
          "description": "The billing account status.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "Deleted",
            "Expired"
          ],
          "x-ms-enum": {
            "name": "StatusType",
            "modelAsString": true
          },
          "readOnly": true
        }
      }
    },
    "BillingAccountListResult": {
      "description": "Result of listing billing accounts.",
      "properties": {
        "value": {
          "description": "The list of billing accounts.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingAccount"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingAccount": {
      "description": "A billing account resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingAccountProperties"
        }
      }
    },
    "BillingAccountProperties": {
      "description": "The properties of the billing account.",
      "properties": {
        "commerceRootName": {
          "description": "The commerce root or billing account name.",
          "type": "string",
          "readOnly": true
        },
        "country": {
          "description": "Country for the billing account.",
          "type": "string",
          "readOnly": true
        },
        "startDate": {
          "description": "The billing entity start date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "endDate": {
          "description": "The billing account end date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "status": {
          "description": "The billing account status.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "Deleted",
            "Expired"
          ],
          "x-ms-enum": {
            "name": "StatusType",
            "modelAsString": true
          },
          "readOnly": true
        },
        "supportPlan": {
          "description": "The support plan.",
          "type": "string",
          "readOnly": true
        },
        "supportCoverage": {
          "description": "The support coverage start and end date.",
          "$ref": "#/definitions/SupportCoverage"
        },
        "cloudType": {
          "description": "The cloud type.",
          "type": "string",
          "enum": [
            "Commercial"
          ],
          "x-ms-enum": {
            "name": "CloudType",
            "modelAsString": true
          },
          "readOnly": true
        },
        "projects": {
          "description": "The project associated to the billing account.",
          "type": "array",
          "items": {
            "type": "ProjectProperties"
          }
        }
      }
    },
    "SupportCoverage": {
      "description": "Details about the product/offer.",
      "properties": {
        "startDate": {
          "description": "The support plan start date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "endDate": {
          "description": "The support plan end date.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "BillingProfileListResult": {
      "description": "Result of listing billing profiles.",
      "properties": {
        "value": {
          "description": "The list of billing profiles.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingProfile"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingProfile": {
      "description": "A billing profile resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing profile.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingProfileProperties"
        }
      }
    },
    "BillingProfileProperties": {
      "description": "The properties of the billing profile.",
      "properties": {
        "billingProfileName": {
          "description": "The billing profile name.",
          "type": "string"
        },
        "startDate": {
          "description": "The project start date. <Not rationalized>",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "The billing profile end date.<Not rationalized>",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "status": {
          "description": "The billing profile status.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "Deleted",
            "Expired"
          ],
          "x-ms-enum": {
            "name": "StatusType",
            "modelAsString": true
          },
          "readOnly": true
        },
        "useCredits": {
          "description": "A flag to specify whether to use credits to automatically pay for your monthly invoice or not.",
          "type": "boolean"
        },
        "poNumber": {
          "description": "The PO number for billing profile.",
          "type": "string"
        }
      }
    },
    "ProjectListResult": {
      "description": "Result of listing projects.",
      "properties": {
        "value": {
          "description": "The list of projects.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Project"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Project": {
      "description": "A project resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The project.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProjectProperties"
        }
      }
    },
    "ProjectProperties": {
      "description": "The properties of a project.",
      "properties": {
        "projectName": {
          "description": "The name of the project.",
          "type": "string"
        },
        "startDate": {
          "description": "The project start date. <Not rationalized>",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "The project end date. <Not rationalized>",
          "type": "string",
          "format": "date-time"
        },
        "status": {
          "description": "The project status.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "Deleted",
            "Expired"
          ],
          "x-ms-enum": {
            "name": "StatusType",
            "modelAsString": true
          },
          "readOnly": true
        },
        "assets": {
          "description": "The assets attached to the project.",
          "type": "array",
          "items": {
            "type": "AssetProperties"
          }
        },
        "costCenter": {
          "description": "The cost center for the project.",
          "type": "string"
        },
        "canCreateSubscription": {
          "description": "Does user has permission to create subscription.",
          "type": "boolean",          
          "readOnly": true
        }
      }
    },
    "AssetListResult": {
      "description": "Result of listing assets.",
      "properties": {
        "value": {
          "description": "The list of assets.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Asset"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Asset": {
      "description": "An asset resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "The asset.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AssetProperties"
        }
      }
    },
    "AssetProperties": {
      "description": "The properties of an asset.",
      "properties": {
        "parentAssetId": {
          "description": "The id of the parent asset.",
          "type": "string"
        },
        "owningProjectId": {
          "description": "The id of the project.",
          "type": "string"
        },
        "type": {
          "description": "The type of the asset.",
          "type": "string",
          "enum": [
            "Direct",
            "Delegated"
          ],
          "x-ms-enum": {
            "name": "AssetType",
            "modelAsString": true
          },
          "readOnly": true
        },
        "startDate": {
          "description": "The start date.",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "The end date.",
          "type": "string",
          "format": "date-time"
        },
        "billingProfileDetails": {
          "description": "Information about the billing profile associated with this asset.",
          "$ref": "#/definitions/BillingProfileDetails"
        },
        "productInfo": {
          "description": "Information about the product/offer.",
          "$ref": "#/definitions/ProductInfo"
        }
      }
    },
    "BillingProfileDetails": {
      "description": "Details about the billing profile.",
      "properties": {
        "id": {
          "description": "Billing profile id.",
          "type": "string"
        },
        "name": {
          "description": "Billing profile name.",
          "type": "string"
        }
      }
    },
    "ProductInfo": {
      "description": "Details about the product/offer.",
      "properties": {
        "productId": {
          "description": "The product id.",
          "type": "string"
        },
        "skuId": {
          "description": "The sku id.",
          "type": "string"
        },
        "availabilityId": {
          "description": "The availability id used by purchase.",
          "type": "string"
        }
      }
    },
    "SubscriptionListResult": {
      "description": "Result of listing subscriptions.",
      "properties": {
        "value": {
          "description": "The list of subscriptions.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Subscription"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Subscription": {
      "description": "A subscription resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A subscription.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SubscriptionProperties"
        }
      }
    },
    "SubscriptionProperties": {
      "description": "The properties of a subscription.",
      "properties": {
        "subscriptionName": {
          "description": "The subscription name.",
          "type": "string"
        },
        "startDate": {
          "description": "The subscription start date. <Not rationalized>",
          "type": "string",
          "format": "date-time"
        },
        "endDate": {
          "description": "The subscription end date.<Not rationalized>",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "status": {
          "description": "The subscription status.",
          "type": "string",
          "enum": [
            "Active",
            "Inactive",
            "Deleted",
            "Expired"
          ],
          "x-ms-enum": {
            "name": "StatusType",
            "modelAsString": true
          },
          "readOnly": true
        },
        "asset": {
          "description": "The asset attached.",
          "type": "object",
          "$ref": "#/definitions/Asset",
          "readOnly": true
        },
        "currency": {
          "description": "The ISO currency, for example, USD.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentAccount": {
      "description": "An enrollment account resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An enrollment account.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/EnrollmentAccountProperties"
        }
      }
    },
    "EnrollmentAccountListResult": {
      "description": "Result of listing enrollment accounts.",
      "properties": {
        "value": {
          "description": "The list of enrollment accounts.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/EnrollmentAccount"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EnrollmentAccountProperties": {
      "description": "The properties of the enrollment account.",
      "properties": {
        "principalName": {
          "description": "The account owner's principal name.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingPeriod": {
      "description": "A billing period resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "A billing period.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/BillingPeriodProperties"
        }
      }
    },
    "BillingPeriodsListResult": {
      "description": "Result of listing billing periods. It contains a list of available billing periods in reverse chronological order.",
      "properties": {
        "value": {
          "description": "The list of billing periods.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/BillingPeriod"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BillingPeriodProperties": {
      "description": "The properties of the billing period.",
      "properties": {
        "billingPeriodStartDate": {
          "description": "The start of the date range covered by the billing period.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "billingPeriodEndDate": {
          "description": "The end of the date range covered by the billing period.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "invoiceIds": {
          "description": "Array of invoice ids that associated with.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DownloadUrl": {
      "description": "A secure URL that can be used to download a PDF invoice until the URL expires.",
      "properties": {
        "expiryTime": {
          "description": "The time in UTC at which this download URL will expire.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "url": {
          "description": "The URL to the PDF file.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorDetails": {
      "description": "The details of the error.",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorDetails"
        }
      }
    },
    "Invoice": {
      "description": "An invoice resource can be used download a PDF version of an invoice.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "description": "An invoice.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/InvoiceProperties"
        }
      }
    },
    "InvoicesListResult": {
      "description": "Result of listing invoices. It contains a list of available invoices in reverse chronological order.",
      "properties": {
        "value": {
          "description": "The list of invoices.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Invoice"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InvoiceProperties": {
      "description": "The properties of the invoice.",
      "properties": {
        "downloadUrl": {
          "description": "A secure link to download the PDF version of an invoice. The link will cease to work after its expiry time is reached.",
          "$ref": "#/definitions/DownloadUrl"
        },
        "invoicePeriodStartDate": {
          "description": "The start of the date range covered by the invoice.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "invoicePeriodEndDate": {
          "description": "The end of the date range covered by the invoice.",
          "type": "string",
          "format": "date",
          "readOnly": true
        },
        "billingPeriodIds": {
          "description": "Array of billing perdiod ids that the invoice is attributed to.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "description": "A Billing REST API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string",
          "readOnly": true
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Billing.",
              "type": "string",
              "readOnly": true
            },
            "resource": {
              "description": "Resource on which the operation is performed: Invoice, etc.",
              "type": "string",
              "readOnly": true
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result listing billing operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "description": "List of billing operations supported by the Microsoft.Billing resource provider.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of operation list results if there are any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. The current version is 2018-03-01-preview."
    },
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Azure Subscription ID.",
      "required": true,
      "type": "string"
    },
    "billingAccountIdParameter": {
      "name": "billingAccountId",
      "in": "path",
      "description": "billing Account Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "projectIdParameter": {
      "name": "projectId",
      "in": "path",
      "description": "Project Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "billingProfileIdParameter": {
      "name": "billingProfileId",
      "in": "path",
      "description": "Billing Profile Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "assetIdParameter": {
      "name": "assetId",
      "in": "path",
      "description": "Asset Id.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}