{
  "swagger": "2.0",
  "info": {
    "title": "MetricAlertClient",
    "version": "0000-00-00",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "MetricAlerts"
    }
  ],
  "paths": {
    "/providers/Microsoft.Insights/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Insights/metricAlerts": {
      "get": {
        "operationId": "MetricAlerts_ListBySubscription",
        "tags": [
          "MetricAlerts"
        ],
        "description": "Retrieve alert rule definitions in a subscription.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetricAlertResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts": {
      "get": {
        "operationId": "MetricAlerts_ListByResourceGroup",
        "tags": [
          "MetricAlerts"
        ],
        "description": "Retrieve alert rule definitions in a resource group.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetricAlertResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/metricAlerts/{name}": {
      "get": {
        "operationId": "MetricAlerts_Get",
        "tags": [
          "MetricAlerts"
        ],
        "description": "Retrieve an alert rule definition.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetricAlertResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "MetricAlerts_CreateOrUpdate",
        "tags": [
          "MetricAlerts"
        ],
        "description": "Create or update an alert rule.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MetricAlertResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MetricAlertResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MetricAlertResource"
            }
          },
          "201": {
            "description": "Resource 'MetricAlertResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MetricAlertResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "MetricAlerts_Patch",
        "tags": [
          "MetricAlerts"
        ],
        "description": "Update an alert rule. Only tags, enabled, and actions fields can be updated.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MetricAlertResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MetricAlertResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "MetricAlerts_Delete",
        "tags": [
          "MetricAlerts"
        ],
        "description": "Delete an alert rule.",
        "parameters": [
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "MetricAlertProperties": {
      "type": "object",
      "description": "Properties for the metric alert resource",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Indicates the type of metric alert",
          "enum": [
            "Metric",
            "Query"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "MetricAlertResource": {
      "type": "object",
      "description": "Metric alert resource",
      "properties": {
        "name": {
          "type": "string"
        },
        "properties": {
          "description": "The properties of the metric alert"
        }
      },
      "required": [
        "name",
        "properties"
      ],
      "allOf": [
        {
          "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "MetricAlertResourceCollection": {
      "type": "object",
      "description": "Collection of metric alert resources",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of metric alert rules",
          "items": {
            "$ref": "#/definitions/MetricAlertResource"
          }
        }
      },
      "required": [
        "value"
      ]
    },
    "MetricAlertResourceListResult": {
      "type": "object",
      "description": "The response of a MetricAlertResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MetricAlertResource items on this page",
          "items": {
            "$ref": "#/definitions/MetricAlertResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MetricAlertResourcePatch": {
      "type": "object",
      "description": "Model for patch operations",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "type": "object",
          "description": "Properties that can be modified in a patch operation",
          "properties": {
            "enabled": {
              "type": "boolean",
              "description": "Indicates whether this alert rule is enabled"
            },
            "actions": {
              "type": "array",
              "description": "The actions to take when the alert fires",
              "items": {
                "$ref": "#/definitions/MetricAlertRuleAction"
              },
              "x-ms-identifiers": []
            }
          }
        }
      }
    },
    "MetricAlertResourceUpdate": {
      "type": "object",
      "description": "Metric alert resource",
      "properties": {
        "name": {
          "type": "string"
        },
        "properties": {
          "description": "The properties of the metric alert"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ]
    },
    "MetricAlertRuleAction": {
      "type": "object",
      "description": "Common fields for metric alert rule actions",
      "properties": {
        "actionGroupId": {
          "type": "string",
          "description": "The resource ID of the action group"
        }
      },
      "required": [
        "actionGroupId"
      ]
    },
    "MetricAlertRuleCriteria": {
      "type": "object",
      "description": "Metric alert rule criteria",
      "properties": {
        "threshold": {
          "type": "number",
          "format": "double",
          "description": "The threshold value that activates the alert"
        },
        "operator": {
          "type": "string",
          "description": "The operator used to compare the metric value against the threshold",
          "enum": [
            "Equals",
            "NotEquals",
            "GreaterThan",
            "GreaterThanOrEqual",
            "LessThan",
            "LessThanOrEqual"
          ],
          "x-ms-enum": {
            "modelAsString": false
          }
        }
      }
    },
    "MetricAlertsMetricProperties": {
      "type": "object",
      "description": "Properties specific to metric-based alerts",
      "properties": {
        "windowSize": {
          "type": "string",
          "description": "The period of time that is used to monitor alert activity"
        },
        "criteria": {
          "$ref": "#/definitions/MetricAlertRuleCriteria",
          "description": "The criteria that defines the alert conditions"
        }
      },
      "required": [
        "windowSize",
        "criteria"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/MetricAlertsPropertiesBase"
        }
      ]
    },
    "MetricAlertsPropertiesBase": {
      "type": "object",
      "description": "Base properties for all metric alerts",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the metric alert",
          "maxLength": 4096
        },
        "severity": {
          "type": "integer",
          "format": "int32",
          "description": "The severity of the metric alert",
          "minimum": 0,
          "maximum": 4
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether this alert rule is enabled"
        },
        "scopes": {
          "type": "array",
          "description": "The list of resource id's being monitored",
          "items": {
            "type": "string"
          }
        },
        "evaluationFrequency": {
          "type": "string",
          "description": "The frequency with which the metric alert is evaluated"
        },
        "autoMitigate": {
          "type": "boolean",
          "description": "Indicates whether the alert should be auto resolved"
        },
        "targetResourceType": {
          "type": "string",
          "description": "The resource type of the target resource"
        },
        "targetResourceRegion": {
          "type": "string",
          "description": "The region of the target resource"
        },
        "actions": {
          "type": "array",
          "description": "The actions to take when the alert fires",
          "items": {
            "$ref": "#/definitions/MetricAlertRuleAction"
          },
          "x-ms-identifiers": []
        },
        "customProperties": {
          "type": "object",
          "description": "Custom properties for the alert. When provided, must contain at least one property.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "actionProperties": {
          "type": "object",
          "description": "Properties to customize alert actions. When provided, must contain at least one property.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "required": [
        "severity",
        "enabled",
        "scopes",
        "evaluationFrequency"
      ]
    },
    "MetricAlertsQueryProperties": {
      "type": "object",
      "description": "Properties specific to query-based alerts",
      "properties": {
        "resolveConfiguration": {
          "$ref": "#/definitions/QueryResolveConfiguration",
          "description": "The resolve configuration for query-based alerts"
        },
        "criteria": {
          "$ref": "#/definitions/MetricQueryCriteria",
          "description": "The criteria that defines the alert conditions"
        }
      },
      "required": [
        "criteria"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/MetricAlertsPropertiesBase"
        }
      ]
    },
    "MetricProperties": {
      "type": "object",
      "properties": {
        "windowSize": {
          "type": "string",
          "description": "The period of time that is used to monitor alert activity"
        },
        "criteria": {
          "$ref": "#/definitions/MetricAlertRuleCriteria",
          "description": "The criteria that defines the alert conditions"
        },
        "description": {
          "type": "string",
          "description": "The description of the metric alert",
          "maxLength": 4096
        },
        "severity": {
          "type": "integer",
          "format": "int32",
          "description": "The severity of the metric alert",
          "minimum": 0,
          "maximum": 4
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether this alert rule is enabled"
        },
        "scopes": {
          "type": "array",
          "description": "The list of resource id's being monitored",
          "items": {
            "type": "string"
          }
        },
        "evaluationFrequency": {
          "type": "string",
          "description": "The frequency with which the metric alert is evaluated"
        },
        "autoMitigate": {
          "type": "boolean",
          "description": "Indicates whether the alert should be auto resolved"
        },
        "targetResourceType": {
          "type": "string",
          "description": "The resource type of the target resource"
        },
        "targetResourceRegion": {
          "type": "string",
          "description": "The region of the target resource"
        },
        "actions": {
          "type": "array",
          "description": "The actions to take when the alert fires",
          "items": {
            "$ref": "#/definitions/MetricAlertRuleAction"
          },
          "x-ms-identifiers": []
        },
        "customProperties": {
          "type": "object",
          "description": "Custom properties for the alert. When provided, must contain at least one property.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "actionProperties": {
          "type": "object",
          "description": "Properties to customize alert actions. When provided, must contain at least one property.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "discriminator": "kind",
      "required": [
        "windowSize",
        "criteria",
        "severity",
        "enabled",
        "scopes",
        "evaluationFrequency"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/MetricAlertProperties"
        }
      ],
      "x-ms-discriminator-value": "Metric"
    },
    "MetricQueryCriteria": {
      "type": "object",
      "description": "Metric query criteria",
      "properties": {
        "query": {
          "type": "string",
          "description": "The query used to evaluate the alert rule"
        }
      }
    },
    "QueryProperties": {
      "type": "object",
      "properties": {
        "resolveConfiguration": {
          "$ref": "#/definitions/QueryResolveConfiguration",
          "description": "The resolve configuration for query-based alerts"
        },
        "criteria": {
          "$ref": "#/definitions/MetricQueryCriteria",
          "description": "The criteria that defines the alert conditions"
        },
        "description": {
          "type": "string",
          "description": "The description of the metric alert",
          "maxLength": 4096
        },
        "severity": {
          "type": "integer",
          "format": "int32",
          "description": "The severity of the metric alert",
          "minimum": 0,
          "maximum": 4
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether this alert rule is enabled"
        },
        "scopes": {
          "type": "array",
          "description": "The list of resource id's being monitored",
          "items": {
            "type": "string"
          }
        },
        "evaluationFrequency": {
          "type": "string",
          "description": "The frequency with which the metric alert is evaluated"
        },
        "autoMitigate": {
          "type": "boolean",
          "description": "Indicates whether the alert should be auto resolved"
        },
        "targetResourceType": {
          "type": "string",
          "description": "The resource type of the target resource"
        },
        "targetResourceRegion": {
          "type": "string",
          "description": "The region of the target resource"
        },
        "actions": {
          "type": "array",
          "description": "The actions to take when the alert fires",
          "items": {
            "$ref": "#/definitions/MetricAlertRuleAction"
          },
          "x-ms-identifiers": []
        },
        "customProperties": {
          "type": "object",
          "description": "Custom properties for the alert. When provided, must contain at least one property.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "actionProperties": {
          "type": "object",
          "description": "Properties to customize alert actions. When provided, must contain at least one property.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "discriminator": "kind",
      "required": [
        "criteria",
        "severity",
        "enabled",
        "scopes",
        "evaluationFrequency"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/MetricAlertProperties"
        }
      ],
      "x-ms-discriminator-value": "Query"
    },
    "QueryResolveConfiguration": {
      "type": "object",
      "description": "Query resolve configuration",
      "properties": {
        "autoResolved": {
          "type": "boolean",
          "description": "Indicates whether the alert should be auto resolved"
        },
        "timeToResolve": {
          "type": "string",
          "description": "The time after which the alert should be auto resolved"
        }
      }
    }
  },
  "parameters": {}
}
