{
  "swagger": "2.0",
  "info": {
    "title": "PureStorage.Block",
    "version": "2023-06-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "VolumePools"
    }
  ],
  "paths": {
    "/providers/PureStorage.Block/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PureStorage.Block/volumePools": {
      "get": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_ListBySubscription",
        "description": "List VolumePool resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VolumePools_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_ListBySubscription_MaximumSet_Gen.json"
          },
          "VolumePools_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PureStorage.Block/volumePools": {
      "get": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_ListByResourceGroup",
        "description": "List VolumePool resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "VolumePools_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "VolumePools_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PureStorage.Block/volumePools/{volumePool}": {
      "get": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_Get",
        "description": "Get a VolumePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "volumePool",
            "in": "path",
            "required": true,
            "description": "Name of the volume pool.",
            "minLength": 4,
            "maxLength": 20,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VolumePools_Get_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_Get_MaximumSet_Gen.json"
          },
          "VolumePools_Get_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_Create",
        "description": "Create a VolumePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "volumePool",
            "in": "path",
            "required": true,
            "description": "Name of the volume pool.",
            "minLength": 4,
            "maxLength": 20,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VolumePools_Create_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_Create_MaximumSet_Gen.json"
          },
          "VolumePools_Create_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_Create_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_Update",
        "description": "Update a VolumePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "volumePool",
            "in": "path",
            "required": true,
            "description": "Name of the volume pool.",
            "minLength": 4,
            "maxLength": 20,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/VolumePoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/VolumePool"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VolumePools_Update_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_Update_MaximumSet_Gen.json"
          },
          "VolumePools_Update_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "tags": [
          "VolumePools"
        ],
        "operationId": "VolumePools_Delete",
        "description": "Delete a VolumePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "volumePool",
            "in": "path",
            "required": true,
            "description": "Name of the volume pool.",
            "minLength": 4,
            "maxLength": 20,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "VolumePools_Delete_MaximumSet_Gen": {
            "$ref": "./examples/VolumePools_Delete_MaximumSet_Gen.json"
          },
          "VolumePools_Delete_MinimumSet_Gen": {
            "$ref": "./examples/VolumePools_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true
      }
    },
    "LiftrBase.Ip": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "IP address."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port number.",
          "minimum": 1,
          "maximum": 65535
        }
      },
      "description": "IP/port pair.",
      "required": [
        "address"
      ]
    },
    "LiftrBase.MarketplaceDetails": {
      "type": "object",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Marketplace Subscription Id"
        },
        "offerDetails": {
          "$ref": "#/definitions/LiftrBase.OfferDetails",
          "description": "Offer details for the marketplace that is selected by the user"
        }
      },
      "description": "Marketplace details of a resource.",
      "required": [
        "subscriptionId",
        "offerDetails"
      ]
    },
    "LiftrBase.OfferDetails": {
      "type": "object",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "Publisher Id for the marketplace offer"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id for the marketplace offer"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id for the marketplace offer"
        },
        "planName": {
          "type": "string",
          "description": "Plan Name for the marketplace offer"
        },
        "termUnit": {
          "type": "string",
          "description": "Plan Display Name for the marketplace offer"
        },
        "termId": {
          "type": "string",
          "description": "Plan Display Name for the marketplace offer"
        }
      },
      "description": "Offer details for the marketplace that is selected by the user",
      "required": [
        "publisherId",
        "offerId",
        "planId"
      ]
    },
    "LiftrBase.Storage.AzureVmwareService": {
      "type": "object",
      "properties": {
        "vasaProviderUsername": {
          "type": "string",
          "description": "VASA Provider user name.",
          "readOnly": true
        },
        "vasaProviderUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "x-typespec-name": "string[]",
          "description": "VASA Provider URL.",
          "readOnly": true
        },
        "vasaIscsiEndpoints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LiftrBase.Storage.VasaIscsiEndpoint"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "LiftrBase.Storage.VasaIscsiEndpoint[]",
          "description": "Array of iSCSI endpoint and IQN.",
          "readOnly": true
        },
        "vasaProviderPassword": {
          "type": "string",
          "description": "Password for VASA service login.",
          "format": "password",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "update",
            "create"
          ]
        }
      },
      "description": "Azure VmWare Service properties. VASA is vSphere Storage APIs for Storage Awareness.",
      "required": [
        "vasaProviderPassword"
      ]
    },
    "LiftrBase.Storage.AzureVmwareServiceUpdate": {
      "type": "object",
      "properties": {
        "vasaProviderPassword": {
          "type": "string",
          "description": "Password for VASA service login.",
          "format": "password",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "update",
            "create"
          ]
        }
      },
      "description": "Azure VmWare Service properties. VASA is vSphere Storage APIs for Storage Awareness."
    },
    "LiftrBase.Storage.BaseStorageResourceProperties": {
      "type": "object",
      "properties": {
        "marketplace": {
          "$ref": "#/definitions/LiftrBase.MarketplaceDetails",
          "description": "Marketplace details of the resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "subnetId": {
          "type": "string",
          "description": "Subnet Id for Vnet injection.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "availabilityZone": {
          "type": "string",
          "description": "Azure Availability Zone to create the Pool in.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisionedBandwidth": {
          "type": "integer",
          "format": "int64",
          "description": "Bandwidth provisioned by customer in bytes/second.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "iscsi": {
          "$ref": "#/definitions/LiftrBase.Storage.Iscsi",
          "description": "iSCSI standard.",
          "readOnly": true
        },
        "avs": {
          "$ref": "#/definitions/LiftrBase.Storage.AzureVmwareService",
          "description": "Azure VmWare Service Properties.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "Base storage resource properties that can be extended for storage arm resources.",
      "required": [
        "marketplace",
        "user",
        "subnetId"
      ]
    },
    "LiftrBase.Storage.Iscsi": {
      "type": "object",
      "properties": {
        "ips": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LiftrBase.Ip"
          },
          "x-ms-identifiers": [],
          "x-typespec-name": "LiftrBase.Ip[]",
          "description": "iSCSI IP/port pairs used for establishing connections and exchanging data.",
          "readOnly": true
        }
      },
      "description": "iSCSI is a storage networking standard."
    },
    "LiftrBase.Storage.VasaIscsiEndpoint": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "description": "iSCSI IP address."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "iSCSI TCP port."
        },
        "iqn": {
          "type": "string",
          "description": "iSCSI Qualified Name."
        }
      },
      "description": "Describes iSCSI endpoint and IQN.",
      "required": [
        "address",
        "port",
        "iqn"
      ]
    },
    "LiftrBase.UserDetails": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "User first name."
        },
        "lastName": {
          "type": "string",
          "description": "User last name."
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "User email address."
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        }
      },
      "description": "Details of the User.",
      "required": [
        "firstName",
        "lastName",
        "emailAddress"
      ]
    },
    "LiftrBase.UserDetailsUpdate": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "User first name."
        },
        "lastName": {
          "type": "string",
          "description": "User last name."
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "User email address."
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        }
      },
      "description": "Details of the User."
    },
    "LiftrBase.email": {
      "type": "string",
      "description": "Reusable representation of an email address.",
      "pattern": "^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z]{2,}$"
    },
    "Versions": {
      "type": "string",
      "description": "API versions of PureStorage.Block",
      "enum": [
        "2023-06-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v1_preview",
            "value": "2023-06-01-preview",
            "description": "Version 1 preview."
          }
        ]
      }
    },
    "VolumePool": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LiftrBase.Storage.BaseStorageResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "VolumePool resource.",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "VolumePoolListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VolumePool"
          },
          "x-typespec-name": "VolumePool[]",
          "description": "The VolumePool items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a VolumePool list operation.",
      "required": [
        "value"
      ]
    },
    "VolumePoolUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/VolumePoolUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the VolumePool."
    },
    "VolumePoolUpdateProperties": {
      "type": "object",
      "properties": {
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetailsUpdate",
          "description": "Details of the user."
        },
        "provisionedBandwidth": {
          "type": "integer",
          "format": "int64",
          "description": "Bandwidth provisioned by customer in bytes/second.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "avs": {
          "$ref": "#/definitions/LiftrBase.Storage.AzureVmwareServiceUpdate",
          "description": "Azure VmWare Service Properties.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "description": "The updatable properties of the VolumePool."
    }
  },
  "parameters": {}
}
