{
  "swagger": "2.0",
  "info": {
    "title": "PureStorage.Block",
    "version": "2023-06-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "StoragePools"
    }
  ],
  "paths": {
    "/providers/PureStorage.Block/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PureStorage.Block/storagePools": {
      "get": {
        "operationId": "StoragePools_ListBySubscription",
        "tags": [
          "StoragePools"
        ],
        "description": "List StoragePool resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StoragePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "StoragePools_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/StoragePools_ListBySubscription_MaximumSet_Gen.json"
          },
          "StoragePools_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/StoragePools_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PureStorage.Block/storagePools": {
      "get": {
        "operationId": "StoragePools_ListByResourceGroup",
        "tags": [
          "StoragePools"
        ],
        "description": "List StoragePool resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StoragePoolListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "StoragePools_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/StoragePools_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "StoragePools_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/StoragePools_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PureStorage.Block/storagePools/{storagePool}": {
      "get": {
        "operationId": "StoragePools_Get",
        "tags": [
          "StoragePools"
        ],
        "description": "Get a StoragePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storagePool",
            "in": "path",
            "description": "Name of the storage pool.",
            "required": true,
            "type": "string",
            "minLength": 4,
            "maxLength": 20
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StoragePool"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "StoragePools_Get_MaximumSet_Gen": {
            "$ref": "./examples/StoragePools_Get_MaximumSet_Gen.json"
          },
          "StoragePools_Get_MinimumSet_Gen": {
            "$ref": "./examples/StoragePools_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "StoragePools_Create",
        "tags": [
          "StoragePools"
        ],
        "description": "Create a StoragePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storagePool",
            "in": "path",
            "description": "Name of the storage pool.",
            "required": true,
            "type": "string",
            "minLength": 4,
            "maxLength": 20
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StoragePool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'StoragePool' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/StoragePool"
            }
          },
          "201": {
            "description": "Resource 'StoragePool' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/StoragePool"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "StoragePools_Create_MaximumSet_Gen": {
            "$ref": "./examples/StoragePools_Create_MaximumSet_Gen.json"
          },
          "StoragePools_Create_MinimumSet_Gen": {
            "$ref": "./examples/StoragePools_Create_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "StoragePools_Update",
        "tags": [
          "StoragePools"
        ],
        "description": "Update a StoragePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storagePool",
            "in": "path",
            "description": "Name of the storage pool.",
            "required": true,
            "type": "string",
            "minLength": 4,
            "maxLength": 20
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StoragePoolUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StoragePool"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "StoragePools_Update_MaximumSet_Gen": {
            "$ref": "./examples/StoragePools_Update_MaximumSet_Gen.json"
          },
          "StoragePools_Update_MinimumSet_Gen": {
            "$ref": "./examples/StoragePools_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "StoragePools_Delete",
        "tags": [
          "StoragePools"
        ],
        "description": "Delete a StoragePool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "storagePool",
            "in": "path",
            "description": "Name of the storage pool.",
            "required": true,
            "type": "string",
            "minLength": 4,
            "maxLength": 20
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "StoragePools_Delete_MaximumSet_Gen": {
            "$ref": "./examples/StoragePools_Delete_MaximumSet_Gen.json"
          },
          "StoragePools_Delete_MinimumSet_Gen": {
            "$ref": "./examples/StoragePools_Delete_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      }
    },
    "LiftrBase.Ip": {
      "type": "object",
      "description": "IP/port pair.",
      "properties": {
        "address": {
          "type": "string",
          "description": "IP address."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port number.",
          "minimum": 1,
          "maximum": 65535
        }
      },
      "required": [
        "address"
      ]
    },
    "LiftrBase.MarketplaceDetails": {
      "type": "object",
      "description": "Marketplace details of a resource.",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Marketplace Subscription Id"
        },
        "offerDetails": {
          "$ref": "#/definitions/LiftrBase.OfferDetails",
          "description": "Offer details for the marketplace that is selected by the user"
        }
      },
      "required": [
        "subscriptionId",
        "offerDetails"
      ]
    },
    "LiftrBase.OfferDetails": {
      "type": "object",
      "description": "Offer details for the marketplace that is selected by the user",
      "properties": {
        "publisherId": {
          "type": "string",
          "description": "Publisher Id for the marketplace offer"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id for the marketplace offer"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id for the marketplace offer"
        },
        "planName": {
          "type": "string",
          "description": "Plan Name for the marketplace offer"
        },
        "termUnit": {
          "type": "string",
          "description": "Plan Display Name for the marketplace offer"
        },
        "termId": {
          "type": "string",
          "description": "Plan Display Name for the marketplace offer"
        }
      },
      "required": [
        "publisherId",
        "offerId",
        "planId"
      ]
    },
    "LiftrBase.Storage.AzureVmwareService": {
      "type": "object",
      "description": "Azure VmWare Service properties. VASA is vSphere Storage APIs for Storage Awareness.",
      "properties": {
        "vasaProviderUsername": {
          "type": "string",
          "description": "VASA Provider user name.",
          "readOnly": true
        },
        "vasaProviderUrls": {
          "type": "array",
          "description": "VASA Provider URL.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "vasaIscsiEndpoints": {
          "type": "array",
          "description": "Array of iSCSI endpoint and IQN.",
          "items": {
            "$ref": "#/definitions/LiftrBase.Storage.VasaIscsiEndpoint"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "vasaProviderPassword": {
          "type": "string",
          "format": "password",
          "description": "Password for VASA service login.",
          "x-ms-mutability": [
            "update",
            "create"
          ],
          "x-ms-secret": true
        }
      },
      "required": [
        "vasaProviderPassword"
      ]
    },
    "LiftrBase.Storage.AzureVmwareServiceUpdate": {
      "type": "object",
      "description": "Azure VmWare Service properties. VASA is vSphere Storage APIs for Storage Awareness.",
      "properties": {
        "vasaProviderPassword": {
          "type": "string",
          "format": "password",
          "description": "Password for VASA service login.",
          "x-ms-mutability": [
            "update",
            "create"
          ],
          "x-ms-secret": true
        }
      }
    },
    "LiftrBase.Storage.BaseStorageResourceProperties": {
      "type": "object",
      "description": "Base storage resource properties that can be extended for storage arm resources.",
      "properties": {
        "marketplace": {
          "$ref": "#/definitions/LiftrBase.MarketplaceDetails",
          "description": "Marketplace details of the resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetails",
          "description": "Details of the user."
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "subnetId": {
          "type": "string",
          "description": "Subnet Id for Vnet injection.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "availabilityZone": {
          "type": "string",
          "description": "Azure Availability Zone to create the Pool in.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisionedBandwidth": {
          "type": "integer",
          "format": "int64",
          "description": "Bandwidth provisioned by customer in bytes/second.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "iscsi": {
          "$ref": "#/definitions/LiftrBase.Storage.Iscsi",
          "description": "iSCSI standard.",
          "readOnly": true
        },
        "avs": {
          "$ref": "#/definitions/LiftrBase.Storage.AzureVmwareService",
          "description": "Azure VmWare Service Properties.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "marketplace",
        "user",
        "subnetId"
      ]
    },
    "LiftrBase.Storage.Iscsi": {
      "type": "object",
      "description": "iSCSI is a storage networking standard.",
      "properties": {
        "ips": {
          "type": "array",
          "description": "iSCSI IP/port pairs used for establishing connections and exchanging data.",
          "items": {
            "$ref": "#/definitions/LiftrBase.Ip"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "LiftrBase.Storage.VasaIscsiEndpoint": {
      "type": "object",
      "description": "Describes iSCSI endpoint and IQN.",
      "properties": {
        "address": {
          "type": "string",
          "description": "iSCSI IP address."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "iSCSI TCP port."
        },
        "iqn": {
          "type": "string",
          "description": "iSCSI Qualified Name."
        }
      },
      "required": [
        "address",
        "port",
        "iqn"
      ]
    },
    "LiftrBase.UserDetails": {
      "type": "object",
      "description": "Details of the User.",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "User first name."
        },
        "lastName": {
          "type": "string",
          "description": "User last name."
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "User email address."
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        }
      },
      "required": [
        "firstName",
        "lastName",
        "emailAddress"
      ]
    },
    "LiftrBase.UserDetailsUpdate": {
      "type": "object",
      "description": "Details of the User.",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "User first name."
        },
        "lastName": {
          "type": "string",
          "description": "User last name."
        },
        "emailAddress": {
          "$ref": "#/definitions/LiftrBase.email",
          "description": "User email address."
        },
        "upn": {
          "type": "string",
          "description": "User's principal name"
        },
        "phoneNumber": {
          "type": "string",
          "description": "User's phone number"
        }
      }
    },
    "LiftrBase.email": {
      "type": "string",
      "description": "Reusable representation of an email address.",
      "pattern": "^[A-Za-z0-9._%+-]+@(?:[A-Za-z0-9-]+\\.)+[A-Za-z]{2,}$"
    },
    "StoragePool": {
      "type": "object",
      "description": "StoragePool resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LiftrBase.Storage.BaseStorageResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "StoragePoolListResult": {
      "type": "object",
      "description": "The response of a StoragePool list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The StoragePool items on this page",
          "items": {
            "$ref": "#/definitions/StoragePool"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "StoragePoolUpdate": {
      "type": "object",
      "description": "The type used for update operations of the StoragePool.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/StoragePoolUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "StoragePoolUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the StoragePool.",
      "properties": {
        "user": {
          "$ref": "#/definitions/LiftrBase.UserDetailsUpdate",
          "description": "Details of the user."
        },
        "provisionedBandwidth": {
          "type": "integer",
          "format": "int64",
          "description": "Bandwidth provisioned by customer in bytes/second.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "avs": {
          "$ref": "#/definitions/LiftrBase.Storage.AzureVmwareServiceUpdate",
          "description": "Azure VmWare Service Properties.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "API versions of PureStorage.Block",
      "enum": [
        "2023-06-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v1_preview",
            "value": "2023-06-01-preview",
            "description": "Version 1 preview."
          }
        ]
      }
    }
  },
  "parameters": {}
}
