{
  "swagger": "2.0",
  "info": {
    "title": "Domain Services Resource Provider",
    "description": "The AAD Domain Services API.",
    "version": "2020-01-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Aad/operations": {
      "get": {
        "tags": [
          "OuContainer"
        ],
        "description": "Lists all the available OuContainer operations.",
        "operationId": "OuContainerOperations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          },
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/OperationEntityListResult"
            }
          }
        },
        "x-ms-examples": {
          "Get Operations": {
            "$ref": "./examples/GetOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Aad/domainServices/{domainServiceName}/ouContainer": {
      "get": {
        "tags": [
          "OuContainer"
        ],
        "operationId": "OuContainer_List",
        "summary": "List of OuContainers in DomainService instance",
        "description": "The List of OuContainers in DomainService instance.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DomainServiceNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          },
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/OuContainerListResult"
            }
          }
        },
        "x-ms-examples": {
          "List of OuContainers": {
            "$ref": "./examples/ListOuContainers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Aad/domainServices/{domainServiceName}/ouContainer/{ouContainerName}": {
      "get": {
        "tags": [
          "OuContainer"
        ],
        "operationId": "OuContainer_Get",
        "summary": "Get particular OuContainer in DomainService instance",
        "description": "Get OuContainer in DomainService instance.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DomainServiceNameParameter"
          },
          {
            "$ref": "#/parameters/OuContainerNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          },
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/OuContainer"
            }
          }
        },
        "x-ms-examples": {
          "List of OuContainers": {
            "$ref": "./examples/GetOuContainer.json"
          }
        }
      },
      "put": {
        "tags": [
          "OuContainer"
        ],
        "operationId": "OuContainer_Create",
        "summary": "Create OuContainer",
        "description": "The Create OuContainer operation creates a new OuContainer under the specified Domain Service instance.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DomainServiceNameParameter"
          },
          {
            "$ref": "#/parameters/OuContainerNameParameter"
          },
          {
            "name": "containerAccount",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerAccount"
            },
            "description": "Container Account Description."
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          },
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/OuContainer"
            }
          },
          "201": {
            "description": "HTTP 201 (Created) if the operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OuContainer"
            }
          },
          "202": {
            "description": "HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/OuContainer"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create Domain Service": {
            "$ref": "./examples/CreateOuContainer.json"
          }
        }
      },
      "delete": {
        "tags": [
          "OuContainer"
        ],
        "operationId": "OuContainer_Delete",
        "summary": "Delete OuContainer",
        "description": "The Delete OuContainer operation deletes specified OuContainer.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DomainServiceNameParameter"
          },
          {
            "$ref": "#/parameters/OuContainerNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          },
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful."
          },
          "202": {
            "description": "HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously."
          },
          "204": {
            "description": "HTTP 204 (Not Content) should be used if the resource does not exist and the request is well formed."
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete OuContainer": {
            "$ref": "./examples/DeleteOuContainer.json"
          }
        }
      },
      "patch": {
        "tags": [
          "OuContainer"
        ],
        "operationId": "OuContainer_Update",
        "summary": "Update OuContainer (PATCH Resource)",
        "description": "The Update OuContainer operation can be used to update the existing OuContainers.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DomainServiceNameParameter"
          },
          {
            "$ref": "#/parameters/OuContainerNameParameter"
          },
          {
            "name": "containerAccount",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerAccount"
            },
            "description": "Container Account Description."
          }
        ],
        "responses": {
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          },
          "200": {
            "description": "HTTP 200 (OK) if the operation was successful.",
            "schema": {
              "$ref": "#/definitions/OuContainer"
            }
          },
          "202": {
            "description": "HTTP 202 (Accepted) if the operation was successfully started and will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/OuContainer"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update Domain Service": {
            "$ref": "./examples/UpdateOuContainer.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "etag": {
          "type": "string",
          "description": "Resource etag"
        }
      },
      "x-ms-azure-resource": true
    },
    "OuContainerListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OuContainer"
          },
          "description": "The list of OuContainer."
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      },
      "description": "The response from the List OuContainer operation."
    },
    "OuContainer": {
      "description": "Resource for OuContainer.",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OuContainerProperties",
          "description": "OuContainer properties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "OuContainerProperties": {
      "description": "Properties of the OuContainer.",
      "properties": {
        "tenantId": {
          "readOnly": true,
          "type": "string",
          "description": "Azure Active Directory tenant id"
        },
        "domainName": {
          "readOnly": true,
          "type": "string",
          "description": "The domain name of Domain Services."
        },
        "deploymentId": {
          "readOnly": true,
          "type": "string",
          "description": "The Deployment id"
        },
        "containerId": {
          "readOnly": true,
          "type": "string",
          "description": "The OuContainer name"
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContainerAccount",
            "description": "Container Account"
          },
          "description": "The list of container accounts"
        },
        "serviceStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Status of OuContainer instance"
        },
        "distinguishedName": {
          "readOnly": true,
          "type": "string",
          "description": "Distinguished Name of OuContainer instance"
        },
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response."
        }
      }
    },
    "ContainerAccount": {
      "description": "Container Account Description",
      "properties": {
        "accountName": {
          "type": "string",
          "description": "The account name"
        },
        "spn": {
          "type": "string",
          "description": "The account spn"
        },
        "password": {
          "type": "string",
          "description": "The account password"
        }
      }
    },
    "OperationEntityListResult": {
      "description": "The list of domain service operation response.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of operations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationEntity"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The continuation token for the next page of results.",
          "readOnly": true
        }
      }
    },
    "OperationEntity": {
      "description": "The operation supported by Domain Services.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}.",
          "type": "string"
        },
        "display": {
          "$ref": "#/definitions/OperationDisplayInfo",
          "description": "The operation supported by Domain Services."
        },
        "origin": {
          "description": "The origin of the operation.",
          "type": "string"
        }
      }
    },
    "OperationDisplayInfo": {
      "description": "The operation supported by Domain Services.",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the operation.",
          "type": "string"
        },
        "operation": {
          "description": "The action that users can perform, based on their permission level.",
          "type": "string"
        },
        "provider": {
          "description": "Service provider: Domain Services.",
          "type": "string"
        },
        "resource": {
          "description": "Resource on which the operation is performed.",
          "type": "string"
        }
      }
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "description": "An error response from the Domain Services.",
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the Domain Services."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Domain Services."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group within the user's subscription. The name is case insensitive.",
      "pattern": "^[-\\w\\._\\(\\)]+$",
      "minLength": 1,
      "maxLength": 90,
      "x-ms-parameter-location": "method"
    },
    "DomainServiceNameParameter": {
      "name": "domainServiceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the domain service.",
      "x-ms-parameter-location": "method"
    },
    "OuContainerNameParameter": {
      "name": "ouContainerName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the OuContainer.",
      "x-ms-parameter-location": "method"
    }
  }
}
