{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights client for work item configurations for a component.",
    "version": "2020-10-20"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/WorkItemConfigs": {
      "get": {
        "description": "Gets the list work item configurations that exist for the application",
        "operationId": "WorkItemConfigurations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemConfigurationsListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkItemConfigurationError"
            }
          }
        },
        "x-ms-examples": {
          "WorkItemConfigurationsList": {
            "$ref": "./examples/WorkItemConfigsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      },
      "post": {
        "description": "Create a work item configuration for an Application Insights component.",
        "operationId": "WorkItemConfigurations_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "name": "WorkItemConfigurationProperties",
            "description": "Properties that need to be specified to create a work item configuration of a Application Insights component.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemCreateConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An object containing the work item configuration definition created by this PUT call.",
            "schema": {
              "$ref": "#/definitions/WorkItemConfiguration"
            }
          }
        },
        "x-ms-examples": {
          "WorkItemConfigurationsCreate": {
            "$ref": "./examples/WorkItemConfigCreate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/DefaultWorkItemConfig": {
      "get": {
        "description": "Gets default work item configurations that exist for the application",
        "operationId": "WorkItemConfigurations_GetDefault",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemConfiguration"
            }
          }
        },
        "x-ms-examples": {
          "WorkItemConfigurationsGetDefault": {
            "$ref": "./examples/WorkItemConfigDefaultGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Insights/components/{resourceName}/WorkItemConfigs/{workItemConfigId}": {
      "delete": {
        "description": "Delete a work item configuration of an Application Insights component.",
        "operationId": "WorkItemConfigurations_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/WorkItemConfigIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The work item configuration that was successfully deleted."
          }
        },
        "x-ms-examples": {
          "WorkItemConfigurationDelete": {
            "$ref": "./examples/WorkItemConfigDelete.json"
          }
        }
      },
      "get": {
        "description": "Gets specified work item configuration for an Application Insights component.",
        "operationId": "WorkItemConfigurations_GetItem",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/WorkItemConfigIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/WorkItemConfiguration"
            }
          }
        },
        "x-ms-examples": {
          "WorkItemConfigurationsGetDefault": {
            "$ref": "./examples/WorkItemConfigGet.json"
          }
        }
      },
      "patch": {
        "description": "Update a work item configuration for an Application Insights component.",
        "operationId": "WorkItemConfigurations_UpdateItem",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/WorkItemConfigIdParameter"
          },
          {
            "name": "WorkItemConfigurationProperties",
            "description": "Properties that need to be specified to update a work item configuration for this Application Insights component.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkItemCreateConfiguration"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation indicating the config updated by this PATCH call.",
            "schema": {
              "$ref": "#/definitions/WorkItemConfiguration"
            }
          }
        },
        "x-ms-examples": {
          "WorkItemConfigurationsCreate": {
            "$ref": "./examples/WorkItemConfigUpdate.json"
          }
        }
      }
    }
  },
  "definitions": {
    "WorkItemConfiguration": {
      "type": "object",
      "description": "Work item configuration associated with an application insights resource.",
      "properties": {
        "ConnectorId": {
          "type": "string",
          "description": "Connector identifier where work item is created"
        },
        "ConfigDisplayName": {
          "type": "string",
          "description": "Configuration friendly name"
        },
        "IsDefault": {
          "type": "boolean",
          "description": "Boolean value indicating whether configuration is default"
        },
        "Id": {
          "type": "string",
          "description": "Unique Id for work item"
        },
        "ConfigProperties": {
          "type": "string",
          "description": "Serialized JSON object for detailed properties"
        }
      }
    },
    "WorkItemConfigurationsListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/WorkItemConfiguration"
          },
          "description": "An array of work item configurations."
        }
      },
      "description": "Work item configuration list result."
    },
    "WorkItemCreateConfiguration": {
      "type": "object",
      "description": "Work item configuration creation payload",
      "properties": {
        "ConnectorId": {
          "type": "string",
          "description": "Unique connector id"
        },
        "ConnectorDataConfiguration": {
          "type": "string",
          "description": "Serialized JSON object for detailed properties"
        },
        "ValidateOnly": {
          "type": "boolean",
          "description": "Boolean indicating validate only"
        },
        "WorkItemProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom work item properties"
        }
      }
    },
    "InnerError": {
      "type": "object",
      "description": "Inner error",
      "properties": {
        "diagnosticcontext": {
          "type": "string",
          "description": "Provides correlation for request"
        },
        "time": {
          "type": "string",
          "format": "date-time",
          "description": "Request time"
        }
      }
    },
    "WorkItemConfigurationError": {
      "type": "object",
      "description": "Error associated with trying to get work item configuration or configurations",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error detail code and explanation"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "innererror": {
          "$ref": "#/definitions/InnerError"
        }
      }
    }
  },
  "parameters": {
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights component resource.",
      "x-ms-parameter-location": "method"
    },
    "WorkItemConfigIdParameter": {
      "name": "workItemConfigId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The unique work item configuration Id. This can be either friendly name of connector as defined in connector configuration",
      "x-ms-parameter-location": "method"
    }
  }
}
