{
  "swagger": "2.0",
  "info": {
    "title": "ApplicationInsightsManagementClient",
    "description": "Azure Application Insights workbook type.",
    "version": "2020-10-20"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/workbooks": {
      "get": {
        "description": "Get all Workbooks defined within a specified resource group and category.",
        "operationId": "Workbooks_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/CategoryParameter"
          },
          {
            "$ref": "#/parameters/TagsParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "#/parameters/CanFetchWorkbookContentParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A list containing 0 or more workbook definitions.",
            "schema": {
              "$ref": "#/definitions/WorkbooksListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "WorkbooksList": {
            "$ref": "./examples/WorkbooksManagedList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/workbooks/{resourceName}": {
      "get": {
        "description": "Get a single workbook by its resourceName.",
        "operationId": "Workbooks_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "A workbook definition.",
            "schema": {
              "$ref": "#/definitions/Workbook"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookGet": {
            "$ref": "./examples/WorkbookManagedGet.json"
          }
        }
      },
      "delete": {
        "description": "Delete a workbook.",
        "operationId": "Workbooks_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "201": {
            "description": "The workbook has been successfully deleted."
          },
          "204": {
            "description": "The resource doesn't exist."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookDelete": {
            "$ref": "../2015-05-01/examples/WorkbookDelete.json"
          }
        }
      },
      "put": {
        "description": "Create a new workbook.",
        "operationId": "Workbooks_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "workbookProperties",
            "description": "Properties that need to be specified to create a new workbook.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workbook"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The newly created workbook.",
            "schema": {
              "$ref": "#/definitions/Workbook"
            }
          },
          "201": {
            "description": "The newly created workbook.",
            "schema": {
              "$ref": "#/definitions/Workbook"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookManagedAdd": {
            "$ref": "./examples/WorkbookManagedAdd.json"
          },
          "WorkbookAdd": {
            "$ref": "./examples/WorkbookAdd.json"
          }
        }
      },
      "patch": {
        "description": "Updates a workbook that has already been added.",
        "operationId": "Workbooks_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkbookResourceNameParameter"
          },
          {
            "$ref": "#/parameters/SourceIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v1/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "WorkbookUpdateParameters",
            "description": "Properties that need to be specified to create a new workbook.",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/WorkbookUpdateParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The workbook definition updated.",
            "schema": {
              "$ref": "#/definitions/Workbook"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/WorkbookError"
            }
          }
        },
        "x-ms-examples": {
          "WorkbookUpdate": {
            "$ref": "./examples/WorkbookManagedUpdate.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "properties": {
        "identity": {
          "description": "Identity used for BYOS",
          "$ref": "#/definitions/ManagedIdentity"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name. This is GUID value. The display name should be assigned within properties field."
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "kind": {
          "type": "string",
          "description": "The kind of workbook. Choices are user and shared.",
          "enum": [
            "user",
            "shared"
          ],
          "x-ms-enum": {
            "name": "SharedTypeKind",
            "modelAsString": true
          }
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true,
      "description": "An azure resource object"
    },
    "WorkbooksListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Workbook"
          },
          "description": "An array of workbooks."
        }
      },
      "description": "Workbook list result."
    },
    "Workbook": {
      "description": "An Application Insights workbook definition.",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a workbook for an Azure resource.",
          "$ref": "#/definitions/WorkbookProperties"
        }
      }
    },
    "WorkbookProperties": {
      "description": "Properties that contain a workbook.",
      "required": [
        "displayName",
        "category",
        "serializedData"
      ],
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user-defined name (display name) of the workbook."
        },
        "serializedData": {
          "type": "string",
          "description": "Configuration of this particular workbook. Configuration data is a string containing valid JSON"
        },
        "timeModified": {
          "type": "string",
          "description": "Date and time in UTC of the last modification that was made to this workbook definition.",
          "readOnly": true
        },
        "category": {
          "type": "string",
          "description": "Workbook category, as defined by the user at creation time."
        },
        "version": {
          "type": "string",
          "description": "Workbook version"
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of 0 or more tags that are associated with this workbook definition"
        },
        "userId": {
          "type": "string",
          "description": "Unique user id of the specific user that owns this workbook.",
          "readOnly": true
        },
        "sourceId": {
          "type": "string",
          "description": "ResourceId for a source resource."
        },
        "storageUri": {
          "type": "string",
          "description": "BYOS Storage Account URI"
        }
      }
    },
    "WorkbookUpdateParameters": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of workbook. Choices are user and shared.",
          "enum": [
            "user",
            "shared"
          ],
          "x-ms-enum": {
            "name": "SharedTypeKind",
            "modelAsString": true
          }
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Metadata describing a workbook for an Azure resource.",
          "$ref": "#/definitions/WorkbookPropertiesUpdateParameters"
        }
      },
      "description": "The parameters that can be provided when updating workbook properties properties."
    },
    "WorkbookPropertiesUpdateParameters": {
      "description": "Properties that contain a workbook for PATCH operation.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The user-defined name (display name) of the workbook."
        },
        "serializedData": {
          "type": "string",
          "description": "Configuration of this particular workbook. Configuration data is a string containing valid JSON"
        },
        "category": {
          "type": "string",
          "description": "Workbook category, as defined by the user at creation time."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of 0 or more tags that are associated with this workbook definition"
        }
      }
    },
    "ErrorFieldContract": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Property level error code."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of property-level error."
        },
        "target": {
          "type": "string",
          "description": "Property name."
        }
      },
      "description": "Error Field contract."
    },
    "WorkbookError": {
      "properties": {
        "code": {
          "type": "string",
          "description": "Service-defined error code. This code serves as a sub-status for the HTTP error code specified in the response."
        },
        "message": {
          "type": "string",
          "description": "Human-readable representation of the error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorFieldContract"
          },
          "description": "The list of invalid fields send in request, in case of validation error."
        }
      },
      "description": "Error message body that will indicate why the operation failed."
    },
    "ManagedIdentity": {
      "description": "Customer Managed Identity",
      "properties": {
        "type": {
          "type": "string",
          "description": "identity type: \"systemAssigned\", \"userAssigned\", \"systemAssigned,userAssigned\", or \"None\""
        },
        "principalId": {
          "type": "string",
          "description": "principalId used for the managed identity"
        },
        "tenantId": {
          "type": "string",
          "description": "tenantId used for the managed identity"
        }
      }
    }
  },
  "parameters": {
    "WorkbookResourceNameParameter": {
      "name": "resourceName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Application Insights component resource.",
      "x-ms-parameter-location": "method"
    },
    "CategoryParameter": {
      "name": "category",
      "in": "query",
      "required": true,
      "type": "string",
      "enum": [
        "workbook",
        "TSG",
        "performance",
        "retention"
      ],
      "x-ms-enum": {
        "name": "CategoryType",
        "modelAsString": true
      },
      "description": "Category of workbook to return.",
      "x-ms-parameter-location": "method"
    },
    "SourceIdParameter": {
      "name": "sourceId",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Azure Resource Id that will fetch all related workbooks.",
      "x-ms-parameter-location": "method"
    },
    "CanFetchWorkbookContentParameter": {
      "name": "canFetchContent",
      "in": "query",
      "required": false,
      "type": "boolean",
      "description": "Flag indicating whether or not to return the full content for each applicable workbook. If false, only return summary content for workbooks.",
      "x-ms-parameter-location": "method"
    },
    "TagsParameter": {
      "name": "tags",
      "in": "query",
      "required": false,
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "csv",
      "description": "Tags presents on each workbook returned.",
      "x-ms-parameter-location": "method"
    }
  }
}