{
  "swagger": "2.0",
  "info": {
    "title": "Hardware Resource Provider",
    "version": "2026-02-26-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Orders"
    },
    {
      "name": "OrderPreviewInterface"
    },
    {
      "name": "ReturnOrders"
    },
    {
      "name": "ReturnPreviewInterface"
    }
  ],
  "paths": {
    "/providers/Microsoft.Hardware/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Hardware/orderPreview": {
      "post": {
        "operationId": "OrderPreviewInterface_OrderPreview",
        "tags": [
          "OrderPreviewInterface"
        ],
        "description": "Enables preview of hardware order for passed order lines by populating fees, taxes, shipping estimates.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bodyRoot",
            "in": "body",
            "description": "The orderPreview request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OrderPreviewInterface_OrderPreview": {
            "$ref": "./examples/OrderPreviewInterface_OrderPreview.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Hardware/orders": {
      "get": {
        "operationId": "Orders_ListBySubscription",
        "tags": [
          "Orders"
        ],
        "description": "List Order resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Orders_ListBySubscription": {
            "$ref": "./examples/Orders_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Hardware/returnPreview": {
      "post": {
        "operationId": "ReturnPreviewInterface_ReturnPreview",
        "tags": [
          "ReturnPreviewInterface"
        ],
        "description": "Preview a return order before placing it",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "bodyRoot",
            "in": "body",
            "description": "Return order details to preview",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReturnOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ReturnOrder"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReturnPreviewInterface_ReturnPreview": {
            "$ref": "./examples/ReturnPreviewInterface_ReturnPreview.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Hardware/returns": {
      "get": {
        "operationId": "ReturnOrders_ListBySubscription",
        "tags": [
          "ReturnOrders"
        ],
        "description": "List ReturnOrder resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReturnOrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReturnOrders_ListBySubscription": {
            "$ref": "./examples/ReturnOrders_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Hardware/orders": {
      "get": {
        "operationId": "Orders_ListByResourceGroup",
        "tags": [
          "Orders"
        ],
        "description": "List Order resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Orders_ListByResourceGroup": {
            "$ref": "./examples/Orders_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Hardware/orders/{name}": {
      "get": {
        "operationId": "Orders_Get",
        "tags": [
          "Orders"
        ],
        "description": "Get a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Order",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Orders_Get": {
            "$ref": "./examples/Orders_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Orders_Create",
        "tags": [
          "Orders"
        ],
        "description": "Create a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Order",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Order"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Order' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "201": {
            "description": "Resource 'Order' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Order"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Orders_Create": {
            "$ref": "./examples/Orders_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Orders_Update",
        "tags": [
          "Orders"
        ],
        "description": "Update a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Order",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OrderUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Order"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Orders_Update": {
            "$ref": "./examples/Orders_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Orders_Delete",
        "tags": [
          "Orders"
        ],
        "description": "Delete a Order",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the Order",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Orders_Delete": {
            "$ref": "./examples/Orders_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Hardware/returns": {
      "get": {
        "operationId": "ReturnOrders_ListByResourceGroup",
        "tags": [
          "ReturnOrders"
        ],
        "description": "List ReturnOrder resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReturnOrderListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReturnOrders_ListByResourceGroup": {
            "$ref": "./examples/ReturnOrders_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Hardware/returns/{name}": {
      "get": {
        "operationId": "ReturnOrders_Get",
        "tags": [
          "ReturnOrders"
        ],
        "description": "Get a ReturnOrder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the ReturnOrder",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReturnOrder"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReturnOrders_Get": {
            "$ref": "./examples/ReturnOrders_Get.json"
          }
        }
      },
      "put": {
        "operationId": "ReturnOrders_Create",
        "tags": [
          "ReturnOrders"
        ],
        "description": "Create a ReturnOrder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the ReturnOrder",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReturnOrder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ReturnOrder' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ReturnOrder"
            }
          },
          "201": {
            "description": "Resource 'ReturnOrder' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ReturnOrder"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReturnOrders_Create": {
            "$ref": "./examples/ReturnOrders_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "ReturnOrders_Update",
        "tags": [
          "ReturnOrders"
        ],
        "description": "Update a ReturnOrder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the ReturnOrder",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReturnOrderUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ReturnOrder"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReturnOrders_Update": {
            "$ref": "./examples/ReturnOrders_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "ReturnOrders_Delete",
        "tags": [
          "ReturnOrders"
        ],
        "description": "Delete a ReturnOrder",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "The name of the ReturnOrder",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReturnOrders_Delete": {
            "$ref": "./examples/ReturnOrders_Delete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "BillingState": {
      "type": "string",
      "description": "Billing State",
      "enum": [
        "Pending",
        "PendingCapture",
        "Captured",
        "CaptureFailed",
        "PendingRefund",
        "Refunded",
        "RefundFailed"
      ],
      "x-ms-enum": {
        "name": "BillingState",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "The default state, initialized or reset after a failed operation"
          },
          {
            "name": "PendingCapture",
            "value": "PendingCapture",
            "description": "The payment is pending capture."
          },
          {
            "name": "Captured",
            "value": "Captured",
            "description": "The payment has been captured successfully."
          },
          {
            "name": "CaptureFailed",
            "value": "CaptureFailed",
            "description": "The payment capture failed."
          },
          {
            "name": "PendingRefund",
            "value": "PendingRefund",
            "description": "The payment is pending a refund."
          },
          {
            "name": "Refunded",
            "value": "Refunded",
            "description": "The payment has been refunded."
          },
          {
            "name": "RefundFailed",
            "value": "RefundFailed",
            "description": "The payment refund failed."
          }
        ]
      }
    },
    "CustomerOrder": {
      "type": "object",
      "description": "Customer PurchaseOrder",
      "properties": {
        "id": {
          "type": "string",
          "description": "Customer PurchaseOrder Id"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer PurchaseOrder Date Time"
        }
      },
      "required": [
        "id",
        "createdDateTime"
      ]
    },
    "CustomerOrderUpdate": {
      "type": "object",
      "description": "Customer PurchaseOrder",
      "properties": {
        "id": {
          "type": "string",
          "description": "Customer PurchaseOrder Id"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Customer PurchaseOrder Date Time"
        }
      }
    },
    "Fee": {
      "type": "object",
      "description": "Fee model",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Fee charged"
        },
        "type": {
          "$ref": "#/definitions/FeeType",
          "description": "Fee type"
        }
      },
      "required": [
        "amount",
        "type"
      ]
    },
    "FeeType": {
      "type": "string",
      "description": "Fee type",
      "enum": [
        "Recycling"
      ],
      "x-ms-enum": {
        "name": "FeeType",
        "modelAsString": true,
        "values": [
          {
            "name": "Recycling",
            "value": "Recycling",
            "description": "Recycling fee"
          }
        ]
      }
    },
    "LineFulfillmentInstruction": {
      "type": "object",
      "description": "Order line fulfillment instructions",
      "properties": {
        "referenceDeviceLine": {
          "type": "integer",
          "format": "int64",
          "description": "Device line referred to by the warranty line."
        },
        "serialNumbers": {
          "type": "array",
          "description": "Serial Numbers",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Order": {
      "type": "object",
      "description": "A Hardware Resource Provider Order resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OrderProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OrderLine": {
      "type": "object",
      "description": "Order Line",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "Order lineId"
        },
        "status": {
          "$ref": "#/definitions/OrderLineStatus",
          "description": "Order line status",
          "readOnly": true
        },
        "billingState": {
          "$ref": "#/definitions/BillingState",
          "description": "Billing State",
          "readOnly": true
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Order line date",
          "readOnly": true
        },
        "quantity": {
          "$ref": "#/definitions/OrderLineQuantity",
          "description": "Order line quantity"
        },
        "product": {
          "$ref": "#/definitions/Product",
          "description": "order line Product"
        },
        "lineFulfillmentInstruction": {
          "$ref": "#/definitions/LineFulfillmentInstruction",
          "description": "Order line fulfillment instructions"
        },
        "price": {
          "$ref": "#/definitions/Price",
          "description": "line level Price"
        },
        "shipTo": {
          "$ref": "#/definitions/ShipTo",
          "description": "shipTo Address"
        },
        "shippingMethod": {
          "$ref": "#/definitions/ShippingMethod",
          "description": "Shipping Method"
        },
        "requestedDeliveryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Requested Delivery Date Time"
        },
        "cancellationReason": {
          "type": "string",
          "description": "Cancellation Reason"
        },
        "cancelledBy": {
          "type": "string",
          "description": "Cancelled By User details"
        },
        "estimatedDeliveryDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Estimated Deliver Date Time",
          "readOnly": true
        },
        "estimatedShippedDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "Estimated Shipped Date Time",
          "readOnly": true
        }
      },
      "required": [
        "id",
        "quantity",
        "product",
        "price",
        "shipTo"
      ]
    },
    "OrderLineQuantity": {
      "type": "object",
      "description": "Order line quantity",
      "properties": {
        "pending": {
          "type": "integer",
          "format": "int64",
          "description": "Order line pending quantity"
        },
        "inProgress": {
          "type": "integer",
          "format": "int64",
          "description": "Order line in-progress quantity",
          "readOnly": true
        },
        "fulfilled": {
          "type": "integer",
          "format": "int64",
          "description": "Order line fulfilled quantity",
          "readOnly": true
        },
        "pendingCancel": {
          "type": "integer",
          "format": "int64",
          "description": "Order line quantity pending cancellation"
        },
        "cancelled": {
          "type": "integer",
          "format": "int64",
          "description": "Order line cancelled quantity",
          "readOnly": true
        },
        "returned": {
          "type": "integer",
          "format": "int64",
          "description": "Order line returned quantity",
          "readOnly": true
        }
      },
      "required": [
        "pending"
      ]
    },
    "OrderLineStatus": {
      "type": "string",
      "description": "Order Line Status",
      "enum": [
        "Pending",
        "InProgress",
        "Fulfilled",
        "Cancelled",
        "Returned"
      ],
      "x-ms-enum": {
        "name": "OrderLineStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Order is pending"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Order is in-progress"
          },
          {
            "name": "Fulfilled",
            "value": "Fulfilled",
            "description": "Order is fulfilled"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Order is cancelled"
          },
          {
            "name": "Returned",
            "value": "Returned",
            "description": "Order is returned"
          }
        ]
      }
    },
    "OrderListResult": {
      "type": "object",
      "description": "The response of a Order list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Order items on this page",
          "items": {
            "$ref": "#/definitions/Order"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OrderProperties": {
      "type": "object",
      "description": "Forward Order",
      "properties": {
        "customerOrder": {
          "$ref": "#/definitions/CustomerOrder",
          "description": "Customer PurchaseOrder"
        },
        "action": {
          "type": "string",
          "description": "Type of action Pre-Fulfill/Fulfill",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/OrderStatus",
          "description": "Order status",
          "readOnly": true
        },
        "orderLines": {
          "type": "array",
          "description": "Order line details",
          "items": {
            "$ref": "#/definitions/OrderLine"
          },
          "x-ms-identifiers": [
            "id"
          ]
        },
        "currency": {
          "type": "string",
          "description": "Currency for the order"
        },
        "market": {
          "type": "string",
          "description": "Market - country code for Order"
        },
        "language": {
          "type": "string",
          "description": "Language - language code for Order"
        },
        "reservationId": {
          "type": "string",
          "description": "Reservation for order if applicable"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Order provisioning state",
          "readOnly": true
        }
      },
      "required": [
        "orderLines",
        "currency"
      ]
    },
    "OrderPropertiesUpdate": {
      "type": "object",
      "description": "Forward Order",
      "properties": {
        "customerOrder": {
          "$ref": "#/definitions/CustomerOrderUpdate",
          "description": "Customer PurchaseOrder"
        },
        "orderLines": {
          "type": "array",
          "description": "Order line details",
          "items": {
            "$ref": "#/definitions/OrderLine"
          },
          "x-ms-identifiers": [
            "id"
          ]
        },
        "currency": {
          "type": "string",
          "description": "Currency for the order"
        },
        "market": {
          "type": "string",
          "description": "Market - country code for Order"
        },
        "language": {
          "type": "string",
          "description": "Language - language code for Order"
        },
        "reservationId": {
          "type": "string",
          "description": "Reservation for order if applicable"
        }
      }
    },
    "OrderStatus": {
      "type": "string",
      "description": "Order Status",
      "enum": [
        "Pending",
        "Created",
        "Confirmed",
        "PartiallyConfirmed",
        "PartiallyShipped",
        "Shipped",
        "Returned",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "OrderStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Order is pending"
          },
          {
            "name": "Created",
            "value": "Created",
            "description": "Order is created"
          },
          {
            "name": "Confirmed",
            "value": "Confirmed",
            "description": "Order is confirmed"
          },
          {
            "name": "PartiallyConfirmed",
            "value": "PartiallyConfirmed",
            "description": "Order is PartiallyConfirmed"
          },
          {
            "name": "PartiallyShipped",
            "value": "PartiallyShipped",
            "description": "Order is partially shipped"
          },
          {
            "name": "Shipped",
            "value": "Shipped",
            "description": "Order is shipped"
          },
          {
            "name": "Returned",
            "value": "Returned",
            "description": "Order is returned"
          },
          {
            "name": "Cancelled",
            "value": "Cancelled",
            "description": "Order is cancelled"
          }
        ]
      }
    },
    "OrderUpdate": {
      "type": "object",
      "description": "A Hardware Resource Provider Order resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OrderPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Price": {
      "type": "object",
      "description": "Order line price",
      "properties": {
        "unitAmount": {
          "type": "number",
          "format": "double",
          "description": "Price per unit"
        },
        "shippingCost": {
          "type": "number",
          "format": "double",
          "description": "Shipping cost for the line"
        },
        "taxes": {
          "type": "array",
          "description": "Tax for this line",
          "items": {
            "$ref": "#/definitions/Tax"
          }
        },
        "fees": {
          "type": "array",
          "description": "Fees for this line",
          "items": {
            "$ref": "#/definitions/Fee"
          },
          "x-ms-identifiers": [
            "type"
          ]
        }
      },
      "required": [
        "unitAmount"
      ]
    },
    "Product": {
      "type": "object",
      "description": "Order line product",
      "properties": {
        "id": {
          "type": "string",
          "description": "ProductId"
        },
        "type": {
          "$ref": "#/definitions/ProductIdType",
          "description": "ProductId Type"
        },
        "bundleProductId": {
          "type": "string",
          "description": "Bundle Product Id"
        },
        "bundleInstanceId": {
          "type": "string",
          "description": "Bundle Instance Id"
        },
        "bundleSlotId": {
          "type": "integer",
          "format": "int64",
          "description": "Bundle Slot Id"
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "ProductIdType": {
      "type": "string",
      "description": "Product-Id type",
      "enum": [
        "UPN",
        "PSA",
        "FulfillmentProductId"
      ],
      "x-ms-enum": {
        "name": "ProductIdType",
        "modelAsString": true,
        "values": [
          {
            "name": "UPN",
            "value": "UPN",
            "description": "UPN in Big-Catalog"
          },
          {
            "name": "PSA",
            "value": "PSA",
            "description": "Product, SKU, Availability in Big-Catalog"
          },
          {
            "name": "FulfillmentProductId",
            "value": "FulfillmentProductId",
            "description": "MS product identifier (3x5 SKU)"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning State",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "ReturnExceptionCode": {
      "type": "string",
      "description": "Return Exception Codes",
      "enum": [
        "ExceptionResolved",
        "WrongProduct",
        "NoProduct",
        "NonMSFTProduct",
        "DamagedProduct",
        "Other"
      ],
      "x-ms-enum": {
        "name": "ReturnExceptionCode",
        "modelAsString": true,
        "values": [
          {
            "name": "ExceptionResolved",
            "value": "ExceptionResolved",
            "description": "The exception resolved"
          },
          {
            "name": "WrongProduct",
            "value": "WrongProduct",
            "description": "Wrong Product"
          },
          {
            "name": "NoProduct",
            "value": "NoProduct",
            "description": "No Product"
          },
          {
            "name": "NonMSFTProduct",
            "value": "NonMSFTProduct",
            "description": "The non Microsoft product"
          },
          {
            "name": "DamagedProduct",
            "value": "DamagedProduct",
            "description": "The damaged product"
          },
          {
            "name": "Other",
            "value": "Other",
            "description": "Other Exception Code"
          }
        ]
      }
    },
    "ReturnLine": {
      "type": "object",
      "description": "Hardware Return Order Line",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "This is a unique identifier for return line, that can be assigned during return order creation. This is not the same as referenceOrderLineId which refers to the original order line that is being returned."
        },
        "referenceOrderId": {
          "type": "string",
          "description": "Id of the forward order where the device was purchased which is being returned as part of this return in this return line"
        },
        "billingState": {
          "$ref": "#/definitions/BillingState",
          "description": "Billing State",
          "readOnly": true
        },
        "referenceOrderLineId": {
          "type": "integer",
          "format": "int64",
          "description": "LineId of the forward order line where the device was purchased which is being returned as part of this return in this return line"
        },
        "senderAddress": {
          "$ref": "#/definitions/ShipTo",
          "description": "Sender address for return shipment"
        },
        "quantity": {
          "$ref": "#/definitions/OrderLineQuantity",
          "description": "Return line quantity"
        },
        "product": {
          "$ref": "#/definitions/Product",
          "description": "Product being returned"
        },
        "refundedAmount": {
          "$ref": "#/definitions/Price",
          "description": "Refunded amount for this return line",
          "readOnly": true
        },
        "estimatedRefundAmount": {
          "$ref": "#/definitions/Price",
          "description": "Estimated refund amount",
          "readOnly": true
        },
        "returnReasons": {
          "type": "array",
          "description": "Reasons for return",
          "items": {
            "$ref": "#/definitions/ReturnReason"
          },
          "x-ms-identifiers": []
        },
        "status": {
          "$ref": "#/definitions/OrderLineStatus",
          "description": "Return line status",
          "readOnly": true
        },
        "warrantyDeprovisionRequestId": {
          "type": "string",
          "description": "Warranty deprovision request ID"
        },
        "warrantyDeprovisionStatus": {
          "$ref": "#/definitions/WarrantyDeprovisionStatus",
          "description": "Warranty deprovision status"
        },
        "warrantyDeprovisionedSerialNumbers": {
          "type": "array",
          "description": "Warranty deprovisioned serial numbers",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "id",
        "referenceOrderId",
        "referenceOrderLineId",
        "senderAddress",
        "quantity",
        "product",
        "returnReasons"
      ]
    },
    "ReturnOrder": {
      "type": "object",
      "description": "A Hardware Resource Provider Return Order resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ReturnOrderProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ReturnOrderListResult": {
      "type": "object",
      "description": "The response of a ReturnOrder list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The ReturnOrder items on this page",
          "items": {
            "$ref": "#/definitions/ReturnOrder"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ReturnOrderProperties": {
      "type": "object",
      "description": "Hardware Return Order Properties",
      "properties": {
        "customerOrder": {
          "$ref": "#/definitions/CustomerOrder",
          "description": "Customer PurchaseOrder"
        },
        "status": {
          "$ref": "#/definitions/OrderStatus",
          "description": "Return order status",
          "readOnly": true
        },
        "returnLines": {
          "type": "array",
          "description": "Return order lines",
          "items": {
            "$ref": "#/definitions/ReturnLine"
          },
          "x-ms-identifiers": [
            "id"
          ]
        },
        "rmaId": {
          "type": "string",
          "description": "RMA (Return Merchandise Authorization) ID - this is an alphanumeric string id which is assigned by the system when the return order is created",
          "readOnly": true
        },
        "returnLabel": {
          "type": "string",
          "description": "Return label",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "returnLines"
      ]
    },
    "ReturnOrderPropertiesUpdate": {
      "type": "object",
      "description": "Hardware Return Order Properties",
      "properties": {
        "customerOrder": {
          "$ref": "#/definitions/CustomerOrderUpdate",
          "description": "Customer PurchaseOrder"
        },
        "returnLines": {
          "type": "array",
          "description": "Return order lines",
          "items": {
            "$ref": "#/definitions/ReturnLine"
          },
          "x-ms-identifiers": [
            "id"
          ]
        }
      }
    },
    "ReturnOrderUpdate": {
      "type": "object",
      "description": "A Hardware Resource Provider Return Order resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ReturnOrderPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "ReturnReason": {
      "type": "object",
      "description": "Return reason",
      "properties": {
        "serialNumbers": {
          "type": "array",
          "description": "Serial numbers associated with this return reason",
          "items": {
            "type": "string"
          }
        },
        "reasonCode": {
          "$ref": "#/definitions/ReturnReasonCode",
          "description": "Return reason code"
        },
        "additionalComments": {
          "type": "string",
          "description": "Additional comments for the return reason"
        },
        "exceptionCode": {
          "$ref": "#/definitions/ReturnExceptionCode",
          "description": "Exception code for the return"
        }
      },
      "required": [
        "reasonCode"
      ]
    },
    "ReturnReasonCode": {
      "type": "string",
      "description": "Return Reason Codes",
      "enum": [
        "productsatisfaction",
        "customersatisfaction",
        "incorrectproductattribute",
        "defectiveitem",
        "cancelattemptedbutshipped",
        "betterpriceavailable",
        "damagedintransit",
        "duplicateorder",
        "incorrectproduct",
        "customererror",
        "vendorapprovedreturn",
        "refusedorder",
        "missingitems",
        "fraud",
        "onbehalfoferror",
        "damagedproduct",
        "trialproduct",
        "orderedwithoutapproval"
      ],
      "x-ms-enum": {
        "name": "ReturnReasonCode",
        "modelAsString": true,
        "values": [
          {
            "name": "ProductSatisfaction",
            "value": "productsatisfaction",
            "description": "Product satisfaction"
          },
          {
            "name": "CustomerSatisfaction",
            "value": "customersatisfaction",
            "description": "Customer satisfaction"
          },
          {
            "name": "IncorrectProductAttribute",
            "value": "incorrectproductattribute",
            "description": "Incorrect Product Attribute"
          },
          {
            "name": "DefectiveItem",
            "value": "defectiveitem",
            "description": "Defective Item"
          },
          {
            "name": "CancelAttemptedButShipped",
            "value": "cancelattemptedbutshipped",
            "description": "Cancel Attempted But Shipped"
          },
          {
            "name": "BetterPriceAvailable",
            "value": "betterpriceavailable",
            "description": "Better Price Available"
          },
          {
            "name": "DamagedInTransit",
            "value": "damagedintransit",
            "description": "Damaged In Transit"
          },
          {
            "name": "DuplicateOrder",
            "value": "duplicateorder",
            "description": "Duplicate Order"
          },
          {
            "name": "IncorrectProduct",
            "value": "incorrectproduct",
            "description": "Incorrect Product"
          },
          {
            "name": "CustomerError",
            "value": "customererror",
            "description": "Customer Error"
          },
          {
            "name": "VendorApprovedReturn",
            "value": "vendorapprovedreturn",
            "description": "Vendor Approved Return"
          },
          {
            "name": "RefusedOrder",
            "value": "refusedorder",
            "description": "Refused Order"
          },
          {
            "name": "MissingItems",
            "value": "missingitems",
            "description": "Missing Items"
          },
          {
            "name": "Fraud",
            "value": "fraud",
            "description": "Fraud Reason Code"
          },
          {
            "name": "OnBehalfOfError",
            "value": "onbehalfoferror",
            "description": "On Behalf Of Error"
          },
          {
            "name": "DamagedProduct",
            "value": "damagedproduct",
            "description": "Damaged Product"
          },
          {
            "name": "TrialProduct",
            "value": "trialproduct",
            "description": "Trial Product"
          },
          {
            "name": "OrderedWithoutApproval",
            "value": "orderedwithoutapproval",
            "description": "Ordered Without Approval"
          }
        ]
      }
    },
    "ShipTo": {
      "type": "object",
      "description": "Ship-To id",
      "properties": {
        "id": {
          "type": "string",
          "description": "ShipTo Id"
        },
        "type": {
          "$ref": "#/definitions/ShipToIdType",
          "description": "Ship-To type"
        }
      },
      "required": [
        "id",
        "type"
      ]
    },
    "ShipToIdType": {
      "type": "string",
      "description": "Ship-To-Id Type",
      "enum": [
        "BusinessLocation",
        "ExternalId"
      ],
      "x-ms-enum": {
        "name": "ShipToIdType",
        "modelAsString": true,
        "values": [
          {
            "name": "BusinessLocation",
            "value": "BusinessLocation",
            "description": "Modern Commerce API business location"
          },
          {
            "name": "ExternalId",
            "value": "ExternalId",
            "description": "Partner External-Id"
          }
        ]
      }
    },
    "ShipmentDetail": {
      "type": "object",
      "description": "Shipment detail",
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "Shipping carrier name"
        },
        "trackingNumber": {
          "type": "string",
          "description": "Shipment tracking number"
        },
        "trackingLink": {
          "type": "string",
          "description": "Tracking link URL"
        },
        "shippedDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date when item was shipped"
        },
        "deliveredDate": {
          "type": "string",
          "format": "date-time",
          "description": "Date when item was delivered"
        },
        "estimatedDeliverByDate": {
          "type": "string",
          "format": "date-time",
          "description": "Estimated delivery date"
        }
      }
    },
    "ShippingMethod": {
      "type": "string",
      "description": "Shipping method",
      "enum": [
        "Ground",
        "TwoDay",
        "ThreeDay",
        "Sustainable",
        "StreetDate",
        "ApoFpo"
      ],
      "x-ms-enum": {
        "name": "ShippingMethod",
        "modelAsString": true,
        "values": [
          {
            "name": "Ground",
            "value": "Ground",
            "description": "Ground shipping"
          },
          {
            "name": "TwoDay",
            "value": "TwoDay",
            "description": "Two day shipping"
          },
          {
            "name": "ThreeDay",
            "value": "ThreeDay",
            "description": "Three day shipping"
          },
          {
            "name": "Sustainable",
            "value": "Sustainable",
            "description": "Sustainable shipping"
          },
          {
            "name": "StreetDate",
            "value": "StreetDate",
            "description": "Street date shipping"
          },
          {
            "name": "ApoFpo",
            "value": "ApoFpo",
            "description": "APO FPO shipping"
          }
        ]
      }
    },
    "Tax": {
      "type": "object",
      "description": "Tax model",
      "properties": {
        "amount": {
          "type": "number",
          "format": "double",
          "description": "Tax charged"
        },
        "type": {
          "$ref": "#/definitions/TaxType",
          "description": "Tax type"
        },
        "class": {
          "type": "string",
          "description": "Categorization of the taxation system"
        },
        "name": {
          "type": "string",
          "description": "Specific title assigned to the tax entity"
        },
        "jurisdictionEntity": {
          "type": "string",
          "description": "Level of governing authority"
        },
        "jurisdictionName": {
          "type": "string",
          "description": "Name of the jurisdiction"
        },
        "rate": {
          "type": "number",
          "format": "double",
          "description": "Tax Rate"
        }
      },
      "required": [
        "amount",
        "type"
      ]
    },
    "TaxType": {
      "type": "string",
      "description": "Tax Type",
      "enum": [
        "Unit",
        "Shipping"
      ],
      "x-ms-enum": {
        "name": "TaxType",
        "modelAsString": true,
        "values": [
          {
            "name": "Unit",
            "value": "Unit",
            "description": "Tax on unit amount for product cost"
          },
          {
            "name": "Shipping",
            "value": "Shipping",
            "description": "Tax on shipping cost"
          }
        ]
      }
    },
    "WarrantyDeprovisionStatus": {
      "type": "string",
      "description": "Warranty deprovision status values",
      "enum": [
        "unfulfilled"
      ],
      "x-ms-enum": {
        "name": "WarrantyDeprovisionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Unfulfilled",
            "value": "unfulfilled",
            "description": "Warranty deprovision request has not been fulfilled"
          }
        ]
      }
    }
  },
  "parameters": {}
}
