{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2021-06-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Security/assessmentMetadata": {
      "get": {
        "x-ms-examples": {
          "List security assessment metadata": {
            "$ref": "./examples/AssessmentsMetadata/ListAssessmentsMetadata_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on all assessment types",
        "operationId": "AssessmentsMetadata_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Security/assessmentMetadata/{assessmentMetadataName}": {
      "get": {
        "x-ms-examples": {
          "Get security assessment metadata": {
            "$ref": "./examples/AssessmentsMetadata/GetAssessmentsMetadata_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on an assessment type",
        "operationId": "AssessmentsMetadata_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/AssessmentsMetadataName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata": {
      "get": {
        "x-ms-examples": {
          "List security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/ListAssessmentsMetadata_subscription_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on all assessment types in a specific subscription",
        "operationId": "AssessmentsMetadata_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/assessmentMetadata/{assessmentMetadataName}": {
      "get": {
        "x-ms-examples": {
          "Get security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/GetAssessmentsMetadata_subscription_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Get metadata information on an assessment type in a specific subscription",
        "operationId": "AssessmentsMetadata_GetInSubscription",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/AssessmentsMetadataName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/CreateAssessmentsMetadata_subscription_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Create metadata information on an assessment type in a specific subscription",
        "operationId": "AssessmentsMetadata_CreateInSubscription",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/AssessmentsMetadataName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/SecurityAssessmentMetadataResponse"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete a security assessment metadata for subscription": {
            "$ref": "./examples/AssessmentsMetadata/DeleteAssessmentsMetadata_subscription_example.json"
          }
        },
        "tags": [
          "Assessments Metadata"
        ],
        "description": "Delete metadata information on an assessment type in a specific subscription, will cause the deletion of all the assessments of that type in that subscription",
        "operationId": "AssessmentsMetadata_DeleteInSubscription",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/AssessmentsMetadataName"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "SecurityAssessmentMetadataResponseList": {
      "type": "object",
      "description": "List of security assessment metadata",
      "properties": {
        "value": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/SecurityAssessmentMetadataResponse"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page."
        }
      }
    },
    "SecurityAssessmentMetadata": {
      "type": "object",
      "description": "Security assessment metadata",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SecurityAssessmentMetadataProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "SecurityAssessmentMetadataResponse": {
      "type": "object",
      "description": "Security assessment metadata response",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SecurityAssessmentMetadataPropertiesResponse"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/Resource"
        }
      ]
    },
    "SecurityAssessmentMetadataProperties": {
      "type": "object",
      "description": "Describes properties of an assessment metadata.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User friendly display name of the assessment"
        },
        "policyDefinitionId": {
          "readOnly": true,
          "type": "string",
          "description": "Azure resource ID of the policy definition that turns this assessment calculation on"
        },
        "description": {
          "type": "string",
          "description": "Human readable description of the assessment"
        },
        "remediationDescription": {
          "type": "string",
          "description": "Human readable description of what you should do to mitigate this security issue"
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "The categories of resource that is at risk when the assessment is unhealthy",
            "enum": [
              "Compute",
              "Networking",
              "Data",
              "IdentityAndAccess",
              "IoT"
            ],
            "x-ms-enum": {
              "name": "categories",
              "modelAsString": true,
              "values": [
                {
                  "value": "Compute"
                },
                {
                  "value": "Networking"
                },
                {
                  "value": "Data"
                },
                {
                  "value": "IdentityAndAccess"
                },
                {
                  "value": "IoT"
                }
              ]
            }
          }
        },
        "severity": {
          "type": "string",
          "description": "The severity level of the assessment",
          "enum": [
            "Low",
            "Medium",
            "High"
          ],
          "x-ms-enum": {
            "name": "severity",
            "modelAsString": true,
            "values": [
              {
                "value": "Low"
              },
              {
                "value": "Medium"
              },
              {
                "value": "High"
              }
            ]
          }
        },
        "userImpact": {
          "type": "string",
          "description": "The user impact of the assessment",
          "enum": [
            "Low",
            "Moderate",
            "High"
          ],
          "x-ms-enum": {
            "name": "userImpact",
            "modelAsString": true,
            "values": [
              {
                "value": "Low"
              },
              {
                "value": "Moderate"
              },
              {
                "value": "High"
              }
            ]
          }
        },
        "implementationEffort": {
          "type": "string",
          "description": "The implementation effort required to remediate this assessment",
          "enum": [
            "Low",
            "Moderate",
            "High"
          ],
          "x-ms-enum": {
            "name": "implementationEffort",
            "modelAsString": true,
            "values": [
              {
                "value": "Low"
              },
              {
                "value": "Moderate"
              },
              {
                "value": "High"
              }
            ]
          }
        },
        "threats": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Threats impact of the assessment",
            "enum": [
              "accountBreach",
              "dataExfiltration",
              "dataSpillage",
              "maliciousInsider",
              "elevationOfPrivilege",
              "threatResistance",
              "missingCoverage",
              "denialOfService"
            ],
            "x-ms-enum": {
              "name": "threats",
              "modelAsString": true,
              "values": [
                {
                  "value": "accountBreach"
                },
                {
                  "value": "dataExfiltration"
                },
                {
                  "value": "dataSpillage"
                },
                {
                  "value": "maliciousInsider"
                },
                {
                  "value": "elevationOfPrivilege"
                },
                {
                  "value": "threatResistance"
                },
                {
                  "value": "missingCoverage"
                },
                {
                  "value": "denialOfService"
                }
              ]
            }
          }
        },
        "preview": {
          "type": "boolean",
          "description": "True if this assessment is in preview release status"
        },
        "assessmentType": {
          "type": "string",
          "description": "BuiltIn if the assessment based on built-in Azure Policy definition, Custom if the assessment based on custom Azure Policy definition",
          "enum": [
            "BuiltIn",
            "CustomPolicy",
            "CustomerManaged",
            "VerifiedPartner"
          ],
          "x-ms-enum": {
            "name": "assessmentType",
            "modelAsString": true,
            "values": [
              {
                "value": "BuiltIn",
                "description": "Azure Security Center managed assessments"
              },
              {
                "value": "CustomPolicy",
                "description": "User defined policies that are automatically ingested from Azure Policy to Azure Security Center"
              },
              {
                "value": "CustomerManaged",
                "description": "User assessments pushed directly by the user or other third party to Azure Security Center"
              },
              {
                "value": "VerifiedPartner",
                "description": "An assessment that was created by a verified 3rd party if the user connected it to ASC"
              }
            ]
          }
        },
        "partnerData": {
          "$ref": "#/definitions/SecurityAssessmentMetadataPartnerData"
        }
      },
      "required": [
        "displayName",
        "severity",
        "assessmentType"
      ]
    },
    "SecurityAssessmentMetadataPartnerData": {
      "type": "object",
      "description": "Describes the partner that created the assessment",
      "properties": {
        "partnerName": {
          "type": "string",
          "description": "Name of the company of the partner"
        },
        "productName": {
          "type": "string",
          "description": "Name of the product of the partner that created the assessment"
        },
        "secret": {
          "type": "string",
          "description": "Secret to authenticate the partner and verify it created the assessment - write only",
          "x-ms-secret": true
        }
      },
      "required": [
        "partnerName",
        "secret"
      ]
    },
    "SecurityAssessmentMetadataPropertiesResponse": {
      "type": "object",
      "description": "Describes properties of an assessment metadata response.",
      "properties": {
        "publishDates": {
          "type": "object",
          "properties": {
            "GA": {
              "type": "string",
              "pattern": "^([0-9]{2}/){2}[0-9]{4}$"
            },
            "public": {
              "type": "string",
              "pattern": "^([0-9]{2}/){2}[0-9]{4}$"
            }
          },
          "required": [
            "public"
          ]
        },
        "plannedDeprecationDate": {
          "type": "string",
          "pattern": "^[0-9]{2}/[0-9]{4}$"
        },
        "tactics": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Tactic of the assessment",
            "enum": [
              "reconnaissance",
              "resourceDevelopment",
              "initialAccess",
              "execution",
              "persistence",
              "privilegeEscalation",
              "defenseEvasion",
              "credentialAccess",
              "discovery",
              "lateralMovement",
              "collection",
              "commandAndControl",
              "exfiltration",
              "impact"
            ],
            "x-ms-enum": {
              "name": "tactics",
              "modelAsString": true,
              "values": [
                {
                  "value": "reconnaissance"
                },
                {
                  "value": "resourceDevelopment"
                },
                {
                  "value": "initialAccess"
                },
                {
                  "value": "execution"
                },
                {
                  "value": "persistence"
                },
                {
                  "value": "privilegeEscalation"
                },
                {
                  "value": "defenseEvasion"
                },
                {
                  "value": "credentialAccess"
                },
                {
                  "value": "discovery"
                },
                {
                  "value": "lateralMovement"
                },
                {
                  "value": "collection"
                },
                {
                  "value": "commandAndControl"
                },
                {
                  "value": "exfiltration"
                },
                {
                  "value": "impact"
                }
              ]
            }
          }
        },
        "techniques": {
          "type": "array",
          "items": {
            "type": "string",
            "description": "Techniques of the assessment",
            "enum": [
              "abuseElevationControlMechanism",
              "containerandResourceDiscovery",
              "nonStandardPort",
              "resourceHijacking",
              "permissionGroupsDiscovery",
              "softwareDeploymentTools",
              "exploitationforCredentialAccess",
              "serverSoftwareComponent",
              "audioCapture",
              "subvertTrustControls",
              "oSCredentialDumping",
              "dataStaged",
              "trustedRelationship",
              "lateralToolTransfer",
              "masquerading",
              "bootorLogonAutostartExecution",
              "impairDefenses",
              "exploitationforClientExecution",
              "processDiscovery",
              "dataDestruction",
              "externalRemoteServices",
              "nonApplicationLayerProtocol",
              "obtainCapabilities",
              "accountDiscovery",
              "domainTrustDiscovery",
              "screenCapture",
              "taintSharedContent",
              "obuscatedFilesorInformation",
              "networkDenialofService",
              "phishing",
              "implantContainerImage",
              "windowsManagementInstrumentation",
              "serviceStop",
              "hideArtifacts",
              "userExecution",
              "officeApplicationStartup",
              "deobfuscateDecodeFilesorInformation",
              "remoteServices",
              "exploitationforDefenseEvasion",
              "fileandDirectoryDiscovery",
              "accessTokenManipulation",
              "createorModifySystemProcess",
              "datafromLocalSystem",
              "interProcessCommunication",
              "compromiseClientSoftwareBinary",
              "indicatorRemovalonHost",
              "exploitationforPrivilegeEscalation",
              "unsecuredCredentials",
              "dynamicResolution",
              "compromiseInfrastructure",
              "validAccounts",
              "systemInformationDiscovery",
              "defacement",
              "protocolTunneling",
              "searchVictimOwnedWebsites",
              "exploitPublicFacingApplication",
              "datafromCloudStorageObject",
              "applicationLayerProtocol",
              "driveByCompromise",
              "datafromInformationRepositories",
              "inputCapture",
              "queryRegistry",
              "ingressToolTransfer",
              "scheduledTaskJob",
              "activeScanning",
              "manInTheMiddle",
              "credentialsfromPasswordStores",
              "fallbackChannels",
              "signedBinaryProxyExecution",
              "hijackExecutionFlow",
              "exploitationofRemoteServices",
              "trafficSignaling",
              "networkServiceScanning",
              "preOSBoot",
              "fileandDirectoryPermissionsModification",
              "processInjection",
              "obfuscatedFilesorInformation",
              "modifyAuthenticationProcess",
              "remoteServiceSessionHijacking",
              "commandandScriptingInterpreter",
              "dataManipulation",
              "proxy",
              "networkSniffing",
              "bootorLogonInitializationScripts",
              "dataEncryptedforImpact",
              "indirectCommandExecution",
              "gatherVictimNetworkInformation",
              "createAccount",
              "datafromConfigurationRepository",
              "eventTriggeredExecution",
              "cloudInfrastructureDiscovery",
              "cloudServiceDiscovery",
              "exfiltrationOverAlternativeProtocol",
              "sQLStoredProcedures",
              "endpointDenialofService",
              "bruteForce",
              "cloudServiceDashboard",
              "supplyChainCompromise",
              "transferDatatoCloudAccount",
              "remoteAccessSoftware",
              "accountManipulation",
              "stealorForgeKerberosTickets",
              "remoteSystemDiscovery",
              "modifyRegistry",
              "diskWipe"
            ],
            "x-ms-enum": {
              "name": "tactics",
              "modelAsString": true,
              "values": [
                {
                  "value": "abuseElevationControlMechanism"
                },
                {
                  "value": "containerandResourceDiscovery"
                },
                {
                  "value": "nonStandardPort"
                },
                {
                  "value": "resourceHijacking"
                },
                {
                  "value": "permissionGroupsDiscovery"
                },
                {
                  "value": "softwareDeploymentTools"
                },
                {
                  "value": "exploitationforCredentialAccess"
                },
                {
                  "value": "serverSoftwareComponent"
                },
                {
                  "value": "audioCapture"
                },
                {
                  "value": "subvertTrustControls"
                },
                {
                  "value": "oSCredentialDumping"
                },
                {
                  "value": "dataStaged"
                },
                {
                  "value": "trustedRelationship"
                },
                {
                  "value": "lateralToolTransfer"
                },
                {
                  "value": "masquerading"
                },
                {
                  "value": "bootorLogonAutostartExecution"
                },
                {
                  "value": "impairDefenses"
                },
                {
                  "value": "exploitationforClientExecution"
                },
                {
                  "value": "processDiscovery"
                },
                {
                  "value": "dataDestruction"
                },
                {
                  "value": "externalRemoteServices"
                },
                {
                  "value": "nonApplicationLayerProtocol"
                },
                {
                  "value": "obtainCapabilities"
                },
                {
                  "value": "accountDiscovery"
                },
                {
                  "value": "domainTrustDiscovery"
                },
                {
                  "value": "screenCapture"
                },
                {
                  "value": "taintSharedContent"
                },
                {
                  "value": "obuscatedFilesorInformation"
                },
                {
                  "value": "networkDenialofService"
                },
                {
                  "value": "phishing"
                },
                {
                  "value": "implantContainerImage"
                },
                {
                  "value": "windowsManagementInstrumentation"
                },
                {
                  "value": "serviceStop"
                },
                {
                  "value": "hideArtifacts"
                },
                {
                  "value": "userExecution"
                },
                {
                  "value": "officeApplicationStartup"
                },
                {
                  "value": "deobfuscateDecodeFilesorInformation"
                },
                {
                  "value": "remoteServices"
                },
                {
                  "value": "exploitationforDefenseEvasion"
                },
                {
                  "value": "fileandDirectoryDiscovery"
                },
                {
                  "value": "accessTokenManipulation"
                },
                {
                  "value": "createorModifySystemProcess"
                },
                {
                  "value": "datafromLocalSystem"
                },
                {
                  "value": "interProcessCommunication"
                },
                {
                  "value": "compromiseClientSoftwareBinary"
                },
                {
                  "value": "indicatorRemovalonHost"
                },
                {
                  "value": "exploitationforPrivilegeEscalation"
                },
                {
                  "value": "unsecuredCredentials"
                },
                {
                  "value": "dynamicResolution"
                },
                {
                  "value": "compromiseInfrastructure"
                },
                {
                  "value": "validAccounts"
                },
                {
                  "value": "systemInformationDiscovery"
                },
                {
                  "value": "defacement"
                },
                {
                  "value": "protocolTunneling"
                },
                {
                  "value": "searchVictimOwnedWebsites"
                },
                {
                  "value": "exploitPublicFacingApplication"
                },
                {
                  "value": "datafromCloudStorageObject"
                },
                {
                  "value": "applicationLayerProtocol"
                },
                {
                  "value": "driveByCompromise"
                },
                {
                  "value": "datafromInformationRepositories"
                },
                {
                  "value": "inputCapture"
                },
                {
                  "value": "queryRegistry"
                },
                {
                  "value": "ingressToolTransfer"
                },
                {
                  "value": "scheduledTaskJob"
                },
                {
                  "value": "activeScanning"
                },
                {
                  "value": "manInTheMiddle"
                },
                {
                  "value": "credentialsfromPasswordStores"
                },
                {
                  "value": "fallbackChannels"
                },
                {
                  "value": "signedBinaryProxyExecution"
                },
                {
                  "value": "hijackExecutionFlow"
                },
                {
                  "value": "exploitationofRemoteServices"
                },
                {
                  "value": "trafficSignaling"
                },
                {
                  "value": "networkServiceScanning"
                },
                {
                  "value": "preOSBoot"
                },
                {
                  "value": "fileandDirectoryPermissionsModification"
                },
                {
                  "value": "processInjection"
                },
                {
                  "value": "obfuscatedFilesorInformation"
                },
                {
                  "value": "modifyAuthenticationProcess"
                },
                {
                  "value": "remoteServiceSessionHijacking"
                },
                {
                  "value": "commandandScriptingInterpreter"
                },
                {
                  "value": "dataManipulation"
                },
                {
                  "value": "proxy"
                },
                {
                  "value": "networkSniffing"
                },
                {
                  "value": "bootorLogonInitializationScripts"
                },
                {
                  "value": "dataEncryptedforImpact"
                },
                {
                  "value": "indirectCommandExecution"
                },
                {
                  "value": "gatherVictimNetworkInformation"
                },
                {
                  "value": "createAccount"
                },
                {
                  "value": "datafromConfigurationRepository"
                },
                {
                  "value": "eventTriggeredExecution"
                },
                {
                  "value": "cloudInfrastructureDiscovery"
                },
                {
                  "value": "cloudServiceDiscovery"
                },
                {
                  "value": "exfiltrationOverAlternativeProtocol"
                },
                {
                  "value": "sQLStoredProcedures"
                },
                {
                  "value": "endpointDenialofService"
                },
                {
                  "value": "bruteForce"
                },
                {
                  "value": "cloudServiceDashboard"
                },
                {
                  "value": "supplyChainCompromise"
                },
                {
                  "value": "transferDatatoCloudAccount"
                },
                {
                  "value": "remoteAccessSoftware"
                },
                {
                  "value": "accountManipulation"
                },
                {
                  "value": "stealorForgeKerberosTickets"
                },
                {
                  "value": "remoteSystemDiscovery"
                },
                {
                  "value": "modifyRegistry"
                },
                {
                  "value": "diskWipe"
                }
              ]
            }
          }
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/SecurityAssessmentMetadataProperties"
        }
      ]
    }
  },
  "parameters": {
    "AssessmentsMetadataName": {
      "name": "assessmentMetadataName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Assessment Key - Unique key for the assessment type",
      "x-ms-parameter-location": "method"
    },
    "SecurityAssessmentMetadata": {
      "name": "assessmentMetadata",
      "in": "body",
      "required": true,
      "description": "AssessmentMetadata object",
      "schema": {
        "$ref": "#/definitions/SecurityAssessmentMetadata"
      },
      "x-ms-parameter-location": "method"
    }
  }
}
