{
  "swagger": "2.0",
  "info": {
    "title": "IoT Firmware Defense",
    "version": "2024-01-10",
    "description": "Firmware & IoT Security REST API",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "FirmwareOperationGroup"
    },
    {
      "name": "Workspaces"
    },
    {
      "name": "SummaryResources"
    }
  ],
  "paths": {
    "/providers/Microsoft.IoTFirmwareDefense/operations": {
      "get": {
        "description": "List the operations for the provider",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Operations"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.IoTFirmwareDefense/workspaces": {
      "get": {
        "description": "Lists all of the firmware analysis workspaces in the specified subscription.",
        "operationId": "Workspaces_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkspaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Workspaces_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Workspaces_ListBySubscription_MaximumSet_Gen.json"
          },
          "Workspaces_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Workspaces_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces": {
      "get": {
        "description": "Lists all of the firmware analysis workspaces in the specified resource group.",
        "operationId": "Workspaces_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/WorkspaceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Workspaces_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Workspaces_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Workspaces_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Workspaces_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}": {
      "delete": {
        "description": "The operation to delete a firmware analysis workspace.",
        "operationId": "Workspaces_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Workspaces_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Workspaces_Delete_MaximumSet_Gen.json"
          },
          "Workspaces_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Workspaces_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "description": "Get firmware analysis workspace.",
        "operationId": "Workspaces_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Workspaces_Get_MaximumSet_Gen": {
            "$ref": "./examples/Workspaces_Get_MaximumSet_Gen.json"
          },
          "Workspaces_Get_MinimumSet_Gen": {
            "$ref": "./examples/Workspaces_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "description": "The operation to update a firmware analysis workspaces.",
        "operationId": "Workspaces_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Parameters when updating a firmware analysis workspace.",
            "in": "body",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WorkspaceUpdateDefinition"
            },
            "x-ms-client-name": "workspace"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Workspaces_Update_MaximumSet_Gen": {
            "$ref": "./examples/Workspaces_Update_MaximumSet_Gen.json"
          },
          "Workspaces_Update_MinimumSet_Gen": {
            "$ref": "./examples/Workspaces_Update_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "description": "The operation to create or update a firmware analysis workspace.",
        "operationId": "Workspaces_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Parameters when creating a firmware analysis workspace.",
            "in": "body",
            "name": "workspace",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Workspace"
            },
            "x-ms-client-name": "workspace"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Workspace' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "201": {
            "description": "Resource 'Workspace' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Workspaces_Create_MaximumSet_Gen": {
            "$ref": "./examples/Workspaces_Create_MaximumSet_Gen.json"
          },
          "Workspaces_Create_MinimumSet_Gen": {
            "$ref": "./examples/Workspaces_Create_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares": {
      "get": {
        "description": "Lists all of firmwares inside a workspace.",
        "operationId": "Firmwares_ListByWorkspace",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirmwareListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "Firmwares_ListByWorkspace_MaximumSet_Gen": {
            "$ref": "./examples/Firmwares_ListByWorkspace_MaximumSet_Gen.json"
          },
          "Firmwares_ListByWorkspace_MinimumSet_Gen": {
            "$ref": "./examples/Firmwares_ListByWorkspace_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}": {
      "delete": {
        "description": "The operation to delete a firmware.",
        "operationId": "Firmwares_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "Firmwares_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Firmwares_Delete_MaximumSet_Gen.json"
          },
          "Firmwares_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Firmwares_Delete_MinimumSet_Gen.json"
          }
        }
      },
      "get": {
        "description": "Get firmware.",
        "operationId": "Firmwares_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Firmware"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "Firmwares_Get_MaximumSet_Gen": {
            "$ref": "./examples/Firmwares_Get_MaximumSet_Gen.json"
          },
          "Firmwares_Get_MinimumSet_Gen": {
            "$ref": "./examples/Firmwares_Get_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "description": "The operation to update firmware.",
        "operationId": "Firmwares_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Details of the firmware being created or updated.",
            "in": "body",
            "name": "firmware",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirmwareUpdateDefinition"
            },
            "x-ms-client-name": "firmware"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Firmware"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "Firmwares_Update_MaximumSet_Gen": {
            "$ref": "./examples/Firmwares_Update_MaximumSet_Gen.json"
          },
          "Firmwares_Update_MinimumSet_Gen": {
            "$ref": "./examples/Firmwares_Update_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "description": "The operation to create a firmware.",
        "operationId": "Firmwares_Create",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          },
          {
            "description": "Details of the firmware being created or updated.",
            "in": "body",
            "name": "firmware",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Firmware"
            },
            "x-ms-client-name": "firmware"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Firmware' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Firmware"
            }
          },
          "201": {
            "description": "Resource 'Firmware' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Firmware"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "Firmwares_Create_MaximumSet_Gen": {
            "$ref": "./examples/Firmwares_Create_MaximumSet_Gen.json"
          },
          "Firmwares_Create_MinimumSet_Gen": {
            "$ref": "./examples/Firmwares_Create_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/binaryHardeningResults": {
      "get": {
        "description": "Lists binary hardening analysis results of a firmware.",
        "operationId": "BinaryHardening_ListByFirmware",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedBinaryHardeningResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "BinaryHardening_ListByFirmware_MaximumSet_Gen": {
            "$ref": "./examples/BinaryHardening_ListByFirmware_MaximumSet_Gen.json"
          },
          "BinaryHardening_ListByFirmware_MinimumSet_Gen": {
            "$ref": "./examples/BinaryHardening_ListByFirmware_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/cryptoCertificates": {
      "get": {
        "description": "Lists cryptographic certificate analysis results found in a firmware.",
        "operationId": "CryptoCertificates_ListByFirmware",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedCryptoCertificateResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "CryptoCertificates_ListByFirmware_MaximumSet_Gen": {
            "$ref": "./examples/CryptoCertificates_ListByFirmware_MaximumSet_Gen.json"
          },
          "CryptoCertificates_ListByFirmware_MinimumSet_Gen": {
            "$ref": "./examples/CryptoCertificates_ListByFirmware_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/cryptoKeys": {
      "get": {
        "description": "Lists cryptographic key analysis results found in a firmware.",
        "operationId": "CryptoKeys_ListByFirmware",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedCryptoKeyResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "CryptoKeys_ListByFirmware_MaximumSet_Gen": {
            "$ref": "./examples/CryptoKeys_ListByFirmware_MaximumSet_Gen.json"
          },
          "CryptoKeys_ListByFirmware_MinimumSet_Gen": {
            "$ref": "./examples/CryptoKeys_ListByFirmware_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/cves": {
      "get": {
        "description": "Lists CVE analysis results of a firmware.",
        "operationId": "Cves_ListByFirmware",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedCveResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "Cves_ListByFirmware_MaximumSet_Gen": {
            "$ref": "./examples/Cves_ListByFirmware_MaximumSet_Gen.json"
          },
          "Cves_ListByFirmware_MinimumSet_Gen": {
            "$ref": "./examples/Cves_ListByFirmware_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/generateDownloadUrl": {
      "post": {
        "description": "The operation to a url for file download.",
        "operationId": "Firmwares_GenerateDownloadUrl",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UrlToken"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "Firmwares_GenerateDownloadUrl_MaximumSet_Gen": {
            "$ref": "./examples/Firmwares_GenerateDownloadUrl_MaximumSet_Gen.json"
          },
          "Firmwares_GenerateDownloadUrl_MinimumSet_Gen": {
            "$ref": "./examples/Firmwares_GenerateDownloadUrl_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/generateFilesystemDownloadUrl": {
      "post": {
        "description": "The operation to a url for tar file download.",
        "operationId": "Firmwares_GenerateFilesystemDownloadUrl",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UrlToken"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "Firmwares_GenerateFilesystemDownloadUrl_MaximumSet_Gen": {
            "$ref": "./examples/Firmwares_GenerateFilesystemDownloadUrl_MaximumSet_Gen.json"
          },
          "Firmwares_GenerateFilesystemDownloadUrl_MinimumSet_Gen": {
            "$ref": "./examples/Firmwares_GenerateFilesystemDownloadUrl_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/passwordHashes": {
      "get": {
        "description": "Lists password hash analysis results of a firmware.",
        "operationId": "PasswordHashes_ListByFirmware",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedPasswordHashResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "PasswordHashes_ListByFirmware_MaximumSet_Gen": {
            "$ref": "./examples/PasswordHashes_ListByFirmware_MaximumSet_Gen.json"
          },
          "PasswordHashes_ListByFirmware_MinimumSet_Gen": {
            "$ref": "./examples/PasswordHashes_ListByFirmware_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/sbomComponents": {
      "get": {
        "description": "Lists SBOM analysis results of a firmware.",
        "operationId": "SbomComponents_ListByFirmware",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PagedSbomComponentResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "FirmwareOperationGroup"
        ],
        "x-ms-examples": {
          "SbomComponents_ListByFirmware_MaximumSet_Gen": {
            "$ref": "./examples/SbomComponents_ListByFirmware_MaximumSet_Gen.json"
          },
          "SbomComponents_ListByFirmware_MinimumSet_Gen": {
            "$ref": "./examples/SbomComponents_ListByFirmware_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/summaries": {
      "get": {
        "description": "Lists analysis result summary names of a firmware. To fetch the full summary data, get that summary by name.",
        "operationId": "Summaries_ListByFirmware",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SummaryResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SummaryResources"
        ],
        "x-ms-examples": {
          "Summaries_ListByFirmware_MaximumSet_Gen": {
            "$ref": "./examples/Summaries_ListByFirmware_MaximumSet_Gen.json"
          },
          "Summaries_ListByFirmware_MinimumSet_Gen": {
            "$ref": "./examples/Summaries_ListByFirmware_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/firmwares/{firmwareId}/summaries/{summaryName}": {
      "get": {
        "description": "Get an analysis result summary of a firmware by name.",
        "operationId": "Summaries_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of the firmware.",
            "in": "path",
            "name": "firmwareId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The Firmware analysis summary name describing the type of summary.",
            "enum": [
              "BinaryHardening",
              "CVE",
              "CryptoCertificate",
              "CryptoKey",
              "Firmware"
            ],
            "in": "path",
            "name": "summaryName",
            "required": true,
            "type": "string",
            "x-ms-enum": {
              "modelAsString": true,
              "name": "SummaryName"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SummaryResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "SummaryResources"
        ],
        "x-ms-examples": {
          "Summaries_Get_MaximumSet_Gen": {
            "$ref": "./examples/Summaries_Get_MaximumSet_Gen.json"
          },
          "Summaries_Get_MinimumSet_Gen": {
            "$ref": "./examples/Summaries_Get_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.IoTFirmwareDefense/workspaces/{workspaceName}/generateUploadUrl": {
      "post": {
        "description": "The operation to get a url for file upload.",
        "operationId": "Workspaces_GenerateUploadUrl",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "description": "The name of the firmware analysis workspace.",
            "in": "path",
            "name": "workspaceName",
            "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_.-]*$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Parameters when requesting a URL to upload firmware.",
            "in": "body",
            "name": "generateUploadUrl",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateUploadUrlRequest"
            },
            "x-ms-client-name": "generateUploadUrl"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UrlToken"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "tags": [
          "Workspaces"
        ],
        "x-ms-examples": {
          "Workspaces_GenerateUploadUrl_MaximumSet_Gen": {
            "$ref": "./examples/Workspaces_GenerateUploadUrl_MaximumSet_Gen.json"
          },
          "Workspaces_GenerateUploadUrl_MinimumSet_Gen": {
            "$ref": "./examples/Workspaces_GenerateUploadUrl_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "BinaryHardeningFeatures": {
      "description": "Binary hardening features.",
      "properties": {
        "canary": {
          "description": "Canary (stack canaries) flag.",
          "type": "boolean"
        },
        "nx": {
          "description": "NX (no-execute) flag.",
          "type": "boolean"
        },
        "pie": {
          "description": "PIE (position independent executable) flag.",
          "type": "boolean"
        },
        "relro": {
          "description": "RELRO (relocation read-only) flag.",
          "type": "boolean"
        },
        "stripped": {
          "description": "Stripped flag.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BinaryHardeningResource": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "binary hardening analysis result resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/BinaryHardeningResult",
          "description": "The properties of a binary hardening result found within a firmware image",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "BinaryHardeningResult": {
      "description": "Binary hardening of a firmware.",
      "properties": {
        "architecture": {
          "description": "The architecture of the uploaded firmware.",
          "type": "string",
          "x-nullable": true
        },
        "binaryHardeningId": {
          "description": "ID for the binary hardening result.",
          "type": "string",
          "x-nullable": true
        },
        "class": {
          "description": "The executable class to indicate 32 or 64 bit.",
          "type": "string",
          "x-nullable": true
        },
        "features": {
          "$ref": "#/definitions/BinaryHardeningFeatures",
          "description": "Binary hardening features.",
          "x-ms-client-flatten": true
        },
        "filePath": {
          "description": "The executable path.",
          "type": "string",
          "x-nullable": true
        },
        "rpath": {
          "description": "The rpath of the uploaded firmware.",
          "type": "string",
          "x-nullable": true
        },
        "runpath": {
          "description": "The runpath of the uploaded firmware.",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "BinaryHardeningSummaryResource": {
      "allOf": [
        {
          "$ref": "#/definitions/SummaryResourceProperties"
        }
      ],
      "description": "Properties for a binary hardening analysis summary.",
      "properties": {
        "canary": {
          "description": "Canary summary percentage",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "nx": {
          "description": "NX summary percentage",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "pie": {
          "description": "PIE summary percentage",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "relro": {
          "description": "RELRO summary percentage",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "stripped": {
          "description": "Stripped summary percentage",
          "format": "int32",
          "type": "integer",
          "x-nullable": true
        },
        "totalFiles": {
          "description": "Total number of binaries that were analyzed",
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "BinaryHardening"
    },
    "CryptoCertificate": {
      "description": "Crypto certificate properties",
      "properties": {
        "cryptoCertId": {
          "description": "ID for the certificate result.",
          "type": "string",
          "x-nullable": true
        },
        "encoding": {
          "description": "Encoding used for the certificate.",
          "type": "string",
          "x-nullable": true
        },
        "expirationDate": {
          "description": "Expiration date for the certificate.",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "filePaths": {
          "description": "List of files where this certificate was found.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "x-nullable": true
        },
        "fingerprint": {
          "description": "Fingerprint of the certificate.",
          "type": "string",
          "x-nullable": true
        },
        "isExpired": {
          "description": "Indicates if the certificate is expired.",
          "type": "boolean",
          "x-nullable": true
        },
        "isSelfSigned": {
          "description": "Indicates if the certificate is self-signed.",
          "type": "boolean",
          "x-nullable": true
        },
        "isShortKeySize": {
          "description": "Indicates the certificate's key size is considered too small to be secure for the key algorithm.",
          "type": "boolean",
          "x-nullable": true
        },
        "isWeakSignature": {
          "description": "Indicates the signature algorithm used is insecure.",
          "type": "boolean",
          "x-nullable": true
        },
        "issuedDate": {
          "description": "Issue date for the certificate.",
          "format": "date-time",
          "type": "string",
          "x-nullable": true
        },
        "issuer": {
          "$ref": "#/definitions/CryptoCertificateEntity",
          "description": "Issuer information of the certificate.",
          "x-nullable": true
        },
        "keyAlgorithm": {
          "description": "Key algorithm used in the certificate.",
          "type": "string",
          "x-nullable": true
        },
        "keySize": {
          "description": "Size of the certificate's key in bits",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "name": {
          "description": "Name of the certificate.",
          "type": "string",
          "x-nullable": true
        },
        "pairedKey": {
          "$ref": "#/definitions/PairedKey",
          "description": "A matching paired private key.",
          "x-nullable": true
        },
        "role": {
          "description": "Role of the certificate (Root CA, etc)",
          "type": "string",
          "x-nullable": true
        },
        "serialNumber": {
          "description": "Serial number of the certificate.",
          "type": "string",
          "x-nullable": true
        },
        "signatureAlgorithm": {
          "description": "The signature algorithm used in the certificate.",
          "type": "string",
          "x-nullable": true
        },
        "subject": {
          "$ref": "#/definitions/CryptoCertificateEntity",
          "description": "Subject information of the certificate.",
          "x-nullable": true
        },
        "usage": {
          "description": "List of functions the certificate can fulfill.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CryptoCertificateEntity": {
      "description": "Information on an entity (distinguished name) in a cryptographic certificate.",
      "properties": {
        "commonName": {
          "description": "Common name of the certificate entity.",
          "type": "string",
          "x-nullable": true
        },
        "country": {
          "description": "Country code of the certificate entity.",
          "type": "string",
          "x-nullable": true
        },
        "organization": {
          "description": "Organization of the certificate entity.",
          "type": "string",
          "x-nullable": true
        },
        "organizationalUnit": {
          "description": "The organizational unit of the certificate entity.",
          "type": "string",
          "x-nullable": true
        },
        "state": {
          "description": "Geographical state or province of the certificate entity.",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CryptoCertificateResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Crypto certificate resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CryptoCertificate",
          "description": "The properties of a crypto certificate found within a firmware image",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "CryptoCertificateSummaryResource": {
      "allOf": [
        {
          "$ref": "#/definitions/SummaryResourceProperties"
        }
      ],
      "description": "Properties for cryptographic certificate summary.",
      "properties": {
        "expired": {
          "description": "Total number of expired certificates found.",
          "format": "int64",
          "type": "integer"
        },
        "expiringSoon": {
          "description": "Total number of nearly expired certificates found.",
          "format": "int64",
          "type": "integer"
        },
        "pairedKeys": {
          "description": "Total number of paired private keys found for the certificates.",
          "format": "int64",
          "type": "integer"
        },
        "selfSigned": {
          "description": "Total number of certificates found that are self-signed.",
          "format": "int64",
          "type": "integer"
        },
        "shortKeySize": {
          "description": "Total number of certificates found that have an insecure key size for the key algorithm.",
          "format": "int64",
          "type": "integer"
        },
        "totalCertificates": {
          "description": "Total number of certificates found.",
          "format": "int64",
          "type": "integer"
        },
        "weakSignature": {
          "description": "Total number of certificates found using a weak signature algorithm.",
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "CryptoCertificate"
    },
    "CryptoKey": {
      "description": "Crypto key properties",
      "properties": {
        "cryptoKeyId": {
          "description": "ID for the key result.",
          "type": "string",
          "x-nullable": true
        },
        "filePaths": {
          "description": "List of files where this key was found.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "x-nullable": true
        },
        "isShortKeySize": {
          "description": "Indicates the key size is considered too small to be secure for the algorithm.",
          "type": "boolean",
          "x-nullable": true
        },
        "keyAlgorithm": {
          "description": "Key algorithm name.",
          "type": "string",
          "x-nullable": true
        },
        "keySize": {
          "description": "Size of the key in bits.",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "keyType": {
          "description": "Type of the key (public or private).",
          "type": "string",
          "x-nullable": true
        },
        "pairedKey": {
          "$ref": "#/definitions/PairedKey",
          "description": "A matching paired key or certificate.",
          "x-nullable": true
        },
        "usage": {
          "description": "Functions the key can fulfill.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CryptoKeyResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Crypto key resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CryptoKey",
          "description": "The properties of a crypto key found within a firmware image",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "CryptoKeySummaryResource": {
      "allOf": [
        {
          "$ref": "#/definitions/SummaryResourceProperties"
        }
      ],
      "description": "Properties for cryptographic key summary.",
      "properties": {
        "pairedKeys": {
          "description": "Total number of keys found that have a matching paired key or certificate.",
          "format": "int64",
          "type": "integer"
        },
        "privateKeys": {
          "description": "Total number of private keys found.",
          "format": "int64",
          "type": "integer"
        },
        "publicKeys": {
          "description": "Total number of (non-certificate) public keys found.",
          "format": "int64",
          "type": "integer"
        },
        "shortKeySize": {
          "description": "Total number of keys found that have an insecure key size for the algorithm.",
          "format": "int64",
          "type": "integer"
        },
        "totalKeys": {
          "description": "Total number of cryptographic keys found.",
          "format": "int64",
          "type": "integer"
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "CryptoKey"
    },
    "CveComponent": {
      "description": "Properties of the SBOM component for a CVE.",
      "properties": {
        "componentId": {
          "description": "ID of the SBOM component",
          "type": "string"
        },
        "name": {
          "description": "Name of the SBOM component",
          "type": "string"
        },
        "version": {
          "description": "Version of the SBOM component.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CveLink": {
      "description": "Properties of a reference link for a CVE.",
      "properties": {
        "href": {
          "description": "The destination of the reference link.",
          "format": "uri",
          "type": "string",
          "x-nullable": true
        },
        "label": {
          "description": "The label of the reference link.",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CveResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "CVE analysis result resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CveResult",
          "description": "The properties of a CVE result found within a firmware image",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "CveResult": {
      "description": "Details of a CVE detected in firmware.",
      "properties": {
        "component": {
          "$ref": "#/definitions/CveComponent",
          "description": "The SBOM component for the CVE.",
          "x-nullable": true
        },
        "cveId": {
          "description": "ID of the CVE result.",
          "type": "string",
          "x-nullable": true
        },
        "cvssScore": {
          "description": "A single CVSS score to represent the CVE. If a V3 score is specified, then it will use the V3 score. Otherwise if the V2 score is specified it will be the V2 score.",
          "type": "string",
          "x-nullable": true
        },
        "cvssV2Score": {
          "description": "CVSS V2 score of the CVE.",
          "type": "string",
          "x-nullable": true
        },
        "cvssV3Score": {
          "description": "CVSS V3 score of the CVE.",
          "type": "string",
          "x-nullable": true
        },
        "cvssVersion": {
          "description": "CVSS version of the CVE.",
          "type": "string",
          "x-nullable": true
        },
        "description": {
          "description": "The CVE description.",
          "type": "string",
          "x-nullable": true
        },
        "links": {
          "description": "The list of reference links for the CVE.",
          "items": {
            "$ref": "#/definitions/CveLink"
          },
          "readOnly": true,
          "type": "array",
          "x-ms-identifiers": []
        },
        "name": {
          "description": "Name of the CVE.",
          "type": "string"
        },
        "severity": {
          "description": "Severity of the CVE.",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "CveSummary": {
      "allOf": [
        {
          "$ref": "#/definitions/SummaryResourceProperties"
        }
      ],
      "description": "Properties for a CVE analysis summary.",
      "properties": {
        "critical": {
          "description": "The total number of critical severity CVEs detected",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "high": {
          "description": "The total number of high severity CVEs detected",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "low": {
          "description": "The total number of low severity CVEs detected",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "medium": {
          "description": "The total number of medium severity CVEs detected",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "unknown": {
          "description": "The total number of unknown severity CVEs detected",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "CVE"
    },
    "Firmware": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "Firmware definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirmwareProperties",
          "description": "The properties of a firmware",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "FirmwareListResult": {
      "description": "The response of a Firmware list operation.",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The Firmware items on this page",
          "items": {
            "$ref": "#/definitions/Firmware"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "FirmwareProperties": {
      "description": "Firmware properties.",
      "properties": {
        "description": {
          "description": "User-specified description of the firmware.",
          "type": "string"
        },
        "fileName": {
          "description": "File name for a firmware that user uploaded.",
          "type": "string"
        },
        "fileSize": {
          "description": "File size of the uploaded firmware image.",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "model": {
          "description": "Firmware model.",
          "type": "string"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/Status",
          "default": "Pending",
          "description": "The status of firmware scan."
        },
        "statusMessages": {
          "description": "A list of errors or other messages generated during firmware analysis",
          "items": {
            "$ref": "#/definitions/StatusMessage"
          },
          "type": "array",
          "x-ms-identifiers": []
        },
        "vendor": {
          "description": "Firmware vendor.",
          "type": "string"
        },
        "version": {
          "description": "Firmware version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FirmwareSummary": {
      "allOf": [
        {
          "$ref": "#/definitions/SummaryResourceProperties"
        }
      ],
      "description": "Properties for high level summary of firmware analysis results.",
      "properties": {
        "analysisTimeSeconds": {
          "description": "Time used for analysis",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "binaryCount": {
          "description": "Binary count",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "componentCount": {
          "description": "Components count.",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "extractedFileCount": {
          "description": "Extracted file count.",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "extractedSize": {
          "description": "Total extracted size of the firmware in bytes.",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "fileSize": {
          "description": "Firmware file size in bytes.",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        },
        "rootFileSystems": {
          "description": "The number of root file systems found.",
          "format": "int64",
          "type": "integer",
          "x-nullable": true
        }
      },
      "type": "object",
      "x-ms-discriminator-value": "Firmware"
    },
    "FirmwareUpdateDefinition": {
      "description": "Firmware definition",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FirmwareProperties",
          "description": "The editable properties of a firmware",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "GenerateUploadUrlRequest": {
      "description": "Properties for generating an upload URL",
      "properties": {
        "firmwareId": {
          "description": "A unique ID for the firmware to be uploaded.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PagedBinaryHardeningResource": {
      "description": "List of binary hardening results.",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The BinaryHardeningResource items on this page",
          "items": {
            "$ref": "#/definitions/BinaryHardeningResource"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "PagedCryptoCertificateResource": {
      "description": "List of crypto certificates.",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The CryptoCertificateResource items on this page",
          "items": {
            "$ref": "#/definitions/CryptoCertificateResource"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "PagedCryptoKeyResource": {
      "description": "List of crypto keys.",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The CryptoKeyResource items on this page",
          "items": {
            "$ref": "#/definitions/CryptoKeyResource"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "PagedCveResource": {
      "description": "List of CVE results.",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The CveResource items on this page",
          "items": {
            "$ref": "#/definitions/CveResource"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "PagedPasswordHashResource": {
      "description": "List of password hash results",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The PasswordHashResource items on this page",
          "items": {
            "$ref": "#/definitions/PasswordHashResource"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "PagedSbomComponentResource": {
      "description": "List of SBOM results.",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The SbomComponentResource items on this page",
          "items": {
            "$ref": "#/definitions/SbomComponentResource"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "PairedKey": {
      "description": "Details of a matching paired key or certificate.",
      "properties": {
        "id": {
          "description": "ID of the paired key or certificate.",
          "type": "string"
        },
        "type": {
          "description": "The type indicating whether the paired object is a key or certificate.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PasswordHash": {
      "description": "Password hash properties",
      "properties": {
        "algorithm": {
          "description": "Algorithm of the password hash",
          "type": "string",
          "x-nullable": true
        },
        "context": {
          "description": "Context of password hash",
          "type": "string",
          "x-nullable": true
        },
        "filePath": {
          "description": "File path of the password hash",
          "type": "string",
          "x-nullable": true
        },
        "hash": {
          "description": "Hash of the password",
          "type": "string",
          "x-nullable": true
        },
        "passwordHashId": {
          "description": "ID for password hash",
          "type": "string",
          "x-nullable": true
        },
        "salt": {
          "description": "Salt of the password hash",
          "type": "string",
          "x-nullable": true
        },
        "username": {
          "description": "User name of password hash",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "PasswordHashResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Password hash resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PasswordHash",
          "description": "The properties of a password hash found within a firmware image",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "ProvisioningState": {
      "description": "Provisioning state of the resource.",
      "enum": [
        "Accepted",
        "Canceled",
        "Failed",
        "Succeeded"
      ],
      "readOnly": true,
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "ProvisioningState"
      }
    },
    "Resource": {
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "description": "Fully qualified resource ID for the resource. E.g. \"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}\"",
          "format": "arm-id",
          "readOnly": true,
          "type": "string",
          "x-ms-arm-id-details": {
            "allowedResources": []
          }
        },
        "name": {
          "description": "The name of the resource",
          "readOnly": true,
          "type": "string"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "SbomComponent": {
      "description": "SBOM component of a firmware.",
      "properties": {
        "componentId": {
          "description": "ID for the component.",
          "type": "string",
          "x-nullable": true
        },
        "componentName": {
          "description": "Name for the component.",
          "type": "string"
        },
        "filePaths": {
          "description": "File paths related to the component.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "license": {
          "description": "License for the component.",
          "type": "string",
          "x-nullable": true
        },
        "version": {
          "description": "Version for the component.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SbomComponentResource": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "SBOM analysis result resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SbomComponent",
          "description": "The properties of an SBOM component found within a firmware image",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "Status": {
      "description": "The status of firmware scan.",
      "enum": [
        "Analyzing",
        "Error",
        "Extracting",
        "Pending",
        "Ready"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "Status"
      }
    },
    "StatusMessage": {
      "description": "Error and status message",
      "properties": {
        "errorCode": {
          "description": "The error code",
          "format": "int64",
          "type": "integer"
        },
        "message": {
          "description": "The error or status message",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SummaryName": {
      "enum": [
        "BinaryHardening",
        "CVE",
        "CryptoCertificate",
        "CryptoKey",
        "Firmware"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "SummaryName"
      }
    },
    "SummaryResource": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "description": "The object representing a firmware analysis summary resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SummaryResourceProperties",
          "description": "Properties of an analysis summary.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "SummaryResourceListResult": {
      "description": "The response of a SummaryResource list operation.",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The SummaryResource items on this page",
          "items": {
            "$ref": "#/definitions/SummaryResource"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "SummaryResourceProperties": {
      "description": "Properties of an analysis summary.",
      "discriminator": "summaryType",
      "properties": {
        "summaryType": {
          "description": "Discriminator property for SummaryResourceProperties.",
          "type": "string"
        }
      },
      "required": [
        "summaryType"
      ],
      "type": "object"
    },
    "SummaryType": {
      "description": "Describes the type of summary.",
      "enum": [
        "BinaryHardening",
        "CVE",
        "CryptoCertificate",
        "CryptoKey",
        "Firmware"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "SummaryType"
      }
    },
    "UrlToken": {
      "description": "Url data for creating or accessing a blob file.",
      "properties": {
        "url": {
          "description": "SAS URL for creating or accessing a blob file.",
          "format": "uri",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Versions": {
      "description": "The available API versions.",
      "enum": [
        "2024-01-10"
      ],
      "type": "string",
      "x-ms-enum": {
        "modelAsString": true,
        "name": "Versions",
        "values": [
          {
            "description": "The 2024-01-10 API version.",
            "name": "v2024_01_10",
            "value": "2024-01-10"
          }
        ]
      }
    },
    "Workspace": {
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ],
      "description": "Firmware analysis workspace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkspaceProperties",
          "description": "Workspace properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    },
    "WorkspaceListResult": {
      "description": "The response of a Workspace list operation.",
      "properties": {
        "nextLink": {
          "description": "The link to the next page of items",
          "format": "uri",
          "type": "string"
        },
        "value": {
          "description": "The Workspace items on this page",
          "items": {
            "$ref": "#/definitions/Workspace"
          },
          "type": "array"
        }
      },
      "required": [
        "value"
      ],
      "type": "object"
    },
    "WorkspaceProperties": {
      "description": "Workspace properties.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the resource.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "WorkspaceUpdateDefinition": {
      "description": "Firmware analysis workspace.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/WorkspaceProperties",
          "description": "The editable workspace properties.",
          "x-ms-client-flatten": true
        }
      },
      "type": "object"
    }
  },
  "parameters": {}
}
