{
  "swagger": "2.0",
  "info": {
    "version": "2019-08-15-preview",
    "title": "ServicesHubRPService API"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServicesHub/connectors/{servicesHubConnectorName}": {
      "put": {
        "tags": [
          "ServicesHubConnector"
        ],
        "summary": "Creates or Updates an exisitng ServicesHub Connector\r\nThis links to Services Hub and Log Analytics workspace",
        "operationId": "CreateOrUpdate_ServicesHubConnector",

        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ServicesHubConnectorNameParameter"
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "services hub resource object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServicesHubConnector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Services Hub Connector has been created or updated successfully.",
            "schema": {
              "$ref": "#/definitions/ServicesHubConnector"
            }
          },
          "201": {
            "description": "The Services Hub Connector has been created successfully.",
            "schema": {
              "$ref": "#/definitions/ServicesHubConnector"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a ServicesHub Connector": {
            "$ref": "./examples/PutServicesHubConnector.json"
          }
        }
      },
      "patch": {
        "operationId": "Update_ServicesHubConnector",
        "description": "Updates the properties of a Services Hub Connector.",
        "tags": [
          "ServicesHubConnector"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ServicesHubConnectorNameParameter"
          },
          {
            "name": "requestBody",
            "in": "body",
            "description": "services hub resource object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServicesHubConnector"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The Services Hub Connector has been updated successfully.",
            "schema": {
              "$ref": "#/definitions/ServicesHubConnector"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an existing Services Hub Connector": {
            "$ref": "./examples/PatchServicesHubConnector.json"
          }
        }
      },
      "get": {
        "tags": [
          "ServicesHubConnector"
        ],
        "summary": "Gets an exisitng ServicesHub Connector\r\nIt also gets details of associated Services Hub and Log Analytics workspace",
        "operationId": "Get_ServicesHubConnector",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ServicesHubConnectorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ServicesHubConnector"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ServicesHub Connector": {
            "$ref": "./examples/GetServicesHubConnector.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ServicesHubConnector"
        ],
        "summary": "Deletes an exisitng ServicesHub Connector",
        "operationId": "Delete_ServicesHubConnector",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ServicesHubConnectorNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Deletion of ServicesHub Connector",
            "schema": {
              "$ref": "#/definitions/ServicesHubConnector"
            }
          },
          "204": {
            "description": "The Services Hub connector is not found or has been deleted already."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete ServicesHub Connector": {
            "$ref": "./examples/DeleteServicesHubConnector.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServicesHub/connectors/{servicesHubConnectorName}/checkAssessmentEntitlement": {
      "post": {
        "tags": [
          "AssessmentEntitlement"
        ],
        "summary": "Gets the Entitlement for the Services Hub Workspace.",
        "operationId": "Entitlement_ServicesHub",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ServicesHubConnectorNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/AssessmentEntitlement"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Assessment Entitlement": {
            "$ref": "./examples/GetAssessmentEntitlement.json"
          }
        }
      }
    },
    "/providers/Microsoft.ServicesHub/operations": {
      "get": {
        "tags": [
          "Operation"
        ],
        "operationId": "Operations_List",
        "description": "Gets a list of the operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Services Hub Operations": {
            "$ref": "./examples/GetOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServicesHub/connectors": {
      "get": {
        "operationId": "ServicesHubConnectors_ListByResourceGroup",
        "description": "Lists all Azure ServicesHub Connectors under the specified resource group.",
        "tags": [
          "ServicesHubConnectors"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Azure ServicesHubConnectors have been fetched successfully.",
            "schema": {
              "$ref": "#/definitions/ServicesHubConnectorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all Azure Services Hub Connector under the specified resource group": {
            "$ref": "./examples/ListAzureServicesHubConnectorsByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServicesHub/connectors": {
      "get": {
        "operationId": "ServicesHubConnectors_ListBySubscription",
        "description": "Lists all Azure ServicesHub Connectors under the specified Azure subscription.",
        "tags": [
          "ServicesHubConnectors"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Azure ServicesHubConnectors have been fetched successfully.",
            "schema": {
              "$ref": "#/definitions/ServicesHubConnectorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List all Azure Services Hub Connector under the specified resource group": {
            "$ref": "./examples/ListAzureServicesHubConnectorsBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServicesHub/supportOfferingEntitlement": {
      "get": {
        "tags": [
          "SupportOfferingEntitlement"
        ],
        "summary": "Get the Entitlement of the user.",
        "operationId": "SupportOfferingEntitlement",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SupportOfferingEntitlement"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Support Offering Entitlement": {
            "$ref": "./examples/GetSupportOfferingEntitlement.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServicesHub/workspaces": {
      "get": {
        "tags": [
          "ServicesHubWorkspace"
        ],
        "summary": "Gets the list Services Hub Workspaces user is part of.",
        "operationId": "ServicesHubWorkspaces_ListForUser",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ServicesHubWorkspaceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ServicesHub Workspaces": {
            "$ref": "./examples/ListServicesHubWorkspaces.json"
          }
        }
      }
    }
  },
    "definitions": {
      "Resource": {
        "type": "object",
        "description": "An Azure Resource Manager (ARM) resource.",
        "properties": {
          "id": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Id"
          },
          "type": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Type"
          },
          "tags": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Resource Tags"
          },
          "location": {
            "type": "string",
            "description": "Resource Location"
          },
          "name": {
            "type": "string",
            "readOnly": true,
            "description": "Resource Name"
          }
        },
        "x-ms-azure-resource": true
      },
      "ServicesHubConnector": {
        "type": "object",
        "description": "Services Hub Connector",
        "properties": {
          "properties": {
            "description": "Services Hub Connector Properties",
            "$ref": "#/definitions/ServicesHubConnectorProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ]
      },
      "ServicesHubConnectorProperties": {
        "type": "object",
        "description": "Custom properties of a Services Hub Workspace.",
        "properties": {
          "servicesHubWorkspace": {
            "description": "Properties of Services Hub Workspace.",
            "$ref": "#/definitions/ServicesHubWorkspace"
          }
        }
      },
	  "ServicesHubWorkspace": {
        "type": "object",
        "description": "Services Hub Workspace",
        "properties": {
          "properties": {
            "description": "Services Hub Workspace Properties",
            "$ref": "#/definitions/ServicesHubWorkspaceProperties"
          }
        },
        "allOf": [
          {
            "$ref": "#/definitions/Resource"
          }
        ]
      },
      "ServicesHubWorkspaceProperties": {
        "type": "object",
        "description": "Properties of Services Hub Workspace.",
        "properties": {
          "servicesHubWorkspaceId": {
            "type": "string",
            "description": "Unique identifier of Services Hub Workspace."
          },
          "servicesHubWorkspaceName": {
            "type": "string",
            "description": "Name of the Services Hub Workspace."
          },
          "logAnalyticsWorkspace": {
            "description": "Properties of Log Analytics Workspace.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/LogAnalyticsWorkspace"
            }
          },
          "consentedAzureSubscription": {
            "type": "string",
            "description": "Has Consent Been Provided for the Azure Subscription"
          }
        }
      },
      "LogAnalyticsWorkspace": {
        "type": "object",
        "description": "Properties of the Linked Azure Log Analytics Workspace.",
        "properties": {
          "workspaceId": {
            "type": "string",
            "description": "ID of the Azure Log Analytics Workspace."
          },
          "workspaceName": {
            "type": "string",
            "description": "Name of the Azure Log Analytics Workspace."
          },
          "location": {
            "type": "string",
            "description": "Region where the Azure Log Analytics Workspace is deployed."
          },
          "tenantId": {
            "type": "string",
            "description": "Tenant ID in which Azure Log Analytics Workspace is present."
          },
          "subscriptionId": {
            "type": "string",
            "description": "Subscription ID where the Azure Log Analytics Workspace is present."
          },
          "resourceGroupName": {
            "type": "string",
            "description": "Resource Group Name of the Azure Log Analytics Workspace."
          }
        }
      },
      "ServicesHubConnectorListResult": {
        "type": "object",
        "description": "Result of a request to list all Azure Services Hub Connector under a given scope.",
        "properties": {
          "value": {
            "description": "List of ServicesHub Connector.",
            "type": "array",
            "items": {
              "$ref": "#/definitions/ServicesHubConnector"
            }
          },
          "nextLink": {
            "type": "string",
            "description": "The URL to get the next set of Services Hub connectors, if there are any."
          }
        }
      },
      "SupportOfferingEntitlement": {
        "type": "object",
        "description": "Defines the type of customer - Unified or Premier",
        "properties": {
          "customerTypeList": {
            "type": "array",
            "description": "Type of customer - Premier, Unified.",
            "items": {
              "$ref": "#/definitions/CustomerType"
            }
          }
        }
      },
      "CustomerType": {
        "type": "string",
        "enum": [
          "Unified",
          "Premier"
        ],
        "description": "Type of customer - Premier or Unified."
      },
      "AssessmentEntitlement": {
        "type": "object",
        "description": "Defines the type of customer - Unified or Premier and the services they are entitled to",
        "properties": {
          "customerType": {
            "type": "string",
            "description": "Type of customer - Premier or Unified."
          },
          "assessment": {
            "type": "array",
            "description": "List of Assessments entitled.",
            "items": {
              "$ref": "#/definitions/Assessment"
            }
          }
        }
      },
      "Assessment": {
        "type": "object",
        "description": "List of Assessment Services",
        "properties": {
          "id": {
            "type": "string",
            "description": "Assessment Id."
          },
          "name": {
            "type": "string",
            "description": "Internal Name of the Assessment."
          }
        }
      },
      "ServicesHubWorkspaceListResult": {
        "type": "object",
        "description": "Result of a request to list all Azure Services Hub Connector under a given scope.",
        "properties": {
          "value": {
            "type": "array",
            "description": "List of ServicesHub Workspace.",
            "items": {
              "$ref": "#/definitions/ServicesHubWorkspace"
            }
          }
        }
      },
      "OperationList": {
        "type": "object",
        "description": "List of the operations.",
        "properties": {
          "value": {
            "readOnly": true,
            "type": "array",
            "description": "List of operations",
            "items": {
              "$ref": "#/definitions/Operation"
            }
          }
        }
      },
      "Operation": {
        "type": "object",
        "description": "Properties of an Operation.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the Operation"
          },
          "display": {
            "description": "Operation Display Value",
            "$ref": "#/definitions/OperationDisplayValue"
          }
        }
      },
      "OperationDisplayValue": {
        "type": "object",
        "description": "Properties of an Operation.",
        "properties": {
          "operation": {
            "type": "string",
            "description": "Name of the Operation"
          },
          "resource": {
            "type": "string",
            "description": "Name of the Resource"
          },
          "description": {
            "type": "string",
            "description": "Description of the operation"
          },
          "provider": {
            "type": "string",
            "description": "Resource Provider"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Error response.",
        "properties": {
          "error": {
            "readOnly": true,
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code."
              },
              "message": {
                "type": "string",
                "description": "Error message indicating why the operation failed."
              }
            },
            "required": [
              "code",
              "message"
            ],
            "type": "object",
            "description": "Error response indicates Azure Resource Manager is not able to process the incoming request. The reason is provided in the error message."
          }
        }
      }
    },
    "parameters": {
      "SubscriptionIdParameter": {
        "name": "subscriptionId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Unique identifier of the Azure subscription. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)."
      },
      "ResourceGroupNameParameter": {
        "name": "resourceGroupName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Name of the resource group within the Azure subscription.",
        "x-ms-parameter-location": "method"
      },
      "ServicesHubConnectorNameParameter": {
        "name": "servicesHubConnectorName",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Name of ServicesHub resource.",
        "x-ms-parameter-location": "method"
      },
      "ApiVersionParameter": {
        "name": "api-version",
        "in": "query",
        "required": true,
        "type": "string",
        "description": "API version to be used with the HTTP request."
      },
      "ServicesHubWorkspaceIdParameter": {
        "name": "servicesHubWorkspaceId",
        "in": "path",
        "required": true,
        "type": "string",
        "description": "Services Hub Workspace Id.",
        "x-ms-parameter-location": "method"
      }
    }
  }
