{
  "swagger": "2.0",
  "info": {
    "title": "CostManagementClient",
    "version": "2025-03-01",
    "description": "CostManagement management client provides access to CostManagement resources for Azure Enterprise Subscriptions.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "CostAllocationRuleDefinitions"
    },
    {
      "name": "Budgets"
    },
    {
      "name": "Exports"
    },
    {
      "name": "GenerateDetailedCostReportOperationResults"
    },
    {
      "name": "GenerateDetailedCostReportOperationStatus"
    },
    {
      "name": "Views"
    },
    {
      "name": "ViewOperationGroup"
    },
    {
      "name": "Alerts"
    },
    {
      "name": "ScheduledActions"
    },
    {
      "name": "ScheduledActionOperationGroup"
    },
    {
      "name": "Settings"
    },
    {
      "name": "GenerateCostDetailsReport"
    }
  ],
  "paths": {
    "/{scope}/providers/Microsoft.CostManagement/alerts": {
      "get": {
        "operationId": "Alerts_List",
        "tags": [
          "Alerts"
        ],
        "description": "Lists the alerts for scope defined.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope associated with alerts operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific for partners.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AlertsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountAlerts": {
            "$ref": "./examples/BillingAccountAlerts.json"
          },
          "BillingProfileAlerts": {
            "$ref": "./examples/BillingProfileAlerts.json"
          },
          "DepartmentAlerts": {
            "$ref": "./examples/DepartmentAlerts.json"
          },
          "EnrollmentAccountAlerts": {
            "$ref": "./examples/EnrollmentAccountAlerts.json"
          },
          "InvoiceSectionAlerts": {
            "$ref": "./examples/InvoiceSectionAlerts.json"
          },
          "ResourceGroupAlerts": {
            "$ref": "./examples/ResourceGroupAlerts.json"
          },
          "SubscriptionAlerts": {
            "$ref": "./examples/SubscriptionAlerts.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/alerts/{alertId}": {
      "get": {
        "operationId": "Alerts_Get",
        "tags": [
          "Alerts"
        ],
        "description": "Gets the alert for the scope by alert ID.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Alert ID",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SingleResourceGroupAlerts": {
            "$ref": "./examples/SingleResourceGroupAlert.json"
          },
          "SingleSubscriptionAlerts": {
            "$ref": "./examples/SingleSubscriptionAlert.json"
          }
        }
      },
      "patch": {
        "operationId": "Alerts_Dismiss",
        "tags": [
          "Alerts"
        ],
        "description": "Dismisses the specified alert",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "alertId",
            "in": "path",
            "description": "Alert ID",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Dismiss Alert operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DismissAlertPayload"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Alert"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PatchResourceGroupAlerts": {
            "$ref": "./examples/DismissResourceGroupAlerts.json"
          },
          "PatchSubscriptionAlerts": {
            "$ref": "./examples/DismissSubscriptionAlerts.json"
          }
        }
      }
    },
    "/{billingScope}/providers/Microsoft.CostManagement/benefitRecommendations": {
      "get": {
        "operationId": "BenefitRecommendations_List",
        "description": "List of recommendations for purchasing savings plan.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Can be used to filter benefitRecommendations by: properties/scope with allowed values ['Single', 'Shared'] and default value 'Shared'; and properties/lookBackPeriod with allowed values ['Last7Days', 'Last30Days', 'Last60Days'] and default value 'Last60Days'; properties/term with allowed values ['P1Y', 'P3Y'] and default value 'P3Y'; properties/subscriptionId; properties/resourceGroup",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "May be used to order the recommendations by: properties/armSkuName. For the savings plan, the results are in order by default. There is no need to use this clause.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the properties by: properties/usage, properties/allRecommendationDetails",
            "required": false,
            "type": "string"
          },
          {
            "name": "billingScope",
            "in": "path",
            "description": "The scope associated with benefit recommendation operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resource group scope, /providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for enterprise agreement scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billing profile scope",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/benefitRecommendationsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BenefitRecommendationsBillingAccountList": {
            "$ref": "./examples/BenefitRecommendationsByBillingAccount.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/budgets": {
      "get": {
        "operationId": "Budgets_List",
        "tags": [
          "Budgets"
        ],
        "description": "Lists all budgets for the defined scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter option. May be used to filter budgets by properties/category. The filter supports 'eq' only.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/BudgetsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountBudgetsList-EA": {
            "$ref": "./examples/Budgets/List/EA/BillingAccountBudgetsList-EA.json"
          },
          "BillingAccountBudgetsList-EA-CategoryTypeFilter": {
            "$ref": "./examples/Budgets/List/EA/BillingAccountBudgetsList-EA-CategoryTypeFilter.json"
          },
          "BillingAccountBudgetsList-MCA": {
            "$ref": "./examples/Budgets/List/MCA/BillingAccountBudgetsList-MCA.json"
          },
          "BillingAccountBudgetsList-MCA-CategoryTypeFilter": {
            "$ref": "./examples/Budgets/List/MCA/BillingAccountBudgetsList-MCA-CategoryTypeFilter.json"
          },
          "BillingProfileBudgetsList-MCA": {
            "$ref": "./examples/Budgets/List/MCA/BillingProfileBudgetsList.json"
          },
          "BillingProfileBudgetsList-MCA-CategoryTypeFilter": {
            "$ref": "./examples/Budgets/List/MCA/BillingProfileBudgetsList-CategoryTypeFilter.json"
          },
          "CustomerBudgetsList-MCA-CSP": {
            "$ref": "./examples/Budgets/List/MCA/CustomerBudgetsList.json"
          },
          "CustomerBudgetsList-MCA-CSP-CategoryTypeFilter": {
            "$ref": "./examples/Budgets/List/MCA/CustomerBudgetsList-CategoryTypeFilter.json"
          },
          "DepartmentBudgetsList-EA": {
            "$ref": "./examples/Budgets/List/EA/DepartmentBudgetsList.json"
          },
          "EnrollmentAccountBudgetsList-EA": {
            "$ref": "./examples/Budgets/List/EA/EnrollmentAccountBudgetsList.json"
          },
          "InvoiceSectionBudgetsList-MCA": {
            "$ref": "./examples/Budgets/List/MCA/InvoiceSectionBudgetsList.json"
          },
          "ManagementGroupBudgetsList": {
            "$ref": "./examples/Budgets/List/RBAC/ManagementGroupBudgetsList.json"
          },
          "ResourceGroupBudgetsList": {
            "$ref": "./examples/Budgets/List/RBAC/ResourceGroupBudgetsList.json"
          },
          "SubscriptionBudgetsList": {
            "$ref": "./examples/Budgets/List/RBAC/SubscriptionBudgetsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/budgets/{budgetName}": {
      "get": {
        "operationId": "Budgets_Get",
        "tags": [
          "Budgets"
        ],
        "description": "Gets the budget for the scope by budget name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "budgetName",
            "in": "path",
            "description": "Budget Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9_-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get-Cost-Budget": {
            "$ref": "./examples/Budgets/Get/Cost/Get-Cost-Budget.json"
          },
          "Get-ReservationUtilization-AlertRule": {
            "$ref": "./examples/Budgets/Get/ReservationUtilization/Get-ReservationUtilization-AlertRule.json"
          }
        }
      },
      "put": {
        "operationId": "Budgets_CreateOrUpdate",
        "tags": [
          "Budgets"
        ],
        "description": "The operation to create or update a budget. You can optionally provide an eTag if desired as a form of concurrency control. To obtain the latest eTag for a given budget, perform a get operation prior to your put operation.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "budgetName",
            "in": "path",
            "description": "Budget Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9_-]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create Budget operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Budget' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "201": {
            "description": "Resource 'Budget' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Budget"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate-Cost-Subscription-Budget": {
            "$ref": "./examples/Budgets/CreateOrUpdate/Cost/CreateOrUpdate-Cost-Subscription-Budget.json"
          },
          "CreateOrUpdate-ReservationUtilization-BillingAccountEA-AlertRule": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/EA/BillingAccountEA-AlertRule.json"
          },
          "CreateOrUpdate-ReservationUtilization-BillingAccountEA-AlertRule-ReservationIdFilter": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/EA/BillingAccountEA-AlertRule-ReservationIdFilter.json"
          },
          "CreateOrUpdate-ReservationUtilization-BillingAccountEA-AlertRule-ReservedResourceTypeFilter": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/EA/BillingAccountEA-AlertRule-ReservedResourceTypeFilter.json"
          },
          "CreateOrUpdate-ReservationUtilization-BillingProfileMCA-AlertRule-ReservationIdFilter": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/BillingProfile-AlertRule-ReservationIdFilter.json"
          },
          "CreateOrUpdate-ReservationUtilization-BillingProfileMCA-AlertRule-ReservedResourceTypeFilter": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/BillingProfile-AlertRule-ReservedResourceTypeFilter.json"
          },
          "CreateOrUpdate-ReservationUtilization-BillingProfileMCA-AlertRule.json": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/BillingProfile-AlertRule.json"
          },
          "CreateOrUpdate-ReservationUtilization-CustomerCSP-AlertRule-ReservationIdFilter": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/Customer-AlertRule-ReservationIdFilter.json"
          },
          "CreateOrUpdate-ReservationUtilization-CustomerCSP-AlertRule-ReservedResourceTypeFilter": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/Customer-AlertRule-ReservedResourceTypeFilter.json"
          },
          "CreateOrUpdate-ReservationUtilization-CustomerCSP-AlertRule.json": {
            "$ref": "./examples/Budgets/CreateOrUpdate/ReservationUtilization/MCA/Customer-AlertRule.json"
          }
        }
      },
      "delete": {
        "operationId": "Budgets_Delete",
        "tags": [
          "Budgets"
        ],
        "description": "The operation to delete a budget.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/CostManagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "budgetName",
            "in": "path",
            "description": "Budget Name.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9_-]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteBudget": {
            "$ref": "./examples/Budgets/Delete/DeleteBudget.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/checkNameAvailability": {
      "post": {
        "operationId": "ScheduledActions_CheckNameAvailabilityByScope",
        "description": "Checks availability and correctness of the name for a scheduled action within the given scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope associated with scheduled action operations. This includes 'subscriptions/{subscriptionId}' for subscription scope, 'subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for BillingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/invoiceSections/{invoiceSectionId}' for InvoiceSection scope, 'providers/Microsoft.CostManagement/externalBillingAccounts/{externalBillingAccountName}' for External Billing Account scope and 'providers/Microsoft.CostManagement/externalSubscriptions/{externalSubscriptionName}' for External Subscription scope. Note: Insight Alerts are only available on subscription scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "checkNameAvailabilityRequest",
            "in": "body",
            "description": "Scheduled action to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseWithNestedDetails"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActionCheckNameAvailabilityByScope": {
            "$ref": "./examples/scheduledActions/checkNameAvailability-shared-scheduledAction.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/costDetailsOperationResults/{operationId}": {
      "get": {
        "operationId": "GenerateCostDetailsReport_GetOperationResults",
        "tags": [
          "GenerateCostDetailsReport"
        ],
        "description": "Get the result of the specified operation. This link is provided in the CostDetails creation request response Location header.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The ARM Resource ID for subscription, billing account, or other billing scopes.Currently Resource Group and Management Group are not supported. For details, see https://aka.ms/costmgmt/scopes.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The target operation Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CostDetailsOperationResults"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get details of the operation result": {
            "$ref": "./examples/CostDetailsOperationResultsBySubscriptionScope.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/dimensions": {
      "get": {
        "operationId": "Dimensions_List",
        "description": "Lists the dimensions by the defined scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope associated with dimension operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId}' for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope, and 'providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific for partners.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter dimensions by properties/category, properties/usageStart, properties/usageEnd. Supported operators are 'eq','lt', 'gt', 'le', 'ge'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the properties/data within a dimension category. By default, data is not included when listing dimensions.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "in": "query",
            "description": "Skiptoken is only used if a previous operation returned a partial result. If a previous response contains a nextLink element, the value of the nextLink element will include a skiptoken parameter that specifies a starting point to use for subsequent calls.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$top",
            "in": "query",
            "description": "May be used to limit the number of results to the most recent N dimension data.",
            "required": false,
            "type": "integer",
            "format": "int32",
            "minimum": 1,
            "maximum": 1000
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DimensionsListResult"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountDimensionsList-Legacy": {
            "$ref": "./examples/BillingAccountDimensionsList.json"
          },
          "BillingAccountDimensionsList-MCA": {
            "$ref": "./examples/MCABillingAccountDimensionsList.json"
          },
          "BillingAccountDimensionsListExpandAndTop-Legacy": {
            "$ref": "./examples/BillingAccountDimensionsListExpandAndTop.json"
          },
          "BillingAccountDimensionsListExpandAndTop-MCA": {
            "$ref": "./examples/MCABillingAccountDimensionsListExpandAndTop.json"
          },
          "BillingAccountDimensionsListWithFilter-Legacy": {
            "$ref": "./examples/BillingAccountDimensionsListWithFilter.json"
          },
          "BillingAccountDimensionsListWithFilter-MCA": {
            "$ref": "./examples/MCABillingAccountDimensionsListWithFilter.json"
          },
          "BillingProfileDimensionsList-MCA": {
            "$ref": "./examples/MCABillingProfileDimensionsList.json"
          },
          "BillingProfileDimensionsListExpandAndTop-MCA": {
            "$ref": "./examples/MCABillingProfileDimensionsListExpandAndTop.json"
          },
          "BillingProfileDimensionsListWithFilter-MCA": {
            "$ref": "./examples/MCABillingProfileDimensionsListWithFilter.json"
          },
          "CustomerDimensionsList-MCA": {
            "$ref": "./examples/MCACustomerDimensionsList.json"
          },
          "CustomerDimensionsListExpandAndTop-MCA": {
            "$ref": "./examples/MCACustomerDimensionsListExpandAndTop.json"
          },
          "CustomerDimensionsListWithFilter-MCA": {
            "$ref": "./examples/MCACustomerDimensionsListWithFilter.json"
          },
          "DepartmentDimensionsList-Legacy": {
            "$ref": "./examples/DepartmentDimensionsList.json"
          },
          "DepartmentDimensionsListExpandAndTop-Legacy": {
            "$ref": "./examples/DepartmentDimensionsListExpandAndTop.json"
          },
          "DepartmentDimensionsListWithFilter-Legacy": {
            "$ref": "./examples/DepartmentDimensionsListWithFilter.json"
          },
          "EnrollmentAccountDimensionsList-Legacy": {
            "$ref": "./examples/EnrollmentAccountDimensionsList.json"
          },
          "EnrollmentAccountDimensionsListExpandAndTop-Legacy": {
            "$ref": "./examples/EnrollmentAccountDimensionsListExpandAndTop.json"
          },
          "EnrollmentAccountDimensionsListWithFilter-Legacy": {
            "$ref": "./examples/EnrollmentAccountDimensionsListWithFilter.json"
          },
          "InvoiceSectionDimensionsList-MCA": {
            "$ref": "./examples/MCAInvoiceSectionDimensionsList.json"
          },
          "InvoiceSectionDimensionsListExpandAndTop-MCA": {
            "$ref": "./examples/MCAInvoiceSectionDimensionsListExpandAndTop.json"
          },
          "InvoiceSectionDimensionsListWithFilter-MCA": {
            "$ref": "./examples/MCAInvoiceSectionDimensionsListWithFilter.json"
          },
          "ManagementGroupDimensionsList-Legacy": {
            "$ref": "./examples/ManagementGroupDimensionsList.json"
          },
          "ManagementGroupDimensionsListExpandAndTop-Legacy": {
            "$ref": "./examples/ManagementGroupDimensionsListExpandAndTop.json"
          },
          "ManagementGroupDimensionsListWithFilter-Legacy": {
            "$ref": "./examples/ManagementGroupDimensionsListWithFilter.json"
          },
          "ResourceGroupDimensionsList-Legacy": {
            "$ref": "./examples/ResourceGroupDimensionsList.json"
          },
          "SubscriptionDimensionsList-Legacy": {
            "$ref": "./examples/SubscriptionDimensionsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/exports": {
      "get": {
        "operationId": "Exports_List",
        "tags": [
          "Exports"
        ],
        "description": "The operation to list all exports at the given scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope associated with alerts operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific for partners.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the properties within an export. Currently only 'runHistory' is supported and will return information for the last run of each export.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExportListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExportsGetByBillingAccount": {
            "$ref": "./examples/ExportsGetByBillingAccount.json"
          },
          "ExportsGetByDepartment": {
            "$ref": "./examples/ExportsGetByDepartment.json"
          },
          "ExportsGetByEnrollmentAccount": {
            "$ref": "./examples/ExportsGetByEnrollmentAccount.json"
          },
          "ExportsGetByManagementGroup": {
            "$ref": "./examples/ExportsGetByManagementGroup.json"
          },
          "ExportsGetByResourceGroup": {
            "$ref": "./examples/ExportsGetByResourceGroup.json"
          },
          "ExportsGetBySubscription": {
            "$ref": "./examples/ExportsGetBySubscription.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}": {
      "get": {
        "operationId": "Exports_Get",
        "tags": [
          "Exports"
        ],
        "description": "The operation to get the export for the defined scope by export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "exportName",
            "in": "path",
            "description": "Export Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "May be used to expand the properties within an export. Currently only 'runHistory' is supported and will return information for the last 10 runs of the export.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExportGetByBillingAccount": {
            "$ref": "./examples/ExportGetByBillingAccount.json"
          },
          "ExportGetByDepartment": {
            "$ref": "./examples/ExportGetByDepartment.json"
          },
          "ExportGetByEnrollmentAccount": {
            "$ref": "./examples/ExportGetByEnrollmentAccount.json"
          },
          "ExportGetByManagementGroup": {
            "$ref": "./examples/ExportGetByManagementGroup.json"
          },
          "ExportGetByResourceGroup": {
            "$ref": "./examples/ExportGetByResourceGroup.json"
          },
          "ExportGetBySubscription": {
            "$ref": "./examples/ExportGetBySubscription.json"
          }
        }
      },
      "put": {
        "operationId": "Exports_CreateOrUpdate",
        "tags": [
          "Exports"
        ],
        "description": "The operation to create or update a export. Update operation requires latest eTag to be set in the request. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "exportName",
            "in": "path",
            "description": "Export Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate Export operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Export"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Export' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "201": {
            "description": "Resource 'Export' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExportCreateOrUpdateByBillingAccount": {
            "$ref": "./examples/ExportCreateOrUpdateByBillingAccount.json"
          },
          "ExportCreateOrUpdateByBillingAccountCustom": {
            "$ref": "./examples/ExportCreateOrUpdateByBillingAccountCustom.json"
          },
          "ExportCreateOrUpdateByBillingAccountMonthly": {
            "$ref": "./examples/ExportCreateOrUpdateByBillingAccountMonthly.json"
          },
          "ExportCreateOrUpdateByBillingAccountPricesheet": {
            "$ref": "./examples/ExportCreateOrUpdateByBillingAccountPricesheet.json"
          },
          "ExportCreateOrUpdateByBillingAccountReservationDetails": {
            "$ref": "./examples/ExportCreateOrUpdateByBillingAccountReservationDetails.json"
          },
          "ExportCreateOrUpdateByBillingAccountReservationRecommendation": {
            "$ref": "./examples/ExportCreateOrUpdateByBillingAccountReservationRecommendation.json"
          },
          "ExportCreateOrUpdateByDepartment": {
            "$ref": "./examples/ExportCreateOrUpdateByDepartment.json"
          },
          "ExportCreateOrUpdateByEnrollmentAccount": {
            "$ref": "./examples/ExportCreateOrUpdateByEnrollmentAccount.json"
          },
          "ExportCreateOrUpdateByManagementGroup": {
            "$ref": "./examples/ExportCreateOrUpdateByManagementGroup.json"
          },
          "ExportCreateOrUpdateByResourceGroup": {
            "$ref": "./examples/ExportCreateOrUpdateByResourceGroup.json"
          },
          "ExportCreateOrUpdateBySubscription": {
            "$ref": "./examples/ExportCreateOrUpdateBySubscription.json"
          },
          "ExportCreateOrUpdateExportCreateOrUpdateByBillingAccountReservationTransactionsByBillingAccount": {
            "$ref": "./examples/ExportCreateOrUpdateByBillingAccountReservationTransactions.json"
          }
        }
      },
      "delete": {
        "operationId": "Exports_Delete",
        "tags": [
          "Exports"
        ],
        "description": "The operation to delete a export.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "exportName",
            "in": "path",
            "description": "Export Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExportDeleteByBillingAccount": {
            "$ref": "./examples/ExportDeleteByBillingAccount.json"
          },
          "ExportDeleteByDepartment": {
            "$ref": "./examples/ExportDeleteByDepartment.json"
          },
          "ExportDeleteByEnrollmentAccount": {
            "$ref": "./examples/ExportDeleteByEnrollmentAccount.json"
          },
          "ExportDeleteByManagementGroup": {
            "$ref": "./examples/ExportDeleteByManagementGroup.json"
          },
          "ExportDeleteByResourceGroup": {
            "$ref": "./examples/ExportDeleteByResourceGroup.json"
          },
          "ExportDeleteBySubscription": {
            "$ref": "./examples/ExportDeleteBySubscription.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}/run": {
      "post": {
        "operationId": "Exports_Execute",
        "tags": [
          "Exports"
        ],
        "description": "The operation to run an export.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "exportName",
            "in": "path",
            "description": "Export Name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Execute Export operation.",
            "required": false,
            "schema": {
              "$ref": "#/definitions/ExportRunRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExportRunByBillingAccount": {
            "$ref": "./examples/ExportRunByBillingAccount.json"
          },
          "ExportRunByBillingAccountWithOptionalRequestBody": {
            "$ref": "./examples/ExportRunByBillingAccountWithOptionalRequestBody.json"
          },
          "ExportRunByDepartment": {
            "$ref": "./examples/ExportRunByDepartment.json"
          },
          "ExportRunByEnrollmentAccount": {
            "$ref": "./examples/ExportRunByEnrollmentAccount.json"
          },
          "ExportRunByManagementGroup": {
            "$ref": "./examples/ExportRunByManagementGroup.json"
          },
          "ExportRunByResourceGroup": {
            "$ref": "./examples/ExportRunByResourceGroup.json"
          },
          "ExportRunBySubscription": {
            "$ref": "./examples/ExportRunBySubscription.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory": {
      "get": {
        "operationId": "Exports_GetExecutionHistory",
        "tags": [
          "Exports"
        ],
        "description": "The operation to get the run history of an export for the defined scope and export name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "exportName",
            "in": "path",
            "description": "Export Name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ExportExecutionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExportRunHistoryGetByBillingAccount": {
            "$ref": "./examples/ExportRunHistoryGetByBillingAccount.json"
          },
          "ExportRunHistoryGetByDepartment": {
            "$ref": "./examples/ExportRunHistoryGetByDepartment.json"
          },
          "ExportRunHistoryGetByEnrollmentAccount": {
            "$ref": "./examples/ExportRunHistoryGetByEnrollmentAccount.json"
          },
          "ExportRunHistoryGetByManagementGroup": {
            "$ref": "./examples/ExportRunHistoryGetByManagementGroup.json"
          },
          "ExportRunHistoryGetByResourceGroup": {
            "$ref": "./examples/ExportRunHistoryGetByResourceGroup.json"
          },
          "ExportRunHistoryGetBySubscription": {
            "$ref": "./examples/ExportRunHistoryGetBySubscription.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/forecast": {
      "post": {
        "operationId": "Forecast_Usage",
        "description": "Lists the forecast charges for scope defined.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter forecasts by properties/usageDate (Utc time), properties/chargeType or properties/grain. The filter supports 'eq', 'lt', 'gt', 'le', 'ge', and 'and'. It does not currently support 'ne', 'or', or 'not'.",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope associated with forecast operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific for partners.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate Forecast Config operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForecastDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ForecastResult"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountForecast": {
            "$ref": "./examples/BillingAccountForecast.json"
          },
          "BillingProfileForecast": {
            "$ref": "./examples/BillingProfileForecast.json"
          },
          "DepartmentForecast": {
            "$ref": "./examples/DepartmentForecast.json"
          },
          "EnrollmentAccountForecast": {
            "$ref": "./examples/EnrollmentAccountForecast.json"
          },
          "InvoiceSectionForecast": {
            "$ref": "./examples/InvoiceSectionForecast.json"
          },
          "ResourceGroupForecast": {
            "$ref": "./examples/ResourceGroupForecast.json"
          },
          "SubscriptionForecast": {
            "$ref": "./examples/SubscriptionForecast.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/generateCostDetailsReport": {
      "post": {
        "operationId": "GenerateCostDetailsReport_CreateOperation",
        "description": "This API is the replacement for all previously release Usage Details APIs. Request to generate a cost details report for the provided date range, billing period (Only enterprise customers) or Invoice Id asynchronously at a certain scope. The initial call to request a report will return a 202 with a 'Location' and 'Retry-After' header. The 'Location' header will provide the endpoint to poll to get the result of the report generation. The 'Retry-After' provides the duration to wait before polling for the generated report. A call to poll the report operation will provide a 202 response with a 'Location' header if the operation is still in progress. Once the report generation operation completes, the polling endpoint will provide a 200 response along with details on the report blob(s) that are available for download. The details on the file(s) available for download will be available in the polling response body. To Understand cost details (formerly known as usage details) fields found in files ,see https://learn.microsoft.com/en-us/azure/cost-management-billing/automate/understand-usage-details-fields",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The ARM Resource ID for subscription, billing account, or other billing scopes.Currently Resource Group and Management Group are not supported. For details, see https://aka.ms/costmgmt/scopes.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create cost details operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateCostDetailsReportRequestDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CostDetailsOperationResults"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/GenerateCostDetailsReportErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GenerateCostDetailsReportByBillingAccountEnterpriseAgreementCustomerAndBillingPeriod": {
            "$ref": "./examples/GenerateCostDetailsReportByBillingAccountEnterpriseAgreementCustomerAndBillingPeriod.json"
          },
          "GenerateCostDetailsReportByBillingProfileAndInvoiceId": {
            "$ref": "./examples/GenerateCostDetailsReportByBillingProfileAndInvoiceId.json"
          },
          "GenerateCostDetailsReportByBillingProfileAndInvoiceIdAndCustomerId": {
            "$ref": "./examples/GenerateCostDetailsReportByBillingProfileAndInvoiceIdAndCustomerId.json"
          },
          "GenerateCostDetailsReportByCustomerAndTimePeriod": {
            "$ref": "./examples/GenerateCostDetailsReportByCustomerAndTimePeriod.json"
          },
          "GenerateCostDetailsReportByDepartmentsAndTimePeriod": {
            "$ref": "./examples/GenerateCostDetailsReportByDepartmentsAndTimePeriod.json"
          },
          "GenerateCostDetailsReportByEnrollmentAccountsAndTimePeriod": {
            "$ref": "./examples/GenerateCostDetailsReportByEnrollmentAccountsAndTimePeriod.json"
          },
          "GenerateCostDetailsReportBySubscriptionAndTimePeriod": {
            "$ref": "./examples/GenerateCostDetailsReportBySubscriptionAndTimePeriod.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/CostDetailsOperationResults"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/generateDetailedCostReport": {
      "post": {
        "operationId": "GenerateDetailedCostReport_CreateOperation",
        "description": "Generates the detailed cost report for provided date range, billing period(only enterprise customers) or Invoice ID asynchronously at a certain scope. Call returns a 202 with header Azure-Consumption-AsyncOperation providing a link to the operation created. A call on the operation will provide the status and if the operation is completed the blob file where generated detailed cost report is being stored.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The ARM Resource ID for subscription, resource group, billing account, or other billing scopes. For details, see https://aka.ms/costmgmt/scopes.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the Create detailed cost report operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GenerateDetailedCostReportDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateDetailedCostReportOperationResult"
            }
          },
          "202": {
            "description": "The request has been accepted for processing, but processing has not yet completed.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Azure-Consumption-AsyncOperation": {
                "type": "string",
                "description": "The URL to check the status of the asynchronous operation."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/GenerateDetailedCostReportErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GenerateDetailedCostReportByBillingAccountLegacyAndBillingPeriod": {
            "$ref": "./examples/GenerateDetailedCostReportByBillingAccountLegacyAndBillingPeriod.json"
          },
          "GenerateDetailedCostReportByBillingProfileAndInvoiceId": {
            "$ref": "./examples/GenerateDetailedCostReportByBillingProfileAndInvoiceId.json"
          },
          "GenerateDetailedCostReportByBillingProfileAndInvoiceIdAndCustomerId": {
            "$ref": "./examples/GenerateDetailedCostReportByBillingProfileAndInvoiceIdAndCustomerId.json"
          },
          "GenerateDetailedCostReportByCustomerAndTimePeriod": {
            "$ref": "./examples/GenerateDetailedCostReportByCustomerAndTimePeriod.json"
          },
          "GenerateDetailedCostReportBySubscriptionAndTimePeriod": {
            "$ref": "./examples/GenerateDetailedCostReportBySubscriptionAndTimePeriod.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/GenerateDetailedCostReportOperationResult"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/operationResults/{operationId}": {
      "get": {
        "operationId": "GenerateDetailedCostReportOperationResults_Get",
        "tags": [
          "GenerateDetailedCostReportOperationResults"
        ],
        "description": "Gets the result of the specified operation. The link with this operationId is provided as a response header of the initial request.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The target operation Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateDetailedCostReportOperationResult"
            }
          },
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get details of the operation result": {
            "$ref": "./examples/GenerateDetailedCostReportOperationResultsBySubscriptionScope.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/operationStatus/{operationId}": {
      "get": {
        "operationId": "GenerateDetailedCostReportOperationStatus_Get",
        "tags": [
          "GenerateDetailedCostReportOperationStatus"
        ],
        "description": "Get the status of the specified operation. This link is provided in the GenerateDetailedCostReport creation request response header.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The fully qualified Azure Resource manager identifier of the resource.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "The target operation Id.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GenerateDetailedCostReportOperationStatuses"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get details of the operation status": {
            "$ref": "./examples/GenerateDetailedCostReportOperationStatusBySubscriptionScope.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/query": {
      "post": {
        "operationId": "Query_Usage",
        "description": "Query the usage data for scope defined.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "The scope associated with query and export operations. This includes '/subscriptions/{subscriptionId}/' for subscription scope, '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}' for Department scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}' for EnrollmentAccount scope, '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}' for billingProfile scope, '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}' for invoiceSection scope, and '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}' specific for partners.",
            "required": true,
            "type": "string",
            "x-ms-skip-url-encoding": true
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate Query Config operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QueryDefinition"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QueryResult"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "BillingAccountQuery-Legacy": {
            "$ref": "./examples/BillingAccountQuery.json"
          },
          "BillingAccountQuery-MCA": {
            "$ref": "./examples/MCABillingAccountQuery.json"
          },
          "BillingAccountQueryGrouping-Legacy": {
            "$ref": "./examples/BillingAccountQueryGrouping.json"
          },
          "BillingAccountQueryGrouping-MCA": {
            "$ref": "./examples/MCABillingAccountQueryGrouping.json"
          },
          "BillingProfileQuery-MCA": {
            "$ref": "./examples/MCABillingProfileQuery.json"
          },
          "BillingProfileQueryGrouping-MCA": {
            "$ref": "./examples/MCABillingProfileQueryGrouping.json"
          },
          "CustomerQuery-MCA": {
            "$ref": "./examples/MCACustomerQuery.json"
          },
          "CustomerQueryGrouping-MCA": {
            "$ref": "./examples/MCACustomerQueryGrouping.json"
          },
          "DepartmentQuery-Legacy": {
            "$ref": "./examples/DepartmentQuery.json"
          },
          "DepartmentQueryGrouping-Legacy": {
            "$ref": "./examples/DepartmentQueryGrouping.json"
          },
          "EnrollmentAccountQuery-Legacy": {
            "$ref": "./examples/EnrollmentAccountQuery.json"
          },
          "EnrollmentAccountQueryGrouping-Legacy": {
            "$ref": "./examples/EnrollmentAccountQueryGrouping.json"
          },
          "InvoiceSectionQuery-MCA": {
            "$ref": "./examples/MCAInvoiceSectionQuery.json"
          },
          "InvoiceSectionQueryGrouping-MCA": {
            "$ref": "./examples/MCAInvoiceSectionQueryGrouping.json"
          },
          "ManagementGroupQuery-Legacy": {
            "$ref": "./examples/ManagementGroupQuery.json"
          },
          "ManagementGroupQueryGrouping-Legacy": {
            "$ref": "./examples/ManagementGroupQueryGrouping.json"
          },
          "ResourceGroupQuery-Legacy": {
            "$ref": "./examples/ResourceGroupQuery.json"
          },
          "ResourceGroupQueryGrouping-Legacy": {
            "$ref": "./examples/ResourceGroupQueryGrouping.json"
          },
          "SubscriptionQuery-Legacy": {
            "$ref": "./examples/SubscriptionQuery.json"
          },
          "SubscriptionQueryGrouping-Legacy": {
            "$ref": "./examples/SubscriptionQueryGrouping.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/scheduledActions": {
      "get": {
        "operationId": "ScheduledActions_ListByScope",
        "tags": [
          "ScheduledActionOperationGroup"
        ],
        "description": "List all shared scheduled actions within the given scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "May be used to filter scheduled actions by properties/viewId. Supported operator is 'eq'.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ScheduledActionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseWithNestedDetails"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActionsListByScope": {
            "$ref": "./examples/scheduledActions/scheduledActions-list-shared.json"
          },
          "ScheduledActionsListByScopeFilterByViewId": {
            "$ref": "./examples/scheduledActions/scheduledActions-listWithFilter-shared.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/scheduledActions/{name}": {
      "get": {
        "operationId": "ScheduledActions_GetByScope",
        "tags": [
          "ScheduledActionOperationGroup"
        ],
        "description": "Get the shared scheduled action from the given scope by name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Scheduled action name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseWithNestedDetails"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActionByScope": {
            "$ref": "./examples/scheduledActions/scheduledAction-get-shared.json"
          }
        }
      },
      "put": {
        "operationId": "ScheduledActions_CreateOrUpdateByScope",
        "tags": [
          "ScheduledActionOperationGroup"
        ],
        "description": "Create or update a shared scheduled action within the given scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Scheduled action name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "ETag of the Entity. Not required when creating an entity. Optional when updating an entity and can be specified to achieve optimistic concurrency.",
            "required": false,
            "type": "string"
          },
          {
            "name": "scheduledAction",
            "in": "body",
            "description": "Scheduled action to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ScheduledAction' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          },
          "201": {
            "description": "Resource 'ScheduledAction' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ScheduledAction"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseWithNestedDetails"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdateInsightAlertScheduledActionByScope": {
            "$ref": "./examples/scheduledActions/scheduledAction-insightAlert-createOrUpdate-shared.json"
          },
          "CreateOrUpdateScheduledActionByScope": {
            "$ref": "./examples/scheduledActions/scheduledAction-createOrUpdate-shared.json"
          }
        }
      },
      "delete": {
        "operationId": "ScheduledActions_DeleteByScope",
        "tags": [
          "ScheduledActionOperationGroup"
        ],
        "description": "Delete a scheduled action within the given scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Scheduled action name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseWithNestedDetails"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActionDeleteByScope": {
            "$ref": "./examples/scheduledActions/scheduledAction-delete-shared.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/scheduledActions/{name}/execute": {
      "post": {
        "operationId": "ScheduledActions_RunByScope",
        "tags": [
          "ScheduledActionOperationGroup"
        ],
        "description": "Runs a shared scheduled action within the given scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Scheduled action name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseWithNestedDetails"
            }
          }
        },
        "x-ms-examples": {
          "ScheduledActionRunByScope": {
            "$ref": "./examples/scheduledActions/scheduledAction-sendNow-shared.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/settings": {
      "get": {
        "operationId": "Settings_List",
        "tags": [
          "Settings"
        ],
        "description": "List all cost management settings in the requested scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SettingsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SettingsList": {
            "$ref": "./examples/settingsList.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/settings/{type}": {
      "get": {
        "operationId": "Settings_GetByScope",
        "tags": [
          "Settings"
        ],
        "description": "Get the setting from the given scope by name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Setting type.",
            "required": true,
            "type": "string",
            "enum": [
              "taginheritance"
            ],
            "x-ms-enum": {
              "name": "SettingType",
              "modelAsString": true,
              "values": [
                {
                  "name": "taginheritance",
                  "value": "taginheritance",
                  "description": "This setting applies billing profile, invoice section, subscription and resource group tags to current month's usage data of child resources."
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SettingByScope": {
            "$ref": "./examples/setting-get.json"
          }
        }
      },
      "put": {
        "operationId": "Settings_CreateOrUpdateByScope",
        "tags": [
          "Settings"
        ],
        "description": "Create or update a setting within the given scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Setting type.",
            "required": true,
            "type": "string",
            "enum": [
              "taginheritance"
            ],
            "x-ms-enum": {
              "name": "SettingType",
              "modelAsString": true,
              "values": [
                {
                  "name": "taginheritance",
                  "value": "taginheritance",
                  "description": "This setting applies billing profile, invoice section, subscription and resource group tags to current month's usage data of child resources."
                }
              ]
            }
          },
          {
            "name": "setting",
            "in": "body",
            "description": "Setting to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Setting' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          },
          "201": {
            "description": "Resource 'Setting' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Setting"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdateSettingByScope": {
            "$ref": "./examples/settings-createOrUpdate.json"
          }
        }
      },
      "delete": {
        "operationId": "Settings_DeleteByScope",
        "tags": [
          "Settings"
        ],
        "description": "Delete a setting within the given scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/rest/api/cost-management/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "path",
            "description": "Setting type.",
            "required": true,
            "type": "string",
            "enum": [
              "taginheritance"
            ],
            "x-ms-enum": {
              "name": "SettingType",
              "modelAsString": true,
              "values": [
                {
                  "name": "taginheritance",
                  "value": "taginheritance",
                  "description": "This setting applies billing profile, invoice section, subscription and resource group tags to current month's usage data of child resources."
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "SettingDeleteByScope": {
            "$ref": "./examples/setting-delete.json"
          }
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/views": {
      "get": {
        "operationId": "Views_ListByScope",
        "tags": [
          "ViewOperationGroup"
        ],
        "description": "Lists all views at the given scope.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ViewListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceGroupViewList": {
            "$ref": "./examples/ViewListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{scope}/providers/Microsoft.CostManagement/views/{viewName}": {
      "get": {
        "operationId": "Views_GetByScope",
        "tags": [
          "ViewOperationGroup"
        ],
        "description": "Gets the view for the defined scope by view name.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "viewName",
            "in": "path",
            "description": "View name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/View"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceGroupView": {
            "$ref": "./examples/ViewByResourceGroup.json"
          }
        }
      },
      "put": {
        "operationId": "Views_CreateOrUpdateByScope",
        "tags": [
          "ViewOperationGroup"
        ],
        "description": "The operation to create or update a view. Update operation requires latest eTag to be set in the request. You may obtain the latest eTag by performing a get operation. Create operation does not require eTag.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "viewName",
            "in": "path",
            "description": "View name",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Parameters supplied to the CreateOrUpdate View operation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/View"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'View' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/View"
            }
          },
          "201": {
            "description": "Resource 'View' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/View"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceGroupCreateOrUpdateView": {
            "$ref": "./examples/ViewCreateOrUpdateByResourceGroup.json"
          }
        }
      },
      "delete": {
        "operationId": "Views_DeleteByScope",
        "tags": [
          "ViewOperationGroup"
        ],
        "description": "The operation to delete a view.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "scope",
            "in": "path",
            "description": "undefined",
            "required": true,
            "type": "string"
          },
          {
            "name": "viewName",
            "in": "path",
            "description": "View name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ResourceGroupDeleteView": {
            "$ref": "./examples/ViewDeleteByResourceGroup.json"
          }
        }
      }
    },
    "/providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/alerts": {
      "get": {
        "operationId": "Alerts_ListExternal",
        "description": "Lists the Alerts for external cloud provider type defined.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "externalCloudProviderType",
            "in": "path",
            "description": "The external cloud provider type associated with dimension/query operations. This includes 'externalSubscriptions' for linked account and 'externalBillingAccounts' for consolidated account.",
            "required": true,
            "type": "string",
            "enum": [
              "externalSubscriptions",
              "externalBillingAccounts"
            ],
            "x-ms-enum": {
              "name": "ExternalCloudProviderType",
              "modelAsString": true,
              "values": [
                {
                  "name": "externalSubscriptions",
                  "value": "externalSubscriptions"
                },
                {
                  "name": "externalBillingAccounts",
                  "value": "externalBillingAccounts"
                }
              ]
            }
          },
          {
            "name": "externalCloudProviderId",
            "in": "path",
            "description": "This can be '{externalSubscriptionId}' for linked account or '{externalBillingAccountId}' for consolidated account used with dimension/query operations.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/AlertsResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ExternalBillingAccountAlerts": {
            "$ref": "./examples/ExternalBillingAccountAlerts.json"
          },
          "ExternalSubscriptionAlerts": {
            "$ref": "./examples/ExternalSubscriptionAlerts.json"
          }
        }
      }
    },
    "/providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/dimensions": {
      "get": {
        "operationId": "Dimensions_ByExternalCloudProviderType",
        "description": "Lists the dimensions by the external cloud provider type.",
        "externalDocs": {
          "url": "https://docs.microsoft.com/en-us/rest/api/costmanagement/"
        },
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "externalCloudProviderType",
            "in": "path",
            "description": "The external cloud provider type associated with dimension/query operations. This includes 'externalSubscriptions' for linked account and 'externalBillingAccounts' for consolidated account.",
            "required": true,
            "type": "string",
            "enum": [
              "externalSubscriptions",
              "externalBillingAccounts"
            ],
            "x-ms-enum": {
              "name": "ExternalCloudProviderType",
              "modelAsString": true,
              "values": [
                {
[...]
