{
  "swagger": "2.0",
  "info": {
    "version": "2019-05-05-preview",
    "title": "Azure Alerts Management Service Resource Provider",
    "description": "REST APIs for Azure Alerts Management Service."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/actionRules": {
      "get": {
        "summary": "Get all action rule in a given subscription",
        "description": "List all action rules of the subscription and given input filters",
        "operationId": "ActionRules_GetAll_Subscription",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/impactedScope"
          },
          {
            "$ref": "#/parameters/targetResourceType"
          },
          {
            "$ref": "#/parameters/monitorCondition"
          },
          {
            "$ref": "#/parameters/severity"
          },
          {
            "$ref": "#/parameters/monitorService"
          },
          {
            "$ref": "#/parameters/description"
          },
          {
            "$ref": "#/parameters/alertRuleId"
          },
          {
            "$ref": "#/parameters/actionGroup"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of action rules",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/actionRulesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/actionRules": {
      "get": {
        "summary": "Get all action rules created in a resource group",
        "operationId": "ActionRules_GetAll_ResourceGroup",
        "description": "List all action rules of the subscription, created in given resource group and given input filters",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroup"
          },
          {
            "$ref": "#/parameters/impactedScope"
          },
          {
            "$ref": "#/parameters/targetResourceType"
          },
          {
            "$ref": "#/parameters/monitorCondition"
          },
          {
            "$ref": "#/parameters/severity"
          },
          {
            "$ref": "#/parameters/monitorService"
          },
          {
            "$ref": "#/parameters/description"
          },
          {
            "$ref": "#/parameters/alertRuleId"
          },
          {
            "$ref": "#/parameters/actionGroup"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Return the list of action rules",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/actionRulesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.AlertsManagement/actionRules/{actionRuleName}": {
      "get": {
        "summary": "Get action rule by name",
        "operationId": "ActionRules_GetByName",
        "description": "Get a specific action rule",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroup"
          },
          {
            "name": "actionRuleName",
            "in": "path",
            "description": "The name of action rule that needs to be fetched",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the specific action rule",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/actionRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      },
      "put": {
        "summary": "Create/update an action rule",
        "operationId": "ActionRules_CreateUpdate",
        "description": "Creates/Updates a specific action rule",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroup"
          },
          {
            "name": "actionRuleName",
            "in": "path",
            "description": "The name of action rule that needs to be created/updated",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionRule",
            "in": "body",
            "description": "action rule to be created/updated",
            "required": true,
            "schema": {
              "$ref": "#/definitions/actionRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the created/updated action rule",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            },
            "schema": {
              "$ref": "#/definitions/actionRule"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      },
      "delete": {
        "summary": "Delete action rule",
        "description": "Deletes a given action rule",
        "operationId": "ActionRules_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroup"
          },
          {
            "name": "actionRuleName",
            "in": "path",
            "description": "The name that needs to be deleted",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns true if deleted successfully",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      },
      "patch": {
        "summary": "Patch action rule",
        "description": "Update enabled flag and/or tags for the given action rule",
        "operationId": "ActionRules_Patch",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroup"
          },
          {
            "name": "actionRuleName",
            "in": "path",
            "description": "The name that needs to be updated",
            "required": true,
            "type": "string"
          },
          {
            "name": "actionRulePatch",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/patchObject"
            },
            "description": "Parameters supplied to the operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK. Returns the created/updated action rule",
            "headers": {
              "x-ms-request-id": {
                "type": "string",
                "description": "Service generated Request ID."
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/errorResponse"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "description": "subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "type": "string",
      "in": "path",
      "required": true
    },
    "resourceGroup": {
      "name": "resourceGroup",
      "description": "Resource group name where the resource is created.",
      "type": "string",
      "in": "path",
      "required": true
    },
    "api-version": {
      "name": "api-version",
      "description": "client API version",
      "type": "string",
      "in": "query",
      "required": true,
      "enum": [
        "2019-05-05-preview"
      ],
      "x-ms-enum": {
        "name": "api-version",
        "modelAsString": true
      }
    },
    "impactedScope": {
      "description": "filter by impacted/target scope (provide comma separated list for multiple scopes). The value should be an well constructed ARM id of the scope.",
      "name": "impactedScope",
      "type": "string",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "targetResourceType": {
      "description": "filter by target resource type",
      "name": "targetResourceType",
      "type": "string",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "monitorService": {
      "description": "filter by monitor service which is the source of the alert object.",
      "name": "monitorService",
      "type": "string",
      "in": "query",
      "required": false,
      "enum": [
        "Platform",
        "Application Insights",
        "Log Analytics",
        "Zabbix",
        "SCOM",
        "Nagios",
        "Infrastructure Insights",
        "ActivityLog Administrative",
        "ActivityLog Security",
        "ActivityLog Recommendation",
        "ActivityLog Policy",
        "ActivityLog Autoscale",
        "ServiceHealth",
        "SmartDetector"
      ],
      "x-ms-enum": {
        "name": "MonitorService",
        "modelAsString": true
      }
    },
    "severity": {
      "description": "filter by severity",
      "name": "severity",
      "type": "string",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "method",
      "enum": [
        "Sev0",
        "Sev1",
        "Sev2",
        "Sev3",
        "Sev4"
      ],
      "x-ms-enum": {
        "name": "Severity",
        "modelAsString": true
      }
    },
    "monitorCondition": {
      "description": "filter by monitor condition which is the state of the alert at monitor service",
      "name": "monitorCondition",
      "type": "string",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "method",
      "enum": [
        "Fired",
        "Resolved"
      ],
      "x-ms-enum": {
        "name": "MonitorCondition",
        "modelAsString": true
      }
    },
    "description": {
      "description": "filter by alert rule description",
      "name": "description",
      "type": "string",
      "in": "query",
      "required": false
    },
    "alertRuleId": {
      "description": "filter by alert rule id",
      "name": "alertRuleId",
      "type": "string",
      "in": "query",
      "required": false
    },
    "actionGroup": {
      "description": "filter by action group configured as prt of action rule",
      "name": "actionGroup",
      "type": "string",
      "in": "query",
      "required": false
    },
    "pageCount": {
      "description": "number of items per page, default value is '25'.",
      "name": "pageCount",
      "type": "integer",
      "in": "query",
      "required": false,
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "errorResponse": {
      "description": "An error response from the service.",
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/errorResponseBody"
        }
      }
    },
    "errorResponseBody": {
      "description": "Details of error response.",
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code, intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "Description of the error, intended for display in user interface."
        },
        "target": {
          "type": "string",
          "description": "Target of the particular error, for example name of the property."
        },
        "details": {
          "type": "array",
          "description": "A list of additional details about the error.",
          "items": {
            "$ref": "#/definitions/errorResponseBody"
          }
        }
      }
    },
    "Resource": {
      "x-ms-azure-resource": true,
      "description": "An azure resource object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource Id"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource type"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Azure resource name"
        }
      }
    },
    "ManagedResource": {
      "x-ms-azure-resource": true,
      "description": "An azure managed resource object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ]
    },
    "scope": {
      "type": "object",
      "description": "Target scope for a given action rule. By default scope will be the subscription. User can also provide list of resource groups or list of resources from the scope subscription as well.",
      "properties": {
        "type": {
          "type": "string",
          "description": "type of target scope",
          "enum": [
            "ResourceGroup",
            "Resource"
          ],
          "x-ms-enum": {
            "name": "ScopeType",
            "modelAsString": true
          }
        },
        "values": {
          "type": "array",
          "description": "list of ARM IDs of the given scope type which will be the target of the given action rule.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "condition": {
      "type": "object",
      "description": "condition to trigger an action rule",
      "properties": {
        "operator": {
          "type": "string",
          "description": "operator for a given condition",
          "enum": [
            "Equals",
            "NotEquals",
            "Contains",
            "DoesNotContain"
          ],
          "x-ms-enum": {
            "name": "Operator",
            "modelAsString": true
          }
        },
        "values": {
          "type": "array",
          "description": "list of values to match for a given condition.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "conditions": {
      "type": "object",
      "description": "Conditions in alert instance to be matched for a given action rule. Default value is all. Multiple values could be provided with comma separation.",
      "properties": {
        "severity": {
          "$ref": "#/definitions/condition"
        },
        "monitorService": {
          "$ref": "#/definitions/condition"
        },
        "monitorCondition": {
          "$ref": "#/definitions/condition"
        },
        "signalType": {
          "$ref": "#/definitions/condition"
        },
        "targetResourceType": {
          "$ref": "#/definitions/condition"
        },
        "alertRuleId": {
          "$ref": "#/definitions/condition"
        },
        "description": {
          "$ref": "#/definitions/condition"
        },
        "alertContext": {
          "$ref": "#/definitions/condition"
        }
      }
    },
    "suppressionConfig": {
      "type": "object",
      "discriminator": "recurrenceType",
      "description": "Suppression logic for a given action rule",
      "required": [
        "recurrenceType"
      ],
      "properties": {
        "recurrenceType": {
          "type": "string",
          "description": "Specifies when the suppression should be applied",
          "enum": [
            "Always",
            "Once",
            "Daily",
            "Weekly",
            "Monthly"
          ],
          "x-ms-enum": {
            "name": "SuppressionType",
            "modelAsString": true
          }
        },
        "schedule": {
          "$ref": "#/definitions/suppressionSchedule"
        }
      }
    },
    "suppressionSchedule": {
      "type": "object",
      "description": "Schedule for a given suppression configuration.",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "Start date for suppression"
        },
        "endDate": {
          "type": "string",
          "description": "End date for suppression"
        },
        "startTime": {
          "type": "string",
          "description": "Start time for suppression"
        },
        "endTime": {
          "type": "string",
          "description": "End time for suppression"
        },
        "recurrenceValues": {
          "type": "array",
          "description": "Specifies the values for recurrence pattern",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "actionRule": {
      "description": "Action rule object defined on one or more ARM scope, filtered by conditions, having suppression/action group/diagnostics enabled",
      "allOf": [
        {
          "$ref": "#/definitions/ManagedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/actionRuleProperties"
        }
      }
    },
    "actionRuleProperties": {
      "description": "Action rule properties defining scope, conditions, suppression logic for action rule",
      "discriminator": "type",
      "required": [
        "type"
      ],
      "properties": {
        "scope": {
          "$ref": "#/definitions/scope"
        },
        "conditions": {
          "$ref": "#/definitions/conditions"
        },
        "description": {
          "type": "string",
          "description": "Description of action rule"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "Creation time of action rule. Date-Time in ISO-8601 format.",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "Last updated time of action rule. Date-Time in ISO-8601 format.",
          "readOnly": true
        },
        "createdBy": {
          "type": "string",
          "description": "Created by user name.",
          "readOnly": true
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "Last modified by user name.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Indicates if the given action rule is enabled or disabled",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "x-ms-enum": {
            "name": "ActionRuleStatus",
            "modelAsString": true
          }
        },
        "type": {
          "type": "string",
          "description": "Indicates type of action rule",
          "enum": [
            "Suppression",
            "ActionGroup",
            "Diagnostics"
          ],
          "x-ms-enum": {
            "name": "ActionRuleType",
            "modelAsString": true
          }
        }
      }
    },
    "Suppression": {
      "title": "Suppression based Action Rule",
      "description": "Action rule with suppression configuration",
      "required": [
        "suppressionConfig"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/actionRuleProperties"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "suppressionConfig": {
          "$ref": "#/definitions/suppressionConfig"
        }
      }
    },
    "ActionGroup": {
      "title": "Action Group based Action Rule",
      "description": "Action rule with action group configuration",
      "required": [
        "actionGroupId"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/actionRuleProperties"
        },
        {
          "type": "object"
        }
      ],
      "properties": {
        "actionGroupId": {
          "type": "string",
          "description": "Action group to trigger if action rule matches"
        }
      }
    },
    "Diagnostics": {
      "title": "Diagnostics based Action Rule",
      "description": "Action rule with diagnostics configuration",
      "allOf": [
        {
          "$ref": "#/definitions/actionRuleProperties"
        },
        {
          "type": "object"
        }
      ]
    },
    "actionRulesList": {
      "description": "List of action rules",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "URL to fetch the next set of action rules"
        },
        "value": {
          "type": "array",
          "description": "List of action rules",
          "items": {
            "$ref": "#/definitions/actionRule"
          }
        }
      }
    },
    "patchObject": {
      "description": "Properties supported by patch",
      "properties": {
        "status": {
          "type": "string",
          "description": "Indicates if the given action rule is enabled or disabled",
          "enum": [
            "enabled",
            "disabled"
          ],
          "x-ms-enum": {
            "name": "ActionRuleStatus",
            "modelAsString": true
          }
        },
        "tags": {
          "type": "object",
          "description": "tags to be updated"
        }
      }
    }
  }
}