{
  "swagger": "2.0",
  "info": {
    "version": "2015-05-01-preview",
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}": {
      "get": {
        "tags": [
          "JobAccounts"
        ],
        "description": "Returns information about an Azure SQL job account.",
        "operationId": "JobAccounts_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job account is hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the Azure SQL job account to be retrieved.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the specified job account.",
            "schema": {
              "$ref": "#/definitions/JobAccountResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "JobAccounts"
        ],
        "description": "Creating a new Azure SQL job account or updating an existing Azure SQL job account.",
        "operationId": "JobAccounts_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job account is hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the Azure SQL job account to be created or updated.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountResource",
            "in": "body",
            "description": "The requested job account resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobAccountResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the job account.",
            "schema": {
              "$ref": "#/definitions/JobAccountResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidJobAccountCreateOrUpdateRequest - The create or update job account request body is empty or invalid.\n\n * 400 InvalidDatabaseResourceId - Invalid database resource identifier.\n\n * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.\n\n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.\n\n * 400 DatabaseDoesNotExist - The requested database was not found\n\n * 400 JobAccountExceededAccountsQuota - Could not create job account because it would exceed the quota.\n\n * 400 JobAccountAlreadyExists - The job account already exists on the server.\n\n * 400 JobAccountDatabaseEditionUnsupported - The specified database's service level objective is not supported for use as a job account database.\n\n * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 SubscriptionNotFound - The requested subscription was not found.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "201": {
            "description": "Successfully created the job account.",
            "schema": {
              "$ref": "#/definitions/JobAccountResource"
            }
          }
        },
        "deprecated": false,
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "JobAccounts"
        ],
        "description": "Deletes the Azure SQL job account with the given name.",
        "operationId": "JobAccounts_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job account is hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the Azure SQL job account to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the job account."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "204": {
            "description": "The specified job account does not exist."
          }
        },
        "deprecated": false,
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}/credentials": {
      "get": {
        "tags": [
          "JobCredentials"
        ],
        "description": "Returns a list of Elastic jobs credentials.",
        "operationId": "JobCredentials_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of job credentials.",
            "schema": {
              "$ref": "#/definitions/JobCredentialResourceList"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}/credentials/{credentialName}": {
      "get": {
        "tags": [
          "JobCredentials"
        ],
        "description": "Returns information about an Elastic jobs credential.",
        "operationId": "JobCredentials_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentialName",
            "in": "path",
            "description": "The name of the credential.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the job credential.",
            "schema": {
              "$ref": "#/definitions/JobCredentialResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "JobCredentials"
        ],
        "description": "Creates or updates an Elastic jobs credential.",
        "operationId": "JobCredentials_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentialName",
            "in": "path",
            "description": "The name of the credential.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The requested job credential state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobCredentialResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the credential.",
            "schema": {
              "$ref": "#/definitions/JobCredentialResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "201": {
            "description": "Successfully created the credential.",
            "schema": {
              "$ref": "#/definitions/JobCredentialResource"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "JobCredentials"
        ],
        "description": "Deletes the Elastic job credential with the given name.",
        "operationId": "JobCredentials_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "credentialName",
            "in": "path",
            "description": "The name of the credential.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the credential."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "204": {
            "description": "A credential with the specified name does not exist."
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Returns information about Elastic jobs.",
        "operationId": "Jobs_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of jobs.",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}/jobs/{jobName}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Returns information about an Elastic job.",
        "operationId": "Jobs_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job to get.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the job.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "description": "Creates a new Elastic job or updates an existing Elastic job.",
        "operationId": "Jobs_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The requested job state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the job.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "201": {
            "description": "Successfully created the job.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "description": "Deletes the Elastic job with the given name.",
        "operationId": "Jobs_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job to delete.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the job account."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "204": {
            "description": "The specified job account does not exist."
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}/jobs/{jobName}/steps": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Returns a list of the steps under an Elastic job.",
        "operationId": "Jobs_ListJobSteps",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job step to get.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of job steps.",
            "schema": {
              "$ref": "#/definitions/JobStepResourceList"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Adds a step to an existing Elastic job.",
        "operationId": "Jobs_CreateJobStep",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job step to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The requested state of the job step.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobStepResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "201": {
            "description": "Successfully added the job step.",
            "schema": {
              "$ref": "#/definitions/JobStepResource"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}/jobs/{jobName}/steps/{jobStepId}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Returns information about Elastic job steps.",
        "operationId": "Jobs_GetJobStep",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job step to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobStepId",
            "in": "path",
            "description": "The id of the job step.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the job step.",
            "schema": {
              "$ref": "#/definitions/JobStepResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "description": "Creates a new step under an Elastic job or updates an existing step.",
        "operationId": "Jobs_CreateOrUpdateJobStep",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job step to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobStepId",
            "in": "path",
            "description": "The id of the job step.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The requested state of the job step.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobStepResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the job step.",
            "schema": {
              "$ref": "#/definitions/JobStepResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 JobStepIdMismatch - Step Id in the specified Job Step URI does not match step id in provided Job Step Resource.\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "201": {
            "description": "Successfully added the job step.",
            "schema": {
              "$ref": "#/definitions/JobStepResource"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "description": "Deletes the Elastic job step with the given name.",
        "operationId": "Jobs_DeleteJobStep",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the job step to get.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobStepId",
            "in": "path",
            "description": "The id of the job step.",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the job step."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "204": {
            "description": "The specified job step does not exist."
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}/targetGroups": {
      "get": {
        "tags": [
          "TargetGroups"
        ],
        "description": "Returns a list of Elastic jobs target groups.",
        "operationId": "TargetGroups_List",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of target groups.",
            "schema": {
              "$ref": "#/definitions/TargetGroupResourceList"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/jobAccounts/{jobAccountName}/targetGroups/{targetGroupName}": {
      "get": {
        "tags": [
          "TargetGroups"
        ],
        "description": "Returns a Elastic jobs target group.",
        "operationId": "TargetGroups_Get",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetGroupName",
            "in": "path",
            "description": "The name of the target group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the target group.",
            "schema": {
              "$ref": "#/definitions/TargetGroupResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "TargetGroups"
        ],
        "description": "Creates or updates an Elastic jobs target group.",
        "operationId": "TargetGroups_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetGroupName",
            "in": "path",
            "description": "The name of the target group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The requested state of the target group.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TargetGroupResource"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the target group.",
            "schema": {
              "$ref": "#/definitions/JobCredentialResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "201": {
            "description": "Successfully created the target group.",
            "schema": {
              "$ref": "#/definitions/JobCredentialResource"
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "TargetGroups"
        ],
        "description": "Deletes the Elastic job target group with the given name.",
        "operationId": "TargetGroups_DeleteTargetGroup",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server that the job accounts are hosted in.",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobAccountName",
            "in": "path",
            "description": "The name of the job account.",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetGroupName",
            "in": "path",
            "description": "The name of the target group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the target group."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 404 JobAccountNotFound - Specified elastic job account does not exist in the specified logical server.\n\n * 404 SubscriptionDoesNotHaveServer - The requested server was not found\n\n * 404 ResourceNotFound - The requested resource was not found.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          },
          "204": {
            "description": "A target group with the specified name does not exist."
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    
    "ArmResourceSku": {
      "type": "object",
      "description": "Represents an ARM Resource SKU",
      "properties": {
        "name": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        },
        "size": {
          "type": "string"
        },
        "family": {
          "type": "string"
        },
        "capacity": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ArmErrorResponseMessage": {
      "type": "object",
      "description": "represents and error message.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ArmErrorResponseExtendedErrorInfo"
        }
      }
    },
    "ArmErrorResponseExtendedErrorInfo": {
      "type": "object",
      "description": "Detailed information about the error that occurred.",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArmErrorResponseErrorDetail"
          }
        },
        "innerError": {},
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "ArmErrorResponseErrorDetail": {
      "type": "object",
      "description": "Details about the error that occurred",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "JobAccountResourceList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobAccountResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "JobAccountResource": {
      "description": "Contains information about an Azure SQL Database Elastic job account.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/JobAccountResourceProperties"
        }
      }
    },
    "JobAccountResourceProperties": {
      "description": "Properties for an Azure SQL Database Elastic job account.",
      "type": "object",
      "properties": {
        "databaseId": {
          "description": "ARM id of the job account control database.",
          "type": "string"
        }
      }
    },
    "JobCredentialResourceList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobCredentialResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "JobCredentialResource": {
      "description": "Contains information about an Azure SQL Database Elastic job credential.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/ArmResourceSku"
        },
        "kind": {
          "enum": [
            "None",
            "V2",
            "V12",
            "User",
            "System",
            "Datawarehouse"
          ],
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/JobCredentialResourceProperties"
        }
      }
    },
    "JobCredentialResourceProperties": {
      "description": "Properties for an Azure SQL Database Elastic job credential.",
      "type": "object",
      "properties": {
        "username": {
          "description": "Username for the credential.",
          "type": "string"
        },
        "password": {
          "description": "Password for the credential.",
          "type": "string"
        }
      }
    },
    "JobResourceList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "JobResource": {
      "description": "Contains information about an Azure SQL Database Elastic job.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/ArmResourceSku"
        },
        "kind": {
          "enum": [
            "None",
            "V2",
            "V12",
            "User",
            "System",
            "Datawarehouse"
          ],
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/JobResourceProperties"
        }
      }
    },
    "JobResourceProperties": {
      "description": "Properties for an Azure SQL Database Elastic job.",
      "type": "object",
      "properties": {
        "versionNumber": {
          "format": "int32",
          "description": "Version number of the Elastic job.",
          "type": "integer"
        },
        "schedule": {
          "$ref": "#/definitions/ScheduleProperties",
          "description": "Schedule properties for the Elastic job."
        }
      }
    },
    "ScheduleProperties": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "date-time",
          "description": "Schedule start time.",
          "type": "string"
        },
        "endTime": {
          "format": "date-time",
          "description": "Schedule end time.",
          "type": "string"
        },
        "intervalType": {
          "description": "Schedule interval type (i.e. minutes, hours, days, once)",
          "enum": [
            "Once",
            "Minutes",
            "Hours",
            "Days",
            "Weeks",
            "Months"
          ],
          "type": "string"
        },
        "intervalValue": {
          "format": "int32",
          "description": "Value of the schedule's repetition interval (if not once).",
          "type": "integer"
        },
        "enabled": {
          "description": "Whether or not the job schedule is enabled.",
          "type": "boolean"
        }
      }
    },
    "JobStepResourceList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStepResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "JobStepResource": {
      "description": "Contains information about an Azure SQL Database Elastic job step.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/ArmResourceSku"
        },
        "kind": {
          "enum": [
            "None",
            "V2",
            "V12",
            "User",
            "System",
            "Datawarehouse"
          ],
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/JobStepResourceProperties"
        }
      }
    },
    "JobStepResourceProperties": {
      "description": "Properties for an Azure SQL Database Elastic job step.",
      "type": "object",
      "properties": {
        "stepId": {
          "format": "int32",
          "description": "The index of the job step.",
          "type": "integer"
        },
        "targetGroup": {
          "description": "Target group for the job step.",
          "type": "string"
        },
        "credential": {
          "description": "Credential of the job step.",
          "type": "string"
        },
        "action": {
          "$ref": "#/definitions/ActionProperties",
          "description": "The action payload of the job step."
        },
        "output": {
          "$ref": "#/definitions/OutputProperties",
          "description": "Output destination properties of the job step."
        },
        "executionOptions": {
          "$ref": "#/definitions/ExecutionProperties",
          "description": "Execution options for the job step."
        }
      }
    },
    "ActionProperties": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of action being executed by the job step.",
          "enum": [
            "Tsql",
            "Dacpac"
          ],
          "type": "string"
        },
        "source": {
          "description": "The source of the action to execute (inline or URI).",
          "enum": [
            "Inline",
            "Uri"
          ],
          "type": "string"
        },
        "value": {
          "description": "The action payload for the job step.",
          "type": "string"
        }
      }
    },
    "OutputProperties": {
      "type": "object",
      "properties": {
        "database": {
          "description": "The name of the destination database.",
          "type": "string"
        },
        "schema": {
          "description": "The name of the destination schema.",
          "type": "string"
        },
        "table": {
          "description": "The name of the destination table.",
          "type": "string"
        },
        "credential": {
          "description": "The name of the credential to use to write into the destination database, schema and table.",
          "type": "string"
        }
      }
    },
    "ExecutionProperties": {
      "type": "object",
      "properties": {
        "timeoutSeconds": {
          "format": "int32",
          "description": "Execution timeout for the job step.",
          "type": "integer"
        },
        "maxAttempts": {
          "format": "int32",
          "description": "Maximum number of times the job step will be attempted.",
          "type": "integer"
        },
        "initialRetryDelaySeconds": {
          "format": "int32",
          "description": "Initial delay between retries for job step execution.",
          "type": "integer"
        },
        "maximumRetryDelaySeconds": {
          "format": "int32",
          "description": "The maximum amount of time to wait between retries for job step execution.",
          "type": "integer"
        },
        "retryDelayBackoffCoefficient": {
          "format": "double",
          "description": "The backoff coefficient for the time between retries.",
          "type": "number"
        }
      }
    },
    "TargetGroupResourceList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TargetGroupResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "TargetGroupResource": {
      "description": "Contains information about an Azure SQL Database Elastic job target group.",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "sku": {
          "$ref": "#/definitions/ArmResourceSku"
        },
        "kind": {
          "enum": [
            "None",
            "V2",
            "V12",
            "User",
            "System",
            "Datawarehouse"
          ],
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/TargetGroupResourceProperties"
        }
      }
    },
    "TargetGroupResourceProperties": {
      "description": "Properties for an Azure SQL Database Elastic job target group.",
      "type": "object",
      "properties": {}
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription credentials which uniquely identify Microsoft Azure subscription.",
      "required": true,
      "format": "uuid",
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client Api Version.",
      "required": true,
      "x-ms-parameter-location": "client",
      "type": "string"
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The name of the Resource Group to which the resource belongs.",
      "required": true,
      "x-ms-parameter-location": "method",
      "type": "string"
    }
  }
}