{
  "swagger": "2.0",
  "info": {
    "version": "2015-05-01-preview",
    "title": "SqlManagementClient",
    "description": "The Azure SQL Database management API provides a RESTful set of web APIs that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases, servers, and other entities."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/databases/{databaseName}/move": {
      "post": {
        "tags": [
          "Databases"
        ],
        "description": "Renames an Azure SQL Database.",
        "operationId": "Databases_Rename",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the Resource Group to which the Azure SQL Database Server belongs.",
            "required": true,
            "type": "string"
          },
          {
            "name": "serverName",
            "in": "path",
            "description": "The name of the Azure SQL Database Server on which the Azure SQL Database is hosted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "databaseName",
            "in": "path",
            "description": "The name of the Azure SQL Database to rename.",
            "required": true,
            "type": "string"
          },
          {
            "name": "definition",
            "in": "body",
            "description": "The resource move definition for renaming this database.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceMoveDefinition"
            }
          },
          {
            "name": "api-version",
            "in": "query",
            "description": "Client Api Version.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully renamed the database."
          },
          "default": {
            "description": "*** Error Responses: ***\n\n * 400 InvalidResourceMoveRequest - The resource move request is invalid.\n\n * 400 InvalidMoveTargetResourceId - The target resource identifier in move request is invalid.\n\n * 400 MismatchingSubscriptionWithUrl - The provided subscription did not match the subscription in the Url.\n\n * 400 MismatchingResourceGroupNameWithUrl - The provided resource group name did not match the name in the Url.\n\n * 400 MismatchingServerNameWithUrl - The provided server name did not match the name in the Url.\n\n * 400 UnsupportedServiceName - The specified name is an invalid name because it contains one or more unsupported unicode characters.\n\n * 400 TokenTooLong - The provided token is too long.\n\n * 400 SourceDatabaseNotFound - The source database does not exist.\n\n * 400 CannotUseReservedDatabaseName - Cannot use reserved database name in this operation.\n\n * 400 InvalidIdentifier - The identifier contains NULL or an invalid unicode character.\n\n * 400 CannotMoveOrDropJobAccountDatabase - Cannot drop database associated with job account.",
            "schema": {
              "$ref": "#/definitions/ArmErrorResponseMessage"
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "definitions": {
    "ResourceMoveDefinition": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "ArmErrorResponseMessage": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ArmErrorResponseExtendedErrorInfo"
        }
      }
    },
    "ArmErrorResponseExtendedErrorInfo": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ArmErrorResponseErrorDetail"
          }
        },
        "innerError": {},
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "ArmErrorResponseErrorDetail": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "target": {
          "type": "string"
        }
      }
    },
    "ArmResourceSku": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "tier": {
          "type": "string"
        },
        "size": {
          "type": "string"
        },
        "family": {
          "type": "string"
        },
        "capacity": {
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Respresents a SKU on an ARM resource"
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "format": "uuid",
      "description": "The subscription credentials which uniquely identify Microsoft Azure subscription."
    }
  }
}