{
  "swagger": "2.0",
  "info": {
    "title": "SqlManagementClient",
    "description": "The Windows Azure SQL Database management API provides a RESTful set of web services that interact with Windows Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete databases and servers.",
    "version": "2015-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json"
  ],
  "produces": [
    "application/json",
    "text/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/securityAlertPolicies/Default": {
      "put": {
        "tags": [
          "SecurityAlertPolicy"
        ],
        "operationId": "SecurityAlertPolicy_CreateOrUpdateServerSecurityAlertPolicy",
        "description": "Creates or updates an Azure SQL Server security alert policy.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Resource Group to which the server belongs."
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServerSecurityAlertPolicyCreateOrUpdateParameters"
            },
            "description": "The required parameters for creating or updating a Azure SQL Server security alert policy."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "201": {
            "description": ""
          }
        }
      },
      "get": {
        "tags": [
          "SecurityAlertPolicy"
        ],
        "operationId": "SecurityAlertPolicy_GetServerSecurityAlertPolicy",
        "description": "Returns an Azure SQL Server security alert policy.",
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Resource Group to which the server belongs."
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Azure SQL Server."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ServerSecurityAlertPolicy"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ServerSecurityAlertPolicyProperties": {
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the state of the Azure SQL Security alert policy."
        },
        "disabledAlerts": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the disable alerts of the Azure SQL Security alert policy."
        },
        "emailAddresses": {
          "readOnly": true,
          "type": "string",
          "description": "Gets the list of email addresses to send the alert."
        },
        "emailAccountAdmins": {
          "readOnly": true,
          "type": "string",
          "description": "Gets whether to email the azure account admins."
        }
      },
      "description": "Represents the properties of an Azure SQL Security alert policy."
    },
    "ServerSecurityAlertPolicyCreateOrUpdateParameters": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerSecurityAlertPolicyProperties",
          "description": "Gets or sets the properties of the request."
        }
      },
      "required": [
        "properties"
      ],
      "description": "Create or update server security alert policy parameters."
    },
    "ServerSecurityAlertPolicy": {
      "properties": {
        "properties": {
          "$ref": "#/definitions/ServerSecurityAlertPolicyProperties",
          "description": "Represents the properties of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "description": "Represents an Azure SQL Server Security Alert Policy."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}