{
    "swagger": "2.0",
    "info": {
        "title": "Azure Log Analytics - Operations Management",
        "description": "Azure Log Analytics API reference for Solution.",
        "version": "2015-11-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {       
        "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions/{solutionName}": {
            "put": {
                "tags": [
                    "Solution"
                ],
                "operationId": "OperationsManagement_CreateSolution",
                "summary": "Creates Solution.",
                "description": "Creates or updates the Solution.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },                    
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SolutionNameParameter"
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Solution"
                        },
                        "description": "The parameters required to create OMS Solution."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/SolutionOutput"
                        }
                    },
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/CodeMessageError"
                        },
                        "description": "Error response definition."
                    }
                }
            },
            "delete": {
                "tags": [
                    "Solution"
                ],
                "operationId": "OperationsManagement_DeleteSolution",
                "summary": "Deletes the solution",
                "description": "Deletes the solution in the subscription.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },                   
                    {
                        "$ref": "#/parameters/SolutionNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition."
                    },
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/CodeMessageError"
                        },
                        "description": "Error response definition."
                    }
                }
            },
            "get": {
                "tags": [
                    "Solution"
                ],
                "operationId": "OperationsManagement_GetSolution",
                "summary": "Retrieves the user solution.",
                "description": "Retrieves the user solution.",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },                    
                    {
                        "$ref": "#/parameters/SolutionNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/SolutionOutput"
                        }
                    },
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/CodeMessageError"
                        },
                        "description": "Error response definition."
                    }
                }
            }
        },
         "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.OperationsManagement/solutions": {
            "get": {
                "tags": [
                    "Solution"
                ],
                "operationId": "OperationsManagement_GetSolutionList",
                "summary": "Retrieves the solution list for the subscription",
                "description": "Retrieves the solution list. It will retrieve both first party and third party solutions",
                "parameters": [
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    },
                    {
                        "$ref": "#/parameters/ResourceGroupNameParameter"
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/SolutionPropertiesList"
                        }
                    },
                    "default": {
                        "schema": {
                            "$ref": "#/definitions/CodeMessageError"
                        },
                        "description": "Error response definition."
                    }
                }
            }
        }
    },
    "definitions": {        
        "SolutionProperties": {
            "properties": {
                "workspaceResourceId": {
                    "type": "string",
                    "description": "The azure resourceId for the workspace where the solution will be deployed/enabled."
                },
                "ContainedResources": {
                    "type": "array",
                    "items":{
                      "type":"string",
                      "description":"the azure resourceId of the resource."
                    },
                    "description": "The azure resources that will be contained within the solutions. They will be locked and gets deleted automatically when the solution is deleted."                    
                },
                "referencedResources": {
                    "type": "array",
                    "items":{
                      "type":"string",
                      "description":"the azure resourceId of the resource."
                    },
                    "description": "The resources that will be referenced from this solution. Deleting any of those solution out of band will break the solution."                    
                }
            },
            "required": [
                "workspaceResourceId"
            ]
        },
        "SolutionPropertiesList":{
          "properties":{
            "value":{
              "type":"array",
              "items":{
                "$ref":"#/definitions/SolutionOutput"
              },
              "description":"List of solution properites within the subscription."
            }
          },
          "description":"the list of solution response"
        },
        "SolutionPlan":{
            "properties":{
                "name":{
                  "type":"string",
                  "description":"name of the solution to be created. For Microsoft published solution it should be in the format of solutionType(workspaceName). SolutionType part is case sensitive. For third party solution, it can be anything."
                },
                "pulbisher": {
                  "type":"string",
                  "description": "Publisher name. For gallery solution, it is Microsoft."
                },
                "promotionCode":{
                  "type":"string",
                  "description":"promotionCode, Not really used now, can you left as empty"
                },
                "product":{
                  "type":"string",
                  "description":"name of the solution to enabled/add. For Microsoft published gallery solution it should be in the format of OMSGallery/<solutionType>. This is case sensitive"
                }
            }
        },
        "Solution": {
            "properties": {               
                "location": {
                    "type": "string",
                    "description": "Resource location"
                },
                "plan":{                 
                  "$ref":"#/definitions/SolutionPlan"                  
                },
                "properties": {                    
                    "$ref": "#/definitions/SolutionProperties"                    
                }               
            },  
            "description": "The container for solution."
        },
        "SolutionOutput": {
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource ID."
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name."
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type."
                },
                "location": {
                    "type": "string",
                    "description": "Resource location"
                },
                "plan":{                  
                  "$ref":"#/definitions/SolutionPlan"
                },
                "properties": {
                    "$ref": "#/definitions/SolutionProperties"                    
                }               
            },  
            "description": "The container for solution."
        },
        "CodeMessageError": {
            "properties": {
                "error": {
                    "type": "object",
                    "properties": {
                        "code": {
                            "type": "string",
                            "description": "The error type."
                        },
                        "message": {
                            "type": "string",
                            "description": "The error message."
                        }
                    },
                    "description": "The error details for a failed request."
                }
            },
            "description": "The error body contract."
        }      
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        },
        "ResourceGroupNameParameter": {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "method",
            "description": "The name of the resource group to get. The name is case insensitive.",
            "pattern": "^[-\\w\\._\\(\\)]+$",
            "minLength": 1,
            "maxLength": 90
        },
         "SolutionNameParameter": {
            "name": "solutionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "User Solution Name."
        }      
    }
}