{
  "swagger": "2.0",
  "info": {
    "version": "2020-10-01",
    "title": "StaticSites API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/locations/{location}/previewStaticSiteWorkflowFile": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Generates a preview workflow file for the static site",
        "description": "Generates a preview workflow file for the static site",
        "operationId": "StaticSites_PreviewWorkflow",
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "description": "Location where you plan to create the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "staticSitesWorkflowPreviewRequest",
            "in": "body",
            "description": "A JSON representation of the StaticSitesWorkflowPreviewRequest properties. See example.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StaticSitesWorkflowPreviewRequest"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StaticSitesWorkflowPreview"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Generates a preview workflow file for the static site": {
            "$ref": "./examples/GenerateStaticSiteWorkflowPreview.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Web/staticSites": {
      "get": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Get all Static Sites for a subscription.",
        "description": "Get all Static Sites for a subscription.",
        "operationId": "StaticSites_List",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StaticSiteCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all static sites in a subscription": {
            "$ref": "./examples/GetAllStaticSites.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites": {
      "get": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets all static sites in the specified resource group.",
        "description": "Gets all static sites in the specified resource group.",
        "operationId": "StaticSites_GetStaticSitesByResourceGroup",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get static sites for a resource group": {
            "$ref": "./examples/GetStaticSites.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}": {
      "get": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets the details of a static site.",
        "description": "Gets the details of a static site.",
        "operationId": "StaticSites_GetStaticSite",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteARMResource"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get details for a static site": {
            "$ref": "./examples/GetStaticSite.json"
          }
        }
      },
      "put": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Creates a new static site in an existing resource group, or updates an existing static site.",
        "description": "Creates a new static site in an existing resource group, or updates an existing static site.",
        "operationId": "StaticSites_CreateOrUpdateStaticSite",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site to create or update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "staticSiteEnvelope",
            "in": "body",
            "description": "A JSON representation of the staticsite properties. See example.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StaticSiteARMResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteARMResource"
            }
          },
          "202": {
            "description": "Asynchronous operation in progress.",
            "schema": {
              "$ref": "#/definitions/StaticSiteARMResource"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a static site": {
            "$ref": "./examples/CreateOrUpdateStaticSite.json"
          }
        }
      },
      "delete": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Deletes a static site.",
        "description": "Deletes a static site.",
        "operationId": "StaticSites_DeleteStaticSite",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site to delete.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a static site": {
            "$ref": "./examples/DeleteStaticSite.json"
          }
        }
      },
      "patch": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Creates a new static site in an existing resource group, or updates an existing static site.",
        "description": "Creates a new static site in an existing resource group, or updates an existing static site.",
        "operationId": "StaticSites_UpdateStaticSite",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site to create or update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "staticSiteEnvelope",
            "in": "body",
            "description": "A JSON representation of the staticsite properties. See example.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StaticSitePatchResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteARMResource"
            }
          },
          "202": {
            "description": "Asynchronous operation in progress.",
            "schema": {
              "$ref": "#/definitions/StaticSiteARMResource"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch a static site": {
            "$ref": "./examples/PatchStaticSite.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/authproviders/{authprovider}/listUsers": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets the list of users of a static site.",
        "description": "Gets the list of users of a static site.",
        "operationId": "StaticSites_ListStaticSiteUsers",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "authprovider",
            "in": "path",
            "description": "The auth provider for the users.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteUserCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List users for a static site": {
            "$ref": "./examples/ListStaticSiteUsers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/authproviders/{authprovider}/users/{userid}": {
      "delete": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Deletes the user entry from the static site.",
        "description": "Deletes the user entry from the static site.",
        "operationId": "StaticSites_DeleteStaticSiteUser",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the staticsite.",
            "required": true,
            "type": "string"
          },
          {
            "name": "authprovider",
            "in": "path",
            "description": "The auth provider for this user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userid",
            "in": "path",
            "description": "The user id of the user.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a user for a static site": {
            "$ref": "./examples/DeleteStaticSiteUser.json"
          }
        }
      },
      "patch": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Updates a user entry with the listed roles",
        "description": "Updates a user entry with the listed roles",
        "operationId": "StaticSites_UpdateStaticSiteUser",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "authprovider",
            "in": "path",
            "description": "The auth provider for this user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "userid",
            "in": "path",
            "description": "The user id of the user.",
            "required": true,
            "type": "string"
          },
          {
            "name": "staticSiteUserEnvelope",
            "in": "body",
            "description": "A JSON representation of the StaticSiteUser properties. See example.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StaticSiteUserARMResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteUserARMResource"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a user for a static site": {
            "$ref": "./examples/UpdateStaticSiteUser.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds": {
      "get": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets all static site builds for a particular static site.",
        "description": "Gets all static site builds for a particular static site.",
        "operationId": "StaticSites_GetStaticSiteBuilds",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteBuildCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get all builds for a static site": {
            "$ref": "./examples/GetStaticSiteBuilds.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{prId}": {
      "get": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets the details of a static site build.",
        "description": "Gets the details of a static site build.",
        "operationId": "StaticSites_GetStaticSiteBuild",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prId",
            "in": "path",
            "description": "The stage site identifier.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteBuildARMResource"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a static site build": {
            "$ref": "./examples/GetStaticSiteBuild.json"
          }
        }
      },
      "delete": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Deletes a static site build.",
        "description": "Deletes a static site build.",
        "operationId": "StaticSites_DeleteStaticSiteBuild",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prId",
            "in": "path",
            "description": "The stage site identifier.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a static site build": {
            "$ref": "./examples/DeleteStaticSiteBuild.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{prId}/config/functionappsettings": {
      "put": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Creates or updates the function app settings of a static site build.",
        "description": "Creates or updates the function app settings of a static site build.",
        "operationId": "StaticSites_CreateOrUpdateStaticSiteBuildFunctionAppSettings",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prId",
            "in": "path",
            "description": "The stage site identifier.",
            "required": true,
            "type": "string"
          },
          {
            "name": "appSettings",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "202": {
            "description": "Asynchronous operation in progress.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates the function app settings of a static site build.": {
            "$ref": "./examples/CreateOrUpdateStaticSiteBuildFunctionAppSettings.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{prId}/functions": {
      "get": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets the functions of a particular static site build.",
        "description": "Gets the functions of a particular static site build.",
        "operationId": "StaticSites_ListStaticSiteBuildFunctions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prId",
            "in": "path",
            "description": "The stage site identifier.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteFunctionOverviewCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the functions of a particular static site build": {
            "$ref": "./examples/ListStaticSiteBuildFunctions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/builds/{prId}/listFunctionAppSettings": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets the application settings of a static site.",
        "description": "Gets the application settings of a static site.",
        "operationId": "StaticSites_ListStaticSiteBuildFunctionAppSettings",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "prId",
            "in": "path",
            "description": "The stage site identifier.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "202": {
            "description": "Asynchronous operation in progress.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get function app settings of a static site build": {
            "$ref": "./examples/ListStaticSiteBuildFunctionAppSettings.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/config/functionappsettings": {
      "put": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Creates or updates the function app settings of a static site.",
        "description": "Creates or updates the function app settings of a static site.",
        "operationId": "StaticSites_CreateOrUpdateStaticSiteFunctionAppSettings",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "appSettings",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "202": {
            "description": "Asynchronous operation in progress.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates the function app settings of a static site.": {
            "$ref": "./examples/CreateOrUpdateStaticSiteFunctionAppSettings.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/createUserInvitation": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Creates an invitation link for a user with the role",
        "description": "Creates an invitation link for a user with the role",
        "operationId": "StaticSites_CreateUserRolesInvitationLink",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "staticSiteUserRolesInvitationEnvelope",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StaticSiteUserInvitationRequestResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteUserInvitationResponseResource"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create an invitation link for a user for a static site": {
            "$ref": "./examples/CreateUserRolesInvitationLink.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/customDomains": {
      "get": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets all static site custom domains for a particular static site.",
        "description": "Gets all static site custom domains for a particular static site.",
        "operationId": "StaticSites_ListStaticSiteCustomDomains",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site resource to search in.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StaticSiteCustomDomainOverviewCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List custom domains for a static site": {
            "$ref": "./examples/GetStaticSiteCustomDomains.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/customDomains/{domainName}": {
      "put": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Creates a new static site custom domain in an existing resource group and static site.",
        "description": "Creates a new static site custom domain in an existing resource group and static site.",
        "operationId": "StaticSites_CreateOrUpdateStaticSiteCustomDomain",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The custom domain to create.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteCustomDomainOverviewARMResource"
            }
          },
          "202": {
            "description": "Asynchronous operation in progress.",
            "schema": {
              "$ref": "#/definitions/StaticSiteCustomDomainOverviewARMResource"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a custom domain for a static site": {
            "$ref": "./examples/CreateOrUpdateStaticSiteCustomDomain.json"
          }
        }
      },
      "delete": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Deletes a custom domain.",
        "description": "Deletes a custom domain.",
        "operationId": "StaticSites_DeleteStaticSiteCustomDomain",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The custom domain to delete.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a custom domain for a static site": {
            "$ref": "./examples/DeleteStaticSiteCustomDomain.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/customDomains/{domainName}/validate": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Validates a particular custom domain can be added to a static site.",
        "description": "Validates a particular custom domain can be added to a static site.",
        "operationId": "StaticSites_ValidateCustomDomainCanBeAddedToStaticSite",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "The custom domain to validate.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validate a custom domain for a static site": {
            "$ref": "./examples/ValidateStaticSiteCustomDomain.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/detach": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Detaches a static site.",
        "description": "Detaches a static site.",
        "operationId": "StaticSites_DetachStaticSite",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site to detach.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "202": {
            "description": "Asynchronous operation in progress."
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Detach a static site": {
            "$ref": "./examples/DetachStaticSite.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/functions": {
      "get": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets the functions of a static site.",
        "description": "Gets the functions of a static site.",
        "operationId": "StaticSites_ListStaticSiteFunctions",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "#/definitions/StaticSiteFunctionOverviewCollection"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets the functions of a static site": {
            "$ref": "./examples/ListStaticSiteFunctions.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listFunctionAppSettings": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Gets the application settings of a static site.",
        "description": "Gets the application settings of a static site.",
        "operationId": "StaticSites_ListStaticSiteFunctionAppSettings",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "202": {
            "description": "Asynchronous operation in progress.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get function app settings of a static site": {
            "$ref": "./examples/ListStaticSiteFunctionAppSettings.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/listSecrets": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Lists the secrets for an existing static site.",
        "description": "Lists the secrets for an existing static site.",
        "operationId": "StaticSites_ListStaticSiteSecrets",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/StringDictionary"
            }
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List secrets for a static site": {
            "$ref": "./examples/ListStaticSiteSecrets.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/staticSites/{name}/resetapikey": {
      "post": {
        "tags": [
          "StaticSites"
        ],
        "summary": "Resets the api key for an existing static site.",
        "description": "Resets the api key for an existing static site.",
        "operationId": "StaticSites_ResetStaticSiteApiKey",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the static site.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resetPropertiesEnvelope",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StaticSiteResetPropertiesARMResource"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK."
          },
          "default": {
            "description": "App Service error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Reset the api key for a static site": {
            "$ref": "./examples/ResetStaticSiteApiKey.json"
          }
        }
      }
    }
  },
  "definitions": {
    "StaticSite": {
      "description": "A static site.",
      "type": "object",
      "properties": {
        "defaultHostname": {
          "description": "The default autogenerated hostname for the static site.",
          "type": "string",
          "readOnly": true
        },
        "repositoryUrl": {
          "description": "URL for the repository of the static site.",
          "type": "string"
        },
        "branch": {
          "description": "The target branch in the repository.",
          "type": "string"
        },
        "customDomains": {
          "description": "The custom domains associated with this static site.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "repositoryToken": {
          "description": "A user's github repository token. This is used to setup the Github Actions workflow file and API secrets.",
          "type": "string"
        },
        "buildProperties": {
          "$ref": "#/definitions/StaticSiteBuildProperties",
          "description": "Build properties to configure on the repository."
        }
      }
    },
    "StaticSiteARMResource": {
      "description": "Static Site ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/StaticSite",
          "description": "Core resource properties",
          "x-ms-client-flatten": true
        },
        "sku": {
          "$ref": "./CommonDefinitions.json#/definitions/SkuDescription"
        }
      }
    },
    "StaticSiteBuildARMResource": {
      "description": "Static Site Build ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSiteBuildARMResource resource specific properties",
          "properties": {
            "buildId": {
              "description": "An identifier for the static site build.",
              "type": "string",
              "readOnly": true
            },
            "sourceBranch": {
              "description": "The source branch.",
              "type": "string",
              "readOnly": true
            },
            "pullRequestTitle": {
              "description": "The title of a pull request that a static site build is related to.",
              "type": "string",
              "readOnly": true
            },
            "hostname": {
              "description": "The hostname for a static site build.",
              "type": "string",
              "readOnly": true
            },
            "createdTimeUtc": {
              "format": "date-time",
              "description": "When this build was created.",
              "type": "string",
              "readOnly": true
            },
            "lastUpdatedOn": {
              "format": "date-time",
              "description": "When this build was updated.",
              "type": "string",
              "readOnly": true
            },
            "status": {
              "description": "The status of the static site build.",
              "enum": [
                "WaitingForDeployment",
                "Uploading",
                "Deploying",
                "Ready",
                "Failed",
                "Deleting",
                "Detached"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "BuildStatus",
                "modelAsString": true
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSiteBuildCollection": {
      "description": "Collection of static site builds.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StaticSiteBuildARMResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StaticSiteBuildProperties": {
      "description": "Build properties for the static site.",
      "type": "object",
      "properties": {
        "appLocation": {
          "description": "The path to the app code within the repository.",
          "type": "string"
        },
        "apiLocation": {
          "description": "The path to the api code within the repository.",
          "type": "string"
        },
        "appArtifactLocation": {
          "description": "The path of the app artifacts after building.",
          "type": "string"
        }
      }
    },
    "StaticSiteCollection": {
      "description": "Collection of static sites.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StaticSiteARMResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StaticSiteCustomDomainOverviewARMResource": {
      "description": "Static Site Custom Domain Overview ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSiteCustomDomainOverviewARMResource resource specific properties",
          "properties": {
            "domainName": {
              "description": "The domain name for the static site custom domain.",
              "type": "string",
              "readOnly": true
            },
            "createdOn": {
              "format": "date-time",
              "description": "The date and time on which the custom domain was created for the static site.",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSiteCustomDomainOverviewCollection": {
      "description": "Collection of static site custom domains.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StaticSiteCustomDomainOverviewARMResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StaticSiteFunctionOverviewARMResource": {
      "description": "Static Site Function Overview ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSiteFunctionOverviewARMResource resource specific properties",
          "properties": {
            "functionName": {
              "description": "The name for the function",
              "type": "string",
              "readOnly": true
            },
            "triggerType": {
              "description": "The trigger type of the function",
              "enum": [
                "HttpTrigger",
                "Unknown"
              ],
              "type": "string",
              "readOnly": true,
              "x-ms-enum": {
                "name": "TriggerTypes",
                "modelAsString": true
              }
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSiteFunctionOverviewCollection": {
      "description": "Collection of static site functions.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StaticSiteFunctionOverviewARMResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StaticSitePatchResource": {
      "description": "ARM resource for a static site when patching",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/StaticSite",
          "description": "Core resource properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSiteResetPropertiesARMResource": {
      "description": "Static Site Reset Properties ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSiteResetPropertiesARMResource resource specific properties",
          "properties": {
            "repositoryToken": {
              "description": "The token which proves admin privileges to the repository.",
              "type": "string"
            },
            "shouldUpdateRepository": {
              "description": "Determines whether the repository should be updated with the new properties.",
              "type": "boolean"
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSiteUserARMResource": {
      "description": "Static Site User ARM resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSiteUserARMResource resource specific properties",
          "properties": {
            "provider": {
              "description": "The identity provider for the static site user.",
              "type": "string",
              "readOnly": true
            },
            "userId": {
              "description": "The user id for the static site user.",
              "type": "string",
              "readOnly": true
            },
            "displayName": {
              "description": "The display name for the static site user.",
              "type": "string",
              "readOnly": true
            },
            "roles": {
              "description": "The roles for the static site user, in free-form string format",
              "type": "string"
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSiteUserCollection": {
      "description": "Collection of static site custom users.",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StaticSiteUserARMResource"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StaticSiteUserInvitationRequestResource": {
      "description": "Static sites user roles invitation resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSiteUserInvitationRequestResource resource specific properties",
          "properties": {
            "domain": {
              "description": "The domain name for the static site custom domain.",
              "type": "string"
            },
            "provider": {
              "description": "The identity provider for the static site user.",
              "type": "string"
            },
            "userDetails": {
              "description": "The user id for the static site user.",
              "type": "string"
            },
            "roles": {
              "description": "The roles for the static site user, in free-form string format",
              "type": "string"
            },
            "numHoursToExpiration": {
              "format": "int32",
              "description": "The number of hours the sas token stays valid",
              "type": "integer"
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSiteUserInvitationResponseResource": {
      "description": "Static sites user roles invitation link resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSiteUserInvitationResponseResource resource specific properties",
          "properties": {
            "expiresOn": {
              "format": "date-time",
              "description": "The expiration time of the invitation",
              "type": "string",
              "readOnly": true
            },
            "invitationUrl": {
              "description": "The url for the invitation link",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSitesWorkflowPreview": {
      "description": "Preview for the Static Site Workflow to be generated",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSitesWorkflowPreview resource specific properties",
          "properties": {
            "path": {
              "description": "The path for the workflow file to be generated",
              "type": "string",
              "readOnly": true
            },
            "contents": {
              "description": "The contents for the workflow file to be generated",
              "type": "string",
              "readOnly": true
            }
          },
          "x-ms-client-flatten": true
        }
      }
    },
    "StaticSitesWorkflowPreviewRequest": {
      "description": "Request entity for previewing the Static Site workflow",
      "type": "object",
      "allOf": [
        {
          "$ref": "./CommonDefinitions.json#/definitions/ProxyOnlyResource"
        }
      ],
      "properties": {
        "properties": {
          "description": "StaticSitesWorkflowPreviewRequest resource specific properties",
          "properties": {
            "repositoryUrl": {
              "description": "URL for the repository of the static site.",
              "type": "string"
            },
            "branch": {
              "description": "The target branch in the repository.",
              "type": "string"
            },
            "buildProperties": {
              "$ref": "#/definitions/StaticSiteBuildProperties",
              "description": "Build properties to configure on the repository."
            }
          },
          "x-ms-client-flatten": true
        }
      }
    }
  },
  "parameters": {
    "subscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
      "required": true,
      "type": "string"
    },
    "resourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "Name of the resource group to which the resource belongs.",
      "required": true,
      "type": "string",
      "maxLength": 90,
      "minLength": 1,
      "pattern": "^[-\\w\\._\\(\\)]+[^\\.]$",
      "x-ms-parameter-location": "method"
    },
    "apiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "API Version",
      "required": true,
      "type": "string"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
