{
  "swagger": "2.0",
  "info": {
    "version": "2022-11-01",
    "title": "Billing benefits RP",
    "description": "Azure Benefits RP let users create and manage benefits like savings plan."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.BillingBenefits/operations": {
      "get": {
        "summary": "Get operations.",
        "description": "List all the operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "OperationsGet": {
            "$ref": "./examples/OperationsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "tags": [
          "Benefits operations"
        ],
        "responses": {
          "200": {
            "description": "List all the operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrderAliases/{savingsPlanOrderAliasName}": {
      "put": {
        "description": "Create a savings plan. Learn more about permissions needed at https://go.microsoft.com/fwlink/?linkid=2215851",
        "operationId": "SavingsPlanOrderAlias_Create",
        "externalDocs": {
          "url": "https://go.microsoft.com/fwlink/?linkid=2215851/"
        },
        "tags": [
          "Savings plan order aliases"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "SavingsPlanOrderAliasCreate": {
            "$ref": "./examples/SavingsPlanOrderAliasCreate.json"
          },
          "SavingsPlanOrderAliasCreateSingleScope": {
            "$ref": "./examples/SavingsPlanOrderAliasCreateSingleScope.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderAliasNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanOrderAliasRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been created.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          },
          "201": {
            "description": "The request is being processed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Get a savings plan.",
        "operationId": "SavingsPlanOrderAlias_Get",
        "tags": [
          "Savings plan order aliases"
        ],
        "x-ms-examples": {
          "SavingsPlanOrderAliasGet": {
            "$ref": "./examples/SavingsPlanOrderAliasGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderAliasNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderAliasModel"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}": {
      "get": {
        "description": "Get a savings plan order.",
        "operationId": "SavingsPlanOrder_Get",
        "tags": [
          "Savings plan order"
        ],
        "x-ms-examples": {
          "SavingsPlanOrderGet": {
            "$ref": "./examples/SavingsPlanOrderGet.json"
          },
          "SavingsPlanOrderWithExpandedPaymentsGet": {
            "$ref": "./examples/SavingsPlanOrderExpandedGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModel"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/elevate": {
      "post": {
        "description": "Elevate as owner on savings plan order based on billing permissions.",
        "operationId": "SavingsPlanOrder_Elevate",
        "tags": [
          "Savings plan order"
        ],
        "x-ms-examples": {
          "SavingsPlanOrderElevate": {
            "$ref": "./examples/SavingsPlanOrderElevate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/RoleAssignmentEntity"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders": {
      "get": {
        "description": "List all Savings plan orders.",
        "operationId": "SavingsPlanOrder_List",
        "tags": [
          "Savings plan order"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlanOrderList": {
            "$ref": "./examples/SavingsPlanOrderList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanOrderModelList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans": {
      "get": {
        "description": "List savings plans in an order.",
        "operationId": "SavingsPlan_List",
        "tags": [
          "Savings plan"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlansInOrderList": {
            "$ref": "./examples/SavingsPlansInOrderList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelList"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlans": {
      "get": {
        "description": "List savings plans.",
        "operationId": "SavingsPlan_ListAll",
        "tags": [
          "Savings plan"
        ],
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "SavingsPlansList": {
            "$ref": "./examples/SavingsPlansList.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "$filter",
            "description": "May be used to filter by reservation properties. The filter supports 'eq', 'or', and 'and'. It does not currently support 'ne', 'gt', 'le', 'ge', or 'not'. Reservation properties include sku/name, properties/{appliedScopeType, archived, displayName, displayProvisioningState, effectiveDateTime, expiryDate, provisioningState, quantity, renew, reservedResourceType, term, userFriendlyAppliedScopeType, userFriendlyRenewState}",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$orderby",
            "description": "May be used to sort order by reservation properties.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "refreshSummary",
            "description": "To indicate whether to refresh the roll up counts of the savings plans group by provisioning states",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skiptoken",
            "description": "The number of savings plans to skip from the list before returning results",
            "in": "query",
            "required": false,
            "type": "number"
          },
          {
            "name": "selectedState",
            "description": "The selected provisioning state",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "take",
            "description": "To number of savings plans to return",
            "in": "query",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModelListResult"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}": {
      "get": {
        "description": "Get savings plan.",
        "operationId": "SavingsPlan_Get",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanItemGet": {
            "$ref": "./examples/SavingsPlanItemGet.json"
          },
          "SavingsPlanItemWithExpandedRenewPropertiesGet": {
            "$ref": "./examples/SavingsPlanItemExpandedGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ExpandParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "description": "Update savings plan.",
        "operationId": "SavingsPlan_Update",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanUpdate": {
            "$ref": "./examples/SavingsPlanUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanUpdateRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanModel"
            }
          },
          "202": {
            "description": "The request is accepted.",
            "headers": {
              "Location": {
                "type": "string"
              }
            }
          },
          "404": {
            "description": "Not found.",
            "x-ms-error-response": true
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/savingsPlanOrders/{savingsPlanOrderId}/savingsPlans/{savingsPlanId}/validate": {
      "post": {
        "description": "Validate savings plan patch.",
        "operationId": "SavingsPlan_ValidateUpdate",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanValidateUpdate": {
            "$ref": "./examples/SavingsPlanValidateUpdate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/SavingsPlanOrderIdParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanUpdateValidateRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanValidateResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/validate": {
      "post": {
        "description": "Validate savings plan purchase.",
        "operationId": "ValidatePurchase",
        "tags": [
          "Savings plan"
        ],
        "x-ms-examples": {
          "SavingsPlanValidatePurchase": {
            "$ref": "./examples/SavingsPlanValidatePurchase.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SavingsPlanPurchaseValidateRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/SavingsPlanValidateResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.BillingBenefits/reservationOrderAliases/{reservationOrderAliasName}": {
      "put": {
        "description": "Create a reservation order alias.",
        "operationId": "ReservationOrderAlias_Create",
        "tags": [
          "Reservation order aliases"
        ],
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-examples": {
          "ReservationOrderAliasCreate": {
            "$ref": "./examples/ReservationOrderAliasCreate.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReservationOrderAliasNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ReservationOrderAliasRequestParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The resource has been created.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            }
          },
          "201": {
            "description": "The request is being processed.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "URL for checking the ongoing status of the operation."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "Clients should wait for the Retry-After interval before polling again"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "get": {
        "description": "Get a reservation order alias.",
        "operationId": "ReservationOrderAlias_Get",
        "tags": [
          "Reservation order aliases"
        ],
        "x-ms-examples": {
          "ReservationOrderAliasGet": {
            "$ref": "./examples/ReservationOrderAliasGet.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/ReservationOrderAliasNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request is completed.",
            "schema": {
              "$ref": "#/definitions/ReservationOrderAliasResponse"
            }
          },
          "default": {
            "description": "Unexpected error.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Sku": {
      "type": "object",
      "description": "The SKU to be applied for this resource",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the SKU to be applied"
        }
      }
    },
    "SavingsPlanOrderAliasModel": {
      "type": "object",
      "description": "Savings plan order alias",
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "description": "Savings plan SKU",
          "$ref": "#/definitions/Sku"
        },
        "kind": {
          "type": "string",
          "description": "Resource provider kind"
        },
        "properties": {
          "description": "Savings plan order alias properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SavingsPlanOrderAliasProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "SavingsPlanOrderAliasProperties": {
      "type": "object",
      "description": "Savings plan properties",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "savingsPlanOrderId": {
          "type": "string",
          "description": "Identifier of the savings plan created",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "term": {
          "$ref": "#/definitions/Term"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "commitment": {
          "$ref": "#/definitions/Commitment"
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        }
      }
    },
    "BillingScopeId": {
      "type": "string",
      "description": "Subscription that will be charged for purchasing the benefit"
    },
    "BillingProfileId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the billing profile where the savings plan is applied. Present only for Field-led or Customer-led customers."
    },
    "CustomerId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the customer where the savings plan is applied. Present only for Partner-led customers."
    },
    "BillingAccountId": {
      "type": "string",
      "readOnly": true,
      "description": "Fully-qualified identifier of the billing account where the savings plan is applied. Present only for Enterprise Agreement customers."
    },
    "ReservedResourceType": {
      "type": "string",
      "description": "The type of the resource that is being reserved.",
      "enum": [
        "VirtualMachines",
        "SqlDatabases",
        "SuseLinux",
        "CosmosDb",
        "RedHat",
        "SqlDataWarehouse",
        "VMwareCloudSimple",
        "RedHatOsa",
        "Databricks",
        "AppService",
        "ManagedDisk",
        "BlockBlob",
        "RedisCache",
        "AzureDataExplorer",
        "MySql",
        "MariaDb",
        "PostgreSql",
        "DedicatedHost",
        "SapHana",
        "SqlAzureHybridBenefit",
        "AVS",
        "DataFactory",
        "NetAppStorage",
        "AzureFiles",
        "SqlEdge",
        "VirtualMachineSoftware"
      ],
      "x-ms-enum": {
        "name": "ReservedResourceType",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state",
      "readOnly": true,
      "enum": [
        "Creating",
        "PendingBilling",
        "ConfirmedBilling",
        "Created",
        "Succeeded",
        "Cancelled",
        "Expired",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "BillingPlan": {
      "type": "string",
      "description": "Represents the billing plan in ISO 8601 format. Required only for monthly billing plans.",
      "enum": [
        "P1M"
      ],
      "x-ms-enum": {
        "name": "BillingPlan",
        "modelAsString": true
      }
    },
    "Term": {
      "type": "string",
      "description": "Represent benefit term in ISO 8601 format.",
      "enum": [
        "P1Y",
        "P3Y",
        "P5Y"
      ],
      "x-ms-enum": {
        "name": "Term",
        "modelAsString": true
      }
    },
    "DisplayName": {
      "type": "string",
      "description": "Display name"
    },
    "AppliedScopeType": {
      "type": "string",
      "description": "Type of the Applied Scope.",
      "enum": [
        "Single",
        "Shared",
        "ManagementGroup"
      ],
      "x-ms-enum": {
        "name": "AppliedScopeType",
        "modelAsString": true
      }
    },
    "AppliedScopeProperties": {
      "type": "object",
      "description": "Properties specific to applied scope type. Not required if not applicable.",
      "properties": {
        "tenantId": {
          "$ref": "#/definitions/TenantId"
        },
        "managementGroupId": {
          "$ref": "#/definitions/ManagementGroupId"
        },
        "subscriptionId": {
          "$ref": "#/definitions/SubscriptionId"
        },
        "resourceGroupId": {
          "$ref": "#/definitions/ResourceGroupId"
        },
        "displayName": {
          "type": "string",
          "description": "Display name"
        }
      }
    },
    "TenantId": {
      "type": "string",
      "description": "Tenant ID where the benefit is applied."
    },
    "ManagementGroupId": {
      "type": "string",
      "description": "Fully-qualified identifier of the management group where the benefit must be applied."
    },
    "SubscriptionId": {
      "type": "string",
      "description": "Fully-qualified identifier of the subscription."
    },
    "ResourceGroupId": {
      "type": "string",
      "description": "Fully-qualified identifier of the resource group."
    },
    "Renew": {
      "type": "boolean",
      "default": false,
      "description": "Setting this to true will automatically purchase a new benefit on the expiration date time."
    },
    "Commitment": {
      "type": "object",
      "description": "Commitment towards the benefit.",
      "allOf": [
        {
          "$ref": "#/definitions/Price"
        }
      ],
      "properties": {
        "grain": {
          "type": "string",
          "description": "Commitment grain.",
          "enum": [
            "Hourly"
          ],
          "x-ms-enum": {
            "name": "CommitmentGrain",
            "modelAsString": true
          }
        }
      }
    },
    "Utilization": {
      "readOnly": true,
      "type": "object",
      "description": "Savings plan utilization",
      "properties": {
        "trend": {
          "description": "The number of days trend for a savings plan",
          "readOnly": true,
          "type": "string"
        },
        "aggregates": {
          "description": "The array of aggregates of a savings plan's utilization",
          "type": "array",
          "items": {
            "$ref": "#/definitions/UtilizationAggregates"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "UtilizationAggregates": {
      "description": "The aggregate values of savings plan utilization",
      "type": "object",
      "properties": {
        "grain": {
          "description": "The grain of the aggregate",
          "readOnly": true,
          "type": "number"
        },
        "grainUnit": {
          "description": "The grain unit of the aggregate",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "description": "The aggregate value",
          "readOnly": true,
          "type": "number"
        },
        "valueUnit": {
          "description": "The aggregate value unit",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SavingsPlanId": {
      "type": "string",
      "description": "Identifier of the savings plan",
      "readOnly": true
    },
    "EffectiveDateTime": {
      "type": "string",
      "format": "date-time",
      "description": "DateTime of the savings plan starts providing benefit from.",
      "readOnly": true
    },
    "ExpiryDateTime": {
      "type": "string",
      "description": "Expiry date time",
      "readOnly": true,
      "format": "date-time"
    },
    "PurchaseDateTime": {
      "type": "string",
      "description": "Date time when the savings plan was purchased",
      "readOnly": true,
      "format": "date-time"
    },
    "BenefitStartTime": {
      "type": "string",
      "format": "date-time",
      "description": "This is the DateTime when the savings plan benefit started."
    },
    "SavingsPlanModelListResult": {
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of savings plans.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SavingsPlanModel"
          }
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Url to get the next page."
        },
        "additionalProperties": {
          "description": "The roll out count summary of the savings plans",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/SavingsPlanSummary"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SavingsPlanModelList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanModel"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page."
        }
      }
    },
    "SavingsPlanModel": {
      "type": "object",
      "description": "Savings plan",
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "description": "Savings plan SKU",
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "description": "Savings plan properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SavingsPlanModelProperties"
        }
      }
    },
    "SavingsPlanModelProperties": {
      "type": "object",
      "description": "Savings plan properties",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "displayProvisioningState": {
          "description": "The provisioning state of the savings plan for display, e.g. Succeeded",
          "type": "string",
          "readOnly": true
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "billingProfileId": {
          "$ref": "#/definitions/BillingProfileId"
        },
        "customerId": {
          "$ref": "#/definitions/CustomerId"
        },
        "billingAccountId": {
          "$ref": "#/definitions/BillingAccountId"
        },
        "term": {
          "$ref": "#/definitions/Term"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "userFriendlyAppliedScopeType": {
          "description": "The applied scope type of the savings plan for display, e.g. Shared",
          "type": "string",
          "readOnly": true
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "commitment": {
          "$ref": "#/definitions/Commitment"
        },
        "effectiveDateTime": {
          "$ref": "#/definitions/EffectiveDateTime"
        },
        "expiryDateTime": {
          "$ref": "#/definitions/ExpiryDateTime"
        },
        "purchaseDateTime": {
          "$ref": "#/definitions/PurchaseDateTime"
        },
        "benefitStartTime": {
          "$ref": "#/definitions/BenefitStartTime"
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo"
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "utilization": {
          "$ref": "#/definitions/Utilization"
        },
        "renewSource": {
          "$ref": "#/definitions/RenewSource"
        },
        "renewDestination": {
          "$ref": "#/definitions/RenewDestination"
        },
        "renewProperties": {
          "$ref": "#/definitions/RenewProperties"
        }
      }
    },
    "SavingsPlanOrderModelList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanOrderModel"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page."
        }
      }
    },
    "SavingsPlanOrderModel": {
      "type": "object",
      "description": "Savings plan order",
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "description": "Savings plan SKU",
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "description": "Savings plan order properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SavingsPlanOrderModelProperties"
        }
      }
    },
    "SavingsPlanOrderModelProperties": {
      "type": "object",
      "description": "Savings plan order properties",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "billingProfileId": {
          "$ref": "#/definitions/BillingProfileId"
        },
        "customerId": {
          "$ref": "#/definitions/CustomerId"
        },
        "billingAccountId": {
          "$ref": "#/definitions/BillingAccountId"
        },
        "term": {
          "$ref": "#/definitions/Term"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "expiryDateTime": {
          "$ref": "#/definitions/ExpiryDateTime"
        },
        "benefitStartTime": {
          "$ref": "#/definitions/BenefitStartTime"
        },
        "planInformation": {
          "$ref": "#/definitions/BillingPlanInformation"
        },
        "savingsPlans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanId"
          }
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo"
        }
      }
    },
    "SavingsPlanUpdateRequest": {
      "type": "object",
      "description": "Savings plan patch request",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SavingsPlanUpdateRequestProperties"
        }
      }
    },
    "SavingsPlanUpdateRequestProperties": {
      "type": "object",
      "description": "Savings plan patch request",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "renewProperties": {
          "$ref": "#/definitions/RenewProperties"
        }
      }
    },
    "Price": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "type": "string",
          "description": "The ISO 4217 3-letter currency code for the currency used by this purchase record."
        },
        "amount": {
          "type": "number",
          "format": "double"
        }
      }
    },
    "BillingPlanInformation": {
      "type": "object",
      "description": "Information describing the type of billing plan for this savings plan.",
      "properties": {
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount of money to be paid for the Order. Tax is not included."
        },
        "startDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the billing plan has started."
        },
        "nextPaymentDueDate": {
          "type": "string",
          "format": "date",
          "description": "For recurring billing plans, indicates the date when next payment will be processed. Null when total is paid off."
        },
        "transactions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PaymentDetail"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "PaymentDetail": {
      "type": "object",
      "description": "Information about payment related to a savings plan order.",
      "properties": {
        "dueDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the payment needs to be done."
        },
        "paymentDate": {
          "type": "string",
          "format": "date",
          "description": "Date when the transaction is completed. Is null when it is scheduled."
        },
        "pricingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount in pricing currency. Tax not included."
        },
        "billingCurrencyTotal": {
          "$ref": "#/definitions/Price",
          "description": "Amount charged in Billing currency. Tax not included. Is null for future payments"
        },
        "status": {
          "$ref": "#/definitions/PaymentStatus"
        },
        "extendedStatusInfo": {
          "$ref": "#/definitions/ExtendedStatusInfo"
        },
        "billingAccount": {
          "type": "string",
          "description": "Billing account"
        }
      }
    },
    "PaymentStatus": {
      "type": "string",
      "description": "Describes whether the payment is completed, failed, cancelled or scheduled in the future.",
      "enum": [
        "Succeeded",
        "Failed",
        "Scheduled",
        "Cancelled"
      ],
      "x-ms-enum": {
        "name": "PaymentStatus",
        "modelAsString": true
      }
    },
    "ExtendedStatusInfo": {
      "type": "object",
      "readOnly": true,
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "Status code providing additional information."
        },
        "message": {
          "type": "string",
          "description": "The message giving detailed information about the status code."
        }
      }
    },
    "RenewSource": {
      "type": "string",
      "description": "SavingsPlan Id of the SavingsPlan from which this SavingsPlan is renewed."
    },
    "RenewDestination": {
      "type": "string",
      "description": "SavingsPlan Id of the SavingsPlan which is purchased because of renew."
    },
    "RenewProperties": {
      "type": "object",
      "properties": {
        "purchaseProperties": {
          "$ref": "#/definitions/PurchaseRequest"
        }
      }
    },
    "SavingsPlanPurchaseValidateRequest": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanOrderAliasModel"
          }
        }
      }
    },
    "SavingsPlanUpdateValidateRequest": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanUpdateRequestProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "SavingsPlanValidateResponse": {
      "type": "object",
      "properties": {
        "benefits": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SavingsPlanValidResponseProperty"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "description": "Url to get the next page."
        }
      }
    },
    "SavingsPlanValidResponseProperty": {
      "type": "object",
      "description": "Benefit scope response property",
      "properties": {
        "valid": {
          "type": "boolean",
          "description": "Indicates if the provided input was valid"
        },
        "reasonCode": {
          "type": "string",
          "description": "Failure reason code if the provided input was invalid"
        },
        "reason": {
          "type": "string",
          "description": "Failure reason if the provided input was invalid"
        }
      }
    },
    "PricingCurrencyTotal": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Price"
        }
      ],
      "properties": {
        "duration": {
          "$ref": "#/definitions/PricingCurrencyDuration"
        }
      }
    },
    "PricingCurrencyDuration": {
      "type": "string",
      "description": "Represents either billing plan or savings plan term in ISO 8601 format.",
      "enum": [
        "P1M",
        "P1Y",
        "P3Y"
      ],
      "x-ms-enum": {
        "name": "PricingCurrencyDuration",
        "modelAsString": true
      }
    },
    "PurchaseRequest": {
      "type": "object",
      "properties": {
        "sku": {
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/PurchaseRequestProperties"
        }
      }
    },
    "PurchaseRequestProperties": {
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Friendly name of the savings plan"
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "term": {
          "$ref": "#/definitions/Term"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "commitment": {
          "$ref": "#/definitions/Commitment"
        },
        "effectiveDateTime": {
          "$ref": "#/definitions/EffectiveDateTime"
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        }
      }
    },
    "OperationResultError": {
      "type": "object",
      "description": "Required if status == failed or status == canceled.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required if status == failed or status == cancelled. If status == failed, provide an invariant error code used for error troubleshooting, aggregation, and analysis."
        },
        "message": {
          "type": "string",
          "description": "Required if status == failed. Localized. If status == failed, provide an actionable error message indicating what error occurred, and what the user can do to address the issue."
        }
      }
    },
    "BillingInformation": {
      "type": "object",
      "description": "billing information",
      "properties": {
        "billingCurrencyTotalPaidAmount": {
          "$ref": "#/definitions/Price"
        },
        "billingCurrencyProratedAmount": {
          "$ref": "#/definitions/Price"
        },
        "billingCurrencyRemainingCommitmentAmount": {
          "$ref": "#/definitions/Price"
        }
      }
    },
    "SavingsPlanSummary": {
      "type": "object",
      "description": "Savings plans list summary",
      "properties": {
        "name": {
          "description": "This property has value 'summary'",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "$ref": "#/definitions/SavingsPlanSummaryCount"
        }
      }
    },
    "SavingsPlanSummaryCount": {
      "description": "The roll up count summary of savings plans in each state",
      "type": "object",
      "properties": {
        "succeededCount": {
          "description": "The number of savings plans in Succeeded state",
          "readOnly": true,
          "type": "number"
        },
        "failedCount": {
          "description": "The number of savings plans in Failed state",
          "readOnly": true,
          "type": "number"
        },
        "expiringCount": {
          "description": "The number of savings plans in Expiring state",
          "readOnly": true,
          "type": "number"
        },
        "expiredCount": {
          "description": "The number of savings plans in Expired state",
          "readOnly": true,
          "type": "number"
        },
        "pendingCount": {
          "description": "The number of savings plans in Pending state",
          "readOnly": true,
          "type": "number"
        },
        "cancelledCount": {
          "description": "The number of savings plans in Cancelled state",
          "readOnly": true,
          "type": "number"
        },
        "processingCount": {
          "description": "The number of savings plans in Processing state",
          "readOnly": true,
          "type": "number"
        },
        "noBenefitCount": {
          "description": "The number of savings plans in No Benefit state",
          "readOnly": true,
          "type": "number"
        },
        "warningCount": {
          "description": "The number of savings plans in Warning state",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "ReservationOrderAliasRequest": {
      "type": "object",
      "description": "Reservation order alias",
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "description": "Reservation order SKU",
          "$ref": "#/definitions/Sku"
        },
        "location": {
          "type": "string",
          "description": "The Azure Region where the reservation benefits are applied to."
        },
        "properties": {
          "description": "Reservation order alias request properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReservationOrderAliasRequestProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "ReservationOrderAliasRequestProperties": {
      "type": "object",
      "description": "Reservation properties",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "term": {
          "$ref": "#/definitions/Term"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Total Quantity of the SKUs purchased in the Reservation.",
          "minimum": 1
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "reservedResourceType": {
          "description": "The type of the resource that is being reserved.",
          "$ref": "#/definitions/ReservedResourceType"
        },
        "reviewDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the Azure Hybrid Benefit needs to be reviewed."
        },
        "reservedResourceProperties": {
          "type": "object",
          "description": "Properties specific to each reserved resource type. Not required if not applicable.",
          "properties": {
            "instanceFlexibility": {
              "$ref": "#/definitions/InstanceFlexibility"
            }
          }
        }
      }
    },
    "ReservationOrderAliasResponse": {
      "type": "object",
      "description": "Reservation order alias",
      "required": [
        "sku"
      ],
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "sku": {
          "description": "Reservation order SKU",
          "$ref": "#/definitions/Sku"
        },
        "location": {
          "type": "string",
          "description": "The Azure Region where the reserved resource lives."
        },
        "properties": {
          "description": "Reservation order alias response properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ReservationOrderAliasResponseProperties"
        }
      },
      "x-ms-azure-resource": true
    },
    "ReservationOrderAliasResponseProperties": {
      "type": "object",
      "description": "Reservation properties",
      "properties": {
        "displayName": {
          "$ref": "#/definitions/DisplayName"
        },
        "reservationOrderId": {
          "type": "string",
          "description": "Identifier of the reservation order created",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState"
        },
        "billingScopeId": {
          "$ref": "#/definitions/BillingScopeId"
        },
        "term": {
          "$ref": "#/definitions/Term"
        },
        "billingPlan": {
          "$ref": "#/definitions/BillingPlan"
        },
        "appliedScopeType": {
          "$ref": "#/definitions/AppliedScopeType"
        },
        "appliedScopeProperties": {
          "$ref": "#/definitions/AppliedScopeProperties"
        },
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "Total Quantity of the SKUs purchased in the Reservation."
        },
        "renew": {
          "$ref": "#/definitions/Renew"
        },
        "reservedResourceType": {
          "description": "The type of the resource that is being reserved.",
          "$ref": "#/definitions/ReservedResourceType"
        },
        "reviewDateTime": {
          "type": "string",
          "format": "date-time",
          "description": "This is the date-time when the Reservation needs to be reviewed."
        },
        "reservedResourceProperties": {
          "type": "object",
          "description": "Properties specific to each reserved resource type. Not required if not applicable.",
          "properties": {
            "instanceFlexibility": {
              "$ref": "#/definitions/InstanceFlexibility"
            }
          }
        }
      }
    },
    "InstanceFlexibility": {
      "type": "string",
      "description": "Turning this on will apply the reservation discount to other VMs in the same VM size group.",
      "enum": [
        "On",
        "Off"
      ],
      "x-ms-enum": {
        "name": "InstanceFlexibility",
        "modelAsString": true
      }
    },
    "RoleAssignmentEntity": {
      "type": "object",
      "description": "Role assignment entity",
      "properties": {
        "id": {
          "description": "Role assignment entity id",
          "type": "string"
        },
        "name": {
          "description": "Role assignment entity name",
          "type": "string"
        },
        "properties": {
          "description": "Role assignment entity properties",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/RoleAssignmentEntityProperties"
        }
      }
    },
    "RoleAssignmentEntityProperties": {
      "type": "object",
      "description": "Role assignment entity properties",
      "properties": {
        "principalId": {
          "description": "Principal Id",
          "type": "string"
        },
        "roleDefinitionId": {
          "description": "Role definition id",
          "type": "string"
        },
        "scope": {
          "description": "Scope of the role assignment entity",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SavingsPlanOrderAliasNameParameter": {
      "name": "savingsPlanOrderAliasName",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_\\-\\.]+$",
      "description": "Name of the savings plan order alias"
    },
    "SavingsPlanOrderAliasRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for creating a savings plan order alias",
      "schema": {
        "$ref": "#/definitions/SavingsPlanOrderAliasModel"
      }
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "x-ms-parameter-location": "client",
      "required": true,
      "description": "The api-version to be used by the service",
      "type": "string"
    },
    "ExpandParameter": {
      "name": "$expand",
      "description": "May be used to expand the detail information of some properties.",
      "in": "query",
      "x-ms-parameter-location": "client",
      "required": false,
      "type": "string"
    },
    "SavingsPlanOrderIdParameter": {
      "name": "savingsPlanOrderId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Order ID of the savings plan"
    },
    "SavingsPlanIdParameter": {
      "name": "savingsPlanId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "ID of the savings plan"
    },
    "SavingsPlanUpdateRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for patching a savings plan order alias",
      "schema": {
        "$ref": "#/definitions/SavingsPlanUpdateRequest"
      }
    },
    "SavingsPlanPurchaseValidateRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for validating the purchase of a savings plan",
      "schema": {
        "$ref": "#/definitions/SavingsPlanPurchaseValidateRequest"
      }
    },
    "SavingsPlanUpdateValidateRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for validating a savings plan patch request",
      "schema": {
        "$ref": "#/definitions/SavingsPlanUpdateValidateRequest"
      }
    },
    "ReservationOrderAliasNameParameter": {
      "name": "reservationOrderAliasName",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "pattern": "^[a-zA-Z0-9_\\-\\.]+$",
      "description": "Name of the reservation order alias"
    },
    "ReservationOrderAliasRequestParameter": {
      "name": "body",
      "in": "body",
      "x-ms-parameter-location": "method",
      "required": true,
      "description": "Request body for creating a reservation order alias",
      "schema": {
        "$ref": "#/definitions/ReservationOrderAliasRequest"
      }
    }
  }
}
