{
  "swagger": "2.0",
  "info": {
    "title": "StorageImportExport",
    "description": "The Storage Import/Export Resource Provider API.",
    "version": "2016-11-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.ImportExport/locations": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Locations_List",
        "description": "Returns a list of locations to which you can ship the disks associated with an import or export job. A location is a Microsoft data center region.",
        "x-ms-examples": {
          "List locations": {
            "$ref": "examples/ListLocations.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/LocationsResponse"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ImportExport/locations/{locationName}": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Locations_Get",
        "description": "Returns the details about a location to which you can ship the disks associated with an import or export job. A location is an Azure region.",
        "x-ms-examples": {
          "Get locations": {
            "$ref": "examples/GetLocation.json"
          }
        },
        "parameters": [
          {
            "name": "locationName",
            "in": "path",
            "description": "The name of the location. For example, West US or westus.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Location"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ImportExport/jobs": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_ListBySubscription",
        "description": "Returns all active and completed jobs in a subscription.",
        "x-ms-examples": {
          "List jobs in a subscription": {
            "$ref": "examples/ListJobsInSubscription.json"
          }
        },
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Can be used to restrict the results to certain conditions.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListJobsResponse"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_ListByResourceGroup",
        "description": "Returns all active and completed jobs in a resource group.",
        "x-ms-examples": {
          "List jobs in a resource group": {
            "$ref": "examples/ListJobsInResourceGroup.json"
          }
        },
        "parameters": [
          {
            "name": "$top",
            "in": "query",
            "description": "An integer value that specifies how many jobs at most should be returned. The value cannot exceed 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Can be used to restrict the results to certain conditions.",
            "required": false,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListJobsResponse"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_Get",
        "description": "Gets information about an existing job.",
        "x-ms-examples": {
          "Get import job": {
            "$ref": "examples/GetJob.json"
          },
          "Get export job": {
            "$ref": "examples/GetExportJob.json"
          }
        },
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_Update",
        "description": "Updates specific properties of a job. You can call this operation to notify the Import/Export service that the hard drives comprising the import or export job have been shipped to the Microsoft data center. It can also be used to cancel an existing job.",
        "x-ms-examples": {
          "Update import job": {
            "$ref": "examples/UpdateJob.json"
          },
          "Update export job": {
            "$ref": "examples/UpdateExportJob.json"
          }
        },
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The parameters to update in the job",
            "schema": {
              "$ref": "#/definitions/UpdateJobParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_Create",
        "description": "Creates a new job or updates an existing job in the specified subscription.",
        "x-ms-examples": {
          "Create import job": {
            "$ref": "examples/CreateJob.json"
          },
          "Create export job": {
            "$ref": "examples/CreateExportJob.json"
          }
        },
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          },
          {
            "$ref": "#/parameters/x-ms-client-tenant-id"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The parameters used for creating the job",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PutJobParameters"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/JobResponse"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Jobs_Delete",
        "description": "Deletes an existing job. Only jobs in the Creating or Completed states can be deleted.",
        "x-ms-examples": {
          "Delete job": {
            "$ref": "examples/DeleteJob.json"
          }
        },
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ImportExport/jobs/{jobName}/listBitLockerKeys": {
      "post": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "BitLockerKeys_List",
        "description": "Returns the BitLocker Keys for all drives in the specified job.",
        "x-ms-examples": {
          "List BitLocker Keys for drives in a job": {
            "$ref": "examples/ListBitLockerKeys.json"
          }
        },
        "parameters": [
          {
            "name": "jobName",
            "in": "path",
            "description": "The name of the import/export job.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GetBitLockerKeysResponse"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    },
    "/providers/Microsoft.ImportExport/operations": {
      "get": {
        "tags": [
          "StorageImportExport"
        ],
        "operationId": "Operations_List",
        "description": "Returns the list of operations supported by the import/export resource provider.",
        "x-ms-examples": {
          "List available operations": {
            "$ref": "examples/ListOperations.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/Accept-Language"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ListOperationsResponse"
            }
          },
          "default": {
            "description": "An error occurs.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Response when errors occurred",
      "properties": {
        "error": {
          "x-ms-client-flatten": true,
          "description": "Describes the error information.",
          "properties": {
            "code": {
              "type": "string",
              "description": "Provides information about the error code."
            },
            "message": {
              "type": "string",
              "description": "Provides information about the error message."
            },
            "target": {
              "type": "string",
              "description": "Provides information about the error target."
            },
            "details": {
              "type": "array",
              "description": "Describes the error details if present.",
              "items": {
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Provides information about the error code."
                  },
                  "target": {
                    "type": "string",
                    "description": "Provides information about the error target."
                  },
                  "message": {
                    "type": "string",
                    "description": "Provides information about the error message."
                  }
                }
              },
              "x-ms-identifiers": []
            },
            "innererror": {
              "type": "object",
              "description": "Inner error object if present."
            }
          }
        }
      }
    },
    "PutJobParameters": {
      "description": "Put Job parameters",
      "properties": {
        "location": {
          "type": "string",
          "description": "Specifies the supported Azure location where the job should be created"
        },
        "tags": {
          "type": "object",
          "description": "Specifies the tags that will be assigned to the job."
        },
        "properties": {
          "$ref": "#/definitions/JobDetails",
          "description": "Specifies the job properties"
        }
      }
    },
    "JobDetails": {
      "description": "Specifies the job properties",
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "The resource identifier of the storage account where data will be imported to or exported from."
        },
        "jobType": {
          "type": "string",
          "description": "The type of job"
        },
        "returnAddress": {
          "description": "Specifies the return address information for the job. ",
          "$ref": "#/definitions/ReturnAddress"
        },
        "returnShipping": {
          "description": "Specifies the return carrier and customer's account with the carrier. ",
          "$ref": "#/definitions/ReturnShipping"
        },
        "shippingInformation": {
          "description": "Contains information about the Microsoft datacenter to which the drives should be shipped. ",
          "$ref": "#/definitions/ShippingInformation"
        },
        "deliveryPackage": {
          "description": "Contains information about the package being shipped by the customer to the Microsoft data center. ",
          "$ref": "#/definitions/DeliveryPackageInformation"
        },
        "returnPackage": {
          "description": "Contains information about the package being shipped from the Microsoft data center to the customer to return the drives. The format is the same as the deliveryPackage property above. This property is not included if the drives have not yet been returned. ",
          "$ref": "#/definitions/PackageInfomation"
        },
        "diagnosticsPath": {
          "type": "string",
          "description": "The virtual blob directory to which the copy logs and backups of drive manifest files (if enabled) will be stored."
        },
        "logLevel": {
          "type": "string",
          "description": "Default value is Error. Indicates whether error logging or verbose logging will be enabled."
        },
        "backupDriveManifest": {
          "type": "boolean",
          "description": "Default value is false. Indicates whether the manifest files on the drives should be copied to block blobs.",
          "default": false
        },
        "state": {
          "type": "string",
          "description": "Current state of the job.",
          "default": "Creating"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Indicates whether a request has been submitted to cancel the job.",
          "default": false
        },
        "percentComplete": {
          "type": "integer",
          "format": "int32",
          "description": "Overall percentage completed for the job."
        },
        "incompleteBlobListUri": {
          "type": "string",
          "description": "A blob path that points to a block blob containing a list of blob names that were not exported due to insufficient drive space. If all blobs were exported successfully, then this element is not included in the response."
        },
        "driveList": {
          "description": "List of up to ten drives that comprise the job. The drive list is a required element for an import job; it is not specified for export jobs.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DriveStatus"
          },
          "x-ms-identifiers": [
            "driveId"
          ]
        },
        "export": {
          "description": "A property containing information about the blobs to be exported for an export job. This property is included for export jobs only.",
          "$ref": "#/definitions/Export"
        },
        "provisioningState": {
          "type": "string",
          "description": "Specifies the provisioning state of the job."
        },
        "encryptionKey": {
          "description": "Contains information about the encryption key.",
          "$ref": "#/definitions/EncryptionKeyDetails"
        }
      }
    },
    "EncryptionKeyDetails": {
      "description": "Specifies the encryption key properties",
      "properties": {
        "kekType": {
          "type": "string",
          "description": "The type of kek encryption key",
          "default": "MicrosoftManaged",
          "enum": [
            "MicrosoftManaged",
            "CustomerManaged"
          ],
          "x-ms-enum": {
            "name": "EncryptionKekType",
            "modelAsString": true
          }
        },
        "kekUrl": {
          "description": "Specifies the url for kek encryption key. ",
          "type": "string"
        },
        "kekVaultResourceID": {
          "description": "Specifies the keyvault resource id for kek encryption key. ",
          "type": "string"
        }
      }
    },
    "IdentityDetails": {
      "description": "Specifies the identity properties. ",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of identity",
          "default": "None",
          "enum": [
            "None",
            "SystemAssigned",
            "UserAssigned"
          ],
          "x-ms-enum": {
            "name": "IdentityType",
            "modelAsString": true
          }
        },
        "principalId": {
          "description": "Specifies the principal id for the identity for the job. ",
          "type": "string",
          "readOnly": true
        },
        "tenantId": {
          "description": "Specifies the tenant id for the identity for the job. ",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UpdateJobParameters": {
      "description": "Update Job parameters",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Specifies the tags that will be assigned to the job"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "properties": {
            "cancelRequested": {
              "type": "boolean",
              "description": "If specified, the value must be true. The service will attempt to cancel the job. ",
              "default": false
            },
            "state": {
              "type": "string",
              "description": "If specified, the value must be Shipping, which tells the Import/Export service that the package for the job has been shipped. The ReturnAddress and DeliveryPackage properties must have been set either in this request or in a previous request, otherwise the request will fail. "
            },
            "returnAddress": {
              "description": "Specifies the return address information for the job.",
              "$ref": "#/definitions/ReturnAddress"
            },
            "returnShipping": {
              "description": "Specifies the return carrier and customer's account with the carrier.",
              "$ref": "#/definitions/ReturnShipping"
            },
            "deliveryPackage": {
              "description": "Contains information about the package being shipped by the customer to the Microsoft data center.",
              "$ref": "#/definitions/DeliveryPackageInformation"
            },
            "logLevel": {
              "type": "string",
              "description": "Indicates whether error logging or verbose logging is enabled."
            },
            "backupDriveManifest": {
              "type": "boolean",
              "description": "Indicates whether the manifest files on the drives should be copied to block blobs.",
              "default": false
            },
            "driveList": {
              "description": "List of drives that comprise the job.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/DriveStatus"
              },
              "x-ms-identifiers": [
                "driveId"
              ]
            }
          },
          "description": "Specifies the properties of a UpdateJob."
        }
      }
    },
    "ListJobsResponse": {
      "description": "List jobs response",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "link to next batch of jobs"
        },
        "value": {
          "type": "array",
          "description": "Job list",
          "items": {
            "$ref": "#/definitions/JobResponse"
          }
        }
      }
    },
    "JobResponse": {
      "x-ms-azure-resource": true,
      "description": "Contains the job information.",
      "properties": {
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "description": "SystemData of ImportExport Jobs.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Specifies the resource identifier of the job.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Specifies the name of the job.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Specifies the type of the job resource.",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "Specifies the Azure location where the job is created."
        },
        "tags": {
          "type": "object",
          "description": "Specifies the tags that are assigned to the job."
        },
        "properties": {
          "$ref": "#/definitions/JobDetails",
          "description": "Specifies the job properties"
        },
        "identity": {
          "$ref": "#/definitions/IdentityDetails",
          "description": "Specifies the job identity details"
        }
      }
    },
    "Operation": {
      "description": "Describes a supported operation by the Storage Import/Export job API.",
      "required": [
        "name",
        "display"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the operation."
        },
        "display": {
          "x-ms-client-flatten": true,
          "description": "operation display properties",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider name to which the operation belongs."
            },
            "resource": {
              "type": "string",
              "description": "The name of the resource to which the operation belongs."
            },
            "operation": {
              "type": "string",
              "description": "The display name of the operation."
            },
            "description": {
              "type": "string",
              "description": "Short description of the operation."
            }
          }
        }
      }
    },
    "Location": {
      "description": "Provides information about an Azure data center location.",
      "properties": {
        "id": {
          "description": "Specifies the resource identifier of the location. ",
          "type": "string"
        },
        "name": {
          "description": "Specifies the name of the location. Use List Locations to get all supported locations. ",
          "type": "string"
        },
        "type": {
          "description": "Specifies the type of the location. ",
          "type": "string"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "description": "location properties",
          "properties": {
            "recipientName": {
              "description": "The recipient name to use when shipping the drives to the Azure data center. ",
              "type": "string"
            },
            "streetAddress1": {
              "description": "The first line of the street address to use when shipping the drives to the Azure data center. ",
              "type": "string"
            },
            "streetAddress2": {
              "description": "The second line of the street address to use when shipping the drives to the Azure data center. ",
              "type": "string"
            },
            "city": {
              "description": "The city name to use when shipping the drives to the Azure data center. ",
              "type": "string"
            },
            "stateOrProvince": {
              "description": "The state or province to use when shipping the drives to the Azure data center. ",
              "type": "string"
            },
            "postalCode": {
              "description": "The postal code to use when shipping the drives to the Azure data center. ",
              "type": "string"
            },
            "countryOrRegion": {
              "description": "The country or region to use when shipping the drives to the Azure data center. ",
              "type": "string"
            },
            "phone": {
              "description": "The phone number for the Azure data center. ",
              "type": "string"
            },
            "additionalShippingInformation": {
              "description": "Additional shipping information for customer, specific to datacenter to which customer should send their disks.",
              "type": "string"
            },
            "supportedCarriers": {
              "type": "array",
              "description": "A list of carriers that are supported at this location. ",
              "items": {
                "type": "string"
              }
            },
            "alternateLocations": {
              "type": "array",
              "description": "A list of location IDs that should be used to ship shipping drives to for jobs created against the current location. If the current location is active, it will be part of the list. If it is temporarily closed due to maintenance, this list may contain other locations. ",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "ReturnAddress": {
      "description": "Specifies the return address information for the job.",
      "required": [
        "recipientName",
        "streetAddress1",
        "city",
        "postalCode",
        "countryOrRegion",
        "phone",
        "email"
      ],
      "properties": {
        "recipientName": {
          "type": "string",
          "description": "The name of the recipient who will receive the hard drives when they are returned. "
        },
        "streetAddress1": {
          "type": "string",
          "description": "The first line of the street address to use when returning the drives. "
        },
        "streetAddress2": {
          "type": "string",
          "description": "The second line of the street address to use when returning the drives. "
        },
        "city": {
          "type": "string",
          "description": "The city name to use when returning the drives."
        },
        "stateOrProvince": {
          "type": "string",
          "description": "The state or province to use when returning the drives."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code to use when returning the drives."
        },
        "countryOrRegion": {
          "type": "string",
          "description": "The country or region to use when returning the drives. "
        },
        "phone": {
          "type": "string",
          "description": "Phone number of the recipient of the returned drives."
        },
        "email": {
          "type": "string",
          "description": "Email address of the recipient of the returned drives."
        }
      }
    },
    "ReturnShipping": {
      "description": "Specifies the return carrier and customer's account with the carrier.",
      "required": [
        "carrierName",
        "carrierAccountNumber"
      ],
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The carrier's name."
        },
        "carrierAccountNumber": {
          "type": "string",
          "description": "The customer's account number with the carrier."
        }
      }
    },
    "ShippingInformation": {
      "description": "Contains information about the Microsoft datacenter to which the drives should be shipped.",
      "properties": {
        "recipientName": {
          "type": "string",
          "description": "The name of the recipient who will receive the hard drives when they are returned. "
        },
        "streetAddress1": {
          "type": "string",
          "description": "The first line of the street address to use when returning the drives. "
        },
        "streetAddress2": {
          "type": "string",
          "description": "The second line of the street address to use when returning the drives. "
        },
        "city": {
          "type": "string",
          "description": "The city name to use when returning the drives."
        },
        "stateOrProvince": {
          "type": "string",
          "description": "The state or province to use when returning the drives."
        },
        "postalCode": {
          "type": "string",
          "description": "The postal code to use when returning the drives."
        },
        "countryOrRegion": {
          "type": "string",
          "description": "The country or region to use when returning the drives. "
        },
        "phone": {
          "type": "string",
          "description": "Phone number of the recipient of the returned drives."
        },
        "additionalInformation": {
          "type": "string",
          "description": "Additional shipping information for customer, specific to datacenter to which customer should send their disks.",
          "readOnly": true
        }
      }
    },
    "PackageInfomation": {
      "description": "Contains information about the package being shipped by the customer to the Microsoft data center.",
      "required": [
        "carrierName",
        "trackingNumber",
        "driveCount",
        "shipDate"
      ],
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The name of the carrier that is used to ship the import or export drives."
        },
        "trackingNumber": {
          "type": "string",
          "description": "The tracking number of the package."
        },
        "driveCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of drives included in the package."
        },
        "shipDate": {
          "type": "string",
          "description": "The date when the package is shipped."
        }
      }
    },
    "DeliveryPackageInformation": {
      "description": "Contains information about the delivery package being shipped by the customer to the Microsoft data center.",
      "required": [
        "carrierName",
        "trackingNumber"
      ],
      "properties": {
        "carrierName": {
          "type": "string",
          "description": "The name of the carrier that is used to ship the import or export drives."
        },
        "trackingNumber": {
          "type": "string",
          "description": "The tracking number of the package."
        },
        "driveCount": {
          "type": "integer",
          "format": "int64",
          "description": "The number of drives included in the package."
        },
        "shipDate": {
          "type": "string",
          "description": "The date when the package is shipped."
        }
      }
    },
    "DriveStatus": {
      "description": "Provides information about the drive's status",
      "properties": {
        "driveId": {
          "type": "string",
          "description": "The drive's hardware serial number, without spaces."
        },
        "bitLockerKey": {
          "type": "string",
          "description": "The BitLocker key used to encrypt the drive."
        },
        "manifestFile": {
          "type": "string",
          "description": "The relative path of the manifest file on the drive. "
        },
        "manifestHash": {
          "type": "string",
          "description": "The Base16-encoded MD5 hash of the manifest file on the drive."
        },
        "driveHeaderHash": {
          "type": "string",
          "description": "The drive header hash value."
        },
        "state": {
          "type": "string",
          "description": "The drive's current state. ",
          "enum": [
            "Specified",
            "Received",
            "NeverReceived",
            "Transferring",
            "Completed",
            "CompletedMoreInfo",
            "ShippedBack"
          ],
          "default": "Specified",
          "x-ms-enum": {
            "name": "DriveState",
            "modelAsString": true
          }
        },
        "copyStatus": {
          "type": "string",
          "description": "Detailed status about the data transfer process. This field is not returned in the response until the drive is in the Transferring state."
        },
        "percentComplete": {
          "type": "integer",
          "format": "int64",
          "description": "Percentage completed for the drive. "
        },
        "verboseLogUri": {
          "type": "string",
          "description": "A URI that points to the blob containing the verbose log for the data transfer operation. "
        },
        "errorLogUri": {
          "type": "string",
          "description": "A URI that points to the blob containing the error log for the data transfer operation."
        },
        "manifestUri": {
          "type": "string",
          "description": "A URI that points to the blob containing the drive manifest file. "
        },
        "bytesSucceeded": {
          "type": "integer",
          "format": "int64",
          "description": "Bytes successfully transferred for the drive."
        }
      }
    },
    "Export": {
      "description": "A property containing information about the blobs to be exported for an export job. This property is required for export jobs, but must not be specified for import jobs.",
      "properties": {
        "blobList": {
          "description": "A list of the blobs to be exported.",
          "x-ms-client-flatten": true,
          "properties": {
            "blobPath": {
              "type": "array",
              "description": "A collection of blob-path strings.",
              "items": {
                "type": "string"
              }
            },
            "blobPathPrefix": {
              "type": "array",
              "description": "A collection of blob-prefix strings.",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "blobListBlobPath": {
          "type": "string",
          "description": "The relative URI to the block blob that contains the list of blob paths or blob path prefixes as defined above, beginning with the container name. If the blob is in root container, the URI must begin with $root. "
        }
      }
    },
    "LocationsResponse": {
      "description": "Locations response",
      "properties": {
        "value": {
          "type": "array",
          "description": "locations",
          "items": {
            "$ref": "#/definitions/Location"
          }
        }
      }
    },
    "GetBitLockerKeysResponse": {
      "description": "GetBitLockerKeys response",
      "properties": {
        "value": {
          "type": "array",
          "description": "drive status",
          "items": {
            "$ref": "#/definitions/DriveBitLockerKey"
          },
          "x-ms-identifiers": [
            "driveId"
          ]
        }
      }
    },
    "DriveBitLockerKey": {
      "description": "BitLocker recovery key or password to the specified drive",
      "properties": {
        "bitLockerKey": {
          "type": "string",
          "description": "BitLocker recovery key or password"
        },
        "driveId": {
          "type": "string",
          "description": "Drive ID"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "List operations response",
      "properties": {
        "value": {
          "type": "array",
          "description": "operations",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    }
  },
  "parameters": {
    "api-version": {
      "name": "api-version",
      "in": "query",
      "description": "Specifies the API version to use for this request.",
      "required": true,
      "type": "string"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "description": "The subscription ID for the Azure user.",
      "required": true,
      "type": "string"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "description": "The resource group name uniquely identifies the resource group within the user subscription.",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "Accept-Language": {
      "name": "Accept-Language",
      "in": "header",
      "description": "Specifies the preferred language for the response.",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "client"
    },
    "x-ms-client-tenant-id": {
      "name": "x-ms-client-tenant-id",
      "in": "header",
      "description": "The tenant ID of the client making the request.",
      "required": false,
      "type": "string",
      "x-ms-client-name": "ClientTenantId",
      "x-ms-parameter-location": "method"
    }
  }
}
