{
  "swagger": "2.0",
  "info": {
    "title": "AzureSphereManagementClient",
    "description": "Use these APIs to manage Azure Sphere in your Azure subscription",
    "version": "2021-02-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureSphere/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Lists all operations supported by the Microsoft.AzureSphere resource provider.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of supported operations has been retrieved successfully.",
            "schema": {
              "$ref": "#/definitions/ListOperationsResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a list of operations supported by Microsoft.AzureSphere resource provider.": {
            "$ref": "./examples/GetOperations.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureSphere/azSphereRUs": {
      "get": {
        "tags": [
          "AzureSphereRUs"
        ],
        "description": "Returns a list of Azure Sphere Resource Units for the given subscriptionId",
        "operationId": "AzureSphereRUsBySubscription_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Sphere Resource Units for the subscription details.",
            "schema": {
              "$ref": "#/definitions/AzureSphereRUList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a list of Azure Sphere Resource Units for a given subscription.": {
            "$ref": "./examples/GetAzSphereRUsSub.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/azSphereRUs": {
      "get": {
        "tags": [
          "AzureSphereRUs"
        ],
        "description": "Returns a list of Azure Sphere Resource Units in the given resource group.",
        "operationId": "AzureSphereRUs_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of Azure Sphere Resource Units for the subscription.",
            "schema": {
              "$ref": "#/definitions/AzureSphereRUList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get a list of Azure Sphere Resource Units for a given resource group.": {
            "$ref": "./examples/GetAzSphereRUsRG.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/azSphereRUs/{azureSphereRUName}": {
      "get": {
        "tags": [
          "AzureSphereRUs"
        ],
        "description": "Returns an Azure Sphere Resource Unit by name.",
        "operationId": "AzureSphereRUs_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Sphere Resource Unit details.",
            "schema": {
              "$ref": "#/definitions/AzureSphereRU"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the details of an Azure Sphere Resource Unit.": {
            "$ref": "./examples/GetAzSphereRU.json"
          }
        }
      },
      "put": {
        "tags": [
          "AzureSphereRUs"
        ],
        "description": "Create or update an Azure Sphere Resource Unit.",
        "operationId": "AzureSphereRUs_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          },
          {
            "name": "AzureSphereRU",
            "description": "Azure Sphere Resource Unit details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureSphereRU"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzureSphereRU"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put the details of the Azure Sphere Resource Unit.": {
            "$ref": "./examples/PutAzSphereRU.json"
          }
        }
      },
      "patch": {
        "tags": [
          "AzureSphereRUs"
        ],
        "description": "Patch an Azure Sphere Resource Unit.",
        "operationId": "AzureSphereRUs_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          },
          {
            "name": "AzureSphereRU",
            "description": "Azure Sphere Resource Unit details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureSphereRU"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzureSphereRU"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch an Azure Sphere Resource Unit.": {
            "$ref": "./examples/PatchAzSphereRU.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AzureSphereRUs"
        ],
        "description": "Delete an Azure Sphere Resource Unit.",
        "operationId": "AzureSphereRUs_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/AzureSphereRU"
            }
          },
          "204": {
            "description": "Successful. Resource marked for deletion",
            "schema": {
              "$ref": "#/definitions/AzureSphereRU"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an Azure Sphere Resource Unit.": {
            "$ref": "./examples/DeleteAzSphereRU.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/azSphereRUs/{azureSphereRUName}/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Returns the associated products of a given Azure Sphere Resource Unit by Name",
        "operationId": "Products_List",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure Sphere Products for the Azure Sphere Resource unit in the subscription.",
            "schema": {
              "$ref": "#/definitions/ProductList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "deprecated": false,
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get products in an Azure Sphere product.": {
            "$ref": "./examples/GetProducts.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureSphere/azSphereRUs/{azureSphereRUName}/products/{productName}": {
      "get": {
        "tags": [
          "Products"
        ],
        "description": "Returns the associated Product for a given Azure Sphere Resource Unit by Name",
        "operationId": "Products_Get",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          },
          {
            "$ref": "#/parameters/ProductNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Product.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get the details of an Azure Sphere product.": {
            "$ref": "./examples/GetProduct.json"
          }
        }
      },
      "put": {
        "tags": [
          "Products"
        ],
        "description": "Create or update an Azure Sphere Product.",
        "operationId": "Products_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          },
          {
            "$ref": "#/parameters/ProductNameParameter"
          },
          {
            "name": "Product",
            "description": "Azure Sphere Product details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put an Azure Sphere product.": {
            "$ref": "./examples/PutProduct.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Products"
        ],
        "description": "Patch Azure Sphere Product.",
        "operationId": "Products_Update",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          },
          {
            "$ref": "#/parameters/ProductNameParameter"
          },
          {
            "name": "Product",
            "description": "Azure Sphere Product patch details.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch an Azure Sphere product.": {
            "$ref": "./examples/PatchProduct.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "description": "Delete Product in an Azure Sphere Resource Unit.",
        "operationId": "Products_Delete",
        "parameters": [
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/AzureSphereRUNameParameter"
          },
          {
            "$ref": "#/parameters/ProductNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful.",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "204": {
            "description": "Successful. Resource marked for deletion",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/DefaultErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete an Azure Sphere product.": {
            "$ref": "./examples/DeleteProduct.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "type": "object",
      "description": "An Azure Sphere Resource.",
      "properties": {
        "id": {
          "description": "Azure Sphere resource Id.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Azure Sphere resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Azure Sphere resource type.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "type": "string",
          "description": "The Azure Sphere resource location.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "systemData": {
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData",
          "readOnly": true
        },
        "tags": {
          "description": "resource tags.",
          "readOnly": false,
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "AzureSphereRU": {
      "type": "object",
      "description": "Azure Sphere Resource Unit details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Name of the operation."
        },
        "display": {
          "description": "Display information of the operation.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationDisplay"
        }
      },
      "description": "Properties of an Operation."
    },
    "OperationDisplay": {
      "type": "object",
      "properties": {
        "operation": {
          "type": "string",
          "readOnly": true,
          "description": "Friendly name of the operation."
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "Friendly name of the resource type the operation applies to."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "Friendly description of the operation."
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "Friendly name of the resource provider."
        }
      },
      "description": "Display information of an operation."
    },
    "ErrorResponseBody": {
      "description": "The error object.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Error message.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "Error target.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Error details.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ErrorResponseBody"
          }
        }
      }
    },
    "DefaultErrorResponse": {
      "type": "object",
      "description": "Default error response on failure.",
      "properties": {
        "error": {
          "description": "The error object.",
          "readOnly": true,
          "$ref": "#/definitions/ErrorResponseBody"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "Result of a request to list all operations supported by Microsoft.AzureSphere resource provider.",
      "properties": {
        "value": {
          "description": "The list of Azure Sphere Operations.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Operation"
          }
        },
        "nextLink": {
          "description": "The link used to get the next page of Azure Sphere Operations list, if any.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AzureSphereRUList": {
      "description": "The list of Azure Sphere Resource Units.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of Azure Sphere Resource Unit list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Azure Sphere Resource Units.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AzureSphereRU"
          }
        }
      }
    },
    "Product": {
      "type": "object",
      "description": "Azure Sphere product details",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {}
    },
    "ProductList": {
      "description": "The list of Azure Sphere Products.",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "The link used to get the next page of the Azure Sphere Product list.",
          "type": "string"
        },
        "value": {
          "description": "The list of Azure Sphere products.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Product"
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "AzureSphereRUNameParameter": {
      "name": "azureSphereRUName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure Sphere Resource Unit.",
      "x-ms-parameter-location": "method"
    },
    "ProductNameParameter": {
      "name": "productName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of associated Azure Sphere Product.",
      "x-ms-parameter-location": "method"
    }
  }
}
