{
  "x-generator": "NSwag v13.15.10.0 (NJsonSchema v10.6.10.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Marketplace Search API",
    "version": "2022-02-02"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "produces": [
    "text/plain",
    "application/json",
    "text/json"
  ],
  "paths": {
    "/providers/Microsoft.Marketplace/search": {
      "get": {
        "tags": [
          "Authenticated-Arm-Search"
        ],
        "summary": "Returns a list of azure private store marketplace catalog offers and total count and facets",
        "operationId": "Search_GetArm",
        "x-ms-examples": {
          "Search_Get": {
            "$ref": "./examples/Search_Get.json"
          }
        },
        "parameters": [
          {
            "type": "string",
            "name": "x-ms-client-tenant-id",
            "x-originalName": "privateStoreId",
            "in": "header",
            "required": true,
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "searchQuery",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "publisherName",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "integer",
            "name": "skip",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "take",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "boolean",
            "name": "isAzureBenefitEligible",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isMicrosoftProduct",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isCoreVm",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isPreferredSolution",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isAdditionalPurchaseRequired",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isPowerBICertified",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "isIndustryCloud",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "array",
            "name": "languages",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "stores",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "select",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "sortBy",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "offerTypes",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "pricingTypes",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "privateStoreAllowances",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceIndustries",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "operatingSystems",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "appSourceCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureIndustries",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azureCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "azurePortalCategories",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "array",
            "name": "facets",
            "in": "query",
            "collectionFormat": "multi",
            "x-nullable": true,
            "items": {
              "type": "string"
            }
          },
          {
            "type": "string",
            "name": "x-ms-app",
            "x-originalName": "callingApp",
            "in": "header",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "api-version",
            "x-originalName": "apiVersion",
            "in": "query",
            "required": true,
            "default": "2022-02-02",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "Returns a list of azure private store marketplace catalog offers and total count and facets",
            "schema": {
              "$ref": "#/definitions/SearchResponseDto"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "In case request malformed",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/SearchErrorResponseDto"
            }
          },
          "500": {
            "x-nullable": false,
            "description": "In case internal error",
            "x-ms-error-response": true,
            "schema": {
              "$ref": "#/definitions/SearchErrorResponseDto"
            }
          },
          "default": {
            "description": "In case internal error",
            "schema": {
              "$ref": "#/definitions/SearchErrorResponseDto"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Microsoft.Marketplace REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/SearchErrorResponseDto"
            }
          }
        },
        "x-ms-examples": {
          "Operations_Get": {
            "$ref": "./examples/Operations_Get.json"
          }
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    }
  },
  "definitions": {
    "OperationListResult": {
      "description": "Result of the request to list Marketplace operations. It contains a list of operations and a URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SingleOperation"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "description": "List of Microsoft.Marketplace operations supported by the Microsoft.Marketplace resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any.",
          "readOnly": true
        }
      }
    },
    "SingleOperation": {
      "description": "Microsoft.Marketplace REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "description": "The object that represents the operation.",
          "type": "object",
          "properties": {
            "provider": {
              "readOnly": true,
              "description": "Service provider: Microsoft.Marketplace",
              "type": "string"
            },
            "resource": {
              "readOnly": true,
              "description": "Resource on which the operation is performed",
              "type": "string"
            },
            "operation": {
              "readOnly": true,
              "description": "Operation type",
              "type": "string"
            },
            "description": {
              "readOnly": true,
              "type": "string",
              "description": "Friendly description for the operation,"
            }
          }
        },
        "origin": {
          "description": "Origin of the operation",
          "type": "string"
        },
        "properties": {
          "$ref": "#/definitions/OperationProperties",
          "description": "Properties of the operation"
        }
      }
    },
    "OperationProperties": {
      "description": "Operation properties.",
      "type": "object",
      "properties": {}
    },
    "SearchErrorResponseDto": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/SearchErrorResponseDetails"
        }
      }
    },
    "SearchErrorResponseDetails": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "Store": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell",
        "DakotaDownstream"
      ],
      "enum": [
        "Appsource",
        "AMP",
        "Ibiza",
        "Cosell",
        "DakotaDownstream"
      ],
      "x-ms-enum": {
        "name": "Store",
        "modelAsString": true
      }
    },
    "PricingType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "enum": [
        "Free",
        "FreeTrial",
        "Byol",
        "Payg",
        "Ri"
      ],
      "x-ms-enum": {
        "name": "PricingType",
        "modelAsString": true
      }
    },
    "FacetsResponseDto": {
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetsItemDto"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "FacetsItemDto": {
      "type": "object",
      "properties": {
        "facetName": {
          "type": "string"
        },
        "facetValues": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetValueDto"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "FacetValueDto": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SearchResponseDto": {
      "type": "object",
      "properties": {
        "facets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FacetsItemDto"
          },
          "x-ms-identifiers": []
        },
        "results": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SearchItemDto"
          },
          "x-ms-identifiers": [
            "legacyId"
          ]
        },
        "totalCount": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "SearchItemDto": {
      "type": "object",
      "properties": {
        "ampAppsPopularity": {
          "type": "number",
          "format": "double"
        },
        "ampCsPopularity": {
          "type": "number",
          "format": "double"
        },
        "applicableProducts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appSourceAppsPopularity": {
          "type": "number",
          "format": "double"
        },
        "appSourceCategories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "appSourceCsPopularity": {
          "type": "number",
          "format": "double"
        },
        "appSourceIndustries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azureCategories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azurePortalCategories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "azureIndustries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "bigId": {
          "type": "string"
        },
        "cspStates": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "determinedStorefronts": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "isAzureBenefitEligible": {
          "type": "boolean"
        },
        "isCoreVm": {
          "type": "boolean"
        },
        "isPreferredSolution": {
          "type": "boolean"
        },
        "isAdditionalPurchaseRequired": {
          "type": "boolean"
        },
        "isPowerBICertified": {
          "type": "boolean"
        },
        "isIndustryCloud": {
          "type": "boolean"
        },
        "isMicrosoftProduct": {
          "type": "boolean"
        },
        "isPreview": {
          "type": "boolean"
        },
        "language": {
          "type": "string"
        },
        "legacyId": {
          "type": "string"
        },
        "offerType": {
          "type": "string"
        },
        "operatingSystems": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "plans": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PlanDto"
          },
          "x-ms-identifiers": [
            "legacyPlanId"
          ]
        },
        "pricingTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publisherDisplayName": {
          "type": "string"
        },
        "summary": {
          "type": "string"
        },
        "vmGenerations": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmImageTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmSecurityTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "smallIconUri": {
          "type": "string"
        },
        "mediumIconUri": {
          "type": "string"
        },
        "largeIconUri": {
          "type": "string"
        },
        "wideIconUri": {
          "type": "string"
        },
        "heroIconUri": {
          "type": "string"
        }
      }
    },
    "PlanDto": {
      "type": "object",
      "properties": {
        "cspState": {
          "type": "string"
        },
        "legacyPlanId": {
          "type": "string"
        },
        "displayName": {
          "type": "string"
        },
        "architectureType": {
          "type": "string"
        },
        "metadata": {
          "$ref": "#/definitions/PlanMetadataDto"
        },
        "operatingSystem": {
          "$ref": "#/definitions/OperatingSystemDto"
        }
      }
    },
    "PlanMetadataDto": {
      "type": "object",
      "properties": {
        "generation": {
          "type": "string"
        }
      }
    },
    "OperatingSystemDto": {
      "type": "object",
      "properties": {
        "family": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "PrivateStoreAllow": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "AllowedByAdmin",
        "AllowedByDefault",
        "NonAllowed"
      ],
      "enum": [
        "AllowedByAdmin",
        "AllowedByDefault",
        "NonAllowed"
      ],
      "x-ms-enum": {
        "name": "PrivateStoreAllow",
        "modelAsString": true
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
