{
  "swagger": "2.0",
  "info": {
    "title": "HDInsightManagementClient",
    "description": "The HDInsight Management Client.",
    "version": "2015-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities": {
      "get": {
        "tags": [
          "Regions"
        ],
        "operationId": "Location_GetCapabilities",
        "description": "Gets the capabilities for the specified location.",
        "x-ms-examples": {
          "Get the subscription capabilities for specific location": {
            "$ref": "../examples/GetHDInsightCapabilities.json"
          }
        },
        "parameters": [
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The location to get capabilities for."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/CapabilitiesResult"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "VersionSpec": {
      "description": "Gets or sets Version spec properties.",
      "properties": {
        "friendlyName": {
          "type": "string",
          "description": "Friendly Name"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name"
        },
        "isDefault": {
          "type": "string",
          "description": "Value true if the version is the default version."
        },
        "componentVersions": {
          "type": "object",
          "description": "Gets or Sets component version property.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "VersionsCapability": {
      "description": "Gets or sets version capability.",
      "properties": {
        "available": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VersionSpec"
          }
        }
      }
    },
    "RegionsCapability": {
      "description": "Gets or sets version regions capability.",
      "properties": {
        "available": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmSizesCapability": {
      "description": "Gets or sets virtual machine sizes capability.",
      "properties": {
        "available": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VmSizeCompatibilityFilter": {
      "description": "Gets or sets virtual machine type compatibility filter.",
      "properties": {
        "FilterMode": {
          "type": "string"
        },
        "Regions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClusterFlavors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "NodeTypes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ClusterVersions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "VMSizes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RegionalQuotaCapability": {
      "description": "Gets or sets regional quota capacity.",
      "properties": {
        "region_name": {
          "type": "string"
        },
        "cores_used": {
          "type": "integer",
          "format": "int64"
        },
        "cores_available": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "QuotaCapability": {
      "description": "Gets or sets regional quota capacity.",
      "properties": {
        "regionalQuotas": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/RegionalQuotaCapability"
          }
        }
      }
    },
    "CapabilitiesResult": {
      "description": "The Get Capabilities operation response.",
      "properties": {
        "versions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/VersionsCapability"
          }
        },
        "regions": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/RegionsCapability"
          }
        },
        "vmsizes": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/VmSizesCapability"
          }
        },
        "vmsize_filters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/VmSizeCompatibilityFilter"
          }
        },
        "features": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quota": {
          "$ref": "#/definitions/QuotaCapability"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}