{
    "swagger": "2.0",
    "info": {
        "title": "HDInsightManagementClient",
        "description": "The HDInsight Management Client.",
        "version": "2015-03-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [{
        "azure_auth": [
            "user_impersonation"
        ]
    }],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}": {
            "put": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_Create",
                "description": "Begins creating a new HDInsight cluster with the specified parameters.",
                "x-ms-examples": {
                    "Create Hadoop on Linux cluster with SSH password": {
                        "$ref": "../examples/CreateLinuxHadoopSshPassword.json"
                    },
                    "Create Hadoop on Linux cluster with SSH public key": {
                        "$ref": "../examples/CreateLinuxHadoopSshPublicKey.json"
                    },
                    "Create Spark on Linux Cluster with SSH password": {
                        "$ref": "../examples/CreateLinuxSparkSshPassword.json"
                    },
                    "Create Windows Cluster": {
                        "$ref": "../examples/CreateWindowsHadoopRdp.json"
                    },
                    "Create Secure Hadoop cluster": {
                        "$ref": "../examples/CreateLinuxHadoopSecureHadoop.json"
                    }
                },
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClusterCreateParametersExtended"
                        },
                        "description": "The cluster create request."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        }
                    }
                },
                "x-ms-long-running-operation": true
            },
            "patch": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_Update",
                "description": "Patch HDInsight cluster with the specified parameters.",
                "x-ms-examples": {
                    "Patch HDInsight Linux clusters": {
                        "$ref": "../examples/PatchLinuxHadoopCluster.json"
                    }
                },
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClusterPatchParameters"
                        },
                        "description": "The cluster patch request."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_Delete",
                "description": "Begins deleting the specified HDInsight cluster.",
                "x-ms-examples": {
                    "Delete Hadoop on Linux cluster": {
                        "$ref": "../examples/DeleteLinuxHadoopCluster.json"
                    }
                },
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted response definition."
                    },
                    "200": {
                        "description": "Ok response definition."
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_Get",
                "description": "Gets the specified cluster.",
                "x-ms-examples": {
                    "Get Hadoop on Linux cluster": {
                        "$ref": "../examples/GetLinuxHadoopCluster.json"
                    },
                    "Get Spark on Linux cluster": {
                        "$ref": "../examples/GetLinuxSparkCluster.json"
                    }
                },
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/Cluster"
                        }
                    }
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters": {
            "get": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_ListByResourceGroup",
                "description": "List the HDInsight clusters in a resource group.",
                "x-ms-examples": {
                    "Get All Hadoop on Linux cluster": {
                        "$ref": "../examples/GetLinuxHadoopAllCluster.json"
                    }
                },
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/ClusterListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/roles/{roleName}/resize": {
            "post": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_Resize",
                "description": "Begins a resize operation on the specified HDInsight cluster.",
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "name": "roleName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The constant value for the roleName",
                        "enum": [
                            "workernode"
                        ],
                        "x-ms-enum": {
                            "name": "RoleName",
                            "modelAsString": true
                        }
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ClusterResizeParameters"
                        },
                        "description": "The parameters for the resize operation."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted response definition."
                    },
                    "200": {
                        "description": "Ok response definition."
                    }
                },
                "x-ms-long-running-operation": true
            }
        },
        "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/clusters": {
            "get": {
                "tags": [
                    "Clusters"
                ],
                "operationId": "Clusters_List",
                "description": "Lists HDInsight clusters under the subscription.",
                "parameters": [{
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/ClusterListResult"
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        }
    },
    "definitions": {
        "HttpSettingsParameters": {
            "properties": {
                "restAuthCredential.isEnabled": {
                    "type": "string",
                    "description": "Whether HTTP auth is enabled or disabled."
                },
                "restAuthCredential.username": {
                    "type": "string",
                    "description": "Http username."
                },
                "restAuthCredential.password": {
                    "type": "string",
                    "format": "password",
                    "description": "Http user password."
                }
            },
            "required": [
                "restAuthCredential.isEnabled"
            ],
            "description": "The payload for a Configure HTTP settings request."
        },
        "ClusterDefinition": {
            "description": "The cluste definition.",
            "properties": {
                "blueprint": {
                    "type": "string",
                    "description": "The link to the blueprint."
                },
                "kind": {
                    "type": "string",
                    "description": "The type of cluster."
                },
                "componentVersion": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "The versions of different services in the cluster."
                },
                "configurations": {
                    "type": "object",
                    "description": "The cluster configurations."
                }
            }
        },
        "SecurityProfile": {
            "description": "The security profile which contains Ssh public key for the HDInsight cluster.",
            "properties": {
                "directoryType": {
                    "type": "string",
                    "description": "The directory type.",
                    "enum": [
                        "ActiveDirectory"
                    ],
                    "x-ms-enum": {
                        "name": "DirectoryType",
                        "modelAsString": false
                    }
                },
                "domain": {
                    "type": "string",
                    "description": "domain."
                },
                "organizationalUnitDN": {
                    "type": "string",
                    "description": "Distinguished Name for organizational unit."
                },
                "ldapsUrls": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "The LDAP URLs."
                },
                "domainUsername": {
                    "type": "string",
                    "description": "The domain admin user name."
                },
                "domainUserPassword": {
                    "type": "string",
                    "format": "password",
                    "description": "The domain admin password."
                },
                "clusterUsersGroupDNs": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "Optional. The Distinguished Names for cluster user groups"
                }
            }
        },
        "HardwareProfile": {
            "properties": {
                "vmSize": {
                    "type": "string",
                    "description": "The size of the VM"
                }
            },
            "description": "Describes the hardware profile."
        },
        "VirtualNetworkProfile": {
            "description": "The Virtual network properties.",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "The ID of the virtual network."
                },
                "subnet": {
                    "type": "string",
                    "description": "The name of the subnet."
                }
            }
        },
        "Role": {
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The name of the role."
                },
                "minInstanceCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The minimum instance count of the cluster."
                },
                "targetInstanceCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The instance count of the cluster."
                },
                "hardwareProfile": {
                    "$ref": "#/definitions/HardwareProfile",
                    "description": "The hardware profile."
                },
                "osProfile": {
                    "$ref": "./configurations.json#/definitions/OsProfile",
                    "description": "The operating system profile."
                },
                "virtualNetworkProfile": {
                    "$ref": "#/definitions/VirtualNetworkProfile",
                    "description": "The virtual network profile."
                },
                "scriptActions": {
                    "type": "array",
                    "items": {
                        "$ref": "./scriptActions.json#/definitions/ScriptAction"
                    },
                    "description": "The list of script actions on the role."
                }
            },
            "description": "Describes a role on the cluster."
        },
        "ComputeProfile": {
            "properties": {
                "roles": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Role"
                    },
                    "description": "The list of roles in the cluster."
                }
            },
            "description": "Describes the compute profile."
        },
        "StorageAccount": {
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The name of the storage account."
                },
                "isDefault": {
                    "type": "boolean",
                    "description": "Describes is the storage account is the default storage account."
                },
                "container": {
                    "type": "string",
                    "description": "The container in the storage account."
                },
                "key": {
                    "type": "string",
                    "description": "The storage account access key."
                }
            },
            "description": "Describes the storage Account."
        },
        "StorageProfile": {
            "properties": {
                "storageaccounts": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/StorageAccount"
                    },
                    "description": "The list of storage accounts in the cluster."
                }
            },
            "description": "Describes the storage profile."
        },
        "ClusterCreateProperties": {
            "description": "The cluster create parameters.",
            "properties": {
                "clusterVersion": {
                    "type": "string",
                    "description": "The version of the cluster."
                },
                "osType": {
                    "type": "string",
                    "description": "The type of operating system.",
                    "enum": [
                        "Windows",
                        "Linux"
                    ],
                    "x-ms-enum": {
                        "name": "OSType",
                        "modelAsString": false
                    }
                },
                "tier": {
                    "type": "string",
                    "description": "The cluster tier.",
                    "enum": [
                        "Standard",
                        "Premium"
                    ],
                    "x-ms-enum": {
                        "name": "Tier",
                        "modelAsString": false
                    }
                },
                "clusterDefinition": {
                    "$ref": "#/definitions/ClusterDefinition",
                    "description": "The cluster definition."
                },
                "securityProfile": {
                    "$ref": "#/definitions/SecurityProfile",
                    "description": "The security profile."
                },
                "computeProfile": {
                    "$ref": "#/definitions/ComputeProfile",
                    "description": "The compute profile."
                },
                "storageProfile": {
                    "$ref": "#/definitions/StorageProfile",
                    "description": "The storage profile."
                }
            }
        },
        "ClusterCreateParametersExtended": {
            "properties": {
                "location": {
                    "type": "string",
                    "description": "The location of the cluster."
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "The resource tags."
                },
                "properties": {
                    "$ref": "#/definitions/ClusterCreateProperties",
                    "description": "The cluster create parameters."
                }
            },
            "description": "The CreateCluster request parameters."
        },
        "ClusterPatchParameters": {
            "properties": {
                "tags": {
                    "type": "object",
                    "x-nullable": true,
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "The resource tags."
                }
            },
            "description": "The PatchCluster request parameters"
        },
        "QuotaInfo": {
            "description": "Gets or sets Quota properties for the cluster.",
            "properties": {
                "coresUsed": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The cores used by the cluster."
                }
            }
        },
        "errors": {
            "description": "The error message associated with the cluster creation.",
            "properties": {
                "code": {
                    "type": "string",
                    "description": "The error code."
                },
                "message": {
                    "type": "string",
                    "description": "The error message."
                }
            }
        },
        "ConnectivityEndpoint": {
            "description": "The connectivity properties",
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The name of the endpoint."
                },
                "protocol": {
                    "type": "string",
                    "description": "The protocol of the endpoint."
                },
                "location": {
                    "type": "string",
                    "description": "The location of the endpoint."
                },
                "port": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The port to connect to."
                }
            }
        },
        "ClusterGetProperties": {
            "description": "The properties of cluster.",
            "properties": {
                "clusterVersion": {
                    "type": "string",
                    "description": "The version of the cluster."
                },
                "osType": {
                    "type": "string",
                    "description": "The type of operating system.",
                    "enum": [
                        "Windows",
                        "Linux"
                    ],
                    "x-ms-enum": {
                        "name": "OSType",
                        "modelAsString": false
                    }
                },
                "tier": {
                    "type": "string",
                    "description": "The cluster tier.",
                    "enum": [
                        "Standard",
                        "Premium"
                    ],
                    "x-ms-enum": {
                        "name": "Tier",
                        "modelAsString": false
                    }
                },
                "clusterDefinition": {
                    "$ref": "#/definitions/ClusterDefinition",
                    "description": "The cluster definition."
                },
                "securityProfile": {
                    "$ref": "#/definitions/SecurityProfile",
                    "description": "The security profile."
                },
                "computeProfile": {
                    "$ref": "#/definitions/ComputeProfile",
                    "description": "The compute profile."
                },
                "provisioningState": {
                    "type": "string",
                    "description": "The provisioning state, which only appears in the response.",
                    "enum": [
                        "InProgress",
                        "Failed",
                        "Succeeded",
                        "Canceled",
                        "Deleting"
                    ],
                    "x-ms-enum": {
                        "name": "HDInsightClusterProvisioningState",
                        "modelAsString": false
                    }
                },
                "createdDate": {
                    "type": "string",
                    "description": "The date on which the cluster was created."
                },
                "clusterState": {
                    "type": "string",
                    "description": "The state of the cluster."
                },
                "quotaInfo": {
                    "$ref": "#/definitions/QuotaInfo",
                    "description": "The quota information."
                },
                "errors": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/errors"
                    },
                    "description": "The list of errors."
                },
                "connectivityEndpoints": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ConnectivityEndpoint"
                    },
                    "description": "The list of connectivity endpoints."
                }
            },
            "required": [
                "clusterDefinition"
            ]
        },
        "Cluster": {
            "allOf": [{
                "$ref": "#/definitions/Resource"
            }],
            "properties": {
                "etag": {
                    "type": "string",
                    "description": "The ETag for the resource"
                },
                "properties": {
                    "$ref": "#/definitions/ClusterGetProperties",
                    "description": "The properties of the cluster."
                }
            },
            "description": "Describes the cluster."
        },
        "RuntimeScriptAction": {
            "properties": {
                "name": {
                    "type": "string",
                    "description": "The name of the script action."
                },
                "uri": {
                    "type": "string",
                    "description": "The URI to the script."
                },
                "parameters": {
                    "type": "string",
                    "description": "The parameters for the script"
                },
                "roles": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "The list of roles where script will be executed."
                },
                "applicationName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The application name of the script action, if any."
                }
            },
            "required": [
                "name",
                "uri",
                "roles"
            ],
            "description": "Describes a script action on a running cluster."
        },
        "ExecuteScriptActionParameters": {
            "properties": {
                "scriptActions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RuntimeScriptAction"
                    },
                    "description": "The list of run time script actions."
                },
                "persistOnSuccess": {
                    "type": "string",
                    "description": "Gets or sets if the scripts needs to be persisted."
                }
            },
            "required": [
                "persistOnSuccess"
            ],
            "description": "Describes the script actions on a running cluster."
        },
        "ClusterListPersistedScriptActionsResult": {
            "properties": {
                "value": {
                    "description": "The list of Persisted Script Actions.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RuntimeScriptAction"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The link (url) to the next page of results."
                }
            },
            "description": "List PersistedScriptActions operations response."
        },
        "ScriptActionExecutionSummary": {
            "properties": {
                "status": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The status of script action execution."
                },
                "instanceCount": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int32",
                    "description": "The instance count for a given script action execution status."
                }
            },
            "description": "Describes the execution summary of a script action."
        },
        "RuntimeScriptActionDetail": {
            "properties": {
                "scriptExecutionId": {
                    "readOnly": true,
                    "type": "integer",
                    "format": "int64",
                    "description": "The execution id of the script action."
                },
                "startTime": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The start time of script action execution."
                },
                "endTime": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The end time of script action execution."
                },
                "status": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The current execution status of the script action."
                },
                "operation": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The reason why the script action was executed."
                },
                "executionSummary": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/ScriptActionExecutionSummary"
                    },
                    "description": "The summary of script action execution result."
                },
                "debugInformation": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The script action execution debug information."
                },
                "name": {
                    "type": "string",
                    "description": "The name of the script action."
                },
                "uri": {
                    "type": "string",
                    "description": "The URI to the script."
                },
                "parameters": {
                    "type": "string",
                    "description": "The parameters for the script"
                },
                "roles": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "The list of roles where script will be executed."
                },
                "applicationName": {
                    "readOnly": true,
                    "type": "string",
                    "description": "The application name of the script action, if any."
                }
            },
            "required": [
                "name",
                "uri",
                "roles"
            ],
            "description": "Describes the execution details of a script action."
        },
        "ClusterListRuntimeScriptActionDetailResult": {
            "properties": {
                "value": {
                    "readOnly": true,
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/RuntimeScriptActionDetail"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The link (url) to the next page of results."
                }
            },
            "description": "The ListScriptExecutionHistory response."
        },
        "ClusterListResult": {
            "properties": {
                "value": {
                    "description": "Gets the list of Clusters.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Cluster"
                    }
                },
                "nextLink": {
                    "type": "string",
                    "readOnly": true,
                    "description": "The link (url) to the next page of results."
                }
            },
            "description": "The List Cluster operation response."
        },
        "ClusterResizeParameters": {
            "properties": {
                "targetInstanceCount": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The target instance count for the operation."
                }
            },
            "description": "The Resize Cluster request parameters."
        },
        "OperationResource": {
            "properties": {
                "status": {
                    "type": "string",
                    "description": "The async operation state.",
                    "enum": [
                        "InProgress",
                        "Succeeded",
                        "Failed"
                    ],
                    "x-ms-enum": {
                        "name": "AsyncOperationState",
                        "modelAsString": false
                    }
                },
                "error": {
                    "$ref": "#/definitions/errors",
                    "description": "The operation error information."
                }
            },
            "description": "The azure async operation response."
        },
        "Resource": {
            "properties": {
                "id": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource Id"
                },
                "name": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource name"
                },
                "type": {
                    "readOnly": true,
                    "type": "string",
                    "description": "Resource type"
                },
                "location": {
                    "type": "string",
                    "description": "Resource location"
                },
                "tags": {
                    "type": "object",
                    "additionalProperties": {
                        "type": "string"
                    },
                    "description": "Resource tags"
                }
            },
            "required": [
                "location"
            ],
            "description": "The resource definition.",
            "x-ms-azure-resource": true
        },
        "SubResource": {
            "properties": {
                "id": {
                    "type": "string",
                    "description": "Resource Id"
                }
            },
            "description": "The sub resource definition.",
            "x-ms-azure-resource": true
        },
        "Operation": {
            "description": "HDInsight REST API operation",
            "type": "object",
            "properties": {
                "name": {
                    "description": "Operation name: {provider}/{resource}/{operation}",
                    "type": "string"
                },
                "display": {
                    "description": "The object that represents the operation.",
                    "properties": {
                        "provider": {
                            "description": "Service provider: Microsoft.HDInsight",
                            "type": "string"
                        },
                        "resource": {
                            "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
                            "type": "string"
                        },
                        "operation": {
                            "description": "Operation type: Read, write, delete, etc.",
                            "type": "string"
                        }
                    }
                }
            }
        },
        "OperationListResult": {
            "description": "Result of the request to list HDInsight operations. It contains a list of operations and a URL link to get the next set of results.",
            "properties": {
                "value": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Operation"
                    },
                    "description": "List of HDInsight operations supported by the HDInsight resource provider."
                },
                "nextLink": {
                    "type": "string",
                    "description": "URL to get the next set of operation list results if there are any."
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        }
    }
}