{
  "swagger": "2.0",
  "info": {
    "title": "HDInsightManagementClient",
    "description": "The HDInsight Management Client.",
    "version": "2015-03-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/changerdpsetting": {
      "post": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ChangeRdpSettings",
        "description": "Begins changing the RDP settings on the specified cluster.",
        "x-ms-examples": {
          "Change Remote Desktop settings - Enable": {
            "$ref": "../examples/RdpSettingsEnable.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[0-9a-zA-Z][0-9a-zA-Z-]*[a-zA-Z0-9]$",
            "description": "The name of the cluster."
          },
          {
            "name": "rdpParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RDPSettingsParameters"
            },
            "description": "The OS profile for RDP."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition"
          },
          "202": {
            "description": "Accepted response definition"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/{configurationName}": {
      "post": {
        "tags": [
          "Configurations"
        ],
        "operationId": "Configurations_UpdateHTTPSettings",
        "description": "Begins configuring the HTTP settings on the specified cluster.",
        "x-ms-examples": {
          "Enable HTTP connectivity": {
            "$ref": "../examples/ChangeHttpConnectivityEnable.json"
          },
          "Disable HTTP connectivity": {
            "$ref": "../examples/ChangeHttpConnectivityDisable.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The constant for configuration type of gateway.",
            "enum":[
              "gateway"
            ],
            "x-ms-enum": {
              "name": "Configurationname",
              "modelAsString": false
            }
          },
          {
            "name": "httpSettingsParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HttpSettingsParameters"
            },
            "description": "The name of the resource group."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Ok response definition"
          },
          "202": {
            "description": "Accepted response definition"
          },
          "204": {
            "description": "No content response definition"
          }
        },
        "x-ms-long-running-operation": true
      },
      "get": {
        "tags": [
          "Configurations"
        ],
        "operationId": "Configurations_Get",
        "description": "Gets the configuration object for the specified cluster.",
        "x-ms-examples": {
          "Get HTTP settings": {
            "$ref": "../examples/GetHttpConnectivity.json"
          }
        },
        "parameters": [
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "clusterName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the cluster."
          },
          {
            "name": "configurationName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The constant for configuration type of gateway.",
            "enum":[
              "gateway",
              "core-site"
            ],
            "x-ms-enum": {
              "name": "Configurationname",
              "modelAsString": false
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/HttpConnectivitySettings"
            }
          }
        }
      }
    },
    "/providers/Microsoft.HDinsight/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available HDInsight REST API operations.",
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "./cluster.json#/definitions/OperationListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "RdpSettings": {
      "description": "Gets RDP settings for the windows cluster.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Gets or sets the username for the RDP user."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password for the RDP user."
        },
        "expiryDate": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the RDP expiry date(YYYY-MM-DD)."
        }
      }
    },
    "SshPublicKey": {
      "description": "Gets Ssh public key for the cluster nodes.",
      "properties": {
        "certificateData": {
          "type": "string",
          "description": "Gets or sets the certificate for SSH."
        }
      }
    },
    "SshProfile": {
      "description":"Gets or sets the list of Ssh public keys.",
      "properties": {
        "publicKeys": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SshPublicKey"
          },
          "description": "Gets or sets the list of SSH public keys."
        }
      }
    },
    "LinuxOperatingSystemProfile": {
      "description": "Gets of sets the ssh username, password, and ssh public key.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Gets or sets the username."
        },
        "password": {
          "type": "string",
          "description": "Gets or sets the password."
        },
        "sshProfile": {
          "$ref": "#/definitions/SshProfile",
          "description": "Gets or sets the SSH profile."
        }
      }
    },
    "OsProfile": {
      "description": "Gets or sets the Windows operation systems profile, and configure remote desktop settings.",
      "properties": {
        "windowsOperatingSystemProfile": {
          "$ref": "./cluster.json#/definitions/WindowsOperatingSystemProfile",
          "description": "Gets or sets the Windows OS profile."
        },
        "linuxOperatingSystemProfile": {
          "$ref": "#/definitions/LinuxOperatingSystemProfile",
          "description": "Gets or sets the Linux OS profile."
        }
      }
    },
    "RDPSettingsParameters": {
      "properties": {
        "osProfile": {
          "$ref": "#/definitions/OsProfile",
          "description": "Gets or sets the definition of a data factory gateway to be created or updated."
        }
      },
      "required": [
        "osProfile"
      ],
      "description": "Parameters specifying the data factory gateway definition for a create or update operation."
    },
    "HttpSettingsParameters": {
      "properties": {
        "restAuthCredential.isEnabled": {
          "type": "boolean",
          "description": "Gets or sets the whether or not HTTP is enabled."
        },
        "restAuthCredential.username": {
          "type": "string",
          "description": "Gets or sets the http username."
        },
        "restAuthCredential.password": {
          "type": "string",
          "description": "Gets or sets the http user password."
        }
      },
      "required": [
        "restAuthCredential.isEnabled"
      ],
      "description": "The payload for a Configure HTTP settings request."
    },
    "HttpConnectivitySettings": {
      "properties": {
        "restAuthCredential.isEnabled": {
          "x-ms-client-name": "enabledCredential",
          "type": "boolean",
          "description": "Gets or sets the whether or not HTTP is enabled."
        },
        "restAuthCredential.username": {
          "x-ms-client-name": "username",
          "type": "string",
          "description": "Gets or sets the http username."
        },
        "restAuthCredential.password": {
          "x-ms-client-name": "password",
          "type": "string",
          "description": "Gets or sets the http user password."
        }
      },
      "description": "The payload for a Configure HTTP settings request."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    }
  }
}