{
    "swagger": "2.0",
    "info": {
        "title": "HDInsightManagementClient",
        "description": "The HDInsight Management Client.",
        "version": "2015-03-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [{
        "azure_auth": [
            "user_impersonation"
        ]
    }],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/extensions/{extensionName}": {
            "put": {
                "tags": [
                    "Extensions"
                ],
                "description": "Create HDInsight cluster extension.",
                "operationId": "Extension_Create",
                "x-ms-examples": {
                    "Create extensions on Hadoop Linux cluster": {
                        "$ref": "../examples/CreateExtension.json"
                    }
                },
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Extension"
                        },
                        "description": "The cluster extensions create request."
                    },
                    {
                        "name": "extensionName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster extension.",
                        "enum": [
                            "clustermonitoring"
                        ],
                        "x-ms-enum": {
                            "name": "ExtensionName",
                            "modelAsString": false
                        }
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded."
                    }
                }
            },
            "get": {
                "tags": [
                    "Extensions"
                ],
                "description": "Get extension properties for HDInsight cluster extension.",
                "operationId": "Extension_Get",
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "name": "extensionName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster extension.",
                        "enum": [
                            "clustermonitoring"
                        ],
                        "x-ms-enum": {
                            "name": "ExtensionName",
                            "modelAsString": false
                        }
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK. The request has succeeded.",
                        "schema": {
                            "$ref": "#/definitions/Extension"
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Extensions"
                ],
                "description": "Delete extension for HDInsight cluster.",
                "operationId": "Extension_Delete",
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "name": "extensionName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster extension.",
                        "enum": [
                            "clustermonitoring"
                        ],
                        "x-ms-enum": {
                            "name": "ExtensionName",
                            "modelAsString": false
                        }
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition."
                    }
                }
            }
        }
    },
    "definitions": {
        "Extension": {
            "description": "Cluster monitoring extensions",
            "properties": {
                "workspaceId": {
                    "description": "Workspace Id for cluster monitoring extension",
                    "type": "string"
                },
                "primaryKey": {
                    "description": "Certificate for monitoring extensions",
                    "type": "string"
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "Client Api Version."
        }
    }
}