{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "version": "2021-08-01-preview",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Standards"
    },
    {
      "name": "Assignments"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/assignments": {
      "get": {
        "operationId": "Assignments_ListBySubscription",
        "tags": [
          "Assignments"
        ],
        "description": "Get a list of all relevant standardAssignments over a subscription level scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssignmentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security standardAssignments by subscription level scope": {
            "$ref": "./examples/Assignments/ListBySubscriptionAssignments_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/standards": {
      "get": {
        "operationId": "Standards_ListBySubscription",
        "tags": [
          "Standards"
        ],
        "description": "Get a list of all relevant security standards over a subscription level scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StandardList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security standards by subscription level scope": {
            "$ref": "./examples/Standards/ListBySubscriptionStandards_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/assignments": {
      "get": {
        "operationId": "Assignments_List",
        "tags": [
          "Assignments"
        ],
        "description": "Get a list of all relevant standardAssignments available for scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssignmentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security standardAssignments by subscriptionId and resourceGroup scope": {
            "$ref": "./examples/Assignments/ListAssignments_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/assignments/{assignmentId}": {
      "get": {
        "operationId": "Assignments_Get",
        "tags": [
          "Assignments"
        ],
        "description": "Get a specific standard assignment for the requested scope by resourceId",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "assignmentId",
            "in": "path",
            "description": "The security assignment key - unique key for the standard assignment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Assignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get security standardAssignments by by specific standardAssignmentId": {
            "$ref": "./examples/Assignments/GetAssignment_example.json"
          }
        }
      },
      "put": {
        "operationId": "Assignments_CreateOrUpdate",
        "tags": [
          "Assignments"
        ],
        "description": "Create a security assignment on the given scope. Will create/update the required standard assignment.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "assignmentId",
            "in": "path",
            "description": "The security assignment key - unique key for the standard assignment",
            "required": true,
            "type": "string"
          },
          {
            "name": "assignment",
            "in": "body",
            "description": "Custom standard assignment over a pre-defined scope",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Assignment"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Assignment' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Assignment"
            }
          },
          "201": {
            "description": "Resource 'Assignment' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Assignment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Define a default standard assignment": {
            "$ref": "./examples/Assignments/PutDefaultAssignment_example.json"
          },
          "Exempt Recommendation From standard and resource": {
            "$ref": "./examples/Assignments/PutAssignment_example.json"
          }
        }
      },
      "delete": {
        "operationId": "Assignments_Delete",
        "tags": [
          "Assignments"
        ],
        "description": "Delete a standard assignment over a given scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "assignmentId",
            "in": "path",
            "description": "The security assignment key - unique key for the standard assignment",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete security assignment": {
            "$ref": "./examples/Assignments/DeleteAssignment_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/standards": {
      "get": {
        "operationId": "Standards_List",
        "tags": [
          "Standards"
        ],
        "description": "Get security standards on all your resources inside a scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/StandardList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security standards": {
            "$ref": "./examples/Standards/ListStandards_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/standards/{standardId}": {
      "get": {
        "operationId": "Standards_Get",
        "tags": [
          "Standards"
        ],
        "description": "Get a specific security standard for the requested scope",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standardId",
            "in": "path",
            "description": "The Security Standard key - unique key for the standard type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Standard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a specific security standard by scope and standardId": {
            "$ref": "./examples/Standards/GetStandard_example.json"
          }
        }
      },
      "put": {
        "operationId": "Standards_CreateOrUpdate",
        "tags": [
          "Standards"
        ],
        "description": "Create a security standard on the given scope.  Available only for custom standards.  Will create/update the required standard definitions.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standardId",
            "in": "path",
            "description": "The Security Standard key - unique key for the standard type",
            "required": true,
            "type": "string"
          },
          {
            "name": "standard",
            "in": "body",
            "description": "Custom security standard over a pre-defined scope",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Standard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Standard' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Standard"
            }
          },
          "201": {
            "description": "Resource 'Standard' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Standard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create a security standard on a specified scope": {
            "$ref": "./examples/Standards/PutStandard_example.json"
          }
        }
      },
      "delete": {
        "operationId": "Standards_Delete",
        "tags": [
          "Standards"
        ],
        "description": "Delete a security standard on a scope.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "standardId",
            "in": "path",
            "description": "The Security Standard key - unique key for the standard type",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a security standard over the specified scope": {
            "$ref": "./examples/Standards/DeleteStandard_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AssignedComponentItem": {
      "type": "object",
      "description": "describe the properties of a security assessment object reference (by key)",
      "properties": {
        "key": {
          "type": "string",
          "description": "unique key to a security assessment object"
        }
      }
    },
    "AssignedStandardItem": {
      "type": "object",
      "description": "describe the properties of a of a security standard object reference",
      "properties": {
        "id": {
          "type": "string",
          "description": "full resourceId of the Microsoft.Security/standard object"
        }
      }
    },
    "Assignment": {
      "type": "object",
      "description": "Security Assignment on a resource group over a given scope",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssignmentProperties",
          "description": "Properties of a security assignment",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Kind of the resource"
        },
        "etag": {
          "type": "string",
          "description": "Entity tag is used for comparing two or more entities from the same requested resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AssignmentList": {
      "type": "object",
      "description": "Page of a standard assignment list",
      "properties": {
        "value": {
          "type": "array",
          "description": "Collection of standardAssignments in this page",
          "items": {
            "$ref": "#/definitions/Assignment"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page",
          "readOnly": true
        }
      }
    },
    "AssignmentProperties": {
      "type": "object",
      "description": "Describes the properties of a standardAssignment",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "display name of the standardAssignment"
        },
        "description": {
          "type": "string",
          "description": "description of the standardAssignment"
        },
        "assignedStandard": {
          "$ref": "#/definitions/AssignedStandardItem",
          "description": "Standard item with key as applied to this standard assignment over the given scope"
        },
        "assignedComponent": {
          "$ref": "#/definitions/AssignedComponentItem",
          "description": "Component item with key as applied to this standard assignment over the given scope"
        },
        "scope": {
          "type": "string",
          "description": "Scope to which the standardAssignment applies - can be a subscription path or a resource group under that subscription"
        },
        "effect": {
          "type": "string",
          "description": "expected effect of this assignment (Disable/Exempt/etc)"
        },
        "expiresOn": {
          "type": "string",
          "format": "date-time",
          "description": "Expiration date of this assignment as a full ISO date"
        },
        "additionalData": {
          "$ref": "#/definitions/AssignmentPropertiesAdditionalData",
          "description": "Additional data about the assignment"
        },
        "metadata": {
          "description": "The assignment metadata. Metadata is an open ended object and is typically a collection of key value pairs."
        }
      }
    },
    "AssignmentPropertiesAdditionalData": {
      "type": "object",
      "description": "Additional data about the assignment",
      "properties": {
        "exemptionCategory": {
          "type": "string",
          "description": "Exemption category of this assignment"
        }
      }
    },
    "CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "Standard": {
      "type": "object",
      "description": "Security Standard on a resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/StandardProperties",
          "description": "Properties of a security standard",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Kind of the resource"
        },
        "etag": {
          "type": "string",
          "description": "Entity tag is used for comparing two or more entities from the same requested resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "StandardComponentProperties": {
      "type": "object",
      "description": "Describes properties of an component as related to the standard",
      "properties": {
        "key": {
          "type": "string",
          "description": "Component Key matching componentMetadata"
        }
      }
    },
    "StandardList": {
      "type": "object",
      "description": "Page of a Standard list",
      "properties": {
        "value": {
          "type": "array",
          "description": "Collection of standards in this page",
          "items": {
            "$ref": "#/definitions/Standard"
          },
          "readOnly": true
        },
        "nextLink": {
          "type": "string",
          "description": "The URI to fetch the next page",
          "readOnly": true
        }
      }
    },
    "StandardProperties": {
      "type": "object",
      "description": "Describes properties of a standard.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "display name of the standard, equivalent to the standardId"
        },
        "standardType": {
          "type": "string",
          "description": "standard type (Custom or BuiltIn only currently)",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "description of the standard"
        },
        "category": {
          "type": "string",
          "description": "category of the standard provided"
        },
        "components": {
          "type": "array",
          "description": "List of component objects containing component unique keys (such as assessment keys) to apply to standard scope.  Currently only supports assessment keys.",
          "items": {
            "$ref": "#/definitions/StandardComponentProperties"
          },
          "x-ms-identifiers": []
        },
        "supportedClouds": {
          "type": "array",
          "description": "List of all standard supported clouds.",
          "items": {
            "$ref": "#/definitions/StandardSupportedClouds"
          }
        }
      }
    },
    "StandardSupportedClouds": {
      "type": "string",
      "description": "The cloud that the standard is supported on.",
      "enum": [
        "AWS",
        "GCP"
      ],
      "x-ms-enum": {
        "name": "StandardSupportedClouds",
        "modelAsString": false,
        "values": [
          {
            "name": "AWS",
            "value": "AWS",
            "description": "AWS"
          },
          {
            "name": "GCP",
            "value": "GCP",
            "description": "GCP"
          }
        ]
      }
    }
  },
  "parameters": {}
}
