{
  "swagger": "2.0",
  "info": {
    "title": "Azure Machine Learning Workspaces",
    "description": "These APIs allow end users to operate on Azure Machine Learning Workspace resources.",
    "version": "2020-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed the available operations.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            },
            "description": ""
          }
        },
        "x-ms-examples": {
          "Lists all of the available REST API operations": {
            "$ref": "./examples/operationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/deployments/{deploymentId}": {
      "put": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "Creates a batch inference deployment.",
        "operationId": "BatchDeployments_CreateOrUpdate",
        "x-ms-examples": {
          "Create or update BatchDeployment": {
            "$ref": "./examples/createOrUpdateBatchDeployment.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "$ref": "#/parameters/EndpointDeploymentIdParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference deployment definition object.",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentResource"
            }
          }
        }
      },
      "get": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "Gets a batch inference deployment by id.",
        "operationId": "BatchDeployments_Get",
        "x-ms-examples": {
          "Get BatchDeployment": {
            "$ref": "./examples/getBatchDeployment.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/EndpointDeploymentIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "Delete Batch Inference deployment.",
        "operationId": "BatchDeployments_Delete",
        "x-ms-examples": {
          "Delete BatchDeployment": {
            "$ref": "./examples/deleteBatchDeployment.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/EndpointDeploymentIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/deployments/{deploymentId}/jobs/{jobId}": {
      "patch": {
        "tags": [
          "BatchJobDeployment"
        ],
        "summary": "Updates a batch job inference deployment.",
        "operationId": "BatchJobsDeployment_Update",
        "x-ms-examples": {
          "Update BatchJobDeployment": {
            "$ref": "./examples/updateBatchJobDeployment.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/BatchJobIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "$ref": "#/parameters/EndpointDeploymentIdParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference job deployment definition object.",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        }
      },
      "get": {
        "tags": [
          "BatchJobDeployment"
        ],
        "summary": "Gets a batch inference job deployment by id.",
        "operationId": "BatchJobsDeployments_Get",
        "x-ms-examples": {
          "Get BatchJobDeployment": {
            "$ref": "./examples/getBatchJobDeployment.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/EndpointDeploymentIdParameter"
          },
          {
            "$ref": "#/parameters/BatchJobIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BatchJobDeployment"
        ],
        "summary": "Delete Batch Inference job deployment.",
        "operationId": "BatchJobsDeployments_Delete",
        "x-ms-examples": {
          "Delete BatchJobDeployment": {
            "$ref": "./examples/deleteBatchJobDeployment.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/EndpointDeploymentIdParameter"
          },
          {
            "$ref": "#/parameters/BatchJobIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/deployments/{deploymentId}/jobs": {
      "post": {
        "tags": [
          "BatchJobDeployment"
        ],
        "summary": "Creates a batch job inference deployment.",
        "operationId": "BatchJobsDeployment_Create",
        "x-ms-examples": {
          "Create BatchJobDeployment": {
            "$ref": "./examples/createBatchJobDeployment.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "$ref": "#/parameters/EndpointDeploymentIdParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference job deployment definition object.",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        }
      },
      "get": {
        "tags": [
          "BatchJobDeployment"
        ],
        "summary": "Lists Batch inference job deployments in the workspace.",
        "operationId": "BatchJobsDeployments_List",
        "x-ms-examples": {
          "Get BatchJobDeployments": {
            "$ref": "./examples/getBatchJobDeployments.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/EndpointDeploymentIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchJobResourcePaginatedResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/jobs/{jobId}": {
      "patch": {
        "tags": [
          "BatchJobEndpoint"
        ],
        "summary": "Updates a batch job inference endpoint.",
        "operationId": "BatchJobsEndpoint_Update",
        "x-ms-examples": {
          "Update BatchJobEndpoint": {
            "$ref": "./examples/updateBatchJobEndpoint.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/BatchJobIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference job definition object.",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        }
      },
      "get": {
        "tags": [
          "BatchJobEndpoint"
        ],
        "summary": "Gets a batch inference job endpoint by id.",
        "operationId": "BatchJobsEndpoints_Get",
        "x-ms-examples": {
          "Get BatchJobEndpoint": {
            "$ref": "./examples/getBatchJobEndpoint.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BatchJobIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BatchJobEndpoint"
        ],
        "summary": "Delete Batch Inference job endpoint.",
        "operationId": "BatchJobsEndpoints_Delete",
        "x-ms-examples": {
          "Delete BatchJobEndpoint": {
            "$ref": "./examples/deleteBatchJobEndpoint.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/BatchJobIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/jobs": {
      "post": {
        "tags": [
          "BatchJobEndpoint"
        ],
        "summary": "Creates a batch job inference endpoint.",
        "operationId": "BatchJobsEndpoint_Create",
        "x-ms-examples": {
          "Create BatchJobEndpoint": {
            "$ref": "./examples/createBatchJobEndpoint.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference job endpoint definition object.",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BatchJobResource"
            }
          }
        }
      },
      "get": {
        "tags": [
          "BatchJobEndpoint"
        ],
        "summary": "Lists Batch inference job endpoints in the workspace.",
        "operationId": "BatchJobsEndpoints_List",
        "x-ms-examples": {
          "Get BatchJobEndpoints": {
            "$ref": "./examples/getBatchJobEndpoints.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchJobResourcePaginatedResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/deployments": {
      "get": {
        "tags": [
          "BatchDeployment"
        ],
        "summary": "Lists Batch inference deployments in the workspace.",
        "operationId": "BatchDeployments_List",
        "x-ms-examples": {
          "Get BatchDeployments": {
            "$ref": "./examples/getBatchDeployments.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchDeploymentResourcePaginatedResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}": {
      "put": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Creates a batch inference endpoint.",
        "operationId": "BatchEndpoints_CreateOrUpdate",
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create or update BatchEndpoint": {
            "$ref": "./examples/createOrUpdateBatchEndpoint.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Batch inference endpoint definition object.",
            "schema": {
              "$ref": "#/definitions/BatchEndpointResource"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchEndpointResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BatchEndpointResource"
            }
          }
        }
      },
      "get": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Gets a batch inference endpoint by name.",
        "operationId": "BatchEndpoints_Get",
        "x-ms-examples": {
          "Get BatchEndpoint": {
            "$ref": "./examples/getBatchEndpoint.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchEndpointResource"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Delete Batch Inference Endpoint.",
        "operationId": "BatchEndpoints_Delete",
        "x-ms-examples": {
          "Delete BatchEndpoint": {
            "$ref": "./examples/deleteBatchEndpoint.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints": {
      "get": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Lists Batch inference endpoint in the workspace.",
        "operationId": "BatchEndpoints_List",
        "x-ms-examples": {
          "Get BatchEndpoints": {
            "$ref": "./examples/getBatchEndpoints.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "in": "query",
            "name": "$skipToken",
            "description": "Continuation token for pagination.",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchEndpointResourcePaginatedResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/mferp/managementfrontend/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/batchEndpoints/{endpointName}/listkeys": {
      "post": {
        "tags": [
          "BatchEndpoint"
        ],
        "summary": "Lists batch Inference Endpoint keys.",
        "operationId": "BatchEndpoints_ListKeys",
        "x-ms-examples": {
          "List Keys": {
            "$ref": "./examples/listKeysBatchEndpoint.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/EndpointNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/InferenceEndpointKeysResource"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "LocationNameParameter": {
      "name": "locationName",
      "description": "location of Azure Machine Learning workspace.",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "EndpointNameParameter": {
      "name": "endpointName",
      "description": "Name of the Azure Machine Learning Batch Inference endpoint.",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "EndpointDeploymentIdParameter": {
      "name": "deploymentId",
      "description": "Identifier of the Azure Machine Learning Batch Inference Deployment.",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "BatchJobIdParameter": {
      "name": "jobId",
      "description": "Identifier of the Azure Machine Learning Batch Inference job.",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "BatchDeploymentResource": {
      "description": "Azure Resource Manager resource Envelope",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "machineLearningServices.json#/definitions/Resource"
        }
      ],
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The resource URL of the entity (not URL encoded).",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource entity.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The resource provider and type.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/BatchDeployment"
        },
        "location": {
          "description": "Specifies the location of the resource.",
          "type": "string"
        },
        "tags": {
          "description": "Contains resource tags defined as key/value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BatchDeploymentResourcePaginatedResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BatchDeploymentResource"
          }
        },
        "continuationToken": {
          "type": "string"
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "BatchEndpointResource": {
      "description": "Azure Resource Manager resource Envelope",
      "required": [
        "properties"
      ],
      "allOf": [
        {
          "$ref": "machineLearningServices.json#/definitions/Resource"
        }
      ],
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The resource URL of the entity (not URL encoded).",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource entity.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The resource provider and type.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/BatchEndpoint"
        },
        "location": {
          "description": "Specifies the location of the resource.",
          "type": "string"
        },
        "tags": {
          "description": "Contains resource tags defined as key/value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "BatchEndpointResourcePaginatedResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BatchEndpointResource"
          }
        },
        "continuationToken": {
          "type": "string"
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "BatchRetrySettings": {
      "description": "Retry settings for a batch inference operation.",
      "type": "object",
      "properties": {
        "maximumRetries": {
          "format": "int32",
          "description": "Maximum retry count for a mini-batch",
          "type": "integer"
        },
        "timeoutInSeconds": {
          "format": "int32",
          "description": "Invocation timeout for a mini-batch, in seconds.",
          "type": "integer"
        }
      }
    },
    "BatchPartitioningScheme": {
      "description": "Partitioning scheme for batch inference operation.",
      "type": "object",
      "properties": {
        "partitioningKey": {
          "description": "Partition key used for Named partitioning.",
          "type": "string"
        },
        "miniBatchSize": {
          "format": "int64",
          "description": "Size of the mini-batch passed to each batch invocation.\r\nFor FileDataset, this is the number of files per mini-batch.\r\nFor TabularDataset, this is the size of the records in bytes, per mini-batch.",
          "type": "integer"
        }
      }
    },
    "BatchLoggingLevel": {
      "description": "Log verbosity for batch inferencing.\r\nIncreasing verbosity order for logging is : Warning, Info and Debug\r\nDefault value is Info.",
      "enum": [
        "Info",
        "Warning",
        "Debug"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "BatchLoggingLevel",
        "modelAsString": false
      }
    },
    "BatchOutputAction": {
      "description": "Enum to determine how batch inferencing will handle output",
      "enum": [
        "SummaryOnly",
        "AppendRow"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "BatchOutputAction",
        "modelAsString": false
      }
    },
    "BatchOutputConfiguration": {
      "description": "Batch inference output configuration.",
      "type": "object",
      "properties": {
        "outputAction": {
          "$ref": "#/definitions/BatchOutputAction"
        },
        "appendRowFileName": {
          "description": "Customized output file name for append_row output action.",
          "type": "string"
        }
      }
    },
    "InferenceEndpointKeysResource": {
      "description": "Inference endpoint keys.",
      "type": "object",
      "properties": {
        "primaryKey": {
          "description": "Primary key.",
          "type": "string"
        },
        "secondaryKey": {
          "description": "Secondary key.",
          "type": "string"
        }
      }
    },
    "DeploymentScaleSettings": {
      "type": "object",
      "properties": {
        "nodeCount": {
          "format": "int32",
          "description": "Number of Compute nodes to be used for running the deployment",
          "type": "integer"
        }
      }
    },
    "DeploymentProvisioningState": {
      "enum": [
        "Creating",
        "Deleting",
        "Scaling",
        "Updating",
        "Succeeded",
        "Failed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "DeploymentProvisioningState",
        "modelAsString": false
      }
    },
    "EndpointProvisioningState": {
      "description": "State of endpoint provisioning.",
      "enum": [
        "Creating",
        "Deleting",
        "Succeeded",
        "Failed"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "EndpointProvisioningState",
        "modelAsString": false
      }
    },
    "EndpointAuthModeType": {
      "enum": [
        "AMLTokenAuth",
        "KeyAuth"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "EndpointAuthModeType",
        "modelAsString": false
      }
    },
    "BatchDeployment": {
      "description": "Batch inference settings per deployment.",
      "type": "object",
      "properties": {
        "scaleSettings": {
          "$ref": "#/definitions/DeploymentScaleSettings"
        },
        "batchSettings": {
          "$ref": "#/definitions/BatchDeploymentSettings"
        },
        "description": {
          "description": "Description of the endpoint deployment.",
          "type": "string"
        },
        "properties": {
          "description": "Property dictionary. Properties can be added, but not removed or altered.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "modelId": {
          "description": "Model identifier.",
          "type": "string"
        },
        "codeConfiguration": {
          "$ref": "#/definitions/CodeConfiguration"
        },
        "environmentId": {
          "description": "Environment specification for the endpoint deployment.",
          "type": "string"
        },
        "provisioningState": {
          "$ref": "#/definitions/DeploymentProvisioningState"
        }
      }
    },
    "CommandType": {
      "enum": [
        "Command",
        "Python"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "CommandType",
        "modelAsString": false
      }
    },
    "BatchEndpoint": {
      "description": "Batch endpoint configuration",
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of the inference endpoint.",
          "type": "string"
        },
        "properties": {
          "description": "Property dictionary. Properties can be added, but not removed or altered.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "trafficRules": {
          "description": "Traffic rules on how the traffic will be routed across deployments.",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "computeConfiguration": {
          "$ref": "#/definitions/ComputeConfiguration"
        },
        "provisioningState": {
          "$ref": "#/definitions/EndpointProvisioningState"
        },
        "endpoint": {
          "description": "Endpoint URI",
          "type": "string",
          "readOnly": true
        },
        "swaggerEndpoint": {
          "description": "Endpoint Swagger URI",
          "type": "string",
          "readOnly": true
        },
        "authMode": {
          "$ref": "#/definitions/EndpointAuthModeType"
        }
      }
    },
    "CodeConfiguration": {
      "required": [
        "command"
      ],
      "type": "object",
      "properties": {
        "commandType": {
          "$ref": "#/definitions/CommandType"
        },
        "codeArtifactId": {
          "description": "The ID of the code asset.",
          "type": "string"
        },
        "command": {
          "description": "The command to execute on startup of the job.",
          "minLength": 1,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ComputeConfiguration": {
      "description": "Compute Configuration of the endpoint.",
      "type": "object",
      "required": [
        "computeType"
      ],
      "properties": {
        "computeType": {
          "enum": [
            "ACI",
            "AKS",
            "AMLCompute"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ComputeConfigurationType",
            "modelAsString": true
          },
          "description": "Compute Configuration type such as ACI, AKS, or AMLCompute"
        }
      },
      "discriminator": "computeType"
    },
    "BatchDeploymentSettings": {
      "description": "Batch inference specific settings per deployment.",
      "type": "object",
      "properties": {
        "computeId": {
          "description": "Compute artifact Identifier",
          "type": "string"
        },
        "errorThreshold": {
          "format": "int32",
          "description": "Error threshold, if the error count for the entire input goes above this value,\r\nthe batch inference will be aborted. Range is [-1, int.MaxValue]\r\n-1 value indicates, ignore all failures during batch inference\r\nFor FileDataset count of file failures\r\nFor TabularDataset, this is the count of record failures",
          "type": "integer"
        },
        "retrySettings": {
          "$ref": "#/definitions/BatchRetrySettings"
        },
        "partitioningScheme": {
          "$ref": "#/definitions/BatchPartitioningScheme"
        },
        "loggingLevel": {
          "$ref": "#/definitions/BatchLoggingLevel"
        },
        "outputConfiguration": {
          "$ref": "#/definitions/BatchOutputConfiguration"
        }
      }
    },
    "InteractionEndpoints": {
      "description": "Interaction endpoints",
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/InteractionEndpoint"
      }
    },
    "InteractionEndpoint": {
      "description": "Interaction endpoint",
      "properties": {
        "jobEndpoint": {
          "$ref": "#/definitions/JobEndpoint"
        },
        "link": {
          "type": "string"
        }
      }
    },
    "JobOutput": {
      "description": "Output of a job.",
      "type": "object",
      "properties": {
        "datastoreId": {
          "description": "Datastore Identifier",
          "type": "string"
        },
        "path": {
          "description": "Path inside the datastore",
          "type": "string"
        }
      }
    },
    "JobEndpoint": {
      "description": "Job endpoint.",
      "enum": [
        "Tracking",
        "Studio",
        "Grafana",
        "Tensorboard"
      ],
      "type": "string"
    },
    "JobStatus": {
      "description": "The status of a job.",
      "enum": [
        "NotStarted",
        "Starting",
        "Provisioning",
        "Preparing",
        "Queued",
        "Running",
        "Finalizing",
        "CancelRequested",
        "Completed",
        "Failed",
        "Canceled",
        "NotResponding"
      ],
      "type": "string"
    },
    "BatchJob": {
      "description": "Batch job inference settings.",
      "type": "object",
      "properties": {
        "scaleSettings": {
          "$ref": "#/definitions/DeploymentScaleSettings"
        },
        "datasetId": {
          "description": "Identifier for input dataset.",
          "type": "string"
        },
        "tags": {
          "description": "Contains resource tags defined as key/value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "description": "Property dictionary. Properties can be added, but not removed or altered.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "errorThreshold": {
          "format": "int32",
          "description": "Error threshold, if the error count for the entire input goes above this value,\r\nthe batch inference will be aborted. Range is [-1, int.MaxValue]\r\n-1 value indicates, ignore all failures during batch inference\r\nFor FileDataset count of file failures\r\nFor TabularDataset, this is the count of record failures",
          "type": "integer"
        },
        "partitioningScheme": {
          "$ref": "#/definitions/BatchPartitioningScheme"
        },
        "output": {
          "$ref": "#/definitions/JobOutput"
        },
        "status": {
          "$ref": "#/definitions/JobStatus"
        },
        "interactionEndpoints": {
          "$ref": "#/definitions/InteractionEndpoints"
        },
        "description": {
          "description": "Datastore Identifier",
          "type": "string"
        }
      }
    },
    "BatchJobResource": {
      "description": "Azure Resource Manager resource Envelope",
      "allOf": [
        {
          "$ref": "machineLearningServices.json#/definitions/Resource"
        }
      ],
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "id": {
          "description": "The resource URL of the entity (not URL encoded).",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource entity.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The resource provider and type.",
          "type": "string",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/BatchJob"
        }
      }
    },
    "BatchJobResourcePaginatedResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BatchJobResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      }
    },
    "Operation": {
      "description": "REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "display": {
          "description": "The object that represents the operation.",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.ResourceProvider",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            }
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list Resource Provider operations. It contains a list of operations and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of Resource Provider operations supported by the Resource Provider resource provider."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    }
  }
}
