{
  "swagger": "2.0",
  "info": {
    "title": "Azure Machine Learning Workspaces",
    "description": "These APIs allow end users to operate on Azure Machine Learning Workspace resources.",
    "version": "2020-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/codes": {
      "get": {
        "tags": [
          "CodeContainer"
        ],
        "x-ms-examples": {
          "List CodeContainers": {
            "$ref": "./examples/listCodeContainers.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Lists code containers in the workspace.",
        "operationId": "CodeContainers_List",
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/PaginationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeContainerResourcePaginatedResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/codes/{name}": {
      "delete": {
        "tags": [
          "CodeContainer"
        ],
        "x-ms-examples": {
          "Delete CodeContainer": {
            "$ref": "./examples/deleteCodeContainer.json"
          }
        },
        "description": "Delete Code Container entity.",
        "operationId": "CodeContainers_Delete",
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/CodeContainerNameParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          },
          "200": {
            "description": "Success"
          },
          "204": {
            "description": "Success"
          }
        }
      },
      "get": {
        "tags": [
          "CodeContainer"
        ],
        "x-ms-examples": {
          "Get CodeContainer": {
            "$ref": "./examples/getCodeContainer.json"
          }
        },
        "description": "Get code container.",
        "operationId": "CodeContainers_Get",
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/CodeContainerNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeContainerResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "CodeContainer"
        ],
        "x-ms-examples": {
          "Create or update code container": {
            "$ref": "./examples/createOrUpdateCodeContainer.json"
          }
        },
        "description": "Create or update code container.",
        "operationId": "CodeContainers_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "machineLearningServices.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "machineLearningServices.json#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/CodeContainerNameParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Code container entity to create or update.",
            "schema": {
              "$ref": "#/definitions/CodeContainerResourceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeContainerResource"
            }
          },
          "201": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeContainerResource"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "machineLearningServices.json#/definitions/MachineLearningServiceError"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "CodeContainerNameParameter": {
      "in": "path",
      "name": "name",
      "type": "string",
      "description": "Code Container identifier.",
      "required": true,
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "CodeContainerResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The resource URL of the entity (not URL encoded).",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource entity.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The resource provider and type.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/CodeContainer"
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/systemData"
        }
      },
      "additionalProperties": false,
      "description": "Azure Resource Manager resource Envelope"
    },
    "CodeContainerResourcePaginatedResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodeContainerResource"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "additionalProperties": false
    },
    "CodeContainer": {
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The asset container description text."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The asset tag dictionary. Tags can be added, removed, and updated."
        },
        "latestVersions": {
          "type": "array",
          "items": {
            "$ref": "codeVersion.json#/definitions/CodeVersionResource"
          },
          "description": "Latest Versions for all assets"
        },
        "name": {
          "type": "string",
          "description": "The Name of the Asset container"
        }
      },
      "additionalProperties": false
    },
    "CodeContainerResourceRequest": {
      "description": "Azure Resource Management create resource envelope.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeContainer"
        }
      },
      "additionalProperties": false
    }
  }
}
