{
  "swagger": "2.0",
  "info": {
    "title": "Azure Machine Learning Workspaces",
    "description": "These APIs allow end users to operate on Azure Machine Learning Workspace resources.",
    "version": "2020-09-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/codeJobs/{id}": {
      "put": {
        "tags": [
          "CodeJobs"
        ],
        "description": "Creates and executes a CodeJob.",
        "operationId": "CodeJobs_CreateOrUpdate",
        "x-ms-examples": {
          "Create or update CodeJob": {
            "$ref": "./examples/createOrUpdateCodeJob.json"
          }
        },
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/CodeJobIdParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "CodeJob definition object.",
            "schema": {
              "$ref": "#/definitions/CodeJobCreateResourceArmDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated CodeJob",
            "schema": {
              "$ref": "#/definitions/CodeJobResourceArmDto"
            }
          },
          "201": {
            "description": "Successfully created CodeJob",
            "schema": {
              "$ref": "#/definitions/CodeJobResourceArmDto"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/MachineLearningServiceError"
            }
          }
        }
      },
      "get": {
        "tags": [
          "CodeJobs"
        ],
        "description": "Gets a CodeJob by name/id.",
        "operationId": "CodeJobs_Get",
        "x-ms-examples": {
          "Get CodeJob": {
            "$ref": "./examples/getCodeJob.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/CodeJobIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeJobResourceArmDto"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/MachineLearningServiceError"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/codeJobs": {
      "get": {
        "tags": [
          "CodeJobs"
        ],
        "description": "Lists CodeJobs in the workspace.",
        "operationId": "CodeJobs_List",
        "x-ms-examples": {
          "List CodeJobs": {
            "$ref": "./examples/listCodeJobs.json"
          }
        },
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/WorkspaceNameParameter"
          },
          {
            "$ref": "#/parameters/APIVersionParameter"
          },
          {
            "$ref": "#/parameters/PaginationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CodeJobResourceArmDtoPaginatedResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/MachineLearningServiceError"
            }
          }
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "description": "Azure subscription identifier.",
      "in": "path",
      "type": "string",
      "required": true
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "description": "Name of the resource group in which workspace is located.",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "WorkspaceNameParameter": {
      "name": "workspaceName",
      "description": "Name of Azure Machine Learning workspace.",
      "in": "path",
      "type": "string",
      "required": true,
      "x-ms-parameter-location": "method"
    },
    "APIVersionParameter": {
      "in": "query",
      "name": "api-version",
      "type": "string",
      "description": "Version of Azure Machine Learning resource provider API.",
      "required": true
    },
    "PaginationParameter": {
      "in": "query",
      "name": "$skiptoken",
      "type": "string",
      "description": "Continuation token for pagination.",
      "required": false,
      "x-ms-parameter-location": "method"
    },
    "CodeJobIdParameter": {
      "in": "path",
      "name": "id",
      "type": "string",
      "description": "Name and identifier for CodeJob.",
      "required": true,
      "x-ms-parameter-location": "method"
    }
  },
  "definitions": {
    "JobStatus": {
      "description": "The status of a job.",
      "enum": [
        "NotStarted",
        "Starting",
        "Provisioning",
        "Preparing",
        "Queued",
        "Running",
        "Finalizing",
        "CancelRequested",
        "Completed",
        "Failed",
        "Canceled",
        "NotResponding"
      ],
      "type": "string"
    },
    "CodeConfiguration": {
      "description": "Code configuration for a job",
      "type": "object",
      "properties": {
        "codeArtifactId": {
          "description": "The ID of the code asset.",
          "type": "string"
        },
        "startupCommand": {
          "description": "The command to execute on startup of the job.",
          "type": "string"
        }
      }
    },
    "EnvironmentConfiguration": {
      "description": "Environment configuration for a job.",
      "type": "object",
      "properties": {
        "environmentId": {
          "description": "ID of the environment to use.",
          "type": "string"
        }
      }
    },
    "DataBindingMode": {
      "description": "Describes how the data should be attached to the job container.",
      "enum": [
        "Mount",
        "Download",
        "Upload"
      ],
      "type": "string"
    },
    "DataBinding": {
      "description": "Data binding definition.",
      "type": "object",
      "properties": {
        "sourceDataReference": {
          "description": "Reference to source data artifact.",
          "type": "string"
        },
        "localReference": {
          "description": "Location of data inside the container process.",
          "type": "string"
        },
        "mode": {
          "$ref": "#/definitions/DataBindingMode"
        }
      }
    },
    "ScaleConfiguration": {
      "type": "object",
      "properties": {
        "instanceCount": {
          "format": "int32",
          "description": "Number of instances.",
          "type": "integer"
        },
        "instanceType": {
          "type": "string"
        },
        "resourceRequirements": {
          "type": "string"
        },
        "isReentrant": {
          "type": "boolean"
        }
      }
    },
    "ComputeBinding": {
      "description": "Compute binding definition.",
      "type": "object",
      "properties": {
        "computeId": {
          "description": "ID of the compute resource.",
          "type": "string"
        },
        "nodeCount": {
          "format": "int32",
          "description": "Number of nodes.",
          "type": "integer"
        }
      }
    },
    "ScheduleConfiguration": {
      "type": "object",
      "properties": {
        "cron": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CodeJobProperties": {
      "description": "Code Job definition",
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/JobStatus"
        },
        "codeConfiguration": {
          "$ref": "#/definitions/CodeConfiguration"
        },
        "environmentConfiguration": {
          "$ref": "#/definitions/EnvironmentConfiguration"
        },
        "dataBindings": {
          "description": "Mapping of data bindings used in the job.",
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/DataBinding"
          },
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "id": {
          "description": "Name and identifier for a job.",
          "type": "string",
          "readOnly": true,
          "x-ms-mutability": [
            "read"
          ]
        },
        "experimentName": {
          "description": "The name of the experiment the job belongs to. If not set, the job is placed in the \"Default\" experiment.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "properties": {
          "description": "The job property dictionary. Properties can be added, but not removed or altered.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read",
            "update"
          ]
        },
        "tags": {
          "description": "The job tag dictionary. Tags can be added, removed, and updated.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-ms-mutability": [
            "create",
            "read",
            "update"
          ]
        },
        "computeBinding": {
          "$ref": "#/definitions/ComputeBinding"
        }
      }
    },
    "CodeJobCreateResourceArmDto": {
      "description": "Azure Resource Management create resource envelope.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeJobProperties"
        }
      }
    },
    "MachineLearningServiceError": {
      "type": "object",
      "description": "Wrapper for error response to follow ARM guidelines.",
      "properties": {
        "error": {
          "description": "The error response.",
          "$ref": "#/definitions/ErrorResponse",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response information.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Error message.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "An array of error detail objects.",
          "items": {
            "$ref": "#/definitions/ErrorDetail"
          },
          "readOnly": true
        }
      }
    },
    "ErrorDetail": {
      "type": "object",
      "description": "Error detail information.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Error code."
        },
        "message": {
          "type": "string",
          "description": "Error message."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "CodeJobResourceArmDto": {
      "description": "Azure Resource Manager resource Envelope",
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "$ref": "#/definitions/CodeJobProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v1/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CodeJobResourceArmDtoPaginatedResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CodeJobResourceArmDto"
          }
        },
        "continuationToken": {
          "type": "string"
        },
        "nextLink": {
          "type": "string"
        }
      }
    }
  }
}
