{
  "swagger": "2.0",
  "info": {
    "title": "TrafficController",
    "version": "2025-10-01-preview",
    "description": "Traffic Controller Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "AssociationsInterface"
    },
    {
      "name": "FrontendsInterface"
    },
    {
      "name": "SecurityPoliciesInterface"
    },
    {
      "name": "TrafficControllerInterface"
    },
    {
      "name": "PrivateEndpointConnectionsInterface"
    },
    {
      "name": "PrivateEndpointConnectionProxiesInterface"
    },
    {
      "name": "PrivateLinkResourcesInterface"
    },
    {
      "name": "Operations"
    }
  ],
  "paths": {
    "/providers/Microsoft.ServiceNetworking/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Operations List": {
            "$ref": "./examples/OperationsList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceNetworking/trafficControllers": {
      "get": {
        "operationId": "TrafficControllerInterface_ListBySubscription",
        "tags": [
          "TrafficControllerInterface"
        ],
        "description": "List TrafficController resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TrafficControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Traffic Controllers List": {
            "$ref": "./examples/TrafficControllersGetList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers": {
      "get": {
        "operationId": "TrafficControllerInterface_ListByResourceGroup",
        "tags": [
          "TrafficControllerInterface"
        ],
        "description": "List TrafficController resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TrafficControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Traffic Controllers": {
            "$ref": "./examples/TrafficControllersGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}": {
      "get": {
        "operationId": "TrafficControllerInterface_Get",
        "tags": [
          "TrafficControllerInterface"
        ],
        "description": "Get a TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TrafficController"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Traffic Controller": {
            "$ref": "./examples/TrafficControllerGet.json"
          }
        }
      },
      "put": {
        "operationId": "TrafficControllerInterface_CreateOrUpdate",
        "tags": [
          "TrafficControllerInterface"
        ],
        "description": "Create a TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrafficController"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'TrafficController' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/TrafficController"
            }
          },
          "201": {
            "description": "Resource 'TrafficController' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/TrafficController"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put Traffic Controller": {
            "$ref": "./examples/TrafficControllerPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "TrafficControllerInterface_Update",
        "tags": [
          "TrafficControllerInterface"
        ],
        "description": "Update a TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TrafficControllerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/TrafficController"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch Traffic Controller": {
            "$ref": "./examples/TrafficControllerPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "TrafficControllerInterface_Delete",
        "tags": [
          "TrafficControllerInterface"
        ],
        "description": "Delete a TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Traffic Controller": {
            "$ref": "./examples/TrafficControllerDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/associations": {
      "get": {
        "operationId": "AssociationsInterface_ListByTrafficController",
        "tags": [
          "AssociationsInterface"
        ],
        "description": "List Association resources by TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AssociationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Associations": {
            "$ref": "./examples/AssociationsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/associations/{associationName}": {
      "get": {
        "operationId": "AssociationsInterface_Get",
        "tags": [
          "AssociationsInterface"
        ],
        "description": "Get a Association",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "associationName",
            "in": "path",
            "description": "The name of the Association",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Association"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Association": {
            "$ref": "./examples/AssociationGet.json"
          }
        }
      },
      "put": {
        "operationId": "AssociationsInterface_CreateOrUpdate",
        "tags": [
          "AssociationsInterface"
        ],
        "description": "Create a Association",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "associationName",
            "in": "path",
            "description": "The name of the Association",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Association"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Association' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Association"
            }
          },
          "201": {
            "description": "Resource 'Association' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Association"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put Association": {
            "$ref": "./examples/AssociationPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "AssociationsInterface_Update",
        "tags": [
          "AssociationsInterface"
        ],
        "description": "Update a Association",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "associationName",
            "in": "path",
            "description": "The name of the Association",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssociationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Association"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Association": {
            "$ref": "./examples/AssociationPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "AssociationsInterface_Delete",
        "tags": [
          "AssociationsInterface"
        ],
        "description": "Delete a Association",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "associationName",
            "in": "path",
            "description": "The name of the Association",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Association": {
            "$ref": "./examples/AssociationDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends": {
      "get": {
        "operationId": "FrontendsInterface_ListByTrafficController",
        "tags": [
          "FrontendsInterface"
        ],
        "description": "List Frontend resources by TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FrontendListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Frontends": {
            "$ref": "./examples/FrontendsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/frontends/{frontendName}": {
      "get": {
        "operationId": "FrontendsInterface_Get",
        "tags": [
          "FrontendsInterface"
        ],
        "description": "Get a Frontend",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "frontendName",
            "in": "path",
            "description": "The name of the Frontend",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Frontend"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Frontend": {
            "$ref": "./examples/FrontendGet.json"
          }
        }
      },
      "put": {
        "operationId": "FrontendsInterface_CreateOrUpdate",
        "tags": [
          "FrontendsInterface"
        ],
        "description": "Create a Frontend",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "frontendName",
            "in": "path",
            "description": "The name of the Frontend",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Frontend"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Frontend' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Frontend"
            }
          },
          "201": {
            "description": "Resource 'Frontend' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Frontend"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put Frontend": {
            "$ref": "./examples/FrontendPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "FrontendsInterface_Update",
        "tags": [
          "FrontendsInterface"
        ],
        "description": "Update a Frontend",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "frontendName",
            "in": "path",
            "description": "The name of the Frontend",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FrontendUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Frontend"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Frontend": {
            "$ref": "./examples/FrontendPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "FrontendsInterface_Delete",
        "tags": [
          "FrontendsInterface"
        ],
        "description": "Delete a Frontend",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "frontendName",
            "in": "path",
            "description": "The name of the Frontend",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Frontend": {
            "$ref": "./examples/FrontendDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnectionProxies": {
      "get": {
        "operationId": "PrivateEndpointConnectionProxiesInterface_ListByTrafficController",
        "tags": [
          "PrivateEndpointConnectionProxiesInterface"
        ],
        "description": "List PrivateEndpointConnectionProxy resources by TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Endpoint Connection Proxies": {
            "$ref": "./examples/PrivateEndpointConnectionProxiesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyName}": {
      "get": {
        "operationId": "PrivateEndpointConnectionProxiesInterface_Get",
        "tags": [
          "PrivateEndpointConnectionProxiesInterface"
        ],
        "description": "Get a PrivateEndpointConnectionProxy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "privateEndpointConnectionProxyName",
            "in": "path",
            "description": "The name of the PrivateEndpointConnectionProxy",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Endpoint Connection Proxy": {
            "$ref": "./examples/PrivateEndpointConnectionProxyGet.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnectionProxiesInterface_CreateOrUpdate",
        "tags": [
          "PrivateEndpointConnectionProxiesInterface"
        ],
        "description": "Create a PrivateEndpointConnectionProxy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "privateEndpointConnectionProxyName",
            "in": "path",
            "description": "The name of the PrivateEndpointConnectionProxy",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnectionProxy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnectionProxy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "PrivateEndpointConnectionProxiesInterface_Update",
        "tags": [
          "PrivateEndpointConnectionProxiesInterface"
        ],
        "description": "Update a PrivateEndpointConnectionProxy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "privateEndpointConnectionProxyName",
            "in": "path",
            "description": "The name of the PrivateEndpointConnectionProxy",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Private Endpoint Connection Proxy.": {
            "$ref": "./examples/PrivateEndpointConnectionProxyPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpointConnectionProxiesInterface_Delete",
        "tags": [
          "PrivateEndpointConnectionProxiesInterface"
        ],
        "description": "Delete a PrivateEndpointConnectionProxy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "privateEndpointConnectionProxyName",
            "in": "path",
            "description": "The name of the PrivateEndpointConnectionProxy",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Private Endpoint Connection Proxy": {
            "$ref": "./examples/PrivateEndpointConnectionProxyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnectionProxies/{privateEndpointConnectionProxyName}/validate": {
      "post": {
        "operationId": "PrivateEndpointConnectionProxiesInterface_Validate",
        "tags": [
          "PrivateEndpointConnectionProxiesInterface"
        ],
        "description": "A synchronous resource action.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "privateEndpointConnectionProxyName",
            "in": "path",
            "description": "The name of the PrivateEndpointConnectionProxy",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionProxy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Validates Private Endpoint Connection Proxy": {
            "$ref": "./examples/PrivateEndpointConnectionProxyValidate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnections": {
      "get": {
        "operationId": "PrivateEndpointConnectionsInterface_ListByTrafficController",
        "tags": [
          "PrivateEndpointConnectionsInterface"
        ],
        "description": "List PrivateEndpointConnection resources by TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Endpoint Connections": {
            "$ref": "./examples/PrivateEndpointConnectionsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateEndpointConnections/{privateEndpointConnectionName}": {
      "get": {
        "operationId": "PrivateEndpointConnectionsInterface_Get",
        "tags": [
          "PrivateEndpointConnectionsInterface"
        ],
        "description": "Get a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Endpoint Connection": {
            "$ref": "./examples/PrivateEndpointConnectionGet.json"
          }
        }
      },
      "put": {
        "operationId": "PrivateEndpointConnectionsInterface_CreateOrUpdate",
        "tags": [
          "PrivateEndpointConnectionsInterface"
        ],
        "description": "Create a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrivateEndpointConnection' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "201": {
            "description": "Resource 'PrivateEndpointConnection' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "original-uri"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PrivateEndpointConnectionsInterface_Update",
        "tags": [
          "PrivateEndpointConnectionsInterface"
        ],
        "description": "Update a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnectionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateEndpointConnection"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update Private Endpoint Connection.": {
            "$ref": "./examples/PrivateEndpointConnectionPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "PrivateEndpointConnectionsInterface_Delete",
        "tags": [
          "PrivateEndpointConnectionsInterface"
        ],
        "description": "Delete a PrivateEndpointConnection",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/parameters/PrivateEndpointConnectionName"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Private Endpoint Connection": {
            "$ref": "./examples/PrivateEndpointConnectionDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateLinkResources": {
      "get": {
        "operationId": "PrivateLinkResourcesInterface_ListByTrafficController",
        "tags": [
          "PrivateLinkResourcesInterface"
        ],
        "description": "List PrivateLinkResource resources by TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Link Resources": {
            "$ref": "./examples/PrivateLinkResourcesGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/privateLinkResources/{privateLinkResourceName}": {
      "get": {
        "operationId": "PrivateLinkResourcesInterface_Get",
        "tags": [
          "PrivateLinkResourcesInterface"
        ],
        "description": "Get a PrivateLinkResource",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "privateLinkResourceName",
            "in": "path",
            "description": "The name of the private link associated with the Azure resource.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrivateLinkResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Private Link Resource": {
            "$ref": "./examples/PrivateLinkResourceGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/securityPolicies": {
      "get": {
        "operationId": "SecurityPoliciesInterface_ListByTrafficController",
        "tags": [
          "SecurityPoliciesInterface"
        ],
        "description": "List SecurityPolicy resources by TrafficController",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityPolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SecurityPolicies": {
            "$ref": "./examples/SecurityPoliciesGetList.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceNetworking/trafficControllers/{trafficControllerName}/securityPolicies/{securityPolicyName}": {
      "get": {
        "operationId": "SecurityPoliciesInterface_Get",
        "tags": [
          "SecurityPoliciesInterface"
        ],
        "description": "Get a SecurityPolicy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "securityPolicyName",
            "in": "path",
            "description": "The name of the Association",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get SecurityPolicy": {
            "$ref": "./examples/SecurityPolicyGet.json"
          }
        }
      },
      "put": {
        "operationId": "SecurityPoliciesInterface_CreateOrUpdate",
        "tags": [
          "SecurityPoliciesInterface"
        ],
        "description": "Create a SecurityPolicy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "securityPolicyName",
            "in": "path",
            "description": "The name of the Association",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityPolicy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "201": {
            "description": "Resource 'SecurityPolicy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Put IpAccessRules SecurityPolicy": {
            "$ref": "./examples/IpAccessRulesSecurityPolicyPut.json"
          },
          "Put WAF SecurityPolicy": {
            "$ref": "./examples/WafSecurityPolicyPut.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SecurityPoliciesInterface_Update",
        "tags": [
          "SecurityPoliciesInterface"
        ],
        "description": "Update a SecurityPolicy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "securityPolicyName",
            "in": "path",
            "description": "The name of the Association",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityPolicyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityPolicy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update IpAccessRules SecurityPolicy": {
            "$ref": "./examples/IpAccessRulesSecurityPolicyPatch.json"
          },
          "Update WAF SecurityPolicy": {
            "$ref": "./examples/WafSecurityPolicyPatch.json"
          }
        }
      },
      "delete": {
        "operationId": "SecurityPoliciesInterface_Delete",
        "tags": [
          "SecurityPoliciesInterface"
        ],
        "description": "Delete a SecurityPolicy",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "trafficControllerName",
            "in": "path",
            "description": "The name of the TrafficController",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          },
          {
            "name": "securityPolicyName",
            "in": "path",
            "description": "The name of the Association",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z0-9]([A-Za-z0-9-_.]{0,62}[A-Za-z0-9])?$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete SecurityPolicy": {
            "$ref": "./examples/SecurityPolicyDelete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Association": {
      "type": "object",
      "description": "Association Subresource of Traffic Controller",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AssociationProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "AssociationListResult": {
      "type": "object",
      "description": "The response of a Association list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Association items on this page",
          "items": {
            "$ref": "#/definitions/Association"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AssociationProperties": {
      "type": "object",
      "description": "Association Properties.",
      "properties": {
        "associationType": {
          "$ref": "#/definitions/AssociationType",
          "description": "Association Type"
        },
        "subnet": {
          "$ref": "#/definitions/AssociationSubnet",
          "description": "Association Subnet"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State of Traffic Controller Association Resource",
          "readOnly": true
        }
      },
      "required": [
        "associationType"
      ]
    },
    "AssociationSubnet": {
      "type": "object",
      "description": "Association Subnet.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Association ID."
        }
      },
      "required": [
        "id"
      ]
    },
    "AssociationSubnetUpdate": {
      "type": "object",
      "description": "Association Subnet.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Association ID."
        }
      }
    },
    "AssociationType": {
      "type": "string",
      "description": "Association Type Enum",
      "enum": [
        "subnets"
      ],
      "x-ms-enum": {
        "name": "AssociationType",
        "modelAsString": true,
        "values": [
          {
            "name": "subnets",
            "value": "subnets",
            "description": "Association of Type Subnet"
          }
        ]
      }
    },
    "AssociationUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Association.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/AssociationUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "AssociationUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Association.",
      "properties": {
        "associationType": {
          "$ref": "#/definitions/AssociationType",
          "description": "Association Type"
        },
        "subnet": {
          "$ref": "#/definitions/AssociationSubnetUpdate",
          "description": "Association Subnet"
        }
      }
    },
    "ConnectionDetails": {
      "type": "object",
      "description": "Private endpoint connection details at member level.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets id."
        },
        "privateIpAddress": {
          "type": "string",
          "description": "Gets or sets private IP address."
        },
        "linkIdentifier": {
          "type": "string",
          "description": "Gets or sets link identifier."
        },
        "groupId": {
          "type": "string",
          "description": "Gets or sets group id."
        },
        "memberName": {
          "type": "string",
          "description": "Gets or sets member name."
        }
      }
    },
    "Frontend": {
      "type": "object",
      "description": "Frontend Sub Resource of Traffic Controller.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FrontendProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "FrontendListResult": {
      "type": "object",
      "description": "The response of a Frontend list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Frontend items on this page",
          "items": {
            "$ref": "#/definitions/Frontend"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FrontendProperties": {
      "type": "object",
      "description": "Frontend Properties.",
      "properties": {
        "fqdn": {
          "type": "string",
          "description": "The Fully Qualified Domain Name of the DNS record associated to a Traffic Controller frontend.",
          "readOnly": true
        },
        "securityPolicyConfigurations": {
          "$ref": "#/definitions/SecurityPolicyConfigurations",
          "description": "Frontend Security Policy Configuration"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State of Traffic Controller Frontend Resource",
          "readOnly": true
        }
      }
    },
    "FrontendUpdate": {
      "type": "object",
      "description": "The type used for update operations of the Frontend.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/FrontendUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "FrontendUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the Frontend.",
      "properties": {
        "securityPolicyConfigurations": {
          "$ref": "#/definitions/SecurityPolicyConfigurationsUpdate",
          "description": "Frontend Security Policy Configuration"
        }
      }
    },
    "GroupConnectivityInformation": {
      "type": "object",
      "description": "Represents of a connection's group information.",
      "properties": {
        "groupId": {
          "type": "string",
          "description": "Gets or sets group id."
        },
        "memberName": {
          "type": "string",
          "description": "Gets or sets member name."
        },
        "customerVisibleFqdns": {
          "type": "array",
          "description": "Gets or sets customer visible FQDNs.",
          "items": {
            "type": "string"
          }
        },
        "internalFqdn": {
          "type": "string",
          "description": "Gets or sets Internal Fqdn."
        },
        "redirectMapId": {
          "type": "string",
          "description": "Gets or sets the redirect map id."
        },
        "privateLinkServiceArmRegion": {
          "type": "string",
          "description": "Gets or sets the private link service arm region."
        }
      }
    },
    "IpAccessRule": {
      "type": "object",
      "description": "Ip Access Policy Rules",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the Ip Access Rule"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the rule. The value can be between 1 and 500. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.",
          "minimum": 1,
          "maximum": 500
        },
        "sourceAddressPrefixes": {
          "type": "array",
          "description": "Source Address Prefixed Applied by the Rule. Asterisk '*' can also be used to match all source IPs.",
          "maxItems": 50,
          "items": {
            "type": "string"
          }
        },
        "action": {
          "$ref": "#/definitions/IpAccessRuleAction",
          "description": "Action of the Rule"
        }
      },
      "required": [
        "name",
        "priority",
        "sourceAddressPrefixes",
        "action"
      ]
    },
    "IpAccessRuleAction": {
      "type": "string",
      "description": "Action of Ip Access Rule",
      "enum": [
        "allow",
        "deny"
      ],
      "x-ms-enum": {
        "name": "IpAccessRuleAction",
        "modelAsString": true,
        "values": [
          {
            "name": "Allow",
            "value": "allow",
            "description": "Allow Source Ip Prefixes"
          },
          {
            "name": "Deny",
            "value": "deny",
            "description": "Deny Source Ip Prefixes"
          }
        ]
      }
    },
    "IpAccessRulesPolicy": {
      "type": "object",
      "description": "Ip Access Policy",
      "properties": {
        "rules": {
          "type": "array",
          "description": "Ip Access Policy Rules List",
          "maxItems": 100,
          "items": {
            "$ref": "#/definitions/IpAccessRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "IpAccessRulesSecurityPolicy": {
      "type": "object",
      "description": "IpAccessRules Security Policy",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID of the Ip Access Rules Security Policy"
        }
      },
      "required": [
        "id"
      ]
    },
    "IpAccessRulesSecurityPolicyUpdate": {
      "type": "object",
      "description": "IpAccessRules Security Policy",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID of the Ip Access Rules Security Policy"
        }
      }
    },
    "PolicyType": {
      "type": "string",
      "description": "Policy Type of the Security Policy",
      "enum": [
        "waf",
        "ipAccessRules"
      ],
      "x-ms-enum": {
        "name": "PolicyType",
        "modelAsString": true,
        "values": [
          {
            "name": "WAF",
            "value": "waf",
            "description": "Policy of Type WAF"
          },
          {
            "name": "IpAccessRules",
            "value": "ipAccessRules",
            "description": "Policy of Type IpAccessRules"
          }
        ]
      }
    },
    "PrivateEndpointConnection": {
      "type": "object",
      "description": "PrivateEndpointConnection Subresource of Traffic Controller.",
      "properties": {
        "properties": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpointConnectionProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionListResult": {
      "type": "object",
      "description": "The response of a PrivateEndpointConnection list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateEndpointConnection items on this page",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnection"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateEndpointConnectionProxy": {
      "type": "object",
      "description": "PrivateEndpointConnectionProxy Subresource of Traffic Controller.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionProxyProperties",
          "description": "The resource-specific properties for this resource."
        },
        "etag": {
          "type": "string",
          "description": "Private Endpoint Connection Proxy Etag."
        },
        "location": {
          "type": "string",
          "description": "Private Endpoint Connection Proxy Location."
        },
        "remotePrivateEndpoint": {
          "$ref": "#/definitions/RemotePrivateEndpoint",
          "description": "Represent remote private endpoint information for the private endpoint connection proxy."
        }
      },
      "required": [
        "remotePrivateEndpoint"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateEndpointConnectionProxyListResult": {
      "type": "object",
      "description": "The response of a PrivateEndpointConnectionProxy list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateEndpointConnectionProxy items on this page",
          "items": {
            "$ref": "#/definitions/PrivateEndpointConnectionProxy"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateEndpointConnectionProxyProperties": {
      "type": "object",
      "description": "Properties of the private endpoint connection proxy"
    },
    "PrivateEndpointConnectionProxyUpdate": {
      "type": "object",
      "description": "The type used for update operations of the PrivateEndpointConnectionProxy.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Private Endpoint Connection Proxy Etag."
        },
        "location": {
          "type": "string",
          "description": "Private Endpoint Connection Proxy Location."
        },
        "remotePrivateEndpoint": {
          "$ref": "#/definitions/RemotePrivateEndpoint",
          "description": "Represent remote private endpoint information for the private endpoint connection proxy."
        }
      }
    },
    "PrivateEndpointConnectionUpdate": {
      "type": "object",
      "description": "The type used for update operations of the PrivateEndpointConnection.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateEndpointConnectionUpdateProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateEndpointConnectionUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the PrivateEndpointConnection.",
      "properties": {
        "privateEndpoint": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateEndpoint",
          "description": "The private endpoint resource."
        },
        "privateLinkServiceConnectionState": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkServiceConnectionState",
          "description": "A collection of information about the state of the connection between service consumer and provider."
        }
      }
    },
    "PrivateLinkResource": {
      "type": "object",
      "description": "PrivateLinkResource Subresource of Traffic Controller",
      "properties": {
        "properties": {
          "$ref": "../../../../../../common-types/resource-management/v6/privatelinks.json#/definitions/PrivateLinkResourceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "PrivateLinkResourceListResult": {
      "type": "object",
      "description": "The response of a PrivateLinkResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The PrivateLinkResource items on this page",
          "items": {
            "$ref": "#/definitions/PrivateLinkResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "PrivateLinkServiceConnection": {
      "type": "object",
      "description": "Represents of an NRP private link service connection.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets private link service connection name."
        },
        "groupIds": {
          "type": "array",
          "description": "Gets or sets group ids.",
          "items": {
            "type": "string"
          }
        },
        "requestMessage": {
          "type": "string",
          "description": "Gets or sets the request message for the private link service connection."
        }
      }
    },
    "PrivateLinkServiceConnectionStatus": {
      "type": "string",
      "description": "The private endpoint connection status.",
      "enum": [
        "Pending",
        "Approved",
        "Rejected",
        "Disconnected"
      ],
      "x-ms-enum": {
        "name": "PrivateLinkServiceConnectionStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Connectionaiting for approval or rejection"
          },
          {
            "name": "Approved",
            "value": "Approved",
            "description": "Connection approved"
          },
          {
            "name": "Rejected",
            "value": "Rejected",
            "description": "Connection Rejected"
          },
          {
            "name": "Disconnected",
            "value": "Disconnected",
            "description": "Connection Rejected"
          }
        ]
      }
    },
    "PrivateLinkServiceProxy": {
      "type": "object",
      "description": "Represents NRP private link service proxy.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets private link service proxy id."
        },
        "remotePrivateLinkServiceConnectionState": {
          "$ref": "#/definitions/RemotePrivateLinkServiceConnectionState",
          "description": "Represents Private link service connection state."
        },
        "remotePrivateEndpointConnection": {
          "$ref": "#/definitions/RemotePrivateEndpointConnection",
          "description": "Represent remote private endpoint connection."
        },
        "groupConnectivityInformation": {
          "type": "array",
          "description": "Gets or sets group connectivity information.",
          "items": {
            "$ref": "#/definitions/GroupConnectivityInformation"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Resource Provisioning State Enum",
      "enum": [
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "Resource in Provisioning State"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource in Updating State"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource in Deleting State"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "Resource in Accepted State"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource in Succeeded State"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource in Failed State"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource in Canceled State"
          }
        ]
      },
      "readOnly": true
    },
    "RemotePrivateEndpoint": {
      "type": "object",
      "description": "Represent remote private endpoint information for the private endpoint connection proxy.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Gets or sets private link service proxy id.",
          "minLength": 1
        },
        "privateLinkServiceConnections": {
          "type": "array",
          "description": "Gets or sets the list of Private Link Service Connections and gets populated for Auto approval flow.",
          "items": {
            "$ref": "#/definitions/PrivateLinkServiceConnection"
          },
          "x-ms-identifiers": []
        },
        "manualPrivateLinkServiceConnections": {
[...]
