{
  "swagger": "2.0",
  "info": {
    "title": "Security Center",
    "description": "API spec for Microsoft.Security (Azure Security Center) resource provider",
    "version": "2021-08-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/standardComponents": {
      "get": {
        "x-ms-examples": {
          "List security standardComponents": {
            "$ref": "./examples/StandardComponents/ListStandardComponents_example.json"
          }
        },
        "tags": [
          "StandardComponents"
        ],
        "description": "Get all standardComponents on all resources in the provided scope",
        "operationId": "StandardComponents_List",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StandardComponentList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/standardComponents/{standardComponentId}": {
      "get": {
        "x-ms-examples": {
          "Get a specific security standard component by scope and standardComponentId": {
            "$ref": "./examples/StandardComponents/GetStandardComponent_example.json"
          }
        },
        "tags": [
          "StandardComponents"
        ],
        "description": "Get a specific standardComponent for the requested scope",
        "operationId": "StandardComponents_Get",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StandardComponentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StandardComponent"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Create a security standard component on a specified scope": {
            "$ref": "./examples/StandardComponents/PutStandardComponent_example.json"
          }
        },
        "tags": [
          "StandardComponents"
        ],
        "description": "Create a security component on the given scope.",
        "operationId": "StandardComponents_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StandardComponentId"
          },
          {
            "$ref": "#/parameters/StandardComponentBody"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/StandardComponent"
            }
          },
          "200": {
            "description": "OK - Updated",
            "schema": {
              "$ref": "#/definitions/StandardComponent"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Delete a security standard component over the specified scope": {
            "$ref": "./examples/StandardComponents/DeleteStandardComponent_example.json"
          }
        },
        "tags": [
          "StandardComponents"
        ],
        "description": "Delete a security component over the given scope",
        "operationId": "StandardComponents_Delete",
        "parameters": [
          {
            "$ref": "../../../common/v1/types.json#/parameters/ApiVersion"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/SubscriptionId"
          },
          {
            "$ref": "../../../common/v1/types.json#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/StandardComponentId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - StandardComponent was deleted"
          },
          "204": {
            "description": "No Content - StandardComponent does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../common/v1/types.json#/definitions/CloudError"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "StandardComponentList": {
      "type": "object",
      "description": "Page of a standardComponent list",
      "properties": {
        "value": {
          "description": "Collection of standardComponents in this page",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "#/definitions/StandardComponent"
          }
        },
        "nextLink": {
          "readOnly": true,
          "type": "string",
          "description": "The URI to fetch the next page"
        }
      }
    },
    "StandardComponent": {
      "type": "object",
      "description": "Individual component of a Security Standard, with mapped resourceType and definitions",
      "properties": {
        "properties": {
          "description": "Properties of a standardComponent",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/StandardComponentProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../common/v1/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "StandardComponentProperties": {
      "type": "object",
      "description": "Describes properties of a standardComponent",
      "properties": {
        "mappedResourceType": {
          "description": "Azure resource type tied to this standard, default is microsoft.security/assessments",
          "type": "string"
        },
        "defaultEffect": {
          "description": "the effect of the component, such as a policy effect (audit, exemptByResource, etc)",
          "type": "string"
        },
        "allowedEffects": {
          "description": "the allowable effect types as applied to this component",
          "type": "array",
          "items": {
            "type": "string",
            "description": "effect type such as audit or exemptByResource"
          }
        },
        "standardDefinitions": {
          "type": "array",
          "description": "an array of standardDefinition objects",
          "items": {
            "$ref": "#/definitions/StandardDefinitionProperties"
          }
        }
      }
    },
    "StandardDefinitionProperties": {
      "type": "object",
      "description": "Describes properties of a standard definition",
      "properties": {
        "name": {
          "type": "string",
          "description": "name of the standard definition e.g. 'asc default'"
        },
        "id": {
          "description": "Azure resourceId of the standardDefinition",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "StandardComponentId": {
      "name": "standardComponentId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "the standardComponent key - unique key for the standardComponent type",
      "x-ms-parameter-location": "method"
    },
    "StandardComponentBody": {
      "name": "standardComponent",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/StandardComponent"
      },
      "description": "Custom security standardComponent over a pre-defined scope",
      "x-ms-parameter-location": "method"
    }
  }
}
