{
  "swagger": "2.0",
  "info": {
    "version": "2022-10-01-preview",
    "title": "EducationManagementClient",
    "description": "Education client provides access to education resources for Azure subscriptions."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Education/operationStatus/{operationId}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "x-ms-examples": {
          "OperationStatus": {
            "$ref": "./examples/OperationStatus.json"
          }
        },
        "operationId": "Operation_Status",
        "description": "Get operation status",
        "parameters": [
          {
            "$ref": "#/parameters/OperationIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Operation completed, if location & retry-after headers are not present. Else, Operation in progress",
            "headers": {
              "Location": {
                "description": "GET this URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseBody"
            }
          }
        }
      }
    },
    "/providers/Microsoft.Education/grants": {
      "get": {
        "tags": [
          "Grants"
        ],
        "x-ms-examples": {
          "GrantList": {
            "$ref": "./examples/GrantList.json"
          },
          "GrantListIncludeAllocatedBudget": {
            "$ref": "./examples/GrantListIncludeAllocatedBudget.json"
          }
        },
        "operationId": "Grants_ListAllV2",
        "description": "Get a list of grants that Microsoft has provided.",
        "parameters": [
          {
            "$ref": "#/parameters/IncludeAllocatedBudgetParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "list of Grants",
            "schema": {
              "$ref": "#/definitions/GrantListResponseV2"
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseBody"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Education/grants": {
      "get": {
        "tags": [
          "Grants"
        ],
        "x-ms-examples": {
          "GrantList": {
            "$ref": "./examples/GrantDefaultList.json"
          },
          "GrantListIncludeAllocatedBudget": {
            "$ref": "./examples/GrantDefaultListIncludeAllocatedBudget.json"
          }
        },
        "operationId": "Grants_ListV2",
        "description": "Get details for a specific grant linked to the provided billing account and billing profile.",
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/BillingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/IncludeAllocatedBudgetParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "list of Grants",
            "schema": {
              "$ref": "#/definitions/GrantListResponseV2"
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseBody"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Education/grants/default": {
      "get": {
        "tags": [
          "Grants"
        ],
        "x-ms-examples": {
          "Grant": {
            "$ref": "./examples/Grant.json"
          },
          "GrantIncludeAllocatedBudget": {
            "$ref": "./examples/GrantIncludeAllocatedBudget.json"
          }
        },
        "operationId": "Grants_GetV2",
        "description": "Get details for a specific grant linked to the provided billing account and billing profile.",
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/BillingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/IncludeAllocatedBudgetParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Grant detail",
            "schema": {
              "$ref": "#/definitions/GrantDetailsV2"
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseBody"
            }
          }
        }
      }
    },	
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Education/grants/default/renew": {
      "post": {
        "tags": [
          "Grants"
        ],
        "x-ms-examples": {
          "GrantRenew": {
            "$ref": "./examples/GrantRenew.json"
          }
        },
        "operationId": "Grant_Renewal",
        "description": "Request grant renewal",
        "parameters": [
          {
            "$ref": "#/parameters/BillingAccountNameParameter"
          },
          {
            "$ref": "#/parameters/BillingProfileNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Grant renewal completed"
          },
          "202": {
            "description": "Grant renewal accepted",
            "headers": {
              "Location": {
                "description": "GET the URL to retrieve the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.",
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Describes the error if the operation is not successful.",
            "schema": {
              "$ref": "#/definitions/ErrorResponseBody"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ErrorResponse": {
      "description": "Describes the format of Error response.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Error message indicating why the operation failed.",
          "type": "string"
        }
      }
    },
    "ErrorResponseBody": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "$ref": "#/definitions/ErrorResponse"
        }
      }
    },
    "GrantListResponseV2": {
      "description": "List of Grants info.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The list of labs.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/GrantDetailsV2"
          }
        },
        "nextLink": {
          "description": "The link (url) to the next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GrantDetailsV2": {
      "description": "Grant details.",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/GrantDetailPropertiesV2",
          "description": "Grant detail properties.",
          "x-ms-client-flatten": true
        }
      }
    },
    "GrantDetailPropertiesV2": {
      "description": "Grant detail properties",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Grant display name"
        },
        "offerCap": {
          "$ref": "#/definitions/Amount",
          "description": "Offer Cap",
          "readOnly": true
        },
        "effectiveDate": {
          "type": "string",
          "format": "date-time",
          "description": "Grant Effective Date",
          "readOnly": true
        },
        "offerType": {
          "type": "string",
          "description": "Grant Offer Type",
          "enum": [
            "Student",
            "Academic"
          ],
          "x-ms-enum": {
            "name": "Grant type",
            "modelAsString": true
          },
          "readOnly": true
        },
        "expirationDate": {
          "type": "string",
          "format": "date-time",
          "description": "Expiration Date",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Grant status",
          "enum": [
            "Active",
            "Inactive"
          ],
          "x-ms-enum": {
            "name": "Grant status",
            "modelAsString": true
          },
          "readOnly": true
        },
        "allocatedBudget": {
          "$ref": "#/definitions/Amount",
          "description": "allocated budget",
          "readOnly": true
        }
      }
    },
    "Amount": {
      "description": "The amount.",
      "type": "object",
      "properties": {
        "currency": {
          "description": "The type of currency being used for the value.",
          "type": "string"
        },
        "value": {
          "description": "Amount value.",
          "type": "number"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Version of the API to be used with the client request. Current version is 2022-10-01-preview"
    },
    "BillingAccountNameParameter": {
      "name": "billingAccountName",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Billing account name."
    },
    "BillingProfileNameParameter": {
      "name": "billingProfileName",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Billing profile name."
    },
    "IncludeAllocatedBudgetParameter": {
      "name": "includeAllocatedBudget",
      "x-ms-parameter-location": "method",
      "in": "query",
      "type": "boolean",
      "description": "May be used to include information about budget that has been allocated."
    },
    "OperationIdParameter": {
      "name": "operationId",
      "x-ms-parameter-location": "method",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Operation Id."
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
