{
  "swagger": "2.0",
  "info": {
    "version": "2021-12-01-preview",
    "title": "DataProtectionBackupClient",
    "x-ms-code-generation-settings": {
      "internalConstructors": false
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/backupVaults": {
      "get": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Returns resource collection belonging to a subscription.",
        "operationId": "BackupVaults_GetInSubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get BackupVaults in Subscription": {
            "$ref": "./examples/VaultCRUD/GetBackupVaultsInSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/locations/{location}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "GetOperationResult"
        ],
        "description": "Gets the operation result for a resource",
        "operationId": "OperationResult_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "200": {
            "description": "Contains additional information like job Id",
            "schema": {
              "$ref": "#/definitions/OperationJobExtendedInfo"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "summary": "Gets the operation status for a resource.",
        "x-ms-examples": {
          "Get OperationResult": {
            "$ref": "./examples/GetOperationResult.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/locations/{location}/operationStatus/{operationId}": {
      "get": {
        "tags": [
          "OperationStatus"
        ],
        "summary": "Gets the operation status for a resource.",
        "operationId": "OperationStatus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get OperationStatus": {
            "$ref": "./examples/GetOperationStatus.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults": {
      "get": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Returns resource collection belonging to a resource group.",
        "operationId": "BackupVaults_GetInResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get BackupVaults in ResourceGroup": {
            "$ref": "./examples/VaultCRUD/GetBackupVaultsInResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}": {
      "get": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Returns a resource belonging to a resource group.",
        "operationId": "BackupVaults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get BackupVault": {
            "$ref": "./examples/VaultCRUD/GetBackupVault.json"
          },
          "Get BackupVault With MSI": {
            "$ref": "./examples/VaultCRUD/GetBackupVaultWithMSI.json"
          }
        }
      },
      "put": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Creates or updates a BackupVault resource belonging to a resource group.",
        "operationId": "BackupVaults_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create BackupVault": {
            "$ref": "./examples/VaultCRUD/PutBackupVault.json"
          },
          "Create BackupVault With MSI": {
            "$ref": "./examples/VaultCRUD/PutBackupVaultWithMSI.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Deletes a BackupVault resource from the resource group.",
        "operationId": "BackupVaults_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete BackupVault": {
            "$ref": "./examples/VaultCRUD/DeleteBackupVault.json"
          }
        }
      },
      "patch": {
        "tags": [
          "BackupVaults"
        ],
        "description": "Updates a BackupVault resource belonging to a resource group. For example, updating tags for a resource.",
        "operationId": "BackupVaults_Update",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchResourceRequestInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Patch BackupVault": {
            "$ref": "./examples/VaultCRUD/PatchBackupVault.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/operationResults/{operationId}": {
      "get": {
        "tags": [
          "Resources"
        ],
        "operationId": "BackupVaultOperationResults_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupVaultResource"
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "GetOperationResult Patch": {
            "$ref": "./examples/VaultCRUD/GetOperationResultPatch.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/checkNameAvailability": {
      "post": {
        "tags": [
          "BackupVaults"
        ],
        "summary": "API to check for resource name availability",
        "operationId": "BackupVaults_CheckNameAvailability",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "location",
            "in": "path",
            "description": "The location in which uniqueness will be verified.",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Check name availability request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Check BackupVaults name availability": {
            "$ref": "./examples/VaultCRUD/CheckBackupVaultsNameAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/locations/{location}/checkFeatureSupport": {
      "post": {
        "tags": [
          "DppFeatureSupport"
        ],
        "summary": "Validates if a feature is supported",
        "operationId": "DataProtection_CheckFeatureSupport",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "location",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Feature support request object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FeatureValidationRequestBase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/FeatureValidationResponseBase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Check Azure Vm Backup Feature Support": {
            "$ref": "./examples/CheckfeatureSupport.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataProtection/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Returns the list of available operations.",
        "operationId": "DataProtectionOperations_List",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ClientDiscoveryResponse"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink",
          "itemName": "value"
        },
        "x-ms-examples": {
          "Returns the list of supported REST operations.": {
            "$ref": "./examples/Operations/List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupPolicies": {
      "get": {
        "tags": [
          "BackupPolicies"
        ],
        "description": "Returns list of backup policies belonging to a backup vault",
        "operationId": "BackupPolicies_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseBackupPolicyResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List BackupPolicy": {
            "$ref": "./examples/PolicyCRUD/ListBackupPolicy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupPolicies/{backupPolicyName}": {
      "get": {
        "tags": [
          "BackupPolicies"
        ],
        "operationId": "BackupPolicies_Get",
        "description": "Gets a backup policy belonging to a backup vault",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupPolicyName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseBackupPolicyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "summary": "Gets a backup policy belonging to a backup vault",
        "x-ms-examples": {
          "Get BackupPolicy": {
            "$ref": "./examples/PolicyCRUD/GetBackupPolicy.json"
          }
        }
      },
      "put": {
        "tags": [
          "BackupPolicies"
        ],
        "operationId": "BackupPolicies_CreateOrUpdate",
        "summary": "Creates or Updates a backup policy belonging to a backup vault",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupPolicyName",
            "description": "Name of the policy",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BaseBackupPolicyResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseBackupPolicyResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "CreateOrUpdate BackupPolicy": {
            "$ref": "./examples/PolicyCRUD/CreateOrUpdateBackupPolicy.json"
          }
        }
      },
      "delete": {
        "tags": [
          "BackupPolicies"
        ],
        "operationId": "BackupPolicies_Delete",
        "summary": "Deletes a backup policy belonging to a backup vault",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupPolicyName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete BackupPolicy": {
            "$ref": "./examples/PolicyCRUD/DeleteBackupPolicy.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances": {
      "get": {
        "tags": [
          "BackupInstances"
        ],
        "description": "Gets a backup instances belonging to a backup vault",
        "operationId": "BackupInstances_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupInstanceResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List BackupInstances in a Vault": {
            "$ref": "./examples/BackupInstanceOperations/ListBackupInstances.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}": {
      "get": {
        "tags": [
          "BackupInstances"
        ],
        "description": "Gets a backup instance with name in a backup vault",
        "operationId": "BackupInstances_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupInstanceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get BackupInstance": {
            "$ref": "./examples/BackupInstanceOperations/GetBackupInstance.json"
          }
        }
      },
      "put": {
        "tags": [
          "BackupInstances"
        ],
        "description": "Create or update a backup instance in a backup vault",
        "operationId": "BackupInstances_CreateOrUpdate",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BackupInstanceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BackupInstanceResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/BackupInstanceResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create BackupInstance": {
            "$ref": "./examples/BackupInstanceOperations/PutBackupInstance.json"
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "BackupInstances"
        ],
        "description": "Delete a backup instance in a backup vault",
        "operationId": "BackupInstances_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "NoContent"
          },
          "200": {
            "description": "Ok"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete BackupInstance": {
            "$ref": "./examples/BackupInstanceOperations/DeleteBackupInstance.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/backup": {
      "post": {
        "tags": [
          "BackupInstances"
        ],
        "description": "Trigger adhoc backup ",
        "operationId": "BackupInstances_AdhocBackup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TriggerBackupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contains additional information like job Id",
            "schema": {
              "$ref": "#/definitions/OperationJobExtendedInfo"
            }
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Trigger Adhoc Backup": {
            "$ref": "./examples/BackupInstanceOperations/TriggerBackup.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/validateForBackup": {
      "post": {
        "tags": [
          "BackupInstances"
        ],
        "description": "Validate whether adhoc backup will be successful or not",
        "operationId": "BackupInstances_ValidateForBackup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateForBackupRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contains additional information like job Id",
            "schema": {
              "$ref": "#/definitions/OperationJobExtendedInfo"
            }
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Validate For Backup": {
            "$ref": "./examples/BackupInstanceOperations/ValidateForBackup.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/recoveryPoints": {
      "get": {
        "tags": [
          "RecoveryPoint"
        ],
        "description": "Returns a list of Recovery Points for a DataSource in a vault.",
        "operationId": "RecoveryPoints_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "OData filter options.",
            "required": false,
            "type": "string"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "skipToken Filter.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBackupRecoveryPointResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/RecoveryPointsFilters",
        "x-ms-examples": {
          "List Recovery Points in a Vault": {
            "$ref": "./examples/BackupInstanceOperations/ListRecoveryPoints.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/recoveryPoints/{recoveryPointId}": {
      "get": {
        "tags": [
          "RecoveryPoint"
        ],
        "description": "Gets a Recovery Point using recoveryPointId for a Datasource.",
        "operationId": "RecoveryPoints_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "recoveryPointId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBackupRecoveryPointResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Recovery Point": {
            "$ref": "./examples/BackupInstanceOperations/GetRecoveryPoint.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/rehydrate": {
      "post": {
        "description": "rehydrate recovery point for restore for a BackupInstance",
        "operationId": "BackupInstances_TriggerRehydrate",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "description": "Request body for operation",
            "in": "body",
            "name": "parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureBackupRehydrationRequest"
            }
          },
          {
            "in": "path",
            "name": "backupInstanceName",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "tags": [
          "BackupInstances"
        ],
        "x-ms-examples": {
          "Trigger Rehydrate": {
            "$ref": "./examples/BackupInstanceOperations/TriggerRehydrate.json"
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/restore": {
      "post": {
        "tags": [
          "BackupInstances"
        ],
        "description": "Triggers restore for a BackupInstance",
        "operationId": "BackupInstances_TriggerRestore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureBackupRestoreRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contains additional information like job Id",
            "schema": {
              "$ref": "#/definitions/OperationJobExtendedInfo"
            }
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Trigger Restore": {
            "$ref": "./examples/BackupInstanceOperations/TriggerRestore.json"
          },
          "Trigger Restore As Files": {
            "$ref": "./examples/BackupInstanceOperations/TriggerRestoreAsFiles.json"
          },
          "Trigger Restore With Rehydration": {
            "$ref": "./examples/BackupInstanceOperations/TriggerRestoreWithRehydration.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/validateRestore": {
      "post": {
        "tags": [
          "BackupInstances"
        ],
        "description": "Validates if Restore can be triggered for a DataSource",
        "operationId": "BackupInstances_ValidateForRestore",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateRestoreRequestObject"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contains additional information like job Id",
            "schema": {
              "$ref": "#/definitions/OperationJobExtendedInfo"
            }
          },
          "202": {
            "description": "The operation will be completed asynchronously.",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Azure-AsyncOperation": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Validate Restore": {
            "$ref": "./examples/BackupInstanceOperations/ValidateRestore.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupJobs": {
      "get": {
        "tags": [
          "AzureBackupJobs"
        ],
        "description": "Returns list of jobs belonging to a backup vault",
        "operationId": "Jobs_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/VaultName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBackupJobResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get Jobs": {
            "$ref": "./examples/JobCRUD/ListJobs.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupInstances/{backupInstanceName}/findRestorableTimeRanges": {
      "post": {
        "tags": [
          "FindRestorableTimeRanges"
        ],
        "operationId": "RestorableTimeRanges_Find",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "backupInstanceName",
            "description": "The name of the backup instance",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureBackupFindRestorableTimeRangesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBackupFindRestorableTimeRangesResponseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Find Restorable Time Ranges": {
            "$ref": "./examples/BackupInstanceOperations/FindRestorableTimeRanges.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupJobs/{jobId}": {
      "get": {
        "tags": [
          "AzureBackupJob"
        ],
        "description": "Gets a job with id in a backup vault",
        "operationId": "Jobs_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "name": "jobId",
            "description": "The Job ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureBackupJobResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Job": {
            "$ref": "./examples/JobCRUD/GetJob.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/exportBackupJobs": {
      "post": {
        "tags": [
          "AzureBackupJob"
        ],
        "description": "Triggers export of jobs and returns an OperationID to track.",
        "operationId": "ExportJobs_Trigger",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/VaultName"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Location": {
                "description": "The URL of the resource used to check the status of the asynchronous operation.",
                "type": "string"
              },
              "Retry-After": {
                "description": "Suggested delay to check the status of the asynchronous operation. The value is an integer that represents the seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Trigger Export Jobs": {
            "$ref": "./examples/JobCRUD/TriggerExportJobs.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/backupVaults/{vaultName}/backupJobs/operations/{operationId}": {
      "get": {
        "tags": [
          "AzureBackupJob"
        ],
        "description": "Gets the operation result of operation triggered by Export Jobs API. If the operation is successful, then it also contains URL of a Blob and a SAS key to access the same. The blob contains exported jobs in JSON serialized format.",
        "operationId": "ExportJobsOperationResult_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/VaultName"
          },
          {
            "name": "operationId",
            "description": "OperationID which represents the export job.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExportJobsResult"
            }
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get Export Jobs Operation Result": {
            "$ref": "./examples/JobCRUD/GetExportJobsOperationResult.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataProtection/resourceGuards": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns ResourceGuards collection belonging to a subscription.",
        "operationId": "ResourceGuards_GetResourcesInSubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGuardResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get ResourceGuards in Subscription": {
            "$ref": "./examples/ResourceGuardCRUD/GetResourceGuardsInSubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns ResourceGuards collection belonging to a ResourceGroup.",
        "operationId": "ResourceGuards_GetResourcesInResourceGroup",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGuardResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get ResourceGuards in ResourceGroup": {
            "$ref": "./examples/ResourceGuardCRUD/GetResourceGuardsInResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}": {
      "put": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Creates or updates a ResourceGuard resource belonging to a resource group.",
        "operationId": "ResourceGuards_Put",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "The name of ResourceGuard",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourceGuardResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGuardResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create ResourceGuard": {
            "$ref": "./examples/ResourceGuardCRUD/PutResourceGuard.json"
          }
        }
      },
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns a ResourceGuard belonging to a resource group.",
        "operationId": "ResourceGuards_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "The name of ResourceGuard",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGuardResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get ResourceGuard": {
            "$ref": "./examples/ResourceGuardCRUD/GetResourceGuard.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Deletes a ResourceGuard resource from the resource group.",
        "operationId": "ResourceGuards_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "The name of ResourceGuard",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete ResourceGuard": {
            "$ref": "./examples/ResourceGuardCRUD/DeleteResourceGuard.json"
          }
        }
      },
      "patch": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Updates a ResourceGuard resource belonging to a resource group. For example, updating tags for a resource.",
        "operationId": "ResourceGuards_Patch",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "The name of ResourceGuard",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "Request body for operation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchResourceRequestInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResourceGuardResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Patch ResourceGuard": {
            "$ref": "./examples/ResourceGuardCRUD/PatchResourceGuard.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/disableSoftDeleteRequests": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDisableSoftDeleteRequestsObjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List OperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/ListDisableSoftDeleteRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteResourceGuardProxyRequests": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDeleteResourceGuardProxyRequestsObjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List OperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/ListDeleteResourceGuardProxyRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/getBackupSecurityPINRequests": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetBackupSecurityPINRequestsObjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List OperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/ListBackupSecurityPINRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteProtectedItemRequests": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDeleteProtectedItemRequestsObjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List OperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/ListDeleteProtectedItemRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectionPolicyRequests": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetUpdateProtectionPolicyRequestsObjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List OperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/ListUpdateProtectionPolicyRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectedItemRequests": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetUpdateProtectedItemRequestsObjects",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResourceList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List OperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/ListUpdateProtectedItemRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/disableSoftDeleteRequests/{requestName}": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDefaultDisableSoftDeleteRequestsObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get DefaultOperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/GetDefaultDisableSoftDeleteRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteResourceGuardProxyRequests/{requestName}": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDefaultDeleteResourceGuardProxyRequestsObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get DefaultOperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/GetDefaultDeleteResourceGuardProxyRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/getBackupSecurityPINRequests/{requestName}": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDefaultBackupSecurityPINRequestsObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get DefaultOperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/GetDefaultBackupSecurityPINRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/deleteProtectedItemRequests/{requestName}": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDefaultDeleteProtectedItemRequestsObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get DefaultOperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/GetDefaultDeleteProtectedItemRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectionPolicyRequests/{requestName}": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDefaultUpdateProtectionPolicyRequestsObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get DefaultOperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/GetDefaultUpdateProtectionPolicyRequests.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/resourceGuards/{resourceGuardsName}/updateProtectedItemRequests/{requestName}": {
      "get": {
        "tags": [
          "ResourceGuards"
        ],
        "summary": "Returns collection of operation request objects for a critical operation protected by the given ResourceGuard resource.",
        "operationId": "ResourceGuards_GetDefaultUpdateProtectedItemRequestsObject",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersion"
          },
          {
            "$ref": "#/parameters/ResourceGroupName"
          },
          {
            "$ref": "#/parameters/SubscriptionId"
          },
          {
            "name": "resourceGuardsName",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DppBaseResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get DefaultOperationsRequestObject": {
            "$ref": "./examples/ResourceGuardCRUD/GetDefaultUpdateProtectedItemRequests.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AbsoluteDeleteOption": {
      "allOf": [
        {
          "$ref": "#/definitions/DeleteOption"
        }
      ],
      "description": "Delete option with duration",
      "required": [
        "duration",
        "objectType"
      ],
      "title": "AbsoluteDeleteOption",
      "type": "object",
      "x-ms-discriminator-value": "AbsoluteDeleteOption"
    },
    "RecoveryPointsFilters": {
      "type": "object",
      "properties": {
        "restorePointDataStoreId": {
          "type": "string"
        },
        "isVisible": {
          "type": "boolean"
        },
        "startDate": {
          "type": "string"
        },
        "endDate": {
          "type": "string"
        },
        "extendedInfo": {
          "type": "boolean"
        },
        "restorePointState": {
          "type": "string"
        }
      }
    },
    "AdHocBackupRuleOptions": {
      "description": "Adhoc backup rules",
      "properties": {
        "ruleName": {
          "type": "string"
        },
        "triggerOption": {
          "$ref": "#/definitions/AdhocBackupTriggerOption"
        }
      },
      "required": [
        "ruleName",
        "triggerOption"
      ],
      "title": "AdHocBackupRuleOptions",
      "type": "object"
    },
    "AdhocBackupTriggerOption": {
      "description": "Adhoc backup trigger option",
      "properties": {
        "retentionTagOverride": {
          "type": "string"
        }
      },
      "title": "AdhocBackupTriggerOption",
      "type": "object"
    },
    "AdhocBasedTaggingCriteria": {
      "description": "Adhoc backup tagging criteria",
      "properties": {
        "tagInfo": {
          "$ref": "#/definitions/RetentionTag",
          "description": "Retention tag information"
        }
      },
      "title": "AdhocBasedTaggingCriteria",
      "type": "object"
    },
    "AdhocBasedTriggerContext": {
      "allOf": [
        {
          "$ref": "#/definitions/TriggerContext"
        }
      ],
      "description": "Adhoc trigger context",
      "properties": {
        "taggingCriteria": {
          "$ref": "#/definitions/AdhocBasedTaggingCriteria",
          "description": "Tagging Criteria containing retention tag for adhoc backup."
        }
      },
      "required": [
        "objectType",
        "taggingCriteria"
      ],
      "title": "AdhocBasedTriggerContext",
      "type": "object",
      "x-ms-discriminator-value": "AdhocBasedTriggerContext"
    },
    "AuthCredentials": {
      "description": "Base class for different types of authentication credentials.",
      "required": [
        "objectType"
      ],
      "type": "object",
      "properties": {
        "objectType": {
          "description": "Type of the specific object - used for deserializing",
          "type": "string",
          "readOnly": false
        }
      },
      "discriminator": "objectType"
    },
    "AzureBackupDiscreteRecoveryPoint": {
      "allOf": [
        {
          "$ref": "#/definitions/AzureBackupRecoveryPoint"
        }
      ],
      "description": "Azure backup discrete RecoveryPoint",
      "properties": {
        "friendlyName": {
          "type": "string"
        },
        "recoveryPointDataStoresDetails": {
          "items": {
            "$ref": "#/definitions/RecoveryPointDataStoreDetails"
          },
          "type": "array"
        },
        "recoveryPointTime": {
          "format": "date-time",
          "type": "string"
        },
        "policyName": {
          "type": "string"
        },
        "policyVersion": {
          "type": "string"
        },
        "recoveryPointId": {
          "type": "string"
        },
        "recoveryPointType": {
          "type": "string"
        },
        "retentionTagName": {
          "type": "string"
        },
        "retentionTagVersion": {
          "type": "string"
        }
      },
      "required": [
        "recoveryPointTime"
      ],
      "title": "AzureBackupDiscreteRecoveryPoint",
      "type": "object",
      "x-ms-discriminator-value": "AzureBackupDiscreteRecoveryPoint"
    },
    "AzureBackupFindRestorableTimeRangesRequest": {
      "description": "List Restore Ranges Request",
      "required": [
        "sourceDataStoreType"
      ],
      "type": "object",
      "properties": {
        "sourceDataStoreType": {
          "description": "Gets or sets the type of the source data store.",
          "enum": [
            "OperationalStore",
            "VaultStore",
            "ArchiveStore"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "RestoreSourceDataStoreType",
            "modelAsString": true
          }
        },
        "startTime": {
          "description": "Start time for the List Restore Ranges request. ISO 8601 format.",
          "type": "string"
        },
        "endTime": {
          "description": "End time for the List Restore Ranges request. ISO 8601 format.",
          "type": "string"
        }
      }
    },
    "AzureBackupFindRestorableTimeRangesRequestResource": {
      "description": "List Restore Ranges Request",
      "allOf": [
        {
          "$ref": "#/definitions/DppWorkerRequest"
        }
      ],
      "properties": {
        "content": {
          "$ref": "#/definitions/AzureBackupFindRestorableTimeRangesRequest",
          "description": "AzureBackupFindRestorableTimeRangesRequestResource content"
        }
      }
    },
    "AzureBackupFindRestorableTimeRangesResponse": {
      "description": "List Restore Ranges Response",
      "type": "object",
      "properties": {
        "restorableTimeRanges": {
          "description": "Returns the Restore Ranges available on the Backup Instance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/RestorableTimeRange"
          }
        },
        "objectType": {
          "type": "string"
        }
      }
    },
    "AzureBackupFindRestorableTimeRangesResponseResource": {
      "description": "List Restore Ranges Response",
      "allOf": [
        {
          "$ref": "#/definitions/DppResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureBackupFindRestorableTimeRangesResponse",
          "description": "AzureBackupFindRestorableTimeRangesResponseResource properties"
        }
      }
    },
    "AzureBackupJob": {
      "description": "AzureBackup Job Class",
      "properties": {
        "activityID": {
          "description": "Job Activity Id",
          "type": "string"
        },
        "backupInstanceFriendlyName": {
          "description": "Name of the Backup Instance",
          "type": "string"
        },
        "backupInstanceId": {
          "description": "ARM ID of the Backup Instance",
          "readOnly": true,
          "type": "string"
        },
        "dataSourceId": {
          "description": "ARM ID of the DataSource",
          "type": "string"
        },
        "dataSourceLocation": {
          "description": "Location of the DataSource",
          "type": "string"
        },
        "dataSourceName": {
          "description": "User Friendly Name of the DataSource",
          "type": "string"
        },
        "dataSourceSetName": {
          "description": "Data Source Set Name of the DataSource",
          "type": "string"
        },
        "dataSourceType": {
          "description": "Type of DataSource",
          "type": "string"
        },
        "duration": {
          "description": "Total run time of the job. ISO 8601 format.",
          "type": "string"
        },
        "endTime": {
          "description": "EndTime of the job(in UTC)",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "errorDetails": {
          "description": "A List, detailing the errors related to the job",
          "items": {
            "$ref": "#/definitions/UserFacingError"
          },
          "readOnly": true,
          "type": "array"
        },
        "extendedInfo": {
          "$ref": "#/definitions/JobExtendedInfo",
          "description": "Extended Information about the job",
          "readOnly": true
        },
        "isUserTriggered": {
          "description": "Indicated that whether the job is adhoc(true) or scheduled(false)",
          "type": "boolean"
        },
        "operation": {
          "description": "It indicates the type of Job i.e. Backup:full/log/diff ;Restore:ALR/OLR; Tiering:Backup/Archive ; Management:ConfigureProtection/UnConfigure",
          "type": "string"
        },
        "operationCategory": {
          "description": "It indicates the type of Job i.e. Backup/Restore/Tiering/Management",
          "type": "string"
        },
        "policyId": {
          "description": "ARM ID of the policy",
          "readOnly": true,
          "type": "string"
        },
        "policyName": {
          "description": "Name of the policy",
          "readOnly": true,
          "type": "string"
        },
        "progressEnabled": {
          "description": "Indicated whether progress is enabled for the job",
          "type": "boolean"
        },
        "progressUrl": {
          "description": "Url which contains job's progress",
          "readOnly": true,
          "type": "string"
        },
        "restoreType": {
          "description": "It indicates the sub type of operation i.e. in case of Restore it can be ALR/OLR",
          "readOnly": true,
          "type": "string"
        },
        "sourceResourceGroup": {
          "description": "Resource Group Name of the Datasource",
          "type": "string"
        },
        "sourceSubscriptionID": {
          "description": "SubscriptionId corresponding to the DataSource",
          "type": "string"
        },
        "startTime": {
          "description": "StartTime of the job(in UTC)",
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "description": "Status of the job like InProgress/Success/Failed/Cancelled/SuccessWithWarning",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Subscription Id of the corresponding backup vault",
          "type": "string"
        },
        "supportedActions": {
          "description": "List of supported actions",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vaultName": {
          "description": "Name of the vault",
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "sourceDataStoreName": {
          "type": "string"
        },
        "destinationDataStoreName": {
          "type": "string"
        }
      },
      "required": [
        "activityID",
        "subscriptionId",
        "dataSourceId",
        "vaultName",
        "backupInstanceFriendlyName",
        "sourceResourceGroup",
        "dataSourceName",
        "progressEnabled",
        "sourceSubscriptionID",
        "dataSourceLocation",
        "startTime",
        "dataSourceType",
        "operationCategory",
        "operation",
        "status",
        "isUserTriggered",
        "supportedActions"
      ],
      "type": "object"
    },
    "AzureBackupJobResource": {
      "allOf": [
        {
          "$ref": "#/definitions/DppResource"
        }
      ],
      "description": "AzureBackup Job Resource Class",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AzureBackupJob",
          "description": "AzureBackupJobResource properties",
          "type": "object"
        }
      },
      "type": "object"
    },
    "AzureBackupJobResourceList": {
      "allOf": [
        {
          "$ref": "#/definitions/DppResourceList"
        }
      ],
      "description": "List of AzureBackup Job resources",
      "properties": {
        "value": {
          "description": "List of resources.",
          "items": {
            "$ref": "#/definitions/AzureBackupJobResource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AzureBackupParams": {
      "allOf": [
        {
          "$ref": "#/definitions/BackupParameters"
        }
      ],
      "description": "Azure backup parameters",
      "properties": {
        "backupType": {
          "description": "BackupType ; Full/Incremental etc",
          "type": "string"
        }
      },
      "required": [
        "backupType",
        "objectType"
      ],
      "title": "AzureBackupParams",
      "type": "object",
      "x-ms-discriminator-value": "AzureBackupParams"
    },
    "AzureBackupRecoveryPoint": {
      "description": "Azure backup recoveryPoint",
      "discriminator": "objectType",
      "properties": {
        "objectType": {
          "type": "string"
        }
      },
      "required": [
        "objectType"
      ],
      "title": "AzureBackupRecoveryPoint",
      "type": "object"
    },
    "AzureBackupRecoveryPointBasedRestoreRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/AzureBackupRestoreRequest"
[...]
