{
  "swagger": "2.0",
  "info": {
    "title": "ContainerServiceClient",
    "description": "The Container Service Client.",
    "version": "2018-09-30-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/openShiftManagedClusters": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_List",
        "summary": "Gets a list of openshift managed clusters in the specified subscription.",
        "description": "Gets a list of openshift managed clusters in the specified subscription. The operation returns properties of each OpenShift managed cluster.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List OpenShift Managed Clusters": {
            "$ref": "./examples/OpenShiftManagedClustersList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_ListByResourceGroup",
        "summary": "Lists of openshift managed clusters in the specified subscription and resource group.",
        "description": "Lists of openshift managed clusters in the specified subscription and resource group. The operation returns properties of each openshift managed cluster.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get OpenShift Managed Clusters by Resource Group": {
            "$ref": "./examples/OpenShiftManagedClustersListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters/{resourceName}": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_Get",
        "summary": "Gets a openshift managed cluster.",
        "description": "Gets the details of the managed openshift cluster with a specified resource group and name.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          }
        },
        "x-ms-examples": {
          "Get OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_CreateOrUpdate",
        "summary": "Creates or updates a openshift managed cluster.",
        "description": "Creates or updates a openshift managed cluster with the specified configuration for agents and OpenShift version.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            },
            "description": "Parameters supplied to the Create or Update an OpenShift Managed Cluster operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create/Update OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersCreate_Update.json"
          }
        }
      },
      "patch": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_UpdateTags",
        "summary": "Updates tags on a openshift managed cluster.",
        "description": "Updates an openshift managed cluster with the specified tags.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the Update Managed Cluster Tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update OpenShift Managed Cluster Tags": {
            "$ref": "./examples/OpenShiftManagedClustersUpdateTags.json"
          }
        }
      },
      "delete": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_Delete",
        "summary": "Deletes an openshift managed cluster.",
        "description": "Deletes the openshift managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/OperationValue"
          },
          "description": "The list of compute operations"
        }
      },
      "description": "The List Compute Operation operation response."
    },
    "OperationValue": {
      "properties": {
        "origin": {
          "type": "string",
          "readOnly": true,
          "description": "The origin of the compute operation."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the compute operation."
        },
        "display": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationValueDisplay",
          "description": "Describes the properties of a Compute Operation Value Display."
        }
      },
      "description": "Describes the properties of a Compute Operation value."
    },
    "OperationValueDisplay": {
      "properties": {
        "operation": {
          "type": "string",
          "readOnly": true,
          "description": "The display name of the compute operation."
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "The display name of the resource the operation applies to."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "The description of the operation."
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "The resource provider for the operation."
        }
      },
      "description": "Describes the properties of a Compute Operation Value Display."
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "PurchasePlan": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan ID."
        },
        "product": {
          "type": "string",
          "description": "Specifies the product of the image from the marketplace. This is the same value as Offer under the imageReference element."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "publisher": {
          "type": "string",
          "description": "The plan ID."
        }
      },
      "description": "Used for establishing the purchase context of any 3rd Party artifact through MarketPlace."
    },
    "OpenShiftRouterProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the router profile."
        },
        "publicSubdomain" : {
          "type": "string",
          "description": "DNS subdomain for openshift router."
        },
        "fqdn": {
          "readOnly": true,
          "type": "string",
          "description": "Auto-allocated FQDN for the OpenShift router."
        }
      },
      "description": "Represents an OpenShift router"
    },
    "ContainerServiceVnetSubnetID": {
      "type": "string",
      "description": "VNet SubnetID specifies the vnet's subnet identifier."
    },
    "OSType": {
      "type": "string",
      "default": "Linux",
      "enum": [
        "Linux",
        "Windows"
      ],
      "x-ms-enum": {
        "name": "OSType",
        "modelAsString": true
      },
      "description": "OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux."
    },
    "OpenShiftContainerServiceVMSize": {
      "type": "string",
      "x-ms-enum": {
        "name": "OpenShiftContainerServiceVMSize",
        "modelAsString": true
      },
      "description": "Size of OpenShift VMs.",
      "enum": [
        "Standard_D2s_v3",
        "Standard_D4s_v3"
      ]
    },
    "OpenShiftAgentPoolProfileRole": {
      "type": "string",
      "enum": [
        "compute",
        "infra"
      ],
      "x-ms-enum": {
        "name": "OpenShiftAgentPoolProfileRole",
        "modelAsString": true
      },
      "description": "OpenShiftAgentPoolProfileRole represents the role of the AgentPoolProfile."
    },
    "OpenShiftManagedClusterMasterPoolProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of the master pool profile in the context of the subscription and resource group."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "maximum": 10,
          "minimum": 1,
          "description": "Number of masters (VMs) to host docker containers. The default value is 3.",
          "default": 3
        },
        "vmSize": {
          "$ref": "#/definitions/OpenShiftContainerServiceVMSize",
          "description": "Size of agent VMs."
        },
        "vnetSubnetID": {
          "$ref": "#/definitions/ContainerServiceVnetSubnetID",
          "description": "VNet SubnetID specifies the vnet's subnet identifier."
        },
        "osType": {
          "$ref": "#/definitions/OSType",
          "description": "OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux."
        }
      },
      "required": [
        "name",
        "count",
        "vmSize"
      ],
      "description": "OpenShiftManagedClusterMaterPoolProfile contains configuration for OpenShift master VMs."
    },
    "OpenShiftManagedClusterAgentPoolProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of the pool profile in the context of the subscription and resource group."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "maximum": 100,
          "minimum": 1,
          "description": "Number of agents (VMs) to host docker containers. Allowed values must be in the range of 1 to 100 (inclusive). The default value is 1. ",
          "default": 1
        },
        "vmSize": {
          "$ref": "#/definitions/OpenShiftContainerServiceVMSize",
          "description": "Size of agent VMs."
        },
        "vnetSubnetID": {
          "$ref": "#/definitions/ContainerServiceVnetSubnetID",
          "description": "VNet SubnetID specifies the vnet's subnet identifier."
        },
        "osType": {
          "$ref": "#/definitions/OSType",
          "description": "OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux."
        },
        "role" : {
          "description": "Define the role of the AgentPoolProfile.",
          "$ref": "#/definitions/OpenShiftAgentPoolProfileRole"
        }
      },
      "required": [
        "name",
        "count",
        "vmSize"
      ],
      "description": "OpenShiftManagedClusterAgentPoolProfile represents configuration of OpenShift cluster VMs."
    },
    "OpenShiftManagedClusterIdentityProviders": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the provider."
        },
        "provider": {
          "type": "object",
          "description": "Configuration of the provider."
        }
      },
      "description": "OpenShiftManagedClusterIdentityProvider is heavily cut down equivalent to IdentityProvider in the upstream."
    },
    "OpenShiftManagedClusterAuthProfile": {
      "properties": {
        "value": {
          "type": "array",
          "items" : {
            "$ref": "#/definitions/OpenShiftManagedClusterIdentityProviders"
          },
          "description": "OpenShiftManagedClusterAuthProfile defines all possible authentication profiles for the OpenShift cluster."
        }
      }
    },
    "OpenShiftManagedClusterProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response."
        },
        "openShiftVersion": {
          "type": "string",
          "description": "Version of OpenShift specified when creating the cluster."
        },
        "publicHostname": {
          "type": "string",
          "description": "Optional user-specified FQDN for OpenShift API server."
        },
        "fqdn": {
          "type": "string",
          "description": "User-specified FQDN for OpenShift API server loadbalancer internal hostname."
        },
        "routerProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenShiftRouterProfile"
          },
          "description": "Configuration for OpenShift router(s)."
        },
        "masterPoolProfile": {
          "$ref": "#/definitions/OpenShiftManagedClusterMasterPoolProfile",
          "description": "Configuration for OpenShift master VMs."
        },
        "agentPoolProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenShiftManagedClusterAgentPoolProfile"
          },
          "description": "Configuration of OpenShift cluster VMs."
        },
        "authProfile": {
          "$ref": "#/definitions/OpenShiftManagedClusterAuthProfile",
          "description": "Configures OpenShift authentication."
        }
      },
      "required": [
        "openShiftVersion"
      ],
      "description": "Properties of the openshift managed cluster."
    },
    "OpenShiftManagedCluster": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "plan" : {
              "description": "Define the resource plan as required by ARM for billing purposes",
              "$ref": "#/definitions/PurchasePlan"
            },
            "properties": {
              "description": "Properties of a openshift managed cluster.",
              "$ref": "#/definitions/OpenShiftManagedClusterProperties",
              "x-ms-client-flatten": true
            }
          }
        }
      ],
      "description": "OpenShift Managed cluster."
    },
    "OpenShiftManagedClusterServiceAADIdentityProvider": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of the provider."
        },
        "clientId": {
          "type": "string",
          "description": "The clientId password associated with the provider."
        },
        "secret": {
          "type": "string",
          "description": "The secret password associated with the provider."
        },
        "tenantId": {
          "type": "string",
          "description": "The tenantId associated with the provider."
        }
      },
      "description": "AADIdentityProvider defines Identity provider for MS AAD."
    },
    "TagsObject": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    },
    "OpenShiftManagedClusterListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenShiftManagedCluster"
          },
          "description": "The list of openshift managed clusters."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of openshift managed cluster results.",
          "readOnly": true
        }
      },
      "description": "The response from the List OpenShift Managed Clusters operation."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "x-ms-parameter-location": "client"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version.",
      "x-ms-parameter-location": "client"
    }
  }
}
