{
  "swagger": "2.0",
  "info": {
    "title": "ContainerServiceClient",
    "description": "The Container Service Client.",
    "version": "2018-09-30-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters/{resourceName}": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_Get",
        "summary": "Gets a openshift managed cluster.",
        "description": "Gets the details of the managed openshift cluster with a specified resource group and name.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_CreateOrUpdate",
        "summary": "Creates or updates an openshift managed cluster.",
        "description": "Creates or updates a openshift managed cluster with the specified configuration for agents and OpenShift version.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            },
            "description": "Parameters supplied to the Create or Update an OpenShift Managed Cluster operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned.If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create/Update OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersCreate_Update.json"
          }
        }
      },
      "patch": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_UpdateTags",
        "summary": "Updates tags on an openshift managed cluster.",
        "description": "Updates an openshift managed cluster with the specified tags.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the Update OpenShift Managed Cluster Tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed. If the cluster doesn't exist, 404 (Not found) is returned. If any of the input parameters is wrong, 400(Bad Request) is returned.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update OpenShift Managed Cluster Tags": {
            "$ref": "./examples/OpenShiftManagedClustersUpdateTags.json"
          }
        }
      },
      "delete": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_Delete",
        "summary": "Deletes an openshift managed cluster.",
        "description": "Deletes the openshift managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "CloudError": {
      "x-ms-external": true,
      "properties": {
        "error": {
          "$ref": "#/definitions/CloudErrorBody"
        }
      },
      "description": "An error response from the Container service."
    },
    "CloudErrorBody": {
      "x-ms-external": true,
      "properties": {
        "code": {
          "type": "string",
          "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
        },
        "message": {
          "type": "string",
          "description": "A message describing the error, intended to be suitable for display in a user interface."
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error. For example, the name of the property in error."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudErrorBody"
          },
          "description": "A list of additional details about the error."
        }
      },
      "description": "An error response from the Container service."
    },
    "PurchasePlan": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan ID."
        },
        "product": {
          "type": "string",
          "description": "Specifies the product of the image from the marketplace. This is the same value as Offer under the imageReference element."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "publisher": {
          "type": "string",
          "description": "The plan ID."
        }
      },
      "description": "Used for establishing the purchase context of any 3rd Party artifact through MarketPlace."
    },
    "OpenShiftRouterProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the router profile."
        },
        "publicSubdomain" : {
          "type": "string",
          "description": "DNS subdomain for openshift router."
        },
        "fqdn": {
          "readOnly": true,
          "type": "string",
          "description": "Auto-allocated FQDN for the OpenShift router."
        }
      },
      "description": "Represents an OpenShift router"
    },
    "NetworkProfile": {
      "properties": {
        "vnetCidr": {
          "type": "string",
          "description": "CIDR for the OpenShift Vnet.",
          "default": "10.0.0.0/8"
        },
        "peerVnetId" : {
          "type": "string",
          "description": "CIDR of the Vnet to peer."
        }
      },
      "description": "Represents the OpenShift networking configuration"
    },
    "OSType": {
      "type": "string",
      "default": "Linux",
      "enum": [
        "Linux",
        "Windows"
      ],
      "x-ms-enum": {
        "name": "OSType",
        "modelAsString": true
      },
      "description": "OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux."
    },
    "OpenShiftContainerServiceVMSize": {
      "type": "string",
      "x-ms-enum": {
        "name": "OpenShiftContainerServiceVMSize",
        "modelAsString": true
      },
      "description": "Size of OpenShift VMs.",
      "enum": [
        "Standard_D2s_v3",
        "Standard_D4s_v3"
      ]
    },
    "OpenShiftAgentPoolProfileRole": {
      "type": "string",
      "enum": [
        "compute",
        "infra"
      ],
      "x-ms-enum": {
        "name": "OpenShiftAgentPoolProfileRole",
        "modelAsString": true
      },
      "description": "OpenShiftAgentPoolProfileRole represents the role of the AgentPoolProfile."
    },
    "OpenShiftManagedClusterMasterPoolProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of the master pool profile in the context of the subscription and resource group."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "maximum": 10,
          "minimum": 1,
          "description": "Number of masters (VMs) to host docker containers. The default value is 3.",
          "default": 3
        },
        "vmSize": {
          "$ref": "#/definitions/OpenShiftContainerServiceVMSize",
          "description": "Size of agent VMs."
        },
        "subnetCidr": {
          "type": "string",
          "description": "Subnet CIDR for the peering."
        },
        "osType": {
          "$ref": "#/definitions/OSType",
          "description": "OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux."
        }
      },
      "required": [
        "count",
        "vmSize"
      ],
      "description": "OpenShiftManagedClusterMaterPoolProfile contains configuration for OpenShift master VMs."
    },
    "OpenShiftManagedClusterAgentPoolProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of the pool profile in the context of the subscription and resource group."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "maximum": 5,
          "minimum": 1,
          "description": "Number of agents (VMs) to host docker containers. Allowed values must be in the range of 1 to 5 (inclusive). The default value is 2. ",
          "default": 2
        },
        "vmSize": {
          "$ref": "#/definitions/OpenShiftContainerServiceVMSize",
          "description": "Size of agent VMs."
        },
        "subnetCidr": {
          "type": "string",
          "description": "Subnet CIDR for the peering.",
          "default": "10.0.0.0/24"
        },
        "osType": {
          "$ref": "#/definitions/OSType",
          "description": "OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux."
        },
        "role" : {
          "description": "Define the role of the AgentPoolProfile.",
          "$ref": "#/definitions/OpenShiftAgentPoolProfileRole"
        }
      },
      "required": [
        "name",
        "count",
        "vmSize"
      ],
      "description": "Defines the configuration of the OpenShift cluster VMs."
    },
    "OpenShiftManagedClusterIdentityProvider": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the provider."
        },
        "provider": {
          "$ref": "#/definitions/OpenShiftManagedClusterBaseIdentityProvider",
          "description": "Configuration of the provider."
        }
      },
      "description": "Defines the configuration of the identity providers to be used in the OpenShift cluster."
    },
    "OpenShiftManagedClusterAuthProfile": {
      "properties": {
        "identityProviders": {
          "type": "array",
          "items" : {
            "$ref": "#/definitions/OpenShiftManagedClusterIdentityProvider"
          },
          "description": "Type of authentication profile to use."
        }
      },
      "description": "Defines all possible authentication profiles for the OpenShift cluster."
    },
    "OpenShiftManagedClusterProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response."
        },
        "openShiftVersion": {
          "type": "string",
          "description": "Version of OpenShift specified when creating the cluster."
        },
        "publicHostname": {
          "type": "string",
          "description": "Optional user-specified FQDN for OpenShift API server."
        },
        "fqdn": {
          "type": "string",
          "description": "User-specified FQDN for OpenShift API server loadbalancer internal hostname."
        },
        "networkProfile": {
          "$ref": "#/definitions/NetworkProfile",
          "description": "Configuration for OpenShift networking."
        },
        "routerProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenShiftRouterProfile"
          },
          "description": "Configuration for OpenShift router(s)."
        },
        "masterPoolProfile": {
          "$ref": "#/definitions/OpenShiftManagedClusterMasterPoolProfile",
          "description": "Configuration for OpenShift master VMs."
        },
        "agentPoolProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenShiftManagedClusterAgentPoolProfile"
          },
          "description": "Configuration of OpenShift cluster VMs."
        },
        "authProfile": {
          "$ref": "#/definitions/OpenShiftManagedClusterAuthProfile",
          "description": "Configures OpenShift authentication."
        }
      },
      "required": [
        "openShiftVersion"
      ],
      "description": "Properties of the openshift managed cluster."
    },
    "OpenShiftManagedCluster": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "plan" : {
              "description": "Define the resource plan as required by ARM for billing purposes",
              "$ref": "#/definitions/PurchasePlan"
            },
            "properties": {
              "description": "Properties of a openshift managed cluster.",
              "$ref": "#/definitions/OpenShiftManagedClusterProperties",
              "x-ms-client-flatten": true
            }
          }
        }
      ],
      "description": "OpenShift Managed cluster."
    },
    "OpenShiftManagedClusterBaseIdentityProvider":
    {
      "discriminator": "kind",
      "required": ["kind"],
      "properties": {
          "kind": {
            "type": "string",
            "description": "The kind of the provider."
          }
        },
        "description": "Structure for any Identity provider."
    },
    "OpenShiftManagedClusterAADIdentityProvider": {
      "x-ms-discriminator-value": "AADIdentityProvider",
      "allOf": [
      { 
          "$ref": "#/definitions/OpenShiftManagedClusterBaseIdentityProvider"
      },
      {
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The clientId password associated with the provider."
          },
          "secret": {
            "type": "string",
            "description": "The secret password associated with the provider."
          },
          "tenantId": {
            "type": "string",
            "description": "The tenantId associated with the provider."
          }
        }
      }
      ],
      "description": "Defines the Identity provider for MS AAD."
    },
    "TagsObject": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "x-ms-parameter-location": "client"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version.",
      "x-ms-parameter-location": "client"
    }
  }
}
