{
  "swagger": "2.0",
  "info": {
    "title": "ContainerServiceClient",
    "description": "The Container Service Client.",
    "version": "2018-09-30-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.ContainerService/openShiftManagedClusters": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_List",
        "summary": "Gets a list of openshift managed clusters in the specified subscription.",
        "description": "Gets a list of openshift managed clusters in the specified subscription. The operation returns properties of each OpenShift managed cluster.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "List OpenShift Managed Clusters": {
            "$ref": "./examples/OpenShiftManagedClustersList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_ListByResourceGroup",
        "summary": "Lists of openshift managed clusters in the specified subscription and resource group.",
        "description": "Lists of openshift managed clusters in the specified subscription and resource group. The operation returns properties of each openshift managed cluster.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Get OpenShift Managed Clusters by Resource Group": {
            "$ref": "./examples/OpenShiftManagedClustersListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/openShiftManagedClusters/{resourceName}": {
      "get": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_Get",
        "summary": "Gets a openshift managed cluster.",
        "description": "Gets the details of the managed openshift cluster with a specified resource group and name.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          }
        },
        "x-ms-examples": {
          "Get OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersGet.json"
          }
        }
      },
      "put": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_CreateOrUpdate",
        "summary": "Creates or updates a openshift managed cluster.",
        "description": "Creates or updates a openshift managed cluster with the specified configuration for agents and OpenShift version.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            },
            "description": "Parameters supplied to the Create or Update an OpenShift Managed Cluster operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Create/Update OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersCreate_Update.json"
          }
        }
      },
      "patch": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_UpdateTags",
        "summary": "Updates tags on a openshift managed cluster.",
        "description": "Updates an openshift managed cluster with the specified tags.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TagsObject"
            },
            "description": "Parameters supplied to the Update Managed Cluster Tags operation."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OpenShiftManagedCluster"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Update OpenShift Managed Cluster Tags": {
            "$ref": "./examples/OpenShiftManagedClustersUpdateTags.json"
          }
        }
      },
      "delete": {
        "tags": [
          "OpenShiftManagedClusters"
        ],
        "operationId": "OpenShiftManagedClusters_Delete",
        "summary": "Deletes an openshift managed cluster.",
        "description": "Deletes the openshift managed cluster with a specified resource group and name.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the resource group."
          },
          {
            "name": "resourceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the openshift managed cluster resource."
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "NoContent"
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Delete OpenShift Managed Cluster": {
            "$ref": "./examples/OpenShiftManagedClustersDelete.json"
          }
        }
      }
    }
  },
  "definitions": {
    "OperationListResult": {
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/OperationValue"
          },
          "description": "The list of compute operations"
        }
      },
      "description": "The List Compute Operation operation response."
    },
    "OperationValue": {
      "properties": {
        "origin": {
          "type": "string",
          "readOnly": true,
          "description": "The origin of the compute operation."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "The name of the compute operation."
        },
        "display": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OperationValueDisplay",
          "description": "Describes the properties of a Compute Operation Value Display."
        }
      },
      "description": "Describes the properties of a Compute Operation value."
    },
    "OperationValueDisplay": {
      "properties": {
        "operation": {
          "type": "string",
          "readOnly": true,
          "description": "The display name of the compute operation."
        },
        "resource": {
          "type": "string",
          "readOnly": true,
          "description": "The display name of the resource the operation applies to."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "The description of the operation."
        },
        "provider": {
          "type": "string",
          "readOnly": true,
          "description": "The resource provider for the operation."
        }
      },
      "description": "Describes the properties of a Compute Operation Value Display."
    },
    "Resource": {
      "description": "The Resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "PurchasePlan": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The plan ID."
        },
        "product": {
          "type": "string",
          "description": "Specifies the product of the image from the marketplace. This is the same value as Offer under the imageReference element."
        },
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        },
        "publisher": {
          "type": "string",
          "description": "The plan ID."
        }
      },
      "description": "Used for establishing the purchase context of any 3rd Party artifact through MarketPlace."
    },
    "OpenShiftRouterProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the router profile."
        },
        "publicSubdomain" : {
          "type": "string",
          "description": "DNS subdomain for openshift router."
        },
        "fqdn": {
          "readOnly": true,
          "type": "string",
          "description": "Auto-allocated FQDN for the OpenShift router."
        }
      },
      "description": "Represents an OpenShift router"
    },
    "ContainerServiceVMSize": {
      "type": "string",
      "x-ms-enum": {
        "name": "ContainerServiceVMSizeTypes",
        "modelAsString": true
      },
      "description": "Size of agent VMs.",
      "enum": [
        "Standard_A1",
        "Standard_A10",
        "Standard_A11",
        "Standard_A1_v2",
        "Standard_A2",
        "Standard_A2_v2",
        "Standard_A2m_v2",
        "Standard_A3",
        "Standard_A4",
        "Standard_A4_v2",
        "Standard_A4m_v2",
        "Standard_A5",
        "Standard_A6",
        "Standard_A7",
        "Standard_A8",
        "Standard_A8_v2",
        "Standard_A8m_v2",
        "Standard_A9",
        "Standard_B2ms",
        "Standard_B2s",
        "Standard_B4ms",
        "Standard_B8ms",
        "Standard_D1",
        "Standard_D11",
        "Standard_D11_v2",
        "Standard_D11_v2_Promo",
        "Standard_D12",
        "Standard_D12_v2",
        "Standard_D12_v2_Promo",
        "Standard_D13",
        "Standard_D13_v2",
        "Standard_D13_v2_Promo",
        "Standard_D14",
        "Standard_D14_v2",
        "Standard_D14_v2_Promo",
        "Standard_D15_v2",
        "Standard_D16_v3",
        "Standard_D16s_v3",
        "Standard_D1_v2",
        "Standard_D2",
        "Standard_D2_v2",
        "Standard_D2_v2_Promo",
        "Standard_D2_v3",
        "Standard_D2s_v3",
        "Standard_D3",
        "Standard_D32_v3",
        "Standard_D32s_v3",
        "Standard_D3_v2",
        "Standard_D3_v2_Promo",
        "Standard_D4",
        "Standard_D4_v2",
        "Standard_D4_v2_Promo",
        "Standard_D4_v3",
        "Standard_D4s_v3",
        "Standard_D5_v2",
        "Standard_D5_v2_Promo",
        "Standard_D64_v3",
        "Standard_D64s_v3",
        "Standard_D8_v3",
        "Standard_D8s_v3",
        "Standard_DS1",
        "Standard_DS11",
        "Standard_DS11_v2",
        "Standard_DS11_v2_Promo",
        "Standard_DS12",
        "Standard_DS12_v2",
        "Standard_DS12_v2_Promo",
        "Standard_DS13",
        "Standard_DS13-2_v2",
        "Standard_DS13-4_v2",
        "Standard_DS13_v2",
        "Standard_DS13_v2_Promo",
        "Standard_DS14",
        "Standard_DS14-4_v2",
        "Standard_DS14-8_v2",
        "Standard_DS14_v2",
        "Standard_DS14_v2_Promo",
        "Standard_DS15_v2",
        "Standard_DS1_v2",
        "Standard_DS2",
        "Standard_DS2_v2",
        "Standard_DS2_v2_Promo",
        "Standard_DS3",
        "Standard_DS3_v2",
        "Standard_DS3_v2_Promo",
        "Standard_DS4",
        "Standard_DS4_v2",
        "Standard_DS4_v2_Promo",
        "Standard_DS5_v2",
        "Standard_DS5_v2_Promo",
        "Standard_E16_v3",
        "Standard_E16s_v3",
        "Standard_E2_v3",
        "Standard_E2s_v3",
        "Standard_E32-16s_v3",
        "Standard_E32-8s_v3",
        "Standard_E32_v3",
        "Standard_E32s_v3",
        "Standard_E4_v3",
        "Standard_E4s_v3",
        "Standard_E64-16s_v3",
        "Standard_E64-32s_v3",
        "Standard_E64_v3",
        "Standard_E64s_v3",
        "Standard_E8_v3",
        "Standard_E8s_v3",
        "Standard_F1",
        "Standard_F16",
        "Standard_F16s",
        "Standard_F16s_v2",
        "Standard_F1s",
        "Standard_F2",
        "Standard_F2s",
        "Standard_F2s_v2",
        "Standard_F32s_v2",
        "Standard_F4",
        "Standard_F4s",
        "Standard_F4s_v2",
        "Standard_F64s_v2",
        "Standard_F72s_v2",
        "Standard_F8",
        "Standard_F8s",
        "Standard_F8s_v2",
        "Standard_G1",
        "Standard_G2",
        "Standard_G3",
        "Standard_G4",
        "Standard_G5",
        "Standard_GS1",
        "Standard_GS2",
        "Standard_GS3",
        "Standard_GS4",
        "Standard_GS4-4",
        "Standard_GS4-8",
        "Standard_GS5",
        "Standard_GS5-16",
        "Standard_GS5-8",
        "Standard_H16",
        "Standard_H16m",
        "Standard_H16mr",
        "Standard_H16r",
        "Standard_H8",
        "Standard_H8m",
        "Standard_L16s",
        "Standard_L32s",
        "Standard_L4s",
        "Standard_L8s",
        "Standard_M128-32ms",
        "Standard_M128-64ms",
        "Standard_M128ms",
        "Standard_M128s",
        "Standard_M64-16ms",
        "Standard_M64-32ms",
        "Standard_M64ms",
        "Standard_M64s",
        "Standard_NC12",
        "Standard_NC12s_v2",
        "Standard_NC12s_v3",
        "Standard_NC24",
        "Standard_NC24r",
        "Standard_NC24rs_v2",
        "Standard_NC24rs_v3",
        "Standard_NC24s_v2",
        "Standard_NC24s_v3",
        "Standard_NC6",
        "Standard_NC6s_v2",
        "Standard_NC6s_v3",
        "Standard_ND12s",
        "Standard_ND24rs",
        "Standard_ND24s",
        "Standard_ND6s",
        "Standard_NV12",
        "Standard_NV24",
        "Standard_NV6"
      ]
    },
    "ContainerServiceVnetSubnetID": {
      "type": "string",
      "description": "VNet SubnetID specifies the vnet's subnet identifier."
    },
    "OSType": {
      "type": "string",
      "default": "Linux",
      "enum": [
        "Linux",
        "Windows"
      ],
      "x-ms-enum": {
        "name": "OSType",
        "modelAsString": true
      },
      "description": "OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux."
    },
    "OpenShiftAgentPoolProfileRole": {
      "type": "string",
      "enum": [
        "compute",
        "infra",
        "master"
      ],
      "x-ms-enum": {
        "name": "OpenShiftAgentPoolProfileRole",
        "modelAsString": true
      },
      "description": "OpenShiftAgentPoolProfileRole represents the role of the AgentPoolProfile."
    },
    "OpenShiftManagedClusterAgentPoolProfile": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Unique name of the pool profile in the context of the subscription and resource group."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "maximum": 100,
          "minimum": 1,
          "description": "Number of agents (VMs) to host docker containers. Allowed values must be in the range of 1 to 100 (inclusive). The default value is 1. ",
          "default": 1
        },
        "vmSize": {
          "$ref": "#/definitions/ContainerServiceVMSize",
          "description": "Size of agent VMs."
        },
        "vnetSubnetID": {
          "$ref": "#/definitions/ContainerServiceVnetSubnetID",
          "description": "VNet SubnetID specifies the vnet's subnet identifier."
        },
        "osType": {
          "$ref": "#/definitions/OSType",
          "description": "OsType to be used to specify os type. Choose from Linux and Windows. Default to Linux."
        },
        "role" : {
          "description": "Define the role of the AgentPoolProfile.",
          "$ref": "#/definitions/OpenShiftAgentPoolProfileRole"
        }
      },
      "required": [
        "name",
        "count",
        "vmSize"
      ],
      "description": "OpenShiftManagedClusterAgentPoolProfile represents configuration of OpenShift cluster VMs."
    },
    "OpenShiftManagedClusterIdentityProvider": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the provider."
        },
        "provider": {
          "type": "object",
          "description": "Configuration of the provider."
        }
      },
      "description": "OpenShiftManagedClusterIdentityProvider is heavily cut down equivalent to IdentityProvider in the upstream."
    },
    "OpenShiftManagedClusterAuthProfile": {
      "type": "array",
      "items" : {
        "$ref": "#/definitions/OpenShiftManagedClusterIdentityProvider"
      },
      "description": "OpenShiftManagedClusterAuthProfile defines all possible authentication profiles for the OpenShift cluster."
    },
    "ManagedClusterServicePrincipalProfile": {
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The ID for the service principal."
        },
        "secret": {
          "type": "string",
          "description": "The secret password associated with the service principal in plain text."
        }
      },
      "description": "Information about a service principal identity for the cluster to use for manipulating Azure APIs.",
      "required": [
        "clientId"
      ]
    },
    "OpenShiftManagedClusterAzProfile": {
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The tenantId of the subscription where the cluster resides."
        },
        "subscriptionId": {
          "type": "string",
          "description": "The subscriptionId f the subscription where the cluster resides."
        },
        "resourceGroup": {
          "type": "string",
          "description": "The resourceGroup f the subscription where the cluster resides."
        }
      },
      "description": "AzProfile holds the azure context for where the cluster resides."
    },
    "OpenShiftManagedClusterProperties": {
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "type": "string",
          "description": "The current deployment or provisioning state, which only appears in the response."
        },
        "openShiftVersion": {
          "type": "string",
          "description": "Version of OpenShift specified when creating the cluster."
        },
        "publicHostname": {
          "type": "string",
          "description": "Optional user-specified FQDN for OpenShift API server."
        },
        "fqdn": {
          "type": "string",
          "description": "User-specified FQDN for OpenShift API server loadbalancer internal hostname."
        },
        "routerProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenShiftRouterProfile"
          },
          "description": "Configuration for OpenShift router(s)."
        },
        "agentPoolProfiles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenShiftManagedClusterAgentPoolProfile"
          },
          "description": "Configuration of OpenShift cluster VMs."
        },
        "authProfile": {
          "$ref": "#/definitions/OpenShiftManagedClusterAuthProfile",
          "description": "Configures OpenShift authentication."
        },
        "servicePrincipalProfile": {
          "$ref": "#/definitions/ManagedClusterServicePrincipalProfile",
          "description": "Service principal for OpenShift cluster."
        },
        "azProfile": {
          "$ref": "#/definitions/OpenShiftManagedClusterAzProfile",
          "description": "Azure context for where the cluster resides."
        }
      },
      "required": [
        "openShiftVersion"
      ],
      "description": "Properties of the openshift managed cluster."
    },
    "OpenShiftManagedCluster": {
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        },
        {
          "properties": {
            "plan" : {
              "description": "Define the resource plan as required by ARM for billing purposes",
              "$ref": "#/definitions/PurchasePlan"
            },
            "properties": {
              "description": "Properties of a openshift managed cluster.",
              "$ref": "#/definitions/OpenShiftManagedClusterProperties",
              "x-ms-client-flatten": true
            }
          }
        }
      ],
      "description": "OpenShift Managed cluster."
    },
    "OpenShiftManagedClusterServiceAADIdentityProvider": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of the provider."
        },
        "clientId": {
          "type": "string",
          "description": "The clientId password associated with the provider."
        },
        "secret": {
          "type": "string",
          "description": "The secret password associated with the provider."
        }
      },
      "description": "AADIdentityProvider defines Identity provider for MS AAD."
    },
    "TagsObject": {
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    },
    "OpenShiftManagedClusterListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OpenShiftManagedCluster"
          },
          "description": "The list of openshift managed clusters."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to get the next set of openshift managed cluster results.",
          "readOnly": true
        }
      },
      "description": "The response from the List OpenShift Managed Clusters operation."
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "x-ms-parameter-location": "client"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version.",
      "x-ms-parameter-location": "client"
    }
  }
}
