{
  "swagger": "2.0",
  "info": {
    "title": "LoadTest Client",
    "version": "2022-12-01",
    "description": "LoadTest client provides access to LoadTest Resource and it's status operations.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "AadOauth2Auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "AadOauth2Auth": {
      "type": "oauth2",
      "description": "The Azure Active Directory OAuth2 Flow",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": ""
      },
      "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "QuotaResources"
    },
    {
      "name": "LoadTestResources"
    }
  ],
  "paths": {
    "/providers/Microsoft.LoadTestService/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Microsoft.LoadTestService/quotas": {
      "get": {
        "operationId": "Quotas_List",
        "tags": [
          "QuotaResources"
        ],
        "description": "Lists all the available quota per region per subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QuotaResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Quotas_List": {
            "$ref": "./examples/Quotas_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Microsoft.LoadTestService/quotas/{quotaBucketName}": {
      "get": {
        "operationId": "Quotas_Get",
        "tags": [
          "QuotaResources"
        ],
        "description": "Get the available quota for a quota bucket per region per subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "quotaBucketName",
            "in": "path",
            "description": "Quota Bucket name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/QuotaResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Quotas_Get": {
            "$ref": "./examples/Quotas_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/locations/{location}/providers/Microsoft.LoadTestService/quotas/{quotaBucketName}/checkAvailability": {
      "post": {
        "operationId": "Quotas_CheckAvailability",
        "tags": [
          "QuotaResources"
        ],
        "description": "Check Quota Availability on quota bucket per region per subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/LocationParameter"
          },
          {
            "name": "quotaBucketName",
            "in": "path",
            "description": "Quota Bucket name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "QuotaBucketRequest",
            "in": "body",
            "description": "Quota Bucket Request data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/QuotaBucketRequest"
            },
            "x-ms-client-name": "QuotaBucketRequest"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CheckQuotaAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Quotas_CheckAvailability": {
            "$ref": "./examples/Quotas_CheckAvailability.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.LoadTestService/loadTests": {
      "get": {
        "operationId": "LoadTests_ListBySubscription",
        "tags": [
          "LoadTestResources"
        ],
        "description": "Lists loadtests resources in a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests_ListBySubscription": {
            "$ref": "./examples/LoadTests_ListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests": {
      "get": {
        "operationId": "LoadTests_ListByResourceGroup",
        "tags": [
          "LoadTestResources"
        ],
        "description": "Lists loadtest resources in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests_ListByResourceGroup": {
            "$ref": "./examples/LoadTests_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}": {
      "get": {
        "operationId": "LoadTests_Get",
        "tags": [
          "LoadTestResources"
        ],
        "description": "Get a LoadTest resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests_Get": {
            "$ref": "./examples/LoadTests_Get.json"
          }
        }
      },
      "put": {
        "operationId": "LoadTests_CreateOrUpdate",
        "tags": [
          "LoadTestResources"
        ],
        "description": "Create or update LoadTest resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "LoadTestResource",
            "in": "body",
            "description": "LoadTest resource data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            },
            "x-ms-client-name": "LoadTestResource"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'LoadTestResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "201": {
            "description": "Resource 'LoadTestResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests_CreateOrUpdate": {
            "$ref": "./examples/LoadTests_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "LoadTests_Update",
        "tags": [
          "LoadTestResources"
        ],
        "description": "Update a loadtest resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "LoadTestResourcePatchRequestBody",
            "in": "body",
            "description": "LoadTest resource update data",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadTestResourcePatchRequestBody"
            },
            "x-ms-client-name": "LoadTestResourcePatchRequestBody"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LoadTestResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests_Update": {
            "$ref": "./examples/LoadTests_Update.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "LoadTests_Delete",
        "tags": [
          "LoadTestResources"
        ],
        "description": "Delete a LoadTest resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LoadTests_Delete": {
            "$ref": "./examples/LoadTests_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.LoadTestService/loadTests/{loadTestName}/outboundNetworkDependenciesEndpoints/{subscriptionId}/{resourceGroupName}/{loadTestName}": {
      "get": {
        "operationId": "LoadTests_ListOutboundNetworkDependenciesEndpoints",
        "tags": [
          "LoadTestResources"
        ],
        "description": "Lists the endpoints that agents may call as part of load testing.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "The ID of the target subscription.",
            "required": true,
            "type": "string",
            "minLength": 1
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "The name of the resource group. The name is case insensitive.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "loadTestName",
            "in": "path",
            "description": "Load Test name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PagedOutboundEnvironmentEndpoint"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        },
        "x-ms-examples": {
          "ListOutboundNetworkDependencies": {
            "$ref": "./examples/LoadTests_ListOutboundNetworkDependenciesEndpoints.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityProperties": {
      "type": "object",
      "description": "The properties of the managed service identities assigned to this resource.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.Foundations.UserAssignedIdentity"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "System and user assigned managed identity."
          }
        ]
      }
    },
    "Azure.ResourceManager.Foundations.UserAssignedIdentity": {
      "type": "object",
      "description": "A managed identity assigned by the user.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      }
    },
    "Azure.ResourceManager.ManagedServiceIdentity": {
      "type": "object",
      "description": "The managed service identities envelope.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      }
    },
    "CheckQuotaAvailabilityResponse": {
      "type": "object",
      "description": "Check quota availability response object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CheckQuotaAvailabilityResponseProperties",
          "description": "Check quota availability response properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "CheckQuotaAvailabilityResponseProperties": {
      "type": "object",
      "description": "Check quota availability response properties.",
      "properties": {
        "isAvailable": {
          "type": "boolean",
          "description": "True/False indicating whether the quota request be granted based on availability."
        },
        "availabilityStatus": {
          "type": "string",
          "description": "Message indicating additional details to add to quota support request."
        }
      }
    },
    "EncryptionProperties": {
      "type": "object",
      "description": "Key and identity details for Customer Managed Key encryption of load test resource",
      "properties": {
        "identity": {
          "$ref": "#/definitions/EncryptionPropertiesIdentity",
          "description": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault."
        },
        "keyUrl": {
          "type": "string",
          "description": "key encryption key Url, versioned. Ex: https://contosovault.vault.azure.net/keys/contosokek/562a4bb76b524a1493a6afe8e536ee78 or https://contosovault.vault.azure.net/keys/contosokek."
        }
      }
    },
    "EncryptionPropertiesIdentity": {
      "type": "object",
      "description": "All identity configuration for Customer-managed key settings defining which identity should be used to auth to Key Vault.",
      "properties": {
        "type": {
          "$ref": "#/definitions/Type",
          "description": "Managed identity type to use for accessing encryption key Url",
          "x-ms-client-name": "identityType"
        },
        "resourceId": {
          "type": "string",
          "description": "user assigned identity to use for accessing key encryption key Url. Ex: /subscriptions/fa5fc227-a624-475e-b696-cdd604c735bc/resourceGroups/<resource group>/providers/Microsoft.ManagedIdentity/userAssignedIdentities/myId"
        }
      }
    },
    "EndpointDependency": {
      "type": "object",
      "description": "A domain name and connection details used to access a dependency.",
      "properties": {
        "domainName": {
          "type": "string",
          "description": "The domain name of the dependency. Domain names may be fully qualified or may contain a * wildcard.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Human-readable supplemental information about the dependency and when it is applicable.",
          "readOnly": true
        },
        "endpointDetails": {
          "type": "array",
          "description": "The list of connection details for this endpoint.",
          "items": {
            "$ref": "#/definitions/EndpointDetail"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "EndpointDetail": {
      "type": "object",
      "description": "Details about the connection between the Batch service and the endpoint.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port an endpoint is connected to.",
          "readOnly": true
        }
      }
    },
    "LoadTestProperties": {
      "type": "object",
      "description": "LoadTest resource properties.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the resource.",
          "maxLength": 512
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceState",
          "description": "Resource provisioning state.",
          "readOnly": true
        },
        "dataPlaneURI": {
          "type": "string",
          "description": "Resource data plane URI.",
          "maxLength": 2083,
          "readOnly": true
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "CMK Encryption property."
        }
      }
    },
    "LoadTestResource": {
      "type": "object",
      "description": "LoadTest details",
      "properties": {
        "properties": {
          "$ref": "#/definitions/LoadTestProperties",
          "description": "Load Test resource properties",
          "x-ms-client-flatten": true
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "LoadTestResourceListResult": {
      "type": "object",
      "description": "The response of a LoadTestResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The LoadTestResource items on this page",
          "items": {
            "$ref": "#/definitions/LoadTestResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "LoadTestResourcePatchRequestBody": {
      "type": "object",
      "description": "LoadTest resource patch request body.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.ManagedServiceIdentity",
          "description": "The type of identity used for the resource."
        },
        "properties": {
          "$ref": "#/definitions/LoadTestResourcePatchRequestBodyProperties",
          "description": "Load Test resource properties",
          "x-ms-client-flatten": true
        }
      }
    },
    "LoadTestResourcePatchRequestBodyProperties": {
      "type": "object",
      "description": "Load Test resource properties",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the resource.",
          "maxLength": 512
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "CMK Encryption property."
        }
      }
    },
    "ManagedServiceIdentityType": {
      "type": "string",
      "description": "Type of managed service identity (where both SystemAssigned and UserAssigned types are allowed).",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedServiceIdentityType",
        "modelAsString": true
      }
    },
    "OutboundEnvironmentEndpoint": {
      "type": "object",
      "description": "A collection of related endpoints from the same service for which the Batch service requires outbound access.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The type of service that Azure Load Testing connects to.",
          "readOnly": true
        },
        "endpoints": {
          "type": "array",
          "description": "The endpoints for this service to which the Batch service makes outbound calls.",
          "items": {
            "$ref": "#/definitions/EndpointDependency"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      }
    },
    "PagedOutboundEnvironmentEndpoint": {
      "type": "object",
      "description": "Values returned by the List operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OutboundEnvironmentEndpoint items on this page",
          "items": {
            "$ref": "#/definitions/OutboundEnvironmentEndpoint"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "QuotaBucketRequest": {
      "type": "object",
      "description": "Request object of new quota for a quota bucket.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/QuotaBucketRequestProperties",
          "description": "New quota request request properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "QuotaBucketRequestProperties": {
      "type": "object",
      "description": "New quota request request properties.",
      "properties": {
        "currentUsage": {
          "type": "integer",
          "format": "int32",
          "description": "Current quota usage of the quota bucket."
        },
        "currentQuota": {
          "type": "integer",
          "format": "int32",
          "description": "Current quota limit of the quota bucket."
        },
        "newQuota": {
          "type": "integer",
          "format": "int32",
          "description": "New quota limit of the quota bucket."
        },
        "dimensions": {
          "$ref": "#/definitions/QuotaBucketRequestPropertiesDimensions",
          "description": "Dimensions for new quota request."
        }
      }
    },
    "QuotaBucketRequestPropertiesDimensions": {
      "type": "object",
      "description": "Dimensions for new quota request.",
      "properties": {
        "subscriptionId": {
          "type": "string",
          "description": "Subscription Id dimension for new quota request of the quota bucket.",
          "minLength": 1
        },
        "location": {
          "type": "string",
          "description": "Location dimension for new quota request of the quota bucket.",
          "minLength": 1
        }
      }
    },
    "QuotaResource": {
      "type": "object",
      "description": "Quota bucket details object.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/QuotaResourceProperties",
          "description": "Quota bucket resource properties.",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "QuotaResourceListResult": {
      "type": "object",
      "description": "The response of a QuotaResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The QuotaResource items on this page",
          "items": {
            "$ref": "#/definitions/QuotaResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "QuotaResourceProperties": {
      "type": "object",
      "description": "Quota bucket resource properties.",
      "properties": {
        "limit": {
          "type": "integer",
          "format": "int32",
          "description": "Current quota limit of the quota bucket."
        },
        "usage": {
          "type": "integer",
          "format": "int32",
          "description": "Current quota usage of the quota bucket."
        },
        "provisioningState": {
          "$ref": "#/definitions/ResourceState",
          "description": "Resource provisioning state.",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "ResourceState": {
      "type": "string",
      "description": "Resources provisioning states.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ResourceState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "Type": {
      "type": "string",
      "description": "Managed identity type to use for accessing encryption key Url",
      "enum": [
        "SystemAssigned",
        "UserAssigned"
      ],
      "x-ms-enum": {
        "name": "Type",
        "modelAsString": true
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2022-12-01"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2022_12_01",
            "value": "2022-12-01",
            "description": "The 2022-12-01 API version."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    }
  }
}
