{
  "swagger": "2.0",
  "info": {
    "title": "DataLakeAnalyticsJobManagementClient",
    "description": "Creates an Azure Data Lake Analytics job management client.",
    "version": "2015-10-01-preview"
  },
  "host": "accountname.jobserviceuri",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json",
    "text/json",
    "application/octet-stream"
  ],
  "produces": [
    "application/json",
    "text/json",
    "application/octet-stream"
  ],
  "paths": {
    "/Jobs/{jobIdentity}/GetStatistics": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Jobs_GetStatistics",
        "description": "Gets the job statistics object specified by the job ID.",
        "parameters": [
          
          {
            "name": "accountname",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Data Lake Analytics account to get the job from"
          },
          {
            "name": "jobIdentity",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "JobInfo ID."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/jobServiceUriInPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JobStatistics"
            }
          }
        }
      }
    },
    "/Jobs/{jobIdentity}/GetDebugDataPath": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Jobs_GetDebugDataPath",
        "description": "Gets the U-SQL job debug data information specified by the job ID.",
        "parameters": [
          
          {
            "name": "accountname",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Data Lake Analytics account to get the job from"
          },
          {
            "name": "jobIdentity",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "JobInfo ID."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/jobServiceUriInPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JobDataPath"
            }
          }
        }
      }
    },
    "/BuildJob": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Jobs_Build",
        "description": "Builds (compiles) the specified job in the specified Data Lake Analytics account for job correctness and validation.",
        "parameters": [
          
          {
            "name": "accountname",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Data Lake Analytics account to build the job for"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobInformation"
            },
            "description": "The parameters to build a job, which simulates submission."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/jobServiceUriInPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JobInformation"
            }
          }
        }
      }
    },
    "/Jobs/{jobId}": {
      "put": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Jobs_Create",
        "description": "Submits the specified job to the specified Data Lake Analytics account for computation.",
        "parameters": [
          
          {
            "name": "accountname",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Data Lake Analytics account to create the job for"
          },
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The parameters to submit a job."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobInformation"
            },
            "description": "The parameters to submit a job."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/jobServiceUriInPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JobInformation"
            }
          }
        }
      }
    },
    "/Jobs/{jobIdentity}/CancelJob": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Jobs_Cancel",
        "description": "Cancels the running job specified by the job ID.",
        "parameters": [
          
          {
            "name": "accountname",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Data Lake Analytics account to cancel the job for"
          },
          {
            "name": "jobIdentity",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "JobInfo ID to cancel."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/jobServiceUriInPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Jobs/{jobIdentity}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Jobs_Get",
        "description": "Gets the JobInfo object specified by the job ID.",
        "parameters": [
          
          {
            "name": "accountname",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Data Lake Analytics account to get the job from"
          },
          {
            "name": "jobIdentity",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "JobInfo ID."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/jobServiceUriInPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JobInformation"
            }
          }
        }
      }
    },
    "/Jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "operationId": "Jobs_List",
        "description": "Gets the first page of the Data Lake Analytics JobInformation objects within the specified resource group with a link to the next page, if any.",
        "parameters": [
          
          {
            "name": "accountname",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the Data Lake Analytics account to get the job from"
          },
          {
            "name": "$filter",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Gets or sets OData filter. Optional."
          },
          {
            "name": "$top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Gets or sets the number of items to return. Optional."
          },
          {
            "name": "$skip",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": "Gets or sets the number of items to skip over before returning elements. Optional."
          },
          {
            "name": "$expand",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Gets or sets OData expansion. Expand related resources in line with the retrieved resources, e.g. Categories/$expand=Products would expand Product data in line with each Category entry. Optional."
          },
          {
            "name": "$select",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Gets or sets OData Select statement. Limits the properties on each entry to just those requested, e.g. Categories?$select=CategoryName,Description. Optional."
          },
          {
            "name": "$orderby",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Gets or sets the OrderBy clause. One or more comma-separated expressions with an optional “asc” (the default) or “desc” depending on the order you’d like the values sorted, e.g. Categories?$orderby=CategoryName desc. Optional."
          },
          {
            "name": "$count",
            "in": "query",
            "required": false,
            "type": "boolean",
            "description": "Gets or sets a Boolean value of true or false to request a count of the matching resources included with the resources in the response, e.g. Categories?$count=true. Optional."
          },
          {
            "name": "$search",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Gets or sets a free form search. A free-text search expression to match for whether a particular entry should be included in the feed, e.g. Categories?$search=blue OR green. Optional."
          },
          {
            "name": "$format",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Gets or sets the return format. Return the response in particular formatxii without access to request headers for standard content-type negotiation (e.g Orders?$format=json). Optional."
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/jobServiceUriInPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/JobInfoListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-odata": "#/definitions/JobInformation"
      }
    }
  },
  "definitions": {
    "JobStatisticsVertexStage": {
      "properties": {
        "dataRead": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the amount of data read, in bytes."
        },
        "dataReadCrossPod": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the amount of data read across multiple pods, in bytes."
        },
        "dataReadIntraPod": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the amount of data read in one pod, in bytes."
        },
        "dataToRead": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the amount of data remaining to be read, in bytes."
        },
        "dataWritten": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the amount of data written, in bytes."
        },
        "duplicateDiscardCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of duplicates that were discarded."
        },
        "failedCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of failures that occured in this stage."
        },
        "maxVertexDataRead": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the maximum amount of data read in a single vertex, in bytes."
        },
        "minVertexDataRead": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the minimum amount of data read in a single vertex, in bytes."
        },
        "readFailureCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of read failures in this stage."
        },
        "revocationCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of vertices that were revoked during this stage."
        },
        "runningCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of currently running vertices in this stage."
        },
        "scheduledCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of currently scheduled vertices in this stage"
        },
        "stageName": {
          "type": "string",
          "description": "Gets or sets the name of this stage in job execution."
        },
        "succeededCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of vertices that succeeded in this stage."
        },
        "tempDataWritten": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the amount of temporary data written, in bytes."
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the total vertex count for this stage."
        },
        "totalFailedTime": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the amount of time that failed vertices took up in this stage."
        },
        "totalProgress": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the current progress of this stage, as a percentage."
        },
        "totalSucceededTime": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the amount of time all successful vertices took in this stage."
        }
      },
      "description": "The Data Lake Analytics U-SQL job statistics vertex stage information."
    },
    "JobStatistics": {
      "properties": {
        "lastUpdateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the last update time for the statistics."
        },
        "stages": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStatisticsVertexStage"
          },
          "description": "Gets or sets the list of stages for the job."
        }
      },
      "description": "The Data Lake Analytics U-SQL job execution statistics."
    },
    "JobDataPath": {
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Gets or sets the id of the job this data is for."
        },
        "command": {
          "type": "string",
          "description": "Gets or sets the command that this job data relates to."
        },
        "paths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Gets or sets the list of paths to all of the job data."
        }
      },
      "description": "A Data Lake Analytics U-SQL job data path item."
    },
    "JobStateAuditRecord": {
      "properties": {
        "newState": {
          "type": "string",
          "description": "Gets or sets the new state the job is in."
        },
        "timeStamp": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the time stamp that the state change took place."
        },
        "requestedByUser": {
          "type": "string",
          "description": "Gets or sets the user who requests the change."
        },
        "details": {
          "type": "string",
          "description": "Gets or sets  the details of the audit log."
        }
      },
      "description": "The Data Lake Analytics U-SQL job state audit records for tracking the lifecycle of a job."
    },
    "JobResource": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Gets or sets the name of the resource."
        },
        "resourcePath": {
          "type": "string",
          "description": "Gets or sets the path to the resource."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the job resource type.",
          "enum": [
            "VertexResource",
            "StatisticsResource"
          ],
          "x-ms-enum": {
            "name": "Type",
            "modelAsString": "True"
          }
        }
      },
      "description": "The Data Lake Analytics U-SQL job resources."
    },
    "USqlProperties": {
      "x-ms-discriminator-value": "USql",
      "allOf": [
        {
          "$ref": "#/definitions/JobProperties"
        }
      ],
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobResource"
          },
          "description": "Gets or sets the list of resources that are required by the job"
        },
        "statistics": {
          "$ref": "#/definitions/JobStatistics",
          "description": "Gets or sets the job specific statistics."
        },
        "debugData": {
          "$ref": "#/definitions/JobDataPath",
          "description": "Gets or sets the job specific debug data locations."
        },
        "algebraFilePath": {
          "type": "string",
          "description": "Gets or sets the U-SQL algebra file path after the job has completed"
        },
        "totalCompilationTime": {
          "type": "string",
          "description": "Gets or sets the total time this job spent compiling. This value should not be set by the user and will be ignored if it is."
        },
        "totalPauseTime": {
          "type": "string",
          "description": "Gets or sets the total time this job spent paused. This value should not be set by the user and will be ignored if it is."
        },
        "totalQueuedTime": {
          "type": "string",
          "description": "Gets or sets the total time this job spent queued. This value should not be set by the user and will be ignored if it is."
        },
        "totalRunningTime": {
          "type": "string",
          "description": "Gets or sets the total time this job spent executing. This value should not be set by the user and will be ignored if it is."
        },
        "rootProcessNodeId": {
          "type": "string",
          "description": "Gets or sets the ID used to identify the job manager coordinating job execution. This value should not be set by the user and will be ignored if it is."
        },
        "yarnApplicationId": {
          "type": "string",
          "description": "Gets or sets the ID used to identify the yarn application executing the job. This value should not be set by the user and will be ignored if it is."
        },
        "yarnApplicationTimeStamp": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the timestamp (in ticks) for the yarn application executing the job. This value should not be set by the user and will be ignored if it is."
        },
        "compileMode": {
          "type": "string",
          "description": "Gets or sets the compile mode for the job.",
          "enum": [
            "Semantic",
            "Full",
            "SingleBox"
          ],
          "x-ms-enum": {
            "name": "CompileMode",
            "modelAsString": "True"
          }
        }
      }
    },
    "HiveJobStatementInfo": {
      "properties": {
        "logLocation": {
          "type": "string",
          "description": "Gets or sets the log location for this statement."
        },
        "resultPreviewLocation": {
          "type": "string",
          "description": "Gets or sets the result preview location for this statement."
        },
        "resultLocation": {
          "type": "string",
          "description": "Gets or sets the result location for this statement."
        },
        "errorMessage": {
          "type": "string",
          "description": "Gets or sets the error message for this statement."
        }
      }
    },
    "HiveProperties": {
      "x-ms-discriminator-value": "Hive",
      "allOf": [
        {
          "$ref": "#/definitions/JobProperties"
        }
      ],
      "properties": {
        "statementInfo": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/HiveJobStatementInfo"
          },
          "description": "Gets or sets the statement information for each statement in the script"
        },
        "logsLocation": {
          "type": "string",
          "description": "Gets or sets the Hive logs location"
        },
        "warehouseLocation": {
          "type": "string",
          "description": "Gets or sets the runtime version of the U-SQL engine to use"
        },
        "statementCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of statements that will be run based on the script"
        },
        "executedStatementCount": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the number of statements that have been run based on the script"
        }
      }
    },
    "JobProperties": {
      "discriminator": "type",
      "required": [
        "script",
        "type"
      ],
      "properties": {
        "runtimeVersion": {
          "type": "string",
          "description": "Gets or sets the runtime version of the U-SQL engine to use"
        },
        "script": {
          "type": "string",
          "description": "Gets or sets the U-SQL script to run"
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the job type of the current job (i.e. Hive or U-SQL).",
        }
      },
      "description": "The common Data Lake Analytics job properties."
    },
    "JobInformation": {
      "properties": {
        "jobId": {
          "type": "string",
          "description": "Gets or sets the job's unique identifier."
        },
        "name": {
          "type": "string",
          "description": "Gets or sets the friendly name of the job."
        },
        "type": {
          "type": "string",
          "description": "Gets or sets the job type of the current job (i.e. Hive or U-SQL).",
          "enum": [
            "USql",
            "Hive"
          ],
          "x-ms-enum": {
            "name": "JobType",
            "modelAsString": "False"
          }
        },
        "submitter": {
          "type": "string",
          "description": "Gets or sets the user or account that submitted the job."
        },
        "errorMessage": {
          "type": "string",
          "description": "Gets or sets the error message details for the job, if it failed."
        },
        "degreeOfParallelism": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the degree of parallelism used for this job. This must have a minimum value of 2"
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "Gets or sets the priority value for the current job which must be greater than 1."
        },
        "submitTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the time the job was submitted to the service."
        },
        "startTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the start time of the job."
        },
        "endTime": {
          "type": "string",
          "format": "date-time",
          "description": "Gets or sets the completion time of the job"
        },
        "state": {
          "type": "string",
          "description": "Gets or sets a more detailed state of the job than the result. Especially used for intermediate states and errors",
          "enum": [
            "Accepted",
            "Compiling",
            "Ended",
            "New",
            "Queued",
            "Running",
            "Scheduling",
            "Starting",
            "Paused",
            "WaitingForCapacity"
          ],
          "x-ms-enum": {
            "name": "JobState",
            "modelAsString": "False"
          }
        },
        "result": {
          "type": "string",
          "description": "Gets or sets the result of job execution or the current result of the running job.",
          "enum": [
            "None",
            "Succeeded",
            "Cancelled",
            "Failed"
          ],
          "x-ms-enum": {
            "name": "JobResult",
            "modelAsString": "False"
          }
        },
        "stateAuditRecords": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStateAuditRecord"
          },
          "description": "Gets or sets the job state audit records, indicating when various operations have been performed on this job."
        },
        "properties": {
          "$ref": "#/definitions/JobProperties",
          "description": "Gets or sets the job specific properties."
        }
      },
      "required": [
        "jobId",
        "name",
        "type",
        "properties"
      ],
      "description": "The common Data Lake Analytics job information properties."
    },
    "JobInfoListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobInformation"
          },
          "description": "Gets or sets the list of jobInfo items."
        },
        "nextLink": {
          "type": "string",
          "description": "Gets or sets the link (url) to the next page of results."
        },
        "count": {
          "type": "integer",
          "format": "int64",
          "description": "Gets or sets the total count of results that are available, but might not be returned in the current page."
        }
      },
      "description": "List of jobInfo items."
    },
    "Resource": {
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource Id"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name"
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type"
        },
        "location": {
          "type": "string",
          "description": "Resource location"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    },
    "SubResource": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource Id"
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "header",
      "required": true,
      "type": "string",
      "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client Api Version."
    },
    "jobServiceUriInPathParameter": {
      "name": "jobserviceuri",
      "in": "path",
      "required": true,
      "type": "string",
      "default": "\"azuredatalakeanalytics.net\"",
      "description": "Gets the URI used as the base for all cloud service requests."
    }
  }
}