{
  "swagger": "2.0",
  "info": {
    "version": "2023-07-01-preview",
    "title": "Azure Spring Apps API Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.AppPlatform/springEnvironments": {
      "get": {
        "tags": [
          "SanagedEnvironments"
        ],
        "summary": "Get all the Spring Environments for a subscription.",
        "description": "Get all the Spring Environments for a subscription.",
        "operationId": "SpringEnvironments_ListBySubscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpringEnvironmentsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.App/springEnvironments": {
      "get": {
        "tags": [
          "SpringEnvironments"
        ],
        "summary": "Get all the Spring Environments in a resource group.",
        "description": "Get all the Spring Environments in a resource group.",
        "operationId": "SpringEnvironments_ListByResourceGroup",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SpringEnvironmentsCollection"
            }
          },
          "default": {
            "description": "Common error response.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AppPlatform/springEnvironments/{springEnvironmentName}": {
      "get": {
        "tags": [
          "SpringEnvironments"
        ],
        "description": "Get a Spring Environment and its properties.",
        "operationId": "SpringEnvironment_Get",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SpringEnvironmentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the corresponding Spring Environment.",
            "schema": {
              "$ref": "#/definitions/SpringEnvironment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/CloudError"
            }
          }
        }
      },
      "put": {
        "tags": [
          "SpringEnvironments"
        ],
        "description": "Create a new Spring Environment or update an exiting Spring Environment.",
        "operationId": "SpringEnvironments_CreateOrUpdate",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SpringEnvironmentNameParameter"
          },
          {
            "$ref": "#/parameters/SpringEnvironmentEnvelopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Spring Environment.",
            "schema": {
              "$ref": "#/definitions/SpringEnvironment"
            }
          },
          "201": {
            "description": "Created. The response describes the new Spring Environment and contains an Azure-AsyncOperation header to query the operation result.",
            "schema": {
              "$ref": "#/definitions/SpringEnvironment"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Spring Environment is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/SpringEnvironment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "SpringEnvironments"
        ],
        "description": "Operation to delete a Spring Environment.",
        "operationId": "SpringEnvironments_Delete",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SpringEnvironmentNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response indicates the resource is deleted successfully."
          },
          "202": {
            "description": "Accepted. The response indicates the delete operation is performed in the background."
          },
          "204": {
            "description": "Success. The response indicates the resource is already deleted."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "SpringEnvironments"
        ],
        "description": "Operation to update an exiting Spring Environment.",
        "operationId": "SpringEnvironments_Update",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SpringEnvironmentNameParameter"
          },
          {
            "$ref": "#/parameters/SpringEnvironmentEnvelopeParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response describes the updated Spring Environment.",
            "schema": {
              "$ref": "#/definitions/SpringEnvironment"
            }
          },
          "202": {
            "description": "Accepted. The response indicates the exiting Spring Environment is now updating and contains a Location\r\nheader to query the operation result.",
            "schema": {
              "$ref": "#/definitions/SpringEnvironment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "./CommonDefinitions.json#/definitions/CloudError"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "SpringEnvironmentsCollection": {
      "description": "Collection of Spring Environments",
      "required": [
        "value"
      ],
      "type": "object",
      "properties": {
        "value": {
          "description": "Collection of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SpringEnvironment"
          }
        },
        "nextLink": {
          "description": "Link to next page of resources.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SpringEnvironment": {
      "description": "An environment for hosting Azure Spring Apps",
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../app/esource-manager/Microsoft.App/preview/2022-11-01-preview/ManagedEnvironments.json#/definitions/ManagedEnvironment"
        }
      ],
      "properties": {
        "properties": {
          "type": "object",
          "properties": {
            "serviceId": {
              "description": "A GUID which uniquely identifies an Azure Spring Apps Environment",
              "type": "string",
              "readOnly": true
            },
            "infraResourceGroup": {
              "description": "The name of the resource group that contains the infrastructure resources",
              "type": "string"
            }
          }
        }
      }      
    }
  },
  "parameters": {
    "SpringEnvironmentNameParameter": {
      "name": "springEnvironmentName",
      "in": "path",
      "description": "Name of the Spring Environment.",
      "required": true,
      "type": "string"
    },
    "SpringEnvironmentEnvelopeParameter": {
      "name": "environmentEnvelope",
      "in": "body",
      "description": "Configuration details of the Spring Environment.",
      "required": true,
      "schema": {
        "$ref": "#/definitions/SpringEnvironment"
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      },
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow"
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}