{
  "swagger": "2.0",
  "info": {
    "version": "2021-08-01",
    "title": "Marketplace RP Service",
    "description": "REST APIs for Private Marketplace"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.Marketplace/privateStores": {
      "parameters": [
        {
          "$ref": "#/parameters/ApiVersionParameter"
        },
        {
          "$ref": "#/parameters/UseCacheParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_List",
        "description": "Gets the list of available private stores.",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateStoreList"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "GetPrivateStores": {
            "$ref": "./examples/GetPrivateStores.json"
          }
        }
      }
    },
    "/providers/Microsoft.Marketplace/privateStores/{privateStoreId}": {
      "parameters": [
        {
          "$ref": "#/parameters/PrivateStoreIdParameter"
        },
        {
          "$ref": "#/parameters/ApiVersionParameter"
        }
      ],
      "get": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_Get",
        "description": "Get information about the private store",
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/PrivateStore"
            }
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetPrivateStore": {
            "$ref": "./examples/GetPrivateStore.json"
          }
        }
      },
      "put": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_CreateOrUpdate",
        "description": "Changes private store properties",
        "parameters": [
          {
            "in": "body",
            "name": "payload",
            "schema": {
              "$ref": "#/definitions/PrivateStore"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Change successful"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrivateStores_update": {
            "$ref": "./examples/PrivateStores_update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "PrivateStores"
        ],
        "operationId": "PrivateStore_Delete",
        "description": "Deletes the private store. All that is not saved will be lost.",
        "responses": {
          "200": {
            "description": "Private store was deleted successfully."
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Microsoft.Marketplace error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeletePrivateStores": {
            "$ref": "./examples/DeletePrivateStore.json"
          }
        }
      }
    }
  },
  "parameters": {
    "PrivateStoreIdParameter": {
      "name": "privateStoreId",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The store ID - must use the tenant ID"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request."
    },
    "UseCacheParameter": {
      "name": "use-cache",
      "in": "query",
      "required": false,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "Determines if to use cache or DB for serving this request"
    }
  },
  "definitions": {
    "PrivateStoreList": {
      "description": "Describes the json payload for the list of available private stores (between zero and one, inclusive)",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PrivateStore"
          }
        },
        "nextLink": {
          "description": "URL to get the next set of PrivateStore list results if there are any.",
          "type": "string"
        }
      }
    },
    "PrivateStore": {
      "description": "The PrivateStore data structure.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/PrivateStoreProperties",
          "description": "The PrivateStore data structure.",
          "x-ms-client-flatten": true
        }
      }
    },
    "PrivateStoreProperties": {
      "description": "Describes the json payload on whether or not the private store is enabled for a given tenant",
      "type": "object",
      "properties": {
        "availability": {
          "description": "Indicates private store availability",
          "type": "string",
          "enum": [
            "enabled",
            "disabled"
          ],
          "x-ms-enum": {
            "name": "Availability",
            "modelAsString": true
          }
        },
        "privateStoreId": {
          "description": "Private Store id",
          "type": "string",
          "readOnly": true
        },
        "eTag": {
          "description": "Identifier for purposes of race condition",
          "type": "string"
        },
        "privateStoreName": {
          "description": "Private Store Name",
          "type": "string"
        },
        "tenantId": {
          "description": "Tenant id",
          "type": "string"
        },
        "isGov": {
          "description": "Is government",
          "type": "boolean"
        },
        "collectionIds": {
          "description": "Gets list of associated collection ids",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "branding": {
          "description": "Gets or sets list of branding characteristics",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "notificationsSettings": {
          "description": "Gets or sets notifications settings",
          "$ref": "#/definitions/NotificationsSettingsProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "NotificationsSettingsProperties": {
      "description": "Describes the json payload for notifications settings",
      "type": "object",
      "properties": {
        "recipients": {
          "description": "Gets or sets list of notified recipients for new requests",
          "type": "array",
          "items": {
            "$ref": "#/definitions/Recipient"
          }
        },
        "sendToAllMarketplaceAdmins": {
          "description": "Gets or sets whether to send email to all marketplace admins for new requests",
          "type": "boolean"
        }
      }
    },
    "Recipient": {
      "description": "Describes the json payload for a notified recipient for new requests",
      "type": "object",
      "properties": {
        "principalId": {
          "description": "Principal ID",
          "type": "string"
        },
        "emailAddress": {
          "description": "Email Address",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Display Name",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates Microsoft.Marketplace service is not able to process the incoming request. The reason is provided in the error message.",
      "type": "object",
      "properties": {
        "error": {
          "description": "The details of the error.",
          "properties": {
            "code": {
              "description": "Error code.",
              "type": "string",
              "readOnly": true
            },
            "message": {
              "description": "Error message indicating why the operation failed.",
              "type": "string",
              "readOnly": true
            }
          }
        }
      }
    },
    "Resource": {
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "description": "The resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "The type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/SystemData",
          "readOnly": true,
          "description": "Metadata pertaining to creation and last modification of the resource"
        }
      },
      "x-ms-azure-resource": true
    },
    "SystemData": {
      "description": "Read only system data",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that created the resource"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)"
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "$ref": "#/definitions/IdentityType",
          "description": "The type of identity that last modified the resource"
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource last modification (UTC)"
        }
      }
    },
    "IdentityType": {
      "description": "The type of identity that creates/modifies resources",
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "IdentityType",
        "modelAsString": true
      }
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
