{
  "swagger": "2.0",
  "info": {
    "title": "Dependency Map RP",
    "version": "2024-06-01-preview",
    "description": "Dependency Map Resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Maps"
    },
    {
      "name": "DiscoverySources"
    }
  ],
  "paths": {
    "/providers/Microsoft.DependencyMap/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DependencyMap/maps": {
      "get": {
        "operationId": "Maps_ListBySubscription",
        "tags": [
          "Maps"
        ],
        "description": "List MapsResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MapsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Maps_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Maps_ListBySubscription_MaximumSet_Gen.json"
          },
          "Maps_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Maps_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DependencyMap/maps/{mapName}/discoverySources": {
      "get": {
        "operationId": "DiscoverySources_ListBySubscription",
        "tags": [
          "DiscoverySources"
        ],
        "description": "List DiscoverySourceResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoverySourceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DiscoverySources_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/DiscoverySources_ListBySubscription_MaximumSet_Gen.json"
          },
          "DiscoverySources_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/DiscoverySources_ListBySubscription_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DependencyMap/maps": {
      "get": {
        "operationId": "Maps_ListByResourceGroup",
        "tags": [
          "Maps"
        ],
        "description": "List MapsResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MapsResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Maps_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Maps_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Maps_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Maps_ListByResourceGroup_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DependencyMap/maps/{mapName}": {
      "get": {
        "operationId": "Maps_Get",
        "tags": [
          "Maps"
        ],
        "description": "Get a MapsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MapsResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Maps_Get_MaximumSet_Gen": {
            "$ref": "./examples/Maps_Get_MaximumSet_Gen.json"
          },
          "Maps_Get_MinimumSet_Gen": {
            "$ref": "./examples/Maps_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Maps_CreateOrUpdate",
        "tags": [
          "Maps"
        ],
        "description": "Create a MapsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MapsResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'MapsResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/MapsResource"
            }
          },
          "201": {
            "description": "Resource 'MapsResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/MapsResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Maps_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Maps_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Maps_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Maps_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Maps_Update",
        "tags": [
          "Maps"
        ],
        "description": "Update a MapsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MapsResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MapsResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Maps_Update_MaximumSet_Gen": {
            "$ref": "./examples/Maps_Update_MaximumSet_Gen.json"
          },
          "Maps_Update_MinimumSet_Gen": {
            "$ref": "./examples/Maps_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Maps_Delete",
        "tags": [
          "Maps"
        ],
        "description": "Delete a MapsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Maps_Delete_MaximumSet_Gen": {
            "$ref": "./examples/Maps_Delete_MaximumSet_Gen.json"
          },
          "Maps_Delete_MinimumSet_Gen": {
            "$ref": "./examples/Maps_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DependencyMap/maps/{mapName}/discoverySources": {
      "get": {
        "operationId": "DiscoverySources_ListByMapsResource",
        "tags": [
          "DiscoverySources"
        ],
        "description": "List DiscoverySourceResource resources by MapsResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoverySourceResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "DiscoverySources_ListByMapsResource_MaximumSet_Gen": {
            "$ref": "./examples/DiscoverySources_ListByMapsResource_MaximumSet_Gen.json"
          },
          "DiscoverySources_ListByMapsResource_MinimumSet_Gen": {
            "$ref": "./examples/DiscoverySources_ListByMapsResource_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DependencyMap/maps/{mapName}/discoverySources/{sourceName}": {
      "get": {
        "operationId": "DiscoverySources_Get",
        "tags": [
          "DiscoverySources"
        ],
        "description": "Get a DiscoverySourceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceName",
            "in": "path",
            "description": "discovery source resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoverySourceResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoverySources_Get_MaximumSet_Gen": {
            "$ref": "./examples/DiscoverySources_Get_MaximumSet_Gen.json"
          },
          "DiscoverySources_Get_MinimumSet_Gen": {
            "$ref": "./examples/DiscoverySources_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DiscoverySources_CreateOrUpdate",
        "tags": [
          "DiscoverySources"
        ],
        "description": "Create a DiscoverySourceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceName",
            "in": "path",
            "description": "discovery source resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoverySourceResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DiscoverySourceResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoverySourceResource"
            }
          },
          "201": {
            "description": "Resource 'DiscoverySourceResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoverySourceResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DiscoverySources_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/DiscoverySources_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "DiscoverySources_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/DiscoverySources_CreateOrUpdate_MinimumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "DiscoverySources_Update",
        "tags": [
          "DiscoverySources"
        ],
        "description": "Update a DiscoverySourceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceName",
            "in": "path",
            "description": "discovery source resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoverySourceResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoverySourceResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DiscoverySources_Update_MaximumSet_Gen": {
            "$ref": "./examples/DiscoverySources_Update_MaximumSet_Gen.json"
          },
          "DiscoverySources_Update_MinimumSet_Gen": {
            "$ref": "./examples/DiscoverySources_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DiscoverySources_Delete",
        "tags": [
          "DiscoverySources"
        ],
        "description": "Delete a DiscoverySourceResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceName",
            "in": "path",
            "description": "discovery source resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "DiscoverySources_Delete_MaximumSet_Gen": {
            "$ref": "./examples/DiscoverySources_Delete_MaximumSet_Gen.json"
          },
          "DiscoverySources_Delete_MinimumSet_Gen": {
            "$ref": "./examples/DiscoverySources_Delete_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DependencyMap/maps/{mapName}/exportDependencies": {
      "post": {
        "operationId": "Maps_ExportDependencies",
        "tags": [
          "Maps"
        ],
        "description": "Export dependencies",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportDependenciesRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Maps_ExportDependencies_MaximumSet_Gen": {
            "$ref": "./examples/Maps_ExportDependencies_MaximumSet_Gen.json"
          },
          "Maps_ExportDependencies_MinimumSet_Gen": {
            "$ref": "./examples/Maps_ExportDependencies_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DependencyMap/maps/{mapName}/getConnectionsForProcessOnFocusedMachine": {
      "post": {
        "operationId": "Maps_GetConnectionsForProcessOnFocusedMachine",
        "tags": [
          "Maps"
        ],
        "description": "Get network connections of a process",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetConnectionsForProcessOnFocusedMachineRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Maps_GetConnectionsForProcessOnFocusedMachine_MaximumSet_Gen": {
            "$ref": "./examples/Maps_GetConnectionsForProcessOnFocusedMachine_MaximumSet_Gen.json"
          },
          "Maps_GetConnectionsForProcessOnFocusedMachine_MinimumSet_Gen": {
            "$ref": "./examples/Maps_GetConnectionsForProcessOnFocusedMachine_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DependencyMap/maps/{mapName}/getConnectionsWithConnectedMachineForFocusedMachine": {
      "post": {
        "operationId": "Maps_GetConnectionsWithConnectedMachineForFocusedMachine",
        "tags": [
          "Maps"
        ],
        "description": "Get network connections between machines",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetConnectionsWithConnectedMachineForFocusedMachineRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Maps_GetConnectionsWithConnectedMachineForFocusedMachine_MaximumSet_Gen": {
            "$ref": "./examples/Maps_GetConnectionsWithConnectedMachineForFocusedMachine_MaximumSet_Gen.json"
          },
          "Maps_GetConnectionsWithConnectedMachineForFocusedMachine_MinimumSet_Gen": {
            "$ref": "./examples/Maps_GetConnectionsWithConnectedMachineForFocusedMachine_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DependencyMap/maps/{mapName}/getDependencyViewForFocusedMachine": {
      "post": {
        "operationId": "Maps_GetDependencyViewForFocusedMachine",
        "tags": [
          "Maps"
        ],
        "description": "Get dependency map of single machine",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "mapName",
            "in": "path",
            "description": "Maps resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetDependencyViewForFocusedMachineRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Maps_GetDependencyViewForFocusedMachine_MaximumSet_Gen": {
            "$ref": "./examples/Maps_GetDependencyViewForFocusedMachine_MaximumSet_Gen.json"
          },
          "Maps_GetDependencyViewForFocusedMachine_MinimumSet_Gen": {
            "$ref": "./examples/Maps_GetDependencyViewForFocusedMachine_MinimumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AgentSettings": {
      "type": "object",
      "description": "Agent settings of the discovery source",
      "properties": {
        "depMapDataUploadFrequencyInMinutes": {
          "type": "integer",
          "format": "int32",
          "description": "Dependency mapping data upload frequency",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "depMapDataUploadFrequencyInMinutes"
      ]
    },
    "AgentStatus": {
      "type": "object",
      "description": "Agent status of the discovery source",
      "properties": {
        "lastUploadTime": {
          "type": "string",
          "format": "date-time",
          "description": "Last upload time of dependency map data",
          "readOnly": true
        },
        "uploadError": {
          "type": "string",
          "description": "Last depMap data upload error"
        }
      },
      "required": [
        "lastUploadTime",
        "uploadError"
      ]
    },
    "ArcDetails": {
      "type": "object",
      "description": "Arc details of the discovery source",
      "properties": {
        "customLocation": {
          "type": "string",
          "description": "Custom location corresponding to the discovery source",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "required": [
        "customLocation"
      ]
    },
    "ArcDiscoverySourceResourceProperties": {
      "type": "object",
      "description": "Arc discovery source resource properties",
      "properties": {
        "arcDetails": {
          "$ref": "#/definitions/ArcDetails",
          "description": "Arc details of the discoverySource resource",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "fabricDetails": {
          "$ref": "#/definitions/FabricDetails",
          "description": "Fabric details of the discoverySource resource",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "agentSettings": {
          "$ref": "#/definitions/AgentSettings",
          "description": "Agent settings for the discoverySource resource",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "agentStatus": {
          "$ref": "#/definitions/AgentStatus",
          "description": "Agent status for the discoverySource resource",
          "readOnly": true
        }
      },
      "required": [
        "arcDetails",
        "fabricDetails",
        "agentSettings"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DiscoverySourceResourceProperties"
        }
      ],
      "x-ms-discriminator-value": "Arc"
    },
    "DateTimeFilter": {
      "type": "object",
      "description": "UTC DateTime filter for dependency map visualization apis",
      "properties": {
        "startDateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "Start date time for dependency map visualization query"
        },
        "endDateTimeUtc": {
          "type": "string",
          "format": "date-time",
          "description": "End date time for dependency map visualization query"
        }
      }
    },
    "DependencyMapVisualizationFilter": {
      "type": "object",
      "description": "Filters for dependency map visualization apis",
      "properties": {
        "dateTime": {
          "$ref": "#/definitions/DateTimeFilter",
          "description": "DateTime filter"
        },
        "processNameFilter": {
          "$ref": "#/definitions/ProcessNameFilter",
          "description": "Process name filter"
        }
      }
    },
    "DiscoverySourceResource": {
      "type": "object",
      "description": "A Discovery Source resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoverySourceResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DiscoverySourceResourceListResult": {
      "type": "object",
      "description": "The response of a DiscoverySourceResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DiscoverySourceResource items on this page",
          "items": {
            "$ref": "#/definitions/DiscoverySourceResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DiscoverySourceResourceProperties": {
      "type": "object",
      "description": "The properties of Discovery Source resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of Discovery Source resource.",
          "readOnly": true
        },
        "sourceType": {
          "$ref": "#/definitions/SourceType",
          "description": "Source type of Discovery Source resource.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sourceId": {
          "type": "string",
          "description": "Source ArmId of Discovery Source resource",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "discriminator": "sourceType",
      "required": [
        "sourceType",
        "sourceId"
      ]
    },
    "DiscoverySourceResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the DiscoverySourceResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ExportDependenciesRequest": {
      "type": "object",
      "description": "ExportDependencies request model",
      "properties": {
        "focusedMachineId": {
          "type": "string",
          "description": "Machine arm id"
        },
        "filters": {
          "$ref": "#/definitions/DependencyMapVisualizationFilter",
          "description": "Filters for ExportDependencies"
        }
      },
      "required": [
        "focusedMachineId"
      ]
    },
    "FabricDetails": {
      "type": "object",
      "description": "Fabric details of the discovery source",
      "properties": {
        "fabricType": {
          "$ref": "#/definitions/FabricType",
          "description": "Fabric Type",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "fqdn": {
          "type": "string",
          "description": "FQDN of the source",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Port number of the fabric",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "credential": {
          "type": "string",
          "description": "ArmId of the fabric credential",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "guestCredentials": {
          "type": "array",
          "description": "Guest credentials",
          "items": {
            "type": "string"
          },
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      },
      "required": [
        "fabricType",
        "fqdn",
        "port",
        "credential",
        "guestCredentials"
      ]
    },
    "FabricType": {
      "type": "string",
      "description": "Fabric type enum",
      "enum": [
        "VMware"
      ],
      "x-ms-enum": {
        "name": "FabricType",
        "modelAsString": true,
        "values": [
          {
            "name": "VMware",
            "value": "VMware",
            "description": "VMware fabric type"
          }
        ]
      }
    },
    "GetConnectionsForProcessOnFocusedMachineRequest": {
      "type": "object",
      "description": "GetConnectionsForProcessOnFocusedMachine request model",
      "properties": {
        "focusedMachineId": {
          "type": "string",
          "description": "Machine arm id"
        },
        "processIdOnFocusedMachine": {
          "type": "string",
          "description": "Process id"
        },
        "filters": {
          "$ref": "#/definitions/DependencyMapVisualizationFilter",
          "description": "Filters for GetProcessNetworkConnections"
        }
      },
      "required": [
        "focusedMachineId",
        "processIdOnFocusedMachine"
      ]
    },
    "GetConnectionsWithConnectedMachineForFocusedMachineRequest": {
      "type": "object",
      "description": "GetConnectionsWithConnectedMachineForFocusedMachine request model",
      "properties": {
        "focusedMachineId": {
          "type": "string",
          "description": "Source machine arm id"
        },
        "connectedMachineId": {
          "type": "string",
          "description": "Destination machine arm id"
        },
        "filters": {
          "$ref": "#/definitions/DependencyMapVisualizationFilter",
          "description": "Filters for GetNetworkConnectionsBetweenMachines"
        }
      },
      "required": [
        "focusedMachineId",
        "connectedMachineId"
      ]
    },
    "GetDependencyViewForFocusedMachineRequest": {
      "type": "object",
      "description": "GetDependencyViewForFocusedMachine request model",
      "properties": {
        "focusedMachineId": {
          "type": "string",
          "description": "Machine arm id"
        },
        "filters": {
          "$ref": "#/definitions/DependencyMapVisualizationFilter",
          "description": "Filters for GetSingleMachineDependencyView"
        }
      },
      "required": [
        "focusedMachineId"
      ]
    },
    "MapsResource": {
      "type": "object",
      "description": "A Maps resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MapsResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "MapsResourceListResult": {
      "type": "object",
      "description": "The response of a MapsResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The MapsResource items on this page",
          "items": {
            "$ref": "#/definitions/MapsResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MapsResourceProperties": {
      "type": "object",
      "description": "The properties of Maps resource",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of Maps resource.",
          "readOnly": true
        }
      }
    },
    "MapsResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the MapsResource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "OffAzureDiscoverySourceResourceProperties": {
      "type": "object",
      "description": "OffAzure discovery source resource properties",
      "properties": {},
      "allOf": [
        {
          "$ref": "#/definitions/DiscoverySourceResourceProperties"
        }
      ],
      "x-ms-discriminator-value": "OffAzure"
    },
    "ProcessNameFilter": {
      "type": "object",
      "description": "Process name filter for dependency map visualization apis",
      "properties": {
        "operator": {
          "$ref": "#/definitions/ProcessNameFilterOperator",
          "description": "Operator for process name filter"
        },
        "processNames": {
          "type": "array",
          "description": "List of process names on which the operator should be applied",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "operator",
        "processNames"
      ]
    },
    "ProcessNameFilterOperator": {
      "type": "string",
      "description": "Operator enum for process name filter",
      "enum": [
        "contains",
        "notContains"
      ],
      "x-ms-enum": {
        "name": "ProcessNameFilterOperator",
        "modelAsString": true,
        "values": [
          {
            "name": "contains",
            "value": "contains",
            "description": "Operator to include items in the result"
          },
          {
            "name": "notContains",
            "value": "notContains",
            "description": "Operator to exclude items in the result"
          }
        ]
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the resource",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "provisioning"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "updating"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "deleting"
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "accepted"
          }
        ]
      }
    },
    "SourceType": {
      "type": "string",
      "description": "Source type enum",
      "enum": [
        "Arc",
        "OffAzure"
      ],
      "x-ms-enum": {
        "name": "SourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "Arc",
            "value": "Arc",
            "description": "Arc source type"
          },
          {
            "name": "OffAzure",
            "value": "OffAzure",
            "description": "OffAzure source type"
          }
        ]
      }
    }
  },
  "parameters": {}
}