{
  "swagger": "2.0",
  "info": {
    "version": "2021-05-01",
    "title": "DataBoxManagementClient"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/providers/Microsoft.DataBox/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "This method gets all the operations.",
        "operationId": "Operations_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The supported operations list.",
            "schema": {
              "$ref": "#/definitions/OperationList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "OperationsGet": {
            "$ref": "./examples/OperationsGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Lists all the jobs available under the subscription.",
        "operationId": "Jobs_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs available under the subscription.",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "JobsList": {
            "$ref": "./examples/JobsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/mitigate": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Request to mitigate for a given job",
        "operationId": "Mitigate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "mitigateJobRequest",
            "in": "body",
            "description": "Mitigation Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MitigateJobRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "Mitigate": {
            "$ref": "./examples/JobMitigate.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/availableSkus": {
      "post": {
        "tags": [
          "Service"
        ],
        "description": "This method provides the list of available skus for the given subscription, resource group and location.",
        "operationId": "Service_ListAvailableSkusByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "availableSkuRequest",
            "in": "body",
            "description": "Filters for showing the available skus.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AvailableSkuRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of available skus under Resource group.",
            "schema": {
              "$ref": "#/definitions/AvailableSkusResult"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "AvailableSkusPost": {
            "$ref": "./examples/AvailableSkusPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateAddress": {
      "post": {
        "tags": [
          "Service"
        ],
        "description": "[DEPRECATED NOTICE: This operation will soon be removed]. This method validates the customer shipping address and provide alternate addresses if any.",
        "operationId": "Service_ValidateAddress",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "validateAddress",
            "in": "body",
            "description": "Shipping address of the customer.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidateAddress"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The valid and alternate addresses.",
            "schema": {
              "$ref": "#/definitions/AddressValidationOutput"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "deprecated": true,
        "x-ms-examples": {
          "ValidateAddressPost": {
            "$ref": "./examples/ValidateAddressPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/validateInputs": {
      "post": {
        "tags": [
          "Service"
        ],
        "description": "This method does all necessary pre-job creation validation under resource group.",
        "operationId": "Service_ValidateInputsByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "validationRequest",
            "in": "body",
            "description": "Inputs of the customer.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The validation status and responses of each validating parameter.",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "ValidateInputsByResourceGroup": {
            "$ref": "./examples/ValidateInputsByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/validateInputs": {
      "post": {
        "tags": [
          "Service"
        ],
        "description": "This method does all necessary pre-job creation validation under subscription.",
        "operationId": "Service_ValidateInputs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "validationRequest",
            "in": "body",
            "description": "Inputs of the customer.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ValidationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The validation status and responses of each validating parameter.",
            "schema": {
              "$ref": "#/definitions/ValidationResponse"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "ValidateInputs": {
            "$ref": "./examples/ValidateInputs.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Lists all the jobs available under the given resource group.",
        "operationId": "Jobs_ListByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$skipToken",
            "in": "query",
            "description": "$skipToken is supported on Get list of jobs, which provides the next page in the list of jobs.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of jobs by resource group.",
            "schema": {
              "$ref": "#/definitions/JobResourceList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "JobsListByResourceGroup": {
            "$ref": "./examples/JobsListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}": {
      "get": {
        "tags": [
          "Jobs"
        ],
        "description": "Gets information about the specified job.",
        "operationId": "Jobs_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "$expand is supported on details parameter for job, which provides details on the job stages.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Job object.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsGet": {
            "$ref": "./examples/JobsGet.json"
          },
          "JobsGetCmk": {
            "$ref": "./examples/JobsGetCmk.json"
          },
          "JobsGetExport": {
            "$ref": "./examples/JobsGetExport.json"
          },
          "JobsGetCopyStuck": {
            "$ref": "./examples/JobsGetCopyStuck.json"
          },
          "JobsGetWaitingForAction": {
            "$ref": "./examples/JobsGetWaitingForAction.json"
          }
        }
      },
      "put": {
        "tags": [
          "Jobs"
        ],
        "description": "Creates a new job with the specified parameters. Existing job cannot be updated with this API and should instead be updated with the Update job API.",
        "operationId": "Jobs_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "jobResource",
            "in": "body",
            "description": "Job details from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job object.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "202": {
            "description": "Accepted request for create Job."
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobsCreate": {
            "$ref": "./examples/JobsCreate.json"
          },
          "JobsCreateDevicePassword": {
            "$ref": "./examples/JobsCreateDevicePassword.json"
          },
          "JobsCreateExport": {
            "$ref": "./examples/JobsCreateExport.json"
          },
          "JobsCreateDoubleEncryption": {
            "$ref": "./examples/JobsCreateDoubleEncryption.json"
          },
          "JobsCreateWithUserAssignedIdentity": {
            "$ref": "./examples/JobsCreateWithUserAssignedIdentity.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Jobs"
        ],
        "description": "Deletes a job.",
        "operationId": "Jobs_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Just for swagger we are adding this status code."
          },
          "202": {
            "description": "Accepted request for delete Job."
          },
          "204": {
            "description": "Job deleted."
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobsDelete": {
            "$ref": "./examples/JobsDelete.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Jobs"
        ],
        "description": "Updates the properties of an existing job.",
        "operationId": "Jobs_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Defines the If-Match condition. The patch will be performed only if the ETag of the job on the server matches this value.",
            "type": "string"
          },
          {
            "name": "jobResourceUpdateParameter",
            "in": "body",
            "description": "Job update parameters from request body.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobResourceUpdateParameter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job object.",
            "schema": {
              "$ref": "#/definitions/JobResource"
            }
          },
          "202": {
            "description": "Accepted request for job updated."
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "JobsPatch": {
            "$ref": "./examples/JobsPatch.json"
          },
          "JobsPatchCmk": {
            "$ref": "./examples/JobsPatchCmk.json"
          },
          "JobsPatchSystemAssignedToUserAssigned": {
            "$ref": "./examples/JobsPatchSystemAssignedToUserAssigned.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/bookShipmentPickUp": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "Book shipment pick up.",
        "operationId": "Jobs_BookShipmentPickUp",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "shipmentPickUpRequest",
            "in": "body",
            "description": "Details of shipment pick up request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ShipmentPickUpRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Booked shipment pick up successfully.",
            "schema": {
              "$ref": "#/definitions/ShipmentPickUpResponse"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "BookShipmentPickupPost": {
            "$ref": "./examples/BookShipmentPickupPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/cancel": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "CancelJob.",
        "operationId": "Jobs_Cancel",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "cancellationReason",
            "in": "body",
            "description": "Reason for cancellation.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CancellationReason"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Job cancelled."
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "JobsCancelPost": {
            "$ref": "./examples/JobsCancelPost.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/jobs/{jobName}/listCredentials": {
      "post": {
        "tags": [
          "Jobs"
        ],
        "description": "This method gets the unencrypted secrets related to the job.",
        "operationId": "Jobs_ListCredentials",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/jobNameParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List of unencrypted credentials of the job.",
            "schema": {
              "$ref": "#/definitions/UnencryptedCredentialsList"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        },
        "x-ms-examples": {
          "JobsListCredentials": {
            "$ref": "./examples/JobsListCredentials.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataBox/locations/{location}/regionConfiguration": {
      "post": {
        "tags": [
          "Service"
        ],
        "description": "This API provides configuration details specific to given region/location at Subscription level.",
        "operationId": "Service_RegionConfiguration",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "regionConfigurationRequest",
            "in": "body",
            "description": "Request body to get the configuration for the region.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegionConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Region configuration response.",
            "schema": {
              "$ref": "#/definitions/RegionConfigurationResponse"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "RegionConfiguration": {
            "$ref": "./examples/RegionConfiguration.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBox/locations/{location}/regionConfiguration": {
      "post": {
        "tags": [
          "Service"
        ],
        "description": "This API provides configuration details specific to given region/location at Resource group level.",
        "operationId": "Service_RegionConfigurationByResourceGroup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/locationParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          },
          {
            "name": "regionConfigurationRequest",
            "in": "body",
            "description": "Request body to get the configuration for the region at resource group level.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegionConfigurationRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Region configuration response.",
            "schema": {
              "$ref": "#/definitions/RegionConfigurationResponse"
            }
          },
          "default": {
            "description": "Error response describing reason for operation failure.",
            "schema": {
              "$ref": "#/definitions/ApiError"
            }
          }
        },
        "x-ms-examples": {
          "RegionConfigurationByResourceGroup": {
            "$ref": "./examples/RegionConfigurationByResourceGroup.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AccountCredentialDetails": {
      "description": "Credential details of the account.",
      "type": "object",
      "properties": {
        "accountName": {
          "description": "Name of the account.",
          "type": "string",
          "readOnly": true
        },
        "dataAccountType": {
          "description": "Type of the account.",
          "enum": [
            "StorageAccount",
            "ManagedDisk"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DataAccountType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "StorageAccount",
                "description": "Storage Accounts ."
              },
              {
                "value": "ManagedDisk",
                "description": "Azure Managed disk storage."
              }
            ]
          }
        },
        "accountConnectionString": {
          "description": "Connection string of the account endpoint to use the account as a storage endpoint on the device.",
          "type": "string",
          "readOnly": true
        },
        "shareCredentialDetails": {
          "description": "Per share level unencrypted access credentials.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShareCredentialDetails"
          },
          "x-ms-identifiers": [
            "shareName"
          ],
          "readOnly": true
        }
      }
    },
    "AdditionalErrorInfo": {
      "type": "object",
      "description": "Additional error info.",
      "properties": {
        "type": {
          "description": "Additional error type.",
          "type": "string"
        },
        "info": {
          "description": "Additional error info.",
          "type": "object"
        }
      }
    },
    "AddressValidationOutput": {
      "description": "Output of the address validation api.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddressValidationProperties",
          "description": "The address validation properties.",
          "readOnly": true,
          "x-ms-client-flatten": true
        }
      }
    },
    "AddressValidationProperties": {
      "description": "The address validation output.",
      "required": [
        "validationType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputResponse"
        }
      ],
      "properties": {
        "validationStatus": {
          "description": "The address validation status.",
          "enum": [
            "Valid",
            "Invalid",
            "Ambiguous"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "AddressValidationStatus",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "Valid",
                "description": "Address provided is valid."
              },
              {
                "value": "Invalid",
                "description": "Address provided is invalid or not supported."
              },
              {
                "value": "Ambiguous",
                "description": "Address provided is ambiguous, please choose one of the alternate addresses returned."
              }
            ]
          }
        },
        "alternateAddresses": {
          "description": "List of alternate addresses.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ShippingAddress"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "ValidateAddress"
    },
    "ApiError": {
      "required": [
        "error"
      ],
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDetail"
        }
      }
    },
    "ApplianceNetworkConfiguration": {
      "description": "The Network Adapter configuration of a DataBox.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the network.",
          "type": "string",
          "readOnly": true
        },
        "macAddress": {
          "description": "Mac Address.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ArmBaseObject": {
      "description": "Base class for all objects under resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the object.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id of the object.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of the object.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AvailableSkuRequest": {
      "description": "The filters for showing the available skus.",
      "required": [
        "transferType",
        "country",
        "location"
      ],
      "type": "object",
      "properties": {
        "transferType": {
          "description": "Type of the transfer.",
          "enum": [
            "ImportToAzure",
            "ExportFromAzure"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TransferType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "ImportToAzure",
                "description": "Import data to azure."
              },
              {
                "value": "ExportFromAzure",
                "description": "Export data from azure."
              }
            ]
          }
        },
        "country": {
          "description": "ISO country code. Country for hardware shipment. For codes check: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Officially_assigned_code_elements",
          "type": "string"
        },
        "location": {
          "description": "Location for data transfer. For locations check: https://management.azure.com/subscriptions/SUBSCRIPTIONID/locations?api-version=2018-01-01",
          "type": "string"
        },
        "skuNames": {
          "description": "Sku Names to filter for available skus",
          "type": "array",
          "items": {
            "enum": [
              "DataBox",
              "DataBoxDisk",
              "DataBoxHeavy"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "SkuName",
              "modelAsExtensible": true,
              "values": [
                {
                  "value": "DataBox",
                  "description": "Data Box."
                },
                {
                  "value": "DataBoxDisk",
                  "description": "Data Box Disk."
                },
                {
                  "value": "DataBoxHeavy",
                  "description": "Data Box Heavy."
                }
              ]
            }
          }
        }
      }
    },
    "AvailableSkusResult": {
      "description": "The available skus operation response.",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of available skus.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuInformation"
          },
          "x-ms-identifiers": [
            "sku"
          ],
          "readOnly": true
        },
        "nextLink": {
          "description": "Link for the next set of skus.",
          "type": "string"
        }
      }
    },
    "AzureFileFilterDetails": {
      "description": "Filter details to transfer Azure files",
      "type": "object",
      "properties": {
        "filePrefixList": {
          "description": "Prefix list of the Azure files to be transferred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "filePathList": {
          "description": "List of full path of the files to be transferred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fileShareList": {
          "description": "List of file shares to be transferred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BlobFilterDetails": {
      "description": "Filter details to transfer Azure Blobs",
      "type": "object",
      "properties": {
        "blobPrefixList": {
          "description": "Prefix list of the Azure blobs to be transferred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blobPathList": {
          "description": "List of full path of the blobs to be transferred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "containerList": {
          "description": "List of blob containers to be transferred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CancellationReason": {
      "description": "Reason for cancellation.",
      "required": [
        "reason"
      ],
      "type": "object",
      "properties": {
        "reason": {
          "description": "Reason for cancellation.",
          "type": "string"
        }
      }
    },
    "CloudError": {
      "description": "Cloud error.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Cloud error code.",
          "type": "string"
        },
        "message": {
          "description": "Cloud error message.",
          "type": "string"
        },
        "target": {
          "description": "Cloud error target.",
          "type": "string"
        },
        "details": {
          "description": "Cloud error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CloudError"
          },
          "x-ms-identifiers": [
            "message",
            "target"
          ],
          "readOnly": true
        },
        "additionalInfo": {
          "description": "Cloud error additional info.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdditionalErrorInfo"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        }
      },
      "x-ms-external": true
    },
    "ContactDetails": {
      "description": "Contact Details.",
      "required": [
        "contactName",
        "phone",
        "emailList"
      ],
      "type": "object",
      "properties": {
        "contactName": {
          "description": "Contact name of the person.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number of the contact person.",
          "type": "string"
        },
        "phoneExtension": {
          "description": "Phone extension number of the contact person.",
          "type": "string"
        },
        "mobile": {
          "description": "Mobile number of the contact person.",
          "type": "string"
        },
        "emailList": {
          "description": "List of Email-ids to be notified about job progress.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notificationPreference": {
          "description": "Notification preference for a job stage.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NotificationPreference"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "CopyLogDetails": {
      "description": "Details for log generated during copy.",
      "required": [
        "copyLogDetailsType"
      ],
      "type": "object",
      "properties": {
        "copyLogDetailsType": {
          "description": "Indicates the type of job details.",
          "enum": [
            "DataBox",
            "DataBoxDisk",
            "DataBoxHeavy"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ClassDiscriminator",
            "modelAsExtensible": false,
            "values": [
              {
                "value": "DataBox",
                "description": "Data Box orders."
              },
              {
                "value": "DataBoxDisk",
                "description": "Data Box Disk orders."
              },
              {
                "value": "DataBoxHeavy",
                "description": "Data Box Heavy orders."
              }
            ]
          }
        }
      },
      "discriminator": "copyLogDetailsType"
    },
    "CopyProgress": {
      "description": "Copy progress.",
      "type": "object",
      "properties": {
        "storageAccountName": {
          "description": "Name of the storage account. This will be empty for data account types other than storage account.",
          "type": "string",
          "readOnly": true
        },
        "transferType": {
          "description": "Transfer type of data",
          "enum": [
            "ImportToAzure",
            "ExportFromAzure"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "TransferType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "ImportToAzure",
                "description": "Import data to azure."
              },
              {
                "value": "ExportFromAzure",
                "description": "Export data from azure."
              }
            ]
          }
        },
        "dataAccountType": {
          "description": "Data Account Type.",
          "enum": [
            "StorageAccount",
            "ManagedDisk"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "DataAccountType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "StorageAccount",
                "description": "Storage Accounts ."
              },
              {
                "value": "ManagedDisk",
                "description": "Azure Managed disk storage."
              }
            ]
          }
        },
        "accountId": {
          "description": "Id of the account where the data needs to be uploaded.",
          "type": "string",
          "readOnly": true
        },
        "bytesProcessed": {
          "format": "int64",
          "description": "To indicate bytes transferred.",
          "type": "integer",
          "readOnly": true
        },
        "totalBytesToProcess": {
          "format": "int64",
          "description": "Total amount of data to be processed by the job.",
          "type": "integer",
          "readOnly": true
        },
        "filesProcessed": {
          "format": "int64",
          "description": "Number of files processed",
          "type": "integer",
          "readOnly": true
        },
        "totalFilesToProcess": {
          "format": "int64",
          "description": "Total files to process",
          "type": "integer",
          "readOnly": true
        },
        "invalidFilesProcessed": {
          "format": "int64",
          "description": "Number of files not adhering to azure naming conventions which were processed by automatic renaming",
          "type": "integer",
          "readOnly": true
        },
        "invalidFileBytesUploaded": {
          "format": "int64",
          "description": "Total amount of data not adhering to azure naming conventions which were processed by automatic renaming",
          "type": "integer",
          "readOnly": true
        },
        "renamedContainerCount": {
          "format": "int64",
          "description": "Number of folders not adhering to azure naming conventions which were processed by automatic renaming",
          "type": "integer",
          "readOnly": true
        },
        "filesErroredOut": {
          "format": "int64",
          "description": "Number of files which could not be copied",
          "type": "integer",
          "readOnly": true
        },
        "directoriesErroredOut": {
          "format": "int64",
          "description": "To indicate directories errored out in the job.",
          "type": "integer",
          "readOnly": true
        },
        "invalidDirectoriesProcessed": {
          "format": "int64",
          "description": "To indicate directories renamed",
          "type": "integer",
          "readOnly": true
        },
        "isEnumerationInProgress": {
          "description": "To indicate if enumeration of data is in progress. \r\nUntil this is true, the TotalBytesToProcess may not be valid.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "CreateJobValidations": {
      "description": "It does all pre-job creation validations.",
      "required": [
        "validationCategory",
        "individualRequestDetails"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationRequest"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "JobCreationValidation"
    },
    "CreateOrderLimitForSubscriptionValidationRequest": {
      "description": "Request to validate create order limit for current subscription.",
      "required": [
        "deviceType",
        "validationType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputRequest"
        }
      ],
      "properties": {
        "deviceType": {
          "description": "Device type to be used for the job.",
          "enum": [
            "DataBox",
            "DataBoxDisk",
            "DataBoxHeavy"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "DataBox",
                "description": "Data Box."
              },
              {
                "value": "DataBoxDisk",
                "description": "Data Box Disk."
              },
              {
                "value": "DataBoxHeavy",
                "description": "Data Box Heavy."
              }
            ]
          }
        }
      },
      "x-ms-discriminator-value": "ValidateCreateOrderLimit"
    },
    "CreateOrderLimitForSubscriptionValidationResponseProperties": {
      "description": "Properties of create order limit for subscription validation response.",
      "required": [
        "validationType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputResponse"
        }
      ],
      "properties": {
        "status": {
          "description": "Create order limit validation status.",
          "enum": [
            "Valid",
            "Invalid",
            "Skipped"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ValidationStatus",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "Valid",
                "description": "Validation is successful"
              },
              {
                "value": "Invalid",
                "description": "Validation is not successful"
              },
              {
                "value": "Skipped",
                "description": "Validation is skipped"
              }
            ]
          }
        }
      },
      "x-ms-discriminator-value": "ValidateCreateOrderLimit"
    },
    "DataAccountDetails": {
      "description": "Account details of the data to be transferred",
      "required": [
        "dataAccountType"
      ],
      "type": "object",
      "properties": {
        "dataAccountType": {
          "description": "Account Type of the data to be transferred.",
          "enum": [
            "StorageAccount",
            "ManagedDisk"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DataAccountType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "StorageAccount",
                "description": "Storage Accounts ."
              },
              {
                "value": "ManagedDisk",
                "description": "Azure Managed disk storage."
              }
            ]
          },
          "default": "StorageAccount"
        },
        "sharePassword": {
          "description": "Password for all the shares to be created on the device. Should not be passed for TransferType:ExportFromAzure jobs. If this is not passed, the service will generate password itself. This will not be returned in Get Call. Password Requirements :  Password must be minimum of 12 and maximum of 64 characters. Password must have at least one uppercase alphabet, one number and one special character. Password cannot have the following characters : IilLoO0 Password can have only alphabets, numbers and these characters : @#\\-$%^!+=;:_()]+",
          "type": "string",
          "x-ms-secret": true,
          "x-ms-mutability": [
            "create"
          ]
        }
      },
      "discriminator": "dataAccountType"
    },
    "DataBoxAccountCopyLogDetails": {
      "description": "Copy log details for a storage account of a DataBox job",
      "required": [
        "copyLogDetailsType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "properties": {
        "accountName": {
          "description": "Account name.",
          "type": "string",
          "readOnly": true
        },
        "copyLogLink": {
          "description": "Link for copy logs.",
          "type": "string",
          "readOnly": true
        },
        "copyVerboseLogLink": {
          "description": "Link for copy verbose logs. This will be set only when LogCollectionLevel is set to Verbose.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "DataBox"
    },
    "DataBoxDiskCopyLogDetails": {
      "description": "Copy Log Details for a disk",
      "required": [
        "copyLogDetailsType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "properties": {
        "diskSerialNumber": {
          "description": "Disk Serial Number.",
          "type": "string",
          "readOnly": true
        },
        "errorLogLink": {
          "description": "Link for copy error logs.",
          "type": "string",
          "readOnly": true
        },
        "verboseLogLink": {
          "description": "Link for copy verbose logs.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "DataBoxDisk"
    },
    "DataBoxDiskCopyProgress": {
      "description": "DataBox Disk Copy Progress",
      "type": "object",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the disk",
          "type": "string",
          "readOnly": true
        },
        "bytesCopied": {
          "format": "int64",
          "description": "Bytes copied during the copy of disk.",
          "type": "integer",
          "readOnly": true
        },
        "percentComplete": {
          "format": "int32",
          "description": "Indicates the percentage completed for the copy of the disk.",
          "type": "integer",
          "readOnly": true
        },
        "status": {
          "description": "The Status of the copy",
          "enum": [
            "NotStarted",
            "InProgress",
            "Completed",
            "CompletedWithErrors",
            "Failed",
            "NotReturned",
            "HardwareError",
            "DeviceFormatted",
            "DeviceMetadataModified",
            "StorageAccountNotAccessible",
            "UnsupportedData"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "CopyStatus",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "NotStarted",
                "description": "Data copy hasn't started yet."
              },
              {
                "value": "InProgress",
                "description": "Data copy is in progress."
              },
              {
                "value": "Completed",
                "description": "Data copy completed."
              },
              {
                "value": "CompletedWithErrors",
                "description": "Data copy completed with errors."
              },
              {
                "value": "Failed",
                "description": "Data copy failed. No data was copied."
              },
              {
                "value": "NotReturned",
                "description": "No copy triggered as device was not returned."
              },
              {
                "value": "HardwareError",
                "description": "The Device has hit hardware issues."
              },
              {
                "value": "DeviceFormatted",
                "description": "Data copy failed. The Device was formatted by user."
              },
              {
                "value": "DeviceMetadataModified",
                "description": "Data copy failed. Device metadata was modified by user."
              },
              {
                "value": "StorageAccountNotAccessible",
                "description": "Data copy failed. Storage Account was not accessible during copy."
              },
              {
                "value": "UnsupportedData",
                "description": "Data copy failed. The Device data content is not supported."
              }
            ]
          }
        }
      }
    },
    "DataBoxDiskJobDetails": {
      "description": "DataBox Disk Job Details.",
      "required": [
        "contactDetails",
        "jobDetailsType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "properties": {
        "preferredDisks": {
          "description": "User preference on what size disks are needed for the job. The map is from the disk size in TB to the count. Eg. {2,5} means 5 disks of 2 TB size. Key is string but will be checked against an int.",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        },
        "copyProgress": {
          "description": "Copy progress per disk.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataBoxDiskCopyProgress"
          },
          "x-ms-identifiers": [
            "serialNumber"
          ],
          "readOnly": true
        },
        "disksAndSizeDetails": {
          "description": "Contains the map of disk serial number to the disk size being used for the job. Is returned only after the disks are shipped to the customer.",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          },
          "readOnly": true
        },
        "passkey": {
          "description": "User entered passkey for DataBox Disk job.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "DataBoxDisk"
    },
    "DataBoxDiskJobSecrets": {
      "description": "The secrets related to disk job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "properties": {
        "diskSecrets": {
          "description": "Contains the list of secrets object for that device.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiskSecret"
          },
          "x-ms-identifiers": [
            "diskSerialNumber"
          ],
          "readOnly": true
        },
        "passKey": {
          "description": "PassKey for the disk Job.",
          "type": "string",
          "readOnly": true
        },
        "isPasskeyUserDefined": {
          "description": "Whether passkey was provided by user.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "DataBoxDisk"
    },
    "DataBoxHeavyAccountCopyLogDetails": {
      "description": "Copy log details for a storage account for Databox heavy",
      "required": [
        "copyLogDetailsType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/CopyLogDetails"
        }
      ],
      "properties": {
        "accountName": {
          "description": "Account name.",
          "type": "string",
          "readOnly": true
        },
        "copyLogLink": {
          "description": "Link for copy logs.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "copyVerboseLogLink": {
          "description": "Link for copy verbose logs. This will be set only when the LogCollectionLevel is set to verbose.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "DataBoxHeavy"
    },
    "DataBoxHeavyJobDetails": {
      "description": "Databox Heavy Device Job Details",
      "required": [
        "contactDetails",
        "jobDetailsType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "properties": {
        "copyProgress": {
          "description": "Copy progress per account.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CopyProgress"
          },
          "x-ms-identifiers": [
            "dataAccountType",
            "accountId"
          ],
          "readOnly": true
        },
        "devicePassword": {
          "description": "Set Device password for unlocking Databox Heavy. Should not be passed for TransferType:ExportFromAzure jobs. If this is not passed, the service will generate password itself. This will not be returned in Get Call. Password Requirements :  Password must be minimum of 12 and maximum of 64 characters. Password must have at least one uppercase alphabet, one number and one special character. Password cannot have the following characters : IilLoO0 Password can have only alphabets, numbers and these characters : @#\\-$%^!+=;:_()]+",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "DataBoxHeavy"
    },
    "DataBoxHeavyJobSecrets": {
      "description": "The secrets related to a databox heavy job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "properties": {
        "cabinetPodSecrets": {
          "description": "Contains the list of secret objects for a databox heavy job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataBoxHeavySecret"
          },
          "x-ms-identifiers": [
            "deviceSerialNumber"
          ],
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "DataBoxHeavy"
    },
    "DataBoxHeavySecret": {
      "description": "The secrets related to a databox heavy.",
      "type": "object",
      "properties": {
        "deviceSerialNumber": {
          "description": "Serial number of the assigned device.",
          "type": "string",
          "readOnly": true
        },
        "devicePassword": {
          "description": "Password for out of the box experience on device.",
          "type": "string",
          "readOnly": true
        },
        "networkConfigurations": {
          "description": "Network configuration of the appliance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceNetworkConfiguration"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        },
        "encodedValidationCertPubKey": {
          "description": "The base 64 encoded public key to authenticate with the device",
          "type": "string",
          "readOnly": true
        },
        "accountCredentialDetails": {
          "description": "Per account level access credentials.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountCredentialDetails"
          },
          "x-ms-identifiers": [
            "accountName"
          ],
          "readOnly": true
        }
      }
    },
    "DataBoxJobDetails": {
      "description": "Databox Job Details",
      "required": [
        "contactDetails",
        "jobDetailsType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobDetails"
        }
      ],
      "properties": {
        "copyProgress": {
          "description": "Copy progress per storage account.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CopyProgress"
          },
          "x-ms-identifiers": [
            "dataAccountType",
            "accountId"
          ],
          "readOnly": true
        },
        "devicePassword": {
          "description": "Set Device password for unlocking Databox. Should not be passed for TransferType:ExportFromAzure jobs. If this is not passed, the service will generate password itself. This will not be returned in Get Call. Password Requirements :  Password must be minimum of 12 and maximum of 64 characters. Password must have at least one uppercase alphabet, one number and one special character. Password cannot have the following characters : IilLoO0 Password can have only alphabets, numbers and these characters : @#\\-$%^!+=;:_()]+",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "DataBox"
    },
    "DataboxJobSecrets": {
      "description": "The secrets related to a databox job.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/JobSecrets"
        }
      ],
      "properties": {
        "podSecrets": {
          "description": "Contains the list of secret objects for a job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataBoxSecret"
          },
          "x-ms-identifiers": [
            "deviceSerialNumber"
          ]
        }
      },
      "x-ms-discriminator-value": "DataBox"
    },
    "DataBoxScheduleAvailabilityRequest": {
      "description": "Request body to get the availability for scheduling data box orders orders.",
      "required": [
        "storageLocation",
        "skuName"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ScheduleAvailabilityRequest"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "DataBox"
    },
    "DataBoxSecret": {
      "description": "The secrets related to a DataBox.",
      "type": "object",
      "properties": {
        "deviceSerialNumber": {
          "description": "Serial number of the assigned device.",
          "type": "string",
          "readOnly": true
        },
        "devicePassword": {
          "description": "Password for out of the box experience on device.",
          "type": "string",
          "readOnly": true
        },
        "networkConfigurations": {
          "description": "Network configuration of the appliance.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplianceNetworkConfiguration"
          },
          "x-ms-identifiers": [
            "name"
          ],
          "readOnly": true
        },
        "encodedValidationCertPubKey": {
          "description": "The base 64 encoded public key to authenticate with the device",
          "type": "string",
          "readOnly": true
        },
        "accountCredentialDetails": {
          "description": "Per account level access credentials.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountCredentialDetails"
          },
          "x-ms-identifiers": [
            "accountName"
          ],
          "readOnly": true
        }
      }
    },
    "DataExportDetails": {
      "description": "Details of the data to be used for exporting data from azure.",
      "required": [
        "transferConfiguration",
        "accountDetails"
      ],
      "type": "object",
      "properties": {
        "transferConfiguration": {
          "$ref": "#/definitions/TransferConfiguration",
          "description": "Configuration for the data transfer."
        },
        "logCollectionLevel": {
          "description": "Level of the logs to be collected.",
          "enum": [
            "Error",
            "Verbose"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "LogCollectionLevel",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "Error",
                "description": "Only Errors will be collected in the logs."
              },
              {
                "value": "Verbose",
                "description": "Verbose logging (includes Errors, CRC, size information and others)."
              }
            ]
          },
          "default": "Error"
        },
        "accountDetails": {
          "$ref": "#/definitions/DataAccountDetails",
          "description": "Account details of the data to be transferred"
        }
      }
    },
    "DataImportDetails": {
      "description": "Details of the data to be used for importing data to azure.",
      "required": [
        "accountDetails"
      ],
      "type": "object",
      "properties": {
        "accountDetails": {
          "$ref": "#/definitions/DataAccountDetails",
          "description": "Account details of the data to be transferred"
        }
      }
    },
    "DataLocationToServiceLocationMap": {
      "description": "Map of data location to service location",
      "type": "object",
      "properties": {
        "dataLocation": {
          "description": "Location of the data.",
          "type": "string",
          "readOnly": true
        },
        "serviceLocation": {
          "description": "Location of the service.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DataTransferDetailsValidationRequest": {
      "description": "Request to validate export and import data details.",
      "required": [
        "deviceType",
        "transferType",
        "validationType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputRequest"
        }
      ],
      "properties": {
        "dataExportDetails": {
          "description": "List of DataTransfer details to be used to export data from azure.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataExportDetails"
          },
          "x-ms-identifiers": []
        },
        "dataImportDetails": {
          "description": "List of DataTransfer details to be used to import data to azure.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataImportDetails"
          },
          "x-ms-identifiers": []
        },
        "deviceType": {
          "description": "Device type.",
          "enum": [
            "DataBox",
            "DataBoxDisk",
            "DataBoxHeavy"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "SkuName",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "DataBox",
                "description": "Data Box."
              },
              {
                "value": "DataBoxDisk",
                "description": "Data Box Disk."
              },
              {
                "value": "DataBoxHeavy",
                "description": "Data Box Heavy."
              }
            ]
          }
        },
        "transferType": {
          "description": "Type of the transfer.",
          "enum": [
            "ImportToAzure",
            "ExportFromAzure"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TransferType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "ImportToAzure",
                "description": "Import data to azure."
              },
              {
                "value": "ExportFromAzure",
                "description": "Export data from azure."
              }
            ]
          }
        }
      },
      "x-ms-discriminator-value": "ValidateDataTransferDetails"
    },
    "DataTransferDetailsValidationResponseProperties": {
      "description": "Properties of data transfer details validation response.",
      "required": [
        "validationType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ValidationInputResponse"
        }
      ],
      "properties": {
        "status": {
          "description": "Data transfer details validation status.",
          "enum": [
            "Valid",
            "Invalid",
            "Skipped"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ValidationStatus",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "Valid",
                "description": "Validation is successful"
              },
              {
                "value": "Invalid",
                "description": "Validation is not successful"
              },
              {
                "value": "Skipped",
                "description": "Validation is skipped"
              }
            ]
          }
        }
      },
      "x-ms-discriminator-value": "ValidateDataTransferDetails"
    },
    "DcAccessSecurityCode": {
      "description": "Dc access security code",
      "type": "object",
      "properties": {
        "reverseDCAccessCode": {
          "description": "Reverse Dc access security code.",
          "type": "string"
        },
        "forwardDCAccessCode": {
          "description": "Forward Dc access security code.",
          "type": "string"
        }
      }
    },
    "Details": {
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        }
      }
    },
    "DiskScheduleAvailabilityRequest": {
      "description": "Request body to get the availability for scheduling disk orders.",
      "required": [
        "storageLocation",
        "skuName",
        "expectedDataSizeInTeraBytes"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ScheduleAvailabilityRequest"
        }
      ],
      "properties": {
        "expectedDataSizeInTeraBytes": {
          "format": "int32",
          "description": "The expected size of the data, which needs to be transferred in this job, in terabytes.",
          "type": "integer"
        }
      },
      "x-ms-discriminator-value": "DataBoxDisk"
    },
    "DiskSecret": {
      "description": "Contains all the secrets of a Disk.",
      "type": "object",
      "properties": {
        "diskSerialNumber": {
          "description": "Serial number of the assigned disk.",
          "type": "string",
          "readOnly": true
        },
        "bitLockerKey": {
          "description": "Bit Locker key of the disk which can be used to unlock the disk to copy data.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "EncryptionPreferences": {
      "description": "Preferences related to the Encryption.",
      "type": "object",
      "properties": {
        "doubleEncryption": {
          "description": "Defines secondary layer of software-based encryption enablement.",
          "enum": [
            "Enabled",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "DoubleEncryption",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "Enabled",
                "description": "Software-based encryption is enabled."
              },
              {
                "value": "Disabled",
                "description": "Software-based encryption is disabled."
              }
            ]
          },
          "default": "Disabled"
        }
      }
    },
    "ErrorDetail": {
      "required": [
        "code",
        "message"
      ],
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Details"
          },
          "x-ms-identifiers": []
        },
        "target": {
          "type": "string"
        }
      }
    },
    "FilterFileDetails": {
      "description": "Details of the filter files to be used for data transfer.",
      "required": [
        "filterFileType",
        "filterFilePath"
      ],
      "type": "object",
      "properties": {
        "filterFileType": {
          "description": "Type of the filter file.",
          "enum": [
            "AzureBlob",
            "AzureFile"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "FilterFileType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "AzureBlob",
                "description": "Filter file is of the type AzureBlob."
              },
              {
                "value": "AzureFile",
                "description": "Filter file is of the type AzureFiles."
              }
            ]
          }
        },
        "filterFilePath": {
          "description": "Path of the file that contains the details of all items to transfer.",
          "type": "string"
        }
      }
    },
    "HeavyScheduleAvailabilityRequest": {
      "description": "Request body to get the availability for scheduling heavy orders.",
      "required": [
        "storageLocation",
        "skuName"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/ScheduleAvailabilityRequest"
        }
      ],
      "properties": {},
      "x-ms-discriminator-value": "DataBoxHeavy"
    },
    "IdentityProperties": {
      "description": "Managed identity properties.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Managed service identity type.",
          "type": "string"
        },
        "userAssigned": {
          "$ref": "#/definitions/UserAssignedProperties",
          "description": "User assigned identity properties."
        }
      }
    },
    "JobDeliveryInfo": {
      "description": "Additional delivery info.",
      "type": "object",
      "properties": {
        "scheduledDateTime": {
          "format": "date-time",
          "description": "Scheduled date time.",
          "type": "string"
        }
      }
    },
    "JobDetails": {
      "description": "Job details.",
      "required": [
        "contactDetails",
        "jobDetailsType"
      ],
      "type": "object",
      "properties": {
        "jobStages": {
          "description": "List of stages that run in the job.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobStages"
          },
          "x-ms-identifiers": [
            "stageName"
          ],
          "readOnly": true
        },
        "contactDetails": {
          "$ref": "#/definitions/ContactDetails",
          "description": "Contact details for notification and shipping."
        },
        "shippingAddress": {
          "$ref": "#/definitions/ShippingAddress",
          "description": "Shipping address of the customer."
        },
        "deliveryPackage": {
          "$ref": "#/definitions/PackageShippingDetails",
          "description": "Delivery package shipping details.",
          "readOnly": true
        },
        "returnPackage": {
          "$ref": "#/definitions/PackageShippingDetails",
          "description": "Return package shipping details.",
          "readOnly": true
        },
        "dataImportDetails": {
          "description": "Details of the data to be imported into azure.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataImportDetails"
          },
          "x-ms-identifiers": []
        },
        "dataExportDetails": {
          "description": "Details of the data to be exported from azure.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataExportDetails"
          },
          "x-ms-identifiers": []
        },
        "jobDetailsType": {
          "description": "Indicates the type of job details.",
          "enum": [
            "DataBox",
            "DataBoxDisk",
            "DataBoxHeavy"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ClassDiscriminator",
            "modelAsExtensible": false,
            "values": [
              {
                "value": "DataBox",
                "description": "Data Box orders."
              },
              {
                "value": "DataBoxDisk",
                "description": "Data Box Disk orders."
              },
              {
                "value": "DataBoxHeavy",
                "description": "Data Box Heavy orders."
              }
            ]
          }
        },
        "preferences": {
          "$ref": "#/definitions/Preferences",
          "description": "Preferences for the order."
        },
        "copyLogDetails": {
          "description": "List of copy log details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/CopyLogDetails"
          },
          "x-ms-identifiers": [],
          "readOnly": true
        },
        "reverseShipmentLabelSasKey": {
          "description": "Shared access key to download the return shipment label",
          "type": "string",
          "readOnly": true
        },
        "chainOfCustodySasKey": {
          "description": "Shared access key to download the chain of custody logs",
          "type": "string",
          "readOnly": true
        },
        "keyEncryptionKey": {
          "$ref": "#/definitions/KeyEncryptionKey",
          "description": "Details about which key encryption type is being used."
        },
        "expectedDataSizeInTeraBytes": {
          "format": "int32",
          "description": "The expected size of the data, which needs to be transferred in this job, in terabytes.",
          "type": "integer"
        },
        "actions": {
          "description": "Available actions on the job.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "enum": [
              "None",
              "MoveToCleanUpDevice",
              "Resume"
            ],
            "type": "string",
            "x-ms-enum": {
              "name": "CustomerResolutionCode",
              "modelAsExtensible": true,
              "values": [
                {
                  "value": "None",
                  "description": "No Resolution Yet"
                },
                {
                  "value": "MoveToCleanUpDevice",
                  "description": "Clean the device"
                },
                {
                  "value": "Resume",
                  "description": "Resume the job to same stage"
                }
              ]
            }
          },
          "readOnly": true
        },
        "lastMitigationActionOnJob": {
          "$ref": "#/definitions/LastMitigationActionOnJob",
          "description": "Last mitigation action performed on the job.",
          "readOnly": true
        }
      },
      "discriminator": "jobDetailsType"
    },
    "JobProperties": {
      "description": "Job Properties",
      "required": [
        "transferType"
      ],
      "type": "object",
      "properties": {
        "transferType": {
          "description": "Type of the data transfer.",
          "enum": [
            "ImportToAzure",
            "ExportFromAzure"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "TransferType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "ImportToAzure",
                "description": "Import data to azure."
              },
              {
                "value": "ExportFromAzure",
                "description": "Export data from azure."
              }
            ]
          }
        },
        "isCancellable": {
          "description": "Describes whether the job is cancellable or not.",
          "type": "boolean",
          "readOnly": true
        },
        "isDeletable": {
          "description": "Describes whether the job is deletable or not.",
          "type": "boolean",
          "readOnly": true
        },
        "isShippingAddressEditable": {
          "description": "Describes whether the shipping address is editable or not.",
          "type": "boolean",
          "readOnly": true
        },
        "isPrepareToShipEnabled": {
          "description": "Is Prepare To Ship Enabled on this job",
          "type": "boolean",
          "readOnly": true
        },
        "status": {
          "description": "Name of the stage which is in progress.",
          "enum": [
            "DeviceOrdered",
            "DevicePrepared",
            "Dispatched",
            "Delivered",
            "PickedUp",
            "AtAzureDC",
            "DataCopy",
            "Completed",
            "CompletedWithErrors",
            "Cancelled",
            "Failed_IssueReportedAtCustomer",
            "Failed_IssueDetectedAtAzureDC",
            "Aborted",
            "CompletedWithWarnings",
            "ReadyToDispatchFromAzureDC",
            "ReadyToReceiveAtAzureDC"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "StageName",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "DeviceOrdered",
                "description": "An order has been created."
              },
              {
                "value": "DevicePrepared",
                "description": "A device has been prepared for the order."
              },
              {
                "value": "Dispatched",
                "description": "Device has been dispatched to the user of the order."
              },
              {
                "value": "Delivered",
                "description": "Device has been delivered to the user of the order."
              },
              {
                "value": "PickedUp",
                "description": "Device has been picked up from user and in transit to Azure datacenter."
              },
              {
                "value": "AtAzureDC",
                "description": "Device has been received at Azure datacenter from the user."
              },
              {
                "value": "DataCopy",
                "description": "Data copy from the device at Azure datacenter."
              },
              {
                "value": "Completed",
                "description": "Order has completed."
              },
              {
                "value": "CompletedWithErrors",
                "description": "Order has completed with errors."
              },
              {
                "value": "Cancelled",
                "description": "Order has been cancelled."
              },
              {
                "value": "Failed_IssueReportedAtCustomer",
                "description": "Order has failed due to issue reported by user."
              },
              {
                "value": "Failed_IssueDetectedAtAzureDC",
                "description": "Order has failed due to issue detected at Azure datacenter."
              },
              {
                "value": "Aborted",
                "description": "Order has been aborted."
              },
              {
                "value": "CompletedWithWarnings",
                "description": "Order has completed with warnings."
              },
              {
                "value": "ReadyToDispatchFromAzureDC",
                "description": "Device is ready to be handed to customer from Azure DC."
              },
              {
                "value": "ReadyToReceiveAtAzureDC",
                "description": "Device can be dropped off at Azure DC."
              }
            ]
          }
        },
        "startTime": {
          "format": "date-time",
          "description": "Time at which the job was started in UTC ISO 8601 format.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/CloudError",
          "description": "Top level error for the job.",
          "readOnly": true
        },
        "details": {
          "$ref": "#/definitions/JobDetails",
          "description": "Details of a job run. This field will only be sent for expand details filter."
        },
        "cancellationReason": {
          "description": "Reason for cancellation.",
          "type": "string",
          "readOnly": true
        },
        "deliveryType": {
          "description": "Delivery type of Job.",
          "enum": [
            "NonScheduled",
            "Scheduled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "JobDeliveryType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "NonScheduled",
                "description": "Non Scheduled job."
              },
              {
                "value": "Scheduled",
                "description": "Scheduled job."
              }
            ]
          },
          "default": "NonScheduled"
        },
        "deliveryInfo": {
          "$ref": "#/definitions/JobDeliveryInfo",
          "description": "Delivery Info of Job."
        },
        "isCancellableWithoutFee": {
          "description": "Flag to indicate cancellation of scheduled job.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "JobResource": {
      "description": "Job Resource.",
      "required": [
        "properties"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/JobProperties",
          "description": "Properties of a job.",
          "x-ms-client-flatten": true
        },
        "name": {
          "description": "Name of the object.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Id of the object.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Type of the object.",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "$ref": "#/definitions/systemData",
          "description": "Metadata pertaining to creation and last modification of the resource.",
          "readOnly": true
        }
      }
    },
    "JobResourceList": {
      "description": "Job Resource Collection",
      "type": "object",
      "properties": {
        "value": {
          "description": "List of job resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/JobResource"
          }
        },
        "nextLink": {
          "description": "Link for the next set of job resources.",
          "type": "string"
        }
      }
    },
    "JobResourceUpdateParameter": {
      "description": "The JobResourceUpdateParameter.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UpdateJobProperties",
          "description": "Properties of a job to be updated.",
          "x-ms-client-flatten": true
        },
        "tags": {
          "description": "The list of key value pairs that describe the resource. These tags can be used in viewing and grouping this resource (across resource groups).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/ResourceIdentity",
          "description": "Msi identity of the resource"
        }
      }
    },
    "JobSecrets": {
      "description": "The base class for the secrets",
      "required": [
        "jobSecretsType"
      ],
      "type": "object",
      "properties": {
        "jobSecretsType": {
          "description": "Used to indicate what type of job secrets object.",
          "enum": [
            "DataBox",
            "DataBoxDisk",
            "DataBoxHeavy"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ClassDiscriminator",
            "modelAsExtensible": false,
            "values": [
              {
                "value": "DataBox",
                "description": "Data Box orders."
              },
              {
                "value": "DataBoxDisk",
                "description": "Data Box Disk orders."
              },
              {
                "value": "DataBoxHeavy",
                "description": "Data Box Heavy orders."
              }
            ]
          }
        },
        "dcAccessSecurityCode": {
          "$ref": "#/definitions/DcAccessSecurityCode",
          "description": "Dc Access Security Code for Customer Managed Shipping",
          "readOnly": true
        },
        "error": {
          "$ref": "#/definitions/CloudError",
          "description": "Error while fetching the secrets.",
          "readOnly": true
        }
      },
      "discriminator": "jobSecretsType"
    },
    "JobStages": {
      "description": "Job stages.",
      "type": "object",
      "properties": {
        "stageName": {
          "description": "Name of the job stage.",
          "enum": [
            "DeviceOrdered",
            "DevicePrepared",
            "Dispatched",
            "Delivered",
            "PickedUp",
            "AtAzureDC",
            "DataCopy",
            "Completed",
            "CompletedWithErrors",
            "Cancelled",
            "Failed_IssueReportedAtCustomer",
            "Failed_IssueDetectedAtAzureDC",
            "Aborted",
            "CompletedWithWarnings",
            "ReadyToDispatchFromAzureDC",
            "ReadyToReceiveAtAzureDC"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "StageName",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "DeviceOrdered",
                "description": "An order has been created."
              },
              {
                "value": "DevicePrepared",
                "description": "A device has been prepared for the order."
              },
              {
                "value": "Dispatched",
                "description": "Device has been dispatched to the user of the order."
              },
              {
                "value": "Delivered",
                "description": "Device has been delivered to the user of the order."
              },
              {
                "value": "PickedUp",
                "description": "Device has been picked up from user and in transit to Azure datacenter."
              },
              {
                "value": "AtAzureDC",
                "description": "Device has been received at Azure datacenter from the user."
              },
              {
                "value": "DataCopy",
                "description": "Data copy from the device at Azure datacenter."
              },
              {
                "value": "Completed",
                "description": "Order has completed."
              },
              {
                "value": "CompletedWithErrors",
                "description": "Order has completed with errors."
              },
              {
                "value": "Cancelled",
                "description": "Order has been cancelled."
              },
              {
                "value": "Failed_IssueReportedAtCustomer",
                "description": "Order has failed due to issue reported by user."
              },
              {
                "value": "Failed_IssueDetectedAtAzureDC",
                "description": "Order has failed due to issue detected at Azure datacenter."
              },
              {
                "value": "Aborted",
                "description": "Order has been aborted."
              },
              {
                "value": "CompletedWithWarnings",
                "description": "Order has completed with warnings."
              },
              {
                "value": "ReadyToDispatchFromAzureDC",
                "description": "Device is ready to be handed to customer from Azure DC."
              },
              {
                "value": "ReadyToReceiveAtAzureDC",
                "description": "Device can be dropped off at Azure DC."
              }
            ]
          }
        },
        "displayName": {
          "description": "Display name of the job stage.",
          "type": "string",
          "readOnly": true
        },
        "stageStatus": {
          "description": "Status of the job stage.",
          "enum": [
            "None",
            "InProgress",
            "Succeeded",
            "Failed",
            "Cancelled",
            "Cancelling",
            "SucceededWithErrors",
            "WaitingForCustomerAction",
            "SucceededWithWarnings",
            "WaitingForCustomerActionForKek",
            "WaitingForCustomerActionForCleanUp",
            "CustomerActionPerformedForCleanUp"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "StageStatus",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "None",
                "description": "No status available yet."
              },
              {
                "value": "InProgress",
                "description": "Stage is in progress."
              },
              {
                "value": "Succeeded",
                "description": "Stage has succeeded."
              },
              {
                "value": "Failed",
                "description": "Stage has failed."
              },
              {
                "value": "Cancelled",
                "description": "Stage has been cancelled."
              },
              {
                "value": "Cancelling",
                "description": "Stage is cancelling."
              },
              {
                "value": "SucceededWithErrors",
                "description": "Stage has succeeded with errors."
              },
              {
                "value": "WaitingForCustomerAction",
                "description": "Stage is stuck until customer takes some action."
              },
              {
                "value": "SucceededWithWarnings",
                "description": "Stage has succeeded with warnings."
              },
              {
                "value": "WaitingForCustomerActionForKek",
                "description": "Stage is waiting for customer action for kek action items."
              },
              {
                "value": "WaitingForCustomerActionForCleanUp",
                "description": "Stage is waiting for customer action for clean up."
              },
              {
                "value": "CustomerActionPerformedForCleanUp",
                "description": "Stage has performed customer action for clean up."
              }
            ]
          }
        },
        "stageTime": {
          "format": "date-time",
          "description": "Time for the job stage in UTC ISO 8601 format.",
          "type": "string",
          "readOnly": true
        },
        "jobStageDetails": {
          "description": "Job Stage Details",
          "type": "object",
          "readOnly": true
        }
      }
    },
    "KeyEncryptionKey": {
      "description": "Encryption key containing details about key to encrypt different keys.",
      "required": [
        "kekType"
      ],
      "type": "object",
      "properties": {
        "kekType": {
          "description": "Type of encryption key used for key encryption.",
          "enum": [
            "MicrosoftManaged",
            "CustomerManaged"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "KekType",
            "modelAsExtensible": true,
            "values": [
              {
                "value": "MicrosoftManaged",
                "description": "Key encryption key is managed by Microsoft."
              },
              {
                "value": "CustomerManaged",
                "description": "Key encryption key is managed by the Customer."
              }
            ]
          },
          "default": "MicrosoftManaged"
        },
        "identityProperties": {
          "$ref": "#/definitions/IdentityProperties",
          "description": "Managed identity properties used for key encryption."
        },
        "kekUrl": {
          "description": "Key encryption key. It is required in case of Customer managed KekType.",
          "type": "string"
        },
        "kekVaultResourceID": {
          "description": "Kek vault resource id. It is required in case of Customer managed KekType.",
          "type": "string"
        }
      }
    },
    "ManagedDiskDetails": {
      "description": "Details of the managed disks.",
      "required": [
        "resourceGroupId",
        "stagingStorageAccountId",
        "dataAccountType"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/DataAccountDetails"
        }
      ],
      "properties": {
        "resourceGroupId": {
          "description": "Resource Group Id of the compute disks.",
          "type": "string"
        },
        "stagingStorageAccountId": {
          "description": "Resource Id of the storage account that can be used to copy the vhd for staging.",
          "type": "string"
        }
      },
      "x-ms-discriminator-value": "ManagedDisk"
    },
    "LastMitigationActionOnJob": {
      "description": "Last Mitigation Action Performed On Job",
[...]
