{
  "swagger": "2.0",
  "info": {
    "version": "2021-01-01",
    "title": "Compute Admin Client"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas/{quotaName}": {
      "get": {
        "x-ms-examples": {
          "Get an existing Compute Quota.": {
            "$ref": "examples/Quotas/Get.json"
          }
        },
        "tags": [
          "Quotas"
        ],
        "summary": "Returns the requested Compute quota.",
        "description": "Get an existing Compute Quota.",
        "operationId": "Quotas_Get",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "Quotas.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/QuotaParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "Quotas.json#/definitions/Quota"
            }
          },
          "default": {
            "description": "Default Response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        }
      },
      "put": {
        "x-ms-examples": {
          "Creates or Updates a Compute Quota.": {
            "$ref": "examples/Quotas/Create.json"
          }
        },
        "tags": [
          "Quotas"
        ],
        "description": "Creates or Updates a Compute Quota with the provided quota parameters.",
        "summary": "Creates or Updates a Compute Quota.",
        "operationId": "Quotas_CreateOrUpdate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "Quotas.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/QuotaParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/NewQuotaParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "Quotas.json#/definitions/Quota"
            }
          },
          "default": {
            "description": "Default Response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        }
      },
      "delete": {
        "x-ms-examples": {
          "Deletes specified Compute quota.": {
            "$ref": "examples/Quotas/Delete.json"
          }
        },
        "tags": [
          "Quotas"
        ],
        "summary": "Deletes specified Compute quota",
        "description": "Delete an existing Compute quota.",
        "operationId": "Quotas_Delete",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "Quotas.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/QuotaParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "default": {
            "description": "Default Response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Compute.Admin/locations/{location}/quotas": {
      "get": {
        "x-ms-examples": {
          "Get a list of existing Compute quotas.": {
            "$ref": "examples/Quotas/List.json"
          }
        },
        "tags": [
          "Quotas"
        ],
        "summary": "Lists all Compute quotas.",
        "description": "Get a list of existing Compute quotas.",
        "operationId": "Quotas_List",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "Quotas.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/LocationParameter"
          },
          {
            "$ref": "Quotas.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "Quotas.json#/definitions/QuotaList"
            }
          },
          "default": {
            "description": "Default Response.",
            "schema": {
              "$ref": "#/definitions/ErrorDetails"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": null
        }
      }
    }
  },
  "definitions": {
    "Quota": {
      "description": "Holds Compute quota information used to control resource allocation.",
      "type": "object",
      "properties": {
        "properties": {
          "description": "Compute Quota properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/QuotaProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "QuotaProperties": {
      "description": "Properties for a Compute Quota",
      "type": "object",
      "properties": {
        "availabilitySetCount": {
          "description": "Maximum number of availability sets allowed.",
          "format": "int32",
          "type": "integer",
          "minimum": 0
        },
        "coresLimit": {
          "description": "Maximum number of cores allowed.",
          "format": "int32",
          "type": "integer",
          "minimum": 0
        },
        "virtualMachineCount": {
          "description": "Maximum number of virtual machines allowed.",
          "format": "int32",
          "type": "integer",
          "minimum": 0
        },
        "vmScaleSetCount": {
          "description": "Maximum number of scale sets allowed.",
          "format": "int32",
          "type": "integer",
          "minimum": 0
        },
        "maxAllocationStandardManagedDisksAndSnapshots": {
          "description": "Maximum number of managed disks and snapshots of type standard allowed.",
          "format": "int32",
          "type": "integer",
          "minimum": 0
        },
        "maxAllocationPremiumManagedDisksAndSnapshots": {
          "description": "Maximum number of managed disks and snapshots of type premium allowed.",
          "format": "int32",
          "type": "integer",
          "minimum": 0
        },
        "ddagpuCount": {
          "description": "Maximum number of dda gpus allowed.",
          "format": "int32",
          "type": "integer",
          "minimum": 0
        },
        "partitionedGpuCount": {
          "description": "Maximum number of partitioned gpus allowed.",
          "format": "int32",
          "type": "integer",
          "minimum": 0
        }
      }
    },
    "QuotaList": {
      "description": "List of Compute quotas",
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "URI to the next page.",
          "type": "string"
        },
        "value": {
          "description": "List of Compute quotas",
          "type": "array",
          "items": {
            "$ref": "Quotas.json#/definitions/Quota"
          }
        }
      }
    },
    "Resource": {
      "description": "Base resource object.",
      "type": "object",
      "properties": {
        "id": {
          "readOnly": true,
          "description": "ID of the resource.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Name of the resource.",
          "type": "string"
        },
        "type": {
          "readOnly": true,
          "description": "Type of Resource.",
          "type": "string"
        },
        "location": {
          "description": "Location of the resource.",
          "type": "string"
        }
      },
      "x-ms-azure-resource": true
    },
    "ErrorDetails": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Object containing error details.",
          "$ref": "#/definitions/ErrorDetailsInternal"
        }
      }
    },
    "ErrorDetailsInternal": {
      "description": "Error details.",
      "type": "object",
      "properties": {
        "code": {
          "description": "The error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "The error message.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "description": "The target of the particular error.",
          "type": "string",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "description": "Subscription credentials that uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
      "required": true,
      "type": "string"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "Client API Version.",
      "required": true,
      "type": "string"
    },
    "LocationParameter": {
      "description": "Location of the resource.",
      "name": "location",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "QuotaParameter": {
      "description": "Name of the quota.",
      "name": "quotaName",
      "type": "string",
      "required": true,
      "in": "path",
      "x-ms-parameter-location": "method"
    },
    "NewQuotaParameter": {
      "description": "New quota to create.",
      "name": "newQuota",
      "in": "body",
      "required": true,
      "schema": {
        "$ref": "#/definitions/Quota"
      },
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Authorization uses an Azure Active Directory OAuth2 flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ]
}
