{
  "swagger": "2.0",
  "info": {
    "title": "AzureArcDataManagementClient",
    "version": "2026-03-01-preview",
    "description": "The AzureArcData management API provides a RESTful set of web APIs to manage Azure Data Services on Azure Arc Resources.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SqlManagedInstances"
    },
    {
      "name": "FailoverGroupResources"
    },
    {
      "name": "SqlServerInstances"
    },
    {
      "name": "SqlServerLicenses"
    },
    {
      "name": "DataControllerResources"
    },
    {
      "name": "ActiveDirectoryConnectorResources"
    },
    {
      "name": "PostgresInstances"
    },
    {
      "name": "SqlServerAvailabilityGroupResources"
    },
    {
      "name": "SqlServerDatabaseResources"
    },
    {
      "name": "SqlServerEsuLicenses"
    }
  ],
  "paths": {
    "/providers/Microsoft.AzureArcData/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available Azure Data Services on Azure Arc API operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all of the available Azure Data Services on Azure Arc API operations.": {
            "$ref": "./examples/ListOperation.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureArcData/dataControllers": {
      "get": {
        "operationId": "DataControllers_ListInSubscription",
        "tags": [
          "DataControllerResources"
        ],
        "summary": "List dataController resources in the subscription",
        "description": "List dataController resources in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PageOfDataControllerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all dataControllers in a subscription.": {
            "$ref": "./examples/ListSubscriptionDataController.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureArcData/postgresInstances": {
      "get": {
        "operationId": "PostgresInstances_List",
        "tags": [
          "PostgresInstances"
        ],
        "summary": "List postgres Instance resources in the subscription",
        "description": "List postgres Instance resources in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostgresInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all Postgres Instance in a subscription.": {
            "$ref": "./examples/ListSubscriptionPostgresInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureArcData/sqlManagedInstances": {
      "get": {
        "operationId": "SqlManagedInstances_List",
        "tags": [
          "SqlManagedInstances"
        ],
        "summary": "List sqlManagedInstance resources in the subscription",
        "description": "List sqlManagedInstance resources in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlManagedInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all SQL Instance in a subscription.": {
            "$ref": "./examples/ListSubscriptionSqlManagedInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureArcData/sqlServerEsuLicenses": {
      "get": {
        "operationId": "SqlServerEsuLicenses_List",
        "tags": [
          "SqlServerEsuLicenses"
        ],
        "summary": "List sqlServerEsuLicense resources in the subscription",
        "description": "List sqlServerEsuLicense resources in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerEsuLicenseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all SQL Server ESU licenses in a subscription.": {
            "$ref": "./examples/ListSubscriptionSqlServerEsuLicense.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureArcData/sqlServerInstances": {
      "get": {
        "operationId": "SqlServerInstances_List",
        "tags": [
          "SqlServerInstances"
        ],
        "summary": "List sqlServerInstance resources in the subscription",
        "description": "List sqlServerInstance resources in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all SQL Server Instance in a subscription.": {
            "$ref": "./examples/ListSubscriptionSqlServerInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.AzureArcData/sqlServerLicenses": {
      "get": {
        "operationId": "SqlServerLicenses_List",
        "tags": [
          "SqlServerLicenses"
        ],
        "summary": "List sqlServerLicense resources in the subscription",
        "description": "List sqlServerLicense resources in the subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerLicenseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all SQL Server license in a subscription.": {
            "$ref": "./examples/ListSubscriptionSqlServerLicense.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers": {
      "get": {
        "operationId": "DataControllers_ListInGroup",
        "tags": [
          "DataControllerResources"
        ],
        "summary": "List dataController resources in the resource group",
        "description": "List dataController resources in the resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PageOfDataControllerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all dataControllers in a resource group.": {
            "$ref": "./examples/ListByResourceGroupDataController.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}": {
      "get": {
        "operationId": "DataControllers_GetDataController",
        "tags": [
          "DataControllerResources"
        ],
        "description": "Retrieves a dataController resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataControllerName",
            "in": "path",
            "description": "The name of the data controller",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataControllerResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a data controller.": {
            "$ref": "./examples/GetDataController.json"
          }
        }
      },
      "put": {
        "operationId": "DataControllers_PutDataController",
        "tags": [
          "DataControllerResources"
        ],
        "description": "Creates or replaces a dataController resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataControllerName",
            "in": "path",
            "description": "The name of the data controller",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataControllerResource",
            "in": "body",
            "description": "desc",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataControllerResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DataControllerResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataControllerResource"
            }
          },
          "201": {
            "description": "Resource 'DataControllerResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DataControllerResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a Data Controller.": {
            "$ref": "./examples/CreateOrUpdateDataController.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/DataControllerResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DataControllers_PatchDataController",
        "tags": [
          "DataControllerResources"
        ],
        "description": "Updates a dataController resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataControllerName",
            "in": "path",
            "description": "The name of the data controller",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataControllerResource",
            "in": "body",
            "description": "The update data controller resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataControllerUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataControllerResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a dataController tags.": {
            "$ref": "./examples/UpdateDataController.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/DataControllerResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DataControllers_DeleteDataController",
        "tags": [
          "DataControllerResources"
        ],
        "description": "Deletes a dataController resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataControllerName",
            "in": "path",
            "description": "The name of the data controller",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a dataController.": {
            "$ref": "./examples/DeleteDataController.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}/activeDirectoryConnectors": {
      "get": {
        "operationId": "ActiveDirectoryConnectors_List",
        "tags": [
          "ActiveDirectoryConnectorResources"
        ],
        "summary": "List the active directory connectors associated with the given data controller.",
        "description": "List the active directory connectors associated with the given data controller.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataControllerName",
            "in": "path",
            "description": "The name of the data controller",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConnectorListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all Active Directory connectors associated with a data controller.": {
            "$ref": "./examples/ListByDataControllerActiveDirectoryConnector.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/dataControllers/{dataControllerName}/activeDirectoryConnectors/{activeDirectoryConnectorName}": {
      "get": {
        "operationId": "ActiveDirectoryConnectors_Get",
        "tags": [
          "ActiveDirectoryConnectorResources"
        ],
        "description": "Retrieves an Active Directory connector resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataControllerName",
            "in": "path",
            "description": "The name of the data controller",
            "required": true,
            "type": "string"
          },
          {
            "name": "activeDirectoryConnectorName",
            "in": "path",
            "description": "The name of the Active Directory connector instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConnectorResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves an Active Directory connector resource.": {
            "$ref": "./examples/GetActiveDirectoryConnector.json"
          }
        }
      },
      "put": {
        "operationId": "ActiveDirectoryConnectors_Create",
        "tags": [
          "ActiveDirectoryConnectorResources"
        ],
        "description": "Creates or replaces an Active Directory connector resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataControllerName",
            "in": "path",
            "description": "The name of the data controller",
            "required": true,
            "type": "string"
          },
          {
            "name": "activeDirectoryConnectorName",
            "in": "path",
            "description": "The name of the Active Directory connector instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "activeDirectoryConnectorResource",
            "in": "body",
            "description": "desc",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConnectorResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'ActiveDirectoryConnectorResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConnectorResource"
            }
          },
          "201": {
            "description": "Resource 'ActiveDirectoryConnectorResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/ActiveDirectoryConnectorResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update an Active Directory connector instance.": {
            "$ref": "./examples/CreateOrUpdateActiveDirectoryConnector.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/ActiveDirectoryConnectorResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "ActiveDirectoryConnectors_Delete",
        "tags": [
          "ActiveDirectoryConnectorResources"
        ],
        "description": "Deletes an Active Directory connector resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dataControllerName",
            "in": "path",
            "description": "The name of the data controller",
            "required": true,
            "type": "string"
          },
          {
            "name": "activeDirectoryConnectorName",
            "in": "path",
            "description": "The name of the Active Directory connector instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an Active Directory connector instance.": {
            "$ref": "./examples/DeleteActiveDirectoryConnector.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/postgresInstances": {
      "get": {
        "operationId": "PostgresInstances_ListByResourceGroup",
        "tags": [
          "PostgresInstances"
        ],
        "summary": "List postgres Instance resources in the resource group",
        "description": "Get a postgres Instances list by Resource group name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostgresInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all postgres Instances in a resource group.": {
            "$ref": "./examples/ListByResourceGroupPostgresInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/postgresInstances/{postgresInstanceName}": {
      "get": {
        "operationId": "PostgresInstances_Get",
        "tags": [
          "PostgresInstances"
        ],
        "description": "Retrieves a postgres Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "postgresInstanceName",
            "in": "path",
            "description": "Name of Postgres Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostgresInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a postgres Instances.": {
            "$ref": "./examples/GetPostgresInstance.json"
          }
        }
      },
      "put": {
        "operationId": "PostgresInstances_Create",
        "tags": [
          "PostgresInstances"
        ],
        "description": "Creates or replaces a postgres Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "postgresInstanceName",
            "in": "path",
            "description": "Name of Postgres Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "The postgres instance",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostgresInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PostgresInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PostgresInstance"
            }
          },
          "201": {
            "description": "Resource 'PostgresInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PostgresInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a Postgres Instance.": {
            "$ref": "./examples/CreateOrUpdatePostgresInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/PostgresInstance"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "PostgresInstances_Update",
        "tags": [
          "PostgresInstances"
        ],
        "description": "Updates a postgres Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "postgresInstanceName",
            "in": "path",
            "description": "Name of Postgres Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The Postgres Instance.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostgresInstanceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostgresInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a postgres Instances tags.": {
            "$ref": "./examples/UpdatePostgresInstance.json"
          }
        }
      },
      "delete": {
        "operationId": "PostgresInstances_Delete",
        "tags": [
          "PostgresInstances"
        ],
        "description": "Deletes a postgres Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "postgresInstanceName",
            "in": "path",
            "description": "Name of Postgres Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a PostgresInstances.": {
            "$ref": "./examples/DeletePostgresInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlManagedInstances": {
      "get": {
        "operationId": "SqlManagedInstances_ListByResourceGroup",
        "tags": [
          "SqlManagedInstances"
        ],
        "summary": "List sqlManagedInstance resources in the resource group",
        "description": "Gets all sqlManagedInstances in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlManagedInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all SQL Instance in a resource group.": {
            "$ref": "./examples/ListByResourceGroupSqlManagedInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlManagedInstances/{sqlManagedInstanceName}": {
      "get": {
        "operationId": "SqlManagedInstances_Get",
        "tags": [
          "SqlManagedInstances"
        ],
        "description": "Retrieves a SQL Managed Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlManagedInstanceName",
            "in": "path",
            "description": "Name of SQL Managed Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlManagedInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a SQL Instance tags.": {
            "$ref": "./examples/GetSqlManagedInstance.json"
          }
        }
      },
      "put": {
        "operationId": "SqlManagedInstances_Create",
        "tags": [
          "SqlManagedInstances"
        ],
        "description": "Creates or replaces a SQL Managed Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlManagedInstanceName",
            "in": "path",
            "description": "Name of SQL Managed Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "sqlManagedInstance",
            "in": "body",
            "description": "The SQL Managed Instance to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlManagedInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SqlManagedInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlManagedInstance"
            }
          },
          "201": {
            "description": "Resource 'SqlManagedInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlManagedInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a SQL Managed Instance": {
            "$ref": "./examples/CreateOrUpdateSqlManagedInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/SqlManagedInstance"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SqlManagedInstances_Update",
        "tags": [
          "SqlManagedInstances"
        ],
        "description": "Updates a SQL Managed Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlManagedInstanceName",
            "in": "path",
            "description": "Name of SQL Managed Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The SQL Managed Instance.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlManagedInstanceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlManagedInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a sql Instance tags.": {
            "$ref": "./examples/UpdateSqlManagedInstance.json"
          }
        }
      },
      "delete": {
        "operationId": "SqlManagedInstances_Delete",
        "tags": [
          "SqlManagedInstances"
        ],
        "description": "Deletes a SQL Managed Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlManagedInstanceName",
            "in": "path",
            "description": "Name of SQL Managed Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SQL Instance.": {
            "$ref": "./examples/DeleteSqlManagedInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlManagedInstances/{sqlManagedInstanceName}/failoverGroups": {
      "get": {
        "operationId": "FailoverGroups_List",
        "tags": [
          "FailoverGroupResources"
        ],
        "summary": "List the failover groups associated with the given sql managed instance.",
        "description": "List the failover groups associated with the given sql managed instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlManagedInstanceName",
            "in": "path",
            "description": "Name of SQL Managed Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FailoverGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all failover groups associated with a sql managed instance.": {
            "$ref": "./examples/ListBySqlManagedInstanceFailoverGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlManagedInstances/{sqlManagedInstanceName}/failoverGroups/{failoverGroupName}": {
      "get": {
        "operationId": "FailoverGroups_Get",
        "tags": [
          "FailoverGroupResources"
        ],
        "description": "Retrieves a failover group resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlManagedInstanceName",
            "in": "path",
            "description": "Name of SQL Managed Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "failoverGroupName",
            "in": "path",
            "description": "The name of the Failover Group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FailoverGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves a failover group resource.": {
            "$ref": "./examples/GetFailoverGroup.json"
          }
        }
      },
      "put": {
        "operationId": "FailoverGroups_Create",
        "tags": [
          "FailoverGroupResources"
        ],
        "description": "Creates or replaces a failover group resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlManagedInstanceName",
            "in": "path",
            "description": "Name of SQL Managed Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "failoverGroupName",
            "in": "path",
            "description": "The name of the Failover Group",
            "required": true,
            "type": "string"
          },
          {
            "name": "failoverGroupResource",
            "in": "body",
            "description": "desc",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FailoverGroupResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FailoverGroupResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FailoverGroupResource"
            }
          },
          "201": {
            "description": "Resource 'FailoverGroupResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FailoverGroupResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a failover group instance.": {
            "$ref": "./examples/CreateOrUpdateFailoverGroup.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FailoverGroupResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "FailoverGroups_Delete",
        "tags": [
          "FailoverGroupResources"
        ],
        "description": "Deletes a failover group resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlManagedInstanceName",
            "in": "path",
            "description": "Name of SQL Managed Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "failoverGroupName",
            "in": "path",
            "description": "The name of the Failover Group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a failover group instance.": {
            "$ref": "./examples/DeleteFailoverGroup.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerEsuLicenses": {
      "get": {
        "operationId": "SqlServerEsuLicenses_ListByResourceGroup",
        "tags": [
          "SqlServerEsuLicenses"
        ],
        "summary": "List sqlServerEsuLicense resources in the resource group",
        "description": "Gets all sqlServerEsuLicenses in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerEsuLicenseListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all SQL Server ESU licenses in a resource group.": {
            "$ref": "./examples/ListByResourceGroupSqlServerEsuLicense.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerEsuLicenses/{sqlServerEsuLicenseName}": {
      "get": {
        "operationId": "SqlServerEsuLicenses_Get",
        "tags": [
          "SqlServerEsuLicenses"
        ],
        "description": "Retrieves a SQL Server ESU license resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerEsuLicenseName",
            "in": "path",
            "description": "Name of SQL Server ESU License",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerEsuLicense"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets a SQL Server ESU license.": {
            "$ref": "./examples/GetSqlServerEsuLicense.json"
          }
        }
      },
      "put": {
        "operationId": "SqlServerEsuLicenses_Create",
        "tags": [
          "SqlServerEsuLicenses"
        ],
        "description": "Creates or replaces a SQL Server ESU license resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerEsuLicenseName",
            "in": "path",
            "description": "Name of SQL Server ESU License",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "sqlServerEsuLicense",
            "in": "body",
            "description": "The SQL Server ESU license to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerEsuLicense"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SqlServerEsuLicense' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlServerEsuLicense"
            }
          },
          "201": {
            "description": "Resource 'SqlServerEsuLicense' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlServerEsuLicense"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a SQL Server ESU license.": {
            "$ref": "./examples/CreateOrUpdateSqlServerEsuLicense.json"
          }
        }
      },
      "patch": {
        "operationId": "SqlServerEsuLicenses_Update",
        "tags": [
          "SqlServerEsuLicenses"
        ],
        "description": "Updates a SQL Server ESU license resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerEsuLicenseName",
            "in": "path",
            "description": "Name of SQL Server ESU License",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The SQL Server ESU license.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerEsuLicenseUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerEsuLicense"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Patch a SQL Server ESU license.": {
            "$ref": "./examples/UpdateSqlServerEsuLicense.json"
          }
        }
      },
      "delete": {
        "operationId": "SqlServerEsuLicenses_Delete",
        "tags": [
          "SqlServerEsuLicenses"
        ],
        "description": "Deletes a SQL Server ESU license resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerEsuLicenseName",
            "in": "path",
            "description": "Name of SQL Server ESU License",
            "required": true,
            "type": "string",
            "pattern": "^[-\\w\\._\\(\\)]+$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SQL Server ESU license.": {
            "$ref": "./examples/DeleteSqlServerEsuLicense.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances": {
      "get": {
        "operationId": "SqlServerInstances_ListByResourceGroup",
        "tags": [
          "SqlServerInstances"
        ],
        "summary": "List sqlServerInstance resources in the resource group",
        "description": "Gets all sqlServerInstances in a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerInstanceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all SQL Server Instance in a resource group.": {
            "$ref": "./examples/ListByResourceGroupSqlServerInstance.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}": {
      "get": {
        "operationId": "SqlServerInstances_Get",
        "tags": [
          "SqlServerInstances"
        ],
        "description": "Retrieves a SQL Server Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerInstance"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a SQL Server Instance tags.": {
            "$ref": "./examples/GetSqlServerInstance.json"
          }
        }
      },
      "put": {
        "operationId": "SqlServerInstances_Create",
        "tags": [
          "SqlServerInstances"
        ],
        "description": "Creates or replaces a SQL Server Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "sqlServerInstance",
            "in": "body",
            "description": "The SQL Server Instance to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerInstance"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SqlServerInstance' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlServerInstance"
            }
          },
          "201": {
            "description": "Resource 'SqlServerInstance' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlServerInstance"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a SQL Server Instance tags.": {
            "$ref": "./examples/CreateOrUpdateSqlServerInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/SqlServerInstance"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SqlServerInstances_Update",
        "tags": [
          "SqlServerInstances"
        ],
        "description": "Updates a SQL Server Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "parameters",
            "in": "body",
            "description": "The SQL Server Instance.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerInstanceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerInstance"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates a SQL Server Instance tags.": {
            "$ref": "./examples/UpdateSqlServerInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/SqlServerInstance"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SqlServerInstances_Delete",
        "tags": [
          "SqlServerInstances"
        ],
        "description": "Deletes a SQL Server Instance resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a SQL Server Instance.": {
            "$ref": "./examples/DeleteSqlServerInstance.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups": {
      "get": {
        "operationId": "SqlServerAvailabilityGroups_List",
        "tags": [
          "SqlServerAvailabilityGroupResources"
        ],
        "summary": "List the availability group associated with the given Arc Sql Server.",
        "description": "List the availability group associated with the given Arc Sql Server.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ArcSqlServerAvailabilityGroupListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Gets all availability groups associated with an Arc Enabled Sql server.": {
            "$ref": "./examples/ListBySqlServerInstanceAvailabilityGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups/{availabilityGroupName}": {
      "get": {
        "operationId": "SqlServerAvailabilityGroups_Get",
        "tags": [
          "SqlServerAvailabilityGroupResources"
        ],
        "description": "Retrieves an Arc Sql Server availability group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilityGroupName",
            "in": "path",
            "description": "Name of SQL Availability Group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves an Arc Sql Server availability group resource.": {
            "$ref": "./examples/GetArcSqlServerAvailabilityGroup.json"
          }
        }
      },
      "put": {
        "operationId": "SqlServerAvailabilityGroups_Create",
        "tags": [
          "SqlServerAvailabilityGroupResources"
        ],
        "description": "Creates or replaces an Arc Sql Server Availability Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilityGroupName",
            "in": "path",
            "description": "Name of SQL Availability Group",
            "required": true,
            "type": "string"
          },
          {
            "name": "sqlServerAvailabilityGroupResource",
            "in": "body",
            "description": "The request body for availability group resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SqlServerAvailabilityGroupResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "201": {
            "description": "Resource 'SqlServerAvailabilityGroupResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Arc Sql Server availability group.": {
            "$ref": "./examples/CreateOrUpdateArcSqlServerAvailabilityGroup.json"
          }
        }
      },
      "patch": {
        "operationId": "SqlServerAvailabilityGroups_Update",
        "tags": [
          "SqlServerAvailabilityGroupResources"
        ],
        "description": "Updates an existing Availability Group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilityGroupName",
            "in": "path",
            "description": "Name of SQL Availability Group",
            "required": true,
            "type": "string"
          },
          {
            "name": "sqlServerAvailabilityGroupUpdate",
            "in": "body",
            "description": "The requested server availability group resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update an availability group.": {
            "$ref": "./examples/UpdateArcSqlServerAvailabilityGroup.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/SqlServerAvailabilityGroupResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "SqlServerAvailabilityGroups_Delete",
        "tags": [
          "SqlServerAvailabilityGroupResources"
        ],
        "description": "Deletes an Arc Sql Server availability group resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilityGroupName",
            "in": "path",
            "description": "Name of SQL Availability Group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a availability group resource": {
            "$ref": "./examples/DeleteArcSqlServerAvailabilityGroup.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups/{availabilityGroupName}/addDatabases": {
      "post": {
        "operationId": "SqlServerAvailabilityGroups_AddDatabases",
        "tags": [
          "SqlServerAvailabilityGroupResources"
        ],
        "description": "Request adding database(s) to an existing availability group.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilityGroupName",
            "in": "path",
            "description": "Name of SQL Availability Group",
            "required": true,
            "type": "string"
          },
          {
            "name": "databases",
            "in": "body",
            "description": "The database names to add to the SQL Server availability group resource.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/databases"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "add databases to this availability group.": {
            "$ref": "./examples/AddDatabasesToAvailabilityGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups/{availabilityGroupName}/deleteMiLink": {
      "post": {
        "operationId": "SqlServerAvailabilityGroups_deleteMiLink",
        "tags": [
          "SqlServerAvailabilityGroupResources"
        ],
        "description": "Deletes the MI Link between an Azure Arc-enabled SQL Server and an Azure SQL Managed Instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilityGroupName",
            "in": "path",
            "description": "Name of SQL Availability Group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "format": "uri",
                "description": "A link to the status monitor"
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fail over from an Arc Sql Server availability group to a Managed Instance.": {
            "$ref": "./examples/DeleteMiLink.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups/{availabilityGroupName}/failover": {
      "post": {
        "operationId": "SqlServerAvailabilityGroups_Failover",
        "tags": [
          "SqlServerAvailabilityGroupResources"
        ],
        "description": "Request manual failover of the availability group to this server.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "sqlServerInstanceName",
            "in": "path",
            "description": "Name of SQL Server Instance",
            "required": true,
            "type": "string"
          },
          {
            "name": "availabilityGroupName",
            "in": "path",
            "description": "Name of SQL Availability Group",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
[...]
