{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.ApplicationMigration management service",
    "version": "2025-02-01-preview",
    "description": "Microsoft.ApplicationMigration Resource Provider management API.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "DiscoveryHubs"
    },
    {
      "name": "Applications"
    },
    {
      "name": "Members"
    }
  ],
  "paths": {
    "/providers/Microsoft.ApplicationMigration/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet - generated by [MaximumSet] rule": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MaximumSet - generated by [MinimumSet] rule": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/discoveryHubs": {
      "get": {
        "operationId": "DiscoveryHubs_ListBySubscription",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Lists all DiscoveryHub resources in the specified subscription.",
        "description": "List DiscoveryHub resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryHubListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all DiscoveryHub resources in the specified subscription. - generated by [MaximumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_ListBySubscription_MaximumSet_Gen.json"
          },
          "Lists all DiscoveryHub resources in the specified subscription. - generated by [MinimumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications": {
      "get": {
        "operationId": "Applications_ListBySubscription",
        "tags": [
          "Applications"
        ],
        "summary": "Lists Application resources by subscription.",
        "description": "List Application resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists Application resources by subscription. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Applications_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs": {
      "get": {
        "operationId": "DiscoveryHubs_ListByResourceGroup",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Lists all DiscoveryHub resources in the specified resource group.",
        "description": "List DiscoveryHub resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryHubListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists all DiscoveryHub resources in the specified resource group. - generated by [MaximumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Lists all DiscoveryHub resources in the specified resource group. - generated by [MinimumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}": {
      "get": {
        "operationId": "DiscoveryHubs_Get",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Retrieves the specified DiscoveryHub resource.",
        "description": "Get a DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves the specified DiscoveryHub resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DiscoveryHubs_CreateOrUpdate",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Creates or updates a DiscoveryHub resource.",
        "description": "Create a DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DiscoveryHub' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          },
          "201": {
            "description": "Resource 'DiscoveryHub' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates a DiscoveryHub resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "DiscoveryHubs_Update",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Updates the specified properties of a DiscoveryHub resource.",
        "description": "Update a DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoveryHubUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryHub"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates the specified properties of a DiscoveryHub resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DiscoveryHubs_Delete",
        "tags": [
          "DiscoveryHubs"
        ],
        "summary": "Deletes the specified DiscoveryHub resource.",
        "description": "Delete a DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes the specified DiscoveryHub resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/DiscoveryHubs_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications": {
      "get": {
        "operationId": "Applications_ListByResourceGroup",
        "tags": [
          "Applications"
        ],
        "summary": "Lists Application resources by resource group.",
        "description": "List Application resources by DiscoveryHub",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ApplicationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Lists Application resources by resource group. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Applications_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications/{applicationName}": {
      "get": {
        "operationId": "Applications_Get",
        "tags": [
          "Applications"
        ],
        "summary": "Retrieves an Application resource.",
        "description": "Get a Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves an Application resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Applications_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Applications_CreateOrUpdate",
        "tags": [
          "Applications"
        ],
        "summary": "Creates or updates an Application resource synchronously.",
        "description": "Create a Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Application' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "201": {
            "description": "Resource 'Application' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Creates or updates an Application resource synchronously. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Applications_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Applications_Update",
        "tags": [
          "Applications"
        ],
        "summary": "Updates an Application resource synchronously.",
        "description": "Update a Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ApplicationUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Updates an Application resource synchronously. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Applications_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Applications_Delete",
        "tags": [
          "Applications"
        ],
        "summary": "Deletes an Application resource synchronously.",
        "description": "Delete a Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes an Application resource synchronously. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Applications_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications/{applicationName}/members": {
      "get": {
        "operationId": "Members_ListByApplication",
        "tags": [
          "Members"
        ],
        "summary": "List members in an Application.",
        "description": "List Member resources by Application",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/MemberListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List members in an Application. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Members_ListByApplication_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApplicationMigration/discoveryHubs/{discoveryHubName}/applications/{applicationName}/members/{memberName}": {
      "get": {
        "operationId": "Members_Get",
        "tags": [
          "Members"
        ],
        "summary": "Get a member resource.",
        "description": "Get a Member",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "memberName",
            "in": "path",
            "description": "The name of the Member",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a member resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Members_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Members_CreateOrUpdate",
        "tags": [
          "Members"
        ],
        "summary": "Create or update a member resource.",
        "description": "Create a Member",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "memberName",
            "in": "path",
            "description": "The name of the Member",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Member' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "201": {
            "description": "Resource 'Member' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a member resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Members_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "Members_Update",
        "tags": [
          "Members"
        ],
        "summary": "Update a member resource.",
        "description": "Update a Member",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "memberName",
            "in": "path",
            "description": "The name of the Member",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MemberUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a member resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Members_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "Members_Delete",
        "tags": [
          "Members"
        ],
        "summary": "Delete a member resource.",
        "description": "Delete a Member",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryHubName",
            "in": "path",
            "description": "The name of the DiscoveryHub",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "applicationName",
            "in": "path",
            "description": "The name of the Application",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          },
          {
            "name": "memberName",
            "in": "path",
            "description": "The name of the Member",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a member resource. - generated by [MaximumSet] rule": {
            "$ref": "./examples/Members_Delete_MaximumSet_Gen.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Application": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ApplicationListResult": {
      "type": "object",
      "description": "The response of a Application list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Application items on this page",
          "items": {
            "$ref": "#/definitions/Application"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ApplicationProperties": {
      "type": "object",
      "description": "Model representing the properties of an application.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the application."
        },
        "tags": {
          "type": "object",
          "description": "The tags of the application.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "The description of the application."
        },
        "publisher": {
          "type": "string",
          "description": "The publisher of the application."
        },
        "applicationType": {
          "$ref": "#/definitions/ApplicationType",
          "description": "The type of the application."
        },
        "technologyStack": {
          "type": "array",
          "description": "The technology stack of the application.",
          "items": {
            "type": "string"
          }
        },
        "businessCriticality": {
          "$ref": "#/definitions/BusinessCriticality",
          "description": "The business criticality of the application."
        },
        "complexity": {
          "$ref": "#/definitions/Complexity",
          "description": "The complexity of the application."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning status of Application.",
          "readOnly": true
        }
      }
    },
    "ApplicationType": {
      "type": "string",
      "description": "The enum defining type of application.",
      "enum": [
        "COTS",
        "Custom"
      ],
      "x-ms-enum": {
        "name": "ApplicationType",
        "modelAsString": true,
        "values": [
          {
            "name": "COTS",
            "value": "COTS",
            "description": "The application is a Commercial Off the Shelf application."
          },
          {
            "name": "Custom",
            "value": "Custom",
            "description": "The application is a custom developed application."
          }
        ]
      }
    },
    "ApplicationUpdate": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ApplicationProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/Resource"
        }
      ]
    },
    "BusinessCriticality": {
      "type": "string",
      "description": "The enum defining the business criticality of the application.",
      "enum": [
        "Low",
        "Medium",
        "High"
      ],
      "x-ms-enum": {
        "name": "BusinessCriticality",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low",
            "description": "The application has low criticality for the business."
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "The application has medium criticality for the business."
          },
          {
            "name": "High",
            "value": "High",
            "description": "The application is highly critical for the business."
          }
        ]
      }
    },
    "Complexity": {
      "type": "string",
      "description": "The enum defining the complexity of the application.",
      "enum": [
        "Low",
        "Medium",
        "High"
      ],
      "x-ms-enum": {
        "name": "Complexity",
        "modelAsString": true,
        "values": [
          {
            "name": "Low",
            "value": "Low",
            "description": "The application is simple, with minimal dependencies and straightforward functionality."
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "The application has moderate interdependencies and requires some coordination between components."
          },
          {
            "name": "High",
            "value": "High",
            "description": "The application is intricate, with multiple interdependent components and complex interactions."
          }
        ]
      }
    },
    "DiscoveryHub": {
      "type": "object",
      "description": "The top level management resource for Application Discovery.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoveryHubProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DiscoveryHubListResult": {
      "type": "object",
      "description": "The response of a DiscoveryHub list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DiscoveryHub items on this page",
          "items": {
            "$ref": "#/definitions/DiscoveryHub"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DiscoveryHubProperties": {
      "type": "object",
      "description": "The properties of the DiscoveryHub resource.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the DiscoveryHub resource.",
          "readOnly": true
        }
      }
    },
    "DiscoveryHubUpdate": {
      "type": "object",
      "description": "The top level management resource for Application Discovery.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoveryHubProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "Member": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MemberProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "MemberListResult": {
      "type": "object",
      "description": "The response of a Member list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Member items on this page",
          "items": {
            "$ref": "#/definitions/Member"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "MemberProperties": {
      "type": "object",
      "description": "Model representing the properties of a member.",
      "properties": {
        "memberResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The Azure resource id of the member."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning status of Application.",
          "readOnly": true
        }
      },
      "required": [
        "memberResourceId"
      ]
    },
    "MemberPropertiesUpdate": {
      "type": "object",
      "description": "Model representing the properties of a member.",
      "properties": {
        "memberResourceId": {
          "type": "string",
          "format": "arm-id",
          "description": "The Azure resource id of the member."
        }
      }
    },
    "MemberUpdate": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/MemberPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The resource provisioning state.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Provisioning",
            "value": "Provisioning",
            "description": "The resource is being provisioned."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "The resource is updating."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The resource is being deleted."
          },
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "The resource create request has been accepted."
          }
        ]
      },
      "readOnly": true
    }
  },
  "parameters": {}
}
