{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft ESRP",
    "version": "2023-05-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "UnifiedEnterpriseSupports"
    }
  ],
  "paths": {
    "/providers/Microsoft.EnterpriseSupport/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ListOperations": {
            "$ref": "./examples/Operations_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.EnterpriseSupport/unifiedEnterpriseSupport": {
      "get": {
        "tags": [
          "UnifiedEnterpriseSupports"
        ],
        "operationId": "UnifiedEnterpriseSupports_ListBySubscription",
        "description": "List UnifiedEnterpriseSupport resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UnifiedEnterpriseSupportListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "UnifiedEnterpriseSupports_ListBySubscription": {
            "$ref": "./examples/UnifiedEnterpriseSupports_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseSupport/unifiedEnterpriseSupport": {
      "get": {
        "tags": [
          "UnifiedEnterpriseSupports"
        ],
        "operationId": "UnifiedEnterpriseSupports_ListByResourceGroup",
        "description": "List UnifiedEnterpriseSupport resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UnifiedEnterpriseSupportListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "UnifiedEnterpriseSupports_ListByResourceGroup": {
            "$ref": "./examples/UnifiedEnterpriseSupports_ListByResourceGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EnterpriseSupport/unifiedEnterpriseSupport/{unifiedEnterpriseSupportName}": {
      "get": {
        "tags": [
          "UnifiedEnterpriseSupports"
        ],
        "operationId": "UnifiedEnterpriseSupports_Get",
        "description": "Get a UnifiedEnterpriseSupport",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "unifiedEnterpriseSupportName",
            "in": "path",
            "required": true,
            "description": "The name of the Unified Enterprise Support",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UnifiedEnterpriseSupport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GetUnifiedEnterpriseSupport": {
            "$ref": "./examples/UnifiedEnterpriseSupports_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "UnifiedEnterpriseSupports"
        ],
        "operationId": "UnifiedEnterpriseSupports_CreateOrUpdate",
        "description": "Create a UnifiedEnterpriseSupport",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "unifiedEnterpriseSupportName",
            "in": "path",
            "required": true,
            "description": "The name of the Unified Enterprise Support",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "required": true,
            "description": "Resource create parameters.",
            "schema": {
              "$ref": "#/definitions/UnifiedEnterpriseSupport"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation update completed successfully.",
            "schema": {
              "$ref": "#/definitions/UnifiedEnterpriseSupport"
            }
          },
          "201": {
            "description": "ARM create operation completed successfully.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              }
            },
            "schema": {
              "$ref": "#/definitions/UnifiedEnterpriseSupport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CreateUnifiedEnterpriseSupport": {
            "$ref": "./examples/UnifiedEnterpriseSupports_CreateOrUpdate.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "UnifiedEnterpriseSupports"
        ],
        "operationId": "UnifiedEnterpriseSupports_Update",
        "description": "Update a UnifiedEnterpriseSupport",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "unifiedEnterpriseSupportName",
            "in": "path",
            "required": true,
            "description": "The name of the Unified Enterprise Support",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The resource properties to be updated.",
            "schema": {
              "$ref": "#/definitions/UnifiedEnterpriseSupportUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/UnifiedEnterpriseSupport"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "UpdateUnifiedEnterpriseSupport": {
            "$ref": "./examples/UnifiedEnterpriseSupports_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "UnifiedEnterpriseSupports"
        ],
        "operationId": "UnifiedEnterpriseSupports_Delete",
        "description": "Delete a UnifiedEnterpriseSupport",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "unifiedEnterpriseSupportName",
            "in": "path",
            "required": true,
            "description": "The name of the Unified Enterprise Support",
            "pattern": "^[a-zA-Z0-9-]{3,24}$",
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The Location header contains the URL where the status of the long running operation can be checked.",
                "type": "string"
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeleteUnifiedEnterpriseSupport": {
            "$ref": "./examples/UnifiedEnterpriseSupports_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "description": "The status of the current operation.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Provisioning",
        "Updating",
        "Deleting",
        "Accepted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "UnifiedEnterpriseSupport": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/UnifiedEnterpriseSupportResponseProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        }
      },
      "description": "A ESRPProviderHub resource",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "UnifiedEnterpriseSupportListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UnifiedEnterpriseSupport"
          },
          "x-typespec-name": "UnifiedEnterpriseSupport[]",
          "description": "The UnifiedEnterpriseSupport items on this page"
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items",
          "x-typespec-name": "TypeSpec.Rest.ResourceLocation"
        }
      },
      "description": "The response of a UnifiedEnterpriseSupport list operation.",
      "required": [
        "value"
      ]
    },
    "UnifiedEnterpriseSupportResponseProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning status"
        },
        "billingAccountId": {
          "type": "string",
          "description": "Billing Account ID"
        },
        "billingGroupId": {
          "type": "string",
          "description": "Billing Group ID"
        },
        "projectId": {
          "type": "string",
          "description": "Invoice section for the billing account"
        },
        "productId": {
          "type": "string",
          "description": "BicCat product ID"
        },
        "skuId": {
          "type": "string",
          "description": "BigCat SKU ID"
        },
        "availabilityId": {
          "type": "string",
          "description": "BigCat availability ID"
        },
        "termId": {
          "type": "string",
          "description": "BigCat Term ID"
        },
        "quantity": {
          "description": "Quantity for the purchase"
        },
        "serviceStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Service start date for Unified Enterprise Support"
        },
        "csam": {
          "type": "string",
          "description": "CSAM for the Unified Enterprise Support"
        }
      },
      "description": "Details of the ESRP UnifiedEnterpriseSupport.",
      "required": [
        "billingAccountId",
        "billingGroupId",
        "projectId",
        "productId",
        "skuId",
        "availabilityId",
        "termId",
        "quantity",
        "serviceStartDate",
        "csam"
      ]
    },
    "UnifiedEnterpriseSupportUpdate": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "x-typespec-name": "Record<string>",
          "description": "Resource tags."
        },
        "properties": {
          "$ref": "#/definitions/UnifiedEnterpriseSupportUpdateProperties",
          "x-ms-client-flatten": true
        }
      },
      "description": "The type used for update operations of the UnifiedEnterpriseSupport."
    },
    "UnifiedEnterpriseSupportUpdateProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning status"
        },
        "billingAccountId": {
          "type": "string",
          "description": "Billing Account ID"
        },
        "billingGroupId": {
          "type": "string",
          "description": "Billing Group ID"
        },
        "projectId": {
          "type": "string",
          "description": "Invoice section for the billing account"
        },
        "productId": {
          "type": "string",
          "description": "BicCat product ID"
        },
        "skuId": {
          "type": "string",
          "description": "BigCat SKU ID"
        },
        "availabilityId": {
          "type": "string",
          "description": "BigCat availability ID"
        },
        "termId": {
          "type": "string",
          "description": "BigCat Term ID"
        },
        "quantity": {
          "description": "Quantity for the purchase"
        },
        "serviceStartDate": {
          "type": "string",
          "format": "date-time",
          "description": "Service start date for Unified Enterprise Support"
        },
        "csam": {
          "type": "string",
          "description": "CSAM for the Unified Enterprise Support"
        }
      },
      "description": "The updatable properties of the UnifiedEnterpriseSupport."
    }
  },
  "parameters": {}
}
