{
  "swagger": "2.0",
  "info": {
    "title": "PaloAltoNetworks.Cloudngfw",
    "version": "2026-01-26-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "GlobalRulestackResources"
    },
    {
      "name": "CertificateObjectGlobalRulestackResources"
    },
    {
      "name": "FqdnListGlobalRulestackResources"
    },
    {
      "name": "PostRulesResources"
    },
    {
      "name": "PrefixListGlobalRulestackResources"
    },
    {
      "name": "PreRulesResources"
    },
    {
      "name": "FirewallResources"
    },
    {
      "name": "LocalRulestackResources"
    },
    {
      "name": "MetricsObjectFirewallResources"
    },
    {
      "name": "FirewallStatusResources"
    },
    {
      "name": "CertificateObjectLocalRulestackResources"
    },
    {
      "name": "FqdnListLocalRulestackResources"
    },
    {
      "name": "LocalRulesResources"
    },
    {
      "name": "PrefixListResources"
    }
  ],
  "paths": {
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks": {
      "get": {
        "operationId": "GlobalRulestack_List",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "List GlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_List_MaximumSet_Gen.json"
          },
          "GlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}": {
      "get": {
        "operationId": "GlobalRulestack_Get",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "Get a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "GlobalRulestack_CreateOrUpdate",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "Create a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'GlobalRulestackResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "201": {
            "description": "Resource 'GlobalRulestackResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "GlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/GlobalRulestackResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "GlobalRulestack_Update",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "Update a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/GlobalRulestackResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_Update_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Update_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Update_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Update_MinimumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "GlobalRulestack_Delete",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "Delete a GlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "GlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/certificates": {
      "get": {
        "operationId": "CertificateObjectGlobalRulestack_List",
        "tags": [
          "CertificateObjectGlobalRulestackResources"
        ],
        "description": "List CertificateObjectGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CertificateObjectGlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_List_MaximumSet_Gen.json"
          },
          "CertificateObjectGlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/certificates/{name}": {
      "get": {
        "operationId": "CertificateObjectGlobalRulestack_Get",
        "tags": [
          "CertificateObjectGlobalRulestackResources"
        ],
        "description": "Get a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "certificate name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CertificateObjectGlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "CertificateObjectGlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "CertificateObjectGlobalRulestack_CreateOrUpdate",
        "tags": [
          "CertificateObjectGlobalRulestackResources"
        ],
        "description": "Create a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "certificate name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'CertificateObjectGlobalRulestackResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResource"
            }
          },
          "201": {
            "description": "Resource 'CertificateObjectGlobalRulestackResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/CertificateObjectGlobalRulestackResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CertificateObjectGlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "CertificateObjectGlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/CertificateObjectGlobalRulestackResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "CertificateObjectGlobalRulestack_Delete",
        "tags": [
          "CertificateObjectGlobalRulestackResources"
        ],
        "description": "Delete a CertificateObjectGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "certificate name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CertificateObjectGlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "CertificateObjectGlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/CertificateObjectGlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/commit": {
      "post": {
        "operationId": "GlobalRulestack_commit",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "Commit rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_commit_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_commit_MaximumSet_Gen.json"
          },
          "GlobalRulestack_commit_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_commit_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/fqdnlists": {
      "get": {
        "operationId": "FqdnListGlobalRulestack_List",
        "tags": [
          "FqdnListGlobalRulestackResources"
        ],
        "description": "List FqdnListGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FqdnListGlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_List_MaximumSet_Gen.json"
          },
          "FqdnListGlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/fqdnlists/{name}": {
      "get": {
        "operationId": "FqdnListGlobalRulestack_Get",
        "tags": [
          "FqdnListGlobalRulestackResources"
        ],
        "description": "Get a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "fqdn list name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FqdnListGlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "FqdnListGlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "FqdnListGlobalRulestack_CreateOrUpdate",
        "tags": [
          "FqdnListGlobalRulestackResources"
        ],
        "description": "Create a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "fqdn list name",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FqdnListGlobalRulestackResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResource"
            }
          },
          "201": {
            "description": "Resource 'FqdnListGlobalRulestackResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FqdnListGlobalRulestackResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FqdnListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "FqdnListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FqdnListGlobalRulestackResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "FqdnListGlobalRulestack_Delete",
        "tags": [
          "FqdnListGlobalRulestackResources"
        ],
        "description": "Delete a FqdnListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "fqdn list name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FqdnListGlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "FqdnListGlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/FqdnListGlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/getChangeLog": {
      "post": {
        "operationId": "GlobalRulestack_getChangeLog",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "Get changelog",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Changelog"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_getChangeLog_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getChangeLog_MaximumSet_Gen.json"
          },
          "GlobalRulestack_getChangeLog_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_getChangeLog_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listAdvancedSecurityObjects": {
      "post": {
        "operationId": "GlobalRulestack_listAdvancedSecurityObjects",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "Get the list of advanced security objects",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "urlCustom",
              "feeds"
            ],
            "x-ms-enum": {
              "name": "AdvSecurityObjectTypeEnum",
              "modelAsString": true,
              "values": [
                {
                  "name": "urlCustom",
                  "value": "urlCustom"
                },
                {
                  "name": "feeds",
                  "value": "feeds"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/advSecurityObjectListResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listAdvancedSecurityObjects_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listAdvancedSecurityObjects_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listAdvancedSecurityObjects_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listAdvancedSecurityObjects_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listAppIds": {
      "post": {
        "operationId": "GlobalRulestack_listAppIds",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "List of AppIds for GlobalRulestack ApiVersion",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "appIdVersion",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "appPrefix",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListAppIdResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listAppIds_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listAppIds_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listAppIds_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listAppIds_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listCountries": {
      "post": {
        "operationId": "GlobalRulestack_listCountries",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "List of countries for Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/CountriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listCountries_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listCountries_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listCountries_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listCountries_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listFirewalls": {
      "post": {
        "operationId": "GlobalRulestack_listFirewalls",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "List of Firewalls associated with Rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ListFirewallsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listFirewalls_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listFirewalls_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listFirewalls_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listFirewalls_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listPredefinedUrlCategories": {
      "post": {
        "operationId": "GlobalRulestack_listPredefinedUrlCategories",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "List predefined URL categories for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PredefinedUrlCategoriesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listPredefinedUrlCategories_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listPredefinedUrlCategories_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listPredefinedUrlCategories_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listPredefinedUrlCategories_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/listSecurityServices": {
      "post": {
        "operationId": "GlobalRulestack_listSecurityServices",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "List the security services for rulestack",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "enum": [
              "antiSpyware",
              "antiVirus",
              "ipsVulnerability",
              "urlFiltering",
              "fileBlocking",
              "dnsSubscription"
            ],
            "x-ms-enum": {
              "name": "SecurityServicesTypeEnum",
              "modelAsString": true,
              "values": [
                {
                  "name": "antiSpyware",
                  "value": "antiSpyware"
                },
                {
                  "name": "antiVirus",
                  "value": "antiVirus"
                },
                {
                  "name": "ipsVulnerability",
                  "value": "ipsVulnerability"
                },
                {
                  "name": "urlFiltering",
                  "value": "urlFiltering"
                },
                {
                  "name": "fileBlocking",
                  "value": "fileBlocking"
                },
                {
                  "name": "dnsSubscription",
                  "value": "dnsSubscription"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/securityServicesResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_listSecurityServices_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listSecurityServices_MaximumSet_Gen.json"
          },
          "GlobalRulestack_listSecurityServices_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_listSecurityServices_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules": {
      "get": {
        "operationId": "PostRules_List",
        "tags": [
          "PostRulesResources"
        ],
        "description": "List PostRulesResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostRulesResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_List_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_List_MaximumSet_Gen.json"
          },
          "PostRules_List_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}": {
      "get": {
        "operationId": "PostRules_Get",
        "tags": [
          "PostRulesResources"
        ],
        "description": "Get a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PostRulesResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_Get_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_Get_MaximumSet_Gen.json"
          },
          "PostRules_Get_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PostRules_CreateOrUpdate",
        "tags": [
          "PostRulesResources"
        ],
        "description": "Create a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PostRulesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PostRulesResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PostRulesResource"
            }
          },
          "201": {
            "description": "Resource 'PostRulesResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PostRulesResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "PostRules_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/PostRulesResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PostRules_Delete",
        "tags": [
          "PostRulesResources"
        ],
        "description": "Delete a PostRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_Delete_MaximumSet_Gen.json"
          },
          "PostRules_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/getCounters": {
      "post": {
        "operationId": "PostRules_getCounters",
        "tags": [
          "PostRulesResources"
        ],
        "description": "Get counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleCounter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_getCounters_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_getCounters_MaximumSet_Gen.json"
          },
          "PostRules_getCounters_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_getCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/refreshCounters": {
      "post": {
        "operationId": "PostRules_refreshCounters",
        "tags": [
          "PostRulesResources"
        ],
        "description": "Refresh counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_refreshCounters_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_refreshCounters_MaximumSet_Gen.json"
          },
          "PostRules_refreshCounters_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_refreshCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/postRules/{priority}/resetCounters": {
      "post": {
        "operationId": "PostRules_resetCounters",
        "tags": [
          "PostRulesResources"
        ],
        "description": "Reset counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Post Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleCounterReset"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PostRules_resetCounters_MaximumSet_Gen": {
            "$ref": "./examples/PostRules_resetCounters_MaximumSet_Gen.json"
          },
          "PostRules_resetCounters_MinimumSet_Gen": {
            "$ref": "./examples/PostRules_resetCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules": {
      "get": {
        "operationId": "PreRules_List",
        "tags": [
          "PreRulesResources"
        ],
        "description": "List PreRulesResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreRulesResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_List_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_List_MaximumSet_Gen.json"
          },
          "PreRules_List_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}": {
      "get": {
        "operationId": "PreRules_Get",
        "tags": [
          "PreRulesResources"
        ],
        "description": "Get a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PreRulesResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_Get_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_Get_MaximumSet_Gen.json"
          },
          "PreRules_Get_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PreRules_CreateOrUpdate",
        "tags": [
          "PreRulesResources"
        ],
        "description": "Create a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PreRulesResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PreRulesResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PreRulesResource"
            }
          },
          "201": {
            "description": "Resource 'PreRulesResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PreRulesResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "PreRules_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/PreRulesResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PreRules_Delete",
        "tags": [
          "PreRulesResources"
        ],
        "description": "Delete a PreRulesResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_Delete_MaximumSet_Gen.json"
          },
          "PreRules_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/getCounters": {
      "post": {
        "operationId": "PreRules_getCounters",
        "tags": [
          "PreRulesResources"
        ],
        "description": "Get counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleCounter"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_getCounters_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_getCounters_MaximumSet_Gen.json"
          },
          "PreRules_getCounters_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_getCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/refreshCounters": {
      "post": {
        "operationId": "PreRules_refreshCounters",
        "tags": [
          "PreRulesResources"
        ],
        "description": "Refresh counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_refreshCounters_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_refreshCounters_MaximumSet_Gen.json"
          },
          "PreRules_refreshCounters_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_refreshCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/preRules/{priority}/resetCounters": {
      "post": {
        "operationId": "PreRules_resetCounters",
        "tags": [
          "PreRulesResources"
        ],
        "description": "Reset counters",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "priority",
            "in": "path",
            "description": "Pre Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "firewallName",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/RuleCounterReset"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PreRules_resetCounters_MaximumSet_Gen": {
            "$ref": "./examples/PreRules_resetCounters_MaximumSet_Gen.json"
          },
          "PreRules_resetCounters_MinimumSet_Gen": {
            "$ref": "./examples/PreRules_resetCounters_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/prefixlists": {
      "get": {
        "operationId": "PrefixListGlobalRulestack_List",
        "tags": [
          "PrefixListGlobalRulestackResources"
        ],
        "description": "List PrefixListGlobalRulestackResource resources by Tenant",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrefixListGlobalRulestack_List_MaximumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_List_MaximumSet_Gen.json"
          },
          "PrefixListGlobalRulestack_List_MinimumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/prefixlists/{name}": {
      "get": {
        "operationId": "PrefixListGlobalRulestack_Get",
        "tags": [
          "PrefixListGlobalRulestackResources"
        ],
        "description": "Get a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Local Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrefixListGlobalRulestack_Get_MaximumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_Get_MaximumSet_Gen.json"
          },
          "PrefixListGlobalRulestack_Get_MinimumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "PrefixListGlobalRulestack_CreateOrUpdate",
        "tags": [
          "PrefixListGlobalRulestackResources"
        ],
        "description": "Create a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Local Rule priority",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'PrefixListGlobalRulestackResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResource"
            }
          },
          "201": {
            "description": "Resource 'PrefixListGlobalRulestackResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/PrefixListGlobalRulestackResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrefixListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "PrefixListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/PrefixListGlobalRulestackResource"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "PrefixListGlobalRulestack_Delete",
        "tags": [
          "PrefixListGlobalRulestackResources"
        ],
        "description": "Delete a PrefixListGlobalRulestackResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Local Rule priority",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Operation completed successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PrefixListGlobalRulestack_Delete_MaximumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_Delete_MaximumSet_Gen.json"
          },
          "PrefixListGlobalRulestack_Delete_MinimumSet_Gen": {
            "$ref": "./examples/PrefixListGlobalRulestack_Delete_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/globalRulestacks/{globalRulestackName}/revert": {
      "post": {
        "operationId": "GlobalRulestack_revert",
        "tags": [
          "GlobalRulestackResources"
        ],
        "description": "Revert rulestack configuration",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "globalRulestackName",
            "in": "path",
            "description": "GlobalRulestack resource name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "GlobalRulestack_revert_MaximumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_revert_MaximumSet_Gen.json"
          },
          "GlobalRulestack_revert_MinimumSet_Gen": {
            "$ref": "./examples/GlobalRulestack_revert_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/providers/PaloAltoNetworks.Cloudngfw/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List_MaximumSet_Gen": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          },
          "Operations_List_MinimumSet_Gen": {
            "$ref": "./examples/Operations_List_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/createProductSerialNumber": {
      "post": {
        "operationId": "PaloAltoNetworksCloudngfwOperations_createProductSerialNumber",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductSerialNumberRequestStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PaloAltoNetworksCloudngfwOperations_createProductSerialNumber_MaximumSet_Gen": {
            "$ref": "./examples/PaloAltoNetworksCloudngfwOperations_createProductSerialNumber_MaximumSet_Gen.json"
          },
          "PaloAltoNetworksCloudngfwOperations_createProductSerialNumber_MinimumSet_Gen": {
            "$ref": "./examples/PaloAltoNetworksCloudngfwOperations_createProductSerialNumber_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "operationId": "Firewalls_ListBySubscription",
        "tags": [
          "FirewallResources"
        ],
        "description": "List FirewallResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MaximumSet_Gen.json"
          },
          "Firewalls_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listCloudManagerTenants": {
      "post": {
        "operationId": "PaloAltoNetworksCloudngfwOperations_listCloudManagerTenants",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudManagerTenantList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PaloAltoNetworksCloudngfwOperations_listCloudManagerTenants_MaximumSet_Gen": {
            "$ref": "./examples/PaloAltoNetworksCloudngfwOperations_listCloudManagerTenants_MaximumSet_Gen.json"
          },
          "PaloAltoNetworksCloudngfwOperations_listCloudManagerTenants_MinimumSet_Gen": {
            "$ref": "./examples/PaloAltoNetworksCloudngfwOperations_listCloudManagerTenants_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listProductSerialNumberStatus": {
      "post": {
        "operationId": "PaloAltoNetworksCloudngfwOperations_listProductSerialNumberStatus",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ProductSerialNumberStatus"
            }
          },
          "404": {
            "description": "The server cannot find the requested resource."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PaloAltoNetworksCloudngfwOperations_listProductSerialNumberStatus_MaximumSet_Gen": {
            "$ref": "./examples/PaloAltoNetworksCloudngfwOperations_listProductSerialNumberStatus_MaximumSet_Gen.json"
          },
          "PaloAltoNetworksCloudngfwOperations_listProductSerialNumberStatus_MinimumSet_Gen": {
            "$ref": "./examples/PaloAltoNetworksCloudngfwOperations_listProductSerialNumberStatus_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listSupportInfo": {
      "post": {
        "operationId": "PaloAltoNetworksCloudngfwOperations_listSupportInfo",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/SupportInfoModel"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PaloAltoNetworksCloudngfwOperations_listSupportInfo_MaximumSet_Gen": {
            "$ref": "./examples/PaloAltoNetworksCloudngfwOperations_listSupportInfo_MaximumSet_Gen.json"
          },
          "PaloAltoNetworksCloudngfwOperations_listSupportInfo_MinimumSet_Gen": {
            "$ref": "./examples/PaloAltoNetworksCloudngfwOperations_listSupportInfo_MinimumSet_Gen.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/localRulestacks": {
      "get": {
        "operationId": "LocalRulestacks_ListBySubscription",
        "tags": [
          "LocalRulestackResources"
        ],
        "description": "List LocalRulestackResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/LocalRulestackResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "LocalRulestacks_ListBySubscription_MaximumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListBySubscription_MaximumSet_Gen.json"
          },
          "LocalRulestacks_ListBySubscription_MinimumSet_Gen": {
            "$ref": "./examples/LocalRulestacks_ListBySubscription_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls": {
      "get": {
        "operationId": "Firewalls_ListByResourceGroup",
        "tags": [
          "FirewallResources"
        ],
        "description": "List FirewallResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_ListByResourceGroup_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MaximumSet_Gen.json"
          },
          "Firewalls_ListByResourceGroup_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_ListByResourceGroup_MinimumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/PaloAltoNetworks.Cloudngfw/firewalls/{firewallName}": {
      "get": {
        "operationId": "Firewalls_Get",
        "tags": [
          "FirewallResources"
        ],
        "description": "Get a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string",
            "pattern": "^(?![-_])(?!.*[-_]{2})(?!.*[-_]$)[a-zA-Z0-9][a-zA-Z0-9-]{0,127}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_Get_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MaximumSet_Gen.json"
          },
          "Firewalls_Get_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_Get_MinimumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Firewalls_CreateOrUpdate",
        "tags": [
          "FirewallResources"
        ],
        "description": "Create a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string",
            "pattern": "^(?![-_])(?!.*[-_]{2})(?!.*[-_]$)[a-zA-Z0-9][a-zA-Z0-9-]{0,127}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FirewallResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            }
          },
          "201": {
            "description": "Resource 'FirewallResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FirewallResource"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Firewalls_CreateOrUpdate_MaximumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MaximumSet_Gen.json"
          },
          "Firewalls_CreateOrUpdate_MinimumSet_Gen": {
            "$ref": "./examples/Firewalls_CreateOrUpdate_MinimumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/FirewallResource"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Firewalls_Update",
        "tags": [
          "FirewallResources"
        ],
        "description": "Update a FirewallResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "firewallName",
            "in": "path",
            "description": "Firewall resource name",
            "required": true,
            "type": "string",
            "pattern": "^(?![-_])(?!.*[-_]{2})(?!.*[-_]$)[a-zA-Z0-9][a-zA-Z0-9-]{0,127}$"
          },
          {
[...]
