{
  "swagger": "2.0",
  "info": {
    "version": "2023-05-16-preview",
    "title": "AzureArcDataManagementClient",
    "description": "The AzureArcData management API provides a RESTful set of web APIs to manage Azure Data Services on Azure Arc Resources."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups/{availabilityGroupName}": {
      "put": {
        "tags": [
          "SqlServerAvailabilityGroups"
        ],
        "operationId": "SqlServerAvailabilityGroups_Create",
        "description": "Creates or replaces an Arc Sql Server Availability Group.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "name": "sqlServerAvailabilityGroupResource",
            "description": "The request body for availability group resource.",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/availabilityGroupName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create a Arc Sql Server availability group.": {
            "$ref": "./examples/CreateOrUpdateArcSqlServerAvailabilityGroup.json"
          }
        }
      },
      "delete": {
        "tags": [
          "SqlServerAvailabilityGroups"
        ],
        "operationId": "SqlServerAvailabilityGroups_Delete",
        "description": "Deletes an Arc Sql Server availability group resource.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/availabilityGroupName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted the availability group."
          },
          "204": {
            "description": "The specified availability group does not exist."
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a availability group resource": {
            "$ref": "./examples/DeleteArcSqlServerAvailabilityGroup.json"
          }
        }
      },
      "get": {
        "tags": [
          "SqlServerAvailabilityGroups"
        ],
        "operationId": "SqlServerAvailabilityGroups_Get",
        "description": "Retrieves an Arc Sql Server availability group.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/availabilityGroupName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Retrieves an Arc Sql Server availability group resource.": {
            "$ref": "./examples/GetArcSqlServerAvailabilityGroup.json"
          }
        }
      },
      "patch": {
        "tags": [
          "SqlServerAvailabilityGroups"
        ],
        "description": "Updates an existing Availability Group.",
        "operationId": "SqlServerAvailabilityGroups_Update",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/availabilityGroupName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          },
          {
            "name": "sqlServerAvailabilityGroupUpdate",
            "in": "body",
            "description": "The requested server availability group resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully updated the Availability Group.",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Update a availability group.": {
            "$ref": "./examples/UpdateArcSqlServerAvailabilityGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups/{availabilityGroupName}/detailView": {
      "post": {
        "tags": [
          "SqlServerAvailabilityGroups"
        ],
        "description": "Retrieves detailed properties of the Availability Group.",
        "operationId": "SqlServerAvailabilityGroups_DetailView",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/availabilityGroupName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          },
          {
            "name": "sqlServerAvailabilityGroupResource",
            "in": "body",
            "description": "The requested server availability group resource state.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the Run-time detailed properties of the Availability Group.",
            "schema": {
              "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "detail view for a server availability group.": {
            "$ref": "./examples/ViewArcSqlServerAvailabilityGroup.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureArcData/sqlServerInstances/{sqlServerInstanceName}/availabilityGroups": {
      "get": {
        "tags": [
          "SqlServerAvailabilityGroups"
        ],
        "operationId": "SqlServerAvailabilityGroups_List",
        "summary": "List the availability group associated with the given Arc Sql Server.",
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionId"
          },
          {
            "$ref": "#/parameters/resourceGroupName"
          },
          {
            "$ref": "#/parameters/sqlServerInstanceName"
          },
          {
            "$ref": "#/parameters/apiVersion"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ArcSqlServerAvailabilityGroupListResult"
            }
          },
          "default": {
            "description": "*** Error Responses: ***",
            "schema": {
              "$ref": "./common.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Gets all availability groups associated with an Arc Enabled Sql server.": {
            "$ref": "./examples/ListBySqlServerInstanceAvailabilityGroup.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AvailabilityGroupConfigure": {
      "description": "The specifications of the availability group replica configuration",
      "type": "object",
      "properties": {
        "endpointUrl": {
          "type": "string",
          "description": "Mirroring endpoint URL of availability group replica"
        },
        "availabilityModeDesc": {
          "type": "string",
          "description": "Availability Synchronization mode description of availability group replica."
        },
        "failoverModeDesc": {
          "type": "string",
          "description": "failover mode description of the availability group replica."
        },
        "sessionTimeout": {
          "type": "integer",
          "description": "The time-out period of availability group session replica, in seconds.",
          "format": "int32"
        },
        "primaryRoleAllowConnectionsDesc": {
          "type": "string",
          "description": "Allowed the connections for primary role of the availability group replica."
        },
        "secondaryRoleAllowConnectionsDesc": {
          "type": "string",
          "description": "Allowed the connections for secondary role of availability group replica."
        },
        "createDate": {
          "type": "string",
          "description": "Date that the replica was created.",
          "format": "date-time"
        },
        "modifyDate": {
          "type": "string",
          "description": "Date that the replica was modified.",
          "format": "date-time"
        },
        "backupPriority": {
          "type": "integer",
          "description": "Represents the user-specified priority for performing backups on this replica relative to the other replicas in the same availability group.",
          "format": "int32"
        },
        "readOnlyRoutingUrl": {
          "type": "string",
          "description": "Connectivity endpoint (URL) of the read only availability replica."
        },
        "readWriteRoutingUrl": {
          "type": "string",
          "description": "Connectivity endpoint (URL) of the read write availability replica."
        },
        "seedingModeDesc": {
          "type": "string",
          "description": "Describes seeding mode."
        }
      }
    },
    "AvailabilityGroupState": {
      "description": "The specifications of the availability group state",
      "type": "object",
      "properties": {
        "availabilityGroupReplicaRole": {
          "type": "string",
          "description": "Role description of the availability group replica."
        },
        "operationalStateDesc": {
          "type": "string",
          "description": "Operation state description of the availability group replica"
        },
        "recoveryHealthDesc": {
          "type": "string",
          "description": "Recovery health description of the availability group replica."
        },
        "synchronizationHealthDesc": {
          "type": "string",
          "description": "Synchronization health description of the availability group replica."
        },
        "connectedStateDesc": {
          "type": "string",
          "description": "Connected state description of the availability group replica."
        },
        "lastConnectErrorDescription": {
          "type": "string",
          "description": "Last connect error description of the availability group replica."
        },
        "lastConnectErrorTimestamp": {
          "type": "string",
          "description": "Last connect error time stamp of the availability group replica.",
          "format": "date-time"
        }
      }
    },
    "AvailabilityGroupInfo": {
      "description": "The specifications of the availability group state",
      "type": "object",
      "properties": {
        "failureConditionLevel": {
          "type": "integer",
          "description": "User-defined failure condition level under which an automatic failover must be triggered, one of the integer values shown in the table immediately below this table.",
          "format": "int32"
        },
        "healthCheckTimeout": {
          "type": "integer",
          "description": "Wait time (in milliseconds) for the sp_server_diagnostics system stored procedure to return server-health information, before the server instance is assumed to be slow or not responding.",
          "format": "int32"
        },
        "automatedBackupPreferenceDesc": {
          "type": "string",
          "description": "Preferred location for performing backups on the availability databases in this availability group."
        },
        "version": {
          "type": "integer",
          "description": "SQL Server availability group current version.",
          "format": "int32"
        },
        "basicFeatures": {
          "type": "boolean",
          "description": "SQL Server basic availability group."
        },
        "dtcSupport": {
          "type": "boolean",
          "description": "SQL Server availability group DTC support enabled."
        },
        "dbFailover": {
          "type": "boolean",
          "description": "SQL Server availability group failover for database health conditions."
        },
        "isDistributed": {
          "type": "boolean",
          "description": "SQL Server distributed availability group."
        },
        "clusterTypeDesc": {
          "type": "string",
          "description": "SQL Server availability group cluster type description"
        },
        "requiredSynchronizedSecondariesCommit": {
          "type": "integer",
          "description": "Availability group required the number of synchronized secondary to commit."
        },
        "isContained": {
          "type": "boolean",
          "description": "SQL Server availability group contained system databases."
        },
        "primaryReplica": {
          "type": "string",
          "description": "Name of the server instance that is hosting the current primary replica."
        },
        "primaryRecoveryHealthDesc": {
          "type": "string",
          "description": "Indicates the recovery health of the primary replica."
        },
        "secondaryRecoveryHealthDesc": {
          "type": "string",
          "description": "Indicates the recovery health of a secondary replica."
        },
        "synchronizationHealthDesc": {
          "type": "string",
          "description": "Reflects a roll-up of the synchronizationHealthDesc of all availability replicas in the availability group."
        }
      }
    },
    "ArcSqlServerAvailabilityGroupListResult": {
      "description": "A list of Arc Sql Server Availability Groups.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Array of Arc Sql Server Availability Groups.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SqlServerAvailabilityGroupResource"
          },
          "readOnly": true
        },
        "nextLink": {
          "description": "Link to retrieve next page of results.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SqlServerAvailabilityGroupResource": {
      "type": "object",
      "description": "Arc Sql Server Availability Group",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/SqlServerAvailabilityGroupResourceProperties",
          "description": "Properties of Arc Sql Server availability group",
          "x-ms-client-flatten": false
        }
      },
      "required": [
        "properties"
      ]
    },
    "SqlServerAvailabilityGroupResourceProperties": {
      "type": "object",
      "description": "The properties of Arc Sql Server availability group resource",
      "properties": {
        "availabilityGroupId": {
          "type": "string",
          "description": "ID GUID of the availability group.",
          "pattern": "^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$"
        },
        "availabilityGroupName": {
          "type": "string",
          "description": "the availability group name."
        },
        "serverName": {
          "type": "string",
          "description": "the SQL server name."
        },
        "instanceName": {
          "type": "string",
          "description": "the SQL Server Instance name."
        },
        "collectionTimestamp": {
          "description": "Timestamp for when the data was collected from the client machine.",
          "type": "string",
          "format": "date-time"
        },
        "info": {
          "$ref": "#/definitions/AvailabilityGroupInfo",
          "description": "Availability Group Info",
          "x-ms-client-flatten": false
        },
        "replicas": {
          "description": "A list of Availability Group Replicas.",
          "type": "object",
          "properties": {
            "value": {
              "description": "Array of Availability Group Replicas.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/SqlAvailabilityGroupReplicaResourceProperties"
              }
            },
            "nextLink": {
              "description": "Link to retrieve next page of results.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "databases": {
          "description": "A list of Availability Group Database Replicas.",
          "type": "object",
          "properties": {
            "value": {
              "description": "Array of Availability Group Database Replicas.",
              "type": "array",
              "items": {
                "$ref": "#/definitions/SqlAvailabilityGroupDatabaseReplicaResourceProperties"
              }
            },
            "nextLink": {
              "description": "Link to retrieve next page of results.",
              "type": "string",
              "readOnly": true
            }
          }
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the Arc-enabled SQL Server availability group resource.",
          "readOnly": true
        }
      },
      "required": [
        "availabilityGroupId"
      ]
    },
    "SqlServerAvailabilityGroupUpdate": {
      "description": "An update to availability group resource.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Resource tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/SqlServerAvailabilityGroupResourceProperties",
          "description": "The Server Availability Group's properties",
          "x-ms-client-flatten": false
        }
      }
    },
    "SqlAvailabilityGroupReplicaResourceProperties": {
      "type": "object",
      "description": "The properties of Arc Sql availability group replica resource",
      "properties": {
        "replicaId": {
          "type": "string",
          "description": "ID GUID of the availability group.",
          "pattern": "^[A-Za-z0-9]{8}-([A-Za-z0-9]{4}-){3}[A-Za-z0-9]{12}$"
        },
        "replicaName": {
          "type": "string",
          "description": "the replica name."
        },
        "configure": {
          "$ref": "#/definitions/AvailabilityGroupConfigure",
          "description": "null",
          "x-ms-client-flatten": false
        },
        "state": {
          "$ref": "#/definitions/AvailabilityGroupState",
          "description": "null",
          "x-ms-client-flatten": false
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the Arc-enabled SQL Server availability group resource.",
          "readOnly": true
        }
      }
    },
    "SqlAvailabilityGroupDatabaseReplicaResourceProperties": {
      "type": "object",
      "description": "The properties of Arc Sql availability group database replica resource",
      "properties": {
        "databaseName": {
          "type": "string",
          "description": "the database name."
        },
        "replicaName": {
          "type": "string",
          "description": "the database replica name."
        },
        "isLocal": {
          "type": "boolean",
          "description": "Whether the availability database is local."
        },
        "isPrimaryReplica": {
          "type": "boolean",
          "description": "Returns 1 if the replica is primary, or 0 if it is a secondary replica."
        },
        "synchronizationStateDesc": {
          "type": "string",
          "description": "Description of the data-movement state."
        },
        "isCommitParticipant": {
          "type": "boolean",
          "description": "Whether this replica is transaction committer."
        },
        "synchronizationHealthDesc": {
          "type": "string",
          "description": "Description of the health of database."
        },
        "databaseStateDesc": {
          "type": "string",
          "description": "Description of the database state of the availability replica."
        },
        "isSuspended": {
          "type": "boolean",
          "description": "Whether this data movement is suspended."
        },
        "suspendReasonDesc": {
          "type": "string",
          "description": "Description of the database suspended state reason."
        },
        "provisioningState": {
          "type": "string",
          "description": "The provisioning state of the Arc-enabled SQL Server availability group resource.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The ID of the Azure subscription",
      "x-ms-parameter-location": "client"
    },
    "resourceGroupName": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the Azure resource group",
      "x-ms-parameter-location": "method"
    },
    "apiVersion": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to use for the request",
      "x-ms-parameter-location": "client"
    },
    "sqlServerInstanceName": {
      "name": "sqlServerInstanceName",
      "description": "Name of SQL Server Instance",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "availabilityGroupName": {
      "name": "availabilityGroupName",
      "description": "Name of SQL Availability Group",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  },
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  }
}
