{
  "swagger": "2.0",
  "info": {
    "title": "portal",
    "version": "2024-01-01-preview",
    "description": "Allows creation and deletion of Azure Shared Dashboards.",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Dashboards"
    }
  ],
  "paths": {
    "/providers/Microsoft.PortalServices/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PortalServices/dashboards": {
      "get": {
        "operationId": "Dashboards_ListBySubscription",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets all the dashboards within a subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/dashboards": {
      "get": {
        "operationId": "Dashboards_ListByResourceGroup",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets all the Dashboards within a resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/dashboards/{dashboardName}": {
      "get": {
        "operationId": "Dashboards_Get",
        "tags": [
          "Dashboards"
        ],
        "description": "Gets the Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "Dashboards_CreateOrUpdate",
        "tags": [
          "Dashboards"
        ],
        "description": "Creates or updates a Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Dashboard' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "201": {
            "description": "Resource 'Dashboard' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "operationId": "Dashboards_Update",
        "tags": [
          "Dashboards"
        ],
        "description": "Updates an existing Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchableDashboard"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "Dashboards_Delete",
        "tags": [
          "Dashboards"
        ],
        "description": "Deletes the Dashboard.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "dashboardName",
            "in": "path",
            "description": "The name of the dashboard.",
            "required": true,
            "type": "string",
            "minLength": 3,
            "maxLength": 64,
            "pattern": "^[a-z][a-z0-9]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ActionOpenBlade": {
      "type": "object",
      "properties": {
        "blade": {
          "$ref": "#/definitions/BladeReferenceWithContextPane",
          "description": "open a blade in context pane"
        }
      },
      "required": [
        "blade"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ActionsOnClick"
        }
      ],
      "x-ms-discriminator-value": "openBlade"
    },
    "ActionParameters": {
      "type": "object",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "The array of dashboard parameter values.",
          "items": {
            "$ref": "#/definitions/DashboardParameterValues"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/ActionsOnClick"
        }
      ],
      "x-ms-discriminator-value": "updateParameters"
    },
    "ActionReference": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Discriminator property for ActionReference."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ActionReferenceBlade": {
      "type": "object",
      "properties": {
        "blade": {
          "$ref": "#/definitions/BladeReferenceWithContextPane",
          "description": "open a blade in context pane"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the link"
        }
      },
      "required": [
        "blade",
        "displayName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ActionReference"
        }
      ],
      "x-ms-discriminator-value": "blade"
    },
    "ActionReferenceType": {
      "type": "string",
      "enum": [
        "blade",
        "url"
      ],
      "x-ms-enum": {
        "name": "ActionReferenceType",
        "modelAsString": true
      }
    },
    "ActionReferenceUrl": {
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URI that will be opened"
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the link"
        }
      },
      "required": [
        "url",
        "displayName"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/ActionReference"
        }
      ],
      "x-ms-discriminator-value": "url"
    },
    "Actions": {
      "type": "object",
      "description": "Actions available on the tile.",
      "properties": {
        "onClick": {
          "$ref": "#/definitions/ActionsOnClick"
        },
        "footer": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionReference"
          },
          "x-ms-identifiers": []
        },
        "contextMenu": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActionReference"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ActionsOnClick": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Discriminator property for ActionsOnClick."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "ActionsOnClickType": {
      "type": "string",
      "enum": [
        "openBlade",
        "updateParameters"
      ],
      "x-ms-enum": {
        "name": "ActionsOnClickType",
        "modelAsString": true
      }
    },
    "AggregationType": {
      "type": "string",
      "enum": [
        "avg",
        "count",
        "max",
        "min",
        "percentile",
        "sum",
        "unique"
      ],
      "x-ms-enum": {
        "name": "AggregationType",
        "modelAsString": true
      }
    },
    "AppInsightsDataDefinition": {
      "type": "object",
      "description": "The data definition of App Insights Query Tile.",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Array of metrics object for an app insights query tile data.",
          "items": {
            "$ref": "#/definitions/QueryTileMetricsItem"
          },
          "x-ms-identifiers": []
        }
      },
      "required": [
        "metrics"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "x-ms-discriminator-value": "app-insights"
    },
    "ArcSnapshotTile": {
      "type": "object",
      "description": "Display information of your Arc enabled resources with the arc snapshot tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/ArcSnapshotTileData",
          "description": "The definition of data for the arc snapshot tile."
        },
        "visualization": {
          "$ref": "#/definitions/QueryTileVisualization",
          "description": "Query tile visualizations."
        }
      },
      "required": [
        "data",
        "visualization"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "ArcSnapshotTile"
    },
    "ArcSnapshotTileData": {
      "type": "object",
      "description": "Data definition for a arc snapshot tile.",
      "properties": {
        "kind": {
          "$ref": "#/definitions/ArcSnapshotTileDataKind",
          "description": "The ARG data source of the query tile. Enum permitting the value: \"arg\""
        },
        "query": {
          "type": "string",
          "description": "A valid ARG query used to fetch the data."
        },
        "columns": {
          "$ref": "#/definitions/ArcSnapshotTileDataColumn",
          "description": "The column names to get from the query result."
        },
        "allResourcesConfiguredText": {
          "type": "string",
          "description": "The text to be shown when all the resources are configured with the servce."
        },
        "usedParameters": {
          "type": "array",
          "description": "Parameter names that are applied to the tile. It can be used within the query.",
          "items": {
            "type": "string"
          }
        },
        "noResources": {
          "$ref": "#/definitions/ArcSnapshotTileDataNoResources",
          "description": "Used when the resource count returned from the count is zero."
        },
        "actions": {
          "$ref": "#/definitions/ArcSnapshotTileDataActions",
          "description": "Actions that can be taken on the arc snapshot tile."
        }
      },
      "required": [
        "kind",
        "query",
        "columns"
      ]
    },
    "ArcSnapshotTileDataActions": {
      "type": "object",
      "description": "Actions that can be taken on the arc snapshot tile.",
      "properties": {
        "configureService": {
          "$ref": "#/definitions/ActionReference"
        },
        "viewConfiguredService": {
          "$ref": "#/definitions/ActionReference"
        },
        "viewNotConfiguredResources": {
          "$ref": "#/definitions/ActionReference"
        }
      }
    },
    "ArcSnapshotTileDataColumn": {
      "type": "object",
      "description": "The column names to get from the query result.",
      "properties": {
        "notConfiguredResourcesCount": {
          "type": "string",
          "description": "The column name that will return the count of resources that are not configured."
        },
        "totalCount": {
          "type": "string",
          "description": "The column name that will return the total count of resources."
        }
      },
      "required": [
        "notConfiguredResourcesCount",
        "totalCount"
      ]
    },
    "ArcSnapshotTileDataKind": {
      "type": "string",
      "enum": [
        "arg"
      ],
      "x-ms-enum": {
        "name": "ArcSnapshotTileDataKind",
        "modelAsString": true
      }
    },
    "ArcSnapshotTileDataNoResources": {
      "type": "object",
      "description": "Used when the resource count returned from the count is zero.",
      "properties": {
        "text": {
          "type": "string",
          "description": "Text to be shown when there are no resources to be configured with the service."
        },
        "icon": {
          "type": "string",
          "description": "Icon to be shown when there are no resources to be configured with."
        }
      },
      "required": [
        "text",
        "icon"
      ]
    },
    "ArgDataDefinition": {
      "type": "object",
      "description": "The data definition of ARG Query Tile.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The ARG query."
        }
      },
      "required": [
        "query"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "x-ms-discriminator-value": "arg"
    },
    "BladeReferenceWithContextPane": {
      "type": "object",
      "description": "open a blade in context pane",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the blade to open."
        },
        "extension": {
          "type": "string",
          "description": "The extension name of the blade to open."
        },
        "parameters": {
          "type": "object",
          "description": "The parameters to pass to the blade.",
          "additionalProperties": {}
        },
        "inContextPane": {
          "type": "boolean",
          "description": "Whether the blade should be opened in the context pane."
        },
        "doesProvisioning": {
          "type": "boolean",
          "description": "Specify whether to open this blade as Provisioning blade"
        }
      },
      "required": [
        "name"
      ]
    },
    "CreatedByType": {
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true
      }
    },
    "Dashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DashboardProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of the dashboard.",
          "minLength": 3,
          "maxLength": 64,
          "pattern": "^[a-z][a-z0-9]*$",
          "readOnly": true
        }
      },
      "required": [
        "name"
      ],
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DashboardListResult": {
      "type": "object",
      "description": "The response of a Dashboard list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Dashboard items on this page",
          "items": {
            "$ref": "#/definitions/Dashboard"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DashboardPage": {
      "type": "object",
      "description": "A dashboard page.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard page."
        },
        "tiles": {
          "type": "array",
          "description": "The dashboard tiles.",
          "items": {
            "$ref": "#/definitions/DashboardTile"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardParameter": {
      "type": "object",
      "description": "A dashboard parameter.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard filter."
        },
        "kind": {
          "$ref": "#/definitions/DashboardParameterType",
          "description": "Types of dashboard parameters."
        },
        "parameterNames": {
          "type": "array",
          "description": "The unique names to serve as placeholders for the parameter values.",
          "items": {
            "type": "string"
          }
        },
        "defaultValues": {
          "type": "array",
          "description": "The parameter value(s) that will be selected by default when the parameter is displayed.",
          "items": {
            "type": "string"
          }
        },
        "showOnPages": {
          "type": "array",
          "description": "A list of integers that represent indexes of the pages that this parameter applies to.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "title",
        "kind",
        "parameterNames",
        "defaultValues",
        "showOnPages"
      ]
    },
    "DashboardParameterType": {
      "type": "string",
      "enum": [
        "location",
        "resourceGroup",
        "resourceType",
        "subscription",
        "timeGranularity",
        "timeRange"
      ],
      "x-ms-enum": {
        "name": "DashboardParameterType",
        "modelAsString": true
      }
    },
    "DashboardParameterValues": {
      "type": "object",
      "description": "The dashboard parameter values.",
      "properties": {
        "parameterNames": {
          "type": "array",
          "description": "The unique names to serve as placeholders for the parameter values.",
          "items": {
            "type": "string"
          }
        },
        "values": {
          "type": "array",
          "description": "The parameter value(s) that will be selected by default when the parameter is displayed.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "parameterNames",
        "values"
      ]
    },
    "DashboardParameterValuesList": {
      "type": "object",
      "description": "The dashboard parameter list.",
      "properties": {
        "parameters": {
          "type": "array",
          "description": "The array of dashboard parameter values.",
          "items": {
            "$ref": "#/definitions/DashboardParameterValues"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardProperties": {
      "type": "object",
      "description": "The shared dashboard properties.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard."
        },
        "pages": {
          "type": "array",
          "description": "The dashboard pages.",
          "items": {
            "$ref": "#/definitions/DashboardPage"
          },
          "x-ms-identifiers": []
        },
        "parameters": {
          "type": "array",
          "description": "The dashboard parameters.",
          "items": {
            "$ref": "#/definitions/DashboardParameter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardTile": {
      "type": "object",
      "description": "A dashboard tile.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Discriminator property for DashboardTile."
        },
        "title": {
          "type": "string",
          "description": "The title of dashboard title."
        },
        "subtitle": {
          "type": "string",
          "description": "The title of dashboard subtitle."
        },
        "layout": {
          "$ref": "#/definitions/DashboardTileLayout",
          "description": "The dashboard tile's layout."
        },
        "visible": {
          "$ref": "#/definitions/DashboardParameterValuesList",
          "description": "The dashboard parameter list."
        },
        "highlight": {
          "$ref": "#/definitions/DashboardParameterValuesList",
          "description": "The dashboard parameter list."
        },
        "actions": {
          "$ref": "#/definitions/Actions",
          "description": "Actions available on the tile."
        }
      },
      "discriminator": "type",
      "required": [
        "type",
        "title",
        "layout"
      ]
    },
    "DashboardTileLayout": {
      "type": "object",
      "description": "The dashboard tile's layout.",
      "properties": {
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's x position."
        },
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's y position."
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's width in grid units."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's height in grid units."
        }
      },
      "required": [
        "x",
        "y",
        "width",
        "height"
      ]
    },
    "Kind": {
      "type": "string",
      "enum": [
        "arg",
        "app-insights",
        "policy"
      ],
      "x-ms-enum": {
        "name": "Kind",
        "modelAsString": true
      }
    },
    "MarkdownInlineData": {
      "type": "object",
      "description": "The data definition of Markdown with inline content",
      "properties": {
        "content": {
          "type": "string"
        }
      },
      "required": [
        "content"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/MarkdownTileData"
        }
      ],
      "x-ms-discriminator-value": "inline"
    },
    "MarkdownTile": {
      "type": "object",
      "description": "A markdown tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/MarkdownTileData",
          "description": "The definition of data for the markdown tile."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "MarkdownTile"
    },
    "MarkdownTileData": {
      "type": "object",
      "description": "Data definition for a markdown tile.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Discriminator property for MarkdownTileData."
        }
      },
      "discriminator": "source",
      "required": [
        "source"
      ]
    },
    "MarkdownUriData": {
      "type": "object",
      "description": "The data definition of Markdown with uri content",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "required": [
        "uri"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/MarkdownTileData"
        }
      ],
      "x-ms-discriminator-value": "uri"
    },
    "NavigationTile": {
      "type": "object",
      "description": "Navigate with a click to assets or blades within Azure Portal with the navigation tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/NavigationTileData",
          "description": "The definition of data for the navigation tile."
        }
      },
      "required": [
        "data"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "NavigationTile"
    },
    "NavigationTileData": {
      "type": "object",
      "description": "The data that determines the content of the navigation tile.",
      "properties": {
        "icon": {
          "type": "string",
          "description": "Icon to be displayed on the navigation tile."
        },
        "description": {
          "type": "string",
          "description": "The description displayed within the navigation tile."
        }
      },
      "required": [
        "icon"
      ]
    },
    "PatchableDashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DashboardProperties",
          "description": "The shared dashboard properties."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "PolicyTile": {
      "type": "object",
      "description": "Display information of your resources that are compliant with configured Azure policies with the policy tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/QueryTileData",
          "description": "The definition of data for the policy tile."
        }
      },
      "required": [
        "data"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "PolicyTile"
    },
    "PolicyTileDataDefinition": {
      "type": "object",
      "description": "The data that determines the content of the policy tile.",
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "x-ms-discriminator-value": "policy"
    },
    "QueryTile": {
      "type": "object",
      "description": "A query tile.",
      "properties": {
        "visualization": {
          "$ref": "#/definitions/QueryTileVisualization",
          "description": "Query tile visualizations."
        },
        "data": {
          "$ref": "#/definitions/QueryTileData",
          "description": "The definition of data source object within the Query tile."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "QueryTile"
    },
    "QueryTileData": {
      "type": "object",
      "description": "A dashboard query tile.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Discriminator property for QueryTileData."
        },
        "usedParameters": {
          "type": "array",
          "description": "The dashboard parameter names used in the tiles.",
          "items": {
            "type": "string"
          }
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ],
      "allOf": [
        {
          "type": "object",
          "additionalProperties": {}
        }
      ]
    },
    "QueryTileMetricsItem": {
      "type": "object",
      "description": "The metrics object for an app insights query tile data.",
      "properties": {
        "aggregationType": {
          "$ref": "#/definitions/AggregationType",
          "description": "The aggregation type to use for this metric item."
        },
        "name": {
          "type": "string",
          "description": "The name of the metric item."
        },
        "namespace": {
          "type": "string",
          "description": "The custom namespace to use."
        },
        "resourceMetadata": {
          "$ref": "#/definitions/QueryTileMetricsItemResourceMetadata",
          "description": "The information that identifies the resource to which the metric belongs."
        }
      },
      "required": [
        "aggregationType",
        "name",
        "resourceMetadata"
      ]
    },
    "QueryTileMetricsItemResourceMetadata": {
      "type": "object",
      "description": "The information that identifies the resource to which the metric belongs.",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ARM resource id of the resource."
        }
      },
      "required": [
        "id"
      ]
    },
    "QueryTileVisualization": {
      "type": "object",
      "description": "Query tile visualizations.",
      "properties": {
        "type": {
          "$ref": "#/definitions/VisualizationType",
          "description": "Enumeration of supported visualization types."
        },
        "options": {
          "type": "object",
          "description": "Options for Query Tile visualizations.",
          "additionalProperties": {}
        }
      }
    },
    "Resource": {
      "type": "object",
      "description": "Common fields that are returned in the response for all Azure Resource Manager resources",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource ID for the resource. Ex - /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{resourceProviderNamespace}/{resourceType}/{resourceName}",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource. E.g. \"Microsoft.Compute/virtualMachines\" or \"Microsoft.Storage/storageAccounts\"",
          "readOnly": true
        },
        "systemData": {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/systemData",
          "description": "Azure Resource Manager metadata containing createdBy and modifiedBy information.",
          "readOnly": true
        }
      }
    },
    "ResourceTile": {
      "type": "object",
      "description": "A resource tile.",
      "properties": {
        "data": {
          "$ref": "#/definitions/ResourceTileData",
          "description": "Data definition for a resource tile."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ],
      "x-ms-discriminator-value": "ResourceTile"
    },
    "ResourceTileData": {
      "type": "object",
      "description": "Data definition for a resource tile.",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ARM Id of a resource."
        },
        "visibleProperties": {
          "type": "array",
          "description": "List of visible properties.",
          "items": {
            "type": "string"
          }
        },
        "allowedCommands": {
          "type": "array",
          "description": "List of allowed commands.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "resourceId"
      ],
      "allOf": [
        {
          "type": "object",
          "additionalProperties": {}
        }
      ]
    },
    "Source": {
      "type": "string",
      "enum": [
        "inline",
        "uri"
      ],
      "x-ms-enum": {
        "name": "Source",
        "modelAsString": true
      }
    },
    "Type": {
      "type": "string",
      "enum": [
        "ArcSnapshotTile",
        "MarkdownTile",
        "NavigationTile",
        "PolicyTile",
        "QueryTile",
        "ResourceTile"
      ],
      "x-ms-enum": {
        "name": "Type",
        "modelAsString": true
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2024-01-01-preview"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2024_01_01_preview",
            "value": "2024-01-01-preview"
          }
        ]
      }
    },
    "VisualizationType": {
      "type": "string",
      "enum": [
        "area",
        "bar",
        "card",
        "column",
        "donut",
        "line",
        "multistat",
        "pie",
        "scatter",
        "table",
        "timechart"
      ],
      "x-ms-enum": {
        "name": "VisualizationType",
        "modelAsString": true
      }
    }
  },
  "parameters": {}
}
