{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft.DeviceOnboarding",
    "version": "2024-12-01-preview",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "OnboardingServices"
    },
    {
      "name": "Policies"
    },
    {
      "name": "DeviceStates"
    },
    {
      "name": "DiscoveryServices"
    },
    {
      "name": "OwnershipVoucherPublicKeys"
    }
  ],
  "paths": {
    "/{resourceUri}/providers/Microsoft.DeviceOnboarding/deviceStates": {
      "get": {
        "operationId": "DeviceStates_ListByParent",
        "tags": [
          "DeviceStates"
        ],
        "description": "List DeviceState resources by parent",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceStateListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_ListByParent": {
            "$ref": "./examples/DeviceStates_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.DeviceOnboarding/deviceStates/default": {
      "get": {
        "operationId": "DeviceStates_Get",
        "tags": [
          "DeviceStates"
        ],
        "description": "Get a DeviceState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_Get": {
            "$ref": "./examples/DeviceStates_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DeviceStates_CreateOrUpdate",
        "tags": [
          "DeviceStates"
        ],
        "description": "Create a DeviceState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DeviceState' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          },
          "201": {
            "description": "Resource 'DeviceState' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_CreateOrUpdate": {
            "$ref": "./examples/DeviceStates_CreateOrUpdate_MaximumSet_Gen.json"
          }
        }
      },
      "patch": {
        "operationId": "DeviceStates_Update",
        "tags": [
          "DeviceStates"
        ],
        "description": "Update a DeviceState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceStateUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DeviceState"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_Update": {
            "$ref": "./examples/DeviceStates_Update_MaximumSet_Gen.json"
          }
        }
      },
      "delete": {
        "operationId": "DeviceStates_Delete",
        "tags": [
          "DeviceStates"
        ],
        "description": "Delete a DeviceState",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_Delete": {
            "$ref": "./examples/DeviceStates_Delete_MaximumSet_Gen.json"
          }
        }
      }
    },
    "/{resourceUri}/providers/Microsoft.DeviceOnboarding/deviceStates/default/prepareForOnboarding": {
      "post": {
        "operationId": "DeviceStates_PrepareForOnboarding",
        "tags": [
          "DeviceStates"
        ],
        "description": "A long-running resource action.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/Azure.ResourceManager.ResourceUriParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrepareForOnboardingProperties"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Resource operation accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeviceStates_PrepareForOnboarding": {
            "$ref": "./examples/DeviceStates_PrepareForOnboarding_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.DeviceOnboarding/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceOnboarding/discoveryServices": {
      "get": {
        "operationId": "DiscoveryServices_ListBySubscription",
        "tags": [
          "DiscoveryServices"
        ],
        "description": "List DiscoveryService resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryServices_ListBySubscription": {
            "$ref": "./examples/DiscoveryServices_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DeviceOnboarding/onboardingServices": {
      "get": {
        "operationId": "OnboardingServices_ListBySubscription",
        "tags": [
          "OnboardingServices"
        ],
        "description": "List OnboardingService resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnboardingServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_ListBySubscription": {
            "$ref": "./examples/OnboardingServices_ListBySubscription_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/discoveryServices": {
      "get": {
        "operationId": "DiscoveryServices_ListByResourceGroup",
        "tags": [
          "DiscoveryServices"
        ],
        "description": "List DiscoveryService resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryServices_ListByResourceGroup": {
            "$ref": "./examples/DiscoveryServices_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/discoveryServices/{discoveryServiceName}": {
      "get": {
        "operationId": "DiscoveryServices_Get",
        "tags": [
          "DiscoveryServices"
        ],
        "description": "Get a DiscoveryService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryServices_Get": {
            "$ref": "./examples/DiscoveryServices_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "DiscoveryServices_CreateOrUpdate",
        "tags": [
          "DiscoveryServices"
        ],
        "description": "Create a DiscoveryService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoveryService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'DiscoveryService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoveryService"
            }
          },
          "201": {
            "description": "Resource 'DiscoveryService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/DiscoveryService"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryServices_CreateOrUpdate": {
            "$ref": "./examples/DiscoveryServices_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "DiscoveryServices_Update",
        "tags": [
          "DiscoveryServices"
        ],
        "description": "Update a DiscoveryService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiscoveryServiceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DiscoveryService"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryServices_Update": {
            "$ref": "./examples/DiscoveryServices_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "DiscoveryServices_Delete",
        "tags": [
          "DiscoveryServices"
        ],
        "description": "Delete a DiscoveryService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DiscoveryServices_Delete": {
            "$ref": "./examples/DiscoveryServices_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/discoveryServices/{discoveryServiceName}/ownershipVoucherPublicKeys": {
      "get": {
        "operationId": "OwnershipVoucherPublicKeys_ListByParent",
        "tags": [
          "OwnershipVoucherPublicKeys"
        ],
        "description": "List OwnershipVoucherPublicKey resources by DiscoveryService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OwnershipVoucherPublicKeyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OwnershipVoucherPublicKeys_ListByParent": {
            "$ref": "./examples/OwnershipVoucherPublicKeys_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/discoveryServices/{discoveryServiceName}/ownershipVoucherPublicKeys/{ownershipVoucherPublicKeyName}": {
      "get": {
        "operationId": "OwnershipVoucherPublicKeys_Get",
        "tags": [
          "OwnershipVoucherPublicKeys"
        ],
        "description": "Get a OwnershipVoucherPublicKey",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "ownershipVoucherPublicKeyName",
            "in": "path",
            "description": "The name of the ownership voucher public key resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OwnershipVoucherPublicKey"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OwnershipVoucherPublicKeys_Get": {
            "$ref": "./examples/OwnershipVoucherPublicKeys_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OwnershipVoucherPublicKeys_CreateOrUpdate",
        "tags": [
          "OwnershipVoucherPublicKeys"
        ],
        "description": "Create a OwnershipVoucherPublicKey",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "ownershipVoucherPublicKeyName",
            "in": "path",
            "description": "The name of the ownership voucher public key resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OwnershipVoucherPublicKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OwnershipVoucherPublicKey' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OwnershipVoucherPublicKey"
            }
          },
          "201": {
            "description": "Resource 'OwnershipVoucherPublicKey' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OwnershipVoucherPublicKey"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OwnershipVoucherPublicKeys_CreateOrUpdate": {
            "$ref": "./examples/OwnershipVoucherPublicKeys_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OwnershipVoucherPublicKeys_Update",
        "tags": [
          "OwnershipVoucherPublicKeys"
        ],
        "description": "Update a OwnershipVoucherPublicKey",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "ownershipVoucherPublicKeyName",
            "in": "path",
            "description": "The name of the ownership voucher public key resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OwnershipVoucherPublicKeyUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OwnershipVoucherPublicKey"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OwnershipVoucherPublicKeys_Update": {
            "$ref": "./examples/OwnershipVoucherPublicKeys_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OwnershipVoucherPublicKeys_Delete",
        "tags": [
          "OwnershipVoucherPublicKeys"
        ],
        "description": "Delete a OwnershipVoucherPublicKey",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "discoveryServiceName",
            "in": "path",
            "description": "The name of the Discovery Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "ownershipVoucherPublicKeyName",
            "in": "path",
            "description": "The name of the ownership voucher public key resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OwnershipVoucherPublicKeys_Delete": {
            "$ref": "./examples/OwnershipVoucherPublicKeys_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/onboardingServices": {
      "get": {
        "operationId": "OnboardingServices_ListByResourceGroup",
        "tags": [
          "OnboardingServices"
        ],
        "description": "List OnboardingService resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnboardingServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_ListByResourceGroup": {
            "$ref": "./examples/OnboardingServices_ListByResourceGroup_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/onboardingServices/{onboardingServiceName}": {
      "get": {
        "operationId": "OnboardingServices_Get",
        "tags": [
          "OnboardingServices"
        ],
        "description": "Get a OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_Get": {
            "$ref": "./examples/OnboardingServices_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "OnboardingServices_CreateOrUpdate",
        "tags": [
          "OnboardingServices"
        ],
        "description": "Create a OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'OnboardingService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            }
          },
          "201": {
            "description": "Resource 'OnboardingService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_CreateOrUpdate": {
            "$ref": "./examples/OnboardingServices_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "OnboardingServices_Update",
        "tags": [
          "OnboardingServices"
        ],
        "description": "Update a OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OnboardingServiceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/OnboardingService"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_Update": {
            "$ref": "./examples/OnboardingServices_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "OnboardingServices_Delete",
        "tags": [
          "OnboardingServices"
        ],
        "description": "Delete a OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "OnboardingServices_Delete": {
            "$ref": "./examples/OnboardingServices_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/onboardingServices/{onboardingServiceName}/policies": {
      "get": {
        "operationId": "Policies_ListByParent",
        "tags": [
          "Policies"
        ],
        "description": "List Policy resources by OnboardingService",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/PolicyListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_ListByParent": {
            "$ref": "./examples/Policies_ListByParent_MaximumSet_Gen.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DeviceOnboarding/onboardingServices/{onboardingServiceName}/policies/{policyName}": {
      "get": {
        "operationId": "Policies_Get",
        "tags": [
          "Policies"
        ],
        "description": "Get a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Policy tracked resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,127}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Get": {
            "$ref": "./examples/Policies_Get_MaximumSet_Gen.json"
          }
        }
      },
      "put": {
        "operationId": "Policies_CreateOrUpdate",
        "tags": [
          "Policies"
        ],
        "description": "Create a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Policy tracked resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,127}[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Policy' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "201": {
            "description": "Resource 'Policy' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Policy"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_CreateOrUpdate": {
            "$ref": "./examples/Policies_CreateOrUpdate_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Policies_Update",
        "tags": [
          "Policies"
        ],
        "description": "Update a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Policy tracked resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,127}[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PolicyPatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Policy"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Update": {
            "$ref": "./examples/Policies_Update_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "Policies_Delete",
        "tags": [
          "Policies"
        ],
        "description": "Delete a Policy",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "onboardingServiceName",
            "in": "path",
            "description": "The name of the Provisioning Resource.",
            "required": true,
            "type": "string",
            "maxLength": 64,
            "pattern": "^[a-zA-Z0-9-]{3,63}[a-zA-Z0-9]$"
          },
          {
            "name": "policyName",
            "in": "path",
            "description": "The name of the Policy tracked resource.",
            "required": true,
            "type": "string",
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9-]{3,127}[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policies_Delete": {
            "$ref": "./examples/Policies_Delete_MaximumSet_Gen.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "AllocatedEndpoint": {
      "type": "object",
      "description": "Representation of a previously allocated endpoint",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the endpoint."
        },
        "endpointType": {
          "$ref": "#/definitions/EndpointType",
          "description": "Type of the endpoint."
        },
        "hostName": {
          "type": "string",
          "description": "Hostname of the endpoint."
        }
      },
      "required": [
        "name",
        "endpointType",
        "hostName"
      ]
    },
    "AllocationEndpoint": {
      "type": "object",
      "description": "Allocation endpoint.",
      "properties": {
        "resourceId": {
          "$ref": "#/definitions/AllocationEndpointResourceId",
          "description": "Resource id of the endpoint."
        },
        "hostName": {
          "type": "string",
          "description": "host name of the endpoint."
        }
      },
      "required": [
        "resourceId",
        "hostName"
      ]
    },
    "AllocationEndpointResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.EventGrid/namespaces"
          }
        ]
      }
    },
    "AllocationRule": {
      "type": "object",
      "description": "The allocation rule.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the allocation rule."
        },
        "endpointType": {
          "$ref": "#/definitions/EndpointType",
          "description": "Type of endpoint."
        },
        "type": {
          "$ref": "#/definitions/AllocationType",
          "description": "Type of the allocation rule."
        }
      },
      "discriminator": "type",
      "required": [
        "name",
        "endpointType",
        "type"
      ]
    },
    "AllocationRulePatch": {
      "type": "object",
      "description": "The allocation rule patch model.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the allocation rule."
        },
        "endpointType": {
          "$ref": "#/definitions/EndpointType",
          "description": "Type of endpoint."
        },
        "type": {
          "$ref": "#/definitions/AllocationType",
          "description": "Type of the allocation rule."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "AllocationType": {
      "type": "string",
      "description": "Type of allocation rule.",
      "enum": [
        "EvenlyDistributed"
      ],
      "x-ms-enum": {
        "name": "AllocationType",
        "modelAsString": true,
        "values": [
          {
            "name": "EvenlyDistributed",
            "value": "EvenlyDistributed",
            "description": "Evenly distributed allocation."
          }
        ]
      }
    },
    "Azure.ResourceManager.CommonTypes.TrackedResourceUpdate": {
      "type": "object",
      "title": "Tracked Resource",
      "description": "The resource model definition for an Azure Resource Manager tracked top level resource which has 'tags' and a 'location'",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/Resource"
        }
      ]
    },
    "BootstrapAuthenticationRule": {
      "type": "object",
      "description": "The authentication rule for bootstrap.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BootstrapAuthenticationType",
          "description": "The type of authentication rule."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "BootstrapAuthenticationType": {
      "type": "string",
      "description": "The authentication type for bootstrap.",
      "enum": [
        "X509",
        "FDO"
      ],
      "x-ms-enum": {
        "name": "BootstrapAuthenticationType",
        "modelAsString": true,
        "values": [
          {
            "name": "X509",
            "value": "X509",
            "description": "The X509 authentication type."
          },
          {
            "name": "FDO",
            "value": "FDO",
            "description": "The FDO authentication type."
          }
        ]
      }
    },
    "CaConfig": {
      "type": "object",
      "description": "The configuration for setting up a CA.",
      "properties": {
        "name": {
          "type": "string",
          "description": "System-generated value for referencing the CA.",
          "readOnly": true
        },
        "properties": {
          "$ref": "#/definitions/CertificateProperties",
          "description": "Certificate properties."
        }
      },
      "required": [
        "properties"
      ]
    },
    "CertPolicyConfig": {
      "type": "object",
      "description": "The configuration for setting up a policy.",
      "properties": {
        "validityPeriodInDays": {
          "type": "integer",
          "format": "int32",
          "description": "The validity period in days.",
          "minimum": 1
        }
      },
      "required": [
        "validityPeriodInDays"
      ]
    },
    "CertificateIssuanceRule": {
      "type": "object",
      "description": "Certificate issuance configurations.",
      "properties": {
        "issuingAuthority": {
          "$ref": "#/definitions/SupportedIssuingAuthority",
          "description": "The type of authority for cert issuance."
        },
        "certificateAuthorityConfiguration": {
          "$ref": "#/definitions/CaConfig",
          "description": "The configuration to set up an ICA."
        },
        "leafCertificateConfiguration": {
          "$ref": "#/definitions/CertPolicyConfig",
          "description": "The leaf certificate configuration."
        },
        "renewalInterval": {
          "type": "integer",
          "format": "int32",
          "description": "Cert renewal interval.",
          "minimum": 1
        }
      },
      "required": [
        "issuingAuthority",
        "certificateAuthorityConfiguration",
        "leafCertificateConfiguration",
        "renewalInterval"
      ]
    },
    "CertificateProperties": {
      "type": "object",
      "description": "Certificate properties.",
      "properties": {
        "keyType": {
          "$ref": "#/definitions/SupportedKeyType",
          "description": "Crypto type: RSA or EC."
        },
        "subject": {
          "type": "string",
          "description": "Certificate subject.",
          "readOnly": true
        },
        "validityPeriodInDays": {
          "type": "integer",
          "format": "int32",
          "description": "System-assigned validity period.",
          "minimum": 365,
          "maximum": 366,
          "readOnly": true
        },
        "validityNotBefore": {
          "type": "string",
          "format": "date-time",
          "description": "Certificate is valid not before this date. Format ISO8601. Generated based on on validity period.",
          "readOnly": true
        },
        "validityNotAfter": {
          "type": "string",
          "format": "date-time",
          "description": "Certificate is valid not after this date. Format ISO8601. Generated based on validity period.",
          "readOnly": true
        }
      },
      "required": [
        "keyType"
      ]
    },
    "DeviceEndpoint": {
      "type": "object",
      "description": "The device endpoint.",
      "properties": {
        "hostName": {
          "type": "string",
          "description": "Hostname of the Endpoint.",
          "readOnly": true
        }
      }
    },
    "DeviceEndpoints": {
      "type": "object",
      "description": "Device endpoints.",
      "properties": {
        "default": {
          "$ref": "#/definitions/DeviceEndpoint",
          "description": "The default endpoint.",
          "readOnly": true
        }
      }
    },
    "DeviceRegistryNamespaceDeviceJitProperties": {
      "type": "object",
      "description": "The just-in-time connection properties for device registry namespace devices.",
      "properties": {
        "namespaceResourceId": {
          "$ref": "#/definitions/DeviceRegistryNamespaceResourceId",
          "description": "Resource id of the device registry namespace, required for device type Microsoft.DeviceRegistry/namespaces/devices"
        }
      },
      "required": [
        "namespaceResourceId"
      ]
    },
    "DeviceRegistryNamespacePolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Device Registry Namespace Policy.",
      "properties": {
        "jitProperties": {
          "$ref": "#/definitions/DeviceRegistryNamespaceDeviceJitProperties",
          "description": "The just-in-time connection properties for device registry namespace devices."
        },
        "operationalIdentityInfo": {
          "$ref": "#/definitions/IdentityInfo",
          "description": "Identity information."
        },
        "resourceMetadata": {
          "$ref": "#/definitions/ResourceMetadata",
          "description": "Resource metadata."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PolicyResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.DeviceRegistry/namespaces/devices"
    },
    "DeviceRegistryNamespaceResourceId": {
      "type": "string",
      "format": "arm-id",
      "description": "A type definition that refers the id to an Azure Resource Manager resource.",
      "x-ms-arm-id-details": {
        "allowedResources": [
          {
            "type": "Microsoft.DeviceRegistry/namespaces"
          }
        ]
      }
    },
    "DeviceRegistryPolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Device Registry Policy.",
      "properties": {
        "operationalIdentityInfo": {
          "$ref": "#/definitions/IdentityInfo",
          "description": "Identity information."
        },
        "resourceMetadata": {
          "$ref": "#/definitions/ResourceMetadata",
          "description": "Resource metadata."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PolicyResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.DeviceRegistry/devices"
    },
    "DeviceState": {
      "type": "object",
      "description": "The provisioning state of a device.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceStateProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DeviceStateListResult": {
      "type": "object",
      "description": "The response of a DeviceState list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DeviceState items on this page",
          "items": {
            "$ref": "#/definitions/DeviceState"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DeviceStateProperties": {
      "type": "object",
      "description": "Details of the DeviceState",
      "properties": {
        "registrationId": {
          "type": "string",
          "description": "Unique identifier for the device. Allow alphanumeric and '-', '.', '_', ':' only. Last character can only be alphanumeric and '-'",
          "maxLength": 128,
          "pattern": "^([a-z0-9-._:]{0,127}[a-z0-9-])$",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "discoveryEnabled": {
          "$ref": "#/definitions/DiscoveryOptions",
          "description": "Indicates if the device is enabled for discovery"
        },
        "onboardingStatus": {
          "$ref": "#/definitions/OnboardingStatus",
          "description": "Onboarding status of the resource this DeviceState extends",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "policyResourceId": {
          "$ref": "#/definitions/PolicyResourceId",
          "description": "The onboarding policy resource id"
        },
        "allocatedEndpoints": {
          "type": "array",
          "description": "Array of previously allocated endpoints",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/AllocatedEndpoint"
          },
          "x-ms-identifiers": [
            "name"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "onboardUntilDate": {
          "type": "string",
          "format": "date-time",
          "description": "Indicates the maximum date and time by which a device can be onboarded, in utcDateTime format",
          "readOnly": true
        }
      },
      "required": [
        "registrationId",
        "onboardingStatus",
        "policyResourceId"
      ]
    },
    "DeviceStatePropertiesUpdate": {
      "type": "object",
      "description": "Details of the DeviceState",
      "properties": {
        "discoveryEnabled": {
          "$ref": "#/definitions/DiscoveryOptions",
          "description": "Indicates if the device is enabled for discovery"
        },
        "onboardingStatus": {
          "$ref": "#/definitions/OnboardingStatus",
          "description": "Onboarding status of the resource this DeviceState extends",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "policyResourceId": {
          "$ref": "#/definitions/PolicyResourceId",
          "description": "The onboarding policy resource id"
        },
        "allocatedEndpoints": {
          "type": "array",
          "description": "Array of previously allocated endpoints",
          "maxItems": 1,
          "items": {
            "$ref": "#/definitions/AllocatedEndpoint"
          },
          "x-ms-identifiers": [
            "name"
          ]
        }
      }
    },
    "DeviceStateUpdate": {
      "type": "object",
      "description": "The provisioning state of a device.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DeviceStatePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "DiscoveryOptions": {
      "type": "string",
      "description": "Options for enabling or disabling devices for discovery.",
      "enum": [
        "True",
        "False"
      ],
      "x-ms-enum": {
        "name": "DiscoveryOptions",
        "modelAsString": true,
        "values": [
          {
            "name": "True",
            "value": "True",
            "description": "Value indicating the device is enabled for discovery"
          },
          {
            "name": "False",
            "value": "False",
            "description": "Value indicating the device is disabled for discovery"
          }
        ]
      }
    },
    "DiscoveryService": {
      "type": "object",
      "description": "A discovery resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoveryServiceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "DiscoveryServiceListResult": {
      "type": "object",
      "description": "The response of a DiscoveryService list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The DiscoveryService items on this page",
          "items": {
            "$ref": "#/definitions/DiscoveryService"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "DiscoveryServiceProperties": {
      "type": "object",
      "description": "Details of the Discovery Service.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "endpoints": {
          "$ref": "#/definitions/RendezvousEndpoints",
          "description": "The discovery service rendezvous endpoints.",
          "readOnly": true
        }
      }
    },
    "DiscoveryServiceUpdate": {
      "type": "object",
      "description": "A discovery resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiscoveryServiceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "EndpointType": {
      "type": "string",
      "description": "Type of the endpoint.",
      "enum": [
        "Microsoft.EventGrid/namespaces"
      ],
      "x-ms-enum": {
        "name": "EndpointType",
        "modelAsString": true,
        "values": [
          {
            "name": "MicrosoftEventGridNamespace",
            "value": "Microsoft.EventGrid/namespaces",
            "description": "Azure event grid broker."
          }
        ]
      }
    },
    "EvenlyDistributedAllocationRule": {
      "type": "object",
      "description": "The allocation rule for evenly distributed allocation type.",
      "properties": {
        "endpoints": {
          "type": "array",
          "description": "List of endpoints for evenly distributed allocation type.",
          "minItems": 1,
          "maxItems": 10,
          "items": {
            "$ref": "#/definitions/AllocationEndpoint"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "required": [
        "endpoints"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AllocationRule"
        }
      ],
      "x-ms-discriminator-value": "EvenlyDistributed"
    },
    "FdoBootstrapAuthenticationRule": {
      "type": "object",
      "description": "The FDO-based authentication rule for bootstrapping.",
      "properties": {
        "publicKeys": {
          "$ref": "#/definitions/FdoPublicKeys",
          "description": "Per policy public key(s) to extend ownership voucher to the customer.",
          "readOnly": true
        },
        "ownershipVoucherStorage": {
          "$ref": "#/definitions/OwnershipVoucherStorage",
          "description": "Ownership Voucher storage"
        },
        "rendezvousEndpoint": {
          "type": "string",
          "format": "uri",
          "description": "Endpoint for the rendezvous service, e.g. https://contoso-rv1.contoso.com"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BootstrapAuthenticationRule"
        }
      ],
      "x-ms-discriminator-value": "FDO"
    },
    "FdoPublicKey": {
      "type": "object",
      "description": "Owner public key model",
      "properties": {
        "default": {
          "type": "array",
          "description": "x5Chain representation of the public key.",
          "items": {
            "type": "string",
            "format": "byte"
          },
          "readOnly": true
        }
      }
    },
    "FdoPublicKeys": {
      "type": "object",
      "description": "Owner public keys to extend ownership voucher to the customer.",
      "properties": {
        "secp256R1": {
          "$ref": "#/definitions/FdoPublicKey",
          "description": "Public key as x5C with encryption type SECP256R1.",
          "readOnly": true
        }
      }
    },
    "HybridComputePolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Hybrid Compute Machines Policy.",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.HybridCompute/machines"
    },
    "IdentityInfo": {
      "type": "object",
      "description": "The information related to device identity.",
      "properties": {
        "certificateIssuance": {
          "$ref": "#/definitions/CertificateIssuanceRule",
          "description": "Certificate issuance settings."
        },
        "deviceTemplateId": {
          "type": "string",
          "description": "Guid of the device template.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "staticGroupId": {
          "type": "string",
          "description": "Guid for static AAD group."
        }
      },
      "required": [
        "deviceTemplateId",
        "staticGroupId"
      ]
    },
    "JitRule": {
      "type": "object",
      "description": "The rule for Just-in-time connection.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the policy. Should be greater than 0.",
          "minimum": 1
        },
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the target subscription.",
          "minLength": 1
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The case insensitive name of the target resource group.",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^[-\\w\\._\\(\\)]+$"
        }
      },
      "required": [
        "priority",
        "subscriptionId",
        "resourceGroupName"
      ]
    },
    "JitRulePatchUpdate": {
      "type": "object",
      "description": "The rule for Just-in-time connection.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "The priority of the policy. Should be greater than 0.",
          "minimum": 1
        },
        "subscriptionId": {
          "type": "string",
          "description": "The ID of the target subscription.",
          "minLength": 1
        },
        "resourceGroupName": {
          "type": "string",
          "description": "The case insensitive name of the target resource group.",
          "minLength": 1,
          "maxLength": 90,
          "pattern": "^[-\\w\\._\\(\\)]+$"
        }
      }
    },
    "OnboardingResourceType": {
      "type": "string",
      "description": "Type of resource being provisioned.",
      "enum": [
        "Microsoft.DeviceRegistry/devices",
        "Microsoft.DeviceRegistry/namespaces/devices",
        "Microsoft.HybridCompute/machines"
      ],
      "x-ms-enum": {
        "name": "OnboardingResourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "DeviceRegistryDevice",
            "value": "Microsoft.DeviceRegistry/devices",
            "description": "Azure device registry device. Microsoft.DeviceRegistry/devices"
          },
          {
            "name": "DeviceRegistryNamespaceDevice",
            "value": "Microsoft.DeviceRegistry/namespaces/devices",
            "description": "Azure device registry namespace device. Microsoft.DeviceRegistry/namespaces/devices"
          },
          {
            "name": "HybridComputeMachine",
            "value": "Microsoft.HybridCompute/machines",
            "description": "Arc enabled device. Microsoft.HybridCompute/machines"
          }
        ]
      }
    },
    "OnboardingService": {
      "type": "object",
      "description": "A provisioning resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OnboardingServiceProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OnboardingServiceListResult": {
      "type": "object",
      "description": "The response of a OnboardingService list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OnboardingService items on this page",
          "items": {
            "$ref": "#/definitions/OnboardingService"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OnboardingServiceProperties": {
      "type": "object",
      "description": "Details of the EdgeProvisioning OnboardingService.",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        },
        "deviceEndpoints": {
          "$ref": "#/definitions/DeviceEndpoints",
          "description": "The onboarding service device endpoints.",
          "readOnly": true
        },
        "enableCertificateManagement": {
          "type": "boolean",
          "description": "Selecting 'true' will enable a Microsoft managed PKI to issue certificates. Setting up of the CA and policies for certificate management will be while defining the onboarding policy.",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccessOptions",
          "description": "Allow public network access to private links.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "privateEndpointConnections": {
          "type": "array",
          "description": "The private endpoint connections.",
          "items": {
            "$ref": "../../../../../common-types/resource-management/v5/privatelinks.json#/definitions/PrivateEndpointConnection"
          },
          "readOnly": true
        }
      },
      "required": [
        "enableCertificateManagement"
      ]
    },
    "OnboardingServicePropertiesUpdate": {
      "type": "object",
      "description": "Details of the EdgeProvisioning OnboardingService.",
      "properties": {
        "publicNetworkAccess": {
          "$ref": "#/definitions/PublicNetworkAccessOptions",
          "description": "Allow public network access to private links.",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        }
      }
    },
    "OnboardingServiceUpdate": {
      "type": "object",
      "description": "A provisioning resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OnboardingServicePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "OnboardingStatus": {
      "type": "string",
      "description": "The current onboarding status.",
      "enum": [
        "Pending",
        "Provisioned",
        "Failed"
      ],
      "x-ms-enum": {
        "name": "OnboardingStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Pending",
            "value": "Pending",
            "description": "Onboarding is still pending"
          },
          {
            "name": "Provisioned",
            "value": "Provisioned",
            "description": "The resource has been onboarded"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Onboarding has failed"
          }
        ]
      }
    },
    "OwnershipVoucherPublicKey": {
      "type": "object",
      "description": "Ownership voucher public key resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OwnershipVoucherPublicKeyProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "OwnershipVoucherPublicKeyListResult": {
      "type": "object",
      "description": "The response of a OwnershipVoucherPublicKey list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The OwnershipVoucherPublicKey items on this page",
          "items": {
            "$ref": "#/definitions/OwnershipVoucherPublicKey"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "OwnershipVoucherPublicKeyProperties": {
      "type": "object",
      "description": "Details of the Allowed Ownership Voucher Public Key resource",
      "properties": {
        "publicKeyDetails": {
          "$ref": "#/definitions/PublicKeyDetails",
          "description": "Public key."
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The status of the last operation.",
          "readOnly": true
        }
      },
      "required": [
        "publicKeyDetails"
      ]
    },
    "OwnershipVoucherPublicKeyPropertiesUpdate": {
      "type": "object",
      "description": "Details of the Allowed Ownership Voucher Public Key resource",
      "properties": {
        "publicKeyDetails": {
          "$ref": "#/definitions/PublicKeyDetailsUpdate",
          "description": "Public key."
        }
      }
    },
    "OwnershipVoucherPublicKeyUpdate": {
      "type": "object",
      "description": "Ownership voucher public key resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OwnershipVoucherPublicKeyPropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Azure.ResourceManager.CommonTypes.TrackedResourceUpdate"
        }
      ]
    },
    "OwnershipVoucherStorage": {
      "type": "object",
      "description": "Generic Ownership Voucher Storage type.",
      "properties": {
        "ownershipVoucherStorageType": {
          "$ref": "#/definitions/OwnershipVoucherStorageType",
          "description": "The Ownership Voucher Storage type."
        }
      },
      "discriminator": "ownershipVoucherStorageType",
      "required": [
        "ownershipVoucherStorageType"
      ]
    },
    "OwnershipVoucherStorageType": {
      "type": "string",
      "description": "The Ownership Voucher Storage Type.",
      "enum": [
        "Microsoft.Storage/storageAccounts"
      ],
      "x-ms-enum": {
        "name": "OwnershipVoucherStorageType",
        "modelAsString": true,
        "values": [
          {
            "name": "AzureBlobStorage",
            "value": "Microsoft.Storage/storageAccounts",
            "description": "The Storage Account Ownership Voucher Storage type."
          }
        ]
      }
    },
    "PatchAllocationEndpoint": {
      "type": "object",
      "description": "Allocation endpoint.",
      "properties": {
        "resourceId": {
          "$ref": "#/definitions/AllocationEndpointResourceId",
          "description": "Resource id of the endpoint."
        },
        "hostName": {
          "type": "string",
          "description": "host name of the endpoint."
        }
      }
    },
    "PatchBootstrapAuthenticationRule": {
      "type": "object",
      "description": "The bootstrap authentication rule for patch.",
      "properties": {
        "type": {
          "$ref": "#/definitions/BootstrapAuthenticationType",
          "description": "The type of authentication rule."
        }
      },
      "discriminator": "type",
      "required": [
        "type"
      ]
    },
    "PatchDeviceRegistryNamespacePolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Device Registry Namespace Policy.",
      "properties": {
        "jitProperties": {
          "$ref": "#/definitions/DeviceRegistryNamespaceDeviceJitProperties",
          "description": "The just-in-time connection properties for device registry namespace devices."
        },
        "operationalIdentityInfo": {
          "$ref": "#/definitions/IdentityInfo",
          "description": "Identity information."
        },
        "resourceMetadata": {
          "$ref": "#/definitions/ResourceMetadata",
          "description": "Resource metadata."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PolicyPatchResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.DeviceRegistry/namespaces/devices"
    },
    "PatchDeviceRegistryPolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Device Registry Policy.",
      "properties": {
        "operationalIdentityInfo": {
          "$ref": "#/definitions/IdentityInfo",
          "description": "Identity information."
        },
        "resourceMetadata": {
          "$ref": "#/definitions/ResourceMetadata",
          "description": "Resource metadata."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PolicyPatchResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.DeviceRegistry/devices"
    },
    "PatchEvenlyDistributedAllocationRule": {
      "type": "object",
      "description": "The allocation rule for evenly distributed allocation type.",
      "properties": {
        "endpoints": {
          "type": "array",
          "description": "List of endpoints for evenly distributed allocation type.",
          "minItems": 1,
          "maxItems": 10,
          "items": {
            "$ref": "#/definitions/PatchAllocationEndpoint"
          },
          "x-ms-identifiers": [
            "resourceId"
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AllocationRulePatch"
        }
      ],
      "x-ms-discriminator-value": "EvenlyDistributed"
    },
    "PatchFdoBootstrapAuthenticationRule": {
      "type": "object",
      "description": "The FDO-based authentication rule for bootstrapping.",
      "properties": {
        "publicKeys": {
          "$ref": "#/definitions/FdoPublicKeys",
          "description": "Per policy public keys to represent this policy",
          "readOnly": true
        },
        "ownershipVoucherStorage": {
          "$ref": "#/definitions/OwnershipVoucherStorage",
          "description": "Ownership Voucher storage link"
        },
        "rendezvousEndpoint": {
          "type": "string",
          "format": "uri",
          "description": "Endpoint for the rendezvous service, e.g. https://contoso-rv1.contoso.com"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PatchBootstrapAuthenticationRule"
        }
      ],
      "x-ms-discriminator-value": "FDO"
    },
    "PatchHybridComputePolicyResourceDetails": {
      "type": "object",
      "description": "Details of the OnboardingService Hybrid Compute Machines Policy.",
      "allOf": [
        {
          "$ref": "#/definitions/PolicyPatchResourceDetails"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.HybridCompute/machines"
    },
    "PatchOwnershipVoucherStorage": {
      "type": "object",
      "description": "Generic Ownership Voucher Storage type.",
      "properties": {
        "ownershipVoucherStorageType": {
          "$ref": "#/definitions/OwnershipVoucherStorageType",
          "description": "The Ownership Voucher Storage type."
        }
      },
      "discriminator": "ownershipVoucherStorageType",
      "required": [
        "ownershipVoucherStorageType"
      ]
    },
    "PatchSelectedIdentity": {
      "type": "object",
      "description": "Information on the selected identity. Can be SystemAssigned or UserAssigned.",
      "properties": {
        "type": {
          "$ref": "#/definitions/SelectedIdentityType",
          "description": "The type of identity."
        },
        "resourceId": {
          "$ref": "#/definitions/SelectedIdentityResourceId",
          "description": "Resource id of the UserAssigned identity."
        }
      }
    },
    "PatchStorageAccountOwnershipVoucherStorage": {
      "type": "object",
      "description": "Storage Account Ownership Voucher Storage. Policy MI is used to access this storage",
      "properties": {
        "resourceId": {
          "$ref": "#/definitions/StorageAccountResourceId",
          "description": "The storage resource id"
        },
        "containerUri": {
          "type": "string",
          "format": "uri",
          "description": "Endpoint URI for the storage account"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PatchOwnershipVoucherStorage"
        }
      ],
      "x-ms-discriminator-value": "Microsoft.Storage/storageAccounts"
    },
    "PatchX509BootstrapAuthenticationRule": {
      "type": "object",
      "description": "The x509-based authentication rule for bootstrapping.",
      "properties": {
        "primaryCertificate": {
          "$ref": "#/definitions/PatchX509Certificate",
          "description": "The primary certificate. B64 x509 cert"
        },
        "secondaryCertificate": {
          "$ref": "#/definitions/PatchX509Certificate",
          "description": "The secondary certificate."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/PatchBootstrapAuthenticationRule"
        }
      ],
      "x-ms-discriminator-value": "X509"
    },
    "PatchX509Certificate": {
      "type": "object",
      "description": "X509 Certificate.",
      "properties": {
        "certificate": {
          "type": "string",
          "format": "byte",
          "description": "The certificate."
[...]
