{
  "swagger": "2.0",
  "info": {
    "title": "HybridNetworkManagementClient",
    "description": "The resources in this swagger specification will be used to manage the network function vendor in a Hybrid Network resource provider.",
    "version": "2021-05-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkFunctionVendors": {
      "get": {
        "tags": [
          "networkFunctionVendors"
        ],
        "operationId": "networkFunctionVendors_List",
        "description": "Lists all the available vendor and sku information.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of vendors with available sku information.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionVendorListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List vendors and skus.": {
            "$ref": "./examples/NetworkFunctionVendorAndSkuListBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkFunctionVendors/{vendorName}/vendorSkus": {
      "get": {
        "tags": [
          "networkFunctionVendors"
        ],
        "operationId": "NetworkFunctionVendorSkus_ListByVendor",
        "description": "Lists all network function vendor sku details in a vendor.",
        "parameters": [
          {
            "name": "vendorName",
            "description": "The name of the network function vendor.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of network function vendor skus.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionSkuListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List vendors and skus.": {
            "$ref": "./examples/NetworkFunctionSkuListByVendor.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridNetwork/networkFunctionVendors/{vendorName}/vendorSkus/{vendorSkuName}": {
      "get": {
        "tags": [
          "networkFunctionVendors"
        ],
        "operationId": "networkFunctionVendorSkus_ListBySku",
        "description": "Lists information about network function vendor sku details.",
        "parameters": [
          {
            "name": "vendorName",
            "description": "The name of the network function vendor.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "vendorSkuName",
            "description": "The name of the network function sku.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v2/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns the resulting network function vendor sku details.",
            "schema": {
              "$ref": "#/definitions/NetworkFunctionSkuDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v2/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get network function sku details": {
            "$ref": "./examples/NetworkFunctionSkuDetailsGet.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "SkuOverview": {
      "properties": {
        "skuName": {
          "type": "string",
          "description": "The vendor sku name."
        },
        "skuType": {
          "$ref": "./common.json#/definitions/SkuType",
          "description": "The vendor sku type."
        }
      },
      "description": "The network function sku overview."
    },
    "NetworkFunctionSkuDetails": {
      "properties": {
        "skuType": {
          "$ref": "./common.json#/definitions/SkuType",
          "description": "The network function sku type."
        },
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkFunctionSkuRoleDetails"
          },
          "description": "The network function sku role details."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "The network function sku details."
    },
    "VendorDetails": {
      "properties": {
        "vendorName": {
          "type": "string",
          "description": "The network function vendor name."
        },
        "skuList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuOverview"
          },
          "description": "The network function sku list."
        }
      },
      "description": "The network function vendor details."
    },
    "NetworkFunctionVendor": {
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/VendorDetails",
          "description": "Vendors of Hybrid Network service provider."
        }
      },
      "description": "The network function vendor."
    },
    "NetworkFunctionVendorListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkFunctionVendor"
          },
          "description": "A list of available network function vendors and skus."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "The network function vendor list result."
    },
    "NetworkFunctionSkuRoleDetails": {
      "properties": {
        "roleName": {
          "type": "string",
          "description": "The name of the network function role."
        },
        "userDataTemplate": {
          "$ref": "./common.json#/definitions/UserDataTemplate",
          "description": "The user data template for customers."
        },
        "userDataParameters": {
          "$ref": "./common.json#/definitions/UserDataParameters",
          "description": "The user parameters for customers."
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/NetworkInterface"
          },
          "description": "The network interface configuration."
        }
      },
      "description": "The network function user configuration."
    },
    "NetworkFunctionSkuListResult": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SkuOverview"
          },
          "description": "The network function vendor sku overview properties."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "A list of available network function skus."
    }
  }
}
