{
  "swagger": "2.0",
  "info": {
    "version": "2023-10-01-preview",
    "title": "portal",
    "description": "Allows creation and deletion of Azure Shared Dashboards."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/dashboards/{dashboardName}": {
      "put": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_CreateOrUpdate",
        "x-ms-examples": {
          "Create an empty dashboard": {
            "$ref": "examples/dashboards/createEmptyDashboard.json"
          },
          "Create a dashboard with Markdown tiles": {
            "$ref": "examples/dashboards/createDashboardWithMarkdownTiles.json"
          },
          "Create a dashboard with Resource tiles": {
            "$ref": "examples/dashboards/createDashboardWithResourceTile.json"
          },
          "Create a dashboard with Query tiles": {
            "$ref": "examples/dashboards/createDashboardWithQueryTile.json"
          },
          "Create a dashboard with parameters": {
            "$ref": "examples/dashboards/createDashboardWithParameters.json"
          }
        },
        "description": "Creates or updates a Dashboard.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "dashboard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Dashboard"
            },
            "description": "The parameters required to create or update a dashboard."
          }
        ],
        "responses": {
          "201": {
            "description": "Created response definition. Resource has been created",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "200": {
            "description": "Resource already exists and has been updated.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "delete": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_Delete",
        "x-ms-examples": {
          "Delete a Dashboard": {
            "$ref": "examples/dashboards/deleteDashboard.json"
          }
        },
        "description": "Deletes the Dashboard.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition."
          },
          "204": {
            "description": "OK resource was not found."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_Get",
        "x-ms-examples": {
          "Get a Dashboard": {
            "$ref": "examples/dashboards/getDashboard.json"
          }
        },
        "description": "Gets the Dashboard.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      },
      "patch": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_Update",
        "x-ms-examples": {
          "Update a dashboard with Markdown tiles": {
            "$ref": "examples/dashboards/updateDashboardWithMarkdownTiles.json"
          },
          "Update a dashboard with Resource tiles": {
            "$ref": "examples/dashboards/updateDashboardWithResourceTile.json"
          },
          "Update a dashboard with Query tiles": {
            "$ref": "examples/dashboards/updateDashboardWithQueryTile.json"
          },
          "Update a dashboard with parameters": {
            "$ref": "examples/dashboards/updateDashboardWithParameters.json"
          }
        },
        "description": "Updates an existing Dashboard.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/DashboardNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "dashboard",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PatchableDashboard"
            },
            "description": "The updatable fields of a Dashboard."
          }
        ],
        "responses": {
          "200": {
            "description": "OK response definition.",
            "schema": {
              "$ref": "#/definitions/Dashboard"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.PortalServices/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_ListByResourceGroup",
        "x-ms-examples": {
          "List all custom resource providers on the resourceGroup": {
            "$ref": "examples/dashboards/listDashboardsByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Gets all the Dashboards within a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of Dashboards.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.PortalServices/dashboards": {
      "get": {
        "tags": [
          "Dashboard"
        ],
        "operationId": "Dashboards_ListBySubscription",
        "x-ms-examples": {
          "List all custom resource providers on the subscription": {
            "$ref": "examples/dashboards/listDashboardsBySubscription.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Gets all the dashboards within a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Returns an array of dashboards.",
            "schema": {
              "$ref": "#/definitions/DashboardListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ]
      }
    }
  },
  "definitions": {
    "DashboardListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Dashboard"
          },
          "description": "The array of custom resource provider manifests."
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      },
      "description": "List of dashboards."
    },
    "DashboardTile": {
      "type": "object",
      "description": "A dashboard tile.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard title."
        },
        "subtitle": {
          "type": "string",
          "description": "The title of dashboard subtitle."
        },
        "type": {
          "$ref": "#/definitions/DashboardTileType"
        },
        "layout": {
          "$ref": "#/definitions/DashboardTileLayout"
        }
      },
      "discriminator": "type",
      "required": [
        "title",
        "type",
        "layout"
      ]
    },
    "DashboardTileLayout": {
      "type": "object",
      "description": "The dashboard tile's layout.",
      "properties": {
        "x": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's x position."
        },
        "y": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's y position."
        },
        "width": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's width in grid units."
        },
        "height": {
          "type": "integer",
          "format": "int32",
          "description": "The dashboard tile's height in grid units."
        }
      },
      "required": [
        "x",
        "y",
        "width",
        "height"
      ]
    },
    "DashboardTileType": {
      "description": "Dashboard tile type.",
      "enum": [
        "MarkdownTile",
        "QueryTile",
        "ResourceTile"
      ],
      "type": "string",
      "x-ms-enum": {
        "name": "type",
        "modelAsString": true
      }
    },
    "MarkdownTile": {
      "x-ms-discriminator-value": "MarkdownTile",
      "description": "A markdown tile.",
      "type": "object",
      "properties": {
        "data": {
          "description": "The definition of data for the markdown tile.",
          "type": "object",
          "$ref": "#/definitions/MarkdownTileData"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ]
    },
    "MarkdownTileData": {
      "type": "object",
      "description": "Data definition for a markdown tile.",
      "properties": {
        "source": {
          "$ref": "#/definitions/MarkdownTileDataSource"
        }
      },
      "discriminator": "source",
      "required": [
        "source"
      ]
    },
    "MarkdownTileDataSource": {
      "description": "Dashboard Markdown Tile source.",
      "enum": [
        "inline",
        "uri"
      ],
      "x-ms-enum": {
        "name": "source",
        "modelAsString": true
      },
      "type": "string"
    },
    "MarkdownInlineData": {
      "x-ms-discriminator-value": "inline",
      "type": "object",
      "description": "The data definition of Markdown with inline content",
      "properties": {
        "content": {
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/MarkdownTileData"
        }
      ],
      "required": [
        "content"
      ]
    },
    "MarkdownUriData": {
      "x-ms-discriminator-value": "uri",
      "type": "object",
      "description": "The data definition of Markdown with uri content",
      "properties": {
        "uri": {
          "type": "string"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/MarkdownTileData"
        }
      ],
      "required": [
        "uri"
      ]
    },
    "QueryTile": {
      "x-ms-discriminator-value": "QueryTile",
      "description": "A query tile.",
      "type": "object",
      "properties": {
        "visualization": {
          "$ref": "#/definitions/QueryTileVisualization"
        },
        "data": {
          "description": "The definition of data source object within the Query tile.",
          "type": "object",
          "$ref": "#/definitions/QueryTileData"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ]
    },
    "QueryTileData": {
      "type": "object",
      "description": "A dashboard query tile.",
      "additionalProperties": true,
      "properties": {
        "kind": {
          "$ref": "#/definitions/QueryTileKind"
        },
        "usedParameters": {
          "type": "array",
          "description": "The dashboard parameter names used in the tiles.",
          "items": {
            "type": "string"
          },
          "x-ms-identifiers": []
        }
      },
      "discriminator": "kind",
      "required": [
        "kind"
      ]
    },
    "QueryTileKind": {
      "description": "Dashboard Query tile kind.",
      "enum": [
        "arg",
        "app-insights"
      ],
      "x-ms-enum": {
        "name": "kind",
        "modelAsString": true
      },
      "type": "string"
    },
    "QueryTileVisualization": {
      "description": "Query tile visualizations.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Enumeration of supported visualization types.",
          "enum": [
            "area",
            "bar",
            "card",
            "column",
            "line",
            "multistat",
            "pie",
            "scatter",
            "table",
            "timechart"
          ],
          "x-ms-enum": {
            "name": "VisualizationType",
            "modelAsString": true
          }
        },
        "options": {
          "type": "object",
          "description": "Options for Query Tile visualizations."
        }
      }
    },
    "ArgDataDefinition": {
      "x-ms-discriminator-value": "arg",
      "type": "object",
      "description": "The data definition of ARG Query Tile.",
      "properties": {
        "query": {
          "type": "string",
          "description": "The ARG query."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "required": [
        "query"
      ]
    },
    "AppInsightsDataDefinition": {
      "x-ms-discriminator-value": "app-insights",
      "type": "object",
      "description": "The data definition of App Insights Query Tile.",
      "properties": {
        "metrics": {
          "type": "array",
          "description": "Array of metrics object for an app insights query tile data.",
          "items": {
            "$ref": "#/definitions/QueryTileMetricsItem"
          },
          "x-ms-identifiers": []
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/QueryTileData"
        }
      ],
      "required": [
        "metrics"
      ]
    },
    "QueryTileMetricsItem": {
      "type": "object",
      "description": "The metrics object for an app insights query tile data.",
      "properties": {
        "aggregationType": {
          "type": "string",
          "description": "The aggregation type to use for this metric item.",
          "enum": [
            "avg",
            "count",
            "max",
            "min",
            "percentile",
            "sum",
            "unique"
          ],
          "x-ms-enum": {
            "name": "aggregationType",
            "modelAsString": true
          }
        },
        "name": {
          "type": "string",
          "description": "The name of the metric item."
        },
        "namespace": {
          "type": "string",
          "description": "The custom namespace to use."
        },
        "resourceMetadata": {
          "type": "object",
          "description": "The information that identifies the resource to which the metric belongs.",
          "properties": {
            "id": {
              "type": "string",
              "description": "The ARM resource id of the resource."
            }
          },
          "required": [
            "id"
          ],
          "additionalProperties": false
        }
      },
      "required": [
        "aggregationType",
        "name",
        "resourceMetadata"
      ],
      "additionalProperties": false
    },
    "ResourceTile": {
      "x-ms-discriminator-value": "ResourceTile",
      "description": "A resource tile.",
      "type": "object",
      "properties": {
        "data": {
          "$ref": "#/definitions/ResourceTileData"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/DashboardTile"
        }
      ]
    },
    "ResourceTileData": {
      "type": "object",
      "description": "Data definition for a resource tile.",
      "additionalProperties": true,
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The ARM Id of a resource."
        },
        "visibleProperties": {
          "type": "array",
          "description": "List of visible properties.",
          "items": {
            "type": "string"
          }
        },
        "allowedCommands": {
          "type": "array",
          "description": "List of allowed commands.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "resourceId"
      ]
    },
    "DashboardPage": {
      "type": "object",
      "description": "A dashboard page.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard page."
        },
        "tiles": {
          "type": "array",
          "description": "The dashboard tiles.",
          "items": {
            "$ref": "#/definitions/DashboardTile"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardProperties": {
      "type": "object",
      "description": "The shared dashboard properties.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard."
        },
        "pages": {
          "type": "array",
          "description": "The dashboard pages.",
          "items": {
            "$ref": "#/definitions/DashboardPage"
          },
          "x-ms-identifiers": []
        },
        "parameters": {
          "type": "array",
          "description": "The dashboard parameters.",
          "items": {
            "$ref": "#/definitions/DashboardParameter"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DashboardParameter": {
      "type": "object",
      "description": "A dashboard parameter.",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of dashboard filter."
        },
        "kind": {
          "type": "string",
          "$ref": "#/definitions/DashboardParameterType"
        },
        "parameterNames": {
          "type": "array",
          "description": "The unique names to serve as placeholders for the parameter values.",
          "items": {
            "type": "string"
          }
        },
        "defaultValues": {
          "type": "array",
          "description": "The parameter value(s) that will be selected by default when the parameter is displayed.",
          "items": {
            "type": "string"
          }
        },
        "showOnPages": {
          "type": "array",
          "description": "A list of integers that represent indexes of the pages that this parameter applies to.",
          "items": {
            "type": "string"
          }
        }
      },
      "required": [
        "title",
        "kind",
        "parameterNames",
        "defaultValues",
        "showOnPages"
      ],
      "additionalProperties": false
    },
    "DashboardParameterType": {
      "description": "Types of dashboard parameters.",
      "enum": [
        "location",
        "resourceGroup",
        "resourceType",
        "subscription",
        "timeGranularity",
        "timeRange"
      ],
      "x-ms-enum": {
        "name": "DashboardParameterType",
        "modelAsString": true
      },
      "type": "string"
    },
    "Dashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "description": "The shared dashboard properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DashboardProperties"
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "PatchableDashboard": {
      "type": "object",
      "description": "The shared dashboard resource definition.",
      "x-ms-azure-resource": true,
      "x-ms-client-flatten": true,
      "properties": {
        "properties": {
          "description": "The shared dashboard properties.",
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DashboardProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      }
    },
    "SystemData": {
      "description": "Metadata pertaining to creation and last modification of the resource.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "createdBy": {
          "type": "string",
          "description": "The identity that created the resource."
        },
        "createdByType": {
          "type": "string",
          "description": "The type of identity that created the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp of resource creation (UTC)."
        },
        "lastModifiedBy": {
          "type": "string",
          "description": "The identity that last modified the resource."
        },
        "lastModifiedByType": {
          "type": "string",
          "description": "The type of identity that last modified the resource.",
          "enum": [
            "User",
            "Application",
            "ManagedIdentity",
            "Key"
          ],
          "x-ms-enum": {
            "name": "createdByType",
            "modelAsString": true
          }
        },
        "lastModifiedAt": {
          "type": "string",
          "format": "date-time",
          "description": "The type of identity that last modified the resource."
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)",
      "x-ms-parameter-location": "method"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "DashboardNameParameter": {
      "name": "dashboardName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the dashboard.",
      "minLength": 3,
      "maxLength": 64,
      "pattern": "^[a-z][a-z0-9]*$",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request.",
      "x-ms-parameter-location": "method"
    }
  }
}
