{
  "swagger": "2.0",
  "info": {
    "title": "ServiceFabricClient",
    "version": "2016-09-01"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}": {
      "patch": {
        "tags": [
          "ClusterPatchOperation"
        ],
        "x-ms-long-running-operation": true,
        "operationId": "Clusters_Update",
        "description": "Update cluster configuration",
        "x-ms-examples": {
          "Patch a cluster": {
            "$ref": "../examples/ClusterPatchOperation_exmaple.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "ClusterUpdateParameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClusterUpdateParameters"
            },
            "description": "The parameters which contains the property value and property name which used to update the cluster configuration"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Cluster updated successfully",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Accepted - Update request accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "get": {
        "tags": [
          "ClusterGetOperation"
        ],
        "operationId": "Clusters_Get",
        "description": "Get cluster resource",
        "x-ms-examples": {
          "Get a cluster": {
            "$ref": "../examples/ClusterGetOperation_example.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Get cluster successfully",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ClusterCreateOperation"
        ],
        "operationId": "Clusters_Create",
        "x-ms-long-running-operation": true,
        "description": "Create cluster resource",
        "x-ms-examples": {
          "Put a cluster": {
            "$ref": "../examples/ClusterPutOperation_exmaple.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "name": "Cluster resource",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "description": "Put Request"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Put cluster successfully",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "202": {
            "description": "Accepted - Put request accepted; the operation will complete asynchronously."
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ClusterDeleteOperation"
        ],
        "operationId": "Clusters_Delete",
        "description": "Delete cluster resource",
        "x-ms-examples": {
          "Delete a cluster": {
            "$ref": "../examples/ClusterDeleteOperation_example.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/clusterNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - cluster deleted  successfully"
          },
          "204": {
            "description": "NoContent"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "#/definitions/ErrorModel"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters": {
      "get": {
        "tags": [
          "ClusterListByResourceGroupOperation"
        ],
        "operationId": "Clusters_ListByResourceGroup",
        "description": "List cluster resource by resource group",
        "x-ms-examples": {
          "List cluster by resource group": {
            "$ref": "../examples/ClusterListByResourceGroupOperation_exmaple.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Get cluster  successfully",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters": {
      "get": {
        "tags": [
          "ClusterListOperation"
        ],
        "operationId": "Clusters_List",
        "description": "List cluster resource",
        "x-ms-examples": {
          "List clusters": {
            "$ref": "../examples/ClusterListOperation_example.json"
          }
        },
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/api-version"
          },
          {
            "$ref": "#/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK - Get cluster  successfully",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CertificateDescription": {
      "description": "Certificate description",
      "properties": {
        "thumbprint": {
          "type": "string"
        },
        "thumbprintSecondary": {
          "type": "string"
        },
        "x509StoreName": {
          "type": "string",
          "enum": [
            "AddressBook",
            "AuthRoot",
            "CertificateAuthority",
            "Disallowed",
            "My",
            "Root",
            "TrustedPeople",
            "TrustedPublisher"
          ]
        }
      }
    },
    "SettingsParameterDescription": {
      "description": "Settings parameter description",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of settings parameter description"
        },
        "value": {
          "type": "string",
          "description": "The value of the property"
        }
      }
    },
    "SettingsSectionDescription": {
      "description": "Settings section description",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of settings section description"
        },
        "parameters": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SettingsParameterDescription"
          }
        }
      }
    },
    "EndpointRangeDescription": {
      "description": "Endpoint range description",
      "properties": {
        "startPort": {
          "type": "integer"
        },
        "endPort": {
          "type": "integer"
        }
      }
    },
    "NodeTypeDescription": {
      "description": "NodeType description",
      "properties": {
        "name": {
          "type": "string"
        },
        "placementProperties": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "capacities": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clientConnectionEndpointPort": {
          "type": "integer"
        },
        "httpGatewayEndpointPort": {
          "type": "integer"
        },
        "durabilityLevel": {
          "type": "string",
          "enum": [
            "Bronze",
            "Silver",
            "Gold",
            "Platimun"
          ]
        },
        "applicationPorts": {
          "$ref": "#/definitions/EndpointRangeDescription"
        },
        "ephemeralPorts": {
          "$ref": "#/definitions/EndpointRangeDescription"
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Is primary or not"
        },
        "vmInstanceCount": {
          "type": "integer"
        },
        "reverseProxyEndpointPort": {
          "type": "integer"
        }
      }
    },
    "ClientCertificateThumbprint": {
      "description": "NodeType description",
      "properties": {
        "isAdmin": {
          "type": "boolean",
          "description": "Is admin or not"
        },
        "certificateThumbprint": {
          "type": "string"
        }
      }
    },
    "ClientCertificateCommonName": {
      "description": "NodeType description",
      "properties": {
        "isAdmin": {
          "type": "boolean",
          "description": "Is admin or not"
        },
        "certificateIssuerThumbprint": {
          "type": "string"
        }
      }
    },
    "ClusterEnvironment": {
      "type": "string",
      "enum": [
        "Default",
        "Windows",
        "Linux"
      ]
    },
    "ClusterVersionDetails": {
      "description": "NodeType description",
      "properties": {
        "codeVersion": {
          "type": "string"
        },
        "supportExpiryUtc": {
          "type": "string"
        },
        "environment": {
          "$ref": "#/definitions/ClusterEnvironment"
        }
      }
    },
    "PaasServiceTypeHealthPolicy": {
      "description": "Paas service type health policy",
      "properties": {
        "maxPercentUnhealthyServices": {
          "type": "integer"
        }
      }
    },
    "PaasApplicationHealthPolicy": {
      "description": "Paas application health policy",
      "properties": {
        "defaultServiceTypeHealthPolicy": {
          "$ref": "#/definitions/PaasServiceTypeHealthPolicy"
        },
        "serivceTypeHealthPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/PaasServiceTypeHealthPolicy"
          }
        }
      }
    },
    "PaasClusterUpgradeHealthPolicy": {
      "description": "Paas cluster upgrade health policy",
      "properties": {
        "maxPercentUnhealthyNodes": {
          "type": "integer"
        },
        "maxPercentUnhealthyApplications": {
          "type": "integer"
        },
        "applicationHealthPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/PaasApplicationHealthPolicy"
          }
        }
      }
    },
    "PaasServiceTypeDeltaHealthPolicy": {
      "description": "Paas service type delta health policy",
      "properties": {
        "maxPercentDeltaUnhealthyServices": {
          "type": "integer"
        }
      }
    },
    "PaasApplicationDeltaHealthPolicy": {
      "description": "Paas application delta health policy",
      "properties": {
        "defaultServiceTypeDeltaHealthPolicy": {
          "$ref": "#/definitions/PaasServiceTypeDeltaHealthPolicy"
        },
        "serivceTypeDeltaHealthPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/PaasServiceTypeDeltaHealthPolicy"
          }
        }
      }
    },
    "PaasClusterUpgradeDeltaHealthPolicy": {
      "description": "Paas cluster upgrade delta health policy",
      "properties": {
        "maxPercentDeltaUnhealthyNodes": {
          "type": "integer"
        },
        "maxPercentUpgradeDomainDeltaUnhealthyNodes": {
          "type": "integer"
        },
        "maxPercentDeltaUnhealthyApplications": {
          "type": "integer"
        },
        "applicationHealthPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/PaasApplicationDeltaHealthPolicy"
          }
        }
      }
    },
    "PaasClusterUpgradePolicy": {
      "description": "Paas cluster upgrade policy",
      "properties": {
        "overrideUserUpgradePolicy": {
          "type": "boolean"
        },
        "forceRestart": {
          "type": "boolean"
        },
        "upgradeReplicaSetCheckTimeout": {
          "type": "string"
        },
        "healthCheckWaitDuration": {
          "type": "string"
        },
        "healthCheckStableDuration": {
          "type": "string"
        },
        "healthCheckRetryTimeout": {
          "type": "string"
        },
        "upgradeTimeout": {
          "type": "string"
        },
        "upgradeDomainTimeout": {
          "type": "string"
        },
        "healthPolicy": {
          "$ref": "#/definitions/PaasClusterUpgradeHealthPolicy"
        },
        "deltaHealthPolicy": {
          "$ref": "#/definitions/PaasClusterUpgradeDeltaHealthPolicy"
        }
      }
    },
    "DiagnosticsStorageAccountConfig": {
      "description": "Diagnostics storage account config",
      "properties": {
        "storageAccountName": {
          "type": "string"
        },
        "primaryAccessKey": {
          "type": "string"
        },
        "secondaryAccessKey": {
          "type": "string"
        },
        "protectedAccountKeyName": {
          "type": "string"
        },
        "blobEndpoint": {
          "type": "string"
        },
        "queueEndpoint": {
          "type": "string"
        },
        "tableEndpoint": {
          "type": "string"
        }
      }
    },
    "ClusterPropertiesUpdateParameters": {
      "description": "The cluster resource properties",
      "properties": {
        "reliabilityLevel": {
          "type": "string",
          "enum": [
            "Invalid",
            "Bronze",
            "Silver",
            "Gold",
            "Platinum"
          ]
        },
        "upgradeMode": {
          "type": "string",
          "enum": [
            "Default",
            "Automatic",
            "Manual"
          ]
        },
        "clusterCodeVersion": {
          "description": "The ServiceFabric code version, if set it, please make sure you have set upgradeMode to Manual, otherwise ,it will fail",
          "type": "string"
        },
        "certificate": {
          "description": "The cluster certificate settings, the new certificate should exist in Vmss or KeyVault,before you add it, it will override original value",
          "$ref": "#/definitions/CertificateDescription"
        },
        "clientCertificateThumbprints": {
          "description": "The cluster client thumbprints, it will override existing collection",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientCertificateThumbprint"
          }
        },
        "fabricSettings": {
          "description": "The new fabric settings for the cluster, Be noted, it will only update or add to existing collection, it will NOT override",
          "type": "array",
          "items": {
            "$ref": "#/definitions/SettingsSectionDescription"
          }
        },
        "reverseProxyCertificate": {
          "description": "Certificate for the reverse proxy",
          "$ref": "#/definitions/CertificateDescription"
        },
        "nodeTypes": {
          "description": "The settings for NodeTypes, it will override",
          "type": "array",
          "items": {
            "$ref": "#/definitions/NodeTypeDescription"
          }
        }
      }
    },
    "ClusterProperties": {
      "description": "The cluster resource properties",
      "properties": {
        "availableClusterVersions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/ClusterVersionDetails"
          }
        },
        "clusterId": {
          "type": "string"
        },
        "clusterState": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "Default",
            "WaitingForNodes",
            "Deploying",
            "BaselineUpgrade",
            "UpdatingUserConfiguration",
            "UpdatingUserCertificate",
            "UpdatingInfrastructure",
            "EnforcingClusterVersion",
            "UpgradeServiceUnreachable",
            "Deleting",
            "ScaleUp",
            "ScaleDown",
            "AutoScale",
            "Ready",
            "Failed"
          ]
        },
        "clusterEndpoint": {
          "type": "string"
        },
        "clusterCodeVersion": {
          "description": "The ServiceFabric code version",
          "type": "string"
        },
        "certificate": {
          "$ref": "#/definitions/CertificateDescription"
        },
        "reliabilityLevel": {
          "type": "string",
          "enum": [
            "Invalid",
            "Bronze",
            "Silver",
            "Gold",
            "Platinum"
          ]
        },
        "upgradeMode": {
          "type": "string",
          "enum": [
            "Default",
            "Automatic",
            "Manual"
          ]
        },
        "clientCertificateThumbprints": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientCertificateThumbprint"
          }
        },
        "clientCertificateCommonNames": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ClientCertificateCommonName"
          }
        },
        "fabricSettings": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SettingsSectionDescription"
          }
        },
        "reverseProxyCertificate": {
          "$ref": "#/definitions/CertificateDescription"
        },
        "managementEndpoint": {
          "type": "string"
        },
        "nodeTypes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NodeTypeDescription"
          }
        },
        "provisioningState": {
          "type": "string",
          "enum": [
            "Default",
            "WaitingForNodes",
            "Deploying",
            "BaselineUpgrade",
            "UpdatingUserConfiguration",
            "UpdatingUserCertificate",
            "UpdatingInfrastructure",
            "EnforcingClusterVersion",
            "UpgradeServiceUnreachable",
            "Deleting",
            "ScaleUp",
            "ScaleDown",
            "AutoScale",
            "Ready",
            "Failed"
          ]
        },
        "vmImage": {
          "type": "string"
        },
        "diagnosticsStorageAccountConfig": {
          "$ref": "#/definitions/DiagnosticsStorageAccountConfig"
        },
        "upgradeDescription": {
          "$ref": "#/definitions/PaasClusterUpgradePolicy"
        }
      }
    },
    "ClusterUpdateParameters": {
      "description": "Cluster update request",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ClusterPropertiesUpdateParameters"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cluster tags."
        }
      }
    },
    "Cluster": {
      "description": "The cluster resource",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ClusterProperties"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ]
    },
    "ClusterListResult": {
      "description": "Cluster list results",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cluster"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "The URL to use for getting the next set of results."
        }
      }
    },
    "ErrorModel": {
      "description": "The model of the error",
      "properties": {
        "error": {
          "description": "The error",
          "properties": {
            "code": {
              "type": "string"
            },
            "message": {
              "type": "string"
            }
          }
        }
      }
    },
    "Resource": {
      "description": "The resource model definition.",
      "properties": {
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Resource ID."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type."
        },
        "location": {
          "type": "string",
          "description": "Resource location."
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "required": [
        "location"
      ],
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "subscriptionId": {
      "type": "string",
      "name": "subscriptionId",
      "description": "The subscription identifier",
      "in": "path",
      "required": true
    },
    "api-version": {
      "type": "string",
      "name": "api-version",
      "description": "The version of the api",
      "in": "query",
      "required": true
    },
    "resourceGroupNameParameter": {
      "description": "The name of the Resource Group to which the server belongs.",
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    },
    "clusterNameParameter": {
      "description": "The name of the cluster",
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method"
    }
  }
}