{
  "swagger": "2.0",
  "info": {
    "title": "Test Base",
    "description": "Use these REST APIs for Test Base Credential controls.",
    "version": "2023-08-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/credentials": {
      "get": {
        "tags": [
          "Test Base Credential"
        ],
        "operationId": "Credential_ListByTestBaseAccount",
        "description": "Lists all the Credentials under a Test Base Account.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation is completed.",
            "schema": {
              "$ref": "#/definitions/CredentialListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "CustomImagesList": {
            "$ref": "./examples/CredentialsList.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/credentials/{credentialName}": {
      "put": {
        "tags": [
          "Test Base Credential"
        ],
        "operationId": "Credentials_Create",
        "description": "Creates or replaces a Test Base Credential.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CredentialResource"
            },
            "description": "Parameters supplied to create a Test Base Credential."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/CredentialNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Credential was successfully created or updated.",
            "schema": {
              "$ref": "#/definitions/CredentialResource"
            }
          },
          "201": {
            "description": "Create a Test Base Credential Resource.",
            "schema": {
              "$ref": "#/definitions/CredentialResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImageDefinitionCreate": {
            "$ref": "./examples/CredentialCreate.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Test Base Credential"
        ],
        "operationId": "Credentials_Update",
        "description": "Updates an existing Test Base Credential.",
        "parameters": [
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CredentialResource"
            },
            "description": "Parameters supplied to create a Test Base Credential."
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/CredentialNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the Test Base Credential.",
            "schema": {
              "$ref": "#/definitions/CredentialResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImageDefinitionCreate": {
            "$ref": "./examples/CredentialUpdate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Test Base Credential"
        ],
        "operationId": "Credentials_Delete",
        "description": "Deletes an existing Test Base Credential.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/CredentialNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The Test Base Credential 'delete' operation was completed successfully."
          },
          "204": {
            "description": "The Test Base Credential 'delete' operation was completed successfully."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DraftPackageDelete": {
            "$ref": "./examples/CredentialDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "Test Base Credential"
        ],
        "operationId": "Credential_Get",
        "description": "Gets a Test Base Credential Resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "./testbase.json#/parameters/TestBaseAccountNameParameter"
          },
          {
            "$ref": "#/parameters/CredentialNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the Test Base Credential.",
            "schema": {
              "$ref": "#/definitions/CredentialResource"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ImageDefinitionCreate": {
            "$ref": "./examples/CredentialGet.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CredentialListResult": {
      "description": "A list of credential resources.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CredentialResource"
          },
          "description": "The list of credential resources."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "Link to the next set of results. Not empty if value contains incomplete list of results."
        }
      }
    },
    "CredentialResource": {
      "description": "The Test Base Credential resource.",
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/CredentialProperties",
          "x-ms-client-flatten": true,
          "description": "The Test Base Credential properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "CredentialProperties": {
      "description": "The properties of Test Base Credential",
      "discriminator": "credentialType",
      "type": "object",
      "properties": {
        "credentialType": {
          "type": "string",
          "description": "Credential type.",
          "enum": [
            "Intune"
          ],
          "x-ms-enum": {
            "name": "CredentialType",
            "modelAsString": true
          }
        },
        "displayName": {
          "type": "string",
          "description": "Credential display name."
        }
      },
      "required": [
        "credentialType",
        "displayName"
      ]
    },
    "IntuneSingletonResourceProperties": {
      "description": "The properties of Intune Credential.",
      "type": "object",
      "x-ms-discriminator-value": "Intune",
      "properties": {
        "userNameKeyVaultSecretPath": {
          "type": "string",
          "description": "The key vault secret path of user name."
        },
        "passwordKeyVaultSecretPath": {
          "type": "string",
          "description": "The key vault secret path of password."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/CredentialProperties"
        }
      ]
    }
  },
  "parameters": {
    "CredentialNameParameter": {
      "name": "credentialName",
      "pattern": "^[A-Za-z0-9]([A-Za-z0-9_]|([-. ][A-Za-z0-9]))+$",
      "in": "path",
      "required": true,
      "type": "string",
      "x-ms-parameter-location": "method",
      "description": "The credential resource name."
    }
  }
}
