{
  "swagger": "2.0",
  "info": {
    "title": "Qumulo.Storage",
    "version": "2022-10-12",
    "description": "// FIXME: (miissing-service-description) Add service description",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "FileSystems"
    }
  ],
  "paths": {
    "/providers/Azure.ResourceManager.Qumulo/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Azure.ResourceManager.Qumulo/fileSystems": {
      "get": {
        "operationId": "FileSystems_ListBySubscription",
        "tags": [
          "FileSystems"
        ],
        "description": "List FileSystemResource resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileSystemResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.Qumulo/fileSystems": {
      "get": {
        "operationId": "FileSystems_ListByResourceGroup",
        "tags": [
          "FileSystems"
        ],
        "description": "List FileSystemResource resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileSystemResourceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Azure.ResourceManager.Qumulo/fileSystems/{fileSystemName}": {
      "get": {
        "operationId": "FileSystems_Get",
        "tags": [
          "FileSystems"
        ],
        "description": "Get a FileSystemResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fileSystemName",
            "in": "path",
            "description": "Name of the File System resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "FileSystems_CreateOrUpdate",
        "tags": [
          "FileSystems"
        ],
        "description": "Create a FileSystemResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fileSystemName",
            "in": "path",
            "description": "Name of the File System resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'FileSystemResource' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            }
          },
          "201": {
            "description": "Resource 'FileSystemResource' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "FileSystems_Update",
        "tags": [
          "FileSystems"
        ],
        "description": "Update a FileSystemResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fileSystemName",
            "in": "path",
            "description": "Name of the File System resource",
            "required": true,
            "type": "string"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FileSystemResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/FileSystemResource"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "FileSystems_Delete",
        "tags": [
          "FileSystems"
        ],
        "description": "Delete a FileSystemResource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "fileSystemName",
            "in": "path",
            "description": "Name of the File System resource",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "ActionType": {
      "type": "string",
      "enum": [
        "Internal"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true
      }
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityProperties": {
      "type": "object",
      "description": "The properties of the managed service identities assigned to this resource.",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "The Active Directory tenant id of the principal.",
          "readOnly": true
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier of this principal.",
          "readOnly": true
        },
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.Foundations.UserAssignedIdentity"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityPropertiesUpdate": {
      "type": "object",
      "description": "The properties of the managed service identities assigned to this resource.",
      "properties": {
        "type": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityType",
          "description": "The type of managed identity assigned to this resource."
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The identities assigned to this resource by the user.",
          "additionalProperties": {
            "$ref": "#/definitions/Azure.ResourceManager.Foundations.UserAssignedIdentity"
          }
        }
      }
    },
    "Azure.ResourceManager.Foundations.ManagedIdentityType": {
      "type": "string",
      "description": "The kind of managed identity assigned to this resource.",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "None",
            "value": "None",
            "description": "No managed identity."
          },
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAndUserAssigned",
            "value": "SystemAssigned, UserAssigned",
            "description": "System and user assigned managed identity."
          }
        ]
      }
    },
    "Azure.ResourceManager.Foundations.UserAssignedIdentity": {
      "type": "object",
      "description": "A managed identity assigned by the user.",
      "properties": {
        "clientId": {
          "type": "string",
          "description": "The active directory client identifier for this principal."
        },
        "principalId": {
          "type": "string",
          "description": "The active directory identifier for this principal."
        }
      }
    },
    "CreatedByType": {
      "type": "string",
      "enum": [
        "User",
        "Application",
        "ManagedIdentity",
        "Key"
      ],
      "x-ms-enum": {
        "name": "CreatedByType",
        "modelAsString": true
      }
    },
    "FileSystemResource": {
      "type": "object",
      "description": "A FileSystem Resource by Qumulo",
      "properties": {
        "properties": {
          "$ref": "#/definitions/FileSystemResourceProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityProperties",
          "description": "The managed service identities assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "FileSystemResourceListResult": {
      "type": "object",
      "description": "The response of a FileSystemResource list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The FileSystemResource items on this page",
          "items": {
            "$ref": "#/definitions/FileSystemResource"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "FileSystemResourceProperties": {
      "type": "object",
      "description": "Properties specific to the Qumulo File System resource",
      "properties": {
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetails",
          "description": "Marketplace details"
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning State of the resource",
          "readOnly": true
        },
        "storageSku": {
          "$ref": "#/definitions/StorageSku",
          "description": "Storage Sku"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "delegatedSubnetId": {
          "type": "string",
          "description": "Delegated subnet id for Vnet injection"
        },
        "clusterLoginUrl": {
          "type": "string",
          "description": "File system Id of the resource"
        },
        "privateIPs": {
          "type": "array",
          "description": "Private IPs of the resource",
          "items": {
            "type": "string"
          }
        },
        "adminPassword": {
          "type": "string",
          "description": "Initial administrator password of the resource"
        },
        "initialCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Storage capacity in TB"
        },
        "availabilityZone": {
          "type": "string",
          "description": "Availability zone"
        }
      },
      "required": [
        "marketplaceDetails",
        "storageSku",
        "userDetails",
        "delegatedSubnetId",
        "adminPassword",
        "initialCapacity"
      ]
    },
    "FileSystemResourceUpdate": {
      "type": "object",
      "description": "The type used for update operations of the FileSystemResource.",
      "properties": {
        "identity": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.ManagedIdentityPropertiesUpdate",
          "description": "The managed service identities assigned to this resource."
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/FileSystemResourceUpdateProperties",
          "x-ms-client-flatten": true
        }
      }
    },
    "FileSystemResourceUpdateProperties": {
      "type": "object",
      "description": "The updatable properties of the FileSystemResource.",
      "properties": {
        "marketplaceDetails": {
          "$ref": "#/definitions/MarketplaceDetailsUpdate",
          "description": "Marketplace details"
        },
        "storageSku": {
          "$ref": "#/definitions/StorageSku",
          "description": "Storage Sku"
        },
        "userDetails": {
          "$ref": "#/definitions/UserDetails",
          "description": "User Details"
        },
        "delegatedSubnetId": {
          "type": "string",
          "description": "Delegated subnet id for Vnet injection"
        },
        "clusterLoginUrl": {
          "type": "string",
          "description": "File system Id of the resource"
        },
        "privateIPs": {
          "type": "array",
          "description": "Private IPs of the resource",
          "items": {
            "type": "string"
          }
        },
        "adminPassword": {
          "type": "string",
          "description": "Initial administrator password of the resource"
        },
        "initialCapacity": {
          "type": "integer",
          "format": "int32",
          "description": "Storage capacity in TB"
        },
        "availabilityZone": {
          "type": "string",
          "description": "Availability zone"
        }
      }
    },
    "ManagedServiceIdentityType": {
      "type": "string",
      "enum": [
        "None",
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned, UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedServiceIdentityType",
        "modelAsString": true
      }
    },
    "MarketplaceDetails": {
      "type": "object",
      "description": "MarketplaceDetails of Qumulo FileSystem resource",
      "properties": {
        "marketplaceSubscriptionId": {
          "type": "string",
          "description": "Marketplace Subscription Id"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id"
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher Id"
        },
        "marketplaceSubscriptionStatus": {
          "$ref": "#/definitions/MarketplaceSubscriptionStatus",
          "description": "Marketplace subscription status",
          "readOnly": true
        }
      },
      "required": [
        "planId",
        "offerId",
        "publisherId"
      ]
    },
    "MarketplaceDetailsUpdate": {
      "type": "object",
      "description": "MarketplaceDetails of Qumulo FileSystem resource",
      "properties": {
        "marketplaceSubscriptionId": {
          "type": "string",
          "description": "Marketplace Subscription Id"
        },
        "planId": {
          "type": "string",
          "description": "Plan Id"
        },
        "offerId": {
          "type": "string",
          "description": "Offer Id"
        },
        "publisherId": {
          "type": "string",
          "description": "Publisher Id"
        }
      }
    },
    "MarketplaceSubscriptionStatus": {
      "type": "string",
      "enum": [
        "PendingFulfillmentStart",
        "Subscribed",
        "Suspended",
        "Unsubscribed"
      ],
      "x-ms-enum": {
        "name": "MarketplaceSubscriptionStatus",
        "modelAsString": false,
        "values": [
          {
            "name": "PendingFulfillmentStart",
            "value": "PendingFulfillmentStart",
            "description": "Fulfillment has not started"
          },
          {
            "name": "Subscribed",
            "value": "Subscribed",
            "description": "Marketplace offer is subscribed"
          },
          {
            "name": "Suspended",
            "value": "Suspended",
            "description": "Marketplace offer is suspended because of non payment"
          },
          {
            "name": "Unsubscribed",
            "value": "Unsubscribed",
            "description": "Marketplace offer is unsubscribed"
          }
        ]
      }
    },
    "Origin": {
      "type": "string",
      "enum": [
        "user",
        "system",
        "user,system"
      ],
      "x-ms-enum": {
        "name": "Origin",
        "modelAsString": true
      }
    },
    "ProvisioningState": {
      "type": "string",
      "enum": [
        "Accepted",
        "Creating",
        "Updating",
        "Deleting",
        "Succeeded",
        "Failed",
        "Canceled",
        "Deleted",
        "NotSpecified"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": false,
        "values": [
          {
            "name": "Accepted",
            "value": "Accepted",
            "description": "File system resource creation request accepted"
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "File system resource creation started"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "File system resource is being updated"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "File system resource deletion started"
          },
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "File system resource creation successful"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "File system resource creation failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "File system resource creation canceled"
          },
          {
            "name": "Deleted",
            "value": "Deleted",
            "description": "File system resource is deleted"
          },
          {
            "name": "NotSpecified",
            "value": "NotSpecified",
            "description": "File system resource state is unknown"
          }
        ]
      }
    },
    "StorageSku": {
      "type": "string",
      "enum": [
        "Standard",
        "Performance"
      ],
      "x-ms-enum": {
        "name": "StorageSku",
        "modelAsString": false,
        "values": [
          {
            "name": "Standard",
            "value": "Standard",
            "description": "Standard Storage Sku"
          },
          {
            "name": "Performance",
            "value": "Performance",
            "description": "Performance Storage Sku"
          }
        ]
      }
    },
    "UserAssignedIdentity": {
      "type": "object",
      "description": "User assigned identity properties",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of the assigned identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "The client ID of the assigned identity.",
          "readOnly": true
        }
      }
    },
    "UserDetails": {
      "type": "object",
      "description": "User Details of Qumulo FileSystem resource",
      "properties": {
        "email": {
          "type": "string",
          "description": "User Email"
        }
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2022-10-12"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2022_10_12",
            "value": "2022-10-12"
          }
        ]
      }
    }
  },
  "parameters": {}
}
