{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Defender for Cloud",
    "version": "2023-12-01-preview",
    "description": "API spec for Microsoft.Security (Microsoft Defender for Cloud) resource provider",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Automations"
    },
    {
      "name": "Security Contacts"
    }
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/automations": {
      "get": {
        "operationId": "Automations_List",
        "tags": [
          "Automations"
        ],
        "description": "Lists all the security automations in the specified subscription. Use the 'nextLink' property in the response to get the next page of security automations for the specified subscription.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutomationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all security automations of a specified subscription": {
            "$ref": "./examples/Automations/GetAutomationsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts": {
      "get": {
        "operationId": "SecurityContacts_List",
        "tags": [
          "Security Contacts"
        ],
        "description": "List all security contact configurations for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityContactList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List security contact data": {
            "$ref": "./examples/SecurityContacts/GetSecurityContactsSubscription_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.Security/securityContacts/{securityContactName}": {
      "get": {
        "operationId": "SecurityContacts_Get",
        "tags": [
          "Security Contacts"
        ],
        "description": "Get Default Security contact configurations for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "securityContactName",
            "in": "path",
            "description": "Name of the security contact object",
            "required": true,
            "type": "string",
            "minLength": 7,
            "maxLength": 7,
            "pattern": "^(default)$",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "SecurityContactName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The single applicable name of the security contact object"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SecurityContact"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Get a security contact": {
            "$ref": "./examples/SecurityContacts/GetSecurityContact_example.json"
          }
        }
      },
      "put": {
        "operationId": "SecurityContacts_Create",
        "tags": [
          "Security Contacts"
        ],
        "description": "Create security contact configurations for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "securityContactName",
            "in": "path",
            "description": "Name of the security contact object",
            "required": true,
            "type": "string",
            "minLength": 7,
            "maxLength": 7,
            "pattern": "^(default)$",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "SecurityContactName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The single applicable name of the security contact object"
                }
              ]
            }
          },
          {
            "name": "securityContact",
            "in": "body",
            "description": "Security contact object",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SecurityContact"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SecurityContact' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityContact"
            }
          },
          "201": {
            "description": "Resource 'SecurityContact' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SecurityContact"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create security contact data": {
            "$ref": "./examples/SecurityContacts/CreateSecurityContact_example.json"
          }
        }
      },
      "delete": {
        "operationId": "SecurityContacts_Delete",
        "tags": [
          "Security Contacts"
        ],
        "description": "Delete security contact configurations for the subscription",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "securityContactName",
            "in": "path",
            "description": "Name of the security contact object",
            "required": true,
            "type": "string",
            "minLength": 7,
            "maxLength": 7,
            "pattern": "^(default)$",
            "enum": [
              "default"
            ],
            "x-ms-enum": {
              "name": "SecurityContactName",
              "modelAsString": true,
              "values": [
                {
                  "name": "default",
                  "value": "default",
                  "description": "The single applicable name of the security contact object"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Deletes a security contact data": {
            "$ref": "./examples/SecurityContacts/DeleteSecurityContact_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations": {
      "get": {
        "operationId": "Automations_ListByResourceGroup",
        "tags": [
          "Automations"
        ],
        "description": "Lists all the security automations in the specified resource group. Use the 'nextLink' property in the response to get the next page of security automations for the specified resource group.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutomationList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "List all security automations of a specified resource group": {
            "$ref": "./examples/Automations/GetAutomationsResourceGroup_example.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations/{automationName}": {
      "get": {
        "operationId": "Automations_Get",
        "tags": [
          "Automations"
        ],
        "description": "Retrieves information about the model of a security automation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationName",
            "in": "path",
            "description": "The security automation name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Automation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Retrieve a security automation": {
            "$ref": "./examples/Automations/GetAutomationResourceGroup_example.json"
          }
        }
      },
      "put": {
        "operationId": "Automations_CreateOrUpdate",
        "tags": [
          "Automations"
        ],
        "description": "Creates or updates a security automation. If a security automation is already created and a subsequent request is issued for the same automation id, then it will be updated.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationName",
            "in": "path",
            "description": "The security automation name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Automation",
            "in": "body",
            "description": "The security automation resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Automation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Automation' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Automation"
            }
          },
          "201": {
            "description": "Resource 'Automation' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Automation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Create or update a security automation for all assessments (including all severities)": {
            "$ref": "./examples/Automations/PutAutomationAllAssessments_example.json"
          },
          "Create or update a security automation for all high severity assessments": {
            "$ref": "./examples/Automations/PutAutomationHighSeverityAssessments_example.json"
          },
          "Disable or enable a security automation": {
            "$ref": "./examples/Automations/PutDisableAutomation_example.json"
          }
        }
      },
      "patch": {
        "operationId": "Automations_Update",
        "tags": [
          "Automations"
        ],
        "description": "Updates a security automation",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationName",
            "in": "path",
            "description": "The security automation name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Automation",
            "in": "body",
            "description": "The update model of security automation resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AutomationUpdateModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Automation"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Update a security automation": {
            "$ref": "./examples/Automations/PatchAutomation_example.json"
          }
        }
      },
      "delete": {
        "operationId": "Automations_Delete",
        "tags": [
          "Automations"
        ],
        "description": "Deletes a security automation.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationName",
            "in": "path",
            "description": "The security automation name.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Delete a security automation": {
            "$ref": "./examples/Automations/DeleteAutomation_example.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/automations/{automationName}/validate": {
      "post": {
        "operationId": "Automations_Validate",
        "tags": [
          "Automations"
        ],
        "description": "Validates the security automation model before create or update. Any validation errors are returned to the client.",
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "automationName",
            "in": "path",
            "description": "The security automation name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Automation",
            "in": "body",
            "description": "The security automation resource",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Automation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/AutomationValidationStatus"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Common.CloudError"
            }
          }
        },
        "x-ms-examples": {
          "Validate the security automation model before create or update": {
            "$ref": "./examples/Automations/ValidateAutomation_example.json"
          }
        }
      }
    }
  },
  "definitions": {
    "Automation": {
      "type": "object",
      "description": "The security automation resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationProperties",
          "description": "Security automation data",
          "x-ms-client-flatten": true
        },
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "The geo-location where the resource lives",
          "x-ms-mutability": [
            "read",
            "update",
            "create"
          ]
        },
        "kind": {
          "type": "string",
          "description": "Kind of the resource"
        },
        "etag": {
          "type": "string",
          "description": "Entity tag is used for comparing two or more entities from the same requested resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "AutomationAction": {
      "type": "object",
      "description": "The action that should be triggered.",
      "properties": {
        "actionType": {
          "$ref": "#/definitions/Common.ActionType",
          "description": "The type of the action that will be triggered by the Automation"
        }
      },
      "discriminator": "actionType",
      "required": [
        "actionType"
      ]
    },
    "AutomationActionEventHub": {
      "type": "object",
      "description": "The target Event Hub to which event data will be exported. To learn more about Microsoft Defender for Cloud continuous export capabilities, visit https://aka.ms/ASCExportLearnMore",
      "properties": {
        "eventHubResourceId": {
          "type": "string",
          "description": "The target Event Hub Azure Resource ID."
        },
        "sasPolicyName": {
          "type": "string",
          "description": "The target Event Hub SAS policy name.",
          "readOnly": true
        },
        "connectionString": {
          "type": "string",
          "description": "The target Event Hub connection string (it will not be included in any response)."
        },
        "isTrustedServiceEnabled": {
          "type": "boolean",
          "description": "Indicates whether the trusted service is enabled or not."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AutomationAction"
        }
      ],
      "x-ms-discriminator-value": "EventHub"
    },
    "AutomationActionLogicApp": {
      "type": "object",
      "description": "The logic app action that should be triggered. To learn more about Microsoft Defender for Cloud's Workflow Automation capabilities, visit https://aka.ms/ASCWorkflowAutomationLearnMore",
      "properties": {
        "logicAppResourceId": {
          "type": "string",
          "description": "The triggered Logic App Azure Resource ID. This can also reside on other subscriptions, given that you have permissions to trigger the Logic App"
        },
        "uri": {
          "type": "string",
          "format": "uri",
          "description": "The Logic App trigger URI endpoint (it will not be included in any response)."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AutomationAction"
        }
      ],
      "x-ms-discriminator-value": "LogicApp"
    },
    "AutomationActionWorkspace": {
      "type": "object",
      "description": "The Log Analytics Workspace to which event data will be exported. Security alerts data will reside in the 'SecurityAlert' table and the assessments data will reside in the 'SecurityRecommendation' table (under the 'Security'/'SecurityCenterFree' solutions). Note that in order to view the data in the workspace, the Security Center Log Analytics free/standard solution needs to be enabled on that workspace. To learn more about Microsoft Defender for Cloud continuous export capabilities, visit https://aka.ms/ASCExportLearnMore",
      "properties": {
        "workspaceResourceId": {
          "type": "string",
          "description": "The fully qualified Log Analytics Workspace Azure Resource ID."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/AutomationAction"
        }
      ],
      "x-ms-discriminator-value": "Workspace"
    },
    "AutomationList": {
      "type": "object",
      "description": "List of security automations response.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Automation items on this page",
          "items": {
            "$ref": "#/definitions/Automation"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "AutomationProperties": {
      "type": "object",
      "description": "A set of properties that defines the behavior of the automation configuration. To learn more about the supported security events data models schemas - please visit https://aka.ms/ASCAutomationSchemas.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The security automation description."
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Indicates whether the security automation is enabled."
        },
        "scopes": {
          "type": "array",
          "description": "A collection of scopes on which the security automations logic is applied. Supported scopes are the subscription itself or a resource group under that subscription. The automation will only apply on defined scopes.",
          "items": {
            "$ref": "#/definitions/AutomationScope"
          },
          "x-ms-identifiers": []
        },
        "sources": {
          "type": "array",
          "description": "A collection of the source event types which evaluate the security automation set of rules.",
          "items": {
            "$ref": "#/definitions/AutomationSource"
          },
          "x-ms-identifiers": []
        },
        "actions": {
          "type": "array",
          "description": "A collection of the actions which are triggered if all the configured rules evaluations, within at least one rule set, are true.",
          "items": {
            "$ref": "#/definitions/AutomationAction"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AutomationRuleSet": {
      "type": "object",
      "description": "A rule set which evaluates all its rules upon an event interception. Only when all the included rules in the rule set will be evaluated as 'true', will the event trigger the defined actions.",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AutomationTriggeringRule"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AutomationScope": {
      "type": "object",
      "description": "A single automation scope.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The resources scope description."
        },
        "scopePath": {
          "type": "string",
          "description": "The resources scope path. Can be the subscription on which the automation is defined on or a resource group under that subscription (fully qualified Azure resource IDs)."
        }
      }
    },
    "AutomationSource": {
      "type": "object",
      "description": "The source event types which evaluate the security automation set of rules. For example - security alerts and security assessments. To learn more about the supported security events data models schemas - please visit https://aka.ms/ASCAutomationSchemas.",
      "properties": {
        "eventSource": {
          "$ref": "#/definitions/EventSource",
          "description": "A valid event source type."
        },
        "ruleSets": {
          "type": "array",
          "description": "A set of rules which evaluate upon event interception. A logical disjunction is applied between defined rule sets (logical 'or').",
          "items": {
            "$ref": "#/definitions/AutomationRuleSet"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AutomationTriggeringRule": {
      "type": "object",
      "description": "A rule which is evaluated upon event interception. The rule is configured by comparing a specific value from the event model to an expected value. This comparison is done by using one of the supported operators set.",
      "properties": {
        "propertyJPath": {
          "type": "string",
          "description": "The JPath of the entity model property that should be checked."
        },
        "propertyType": {
          "$ref": "#/definitions/PropertyType",
          "description": "The data type of the compared operands (string, integer, floating point number or a boolean [true/false]]"
        },
        "expectedValue": {
          "type": "string",
          "description": "The expected value."
        },
        "operator": {
          "$ref": "#/definitions/Operator",
          "description": "A valid comparer operator to use. A case-insensitive comparison will be applied for String PropertyType."
        }
      }
    },
    "AutomationUpdateModel": {
      "type": "object",
      "description": "The update model of security automation resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/AutomationProperties",
          "description": "Security automation data",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/Common.Tags"
        }
      ]
    },
    "AutomationValidationStatus": {
      "type": "object",
      "description": "The security automation model state property bag.",
      "properties": {
        "isValid": {
          "type": "boolean",
          "description": "Indicates whether the model is valid or not."
        },
        "message": {
          "type": "string",
          "description": "The validation message."
        }
      }
    },
    "Common.ActionType": {
      "type": "string",
      "description": "Enum. Indicates the action type.",
      "enum": [
        "LogicApp",
        "EventHub",
        "Workspace",
        "Internal"
      ],
      "x-ms-enum": {
        "name": "ActionType",
        "modelAsString": true,
        "values": [
          {
            "name": "LogicApp",
            "value": "LogicApp",
            "description": "LogicApp"
          },
          {
            "name": "EventHub",
            "value": "EventHub",
            "description": "EventHub"
          },
          {
            "name": "Workspace",
            "value": "Workspace",
            "description": "Workspace"
          },
          {
            "name": "Internal",
            "value": "Internal",
            "description": "Internal"
          }
        ]
      }
    },
    "Common.CloudError": {
      "type": "object",
      "description": "Common error response for all Azure Resource Manager APIs to return error details for failed operations. (This also follows the OData error response format.).",
      "properties": {
        "error": {
          "$ref": "#/definitions/Common.CloudErrorBody",
          "description": "The error object.",
          "x-ms-client-flatten": true
        }
      },
      "x-ms-external": true
    },
    "Common.CloudErrorBody": {
      "type": "object",
      "description": "The error detail.",
      "properties": {
        "code": {
          "type": "string",
          "description": "The error code.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "The error message.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The error target.",
          "readOnly": true
        },
        "details": {
          "type": "array",
          "description": "The error details.",
          "items": {
            "$ref": "#/definitions/Common.CloudErrorBody"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "additionalInfo": {
          "type": "array",
          "description": "The error additional info.",
          "items": {
            "$ref": "#/definitions/Common.ErrorAdditionalInfo"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        }
      },
      "x-ms-external": true
    },
    "Common.ErrorAdditionalInfo": {
      "type": "object",
      "description": "The resource management error additional info.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The additional info type.",
          "readOnly": true
        },
        "info": {
          "description": "The additional info.",
          "readOnly": true
        }
      }
    },
    "Common.State": {
      "type": "string",
      "description": "Aggregative state based on the standard's supported controls states",
      "enum": [
        "Passed",
        "Failed",
        "Skipped",
        "Unsupported",
        "On",
        "Off"
      ],
      "x-ms-enum": {
        "name": "State",
        "modelAsString": true,
        "values": [
          {
            "name": "Passed",
            "value": "Passed",
            "description": "All supported regulatory compliance controls in the given standard have a passed state"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "At least one supported regulatory compliance control in the given standard has a state of failed"
          },
          {
            "name": "Skipped",
            "value": "Skipped",
            "description": "All supported regulatory compliance controls in the given standard have a state of skipped"
          },
          {
            "name": "Unsupported",
            "value": "Unsupported",
            "description": "No supported regulatory compliance data for the given standard"
          },
          {
            "name": "On",
            "value": "On",
            "description": "Send notification on new alerts to the subscription's admins"
          },
          {
            "name": "Off",
            "value": "Off",
            "description": "Don't send notification on new alerts to the subscription's admins"
          }
        ]
      }
    },
    "Common.Tags": {
      "type": "object",
      "description": "A list of key value pairs that describe the resource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "A list of key value pairs that describe the resource.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "EventSource": {
      "type": "string",
      "description": "A valid event source type.",
      "enum": [
        "Assessments",
        "AssessmentsSnapshot",
        "SubAssessments",
        "SubAssessmentsSnapshot",
        "Alerts",
        "SecureScores",
        "SecureScoresSnapshot",
        "SecureScoreControls",
        "SecureScoreControlsSnapshot",
        "RegulatoryComplianceAssessment",
        "RegulatoryComplianceAssessmentSnapshot",
        "AttackPaths",
        "AttackPathsSnapshot"
      ],
      "x-ms-enum": {
        "name": "EventSource",
        "modelAsString": true,
        "values": [
          {
            "name": "Assessments",
            "value": "Assessments",
            "description": "Assessments"
          },
          {
            "name": "AssessmentsSnapshot",
            "value": "AssessmentsSnapshot",
            "description": "AssessmentsSnapshot"
          },
          {
            "name": "SubAssessments",
            "value": "SubAssessments",
            "description": "SubAssessments"
          },
          {
            "name": "SubAssessmentsSnapshot",
            "value": "SubAssessmentsSnapshot",
            "description": "SubAssessmentsSnapshot"
          },
          {
            "name": "Alerts",
            "value": "Alerts",
            "description": "Alerts"
          },
          {
            "name": "SecureScores",
            "value": "SecureScores",
            "description": "SecureScores"
          },
          {
            "name": "SecureScoresSnapshot",
            "value": "SecureScoresSnapshot",
            "description": "SecureScoresSnapshot"
          },
          {
            "name": "SecureScoreControls",
            "value": "SecureScoreControls",
            "description": "SecureScoreControls"
          },
          {
            "name": "SecureScoreControlsSnapshot",
            "value": "SecureScoreControlsSnapshot",
            "description": "SecureScoreControlsSnapshot"
          },
          {
            "name": "RegulatoryComplianceAssessment",
            "value": "RegulatoryComplianceAssessment",
            "description": "RegulatoryComplianceAssessment"
          },
          {
            "name": "RegulatoryComplianceAssessmentSnapshot",
            "value": "RegulatoryComplianceAssessmentSnapshot",
            "description": "RegulatoryComplianceAssessmentSnapshot"
          },
          {
            "name": "AttackPaths",
            "value": "AttackPaths",
            "description": "AttackPaths"
          },
          {
            "name": "AttackPathsSnapshot",
            "value": "AttackPathsSnapshot",
            "description": "AttackPathsSnapshot"
          }
        ]
      }
    },
    "MinimalRiskLevel": {
      "type": "string",
      "description": "Defines the minimal attack path risk level which will be sent as email notifications",
      "enum": [
        "Critical",
        "High",
        "Medium",
        "Low"
      ],
      "x-ms-enum": {
        "name": "MinimalRiskLevel",
        "modelAsString": true,
        "values": [
          {
            "name": "Critical",
            "value": "Critical",
            "description": "Get notifications on new attack paths with Critical risk level"
          },
          {
            "name": "High",
            "value": "High",
            "description": "Get notifications on new attack paths with High or Critical risk level"
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "Get notifications on new attach paths with Medium, High or Critical risk level"
          },
          {
            "name": "Low",
            "value": "Low",
            "description": "Get notifications on new attach paths with Low, Medium, High or Critical risk level"
          }
        ]
      }
    },
    "MinimalSeverity": {
      "type": "string",
      "description": "Defines the minimal alert severity which will be sent as email notifications",
      "enum": [
        "High",
        "Medium",
        "Low"
      ],
      "x-ms-enum": {
        "name": "MinimalSeverity",
        "modelAsString": true,
        "values": [
          {
            "name": "High",
            "value": "High",
            "description": "Get notifications on new alerts with High severity"
          },
          {
            "name": "Medium",
            "value": "Medium",
            "description": "Get notifications on new alerts with Medium or High severity"
          },
          {
            "name": "Low",
            "value": "Low",
            "description": "Get notifications on new alerts with Low, Medium or High severity"
          }
        ]
      }
    },
    "NotificationsSource": {
      "type": "object",
      "description": "A valid notification source type",
      "properties": {
        "sourceType": {
          "$ref": "#/definitions/SourceType",
          "description": "The source type that will trigger the notification"
        }
      },
      "discriminator": "sourceType",
      "required": [
        "sourceType"
      ]
    },
    "NotificationsSourceAlert": {
      "type": "object",
      "description": "Alert notification source",
      "properties": {
        "minimalSeverity": {
          "$ref": "#/definitions/MinimalSeverity",
          "description": "Defines the minimal alert severity which will be sent as email notifications"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/NotificationsSource"
        }
      ],
      "x-ms-discriminator-value": "Alert"
    },
    "NotificationsSourceAttackPath": {
      "type": "object",
      "description": "Attack path notification source",
      "properties": {
        "minimalRiskLevel": {
          "$ref": "#/definitions/MinimalRiskLevel",
          "description": "Defines the minimal attach path risk level which will be sent as email notifications"
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/NotificationsSource"
        }
      ],
      "x-ms-discriminator-value": "AttackPath"
    },
    "Operator": {
      "type": "string",
      "description": "A valid comparer operator to use. A case-insensitive comparison will be applied for String PropertyType.",
      "enum": [
        "Equals",
        "GreaterThan",
        "GreaterThanOrEqualTo",
        "LesserThan",
        "LesserThanOrEqualTo",
        "NotEquals",
        "Contains",
        "StartsWith",
        "EndsWith"
      ],
      "x-ms-enum": {
        "name": "Operator",
        "modelAsString": true,
        "values": [
          {
            "name": "Equals",
            "value": "Equals",
            "description": "Applies for decimal and non-decimal operands"
          },
          {
            "name": "GreaterThan",
            "value": "GreaterThan",
            "description": "Applies only for decimal operands"
          },
          {
            "name": "GreaterThanOrEqualTo",
            "value": "GreaterThanOrEqualTo",
            "description": "Applies only for decimal operands"
          },
          {
            "name": "LesserThan",
            "value": "LesserThan",
            "description": "Applies only for decimal operands"
          },
          {
            "name": "LesserThanOrEqualTo",
            "value": "LesserThanOrEqualTo",
            "description": "Applies only for decimal operands"
          },
          {
            "name": "NotEquals",
            "value": "NotEquals",
            "description": "Applies  for decimal and non-decimal operands"
          },
          {
            "name": "Contains",
            "value": "Contains",
            "description": "Applies only for non-decimal operands"
          },
          {
            "name": "StartsWith",
            "value": "StartsWith",
            "description": "Applies only for non-decimal operands"
          },
          {
            "name": "EndsWith",
            "value": "EndsWith",
            "description": "Applies only for non-decimal operands"
          }
        ]
      }
    },
    "PropertyType": {
      "type": "string",
      "description": "The data type of the compared operands (string, integer, floating point number or a boolean [true/false]]",
      "enum": [
        "String",
        "Integer",
        "Number",
        "Boolean"
      ],
      "x-ms-enum": {
        "name": "PropertyType",
        "modelAsString": true,
        "values": [
          {
            "name": "String",
            "value": "String",
            "description": "String"
          },
          {
            "name": "Integer",
            "value": "Integer",
            "description": "Integer"
          },
          {
            "name": "Number",
            "value": "Number",
            "description": "Number"
          },
          {
            "name": "Boolean",
            "value": "Boolean",
            "description": "Boolean"
          }
        ]
      }
    },
    "SecurityContact": {
      "type": "object",
      "description": "Contact details and configurations for notifications coming from Microsoft Defender for Cloud.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SecurityContactProperties",
          "description": "Security contact data",
          "x-ms-client-flatten": true
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../../common-types/resource-management/v3/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "SecurityContactList": {
      "type": "object",
      "description": "List of security contacts response",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SecurityContact items on this page",
          "items": {
            "$ref": "#/definitions/SecurityContact"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SecurityContactProperties": {
      "type": "object",
      "description": "Describes security contact properties",
      "properties": {
        "emails": {
          "type": "string",
          "description": "List of email addresses which will get notifications from Microsoft Defender for Cloud by the configurations defined in this security contact."
        },
        "phone": {
          "type": "string",
          "description": "The security contact's phone number"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Indicates whether the security contact is enabled."
        },
        "notificationsSources": {
          "type": "array",
          "description": "A collection of sources types which evaluate the email notification.",
          "items": {
            "$ref": "#/definitions/NotificationsSource"
          },
          "x-ms-identifiers": []
        },
        "notificationsByRole": {
          "$ref": "#/definitions/SecurityContactPropertiesNotificationsByRole",
          "description": "Defines whether to send email notifications from Microsoft Defender for Cloud to persons with specific RBAC roles on the subscription."
        }
      }
    },
    "SecurityContactPropertiesNotificationsByRole": {
      "type": "object",
      "description": "Defines whether to send email notifications from Microsoft Defender for Cloud to persons with specific RBAC roles on the subscription.",
      "properties": {
        "state": {
          "$ref": "#/definitions/Common.State",
          "description": "Defines whether to send email notifications from AMicrosoft Defender for Cloud to persons with specific RBAC roles on the subscription."
        },
        "roles": {
          "type": "array",
          "description": "Defines which RBAC roles will get email notifications from Microsoft Defender for Cloud. List of allowed RBAC roles:",
          "items": {
            "$ref": "#/definitions/SecurityContactRole"
          }
        }
      }
    },
    "SecurityContactRole": {
      "type": "string",
      "description": "A possible role to configure sending security notification alerts to",
      "enum": [
        "AccountAdmin",
        "ServiceAdmin",
        "Owner",
        "Contributor"
      ],
      "x-ms-enum": {
        "name": "SecurityContactRole",
        "modelAsString": true,
        "values": [
          {
            "name": "AccountAdmin",
            "value": "AccountAdmin",
            "description": "If enabled, send notification on new alerts to the account admins"
          },
          {
            "name": "ServiceAdmin",
            "value": "ServiceAdmin",
            "description": "If enabled, send notification on new alerts to the service admins"
          },
          {
            "name": "Owner",
            "value": "Owner",
            "description": "If enabled, send notification on new alerts to the subscription owners"
          },
          {
            "name": "Contributor",
            "value": "Contributor",
            "description": "If enabled, send notification on new alerts to the subscription contributors"
          }
        ]
      }
    },
    "SourceType": {
      "type": "string",
      "description": "The source type that will trigger the notification",
      "enum": [
        "Alert",
        "AttackPath"
      ],
      "x-ms-enum": {
        "name": "SourceType",
        "modelAsString": true,
        "values": [
          {
            "name": "Alert",
            "value": "Alert",
            "description": "Alert"
          },
          {
            "name": "AttackPath",
            "value": "AttackPath",
            "description": "AttackPath"
          }
        ]
      }
    }
  },
  "parameters": {}
}
