{
  "swagger": "2.0",
  "info": {
    "version": "2021-11-01-preview",
    "title": "ProvisioningDeviceClient",
    "description": "API for device runtime operations with the Azure IoT Hub Device Provisioning Service"
  },
  "host": "global.azure-devices-provisioning.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{idScope}/devices/{registrationId}/certificates/{certificateId}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Obtains the issued certificate.",
        "operationId": "CertificateIssuance_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "The device registration ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateId",
            "in": "path",
            "description": "Certificate ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "name": "idScope",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CertificateIssuanceResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{idScope}/devices/{registrationId}/operations/{operationId}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Obtains the device operation status.",
        "operationId": "Device_OperationStatusLookup",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "The device registration ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Operation ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "name": "idScope",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceOperationStatusResponse"
            },
            "headers": {
              "retry-after": {
                "description": "The retry interval in seconds.",
                "type": "integer"
              },
              "location": {
                "description": "The location of the resource.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceOperationStatusResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{idScope}/registrations/{registrationId}/operations/{operationId}": {
      "get": {
        "tags": [
          "GET",
          "RuntimeRegistration"
        ],
        "summary": "Gets the registration operation status.",
        "operationId": "RuntimeRegistration_OperationStatusLookup",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "Registration ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Operation ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "idScope",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            },
            "headers": {
              "retry-after": {
                "description": "The retry interval in seconds.",
                "type": "integer"
              },
              "Location": {
                "description": "The location of the resource.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{idScope}/devices/{registrationId}/certificates/issue": {
      "post": {
        "tags": [
          "POST"
        ],
        "summary": "API to issue certificates for IoT devices.",
        "operationId": "CertificateIssuance_IssueCertificate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "The device registration ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Certificate signing request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateIssuanceRequest"
            }
          },
          {
            "name": "idScope",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceOperationStatusResponse"
            },
            "headers": {
              "location": {
                "description": "The location of the resource.",
                "type": "string"
              },
              "retry-after": {
                "description": "The retry interval in seconds.",
                "type": "integer"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{idScope}/registrations/{registrationId}": {
      "post": {
        "tags": [
          "POST",
          "RuntimeRegistration"
        ],
        "summary": "Gets the device registration status.",
        "operationId": "RuntimeRegistration_DeviceRegistrationStatusLookup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "Registration ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceRegistration",
            "in": "body",
            "description": "Device registration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            }
          },
          {
            "name": "idScope",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceRegistrationResult"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        }
      }
    },
    "/{idScope}/registrations/{registrationId}/register": {
      "put": {
        "tags": [
          "PUT",
          "RuntimeRegistration"
        ],
        "summary": "Registers the devices.",
        "operationId": "RuntimeRegistration_RegisterDevice",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "description": "The registration ID is alphanumeric, lowercase, and may contain hyphens.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceRegistration",
            "in": "body",
            "description": "Device registration request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            }
          },
          {
            "name": "idScope",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            },
            "headers": {
              "Location": {
                "description": "The location of the resource.",
                "type": "string"
              },
              "retry-after": {
                "description": "The retry interval in seconds.",
                "type": "integer"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "CertificateIssuanceResponse": {
      "type": "object",
      "properties": {
        "issuedCertificate": {
          "description": "The end-entity certificate issued to a client.",
          "type": "string",
          "readOnly": true,
          "example": "-----BEGIN CERTIFICATE-----MIIDDTCCArOgAwIBAgIUYc7n9QGjffolKnDoY9rUjf9EMqAwCgYIKoZIzj0EAwIwgZUxCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJXQTEQMA4GA1UEBxMHUmVkbW9uZDEYMBYGA1UECRMPMSBNaWNyb3NvZnQgV2F5MQ4wDAYDVQQREwU5ODA1MjESMBAGA1UEChMJTWljcm9zb2Z0MSkwJwYDVQQDEyBNaWNyb3NvZnQgVGVzdCBFQ0MgSXNzdWluZyBDQSBHMjAeFw0yMTExMTUyMTE1MzJaFw0yMTExMjUyMTE1MzJaMBIxEDAOBgNVBAMTB2RldmljZTUwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAROuomi9ENvCrv/xhcgG/ORFeIS8a4Wh/Vg1VXW+pJQIKxWr1hOiuYs+KmMHQS9W7Amlkfy0aBtiqinUJvvFj8Ao4IBYTCCAV0wDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUIhLWIQhIBzcSbOxzb9U/u1asMGcwHwYDVR0jBBgwFoAU8PdCrRM0+H5pYeUVjkBBIvIa/wswDgYDVR0PAQH/BAQDAgPIMBYGA1UdJQEB/wQMMAoGCCsGAQUFBwMCMIGRBggrBgEFBQcBAQSBhDCBgTAtBggrBgEFBQcwAYYhaHR0cDovL29jc3AuZGVtby5vbmUuZGlnaWNlcnQuY29tMFAGCCsGAQUFBzAChkRodHRwOi8vY2FjZXJ0cy5kZW1vLm9uZS5kaWdpY2VydC5jb20vTWljcm9zb2Z0VGVzdEVDQ0lzc3VpbmdDQUcyLmNydDBRBgNVHR8ESjBIMEagRKBChkBodHRwOi8vY3JsLmRlbW8ub25lLmRpZ2ljZXJ0LmNvbS9NaWNyb3NvZnRUZXN0RUNDSXNzdWluZ0NBRzIuY3JsMAoGCCqGSM49BAMCA0gAMEUCIQDB0RbQNOA276IorQ20PYyioLh7Blm8JHzuUr4Vn/f2LQIgN+jv6dP/giMLKUfVNG2McCt3xtLL6zK9VipiQDN0Mts=-----END CERTIFICATE-----"
        },
        "certificateChain": {
          "description": "The issuing certificate authority chain.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "example": "[\"-----BEGIN CERTIFICATE-----MIIDcTCCAxigAwIBAgIUYMzip+eDk0ZTFDvisRPcsabDc9EwCgYIKoZIzj0EAwIwgZIxCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJXQTEQMA4GA1UEBxMHUmVkbW9uZDEYMBYGA1UECRMPMSBNaWNyb3NvZnQgV2F5MQ4wDAYDVQQREwU5ODA1MjESMBAGA1UEChMJTWljcm9zb2Z0MSYwJAYDVQQDEx1NaWNyb3NvZnQgVGVzdCBFQ0MgUm9vdCBDQSBHMjAeFw0yMTA4MTExNzUwNDFaFw0yNTA4MTExNzQ5MDlaMIGVMQswCQYDVQQGEwJVUzELMAkGA1UECBMCV0ExEDAOBgNVBAcTB1JlZG1vbmQxGDAWBgNVBAkTDzEgTWljcm9zb2Z0IFdheTEOMAwGA1UEERMFOTgwNTIxEjAQBgNVBAoTCU1pY3Jvc29mdDEpMCcGA1UEAxMgTWljcm9zb2Z0IFRlc3QgRUNDIElzc3VpbmcgQ0EgRzIwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAS2U81BoKyewWKBbi2Gq9NajvRi9GBv+E/5e2Uj9VNfU8gTMSOGJ0a1tsreRGmd56JJaLnccL/xLm7Wt/x6Lx5Io4IBRTCCAUEwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQU8PdCrRM0+H5pYeUVjkBBIvIa/wswHwYDVR0jBBgwFoAUtX69ekykBlE6wkKzc/6rQ0OgcM0wDgYDVR0PAQH/BAQDAgGGMIGNBggrBgEFBQcBAQSBgDB+MC0GCCsGAQUFBzABhiFodHRwOi8vb2NzcC5kZW1vLm9uZS5kaWdpY2VydC5jb20wTQYIKwYBBQUHMAKGQWh0dHA6Ly9jYWNlcnRzLmRlbW8ub25lLmRpZ2ljZXJ0LmNvbS9NaWNyb3NvZnRUZXN0RUNDUm9vdENBRzIuY3J0ME4GA1UdHwRHMEUwQ6BBoD+GPWh0dHA6Ly9jcmwuZGVtby5vbmUuZGlnaWNlcnQuY29tL01pY3Jvc29mdFRlc3RFQ0NSb290Q0FHMi5jcmwwCgYIKoZIzj0EAwIDRwAwRAIgba5CVls2lL7mc3Wrtz3BJKDz7uWNeS7K2+LAZEBN490CIFDaGqPdkwHwG9s7QTtejOSoj4CIadzPw03h16UBWyts-----END CERTIFICATE-----\"]"
        }
      }
    },
    "ProvisioningServiceErrorDetails": {
      "description": "Contains the properties of an error returned by the Azure IoT Hub Provisioning Service.",
      "type": "object",
      "properties": {
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "trackingId": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "info": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timestampUtc": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "DeviceOperationStatusResponse": {
      "type": "object",
      "properties": {
        "operationId": {
          "description": "An opaque operation ID string.",
          "type": "string",
          "readOnly": true,
          "example": "IjAwMDBlOGMyLTAwMDAtMDYwMC0wMDAwLTYxOGVkODYxMDAwMCI="
        },
        "status": {
          "description": "Device operation status.",
          "enum": [
            "unknown",
            "notStarted",
            "running",
            "failed",
            "succeeded"
          ],
          "type": "string",
          "readOnly": true,
          "example": "running",
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "createdDateTimeUtc": {
          "format": "date-time",
          "description": "Operation created timestamp in UTC.",
          "type": "string",
          "readOnly": true,
          "example": "2021-11-01T00:00:00"
        },
        "lastActionDateTimeUtc": {
          "format": "date-time",
          "description": "Optional operation status entered timestamp in UTC.",
          "type": "string",
          "readOnly": true,
          "example": "2021-11-01T00:01:00"
        },
        "resourceLocation": {
          "description": "Optional resource location URI. Present only when the operation terminates successfully.",
          "type": "string",
          "readOnly": true,
          "example": "https://global.azure-devices-provisioning.net/0NE123ABC/devices/contoso-registration-id/certificates/f679fd5a-a570-4d4b-b640-81753d47f820"
        }
      }
    },
    "RegistrationOperationStatus": {
      "description": "Registration operation status.",
      "required": [
        "operationId"
      ],
      "type": "object",
      "properties": {
        "operationId": {
          "description": "An opaque operation ID string.",
          "type": "string",
          "example": "IjAwMDBlOGMyLTAwMDAtMDYwMC0wMDAwLTYxOGVkODYxMDAwMCI="
        },
        "status": {
          "description": "Device enrollment status.",
          "enum": [
            "unassigned",
            "assigning",
            "assigned",
            "failed",
            "disabled"
          ],
          "type": "string",
          "example": "assigning",
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "registrationState": {
          "$ref": "#/definitions/DeviceRegistrationResult",
          "description": "Device registration status."
        }
      }
    },
    "DeviceRegistrationResult": {
      "description": "Device registration result.",
      "type": "object",
      "properties": {
        "tpm": {
          "$ref": "#/definitions/TpmRegistrationResult",
          "description": "Registration result returned when using TPM attestation.",
          "readOnly": true
        },
        "x509": {
          "$ref": "#/definitions/X509RegistrationResult",
          "description": "Registration result returned when using X509 attestation.",
          "readOnly": true
        },
        "symmetricKey": {
          "$ref": "#/definitions/SymmetricKeyRegistrationResult",
          "description": "Registration result returned when using SymmetricKey attestation.",
          "readOnly": true
        },
        "registrationId": {
          "description": "This id is used to uniquely identify a device registration of an enrollment.\r\nA case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
          "type": "string",
          "readOnly": true,
          "example": "contoso-registration-id"
        },
        "createdDateTimeUtc": {
          "format": "date-time",
          "description": "Registration create date time (in UTC).",
          "type": "string",
          "readOnly": true,
          "example": "2021-11-01T00:00:00"
        },
        "assignedHub": {
          "description": "Assigned Azure IoT Hub.",
          "type": "string",
          "readOnly": true,
          "example": "contoso-iot-hub.azure-devices.net"
        },
        "deviceId": {
          "description": "DPS administrator configured device ID.",
          "type": "string",
          "readOnly": true,
          "example": "contoso-device-id"
        },
        "status": {
          "description": "Enrollment status.",
          "enum": [
            "unassigned",
            "assigning",
            "assigned",
            "failed",
            "disabled"
          ],
          "type": "string",
          "readOnly": true,
          "example": "assigning",
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "substatus": {
          "description": "Substatus for 'Assigned' devices. Possible values include - 'initialAssignment': Device has been assigned to an IoT hub for the first time, 'deviceDataMigrated': Device has been assigned to a different IoT hub and its device data was migrated from the previously assigned IoT hub. Device data was removed from the previously assigned IoT hub, 'deviceDataReset':  Device has been assigned to a different IoT hub and its device data was populated from the initial state stored in the enrollment. Device data was removed from the previously assigned IoT hub, 'reprovisionedToInitialAssignment': Device has been re-provisioned to a previously assigned IoT hub.",
          "enum": [
            "initialAssignment",
            "deviceDataMigrated",
            "deviceDataReset",
            "reprovisionedToInitialAssignment"
          ],
          "type": "string",
          "readOnly": true,
          "example": "initialAssignment"
        },
        "errorCode": {
          "format": "int32",
          "description": "An integer representation of the error code. For details regarding the error codes please see https://docs.microsoft.com/en-us/azure/iot-dps/how-to-troubleshoot-dps#common-error-codes",
          "type": "integer",
          "readOnly": true
        },
        "errorMessage": {
          "description": "A description of the error details as a string.",
          "type": "string",
          "readOnly": true
        },
        "lastUpdatedDateTimeUtc": {
          "format": "date-time",
          "description": "Last updated date time (in UTC).",
          "type": "string",
          "readOnly": true,
          "example": "2021-11-01T00:00:00"
        },
        "etag": {
          "description": "The entity tag associated with the resource as a string.",
          "type": "string",
          "readOnly": true,
          "example": "IjAwMDBlOGMyLTAwMDAtMDYwMC0wMDAwLTYxOGVkODYxMDAwMCI="
        },
        "payload": {
          "description": "Custom allocation payload returned from the webhook to the device.",
          "type": "object",
          "readOnly": true
        },
        "trustBundle": {
          "$ref": "#/definitions/TrustBundle",
          "description": "The optional trust bundle result returned after a successful device registration.",
          "readOnly": true
        },
        "issuedClientCertificate": {
          "description": "Client certificate issued to the device in PEM format.",
          "type": "string",
          "readOnly": true
        },
        "deviceCertificateIssuanceSettings": {
          "$ref": "#/definitions/DeviceCertificateIssuanceSettings",
          "description": "Certificate issuance settings specification for the device.",
          "readOnly": true
        },
        "deviceHostname": {
          "description": "Optional configured hostname for the device.",
          "type": "string",
          "readOnly": true
        },
        "deviceIpAddress": {
          "description": "Optional configured IP address for the device.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TpmRegistrationResult": {
      "description": "TPM registration result.",
      "type": "object",
      "properties": {
        "authenticationKey": {
          "description": "Encrypted authentication key as a string.",
          "type": "string"
        }
      }
    },
    "X509RegistrationResult": {
      "description": "X509 registration result.",
      "type": "object",
      "properties": {
        "certificateInfo": {
          "$ref": "#/definitions/X509CertificateInfo"
        },
        "enrollmentGroupId": {
          "type": "string"
        },
        "signingCertificateInfo": {
          "$ref": "#/definitions/X509CertificateInfo"
        }
      }
    },
    "SymmetricKeyRegistrationResult": {
      "description": "Registration result returned when using SymmetricKey attestation.",
      "type": "object",
      "properties": {
        "enrollmentGroupId": {
          "description": "Enrollment group id.",
          "type": "string",
          "example": "contoso-enrollment-group"
        }
      }
    },
    "TrustBundle": {
      "description": "A collection of trusted root or intermediate certificates associated with one or more device enrollments.",
      "required": [
        "certificates"
      ],
      "type": "object",
      "properties": {
        "certificates": {
          "description": "The certificates in the trust bundle.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/X509CertificateWithMetadata"
          }
        },
        "id": {
          "description": "The trust bundle ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
          "type": "string",
          "readOnly": true
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The DateTime this resource was created in UTC.",
          "type": "string",
          "readOnly": true
        },
        "lastModifiedDateTime": {
          "format": "date-time",
          "description": "The DateTime this resource was last updated in UTC.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "The ETag of the trust bundle.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DeviceCertificateIssuanceSettings": {
      "description": "Certificate issuance policy.",
      "type": "object",
      "properties": {
        "certificateIssuanceEndpoint": {
          "description": "Certificate issuance endpoint which devices can access",
          "type": "string",
          "readOnly": true
        },
        "certificateType": {
          "description": "The certificate issuance type.",
          "enum": [
            "none",
            "serverCertificate"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "modelAsString": true
          }
        }
      }
    },
    "X509CertificateInfo": {
      "description": "X509 certificate info.",
      "required": [
        "subjectName",
        "sha1Thumbprint",
        "sha256Thumbprint",
        "issuerName",
        "notBeforeUtc",
        "notAfterUtc",
        "serialNumber",
        "version"
      ],
      "type": "object",
      "properties": {
        "subjectName": {
          "type": "string"
        },
        "sha1Thumbprint": {
          "type": "string"
        },
        "sha256Thumbprint": {
          "type": "string"
        },
        "issuerName": {
          "type": "string"
        },
        "notBeforeUtc": {
          "format": "date-time",
          "type": "string"
        },
        "notAfterUtc": {
          "format": "date-time",
          "type": "string"
        },
        "serialNumber": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "X509CertificateWithMetadata": {
      "required": [
        "certificate"
      ],
      "type": "object",
      "properties": {
        "certificate": {
          "description": "Certificates in PEM format enclosed within these headers:\r\n-----BEGIN CERTIFICATE-----\r\n-----END CERTIFICATE-----",
          "type": "string",
          "example": "-----BEGIN CERTIFICATE-----MIIDDTCCArOgAwIBAgIUYc7n9QGjffolKnDoY9rUjf9EMqAwCgYIKoZIzj0EAwIwgZUxCzAJBgNV\\nBAYTAlVTMQswCQYDVQQIEwJXQTEQMA4GA1UEBxMHUmVkbW9uZDEYMBYGA1UECRMPMSBNaWNyb3Nv\\nZnQgV2F5MQ4wDAYDVQQREwU5ODA1MjESMBAGA1UEChMJTWljcm9zb2Z0MSkwJwYDVQQDEyBNaWNy\\nb3NvZnQgVGVzdCBFQ0MgSXNzdWluZyBDQSBHMjAeFw0yMTExMTUyMTE1MzJaFw0yMTExMjUyMTE1\\nMzJaMBIxEDAOBgNVBAMTB2RldmljZTUwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAROuomi9ENv\\nCrv/xhcgG/ORFeIS8a4Wh/Vg1VXW+pJQIKxWr1hOiuYs+KmMHQS9W7Amlkfy0aBtiqinUJvvFj8A\\no4IBYTCCAV0wDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUIhLWIQhIBzcSbOxzb9U/u1asMGcwHwYD\\nVR0jBBgwFoAU8PdCrRM0+H5pYeUVjkBBIvIa/wswDgYDVR0PAQH/BAQDAgPIMBYGA1UdJQEB/wQM\\nMAoGCCsGAQUFBwMCMIGRBggrBgEFBQcBAQSBhDCBgTAtBggrBgEFBQcwAYYhaHR0cDovL29jc3Au\\nZGVtby5vbmUuZGlnaWNlcnQuY29tMFAGCCsGAQUFBzAChkRodHRwOi8vY2FjZXJ0cy5kZW1vLm9u\\nZS5kaWdpY2VydC5jb20vTWljcm9zb2Z0VGVzdEVDQ0lzc3VpbmdDQUcyLmNydDBRBgNVHR8ESjBI\\nMEagRKBChkBodHRwOi8vY3JsLmRlbW8ub25lLmRpZ2ljZXJ0LmNvbS9NaWNyb3NvZnRUZXN0RUND\\nSXNzdWluZ0NBRzIuY3JsMAoGCCqGSM49BAMCA0gAMEUCIQDB0RbQNOA276IorQ20PYyioLh7Blm8\\nJHzuUr4Vn/f2LQIgN+jv6dP/giMLKUfVNG2McCt3xtLL6zK9VipiQDN0Mts=-----END CERTIFICATE-----"
        },
        "metadata": {
          "$ref": "#/definitions/X509CertificateMetadata",
          "description": "The certificate information.",
          "readOnly": true
        }
      }
    },
    "X509CertificateMetadata": {
      "type": "object",
      "properties": {
        "subjectName": {
          "description": "Distinguished name from the certificate.",
          "type": "string",
          "readOnly": true,
          "example": "CN=contoso-device"
        },
        "sha1Thumbprint": {
          "description": "SHA-1 hash value of the certificate as a hexadecimal string.",
          "type": "string",
          "readOnly": true,
          "example": "b6127ae34bc7877c9b8110125bb002ba7eb61764"
        },
        "sha256Thumbprint": {
          "description": "SHA-256 hash value of the certificate as a hexadecimal string.",
          "type": "string",
          "readOnly": true,
          "example": "3B351343697A88ED5F39FB2B45E35280CD0970588C1978CF8AB3B0C0E7ACFC55"
        },
        "issuerName": {
          "description": "Issuer distinguished name.",
          "type": "string",
          "readOnly": true,
          "example": "CN=CONTOSO INTERMEDIATE CA 01"
        },
        "notBeforeUtc": {
          "format": "date-time",
          "description": "The date on which the certificate becomes valid.",
          "type": "string",
          "readOnly": true,
          "example": "2021-08-11T17:50:41Z"
        },
        "notAfterUtc": {
          "format": "date-time",
          "description": "The date on which the certificate is no longer valid.",
          "type": "string",
          "readOnly": true,
          "example": "2022-08-11T17:50:41Z"
        },
        "serialNumber": {
          "description": "The serial number.",
          "type": "string",
          "readOnly": true,
          "example": "120020a33f4aa41b31f807e66900000020a33f"
        },
        "version": {
          "format": "int32",
          "description": "The X509 format version.",
          "type": "integer",
          "readOnly": true,
          "example": "3"
        }
      }
    },
    "CertificateIssuanceRequest": {
      "description": "Certificate issuance request.",
      "required": [
        "certificateType",
        "csr"
      ],
      "type": "object",
      "properties": {
        "certificateType": {
          "description": "The certificate issuance type.",
          "enum": [
            "none",
            "serverCertificate"
          ],
          "type": "string",
          "example": "serverCertificate",
          "x-ms-enum": {
            "modelAsString": true
          }
        },
        "csr": {
          "description": "The certificate signing request for the associated certificate type.\r\nFormat of the CSR is in PKCS 10.",
          "type": "string",
          "example": "-----BEGIN CERTIFICATE REQUEST-----MIIBJzCBzQIBADAvMS0wKwYDVQQDDCQ3ZDVhZmNiMC04NGI4LTQyYzYtYWJkYS0yYTQ0MTI3N2Q0MzMwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAARBafB5bAi8DKq8F0UFsuEy+y6AHpk8YvIGE5g4ReeZIOSQ30obp4tFB7IdJQawTq3YKp1zOv5c8G19aykuGosSoDwwOgYJKoZIhvcNAQkOMS0wKzAMBgNVHRMBAf8EAjAAMBsGA1UdEQQUMBKCCmNvbnN0by5jb22HBAoAAAEwCgYIKoZIzj0EAwIDSQAwRgIhAKgIRbM0o4dWuXaQfJAD1WzM+FtowB3zRUAnrGYdRHJmAiEA/NzniwfySRO8/6Fr04y24ZesbqwWET8OOXuRn7KPlTk=-----END CERTIFICATE REQUEST-----"
        }
      }
    },
    "DeviceRegistration": {
      "description": "Device registration.",
      "type": "object",
      "properties": {
        "registrationId": {
          "description": "The registration ID is a case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
          "type": "string",
          "example": "contoso-registration-id"
        },
        "tpm": {
          "$ref": "#/definitions/TpmAttestation",
          "description": "Tpm attestation information."
        },
        "payload": {
          "description": "Custom allocation payload.",
          "type": "object"
        },
        "clientCertificateCsr": {
          "description": "Certificate signing request for device client certificate in PKCS 10 format which is used for authentication after provisioning.",
          "type": "string",
          "example": "-----BEGIN CERTIFICATE REQUEST-----MIIBJzCBzQIBADAvMS0wKwYDVQQDDCQ3ZDVhZmNiMC04NGI4LTQyYzYtYWJkYS0yYTQ0MTI3N2Q0MzMwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAARBafB5bAi8DKq8F0UFsuEy+y6AHpk8YvIGE5g4ReeZIOSQ30obp4tFB7IdJQawTq3YKp1zOv5c8G19aykuGosSoDwwOgYJKoZIhvcNAQkOMS0wKzAMBgNVHRMBAf8EAjAAMBsGA1UdEQQUMBKCCmNvbnN0by5jb22HBAoAAAEwCgYIKoZIzj0EAwIDSQAwRgIhAKgIRbM0o4dWuXaQfJAD1WzM+FtowB3zRUAnrGYdRHJmAiEA/NzniwfySRO8/6Fr04y24ZesbqwWET8OOXuRn7KPlTk=-----END CERTIFICATE REQUEST-----"
        }
      }
    },
    "TpmAttestation": {
      "description": "Attestation via TPM.",
      "required": [
        "endorsementKey"
      ],
      "type": "object",
      "properties": {
        "endorsementKey": {
          "type": "string"
        },
        "storageRootKey": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for the request. Supported versions include: 2021-11-01-preview",
      "required": true,
      "type": "string",
      "default": "2021-11-01-preview"
    }
  },
  "tags": []
}
