{
  "swagger": "2.0",
  "info": {
    "version": "2021-11-01-preview",
    "title": "ProvisioningDeviceClient",
    "description": "API for device runtime operations with the Azure IoT Hub Device Provisioning Service"
  },
  "host": "global.azure-devices-provisioning.net",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/{idScope}/devices/{registrationId}/certificates/{certificateId}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Obtains the issued certificate.",
        "operationId": "CertificateIssuance_Get",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idScope",
            "in": "path",
            "description": "The service assigned ID scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registrationId",
            "in": "path",
            "description": "The device registration ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "name": "certificateId",
            "in": "path",
            "description": "Certificate ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CertificateIssuanceResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Returns the issued certificate": {
            "$ref": "./examples/device/CertificateIssuance/getIssuedCertificate.json"
          }
        }
      }
    },
    "/{idScope}/devices/{registrationId}/operations/{operationId}": {
      "get": {
        "tags": [
          "GET"
        ],
        "summary": "Obtains the device operation status.",
        "operationId": "Device_OperationStatusLookup",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idScope",
            "in": "path",
            "description": "The service assigned ID scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registrationId",
            "in": "path",
            "description": "The device registration ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Operation ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceOperationStatusResponse"
            },
            "headers": {
              "retry-after": {
                "description": "The retry interval in seconds.",
                "type": "integer",
                "format": "int32"
              },
              "location": {
                "description": "The location of the resource.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceOperationStatusResponse"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Obtains the device operation status": {
            "$ref": "./examples/device/DeviceOperationStatus/getDeviceOperationStatus.json"
          }
        }
      }
    },
    "/{idScope}/registrations/{registrationId}/operations/{operationId}": {
      "get": {
        "tags": [
          "GET",
          "RuntimeRegistration"
        ],
        "summary": "Gets the registration operation status.",
        "operationId": "RuntimeRegistration_OperationStatusLookup",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idScope",
            "in": "path",
            "description": "The service assigned ID scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registrationId",
            "in": "path",
            "description": "Registration ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "operationId",
            "in": "path",
            "description": "Operation ID.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            },
            "headers": {
              "retry-after": {
                "description": "The retry interval in seconds.",
                "type": "integer",
                "format": "int32"
              },
              "Location": {
                "description": "The location of the resource.",
                "type": "string"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "Gets the registration operation status": {
            "$ref": "./examples/device/RuntimeRegistration/getDeviceRegistrationOperationStatus.json"
          }
        }
      }
    },
    "/{idScope}/devices/{registrationId}/certificates/issue": {
      "post": {
        "tags": [
          "POST"
        ],
        "summary": "API to issue certificates for IoT devices.",
        "operationId": "CertificateIssuance_IssueCertificate",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idScope",
            "in": "path",
            "description": "The service assigned ID scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registrationId",
            "in": "path",
            "description": "The device registration ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "description": "Certificate signing request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CertificateIssuanceRequest"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceOperationStatusResponse"
            },
            "headers": {
              "location": {
                "description": "The location of the resource.",
                "type": "string"
              },
              "retry-after": {
                "description": "The retry interval in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Request for issuing a certificate with a certificate signing request": {
            "$ref": "./examples/device/CertificateIssuance/issueCertificate.json"
          }
        }
      }
    },
    "/{idScope}/registrations/{registrationId}": {
      "post": {
        "tags": [
          "POST",
          "RuntimeRegistration"
        ],
        "summary": "Gets the device registration status.",
        "operationId": "RuntimeRegistration_DeviceRegistrationStatusLookup",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idScope",
            "in": "path",
            "description": "The service assigned ID scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registrationId",
            "in": "path",
            "description": "Registration ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceRegistration",
            "in": "body",
            "description": "Device registration.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeviceRegistrationResult"
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-examples": {
          "Gets the device registration status": {
            "$ref": "./examples/device/RuntimeRegistration/getDeviceRegistationStatus.json"
          }
        }
      }
    },
    "/{idScope}/registrations/{registrationId}/register": {
      "put": {
        "tags": [
          "PUT",
          "RuntimeRegistration"
        ],
        "summary": "Registers the devices.",
        "operationId": "RuntimeRegistration_RegisterDevice",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idScope",
            "in": "path",
            "description": "The service assigned ID scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "registrationId",
            "in": "path",
            "description": "The registration ID is alphanumeric, lowercase, and may contain hyphens.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deviceRegistration",
            "in": "body",
            "description": "Device registration request.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeviceRegistration"
            }
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            }
          },
          "202": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RegistrationOperationStatus"
            },
            "headers": {
              "Location": {
                "description": "The location of the resource.",
                "type": "string"
              },
              "retry-after": {
                "description": "The retry interval in seconds.",
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "default": {
            "description": "Error response",
            "schema": {
              "$ref": "#/definitions/ProvisioningServiceErrorDetails"
            },
            "headers": {
              "x-ms-error-code": {
                "description": "The error code for specific error that occurred.",
                "type": "string"
              }
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-examples": {
          "API to register the device": {
            "$ref": "./examples/device/RuntimeRegistration/registerDevice.json"
          }
        }
      }
    }
  },
  "definitions": {
    "CertificateIssuanceResponse": {
      "type": "object",
      "properties": {
        "issuedCertificate": {
          "description": "The end-entity certificate issued to a client.",
          "type": "string",
          "readOnly": true,
          "example": "-----BEGIN CERTIFICATE-----MIIEsjCCApqgAwIBAgICEAEwDQYJKoZIhvcNAQELBQAwJjEkMCIGA1UEAwwbQ09OVE9TT19URVNUX0lOVEVSTUVESUFURV8xMB4XDTIyMDQyNjE3NTIzNVoXDTIyMDUyNjE3NTIzNVowLjEsMCoGA1UEAwwjY29udG9zby1yZWdpc3RyYXRpb24taWQuY29udG9zby5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDDUXRyR46cUts0KkBSrYHW9PNth2wcgzX5r5jxI2L1RHgFmcLLFiJEA52ilz/2ahfjo5+uzNa7xO66DUVc5ukPrfu/uXxBZc4sXMzJLK3+yNBQrvaSBixWFg10W6r5hmzBDbDkJRtq75DVjTfUhJRhYbG2PadKj/GKA4JLIijKBo8XJHjcEwesdLF2tWxrNt8QvcUEtT4Ge3SehoTH/AHSQLen2/qAxzKYNKt2sdJgTFZ5uJOUGDdOOF7GstVHcKsnHS1CgUW7EwsH2XLfZ67j35bpOOJOocD4Mg1CRS7FDRcH9pBZ+Cng0aH0mGflijWCB0HQ/zHk4zt9e3eg7UcTAgMBAAGjgeEwgd4wCQYDVR0TBAIwADARBglghkgBhvhCAQEEBAMCBkAwMwYJYIZIAYb4QgENBCYWJE9wZW5TU0wgR2VuZXJhdGVkIFNlcnZlciBDZXJ0aWZpY2F0ZTAdBgNVHQ4EFgQUALTpWEUQKgoM5nkVZgMxNoeB3HMwRQYDVR0jBD4wPIAUqV8aE5IM1sTp8YUMaBXxKxUDYK+hIKQeMBwxGjAYBgNVBAMMEUNPTlRPU09fVEVTVF9ST09UggIQADAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwDQYJKoZIhvcNAQELBQADggIBADOl1OSzOt7/I2GzY+NqM46ZcyDGWQsDlHq4I+fn6Jv0wX/x2wuMRjrh0WeT3gtUFD/MV0lqsk2O4YGvDavL3/XgwRbDBT9R0JaC86aCBBt6TUmq1g+lgx8Hh/ObllpZpYqbLIlFzWnuiFJonOv7fJ22y7Eta03wUZIJWqofXv5W1KKwscAxLrw0p6NWvwuRRKKtVp/wcJcBnjEh0uulHJYrgOiminPVmVfyWqht3VqZIesrHMrru5ITOVGpqLeSNpJnMBH3EQ6ClBCcPL6EDurIC/UgCUDMWjZKM2L4tNoaHwtFNo2KEBz7/4xloWix7+HzZdUL7Ly3WpFPk7UqOplKBKBni8KMbFMv8PgsKCu3/D8KTf1rHeEDhtRtOZrbi6yqxovD1YvLb8CqA6cNYn5+BiFKRGXCeXoI8l0qPGy4lXMRcUqdcYPD2gu98+vpa9zdB9OmLdhd7F3A2Y2yHULncaHKSFEnPmbE+sh+bg263gFXdoToVuvB5LeH1VPwaqINllCR6RyylKlKTF5Yy7N6NhvGbn5xxnFKvz7flgwdX1br4juJ430KeUCOzgkpyKoE0+WGQ91Vg5hkML27Ui90aLqQtlCClJwHalnOyQwvh8ZbGUdp0BJUbDhv0Bh5IF8Pkc7LLdMJUv/fEz3NDZyVJTpi23gdp/ebJhg5QbGE-----END CERTIFICATE-----"
        },
        "certificateChain": {
          "description": "The issuing certificate authority chain.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "example": "[\"-----BEGIN CERTIFICATE-----MIIFWzCCA0OgAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwHDEaMBgGA1UEAwwRQ09OVE9TT19URVNUX1JPT1QwHhcNMjIwNDI2MTc1MTI3WhcNMjIwNTI2MTc1MTI3WjAmMSQwIgYDVQQDDBtDT05UT1NPX1RFU1RfSU5URVJNRURJQVRFXzEwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDb4fI/dQW50wJCvoHp2izcfvprXhGPwluH9uXc2alMDETmT7NfRuZW4UQfe2YA6mXPWl1pbioBMI3DkxMdf4LVX4HeG+TA849OFL7lpTwHiaW+kkLSySsshXUJ6qE/rG20HUKcEu7rlUp0e8LKSB6WjfQFNL1mG7+AGZ4rf5Nv5hu8f3D0Sd7ROicYTP/o3PH77dMosZB4DDGbk6fuotgOb1txTtwx98w3/wfl9jb0HRKIBCGLMnWGgem+8l5LRvKmNi1UYLVB4dQl86XLUxmJhdWzZ3ba5v9n/+5hhJizWN7Ht93GvUqXjVHlrQqFO9PiTwolh5+HtZhShd3uVBGaa3CSTnJpN4ThYhFh8GAhs5/9QoilgN1jCEJAP9pKu7ulfR2eQTmgF2SqKCLI8xDfrHz7sgl6Xs5id2P+8WXkbhX51hb4NwfNU+pcEZd+pItBxaZUQg/huG0PlzZyuXIVjXy432YtNENoWi5n7T5ytuOdPcKo6acsgY1HWVgAoMnNvWK6X8i0tGguPicc+uiqRDUWA+svKKgxNXi8ZDO1KNzuIAezNexWuE5uuvVC2s+gwyPZjWtn6OxtFg8jdiPhTpgzGiRNsabIKFKfcxv1R8crDZ8mKfhHxex3ee6fu3xe8HYfowGa4AWTE3EHNEENdFyySa0nJ77UY3KO/XtWKQIDAQABo4GcMIGZMB0GA1UdDgQWBBSpXxoTkgzWxOnxhQxoFfErFQNgrzBXBgNVHSMEUDBOgBR7CrOdSeYKpoTU4Jo8BMOhMz/wXKEgpB4wHDEaMBgGA1UEAwwRQ09OVE9TT19URVNUX1JPT1SCFDUT40FH9nTV3kqzjaCNCP9Y/x46MA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQDAgGGMA0GCSqGSIb3DQEBCwUAA4ICAQBR0YjZ9Xtps30EWY63d0Buv+kzyMLRvrf1zitvzdzAHEcz8dQBojE1dcmvt1Gze4ZikQ/OX6+NQUThsQsCCABPN94rP96wfnm6OK/oY/59mZze91vv6DyCjNaZ8bR0u+27wA4KKdX8MNZ2k5cqTVvaDYnu6QrA6OHArfgIP7uEsW+DmMsLjxHUOVDKONguV2U5Is+V/jYWcQw+1QvWV8GK1EhpheqDwnsWMbKOjYQ8MiZuc9PxBD5hWRYnFr9lgpu0sGAXYDLDL8rsE6GJ4d7P1wDp/10kP945REJpkD3MRW+qOeoujh38j4i3jdGV4RoDxh3CDv/Eo2GfUIrXzGESzwgCf1o1AIA3ALcPcGvND5sO12OM2smDRhTwlaMo+kdTNqkJJD0knIklKJM04fxQQhJA3jFAWaZu5nOzAAJTfp+jtmjL5a9jk+Px/yrEnovQc3NCg9BkdFChss5pkvbAmTPWiouAeAOZQybH/nydxeIOe5cTJSWqm1gbmaLR5djD9O+iVDcHYZTQMWsPVgIrDSTXqua5Afequ6FnqRGU+G6vHlo/cfBx+VVbGauIQo3ptcRU9SzpyVBVAwXfhxggXR4pRKQ18Y0wqzOQiRTwJMQGjVvK36HGb4qc9BGYIHX4Umf0/mNV8VGhXtuQLK5l9ewMOYKZHTYWAEgkWlMzMQ==-----END CERTIFICATE-----\",\"-----BEGIN CERTIFICATE-----MIIFYzCCA0ugAwIBAgIUNRPjQUf2dNXeSrONoI0I/1j/HjowDQYJKoZIhvcNAQELBQAwHDEaMBgGA1UEAwwRQ09OVE9TT19URVNUX1JPT1QwHhcNMjIwNDI2MTc1MTI2WhcNMjIwNTI2MTc1MTI2WjAcMRowGAYDVQQDDBFDT05UT1NPX1RFU1RfUk9PVDCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAL21Og4bgjjuUmzhQRGZ/dGbDzfqlxj9SDyPpKG2lM05gFF75wlY0Eu9PrCxmxG+9id0tsMH2h85YabcinVor/Zcb1WRFuwvzgVegIkhU2VWu5l0ATmZrSAuNBD80Bhv7MZXSNTt+Gehroxa3vOn2p6J8Pmz8Lt6rmZ6BrJZwpU2yIDGWdcrMHzdRmd9NeOsMBcCPuGUp/fOm+aF/5K2t8fZ7kUu9hw/nJB/RQht25jXsvKVCv9oiRQA5ymcNGCJgYh8GAzq/rkiRBn5iPSwMhHPkeeDY8zbnWdDxy9HxSfjfjW0/F9Sb0oc0JIUhG17p7CT1kB1/8NdWyL0/DOBIdIsXOiArpWqectxTDgRs9uRy6hwPCmulG3RG66S8juSy+t7FEF0oPBeKF1hhChId/TZ/1F+XZ2Jpn2bme0hkc2XcOXCVbJw+QOG/DW/CdiCT0wzOECgZ58OdhlKc1ZKC30lFOCM8ffeYYtzTEP5n9pOK2qJJSt4c7/Jxs6sOCXP1WAKmNYt0rLuSZZkuvj9kpxWdscCFF6u2gniEHuDRCwrgDfV6C/MBPNB0sv/DaBCN450JqCxM3x5WMo85rT9bw/51R7sfKzV25wI+VGsvV33wkVW2SAwMhSPsBUBXeoQLU3rQgDkg7BQEBNT/lrJowXPq7dSTG6W3szAdEOU/WI1AgMBAAGjgZwwgZkwHQYDVR0OBBYEFHsKs51J5gqmhNTgmjwEw6EzP/BcMFcGA1UdIwRQME6AFHsKs51J5gqmhNTgmjwEw6EzP/BcoSCkHjAcMRowGAYDVQQDDBFDT05UT1NPX1RFU1RfUk9PVIIUNRPjQUf2dNXeSrONoI0I/1j/HjowDwYDVR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAYYwDQYJKoZIhvcNAQELBQADggIBALzUwkbzRNcXrFDF+Eo5tMWa+5jxjcbLf5nmQuUYF+FQKQrQ7D7jgK3msAAnxdTe+rpVbhfH4lDCdpTVUW5NVW30eyv1N3xyBWD4Psq3EyNvdin99yGVAw0jEx2uShif7JM927ZpE8BIlXCTKQ5DdWx+RBphQQsrJU5ptNMPFz9RZAqiWk/fbv1UCirhJGT5oU/1OI7hPFTwDNtcZTEypzpJsO0yRFf3PBIgZiOW/Bylp27j9CTNM8602tsErdqsEzWftRPdDlaRQ7o30JSU90G4VamhuN5lBwp73FV8JPBaiA3MefUTwsZgaLH/4aq7si07SAJpSQTe732ASNBNDCMosKbEMEBrk8qKrhXPkDCLX3JkQDDliyhdZbHJc6LsmAn5C/cLKwcoR70Yy54+RYcjPGmARg24PeMAp7tCi2BheYRsKiLgHzvGT91frjMaLfkfhDEdarR2D0ECFXRiJVdFVSYx1ZM4Pfm7kEN0jlkhi6a7jU08vNyQxSsfj3F+Eh24w970+yUKuXm1orXs31E6eyu4dOAOIzEDzRNGpwRgqtBgH8WfjhrtDJHkUwU2ps+6OBN+nEZaeoYFw3DpqOMoHMB61P7ft+vktLzuAiKz7OVG/vrndcuwwTtyIzAfrBT1tXU67yKdgGgz3MKQiLHsn9ROW8YOyPclwPqg5Yx1-----END CERTIFICATE-----\"]"
        }
      }
    },
    "ProvisioningServiceErrorDetails": {
      "description": "Contains the properties of an error returned by the Azure IoT Hub Provisioning Service.",
      "type": "object",
      "properties": {
        "errorCode": {
          "format": "int32",
          "type": "integer"
        },
        "trackingId": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "info": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "timestampUtc": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "DeviceOperationStatusResponse": {
      "type": "object",
      "properties": {
        "operationId": {
          "description": "An opaque operation ID string.",
          "type": "string",
          "readOnly": true,
          "example": "IjAwMDBlOGMyLTAwMDAtMDYwMC0wMDAwLTYxOGVkODYxMDAwMCI="
        },
        "deviceOperationStatus": {
          "description": "Device operation status.",
          "enum": [
            "unknown",
            "notStarted",
            "running",
            "failed",
            "succeeded"
          ],
          "type": "string",
          "readOnly": true,
          "example": "running",
          "x-ms-enum": {
            "name": "deviceOperationStatus",
            "modelAsString": true
          }
        },
        "createdDateTimeUtc": {
          "format": "date-time",
          "description": "Operation created timestamp in UTC.",
          "type": "string",
          "readOnly": true,
          "example": "2021-11-01T00:00:00"
        },
        "lastActionDateTimeUtc": {
          "format": "date-time",
          "description": "Optional operation status entered timestamp in UTC.",
          "type": "string",
          "readOnly": true,
          "example": "2021-11-01T00:01:00"
        },
        "resourceLocation": {
          "description": "Optional resource location URI. Present only when the operation terminates successfully.",
          "type": "string",
          "readOnly": true,
          "example": "https://global.azure-devices-provisioning.net/0NE123ABC/devices/contoso-registration-id/certificates/f679fd5a-a570-4d4b-b640-81753d47f820"
        }
      }
    },
    "RegistrationOperationStatus": {
      "description": "Registration operation status.",
      "required": [
        "operationId"
      ],
      "type": "object",
      "properties": {
        "operationId": {
          "description": "An opaque operation ID string.",
          "type": "string",
          "example": "IjAwMDBlOGMyLTAwMDAtMDYwMC0wMDAwLTYxOGVkODYxMDAwMCI="
        },
        "status": {
          "description": "Device enrollment status.",
          "enum": [
            "unassigned",
            "assigning",
            "assigned",
            "failed",
            "disabled"
          ],
          "type": "string",
          "example": "assigning",
          "x-ms-enum": {
            "name": "status",
            "modelAsString": true
          }
        },
        "registrationState": {
          "$ref": "#/definitions/DeviceRegistrationResult",
          "description": "Device registration status."
        }
      }
    },
    "DeviceRegistrationResult": {
      "description": "Device registration result.",
      "type": "object",
      "properties": {
        "tpm": {
          "$ref": "#/definitions/TpmRegistrationResult",
          "description": "Registration result returned when using TPM attestation.",
          "readOnly": true
        },
        "x509": {
          "$ref": "#/definitions/X509RegistrationResult",
          "description": "Registration result returned when using X509 attestation.",
          "readOnly": true
        },
        "symmetricKey": {
          "$ref": "#/definitions/SymmetricKeyRegistrationResult",
          "description": "Registration result returned when using SymmetricKey attestation.",
          "readOnly": true
        },
        "registrationId": {
          "description": "This id is used to uniquely identify a device registration of an enrollment.\r\nA case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
          "type": "string",
          "readOnly": true,
          "example": "contoso-registration-id"
        },
        "createdDateTimeUtc": {
          "format": "date-time",
          "description": "Registration create date time (in UTC).",
          "type": "string",
          "readOnly": true,
          "example": "2021-11-01T00:00:00"
        },
        "assignedHub": {
          "description": "Assigned Azure IoT Hub.",
          "type": "string",
          "readOnly": true,
          "example": "contoso-iot-hub.azure-devices.net"
        },
        "deviceId": {
          "description": "DPS administrator configured device ID.",
          "type": "string",
          "readOnly": true,
          "example": "contoso-device-id"
        },
        "status": {
          "description": "Enrollment status.",
          "enum": [
            "unassigned",
            "assigning",
            "assigned",
            "failed",
            "disabled"
          ],
          "type": "string",
          "readOnly": true,
          "example": "assigning",
          "x-ms-enum": {
            "name": "status",
            "modelAsString": true
          }
        },
        "substatus": {
          "description": "Substatus for 'Assigned' devices. Possible values include - 'initialAssignment': Device has been assigned to an IoT hub for the first time, 'deviceDataMigrated': Device has been assigned to a different IoT hub and its device data was migrated from the previously assigned IoT hub. Device data was removed from the previously assigned IoT hub, 'deviceDataReset':  Device has been assigned to a different IoT hub and its device data was populated from the initial state stored in the enrollment. Device data was removed from the previously assigned IoT hub, 'reprovisionedToInitialAssignment': Device has been re-provisioned to a previously assigned IoT hub.",
          "enum": [
            "initialAssignment",
            "deviceDataMigrated",
            "deviceDataReset",
            "reprovisionedToInitialAssignment"
          ],
          "type": "string",
          "readOnly": true,
          "example": "initialAssignment",
          "x-ms-enum": {
            "name": "substatus",
            "modelAsString": true
          }
        },
        "errorCode": {
          "format": "int32",
          "description": "An integer representation of the error code. For details regarding the error codes please see https://docs.microsoft.com/en-us/azure/iot-dps/how-to-troubleshoot-dps#common-error-codes",
          "type": "integer",
          "readOnly": true
        },
        "errorMessage": {
          "description": "A description of the error details as a string.",
          "type": "string",
          "readOnly": true
        },
        "lastUpdatedDateTimeUtc": {
          "format": "date-time",
          "description": "Last updated date time (in UTC).",
          "type": "string",
          "readOnly": true,
          "example": "2021-11-01T00:00:00"
        },
        "etag": {
          "description": "The entity tag associated with the resource as a string.",
          "type": "string",
          "readOnly": true,
          "example": "IjAwMDBlOGMyLTAwMDAtMDYwMC0wMDAwLTYxOGVkODYxMDAwMCI="
        },
        "payload": {
          "description": "Custom allocation payload returned from the webhook to the device.",
          "type": "object",
          "readOnly": true
        },
        "trustBundle": {
          "$ref": "#/definitions/TrustBundle",
          "description": "The optional trust bundle result returned after a successful device registration.",
          "readOnly": true
        },
        "issuedClientCertificate": {
          "description": "Client certificate issued to the device in PEM format.",
          "type": "string",
          "readOnly": true
        },
        "deviceCertificateIssuanceSettings": {
          "$ref": "#/definitions/DeviceCertificateIssuanceSettings",
          "description": "Certificate issuance settings specification for the device.",
          "readOnly": true
        },
        "deviceHostname": {
          "description": "Optional configured hostname for the device.",
          "type": "string",
          "readOnly": true
        },
        "deviceIpAddress": {
          "description": "Optional configured IP address for the device.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "TpmRegistrationResult": {
      "description": "TPM registration result.",
      "type": "object",
      "properties": {
        "authenticationKey": {
          "description": "Encrypted authentication key as a string.",
          "type": "string"
        }
      }
    },
    "X509RegistrationResult": {
      "description": "X509 registration result.",
      "type": "object",
      "properties": {
        "certificateInfo": {
          "$ref": "#/definitions/X509CertificateInfo"
        },
        "enrollmentGroupId": {
          "type": "string"
        },
        "signingCertificateInfo": {
          "$ref": "#/definitions/X509CertificateInfo"
        }
      }
    },
    "SymmetricKeyRegistrationResult": {
      "description": "Registration result returned when using SymmetricKey attestation.",
      "type": "object",
      "properties": {
        "enrollmentGroupId": {
          "description": "Enrollment group id.",
          "type": "string",
          "example": "contoso-enrollment-group"
        }
      }
    },
    "TrustBundle": {
      "description": "A collection of trusted root or intermediate certificates associated with one or more device enrollments.",
      "required": [
        "certificates"
      ],
      "type": "object",
      "properties": {
        "certificates": {
          "description": "The certificates in the trust bundle.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/X509CertificateWithMetadata"
          }
        },
        "id": {
          "description": "The trust bundle ID. A case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
          "type": "string",
          "readOnly": true
        },
        "createdDateTime": {
          "format": "date-time",
          "description": "The DateTime this resource was created in UTC.",
          "type": "string",
          "readOnly": true
        },
        "lastModifiedDateTime": {
          "format": "date-time",
          "description": "The DateTime this resource was last updated in UTC.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "The ETag of the trust bundle.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "DeviceCertificateIssuanceSettings": {
      "description": "Certificate issuance policy.",
      "type": "object",
      "properties": {
        "certificateIssuanceEndpoint": {
          "description": "Certificate issuance endpoint which devices can access",
          "type": "string",
          "readOnly": true
        },
        "certificateType": {
          "description": "The certificate issuance type.",
          "enum": [
            "none",
            "serverCertificate"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "certificateType",
            "modelAsString": true
          }
        }
      }
    },
    "X509CertificateInfo": {
      "description": "X509 certificate info.",
      "required": [
        "subjectName",
        "sha1Thumbprint",
        "sha256Thumbprint",
        "issuerName",
        "notBeforeUtc",
        "notAfterUtc",
        "serialNumber",
        "version"
      ],
      "type": "object",
      "properties": {
        "subjectName": {
          "type": "string"
        },
        "sha1Thumbprint": {
          "type": "string"
        },
        "sha256Thumbprint": {
          "type": "string"
        },
        "issuerName": {
          "type": "string"
        },
        "notBeforeUtc": {
          "format": "date-time",
          "type": "string"
        },
        "notAfterUtc": {
          "format": "date-time",
          "type": "string"
        },
        "serialNumber": {
          "type": "string"
        },
        "version": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "X509CertificateWithMetadata": {
      "required": [
        "certificate"
      ],
      "type": "object",
      "properties": {
        "certificate": {
          "description": "Certificates in PEM format enclosed within these headers:\r\n-----BEGIN CERTIFICATE-----\r\n-----END CERTIFICATE-----",
          "type": "string",
          "example": "-----BEGIN CERTIFICATE-----MIIDDTCCArOgAwIBAgIUYc7n9QGjffolKnDoY9rUjf9EMqAwCgYIKoZIzj0EAwIwgZUxCzAJBgNV\\nBAYTAlVTMQswCQYDVQQIEwJXQTEQMA4GA1UEBxMHUmVkbW9uZDEYMBYGA1UECRMPMSBNaWNyb3Nv\\nZnQgV2F5MQ4wDAYDVQQREwU5ODA1MjESMBAGA1UEChMJTWljcm9zb2Z0MSkwJwYDVQQDEyBNaWNy\\nb3NvZnQgVGVzdCBFQ0MgSXNzdWluZyBDQSBHMjAeFw0yMTExMTUyMTE1MzJaFw0yMTExMjUyMTE1\\nMzJaMBIxEDAOBgNVBAMTB2RldmljZTUwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAAROuomi9ENv\\nCrv/xhcgG/ORFeIS8a4Wh/Vg1VXW+pJQIKxWr1hOiuYs+KmMHQS9W7Amlkfy0aBtiqinUJvvFj8A\\no4IBYTCCAV0wDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUIhLWIQhIBzcSbOxzb9U/u1asMGcwHwYD\\nVR0jBBgwFoAU8PdCrRM0+H5pYeUVjkBBIvIa/wswDgYDVR0PAQH/BAQDAgPIMBYGA1UdJQEB/wQM\\nMAoGCCsGAQUFBwMCMIGRBggrBgEFBQcBAQSBhDCBgTAtBggrBgEFBQcwAYYhaHR0cDovL29jc3Au\\nZGVtby5vbmUuZGlnaWNlcnQuY29tMFAGCCsGAQUFBzAChkRodHRwOi8vY2FjZXJ0cy5kZW1vLm9u\\nZS5kaWdpY2VydC5jb20vTWljcm9zb2Z0VGVzdEVDQ0lzc3VpbmdDQUcyLmNydDBRBgNVHR8ESjBI\\nMEagRKBChkBodHRwOi8vY3JsLmRlbW8ub25lLmRpZ2ljZXJ0LmNvbS9NaWNyb3NvZnRUZXN0RUND\\nSXNzdWluZ0NBRzIuY3JsMAoGCCqGSM49BAMCA0gAMEUCIQDB0RbQNOA276IorQ20PYyioLh7Blm8\\nJHzuUr4Vn/f2LQIgN+jv6dP/giMLKUfVNG2McCt3xtLL6zK9VipiQDN0Mts=-----END CERTIFICATE-----"
        },
        "metadata": {
          "$ref": "#/definitions/X509CertificateMetadata",
          "description": "The certificate information.",
          "readOnly": true
        }
      }
    },
    "X509CertificateMetadata": {
      "type": "object",
      "properties": {
        "subjectName": {
          "description": "Distinguished name from the certificate.",
          "type": "string",
          "readOnly": true,
          "example": "CN=contoso-device"
        },
        "sha1Thumbprint": {
          "description": "SHA-1 hash value of the certificate as a hexadecimal string.",
          "type": "string",
          "readOnly": true,
          "example": "b6127ae34bc7877c9b8110125bb002ba7eb61764"
        },
        "sha256Thumbprint": {
          "description": "SHA-256 hash value of the certificate as a hexadecimal string.",
          "type": "string",
          "readOnly": true,
          "example": "3B351343697A88ED5F39FB2B45E35280CD0970588C1978CF8AB3B0C0E7ACFC55"
        },
        "issuerName": {
          "description": "Issuer distinguished name.",
          "type": "string",
          "readOnly": true,
          "example": "CN=CONTOSO INTERMEDIATE CA 01"
        },
        "notBeforeUtc": {
          "format": "date-time",
          "description": "The date on which the certificate becomes valid.",
          "type": "string",
          "readOnly": true,
          "example": "2021-08-11T17:50:41Z"
        },
        "notAfterUtc": {
          "format": "date-time",
          "description": "The date on which the certificate is no longer valid.",
          "type": "string",
          "readOnly": true,
          "example": "2022-08-11T17:50:41Z"
        },
        "serialNumber": {
          "description": "The serial number.",
          "type": "string",
          "readOnly": true,
          "example": "120020a33f4aa41b31f807e66900000020a33f"
        },
        "version": {
          "format": "int32",
          "description": "The X509 format version.",
          "type": "integer",
          "readOnly": true,
          "example": "3"
        }
      }
    },
    "CertificateIssuanceRequest": {
      "description": "Certificate issuance request.",
      "required": [
        "certificateType",
        "csr"
      ],
      "type": "object",
      "properties": {
        "certificateType": {
          "description": "The certificate issuance type.",
          "enum": [
            "none",
            "serverCertificate"
          ],
          "type": "string",
          "example": "serverCertificate",
          "x-ms-enum": {
            "name": "certificateType",
            "modelAsString": true
          }
        },
        "csr": {
          "description": "The certificate signing request for the associated certificate type.\r\nFormat of the CSR is in PKCS 10.",
          "type": "string",
          "example": "-----BEGIN CERTIFICATE REQUEST-----MIIBJzCBzQIBADAvMS0wKwYDVQQDDCQ3ZDVhZmNiMC04NGI4LTQyYzYtYWJkYS0yYTQ0MTI3N2Q0MzMwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAARBafB5bAi8DKq8F0UFsuEy+y6AHpk8YvIGE5g4ReeZIOSQ30obp4tFB7IdJQawTq3YKp1zOv5c8G19aykuGosSoDwwOgYJKoZIhvcNAQkOMS0wKzAMBgNVHRMBAf8EAjAAMBsGA1UdEQQUMBKCCmNvbnN0by5jb22HBAoAAAEwCgYIKoZIzj0EAwIDSQAwRgIhAKgIRbM0o4dWuXaQfJAD1WzM+FtowB3zRUAnrGYdRHJmAiEA/NzniwfySRO8/6Fr04y24ZesbqwWET8OOXuRn7KPlTk=-----END CERTIFICATE REQUEST-----"
        }
      }
    },
    "DeviceRegistration": {
      "description": "Device registration.",
      "type": "object",
      "properties": {
        "registrationId": {
          "description": "The registration ID is a case-insensitive string (up to 128 characters long) of alphanumeric characters plus certain special characters : . _ -. No special characters allowed at start or end.",
          "type": "string",
          "example": "contoso-registration-id"
        },
        "tpm": {
          "$ref": "#/definitions/TpmAttestation",
          "description": "Tpm attestation information."
        },
        "payload": {
          "description": "Custom allocation payload.",
          "type": "object"
        },
        "clientCertificateCsr": {
          "description": "Certificate signing request for device client certificate in PKCS 10 format which is used for authentication after provisioning.",
          "type": "string",
          "example": "-----BEGIN CERTIFICATE REQUEST-----MIIBJzCBzQIBADAvMS0wKwYDVQQDDCQ3ZDVhZmNiMC04NGI4LTQyYzYtYWJkYS0yYTQ0MTI3N2Q0MzMwWTATBgcqhkjOPQIBBggqhkjOPQMBBwNCAARBafB5bAi8DKq8F0UFsuEy+y6AHpk8YvIGE5g4ReeZIOSQ30obp4tFB7IdJQawTq3YKp1zOv5c8G19aykuGosSoDwwOgYJKoZIhvcNAQkOMS0wKzAMBgNVHRMBAf8EAjAAMBsGA1UdEQQUMBKCCmNvbnN0by5jb22HBAoAAAEwCgYIKoZIzj0EAwIDSQAwRgIhAKgIRbM0o4dWuXaQfJAD1WzM+FtowB3zRUAnrGYdRHJmAiEA/NzniwfySRO8/6Fr04y24ZesbqwWET8OOXuRn7KPlTk=-----END CERTIFICATE REQUEST-----"
        }
      }
    },
    "TpmAttestation": {
      "description": "Attestation via TPM.",
      "required": [
        "endorsementKey"
      ],
      "type": "object",
      "properties": {
        "endorsementKey": {
          "type": "string"
        },
        "storageRootKey": {
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for the request. Supported versions include: 2021-11-01-preview",
      "required": true,
      "type": "string",
      "default": "2021-11-01-preview"
    }
  },
  "tags": []
}
