{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "AI public API",
        "description": "This API exposes AI metric & event information and associated metadata",
        "termsOfService": "https://dev.applicationinsights.io/tos",
        "contact": {
            "name": "AIAPI Team",
            "url": "https://dev.applicationinsights.io/support",
            "email": "aiapi@microsoft.com"
        },
        "license": {
            "name": "Microsoft",
            "url": "https://dev.applicationinsights.io/license"
        }
    },
    "host": "api.applicationinsights.io",
    "basePath": "/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/apps/{app-id}/metrics/{metric-id}": {
            "get": {
                "operationId": "GetMetric",
                "summary": "Retrieve metric data",
                "description": "Gets metric values for a single metric",
                "x-ms-examples": {
                    "simpleMetric": {
                        "$ref": "examples/ai-get-metric-example.json"
                    }
                },
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    },
                    {
                        "$ref": "#/parameters/metric-id"
                    },
                    {
                        "$ref": "#/parameters/metrics-timespan"
                    },
                    {
                        "$ref": "#/parameters/metrics-interval"
                    },
                    {
                        "$ref": "#/parameters/metrics-aggregation"
                    },
                    {
                        "$ref": "#/parameters/metrics-segment"
                    },
                    {
                        "$ref": "#/parameters/metrics-top"
                    },
                    {
                        "$ref": "#/parameters/metrics-orderBy"
                    },
                    {
                        "$ref": "#/parameters/metrics-filter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/metrics-result"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/apps/{app-id}/metrics": {
            "post": {
                "operationId": "GetMetrics",
                "summary": "Retrieve metric data",
                "description": "Gets metric values for multiple metrics",
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    },
                    {
                        "$ref": "#/parameters/metrics-post-body"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/metrics-results"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/apps/{app-id}/metrics/metadata": {
            "get": {
                "operationId": "GetMetricsMetadata",
                "summary": "Retrieve metric metatadata",
                "description": "Gets metadata describing the available metrics",
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/apps/{app-id}/events/{event-type}": {
            "get": {
                "operationId": "GetEvents",
                "summary": "Execute OData query",
                "description": "Executes an OData query for events",
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    },
                    {
                        "$ref": "#/parameters/event-type"
                    },
                    {
                        "$ref": "#/parameters/events-timespan"
                    },
                    {
                        "$ref": "#/parameters/events-filter"
                    },
                    {
                        "$ref": "#/parameters/events-search"
                    },
                    {
                        "$ref": "#/parameters/events-orderby"
                    },
                    {
                        "$ref": "#/parameters/events-select"
                    },
                    {
                        "$ref": "#/parameters/events-skip"
                    },
                    {
                        "$ref": "#/parameters/events-top"
                    },
                    {
                        "$ref": "#/parameters/events-format"
                    },
                    {
                        "$ref": "#/parameters/events-count"
                    },
                    {
                        "$ref": "#/parameters/events-apply"
                    }
                ],
                "produces": [
                    "application/json;odata=none",
                    "application/json;odata=minimal",
                    "application/json;odata=full"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/events-results"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/apps/{app-id}/events/{event-type}/{event-id}": {
            "get": {
                "operationId": "GetEvent",
                "summary": "Get an event",
                "description": "Gets the data for a single event",
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    },
                    {
                        "$ref": "#/parameters/event-type"
                    },
                    {
                        "$ref": "#/parameters/events-timespan"
                    },
                    {
                        "$ref": "#/parameters/event-id"
                    }
                ],
                "produces": [
                    "application/json",
                    "application/json;odata=none",
                    "application/json;odata=minimal",
                    "application/json;odata=full"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/events-results"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/apps/{app-id}/events/$metadata": {
            "get": {
                "operationId": "GetEventsMetadataOData",
                "summary": "Get OData metadata",
                "description": "Gets OData EDMX metadata describing the event data model",
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    }
                ],
                "produces": [
                    "application/xml;charset=utf-8"
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/apps/{app-id}/query": {
            "get": {
                "operationId": "GetQuery",
                "summary": "Execute an Analytics query",
                "description": "Executes an Analytics query for data",
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    },
                    {
                        "$ref": "#/parameters/query-param"
                    },
                    {
                        "$ref": "#/parameters/query-timespan"
                    },
                    {
                        "$ref": "#/parameters/applications-param"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/query-results"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            },
            "post": {
                "operationId": "Query",
                "summary": "Execute an Analytics query",
                "description": "Executes an Analytics query for data. [Here](/documentation/2-Using-the-API/Query) is an example for using POST with an Analytics query.",
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    },
                    {
                        "$ref": "#/parameters/query-body"
                    },
                    {
                        "$ref": "#/parameters/query-timespan"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "$ref": "#/definitions/query-results"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        },
        "/apps/{app-id}/query/schema": {
            "get": {
                "operationId": "GetQuerySchema",
                "summary": "Get Analytics query metadata",
                "description": "Gets Analytics query schema describing the data model",
                "parameters": [
                    {
                        "$ref": "#/parameters/app-id"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful responses",
                        "schema": {
                            "type": "object"
                        }
                    },
                    "default": {
                        "description": "An error response object.",
                        "schema": {
                            "$ref": "#/definitions/error-response"
                        }
                    }
                }
            }
        }
    },
    "parameters": {
        "app-id": {
            "name": "app-id",
            "description": "ID of the application. This is Application ID from the API Access settings blade in the Azure portal.",
            "in": "path",
            "required": true,
            "type": "string",
            "x-ms-parameter-location": "client"
        },
        "metric-id": {
            "name": "metric-id",
            "in": "path",
            "required": true,
            "x-ms-parameter-location": "method",
            "description": "ID of the metric. This is either a standard AI metric, or an application-specific custom metric.",
            "type": "string",
            "enum": [
                "requests/count",
                "requests/duration",
                "requests/failed",
                "users/count",
                "users/authenticated",
                "pageViews/count",
                "pageViews/duration",
                "client/processingDuration",
                "client/receiveDuration",
                "client/networkDuration",
                "client/sendDuration",
                "client/totalDuration",
                "dependencies/count",
                "dependencies/failed",
                "dependencies/duration",
                "exceptions/count",
                "exceptions/browser",
                "exceptions/server",
                "sessions/count",
                "performanceCounters/requestExecutionTime",
                "performanceCounters/requestsPerSecond",
                "performanceCounters/requestsInQueue",
                "performanceCounters/memoryAvailableBytes",
                "performanceCounters/exceptionsPerSecond",
                "performanceCounters/processCpuPercentage",
                "performanceCounters/processIOBytesPerSecond",
                "performanceCounters/processPrivateBytes",
                "performanceCounters/processorCpuPercentage",
                "availabilityResults/availabilityPercentage",
                "availabilityResults/duration",
                "billing/telemetryCount",
                "customEvents/count"
            ]
        },
        "metrics-timespan": {
            "name": "timespan",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The timespan over which to retrieve metric values. This is an ISO8601 time period value. If timespan is omitted, a default time range of `PT12H` (\"last 12 hours\") is used. The actual timespan that is queried may be adjusted by the server based. In all cases, the actual time span used for the query is included in the response.",
            "type": "string",
            "default": "PT12H"
        },
        "metrics-aggregation": {
            "name": "aggregation",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The timespan over which to retrieve metric values. This is an ISO8601 time period value. If timespan is omitted, a default time range of `PT12H` (\"last 12 hours\") is used. The actual timespan that is queried may be adjusted by the server based. In all cases, the actual time span used for the query is included in the response.",
            "type": "string",
            "default": "PT12H"
        },
        "metrics-interval": {
            "name": "interval",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The time interval to use when retrieving metric values. This is an ISO8601 duration. If interval is omitted, the metric value is aggregated across the entire timespan. If interval is supplied, the server may adjust the interval to a more appropriate size based on the timespan used for the query. In all cases, the actual interval used for the query is included in the response.",
            "type": "string"
        },
        "metrics-segment": {
            "name": "segment",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The name of the dimension to segment the metric values by. This dimension must be applicable to the metric you are retrieving. To segment by more than one dimension at a time, separate them with a comma (,). In this case, the metric data will be segmented in the order the dimensions are listed in the parameter.",
            "type": "array",
            "minItems": 1,
            "collectionFormat": "csv",
            "items": {
                "type": "string",
                "enum": [
                    "applicationBuild",
                    "applicationVersion",
                    "authenticatedOrAnonymousTraffic",
                    "browser",
                    "browserVersion",
                    "city",
                    "cloudRoleName",
                    "cloudServiceName",
                    "continent",
                    "countryOrRegion",
                    "deploymentId",
                    "deploymentUnit",
                    "deviceType",
                    "environment",
                    "hostingLocation",
                    "instanceName"
                ]
            }
        },
        "metrics-top": {
            "name": "top",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The number of segments to return.  This value is only valid when segment is specified.",
            "type": "integer",
            "format": "int32"
        },
        "metrics-orderBy": {
            "name": "orderby",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The aggregation function and direction to sort the segments by.  This value is only valid when segment is specified.",
            "type": "string"
        },
        "metrics-filter": {
            "name": "filter",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "An expression used to filter the results.  This value should be a valid OData filter expression where the keys of each clause should be applicable dimensions for the metric you are retrieving.",
            "type": "string"
        },
        "metrics-post-body": {
            "name": "body",
            "description": "The batched metrics query.",
            "in": "body",
            "required": true,
            "schema": {
                "$ref": "#/definitions/metrics-post-body"
            },
            "x-ms-parameter-location": "method"
        },
        "event-type": {
            "name": "event-type",
            "in": "path",
            "required": true,
            "x-ms-parameter-location": "method",
            "description": "The type of events to query; either a standard event type (`traces`, `customEvents`, `pageViews`, `requests`, `dependencies`, `exceptions`, `availabilityResults`) or `$all` to query across all event types.",
            "type": "string",
            "enum": [
                "$all",
                "traces",
                "customEvents",
                "pageViews",
                "browserTimings",
                "requests",
                "dependencies",
                "exceptions",
                "availabilityResults",
                "performanceCounters",
                "customMetrics"
            ],
            "x-ms-enum": {
                "name": "EventType",
                "modelAsString": false
            }
        },
        "event-id": {
            "name": "event-id",
            "in": "path",
            "required": true,
            "x-ms-parameter-location": "method",
            "description": "ID of event.",
            "type": "string",
            "format": "uuid"
        },
        "events-timespan": {
            "name": "timespan",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "Optional. The timespan over which to retrieve events. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the Odata expression.",
            "type": "string"
        },
        "events-filter": {
            "name": "$filter",
            "in": "query",
            "required": false,
            "x-ms-parameter-location": "method",
            "description": "An expression used to filter the returned events",
            "type": "string"
        },
        "events-search": {
            "name": "$search",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "A free-text search expression to match for whether a particular event should be returned",
            "type": "string"
        },
        "events-orderby": {
            "name": "$orderby",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "A comma-separated list of properties with \\\"asc\\\" (the default) or \\\"desc\\\" to control the order of returned events",
            "type": "string"
        },
        "events-select": {
            "name": "$select",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "Limits the properties to just those requested on each returned event",
            "type": "string"
        },
        "events-skip": {
            "name": "$skip",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The number of items to skip over before returning events",
            "type": "integer",
            "format": "int32"
        },
        "events-top": {
            "name": "$top",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The number of events to return",
            "type": "integer",
            "format": "int32"
        },
        "events-format": {
            "name": "$format",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "Format for the returned events",
            "type": "string"
        },
        "events-count": {
            "name": "$count",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "Request a count of matching items included with the returned events",
            "type": "boolean"
        },
        "events-apply": {
            "name": "$apply",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "An expression used for aggregation over returned events",
            "type": "string"
        },
        "applications-param": {
            "name": "applications",
            "in": "query",
            "required": false,
            "description": "Application IDs to include in cross-application queries.",
            "type": "array",
            "collectionFormat": "csv",
            "items": {
                "type": "string"
            }
        },
        "query-timespan": {
            "name": "timespan",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
            "type": "string"
        },
        "query-param": {
            "name": "query",
            "in": "query",
            "x-ms-parameter-location": "method",
            "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "type": "string"
        },
        "query-body": {
            "name": "body",
            "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "in": "body",
            "schema": {
                "$ref": "#/definitions/query-body"
            },
            "x-ms-parameter-location": "method"
        }
    },
    "definitions": {
        "metric-id": {
            "description": "ID of the metric. This is either a standard AI metric, or an application-specific custom metric.",
            "type": "string",
            "enum": [
                "requests/count",
                "requests/duration",
                "requests/failed",
                "users/count",
                "users/authenticated",
                "pageViews/count",
                "pageViews/duration",
                "client/processingDuration",
                "client/receiveDuration",
                "client/networkDuration",
                "client/sendDuration",
                "client/totalDuration",
                "dependencies/count",
                "dependencies/failed",
                "dependencies/duration",
                "exceptions/count",
                "exceptions/browser",
                "exceptions/server",
                "sessions/count",
                "performanceCounters/requestExecutionTime",
                "performanceCounters/requestsPerSecond",
                "performanceCounters/requestsInQueue",
                "performanceCounters/memoryAvailableBytes",
                "performanceCounters/exceptionsPerSecond",
                "performanceCounters/processCpuPercentage",
                "performanceCounters/processIOBytesPerSecond",
                "performanceCounters/processPrivateBytes",
                "performanceCounters/processorCpuPercentage",
                "availabilityResults/availabilityPercentage",
                "availabilityResults/duration",
                "billing/telemetryCount",
                "customEvents/count"
            ]
        },
        "metrics-timespan": {
            "description": "The timespan over which to retrieve metric values. This is an ISO8601 time period value. If timespan is omitted, a default time range of `PT12H` (\"last 12 hours\") is used. The actual timespan that is queried may be adjusted by the server based. In all cases, the actual time span used for the query is included in the response.",
            "type": "string",
            "default": "PT12H"
        },
        "metrics-aggregation": {
            "description": "The aggregation to use when computing the metric values. To retrieve more than one aggregation at a time, separate them with a comma. If no aggregation is specified, then the default aggregation for the metric is used.",
            "type": "array",
            "collectionFormat": "csv",
            "minItems": 1,
            "items": {
                "type": "string",
                "enum": [
                    "min",
                    "max",
                    "avg",
                    "sum"
                ]
            }
        },
        "metrics-interval": {
            "description": "The time interval to use when retrieving metric values. This is an ISO8601 duration. If interval is omitted, the metric value is aggregated across the entire timespan. If interval is supplied, the server may adjust the interval to a more appropriate size based on the timespan used for the query. In all cases, the actual interval used for the query is included in the response.",
            "type": "string"
        },
        "metrics-segment": {
            "description": "The name of the dimension to segment the metric values by. This dimension must be applicable to the metric you are retrieving. To segment by more than one dimension at a time, separate them with a comma (,). In this case, the metric data will be segmented in the order the dimensions are listed in the parameter.",
            "type": "array",
            "minItems": 1,
            "collectionFormat": "csv",
            "items": {
                "type": "string",
                "enum": [
                    "applicationBuild",
                    "applicationVersion",
                    "authenticatedOrAnonymousTraffic",
                    "browser",
                    "browserVersion",
                    "city",
                    "cloudRoleName",
                    "cloudServiceName",
                    "continent",
                    "countryOrRegion",
                    "deploymentId",
                    "deploymentUnit",
                    "deviceType",
                    "environment",
                    "hostingLocation",
                    "instanceName"
                ]
            }
        },
        "metrics-top": {
            "description": "The number of segments to return.  This value is only valid when segment is specified.",
            "type": "integer",
            "format": "int32"
        },
        "metrics-orderBy": {
            "description": "The aggregation function and direction to sort the segments by.  This value is only valid when segment is specified.",
            "type": "string"
        },
        "metrics-filter": {
            "description": "An expression used to filter the results.  This value should be a valid OData filter expression where the keys of each clause should be applicable dimensions for the metric you are retrieving.",
            "type": "string"
        },
        "metrics-post-body": {
            "description": "Metrics request body",
            "type": "array",
            "items": {
                "$ref": "#/definitions/metrics-post-body-schema"
            }
        },
        "metrics-post-body-schema": {
            "description": "A metric request",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "An identifier for this query.  Must be unique within the post body of the request.  This identifier will be the 'id' property of the response object representing this query."
                },
                "parameters": {
                    "type": "object",
                    "description": "The parameters for a single metrics query",
                    "properties": {
                        "metricId": {
                            "$ref": "#/definitions/metric-id"
                        },
                        "timespan": {
                            "$ref": "#/definitions/metrics-timespan"
                        },
                        "aggregation": {
                            "$ref": "#/definitions/metrics-aggregation"
                        },
                        "interval": {
                            "$ref": "#/definitions/metrics-interval"
                        },
                        "segment": {
                            "$ref": "#/definitions/metrics-segment"
                        },
                        "top": {
                            "$ref": "#/definitions/metrics-top"
                        },
                        "orderby": {
                            "$ref": "#/definitions/metrics-orderBy"
                        },
                        "filter": {
                            "$ref": "#/definitions/metrics-filter"
                        }
                    },
                    "required": [
                        "metricId"
                    ]
                }
            },
            "required": [
                "id",
                "parameters"
            ]
        },
        "metrics-results": {
            "description": "A set of metric results.",
            "type": "array",
            "items": {
                "properties": {
                    "id": {
                        "description": "The specified ID for this metric.",
                        "type": "string"
                    },
                    "status": {
                        "description": "The HTTP status code of this metric query.",
                        "type": "integer",
                        "format": "int32"
                    },
                    "body": {
                        "description": "The results of this metric query.",
                        "$ref": "#/definitions/metrics-result"
                    }
                },
                "required": [
                    "id",
                    "status",
                    "body"
                ]
            }
        },
        "metrics-result": {
            "description": "A metric result.",
            "properties": {
                "value": {
                    "$ref": "#/definitions/metrics-result-info"
                }
            }
        },
        "metrics-result-info": {
            "description": "A metric result data.",
            "type": "object",
            "properties": {
                "start": {
                    "description": "Start time of the metric.",
                    "type": "string"
                },
                "end": {
                    "description": "Start time of the metric.",
                    "type": "string"
                },
                "interval": {
                    "description": "The interval used to segment the metric data.",
                    "type": "string"
                },
                "segments": {
                    "description": "Segmented metric data (if segmented).",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/metrics-segment-info"
                    }
                }
            },
            "additionalProperties": {
                "type": "object"
            }
        },
        "metrics-segment-info": {
            "description": "A metric segment",
            "type": "object",
            "properties": {
                "start": {
                    "description": "Start time of the metric segment (only when an interval was specified).",
                    "type": "string"
                },
                "end": {
                    "description": "Start time of the metric segment (only when an interval was specified).",
                    "type": "string"
                },
                "segments": {
                    "description": "Segmented metric data (if further segmented).",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/metrics-segment-info"
                    }
                }
            },
            "additionalProperties": {
                "type": "object"
            }
        },
        "event-type": {
            "description": "The type of events to query; either a standard event type (`traces`, `customEvents`, `pageViews`, `requests`, `dependencies`, `exceptions`, `availabilityResults`) or `$all` to query across all event types.",
            "type": "string",
            "enum": [
                "$all",
                "traces",
                "customEvents",
                "pageViews",
                "browserTimings",
                "requests",
                "dependencies",
                "exceptions",
                "availabilityResults",
                "performanceCounters",
                "customMetrics"
            ],
            "x-ms-enum": {
                "name": "EventType",
                "modelAsString": false
            }
        },
        "event-id": {
            "description": "ID of event.",
            "type": "string",
            "format": "uuid"
        },
        "events-timespan": {
            "description": "Optional. The timespan over which to retrieve events. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the Odata expression.",
            "type": "string"
        },
        "events-filter": {
            "description": "An expression used to filter the returned events",
            "type": "string"
        },
        "events-search": {
            "description": "A free-text search expression to match for whether a particular event should be returned",
            "type": "string"
        },
        "events-orderby": {
            "description": "A comma-separated list of properties with \\\"asc\\\" (the default) or \\\"desc\\\" to control the order of returned events",
            "type": "string"
        },
        "events-select": {
            "description": "Limits the properties to just those requested on each returned event",
            "type": "string"
        },
        "events-skip": {
            "description": "The number of items to skip over before returning events",
            "type": "integer",
            "format": "int32"
        },
        "events-top": {
            "description": "The number of events to return",
            "type": "integer",
            "format": "int32"
        },
        "events-format": {
            "description": "Format for the returned events",
            "type": "string"
        },
        "events-count": {
            "description": "Request a count of matching items included with the returned events",
            "type": "boolean"
        },
        "events-apply": {
            "description": "An expression used for aggregation over returned events",
            "type": "string"
        },
        "events-results": {
            "description": "An events query result.",
            "type": "object",
            "properties": {
                "value": {
                    "description": "Contents of the events query result.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/events-result-data"
                    }
                }
            }
        },
        "events-result": {
            "description": "An event query result.",
            "type": "object",
            "properties": {
                "value": {
                    "$ref": "#/definitions/events-result-data"
                }
            }
        },
        "events-result-data": {
            "description": "Events query result data.",
            "type": "object",
            "discriminator": "type",
            "properties": {
                "id": {
                    "description": "The unique ID for this event.",
                    "type": "string",
                    "format": "uuid"
                },
                "type": {
                    "description": "The type of event.",
                    "type": "string",
                    "enum": [
                        "trace",
                        "customEvent",
                        "pageView",
                        "browserTiming",
                        "request",
                        "dependency",
                        "exception",
                        "availabilityResult",
                        "performanceCounter",
                        "customMetric"
                    ]
                },
                "count": {
                    "description": "Count of the event",
                    "type": "integer"
                },
                "timestamp": {
                    "description": "Timestamp of the event",
                    "type": "string",
                    "format": "date-time"
                },
                "customDimensions": {
                    "description": "Custom dimensions of the event",
                    "type": "object",
                    "properties": {
                        "additionalProperties": {
                            "type": "object"
                        }
                    }
                },
                "customMeasurements": {
                    "description": "Custom measurements of the event",
                    "type": "object",
                    "properties": {
                        "additionalProperties": {
                            "type": "object"
                        }
                    }
                },
                "operation": {
                    "description": "Operation info of the event",
                    "$ref": "#/definitions/events-operation-info"
                },
                "session": {
                    "description": "Session info of the event",
                    "$ref": "#/definitions/events-session-info"
                },
                "user": {
                    "description": "User info of the event",
                    "$ref": "#/definitions/events-user-info"
                },
                "cloud": {
                    "description": "Cloud info of the event",
                    "$ref": "#/definitions/events-cloud-info"
                },
                "ai": {
                    "description": "AI info of the event",
                    "$ref": "#/definitions/events-ai-info"
                },
                "application": {
                    "description": "Application info of the event",
                    "$ref": "#/definitions/events-application-info"
                },
                "client": {
                    "description": "Client info of the event",
                    "$ref": "#/definitions/events-client-info"
                }
            }
        },
        "events-trace-result": {
            "x-ms-discriminator-value": "trace",
            "description": "A trace result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "trace": {
                            "$ref": "#/definitions/events-trace-info"
                        }
                    }
                }
            ]
        },
        "events-trace-info": {
            "description": "The trace information",
            "type": "object",
            "properties": {
                "message": {
                    "description": "The trace message",
                    "type": "string"
                },
                "severityLevel": {
                    "description": "The trace severity level",
                    "type": "integer"
                }
            }
        },
        "events-customEvent-result": {
            "x-ms-discriminator-value": "customEvent",
            "description": "A custom event result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "customEvent": {
                            "$ref": "#/definitions/events-customEvent-info"
                        }
                    }
                }
            ]
        },
        "events-customEvent-info": {
            "description": "The custom event information",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the custom event",
                    "type": "string"
                }
            }
        },
        "events-pageView-result": {
            "x-ms-discriminator-value": "pageView",
            "description": "A page view result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "pageView": {
                            "$ref": "#/definitions/events-pageView-info"
                        }
                    }
                }
            ]
        },
        "events-pageView-info": {
            "description": "The page view information",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the page",
                    "type": "string"
                },
                "url": {
                    "description": "The URL of the page",
                    "type": "string"
                },
                "duration": {
                    "description": "The duration of the page view",
                    "type": "string"
                },
                "performanceBucket": {
                    "description": "The performance bucket of the page view",
                    "type": "string"
                }
            }
        },
        "events-browserTiming-result": {
            "x-ms-discriminator-value": "browserTiming",
            "description": "A browser timing result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "browserTiming": {
                            "$ref": "#/definitions/events-browserTiming-info"
                        },
                        "clientPerformance": {
                            "$ref": "#/definitions/events-clientPerformance-info"
                        }
                    }
                }
            ]
        },
        "events-browserTiming-info": {
            "description": "The browser timing information",
            "type": "object",
            "properties": {
                "urlPath": {
                    "description": "The path of the URL",
                    "type": "string"
                },
                "urlHost": {
                    "description": "The host of the URL",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the page",
                    "type": "string"
                },
                "url": {
                    "description": "The url of the page",
                    "type": "string"
                },
                "totalDuration": {
                    "description": "The total duration of the load",
                    "type": "integer"
                },
                "performanceBucket": {
                    "description": "The performance bucket of the load",
                    "type": "string"
                },
                "networkDuration": {
                    "description": "The network duration of the load",
                    "type": "integer"
                },
                "sendDuration": {
                    "description": "The send duration of the load",
                    "type": "integer"
                },
                "receiveDuration": {
                    "description": "The receive duration of the load",
                    "type": "integer"
                },
                "processingDuration": {
                    "description": "The processing duration of the load",
                    "type": "integer"
                }
            }
        },
        "events-clientPerformance-info": {
            "description": "Client performance information",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the client performance",
                    "type": "string"
                }
            }
        },
        "events-request-result": {
            "x-ms-discriminator-value": "request",
            "description": "A request result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "request": {
                            "$ref": "#/definitions/events-request-info"
                        }
                    }
                }
            ]
        },
        "events-request-info": {
            "description": "The request info",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the request",
                    "type": "string"
                },
                "url": {
                    "description": "The URL of the request",
                    "type": "string"
                },
                "success": {
                    "description": "Indicates if the request was successful",
                    "type": "string"
                },
                "duration": {
                    "description": "The duration of the request",
                    "type": "number",
                    "format": "float"
                },
                "performanceBucket": {
                    "description": "The performance bucket of the request",
                    "type": "string"
                },
                "resultCode": {
                    "description": "The result code of the request",
                    "type": "string"
                },
                "source": {
                    "description": "The source of the request",
                    "type": "string"
                },
                "id": {
                    "description": "The ID of the request",
                    "type": "string"
                }
            }
        },
        "events-dependency-result": {
            "x-ms-discriminator-value": "dependency",
            "description": "A dependency result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "dependency": {
                            "$ref": "#/definitions/events-dependency-info"
                        }
                    }
                }
            ]
        },
        "events-dependency-info": {
            "description": "The dependency info",
            "type": "object",
            "properties": {
                "target": {
                    "description": "The target of the dependency",
                    "type": "string"
                },
                "data": {
                    "description": "The data of the dependency",
                    "type": "string"
                },
                "success": {
                    "description": "Indicates if the dependency was successful",
                    "type": "string"
                },
                "duration": {
                    "description": "The duration of the dependency",
                    "type": "integer"
                },
                "performanceBucket": {
                    "description": "The performance bucket of the dependency",
                    "type": "string"
                },
                "resultCode": {
                    "description": "The result code of the dependency",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the dependency",
                    "type": "string"
                },
                "name": {
                    "description": "The name of the dependency",
                    "type": "string"
                },
                "id": {
                    "description": "The ID of the dependency",
                    "type": "string"
                }
            }
        },
        "events-exception-result": {
            "x-ms-discriminator-value": "exception",
            "description": "An exception result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "exception": {
                            "$ref": "#/definitions/events-exception-info"
                        }
                    }
                }
            ]
        },
        "events-exception-info": {
            "description": "The exception info",
            "type": "object",
            "properties": {
                "severityLevel": {
                    "description": "The severity level of the exception",
                    "type": "integer"
                },
                "problemId": {
                    "description": "The problem ID of the exception",
                    "type": "string"
                },
                "handledAt": {
                    "description": "Indicates where the exception was handled at",
                    "type": "string"
                },
                "assembly": {
                    "description": "The assembly which threw the exception",
                    "type": "string"
                },
                "method": {
                    "description": "The method that threw the exception",
                    "type": "string"
                },
                "message": {
                    "description": "The message of the exception",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the exception",
                    "type": "string"
                },
                "outerType": {
                    "description": "The outer type of the exception",
                    "type": "string"
                },
                "outerMethod": {
                    "description": "The outer method of the exception",
                    "type": "string"
                },
                "outerAssembly": {
                    "description": "The outer assmebly of the exception",
                    "type": "string"
                },
                "outerMessage": {
                    "description": "The outer message of the exception",
                    "type": "string"
                },
                "innermostType": {
                    "description": "The inner most type of the exception",
                    "type": "string"
                },
                "innermostMessage": {
                    "description": "The inner most message of the exception",
                    "type": "string"
                },
                "innermostMethod": {
                    "description": "The inner most method of the exception",
                    "type": "string"
                },
                "innermostAssembly": {
                    "description": "The inner most assembly of the exception",
                    "type": "string"
                },
                "details": {
                    "description": "The details of the exception",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/events-exception-detail"
                    }
                }
            }
        },
        "events-exception-detail": {
            "description": "Exception details",
            "type": "object",
            "properties": {
                "severityLevel": {
                    "description": "The severity level of the exception detail",
                    "type": "string"
                },
                "outerId": {
                    "description": "The outer ID of the exception detail",
                    "type": "string"
                },
                "message": {
                    "description": "The message of the exception detail",
                    "type": "string"
                },
                "type": {
                    "description": "The type of the exception detail",
                    "type": "string"
                },
                "id": {
                    "description": "The ID of the exception detail",
                    "type": "string"
                },
                "parsedStack": {
                    "description": "The parsed stack",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/events-exception-details-parsedStack"
                    }
                }
            }
        },
        "events-exception-details-parsedStack": {
            "description": "A parsed stack entry",
            "type": "object",
            "properties": {
                "assembly": {
                    "description": "The assembly of the stack entry",
                    "type": "string"
                },
                "method": {
                    "description": "The method of the stack entry",
                    "type": "string"
                },
                "level": {
                    "description": "The level of the stack entry",
                    "type": "integer"
                },
                "line": {
                    "description": "The line of the stack entry",
                    "type": "integer"
                }
            }
        },
        "events-availabilityResult-result": {
            "x-ms-discriminator-value": "availabilityResult",
            "description": "An availability result result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "availabilityResult": {
                            "$ref": "#/definitions/events-availabilityResult-info"
                        }
                    }
                }
            ]
        },
        "events-availabilityResult-info": {
            "description": "The availability result info",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the availability result",
                    "type": "string"
                },
                "success": {
                    "description": "Indicates if the availability result was successful",
                    "type": "string"
                },
                "duration": {
                    "description": "The duration of the availability result",
                    "type": "integer"
                },
                "performanceBucket": {
                    "description": "The performance bucket of the availability result",
                    "type": "string"
                },
                "message": {
                    "description": "The message of the availability result",
                    "type": "string"
                },
                "location": {
                    "description": "The location of the availability result",
                    "type": "string"
                },
                "id": {
                    "description": "The ID of the availability result",
                    "type": "string"
                },
                "size": {
                    "description": "The size of the availability result",
                    "type": "string"
                }
            }
        },
        "events-performanceCounter-result": {
            "x-ms-discriminator-value": "performanceCounter",
            "description": "A performance counter result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "performanceCounter": {
                            "$ref": "#/definitions/events-performanceCounter-info"
                        }
                    }
                }
            ]
        },
        "events-performanceCounter-info": {
            "description": "The performance counter info",
            "type": "object",
            "properties": {
                "value": {
                    "description": "The value of the performance counter",
                    "type": "integer"
                },
                "name": {
                    "description": "The name of the performance counter",
                    "type": "string"
                },
                "category": {
                    "description": "The category of the performance counter",
                    "type": "string"
                },
                "counter": {
                    "description": "The counter of the performance counter",
                    "type": "string"
                },
                "instanceName": {
                    "description": "The instance name of the performance counter",
                    "type": "string"
                },
                "instance": {
                    "description": "The instance of the performance counter",
                    "type": "string"
                }
            }
        },
        "events-customMetric-result": {
            "x-ms-discriminator-value": "customMetric",
            "description": "A custom metric result",
            "allOf": [
                {
                    "$ref": "#/definitions/events-result-data"
                },
                {
                    "type": "object",
                    "properties": {
                        "customMetric": {
                            "$ref": "#/definitions/events-customMetric-info"
                        }
                    }
                }
            ]
        },
        "events-customMetric-info": {
            "description": "The custom metric info",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the custom metric",
                    "type": "string"
                },
                "value": {
                    "description": "The value of the custom metric",
                    "type": "integer"
                },
                "valueSum": {
                    "description": "The sum of the custom metric",
                    "type": "integer"
                },
                "valueCount": {
                    "description": "The count of the custom metric",
                    "type": "integer"
                },
                "valueMin": {
                    "description": "The minimum value of the custom metric",
                    "type": "integer"
                },
                "valueMax": {
                    "description": "The maximum value of the custom metric",
                    "type": "integer"
                },
                "valueStdDev": {
                    "description": "The standard deviation of the custom metric",
                    "type": "integer"
                }
            }
        },
        "events-operation-info": {
            "description": "Operation info for an event result",
            "type": "object",
            "properties": {
                "name": {
                    "description": "Name of the operation",
                    "type": "string"
                },
                "id": {
                    "description": "ID of the operation",
                    "type": "string"
                },
                "parentId": {
                    "description": "Parent ID of the operation",
                    "type": "string"
                },
                "syntheticSource": {
                    "description": "Synthetic source of the operation",
                    "type": "string"
                }
            }
        },
        "events-session-info": {
            "description": "Session info for an event result",
            "type": "object",
            "properties": {
                "id": {
                    "description": "ID of the session",
                    "type": "string"
                }
            }
        },
        "events-user-info": {
            "description": "User info for an event result",
            "type": "object",
            "properties": {
                "id": {
                    "description": "ID of the user",
                    "type": "string"
                },
                "accountId": {
                    "description": "Account ID of the user",
                    "type": "string"
                },
                "authenticatedId": {
                    "description": "Authenticated ID of the user",
                    "type": "string"
                }
            }
        },
        "events-cloud-info": {
            "description": "Cloud info for an event result",
            "type": "object",
            "properties": {
                "roleName": {
                    "description": "Role name of the cloud",
                    "type": "string"
                },
                "roleInstance": {
                    "description": "Role instance of the cloud",
                    "type": "string"
                }
            }
        },
        "events-ai-info": {
            "description": "AI related application info for an event result",
            "type": "object",
            "properties": {
                "iKey": {
                    "description": "iKey of the app",
                    "type": "string"
                },
                "appName": {
                    "description": "Name of the application",
                    "type": "string"
                },
                "appId": {
                    "description": "ID of the application",
                    "type": "string"
                },
                "sdkVersion": {
                    "description": "SDK version of the application",
                    "type": "string"
                }
            }
        },
        "events-application-info": {
            "description": "Application info for an event result",
            "type": "object",
            "properties": {
                "version": {
                    "description": "Version of the application",
                    "type": "string"
                }
            }
        },
        "events-client-info": {
            "description": "Client info for an event result",
            "type": "object",
            "properties": {
                "model": {
                    "description": "Model of the client",
                    "type": "string"
                },
                "os": {
                    "description": "Operating system of the client",
                    "type": "string"
                },
                "type": {
                    "description": "Type of the client",
                    "type": "string"
                },
                "browser": {
                    "description": "Browser of the client",
                    "type": "string"
                },
                "ip": {
                    "description": "IP address of the client",
                    "type": "string"
                },
                "city": {
                    "description": "City of the client",
                    "type": "string"
                },
                "stateOrProvince": {
                    "description": "State or province of the client",
                    "type": "string"
                },
                "countryOrRegion": {
                    "description": "Country or region of the client",
                    "type": "string"
                }
            }
        },
        "query-param": {
            "description": "The Analytics query. Learn more about the [Analytics query syntax](https://azure.microsoft.com/documentation/articles/app-insights-analytics-reference/)",
            "type": "string"
        },
        "query-timespan": {
            "description": "Optional. The timespan over which to query data. This is an ISO8601 time period value.  This timespan is applied in addition to any that are specified in the query expression.",
            "type": "string"
        },
        "applications-param": {
            "description": "Application IDs to include in cross-application queries.",
            "type": "array",
            "collectionFormat": "csv",
            "items": {
                "type": "string"
            }
        },
        "query-body": {
            "description": "Query request body",
            "type": "object",
            "properties": {
                "query": {
                    "$ref": "#/definitions/query-param"
                },
                "timespan": {
                    "$ref": "#/definitions/query-timespan"
                },
                "applications": {
                    "$ref": "#/definitions/applications-param"
                }
            },
            "required": [
                "query"
            ]
        },
        "query-results": {
            "title": "A query response.",
            "description": "Contains the tables, columns & rows resulting from a query.",
            "type": "object",
            "properties": {
                "tables": {
                    "description": "The list of tables, columns and rows.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/table"
                    }
                }
            },
            "required": [
                "tables"
            ]
        },
        "table": {
            "title": "A query response table.",
            "description": "Contains the columns and rows for one table in a query response.",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of the table.",
                    "type": "string"
                },
                "columns": {
                    "description": "The list of columns in this table.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/column"
                    }
                },
                "rows": {
                    "description": "The resulting rows from this query.",
                    "type": "array",
                    "items": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "required": [
                "name",
                "columns",
                "rows"
            ]
        },
        "column": {
            "title": "A table column.",
            "description": "A column in a table.",
            "type": "object",
            "properties": {
                "name": {
                    "description": "The name of this column.",
                    "type": "string"
                },
                "type": {
                    "description": "The data type of this column.",
                    "type": "string"
                }
            }
        },
        "error-detail": {
            "title": "Error details.",
            "type": "object",
            "properties": {
                "code": {
                    "description": "The error's code.",
                    "type": "string"
                },
                "message": {
                    "description": "A human readable error message.",
                    "type": "string"
                },
                "target": {
                    "description": "Indicates which property in the request is responsible for the error.",
                    "type": "string"
                },
                "value": {
                    "description": "Indicates which value in 'target' is responsible for the error.",
                    "type": "string"
                },
                "resources": {
                    "description": "Indicates resources which were responsible for the error.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "additionalProperties": {
                    "type": "object"
                }
            },
            "required": [
                "code",
                "message"
            ]
        },
        "error-info": {
            "title": "The code and message for an error.",
            "type": "object",
            "properties": {
                "code": {
                    "description": "A machine readable error code.",
                    "type": "string"
                },
                "message": {
                    "description": "A human readable error message.",
                    "type": "string"
                },
                "details": {
                    "description": "error details.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/error-detail"
                    }
                },
                "innererror": {
                    "description": "Inner error details if they exist.",
                    "$ref": "#/definitions/error-info"
                },
                "additionalProperties": {
                    "type": "object"
                }
            },
            "required": [
                "code",
                "message"
            ]
        },
        "error-response": {
            "title": "Error details.",
            "description": "Contains details when the response code indicates an error.",
            "type": "object",
            "properties": {
                "error": {
                    "description": "The error details.",
                    "$ref": "#/definitions/error-info"
                }
            },
            "required": [
                "error"
            ]
        }
    }
}