{
  "swagger": "2.0",
  "info": {
    "title": "Open Energy Platform Management Service APIs",
    "version": "2022-04-04-preview",
    "description": "Open Energy Platform Management Service APIs",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "EnergyServices"
    }
  ],
  "paths": {
    "/providers/Microsoft.OpenEnergyPlatform/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OpenEnergyPlatform/checkNameAvailability": {
      "post": {
        "operationId": "EnergyServices_CheckNameAvailability",
        "tags": [
          "EnergyServices"
        ],
        "description": "Checks the name availability of the resource with requested resource name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The CheckAvailability request",
            "required": true,
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/CheckNameAvailabilityResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OpenEnergyPlatform/energyServices": {
      "get": {
        "operationId": "EnergyServices_ListBySubscription",
        "tags": [
          "EnergyServices"
        ],
        "description": "Lists a collection of oep resources under the given Azure Subscription ID.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnergyServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices": {
      "get": {
        "operationId": "EnergyServices_ListByResourceGroup",
        "tags": [
          "EnergyServices"
        ],
        "description": "Returns list of oep resources.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnergyServiceListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}": {
      "get": {
        "operationId": "EnergyServices_Get",
        "tags": [
          "EnergyServices"
        ],
        "description": "Returns oep resource for a given name.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "EnergyServices_Create",
        "tags": [
          "EnergyServices"
        ],
        "description": "Method that gets called if subscribed for ResourceCreationBegin trigger.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]*$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnergyService"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'EnergyService' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            }
          },
          "201": {
            "description": "Resource 'EnergyService' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "EnergyServices_Update",
        "tags": [
          "EnergyServices"
        ],
        "description": "Updates the oep resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]*$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnergyResourceUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/EnergyService"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "EnergyServices_Delete",
        "tags": [
          "EnergyServices"
        ],
        "description": "Deletes oep resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/addPartition": {
      "post": {
        "operationId": "EnergyServices_AddPartition",
        "tags": [
          "EnergyServices"
        ],
        "description": "Method that gets called if new partition is to be added in a resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "add partition action payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataPartitionAddOrRemoveRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The data partitions will be created asynchronously",
            "schema": {
              "$ref": "#/definitions/DataPartitionAddOrRemoveRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/listPartitions": {
      "post": {
        "operationId": "EnergyServices_ListPartitions",
        "tags": [
          "EnergyServices"
        ],
        "description": "Method that gets called when list of partitions is requested.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The content of the action request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListPartitionsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/DataPartitionsListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OpenEnergyPlatform/energyServices/{resourceName}/removePartition": {
      "post": {
        "operationId": "EnergyServices_RemovePartition",
        "tags": [
          "EnergyServices"
        ],
        "description": "Method that gets called if new partition is to be removed from a resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "resourceName",
            "in": "path",
            "description": "The resource name.",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z][a-zA-Z0-9-]*$"
          },
          {
            "name": "body",
            "in": "body",
            "description": "remove partition action payload",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataPartitionAddOrRemoveRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The data partitions will be deleted asynchronously",
            "schema": {
              "$ref": "#/definitions/DataPartitionAddOrRemoveRequest"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DataPartitionAddOrRemoveRequest": {
      "type": "object",
      "description": "Defines the partition add or remove action properties.",
      "properties": {
        "name": {
          "$ref": "#/definitions/DataPartitionNames",
          "description": "The data partition name."
        }
      }
    },
    "DataPartitionNames": {
      "type": "object",
      "description": "The data partition name.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the data partition."
        }
      }
    },
    "DataPartitionProperties": {
      "type": "object",
      "description": "Defines the properties of an individual data partition.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the data partition."
        },
        "provisioningState": {
          "type": "string",
          "description": "Provisioning state of the data partition."
        }
      }
    },
    "DataPartitionsListResult": {
      "type": "object",
      "description": "List of data partitions.",
      "properties": {
        "dataPartitionInfo": {
          "type": "array",
          "description": "List of data partitions along with their properties in a given OEP resource.",
          "items": {
            "$ref": "#/definitions/DataPartitionProperties"
          }
        }
      }
    },
    "EncryptionProperties": {
      "type": "object",
      "description": "Customer-managed key encryption settings.",
      "properties": {
        "keyVaultProperties": {
          "$ref": "#/definitions/KeyVaultProperties",
          "description": "Key Vault properties for customer-managed keys."
        }
      }
    },
    "EnergyResourceUpdate": {
      "type": "object",
      "description": "The resource model definition used for updating a tracked ARM resource.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "identity": {
          "$ref": "#/definitions/ManagedServiceIdentity",
          "description": "Managed identity settings."
        },
        "properties": {
          "$ref": "#/definitions/EnergyServicePropertiesPatch",
          "description": "Resource properties to patch."
        }
      }
    },
    "EnergyService": {
      "type": "object",
      "description": "Energy service resource.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EnergyServiceProperties",
          "description": "The resource-specific properties for this resource."
        },
        "identity": {
          "$ref": "#/definitions/ManagedServiceIdentity",
          "description": "The managed service identity of the resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "EnergyServiceListResult": {
      "type": "object",
      "description": "The response of a EnergyService list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The EnergyService items on this page",
          "items": {
            "$ref": "#/definitions/EnergyService"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "EnergyServiceProperties": {
      "type": "object",
      "description": "The properties of an Energy service resource.",
      "properties": {
        "dnsName": {
          "type": "string",
          "description": "The DNS name of the energy service resource.",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource.",
          "readOnly": true
        },
        "authAppId": {
          "type": "string",
          "description": "The authentication application ID."
        },
        "dataPartitionNames": {
          "type": "array",
          "description": "The list of data partition names.",
          "items": {
            "$ref": "#/definitions/DataPartitionNames"
          }
        },
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "Encryption settings for the resource."
        },
        "sku": {
          "$ref": "#/definitions/EnergyServiceSku",
          "description": "The SKU of the resource."
        }
      }
    },
    "EnergyServicePropertiesPatch": {
      "type": "object",
      "description": "Patchable properties for EnergyService.",
      "properties": {
        "encryption": {
          "$ref": "#/definitions/EncryptionProperties",
          "description": "Encryption settings to patch."
        }
      }
    },
    "EnergyServiceSku": {
      "type": "object",
      "description": "The SKU of the energy service resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The SKU name."
        }
      },
      "required": [
        "name"
      ]
    },
    "KeyVaultProperties": {
      "type": "object",
      "description": "Key Vault properties for encryption.",
      "properties": {
        "keyName": {
          "type": "string",
          "description": "The name of the Key Vault key."
        },
        "keyVaultUri": {
          "type": "string",
          "description": "The URI of the Key Vault."
        },
        "userIdentity": {
          "type": "string",
          "description": "The user assigned identity resource ID to use for Key Vault access."
        }
      }
    },
    "ListPartitionsRequest": {
      "type": "object",
      "description": "Empty request body for list partitions action."
    },
    "ManagedIdentityType": {
      "type": "string",
      "description": "The type of managed identity used by the resource.",
      "enum": [
        "SystemAssigned",
        "UserAssigned",
        "SystemAssigned,UserAssigned"
      ],
      "x-ms-enum": {
        "name": "ManagedIdentityType",
        "modelAsString": true,
        "values": [
          {
            "name": "SystemAssigned",
            "value": "SystemAssigned",
            "description": "System assigned managed identity."
          },
          {
            "name": "UserAssigned",
            "value": "UserAssigned",
            "description": "User assigned managed identity."
          },
          {
            "name": "SystemAssigned,UserAssigned",
            "value": "SystemAssigned,UserAssigned",
            "description": "Both system and user assigned managed identities."
          }
        ]
      }
    },
    "ManagedServiceIdentity": {
      "type": "object",
      "description": "Managed service identity (system assigned and/or user assigned identities).",
      "properties": {
        "type": {
          "$ref": "#/definitions/ManagedIdentityType",
          "description": "The type of managed identity assigned to the resource."
        },
        "principalId": {
          "type": "string",
          "description": "The service principal ID of the system assigned identity.",
          "readOnly": true
        },
        "tenantId": {
          "type": "string",
          "description": "The tenant ID of the system assigned identity.",
          "readOnly": true
        },
        "userAssignedIdentities": {
          "type": "object",
          "description": "The set of user assigned identities associated with the resource.",
          "additionalProperties": {
            "$ref": "#/definitions/UserAssignedIdentity"
          }
        }
      },
      "required": [
        "type"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state of the resource.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Creating",
        "Deleting",
        "Updating",
        "Unknown"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created successfully."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          },
          {
            "name": "Creating",
            "value": "Creating",
            "description": "Resource is being created."
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "Resource is being deleted."
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Resource is being updated."
          },
          {
            "name": "Unknown",
            "value": "Unknown",
            "description": "Resource state is unknown."
          }
        ]
      },
      "readOnly": true
    },
    "UserAssignedIdentity": {
      "type": "object",
      "description": "User assigned identity properties.",
      "properties": {
        "principalId": {
          "type": "string",
          "description": "The principal ID of the assigned identity.",
          "readOnly": true
        },
        "clientId": {
          "type": "string",
          "description": "The client ID of the assigned identity.",
          "readOnly": true
        }
      }
    }
  },
  "parameters": {}
}
