{
  "swagger": "2.0",
  "info": {
    "version": "2023-03-01-preview",
    "title": "aadcustomsecurityattributesdiagnosticsettings",
    "description": "Azure Active Directory Custom Security Logs Client.",
    "x-ms-code-generation-settings": {
      "name": "aadcustomsecurityattributesdiagnosticsettingsClient"
    }
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.AadCustomSecurityAttributesDiagnosticSettings/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Gets the operations": {
            "$ref": "./examples/listOperations.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "description": "Operation to return the list of available operations.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to get list of AadCustomSecurityAttributesDiagnosticSettings operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error, failed to get list of AadCustomSecurityAttributesDiagnosticSettings operations.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/providers/Microsoft.AadCustomSecurityAttributesDiagnosticSettings/diagnosticSettings": {
      "get": {
        "tags": [
          "DiagnosticSettings"
        ],
        "operationId": "DiagnosticSettings_List",
        "description": "Gets the active diagnostic settings list for AadCustomSecurityAttributesDiagnosticSettings.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error. Request for AadCustomSecurityAttributesDiagnosticSettings diagnostic settings has failed",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get more information about AadCustomSecurityAttributesDiagnosticSettings diagnostic settings",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResourceCollection"
            }
          }
        },
        "x-ms-examples": {
          "Gets the diagnostic settings": {
            "$ref": "./examples/listDiagnosticSettings.json"
          }
        }
      }
    },
    "/providers/Microsoft.AadCustomSecurityAttributesDiagnosticSettings/diagnosticSettings/{diagnosticSettingName}": {
      "get": {
        "tags": [
          "DiagnosticSettings"
        ],
        "operationId": "DiagnosticSettings_Get",
        "description": "Gets the active diagnostic setting for AadCustomSecurityAttributesDiagnosticSettings.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DiagnosticSettingName"
          }
        ],
        "responses": {
          "default": {
            "description": "Error. Request for AadCustomSecurityAttributesDiagnosticSettings diagnostic setting has failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get more information about diagnostic setting",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResource"
            }
          }
        },
        "x-ms-examples": {
          "Gets the diagnostic setting": {
            "$ref": "./examples/getDiagnosticSetting.json"
          }
        }
      },
      "put": {
        "tags": [
          "DiagnosticSettings"
        ],
        "operationId": "DiagnosticSettings_CreateOrUpdate",
        "x-ms-examples": {
          "BatchAccountDelete": {
            "$ref": "./examples/createOrUpdateDiagnosticSetting.json"
          }
        },
        "description": "Creates or updates diagnostic settings for AadCustomSecurityAttributesDiagnosticSettings.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResource"
            },
            "description": "Parameters supplied to the operation."
          },
          {
            "$ref": "#/parameters/DiagnosticSettingName"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful request to create AadCustomSecurityAttributesDiagnosticSettings diagnostic setting.",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsResource"
            }
          },
          "default": {
            "description": "Error. The request to create diagnostic setting has failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "DiagnosticSettings"
        ],
        "operationId": "DiagnosticSettings_Delete",
        "description": "Deletes existing diagnostic setting for AadCustomSecurityAttributesDiagnosticSettings.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/DiagnosticSettingName"
          }
        ],
        "responses": {
          "default": {
            "description": "Error. The request to delete named diagnostic setting has failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to remove a diagnostic setting"
          },
          "204": {
            "description": "No content - successful request to remove a diagnostic setting"
          }
        },
        "x-ms-examples": {
          "Deletes the diagnostic setting": {
            "$ref": "./examples/deleteDiagnosticSetting.json"
          }
        }
      }
    },
    "/providers/Microsoft.AadCustomSecurityAttributesDiagnosticSettings/diagnosticSettingsCategories": {
      "get": {
        "tags": [
          "DiagnosticSettingsCategories"
        ],
        "operationId": "DiagnosticSettingsCategory_List",
        "description": "Lists the diagnostic settings categories for AadCustomSecurityAttributesDiagnosticSettings.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "default": {
            "description": "Error. The request to view diagnostic setting categories has failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          },
          "200": {
            "description": "Successful request to get list of diagnostic setting categories",
            "schema": {
              "$ref": "#/definitions/DiagnosticSettingsCategoryResourceCollection"
            }
          }
        },
        "x-ms-examples": {
          "Gets the diagnostic setting categories": {
            "$ref": "./examples/listDiagnosticSettingsCategories.json"
          }
        }
      }
    }
  },
  "definitions": {
    "RetentionPolicy": {
      "properties": {
        "enabled": {
          "type": "string",
          "description": "A value indicating whether the retention policy is enabled.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "name": "Enabled",
            "modelAsString": true
          }
        },
        "days": {
          "type": "integer",
          "format": "int32",
          "minimum": 0,
          "description": "The number of days for the retention in days. A value of 0 will retain the events indefinitely."
        }
      },
      "required": [
        "enabled",
        "days"
      ],
      "description": "Specifies the retention policy for the log.",
      "type": "object"
    },
    "LogSettings": {
      "properties": {
        "category": {
          "enum": [
            "AuditLogs",
            "SignInLogs"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "category",
            "modelAsString": true
          },
          "description": "Name of a Diagnostic Log category for a resource type this setting is applied to. To obtain the list of Diagnostic Log categories for a resource, first perform a GET diagnostic settings operation."
        },
        "enabled": {
          "type": "string",
          "description": "A value indicating whether this log is enabled.",
          "enum": [
            "true",
            "false"
          ],
          "x-ms-enum": {
            "name": "Enabled",
            "modelAsString": true
          }
        },
        "retentionPolicy": {
          "$ref": "#/definitions/RetentionPolicy",
          "description": "The retention policy for this log."
        }
      },
      "required": [
        "enabled"
      ],
      "description": "Part of MultiTenantDiagnosticSettings. Specifies the settings for a particular log.",
      "type": "object"
    },
    "DiagnosticSettings": {
      "properties": {
        "storageAccountId": {
          "type": "string",
          "description": "The resource ID of the storage account to which you would like to send Diagnostic Logs."
        },
        "serviceBusRuleId": {
          "type": "string",
          "description": "The service bus rule Id of the diagnostic setting. This is here to maintain backwards compatibility."
        },
        "workspaceId": {
          "type": "string",
          "description": "The workspace ID (resource ID of a Log Analytics workspace) for a Log Analytics workspace to which you would like to send Diagnostic Logs. Example: /subscriptions/4b9e8510-67ab-4e9a-95a9-e2f1e570ea9c/resourceGroups/insights-integration/providers/Microsoft.OperationalInsights/workspaces/viruela2"
        },
        "eventHubAuthorizationRuleId": {
          "type": "string",
          "description": "The resource Id for the event hub authorization rule."
        },
        "eventHubName": {
          "type": "string",
          "description": "The name of the event hub. If none is specified, the default event hub will be selected."
        },
        "logs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LogSettings"
          },
          "description": "The list of logs settings.",
          "x-ms-identifiers": [
            "category"
          ]
        }
      },
      "description": "The diagnostic settings.",
      "type": "object"
    },
    "DiagnosticSettingsResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/DiagnosticSettings",
          "description": "Properties of a Diagnostic Settings Resource."
        }
      },
      "description": "The diagnostic setting resource."
    },
    "DiagnosticSettingsResourceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiagnosticSettingsResource"
          },
          "description": "The collection of diagnostic settings resources."
        }
      },
      "description": "Represents a collection of alert rule resources.",
      "type": "object"
    },
    "DiagnosticSettingsCategory": {
      "properties": {
        "categoryType": {
          "enum": [
            "Logs"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "categoryType",
            "modelAsString": true
          },
          "x-nullable": false,
          "description": "The type of the diagnostic settings category."
        }
      },
      "description": "The diagnostic settings Category.",
      "type": "object"
    },
    "DiagnosticSettingsCategoryResource": {
      "type": "object",
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DiagnosticSettingsCategory",
          "description": "The properties of a Diagnostic Settings Category."
        }
      },
      "description": "The diagnostic settings category resource."
    },
    "DiagnosticSettingsCategoryResourceCollection": {
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DiagnosticSettingsCategoryResource"
          },
          "description": "The collection of diagnostic settings category resources."
        }
      },
      "description": "Represents a collection of diagnostic setting category resources.",
      "type": "object"
    }
  },
  "parameters": {
    "DiagnosticSettingName": {
      "name": "diagnosticSettingName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the diagnostic setting.",
      "x-ms-parameter-location": "method"
    }
  }
}
