{
    "swagger": "2.0",
    "info": {
        "title": "HDInsightManagementClient",
        "description": "The HDInsight Management Client.",
        "version": "2015-03-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [{
        "azure_auth": [
            "user_impersonation"
        ]
    }],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/providers/Microsoft.HDInsight/locations/{location}/capabilities": {
            "get": {
                "tags": [
                    "Regions"
                ],
                "operationId": "Location_GetCapabilities",
                "description": "Gets the capabilities for the specified location.",
                "x-ms-examples": {
                    "Get the subscription capabilities for specific location": {
                        "$ref": "./examples/GetHDInsightCapabilities.json"
                    }
                },
                "parameters": [{
                        "name": "location",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The location to get capabilities for."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "$ref": "#/definitions/capabilitiesResult"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "versionSpec": {
            "description": "The version properties.",
            "properties": {
                "friendlyName": {
                    "type": "string",
                    "description": "The friendly name"
                },
                "displayName": {
                    "type": "string",
                    "description": "The display name"
                },
                "isDefault": {
                    "type": "string",
                    "description": "Whether or not the version is the default version."
                },
                "componentVersions": {
                    "type": "object",
                    "description": "The component version property.",
                    "additionalProperties": {
                        "type": "string"
                    }
                }
            }
        },
        "versionsCapability": {
            "description": "The version capability.",
            "properties": {
                "available": {
                    "description": "The list of version capabilities.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/versionSpec"
                    }
                }
            }
        },
        "regionsCapability": {
            "description": "The regions capability.",
            "properties": {
                "available": {
                    "description": "The list of region capabilities.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "vmSizesCapability": {
            "description": "The virtual machine sizes capability.",
            "properties": {
                "available": {
                    "description": "The list of virtual machine size capabilities.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "vmSizeCompatibilityFilter": {
            "description": "The virtual machine type compatibility filter.",
            "properties": {
                "FilterMode": {
                    "description": "The mode for the filter.",
                    "type": "string"
                },
                "Regions": {
                    "description": "The list of regions.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "ClusterFlavors": {
                    "description": "The list of cluster types available.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "NodeTypes": {
                    "description": "The list of node types.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "ClusterVersions": {
                    "description": "The list of cluster versions.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "vmsizes": {
                    "description": "The list of virtual machine sizes.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "regionalQuotaCapability": {
            "description": "The regional quota capacity.",
            "properties": {
                "region_name": {
                    "description": "The region name.",
                    "type": "string"
                },
                "cores_used": {
                    "description": "The number of cores used in the region.",
                    "type": "integer",
                    "format": "int64"
                },
                "cores_available": {
                    "description": "The number of courses available in the region.",
                    "type": "integer",
                    "format": "int64"
                }
            }
        },
        "quotaCapability": {
            "description": "The regional quota capability.",
            "properties": {
                "regionalQuotas": {
                    "description": "The list of region quota capabilities.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/regionalQuotaCapability"
                    }
                }
            }
        },
        "capabilitiesResult": {
            "description": "The Get Capabilities operation response.",
            "properties": {
                "versions": {
                    "description": "The version capability.",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/versionsCapability"
                    }
                },
                "regions": {
                    "description": "The virtual machine size compatibilty features.",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/regionsCapability"
                    }
                },
                "vmSizes": {
                    "description": "The virtual machine sizes.",
                    "type": "object",
                    "additionalProperties": {
                        "$ref": "#/definitions/vmSizesCapability"
                    }
                },
                "vmSize_filters": {
                    "description": "The virtual machine size compatibilty filters.",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/vmSizeCompatibilityFilter"
                    }
                },
                "features": {
                    "description": "The capabilty features.",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "quota": {
                    "description": "The quota capability.",
                    "$ref": "#/definitions/quotaCapability"
                }
            }
        }
    },
    "parameters": {
        "SubscriptionIdParameter": {
            "name": "subscriptionId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
        },
        "ApiVersionParameter": {
            "name": "api-version",
            "in": "query",
            "required": true,
            "type": "string",
            "description": "The HDInsight client API Version."
        }
    }
}