{
    "swagger": "2.0",
    "info": {
        "title": "HDInsightManagementClient",
        "description": "The HDInsight Management Client.",
        "version": "2015-03-01-preview"
    },
    "host": "management.azure.com",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [{
        "azure_auth": [
            "user_impersonation"
        ]
    }],
    "securityDefinitions": {
        "azure_auth": {
            "type": "oauth2",
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
            "flow": "implicit",
            "description": "Azure Active Directory OAuth2 Flow",
            "scopes": {
                "user_impersonation": "impersonate your user account"
            }
        }
    },
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HDInsight/clusters/{clusterName}/configurations/{configurationName}": {
            "post": {
                "tags": [
                    "Configurations"
                ],
                "operationId": "Configurations_UpdateHTTPSettings",
                "description": "Configures the HTTP settings on the specified cluster.",
                "x-ms-examples": {
                    "Enable HTTP connectivity": {
                        "$ref": "./examples/ChangeHttpConnectivityEnable.json"
                    },
                    "Disable HTTP connectivity": {
                        "$ref": "./examples/ChangeHttpConnectivityDisable.json"
                    }
                },
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "name": "configurationName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The constant for configuration type of gateway.",
                        "enum": [
                            "gateway"
                        ],
                        "x-ms-enum": {
                            "name": "ConfigurationName",
                            "modelAsString": false
                        }
                    },
                    {
                        "name": "parameters",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/HttpConnectivitySettings"
                        },
                        "description": "The name of the resource group."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok response definition"
                    },
                    "202": {
                        "description": "Accepted response definition"
                    },
                    "204": {
                        "description": "No content response definition"
                    }
                },
                "x-ms-long-running-operation": true
            },
            "get": {
                "tags": [
                    "Configurations"
                ],
                "operationId": "Configurations_Get",
                "description": "The configuration object for the specified cluster.",
                "x-ms-examples": {
                    "Get HTTP settings": {
                        "$ref": "./examples/GetHttpConnectivity.json"
                    }
                },
                "parameters": [{
                        "name": "resourceGroupName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the resource group."
                    },
                    {
                        "name": "clusterName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The name of the cluster."
                    },
                    {
                        "name": "configurationName",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "description": "The constant for configuration type of gateway."
                    },
                    {
                        "$ref": "#/parameters/ApiVersionParameter"
                    },
                    {
                        "$ref": "#/parameters/SubscriptionIdParameter"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK response definition.",
                        "schema": {
                            "type": "object",
							"additionalProperties": {
								"type": "string"
							}
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "SshPublicKey": {
            "description": "The SSH public key for the cluster nodes.",
            "properties": {
                "certificateData": {
                    "type": "string",
                    "description": "The certificate for SSH."
                }
            }
        },
        "SshProfile": {
            "description": "The list of SSH public keys.",
            "properties": {
                "publicKeys": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/SshPublicKey"
                    },
                    "description": "The list of SSH public keys."
                }
            }
        },
        "LinuxOperatingSystemProfile": {
            "description": "The ssh username, password, and ssh public key.",
            "properties": {
                "username": {
                    "type": "string",
                    "description": "The username."
                },
                "password": {
                    "type": "string",
                    "description": "The password."
                },
                "sshProfile": {
                    "$ref": "#/definitions/SshProfile",
                    "description": "The SSH profile."
                }
            }
        },
        "OsProfile": {
            "description": "The Linux operation systems profile.",
            "properties": {
                "linuxOperatingSystemProfile": {
                    "$ref": "#/definitions/LinuxOperatingSystemProfile",
                    "description": "The Linux OS profile."
                }
            }
        },
        "HttpConnectivitySettings": {
            "properties": {
                "restAuthCredential.isEnabled": {
                    "x-ms-client-name": "enabledCredential",
                    "type": "string",
                    "description": "Whether or not the HTTP based authorization is enabled.",
                    "enum": [
                        "true",
                        "false"
                    ]
                },
                "restAuthCredential.username": {
                    "x-ms-client-name": "username",
                    "type": "string",
                    "description": "The HTTP username."
                },
                "restAuthCredential.password": {
                    "x-ms-client-name": "password",
                    "type": "string",
                    "format": "password",
                    "description": "The HTTP user password."
                }
            },
            "description": "The payload for a Configure HTTP settings request."
        }
    },
	"parameters": {
		"SubscriptionIdParameter": {
			"name": "subscriptionId",
			"in": "path",
			"required": true,
			"type": "string",
			"description": "The subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call."
		},
		"ApiVersionParameter": {
			"name": "api-version",
			"in": "query",
			"required": true,
			"type": "string",
			"description": "The HDInsight client API Version."
		}
	}
}