{
 "swagger": "2.0",
 "host": "management.azure.com",
 "info": {
  "version": "2017-08-31-preview",
  "title": "Management Groups API",
  "description": "The Azure Management Groups API enables consolidation of multiple \nsubscriptions/resources into an organizational hierarchy and centrally \nmanage access control, policies, alerting and reporting for those resources.\n"
 },
 "schemes": [
  "https"
 ],
 "consumes": [
  "application/json"
 ],
 "produces": [
  "application/json"
 ],
 "tags": [
  {
   "name": "ManagementGroups",
   "description": "A Management Group is a customer defined scope (grouping mechanism) that \nprovides access control (authorization), policy management and reporting. \nManagement Groups are organized in a strictly tree-based hierarchy.\n"
  }
 ],
 "paths": {
  "/providers/Microsoft.Management/managementGroups": {
   "get": {
    "tags": [
     "ManagementGroups"
    ],
    "description": "List management groups for the authenticated user.\n",
    "parameters": [
     {
      "$ref": "#/parameters/ApiVersionParameter"
     },
     {
      "$ref": "#/parameters/PageTokenParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ManagementGroupListResult"
      }
     },
     "default": {
      "description": "Error",
      "schema": {
       "$ref": "#/definitions/ErrorResponse"
      }
     }
    },
    "x-ms-pageable": {
     "nextLinkName": "nextLink"
    },
    "x-ms-examples": {
      "GetManagementGroups": {
         "$ref": "./examples/GetGroups.json"
       }
     }
   }
  },
  "/providers/Microsoft.Management/managementGroups/{groupId}": {
   "get": {
    "tags": [
     "ManagementGroups"
    ],
    "description": "Get the details of the management group.\n",
    "parameters": [
     {
      "$ref": "#/parameters/GroupIdParameter"
     },
     {
      "$ref": "#/parameters/ApiVersionParameter"
     },
     {
      "$ref": "#/parameters/ExpandParameter"
     },
     {
      "$ref": "#/parameters/RecurseParameter"
     }
    ],
    "responses": {
     "200": {
      "description": "OK",
      "schema": {
       "$ref": "#/definitions/ManagementGroupWithHierarchy"
      }
     },
     "default": {
      "description": "Error",
      "schema": {
       "$ref": "#/definitions/ErrorResponse"
      }
     },
     "x-ms-examples": {
      "GetManagementGroup": {
         "$ref": "./examples/GetManagementGroup.json"
       },
       "GetManagementGroupWithExpand": {
        "$ref": "./examples/GetManagementGroupWithExpand.json"
      },
      "GetManagementGroupsWithExpandAndResurse": {
        "$ref": "./examples/GetManagementGroupWithExpandAndRecurse.json"
      }
     }
    }
   }
  }
 },
 "definitions": {
  "ErrorResponse": {
   "description": "The error object.",
   "properties": {
    "error": {
     "$ref": "#/definitions/ErrorDetails"
    }
   }
  },
  "ErrorDetails": {
   "description": "The details of the error.",
   "properties": {
    "code": {
     "description": "One of a server-defined set of error codes.",
     "type": "string",
     "example": "SampleErrorCode"
    },
    "message": {
     "description": "A human-readable representation of the error.",
     "type": "string",
     "example": "Sample error description"
    },
    "target": {
     "description": "(Optional) The target of the error.",
     "type": "string",
     "example": null
    }
   }
  },
  "ManagementGroupListResult": {
   "description": "The result of listing management groups.",
   "properties": {
    "value": {
     "description": "The list of management groups.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/ManagementGroupInfo"
     }
    },
    "nextLink": {
     "description": "The link (URL) to the next page of results.",
     "type": "string",
     "format": "URL",
     "example": null
    }
   }
  },
  "ManagementGroupInfo": {
   "description": "The management group.",
   "properties": {
    "id": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups/{groupId}",
     "description": "The ID of the management group.",
     "example": "/providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000"
    },
    "type": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups",
     "description": "The type of the resource.",
     "example": "/providers/Microsoft.Management/managementGroups"
    },
    "name": {
     "type": "string",
     "format": "GUID",
     "description": "The name of the management group.",
     "example": "20000000-0000-0000-0000-000000000000"
    },
    "properties": {
     "$ref": "#/definitions/ManagementGroupInfoProperties"
    }
   }
  },
  "ManagementGroupInfoProperties": {
   "description": "The generic properties of a management group.",
   "type": "object",
   "properties": {
    "tenantId": {
     "type": "string",
     "format": "GUID",
     "description": "The AAD Tenant ID associated with the management group.",
     "example": "10000000-0000-0000-0000-000000000000"
    },
    "displayName": {
     "type": "string",
     "description": "The friendly name of the management group.",
     "example": "Sample display name"
    }
   }
  },
  "ManagementGroup": {
   "description": "The management group details.",
   "properties": {
    "id": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups/{groupId}",
     "description": "The ID of the management group.",
     "example": "/providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000"
    },
    "type": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups",
     "description": "The type of the resource.",
     "example": "/providers/Microsoft.Management/managementGroups"
    },
    "name": {
     "type": "string",
     "format": "GUID",
     "description": "The name of the management group.",
     "example": "20000000-0000-0000-0000-000000000000"
    },
    "properties": {
     "$ref": "#/definitions/ManagementGroupProperties"
    }
   }
  },
  "ManagementGroupProperties": {
   "description": "The generic properties of a management group.",
   "type": "object",
   "properties": {
    "tenantId": {
     "type": "string",
     "format": "GUID",
     "description": "The AAD Tenant ID associated with the management group.",
     "example": "10000000-0000-0000-0000-000000000000"
    },
    "displayName": {
     "type": "string",
     "description": "The friendly name of the management group.",
     "example": "Sample display name"
    },
    "details": {
     "$ref": "#/definitions/ManagementGroupDetailsProperties"
    }
   }
  },
  "ManagementGroupDetailsProperties": {
   "description": "The details properties of a management group.",
   "type": "object",
   "properties": {
    "version": {
     "type": "number",
     "format": "uint32",
     "description": "The version number of the object."
    },
    "updatedTime": {
     "type": "string",
     "format": "date-time",
     "description": "The date and time when this object was last updated."
    },
    "updatedBy": {
     "type": "string",
     "description": "The identity of the principal or process that updated the object.",
     "example": "Sample identity"
    },
    "parent": {
     "$ref": "#/definitions/ParentGroupInfo"
    },
    "managementGroupType": {
     "$ref": "#/definitions/ManagementGroupType"
    }
   }
  },
  "ParentGroupInfo": {
   "description": "(Optional) The ID of the parent management group.",
   "properties": {
    "parentId": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups/{groupId}",
     "description": "The ID of the parent management group.",
     "example": "/providers/Microsoft.Management/managementGroups/30000000-0000-0000-0000-000000000000"
    },
    "displayName": {
     "type": "string",
     "description": "The friendly name of the management group.",
     "example": "Sample display name"
    }
   }
  },
  "ManagementGroupType": {
   "type": "string",
   "enum": [
    "Enrollment",
    "Department",
    "Account",
    "Subscription"
   ],
   "description": "(Optional) The type of the management group.",
   "example": "Account"
  },
  "ManagementGroupWithChildren": {
   "description": "The management group details.",
   "properties": {
    "id": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups/{groupId}",
     "description": "The ID of the management group.",
     "example": "/providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000"
    },
    "type": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups",
     "description": "The type of the resource.",
     "example": "/providers/Microsoft.Management/managementGroups"
    },
    "name": {
     "type": "string",
     "format": "GUID",
     "description": "The name of the management group.",
     "example": "20000000-0000-0000-0000-000000000000"
    },
    "properties": {
     "$ref": "#/definitions/ManagementGroupPropertiesWithChildren"
    }
   }
  },
  "ManagementGroupPropertiesWithChildren": {
   "description": "The generic properties of a management group.",
   "type": "object",
   "properties": {
    "tenantId": {
     "type": "string",
     "format": "GUID",
     "description": "The AAD Tenant ID associated with the management group.",
     "example": "10000000-0000-0000-0000-000000000000"
    },
    "displayName": {
     "type": "string",
     "description": "The friendly name of the management group.",
     "example": "Sample display name"
    },
    "details": {
     "$ref": "#/definitions/ManagementGroupDetailsProperties"
    },
    "children": {
     "description": "The list of children.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/ManagementGroupChildInfo"
     }
    }
   }
  },
  "ManagementGroupChildInfo": {
   "description": "The unique identifier (ID) of a management group.",
   "properties": {
    "childType": {
     "$ref": "#/definitions/ManagementGroupType"
    },
    "childId": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups/{groupId} or /subscriptions/{subscriptionId}",
     "description": "The ID of the child resource (management group or subscription).",
     "example": "/providers/Microsoft.Management/managementGroups/40000000-0000-0000-0000-000000000000"
    },
    "displayName": {
     "type": "string",
     "description": "The friendly name of the child resource.",
     "example": "Sample display name"
    },
    "tenantId": {
     "type": "string",
     "format": "GUID",
     "description": "(Optional) The AAD Tenant ID associated with the child resource.",
     "example": null
    }
   }
  },
  "ManagementGroupWithHierarchy": {
   "description": "The management group details.",
   "properties": {
    "id": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups/{groupId}",
     "description": "The ID of the management group.",
     "example": "/providers/Microsoft.Management/managementGroups/20000000-0000-0000-0000-000000000000"
    },
    "type": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups",
     "description": "The type of the resource.",
     "example": "/providers/Microsoft.Management/managementGroups"
    },
    "name": {
     "type": "string",
     "format": "GUID",
     "description": "The name of the management group.",
     "example": "20000000-0000-0000-0000-000000000000"
    },
    "properties": {
     "$ref": "#/definitions/ManagementGroupPropertiesWithHierarchy"
    }
   }
  },
  "ManagementGroupPropertiesWithHierarchy": {
   "description": "The generic properties of a management group.",
   "type": "object",
   "properties": {
    "tenantId": {
     "type": "string",
     "format": "GUID",
     "description": "The AAD Tenant ID associated with the management group.",
     "example": "10000000-0000-0000-0000-000000000000"
    },
    "displayName": {
     "type": "string",
     "description": "The friendly name of the management group.",
     "example": "Sample display name"
    },
    "details": {
     "$ref": "#/definitions/ManagementGroupDetailsProperties"
    },
    "children": {
     "description": "The list of children.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/ManagementGroupRecursiveChildInfo"
     }
    }
   }
  },
  "ManagementGroupRecursiveChildInfo": {
   "description": "The unique identifier (ID) of a management group.",
   "properties": {
    "childType": {
     "$ref": "#/definitions/ManagementGroupType"
    },
    "childId": {
     "type": "string",
     "format": "/providers/Microsoft.Management/managementGroups/{groupId} or /subscriptions/{subscriptionId}",
     "description": "The ID of the child resource (management group or subscription).",
     "example": "/providers/Microsoft.Management/managementGroups/40000000-0000-0000-0000-000000000000"
    },
    "displayName": {
     "type": "string",
     "description": "The friendly name of the child resource.",
     "example": "Sample display name"
    },
    "tenantId": {
     "type": "string",
     "format": "GUID",
     "description": "(Optional) The AAD Tenant ID associated with the child resource.",
     "example": null
    },
    "children": {
     "description": "The list of children.",
     "type": "array",
     "items": {
      "$ref": "#/definitions/ManagementGroupRecursiveChildInfo"
     }
    }
   }
  }
 },
 "parameters": {
  "GroupIdParameter": {
   "name": "groupId",
   "in": "path",
   "required": true,
   "type": "string",
   "format": "GUID",
   "description": "Management Group ID."
  },
  "ApiVersionParameter": {
   "name": "api-version",
   "in": "query",
   "required": true,
   "type": "string",
   "description": "Version of the API to be used with the client request. The current version is 2017-08-31-preview."
  },
  "PageTokenParameter": {
   "name": "token",
   "in": "query",
   "required": false,
   "type": "string",
   "description": "Page continuation token is only used if a previous operation returned a partial result. \nIf a previous response contains a nextLink element, the value of the nextLink element will include a token parameter that specifies a starting point to use for subsequent calls.\n"
  },
  "ExpandParameter": {
   "name": "expand",
   "in": "query",
   "required": false,
   "type": "string",
   "enum": [
    "children"
   ],
   "description": "The $expand=children query string parameter allows clients to request inclusion of children in the response payload."
  },
  "RecurseParameter": {
   "name": "recurse",
   "in": "query",
   "required": false,
   "type": "boolean",
   "description": "The $recurse=true query string parameter allows clients to request inclusion of entire hierarchy in the response payload."
  }
 }
}