{
  "swagger": "2.0",
  "info": {
    "title": "Chaos Management",
    "version": "2024-03-22-preview",
    "description": "Azure Chaos Resource Provider REST API"
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "Impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{parentProviderNamespace}/{parentResourceType}/{parentResourceName}/providers/Microsoft.Chaos/targets/{targetName}/capabilities": {
      "get": {
        "operationId": "Capabilities_List",
        "tags": [
          "Capabilities"
        ],
        "description": "Get a list of Capability resources that extend a Target resource..",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/common.json#/parameters/parentProviderNamespace"
          },
          {
            "$ref": "./types/common.json#/parameters/parentResourceType"
          },
          {
            "$ref": "./types/common.json#/parameters/parentResourceName"
          },
          {
            "$ref": "./types/common.json#/parameters/targetName"
          },
          {
            "$ref": "./types/common.json#/parameters/continuationToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Capability resources returned if request was successful.",
            "schema": {
              "$ref": "./types/capabilities.json#/definitions/capabilityListResult"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List all Capabilities that extend a virtual machine Target resource.": {
            "$ref": "./examples/ListCapabilities.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{parentProviderNamespace}/{parentResourceType}/{parentResourceName}/providers/Microsoft.Chaos/targets/{targetName}/capabilities/{capabilityName}": {
      "get": {
        "operationId": "Capabilities_Get",
        "tags": [
          "Capabilities"
        ],
        "description": "Get a Capability resource that extends a Target resource.",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/common.json#/parameters/parentProviderNamespace"
          },
          {
            "$ref": "./types/common.json#/parameters/parentResourceType"
          },
          {
            "$ref": "./types/common.json#/parameters/parentResourceName"
          },
          {
            "$ref": "./types/common.json#/parameters/targetName"
          },
          {
            "$ref": "./types/common.json#/parameters/capabilityName"
          }
        ],
        "responses": {
          "200": {
            "description": "Capability resource returned if request was successful.",
            "schema": {
              "$ref": "./types/capabilities.json#/definitions/capability"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get a Capability that extends a virtual machine Target resource.": {
            "$ref": "./examples/GetCapability.json"
          }
        }
      },
      "put": {
        "operationId": "Capabilities_CreateOrUpdate",
        "tags": [
          "Capabilities"
        ],
        "description": "Create or update a Capability resource that extends a Target resource.",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/common.json#/parameters/parentProviderNamespace"
          },
          {
            "$ref": "./types/common.json#/parameters/parentResourceType"
          },
          {
            "$ref": "./types/common.json#/parameters/parentResourceName"
          },
          {
            "$ref": "./types/common.json#/parameters/targetName"
          },
          {
            "$ref": "./types/common.json#/parameters/capabilityName"
          },
          {
            "name": "capability",
            "in": "body",
            "description": "Capability resource to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "./types/capabilities.json#/definitions/capability"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Capability resource returned if request was successful.",
            "schema": {
              "$ref": "./types/capabilities.json#/definitions/capability"
            }
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create/update a Capability that extends a virtual machine Target resource.": {
            "$ref": "./examples/CreateUpdateCapability.json"
          }
        }
      },
      "delete": {
        "operationId": "Capabilities_Delete",
        "tags": [
          "Capabilities"
        ],
        "description": "Delete a Capability that extends a Target resource.",
        "parameters": [
          {
            "$ref": "./types/common.json#/parameters/apiVersion"
          },
          {
            "$ref": "./types/common.json#/parameters/subscriptionId"
          },
          {
            "$ref": "./types/common.json#/parameters/resourceGroupName"
          },
          {
            "$ref": "./types/common.json#/parameters/parentProviderNamespace"
          },
          {
            "$ref": "./types/common.json#/parameters/parentResourceType"
          },
          {
            "$ref": "./types/common.json#/parameters/parentResourceName"
          },
          {
            "$ref": "./types/common.json#/parameters/targetName"
          },
          {
            "$ref": "./types/common.json#/parameters/capabilityName"
          }
        ],
        "responses": {
          "200": {
            "description": "Capability resource deletion was successful."
          },
          "204": {
            "description": "Capability resource deletion was successful."
          },
          "default": {
            "description": "Error response returned if request was unsuccessful.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete a Capability that extends a virtual machine Target resource.": {
            "$ref": "./examples/DeleteCapability.json"
          }
        }
      }
    }
  }
}