{
  "swagger": "2.0",
  "info": {
    "version": "2023-02-09-preview",
    "title": "McppClient",
    "description": "MCPP is the newest program set to track partners, measure their success, and qualify and reward them as Solution Partners across seven different designation groups.  The McppClient provides an interface to create an manage MCPP related purchases programatically"
  },
  "host": "management.azure.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "security": [
    {
      "azure_auth": ["user_impersonation"]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.CloudPartnerProgramMembership/operations": {
      "get": {
          "tags": [
              "Operations"
          ],
          "description": "Lists all of the available RP operations.",
          "operationId": "Operations_List",
          "x-ms-examples": {
            "getOperations": {
              "$ref": "./examples/GetOperations.json"
            }
          },
          "parameters": [{
              "$ref": "#/parameters/apiVersionParameter"
          }],
          "responses": {
              "200": {
                  "description": "OK. The request has succeeded.",
                  "schema": {
                      "$ref": "#/definitions/OperationListResult"
                  }
              },
              "default": {
                  "description": "Resource Provider error response describing why the operation failed.",
                  "schema": {
                      "$ref": "#/definitions/ErrorResponse"
                  }
              }
          },
          "x-ms-pageable": {
              "nextLinkName": "nextLink"
          }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudPartnerProgramMembership/cloudPartnerProgramMemberships": {
      "get": {
        "tags": ["CloudPartnerProgramMemberships"],
        "operationId": "CloudPartnerProgramMemberships_List",
        "x-ms-examples": {
          "BatchAccountDelete": { "$ref": "./examples/GetMcppPurchaseDetailsList.json" }
        },
        "description": "Fetch list of CloudPartnerProgramMembership purchase details",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK. The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/CloudPartnerProgramMembershipPurchaseDetailsList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CloudPartnerProgramMembership/cloudPartnerProgramMemberships/{ResourceName}": {
      "get": {
        "tags": ["CloudPartnerProgramMemberships"],
        "operationId": "CloudPartnerProgramMemberships_GetPurchaseDetails",
        "x-ms-examples": {
          "BatchAccountDelete": { "$ref": "./examples/GetMcppPurchaseDetails.json" }
        },
        "description": "The operation to fetch purchase details of a CloudPartnerProgramMembership offer",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Purchase details of the CloudPartnerProgramMembership resource.",
            "schema": {
              "$ref": "#/definitions/McppPurchaseDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": ["CloudPartnerProgramMemberships"],
        "operationId": "CloudPartnerProgramMemberships_CreatePurchase",
        "x-ms-examples": {
          "BatchAccountDelete": { "$ref": "./examples/CreateMcppPurchase.json" }
        },
        "description": "Create a CloudPartnerProgramMembership purchase",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ResourceNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/ProductCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List the CloudPartnerProgramMembership purchase details .",
            "schema": {
              "$ref": "#/definitions/McppPurchaseDetails"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "McppPurchaseDetails": {
      "description": "Get purchase details of a resource",
      "properties": {
        "orderNo": {
          "type": "string",
          "description": "order number for the purchase"
        },
        "orderDateTime": {
          "type": "string",
          "description": "date time at which the order was placed"
        },
        "status": {
          "type": "string",
          "description": "purchase status or the order"
        },
        "operationDetails":{
          "type": "object",
          "description": "operation details related to the purchase"
        }
      }
    },
    "CloudPartnerProgramMembershipPurchaseDetailsList": {
      "description": "Get purchase details of a resource",
      "properties": {
        "value": {
          "description": "The list of McppPurchaseDetails.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/McppPurchaseDetails"
          }
        }
      }
    },
    "OperationListResult": {
      "description": "Result of the request to list operations. It contains a list of operations and a URL link to get the next set of results.",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Operation"
          },
          "description": "List of operations."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of operation list results if there are any."
        }
      }
    },
    "Operation": {
      "description": "REST API operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "Operation name: {provider}/{resource}/{operation}",
          "type": "string"
        },
        "isDataAction": {
          "description": "Indicates whether the operation is a data action",
          "type": "boolean"
        },
        "display": {
          "description": "The object that represents the operation.",
          "type": "object",
          "properties": {
            "provider": {
              "description": "Service provider: Microsoft.Subscription",
              "type": "string"
            },
            "resource": {
              "description": "Resource on which the operation is performed: Profile, endpoint, etc.",
              "type": "string"
            },
            "operation": {
              "description": "Operation type: Read, write, delete, etc.",
              "type": "string"
            },
            "description": {
              "description": "Friendly description for the operation",
              "type": "string"
            }
          }
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details on why the resource could not be fetched"
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Error code",
          "type": "string"
        },
        "message": {
          "description": "Description of the error.",
          "type": "string"
        }
      }
    }
  },
  "parameters": {
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group.",
      "x-ms-parameter-location": "method"
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request."
    },
    "ResourceNameParameter": {
      "name": "resourceName",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The name of the resource."
    },
    "ProductCodeParameter": {
      "name": "productCode",
      "in": "body",
      "required": true,
      "type": "string",
      "description": "The product upn that needs to be purchased"
    }
  }
}
