{
  "swagger": "2.0",
  "info": {
    "title": "Azure API for OracleDiscovery",
    "description": "The Microsoft.OracleDiscovery Rest API spec.",
    "version": "2022-11-22-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}": {
      "get": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "OracleSites_Get",
        "summary": "Implements OracleSites GET method.",
        "description": "Gets the OracleSites resource.",
        "x-ms-examples": {
          "OracleSites_Get": {
            "$ref": "./examples/OracleSites_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "OracleSites_CreateOrUpdate",
        "summary": "Implements OracleSites PUT method.",
        "description": "Puts the OracleSites resource.",
        "x-ms-examples": {
          "OracleSites_Create": {
            "$ref": "./examples/OracleSites_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The machines to add to the assessment",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created OracleSites resource",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "201": {
            "description": "Creates the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        }
      },
      "delete": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "OracleSites_Delete",
        "summary": "Implements OracleSites DELETE method.",
        "description": "Deletes the OracleSites resource.",
        "x-ms-examples": {
          "OracleSites_Delete": {
            "$ref": "./examples/OracleSites_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the OracleSites resource."
          },
          "204": {
            "description": "The OracleSites resource is already deleted or not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "OracleSites_Update",
        "summary": "Implements OracleSites PATCH method.",
        "description": "Patch the OracleSites resource.",
        "x-ms-examples": {
          "OracleSites_Update": {
            "$ref": "./examples/OracleSites_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Clouds patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleSitesResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "201": {
            "description": "Updates the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/Refresh": {
      "post": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "OracleSites_TriggerRefresh",
        "summary": "Implements Refresh POST method.",
        "description": "Trigger Refresh Refresh action",
        "x-ms-examples": {
          "OracleSites_TriggerRefresh": {
            "$ref": "./examples/OracleSites_TriggerRefresh.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Trigger refresh success"
          },
          "202": {
            "description": "Trigger refresh success"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites": {
      "get": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "OracleSites_ListByResourceGroup",
        "summary": "Implements OracleSites GET method in a resource group.",
        "description": "Lits the OracleSites resource in a resource group.",
        "x-ms-examples": {
          "OracleSites_ListByResourceGroup": {
            "$ref": "./examples/OracleSites_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleSiteList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OracleDiscovery/OracleSites": {
      "get": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "OracleSites_ListBySubscription",
        "summary": "Implements OracleSites GET method in a subscription.",
        "description": "Lists the OracleSites resource in a subscription.",
        "x-ms-examples": {
          "OracleSites_ListBySubscription": {
            "$ref": "./examples/OracleSites_ListBySubscription.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleSiteList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.OracleDiscovery/Operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Returns list of all operations.",
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/OracleServers/{serverName}": {
      "get": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "OracleServers_Get",
        "summary": "Implements OracleServers GET method.",
        "description": "Gets the OracleServers resource.",
        "x-ms-examples": {
          "OracleServers_Get": {
            "$ref": "./examples/OracleServers_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "OracleServers_CreateOrUpdate",
        "summary": "Implements OracleServers PUT method.",
        "description": "Puts the OracleServers resource.",
        "x-ms-examples": {
          "OracleServers_Create": {
            "$ref": "./examples/OracleServers_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The machines to add to the assessment",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created the OracleServer resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "201": {
            "description": "Creates the OracleServer resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "OracleServers_Delete",
        "summary": "Implements OracleServers DELETE method.",
        "description": "Deletes the OracleServers resource.",
        "x-ms-examples": {
          "OracleSites_Delete": {
            "$ref": "./examples/OracleServers_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the OracleSites resource."
          },
          "204": {
            "description": "The OracleServer resource is already deleted or not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "OracleServers_Update",
        "summary": "Implements OracleSites PATCH method.",
        "description": "Patch the OracleSites resource.",
        "x-ms-examples": {
          "OracleServers_Update": {
            "$ref": "./examples/OracleServers_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "serverName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Clouds patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleServerResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the OracleServers resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "201": {
            "description": "Updates the OracleServers resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/OracleServers": {
      "get": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "OracleServers_ListBySite",
        "summary": "Implements OracleSites GET method.",
        "description": "Lists the OracleSites resource in OracleSites.",
        "x-ms-examples": {
          "OracleServers_ListBySite": {
            "$ref": "./examples/OracleServers_ListBySite.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleServerList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/OracleDatabases/{databaseName}": {
      "get": {
        "tags": [
          "OracleDatabases"
        ],
        "operationId": "OracleDatabases_Get",
        "summary": "Implements OracleDatabases GET method.",
        "description": "Gets the OracleDatabases resource.",
        "x-ms-examples": {
          "OracleDatabases_Get": {
            "$ref": "./examples/OracleDatabases_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Database"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "OracleDatabases"
        ],
        "operationId": "OracleDatabases_CreateOrUpdate",
        "summary": "Implements OracleDatabases PUT method.",
        "description": "Puts the OracleDatabases resource.",
        "x-ms-examples": {
          "OracleDatabases_Create": {
            "$ref": "./examples/OracleDatabases_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Database"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The discovered databases to be assessed",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created OracleDatabases resource",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OracleDatabases"
        ],
        "operationId": "OracleDatabases_Delete",
        "summary": "Implements OracleDatabases DELETE method.",
        "description": "Deletes the OracleDatabases resource.",
        "x-ms-examples": {
          "OracleSites_Delete": {
            "$ref": "./examples/OracleDatabases_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the OracleDatabases resource."
          },
          "204": {
            "description": "The OracleDatabase resource is already deleted or not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "OracleDatabases"
        ],
        "operationId": "OracleDatabases_Update",
        "summary": "Implements OracleDatabases PATCH method.",
        "description": "Patch the OracleDatabases resource.",
        "x-ms-examples": {
          "OracleDatabases_Update": {
            "$ref": "./examples/OracleDatabases_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "databaseName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Clouds patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OracleDatabaseResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the OracleDatabases resource.",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "201": {
            "description": "Updates the OracleDatabases resource.",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/OracleDatabases": {
      "get": {
        "tags": [
          "OracleDatabases"
        ],
        "operationId": "OracleDatabases_ListBySite",
        "summary": "Implements OracleSites GET method.",
        "description": "Lists the OracleSites resource in OracleSites.",
        "x-ms-examples": {
          "OracleDatabases_ListBySite": {
            "$ref": "./examples/OracleDatabases_ListBySite.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleDatabaseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/Summaries/{summaryName}": {
      "get": {
        "tags": [
          "Summaries"
        ],
        "operationId": "Summaries_Get",
        "summary": "Implements Summaries GET method.",
        "description": "Gets the Summaries resource.",
        "x-ms-examples": {
          "Summaries_Get": {
            "$ref": "./examples/Summaries_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "summaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of summary"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Summaries resource.",
            "schema": {
              "$ref": "#/definitions/Summary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Summaries"
        ],
        "operationId": "Summaries_CreateOrUpdate",
        "summary": "Implements Summaries PUT method.",
        "description": "Puts the Summaries resource.",
        "x-ms-examples": {
          "Summaries_Create": {
            "$ref": "./examples/Summaries_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "summaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Summary"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The Summary of discovered OracleSite",
            "schema": {
              "$ref": "#/definitions/Summary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created Summaries resource",
            "schema": {
              "$ref": "#/definitions/Summary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Summaries"
        ],
        "operationId": "Summaries_Delete",
        "summary": "Implements Summaries DELETE method.",
        "description": "Deletes the Summaries resource.",
        "x-ms-examples": {
          "Summaries_Delete": {
            "$ref": "./examples/Summaries_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "summaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the Summaries resource."
          },
          "204": {
            "description": "The Summaries resource is already deleted or not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Summaries"
        ],
        "operationId": "Summaries_Update",
        "summary": "Implements Summaries PATCH method.",
        "description": "Patch the Summaries resource.",
        "x-ms-examples": {
          "Summaries_Update": {
            "$ref": "./examples/Summaries_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "summaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Clouds patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SummariesResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the Summaries resource.",
            "schema": {
              "$ref": "#/definitions/Summary"
            }
          },
          "201": {
            "description": "Updates the Summaries resource.",
            "schema": {
              "$ref": "#/definitions/Summary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/Summaries": {
      "get": {
        "tags": [
          "Summaries"
        ],
        "operationId": "Summaries_ListBySite",
        "summary": "Implements Summaries GET method.",
        "description": "Lists the Summaries resource in OracleSites.",
        "x-ms-examples": {
          "Summaries_ListBySite": {
            "$ref": "./examples/Summaries_ListBySite.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Summaries resource.",
            "schema": {
              "$ref": "#/definitions/SummaryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/ErrorSummaries/{errorSummaryName}": {
      "get": {
        "tags": [
          "ErrorSummaries"
        ],
        "operationId": "ErrorSummaries_Get",
        "summary": "Implements ErrorSummaries GET method.",
        "description": "Gets the ErrorSummaries resource.",
        "x-ms-examples": {
          "ErrorSummaries_Get": {
            "$ref": "./examples/ErrorSummaries_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "errorSummaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Database"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the ErrorSummaries resource.",
            "schema": {
              "$ref": "#/definitions/ErrorSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ErrorSummaries"
        ],
        "operationId": "ErrorSummaries_CreateOrUpdate",
        "summary": "Implements ErrorSummaries PUT method.",
        "description": "Puts the ErrorSummaries resource.",
        "x-ms-examples": {
          "ErrorSummaries_Create": {
            "$ref": "./examples/ErrorSummaries_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "errorSummaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Database"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "The ErrorSummaries of discovered OracleSites",
            "schema": {
              "$ref": "#/definitions/ErrorSummary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created ErrorSummaries resource",
            "schema": {
              "$ref": "#/definitions/ErrorSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ErrorSummaries"
        ],
        "operationId": "ErrorSummaries_Delete",
        "summary": "Implements ErrorSummaries DELETE method.",
        "description": "Deletes the ErrorSummaries resource.",
        "x-ms-examples": {
          "ErrorSummaries_Delete": {
            "$ref": "./examples/ErrorSummaries_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "errorSummaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the ErrorSummaries resource."
          },
          "204": {
            "description": "The ErrorSummaries resource is already deleted or not found"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ErrorSummaries"
        ],
        "operationId": "ErrorSummaries_Update",
        "summary": "Implements ErrorSummaries PATCH method.",
        "description": "Patch the ErrorSummaries resource.",
        "x-ms-examples": {
          "ErrorSummaries_Update": {
            "$ref": "./examples/ErrorSummaries_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "name": "errorSummaryName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Server"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Clouds patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ErrorSummariesResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated the ErrorSummaries resource.",
            "schema": {
              "$ref": "#/definitions/ErrorSummary"
            }
          },
          "201": {
            "description": "Updates the ErrorSummaries resource.",
            "schema": {
              "$ref": "#/definitions/ErrorSummary"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/ErrorSummaries": {
      "get": {
        "tags": [
          "ErrorSummaries"
        ],
        "operationId": "ErrorSummaries_ListBySite",
        "summary": "Implements ErrorSummaries GET method.",
        "description": "Lists the ErrorSummaries resource in OracleSites.",
        "x-ms-examples": {
          "ErrorSummaries_ListBySite": {
            "$ref": "./examples/ErrorSummaries_ListBySite.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "siteName",
            "in": "path",
            "required": true,
            "type": "string",
            "pattern": "^[A-Za-z][A-Za-z0-9]*$",
            "minLength": 3,
            "maxLength": 63,
            "description": "The name of Site"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v4/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the ErrorSummaries resource.",
            "schema": {
              "$ref": "#/definitions/ErrorSummaryList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ExtendedLocation": {
      "type": "object",
      "description": "The extended location for off-azure resources.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "OracleSiteList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/OracleSite"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "SummaryList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/Summary"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "ErrorSummaryList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/ErrorSummary"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "OracleDatabaseList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/OracleDatabase"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "OracleServerList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/OracleServer"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "OracleSite": {
      "type": "object",
      "x-ms-azure-resource": true,
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/OracleSiteProperties"
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/TrackedResource"
        }
      ],
      "required": [
        "extendedLocation",
        "properties"
      ],
      "description": "The samples resource definition."
    },
    "OracleSiteProperties": {
      "type": "object",
      "description": "Oracle Site properties",
      "properties": {
        "masterSiteId": {
          "type": "string",
          "description": "The mapped Master Site Id."
        },
        "migrateProjectId": {
          "type": "string",
          "description": "The mapped Master Site Id."
        },
        "provisioningState": {
          "description": "Gets or sets the provisioning state.",
          "type": "string",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      },
      "required": [
        "masterSiteId",
        "migrateProjectId"
      ]
    },
    "OracleServer": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/OracleServerProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "properties"
      ],
      "description": "The samples resource definition."
    },
    "OracleDatabase": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/OracleDatabaseProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "properties"
      ],
      "description": "The samples resource definition."
    },
    "Summary": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/SummariesProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "properties"
      ],
      "description": "The samples resource definition."
    },
    "ErrorSummary": {
      "type": "object",
      "x-ms-azure-resource": true,
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v4/types.json#/definitions/ProxyResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "description": "Resource properties.",
          "$ref": "#/definitions/ErrorSummariesProperties"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        }
      },
      "required": [
        "properties"
      ],
      "description": "The samples resource definition."
    },
    "OracleDatabaseProperties": {
      "type": "object",
      "description": "Oracle Database properties",
      "properties": {
        "type": {
          "type": "string",
          "description": "The of Oracle server Standalone/PDB."
        },
        "statusCode": {
          "type": "string",
          "description": "The discovery status code success/failure/in-progress."
        },
        "dataSize": {
          "type": "string",
          "description": "The data size of database in GB."
        },
        "logSize": {
          "type": "string",
          "description": "The log data size of database in GB."
        },
        "tempSize": {
          "type": "string",
          "description": "The temp data size of database in GB."
        },
        "databaseStatus": {
          "type": "string",
          "description": "The status of database online/offline."
        },
        "oracleServers": {
          "description": "List of the OracleServer ARM Id.",
          "type": "array",
          "items": {
            "description": "Oracle Server ARM Id",
            "type": "string"
          }
        },
        "dbConfig": {
          "$ref": "#/definitions/DbConfigModel",
          "description": "The Database Config."
        },
        "errors": {
          "description": "The list of errors.",
          "type": "array",
          "items": {
            "description": "The error",
            "$ref": "#/definitions/Error"
          }
        },
        "provisioningState": {
          "description": "Gets or sets the provisioning state.",
          "type": "string",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "SummariesProperties": {
      "type": "object",
      "description": "Summaries properties",
      "properties": {
        "discoveredServers": {
          "type": "string",
          "description": "The of number discovered OracleServers."
        },
        "discoveredDatabases": {
          "type": "string",
          "description": "The of number discovered OracleDatabases."
        },
        "errors": {
          "description": "The list of errors.",
          "type": "array",
          "items": {
            "description": "The error",
            "$ref": "#/definitions/Error"
          }
        },
        "provisioningState": {
          "description": "Gets or sets the provisioning state.",
          "type": "string",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "ErrorSummariesProperties": {
      "type": "object",
      "description": "Oracle Database properties",
      "properties": {
        "discoveryScopeErrorSummaries": {
          "description": "The list of ErrorSummary.",
          "type": "array",
          "items": {
            "description": "The error",
            "$ref": "#/definitions/ErrorSummaryModel"
          }
        },
        "errors": {
          "description": "The list of errors.",
          "type": "array",
          "items": {
            "description": "The error",
            "$ref": "#/definitions/Error"
          }
        },
        "provisioningState": {
          "description": "Gets or sets the provisioning state.",
          "type": "string",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      }
    },
    "OracleServerProperties": {
      "type": "object",
      "description": "Oracle Server properties",
      "properties": {
        "type": {
          "type": "string",
          "description": "The of Oracle server NON-CDB/CDB."
        },
        "clusterType": {
          "type": "string",
          "description": "The of Oracle server Standalone/HA/RAC."
        },
        "pdbCount": {
          "type": "string",
          "description": "The count of PDB in case type is CDB."
        },
        "hostName": {
          "type": "string",
          "description": "The DB  IP/host name."
        },
        "serviceId": {
          "description": "List of the DB ServiceId (sid).",
          "type": "array",
          "items": {
            "description": "Oracle Server ARM Id",
            "type": "string"
          }
        },
        "machineId": {
          "description": "List of the discovery Machine Ids.",
          "type": "array",
          "items": {
            "description": "discovery Machine Id",
            "type": "string"
          }
        },
        "portNumber": {
          "description": "List of the DB port number.",
          "type": "array",
          "items": {
            "description": "Oracle Server ARM Id",
            "type": "string"
          }
        },
        "oracleDatabases": {
          "description": "List of the OracleDatabase ARM Id.",
          "type": "array",
          "items": {
            "description": "Oracle Server ARM Id",
            "type": "string"
          }
        },
        "versionInfo": {
          "$ref": "#/definitions/VersionInfoModel",
          "description": "The Database Config."
        },
        "serverConfig": {
          "$ref": "#/definitions/ServerConfigModel",
          "description": "The Database Config."
        },
        "errors": {
          "description": "The list of errors.",
          "type": "array",
          "items": {
            "description": "The error",
            "$ref": "#/definitions/Error"
          }
        },
        "provisioningState": {
          "description": "Gets or sets the provisioning state.",
          "type": "string",
          "enum": [
            "Unknown",
            "Succeeded",
            "Failed",
            "Canceled",
            "Creating",
            "Deleting",
            "Updating"
          ],
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        }
      },
      "required": [
        "serviceId",
        "portNumber",
        "hostName"
      ]
    },
    "DbConfigModel": {
      "type": "object",
      "description": "DB  model for creating machine to assess resources",
      "properties": {
        "testProperties": {
          "type": "string",
          "description": "Description of this operation."
        }
      }
    },
    "ErrorSummaryModel": {
      "type": "object",
      "description": "ErrorSummary  model.",
      "properties": {
        "affectedResourceType": {
          "type": "string",
          "description": "The type of Object."
        },
        "affectedObjectsCount": {
          "type": "string",
          "description": "The count."
        }
      }
    },
    "Error": {
      "type": "object",
      "description": "Defines the error.",
      "properties": {
        "id": {
          "description": "The error ID.",
          "type": "string"
        },
        "code": {
          "description": "The error code.",
          "type": "string"
        },
        "possibleCause": {
          "description": "The error possible cause.",
          "type": "string"
        },
        "recommendedAction": {
          "description": "Gets description of the checkpoint.",
          "type": "string"
        },
        "severity": {
          "description": "Gets description of the checkpoint.",
          "type": "string"
        }
      }
    },
    "VersionInfoModel": {
      "type": "object",
      "description": "Bulk model for creating machine to assess resources",
      "properties": {
        "edition": {
          "type": "string",
          "description": "The DB edition."
        },
        "version": {
          "type": "string",
          "description": "The DB version name."
        }
      }
    },
    "ServerConfigModel": {
      "type": "object",
      "description": "The DB server configuration",
      "properties": {
        "sampleProp": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string"
        }
      }
    },
    "OracleServerResourcePatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OracleServerProperties",
          "description": "The OracleServer resource definition."
        }
      },
      "description": "Object containing tags updates for patch operations."
    },
    "OracleSitesResourcePatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OracleSiteProperties",
          "description": "The OracleSites resource definition."
        }
      },
      "description": "Object containing tags updates for patch operations."
    },
    "OracleDatabaseResourcePatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/OracleDatabaseProperties",
          "description": "The OracleDatabases resource definition."
        }
      },
      "description": "Object containing tags updates for patch operations."
    },
    "SummariesResourcePatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/SummariesProperties",
          "description": "The Summaries resource definition."
        }
      },
      "description": "Object containing tags updates for patch operations."
    },
    "ErrorSummariesResourcePatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ErrorSummariesProperties",
          "description": "The ErrorSummaries resource definition."
        }
      },
      "description": "Object containing tags updates for patch operations."
    }
  }
}
