{
  "swagger": "2.0",
  "info": {
    "title": "Azure API for OracleDiscovery",
    "description": "The Microsoft.OracleDiscovery Rest API spec.",
    "version": "2022-11-22-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}": {
      "get": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "oracleSite_get",
        "summary": "Implements OracleSites GET method.",
        "description": "Gets the OracleSites resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "oracleSite_create",
        "summary": "Implements OracleSites PUT method.",
        "description": "Puts the OracleSites resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The machines to add to the assessment",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Created OracleSites resource",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "201": {
            "description": "Created OracleSites resource",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "oracleSite_delete",
        "summary": "Implements OracleSites DELETE method.",
        "description": "Deletes the OracleSites resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the OracleSites resource."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "oracleSite_patch",
        "summary": "Implements OracleSites PATCH method.",
        "description": "Patchs the OracleSites resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Clouds patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleSite"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites": {
      "get": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "oracleSite_listbyresourcegroupname",
        "summary": "Implements OracleSites GET method in a resource group.",
        "description": "Lits the OracleSites resource in a resource group.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/SitesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.OracleDiscovery/OracleSites": {
      "get": {
        "tags": [
          "OracleSites"
        ],
        "operationId": "oracleSite_listbysubscriptioname",
        "summary": "Implements OracleSites GET method in a subscription.",
        "description": "Lists the OracleSites resource in a subscription.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/SitesList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/providers/Microsoft.OracleDiscovery/Operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Returns list of all operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Describe the result of a successful operation.",
            "schema": {
              "$ref": "#/definitions/ResourceProviderOperationList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/OracleServers/{serverName}": {
      "get": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "oracleServer_get",
        "summary": "Implements OracleServers GET method.",
        "description": "Gets the OracleServers resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "oracleServer_put",
        "summary": "Implements OracleServers PUT method.",
        "description": "Puts the OracleServers resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "properties",
            "in": "body",
            "required": true,
            "description": "The machines to add to the assessment",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "201": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "oracleServer_delete",
        "summary": "Implements OracleServers DELETE method.",
        "description": "Deletes the OracleServers resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletes the OracleSites resource."
          },
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "patch": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "oracleServer_patch",
        "summary": "Implements OracleSites PATCH method.",
        "description": "Patchs the OracleSites resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/ServerNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "name": "body",
            "description": "Clouds patch payload.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResourcePatch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleServer"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/OracleServers": {
      "get": {
        "tags": [
          "OracleServers"
        ],
        "operationId": "oracleServers_listbysitename",
        "summary": "Implements OracleSites GET method.",
        "description": "Lists the OracleSites resource in OracleSites.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleServerList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/OracleDatabases/{databaseName}": {
      "get": {
        "tags": [
          "OracleDatabases"
        ],
        "operationId": "oracleDatabase_get",
        "summary": "Implements OracleDatabases GET method.",
        "description": "Gets the OracleDatabases resource.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleDatabase"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OracleDiscovery/OracleSites/{siteName}/OracleDatabases": {
      "get": {
        "tags": [
          "OracleDatabases"
        ],
        "operationId": "oracleDatabase_listbysitename",
        "summary": "Implements OracleSites GET method.",
        "description": "Lists the OracleSites resource in OracleSites.",
        "parameters": [
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/SiteNameParameter"
          },
          {
            "$ref": "#/parameters/DatabaseNameParameter"
          },
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the OracleSites resource.",
            "schema": {
              "$ref": "#/definitions/OracleDatabaseList"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ExtendedLocation": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "The extended location type."
        },
        "name": {
          "type": "string",
          "description": "The extended location name."
        }
      }
    },
    "SitesList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/OracleSite"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "OracleDatabaseList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/OracleDatabase"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "OracleServerList": {
      "type": "object",
      "description": "List of Sites.",
      "properties": {
        "value": {
          "type": "array",
          "description": "List of Sites.",
          "items": {
            "$ref": "#/definitions/OracleServerProperties"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Url to follow for getting next page of resources."
        }
      }
    },
    "OracleSite": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OracleSiteProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "required": [
        "extendedLocation",
        "properties"
      ],
      "description": "The samples resource definition."
    },
    "OracleSiteProperties": {
      "type": "object",
      "description": "Oracle Site properties",
      "properties": {
        "masterSiteId": {
          "type": "string",
          "description": "The mapped Master Site Id."
        },
        "migrateProjectId": {
          "type": "string",
          "description": "The mapped Master Site Id."
        }
      },
      "required": [
        "masterSiteId",
        "migrateProjectId"
      ]
    },
    "OracleServer": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OracleServerProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "required": [
        "extendedLocation",
        "properties"
      ],
      "description": "The samples resource definition."
    },
    "OracleDatabase": {
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/OracleDatabaseProperties"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Id"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Name"
        },
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "Resource Type"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags"
        },
        "extendedLocation": {
          "$ref": "#/definitions/ExtendedLocation",
          "description": "The extended location."
        }
      },
      "required": [
        "extendedLocation",
        "properties"
      ],
      "description": "The samples resource definition."
    },
    "OracleDatabaseProperties": {
      "type": "object",
      "description": "Oracle Database properties",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The of Oracle server Standalone/PDB."
        },
        "statusCode": {
          "type": "string",
          "readOnly": true,
          "description": "The discovery status code success/failure/in-progress."
        },
        "dataSize": {
          "type": "string",
          "readOnly": true,
          "description": "The data size of database in GB."
        },
        "logSize": {
          "type": "string",
          "readOnly": true,
          "description": "The log data size of database in GB."
        },
        "tempSize": {
          "type": "string",
          "readOnly": true,
          "description": "The temp data size of database in GB."
        },
        "databaseStatus": {
          "type": "string",
          "readOnly": true,
          "description": "The status of database online/offline."
        },
        "oracleServes": {
          "description": "List of the OracleServer ARM Id.",
          "type": "array",
          "items": {
            "description": "Oracle Server ARM Id",
            "type": "string",
            "readOnly": true
          }
        },
        "dbConfig": {
          "$ref": "#/definitions/DbConfigModel",
          "description": "The Database Config."
        },
        "errors": {
          "description": "The list of errors.",
          "type": "array",
          "items": {
            "description": "The error",
            "$ref": "#/definitions/Error",
            "readOnly": true
          }
        }
      },
      "required": [
      ]
    },
    "OracleServerProperties": {
      "type": "object",
      "description": "Oracle Server properties",
      "properties": {
        "type": {
          "type": "string",
          "readOnly": true,
          "description": "The of Oracle server NON-CDB/CDB."
        },
        "clusterType": {
          "type": "string",
          "readOnly": true,
          "description": "The of Oracle server Standalone/HA/RAC."
        },
        "pdbCount": {
          "type": "string",
          "readOnly": true,
          "description": "The count of PDB in case type is CDB."
        },
        "hostName": {
          "type": "string",
          "description": "The DB  IP/host name."
        },
        "serviceId": {
          "description": "List of the DB ServiceId (sid).",
          "type": "array",
          "items": {
            "description": "Oracle Server ARM Id",
            "type": "string"
          }
        },
        "portNumber": {
          "description": "List of the DB port number.",
          "type": "array",
          "items": {
            "description": "Oracle Server ARM Id",
            "type": "string"
          }
        },
        "oracleDatabases": {
          "description": "List of the OracleDatabase ARM Id.",
          "type": "array",
          "items": {
            "description": "Oracle Server ARM Id",
            "type": "string",
            "readOnly": true
          }
        },
        "versionInfo": {
          "$ref": "#/definitions/VersionInfoModel",
          "description": "The Database Config."
        },
        "serverConfig": {
          "$ref": "#/definitions/ServerConfigModel",
          "description": "The Database Config."
        },
        "errors": {
          "description": "The list of errors.",
          "type": "array",
          "items": {
            "description": "The error",
            "$ref": "#/definitions/Error",
            "readOnly": true
          }
        }
      },
      "required": [
        "serviceId",
        "portNumber",
        "hostName"
      ]
    },
    "ResourceProviderOperationList": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceProviderOperation"
          }
        },
        "nextLink": {
          "type": "string"
        }
      },
      "description": "Results of the request to list operations."
    },
    "ResourceProviderOperation": {
      "type": "object",
      "properties": {
        "isDataAction": {
          "type": "string",
          "description": "Indicates whether the operation applies to data-plane."
        },
        "name": {
          "type": "string",
          "description": "Operation name, in format of {provider}/{resource}/{operation}"
        },
        "display": {
          "type": "object",
          "properties": {
            "provider": {
              "type": "string",
              "description": "The resource provider."
            },
            "resource": {
              "type": "string",
              "description": "Resource on which the operation is performed."
            },
            "operation": {
              "type": "string",
              "description": "Type of operation: get, read, delete, etc."
            },
            "description": {
              "type": "string",
              "description": "Description of this operation."
            }
          },
          "description": "Display metadata associated with the operation."
        }
      },
      "description": "Results of the request to list operations."
    },
    "DbConfigModel": {
      "type": "object",
      "description": "DB  model for creating machine to assess resources",
      "properties": {
        "testProperties": {
          "type": "string",
          "description": "Description of this operation."
        }
      },
      "required": [
      ]
    },
    "Error": {
      "type": "object",
      "description": "Defines the error.",
      "properties": {
        "id": {
          "description": "The error ID.",
          "type": "string"
        },
        "code": {
          "description": "The error code.",
          "type": "string"
        },
        "possibleCause": {
          "description": "The error possible cause.",
          "type": "string"
        },
        "recomendedAction": {
          "description": "Gets description of the checkpoint.",
          "type": "string"
        },
        "severity": {
          "description": "Gets description of the checkpoint.",
          "type": "string"
        }
      }
    },
    "VersionInfoModel": {
      "type": "object",
      "description": "Bulk model for creating machine to assess resources",
      "properties": {
        "edition": {
          "type": "string",
          "description": "The DB edition."
        },
        "instance": {
          "type": "string",
          "description": "The DB instance name."
        }
      },
      "required": [
      ]
    },
    "ServerConfigModel": {
      "type": "object",
      "description": "The DB server configuration",
      "properties": {
        "sampleProp": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "ErrorResponse": {
      "description": "Error response.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDefinition",
          "description": "The error details."
        }
      }
    },
    "ErrorDefinition": {
      "description": "Error definition.",
      "properties": {
        "code": {
          "description": "Service specific error code which serves as the substatus for the HTTP error code.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "description": "Description of the error.",
          "type": "string",
          "readOnly": true
        },
        "details": {
          "description": "Internal error details.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ErrorDefinition"
          },
          "readOnly": true
        }
      }
    },
    "ResourcePatch": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Object containing tags updates for patch operations."
    }
  },
  "parameters": {
    "SiteNameParameter": {
      "name": "siteName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "ServerNameParameter": {
      "name": "serverName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "DatabaseNameParameter": {
      "name": "databaseName",
      "in": "path",
      "required": true,
      "type": "string",
      "maxLength": 64,
      "minLength": 3
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000)"
    },
    "ResourceGroupNameParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    },
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "The API version to be used with the HTTP request (e.g. YYYY-MM-DD)."
    }
  }
}
