{
  "swagger": "2.0",
  "info": {
    "title": "Azure Site Recovery Management Service API",
    "description": "A first party Azure service enabling the data replication.",
    "version": "2021-02-16-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/fabricAgents/{fabricAgentName}": {
      "get": {
        "tags": [
          "Dra"
        ],
        "summary": "Gets the fabric agent (Dra).",
        "description": "Gets the details of the fabric agent.",
        "operationId": "Dra_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "#/parameters/FabricAgentNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Dra Model on success.",
            "schema": {
              "$ref": "#/definitions/DraModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Dra_Get": {
            "$ref": "./examples/Dra_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Dra"
        ],
        "summary": "Puts the fabric agent (Dra).",
        "description": "Creates the fabric agent.",
        "operationId": "Dra_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "#/parameters/FabricAgentNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Dra model.",
            "schema": {
              "$ref": "#/definitions/DraModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/DraModel"
            }
          },
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/DraModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Dra_Create": {
            "$ref": "./examples/Dra_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Dra"
        ],
        "summary": "Deletes the fabric agent (Dra).",
        "description": "Deletes the fabric agent.",
        "operationId": "Dra_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "#/parameters/FabricAgentNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Returns success on deletion.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Dra_Delete": {
            "$ref": "./examples/Dra_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/fabricAgents": {
      "get": {
        "tags": [
          "Dra"
        ],
        "summary": "Lists the fabric agents (Dras).",
        "description": "Gets the list of fabric agents in the given fabric.",
        "operationId": "Dra_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Dra Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/DraModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Dra_List": {
            "$ref": "./examples/Dra_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/fabricAgents/{fabricAgentName}/operations/{operationId}": {
      "get": {
        "tags": [
          "Dra"
        ],
        "summary": "Gets the fabric agent (Dra) operation status.",
        "description": "Tracks the results of an asynchronous operation on the fabric agent.",
        "operationId": "DraOperationStatus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "#/parameters/FabricAgentNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DraOperationStatus_Get": {
            "$ref": "./examples/DraOperationStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/alertSettings/{emailConfigurationName}": {
      "get": {
        "tags": [
          "EmailConfiguration"
        ],
        "summary": "Gets the email configuration setting.",
        "description": "Gets the details of the alert configuration setting.",
        "operationId": "EmailConfiguration_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/EmailConfigurationNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns EmailConfiguration Model on success.",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmailConfiguration_Get": {
            "$ref": "./examples/EmailConfiguration_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "EmailConfiguration"
        ],
        "summary": "Creates email configuration settings.",
        "description": "Creates an alert configuration setting for the given vault.",
        "operationId": "EmailConfiguration_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/EmailConfigurationNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "EmailConfiguration model.",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModel"
            }
          },
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "EmailConfiguration_Create": {
            "$ref": "./examples/EmailConfiguration_Create.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/alertSettings": {
      "get": {
        "tags": [
          "EmailConfiguration"
        ],
        "summary": "Lists the email configuration settings.",
        "description": "Gets the list of alert configuration settings for the given vault.",
        "operationId": "EmailConfiguration_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns EmailConfiguration Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/EmailConfigurationModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "EmailConfiguration_List": {
            "$ref": "./examples/EmailConfiguration_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/events/{eventName}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Gets the event.",
        "description": "Gets the details of the event.",
        "operationId": "Event_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/EventNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Event Model on success.",
            "schema": {
              "$ref": "#/definitions/EventModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Event_Get": {
            "$ref": "./examples/Event_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/events": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "Lists the events.",
        "description": "Gets the list of events in the given vault.",
        "operationId": "Event_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filter string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token.",
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Event Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/EventModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Event_List": {
            "$ref": "./examples/Event_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}": {
      "get": {
        "tags": [
          "Fabric"
        ],
        "summary": "Gets the fabric.",
        "description": "Gets the details of the fabric.",
        "operationId": "Fabric_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Fabric Model on success.",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Fabric_Get": {
            "$ref": "./examples/Fabric_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Fabric"
        ],
        "summary": "Puts the fabric.",
        "description": "Creates the fabric.",
        "operationId": "Fabric_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Fabric properties.",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            }
          },
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Fabric_Create": {
            "$ref": "./examples/Fabric_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Fabric"
        ],
        "summary": "Updates the fabric.",
        "description": "Performs update on the fabric.",
        "operationId": "Fabric_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Fabric properties.",
            "schema": {
              "$ref": "#/definitions/FabricModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FabricModel"
            }
          },
          "202": {
            "description": "Returns success on update.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Fabric_Update": {
            "$ref": "./examples/Fabric_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Fabric"
        ],
        "summary": "Deletes the fabric.",
        "description": "Removes the fabric.",
        "operationId": "Fabric_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Returns success on deletion.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Fabric_Delete": {
            "$ref": "./examples/Fabric_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataReplication/replicationFabrics": {
      "get": {
        "tags": [
          "Fabric"
        ],
        "summary": "Lists the fabrics.",
        "description": "Gets the list of fabrics in the given subscription.",
        "operationId": "Fabric_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token from the previous call.",
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Fabric Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/FabricModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Fabric_ListBySubscription": {
            "$ref": "./examples/Fabric_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics": {
      "get": {
        "tags": [
          "Fabric"
        ],
        "summary": "Lists the fabrics.",
        "description": "Gets the list of fabrics in the given subscription and resource group.",
        "operationId": "Fabric_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token from the previous call.",
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Fabric Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/FabricModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Fabric_List": {
            "$ref": "./examples/Fabric_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationFabrics/{fabricName}/operations/{operationId}": {
      "get": {
        "tags": [
          "Fabric"
        ],
        "summary": "Gets the fabric operation status.",
        "description": "Tracks the results of an asynchronous operation on the fabric.",
        "operationId": "FabricOperationsStatus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/FabricNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "FabricOperationsStatus_Get": {
            "$ref": "./examples/FabricOperationsStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies/{policyName}": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "Gets the policy.",
        "description": "Gets the details of the policy.",
        "operationId": "Policy_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/PolicyNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Policy Model on success.",
            "schema": {
              "$ref": "#/definitions/PolicyModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Policy_Get": {
            "$ref": "./examples/Policy_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Policy"
        ],
        "summary": "Puts the policy.",
        "description": "Creates the policy.",
        "operationId": "Policy_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/PolicyNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Policy model.",
            "schema": {
              "$ref": "#/definitions/PolicyModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PolicyModel"
            }
          },
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/PolicyModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Policy_Create": {
            "$ref": "./examples/Policy_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Policy"
        ],
        "summary": "Deletes the policy.",
        "description": "Removes the policy.",
        "operationId": "Policy_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/PolicyNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Returns success on deletion.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Policy_Delete": {
            "$ref": "./examples/Policy_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "Lists the policies.",
        "description": "Gets the list of policies in the given vault.",
        "operationId": "Policy_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Policy Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/PolicyModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Policy_List": {
            "$ref": "./examples/Policy_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationPolicies/{policyName}/operations/{operationId}": {
      "get": {
        "tags": [
          "Policy"
        ],
        "summary": "Gets the policy operation status.",
        "description": "Tracks the results of an asynchronous operation on the policy.",
        "operationId": "PolicyOperationStatus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/PolicyNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "PolicyOperationStatus_Get": {
            "$ref": "./examples/PolicyOperationStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}": {
      "get": {
        "tags": [
          "ProtectedItem"
        ],
        "summary": "Gets the protected item.",
        "description": "Gets the details of the protected item.",
        "operationId": "ProtectedItem_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ProtectedItemNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns ProtectedItem Model on success.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectedItem_Get": {
            "$ref": "./examples/ProtectedItem_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ProtectedItem"
        ],
        "summary": "Puts the protected item.",
        "description": "Creates the protected item.",
        "operationId": "ProtectedItem_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ProtectedItemNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Protected item model.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModel"
            }
          },
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ProtectedItem_Create": {
            "$ref": "./examples/ProtectedItem_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ProtectedItem"
        ],
        "summary": "Deletes the protected item.",
        "description": "Removes the protected item.",
        "operationId": "ProtectedItem_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ProtectedItemNameParameter"
          },
          {
            "in": "query",
            "name": "forceDelete",
            "description": "A flag indicating whether to do force delete or not.",
            "type": "boolean"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ProtectedItem_Delete": {
            "$ref": "./examples/ProtectedItem_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems": {
      "get": {
        "tags": [
          "ProtectedItem"
        ],
        "summary": "Lists the protected items.",
        "description": "Gets the list of protected items in the given vault.",
        "operationId": "ProtectedItem_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns ProtectedItem Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/ProtectedItemModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ProtectedItem_List": {
            "$ref": "./examples/ProtectedItem_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/plannedFailover": {
      "post": {
        "tags": [
          "ProtectedItem"
        ],
        "summary": "Performs planned failover.",
        "description": "Performs the planned failover on the protected item.",
        "operationId": "ProtectedItem_PlannedFailover",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ProtectedItemNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Planned failover model.",
            "schema": {
              "$ref": "#/definitions/PlannedFailoverModel"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PlannedFailoverModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ProtectedItem_PlannedFailover": {
            "$ref": "./examples/ProtectedItem_PlannedFailover.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/operations/{operationId}": {
      "get": {
        "tags": [
          "ProtectedItem"
        ],
        "summary": "Gets the protected item operation status.",
        "description": "Tracks the results of an asynchronous operation on the protected item.",
        "operationId": "ProtectedItemOperationStatus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ProtectedItemNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ProtectedItemOperationStatus_Get": {
            "$ref": "./examples/ProtectedItemOperationStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/recoveryPoints/{recoveryPointName}": {
      "get": {
        "tags": [
          "RecoveryPoint"
        ],
        "summary": "Gets the recovery point.",
        "description": "Gets the details of the recovery point of a protected item.",
        "operationId": "RecoveryPoints_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ProtectedItemNameParameter"
          },
          {
            "$ref": "#/parameters/RecoveryPointNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RecoveryPointModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "RecoveryPoints_Get": {
            "$ref": "./examples/RecoveryPoints_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/protectedItems/{protectedItemName}/recoveryPoints": {
      "get": {
        "tags": [
          "RecoveryPoint"
        ],
        "summary": "Lists the recovery points.",
        "description": "Gets the list of recovery points of the given protected item.",
        "operationId": "RecoveryPoints_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ProtectedItemNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RecoveryPointModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "RecoveryPoints_List": {
            "$ref": "./examples/RecoveryPoints_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions/{replicationExtensionName}": {
      "get": {
        "tags": [
          "ReplicationExtension"
        ],
        "summary": "Gets the replication extension.",
        "description": "Gets the details of the replication extension.",
        "operationId": "ReplicationExtension_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ReplicationExtensionNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Replication extension Model on success.",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReplicationExtension_Get": {
            "$ref": "./examples/ReplicationExtension_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "ReplicationExtension"
        ],
        "summary": "Puts the replication extension.",
        "description": "Creates the replication extension in the given vault.",
        "operationId": "ReplicationExtension_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ReplicationExtensionNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Replication extension model.",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModel"
            }
          },
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ReplicationExtension_Create": {
            "$ref": "./examples/ReplicationExtension_Create.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ReplicationExtension"
        ],
        "summary": "Deletes the replication extension.",
        "description": "Deletes the replication extension in the given vault.",
        "operationId": "ReplicationExtension_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ReplicationExtensionNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Returns success on deletion.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "ReplicationExtension_Delete": {
            "$ref": "./examples/ReplicationExtension_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions": {
      "get": {
        "tags": [
          "ReplicationExtension"
        ],
        "summary": "Lists the replication extensions.",
        "description": "Gets the list of replication extensions in the given vault.",
        "operationId": "ReplicationExtension_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Replication extension Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/ReplicationExtensionModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "ReplicationExtension_List": {
            "$ref": "./examples/ReplicationExtension_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/replicationExtensions/{replicationExtensionName}/operations/{operationId}": {
      "get": {
        "tags": [
          "ReplicationExtension"
        ],
        "summary": "Gets the replication extension operation status.",
        "description": "Tracks the results of an asynchronous operation on the replication extension.",
        "operationId": "ReplicationExtensionOperationStatus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/ReplicationExtensionNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ReplicationExtensionOperationStatus_Get": {
            "$ref": "./examples/ReplicationExtensionOperationStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataReplication/locations/{location}/checkNameAvailability": {
      "post": {
        "tags": [
          "Tenant"
        ],
        "summary": "Performs the resource name availability check.",
        "description": "Checks the resource name availability.",
        "operationId": "CheckNameAvailability",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/LocationParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Resource details.",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CheckNameAvailabilityResponseModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "CheckNameAvailability": {
            "$ref": "./examples/CheckNameAvailability.json"
          }
        }
      }
    },
    "/providers/Microsoft.DataReplication/operations": {
      "get": {
        "tags": [
          "Tenant"
        ],
        "summary": "Get a list of REST API operations supported by Microsoft.DataReplication.",
        "description": "Gets the operations.",
        "operationId": "Operations_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/deployments/{deploymentId}/preflight": {
      "post": {
        "tags": [
          "Tenant"
        ],
        "summary": "Performs resource deployment validation.",
        "operationId": "DeploymentPreflight",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "path",
            "name": "deploymentId",
            "description": "Deployment Id.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Deployment preflight model.",
            "schema": {
              "$ref": "#/definitions/DeploymentPreflightModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeploymentPreflightModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "DeploymentPreflight": {
            "$ref": "./examples/DeploymentPreflight.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}": {
      "get": {
        "tags": [
          "Vault"
        ],
        "summary": "Gets the vault.",
        "description": "Gets the details of the vault.",
        "operationId": "Vault_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Vault Model on success.",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Vault_Get": {
            "$ref": "./examples/Vault_Get.json"
          }
        }
      },
      "put": {
        "tags": [
          "Vault"
        ],
        "summary": "Puts the vault.",
        "description": "Creates the vault.",
        "operationId": "Vault_Create",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Vault properties.",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            }
          },
          "200": {
            "description": "Updated",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Vault_Create": {
            "$ref": "./examples/Vault_Create.json"
          }
        }
      },
      "patch": {
        "tags": [
          "Vault"
        ],
        "summary": "Updates the vault.",
        "description": "Performs update on the vault.",
        "operationId": "Vault_Update",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Vault properties.",
            "schema": {
              "$ref": "#/definitions/VaultModelUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/VaultModel"
            }
          },
          "202": {
            "description": "Returns success on update.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Vault_Update": {
            "$ref": "./examples/Vault_Update.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Vault"
        ],
        "summary": "Deletes the vault.",
        "description": "Removes the vault.",
        "operationId": "Vault_Delete",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Returns success on deletion.",
            "headers": {
              "Azure-AsyncOperation": {
                "description": "Tracking URL for long running operation.",
                "type": "string"
              },
              "Location": {
                "type": "string"
              }
            }
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true,
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-examples": {
          "Vault_Delete": {
            "$ref": "./examples/Vault_Delete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DataReplication/replicationVaults": {
      "get": {
        "tags": [
          "Vault"
        ],
        "summary": "Lists the vaults.",
        "description": "Gets the list of vaults in the given subscription.",
        "operationId": "Vault_ListBySubscription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token from the previous call.",
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Vault Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/VaultModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Vault_ListBySubscription": {
            "$ref": "./examples/Vault_ListBySubscription.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults": {
      "get": {
        "tags": [
          "Vault"
        ],
        "summary": "Lists the vaults.",
        "description": "Gets the list of vaults in the given subscription and resource group.",
        "operationId": "Vault_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token from the previous call.",
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Vault Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/VaultModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Vault_List": {
            "$ref": "./examples/Vault_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/operations/{operationId}": {
      "get": {
        "tags": [
          "Vault"
        ],
        "summary": "Gets the vault operation status.",
        "description": "Tracks the results of an asynchronous operation on the vault.",
        "operationId": "VaultOperationStatus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "VaultOperationStatus_Get": {
            "$ref": "./examples/VaultOperationStatus_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/jobs/{jobName}": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Gets the job (workflow).",
        "description": "Gets the details of the job.",
        "operationId": "Workflow_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Workflow Model on success.",
            "schema": {
              "$ref": "#/definitions/WorkflowModel"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Workflow_Get": {
            "$ref": "./examples/Workflow_Get.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/jobs": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Lists the jobs (workflows).",
        "description": "Gets the list of jobs in the given vault.",
        "operationId": "Workflow_List",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "in": "query",
            "name": "$filter",
            "description": "Filter string.",
            "type": "string"
          },
          {
            "in": "query",
            "name": "continuationToken",
            "description": "Continuation token.",
            "type": "string"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns Workflow Model Collection on success.",
            "schema": {
              "$ref": "#/definitions/WorkflowModelCollection"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        },
        "x-ms-examples": {
          "Workflow_List": {
            "$ref": "./examples/Workflow_List.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/jobs/{jobName}/operations/{operationId}": {
      "get": {
        "tags": [
          "Workflow"
        ],
        "summary": "Gets the job (workflow) operation status.",
        "description": "Tracks the results of an asynchronous operation on the job.",
        "operationId": "WorkflowOperationStatus_Get",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/VaultNameParameter"
          },
          {
            "$ref": "#/parameters/JobNameParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/OperationIdParameter"
          },
          {
            "$ref": "../../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/OperationStatus"
            }
          },
          "default": {
            "description": "Error",
            "schema": {
              "$ref": "../../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "WorkflowOperationStatus_Get": {
            "$ref": "./examples/WorkflowOperationStatus_Get.json"
          }
        }
      }
    }
  },
  "definitions": {
    "AzStackHCIClusterProperties": {
      "description": "AzStackHCI cluster properties.",
      "required": [
        "clusterName",
        "resourceName",
        "storageAccountName",
        "storageContainers"
      ],
      "type": "object",
      "properties": {
        "clusterName": {
          "description": "Gets or sets the AzStackHCICluster FQDN name.",
          "minLength": 1,
          "type": "string"
        },
        "resourceName": {
          "description": "Gets or sets the AzStackHCICluster resource name.",
          "minLength": 1,
          "type": "string"
        },
        "storageAccountName": {
          "description": "Gets or sets the Storage account name.",
          "minLength": 1,
          "type": "string"
        },
        "storageContainers": {
          "description": "Gets or sets the list of AzStackHCICluster Storage Container.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/StorageContainerProperties"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "AzStackHCIFabricModelCustomProperties": {
      "description": "AzStackHCI fabric model custom properties.",
      "required": [
        "azStackHciSiteId",
        "cluster",
        "migrationSolutionId"
      ],
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/FabricModelCustomProperties"
        }
      ],
      "properties": {
        "azStackHciSiteId": {
          "description": "Gets or sets the ARM Id of the AzStackHCI site.",
          "minLength": 1,
          "type": "string"
        },
        "applianceName": {
          "description": "Gets or sets the Appliance name.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "cluster": {
          "$ref": "#/definitions/AzStackHCIClusterProperties"
        },
        "fabricResourceId": {
          "description": "Gets or sets the fabric resource Id.",
          "type": "string",
          "readOnly": true
        },
        "fabricContainerId": {
          "description": "Gets or sets the fabric container Id.",
          "type": "string",
          "readOnly": true
        },
        "migrationSolutionId": {
          "description": "Gets or sets the Migration solution ARM Id.",
          "minLength": 1,
          "type": "string"
        },
        "migrationHubUri": {
          "description": "Gets or sets the migration hub Uri.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-discriminator-value": "AzStackHCI"
    },
    "CheckNameAvailabilityModel": {
      "description": "Check name availability model.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the resource name.",
          "type": "string"
        },
        "type": {
          "description": "Gets or sets the resource type.",
          "type": "string"
        }
      }
    },
    "CheckNameAvailabilityResponseModel": {
      "description": "Check name availability response model.",
      "type": "object",
      "properties": {
        "nameAvailable": {
          "description": "Gets or sets a value indicating whether resource name is available or not.",
          "type": "boolean"
        },
        "reason": {
          "description": "Gets or sets the reason for resource name unavailability.",
          "type": "string"
        },
        "message": {
          "description": "Gets or sets the message for resource name unavailability.",
          "type": "string"
        }
      }
    },
    "DeploymentPreflightModel": {
      "description": "Deployment preflight model.",
      "type": "object",
      "properties": {
        "resources": {
          "description": "Gets or sets the list of resources.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeploymentPreflightResource"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "DeploymentPreflightResource": {
      "description": "Deployment preflight resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Gets or sets the resource name.",
          "type": "string"
        },
        "type": {
          "description": "Gets or sets the resource type.",
          "type": "string"
        },
        "location": {
          "description": "Gets or sets the location of the resource.",
          "type": "string",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "apiVersion": {
          "description": "Gets or sets the Api version.",
          "type": "string"
        }
      }
    },
    "DraModel": {
      "description": "Dra model.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/DraModelProperties"
        },
        "id": {
          "description": "Gets or sets the Id of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Gets or sets the name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Gets or sets the type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "allOf": [
            {
              "$ref": "#/definitions/SystemDataModel"
            }
          ],
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "DraModelCollection": {
      "description": "Dra model collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets the list of Dras.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DraModel"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "description": "Gets or sets the value of next link.",
          "type": "string"
        }
      }
    },
    "DraModelCustomProperties": {
      "description": "Dra model custom properties.",
      "required": [
        "instanceType"
      ],
      "type": "object",
      "properties": {
        "instanceType": {
          "description": "Gets or sets the instance type.",
          "minLength": 1,
          "type": "string"
        }
      },
      "discriminator": "instanceType"
    },
    "DraModelProperties": {
      "description": "Dra model properties.",
      "required": [
        "authenticationIdentity",
        "customProperties",
        "machineId",
        "machineName",
        "resourceAccessIdentity"
      ],
      "type": "object",
      "properties": {
        "correlationId": {
          "description": "Gets or sets the Dra correlation Id.",
          "type": "string",
          "readOnly": true
        },
        "machineId": {
          "description": "Gets or sets the machine Id where Dra is running.",
          "minLength": 1,
          "type": "string"
        },
        "machineName": {
          "description": "Gets or sets the machine name where Dra is running.",
          "minLength": 1,
          "type": "string"
        },
        "authenticationIdentity": {
          "$ref": "#/definitions/IdentityModel"
        },
        "resourceAccessIdentity": {
          "$ref": "#/definitions/IdentityModel"
        },
        "isResponsive": {
          "description": "Gets or sets a value indicating whether Dra is responsive.",
          "type": "boolean",
          "readOnly": true
        },
        "lastHeartbeat": {
          "format": "date-time",
          "description": "Gets or sets the time when last heartbeat was sent by the Dra.",
          "type": "string",
          "readOnly": true
        },
        "versionNumber": {
          "description": "Gets or sets the Dra version.",
          "type": "string",
          "readOnly": true
        },
        "provisioningState": {
          "description": "Gets or sets the provisioning state of the Dra.",
          "enum": [
            "Canceled",
            "Creating",
            "Deleting",
            "Deleted",
            "Failed",
            "Succeeded",
            "Updating"
          ],
          "type": "string",
          "readOnly": true,
          "x-ms-enum": {
            "name": "ProvisioningState",
            "modelAsString": true
          }
        },
        "healthErrors": {
          "description": "Gets or sets the list of health errors.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/HealthErrorModel"
          },
          "readOnly": true,
          "x-ms-identifiers": []
        },
        "customProperties": {
          "$ref": "#/definitions/DraModelCustomProperties"
        }
      }
    },
    "EmailConfigurationModel": {
      "description": "Email configuration model.",
      "required": [
        "properties"
      ],
      "type": "object",
      "properties": {
        "properties": {
          "$ref": "#/definitions/EmailConfigurationModelProperties"
        },
        "id": {
          "description": "Gets or sets the Id of the resource.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Gets or sets the name of the resource.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Gets or sets the type of the resource.",
          "type": "string",
          "readOnly": true
        },
        "systemData": {
          "allOf": [
            {
              "$ref": "#/definitions/SystemDataModel"
            }
          ],
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    },
    "EmailConfigurationModelCollection": {
      "description": "Email configuration model collection.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Gets or sets the list of email configurations.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmailConfigurationModel"
          },
          "x-ms-identifiers": []
        },
        "nextLink": {
          "description": "Gets or sets the value of next link.",
          "type": "string"
        }
      }
    },
    "EmailConfigurationModelProperties": {
      "description": "Email configuration model properties.",
      "required": [
        "sendToOwners"
      ],
      "type": "object",
      "properties": {
        "sendToOwners": {
          "description": "Gets or sets a value indicating whether to send email to subscription administrator.",
          "type": "boolean"
        },
        "customEmailAddresses": {
[...]
