{
  "swagger": "2.0",
  "info": {
    "title": "DevSpacesManagementClient",
    "version": "2019-04-01",
    "description": "Dev Spaces Client",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "Controllers"
    }
  ],
  "paths": {
    "/providers/Microsoft.DevSpaces/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.DevSpaces/controllers": {
      "get": {
        "operationId": "Controllers_List",
        "tags": [
          "Controllers"
        ],
        "description": "Lists all the Azure Dev Spaces Controllers with their properties in the subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ControllersList": {
            "$ref": "./examples/Controllers_List.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers": {
      "get": {
        "operationId": "Controllers_ListByResourceGroup",
        "tags": [
          "Controllers"
        ],
        "description": "Lists all the Azure Dev Spaces Controllers with their properties in the specified resource group and subscription.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ControllerListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ControllersListByResourceGroup": {
            "$ref": "./examples/Controllers_ListByResourceGroup.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}": {
      "get": {
        "operationId": "Controllers_Get",
        "tags": [
          "Controllers"
        ],
        "description": "Gets the properties for an Azure Dev Spaces Controller.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Controller"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ControllersGet": {
            "$ref": "./examples/Controllers_Get.json"
          }
        }
      },
      "put": {
        "operationId": "Controllers_Create",
        "tags": [
          "Controllers"
        ],
        "description": "Creates an Azure Dev Spaces Controller with the specified create parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          },
          {
            "name": "controller",
            "in": "body",
            "description": "Controller create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Controller"
            },
            "x-ms-client-name": "controller"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'Controller' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/Controller"
            }
          },
          "201": {
            "description": "Resource 'Controller' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/Controller"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ControllersCreate": {
            "$ref": "./examples/Controllers_Create.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "Controllers_Update",
        "tags": [
          "Controllers"
        ],
        "description": "Updates the properties of an existing Azure Dev Spaces Controller with the specified update parameters.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          },
          {
            "name": "controllerUpdateParameters",
            "in": "body",
            "description": "Parameters for updating the Azure Dev Spaces Controller.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ControllerUpdateParameters"
            },
            "x-ms-client-name": "controllerUpdateParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/Controller"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ControllersUpdate": {
            "$ref": "./examples/Controllers_Update.json"
          }
        }
      },
      "delete": {
        "operationId": "Controllers_Delete",
        "tags": [
          "Controllers"
        ],
        "description": "Deletes an existing Azure Dev Spaces Controller.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          }
        ],
        "responses": {
          "200": {
            "description": "Resource deleted successfully."
          },
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              },
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ControllersDelete": {
            "$ref": "./examples/Controllers_Delete.json"
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/controllers/{name}/listConnectionDetails": {
      "post": {
        "operationId": "Controllers_ListConnectionDetails",
        "tags": [
          "Controllers"
        ],
        "description": "Lists connection details for the underlying container resources of an Azure Dev Spaces Controller.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v3/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "name",
            "in": "path",
            "description": "Name of the resource.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9]([_-]*[a-zA-Z0-9])*$"
          },
          {
            "name": "listConnectionDetailsParameters",
            "in": "body",
            "description": "Parameters for listing connection details of Azure Dev Spaces Controller.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ListConnectionDetailsParameters"
            },
            "x-ms-client-name": "listConnectionDetailsParameters"
          }
        ],
        "responses": {
          "200": {
            "description": "ARM operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/ControllerConnectionDetailsList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "ControllersListConnectionDetails": {
            "$ref": "./examples/Controllers_ListConnectionDetails.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevSpaces/locations/{location}/checkContainerHostMapping": {
      "post": {
        "operationId": "ContainerHostMappingsOperations_GetContainerHostMapping",
        "summary": "Returns container host mapping object for a container host resource ID if an associated controller exists.",
        "description": "Returns container host mapping object for a container host resource ID if an associated controller exists.",
        "parameters": [
          {
            "$ref": "#/parameters/Azure.Core.Foundations.ApiVersionParameter"
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Azure subscription ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceGroupName",
            "in": "path",
            "description": "Resource group to which the resource belongs.",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 90
          },
          {
            "name": "location",
            "in": "path",
            "description": "Location of the container host.",
            "required": true,
            "type": "string"
          },
          {
            "name": "containerHostMapping",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContainerHostMapping"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request has succeeded.",
            "schema": {
              "$ref": "#/definitions/ContainerHostMapping"
            }
          },
          "204": {
            "description": "There is no content to send for this request, but the headers may be useful. "
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Azure.Core.Foundations.ErrorResponse"
            },
            "headers": {
              "x-ms-error-code": {
                "type": "string",
                "description": "String error code indicating what went wrong."
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Azure.Core.Foundations.Error": {
      "type": "object",
      "description": "The error object.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/Azure.Core.Foundations.Error"
          },
          "x-ms-identifiers": []
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "An object containing more specific information than the current object about the error."
        }
      },
      "required": [
        "code",
        "message"
      ]
    },
    "Azure.Core.Foundations.ErrorResponse": {
      "type": "object",
      "description": "A response containing error details.",
      "properties": {
        "error": {
          "$ref": "#/definitions/Azure.Core.Foundations.Error",
          "description": "The error object."
        }
      },
      "required": [
        "error"
      ]
    },
    "Azure.Core.Foundations.InnerError": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "properties": {
        "code": {
          "type": "string",
          "description": "One of a server-defined set of error codes."
        },
        "innererror": {
          "$ref": "#/definitions/Azure.Core.Foundations.InnerError",
          "description": "Inner error."
        }
      }
    },
    "Azure.ResourceManager.Foundations.SkuTier": {
      "type": "string",
      "description": "Available service tiers for the SKU.",
      "enum": [
        "Free",
        "Basic",
        "Standard",
        "Premium"
      ],
      "x-ms-enum": {
        "name": "SkuTier",
        "modelAsString": true,
        "values": [
          {
            "name": "Free",
            "value": "Free",
            "description": "The Free service tier."
          },
          {
            "name": "Basic",
            "value": "Basic",
            "description": "The Basic service tier."
          },
          {
            "name": "Standard",
            "value": "Standard",
            "description": "The Standard service tier."
          },
          {
            "name": "Premium",
            "value": "Premium",
            "description": "The Premium service tier."
          }
        ]
      }
    },
    "ContainerHostMapping": {
      "type": "object",
      "description": "Container host mapping object specifying the Container host resource ID and its associated Controller resource.",
      "properties": {
        "containerHostResourceId": {
          "type": "string",
          "description": "ARM ID of the Container Host resource"
        },
        "mappedControllerResourceId": {
          "type": "string",
          "description": "ARM ID of the mapped Controller resource",
          "readOnly": true
        }
      }
    },
    "Controller": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/ControllerProperties",
          "description": "The resource-specific properties for this resource.",
          "x-ms-client-flatten": true,
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "sku": {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/Sku",
          "description": "The SKU (Stock Keeping Unit) assigned to this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v3/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "ControllerConnectionDetails": {
      "type": "object",
      "properties": {
        "orchestratorSpecificConnectionDetails": {
          "$ref": "#/definitions/OrchestratorSpecificConnectionDetails",
          "description": "Base class for types that supply values used to connect to container orchestrators"
        }
      }
    },
    "ControllerConnectionDetailsList": {
      "type": "object",
      "properties": {
        "connectionDetailsList": {
          "type": "array",
          "description": "List of Azure Dev Spaces Controller connection details.",
          "items": {
            "$ref": "#/definitions/ControllerConnectionDetails"
          },
          "x-ms-identifiers": []
        }
      }
    },
    "ControllerListResult": {
      "type": "object",
      "description": "The response of a Controller list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The Controller items on this page",
          "items": {
            "$ref": "#/definitions/Controller"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "ControllerProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "Provisioning state of the Azure Dev Spaces Controller.",
          "readOnly": true
        },
        "hostSuffix": {
          "type": "string",
          "description": "DNS suffix for public endpoints running in the Azure Dev Spaces Controller.",
          "readOnly": true
        },
        "dataPlaneFqdn": {
          "type": "string",
          "description": "DNS name for accessing DataPlane services",
          "readOnly": true
        },
        "targetContainerHostApiServerFqdn": {
          "type": "string",
          "description": "DNS of the target container host's API server",
          "readOnly": true
        },
        "targetContainerHostResourceId": {
          "type": "string",
          "description": "Resource ID of the target container host",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "targetContainerHostCredentialsBase64": {
          "type": "string",
          "description": "Credentials of the target container host (base64).",
          "x-ms-mutability": [
            "create"
          ]
        }
      },
      "required": [
        "targetContainerHostResourceId",
        "targetContainerHostCredentialsBase64"
      ]
    },
    "ControllerUpdateParameters": {
      "type": "object",
      "description": "Parameters for updating an Azure Dev Spaces Controller.",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Tags for the Azure Dev Spaces Controller.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/ControllerUpdateParametersProperties"
        }
      }
    },
    "ControllerUpdateParametersProperties": {
      "type": "object",
      "properties": {
        "targetContainerHostCredentialsBase64": {
          "type": "string",
          "description": "Credentials of the target container host (base64)."
        }
      }
    },
    "DevSpacesErrorResponse": {
      "type": "object",
      "description": "Error response indicates that the service is not able to process the incoming request. The reason is provided in the error message.",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorDetails",
          "description": "The details of the error."
        }
      }
    },
    "ErrorDetails": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Status code for the error.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Error message describing the error in detail.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "The target of the particular error.",
          "readOnly": true
        }
      }
    },
    "KubernetesConnectionDetails": {
      "type": "object",
      "description": "Contains information used to connect to a Kubernetes cluster",
      "properties": {
        "kubeConfig": {
          "type": "string",
          "description": "Gets the kubeconfig for the cluster."
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/OrchestratorSpecificConnectionDetails"
        }
      ],
      "x-ms-discriminator-value": "Kubernetes"
    },
    "ListConnectionDetailsParameters": {
      "type": "object",
      "description": "Parameters for listing connection details of an Azure Dev Spaces Controller.",
      "properties": {
        "targetContainerHostResourceId": {
          "type": "string",
          "description": "Resource ID of the target container host mapped to the Azure Dev Spaces Controller."
        }
      },
      "required": [
        "targetContainerHostResourceId"
      ]
    },
    "OrchestratorSpecificConnectionDetails": {
      "type": "object",
      "description": "Base class for types that supply values used to connect to container orchestrators",
      "properties": {
        "instanceType": {
          "type": "string",
          "description": "Discriminator property for OrchestratorSpecificConnectionDetails."
        }
      },
      "discriminator": "instanceType",
      "required": [
        "instanceType"
      ]
    },
    "ProvisioningState": {
      "type": "string",
      "description": "Provisioning state of the Azure Dev Spaces Controller.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "Updating",
        "Creating",
        "Deleting",
        "Deleted"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      },
      "readOnly": true
    },
    "Resource": {
      "type": "object",
      "description": "An Azure resource.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Fully qualified resource Id for the resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the resource.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the resource.",
          "readOnly": true
        }
      }
    },
    "ResourceProviderOperationDefinition": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource provider operation name."
        },
        "display": {
          "$ref": "#/definitions/ResourceProviderOperationDisplay"
        }
      }
    },
    "ResourceProviderOperationDisplay": {
      "type": "object",
      "properties": {
        "provider": {
          "type": "string",
          "description": "Name of the resource provider."
        },
        "resource": {
          "type": "string",
          "description": "Name of the resource type."
        },
        "operation": {
          "type": "string",
          "description": "Name of the resource provider operation."
        },
        "description": {
          "type": "string",
          "description": "Description of the resource provider operation."
        }
      }
    },
    "Sku": {
      "type": "object",
      "description": "Model representing SKU for Azure Dev Spaces Controller.",
      "properties": {
        "name": {
          "$ref": "#/definitions/SkuName",
          "description": "The name of the SKU for Azure Dev Spaces Controller."
        },
        "tier": {
          "$ref": "#/definitions/Azure.ResourceManager.Foundations.SkuTier",
          "description": "The tier of the SKU for Azure Dev Spaces Controller."
        }
      },
      "required": [
        "name"
      ]
    },
    "SkuName": {
      "type": "string",
      "description": "The name of the SKU for Azure Dev Spaces Controller.",
      "enum": [
        "S1"
      ],
      "x-ms-enum": {
        "name": "SkuName",
        "modelAsString": true
      }
    },
    "Versions": {
      "type": "string",
      "description": "The available API versions.",
      "enum": [
        "2019-04-01"
      ],
      "x-ms-enum": {
        "name": "Versions",
        "modelAsString": true,
        "values": [
          {
            "name": "v2019_04_01",
            "value": "2019-04-01",
            "description": "The 2019-04-01 API version."
          }
        ]
      }
    }
  },
  "parameters": {
    "Azure.Core.Foundations.ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "description": "The API version to use for this operation.",
      "required": true,
      "type": "string",
      "minLength": 1,
      "x-ms-parameter-location": "method",
      "x-ms-client-name": "apiVersion"
    }
  }
}
