{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Activation Status resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/activationStatuses/{activationStatusName}": {
      "get": {
        "tags": [
          "ActivationStatuses"
        ],
        "operationId": "ActivationStatuses_Get",
        "description": "Get information about the specified Mobile Packet Core Activation Status resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "activationStatusName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the activationStatus object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Activation Status resource.",
            "schema": {
              "$ref": "#/definitions/ActivationStatus"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ActivationStatus": {
            "$ref": "./examples/ActivationStatusGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/activationStatuses": {
      "get": {
        "tags": [
          "ActivationStatuses"
        ],
        "operationId": "ActivationStatuses_ListByMobilePacketCore",
        "description": "Lists all the Activation Statuses in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/ActivationStatusListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ActivationStatuses by mobile packet core instance": {
            "$ref": "./examples/ActivationStatusListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "OperationStatus": {
      "description": "The current status of an async operation.",
      "type": "object",
      "readOnly": true,
      "properties": {
        "id": {
          "description": "The fully qualified ID of the async operation, e.g. /subscriptions/id/locations/westus/operationsStatuses/sameguid",
          "type": "string"
        },
        "status": {
          "description": "The operation execution status.",
          "type": "string",
          "enum": [
            "Submitted",
            "Processing",
            "Succeeded",
            "Failed",
            "Canceled"
          ],
          "x-ms-enum": {
            "name": "ActivationOperationStatusType",
            "modelAsString": true
          }
        },
        "startTime": {
          "description": "The start time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "endTime": {
          "description": "The end time of the operation.",
          "type": "string",
          "format": "date-time"
        },
        "percentComplete": {
          "description": "Percentage of the operation that is complete.",
          "type": "number",
          "format": "double",
          "minimum": 0,
          "maximum": 100
        },
        "operationDetails": {
          "description": "Details returned by the resource provider",
          "type": "object",
          "properties": {
            "networkFunctionInstance": {
              "description": "The network function tasks execution status.",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "resourceId": {
                    "description": "Reference to the network function instance.",
                    "$ref": "./common.json#/definitions/ReferencedResource"
                  },
                  "status": {
                    "description": "The aggregate execution status for the network function instance.",
                    "type": "string",
                    "enum": [
                      "Submitted",
                      "Processing",
                      "Succeeded",
                      "Failed",
                      "Canceled"
                    ],
                    "x-ms-enum": {
                      "name": "NetworkFunctionStatus",
                      "modelAsString": true
                    }
                  },
                  "startTime": {
                    "description": "The start time of the aggregate status.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "endTime": {
                    "description": "The end time of the the aggregate status.",
                    "type": "string",
                    "format": "date-time"
                  },
                  "details": {
                    "description": "The detailed message for the network function instance.",
                    "type": "string"
                  },
                  "task": {
                    "description": "The execution statuses for child tasks for the network function instance.",
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "description": "The task identifier, e.g. LCM-instantiate."
                        },
                        "taskType": {
                          "$ref": "./common.json#/definitions/OperationalTaskType",
                          "description": "Task type"
                        },
                        "snapshotId": {
                          "description": "Reference to the snapshot that this async operation status relates to.",
                          "$ref": "./common.json#/definitions/ReferencedResource"
                        },
                        "status": {
                          "description": "The task execution status.",
                          "type": "string",
                          "enum": [
                            "Submitted",
                            "Processing",
                            "Succeeded",
                            "Failed",
                            "Canceled"
                          ],
                          "x-ms-enum": {
                            "name": "DurableTaskStatus",
                            "modelAsString": true
                          }
                        },
                        "startTime": {
                          "description": "The start time of the task.",
                          "type": "string",
                          "format": "date-time"
                        },
                        "endTime": {
                          "description": "The end time of the task.",
                          "type": "string",
                          "format": "date-time"
                        },
                        "details": {
                          "description": "The detailed message for the task.",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "required": [
        "status"
      ]
    },
    "ActivationStatusProperties": {
      "type": "object",
      "description": "The Activation Status resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "operationStatus": {
          "$ref": "#/definitions/OperationStatus"
        }
      }
    },
    "ActivationStatus": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ActivationStatusProperties",
          "description": "Mobile Packet Core Activation Status properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Activation Status resource."
    },
    "ActivationStatusListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ActivationStatus"
          },
          "description": "A list of Mobile Packet Core activation status instances in a specific Mobile Packet Core."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core List Operation Status API service call."
    }
  }
}
