{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Access and Mobility Management Function deployment object.  An AMF deployment object represents an AMF instance that will be (or is) deployed as part of a Mobile Packet Core.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}/amfDeployments/{amfDeploymentName}": {
      "put": {
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployments_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Access and Mobility Management Function deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/AmfDeploymentNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmfDeployment"
            },
            "description": "Parameters supplied to create or update an AMF deployment object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the AMF deployment resource.",
            "schema": {
              "$ref": "#/definitions/AmfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create or update AMF Deployment resource": {
            "$ref": "./examples/AmfDeploymentCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployments_Get",
        "description": "Get information about the specified Mobile Packet Core Access and Mobility Management Function Deployment resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/AmfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the AMF deployment resource.",
            "schema": {
              "$ref": "#/definitions/AmfDeployment"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get AMF Deployment resource": {
            "$ref": "./examples/AmfDeploymentGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployments_Delete",
        "description": "Deletes the specified Mobile Packet Core Access and Mobility Management Function Deployment resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "$ref": "#/parameters/AmfDeploymentNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The AMF Deployment resource is deleted"
          },
          "204": {
            "description": "Successful: The AMF Deployment resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete AMF Deployment resource": {
            "$ref": "./examples/AmfDeploymentDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}/amfDeployments": {
      "get": {
        "tags": [
          "AmfDeployments"
        ],
        "operationId": "AmfDeployments_ListByCluster",
        "description": "Lists all the Access and Mobility Management Function deployment resources in a cluster.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/AmfDeploymentListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AMF deployment objects by mobile packet core instance": {
            "$ref": "./examples/AmfDeploymentListByCluster.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AmfDeploymentProperties": {
      "type": "object",
      "description": "The AMF deployment resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the AMF deployment resource."
        },
        "deploymentStatus": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/DeploymentStatus"
        },
        "deploymentDetails": {
          "type": "object",
          "readOnly": true,
          "description": "Resolved details of the AMF deployment",
          "properties": {
            "amfName": {
              "type": "string",
              "maxLength": 150,
              "description": "AMF name communicated to the 5GAN.  ASN.1 PrintableString; max 150 characters from upper and lower case letters, digits, space, apostrophe, and any of '()+,-./:=?'"
            },
            "amfInstanceId": {
              "type": "string",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
              "description": "Unique identity of the AMF in the form of a uuid"
            },
            "relativeCapacity": {
              "type": "integer",
              "minimum": 0,
              "maximum": 255,
              "description": "The relative processing capacity of an AMF with respect to the other AMFs in the AMF Set"
            },
            "setId": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1023,
              "description": "AMF set identifier - part of GUAMI"
            },
            "pointer": {
              "type": "array",
              "minItems": 1,
              "maxItems": 16,
              "description": "AMF pointer information",
              "items": {
                "type": "integer",
                "minimum": 0,
                "maximum": 63
              }
            },
            "n2Endpoints": {
              "type": "array",
              "description": "Local N2 endpoints for communicating with the RAN",
              "items": {
                "type": "object",
                "properties": {
                  "weight": {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 100,
                    "description": "Relative weight of the endpoint on a scale of 0 to 255. 0 would indicate RAN to not use the TNLA represented by the endpoint"
                  },
                  "isPrimary": {
                    "type": "boolean",
                    "default": false,
                    "description": "Primary SCTP endpoint on AMF for 5GAN to use on initial connection, it is mandatory. Subsequent connections may optionally use non-primary endpoints as dynamically directed by AMF.  Only one n2Endpoint can be marked as primary"
                  },
                  "ipv4Fqdn": {
                    "$ref": "./common.json#/definitions/Fqdn",
                    "description": "The IPv4 FQDN of the associated N2 endpoint. If provided it is published in the N2 Profile."
                  },
                  "ipv4Address": {
                    "$ref": "./common.json#/definitions/Ipv4Address",
                    "description": "The IPv4 address of the associated N2 endpoint"
                  },
                  "ipv6Fqdn": {
                    "$ref": "./common.json#/definitions/Fqdn",
                    "description": "The IPv6 FQDN of the associated N2 endpoint. If provided it is published in the N2 Profile."
                  },
                  "ipv6Address": {
                    "$ref": "./common.json#/definitions/Ipv6Address",
                    "description": "The IPv6 address of the associated N2 endpoint"
                  },
                  "multiHomeIpv4Fqdn": {
                    "$ref": "./common.json#/definitions/Fqdn",
                    "description": "The Multi-Home IPv4 FQDN of the associated N2 endpoint. If provided it is published in the N2 Profile."
                  },
                  "multiHomeIpv4Address": {
                    "$ref": "./common.json#/definitions/Ipv4Address",
                    "description": "The multi-home IPv4 address of the associated N2 endpoint"
                  },
                  "multiHomeIpv6Fqdn": {
                    "$ref": "./common.json#/definitions/Fqdn",
                    "description": "The Multi-Home IPv6 FQDN of the associated N2 endpoint. If provided it is published in the N2 Profile."
                  },
                  "multiHomeIpv6Address": {
                    "$ref": "./common.json#/definitions/Ipv6Address",
                    "description": "The multi-home IPv6 address of the associated N2 endpoint"
                  }
                }
              }
            },
            "resolvedNrfs": {
              "$ref": "./common.json#/definitions/ResolvedNrfs",
              "description": "The NRFs used by this instance of AMF"
            }
          }
        },
        "networkFunctionVersionManagement": {
          "$ref": "./common.json#/definitions/NetworkFunctionVersionManagement"
        },
        "deploymentArea": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the deployment area to which this network function belongs.",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        },
        "networkSliceList": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "networkSlice": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "Network slice in which this network function participates"
              },
              "distinguishedName": {
                "$ref": "./common.json#/definitions/DistinguishedName",
                "description": "This identifies the specific slice subnet profile in the network slice subnet profile list"
              }
            }
          },
          "description": "A list of network slice resource object and subnet instance"
        }
      },
      "required": [
        "deploymentArea",
        "networkSliceList"
      ]
    },
    "AmfDeployment": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AmfDeploymentProperties",
          "description": "AMF Deployment properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The AMF deployment resource definition."
    },
    "AmfDeploymentListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AmfDeployment"
          },
          "description": "A list of AMF function in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Get AMF Deployment API service call."
    }
  },
  "parameters": {
    "AmfDeploymentNameParameter": {
      "name": "amfDeploymentName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of AMF deployment.",
      "x-ms-parameter-location": "client"
    }
  }
}
