{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Access and Mobility Management Function Profile.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/amfProfiles/{amfProfileName}": {
      "put": {
        "tags": [
          "AmfProfiles"
        ],
        "operationId": "AmfProfiles_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Access and Mobility Management Function profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "amfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the amfProfile object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmfProfile"
            },
            "description": "Parameters supplied to create or update an AMF profile object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core AMF Profile resource.",
            "schema": {
              "$ref": "#/definitions/AmfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create AmfProfile": {
            "$ref": "./examples/AmfProfileCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "AmfProfiles"
        ],
        "operationId": "AmfProfiles_Get",
        "description": "Get information about the specified Mobile Packet Core Access and Mobility Management Function Profile resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "amfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the amfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core AMF Profile resource.",
            "schema": {
              "$ref": "#/definitions/AmfProfile"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get AmfProfile": {
            "$ref": "./examples/AmfProfileGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "AmfProfiles"
        ],
        "operationId": "AmfProfiles_Delete",
        "description": "Deletes the specified Mobile Packet Core Access and Mobility Management Function Profile resource.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "amfProfileName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the amfProfile object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The AMF Profile resource is deleted"
          },
          "204": {
            "description": "Successful: The AMF Profile resource does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete AmfProfile": {
            "$ref": "./examples/AmfProfileDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/amfProfiles": {
      "get": {
        "tags": [
          "AmfProfiles"
        ],
        "operationId": "AmfProfiles_ListByMobilePacketCore",
        "description": "Lists all the Access and Mobility Management Function profiles in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/AmfProfileListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List AMF profiles by mobile packet core instance": {
            "$ref": "./examples/AmfProfileListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "AmfProfileProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the AMF profile resource."
        },
        "n2Endpoints": {
          "type": "array",
          "minItems": 1,
          "maxItems": 4,
          "description": "Local N2 endpoints for communicating with the RAN",
          "items": {
            "type": "object",
            "properties": {
              "ipVersion": {
                "type": "string",
                "enum": [
                  "Ipv4",
                  "Ipv6"
                ],
                "x-ms-enum": {
                  "name": "IpVersion",
                  "modelAsString": true
                },
                "default": "Ipv4",
                "description": "IP version to use"
              },
              "n2MultiHoming": {
                "$ref": "./common.json#/definitions/EnableDisable",
                "description": "Whether N2 endpoints should be multi-homed"
              }
            }
          }
        }
      },
      "description": "The Mobile Packet Core AmfProfile resource definition."
    },
    "AmfProfile": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AmfProfileProperties",
          "description": "Mobile Packet Core AMF Profile properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core AMF Profile resource."
    },
    "AmfProfileListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AmfProfile"
          },
          "description": "A list of Mobile Packet Core AMF Profile objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core AMF Profile API service call."
    }
  }
}
