{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Cluster resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters/{clusterName}": {
      "put": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Cluster resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Cluster"
            },
            "description": "Parameters supplied to create or update a cluster object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core cluster resource.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create cluster": {
            "$ref": "./examples/ClusterCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Get",
        "description": "Get information about the specified Mobile Packet Core Cluster resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core cluster resource.",
            "schema": {
              "$ref": "#/definitions/Cluster"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get cluster": {
            "$ref": "./examples/ClusterGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_Delete",
        "description": "Deletes the specified Mobile Packet Core Cluster resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/ClusterNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The cluster has been deleted"
          },
          "204": {
            "description": "Successful: The cluster does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Cluster": {
            "$ref": "./examples/ClusterDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}/clusters": {
      "get": {
        "tags": [
          "Clusters"
        ],
        "operationId": "Clusters_ListByNfvi",
        "description": "Lists all the clusters in a NFVI instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/ClusterListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Clusters by resource group": {
            "$ref": "./examples/ClusterListByNfvi.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "ClusterIpPools": {
      "type": "object",
      "description": "Common parameters for IP pools",
      "properties": {
        "ipStart": {
          "$ref": "./common.json#/definitions/IpAddress"
        },
        "ipEnd": {
          "$ref": "./common.json#/definitions/IpAddress"
        },
        "allocations": {
          "type": "array",
          "description": "IP addresses that have been allocated for workloads (in use)",
          "readOnly": true,
          "items": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "string",
                "description": "For what this IP address is used"
              },
              "ipAddress": {
                "$ref": "./common.json#/definitions/IpAddress"
              }
            }
          }
        }
      }
    },
    "ClusterProperties": {
      "type": "object",
      "description": "Mobile packet core cluster properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "customLocationReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the custom location resource."
        },
        "connectedClusterReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the connected cluster resource."
        },
        "clusterUsage": {
          "type": "string",
          "enum": [
            "Management",
            "NetworkFunctions"
          ],
          "x-ms-enum": {
            "name": "ClusterUsage",
            "modelAsString": true
          },
          "description": "Whether cluster is used for management components or for hosting network functions"
        },
        "clusterType": {
          "type": "string",
          "enum": [
            "Aks",
            "HybridAks"
          ],
          "x-ms-enum": {
            "name": "clusterType",
            "modelAsString": true
          },
          "description": "The type of cluster"
        },
        "storage": {
          "type": "object",
          "description": "Storage information",
          "properties": {
            "serverIp": {
              "$ref": "./common.json#/definitions/IpAddress"
            },
            "filePath": {
              "type": "string",
              "description": "Path of storage location on remote server"
            }
          }
        },
        "managementIpPools": {
          "type": "array",
          "description": "Management data IP Pools supported by this cluster for use by deployed workloads",
          "items": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/definitions/ClusterIpPools"
              }
            ],
            "properties": {
              "aksPoolParameters": {
                "type": "object",
                "description": "Parameters specific to AKS clusters",
                "properties": {
                  "subnetName": {
                    "type": "string",
                    "description": "Subnet to which this IP pool applies"
                  },
                  "subnetUsage": {
                    "type": "array",
                    "description": "For what this subnet is used",
                    "items": {
                      "type": "string",
                      "enum": [
                        "OAM",
                        "LawfulIntercept",
                        "Gn",
                        "N4"
                      ],
                      "x-ms-enum": {
                        "name": "AksSubnetUsage",
                        "modelAsString": true
                      },
                      "description": "Usage of the AKS subnet.  If not specified, applies to all"
                    }
                  }
                }
              }
            }
          }
        },
        "userDataIpPools": {
          "type": "array",
          "description": "User data IP Pools supported by this cluster for use by deployed workloads",
          "items": {
            "type": "object",
            "allOf": [
              {
                "$ref": "#/definitions/ClusterIpPools"
              }
            ],
            "properties": {
              "networkContextName": {
                "$ref": "./common.json#/definitions/NetworkContextName"
              },
              "poolType": {
                "type": "string",
                "enum": [
                  "Interface",
                  "User",
                  "NAT"
                ],
                "x-ms-enum": {
                  "name": "ClusterUserDataIpPoolType",
                  "modelAsString": true
                },
                "description": "Usage of IP pool"
              },
              "tag": {
                "type": "string",
                "description": "Optional tag to be used to identify this cluster pool.  If specified, only IP pools in the Network Function profile object that have the same tag value can be populated with data from this pool"
              }
            }
          }
        },
        "dataNetworkAccessIdentifierList": {
          "type": "array",
          "description": "List of Data Network Names and associated Data Network Access Identifiers applicable to this cluster",
          "items": {
            "type": "object",
            "properties": {
              "dataNetwork": {
                "$ref": "./common.json#/definitions/ReferencedResource",
                "description": "Reference to Data Network object to which the Data Network Access Identifiers applies"
              },
              "dataNetworkAccessIdentifiers": {
                "type": "array",
                "description": "List of Data Network Access Identifiers applicable to this cluster, scoped by the referenced Data Network",
                "items": {
                  "$ref": "./common.json#/definitions/Dnai"
                }
              }
            }
          }
        },
        "locality": {
          "type": "string",
          "description": "Cluster's locality.  Provided to the Network Repository Function (NRF) for resolution of other network functions."
        },
        "preferredLocality": {
          "type": "string",
          "description": "When resolving other network functions, the preferred locality of those network functions"
        },
        "safeDeploymentGroup": {
          "type": "string",
          "description": "Safe deployment grouping.  Network functions deployed on clusters/NFVIs with the same safe deployment grouping value are managed together"
        }
      },
      "required": [
        "clusterUsage",
        "clusterType"
      ]
    },
    "Cluster": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ClusterProperties",
          "description": "Mobile packet core cluster properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core cluster resource."
    },
    "ClusterListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Cluster"
          },
          "description": "A list of Mobile Packet Core cluster objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core cluster API service call."
    }
  }
}
