{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The resources in this swagger specification will be used to manage the virtual network functions deployed using mobile packet core",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {},
  "definitions": {
    "ProvisioningState": {
      "type": "string",
      "readOnly": true,
      "description": "The current provisioning state.",
      "enum": [
        "Succeeded",
        "Accepted",
        "Deleting",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true
      }
    },
    "TimeZone": {
      "type": "string",
      "description": "The time zone name or POSIX-compliant time zone string",
      "enum": [
        "Africa/Abidjan",
        "Africa/Accra",
        "Africa/Algiers",
        "Africa/Asmara",
        "Africa/Bamako",
        "Africa/Bangui",
        "Africa/Banjul",
        "Africa/Bissau",
        "Africa/Blantyre",
        "Africa/Brazzaville",
        "Africa/Bujumbura",
        "Africa/Cairo",
        "Africa/Casablanca",
        "Africa/Ceuta",
        "Africa/Conakry",
        "Africa/Dakar",
        "Africa/DarEsSalaam",
        "Africa/Djibouti",
        "Africa/Douala",
        "Africa/Freetown",
        "Africa/Gaborone",
        "Africa/Harare",
        "Africa/Johannesburg",
        "Africa/Juba",
        "Africa/Kampala",
        "Africa/Khartoum",
        "Africa/Kigali",
        "Africa/Kinshasa",
        "Africa/Lagos",
        "Africa/Libreville",
        "Africa/Lome",
        "Africa/Luanda",
        "Africa/Lubumbashi",
        "Africa/Lusaka",
        "Africa/Malabo",
        "Africa/Maputo",
        "Africa/Maseru",
        "Africa/Mbabane",
        "Africa/Mogadishu",
        "Africa/Monrovia",
        "Africa/Nairobi",
        "Africa/Ndjamena",
        "Africa/Niamey",
        "Africa/Nouakchott",
        "Africa/Ouagadougou",
        "Africa/PortoNovo",
        "Africa/SaoTome",
        "Africa/Timbuktu",
        "Africa/Tripoli",
        "Africa/Tunis",
        "Africa/Windhoek",
        "America/Anchorage",
        "America/Anguilla",
        "America/Antigua",
        "America/Argentina/BuenosAires",
        "America/Argentina/Cordoba",
        "America/Argentina/Mendoza",
        "America/Argentina/RioGallegos",
        "America/Argentina/Salta",
        "America/Argentina/SanJuan",
        "America/Argentina/SanLuis",
        "America/Argentina/Tucuman",
        "America/Aruba",
        "America/Asuncion",
        "America/Bahia",
        "America/Barbados",
        "America/Belem",
        "America/Belize",
        "America/BoaVista",
        "America/Bogota",
        "America/Boise",
        "America/BuenosAires",
        "America/CambridgeBay",
        "America/CampoGrande",
        "America/Cancun",
        "America/Caracas",
        "America/Cayenne",
        "America/Cayman",
        "America/Chicago",
        "America/Chihuahua",
        "America/CoralHarbour",
        "America/Cordoba",
        "America/Curacao",
        "America/Dawson",
        "America/DawsonCreek",
        "America/Denver",
        "America/Detroit",
        "America/Dominica",
        "America/Edmonton",
        "America/ElSalvador",
        "America/Fortaleza",
        "America/FortNelson",
        "America/FortWayne",
        "America/GlaceBay",
        "America/Godthab",
        "America/GooseBay",
        "America/GrandTurk",
        "America/Grenada",
        "America/Guadeloupe",
        "America/Guatemala",
        "America/Guayaquil",
        "America/Guyana",
        "America/Halifax",
        "America/Havana",
        "America/Hermosillo",
        "America/Indiana/Indianapolis",
        "America/Indiana/Knox",
        "America/Indiana/Marengo",
        "America/Indiana/Petersburg",
        "America/Indianapolis",
        "America/Indiana/TellCity",
        "America/Indiana/Vincennes",
        "America/Iqaluit",
        "America/Jamaica",
        "America/Juneau",
        "America/Kentucky/Louisville",
        "America/Kentucky/Monticello",
        "America/KnoxIN",
        "America/LaPaz",
        "America/Lima",
        "America/LosAngeles",
        "America/Louisville",
        "America/LowerPrinces",
        "America/Maceio",
        "America/Managua",
        "America/Martinique",
        "America/Matamoros",
        "America/Mazatlan",
        "America/Mendoza",
        "America/Menominee",
        "America/Merida",
        "America/MexicoCity",
        "America/Miquelon",
        "America/Moncton",
        "America/Monterrey",
        "America/Montevideo",
        "America/Montreal",
        "America/Montserrat",
        "America/Nassau",
        "America/NewYork",
        "America/Nome",
        "America/NorthDakota/Beulah",
        "America/NorthDakota/Center",
        "America/NorthDakota/NewSalem",
        "America/Panama",
        "America/Paramaribo",
        "America/Phoenix",
        "America/PortAuPrince",
        "America/PortoAcre",
        "America/PortOfSpain",
        "America/PuertoRico",
        "America/RainyRiver",
        "America/RankinInlet",
        "America/Recife",
        "America/Regina",
        "America/Resolute",
        "America/Rosario",
        "America/SantaIsabel",
        "America/Santiago",
        "America/Sitka",
        "America/StJohns",
        "America/StLucia",
        "America/StThomas",
        "America/StVincent",
        "America/SwiftCurrent",
        "America/Tegucigalpa",
        "America/Thule",
        "America/ThunderBay",
        "America/Tijuana",
        "America/Toronto",
        "America/Tortola",
        "America/Vancouver",
        "America/Virgin",
        "America/Whitehorse",
        "America/Winnipeg",
        "America/Yellowknife",
        "Antarctica/Casey",
        "Antarctica/Davis",
        "Antarctica/Mawson",
        "Antarctica/Palmer",
        "Antarctica/SouthPole",
        "Antarctica/Troll",
        "Antarctica/Vostok",
        "Asia/Aden",
        "Asia/Almaty",
        "Asia/Amman",
        "Asia/Ashgabat",
        "Asia/Ashkhabad",
        "Asia/Baghdad",
        "Asia/Bahrain",
        "Asia/Baku",
        "Asia/Bangkok",
        "Asia/Barnaul",
        "Asia/Beirut",
        "Asia/Bishkek",
        "Asia/Brunei",
        "Asia/Chita",
        "Asia/Chongqing",
        "Asia/Colombo",
        "Asia/Dacca",
        "Asia/Damascus",
        "Asia/Dhaka",
        "Asia/Dubai",
        "Asia/Dushanbe",
        "Asia/Famagusta",
        "Asia/Gaza",
        "Asia/Harbin",
        "Asia/Hebron",
        "Asia/HongKong",
        "Asia/Irkutsk",
        "Asia/Istanbul",
        "Asia/Jakarta",
        "Asia/Jayapura",
        "Asia/Jerusalem",
        "Asia/Kabul",
        "Asia/Kamchatka",
        "Asia/Karachi",
        "Asia/Kashgar",
        "Asia/Kathmandu",
        "Asia/Katmandu",
        "Asia/Krasnoyarsk",
        "Asia/Kuching",
        "Asia/Kuwait",
        "Asia/MacaoSAR",
        "Asia/Macau",
        "Asia/Magadan",
        "Asia/Makassar",
        "Asia/Manila",
        "Asia/Muscat",
        "Asia/Nicosia",
        "Asia/Novokuznetsk",
        "Asia/Novosibirsk",
        "Asia/Omsk",
        "Asia/Oral",
        "Asia/Pontianak",
        "Asia/Pyongyang",
        "Asia/Qatar",
        "Asia/Riyadh",
        "Asia/Sakhalin",
        "Asia/Samarkand",
        "Asia/Seoul",
        "Asia/Shanghai",
        "Asia/Singapore",
        "Asia/Taipei",
        "Asia/Tashkent",
        "Asia/Tbilisi",
        "Asia/Tehran",
        "Asia/Thimbu",
        "Asia/Thimphu",
        "Asia/Tokyo",
        "Asia/Tomsk",
        "Asia/UjungPandang",
        "Asia/Ulaanbaatar",
        "Asia/Urumqi",
        "Asia/Vientiane",
        "Asia/Vladivostok",
        "Asia/Yakutsk",
        "Asia/Yangon",
        "Asia/Yekaterinburg",
        "Asia/Yerevan",
        "Atlantic/Azores",
        "Atlantic/Bermuda",
        "Atlantic/Canary",
        "Atlantic/CapeVerde",
        "Atlantic/Faeroe",
        "Atlantic/Faroe",
        "Atlantic/Madeira",
        "Atlantic/Reykjavik",
        "Atlantic/SouthGeorgia",
        "Atlantic/Stanley",
        "Atlantic/StHelena",
        "Australia/ACT",
        "Australia/Adelaide",
        "Australia/Brisbane",
        "Australia/BrokenHill",
        "Australia/Canberra",
        "Australia/Currie",
        "Australia/Darwin",
        "Australia/Hobart",
        "Australia/LHI",
        "Australia/LordHowe",
        "Australia/Melbourne",
        "Australia/North",
        "Australia/NSW",
        "Australia/Perth",
        "Australia/Queensland",
        "Australia/South",
        "Australia/Sydney",
        "Australia/Tasmania",
        "Australia/Victoria",
        "Australia/West",
        "Brazil/Acre",
        "Brazil/East",
        "Brazil/West",
        "Canada/Atlantic",
        "Canada/Central",
        "Canada/Eastern",
        "Canada/Mountain",
        "Canada/Newfoundland",
        "Canada/Pacific",
        "Canada/Saskatchewan",
        "Canada/Yukon",
        "CET",
        "Chile/Continental",
        "Chile/EasterIsland",
        "CST6CDT",
        "Cuba",
        "EET",
        "Egypt",
        "Eire",
        "EST",
        "EST5EDT",
        "Etc/GMT",
        "Etc/GMTPlus0",
        "Etc/GMTMinus0",
        "Etc/GMT0",
        "Etc/GMTPlus1",
        "Etc/GMTMinus1",
        "Etc/GMTPlus10",
        "Etc/GMTMinus10",
        "Etc/GMTPlus11",
        "Etc/GMTMinus11",
        "Etc/GMTPlus12",
        "Etc/GMTMinus12",
        "Etc/GMTMinus13",
        "Etc/GMTMinus14",
        "Etc/GMTPlus2",
        "Etc/GMTMinus2",
        "Etc/GMTPlus3",
        "Etc/GMTMinus3",
        "Etc/GMTPlus4",
        "Etc/GMTMinus4",
        "Etc/GMTPlus5",
        "Etc/GMTMinus5",
        "Etc/GMTPlus6",
        "Etc/GMTMinus6",
        "Etc/GMTPlus7",
        "Etc/GMTMinus7",
        "Etc/GMTPlus8",
        "Etc/GMTMinus8",
        "Etc/GMTPlus9",
        "Etc/GMTMinus9",
        "Etc/Greenwich",
        "Etc/UCT",
        "Etc/Universal",
        "Etc/UTC",
        "Etc/Zulu",
        "Europe/Amsterdam",
        "Europe/Andorra",
        "Europe/Astrakhan",
        "Europe/Athens",
        "Europe/Belfast",
        "Europe/Belgrade",
        "Europe/Berlin",
        "Europe/Bratislava",
        "Europe/Brussels",
        "Europe/Bucharest",
        "Europe/Budapest",
        "Europe/Chisinau",
        "Europe/Copenhagen",
        "Europe/Dublin",
        "Europe/Gibraltar",
        "Europe/Guernsey",
        "Europe/Helsinki",
        "Europe/IsleOfMan",
        "Europe/Istanbul",
        "Europe/Jersey",
        "Europe/Kaliningrad",
        "Europe/Kiev",
        "Europe/Kirov",
        "Europe/Lisbon",
        "Europe/Ljubljana",
        "Europe/London",
        "Europe/Luxembourg",
        "Europe/Madrid",
        "Europe/Malta",
        "Europe/Mariehamn",
        "Europe/Minsk",
        "Europe/Monaco",
        "Europe/Moscow",
        "Europe/Nicosia",
        "Europe/Oslo",
        "Europe/Paris",
        "Europe/Podgorica",
        "Europe/Prague",
        "Europe/Riga",
        "Europe/Rome",
        "Europe/Samara",
        "Europe/Sarajevo",
        "Europe/Saratov",
        "Europe/Simferopol",
        "Europe/Skopje",
        "Europe/Sofia",
        "Europe/Stockholm",
        "Europe/Tallinn",
        "Europe/Tirane",
        "Europe/Ulyanovsk",
        "Europe/Vaduz",
        "Europe/Vatican",
        "Europe/Vienna",
        "Europe/Vilnius",
        "Europe/Volgograd",
        "Europe/Warsaw",
        "Europe/Zagreb",
        "Europe/Zaporozhye",
        "Europe/Zurich",
        "GB",
        "GBEire",
        "GMT",
        "GMTPlus0",
        "GMTMinus0",
        "GMT0",
        "Greenwich",
        "Hongkong",
        "HST",
        "Iceland",
        "Indian/Antananarivo",
        "Indian/Chagos",
        "Indian/Christmas",
        "Indian/Cocos",
        "Indian/Comoro",
        "Indian/Kerguelen",
        "Indian/Maldives",
        "Indian/Mauritius",
        "Indian/Mayotte",
        "Indian/Reunion",
        "Iran",
        "Israel",
        "Jamaica",
        "Japan",
        "Kwajalein",
        "Libya",
        "MET",
        "Mexico/General",
        "MST",
        "MST7MDT",
        "Navajo",
        "NZ",
        "Pacific/Apia",
        "Pacific/Auckland",
        "Pacific/Bougainville",
        "Pacific/Chatham",
        "Pacific/Easter",
        "Pacific/Fiji",
        "Pacific/Funafuti",
        "Pacific/Galapagos",
        "Pacific/Gambier",
        "Pacific/Guadalcanal",
        "Pacific/Guam",
        "Pacific/Honolulu",
        "Pacific/Johnston",
        "Pacific/Kwajalein",
        "Pacific/Majuro",
        "Pacific/Marquesas",
        "Pacific/Midway",
        "Pacific/Nauru",
        "Pacific/Niue",
        "Pacific/Norfolk",
        "Pacific/Noumea",
        "Pacific/Palau",
        "Pacific/Pitcairn",
        "Pacific/Ponape",
        "Pacific/Rarotonga",
        "Pacific/Saipan",
        "Pacific/Samoa",
        "Pacific/Tahiti",
        "Pacific/Tarawa",
        "Pacific/Truk",
        "Pacific/Wake",
        "Pacific/Wallis",
        "Pacific/Yap",
        "Poland",
        "Portugal",
        "PRC",
        "PST8PDT",
        "ROK",
        "Singapore",
        "UCT",
        "Universal",
        "US/Alaska",
        "US/Aleutian",
        "US/Arizona",
        "US/Central",
        "US/Eastern",
        "US/EastIndiana",
        "US/Hawaii",
        "US/Michigan",
        "US/Mountain",
        "US/Pacific",
        "US/PacificNew",
        "US/Samoa",
        "UTC",
        "WET",
        "WSU",
        "Zulu"
      ],
      "x-ms-enum": {
        "name": "TimezoneString",
        "modelAsString": true
      }
    },
    "NetworkFunctionType": {
      "type": "string",
      "description": "Type of network function",
      "enum": [
        "SMF",
        "AMF",
        "UPF",
        "NRF",
        "NSSF",
        "SaegwUP",
        "SaegwCP",
        "MME"
      ],
      "x-ms-enum": {
        "name": "NetworkFunctionType",
        "modelAsString": true
      }
    },
    "NetworkFunctionVersionManagement": {
      "type": "object",
      "description": "Image management information for individual network functions",
      "properties": {
        "currentImageVersion": {
          "type": "string",
          "readOnly": true,
          "description": "The image version this network function is currently running"
        },
        "desiredImageVersion": {
          "type": "string",
          "readOnly": true,
          "description": "The image version to which this network function will be upgraded"
        }
      }
    },
    "SummaryOfResources": {
      "readOnly": true,
      "type": "array",
      "description": "List of objects that are present or have changed (added/delete/modified)",
      "items": {
        "type": "object",
        "properties": {
          "resourceId": {
            "$ref": "#/definitions/ReferencedResource",
            "description": "The reference to the changed object"
          },
          "action": {
            "description": "The action applied to the object.  Used when getting change lists.  Not used in the manifest response",
            "type": "string",
            "enum": [
              "Create",
              "Update",
              "Delete"
            ],
            "x-ms-enum": {
              "name": "SummaryChangeAction",
              "modelAsString": true
            }
          }
        }
      }
    },
    "BaseMetrics": {
      "type": "object",
      "description": "Base metrics of the Mobile Packet Core instance",
      "readOnly": true,
      "properties": {
        "mobilityManagement": {
          "type": "object",
          "description": "Metrics applicable to mobility management functions",
          "properties": {
            "currentSaauCount": {
              "type": "integer",
              "format": "int64",
              "description": "Gauge showing the current count of Simultaneously Attached Active Users."
            }
          }
        },
        "sessionManagement": {
          "type": "object",
          "description": "Metrics applicable to session management functions",
          "properties": {
            "currentSessionCount": {
              "type": "integer",
              "format": "int64",
              "description": "Gauge showing the current count of PDU Sessions."
            }
          }
        },
        "userPlane": {
          "type": "object",
          "description": "Metrics applicable to user plane functions",
          "properties": {
            "dataTransferred": {
              "type": "number",
              "description": "Total bidirectional data transferred (GB)"
            }
          }
        }
      }
    },
    "ManagementStatus": {
      "type": "string",
      "description": "Status of this event",
      "enum": [
        "Processing",
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ManagementStatus",
        "modelAsString": true
      }
    },
    "DeploymentStatus": {
      "type": "object",
      "description": "Status of the deployment",
      "properties": {
        "state": {
          "type": "string",
          "description": "State of the deployment",
          "enum": [
            "Staged",
            "Deploying",
            "Deployed"
          ],
          "x-ms-enum": {
            "name": "DeploymentState",
            "modelAsString": true
          }
        },
        "lifecycleManagement": {
          "type": "array",
          "description": "Information about lifecycle management events",
          "items": {
            "type": "object",
            "properties": {
              "startTimestamp": {
                "type": "string",
                "format": "date-time",
                "description": "Start timestamp (UTC) of triggering snapshot event"
              },
              "endTimestamp": {
                "type": "string",
                "format": "date-time",
                "description": "End timestamp (UTC) of triggering snapshot event"
              },
              "snapshotId": {
                "$ref": "#/definitions/ReferencedResource",
                "description": "URI of triggering snapshot event"
              },
              "operation": {
                "type": "string",
                "description": "Operation ID for this event",
                "enum": [
                  "Instantiate",
                  "Terminate"
                ],
                "x-ms-enum": {
                  "name": "LifecycleManagementOperation",
                  "modelAsString": true
                }
              },
              "status": {
                "$ref": "#/definitions/ManagementStatus"
              },
              "details": {
                "type": "string",
                "description": "Details of the lifecycle management event"
              }
            }
          }
        },
        "configurationManagement": {
          "type": "array",
          "description": "Information about configuration management events",
          "items": {
            "type": "object",
            "properties": {
              "startTimestamp": {
                "type": "string",
                "format": "date-time",
                "description": "Start timestamp (UTC) of triggering snapshot event"
              },
              "endTimestamp": {
                "type": "string",
                "format": "date-time",
                "description": "End timestamp (UTC) of triggering snapshot event"
              },
              "snapshotId": {
                "$ref": "#/definitions/ReferencedResource",
                "description": "URI of triggering snapshot event"
              },
              "status": {
                "$ref": "#/definitions/ManagementStatus"
              },
              "details": {
                "type": "string",
                "description": "Details of the configuration management event"
              }
            }
          }
        },
        "allocatedIps": {
          "type": "array",
          "description": "IPs that have been allocated for this deployment",
          "items": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "string",
                "description": "For what this IP range is used"
              },
              "startIp": {
                "$ref": "#/definitions/IpAddress"
              },
              "endIp": {
                "$ref": "#/definitions/IpAddress"
              },
              "aksDetails": {
                "type": "object",
                "description": "Information applicable to AKS deployments",
                "properties": {
                  "subnetName": {
                    "type": "string",
                    "description": "Name of the virtual network subnet from which this IP range is allocated."
                  }
                }
              }
            }
          }
        },
        "allocatedNames": {
          "type": "array",
          "description": "Names that have been allocated for this deployment",
          "items": {
            "type": "object",
            "properties": {
              "usage": {
                "type": "string",
                "description": "For what this name is used"
              },
              "name": {
                "type": "string",
                "description": "Allocated name"
              },
              "value": {
                "type": "string",
                "description": "Value of name"
              }
            }
          }
        }
      }
    },
    "PfcpPeers": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Unique name of the remote PFCP Peer"
          },
          "fqdn": {
            "$ref": "#/definitions/Fqdn",
            "description": "Peer FQDN"
          },
          "ipv4Address": {
            "$ref": "#/definitions/Ipv4Address",
            "description": "Peer IPv4 Address"
          },
          "ipv6Address": {
            "$ref": "#/definitions/Ipv6Address",
            "description": "Peer IPv6 Address"
          },
          "port": {
            "type": "integer",
            "default": 8805,
            "maximum": 65536,
            "description": "Peer port.  Default is 8805"
          }
        }
      },
      "description": "A list of remote PFCP peers with which the local network function instance communicates"
    },
    "ResolvedNrfs": {
      "type": "array",
      "description": "Resolved NRF information",
      "items": {
        "type": "object",
        "properties": {
          "discovery": {
            "type": "object",
            "description": "NRF discovery interface information",
            "properties": {
              "fqdn": {
                "$ref": "#/definitions/Fqdn",
                "description": "The FQDN of the NRF service"
              },
              "ipv4Address": {
                "$ref": "#/definitions/Ipv4Address",
                "description": "The IPv4 of the NRF service"
              },
              "ipv6Address": {
                "$ref": "#/definitions/Ipv6Address",
                "description": "The IPv6 of the NRF service"
              },
              "port": {
                "type": "integer",
                "description": "Port for the NRF Service. Default: 80",
                "default": 80,
                "maximum": 65536
              }
            }
          },
          "management": {
            "type": "object",
            "description": "NRF management interface information",
            "properties": {
              "fqdn": {
                "$ref": "#/definitions/Fqdn",
                "description": "The FQDN of the NRF service"
              },
              "ipv4Address": {
                "$ref": "#/definitions/Ipv4Address",
                "description": "The IPv4 of the NRF service"
              },
              "ipv6Address": {
                "$ref": "#/definitions/Ipv6Address",
                "description": "The IPv6 of the NRF service"
              },
              "port": {
                "type": "integer",
                "description": "Port for the NRF Service. Default: 80",
                "default": 80,
                "maximum": 65536
              }
            }
          }
        }
      }
    },
    "ReferencedResource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Resource ID."
        }
      },
      "description": "Reference to another resource.",
      "x-ms-azure-resource": true
    },
    "DistinguishedName": {
      "type": "string",
      "description": "Distinguished name, as per TS 32.300"
    },
    "EnableDisable": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled"
      ],
      "x-ms-enum": {
        "name": "EnableDisable",
        "modelAsString": true
      },
      "description": "Enable/Disable enum"
    },
    "FiveQi": {
      "type": "integer",
      "minimum": 0,
      "maximum": 255,
      "description": "5G Quality of service Identifier"
    },
    "ArpPriorityLevel": {
      "type": "integer",
      "minimum": 1,
      "maximum": 15,
      "description": "allocation & retention priority:  higher values are preferred"
    },
    "ArpPreemptionCapability": {
      "type": "string",
      "enum": [
        "NoPreempt",
        "MayPreempt"
      ],
      "x-ms-enum": {
        "name": "ArpPreemptionCapability",
        "modelAsString": true
      },
      "description": "Allocation and Retention Policy preemption capability"
    },
    "ArpPreemptionVulnerability": {
      "type": "string",
      "enum": [
        "NotPreemptable",
        "IsPreemptable"
      ],
      "x-ms-enum": {
        "name": "ArpPreemptionVulnerability",
        "modelAsString": true
      },
      "description": "Allocation and Retention Policy preemption vulnerability"
    },
    "MeasurementUnit": {
      "type": "string",
      "enum": [
        "Kbps",
        "Mbps",
        "Gbps"
      ],
      "x-ms-enum": {
        "name": "MeasurementUnit",
        "modelAsString": true
      },
      "description": "rate-measurement-units: kilobits/megabits/gigabits per second",
      "default": "Kbps"
    },
    "QosFlowType": {
      "type": "string",
      "enum": [
        "GuaranteedBitRate",
        "NonGuaranteedBitRate"
      ],
      "x-ms-enum": {
        "name": "QosFlowType",
        "modelAsString": true
      },
      "description": "Whether QoS flow is GBR or Non-GBR"
    },
    "QosFlow": {
      "type": "object",
      "discriminator": "qosFlowType",
      "properties": {
        "qosFlowType": {
          "$ref": "#/definitions/QosFlowType"
        },
        "fiveQi": {
          "$ref": "#/definitions/FiveQi"
        },
        "arpPriorityLevel": {
          "$ref": "#/definitions/ArpPriorityLevel"
        },
        "arpPreemptionCapability": {
          "$ref": "#/definitions/ArpPreemptionCapability"
        },
        "arpPreemptionVulnerability": {
          "$ref": "#/definitions/ArpPreemptionVulnerability"
        },
        "priorityLevel": {
          "type": "integer",
          "minimum": 1,
          "maximum": 127,
          "description": "Priority level of QoS flow"
        },
        "measurementUnit": {
          "$ref": "#/definitions/MeasurementUnit"
        },
        "uplinkMaximumBitRate": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "uplink maximum bit rate"
        },
        "downlinkMaximumBitRate": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink maximum bit rate"
        }
      },
      "required": [
        "qosFlowType",
        "fiveQi",
        "arpPriorityLevel",
        "arpPreemptionCapability",
        "arpPreemptionVulnerability"
      ],
      "description": "Common QosFlow parameters"
    },
    "NonGbrQosFlow": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/QosFlow"
        }
      ],
      "properties": {
        "reflectiveQos": {
          "type": "boolean",
          "default": false,
          "description": "reflective qos config option"
        }
      },
      "x-ms-discriminator-value": "NonGuaranteedBitRate",
      "description": "Non guaranteed bit rate QoS flow properties. Non-gbr 5qi must be 5,6,7,8,9, 69, 70, 79, 80"
    },
    "GbrQosFlow": {
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/QosFlow"
        }
      ],
      "properties": {
        "isCriticalGuaranteedBitRate": {
          "type": "boolean",
          "default": false,
          "description": "delay critical gbr type"
        },
        "uplinkGuaranteedBitRate": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "uplink guaranteed bit rate"
        },
        "downlinkGuaranteedBitRate": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink guaranteed bit rate"
        },
        "averagingWindow": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4095,
          "description": "averaging window [1-4095] in ms"
        },
        "maxBurst": {
          "type": "integer",
          "minimum": 1,
          "maximum": 4095,
          "description": "uplink maximum burst, measurement-units: bytes[1-4095]"
        },
        "maxPacketLossRateDownlink": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "downlink maximum packet loss rate"
        },
        "maxPacketLossRateUplink": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "description": "uplink maximum packet loss rate"
        }
      },
      "x-ms-discriminator-value": "GuaranteedBitRate",
      "description": "Guaranteed bit rate QoS flow properties. Uplink-mbr/downlink-mbr and uplink-gbr/downlink-gbr must be greater than zero for GBR qos flow. Non-critical-gbr 5qi must be 1, 2, 3, 4, 65, 66, 67, 75. Critical gbr 5qi must be 82, 83, 84, 85"
    },
    "LoopbackUsage": {
      "type": "string",
      "enum": [
        "BGP",
        "BFD",
        "GTP",
        "Radius",
        "Diameter"
      ],
      "x-ms-enum": {
        "name": "LoopbackUsage",
        "modelAsString": true
      },
      "description": "Applications that can use a loopback"
    },
    "SscMode": {
      "type": "string",
      "enum": [
        "Mode1",
        "Mode2",
        "Mode3"
      ],
      "x-ms-enum": {
        "name": "SscMode",
        "modelAsString": true
      },
      "description": "Session and service continuity mode"
    },
    "PduType": {
      "type": "string",
      "enum": [
        "Ipv4",
        "Ipv6",
        "Ipv4v6"
      ],
      "x-ms-enum": {
        "name": "PduType",
        "modelAsString": true
      },
      "description": "PDU Type"
    },
    "IpVersion": {
      "type": "string",
      "enum": [
        "V4",
        "V6"
      ],
      "x-ms-enum": {
        "name": "IpVersion",
        "modelAsString": true
      },
      "description": "IP Version"
    },
    "NetworkContextName": {
      "type": "string",
      "description": "Definition of a network context name",
      "pattern": "^([a-zA-Z]([a-zA-Z0-9-._]){1,64})"
    },
    "DscpMarking": {
      "type": "string",
      "description": "DSCP marking, Valid values are: 0..63, df (0), af11 (10), af12 (12), af13 (14), af21 (18), af22 (20), af23 (22), af31 (26), af32 (28), af33 (30), af41 (34), af42 (36), af43 (38), cs1 (8), cs2 (16), cs3 (24), cs4 (32), cs5 (40), cs6 (48), cs7 (56), ef (46)",
      "enum": [
        "0",
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20",
        "21",
        "22",
        "23",
        "24",
        "25",
        "26",
        "27",
        "28",
        "29",
        "30",
        "31",
        "32",
        "33",
        "34",
        "35",
        "36",
        "37",
        "38",
        "39",
        "40",
        "41",
        "42",
        "43",
        "44",
        "45",
        "46",
        "47",
        "48",
        "49",
        "50",
        "51",
        "52",
        "53",
        "54",
        "55",
        "56",
        "57",
        "58",
        "59",
        "60",
        "61",
        "62",
        "63",
        "df",
        "af11",
        "af12",
        "af13",
        "af21",
        "af22",
        "af23",
        "af31",
        "af32",
        "af33",
        "af41",
        "af42",
        "af43",
        "cs1",
        "cs2",
        "cs3",
        "cs4",
        "cs5",
        "cs6",
        "cs7",
        "ef"
      ],
      "x-ms-enum": {
        "name": "DscpMarkingValue",
        "modelAsString": true
      },
      "default": "df"
    },
    "Ipv4Address": {
      "type": "string",
      "description": "IPv4 Address",
      "pattern": "^([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3}).([0-9]{1,3})$"
    },
    "Ipv6Address": {
      "type": "string",
      "description": "IPv6 Address",
      "pattern": "^(([0-9a-fA-F]{1,4}:){7,7}[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,7}:|([0-9a-fA-F]{1,4}:){1,6}:[0-9a-fA-F]{1,4}|([0-9a-fA-F]{1,4}:){1,5}(:[0-9a-fA-F]{1,4}){1,2}|([0-9a-fA-F]{1,4}:){1,4}(:[0-9a-fA-F]{1,4}){1,3}|([0-9a-fA-F]{1,4}:){1,3}(:[0-9a-fA-F]{1,4}){1,4}|([0-9a-fA-F]{1,4}:){1,2}(:[0-9a-fA-F]{1,4}){1,5}|[0-9a-fA-F]{1,4}:((:[0-9a-fA-F]{1,4}){1,6})|:((:[0-9a-fA-F]{1,4}){1,7}|:)|fe80:(:[0-9a-fA-F]{0,4}){0,4}%[0-9a-zA-Z]{1,}|::(ffff(:0{1,4}){0,1}:){0,1}((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]).){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9])|([0-9a-fA-F]{1,4}:){1,4}:((25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]).){3,3}(25[0-5]|(2[0-4]|1{0,1}[0-9]){0,1}[0-9]))$"
    },
    "IpAddress": {
      "type": "object",
      "description": "IPv4, IPv6 or dual stack IP address",
      "properties": {
        "ipv4": {
          "$ref": "#/definitions/Ipv4Address"
        },
        "ipv6": {
          "$ref": "#/definitions/Ipv6Address"
        }
      }
    },
    "TraceProbability": {
      "type": "number",
      "description": "Probability (0.0-1.0) of tracing an event",
      "minimum": 0.0,
      "maximum": 1.0
    },
    "Fqdn": {
      "type": "string",
      "description": "Fully qualified domain name"
    },
    "TagsObject": {
      "type": "object",
      "properties": {
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource tags."
        }
      },
      "description": "Tags object for patch operations."
    },
    "TrackingAreaCode": {
      "type": "integer",
      "maximum": 16777215,
      "description": "Tracking Area Code"
    },
    "TrackingAreaIdentifier": {
      "type": "object",
      "description": "Tracking Area Identifier",
      "properties": {
        "plmnId": {
          "$ref": "#/definitions/PlmnId"
        },
        "trackingAreaCode": {
          "$ref": "#/definitions/TrackingAreaCode"
        }
      }
    },
    "PlmnId": {
      "type": "object",
      "description": "Public Land Mobile Network ID",
      "properties": {
        "mobileCountryCode": {
          "description": "Mobile Country Code",
          "type": "string",
          "pattern": "^[0-9]{3}$"
        },
        "mobileNetworkCode": {
          "description": "Mobile Network Code",
          "type": "string",
          "pattern": "^[0-9]{2,3}$"
        }
      },
      "required": [
        "mobileCountryCode",
        "mobileNetworkCode"
      ]
    },
    "DataNetworkName": {
      "type": "string",
      "pattern": "([a-zA-Z0-9]([a-zA-Z0-9-._]){0,63})",
      "description": "Data network name as per TS 23.003.  Equivalent to APN"
    },
    "Dnai": {
      "type": "object",
      "description": "Data Network Access Identifier definition",
      "properties": {
        "name": {
          "type": "string",
          "pattern": "([a-zA-Z]([a-zA-Z0-9-._]){0,63})",
          "description": "Data Network Access Identifier name. This name must be unique."
        }
      },
      "required": [
        "name"
      ]
    },
    "Snssai": {
      "type": "object",
      "description": "Single Network Slice Selection Assistance Information",
      "properties": {
        "sliceServiceType": {
          "type": "string",
          "readOnly": false,
          "enum": [
            "Embb",
            "Mmtc",
            "Urllc"
          ],
          "x-ms-enum": {
            "name": "sliceServiceType",
            "modelAsString": true
          },
          "description": "Slice service type.  Embb: enhanced mobile broadband.  Mmtc: massive machine type communications.  Urllc: ultra reliable low latency communications"
        },
        "sliceDifferentiator": {
          "type": "string",
          "description": "Slice differentiator. Format is 3 octets specified in 2 digit hexadecimal format",
          "pattern": "([A-Fa-f0-9]{6})"
        }
      },
      "required": [
        "sliceServiceType",
        "sliceDifferentiator"
      ]
    },
    "NetworkContextUsage": {
      "type": "array",
      "description": "Usage of the network context for specific interface types.  If specified, the interfaces' IP will be allocated from a pool within the specified network context",
      "items": {
        "type": "string",
        "enum": [
          "N3",
          "N4",
          "N6",
          "N9"
        ],
        "x-ms-enum": {
          "name": "NetworkContextUsageItem",
          "modelAsString": true
        }
      }
    },
    "IpLoopbackScope": {
      "type": "string",
      "description": "Scope of loopback interface",
      "enum": [
        "Pod",
        "Global",
        "Dynamic"
      ],
      "x-ms-enum": {
        "name": "Ipv6LoopbackScope",
        "modelAsString": true
      }
    },
    "IpPoolType": {
      "type": "string",
      "description": "Type of the IP pool",
      "enum": [
        "NAT",
        "UE"
      ],
      "x-ms-enum": {
        "name": "PoolType",
        "modelAsString": true
      }
    },
    "Initiator": {
      "type": "string",
      "enum": [
        "UE",
        "Network",
        "Both"
      ],
      "x-ms-enum": {
        "name": "Initiator",
        "modelAsString": true
      },
      "description": "match against ue or network traffic",
      "default": "Both"
    },
    "IpPoolCommon": {
      "type": "object",
      "description": "Common attributes for IP Pool provisioning",
      "properties": {
        "poolType": {
          "$ref": "#/definitions/IpPoolType"
        },
        "name": {
          "type": "string",
          "description": "Unique name identifying this IP Pool (referenced by other resources such as the packet detection rule).  Warning!!! This name must be unique across all network contexts"
        },
        "tag": {
          "type": "string",
          "description": "Optional tag to be used to identify the cluster pool from which this pool is allocated.  If specified, only pools provisioned with the same tag value can be used to populate this IP Pool when the network function is deployed.  If not specified any untagged pool can be used"
        },
        "dataNetworkList": {
          "type": "array",
          "description": "Optional list of data networks which can use this IP pool.  If not specified this pool can be used by any DNN in the same network context.  Applicable to pools of type UE",
          "items": {
            "$ref": "#/definitions/ReferencedResource"
          }
        },
        "routeSummaryPrefixLength": {
          "type": "integer",
          "maximum": 128,
          "description": "Route summary prefix length of this IP pool.  Max 32 or 128 depending on IP version"
        },
        "advertise": {
          "type": "boolean",
          "default": true,
          "description": "Advertise reachability of this UE IP Pool over dynamic routing.  Default is true"
        },
        "layer3AffinityModeChunkSize": {
          "type": "integer",
          "format": "int64",
          "minimum": 1,
          "maximum": 4294967295,
          "default": 8192,
          "description": "Size of the UE IP pool chunks that will be used in resource blocks for Layer 3 Affinity mode - for resource management with multiple packet processing engine instances. Only applicable to pools of type UE"
        },
        "nat": {
          "type": "object",
          "description": "Network Address Translation parameters",
          "properties": {
            "maxPortsPerSession": {
              "type": "integer",
              "description": "Number of ports allowed per UE. Default 0 implies unlimited ports per UE.",
              "minimum": 0,
              "maximum": 64511,
              "default": 0
            },
            "layer3AffinityModeIpsPerPacketProcessingEngine": {
              "type": "integer",
              "format": "int64",
              "description": "Number of IPs per packet processing engine to be allocated",
              "minimum": 1,
              "maximum": 4294967295,
              "default": 1
            }
          }
        }
      },
      "required": [
        "name",
        "routeSummaryPrefixLength"
      ]
    },
    "IpInterfacesCommon": {
      "type": "object",
      "description": "Common attributes for IP Interface provisioning",
      "properties": {
        "vlanId": {
          "type": "integer",
          "description": "The VLAN Identifier for this interface. The acceptable range is [0, 4094] and the value must be unique across all Network Contexts. The default VLAN-ID is 0, which is used to specifies an untagged interface.",
          "minimum": 0,
          "maximum": 4094,
          "default": 0
        },
        "interfaceLabel": {
          "type": "string",
          "description": "Optionally specify a label to identify the h/w interface where this subinterface will be created.",
          "default": ""
        },
        "ipMtu": {
          "type": "integer",
          "description": "Optionally set the Layer 3 MTU of the sub-interface - range [1280, 9216] - default is 1500.  Received packets larger than this value will be dropped. Transmitted packets will be fragmented to stay below this value. The setting applies to both IPv4 and IPv6 packets.",
          "minimum": 1280,
          "maximum": 9216,
          "default": 1500
        },
        "subnetSharing": {
          "$ref": "#/definitions/EnableDisable",
          "description": "Enables or disables shared subnet"
        }
      }
    },
    "IpLoopbackCommon": {
      "type": "object",
      "description": "Common attributes for IP Loopback provisioning",
      "properties": {
        "scope": {
          "$ref": "#/definitions/IpLoopbackScope"
        },
        "loopbacksPerPod": {
          "type": "integer",
          "description": "Number of loopback interfaces assigned to a ppe when the scope is type pod",
          "minimum": 1,
          "maximum": 128,
          "default": 1
        },
        "usage": {
          "type": "array",
          "description": "Purpose of loopback",
          "items": {
            "$ref": "#/definitions/LoopbackUsage"
          }
        }
      }
    },
    "OperationalTaskType": {
      "type": "string",
      "description": "Task type",
      "enum": [
        "LifecycleManagement",
        "ConfigurationManagement"
      ],
      "x-ms-enum": {
        "name": "OperationalTaskType",
        "modelAsString": true
      }
    }
  },
  "parameters": {
    "MobilePacketCoreNameParameter": {
      "name": "mobilePacketCoreName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Mobile packet core name",
      "x-ms-parameter-location": "client"
    },
    "NfviNameParameter": {
      "name": "nfviName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "NFVI name",
      "x-ms-parameter-location": "client"
    },
    "ServiceAreaNameParameter": {
      "name": "serviceAreaName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the service area.",
      "x-ms-parameter-location": "client"
    },
    "ClusterNameParameter": {
      "name": "clusterName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Cluster name",
      "x-ms-parameter-location": "client"
    }
  }
}
