{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Configuration Snapshot resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/configSnapshots/{configSnapshotName}": {
      "put": {
        "tags": [
          "ConfigSnapshots"
        ],
        "operationId": "ConfigSnapshots_Create",
        "description": "Creates a Mobile Packet Core Configuration Snapshot resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "configSnapshotName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the configSnapshot object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigSnapshot"
            },
            "description": "Parameters supplied to create or update a configuration snapshot object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core config snapshot resource.",
            "schema": {
              "$ref": "#/definitions/ConfigSnapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ConfigSnapshot": {
            "$ref": "./examples/ConfigSnapshotCreate.json"
          }
        }
      },
      "delete": {
        "tags": [
          "ConfigSnapshots"
        ],
        "operationId": "ConfigSnapshots_Delete",
        "description": "Deletes the specified Mobile Packet Core Configuration Snapshot resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "configSnapshotName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the config snapshot object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The config snapshot object has been deleted"
          },
          "204": {
            "description": "Successful: The config snapshot object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete ConfigSnapshot": {
            "$ref": "./examples/ConfigSnapshotDelete.json"
          }
        }
      },
      "get": {
        "tags": [
          "ConfigSnapshots"
        ],
        "operationId": "ConfigSnapshots_Get",
        "description": "Get information about the specified Mobile Packet Core Configuration Snapshot resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "configSnapshotName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the configSnapshot object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Configuration Snapshot resource.",
            "schema": {
              "$ref": "#/definitions/ConfigSnapshot"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get ConfigSnapshot": {
            "$ref": "./examples/ConfigSnapshotGet.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/configSnapshots": {
      "get": {
        "tags": [
          "ConfigSnapshots"
        ],
        "operationId": "ConfigSnapshots_ListByMobilePacketCore",
        "description": "Lists all the Configuration Snapshots in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/ConfigSnapshotListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List ConfigSnapshots by mobile packet core instance": {
            "$ref": "./examples/ConfigSnapshotListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/configSnapshots/{configSnapshotName}/compare": {
      "post": {
        "tags": [
          "ConfigSnapshots"
        ],
        "summary": "Compare specific resources against the latest or another snapshot.",
        "operationId": "ConfigSnapshots_Compare",
        "x-ms-examples": {
          "ConfigSnapshotAction_Compare": {
            "$ref": "./examples/ConfigSnapshotAction_Compare.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "configSnapshotName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the configSnapshot object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigSnapshotCompareRequest"
            },
            "description": "Parameters supplied to the compare action."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "$ref": "#/definitions/ConfigSnapshotCompareResponse"
            }
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/configSnapshots/{configSnapshotName}/getSummaryOfChanges": {
      "post": {
        "tags": [
          "ConfigSnapshots"
        ],
        "summary": "List resources that are different between the latest or another snapshot.",
        "operationId": "ConfigSnapshots_GetSummaryOfChanges",
        "x-ms-examples": {
          "ConfigSnapshotAction_Summary": {
            "$ref": "./examples/ConfigSnapshotAction_GetSummaryOfChanges.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "configSnapshotName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the config snapshot object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConfigSnapshotSummaryRequest"
            },
            "description": "Parameters supplied to the summary action."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "$ref": "#/definitions/ConfigSnapshotSummaryResponse"
            }
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/configSnapshots/{configSnapshotName}/getManifest": {
      "post": {
        "tags": [
          "ConfigSnapshots"
        ],
        "summary": "List resources present in this snapshot.",
        "operationId": "ConfigSnapshots_GetManifest",
        "x-ms-examples": {
          "ConfigSnapshotAction_Summary": {
            "$ref": "./examples/ConfigSnapshotAction_GetManifest.json"
          }
        },
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "configSnapshotName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the configSnapshot object."
          }
        ],
        "responses": {
          "200": {
            "description": "Ok.",
            "schema": {
              "$ref": "#/definitions/ConfigSnapshotManifestResponse"
            }
          },
          "202": {
            "description": "Accepted. The header contains 'Azure-AsyncOperation' header which can be used to monitor the progress of the operation."
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "SummaryOfResources": {
      "readOnly": true,
      "type": "array",
      "description": "List of objects that are present or have changed (added/delete/modified)",
      "items": {
        "type": "object",
        "properties": {
          "resourceId": {
            "$ref": "./common.json#/definitions/ReferencedResource",
            "description": "The reference to the changed object"
          },
          "action": {
            "description": "The action applied to the object.  Used when getting change lists.  Not used in the manifest response",
            "type": "string",
            "enum": [
              "Create",
              "Update",
              "Delete"
            ],
            "x-ms-enum": {
              "name": "SummaryChangeAction",
              "modelAsString": true
            }
          }
        }
      }
    },
    "ConfigSnapshotProperties": {
      "type": "object",
      "description": "The Configuration Snapshot resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "userDescription": {
          "type": "string",
          "description": "User-supplied description of this snapshot"
        },
        "activationState": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "Active",
            "InProgress",
            "RollingBack",
            "Failed",
            "InactiveNeverActivated",
            "InactivePreviouslyActivated",
            "InactivePreviouslyPartiallyActivated"
          ],
          "x-ms-enum": {
            "name": "ActivationState",
            "modelAsString": true
          },
          "description": "Current activation state of the configuration snapshot"
        },
        "summaryOfChanges": {
          "$ref": "#/definitions/SummaryOfResources",
          "description": "List of objects that have changed (added/delete/modified) from the previous snapshot"
        },
        "details": {
          "readOnly": true,
          "type": "string",
          "description": "Specific details associated with this snapshot"
        },
        "userIdentity": {
          "readOnly": true,
          "description": "Identity of user that created the snapshot",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "date-time",
          "description": "Timestamp (UTC) when snapshot was created"
        }
      }
    },
    "ConfigSnapshot": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ConfigSnapshotProperties",
          "description": "Mobile Packet Core Configuration Snapshot properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Configuration Snapshot resource."
    },
    "ConfigSnapshotListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ConfigSnapshot"
          },
          "description": "A list of Mobile Packet Core Configuration Snapshot objects in a mobile packet core instance."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Configuration Snapshot API service call."
    },
    "ConfigSnapshotCompareRequest": {
      "type": "object",
      "properties": {
        "resourceId": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "The reference to the changed object"
        },
        "otherSnapshot": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "Optional.  If specified, the other snapshot to compare against.  If not present, latest"
        }
      },
      "required": [
        "resourceId"
      ],
      "description": "Request to compare a resource in the current snapshot to the latest or the version present in another snapshot"
    },
    "ConfigSnapshotSummaryRequest": {
      "type": "object",
      "properties": {
        "otherSnapshot": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "Optional.  If specified, the other snapshot to compare against.  If not present, latest"
        }
      },
      "description": "Request to list resources in the current snapshot that differ from the latest or the versions present in another snapshot"
    },
    "ConfigSnapshotCompareResponse": {
      "type": "object",
      "properties": {
        "details": {
          "type": "string",
          "description": "Details of the difference between the two instances of the resource"
        }
      },
      "description": "Response to a request to compare a resource in the current snapshot to the latest or the version present in another snapshot"
    },
    "ConfigSnapshotSummaryResponse": {
      "type": "object",
      "properties": {
        "summaryOfChanges": {
          "$ref": "#/definitions/SummaryOfResources",
          "description": "List of objects that are different (added/delete/modified) in this snapshot"
        }
      },
      "description": "Response to a request to list resources in the current snapshot that differ from the latest or the versions present in another snapshot"
    },
    "ConfigSnapshotManifestResponse": {
      "type": "object",
      "properties": {
        "resourceList": {
          "$ref": "#/definitions/SummaryOfResources",
          "description": "List of objects that are present in this snapshot"
        }
      },
      "description": "Response to a request to list resources in the current snapshot"
    }
  }
}
