{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Data Network Name ( DNN ) resource.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/dataNetworks/{dataNetworkName}": {
      "put": {
        "tags": [
          "DataNetworks"
        ],
        "operationId": "DataNetworks_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Data Network Name resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the DataNetwork object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            },
            "description": "Parameters supplied to create or update a Data Network object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core Data Network resource.",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create DataNetwork": {
            "$ref": "./examples/DataNetworkCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "DataNetworks"
        ],
        "operationId": "DataNetworks_Get",
        "description": "Get information about the specified Mobile Packet Core Data Network Name resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the DataNetwork object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Data Network resource.",
            "schema": {
              "$ref": "#/definitions/DataNetwork"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get DataNetwork": {
            "$ref": "./examples/DataNetworkGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DataNetworks"
        ],
        "operationId": "DataNetworks_Delete",
        "description": "Deletes the specified Mobile Packet Core Data Network Name resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "dataNetworkName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the DataNetwork object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The Data Network has been deleted"
          },
          "204": {
            "description": "Successful: The Data Network does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete DataNetwork": {
            "$ref": "./examples/DataNetworkDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/dataNetworks": {
      "get": {
        "tags": [
          "DataNetworks"
        ],
        "operationId": "DataNetworks_ListByMobilePacketCore",
        "description": "Lists all the Data Network Name instances in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/DataNetworkListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List DataNetworks by mobile packet core instance": {
            "$ref": "./examples/DataNetworkListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "DataNetworkProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the Data Network resource."
        },
        "name": {
          "$ref": "./common.json#/definitions/DataNetworkName",
          "description": "Data Network Name.  This is equivalent to the Access Point Name"
        },
        "networkContext": {
          "$ref": "./common.json#/definitions/NetworkContextName",
          "description": "Network-Context to be associated with the Data Network - UPF"
        },
        "pduSessionType": {
          "$ref": "./common.json#/definitions/PduType",
          "description": "Type of UE-IP address supported for this Data Network - UPF"
        },
        "allowedSelectionMode": {
          "type": "string",
          "description": "Policy to authorize dataNetwork selection mode during session setup - SMF",
          "enum": [
            "NonSubscribedDataNetworkAllowed",
            "NonSubscribedDataNetworkBlocked"
          ],
          "x-ms-enum": {
            "name": "AllowedSelectionMode",
            "modelAsString": true
          },
          "default": "NonSubscribedDataNetworkAllowed"
        },
        "restriction": {
          "type": "integer",
          "description": "Restriction value that determines whether subscriber can establish bearers with other Data Networks. Value ranges from 0-4, zero being least restrictive - SMF",
          "minimum": 0,
          "maximum": 4,
          "default": 0
        },
        "dnsServerIpv4AddressPrimary": {
          "$ref": "./common.json#/definitions/Ipv4Address",
          "description": "primary dns server IP V4 Address - SMF"
        },
        "dnsIpv4AddressSecondary": {
          "$ref": "./common.json#/definitions/Ipv4Address",
          "description": "secondary dns server IP V4 Address - SMF"
        },
        "dnsServerIpv6AddressPrimary": {
          "$ref": "./common.json#/definitions/Ipv6Address",
          "description": "primary dns server IP V6 Address - SMF"
        },
        "dnsServerIpv6AddressSecondary": {
          "$ref": "./common.json#/definitions/Ipv6Address",
          "description": "secondary dns server IP V6 Address - SMF"
        },
        "protocolConfigurationOptionIpv4LinkMtuSize": {
          "type": "integer",
          "description": "MTU Size for a Non-Roaming PDU Session to be sent in the PCO IE - SMF",
          "minimum": 576,
          "maximum": 9216,
          "default": 1430
        },
        "protocolConfigurationOptionIpv4LinkMtuSizeRoaming": {
          "type": "integer",
          "description": "MTU Size for a Roaming PDU Session to be sent in the PCO IE - SMF",
          "minimum": 576,
          "maximum": 1800,
          "default": 1430
        },
        "isEmergencyDataNetwork": {
          "type": "boolean",
          "default": false,
          "description": "Indicates if the Data Network is an emergency Data Network - SMF, AMF"
        },
        "emergencySessionInactivityTimerDuration": {
          "type": "integer",
          "description": "session inactivity timer duration in seconds for emergency session. Session will be deleted upon expiry - SMF",
          "minimum": 5,
          "maximum": 600,
          "default": 30
        },
        "pCscfList": {
          "type": "object",
          "description": "List of P-CSCF addresses - SMF",
          "properties": {
            "ipv4Addresses": {
              "type": "array",
              "maxItems": 128,
              "items": {
                "type": "object",
                "properties": {
                  "primary": {
                    "$ref": "./common.json#/definitions/Ipv4Address",
                    "description": "Primary P-CSCF server IP V4 Address"
                  },
                  "secondary": {
                    "$ref": "./common.json#/definitions/Ipv4Address",
                    "description": "Secondary P-CSCF server IP V4 Address"
                  },
                  "tertiary": {
                    "$ref": "./common.json#/definitions/Ipv4Address",
                    "description": "Tertiary P-CSCF server IP V4 Address"
                  },
                  "weight": {
                    "type": "integer",
                    "description": "weight allocated for this set",
                    "minimum": 0,
                    "maximum": 100,
                    "default": 1
                  }
                }
              },
              "description": "A list of IPv4 addresses of pcscf servers."
            },
            "ipv6Addresses": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "primary": {
                    "$ref": "./common.json#/definitions/Ipv6Address",
                    "description": "Primary P-CSCF server IP V6 Address"
                  },
                  "secondary": {
                    "$ref": "./common.json#/definitions/Ipv6Address",
                    "description": "Secondary P-CSCF server IP V6 Address"
                  },
                  "tertiary": {
                    "$ref": "./common.json#/definitions/Ipv6Address",
                    "description": "Tertiary P-CSCF server IP V6 Address"
                  },
                  "weight": {
                    "type": "integer",
                    "description": "weight allocated for this set",
                    "minimum": 0,
                    "maximum": 100,
                    "default": 1
                  }
                }
              },
              "description": "A list of IPv6 addresses of pcscf servers."
            }
          }
        }
      },
      "description": "The Mobile Packet Core Data Network resource definition."
    },
    "DataNetwork": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DataNetworkProperties",
          "description": "Mobile Packet Core Data Network properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Data Network resource."
    },
    "DataNetworkListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataNetwork"
          },
          "description": "A list of Mobile Packet Core Data Network objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Data Network API service call."
    }
  }
}
