{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Deep Packet Inspection ( DPI ) resource.",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/deepPacketInspections/{deepPacketInspectionName}": {
      "put": {
        "tags": [
          "DeepPacketInspections"
        ],
        "operationId": "DeepPacketInspections_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Deep Packet Inspection resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "deepPacketInspectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deepPacketInspection object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeepPacketInspection"
            },
            "description": "Parameters supplied to create or update a Deep Packet Inspection object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core Deep Packet Inspection resource.",
            "schema": {
              "$ref": "#/definitions/DeepPacketInspection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create deepPacketInspection": {
            "$ref": "./examples/DeepPacketInspectionCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "DeepPacketInspections"
        ],
        "operationId": "DeepPacketInspections_Get",
        "description": "Get information about the specified Mobile Packet Core Deep Packet Inspection resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "deepPacketInspectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deepPacketInspection object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Deep Packet Inspection resource.",
            "schema": {
              "$ref": "#/definitions/DeepPacketInspection"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get deepPacketInspection": {
            "$ref": "./examples/DeepPacketInspectionGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "DeepPacketInspections"
        ],
        "operationId": "DeepPacketInspections_Delete",
        "description": "Deletes the specified Mobile Packet Core Deep Packet Inspection resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "deepPacketInspectionName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the deepPacketInspection object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The deep packet inspection object has been deleted"
          },
          "204": {
            "description": "Successful: The deep packet inspection object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete deepPacketInspection": {
            "$ref": "./examples/DeepPacketInspectionDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/deepPacketInspections": {
      "get": {
        "tags": [
          "DeepPacketInspections"
        ],
        "operationId": "DeepPacketInspections_ListByMobilePacketCore",
        "description": "Lists all the Deep Packet Inspection instances in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/DeepPacketInspectionListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Deep Packet Inspection instances by mobile packet core instance": {
            "$ref": "./examples/DeepPacketInspectionListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "DeepPacketInspectionProperties": {
      "type": "object",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "tetheringQualityIndexValue": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 70,
          "description": "Percentage value for Quality Index (Confidence Index ) to mark connection as tethered 1..100"
        },
        "tetheringQualityIndexResultWeightPercentageTtl": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 80,
          "description": "Percentage value for Quality Index (Confidence Index ) weight for ttl method"
        },
        "tetheringQualityIndexResultWeightPercentageUserAgent": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 99,
          "description": "Percentage value for Quality Index (Confidence Index ) weight for user-agent method"
        },
        "tetheringQualityIndexResultWeightPercentageTcpFingerprinting": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 100,
          "description": "Percentage value for Quality Index (Confidence Index ) weight for tcp-fingerprinting"
        },
        "tetheringQualityIndexResultWeightPercentageGoogleQuicUserAgent": {
          "type": "integer",
          "minimum": 0,
          "maximum": 100,
          "default": 100,
          "description": "Percentage value for Quality Index (Confidence Index ) weight for google quic user agent"
        },
        "tetheringDetectionAlgorithmTtl": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Admin state for running tethering detection algorithm using ttl"
        },
        "tetheringDetectionAlgorithmUserAgent": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Admin state for running tethering detection algorithm using user-agent"
        },
        "tetheringDetectionAlgorithmTcpFingerprinting": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Admin state for running tethering detection algorithm using tcp fingerprinting - Changes to this object do not take effect until the next POD restart"
        },
        "tetheringDetectionAlgorithmGoogleQuicUserAgent": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Admin state for running tethering detection algorithm using google quic useragent - Changes to this object do not take effect until the next POD restart"
        },
        "tetheringDetectionAlgorithmTtlConnectionTracking": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Admin state for running tethering detection algorithm using ttl by taking connection tracking into consideration"
        },
        "tetheringDetectionAlgorithmTetheringDetectionConfidenceIndex": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Admin state for running tethering detection algorithm using the tethering detection confidence index"
        },
        "tetheringDetectionTetheringDetectionConfidenceIndexWeightTtl": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 100,
          "description": "Tethering Detection Confidence Index weight in percentage for ttl method"
        },
        "tetheringDetectionTetheringDetectionConfidenceIndexWeightUserAgent": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 0,
          "description": "Tethering Detection Confidence Index weight in percentage for user-agent method"
        },
        "tetheringDetectionTetheringDetectionConfidenceIndexWeightTcpFingerprinting": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 70,
          "description": "Tethering Detection Confidence Index weight in percentage for tcp-fingerprinting"
        },
        "tetheringDetectionTetheringDetectionConfidenceIndexWeightGoogleQuicUserAgent": {
          "type": "integer",
          "minimum": 0,
          "maximum": 200,
          "default": 100,
          "description": "Tethering Detection Confidence Index weight in percentage for Google Quick UDP Internet Connections user agent"
        },
        "attributeDetectionPacketLimit": {
          "type": "integer",
          "minimum": 0,
          "maximum": 2147483647,
          "default": 50,
          "description": "The maximum number of packets to detect flow-attribute of a dpi flow"
        },
        "attributeDetectionOnlyFirstFlowAttribute": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Consider only first attribute of a flow for rule match"
        },
        "controlAppsSkipAttributeCheck": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Admin state to enable/disable attribute check for marking control connections in Control Flow Feature"
        },
        "optimizeDeepPacketInspectionRules": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Evaluate required rules based on reclassification event trigger"
        },
        "optimizeProtocolApplicationRuleGroupRules": {
          "$ref": "./common.json#/definitions/EnableDisable",
          "description": "Evaluate protocol and application rule group rules configured may match to classification event"
        },
        "tetheringDetectionPacketLimit": {
          "type": "integer",
          "minimum": 3,
          "maximum": 2147483647,
          "default": 64,
          "description": "The maximum number of packets of a flow to be analysed for tethering detection, default is 64. The minimum value that can be configured is 3"
        },
        "deepPacketInspectionPacketCountWithProxy": {
          "type": "integer",
          "minimum": 0,
          "maximum": 2147483647,
          "default": 50,
          "description": "Set the max packet count for dpi processing when proxy is enabled,0 is for all packets"
        }
      },
      "description": "The Mobile Packet Core Deep Packet Inspection resource definition."
    },
    "DeepPacketInspection": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/DeepPacketInspectionProperties",
          "description": "Mobile Packet Core Deep Packet Inspection properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Deep Packet Inspection resource."
    },
    "DeepPacketInspectionListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeepPacketInspection"
          },
          "description": "A list of Mobile Packet Core Deep Packet Inspection objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Deep Packet Inspection API service call."
    }
  }
}
