{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Network Slice resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/networkSlices/{networkSliceName}": {
      "put": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core network slice",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "networkSliceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network slice object."
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            },
            "description": "Parameters supplied to create or update a Network Slice object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core Network Slice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Network Slice": {
            "$ref": "./examples/NetworkSliceCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_Get",
        "description": "Get information about the specified Mobile Packet Core network slice",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "networkSliceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network slice object."
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core Network Slice resource.",
            "schema": {
              "$ref": "#/definitions/NetworkSlice"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Network Slice": {
            "$ref": "./examples/NetworkSliceGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_Delete",
        "description": "Deletes the specified Mobile Packet Core network slice`.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "name": "networkSliceName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the network slice object."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The network slice object has been deleted"
          },
          "204": {
            "description": "Successful: The network slice object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Network Slice": {
            "$ref": "./examples/NetworkSliceDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/networkSlices": {
      "get": {
        "tags": [
          "NetworkSlices"
        ],
        "operationId": "NetworkSlices_ListByMobilePacketCore",
        "description": "Lists all the network slices in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NetworkSliceListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Network Slices by resource group": {
            "$ref": "./examples/NetworkSliceListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "CoreNetworkSliceIdentifier": {
      "type": "string",
      "description": "Defined in TS 29.531, only for Core Network"
    },
    "PlmnInfo": {
      "type": "object",
      "description": "PLMN and S-NSSAI information",
      "properties": {
        "plmnId": {
          "$ref": "./common.json#/definitions/PlmnId"
        },
        "snssai": {
          "$ref": "./common.json#/definitions/Snssai"
        }
      }
    },
    "PlmnInfoList": {
      "type": "array",
      "description": "List of PLMNIDs and S-NSSAIs",
      "items": {
        "$ref": "#/definitions/PlmnInfo"
      }
    },
    "NetworkSliceProperties": {
      "type": "object",
      "description": "The Network Slice resource definition.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "sliceProfile": {
          "type": "object",
          "description": "Network slice profile - based on TS 28.541",
          "properties": {
            "serviceProfileId": {
              "type": "string",
              "description": "ID of the service profile to which this slice belongs"
            },
            "plmnInfoList": {
              "$ref": "#/definitions/PlmnInfoList",
              "description": "It defines which PLMN and S-NSSAI combinations that are served by the SliceProfile in case of network slicing feature is supported.  This is the default set used if not specified at the slice subnet level.  See TS 28.541."
            },
            "dataNetworkList": {
              "type": "array",
              "items": {
                "$ref": "./common.json#/definitions/ReferencedResource"
              },
              "description": "A list of Data Networks supported by the slice."
            },
            "coreNetworkSliceSubnetProfileList": {
              "type": "array",
              "description": "List of slice subnets associated with this network slice",
              "items": {
                "type": "object",
                "properties": {
                  "distinguishedName": {
                    "$ref": "./common.json#/definitions/DistinguishedName",
                    "description": "A Distinguished Name (DN) is used to uniquely identify a Managed Object (MO) within a name space.  This is referenced by the network functions that participate in this slice"
                  },
                  "maxNumberOfUes": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0,
                    "description": "An attribute specifies the maximum number of UEs may simultaneously access the network slice or network slice subnet instance.  See TS 28.541"
                  },
                  "maxNumberOfPduSessions": {
                    "type": "integer",
                    "format": "int64",
                    "minimum": 0,
                    "description": "This parameter defines the maximum number of concurrent PDU sessions supported by the network slice.  See TS 28.541"
                  },
                  "plmnInfoList": {
                    "$ref": "#/definitions/PlmnInfoList",
                    "description": "List of PLMNIDs and S-NSSAI values associated to this slice subnet.  This overrides the default slice level configuration.  If not specified, the default is used for this slice subnet.  See TS 28.541"
                  },
                  "coreNetworkSliceIdentifier": {
                    "$ref": "#/definitions/CoreNetworkSliceIdentifier",
                    "description": "Core Network Network Slice Identifier for this slice subnet - NSSF"
                  },
                  "coverageAreaTrackingAreaList": {
                    "type": "array",
                    "description": "An attribute specifies a list of Tracking Areas for the network slice.  See TS 28.541",
                    "items": {
                      "type": "object",
                      "properties": {
                        "serviceArea": {
                          "$ref": "./common.json#/definitions/ReferencedResource",
                          "description": "The reference to the service area which is part of this slice.  The service area defines the set of tracking areas applicable to this slice subnet"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "NetworkSlice": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NetworkSliceProperties",
          "description": "Mobile Packet Core network slice properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core Network Slice resource."
    },
    "NetworkSliceListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/NetworkSlice"
          },
          "description": "A list of Mobile Packet Core Network Slice objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core Network Slice API service call."
    }
  }
}
