{
  "swagger": "2.0",
  "info": {
    "title": "MobilePacketCoreManagementClient",
    "description": "The definitions in this swagger specification will be used for Mobile Packet Core Network Function Virtualization Infrastructure resource",
    "version": "2023-04-15-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis/{nfviName}": {
      "put": {
        "tags": [
          "Nfvis"
        ],
        "operationId": "Nfvis_CreateOrUpdate",
        "description": "Creates or updates a Mobile Packet Core Network Function Virtualization Infrastructure resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          },
          {
            "name": "parameters",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Nfvi"
            },
            "description": "Parameters supplied to create or update a NFVI object"
          }
        ],
        "responses": {
          "200": {
            "description": "Creates/Updates the Mobile Packet Core NFVI resource.",
            "schema": {
              "$ref": "#/definitions/Nfvi"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Create Nfvi": {
            "$ref": "./examples/NfviCreate.json"
          }
        }
      },
      "get": {
        "tags": [
          "Nfvis"
        ],
        "operationId": "Nfvis_Get",
        "description": "Get information about the specified Mobile Packet Core Network Function Virtualization Infrastructure resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the Mobile Packet Core NFVI resource.",
            "schema": {
              "$ref": "#/definitions/Nfvi"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Get Nfvi": {
            "$ref": "./examples/NfviGet.json"
          }
        }
      },
      "delete": {
        "tags": [
          "Nfvis"
        ],
        "operationId": "Nfvis_Delete",
        "description": "Deletes the specified Mobile Packet Core Network Function Virtualization Infrastructure resource",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          },
          {
            "$ref": "./common.json#/parameters/NfviNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful: The NFVI object has been deleted"
          },
          "204": {
            "description": "Successful: The NFVI object does not exist"
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "Delete Nfvi": {
            "$ref": "./examples/NfviDelete.json"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MobilePacketCore/mobilePacketCores/{mobilePacketCoreName}/nfvis": {
      "get": {
        "tags": [
          "Nfvis"
        ],
        "operationId": "Nfvis_ListByMobilePacketCore",
        "description": "Lists all the Network Function Virtualization Infrastructure instances in a mobile packet core instance.",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "./common.json#/parameters/MobilePacketCoreNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Request is successful. The operation returns a list of component resources.",
            "schema": {
              "$ref": "#/definitions/NfviListResult"
            }
          },
          "default": {
            "description": "Error response describing why the operation failed.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-examples": {
          "List Nfvis by resource group": {
            "$ref": "./examples/NfviListByMobilePacketCore.json"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "NfviTypeSpecificData": {
      "type": "object",
      "description": "Mobile Packet Core NFVI properties.",
      "discriminator": "type",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "AzureCore",
            "AzureOperatorNexus"
          ],
          "x-ms-enum": {
            "name": "NfviType",
            "modelAsString": true
          },
          "description": "Type of NFVI",
          "x-ms-mutability": [
            "create",
            "read"
          ]
        }
      },
      "required": [
        "type"
      ]
    },
    "AzureOperatorNexusData": {
      "type": "object",
      "description": "Azure Operator Nexus NFVI properties.",
      "allOf": [
        {
          "$ref": "#/definitions/NfviTypeSpecificData"
        }
      ],
      "properties": {
        "customLocationReference": {
          "$ref": "./common.json#/definitions/ReferencedResource",
          "description": "Custom location if the type is AzureOperatorNexus"
        }
      },
      "x-ms-discriminator-value": "AzureOperatorNexus"
    },
    "AzureCoreData": {
      "type": "object",
      "description": "Azure Core NFVI properties.",
      "allOf": [
        {
          "$ref": "#/definitions/NfviTypeSpecificData"
        }
      ],
      "properties": {
        "location": {
          "type": "string",
          "description": "Location if type is AzureCore"
        }
      },
      "x-ms-discriminator-value": "AzureCore"
    },
    "NfviProperties": {
      "type": "object",
      "description": "Mobile Packet Core NFVI properties.",
      "properties": {
        "provisioningState": {
          "readOnly": true,
          "$ref": "./common.json#/definitions/ProvisioningState",
          "description": "The provisioning state of the resource."
        },
        "typeSpecificData": {
          "$ref": "#/definitions/NfviTypeSpecificData"
        },
        "deploymentAreaList": {
          "type": "array",
          "items": {
            "$ref": "./common.json#/definitions/ReferencedResource"
          },
          "description": "A list of deployment areas supported by this NFVI instance."
        },
        "safeDeploymentGroup": {
          "type": "string",
          "description": "Safe deployment grouping.  Network functions deployed on clusters/NFVIs with the same safe deployment grouping value are managed together"
        }
      }
    },
    "Nfvi": {
      "type": "object",
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/NfviProperties",
          "description": "Mobile Packet Core NFVI properties."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ProxyResource"
        }
      ],
      "required": [
        "properties"
      ],
      "description": "The Mobile Packet Core NFVI resource."
    },
    "NfviListResult": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Nfvi"
          },
          "description": "A list of Mobile Packet Core NFVI objects in a subscription or resource group."
        },
        "nextLink": {
          "type": "string",
          "readOnly": true,
          "description": "The URL to get the next set of results."
        }
      },
      "description": "Response for Mobile Packet Core NFVI API service call."
    }
  }
}
